<table class='table' >
<tr style="width: 30px; height: 90px">
    <td>Segunda</td>
    <td>Terça</td>
    <td>Quarta</td>
    <td>Quinta</td>
    <td>Sexta</td>
    <td>Sábado</td>
    <td>Domingo</td>
</tr>
<tr>
    <td>01</td>
    <td>02</td>
    <td>03</td>
    <td>04</td>
    <td>05</td>
    <td>06</td>
    <td>07</td>
</tr>
<tr>
    <td>01</td>
    <td>02</td>
    <td>03</td>
    <td>04</td>
    <td>05</td>
    <td>06</td>
    <td>07</td>
</tr>
<tr>
    <td>01</td>
    <td>02</td>
    <td>03</td>
    <td>04</td>
    <td>05</td>
    <td>06</td>
    <td>07</td>
</tr>

</table>