<div class="navbar">
    <div class="navbar-inner">
        <h6 class="title-accordion">
            <a class="click_acc" data-toggle="collapse" data-parent="#accordion" href="#collapse1">
                Creche e Maternal
            </a>
        </h6>
    </div>
</div>

<div id="collapse1" class="content-height panel-collapse collapse in">

    <?php
    $CardapioDoDia = Nutricaocardapiosrefeicao::getCardapioDoDiaHelper(Array('tipoensino' => 'CM'));

//    echo '<pre>';
//    print_r($CardapioDoDia);
//    echo '</pre>';
    ?>
    <div class="table-overflow">
        <table border="1" class="table" style="text-align: center;">
            <thead>
                <tr>
                    <th width="10%" style="text-align: center;"><span class="icon-calendar"></span></th>
                    <th width="18%" style="text-align: center;" id="1"></th>
                    <th width="18%" style="text-align: center;" id="2"></th>
                    <th width="18%" style="text-align: center;" id="3"></th>
                    <th width="18%" style="text-align: center;" id="4"></th>
                    <th width="18%" style="text-align: center;" id="5"></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>CAFÉ<br>MANHÃ</td>
                    <td><?php
                        if ($CardapioDoDia[0]['tiporefeicao'] === 'CMCAFE') {
                            echo $CardapioDoDia[0]['refeicao'];
                        }
                        ?></td>
                    <td></td>
                    <td><?php
                        if ($CardapioDoDia[0]['tiporefeicao'] === 'CMCAFE') {
                            echo $CardapioDoDia[0]['refeicao'];
                        }
                        ?></td>
                    <td></td>
                    <td><?php
                        if ($CardapioDoDia[0]['tiporefeicao'] === 'CMCAFE') {
                            echo $CardapioDoDia[0]['refeicao'];
                        }
                        ?></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>ALMOÇO</td>
                    <td></td>
                    <td><?php
                        if ($CardapioDoDia[7]['tiporefeicao'] === 'CMALMOCO') {
                            echo $CardapioDoDia[7]['refeicao'];
                        }
                        ?></td>
                    <td></td>
                    <td><?php
                        if ($CardapioDoDia[7]['tiporefeicao'] === 'CMALMOCO') {
                            echo $CardapioDoDia[7]['refeicao'];
                        }
                        ?></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>LANCHE</td>
                    <td><?php
                        if ($CardapioDoDia[0]['tiporefeicao'] === 'CMLANCHE') {
                            echo $CardapioDoDia[0]['refeicao'];
                        }
                        ?></td>
                    <td></td>
                    <td><?php
                        if ($CardapioDoDia[0]['tiporefeicao'] === 'CMLANCHE') {
                            echo $CardapioDoDia[0]['refeicao'];
                        }
                        ?></td>
                    <td></td>
                    <td><?php
                        if ($CardapioDoDia[0]['tiporefeicao'] === 'CMLANCHE') {
                            echo $CardapioDoDia[0]['refeicao'];
                        }
                        ?></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>JANTAR</td>
                    <td></td>
                    <td><?php
                        if ($CardapioDoDia[0]['tiporefeicao'] === 'CMJANTAR') {
                            echo $CardapioDoDia[0]['refeicao'];
                        }
                        ?></td>
                    <td></td>
                    <td><?php
                        if ($CardapioDoDia[0]['tiporefeicao'] === 'CMJANTAR') {
                            echo $CardapioDoDia[0]['refeicao'];
                        }
                        ?></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td>Totais:</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td colspan="6">
                        LEMBRETES.
                    </td>
                </tr>
            </tfoot>
        </table>

    </div>
</div>



<script type="text/javascript" src="<?php echo $this->baseUrl('/public/scripts/moment.min.js') ?>"></script>
<script>

$(document).ready(function() {

    getDiaSemana(1);
    getDiaSemana(2);
    getDiaSemana(3);
    getDiaSemana(4);
    getDiaSemana(5);
});

    function getDiaSemana(dia) {
        
        var dias = ["Domingo", "Segunda-Feira", "Terça-Feira", "Quarta-Feira", "Quinta-Feira", "Sexta-Feira", "Sábado"];

        var data = moment("2018/08/10").format("DD/MM/YYYY"); //Date()
        var arr = data.split("/").reverse();
        var hoje = new Date(arr[0], arr[1] - 1, arr[2]);
        var icon = "";

        if (dia === hoje.getDay()) {
            icon = "*";
        }
        
        $("#"+dia).html(icon+" "+dias[dia]+" "+icon+"<br>"+data);

   
    }

</script>