<div class="navbar">
    <div class="navbar-inner">
        <h6 class="title-accordion">
			<a class="click_acc" data-toggle="collapse" data-parent="#accordion" href="#collapse2">
				EMEI / EMEF
			</a>
        </h6>
    </div>
</div>

<div id="collapse2" class="content-height panel-collapse collapse in">

                    <div class="table-overflow">
                                        <table border="1" class="table" style="text-align: center;">
                                            <thead>
                                                <tr>
                                                    <th width="10%" style="text-align: center;">*</th>
                                                    <th width="18%" style="text-align: center;">Segunda</th>
                                                    <th width="18%" style="text-align: center;">Terça</th>
                                                    <th width="18%" style="text-align: center;">Quarta</th>
                                                    <th width="18%" style="text-align: center;">Quinta</th>
                                                    <th width="18%" style="text-align: center;">Sexta</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>CAFÉ<br>MANHÃ</td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                </tr>
                                                <tr>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                </tr>
                                                <tr>
                                                    <td>ALMOÇO</td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                </tr>
                                                <tr>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                </tr>
                                            </tbody>
                                            <tfoot>
                                                <tr>
                                                    <td>Totais:</td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                </tr>
                                                <tr>
                                                    <td colspan="6">
                                                        LEMBRETES.
                                                    </td>
                                                </tr>
                                            </tfoot>
                                        </table>

                                    </div>
</div>