<div class="navbar">
    <div class="navbar-inner">
        <h6 class="title-accordion">
            <a class="click_acc" data-toggle="collapse" data-parent="#accordion" href="#collapse3">
                Cardápios 
            </a>
        </h6>
    </div>
</div>

<div id="collapse3" class="content-height panel-collapse collapse out">
    <div class="navbar">
            <div class="navbar-inner">
                    <h6>Visualizando registros</h6>
                    <?php if (Mn_Util::isAccess($this->getController(), 'adicionar')) : ?>
                    <a style="float:right;" href="<?php echo $this->baseUrl() ?>/<?php echo 'admin' ?>/<?php echo $this->getController() ?>/adicionar" class="btn btn-primary"><span class="icon-plus"></span>&nbsp;Adicionar controle de cardápio</a>
                    <?php endif; ?>
            </div>
    </div>
    <div class="table-overflow">
        <table class="table table-content">
            <thead>
                <tr>
                    <th width="20">#</th>
                    <th class="s-datalancamento sorting">Ensino</th>
                    <th class="s-titulo sorting">Refeição</th>
                    <th class="s-status sorting">Cardápio</th>
                    <th width="96">Ações</th>
                </tr>
                <tr>
                    <th></th>
                    <th>
                       <div>
                           <select name='ensino' class='select'>
                               <option value=''>TODOS</option>
                               <option value='CM'>Creche Municipal</option>
                               <option value='EE'>EMEI / EMEF</option>
                           </select>
                       </div>
                    </th>
                    <th>
                        <div>
                           <select name='tiporefeicao' class='select'>
                                <option value=''>TODOS</option>
                                <option value="CMCAFE">CRECHE MUNICIPAL CAFÉ DA MANHÃ</option>
                                <option value="CMALMOCO">CRECHE MUNICIPAL ALMOÇO</option>
                                <option value="CMLANCHE">CRECHE MUNICIPAL LANCHE</option>
                                <option value="CMJANTAR">CRECHE MUNICIPAL JANTAR</option>
                                <option value="EECAFE DA MANHA">EMEI EMEF CAFÉ DA MANHÃ</option>
                                <option value="EEALMOCO">EMEI EMEF ALMOÇO</option>
                           </select>
                       </div>
                    </th>

                    <th>
                        <div>
                           
                        </div>
                    </th>
                    <th>
                        <button class="btn btn-mini btn-primary" type="submit">Pesquisar</button>
                    </th>
                </tr> 
            </thead>
            <tbody>
                <?php if (sizeof($this->rows)==0) : ?>
                    <tr>
                        <td colspan="6">Nenhum registro foi encontrado!</td>
                    </tr>
                <?php else : ?>
                    <?php foreach ($this->rows as $row) : ?>
                        <tr>
                            <td>
                                <?php echo $row['id'] ?>
                            </td>
                            <td>
                                <?php echo $row['tipoensino']?>
                            </td>
                            <td>
                            <?php echo $row['tiporefeicao'] ?>
                            </td>
                            
                            <td><?php echo $row['refeicao'] ?></td>
                            
                            <td>
                                <ul class="table-controls">
                                    <li><!-- <a title="" class="btn tip" href="<?php echo $this->baseUrl() ?>/<?php echo 'admin' ?>/<?php echo $this->getController() ?>/visualizar/id/<?php echo $row['id'] ?>" data-original-title="Visualizar"><i class="icon-eye-open"></i></a>--> <a title="" class="btn tip" onclick='visualizarajax(<?php echo $row['id'] ?>)'><i class="icon-eye-open"></i></a></li>
                                    <?php if (Mn_Util::isAccess($this->getController(), 'editar')) : ?>
                                    <li><!--<a title="" class="btn tip" href="<?php echo $this->baseUrl() ?>/<?php echo 'admin' ?>/<?php echo $this->getController() ?>/editar/id/<?php echo $row['id'] ?>" data-original-title="Editar"><i class="icon-pencil"></i></a>--> <a title="" class="btn tip" onclick='chartajax(<?php echo $row['id'] ?>)'><i class="icon-signal"></i></a></li>
                                    <?php endif;?>
                                    <?php if (Mn_Util::isAccess($this->getController(), 'excluir')) : ?>
                                    <li><a title="" class="btn tip" href="javascript:confirmDelete('<?php echo $row['id']; ?>','registro');" data-original-title="Excluir"><i class="icon-remove"></i></a> </li>
                                    <?php endif; ?>
                                </ul>
                            </td>
                        </tr>
                    <?php endforeach;?>
                <?php endif; ?>
            </tbody>
        </table>
    </div>
    <?php echo $this->render('/helpers/paginator.phtml') ?>
</div>

