		<!-- Content -->
		<div id="content">

		    <!-- Content wrapper -->
		    <div class="wrapper">

			    <!-- Breadcrumbs line -->
			    <div class="crumbs">
			    	<?php echo $this->render('/helpers/breadcrumb.phtml') ?>
			    </div>
			    <!-- /breadcrumbs line -->

			    <!-- Page header -->
			    <div class="page-header">
			    	<div class="page-title">
				    	<h5>Formulário do protocolo documento</h5>
				    	<span>Verifique os campos e preencha com os dados</span>
			    	</div>
			    </div>
			    <!-- /page header -->

			    <?php if (isset($this->crudMessage)) : ?>
					<div class="alert alert-success">
	                	<button data-dismiss="alert" class="close" type="button">×</button>
	                    <strong>Operação realizada com sucesso!</strong>
		    			<span><br /><?php echo $this->crudMessage ?></span>
	                </div>			    
			    <?php endif; ?>

				<form id="form" name="form" action="" method="post" class="form-horizontal" enctype="multipart/form-data"> 
					<input type="hidden" value="<?php echo (isset($this->post_var)) ? $this->post_var["id"] : ''; ?>" name="id" id="id" />
					
					<fieldset>
						<!-- General form elements -->
						<div class="widget row-fluid">
						    <div class="navbar">
						        <div class="navbar-inner">
						            <h6>Digite as informações do formulário</h6>
						        </div>
						    </div>

						    <div class="well">
								<?php if (isset($this->erros)) : ?>
									<div class="alert alert-error margin">
				                        <button data-dismiss="alert" class="close" type="button">×</button>
				                        <strong>Há erros no formulário!</strong>
					    				<?php foreach ($this->erros as $k=>$v) : ?>
					    					<span><br />- <?php echo $v ?></span>
					    				<?php endforeach;?>			                        
				                    </div>
			                    <?php endif; ?>						    
						    

				<div class="control-group">
					<div class="controls1 visualizar">
						<table class="table table-content" width="100%">
							<tbody>
								<tr>
									<input type="hidden" value="<?php echo (isset($this->post_var['sequencial'])) ? $this->post_var['sequencial'] : $this->sequencial ?>" name="sequencial" id="sequencial" />
									<input  placeholder="Data de lançamento" name="datalancamento" value="<?php echo (isset($this->post_var['datalancamento'])) ? $this->post_var['datalancamento'] : date('d/m/Y') ?>" type="hidden"  class="span3" />
									<input  placeholder="Hora do lançamento" name="horalancamento" value="<?php echo (isset($this->post_var['horalancamento'])) ? $this->post_var['horalancamento'] : date('G:i:s') ?>" type="hidden"  class="span3" />
									<td width="33%">Sequencial/Ano: <?php echo (isset($this->post_var['sequencial'])) ? $this->post_var['sequencial'] : $this->sequencial ?></td>
									<td width="34%">Data da Abertura: <?php echo date('d/m/Y') ?></td>
									<td width="33%">Hora da Abertura: <?php echo date('G:i:s') ?></td>
								</tr>
							</tbody>
						</table>
						
					</div>
				</div>



				<div class="control-group">
					<label class="control-label">Tipo Processo <span class="required">*</span></label>
					<div class="controls">
		                <select name="idtipoprotocolo" data-placeholder="Tipo Processo" class="select">
							<option value="">Selecione...</option>
							<?php foreach (Protocolostipos::getProtocolostiposHelper(array('status'=>'Ativo')) as $k=>$v) : ?>
							<option value="<?php echo $v['id'] ?>"><?php echo $v['tipo'] ?></option>
							<?php endforeach;?>
						</select>
						<span class="help-block">Protocolostipos,getProtocolostiposHelper,tipo</span>
					</div>
				</div>


				<div class="control-group">
					<label class="control-label">Tipo <span class="required">*</span></label>
					<div class="controls">

   						<input type="radio" name="tipo" value="Interno" onchange="setCamposAtendido(this, 0)" /> Interno <br />
   						<input type="radio" name="tipo" value="Externo" onchange="setCamposAtendido(this, 0)" /> Externo

					</div>
				</div>

				<div class="control-group">
					<label class="control-label">Nome do Usuário</label>
					<div class="controls visualizar">
						<input  placeholder="Nome do Usuário" name="idusuariologado" value="<?php echo (isset($this->post_var['idusuariologado'])) ? $this->post_var['idusuariologado'] : Usuarios::getUsuario('id') ?>" type="hidden"  class="span3" />
						<?php echo Usuarios::getUsuario('nomerazao') ?> <?php echo Usuarios::getUsuario('sobrenomefantasia') ?>
					</div>
				</div>

			


				<div class="control-group">
					<label class="control-label">Origem </label>
					<div class="controls">
						<select name="origem" data-placeholder="Origem" class="select">
							<option value="">Selecione...</option>
							<option value="Departamento">Departamento</option><option value="Escola">Escola</option>
						</select>
						
					</div>
				</div>


				<div class="control-group">
					<label class="control-label">Escola <span class="required">*</span></label>
					<div class="controls">
		                <select name="idescola" data-placeholder="Escola" class="select">
							<option value="">Selecione...</option>
							<?php foreach (Escolas::getEscolasHelper(array('status'=>'Ativo')) as $k=>$v) : ?>
							<option value="<?php echo $v['id'] ?>"><?php echo $v['escola'] ?></option>
							<?php endforeach;?>
						</select>
						
					</div>
				</div>


				<div class="control-group">
					<label class="control-label">Departamento </label>
					<div class="controls">
		                <select name="iddepartamento" data-placeholder="Departamento" class="select">
							<option value="">Selecione...</option>
							<?php foreach (Departamentossecretarias::getDepartamentossecretariasHelper(array('status'=>'Ativo')) as $k=>$v) : ?>
							<option value="<?php echo $v['id'] ?>"><?php echo $v['departamento'] ?></option>
							<?php endforeach;?>
						</select>
						
					</div>
				</div>


				<div class="control-group">
					<label class="control-label">Título <span class="required">*</span></label>
					<div class="controls"><input maxlength="500" placeholder="Título" name="titulo" value="<?php echo (isset($this->post_var['titulo'])) ? $this->post_var['titulo'] : '' ?>" type="text"  class="span3" /></div>
				</div>


				<div class="control-group">
					<label class="control-label">Tipo de solicitação </label>
					<div class="controls">
						<select name="tiposolicitacao" data-placeholder="Tipo de solicitação" class="select">
							<option value="">Selecione...</option>
							<option value="Tipo 1">Tipo 1</option><option value="Tipo 2">Tipo 2</option><option value="Tipo 3">Tipo 3</option>
						</select>
						
					</div>
				</div>


				<div class="control-group">
					<label class="control-label">Solicitação </label>
					<div class="controls"><input maxlength="500" placeholder="Solicitação" name="solicitacao" value="<?php echo (isset($this->post_var['solicitacao'])) ? $this->post_var['solicitacao'] : '' ?>" type="text"  class="span3" /></div>
				</div>


				<div class="control-group">
					<label class="control-label">Observações </label>
					<div class="controls"><textarea class="span12" name="observacoes" cols="5" rows="5"><?php echo (isset($this->post_var)) ? $this->post_var["observacoes"] : ''; ?></textarea></div>
				</div>


				<div class="control-group">
					<label class="control-label">Anexar documento </label>
					<div class="controls">
						<?php if ((isset($this->post_var['idarquivo'])) && ((int)$this->post_var['idarquivo']>0)) : ?>
							<?php echo $this->getArquivo($this->post_var['idarquivo']) ?>
						
							<?php if (!$this->visualizar) : ?>
								<div class="checkbox block">
									<label><input type="checkbox" name="excluir_idarquivo" value="excluir" /> Desejo excluir o arquivo</label>
								</div>
							<?php endif; ?>
						<?php endif; ?>
						
						<input placeholder="Anexar documento" name="idarquivo" type="file"  />
					</div>
				</div>	


				<div class="control-group">
					<label class="control-label">Encaminhar </label>
					<div class="controls">
		                <select name="encaminhar" data-placeholder="Encaminhar" class="select">
							<option value="">Selecione...</option>
							<?php foreach (Departamentossecretarias::getDepartamentossecretariasHelper(array('status'=>'Ativo')) as $k=>$v) : ?>
							<option value="<?php echo $v['id'] ?>"><?php echo $v['departamento'] ?></option>
							<?php endforeach;?>
						</select>
						
					</div>
				</div>


				<div class="control-group">
					<label class="control-label">Posição <span class="required">*</span></label>
					<div class="controls">
						<select name="posicao" data-placeholder="Posição" class="select">
							<option value="">Selecione...</option>
							<option value="Aberto">Aberto</option><option value="Em Andamento">Em Andamento</option><option value="Cancelado">Cancelado</option><option value="Finalizado">Finalizado</option>
						</select>
						
					</div>
				</div>


				<div class="control-group">
					<label class="control-label">Status <span class="required">*</span></label>
					<div class="controls">
						<select name="status1" data-placeholder="Status" class="select">
							<option value="">Selecione...</option>
							<option value="Aguardando Aceite">Aguardando Aceite</option><option value="Aceito">Aceito</option><option value="Não Aceito">Não Aceito</option>
						</select>
						
					</div>
				</div>

						    
						    
						    </div>
						    
			                <div class="form-actions align-right">
			                	<?php if ((isset($this->visualizar)) && ($this->visualizar)) : ?>
			                		<button onclick="window.history.back()" class="btn btn-danger cancelar" type="button">Voltar</button>
			                	<?php else : ?>
				                	<button class="btn btn-primary enviar" type="submit">Salvar</button>
				                	<button onclick="window.history.back()" class="btn btn-danger cancelar" type="button">Cancelar</button>
			                	<?php endif; ?>
			                </div>
						</div>
						<!-- /general form elements -->

					</fieldset> 

				</form>
				<!-- /basic inputs -->

		    </div>
		    <!-- /content wrapper -->

		</div>
		<!-- content -->
				
<script type="text/javascript" src="<?php echo $this->baseUrl('/public/scripts/admin/protocolosdocumentos_form.js') ?>"></script>
<script type="text/javascript">
	var form_values = {};
	
	<?php if (isset($this->post_var)) :  ?>
		form_values.idtipoprotocolo = '<?php echo (isset($this->post_var['idtipoprotocolo'])) ? $this->post_var['idtipoprotocolo'] : '' ?>';

form_values.tipo = '<?php echo (isset($this->post_var['tipo'])) ? $this->post_var['tipo'] : '' ?>';

form_values.idusuariologado = '<?php echo (isset($this->post_var['idusuariologado'])) ? $this->post_var['idusuariologado'] : '' ?>';

form_values.origem = '<?php echo (isset($this->post_var['origem'])) ? $this->post_var['origem'] : '' ?>';

form_values.idescola = '<?php echo (isset($this->post_var['idescola'])) ? $this->post_var['idescola'] : '' ?>';

form_values.iddepartamento = '<?php echo (isset($this->post_var['iddepartamento'])) ? $this->post_var['iddepartamento'] : '' ?>';

form_values.tiposolicitacao = '<?php echo (isset($this->post_var['tiposolicitacao'])) ? $this->post_var['tiposolicitacao'] : '' ?>';

form_values.encaminhar = '<?php echo (isset($this->post_var['encaminhar'])) ? $this->post_var['encaminhar'] : '' ?>';

form_values.posicao = '<?php echo (isset($this->post_var['posicao'])) ? $this->post_var['posicao'] : '' ?>';

form_values.status1 = '<?php echo (isset($this->post_var['status1'])) ? $this->post_var['status1'] : $this->post_var['status'] ?>';


	<?php endif; ?>

	visualizar = <?php echo  ((isset($this->visualizar)) && ($this->visualizar))  ? 'true' : 'false' ?>;
</script>
