		<!-- Content -->
		<div id="content">

		    <!-- Content wrapper -->
		    <div class="wrapper">

			    <!-- Breadcrumbs line -->
			    <div class="crumbs">
			    	<?php echo $this->render('/helpers/breadcrumb.phtml') ?>
			    </div>
			    <!-- /breadcrumbs line -->

			    <!-- Page header -->
			    <div class="page-header">
			    	<div class="page-title">
				    	<h5>Formulário do cadastro</h5>
				    	<span>Verifique os campos e preencha com os dados</span>
			    	</div>
			    	
			    </div>
			    <!-- /page header -->

			    <?php if (isset($this->crudMessage)) : ?>
				<div class="alert alert-success">
                	<button data-dismiss="alert" class="close" type="button">×</button>
                    <strong>Operação realizada com sucesso!</strong>
	    			<span><br /><?php echo $this->crudMessage ?></span>
                </div>			    
			    <?php endif; ?>

				<form id="form" name="form" action="" method="post" class="form-horizontal" enctype="multipart/form-data"> 
					<input type="hidden" value="<?php echo (isset($this->post_var)) ? $this->post_var["id"] : ''; ?>" name="id" id="id" />
					<fieldset>

						<!-- General form elements -->
						<div class="widget row-fluid">
						    <div class="navbar">
						        <div class="navbar-inner">
						            <h6>Digite as informações do formulário</h6>
						        </div>
						    </div>

						    <div class="well">

								<?php if (isset($this->erros)) : ?>
								<div class="alert alert-error margin">
			                        <button data-dismiss="alert" class="close" type="button">×</button>
			                        <strong>Há erros no formulário!</strong>
				    				<?php foreach ($this->erros as $k=>$v) : ?>
				    				<span><br />- <?php echo $v ?></span>
				    				<?php endforeach;?>			                        
			                    </div>
			                    <?php endif; ?>						    
						    
						        <div class="control-group">
						            <label class="control-label">Nome da licença <span class="required">*</span></label>
						            <div class="controls"><input name="licenca" placeholder="Nome da licença" value="<?php echo (isset($this->post_var['licenca'])) ? $this->post_var['licenca'] : '' ?>" type="text" name="regular" class="span3" /></div>
						        </div>
						        
						        <div class="control-group">
						            <label class="control-label">Alias da licença <span class="required">*</span></label>
						            <div class="controls"><input name="alias" placeholder="/alias" value="<?php echo (isset($this->post_var['alias'])) ? $this->post_var['alias'] : '' ?>" type="text" name="regular" class="span3" /></div>
						        </div>						        
						        
						        <div class="control-group">
						            <label class="control-label">Nome do usuário da licença <span class="required">*</span></label>
						            <div class="controls"><input name="nomerazao" placeholder="Nome do usuário da licença" value="<?php echo (isset($this->post_var['nomerazao'])) ? $this->post_var['nomerazao'] : '' ?>" type="text" name="regular" class="span3" /></div>
						        </div>
						        
						        <div class="control-group">
						            <label class="control-label">Sobrenome do usuário da licença <span class="required">*</span></label>
						            <div class="controls"><input name="sobrenomefantasia" placeholder="Sobrenome do usuário da licença" value="<?php echo (isset($this->post_var['sobrenomefantasia'])) ? $this->post_var['sobrenomefantasia'] : '' ?>" type="text" name="regular" class="span3" /></div>
						        </div>				        
						        
						        <div class="control-group">
						            <label class="control-label">E-mail de acesso do usuário <span class="required">*</span></label>
						            <div class="controls"><input name="email" placeholder="E-mail de acesso do usuário" value="<?php echo (isset($this->post_var['email'])) ? $this->post_var['email'] : '' ?>" type="text" name="regular" class="span3" /></div>
						        </div>		
				
						        <div class="control-group">
						            <label class="control-label">Senha de acesso<?php if ($this->getAction()=='adicionar') : ?><span class="required">*</span><?php endif;?></label>
						            <div class="controls"><input autocomplete="off" name="senha" placeholder="Senha" value="" type="password" name="regular" class="span3" /></div>
						        </div>			

						        <div class="control-group">
						            <label class="control-label">Confirme a senha <?php if ($this->getAction()=='adicionar') : ?><span class="required">*</span><?php endif;?></label>
						            <div class="controls"><input autocomplete="off" name="resenha" placeholder="Confirme a senha" value="" type="password" name="regular" class="span3" /></div>
						        </div>					
				
						        <div class="control-group">
						            <label class="control-label">Status <span class="required">*</span></label>
						            <div class="controls">
						                <select name="status1" data-placeholder="Status" class="select">
						                    <option value="">Selecione...</option> 
	                                        <option value="Ativo">Ativo</option> 
	                                        <option value="Bloqueado">Bloqueado</option> 
						                </select>						        
						            </div>
						        </div>									        
						        

						        
						    </div>
						    
			                <div class="form-actions align-right">
			                	<?php if ((isset($this->visualizar)) && ($this->visualizar)) : ?>
			                	<button onclick="window.history.back()" class="btn btn-danger cancelar" type="button">Voltar</button>
			                	<?php else : ?>
			                	<button class="btn btn-primary enviar" type="submit">Salvar</button>
			                	<button onclick="window.history.back()" class="btn btn-danger cancelar" type="button">Cancelar</button>
			                	<?php endif; ?>
			                </div>						    
						    
						    
						</div>
						<!-- /general form elements -->


					</fieldset> 

				</form>
				<!-- /basic inputs -->

		    </div>
		    <!-- /content wrapper -->

		</div>
		<!-- content -->
		
		
<script type="text/javascript" src="<?php echo $this->baseUrl('/public/scripts/admin/licencas_form.js') ?>"></script>

<script type="text/javascript">

	var form_values = {};
	<?php if (isset($this->post_var)) :  ?>
		form_values.status1 = '<?php echo (isset($this->post_var['status1'])) ? $this->post_var['status1'] : $this->post_var['status'] ?>';
	<?php endif; ?>

	visualizar = <?php echo  ((isset($this->visualizar)) && ($this->visualizar))  ? 'true' : 'false' ?>
</script>