		<!-- Content -->
		<div id="content">

		    <!-- Content wrapper -->
		    <div class="wrapper">

			    <!-- Breadcrumbs line -->
			    <div class="crumbs">
			    	<?php echo $this->render('/helpers/breadcrumb.phtml') ?>
			    </div>
			    <!-- /breadcrumbs line -->

			    <!-- Page header -->
			    <div class="page-header">
			    	<div class="page-title">
				    	<h5>Licenças cadastrados no sistema</h5>
				    	<span>Visualize os licenças cadastrados no sistema</span>
			    	</div>
			    	
			    </div>
			    <!-- /page header -->
			    
			    <?php if (isset($this->crudMessage)) : ?>
				<div class="alert alert-success">
                	<button data-dismiss="alert" class="close" type="button">×</button>
                    <strong>Operação realizada com sucesso!</strong>
	    			<span><br /><?php echo $this->crudMessage ?></span>
                </div>			    
			    <?php endif; ?>




	                        	                        
                <!-- Table with footer -->
                <div class="widget">
                	<form action="#" class="form-horizontal" method="post">
                		<input type="hidden" value="<?php echo (isset($this->post_var['sorting'])) ? $this->post_var['sorting'] : '' ?>" name="sorting" />
	                	<div class="navbar">
	                		<div class="navbar-inner">
	                			<h6>Visualizando registros</h6>
	                			<?php if (Mn_Util::isAccess($this->getController(), 'visualizar')) : ?>
	                			<a style="float:right;" href="<?php echo $this->baseUrl() ?>/admin/<?php echo $this->getController() ?>/adicionar" class="btn btn-primary"><span class="icon-plus"></span>&nbsp;Adicionar registro</a>
	                			<?php endif; ?>
	                		</div>
	                	</div>
	                    <div class="table-overflow">
	                        <table class="table table-content table-modal">
	                            <thead>
	                                <tr>
	                                    <th width="20">#</th>
	                                    <th width="90" class="s-datacriacao">Dt. Criação</th>
	                                    <th width="210" class="s-licenca">Licença</th>
	                                    <th width="120" class="s-alias">Alias</th>
	                                    <th class="s-nomerazao">Nome</th>
	                                    <th width="210" class="s-email">E-mail</th>
	                                    <th width="120">Status</th>
	                                    <th width="96">Ações</th>
	                                </tr>
	                                <tr>
	                                    <th></th>
	                                    <th></th>
	                                    <th><input name="licenca" value="<?php echo (isset($this->post_var['licenca'])) ? $this->post_var['licenca'] : '' ?>" type="text" style="display: block; margin-top: 6px;" placeholder="Nome da licença" class="input-block-level"></th>
	                                    <th><input name="alias" value="<?php echo (isset($this->post_var['alias'])) ? $this->post_var['alias'] : '' ?>" type="text" style="display: block; margin-top: 6px;" placeholder="Alias da licença" class="input-block-level"></th>
	                                    <th><input name="chave" value="<?php echo (isset($this->post_var['chave'])) ? $this->post_var['chave'] : '' ?>" type="text" style="display: block; margin-top: 6px;" placeholder="Nome do usuário" class="input-block-level"></th>
	                                    <th><input name="email" value="<?php echo (isset($this->post_var['email'])) ? $this->post_var['email'] : '' ?>" type="text" style="display: block; margin-top: 6px;" placeholder="E-mail do usuário" class="input-block-level"></th>
	                                    <th>
	                                    	<div>
                                            	<select name="status1" data-placeholder="Todos" class="select" tabindex="2">
	                                                <option value="">Todos</option> 
	                                                <option value="Ativo">Ativo</option> 
	                                                <option value="Bloqueado">Bloqueado</option> 
	                                            </select>	                                    	
	                                    	</div>
	                                    </th>
	                                    <th><button class="btn btn-mini btn-primary" type="submit">Pesquisar</button></th>
	                                </tr> 	                                
	                            </thead>
	                            <tbody>
	                            	<?php if (sizeof($this->rows)==0) : ?>
	                                <tr>
	                                    <td colspan="8">Nenhum registro foi encontrado!</td>
	                                </tr>
	                            	
	                            	<?php else : ?>
	                            	<?php foreach ($this->rows as $row) : ?>
	                                <tr class="principal">
	                                	<td>
	                                		<?php echo $row['id'] ?>

                            				<textarea style="display:none;" name="dados" class="dados_json"><?php echo json_encode($row) ?> </textarea>
	                                	</td>
	                                	<td><?php echo date('d/m/Y H:i', strtotime($row['datacriacao'])) ?></td>
	                                	<td><?php echo $row['licenca'] ?></td>
	                                	<td>/<?php echo $row['alias'] ?></td>
		                				<td><?php echo $row['nomerazao'] ?> <?php echo $row['sobrenomefantasia'] ?></td>
		                				<td>
		                					<a href="mailto:<?php echo $row['email'] ?>"><?php echo $row['email'] ?></a>
		                					<br />
		                					&nbsp;&nbsp;&nbsp;&nbsp;<a target="_blank" href="<?php echo $this->baseUrl()?>/admin/licencas/logar/id/<?php echo $row['id'] ?>">Logar</a>
		                				</td>
		                				
	                                    <td align="center">
	                                    	<?php if (Mn_Util::isAccess($this->getController(), 'editar')) : ?>
	                                    	<a onclick="javascript:statusChange(<?php echo $row["id"]?>, this);" href="javascript:;"><span class="label <?php echo ($row['status']=='Ativo') ? 'label-success' : 'label-important' ?>"><?php echo $row['status'] ?></span></a>
	                                    	<?php else : ?>
	                                    	<?php echo $row['status'] ?>
	                                    	<?php endif; ?><br />
	                                    	<button type="button" class="btn btn-warning" onclick="modalLicenca('<?php echo $row['id'] ?>')">Clonar licença</button>
	                                    </td>
	                                    
	                                    <td>	                                    	
	                                        <ul class="table-controls">
	                                            <li><a title="" class="btn tip" href="<?php echo $this->baseUrl() ?>/admin/<?php echo $this->getController() ?>/visualizar/id/<?php echo $row['id'] ?>" data-original-title="Visualizar"><i class="icon-eye-open"></i></a> </li>
	                                            <?php if (Mn_Util::isAccess($this->getController(), 'editar')) : ?>
	                                            <li><a title="" class="btn tip" href="<?php echo $this->baseUrl() ?>/admin/<?php echo $this->getController() ?>/editar/id/<?php echo $row['id'] ?>" data-original-title="Editar"><i class="icon-pencil"></i></a> </li>
	                                            <?php endif;?>
	                                            <?php if (Mn_Util::isAccess($this->getController(), 'excluir')) : ?>
	                                            <li><a title="" class="btn tip" href="javascript:confirmDelete('<?php echo $row['id']; ?>','registro');" data-original-title="Excluir"><i class="icon-remove"></i></a> </li>
	                                            <?php else : ?>
	                                            <?php endif; ?>
	                                        </ul>
	                                    </td>
	                                </tr>
	                            	<?php endforeach;?>
	                            	
	                            	
	                            	
	                            	
	                            	<?php endif; ?>
	
	                            </tbody>
	                        </table>
	                    </div>
	                    <?php echo $this->render('/helpers/paginator.phtml') ?>
                    
                    </form>

                </div>
                <!-- /table with footer -->
	                        


		    </div>
		    <!-- /content wrapper -->

		</div>
		<!-- content -->
		
		
<script type="text/javascript" src="<?php echo $this->baseUrl('/public/scripts/admin/licencas_index.js') ?>"></script>
<script type="text/javascript">

	var form_values = {};
	<?php if (isset($this->post_var)) :  ?>
		form_values.status1 = '<?php echo (isset($this->post_var['status1'])) ? $this->post_var['status1'] : $this->post_var['status'] ?>';
	<?php endif; ?>

	var sorting = ['datacriacao', 'licenca', 'alias', 'nomerazao', 'email'];

	var modal = <?php echo ($this->modal) ? 'true' : 'false' ?>;
	var redirect_modal = '<?php echo $this->redirect_modal ?>';

	<?php if ($this->modal) : ?>
		var id_to = '<?php echo $this->getParam("id"); ?>';
		console.log(id_to)
	    $('.table-modal tbody tr td').not('.not_select').css('cursor', 'pointer');
	    $('.table-modal tbody tr td').not('.not_select').click(function() {
	        table = $(this).closest('tr.principal');
	        dados = table.find('.dados_json').val();

	        parent.clonarLicenca(id_to, dados);
	        parent.$.fancybox.close();
	    });

	<?php endif; ?>
	
</script>	