		<!-- Content -->
		<div id="content">

		    <!-- Content wrapper -->
		    <div class="wrapper">

			    <!-- Breadcrumbs line -->
			    <div class="crumbs">
			    	<?php echo $this->render('/helpers/breadcrumb.phtml') ?>
			    </div>
			    <!-- /breadcrumbs line -->

			    <!-- Page header -->
			    <div class="page-header">
			    	<div class="page-title">
				    	<h5>Formulário do registro financeiro</h5>
				    	<span>Verifique os campos e preencha com os dados</span>
			    	</div>
			    </div>
			    <!-- /page header -->

			    <?php if (isset($this->crudMessage)) : ?>
					<div class="alert alert-success">
	                	<button data-dismiss="alert" class="close" type="button">×</button>
	                    <strong>Operação realizada com sucesso!</strong>
		    			<span><br /><?php echo $this->crudMessage ?></span>
	                </div>			    
			    <?php endif; ?>

				<form id="form" name="form" action="" method="post" class="form-horizontal" enctype="multipart/form-data"> 
					<input type="hidden" value="<?php echo (isset($this->post_var)) ? $this->post_var["id"] : ''; ?>" name="id" id="id" />
					
					<fieldset>
						<!-- General form elements -->
						<div class="widget row-fluid">
						    <div class="navbar">
						        <div class="navbar-inner">
						            <h6>Digite as informações do formulário</h6>
						        </div>
						    </div>

						    <div class="well">
								<?php if (isset($this->erros)) : ?>
									<div class="alert alert-error margin">
				                        <button data-dismiss="alert" class="close" type="button">×</button>
				                        <strong>Há erros no formulário!</strong>
					    				<?php foreach ($this->erros as $k=>$v) : ?>
					    					<span><br />- <?php echo $v ?></span>
					    				<?php endforeach;?>			                        
				                    </div>
			                    <?php endif; ?>						    
				
                <?php $idescola = Usuarios::getUsuario('idescola'); ?>
				<?php $idlocal = Usuarios::getUsuario('idlocal'); ?>
				<?php if(($idescola>0) || ($idlocal>0)): ?>		    
				<div class="control-group">
					<div class="controls1 visualizar">
						<table class="table table-content" width="100%">
							<tbody>
								<tr>
									<input maxlength="500" placeholder="Nome do Usuário" name="idusuario" value="<?php echo Usuarios::getUsuario('id') ?>" type="hidden"  class="span3" />
									<input  placeholder="Data de lançamento" name="datalancamento" value="<?php echo (isset($this->post_var['datalancamento'])) ? Mn_Util::formPostVarData($this->post_var['datalancamento']) : date('d/m/Y') ?>" type="hidden"  class="span3" />
									<input maxlength="500" placeholder="Nome do Usuário" name="idlocal" value="<?php echo Usuarios::getUsuario('idlocal') ?>" type="hidden"  class="span3" />
									<input maxlength="500" placeholder="Nome do Usuário" name="idescola" value="<?php echo Usuarios::getUsuario('idescola') ?>" type="hidden"  class="span3" />

									<td width="33%">Nome do Usuário: <?php echo Usuarios::getUsuario('nomerazao') . " - " . Usuarios::getUsuario('rgf') ?></td>
									<td width="34%">Data da Abertura: <?php echo date('d/m/Y') ?></td>
									<td width="33%">Escola: <?php 
											$local = Escolas::getEscolaByIdHelper(Usuarios::getUsuario('idescola')); 
											echo ((isset($local['escola'])) && ($local['escola']) && ($local['escola']!="") ) ? $local['escola'] : '';
										?>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
				<?php else: ?>
				<div class="control-group">
					<div class="controls1 visualizar">
						<table class="table table-content" width="100%">
							<tbody>
								<tr>
									<input maxlength="500" placeholder="Nome do Usuário" name="idusuario" value="<?php echo Usuarios::getUsuario('id') ?>" type="hidden"  class="span3" />
									<input  placeholder="Data de lançamento" name="datalancamento" value="<?php echo (isset($this->post_var['datalancamento'])) ? Mn_Util::formPostVarData($this->post_var['datalancamento']) : date('d/m/Y') ?>" type="hidden"  class="span3" />
									
									<td width="50%">Nome do Usuário: <?php echo Usuarios::getUsuario('nomerazao') . " - " . Usuarios::getUsuario('rgf') ?></td>
									<td width="50%">Data da Abertura: <?php echo date('d/m/Y') ?></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
				<?php endif; ?>
							
				<?php if(((int)$idescola>0) || ((int)$idlocal>0)): ?>

				<?php else: ?>
				<div class="control-group">
					<label class="control-label">Local <span class="required">*</span></label>
					<div class="controls">
                        <select id="idescola" name="idescola"  class="select" onchange="setDados(this)">
	                        <option value="">Selecione...</option>
	                        <?php foreach ($this->escolas as $e=>$row): ?>
	                        <option value="<?php echo $row['id'] ?>"><?php echo $row['escola'] ?></option>
	                        <?php endforeach;?>
                        </select>   
					</div>
				</div>
				<?php endif; ?>
				<div class="box-convenios" style="display: none;">
					<div class="control-group">
						<label class="control-label">Tipo de Convênio <span class="required">*</span></label>
						<div class="controls">
			                <select name="idtipoconvenio" data-placeholder="Tipo de Convênio" class="select" onchange="setConvenios(this, 0)">
								<option value="">Selecione...</option>
								<?php foreach (Financeirotiposconvenios::getFinanceirotiposconveniosHelper(array('status'=>'Ativo')) as $k=>$v) : ?>
								<option value="<?php echo $v['id'] ?>"><?php echo $v['titulo'] ?></option>
								<?php endforeach;?>
							</select>
						</div>
					</div>

					<div class="control-group">
						<label class="control-label">Convênio <span class="required">*</span></label>
						<div class="controls">
			                <select name="idconvenio" onchange="setBancos(this, 0)" data-placeholder="Convênio" class="select">
								<option value="">Selecione...</option>
							</select>
						</div>
					</div>

					<div class="control-group"> 
						<label class="control-label">Banco </label>
						<div class="controls">
							<select name="idbanco"  class="select">
								<option value="">Selecione...</option>
							</select>  
						</div>
					</div>
				</div>
				<?php if($this->post_var['sequencial']): ?>
					<div class="control-group">
						<label class="control-label">Sequencial/Ano </label>
						<div class="controls"><input maxlength="500" readonly placeholder="Sequencial/Ano" name="sequencial" value="<?php echo (isset($this->post_var['sequencial'])) ? $this->post_var['sequencial'] : '' ?>" type="text"  class="span3" /></div>
					</div>
				<?php endif; ?>
				<div class="control-group">
					<label class="control-label">Data</label>
					<div class="controls"><input placeholder="Data" name="data" value="<?php echo (isset($this->post_var['data'])) ? Mn_Util::formPostVarData($this->post_var['data']) : '' ?>" type="text"  class="span3" autocomplete="off"/></div>
				</div>
				<div class="control-group">
					<label class="control-label">Valor </label>
					<div class="controls"><input  placeholder="Valor" name="valor" value="<?php echo (isset($this->post_var['valor'])) ? $this->post_var['valor'] : '' ?>" type="text"  class="span3" autocomplete="off"/></div>
				</div>
				<div class="control-group">
					<label class="control-label">Natureza <span class="required">*</span></label>
					<div class="controls">
						<select name="natureza" data-placeholder="natureza" class="select">
							<option value="">Selecione...</option>
							<option value="Custeio">Custeio</option><option value="Capital">Capital</option>
						</select>
					</div>
				</div>


				<div class="control-group">
					<label class="control-label">Tipo <span class="required">*</span></label>
					<div class="controls">
						<select name="tipo" data-placeholder="Tipo" class="select" onchange="setTipo(this)">
							<option value="">Selecione...</option>
							<option value="Receita">Receita</option>
							<option value="Despesa">Despesa</option>
						</select>
						
					</div>
				</div>
				<div class="control-group box-datapagamento" style="display: none;">
					<label class="control-label">Data de pagamento </label>
					<div class="controls"><input  placeholder="Data de pagamento" name="datapagamento" value="<?php echo (isset($this->post_var['datapagamento'])) ? Mn_Util::formPostVarData($this->post_var['datapagamento']) : '' ?>" type="text"  class="span3"/></div>
				</div>

				<!--<div class="control-group box-receita" style="display: none;">
					<label class="control-label">Tipo de receita </label>
					<div class="controls">
						<input type="text" name="tiporeceita" placeholder="Tipo Receita" value="<?php// echo (isset($this->post_var['tiporeceita'])) ? $this->post_var['tiporeceita'] : '' ?>" class="span3" maxlenght="100"/>
					</div>
				</div>-->


				<!--<div class="control-group box-despesa" style="display: none;">
					<label class="control-label">Tipo de despesa </label>
					<div class="controls">
						<input type="text" name="tipodespesa" placeholder="Tipo Despesa" value="<?php //echo (isset($this->post_var['tipodespesa'])) ? $this->post_var['tipodespesa'] : '' ?>" class="span3" maxlenght="100"/>
					</div>
				</div>-->
				<div class="control-group box-despesa" style="display: none">
					<label class="control-label">Origem </label>
					<div class="controls">
						<input maxlength="6" placeholder="Origem" name="origem" value="<?php echo (isset($this->post_var['origem'])) ? $this->post_var['origem'] : '' ?>" type="text"  class="span3" />
					</div>
				</div>
				<?php /* ?>
				<div class="control-group">
					<label class="control-label">Lançamento </label>
					<div class="controls"><input maxlength="500" placeholder="Lançamento" name="lancamento" value="<?php echo (isset($this->post_var['lancamento'])) ? $this->post_var['lancamento'] : '' ?>" type="text"  class="span3" /></div>
				</div>
				<?php */ ?>
			<div class="box-despesa" style="display: none;">

				<div class="control-group">
					<label class="control-label">Fornecedor </label>
					<div class="controls"><input maxlength="100" placeholder="Fornecedor" name="fornecedor" value="<?php echo (isset($this->post_var['fornecedor'])) ? $this->post_var['fornecedor'] : '' ?>" type="text"  class="span3" /></div>
				</div>


				<div class="control-group">
					<label class="control-label">CPF/CNPJ </label>
					<div class="controls"><input maxlength="20" placeholder="CPF/CNPJ" name="cpfcnpj" value="<?php echo (isset($this->post_var['cpfcnpj'])) ? $this->post_var['cpfcnpj'] : '' ?>" type="text"  class="span3" /></div>
				</div>

				<div class="control-group">
					<label class="control-label">N. Cheque </label>
					<div class="controls"><input maxlength="500" placeholder="N. Cheque" name="numerocheque" value="<?php echo (isset($this->post_var['numerocheque'])) ? $this->post_var['numerocheque'] : '' ?>" type="text"  class="span3" /></div>
				</div>


				<div class="control-group">
					<label class="control-label">Anexo da cópia do cheque </label>
					<div class="controls">
						<?php if ((isset($this->post_var['idcheque'])) && ((int)$this->post_var['idcheque']>0)) : ?>
							<?php echo $this->getArquivo($this->post_var['idcheque']) ?>
						
							<?php if (!$this->visualizar) : ?>
								<div class="checkbox block">
									<label><input type="checkbox" name="excluir_idcheque" value="excluir" /> Desejo excluir o arquivo</label>
								</div>
							<?php endif; ?>
						<?php endif; ?>
						
						<input placeholder="Anexo da cópia do cheque" name="idcheque" type="file"  />
					</div>
				</div>	
			</div>
			<div id="boxdescricao" style="display: none">
				<div class="control-group">
					<label class="control-label">Descrição de lançamento</label>
					<div class="controls"><textarea class="span12" name="descricao" style="resize: none;"><?php echo (isset($this->post_var)) ? $this->post_var["descricao"] : ''; ?></textarea></div>
				</div>
			</div>
				<div class="control-group">
					<label class="control-label">Tipo de Documento </label>
					<div class="controls"><input maxlength="100" placeholder="tipodocumento" name="tipodocumento" value="<?php echo (isset($this->post_var['tipodocumento'])) ? $this->post_var['tipodocumento'] : '' ?>" type="text"  class="span3" /></div>
				</div>


				<div class="control-group">
					<label class="control-label">N. Documento </label>
					<div class="controls"><input maxlength="500" placeholder="ndocumento" name="ndocumento" value="<?php echo (isset($this->post_var['ndocumento'])) ? $this->post_var['ndocumento'] : '' ?>" type="text"  class="span3" /></div>
				</div>


				<div class="control-group">
					<label class="control-label">Anexo do documento </label>
					<div class="controls">
						<?php if ((isset($this->post_var['iddocumento'])) && ((int)$this->post_var['iddocumento']>0)) : ?>
							<?php echo $this->getArquivo($this->post_var['iddocumento']) ?>
						
							<?php if (!$this->visualizar) : ?>
								<div class="checkbox block">
									<label><input type="checkbox" name="excluir_iddocumento" value="excluir" /> Desejo excluir o arquivo</label>
								</div>
							<?php endif; ?>
						<?php endif; ?>
						
						<input placeholder="Anexo do documento" name="iddocumento" type="file"  />
					</div>
				</div>	


				<div class="control-group">
					<label class="control-label">Observação </label>
					<div class="controls"><textarea class="span12" name="observacao" cols="5" rows="5"><?php echo (isset($this->post_var)) ? $this->post_var["observacao"] : ''; ?></textarea></div>
				</div>


				<div class="control-group">
					<label class="control-label">Status <span class="required">*</span></label>
					<div class="controls">
						<select name="status1" data-placeholder="Status" class="select">
							<option value="">Selecione...</option>
							<option value="Ativo">Ativo</option><option value="Bloqueado">Bloqueado</option>
						</select>
						
					</div>
				</div>

						    
						    
						    </div>
						    
			                <div class="form-actions align-right">
			                	<?php if ((isset($this->visualizar)) && ($this->visualizar)) : ?>
			                		<button onclick="window.history.back()" class="btn btn-danger cancelar" type="button">Voltar</button>
			                	<?php else : ?>
				                	<button class="btn btn-primary enviar" type="submit">Salvar</button>
				                	<button onclick="window.history.back()" class="btn btn-danger cancelar" type="button">Cancelar</button>
			                	<?php endif; ?>
			                </div>
						</div>
						<!-- /general form elements -->

					</fieldset> 

				</form>
				<!-- /basic inputs -->

		    </div>
		    <!-- /content wrapper -->

		</div>
		<!-- content -->
				
<script type="text/javascript" src="<?php echo $this->baseUrl('/public/scripts/admin/financeirocontasregistros_form.js') ?>"></script>
<script type="text/javascript">
	var form_values = {};
	
	<?php if (isset($this->post_var)) :  ?>
		form_values.origem = '<?php echo (isset($this->post_var['origem'])) ? $this->post_var['origem'] : '' ?>';

form_values.idescola = '<?php echo (isset($this->post_var['idescola'])) ? $this->post_var['idescola'] : '' ?>';

form_values.idtipoconvenio = '<?php echo (isset($this->post_var['idtipoconvenio'])) ? $this->post_var['idtipoconvenio'] : '' ?>';

form_values.idconvenio = '<?php echo (isset($this->post_var['idconvenio'])) ? $this->post_var['idconvenio'] : '' ?>';

form_values.natureza = '<?php echo (isset($this->post_var['natureza'])) ? $this->post_var['natureza'] : '' ?>';

form_values.tipo = '<?php echo (isset($this->post_var['tipo'])) ? $this->post_var['tipo'] : '' ?>';

form_values.tiporeceita = '<?php echo (isset($this->post_var['tiporeceita'])) ? $this->post_var['tiporeceita'] : '' ?>';

form_values.idtipodespesa = '<?php echo (isset($this->post_var['idtipodespesa'])) ? $this->post_var['idtipodespesa'] : '' ?>';

form_values.faturado = '<?php echo (isset($this->post_var['faturado'])) ? $this->post_var['faturado'] : '' ?>';

form_values.status1 = '<?php echo (isset($this->post_var['status1'])) ? $this->post_var['status1'] : $this->post_var['status'] ?>';

<?php if ((isset($this->post_var['idbanco'])) && ($this->post_var['idbanco']!="")) :  ?>
	form_values.idbanco = [<?php echo $this->post_var['idbanco'] ?>];
<?php endif; ?>

	<?php endif; ?>

	visualizar = <?php echo  ((isset($this->visualizar)) && ($this->visualizar))  ? 'true' : 'false' ?>;
</script>
