		<!-- Content -->
		<div id="content">

		    <!-- Content wrapper -->
		    <div class="wrapper">

			    <!-- Breadcrumbs line -->
			    <div class="crumbs">
			    	<?php echo $this->render('/helpers/breadcrumb.phtml') ?>
			    </div>
			    <!-- /breadcrumbs line -->
			    
			    <!-- Page header -->
			    <div class="page-header">
			    	<div class="page-title">
				    	<h5>Registros Financeiros no sistema</h5>
				    	<span>Visualize os registros financeiros do sistema</span>
			    	</div>
			    </div>
			    <!-- /page header -->
			    
			    <?php if (isset($this->crudMessage)) : ?>
				<div class="alert alert-success">
                	<button data-dismiss="alert" class="close" type="button">×</button>
                    <strong>Operação realizada com sucesso!</strong>
	    			<span><br /><?php echo $this->crudMessage ?></span>
                </div>			    
			    <?php endif; ?>
			    <?php
			    	//id da escola logada
					$idescola = Usuarios::getUsuario('idescola');
				?>
	                        	                        
                <!-- Table with footer -->
                <div class="widget">
                	<form action="#" class="form-horizontal" method="post">
                		<input type="hidden" value="<?php echo (isset($this->post_var['sorting'])) ? $this->post_var['sorting'] : '' ?>" name="sorting" />
	                	<div class="navbar">
	                		<div class="navbar-inner">
	                			<h6>Visualizando registros</h6>
	                			<?php if (Mn_Util::isAccess($this->getController(), 'adicionar')) : ?>
	                			<a style="float:right;" href="<?php echo $this->baseUrl() ?>/<?php echo 'admin' ?>/<?php echo $this->getController() ?>/adicionar" class="btn btn-primary"><span class="icon-plus"></span>&nbsp;Adicionar registro financeiro</a>
	                			<?php endif; ?>
	                		</div>
	                	</div>
	                    <div class="table-overflow">
	                        <table class="table table-content">
	                            <thead>
	                                <tr>
	                                    <th width="20">#</th>	
	                                    <th class="s-idescola sorting">Escola</th>
	                                    <th class="s-idconvenio sorting" width="120">Programa</th>
	                                    <th class="s-data sorting" width="80">Data</th>
	                                    <th class="s-natureza sorting" width="60">Natureza</th>
	                                    <th class="s-tipo sorting" width="60">Tipo</th>
	                                    <th width="100">Ações</th>
	                                </tr>
	                                <tr>
	                                    <th></th>
										<th width="20%">
											<div>
												<?php if($idescola>0): ?>
													<input type="hidden" name="idescola" value="<?php echo $idescola?>">
													<label><?php echo Escolas::getEscolaNomeByIdHelper($idescola) ?></label>
												<?php else:?>
													<select name="idescola" placeholder="Todos" class="select">
														<option value="">Todos</option>
														<?php foreach (Escolas::getEscolasHelper(array('status'=>'Ativo')) as $k=>$v) : ?>
															<option value="<?php echo $v['id'] ?>"><?php echo $v['escola'] ?></option>
														<?php endforeach;?>
													</select>
												<?php endif;?>
											</div>
										</th>
										<th>
											<div>
												<select name="idconvenio" placeholder="Todos" class="select">
													<option value="">Todos</option>
													<?php foreach (Escolasprogramasgov::getEscolasprogramasgovHelper(array('status'=>'Ativo', 'idescola'=>$idescola)) as $k=>$v) : ?>
														<option value="<?php echo $v['id'] ?>"><?php echo $v['titulo'] ?></option>
													<?php endforeach;?>
												</select>
											</div>
										</th>

										<th>
											<input name="data_i" value="<?php echo (isset($this->post_var['data_i'])) ? Mn_Util::formPostVarData($this->post_var['data_i']) : '' ?>" type="text" placeholder="Data inicial" class="span3">
											<input name="data_f" value="<?php echo (isset($this->post_var['data_f'])) ? Mn_Util::formPostVarData($this->post_var['data_f']) : '' ?>" type="text" placeholder="Data final" class="span3">
										</th>

										<th>
											<div>
											<select name="natureza" data-placeholder="natureza" class="select">
												<option value="">Todos</option>
												<option value="Custeio">Custeio</option><option value="Capital">Capital</option>
											</select>
											</div>
										</th>

										<th>
											<div>
												<select name="tipo" placeholder="Todos" class="select">
													<option value="">Todos</option>
													<option value="Receita">Receita</option><option value="Despesa">Despesa</option>
												</select>
											</div>
										</th>
                   

	                                    <th><button class="btn btn-mini btn-primary" type="submit">Pesquisar</button></th>
	                                </tr> 
	                                <tr>
	                                	<td colspan="4"></td>
	                                	<td colspan="2" align="right"><a title="" class="btn tip" href="<?php echo $this->baseUrl() ?>/<?php echo 'admin' ?>/<?php echo $this->getController() ?>/index/to/xls" target="_blank" data-original-title="Visualizar" style="padding: 7px 5px 8px;"><i class="ico-download-alt"></i> Relatório Financeiro (Excel)</a></td>
	                                	
	                                	<?php if($this->idescola > 0 && $this->idconvenio): ?>
	                                	<td ><a title="" class="btn tip" href="<?php echo $this->baseUrl() ?>/<?php echo 'admin' ?>/<?php echo $this->getController() ?>/index/to/pdf" target="_blank" data-original-title="Visualizar" style="padding: 7px 5px 8px;"><i class="ico-download-alt"></i> Relatório PDF</a></td>
	                                	<?php endif; ?>
	                                </tr>
	                                                                
	                            </thead>
	                            <tbody>
	                            	<?php if (sizeof($this->rows)==0) : ?>
	                                <tr>
	                                    <td colspan="6">Nenhum registro foi encontrado!</td>
	                                </tr>
	                            	
	                            	<?php else : ?>
	                            	<?php foreach ($this->rows as $row) : ?>
	                                <tr>
	                                	<td><?php echo $row['id'] ?></td>

										<td>
											<?php
												$___rows = Escolas::getEscolasHelper(array('id'=>$row['idescola']));
												$___row = (sizeof($___rows)>0) ? 	$___rows[0] : false;	
												
												echo ($___row) ? $this->formatTextoBranco($___row['escola']) : '--';		
											?>
										</td>

										<td>
											<?php
												$___row = Escolasprogramasgov::getEscolaprogramagovByIdHelper((int)$row['idconvenio']);
												
												echo ($___row) ? $this->formatTextoBranco($___row['titulo']) : '--';		
											?>
										</td>
										<td><?php echo date('d/m/Y', strtotime($row['data']))?></td>

										<td><?php echo $this->formatTextoBranco($row['natureza']) ?></td>
										<td><?php echo $row['tipo'] ?></td>

			                				

	                                    <td>
	                                        <ul class="table-controls">
	                                            <li><a title="" class="btn tip" href="<?php echo $this->baseUrl() ?>/<?php echo 'admin' ?>/<?php echo $this->getController() ?>/visualizar/id/<?php echo $row['id'] ?>" data-original-title="Visualizar"><i class="icon-eye-open"></i></a> </li>
	                                            <?php if (Mn_Util::isAccess($this->getController(), 'editar')) : ?>
	                                            <li><a title="" class="btn tip" href="<?php echo $this->baseUrl() ?>/<?php echo 'admin' ?>/<?php echo $this->getController() ?>/editar/id/<?php echo $row['id'] ?>" data-original-title="Editar"><i class="icon-pencil"></i></a> </li>
	                                            <?php endif;?>
	                                            <?php if (Mn_Util::isAccess($this->getController(), 'excluir')) : ?>
	                                            <li><a title="" class="btn tip" href="javascript:confirmDelete('<?php echo $row['id']; ?>','registro');" data-original-title="Excluir"><i class="icon-remove"></i></a> </li>
	                                            <?php endif; ?>
	                                        </ul>
	                                    </td>
	                                </tr>
	                            	<?php endforeach;?>
	                            	
	                            	
	                            	
	                            	
	                            	<?php endif; ?>
	
	                            </tbody>
	                        </table>
	                    </div>
	                    <?php echo $this->render('/helpers/paginator.phtml') ?>
                    
                    </form>

                </div>
                <!-- /table with footer -->
	                        


		    </div>
		    <!-- /content wrapper -->

		</div>
		<!-- content -->
		
		
<script type="text/javascript" src="<?php echo $this->baseUrl('/public/scripts/admin/financeirocontasregistros_index.js') ?>"></script>
<script type="text/javascript">

	var form_values = {};
	<?php if (isset($this->post_var)) :  ?>
		form_values.origem = '<?php echo (isset($this->post_var['origem'])) ? $this->post_var['origem'] : '' ?>';

		form_values.idescola = '<?php echo (isset($this->post_var['idescola'])) ? $this->post_var['idescola'] : '' ?>';

		form_values.idtipoconvenio = '<?php echo (isset($this->post_var['idtipoconvenio'])) ? $this->post_var['idtipoconvenio'] : '' ?>';

		form_values.idconvenio = '<?php echo (isset($this->post_var['idconvenio'])) ? $this->post_var['idconvenio'] : '' ?>';

		form_values.idbanco = '<?php echo (isset($this->post_var['idbanco'])) ? $this->post_var['idbanco'] : '' ?>';

		form_values.natureza = '<?php echo (isset($this->post_var['natureza'])) ? $this->post_var['natureza'] : '' ?>';

		form_values.tipo = '<?php echo (isset($this->post_var['tipo'])) ? $this->post_var['tipo'] : '' ?>';

		form_values.idtiporeceita = '<?php echo (isset($this->post_var['idtiporeceita'])) ? $this->post_var['idtiporeceita'] : '' ?>';

		form_values.idtipodespesa = '<?php echo (isset($this->post_var['idtipodespesa'])) ? $this->post_var['idtipodespesa'] : '' ?>';

		form_values.faturado = '<?php echo (isset($this->post_var['faturado'])) ? $this->post_var['faturado'] : '' ?>';

		form_values.status1 = '<?php echo (isset($this->post_var['status1'])) ? $this->post_var['status1'] : '' ?>';

	
	<?php endif; ?>

	var sorting = ["idescola", "idtipoconvenio", "idconvenio", "fornecedor", "cpfcnpj", "data", "valor", "tipo", "idtiporeceita", "idtipodespesa", "tipodocumento", "faturado", "status"];
	
</script>	


