<?php if (sizeof($this->rows)==0) : ?>
<option value="">Selecione...</option>
<option value="">Nenhum banco encontrado</option>
<?php else : ?>
<option value="">Selecione...</option>
<?php foreach ($this->rows as $row) : ?>
<option value="<?php echo $row['id'] ?>"><?php echo $row['banco'] . '  Agencia:' . $row['agencia'] . ' Conta: ' . $row['conta'] . ' Digito:' . $row['digito'] ; ?></option>
<?php endforeach; ?>
<?php endif; ?>
