		<!-- Content -->
		<div id="content">

		    <!-- Content wrapper -->
		    <div class="wrapper">

			    <!-- Breadcrumbs line -->
			    <div class="crumbs">
			    	<?php echo $this->render('/helpers/breadcrumb.phtml') ?>
			    </div>
			    <!-- /breadcrumbs line -->

			    <!-- Page header -->
			    <div class="page-header">
			    	<div class="page-title">
				    	<h5>Formulário do ligação efetuada</h5>
				    	<span>Verifique os campos e preencha com os dados</span>
			    	</div>
			    </div>
			    <!-- /page header -->

			    <?php if (isset($this->crudMessage)) : ?>
					<div class="alert alert-success">
	                	<button data-dismiss="alert" class="close" type="button">×</button>
	                    <strong>Operação realizada com sucesso!</strong>
		    			<span><br /><?php echo $this->crudMessage ?></span>
	                </div>			    
			    <?php endif; ?>

				<form id="form" name="form" action="" method="post" class="form-horizontal" enctype="multipart/form-data"> 
					<input type="hidden" value="<?php echo (isset($this->post_var)) ? $this->post_var["id"] : ''; ?>" name="id" id="id" />
					
					<fieldset>
						<!-- General form elements -->
						<div class="widget row-fluid">
						    <div class="navbar">
						        <div class="navbar-inner">
						            <h6>Digite as informações do formulário</h6>
						        </div>
						    </div>

						    <div class="well">
								<?php if (isset($this->erros)) : ?>
									<div class="alert alert-error margin">
				                        <button data-dismiss="alert" class="close" type="button">×</button>
				                        <strong>Há erros no formulário!</strong>
					    				<?php foreach ($this->erros as $k=>$v) : ?>
					    					<span><br />- <?php echo $v ?></span>
					    				<?php endforeach;?>			                        
				                    </div>
			                    <?php endif; ?>						    
						    

				<div class="control-group">
					<label class="control-label">Origem<span class="required">*</span></label>
					<div class="controls">
						<input maxlength="500" placeholder="Origem" name="origem" value="<?php echo (isset($this->post_var['origem'])) ? $this->post_var['origem'] : '' ?>" type="text"  class="span3" />
					</div>
				</div>

			   <div class="control-group">
					<label class="control-label">Local solicitante <span class="required">*</span></label>
					<div class="controls">
						<input maxlength="500" placeholder="Local solicitante " name="localsolicitante" value="<?php echo (isset($this->post_var['localsolicitante'])) ? $this->post_var['localsolicitante'] : '' ?>" type="text"  class="span3" />
					</div>
				</div>

				<div class="control-group">
					<label class="control-label">Funcionario<span class="required">*</span></label>
					<div class="controls">
						<input maxlength="500" placeholder="Funcionario" name="funcionario" value="<?php echo (isset($this->post_var['funcionario'])) ? $this->post_var['funcionario'] : '' ?>" type="text"  class="span3" />
					</div>
				</div>
 

				<div class="control-group">
					<label class="control-label">Falar com<span class="required">*</span></label>
					<div class="controls">
						<input maxlength="500" placeholder="Falar com" name="falarcom" value="<?php echo (isset($this->post_var['falarcom'])) ? $this->post_var['falarcom'] : '' ?>" type="text"  class="span3" />
					</div>
				</div>

				<div class="control-group">
					<label class="control-label">Assunto<span class="required">*</span></label>
					<div class="controls">
						<input maxlength="500" placeholder="Assunto" name="assunto" value="<?php echo (isset($this->post_var['assunto'])) ? $this->post_var['assunto'] : '' ?>" type="text"  class="span3" />
					</div>
				</div>

				<div class="control-group">
					<label class="control-label">Data</label>
					<div class="controls"><input placeholder="Data" name="dataefetuada" value="<?php echo (isset($this->post_var['dataefetuada'])) ? Mn_Util::formPostVarData($this->post_var['dataefetuada']) : '' ?>" type="text"  class="span3" /></div>
				</div>

				<div class="control-group">
					<label class="control-label">Hora</label>
					<div class="controls"><input  placeholder="Hora" name="horaefetuada" value="<?php echo (isset($this->post_var['horaefetuada'])) ? date('G:i', strtotime($this->post_var['horaefetuada'])) : '' ?>" type="text"  class="span3" /></div>
				</div>

				<div class="control-group">
					<label class="control-label">Telefone <span class="required">*</span></label>
					<div class="controls"><input maxlength="500" placeholder="Telefone" name="telefone" value="<?php echo (isset($this->post_var['telefone'])) ? $this->post_var['telefone'] : '' ?>" type="text"  class="span3" /></div>
				</div>
						    
						    
						    </div>
						    
			                <div class="form-actions align-right">
			                	<?php if ((isset($this->visualizar)) && ($this->visualizar)) : ?>
			                		<button onclick="window.history.back()" class="btn btn-danger cancelar" type="button">Voltar</button>
			                	<?php else : ?>
				                	<button class="btn btn-primary enviar" type="submit">Salvar</button>
				                	<button onclick="window.history.back()" class="btn btn-danger cancelar" type="button">Cancelar</button>
			                	<?php endif; ?>
			                </div>
						</div>
						<!-- /general form elements -->

					</fieldset> 

				</form>
				<!-- /basic inputs -->

		    </div>
		    <!-- /content wrapper -->

		</div>
		<!-- content -->
				
<script type="text/javascript" src="<?php echo $this->baseUrl('/public/scripts/admin/ligacoesrecebidas_form.js') ?>"></script>
<script type="text/javascript">
	var form_values = {};
	
	<?php if (isset($this->post_var)) :  ?>
		form_values.iddepartamento = '<?php echo (isset($this->post_var['iddepartamento'])) ? $this->post_var['iddepartamento'] : '' ?>';

form_values.idusuario = '<?php echo (isset($this->post_var['idusuario'])) ? $this->post_var['idusuario'] : '' ?>';

form_values.idfuncionario = '<?php echo (isset($this->post_var['idfuncionario'])) ? $this->post_var['idfuncionario'] : '' ?>';

form_values.e_idenderecoidestado = '<?php echo (isset($this->post_var['e_idenderecoidestado'])) ? $this->post_var['e_idenderecoidestado'] : '' ?>';
form_values.status1 = '<?php echo (isset($this->post_var['status1'])) ? $this->post_var['status1'] : $this->post_var['status'] ?>';


	<?php endif; ?>

	visualizar = <?php echo  ((isset($this->visualizar)) && ($this->visualizar))  ? 'true' : 'false' ?>;
</script>
