		<!-- Content -->
		<div id="content">

		    <!-- Content wrapper -->
		    <div class="wrapper">

			    <!-- Breadcrumbs line -->
			    <div class="crumbs">
			    	<?php echo $this->render('/helpers/breadcrumb.phtml') ?>
			    </div>
			    <!-- /breadcrumbs line -->

			    <!-- Page header -->
			    <div class="page-header">
			    	<div class="page-title">
				    	<h5>Ligações recebidas no sistema</h5>
				    	<span>Visualize os ligações recebidas do sistema</span>
			    	</div>
			    	
			    </div>
			    <!-- /page header -->
			    
			    <?php if (isset($this->crudMessage)) : ?>
				<div class="alert alert-success">
                	<button data-dismiss="alert" class="close" type="button">×</button>
                    <strong>Operação realizada com sucesso!</strong>
	    			<span><br /><?php echo $this->crudMessage ?></span>
                </div>			    
			    <?php endif; ?>




	                        	                        
                <!-- Table with footer -->
                <div class="widget">
                	<form action="#" class="form-horizontal" method="post">
                		<input type="hidden" value="<?php echo (isset($this->post_var['sorting'])) ? $this->post_var['sorting'] : '' ?>" name="sorting" />
	                	<div class="navbar">
	                		<div class="navbar-inner">
	                			<h6>Visualizando registros</h6>
	                			<?php if (Mn_Util::isAccess($this->getController(), 'adicionar')) : ?>
	                			<a style="float:right;" href="<?php echo $this->baseUrl() ?>/<?php echo 'admin' ?>/<?php echo $this->getController() ?>/adicionar" class="btn btn-primary"><span class="icon-plus"></span>&nbsp;Adicionar ligação recebida</a>
	                			<?php endif; ?>
	                		</div>
	                	</div>
	                    <div class="table-overflow">
	                        <table class="table table-content">
	                            <thead>
	                                <tr>
	                                    <th width="20">#</th>
						 
										<th class="s-origem sorting">origem</th> 
										<th class="s-localsolicitante sorting">localsolicitante</th> 
										<th class="s-funcionario sorting">funcionario</th> 
										<th class="s-falarcom sorting">falarcom</th> 
										<th class="s-telefone sorting">telefone</th>   
										<th class="s-dataefetuada sorting">dataefetuada</th>   
											<th></th>
	                                    <th width="96">Ações</th>
	                                </tr>
	                                <tr> 
<th></th>
									     <th>
										    <input name="origem" value="<?php echo (isset($this->post_var['origem'])) ? $this->post_var['origem'] : '' ?>" type="text" style="display: block; margin-top: 6px;" placeholder="Nome da licença" >
										 </th>
									     <th>
										    <input name="localsolicitante" value="<?php echo (isset($this->post_var['localsolicitante'])) ? $this->post_var['localsolicitante'] : '' ?>" type="text" style="display: block; margin-top: 6px;" placeholder="Nome da licença">
										 </th>
										 <th>
										    <input name="funcionario" value="<?php echo (isset($this->post_var['funcionario'])) ? $this->post_var['funcionario'] : '' ?>" type="text" style="display: block; margin-top: 6px;" placeholder="Nome da licença">
										 </th>
										 <th>
										    <input name="falarcom" value="<?php echo (isset($this->post_var['falarcom'])) ? $this->post_var['falarcom'] : '' ?>" type="text" style="display: block; margin-top: 6px;" placeholder="Nome da licença">
										 </th>
										 <th>
										    <input name="telefone" value="<?php echo (isset($this->post_var['telefone'])) ? $this->post_var['telefone'] : '' ?>" type="text" style="display: block; margin-top: 6px;" placeholder="Nome da licença">
										 </th>
										 <th>
										    <input name="dataefetuada" value="<?php echo (isset($this->post_var['dataefetuada'])) ? $this->post_var['dataefetuada'] : '' ?>" type="text" style="display: block; margin-top: 6px;" placeholder="Nome da licença">
										 </th>

										 
 <th></th> 
                   

	                                    <th><button class="btn btn-mini btn-primary" type="submit">Pesquisar</button></th>
	                                </tr> 
	                                                                
	                            </thead>
	                            <tbody>
	                            	<?php if (sizeof($this->rows)==0) : ?>
	                                <tr>
	                                    <td colspan="5">Nenhum registro foi encontrado!</td>
	                                </tr>
	                            	
	                            	<?php else : ?>
	                            	<?php foreach ($this->rows as $row) : ?>
	                                <tr>
	                                <td></td>
										<td><?php echo $row['origem'] ?></td>
										<td><?php echo $row['localsolicitante'] ?></td>
										<td><?php echo $row['funcionario'] ?></td>
										<td><?php echo $row['falarcom'] ?></td> 
										<td><?php echo $row['telefone'] ?></td> 
										<td><?php echo $row['dataefetuada'] ?></td> 
										  <td></td>
	                                    <td>
	                                        <ul class="table-controls">
	                                            <li><a title="" class="btn tip" href="<?php echo $this->baseUrl() ?>/<?php echo 'admin' ?>/<?php echo $this->getController() ?>/visualizar/id/<?php echo $row['id'] ?>" data-original-title="Visualizar"><i class="icon-eye-open"></i></a> </li>
	                                            <?php if (Mn_Util::isAccess($this->getController(), 'editar')) : ?>
	                                            <li><a title="" class="btn tip" href="<?php echo $this->baseUrl() ?>/<?php echo 'admin' ?>/<?php echo $this->getController() ?>/editar/id/<?php echo $row['id'] ?>" data-original-title="Editar"><i class="icon-pencil"></i></a> </li>
	                                            <?php endif;?>
	                                            <?php if (Mn_Util::isAccess($this->getController(), 'excluir')) : ?>
	                                            <li><a title="" class="btn tip" href="javascript:confirmDelete('<?php echo $row['id']; ?>','registro');" data-original-title="Excluir"><i class="icon-remove"></i></a> </li>
	                                            <?php endif; ?>
	                                        </ul>
	                                    </td>
	                                </tr>
	                            	<?php endforeach;?>
	                            	
	                            	
	                            	
	                            	
	                            	<?php endif; ?>
	
	                            </tbody>
	                        </table>
	                        </table>
	                    </div>
	                    <?php echo $this->render('/helpers/paginator.phtml') ?>
                    
                    </form>

                </div>
                <!-- /table with footer -->
	                        


		    </div>
		    <!-- /content wrapper -->

		</div>
		<!-- content -->
		
		
<script type="text/javascript" src="<?php echo $this->baseUrl('/public/scripts/admin/ligacoesrecebidas_index.js') ?>"></script>
<script type="text/javascript">

	var form_values = {};
	<?php if (isset($this->post_var)) :  ?>
form_values.iddepartamento = '<?php echo (isset($this->post_var['iddepartamento'])) ? $this->post_var['iddepartamento'] : '' ?>';

form_values.idusuario = '<?php echo (isset($this->post_var['idusuario'])) ? $this->post_var['idusuario'] : '' ?>';

form_values.idfuncionario = '<?php echo (isset($this->post_var['idfuncionario'])) ? $this->post_var['idfuncionario'] : '' ?>';

form_values.e_idenderecoidestado = '<?php echo (isset($this->post_var['e_idenderecoidestado'])) ? $this->post_var['e_idenderecoidestado'] : '' ?>';
form_values.status1 = '<?php echo (isset($this->post_var['status1'])) ? $this->post_var['status1'] : $this->post_var['status'] ?>';

	
	<?php endif; ?>

	var sorting = ["iddepartamento", "idusuario", "idfuncionario", "telefone", "status"];
	
</script>	


