		<!-- Content -->
		<div id="content">

		    <!-- Content wrapper -->
		    <div class="wrapper">

			    <!-- Breadcrumbs line -->
			    <div class="crumbs">
			    	<?php echo $this->render('/helpers/breadcrumb.phtml') ?>
			    </div>
			    <!-- /breadcrumbs line -->

			    <!-- Page header -->
			    <div class="page-header">
			    	<div class="page-title">
				    	<h5>Formulário do estorno</h5>
				    	<span>Verifique os campos e preencha com os dados</span>
			    	</div>
			    </div>
			    <!-- /page header -->

			    <?php if (isset($this->crudMessage)) : ?>
					<div class="alert alert-success">
	                	<button data-dismiss="alert" class="close" type="button">×</button>
	                    <strong>Operação realizada com sucesso!</strong>
		    			<span><br /><?php echo $this->crudMessage ?></span>
	                </div>			    
			    <?php endif; ?>

				<form id="form" name="form" action="" method="post" class="form-horizontal" enctype="multipart/form-data"> 
					<input type="hidden" value="<?php echo (isset($this->post_var)) ? $this->post_var["id"] : ''; ?>" name="id" id="id" />
					
					<fieldset>
						<!-- General form elements -->
						<div class="widget row-fluid">
						    <div class="navbar">
						        <div class="navbar-inner">
						            <h6>Digite as informações do formulário</h6>
						        </div>
						    </div>

						    <div class="well">
								<?php if (isset($this->erros)) : ?>
									<div class="alert alert-error margin">
				                        <button data-dismiss="alert" class="close" type="button">×</button>
				                        <strong>Há erros no formulário!</strong>
					    				<?php foreach ($this->erros as $k=>$v) : ?>
					    					<span><br />- <?php echo $v ?></span>
					    				<?php endforeach;?>			                        
				                    </div>
			                    <?php endif; ?>						    
						    

				<div class="control-group">
					<label class="control-label">Data</label>
					<div class="controls"><input placeholder="Data" name="data" value="<?php echo (isset($this->post_var['data'])) ? Mn_Util::formPostVarData($this->post_var['data']) : '' ?>" type="text"  class="span3" /></div>
				</div>


				<div class="control-group">
					<label class="control-label">Número Sequencial <span class="required">*</span></label>
					<div class="controls"><input maxlength="500" placeholder="Número Sequencial" name="sequencial" value="<?php echo (isset($this->post_var['sequencial'])) ? $this->post_var['sequencial'] : '' ?>" type="text"  class="span3" /></div>
				</div>


				<div class="control-group">
					<label class="control-label">Descrições </label>
					<div class="controls"><textarea class="span12" name="descricoes" cols="5" rows="5"><?php echo (isset($this->post_var)) ? $this->post_var["descricoes"] : ''; ?></textarea></div>
				</div>


				<div class="control-group">
					<label class="control-label">Justificativa <span class="required">*</span></label>
					<div class="controls">
		                <select name="idjustificativa" data-placeholder="Justificativa" class="select">
							<option value="">Selecione...</option>
							<?php foreach (Almoxarifadojustificativas::getAlmoxarifadojustificativasHelper(array('status'=>'Ativo')) as $k=>$v) : ?>
							<option value="<?php echo $v['id'] ?>"><?php echo $v['justificativa'] ?></option>
							<?php endforeach;?>
						</select>
						
					</div>
				</div>


				<div class="control-group">
					<label class="control-label">Origem <span class="required">*</span></label>
					<div class="controls">
		                <select name="idorigem" data-placeholder="Origem" class="select">
							<option value="">Selecione...</option>
							<?php foreach (Almoxarifado_Entradas::getOrigem() as $k=>$v) : ?>
							<option value="<?php echo $k ?>"><?php echo $v ?></option>
							<?php endforeach;?>
						</select>
						
					</div>
				</div>

				<div class="control-group">
					<label class="control-label">Produtos </label>
					<div class="controls itens">
						<table class="table table-primary mb30">
							<thead>
								<tr>
									<th colspan="8" align="center" style="text-align: center;">ITENS</th>
								</tr>
								<tr>
									<th>Cód.</th>
									<th>Produto</th>
									<th>Unid</th>
									<th>Marca</th>
									<th>Estoque</th>
									<th>Quantidade</th>
									<th>Observações</th>
									<th width="30">Ações</th>
								</tr>
							</thead>
							<tbody id="raiz">
								<?php if(isset($this->post_var['id'])) : ?>						
								<script type="text/javascript">

								$(document).ready(function() {

									<?php foreach (Almoxarifado_Escolassaidasitens::getEscolassaidasitens(array('idsaida'=>$this->post_var['id'], 'idescola'=>Escolasusuarios::getUsuario('idescola'))) as $k=>$v) : ?>
									<?php $entrada = 0;?>
									<?php $saida = 0;?>
									<?php $entrada = (int)Almoxarifado_Entradasitens::getQuantidadeByIdProdutoHelper($v['idproduto'], array('idescola'=>Escolasusuarios::getUsuario('idescola'))) ?>
									<?php $saida = (int)Almoxarifado_Escolassaidasitens::getQuantidadeByIdProdutoHelper($v['idproduto'], array('diferentidsaida'=>$this->post_var['id'])) ?>
									var item = new Object();
									item.id = '<?php echo $v['id'] ?>';
									item.idproduto = '<?php echo $v['idproduto'] ?>';
									item.estoque = '<?php echo $entrada - $saida; ?>';
									item.quantidade = '<?php echo $v['quantidade'] ?>';
									item.observacoes = '<?php echo $v['observacoes'] ?>';
									item.status = '<?php echo $v['status'] ?>';
									item.entrada = '<?php echo $entrada ?>';
									item.saida = '<?php echo $saida ?>';
									iteAddTr(item);
									<?php endforeach;?>

								});

								</script>	
								<?php endif;?>				
							</tbody>
							<?php if ((isset($this->visualizar)) && ($this->visualizar)) : ?>
							
							<?php else: ?>
							<tfoot>
								<tr>
									<td colspan="8" align="right" style="text-align:right !Important;"><input onclick="iteAddTr(false)" type="button" value="Adicionar" /></td>
								</tr>									
							</tfoot>
							<?php endif;?>
						</table>
					</div>
				</div>


				<div class="control-group">
					<label class="control-label">Origem Cliente </label>
					<div class="controls">
						<select name="idorigemcliente" data-placeholder="Origem Cliente" class="select">
							<option value="">Selecione...</option>
							
						</select>
						
					</div>
				</div>


				<div class="control-group">
					<label class="control-label">Status <span class="required">*</span></label>
					<div class="controls">
						<select name="status1" data-placeholder="Status" class="select">
							<option value="">Selecione...</option>
							<option value="Ativo">Ativo</option><option value="Bloqueado">Bloqueado</option>
						</select>
						
					</div>
				</div>

						    
						    
						    </div>
						    
			                <div class="form-actions align-right">
			                	<?php if ((isset($this->visualizar)) && ($this->visualizar)) : ?>
			                		<button onclick="window.history.back()" class="btn btn-danger cancelar" type="button">Voltar</button>
			                	<?php else : ?>
				                	<button class="btn btn-primary enviar" type="submit">Salvar</button>
				                	<button onclick="window.history.back()" class="btn btn-danger cancelar" type="button">Cancelar</button>
			                	<?php endif; ?>
			                </div>
						</div>
						<!-- /general form elements -->

					</fieldset> 

				</form>
				<!-- /basic inputs -->

		    </div>
		    <!-- /content wrapper -->

		</div>
		<!-- content -->
				
<script type="text/javascript" src="<?php echo $this->baseUrl('/public/scripts/admin/almoxarifadoestornos_form.js') ?>"></script>
<script type="text/javascript">
	var form_values = {};
	
	<?php if (isset($this->post_var)) :  ?>
		form_values.idjustificativa = '<?php echo (isset($this->post_var['idjustificativa'])) ? $this->post_var['idjustificativa'] : '' ?>';

		form_values.idorigem = '<?php echo (isset($this->post_var['idorigem'])) ? $this->post_var['idorigem'] : '' ?>';

		form_values.idorigemcliente = '<?php echo (isset($this->post_var['idorigemcliente'])) ? $this->post_var['idorigemcliente'] : '' ?>';

		form_values.status1 = '<?php echo (isset($this->post_var['status1'])) ? $this->post_var['status1'] : $this->post_var['status'] ?>';
	<?php endif; ?>

	visualizar = <?php echo  ((isset($this->visualizar)) && ($this->visualizar))  ? 'true' : 'false' ?>;

	<?php $this->produtos = array(); ?>
	var produtos = new Array();
	<?php foreach ($this->produtos as $ip=>$produto) : ?>
	var produto = {};
	produto.id = '<?php echo $produto['id'] ?>';
	produto.produto = '<?php echo $produto['produto'] ?>';
	produtos.push(produto);
	<?php endforeach;?>
	
	<?php $this->fornecedores = array(); ?>
	var fornecedores = new Array();
	<?php foreach ($this->fornecedores as $if=>$fornecedor) : ?>
	var fornecedor = {};
	fornecedor.id = '<?php echo $fornecedor['id'] ?>';
	fornecedor.fornecedor = '<?php echo $fornecedor['razaosocial'] . " (" . $fornecedor['nomefantasia'] . " - " . $fornecedor['cpfcnpj'] . ")"; ?>';
	fornecedores.push(fornecedor);
	<?php endforeach;?>
</script>
