		<!-- Content -->
		<div id="content">

		    <!-- Content wrapper -->
		    <div class="wrapper">

			    <!-- Breadcrumbs line -->
			    <div class="crumbs">
			    	<?php echo $this->render('/helpers/breadcrumb.phtml') ?>
			    </div>
			    <!-- /breadcrumbs line -->

			    <!-- Page header -->
			    <div class="page-header">
			    	<div class="page-title">
				    	<h5>Formulário do histórico de pontuação</h5>
				    	<span>Verifique os campos e preencha com os dados</span>
			    	</div>
			    </div>
			    <!-- /page header -->

			    <?php if (isset($this->crudMessage)) : ?>
					<div class="alert alert-success">
	                	<button data-dismiss="alert" class="close" type="button">×</button>
	                    <strong>Operação realizada com sucesso!</strong>
		    			<span><br /><?php echo $this->crudMessage ?></span>
	                </div>			    
			    <?php endif; ?>

				<form id="form" name="form" action="" method="post" class="form-horizontal" enctype="multipart/form-data"> 
					<input type="hidden" value="<?php echo (isset($this->post_var)) ? $this->post_var["id"] : ''; ?>" name="id" id="id" />
					
					<fieldset>
						<!-- General form elements -->
						<div class="widget row-fluid">
						    <div class="navbar">
						        <div class="navbar-inner">
						            <h6>Histórico de pontuação</h6>
						        </div>
						    </div>

						    <div class="well">
								<?php if (isset($this->erros)) : ?>
									<div class="alert alert-error margin">
				                        <button data-dismiss="alert" class="close" type="button">×</button>
				                        <strong>Há erros no formulário!</strong>
					    				<?php foreach ($this->erros as $k=>$v) : ?>
					    					<span><br />- <?php echo $v ?></span>
					    				<?php endforeach;?>			                        
				                    </div>
			                    <?php endif; ?>						    
						    
						    </div>

						    <table class="table">
						    	<thead>
						    		<tr>
						    			<th style="text-align: center" colspan="2"><?= $this->post_var['nome'] ?></th>
						    		</tr>
						    	</thead>
						    	<tbody>
						    		<?php if(sizeof($this->cursos) <= 0): ?><tr>
						    			<td colspan="2">Nenhum curso cadastrado</td>
						    		</tr>
						    		<?php else: ?>
						    		<?php foreach($this->cursos as $k => $row): ?>
						    		<tr>
						    			<td>Fez o curso <strong><?php echo $row['curso'] ?>: </strong></td>
						    			<td><?php echo $row['pontuacao'] ?> Pontos</td>
						    		</tr>
						    		<?php endforeach; ?>
						    		<?php endif; ?>
						    	</tbody>
						    </table>
						    
			                <div class="form-actions align-right">
			                	<button onclick="window.history.back()" class="btn btn-danger cancelar" type="button">Voltar</button>
			                </div>
						</div>
						<!-- /general form elements -->

					</fieldset> 

				</form>
				<!-- /basic inputs -->

		    </div>
		    <!-- /content wrapper -->

		</div>
		<!-- content -->
				
<script type="text/javascript" src="<?php echo $this->baseUrl('/public/scripts/admin/documentacaohistoricospontuacoes_form.js') ?>"></script>
<script type="text/javascript">
	var form_values = {};
	
	<?php if (isset($this->post_var)) :  ?>
		form_values.idprofessor = '<?php echo (isset($this->post_var['idprofessor'])) ? $this->post_var['idprofessor'] : '' ?>';

form_values.status1 = '<?php echo (isset($this->post_var['status1'])) ? $this->post_var['status1'] : $this->post_var['status'] ?>';


	<?php endif; ?>

	visualizar = <?php echo  ((isset($this->visualizar)) && ($this->visualizar))  ? 'true' : 'false' ?>;
</script>
