<!-- Content -->
		<div id="content">

		    <!-- Content wrapper -->
		    <div class="wrapper">

			    <!-- Breadcrumbs line -->
			    <div class="crumbs">
			    	<?php echo $this->render('/helpers/breadcrumb.phtml') ?>
			    </div>
			    <!-- /breadcrumbs line -->

			    <!-- Page header -->
			    <div class="page-header">
			    	<div class="page-title">
				    	<h5>Relatório de PDDE e APMs</h5>
				    	<span>Verifique os campos e preencha com os dados</span>
			    	</div>
			    </div>
			    <!-- /page header -->

			    <?php if (isset($this->crudMessage)) : ?>
					<div class="alert alert-success">
	                	<button data-dismiss="alert" class="close" type="button">×</button>
	                    <strong>Operação realizada com sucesso!</strong>
		    			<span><br /><?php echo $this->crudMessage ?></span>
	                </div>			    
			    <?php endif; ?>

				<form id="form" name="form" action="" method="post" class="form-horizontal" enctype="multipart/form-data"> 
					<input type="hidden" value="<?php echo (isset($this->post_var)) ? $this->post_var["id"] : ''; ?>" name="id" id="id" />
					
					<fieldset>
						<!-- General form elements -->
						<div class="widget row-fluid">
						    <div class="navbar">
						        <div class="navbar-inner">
						            <h6>Digite as informações do formulário</h6>
						        </div>
						    </div>

						    <div class="well">
								<?php if (isset($this->erros)) : ?>
									<div class="alert alert-error margin">
				                        <button data-dismiss="alert" class="close" type="button">×</button>
				                        <strong>Há erros no formulário!</strong>
					    				<?php foreach ($this->erros as $k=>$v) : ?>
					    					<span><br />- <?php echo $v ?></span>
					    				<?php endforeach;?>			                        
				                    </div>
			                    <?php endif; ?>						    
						    
				<div class="control-group">
					<div class="controls1 visualizar">
						<table class="table table-content" width="100%">
							<tbody>
								<tr>
									<input placeholder="Data de Entrada" name="dataentrada" value="<?php echo (isset($this->post_var['dataentrada'])) ? Mn_Util::formPostVarData($this->post_var['dataentrada']) : date('d/m/Y') ?>" type="hidden"  class="span3" />
									<input  placeholder="Hora de Entrada" name="horaentrada" value="<?php echo (isset($this->post_var['horaentrada'])) ? $this->post_var['horaentrada'] : date('G:i:s') ?>" type="hidden"  class="span3" />
									
									<td width="50%">Data de Entrada: <?php echo date('d/m/Y') ?></td>
									<td width="50%">Hora de Entrada : <?php echo date('G:i') ?></td>
								</tr>
							</tbody>
						</table>
						
					</div>
				</div>


				<div class="control-group">
					<label class="control-label">Tipo de Convênio <span class="required">*</span></label>
					 
							<div class="controls">
								<select name="tipo" id="tipo" data-placeholder="Tipo do Convênio" class="select" >
									<option value="">Selecione...</option>
									<option value="pdde">PDDE</option>
									<option value="apm">APM</option>
								</select>
							</div>
					 
				</div>
 
				<div class="control-group">
					<label class="control-label">Escolas <span class="required">*</span></label>
					<div class="controls">
                        <select id="idescola" name="idescola"  class="select" onchange="geraRelatorio(this)">
	                        <option value="">Selecione...</option>
	                        <?php foreach ($this->escolas as $e=>$row): ?>
	                        <option value="<?php echo $row['id'] ?>"><?php echo $row['escola'] ?></option>
	                        <?php endforeach;?>
                        </select>   
					</div>
				</div>

				<div class="control-group">
					<label class="control-label">Data Inicial</label>
					<div class="controls"><input placeholder="Data" name="datainicio" value="" type="text"  class="span3" /></div>
				</div>


				<div class="control-group">
					<label class="control-label">Data Final</label>
					<div class="controls"><input placeholder="Data Final" name="datafim" value="" type="text"  class="span3" /></div>
				</div>



 				<div class="box-gerar" style="display: none">
					<div class="control-group">
						<label class="control-label">Relatório</label>
						<div class="controls button">
						</div>
					</div>
				</div>
				 

						    
						    
						    </div>
						    
			                <div class="form-actions align-right">
			                	<?php if ((isset($this->visualizar)) && ($this->visualizar)) : ?>
			                		<button onclick="window.history.back()" class="btn btn-danger cancelar" type="button">Voltar</button>
			                	<?php else : ?>
				                	<button onclick="window.history.back()" class="btn btn-danger cancelar" type="button">Cancelar</button>
			                	<?php endif; ?>
			                </div>
						</div>
						<!-- /general form elements -->

					</fieldset> 

				</form>
				<!-- /basic inputs -->

		    </div>
		    <!-- /content wrapper -->

		</div>
		<!-- content -->


<script type="text/javascript" src="<?php echo $this->baseUrl('/public/scripts/admin/relatoriosfinanceiros_index.js') ?>"></script>