		<!-- Content -->
		<div id="content">

		    <!-- Content wrapper -->
		    <div class="wrapper">

			    <!-- Breadcrumbs line -->
			    <div class="crumbs">
			    	<?php echo $this->render('/helpers/breadcrumb.phtml') ?>
			    </div>
			    <!-- /breadcrumbs line -->

			    <!-- Page header -->
			    <div class="page-header">
			    	<div class="page-title">
				    	<h5>Formulário de Sala de Recursos Multifuncionais Auxiliares</h5>
				    	<span>Verifique os campos e preencha com os dados</span>
			    	</div>
			    </div>
			    <!-- /page header -->

			    <?php if (isset($this->crudMessage)) : ?>
					<div class="alert alert-success">
	                	<button data-dismiss="alert" class="close" type="button">×</button>
	                    <strong>Operação realizada com sucesso!</strong>
		    			<span><br /><?php echo $this->crudMessage ?></span>
	                </div>			    
			    <?php endif; ?>

				<form id="form" name="form" action="" method="post" class="form-horizontal" enctype="multipart/form-data"> 
					<input type="hidden" value="<?php echo (isset($this->post_var)) ? $this->post_var["id"] : ''; ?>" name="id" id="id" />
					
					<fieldset>
						<!-- General form elements -->
						<div class="widget row-fluid">
						    <div class="navbar">
						        <div class="navbar-inner">
						            <h6>Digite as informações do formulário</h6>
						        </div>
						    </div>

						    <div class="well">
								<?php if (isset($this->erros)) : ?>
									<div class="alert alert-error margin">
				                        <button data-dismiss="alert" class="close" type="button">×</button>
				                        <strong>Há erros no formulário!</strong>
					    				<?php foreach ($this->erros as $k=>$v) : ?>
					    					<span><br />- <?php echo $v ?></span>
					    				<?php endforeach;?>			                        
				                    </div>
			                    <?php endif; ?>						    
						    

				<div class="control-group">
					<label class="control-label">Polo AEE <span class="required">*</span></label>
					<div class="controls">
		                <select name="idescola" data-placeholder="Polo AEE" class="select">
							<option value="">Selecione...</option>
							<?php foreach (Escolas::getEscolasHelper(array('status'=>'Ativo')) as $k=>$v) : ?>
							<option value="<?php echo $v['id'] ?>"><?php echo $v['escola'] ?></option>
							<?php endforeach;?>
						</select>
						
					</div>
				</div>

				<div class="control-group">
					<label class="control-label">Período <span class="required">*</span></label>
					<div class="controls">
						<div><input <?= (in_array("Manhã", explode(",", $this->post_var['periodo']))) ? "checked" : "" ?> class="checkperiodo" value="Manhã" name="periodo[]" type="checkbox"> Manhã<br></div>
						<div><input <?= (in_array("Intermediario", explode(",", $this->post_var['periodo']))) ? "checked" : "" ?> class="checkperiodo" value="Intermediario" name="periodo[]" type="checkbox"> Intermediario<br></div>
						<div><input <?= (in_array("Vespertino", explode(",", $this->post_var['periodo']))) ? "checked" : "" ?> class="checkperiodo" value="Vespertino" name="periodo[]" type="checkbox"> Vespertino<br></div>

					</div>
				</div>


				<div class="control-group">
					<label class="control-label">Semana <span class="required">*</span></label>
					<div class="controls">
						<div><input <?= (in_array("Domingo", explode(",", $this->post_var['diassemana']))) ? "checked" : "" ?> class="checksemana" value="Domingo" name="diassemana[]" type="checkbox"> Domingo<br></div>
						<div><input <?= (in_array("Segunda-feira", explode(",", $this->post_var['diassemana']))) ? "checked" : "" ?> class="checksemana" value="Segunda-feira" name="diassemana[]" type="checkbox"> Segunda-feira<br></div>
						<div><input <?= (in_array("Terça-feira", explode(",", $this->post_var['diassemana']))) ? "checked" : "" ?> class="checksemana" value="Terça-feira" name="diassemana[]" type="checkbox"> Terça-feira<br></div>
						<div><input <?= (in_array("Quarta-feira", explode(",", $this->post_var['diassemana']))) ? "checked" : "" ?> class="checksemana" value="Quarta-feira" name="diassemana[]" type="checkbox"> Quarta-feira<br></div>
						<div><input <?= (in_array("Quinta-feira", explode(",", $this->post_var['diassemana']))) ? "checked" : "" ?> class="checksemana" value="Quinta-feira" name="diassemana[]" type="checkbox"> Quinta-feira<br></div>
						<div><input <?= (in_array("Sexta-feira", explode(",", $this->post_var['diassemana']))) ? "checked" : "" ?> class="checksemana" value="Sexta-feira" name="diassemana[]" type="checkbox"> Sexta-feira<br></div>
						<div><input <?= (in_array("Sábado", explode(",", $this->post_var['diassemana']))) ? "checked" : "" ?> class="checksemana" value="Sábado" name="diassemana[]" type="checkbox"> Sábado<br></div>
						
					</div>
				</div>


				<!-- <div class="control-group">
					<label class="control-label">Auxiliar <span class="required">*</span></label>
					<div class="controls">
		                <select name="idfuncionario" data-placeholder="Auxiliar" class="select">
							<option value="">Selecione...</option>
							<?php// foreach ($this->rows as $k=>$v) : ?>
							<option value="<?php// echo $v['id'] ?>"><?php// echo $v['nome'] ?></option>
							<?php// endforeach;?>
						</select>
						
					</div>
				</div> -->

				<div class="control-group">
                            <label class="control-label">Auxiliar<span class="required">*</span></label>
                            <?php if (!$this->visualizar && ($this->post_var['id'] > 0)): ?>
                                <div class="controls">
                                    <?php $FuncionarioMeu = Funcionariosgeraisescolas::getFuncionariogeralescolaByIdHelper($this->post_var['idfuncionario'], array('Ativo' => 'sim')); ?>
                                    <input readonly type="hidden" name="idfuncionario" value="<?php echo $this->post_var['idfuncionario']; ?>" type="text" class="span3" />
                                    <input readonly placeholder="Funcionário" name="funcionariomeu" value="<?php echo $FuncionarioMeu['rgf'], ' - ', $FuncionarioMeu['nome']; ?>" type="text"  class="span3" />
                                </div>
                            <?php else : ?>
                                <div class="controls">
                                    <?php
                                   $usuar = Usuarios::getUsuario();
                                    $queries = array();

                                    (($usuar['idescola'] > 0) ? $queries['idescola'] = $usuar['idescola'] : '');
                                    if ($usuar['idfuncionario'] > 0) :
                                        $queries['idfuncionario'] = $usuar['idfuncionario'];
                                        $queries['meuid'] = $usuar['idfuncionario'];
                                    endif;

                                    $queries = array();
                                    $queries['idsfuncionariosgerais'] = $this->funcionariogeral['idsfuncionarios'];
                                    $idfuncionario = Usuarios::getUsuario('idfuncionario');
                                    $idescola = Usuarios::getUsuario('idescola');
                                    $idperfil = (int)Usuarios::getUsuario('idperfil');
                                    if((int)$idescola > 0){
                                        $meusfuncionarios = Meusfuncionariosgeraisescolas::getMeusfuncionariosgeraisescolaImplodeByIdescolaHelper($idfuncionario, $idescola, array());
                                        if((isset($meusfuncionarios)) && ($meusfuncionarios) && ($meusfuncionarios!="")){
                                            $queries['idsfuncionariosgerais'] = $meusfuncionarios;
                                        }else{
                                            $queries['idsfuncionariosgerais'] = '-1';
                                        }
                                    }elseif((int)$idperfil > 0){
                                        $idfuncionario = Usuarios::getUsuario('idfuncionario');
                                        $meusfuncionarios = Meusfuncionariosgeraisescolas::getMeusfuncionariosgeraisescolaImplodeByIdperfilHelper($idfuncionario, $idperfil, array());
                                        unset($queries['idsfuncionariosgerais']);
                                        if((isset($meusfuncionarios)) && ($meusfuncionarios) && ($meusfuncionarios!="")){
                                            $queries['idsfuncionariossel'] = $meusfuncionarios;
                                        }else{
                                            $queries['idsfuncionariossel'] = '-1';
                                        }
                                    }

                                    ?>
                                    <select name="idfuncionario"  data-placeholder="Funcionário" class="select" onchange="setDados(this)">
                                        <option value="">Selecione...</option>
                                        <?php foreach (Funcionariosgeraisescolas::getFuncionariosgeraisescolasHelper($queries) as $i => $row): ?>
                                            <option value="<?php echo $row['id'] ?>" <?php echo ($this->post_var['idfuncionario'] == $row['id']) ? 'selected' : ''; ?> /><?php echo $row['rgf'], ' - ', $row['nome'] ?> </option>
                                        <?php endforeach; ?>
                                    </select>
                                </div>
                            <?php endif; ?>
                        </div>


				<div class="control-group">
					<label class="control-label">Status <span class="required">*</span></label>
					<div class="controls">
						<select name="status1" data-placeholder="Status" class="select">
							<option value="">Selecione...</option>
							<option value="Ativo">Ativo</option><option value="Bloqueado">Bloqueado</option>
						</select>
						
					</div>
				</div>

						    
						    
						    </div>
						    
			                <div class="form-actions align-right">
			                	<?php if ((isset($this->visualizar)) && ($this->visualizar)) : ?>
			                		<button onclick="window.history.back()" class="btn btn-danger cancelar" type="button">Voltar</button>
			                	<?php else : ?>
				                	<button class="btn btn-primary enviar" type="submit">Salvar</button>
				                	<button onclick="window.history.back()" class="btn btn-danger cancelar" type="button">Cancelar</button>
			                	<?php endif; ?>
			                </div>
						</div>
						<!-- /general form elements -->

					</fieldset> 

				</form>
				<!-- /basic inputs -->

		    </div>
		    <!-- /content wrapper -->

		</div>
		<!-- content -->
				
<script type="text/javascript" src="<?php echo $this->baseUrl('/public/scripts/admin/educacaoespecialsalasauxiliares_form.js') ?>"></script>
<script type="text/javascript">
	var form_values = {};
	
	<?php if (isset($this->post_var)) :  ?>
		form_values.idescola = '<?php echo (isset($this->post_var['idescola'])) ? $this->post_var['idescola'] : '' ?>';
form_values.idfuncionario = '<?php echo (isset($this->post_var['idfuncionario'])) ? $this->post_var['idfuncionario'] : '' ?>';

form_values.status1 = '<?php echo (isset($this->post_var['status1'])) ? $this->post_var['status1'] : $this->post_var['status'] ?>';


	<?php endif; ?>

	visualizar = <?php echo  ((isset($this->visualizar)) && ($this->visualizar))  ? 'true' : 'false' ?>;
</script>
