		<!-- Content -->
		<div id="content">

		    <!-- Content wrapper -->
		    <div class="wrapper">

			    <!-- Breadcrumbs line -->
			    <div class="crumbs">
			    	<?php echo $this->render('/helpers/breadcrumb.phtml') ?>
			    </div>
			    <!-- /breadcrumbs line -->

                            
                            
                            
			    <!-- Page header -->
			    <div class="page-header">
			    	<div class="page-title">
				    	<h5>Formulário de grupos para a geração de folhas de ponto</h5>
				    	<span>Formulário para definir os grupos que serão regiros pelo departamento de RH</span>
			    	</div>
			    </div>
			    <!-- /page header -->

			    <?php if (isset($this->crudMessage)) : ?>
					<div class="alert alert-success">
	                	<button data-dismiss="alert" class="close" type="button">×</button>
	                    <strong>Operação realizada com sucesso!</strong>
		    			<span><br /><?php echo $this->crudMessage ?></span>
	                </div>			    
			    <?php endif; ?>
                            
                           

				<form id="form" name="form" action="" method="post" class="form-horizontal" enctype="multipart/form-data"> 
					
					
					<fieldset>
						<!-- General form elements -->
						<div class="widget row-fluid">
						    <div class="navbar">
						        <div class="navbar-inner">
						            <h6><?php echo $this->nomeDepartamento ?> &nbsp; Selecione o funcionário para este departamento</h6>
						        </div>
						    </div>

						    <div class="well">
								<?php if (isset($this->erros)) : ?>
									<div class="alert alert-error margin">
				                        <button data-dismiss="alert" class="close" type="button">×</button>
				                        <strong>Há erros no formulário!</strong>
					    				<?php foreach ($this->erros as $k=>$v) : ?>
					    					<span><br />- <?php echo $v ?></span>
					    				<?php endforeach;?>			                        
				                    </div>
                                                <?php endif; ?>						    
						    



						 <?php if($this->getAction()=="adicionar"):  ?>
                             <                            
							<div class="control-group">
								<label class="control-label">Locais *</label>
								<div class="controls">
									<select name="local" data-placeholder="Funcionário" class="select" >
										<option value="">Selecione...</option>
										<?php foreach(Locais::getLocaisHelper(array()) as $i=>$row): ?>
										<option value="<?php echo $row['id'] ?>"><?php echo $row['titulo'] ?></option>
										<?php endforeach;?>
									</select>
									
								</div>
							</div>             
                                         
							<div class="control-group">
								<label class="control-label">Funcionário hh *</label>
								<div class="controls">
									<select name="funcionario" data-placeholder="Funcionário" class="select">
											<option value="">Selecione...</option>
											<?php foreach(Funcionariosgeraisescolas::getFuncionariosgeraisescolasHelper(array()) as $i=>$row): ?>
											<option value="<?php echo $row['id'] ?>"><?php echo "[" . $row['rgf'] . "] " . $row['nome'] ?></option>
											<?php endforeach;?>
									</select>
								</div>
							</div>  
                                                       
                                                        
                                               
	              <?php else:  ?>
                                              
                                                       
						<div class="control-group">
							<label class="control-label">Locais *</label>
							<div class="controls">
								<?php echo "<h5>" . $this->funcionarioLinha['titulolocal'] . "</h5>"?><input name='local' type='hidden' value='<?php echo $this->funcionarioLinha['idlocal'] ?>'>
								<!--
								<select id='local' name="local"  data-placeholder="Funcionário" class="select" >
									<option value="">Selecione...</option>
									<?php foreach(Locais::getLocaisHelper(array('status'=> 'Ativo')) as $i=>$row): ?>
									<option value="<?php echo $row['id'] ?>"> <?php echo  $row['titulo'] ?></option>
									<?php endforeach;?>
								</select>
								-->
							</div>
						</div>   
                                                <div class="control-group">
                                                    <label class="control-label">Funcionário ss * <?php echo $this->id ?></label>
                                                    <div class="controls">
														<?php 
														echo "<h5>";

														$___rows = Funcionariosgeraisescolas::getFuncionariosgeraisescolasHelper(array('id'=>$this->funcionarioLinha['idfuncionario']));
														$___row = (sizeof($___rows)>0) ? 	$___rows[0] : false;	

														echo ($___row) ? $this->formatTextoBranco($___row['nome']) : '--';	
														
														echo "</h5>"
														?>
														<input name='funcionario' type='hidden' value='<?php echo $this->funcionarioLinha['idfuncionario'] ?>'>
														<!--
                                                        <select name="funcionario" data-placeholder="Funcionário" class="select">
                                                                <option value="">Selecione...</option>
                                                                <?php// foreach(Funcionariosgeraisescolas::getFuncionariosgeraisescolasHelper(array()) as $i=>$row): ?>
                                                                <option value="<?php// echo $row['id'] ?>"><?php// echo '[' . $row['rgf'] . ']' . $row['nome'] ?></option>
                                                                <?php //endforeach;?>
                                                        </select>
														-->
                                                    </div>
						</div>          
                                               
	              <?php endif; ?>
                                                
                                                
				<div class="control-group">
					<label class="control-label">Blocos de horários</label>
					<div class="controls">
						<select name="horarioponto" data-placeholder="horarioponto" class="select">
							<option value="">Selecione...</option>
							<?php foreach(Funcionariosgeraispontodefinicaohorarios::getFuncionariosgeraispontodefinicaohorariosHelper(array('status'=> "Ativo")) as $i=>$row): ?>
							<option value="<?php echo $row['id'] ?>"><?php echo $row['rotulohorario'] ?></option>
							<?php endforeach;?>
						</select>
						
					</div>
				</div> 
				
<?php /*
							$this->endereco_prefix = "e_idendereco";
							echo $this->render('/helpers/forms/endereco.phtml') */?>
				<div class="control-group">
					<label class="control-label">Status </label>
					<div class="controls">
						<select name="status1" data-placeholder="Status" class="select">
							<option value="">Selecione...</option>
							<option value="Ativo">Ativo</option><option value="Bloqueado">Bloqueado</option>
						</select>
						
					</div>
				</div>
                                                

						    
						    
						    </div>
						    
			                <div class="form-actions align-right">
			                	<?php if ((isset($this->visualizar)) && ($this->visualizar)) : ?>
                                            <button onclick="window.history.back()" class="btn btn-danger cancelar" type="button" >Voltar</button>
			                	<?php else : ?>
				                	<button class="btn btn-primary enviar" type="submit">Salvar</button>
				                	<button onclick="window.history.back()" class="btn btn-danger cancelar" type="button" mouseover='evento()'>Cancelar</button>
			                	<?php endif; ?>
			                </div>
						</div>
						<!-- /general form elements -->

					</fieldset> 

				</form>
				<!-- /basic inputs -->

		    </div>
		    <!-- /content wrapper -->

		</div>
		<!-- content -->
				
<script type="text/javascript" src="<?php echo $this->baseUrl('/public/scripts/admin/titecnicos_form.js') ?>"></script>
<script type="text/javascript">
	var form_values = {};
        
        form_values.idlocal = '<?php echo $this->idLocal ?>';
        form_values.idfuncionario = '<?php echo $this->idFuncionario ?>';
        form_values.idblocohorario = '<?php echo $this->idBlocoHorario  ?>';
        form_values.status1 = '<?php echo $this->status1 ?>';
        
	<?php if (isset($this->post_var)) :  ?>
           
		form_values.idsecretaria = '<?php echo (isset($this->post_var['idsecretaria'])) ? $this->post_var['idsecretaria'] : '' ?>';

form_values.idtipoequipe = '<?php echo (isset($this->post_var['idtipoequipe'])) ? $this->post_var['idtipoequipe'] : '' ?>';



form_values.e_idenderecoidestado = '<?php echo (isset($this->post_var['e_idenderecoidestado'])) ? $this->post_var['e_idenderecoidestado'] : '' ?>';



	<?php endif; ?>

	visualizar = <?php echo  ((isset($this->visualizar)) && ($this->visualizar))  ? 'true' : 'false' ?>;
        
        
                
       

</script>
