		<!-- Content -->
		<div id="content">

		    <!-- Content wrapper -->
		    <div class="wrapper">

			    <!-- Breadcrumbs line -->
			    <div class="crumbs">
			    	<?php echo $this->render('/helpers/breadcrumb.phtml') ?>
			    </div>
			    <!-- /breadcrumbs line -->

			    <!-- Page header -->
			    <div class="page-header">
			    	<div class="page-title">
				    	<h5>Edição de grupos para o RH</h5>
				    	<span>Visualize todos os grupos de funcionários alocados para o RH </span>
			    	</div>
			    	
			    </div>
			    <!-- /page header -->
			    
			    <?php if (isset($this->crudMessage)) : ?>
				<div class="alert alert-success">
                	<button data-dismiss="alert" class="close" type="button">×</button>
                    <strong>Operação realizada com sucesso!</strong>
	    			<span><br /><?php echo $this->crudMessage ?></span>
                </div>			    
			    <?php endif; ?>
	                        	                        
                <!-- Table with footer -->
                <div class="widget">
                	<form action="#" class="form-horizontal" method="post">
                		<input type="hidden" value="<?php echo (isset($this->post_var['sorting'])) ? $this->post_var['sorting'] : '' ?>" name="sorting" />
	                	<div class="navbar">
	                		<div class="navbar-inner">
	                			<h6>Visualizando registros</h6>
	                			<?php if (Mn_Util::isAccess($this->getController(), 'adicionar')) : ?>
	                			<a style="float:right;" href="<?php echo $this->baseUrl() ?>/<?php echo 'admin' ?>/<?php echo $this->getController() ?>/adicionar" class="btn btn-primary"><span class="icon-plus"></span>&nbsp;Adicionar funcionário</a>
	                			<?php endif; ?>
	                		</div>
	                	</div>
	                    <div class="table-overflow">
	                        <table class="table table-content">
	                            <thead>
	                                <tr>
	                                    <th width="20">#</th>
                                    <th class="s-idfuncionario sorting">Local</th>
                                    <th class="s-dia sorting">Funcionário</th>
                                    <th class="s-diasemana sorting">RGF</th>
                                    <th class="s-observacoes sorting">CPF</th>
                                    <th class="s-status sorting">Status</th>


	                                    <th width="96">Ações</th>
	                                </tr>
	                                <tr>
	                                    <th></th>

										<th>
											<div>
												<select name="idlocal" placeholder="Todos" class="select">
													<option value="">Todos</option>
													<?php foreach (Locais::getLocaisHelper(array('status'=>'Ativo')) as $k=>$v) : ?>
														<option value="<?php echo $v['id'] ?>"><?php echo $v['titulo'] ?></option>
													<?php endforeach;?>
												</select>
											</div>
										</th>

										<th>
                                                                                        <!--<input name="idfuncionario" value="<?php echo (isset($this->post_var['idfuncionario'])) ? $this->post_var['idfuncionario'] : '' ?>" type="text" placeholder="idfuncionario" class="span3">-->
<!--											<input name="dia_i" value="<?php //echo (isset($this->post_var['dia_i'])) ? Mn_Util::formPostVarData($this->post_var['dia_i']) : '' ?>" type="text" placeholder="Dia inicial" class="span3">
											<input name="dia_f" value="<?php //echo (isset($this->post_var['dia_f'])) ? Mn_Util::formPostVarData($this->post_var['dia_f']) : '' ?>" type="text" placeholder="Dia final" class="span3">-->
										</th>
										<th>
											<div><!--
												<select name="status1" placeholder="Todos" class="select">
													<option value="">Todos</option>
													<option value="Ativo">Ativo</option><option value="Bloqueado">Bloqueado</option>
												</select>-->
											</div>
										</th>
										<th></th>
										<th></th>
	                                    <th><button class="btn btn-mini btn-primary" type="submit">Pesquisar</button></th>
	                                </tr> 
	                                                                
	                            </thead>
                                   
	                            <tbody>
	                            	<?php if (sizeof($this->rows)==0) : ?>
	                                <tr>
	                                    <td colspan="7">Nenhum registro foi encontrado!</td>
	                                </tr>
	                            	
	                            	<?php else : ?>
	                            	<?php foreach ($this->rows as $row) : ?>
	                                <tr>
	                                	<td><?php echo $row['id'] ?></td>


                                                                                <td>
                                                                                    <?php
                                                                                            $___rows = Locais::getLocaisHelper(array('id'=>$row['idlocal']));
                                                                                            $___row = (sizeof($___rows)>0) ? 	$___rows[0] : false;	

                                                                                            echo ($___row) ? $this->formatTextoBranco($___row['titulo']) : '--';		
                                                                                    ?>
                                                                                </td>
										<td>
                                                                                    <?php //echo Funcionariosgerais::getFuncionariosgeraisHelper(array('idfuncionario'=>$row['idfuncionario']))  ?>
                                                                                    <?php
                                                                                            $___rows = Funcionariosgeraisescolas::getFuncionariosgeraisescolasHelper(array('id'=>$row['idfuncionario']));
                                                                                            $___row = (sizeof($___rows)>0) ? 	$___rows[0] : false;	

                                                                                            echo ($___row) ? $this->formatTextoBranco($___row['nome']) : '--';		
                                                                                    ?>
										</td>
                                                                                
                                                                                <td><h5><?php echo $row['rgf'] ?></h5></td>
																				<td><h5>
																				<?php //echo Funcionariosgerais::getFuncionariosgeraisHelper(array('idfuncionario'=>$row['idfuncionario']))  ?>
                                                                                    <?php
                                                                                            $___rows = Funcionariosgeraisescolas::getFuncionariosgeraisescolasHelper(array('id'=>$row['idfuncionario']));
                                                                                            $___row = (sizeof($___rows)>0) ? 	$___rows[0] : false;	

                                                                                            echo ($___row) ? $this->formatTextoBranco($___row['cpf']) : '--';		
                                                                                    ?>
																				</h5></td>
										<!-- <td><?php //echo $row['rgf'] ?></td>-->

										<td>
											<?php if (Mn_Util::isAccess($this->getController(), 'editar')) : ?>
												<a onclick="javascript:statusChange(<?php echo $row["id"]?>, this);" href="javascript:;"><?php echo $row['status'] ?></a>
											<?php else : ?>
												<?php echo $row['status'] ?>
											<?php endif; ?>
										</td>

			                				

	                                    <td>
	                                        <ul class="table-controls">
	                                            <li><a title="" class="btn tip" href="<?php echo $this->baseUrl() ?>/<?php echo 'admin' ?>/<?php echo $this->getController() ?>/visualizar/id/<?php echo $row['id'] ?>" data-original-title="Visualizar"><i class="icon-eye-open"></i></a> </li>
	                                            <?php if (Mn_Util::isAccess($this->getController(), 'editar')) : ?>
	                                            <li><a title="" class="btn tip" href="<?php echo $this->baseUrl() ?>/<?php echo 'admin' ?>/<?php echo $this->getController() ?>/editar/id/<?php echo $row['id'] ?>" data-original-title="Editar"><i class="icon-pencil"></i></a> </li>
	                                            <?php endif;?>
	                                            <?php if (Mn_Util::isAccess($this->getController(), 'excluir')) : ?>
	                                            <li><a title="" class="btn tip" href="javascript:confirmDelete('<?php echo $row['id']; ?>','registro');" data-original-title="Excluir"><i class="icon-remove"></i></a> </li>
	                                            <?php endif; ?>
	                                        </ul>
	                                    </td>
	                                </tr>
	                            	<?php endforeach;?>
	                            	
	                            	
	                            	
	                            	
	                            	<?php endif; ?>
	
	                            </tbody>
	                        </table>
                                   
	                    </div>
	                    <?php echo $this->render('/helpers/paginator.phtml') ?>
                    
                    </form>

                </div>
                <!-- /table with footer -->
	                        


		    </div>
		    <!-- /content wrapper -->

		</div>
		<!-- content -->
		
		
<script type="text/javascript" src="<?php echo $this->baseUrl('/public/scripts/admin/pontosmensais_index.js') ?>"></script>
<script type="text/javascript">

	var form_values = {};
	<?php if (isset($this->post_var)) :  ?>
form_values.idfuncionario = '<?php echo (isset($this->post_var['idfuncionario'])) ? $this->post_var['idfuncionario'] : '' ?>';

form_values.diasemana = '<?php echo (isset($this->post_var['diasemana'])) ? $this->post_var['diasemana'] : '' ?>';

form_values.status1 = '<?php echo (isset($this->post_var['status1'])) ? $this->post_var['status1'] : $this->post_var['status'] ?>';

	
	<?php endif; ?>

	var sorting = ["idfuncionario", "dia", "diasemana", "horaentrada", "horasaida", "observacoes", "status"];
	
</script>	


