		<!-- Content -->
		<div id="content">

		    <!-- Content wrapper -->
		    <div class="wrapper">

			    <!-- Breadcrumbs line -->
			    <div class="crumbs">
			    	<?php echo $this->render('/helpers/breadcrumb.phtml') ?>
			    </div>
			    <!-- /breadcrumbs line -->

			    <!-- Page header -->
			    <div class="page-header">
			    	<div class="page-title">
				    	<h5>Formulário do declaração</h5>
				    	<span>Verifique os campos e preencha com os dados</span>
			    	</div>
			    </div>
			    <!-- /page header -->

			    <?php if (isset($this->crudMessage)) : ?>
					<div class="alert alert-success">
	                	<button data-dismiss="alert" class="close" type="button">×</button>
	                    <strong>Operação realizada com sucesso!</strong>
		    			<span><br /><?php echo $this->crudMessage ?></span>
	                </div>			    
			    <?php endif; ?>

				<form id="form" name="form" action="" method="post" class="form-horizontal" enctype="multipart/form-data"> 
					<input type="hidden" value="<?php echo (isset($this->post_var)) ? $this->post_var["id"] : ''; ?>" name="id" id="id" />
					
					<fieldset>
						<!-- General form elements -->
						<div class="widget row-fluid">
						    <div class="navbar">
						        <div class="navbar-inner">
						            <h6>Digite as informações do formulário</h6>
						        </div>
						    </div>

						    <div class="well">
								<?php if (isset($this->erros)) : ?>
									<div class="alert alert-error margin">
				                        <button data-dismiss="alert" class="close" type="button">×</button>
				                        <strong>Há erros no formulário!</strong>
					    				<?php foreach ($this->erros as $k=>$v) : ?>
					    					<span><br />- <?php echo $v ?></span>
					    				<?php endforeach;?>			                        
				                    </div>
			                    <?php endif; ?>						    
						    

				<div class="control-group">
					<label class="control-label">Funcionário </label>
					<div class="controls">
		                <select name="idfuncionario" data-placeholder="Funcionário" class="select">
							<option value="">Selecione...</option>
							<?php foreach (Funcionariosgerais::getFuncionariosgeraisHelper(array('status'=>'Ativo')) as $k=>$v) : ?>
							<option value="<?php echo $v['id'] ?>"><?php echo $v['nome'] ?></option>
							<?php endforeach;?>
						</select>
						
					</div>
				</div>


				<div class="control-group">
					<label class="control-label">Acúmulo <span class="required">*</span></label>
					<div class="controls">
						<select name="acumulo" data-placeholder="Acúmulo" class="select">
							<option value="">Selecione...</option>
							<option value="Sim">Sim</option><option value="Não">Não</option>
						</select>
						
					</div>
				</div>


				<div class="control-group">
					<label class="control-label">Nome da Instituição ou Empresa </label>
					<div class="controls"><input maxlength="500" placeholder="Nome da Instituição ou Empresa" name="instituicaoempresa" value="<?php echo (isset($this->post_var['instituicaoempresa'])) ? $this->post_var['instituicaoempresa'] : '' ?>" type="text"  class="span3" /></div>
				</div>


				<div class="control-group">
					<label class="control-label">Dias da semana em que presta serviço </label>
					<div class="controls">
						<?php if ((isset($this->visualizar)) && ($this->visualizar)) : ?>
							<?php if (isset($this->post_var['diassemana'])) :  
								$rows = explode(',',$this->post_var['diassemana']);
								foreach ($rows as $i=>$row):
									echo Rhdeclaracoesacumulos::getDiasSemana($row) . '<br />'; 
								endforeach;
						endif;?>
						<?php //echo $this->post_var['diassemana'] ?>
						<?php else: ?>
    					<ul>
    						<li>
    							<?php foreach (Rhdeclaracoesacumulos::getDiasSemana() as $k=>$v):?>
    							<input type="checkbox" name="diassemana[]" value="<?php echo $k ?>" /> <?php echo $v ?>
    							<?php endforeach; ?>
    						</li>
    						
    					</ul>
    					<?php endif;?>
					</div>
				</div>

				<div class="control-group">
					<label class="control-label">Anexar Documento </label>
					<div class="controls">
						<?php if ((isset($this->post_var['idarquivo'])) && ((int)$this->post_var['idarquivo']>0)) : ?>
							<?php echo $this->getArquivo($this->post_var['idarquivo']) ?>
						
							<?php if (!$this->visualizar) : ?>
								<div class="checkbox block">
									<label><input type="checkbox" name="excluir_idarquivo" value="excluir" /> Desejo excluir o arquivo</label>
								</div>
							<?php endif; ?>
						<?php endif; ?>
						
						<input placeholder="Anexar Laudo" name="idarquivo" type="file"  />
					</div>
				</div>	

				<div class="control-group">
					<label class="control-label">Início </label>
					<div class="controls"><input  placeholder="Início" name="horainicio" value="<?php echo (isset($this->post_var['horainicio'])) ? $this->post_var['horainicio'] : '' ?>" type="text"  class="span3" /></div>
				</div>


				<div class="control-group">
					<label class="control-label">Final </label>
					<div class="controls"><input  placeholder="Final" name="horafim" value="<?php echo (isset($this->post_var['horafim'])) ? $this->post_var['horafim'] : '' ?>" type="text"  class="span3" /></div>
				</div>


				<div class="control-group">
					<label class="control-label">Status <span class="required">*</span></label>
					<div class="controls">
						<select name="status1" data-placeholder="Status" class="select">
							<option value="">Selecione...</option>
							<option value="Ativo">Ativo</option><option value="Bloqueado">Bloqueado</option>
						</select>
						
					</div>
				</div>

						    
						    
						    </div>
						    
			                <div class="form-actions align-right">
			                	<?php if ((isset($this->visualizar)) && ($this->visualizar)) : ?>
			                		<button onclick="window.history.back()" class="btn btn-danger cancelar" type="button">Voltar</button>
			                	<?php else : ?>
				                	<button class="btn btn-primary enviar" type="submit">Salvar</button>
				                	<button onclick="window.history.back()" class="btn btn-danger cancelar" type="button">Cancelar</button>
			                	<?php endif; ?>
			                </div>
						</div>
						<!-- /general form elements -->

					</fieldset> 

				</form>
				<!-- /basic inputs -->

		    </div>
		    <!-- /content wrapper -->

		</div>
		<!-- content -->
				
<script type="text/javascript" src="<?php echo $this->baseUrl('/public/scripts/admin/rhdeclaracoesacumulos_form.js') ?>"></script>
<script type="text/javascript">
	var form_values = {};
	
	<?php if (isset($this->post_var)) :  ?>
		form_values.idfuncionario = '<?php echo (isset($this->post_var['idfuncionario'])) ? $this->post_var['idfuncionario'] : '' ?>';

form_values.acumulo = '<?php echo (isset($this->post_var['acumulo'])) ? $this->post_var['acumulo'] : '' ?>';

form_values.status1 = '<?php echo (isset($this->post_var['status1'])) ? $this->post_var['status1'] : $this->post_var['status'] ?>';

	<?php if (isset($this->post_var['diassemana'])) :  ?>
	<?php //verificar repopular?>
	form_values.diassemana = [<?php echo $this->post_var['diassemana'] ?>];
	<?php endif; ?>
	<?php endif; ?>

	visualizar = <?php echo  ((isset($this->visualizar)) && ($this->visualizar))  ? 'true' : 'false' ?>;
</script>
