		<!-- Content -->
		<div id="content">

		    <!-- Content wrapper -->
		    <div class="wrapper">

			    <!-- Breadcrumbs line -->
			    <div class="crumbs">
			    	<?php echo $this->render('/helpers/breadcrumb.phtml') ?>
			    </div>
			    <!-- /breadcrumbs line -->

			    <!-- Page header -->
			    <div class="page-header">
			    	<div class="page-title">
				    	<h5>Eventos no sistema</h5>
				    	<span>Últimos Eventos</span>
			    	</div>
			    	
			    </div>
			    <!-- /page header -->
			    
			    <?php if (isset($this->crudMessage)) : ?>
				<div class="alert alert-success">
                	<button data-dismiss="alert" class="close" type="button">×</button>
                    <strong>Operação realizada com sucesso!</strong>
	    			<span><br /><?php echo $this->crudMessage ?></span>
                </div>			    
			    <?php endif; ?>                   
                <!-- Table with footer -->
                <div class="widget">
    				<div class="col-md-3" style="width: 25%; float:left; padding:0 8px; margin-top: 60px;">
						<div class="table-overflow">

				<table class="table table-content">
					<thead>
						<tr>
							<th colspan="2"><h5>Eventos Chamados T.I</h5></th>
						</tr>
					</thead>
					<tbody>
						<?php foreach (Chamados::getChamadosHelper(array('destino'=>'TI'),0,4) as $index) : ?>
						<tr>
						<td colspan="2"><div class="external-event ui-draggable" style="position: relative;">
						<?php 

							$dataInicio =  date("Y-m-d", strtotime($index['dataagendada']));
							$date_inicio = new DateTime($dataInicio);
							if($date_inicio->format('d/m/Y') == '31/12/1969'):
								echo  "Não Agendada";
							else: 
								echo  $date_inicio->format('d/m/Y');
							endif;
							

						?>
						 <small>Origem - <b> 
						 <?php 
						 
							$escola = Escolas::getEscolaByIdHelper($index['idescola']);

							if($index['idescola'] == '0'): 
							
							 
								echo UsuariosPerfis::getPerfilByIdHelper($index['iddepartamentocriacao'])['perfil'];
								
							else: 
								
								echo Escolas::getEscolasHelper(array('id'=>$index['idescola']))[0]['escola'];

							endif;
						 
						 ?> </b></div></td>
						</tr>
						<?php endforeach;?>

						<tr><th colspan="2"><h5>Eventos da Agenda</h5></th></tr>

						<?php
						
						$tiagendasvisitas = new Agendamentosvisitas();
						$queries = array();	
						$queries['iddepartamento'] = '8';

						foreach($tiagendasvisitas->getAgendamentosvisitas($queries, 0, 5) as $index):

							//Formatando a data
							$dataInicio =  date("Y-m-d", strtotime($index['datainicio']));
							$date_inicio = new DateTime($dataInicio);

							echo "<tr><td>Evento: " . $index['titulo'] . "</td><td>Data Inicio: " . $date_inicio->format('d/m/Y') . "</td></tr>";

						endforeach;
						
						?>
						
					</tbody>
				</table>
				<br>
				<table class="table table-content">
					<thead>
						<tr>
							<th colspan="2"><h5>Legendas</h5></th>
						</tr>
					</thead>
					<tbody style='background-color: #abafb5'>
						<tr>
							<th><strong style='color: #ff6666'>Prioridade Alta</strong></th>
						</tr>
						<tr>
							<th><strong style='color: #ffff80'>Prioridade Média</strong></th>
						</tr>
						<tr>
							<th><strong style='color: #80ffff'>Prioridade Baixa</strong></th>
						</tr>
					</tbody>
				</table>

						</div>

						
						
					</div><!-- col-md-3 -->
					


						<div class='col-md-9'  style="width: 70%; float:left; padding:0 8px; margin-bottom: 50px;">
							<!-- <div id='calendario' class='col-md-9'  style="width: 100%; float:left; padding:0 8px; margin-bottom: 50px;"></div> -->
							<div id='calendario'  ></div>
						</div>
		

                </div>
                <!-- /table with footer -->
		    </div>
		    <!-- /content wrapper -->
		</div>
		<!-- content -->

		<!-- ======================= Modal ============================================== -->

		<div id="calendarModal" class="modal fade">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span> <span class="sr-only">close</span></button>
					<h4 id="modalTitle" class="modal-title"> -->  <span id='titulo-superior'>  </span></h4>
				</div>
				<div id="modalBody" class="modal-body"> 
						Descricao : <span id='descricao-body'></span><br>
						Data de Inicio: <span id='data-inicio'></span><br>
						Data de Término: <span id='data-fim'></span><br>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
		</div>
		<!-- =================== End Modal ============================================== -->
		
		
		<script src="<?php echo $this->baseUrl() ?>/public/scripts/admin/calendariotichamados_index.js"></script>


<script type="text/javascript">
	$(document).ready(function() {
		count_page = 0;

		$(document).ready(function() {

      
$('#calendario').fullCalendar({

			

			ignoreTimezone: false,
			monthNames: ['Janeiro', 'Fevereiro', 'Março', 'Abril', 'Maio', 'Junho', 'Julho', 'Agosto', 'Setembro', 'Outubro', 'Novembro', 'Dezembro'],
			monthNamesShort: ['Jan', 'Fev', 'Mar', 'Abr', 'Mai', 'Jun', 'Jul', 'Ago', 'Set', 'Out', 'Nov', 'Dez'],
			dayNames: ['Domingo', 'Segunda', 'Terça', 'Quarta', 'Quinta', 'Sexta', 'Sabado'],
			dayNamesShort: ['Dom', 'Seg', 'Ter', 'Qua', 'Qui', 'Sex', 'Sab'],

			titleFormat: {
				month: 'MMMM yyyy',
				week: "d[ MMMM][ yyyy]{ - d MMMM yyyy}",
				day: 'dddd, d MMMM yyyy'
			},

			columnFormat: {
				month: 'ddd',
				week: 'ddd d',
				day: ''
			},

			axisFormat: 'H:mm',
			timeFormat: {
				'': 'H:mm',
				agenda: 'H:mm{ - H:mm}'
			},

			buttonText: {
				prev: "&nbsp;&#9668;&nbsp;",
				next: "&nbsp;&#9658;&nbsp;",
				prevYear: "&nbsp;&lt;&lt;&nbsp;",
				nextYear: "&nbsp;&gt;&gt;&nbsp;",
				today: "Hoje",
				month: "Mês",
				week: "Semana",
				day: "Dia"
			},

			eventClick:  function(event, jsEvent, view) {
				
				$('#calendarModal').modal();
				$('#tipomodal').val(event.color);
				
				// evento => '#c2c2f0' Para Agenda
				// evento => '#4286f4' Para Visitas 
				var id = event.id;
				var evento = event.color;
				
				// Chamada AJAX

				$.ajax({
					url: baseUrl + '/admin/calendariotichamados/calendariodetalhestiajax',
					type: 'POST',
					data: {
							idevento: id,
							corevento: event.color
						},
				beforeSend: function () {
						// Evendo Load caso necessário
				}}).done(function (data) {

					data = JSON.parse(data);
					
					$('#titulo-superior').html(data.titulosuperior);
					$('#descricao-body').html(data.descricaobody);
					$('#data-inicio').html(data.datainicio);
					$('#data-fim').html(data.datafim);
				

				});

				
				// Setando valores caso seja Agenda de Visitas
				
				
				
			},

			eventSources: [

				// your event source
				{
				  events: [ // put the array in the `events` property

					<?php foreach(Chamados::getChamadosHelper(array('destino'=>'TI')) as $index) : ?>
						{
							title  : '<?php 
												if($index['idescola'] == '0'): 
													echo $index['id'] . '-' . UsuariosPerfis::getPerfilByIdHelper($index['iddepartamentocriacao'])['perfil'];
												else: 
													echo $index['id'] . '-' . Escolas::getEscolasHelper(array('id'=>$index['idescola']))[0]['escola'];
												endif;
												

									   ?>',
							start  : '<?php echo $index['dataagendada'] ?>',
							id :  '<?php echo $index['id'] ?>',
							// #ff6666 alto id => 2 
							<?php if($index['idprioridade'] == '2'): ?>
							color : '#4286f4',
							textColor:  '#ff6666',
							// #ffff80 médio id => 3 
							<?php elseif($index['idprioridade'] == '3'): ?>
							color : '#4286f4',
							textColor:  '#ffff80',
							// #80ffff baixo id => 4 
							<?php elseif($index['idprioridade'] == '4'): ?>
							color : '#4286f4',
							textColor:  '#80ffff',
							// #80bfff andamento id => 5 
							<?php elseif($index['idprioridade'] == '5'): ?>
							color : '#4286f4',
							textColor:  '#80bfff',
							// #80bfff todo o resto 
							<?php else: ?>
							color : '#4286f4',
							textColor:  '#ff80ff',
							<?php endif; ?>
							
						},
					<?php endforeach; ?> 

					<?php foreach(Agendamentosvisitas::getAgendamentosvisitasHelper(array('iddepartamento'=>'8')) as $index) : ?>
						{
							title  : '<?php echo $index['id'] ?> - Agendamento: <?php echo $index['titulo'] ?>',
							start  : '<?php echo $index['datainicio'] ?>',
							end : '<?php echo $index['datafim'] ?>',
							id: '<?php echo $index['id'] ?>',
							color : '#c2c2f0',
						},
					<?php endforeach; ?>
					
				  ],
				  color: '#4d88ff',     // an option!
				  textColor: 'gray' // an option!
				}
			
				// any other event sources...
			
			  ]



});

});

			


	});
</script>

