		<!-- Content -->
		<div id="content">

		    <!-- Content wrapper -->
		    <div class="wrapper">

			    <!-- Breadcrumbs line -->
			    <div class="crumbs">
			    	<?php echo $this->render('/helpers/breadcrumb.phtml') ?>
			    </div>
			    <!-- /breadcrumbs line -->

			    <!-- Page header -->
			    <div class="page-header">
			    	<div class="page-title">
				    	<h5>Formulário do processo</h5>
				    	<span>Verifique os campos e preencha com os dados</span>
			    	</div>
			    </div>
			    <!-- /page header -->

			    <?php if (isset($this->crudMessage)) : ?>
					<div class="alert alert-success">
	                	<button data-dismiss="alert" class="close" type="button">×</button>
	                    <strong>Operação realizada com sucesso!</strong>
		    			<span><br /><?php echo $this->crudMessage ?></span>
	                </div>			    
			    <?php endif; ?>

				<form id="form" name="form" action="" method="post" class="form-horizontal" enctype="multipart/form-data"> 
					<input type="hidden" value="<?php echo (isset($this->post_var)) ? $this->post_var["id"] : ''; ?>" name="id" id="id" />
					
					<fieldset>
						<!-- General form elements -->
						<div class="widget row-fluid">
						    <div class="navbar">
						        <div class="navbar-inner">
						            <h6>Digite as informações do formulário</h6>
						        </div>
						    </div>

						    <div class="well">
								<?php if (isset($this->erros)) : ?>
									<div class="alert alert-error margin">
				                        <button data-dismiss="alert" class="close" type="button">×</button>
				                        <strong>Há erros no formulário!</strong>
					    				<?php foreach ($this->erros as $k=>$v) : ?>
					    					<span><br />- <?php echo $v ?></span>
					    				<?php endforeach;?>			                        
				                    </div>
			                    <?php endif; ?>						    
						    

				<div class="control-group">
					<label class="control-label">Advogados </label>
					<div class="controls">
						<?php foreach (Juridicosadvogados::getJuridicosadvogadosHelper(array('status'=>'Ativo')) as $k=>$v) : ?>
						<input type="checkbox" value="<?php echo $v['id'] ?>" name="idsadvogados[]" /><?php echo $v['advogado'] ?> <br />
						<?php endforeach;?>


					</div>
				</div>


				<div class="control-group">
					<label class="control-label">Processo nº <span class="required">*</span></label>
					<div class="controls"><input maxlength="500" placeholder="Processo nº" name="processonumero" value="<?php echo (isset($this->post_var['processonumero'])) ? $this->post_var['processonumero'] : '' ?>" type="text"  class="span3" /></div>
				</div>


				<div class="control-group">
					<label class="control-label">Processo Originário <span class="required">*</span></label>
					<div class="controls"><input maxlength="500" placeholder="Processo Originário" name="processooriginario" value="<?php echo (isset($this->post_var['processooriginario'])) ? $this->post_var['processooriginario'] : '' ?>" type="text"  class="span3" /></div>
				</div>


				<div class="control-group">
					<label class="control-label">Origens <span class="required">*</span></label>
					<div class="controls">
		                <select name="idorigem" data-placeholder="Origens" class="select" onchange="setOrigemdados(this, 0)">
							<option value="">Selecione...</option>
							<?php foreach (Juridicosorigens::getJuridicosorigensHelper(array('status'=>'Ativo')) as $k=>$v) : ?>
							<option value="<?php echo $v['id'] ?>"><?php echo $v['origem'] ?></option>
							<?php endforeach;?>
						</select>
						
					</div>
				</div>

<div class="dadosorigens">
</div>


				<div class="control-group">
					<label class="control-label">Representante Legal <span class="required">*</span></label>
					<div class="controls"><input maxlength="500" placeholder="Representante Legal" name="representantelegal" value="<?php echo (isset($this->post_var['representantelegal'])) ? $this->post_var['representantelegal'] : '' ?>" type="text"  class="span3" /></div>
				</div>


				<div class="control-group">
					<label class="control-label">Ação </label>
					<div class="controls"><textarea class="span12" name="acao" cols="5" rows="5"><?php echo (isset($this->post_var)) ? $this->post_var["acao"] : ''; ?></textarea></div>
				</div>


				<div class="control-group">
					<label class="control-label">Próxima audiência</label>
					<div class="controls"><input placeholder="Próxima audiência" name="dataproximaaudiencia" value="<?php echo (isset($this->post_var['dataproximaaudiencia'])) ? Mn_Util::formPostVarData($this->post_var['dataproximaaudiencia']) : '' ?>" type="text"  class="span3" /></div>
				</div>


				<div class="control-group">
					<label class="control-label">Valor da Causa </label>
					<div class="controls"><input  placeholder="Valor da Causa" name="valorcausa" value="<?php echo (isset($this->post_var['valorcausa'])) ? number_format($this->post_var['valorcausa'],'2', ',', '.') : '' ?>" type="text"  class="span3" /></div>
				</div>


				<div class="control-group">
					<label class="control-label">Pasta </label>
					<div class="controls"><input maxlength="500" placeholder="Pasta" name="pasta" value="<?php echo (isset($this->post_var['pasta'])) ? $this->post_var['pasta'] : '' ?>" type="text"  class="span3" /></div>
				</div>


				<div class="control-group">
					<label class="control-label">Data citação</label>
					<div class="controls"><input placeholder="Data citação" name="datacitacao" value="<?php echo (isset($this->post_var['datacitacao'])) ? Mn_Util::formPostVarData($this->post_var['datacitacao']) : '' ?>" type="text"  class="span3" /></div>
				</div>


				<div class="control-group">
					<label class="control-label">Data penhora</label>
					<div class="controls"><input placeholder="Data penhora" name="datapenhora" value="<?php echo (isset($this->post_var['datapenhora'])) ? Mn_Util::formPostVarData($this->post_var['datapenhora']) : '' ?>" type="text"  class="span3" /></div>
				</div>


				<div class="control-group">
					<label class="control-label">Data contestação</label>
					<div class="controls"><input placeholder="Data contestação" name="datacontestacao" value="<?php echo (isset($this->post_var['datacontestacao'])) ? Mn_Util::formPostVarData($this->post_var['datacontestacao']) : '' ?>" type="text"  class="span3" /></div>
				</div>


				<div class="control-group">
					<label class="control-label">Data embargos</label>
					<div class="controls"><input placeholder="Data embargos" name="dataembargos" value="<?php echo (isset($this->post_var['dataembargos'])) ? Mn_Util::formPostVarData($this->post_var['dataembargos']) : '' ?>" type="text"  class="span3" /></div>
				</div>


				<div class="control-group">
					<label class="control-label">Data sentença</label>
					<div class="controls"><input placeholder="Data sentença" name="datasentenca" value="<?php echo (isset($this->post_var['datasentenca'])) ? Mn_Util::formPostVarData($this->post_var['datasentenca']) : '' ?>" type="text"  class="span3" /></div>
				</div>


				<div class="control-group">
					<label class="control-label">Observações </label>
					<div class="controls"><textarea class="span12" name="observacoes" cols="5" rows="5"><?php echo (isset($this->post_var)) ? $this->post_var["observacoes"] : ''; ?></textarea></div>
				</div>


				<div class="control-group">
					<label class="control-label">Lançar </label>
					<div class="controls">
						<select name="movimentolancar" data-placeholder="Lançar" class="select" onchange="setLancamento(this, 0)">
							<option value="">Selecione...</option>
							<option value="Sim">Sim</option><option value="Não">Não</option>
						</select>
						
					</div>
				</div>

				<div class="box-lancamentos" style="display:none;">
					<div class="control-group">
						<label class="control-label">Data de lançamento</label>
						<div class="controls"><input placeholder="Data de lançamento" name="movimentodata" value="<?php echo (isset($this->post_var['movimentodata'])) ? Mn_Util::formPostVarData($this->post_var['movimentodata']) : '' ?>" type="text"  class="span3" /></div>
					</div>


					<div class="control-group">
						<label class="control-label">Descrição de lançamento </label>
						<div class="controls"><textarea class="span12" name="movimentodescricoes" cols="5" rows="5"><?php echo (isset($this->post_var)) ? $this->post_var["movimentodescricoes"] : ''; ?></textarea></div>
					</div>
				</div>


				<div class="control-group">
					<label class="control-label">Status <span class="required">*</span></label>
					<div class="controls">
		                <select name="idstatus" data-placeholder="Status" class="select">
							<option value="">Selecione...</option>
							<?php foreach (Juridicosstatus::getJuridicosstatusHelper(array('status'=>'Ativo')) as $k=>$v) : ?>
							<option value="<?php echo $v['id'] ?>"><?php echo $v['nome'] ?></option>
							<?php endforeach;?>
						</select>
						
					</div>
				</div>
  
						    
						    </div>
						    
			                <div class="form-actions align-right">
			                	<?php if ((isset($this->visualizar)) && ($this->visualizar)) : ?>
			                		<button onclick="window.history.back()" class="btn btn-danger cancelar" type="button">Voltar</button>
			                	<?php else : ?>
				                	<button class="btn btn-primary enviar" type="submit">Salvar</button>
				                	<button onclick="window.history.back()" class="btn btn-danger cancelar" type="button">Cancelar</button>
			                	<?php endif; ?>
			                </div>
						</div>
						<!-- /general form elements -->

					</fieldset> 

				</form>
				<!-- /basic inputs -->

		    </div>
		    <!-- /content wrapper -->

		</div>
		<!-- content -->
				
<script type="text/javascript" src="<?php echo $this->baseUrl('/public/scripts/admin/juridicoprocessos_form.js') ?>"></script>
<script type="text/javascript">
	var form_values = {};
	
	<?php if (isset($this->post_var)) :  ?>
		form_values.idsadvogados = '<?php echo (isset($this->post_var['idsadvogados'])) ? $this->post_var['idsadvogados'] : '' ?>';

form_values.idorigem = '<?php echo (isset($this->post_var['idorigem'])) ? $this->post_var['idorigem'] : '' ?>';

form_values.movimentolancar = '<?php echo (isset($this->post_var['movimentolancar'])) ? $this->post_var['movimentolancar'] : '' ?>';

form_values.idstatus = '<?php echo (isset($this->post_var['idstatus'])) ? $this->post_var['idstatus'] : '' ?>';

form_values.status1 = '<?php echo (isset($this->post_var['status1'])) ? $this->post_var['status1'] : $this->post_var['status'] ?>';


	<?php endif; ?>
	<?php if ((isset($this->post_var['idsadvogados'])) && ($this->post_var['idsadvogados']!="")) :  ?>
	form_values.idsadvogados = [<?php echo $this->post_var['idsadvogados'] ?>];
	<?php endif; ?>
	visualizar = <?php echo  ((isset($this->visualizar)) && ($this->visualizar))  ? 'true' : 'false' ?>;
</script>
