				<div class="control-group">
					<label class="control-label">Turma </label>
					<div class="controls visualizar"><?php echo (isset($this->post_var['turma'])) ? $this->post_var['turma'] : '--' ?></div>
				</div>


				<div class="control-group">
					<label class="control-label">Vara </label>
					<div class="controls visualizar"><?php echo (isset($this->post_var['vara'])) ? $this->post_var['vara'] : '--' ?></div>
				</div>