		<!-- Content -->
		<div id="content">

		    <!-- Content wrapper -->
		    <div class="wrapper">

			    <!-- Breadcrumbs line -->
			    <div class="crumbs">
			    	<?php echo $this->render('/helpers/breadcrumb.phtml') ?>
			    </div>
			    <!-- /breadcrumbs line -->

			    <!-- Page header -->
			    <div class="page-header">
			    	<div class="page-title">
				    	<h5>Processos no sistema</h5>
				    	<span>Visualize os processos do sistema</span>
			    	</div>
			    	
			    </div>
			    <!-- /page header -->
			    
			    <?php if (isset($this->crudMessage)) : ?>
				<div class="alert alert-success">
                	<button data-dismiss="alert" class="close" type="button">×</button>
                    <strong>Operação realizada com sucesso!</strong>
	    			<span><br /><?php echo $this->crudMessage ?></span>
                </div>			    
			    <?php endif; ?>




	                        	                        
                <!-- Table with footer -->
                <div class="widget">
                	<form action="#" class="form-horizontal" method="post">
                		<input type="hidden" value="<?php echo (isset($this->post_var['sorting'])) ? $this->post_var['sorting'] : '' ?>" name="sorting" />
	                	<div class="navbar">
	                		<div class="navbar-inner">
	                			<h6>Visualizando registros</h6>
	                			<?php if (Mn_Util::isAccess($this->getController(), 'adicionar')) : ?>
	                			<a style="float:right;" href="<?php echo $this->baseUrl() ?>/<?php echo 'admin' ?>/<?php echo $this->getController() ?>/adicionar" class="btn btn-primary"><span class="icon-plus"></span>&nbsp;Adicionar processo</a>
	                			<?php endif; ?>
	                		</div>
	                	</div>
	                    <div class="table-overflow">
	                        <table class="table table-content">
	                            <thead>
	                                <tr>
	                                    <th width="20">#</th>
                                    <th class="s-processonumero sorting">Processo nº</th>
                                    <th class="s-processooriginario sorting">Processo Originário</th>
                                    <th class="s-acao sorting">Ação</th>
                                    <th class="s-dataproximaaudiencia sorting">Próxima audiência</th>
                                    <th class="s-idstatus sorting">Status</th>


	                                    <th width="96">Ações</th>
	                                </tr>
	                                <tr>
	                                    <th></th>
										<th><input name="processonumero" value="<?php echo (isset($this->post_var['processonumero'])) ? $this->post_var['processonumero'] : '' ?>" type="text" placeholder="Processo nº" class="span3"></th>
										<th><input name="processooriginario" value="<?php echo (isset($this->post_var['processooriginario'])) ? $this->post_var['processooriginario'] : '' ?>" type="text" placeholder="Processo Originário" class="span3"></th>
										<th><input name="acao" value="<?php echo (isset($this->post_var['acao'])) ? $this->post_var['acao'] : '' ?>" type="text" placeholder="Ação" class="span3"></th>

										<th>
											<input name="dataproximaaudiencia_i" value="<?php echo (isset($this->post_var['dataproximaaudiencia_i'])) ? Mn_Util::formPostVarData($this->post_var['dataproximaaudiencia_i']) : '' ?>" type="text" placeholder="Próxima audiência inicial" class="span3">
											<input name="dataproximaaudiencia_f" value="<?php echo (isset($this->post_var['dataproximaaudiencia_f'])) ? Mn_Util::formPostVarData($this->post_var['dataproximaaudiencia_f']) : '' ?>" type="text" placeholder="Próxima audiência final" class="span3">
										</th>

										<th>
											<div>
												<select name="idstatus" placeholder="Todos" class="select">
													<option value="">Todos</option>
													<?php foreach (Juridicosstatus::getJuridicosstatusHelper(array('status'=>'Ativo')) as $k=>$v) : ?>
														<option value="<?php echo $v['id'] ?>"><?php echo $v['nome'] ?></option>
													<?php endforeach;?>
												</select>
											</div>
										</th>
                   

	                                    <th><button class="btn btn-mini btn-primary" type="submit">Pesquisar</button></th>
	                                </tr> 
	                                                                
	                            </thead>
	                            <tbody>
	                            	<?php if (sizeof($this->rows)==0) : ?>
	                                <tr>
	                                    <td colspan="7">Nenhum registro foi encontrado!</td>
	                                </tr>
	                            	
	                            	<?php else : ?>
	                            	<?php foreach ($this->rows as $row) : ?>
	                                <tr>
	                                	<td><?php echo $row['id'] ?></td>

										<td><?php echo $row['processonumero'] ?></td>
										<td><?php echo $row['processooriginario'] ?></td>
										<td><?php echo $this->cortaPalavra(160, $row['acao']) ?></td>
										<td><?php echo date('d/m/Y', strtotime($row['dataproximaaudiencia']))?></td>

										<td>
											<?php
												$___rows = Juridicosstatus::getJuridicosstatusHelper(array('id'=>$row['idstatus']));
												$___row = (sizeof($___rows)>0) ? 	$___rows[0] : false;	
												
												echo ($___row) ? $this->formatTextoBranco($___row['nome']) : '--';		
											?>
										</td>

			                				

	                                    <td>
	                                        <ul class="table-controls">
	                                            <li><a title="" class="btn tip" href="<?php echo $this->baseUrl() ?>/<?php echo 'admin' ?>/<?php echo $this->getController() ?>/visualizar/id/<?php echo $row['id'] ?>" data-original-title="Visualizar"><i class="icon-eye-open"></i></a> </li>
	                                            <?php if (Mn_Util::isAccess($this->getController(), 'editar')) : ?>
	                                            <li><a title="" class="btn tip" href="<?php echo $this->baseUrl() ?>/<?php echo 'admin' ?>/<?php echo $this->getController() ?>/editar/id/<?php echo $row['id'] ?>" data-original-title="Editar"><i class="icon-pencil"></i></a> </li>
	                                            <?php endif;?>
	                                            <?php if (Mn_Util::isAccess($this->getController(), 'excluir')) : ?>
	                                            <li><a title="" class="btn tip" href="javascript:confirmDelete('<?php echo $row['id']; ?>','registro');" data-original-title="Excluir"><i class="icon-remove"></i></a> </li>
	                                            <?php endif; ?>
	                                        </ul>
	                                    </td>
	                                </tr>
	                            	<?php endforeach;?>
	                            	
	                            	
	                            	
	                            	
	                            	<?php endif; ?>
	
	                            </tbody>
	                        </table>
	                    </div>
	                    <?php echo $this->render('/helpers/paginator.phtml') ?>
                    
                    </form>

                </div>
                <!-- /table with footer -->
	                        


		    </div>
		    <!-- /content wrapper -->

		</div>
		<!-- content -->
		
		
<script type="text/javascript" src="<?php echo $this->baseUrl('/public/scripts/admin/juridicoprocessos_index.js') ?>"></script>
<script type="text/javascript">

	var form_values = {};
	<?php if (isset($this->post_var)) :  ?>
form_values.idsadvogados = '<?php echo (isset($this->post_var['idsadvogados'])) ? $this->post_var['idsadvogados'] : '' ?>';

form_values.idorigem = '<?php echo (isset($this->post_var['idorigem'])) ? $this->post_var['idorigem'] : '' ?>';

form_values.movimentolancar = '<?php echo (isset($this->post_var['movimentolancar'])) ? $this->post_var['movimentolancar'] : '' ?>';

form_values.idstatus = '<?php echo (isset($this->post_var['idstatus'])) ? $this->post_var['idstatus'] : '' ?>';

form_values.status1 = '<?php echo (isset($this->post_var['status1'])) ? $this->post_var['status1'] : $this->post_var['status'] ?>';

	
	<?php endif; ?>

	var sorting = ["idsadvogados", "processonumero", "processooriginario", "idorigem", "representantelegal", "acao", "dataproximaaudiencia", "valorcausa", "pasta", "datacitacao", "datapenhora", "datacontestacao", "dataembargos", "datasentenca", "observacoes", "movimentolancar", "movimentodata", "movimentodescricoes", "idstatus", "status"];
	
</script>	


