<table width="100%" cellpadding="0" cellspacing="0" border="0" nobr="true">
	<tr>
		<td align="center">
			<font size="16">
			    <strong>
			        CERTIFICADO
			    </strong>
		    </font>
		</td>
	</tr>
</table>
<br /><br /><br /><br /><br />
<table width="100%" cellpadding="0" cellspacing="50" border="0" nobr="true">
	<tr>
		<td align="center">
			<font size="10">
			    Certificamos que <strong><?php echo $this->post_var['nomes'] ?></strong> concluiu o curso <strong><?php echo $this->post_var['curso'] ?></strong> de <?php echo $this->post_var['cidade'] ?>/<?php echo $this->post_var['uf'] ?> no período de <?php echo (isset($this->post_var['datainicio'])) ? Mn_Util::formPostVarData($this->post_var['datainicio']) : '' ?> à <?php echo (isset($this->post_var['datafim'])) ? Mn_Util::formPostVarData($this->post_var['datafim']) : '--' ?>, com carga horária total de <?php echo $this->post_var['duracao'] ?>, na instituição do <?php echo $this->post_var['instituicao'] ?>.
		    </font>
		</td>
	</tr>
</table>

<br /><br /><br /><br /><br />

<table width="100%" cellpadding="20" cellspacing="0" border="0" nobr="true">
	<tr>
		<td align="right">
			<font size="10">
			    Santa Isabel, <?php echo (isset($this->post_var['datacriacao'])) ? Mn_Util::formPostVarData($this->post_var['datacriacao']) : date('d/m/Y') ?>
		    </font>
		</td>
	</tr>
</table>

<br /><br /><br /><br /><br />

<table width="100%" cellpadding="0" cellspacing="0" border="0" nobr="true">

	<tr>		
		<td align="center" width="50%">
			&nbsp;
		</td>

		<td align="center" width="50%">
			<font size="10">
				<?php /*if((int)$this->post_var['idimagemassinatura'] > 0) : ?>
			    <img width="200" src="<?php echo $this->baseUrl() ?>/imagens/get/id/<?php echo (int)$this->post_var['idimagemassinatura'] ?>/w/0/h/0/i/indisponivel/img.jpg" />
			    <?php endif;*/ ?>
		    </font>
		</td>
	</tr>
	<tr>
		<td align="left" width="32%">
			<font size="10">
			    
		    </font>
		</td>
		
		<td align="center" width="40%">
			<img src="<?php echo HTTP_URL ?>/admin/imagens/get/id/<?php echo $this->post_var['idimagemassinatura'] ?>/w/150/i/usuario/img.jpeg" alt="">
			<font size="10">
			    __________________________________________
		    </font>
		</td>
	</tr>
	<tr>
		<td align="left" width="38%">
			<font size="10">
			   
		    </font>
		</td>
		
		<td align="left" width="45%">
			<font size="10">
			    Ass. Diretor <?php echo $this->post_var['diretor'] ?>
		    </font>
		</td>
	</tr>
</table>

<?php /*?>
<table width="100%" cellpadding="0" cellspacing="0" border="0" nobr="true">
	<tr>
		<td>			
			<p align="center">
			    <strong>
			        &nbsp;
			    </strong>
			</p>
			<p align="center">

				<font size="16">
				    <strong>
				        CERTIFICADO
				    </strong>
			    </font>
			</p>
			
			<font size="10">
			<p>
			    <strong>
			        Certificamos que
			    </strong>
			    <u>
			                                  NOME DO JOVEM                                  
			    </u>
			     
			    <strong>
			        participou das ações de Qualificação do Projeto PROJOVEM TRABALHADOR -
			        JUVENTUDE CIDADÃ
			    </strong>
			    <u>
			             de CIDADE/UF          
			    </u>
			     
			    <strong>
			        no período de dd/mm/aaaa à dd/mm/aaaa, com carga horária total de 350
			        horas, no âmbito do PROGRAMA PROJOVEM TRABALHADOR.
			    </strong>
			</p>
			</font>
			
			<p align="right">
			    <strong>
			        &nbsp;
			    </strong>
			</p>
			<p align="right">
			    <strong>
			        Cidade/UF,         de                            de   aaaa .
			    </strong>
			</p>
			<p align="right">
			    &nbsp;
			</p>
			<p>
			    <strong>
			                            ___________________________                                 
			        ___________________________
			    </strong>
			    <br />
			    <strong>
			                                     Nome do Governo de Estado/Prefeitura                                   
			                           Nome da Entidade Executora
			    </strong>
			</p>
		</td>
	</tr>
</table>
<?php */?>
