<?php 
	include_once BASE_PATH . '/public/scripts/ckeditor/ckeditor.php';
	require_once BASE_PATH . '/public/scripts/ckfinder/ckfinder.php';
	
	$ckeditor = new CKEditor();
	$ckeditor->basePath	= $this->baseUrl('/public/scripts/ckeditor/');
	
	$ckfinder = $this->baseUrl('/public/scripts/ckfinder/');
	
	CKFinder::SetupCKEditor($ckeditor, $ckfinder);
?>

<div class="navbar">
    <div class="navbar-inner">
        <h6 class="title-accordion">
			<a class="click_acc" data-toggle="collapse" data-parent="#accordion" href="#collapse6">
				Acadêmico
			</a>
        </h6>
    </div>
</div>

<div id="collapse6" class="content-height panel-collapse collapse in">
				<div class="control-group">
					<label class="control-label">Série <span class="required">*</span></label>
					<div class="controls">
						<select name="idserie" data-placeholder="Série" class="select">
							<option value="">Selecione...</option>							
						</select>
						
					</div>
				</div>

				<div class="control-group">
					<label class="control-label">Período <span class="required">*</span></label>
					<div class="controls">
						<select name="idperiodo" data-placeholder="Período" class="select">
							<option value="">Selecione...</option>							
						</select>
						
					</div>
				</div>
				

				<div class="control-group">
					<label class="control-label">Número da Matrícula</label>
					<div class="controls"><input maxlength="500" placeholder="Número da Matrícula" name="numeromatricula" value="<?php echo (isset($this->post_var['numeromatricula'])) ? $this->post_var['numeromatricula'] : '' ?>" type="text"  class="span3" /></div>
				</div>
	
				<div class="control-group">
					<label class="control-label">RA <span class="required">*</span></label>
					<div class="controls"><input maxlength="500" placeholder="RA" name="ra" value="<?php echo (isset($this->post_var['ra'])) ? $this->post_var['ra'] : '' ?>" type="text"  class="span3" /></div>
				</div>
	
					<div class="control-group">
					<label class="control-label">RGM <span class="required">*</span></label>
					<div class="controls"><input maxlength="500" placeholder="RGM" name="rgm" value="<?php echo (isset($this->post_var['rgm'])) ? $this->post_var['rgm'] : '' ?>" type="text"  class="span3" /></div>
				</div>
	
				<div class="control-group">
					<label class="control-label">Motivo </label>
					<div class="controls">
						<?php if ((isset($this->visualizar)) && ($this->visualizar)) : ?>
							<div style="padding-top:10px"><?php echo $this->post_var['motivo']; ?></div>
						<?php else : ?>
							<?php $value1 = (isset($this->post_var['motivo'])) ? $this->post_var['motivo'] : ''; ?>
							<?php $ckeditor->editor('motivo', $value1); ?>
						<?php endif; ?> 
					</div>
				</div>

	

				<div class="control-group">
					<label class="control-label">Situação Atual</label>
					<div class="controls"><input maxlength="500" placeholder="Situação Atual" name="situacaoatual" value="<?php echo (isset($this->post_var['situacaoatual'])) ? $this->post_var['situacaoatual'] : '' ?>" type="text"  class="span3" /></div>
				</div>
	
	
				<div class="control-group">
					<label class="control-label">Rede Origem </label>
					<div class="controls"><input maxlength="500" placeholder="Rede Origem" name="redeorigem" value="<?php echo (isset($this->post_var['redeorigem'])) ? $this->post_var['redeorigem'] : '' ?>" type="text"  class="span3" /></div>
				</div>
	

				<div class="control-group">
					<label class="control-label">Ensino Origem</label>
					<div class="controls"><input maxlength="500" placeholder="Ensino Origem" name="ensinoorigem" value="<?php echo (isset($this->post_var['ensinoorigem'])) ? $this->post_var['ensinoorigem'] : '' ?>" type="text"  class="span3" /></div>
				</div>
	
				<div class="control-group">
					<label class="control-label">Situação do Ano anterior</label>
					<div class="controls"><input maxlength="500" placeholder="Situação do Ano anterior" name="situacaoanoanterior" value="<?php echo (isset($this->post_var['situacaoanoanterior'])) ? $this->post_var['situacaoanoanterior'] : '' ?>" type="text"  class="span3" /></div>
				</div>
	
				<div class="control-group">
					<label class="control-label">Forma de Ingresso</label>
					<div class="controls">
						<select name="formaingresso" data-placeholder="Forma de Ingresso" class="select">
							<option value="">Selecione...</option>
							<?php foreach (Escolasalunos::getFormasIngresso() as $kf=>$vf): ?>
							<option value="<?php echo $kf ?>"><?php echo $vf ?></option>
							<?php endforeach;?>						
						</select>
						
					</div>
				</div>
	
	
</div>