<h3 class="title-accordion">
	<a class="click_acc" data-toggle="collapse" data-parent="#accordion" href="#collapse11">
		Endereço Indicativo
	</a>
</h3>

<div id="collapse11" class="content-height panel-collapse collapse in">
	<div class="form-group">
		<label class="col-sm-3 control-label" style="margin-top: 13px;">Endereço</label>
		<div class="col-sm-6">
			<?php $this->endereco_prefix = "indicativo" ?>
			<input type="hidden" value="<?php echo (isset($this->post_var['idendereco'.$this->endereco_prefix])) ? $this->post_var["idendereco".$this->endereco_prefix] : ''; ?>" name="idendereco<?php echo $this->endereco_prefix?>" id="idendereco<?php echo $this->endereco_prefix?>" />
			<?php echo $this->render('/helpers/forms/endereco.phtml') ?>
		</div>
	</div>	
</div>