<h3 class="title-accordion">
	<a class="click_acc" data-toggle="collapse" data-parent="#accordion" href="#collapse4">
		Dados do Responsável
	</a>
</h3>

<div id="collapse4" class="content-height panel-collapse collapse in">
	<div class="form-group">
		<label class="col-sm-3 control-label">Nome do Responsável </label>
		<div class="col-sm-6">
			<input name="nomeresponsavel" value="<?php echo (isset($this->post_var['nomeresponsavel'])) ? $this->post_var['nomeresponsavel'] : "" ?>" type="text" class="form-control" placeholder=" "> 
		</div>
	</div>
	
	<div class="form-group">
		<label class="col-sm-3 control-label">CPF do Responsável *</label>
		<div class="col-sm-6">
			<input name="cpfcnpjresponsavel" value="<?php echo (isset($this->post_var['cpfcnpjresponsavel'])) ? $this->post_var['cpfcnpjresponsavel'] : "" ?>" type="text" class="form-control" placeholder=" "> 
		</div>
	</div>
	
	<div class="form-group">
		<label class="col-sm-3 control-label">RG do Responsável </label>
		<div class="col-sm-6">
			<input name="rgresponsavel" value="<?php echo (isset($this->post_var['rgresponsavel'])) ? $this->post_var['rgresponsavel'] : "" ?>" type="text" class="form-control" placeholder=" "> 
		</div>
	</div>
	
	<div class="form-group">
		<label class="col-sm-3 control-label">Estado Civil</label>
		<div class="col-sm-6">
			
			<select id="estadocivilresponsavel" name=estadocivilresponsavel class="form-control">
				<option value="">Selecione...</option>
				<?php foreach (Funcionarios::getEstadoCivil() as $k=>$v) : ?>
				<option value="<?php echo $k ?>"><?php echo $v ?></option>
				<?php endforeach;?>
			</select> 
		</div>
	</div>
	
	<div class="form-group">
		<label class="col-sm-3 control-label">Filiação </label>
		<div class="col-sm-6">
			<input name="filiacao" value="<?php echo (isset($this->post_var['filiacao'])) ? $this->post_var['filiacao'] : "" ?>" type="text" class="form-control" placeholder=" "> 
		</div>
	</div>
	
	<div class="form-group">
		<label class="col-sm-3 control-label">Nascimento do Responsável </label>
		<div class="col-sm-6">
			<input name="nascimentoresponsavel" value="<?php echo (isset($this->post_var['nascimentoresponsavel'])) ? Mn_Util::formPostVarData($this->post_var['nascimentoresponsavel']) : "" ?>" type="text" class="form-control" placeholder=" "> 
		</div>
	</div>
	
	<div class="form-group">
		<label class="col-sm-3 control-label">Arquivo Certidão de nascimento do Responsável </label>
		<div class="col-sm-6">
			<?php if ((isset($this->visualizar)) && ($this->visualizar)) : ?>						
				<?php if ((isset($this->post_var['idarquivonascimentoresponsavel'])) && ((int)$this->post_var['idarquivonascimentoresponsavel']>0)) : ?>
					<div class="col-sm-6" style="padding-top:10px">
						<?php echo $this->getArquivo($this->post_var['idarquivonascimentoresponsavel']) ?>
					</div> 
				<?php endif;?>
			<?php else: ?>
				<?php if ((isset($this->post_var['idarquivonascimentoresponsavel'])) && ((int)$this->post_var['idarquivonascimentoresponsavel']>0)) : ?>
					<?php echo $this->getArquivo($this->post_var['idarquivonascimentoresponsavel']) ?>
					
					<div class="checkbox block">
						<label><input type="checkbox" name="excluir_arquivonascimentoresponsavel" value="excluir" /> Desejo excluir o arquivo</label>
					</div>								
					<br /> 
				<?php endif; ?>
				
				<input type="file" name="arquivonascimentoresponsavel" class="form-control" />
			<?php endif;?>
		</div>
	</div>
	
	<div class="form-group">
		<label class="col-sm-3 control-label">Titulo de Eleitor Responsável </label>
		<div class="col-sm-6">
			<input name="tituloeleitoralresponsavel" value="<?php echo (isset($this->post_var['tituloeleitoralresponsavel'])) ? $this->post_var['tituloeleitoralresponsavel'] : "" ?>" type="text" class="form-control" placeholder=" "> 
		</div>
	</div>
</div>