<?php if (sizeof($this->imoveis) <=0) : ?>
<option value="">Selecione...</option>
<option value=""><div class="form-group"></div></option>
<?php else: ?>
<option value="">Selecione...</option>
<?php foreach ($this->imoveis as $k=>$v) : ?>
	<?php if((int)$v['idendereco']<=0) continue;?>
	<?php $endereco = Enderecos::getEnderecoById($v['idendereco']);?>
<option value="<?php echo $v['id'] ?>"><?php echo $endereco['endereco'].", ".$endereco['numero']." - ".$endereco['bairro'] ?></option>
<?php endforeach;?>
<?php endif; ?>

<?php /*if (sizeof($this->rows)==0) : ?>
<option value="">Selecione...</option>
<option value="">Nenhum funcionário foi encontrado para essa escola</option>
<?php else : ?>
<option value="">Selecione...</option>
<?php foreach ($this->rows as $row) : ?>
<option value="<?php echo $row['id'] ?>"><?php echo $row['nomerazao'] ?> <?php echo $row['sobrenomefantasia'] ?> (<?php echo $row['cargo'] ?>)</option>
<?php endforeach; ?>
<?php endif;
idimovel
*/ ?>
