<div class="control-group">
	<label class="control-label">Foto do Produto:</label>
	<div class="controls">
		<?php if ((isset($this->post_var['idfoto'])) && ((int)$this->post_var['idfoto']>0)) : ?>
			<?php echo $this->getImagem($this->post_var['idfoto'], 80, 80, '', Imagens::$INDISPONIVEL) ?>
		<?php endif; ?>		
	</div>
</div> 

<div class="control-group">
	<label class="control-label">Nome do Produto:</label>
	<div class="controls">
		<input type="hidden" value="<?php echo $this->post_var['id'] ?>"><?php echo $this->post_var['patrimonio'] ?>
	</div>
</div> 

<div class="control-group">
	<label class="control-label">Cor:</label>
	<div class="controls">
		<input type="hidden" value="<?php echo $this->post_var['id'] ?>"><?php echo $this->post_var['cor'] ?>
	</div>
</div>

<div class="control-group">
	<label class="control-label">Marca:</label>
	<div class="controls">
		<input type="hidden" value="<?php echo $this->post_var['id'] ?>"><?php echo $this->post_var['marca'] ?>	
	</div>
</div>

<div class="control-group">
	<label class="control-label">Tipo:</label>
	<div class="controls">
		<input type="hidden" value="<?php echo $this->post_var['id'] ?>"><?php echo $this->post_var['tipo'] ?>	
	</div>
</div>

<div class="control-group">
	<label class="control-label">Descrição do Produto:</label>
	<div class="controls">
		<input type="hidden" value="<?php echo $this->post_var['id'] ?>"><?php echo $this->post_var['descricoes'] ?> 	
	</div>
</div>

<div class="control-group">
	<label class="control-label">Data da Compra:</label>
	<div class="controls">
		<input type="hidden" value="<?php echo $this->post_var['id'] ?>"><?php echo (Mn_util::formPostVarData($this->post_var['datacompra'])) ?> 
	</div>
</div>
