		<!-- Content -->
		<div id="content">

		    <!-- Content wrapper -->
		    <div class="wrapper">

			    <!-- Breadcrumbs line -->
			    <div class="crumbs">
			    	<?php echo $this->render('/helpers/breadcrumb.phtml') ?>
			    </div>
			    <!-- /breadcrumbs line -->

			    <!-- Page header -->
			    <div class="page-header">
			    	<div class="page-title">
				    	<h5>Formulário da solicitação</h5>
				    	<span>Verifique os campos e preencha com os dados</span>
			    	</div>
			    </div>
			    <!-- /page header -->

			    <?php if (isset($this->crudMessage)) : ?>
					<div class="alert alert-success">
	                	<button data-dismiss="alert" class="close" type="button">×</button>
	                    <strong>Operação realizada com sucesso!</strong>
		    			<span><br /><?php echo $this->crudMessage ?></span>
	                </div>			    
			    <?php endif; ?>

				<form id="form" name="form" action="" method="post" class="form-horizontal" enctype="multipart/form-data"> 
					<input type="hidden" value="<?php echo (isset($this->post_var)) ? $this->post_var["id"] : ''; ?>" name="id" id="id" />
					
					<fieldset>
						<!-- General form elements -->
						<div class="widget row-fluid">
						    <div class="navbar">
						        <div class="navbar-inner">
						            <h6>Digite as informações do formulário</h6>
						        </div>
						    </div>

						    <div class="well">
								<?php if (isset($this->erros)) : ?>
									<div class="alert alert-error margin">
				                        <button data-dismiss="alert" class="close" type="button">×</button>
				                        <strong>Há erros no formulário!</strong>
					    				<?php foreach ($this->erros as $k=>$v) : ?>
					    					<span><br />- <?php echo $v ?></span>
					    				<?php endforeach;?>			                        
				                    </div>
			                    <?php endif; ?>						    
						    



				<div class="control-group">
					<label class="control-label">Escolas </label>
					<div class="controls">
		                <select name="idescola" data-placeholder="Escolas" class="select" onchange="setDepartamentos(this, 0)">
							<option value="">Selecione...</option>
							<?php foreach (Escolas::getEscolasHelper(array('status'=>'Ativo', 'idsecretaria'=>Usuarios::getSecretariaAtiva( Usuarios::getUsuario('id'), 'id' ))) as $k=>$v) : ?>
							<option value="<?php echo $v['id'] ?>"><?php echo $v['escola'] ?></option>
							<?php endforeach;?>
						</select>
						
					</div>
				</div>
			
				<div class="control-group">
					<label class="control-label">Departamento da Escola </label>
					<div class="controls">
		                <select name="iddepartamentoescola" data-placeholder="Departamento da Escola" class="select" onchange="setFuncionarios(this, 0)">
							<option value="">Selecione...</option>
						</select>							
					</div>
				</div>

				<div class="control-group">
					<label class="control-label">Funcionário do departamento </label>
					<div class="controls">
		                <select name="idescolausuarioresponsavel" data-placeholder="Funcionário do departamento" class="select">
							<option value="">Selecione...</option>
						</select>							
					</div>
				</div>


				<div class="control-group">
					<label class="control-label">Título <span class="required">*</span></label>
					<div class="controls"><input maxlength="500" placeholder="Título" name="titulo" value="<?php echo (isset($this->post_var['titulo'])) ? $this->post_var['titulo'] : '' ?>" type="text"  class="span3" /></div>
				</div>


				<div class="control-group">
					<label class="control-label">Assunto </label>
					<div class="controls"><textarea class="span12" name="descricoes" cols="5" rows="5"><?php echo (isset($this->post_var)) ? $this->post_var["descricoes"] : ''; ?></textarea></div>
				</div>

				<div class="control-group">
					<label class="control-label">Solicitação </label>
					<div class="controls"><textarea class="span12" name="observacoes" cols="5" rows="5"><?php echo (isset($this->post_var)) ? $this->post_var["observacoes"] : ''; ?></textarea></div>
				</div>

				<div class="control-group">
					<label class="control-label">Data do Agendamento <span class="required">*</span></label>
					<div class="controls"><input maxlength="500" placeholder="Data do Agendamento" name="dataagendamento" value="<?php echo (isset($this->post_var['dataagendamento'])) ? Mn_Util::formPostVarData($this->post_var['dataagendamento']) : '' ?>" type="text"  class="span3" /></div>
				</div>
<?php if($this->getController()=="engenhariaschamados"):?>
				<div class="control-group">
					<label class="control-label">Tipo</label>
					<div class="controls">
						<select name="tipo" data-placeholder="Tipo" class="select">
							<option value="">Selecione...</option>
							<option value="Hidráulico">Hidráulico</option><option value="Eletricista">Eletricista</option>
						</select>
						
					</div>
				</div>
<?php elseif($this->getController()=="tichamados"): ?>
				<div class="control-group">
					<label class="control-label">Tipo</label>
					<div class="controls">
						<select name="tipo" data-placeholder="Tipo" class="select">
							<option value="">Selecione...</option>
							<option value="Incidente">Incidente</option>
							<option value="Remanescente">Remanescente</option>
							<option value="Locação">Locação</option>
							<option value="Compras">Compras</option>
						</select>
						
					</div>
				</div>
<?php endif; ?>


				<div class="control-group">
					<label class="control-label">Status <span class="required">*</span></label>
					<div class="controls">
						<select name="status1" data-placeholder="Status" class="select">
							<option value="">Selecione...</option>
							<option value="Aberto">Aberto</option><option value="Encerrado">Encerrado</option>
							<option value="Analisando">Analisando</option><option value="Cancelado">Cancelado</option>
						</select>
						
					</div>
				</div>

						    
						    
						    </div>
						    
			                <div class="form-actions align-right">
			                	<?php if ((isset($this->visualizar)) && ($this->visualizar)) : ?>
			                		<button onclick="window.history.back()" class="btn btn-danger cancelar" type="button">Voltar</button>
			                	<?php else : ?>
				                	<button class="btn btn-primary enviar" type="submit">Salvar</button>
				                	<button onclick="window.history.back()" class="btn btn-danger cancelar" type="button">Cancelar</button>
			                	<?php endif; ?>
			                </div>
						</div>
						<!-- /general form elements -->

					</fieldset> 

				</form>
				<!-- /basic inputs -->

		    </div>
		    <!-- /content wrapper -->

		</div>
		<!-- content -->
				
<script type="text/javascript" src="<?php echo $this->baseUrl('/public/scripts/admin/engenhariaschamados_form.js') ?>"></script>
<script type="text/javascript">
	var form_values = {};
	
	<?php if (isset($this->post_var)) :  ?>
		form_values.idusuariocriacao = '<?php echo (isset($this->post_var['idusuariocriacao'])) ? $this->post_var['idusuariocriacao'] : '' ?>';

form_values.iddepartamentosecretaria = '<?php echo (isset($this->post_var['iddepartamentosecretaria'])) ? $this->post_var['iddepartamentosecretaria'] : '' ?>';

form_values.idescola = '<?php echo (isset($this->post_var['idescola'])) ? $this->post_var['idescola'] : '' ?>';

form_values.origem = '<?php echo (isset($this->post_var['origem'])) ? $this->post_var['origem'] : '' ?>';

form_values.destinatario = '<?php echo (isset($this->post_var['destinatario'])) ? $this->post_var['destinatario'] : '' ?>';
form_values.idusuarioresponsavel = '<?php echo (isset($this->post_var['idusuarioresponsavel'])) ? $this->post_var['idusuarioresponsavel'] : '' ?>';
form_values.status1 = '<?php echo (isset($this->post_var['status1'])) ? $this->post_var['status1'] : $this->post_var['status'] ?>';
form_values.iddepartamentoescola = '<?php echo (isset($this->post_var['iddepartamentoescola'])) ? $this->post_var['iddepartamentoescola'] : '' ?>';
form_values.idescolausuarioresponsavel = '<?php echo (isset($this->post_var['idescolausuarioresponsavel'])) ? $this->post_var['idescolausuarioresponsavel'] : '' ?>';
	<?php endif; ?>
	<?php if (isset($this->post_var)) :  ?>
	form_values.tipo = '<?php echo (isset($this->post_var['tipo'])) ? $this->post_var['tipo'] : '' ?>';
	<?php endif; ?>

	<?php if (isset($this->post_var)) :  ?>
	form_values.prioridade = '<?php echo (isset($this->post_var['prioridade'])) ? $this->post_var['prioridade'] : '' ?>';
	<?php endif; ?>


	visualizar = <?php echo  ((isset($this->visualizar)) && ($this->visualizar))  ? 'true' : 'false' ?>;
</script>
