<?php
    $mesatual = (isset($this->mesatual)) ? $this->mesatual : date('m');
    $mesatual = (int) $mesatual;
    if ($mesatual <= 0) {
        $mesatual = date('m');
    } elseif ($mesatual < 10) {
        $mesatual = '0' . $mesatual;
    }
?>
<?php $colspan = 3; ?>
<table class="table table-primary mb30 diasmes" style="width:100%;" border="1" bordercolor="#d5d5d5">
    <thead>
        <tr>
            <th width="">&nbsp;</th>									
            <th width="">&nbsp;</th>									
            <?php for ($i = 1; $i <= $this->ultimadia; $i++): ?>
                <?php $colspan = $colspan + 1; ?>
                <th width="">
                    <?php
                        $day = date('w', mktime(0, 0, 0, $mesatual, $i, date('Y')));
                        $days = array('D', 'S', 'T', 'Q', 'Q', 'S', 'S');
                        if ($day === '0') {
                            echo '<font color="red">', $days[$day], '</font>';
                        } elseif ($day === '6') {
                            echo '<font color="orange">', $days[$day], '</font>';
                        } else {
                            echo $days[$day];
                        }
                    ?>
                </th>
            <?php endfor; ?>
            <th>&nbsp;</th>
        </tr>
        <tr>
            <th width="">&nbsp;</th>									
            <th width="" class="nomealuno">Aluno</th>									
            <?php for ($i = 1; $i <= $this->ultimadia; $i++): ?>
                <?php $colspan = $colspan + 1; ?>
                <th width=""><?php echo $i ?></th>
            <?php endfor; ?>
            <th>T.</th>
        </tr>
    </thead>
    <tbody >
        <?php if (sizeof($this->escolasalunos) <= 0): ?>
            <tr>
                <td colspan="<?php echo $colspan ?>">Nenhum aluno encontrado!</td>
            </tr>
        <?php else: ?>

            <?php foreach ($this->escolasalunos as $ea => $rowaluno): ?>
                <tr>
                    <td><?php echo $ea + 1 ?></td>
                    <td class="nomealuno">
                        <?php
                        $___rows = Escolasalunos::getEscolasalunosHelper(array('id' => $rowaluno['idaluno']));
                        $___row = (sizeof($___rows) > 0) ? $___rows[0] : false;

                        echo ($___row) ? $this->formatTextoBranco($this->cortaPalavra(20, $___row['nomerazao'] . ' ' . $___row['sobrenomefantasia'])) : '--';
                        ?>

                    </td>
                    <?php $total = 0; ?>
                    <?php
                    for ($i = 1; $i <= $this->ultimadia; $i++):
                    ?>

                    <?php
                        if (isset($this->professor['polivalente']) && $this->professor['polivalente'] == 'Sim'):
                            $planoaula = Planosaulas::getPlanosaulasHelper(array('idprofessor' => $this->idprofessor, 'idescolavinculo' => $this->idescolavinculo, 'data_i' => date('Y'.'-'.$mesatual.'-'.$i), 'data_f' => date('Y'.'-'.$mesatual.'-'.$i), 'unique' => true));
                        else:
                            $planoaula = Planosaulas::getPlanosaulasHelper(array('idprofessor' => $this->idprofessor, 'idescolavinculo' => $this->idescolavinculo, 'idmateria' => $this->idmateria, 'data_i' => date('Y'.'-'.$mesatual.'-'.$i), 'data_f' => date('Y'.'-'.$mesatual.'-'.$i), 'unique' => true));
                        endif;
                        ?>
                        <?php
                        $coordenacaocalendariosdias = Coordenacaocalendariosdias::getCoordenacaocalendariosdiasHelper(array('dialetivo' => 'Não', 'data_i' => date('Y-' . $mesatual . '-' . $i), 'data_f' => date('Y-' . $mesatual . '-' . $i), 'ano' => date('Y')));

                        $verifica_dia_letivo = true;
                        $verifica_dia_semana = false;
                        if (sizeof($coordenacaocalendariosdias) > 0) {
                            $verifica_dia_letivo = false;
                        }

                    ?>
                        <td id="inline<?php echo $i ?>" class="quadro_<?php echo $i ?>" <?php echo ((!$verifica_dia_letivo) || (!$verifica_dia_semana)) ? 'style="cursor:default; background-color:#CCC;"' : '' ?>>
                        <?php
                        
                            if ((!isset($this->professor['polivalente']) || $this->professor['polivalente'] != 'Sim') /*&& isset($planoaula['id'])*/):

                                $quadrosemanal = Quadrohorarios::getQuadrohorariosHelper(array('idescolavinculo'=>$this->idescolavinculo, 'idmateria'=>$this->idmateria,'order'=>' GROUP BY q1.idprofessor'));

                                $horarios = (sizeof($quadrosemanal) > 0) ? 
                                    [  
                                        0=>$quadrosemanal[0]['aulasdom'], 
                                        1=>$quadrosemanal[0]['aulasseg'], 
                                        2=>$quadrosemanal[0]['aulaster'],
                                        3=>$quadrosemanal[0]['aulasqua'],
                                        4=>$quadrosemanal[0]['aulasqui'],
                                        5=>$quadrosemanal[0]['aulassex'],
                                        6=>$quadrosemanal[0]['aulassab']
                                    ]  
                                    : [0=>'1',1=>'1',2=>'1',3=>'1',4=>'1',5=>'1',6=>'1']; 
                                    
                                foreach ($horarios as $key => $row):
                                    $w = date('w', mktime(0, 0, 0, $mesatual, $i, date('Y')));
                                    
                                    if ($key === (int)$w ) :
                                    for ($x = 1; $x <= $row; $x++):
                                    ?>

                                    <?php
                                        
                                        if (isset($this->professor['polivalente']) && $this->professor['polivalente'] == 'Sim'){
                                            $falta = Escolasalunosfaltas::getEscolasalunosfaltasHelper(array('idaluno' => $rowaluno['idaluno'], 'idprofessor' => $this->idprofessor, 'idescolavinculo' => $this->idescolavinculo, 'data_i' => date('Y-' . $mesatual . '-' . $i), 'data_f' => date('Y-' . $mesatual . '-' . $i), 'unique' => true, 'aula' => $x));
                                        }else{
                                            $falta = Escolasalunosfaltas::getEscolasalunosfaltasHelper(array('idaluno' => $rowaluno['idaluno'], 'idprofessor' => $this->idprofessor, 'idescolavinculo' => $this->idescolavinculo, 'idmateria' => $this->idmateria, 'data_i' => date('Y-m-' . $i), 'data_f' => date('Y-' . $mesatual . '-' . $i), 'unique' => true, 'aula' => $x));
                                        }

                                        $onclick = "addFalta(this, '" . $i . "', 'falta', '" . $this->idescolavinculo . "', '" . $rowaluno['idaluno'] . "', '" . $x . "')";
                                        if (isset($falta['id'])) {
                                            $onclick = "removeFalta(this ," . $falta['id'] . ", '" . $i . "', '" . $this->idescolavinculo . "', '" . $rowaluno['idaluno'] . "')";
                                        }
                                        
                                        $background = "background-color:#9AED8C;";
                                        if (!(isset($planoaula['id']))) {
                                            $onclick="addPlanoaula(this, '".$i."', '".date('m')."', '".$this->idescolavinculo."')";
                                            $background = "background-color:#46A4FF;";
                                        }

                                        if (isset($falta['id'])) {
                                            $background = "background-color:#FF4C4C; color:#FFF";
                                        }
                                    ?>
                                        <span class="btn-sm" style="<?php echo $background ?>; padding: 0 4px;" onclick="<?php echo $onclick ?>"><?php echo (isset($falta['id'])) ? 'F' : 'C' ?></span><br />
                                    <?php endfor; ?>
                                <?php endif; endforeach; ?>
                            <?php else: ?> 
                            <!--// Polivalentes-->
                                <?php
                                    //echo 'P:','idprofessor',$this->idprofessor, 'idescolavinculo' ,$this->idescolavinculo, 'idmateria' , $this->idmateria;
                                if (isset($this->professor['polivalente']) && $this->professor['polivalente'] == 'Sim'):
                                    $planoaula = Planosaulas::getPlanosaulasHelper(array('idprofessor' => $this->idprofessor, 'idescolavinculo' => $this->idescolavinculo, 'data_i' => date('Y-' . $mesatual . '-' . $i), 'data_f' => date('Y-' . $mesatual . '-' . $i), 'unique' => true));
                                    $falta = Escolasalunosfaltas::getEscolasalunosfaltasHelper(array('idaluno' => $rowaluno['idaluno'], 'idprofessor' => $this->idprofessor, 'idescolavinculo' => $this->idescolavinculo, 'data_i' => date('Y-' . $mesatual . '-' . $i), 'data_f' => date('Y-' . $mesatual . '-' . $i), 'unique' => true));
                                else:
                                    $planoaula = Planosaulas::getPlanosaulasHelper(array('idprofessor' => $this->idprofessor, 'idescolavinculo' => $this->idescolavinculo, 'idmateria' => $this->idmateria, 'data_i' => date('Y-' . $mesatual . '-' . $i), 'data_f' => date('Y-' . $mesatual . '-' . $i), 'unique' => true));
                                    $falta = Escolasalunosfaltas::getEscolasalunosfaltasHelper(array('idaluno' => $rowaluno['idaluno'], 'idprofessor' => $this->idprofessor, 'idescolavinculo' => $this->idescolavinculo, 'idmateria' => $this->idmateria, 'data_i' => date('Y-' . $mesatual . '-' . $i), 'data_f' => date('Y-' . $mesatual . '-' . $i), 'unique' => true));
                                endif;

                                $background = "background-color:#9AED8C;";
                                $label = "C";
                                $onclick = "addFalta(this, '" . $i . "', 'falta', '" . $this->idescolavinculo . "', '" . $rowaluno['idaluno'] . "')";
                                if (isset($falta['id'])) :
                                    $onclick = "removeFalta(this ," . $falta['id'] . ", '" . $i . "', '" . $this->idescolavinculo . "', '" . $rowaluno['idaluno'] . "')";
                                    $background = "background-color:#FA1C40; color:#FFF";
                                    $label = "F";
                                endif;
                                if (!(isset($planoaula['id']))) {
                                    $onclick="addPlanoaula(this, '".$i."', '".date('m')."', '".$this->idescolavinculo."')";
                                    $background = "background-color:#46A4FF;";
                                    $label = "&nbsp;";
                                }
                                $style = "";
                                if (!$verifica_dia_letivo) {
                                    $onclick = "console.log('não disponivel')";
                                    $background = "background-color:#CCC; cursor:default;";
                                    $label = "&nbsp;";
                                }
                                ?>	
                                <?php if (!$verifica_dia_semana): ?>
                                    <a href="javascript:;" style="<?php echo $background ?>;padding: 0 4px;" onclick="<?php echo $onclick ?>"><?php echo $label ?></a>
                                <?php endif; ?>
                            <?php endif; ?>
                            <div style="display:none">
                                <div id="data<?php echo $i ?>">
                                    <div class="control-group">
                                        <label class="control-label">Título <span class="required">*</span></label>
                                        <div class="controls"><input maxlength="500" placeholder="Título" name="titulo" value="" type="text"  class="span3 titulo" /></div>
                                    </div>

                                    <div class="control-group">
                                        <label class="control-label">Descrições </label>
                                        <div class="controls"><textarea class="span12 texto" name="texto" cols="5" rows="5" style="width: 100%"></textarea></div>
                                    </div>

                                    <div class="form-actions align-center">

                                        <button class="btn btn-primary" type="button"  onclick="enviaplano(this, '<?php echo $i ?>', '<?php echo date($mesatual) ?>', '<?php echo $this->idescolavinculo ?>', '<?php echo $rowaluno['idaluno'] ?>')">Salvar plano de aula</button>

                                    </div>
                                </div>
                            </div>
                            <input type="hidden" name="idsfaltas[]" class="idsfaltas" value="<?php echo (isset($falta['id'])) ? $falta['id'] : 0 ?>"  />
                            <input type="hidden" name="idescolavinculo[]" value="<?php echo $this->idescolavinculo ?>" />
                            <input type="hidden" name="idmateria[]" value="<?php echo $this->idmateria ?>" />
                            <input type="hidden" name="idprofessor[]" value="<?php echo $this->idprofessor ?>" />
                            <input type="hidden" name="idaluno[]" value="<?php echo $rowaluno['idaluno'] ?>" />

                        </td>
        <?php endfor; ?>

                    <td>
        <?php
        $datainicial = date('Y') . '-' . $mesatual . '-01';
        $datafinal = date('Y') . '-' . $mesatual . '-' . date('t');

        $faltatotal = Escolasalunosfaltas::getEscolasalunosfaltasHelper(array('idaluno' => $rowaluno['idaluno'], 'idprofessor' => $this->idprofessor, 'idescolavinculo' => $this->idescolavinculo, 'idmateria' => $this->idmateria, 'data_i' => $datainicial, 'data_f' => $datafinal, 'total' => true));
        ?>
                        <span class="total1"><?php echo (int) $faltatotal ?></span>
                    </td>
                </tr>
                    <?php endforeach ?>
                <?php endif; ?>		
    </tbody>
</table>
<script type="text/javascript">
    function addPlanoaula(obj, dia) {
        jConfirm('Criar plano de aula?', 'Adicionar plano de aula', function (r) {
            if (r) {
                $.fancybox({
                    type: 'inline',
                    href: '#data' + dia
                });
            }
        });
    }

    function enviaplano(obj, dia, mes, idescolavinculo, idaluno) {
        var idmateria = $('select[name=idmateria]').val();
        var idprofessor = $('[name=idprofessor]').val();
        var id = $(obj).find('.idsfaltas').val();
        var titulo = $(obj).parent().parent().find('.titulo').val();
        var texto = $(obj).parent().parent().find('.texto').val();
        var idprofessorinput = $('input[name=idprofessor]').val();


        data = '';
        $.post(baseUrl + '/admin/escolasalunosfaltas/addplano/', {idprofessor: idprofessor, idmateria: idmateria, idescolavinculo: idescolavinculo, dia: dia, mes: mes, titulo: titulo, texto: texto}, function (data) {
            var data_resp = JSON.parse(data);

            if (data_resp.data == "OK") {
                //location.reload();
                var idmateriaset = $("select[name=idmateria]").val();
                console.log('idmateriaset: ' + idmateriaset);
                //window.location = baseUrl + "/admin/escolasalunosfaltas/editar/id/"+idescolavinculo+"/idm/" + idmateriaset;

                jAlert(data_resp.mensagem, data_resp.titulo, function (rrr) {
                    window.location = "<?php echo $this->baseUrl() ?>/admin/escolasalunosfaltas/editar/id/" + idescolavinculo + "/idm/" + idmateriaset;
                });
            } else {
                jAlert(data_resp.mensagem, data_resp.titulo);
            }
        });



    }
</script>