		<!-- Content -->
		<div id="content">

		    <!-- Content wrapper -->
		    <div class="wrapper">

			    <!-- Breadcrumbs line -->
			    <div class="crumbs">
			    	<?php echo $this->render('/helpers/breadcrumb.phtml') ?>
			    </div>
			    <!-- /breadcrumbs line -->

			    <!-- Page header -->
			    <div class="page-header">
			    	<div class="page-title">
				    	<h5>Formulário do funcionário</h5>
				    	<span>Verifique os campos e preencha com os dados</span>
			    	</div>
			    </div>
			    <!-- /page header -->

			    <?php if (isset($this->crudMessage)) : ?>
					<div class="alert alert-success">
	                	<button data-dismiss="alert" class="close" type="button">×</button>
	                    <strong>Operação realizada com sucesso!</strong>
		    			<span><br /><?php echo $this->crudMessage ?></span>
	                </div>			    
			    <?php endif; ?>

				<form id="form" name="form" action="" method="post" class="form-horizontal" enctype="multipart/form-data"> 
					


					<fieldset>
						<!-- General form elements -->
						<div class="widget row-fluid">
						    <div class="navbar">
						        <div class="navbar-inner">
						            <h6>Digite as informações do formulário</h6>
						        </div>
						    </div>

						    <div class="well">
								<?php if (isset($this->erros)) : ?>
									<div class="alert alert-error margin">
				                        <button data-dismiss="alert" class="close" type="button">×</button>
				                        <strong>Há erros no formulário!</strong>
					    				<?php foreach ($this->erros as $k=>$v) : ?>
					    					<span><br />- <?php echo $v ?></span>
					    				<?php endforeach;?>			                        
				                    </div>
			                    <?php endif; ?>						    

                <?php if($this->getAction()=="editar"): ?>
				<div class="control-group">
					<label class="control-label">Funcionário <span class="required">*</span></label>
					<div class="controls">
		                <select name="id" data-placeholder="Funcionário" class="select">
							<option value="<?php echo (isset($this->post_var['id'])) ? $this->post_var['id'] : '0' ?>"><?php echo (isset($this->post_var['nome'])) ? $this->post_var['nome'] : '' ?></option>
							
						</select>
						
					</div>
				</div>					
				<?php else: ?>
				<div class="control-group">
					<label class="control-label">Funcionário <span class="required">*</span></label>
					<div class="controls">
		                <select name="id" data-placeholder="Funcionário" class="select">
							<option value="">Selecione...</option>
	                        <?php foreach ($this->funcionariosgeraisescolas as $fg=>$rowfg): ?>
	                        <option value="<?php echo $rowfg['id'] ?>"><?php echo $rowfg['nome'] ?></option>
	                        <?php endforeach;?>
						</select>
						
					</div>
				</div>	
				<?php endif ?>



				<div class="control-group">
					<label class="control-label">Escolas <span class="required">*</span></label>
					<div class="controls">
                        <select id="idescola" name="idescola"  class="select" onchange="setSeries(this, 0)">
	                        <option value="">Selecione...</option>
	                        <?php foreach (Escolas::getEscolasHelper(array('status' => 'Ativo')) as $e=>$row): ?>
	                        <option value="<?php echo $row['id'] ?>"><?php echo $row['escola'] ?></option>
	                        <?php endforeach;?>
                        </select>   
					</div>
				</div>


	        		<div class="control-group">
	        			<label class="control-label">Departamento</label>
	        			<div class="controls">
	        				<select id="iddepartamentoescola" name="iddepartamentoescola" class="form-control">
<?php if (sizeof($this->departamentos)==0) : ?>
<option value="">Selecione...</option>
<option value="">Nenhum departamento foi encontrado</option>
<?php else : ?>
<option value="">Selecione...</option>
<?php foreach ($this->departamentos as $row) : ?>
<option value="<?php echo $row['id'] ?>"><?php echo $row['departamento'] ?></option>
<?php endforeach; ?>
<?php endif; ?>

							</select>        				
						</div>
					</div>


	        		<div class="control-group">
	        			<label class="control-label">Cargo</label>
	        			<div class="controls">
	        				<select id="idcargo" name="idcargo" class="form-control">
<?php if (sizeof($this->cargos)==0) : ?>
<option value="">Selecione...</option>
<option value="">Nenhum cargo foi encontrado</option>
<?php else : ?>
<option value="">Selecione...</option>
<?php foreach ($this->cargos as $row) : ?>
<option value="<?php echo $row['id'] ?>"><?php echo $row['cargo'] ?></option>
<?php endforeach; ?>
<?php endif; ?>

							</select>        				
						</div>
					</div>


	        		<div class="control-group">
	        			<label class="control-label">Função</label>
	        			<div class="controls">
	        				<select id="idfuncao" name="idfuncao" class="form-control">
<?php if (sizeof($this->funcoes)==0) : ?>
<option value="">Selecione...</option>
<option value="">Nenhuma função foi encontrada</option>
<?php else : ?>
<option value="">Selecione...</option>
<?php foreach ($this->funcoes as $row) : ?>
<option value="<?php echo $row['id'] ?>"><?php echo $row['funcao'] ?></option>
<?php endforeach; ?>
<?php endif; ?>

							</select>        				
						</div>
					</div>



						    
						    
						    </div>
						    
			                <div class="form-actions align-right">
			                	<?php if ((isset($this->visualizar)) && ($this->visualizar)) : ?>
			                		<button onclick="window.history.back()" class="btn btn-danger cancelar" type="button">Voltar</button>
			                	<?php else : ?>
				                	<button class="btn btn-primary enviar" type="submit">Salvar</button>
				                	<button onclick="window.history.back()" class="btn btn-danger cancelar" type="button">Cancelar</button>
			                	<?php endif; ?>
			                </div>
						</div>
						<!-- /general form elements -->

					</fieldset> 

				</form>
				<!-- /basic inputs -->

		    </div>
		    <!-- /content wrapper -->

		</div>
		<!-- content -->
				
<script type="text/javascript" src="<?php echo $this->baseUrl('/public/scripts/admin/funcionariosgeraisdasescolas_form.js') ?>"></script>
<script type="text/javascript">
	var form_values = {};
	
	<?php if (isset($this->post_var)) :  ?>
		form_values.idsecretaria = '<?php echo (isset($this->post_var['idsecretaria'])) ? $this->post_var['idsecretaria'] : '' ?>';

form_values.tipo = '<?php echo (isset($this->post_var['tipo'])) ? $this->post_var['tipo'] : '' ?>';

form_values.e_idenderecoidestado = '<?php echo (isset($this->post_var['e_idenderecoidestado'])) ? $this->post_var['e_idenderecoidestado'] : '' ?>';
form_values.iddepartamentoescola = '<?php echo (isset($this->post_var['iddepartamentoescola'])) ? $this->post_var['iddepartamentoescola'] : '' ?>';

form_values.cnh = '<?php echo (isset($this->post_var['cnh'])) ? $this->post_var['cnh'] : '' ?>';

form_values.estrangeiro = '<?php echo (isset($this->post_var['estrangeiro'])) ? $this->post_var['estrangeiro'] : '' ?>';

form_values.grauinstrucao = '<?php echo (isset($this->post_var['grauinstrucao'])) ? $this->post_var['grauinstrucao'] : '' ?>';

form_values.estadocivil = '<?php echo (isset($this->post_var['estadocivil'])) ? $this->post_var['estadocivil'] : '' ?>';

form_values.filhos = '<?php echo (isset($this->post_var['filhos'])) ? $this->post_var['filhos'] : '' ?>';

form_values.regime = '<?php echo (isset($this->post_var['regime'])) ? $this->post_var['regime'] : '' ?>';

form_values.bolsista = '<?php echo (isset($this->post_var['bolsista'])) ? $this->post_var['bolsista'] : '' ?>';
form_values.idescola = '<?php echo (isset($this->post_var['idescola'])) ? $this->post_var['idescola'] : '' ?>';
form_values.iddepartamentoescola = '<?php echo (isset($this->post_var['iddepartamentoescola'])) ? $this->post_var['iddepartamentoescola'] : '' ?>';
form_values.idfuncao = '<?php echo (isset($this->post_var['idfuncao'])) ? $this->post_var['idfuncao'] : '' ?>';

form_values.status1 = '<?php echo (isset($this->post_var['status1'])) ? $this->post_var['status1'] : $this->post_var['status'] ?>';


	<?php endif; ?>
form_values.idcargo = '<?php echo (isset($this->post_var['idcargo'])) ? $this->post_var['idcargo'] : '' ?>';
form_values.idprefeitura = '<?php echo (isset($this->post_var['idprefeitura'])) ? $this->post_var['idprefeitura'] : '' ?>';
form_values.professor = '<?php echo (isset($this->post_var['professor'])) ? $this->post_var['professor'] : '' ?>';
form_values.idescola = '<?php echo (isset($this->post_var['idescola'])) ? $this->post_var['idescola'] : '' ?>';
form_values.enviaemails = '<?php echo (isset($this->post_var['enviaemails'])) ? $this->post_var['enviaemails'] : '' ?>';
form_values.idperfil = '<?php echo (isset($this->post_var['idperfil'])) ? $this->post_var['idperfil'] : '' ?>';


form_values.pertenceescola = '<?php echo (isset($this->post_var['pertenceescola'])) ? $this->post_var['pertenceescola'] : '' ?>';




	visualizar = <?php echo  ((isset($this->visualizar)) && ($this->visualizar))  ? 'true' : 'false' ?>;
</script>
