
    		<div class="control-group">
    			<div class="controls1">
					<div class="wrap_multiplos_arquivos">	
						<fieldset class="box-fieldset">
							<legend>&nbsp;</legend>
									
							<div class="bootstrap">
								<span class="btn btn-warning fileinput-button">
									<i class="icon-plus icon-white"></i>
						           	<span class="add_arquivos">Adicionar Arquivos...</span>
						           	<input id="btn_fileupload_arquivos" type="file" name="files[]" data-url="<?php echo $this->baseUrl() ?>/admin/index/fileupload/" multiple="" style="height: !important" />
						       	</span>
						    	<br clear="all" />   		 
							</div>
							
							<div id="multiplos_arquivos" class="block-border">
								<ul class="grid dark-grey-gradient">
						
								</ul>
								<br clear="all" /> 
							</div>				
						</fieldset>
					</div>
				</div>
			</div>


		
<script type="text/javascript" src="<?php echo $this->baseUrl('/public/scripts/admin/escolasedificacoesarquivos_multiplosarquivos.js') ?>"></script>
<script type="text/javascript" src="<?php echo $this->baseUrl('/public/scripts/ui.dragdrop.js') ?>"></script>
<script type="text/javascript">
(function ($) {

    $.fn.swap = function(anotherElement) {

        var sameParentStrategy = function(one, another) {
            var oneIndex = one.index();
            var anotherIndex = another.index();
            var swapFunction = function(first, second, firstIndex, secondIndex) {
                if (firstIndex == secondIndex - 1) {
                    first.insertAfter(second);
                } else {
                    var secondPrevious = second.prev();
                    second.insertAfter(first);
                    first.insertAfter(secondPrevious);
                }
            }
            if (oneIndex < anotherIndex) {
                swapFunction(one, another, oneIndex, anotherIndex);
            } else {
                swapFunction(another, one, anotherIndex, oneIndex);
            }
        };

        var differentParentsStrategy = function(one, another) {
            var positionStrategy = function(e) {
                var previous = e.prev();
                var next = e.next();
                var parent = e.parent();
                if (previous.length > 0) {
                    return function(e) {
                        e.insertAfter(previous);
                    };
                } else if (next.length > 0) {
                    return function(e) {
                        e.insertBefore(next);
                    };
                } else {
                    return function(e) {
                        parent.append(e);
                    };
                }
            }
            var oneStrategy = positionStrategy(one);
            var anotherStrategy = positionStrategy(another);
            oneStrategy(another);
            anotherStrategy(one);
            return this;
        };

        //check better strategy
        var one = $(this);
        var another = $(anotherElement);
        if (one.parent().get(0) == another.parent().get(0)) {
            sameParentStrategy(one, another);
        } else {
            differentParentsStrategy(one, another);
        }

    };

}(jQuery));

	var count_li = 0;
	$(document).ready(function() {		
		<?php

			//$idescola = (isset($this->post_var['idedificacao'])) ? (int)$this->post_var['idedificacao'] : 0;  

			$arquivos = ((int)$this->post_var['id']) ? Documentacaosolicitacoespontosarquivos::getDocumentacaosolicitacoespontosarquivosHelper(array('idparent' => (int)$this->post_var['id'])) : array();

            //var_dump($arquivos);die();

			foreach ($arquivos as $row): 
		?>
			setMultiplos_arquivos('<?php echo $row['idarquivo'] ?>', '<?php //echo $row['filename'] ?>', '<?php echo $row['legenda'] ?>');
		<?php endforeach;?>
        resetPaginas();
		aplicaDragAndDrop();
	});

</script>