		<!-- Content -->
		<div id="content">

		    <!-- Content wrapper -->
		    <div class="wrapper">

			    <!-- Breadcrumbs line -->
			    <div class="crumbs">
			    	<?php echo $this->render('/helpers/breadcrumb.phtml') ?>
			    </div>
			    <!-- /breadcrumbs line -->

			    <!-- Page header -->
			    <div class="page-header">
			    	<div class="page-title">
				    	<h5>Formulário com Blocos de Horários para a folha de ponto </h5>
				    	<span>Verifique os campos e preencha com os dados</span>
			    	</div>
			    </div>
			    <!-- /page header -->

			    <?php if (isset($this->crudMessage)) : ?>
					<div class="alert alert-success">
	                	<button data-dismiss="alert" class="close" type="button">×</button>
	                    <strong>Operação realizada com sucesso!</strong>
		    			<span><br /><?php echo $this->crudMessage ?></span>
	                </div>			    
			    <?php endif; ?>

				<form id="form" name="form" action="" method="post" class="form-horizontal" enctype="multipart/form-data"> 
					<input type="hidden" value="<?php echo (isset($this->post_var)) ? $this->post_var["id"] : ''; ?>" name="id" id="id" />
					
					<fieldset>
						<!-- General form elements -->
						<div class="widget row-fluid">
						    <div class="navbar">
						        <div class="navbar-inner">
						            <h6>Digite as informações do formulário</h6>
						        </div>
						    </div>

						    <div class="well">
								<?php if (isset($this->erros)) : ?>
									<div class="alert alert-error margin">
				                        <button data-dismiss="alert" class="close" type="button">×</button>
				                        <strong>Há erros no formulário!</strong>
					    				<?php foreach ($this->erros as $k=>$v) : ?>
					    					<span><br />- <?php echo $v ?></span>
					    				<?php endforeach;?>			                        
				                    </div>
			                    <?php endif; ?>						    
								<input name='idOrigins' type="hidden" value="<?php echo  $this->blocoHorario['id'] ?>">
                                <div class="control-group">
					<label class="control-label">Rótulo do Horário <?php echo $this->blocoHorario['hora_entrada'] ?></label>
                                        <div class="controls"><input name='rotulohorario' type='text' class='span3' required='required' value='<?php echo (isset($this->blocoHorario['rotulohorario'])) ? $this->blocoHorario['rotulohorario'] : ""  ?>'></div>
				</div>                 
                                                        
				<div class="control-group">
					<label class="control-label">Horario de Entrada <?php echo $this->blocoHorario['hora_entrada'] ?></label>
                                        <div class="controls"><input name='horarioentrada' type='time' class='span3' required='required' maxlength='8' name='hour' pattern='[0-9]{2}:[0-9]{2} [0-9]{2}$' value='<?php echo (isset($this->blocoHorario['hora_entrada'])) ? $this->blocoHorario['hora_entrada'] : "--:--"  ?>'></div>
				</div>
                                                
                                <div class="control-group">
					<label class="control-label">Horario de Saida </label>
					<div class="controls"><input name='horariosaida' type='time' class='span3' required='required' maxlength='8' name='hour' pattern='[0-9]{2}:[0-9]{2} [0-9]{2}$' value='<?php echo (isset($this->blocoHorario['hora_saida'])) ? $this->blocoHorario['hora_saida'] : "--:--"  ?>'></div>
				</div>

				<div id='grupo-pausa' class="control-group">
					<label class="control-label">Horário com pausa </label>
					<div class="controls"> <input type="checkbox" name="pausa" checked> &nbsp;  <strong id='grupo-pausa-label'> Sim </strong></div>
				</div>
                                                
                                <div id='grupo-pausaentrada' class="control-group">
					<label class="control-label">Entrada Pausa </label>
					<div class="controls"><input name='horariopausaentrada' type='time' class='span3' required='required' maxlength='8' name='hour' pattern='[0-9]{2}:[0-9]{2} [0-9]{2}$' value='<?php echo (isset($this->blocoHorario['hora_pausa_entrada'])) ? $this->blocoHorario['hora_pausa_entrada'] : "--:--"  ?>'></div>
				</div>
                                                
				<div id='grupo-pausasaida' class="control-group">
					<label class="control-label">Saida Pausa </label>
					<div class="controls"><input name='horariopausasaida'type='time' class='span3' required='required' maxlength='8' name='hour' pattern='[0-9]{2}:[0-9]{2} [0-9]{2}$' value='<?php echo (isset($this->blocoHorario['hora_pausa_saida'])) ? $this->blocoHorario['hora_pausa_saida'] : "--:--"  ?>'></div>
				</div>     

				<div class="control-group">
					<label class="control-label">Status <span class="required">*</span></label>
					<div class="controls">
						<select name="status1" data-placeholder="Status" class="select">
							<option value="">Selecione...</option>
							<option value="Ativo">Ativo</option><option value="Bloqueado">Bloqueado</option>
						</select>
					</div>
				</div>

						    
						    
						    </div>
						    
			                <div class="form-actions align-right">
			                	<?php if ((isset($this->visualizar)) && ($this->visualizar)) : ?>
			                		<button onclick="window.history.back()" class="btn btn-danger cancelar" type="button">Voltar</button>
			                	<?php else : ?>
				                	<button class="btn btn-primary enviar" type="submit">Salvar</button>
				                	<button onclick="window.history.back()" class="btn btn-danger cancelar" type="button">Cancelar</button>
			                	<?php endif; ?>
			                </div>
						</div>
						<!-- /general form elements -->

					</fieldset> 

				</form>
				<!-- /basic inputs -->

		    </div>
		    <!-- /content wrapper -->

		</div>
		<!-- content -->
				
<script type="text/javascript" src="<?php echo $this->baseUrl('/public/scripts/admin/pontodefinehorario_form.js') ?>"></script>
<script type="text/javascript">
	var form_values = {};
	
	<?php if (isset($this->post_var)) :  ?>
		form_values.status1 = '<?php echo (isset($this->post_var['status1'])) ? $this->post_var['status1'] : $this->post_var['status'] ?>';


	<?php endif; ?>

	visualizar = <?php echo  ((isset($this->visualizar)) && ($this->visualizar))  ? 'true' : 'false' ?>;
</script>
