		<!-- Content -->
		<div id="content">

		    <!-- Content wrapper -->
		    <div class="wrapper">

			    <!-- Breadcrumbs line -->
			    <div class="crumbs">
			    	<?php echo $this->render('/helpers/breadcrumb.phtml') ?>
			    </div>
			    <!-- /breadcrumbs line -->

			    <!-- Page header -->
			    <div class="page-header">
			    	<div class="page-title">
				    	<h5>Horários das folhas de ponto dos funcionários</h5>
				    	<span>Visualize edite e crie horários que irão constar nas folhas de ponto dos funcionários e servirão como parâmetro para a contabilização dos horários </span>
			    	</div>
			    	
			    </div>
			    <!-- /page header -->
			    
			    <?php if (isset($this->crudMessage)) : ?>
				<div class="alert alert-success">
                	<button data-dismiss="alert" class="close" type="button">×</button>
                    <strong>Operação realizada com sucesso!</strong>
	    			<span><br /><?php echo $this->crudMessage ?></span>
                </div>			    
			    <?php endif; ?>
	                        	                        
                <!-- Table with footer -->
                <div class="widget">
                	<form action="#" class="form-horizontal" method="post">
                		<input type="hidden" value="<?php echo (isset($this->post_var['sorting'])) ? $this->post_var['sorting'] : '' ?>" name="sorting" />
	                	<div class="navbar">
	                		<div class="navbar-inner">
	                			<h6>Visualizando registros</h6>
	                			<?php if (Mn_Util::isAccess($this->getController(), 'adicionar')) : ?>
	                			<a style="float:right;" href="<?php echo $this->baseUrl() ?>/<?php echo 'admin' ?>/<?php echo $this->getController() ?>/adicionar" class="btn btn-primary"><span class="icon-plus"></span>&nbsp;Adicionar Bloco de Horário</a>
	                			<?php endif; ?>
	                		</div>
	                	</div>
	                    <div class="table-overflow">
	                        <table class="table table-content">
	                            <thead>
	                                <tr>
									<th width="20">#</th>
									<th> Horas trabalhadas<th>
									<th ></th>
									<th class="s-dia sorting"></th>
									<th class="s-diasemana sorting"></th>
									<th class="s-observacoes sorting"></th>
									<th class="s-status sorting"</th>
									<th></th>
									<th >Ações</th>
	                                </tr>
	                                <tr>
	                                    <th></th>
                                            <th>Nome do Horário</th>
                                            <th>Diário</th>
                                            <th>Entrada</th>
                                            <th>Entrada Pausa</th>
                                            <th>Saida Pausa</th>
	                                    <th>Saida</th>
                                            <th>Status</th>
                                            <th></th>
                                            <th></th>
	                                </tr> 
	                                                                
	                            </thead>
                                   
	                            <tbody>
	                            	<?php if (sizeof($this->rows)==0) : ?>
	                                <tr>
	                                    <td colspan="7">Nenhum registro foi encontrado!</td>
	                                </tr>
	                            	
	                            	<?php else : ?>
	                            	<?php foreach ($this->rows as $row) : ?>
	                                <tr>
	                                	<td><?php echo $row['id'] ?></td>
                                                
                                                <td><h5>
                                                   <?php echo (isset($row['rotulohorario'])) ? $row['rotulohorario'] : "" ?>
                                                </h5></td>
                                                
                                                <td><h5>
                                                   <?php echo Funcionariosgeraispontodefinicaohorarios::getTotalHorasTrabalhadasByIdHelper($row['id'])['diferenca']; ?>
                                                </h5></td>
                                                <!--        Horário de entrada  -->
                                                <td><h5>
                                                    <?php
                                                        $dateObj =  date('H:i:s', strtotime($row['hora_entrada']));  
														$Date = new DateTime($dateObj);
                                                        echo (isset($row['hora_entrada'])) ? $Date->format('H:i') : "--";		
                                                    ?>
                                                </h5></td>
                                                <!--        Horário de entrada Pausa -->
                                                <td><h5><small>
                                                    <?php

														if($row['pausa'] == 'sim'){

															$dateObj =  date('H:i:s', strtotime($row['hora_pausa_entrada']));  
															$Date = new DateTime($dateObj);
															echo (isset($row['hora_pausa_entrada'])) ? $Date->format('H:i') : "--";
																												
														}else{
															echo '--:--';
														}

                                                    ?>
                                                </small></h5></td>
                                                <!--        Horário de saida Pausa  -->
                                                <td><h6><small>
                                                    <?php
														if($row['pausa'] == 'sim'){

															$dateObj =  date('H:i:s', strtotime($row['hora_pausa_saida']));  
															$Date = new DateTime($dateObj);
                                                        	echo (isset($row['hora_pausa_saida'])) ? $Date->format('H:i') : "--";

														}else{
															echo '--:--';
														}
                                                        
                                                    ?>
                                                </small></h6></td>
                                                <!--        Horário de saida  -->
                                                <td><h5>
                                                    <?php

														$dateObj =  date('H:i:s', strtotime($row['hora_saida']));  
														$Date = new DateTime($dateObj);
														echo (isset($row['hora_saida'])) ? $Date->format('H:i') : "--";	

														
                                                    ?>
                                                </h5></td>
                                                                       
                                                
                                                <td>
                                                        <?php if (Mn_Util::isAccess($this->getController(), 'editar')) : ?>
                                                                <a onclick="javascript:statusChange(<?php echo $row["id"]?>, this);" href="javascript:;"><?php echo $row['status'] ?></a>
                                                        <?php else : ?>
                                                                <?php echo $row['status'] ?>
                                                        <?php endif; ?>
                                                </td>
                                                <td></td>
			                				

	                                    <td>
	                                        <ul class="table-controls">
	                                            <li><a title="" class="btn tip" href="<?php echo $this->baseUrl() ?>/<?php echo 'admin' ?>/<?php echo $this->getController() ?>/visualizar/id/<?php echo $row['id'] ?>" data-original-title="Visualizar"><i class="icon-eye-open"></i></a> </li>
	                                            <?php if (Mn_Util::isAccess($this->getController(), 'editar')) : ?>
	                                            <li><a title="" class="btn tip" href="<?php echo $this->baseUrl() ?>/<?php echo 'admin' ?>/<?php echo $this->getController() ?>/editar/id/<?php echo $row['id'] ?>" data-original-title="Editar"><i class="icon-pencil"></i></a> </li>
	                                            <?php endif;?>
	                                            <?php if (Mn_Util::isAccess($this->getController(), 'excluir')) : ?>
	                                            <li><a title="" class="btn tip" href="javascript:confirmDelete('<?php echo $row['id']; ?>','registro');" data-original-title="Excluir"><i class="icon-remove"></i></a> </li>
	                                            <?php endif; ?>
	                                        </ul>
	                                    </td>
	                                </tr>
	                            	<?php endforeach;?>
	                            	
	                            	
	                            	
	                            	
	                            	<?php endif; ?>
	
	                            </tbody>
	                        </table>
                                   
	                    </div>
	                    <?php echo $this->render('/helpers/paginator.phtml') ?>
                    
                    </form>

                </div>
                <!-- /table with footer -->
	                        


		    </div>
		    <!-- /content wrapper -->

		</div>
		<!-- content -->
		
		
<script type="text/javascript" src="<?php echo $this->baseUrl('/public/scripts/admin/pontosmensais_index.js') ?>"></script>
<script type="text/javascript">

	var form_values = {};
	<?php if (isset($this->post_var)) :  ?>
form_values.idfuncionario = '<?php echo (isset($this->post_var['idfuncionario'])) ? $this->post_var['idfuncionario'] : '' ?>';

form_values.diasemana = '<?php echo (isset($this->post_var['diasemana'])) ? $this->post_var['diasemana'] : '' ?>';

form_values.status1 = '<?php echo (isset($this->post_var['status1'])) ? $this->post_var['status1'] : $this->post_var['status'] ?>';

	
	<?php endif; ?>

	var sorting = ["idfuncionario", "dia", "diasemana", "horaentrada", "horasaida", "observacoes", "status"];
	
</script>	


