		<!-- Content -->
		<div id="content">

		    <!-- Content wrapper -->
		    <div class="wrapper">

			    <!-- Breadcrumbs line -->
			    <div class="crumbs">
			    	<?php echo $this->render('/helpers/breadcrumb.phtml') ?>
			    </div>
			    <!-- /breadcrumbs line -->

			    <!-- Page header -->
			    <div class="page-header">
			    	<div class="page-title">
				    	<h5>Patrimônios no sistema</h5>
				    	<span>Visualize os patrimônios do sistema</span>
			    	</div>
			    	
			    </div>
			    <!-- /page header -->
			    
			    <?php if (isset($this->crudMessage)) : ?>
				<div class="alert alert-success">
                	<button data-dismiss="alert" class="close" type="button">×</button>
                    <strong>Operação realizada com sucesso!</strong>
	    			<span><br /><?php echo $this->crudMessage ?></span>
                </div>			    
			    <?php endif; ?>




	                        	                        
                <!-- Table with footer -->
                <div class="widget">
                	<form action="#" class="form-horizontal" method="post">
                		<input type="hidden" value="<?php echo (isset($this->post_var['sorting'])) ? $this->post_var['sorting'] : '' ?>" name="sorting" />
	                	<div class="navbar">
	                		<div class="navbar-inner">
	                			<h6>Visualizando registros</h6>
	                			<?php if (Mn_Util::isAccess($this->getController(), 'adicionar')) : ?>
	                			<a style="float:right;" href="<?php echo $this->baseUrl() ?>/<?php echo 'admin' ?>/<?php echo $this->getController() ?>/adicionar" class="btn btn-primary"><span class="icon-plus"></span>&nbsp;Adicionar patrimônio</a>
	                			<?php endif; ?>
	                		</div>
	                	</div>
	                    <div class="table-overflow">
	                        <table class="table table-content">
	                            <thead>
	                                <tr>
	                                    <th width="20">#</th>
                                    <th>Foto</th>
                                    <th class="s-numeropatrimonio sorting">Nº do patrimônio</th>
                                    <th class="s-patrimonio sorting">Patrimônio</th>
                                    <th class="s-descricoes sorting">Descrições</th>
                                    <th class="s-status sorting">Status</th>


	                                    <th width="96">Ações</th>
	                                </tr>
	                                <tr>
	                                    <th></th>
										<th></th>
										<th><input name="numeropatrimonio" value="<?php echo (isset($this->post_var['numeropatrimonio'])) ? $this->post_var['numeropatrimonio'] : '' ?>" type="text" placeholder="Nº do patrimônio" class="span3"></th>
										<th><input name="patrimonio" value="<?php echo (isset($this->post_var['patrimonio'])) ? $this->post_var['patrimonio'] : '' ?>" type="text" placeholder="Patrimônio" class="span3"></th>
										<th><input name="descricoes" value="<?php echo (isset($this->post_var['descricoes'])) ? $this->post_var['descricoes'] : '' ?>" type="text" placeholder="Descrições" class="span3"></th>

										<th>
											<div>
												<select name="status1" placeholder="Todos" class="select">
													<option value="">Todos</option>
													<option value="Ativo">Ativo</option><option value="Bloqueado">Bloqueado</option>
												</select>
											</div>
										</th>
                   

	                                    <th><button class="btn btn-mini btn-primary" type="submit">Pesquisar</button></th>
	                                </tr> 
	                                                                
	                            </thead>
	                            <tbody>
	                            	<?php if (sizeof($this->rows)==0) : ?>
	                                <tr>
	                                    <td colspan="7">Nenhum registro foi encontrado!</td>
	                                </tr>
	                            	
	                            	<?php else : ?>
	                            	<?php foreach ($this->rows as $row) : ?>
	                                <tr>
	                                	<td><?php echo $row['id'] ?></td>
										<td><?php echo $this->getImagem($row['idfoto'], 80) ?></td>

										<td><?php echo $row['numeropatrimonio'] ?></td>
										<td><?php echo $row['patrimonio'] ?></td>
										<td><?php echo $row['descricoes'] ?></td>

										<td>
											<?php if (Mn_Util::isAccess($this->getController(), 'editar')) : ?>
												<a onclick="javascript:statusChange(<?php echo $row["id"]?>, this);" href="javascript:;"><?php echo $row['status'] ?></a>
											<?php else : ?>
												<?php echo $row['status'] ?>
											<?php endif; ?>
										</td>

			                				

	                                    <td>
	                                        <ul class="table-controls">
	                                            <li><a title="" class="btn tip" href="<?php echo $this->baseUrl() ?>/<?php echo 'admin' ?>/<?php echo $this->getController() ?>/visualizar/id/<?php echo $row['id'] ?>" data-original-title="Visualizar"><i class="icon-eye-open"></i></a> </li>
	                                            <?php if (Mn_Util::isAccess($this->getController(), 'editar')) : ?>
	                                            <li><a title="" class="btn tip" href="<?php echo $this->baseUrl() ?>/<?php echo 'admin' ?>/<?php echo $this->getController() ?>/editar/id/<?php echo $row['id'] ?>" data-original-title="Editar"><i class="icon-pencil"></i></a> </li>
	                                            <?php endif;?>
	                                            <?php if (Mn_Util::isAccess($this->getController(), 'excluir')) : ?>
	                                            <li><a title="" class="btn tip" href="javascript:confirmDelete('<?php echo $row['id']; ?>','registro');" data-original-title="Excluir"><i class="icon-remove"></i></a> </li>
	                                            <?php endif; ?>
	                                        </ul>
	                                    </td>
	                                </tr>
	                            	<?php endforeach;?>
	                            	
	                            	
	                            	
	                            	
	                            	<?php endif; ?>
	
	                            </tbody>
	                        </table>
	                    </div>
	                    <?php echo $this->render('/helpers/paginator.phtml') ?>
                    
                    </form>

                </div>
                <!-- /table with footer -->
	                        


		    </div>
		    <!-- /content wrapper -->

		</div>
		<!-- content -->
		
		
<script type="text/javascript" src="<?php echo $this->baseUrl('/public/scripts/admin/patrimonios_index.js') ?>"></script>
<script type="text/javascript">

	var form_values = {};
	<?php if (isset($this->post_var)) :  ?>
form_values.idsecretaria = '<?php echo (isset($this->post_var['idsecretaria'])) ? $this->post_var['idsecretaria'] : '' ?>';

form_values.iddepartamento = '<?php echo (isset($this->post_var['iddepartamento'])) ? $this->post_var['iddepartamento'] : '' ?>';

form_values.idsetor = '<?php echo (isset($this->post_var['idsetor'])) ? $this->post_var['idsetor'] : '' ?>';

form_values.idtipo = '<?php echo (isset($this->post_var['idtipo'])) ? $this->post_var['idtipo'] : '' ?>';

form_values.idmarca = '<?php echo (isset($this->post_var['idmarca'])) ? $this->post_var['idmarca'] : '' ?>';

form_values.idfornecedor = '<?php echo (isset($this->post_var['idfornecedor'])) ? $this->post_var['idfornecedor'] : '' ?>';

form_values.origem = '<?php echo (isset($this->post_var['origem'])) ? $this->post_var['origem'] : '' ?>';

form_values.iddepartamentosecretaria = '<?php echo (isset($this->post_var['iddepartamentosecretaria'])) ? $this->post_var['iddepartamentosecretaria'] : '' ?>';

form_values.idresponsavelsecretaria = '<?php echo (isset($this->post_var['idresponsavelsecretaria'])) ? $this->post_var['idresponsavelsecretaria'] : '' ?>';

form_values.idescola = '<?php echo (isset($this->post_var['idescola'])) ? $this->post_var['idescola'] : '' ?>';

form_values.idresponsavelescola = '<?php echo (isset($this->post_var['idresponsavelescola'])) ? $this->post_var['idresponsavelescola'] : '' ?>';

form_values.aprovado = '<?php echo (isset($this->post_var['aprovado'])) ? $this->post_var['aprovado'] : '' ?>';

form_values.aprovacao = '<?php echo (isset($this->post_var['aprovacao'])) ? $this->post_var['aprovacao'] : '' ?>';

form_values.statusaprovacao = '<?php echo (isset($this->post_var['statusaprovacao'])) ? $this->post_var['statusaprovacao'] : '' ?>';

form_values.baixa = '<?php echo (isset($this->post_var['baixa'])) ? $this->post_var['baixa'] : '' ?>';

form_values.statusbaixa = '<?php echo (isset($this->post_var['statusbaixa'])) ? $this->post_var['statusbaixa'] : '' ?>';

form_values.roubofurto = '<?php echo (isset($this->post_var['roubofurto'])) ? $this->post_var['roubofurto'] : '' ?>';

form_values.statusroubofurto = '<?php echo (isset($this->post_var['statusroubofurto'])) ? $this->post_var['statusroubofurto'] : '' ?>';

form_values.status1 = '<?php echo (isset($this->post_var['status1'])) ? $this->post_var['status1'] : $this->post_var['status'] ?>';

form_values.origemaprovacao = '<?php echo (isset($this->post_var['origemaprovacao'])) ? $this->post_var['origemaprovacao'] : '' ?>';

	
	<?php endif; ?>

	var sorting = ["idsecretaria", "iddepartamento", "idsetor", "idtipo", "idmarca", "idfornecedor", "origem", "iddepartamentosecretaria", "idresponsavelsecretaria", "idescola", "idresponsavelescola", "numeropatrimonio", "patrimonio", "descricoes", "cor", "aprovado", "modelo", "serie", "numerolote", "anofabricacao", "vidautil", "quantidade", "aprovacao", "statusaprovacao", "observacoesaprovacoes", "baixa", "statusbaixa", "observacoesbaixa", "roubofurto", "statusroubofurto", "observacoesroubofurto", "dataroubofurto", "depreciacao", "descricoesdepreciacao", "valordepreciacao", "percentualdepreciacao", "tipodepreciacao", "caracteristicas", "dimensoes", "datacompra", "descricoesdobem", "codigosbarras", "qrcode", "status", "origemaprovacao"];
	
</script>	


