<?php foreach($this->escolasalunos as $ea=>$rowaluno): ?>
<tr>
	<td>
<?php
			$___rows = Escolasalunos::getEscolasalunosHelper(array('id'=>$rowaluno['idaluno']));
			$___row = (sizeof($___rows)>0) ? 	$___rows[0] : false;	
			
			echo ($___row) ? $this->formatTextoBranco($___row['nomerazao'] . ' ' . $___row['sobrenomefantasia']) : '--';		
		?>
		
	</td>

	<?php 
		$quantidadenotas = 3;
		if(isset($this->configuracoesnotas['quantidadenotas'])){
			$quantidadenotas = $this->configuracoesnotas['quantidadenotas'];
		}
	?>

	<?php 
		$quantidadetrabalhos = 3;
		if(isset($this->configuracoesnotas['quantidadetrabalhos'])){
			$quantidadetrabalhos = $this->configuracoesnotas['quantidadetrabalhos'];
		}
	?>	
	<?php $total = 0;?>
	<?php for($i=1; $i<=$quantidadenotas; $i++): ?>
	<?php 
		$notaprova = Escolasalunosnotas::getEscolasalunosnotasHelper(array('idaluno'=>$rowaluno['idaluno'] ,'idprofessor'=>$this->idprofessor, 'idescolavinculo'=>$this->idescolavinculo, 'idmateria'=>$this->idmateria, 'numeronota'=>$i, 'tipo'=>'Prova', 'bimestre'=>$this->bimestre));

	?>
	<td>
		<input maxlength="500" placeholder="nota" name="notas[]" value="<?php echo (isset($notaprova['nota'])) ? number_format($notaprova['nota'], '2', ',', '.') : '' ?>" type="text"  class="span12 notasmask notafinal<?php echo $rowaluno['idaluno'] ?>" onblur="calculaNota(this, '<?php echo $rowaluno['idaluno'] ?>')" />
		<input type="hidden" name="idsnotas[]" value="<?php echo (isset($notaprova['id']) ) ? $notaprova['id'] : '' ?>"  />
		<input type="hidden" name="idescolavinculo[]" value="<?php echo $this->idescolavinculo ?>" />
		<input type="hidden" name="idmateria[]" value="<?php echo $this->idmateria ?>" />
		<input type="hidden" name="idprofessor[]" value="<?php echo $this->idprofessor ?>" />
		<input type="hidden" name="idaluno[]" value="<?php echo $rowaluno['idaluno'] ?>" />
		<input type="hidden" name="numeronotas[]" value="<?php echo $i ?>" />
		<input type="hidden" name="bimestres[]" value="<?php echo (isset($notaprova['bimestre']) ) ? $notaprova['bimestre'] : '' ?>" />
		<input type="hidden" name="tipos[]" value="Prova" />
	</td>
	<?php 
	$nota = (isset($notaprova['nota'])) ? (float)$notaprova['nota'] : 0;
	$total = $total + $nota;
	endfor; ?>
	<?php for($i=1; $i<=$quantidadetrabalhos; $i++): ?>
	<?php 
		$notatrabalho = Escolasalunosnotas::getEscolasalunosnotasHelper(array('idaluno'=>$rowaluno['idaluno'] ,'idprofessor'=>$this->idprofessor, 'idescolavinculo'=>$this->idescolavinculo, 'idmateria'=>$this->idmateria, 'numeronota'=>$i, 'tipo'=>'Trabalho', 'bimestre'=>$this->bimestre));
	?>
	<td>
		<input maxlength="500" placeholder="trabalho" name="notas[]" value="<?php echo (isset($notatrabalho['nota'])) ? number_format($notatrabalho['nota'], '2', ',', '.') : '' ?>" type="text"  class="span12 notasmask notafinal<?php echo $rowaluno['idaluno'] ?>" onblur="calculaNota(this, '<?php echo $rowaluno['idaluno'] ?>')" />
		<input type="hidden" name="idsnotas[]" value="<?php echo (isset($notatrabalho['id']) ) ? $notatrabalho['id'] : '' ?>" />
		<input type="hidden" name="idescolavinculo[]" value="<?php echo $this->idescolavinculo ?>" />
		<input type="hidden" name="idmateria[]" value="<?php echo $this->idmateria ?>" />
		<input type="hidden" name="idprofessor[]" value="<?php echo $this->idprofessor ?>" />
		<input type="hidden" name="idaluno[]" value="<?php echo $rowaluno['idaluno'] ?>" />
		<input type="hidden" name="numeronotas[]" value="<?php echo $i ?>" />
		<input type="hidden" name="bimestres[]" value="<?php echo (isset($notatrabalho['bimestre']) ) ? $notatrabalho['bimestre'] : '' ?>" />
		<input type="hidden" name="tipos[]" value="Trabalho" />
	</td>
	<?php 
	$nota = (isset($notatrabalho['nota'])) ? (float)$notatrabalho['nota'] : 0;
	$total = $total + $nota;
	endfor; 
	$divisor = $quantidadenotas+$quantidadetrabalhos;
	$divisor = ((float)$divisor > 0) ? $divisor : 1;
	?>
	<td><input maxlength="500" placeholder="media" name="media[]" value="<?php echo (isset($total)) ? number_format(($total/$divisor), '2' , ',' , '.') : '' ?>" type="text"  class="span12 media<?php echo $rowaluno['idaluno'] ?>" /></td>
</tr>
<?php endforeach?>
<input type="hidden" value="<?php echo $divisor ?>" class="divisor" />
<script type="text/javascript">
$(".notasmask").each(function() {
	$(this).priceFormat({
	    prefix: '',
	    centsSeparator: ',',
	    thousandsSeparator: '',
	    centsLimit: 2
	});
});		

function calculaNota(obj, idaluno){
	$caminho = $(obj).parent();
	$notas = 0;
	var validanotas = "sim";
	var verificanotas = "nao";
	$('.notafinal'+idaluno).each(function() {
		var nota = $(this).val();
		var notareplace = nota.replace(",", ".");
		nota = parseFloat(notareplace);

		if((nota=="NaN") || (nota=="")){
			nota = 0;
			nota = parseFloat(notareplace);
		}

		if((nota<0) || (nota>10)){
			$(obj).css('border-color', '#FF0000');
			verificanotas = "sim";
			validanotas = " ";
			validanotas = validanotas.trim();
			
			$(".validanotas").val(validanotas);
		}else{
			//$(obj).css('border-color', '#dadada');
		}
		$notas = $notas + nota;
	
	});	

	if(verificanotas=="nao"){
		$(".validanotas").val("sim");
	}

	var divisor = $('.divisor').val();
	divisor = parseInt(divisor);

	total = ($notas/divisor);
	total = parseFloat(total);
	total = total.toFixed(2);

	$(obj).parent().find('.media').val();
	var totalreplace = total.replace(".", ",");
	
	$('.media'+idaluno).val(' ');
	$('.media'+idaluno).val(totalreplace);
	if((total=="NaN") || (total=="")){
		$('.media'+idaluno).val("0,00");
	}
	//if(totalreplace=="Nan")
}
</script>