		<!-- Content -->
		<div id="content">

		    <!-- Content wrapper -->
		    <div class="wrapper">

			    <!-- Breadcrumbs line -->
			    <div class="crumbs">
			    	<?php echo $this->render('/helpers/breadcrumb.phtml') ?>
			    </div>
			    <!-- /breadcrumbs line -->

			    <!-- Page header -->
			    <div class="page-header">
			    	<div class="page-title">
				    	<h5>Formulário da Frequência</h5>
				    	<span>Verifique os campos e preencha com os dados</span>
			    	</div>
			    </div>
			    <!-- /page header -->

			    <?php if (isset($this->crudMessage)) : ?>
					<div class="alert alert-success">
	                	<button data-dismiss="alert" class="close" type="button">×</button>
	                    <strong>Operação realizada com sucesso!</strong>
		    			<span><br /><?php echo $this->crudMessage ?></span>
	                </div>			    
			    <?php endif; ?>

				<form id="form" name="form" action="" method="post" class="form-horizontal" enctype="multipart/form-data"> 
					<input type="hidden" value="<?php echo (isset($this->post_var)) ? $this->post_var["id"] : ''; ?>" name="id" id="id" />
					
					<fieldset>
						<!-- General form elements -->
						<div class="widget row-fluid">
						    <div class="navbar">
						        <div class="navbar-inner">
						            <h6>Digite as informações do formulário</h6>
						        </div>
						    </div>

						    <div class="well">
								<?php if (isset($this->erros)) : ?>
									<div class="alert alert-error margin">
				                        <button data-dismiss="alert" class="close" type="button">×</button>
				                        <strong>Há erros no formulário!</strong>
					    				<?php foreach ($this->erros as $k=>$v) : ?>
					    					<span><br />- <?php echo $v ?></span>
					    				<?php endforeach;?>			                        
				                    </div>
			                    <?php endif; ?>						    
						    

				<div class="control-group">
					<label class="control-label">Digite o nome da atividade <span class="required">*</span></label>
					<div class="controls"><input maxlength="500" placeholder="Nome da atividade" name="nomeatividade" value="<?php echo (isset($this->post_var['nomeatividade'])) ? $this->post_var['nomeatividade'] : '' ?>" type="text"  class="span3" /></div>
				</div>

				<div class="control-group">
					<label class="control-label">Ano <span class="required">*</span></label>
					<div class="controls"><input placeholder="Ano" name="ano" value="<?php echo (isset($this->post_var['ano'])) ? ($this->post_var['ano']) : '' ?>" type="text"  class="span3" /></div>
				</div>

				<div class="control-group">
					<label class="control-label">Digite o nome da turma <span class="required">*</span></label>
					<div class="controls"><input maxlength="500" placeholder="Nome da turma" name="nometurma" value="<?php echo (isset($this->post_var['nometurma'])) ? $this->post_var['nometurma'] : '' ?>" type="text"  class="span3" /></div>
				</div>

				<div class="control-group">
					<label class="control-label">Data início <span class="required">*</span></label>
					<div class="controls"><input placeholder="Data de início" name="datainicio" value="<?php echo (isset($this->post_var['datainicio'])) ? Mn_Util::formPostVarData($this->post_var['datainicio']) : '' ?>" type="text"  class="span3" /></div>
				</div>

				<div class="control-group">
					<label class="control-label">Data término <span class="required">*</span></label>
					<div class="controls"><input placeholder="Data de término" name="datatermino" value="<?php echo (isset($this->post_var['datatermino'])) ? Mn_Util::formPostVarData($this->post_var['datatermino']) : '' ?>" type="text"  class="span3" /></div>
				</div>


				<div class="control-group">
					<label class="control-label">Hora de início </label>
					<div class="controls"><input  placeholder="Hora inicial" name="horarioinicio" value="<?php echo (isset($this->post_var['horarioinicio'])) ? $this->post_var['horarioinicio'] : '' ?>" type="text"  class="span3" /></div>
				</div>

				<div class="control-group">
					<label class="control-label">Hora de final </label>
					<div class="controls"><input  placeholder="Hora final" name="horariofinal" value="<?php echo (isset($this->post_var['horariofinal'])) ? $this->post_var['horariofinal'] : '' ?>" type="text"  class="span3" /></div>
				</div>

				<div class="control-group">
					<label class="control-label">Selecionar o dia da semana </span></label>
					<div><input class="checksemana" value="1" name="diassemana[]" type="checkbox"> Domingo<br></div>
					<div><input class="checksemana" value="2" name="diassemana[]" type="checkbox"> Segunda-feira<br></div>
					<div><input class="checksemana" value="3" name="diassemana[]" type="checkbox"> Terça-feira<br></div>
					<div><input class="checksemana" value="4" name="diassemana[]" type="checkbox"> Quarta-feira<br></div>
					<div><input class="checksemana" value="5" name="diassemana[]" type="checkbox"> Quinta-feira<br></div>
					<div><input class="checksemana" value="6" name="diassemana[]" type="checkbox"> Sexta-feira<br></div>
					<div><input class="checksemana" value="7" name="diassemana[]" type="checkbox"> Sábado<br></div>
					</div>

				<div class="control-group">
					<label class="control-label">Status <span class="required">*</span></label>
					<div class="controls">
						<select name="status1" data-placeholder="Status" class="select">
							<option value="">Selecione...</option>
							<option value="Ativo">Ativo</option><option value="Bloqueado">Bloqueado</option>
						</select>
						
					</div>
				</div>

			</div>
						    
						    
						    </div>
						    
			                <div class="form-actions align-right">
			                	<?php if ((isset($this->visualizar)) && ($this->visualizar)) : ?>
			                		<button onclick="window.history.back()" class="btn btn-danger cancelar" type="button">Voltar</button>
			                	<?php else : ?>
				                	<button class="btn btn-primary enviar" type="submit">Salvar</button>
				                	<button onclick="window.history.back()" class="btn btn-danger cancelar" type="button">Cancelar</button>
			                	<?php endif; ?>
			                </div>
						</div>
						<!-- /general form elements -->

					</fieldset> 

				</form>
				<!-- /basic inputs -->

		    </div>
		    <!-- /content wrapper -->

		</div>
		<!-- content -->
				
<script type="text/javascript" src="<?php echo $this->baseUrl('/public/scripts/admin/coordenacaofrequencias_form.js') ?>"></script>
<script type="text/javascript">
	var form_values = {};
	
	<?php if (isset($this->post_var)) :  ?>
		form_values.status1 = '<?php echo (isset($this->post_var['status1'])) ? $this->post_var['status1'] : $this->post_var['status'] ?>';

		form_values.diassemana = [<?php echo $this->post_var['diassemana'] ?>];
	<?php endif; ?>

	visualizar = <?php echo  ((isset($this->visualizar)) && ($this->visualizar))  ? 'true' : 'false' ?>;
</script>
