<!-- Content -->
		<div id="content">

		    <!-- Content wrapper -->
		    <div class="wrapper">

			    <!-- Breadcrumbs line -->
			    <div class="crumbs">
			    	<?php echo $this->render('/helpers/breadcrumb.phtml') ?>
			    </div>
			    <!-- /breadcrumbs line -->

			    <!-- Page header -->
			    <div class="page-header">
			    	<div class="page-title">
				    	<h5>Formulário do controle de visita</h5>
				    	<span>Verifique os campos e preencha com os dados</span>
			    	</div>
			    </div>
			    <!-- /page header -->

			    <?php if (isset($this->crudMessage)) : ?>
					<div class="alert alert-success">
	                	<button data-dismiss="alert" class="close" type="button">×</button>
	                    <strong>Operação realizada com sucesso!</strong>
		    			<span><br /><?php echo $this->crudMessage ?></span>
	                </div>			    
			    <?php endif; ?>

				<form id="form" name="form" action="" method="post" class="form-horizontal" enctype="multipart/form-data"> 
					<input type="hidden" value="<?php echo (isset($this->post_var)) ? $this->post_var["id"] : ''; ?>" name="id" id="id" />
					
					<fieldset>
						<!-- General form elements -->
						<div class="widget row-fluid">
						    <div class="navbar">
						        <div class="navbar-inner">
						            <h6>Digite as informações do formulário</h6>
						        </div>
						    </div>

						    <div class="well">
								<?php if (isset($this->erros)) : ?>
									<div class="alert alert-error margin">
				                        <button data-dismiss="alert" class="close" type="button">×</button>
				                        <strong>Há erros no formulário!</strong>
					    				<?php foreach ($this->erros as $k=>$v) : ?>
					    					<span><br />- <?php echo $v ?></span>
					    				<?php endforeach;?>			                        
				                    </div>
			                    <?php endif; ?>						    
						    
				<div class="control-group">
					<div class="controls1 visualizar">
						<table class="table table-content" width="100%">
							<tbody>
								<tr>
									<input placeholder="Data de Entrada" name="dataentrada" value="<?php echo (isset($this->post_var['dataentrada'])) ? Mn_Util::formPostVarData($this->post_var['dataentrada']) : date('d/m/Y') ?>" type="hidden"  class="span3" />
									<input  placeholder="Hora de Entrada" name="horaentrada" value="<?php echo (isset($this->post_var['horaentrada'])) ? $this->post_var['horaentrada'] : date('G:i:s') ?>" type="hidden"  class="span3" />
									
									<td width="50%">Data de Entrada: <?php echo date('d/m/Y') ?></td>
									<td width="50%">Hora de Entrada : <?php echo date('G:i') ?></td>
								</tr>
							</tbody>
						</table>
						
					</div>
				</div>


				<div class="control-group">
					<label class="control-label">Tipo do Visitante <span class="required">*</span></label>
					 
							<div class="controls">
								<select name="tipo" id="tipo" data-placeholder="Tipo do Visitante" class="select" onchange="setTipo(this, 0)" >
									<option value="">Selecione...</option>
									<option value="Funcionário da secretaria">Funcionário da secretaria</option><option value="Outros">Outros</option>
								</select>
							</div>
					 
				</div>
 
  
<div class="box-secretaria" style="display:none;">
 

					<div class="control-group">
						<label class="control-label">Funcionario </label>
						<div class="controls">
							<select name="idfuncionario"  class="select" onchange="setProfessorCpf(this, false), setProfessorLocal(this, false), setProfessorFoto(this, false)">
								<option value="">Selecione...</option>
								<?php foreach (Funcionariosgeraisescolas::getFuncionariosgeraisescolasHelper(array('status'=>'Ativo')) as $k=>$v) : ?>
								<option value="<?php echo $v['id'] ?>"><?php echo $v['nome'] ?></option>
								<?php endforeach;?>
							</select> 
						</div>
					</div> 
				 
				 
					 
						<div class="control-group" >            
							<label class="control-label">Local: </label>
							<div class="controls" id="professores-locais" >
									
							</div>
						</div>
				 
 

					<?php if($this->post_var['cpf'] != null): ?>
						<div class="control-group">
							<label class="control-label">CPF </label>
							<div class="controls"><input maxlength="500" placeholder="CPF" name="cpf" value="<?php echo (isset($this->post_var['cpf'])) ? $this->post_var['cpf'] : '' ?>" type="text"  class="span3"   /></div>
						</div>
					<?php else: ?>
						<div class="control-group" >            
							<label class="control-label">CPF: </label>
							<div class="controls" id="professores-cpf" >
									
							</div>
						</div>
 
 
				<?php endif; ?>
			 
</div>
 
 
<div class="box-outros" style="display:none;">
 
	<div class="box-nome">

					<div class="control-group">
						<label class="control-label">Nome </label>
						<div class="controls"><input maxlength="500" placeholder="Nome" name="nome" value="<?php echo (isset($this->post_var['nome'])) ? $this->post_var['nome'] : '' ?>" type="text"  class="span3" /></div>
					</div>
	</div>

	                <div class="control-group cpfoutros">
						<label class="control-label">CPF </label>
						<div class="controls"><input maxlength="500" placeholder="CPF" name="cpf" value="<?php echo (isset($this->post_var['cpf'])) ? $this->post_var['cpf'] : '' ?>" type="text"  class="span3 cpfoutros"   /></div>
					</div>

	<div class="control-group">
    	<label class="control-label">Imagem</label>
    	<div class="controls">

        	<div class="contentarea">
        		<div class="camera">
        			<video id="video">Video stream not available.</video>				                    			
        		</div>
        		<br />
        		<a id="startbutton" href="javascript:;" class="btn btn-info tip" title="" data-original-title="Edit"><i class="icon-user"></i> &nbsp;Capturar</a>
        		<a id="removebutton" href="javascript:;" class="btn btn-info tip" title="" data-original-title="Edit"><i class=" icon-remove"></i> &nbsp;Limpar</a>
        		<br />

        		<canvas id="canvas" style="display:none">
        		</canvas>

        		<input type="hidden" value="" name="input_webcam" id="input_webcam" />
        		<div class="output" style="display:none">
        			<img id="photo" alt="The screen capture will appear in this box."> 
        		</div>
        	</div>


    		
    	</div>
    	
    </div>


    <div class="control-group">
        <label class="control-label">Foto <span class="required">*</span></label>
        <div class="controls">
		<?php if ((isset($this->post_var['idfoto'])) && ((int)$this->post_var['idfoto']>0)) : ?>
			<?php echo $this->getImagem($this->post_var['idfoto'], 80, 80, '', Imagens::$INDISPONIVEL) ?>
			
			<?php if (!$this->visualizar) : ?>
			<div class="checkbox block">
				<label><input type="checkbox" name="excluir_foto" value="excluir_foto" /> Desejo excluir a imagem</label>
			</div>
			<?php endif; ?>
			
		<?php endif; ?>						            
        
        	<input placeholder="Foto" name="foto" type="file"  class="span3" />
        </div>
    </div>

<?php /*?>
				<div class="control-group">
					<label class="control-label">Foto </label>
					<div class="controls">
					<?php include_once 'webcam.phtml'; ?>
						<?php if ((isset($this->post_var['idfoto'])) && ((int)$this->post_var['idfoto']>0)) : ?>
							<?php echo $this->getImagem($this->post_var['idfoto'], 80, 80, '', Imagens::$INDISPONIVEL) ?>
					
					
							<?php if (!$this->visualizar) : ?>
								<div class="checkbox block">
									<label><input type="checkbox" name="excluir_idfoto" value="excluir_idfoto"  /> Desejo excluir a imagem</label>
								</div>
							<?php endif; ?>
						<?php endif; ?>						            
					
						<input placeholder="Foto" name="idfoto" type="file"  />
					</div>
				</div>	
<?php */?>

</div>

				<div class="control-group">
					<label class="control-label">Nova visita?</label>
					<div class="controls"><input name="novavisita" id="novasvisita" value="Sim" type="checkbox"  /> Sim</div>
				</div>
<div id="form-visitas">
				<div class="control-group">
					<label class="control-label">Setor </label>
					<div class="controls"><input maxlength="500" placeholder="Setor" name="setor" value="<?php echo (isset($this->post_var['setor'])) ? $this->post_var['setor'] : '' ?>" type="text"  class="span3" /></div>
				</div>

				<div class="control-group">
					<label class="control-label">Falar Com </label>
					<div class="controls"><input maxlength="500" placeholder="Falar Com" name="falarcom" value="<?php echo (isset($this->post_var['falarcom'])) ? $this->post_var['falarcom'] : '' ?>" type="text"  class="span3" /></div>
				</div>


				<div class="control-group">
					<label class="control-label">Observações </label>
					<div class="controls"><textarea class="span12" name="observacoes" cols="5" rows="5"></textarea></div>
				</div>


				<div class="control-group">
					<label class="control-label">Assunto <span class="required">*</span></label>
					<div class="controls"><input maxlength="500" placeholder="Assunto" name="assunto" value="<?php echo (isset($this->post_var['assunto'])) ? $this->post_var['assunto'] : '' ?>" type="text"  class="span3" /></div>
				</div>

</div>
				<div class="control-group">
					<label class="control-label">Status <span class="required">*</span></label>
					<div class="controls">
						<select name="status1" data-placeholder="Status" class="select">
							<option value="">Selecione...</option>
							<option value="Ativo">Ativo</option><option value="Bloqueado">Bloqueado</option>
						</select>
						
					</div>
				</div>

						    
						    
						    </div>
						    
			                <div class="form-actions align-right">
			                	<?php if ((isset($this->visualizar)) && ($this->visualizar)) : ?>
			                		<button onclick="window.history.back()" class="btn btn-danger cancelar" type="button">Voltar</button>
			                	<?php else : ?>
				                	<button class="btn btn-primary enviar" type="submit">Salvar</button>
				                	<button onclick="window.history.back()" class="btn btn-danger cancelar" type="button">Cancelar</button>
			                	<?php endif; ?>
			                </div>
						</div>
						<!-- /general form elements -->

					</fieldset> 

				</form>
				<!-- /basic inputs -->

		    </div>
		    <!-- /content wrapper -->

		</div>
		<!-- content -->
<script type="text/javascript" src="<?php echo $this->baseUrl('/public/scripts/jquery-webcam/capture.js') ?>"></script>				
<script type="text/javascript" src="<?php echo $this->baseUrl('/public/scripts/admin/recepcaogeralvisitas_form.js') ?>"></script>
<script type="text/javascript">
	var form_values = {};
	
	<?php if (isset($this->post_var)) :  ?>
		form_values.tipo = '<?php echo (isset($this->post_var['tipo'])) ? $this->post_var['tipo'] : '' ?>';
		form_values.iddepartamento = '<?php echo (isset($this->post_var['iddepartamento'])) ? $this->post_var['iddepartamento'] : '' ?>';

form_values.idlocais = '<?php echo (isset($this->post_var['idlocais'])) ? $this->post_var['idlocais'] : '' ?>';
<?php if ((isset($this->post_var['idfuncionario'])) && ($this->post_var['idfuncionario']!="")) :  ?>
	form_values.idfuncionario = [<?php echo $this->post_var['idfuncionario'] ?>];
<?php endif; ?>

form_values.status1 = '<?php echo (isset($this->post_var['status1'])) ? $this->post_var['status1'] : $this->post_var['status'] ?>';


	<?php endif; ?>

	visualizar = <?php echo  ((isset($this->visualizar)) && ($this->visualizar))  ? 'true' : 'false' ?>;
</script>

