 
<div class="control-group">
	<label class="control-label">Tipo de despesa </label>
	<div class="controls">
		 <input type="text" value="<?php echo ($this->post_var['tipo']) ? $this->post_var['tipo'] : '--' ?>" readonly>
	</div>
</div>

<div class="control-group">
	<label class="control-label">Local </label>
	<div class="controls">
	    <?php
			$___rows = Locais::getLocaisHelper(array('id'=> $this->post_var['idlocais'] ));
			$___row = (sizeof($___rows)>0) ? 	$___rows[0] : false;	 
        ?>
		 <input type="text" style="width:300px" value="<?php  echo  $this->formatTextoBranco($___row['titulo']);  ?>" readonly>
	</div>
</div>

 