		<!-- Content -->
		<div id="content">

		    <!-- Content wrapper -->
		    <div class="wrapper">

			    <!-- Breadcrumbs line -->
			    <div class="crumbs">
			    	<?php echo $this->render('/helpers/breadcrumb.phtml') ?>
			    </div>
			    <!-- /breadcrumbs line -->

			    <!-- Page header -->
			    <div class="page-header">
			    	<div class="page-title">
				    	<h5>Formulário do vaga para ampliação</h5>
				    	<span>Verifique os campos e preencha com os dados</span>
			    	</div>
			    </div>
			    <!-- /page header -->

			    <?php if (isset($this->crudMessage)) : ?>
					<div class="alert alert-success">
	                	<button data-dismiss="alert" class="close" type="button">×</button>
	                    <strong>Operação realizada com sucesso!</strong>
		    			<span><br /><?php echo $this->crudMessage ?></span>
	                </div>			    
			    <?php endif; ?>

				<form id="form" name="form" action="" method="post" class="form-horizontal" enctype="multipart/form-data"> 
					<input type="hidden" value="<?php echo (isset($this->post_var)) ? $this->post_var["id"] : ''; ?>" name="id" id="id" />
					
					<fieldset>
						<!-- General form elements -->
						<div class="widget row-fluid">
						    <div class="navbar">
						        <div class="navbar-inner">
						            <h6>Digite as informações do formulário</h6>
						        </div>
						    </div>

						    <div class="well">
								<?php if (isset($this->erros)) : ?>
									<div class="alert alert-error margin">
				                        <button data-dismiss="alert" class="close" type="button">×</button>
				                        <strong>Há erros no formulário!</strong>
					    				<?php foreach ($this->erros as $k=>$v) : ?>
					    					<span><br />- <?php echo $v ?></span>
					    				<?php endforeach;?>			                        
				                    </div>
			                    <?php endif; ?>						    
						    

                <?php $idescola = Usuarios::getUsuario('idescola'); ?>
				<?php $idlocal = Usuarios::getUsuario('idlocal'); ?>
				<?php if(($idescola>0) || ($idlocal>0)): ?>		    
				<div class="control-group">
					<div class="controls1 visualizar">
						<table class="table table-content" width="100%">
							<tbody>
								<tr>
									<input maxlength="500" placeholder="Nome do Usuário" name="idusuario" value="<?php echo Usuarios::getUsuario('id') ?>" type="hidden"  class="span3" />
									<input  placeholder="Data de lançamento" name="datalancamento" value="<?php echo (isset($this->post_var['datalancamento'])) ? Mn_Util::formPostVarData($this->post_var['datalancamento']) : date('d/m/Y') ?>" type="hidden"  class="span3" />
									<input maxlength="500" placeholder="Nome do Usuário" name="idlocal" value="<?php echo Usuarios::getUsuario('idlocal') ?>" type="hidden"  class="span3" />
									<input maxlength="500" placeholder="Nome do Usuário" name="idescola" value="<?php echo Usuarios::getUsuario('idescola') ?>" type="hidden"  class="span3" />

									<td width="33%">Nome do Usuário: <?php echo Usuarios::getUsuario('nomerazao') . " - " . Usuarios::getUsuario('rgf') ?></td>
									<td width="34%">Data da Abertura: <?php echo date('d/m/Y') ?></td>
									<td width="33%">Escola: <?php 
											$local = Escolas::getEscolaByIdHelper(Usuarios::getUsuario('idescola')); 
											echo ((isset($local['escola'])) && ($local['escola']) && ($local['escola']!="") ) ? $local['escola'] : '';
										?>
											
									</td>
								</tr>
							</tbody>
						</table>
						
					</div>
				</div>
				<?php else: ?>
				<div class="control-group">
					<div class="controls1 visualizar">
						<table class="table table-content" width="100%">
							<tbody>
								<tr>
									<input maxlength="500" placeholder="Nome do Usuário" name="idusuario" value="<?php echo Usuarios::getUsuario('id') ?>" type="hidden"  class="span3" />
									<input  placeholder="Data de lançamento" name="datalancamento" value="<?php echo (isset($this->post_var['datalancamento'])) ? Mn_Util::formPostVarData($this->post_var['datalancamento']) : date('d/m/Y') ?>" type="hidden"  class="span3" />
									
									<td width="50%">Nome do Usuário: <?php echo Usuarios::getUsuario('nomerazao') . " - " . Usuarios::getUsuario('rgf') ?></td>
									<td width="50%">Data da Abertura: <?php echo date('d/m/Y') ?></td>
									
								</tr>
							</tbody>
						</table>
						
					</div>
				</div>
				<?php endif; ?>
							
				<?php if(((int)$idescola>0) || ((int)$idlocal>0)): ?>

				<?php else: ?>
				<div class="control-group">
					<label class="control-label">Escolas <span class="required">*</span></label>
					<div class="controls">
		                <select name="idescola" onchange="setSalas(this,0)" data-placeholder="Unidade Escolas" class="select">
							<option value="">Selecione...</option>
							<?php foreach (Escolas::getEscolas(array('status'=>'Ativo')) as $k=>$v) : ?>
							<option value="<?php echo $v['id'] ?>"><?php echo $v['escola'] ?></option>
							<?php endforeach;?>
						</select>
					</div>
				</div>
				<?php endif; ?>

				<div class="control-group">
					<label class="control-label">Tipo de Ensino </label>
					<div class="controls">
						<select name="idtipoensino" data-placeholder="Tipo" class="select">
							<option value="">Selecione...</option>
							<?php foreach(Escolastiposensinos::getTiposensinosHelper() as $k=>$row): ?>
								<option value="<?php echo $row['id'] ?>"><?php echo $row['tipo'] ?></option>
							<?php endforeach; ?>
						</select>
						
					</div>
				</div>

				<?php if(!$this->visualizar): ?>
				<div class="control-group">
					<label class="control-label">Sala </label>
					<div class="controls">
						<select name="idsala" data-placeholder="Sala" class="select">
							<option value="">Selecione...</option>
							
						</select>
						
					</div>
				</div>
				<?php else: ?>
				<div class="control-group">
					<label class="control-label">Sala </label>
					<div class="controls visualizar">
						<?php $periodo = Escolasvinculos::getEscolavinculoByIdHelper($this->post_var['idsala']);  ?>
						<?php if($periodo): ?>
							<?php echo $periodo['sala'] ?> -> <?php echo $periodo['serie'] ?> -> <?php echo $periodo['turma'] ?> -> <?php echo $periodo['periodo'] ?>
						<?php endif; ?>
					</div>
				</div>
				<?php endif; ?>

				<div class="control-group">
					<label class="control-label">Observação </label>
					<div class="controls"><textarea class="span12" name="observacao" cols="5" rows="5"><?php echo (isset($this->post_var)) ? $this->post_var["observacao"] : ''; ?></textarea></div>
				</div>


			<?php if(Usuarios::getUsuario('professor') != 'Sim'): ?>
			<div class="control-group">
				<label class="control-label">Situação </label>
				<div class="controls">
					<select name="posicao" data-placeholder="Situação" class="select">
						<option value="">Selecione...</option>
						<option value="Aguardando">Aguardando</option>
						<option value="Aprovado">Aprovado</option>
						<option value="Cancelado">Cancelado</option>
					</select>
					
				</div>
			</div>

			<div class="control-group">
				<label class="control-label">Solicitações de Ampliação </label>
				<div class="controls">
					<table class="table">
						<thead>
							<th>Data</th>
							<th>Professor Interessado</th>
							<th>Escola Atual</th>
							<th>Período de Trabalho Atual</th>
							<th>Pontuação</th>
							<th>Ações</th>
						</thead>
						<tbody>
							<?php if(sizeof($this->ampliacoes) <= 0): ?>
								<tr colspan="5">
									<td>Nenhum registro encontrado.</td>
								</tr>
							<?php else: ?>
								<?php foreach($this->ampliacoes as $k=>$row): ?>
								<tr>
									<td>
										<?php echo date('d/m/Y H:i', strtotime($row['logdata'])); ?>
									</td>
									<td>
										<?php
											$___rows = Funcionariosgeraisescolas::getFuncionariosgeraisescolasHelper(array('id'=>$row['idprofessor']));
											$professor = (sizeof($___rows)>0) ? 	$___rows[0] : false;	
											
											echo ($professor) ? $this->formatTextoBranco($professor['nome']) : '--';		
										?>
									</td>
									<td>
										<?php
											$escola = Escolas::getEscolaByIdHelper($professor['idescola']);
											echo ($escola) ? $this->formatTextoBranco($escola['escola']) : '--';
										?>
									</td>
									<td>
										<?php 
											$ids_vinculos = Escolasvinculosprofessoresmaterias::getIdsEscolasvinculosprofessorByIdHelper($professor['id']);
											$vinculos = explode(',', $ids_vinculos);
										 ?>
										 <table class="table">
										 	<tbody>
												<?php foreach($vinculos as $id): ?>
										 		<tr>
										 			<td>
														<?php $vinculo = Escolasvinculos::getEscolavinculoByIdHelper($id); ?>
														<?php echo $vinculo['sala'] ?> -> <?php echo $vinculo['serie'] ?> -> <?php echo $vinculo['turma'] ?> -> <?php echo $vinculo['periodo'] ?>
													</td>
												</tr>
												<?php endforeach; ?>
											</tbody>
										</table>	
									</td>
									<td></td>
									<td>
										<?php if($row['status'] == 'Aguardando'): ?>
										<button class="btn btn-success" type="button" onclick="setAprovar('<?php echo $row['idparent'] ?>', '<?php echo $professor['id'] ?>')">Aprovar</button>
										<button class="btn btn-danger" type="button" onclick="setRejeitar('<?php echo $row['idparent'] ?>', '<?php echo $professor['id'] ?>')">Rejeitar</button>
										<?php else: ?>
										<span class="btn btn-<?php echo ($row['status'] == 'Aceito') ? 'success' : 'default' ?>"><?php echo $row['status'] ?></span>
										<?php endif; ?>
									</td>
								</tr>
								<?php endforeach; ?>
							<?php endif; ?>
						</tbody>
					</table>
				</div>
			</div>
			<?php endif; ?>
						    


				<div class="control-group">
					<label class="control-label">Status <span class="required">*</span></label>
					<div class="controls">
						<select name="status1" data-placeholder="Status" class="select">
							<option value="">Selecione...</option>
							<option value="Ativo">Ativo</option><option value="Bloqueado">Bloqueado</option>
						</select>
						
					</div>
				</div>
						    
						    
						    </div>
						    
			                <div class="form-actions align-right">
			                	<?php if ((isset($this->visualizar)) && ($this->visualizar)) : ?>
			                		<button onclick="window.history.back()" class="btn btn-danger cancelar" type="button">Voltar</button>
			                	<?php else : ?>
				                	<button class="btn btn-primary enviar" type="submit">Salvar</button>
				                	<button onclick="window.history.back()" class="btn btn-danger cancelar" type="button">Cancelar</button>
			                	<?php endif; ?>
			                </div>
						</div>
						<!-- /general form elements -->

					</fieldset> 

				</form>
				<!-- /basic inputs -->

		    </div>
		    <!-- /content wrapper -->

		</div>
		<!-- content -->
				
<script type="text/javascript" src="<?php echo $this->baseUrl('/public/scripts/admin/documentacaovagasampliacao_form.js') ?>"></script>
<script type="text/javascript">
	var form_values = {};
	
	<?php if (isset($this->post_var)) :  ?>
		form_values.idescola = '<?php echo (isset($this->post_var['idescola'])) ? $this->post_var['idescola'] : '' ?>';

form_values.idsala = '<?php echo (isset($this->post_var['idsala'])) ? $this->post_var['idsala'] : '' ?>';

form_values.idtipoensino = '<?php echo (isset($this->post_var['idtipoensino'])) ? $this->post_var['idtipoensino'] : '' ?>';

form_values.idturma = '<?php echo (isset($this->post_var['idturma'])) ? $this->post_var['idturma'] : '' ?>';

form_values.idperiodo = '<?php echo (isset($this->post_var['idperiodo'])) ? $this->post_var['idperiodo'] : '' ?>';

form_values.posicao = '<?php echo (isset($this->post_var['posicao'])) ? $this->post_var['posicao'] : '' ?>';

form_values.status1 = '<?php echo (isset($this->post_var['status1'])) ? $this->post_var['status1'] : $this->post_var['status'] ?>';


	<?php endif; ?>

	visualizar = <?php echo  ((isset($this->visualizar)) && ($this->visualizar))  ? 'true' : 'false' ?>;
</script>
