<?php if (sizeof($this->rows)==0) : ?>
<option value="">Selecione...</option>
<option value="">Nenhum período foi encontrado para essa escola</option>
<?php else : ?>
<option value="">Selecione...</option>
<?php foreach ($this->rows as $row) : ?>
<option value="<?php echo $row['id'] ?>"><?php echo $row['sala'] ?> -> <?php echo $row['serie'] ?> -> <?php echo $row['turma'] ?> -> <?php echo $row['periodo'] ?></option>
<?php endforeach; ?>
<?php endif; ?>
