<?php $endereco_prefix = (isset($this->endereco_prefix)) ? $this->endereco_prefix : '' ?>
<table class="table table-info mb30">
	<tbody>
		<tr>
			<td>CEP</td>
			<td><input name="<?php echo $endereco_prefix ?>cep" value="<?php echo (isset($this->post_var[$endereco_prefix.'cep'])) ? $this->post_var[$endereco_prefix.'cep'] : "" ?>" type="text" class="form-control" placeholder="CEP"></td>
		</tr>
		<tr>
			<td>Endereço</td>
			<td><input name="<?php echo $endereco_prefix ?>endereco" value="<?php echo (isset($this->post_var[$endereco_prefix.'endereco'])) ? $this->post_var[$endereco_prefix.'endereco'] : "" ?>" type="text" class="form-control" placeholder="Endereço"></td>
		</tr>
		<tr>
			<td>Número</td>
			<td><input name="<?php echo $endereco_prefix ?>numero" value="<?php echo (isset($this->post_var[$endereco_prefix.'numero'])) ? $this->post_var[$endereco_prefix.'numero'] : "" ?>" type="text" class="form-control" placeholder="Número"></td>
		</tr>
		<tr>
			<td>Complemento</td>
			<td><input name="<?php echo $endereco_prefix ?>complemento" value="<?php echo (isset($this->post_var[$endereco_prefix.'complemento'])) ? $this->post_var[$endereco_prefix.'complemento'] : "" ?>" type="text" class="form-control" placeholder="Complemento"></td>
		</tr>
		<tr>
			<td>Bairro</td>
			<td><input name="<?php echo $endereco_prefix ?>bairro" value="<?php echo (isset($this->post_var[$endereco_prefix.'bairro'])) ? $this->post_var[$endereco_prefix.'bairro'] : "" ?>" type="text" class="form-control" placeholder="Bairro"></td>
		</tr>
		<tr>
			<td>Estado</td>
			<td>
				<select id="<?php echo $endereco_prefix ?>idestado" name="<?php echo $endereco_prefix ?>idestado" class="form-control"  onchange="setCidades(this, 0)">
					<option value="">Selecione...</option>
					<?php if (isset($this->estados)) : ?>
					<?php foreach ($this->estados as $i=>$row) : ?>
						<option value="<?php echo $row['id'] ?>"><?php echo $row['nome'] ?></option>
					<?php endforeach; ?>
					<?php else : ?>
					<?php foreach (Estados::getEstadosHelper() as $i=>$row) : ?>
						<option value="<?php echo $row['id'] ?>"><?php echo $row['nome'] ?></option>
					<?php endforeach; ?>
					<?php endif; ?>
				</select>  			
			</td>
		</tr>
		
		<tr>
			<td>Cidade</td>
			<td>
        			
        				<select id="idcidade" name="idcidade" class="form-control">
        					<option value="">Selecione...</option>
						</select>        				
					
			</td>
		</tr>

		<?php /*?>
		<tr>
			<td>Cidade</td>
			<td><input name="<?php echo $endereco_prefix ?>cidade" value="<?php echo (isset($this->post_var[$endereco_prefix.'cidade'])) ? $this->post_var[$endereco_prefix.'cidade'] : "" ?>" type="text" class="form-control" placeholder="Cidade"></td>
		</tr>
		<?php */?>
	</tbody>
</table>

<script type="text/javascript">

	<?php if (isset($this->post_var)) :  ?>
	<?php echo $endereco_prefix ?>idestado = '<?php echo (isset($this->post_var[$endereco_prefix.'idestado'])) ? $this->post_var[$endereco_prefix.'idestado'] : '' ?>';
	<?php endif; ?>		

	$(document).ready(function() {
		
		if ((typeof <?php echo $endereco_prefix ?>idestado)!='undefined') $("select[name=<?php echo $endereco_prefix ?>idestado]").val(<?php echo $endereco_prefix ?>idestado);

		$("input[name=<?php echo $endereco_prefix ?>cep]").unmask();
		$("input[name=<?php echo $endereco_prefix ?>cep]").mask("99999-999", {placeholder:" "});	
		
		$('input[name=<?php echo $endereco_prefix ?>cep]').blur(function() {
			val = $.trim(this.value);
			if (""==val) return;
				$.blockUI({ message: '<h1> Aguarde...</h1>' }); 
				$.post(baseUrl + '/admin/index/buscacep' , {cep: val,modo:'gravar'}, function(cep) {
					$.unblockUI();
					if (cep=='false') {
						jAlert('CEP não encontrado!','Erro');
						return;
					}
					
					cep = jQuery.parseJSON(cep);
					console.log(cep);
					alert(cep);
					$("input[name=<?php echo $endereco_prefix ?>endereco]").val(cep.tipo + ' ' + cep.logradouro.replace(cep.tipo, ''));
					$("input[name=<?php echo $endereco_prefix ?>cidade]").val(cep.cidade);
					$("select[name=<?php echo $endereco_prefix ?>idestado]").val(cep.idestado);
					$("input[name=<?php echo $endereco_prefix ?>bairro]").val(cep.bairro);

					$("[name=<?php echo $endereco_prefix ?>idestado]").select2("destroy");
					$("[name=<?php echo $endereco_prefix ?>idestado]").select2();			
					
			});	
		});
		
	});	


</script>