<?php 
	include_once BASE_PATH . '/public/scripts/ckeditor/ckeditor.php';
	require_once BASE_PATH . '/public/scripts/ckfinder/ckfinder.php';
	
	$ckeditor = new CKEditor();
	$ckeditor->basePath	= $this->baseUrl('/public/scripts/ckeditor/');
	
	$ckfinder = $this->baseUrl('/public/scripts/ckfinder/');
	
	CKFinder::SetupCKEditor($ckeditor, $ckfinder);
?>
		<!-- Content -->
		<div id="content">

		    <!-- Content wrapper -->
		    <div class="wrapper">

			    <!-- Breadcrumbs line -->
			    <div class="crumbs">
			    	<?php echo $this->render('/helpers/breadcrumb.phtml') ?>
			    </div>
			    <!-- /breadcrumbs line -->

			    <!-- Page header -->
			    <div class="page-header">
			    	<div class="page-title">
				    	<h5>Formulário do curso</h5>
				    	<span>Verifique os campos e preencha com os dados</span>
			    	</div>
			    </div>
			    <!-- /page header -->

			    <?php if (isset($this->crudMessage)) : ?>
					<div class="alert alert-success">
	                	<button data-dismiss="alert" class="close" type="button">×</button>
	                    <strong>Operação realizada com sucesso!</strong>
		    			<span><br /><?php echo $this->crudMessage ?></span>
	                </div>			    
			    <?php endif; ?>

				<form id="form" name="form" action="" method="post" class="form-horizontal" enctype="multipart/form-data"> 
					<input type="hidden" value="<?php echo (isset($this->post_var)) ? $this->post_var["id"] : ''; ?>" name="id" id="id" />
					
					<fieldset>
						<!-- General form elements -->
						<div class="widget row-fluid">
						    <div class="navbar">
						        <div class="navbar-inner">
						            <h6>Digite as informações do formulário</h6>
						        </div>
						    </div>

						    <div class="well">
								<?php if (isset($this->erros)) : ?>
									<div class="alert alert-error margin">
				                        <button data-dismiss="alert" class="close" type="button">×</button>
				                        <strong>Há erros no formulário!</strong>
					    				<?php foreach ($this->erros as $k=>$v) : ?>
					    					<span><br />- <?php echo $v ?></span>
					    				<?php endforeach;?>			                        
				                    </div>
			                    <?php endif; ?>						    
						    


				<div class="control-group">
					<label class="control-label">Curso <span class="required">*</span></label>
					<div class="controls"><input maxlength="500" placeholder="Curso" name="titulo" value="<?php echo (isset($this->post_var['titulo'])) ? $this->post_var['titulo'] : '' ?>" type="text"  class="span3" /></div>
				</div>


				<div class="control-group">
					<label class="control-label">Carga horária <span class="required">*</span></label>
					<div class="controls"><input maxlength="20" placeholder="Carga horária" name="cargahoraria" value="<?php echo (isset($this->post_var['cargahoraria'])) ? $this->post_var['cargahoraria'] : '' ?>" type="text"  class="span3" /></div>
				</div>

				<?php if($this->getController()=="Cursos"):?>
				<div class="control-group">
					<label class="control-label">Pontuação </label>
					<div class="controls"><input maxlength="20" placeholder="Pontuação" name="pontuacao" value="<?php echo (isset($this->post_var['pontuacao'])) ? $this->post_var['pontuacao'] : '' ?>" type="text"  class="span3" /></div>
				</div>
				<?php endif;?>
				<div class="control-group">
					<label class="control-label">Quantidade de vagas </label>
					<div class="controls"><input maxlength="20" placeholder="Quantidade de vagas" name="quantidadevagas" value="<?php echo (isset($this->post_var['quantidadevagas'])) ? (int)$this->post_var['quantidadevagas'] : '' ?>" type="text"  class="span3" /></div>
				</div>
				<div class="control-group">
					<label class="control-label">Instituição </label>
					<div class="controls">
						<?php if ((isset($this->visualizar)) && ($this->visualizar)) : ?>
						<div style="padding-top:10px"><?php echo $this->post_var['instituicaoensino']; ?></div>
						<?php else : ?>
						<?php $value1 = (isset($this->post_var['instituicaoensino'])) ? $this->post_var['instituicaoensino'] : ''; ?>
						<?php $ckeditor->editor('instituicaoensino', $value1); ?>
						<?php endif; ?>						
					</div>
				</div>


				<div class="control-group">
					<label class="control-label">Período </label>
					<div class="controls">
						<?php if ((isset($this->visualizar)) && ($this->visualizar)) : ?>
						<div style="padding-top:10px"><?php echo $this->post_var['periodo']; ?></div>
						<?php else : ?>
						<?php $value1 = (isset($this->post_var['periodo'])) ? $this->post_var['periodo'] : ''; ?>
						<?php $ckeditor->editor('periodo', $value1); ?>
						<?php endif; ?>
					</div>
				</div>


				<div class="control-group">
					<label class="control-label">Instrutor </label>
					<div class="controls">
						<?php if ((isset($this->visualizar)) && ($this->visualizar)) : ?>
						<div style="padding-top:10px"><?php echo $this->post_var['instrutor']; ?></div>
						<?php else : ?>
						<?php $value1 = (isset($this->post_var['instrutor'])) ? $this->post_var['instrutor'] : ''; ?>
						<?php $ckeditor->editor('instrutor', $value1); ?>
						<?php endif; ?>
					</div>
				</div>

				<div class="control-group">
					<label class="control-label">Local</label>
					<div class="controls">
			    		<?php echo $this->render('/helpers/forms/endereco.phtml') ?>
			    	</div>
		    	</div>

		    	<div id="maps" style="min-height: 300px; display: none;">
		    	</div>


				<div class="control-group">
					<label class="control-label">Status <span class="required">*</span></label>
					<div class="controls">
						<select name="status1" data-placeholder="Status" class="select">
							<option value="">Selecione...</option>
							<option value="Ativo">Ativo</option><option value="Bloqueado">Bloqueado</option>
						</select>
						
					</div>
				</div>
  
						    
						    </div>
						    
			                <div class="form-actions align-right">
			                	<?php if ((isset($this->visualizar)) && ($this->visualizar)) : ?>
			                		<button onclick="window.history.back()" class="btn btn-danger cancelar" type="button">Voltar</button>
			                	<?php else : ?>
				                	<button class="btn btn-primary enviar" type="submit">Salvar</button>
				                	<button onclick="window.history.back()" class="btn btn-danger cancelar" type="button">Cancelar</button>
			                	<?php endif; ?>
			                </div>
						</div>
						<!-- /general form elements -->

					</fieldset> 

				</form>
				<!-- /basic inputs -->

		    </div>
		    <!-- /content wrapper -->

		</div>
		<!-- content -->
				
<script type="text/javascript" src="<?php echo $this->baseUrl('/public/scripts/admin/cursos_form.js') ?>"></script>
<script type="text/javascript">
	var form_values = {};
	
	<?php if (isset($this->post_var)) :  ?>
		form_values.idsecretaria = '<?php echo (isset($this->post_var['idsecretaria'])) ? $this->post_var['idsecretaria'] : '' ?>';
		
		form_values.idestado = '<?php echo (isset($this->post_var['idestado'])) ? $this->post_var['idestado'] : '' ?>';

		form_values.status1 = '<?php echo (isset($this->post_var['status1'])) ? $this->post_var['status1'] : $this->post_var['status'] ?>';


	<?php endif; ?>

	visualizar = <?php echo  ((isset($this->visualizar)) && ($this->visualizar))  ? 'true' : 'false' ?>;
</script>
