		<!-- Content -->
		<div id="content">

		    <!-- Content wrapper -->
		    <div class="wrapper">

			    <!-- Breadcrumbs line -->
			    <div class="crumbs">
			    	<?php echo $this->render('/helpers/breadcrumb.phtml') ?>
			    </div>
			    <!-- /breadcrumbs line -->

			    <!-- Page header -->
			    <div class="page-header">
			    	<div class="page-title">
				    	<h5>Formulário de atividades complementares</h5>
				    	<span>Verifique os campos e preencha com os dados</span>
			    	</div>
			    </div>
			    <!-- /page header -->

			    <?php if (isset($this->crudMessage)) : ?>
					<div class="alert alert-success">
	                	<button data-dismiss="alert" class="close" type="button">×</button>
	                    <strong>Operação realizada com sucesso!</strong>
		    			<span><br /><?php echo $this->crudMessage ?></span>
	                </div>			    
			    <?php endif; ?>

				<form id="form" name="form" action="" method="post" class="form-horizontal" enctype="multipart/form-data"> 
					<input type="hidden" value="<?php echo (isset($this->post_var)) ? $this->post_var["id"] : ''; ?>" name="id" id="id" />
					
					<fieldset>
						<!-- General form elements -->
						<div class="widget row-fluid">
						    <div class="navbar">
						        <div class="navbar-inner">
						            <h6>Digite as informações do formulário</h6>
						        </div>
						    </div>

						    <div class="well">
								<?php if (isset($this->erros)) : ?>
									<div class="alert alert-error margin">
				                        <button data-dismiss="alert" class="close" type="button">×</button>
				                        <strong>Há erros no formulário!</strong>
					    				<?php foreach ($this->erros as $k=>$v) : ?>
					    					<span><br />- <?php echo $v ?></span>
					    				<?php endforeach;?>			                        
				                    </div>
			                    <?php endif; ?>						    
						    

				<div>
					<div class="control-group" >
						<label class="control-label">Tipo de Atividade <span class="required">*</span></label>
						
						<div class="controls">
							  <select name="idtipoatividade" data-placeholder="Status" class="select">
							  	<option value="">Selecione...</option>
							  	<?php foreach (Coordenacaotiposatividadescomplementares::getCoordenacaotiposatividadescomplementaresHelper(array('status'=>'Ativo'))  as $key => $value) :?>
							  		<option value="<?php echo $value['id']?>"><?php echo $value['tipo'] ?></option>
							  	<?php endforeach ?>	
							  </select>
						</div>
					</div>



				<div class="control-group">
					<label class="control-label">Aluno <span class="required">*</span></label>
					<div class="controls">
						<select name="idaluno" data-placeholder="Status" class="select"">
							<option value="">Selecione...</option> 
							<?php foreach (Escolasalunos::getEscolasalunosHelper(array('status'=>'Ativo')) as $key => $value) : ?>
								<option value="<?php echo $value['id'] ?>"><?php echo $value['nomerazao']?></option>
							<?php endforeach;?>
						</select>
						
					</div>
				</div>

				<div class="control-group">
					<label name=titulo class="control-label">Título <span class="required">*</span></label>
					<div class="controls">
						
							<input type="text" placeholder="Título da Atividade" name="titulo" value="<?php echo (isset($this->post_var['titulo'])) ? $this->post_var['titulo'] : '' ?>"><br/>		
					</div>
				</div>

					 
				</div>


				<div class="control-group">
					<label class="control-label">Observações </label>
					<div class="controls">
						<textarea class="span12" name="observacoes" cols="5" rows="5"><?php echo (isset($this->post_var['observacoes'])) ? $this->post_var['observacoes'] : '' ?> </textarea>
						
					</div>
				</div>


				<div class = "control-group">
						 <label class="control-label">Data <span class="required">*</span></label>
						 <div class="controls">
						 	<input type="text" name="data" placeholder="Data" value="<?php echo (isset($this->post_var['data'])) ? Mn_Util::formPostVarData($this->post_var["data"]) : ''; ?>" >
						 </div>
					</div>


				<div class="control-group">
					<label class="control-label">Status <span class="required">*</span></label>
					<div class="controls">
						<select name="status1" data-placeholder="Status" class="select">
							<option value="">Selecione...</option>
							<option value="Ativo">Ativo</option><option value="Bloqueado">Bloqueado</option>
						</select>
						
					</div>
				</div>

						    
						    
						    </div>
						    
			                <div class="form-actions align-right">
			                	<?php if ((isset($this->visualizar)) && ($this->visualizar)) : ?>
			                		<button onclick="window.history.back()" class="btn btn-danger cancelar" type="button">Voltar</button>
			                	<?php else : ?>
				                	<button class="btn btn-primary enviar" type="submit">Salvar</button>
				                	<button onclick="window.history.back()" class="btn btn-danger cancelar" type="button">Cancelar</button>
			                	<?php endif; ?>
			                </div>
						</div>
						<!-- /general form elements -->

					</fieldset> 

				</form>
				<!-- /basic inputs -->

		    </div>
		    <!-- /content wrapper -->

		</div>
		<!-- content -->
				
<script type="text/javascript" src="<?php echo $this->baseUrl('/public/scripts/default/atividadescomplementares_form.js') ?>"></script>
<script type="text/javascript">
	var form_values = {};
	
	<?php if (isset($this->post_var)) :  ?>

form_values.idtipoatividade = '<?php echo (isset($this->post_var['idtipoatividade'])) ? $this->post_var['idtipoatividade'] : '' ?>';
form_values.idaluno = '<?php echo (isset($this->post_var['idaluno'])) ? $this->post_var['idaluno'] : '' ?>';
form_values.status1 = '<?php echo (isset($this->post_var['status1'])) ? $this->post_var['status1'] : $this->post_var['status'] ?>';


	<?php endif; ?>

	<?php if ((isset($this->post_var['idsmaterias'])) && ($this->post_var['idsmaterias']!="")) :  ?>
	form_values.idsmaterias = [<?php echo $this->post_var['idsmaterias'] ?>];
	<?php endif; ?>

	visualizar = <?php echo  ((isset($this->visualizar)) && ($this->visualizar))  ? 'true' : 'false' ?>;
</script>
