
<div class="control-group materiaescola" style="display:none;">
	<label class="control-label">Matéria <span class="required">*</span></label>
	<div class="controls">
        <select id="quadroidmateriaescola" name="quadroidmateriaescola" class="select quadroidmateriaescola" onchange="setMateriaid(this);">
			<?php if (sizeof($this->rows)==0) : ?>
			<option value="">Selecione...</option>
			<option value="">Nenhuma matéria foi encontrada para essa escola</option>
			<?php else : ?>
			<option value="">Selecione...</option>
			<?php foreach ($this->rows as $row) : ?>
			<option value="<?php echo $row['id'] ?>"><?php echo $row['materia'] ?></option>
			<?php endforeach; ?>
			<?php endif; ?>		          
        </select>   
	</div>
</div>

<div class="control-group materiaprofessor" style="display:none;">
	<label class="control-label">Matéria <span class="required">*</span></label>
	<div class="controls">
        <select id="quadroidmateriaprofessor" name="quadroidmateriaprofessor" class="select quadroidmateriaprofessor" onchange="setMateriaid(this);">
			<?php if (sizeof($this->materiasprofessores)==0) : ?>
			<option value="">Selecione...</option>
			<option value="">Nenhuma matéria foi encontrada para essa escola</option>
			<?php else : ?>
			<option value="">Selecione...</option>
			<?php foreach ($this->materiasprofessores as $row) : ?>
			<option value="<?php echo $row['id'] ?>"><?php echo $row['materia'] ?></option>
			<?php endforeach; ?>
			<?php endif; ?>		          
        </select>   
	</div>
</div>


<?php if(sizeof($this->materiasdadas) > 0): ?>
<div class="control-group">
	<table class="table table-primary mb30">
		<thead>
			<tr>
				<th colspan="5" align="center" style="text-align: center;">Aulas desse professor</th>
			</tr>
			<tr>
				<th width="180">Aula</th>
				<th width="180">QTD Aulas</th>				
				<th width="180">Dupla/Única</th>
				<th width="30">Ações</th>
			</tr>
		</thead>
		<tbody id="raiz">
			<?php foreach($this->materiasdadas as $md=>$rowmateria): ?>
			<tr>
				<td>
					<?php
						$___rows = Controlealunosmaterias::getControlealunosmateriasHelper(array('id'=>$rowmateria['idmateria']));
						$___row = (sizeof($___rows)>0) ? 	$___rows[0] : false;	
						
						echo ($___row) ? $this->formatTextoBranco($___row['materia']) : '--';		
					?>
				</td>
				<td><?php echo $rowmateria['quantidadesaulas']?></td>
				<td><?php echo $rowmateria['quadroperiodoaula']?></td>
				<td style="text-align:center!Important" align="center"><a href="javascript:;" onclick="excluirMateria(this, <?php echo $rowmateria['id']?>)"><i class="icon-remove"></i></a></a></td>
			</tr>
			<?php endforeach?>
		</tbody>
	</table>
</div>
<?php endif?>

<?php if(sizeof($this->aulassala) > 0): ?>
<div class="control-group">
	<table class="table table-primary mb30">
		<thead>
			<tr>
				<th colspan="5" align="center" style="text-align: center;">Aulas dessa sala</th>
			</tr>
			<tr>
				<th width="180">Aulas</th>
			</tr>
		</thead>
		<tbody id="raiz">
			<?php foreach($this->aulassala as $am=>$rowaulamateria): ?>
			<tr>
				<td>
					<?php
						$___rows = Controlealunosmaterias::getControlealunosmateriasHelper(array('id'=>$rowaulamateria['idmateria']));
						$___row = (sizeof($___rows)>0) ? 	$___rows[0] : false;	
						
						echo ($___row) ? $this->formatTextoBranco($___row['materia']) : '--';		
					?>
				</td>
			</tr>
			<?php endforeach?>
		</tbody>
	</table>
</div>
<?php endif?>