<style>
#box-certidaoantiga, #box-certidaonova{ display: block; padding: 2%; background: rgb(223, 223, 223); width: 77%; float: right; box-shadow: inset 0px 0px 8px -1px #000;}
</style>
<div class="navbar">
    <div class="navbar-inner">
        <h6 class="title-accordion">
            <a class="click_acc" data-toggle="collapse" data-parent="#accordion" href="#collapse22">
                Documentos
            </a>
        </h6>
    </div>
</div>

<div id="collapse22" class="content-height panel-collapse collapse in">
        <div class="control-group">
                <label class="control-label">Nacionalidade</label>
                <div class="controls">
                        <select maxlength="500" placeholder="Nacionalidade" name="inNacionalidade" <?php if ($this->visualizar) {echo 'disabled="true"';} else {echo 'enabled="true"';} ?> class="select" onclick="setPais(this)">
                                <option value="1">Brasileira</option>
                                <option value="2">Estrangeira</option>
                                <option value="3">Brasileiro nascido no exterior</option>
                        </select>
                </div>
        </div>
        <div class="control-group" id="paisorigem" style="display: none">
                <label class="control-label">País de origem </label>
                <div class="controls">
                <?php
                        $sedpaises = new Paises();
                        $paises = $sedpaises->getPaises();
                ?>
                        <select maxlength="500" placeholder="Pais de Origem" name="inPaisOrigem" <?php if ($this->visualizar) {echo 'disabled="true"';} else {echo 'enabled="true"';} ?> class="select">
                                <option value="">Selecione...</option>
                                <?php
                                     foreach($paises as $pais):
                                ?>
                                <option value="<?php echo $pais['codigo']?>"><?php echo $pais['nomepaisouarea']?></option>
                                <?php endforeach; ?>
                        </select>
                </div>
        </div>
        <div class="control-group" id="entradanopais" style="display: none ">
                <label class="control-label">Dia de entrada no Brasil </label>
                <div class="controls"><input placeholder="Dia de entrada no Brasil" name="inDiaEntBrasil" value="<?php echo (isset($this->post_var['inDiaEntBrasil'])) ? date('d/m/Y', strtotime(substr($this->post_var['inDiaEntBrasil'], 0,10))) : '' ?>" <?php if ($this->visualizar) {echo 'disabled="true"';} else {echo 'enabled="true"';} ?> type="text"  class="span3" /></div>
        </div>
        <div class="control-group">
                <label class="control-label">CPF </label>
                <div class="controls"><input maxlength="500" placeholder="CPF" name="cpfcnpj" value="<?php echo (isset($this->post_var['cpfcnpj'])) ? $this->post_var['cpfcnpj'] : '' ?>" <?php if ($this->visualizar) {echo 'disabled="true"';} else {echo 'enabled="true"';} ?> type="text"  class="span3" /></div>
        </div>
    
        <div class="control-group">
                <label class="control-label">RG </label>
                <div class="controls">
                        <input maxlength="500" placeholder="Número do RG" name="rg" value="<?php echo (isset($this->post_var['rg'])) ? $this->post_var['rg'] : '' ?>" <?php if ($this->visualizar) {echo 'disabled="true"';} else {echo 'enabled="true"';} ?> type="text"  class="span3" /> -
                        <input maxlength="1" size="2" placeholder="Dígito do RG" name="digrg" value="<?php echo (isset($this->post_var['digrg'])) ? $this->post_var['digrg'] : '' ?>" <?php if ($this->visualizar) {echo 'disabled="true"';} else {echo 'enabled="true"';} ?> type="text"  class="span3" /> /  
                        <input maxlength="2" size="2" placeholder="UF RG" name="ufrg" value="<?php echo (isset($this->post_var['ufrg'])) ? $this->post_var['ufrg'] : '' ?>" <?php if ($this->visualizar) {echo 'disabled="true"';} else {echo 'enabled="true"';} ?> type="text"  class="span3" />
                </div>
        </div>
        <div class="control-group">
                <label class="control-label">Data da emissão do RG </label>
                <div class="controls"><input placeholder="Data" name="inDataEmissaoRGRNE" value="<?php echo (isset($this->post_var['inDataEmissaoRGRNE'])) ? date('d/m/Y', strtotime(substr($this->post_var['inDataEmissaoRGRNE'], 0, 10))) : '' ?>" <?php if ($this->visualizar) {echo 'disabled="true"';} else {echo 'enabled="true"';} ?> type="text"  class="span3" /></div>
        </div>

        <div class="control-group">
                <label class="control-label">CGM </label>
                <div class="controls"><input maxlength="500" placeholder="CGM" name="cgm" value="<?php echo (isset($this->post_var['cgm'])) ? $this->post_var['cgm'] : '' ?>" <?php if ($this->visualizar) {echo 'disabled="true"';} else {echo 'enabled="true"';} ?> type="text"  class="span3" /></div>
        </div>

        <div class="control-group">
                <label class="control-label">NIS </label>
                <div class="controls"><input maxlength="500" placeholder="NIS" name="nis" value="<?php echo (isset($this->post_var['nis'])) ? $this->post_var['nis'] : '' ?>" <?php if ($this->visualizar) {echo 'disabled="true"';} else {echo 'enabled="true"';} ?> type="text"  class="span3" /></div>
        </div>    
    
	<div class="control-group">
		<label class="control-label">Município e Estado de Nascimento</label>
		<div class="controls">
		        <input name="naturalidade" value="<?php echo (isset($this->post_var)) ? $this->post_var['naturalidade'] : "" ?>" <?php if ($this->visualizar) {echo 'disabled="true"';} else {echo 'enabled="true"';} ?> type="text" class="form-control" placeholder=" "> 
		</div>
	</div>    
	<div class="control-group">
                <label class="control-label">Certidão Civil</label>
                <div class="controls">
                        <div class="col-sm-6">
                                <label class="col-sm-3 control-label">Município</label> 
                                <input name="municipio_de_nascimento" value="<?php echo (isset($this->post_var)) ? $this->post_var['municipio_de_nascimento'] : "" ?>" <?php if ($this->visualizar) {echo 'disabled="true"';} else {echo 'enabled="true"';} ?> type="text" class="form-control" placeholder=" ">
                        </div><br/>

                        <div class="col-sm-6">
                                <label class="col-sm-3 control-label">UF</label> 
                                <input name="uf_mun_de_nascimento" size="2" value="<?php echo (isset($this->post_var)) ? $this->post_var['uf_mun_de_nascimento'] : "" ?>" <?php if ($this->visualizar) {echo 'disabled="true"';} else {echo 'enabled="true"';} ?> type="text" class="form-control" placeholder=" ">
                        </div><br/>

                        <div class="col-sm-6">
                                <label class="col-sm-3 control-label">Emissão</label> 
                                <input name="data_emis_certidao_nasc"  size="10" value="<?php echo (isset($this->post_var['data_emis_certidao_nasc'])) ? date("d-m-Y", strtotime($this->post_var['data_emis_certidao_nasc'])) : "" ?>" <?php if ($this->visualizar) {echo 'disabled="true"';} else {echo 'enabled="true"';} ?> type="text" class="form-control" placeholder=" ">
                        </div>
                        <br/>
                        <div class="col-sm-6">
                                <label class="col-sm-3 control-label">Modelo de Certidão</label> 
                                <select name="tipocertidao" data-placeholder="Modelo de Certidão" class="select" onchange="setTipoCertidao(this,'')" <?php if ($this->visualizar) {echo 'disabled="true"';} else {echo 'enabled="true"';} ?>>
                                        <option value="">Selecione...</option>
                                        <option value="1">Antiga</option>
                                        <option value="2">Nova</option>
                                </select>
                        </div><br/>
                </div>
                <div id="box-certidaoantiga">
                        <div class="control-group">
                                <label class="col-sm-3 control-label">Número</label> 
                                <input name="numero_certidao_nasc" value="<?php echo (isset($this->post_var['numero_certidao_nasc'])) ? $this->post_var['numero_certidao_nasc'] : "" ?>" <?php if ($this->visualizar) {echo 'disabled="true"';} else {echo 'enabled="true"';} ?> type="text" class="form-control" placeholder="N&uacute;mero">
                        </div>
                        <div class="control-group">
                                <label class="col-sm-3 control-label">Folha</label>
                                <input name="num_folha_certidao_nasc" value="<?php echo (isset($this->post_var['num_folha_certidao_nasc'])) ? $this->post_var['num_folha_certidao_nasc'] : "" ?>" <?php if ($this->visualizar) {echo 'disabled="true"';} else {echo 'enabled="true"';} ?> type="text" class="form-control" placeholder="Folha">
                        </div>
                        <div class="control-group">
                                <label class="col-sm-3 control-label">Livro</label> 
                                <input name="num_livro_certidao_nasc" value="<?php echo (isset($this->post_var['num_livro_certidao_nasc'])) ? $this->post_var['num_livro_certidao_nasc'] : "" ?>" <?php if ($this->visualizar) {echo 'disabled="true"';} else {echo 'enabled="true"';} ?> type="text" class="form-control" placeholder="Livro">
                        </div>
                        <div class="control-group">
                                <label class="col-sm-3 control-label">Distrito Certidão</label>
                                <input name="inDistritoCertidao" maxlength="22" value="<?php echo (isset($this->post_var['inDistritoCertidao'])) ? $this->post_var['inDistritoCertidao'] : "" ?>" <?php if ($this->visualizar) {echo 'disabled="true"';} else {echo 'enabled="true"';} ?> type="text" class="form-control" placeholder="Distrito">
                        </div>
                        <div class="control-group">
                                <label class="col-sm-3 control-label">Nome ou código do IBGE do Município Comarca</label>                                
                                <input name="inMunicipioComarca" maxlength="22" value="<?php echo (isset($this->post_var['inMunicipioComarca'])) ? $this->post_var['inMunicipioComarca'] : "" ?>" <?php if ($this->visualizar) {echo 'disabled="true"';} else {echo 'enabled="true"';} ?> type="text" class="form-control" placeholder="Município">
                        </div>
                        <div class="control-group">
                                <label class="col-sm-3 control-label">UF da Comarca do Registro</label>                                
                                <input name="inUFComarca" maxlength="2" value="<?php echo (isset($this->post_var['inUFComarca'])) ? $this->post_var['inUFComarca'] : "" ?>" <?php if ($this->visualizar) {echo 'disabled="true"';} else {echo 'enabled="true"';} ?> type="text" class="form-control" placeholder="UF">
                        </div>
                </div>
                <div id="box-certidaonova">
                        <label class="col-sm-3 control-label" style="float: none">Número da Matrícula</label>
                        <input name="nova_cert_cod_nasc_serv" maxlength="6" size="6" value="<?php echo (isset($this->post_var['nova_cert_cod_nasc_serv'])) ? $this->post_var['nova_cert_cod_nasc_serv'] : "" ?>" <?php if ($this->visualizar) {echo 'disabled="true"';} else {echo 'enabled="true"';} ?> type="text" class="form-control" placeholder=""></td>
                        <input name="nova_cert_cod_acervo" maxlength="2" size="2" value="<?php echo (isset($this->post_var['nova_cert_cod_acervo'])) ? $this->post_var['nova_cert_cod_acervo'] : "" ?>" <?php if ($this->visualizar) {echo 'disabled="true"';} else {echo 'enabled="true"';} ?> type="text" class="form-control" placeholder=""></td>
                        <input name="nova_cert_cod_serv_reg_civil" maxlength="2" size="2" value="<?php echo (isset($this->post_var['nova_cert_cod_serv_reg_civil'])) ? $this->post_var['nova_cert_cod_serv_reg_civil'] : "" ?>" <?php if ($this->visualizar) {echo 'disabled="true"';} else {echo 'enabled="true"';} ?> type="text" class="form-control" placeholder=""></td>
                        <input name="nova_cert_ano_reg_nasc" maxlength="4" size="4" value="<?php echo (isset($this->post_var['nova_cert_ano_reg_nasc'])) ? $this->post_var['nova_cert_ano_reg_nasc'] : "" ?>" <?php if ($this->visualizar) {echo 'disabled="true"';} else {echo 'enabled="true"';} ?> type="text" class="form-control" placeholder=""></td>
                        <input name="nova_cert_tipo_livro_reg" maxlength="1" size="1" value="<?php echo (isset($this->post_var['nova_cert_tipo_livro_reg'])) ? $this->post_var['nova_cert_tipo_livro_reg'] : "" ?>" <?php if ($this->visualizar) {echo 'disabled="true"';} else {echo 'enabled="true"';} ?> type="text" class="form-control" placeholder=""></td>
                        <input name="nova_cert_num_livro" maxlength="5" size="5" value="<?php echo (isset($this->post_var['nova_cert_num_livro'])) ? $this->post_var['nova_cert_num_livro'] : "" ?>" <?php if ($this->visualizar) {echo 'disabled="true"';} else {echo 'enabled="true"';} ?> type="text" class="form-control" placeholder=""></td>
                        <input name="nova_cert_num_folha" maxlength="3" size="3" value="<?php echo (isset($this->post_var['nova_cert_num_folha'])) ? $this->post_var['nova_cert_num_folha'] : "" ?>" <?php if ($this->visualizar) {echo 'disabled="true"';} else {echo 'enabled="true"';} ?> type="text" class="form-control" placeholder=""></td>
                        <input name="nova_cert_num_termo_reg" maxlength="7" size="7" value="<?php echo (isset($this->post_var['nova_cert_num_termo_reg'])) ? $this->post_var['nova_cert_num_termo_reg'] : "" ?>" <?php if ($this->visualizar) {echo 'disabled="true"';} else {echo 'enabled="true"';} ?> type="text" class="form-control" placeholder=""></td>                        
                        &#45
                        <input name="digver_certidao_nasc_nova" maxlength="2" size="2" value="<?php echo (isset($this->post_var)) ? $this->post_var['digver_certidao_nasc_nova'] : "" ?>" <?php if ($this->visualizar) {echo 'disabled="true"';} else {echo 'enabled="true"';} ?> type="text" class="form-control" placeholder="Dígito"></td>
                </div>
        </div>
        <div class="control-group">
                <label class="control-label">Data da emissão da certidão</label>
                <div class="controls">
                        <input name="data_emis_certidao_nasc" value="<?php echo (isset($this->post_var['data_emis_certidao_nasc'])) ? date('d/m/Y', strtotime(substr($this->post_var['data_emis_certidao_nasc'], 0, 10))) : "" ?>" <?php if ($this->visualizar) {echo 'disabled="true"';} else {echo 'enabled="true"';} ?> type="text" class="form-control">
                </div>
        </div>
</div>
<script>
        var doc_values = {};
        doc_values.nacionalidade = '<?php echo (isset($this->post_var['nacionalidadetipo'])) ? $this->post_var['nacionalidadetipo'] : ''?>';
        doc_values.paisorigem = '<?php echo (isset($this->post_var['inPaisOrigem'])) ? $this->post_var['inPaisOrigem'] : ''?>';
        doc_values.tipocertidao = '<?php echo (isset($this->post_var['tipocertidao'])) ? $this->post_var['tipocertidao'] : ''?>';
</script>