<style>
.contentblock{
    padding:20px;
}
.search_boxes{
    border:0.5px solid #ccc;
    border-radius:4px;
    padding:15px;
}
.rotulo{
    font-size:1em;
    font-weight:bold;
}
.search_boxes input, .search_boxes select {
    border-radius: 5px;
}
#outResult{
    padding: 5px;
    margin-top: 10px;
}
#outResult #infoResult{
    display: none;
}
#loader, #loading{
    width: 100%;
    padding:10px;
    text-align: center;
    color: #9c9c9c;
    font-size: 1.3em;
    display: none;
}
#loading img{ width: 25px;}
.control-info{
    width: 16%;
    border: 0.5px solid #ccc;
    display: inline-grid;
}
.control-info .label-control-info{
    font-weight: bold;
    margin: 0;
}
.outDados{
    
}
#empty-register{
    width: 100%;
    text-align: center;
    color: #7c7c7c;
    font-size: 1.3em;
}
/*RADIO COM EFEITO SWITCH*/
.switch {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 17px;
}

.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 13px;
  width: 13px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(13px);
  -ms-transform: translateX(13px);
  transform: translateX(13px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 17px;
}

.slider.round:before {
  border-radius: 50%;
}

.boxretorno_error{
    background-image: linear-gradient(to bottom, #fa7b7b, #fc5757);
    padding: 4px 3px 0px;
    text-align: center;
    border: 1px solid #fff;
    display: none;
}
.boxretorno_error #msg_error{
    font-size: 1em;
    color: #fff;
    font-weight: bold;
    font-family: Helvetica, sans-serif;
}
#visualizardados{cursor: pointer;}
.edge-info{
    width: 100%;
    border-bottom: 0.5px solid #4fb5e8;
    padding: 5px 0px 5px 5px;
    margin: 3px 0px;
}
.edge-info .content-extra-info{ display:inline; }
.title-extra-info{
    width: 100%;
    background: #707070;
    font-size: 1.2em;
    color: #fff;
    padding: 5px 0px 5px 5px;
    border-radius: 5px;
}

/*FORMATAR DIALOG*/
#extraDados .ui-dialog{position: fixed !important; overflow-y: auto; height: 350px !important; }
.ui-draggable .ui-dialog-titlebar{ background: #069; text-align: center;}
.ui-dialog .ui-dialog-titlebar-close{padding:0px !important; background:none !important;}
.ui-state-hover{ background:#09f; }

.ui-dialog::-webkit-scrollbar {
  width: 7px;
  height: 10px;
  -webkit-border-radius: 16px;
}

.ui-dialog::-webkit-scrollbar-track-piece {
  background-color: #cacaca;
  -webkit-border-radius: 3px;
}

.ui-dialog::-webkit-scrollbar-thumb:vertical {
  height: 5px;
  background-color: #666;
  -webkit-border-radius: 3px;
}

.ui-dialog::-webkit-scrollbar-thumb:horizontal {
  width: 5px;
  background-color: #666;
  -webkit-border-radius: 3px;
}

#allResult{ margin-top: 10px; }
.table thead th { background-color: #3198d4; color: #fff; }
.table th, .table td{ padding: 3px 12px; }

#title-irmaos-associados{
    width: 98%;
    display: block;
    padding: 1%;
    background: #eee;
    color: #484848;
    border-radius: 5px;
}
</style>
<div class="navbar">
    <div class="navbar-inner">
        <h6 class="title-accordion">
            <a class="click_acc" data-toggle="collapse" data-parent="#accordion" href="#collapse08">
                Associar Irmão
            </a>
        </h6>
    </div>
</div>
<div id="collapse08" class="content-height panel-collapse collapse in">
    <div class="contentblock">
        <?php if(!$this->visualizar): ?>
            <label class="rotulo">Pesquisar RA do irmão</label>
            <div class="search_boxes">
                <div class="rotulo">RA:</div>
                <input type="text" name="inRA" value="<?php echo (isset($this->post_var['inRA'])) ? $this->post_var['inRA'] : '' ?>" placeholder="99999999" style="width:80px" class="span2">&nbsp;-&nbsp;
                <input name="inDigitoRA" value="<?php echo (isset($this->post_var['inDigitoRA'])) ? $this->post_var['inDigitoRA'] : '' ?>" type="text" class="span1" size="1" style="width:40px" maxlength="1">&nbsp;/&nbsp;
                
                <select name="inUF" class="span1" style="width: 50px;">
                    <option value="">...</option> 
                    <option value="AC">AC</option> 
                    <option value="AL">AL</option> 
                    <option value="AM">AM</option> 
                    <option value="AP">AP</option> 
                    <option value="BA">BA</option> 
                    <option value="CE">CE</option> 
                    <option value="DF">DF</option> 
                    <option value="ES">ES</option> 
                    <option value="GO">GO</option> 
                    <option value="MA">MA</option> 
                    <option value="MT">MT</option> 
                    <option value="MS">MS</option> 
                    <option value="MG">MG</option> 
                    <option value="PA">PA</option> 
                    <option value="PB">PB</option> 
                    <option value="PR">PR</option> 
                    <option value="PE">PE</option> 
                    <option value="PI">PI</option> 
                    <option value="RJ">RJ</option> 
                    <option value="RN">RN</option> 
                    <option value="RO">RO</option> 
                    <option value="RS">RS</option> 
                    <option value="RR">RR</option> 
                    <option value="SC">SC</option> 
                    <option value="SE">SE</option>
                    <option value="SP" selected>SP</option> 
                    <option value="TO">TO</option> 
                </select>
            
                <div id="outResult">
                    <div id="loader"><img src="<?php echo $this->baseUrl('/public/admin/img/elements/loaders/6.gif') ?>" alt="Aguarde..."> Aguarde...</div>
                    <table id="infoResult" class="table table-content">
                        <thead>
                            <tr>
                                <th>RA</th>
                                <th>Aluno</th>
                                <th>Nascimento</th>
                                <th>Mãe</th>
                                <th>Pai</th>
                                <th>RG</th>
                                <th>Visualizar</th>
                            </tr>
                        <thead>
                        <tbody>
                            <tr>
                                <td id="outRA"></td>
                                <td id="outNome"></td>
                                <td id="outNascimento"></td>
                                <td id="outMae"></td>
                                <td id="outPai"></td>
                                <td id="outRG"></td>
                                <td><a id="visualizardados" class="btn" data-original-title="Ver dados"><i class="icon-eye-open"></i></a></td>
                            </tr>
                        </tbody>
                    </table>
                    <div id="extraDados" title="Dados do aluno" style="display: none"><!-- aqui vem os dados do aluno--></div>
                    <div id="temgemeo" style="display:none; margin-top:20px;">
                        <label class="control-label" style="width: 8%; margin-top: -7px;">É gêmeo? </label>                  
                        <!--<label class="switch">-->
                            <input type="checkbox" name="egemeo" id="egemeo">
                            <!--<span class="slider round"></span>
                        </label>-->
                    </div>
                    <div class="boxretorno_error"><label id="msg_error"></label></div>
                </div>
            </div>
            <button class="btn btn-small btn-primary" id="btn-pesquisar"><span class="icon-search">&nbsp;</span>Pesquisar</button>
            <button class="btn btn-small btn-success" id="btn-associar" style="display:none"><span class="icon-link">&nbsp;</span>Associar irmão</button>
        <?php endif; ?>
        
        <div id="box-irmao-associados">
            <h5 id="title-irmaos-associados">Irmãos associados</h5>            
            <div id="loading"><img src="<?php echo $this->baseUrl('/public/admin/img/elements/loaders/6.gif') ?>" alt="Aguarde..."> Aguarde...</div>
            <table id="allResult" class="table table-content">
                <thead>
                    <tr>
                        <th>RA</th>
                        <th>Aluno</th>
                        <th>Nascimento</th>
                        <th>Mãe</th>
                        <th>Pai</th>
                        <?php if (!$this->visualizar):?>
                            <th width="90px">Excluir</th>
                        <?php endif;?>
                    </tr>
                <thead>
                <tbody id="body-results">
                    <?php if($this->irmaosassociados): ?>
                        <?php foreach(Escolasalunosassociairmao::getIrmaosAssociadosByIdAlunoHelper($this->post_var['id']) as $key => $row ): ?>
                            <tr id="line<?php echo $row['id']?>">
                                <td><?php echo $row['inIrmaoRA']?> - <?php echo $row['inIrmaoDigitoRA']?> / <?php echo $row['inUFRA']?></td>
                                <td><?php echo $row['inNome']?></td>
                                <td><?php echo date('d/m/Y', strtotime($row['inNascimento']))?></td>
                                <td><?php echo $row['inMae']?></td>
                                <td><?php echo $row['inPai']?></td>
                                <?php if (!$this->visualizar):?>
                                    <td><a class="btn btn-small btn-danger" id="btn-desassociar" onclick="excluirIrmao('<?php echo $row['id']?>', '<?php echo $row['inNome']?>');" style="cursor: pointer"><span class="icon-trash">&nbsp;</span>Excluir</a></td>
                                <?php endif; ?>
                            </tr>
                        <?php endforeach; ?>
                    <?php else:?>
                            <div id="empty-register">Nenhum irmão vinculado</div>
                    <?php endif;?>          
                </tbody>
            </table>
        </div>        
    </div>
</div>

<script type="text/javascript" src="<?php echo $this->baseUrl('/public/scripts/admin/Escolasalunosassociarirmao_index.js') ?>"></script>
<script>
    var idaluno = '<?php echo $this->post_var['id']; ?>';
</script>