<?php $endereco_prefix = (isset($this->endereco_prefix)) ? $this->endereco_prefix : ''; ?>
<div class="navbar">
    <div class="navbar-inner">
        <h6 class="title-accordion">
            <a class="click_acc" data-toggle="collapse" data-parent="#accordion" href="#collapse5">
                Endereços
            </a>
        </h6>
    </div>
</div>

<div id="collapse5" class="content-height panel-collapse collapse in">
    <div class="control-group">
        <div class="col-sm-6">
            <input type="hidden" value="<?php echo (isset($this->endereco['id'])) ? $this->endereco["id"] : ''; ?>" name="idendereco" id="idendereco" />
            <?php //echo $this->render('/helpers/forms/endereco.phtml') ?>

            <div class="control-group">
                <label class="control-label">UF</label>
                <div class="controls">
                    <input type="hidden" name="inUF" value="SP">
                    <!-- CÓDIGO 27 - São Paulo -->
                    <!-- Mudar futuramente - se preciso -->
                    <label>SP</label>
                </div>
            </div>

            <div class="control-group">
                <label class="control-label">Tipo de logradouro</label>
                <div class="controls" id="logra">
                    <label><input type="radio" name="tipoLogradouro" value="0" id="urbano" checked="true"> <span>URBANO</span></label>
                    <label><input type="radio" name="tipoLogradouro" value="1" id="rural"> <span>RURAL</span></label>
                </div>
                <div class="controls">
                    <label id="visualiza_logra"></label>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">CEP</label>
                <div class="controls"><input name="cep" value="" type="text" class="span3" placeholder="CEP" required></div>
            </div>
            <div class="control-group">
                <label class="control-label">Logradouro</label>
                <div class="controls"><input name="logradouro" value="<?php echo (isset($this->endereco[$endereco_prefix . 'logradouro'])) ? $this->endereco[$endereco_prefix . 'logradouro'] : "" ?>" type="text" class="span3" placeholder="Rua / Avenida" required></div>
            </div>
            <div class="control-group">
                <label class="control-label">Número</label>
                <div class="controls"><input name="numero" value="<?php echo (isset($this->endereco[$endereco_prefix . 'numero'])) ? $this->endereco[$endereco_prefix . 'numero'] : "" ?>" type="text" class="span3" placeholder="Número" required></div>
            </div>
            <div class="control-group">
                <label class="control-label">Complemento</label>
                <div class="controls"><input name="complemento" value="<?php echo (isset($this->endereco[$endereco_prefix . 'complemento'])) ? $this->endereco[$endereco_prefix . 'complemento'] : "" ?>" type="text" class="span3" placeholder="Complemento"></div>
            </div>
            <div class="control-group">
                <label class="control-label">Bairro</label>
                <div class="controls"><input name="bairro" value="<?php echo (isset($this->endereco[$endereco_prefix . 'bairro'])) ? $this->endereco[$endereco_prefix . 'bairro'] : "" ?>" type="text" class="span3" placeholder="Bairro" required></div>
            </div>
            <div class="control-group">
                <label class="control-label">Cidade</label>
                <div class="controls"><input name="cidade" value="<?php echo (isset($this->endereco[$endereco_prefix . 'cidade'])) ? $this->endereco[$endereco_prefix . 'cidade'] : "" ?>" type="text" class="span3" placeholder="Cidade" required></div>
            </div>
            <!--<div class="control-group">
                <label class="control-label">Estado</label>
                <div class="controls">
            <?php /* if($this->visualizar): ?>
              <input type="text" value="<?php echo Estados::getNomeEstadoById($this->endereco['e_idenderecoidestado']); ?>" name="idestado2" readonly>
              <?php else: ?>
              <select id="<?php echo $endereco_prefix ?>idestado" name="idestado" class="select"  onchange="setCidades(this, 0)">
              <option value="">Selecione...</option>
              <?php if (isset($this->estados)) : ?>
              <?php foreach ($this->estados as $i=>$row) : ?>
              <option value="<?php echo $row['id'] ?>"><?php echo $row['nome'] ?></option>
              <?php endforeach; ?>
              <?php else : ?>
              <?php foreach (Estados::getEstadosHelper() as $i=>$row) : ?>
              <option value="<?php echo $row['id'] ?>"><?php echo $row['nome'] ?></option>
              <?php endforeach; ?>
              <?php endif; ?>
              </select>
              <?php endif; */ ?>
                </div>
            </div>
            -->
            <div class="control-label"><font style="padding:10px 0px; font-size: 1.1em; color: #449dd0; margin-left: 15px;">Endereço Indicativo</font>
            </div><br/><br/>

            <div class="control-group">
                <label class="control-label">Logradouro</label>
                <div class="controls"><input name="indLogradouro" value="" type="text" class="span3" placeholder="Rua / Avenida"></div>
            </div>
            <div class="control-group">
                <label class="control-label">Número</label>
                <div class="controls">
                    <input name="indNumero" value="<?php echo (isset($this->endereco[$endereco_prefix . 'numero'])) ? $this->endereco[$endereco_prefix . 'numero'] : "" ?>" type="text" class="span3" placeholder="Máximo de 6 caracteres" maxlength="6">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">Bairro</label>
                <div class="controls"><input name="indBairro" value="<?php echo (isset($this->endereco[$endereco_prefix . 'bairro'])) ? $this->endereco[$endereco_prefix . 'bairro'] : "" ?>" type="text" class="span3" placeholder="Bairro"></div>
            </div>
            <div class="control-group">
                <label class="control-label">Cidade</label>
                <div class="controls"><input name="indCidade" value="<?php echo (isset($this->endereco[$endereco_prefix . 'cidade'])) ? $this->endereco[$endereco_prefix . 'cidade'] : "" ?>" type="text" class="span3" placeholder="Cidade"></div>
            </div>
            <div class="control-group">
                <label class="control-label">UF</label>
                <div class="controls">
                    <input type="hidden" name="indUF" value="SP">
                    <label>SP</label>
                </div>
            </div>
            <div class="control-label"><font style="padding:10px 0px; font-size: 1.1em; color: #449dd0; margin-left: 15px;">Contatos</font>
            </div><br/><br/>

            <div class="control-group">
                <label class="col-sm-3 control-label">Telefone Residencial </label>
                <div class="col-sm-6">
                    <input type="text" name="inDDD" maxlength="2" placeholder="00" style="width: 35px; font-size: 1em; color: #333; text-align: center;">  <input name="foneresidencial" value="<?php echo (isset($this->endereco[$endereco_prefix . 'foneresidencial'])) ? $this->endereco[$endereco_prefix . 'foneresidencial'] : "" ?>" type="text" class="form-control" placeholder="000000000" maxlength="10">
                </div>
            </div>

            <div class="control-group">
                <label class="col-sm-3 control-label">Telefone de recados </label>
                <div class="col-sm-6">
                    <input name="fonerecado" value="" type="text" class="form-control" placeholder="000000000" maxlength="10">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">Receber SMS</label>
                <div class="controls">
                    <label class="switch">
                        <input type="checkbox" name="sms" id="sms" value="on">
                        <span class="slider round"></span>
                    </label>
                    <label id="visualiza_sms"></label>
                </div>
            </div>
            <div class="control-group">
                <label class="col-sm-3 control-label">Nome do contato (recados)</label>
                <div class="col-sm-6">
                    <input name="nomefonerecado" value="<?php echo (isset($this->endereco)) ? $this->endereco[$endereco_prefix . 'inNomeFoneRecado'] : '' ?>"
                    <?php
                    if ($this->visualizar) {
                        echo 'disabled="true"';
                    } else {
                        echo 'enabled="true"';
                    }
                    ?> type="text" class="form-control" placeholder="(10 caracteres)" maxlength="10">
                </div>
            </div>
            <div class="control-group">
                <label class="col-sm-3 control-label">Telefone Celular</label>
                <div class="col-sm-6">
                    <input type="text" id="inDDDCel" name="inDDDCel" maxlength="2" placeholder="00" style="width: 35px; font-size: 1em; color: #333; text-align: center;">  <input id="foneCel" name="foneCel" value="" type="text" class="form-control" placeholder="000000000" maxlength="10">
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">

<?php if (isset($this->endereco)) : ?>
    <?php echo $endereco_prefix ?>idestado = '<?php echo (isset($this->endereco[$endereco_prefix . 'idestado'])) ? $this->endereco[$endereco_prefix . 'idestado'] : '' ?>';
<?php endif; ?>

        $(document).ready(function() {

            // $("input[name=cep]").unmask();
            $("input[name=cep]").mask("99999-999", {placeholder: " "});
            $('input[name=cep]').blur(function() {
                val = $.trim(this.value);
                if ("" == val)
                    return;
                $.blockUI({message: '<h1> Aguarde...</h1>'});
                $.post(baseUrl + '/admin/index/buscacep', {cep: val, modo: 'gravar'}, function(cep) {
                    $.unblockUI();
                    if (cep == 'false') {
                        jAlert('CEP não encontrado!', 'Erro');
                        return;
                    }

                    cep = jQuery.parseJSON(cep);

                    $("input[name=<?php echo $endereco_prefix ?>logradouro]").val(cep.tipo_logradouro + ' ' + cep.logradouro.replace(cep.tipo_logradouro, ''));
                    $("input[name=<?php echo $endereco_prefix ?>cidade]").val(cep.cidade);
                    $("select[name=<?php echo $endereco_prefix ?>idestado]").val(cep.idestado);
                    $("input[name=<?php echo $endereco_prefix ?>bairro]").val(cep.bairro);

                    $("[name=<?php echo $endereco_prefix ?>idestado]").select2("destroy");
                    $("[name=<?php echo $endereco_prefix ?>idestado]").select2();
                });
            });

            $("select").each(function() {
                val = $(this).find('option:selected').html();
                $(this).closest('div').find('span').html(val);
            });

            $("input[name=foneresidencial]").unmask();
            $("input[name=fonerecado]").unmask();
            $("input[name=foneCel]").unmask();
            $("input[name=foneresidencial]").mask("99999-9999", {placeholder: " "});
            $("input[name=fonerecado]").mask("99999-9999", {placeholder: " "});
            $("input[name=foneCel]").mask("99999-9999", {placeholder: " "});

            $("input[name=]")
            $("input[name=sms]").change(function() {
                mark = $(this).is(':checked');

                if (mark) {
                    $('#inDDDCel').prop('required', true);
                    $('#foneCel').prop('required', true);
                } else {
                    $('#inDDDCel').prop('required', false);
                    $('#foneCel').prop('required', false);
                }

            });
        });

</script>
<script>
    var form_values = {};

<?php if ($this->endereco): ?>

        form_values.cep = '<?php echo (isset($this->endereco['inCep'])) ? $this->endereco['inCep'] : ''; ?>';

        form_values.cidade = '<?php echo (isset($this->endereco['inCidade'])) ? $this->endereco['inCidade'] : ''; ?>';
        form_values.uf = '<?php echo (isset($this->endereco['inUF'])) ? $this->endereco['inUF'] : ''; ?>';
        form_values.logradouro = '<?php echo (isset($this->endereco['inLogradouro'])) ? $this->endereco['inLogradouro'] : ''; ?>';
        form_values.numero = '<?php echo (isset($this->endereco['inNumero'])) ? $this->endereco['inNumero'] : ''; ?>';
        form_values.complemento = '<?php echo (isset($this->endereco['inComplemento'])) ? $this->endereco['inComplemento'] : ''; ?>';
        form_values.bairro = '<?php echo (isset($this->endereco['inBairro'])) ? $this->endereco['inBairro'] : ''; ?>';
        form_values.tipoLogradouro = '<?php echo (isset($this->endereco['inTipoLogradouro'])) ? $this->endereco['inTipoLogradouro'] : ''; ?>';
        form_values.inDDD = '<?php echo (isset($this->endereco['inDDD'])) ? $this->endereco['inDDD'] : ''; ?>';
        form_values.foneresidencial = '<?php echo (isset($this->endereco['inFoneResidencial'])) ? $this->endereco['inFoneResidencial'] : ''; ?>';
        form_values.fonerecado = '<?php echo (isset($this->endereco['inFoneRecados'])) ? $this->endereco['inFoneRecados'] : ''; ?>';
        form_values.nomefonerecado = '<?php echo (isset($this->endereco['inNomeFoneRecado'])) ? $this->endereco['inNomeFoneRecado'] : ''; ?>';
        form_values.sms = '<?php echo (isset($this->endereco['inSMS'])) ? $this->endereco['inSMS'] : ''; ?>';
        form_values.inDDDCel = '<?php echo (isset($this->endereco['inDDDCel'])) ? $this->endereco['inDDDCel'] : ''; ?>';
        form_values.foneCel = '<?php echo (isset($this->endereco['inFoneCel'])) ? $this->endereco['inFoneCel'] : ''; ?>';
        form_values.indBairro = '<?php echo (isset($this->endereco['endIndicativoInBairro'])) ? $this->endereco['endIndicativoInBairro'] : ''; ?>';
        form_values.indCidade = '<?php echo (isset($this->endereco['endIndicativoinCidade'])) ? $this->endereco['endIndicativoinCidade'] : ''; ?>';
        form_values.indLogradouro = '<?php echo (isset($this->endereco['endIndicativoinLogradouro'])) ? $this->endereco['endIndicativoinLogradouro'] : ''; ?>';
        form_values.indNumero = '<?php echo (isset($this->endereco['endIndicativoinNumero'])) ? $this->endereco['endIndicativoinNumero'] : ''; ?>';
        form_values.indUF = '<?php /* echo (isset($this->endereco['endIndicativoinUF'])) ? $this->endereco['endIndicativoinUF'] : 'SP'; */ ?>';
        form_values.idaluno = '<?php echo (isset($this->endereco['idaluno'])) ? $this->endereco['idaluno'] : ''; ?>';
        form_values.datacriacao = '<?php echo (isset($this->endereco['datacriacao'])) ? $this->endereco['datacriacao'] : ''; ?>';

        if (form_values.sms == "S")
            $('input[name=sms]').attr('checked', true);
        if (form_values.tipoLogradouro == "1") {
            $('#rural').prop('checked', true);
        } else
            $('#urbano').prop('checked', true);

        if (form_values.cep)
            $('input[name=cep]').val(form_values.cep);
        if (form_values.cidade)
            $('input[name=cidade]').val(form_values.cidade);
        if (form_values.uf)
            $('input[name=inUF]').val(form_values.uf);
        if (form_values.logradouro)
            $('input[name=logradouro]').val(form_values.logradouro);
        if (form_values.numero)
            $('input[name=numero]').val(form_values.numero);
        if (form_values.complemento)
            $('input[name=complemento]').val(form_values.complemento);
        if (form_values.bairro)
            $('input[name=bairro]').val(form_values.bairro);
        //$('input[name=tipoLogradouro]').val(form_values.tipoLogradouro);
        if (form_values.inDDD)
            $('input[name=inDDD]').val(form_values.inDDD);
        if (form_values.foneresidencial)
            $('input[name=foneresidencial]').val(form_values.foneresidencial);
        if (form_values.fonerecado)
            $('input[name=fonerecado]').val(form_values.fonerecado);
        if (form_values.nomefonerecado)
            $('input[name=nomefonerecado]').val(form_values.nomefonerecado);
        if (form_values.inDDDCel)
            $('input[name=inDDDCel]').val(form_values.inDDDCel);
        if (form_values.foneCel)
            $('input[name=foneCel]').val(form_values.foneCel);
        if (form_values.indBairro)
            $('input[name=indBairro]').val(form_values.indBairro);
        if (form_values.indCidade)
            $('input[name=indCidade]').val(form_values.indCidade);
        if (form_values.indLogradouro)
            $('input[name=indLogradouro]').val(form_values.indLogradouro);
        if (form_values.indNumero)
            $('input[name=indNumero]').val(form_values.indNumero);
        if (form_values.indUF)
            $('input[name=indUF]').val(form_values.indUF);

        var visualizar = '<?php echo (isset($this->visualizar)) ? $this->visualizar : '' ?>';

        if (visualizar) {
            $('.switch').hide();
            if (form_values.sms === 'S') {
                $('#visualiza_sms').html('SIM');
            } else {
                $('#visualiza_sms').html('NÃO');
            }
            //campo radio - tipo de funcionário
            $("input[name=tipoLogradouro]::checked").each(function() {
                val = $(this).next().html();

                val = $.trim(val);
                val = (val == '') ? '--' : val;

                $('#logra').html('');
                $('#visualiza_logra').append(val.toUpperCase());
                //parent.addClass('visualizar');
            });
        }
<?php endif; ?>
</script>

<style type="text/css">
    .switch {
        position: relative;
        display: inline-block;
        width: 30px;
        height: 17px;
    }

    /* Hide default HTML checkbox */
    .switch input {display:none;}

    /* The slider */
    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ccc;
        -webkit-transition: .4s;
        transition: .4s;
    }

    .slider:before {
        position: absolute;
        content: "";
        height: 13px;
        width: 13px;
        left: 2px;
        bottom: 2px;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
    }

    input:checked + .slider {
        background-color: #2196F3;
    }

    input:focus + .slider {
        box-shadow: 0 0 1px #2196F3;
    }

    input:checked + .slider:before {
        -webkit-transform: translateX(13px);
        -ms-transform: translateX(13px);
        transform: translateX(13px);
    }

    /* Rounded sliders */
    .slider.round {
        border-radius: 17px;
    }

    .slider.round:before {
        border-radius: 50%;
    }
</style>