<?php
include_once BASE_PATH . '/public/scripts/ckeditor/ckeditor.php';
require_once BASE_PATH . '/public/scripts/ckfinder/ckfinder.php';

$ckeditor = new CKEditor();
$ckeditor->basePath = $this->baseUrl('/public/scripts/ckeditor/');

$ckfinder = $this->baseUrl('/public/scripts/ckfinder/');

CKFinder::SetupCKEditor($ckeditor, $ckfinder);
?>

<div class="navbar">
    <div class="navbar-inner">
        <h6 class="title-accordion">
            <a class="click_acc" data-toggle="collapse" data-parent="#accordion" href="#collapse77">
                Portador de Necessidades Especiais
            </a>
        </h6>
    </div>
</div>

<div id="collapse77" class="content-height panel-collapse collapse in">
        <div class="control-group">
            <table border="0" class="table">
                <tbody>
                    <tr>
                        <td><label><input type="checkbox" value="<?php echo($this->post_var['defnecespecial']); ?>" <?php echo (isset($this->post_var['defnecespecial']) && ($this->post_var['defnecespecial'] == 1)) ? 'checked' : '' ?> name="defnecespecial" class='checkbox' onchange="setCampoCheck(this)">&nbsp;<span>Necessidade Especial</span></label></td>
                        <td><label><input type="checkbox" value="<?php echo($this->post_var['defmultipla']); ?>" <?php echo (isset($this->post_var['defmultipla']) && ($this->post_var['defmultipla'] == 1)) ? 'checked' : '' ?> name="defmultipla" class='checkbox' onchange="setCampoCheck(this)">&nbsp;Multipla</label></td>
                        <td><label><input type="checkbox" value="<?php echo($this->post_var['defcegueira']); ?>" <?php echo (isset($this->post_var['defcegueira']) && ($this->post_var['defcegueira'] == 1)) ? 'checked' : '' ?> name="defcegueira" class='checkbox' onchange="setCampoCheck(this)">&nbsp;Cegueira</label></td>
                    </tr>                                                                                                                                                                      
                    <tr>                                                                                                                                                                       
                        <td><label><input type="checkbox" value="<?php echo($this->post_var['defbaixavisao']); ?>" <?php echo (isset($this->post_var['defbaixavisao']) && ($this->post_var['defbaixavisao'] == 1)) ? 'checked' : '' ?> name="defbaixavisao" class='checkbox' onchange="setCampoCheck(this)">&nbsp;Baixa Visão</label></td>
                        <td><label><input type="checkbox" value="<?php echo($this->post_var['defsurdezseveraprofunda']); ?>" <?php echo (isset($this->post_var['defsurdezseveraprofunda']) && ($this->post_var['defsurdezseveraprofunda'] == 1)) ? 'checked' : '' ?> name="defsurdezseveraprofunda" class='checkbox' onchange="setCampoCheck(this)">&nbsp;Surdez Severa Profunda</label></td>
                        <td><label><input type="checkbox" value="<?php echo($this->post_var['defsurdezlevemoderada']); ?>" <?php echo (isset($this->post_var['defsurdezlevemoderada']) && ($this->post_var['defsurdezlevemoderada'] == 1)) ? 'checked' : '' ?> name="defsurdezlevemoderada" class='checkbox' onchange="setCampoCheck(this)">&nbsp;Surdez Leve Moderada</label></td>
                    </tr>                                                                                                                                                                      
                    <tr>                                                                                                                                                                       
                        <td><label><input type="checkbox" value="<?php echo($this->post_var['defsurdocegueira']); ?>" <?php echo (isset($this->post_var['defsurdocegueira']) && ($this->post_var['defsurdocegueira'] == 1)) ? 'checked' : '' ?> name="defsurdocegueira" class='checkbox' onchange="setCampoCheck(this)">&nbsp;Surdo Cegueira</label></td>
                        <td><label><input type="checkbox" value="<?php echo($this->post_var['deffisicaparalisiacerebral']); ?>" <?php echo (isset($this->post_var['deffisicaparalisiacerebral']) && ($this->post_var['deffisicaparalisiacerebral'] == 1)) ? 'checked' : '' ?> name="deffisicaparalisiacerebral" class='checkbox' onchange="setCampoCheck(this)">&nbsp;Paralisia Cerebral</label></td>
                        <td><label><input type="checkbox" value="<?php echo($this->post_var['deffisicacadeirante']); ?>" <?php echo (isset($this->post_var['deffisicacadeirante']) && ($this->post_var['deffisicacadeirante'] == 1)) ? 'checked' : '' ?> name="deffisicacadeirante" class='checkbox' onchange="setCampoCheck(this)">&nbsp;Cadeirante</label></td>
                    </tr>                                                                                                                                                                      
                    <tr>                                                                                                                                                                       
                        <td><label><input type="checkbox" value="<?php echo($this->post_var['defprovabraile']); ?>" <?php echo (isset($this->post_var['defprovabraile']) && ($this->post_var['defprovabraile'] == 1)) ? 'checked' : '' ?> name="defprovabraile" class='checkbox' onchange="setCampoCheck(this)">&nbsp;Prova em Braile</label></td>
                        <td><label><input type="checkbox" value="<?php echo($this->post_var['defsindromedown']); ?>" <?php echo (isset($this->post_var['defsindromedown']) && ($this->post_var['defsindromedown'] == 1)) ? 'checked' : '' ?> name="defsindromedown" class='checkbox' onchange="setCampoCheck(this)">&nbsp;Sindrome de Down</label></td>
                        <td><label><input type="checkbox" value="<?php echo($this->post_var['defintelectual']); ?>" <?php echo (isset($this->post_var['defintelectual']) && ($this->post_var['defintelectual'] == 1)) ? 'checked' : '' ?> name="defintelectual" class='checkbox' onchange="setCampoCheck(this)">&nbsp;Intelectual</label></td>
                    </tr>                                                                                                                                                                      
                    <tr>                                                                                                                                                                       
                        <td><label><input type="checkbox" value="<?php echo($this->post_var['defautistaclassico']); ?>" <?php echo (isset($this->post_var['defautistaclassico']) && ($this->post_var['defautistaclassico'] == 1)) ? 'checked' : '' ?> name="defautistaclassico" class='checkbox' onchange="setCampoCheck(this)">&nbsp;Autista Clássico</label></td>
                        <td><label><input type="checkbox" value="<?php echo($this->post_var['defsindromeasperger']); ?>" <?php echo (isset($this->post_var['defsindromeasperger']) && ($this->post_var['defsindromeasperger'] == 1)) ? 'checked' : '' ?> name="defsindromeasperger" class='checkbox' onchange="setCampoCheck(this)">&nbsp;Síndrome de Asperger</label></td>
                        <td><label><input type="checkbox" value="<?php echo($this->post_var['defsindromerett']); ?>" <?php echo (isset($this->post_var['defsindromerett']) && ($this->post_var['defsindromerett'] == 1)) ? 'checked' : '' ?> name="defsindromerett" class='checkbox' onchange="setCampoCheck(this)">&nbsp;Síndrome de Rett</label></td>
                    </tr>                                                                                                                                                                      
                    <tr>                                                                                                                                                                       
                        <td><label><input type="checkbox" value="<?php echo($this->post_var['deftransdesintegrativoinf']); ?>" <?php echo (isset($this->post_var['deftransdesintegrativoinf']) && ($this->post_var['deftransdesintegrativoinf'] == 1)) ? 'checked' : '' ?> name="deftransdesintegrativoinf" class='checkbox' onchange="setCampoCheck(this)">&nbsp;Transtorno Desintegrativo da Infância</label></td>
                        <td><label><input type="checkbox" value="<?php echo($this->post_var['defaltashabsuperdotacao']); ?>" <?php echo (isset($this->post_var['defaltashabsuperdotacao']) && ($this->post_var['defaltashabsuperdotacao'] == 1)) ? 'checked' : '' ?> name="defaltashabsuperdotacao" class='checkbox' onchange="setCampoCheck(this)">&nbsp;Altas Habilidades/Superdotação</label></td>
                        <td><label><input type="checkbox" value="<?php echo($this->post_var['defpermanente']); ?>" <?php echo (isset($this->post_var['defpermanente']) && ($this->post_var['defpermanente'] == 1)) ? 'checked' : '' ?> name="defpermanente" class='checkbox' onchange="setCampoCheck(this)">&nbsp;Permanente</label></td>
                    </tr>                                                                                                                                                                      
                    <tr>                                                                                                                                                                       
                        <td><label><input type="checkbox" value="<?php echo($this->post_var['deftemporaria']); ?>" <?php echo (isset($this->post_var['deftemporaria']) && ($this->post_var['deftemporaria'] == 1)) ? 'checked' : '' ?> name="deftemporaria" class='checkbox' onchange="setCampoCheck(this)">&nbsp;Temporaria</label></td>
                        <td><label><input type="checkbox" value="<?php echo($this->post_var['defmobilidadereduzida']); ?>" <?php echo (isset($this->post_var['defmobilidadereduzida']) && ($this->post_var['defmobilidadereduzida'] == 1)) ? 'checked' : '' ?> name="defmobilidadereduzida" class='checkbox' onchange="setCampoCheck(this)">&nbsp;Mobilidade Reduzida</label></td>
                        <td><label><input type="checkbox" value="<?php echo($this->post_var['defauxilioleitor']); ?>" <?php echo (isset($this->post_var['defauxilioleitor']) && ($this->post_var['defauxilioleitor'] == 1)) ? 'checked' : '' ?> name="defauxilioleitor" class='checkbox' onchange="setCampoCheck(this)">&nbsp;Auxílio de Leitor</label></td>
                    </tr>                                                                                                                                                                      
                    <tr>                                                                                                                                                                       
                        <td><label><input type="checkbox" value="<?php echo($this->post_var['defauxiliotranscricao']); ?>" <?php echo (isset($this->post_var['defauxiliotranscricao']) && ($this->post_var['defauxiliotranscricao'] == 1)) ? 'checked' : '' ?> name=" defauxiliotranscricao" class='checkbox' onchange="setCampoCheck(this)">&nbsp;Auxílio de Transcrição</label></td>
                        <td><label><input type="checkbox" value="<?php echo($this->post_var['defguiainterprete']); ?>" <?php echo (isset($this->post_var['defguiainterprete']) && ($this->post_var['defguiainterprete'] == 1)) ? 'checked' : '' ?> name=" defguiainterprete" class='checkbox' onchange="setCampoCheck(this)">&nbsp;Guia Interprete</label></td>
                        <td><label><input type="checkbox" value="<?php echo($this->post_var['definterpretelibras']); ?>" <?php echo (isset($this->post_var['definterpretelibras']) && ($this->post_var['definterpretelibras'] == 1)) ? 'checked' : '' ?> name=" definterpretelibras" class='checkbox' onchange="setCampoCheck(this)">&nbsp;Interprete de Libras</label></td>
                    </tr>                                                                                                                                                                      
                    <tr>                                                                                                                                                                       
                        <td><label><input type="checkbox" value="<?php echo($this->post_var['defleituralabial']); ?>" <?php echo (isset($this->post_var['defleituralabial']) && ($this->post_var['defleituralabial'] == 1)) ? 'checked' : '' ?> name="defleituralabial" class='checkbox' onchange="setCampoCheck(this)">&nbsp;Leitura Labial</label></td>
                        <td><label><input type="checkbox" value="<?php echo($this->post_var['deffisicaoutros']); ?>" <?php echo (isset($this->post_var['deffisicaoutros']) && ($this->post_var['deffisicaoutros'] == 1)) ? 'checked' : '' ?> name="deffisicaoutros" class='checkbox' onchange="setCampoCheck(this)">&nbsp;Outros</label></td>
                        <td><label><input type="checkbox" value="<?php echo($this->post_var['defnenhum']); ?>" <?php echo (isset($this->post_var['defnenhum']) && ($this->post_var['defnenhum'] == 1)) ? 'checked' : '' ?> name="defnenhum" class='checkbox' onchange="setCampoCheck(this)">&nbsp;Nenhum</label></td>
                    </tr>                                                                                                                                                                      
                    <tr>                                 
                        <td><label><input type="checkbox" value="<?php echo($this->post_var['defprovaampliada']); ?>" <?php echo (isset($this->post_var['defprovaampliada']) && ($this->post_var['defprovaampliada'] == 1)) ? 'checked' : '' ?> name="defprovaampliada" class='checkbox' onchange="setCampoCheck(this)">&nbsp;Prova Ampliada</label></td>
                        <td colspan="2">                                                                                                                          
                            <label><input type="checkbox" value="<?php echo($this->post_var['deftam16']); ?>" <?php echo (isset($this->post_var['deftam16']) && ($this->post_var['deftam16'] == 1)) ? 'checked' : '' ?> name="deftam16" class='checkbox' onchange="setCampoCheck(this)">&nbsp;Tamanho 16</label>
                            <label><input type="checkbox" value="<?php echo($this->post_var['deftam20']); ?>" <?php echo (isset($this->post_var['deftam20']) && ($this->post_var['deftam20'] == 1)) ? 'checked' : '' ?> name="deftam20" class='checkbox' onchange="setCampoCheck(this)">&nbsp;Tamanho 20</label>
                            <label><input type="checkbox" value="<?php echo($this->post_var['deftam24']); ?>" <?php echo (isset($this->post_var['deftam24']) && ($this->post_var['deftam24'] == 1)) ? 'checked' : '' ?> name="deftam24" class='checkbox' onchange="setCampoCheck(this)">&nbsp;Tamanho 24</label>
                        </td>
                    </tr>                                                                                                      
                </tbody>
            </table>
        </div>
    
    <div class="control-group">
        <label class="control-label">Descrever? </label>
        <div class="controls">
            <select id="necessidadesespeciais" name="necessidadesespeciais" class="form-control" onchange="setCamposNecessidades(this, '')">
                <option value="Não">Não</option>
                <option value="Sim">Sim</option>
            </select>  
        </div>
    </div>

    <div class="box-necessidades">

        <div class="control-group">
            <label class="control-label">Descrição da Necessidade Especial </label>
            <div class="controls">
                <?php if ((isset($this->visualizar)) && ($this->visualizar)) : ?>
                    <div style="padding-top:10px"><?php echo $this->post_var['descricoesnecessidadesespeciais']; ?></div>
                <?php else : ?>
                    <?php $value1 = (isset($this->post_var['descricoesnecessidadesespeciais'])) ? $this->post_var['descricoesnecessidadesespeciais'] : ''; ?>
                    <?php $ckeditor->editor('descricoesnecessidadesespeciais', $value1); ?>
                <?php endif; ?> 
            </div>
        </div>
        <?php /*
          <div class="form-group">
          <label class="col-sm-3 control-label">Instituição de Apoio </label>
          <div class="col-sm-6">
          <select id="idinstituicaoapoio" name="idinstituicaoapoio" class="form-control">
          <option value="">Selecione</option>
          <?php foreach ($this->instituicoesapoio as $i => $row): ?>
          <option value="<?php echo $row['id'] ?>"><?php echo $row['instituicao'] ?></option>
          <?php endforeach; ?>
          </select>
          </div>
          </div>
         */ ?>
    </div>


</div>



<script type="text/javascript">
var visualizar = '<?php echo (isset($this->visualizar)) ? $this->visualizar : ''?>';

function setCampoCheck(obj){
    if ($(obj).is(":checked")){
        $(obj).val(1);
        alert('okay');
    }else{
        $(obj).val(0);
    }
}

/*$(window).load(function(){
    if(visualizar){

        $('.checked').each(function(){
            if($(this).is(':checked')){
                alert('marcado');
                //valor = ($(this).next());
                

                parent.css('font-weight', 'bold');
                
                $(this).remove();
            }else{
                $(this).parent().remove();
            }
        });
    }
});*/


</script>






























