<style type="text/css">
    .font16{ font-size:1em; font-family: 'Helvetica, sans-serif'; }
    .font14{ font-size:14px; font-family: 'Helvetica, sans-serif'; }
    .font18{ font-size:1.3em; font-family: 'Helvetica, sans-serif'; }
    .font20{ font-size:1.5em; font-family: 'Helvetica, sans-serif'; }
    .black{ color:#000; }
    .white{ color:#fff; }
    .gray{ color:#ccc; }
    .red{ color:#ff0000; }
    .textleft{ text-align: left; }
    .textright{ text-align: right; }
    .left{ float: left }
    .textcenter{text-align: center; }
    .padding2{ padding: 2px; }
    .margin10 {margin-top:50px; display: block;}
    .textjustify { text-align: justify; }
    .line{ border:1px solid #ccc;  background:#000; width: 250px;}
    .each-line{width: 25px; display: inline; border:1px solid #000;}
    .contorno{border-top: 0.5px solid black; border-bottom: 0.5px solid black;}
    .contornoleft{ border-left: 0.5px solid black;  }
    .contornoright{ border-right: 0.5px solid black;  }
</style>
<br><br> 

<?php   
    error_reporting(0);
    ini_set(“display_errors”, 0 ); 

    // echo '<pre>'; print_r( Escolas::getEscolaNomeByIdHelper($this->rows[0]['idescola']) ); die;
?>


<table class="left font16">
    <tr class="">
        <td colspan="2" ><b class="textcenter textjustify"><?php echo 'Pedido: ' . $this->rows['solicitacoes'][0]['id']; ?> </b></td>
        <td colspan="5" ><b class="textcenter textjustify"><?php echo 'Data do pedido: ' . Mn_Util::formPostVarData($this->rows[0]['datacriacao']); ?> </b></td>
        <td colspan="4" ><b class="textcenter "><?php echo 'Autorização Nº: ' . $this->rows['solicitacoes'][0]['autorizacaonumero']; ?> </b></td>
        <td colspan="9" class="black"><b class="textcenter textright"><?php echo 'Solicitante: ' . Funcionariosgeraisescolas::getFuncionariogeralescolaByIdHelper($this->rows[0]['idfuncionario'])['nome']; ?>   </b></td>
        <?php if($this->rows[0]['idescola'] > 0) : ?>
            <td colspan="9" class="right"><b ><?php echo 'Escola: ' . Escolas::getEscolaNomeByIdHelper($this->rows[0]['idescola'])  ; ?> </b></td>
        <?php endif; ?>
       
        <?php if($this->rows[0]['idescola'] == 0) : ?>
            <td colspan="9" class="left"><b ><?php echo 'Departamento: ' . UsuariosPerfis::getPerfilByIdHelper($this->rows['solicitacoes'][0]['idperfil'])['perfil'] ; ?> </b></td>
        <?php endif; ?>
    </tr>
</table>
 

<br> 
<table class="left font16">
    <tr>
        <th colspan="3" class="black textcenter contorno contornoleft"><b>CÓDIGO </b></th>
        <th colspan="2" class="black textcenter contorno contornoleft"><b>PRODUTO </b></th>
        <th colspan="7" class="black textcenter contorno contornoleft"><b>DESCRIÇÂO </b></th>
        <th colspan="2" class="black textcenter contorno contornoleft"><b>Uni. MEDIDA </b></th>
        <th colspan="3" class="black textcenter contorno contornoleft"><b>Qtd. SOLICITADA </b></th>
        <th colspan="7" class="black textcenter contorno contornoleft"><b>Obs. SOLICITADA</b></th> 
        <th colspan="3" class="black textcenter contorno contornoleft contornoright"><b>Qtd. LIBERADA </b></th>
        <th colspan="7" class="black textcenter contorno contornoright"><b>OBS. LIBERADA</b></th> 
       
    </tr> 
    <?php for ($i=0; $i < count($this->rows) -2; $i++) : ?>
        <tr>    	 
            <td colspan="3" class="black textcenter contorno contornoleft"><?php echo $this->rows[$i]['codigoproduto']; ?></td> 
            <td colspan="2" class="black textcenter contorno contornoleft"><?php echo $this->rows[$i]['produto']; ?></td> 
            <td colspan="7" class="black textcenter contorno contornoleft"><?php echo $this->cortaPalavra(100,$this->rows['descricoes'][$i]['descricoes']); ?></td> 
            <td colspan="2" class="black textcenter contorno contornoleft"><?php echo $this->rows[$i]['unidademedida']; ?></td> 
            <td colspan="3" class="black textcenter contorno contornoleft"><?php echo ($this->rows[$i]['qtd_selecionada'] > 0) ? $this->rows[$i]['qtd_selecionada'] : '' ; ?></td> 
            <td colspan="7" class="black textcenter contorno contornoleft"><?php echo $this->rows[$i]['observacaoentrada']; ?></td> 
            <td colspan="3" class="black textcenter contorno contornoleft contornoright"><?php echo ($this->rows[$i]['qtd_liberado'] > 0) ? $this->rows[$i]['qtd_liberado'] : '' ; ?></td>   
            <td colspan="7" class="black textcenter contorno contornoright"><?php echo $this->rows[$i]['motivoliberacao']; ?></td>   
        </tr>
    <?php endfor; ?>  
</table>  
    
    