<?php if (sizeof($this->rows)==0) : ?>
<table class="table table-primary mb30">
	<thead>
		<tr>
			<td></td>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td colspan="10" width="100%">
				Não foram dadas informações suficientes para comparação
			</td>       						
		</tr>
	</tbody>
</table>
<?php else : ?>
<?php

$base = $this->rows[0];
$tipo = $this->rows[1];

$tipos = explode('x', $tipo);

?>
<div class="navbar">
	<div class="navbar-inner">
		<h6>Comparação de <?= str_replace("ue","uê",ucfirst($base)) ?></h6>
	</div>
</div>

<div class="control-group">
<?php

array_shift($this->rows);
array_shift($this->rows);

?>
<?php

	foreach (($this->rows) as $k => $v) {

		// FREQUENCIA

		if($base == "frequencia" ) { ?>
		<table style="background-color: <?= ($k == 0 ? '#e6ffff' : '#f2e6ff' ) ?>;" class="table table-primary mb30 <?= ($tipos[$k] == "turma") ? 'tbturma' : '' ?>">
			<thead>
				<?php if($tipos[$k] == "turma") { ?>
				<tr><th colspan="2"> 
				<?php
					$arr = Escolas::GetEscolasHelper(array('id'=>$v[0]['idescola']));
					$_arr = Escolasvinculos::getEscolasvinculos(array('idserie'=>$v[0]['idserie'], 'idescola'=> $v[0]['idescola']));
					$__arr = Escolasvinculos::getEscolasvinculos(array('idserie'=>$v[0]['idserie'], 'idescola'=> $v[0]['idescola']));
					$str = $arr[0]['escola'] . " - " . $_arr[0]['serie'] . " " . $__arr[0]['turma']; 

					echo $str;
				?></th></tr>
				<tr><th width="50%"> Nome do Aluno </th><th width="50%"> Faltas do Aluno </th></tr>
				<?php } else { ?>
				<tr>
					<th width="50%">Nome do Aluno</th>
					<th width="50%">Faltas do Aluno</th>
				</tr>
				<?php } ?>
			</thead>
			<tbody>
				<?php foreach ($v as $key => $value) { //var_dump($value); ?>
					<tr class="alunostb">
						<td><?= $value['nomerazao'] . " " . $value['sobrenomefantasia'] ?></td>
						<td class="dado">
							<?php 
								$a_escolaalunosfaltas = Escolasalunosfaltas::getEscolasalunosfaltas(array('idaluno'=>$value['idaluno'],$value['idvinculo'],'total'=>true));
								echo $a_escolaalunosfaltas[0]; 
							?></td>
					</tr>
	<?php } ?>
		<?php if($tipos[$k] == "turma") { ?>
			<tr>
				<td><b>MÉDIA DE FALTAS DA TURMA</b></td>
				<td><b class="media"></b></td>
			</tr>
		<?php } ?>
			</tbody>
		</table> <br>

	<!-- DESEMPENHO -->

	<?php } else { ?>
		<table style="background-color: <?= ($k == 0 ? '#e6ffff' : '#f2e6ff' ) ?>;" class="table table-primary mb30 <?= ($tipos[$k] == "turma") ? 'tbturma' : '' ?>">
			<thead>
				<?php if($tipos[$k] == "turma") { ?>
				<tr><th colspan="2"> 
				<?php
					$a_nomeescola = Escolas::GetEscolasHelper(array('id'=>$v[0]['idescola']));
					$nomeescola = $a_nomeescola[0]['escola'];

					$a_escolavinculo = Escolasvinculos::getEscolasvinculos(array('idserie'=>$v[0]['idserie'], 'idescola'=> $v[0]['idescola']));
					$nomeserie = $a_escolavinculo[0]['serie'];
					$nometurma = $a_escolavinculo[0]['turma'];

					echo $nomeescola . " - " . $nomeserie . " " . $nometurma;  
				?></th></tr>
				<tr><th width="50%"> Nome do Aluno </th><th width="50%"> Média das Notas do Aluno </th></tr>
				<?php } else { ?>
				<tr>
					<th width="50%">Nome do Aluno</th>
					<th width="50%">Média das Notas do Aluno</th>
				</tr>
				<?php } ?>
			</thead>
			<tbody>
				<?php foreach ($v as $key => $value) { ?>
					<tr class="alunostb">
						<td><?= $value['nomerazao'] . " " . $value['sobrenomefantasia'] ?></td>
						<td class="dado"><?php

						$a_somanotas = Escolasalunosnotas::getEscolasalunosnotas(array('idescolavinculo'=>$value['idvinculo'], 'idaluno'=>$value['idaluno'], 'media'=>true));
						$somanotas = (int)$a_somanotas[0];

						$a_quantidadenotas = Escolasalunosnotas::getEscolasalunosnotas(array('idescolavinculo'=>$value['idvinculo'], 'idaluno'=>$value['idaluno'], 'total'=>true));
						$quantidadenotas = (int)$a_quantidadenotas[0];

						$media = ($quantidadenotas != 0) ? round((float)($somanotas/$quantidadenotas), 2) : $somanotas;

						echo $media;
						?></td>
					</tr>
	<?php } ?>
		<?php if($tipos[$k] == "turma") { ?>
			<tr>
				<td><b>MÉDIA DA TURMA</b></td>
				<td><b class="media"></b></td>
			</tr>
		<?php } ?>
			</tbody>
		</table> <br>
	<?php
		}
	}
?>
<?php endif ?>
</div>
<script type="text/javascript">
	$(document).ready(function(){

		$("table.tbturma").each(function() {
			var qtdalunos = 0;
			var soma = 0;

			$(this).find("tr.alunostb").each(function() {
				qtdalunos++;

				soma += parseFloat($(this).find("td.dado").html());
			});

			var media = soma / qtdalunos;

			$(this).find("b.media").html(media);
		})
	});
</script>