		<!-- Content -->
		<div id="content">

		    <!-- Content wrapper -->
		    <div class="wrapper">

			    <!-- Breadcrumbs line -->
			    <div class="crumbs">
			    	<?php echo $this->render('/helpers/breadcrumb.phtml') ?>
			    </div>
			    <!-- /breadcrumbs line -->

			    <!-- Page header -->
			    <div class="page-header">
			    	<div class="page-title">
				    	<h5>Formulário do solicitação de remoção</h5>
				    	<span>Verifique os campos e preencha com os dados</span>
			    	</div>
			    </div>
			    <!-- /page header -->

			    <?php if (isset($this->crudMessage)) : ?>
					<div class="alert alert-success">
	                	<button data-dismiss="alert" class="close" type="button">×</button>
	                    <strong>Operação realizada com sucesso!</strong>
		    			<span><br /><?php echo $this->crudMessage ?></span>
	                </div>			    
			    <?php endif; ?>

				<form id="form" name="form" action="" method="post" class="form-horizontal" enctype="multipart/form-data"> 
					<input type="hidden" value="<?php echo (isset($this->post_var)) ? $this->post_var["id"] : ''; ?>" name="id" id="id" />
					
					<fieldset>
						<!-- General form elements -->
						<div class="widget row-fluid">
						    <div class="navbar">
						        <div class="navbar-inner">
						            <h6>Digite as informações do formulário</h6>
						        </div>
						    </div>

						    <div class="well">
								<?php if (isset($this->erros)) : ?>
									<div class="alert alert-error margin">
				                        <button data-dismiss="alert" class="close" type="button">×</button>
				                        <strong>Há erros no formulário!</strong>
					    				<?php foreach ($this->erros as $k=>$v) : ?>
					    					<span><br />- <?php echo $v ?></span>
					    				<?php endforeach;?>			                        
				                    </div>
			                    <?php endif; ?>						    
						    

                <?php $idescola = Usuarios::getUsuario('idescola'); ?>
				<?php $idlocal = Usuarios::getUsuario('idlocal'); ?>
				<?php if(($idescola>0) || ($idlocal>0)): ?>		    
				<div class="control-group">
					<div class="controls1 visualizar">
						<table class="table table-content" width="100%">
							<tbody>
								<tr>
									<input maxlength="500" placeholder="Nome do Usuário" name="idusuario" value="<?php echo Usuarios::getUsuario('id') ?>" type="hidden"  class="span3" />
									<input maxlength="500" name="idprofessor" value="<?php echo Usuarios::getUsuario('idfuncionario') ?>" type="hidden"  class="span3" />
									<input  placeholder="Data de lançamento" name="datalancamento" value="<?php echo (isset($this->post_var['datalancamento'])) ? Mn_Util::formPostVarData($this->post_var['datalancamento']) : date('d/m/Y') ?>" type="hidden"  class="span3" />
									<input maxlength="500" placeholder="Nome do Usuário" name="idlocal" value="<?php echo Usuarios::getUsuario('idlocal') ?>" type="hidden"  class="span3" />
									<input maxlength="500" placeholder="Nome do Usuário" name="idescola" value="<?php echo Usuarios::getUsuario('idescola') ?>" type="hidden"  class="span3" />

									<td width="33%">Nome do Usuário: <?php echo Usuarios::getUsuario('nomerazao') . " - " . Usuarios::getUsuario('rgf') ?></td>
									<td width="34%">Data da Abertura: <?php echo date('d/m/Y') ?></td>
									<td width="33%">Escola: <?php 
											$local = Escolas::getEscolaByIdHelper(Usuarios::getUsuario('idescola')); 
											echo ((isset($local['escola'])) && ($local['escola']) && ($local['escola']!="") ) ? $local['escola'] : '';
										?>
											
									</td>
								</tr>
							</tbody>
						</table>
						
					</div>
				</div>
				<?php else: ?>
				<div class="control-group">
					<div class="controls1 visualizar">
						<table class="table table-content" width="100%">
							<tbody>
								<tr>
									<input maxlength="500" placeholder="Nome do Usuário" name="idusuario" value="<?php echo Usuarios::getUsuario('id') ?>" type="hidden"  class="span3" />
									<input maxlength="500" name="idprofessor" value="<?php echo Usuarios::getUsuario('idfuncionario') ?>" type="hidden"  class="span3" />
									<input  placeholder="Data de lançamento" name="datalancamento" value="<?php echo (isset($this->post_var['datalancamento'])) ? Mn_Util::formPostVarData($this->post_var['datalancamento']) : date('d/m/Y') ?>" type="hidden"  class="span3" />
									
									<td width="50%">Nome do Usuário: <?php echo Usuarios::getUsuario('nomerazao') . " - " . Usuarios::getUsuario('rgf') ?></td>
									<td width="50%">Data da Abertura: <?php echo date('d/m/Y') ?></td>
									
								</tr>
							</tbody>
						</table>
						
					</div>
				</div>
				<?php endif; ?>
							
				<?php if(((int)$idescola>0) || ((int)$idlocal>0)): ?>

				<?php else: ?>
				<div class="control-group">
					<label class="control-label">Escolas <span class="required">*</span></label>
					<div class="controls">
		                <select name="idescola" onchange="setProfessores(this,0),setPeriodos(this, 0)" data-placeholder="Unidade Escolas" class="select">
							<option value="">Selecione...</option>
							<?php foreach (Escolas::getEscolas(array('status'=>'Ativo')) as $k=>$v) : ?>
							<option value="<?php echo $v['id'] ?>"><?php echo $v['escola'] ?></option>
							<?php endforeach;?>
						</select>
					</div>
				</div>
				<?php endif; ?>


			<?php if(Usuarios::getUsuario('professor')!="Sim" && !$this->editar): ?>

				<div class="control-group">
					<label class="control-label">Professor </label>
					<div class="controls">
						<select name="idprofessor" data-placeholder="Professor" onchange="getCursos(this, 0)" class="select">
							<option value="">Selecione...</option>
							
						</select>
						
					</div>
				</div>

			<?php else: ?>
				<div class="control-group">
					<label class="control-label">Professor </label>
					<div class="controls">
						<input name="idprofessor" value="<?php echo $this->post_var['idprofessor'] ?>" type="hidden" />
						<?php
							$professor = Funcionariosgeraisescolas::getFuncionariogeralescolaByIdHelper($this->post_var['idprofessor']);
							
							echo ($professor) ? $this->formatTextoBranco($professor['rgf'].' '.$professor['nome']) : '--';		
						?>
					</div>
				</div>
				

			<?php endif ?>	

			<?php if($this->editar): ?>
				<div class="control-group">
					<label class="control-label">Período </label>
					<div class="controls">
						<input name="idvinculo" value="<?php echo $this->post_var['idvinculo'] ?>" type="hidden" />
						<?php
							$row = Escolasvinculos::getEscolavinculoByIdHelper($this->post_var['idvinculo']);
								
						?>
						<?php echo $row['sala'] ?> -> <?php echo $row['serie'] ?> -> <?php echo $row['turma'] ?> -> <?php echo $row['periodo'] ?>
						
					</div>
				</div>
			<?php else: ?>	
				<div class="control-group">
					<label class="control-label">Período </label>
					<div class="controls">
						<select name="idvinculo" data-placeholder="Período" class="select">
							<option value="">Selecione...</option>
							
						</select>
						
					</div>
				</div>
			<?php endif; ?>	

			
				<div class="control-group">
					<label class="control-label">Observação </label>
					<div class="controls"><textarea class="span12" name="observacao" cols="5" rows="5"><?php echo (isset($this->post_var)) ? $this->post_var["observacao"] : ''; ?></textarea></div>
				</div>



<?php if(Usuarios::getUsuario('professor')!="Sim"): ?>
				<div class="control-group">
					<label class="control-label">Posição </label>
					<div class="controls">
						<select name="posicao" data-placeholder="Posição" class="select">
							<option value="">Selecione...</option>
							<option value="Aguardando">Aguardando</option>
							<option value="Reprovado">Reprovado</option>
							<option value="Aprovado">Aprovado</option>
						</select>
						
					</div>
				</div>
<?php endif ?>

						    
						    
						    </div>
						    
			                <div class="form-actions align-right">
			                	<?php if ((isset($this->visualizar)) && ($this->visualizar)) : ?>
			                		<button onclick="window.history.back()" class="btn btn-danger cancelar" type="button">Voltar</button>
			                	<?php else : ?>
				                	<button class="btn btn-primary enviar" type="submit">Salvar</button>
				                	<button onclick="window.history.back()" class="btn btn-danger cancelar" type="button">Cancelar</button>
			                	<?php endif; ?>
			                </div>
						</div>
						<!-- /general form elements -->

					</fieldset> 

				</form>
				<!-- /basic inputs -->

		    </div>
		    <!-- /content wrapper -->

		</div>
		<!-- content -->
				
<script type="text/javascript" src="<?php echo $this->baseUrl('/public/scripts/admin/documentacaosolicitacoesremocao_form.js') ?>"></script>
<script type="text/javascript">
	var form_values = {};
	
	<?php if (isset($this->post_var)) :  ?>
		form_values.idescola = '<?php echo (isset($this->post_var['idescola'])) ? $this->post_var['idescola'] : $idescola ?>';

		form_values.idprofessor = '<?php echo (isset($this->post_var['idprofessor'])) ? $this->post_var['idprofessor'] : '' ?>';

		form_values.idvinculo = '<?php echo (isset($this->post_var['idvinculo'])) ? $this->post_var['idvinculo'] : '' ?>';

		form_values.posicao = '<?php echo (isset($this->post_var['posicao'])) ? $this->post_var['posicao'] : '' ?>';

		form_values.status1 = '<?php echo (isset($this->post_var['status1'])) ? $this->post_var['status1'] : $this->post_var['status'] ?>';

		form_values.idscursos = [<?php echo (isset($this->post_var['idscursos'])) ? $this->post_var['idscursos'] : '' ?>];

	<?php endif; ?>

	visualizar = <?php echo  ((isset($this->visualizar)) && ($this->visualizar))  ? 'true' : 'false' ?>;
</script>
