<?php if (sizeof($this->imoveis) <=0) : ?>
<div class="form-group">Nenhum imóvel cadastrado</div>
<?php else: ?>
<?php foreach ($this->imoveis as $k=>$v) : ?>
<div class="form-group"><input value="<?php echo $v['id'] ?>" type="radio" name="idimovel" /> <?php echo $v['endereco'].", ".$v['numero']." - ".$v['bairro'] ?></div>
<?php endforeach;?>
<?php endif; ?>
