		<!-- Content -->
		<div id="content">

		    <!-- Content wrapper -->
		    <div  id="content-graficos_index" class="wrapper">

			    <!-- Breadcrumbs line -->
			    <div class="crumbs">
			    	<?php echo $this->render('/helpers/breadcrumb.phtml') ?>
			    </div>
			    <!-- /breadcrumbs line -->

			    <!-- Page header -->
			    <div class="page-header">
			    	<div class="page-title">
				    	<h5>Dashboard</h5>
				    	<span>Bem vindo!</span>
                                        <span><div id="lhc_status_container" ></div></span>
			    	</div>
			    </div>
			    <!-- /page header -->

			    <!-- Action tabs -->
			    









<!-- Table with footer -->
                <div class="widget">

    				<div class="col-md-3" style="width: 25%; float:left; padding:0 8px; margin-top: 40px;">
						<div class="table-overflow">

						<table class="table table-content">
							<thead>
								<tr>
									<th>Últimos Eventos</th>
								</tr>
							</thead>
							<tbody>
							<?php foreach ($this->eventosagenda as $ir=>$row) : ?>
							<tr>
								<td><div class="external-event ui-draggable" style="position: relative;"><?php echo $row['titulo']?> - <b><?php echo date('d/m/Y', strtotime($row['datainicio']))?></b></div></td>
							</tr>
							<?php endforeach;?>
							</tbody>
						</table>

						</div>
					</div><!-- col-md-3 -->



					<div class="col-md-9" style="width: 70%; float:left; padding:0 8px; margin-bottom: 50px;">
                		<?php $titulo_mes_atual = Mn_Util::getMes(date('n')); ?>
                		<div id="calendar1" class="fc fc-ltr">

                			<table style="width:100%" class="fc-header">
                				<tbody>
                					<tr>
                						<td class="fc-header-left" style="width:10%;  float:left;">
                							&nbsp;							
                						</td>

                						<td style="width:80%; text-align: center">
                							<span class="fc-header-title"><h2><?php echo $titulo_mes_atual ?> <?php echo date('Y')?></h2></span>
                						</td>
                						
                						<td class="fc-header-left" style="width:10%; text-align:right; float:right;">								
                							&nbsp;
                						</td>
                					</tr>
                				</tbody>
                			</table>
                			<table style="width:100%" class="fc-header">
                				<tbody>
                					<tr>
                						<td class="fc-header-left" style="width:10%;  float:left;">
                							<span class="fc-button fc-button-prev fc-state-default fc-corner-left" unselectable="on" style="float:left;" onclick="setPage('menos')"><span class="fc-text-arrow"><i class="ico-arrow-left"></i></span></span>								
                						</td>

                						<td style="width:80%; text-align: center">
                							<span class="fc-button fc-button-today fc-state-default fc-corner-left fc-corner-right fc-state-disabled" unselectable="on"  style="float:none;" onclick="setPage('inicial')">HOJE</span>
                						</td>
                						
                						<td class="fc-header-left" style="width:10%; text-align:right; float:right;">								
                							<span class="fc-button fc-button-next fc-state-default fc-corner-right" unselectable="on" style="float:left;" onclick="setPage('mais')"><span class="fc-text-arrow"><i class="ico-arrow-right"></i></span></span>
                						</td>
                					</tr>
                				</tbody>
                			</table>
                			<div class="fc-content">
                				<div style="position: relative; -moz-user-select: none;" class="fc-view fc-view-month fc-grid" unselectable="on">
                					<div style="position:absolute;z-index:8;top:0;left:0" class="fc-event-container"></div>
                					<table cellspacing="0" style="width:100%" class="fc-border-separate">
                						<thead>
                							<tr class="fc-first fc-last">
                								<?php $semana = 0?>
                								<?php $dias = array('Dom', 'Seg', 'Ter', 'Qua', 'Qui', 'Sex', 'Sáb'); ?>
                								<?php $dias_in = array('sun', 'mon', 'tue', 'wed', 'thu', 'fri', 'sat'); ?>
                	
                								<?php for ($i=0; $i<7; $i++) :
                										$dia_atual = mktime(0, 0, 0, date('m'), date('d')+$i + $semana, date('Y'));
                										$_titulo_semana = $dias[date('w', $dia_atual)];
                										$_name_semana_in = $dias_in[date('w', $dia_atual)]; 
                								?>
                								<th class="fc-day-header fc-<?php echo $_name_semana_in ?> fc-widget-header <?php echo ($i==0) ? 'fc-first' : '' ?> <?php echo ($i==6) ? 'fc-last' : '' ?>" style="width: 14%;"><?php echo $_titulo_semana ?></th>
                								<?php endfor;?>
                							</tr>
                						</thead>
                						<tbody>
                							<?php
                							$mes_atual = date('m');
                							$mes_anterior = $mes_atual;
                							$_dia = ""; 
                							$semanacalendario = 0;
                							$proximo_mes = Mn_Util::getMes($mes_atual);
                							for ($j=0; $j<5; $j++): ?>
                							<tr class="fc-week">
                							<?php for ($k=0; $k<7; $k++):							
                									$mes = mktime(0, 0, 0, date('m'), date('d')+$k + ($j*7) + $semanacalendario, date('Y'));
                									$mes = date('m', $mes);
                	
                									$_dia = mktime(0, 0, 0, date('m'), date('d')+$k + ($j*7) + $semanacalendario, date('Y'));
                									$dia = date('d', $_dia); 
                	
													$queries = array();
													$queries['idsecretaria'] = Usuarios::getSecretariaAtiva( Usuarios::getUsuario('id'), 'id' );
													$queries['iddepartamento'] = Usuarios::getUsuario('idperfil');
													$queries['data'] = date('Y-m-d', $_dia);
													$queries['order'] = "ORDER BY e1.datainicio DESC";
													$queries["tipo"] = "Interna";
													$queries["origem"] = "Comunicação";	
													$totalrows = Eventossecretarias::getEventossecretariasHelper($queries);
													$rows = Eventossecretarias::getEventossecretariasHelper($queries, '0', '3');
                									
                									if($mes != $mes_atual):
                										$proximo_mes = Mn_Util::getMes($mes);
                									endif;?>
                								<td data-date="2015-07-26" class="calendario-dia fc-day fc-sun fc-widget-content <?php echo ($mes != $mes_atual) ? ' fc-other-month ' : ''?> fc-past <?php echo ($k==0) ? 'fc-first' : '' ?> <?php echo ($k==6) ? 'fc-last' : '' ?>" <?php echo ($k==0) ? 'style="border-left-width: 1px;"' : '' ?> <?php echo ($k==6) ? 'style="border-right-width: 1px !important;"' : '' ?>>
                									<div class="box_dia">
                										<div class="fc-day-number">
                										<?php if(($mes != $mes_anterior) || (($j==0) && ($k==0))) : ?>
                											<?php echo $dia ?> - <?php echo $proximo_mes ?> 
                											<?php $mes_anterior = $mes; ?>
                										<?php else: ?>
                											<?php echo $dia ?>
                										<?php endif;?>
                										</div>
                										
                										<div style="height: 75px" class="fc-day-content">
                											<div class="content-eventos">
                												<div class="box-evento">
                												<?php foreach ($rows as $a=>$agenda): ?>
                													<?php //var_dump($agenda) ?>
                													<div class="line fc-event fc-event-skin fc-event-hori fc-event-draggable fc-corner-left fc-corner-right" onclick="setEventoById('<?php echo $agenda['id']?>')">
                														<div class="evento-reduzido"><?php echo $this->cortaPalavra(10, $agenda['titulo']) ?></div>
                														<?php /*?>
                														<p class="title-event"><?php echo $this->cortaPalavra(16, $agenda['titulo'])?></p>
                														<?php */?>
                													</div>
                												<?php endforeach;?>
                												</div>	
                												<?php if(sizeof($totalrows) > 1) : ?>
                													<div class="todos line" onclick="setEventos(this, <?php echo $_dia ?>)" style="cursor:pointer; padding-left:6px;">Todos</div>													
                												<?php endif;?>													
                																		
                											</div>					
                										</div>
                									</div>
                								</td>
                							<?php endfor;?>
                							</tr>
                							<?php endfor;
                							
                							?>
                						</tbody>
                					</table>

                				</div>
                			</div>
                		</div>
                	</div><!-- col-md-9 -->

                </div>
                <!-- /table with footer -->



<script type="text/javascript">
count_page = 0;
	$(document).ready(function() {
		count_page = 0;
			
	});
</script>










			<br clear="all">
			<br clear="all">
			<br clear="all">
<?php /*?>
<div class="col-sm-5">
					<div class="panel panel-default">
						<div class="panel-heading">
							
							<h4 class="panel-title">Solicitações feitas para a recepção</h4>
						</div>        
					
						<div class="content-graficos_b">
							<div class="box">		 
								<div class="grafico-pizza">		
									<table width="100%" cellpadding="0" cellspacing="0" border="0">
										<td width="46%">
											<div class="legenda">
												<table width="100%" cellpadding="4" cellspacing="0" border="1">
													<tr>		
														<td class="titulo"> 
															Pendente
														</td>							
														<td width="100%" class="number">
															<div style="background-color:#d6ca00;"><?php echo (int)$this->solicitacoespendente ?></div>
														</td>
													</tr>
					
													<tr>		
														<td class="titulo"> 
															Execução
														</td>							
														<td width="100%" class="number">
															<div style="background-color:#0056c0; "><?php echo (int)$this->solicitacoesexecucao ?></div>
														</td>
													</tr>
					
													<tr>		
														<td class="titulo"> 
															Cancelados
														</td>							
														<td width="100%" class="number">
															<div style="background-color:#ab0000; "><?php echo (int)$this->solicitacoescancelado ?></div>
														</td>
													</tr>
					
													<tr>		
														<td class="titulo"> 
															Encerrados
														</td>							
														<td width="100%" class="number">
															<div style="background-color:#6aa84f; "><?php echo (int)$this->solicitacoesencerrado ?></div>
														</td>
													</tr>
												</table>					
											</div>
										</td>
										<td>
											<iframe src="<?php echo $this->baseUrl('admin/index/setgraficossolicitacoes/')?>" style="width: 100%; border: 0px none; height: 220px; padding: 0 0 0 30px;">
												<p>&nbsp;</p>
											</iframe>
										</td>
									</table>
								</div>
							</div>
						</div>
					</div>
            	</div>


          	<div class="col-sm-5" style="float:right;">
	            	<div class="panel panel-default">
						<div class="panel-heading">
							
							<h4 class="panel-title">Ouvidoria - Reclamações</h4>
						</div>        
					
						<div class="content-graficos_b">
							<div class="box">		 
								<div class="grafico-pizza">		
									<table width="100%" cellpadding="0" cellspacing="0" border="0">
										<td width="46%">
											<div class="legenda">
												<table width="100%" cellpadding="4" cellspacing="0" border="1">
													<tr>		
														<td class="titulo"> 
															Abertos
														</td>							
														<td width="100%" class="number">
															<div style="background-color:#0056c0;"><?php echo (int)$this->ouvidoriaabertos ?></div>
														</td>
													</tr>
													
													<tr>		
														<td class="titulo"> 
															Pendente
														</td>							
														<td width="100%" class="number">
															<div style="background-color:#d6ca00;"><?php echo (int)$this->ouvidoriapendente ?></div>
														</td>
													</tr>
													
													<tr>		
														<td class="titulo"> 
															Cancelados
														</td>							
														<td width="100%" class="number">
															<div style="background-color:#ab0000;"><?php echo (int)$this->ouvidoriacancelado ?></div>
														</td>
													</tr>
													
													<tr>		
														<td class="titulo"> 
															Encerrados
														</td>							
														<td width="100%" class="number">
															<div style="background-color:#6aa84f;"><?php echo (int)$this->ouvidoriaencerrado ?></div>
														</td>
													</tr>
												</table>
					
											</div>
										</td>
										<td>
											<iframe src="<?php echo $this->baseUrl('admin/index/setgraficosouvidoria/')?>" style="width: 100%; border: 0px none; height: 220px; padding: 0 0 0 30px;">
												<p>&nbsp;</p>
											</iframe>
										</td>
									</table>
								</div>
							</div>
						</div>
					</div>
            	</div>
            
            
            	<br clear="all" />


<div class="col-sm-5">
					<div class="panel panel-default">
						<div class="panel-heading">
							
							<h4 class="panel-title">Chamados Técnicos de TI</h4>
						</div>        
					
						<div class="content-graficos_b">
							<div class="box">		 
								<div class="grafico-pizza">		
									<table width="100%" cellpadding="0" cellspacing="0" border="0">
										<td width="46%">
											<div class="legenda">
												<table width="100%" cellpadding="4" cellspacing="0" border="1">
													<tr>		
														<td class="titulo"> 
															Abertos
														</td>							
														<td width="46" class="number">
															<div style="background-color:#0056c0;"><?php echo (int)$this->chamadostecnicosabertos ?></div>
														</td>
													</tr>
													
													<tr>		
														<td class="titulo"> 
															Pendente
														</td>							
														<td width="46" class="number">
															<div style="background-color:#d6ca00;"><?php echo (int)$this->chamadostecnicospendente ?></div>
														</td>
													</tr>
													
													<tr>		
														<td class="titulo"> 
															Cancelados
														</td>							
														<td width="46" class="number">
															<div style="background-color:#ab0000;"><?php echo (int)$this->chamadostecnicoscancelado ?></div>
														</td>
													</tr>
													
													<tr>		
														<td class="titulo"> 
															Encerrados
														</td>							
														<td width="46" class="number">
															<div style="background-color:#6aa84f;"><?php echo (int)$this->chamadostecnicosencerrado ?></div>
														</td>
													</tr>
												</table>
											</div>
										</td>
										<td>
											<iframe src="<?php echo $this->baseUrl('admin/index/setgraficoschamadostecnicos/')?>" style="width: 100%; border: 0px none; height: 220px; padding: 0 0 0 30px;">
												<p>&nbsp;</p>
											</iframe>
										</td>
									</table>
								</div>
							</div>
						</div>
					</div>
            	</div>



<div class="col-sm-5" style="float:right;">
					<div class="panel panel-default">
						<div class="panel-heading">
							
							<h4 class="panel-title">Chamados Engenharias</h4>
						</div>        
					
						<div class="content-graficos_b">
							<div class="box">		 
								<div class="grafico-pizza">		
									<table width="100%" cellpadding="0" cellspacing="0" border="0">
										<td width="46%">
											<div class="legenda">
												<table width="100%" cellpadding="4" cellspacing="0" border="1">
													<tr>		
														<td class="titulo"> 
															Abertos
														</td>							
														<td width="46" class="number">
															<div style="background-color:#0056c0;"><?php echo (int)$this->chamadosengenhariasabertos ?></div>
														</td>
													</tr>
													
													<tr>		
														<td class="titulo"> 
															Pendente
														</td>							
														<td width="46" class="number">
															<div style="background-color:#d6ca00;"><?php echo (int)$this->chamadosengenhariaspendente ?></div>
														</td>
													</tr>
													
													<tr>		
														<td class="titulo"> 
															Cancelados
														</td>							
														<td width="46" class="number">
															<div style="background-color:#ab0000;"><?php echo (int)$this->chamadosengenhariascancelado ?></div>
														</td>
													</tr>
													
													<tr>		
														<td class="titulo"> 
															Encerrados
														</td>							
														<td width="46" class="number">
															<div style="background-color:#6aa84f;"><?php echo (int)$this->chamadosengenhariasencerrado ?></div>
														</td>
													</tr>
												</table>
											</div>
										</td>
										<td>
											<iframe src="<?php echo $this->baseUrl('admin/index/setgraficoschamadosengenharias/')?>" style="width: 100%; border: 0px none; height: 220px; padding: 0 0 0 30px;">
												<p>&nbsp;</p>
											</iframe>
										</td>
									</table>
								</div>
							</div>
						</div>
					</div>
            	</div>
<br clear="all" />

<div class="table-overflow">
	                        <table class="table table-content">
	                            <thead>
	                            	                            	<tr>
	                                    <th colspan="6">Últimos Cursos cadastrados!</th>
	                                </tr>	
	                                <tr>
	                                    <th width="20">#</th>
                                    <th class="">Interesse</th>
                                    <th class="s-titulo sorting">Curso</th>
                                    <th class="s-instituicaoensino sorting">Instituição</th>
                                    <th class="s-status sorting">Status</th>


	                                    <th width="96">Ações</th>
	                                </tr>
	                                
	                                                                
	                            </thead>
	                            <tbody>
	                            	<?php if (sizeof($this->cursos)==0) : ?>
	                                <tr>
	                                    <td colspan="6">Nenhum registro foi encontrado!</td>
	                                </tr>
	                            	
	                            	<?php else : ?>
	                            	<?php foreach ($this->cursos as $row) : ?>
	                                <tr>
	                                	<td><?php echo $row['id'] ?></td>
	                                	<td><a href="javascript:;" title="" onclick="setInteresse('<?php echo $row['id']?>', this);">Tenho Interesse</a></td>
										<td><?php echo $row['titulo'] ?></td>
										<td><?php echo $row['instituicaoensino'] ?></td>

										<td>
											<?php echo $row['status'] ?>
										
										</td>

			                				

	                                    <td>
	                                      
	                                    </td>
	                                </tr>
	                            	<?php endforeach;?>
	                            	
	                            	
	                            	
	                            	
	                            	<?php endif; ?>
	
	                            </tbody>
	                        </table>
	                    </div><?php */?>

	                    <?php echo $this->render('index/setcomunicados.phtml'); ?>

	                    <?php if(Usuarios::getUsuario('professor') == 'Sim'): ?>
	                    	<?php echo $this->render('index/setpermutas.phtml') ?>
	                    	<?php echo $this->render('index/setampliacoes.phtml') ?>
	                	<?php endif; ?>

                            <?php echo $this->render('index/setnotificacoesdosistema.phtml'); ?>
		    </div>




		    <!-- /content wrapper -->

		</div>
		<!-- /content -->
<script src="<?php echo $this->baseUrl() ?>/public/scripts/admin/index_index.js"></script>

<!-- Incluindo chat -->
<!-- Coloque esta tag depois da tag de Status do Live Helper. -->
