
	                        	                        
                <!-- Table with footer -->
                <div class="widget">
                	<form action="#" class="form-horizontal" method="post">
	                    <div class="table-overflow">
	                		<div class="navbar-inner">
	                			<h5>Retorno da Coordenação (Ampliações)</h5>
	                		</div>
							<table class="table">
								<thead>
									<th>Professor</th>
									<th>Escola</th>
									<th>RGF</th>
									<th>Período da Ampliação</th>
									<th>Status</th>
								</thead>
								<tbody>
									<?php if(sizeof($this->ampliacoesaceitas) <= 0): ?>
										<tr colspan="5">
											<td>Nenhum registro encontrado.</td>
										</tr>
									<?php else: ?>
										<?php foreach($this->ampliacoesaceitas as $k=>$row): ?>
										<tr>
											<td>
												<?php
													$___rows = Funcionariosgeraisescolas::getFuncionariosgeraisescolasHelper(array('id'=>$row['idprofessor']));
													$professor = (sizeof($___rows)>0) ? 	$___rows[0] : false;	
													
													echo ($professor) ? $this->formatTextoBranco($professor['nome']) : '--';		
												?>
											</td>

											<td>
												<?php
													$___rows = Escolas::getEscolasHelper(array('id'=>$row['idescola']));
													$escola = (sizeof($___rows)>0) ? 	$___rows[0] : false;	
													
													echo ($escola) ? $this->formatTextoBranco($escola['escola']) : '--';		
												?>
											</td>

											<td>
												<?php
													
													echo ($professor) ? $this->formatTextoBranco($professor['rgf']) : '--';		
												?>
											</td>

											<td>
											<?php $vinculo = Escolasvinculos::getEscolavinculoByIdHelper($row['idsala']); ?>
											<?php echo $vinculo['sala'] ?> -> <?php echo $vinculo['serie'] ?> -> <?php echo $vinculo['turma'] ?> -> <?php echo $vinculo['periodo'] ?>
											</td>
											<td>
												<?php if($row['status'] == 'Aguardando'): ?>
													&nbsp;
												<?php else: ?>
												<span class="btn btn-<?php echo ($row['status'] == 'Aceito') ? 'success' : 'danger' ?>"><?php echo $row['status'] ?></span>
												<?php endif; ?>
											</td>
										</tr>
										<?php endforeach; ?>
									<?php endif; ?>
								</tbody>
							</table>
	                    </div>
                    
                    </form>

                </div>
                <!-- /table with footer -->