<!-- Table with footer -->
<div class="widget">
    <div class="table-overflow">
        <div class="navbar-inner">
            <h5>Comunicados</h5>
        </div>
        <div style="max-height: 350px; overflow-y: auto;">
            <table class="table table-content">
                <thead>
                    <tr>
                        <th colspan="5">Últimos Comunicados cadastrados!</th>
                    </tr>
                    <tr>
                        <th width="20">#</th>
                        <th width="160">Origem</th>
                        <th width="160">Destino</th>
                        <th width="60">Data</th>
                        <th class="s-titulo sorting">Título</th>
                        <th width="96">Ações</th>
                    </tr>
                </thead>
                <tbody>
                    <?php if (sizeof($this->comunicados) == 0) : ?>
                        <tr>
                            <td colspan="5">Nenhum registro foi encontrado!</td>
                        </tr>

                    <?php else : ?>
                        <?php foreach ($this->comunicados as $row) : ?>
                            <tr>
                                <td><?php echo $row['id'] ?></td>
                                <td>
                                    <?php if (isset($row['idusuariocriacao']) && $row['idusuariocriacao'] > 0): ?>
                                        <?php $usuario = Usuarios::getUsuarioByIdHelper($row['idusuariocriacao']); ?>
                                        <?php
                                        $perfil = UsuariosPerfis::getPerfilByIdHelper($usuario['idperfil']);

                                        //echo $usuario['idperfil'];
                                        ?>

                                        <?php
                                        if (($usuario['idperfil'] == "39") || ($usuario['idperfil'] == "29")):
                                            $funcionario = Funcionariosgeraisescolas::getFuncionariogeralescolaByIdHelper($usuario['idfuncionario']);
                                            ?>
                                            <?php if (((int) $row['idescolacriacao'] > 0)): ?>
                                                <?php $escola = Escolas::getEscolaByIdHelper($row['idescolacriacao']); ?>
                                                <?php echo (isset($escola['id'])) ? $escola['escola'] : '' ?>
                                            <?php elseif ((isset($funcionario['idescola'])) && ((int) $funcionario['idescola'] > 0)): ?>
                                                <?php $escola = Escolas::getEscolaByIdHelper($funcionario['idescola']); ?>
                                                <?php echo (isset($escola['id'])) ? $escola['escola'] : '' ?>
                                            <?php else: ?>
                                                <?php echo $perfil ? $perfil['perfil'] : '--' ?>
                                            <?php endif; ?>
                                        <?php else: ?>
                                            <?php echo $perfil ? $perfil['perfil'] : '--' ?>
                                        <?php endif; ?>
                                    <?php endif; ?>
                                </td>

                                <td>
                                    <?php if (isset($row['idescola']) && $row['idescola'] > 0): ?>
                                        <?php $escola = Escolas::getEscolaByIdHelper($row['idescola']); ?>
                                        <?php echo $escola ? $escola['escola'] : '--' ?>
                                    <?php else: ?>
                                        <?php $perfil = UsuariosPerfis::getPerfilByIdHelper($row['idperfil']); ?>
                                        <?php echo $perfil ? $perfil['perfil'] : '--' ?>
                                    <?php endif; ?>
                                </td>
                                <td><?php echo date('d/m/Y', strtotime($row['datacriacao'])); ?></td>
                                <td><?php echo $row['titulo'] ?></td>
                                <td>
                                    <ul class="table-controls">
                                        <li><a title="" class="btn tip" href="<?php echo $this->baseUrl() ?>/<?php echo 'admin' ?>/comunicacaocomunicados/visualizar/id/<?php echo $row['id'] ?>" data-original-title="Visualizar"><i class="icon-eye-open"></i></a> </li>

                                    </ul>
                                </td>
                            </tr>
                        <?php endforeach; ?>
                    <?php endif; ?>
                </tbody>
            </table>
        </div>
    </div>
</div>