<?php

    if (!empty($this->protocoloprocessos_aberto)){
        $dado = json_encode($this->protocoloprocessos_aberto);
        echo "<script> window.onload = function() { NotificarProtocolosProcessos(1,'".$dado."'); }; </script>";
    }
    
    /* Retirado para evitar a notificação do mesmo
    if (!empty($this->protocoloprocessos_lido)){
        $dado = json_encode($this->protocoloprocessos_lido);
        echo "<script> window.onload = function() { NotificarProtocolosProcessos(2,'".$dado."'); }; </script>";
    }
    */
?>

<script type="text/javascript">
    
    //Após o carregamento da página
    document.addEventListener('DOMContentLoaded', function () {

      //Se não tiver suporte a Notification manda um alert para o usuário
      if (!Notification) {
        alert('Desktop notifications not available in your browser. Try Chromium.'); 
        return;
      }

      //Se não tem permissão, solicita a autorização do usuário
      if (Notification.permission !== "granted")
        Notification.requestPermission();

    });
    
    
    function NotificarProtocolosProcessos(tipo, dado){
        
        var mensagem = 'Notificação do sistema.';
        var getUrl = window.location;
                
        if (tipo === 1){
            
            if(Object.keys(dado).length == 1){
                mensagem = 'Existe um protocolo em aberto enviado para você. Por favor, verifique!'
            }else{
                mensagem = 'Existem protocolos em aberto enviados para você. Por favor, verifique!';
            }
                
        }else if (tipo === 2){
    
            if(Object.keys(dado).length == 1){
                mensagem = 'O protocolo foi lido. Por favor, verifique!';
            }else{
                mensagem = 'Existem protocolos marcados como lidos. Por favor, verifique!';
            }
            
        }
        
        //Se não tem permissão, solicita a autorização do usuário
        if (Notification.permission !== "granted"){
            Notification.requestPermission();
        }else {
            var notificacao = new Notification("Protocolos e Processos",{
                icon : "https://santaisabel.saege.com.br/public/admin/imagens/saege.png",
                body : mensagem
            });
            
            notificacao.onClick = function() {
                var getUrl = window.location;
                var baseUrl = getUrl.protocol + "//" + getUrl.host + "/" + getUrl.pathname.split('/')[1] + '/admin/protocolosprocessos/';
                
                window.open(baseUrl, '_self');
            };
            
        }
        
    }    

</script>	
