		<!-- Content -->
		<div id="content">

		    <!-- Content wrapper -->
		    <div class="wrapper">

			    <!-- Breadcrumbs line -->
			    <div class="crumbs">
			    	<?php echo $this->render('/helpers/breadcrumb.phtml') ?>
			    </div>
			    <!-- /breadcrumbs line -->

			    <!-- Page header -->
			    <div class="page-header">
			    	<div class="page-title">
				    	<h5>Formulário de Licenciamento, Seguro e Revisões.</h5>
				    	<span>Verifique os campos e preencha com os dados</span>
			    	</div>
			    </div>
			    <!-- /page header -->

			    <?php if (isset($this->crudMessage)) : ?>
					<div class="alert alert-success">
	                	<button data-dismiss="alert" class="close" type="button">×</button>
	                    <strong>Operação realizada com sucesso!</strong>
		    			<span><br /><?php echo $this->crudMessage ?></span>
	                </div>			    
			    <?php endif; ?>

				<form id="form" name="form" action="" method="post" class="form-horizontal" enctype="multipart/form-data"> 
					<input type="hidden" value="<?php echo (isset($this->post_var)) ? $this->post_var["id"] : ''; ?>" name="id" id="id" />
					
					<fieldset>
						<!-- General form elements -->
						<div class="widget row-fluid">
						    <div class="navbar">
						        <div class="navbar-inner">
						            <h6>Digite as informações do formulário</h6>
						        </div>
						    </div>

						    <div class="well">
								<?php if (isset($this->erros)) : ?>
									<div class="alert alert-error margin">
				                        <button data-dismiss="alert" class="close" type="button">×</button>
				                        <strong>Há erros no formulário!</strong>
					    				<?php foreach ($this->erros as $k=>$v) : ?>
					    					<span><br />- <?php echo $v ?></span>
					    				<?php endforeach;?>			                        
				                    </div>
			                    <?php endif; ?>						    
						    


				<div class="control-group">
					<label class="control-label">Sequencial / Ano <span class="required">*</span></label>
					<div class="controls">
						<input maxlength="100" placeholder="Sequencial/Ano" name="sequencial" value="<?php echo (isset($this->post_var['sequencial'])) ? $this->post_var['sequencial'] : $this->sequencial ?>" type="text" readonly class="span3" />
					</div>
				</div>

				<div class="control-group">
					<label class="control-label">Data </label>
					<div class="controls"><input placeholder="Data" name="data" value="<?php echo (isset($this->post_var['data'])) ? Mn_Util::formPostVarData($this->post_var['data']) : '' ?>" type="text"  class="span3" /></div>
				</div>
  
				<div class="control-group">
					<label class="control-label">Veículo <span class="required">*</span></label>
					<div class="controls">
		                <select name="idveiculo" class="select" onclick="setDadosVeiculo(this, false)">
							<option value="">Selecione...</option>
							<?php foreach (Logisticafrotas::getLogisticafrotasHelper(array('status'=>'Ativo')) as $k=>$v) : ?>
							<option value="<?php echo $v['id'] ?>"><?php echo $v['placa'] ?></option>
							<?php endforeach;?>
						</select> 
					</div>
					<div id="dados-veiculo"></div>
				</div>
 
				<div class="control-group">
					<label class="control-label">Mês de Venc. do Licenciamento </label>
					<div class="controls"><input  placeholder="Mês de Venc. do Licenciamento" name="meslicenciamento_vencimento" value="<?php echo (isset($this->post_var['meslicenciamento_vencimento'])) ? $this->post_var['meslicenciamento_vencimento'] : '' ?>" type="text"  class="span3" /></div>
				</div>


				<div class="control-group">
					<label class="control-label">Avisar Venc. antes de </label>
					<div class="controls"><input  placeholder="Avisar Venc. antes de" name="diasaviso_vencimento" value="<?php echo (isset($this->post_var['diasaviso_vencimento'])) ? $this->post_var['diasaviso_vencimento'] : '' ?>" type="text"  class="span3" /></div>
				</div>

				<div class="control-group">
					<label class="control-label">Possui Seguro?</label>
					<div class="controls">						
						<input type="radio" id="seguro_sim" name="seguro" onclick="setSeguro(this)" value="sim" <?php echo ($this->post_var['seguro'] == 'sim') ? 'checked' : '' ?> />
						<label style="display: inline-block;" for="seguro_sim">Sim</label>
						&nbsp;&nbsp;
						<input type="radio" id="seguro_nao" name="seguro" onclick="setSeguro(this)" value="nao" <?php echo ($this->post_var['seguro'] == 'nao') ? 'checked' : '' ?> />
						<label style="display: inline-block;" for="seguro_nao">Não</label>
					</div>
				</div>

				<div class="box-seguro" style="display: none;">
					<div class="control-group">
						<label class="control-label">Seguradora </label>
						<div class="controls"><input maxlength="100" placeholder="Seguradoral" name="seguradora" value="<?php echo (isset($this->post_var['seguradora'])) ? $this->post_var['seguradora'] : '' ?>" type="text"  class="span3" /></div>
					</div>


					<div class="control-group">
						<label class="control-label">Nº Apolicel </label>
						<div class="controls"><input maxlength="50" placeholder="Nº Apolicel" name="numero_apolice" value="<?php echo (isset($this->post_var['numero_apolice'])) ? $this->post_var['numero_apolice'] : '' ?>" type="text"  class="span3" /></div>
					</div>


					<div class="control-group">
						<label class="control-label">Corretora </label>
						<div class="controls"><input maxlength="100" placeholder="Corretora" name="corretora" value="<?php echo (isset($this->post_var['corretora'])) ? $this->post_var['corretora'] : '' ?>" type="text"  class="span3" /></div>
					</div>


					<div class="control-group">
						<label class="control-label">Telefone </label>
						<div class="controls"><input maxlength="20" placeholder="Telefone" name="telefone_seguradora" value="<?php echo (isset($this->post_var['telefone_seguradora'])) ? $this->post_var['telefone_seguradora'] : '' ?>" type="text"  class="span3" /></div>
					</div>


					<div class="control-group">
						<label class="control-label">Período de Vigência Inicial</label>
						<div class="controls"><input placeholder="Período de Vigência Inicial" name="periodo_vigenciainicial" value="<?php echo (isset($this->post_var['periodo_vigenciainicial'])) ? Mn_Util::formPostVarData($this->post_var['periodo_vigenciainicial']) : '' ?>" type="text"  class="span3" /></div>
					</div>


					<div class="control-group">
						<label class="control-label">Período de Vigência Final</label>
						<div class="controls"><input placeholder="Período de Vigência Final" name="periodo_vigenciafinal" value="<?php echo (isset($this->post_var['periodo_vigenciafinal'])) ? Mn_Util::formPostVarData($this->post_var['periodo_vigenciafinal']) : '' ?>" type="text"  class="span3" /></div>
					</div>


					<div class="control-group">
						<label class="control-label">Avisar Venc. antes de </label>
						<div class="controls"><input  placeholder="Avisar Venc. antes de" name="diasaviso_vencimentoseguro" value="<?php echo (isset($this->post_var['diasaviso_vencimentoseguro'])) ? $this->post_var['diasaviso_vencimentoseguro'] : '' ?>" type="text"  class="span3" /></div>
					</div>
				</div>


				<div class="control-group">
					<label class="control-label">Veículo possui revisões?</label>
					<div class="controls">						
						<input type="radio" id="revisao_sim" name="revisao" onclick="setRevisao(this)" value="sim" <?php echo ($this->post_var['revisao'] == 'sim') ? 'checked' : '' ?> />
						<label style="display: inline-block;" for="revisao_sim">Sim</label>
						&nbsp;&nbsp;
						<input type="radio" id="revisao_nao" name="revisao" onclick="setRevisao(this)" value="nao" <?php echo ($this->post_var['revisao'] == 'nao') ? 'checked' : '' ?> />
						<label style="display: inline-block;" for="revisao_nao">Não</label>
					</div>
				</div>

				<div class="box-revisao" style="display: none;">
					<div class="control-group">
						<label class="control-label">Concessionária </label>
						<div class="controls"><input maxlength="100" placeholder="Concessionária" name="concessionaria" value="<?php echo (isset($this->post_var['concessionaria'])) ? $this->post_var['concessionaria'] : '' ?>" type="text"  class="span3" /></div>
					</div>


					<div class="control-group">
						<label class="control-label">Telefone da Concessionária </label>
						<div class="controls"><input maxlength="20" placeholder="Telefone da Concessionária" name="telefone_concessionaria" value="<?php echo (isset($this->post_var['telefone_concessionaria'])) ? $this->post_var['telefone_concessionaria'] : '' ?>" type="text"  class="span3" /></div>
					</div>


					<div class="control-group">
						<label class="control-label">Km Atual </label>
						<div class="controls"><input  placeholder="Km Atual" name="km_atual" value="<?php echo (isset($this->post_var['km_atual'])) ? $this->post_var['km_atual'] : '' ?>" type="text"  class="span3" /></div>
					</div>


					<div class="control-group">
						<label class="control-label">1 - Revisão km </label>
						<div class="controls"><input  placeholder="1 - Revisão km" name="revisao1" value="<?php echo (isset($this->post_var['revisao1'])) ? $this->post_var['revisao1'] : '' ?>" type="text"  class="span3" /></div>
					</div>


					<div class="control-group">
						<label class="control-label">Avisar vencimento antes de </label>
						<div class="controls"><input  placeholder="Avisar vencimento antes de" name="avisar_vencimentorevisao1" value="<?php echo (isset($this->post_var['avisar_vencimentorevisao1'])) ? $this->post_var['avisar_vencimentorevisao1'] : '' ?>" type="text"  class="span3" /></div>
					</div>


					<div class="control-group">
						<label class="control-label">2 - Revisão km </label>
						<div class="controls"><input  placeholder="2 - Revisão km" name="revisao2" value="<?php echo (isset($this->post_var['revisao2'])) ? $this->post_var['revisao2'] : '' ?>" type="text"  class="span3" /></div>
					</div>


					<div class="control-group">
						<label class="control-label">Avisar vencimento antes de </label>
						<div class="controls"><input  placeholder="Avisar vencimento antes de" name="avisar_vencimentorevisao2" value="<?php echo (isset($this->post_var['avisar_vencimentorevisao2'])) ? $this->post_var['avisar_vencimentorevisao2'] : '' ?>" type="text"  class="span3" /></div>
					</div>


					<div class="control-group">
						<label class="control-label">3 - Revisão km </label>
						<div class="controls"><input  placeholder="3 - Revisão km" name="revisao3" value="<?php echo (isset($this->post_var['revisao3'])) ? $this->post_var['revisao3'] : '' ?>" type="text"  class="span3" /></div>
					</div>


					<div class="control-group">
						<label class="control-label">Avisar vencimento antes de </label>
						<div class="controls"><input  placeholder="Avisar vencimento antes de" name="avisar_vencimentorevisao3" value="<?php echo (isset($this->post_var['avisar_vencimentorevisao3'])) ? $this->post_var['avisar_vencimentorevisao3'] : '' ?>" type="text"  class="span3" /></div>
					</div>


					<div class="control-group">
						<label class="control-label">4 - Revisão km </label>
						<div class="controls"><input  placeholder="4 - Revisão km" name="revisao4" value="<?php echo (isset($this->post_var['revisao4'])) ? $this->post_var['revisao4'] : '' ?>" type="text"  class="span3" /></div>
					</div>


					<div class="control-group">
						<label class="control-label">Avisar vencimento antes de </label>
						<div class="controls"><input  placeholder="Avisar vencimento antes de" name="avisar_vencimentorevisao4" value="<?php echo (isset($this->post_var['avisar_vencimentorevisao4'])) ? $this->post_var['avisar_vencimentorevisao4'] : '' ?>" type="text"  class="span3" /></div>
					</div>
				</div>


				<div class="control-group">
					<label class="control-label">Status <span class="required">*</span></label>
					<div class="controls">
						<select name="status1" data-placeholder="Status" class="select">
							<option value="">Selecione...</option>
							<option value="Ativo">Ativo</option><option value="Bloqueado">Bloqueado</option>
						</select>
						
					</div>
				</div>

						    
						    
						    </div>
						    
			                <div class="form-actions align-right">
			                	<?php if ((isset($this->visualizar)) && ($this->visualizar)) : ?>
			                		<button onclick="window.history.back()" class="btn btn-danger cancelar" type="button">Voltar</button>
			                	<?php else : ?>
				                	<button class="btn btn-primary enviar" type="submit">Salvar</button>
				                	<button onclick="window.history.back()" class="btn btn-danger cancelar" type="button">Cancelar</button>
			                	<?php endif; ?>
			                </div>
						</div>
						<!-- /general form elements -->

					</fieldset> 

				</form>
				<!-- /basic inputs -->

		    </div>
		    <!-- /content wrapper -->

		</div>
		<!-- content -->
				
<script type="text/javascript" src="<?php echo $this->baseUrl('/public/scripts/admin/logisticassegurorevisoes_form.js') ?>"></script>
<script type="text/javascript">
	var form_values = {};
	
	<?php if (isset($this->post_var)) :  ?>
		form_values.idveiculo = '<?php echo (isset($this->post_var['idveiculo'])) ? $this->post_var['idveiculo'] : '' ?>';

form_values.seguro = '<?php echo (isset($this->post_var['seguro'])) ? $this->post_var['seguro'] : '' ?>';

form_values.revisao = '<?php echo (isset($this->post_var['revisao'])) ? $this->post_var['revisao'] : '' ?>';

form_values.status1 = '<?php echo (isset($this->post_var['status1'])) ? $this->post_var['status1'] : $this->post_var['status'] ?>';


	<?php endif; ?>

	visualizar = <?php echo  ((isset($this->visualizar)) && ($this->visualizar))  ? 'true' : 'false' ?>;
</script>
