		<!-- Content -->
		<div id="content">

		    <!-- Content wrapper -->
		    <div class="wrapper">

			    <!-- Breadcrumbs line -->
			    <div class="crumbs">
			    	<?php echo $this->render('/helpers/breadcrumb.phtml') ?>
			    </div>
			    <!-- /breadcrumbs line -->

			    <!-- Page header -->
			    <div class="page-header">
			    	<div class="page-title">
				    	<h5>Licenciamento, Seguro e Revisões no sistema.</h5>
				    	<span>Visualize os multas do sistema</span>
			    	</div>
			    	
			    </div>
			    <!-- /page header -->
			    
			    <?php if (isset($this->crudMessage)) : ?>
				<div class="alert alert-success">
                	<button data-dismiss="alert" class="close" type="button">×</button>
                    <strong>Operação realizada com sucesso!</strong>
	    			<span><br /><?php echo $this->crudMessage ?></span>
                </div>			    
			    <?php endif; ?>




	                        	                        
                <!-- Table with footer -->
                <div class="widget">
                	<form action="#" class="form-horizontal" method="post">
                		<input type="hidden" value="<?php echo (isset($this->post_var['sorting'])) ? $this->post_var['sorting'] : '' ?>" name="sorting" />
	                	<div class="navbar">
	                		<div class="navbar-inner">
	                			<h6>Visualizando registros</h6>
	                			<?php if (Mn_Util::isAccess($this->getController(), 'adicionar')) : ?>
	                			<a style="float:right;" href="<?php echo $this->baseUrl() ?>/<?php echo 'admin' ?>/<?php echo $this->getController() ?>/adicionar" class="btn btn-primary"><span class="icon-plus"></span>&nbsp;Adicionar</a>
	                			<?php endif; ?>
	                		</div>
	                	</div>
	                    <div class="table-overflow">
	                        <table class="table table-content">
	                            <thead>
	                                <tr>
	                                    <th width="20">#</th> 
                                    <th class="s-idveiculo sorting">Veículo</th>
                                    <th class="s-meslicenciamento_vencimento sorting">Licenciamento</th>
                                    <th class="s-seguradora sorting">Seguro</th>
				 <?php /*                  
				 				    <th class="s-datamulta sorting">Data da multa</th>
                                    <th class="s-horamulta sorting">Hora da multa</th>
                                    <th class="s-pago sorting">Pago</th>
				*/ ?>
                                    <th class="s-status sorting">Status</th>

	                                    <th width="96">Ações</th>
	                                </tr>
	                                <tr>
	                                    <th></th>

										 

										<th>
											<div>
												<select name="idveiculo" placeholder="Todos" class="select">
													<option value="">Todos</option>
													<?php foreach (Logisticafrotas::getLogisticafrotasHelper(array('status'=>'Ativo')) as $k=>$v) : ?>
														<option value="<?php echo $v['id'] ?>"><?php echo $v['placa'] ?></option>
													<?php endforeach;?>
												</select>
											</div>
										</th>

										<th><input name="meslicenciamento_vencimento" value="<?php echo (isset($this->post_var['meslicenciamento_vencimento'])) ? $this->post_var['meslicenciamento_vencimento'] : '' ?>" type="text" placeholder="Mês Licenciamento" class="span3"></th>
										<th><input name="seguradora" value="<?php echo (isset($this->post_var['seguradora'])) ? $this->post_var['seguradora'] : '' ?>" type="text" placeholder="Seguradora" class="span3"></th>
							 <?php /*  
										<th>
											<input name="datamulta_i" value="<?php echo (isset($this->post_var['datamulta_i'])) ? Mn_Util::formPostVarData($this->post_var['datamulta_i']) : '' ?>" type="text" placeholder="Data da multa inicial" class="span3">
											<input name="datamulta_f" value="<?php echo (isset($this->post_var['datamulta_f'])) ? Mn_Util::formPostVarData($this->post_var['datamulta_f']) : '' ?>" type="text" placeholder="Data da multa final" class="span3">
										</th>
										<th><input name="horamulta" value="<?php echo (isset($this->post_var['horamulta'])) ? $this->post_var['horamulta'] : '' ?>" type="text" placeholder="Hora da multa" class="span3"></th>

										<th>
											<div>
												<select name="pago" placeholder="Todos" class="select">
													<option value="">Todos</option>
													<option value="Sim">Sim</option><option value="Não">Não</option>
												</select>
											</div>
										</th>
							*/ ?>
 
										<th>
											<div>
												<select name="status1" placeholder="Todos" class="select">
													<option value="">Todos</option>
													<option value="Ativo">Ativo</option><option value="Bloqueado">Bloqueado</option>
												</select>
											</div>
										</th>

	                                    <th><button class="btn btn-mini btn-primary" type="submit">Pesquisar</button></th>
	                                </tr> 
	                                                                
	                            </thead>
	                            <tbody>
	                            	<?php if (sizeof($this->rows)==0) : ?>
	                                <tr>
	                                    <td colspan="9">Nenhum registro foi encontrado!</td>
	                                </tr>
	                            	
	                            	<?php else : ?>
	                            	<?php foreach ($this->rows as $row) : ?>
	                                <tr>
	                                	<td><?php echo $row['id'] ?></td>

 

										<td>
											<?php
												$___rows = Logisticafrotas::getLogisticafrotasHelper(array('id'=>$row['idveiculo']));
												$___row = (sizeof($___rows)>0) ? 	$___rows[0] : false;	
												
												echo ($___row) ? $this->formatTextoBranco($___row['marca']  . ' - ' .$___row['placa']) : '--';		
											?>
										</td>

										<td><?php echo $row['meslicenciamento_vencimento'] ?></td>
										<td><?php echo $row['seguradora'] ?></td>

								   <?php /*
										<td>
											<?php
												$___rows = Logisticatiposmultas::getLogisticatiposmultasHelper(array('id'=>$row['idtipomulta']));
												$___row = (sizeof($___rows)>0) ? 	$___rows[0] : false;	
												
												echo ($___row) ? $this->formatTextoBranco($___row['tipo']) : '--';		
											?>
										</td>
										<td><?php echo date('d/m/Y', strtotime($row['datamulta']))?></td>
										<td><?php echo $row['horamulta'] ?></td>
										<td><?php echo $row['pago'] ?></td>
									*/?>
										<td>
											<?php if (Mn_Util::isAccess($this->getController(), 'editar')) : ?>
												<a onclick="javascript:statusChange(<?php echo $row["id"]?>, this);" href="javascript:;"><?php echo $row['status'] ?></a>
											<?php else : ?>
												<?php echo $row['status'] ?>
											<?php endif; ?>
										</td>

			                				

	                                    <td>
	                                        <ul class="table-controls">
	                                            <li><a title="" class="btn tip" href="<?php echo $this->baseUrl() ?>/<?php echo 'admin' ?>/<?php echo $this->getController() ?>/visualizar/id/<?php echo $row['id'] ?>" data-original-title="Visualizar"><i class="icon-eye-open"></i></a> </li>
	                                            <?php if (Mn_Util::isAccess($this->getController(), 'editar')) : ?>
	                                            <li><a title="" class="btn tip" href="<?php echo $this->baseUrl() ?>/<?php echo 'admin' ?>/<?php echo $this->getController() ?>/editar/id/<?php echo $row['id'] ?>" data-original-title="Editar"><i class="icon-pencil"></i></a> </li>
	                                            <?php endif;?>
	                                            <?php if (Mn_Util::isAccess($this->getController(), 'excluir')) : ?>
	                                            <li><a title="" class="btn tip" href="javascript:confirmDelete('<?php echo $row['id']; ?>','registro');" data-original-title="Excluir"><i class="icon-remove"></i></a> </li>
	                                            <?php endif; ?>
	                                        </ul>
	                                    </td>
	                                </tr>
	                            	<?php endforeach;?>
	                            	
	                            	
	                            	
	                            	
	                            	<?php endif; ?>
	
	                            </tbody>
	                        </table>
	                    </div>
	                    <?php echo $this->render('/helpers/paginator.phtml') ?>
                    
                    </form>

                </div>
                <!-- /table with footer -->
	                        


		    </div>
		    <!-- /content wrapper -->
 
		</div>
		<!-- content -->
		
		
<script type="text/javascript" src="<?php echo $this->baseUrl('/public/scripts/admin/logisticamultas_index.js') ?>"></script>
<script type="text/javascript">

	var form_values = {};
	<?php if (isset($this->post_var)) :  ?>
form_values.idmotorista = '<?php echo (isset($this->post_var['idmotorista'])) ? $this->post_var['idmotorista'] : '' ?>';

form_values.idfrota = '<?php echo (isset($this->post_var['idfrota'])) ? $this->post_var['idfrota'] : '' ?>';

form_values.idtipomulta = '<?php echo (isset($this->post_var['idtipomulta'])) ? $this->post_var['idtipomulta'] : '' ?>';

form_values.idcidade = '<?php echo (isset($this->post_var['idcidade'])) ? $this->post_var['idcidade'] : '' ?>';

form_values.pago = '<?php echo (isset($this->post_var['pago'])) ? $this->post_var['pago'] : '' ?>';

form_values.status1 = '<?php echo (isset($this->post_var['status1'])) ? $this->post_var['status1'] : $this->post_var['status'] ?>';

	
	<?php endif; ?>

	var sorting = ["idmotorista", "idfrota", "idtipomulta", "ocorrenciamulta", "pontuacaomulta", "datamulta", "horamulta", "datavencimentomulta", "valormulta", "pago", "status"];
	
</script>	


