		<!-- Content -->
		<div id="content">

		    <!-- Content wrapper -->
		    <div class="wrapper">

			    <!-- Breadcrumbs line -->
			    <div class="crumbs">
			    	<?php echo $this->render('/helpers/breadcrumb.phtml') ?>
			    </div>
			    <!-- /breadcrumbs line -->

			    <!-- Page header -->
			    <div class="page-header">
			    	<div class="page-title">
				    	<h5>Dashboard Aluno</h5>
				    	<span>Bem vindo!</span>
			    	</div>
			    </div>
			    <!-- /page header -->

			    <!-- Action tabs -->
			    
		    </div>
		    <!-- /content wrapper -->

		</div>
		<!-- /content -->


<?php /*?>


<div class="contentpanel">

	<div class="row">
			
        <div class="panel-body">        
			<div class="panel-heading" style="position:relative;">
				<table width="100%">
					<tr>
						<td width="50%"><h4 class="panel-title">Últimos Comunicados Cadastrados</h4></td>
					</tr>
				</table>
				
				<br />
				
				<div class="table-responsive">
					
	                <table class="table table-primary mb30">
	                	<thead>
	                		<tr>
	                			<th width="20">&nbsp;</th>
	                			<th width="220">Publicação</th>            			
	                			<th>Descrição</th>
	                			<th width="120">Status</th>
	                			<th style="width:68px">Ações</th>
	                		</tr>
	                	</thead>
	                	<tbody>
	                	   	<?php if (sizeof($this->comunicados)==0) : ?>
	                		<tr>
	                			<td colspan="6">Nenhum registro foi encontrado</td>
	                		</tr>
	                		<?php endif;?>
	                		<?php foreach ($this->comunicados as $i=>$comunicado) : ?>
								<tr>
	                				<td>
	                					<?php echo $i+1 ?>
	                					<input type="hidden" name=id[] value="<?php echo $comunicado['id'] ?>" />
                					</td>
	                				<td><?php echo $this->cortaPalavra(200, $comunicado['titulo']) ?></td>
	                				<td><?php echo $this->cortaPalavra(200, $comunicado['descricoes']) ?></td>
	                				
	                				<td>
                						<?php echo $comunicado['status'] ?>	
	                				</td>
	                				
	                				<td class="table-action">
	                					
	                					<?php if (Mn_Util::isDefaultAccess('comunicados', 'editar')) : ?>
	                					<a href="<?php echo $this->baseUrl() ?>/comunicados/editar/id/<?php echo $comunicado['id'] ?>"><i class="fa fa-pencil"></i></a>
	                					<?php endif;?>
	                				</td>
	                			</tr>
	                		<?php endforeach;?> 
	                	</tbody>
	                </table>
	                
	            </div><!-- table-responsive -->				
				
			</div>        
        
            
        </div>
	</div>
        
</div>
<?php */?>