<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">
  <link href="<?php echo $this->baseUrl() ?>/public/admin/css/modal.css" rel="stylesheet">
  <link rel="shortcut icon" href="<?php echo $this->baseUrl() ?>/public/admin/<?php echo $this->baseUrl() ?>/public/admin/images/favicon.png" type="image/png">

  <title>Prefeituta Municipal de Itaquaquecetuba - Painel Administrativo</title>


  
  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
  <script src="<?php echo $this->baseUrl() ?>/public/admin/js/html5shiv.js"></script>
  <script src="<?php echo $this->baseUrl() ?>/public/admin/js/respond.min.js"></script>
  <![endif]-->
  
	<script src="<?php echo $this->baseUrl() ?>/public/admin/js/jquery-1.10.2.min.js"></script>
	<script src="<?php echo $this->baseUrl() ?>/public/admin/js/jquery-migrate-1.2.1.min.js"></script>
	<script src="<?php echo $this->baseUrl() ?>/public/admin/js/jquery-ui-1.10.3.min.js"></script>
	<script src="<?php echo $this->baseUrl() ?>/public/admin/js/bootstrap.min.js"></script>
	<script src="<?php echo $this->baseUrl() ?>/public/admin/js/modernizr.min.js"></script>
	<script src="<?php echo $this->baseUrl() ?>/public/admin/js/jquery.sparkline.min.js"></script>
	<script src="<?php echo $this->baseUrl() ?>/public/admin/js/toggles.min.js"></script>
	<script src="<?php echo $this->baseUrl() ?>/public/admin/js/retina.min.js"></script>
	<script src="<?php echo $this->baseUrl() ?>/public/admin/js/jquery.cookies.js"></script>
	<script src="<?php echo $this->baseUrl() ?>/public/admin/js/jquery.datetimepicker.min.js"></script>
	
	<script src="<?php echo $this->baseUrl() ?>/public/admin/js/morris.min.js"></script>
	<script src="<?php echo $this->baseUrl() ?>/public/admin/js/raphael-2.1.0.min.js"></script>
	
	<script src="<?php echo $this->baseUrl() ?>/public/scripts/jquery-validation/dist/jquery.validate.min.js"></script>
	<script src="<?php echo $this->baseUrl() ?>/public/scripts/jquery-validation/dist/localization/messages_pt_BR.min.js"></script>
	
	<script src="<?php echo $this->baseUrl() ?>/public/scripts/jquery.alerts/jquery.alerts.js"></script>	
	<script src="<?php echo $this->baseUrl() ?>/public/scripts/jquery.maskedinput.min.js"></script>
	<script src="<?php echo $this->baseUrl() ?>/public/scripts/cpf_cnpj.js"></script>
	<script src="<?php echo $this->baseUrl() ?>/public/scripts/jquery.numeric.min.js"></script>
	<script src="<?php echo $this->baseUrl() ?>/public/scripts/jquery.price_format.2.0.min.js"></script>
	
	<script src="<?php echo $this->baseUrl() ?>/public/admin/js/custom.js"></script>
	
	
	<script src="<?php echo $this->baseUrl() ?>/public/scripts/funcoes.js"></script>
	<script type="text/javascript">
		$(document).ready(function() {
			$('a.<?php echo $this->getController() ?>').trigger('click');
			$('a.<?php echo $this->getController() ?>').closest('li').addClass('active');
			$('li.<?php echo $this->getController() ?>').addClass('active');
			$('li.<?php echo $this->getAction() ?>').addClass('active');
		});
 
		var controller = '<?php echo $this->getController() ?>';
		var action = '<?php echo $this->getAction() ?>';
		var baseUrl = '<?php echo $this->baseUrl() ?>';

		
	</script>    
  
</head>

<body style="text-align: center">
<script src="<?php echo $this->baseUrl()?>/public/scripts/Chart.js-master/Chart.js"></script>

							<div id="canvas-holder_3">
								<canvas id="chart-area" width="160" height="160"/>
							</div>
						

<script type="text/javascript">
$(document).ready(function() {	
    var data = [
        		{value: <?php echo (int)$this->chamadostecnicosabertos ?>,
        				color:"#0056c0",
        				highlight: "#3b93ff",
        				label: "Abertos "
        			},			           		           		           					
        			{
        				value: <?php echo (int)$this->chamadostecnicospendente ?>,
        				color:"#d6ca00",
        				highlight: "#faec00",
        				label: "Pendente "
        			},			           		           		           					
        			{
        				value: <?php echo (int)$this->chamadostecnicoscancelado ?>,
        				color:"#ab0000",
        				highlight: "#d40000",
        				label: "Cancelado "
        			},			           		           		           					
        			{
        				value: <?php echo (int)$this->chamadostecnicosencerrado ?>,
        				color:"#6aa84f",
        				highlight: "#58A000",
        				label: "Encerrado"
        			}			
                    ];

            window.onload = function(){
        	    var ctx = document.getElementById("chart-area").getContext("2d");
        	    var doughnutChart = new Chart(ctx).Doughnut(data);
            }
	
});
</script>
</body>
</html>

