<?php 
	include_once BASE_PATH . '/public/scripts/ckeditor/ckeditor.php';
	require_once BASE_PATH . '/public/scripts/ckfinder/ckfinder.php';
	
	$ckeditor = new CKEditor();
	$ckeditor->basePath	= $this->baseUrl('/public/scripts/ckeditor/');
	
	$ckfinder = $this->baseUrl('/public/scripts/ckfinder/');
	
	CKFinder::SetupCKEditor($ckeditor, $ckfinder);
?>

<div class="contentpanel">

	<div class="panel panel-default">
	
		<div class="panel-heading">
			
			<?php if (isset($this->erros)) :  ?>
			<div class="alert alert-danger">
				<button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
				<strong>Erro!</strong> 
				<?php foreach ($this->erros as $erro) : ?>
				<br /><?php echo $erro?>
				<?php endforeach;?>
			</div>				
			
			<?php endif;?>
			
			<h4 class="panel-title">Formulário do chamado</h4>
			<p>Informe os dados do chamado.</p>
        </div>
        <div class="panel-body panel-body-nopadding">
        
				
        
        	<form id="form" name="form" method="post" class="form-horizontal form-bordered">
        		<input type="hidden" value="<?php echo (isset($this->post_var)) ? $this->post_var["id"] : ''; ?>" name="id" id="id" />

        		<div class="form-group">
        			<label class="col-sm-3 control-label">Data de Abertura *</label>
        			<div class="col-sm-6" style="padding-top: 10px;">
        				<?php if($this->getAction()=='adicionar') : ?>
        					<?php echo date('d/m/Y') ?> <?php echo date('G:i') ?>
        				<?php else: ?>
	        				<?php echo date('d/m/Y', strtotime($this->post_var['datacriacao'])) ?>  <?php echo date('G:i', strtotime($this->post_var['datacriacao'])) ?>
        				<?php endif;?>
        				
					</div>
				</div>	
						
        		<div class="form-group">
        			<label class="col-sm-3 control-label">Pergunta *</label>
        			<div class="col-sm-6">
        				<?php if((isset($this->post_var['id'])) && ($this->post_var['id'] > 0)): ?>
        				<input name="pergunta" value="<?php echo (isset($this->post_var['pergunta'])) ? $this->post_var['pergunta'] : '' ?>" type="text" class="form-control" placeholder="pergunta" readonly="readonly" />
        				<?php else:?>
        				<input name="pergunta" value="<?php echo (isset($this->post_var['pergunta'])) ? $this->post_var['pergunta'] : '' ?>" type="text" class="form-control" placeholder="pergunta">
        				<?php endif;?>
					</div>
				</div>	
				
				<div class="form-group">
					<label class="col-sm-3 control-label">
						Descrições 
					</label>
					<div class="col-sm-6">
						<?php if (((isset($this->visualizar)) && ($this->visualizar)) || ((isset($this->post_var['id'])) && ($this->post_var['id'] > 0))) : ?>
						<div style="padding-top:10px"><?php echo $this->post_var['texto']; ?></div>
						<?php else : ?>
						<?php $value1 = (isset($this->post_var['texto'])) ? $this->post_var['texto'] : ''; ?>
						<?php $ckeditor->editor('texto', $value1); ?>
						<?php endif;?>
					</div>
				</div>
				<?php //endif;?>
				
				
				<?php if($this->post_var): ?>
	        	<div>
	        		<div class="panel-heading" style="position:relative;">
						<div class="table-responsive">
						
				                <table class="table table-primary mb30">
				                	<thead>					                	
				                		<tr>
				                			<th width="220">Professor/Secretaria</th>
				                			<th width="220">Aluno</th>    
				                			<th width="160">Data</th>           			
				                			<th>Mensagem</th> 
				                		</tr>
				                	</thead>
				                	<tbody>
										
										<tr class="line">
			                				<td>
			                					<?php if($this->post_var['destinatario']==Perguntas::$_DESTINATORIO_PROFESSOR):?>
		                							<?php echo Escolasusuarios::getNomeByIdHelper($this->post_var['idescolasusuario']); ?>
	                							<?php elseif($this->post_var['destinatario']==Perguntas::$_DESTINATORIO_ALUNO) :?>
		                							<?php echo Escolasalunos::getNomeByIdHelper($this->post_var['idescolaaluno']); ?>
	                							<?php elseif($this->post_var['destinatario']==Perguntas::$_DESTINATORIO_SECRETARIA) :?>
                										<?php $d_epartamento = Departamentos::getDepartamentoByIdHelper($this->post_var['idsecretaria']) ?>
														<?php echo ($d_epartamento['departamento']) ? $d_epartamento['departamento'] : '--'?>
		                						<?php endif;?>
		                					</td>
			                				<td>
			                					<?php $nome = "";?>
			                					<?php if((int)$this->post_var['idescolaaluno'] > 0) : ?>
			                						<?php echo Escolasalunos::getNomeByIdHelper($this->post_var['idescolaaluno']); ?>
		                						<?php else: ?>
		                							--
		                						<?php endif;?>
		                					</td>
			                				<td>
			                					<?php echo date('d/m/Y', strtotime($this->post_var['logdata'])) ?><br/>
			                					<?php echo date('G:i', strtotime($this->post_var['logdata'])) ?>
		                					</td>
			                				<td><?php echo $this->post_var['resposta'] ?></td>
				                		</tr>
				                			
				                			<?php if(sizeof($this->historicos) > 0 ): ?>
				                			<?php foreach ($this->historicos as $i=>$row) : ?>											
											<tr class="line">
				                				<td>
				                					<?php if($row['origem']==Perguntas::$_DESTINATORIO_PROFESSOR):?>
			                							<?php echo Escolasusuarios::getNomeByIdHelper($this->post_var['idescolasusuario']); ?>
		                							<?php elseif($row['origem']==Perguntas::$_DESTINATORIO_ALUNO) :?>
			                							<?php echo Escolasalunos::getNomeByIdHelper($this->post_var['idescolaaluno']); ?>
		                							<?php elseif($row['origem']==Perguntas::$_DESTINATORIO_SECRETARIA) :?>
		                								<?php $d_epartamento = Departamentos::getDepartamentoByIdHelper($row['idsecretaria']) ?>
														<?php echo ($d_epartamento['departamento']) ? $d_epartamento['departamento'] : '--'?>
			                						<?php endif;?>
			                					</td>											
				                				<td>
				                					<?php $nome = "";?>
				                					<?php if((int)$row['idescolaaluno'] > 0) : ?>
				                						<?php echo Escolasalunos::getNomeByIdHelper($row['idescolaaluno']); ?>
			                						<?php else: ?>
			                							--
			                						<?php endif;?>
			                					</td>
				                				<td>
				                					<?php echo date('d/m/Y', strtotime($row['logdata'])) ?><br/>
				                					<?php echo date('G:i', strtotime($row['logdata'])) ?>
			                					</td>
				                				<td>
				                					<?php if($i>=0) : ?>
				                						<?php echo $row['resposta'] ?>
			                						<?php else: ?>
			                							<?php echo $row['texto'] ?>
			                						<?php endif;?>
			                					</td>
				                			</tr>
				                			<?php endforeach;?> 
				                			<?php endif; ?>
				                		
				                		
				                		
				                	</tbody>
				                </table>
				               
				            </div><!-- table-responsive -->	
	        		</div>
	        	</div>
	        	<?php endif; ?>
				
				<?php if($this->getAction()=='editar') : ?>
				<div class="form-group">
					<label class="col-sm-3 control-label">
						Resposta 
					</label>
					<div class="col-sm-6">
						<?php if ((isset($this->visualizar)) && ($this->visualizar)) : ?>
						<div style="padding-top:10px"><?php echo $this->post_var['resposta']; ?></div>
						<?php else : ?>
						<?php $value1 = (isset($this->post_var['resposta'])) ? $this->post_var['resposta'] : ''; ?>
						<?php $ckeditor->editor('resposta', ''); ?>
						<?php endif;?>
					</div>
				</div>
				<?php endif;?>
				
				
				<?php if($this->getAction()=='editar') : ?>
        		<div class="form-group">
        			<label class="col-sm-3 control-label">Departamento *</label>
        			<div class="col-sm-6" style="padding-top:10px">
        				<input type="hidden" value="<?php echo (isset($this->post_var['idsecretaria'])) ? $this->post_var["idsecretaria"] : ''; ?>" name="idsecretaria" id="idsecretaria" />
        				<?php $departamento = Departamentos::getDepartamentoByIdHelper($this->post_var['idsecretaria']) ?>
						<?php echo ($departamento['departamento']) ? $departamento['departamento'] : '--'?>
					</div>
				</div>
				<?php else:?>
        		<div class="form-group">
        			<label class="col-sm-3 control-label">Departamento *</label>
        			<div class="col-sm-6">
        				<select id="idsecretaria" name="idsecretaria" class="form-control">
        					<option value="">Selecione...</option>
        					<?php foreach ($this->departamentos as $d=>$departamento) : ?>
        					<option value="<?php echo $departamento['id'] ?>"><?php echo $departamento['departamento'] ?></option>
        					<?php endforeach;?>
						</select>        				
					</div>
				</div>
				<?php endif;?>				
				

				
				
				<div class="panel-footer">
					<div class="row">
						<div class="col-sm-6 col-sm-offset-3">
							<?php if ((isset($this->visualizar)) && ($this->visualizar)) : ?>
							<button type="button" onclick="window.history.back()" class="btn btn-default">Voltar</button>
							<?php else : ?>
							<button class="btn btn-primary">Salvar</button>&nbsp;
							<button type="button" onclick="location.href='<?php echo $this->baseUrl() ?>/<?php echo $this->getController()?>'" class="btn btn-default">Cancelar</button>
							<?php endif;?>
						</div>
					</div>
				</div><!-- panel-footer -->				
				
			</form>
          
		</div><!-- panel-body -->
	</div>
</div>
<script type="text/javascript" src="<?php echo $this->baseUrl('/public/scripts/alunos/perguntassecretaria_form.js') ?>"></script>

<script type="text/javascript">
	var form_values = {};
	<?php if (isset($this->post_var['idtipo'])) :  ?>
	form_values.idtipo = '<?php echo (isset($this->post_var['idtipo'])) ? $this->post_var['idtipo'] : $this->post_var['idtipo'] ?>';
	<?php endif; ?>

	<?php if (isset($this->post_var['idsecretaria'])) :  ?>
	form_values.idsecretaria = '<?php echo (isset($this->post_var['idsecretaria'])) ? $this->post_var['idsecretaria'] : '' ?>';
	<?php endif; ?>
</script>

