<div class="contentpanel">

	<div class="row">
	
        <div class="panel-body">
        

			<div class="panel panel-default">
				<div class="panel-heading">
					<div class="panel-btns">
						<?php if ($this->isMinimize()) : ?>
						<a  href="javascript:;" class="minimize" onclick="setMinimize('sim')">−</a>
						<?php else : ?>
						<a href="javascript:;" class="minimize maximize" onclick="javascript:$('select').closest('div').find('.chosen-container').css('width', '100%');setMinimize('nao')">+</a>
						<?php endif; ?>
					</div>
					<h4 class="panel-title">Filtro</h4>
					<p>Use o formulário para filtrar de acordo com os critérios disponíveis</p>
				</div>        
				<div class="panel-body" style="display: <?php echo ($this->isMinimize()) ? 'block' : 'none' ?>;">
		        	<form id="form" name="form" method="post" class="form-horizontal form-bordered">
		        	
		        		<div class="form-group">
		        			<label class="col-sm-3 control-label">Palavra Chave</label>
		        			<div class="col-sm-6">
		        				<input name="chave" value="<?php echo (isset($this->post_var['chave'])) ? $this->post_var['chave'] : '' ?>" type="text" class="form-control" placeholder="">
							</div>
						</div>
						
		        		<div class="form-group">
		        			<label class="col-sm-3 control-label">Status</label>
		        			<div class="col-sm-6">
		        				<select id="status1" name="status" class="form-control">
		        					<option value="">Todos</option>
		        					<option value="Ativo">Ativo</option>
		        					<option value="Bloqueado">Bloqueado</option>
								</select>        				
							</div>
						</div>				
		
						
						<div class="panel-footer">
							<div class="row">
								<div class="col-sm-6 col-sm-offset-3">
									<button class="btn btn-warning">Pesquisar</button>&nbsp;
								</div>
							</div>
						</div><!-- panel-footer -->				
						
					</form>              
              
              
            	</div>	
            </div>        
        
			<?php /*?>
			<div class="panel panel-default">
				<div class="panel-heading">
					<div class="panel-btns">
						<?php if ($this->isMinimize()) : ?>
						<a  href="javascript:;" class="minimize" onclick="setMinimize('sim')">−</a>
						<?php else : ?>
						<a href="javascript:;" class="minimize maximize" onclick="javascript:$('select').closest('div').find('.chosen-container').css('width', '100%');setMinimize('nao')">+</a>
						<?php endif; ?>
					</div> 
					<h4 class="panel-title">Gráficos</h4>
				</div>       
				<div class="panel-body" style="display: <?php echo ($this->isMinimize()) ? 'block' : 'none' ?>;">
		        		<div class="form-group">
		        			<label class="col-sm-3 control-label">Tipos de Gráficos</label>
		        			<div class="col-sm-6">
		        				<table width="100%" cellpadding="4" cellspacing="0" border="0">
		        					<tr>
		        						<th width="25%" align="center">Gráfico de Pizza</th>
		        						<th width="25%" align="center">Gráfico de Rosca</th>
		        						<th width="25%" align="center">Gráfico de Radar</th>
		        						<th width="25%" align="center">Gráfico de Barras</th>
		        					</tr>
		        					<tr>
		        						<td align="center">
		        				<a href="javascript:;" onclick="setGrafico('pizza')"><img src="<?php echo $this->baseUrl('/public/default/images/')?>grafico-pizza.png" /></a>
		        						</td>
		        						<td align="center">
		        				<a href="javascript:;" onclick="setGrafico('rosca')"><img src="<?php echo $this->baseUrl('/public/default/images/')?>grafico-rosca.png" /></a>
		        						</td>
		        						<td align="center">
		        				<a href="javascript:;" onclick="setGrafico('polar')"><img src="<?php echo $this->baseUrl('/public/default/images/')?>grafico-polar.png" /></a>
		        						</td>
		        						<td align="center">
		        				<a href="javascript:;" onclick="setGrafico('barras')"><img src="<?php echo $this->baseUrl('/public/default/images/')?>grafico-barras.png" /></a>
		        						</td>
		        					</tr>
	        					</table>
							</div>
						</div>
            	</div>
            	
            </div>
        	<?php */?>
        	
        		
			<div class="panel-heading" style="position:relative;">
			
				<?php if (isset($this->crudMessage)) : ?>
				<div class="alert alert-success">
                	<button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                	<strong>Sucesso!</strong> <?php echo $this->crudMessage ?>.
              	</div>
              	<?php endif; ?>
			
				<table width="100%">
					<tr>
						<td width="50%"><h4 class="panel-title">Perguntas cadastradas no sistema</h4></td>
						<td width="50%" align="right"><a href="<?php echo $this->baseUrl() ?>/alunos/<?php echo $this->getController() ?>/adicionar" class="btn btn-primary">Adicionar nova Pergunta</a></td>
					</tr>
				</table>
				
				<br />
				
				<div class="table-responsive">
					
	                <table class="table table-primary mb30">
	                	<thead>
	                		<tr>
	                			<th width="20">&nbsp;</th>
	                			<th width="100">Data</th>             			
	                			<th width="200">Pergunta</th>
	                			<th>Descrições</th>
	                			<th style="width:74px">Ações</th>
	                		</tr>
	                	</thead>
	                	<tbody>
	                	   	<?php if (sizeof($this->rows)==0) : ?>
	                		<tr>
	                			<td colspan="4">Nenhum registro foi encontrado</td>
	                		</tr>
	                		<?php endif;?>
	                		<?php foreach ($this->rows as $i=>$row) : ?>
								<tr class="line">
	                				<td>
	                					<?php echo $i+1 ?>
	                					<input type="hidden" name=id[] value="<?php echo $row['id'] ?>" />
                					</td>
	                				<td>
	                					<?php echo date('d/m/Y', strtotime($row['datacriacao'])) ?>
                					</td>
	                				<td><?php echo $this->cortaPalavra(200, $row['pergunta']) ?></td>
	                				<td><?php echo $this->cortaPalavra(200, $row['texto']) ?></td>
	                				
	                				<td class="table-action">	                					
	                					<a href="<?php echo $this->baseUrl() ?>/alunos/<?php echo $this->getController() ?>/visualizar/id/<?php echo $row['id'] ?>"><i class="fa  fa-eye"></i></a>
	                					<a href="<?php echo $this->baseUrl() ?>/alunos/<?php echo $this->getController() ?>/editar/id/<?php echo $row['id'] ?>"><i class="fa fa-pencil"></i></a>
	                					
	                					<?php /*if (Mn_Util::isDefaultAccess($this->getController(), 'excluir')) : ?>
	                					<a class="delete-row" href="javascript:confirmDelete('<?php echo $row['id']; ?>','registro');"><i class="fa fa-trash-o"></i></a>
	                					<?php endif;*/ ?>
	                				</td>
	                			</tr>
	                		<?php endforeach;?> 
	                	</tbody>
	                </table>
	                <?php echo $this->render('/helpers/paginator.phtml') ?>
	            </div><!-- table-responsive -->				
				
			</div>        
        
            
        </div>

	</div>
        
</div>
	<script src="<?php echo $this->baseUrl() ?>/public/scripts/jquery.fancybox/jquery.fancybox.js"></script>
	<script src="<?php echo $this->baseUrl() ?>/public/scripts/jquery.fancybox/jquery.easing.js"></script>
	<script src="<?php echo $this->baseUrl() ?>/public/scripts/jquery.fancybox/jquery.mousewheel.js"></script>
	<script src="<?php echo $this->baseUrl() ?>/public/admin/js/jquery.ui.touch-punch.min.js"></script>
<script type="text/javascript" src="<?php echo $this->baseUrl('/public/scripts/alunos/perguntas_index.js') ?>"></script>
<script type="text/javascript">

	var form_values = {};
	<?php if (isset($this->post_var['status'])) :  ?>
	form_values.status = '<?php echo (isset($this->post_var['status'])) ? $this->post_var['status'] : $this->post_var['status'] ?>';
	<?php endif; ?>

</script>