<script src="<?php echo $this->baseUrl()?>/public/scripts/Chart.js-master/Chart.js"></script>

<div id="content-graficos">
	<div class="box">		 
		<div class="grafico-pizza">
			<h1>Chamados de TI</h1>
			
			<table width="100%" cellpadding="0" cellspacing="0" border="0">
				<td class="col1">
					<div class="legenda">
						<table width="100%" cellpadding="4" cellspacing="0" border="1">
							<tr>		
								<td class="titulo"> 
									Abertos
								</td>							
								<td width="45" class="number">
									<div style="background-color:#0056c0;"><?php echo (int)$this->abertos ?></div>
								</td>
							</tr>
							
							<tr>		
								<td class="titulo"> 
									Pendente
								</td>							
								<td width="45" class="number">
									<div style="background-color:#d6ca00;"><?php echo (int)$this->pendente ?></div>
								</td>
							</tr>
							
							<tr>		
								<td class="titulo"> 
									Cancelados
								</td>							
								<td width="45" class="number">
									<div style="background-color:#ab0000;"><?php echo (int)$this->cancelado ?></div>
								</td>
							</tr>
							
							<tr>		
								<td class="titulo"> 
									Encerrados
								</td>							
								<td width="45" class="number">
									<div style="background-color:#6aa84f;"><?php echo (int)$this->encerrado ?></div>
								</td>
							</tr>
						</table>
					</div>
				</td>
				<td>
					<div id="canvas-holder">
						<canvas id="chart-area" width="360" height="360"/>
					</div>
				</td>
			</table>
		</div>
	</div>
</div>

<script type="text/javascript">
$(document).ready(function() {
	$('#ui-datepicker-div').css("display", "none");
	<?php if($this->tipo == "rosca") : ?>
	console.log('tipo:  <?php echo $this->tipo ?>');
	doughnutChart();
	<?php elseif($this->tipo == "polar") : ?>
	polarDataChart();
	<?php elseif($this->tipo == "barras") : ?>
	barChart();	
	<?php else: ?>
	setPizza();
	<?php endif;?>
});

function setPizza(){	
	var pieData = [
           	{value: <?php echo (int)$this->abertos ?>,
				color:"#0056c0",
				highlight: "#3b93ff",
				label: "Abertos "
			},			           		           		           					
			{
				value: <?php echo (int)$this->pendente ?>,
				color:"#d6ca00",
				highlight: "#faec00",
				label: "Pendente "
			},			           		           		           					
			{
				value: <?php echo (int)$this->cancelado ?>,
				color:"#ab0000",
				highlight: "#d40000",
				label: "Cancelado "
			},			           		           		           					
			{
				value: <?php echo (int)$this->encerrado ?>,
				color:"#6aa84f",
				highlight: "#58A000",
				label: "Encerrado"
			}						

		];
		
	
		window.onload = function(){
			var ctx = document.getElementById("chart-area").getContext("2d");
			window.myPie = new Chart(ctx).Pie(pieData);
		}
}

function doughnutChart() {
    var data = [
		{value: <?php echo (int)$this->abertos ?>,
				color:"#0056c0",
				highlight: "#3b93ff",
				label: "Abertos "
			},			           		           		           					
			{
				value: <?php echo (int)$this->pendente ?>,
				color:"#d6ca00",
				highlight: "#faec00",
				label: "Pendente "
			},			           		           		           					
			{
				value: <?php echo (int)$this->cancelado ?>,
				color:"#ab0000",
				highlight: "#d40000",
				label: "Cancelado "
			},			           		           		           					
			{
				value: <?php echo (int)$this->encerrado ?>,
				color:"#6aa84f",
				highlight: "#58A000",
				label: "Encerrado"
			}			
            ];

    window.onload = function(){
	    var ctx = document.getElementById("chart-area").getContext("2d");
	    var doughnutChart = new Chart(ctx).Doughnut(data);
    }
}

function polarDataChart() {
	   var polarData = [
		       		{value: <?php echo (int)$this->abertos ?>,
		       				color:"#0056c0",
		       				highlight: "#3b93ff",
		       				label: "Abertos "
		       			},			           		           		           					
		       			{
		       				value: <?php echo (int)$this->pendente ?>,
		       				color:"#d6ca00",
		       				highlight: "#faec00",
		       				label: "Pendente "
		       			},			           		           		           					
		       			{
		       				value: <?php echo (int)$this->cancelado ?>,
		       				color:"#ab0000",
		       				highlight: "#d40000",
		       				label: "Cancelado "
		       			},			           		           		           					
		       			{
		       				value: <?php echo (int)$this->encerrado ?>,
		       				color:"#6aa84f",
		       				highlight: "#58A000",
		       				label: "Encerrado"
		       			}			
                   ];

		window.onload = function(){
			var ctx = document.getElementById("chart-area").getContext("2d");
			window.myPolarArea = new Chart(ctx).PolarArea(polarData, {
				responsive:true
			});
		};
}

function barChart() {
	var barData = {
		    labels: ['Total'],
		    datasets: [
		        {
		            label: 'Abertos',
		            fillColor: '#3b93ff',
		            data: [<?php echo (int)$this->abertos ?>]
		        },
		        {
		            label: 'Pendente',
		            fillColor: '#faec00',
		            data: [<?php echo (int)$this->pendente ?>]
		        },
		        {
		            label: 'Cancelado',
		            fillColor: '#d40000',
		            data: [<?php echo (int)$this->cancelado ?>]
		        },
		        {
		            label: 'Encerrado',
		            fillColor: '#58A000',
		            data: [<?php echo (int)$this->encerrado ?>]
		        }
		    ]
		};

		window.onload = function(){
			var ctx = document.getElementById("chart-area").getContext("2d");
			var clientsChart = new Chart(ctx).Bar(barData);
		}
}
</script>