		<!-- Content -->
		<div id="content">

		    <!-- Content wrapper -->
		    <div class="wrapper">

			    <!-- Breadcrumbs line -->
			    <div class="crumbs">
			    	<?php echo $this->render('/helpers/breadcrumb.phtml') ?>
			    </div>
			    <!-- /breadcrumbs line -->

			    <!-- Page header -->
			    <div class="page-header">
			    	<div class="page-title">
				    	<h5>Formulário do avaliação de desempenho profissional</h5>
				    	<span>Verifique os campos e preencha com os dados</span>
			    	</div>
			    </div>
			    <!-- /page header -->

			    <?php if (isset($this->crudMessage)) : ?>
					<div class="alert alert-success">
	                	<button data-dismiss="alert" class="close" type="button">×</button>
	                    <strong>Operação realizada com sucesso!</strong>
		    			<span><br /><?php echo $this->crudMessage ?></span>
	                </div>			    
			    <?php endif; ?>

				<form id="form" name="form" action="" method="post" class="form-horizontal" enctype="multipart/form-data"> 
					<input type="hidden" value="<?php echo (isset($this->post_var)) ? $this->post_var["id"] : ''; ?>" name="id" id="id" />
					
					<fieldset>
						<!-- General form elements -->
						<div class="widget row-fluid">
						    <div class="navbar">
						        <div class="navbar-inner">
						            <h6>Digite as informações do formulário</h6>
						        </div>
						    </div>

						    <div class="well">
								<?php if (isset($this->erros)) : ?>
									<div class="alert alert-error margin">
				                        <button data-dismiss="alert" class="close" type="button">×</button>
				                        <strong>Há erros no formulário!</strong>
					    				<?php foreach ($this->erros as $k=>$v) : ?>
					    					<span><br />- <?php echo $v ?></span>
					    				<?php endforeach;?>			                        
				                    </div>
			                    <?php endif; ?>						    
						    
                <?php $idescola = Usuarios::getUsuario('idescola'); ?>
				<?php $idlocal = Usuarios::getUsuario('idlocal'); ?>
				<?php if(($idescola>0) || ($idlocal>0)): ?>		    
				<div class="control-group">
					<div class="controls1 visualizar">
						<table class="table table-content" width="100%">
							<tbody>
								<tr>
									<input maxlength="500" placeholder="Nome do Usuário" name="idusuario" value="<?php echo Usuarios::getUsuario('id') ?>" type="hidden"  class="span3" />
									<input  placeholder="Data de lançamento" name="datalancamento" value="<?php echo (isset($this->post_var['datalancamento'])) ? Mn_Util::formPostVarData($this->post_var['datalancamento']) : date('d/m/Y') ?>" type="hidden"  class="span3" />
									<input maxlength="500" placeholder="Nome do Usuário" name="idlocal" value="<?php echo Usuarios::getUsuario('idlocal') ?>" type="hidden"  class="span3" />
									<input maxlength="500" placeholder="Nome do Usuário" name="idescola" value="<?php echo Usuarios::getUsuario('idescola') ?>" type="hidden"  class="span3" />

									<td width="33%">Nome do Usuário: <?php echo Usuarios::getUsuario('nomerazao') . " - " . Usuarios::getUsuario('rgf') ?></td>
									<td width="34%">Data da Abertura: <?php echo date('d/m/Y') ?></td>
									<td width="33%">Escola: <?php 
											$local = Escolas::getEscolaByIdHelper(Usuarios::getUsuario('idescola')); 
											echo ((isset($local['escola'])) && ($local['escola']) && ($local['escola']!="") ) ? $local['escola'] : '';
										?>
											
									</td>
								</tr>
							</tbody>
						</table>
						
					</div>
				</div>
				<?php else: ?>
				<div class="control-group">
					<div class="controls1 visualizar">
						<table class="table table-content" width="100%">
							<tbody>
								<tr>
									<input maxlength="500" placeholder="Nome do Usuário" name="idusuario" value="<?php echo Usuarios::getUsuario('id') ?>" type="hidden"  class="span3" />
									<input  placeholder="Data de lançamento" name="datalancamento" value="<?php echo (isset($this->post_var['datalancamento'])) ? Mn_Util::formPostVarData($this->post_var['datalancamento']) : date('d/m/Y') ?>" type="hidden"  class="span3" />
									
									<td width="50%">Nome do Usuário: <?php echo Usuarios::getUsuario('nomerazao') . " - " . Usuarios::getUsuario('rgf') ?></td>
									<td width="50%">Data da Abertura: <?php echo date('d/m/Y') ?></td>
									
								</tr>
							</tbody>
						</table>
						
					</div>
				</div>
				<?php endif; ?>
							
				<?php if(((int)$idescola>0) || ((int)$idlocal>0)): ?>

				<?php else: ?>
				<div class="control-group">
					<label class="control-label">Escola <span class="required">*</span></label>
					<div class="controls">
		                <?php
		                $local = Escolas::getEscolaByIdHelper($this->post_var['idescola']); 
						echo ((isset($local['escola'])) && ($local['escola']) && ($local['escola']!="") ) ? $local['escola'] : '';
		                ?>
					</div>
				</div>
				<?php endif; ?>


				<div class="control-group">
					<label class="control-label">Data</label>
					<div class="controls"><?php echo (isset($this->post_var['data'])) ? Mn_Util::formPostVarData($this->post_var['data']) : '' ?></div>
				</div>


				<div class="control-group">
					<label class="control-label">RGF <span class="required">*</span></label>
					<div class="controls"><?php echo (isset($this->post_var['rgf'])) ? $this->post_var['rgf'] : '' ?></div>
				</div>


				<div class="control-group">
					<label class="control-label">Período </label>
					<div class="controls">
						<?php
    						$periodo = Escolasperiodos::getEscolaperiodoByIdHelper($this->post_var['idperiodo']); 
							echo ((isset($periodo['periodo'])) && ($periodo['escola']) && ($periodo['periodo']!="") ) ? $periodo['periodo'] : '--';
						?>
						
					</div>
				</div>


				<div class="control-group">
					<label class="control-label">Sala </label>
					<div class="controls">
						<?php
    						$sala = Escolassalas::getEscolasalaByIdHelper($this->post_var['idsala']); 
							echo ((isset($sala['sala'])) && ($sala['sala']) && ($sala['sala']!="") ) ? $sala['sala'] : '--';
						?>
						
					</div>
				</div>


				<div class="control-group">
					<label class="control-label">Série </label>
					<div class="controls">
						<?php
    						$serie = Escolasseries::getEscolaserieByIdHelper($this->post_var['idserie']); 
							echo ((isset($serie['serie'])) && ($serie['serie']) && ($serie['serie']!="") ) ? $serie['serie'] : '--';
						?>
						
					</div>
				</div>


				<div class="control-group">
					<label class="control-label">Turma </label>
					<div class="controls">
						<?php
    						$turma = Escolasvinculos::getNomeExtensoHelper($this->post_var['idescola'], $this->post_var['idserie']); 
							echo ((isset($turma)) && ($turma) && ($turma!="") ) ? $turma : '--';
						?>
						
					</div>
				</div>	


	<div class="control-group">
		<label class=" span9">I - Conhece e respeita as leis </label>
		<div class="controls">
			<?php echo (isset($this->post_var['avaliacao_1'])) ? $this->formatSimNao($this->post_var['avaliacao_1']) : '--' ?>
		</div>
	</div>

	<div class="control-group">
		<label class=" span9">II - Preserva os princípios, ideias e Leis da Educação Brasileira, através de seu desempenho profissional </label>
		<div class="controls">
			<?php echo (isset($this->post_var['avaliacao_2'])) ? $this->formatSimNao($this->post_var['avaliacao_2']) : '--' ?>
		</div>
	</div>

	<div class="control-group">
		<label class=" span9">III - Empenha-se em prol do aluno, utilizando processos que acompanham o progresso científico da Educação</label>
		<div class="controls">
			<?php echo (isset($this->post_var['avaliacao_3'])) ? $this->formatSimNao($this->post_var['avaliacao_3']) : '--' ?>
		</div>
	</div>

	<div class="control-group">
		<label class=" span9">IV - Participa das atividades educacionais que lhe são atribuídas por força de sua função</label>
		<div class="controls">
			<?php echo (isset($this->post_var['avaliacao_4'])) ? $this->formatSimNao($this->post_var['avaliacao_4']) : '--' ?>
		</div>
	</div>

	<div class="control-group">
		<label class=" span9">V - Mantém respeito, cooperação e solidariedade com a equipe e com a comunidade em geral</label>
		<div class="controls">
			<?php echo (isset($this->post_var['avaliacao_5'])) ? $this->formatSimNao($this->post_var['avaliacao_5']) : '--' ?>
		</div>
	</div>

	<div class="control-group">
		<label class=" span9">VI - Incentiva a participação, o diálogo e a cooperação entre educandos, demais educadores e comunidade em geral, visando a construção de uma sociedade democrática</label>
		<div class="controls">
			<?php echo (isset($this->post_var['avaliacao_6'])) ? $this->formatSimNao($this->post_var['avaliacao_6']) : '--' ?>
		</div>
	</div>

	<div class="control-group">
		<label class=" span9">VII - Assegura o desenvolvimento do senso crítico e da consciência política do educando</label>
		<div class="controls">
			<?php echo (isset($this->post_var['avaliacao_7'])) ? $this->formatSimNao($this->post_var['avaliacao_7']) : '--' ?>
		</div>
	</div>

	<div class="control-group">
		<label class=" span9">VIII - Respeita o aluno como sujeito do processo educativo e compromete-se com a eficácia de seu aprendizado</label>
		<div class="controls">
			<?php echo (isset($this->post_var['avaliacao_8'])) ? $this->formatSimNao($this->post_var['avaliacao_8']) : '--' ?>
		</div>
	</div>

	<div class="control-group">
		<label class=" span9">IX - Zela pela defesa dos direitos profissionais e pela reputação da categoria profissional</label>
		<div class="controls">
			<?php echo (isset($this->post_var['avaliacao_9'])) ? $this->formatSimNao($this->post_var['avaliacao_9']) : '--' ?>
		</div>
	</div>

	<div class="control-group">
		<label class=" span9">X - Considera os princípios psico-pedagógicos, a realidade social e econômica da clientela escolar e as diretrizes da Política Educacional na escolha e utilização de materiais, procedimentos didáticos e instrumentos de avaliação do processo ensino-aprendizagem</label>
		<div class="controls">
			<?php echo (isset($this->post_var['avaliacao_10'])) ? $this->formatSimNao($this->post_var['avaliacao_10']) : '--' ?>
		</div>
	</div>

	<div class="control-group">
		<label class=" span9">XI - Participa do processo de planejamento, execução e avaliação das atividades escolares</label>
		<div class="controls">
			<?php echo (isset($this->post_var['avaliacao_11'])) ? $this->formatSimNao($this->post_var['avaliacao_11']) : '--' ?>
		</div>
	</div>

	<div class="control-group">
		<label class=" span9">XII - Cuida dos interesses da Administração Pública, a qual representa junto à comunidade e alunos</label>
		<div class="controls">
			<?php echo (isset($this->post_var['avaliacao_12'])) ? $this->formatSimNao($this->post_var['avaliacao_12']) : '--' ?>
		</div>
	</div>

	<div class="control-group">
		<label class=" span9">XIII - Acata as decisões do Conselho de Escola, em conformidade com a legislação vigente</label>
		<div class="controls">
			<?php echo (isset($this->post_var['avaliacao_13'])) ? $this->formatSimNao($this->post_var['avaliacao_13']) : '--' ?>
		</div>
	</div>

	<div class="control-group">
		<label class=" span9">XIV - É assíduo(a)</label>
		<div class="controls">
			<?php echo (isset($this->post_var['avaliacao_14'])) ? $this->formatSimNao($this->post_var['avaliacao_14']) : '--' ?>
		</div>
	</div>

	<div class="control-group">
		<label class=" span9">XV - É pontual</label>
		<div class="controls">
			<?php echo (isset($this->post_var['avaliacao_15'])) ? $this->formatSimNao($this->post_var['avaliacao_15']) : '--' ?>
		</div>
	</div>

	<div class="control-group">
		<label class=" span9">XVI - É cumpridor(a) de prazos estabelecidos pelos superiores</label>
		<div class="controls">
			<?php echo (isset($this->post_var['avaliacao_16'])) ? $this->formatSimNao($this->post_var['avaliacao_16']) : '--' ?>
		</div>
	</div>

	<div class="control-group">
		<label class="control-label">Avaliação (Nota) </label>
		<div class="controls">
		<?php echo (isset($this->post_var['avaliacao'])) ? $this->post_var['avaliacao'] : '' ?>
		</div>
	</div>



	<?php if(isset($this->post_var) && $this->post_var['aceite'] != 'Sim'): ?>
		<div class="control-group">
			<label class="control-label">Aprovar <span class="required">*</span></label>
			<div class="controls">
				<select name="aceite" data-placeholder="Aceite" class="select">
					<option value="">Selecione...</option>
					<option value="Sim">Sim</option>
					<option value="Não">Não</option>
				</select>
				
			</div>
		</div>
	<?php else: ?>
		<div class="control-group">
			<label class="control-label">Aprovar <span class="required">*</span></label>
			<div class="controls">
				<?php echo (isset($this->post_var['aceite'])) ? $this->formatSimNao(strtolower($this->post_var['aceite'])) : '' ?>
				
			</div>
		</div>
	<?php endif; ?>

						    
						    
						    </div>
						    
			                <div class="form-actions align-right">
			                	<?php if ((isset($this->visualizar)) && ($this->visualizar)) : ?>
			                		<button onclick="window.history.back()" class="btn btn-danger cancelar" type="button">Voltar</button>
			                	<?php else : ?>
				                	<button class="btn btn-primary enviar" type="submit">Salvar</button>
				                	<button onclick="window.history.back()" class="btn btn-danger cancelar" type="button">Cancelar</button>
			                	<?php endif; ?>
			                </div>
						</div>
						<!-- /general form elements -->

					</fieldset> 

				</form>
				<!-- /basic inputs -->

		    </div>
		    <!-- /content wrapper -->

		</div>
		<!-- content -->
				
<script type="text/javascript" src="<?php echo $this->baseUrl('/public/scripts/admin/documentacaoavaliacoesprofissionais_form.js') ?>"></script>
<script type="text/javascript">
	var form_values = {};
	
	<?php if (isset($this->post_var)) :  ?>
		form_values.idescola = '<?php echo (isset($this->post_var['idescola'])) ? $this->post_var['idescola'] : '' ?>';

		form_values.idprofessor = '<?php echo (isset($this->post_var['idprofessor'])) ? $this->post_var['idprofessor'] : '' ?>';

		form_values.idperiodo = '<?php echo (isset($this->post_var['idperiodo'])) ? $this->post_var['idperiodo'] : '' ?>';

		form_values.idsala = '<?php echo (isset($this->post_var['idsala'])) ? $this->post_var['idsala'] : '' ?>';

		form_values.idserie = '<?php echo (isset($this->post_var['idserie'])) ? $this->post_var['idserie'] : '' ?>';

		form_values.idturma = '<?php echo (isset($this->post_var['idturma'])) ? $this->post_var['idturma'] : '' ?>';

		form_values.aceite = '<?php echo (isset($this->post_var['aceite'])) ? $this->post_var['aceite'] : '' ?>';

		form_values.status1 = '<?php echo (isset($this->post_var['status1'])) ? $this->post_var['status1'] : $this->post_var['status'] ?>';
	<?php endif; ?>

	visualizar = <?php echo  ((isset($this->visualizar)) && ($this->visualizar))  ? 'true' : 'false' ?>;
	adicionar = <?php echo  ((isset($this->adicionar)) && ($this->adicionar))  ? 'true' : 'false' ?>;
</script>
