		
		<!-- Content -->
		<div id="content">

		    <!-- Content wrapper -->
		    <div class="wrapper">

			    <!-- Breadcrumbs line -->
			    <div class="crumbs">
			    	<?php echo $this->render('/helpers/breadcrumb.phtml') ?>
			    </div>
			    <!-- /breadcrumbs line -->

			    <!-- Page header -->
			    <div class="page-header">
			    	<div class="page-title">
				    	<h5>Formulário do frequência</h5>
				    	<span>Verifique os campos e preencha com os dados</span>
			    	</div>
			    </div>
			    <!-- /page header -->

			    <?php if (isset($this->crudMessage)) : ?>
					<div class="alert alert-success">
	                	<button data-dismiss="alert" class="close" type="button">×</button>
	                    <strong>Operação realizada com sucesso!</strong>
		    			<span><br /><?php echo $this->crudMessage ?></span>
	                </div>			    
			    <?php endif; ?>

				<form id="form" name="form" action="" method="post" class="form-horizontal" enctype="multipart/form-data"> 
					<input type="hidden" value="<?php echo (isset($this->post_var)) ? $this->post_var["id"] : ''; ?>" name="id" id="id" />
					
					<fieldset>
						<!-- General form elements -->
						<div class="widget row-fluid">
						    <div class="navbar">
						        <div class="navbar-inner">
						            <h6>Digite as informações do formulário</h6>
						        </div>
						    </div>

						    <div class="well">
								<?php if (isset($this->erros)) : ?>
									<div class="alert alert-error margin">
				                        <button data-dismiss="alert" class="close" type="button">×</button>
				                        <strong>Há erros no formulário!</strong>
					    				<?php foreach ($this->erros as $k=>$v) : ?>
					    					<span><br />- <?php echo $v ?></span>
					    				<?php endforeach;?>			                        
				                    </div>
			                    <?php endif; ?>						    
						    

				<div class="control-group">
					<label class="control-label">Atividade <span class="required">*</span></label>
					<div class="controls">
		                <select name="idatividade" data-placeholder="Atividade" class="select">
							<option value="">Selecione...</option>
							<?php foreach (Coordenacaotiposatividadescomplementares::getCoordenacaotiposatividadescomplementaresHelper(array('status'=>'Ativo')) as $k=>$v) : ?>
							<option value="<?php echo $v['id'] ?>"><?php echo $v['tipo'] ?></option>
							<?php endforeach;?>
						</select>
						<span class="help-block"></span>
					</div>
				</div>

				<input id="escola_id" type="hidden" name="idescola" value="<?= Escolasusuarios::getUsuario('id') ?>">

				<?php /* ?>
				<div class="control-group">
					<label class="control-label">Escola <span class="required">*</span></label>
					<div class="controls">
		                <select name="idescola" data-placeholder="Escola" class="select" onchange="setTurmas(this, 0)">
							<option value="">Selecione...</option>
							<?php foreach (Escolas::getEscolasHelper(array('status'=>'Ativo')) as $k=>$v) : ?>
							<option value="<?php echo $v['id'] ?>"><?php echo $v['escola'] ?></option>
							<?php endforeach;?>
						</select>
						
					</div>
				</div>
				<?php */ ?>


				<div class="control-group">
					<label class="control-label">Turma <span class="required">*</span></label>
					<div class="controls">
		                <select name="idescolavinculo" data-placeholder="Turma" class="select">
							<option value="">Selecione...</option>
							<?php /*foreach (Escolasvinculos::getEscolasvinculosHelper(array('status'=>'Ativo')) as $k=>$v) : ?>
							<option value="<?php echo $v['id'] ?>"><?php echo $v['turma'] ?></option>
							<?php endforeach;*/?>
						</select>
						
					</div>
				</div>


				<div class="control-group">
					<label class="control-label">Data de Início</label>
					<div class="controls"><input placeholder="Data de Início" name="datainicio" value="<?php echo (isset($this->post_var['datainicio'])) ? Mn_Util::formPostVarData($this->post_var['datainicio']) : '' ?>" type="text"  class="span3" /></div>
				</div>


				<div class="control-group">
					<label class="control-label">Data de Fim</label>
					<div class="controls"><input placeholder="Data de Fim" name="datafim" value="<?php echo (isset($this->post_var['datafim'])) ? Mn_Util::formPostVarData($this->post_var['datafim']) : '' ?>" type="text"  class="span3" /></div>
				</div>


				<div class="control-group">
					<label class="control-label">Hora de ínicio </label>
					<div class="controls"><input  placeholder="Hora de ínicio" name="horainicio" value="<?php echo (isset($this->post_var['horainicio'])) ? $this->post_var['horainicio'] : '' ?>" type="text"  class="span3" /></div>
				</div>


				<div class="control-group">
					<label class="control-label">Hora final </label>
					<div class="controls"><input  placeholder="Hora final" name="horafim" value="<?php echo (isset($this->post_var['horafim'])) ? $this->post_var['horafim'] : '' ?>" type="text"  class="span3" /></div>
				</div>

				<div class="control-group">
					<label class="control-label">Selecionar o dia da semana </span></label>
					<div class="controls">
						<div style="float:left; margin-right:8px"><input class="checksemana" value="1" name="diassemana[]" type="checkbox"> Domingo<br></div>
						<div style="float:left; margin-right:8px"><input class="checksemana" value="2" name="diassemana[]" type="checkbox"> Segunda-feira<br></div>
						<div style="float:left; margin-right:8px"><input class="checksemana" value="3" name="diassemana[]" type="checkbox"> Terça-feira<br></div>
						<br clear="all" /><div style="float:left; margin-right:8px"><input class="checksemana" value="4" name="diassemana[]" type="checkbox"> Quarta-feira<br></div>
						<div style="float:left; margin-right:8px"><input class="checksemana" value="5" name="diassemana[]" type="checkbox"> Quinta-feira<br></div>
						<div style="float:left; margin-right:8px"><input class="checksemana" value="6" name="diassemana[]" type="checkbox"> Sexta-feira<br></div>
						<br clear="all" /><div style="float:left; margin-right:8px"><input class="checksemana" value="7" name="diassemana[]" type="checkbox"> Sábado<br></div>
						</div><br clear="all" />
					<div>
<?php /*?>
				<div class="control-group">
					<label class="control-label">Dia da Semana <span class="required">*</span></label>
					<div class="controls">
						<select name="diasemana" data-placeholder="Dia da Semana" class="select">
							<option value="">Selecione...</option>
							<option value="Segunda feira">Segunda feira</option><option value="Terça Feira">Terça Feira</option><option value="Quarta Feira">Quarta Feira</option><option value="Quinta Feira">Quinta Feira</option><option value="Sexta Feira">Sexta Feira</option><option value="Sábado">Sábado</option><option value="Domingo">Domingo</option>
						</select>
						
					</div>
				</div>
<?php */?>

				<div class="control-group">
					<label class="control-label">Status <span class="required">*</span></label>
					<div class="controls">
						<select name="status1" data-placeholder="Status" class="select">
							<option value="">Selecione...</option>
							<option value="Ativo">Ativo</option><option value="Bloqueado">Bloqueado</option>
						</select>
						
					</div>
				</div>

						    
						    
						    </div>
						    
			                <div class="form-actions align-right">
			                	<?php if ((isset($this->visualizar)) && ($this->visualizar)) : ?>
			                		<button onclick="window.history.back()" class="btn btn-danger cancelar" type="button">Voltar</button>
			                	<?php else : ?>
				                	<button class="btn btn-primary enviar" type="submit">Salvar</button>
				                	<button onclick="window.history.back()" class="btn btn-danger cancelar" type="button">Cancelar</button>
			                	<?php endif; ?>
			                </div>
						</div>
						<!-- /general form elements -->

					</fieldset> 

				</form>
				<!-- /basic inputs -->

		    </div>
		    <!-- /content wrapper -->

		</div>
		<!-- content -->
				
<script type="text/javascript" src="<?php echo $this->baseUrl('/public/scripts/default/coordenacaoatividadesgrequencias_form.js') ?>"></script>
<script type="text/javascript">
	var form_values = {};
	
	<?php if (isset($this->post_var)) :  ?>
		form_values.idatividade = '<?php echo (isset($this->post_var['idatividade'])) ? $this->post_var['idatividade'] : '' ?>';

form_values.idescola = '<?php echo (isset($this->post_var['idescola'])) ? $this->post_var['idescola'] : '' ?>';

form_values.idescolavinculo = '<?php echo (isset($this->post_var['idescolavinculo'])) ? $this->post_var['idescolavinculo'] : '' ?>';

form_values.diasemana = '<?php echo (isset($this->post_var['diasemana'])) ? $this->post_var['diasemana'] : '' ?>';

form_values.status1 = '<?php echo (isset($this->post_var['status1'])) ? $this->post_var['status1'] : $this->post_var['status'] ?>';


	<?php endif; ?>

	visualizar = <?php echo  ((isset($this->visualizar)) && ($this->visualizar))  ? 'true' : 'false' ?>;
</script>
