		<!-- Content -->
		<div id="content">

		    <!-- Content wrapper -->
		    <div class="wrapper">

			    <!-- Breadcrumbs line -->
			    <div class="crumbs">
			    	<?php echo $this->render('/helpers/breadcrumb.phtml') ?>
			    </div>
			    <!-- /breadcrumbs line -->

			    <!-- Page header -->
			    <div class="page-header">
			    	<div class="page-title">
				    	<h5>Formulário do afastamento e licença</h5>
				    	<span>Verifique os campos e preencha com os dados</span>
			    	</div>
			    </div>
			    <!-- /page header -->

			    <?php if (isset($this->crudMessage)) : ?>
					<div class="alert alert-success">
	                	<button data-dismiss="alert" class="close" type="button">×</button>
	                    <strong>Operação realizada com sucesso!</strong>
		    			<span><br /><?php echo $this->crudMessage ?></span>
	                </div>			    
			    <?php endif; ?>

				<form id="form" name="form" action="" method="post" class="form-horizontal" enctype="multipart/form-data"> 
					<input type="hidden" value="<?php echo (isset($this->post_var)) ? $this->post_var["id"] : ''; ?>" name="id" id="id" />
					
					<fieldset>
						<!-- General form elements -->
						<div class="widget row-fluid">
						    <div class="navbar">
						        <div class="navbar-inner">
						            <h6>Digite as informações do formulário</h6>
						        </div>
						    </div>

						    <div class="well">
								<?php if (isset($this->erros)) : ?>
									<div class="alert alert-error margin">
				                        <button data-dismiss="alert" class="close" type="button">×</button>
				                        <strong>Há erros no formulário!</strong>
					    				<?php foreach ($this->erros as $k=>$v) : ?>
					    					<span><br />- <?php echo $v ?></span>
					    				<?php endforeach;?>			                        
				                    </div>
			                    <?php endif; ?>
 
                                <?php $idescola = Usuarios::getUsuario('idescola'); ?>
				<?php $idlocal = Usuarios::getUsuario('idlocal'); ?>
                                                        
                                <?php 
                                        $tmpIdSecretaria            = (isset($this->post_var['idsecretaria'])) ? $this->post_var['idsecretaria'] : '';
                                        $tmpIdEscola                = (isset($this->post_var['idescola'])) ? $this->post_var['idescola'] : '';
                                        $tmpIdLocal                 = (isset($this->post_var['idlocal'])) ? $this->post_var['idlocal'] : '';
                                        $tmpIdFuncionarioEscola     = (isset($this->post_var['idfuncionarioescola'])) ? $this->post_var['idfuncionarioescola'] : '';
                                ?>
                                                    
                        <?php if (($idescola > 0) || ($idlocal > 0)): ?>		  
				<div class="control-group">
					<div class="controls1 visualizar">
						<table class="table table-content" width="100%">
							<tbody>
								<tr>
									<td width="33%">Nome do Usuário: <?php echo Usuarios::getUsuario('nomerazao') . " - " . Usuarios::getUsuario('rgf') ?></td>
									<td width="34%">Data da Abertura: <?php echo date('d/m/Y') ?></td>
									<td width="33%"><?php 
											$local = Escolas::getEscolaByIdHelper(Usuarios::getUsuario('idescola')); 
											echo ((isset($local['escola'])) && ($local['escola']) && ($local['escola']!="") ) ? 'Escola: '.$local['escola'] : '';
										?>
											
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
				<?php else: ?>
                                        <div class="control-group">
                                                <div class="controls1 visualizar">
                                                        <table class="table table-content" width="100%">
                                                                <tbody>
                                                                        <tr>
                                                                                <td width="50%">Nome do Usuário: <?php echo Usuarios::getUsuario('nomerazao') . " - " . Usuarios::getUsuario('rgf') ?></td>
                                                                                <td width="50%">Data da Abertura: <?php echo date('d/m/Y') ?></td>

                                                                        </tr>
                                                                </tbody>
                                                        </table>

                                                </div>
                                        </div>
                                        <?php if(Usuarios::getUsuario('pertenceescola')=="Sim"): ?>
                                                <div class="control-group">
                                                        <label class="control-label">Escolas <span class="required">*</span></label>
                                                        <div class="controls">
                                                                <select id="idescola" name="idescola"  class="select" onchange="setPeriodos(this, 0)">
                                                                        <option value="">Selecione...</option>
                                                                        <?php foreach ($this->escolas as $e=>$row): ?>
                                                                        <option value="<?php echo $row['id'] ?>"><?php echo $row['escola'] ?></option>
                                                                        <?php endforeach;?>
                                                                </select>   
                                                        </div>
                                                </div>
					<?php endif; ?>
				<?php endif; ?>
                                
				<div class="control-group">
					<label class="control-label">Meus Funcionários <span class="required">*</span></label>
                                        <?php if (!$this->visualizar && ($this->post_var['id'] > 0)):?>
                                                <div class="controls">
                                                        <?php $FuncionarioMeu = Funcionariosgeraisescolas::getFuncionariogeralescolaByIdHelper($this->post_var['idfuncionarioafastadolicenca'], array('Ativo'=>'sim'));?>
                                                        <input readonly type="hidden" name="idfuncionarioafastadolicenca" value="<?php echo $this->post_var['idfuncionarioafastadolicenca']; ?>" type="text" class="span3" />
                                                        <input readonly placeholder="Funcionário" name="funcionariomeu" value="<?php echo $FuncionarioMeu['rgf'],' - ',$FuncionarioMeu['nome']; ?>" type="text"  class="span3" />
                                                </div>
                                        <?php else :?>
                                                <div class="controls">
                                                        <?php 
                                                            $usuar = Usuarios::getUsuario();
                                                            $queries = array(); 
                                                            
                                                            (($usuar['idescola']>0) ? $queries['idescola'] = $usuar['idescola'] : '');
                                                            if ($usuar['idfuncionario']>0) :
                                                                $queries['idfuncionario'] = $usuar['idfuncionario'];
                                                                $queries['meuid'] = $usuar['idfuncionario'];
                                                            endif;

                                                            $queries = array(); 
                                                            $queries['idsfuncionariosgerais'] = $this->funcionariogeral['idsfuncionarios'];
                                                            $idfuncionario = Usuarios::getUsuario('idfuncionario');
                                                            $idescola = Usuarios::getUsuario('idescola');
                                                            $idperfil = (int)Usuarios::getUsuario('idperfil');
                                                            if((int)$idescola > 0){
                                                            	$meusfuncionarios = Meusfuncionariosgeraisescolas::getMeusfuncionariosgeraisescolaImplodeByIdescolaHelper($idfuncionario, $idescola, array());
                                                                if((isset($meusfuncionarios)) && ($meusfuncionarios) && ($meusfuncionarios!="")){
                                                                    $queries['idsfuncionariosgerais'] = $meusfuncionarios;
                                                                }else{
                                                                    $queries['idsfuncionariosgerais'] = '-1';
                                                                }
                                                            }elseif((int)$idperfil > 0){
                                                                $idfuncionario = Usuarios::getUsuario('idfuncionario');
                                                                $meusfuncionarios = Meusfuncionariosgeraisescolas::getMeusfuncionariosgeraisescolaImplodeByIdperfilHelper($idfuncionario, $idperfil, array());
                                                                unset($queries['idsfuncionariosgerais']);
                                                                if((isset($meusfuncionarios)) && ($meusfuncionarios) && ($meusfuncionarios!="")){
                                                                    $queries['idsfuncionariossel'] = $meusfuncionarios;
                                                                }else{
                                                                    $queries['idsfuncionariossel'] = '-1';
                                                                }
                                                            }

                                                        ?>


                                                        <select name="idfuncionarioafastadolicenca"  data-placeholder="Funcionário" class="select" onchange="setDados(this)">
                                                                <option value="">Selecione...</option>
                                                                <?php foreach(Funcionariosgeraisescolas::getFuncionariosgeraisescolasHelper($queries) as $i=>$row): ?>
                                                                        <option value="<?php echo $row['id'] ?>" <?php echo ($this->post_var['idfuncionarioafastadolicenca'] == $row['id']) ? 'selected':''; ?> /><?php echo $row['rgf'], ' - ',  $row['nome'] ?> </option>
                                                                <?php endforeach;?>
                                                        </select>
                                                </div>
                                        <?php endif;?>
				</div>
                               
                                                      
				<div class="control-group">
					<label class="control-label">Data Inicial <span class="required">*</span></label>
                                        <div class="controls">
                                            <?php if (($this->isrh)) : ?>
                                                <input readonly placeholder="Data Inicial" name="showdatainicio" value="<?php echo (isset($this->post_var['datainicio'])) ? Mn_Util::formPostVarData($this->post_var['datainicio']) : Mn_Util::formPostVarData(date('d/m/Y'))  ?>" type="text" class="span3" />
                                                <input name="datainicio" value="<?php echo (isset($this->post_var['datainicio'])) ? Mn_Util::formPostVarData($this->post_var['datainicio']) : Mn_Util::formPostVarData(date('d/m/Y'))  ?>" type="hidden" />
                                            <?php else : ?>
                                                <input placeholder="Data" name="datainicio" value="<?php echo (isset($this->post_var['datainicio'])) ? Mn_Util::formPostVarData($this->post_var['datainicio']) : Mn_Util::formPostVarData(date('d/m/Y'))  ?>" type="text"  class="span3" onblur="setDatafim(this,7)" />
                                            <?php endif; ?>
                                            <?php echo "<script> window.onload = function() { setDatafim(this,7); }; </script>"?>
                                        </div>
				</div>

				<div class="control-group">
					<label class="control-label">Retorno ao Trabalho <span class="required">*</span></label>
                                        <div class="controls">
                                            <?php if (($this->isrh)) : ?>
                                                <input readonly placeholder="Data Final" name="showdatafim" value="<?php echo (isset($this->post_var['datafim'])) ? Mn_Util::formPostVarData($this->post_var['datafim']) : '' ?>" type="text" class="span3"/>
                                                <input name="datafim" value="<?php echo (isset($this->post_var['datafim'])) ? Mn_Util::formPostVarData($this->post_var['datafim']) : '' ?>" type="hidden"  />
                                            <?php else : ?>
                                                <input <?php if($this->isrh) echo "readonly" ?>  placeholder="Data Final" name="datafim" value="<?php echo (isset($this->post_var['datafim'])) ? Mn_Util::formPostVarData($this->post_var['datafim']) : '' ?>" type="text"  class="span3" onblur="setDias()"/>
                                            <?php endif; ?>
                                        </div>
				</div>

				<div class="control-group">
                                        <label class="control-label">Dias </label>
                                        <div class="controls">
                                                <input readonly placeholder="Dias" name="dias" value="<?php echo (isset($this->post_var['dias'])) ? $this->post_var['dias'] : '' ?>" type="number" class="span3" min="7" onblur="setDias()"/>
                                        </div>
				</div>

                                <input type='hidden' name='logusuario' value="<?php echo (isset($this->post_var['logusuario'])) ? $this->post_var['logusuario'] : '' ?>">
				
				<div class="control-group">
					<label class="control-label">Motivo <span class="required">*</span></label>
					<div class="controls"><input <?php if($this->isrh) echo "readonly" ?>   placeholder="Motivo" name="motivo" value="<?php echo (isset($this->post_var['motivo'])) ? $this->post_var['motivo'] : '' ?>" type="text"  class="span3" /></div>
				</div>

				<div class="control-group">
					<label class="control-label">Descrições </label>
					<div class="controls"><textarea <?php if($this->isrh) echo "readonly" ?>  class="span12" name="descricoes" cols="5" rows="5"><?php echo (isset($this->post_var)) ? $this->post_var["descricoes"] : ''; ?></textarea></div>
				</div>

				<div class="control-group">
					<label class="control-label">Anexar documento  <span class="required">*</span></label>
					<div class="controls">
						<?php if ((isset($this->post_var['idarquivo'])) && ((int)$this->post_var['idarquivo']>0)) : ?>
							<?php echo $this->getArquivo($this->post_var['idarquivo']) ?>
                                                                <?php if (!$this->isrh) : ?>
                                                                        <?php if (!$this->visualizar ) : ?>
                                                                                <div class="checkbox block">
                                                                                        <label><input type="checkbox" name="excluir_idarquivo" value="excluir" /> Desejo excluir o arquivo</label>
                                                                                </div>
                                                                        <?php endif;?>
                                                                <?php endif; ?>
						<?php endif; ?>
                                                
                                                <?php if ((!$this->isrh) || isset($this->visualizar)):?>
                                                    <input placeholder="Anexar documento" name="idarquivo" type="file"  />
                                                <?php endif;?>
					</div>
				</div>

				<div class="control-group">
					<label class="control-label">Aprovação <span class="required">*</span></label>
					<div class="controls">
                                                <?php if ((!$this->isrh) || isset($this->visualizar)):?>
                                                        <input type="hidden" name="progresso" value="<?php echo (isset($this->post_var['progresso'])) ? $this->post_var['progresso'] : 'andamento' ?>" type="text"  class="span3" />
                                                        <input readonly name="showprogresso" value="<?php echo (isset($this->post_var['progresso'])) ? $this->post_var['progresso'] : 'Em Andamento' ?>" type="text"  class="span3" />
                                                <?php else :?>
                                                        <select name="progresso" data-placeholder="Progresso" class="select">
                                                                <option value="andamento">Em Andamento</option>
                                                                <option value="aprovado">Aprovado</option>
                                                                <option value="reprovado">Reprovado</option>
                                                        </select>
						<?php endif;?>
					</div>
				</div>                                                        

                                <?php if (($this->isrh) || (isset($this->post_var['progresso']) && $this->post_var['progresso'] != 'andamento')) : ?> 
                                    <div class="control-group" >
					<label class="control-label">Observação <span class="required">*</span></label>
					<div class="controls">
                                            <textarea  class="span12" name="observacao" cols="5" rows="5"><?php echo (isset($this->post_var)) ? $this->post_var["observacao"] : ''; ?></textarea>
                                        </div>
                                    </div>
                                <?php endif; ?>
                                                        
                                <div class="control-group" style="display: none!important">
					<label class="control-label">Status <span class="required">*</span></label>
					<div class="controls">
                                                <?php if (($this->isrh) || isset($this->visualizar)):?>
                                                        <input readonly placeholder="Status" name="status1" value="<?php echo (isset($this->post_var['status'])) ? $this->post_var['status'] : '' ?>" type="text"  class="span3" />
                                                <?php else :?>
                                                        <select <?php if($this->isrh) echo "readonly" ?> name="status1" data-placeholder="Status" class="select">
                                                                <option value="Ativo">Ativo</option>
                                                                <option value="Bloqueado">Bloqueado</option>
                                                        </select>
						<?php endif;?>
					</div>
				</div>

                                <!--Hiddens-->
                                <input type="hidden" name="idusuario" value="<?php echo Usuarios::getUsuario('id') ?>"/>
                                <input type="hidden" name="datalancamento" value="<?php echo (isset($this->post_var['datalancamento'])) ? Mn_Util::formPostVarData($this->post_var['datalancamento']) : date('d/m/Y') ?>"/>
                                <input type="hidden" name="idlocal" value="<?php echo (isset($this->isrh)) ? $tmpIdLocal : $idlocal ?>"/>
                                <input type="hidden" name="idescola" value="<?php echo (isset($this->isrh))? $tmpIdEscola : $idescola ?>" />
                                <input type="hidden" name="idsecretaria" value="<?php echo (isset($this->isrh)) ? $tmpIdSecretaria : Usuarios::getUsuario('idsecretarias') ?>"/>			
                                <!--Hiddens-->
						    
                                <?php 
                                    $caminho = parse_url($_SERVER['REQUEST_URI']); 
                                    $isAdicionar = (strpos(trim($caminho['path']),'/adicionar') > 1) ? true: false;
                                ?>
						    
			</div>
						    
			                <div class="form-actions align-right">
			                	<?php if (((isset($this->visualizar)) && ($this->visualizar)) || (($this->post_var['progresso'] != 'andamento') && (!$isAdicionar) )) : ?>
			                		<button onclick="window.history.back()" class="btn btn-danger cancelar" type="button">Voltar</button>
			                	<?php else : ?>
				                	<button class="btn btn-primary enviar" type="submit">Salvar</button>
				                	<button onclick="window.history.back()" class="btn btn-danger cancelar" type="button">Cancelar</button>
			                	<?php endif; ?>
			                </div>
						</div>
						<!-- /general form elements -->

					</fieldset> 

                                </form>
				<!-- /basic inputs -->

		    </div>
		    <!-- /content wrapper -->

		</div>
		<!-- content -->
				
<script type="text/javascript" src="<?php echo $this->baseUrl('/public/scripts/admin/rhafastamentoslicencas_form.js') ?>"></script>
<script type="text/javascript">
	var form_values = {};
	
	<?php if (isset($this->post_var)) :  ?>
		form_values.idsecretaria = '<?php echo (isset($this->post_var['idsecretaria'])) ? $this->post_var['idsecretaria'] : '' ?>';
		form_values.idfuncionariosecretaria = '<?php echo (isset($this->post_var['idfuncionariosecretaria'])) ? $this->post_var['idfuncionariosecretaria'] : '' ?>';
		form_values.idescola = '<?php echo (isset($this->post_var['idescola'])) ? $this->post_var['idescola'] : '' ?>';
		form_values.idfuncionarioescola = '<?php echo (isset($this->post_var['idfuncionarioescola'])) ? $this->post_var['idfuncionarioescola'] : '' ?>';
		form_values.aprovacao = '<?php echo (isset($this->post_var['aprovacao'])) ? $this->post_var['aprovacao'] : '' ?>';
		form_values.confirmacaoaprovacao = '<?php echo (isset($this->post_var['confirmacaoaprovacao'])) ? $this->post_var['confirmacaoaprovacao'] : '' ?>';
                form_values.idfuncionarioafastadolicenca = '<?php echo (isset($this->post_var['idfuncionarioafastadolicenca'])) ? $this->post_var['idfuncionarioafastadolicenca'] : '' ?>';
		form_values.status1 = '<?php echo (isset($this->post_var['status1'])) ? $this->post_var['status1'] : $this->post_var['status'] ?>';
                form_values.progresso = '<?php echo (isset($this->post_var['progresso'])) ? $this->post_var['progresso'] : $this->post_var['progresso'] ?>';
        <?php endif; ?>


	visualizar = <?php echo  ((isset($this->visualizar)) && ($this->visualizar))  ? 'true' : 'false' ?>;
        
</script>
