		<!-- Content -->
		<div id="content">

		    <!-- Content wrapper -->
		    <div class="wrapper">

			    <!-- Breadcrumbs line -->
			    <div class="crumbs">
			    	<?php echo $this->render('/helpers/breadcrumb.phtml') ?>
			    </div>
			    <!-- /breadcrumbs line -->

			    <!-- Page header -->
			    <div class="page-header">
			    	<div class="page-title">
				    	<h5>Afastamentos e Licenças no sistema</h5>
				    	<span>Visualize os afastamentos e licenças do sistema</span>
			    	</div>
			    	
			    </div>
			    <!-- /page header -->
			    
			    <?php if (isset($this->crudMessage)) : ?>
				<div class="alert alert-success">
                	<button data-dismiss="alert" class="close" type="button">×</button>
                    <strong>Operação realizada com sucesso!</strong>
	    			<span><br /><?php echo $this->crudMessage ?></span>
                </div>			    
			    <?php endif; ?>

                <!-- Table with footer -->
                <div class="widget">
                	<form action="#" class="form-horizontal" method="post">
                		<input type="hidden" value="<?php echo (isset($this->post_var['sorting'])) ? $this->post_var['sorting'] : '' ?>" name="sorting" />
	                	<div class="navbar">
	                		<div class="navbar-inner">
	                			<h6>Visualizando registros</h6>
	                			<?php if (Mn_Util::isAccess($this->getController(), 'adicionar') && !$this->isrh) : ?>
	                			<a style="float:right;" href="<?php echo $this->baseUrl() ?>/<?php echo 'admin' ?>/<?php echo $this->getController() ?>/adicionar" class="btn btn-primary"><span class="icon-plus"></span>&nbsp;Adicionar afastamento e licença</a>
	                			<?php endif; ?>
	                		</div>
	                	</div>
	                    <div class="table-overflow">
                                    <table class="table table-content">
                                            <thead>
                                                    <tr>
                                                            <th width="20">#</th>
                                                            <th class="s-idfuncionariosecretaria sorting">Funcionário</th>
                                                            <th class="s-datainicio sorting"
                                                                class="s-datafim sorting">Data</th>
                                                            <th class="s-progresso sorting">Progresso</th>
                                                            <th>Ações</th>
                                                    </tr>
                                                    <tr>
                                                            <th></th>
                                                            <th>
                                                                    <div>
                                                                        <?php 
                                                                            /* Cria grupo apenas com os ids dos funcionarios */
                                                                            $grupo = '';
                                                                            
                                                                            if (isset($this->rows)) {
                                                                                foreach ($this->rows as &$r)
                                                                                $grupo = $grupo . $r['idfuncionarioafastadolicenca'] . ',';
                                                                            }   
                                                                            
                                                                            $grupo =  substr_replace($grupo, '', -1);
                                                                        ?>
                                                                        
                                                                            <select name="idfuncionariosecretaria" placeholder="Todos" class="select">
                                                                                    <option value="">Todos</option>
                                                                                    <?php foreach (Funcionariosgeraisescolas::getFuncionariosgeraisescolasHelper(array('status'=>'Ativo', 'ids'=>$grupo )) as $k=>$v) : ?>
                                                                                            <option value="<?php echo $v['id'] ?>"><?php echo $v['rgf'], ' - ', $v['nome'] ?></option>
                                                                                    <?php endforeach;?>
                                                                            </select>

                                                                    </div>
                                                            </th>
                                                            <th>
                                                                    <input name="datainicio_i" value="<?php echo (isset($this->post_var['datainicio_i'])) ? Mn_Util::formPostVarData($this->post_var['datainicio_i']) : '' ?>" type="text" placeholder="Data inicial" class="span3"> <br>
                                                                    <input name="datainicio_f" value="<?php echo (isset($this->post_var['datainicio_f'])) ? Mn_Util::formPostVarData($this->post_var['datainicio_f']) : '' ?>" type="text" placeholder="Data final" class="span3">
                                                            </th>
                                                            <th>
                                                                    <div>
                                                                            <select name="progresso" placeholder="Todos" class="select">
                                                                                    <option value="">Todos</option>
                                                                                    <option value="andamento">Em Andamento</option>
                                                                                    <option value="aprovado">Aprovado</option>
                                                                                    <option value="reprovado">Reprovado</option>
                                                                            </select>
                                                                    </div>
                                                            </th>
                                                            <th><button class="btn btn-mini btn-primary" type="submit">Pesquisar</button></th>
                                                    </tr>                            
                                            </thead>
                                            <tbody>
                                                    <?php if (sizeof($this->rows)==0) : ?>
                                                            <tr>
                                                                    <td colspan="5">Nenhum registro foi encontrado!</td>
                                                            </tr>
                                                    <?php else : ?>
                                                            <?php foreach ($this->rows as $row) : ?>
                                                                    <tr>
                                                                            <td><?php echo $row['id'] ?></td>
                                                                            <td>
                                                                                    <?php
                                                                                            $___rows = Funcionariosgeraisescolas::getFuncionariosgeraisescolasHelper(array('id'=>$row['idfuncionarioafastadolicenca']));
                                                                                            $___row = (sizeof($___rows)>0) ? 	$___rows[0] : false;	

                                                                                            echo ($___row) ? $this->formatTextoBranco($___row['rgf']) . ' - ' . $this->formatTextoBranco($___row['nome']) : '--';		
                                                                                    ?>
                                                                            </td>
                                                                            <td>
                                                                                    <?php 
                                                                                            $date1 = date_create($row['datainicio']);
                                                                                            $date2 = date_create($row['datafim']);
                                                                                            $ndia = $row['dias'];

                                                                                            echo 'de ', date('d/m/Y', strtotime($row['datainicio'])), ' à ',
                                                                                                 date('d/m/Y', strtotime($row['datafim'])), ' (', 
                                                                                                 ($ndia==1 ? $ndia.' dia' : $ndia.' dias'), ')'; 
                                                                                    ?>
                                                                            </td>

                                                                            <td>
                                                                                    <?php if (Mn_Util::isAccess($this->getController(), 'editar')) : ?>
                                                                                            <?php 
                                                                                                if($row['progresso']=='andamento'){
                                                                                                    echo 'Em Andamento';
                                                                                                }elseif($row['progresso']=='reprovado'){
                                                                                                    echo 'Reprovado';
                                                                                                }elseif($row['progresso']=='aprovado'){
                                                                                                    echo 'Aprovado';
                                                                                                }else{
                                                                                                    echo '';
                                                                                                }
                                                                                            ?>
                                                                                    <?php endif; ?>
                                                                            </td>
                                                                            <td>
                                                                                    <ul class="table-controls">
                                                                                            <li><a title="" class="btn tip" href="<?php echo $this->baseUrl() ?>/<?php echo 'admin' ?>/<?php echo $this->getController() ?>/visualizar/id/<?php echo $row['id'] ?>" data-original-title="Visualizar"><i class="icon-eye-open"></i></a> </li>
                                                                                            <?php if (Mn_Util::isAccess($this->getController(), 'editar') && $row['progresso']=='andamento') : ?>
                                                                                            <li><a title="" class="btn tip" href="<?php echo $this->baseUrl() ?>/<?php echo 'admin' ?>/<?php echo $this->getController() ?>/editar/id/<?php echo $row['id'] ?>" data-original-title="Editar"><i class="icon-pencil"></i></a> </li>
                                                                                            <?php endif;?>
                                                                                            <?php if (Mn_Util::isAccess($this->getController(), 'excluir') && $row['progresso']=='andamento' && !$this->isrh) : ?>
                                                                                            <li><a title="" class="btn tip" href="javascript:confirmDelete('<?php echo $row['id']; ?>','registro');" data-original-title="Excluir"><i class="icon-remove"></i></a> </li>
                                                                                            <?php endif; ?>
                                                                                    </ul>
                                                                            </td>
                                                                    </tr>
                                                            <?php endforeach;?>
                                                    <?php endif; ?>
                                            </tbody>
                                    </table>
	                    </div>
	                    <?php echo $this->render('/helpers/paginator.phtml') ?>
                    
                    </form>

                </div>
                <!-- /table with footer -->
	                        


		    </div>
		    <!-- /content wrapper -->

		</div>
		<!-- content -->
		
<script type="text/javascript" src="<?php echo $this->baseUrl('/public/scripts/admin/rhafastamentoslicencas_index.js') ?>"></script>
<script type="text/javascript">

	var form_values = {};
	<?php if (isset($this->post_var)) :  ?>
                form_values.idsecretaria = '<?php echo (isset($this->post_var['idsecretaria'])) ? $this->post_var['idsecretaria'] : '' ?>';

                form_values.origem = '<?php echo (isset($this->post_var['origem'])) ? $this->post_var['origem'] : '' ?>';

                form_values.idfuncionariosecretaria = '<?php echo (isset($this->post_var['idfuncionariosecretaria'])) ? $this->post_var['idfuncionariosecretaria'] : '' ?>';

                form_values.idescola = '<?php echo (isset($this->post_var['idescola'])) ? $this->post_var['idescola'] : '' ?>';

                form_values.idfuncionarioescola = '<?php echo (isset($this->post_var['idfuncionarioescola'])) ? $this->post_var['idfuncionarioescola'] : '' ?>';

                form_values.aprovacao = '<?php echo (isset($this->post_var['aprovacao'])) ? $this->post_var['aprovacao'] : '' ?>';

                form_values.confirmacaoaprovacao = '<?php echo (isset($this->post_var['confirmacaoaprovacao'])) ? $this->post_var['confirmacaoaprovacao'] : '' ?>';

                form_values.status1 = '<?php echo (isset($this->post_var['status1'])) ? $this->post_var['status1'] : $this->post_var['status'] ?>';

                form_values.progresso = '<?php echo (isset($this->post_var['progresso'])) ? $this->post_var['progresso'] : $this->post_var['progresso'] ?>';	
	<?php endif; ?>

	var sorting = ["idfuncionariosecretaria", "datainicio", "datafim", "progresso"];
	
</script>	


