<!DOCTYPE html>
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
<title>Prefeitura Municipal de Santa Isabel - Painel Administrativo</title>
<link href="<?php echo $this->baseUrl() ?>/public/admin/css/main.css" rel="stylesheet" type="text/css" />
<link href="<?php echo $this->baseUrl() ?>/public/scripts/jquery.alerts-1.1/jquery.alerts.css" rel="stylesheet">
<!--[if IE 8]><link href="css/ie8.css" rel="stylesheet" type="text/css" /><![endif]-->
<!--[if IE 9]><link href="css/ie9.css" rel="stylesheet" type="text/css" /><![endif]-->
<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700' rel='stylesheet' type='text/css'>

<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min.js"></script>
<script type="text/javascript" src="<?php echo $this->baseUrl() ?>/public/admin/js/plugins/forms/jquery.uniform.min.js"></script>
<script type="text/javascript" src="<?php echo $this->baseUrl() ?>/public/admin/js/files/bootstrap.min.js"></script>
<script type="text/javascript" src="<?php echo $this->baseUrl() ?>/public/admin/js/files/login.js"></script>

<script src="<?php echo $this->baseUrl() ?>/public/scripts/jquery.alerts-1.1/jquery.alerts.js"></script>
<script src="<?php echo $this->baseUrl() ?>/public/scripts/jquery-validation-1.13.1/dist/jquery.validate.min.js"></script>
<script src="<?php echo $this->baseUrl() ?>/public/scripts/jquery-validation-1.13.1/dist/localization/messages_pt_BR.min.js"></script>
<script src="<?php echo $this->baseUrl() ?>/public/scripts/admin/auth_login.js"></script>

<script type="text/javascript">
	$(document).ready(function() {
		$('li.<?php echo $this->getController() ?> a').trigger('click');
		$('li.<?php echo $this->getController() ?> li.<?php echo $this->getController() ?> a').addClass('menu_ativo');
		$('li.<?php echo $this->getController() ?> li.<?php echo $this->getAction() ?> a').addClass('menu_ativo');
		
	});

	var controller = '<?php echo $this->getController() ?>';
	var action = '<?php echo $this->getAction() ?>';
	var baseUrl = '<?php echo $this->baseUrl() ?>';

	
</script> 

</head>

<body class="no-background">

	<!-- Fixed top -->
	<div id="top">
		<div class="fixed">
			<a href="<?php echo $this->baseUrl()?>/admin" title="" class="logo-text">Prefeitura Municipal de Santa Isabel - Painel Administrativo</a>

		</div>
	</div>
	<!-- /fixed top -->


    <!-- Login block -->
    <!-- Login block -->
    <div class="login" style="left: 36%;">
        <img src="<?php echo $this->baseUrl('/public/admin/imagens/saege.png')?>" title="saege" />
    </div>

    <div class="login" style="left: 60%;">
        <div class="navbar">
            <div class="navbar-inner">
                <h6><i class="icon-user"></i>Acesso ao sistema</h6>
            </div>
        </div>
        <div class="well">
            <form id="form" name="form" method="post" action="" class="row-fluid">
                <div class="control-group">
                    <label class="control-label">RGF de acesso</label>
                    <div class="controls">
                    <?php if(false):?>
                        <input class="span12" type="text" name="email" value="<?php echo (isset($_POST['email'])) ? $_POST['email'] : '' ?>" placeholder="E-mail de acesso" />
                    <?php else:?>
                        <input class="span12" type="text" name="rgf" value="<?php echo (isset($_POST['emargfil'])) ? $_POST['rgf'] : '' ?>" placeholder="rgf" />
                       
                    <?php endif?>
                        
                    </div>
                </div>
                
                <div class="control-group">
                    <label class="control-label">Senha de acesso</label>
                    <div class="controls"><input class="span12" type="password" name="senha" placeholder="Senha de acesso" /></div>
                </div>

                <div class="control-group">
                    <div class="controls"><label class="checkbox inline"><a href="javascript:;" id="esqueci">Esqueci a senha</a></label></div>
                </div>


                <div class="control-group">
                    <div class="controls"><label class="checkbox inline"><a href="<?php echo $this->baseUrl('/admin/auth/prefeiturascidades');?>" title="" style="color:#428bca;">Voltar para a tela anterior</a></label></div>
                </div>                 

                <div class="login-btn"><input type="submit" value="Acessar" class="btn btn-danger btn-block" /></div>
            </form>
        </div>
    </div>
    <!-- /login block -->


	<!-- Footer -->
	<div id="footer">
		<div class="copyrights">Desenvolvido por &copy;FJMX. - <?php echo date('Y')?></div>
	</div>
	<!-- /footer -->

<script type="text/javascript">
<?php if (isset($this->erro)) : ?>
jAlert('<?php echo $this->erro ?>', 'Erro na autentição');
<?php endif;?>
</script>
<!-- Incluindo chat -->
<script type="text/javascript">
    var LHCChatOptions = {};
    LHCChatOptions.opt = {widget_height:340,widget_width:300,popup_height:520,popup_width:500,domain:'saege.com.br'};
    (function() {
    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
    var referrer = (document.referrer) ? encodeURIComponent(document.referrer.substr(document.referrer.indexOf('://')+1)) : '';
    var location  = (document.location) ? encodeURIComponent(window.location.href.substring(window.location.protocol.length)) : '';
    po.src = 'https://saege.com.br/chat/lhc_web/index.php/por/chat/getstatus/(click)/internal/(position)/bottom_right/(ma)/br/(hide_offline)/true/(top)/350/(units)/pixels/(leaveamessage)/true/(theme)/1?r='+referrer+'&l='+location;
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
    })();
</script>

</body>
</html>
