<!DOCTYPE html>
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
<title>Prefeitura Municipal de Santa Isabel - Painel Administrativo</title>
<link href="<?php echo $this->baseUrl() ?>/public/admin/css/main.css" rel="stylesheet" type="text/css" />
<link href="<?php echo $this->baseUrl() ?>/public/scripts/jquery.alerts-1.1/jquery.alerts.css" rel="stylesheet">
<!--[if IE 8]><link href="css/ie8.css" rel="stylesheet" type="text/css" /><![endif]-->
<!--[if IE 9]><link href="css/ie9.css" rel="stylesheet" type="text/css" /><![endif]-->
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600,700' rel='stylesheet' type='text/css'>

<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min.js"></script>
<script type="text/javascript" src="<?php echo $this->baseUrl() ?>/public/admin/js/plugins/forms/jquery.uniform.min.js"></script>
<script type="text/javascript" src="<?php echo $this->baseUrl() ?>/public/admin/js/files/bootstrap.min.js"></script>
<script type="text/javascript" src="<?php echo $this->baseUrl() ?>/public/admin/js/files/login.js"></script>

<script src="<?php echo $this->baseUrl() ?>/public/scripts/jquery.alerts-1.1/jquery.alerts.js"></script>
<script src="<?php echo $this->baseUrl() ?>/public/scripts/jquery-validation-1.13.1/dist/jquery.validate.min.js"></script>
<script src="<?php echo $this->baseUrl() ?>/public/scripts/jquery-validation-1.13.1/dist/localization/messages_pt_BR.min.js"></script>
<script src="<?php echo $this->baseUrl() ?>/public/scripts/admin/auth_login.js"></script>

<script type="text/javascript">
  $(document).ready(function() {
    $('li.<?php echo $this->getController() ?> a').trigger('click');
    $('li.<?php echo $this->getController() ?> li.<?php echo $this->getController() ?> a').addClass('menu_ativo');
    $('li.<?php echo $this->getController() ?> li.<?php echo $this->getAction() ?> a').addClass('menu_ativo');
    
  });

  var controller = '<?php echo $this->getController() ?>';
  var action = '<?php echo $this->getAction() ?>';
  var baseUrl = '<?php echo $this->baseUrl() ?>';

  
</script> 

</head>

<body class="no-background">

  <!-- Fixed top -->
  <div id="top">
    <div class="fixed">
      <a href="index.html" title="" class="logo-text">Prefeitura Municipal de Santa Isabel - Painel Administrativo</a>

    </div>
  </div>
  <!-- /fixed top -->


    <!-- Login block -->
    <div class="login" style="left: 36%;">
        <img src="<?php echo $this->baseUrl('/public/admin/imagens/saege.png')?>" title="saege" />
    </div>

<div class="login" style="left: 60%;">
        <div class="navbar">
            <div class="navbar-inner">
                <h6><i class="icon-user"></i>Acesso ao sistema</h6>
            </div>
        </div>
        <div class="well">
            <form id="form" name="form" method="post" action="" class="row-fluid">
                <div class="control-group">
                    <label class="control-label">Estado</label>
                    <div class="controls"> 
                      <select id="idestado" name="idestado" class="form-control" onchange="setCidades(this, 0)" style="margin: 0">
                            <option value="">Selecione...</option>
                            <?php foreach ($this->estados as $e=>$estado) : ?>
                            <option value="<?php echo $estado['idestado'] ?>"><?php echo $estado['e1nome'] ?></option>
                            <?php endforeach; ?>
                      </select>  
                    </div>
                </div>
                
                <div class="control-group">
                    <label class="control-label">Cidade</label>
                    <div class="controls">
                      <select id="idcidade" name="idcidade" class="form-control" style="margin: 0">
                            <option value="">Selecione...</option>
                      </select>  
                    </div>
                </div>

                <div class="control-group">
                    <div class="controls"><label class="checkbox inline"><a href="javascript:;" id="esqueci">Esqueci a senha</a></label></div>
                </div>

                <div class="login-btn"><input type="submit" value="Acessar" class="btn btn-danger btn-block" /></div>
            </form>
        </div>
    </div>
    <!-- /login block -->


  <!-- Footer -->
  <div id="footer">
    <div class="copyrights">Desenvolvido por &copy;FJMX. - <?php echo date('Y')?></div>
  </div>
  <!-- /footer -->
<script src="<?php echo $this->baseUrl() ?>/public/scripts/admin/auth_prefeiturascidades.js"></script>

<script type="text/javascript">
<?php if (isset($this->erro)) : ?>
jAlert('<?php echo $this->erro ?>', 'Erro na autentição');
<?php endif;?>
</script>

</body>
</html>


<?php /*?>

<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="shortcut icon" href="<?php echo $this->baseUrl() ?>/public/admin/images/favicon.png" type="image/png">

  <title>Prefeitura Municipal de Santa Isabel - Painel Administrativo</title>

  <link href="<?php echo $this->baseUrl() ?>/public/admin/css/style.default.css" rel="stylesheet">

  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
  <script src="<?php echo $this->baseUrl() ?>/public/admin/js/html5shiv.js"></script>
  <script src="<?php echo $this->baseUrl() ?>/public/admin/js/respond.min.js"></script>
  <![endif]-->
</head>

<body class="signin">

<!-- Preloader -->
<div id="preloader">
    <div id="status"><i class="fa fa-spinner fa-spin"></i></div>
</div>

<section>
  
    <div class="signinpanel">
        
        <div class="row">
            
            <div class="col-md-7">
            	<?php if (isset($this->erro)) : ?>
            	<div class="alert alert-danger">
                	<button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                	<strong>Erro!</strong> <?php echo $this->erro ?>
              	</div>
              	<?php endif; ?>
            
                
                <div class="signin-info">
                	<?php //if(false):?>
                    <div class="logopanel">
                        <img src="<?php echo $this->baseUrl() ?>/public/admin/images/novas/saege.png" width="300">
                    </div><!-- logopanel -->
                	<?php //endif ?>
                    <div class="mb20"></div>
                	
                </div><!-- signin0-info -->
            
            </div><!-- col-sm-7 -->
            
            <div class="col-md-5">
                
                <form id="form" name="form" method="post" action="">
                    <h4 class="nomargin">Acesso ao sistema</h4>
                    <p class="mt5 mb20">Selecione um Estado e uma Cidade para acessar a área de Login</p>
                
	        		<div class="form-group">
	        			<label class="col-sm-3 control-label" style="width: 80px;">Estado</label>
	        			<div class="col-sm-6">
	        				<select id="idestado" name="idestado" class="form-control" onchange="setCidades(this, 0)" style="margin: 0">
	        					<option value="">Selecione...</option>
	        					<?php foreach ($this->estados as $e=>$estado) : ?>
	        					<option value="<?php echo $estado['idestado'] ?>"><?php echo $estado['e1nome'] ?></option>
	        					<?php endforeach; ?>
							</select>        				
						</div>
					</div>
					
	        		<div class="form-group">
	        			<label class="col-sm-3 control-label" style="width: 80px;">Cidade</label>
	        			<div class="col-sm-6">
	        				<select id="idcidade" name="idcidade" class="form-control" style="margin: 0">
	        					<option value="">Selecione...</option>
							</select>        				
						</div>
					</div>
					
                    
                    <button class="btn btn-success btn-block">Acessar</button>
                    
                </form>
            </div><!-- col-sm-5 -->
            
        </div><!-- row -->
        
        <div class="signup-footer">
            <div class="pull-left">
                &copy; 2015. Todos os direitos redervados
            </div>
            <?php /*?>
            <div class="pull-right">
                Criado por: <a href="http://www.mnsolucoes.com.br/" target="_blank">MN Soluções</a>
            </div>
            <?php */?>
        </div>
        
    </div><!-- signin -->
  
</section>


<script src="<?php echo $this->baseUrl() ?>/public/admin/js/jquery-1.10.2.min.js"></script>
<script src="<?php echo $this->baseUrl() ?>/public/admin/js/jquery-migrate-1.2.1.min.js"></script>
<script src="<?php echo $this->baseUrl() ?>/public/admin/js/bootstrap.min.js"></script>
<script src="<?php echo $this->baseUrl() ?>/public/admin/js/modernizr.min.js"></script>
<script src="<?php echo $this->baseUrl() ?>/public/admin/js/retina.min.js"></script>

<script src="<?php echo $this->baseUrl() ?>/public/admin/js/jquery.sparkline.min.js"></script>
<script src="<?php echo $this->baseUrl() ?>/public/admin/js/toggles.min.js"></script>
<script src="<?php echo $this->baseUrl() ?>/public/admin/js/jquery.cookies.js"></script>

<script src="<?php echo $this->baseUrl() ?>/public/scripts/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="<?php echo $this->baseUrl() ?>/public/scripts/jquery-validation/dist/localization/messages_pt_BR.min.js"></script>

<script src="<?php echo $this->baseUrl() ?>/public/admin/js/custom.js"></script>
	<script type="text/javascript">
		var controller = '<?php echo $this->getController() ?>';
		var action = '<?php echo $this->getAction() ?>';
		var baseUrl = '<?php echo $this->baseUrl() ?>';		
	</script> 
<script src="<?php echo $this->baseUrl() ?>/public/scripts/admin/auth_prefeiturascidades.js"></script>


</body>
</html>
<?php ?>