<?php if (sizeof($this->rows)==0) : ?>
<option value="">Selecione...</option>
<option value="">Nenhuma cidade foi encontrada</option>
<?php else : ?>
<option value="">Selecione...</option>
<?php foreach ($this->rows as $row) : ?>
<?php 
$cidade = $row['c1nome'];

if(($row['idendereco'] > 0) && (!$cidade) || ($cidade=="")){		
	$endereco = Enderecos::getEnderecoById($row['idendereco']);
	if(isset($endereco['cidade'])) $cidade = $endereco['cidade'];
}

?>
<option value="<?php echo $cidade ?>">
	<?php echo $cidade ?>
	
</option>
<?php endforeach; ?>
<?php endif; ?>
