<div class="control-group" style="display:none;">
	<label class="control-label">Prefeitura *</label>
	<div class="controls">
		<select id="idprefeitura" name="idprefeitura" class="form-control">
			<?php foreach ($this->prefeituras as $p=>$prefeitura): ?>
			<?php 
				$cidade = $prefeitura['c1nome'];

				if(($prefeitura['idendereco'] > 0) && (!$cidade) || ($cidade=="")){				        							
					$endereco = Enderecos::getEnderecoById($prefeitura['idendereco']);
					if(isset($endereco['cidade'])) $cidade = $endereco['cidade'];
				}

			?>
			<option value="<?php echo $prefeitura['id']?>"><?php echo $prefeitura['e1nome'] . ' > ' . $cidade ?></option>
			<?php endforeach;?>
		</select>        				
	</div>
</div>
						        
<div class="control-group">
	<label class="control-label">É Professor ?*</label>
	<div class="controls">
		<select id="professor" name="professor" class="form-control" onchange="setCamposUser(this, '')">
			<option value="">Selecione...</option>
			<option value="Sim">Sim</option>
			<option value="Não">Não</option>
		</select>        				
	</div>
</div>

<div class="input-polivalente" style="display: none;">
	<div class="control-group">
		<label class="control-label">O professor é polivalente ?</label>
		<div class="controls">
			<select id="polivalente" name="polivalente" class="form-control">
				<option value="">Selecione...</option>
				<option value="Sim">Sim</option>
				<option value="Não">Não</option>
			</select>        				
		</div>
	</div>
</div>
						        
<div class="control-group">
	<label class="control-label">É Diretor ?</label>
	<div class="controls">
		<select id="diretor" name="diretor" class="form-control">
			<option value="">Selecione...</option>
			<option value="Sim">Sim</option>
			<option value="Não">Não</option>
		</select>        				
	</div>
</div>
				        		
<?php /*?>
<div class="control-group campos_professores" style="display:none;">
	<label class="control-label">Escolas *</label>
	<div class="controls">
		<input type="hidden" value="<?php echo (isset($this->post_var_professor)) ? $this->post_var_professor["idperfil"] : ''; ?>" name="idperfilprofessor" id="idperfilprofessor" />
		<input type="hidden" value="<?php echo (isset($this->post_var_professor)) ? $this->post_var_professor["iddepartamento"] : ''; ?>" name="iddepartamentoprofessor" id="iddepartamentoprofessor" />
		<input type="hidden" value="<?php echo (isset($this->post_var_professor)) ? $this->post_var_professor["idcargo"] : ''; ?>" name="idcargoprofessor" id="idcargoprofessor" />
		<?php foreach ($this->escolas as $k=>$v) : ?>
		<input type="checkbox" value="<?php echo $v['id'] ?>" name="idescolas[]" /> <?php echo $v['escola'] ?><br />
		<?php endforeach;?>      				
	</div>
</div>

<div class="campos_nao_professores" style="display:none;">
	<div class="control-group">
		<label class="control-label">Envia e-mails para</label>
		<div class="controls">
			<select id="professor" name="enviaemails" class="form-control" >
				<option value="">Selecione...</option>
				<option value="Rede municipal de ensino">Rede municipal de ensino</option>
				<option value="Professor">Professor</option>
				<option value="Departamentos">Departamentos</option>
			</select>        				
		</div>
	</div>

	<div class="control-group campos_departamentos" style="display:none;">
		<label class="control-label">Departamentos</label>
		<div class="controls content_departamentos">
				
		</div>
	</div>

	<div class="control-group">
		<label class="control-label">Perfil de acesso *</label>
		<div class="controls">
			<select id="idperfil" name="idperfil" class="form-control">
				<option value="">Selecione...</option>
				<?php foreach (UsuariosPerfis::getPerfisHelpers(array('status'=>'Ativo')) as $i=>$row) : ?>
				<option value="<?php echo $row['id'] ?>"><?php echo $row['perfil'] ?></option>
				<?php endforeach;?>
			</select>        				
		</div>
	</div>		
<?php /*?>
	<div class="control-group">
		<label class="control-label">Perfil de acesso *</label>
		<div class="controls">
			<select id="idperfil" name="idperfil" class="form-control">
				<option value="">Selecione...</option>
				<?php foreach ($this->perfis as $i=>$row) : ?>
				<option value="<?php echo $row['id'] ?>"><?php echo $row['perfil'] ?></option>
				<?php endforeach;?>
			</select>        				
		</div>
	</div>		
</div>

<?php */?>