		<!-- Content -->
		<div id="content">

		    <!-- Content wrapper -->
		    <div class="wrapper">

			    <!-- Breadcrumbs line -->
			    <div class="crumbs">
			    	<?php echo $this->render('/helpers/breadcrumb.phtml') ?>
			    </div>
			    <!-- /breadcrumbs line -->

			    <!-- Page header -->
			    <div class="page-header">
			    	<div class="page-title">
				    	<h5>Formulário do apm</h5>
				    	<span>Verifique os campos e preencha com os dados</span>
			    	</div>
			    </div>
			    <!-- /page header -->

			    <?php if (isset($this->crudMessage)) : ?>
					<div class="alert alert-success">
	                	<button data-dismiss="alert" class="close" type="button">×</button>
	                    <strong>Operação realizada com sucesso!</strong>
		    			<span><br /><?php echo $this->crudMessage ?></span>
	                </div>			    
			    <?php endif; ?>

				<form id="form" name="form" action="" method="post" class="form-horizontal" enctype="multipart/form-data"> 
					<input type="hidden" value="<?php echo (isset($this->post_var)) ? $this->post_var["id"] : ''; ?>" name="id" id="id" />
					
					<fieldset>
						<!-- General form elements -->
						<div class="widget row-fluid">
						    <div class="navbar">
						        <div class="navbar-inner">
						            <h6>Digite as informações do formulário</h6>
						        </div>
						    </div>

						    <div class="well">
								<?php if (isset($this->erros)) : ?>
									<div class="alert alert-error margin">
				                        <button data-dismiss="alert" class="close" type="button">×</button>
				                        <strong>Há erros no formulário!</strong>
					    				<?php foreach ($this->erros as $k=>$v) : ?>
					    					<span><br />- <?php echo $v ?></span>
					    				<?php endforeach;?>			                        
				                    </div>
			                    <?php endif; ?>						    
				 <?php $idescola = Usuarios::getUsuario('idescola'); ?>
				<?php $idlocal = Usuarios::getUsuario('idlocal'); ?>
				<?php if(($idescola>0) || ($idlocal>0)): ?>		    
				<div class="control-group">
					<div class="controls1 visualizar">
						<table class="table table-content" width="100%">
							<tbody>
								<tr>
									<input maxlength="500" placeholder="Nome do Usuário" name="idusuario" value="<?php echo Usuarios::getUsuario('id') ?>" type="hidden"  class="span3" />
									<input  placeholder="Data de lançamento" name="datalancamento" value="<?php echo (isset($this->post_var['datalancamento'])) ? Mn_Util::formPostVarData($this->post_var['datalancamento']) : date('d/m/Y') ?>" type="hidden"  class="span3" />
									<input maxlength="500" placeholder="Nome do Usuário" name="idlocal" value="<?php echo Usuarios::getUsuario('idlocal') ?>" type="hidden"  class="span3" />
									<input maxlength="500" placeholder="Nome do Usuário" name="idescola" value="<?php echo Usuarios::getUsuario('idescola') ?>" type="hidden"  class="span3" />

									<td width="33%">Nome do Usuário: <?php echo Usuarios::getUsuario('nomerazao') . " - " . Usuarios::getUsuario('rgf') ?></td>
									<td width="34%">Data da Abertura: <?php echo date('d/m/Y') ?></td>
									<td width="33%">Escola: <?php 
											$local = Escolas::getEscolaByIdHelper(Usuarios::getUsuario('idescola')); 
											echo ((isset($local['escola'])) && ($local['escola']) && ($local['escola']!="") ) ? $local['escola'] : '';
										?>
											
									</td>
								</tr>
							</tbody>
						</table>
						
					</div>
				</div>
				<?php else: ?>
				<div class="control-group">
					<div class="controls1 visualizar">
						<table class="table table-content" width="100%">
							<tbody>
								<tr>
									<input maxlength="500" placeholder="Nome do Usuário" name="idusuario" value="<?php echo Usuarios::getUsuario('id') ?>" type="hidden"  class="span3" />
									<input  placeholder="Data de lançamento" name="datalancamento" value="<?php echo (isset($this->post_var['datalancamento'])) ? Mn_Util::formPostVarData($this->post_var['datalancamento']) : date('d/m/Y') ?>" type="hidden"  class="span3" />
									
									<td width="50%">Nome do Usuário: <?php echo Usuarios::getUsuario('nomerazao') . " - " . Usuarios::getUsuario('rgf') ?></td>
									<td width="50%">Data da Abertura: <?php echo date('d/m/Y') ?></td>
									
								</tr>
							</tbody>
						</table>
						
					</div>
				</div>
				<?php endif; ?>		    

			 
				<?php if(($idescola>0) || ($idlocal>0)): ?>
	
					<?php /*?>
					<div class="control-group">
						<label class="control-label">Local <span class="required">*</span></label>
						<div class="controls">
							<select id="idlocal" name="idlocal"  class="select">
								<option value="">Selecione...</option>
								<?php foreach (Locais::getLocaisHelper() as $e=>$row): ?>
								<option value="<?php echo $row['id'] ?>"><?php echo $row['titulo'] ?></option>
								<?php endforeach;?>
							</select>   
						</div>
					</div>

					
					<?php */?>
					<?php else: ?>
					<div class="control-group">
					<label class="control-label">Escolas <span class="required">*</span></label>
					<div class="controls">
							<select name="idescola" data-placeholder="Escolas" class="select">
								<option value="">Selecione...</option>
								<?php foreach (Escolas::getEscolasHelper(array('status'=>'Ativo', 'idsecretaria'=>Usuarios::getSecretariaAtiva( Usuarios::getUsuario('id'), 'id' ))) as $k=>$v) : ?>
								<option value="<?php echo $v['id'] ?>"><?php echo $v['escola'] ?></option>
								<?php endforeach;?>
							</select> 
						</div>
					</div>
				<?php endif; ?>


				<div class="control-group">
					<label class="control-label">Título </label>
					<div class="controls"><input maxlength="500" placeholder="Título" name="titulo" value="<?php echo (isset($this->post_var['titulo'])) ? $this->post_var['titulo'] : '' ?>" type="text"  class="span3" /></div>
				</div>


				<div class="control-group">
					<label class="control-label">Data de inicio</label>
					<div class="controls"><input placeholder="Data de inicio" name="datainicio" value="<?php echo (isset($this->post_var['datainicio'])) ? Mn_Util::formPostVarData($this->post_var['datainicio']) : '' ?>" type="text"  class="span3" /></div>
				</div>


				<div class="control-group">
					<label class="control-label">Data de término</label>
					<div class="controls"><input placeholder="Data de término" name="datafim" value="<?php echo (isset($this->post_var['datafim'])) ? Mn_Util::formPostVarData($this->post_var['datafim']) : '' ?>" type="text"  class="span3" /></div>
				</div>

				<div class="control-group">
					<label class="control-label">Membros</label>
					<div class="controls"> 
						<div class="itens">
                            <table class="table table-membros table-primary mb30" border="1">
                                <thead>
                                    <tr>
                                        <th align="left" style="text-align: center;">Nome</th>										
                                        <th align="left" style="text-align: center; white-space: normal;">Cargo</th>
                                        <th align="left" style="text-align: center;"><button type="button" onclick="membroAddTr()" class="btn">+</button></th>
                                    </tr>
                                </thead>
                                <tbody>	

                                        <script type="text/javascript">

                                        $(document).ready(function() {

                                                <?php if (isset($this->post_var['id'])) : ?>
                                                <?php //var_dump(Escolasapmsmembros::getEscolasapmsmembrosHelper(array('idapmgrupo' => $this->post_var['id']))); die();?>
                                                <?php foreach (Escolasapmsmembros::getEscolasapmsmembrosHelper(array('idapmgrupo' => $this->post_var['id'])) as $c=>$row) : ?>
                                                <?php 
                                                    $row['var_db'] = true;
                                                ?>
                                                membros = '<?php echo str_replace("'", "\'", json_encode($row)) ?>';

                                                membroAddTr(membros);
                                                <?php endforeach;?>

                                                <?php endif; ?>
                                        });
                                        </script>
                                </tbody>

                                <tfoot>
                                    <tr id="modelo-apm" style="display:none;">
                                        <td align="center" style="text-align:center !Important;">
                                            <input type="hidden" name="_ids" value="" />
                                            <input name="funcionario[]" type="text" class="form-control" placeholder="nome do funcionário">
                                        </td>

                                        <td align="center" style="text-align:center !Important;">
                                            <input name="cargo[]" type="text" class="form-control" placeholder="cargo">
                                        </td>

                                        <td style="text-align: center !important; padding:8px 0 8px 22px;" align="center">
                                            <a href="javascript:;" onclick="membrosExcluirFromTable(this)">
                                                <span><i class="icon-remove"></i></span>
                                            </a>
                                        </td>
                                    </tr>
                                </tfoot>

                            </table>
                        </div>
					</div>
				</div>
				<div class="control-group">
					<label class="control-label">Arquivos </label>
					<div class="controls"> 
						<?php echo $this->render('escolasapmsgrupos/helpers/multiplosarquivos.phtml') ?>
					</div>
				</div>
				<div class="control-group">
					<label class="control-label">Status <span class="required">*</span></label>
					<div class="controls">
						<select name="status1" data-placeholder="Status" class="select">
							<option value="">Selecione...</option>
							<option value="Ativo">Ativo</option><option value="Bloqueado">Bloqueado</option>
						</select>
						
					</div>
				</div>

						    
						    
						    </div>
						    
			                <div class="form-actions align-right">
			                	<?php if ((isset($this->visualizar)) && ($this->visualizar)) : ?>
			                		<button onclick="window.history.back()" class="btn btn-danger cancelar" type="button">Voltar</button>
			                	<?php else : ?>
				                	<button class="btn btn-primary enviar" type="submit">Salvar</button>
				                	<button onclick="window.history.back()" class="btn btn-danger cancelar" type="button">Cancelar</button>
			                	<?php endif; ?>
			                </div>
						</div>
						<!-- /general form elements -->

					</fieldset> 

				</form>
				<!-- /basic inputs -->

		    </div>
		    <!-- /content wrapper -->

		</div>
		<!-- content -->
				
<script type="text/javascript" src="<?php echo $this->baseUrl('/public/scripts/admin/escolasapmsgrupos_form.js') ?>"></script>
<script type="text/javascript">
	var form_values = {};
	
	<?php if (isset($this->post_var)) :  ?>
		form_values.idescola = '<?php echo (isset($this->post_var['idescola'])) ? $this->post_var['idescola'] : '' ?>';

form_values.status1 = '<?php echo (isset($this->post_var['status1'])) ? $this->post_var['status1'] : $this->post_var['status'] ?>';


	<?php endif; ?>

	visualizar = <?php echo  ((isset($this->visualizar)) && ($this->visualizar))  ? 'true' : 'false' ?>;
</script>
