		<!-- Content -->
		<div id="content">

		    <!-- Content wrapper -->
		    <div class="wrapper">

			    <!-- Breadcrumbs line -->
			    <div class="crumbs">
			    	<?php echo $this->render('/helpers/breadcrumb.phtml') ?>
			    </div>
			    <!-- /breadcrumbs line -->

			    <!-- Page header -->
			    <div class="page-header">
			    	<div class="page-title">
				    	<h5>Formulário do dado pessoal</h5>
				    	<span>Verifique os campos e preencha com os dados</span>
			    	</div>
			    </div>
			    <!-- /page header -->

			    <?php if (isset($this->crudMessage)) : ?>
					<div class="alert alert-success">
	                	<button data-dismiss="alert" class="close" type="button">×</button>
	                    <strong>Operação realizada com sucesso!</strong>
		    			<span><br /><?php echo $this->crudMessage ?></span>
	                </div>			    
			    <?php endif; ?>

				<form id="form" name="form" action="" method="post" class="form-horizontal" enctype="multipart/form-data"> 
					<input type="hidden" value="<?php echo (isset($this->post_var)) ? $this->post_var["id"] : ''; ?>" name="id" id="id" />
					
					<fieldset>
						<!-- General form elements -->
						<div class="widget row-fluid">
						    <div class="navbar">
						        <div class="navbar-inner">
						            <h6>Digite as informações do formulário</h6>
						        </div>
						    </div>

						    <div class="well">
								<?php if (isset($this->erros)) : ?>
									<div class="alert alert-error margin">
				                        <button data-dismiss="alert" class="close" type="button">×</button>
				                        <strong>Há erros no formulário!</strong>
					    				<?php foreach ($this->erros as $k=>$v) : ?>
					    					<span><br />- <?php echo $v ?></span>
					    				<?php endforeach;?>			                        
				                    </div>
			                    <?php endif; ?>						    
						    

				<div class="control-group">
					<label class="control-label">Funcionário <span class="required">*</span></label>
					<div class="controls">
		                <select name="idfuncionarioescola" data-placeholder="Funcionário" class="select">
							<option value="">Selecione...</option>
							<?php foreach (Funcionariosgeraisescolas::getFuncionariosgeraisescolasHelper(array('status'=>'Ativo', 'idescola'=>Escolasusuarios::getEscolaAtiva(Escolasusuarios::getUsuario('id'), 'id'))) as $k=>$v) : ?>
							<option value="<?php echo $v['id'] ?>"><?php echo $v['nome'] ?></option>
							<?php endforeach;?>
						</select>
						
					</div>
				</div>


				<div class="control-group">
					<label class="control-label">Foto3X4 </label>
					<div class="controls">
						<?php if ((isset($this->post_var['idfoto3x4'])) && ((int)$this->post_var['idfoto3x4']>0)) : ?>
							<?php echo $this->getImagem($this->post_var['idfoto3x4'], 80, 80, '', Imagens::$INDISPONIVEL) ?>
					
							<?php if (!$this->visualizar) : ?>
								<div class="checkbox block">
									<label><input type="checkbox" name="excluir_idfoto3x4" value="excluir_idfoto3x4" /> Desejo excluir a imagem</label>
								</div>
							<?php endif; ?>
						<?php endif; ?>						            
					
						<input placeholder="Foto3X4" name="idfoto3x4" type="file"  />
					</div>
				</div>	


				<div class="control-group">
					<label class="control-label">Foto2X2 </label>
					<div class="controls">
						<?php if ((isset($this->post_var['idfoto2x2'])) && ((int)$this->post_var['idfoto2x2']>0)) : ?>
							<?php echo $this->getImagem($this->post_var['idfoto2x2'], 80, 80, '', Imagens::$INDISPONIVEL) ?>
					
							<?php if (!$this->visualizar) : ?>
								<div class="checkbox block">
									<label><input type="checkbox" name="excluir_idfoto2x2" value="excluir_idfoto2x2" /> Desejo excluir a imagem</label>
								</div>
							<?php endif; ?>
						<?php endif; ?>						            
					
						<input placeholder="Foto2X2" name="idfoto2x2" type="file"  />
					</div>
				</div>	


				<div class="control-group">
					<label class="control-label">Cópia do RG </label>
					<div class="controls">
						<?php if ((isset($this->post_var['idrg'])) && ((int)$this->post_var['idrg']>0)) : ?>
							<?php echo $this->getArquivo($this->post_var['idrg']) ?>
						
							<?php if (!$this->visualizar) : ?>
								<div class="checkbox block">
									<label><input type="checkbox" name="excluir_idrg" value="excluir" /> Desejo excluir o arquivo</label>
								</div>
							<?php endif; ?>
						<?php endif; ?>
						
						<input placeholder="Cópia do RG" name="idrg" type="file"  />
					</div>
				</div>	


				<div class="control-group">
					<label class="control-label">Cópia do CPF </label>
					<div class="controls">
						<?php if ((isset($this->post_var['idcpf'])) && ((int)$this->post_var['idcpf']>0)) : ?>
							<?php echo $this->getArquivo($this->post_var['idcpf']) ?>
						
							<?php if (!$this->visualizar) : ?>
								<div class="checkbox block">
									<label><input type="checkbox" name="excluir_idcpf" value="excluir" /> Desejo excluir o arquivo</label>
								</div>
							<?php endif; ?>
						<?php endif; ?>
						
						<input placeholder="Cópia do CPF" name="idcpf" type="file"  />
					</div>
				</div>	


				<div class="control-group">
					<label class="control-label">Cópia do Título de Eleitor </label>
					<div class="controls">
						<?php if ((isset($this->post_var['idtituloeleitor'])) && ((int)$this->post_var['idtituloeleitor']>0)) : ?>
							<?php echo $this->getArquivo($this->post_var['idtituloeleitor']) ?>
						
							<?php if (!$this->visualizar) : ?>
								<div class="checkbox block">
									<label><input type="checkbox" name="excluir_idtituloeleitor" value="excluir" /> Desejo excluir o arquivo</label>
								</div>
							<?php endif; ?>
						<?php endif; ?>
						
						<input placeholder="Cópia do Título de Eleitor" name="idtituloeleitor" type="file"  />
					</div>
				</div>	


				<div class="control-group">
					<label class="control-label">Cópia da Reservista </label>
					<div class="controls">
						<?php if ((isset($this->post_var['idreservista'])) && ((int)$this->post_var['idreservista']>0)) : ?>
							<?php echo $this->getArquivo($this->post_var['idreservista']) ?>
						
							<?php if (!$this->visualizar) : ?>
								<div class="checkbox block">
									<label><input type="checkbox" name="excluir_idreservista" value="excluir" /> Desejo excluir o arquivo</label>
								</div>
							<?php endif; ?>
						<?php endif; ?>
						
						<input placeholder="Cópia da Reservista" name="idreservista" type="file"  />
					</div>
				</div>	


				<div class="control-group">
					<label class="control-label">Cópia do PIS/PASEB </label>
					<div class="controls">
						<?php if ((isset($this->post_var['idpispaseb'])) && ((int)$this->post_var['idpispaseb']>0)) : ?>
							<?php echo $this->getArquivo($this->post_var['idpispaseb']) ?>
						
							<?php if (!$this->visualizar) : ?>
								<div class="checkbox block">
									<label><input type="checkbox" name="excluir_idpispaseb" value="excluir" /> Desejo excluir o arquivo</label>
								</div>
							<?php endif; ?>
						<?php endif; ?>
						
						<input placeholder="Cópia do PIS/PASEB" name="idpispaseb" type="file"  />
					</div>
				</div>	


				<div class="control-group">
					<label class="control-label">Cópia do Comprovante de votação da última eleição </label>
					<div class="controls">
						<?php if ((isset($this->post_var['idcomprovanteeleicao'])) && ((int)$this->post_var['idcomprovanteeleicao']>0)) : ?>
							<?php echo $this->getArquivo($this->post_var['idcomprovanteeleicao']) ?>
						
							<?php if (!$this->visualizar) : ?>
								<div class="checkbox block">
									<label><input type="checkbox" name="excluir_idcomprovanteeleicao" value="excluir" /> Desejo excluir o arquivo</label>
								</div>
							<?php endif; ?>
						<?php endif; ?>
						
						<input placeholder="Cópia do Comprovante de votação da última eleição" name="idcomprovanteeleicao" type="file"  />
					</div>
				</div>	


				<div class="control-group">
					<label class="control-label">Cópia de um comprovamte de endereço (Água/Luz/Telefone) - Recente </label>
					<div class="controls">
						<?php if ((isset($this->post_var['idcomprovanteendereco'])) && ((int)$this->post_var['idcomprovanteendereco']>0)) : ?>
							<?php echo $this->getArquivo($this->post_var['idcomprovanteendereco']) ?>
						
							<?php if (!$this->visualizar) : ?>
								<div class="checkbox block">
									<label><input type="checkbox" name="excluir_idcomprovanteendereco" value="excluir" /> Desejo excluir o arquivo</label>
								</div>
							<?php endif; ?>
						<?php endif; ?>
						
						<input placeholder="Cópia de um comprovamte de endereço (Água/Luz/Telefone) - Recente" name="idcomprovanteendereco" type="file"  />
					</div>
				</div>	


				<div class="control-group">
					<label class="control-label">Cópia da Certidão de nascimento </label>
					<div class="controls">
						<?php if ((isset($this->post_var['idcertidaonascimento'])) && ((int)$this->post_var['idcertidaonascimento']>0)) : ?>
							<?php echo $this->getArquivo($this->post_var['idcertidaonascimento']) ?>
						
							<?php if (!$this->visualizar) : ?>
								<div class="checkbox block">
									<label><input type="checkbox" name="excluir_idcertidaonascimento" value="excluir" /> Desejo excluir o arquivo</label>
								</div>
							<?php endif; ?>
						<?php endif; ?>
						
						<input placeholder="Cópia da Certidão de nascimento" name="idcertidaonascimento" type="file"  />
					</div>
				</div>	


				<div class="control-group">
					<label class="control-label">Cópia da certidão de casamento </label>
					<div class="controls">
						<?php if ((isset($this->post_var['idcertidaocasamento'])) && ((int)$this->post_var['idcertidaocasamento']>0)) : ?>
							<?php echo $this->getArquivo($this->post_var['idcertidaocasamento']) ?>
						
							<?php if (!$this->visualizar) : ?>
								<div class="checkbox block">
									<label><input type="checkbox" name="excluir_idcertidaocasamento" value="excluir" /> Desejo excluir o arquivo</label>
								</div>
							<?php endif; ?>
						<?php endif; ?>
						
						<input placeholder="Cópia da certidão de casamento" name="idcertidaocasamento" type="file"  />
					</div>
				</div>	


				<div class="control-group">
					<label class="control-label">Atestado de Antecedentes </label>
					<div class="controls">
						<?php if ((isset($this->post_var['idantecedentes'])) && ((int)$this->post_var['idantecedentes']>0)) : ?>
							<?php echo $this->getArquivo($this->post_var['idantecedentes']) ?>
						
							<?php if (!$this->visualizar) : ?>
								<div class="checkbox block">
									<label><input type="checkbox" name="excluir_idantecedentes" value="excluir" /> Desejo excluir o arquivo</label>
								</div>
							<?php endif; ?>
						<?php endif; ?>
						
						<input placeholder="Atestado de Antecedentes" name="idantecedentes" type="file"  />
					</div>
				</div>	


				<div class="control-group">
					<label class="control-label">Cópia atenticada do diploma de graduação ou certificado de colação de grau </label>
					<div class="controls">
						<?php if ((isset($this->post_var['iddgraduacao'])) && ((int)$this->post_var['iddgraduacao']>0)) : ?>
							<?php echo $this->getArquivo($this->post_var['iddgraduacao']) ?>
						
							<?php if (!$this->visualizar) : ?>
								<div class="checkbox block">
									<label><input type="checkbox" name="excluir_iddgraduacao" value="excluir" /> Desejo excluir o arquivo</label>
								</div>
							<?php endif; ?>
						<?php endif; ?>
						
						<input placeholder="Cópia atenticada do diploma de graduação ou certificado de colação de grau" name="iddgraduacao" type="file"  />
					</div>
				</div>	


				<div class="control-group">
					<label class="control-label">Cópia do RO/CRM/CRP/CREA/COREN ou Outros(conforme exigência do cargo) </label>
					<div class="controls">
						<?php if ((isset($this->post_var['idcargo'])) && ((int)$this->post_var['idcargo']>0)) : ?>
							<?php echo $this->getArquivo($this->post_var['idcargo']) ?>
						
							<?php if (!$this->visualizar) : ?>
								<div class="checkbox block">
									<label><input type="checkbox" name="excluir_idcargo" value="excluir" /> Desejo excluir o arquivo</label>
								</div>
							<?php endif; ?>
						<?php endif; ?>
						
						<input placeholder="Cópia do RO/CRM/CRP/CREA/COREN ou Outros(conforme exigência do cargo)" name="idcargo" type="file"  />
					</div>
				</div>	


				<div class="control-group">
					<label class="control-label">Exame admissional </label>
					<div class="controls">
						<?php if ((isset($this->post_var['idexame'])) && ((int)$this->post_var['idexame']>0)) : ?>
							<?php echo $this->getArquivo($this->post_var['idexame']) ?>
						
							<?php if (!$this->visualizar) : ?>
								<div class="checkbox block">
									<label><input type="checkbox" name="excluir_idexame" value="excluir" /> Desejo excluir o arquivo</label>
								</div>
							<?php endif; ?>
						<?php endif; ?>
						
						<input placeholder="Exame admissional" name="idexame" type="file"  />
					</div>
				</div>	


				<div class="control-group">
					<label class="control-label">CNH </label>
					<div class="controls">
						<?php if ((isset($this->post_var['idcnh'])) && ((int)$this->post_var['idcnh']>0)) : ?>
							<?php echo $this->getArquivo($this->post_var['idcnh']) ?>
						
							<?php if (!$this->visualizar) : ?>
								<div class="checkbox block">
									<label><input type="checkbox" name="excluir_idcnh" value="excluir" /> Desejo excluir o arquivo</label>
								</div>
							<?php endif; ?>
						<?php endif; ?>
						
						<input placeholder="CNH" name="idcnh" type="file"  />
					</div>
				</div>	


				<div class="control-group">
					<label class="control-label">N° da conta corrente (Bradesco) ou formulário preenchido co cópias </label>
					<div class="controls">
						<?php if ((isset($this->post_var['idconta'])) && ((int)$this->post_var['idconta']>0)) : ?>
							<?php echo $this->getArquivo($this->post_var['idconta']) ?>
						
							<?php if (!$this->visualizar) : ?>
								<div class="checkbox block">
									<label><input type="checkbox" name="excluir_idconta" value="excluir" /> Desejo excluir o arquivo</label>
								</div>
							<?php endif; ?>
						<?php endif; ?>
						
						<input placeholder="N° da conta corrente (Bradesco) ou formulário preenchido co cópias" name="idconta" type="file"  />
					</div>
				</div>	


				<div class="control-group">
					<label class="control-label">Declaração de Bens </label>
					<div class="controls">
						<?php if ((isset($this->post_var['iddeclaracaobens'])) && ((int)$this->post_var['iddeclaracaobens']>0)) : ?>
							<?php echo $this->getArquivo($this->post_var['iddeclaracaobens']) ?>
						
							<?php if (!$this->visualizar) : ?>
								<div class="checkbox block">
									<label><input type="checkbox" name="excluir_iddeclaracaobens" value="excluir" /> Desejo excluir o arquivo</label>
								</div>
							<?php endif; ?>
						<?php endif; ?>
						
						<input placeholder="Declaração de Bens" name="iddeclaracaobens" type="file"  />
					</div>
				</div>	


				<div class="control-group">
					<label class="control-label">Declaração de dependente para imposto de renda </label>
					<div class="controls">
						<?php if ((isset($this->post_var['iddeclaracaobensmiposto'])) && ((int)$this->post_var['iddeclaracaobensmiposto']>0)) : ?>
							<?php echo $this->getArquivo($this->post_var['iddeclaracaobensmiposto']) ?>
						
							<?php if (!$this->visualizar) : ?>
								<div class="checkbox block">
									<label><input type="checkbox" name="excluir_iddeclaracaobensmiposto" value="excluir" /> Desejo excluir o arquivo</label>
								</div>
							<?php endif; ?>
						<?php endif; ?>
						
						<input placeholder="Declaração de dependente para imposto de renda" name="iddeclaracaobensmiposto" type="file"  />
					</div>
				</div>	


				<div class="control-group">
					<label class="control-label">Declaração de Acúmulo ou não de cargo </label>
					<div class="controls">
						<?php if ((isset($this->post_var['idacumulo'])) && ((int)$this->post_var['idacumulo']>0)) : ?>
							<?php echo $this->getArquivo($this->post_var['idacumulo']) ?>
						
							<?php if (!$this->visualizar) : ?>
								<div class="checkbox block">
									<label><input type="checkbox" name="excluir_idacumulo" value="excluir" /> Desejo excluir o arquivo</label>
								</div>
							<?php endif; ?>
						<?php endif; ?>
						
						<input placeholder="Declaração de Acúmulo ou não de cargo" name="idacumulo" type="file"  />
					</div>
				</div>	


				<div class="control-group">
					<label class="control-label">Declaração de aposentadoria </label>
					<div class="controls">
						<?php if ((isset($this->post_var['iddaposentadoria'])) && ((int)$this->post_var['iddaposentadoria']>0)) : ?>
							<?php echo $this->getArquivo($this->post_var['iddaposentadoria']) ?>
						
							<?php if (!$this->visualizar) : ?>
								<div class="checkbox block">
									<label><input type="checkbox" name="excluir_iddaposentadoria" value="excluir" /> Desejo excluir o arquivo</label>
								</div>
							<?php endif; ?>
						<?php endif; ?>
						
						<input placeholder="Declaração de aposentadoria" name="iddaposentadoria" type="file"  />
					</div>
				</div>	


				<div class="control-group">
					<label class="control-label">Declaração Familiar </label>
					<div class="controls">
						<?php if ((isset($this->post_var['idfamiliar'])) && ((int)$this->post_var['idfamiliar']>0)) : ?>
							<?php echo $this->getArquivo($this->post_var['idfamiliar']) ?>
						
							<?php if (!$this->visualizar) : ?>
								<div class="checkbox block">
									<label><input type="checkbox" name="excluir_idfamiliar" value="excluir" /> Desejo excluir o arquivo</label>
								</div>
							<?php endif; ?>
						<?php endif; ?>
						
						<input placeholder="Declaração Familiar" name="idfamiliar" type="file"  />
					</div>
				</div>	


				<div class="control-group">
					<label class="control-label">Status <span class="required">*</span></label>
					<div class="controls">
						<select name="status1" data-placeholder="Status" class="select">
							<option value="">Selecione...</option>
							<option value="Ativo">Ativo</option><option value="Bloqueado">Bloqueado</option>
						</select>
						
					</div>
				</div>

						    
						    
						    </div>
						    
			                <div class="form-actions align-right">
			                	<?php if ((isset($this->visualizar)) && ($this->visualizar)) : ?>
			                		<button onclick="window.history.back()" class="btn btn-danger cancelar" type="button">Voltar</button>
			                	<?php else : ?>
				                	<button class="btn btn-primary enviar" type="submit">Salvar</button>
				                	<button onclick="window.history.back()" class="btn btn-danger cancelar" type="button">Cancelar</button>
			                	<?php endif; ?>
			                </div>
						</div>
						<!-- /general form elements -->

					</fieldset> 

				</form>
				<!-- /basic inputs -->

		    </div>
		    <!-- /content wrapper -->

		</div>
		<!-- content -->
				
<script type="text/javascript" src="<?php echo $this->baseUrl('/public/scripts/default/dadospessoais_form.js') ?>"></script>
<script type="text/javascript">
	var form_values = {};
	
	<?php if (isset($this->post_var)) :  ?>
		form_values.idfuncionario = '<?php echo (isset($this->post_var['idfuncionario'])) ? $this->post_var['idfuncionario'] : '' ?>';

form_values.status1 = '<?php echo (isset($this->post_var['status1'])) ? $this->post_var['status1'] : $this->post_var['status'] ?>';


	<?php endif; ?>

	visualizar = <?php echo  ((isset($this->visualizar)) && ($this->visualizar))  ? 'true' : 'false' ?>;
</script>
