<?php if (sizeof($this->frotas) <=0) : ?>
<div class="form-group">Nenhum veículo cadastrado</div>
<?php else: ?>
<?php foreach ($this->frotas as $k=>$v) : ?>
<div class="form-group"><input value="<?php echo $v['id'] ?>" type="checkbox" name="idfrota[]" /> <?php echo $v['placa']." - ".$v['fabricante']."  ".$v['marca']." ".$v['ano']."/".$v['modelo'] ?></div>
<?php endforeach;?>
<?php endif; ?>