		<!-- Content -->
		<div id="content">

		    <!-- Content wrapper -->
		    <div  id="content-graficos_index" class="wrapper">

			    <!-- Breadcrumbs line -->
			    <div class="crumbs">
			    	<?php echo $this->render('/helpers/breadcrumb.phtml') ?>
			    </div>
			    <!-- /breadcrumbs line -->

			    <!-- Page header -->
			    <div class="page-header">
			    	<div class="page-title">
				    	<h5>Dashboard</h5>
				    	<span>Bem vindo!</span>
			    	</div>
			    </div>
			    <!-- /page header -->

			    <!-- Action tabs -->
			    








<div class="col-sm-5">
					<div class="panel panel-default">
						<div class="panel-heading">
							
							<h4 class="panel-title">Solicitações feitas para a recepção</h4>
						</div>        
					
						<div class="content-graficos_b">
							<div class="box">		 
								<div class="grafico-pizza">		
									<table width="100%" cellpadding="0" cellspacing="0" border="0">
										<td width="46%">
											<div class="legenda">
												<table width="100%" cellpadding="4" cellspacing="0" border="1">
													<tr>		
														<td class="titulo"> 
															Pendente
														</td>							
														<td width="100%" class="number">
															<div style="background-color:#d6ca00;"><?php echo (int)$this->solicitacoespendente ?></div>
														</td>
													</tr>
					
													<tr>		
														<td class="titulo"> 
															Execução
														</td>							
														<td width="100%" class="number">
															<div style="background-color:#0056c0; "><?php echo (int)$this->solicitacoesexecucao ?></div>
														</td>
													</tr>
					
													<tr>		
														<td class="titulo"> 
															Cancelados
														</td>							
														<td width="100%" class="number">
															<div style="background-color:#ab0000; "><?php echo (int)$this->solicitacoescancelado ?></div>
														</td>
													</tr>
					
													<tr>		
														<td class="titulo"> 
															Encerrados
														</td>							
														<td width="100%" class="number">
															<div style="background-color:#6aa84f; "><?php echo (int)$this->solicitacoesencerrado ?></div>
														</td>
													</tr>
												</table>					
											</div>
										</td>
										<td>
											<iframe src="<?php echo $this->baseUrl('admin/index/setgraficossolicitacoes/')?>" style="width: 100%; border: 0px none; height: 220px; padding: 0 0 0 30px;">
												<p>&nbsp;</p>
											</iframe>
										</td>
									</table>
								</div>
							</div>
						</div>
					</div>
            	</div>


          	<div class="col-sm-5" style="float:right;">
	            	<div class="panel panel-default">
						<div class="panel-heading">
							
							<h4 class="panel-title">Ouvidoria - Reclamações</h4>
						</div>        
					
						<div class="content-graficos_b">
							<div class="box">		 
								<div class="grafico-pizza">		
									<table width="100%" cellpadding="0" cellspacing="0" border="0">
										<td width="46%">
											<div class="legenda">
												<table width="100%" cellpadding="4" cellspacing="0" border="1">
													<tr>		
														<td class="titulo"> 
															Abertos
														</td>							
														<td width="100%" class="number">
															<div style="background-color:#0056c0;"><?php echo (int)$this->ouvidoriaabertos ?></div>
														</td>
													</tr>
													
													<tr>		
														<td class="titulo"> 
															Pendente
														</td>							
														<td width="100%" class="number">
															<div style="background-color:#d6ca00;"><?php echo (int)$this->ouvidoriapendente ?></div>
														</td>
													</tr>
													
													<tr>		
														<td class="titulo"> 
															Cancelados
														</td>							
														<td width="100%" class="number">
															<div style="background-color:#ab0000;"><?php echo (int)$this->ouvidoriacancelado ?></div>
														</td>
													</tr>
													
													<tr>		
														<td class="titulo"> 
															Encerrados
														</td>							
														<td width="100%" class="number">
															<div style="background-color:#6aa84f;"><?php echo (int)$this->ouvidoriaencerrado ?></div>
														</td>
													</tr>
												</table>
					
											</div>
										</td>
										<td>
											<iframe src="<?php echo $this->baseUrl('admin/index/setgraficosouvidoria/')?>" style="width: 100%; border: 0px none; height: 220px; padding: 0 0 0 30px;">
												<p>&nbsp;</p>
											</iframe>
										</td>
									</table>
								</div>
							</div>
						</div>
					</div>
            	</div>
            
            
            	<br clear="all" />


<div class="col-sm-5">
					<div class="panel panel-default">
						<div class="panel-heading">
							
							<h4 class="panel-title">Chamados Técnicos de TI</h4>
						</div>        
					
						<div class="content-graficos_b">
							<div class="box">		 
								<div class="grafico-pizza">		
									<table width="100%" cellpadding="0" cellspacing="0" border="0">
										<td width="46%">
											<div class="legenda">
												<table width="100%" cellpadding="4" cellspacing="0" border="1">
													<tr>		
														<td class="titulo"> 
															Abertos
														</td>							
														<td width="46" class="number">
															<div style="background-color:#0056c0;"><?php echo (int)$this->chamadostecnicosabertos ?></div>
														</td>
													</tr>
													
													<tr>		
														<td class="titulo"> 
															Pendente
														</td>							
														<td width="46" class="number">
															<div style="background-color:#d6ca00;"><?php echo (int)$this->chamadostecnicospendente ?></div>
														</td>
													</tr>
													
													<tr>		
														<td class="titulo"> 
															Cancelados
														</td>							
														<td width="46" class="number">
															<div style="background-color:#ab0000;"><?php echo (int)$this->chamadostecnicoscancelado ?></div>
														</td>
													</tr>
													
													<tr>		
														<td class="titulo"> 
															Encerrados
														</td>							
														<td width="46" class="number">
															<div style="background-color:#6aa84f;"><?php echo (int)$this->chamadostecnicosencerrado ?></div>
														</td>
													</tr>
												</table>
											</div>
										</td>
										<td>
											<iframe src="<?php echo $this->baseUrl('admin/index/setgraficoschamadostecnicos/')?>" style="width: 100%; border: 0px none; height: 220px; padding: 0 0 0 30px;">
												<p>&nbsp;</p>
											</iframe>
										</td>
									</table>
								</div>
							</div>
						</div>
					</div>
            	</div>



<div class="col-sm-5" style="float:right;">
					<div class="panel panel-default">
						<div class="panel-heading">
							
							<h4 class="panel-title">Chamados Engenharias</h4>
						</div>        
					
						<div class="content-graficos_b">
							<div class="box">		 
								<div class="grafico-pizza">		
									<table width="100%" cellpadding="0" cellspacing="0" border="0">
										<td width="46%">
											<div class="legenda">
												<table width="100%" cellpadding="4" cellspacing="0" border="1">
													<tr>		
														<td class="titulo"> 
															Abertos
														</td>							
														<td width="46" class="number">
															<div style="background-color:#0056c0;"><?php echo (int)$this->chamadosengenhariasabertos ?></div>
														</td>
													</tr>
													
													<tr>		
														<td class="titulo"> 
															Pendente
														</td>							
														<td width="46" class="number">
															<div style="background-color:#d6ca00;"><?php echo (int)$this->chamadosengenhariaspendente ?></div>
														</td>
													</tr>
													
													<tr>		
														<td class="titulo"> 
															Cancelados
														</td>							
														<td width="46" class="number">
															<div style="background-color:#ab0000;"><?php echo (int)$this->chamadosengenhariascancelado ?></div>
														</td>
													</tr>
													
													<tr>		
														<td class="titulo"> 
															Encerrados
														</td>							
														<td width="46" class="number">
															<div style="background-color:#6aa84f;"><?php echo (int)$this->chamadosengenhariasencerrado ?></div>
														</td>
													</tr>
												</table>
											</div>
										</td>
										<td>
											<iframe src="<?php echo $this->baseUrl('admin/index/setgraficoschamadosengenharias/')?>" style="width: 100%; border: 0px none; height: 220px; padding: 0 0 0 30px;">
												<p>&nbsp;</p>
											</iframe>
										</td>
									</table>
								</div>
							</div>
						</div>
					</div>
            	</div>
<br clear="all" />

		    </div>




		    <!-- /content wrapper -->

		</div>
		<!-- /content -->
<script src="<?php echo $this->baseUrl() ?>/public/scripts/admin/index_index.js"></script>