<html lang="pt-BR">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
	<meta name="description" content="">
	<meta name="author" content="">
	<style>
		body { color: #636e7b; font-family: "LatoRegular",Helvetica,sans-serif; }
		h1 { color:#1caf9a; font-size:16px; } 
		.evento h2 { color:#1d2939; font-size:14px; font-weight: bold; }
		.evento p,
		.evento .datas { font-size:12px; }	
		.evento .datas span { font-weight: bold; }
		.evento p.status { font-size:16px; }
	</style>
  
  
</head>

<body>
<div class="content-multiploseventos">
	<div>
		<div id="dialogContent_<?php echo $this->dia ?>" class="box-multiploseventos">																	
			<h1><?php echo date('d/m/Y', $this->dia) ?></h1>
			<?php foreach ($this->rows as $e=>$evento): ?>
			<div class="evento">
				<h2><?php echo $evento['titulo']?></h2>
				<div><?php echo $evento['descricoes']?></div>
				<div class="datas">
					<span>Data de Inicio:</span> <?php echo Mn_Util::formPostVarData($evento['datainicio'])?> - <?php echo date('G:i', strtotime($evento['horainicio']))?> <br />
					<span>Data de Termino:</span> - <?php echo Mn_Util::formPostVarData($evento['datafim'])?> - <?php echo date('G:i', strtotime($evento['horafim']))?>  <br />
					<p class="status">Status: <span><?php echo Comunicacao_Comunicacaoagenda::getStatus($evento['status'])?></span></p>
				</div>
			</div>
			<br />
			<?php endforeach;?>
		</div>
	</div>
</div>	
</body>
</html>




