<!DOCTYPE html>
<html lang="pt-BR">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
<title>Prefeituta Municipal de Santa Isabel - Painel Administrativo</title>
<link href="<?php echo $this->baseUrl() ?>/public/admin/css/main.css" rel="stylesheet" type="text/css" />
<link href="<?php echo $this->baseUrl() ?>/public/scripts/jquery-ui-themes-1.11.4/themes/redmond/jquery-ui.min.css" rel="stylesheet" type="text/css" />


<!--[if IE 8]><link href="<?php echo $this->baseUrl() ?>/public/admin/css/ie8.css" rel="stylesheet" type="text/css" /><![endif]-->
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600,700' rel='stylesheet' type='text/css'>

<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min.js"></script>
<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=AIzaSyDY0kkJiTPVd2U7aTOAwhc9ySH6oHxOIYM&amp;sensor=false"></script>

<script type="text/javascript" src="<?php echo $this->baseUrl() ?>/public/admin/js/plugins/charts/excanvas.min.js"></script>
<script type="text/javascript" src="<?php echo $this->baseUrl() ?>/public/admin/js/plugins/charts/jquery.flot.js"></script>
<script type="text/javascript" src="<?php echo $this->baseUrl() ?>/public/admin/js/plugins/charts/jquery.flot.resize.js"></script>
<script type="text/javascript" src="<?php echo $this->baseUrl() ?>/public/admin/js/plugins/charts/jquery.sparkline.min.js"></script>

<script type="text/javascript" src="<?php echo $this->baseUrl() ?>/public/admin/js/plugins/ui/jquery.easytabs.min.js"></script>
<script type="text/javascript" src="<?php echo $this->baseUrl() ?>/public/admin/js/plugins/ui/jquery.collapsible.min.js"></script>
<script type="text/javascript" src="<?php echo $this->baseUrl() ?>/public/admin/js/plugins/ui/jquery.mousewheel.js"></script>
<script type="text/javascript" src="<?php echo $this->baseUrl() ?>/public/admin/js/plugins/ui/prettify.js"></script>
<script type="text/javascript" src="<?php echo $this->baseUrl() ?>/public/admin/js/plugins/ui/jquery.bootbox.min.js"></script>
<script type="text/javascript" src="<?php echo $this->baseUrl() ?>/public/admin/js/plugins/ui/jquery.colorpicker.js"></script>
<script type="text/javascript" src="<?php echo $this->baseUrl() ?>/public/admin/js/plugins/ui/jquery.timepicker.min.js"></script>
<script type="text/javascript" src="<?php echo $this->baseUrl() ?>/public/admin/js/plugins/ui/jquery.jgrowl.js"></script>
<script type="text/javascript" src="<?php echo $this->baseUrl() ?>/public/admin/js/plugins/ui/jquery.fancybox.js"></script>
<script type="text/javascript" src="<?php echo $this->baseUrl() ?>/public/admin/js/plugins/ui/jquery.fullcalendar.min.js"></script>
<script type="text/javascript" src="<?php echo $this->baseUrl() ?>/public/admin/js/plugins/ui/jquery.elfinder.js"></script>

<script type="text/javascript" src="<?php echo $this->baseUrl() ?>/public/admin/js/plugins/uploader/plupload.js"></script>
<script type="text/javascript" src="<?php echo $this->baseUrl() ?>/public/admin/js/plugins/uploader/plupload.html4.js"></script>
<script type="text/javascript" src="<?php echo $this->baseUrl() ?>/public/admin/js/plugins/uploader/plupload.html5.js"></script>
<script type="text/javascript" src="<?php echo $this->baseUrl() ?>/public/admin/js/plugins/uploader/jquery.plupload.queue.js"></script>

<script type="text/javascript" src="<?php echo $this->baseUrl() ?>/public/admin/js/plugins/forms/jquery.uniform.min.js"></script>
<script type="text/javascript" src="<?php echo $this->baseUrl() ?>/public/admin/js/plugins/forms/jquery.autosize.js"></script>
<script type="text/javascript" src="<?php echo $this->baseUrl() ?>/public/admin/js/plugins/forms/jquery.inputlimiter.min.js"></script>
<script type="text/javascript" src="<?php echo $this->baseUrl() ?>/public/admin/js/plugins/forms/jquery.tagsinput.min.js"></script>
<script type="text/javascript" src="<?php echo $this->baseUrl() ?>/public/admin/js/plugins/forms/jquery.inputmask.js"></script>
<script type="text/javascript" src="<?php echo $this->baseUrl() ?>/public/admin/js/plugins/forms/jquery.select2.min.js"></script>
<script type="text/javascript" src="<?php echo $this->baseUrl() ?>/public/admin/js/plugins/forms/jquery.listbox.js"></script>
<script type="text/javascript" src="<?php echo $this->baseUrl() ?>/public/admin/js/plugins/forms/jquery.validation.js"></script>
<script type="text/javascript" src="<?php echo $this->baseUrl() ?>/public/admin/js/plugins/forms/jquery.validationEngine-en.js"></script>
<script src="<?php echo $this->baseUrl() ?>/public/scripts/jquery-validation-1.13.1/dist/jquery.validate.min.js"></script>
<script src="<?php echo $this->baseUrl() ?>/public/scripts/jquery-validation-1.13.1/dist/localization/messages_pt_BR.min.js"></script>
<script type="text/javascript" src="<?php echo $this->baseUrl() ?>/public/admin/js/plugins/forms/jquery.form.wizard.js"></script>
<script type="text/javascript" src="<?php echo $this->baseUrl() ?>/public/admin/js/plugins/forms/jquery.form.js"></script>

<script type="text/javascript" src="<?php echo $this->baseUrl() ?>/public/admin/js/plugins/tables/jquery.dataTables.min.js"></script>

<script type="text/javascript" src="<?php echo $this->baseUrl() ?>/public/admin/js/files/bootstrap.min.js"></script>

<link href="<?php echo $this->baseUrl() ?>/public/scripts/jquery.alerts-1.1/jquery.alerts.css" rel="stylesheet">
<script src="<?php echo $this->baseUrl() ?>/public/scripts/jquery.alerts-1.1/jquery.alerts.js"></script>
<script type="text/javascript" src="<?php echo $this->baseUrl() ?>/public/scripts/jquery.blockUI.js"></script>
<script type="text/javascript" src="<?php echo $this->baseUrl() ?>/public/scripts/jquery.maskedinput.min.js"></script>


<script type="text/javascript" src="<?php echo $this->baseUrl() ?>/public/admin/js/plugins/forms/jquery.uniform.min.js"></script>
<script type="text/javascript" src="<?php echo $this->baseUrl() ?>/public/admin/js/plugins/forms/jquery.autosize.js"></script>
<script type="text/javascript" src="<?php echo $this->baseUrl() ?>/public/admin/js/plugins/forms/jquery.inputlimiter.min.js"></script>
<script type="text/javascript" src="<?php echo $this->baseUrl() ?>/public/admin/js/plugins/forms/jquery.tagsinput.min.js"></script>
<script type="text/javascript" src="<?php echo $this->baseUrl() ?>/public/admin/js/plugins/forms/jquery.inputmask.js"></script>
<script type="text/javascript" src="<?php echo $this->baseUrl() ?>/public/admin/js/plugins/forms/jquery.select2.min.js"></script>
<script type="text/javascript" src="<?php echo $this->baseUrl() ?>/public/admin/js/plugins/forms/jquery.listbox.js"></script>
<script type="text/javascript" src="<?php echo $this->baseUrl() ?>/public/admin/js/plugins/forms/jquery.validation.js"></script>
<script type="text/javascript" src="<?php echo $this->baseUrl() ?>/public/admin/js/plugins/forms/jquery.validationEngine-en.js"></script>
<script type="text/javascript" src="<?php echo $this->baseUrl() ?>/public/admin/js/plugins/forms/jquery.form.wizard.js"></script>
<script type="text/javascript" src="<?php echo $this->baseUrl() ?>/public/admin/js/plugins/forms/jquery.form.js"></script>

<script type="text/javascript" src="<?php echo $this->baseUrl() ?>/public/admin/js/files/functions.js"></script>
<script type="text/javascript" src="<?php echo $this->baseUrl() ?>/public/scripts/funcoes.js"></script>
	
	<script src="<?php echo $this->baseUrl('/public/scripts/jquery.fileupload') ?>/js/vendor/jquery.ui.widget.js"></script>
	<script src="<?php echo $this->baseUrl('/public/scripts/jquery.fileupload') ?>/js/jquery.iframe-transport.js"></script>
	<script src="<?php echo $this->baseUrl('/public/scripts/jquery.fileupload') ?>/js/jquery.fileupload.js"></script>
	
	<script src="<?php echo $this->baseUrl() ?>/public/scripts/jquery.price_format.2.0.min.js"></script>
<?php if (($this->getController()=='index') && ($this->getAction()=='index')) : ?>
<script type="text/javascript" src="<?php echo $this->baseUrl() ?>/public/admin/js/charts/graph.js"></script>
<script type="text/javascript" src="<?php echo $this->baseUrl() ?>/public/admin/js/charts/chart1.js"></script>
<script type="text/javascript" src="<?php echo $this->baseUrl() ?>/public/admin/js/charts/chart2.js"></script>
<script type="text/javascript" src="<?php echo $this->baseUrl() ?>/public/admin/js/charts/chart3.js"></script>
<?php endif; ?>
<script src="<?php echo $this->baseUrl() ?>/public/scripts/admin/layout.js"></script>
<script type="text/javascript">
	$(document).ready(function() {
		$('li.<?php echo $this->getController() ?> a').trigger('click');
		$('li.<?php echo $this->getController() ?> li.<?php echo $this->getController() ?> a').addClass('menu_ativo');
		$('li.<?php echo $this->getController() ?> li.<?php echo $this->getAction() ?> a').addClass('menu_ativo');
		
	});
	var module = '<?php echo $this->getModule() ?>';
	var controller = '<?php echo $this->getController() ?>';
	var action = '<?php echo $this->getAction() ?>';
	var baseUrl = '<?php echo $this->baseUrl() ?>';

	
</script> 

</head>

<body style="text-align: center">
<script src="<?php echo $this->baseUrl()?>/public/scripts/Chart.js-master/Chart.js"></script>

							<div id="canvas-holder_4">
								<canvas id="chart-area" width="160" height="160"/>
							</div>
						

<script type="text/javascript">
$(document).ready(function() {	
	var data = [
	    		{value: <?php echo (int)$this->patrimoniosaprovados ?>,
	    				color:"#6aa84f",
	    				highlight: "#58A000",
	    				label: "Aprovados "
	    			},			           		           		           					
	    			{
	    				value: <?php echo (int)$this->patrimoniosnaoaprovados ?>,
	    				color:"#ab0000",
	    				highlight: "#d40000",
	    				label: "Não aprovados "
	    			}			
	                ];

	        window.onload = function(){
	    	    var ctx = document.getElementById("chart-area").getContext("2d");
	    	    var doughnutChart = new Chart(ctx).Doughnut(data);
	        }
});
</script>
</body>
</html>

