		<!-- Content -->
		<div id="content">

		    <!-- Content wrapper -->
		    <div class="wrapper">

			    <!-- Breadcrumbs line -->
			    <div class="crumbs">
			    	<?php echo $this->render('/helpers/breadcrumb.phtml') ?>
			    </div>
			    <!-- /breadcrumbs line -->

			    <!-- Page header -->
			    <div class="page-header">
			    	<div class="page-title">
				    	<h5>Saídas cadastradas no sistema</h5>
				    	<span>Visualize as saídas cadastradas no sistema</span>
			    	</div>
			    	
			    </div>
			    <!-- /page header -->
			    
			    <?php if (isset($this->crudMessage)) : ?>
				<div class="alert alert-success">
                	<button data-dismiss="alert" class="close" type="button">×</button>
                    <strong>Operação realizada com sucesso!</strong>
	    			<span><br /><?php echo $this->crudMessage ?></span>
                </div>			    
			    <?php endif; ?>




	                        	                        
                <!-- Table with footer -->
                <div class="widget">
                	<form action="#" class="form-horizontal" method="post">
                		<input type="hidden" value="<?php echo (isset($this->post_var['sorting'])) ? $this->post_var['sorting'] : '' ?>" name="sorting" />
	                	<div class="navbar">
	                		<div class="navbar-inner">
	                			<h6>Visualizando registros</h6>
	                			<?php if (Mn_Util::isAccess($this->getController(), 'adicionar')) : ?>
	                			<a style="float:right;" href="<?php echo $this->baseUrl() ?>/<?php echo 'admin' ?>/<?php echo $this->getController() ?>/adicionar" class="btn btn-primary"><span class="icon-plus"></span>&nbsp;Adicionar saída</a>
	                			<?php endif; ?>
	                		</div>
	                	</div>
	                    <div class="table-overflow">
	                        <table class="table table-content">
	                            <thead>
	                                <tr>
		                			<th width="20">&nbsp;</th>   
		                			<th width="80">Origem</th>           			
		                			<th width="300">Saída</th>
		                			<th>Descrição</th>
		                			<th width="120">Aprovação</th>
		                			<th width="80">Requisição</th>
                                    <th class="s-status sorting">Status</th>


	                                    <th width="96">Ações</th>
	                                </tr>
	                                <tr>
	                                    <th></th>
										<th></th>
										<th></th>
										<th></th>
										<th></th>
										<th></th>
										<th>
											<div>
												<select name="status1" placeholder="Todos" class="select">
													<option value="">Todos</option>
													<option value="Ativo">Ativo</option><option value="Bloqueado">Bloqueado</option>
												</select>
											</div>
										</th>
                   

	                                    <th><button class="btn btn-mini btn-primary" type="submit">Pesquisar</button></th>
	                                </tr> 
	                                                                
	                            </thead>
	                            <tbody>
	                            	<?php if (sizeof($this->rows)==0) : ?>
	                                <tr>
	                                    <td colspan="8">Nenhum registro foi encontrado!</td>
	                                </tr>
	                            	
	                            	<?php else : ?>
	                            	<?php foreach ($this->rows as $i=>$row) : ?>
	                                <tr>
		                				<td>
		                					<?php $i+1 ?>
		                					<input type="hidden" name=id[] value="<?php echo $row['id'] ?>" />
	                					</td>
	                					<td><?php echo $this->cortaPalavra(200, Almoxarifado_Entradas::getOrigem($row['origem'])) ?></td>
		                				<td><?php echo $this->cortaPalavra(200, $row['titulo']) ?></td>
		                				<td><?php echo $this->cortaPalavra(200, $row['descricoes']) ?></td>
		                				<td <?php echo ($row['aprovacao']!="Sim") ? 'style="color:#FF0000;"' : ''; ?>><?php echo $this->cortaPalavra(200, $row['aprovacao']) ?></td>
		                				
		                				<td align="center">
		                					<?php if($row['aprovacao']=="Sim"): ?>
		                						<a href="<?php echo $this->baseUrl('/admin/'.$this->getController().'/requisicao/id/' . $row['id'])?>" target="_blank"><i class="fa fa-file-pdf-o"></i></a>
		                					<?php else:?>
		                						Aguardando Aprovação
		                					<?php endif; ?>
	                					</td>
										<td>
											<?php if (Mn_Util::isAccess($this->getController(), 'editar')) : ?>
												<a onclick="javascript:statusChange(<?php echo $row["id"]?>, this);" href="javascript:;"><?php echo $row['status'] ?></a>
											<?php else : ?>
												<?php echo $row['status'] ?>
											<?php endif; ?>
										</td>

			                				

	                                    <td>
	                                        <ul class="table-controls">
	                                            <li><a title="" class="btn tip" href="<?php echo $this->baseUrl() ?>/<?php echo 'admin' ?>/<?php echo $this->getController() ?>/visualizar/id/<?php echo $row['id'] ?>" data-original-title="Visualizar"><i class="icon-eye-open"></i></a> </li>
	                                            <?php if (Mn_Util::isAccess($this->getController(), 'editar')) : ?>
	                                            <li><a title="" class="btn tip" href="<?php echo $this->baseUrl() ?>/<?php echo 'admin' ?>/<?php echo $this->getController() ?>/editar/id/<?php echo $row['id'] ?>" data-original-title="Editar"><i class="icon-pencil"></i></a> </li>
	                                            <?php endif;?>
	                                            <?php if (Mn_Util::isAccess($this->getController(), 'excluir')) : ?>
	                                            <li><a title="" class="btn tip" href="javascript:confirmDelete('<?php echo $row['id']; ?>','registro');" data-original-title="Excluir"><i class="icon-remove"></i></a> </li>
	                                            <?php endif; ?>
	                                        </ul>
	                                    </td>
	                                </tr>
	                            	<?php endforeach;?>
	                            	
	                            	
	                            	
	                            	
	                            	<?php endif; ?>
	
	                            </tbody>
	                        </table>
	                    </div>
	                    <?php echo $this->render('/helpers/paginator.phtml') ?>
                    
                    </form>

                </div>
                <!-- /table with footer -->
	                        


		    </div>
		    <!-- /content wrapper -->

		</div>
		<!-- content -->

	<script src="<?php echo $this->baseUrl() ?>/public/scripts/jquery.fancybox/jquery.fancybox.js"></script>
	<script src="<?php echo $this->baseUrl() ?>/public/scripts/jquery.fancybox/jquery.easing.js"></script>
	<script src="<?php echo $this->baseUrl() ?>/public/scripts/jquery.fancybox/jquery.mousewheel.js"></script>
	<script src="<?php echo $this->baseUrl() ?>/public/admin/js/fullcalendar.min.js"></script>
	<script src="<?php echo $this->baseUrl() ?>/public/admin/js/jquery.ui.touch-punch.min.js"></script>
<script type="text/javascript" src="<?php echo $this->baseUrl('/public/scripts/admin/almoxarifadosaidas_index.js') ?>"></script>
<script type="text/javascript">

	var form_values = {};
	<?php if (isset($this->post_var['status'])) :  ?>
	form_values.status = '<?php echo (isset($this->post_var['status'])) ? $this->post_var['status'] : $this->post_var['status'] ?>';
	<?php endif; ?>


	<?php if (isset($this->post_var['origem'])) :  ?>
	form_values.origem = '<?php echo (isset($this->post_var['origem'])) ? $this->post_var['origem'] : $this->post_var['origem'] ?>';
	<?php endif; ?>	

	<?php if (isset($this->post_var['iddepartamentosecretaria'])) :  ?>
	form_values.iddepartamentosecretaria = '<?php echo (isset($this->post_var['iddepartamentosecretaria'])) ? $this->post_var['iddepartamentosecretaria'] : $this->post_var['iddepartamentosecretaria'] ?>';
	<?php endif; ?>

	<?php if (isset($this->post_var['idescola'])) :  ?>
	form_values.idescola = '<?php echo (isset($this->post_var['idescola'])) ? $this->post_var['idescola'] : $this->post_var['idescola'] ?>';
	<?php endif; ?>	

	<?php if (isset($this->post_var['iddepartamentoescola'])) :  ?>
	form_values.iddepartamentoescola = '<?php echo (isset($this->post_var['iddepartamentoescola'])) ? $this->post_var['iddepartamentoescola'] : $this->post_var['iddepartamentoescola'] ?>';
	<?php endif; ?>
</script>