<script src="<?php echo $this->baseUrl()?>/public/scripts/Chart.js-master/Chart.js"></script>

<div id="content-graficos">
	<div class="box">		 
		<div class="grafico-pizza">
			<h1>Total de Produtos</h1>
			
			<table width="100%" cellpadding="0" cellspacing="0" border="0">
				<td class="col1">
					<div class="legenda">
						<table width="100%" cellpadding="4" cellspacing="0" border="1">
							<?php $cores = array();?>
							<?php foreach ($this->rows as $i=>$row): ?>								
								<?php $cor = Mn_Util::getProgressoCor(rand(0, 99)); ?>
								<?php $cores[$i] =  $cor ;?>
							<tr>		
								<td class="titulo"> 
									<?php echo $row['produto']?>
								</td>							
								<td width="45" class="number">
									<div style="background-color:<?php echo $cor ?>; ">
										<?php $queries = array();?>
										<?php $queries = $this->post_var; ?>
										
										<?php $queries['somaentrada'] = true;?>
										<?php $queries['idproduto'] = $row['id'];?>
										
										<?php $total = Almoxarifado_Saidasitens::getSaidasitensHelper($queries); ?>
										<?php echo (int)$total;  ?>
									</div>
								</td>
							</tr>
							<?php endforeach;?>
						</table>
						
					</div>
				</td>
				<td>
					<div id="canvas-holder">
						<canvas id="chart-area" width="360" height="360"/>
					</div>
				</td>
			</table>
		</div>
	</div>
</div>

<script type="text/javascript">
$(document).ready(function() {
	$('#ui-datepicker-div').css("display", "none");
	<?php if($this->tipo == "rosca") : ?>
	console.log('tipo:  <?php echo $this->tipo ?>');
	doughnutChart();
	<?php elseif($this->tipo == "polar") : ?>
	polarDataChart();
	<?php elseif($this->tipo == "barras") : ?>
	barChart();	
	<?php else: ?>
	setPizza();
	<?php endif;?>
});

function setPizza(){	
	var pieData = [
           	<?php foreach ($this->rows as $i=>$row): ?>
			<?php $queries = array();?>
			<?php $queries = $this->post_var; ?>
			
			<?php $queries['somaentrada'] = true;?>
			<?php $queries['idproduto'] = $row['id'];?>
           	<?php $total = Almoxarifado_Saidasitens::getSaidasitensHelper($queries); ?>
           	{value: <?php echo (int)$total; //(int)$this->abertos ?>,
				color:"<?php echo $cores[$i] ?>",
				label: "<?php echo $row['produto'] ?>"
			}<?php echo ((sizeof($this->rows)-1) == $i ) ? '' : ',' ?>
			<?php endforeach;?>
		];
		
	
		window.onload = function(){
			var ctx = document.getElementById("chart-area").getContext("2d");
			window.myPie = new Chart(ctx).Pie(pieData);
		}
}

function doughnutChart() {
    var data = [
               	<?php foreach ($this->rows as $i=>$row): ?>
    			<?php $queries = array();?>
    			<?php $queries = $this->post_var; ?>
    			
    			<?php $queries['somaentrada'] = true;?>
    			<?php $queries['idproduto'] = $row['id'];?>
               	<?php $total = Almoxarifado_Saidasitens::getSaidasitensHelper($queries); ?>
               	{value: <?php echo (int)$total; //(int)$this->abertos ?>,
    				color:"<?php echo $cores[$i] ?>",
    				label: "<?php echo $row['produto'] ?>"
    			}<?php echo ((sizeof($this->rows)-1) == $i ) ? '' : ',' ?>
    			<?php endforeach;?>			
            ];

    window.onload = function(){
	    var ctx = document.getElementById("chart-area").getContext("2d");
	    var doughnutChart = new Chart(ctx).Doughnut(data);
    }
}

function polarDataChart() {
	   var polarData = [
	                   	<?php foreach ($this->rows as $i=>$row): ?>
	        			<?php $queries = array();?>
	        			<?php $queries = $this->post_var; ?>
	        			
	        			<?php $queries['somaentrada'] = true;?>
	        			<?php $queries['idproduto'] = $row['id'];?>
	                   	<?php $total = Almoxarifado_Saidasitens::getSaidasitensHelper($queries); ?>
	                   	{value: <?php echo (int)$total; //(int)$this->abertos ?>,
	        				color:"<?php echo $cores[$i] ?>",
	        				label: "<?php echo $row['produto'] ?>"
	        			}<?php echo ((sizeof($this->rows)-1) == $i ) ? '' : ',' ?>
	        			<?php endforeach;?>			
                   ];

		window.onload = function(){
			var ctx = document.getElementById("chart-area").getContext("2d");
			window.myPolarArea = new Chart(ctx).PolarArea(polarData, {
				responsive:true
			});
		};
}

function barChart() {
	var barData = {
		    labels: ["Produtos"],
		    datasets: [
		              	<?php foreach ($this->rows as $i=>$row): ?>
		    			<?php $queries = array();?>
		    			<?php $queries = $this->post_var; ?>
		    			
		    			<?php $queries['somaentrada'] = true;?>
		    			<?php $queries['idproduto'] = $row['id'];?>
		               	<?php $total = Almoxarifado_Saidasitens::getSaidasitensHelper($queries); ?>
		               	{
		    				label: "<?php echo $row['produto'] ?>",
		    				fillColor:"<?php echo $cores[$i] ?>",
		    				data: [<?php echo (int)$total; ?>],
		    			}<?php echo ((sizeof($this->rows)-1) == $i ) ? '' : ',' ?>
		    			<?php endforeach;?>
		    ]
		};

		window.onload = function(){
			var ctx = document.getElementById("chart-area").getContext("2d");
			var clientsChart = new Chart(ctx).Bar(barData);
		}
}
</script>