		<!-- Content -->
		<div id="content">

		    <!-- Content wrapper -->
		    <div class="wrapper">

			    <!-- Breadcrumbs line -->
			    <div class="crumbs">
			    	<?php echo $this->render('/helpers/breadcrumb.phtml') ?>
			    </div>
			    <!-- /breadcrumbs line -->

			    <!-- Page header -->
			    <div class="page-header">
			    	<div class="page-title">
				    	<h5>Formulário do mensagem</h5>
				    	<span>Verifique os campos e preencha com os dados</span>
			    	</div>
			    </div>
			    <!-- /page header -->

			    <?php if (isset($this->crudMessage)) : ?>
					<div class="alert alert-success">
	                	<button data-dismiss="alert" class="close" type="button">×</button>
	                    <strong>Operação realizada com sucesso!</strong>
		    			<span><br /><?php echo $this->crudMessage ?></span>
	                </div>			    
			    <?php endif; ?>

				<form id="form" name="form" action="" method="post" class="form-horizontal" enctype="multipart/form-data"> 
					<input type="hidden" value="<?php echo (isset($this->post_var)) ? $this->post_var["id"] : ''; ?>" name="id" id="id" />
					<input type="hidden" name="idescola" value="<?php echo Usuarios::getUsuario()['idescola']; ?>" id="idescola"> 
					
					<fieldset>
						<!-- General form elements -->
						<div class="widget row-fluid">
						    <div class="navbar">
						        <div class="navbar-inner">
						            <h6>Digite as informações do formulário</h6>
						        </div>
						    </div>

						    <div class="well">
								<?php if (isset($this->erros)) : ?>
									<div class="alert alert-error margin">
				                        <button data-dismiss="alert" class="close" type="button">×</button>
				                        <strong>Há erros no formulário!</strong>
					    				<?php foreach ($this->erros as $k=>$v) : ?>
					    					<span><br />- <?php echo $v ?></span>
					    				<?php endforeach;?>			                        
				                    </div>
			                    <?php endif; ?>						    
						 
				<?php 
					$idfuncionario = Usuarios::getUsuario('idfuncionario');
					$funcionario = Funcionariosgeraisescolas::getFuncionariogeralescolaByIdHelper($idfuncionario);
				?> 
				<div class="control-group">
					<label class="control-label">Série </label>
					<div class="controls">
		                <select name="serieturmaid" data-placeholder="Série" class="select" onchange="setAlunos(this, 0)">
							<option value="">Selecione...</option>
							<?php if($this->adicionar) : ?>
								<?php 
									$queries = array();
									$queries['idescola'] = Usuarios::getUsuario('idescola'); 

									if((int)$queries['idescola'] > 0){
										$escolasvinculosprofessoresmaterias = Escolasvinculosprofessoresmaterias::getIdsEscolasvinculosprofessorByIdHelper(Usuarios::getUsuario('idfuncionario'), array('idescola' => $queries['idescola']));

										if((isset($escolasvinculosprofessoresmaterias)) && ($escolasvinculosprofessoresmaterias) && ($escolasvinculosprofessoresmaterias!="")){
											$queries['ids']	= $escolasvinculosprofessoresmaterias;
										}
													
									}
								?>
								<?php foreach (Escolasvinculos::getEscolasvinculosHelper($queries) as $k=>$v) : ?>
									<?php 
										$___rows = Escolasseries::getEscolasseriesHelper(array('id'=>$v['idserie']));
										$___row = (sizeof($___rows)>0) ? 	$___rows[0] : false;	
									?>
								<option value="<?php echo $___row['serie'] . $v['turma'] . $v['id'] ?>">
									<?php 
										echo ($___row) ? $this->formatTextoBranco($___row['serie'] . ' ' . $v['turma']) : '--';		
									?>
								</option>
								<?php endforeach;?>
							<?php else: ?>
								<option value="<?php echo $this->post_var['serieturmaid']; ?>">
									<?php 
										echo substr($this->post_var['serieturmaid'], 0, 2) ;		
									?>
								</option>
							<?php endif; ?>
						</select>
						
					</div>
				</div>  

				<?php if(isset($funcionario) && $funcionario['professor']=="Sim") :  ?>
					<div class="control-group">
						<label class="control-label">Alunos <span class="required">*</span></label>
						<div class="controls">
							<table class="table table-primary mb30">
								<thead>
									<tr>
										<th width="100%">Alunos</th>
									</tr>
								</thead>
								
								<tbody>  
										<?php if($this->adicionar) : ?>
											<tr>
												<td width="100%" id="alunos-container">
													
												</td>
											</tr>
										<?php else: ?>
											<?php 
												$idsdoaluno = explode(',', $this->post_var['idaluno'] );
												foreach ($idsdoaluno as $key => $aluno) : 
											?>
												<tr>
												<td  width="100%">
													<input name="idaluno[]" class="elemento" type="hidden" checked 
														value="<?php echo Escolassalasatribuicoes::getSalaatribuicaoByIdHelper($aluno)['id'] ?>"><?php echo Escolassalasatribuicoes::getSalaatribuicaoByIdHelper($aluno)['nomerazao']; ?>
												</td>
												</tr> 
											<?php endforeach; ?>
										<?php endif; ?>
								
								</tbody>
							</table>
						</div>
					</div>
				<?php else: ?>
					<div class="control-group">
						<label class="control-label">Alunos <span class="required">*</span></label>
						<div class="controls">
							<select name="idaluno" data-placeholder="Alunos" class="select">
								<option value="">Selecione...</option>
								<?php foreach (Escolasalunos::getEscolasalunosHelper(array('status'=>'Ativo')) as $k=>$v) : ?>
								<option value="<?php echo $v['id'] ?>"><?php echo $v['nomerazao'] ?></option>
								<?php endforeach;?>
							</select>
							
						</div>
					</div>
				<?php endif; ?>


				<div class="control-group">
					<label class="control-label">Título <span class="required">*</span></label>
					<div class="controls"><input maxlength="500" placeholder="Título" name="titulo" value="<?php echo (isset($this->post_var['titulo'])) ? $this->post_var['titulo'] : '' ?>" type="text"  class="span3" /></div>
				</div>


				<div class="control-group">
					<label class="control-label">Mensagem </label>
					<div class="controls"><textarea class="span12" name="mensagem" cols="5" rows="5"><?php echo (isset($this->post_var)) ? $this->post_var["mensagem"] : ''; ?></textarea></div>
				</div>


				<div class="control-group">
					<label class="control-label">Status <span class="required">*</span></label>
					<div class="controls">
						<select name="status1" data-placeholder="Status" class="select">
							<option value="">Selecione...</option>
							<option value="Ativo">Ativo</option><option value="Bloqueado">Bloqueado</option>
						</select>
						
					</div>
				</div>

							    
						    
						    </div>
						    
			                <div class="form-actions align-right">
			                	<?php if ((isset($this->visualizar)) && ($this->visualizar)) : ?>
			                		<button onclick="window.history.back()" class="btn btn-danger cancelar" type="button">Voltar</button>
			                	<?php else : ?>
				                	<button class="btn btn-primary enviar" type="submit">Salvar</button>
				                	<button onclick="window.history.back()" class="btn btn-danger cancelar" type="button">Cancelar</button>
			                	<?php endif; ?>
			                </div>
						</div>
						<!-- /general form elements -->

					</fieldset> 

				</form>
				<!-- /basic inputs -->

		    </div>
		    <!-- /content wrapper -->

		</div>
		<!-- content -->
				
<script type="text/javascript" src="<?php echo $this->baseUrl('/public/scripts/admin/mensagensalunos_form.js') ?>"></script>
<script type="text/javascript">
	var form_values = {};
	
	<?php if (isset($this->post_var)) :  ?>
		form_values.idaluno = '<?php echo (isset($this->post_var['idaluno'])) ? $this->post_var['idaluno'] : '' ?>';
		
		form_values.serieturmaid = '<?php echo (isset($this->post_var['serieturmaid'])) ? $this->post_var['serieturmaid'] : $this->post_var['serieturmaid'] ?>';
		
		form_values.idescolavinculo = '<?php echo (isset($this->post_var['idescolavinculo'])) ? $this->post_var['idescolavinculo'] : '' ?>';

		form_values.status1 = '<?php echo (isset($this->post_var['status1'])) ? $this->post_var['status1'] : $this->post_var['status'] ?>';


	<?php endif; ?>

	visualizar = <?php echo  ((isset($this->visualizar)) && ($this->visualizar))  ? 'true' : 'false' ?>;

	<?php if(isset($funcionario) && $funcionario['professor']=="Sim") :  ?>
		var idprofessor = '<?php echo $funcionario['id'] ?>';
	<?php endif; ?>
</script>
