<?php /* if (sizeof($this->rows)==0) : ?>
	<option value="">Nenhum aluno foi encontrado para esse professor</option>
<?php else : ?>
	<option value="">Selecione...</option>
	<?php foreach ($this->rows as $row) : ?>
	<option value="<?php echo $row['id'] ?>">
		<?=$row['nomerazao']." ".$row['sobrenomefantasia']?>
	</option>
	<?php endforeach; ?>
<?php endif; */?>

<?php if (sizeof($this->rows)==0) : ?>
	<option value="">Nenhum aluno foi encontrado para esse professor</option>
<?php else : ?>
	<?php foreach ($this->rows as $row) : ?>
		<input name="idaluno[]" class="elemento" type="checkbox" value="<?php echo $row['id'] ?>"><?php echo $row['nomerazao'] . ' ' . $row['sobrenomefantasia']  ?><br />
	<?php endforeach; ?>
<?php endif; ?>


