<!-- Content -->
<div id="content">
        <!-- Content wrapper -->
        <div class="wrapper">

                <!-- Breadcrumbs line -->
                <div class="crumbs">
                        <?php echo $this->render('/helpers/breadcrumb.phtml') ?>
                </div>
                <!-- /breadcrumbs line -->

                <!-- Page header -->
                <div class="page-header">
                        <div class="page-title">
                                <h5>Funcionários no sistema</h5>
                                <span>Visualize os funcionários do sistema</span>
                        </div>
                </div>
                <!-- /page header -->

                <?php if (isset($this->crudMessage)) : ?>
                        <div class="alert alert-success">
                                <button data-dismiss="alert" class="close" type="button">×</button>
                                <strong>Operação realizada com sucesso!</strong>
                                <span><br /><?php echo $this->crudMessage ?></span>
                        </div>			    
                <?php endif; ?>

                <!-- Table with footer -->
                <div class="widget">
                        <form action="#" class="form-horizontal" method="post">
                                <input type="hidden" value="<?php echo (isset($this->post_var['sorting'])) ? $this->post_var['sorting'] : '' ?>" name="sorting" />
                                <div class="navbar">
                                        <div class="navbar-inner">
                                                <h6>Visualizando registros</h6>
                                                <?php if (Mn_Util::isAccess($this->getController(), 'adicionar')) : ?>
                                                <a style="float:right;" href="<?php echo $this->baseUrl() ?>/<?php echo 'admin' ?>/<?php echo $this->getController() ?>/adicionar" class="btn btn-primary"><span class="icon-plus"></span>&nbsp;Adicionar funcionário</a>
                                                <?php endif; ?>
                                        </div>
                                </div>
                                <div class="table-overflow">
                                        <table class="table table-content">
                                                <thead>
                                                        <tr>
                                                                <th width="20">#</th>
                                                                <th class="s-nome sorting">Nome completo</th>
                                                                <th class="s-rgf sorting">RGF</th>
                                                                <th class="s-desclocal sorting">Local</th>
                                                                <th class="s-telefone sorting">Telefone</th>
                                                                <th class="s-status sorting">Status</th>
                                                                <th width="96">Ações</th>
                                                        </tr>
                                                        <tr>
                                                                <th></th>
                                                                <th><input name="nome" value="<?php echo (isset($this->post_var['nome'])) ? $this->post_var['nome'] : '' ?>" type="text" placeholder="Nome completo" class="span3"></th>
                                                                <th><input size="7" name="rgf" value="<?php echo (isset($this->post_var['rgf'])) ? $this->post_var['rgf'] : '' ?>" type="text" placeholder="RGF" class="span3"></th>
                                                                <th>
                                                                    <select name="idlocal" data-placeholder="Locais" class="form-control">
                                                                        <option value="">Selecione...</option>
                                                                        <?php foreach (Locais::getLocaisHelper(array('status'=>'Ativo')) as $k=>$v) : ?>
                                                                        <option value="<?php echo $v['id'] ?>"><?php echo $v['titulo'] ?></option>
                                                                        <?php endforeach;?>
                                                                    </select>
                                                                </th>
                                                                <th><input size="10" name="telefone" value="<?php echo (isset($this->post_var['telefone'])) ? $this->post_var['telefone'] : '' ?>" type="text" placeholder="Telefone" class="span3"></th>

                                                                <th>
                                                                        <div>
                                                                                <select name="status1" placeholder="Todos" class="select">
                                                                                        <option value="">Todos</option>
                                                                                        <option value="Ativo">Ativo</option><option value="Bloqueado">Bloqueado</option>
                                                                                </select>
                                                                        </div>
                                                                </th>
                                                                <th><button class="btn btn-mini btn-primary" type="submit">Pesquisar</button></th>
                                                        </tr> 

                                                </thead>
                                                <tbody>
                                                        <?php if (sizeof($this->rows)==0) : ?>
                                                                <tr>
                                                                        <td colspan="6">Nenhum registro foi encontrado!</td>
                                                                </tr>

                                                        <?php else : ?>
                                                                <?php foreach ($this->rows as $row) : ?>
                                                                <tr>
                                                                        <td><?php echo $row['id'] ?></td>

                                                                        <td><?php echo $row['nome'] ?></td>
                                                                        <td><?php echo $row['rgf'] ?></td>
                                                                        <?php $local = Locais::getLocalByIdHelper($row['idlocal']) ?>
                                                                        <td><?php echo ($local) ? $local['titulo'] : '--' ?></td>
                                                                        <td><?php echo $row['telefone'] ?></td>
                                                                        <td>
                                                                                <?php if (Mn_Util::isAccess($this->getController(), 'editar')) : ?>
                                                                                        <a onclick="javascript:statusChange(<?php echo $row["id"]?>, this);" href="javascript:;"><?php echo $row['status'] ?></a>
                                                                                <?php else : ?>
                                                                                        <?php echo $row['status'] ?>
                                                                                <?php endif; ?>
                                                                        </td>
                                                                        <td>
                                                                            <ul class="table-controls">
                                                                                <li><a title="" class="btn tip" href="<?php echo $this->baseUrl() ?>/<?php echo 'admin' ?>/<?php echo $this->getController() ?>/visualizar/id/<?php echo $row['id'] ?>" data-original-title="Visualizar"><i class="icon-eye-open"></i></a> </li>
                                                                                <?php if (Mn_Util::isAccess($this->getController(), 'editar')) : ?>
                                                                                <li><a title="" class="btn tip" href="<?php echo $this->baseUrl() ?>/<?php echo 'admin' ?>/<?php echo $this->getController() ?>/editar/id/<?php echo $row['id'] ?>" data-original-title="Editar"><i class="icon-pencil"></i></a> </li>
                                                                                <?php endif;?>
                                                                                <?php if (Mn_Util::isAccess($this->getController(), 'excluir')) : ?>
                                                                                <li><a title="" class="btn tip" href="javascript:confirmDelete('<?php echo $row['id']; ?>','registro');" data-original-title="Excluir"><i class="icon-remove"></i></a> </li>
                                                                                <?php endif; ?>
                                                                            </ul>
                                                                        </td>
                                                                </tr>
                                                                <?php endforeach;?>
                                                        <?php endif; ?>
                                                </tbody>
                                        </table>
                                </div>
                                <?php echo $this->render('/helpers/paginator.phtml') ?>
                        </form>
                </div>
                <!-- /table with footer -->
        </div>
        <!-- /content wrapper -->
</div>
<!-- content -->
		
		
<script type="text/javascript" src="<?php echo $this->baseUrl('/public/scripts/admin/funcionariosgeraisescolas_index.js') ?>"></script>
<script type="text/javascript">

	var form_values = {};
	<?php if (isset($this->post_var)) :  ?>
                form_values.idsecretaria = '<?php echo (isset($this->post_var['idsecretaria'])) ? $this->post_var['idsecretaria'] : '' ?>';
                form_values.rgf = '<?php echo (isset($this->post_var['rgf'])) ? $this->post_var['rgf'] : '' ?>';
                form_values.desclocal = '<?php echo (isset($this->post_var['desclocal'])) ? $this->post_var['desclocal'] : '' ?>';
                form_values.e_idenderecoidestado = '<?php echo (isset($this->post_var['e_idenderecoidestado'])) ? $this->post_var['e_idenderecoidestado'] : '' ?>';
                form_values.status1 = '<?php echo (isset($this->post_var['status1'])) ? $this->post_var['status1'] : $this->post_var['status'] ?>';
	<?php endif; ?>

	var sorting = ["idsecretaria", "nome", "rgf", "desclocal", "telefone", "status"];
	
</script>	


