		<!-- Content -->
		<div id="content">

		    <!-- Content wrapper -->
		    <div class="wrapper">

			    <!-- Breadcrumbs line -->
			    <div class="crumbs">
			    	<?php echo $this->render('/helpers/breadcrumb.phtml') ?>
			    </div>
			    <!-- /breadcrumbs line -->

			    <!-- Page header -->
			    <div class="page-header">
			    	<div class="page-title">
				    	<h5>Eventos no sistema</h5>
				    	<span>Últimos Eventos</span>
			    	</div>
			    	
			    </div>
			    <!-- /page header -->
			    
			    <?php if (isset($this->crudMessage)) : ?>
				<div class="alert alert-success">
                	<button data-dismiss="alert" class="close" type="button">×</button>
                    <strong>Operação realizada com sucesso!</strong>
	    			<span><br /><?php echo $this->crudMessage ?></span>
                </div>			    
			    <?php endif; ?>




	                        	                        
                <!-- Table with footer -->
                <div class="widget">
                	<div class="col-md-3">
			<div class="panel panel-default panel-dark panel-alt">
				<div class="panel-heading">
					<h4 class="panel-title">Últimos Eventos</h4>
				</div>
				<div class="panel-body">
					<div id="external-events">
						<?php foreach ($this->rows as $ir=>$row) : ?>
						<div class="external-event ui-draggable" style="position: relative;"><?php echo $row['titulo']?> - <b><?php echo date('d/m/Y', strtotime($row['datainicio']))?></b></div>
						<?php endforeach;?>
					</div>
				</div>
			</div>
		</div><!-- col-md-3 -->



		<div class="col-md-9">
			<?php $titulo_mes_atual = Mn_Util::getMes(date('n')); ?>
			<div id="calendar" class="fc fc-ltr">
				<table style="width:100%" class="fc-header">
					<tbody>
						<tr>
							<td class="fc-header-left">
								<span class="fc-button fc-button-prev fc-state-default fc-corner-left" unselectable="on" style="-moz-user-select: none;" onclick="setPage('menos')"><span class="fc-text-arrow">‹</span></span>
								<span class="fc-button fc-button-next fc-state-default fc-corner-right" unselectable="on" style="-moz-user-select: none;" onclick="setPage('mais')"><span class="fc-text-arrow">›</span></span>
								<span class="fc-header-space"></span>
								<span class="fc-button fc-button-today fc-state-default fc-corner-left fc-corner-right fc-state-disabled" unselectable="on" style="-moz-user-select: none;" onclick="setPage('inicial')">hoje</span></td>
							<td class="fc-header-center"><span class="fc-header-title"><h2><?php echo $titulo_mes_atual ?> <?php echo date('Y')?></h2></span></td>
							<td class="fc-header-right">
						</td>
						</tr>
					</tbody>
				</table>
				<div class="fc-content">
					<div style="position: relative; -moz-user-select: none;" class="fc-view fc-view-month fc-grid" unselectable="on">
						<div style="position:absolute;z-index:8;top:0;left:0" class="fc-event-container"></div>
						<table cellspacing="0" style="width:100%" class="fc-border-separate">
							<thead>
								<tr class="fc-first fc-last">
									<?php $semana = 0?>
									<?php $dias = array('Dom', 'Seg', 'Ter', 'Qua', 'Qui', 'Sex', 'Sáb'); ?>
									<?php $dias_in = array('sun', 'mon', 'tue', 'wed', 'thu', 'fri', 'sat'); ?>
	
									<?php for ($i=0; $i<7; $i++) :
											$dia_atual = mktime(0, 0, 0, date('m'), date('d')+$i + $semana, date('Y'));
											$_titulo_semana = $dias[date('w', $dia_atual)];
											$_name_semana_in = $dias_in[date('w', $dia_atual)]; 
									?>
									<th class="fc-day-header fc-<?php echo $_name_semana_in ?> fc-widget-header <?php echo ($i==0) ? 'fc-first' : '' ?> <?php echo ($i==6) ? 'fc-last' : '' ?>" style="width: 14%;"><?php echo $_titulo_semana ?></th>
									<?php endfor;?>
								</tr>
							</thead>
							<tbody>
								<?php
								$mes_atual = date('m');
								$mes_anterior = $mes_atual;
								$_dia = ""; 
								$semanacalendario = 0;
								$proximo_mes = Mn_Util::getMes($mes_atual);
								for ($j=0; $j<5; $j++): ?>
								<tr class="fc-week">
								<?php for ($k=0; $k<7; $k++):							
										$mes = mktime(0, 0, 0, date('m'), date('d')+$k + ($j*7) + $semanacalendario, date('Y'));
										$mes = date('m', $mes);
	
										$_dia = mktime(0, 0, 0, date('m'), date('d')+$k + ($j*7) + $semanacalendario, date('Y'));
										$dia = date('d', $_dia); 
	
										$queries = array();
										$queries['data'] = date('Y-m-d', $_dia);
										$queries['order'] = "ORDER BY e1.datainicio DESC";
										$totalrows = Eventossecretarias::getEventossecretariasHelper($queries);
										$rows = Eventossecretarias::getEventossecretariasHelper($queries, '0', '1');
	
										if($mes != $mes_atual):
											$proximo_mes = Mn_Util::getMes($mes);
										endif;?>
									<td data-date="2015-07-26" class="calendario-dia fc-day fc-sun fc-widget-content <?php echo ($mes != $mes_atual) ? ' fc-other-month ' : ''?> fc-past <?php echo ($k==0) ? 'fc-first' : '' ?> <?php echo ($k==6) ? 'fc-last' : '' ?>">
										<div class="box_dia">
											<div class="fc-day-number">
											<?php if(($mes != $mes_anterior) || (($j==0) && ($k==0))) : ?>
												<?php echo $dia ?> - <?php echo $proximo_mes ?> 
												<?php $mes_anterior = $mes; ?>
											<?php else: ?>
												<?php echo $dia ?>
											<?php endif;?>
											</div>
											
											<div class="fc-day-content">
												<div class="content-eventos">
													<div class="box-evento">
													<?php foreach ($rows as $a=>$agenda): ?>
														<div class="line" onclick="setEventoById('<?php echo $agenda['id']?>')">
															<div class="evento-reduzido"><?php echo $this->cortaPalavra(10, $agenda['titulo']) ?></div>												
															<p class="title-event"><?php echo $this->cortaPalavra(16, $agenda['titulo'])?></p>
														</div>
													<?php endforeach;?>
													</div>	
													<?php if(sizeof($totalrows) > 1) : ?>
														<div class="todos line" onclick="setEventos(this, <?php echo $_dia ?>)">Todos</div>													
													<?php endif;?>													
																			
												</div>					
											</div>
										</div>
									</td>
								<?php endfor;?>
								</tr>
								<?php endfor;
								
								?>
							</tbody>
						</table>

					</div>
				</div>
			</div>
		</div><!-- col-md-9 -->

                </div>
                <!-- /table with footer -->
	                        


		    </div>
		    <!-- /content wrapper -->

		</div>
		<!-- content -->
		
		

<script src="<?php echo $this->baseUrl() ?>/public/scripts/admin/calendarios.js"></script>

<script type="text/javascript">
	$(document).ready(function() {
		count_page = 0;
			


	});
</script>

