		<!-- Content -->
		<div id="content">

		    <!-- Content wrapper -->
		    <div class="wrapper">

			    <!-- Breadcrumbs line -->
			    <div class="crumbs">
			    	<?php echo $this->render('/helpers/breadcrumb.phtml') ?>
			    </div>
			    <!-- /breadcrumbs line -->

			    <!-- Page header -->
			    <div class="page-header">
			    	<div class="page-title">
				    	<h5>Formulário do logística de saída</h5>
				    	<span>Verifique os campos e preencha com os dados</span>
			    	</div>
			    </div>
			    <!-- /page header -->

			    <?php if (isset($this->crudMessage)) : ?>
					<div class="alert alert-success">
	                	<button data-dismiss="alert" class="close" type="button">×</button>
	                    <strong>Operação realizada com sucesso!</strong>
		    			<span><br /><?php echo $this->crudMessage ?></span>
	                </div>			    
			    <?php endif; ?>

				<form id="form" name="form" action="" method="post" class="form-horizontal" enctype="multipart/form-data"> 
					<input type="hidden" value="<?php echo (isset($this->post_var)) ? $this->post_var["id"] : ''; ?>" name="id" id="id" />
					
					<fieldset>
						<!-- General form elements -->
						<div class="widget row-fluid">
						    <div class="navbar">
						        <div class="navbar-inner">
						            <h6>Digite as informações do formulário</h6>
						        </div>
						    </div>

						    <div class="well">
								<?php if (isset($this->erros)) : ?>
									<div class="alert alert-error margin">
				                        <button data-dismiss="alert" class="close" type="button">×</button>
				                        <strong>Há erros no formulário!</strong>
					    				<?php foreach ($this->erros as $k=>$v) : ?>
					    					<span><br />- <?php echo $v ?></span>
					    				<?php endforeach;?>			                        
				                    </div>
			                    <?php endif; ?>						    
						    
			    <div class="control-group">
					<div class="controls1 visualizar">
						<table class="table table-content" width="100%">
							<tbody>
								<tr>
									<input type="hidden" value="<?php echo (isset($this->post_var['sequencial'])) ? $this->post_var['sequencial'] : $this->sequencial ?>" name="sequencial" id="sequencial" />
									<td width="33%">Sequencial/Ano: <?php echo (isset($this->post_var['sequencial'])) ? $this->post_var['sequencial'] : $this->sequencial ?></td>
									<input type="hidden" value="<?php echo (isset($this->post_var['datainicio'])) ? Mn_Util::formPostVarData($this->post_var['datainicio']) : date('d/m/Y') ?>" name="datainicio"/>
									<td width="34%">Data da Saída: <?php echo (isset($this->post_var['datainicio'])) ? Mn_Util::formPostVarData($this->post_var['datainicio']) : date('d/m/Y') ?></td>
									<input type="hidden" value="<?php echo (isset($this->post_var['horaentrada'])) ? $this->post_var['horaentrada'] : date('G:i:s') ?>" name="horaentrada"  />
									<td width="33%">Hora da Saída: <?php echo (isset($this->post_var['horaentrada'])) ? $this->post_var['horaentrada'] : date('G:i:s') ?></td>
								</tr>
							</tbody>
						</table>
						
					</div>
				</div>
				<div class="control-group">
					<label class="control-label">Veículo <span class="required">*</span></label>
					<div class="controls">
		                <select name="idfrota" class="select" onclick="setDadosVeiculo(this, false)">
							<option value="">Selecione...</option>
							<?php foreach (Logisticafrotas::getLogisticafrotasHelper(array('status'=>'Ativo')) as $k=>$v) : ?>
							<option value="<?php echo $v['id'] ?>"><?php echo $v['placa'] ?></option>
							<?php endforeach;?>
						</select> 
					</div>
					<div id="dados-veiculo"></div>
				</div>

 
				<div class="control-group">
					<label class="control-label">Motorista <span class="required">*</span></label>
					<div class="controls">
		                <select name="idmotorista" data-placeholder="Motorista" class="select" onclick="cnhVencida(this)">
							<option value="">Selecione...</option>
							<?php foreach (Logisticamotoristas::getLogisticamotoristasHelper(array('status'=>'Ativo')) as $k=>$v) : ?>
							<option value="<?php echo $v['id'] ?>"><?php echo $v['nomerazao'] . ' - Categoria:' .  $v['categoriacnh'] . ' Vencimento: ' .  date( 'd/m/Y' , strtotime( substr($v['datavalidadecnh'], 0,10 ))); ?></option>
							<?php endforeach;?>
						</select>
						<div id="dias-vencimento" style="color: OrangeRed"></div>
					</div>
				</div>

<?php /*
				<div class="control-group">
					<label class="control-label">Departamento<span class="required">*</span> </label>
					<div class="controls">
		                <select name="iddepartamento" data-placeholder="Departamento" class="select">
							<option value="">Selecione...</option>
							<?php foreach (Departamentosescolas::getDepartamentosescolasHelper(array('status'=>'Ativo')) as $k=>$v) : ?>
							<option value="<?php echo $v['id'] ?>"><?php echo $v['departamento'] ?></option>
							<?php endforeach;?>
						</select>
						
					</div>
				</div>
*/ ?>

				<div class="control-group">
					<label class="control-label">Nome do Responsável <span class="required">*</span></label>
					<div class="controls">
		                <select name="idfuncionario" data-placeholder="Funcionário" class="select">
							<option value="">Selecione...</option>
							<?php foreach (Funcionariosgeraisescolas::getFuncionariosgeraisescolasHelper(array('status'=>'Ativo')) as $k=>$v) : ?>
							<option value="<?php echo $v['id'] ?>"><?php echo $v['nome'] ?></option>
							<?php endforeach;?>
						</select>
						
					</div>
				</div>




				<div class="control-group">
					<label class="control-label">Km inicial <span class="required">*</span></label>
					<div class="controls"><input  placeholder="Km inicial" name="inicialkm" value="<?php echo (isset($this->post_var['inicialkm'])) ? $this->post_var['inicialkm'] : '' ?>" type="text"  class="span3" /></div>
				</div>


				<div class="control-group">
					<label class="control-label">Quantidade Visual de Combustível </label>
					<div class="controls"><input maxlength="500" placeholder="Quantidade Visual de Combustível" name="quantidadecombustivel" value="<?php echo (isset($this->post_var['quantidadecombustivel'])) ? $this->post_var['quantidadecombustivel'] : '' ?>" type="text"  class="span3" /></div>
				</div>


				<div class="control-group">
					<label class="control-label">Situação do Veículo </label><br><br>
					<label class="control-label">Mecânica </label>
					<div class="controls">
						<input maxlength="4" placeholder="Mecânica" name="mecanica" value="bom" type="radio" checked <?php echo ($this->post_var['mecanica'] == 'bom') ? 'checked' : '' ?> />Bom
						<input maxlength="4" placeholder="Mecânica" name="mecanica" value="ruim" type="radio" <?php echo ($this->post_var['mecanica'] == 'ruim') ? 'checked' : '' ?> />Ruim
					</div><br>
					<label class="control-label">Elétrica </label>
					<div class="controls">
						<input maxlength="4" placeholder="Elétrica" name="eletrica" value="bom" type="radio" checked  <?php echo ($this->post_var['eletrica'] == 'bom') ? 'checked' : '' ?>/>Bom
						<input maxlength="4" placeholder="Elétrica" name="eletrica" value="ruim" type="radio"  <?php echo ($this->post_var['eletrica'] == 'ruim') ? 'checked' : '' ?>/>Ruim
					</div><br>
					<label class="control-label">Funilaria </label>
					<div class="controls">
					<input maxlength="4" placeholder="Funilaria" name="funilaria" value="bom" type="radio"   checked   <?php echo ($this->post_var['funilaria'] == 'bom') ? 'checked' : '' ?>/>Bom
						<input maxlength="4" placeholder="Funilaria" name="funilaria" value="ruim" type="radio" <?php echo ($this->post_var['funilaria'] == 'ruim') ? 'checked' : '' ?> />Ruim
					</div><br>
					<label class="control-label">Pintura </label>
					<div class="controls">
					<input maxlength="4" placeholder="Pintura" name="pintura" value="bom" type="radio"   checked   <?php echo ($this->post_var['pintura'] == 'bom') ? 'checked' : '' ?>/>Bom
						<input maxlength="4" placeholder="Pintura" name="pintura" value="ruim" type="radio" <?php echo ($this->post_var['pintura'] == 'ruim') ? 'checked' : '' ?> />Ruim
					</div><br>
					<label class="control-label">Pneus </label>
					<div class="controls">
						<input maxlength="4" placeholder="Pneus" name="pneus" value="bom" type="radio" checked <?php echo ($this->post_var['pneus'] == 'bom') ? 'checked' : '' ?> />Bom
						<input maxlength="4" placeholder="Pneus" name="pneus" value="ruim" type="radio" <?php echo ($this->post_var['pneus'] == 'ruim') ? 'checked' : '' ?> />Ruim
					</div><br>
					<label class="control-label">Observações </label>
					<div class="controls"><textarea class="span12" name="observacao" cols="5" rows="5"><?php echo (isset($this->post_var)) ? $this->post_var["observacao"] : ''; ?></textarea></div>
				</div>


				

				<div class="control-group">
					<label class="control-label">Acessórios </label><br><br>
					<label class="control-label">Macaco </label>
					<div class="controls">
						<input maxlength="4" placeholder="Macaco" name="macaco" value="sim" type="radio" checked <?php echo ($this->post_var['macaco'] == 'sim') ? 'checked' : '' ?>/>Sim
						<input maxlength="4" placeholder="Macaco" name="macaco" value="nao" type="radio" <?php echo ($this->post_var['macaco'] == 'nao') ? 'checked' : '' ?> />Não
					</div><br>
					<label class="control-label">Triangulo </label>
					<div class="controls">
						<input maxlength="4" placeholder="Triangulo" name="triangulo" value="sim" type="radio" checked <?php echo ($this->post_var['triangulo'] == 'sim') ? 'checked' : '' ?>/>Sim
						<input maxlength="4" placeholder="Triangulo" name="triangulo" value="nao" type="radio" <?php echo ($this->post_var['triangulo'] == 'nao') ? 'checked' : '' ?> />Não
					</div><br>
					<label class="control-label">Estepe </label>
					<div class="controls">
					<input maxlength="4" placeholder="Estepe" name="estepe" value="sim" type="radio"   checked  <?php echo ($this->post_var['estepe'] == 'sim') ? 'checked' : '' ?>/>Sim
						<input maxlength="4" placeholder="Estepe" name="estepe" value="nao" type="radio" <?php echo ($this->post_var['estepe'] == 'nao') ? 'checked' : '' ?> />Não
					</div><br>
					<label class="control-label">Extintor </label>
					<div class="controls">
					<input maxlength="4" placeholder="Extintor" name="extintor" value="sim" type="radio"   checked  <?php echo ($this->post_var['extintor'] == 'sim') ? 'checked' : '' ?>/>Sim
						<input maxlength="4" placeholder="Extintor" name="extintor" value="nao" type="radio" <?php echo ($this->post_var['extintor'] == 'nao') ? 'checked' : '' ?> />Não
					</div><br>
					<label class="control-label">Chave de Roda </label>
					<div class="controls">
						<input maxlength="4" placeholder="Chave de Roda" name="chavederoda" value="sim" type="radio" checked <?php echo ($this->post_var['chavederoda'] == 'sim') ? 'checked' : '' ?>/>Sim
						<input maxlength="4" placeholder="Chave de Roda" name="chavederoda" value="nao" type="radio" <?php echo ($this->post_var['chavederoda'] == 'nao') ? 'checked' : '' ?> />Não
					</div><br>
					
				</div>


				


				<div class="control-group">
					<label class="control-label">Status <span class="required">*</span></label>
					<div class="controls">
						<select name="status1" data-placeholder="Status" class="select">
							<option value="">Selecione...</option>
							<option value="Aguardando">Aguardando</option>
							<option value="Pendente">Pendente</option>
							<option value="Finalizado">Finalizado</option>
						</select>
						
					</div>
				</div>

						    
						    
						    </div>
						    
			                <div class="form-actions align-right">
			                	<?php if ((isset($this->visualizar)) && ($this->visualizar)) : ?>
			                		<button onclick="window.history.back()" class="btn btn-danger cancelar" type="button">Voltar</button>
			                	<?php else : ?>
				                	<button class="btn btn-primary enviar" type="submit">Salvar</button>
				                	<button onclick="window.history.back()" class="btn btn-danger cancelar" type="button">Cancelar</button>
			                	<?php endif; ?>
			                </div>
						</div>
						<!-- /general form elements -->

					</fieldset> 

				</form>
				<!-- /basic inputs -->

		    </div>
		    <!-- /content wrapper -->

		</div>
		<!-- content -->
				
<script type="text/javascript" src="<?php echo $this->baseUrl('/public/scripts/admin/logisticascontrolessaidas_form.js') ?>"></script>
<script type="text/javascript">
	var form_values = {};
	
	<?php if (isset($this->post_var)) :  ?>
		form_values.idfrota = '<?php echo (isset($this->post_var['idfrota'])) ? $this->post_var['idfrota'] : '' ?>';

form_values.idmotorista = '<?php echo (isset($this->post_var['idmotorista'])) ? $this->post_var['idmotorista'] : '' ?>';

//form_values.iddepartamento = '<?php echo (isset($this->post_var['iddepartamento'])) ? $this->post_var['iddepartamento'] : '' ?>';

form_values.idfuncionario = '<?php echo (isset($this->post_var['idfuncionario'])) ? $this->post_var['idfuncionario'] : '' ?>';

form_values.status1 = '<?php echo (isset($this->post_var['status1'])) ? $this->post_var['status1'] : $this->post_var['status'] ?>';


	<?php endif; ?>

	visualizar = <?php echo  ((isset($this->visualizar)) && ($this->visualizar))  ? 'true' : 'false' ?>;
</script>
