		<!-- Content -->
		<div id="content">

		    <!-- Content wrapper -->
		    <div class="wrapper">

			    <!-- Breadcrumbs line -->
			    <div class="crumbs">
			    	<?php echo $this->render('/helpers/breadcrumb.phtml') ?>
			    </div>
			    <!-- /breadcrumbs line -->

			    <!-- Page header -->
			    <div class="page-header">
			    	<div class="page-title">
				    	<h5>Logísticas de Saída no sistema</h5>
				    	<span>Visualize os logísticas de saída do sistema</span>
			    	</div>
			    	
			    </div>
			    <!-- /page header -->
			    
			    <?php if (isset($this->crudMessage)) : ?>
				<div class="alert alert-success">
                	<button data-dismiss="alert" class="close" type="button">×</button>
                    <strong>Operação realizada com sucesso!</strong>
	    			<span><br /><?php echo $this->crudMessage ?></span>
                </div>			    
			    <?php endif; ?>




	                        	                        
                <!-- Table with footer -->
                <div class="widget">
                	<form action="#" class="form-horizontal" method="post">
                		<input type="hidden" value="<?php echo (isset($this->post_var['sorting'])) ? $this->post_var['sorting'] : '' ?>" name="sorting" />
	                	<div class="navbar">
	                		<div class="navbar-inner">
	                			<h6>Visualizando registros</h6>
	                			<?php if (Mn_Util::isAccess($this->getController(), 'adicionar')) : ?>
	                			<a style="float:right;" href="<?php echo $this->baseUrl() ?>/<?php echo 'admin' ?>/<?php echo $this->getController() ?>/adicionar" class="btn btn-primary"><span class="icon-plus"></span>&nbsp;Adicionar logística de saída</a>
	                			<?php endif; ?>
	                		</div>
	                	</div>
	                    <div class="table-overflow">
	                        <table class="table table-content">
	                            <thead>
	                                <tr>
	                                    <th width="20">#</th>
	                                    <th class="s-sequencial sorting">Sequencial/Ano</th>
	                                    <th class="s-idfrota sorting">Veículo</th>
	                                    <th class="s-idmotorista sorting">Motorista</th>
	                                    <th class="s-datainicio sorting">Data da saída</th>
	                                    <th class="s-status sorting">Status</th>


	                                    <th width="96">Ações</th>
	                                </tr>
	                                <tr>
	                                    <th></th>
	                                    <th><input name="sequencial" value="<?php echo (isset($this->post_var['sequencial'])) ? $this->post_var['sequencial'] : '' ?>" type="text" placeholder="Sequencial/Ano" class="span3"></th>
										<th>
											<div>
												<select name="idfrota" placeholder="Todos" class="select">
													<option value="">Todos</option>
													<?php foreach (Logisticafrotas::getLogisticafrotasHelper(array('status'=>'Ativo')) as $k=>$v) : ?>
														<option value="<?php echo $v['id'] ?>"><?php echo $v['marca'] ?></option>
													<?php endforeach;?>
												</select>
											</div>
										</th>

										<th>
											<div>
												<select name="idmotorista" placeholder="Todos" class="select">
													<option value="">Todos</option>
													<?php foreach (Logisticamotoristas::getLogisticamotoristasHelper(array('status'=>'Ativo')) as $k=>$v) : ?>
														<option value="<?php echo $v['id'] ?>"><?php echo $v['nomerazao'] ?></option>
													<?php endforeach;?>
												</select>
											</div>
										</th>
										
										<th>
											<input name="datainicio_i" value="<?php echo (isset($this->post_var['datainicio_i'])) ? Mn_Util::formPostVarData($this->post_var['datainicio_i']) : '' ?>" type="text" placeholder="Data inicial" class="span3">
											<input name="datainicio_f" value="<?php echo (isset($this->post_var['datainicio_f'])) ? Mn_Util::formPostVarData($this->post_var['datainicio_f']) : '' ?>" type="text" placeholder="Data final" class="span3">
										</th>
										<th>
											<div>
												<select name="status1" placeholder="Todos" class="select">
													<option value="">Todos</option>
													<option value="Aguardando">Aguardando</option>
													<option value="Pendente">Pendente</option>
													<option value="Finalizado">Finalizado</option>
												</select>
											</div>
										</th>
                   

	                                    <th><button class="btn btn-mini btn-primary" type="submit">Pesquisar</button></th>
	                                </tr> 
	                                                                
	                            </thead>
	                            <tbody>
	                            	<?php if (sizeof($this->rows)==0) : ?>
	                                <tr>
	                                    <td colspan="7">Nenhum registro foi encontrado!</td>
	                                </tr>
	                            	
	                            	<?php else : ?>
	                            	<?php foreach ($this->rows as $row) : ?>
	                                <tr>
	                                	<td><?php echo $row['id'] ?></td>

										<td><?php echo $row['sequencial'] ?></td>

										<td>
											<?php
												$___rows = Logisticafrotas::getLogisticafrotasHelper(array('id'=>$row['idfrota']));
												$___row = (sizeof($___rows)>0) ? 	$___rows[0] : false;	
												
												echo ($___row) ? $this->formatTextoBranco($___row['marca'] . ' - ' .$___row['placa']) : '--';		
											?>
										</td>

										<td>
											<?php
												// $___rows = Funcionariosgeraisescolas::getFuncionariosgeraisescolasHelper(array('id'=>$row['idmotorista']));
												$motorista = Logisticamotoristas::getLogisticamotoristaByIdHelper($row['idmotorista']);
												// $___row = (sizeof($___rows)>0) ? 	$___rows[0] : false;	 
												echo $motorista['nomerazao'] . ' ' . $motorista['sobrenomefantasia'];		
											?>
											
										</td>
										<td><?php echo date('d/m/Y', strtotime($row['datainicio']))?></td>

										<td>
											
												<?php echo $row['status'] ?>
											
										</td>

			                				

	                                    <td>
	                                        <ul class="table-controls">
	                                            <li><a title="" class="btn tip" href="<?php echo $this->baseUrl() ?>/<?php echo 'admin' ?>/<?php echo $this->getController() ?>/visualizar/id/<?php echo $row['id'] ?>" data-original-title="Visualizar"><i class="icon-eye-open"></i></a> </li>
												<?php if($row['status'] != 'Finalizado'): ?>
													<?php if (Mn_Util::isAccess($this->getController(), 'editar')) : ?>
														<li><a title="" class="btn tip" href="<?php echo $this->baseUrl() ?>/<?php echo 'admin' ?>/<?php echo $this->getController() ?>/editar/id/<?php echo $row['id'] ?>" data-original-title="Editar"><i class="icon-pencil"></i></a> </li>
													<?php endif;?>
												    <?php if (Mn_Util::isAccess($this->getController(), 'excluir')) : ?>
														<li><a title="" class="btn tip" href="javascript:confirmDelete('<?php echo $row['id']; ?>','registro');" data-original-title="Excluir"><i class="icon-remove"></i></a> </li>
													<?php endif; ?>
												<?php endif; ?>
	                                        </ul>
	                                    </td>
	                                </tr>
	                            	<?php endforeach;?>
	                            	
	                            	
	                            	
	                            	
	                            	<?php endif; ?>
	
	                            </tbody>
	                        </table>
	                    </div>
	                    <?php echo $this->render('/helpers/paginator.phtml') ?>
                    
                    </form>

                </div>
                <!-- /table with footer -->
	                        


		    </div>
		    <!-- /content wrapper -->

		</div>
		<!-- content -->
		
		
<script type="text/javascript" src="<?php echo $this->baseUrl('/public/scripts/admin/logisticascontrolessaidas_index.js') ?>"></script>
<script type="text/javascript">

	var form_values = {};
	<?php if (isset($this->post_var)) :  ?>
form_values.idfrota = '<?php echo (isset($this->post_var['idfrota'])) ? $this->post_var['idfrota'] : '' ?>';

form_values.idmotorista = '<?php echo (isset($this->post_var['idmotorista'])) ? $this->post_var['idmotorista'] : '' ?>';

form_values.iddepartamento = '<?php echo (isset($this->post_var['iddepartamento'])) ? $this->post_var['iddepartamento'] : '' ?>';

form_values.idfuncionario = '<?php echo (isset($this->post_var['idfuncionario'])) ? $this->post_var['idfuncionario'] : '' ?>';

form_values.status1 = '<?php echo (isset($this->post_var['status1'])) ? $this->post_var['status1'] : $this->post_var['status'] ?>';

	
	<?php endif; ?>

	var sorting = ["idfrota", "idmotorista", "iddepartamento", "sequencial", "datainicio", "horaentrada", "status"];
	
</script>	


