<!-- Content -->
<div id="content">

  <!-- Content wrapper -->
  <div class="wrapper">

   <!-- Breadcrumbs line -->
   <div class="crumbs">
    <?php echo $this->render('/helpers/breadcrumb.phtml') ?>
  </div>
  <!-- /breadcrumbs line -->

  <!-- Page header -->
  <div class="page-header">
    <div class="page-title">
     <h5>Formulário de faltas</h5>
     <span>Informe os dados das faltas.</span>
   </div>
 </div>
 <!-- /page header -->

 <?php if (isset($this->crudMessage)) : ?>
   <div class="alert alert-success">
    <button data-dismiss="alert" class="close" type="button">×</button>
    <strong>Operação realizada com sucesso!</strong>
    <span><br /><?php echo $this->crudMessage ?></span>
  </div>                
<?php endif; ?>

<form id="form" name="form" action="" method="post" class="form-horizontal" enctype="multipart/form-data">  

  <input type="hidden" value="<?php echo (isset($this->post_var['id'])) ? $this->post_var["id"] : ''; ?>" name="id" id="id" />
  <input type="hidden" name="diasletivos" id="diasletivos" value="<?php echo (isset($this->post_var['diasletivos'])) ? $this->post_var["diasletivos"] : ''; ?>" />

  <div class="control-group">
    <label class="control-label">Estudante <span class="required">*</span></label>
    <div class="controls">
      <select id="idestudante" name="idestudante" class="select">
        <option value="">Selecione...</option>
        <?php foreach (Escolasalunos::getEscolasalunos(array('passeescolar' => 'sim')) as $row) : ?>
          <option value="<?php echo $row['id'] ?>"><?php echo $row['nomerazao']; ?></option>
        <?php endforeach; ?>
      </select>
    </div>
  </div>

  <div class="control-group">
    <label class="control-label">Período <span class="required">*</span></label>
    <div class="controls">
      <select id="idperiodo" name="idperiodo" class="select">
        <option value="">Selecione...</option>
        <?php foreach (Lteperiodos::getPeriodos() as $row) : ?>
          <option value="<?php echo $row['id'] ?>" data-diasletivos="<?php echo $row['diasletivos'] ?>"><?php $inicio = date_create($row['datainicio']); $fim = date_create($row['datafim']); ?><?php echo date_format($inicio,'d/m/Y').' a '.date_format($fim,'d/m/Y'); ?></option>
        <?php endforeach; ?>
      </select>
    </div>
  </div>

  <div class="control-group">
    <label class="control-label">Faltas </label>
    <div class="controls">
      <input type="text" size="10" placeholder="Faltas" name="faltas" id="faltas" class="span3" value="<?php echo (isset($this->post_var)) ? $this->post_var['faltas'] : "" ?>" />
    </div>
  </div>

  <div class="control-group">
    <label class="control-label">Observações </label>
    <div class="controls">
      <textarea name="observacoes"><?php echo (isset($this->post_var['observacoes'])) ? $this->post_var['observacoes'] : '' ?></textarea>
    </div>
  </div>

  <div class="control-group">
    <label class="control-label">Status <span class="required">*</span></label>
    <div class="controls">
      <select name="status" data-placeholder="Status" class="select" <?php if ($this->visualizar) {echo 'disabled="true"';} else {echo 'enabled="true"';} ?> >
        <option value="">Selecione...</option>
        <option value="Ativo">Ativo</option>
        <option value="Bloqueado">Bloqueado</option>
      </select>
    </div>
  </div>

  <div class="box-colecoes col-sm-12 panel-group" id="accordion" >

    <div class="control-group">
      <div class="controls_1">
      </div>
    </div>

  </div>  

  <div class="panel-footer">
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3">
        <?php if ((isset($this->visualizar)) && ($this->visualizar)) : ?>
        <button type="button" onclick="window.history.back()" class="btn btn-default">Voltar</button>
        <?php else : ?>
          <button class="btn btn-primary">Salvar</button>&nbsp;
          <button onclick="window.history.back()" class="btn btn-danger cancelar" type="button">Cancelar</button>
        <?php endif;?>
      </div>
    </div>
  </div><!-- panel-footer -->             
  <br /><br /><br />
</form>
<!-- /basic inputs -->

</div>
<!-- /content wrapper -->

</div>
<!-- content -->
<script type="text/javascript" src="<?php echo $this->baseUrl('/public/scripts/admin/ltefaltas_form.js') ?>"></script>

<script type="text/javascript">
  var form_values = {};

  <?php if (isset($this->post_var['status'])) :  ?>
    form_values.status = '<?php echo $this->post_var['status'] ?>';
  <?php endif; ?>

  <?php if (isset($this->post_var['idestudante'])) :  ?>
    form_values.idestudante = '<?php echo $this->post_var['idestudante'] ?>';
  <?php endif; ?>

  <?php if (isset($this->post_var['idperiodo'])) :  ?>
    form_values.idperiodo = '<?php echo $this->post_var['idperiodo'] ?>';
  <?php endif; ?>
</script>