<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
        <title>Prefeitura Municipal de Santa Isabel - Painel Administrativo</title>
        <link href="<?php echo $this->baseUrl() ?>/public/admin/css/main.css" rel="stylesheet" type="text/css" />
        <?php if (($this->getController() == 'index') && ($this->getAction() == 'index')) : ?>
            <link href="<?php echo $this->baseUrl() ?>/public/admin/css/bootstrap.css" rel="stylesheet" type="text/css" />
        <?php endif; ?>

        <?php if (($this->getController() == 'graficos') && ($this->getAction() == 'index')) : ?>
            <link href="<?php echo $this->baseUrl() ?>/public/admin/css/bootstrap.css" rel="stylesheet" type="text/css" />
        <?php endif; ?>
        <link href="<?php echo $this->baseUrl() ?>/public/scripts/jquery-ui-themes-1.11.4/themes/redmond/jquery-ui.min.css" rel="stylesheet" type="text/css" />

        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">


<!--[if IE 8]><link href="<?php echo $this->baseUrl() ?>/public/admin/css/ie8.css" rel="stylesheet" type="text/css" /><![endif]-->
        <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700' rel='stylesheet' type='text/css'>

        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
        <?php ?>
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min.js"></script>
        <?php ?>
        <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDY0kkJiTPVd2U7aTOAwhc9ySH6oHxOIYM&amp;sensor=false"></script>

        <script type="text/javascript" src="<?php echo $this->baseUrl() ?>/public/admin/js/plugins/charts/excanvas.min.js"></script>
        <script type="text/javascript" src="<?php echo $this->baseUrl() ?>/public/admin/js/plugins/charts/jquery.flot.js"></script>
        <script type="text/javascript" src="<?php echo $this->baseUrl() ?>/public/admin/js/plugins/charts/jquery.flot.resize.js"></script>
        <script type="text/javascript" src="<?php echo $this->baseUrl() ?>/public/admin/js/plugins/charts/jquery.sparkline.min.js"></script>

        <script type="text/javascript" src="<?php echo $this->baseUrl() ?>/public/admin/js/plugins/ui/jquery.easytabs.min.js"></script>
        <script type="text/javascript" src="<?php echo $this->baseUrl() ?>/public/admin/js/plugins/ui/jquery.collapsible.min.js"></script>
        <script type="text/javascript" src="<?php echo $this->baseUrl() ?>/public/admin/js/plugins/ui/jquery.mousewheel.js"></script>
        <script type="text/javascript" src="<?php echo $this->baseUrl() ?>/public/admin/js/plugins/ui/prettify.js"></script>
        <script type="text/javascript" src="<?php echo $this->baseUrl() ?>/public/admin/js/plugins/ui/jquery.bootbox.min.js"></script>
        <script type="text/javascript" src="<?php echo $this->baseUrl() ?>/public/admin/js/plugins/ui/jquery.colorpicker.js"></script>
        <script type="text/javascript" src="<?php echo $this->baseUrl() ?>/public/admin/js/plugins/ui/jquery.timepicker.min.js"></script>
        <script type="text/javascript" src="<?php echo $this->baseUrl() ?>/public/admin/js/plugins/ui/jquery.jgrowl.js"></script>
        <script type="text/javascript" src="<?php echo $this->baseUrl() ?>/public/admin/js/plugins/ui/jquery.fancybox.js"></script>
        <script type="text/javascript" src="<?php echo $this->baseUrl() ?>/public/admin/js/plugins/ui/jquery.fullcalendar.min.js"></script>
        <script type="text/javascript" src="<?php echo $this->baseUrl() ?>/public/admin/js/plugins/ui/jquery.elfinder.js"></script>

        <script type="text/javascript" src="<?php echo $this->baseUrl() ?>/public/admin/js/plugins/uploader/plupload.js"></script>
        <script type="text/javascript" src="<?php echo $this->baseUrl() ?>/public/admin/js/plugins/uploader/plupload.html4.js"></script>
        <script type="text/javascript" src="<?php echo $this->baseUrl() ?>/public/admin/js/plugins/uploader/plupload.html5.js"></script>
        <script type="text/javascript" src="<?php echo $this->baseUrl() ?>/public/admin/js/plugins/uploader/jquery.plupload.queue.js"></script>

        <script type="text/javascript" src="<?php echo $this->baseUrl() ?>/public/admin/js/plugins/forms/jquery.uniform.min.js"></script>
        <script type="text/javascript" src="<?php echo $this->baseUrl() ?>/public/admin/js/plugins/forms/jquery.autosize.js"></script>
        <script type="text/javascript" src="<?php echo $this->baseUrl() ?>/public/admin/js/plugins/forms/jquery.inputlimiter.min.js"></script>
        <script type="text/javascript" src="<?php echo $this->baseUrl() ?>/public/admin/js/plugins/forms/jquery.tagsinput.min.js"></script>

        <script type="text/javascript" src="<?php echo $this->baseUrl() ?>/public/admin/js/plugins/forms/jquery.select2.min.js"></script>
        <script type="text/javascript" src="<?php echo $this->baseUrl() ?>/public/admin/js/plugins/forms/jquery.listbox.js"></script>
        <script type="text/javascript" src="<?php echo $this->baseUrl() ?>/public/admin/js/plugins/forms/jquery.validation.js"></script>
        <script type="text/javascript" src="<?php echo $this->baseUrl() ?>/public/admin/js/plugins/forms/jquery.validationEngine-en.js"></script>
        <script src="<?php echo $this->baseUrl() ?>/public/scripts/jquery-validation-1.13.1/dist/jquery.validate.min.js"></script>
        <script src="<?php echo $this->baseUrl() ?>/public/scripts/jquery-validation-1.13.1/dist/localization/messages_pt_BR.min.js"></script>
        <script type="text/javascript" src="<?php echo $this->baseUrl() ?>/public/admin/js/plugins/forms/jquery.form.wizard.js"></script>
        <script type="text/javascript" src="<?php echo $this->baseUrl() ?>/public/admin/js/plugins/forms/jquery.form.js"></script>

        <script type="text/javascript" src="<?php echo $this->baseUrl() ?>/public/admin/js/plugins/tables/jquery.dataTables.min.js"></script>

        <script type="text/javascript" src="<?php echo $this->baseUrl() ?>/public/admin/js/files/bootstrap.min.js"></script>

        <link href="<?php echo $this->baseUrl() ?>/public/scripts/jquery.alerts-1.1/jquery.alerts.css" rel="stylesheet">
        <script src="<?php echo $this->baseUrl() ?>/public/scripts/jquery.alerts-1.1/jquery.alerts.js"></script>
        <script type="text/javascript" src="<?php echo $this->baseUrl() ?>/public/scripts/jquery.blockUI.js"></script>


        <script type="text/javascript" src="<?php echo $this->baseUrl() ?>/public/admin/js/plugins/forms/jquery.uniform.min.js"></script>
        <script type="text/javascript" src="<?php echo $this->baseUrl() ?>/public/admin/js/plugins/forms/jquery.autosize.js"></script>
        <script type="text/javascript" src="<?php echo $this->baseUrl() ?>/public/admin/js/plugins/forms/jquery.inputlimiter.min.js"></script>
        <script type="text/javascript" src="<?php echo $this->baseUrl() ?>/public/admin/js/plugins/forms/jquery.tagsinput.min.js"></script>

        <script type="text/javascript" src="<?php echo $this->baseUrl() ?>/public/admin/js/plugins/forms/jquery.select2.min.js"></script>
        <script type="text/javascript" src="<?php echo $this->baseUrl() ?>/public/admin/js/plugins/forms/jquery.listbox.js"></script>
        <script type="text/javascript" src="<?php echo $this->baseUrl() ?>/public/admin/js/plugins/forms/jquery.validation.js"></script>
        <script type="text/javascript" src="<?php echo $this->baseUrl() ?>/public/admin/js/plugins/forms/jquery.validationEngine-en.js"></script>
        <script type="text/javascript" src="<?php echo $this->baseUrl() ?>/public/admin/js/plugins/forms/jquery.form.wizard.js"></script>
        <script type="text/javascript" src="<?php echo $this->baseUrl() ?>/public/admin/js/plugins/forms/jquery.form.js"></script>

        <script type="text/javascript" src="<?php echo $this->baseUrl() ?>/public/admin/js/files/functions.js"></script>
        <script type="text/javascript" src="<?php echo $this->baseUrl() ?>/public/scripts/funcoes.js"></script>
        <script type="text/javascript" src="<?php echo $this->baseUrl() ?>/public/scripts/cpf_cnpj.js"></script>

        <script src="<?php echo $this->baseUrl('/public/scripts/jquery.fileupload') ?>/js/jquery.iframe-transport.js"></script>
        <script src="<?php echo $this->baseUrl('/public/scripts/jquery.fileupload') ?>/js/jquery.fileupload.js"></script>

        <script src="<?php echo $this->baseUrl() ?>/public/scripts/jquery.price_format.2.0.min.js"></script>
        <?php if (($this->getController() == 'index') && ($this->getAction() == 'index')) : ?>
            <script type="text/javascript" src="<?php echo $this->baseUrl() ?>/public/admin/js/charts/graph.js"></script>
            <script type="text/javascript" src="<?php echo $this->baseUrl() ?>/public/admin/js/charts/chart1.js"></script>
            <script type="text/javascript" src="<?php echo $this->baseUrl() ?>/public/admin/js/charts/chart2.js"></script>
            <script type="text/javascript" src="<?php echo $this->baseUrl() ?>/public/admin/js/charts/chart3.js"></script>
        <?php endif; ?>
        <script src="<?php echo $this->baseUrl() ?>/public/scripts/jquery.maskedinput.min.js"></script>
        <script src="<?php echo $this->baseUrl() ?>/public/scripts/admin/layout.js"></script>
        <script type="text/javascript">
            $(document).ready(function() {
                $('li.<?php echo $this->getController() ?> a').trigger('click');
                $('li.<?php echo $this->getController() ?> li.<?php echo $this->getController() ?> a').addClass('menu_ativo');
                $('li.<?php echo $this->getController() ?> li.<?php echo $this->getAction() ?> a').addClass('menu_ativo');

            });
            var module = '<?php echo $this->getModule() ?>';
            var controller = '<?php echo $this->getController() ?>';
            var action = '<?php echo $this->getAction() ?>';
            var baseUrl = '<?php echo $this->baseUrl() ?>';
        </script>

        <!-- Coloque esta tag depois da tag de Status do Live Helper. -->
        <script type="text/javascript">
            var LHCChatOptions = {};
            LHCChatOptions.opt = {widget_height: 340, widget_width: 300, popup_height: 520, popup_width: 500, domain: 'saege.com.br'};
            (function() {
                var po = document.createElement('script');
                po.type = 'text/javascript';
                po.async = true;
                var referrer = (document.referrer) ? encodeURIComponent(document.referrer.substr(document.referrer.indexOf('://') + 1)) : '';
                var location = (document.location) ? encodeURIComponent(window.location.href.substring(window.location.protocol.length)) : '';
                po.src = 'https://saege.com.br/chat/lhc_web/index.php/por/chat/getstatus/(click)/internal/(position)/original/(ma)/br/(top)/350/(units)/pixels/(leaveamessage)/true/(theme)/1?r=' + referrer + '&l=' + location;
                var s = document.getElementsByTagName('script')[0];
                s.parentNode.insertBefore(po, s);
            })();
        </script>

        <script type="text/javascript" src="<?php echo $this->baseUrl() ?>/public/scripts/jquery-cookie/jquery.cookie.js"></script>

    </head>

    <body>

        <!-- Fixed top -->
        <div id="top">
            <div class="fixed">
                <a href="<?php echo $this->baseUrl() ?>/admin/" title="" class="logo-text">Prefeitura Municipal de Santa Isabel - Painel Administrativo</a>
                <ul class="top-menu">
                    <li><div style="position: relative; top: 7px" id="lhc_status_container" ></div></li>
                    <li><a class="fullview"></a></li>
                    <li><a class="showmenu"></a></li>
                    <li class="dropdown">
                        <?php
                        $idescolaverifica = Usuarios::getUsuario('idescola');
                        $idescolaverifica = (int) $idescolaverifica;
                        ?>
                        <a class="user-menu" data-toggle="dropdown"><span>Bem vindo, <?php echo Usuarios::getUsuario('nomerazao') ?> - (<?php echo Usuarios::getSecretariaAtiva(Usuarios::getUsuario('id'), 'secretaria') ?>) <?php echo ((int) $idescolaverifica > 0 ) ? '- (' . Usuarios::getEscolaAtiva(Usuarios::getUsuario('id'), 'escola') . ')' : '' ?>)! <b class="caret"></b></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="<?php echo $this->baseUrl() ?>/admin/usuario" title=""><i class="icon-user"></i>Seu cadastro</a></li>

                            <?php /* foreach (Secretarias::getSecretariasByUsuario( Usuarios::getUsuario('id')) as $k=>$v) : ?>
                              <li><a onclick="changeSecretaria('<?php echo $v['id'] ?>')" href="javascript:;"><i class="fa fa-share"></i> <?php echo $v['secretaria'] ?></a></li>
                              <?php endforeach; */ ?>
                            <?php
                            $idsescolas = Usuarios::getUsuario('idescolas');

                            if ((isset($idsescolas)) && ($idsescolas) && ($idsescolas != "")) {
                                $idsescolas = explode(',', $idsescolas);
                            } else {
                                $_array = array();
                                array_push($_array, Usuarios::getUsuario('idescola'));
                                $idsescolas = $_array;
                            }

                            if ((sizeof($idsescolas) > 0) && ($idsescolas != 0) && ((int) Usuarios::getUsuario('idescola') > 0 )):

                                foreach ($idsescolas as $k => $v) :
                                    ?>
                                    <li><a onclick="changeEscola('<?php echo $v ?>')" href="javascript:;"><i class="fa fa-share"></i>
                                            <?php
                                            $___rows = Escolas::getEscolasHelper(array('id' => $v));
                                            $___row = (sizeof($___rows) > 0) ? $___rows[0] : false;

                                            echo ($___row) ? $this->formatTextoBranco($___row['escola']) : '--';
                                            ?></a></li>
                                    <?php
                                endforeach;
                            else:
                                ?>
                                <li><a href="javascript:;" style="cursor:default;"><?php echo Usuarios::getUsuario('perfil_s') ?></a> </li>
                            <?php endif; ?>
                            <li><a href="<?php echo $this->baseUrl() ?>/admin/auth/logout" title=""><i class="icon-remove"></i>Logout</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        <!-- /fixed top -->


        <!-- Content container -->
        <div id="container">

            <?php echo $this->render('/helpers/menu.phtml'); ?>

            <?php echo $this->layout()->content; ?>

        </div>
        <!-- /content container -->


        <!-- Footer -->
        <div id="footer">
            <div class="copyrights">Desenvolvido por &copy;FJMX. - <?php echo date('Y') ?></div>
        </div>
        <!-- /footer -->

    </body>

</html>
