<style type="text/css">
    .font16{ font-size:1em; font-family: 'Helvetica, sans-serif'; }   
    .font18{ font-size:1.3em; font-family: 'Helvetica, sans-serif'; }
    .font20{ font-size:1.5em; font-family: 'Helvetica, sans-serif'; }    
    .black{ color:#000; }       
    .textright{ text-align: right; }
    .textcenter{text-align: center; }
    .padding5{ padding: 5px; }
    .margin10 {margin-top:50px; display: block;}
    .border{ border:0.5px dotted #ccc; }
    .strong{font-weight: bold;}
    tr{
        border:1px solid;
    }
</style>
<br/><br/><br/>
<div>
	<h3 class="black font20 ">Termo de visita</h3>
</div>
<table class="padding5 border">
	<tr><td class="black">Local: <?php echo (isset($this->escola['escola'])) ? $this->escola['escola'] : '--'?></td></tr>
</table>
<br/>
<table>
	<tr>
		<th width="33%"><span class="black">Diretor(a):</span> </th>
		<th width="33%"><span>Data do envio: </span></th>
		<th width="33%"><span>Título: </span></th>		
	</tr>
	<tr>
		<td>
			<span class="black"><?php echo (isset($this->visita['diretor'])) ? $this->visita['diretor'] : '--'?></span>
		</td>
		<td><span><?php echo (isset($this->visita['datacriacao'])) ? date('d/m/Y', strtotime($this->visita['datacriacao'])) : '--'?></span></td>
		<td><span><?php echo (isset($this->visita['titulo'])) ? $this->visita['titulo'] : '--'?></span></td>
	</tr>
</table>
<br/><br/>
<br/><br/>
<table>
	<tr>
		<th>Descrição do termo:</th>
	</tr><br/>
	<tr>
		<td class="padding5"><?php echo (isset($this->visita['descricao'])) ? $this->visita['descricao'] : '--'?></td>
	</tr>
</table>
<br/><br/>
<br/><br/>
<br/><br/>
<table>
	<tr>
		<th width="25%" class="textcenter">Data da Ciência</th>
		<th width="25%" class="textcenter">Status</th>
		<th width="25%" class="textcenter">Ciente por</th>
		<th width="25%" class="textcenter">RGF</th>
	</tr>
	<tr>
		<td width="25%" class="strong textcenter"><?php echo (isset($this->visita['dataaceite'])) ? date('d/m/Y', strtotime($this->visita['dataaceite'])) : '--'; ?></td>
		<td width="25%" class="strong textcenter"><?php echo (isset($this->visita['status'])) ? $this->visita['status'] : '--'; ?></td>
		<td width="25%" class="strong textcenter"><?php echo (isset($this->receptor['nomerazao'])) ? $this->receptor['nomerazao'] : '--'; ?></td>
		<td width="25%" class="strong textcenter"><?php echo (isset($this->receptor['rgf'])) ? $this->receptor['rgf'] : '--'; ?></td>
	</tr>
</table>
<br/>
<br/><br/><br/>
<table>
	<tr>
		<td>
			<span class="black textcenter"><?php echo (isset($this->visita['diretor'])) ? $this->visita['diretor'] : '--'?></span><br/>
			<span class="black textcenter">Diretor</span>
		</td>
		<td>
			<span class="black textcenter"><?php echo (isset($this->supervisor['nomerazao'])) ? (strtoupper($this->supervisor['nomerazao'])) : '--'?></span><br/>
			<span class="black textcenter">Supervisor</span><br/>
			<span class="black textcenter">RGF: <?php echo (isset($this->supervisor['rgf'])) ? $this->supervisor['rgf'] : '--'?></span>
		</td>
	</tr>
</table>
<br/><br/>
<table>
    <tr>
        <td class="font16 textright"><?php echo $this->localdata; ?></td>
    </tr>
</table>