
<option value="">Selecione...</option>
<?php foreach ($this->rows as $k=>$v) : ?>
<option value="<?php echo $v['id'] ?>"><?php echo $v['nomerazao'] . ' ' . $v['sobrenomefantasia']  ?></option>
<?php endforeach;?>