<?php
include_once BASE_PATH . '/public/scripts/ckeditor/ckeditor.php';
require_once BASE_PATH . '/public/scripts/ckfinder/ckfinder.php';

$ckeditor = new CKEditor();
$ckeditor->basePath = $this->baseUrl('/public/scripts/ckeditor/');

$ckfinder = $this->baseUrl('/public/scripts/ckfinder/');

CKFinder::SetupCKEditor($ckeditor, $ckfinder);
?>
<style type="text/css">

.container{ width: 50%; border:1px solid #ccc; margin: 2px; padding: 3px; }
.container span.fechar{ padding: 3px; margin-right: 1px; background: red; color: #fff; border: 1px solid #fff; border-radius: 4px; display: inline-block; height: 20px; width: 20px; text-align: center; cursor: pointer; font-weight: bold; font-family: arial, Helvetica, sans-serif; }
.container .tipoatividade{ width: 90%; display: inline-block; }
.ui-dialog .ui-dialog-titlebar{ padding:0px 1px !important; }
.ui-datepicker{ z-index: 1010 !important; }
.ui-widget-header{ border: none; }
.btn-control{ text-align: center; margin-top: 26px; }
.infobox{ border: .5px solid #ccc; display: block; padding: 5px; background: #f1f1f1; border-radius: 3px; color: #000; text-align: justify; }
#registrarabandonoBox input[type="text"], select[name="regAbo_inUFRA"], select[name="falecimento_inUFRA"]{ border-radius:5px; display: inline; }



</style>

<!-- Content -->
<div id="content">
    <!-- Content wrapper -->
    <div class="wrapper">
        <!-- Breadcrumbs line -->
        <div class="crumbs">
            <?php echo $this->render('/helpers/breadcrumb.phtml') ?>
        </div>
        <!-- /breadcrumbs line -->

        <!-- Page header -->
        <div class="page-header">
            <div class="page-title">
                <h5>Formulário do aluno </h5>
                <span>Informe os dados do aluno.</span>
            </div>
        </div>
        <!-- /page header -->
        <div class="panel-heading">
            <?php if (isset($this->crudMessage)) : ?>
                <div class="alert alert-success">
                    <button data-dismiss="alert" class="close" type="button">×</button>
                    <strong>Operação realizada com sucesso!</strong>
                    <span><br /><?php echo $this->crudMessage ?></span>
                </div>
            <?php endif; ?>
        </div>

        <form id="form" name="form" action="" method="post" class="form-horizontal" enctype="multipart/form-data">

            <fieldset>
                <!-- General form elements -->
                <div class="widget">
                    <div class="navbar">
                        <div class="navbar-inner">
                            <h6>Digite as informações do formulário</h6>
                        </div>
                    </div>
                   
                    <div class="well">
                        <?php if (isset($this->erros)) : ?>
                            <div class="alert alert-error margin">
                                <button data-dismiss="alert" class="close" type="button">×</button>
                                <strong>Há erros no formulário!</strong>
                                <?php foreach ($this->erros as $k => $v) : ?>
                                    <span><br />- <?php echo $v ?></span>
                                <?php endforeach; ?>
                            </div>
                        <?php endif; ?>
                        <div class="control-group">
                            <button id="registrarabandono" class="btn btn-primary tip" data-original-title="Registrar abandono do aluno" <?php echo ($this->post_var['abandono']=="sim" || $this->post_var['falecimento']=="sim") ? "disabled" : "" ?>><i class="icon-remove"></i> &nbsp;Abandono</button>
                            <button id="estornarabandono" class="btn btn-success tip" data-original-title="Estornar abandono do aluno" <?php echo ($this->post_var['abandono']=="nao" || $this->post_var['abandono']=="" || $this->post_var['falecimento']=="sim" || $this->post_var['status']=="Não Compareceu") ? "disabled" : "" ?>><i class="icon-link"></i> &nbsp;Estornar abandono</button>
                            <button id="falecimento" class="btn btn-danger tip" data-original-title="Baixa por falecimento" <?php echo (isset($this->post_var['falecimento']) AND $this->post_var['falecimento']=="sim") ? "disabled" : "" ?>><i class="icon-circle-arrow-down" ></i> &nbsp;Baixa por falecimento</button>
                            <button id="naocomparecimento" class="btn btn-warning tip" data-original-title="Registrar não comparecimento" <?php echo ($this->post_var['falecimento']=="sim" || $this->post_var['abandono']=="sim") ? "disabled" : "" ?>><i class="icon-ban-circle"></i> &nbsp;Não comparecimento</button>
                        </div>
                        
                        <!--FORM para registrar o abandono do aluno-->
                        <div id="registrarabandonoBox" style="display: none">
                            <label>Para confirmar o abandono do(a) aluno(a) <b><?php echo ($this->post_var['nomerazao']) ? $this->post_var['nomerazao'] : ''?></b>, preencha os campos e clique em confirmar</label>
                            <div class="rotulo">RA do aluno:</div>
                            <input type="text" name="regAbo_inRA" value="<?php echo (isset($this->post_var['ra'])) ? $this->post_var['ra'] : '' ?>" placeholder="99999999" style="width:143px !important" class="span2" disabled>&nbsp;-&nbsp;
                            <input type="text" name="regAbo_inDigra" value="<?php echo (isset($this->post_var['digra'])) ? $this->post_var['digra'] : '' ?>" placeholder="99999999" style="width:30px !important" class="span2" disabled>&nbsp;/&nbsp;                            
                                            
                            <select name="regAbo_inUFRA" class="span1" style="width: 50px;" disabled>
                                <option value="">...</option> 
                                <option value="AC">AC</option> 
                                <option value="AL">AL</option> 
                                <option value="AM">AM</option> 
                                <option value="AP">AP</option> 
                                <option value="BA">BA</option> 
                                <option value="CE">CE</option> 
                                <option value="DF">DF</option> 
                                <option value="ES">ES</option> 
                                <option value="GO">GO</option> 
                                <option value="MA">MA</option> 
                                <option value="MT">MT</option> 
                                <option value="MS">MS</option> 
                                <option value="MG">MG</option> 
                                <option value="PA">PA</option> 
                                <option value="PB">PB</option> 
                                <option value="PR">PR</option> 
                                <option value="PE">PE</option> 
                                <option value="PI">PI</option> 
                                <option value="RJ">RJ</option> 
                                <option value="RN">RN</option> 
                                <option value="RO">RO</option> 
                                <option value="RS">RS</option> 
                                <option value="RR">RR</option> 
                                <option value="SC">SC</option> 
                                <option value="SE">SE</option>
                                <option value="SP" selected>SP</option> 
                                <option value="TO">TO</option> 
                            </select><br/>

                            <div class="rotulo">Dia do abandono:</div>
                            <input type="text" name="dataabandono" placeholder="00/00/0000"><br/>                            
                            <div class="btn-control">
                                <div class="alert alert-danger" id="receiver" style="padding:2px; display:none"></div>
                                <a class="btn btn-small btn-danger" onclick="fecharModal('#registrarabandonoBox');" style="cursor: pointer; color:#fff !important; margin-right: 12px">Cancelar</a>
                                <a class="btn btn-small btn-success" id="confirmaAbandono" onclick="confirmaAbandono('<?php echo $this->post_var['id']?>');" style="cursor: pointer; color:#fff !important;">Confirmar</a>
                            </div>
                           
                        </div>

                        <!--FORM para estorna o abandono do aluno-->
                        <div id="estornarabandonoBox" style="display: none">
                            <?php
                                if(isset($this->post_var["dataabandono"])):                                    
                                    //data abandono
                                    $dateObj =  date('Y-m-d', strtotime(substr($this->post_var["dataabandono"], 0, 10)));
                                    $dataabandono = new DateTime($dateObj);
                                    
                                    //data estorno
                                    $dateObj2 =  date('Y-m-d', strtotime(date('Y-m-d')));
                                    $dataestorno = new DateTime($dateObj2);
                                   
                                    $diff = $dataabandono->diff($dataestorno);
                                    $datadiff = $diff->d;
                                endif;
                            ?>
                            <?php if(isset($datadiff)):?><small class="infobox"><b><span id="qntdias"><?php echo $datadiff; ?></span> dias</b> após o registro de abandono. Aluno não poderá mais ser estornado do abandono após o prazo de <b>15 dias</b></small><?php endif;?><br/>
                            <label>Deseja confirmar o estorno do(a) aluno(a) <b><?php echo ($this->post_var['nomerazao']) ? $this->post_var['nomerazao'] : ''?></b>?</label>
                            <div class="btn-control">
                                <div class="alert alert-danger" id="estorno-receiver" style="display:none; padding: 2px;"></div>
                                <a class="btn btn-small btn-danger" onclick="fecharModal('#estornarabandonoBox');" style="cursor: pointer; color:#fff !important; margin-right: 12px">Cancelar</a>
                                <a class="btn btn-small btn-success" id="confirmaEstorno" onclick="confirmaEstorno('<?php echo $this->post_var['id']?>');" style="cursor: pointer; color:#fff !important; margin-right: 12px">Confirmar</a>                           
                            </div>
                        </div>

                        <!--FORM para estorna o abandono do aluno-->
                        <div id="falecimentoBox" style="display: none">
                            <label>Para confirmar o falecimento do(a) aluno(a) <b><?php echo ($this->post_var['nomerazao']) ? $this->post_var['nomerazao'] : ''?></b>, preencha os campos e clique em confirmar</label>
                            
                            <input type="text" name="falecimento_inRA" value="<?php echo (isset($this->post_var['ra'])) ? $this->post_var['ra'] : '' ?>" placeholder="99999999" style="width:143px !important" class="span2" disabled>&nbsp;-&nbsp;
                            <input type="text" name="falecimento_inDigra" value="<?php echo (isset($this->post_var['digra'])) ? $this->post_var['digra'] : '' ?>" placeholder="99999999" style="width:30px !important" class="span2" disabled>&nbsp;/&nbsp;
                            <select name="falecimento_inUFRA" class="span1" style="width: 50px;" disabled>
                                <option value="">...</option> 
                                <option value="AC">AC</option> 
                                <option value="AL">AL</option> 
                                <option value="AM">AM</option> 
                                <option value="AP">AP</option> 
                                <option value="BA">BA</option> 
                                <option value="CE">CE</option> 
                                <option value="DF">DF</option> 
                                <option value="ES">ES</option> 
                                <option value="GO">GO</option> 
                                <option value="MA">MA</option> 
                                <option value="MT">MT</option> 
                                <option value="MS">MS</option> 
                                <option value="MG">MG</option> 
                                <option value="PA">PA</option> 
                                <option value="PB">PB</option> 
                                <option value="PR">PR</option> 
                                <option value="PE">PE</option> 
                                <option value="PI">PI</option> 
                                <option value="RJ">RJ</option> 
                                <option value="RN">RN</option> 
                                <option value="RO">RO</option> 
                                <option value="RS">RS</option> 
                                <option value="RR">RR</option> 
                                <option value="SC">SC</option> 
                                <option value="SE">SE</option>
                                <option value="SP" selected>SP</option> 
                                <option value="TO">TO</option> 
                            </select><br/>

                            <div class="rotulo">Dia do falecimento:</div>
                            <input type="text" name="datafalecimento" placeholder="00/00/0000"><br/>                            
                            <div class="btn-control">
                                <div class="alert alert-danger" id="receivermsg" style="display: none; padding:2px;"></div>
                                <a class="btn btn-small btn-danger" onclick="fecharModal('#falecimentoBox');" style="cursor: pointer; color:#fff !important; margin-right: 12px">Cancelar</a>
                                <a class="btn btn-small btn-success" id="confirmaBaixa" onclick="confirmaBaixa('<?php echo $this->post_var['id']?>');" style="cursor: pointer; color:#fff !important;">Confirmar</a>
                            </div>
                        </div>

                        <!--FORM para registrar o não comparecimento aluno-->
                        <div id="naocomparecimentoBox" style="display: none">
                            <label>Confirmar o não comparecimento do(a) aluno(a) <b><?php echo ($this->post_var['nomerazao']) ? $this->post_var['nomerazao'] : ''?></b>?</label>                            
                            <div class="btn-control">
                                <div class="alert alert-danger" id="comp-receiver" style="display:none; padding: 2px;"></div>
                                <a class="btn btn-small btn-danger" onclick="fecharModal('#naocomparecimentoBox');" style="cursor: pointer; color:#fff !important; margin-right: 12px">Cancelar</a>
                                <a class="btn btn-small btn-success" id="naoComparecimento" onclick="naoComparecimento('<?php echo $this->post_var['id']?>');" style="cursor: pointer; color:#fff !important; margin-right: 12px">Confirmar</a>                           
                            </div>
                        </div>

                        <?php if (!$this->visualizar): ?>
                            <div class="control-group">
                                <label class="control-label">Imagem</label>
                                <div class="controls">
                                    <div class="contentarea">
                                        <div class="camera">
                                            <video id="video">Transmissão de video não disponível.</video>
                                        </div>
                                        <br />
                                        <a id="startbutton" href="javascript:;" class="btn btn-info tip" title="" data-original-title="Capturar"><i class="icon-user"></i> &nbsp;Capturar</a>
                                        <a id="removebutton" href="javascript:;" class="btn btn-info tip" title="" data-original-title="Limpar"><i class=" icon-remove"></i> &nbsp;Limpar</a>
                                        <br />
                                        <canvas id="canvas" style="display:none">
                                        </canvas>
                                        <input type="hidden" value="" name="input_webcam" id="input_webcam" />
                                        <div class="output" style="display:none">
                                            <img id="photo" alt="The screen capture will appear in this box.">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        <?php endif; ?>
                        <div class="control-group">
                            <label class="control-label">Foto </label>
                            <div class="controls">
                                <?php if ((isset($this->post_var['idimagemfoto'])) && ((int) $this->post_var['idimagemfoto'] > 0)) : ?>
                                    <?php echo $this->getImagem($this->post_var['idimagemfoto'], 150, 150, '', Imagens::$INDISPONIVEL) ?>

                                    <?php if (!$this->visualizar) : ?>
                                        <div class="checkbox block">
                                            <label><input type="checkbox" name="excluir_idimagem" value="excluir_idimagem" /> Desejo excluir a imagem</label>
                                        </div>
                                    <?php endif; ?>
                                <?php endif; ?>

                                <input placeholder="Foto" name="idimagemfoto" type="file"  />
                            </div>
                        </div>

                        <div class="control-group">
                            <label class="control-label">Nome <span class="required">*</span></label>
                            <div class="controls"><input maxlength="500" size="50" placeholder="Nome" name="nomerazao" <?php
                                if ($this->visualizar) {
                                    echo 'disabled="true"';
                                } else {
                                    echo 'enabled="true"';
                                }
                                ?> value="<?php echo (isset($this->post_var)) ? $this->post_var['nomerazao'] : "" ?>" type="text"  class="span3" /></div>
                        </div>

                        <div class="control-group">
                            <label class="control-label">Nome Social (DECR.55588/10) </label>
                            <div class="controls"><input maxlength="500" size="50"  placeholder="Nome social" name="sobrenomefantasia" <?php
                                if ($this->visualizar) {
                                    echo 'disabled="true"';
                                } else {
                                    echo 'enabled="true"';
                                }
                                ?>  value="<?php echo (isset($this->post_var['sobrenomefantasia'])) ? $this->post_var['sobrenomefantasia'] : '' ?>" type="text"  class="span3" /></div>
                        </div>

                        <div class="control-group">
                            <label class="control-label">Sexo</label>
                            <div class="controls">
                                <select name="sexo" data-placeholder="Sexo" class="select" <?php
                                if ($this->visualizar) {
                                    echo 'disabled="true"';
                                } else {
                                    echo 'enabled="true"';
                                }
                                ?> >
                                    <option value="">Selecione...</option>
                                    <option value="Feminino">Feminino</option>
                                    <option value="Masculino">Masculino</option>
                                </select>
                            </div>
                        </div>

                        <div class="control-group">
                            <label class="control-label">Data de Nascimento  <span class="required">*</span></label>
                            <div class="controls"><input maxlength="500" placeholder="Data de Nascimento" name="nascimento" <?php
                                if ($this->visualizar) {
                                    echo 'disabled="true"';
                                } else {
                                    echo 'enabled="true"';
                                }
                                ?> value="<?php echo (isset($this->post_var['nascimento'])) ? Mn_Util::formPostVarData($this->post_var['nascimento']) : "" ?>" type="text"  class="span3" /></div>
                        </div>

                        <div class="control-group">
                            <label class="control-label">E-mail</label>
                            <div class="controls"><input maxlength="500" placeholder="E-mail" name="email" size="50" <?php
                                if ($this->visualizar) {
                                    echo 'disabled="true"';
                                } else {
                                    echo 'enabled="true"';
                                }
                                ?> value="<?php echo (isset($this->post_var['email'])) ? Mn_Util::formPostVarData($this->post_var['email']) : "" ?>" type="text"  class="span3" /></div>
                        </div>

                        <div class="control-group">
                            <label class="control-label">Merenda diferenciada</label>
                            <div class="controls">
                                <select name="merendadifenciada" data-placeholder="Merenda diferenciada" class="select" <?php
                                if ($this->visualizar) {
                                    echo 'disabled="true"';
                                } else {
                                    echo 'enabled="true"';
                                }
                                ?>>
                                    <option value="">Selecione...</option>
                                    <option value="Sim">Sim</option>
                                    <option value="Não">Não</option>
                                </select>

                            </div>
                        </div>

                        <div class="control-group">
                            <label class="control-label">Situação da Matrícula <span class="required">*</span></label>
                            <div class="controls">
                                <input type="hidden" name="matricula" value="<?php echo isset($this->post_var['matricula']) ? $this->post_var['matricula'] : '' ?> ">
                                <select name="matricula_disable" data-placeholder="Situação da Matrícula" <?php
                                if ($this->visualizar) {
                                    echo 'disabled="true"';
                                } else {
                                    echo 'enabled="true"';
                                }
                                ?> class="select" disabled="true">

                                    <option value="">Selecione...</option>
                                    <?php foreach (Escolasalunos::getMatriculas() as $k => $v): ?>
                                        <option value="<?php echo $k ?>" <?php echo ($k == $this->post_var['matricula']) ? "selected" : "" ?> >
                                            <?php echo $v ?></option>
                                    <?php endforeach; ?>
                                </select>
                                <label class="erros" style="margin-top: 4px;font-size: 11px;color: #b94a48;margin-left: 35px; display: none">
                                    Campo obrigatório
                                </label>
                            </div>


                        </div>

                        <div class="control-group">
                            <label class="control-label">Status <span class="required">*</span></label>
                            <div class="controls">
                                <select name="status1" data-placeholder="Status" <?php
                                if ($this->visualizar) {
                                    echo 'disabled="true"';
                                } else {
                                    echo 'enabled="true"';
                                }
                                ?> class="select">
                                    <option value="">Selecione...</option>
                                    <option value="Ativo">Ativo</option><option value="Bloqueado">Bloqueado</option>
                                </select>
                                <label class="erros" style="margin-top: 4px;font-size: 11px;color: #b94a48;margin-left: 35px; display: none">
                                    Campo obrigatório
                                </label>
                            </div>
                        </div>

                        <div class="box-colecoes col-sm-12 panel-group-dark" id="accordion" >
                            <?php 
                            if($this->visualizar || $this->editar):
                                echo $this->render('/escolasalunos/helpers/form_dados_associarirmao.phtml');
                            endif;
                            ?>
                            <?php echo $this->render('/escolasalunos/helpers/form_dados_necessidadesespeciais.phtml') ?>
                            <?php echo $this->render('/escolasalunos/helpers/form_dados_documentos.phtml') ?>
                            <?php echo $this->render('/escolasalunos/helpers/form_informacoes.phtml') ?>
                            <?php echo $this->render('/escolasalunos/helpers/form_dados_mae.phtml') ?>
                            <?php echo $this->render('/escolasalunos/helpers/form_dados_pai.phtml') ?>
                            <?php echo $this->render('/escolasalunos/helpers/form_dados_responsavel.phtml') ?>
                            <?php echo $this->render('/escolasalunos/helpers/form_dados_enderecos.phtml') ?>
                            <?php echo $this->render('/escolasalunos/helpers/form_dados_mapas.phtml') ?>
                            <?php echo $this->render('/escolasalunos/helpers/form_dados_academicos.phtml') ?>
                        </div>
                    </div>

                    <div class="panel-footer">
                        <div class="row">
                            <div class="col-sm-6 col-sm-offset-3">
                                <?php if ((isset($this->visualizar)) && ($this->visualizar)) : ?>
                                    <button type="button" onclick="window.history.back()" class="btn btn-default">Voltar</button>
                                <?php else : ?>
                                    <button class="btn btn-primary">Salvar</button>&nbsp;
                                    <button onclick="window.history.back()" class="btn btn-danger cancelar" type="button">Cancelar</button>
                                <?php endif; ?>
                            </div>
                        </div>
                    </div><!-- panel-footer -->

            </fieldset>
            <?php
            $usuario = Usuarios::getUsuarioByIdHelper($this->post_var['logusuario']);

            ///* Apenas o administrador visualiza os dados de consulta.
            if (((isset($this->visualizar)) && ($this->visualizar)) && (($usuario['perfil'] === 'Master') && ($usuario['master'] === 'sim'))) :
                echo '<pre>';
                print_r($this->soap);
            endif;
            ?>

        </form>

    </div>
    <!-- /content wrapper -->

</div>
<!-- content -->
<script type="text/javascript" src="<?php echo $this->baseUrl('/public/scripts/jquery-webcam/capture.js') ?>"></script>

<script type="text/javascript" src="<?php echo $this->baseUrl('/public/scripts/admin/escolasalunos_form.js') ?>"></script>


<script type="text/javascript">
                                        var form_values = {};
<?php if (isset($this->post_var['status'])) : ?>
                                            form_values.status1 = '<?php echo (isset($this->post_var['status'])) ? $this->post_var['status'] : $this->post_var['status1'] ?>';
<?php endif; ?>

<?php if (isset($this->post_var['idescola'])) : ?>
                                            form_values.idescola = '<?php echo $this->post_var['idescola'] ?>';
<?php endif; ?>

<?php if (isset($this->post_var['matricula'])) : ?>
                                            form_values.matricula = '<?php echo $this->post_var['matricula'] ?>';
<?php endif; ?>

<?php if (isset($this->post_var['idserie'])) : ?>
                                            form_values.idserie = '<?php echo $this->post_var['idserie'] ?>';
<?php endif; ?>

<?php if (isset($this->post_var['idperiodo'])) : ?>
                                            form_values.idperiodo = '<?php echo $this->post_var['idperiodo'] ?>';
<?php endif; ?>

<?php if (isset($this->post_var['idclassificacao'])) : ?>
                                            form_values.idclassificacao = '<?php echo $this->post_var['idclassificacao'] ?>';
<?php endif; ?>

<?php if (isset($this->post_var['sexo'])) : ?>
                                            form_values.sexo = '<?php echo $this->post_var['sexo'] ?>';
<?php endif; ?>

<?php if (isset($this->post_var['tipodeficiencia'])) : ?>
                                            form_values.tipodeficiencia = '<?php echo $this->post_var['tipodeficiencia'] ?>';
<?php endif; ?>

<?php if (isset($this->post_var['passeescolar'])) : ?>
                                            form_values.passeescolar = '<?php echo $this->post_var['passeescolar'] ?>';
<?php endif; ?>

<?php if (isset($this->post_var['etnia'])) : ?>
                                            form_values.etnia = '<?php echo $this->post_var['etnia'] ?>';
<?php endif; ?>

<?php if (isset($this->post_var['quilombola'])) : ?>
                                            form_values.quilombola = '<?php echo $this->post_var['quilombola'] ?>';
<?php endif; ?>

<?php if (isset($this->post_var['nova_cert_tipo_livro_reg'])) : ?>
                                            form_values.nova_cert_tipo_livro_reg = '<?php echo $this->post_var['nova_cert_tipo_livro_reg'] ?>';
<?php endif; ?>

<?php if (isset($this->post_var['merendadiferenciada'])) : ?>
                                            form_values.merendadiferenciada = '<?php echo $this->post_var['merendadiferenciada'] ?>';
<?php endif; ?>

<?php if (isset($this->post_var['transporteescolar'])) : ?>
                                            form_values.transporteescolar = '<?php echo $this->post_var['transporteescolar'] ?>';
<?php endif; ?>

<?php if (isset($this->post_var['necessidadesespeciais'])) : ?>
                                            form_values.necessidadesespeciais = '<?php echo $this->post_var['necessidadesespeciais'] ?>';
<?php endif; ?>

<?php if (isset($this->post_var['idinstituicaoapoio'])) : ?>
                                            form_values.idinstituicaoapoio = '<?php echo $this->post_var['idinstituicaoapoio'] ?>';
<?php endif; ?>

<?php if (isset($this->post_var['estadocivilmae'])) : ?>
                                            form_values.estadocivilmae = '<?php echo $this->post_var['estadocivilmae'] ?>';
<?php endif; ?>

<?php if (isset($this->post_var['estadocivilpai'])) : ?>
                                            form_values.estadocivilpai = '<?php echo $this->post_var['estadocivilpai'] ?>';
<?php endif; ?>

<?php if (isset($this->post_var['estadocivilresponsavel'])) : ?>
                                            form_values.estadocivilresponsavel = '<?php echo $this->post_var['estadocivilresponsavel'] ?>';
<?php endif; ?>

<?php if (isset($this->post_var['formaingresso'])) : ?>
                                            form_values.formaingresso = '<?php echo $this->post_var['formaingresso'] ?>';
<?php endif; ?>

<?php if (isset($this->post_var['merendadifenciada'])) : ?>
                                            form_values.merendadifenciada = '<?php echo $this->post_var['merendadifenciada'] ?>';
<?php endif; ?>

<?php if (isset($this->post_var['merendadifenciadaaprovacao'])) : ?>
                                            form_values.merendadifenciadaaprovacao = '<?php echo $this->post_var['merendadifenciadaaprovacao'] ?>';
<?php endif; ?>

                                        var programas = new Array();
<?php foreach ($this->programassociais as $p => $programa): ?>
                                            var programa = {};
                                            programa.k = '<?php echo $programa['id'] ?>';
                                            programa.v = '<?php echo $programa['programa']; ?>';
                                            programas.push(programa);
    <?php
endforeach;
?>

                                        visualizar = '<?php echo (isset($this->visualizar)) ? $this->visualizar : '' ?>';

</script>


