<style type="text/css">
    .filter-box{ width: 100%; display:block; padding:1%; }
    .filter-box .field-search{ width: 28%; display: inline-block; }
    .filter-box .field-search label{ margin-top: 10px; }
    .filter-box .field-search #field-docs{ width: 95px; }
    .field-select{ display: block; }
    .boardline{ margin: 5px 0px; display: block; border-bottom: 1px solid #ccc; }
    @media only screen and (max-width:992px){
        .filter-box .field-search{
            width: 46%;
        }
    }
    @media only screen and (max-width:600px){
        .filter-box .field-search{
            width: 93%;
        }
        .statuscontent, .statustitle{ display: none;}
    }

.ui-draggable .ui-dialog-titlebar{ background: #3e95ce; text-align: center;}
.ui-dialog .ui-dialog-titlebar-close{padding:0px !important; background:none !important; border: 1px solid #9cceef;}
.ui-state-hover{ background:#09f; }

.ui-dialog::-webkit-scrollbar {
  width: 7px;
  height: 10px;
  -webkit-border-radius: 16px;
}

.ui-dialog::-webkit-scrollbar-track-piece {
  background-color: #cacaca;
  -webkit-border-radius: 3px;
}

.ui-dialog::-webkit-scrollbar-thumb:vertical {
  height: 5px;
  background-color: #666;
  -webkit-border-radius: 3px;
}

.ui-dialog::-webkit-scrollbar-thumb:horizontal {
  width: 5px;
  background-color: #666;
  -webkit-border-radius: 3px;
}
</style>
<!-- Content -->
<div id="content">
    <!-- Content wrapper -->
    <div class="wrapper">
        <!-- Breadcrumbs line -->
        <div class="crumbs">
            <?php echo $this->render('/helpers/breadcrumb.phtml') ?>
        </div>
        <!-- /breadcrumbs line -->

        <!-- Page header -->
        <div class="page-header">
            <div class="page-title">
                <h5>Alunos cadastrados no sistema</h5>
                <span>Visualize os alunos cadastrados no sistema</span>
            </div>
        </div>
        <!-- /page header -->

        <?php if (isset($this->crudMessage)) : ?>
            <div class="alert alert-success">
                <button data-dismiss="alert" class="close" type="button">×</button>
                <strong>Operação realizada com sucesso!</strong>
                <span><br /><?php echo $this->crudMessage ?></span>
            </div>
        <?php endif; ?>
        <!-- Table with footer -->
        <div class="widget">
            <form action="#" class="form-horizontal" method="post">
                <input type="hidden" value="<?php echo (isset($this->post_var['sorting'])) ? $this->post_var['sorting'] : '' ?>" name="sorting" />
                <div class="navbar">
                    <div class="navbar-inner">
                        <h6>Visualizando registros</h6>
                        <?php if (Mn_Util::isAccess($this->getController(), 'adicionar')) : ?>
                            <a style="float:right;" href="<?php echo $this->baseUrl() ?>/admin/<?php echo $this->getController() ?>/adicionar" class="btn btn-primary"><span class="icon-plus"></span>&nbsp;Adicionar Aluno</a>
                        <?php endif; ?>
                    </div>
                </div>
                <div class="navbar-inner">
                    <div class="filter-box">

                        <div class="field-search">
                            <label>Nome</label>
                            <input name="nome" value="<?php echo (isset($this->post_var['nome'])) ? $this->post_var['nome'] : '' ?>" type="text" placeholder="Nome completo" class="span4">
                        </div>
                        <div class="field-search">
                            <label>RA do aluno</label>
                            <input name="ra" value="<?php echo (isset($this->post_var['ra'])) ? $this->post_var['ra'] : '' ?>" type="text" placeholder="RA do aluno" class="span3">
                        </div>
                        <div class="field-search field-select">
                            <label>Escola</label>
                            <select name="idescola" placeholder="Todos" class="select" onchange="(setSeries(this, 0));">
                                <?php
                                $_data = Usuarios::getEscolaAtiva(Usuarios::getUsuario('id'));

                                if ($_data):
                                    ?>
                                    <option value="<?php echo $_data['id'] ?>"><?php echo $_data['escola'] ?></option>

                                <?php else: ?>
                                    <option value="">Todos</option>
                                    <?php foreach (Escolas::getEscolasHelper(array('status' => 'Ativo', 'idsecretaria' => Usuarios::getSecretariaAtiva(Usuarios::getUsuario('id'), 'id'))) as $k => $v) : ?>
                                        <option value="<?php echo $v['id'] ?>"><?php echo $v['escola'] ?></option>
                                    <?php endforeach; ?>
                                <?php endif; ?>
                            </select>
                        </div><br/>
                        <div class="field-search">
                            <label>Nome da mãe</label>
                            <input name="nome_mae" value="<?php echo (isset($this->post_var['nome_mae'])) ? $this->post_var['nome_mae'] : '' ?>" type="text" placeholder="Nome da mãe" class="span3">
                        </div>
                        <div class="field-search">
                            <label>Nome da pai</label>
                            <input name="nome_pai" value="<?php echo (isset($this->post_var['nome_pai'])) ? $this->post_var['nome_pai'] : '' ?>" type="text" placeholder="Nome do pai" class="span3">
                        </div>
                        <div class="field-search">
                            <label>Tipo de ensino</label>
                            <div id="selectPart" style="display: none;">
                                <select class="select" id="partseries" name="idserie">
                                </select>
                            </div>
                            <div id="selectAll">
                                <select class="select" name="allseries" id="allseries" value="<?php echo (isset($this->post_var['allseries'])) ? $this->post_var['allseries'] : '' ?>">
                                    <option value="">Selecione...</option>
                                </select>
                            </div>
                        </div><br/>
                        <div class="field-search">
                            <label>Documento</label>

                            <select name="documento" placeholder="Todos" class="select" value="<?php echo (isset($this->post_var['documento'])) ? $this->post_var['documento'] : '' ?>">
                                <option value="">Selecione o documento...</option>
                                <option value="rg">RG</option>
                                <option value="cpf">CPF</option>
                            </select>
                            <input type="text" style="display: none; position: absolute;" id="field-docs" placeholder="Somente números">
                        </div>
                        <div class="field-search">
                            <label>Status</label>
                            <select name="status" placeholder="Todos" class="select">
                                <option value="">Todos</option>
                                <option value="Ativo">Ativo</option>
                                <option value="Bloqueado">Bloqueado</option>
                                <option value="Abandono">Abandono</option>
                                <option value="Falecido">Falecido</option>                                
                                <option value="Não Compareceu">Não Compareceu</option>                                
                            </select>
                        </div>
                        <div class="field-search">
                            <label>Transmissão SED</label>
                            <select name="soapretorno" placeholder="Todos" class="select">
                                <option value="">Todos</option>
                                <option value="INFO">Informação</option>
                                <option value="ERROR">Atenção</option>
                                <option value="OK">Sucesso</option>
                            </select>
                        </div>

                        <div class="btn-panel" style="display: inline;"><button class="btn btn-mini btn-primary" type="submit">Pesquisar</button></div>

                    </div>
                </div>
                <div class="table-overflow">
                    <table class="table table-content">
                        <tbody>
                            <tr>                                
                                <th class="s-nome sorting" width="150">Nome</th>
                                <th class="s-idescola sorting" width="200">Escola</th>                                
                                <th width="200">Informações</th>
                                <th width="150">Pais</th>
                                <th class="statustitle">Status</th>
                                <th class="s-soapretorno sorting" width="110">Transmissão SED&nbsp;</th>
                                <th style="width:74px">Ações</th>
                            </tr>
                            <?php if (sizeof($this->rows) == 0) : ?>
                                <tr>
                                    <td colspan="8">Nenhum registro foi encontrado!</td>
                                </tr>
                            <?php else : ?>
                                <?php foreach ($this->rows as $i => $row) :
                                    ?>
                                    <tr>
                                        <!--<td>
                                            <?php //$i + 1 ?>
                                            <input type="hidden" name=id[] value="<?php echo $row['id'] ?>" />
                                        </td>-->
                                        <td style="text-align: center">
                                            <?php echo $row['nomerazao'] ?>
                                            <span class="boardline"></span>
                                            <?php echo '<b>RA: ' .$row['ra'].'</b>'?>
                                        </td>
                                        <td>
                                            <?php
                                            $escola = Escolas::getEscolaByIdHelper($row['idescola']);
                                            echo $this->cortaPalavra(200, $escola['escola'])
                                            ?>
                                        </td>
                                        
                                        <td>
                                            <?php
                                            $serie = "--";
                                            $___rows = Escolasseries::getEscolasseriesHelper(array('id' => $row['idserie']));
                                            $___row = (sizeof($___rows) > 0) ? $___rows[0] : false;

                                            $serie = ($___row) ? $this->formatTextoBranco($___row['serie']) : '--';
                                            ?>

                                            <?php
                                            $periodo = "--";
                                            $___rows = Escolasperiodos::getEscolasperiodosHelper(array('id' => $row['idperiodo']));
                                            $___row = (sizeof($___rows) > 0) ? $___rows[0] : false;

                                            $periodo = ($___row) ? $this->formatTextoBranco($___row['periodo']) : '--';
                                            ?>
                                            <?php
                                            $descs = "--";
                                            $rowTipoEnsino = Escolastiposensinosgdae::getTipoensinoByIdHelper($row['grau'], $queries = array('status' => 'Ativo'));
                                            $descs = $rowTipoEnsino['descricoes'];
                                            ?>
                                            <?php
                                            $desc = "--";
                                            $tipoEnsino = Escolastiposensinosgdae::getTipoensinoBySerieGrau(array('grau' => $row['grau'], 'serie' => $row['serie']));

                                            foreach ($tipoEnsino as $key => $v) {
                                                $ensino = $v['descricao'];
                                            }
                                            ?>
                                            <b>Ensino:</b> <?php echo $descs . ' - ' . $ensino ?><br/>
                                            <b>Período:</b> <?php echo $periodo ?> <br/>
                                        </td>
                                        <td>
                                            <b>Mãe: </b><?php echo (isset($row['nomemae']) && ($row['nomemae'] != 'NULL')) ? $row['nomemae'] : '--'; ?>
                                            <br/><b>Pai: </b><?php echo (isset($row['nomepai']) && ($row['nomepai'] != 'NULL')) ? $row['nomepai'] : '--'; ?>
                                        </td>
                                        <td class="statuscontent">
                                            <?php if (Mn_Util::isAccess($this->getController(), 'editar')) : ?>
                                                <?php echo $row['status'] ?>
                                            <?php else : ?>
                                                <?php echo $row['status'] ?>
                                            <?php endif; ?>
                                        </td>
                                        <td>
                                            <?php if (isset($row['soapstatus']) && $row['soapstatus'] != '') : ?>
                                                <a
                                                <?php
                                                $soapretorno = '';
                                                if (isset($row['soapretorno']) && (($row['soapretorno'] == 'OK') || ($row['soapretorno'] == ''))) {
                                                    echo 'class="btn btn-success"';
                                                    $soapretorno = '&nbsp;Sucesso&nbsp;';
                                                } else if (isset($row['soapretorno']) && ($row['soapretorno'] == 'ERROR')) {
                                                    echo 'class="btn btn-danger"';
                                                    $soapretorno = '&nbsp;Atenção&nbsp;';
                                                } else if (isset($row['soapretorno']) && ($row['soapretorno'] == 'INFO')) {
                                                    echo 'class="btn btn-info"';
                                                    $soapretorno = 'Informação';
                                                } else {
                                                    echo 'class="btn btn-info"';
                                                    $soapretorno = 'Verifique';
                                                }
                                                ?>
                                                    onclick="javascript:statusSED(<?php echo $row["id"]; ?>);">
                                                        <?php echo $soapretorno; ?>
                                                </a>
                                                <textarea style="display:none;" id="soapstatus<?php echo $row["id"]; ?>"> <?php echo $row["soapstatus"]; ?> </textarea>
                                            <?php endif; ?>
                                        </td>
                                        <td>
                                            <ul class="table-controls">
                                                <li><a title="" class="btn tip" href="<?php echo $this->baseUrl() ?>/admin/<?php echo $this->getController() ?>/visualizar/id/<?php echo $row['id'] ?>" data-original-title="Visualizar"><i class="icon-eye-open"></i></a> </li>
                                                <?php if (Mn_Util::isAccess($this->getController(), 'editar')) : ?>
                                                    <li><a title="" class="btn tip" href="<?php echo $this->baseUrl() ?>/admin/<?php echo $this->getController() ?>/editar/id/<?php echo $row['id'] ?>" data-original-title="Editar"><i class="icon-pencil"></i></a> </li>
                                                <?php endif; ?>
                                                <?php if (Mn_Util::isAccess($this->getController(), 'excluir')) : ?>
                                                    <li><a title="" class="btn tip" href="javascript:confirmDelete('<?php echo $row['id']; ?>','registro');" data-original-title="Excluir"><i class="icon-remove"></i></a> </li>
                                                        <?php endif; ?>
                                            </ul>
                                        </td>
                                    </tr>
                                <?php endforeach; ?>
                            <?php endif; ?>
                        </tbody>
                    </table>
                </div>
                <?php echo $this->render('/helpers/paginator.phtml') ?>

            </form>
        </div>
        <!-- /table with footer -->
    </div>
    <!-- /content wrapper -->

</div>
<!-- content -->


<?php /* ?>

  <div class="contentpanel">

  <div class="row">

  <div class="panel-body">


  <div class="panel panel-default">
  <div class="panel-heading">
  <div class="panel-btns">
  <?php if ($this->isMinimize()) : ?>
  <a  href="javascript:;" class="minimize" onclick="setMinimize('sim')">−</a>
  <?php else : ?>
  <a href="javascript:;" class="minimize maximize" onclick="javascript:$('select').closest('div').find('.chosen-container').css('width', '100%');setMinimize('nao')">+</a>
  <?php endif; ?>
  </div>
  <h4 class="panel-title">Filtro</h4>
  <p>Use o formulário para filtrar de acordo com os critérios disponíveis</p>
  </div>
  <div class="panel-body" style="display: <?php echo ($this->isMinimize()) ? 'block' : 'none' ?>;">
  <form id="form" name="form" method="post" class="form-horizontal form-bordered">

  <div class="form-group">
  <label class="col-sm-3 control-label">Palavra Chave</label>
  <div class="col-sm-6">
  <input name="chave" value="<?php echo (isset($this->post_var['chave'])) ? $this->post_var['chave'] : '' ?>" type="text" class="form-control" placeholder="">
  </div>
  </div>

  <div class="form-group">
  <label class="col-sm-3 control-label">Escola *</label>
  <div class="col-sm-6">
  <select id="idescola" name="idescola" class="form-control" onchange="setDados(this, 0)">
  <option value="">Todos</option>
  <?php foreach ($this->escolas as $e=>$row): ?>
  <option value="<?php echo $row['id'] ?>"><?php echo $row['escola'] ?></option>
  <?php endforeach;?>
  </select>
  </div>
  </div>

  <div class="form-group">
  <label class="col-sm-3 control-label">Classificação *</label>
  <div class="col-sm-6">
  <select id="idclassificacao" name="idclassificacao" class="form-control">
  <option value="">Todos</option>
  </select>
  </div>
  </div>

  <div class="form-group">
  <label class="col-sm-3 control-label">Série *</label>
  <div class="col-sm-6">
  <select id="idserie" name="idserie" class="form-control">
  <option value="">Todos</option>
  </select>
  </div>
  </div>

  <div class="form-group">
  <label class="col-sm-3 control-label">Período *</label>
  <div class="col-sm-6">
  <select id="idperiodo" name="idperiodo" class="form-control">
  <option value="">Todos</option>
  </select>
  </div>
  </div>

  <div class="form-group">
  <label class="col-sm-3 control-label">Status</label>
  <div class="col-sm-6">
  <select id="status1" name="status" class="form-control">
  <option value="">Todos</option>
  <option value="Ativo">Ativo</option>
  <option value="Bloqueado">Bloqueado</option>
  </select>
  </div>
  </div>


  <div class="panel-footer">
  <div class="row">
  <div class="col-sm-6 col-sm-offset-3">
  <button class="btn btn-warning">Pesquisar</button>&nbsp;
  </div>
  </div>
  </div><!-- panel-footer -->

  </form>


  </div>
  </div>


  <div class="panel-heading" style="position:relative;">

  <?php if (isset($this->crudMessage)) : ?>
  <div class="alert alert-success">
  <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
  <strong>Sucesso!</strong> <?php echo $this->crudMessage ?>.
  </div>
  <?php endif; ?>

  <table width="100%">
  <tr>
  <td width="50%"><h4 class="panel-title">Alunos cadastrados no sistema</h4></td>
  <?php if (Mn_Util::isAccess($this->getController(), 'adicionar')) : ?>
  <td width="50%" align="right"><a href="<?php echo $this->baseUrl() ?>/<?php echo $this->getController() ?>/adicionar" class="btn btn-primary">Adicionar novo Aluno</a></td>
  <?php endif; ?>
  </tr>
  </table>

  <br />

  <div class="table-responsive">

  <table class="table table-primary mb30">
  <thead>
  <tr>
  <th width="20">&nbsp;</th>
  <th width="200">Nome</th>
  <th width="200">Informações</th>
  <th>Escola</th>
  <th width="120">Status</th>
  <th style="width:74px">Ações</th>
  </tr>
  </thead>
  <tbody>
  <?php if (sizeof($this->rows)==0) : ?>
  <tr>
  <td colspan="6">Nenhum registro foi encontrado</td>
  </tr>
  <?php endif;?>
  <?php foreach ($this->rows as $i=>$row) : ?>
  <?php if (Mn_Util::isAccess($this->getController(), 'editar')) : ?>
  <tr class="line">
  <?php else : ?>
  <tr>
  <?php endif; ?>
  <td>
  <?php $i+1 ?>
  <input type="hidden" name=id[] value="<?php echo $row['id'] ?>" />
  </td>
  <td><?php echo $row['nomerazao'] . ' ' . $row['sobrenomefantasia'] ?></td>
  <td>
  <?php $serie = Escolasseries::getSerieByIdHelper($row['idserie']) ?>
  <?php $periodo = Escolasperiodos::getPeriodoByIdHelper($row['idperiodo']) ?>
  <b>Série:</b> <?php echo (isset($serie['serie'])) ? $serie['serie'] : '--'; ?> <br/>
  <b>Período:</b> <?php echo (isset($periodo['periodo'])) ? $periodo['periodo'] : '--'; ?> <br/>
  <b>Classificação:</b> <?php echo ((int)$row['idclassificacao'] > 0) ? Escolasalunosclassificacoes::getClassificacaoNomeByIdHelper($row['idclassificacao']) : '--'; ?> <br/>
  </td>
  <td>
  <?php
  $escola = Escolas::getEscolaByIdHelper($row['idescola']);
  echo $this->cortaPalavra(200, $escola['escola'])
  ?>
  </td>
  <td>
  <?php if (Mn_Util::isAccess($this->getController(), 'editar')) : ?>
  <a onclick="javascript:statusChange(<?php echo $row["id"]?>, this);" href="javascript:;"><?php echo $row['status'] ?></a>
  <?php else : ?>
  <?php echo $row['status'] ?>
  <?php endif; ?>
  </td>

  <td class="table-action">
  <?php if (Mn_Util::isAccess($this->getController(), 'editar')) : ?>
  <a href="<?php echo $this->baseUrl() ?>/<?php echo $this->getController() ?>/editar/id/<?php echo $row['id'] ?>"><i class="fa fa-pencil"></i></a>
  <?php endif;?>
  <?php if (Mn_Util::isAccess($this->getController(), 'excluir')) : ?>
  <a class="delete-row" href="javascript:confirmDelete('<?php echo $row['id']; ?>','registro');"><i class="fa fa-trash-o"></i></a>
  <?php endif; ?>
  </td>
  </tr>
  <?php endforeach;?>
  </tbody>
  </table>
  <?php echo $this->render('/helpers/paginator.phtml') ?>
  </div><!-- table-responsive -->

  </div>
  </div>
  </div>

  </div>
  <?php */ ?>
<script type="text/javascript" src="<?php echo $this->baseUrl('/public/scripts/admin/escolasalunos_index.js') ?>"></script>
<script type="text/javascript">

                                                        var form_values = {};
<?php if (isset($this->post_var['status'])) : ?>
                                                            form_values.status = '<?php echo (isset($this->post_var['status'])) ? $this->post_var['status'] : $this->post_var['status'] ?>';
<?php endif; ?>

<?php if (isset($this->post_var['idescola'])) : ?>
                                                            form_values.idescola = '<?php echo $this->post_var['idescola'] ?>';
<?php endif; ?>

<?php if (isset($this->post_var['matricula'])) : ?>
                                                            form_values.matricula = '<?php echo $this->post_var['matricula'] ?>';
<?php endif; ?>

<?php if (isset($this->post_var['idserie'])) : ?>
                                                            form_values.idserie = '<?php echo $this->post_var['idserie'] ?>';
<?php endif; ?>

<?php if (isset($this->post_var['idperiodo'])) : ?>
                                                            form_values.idperiodo = '<?php echo $this->post_var['idperiodo'] ?>';
<?php endif; ?>

<?php if (isset($this->post_var['idclassificacao'])) : ?>
                                                            form_values.idclassificacao = '<?php echo $this->post_var['idclassificacao'] ?>';
<?php endif; ?>

<?php if (isset($this->post_var['nutricao'])) : ?>
                                                            form_values.nutricao = '<?php echo $this->post_var['nutricao'] ?>';
<?php endif; ?>

<?php if (isset($this->post_var['nomerazao'])) : ?>
                                                            form_values.nomerazao = '<?php echo $this->post_var['nomerazao'] ?>';
<?php endif; ?>

<?php if (isset($this->post_var['ra'])) : ?>
                                                            form_values.ra = '<?php echo $this->post_var['ra'] ?>';
<?php endif; ?>

<?php if (isset($this->post_var['documento'])) : ?>
                                                            form_values.documento = '<?php echo $this->post_var['documento'] ?>';
<?php endif; ?>

<?php if (isset($this->post_var['tiposerie'])) : ?>
                                                            form_values.tiposerie = '<?php echo $this->post_var['tiposerie'] ?>';
<?php endif; ?>
<?php if (isset($this->post_var['allseries'])) : ?>
                                                            form_values.allseries = '<?php echo $this->post_var['allseries'] ?>';
<?php endif; ?>
<?php if (isset($this->post_var['soapretorno'])) : ?>
                                                            form_values.soapretorno = '<?php echo $this->post_var['soapretorno'] ?>';
<?php endif; ?>
                                                        var sorting = ['nome', 'idescola', 'status', 'ra', 'soapretorno'];

</script>
