		<!-- Content -->
		<div id="content">

		    <!-- Content wrapper -->
		    <div class="wrapper">

			    <!-- Breadcrumbs line -->
			    <div class="crumbs">
			    	<?php echo $this->render('/helpers/breadcrumb.phtml') ?>
			    </div>
			    <!-- /breadcrumbs line -->

			    <!-- Page header -->
			    <div class="page-header">
			    	<div class="page-title">
				    	<h5>Formulário do Solicitação de Pontuação</h5>
				    	<span>Verifique os campos e preencha com os dados</span>
			    	</div>
			    </div>
			    <!-- /page header -->

			    <?php if (isset($this->crudMessage)) : ?>
					<div class="alert alert-success">
	                	<button data-dismiss="alert" class="close" type="button">×</button>
	                    <strong>Operação realizada com sucesso!</strong>
		    			<span><br /><?php echo $this->crudMessage ?></span>
	                </div>			    
			    <?php endif; ?>

				<form id="form" name="form" action="" method="post" class="form-horizontal" enctype="multipart/form-data"> 
					<input type="hidden" value="<?php echo (isset($this->post_var)) ? $this->post_var["id"] : ''; ?>" name="id" id="id" />
					
					<fieldset>
						<!-- General form elements -->
						<div class="widget row-fluid">
						    <div class="navbar">
						        <div class="navbar-inner">
						            <h6>Digite as informações do formulário</h6>
						        </div>
						    </div>

						    <div class="well">
								<?php if (isset($this->erros)) : ?>
									<div class="alert alert-error margin">
				                        <button data-dismiss="alert" class="close" type="button">×</button>
				                        <strong>Há erros no formulário!</strong>
					    				<?php foreach ($this->erros as $k=>$v) : ?>
					    					<span><br />- <?php echo $v ?></span>
					    				<?php endforeach;?>			                        
				                    </div>
			                    <?php endif; ?>						    
						    

                <?php $idlocal = Usuarios::getUsuario('idlocal'); ?>
                <?php $idescola = Usuarios::getUsuario('idescola'); ?>
				<?php $idfuncionario = Usuarios::getUsuario('idfuncionario'); ?>
				<?php if(($idescola>0) || ($idlocal>0)): ?>		    
				<div class="control-group">
					<div class="controls1 visualizar">
						<table class="table table-content" width="100%">
							<tbody>
								<tr>
									<input type="hidden" name="idprofessor" value="<?php echo Usuarios::getUsuario('idfuncionario') ?>" />
									<input maxlength="500" placeholder="Nome do Usuário" name="idusuario" value="<?php echo Usuarios::getUsuario('id') ?>" type="hidden"  class="span3" />
									<input  placeholder="Data de lançamento" name="datalancamento" value="<?php echo (isset($this->post_var['datalancamento'])) ? Mn_Util::formPostVarData($this->post_var['datalancamento']) : date('d/m/Y') ?>" type="hidden"  class="span3" />
									<input maxlength="500" placeholder="Nome do Usuário" name="idlocal" value="<?php echo Usuarios::getUsuario('idlocal') ?>" type="hidden"  class="span3" />
									<input maxlength="500" placeholder="Nome do Usuário" name="idescola" value="<?php echo Usuarios::getUsuario('idescola') ?>" type="hidden"  class="span3" />

									<td width="33%">Nome do Usuário: <?php echo Usuarios::getUsuario('nomerazao') . " - " . Usuarios::getUsuario('rgf') ?></td>
									<td width="34%">Data da Abertura: <?php echo date('d/m/Y') ?></td>
									<td width="33%">Escola: <?php 
											$local = Escolas::getEscolaByIdHelper(Usuarios::getUsuario('idescola')); 
											echo ((isset($local['escola'])) && ($local['escola']) && ($local['escola']!="") ) ? $local['escola'] : '';
										?>
											
									</td>
								</tr>
							</tbody>
						</table>
						
					</div>
				</div>
				<?php else: ?>
				<div class="control-group">
					<div class="controls1 visualizar">
						<table class="table table-content" width="100%">
							<tbody>
								<tr>
									<input type="hidden" name="idprofessor" value="<?php echo Usuarios::getUsuario('idfuncionario') ?>" />
									<input maxlength="500" placeholder="Nome do Usuário" name="idusuario" value="<?php echo Usuarios::getUsuario('id') ?>" type="hidden"  class="span3" />
									<input  placeholder="Data de lançamento" name="datalancamento" value="<?php echo (isset($this->post_var['datalancamento'])) ? Mn_Util::formPostVarData($this->post_var['datalancamento']) : date('d/m/Y') ?>" type="hidden"  class="span3" />
									
									<td width="50%">Nome do Usuário: <?php echo Usuarios::getUsuario('nomerazao') . " - " . Usuarios::getUsuario('rgf') ?></td>
									<td width="50%">Data da Abertura: <?php echo date('d/m/Y') ?></td>
									
								</tr>
							</tbody>
						</table>
						
					</div>
				</div>
				<?php endif; ?>

				<?php if(Usuarios::getUsuario('professor') != 'Sim' || ((int)$idfuncionario <= 0)): ?>
				<div class="control-group">
					<label class="control-label">Professor <span class="required">*</span></label>
					<div class="controls">
						<?php $professor = Funcionariosgeraisescolas::getFuncionariogeralescolaByIdHelper($this->post_var['idprofessor']); ?>
						<?php echo ($professor) ? isset($professor['nomerazao']) ? $professor['nomerazao'].' '.$professor['sobrenomefantasia'] : $professor['nome'] : '--' ?>	
						<input type="hidden" name="idprofessor" value="<?php echo $professor['id'] ?>" />
					</div>
				</div>
				<?php endif; ?>



				<?php if(((int)$idfuncionario <= 0) || Usuarios::getUsuario('professor') != 'Sim'): ?>
				<div class="control-group">
					<label class="control-label">Curso <span class="required">*</span></label>
					<div class="controls">		
						<input type="hidden" name="idcurso" value="<?php echo $this->post_var['idcurso'] ?>" />		
						<?php $curso = Documentacaocursospontuacao::getDocumentacaocursopontuacaoByIdHelper($this->post_var['idcurso']); ?>
						<?php echo $curso ? $curso['curso'] : '--' ?>
					</div>
				</div>
				<?php else: ?>
				<div class="control-group">
					<label class="control-label">Curso <span class="required">*</span></label>
					<div class="controls">
		                <select name="idcurso" data-placeholder="Curso" onchange="getDados(this)" class="select">
							<option value="">Selecione...</option>
							<?php foreach (Documentacaocursospontuacao::getDocumentacaocursospontuacaoHelper(array('status'=>'Ativo')) as $k=>$v) : ?>
							<option value="<?php echo $v['id'] ?>"><?php echo $v['curso'] ?></option>
							<?php endforeach;?>
						</select>
						
					</div>
				</div>
				<?php endif; ?>

				<div class="box-dados" style="display: none;">
					<div class="control-group">
						<label class="control-label">Pontuação </label>
						<div class="controls"><input placeholder="Curso" id="pontuacao_curso" value="<?php echo (isset($this->post_var['pontuacao'])) ? $this->post_var['pontuacao'] : '' ?>" readonly disabled="" type="text"  class="span3" />
						<input placeholder="Pontuação" name="pontuacao" value="<?php echo (isset($this->post_var['pontuacao'])) ? $this->post_var['pontuacao'] : '' ?>" type="hidden"  class="span3" />
						</div>
					</div>
				</div>

				<?php /* ?>
				<div class="control-group">
					<label class="control-label">Anexo </label>
					<div class="controls">
						<?php if ((isset($this->post_var['idarquivo'])) && ((int)$this->post_var['idarquivo']>0)) : ?>
							<?php echo $this->getArquivo($this->post_var['idarquivo']) ?>
						
							<?php if (!$this->visualizar) : ?>
								<div class="checkbox block">
									<label><input type="checkbox" name="excluir_idarquivo" value="excluir" /> Desejo excluir o arquivo</label>
								</div>
							<?php endif; ?>
						<?php endif; ?>
						
						<input placeholder="Anexo" name="idarquivo" type="file"  />
					</div>
				</div>	
				<?php */ ?>


				<div class="control-group">
					<label class="control-label">Anexo </label>
					<div class="controls">
                		<?php echo $this->render('documentacaosolicitacoespontos/helpers/multiplosarquivos.phtml') ?>
					</div>
				</div>	


			<?php if(Usuarios::getUsuario('professor') != 'Sim'): ?>
				<div class="control-group">
					<label class="control-label">Posição </label>
					<div class="controls">
						<select name="posicao" data-placeholder="Posição" class="select">
							<option value="">Selecione...</option>
							<option value="Aguardando">Aguardando</option>
							<option value="Reprovado">Reprovado</option>
							<option value="Aprovado">Aprovado</option>
						</select>
						
					</div>
				</div>

			<?php endif; ?>


						    
						    
						    </div>
						    
			                <div class="form-actions align-right">
			                	<?php if ((isset($this->visualizar)) && ($this->visualizar)) : ?>
			                		<button onclick="window.history.back()" class="btn btn-danger cancelar" type="button">Voltar</button>
			                	<?php else : ?>
				                	<button class="btn btn-primary enviar" type="submit">Salvar</button>
				                	<button onclick="window.history.back()" class="btn btn-danger cancelar" type="button">Cancelar</button>
			                	<?php endif; ?>
			                </div>
						</div>
						<!-- /general form elements -->

					</fieldset> 

				</form>
				<!-- /basic inputs -->

		    </div>
		    <!-- /content wrapper -->

		</div>
		<!-- content -->
				
<script type="text/javascript" src="<?php echo $this->baseUrl('/public/scripts/admin/documentacaosolicitacoespontos_form.js') ?>"></script>
<script type="text/javascript">
	var form_values = {};
	
	<?php if (isset($this->post_var)) :  ?>
		form_values.idprofessor = '<?php echo (isset($this->post_var['idprofessor'])) ? $this->post_var['idprofessor'] : '' ?>';
		form_values.idcurso = '<?php echo (isset($this->post_var['idcurso'])) ? $this->post_var['idcurso'] : '' ?>';
		form_values.idescola = '<?php echo (isset($this->post_var['idescola'])) ? $this->post_var['idescola'] : '' ?>';
		form_values.posicao = '<?php echo (isset($this->post_var['posicao'])) ? $this->post_var['posicao'] : '' ?>';

		form_values.status1 = '<?php echo (isset($this->post_var['status1'])) ? $this->post_var['status1'] : $this->post_var['status'] ?>';


	<?php endif; ?>

	visualizar = <?php echo  ((isset($this->visualizar)) && ($this->visualizar))  ? 'true' : 'false' ?>;
</script>
