/* ========================================================
*
* Pannonia - responsive admin template
*
* ========================================================
*
* File: plugins.css;
* Description: Contains styles for plugins, if you don't use any of plugins, you can remove its styling
* Version: 1.0
*
* ======================================================== */



/* # Uniform plugin (form elements styling)
================================================== */


/*===== Common =====*/

.selector, .checker, .button, .choice, .uploader { display: -moz-inline-box; display: inline-block; *display: inline; zoom: 1; vertical-align: middle; }
.selector select:focus, .choice input:focus, .checker input:focus, .uploader input:focus { outline: 0; }
.selector, .choice, .checker, .uploader, .selector *, .choice *, .checker *, .uploader * { margin: 0; padding: 0; }



/*===== Select =====*/

.selector { display: -moz-inline-box; display: inline-block; zoom: 1; margin: 0; padding: 0 0 0 8px; cursor: pointer; width: auto; max-width: 280px; position: relative; min-width: 150px;border: 1px solid #d5d5d5; line-height: 28px; height: 28px; 

  background: #f5f5f5; 
  background: -moz-linear-gradient(top, #ffffff 0%, #f5f5f5 100%); 
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#f5f5f5)); 
  background: -webkit-linear-gradient(top, #ffffff 0%,#f5f5f5 100%); 
  background: -o-linear-gradient(top, #ffffff 0%,#f5f5f5 100%); 
  background: -ms-linear-gradient(top, #ffffff 0%,#f5f5f5 100%); 
  background: linear-gradient(top, #ffffff 0%,#f5f5f5 100%); 
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f5f5f5', GradientType=0);

  box-sizing: content-box; 
  -webkit-box-sizing: content-box; 
  -moz-box-sizing: content-box; 
  -ms-box-sizing: content-box; 

  box-shadow: 0 1px 0 #fff inset, 0 1px 0px #eeeeee; 
  -webkit-box-shadow: 0 1px 0 #fff inset, 0 1px 0px #eeeeee; 
  -moz-box-shadow: 0 1px 0 #fff inset, 0 1px 0px #eeeeee; 
}

.selector.fixedWidth { width: 190px; }
.selector span { color: #777; text-shadow: 0 1px 0 #fff; text-overflow: ellipsis; display: block; overflow: hidden; white-space: nowrap; line-height: 13px; padding: 8px 31px 7px 0px; font-size: 11px; cursor: pointer; display: block;  background: url(../img/elements/forms/select_arrows.png) no-repeat 100% 0;
  
  box-sizing: border-box; 
  -webkit-box-sizing: border-box; 
  -moz-box-sizing: border-box; 
  -ms-box-sizing: border-box; 

}

.selector.fixedWidth span { width: 155px; }
.selector select { opacity: 0; filter: alpha(opacity=0); -moz-opacity: 0; border: none; background: none; position: absolute; height: 30px; top: 0; left: 0px; width: 100%; }
.selector:active, .selector.active { filter: progid:DXImageTransform.Microsoft.gradient(enabled=false); background: #fafafa; }
.selector.focus, .selector.hover, .selector:hover {

  background: #fafafa; 
  background: -moz-linear-gradient(top, #ffffff 0%, #fafafa 100%); 
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#fafafa)); 
  background: -webkit-linear-gradient(top, #ffffff 0%,#fafafa 100%); 
  background: -o-linear-gradient(top, #ffffff 0%,#fafafa 100%); 
  background: -ms-linear-gradient(top, #ffffff 0%,#fafafa 100%); 
  background: linear-gradient(top, #ffffff 0%,#fafafa 100%); 
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);

}
.selector.focus:active, .selector.focus.active, .selector:hover:active, .selector.active:hover { background: #fcfcfc;  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false); }
.selector.disabled, .selector.disabled:active, .selector.disabled.active { background: #eee;  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false); }
.selector.disabled span { color: #bbb; }



/*===== Checkbox =====*/

.checker, .checker span, .checker input { width: 16px; height: 16px; }
.checker { position: relative; margin-right: 6px; margin-top: -3px; }
.checker span { background: url(../img/elements/forms/checkboxes.png); display: -moz-inline-box; display: inline-block; *display: inline; zoom: 1; text-align: center; background-position: 0 0; }
.checker input { opacity: 0; filter: alpha(opacity=0); -moz-opacity: 0; border: none; background: none; display: -moz-inline-box; display: inline-block; *display: inline; zoom: 1;  margin: 0; vertical-align: top;  margin: 0!important; }
.checker:active span, .checker.active span { background-position: 0 -34px; }
.checker.focus span, .checker:hover span { background-position: 0 -17px; box-shadow: 0 0 3px rgba(0,0,0,0.075); -webkit-box-shadow: 0 0 3px rgba(0,0,0,0.075); -moz-box-shadow: 0 0 3px rgba(0,0,0,0.075); }
.checker.focus:active span, .checker:active:hover span, .checker.active:hover span, .checker.focus.active span { background-position: 0 -34px; }
.checker span.checked { background-position: -17px 0; }
.checker:active span.checked, .checker.active span.checked { background-position: -17px -34px; }
.checker.focus span.checked, .checker:hover span.checked { background-position: -17px -17px; }
.checker.focus:active span.checked, .checker:hover:active span.checked, .checker.active:hover span.checked, .checker.active.focus span.checked {   background-position: -17px -34px; }
.checker.disabled span, .checker.disabled:active span, .checker.disabled.active span { opacity: 0.6; filter: alpha(opacity=60); -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)"; background-position: 0 0; }
.checker.disabled span.checked, .checker.disabled:active span.checked, .checker.disabled.active span.checked { opacity: 0.6; filter: alpha(opacity=60); -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)"; background-position: -18px 0; }



/*===== Radio =====*/

.choice, .choice span, .choice input { width: 16px; height: 16px; }
.choice { position: relative; margin-right: 6px; margin-top: -3px; }
.choice span { background: url(../img/elements/forms/radios.png); display: -moz-inline-box; display: inline-block; *display: inline; zoom: 1; text-align: center; background-position: 0 0; }
.choice input { opacity: 0; filter: alpha(opacity=0); -moz-opacity: 0; border: none; background: none; display: -moz-inline-box; display: inline-block; *display: inline; zoom: 1; text-align: center;  margin: 0; vertical-align: top;  }
.choice:active span, .choice.active span { background-position: 0 -34px; }
.choice.focus span, .choice:hover span { background-position: 0 -17px; box-shadow: 0 0 3px rgba(0,0,0,0.075); -webkit-box-shadow: 0 0 3px rgba(0,0,0,0.075); -moz-box-shadow: 0 0 3px rgba(0,0,0,0.075); }
.choice.focus:active span, .choice:active:hover span, .choice.active:hover span, .choice.active.focus span { background-position: 0 -34px; }
.choice span.checked { background-position: -17px 0; }
.choice:active span.checked, .choice.active span.checked { background-position: -17px -34px; }
.choice.focus span.checked, .choice:hover span.checked { background-position: -17px -17px; }
.choice.focus:active span.checked, .choice:hover:active span.checked, .choice.focus.active span.checked, .choice.active:hover span.checked { background-position: -17px -34px; }
.choice.disabled span, .choice.disabled:active span, .choice.disabled.active span { opacity: 0.6; filter: alpha(opacity=60); -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)"; background-position: 0 0; }
.choice.disabled span.checked, .choice.disabled:active span.checked, .choice.disabled.active span.checked { opacity: 0.6; filter: alpha(opacity=60); -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)"; background-position: -18px 0; }



/*===== File uploader =====*/

.uploader { width: 240px; position: relative; overflow: hidden; box-shadow: 0 1px 0 #fff; -webkit-box-shadow: 0 1px 0 #fff; -moz-box-shadow: 0 1px 0 #fff; border: 1px solid #d7d7d7; background: #fdfdfd; padding: 2px 2px 2px 8px; }
.uploader span.action { width: 24px; background: url(../img/elements/forms/add_files.png) no-repeat 0 0; height: 24px; cursor: pointer; float: right; text-indent: -9999px; display: inline; overflow: hidden; }
.uploader:hover span.action { background-position: 0 -24px; }
.uploader:active span.action { background-position: 0 -48px; }
.uploader span.filename { color: #777; cursor: pointer; max-width: 200px; font-size: 11px; line-height: 24px; float: left; display: block; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; cursor: default; }
.uploader input { width: 256px; opacity: 0; filter: alpha(opacity:0); position: absolute; top: 0; right: 0; bottom: 0; float: right; height: 26px; border: none; cursor: pointer; }
.uploader { display: -moz-inline-box; display: inline-block; vertical-align: middle; zoom: 1; *display: inline; }
.uploader.disabled span.action { color: #aaa; }
.uploader.disabled span.filename { border-color: #ddd; color: #aaa; }





/* # Select2 (dropdown with search)
================================================== */

.select2-container { position: relative; display: inline-block; zoom: 1; *display: inline; vertical-align: top; min-width: 160px; }
.select2-container, .select2-drop, .select2-search, .select2-search input{ -webkit-box-sizing: border-box; -moz-box-sizing: border-box; -ms-box-sizing: border-box; box-sizing: border-box;  }
.select2-container .select2-choice { display: block; padding: 8px 0 7px 8px; line-height: 13px; overflow: hidden; position: relative;  border: 1px solid #d5d5d5; white-space: nowrap; color: #777; font-size: 11px; text-decoration: none;

  -webkit-background-clip: padding-box;
     -moz-background-clip: padding;
          background-clip: padding-box;

  background: #f5f5f5; 
  background: -moz-linear-gradient(top, #ffffff 0%, #f5f5f5 100%); 
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#f5f5f5)); 
  background: -webkit-linear-gradient(top, #ffffff 0%,#f5f5f5 100%); 
  background: -o-linear-gradient(top, #ffffff 0%,#f5f5f5 100%); 
  background: -ms-linear-gradient(top, #ffffff 0%,#f5f5f5 100%); 
  background: linear-gradient(top, #ffffff 0%,#f5f5f5 100%); 
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f5f5f5', GradientType=0);

  box-shadow: 0 1px 0 #fff inset, 0 1px 0px #eeeeee;
  -webkit-box-shadow: 0 1px 0 #fff inset, 0 1px 0px #eeeeee; 
  -moz-box-shadow: 0 1px 0 #fff inset, 0 1px 0px #eeeeee; 
}
.select2-container > .select2-choice:hover, .select2-dropdown-open > .select2-choice {
  background: #fafafa; 
  background: -moz-linear-gradient(top, #ffffff 0%, #fafafa 100%); 
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#fafafa)); 
  background: -webkit-linear-gradient(top, #ffffff 0%,#fafafa 100%); 
  background: -o-linear-gradient(top, #ffffff 0%,#fafafa 100%); 
  background: -ms-linear-gradient(top, #ffffff 0%,#fafafa 100%); 
  background: linear-gradient(top, #ffffff 0%,#fafafa 100%); 
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

.select2-container.select2-drop-above .select2-choice { border-bottom-color: #aaa; }
.select2-container .select2-choice span { margin-right: 28px; display: block; overflow: hidden; white-space: nowrap; -ms-text-overflow: ellipsis; -o-text-overflow: ellipsis; text-overflow: ellipsis; }
.select2-container .select2-choice abbr { display: block; width: 10px; height: 10px; position: absolute; right: 28px; top: 9px; background: url(../img/elements/forms/clear_results.png) no-repeat; cursor: pointer; }
.select2-container .select2-choice abbr:hover { cursor: pointer; }
.select2-drop-mask { position: absolute; left: 0; top: 0; z-index: 9998; opacity: 0; filter: alpha(opacity=0); }
.select2-drop { width: 100%; position: absolute; z-index: 9999; top: 100%; font-size: 11px; background: #fff; color: #000; border: 1px solid #d5d5d5; border-top: 0; }
.select2-drop.select2-drop-above { border-top: 1px solid #d5d5d5; border-bottom: 0; }
.select2-container .select2-choice div { display: block; width: 22px; height: 100%; position: absolute; right: 0; top: 0; background: url(../img/elements/forms/select_arrows.png) no-repeat 100% 0; -webkit-background-clip: padding-box; -moz-background-clip: padding; background-clip: padding-box; }
.select2-container .select2-choice div b { display: block; width: 100%; height: 100%; }
.select2-search { display: inline-block; width: 100%; margin: 0; padding: 6px 5px; position: relative; z-index: 10000; white-space: nowrap; }
.select2-search-hidden { display: block; position: absolute; left: -10000px; }
.select2-search input { width: 100%; height: auto!important; padding: 5px 20px 5px 5px!important; margin: 0; background: #fff url(../img/elements/forms/dropdown_search.png) no-repeat 97%; outline: 0; font-size: 11px; border: 1px solid #d5d5d5; -webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none; }
.select2-search input.select2-active {
    background: #fff url('../img/elements/forms/select2-spinner.gif') no-repeat 100%;
    background: url('../img/elements/forms/select2-spinner.gif') no-repeat 100%, -webkit-gradient(linear, left bottom, left top, color-stop(0.85, white), color-stop(0.99, #eeeeee));
    background: url('../img/elements/forms/select2-spinner.gif') no-repeat 100%, -webkit-linear-gradient(center bottom, white 85%, #eeeeee 99%);
    background: url('../img/elements/forms/select2-spinner.gif') no-repeat 100%, -moz-linear-gradient(center bottom, white 85%, #eeeeee 99%);
    background: url('../img/elements/forms/select2-spinner.gif') no-repeat 100%, -o-linear-gradient(bottom, white 85%, #eeeeee 99%);
    background: url('../img/elements/forms/select2-spinner.gif') no-repeat 100%, -ms-linear-gradient(top, #ffffff 85%, #eeeeee 99%);
    background: url('../img/elements/forms/select2-spinner.gif') no-repeat 100%, linear-gradient(top, #ffffff 85%, #eeeeee 99%);
}

.select2-container-active .select2-choice, .select2-container-active .select2-choices { outline: none; }
.select2-dropdown-open .select2-choice div { filter: none; }
.select2-results { max-height: 200px; padding: 0 0 0 4px; margin: 0 4px 4px 0; position: relative; overflow-x: hidden; overflow-y: auto; }
.select2-results ul.select2-result-sub { margin: 0; }
.select2-results ul.select2-result-sub > li .select2-result-label { padding-left: 20px }
.select2-results ul.select2-result-sub ul.select2-result-sub > li .select2-result-label { padding-left: 40px }
.select2-results ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub > li .select2-result-label { padding-left: 60px }
.select2-results ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub > li .select2-result-label { padding-left: 80px }
.select2-results ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub > li .select2-result-label { padding-left: 100px }
.select2-results ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub > li .select2-result-label { padding-left: 110px }
.select2-results ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub > li .select2-result-label { padding-left: 120px }
.select2-results li { list-style: none; display: list-item; background-image: none; }
.select2-results li.select2-result-with-children > .select2-result-label { color: #4285A7; font-weight: bold; padding: 6px 7px; }
.select2-results .select2-result-label { padding: 8px 7px 7px 7px; line-height: 13px; margin: 0; cursor: pointer; }
.select2-results .select2-highlighted { background: #08C; color: #fff; }
.select2-results li em { background: #feffde; font-style: normal; }
.select2-results .select2-highlighted em { background: transparent; }
.select2-results .select2-highlighted ul { background: white; color: #000; }
.select2-results .select2-no-results, .select2-results .select2-searching, .select2-results .select2-selection-limit { background: #f4f4f4; display: list-item; padding: 4px 8px; color: #777; }
.select2-drop-multi .select2-selection-limit, .select2-drop-multi .select2-no-results { margin-top: 4px; }
.select2-results .select2-disabled.select2-highlighted { color: #666; background: #f4f4f4; display: list-item; cursor: default; }
.select2-results .select2-disabled { background: #f4f4f4; display: list-item; cursor: default; }
.select2-results .select2-selected { display: none; }
.select2-more-results.select2-active { background: #f4f4f4 url('../img/elements/forms/select2-spinner.gif') no-repeat 100%; }
.select2-more-results { background: #f4f4f4; display: list-item; }
.select2-container.select2-container-disabled .select2-choice { background-color: #f4f4f4; background-image: none; border: 1px solid #ddd; cursor: default; box-shadow: none; -webkit-box-shadow: none; -moz-box-shadow: none; filter: progid:DXImageTransform.Microsoft.gradient(enabled=false); }
.select2-container.select2-container-disabled .select2-choice div { background-color: #f4f4f4; }
.select2-container.select2-container-disabled .select2-choice abbr { display: none }

.select2-container-multi { width: 100%; }
.select2-container-multi .select2-choices { padding: 5px; height: auto !important; height: 1%; margin: 0; position: relative; cursor: text; overflow: hidden; background-color: white; border: 1px solid #d5d5d5; }
.select2-locked { padding: 3px 5px 3px 5px !important; }
.select2-container-multi .select2-choices { min-height: 26px; }
.select2-container-multi.select2-container-active .select2-choices { outline: none; }
.select2-container-multi .select2-choices li { float: left; list-style: none; }
.select2-container-multi .select2-choices .select2-search-field { margin: 0; padding: 0; white-space: nowrap; }
.select2-container-multi .select2-choices .select2-search-field input { height: auto; min-width: 60px; border: none; padding: 6px 0; margin: 6px 0 5px 5px; background: transparent; box-shadow: none; -webkit-box-shadow: none; -moz-box-shadow: none; }
.select2-container-multi .select2-choices .select2-search-field input.select2-active { background: #fff url('../img/elements/forms/select2-spinner.gif') no-repeat 100% !important; }
.select2-container-multi .select2-choices .select2-search-choice { border: 1px solid #A5D24A; display: block; float: left; padding: 6px 8px 5px 22px; background: #CDE69C; color: #638421; margin: 5px; line-height: 13px; font-size: 11px; position: relative; white-space: nowrap; -webkit-background-clip: padding-box; -moz-background-clip: padding; background-clip: padding-box; }
.select2-container-multi .select2-choices .select2-search-choice span { cursor: default; }
.select2-container-multi .select2-choices .select2-search-choice-focus { background: #d4d4d4; }
.select2-search-choice-close { display: block; position: absolute; top: 9px; width: 6px; height: 6px; font-size: 1px; background: url(../img/elements/forms/close_tag.png) no-repeat; outline: none; }
.select2-container-multi .select2-search-choice-close { left: 9px; }

.select2-container-multi.select2-container-disabled .select2-choices{ background-color: #F8F8F8; background-image: none; border: 1px solid #ddd; cursor: default; }
.select2-container-multi.select2-container-disabled .select2-choices .select2-search-choice { background-image: none; background-color: #F1F1F1; border: 1px solid #DDD; padding-left: 8px; color: #999; }
.select2-container-multi.select2-container-disabled .select2-choices .select2-search-choice .select2-search-choice-close { display: none; }

.select2-result-selectable .select2-match, .select2-result-unselectable .select2-match { text-decoration: underline; }

.select2-offscreen { position: absolute; left: -10000px; }




/* # Plupload (multiple file uploader)
================================================== */

.plupload_buttons { margin: 7px 0; }
.plupload_buttons::after { content: ""; display: block; clear: both; }
.plupload_header { display: none; }
.plupload_start { float: left; }
.plupload_buttons > a.btn-primary { margin-left: 10px; }
.plupload_start span { background: url(../img/elements/uploader/upload.png) no-repeat 10px; padding: 5px 13px 6px 26px; display: block;  }
.plupload_disabled, a.plupload_disabled:hover { color: #a6a6a6!important; border: 1px solid #d5d5d5!important; background: #e5e5e5!important; box-shadow: none!important; -moz-box-shadow: none!important; -webkit-box-shadow: none!important; text-shadow: none!important; cursor: default!important; }
.plupload_disabled span { padding: 5px 13px 6px 13px; }
.plupload_add { float: left; }
.plupload_add span { background: url(../img/elements/uploader/add.png) no-repeat 10px; padding: 5px 13px 6px 26px; display: block; }
.plupload_wrapper { font-size: 11px;; width: 100%; }
.plupload_container input { border: 1px solid #DDD; font-size: 11px; width: 98%; }
.plupload_filelist { margin: 0; padding: 0; list-style: none; }
.plupload_scroll .plupload_filelist { height: 185px; overflow-y: scroll; }
.plupload_filelist li { padding: 10px 12px; border-bottom: 1px solid #E7E7E7; }
.plupload_filelist li:hover { background-color: #fff; }
.plupload_filelist_header, .plupload_filelist_footer { background: #fafafa; padding: 3px 0 3px 12px; color: #878787; }
.plupload_filelist_header { border-bottom: 1px solid #d5d5d5; }
.plupload_filelist_footer { border-top: 1px solid #D5D5D5; line-height: 30px; vertical-align: middle; } 
.plupload_filelist_footer .plupload_file_size, .plupload_filelist_footer .plupload_file_status, .plupload_filelist_footer .plupload_progress, .plupload_filelist_footer .plupload_file_action, .plupload_filelist_footer .plupload_upload_status { margin: 8px 0; }
.plupload_file_name { float: left; overflow: hidden; }
.plupload_file_status { color: #777; }
.plupload_file_status span {}
.plupload_file_size, .plupload_file_status, .plupload_progress { float: right; width: 80px; }
.plupload_file_size, .plupload_file_status, .plupload_file_action { text-align: right; }
.plupload_filelist .plupload_file_name { width: 205px; }
.plupload_file_action { float: right; width: 14px; margin-top: 4px; height: 14px; margin-left: 15px!important; }
.plupload_file_action * { display: none; width: 14px; height: 14px; }
li.plupload_done { color: #AAA; }
li.plupload_delete a { background: url(../img/elements/uploader/deleteFile.png) no-repeat 0; }
li.plupload_failed a { background: url(../img/elements/uploader/error.png) no-repeat 0; cursor: default; }
li.plupload_done a { background: url(../img/elements/uploader/uploaded.png) no-repeat 0; cursor: default; }
.plupload_progress, .plupload_upload_status { display: none; }
.plupload_progress_container { margin-top: 10px; border: 1px solid #CCC; background: #FFF; padding: 1px; }
.plupload_progress_bar { width: 0px; height: 7px; background: #CDEB8B; }
.plupload_scroll .plupload_filelist_header .plupload_file_action, .plupload_scroll .plupload_filelist_footer .plupload_file_action { margin-right: 17px; }
.plupload_clear,.plupload_clearer { clear: both; }
.plupload_clearer, .plupload_progress_bar { display: block; font-size: 0; line-height: 0; }
li.plupload_droptext { background: url(../img/elements/uploader/drag.png) no-repeat 50%; text-align: center; vertical-align: middle; border: 0; line-height: 165px; text-indent: -9999px; }





/* # Fullcalendar {calendar}
================================================== */

.fc { direction: ltr; text-align: left; }
.fc table { border-collapse: collapse; border-spacing: 0; } 
html .fc, .fc table { font-size: 1em; } 
.fc td, .fc th { padding: 0; vertical-align: top; }
.fc-header { position: relative; }
.fc-header td { white-space: nowrap; }
.fc-header-left { text-align: left; width: 100%; }  
.fc-header-center { text-align: center; position: absolute; top: 0; width: 80%; left: 10%; line-height: 38px; } 
.fc-button-inner {  border-left: 1px solid #d5d5d5; }
.fc-header-left .fc-button-inner { border: none; }
.fc-header-right { text-align: right; position: absolute; top: -41px; right: 0; } 
.fc-header-right .fc-button-agendaDay .fc-button-inner { -webkit-border-top-right-radius: 3px; -moz-border-radius-topright: 3px; }
.fc-header-title { display: inline-block; vertical-align: top; }  
.fc-header-title h2 { font-size: 12px; margin: 0; }
.fc-header-title strong { margin-top: 0; white-space: nowrap; padding: 8px 12px!important; display: block; }  
.fc .fc-header-space { padding-left: 10px; }  
.fc-header .fc-corner-right { margin-right: 0; float: right; }  
.fc-header .ui-corner-right { margin-right: 0; }
.fc-header .fc-state-hover, .fc-header .ui-state-hover { z-index: 2; }  
.fc-header .fc-state-down { z-index: 3; }
.fc-header .fc-state-active, .fc-header .ui-state-active { z-index: 4; }
.fc-button-next { float: right; margin-right: -2px; }
.fc-view { width: 100%; overflow: hidden; }
.fc-border-separate thead {  
  background: #f8f8f8;
  background: -moz-linear-gradient(top,  #f8f8f8 0%, #e8e8e8 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f8f8f8), color-stop(100%,#e8e8e8));
  background: -webkit-linear-gradient(top,  #f8f8f8 0%,#e8e8e8 100%);
  background: -o-linear-gradient(top,  #f8f8f8 0%,#e8e8e8 100%);
  background: -ms-linear-gradient(top,  #f8f8f8 0%,#e8e8e8 100%);
  background: linear-gradient(top,  #f8f8f8 0%,#e8e8e8 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f8f8f8', endColorstr='#e8e8e8',GradientType=0 );
}
.fc-widget-header, .fc-widget-content { border: 1px solid #d5d5d5; }
.fc-state-highlight { background: #FFFFED; }  
.fc-cell-overlay { background: #9cf; opacity: .2; filter: alpha(opacity=20); /* for IE */ }
.fc-button { position: relative; cursor: pointer; }
.fc-button-inner { position: relative; float: left; overflow: hidden; }
.fc-button-content { position: relative; float: left; height: 38px; line-height: 38px; padding: 0 14px; white-space: nowrap; }
.fc-header-left .fc-button-content { padding: 0 8px; }

.fc-header-right .fc-button-content { height: 38px; font-weight: 600; font-family: 'Open Sans', sans-serif; font-size: 13px; }
.fc-header-right .fc-button-content:hover{ background: #fcfcfc; color: #4285A7; }
  
.fc-button-content .fc-icon-wrap { position: relative; float: left; top: 50%; } 
.fc-button-content .ui-icon { position: relative; float: left; margin-top: -50%; *margin-top: 0; *top: -50%; }
  
.fc-state-default .fc-button-effect { position: absolute; top: 50%; left: 0; }  
  
.fc-state-active, .fc-state-active .fc-button-content, .fc-state-active .fc-button-content:hover { color: #999999; background: #fff; }  
.fc-first th { padding-top: 1px; }  
.fc-state-disabled, .fc-state-disabled .fc-button-inner { color: #999; border-color: #ddd; }  
.fc-state-disabled { cursor: default; } 
.fc-state-disabled .fc-button-effect { display: none; }
  
.fc-event { border-style: solid; border-width: 0; font-size: .85em; cursor: default; }
a.fc-event, .fc-event-draggable { cursor: pointer; }  
a.fc-event { text-decoration: none; } 
.fc-rtl .fc-event { text-align: right; }
  
.fc-event-skin { border-color: #596772;     background-color: #4D6474;  color: #fff;             display: block; padding: 2px 0 2px 6px; font-size: 11px; margin-top: 1px; }
.fc-event-inner { position: relative; width: 100%; height: 100%; border-style: solid; border-width: 0; overflow: hidden; }
.fc-event-time, .fc-event-title { padding: 0 2px 1px 8px; display: block; float: left; line-height: 16px; } 
.fc .ui-resizable-handle { display: block; position: absolute; z-index: 99999; overflow: hidden; font-size: 300%; line-height: 50%; }
  
.fc-event-hori { margin-bottom: 1px; }
.fc-event-hori .ui-resizable-e { top: 0 !important; right: -3px !important; width: 7px !important; height: 100% !important; cursor: e-resize; }
.fc-event-hori .ui-resizable-w { top: 0 !important; left: -3px !important; width: 7px !important; height: 100% !important; cursor: w-resize; }
  
.fc-corner-left { margin-left: 1px; } 
.fc-corner-right { margin-right: 1px; } 
.fc-corner-right .fc-button-inner, .fc-corner-right .fc-event-inner { margin-right: 0; }  
.fc-corner-top { margin-top: 1px; } 
.fc-corner-top .fc-event-inner { margin-top: -1px; }  
.fc-corner-bottom { margin-bottom: 1px; } 
.fc-corner-bottom .fc-event-inner { margin-bottom: -1px; }
  
.fc-corner-top .fc-event-inner { border-top-width: 1px; } 
.fc-corner-bottom .fc-event-inner { border-bottom-width: 1px; }
  
table.fc-border-separate { border-collapse: separate; } 
.fc-border-separate th, .fc-border-separate td { border-width: 0 1px 1px 0; } 
.fc-border-separate td:first-child, .fc-border-separate th:first-child { /*border-left: none;*/ border-left-width: 1px; } 
.fc-border-separate tr.fc-last th, .fc-border-separate tr.fc-last td { border-top-width: 1px; border-right-width: 1px; }
.fc-border-separate tbody tr.fc-first td, .fc-border-separate tbody tr.fc-first th { border-top-width: 1px; }
  
.fc-widget-header { text-align: center; } 
.fc-day-number { float: right; padding: 6px 5px 2px 5px; }
.fc-cols .fc-other-month .fc-day-number { opacity: 0.3; filter: alpha(opacity=30); }  
.fc-day-content { clear: both; padding: 5px 2px 3px; }
.fc-cols .fc-event-time { font-weight: bold; }
.fc-rtl .fc-cols .fc-day-number { float: left; }  
.fc-rtl .fc-cols .fc-event-time { float: right; }
  
.fc-agenda table {  border-collapse: separate; }  
.fc-agenda-days th { text-align: center; }  
.fc-agenda .fc-agenda-axis { width: 50px; padding: 0 4px; vertical-align: middle; text-align: right; white-space: nowrap; font-weight: normal; }  
.fc-agenda .fc-day-content { padding: 2px 2px 1px; }
.fc-agenda-days .fc-agenda-axis { border-right-width: 1px; }
.fc-agenda-days .fc-col0 { border-left-width: 0; }
.fc-agenda-allday th { border-width: 0 1px; } 
.fc-agenda-allday .fc-day-content { min-height: 34px; _height: 34px; }
.fc-agenda-divider-inner { height: 2px; overflow: hidden; } 
.fc-widget-header .fc-agenda-divider-inner { background: #eee; }
  
.fc-agenda-slots th { border-width: 1px 1px 0; }  
.fc-agenda-slots td { border-width: 1px 0 0; background: none; }  
.fc-agenda-slots td div { height: 20px; } 
.fc-agenda-slots tr.fc-slot0 th, .fc-agenda-slots tr.fc-slot0 td { border-top-width: 0; }
.fc-agenda-slots tr.fc-minor th, .fc-agenda-slots tr.fc-minor td { border-top-style: dotted; }  
.fc-agenda-slots tr.fc-minor th.ui-widget-header { *border-top-style: solid; }
  
.fc-event-vert { border-width: 0 1px; } 
.fc-event-vert .fc-event-head, .fc-event-vert .fc-event-content { position: relative; z-index: 2; width: 100%; overflow: hidden; }  
.fc-event-vert .fc-event-time { white-space: nowrap; font-size: 10px; }   
.fc-event-vert .fc-event-bg { position: absolute; z-index: 1; top: 0; left: 0; width: 100%; height: 100%; background: #fff; opacity: .3; filter: alpha(opacity=30); } 
.fc .ui-draggable-dragging .fc-event-bg, .fc-select-helper .fc-event-bg { display: none\9; }
  
.fc-event-vert .ui-resizable-s {
  bottom: 0        !important;
  width: 100%      !important;
  height: 8px      !important;
  overflow: hidden !important;
  line-height: 8px !important;
  font-size: 11px  !important;
  font-family: monospace;
  text-align: center;
  cursor: s-resize;
  }
  
.fc-agenda .ui-resizable-resizing { _overflow: hidden; }




/* # jGrowl (popup notification)
================================================== */

@-webkit-keyframes growl-stripes {
  from {
    background-position: 10px 0;
  }
  to {
    background-position: 0 0;
  }
}

@-moz-keyframes growl-stripes {
  from {
    background-position: 10px 0;
  }
  to {
    background-position: 0 0;
  }
}

@-ms-keyframes growl-stripes {
  from {
    background-position: 10px 0;
  }
  to {
    background-position: 0 0;
  }
}

@-o-keyframes growl-stripes {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 10px 0;
  }
}

@keyframes growl-stripes {
  from {
    background-position: 10px 0;
  }
  to {
    background-position: 0 0;
  }
}



.jGrowl { z-index: 9999; color: #fff; font-size: 12px; }
.ie6 { position: absolute; }
.jGrowl { position: absolute; }
body > .jGrowl { position: fixed; }
.jGrowl.top-left { left: 0px; top: 0px; }
.jGrowl.top-right { right: 20px; top: 50px; }
.jGrowl.bottom-left { left: 0px; bottom: 0px; }
.jGrowl.bottom-right { right: 0px; bottom: 0px; }
.jGrowl.center { top: 0px; width: 50%; left: 25%; }
.center .jGrowl-notification, .center .jGrowl-closer { margin-left: auto; margin-right: auto; }
.jGrowl .jGrowl-notification { border: none; color: #fff; opacity: .95; filter: alpha(Opacity=95); zoom: 1; width: 194px; padding: 8px 12px; margin-top: 10px; text-align: left; display: none;

  background-color: #448fb2;
  background-image: -webkit-gradient(linear, 0 100%, 100% 0, color-stop(0.25, rgba(255, 255, 255, 0.025)), color-stop(0.25, transparent), color-stop(0.5, transparent), color-stop(0.5, rgba(255, 255, 255, 0.025)), color-stop(0.75, rgba(255, 255, 255, 0.025)), color-stop(0.75, transparent), to(transparent));
  background-image: -webkit-linear-gradient(-45deg, rgba(255, 255, 255, 0.025) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.025) 50%, rgba(255, 255, 255, 0.025) 75%, transparent 75%, transparent);
  background-image: -moz-linear-gradient(-45deg, rgba(255, 255, 255, 0.025) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.025) 50%, rgba(255, 255, 255, 0.025) 75%, transparent 75%, transparent);
  background-image: -o-linear-gradient(-45deg, rgba(255, 255, 255, 0.025) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.025) 50%, rgba(255, 255, 255, 0.025) 75%, transparent 75%, transparent);
  background-image: linear-gradient(-45deg, rgba(255, 255, 255, 0.025) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.025) 50%, rgba(255, 255, 255, 0.025) 75%, transparent 75%, transparent);
  background-repeat: repeat;

  -webkit-background-size: 10px 10px;
     -moz-background-size: 10px 10px;
       -o-background-size: 10px 10px;
          background-size: 10px 10px;

    -webkit-animation: growl-stripes 1s linear infinite;
     -moz-animation: growl-stripes 1s linear infinite;
      -ms-animation: growl-stripes 1s linear infinite;
       -o-animation: growl-stripes 1s linear infinite;
          animation: growl-stripes 1s linear infinite;

}
.jGrowl-notification.growl-error { background-color: #C95454; }
.jGrowl-notification.growl-success { background-color: #49a449; }
.jGrowl-notification.growl-warning { background-color: #D17E3D; }
.jGrowl .jGrowl-notification .jGrowl-header { font-weight: bold; font-size: 12px; line-height: 24px; }
.jGrowl  .jGrowl-notification  .jGrowl-close { z-index: 99; float: right; font-weight: bold; font-size: 12px; cursor: pointer; }
.jGrowl .jGrowl-closer { padding: 3px 0; cursor: pointer; font-size: 11px; margin-top: 10px; font-weight: bold; text-align: center; background: #454545; color: #ffffff; width: 218px; }
@media print { .jGrowl { display: none; } }





/* # Timepicker
================================================== */

.ui-timepicker-list { overflow-y: auto; height: 131px; width: 6.5em; background: #fff; border: 1px solid #ddd; margin-top: -1px; min-width: 116px; outline: 0; }
input.time { width: 100px; }
.ui-timepicker-list.ui-timepicker-with-duration { width: 11em; }
.ui-timepicker-duration { margin-left: 5px; color: #888; }
.ui-timepicker-list:hover .ui-timepicker-duration { color: #888; }
.ui-timepicker-list li { padding: 10px 10px 9px 10px; line-height: 13px; border-top: 1px solid #e4e4e4; font-size: 11px; cursor: pointer;
  background: #fcfcfc; 
  background: -moz-linear-gradient(top,  #fcfcfc 0%, #f8f8f8 100%); 
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fcfcfc), color-stop(100%,#f8f8f8)); 
  background: -webkit-linear-gradient(top,  #fcfcfc 0%,#f8f8f8 100%); 
  background: -o-linear-gradient(top,  #fcfcfc 0%,#f8f8f8 100%); 
  background: -ms-linear-gradient(top,  #fcfcfc 0%,#f8f8f8 100%); 
  background: linear-gradient(top,  #fcfcfc 0%,#f8f8f8 100%); 
}
.ui-timepicker-list li:first-child { border-top: none; }
.ui-timepicker-list:hover .ui-timepicker-selected { background: #fff; color: #000; }
li.ui-timepicker-selected, .ui-timepicker-list li:hover, .ui-timepicker-list:hover .ui-timepicker-selected:hover { background: #1980EC; color: #fff; }
li.ui-timepicker-selected .ui-timepicker-duration, .ui-timepicker-list li:hover .ui-timepicker-duration { color: #ccc; }





/* # Bootstrap color picker
================================================== */

.colorpicker-saturation { width: 100px; height: 100px; background-image: url(../img/elements/colorpicker/saturation.png); cursor: crosshair; float: left; }
.colorpicker-saturation i { display: block; height: 5px; width: 5px; border: 1px solid #000; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; position: absolute; top: 0; left: 0; margin: -4px 0 0 -4px; }
.colorpicker-saturation i b { display: block; height: 5px; width: 5px; border: 1px solid #fff; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; }
.colorpicker-hue, .colorpicker-alpha { width: 15px; height: 100px; float: left; cursor: row-resize; margin-left: 4px; margin-bottom: 4px; }
.colorpicker-hue i, .colorpicker-alpha i { display: block; height: 1px; background: #000; border-top: 1px solid #fff; position: absolute; top: 0; left: 0; width: 100%; margin-top: -1px; }
.colorpicker-hue { background-image: url(../img/elements/colorpicker/hue.png); }
.colorpicker-alpha { background-image: url(../img/elements/colorpicker/alpha.png); display: none; }
.colorpicker { *zoom: 1; top: 0; left: 0; padding: 4px; min-width: auto!important;; margin-top: 1px; -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px; }
.colorpicker:before, .colorpicker:after { display: table; content: ""; }
.colorpicker:after { clear: both; }
.colorpicker:before { content: ''; display: inline-block; border-left: 7px solid transparent; border-right: 7px solid transparent; border-bottom: 7px solid #ccc; border-bottom-color: rgba(0, 0, 0, 0.2); position: absolute; top: -7px; left: 6px; }
.colorpicker:after { content: ''; display: inline-block; border-left: 6px solid transparent; border-right: 6px solid transparent; border-bottom: 6px solid #ffffff; position: absolute; top: -6px; left: 7px; }
.colorpicker div { position: relative; }
.colorpicker.alpha { min-width: 140px; }
.colorpicker.alpha .colorpicker-alpha { display: block; }
.colorpicker-color { height: 10px; margin-top: 5px; clear: both; background-image: url(../img/elements/colorpicker/alpha.png); background-position: 0 100%; }
.colorpicker-color div { height: 10px; }
.input-append.color .add-on { padding: 6px; height: auto; }
.input-append.color .add-on i, .input-prepend.color .add-on i { display: block; cursor: pointer; width: 16px; height: 16px; } 




/* # Validation engine (form validation)
================================================== */

.formError { z-index: 990; }
.formError .formErrorContent { z-index: 991; line-height: 20px; }
.formError .formErrorArrow { z-index: 996; }
.formErrorInsideDialog.formError { z-index: 5000; }
.formErrorInsideDialog.formError .formErrorContent { z-index: 5001; }
.formErrorInsideDialog.formError .formErrorArrow { z-index: 5006; }
.inputContainer { position: relative; float: left; }
.formError { position: absolute; top: 300px; left: 300px; display: block; cursor: pointer; }
.ajaxSubmit { padding: 20px; background: #55ea55; border: 1px solid #999; display: none }

@-webkit-keyframes error-stripes {
  from {
    background-position: 25px 0;
  }
  to {
    background-position: 0 0;
  }
}

@-moz-keyframes error-stripes {
  from {
    background-position: 25px 0;
  }
  to {
    background-position: 0 0;
  }
}

@-ms-keyframes error-stripes {
  from {
    background-position: 25px 0;
  }
  to {
    background-position: 0 0;
  }
}

@-o-keyframes error-stripes {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 25px 0;
  }
}

@keyframes error-stripes {
  from {
    background-position: 25px 0;
  }
  to {
    background-position: 0 0;
  }
}


.formError .formErrorContent { width: 100%; position:relative; color: #fff; width: 150px; font-size: 11px; text-shadow: 0 1px 0 rgba(0,0,0,0.3); padding: 6px 10px; text-align: center;

  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;

    background-color: #cf432c;
  background-image: -webkit-gradient(linear, 0 100%, 100% 0, color-stop(0.25, rgba(255, 255, 255, 0.05)), color-stop(0.25, transparent), color-stop(0.5, transparent), color-stop(0.5, rgba(255, 255, 255, 0.05)), color-stop(0.75, rgba(255, 255, 255, 0.05)), color-stop(0.75, transparent), to(transparent));
  background-image: -webkit-linear-gradient(-45deg, rgba(255, 255, 255, 0.05) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.05) 50%, rgba(255, 255, 255, 0.05) 75%, transparent 75%, transparent);
  background-image: -moz-linear-gradient(-45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: -o-linear-gradient(-45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: linear-gradient(-45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  -webkit-background-size: 25px 25px;
     -moz-background-size: 10px 25px;
       -o-background-size: 25px 25px;
          background-size: 25px 25px;

  -webkit-animation: error-stripes 1s linear infinite;
   -moz-animation: error-stripes 1s linear infinite;
    -ms-animation: error-stripes 1s linear infinite;
     -o-animation: error-stripes 1s linear infinite;
        animation: error-stripes 1s linear infinite;

}

.greenPopup .formErrorContent { background: #7fba4a; }
.blackPopup .formErrorContent { background: #393939; color: #FFF; }
.formError .formErrorArrow { width: 15px; left: 14px; margin-top: -3px; position:relative; }
body[dir='rtl'] .formError .formErrorArrow, body.rtl .formError .formErrorArrow { margin: -2px 13px 0 0; }
.formError .formErrorArrowBottom { box-shadow: none; -moz-box-shadow: none; -webkit-box-shadow: none; margin: 0px 0 0 12px; top:2px; }
.formError .formErrorArrow div { font-size: 0px; height: 1px; background: #cf432c; margin: 0 auto; line-height: 0; font-size: 0; display: block; }
.formError .formErrorArrowBottom div { box-shadow: none; -moz-box-shadow: none; -webkit-box-shadow: none; }
.greenPopup .formErrorArrow div { background: #33be40; }
.blackPopup .formErrorArrow div { background: #393939; color: #FFF; }
.formError .formErrorArrow .line10 { width: 15px; border: none; }
.formError .formErrorArrow .line9 { width: 13px; border: none; }
.formError .formErrorArrow .line8 { width: 11px; }
.formError .formErrorArrow .line7 { width: 9px; }
.formError .formErrorArrow .line6 { width: 7px; }
.formError .formErrorArrow .line5 { width: 5px; }
.formError .formErrorArrow .line4 { width: 3px; }
.formError .formErrorArrow .line3 { width: 1px; }
.formError .formErrorArrow .line2 { width: 3px; border: none; background: none; }
.formError .formErrorArrow .line1 { width: 1px; border: none; background: none; }




/* # Dual select boxes
================================================== */

.dual-control .btn { padding: 0 8px; line-height: 24px; font-size: 11px; cursor: pointer; color: #999; height: 26px; margin: 2px 1px; }
.left-box, .right-box { width: 40%; position: relative; }
.left-box .multiple, .right-box .multiple { height: 300px; margin-top: 15px; }
.left-box { float: left; }
.right-box { float: right; }
.filter { position: absolute; right: 4px; top: 6px; font-size: 12px; background: none; border: none; color: gray; }
.dual-control { text-align: center; width: 90px; margin: 150px 1px; position: absolute; left: 50%; margin-left: -45px; } 
.count-label { color: gray; font-style:italic; margin-top: 10px; display: block; }
.box-filter {  background: white; width: 100%; border: 1px solid #D5D5D5; padding: 7px 8px; font-size: 11px; font-family: Arial, Helvetica, sans-serif; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; -ms-box-sizing: border-box; box-sizing: border-box; }





/* # Tags input
================================================== */

div.tagsinput { border: 1px solid #dadada; background: #fff; padding: 5px; width: 100%; overflow-y: auto; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; -ms-box-sizing: border-box; box-sizing: border-box; }
div.tagsinput span.tag { border: 1px solid #a5d24a; display: block; float: left; padding: 0 8px; background: #cde69c; color: #638421; margin: 5px 5px 5px 5px; line-height: 23px; font-size: 11px; }
div.tagsinput span.tag a { font-weight: bold; color: #82ad2b; font-size: 11px; float: right; } 
div.tagsinput input { width: 60px; border: none; padding: 6px 2px; background: transparent; margin: 5px 5px 5px 4px; font-size: 11px; }
div.tagsinput input:focus { outline: 0; }
div.tagsinput div { display: block; float: left; position: relative; } 
.tags_clear { clear: both; width: 100%; height: 0px; }
.not_valid { background: #FBD8DB !important; color: #90111A !important;}
.tagsinput .ui-helper-hidden-accessible { display: none; }




/* # Datatables (dynamic tables)
================================================== */

.dataTables_wrapper { position: relative; clear: both; *zoom: 1; }
.dataTables_length { float: right; padding: 14px 12px; display: block; }
.dataTables_length > label > span { float: left; line-height: 13px; padding: 8px 0 7px 0; margin-right: 12px; }
.dataTable thead th.sorting { cursor: pointer; }
.show-entries { float: left; margin: 4px 15px 0 0; }
.dataTables_filter { padding: 14px 12px; position: relative; display: block; float: left; }
.dataTables_filter > label, .dataTables_length > label { margin: 0; }
.dataTables_filter label > span { display: block; float: left; line-height: 13px; padding: 8px 0 7px 0; margin-right: 12px; }
.dataTables_filter input[type=text] { height: auto; padding: 7px 7px 6px 7px; line-height: 13px; width: 180px; background: #fff; box-shadow: 0 1px 0 white; -webkit-box-shadow: 0 1px 0 white; -moz-box-shadow: 0 1px 0 #fff; border: 1px solid #d5d5d5; }
.dataTables_info { padding: 17px 12px; display: block; float: left; }
.tableFooter { clear: both; padding: 8px 12px; height: 36px; font-size: 11px; color: #636363; border-top: 1px solid #cdcdcd; -webkit-border-bottom-right-radius: 3px; -webkit-border-bottom-left-radius: 3px; -moz-border-radius-bottomright: 3px; -moz-border-radius-bottomleft: 3px; background: #f8f8f8; background: -moz-linear-gradient(top,  #f8f8f8 0%, #efefef 100%); background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f8f8f8), color-stop(100%,#efefef)); background: -webkit-linear-gradient(top,  #f8f8f8 0%,#efefef 100%); background: -o-linear-gradient(top,  #f8f8f8 0%,#efefef 100%); background: -ms-linear-gradient(top,  #f8f8f8 0%,#efefef 100%); background: linear-gradient(top,  #f8f8f8 0%,#efefef 100%); }
.dataTables_paginate { float: right; margin: 14px 12px; }
.dataTables_paginate .last { margin-right: 0!important; }
.datatable-header {  border: 1px solid #D5D5D5; margin-bottom: 1px; font-size: 11px; }
.datatable-footer { border: 1px solid #d5d5d5; margin-top: 1px; }
.datatable-footer { font-size: 11px;
  background: #fafafa;
  background: -moz-linear-gradient(top,  #ffffff 0%, #fafafa 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#fafafa));
  background: -webkit-linear-gradient(top,  #ffffff 0%,#fafafa 100%);
  background: -o-linear-gradient(top,  #ffffff 0%,#fafafa 100%);
  background: -ms-linear-gradient(top,  #ffffff 0%,#fafafa 100%);
  background: linear-gradient(top,  #ffffff 0%,#fafafa 100%);
}
.dataTables_length .selector { height: 26px; line-height: 26px; min-width: 0; }
.dataTables_length .selector span { background: url(../img/elements/forms/select_arrows.png) no-repeat 100% -1px; padding: 7px 31px 6px 0px; }
.dataTables_length .selector input { height: 26px; }

.datatable-header { background: #fafafa; }
.datatable-header:after, .datatable-footer:after { content: ""; display: block; clear: both; }

/* Two button pagination - previous / next */
.paginate_disabled_previous, .paginate_enabled_previous, .paginate_disabled_next, .paginate_enabled_next { height: 19px; float: left; cursor: pointer; *cursor: hand; color: #111 !important; }
.paginate_disabled_previous:hover, .paginate_enabled_previous:hover, .paginate_disabled_next:hover, .paginate_enabled_next:hover { text-decoration: none !important; }
.paginate_disabled_previous:active, .paginate_enabled_previous:active, .paginate_disabled_next:active, .paginate_enabled_next:active { outline: none; }
.paginate_disabled_previous, .paginate_disabled_next { color: #666 !important; }
.paginate_disabled_previous, .paginate_enabled_previous { padding-left: 23px; }
.paginate_disabled_next, .paginate_enabled_next { padding-right: 23px; margin-left: 10px; }
.paginate_enabled_previous { background: url('../img/elements/tables/back_enabled.png') no-repeat top left; }
.paginate_enabled_previous:hover { background: url('../img/elements/tables/back_enabled_hover.png') no-repeat top left; }
.paginate_disabled_previous { background: url('../img/elements/tables/back_disabled.png') no-repeat top left; }
.paginate_enabled_next { background: url('../img/elements/tables/forward_enabled.png') no-repeat top right; }
.paginate_enabled_next:hover { background: url('../img/elements/tables/forward_enabled_hover.png') no-repeat top right; }
.paginate_disabled_next { background: url('../img/elements/tables/forward_disabled.png') no-repeat top right; }


/* Full number pagination */
.paging_full_numbers {  }
.paging_full_numbers .next:active, .paging_full_numbers .first:active, .paging_full_numbers .previous:active, .paging_full_numbers .last:active { font-weight: normal!important; }
.paging_full_numbers a:active { outline: none }
.paging_full_numbers a:hover { text-decoration: none; }
.paging_full_numbers a.paginate_button, .paging_full_numbers a.paginate_active { border: 1px solid #d5d5d5; padding: 3px 10px 2px 10px; line-height: 21px; margin-left: 1px; cursor: pointer; *cursor: hand; color: #454545; font-size: 11px; box-shadow: 0 1px 0 #fff inset, 0 1px 0px #eaeaea; -webkit-box-shadow: 0 1px 0 #fff inset, 0 1px 0px #eaeaea; -moz-box-shadow: 0 1px 0 #fff inset, 0 1px 0px #eaeaea;  }
.paging_full_numbers a.paginate_button { display: inline-block;
  background: #f5f5f5; 
  background: -moz-linear-gradient(top,  #ffffff 0%, #f5f5f5 100%); 
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#f5f5f5)); 
  background: -webkit-linear-gradient(top,  #ffffff 0%,#f5f5f5 100%); 
  background: -o-linear-gradient(top,  #ffffff 0%,#f5f5f5 100%); 
  background: -ms-linear-gradient(top,  #ffffff 0%,#f5f5f5 100%); 
  background: linear-gradient(top,  #ffffff 0%,#f5f5f5 100%); 
} 
.paging_full_numbers span { display: inline-block; }
.paging_full_numbers span a { display: inline-block; }
.paging_full_numbers a.paginate_button:hover { background: #fcfcfc;  color: #327394; }
.paging_full_numbers a.paginate_active, .paging_full_numbers a.paginate_button:active { font-weight: bold; background: #676d71;  color: #fff;  border-color: #585e63; 
  box-shadow: 0 1px 2px rgba(0,0,0,0.2) inset, 0 1px 0 #fff; 
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.2) inset, 0 1px 0 #fff; 
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,0.2) inset, 0 1px 0 #fff;  
}

.paginate_button_disabled, .paginate_button_disabled:active { background: #F9F9F9!important; color: #c5c5c5!important; box-shadow: none!important; -webkit-box-shadow: none!important; -moz-box-shadow: none!important; border-color: #e5e5e5!important; font-weight: normal; }
.paginate_button_disabled:active { border-color: #d3d3d3!important; }

.dataTables_processing { position: absolute; top: 50%; left: 50%; width: 250px; height: 30px; margin-left: -125px; margin-top: -15px; padding: 14px 0 2px 0; border: 1px solid #ddd; text-align: center; color: #999; font-size: 14px; background-color: white; }
.sorting { background: url('../img/elements/tables/sort_both.png') no-repeat 100% 8px; }
.sorting_asc { background: url('../img/elements/tables/sort_asc.png') no-repeat 100% 9px; }
.sorting_desc { background: url('../img/elements/tables/sort_desc.png') no-repeat 100% 9px; }
.sorting_asc_disabled { background: url('../img/elements/tables/sort_asc_disabled.png') no-repeat 100% 9px; }
.sorting_desc_disabled { background: url('../img/elements/tables/sort_desc_disabled.png') no-repeat 100% 9px; }
table.dataTable th:active { outline: none; }
.dataTables_scroll { clear: both; }
.dataTables_scrollBody { *margin-top: -1px; -webkit-overflow-scrolling: touch; }

.file-info span { display: block; }
.actions-column { width: 100px; text-align: center; }
.table .navbar-icons { text-align: center; float: none; margin: 0; height: 14px; }
.table .navbar-icons li a { margin: 0 4px; }





/* # Fancybox (lighbox)
================================================== */

.fancybox-wrap, .fancybox-skin, .fancybox-outer, .fancybox-inner, .fancybox-image, .fancybox-wrap iframe, .fancybox-wrap object, .fancybox-nav, .fancybox-nav span, .fancybox-tmp { padding: 0; margin: 0; border: 0; outline: none; vertical-align: top; }
.fancybox-wrap { position: absolute; top: 0; left: 0; z-index: 8020; }
.fancybox-skin { position: relative; background: #f9f9f9; color: #444; text-shadow: none; }
.fancybox-opened { z-index: 8030; }
.fancybox-opened .fancybox-skin { -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3); -moz-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3); box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3); }
.fancybox-outer, .fancybox-inner { position: relative; }
.fancybox-inner { overflow: hidden; }
.fancybox-type-iframe .fancybox-inner { -webkit-overflow-scrolling: touch; }
.fancybox-error { color: #444; font-size: 12px; margin: 0; padding: 15px; white-space: nowrap; }
.fancybox-image, .fancybox-iframe { display: block; width: 100%; height: 100%; }
.fancybox-image { max-width: 100%; max-height: 100%; }
#fancybox-loading, .fancybox-close, .fancybox-prev span, .fancybox-next span { background-image: url('../img/elements/lightbox/fancybox_sprite.png'); }
#fancybox-loading { position: fixed; top: 50%; left: 50%; margin-top: -22px; margin-left: -22px; background-position: 0 -108px; opacity: 0.8; filter: alpha(opacity=80); cursor: pointer; z-index: 8060; }
#fancybox-loading div { width: 44px; height: 44px; background: url('../img/elements/lightbox/fancybox_loading.gif') center center no-repeat; }
.fancybox-close { position: absolute; top: -18px; right: -18px; width: 36px; height: 36px; cursor: pointer; z-index: 8040; }
.fancybox-nav { position: absolute; top: 0; width: 40%; height: 100%; cursor: pointer; text-decoration: none; background: transparent url('../img/elements/lightbox/blank.gif'); -webkit-tap-highlight-color: rgba(0,0,0,0); z-index: 8040; }
.fancybox-prev { left: 0; }
.fancybox-next { right: 0; }
.fancybox-nav span { position: absolute; top: 50%; width: 36px; height: 34px; margin-top: -18px; cursor: pointer; z-index: 8040; visibility: hidden; }
.fancybox-prev span { left: 10px; background-position: 0 -36px; }
.fancybox-next span { right: 10px; background-position: 0 -72px; }
.fancybox-nav:hover span { visibility: visible; }
.fancybox-tmp { position: absolute; top: -99999px; left: -99999px; visibility: hidden; max-width: 99999px; max-height: 99999px; overflow: visible !important; }
.fancybox-lock { overflow: hidden; }
.fancybox-overlay { position: absolute; top: 0; left: 0; overflow: hidden; display: none; z-index: 8010; background: url('../img/elements/lightbox/fancybox_overlay.png'); }
.fancybox-overlay-fixed { position: fixed; bottom: 0; right: 0; }
.fancybox-lock .fancybox-overlay { overflow: auto; overflow-y: scroll; }
.fancybox-title { visibility: hidden; font: normal 13px/20px "Helvetica Neue",Helvetica,Arial,sans-serif; position: relative; text-shadow: none; z-index: 8050; }
.fancybox-opened .fancybox-title { visibility: visible; }
.fancybox-title-float-wrap { position: absolute; bottom: 0; right: 50%; margin-bottom: -35px; z-index: 8050; text-align: center; }
.fancybox-title-float-wrap .child { display: inline-block; margin-right: -100%; padding: 2px 20px; background: transparent; background: rgba(0, 0, 0, 0.8); text-shadow: 0 1px 2px #222; color: #FFF; font-weight: bold; line-height: 24px; white-space: nowrap; }
.fancybox-title-outside-wrap { position: relative; margin-top: 10px; color: #fff; }
.fancybox-title-inside-wrap { padding-top: 10px; }
.fancybox-title-over-wrap { position: absolute; bottom: 0; left: 0; color: #fff; padding: 10px; background: #000; background: rgba(0, 0, 0, .8); }
