

		<!-- Content -->
		<div id="content">

		    <!-- Content wrapper -->
		    <div class="wrapper">

			    <!-- Breadcrumbs line -->
			    <div class="crumbs">
			    	<?php echo $this->render('/helpers/breadcrumb.phtml') ?>
			    </div>
			    <!-- /breadcrumbs line -->

			    <!-- Page header -->
			    <div class="page-header">
			    	<div class="page-title">
				    	<h5>Protocolos no sistema</h5>
				    	<span>Visualize os protocolos do sistema</span>
			    	</div>
			    	
			    </div>
			    <!-- /page header -->
			    
			    <?php if (isset($this->crudMessage)) : ?>
				<div class="alert alert-success">
                	<button data-dismiss="alert" class="close" type="button">×</button>
                    <strong>Operação realizada com sucesso!</strong>
	    			<span><br /><?php echo $this->crudMessage ?></span>
                </div>			    
			    <?php endif; ?>




	                        	                        
                <!-- Table with footer -->
                <div class="widget">
                	<form action="#" class="form-horizontal" method="post">
                		<input type="hidden" value="<?php echo (isset($this->post_var['sorting'])) ? $this->post_var['sorting'] : '' ?>" name="sorting" />
	                	<div class="navbar">
	                		<div class="navbar-inner">
	                			<h6>Visualizando registros</h6>
	                			<?php if (Mn_Util::isAccess($this->getController(), 'adicionar')) : ?>
	                			<a style="float:right;" href="<?php echo $this->baseUrl() ?>/<?php echo 'admin' ?>/<?php echo $this->getController() ?>/adicionar" class="btn btn-primary"><span class="icon-plus"></span>&nbsp;Adicionar protocolo</a>
	                			<?php endif; ?>
	                		</div>
	                	</div>
	                    <div class="table-overflow">
	                        <table class="table table-content">
	                            <thead>
	                                <tr>
	                                    <th width="20">#</th>
                                    <th width="140" class="">N° do Protocolo</th>
                                    <th class="">Tipo</th>
                                    <th class="">Usuário/Departa.</th>
                                    <th class="">Nome/RG</th>
                                    <th class="s-titulo sorting">Solicitação</th>
                                    <?php /* ?>
                                    <th class="s-descricoes sorting">Descrições</th>
                                    <?php /*/ ?>
                                    <th  width="80" class="s-status sorting">Status</th>


	                                    <th width="96">Ações</th>
	                                </tr>
	                                <tr>
	                                    <th></th>
	                                    <th><input name="numeroprotocolo" value="<?php echo (isset($this->post_var['numeroprotocolo'])) ? $this->post_var['numeroprotocolo'] : '' ?>" type="text" placeholder="N° do Protocolo" class="span3"></th>
										<th>
											<?php /* ?>
											<div>
												<select name="idusuariocriacao" placeholder="Todos" class="select">
													<option value="">Todos</option>
													<?php foreach (Usuarios::getUsuariosHelper(array('status'=>'Ativo')) as $k=>$v) : ?>
														<option value="<?php echo $v['id'] ?>"><?php echo $v['nomerazao'] ?></option>
													<?php endforeach;?>
												</select>
											</div>
											<?php */ ?>
										</th>

										<th>
											<?php /* ?>
											<div>
												<select name="iddepartamentosecretaria" placeholder="Todos" class="select">
													<option value="">Todos</option>
													<?php foreach (Departamentossecretarias::getDepartamentossecretariasHelper(array('status'=>'Ativo')) as $k=>$v) : ?>
														<option value="<?php echo $v['id'] ?>"><?php echo $v['departamento'] ?></option>
													<?php endforeach;?>
												</select>
											</div>
											<?php */ ?>
										</th>

										<th>
											<?php /* ?>
											<div>
												<select name="idescola" placeholder="Todos" class="select">
													<option value="">Todos</option>
													<?php foreach (Escolas::getEscolasHelper(array('status'=>'Ativo')) as $k=>$v) : ?>
														<option value="<?php echo $v['id'] ?>"><?php echo $v['escola'] ?></option>
													<?php endforeach;?>
												</select>
											</div>
											<?php */ ?>
										</th>
										

										<th><input name="titulo" value="<?php echo (isset($this->post_var['titulo'])) ? $this->post_var['titulo'] : '' ?>" type="text" placeholder="Título" class="span3"></th>
										<?php /* ?>
										<th><input name="descricoes" value="<?php echo (isset($this->post_var['descricoes'])) ? $this->post_var['descricoes'] : '' ?>" type="text" placeholder="Descrições" class="span3"></th>
<?php /*/ ?>
										<th>
											<div>
												<select name="status1" placeholder="Todos" class="select">
													<option value="">Todos</option>
							<option value="Aberto">Aberto</option><option value="Encerrado">Encerrado</option>
							<option value="Analisando">Analisando</option><option value="Cancelado">Cancelado</option>
												</select>
											</div>
										</th>
                   

	                                    <th><button class="btn btn-mini btn-primary" type="submit">Pesquisar</button></th>
	                                </tr> 
	                                                                
	                            </thead>
	                            <tbody>
	                            	<?php if (sizeof($this->rows)==0) : ?>
	                                <tr>
	                                    <td colspan="8">Nenhum registro foi encontrado!</td>
	                                </tr>
	                            	
	                            	<?php else : ?>
	                            	<?php foreach ($this->rows as $row) : ?>
	                                <tr>
	                                	<td><?php //echo $row['id'] ?></td>

										<td><?php echo $row['numeroprotocolo'] ?></td>
										<td><?php echo $row['destinatario'] ?></td>
										<td>
											<?php if($row['origem']=="Secretaria"): ?>

												<?php
													$___rows = Usuarios::getUsuariosHelper(array('id'=>$row['idusuariocriacao']));
													$___row = (sizeof($___rows)>0) ? 	$___rows[0] : false;	
													//var_dump($___row); die();
													echo ($___row) ? $this->formatTextoBranco($___row['nomerazao'] . ' ' . $___row['sobrenomefantasia'] . '<br />') : '--';		
												?>


												<?php /*
													if((int)$row['iddepartamentosecretaria'] > 0):
														$___rows = Departamentossecretarias::getDepartamentossecretariasHelper(array('id'=>$row['iddepartamentosecretaria']));
														$___row = (sizeof($___rows)>0) ? 	$___rows[0] : false;	
														
														echo ($___row) ? $this->formatTextoBranco($___row['departamento']) : '--';		
													endif; */
												?>
											<?php elseif ($row['destinatario']=="Escola") : ?>
												<?php
													$___rows = Usuarios::getUsuariosHelper(array('id'=>$row['idusuariocriacao']));
													$___row = (sizeof($___rows)>0) ? 	$___rows[0] : false;	
													
													echo ($___row) ? $this->formatTextoBranco($___row['nomerazao'] . '<br />') : '--';		
												?>
											<?php endif; ?>
										</td>

										<td>
											<b>Nome: </b><?php echo $row['nome'] ?> <br />
											<b>RG: </b><?php echo $row['rg'] ?>
										</td>
									
										<td><?php echo $row['titulo'] ?></td>
										<?php /* ?>
										<td><?php echo $row['descricoes'] ?></td>
<?php /*/ ?>
										<td>
											<?php /*if (Mn_Util::isAccess($this->getController(), 'editar')) : ?>
												<a onclick="javascript:statusChange(<?php echo $row["id"]?>, this);" href="javascript:;"><?php echo $row['status'] ?></a>
											<?php else :*/ ?>
												<?php echo $row['status'] ?>
											<?php //endif; ?>
										</td>

			                				

	                                    <td>
	                                        <ul class="table-controls">
	                                            <li><a title="" class="btn tip" href="<?php echo $this->baseUrl() ?>/<?php echo 'admin' ?>/<?php echo $this->getController() ?>/visualizar/id/<?php echo $row['id'] ?>" data-original-title="Visualizar"><i class="icon-eye-open"></i></a> </li>
	                                            <?php if (Mn_Util::isAccess($this->getController(), 'editar')) : ?>
	                                            <li><a title="" class="btn tip" href="<?php echo $this->baseUrl() ?>/<?php echo 'admin' ?>/<?php echo $this->getController() ?>/editar/id/<?php echo $row['id'] ?>" data-original-title="Editar"><i class="icon-pencil"></i></a> </li>
	                                            <?php endif;?>
	                                            <?php if (Mn_Util::isAccess($this->getController(), 'excluir')) : ?>
	                                            <li><a title="" class="btn tip" href="javascript:confirmDelete('<?php echo $row['id']; ?>','registro');" data-original-title="Excluir"><i class="icon-remove"></i></a> </li>
	                                            <?php endif; ?>
	                                        </ul>
	                                    </td>
	                                </tr>
	                            	<?php endforeach;?>
	                            	
	                            	
	                            	
	                            	
	                            	<?php endif; ?>
	
	                            </tbody>
	                        </table>
	                    </div>
	                    <?php echo $this->render('/helpers/paginator.phtml') ?>
                    
                    </form>

                </div>
                <!-- /table with footer -->
	                        


		    </div>
		    <!-- /content wrapper -->

		</div>
		<!-- content -->
		
		
<script type="text/javascript" src="<?php echo $this->baseUrl('/public/scripts/admin/solicitacoesrecepcoessemcadastro_index.js') ?>"></script>
<script type="text/javascript">

	var form_values = {};
	<?php if (isset($this->post_var)) :  ?>
form_values.idusuariocriacao = '<?php echo (isset($this->post_var['idusuariocriacao'])) ? $this->post_var['idusuariocriacao'] : '' ?>';

form_values.iddepartamentosecretaria = '<?php echo (isset($this->post_var['iddepartamentosecretaria'])) ? $this->post_var['iddepartamentosecretaria'] : '' ?>';

form_values.idescola = '<?php echo (isset($this->post_var['idescola'])) ? $this->post_var['idescola'] : '' ?>';

form_values.origem = '<?php echo (isset($this->post_var['origem'])) ? $this->post_var['origem'] : '' ?>';

form_values.destinatario = '<?php echo (isset($this->post_var['destinatario'])) ? $this->post_var['destinatario'] : '' ?>';

form_values.status1 = '<?php echo (isset($this->post_var['status1'])) ? $this->post_var['status1'] : $this->post_var['status'] ?>';

	
	<?php endif; ?>

	var sorting = ["idusuariocriacao", "iddepartamentosecretaria", "idescola", "numeroprotocolo", "titulo", "descricoes", "origem", "destinatario", "status"];
	
</script>	


