		<!-- Content -->
		<div id="content">

		    <!-- Content wrapper -->
		    <div class="wrapper">

			    <!-- Breadcrumbs line -->
			    <div class="crumbs">
			    	<?php echo $this->render('/helpers/breadcrumb.phtml') ?>
			    </div>
			    <!-- /breadcrumbs line -->

			    <!-- Page header -->
			    <div class="page-header">
			    	<div class="page-title">
				    	<h5>Formulário do controle de ocorrência</h5>
				    	<span>Verifique os campos e preencha com os dados</span>
			    	</div>
			    </div>
			    <!-- /page header -->

			    <?php if (isset($this->crudMessage)) : ?>
					<div class="alert alert-success">
	                	<button data-dismiss="alert" class="close" type="button">×</button>
	                    <strong>Operação realizada com sucesso!</strong>
		    			<span><br /><?php echo $this->crudMessage ?></span>
	                </div>			    
			    <?php endif; ?>

				<form id="form" name="form" action="" method="post" class="form-horizontal" enctype="multipart/form-data"> 
					<input type="hidden" value="<?php echo (isset($this->post_var)) ? $this->post_var["id"] : ''; ?>" name="id" id="id" />
					
					<fieldset>
						<!-- General form elements -->
						<div class="widget row-fluid">
						    <div class="navbar">
						        <div class="navbar-inner">
						            <h6>Digite as informações do formulário</h6>
						        </div>
						    </div>

						    <div class="well">
								<?php if (isset($this->erros)) : ?>
									<div class="alert alert-error margin">
				                        <button data-dismiss="alert" class="close" type="button">×</button>
				                        <strong>Há erros no formulário!</strong>
					    				<?php foreach ($this->erros as $k=>$v) : ?>
					    					<span><br />- <?php echo $v ?></span>
					    				<?php endforeach;?>			                        
				                    </div>
			                    <?php endif; ?>						    
						    

                <?php $idescola = Usuarios::getUsuario('idescola'); ?>
				<?php $idlocal = Usuarios::getUsuario('idlocal'); ?>
				<?php if(($idescola>0) || ($idlocal>0)): ?>		    
				<div class="control-group">
					<div class="controls1 visualizar">
						<table class="table table-content" width="100%">
							<tbody>
								<tr>
									<input maxlength="500" placeholder="Nome do Usuário" name="idusuario" value="<?php echo Usuarios::getUsuario('id') ?>" type="hidden"  class="span3" />
									<input  placeholder="Data de lançamento" name="datalancamento" value="<?php echo (isset($this->post_var['datalancamento'])) ? Mn_Util::formPostVarData($this->post_var['datalancamento']) : date('d/m/Y') ?>" type="hidden"  class="span3" />
									<input maxlength="500" placeholder="Nome do Usuário" name="idlocal" value="<?php echo Usuarios::getUsuario('idlocal') ?>" type="hidden"  class="span3" />
									<input maxlength="500" placeholder="Nome do Usuário" name="idescola" value="<?php echo Usuarios::getUsuario('idescola') ?>" type="hidden"  class="span3" />

									<td width="33%">Nome do Usuário: <?php echo Usuarios::getUsuario('nomerazao') . " - " . Usuarios::getUsuario('rgf') ?></td>
									<td width="34%">Data da Abertura: <?php echo date('d/m/Y') ?></td>
									<td width="33%">Escola: <?php 
											$local = Escolas::getEscolaByIdHelper(Usuarios::getUsuario('idescola')); 
											echo ((isset($local['escola'])) && ($local['escola']) && ($local['escola']!="") ) ? $local['escola'] : '';
										?>
											
									</td>
								</tr>
							</tbody>
						</table>
						
					</div>
				</div>
				<?php else: ?>
				<div class="control-group">
					<div class="controls1 visualizar">
						<table class="table table-content" width="100%">
							<tbody>
								<tr>
									<input maxlength="500" placeholder="Nome do Usuário" name="idusuario" value="<?php echo Usuarios::getUsuario('id') ?>" type="hidden"  class="span3" />
									<input  placeholder="Data de lançamento" name="datalancamento" value="<?php echo (isset($this->post_var['datalancamento'])) ? Mn_Util::formPostVarData($this->post_var['datalancamento']) : date('d/m/Y') ?>" type="hidden"  class="span3" />
									
									<td width="50%">Nome do Usuário: <?php echo Usuarios::getUsuario('nomerazao') . " - " . Usuarios::getUsuario('rgf') ?></td>
									<td width="50%">Data da Abertura: <?php echo date('d/m/Y') ?></td>
									
								</tr>
							</tbody>
						</table>
						
					</div>
				</div>
				<?php endif; ?>
							
				<?php if(((int)$idescola<=0) || ((int)$idlocal<=0)): ?>
				<div class="control-group">
					<label class="control-label">Escolas <span class="required">*</span></label>
					<div class="controls">
                        <select id="idescola" name="idescola"  class="select" onchange="setPeriodos(this, 0)">
	                        <option value="">Selecione...</option>
	                        <?php foreach ($this->escolas as $e=>$row): ?>
	                        <option value="<?php echo $row['id'] ?>"><?php echo $row['escola'] ?></option>
	                        <?php endforeach;?>
                        </select>   
					</div>
				</div>
				<?php endif; ?>


				<!-- <div class="control-group">
					<label class="control-label">Selecionar o Período </label>
					<div class="controls">
						<input value="1" name="periodos[]" type="checkbox"> Periodo 1<br>
						<input value="2" name="periodos[]" type="checkbox"> Periodo 2<br>
						<input value="3" name="periodos[]" type="checkbox"> Periodo 3
					</div>
				</div> -->

				<div class="control-group">
					<label class="control-label">Todos os Períodos</label>
					<div class="controls">
                                                <?php if ($this->visualizar): ?>                     
                                                    <p style="font-weight: bold">
                                                        <?php echo (isset($this->post_var['todosperiodos']) && $this->post_var['todosperiodos'] == 'Sim') ? '(*) Sim' : '( ) Sim' ?>
                                                        <?php echo (isset($this->post_var['todosperiodos']) && $this->post_var['todosperiodos'] == 'Não') ? '(*) Não' : '( ) Não' ?>
                                                    </p>
                                                <?php else :?>
                                                        <input id="simPeriodos" type="radio" name="todosperiodos" value="Sim" <?php echo (isset($this->post_var['todosperiodos']) && $this->post_var['todosperiodos'] == 'Sim') ? 'checked' : '' ?> > Sim 
                                                        <input id="naoPeriodos" type="radio" name="todosperiodos" value="Não" <?php echo (isset($this->post_var['todosperiodos']) && $this->post_var['todosperiodos'] == 'Não') ? 'checked' : '' ?> > Não
                                                <?php endif;?>
					</div>
				</div>

				<div class="control-group" id="periodosdiv">
					<label class="control-label">Selecione o Período <span class="required">*</span></label>
                                        <div class="controls">
                                            <?php if ($this->visualizar): ?>                     
                                                    <?php $escolasperiodo =  Escolasperiodos::getEscolaperiodoByIdHelper($this->post_var['periodos']); ?>
                                                    <input value="<?php echo $escolasperiodo['periodo']; ?>" name="periodovisualizar">   
                                            <?php else :?>
                                                <select name="periodos" data-placeholder="Período" class="select">
                                                        <option value="">Selecione...</option>							
                                                </select>
                                            <?php endif;?>
                                        </div>
				</div>

				<!-- <div class="control-group">
					<label class="control-label">Motivo </label>
					<div class="controls">
						<input value="1" name="motivos[]" type="checkbox"> Motivo 1<br>
						<input value="2" name="motivos[]" type="checkbox"> Motivo 2<br>
						<input value="3" name="motivos[]" type="checkbox"> Motivo 3
					</div>
				</div> -->

				<div class="control-group">
					<label class="control-label">Motivo</label>
					<div class="controls">
						<select name="motivos" data-placeholder="Tipos de Ensino" class="select">
							<option value="">Selecione...</option>
							<?php foreach (Nutricaotipos::getNutricaotiposHelper(array('status'=>'Ativo')) as $k=>$v) : ?>
							<option value="<?php echo $v['id'] ?>"><?php echo $v['tipo'] ?></option>
							<?php endforeach;?>
						</select>
					</div>
				</div>


				<div class="control-group">
					<label class="control-label">Observação </label>
					<div class="controls"><textarea class="span12" name="observacao" cols="5" rows="5"><?php echo (isset($this->post_var)) ? $this->post_var["observacao"] : ''; ?></textarea></div>
				</div>

						    
						    
						    </div>
						    
			                <div class="form-actions align-right">
			                	<?php if ((isset($this->visualizar)) && ($this->visualizar)) : ?>
			                		<button onclick="window.history.back()" class="btn btn-danger cancelar" type="button">Voltar</button>
			                	<?php else : ?>
				                	<button class="btn btn-primary enviar" type="submit">Salvar</button>
				                	<button onclick="window.history.back()" class="btn btn-danger cancelar" type="button">Cancelar</button>
			                	<?php endif; ?>
			                </div>
						</div>
						<!-- /general form elements -->

					</fieldset> 

				</form>
				<!-- /basic inputs -->

		    </div>
		    <!-- /content wrapper -->

		</div>
		<!-- content -->
				
<script type="text/javascript" src="<?php echo $this->baseUrl('/public/scripts/admin/nutricaomerendasocorrencias_form.js') ?>"></script>
<script type="text/javascript">
	var form_values = {};
	
	<?php if (isset($this->post_var)) :  ?>
                form_values.idescola = '<?php echo (isset($this->post_var['idescola'])) ? (int)$this->post_var['idescola'] : '' ?>';
                form_values.idlocal = '<?php echo (isset($this->post_var['idlocal'])) ? (int)$this->post_var['idlocal'] : '' ?>';
                form_values.periodos = [<?php echo (isset($this->post_var['periodos'])) ? $this->post_var['periodos'] : '' ?>];
                form_values.motivos = [<?php echo (isset($this->post_var['motivos'])) ? $this->post_var['motivos'] : '' ?>];
	<?php endif; ?>

	visualizar = <?php echo  ((isset($this->visualizar)) && ($this->visualizar))  ? 'true' : 'false' ?>; 

</script>
