		<!-- Content -->
		<div id="content">

		    <!-- Content wrapper -->
		    <div class="wrapper">

			    <!-- Breadcrumbs line -->
			    <div class="crumbs">
			    	<?php echo $this->render('/helpers/breadcrumb.phtml') ?>
			    </div>
			    <!-- /breadcrumbs line -->

			    <!-- Page header -->
			    <div class="page-header">
			    	<div class="page-title">
				    	<h5>Formulário do sindicância</h5>
				    	<span>Verifique os campos e preencha com os dados</span>
			    	</div>
			    </div>
			    <!-- /page header -->

			    <?php if (isset($this->crudMessage)) : ?>
					<div class="alert alert-success">
	                	<button data-dismiss="alert" class="close" type="button">×</button>
	                    <strong>Operação realizada com sucesso!</strong>
		    			<span><br /><?php echo $this->crudMessage ?></span>
	                </div>			    
			    <?php endif; ?>

				<form id="form" name="form" action="" method="post" class="form-horizontal" enctype="multipart/form-data"> 
					<input type="hidden" value="<?php echo (isset($this->post_var)) ? $this->post_var["id"] : ''; ?>" name="id" id="id" />
					
					<fieldset>
						<!-- General form elements -->
						<div class="widget row-fluid">
						    <div class="navbar">
						        <div class="navbar-inner">
						            <h6>Digite as informações do formulário</h6>
						        </div>
						    </div>

						    <div class="well">
								<?php if (isset($this->erros)) : ?>
									<div class="alert alert-error margin">
				                        <button data-dismiss="alert" class="close" type="button">×</button>
				                        <strong>Há erros no formulário!</strong>
					    				<?php foreach ($this->erros as $k=>$v) : ?>
					    					<span><br />- <?php echo $v ?></span>
					    				<?php endforeach;?>			                        
				                    </div>
			                    <?php endif; ?>						    
						    

				<div class="control-group">
					<div class="controls1 visualizar">
						<table class="table table-content" width="100%">
							<tbody>
								<tr>
									<input type="hidden" value="<?php echo (isset($this->post_var['sequencial'])) ? $this->post_var['sequencial'] : $this->sequencial ?>" name="sequencial" id="sequencial" />
									<input placeholder="Data de lançamento" name="datalancamento" value="<?php echo (isset($this->post_var['datalancamento'])) ? Mn_Util::formPostVarData($this->post_var['datalancamento']) : date('d/m/Y') ?>" type="hidden"  class="span3" />
									<input  placeholder="Hora do lançamento" name="horalancamento" value="<?php echo (isset($this->post_var['horalancamento'])) ? $this->post_var['horalancamento'] : date('G:i:s') ?>" type="hidden"  class="span3" />

									<td width="33%">Sequencial/Ano: <?php echo (isset($this->post_var['sequencial'])) ? $this->post_var['sequencial'] : $this->sequencial ?></td>
									<td width="34%">Data de lançamento: <?php echo (isset($this->post_var['datalancamento'])) ? Mn_Util::formPostVarData($this->post_var['datalancamento']) : date('d/m/Y') ?></td>
									<td width="33%">Hora de abertura: <?php echo (isset($this->post_var['horalancamento'])) ? $this->post_var['horalancamento'] : date('G:i') ?></td>
								</tr>
							</tbody>
						</table>
						
					</div>
				</div>


				<div class="control-group">
					<label class="control-label">Usuário </label>
					<div class="controls visualizar">
						<input type="hidden" value="Secretaria" name="origem" id="origem" />
						<input type="hidden" value="<?php echo (isset($this->post_var['idusuariologado'])) ? $this->post_var['idusuariologado'] : Usuarios::getUsuario('id') ?>" name="idusuariologado" id="idusuariologado" />
						<?php echo Usuarios::getUsuario('nomerazao') ?> <?php echo Usuarios::getUsuario('sobrenomefantasia') ?>
		               
					</div>
				</div>

				<div class="control-group">
					<label class="control-label">Patrimônio <span class="required">*</span></label>
					<div class="controls">
		                <select name="idpatrimonio" data-placeholder="Patrimônio" class="select" onchange="setDadosPatrimonio(this)">
							<option value="">Selecione...</option>
							<?php foreach (Patrimonios::getPatrimoniosHelper(array('status'=>'Ativo')) as $k=>$v) : ?>
							<option value="<?php echo $v['id'] ?>"><?php echo $v['numeropatrimonio'] ?></option>
							<?php endforeach;?>
						</select>
						
					</div>
				</div>

				<div class="control-group content-patrimonios" style="display:none">
					<label class="control-label">Informações  do Patrimônio</label>
					<div class="controls box-patrimonios">
		                
					</div>
				</div>

				<div class="control-group">
					<label class="control-label">Ultima localização do bem </label>
					<div class="controls">
		                <select name="ultimalocalizacao" data-placeholder="Departamento" class="select">
							<option value="">Selecione...</option>
							<?php foreach (Departamentossecretarias::getDepartamentossecretariasHelper(array('status'=>'Ativo')) as $k=>$v) : ?>
							<option value="<?php echo $v['id'] ?>"><?php echo $v['departamento'] ?></option>
							<?php endforeach;?>
						</select>
						
					</div>
				</div>


				<div class="control-group">
					<label class="control-label">Responsável </label>
					<div class="controls">
		                <select name="idresponsavel" data-placeholder="Responsável" class="select">
							<option value="">Selecione...</option>
							<?php foreach (Usuarios::getUsuariosHelper(array('status'=>'Ativo')) as $k=>$v) : ?>
							<option value="<?php echo $v['id'] ?>"><?php echo $v['nomerazao'] ?></option>
							<?php endforeach;?>
						</select>
						
					</div>
				</div>


				<div class="control-group">
					<label class="control-label">Motivo da sindicância <span class="required">*</span></label>
					<div class="controls">
						<select name="motivosindicancia" data-placeholder="Motivo da sindicância" class="select">
							<option value="">Selecione...</option>
							<option value="Danificado">Danificado</option><option value="Desaparecido">Desaparecido</option>
						</select>
						
					</div>
				</div>


				<div class="control-group">
					<label class="control-label">Nº do processo </label>
					<div class="controls"><input maxlength="500" placeholder="Nº do processo" name="numeoprocesso" value="<?php echo (isset($this->post_var['numeoprocesso'])) ? $this->post_var['numeoprocesso'] : '' ?>" type="text"  class="span3" /></div>
				</div>


				<div class="control-group">
					<label class="control-label">Descrições dos processor </label>
					<div class="controls"><textarea class="span12" name="descricoesprocessos" cols="5" rows="5"><?php echo (isset($this->post_var)) ? $this->post_var["descricoesprocessos"] : ''; ?></textarea></div>
				</div>


				<div class="control-group">
					<label class="control-label">Depoimento do sindicante </label>
					<div class="controls"><textarea class="span12" name="depoimentosindicante" cols="5" rows="5"><?php echo (isset($this->post_var)) ? $this->post_var["depoimentosindicante"] : ''; ?></textarea></div>
				</div>


				<div class="control-group">
					<label class="control-label">Parecer da sindicância </label>
					<div class="controls">
						<select name="parecersindicancia" data-placeholder="Parecer da sindicância" class="select">
							<option value="">Selecione...</option>
							<option value="Arquivamento do processo">Arquivamento do processo</option><option value="Aplicação da penalidade de advertência ou suspensão de até 30 (trinta) dias">Aplicação da penalidade de advertência ou suspensão de até 30 (trinta) dias</option><option value="intauração de processo disciplinar">intauração de processo disciplinar</option>
						</select>
						
					</div>
				</div>


				<div class="control-group">
					<label class="control-label">Nº do processo disciplinar </label>
					<div class="controls"><input maxlength="500" placeholder="Nº do processo disciplinar" name="processodisciplinar" value="<?php echo (isset($this->post_var['processodisciplinar'])) ? $this->post_var['processodisciplinar'] : '' ?>" type="text"  class="span3" /></div>
				</div>


				<div class="control-group">
					<label class="control-label">Parecer da sindicância </label>
					<div class="controls"><textarea class="span12" name="txtparecersindicancia" cols="5" rows="5"><?php echo (isset($this->post_var)) ? $this->post_var["txtparecersindicancia"] : ''; ?></textarea></div>
				</div>


				<div class="control-group">
					<label class="control-label">Observações </label>
					<div class="controls"><textarea class="span12" name="observacoes" cols="5" rows="5"><?php echo (isset($this->post_var)) ? $this->post_var["observacoes"] : ''; ?></textarea></div>
				</div>


				<div class="control-group">
					<label class="control-label">Documento </label>
					<div class="controls">
						<?php if ((isset($this->post_var['idarquivo'])) && ((int)$this->post_var['idarquivo']>0)) : ?>
							<?php echo $this->getArquivo($this->post_var['idarquivo']) ?>
						
							<?php if (!$this->visualizar) : ?>
								<div class="checkbox block">
									<label><input type="checkbox" name="excluir_idarquivo" value="excluir" /> Desejo excluir o arquivo</label>
								</div>
							<?php endif; ?>
						<?php endif; ?>
						
						<input placeholder="Documento" name="idarquivo" type="file"  />
					</div>
				</div>	


				<div class="control-group">
					<label class="control-label">Status <span class="required">*</span></label>
					<div class="controls">
						<select name="status1" data-placeholder="Status" class="select">
							<option value="">Selecione...</option>
							<option value="Ativo">Ativo</option><option value="Bloqueado">Bloqueado</option>
						</select>
						
					</div>
				</div>

						    
						    
						    </div>
						    
			                <div class="form-actions align-right">
			                	<?php if ((isset($this->visualizar)) && ($this->visualizar)) : ?>
			                		<button onclick="window.history.back()" class="btn btn-danger cancelar" type="button">Voltar</button>
			                	<?php else : ?>
				                	<button class="btn btn-primary enviar" type="submit">Salvar</button>
				                	<button onclick="window.history.back()" class="btn btn-danger cancelar" type="button">Cancelar</button>
			                	<?php endif; ?>
			                </div>
						</div>
						<!-- /general form elements -->

					</fieldset> 

				</form>
				<!-- /basic inputs -->

		    </div>
		    <!-- /content wrapper -->

		</div>
		<!-- content -->
				
<script type="text/javascript" src="<?php echo $this->baseUrl('/public/scripts/admin/patrimoniossindicancias_form.js') ?>"></script>
<script type="text/javascript">
	var form_values = {};
	
	<?php if (isset($this->post_var)) :  ?>
		form_values.idusuariologado = '<?php echo (isset($this->post_var['idusuariologado'])) ? $this->post_var['idusuariologado'] : '' ?>';

form_values.idpatrimonio = '<?php echo (isset($this->post_var['idpatrimonio'])) ? $this->post_var['idpatrimonio'] : '' ?>';

form_values.ultimalocalizacao = '<?php echo (isset($this->post_var['ultimalocalizacao'])) ? $this->post_var['ultimalocalizacao'] : '' ?>';

form_values.idresponsavel = '<?php echo (isset($this->post_var['idresponsavel'])) ? $this->post_var['idresponsavel'] : '' ?>';

form_values.motivosindicancia = '<?php echo (isset($this->post_var['motivosindicancia'])) ? $this->post_var['motivosindicancia'] : '' ?>';

form_values.parecersindicancia = '<?php echo (isset($this->post_var['parecersindicancia'])) ? $this->post_var['parecersindicancia'] : '' ?>';

form_values.status1 = '<?php echo (isset($this->post_var['status1'])) ? $this->post_var['status1'] : $this->post_var['status'] ?>';


	<?php endif; ?>

	visualizar = <?php echo  ((isset($this->visualizar)) && ($this->visualizar))  ? 'true' : 'false' ?>;
</script>
