		<!-- Content -->
		<div id="content">

		    <!-- Content wrapper -->
		    <div class="wrapper">

			    <!-- Breadcrumbs line -->
			    <div class="crumbs">
			    	<?php echo $this->render('/helpers/breadcrumb.phtml') ?>
			    </div>
			    <!-- /breadcrumbs line -->

			    <!-- Page header -->
			    <div class="page-header">
			    	<div class="page-title">
				    	<h5>Formulário do prova e trabalho</h5>
				    	<span>Verifique os campos e preencha com os dados</span>
			    	</div>
			    </div>
			    <!-- /page header -->

			    <?php if (isset($this->crudMessage)) : ?>
					<div class="alert alert-success">
	                	<button data-dismiss="alert" class="close" type="button">×</button>
	                    <strong>Operação realizada com sucesso!</strong>
		    			<span><br /><?php echo $this->crudMessage ?></span>
	                </div>			    
			    <?php endif; ?>

				<form id="form" name="form" action="" method="post" class="form-horizontal" enctype="multipart/form-data"> 
					<input type="hidden" value="<?php echo (isset($this->post_var)) ? $this->post_var["id"] : ''; ?>" name="id" id="id" />
					
					<fieldset>
						<!-- General form elements -->
						<div class="widget row-fluid">
						    <div class="navbar">
						        <div class="navbar-inner">
						            <h6>Digite as informações do formulário</h6>
						        </div>
						    </div>

						    <div class="well">
								<?php if (isset($this->erros)) : ?>
									<div class="alert alert-error margin">
				                        <button data-dismiss="alert" class="close" type="button">×</button>
				                        <strong>Há erros no formulário!</strong>
					    				<?php foreach ($this->erros as $k=>$v) : ?>
					    					<span><br />- <?php echo $v ?></span>
					    				<?php endforeach;?>			                        
				                    </div>
			                    <?php endif; ?>						    
						    
 
                <?php $idescola = Usuarios::getUsuario('idescola'); ?>
				<?php $idlocal = Usuarios::getUsuario('idlocal'); ?>

				<?php if(($idescola>0) || ($idlocal>0)): ?>		    
				<div class="control-group">
					<div class="controls1 visualizar">
						<table class="table table-content" width="100%">
							<tbody>
								<tr>
									<input maxlength="500" placeholder="Nome do Usuário" name="idusuario" value="<?php echo Usuarios::getUsuario('id') ?>" type="hidden"  class="span3" />
									<input  placeholder="Data de lançamento" name="datalancamento" value="<?php echo (isset($this->post_var['datalancamento'])) ? Mn_Util::formPostVarData($this->post_var['datalancamento']) : date('d/m/Y') ?>" type="hidden"  class="span3" />
									<input maxlength="500" placeholder="Nome do Usuário" name="idlocal" value="<?php echo Usuarios::getUsuario('idlocal') ?>" type="hidden"  class="span3" />
									<input maxlength="500" placeholder="Nome do Usuário" name="idescola" value="<?php echo Usuarios::getUsuario('idescola') ?>" type="hidden"  class="span3" />

									<td width="33%">Nome do Usuário: <?php echo Usuarios::getUsuario('nomerazao') . " - " . Usuarios::getUsuario('rgf') ?></td>
									<td width="34%">Data da Abertura: <?php echo date('d/m/Y') ?></td>
									<td width="33%">Escola: <?php 
											$local = Escolas::getEscolaByIdHelper(Usuarios::getUsuario('idescola')); 
											echo ((isset($local['escola'])) && ($local['escola']) && ($local['escola']!="") ) ? $local['escola'] : '';
										?>
											
									</td>
								</tr>
							</tbody>
						</table>
						
					</div>
				</div>
				<?php else: ?>
				<div class="control-group">
					<div class="controls1 visualizar">
						<table class="table table-content" width="100%">
							<tbody>
								<tr>
									<input maxlength="500" placeholder="Nome do Usuário" name="idusuario" value="<?php echo Usuarios::getUsuario('id') ?>" type="hidden"  class="span3" />
									<input  placeholder="Data de lançamento" name="datalancamento" value="<?php echo (isset($this->post_var['datalancamento'])) ? Mn_Util::formPostVarData($this->post_var['datalancamento']) : date('d/m/Y') ?>" type="hidden"  class="span3" />
									
									<td width="50%">Nome do Usuário: <?php echo Usuarios::getUsuario('nomerazao') . " - " . Usuarios::getUsuario('rgf') ?></td>
									<td width="50%">Data da Abertura: <?php echo date('d/m/Y') ?></td>
									
								</tr>
							</tbody>
						</table>
						
					</div>
				</div>
				<?php endif; ?>
							
				<?php if(((int)$idescola>0) || ((int)$idlocal>0)): ?>
			
					<div class="controls" style="display: none;">
                        <select id="idescola" name="idescola"  class="select" onchange="setSeries(this, 0, 0, 0)">
							<option value="<?php echo Usuarios::getUsuario('idescola') ?>"></option>
                        </select>   
					</div>

				<?php else: ?>
				<div class="control-group">
					<label class="control-label">Escolas <span class="required">*</span></label>
					<div class="controls">
                        <select id="idescola" name="idescola"  class="select" onchange="setSeries(this, 0, 0, 0)">
	                        <option value="">Selecione...</option>
	                        <?php foreach ($this->escolas as $e=>$row): ?>
	                        <option value="<?php echo $row['id'] ?>"><?php echo $row['escola'] ?></option>
	                        <?php endforeach;?>
                        </select>   
					</div>
				</div>
				<?php endif; ?>



				<div class="control-group">
					<label class="control-label">Série <span class="required">*</span></label>
					<div class="controls">
		                <select name="idserie" data-placeholder="Série" class="select" onchange="setTurmas(this, 0, 0)">
							<option value="">Selecione...</option>
							<?php foreach (Escolasseries::getEscolasseriesHelper(array('status'=>'Ativo')) as $k=>$v) : ?>
							<option value="<?php echo $v['id'] ?>"><?php echo $v['serie'] ?></option>
							<?php endforeach;?>
						</select>
					</div>
				</div>


				<div class="control-group">
					<label class="control-label">Turma <span class="required">*</span></label>
					<div class="controls">
		                <select name="idescolavinculo" data-placeholder="Turma" class="select" onchange="setAlunos(this, 0)">
							<option value="">Selecione...</option>
							<?php /*foreach (Escolasvinculos::getEscolasvinculosHelper(array('status'=>'Ativo')) as $k=>$v) : ?>
							<option value="<?php echo $v['id'] ?>"><?php echo $v['serie'] ?> <?php echo $v['turma'] ?></option>
							<?php endforeach;*/?>
						</select>
						
					</div>
				</div>


				<div class="control-group">
					<label class="control-label">Período <span class="required">*</span></label>
					<div class="controls">
		                <select name="idperiodo" data-placeholder="Período" class="select">
							<option value="">Selecione...</option>
							<?php /*foreach (Escolasperiodos::getEscolasperiodosHelper(array('status'=>'Ativo')) as $k=>$v) : ?>
							<option value="<?php echo $v['id'] ?>"><?php echo $v['periodo'] ?></option>
							<?php endforeach;*/?>
						</select>
						
					</div>
				</div>


				<div class="control-group">
					<label class="control-label">Aluno <span class="required">*</span></label>
					<div class="controls">
		                <select name="idaluno" data-placeholder="Aluno" class="select">
							<option value="">Selecione...</option>
							<?php /*foreach (Escolasalunos::getEscolasalunosHelper(array('status'=>'Ativo')) as $k=>$v) : ?>
							<option value="<?php echo $v['id'] ?>"><?php echo $v['nomerazao'] ?></option>
							<?php endforeach;*/?>
						</select>
						
					</div>
				</div>

				<div class="control-group">
					<label class="control-label">Material <span class="required">*</span></label>
					<div class="controls">						
							<input type="radio" value="Prova" name="material" style="margin-right:2px" checked="checked" />Prova<br /> 
							<input type="radio" value="Trabalho" name="material" style="margin-right:2px" />Trabalho
					</div>
				</div>
<?php /*/?>
				<div class="control-group">
					<label class="control-label">Material <span class="required">*</span></label>
					<div class="controls">
						<select name="material" data-placeholder="Material" class="select">
							<option value="">Selecione...</option>
							<option value="Prova">Prova</option><option value="Trabalho">Trabalho</option>
						</select>
						
					</div>
				</div>
<?php */?>

				<div class="control-group">
					<label class="control-label">Descrições </label>
					<div class="controls"><textarea class="span12" name="descricoes" cols="5" rows="5"><?php echo (isset($this->post_var)) ? $this->post_var["descricoes"] : ''; ?></textarea></div>
				</div>

	        		<div class="control-group">
	        			
	        			<div class="controls_1">
							<?php echo $this->render('/secretariasprovastrabalhos/helpers/multiplosarquivos.phtml') ?>
						</div>
					</div>


				<div class="control-group">
					<label class="control-label">Status <span class="required">*</span></label>
					<div class="controls">
						<select name="status1" data-placeholder="Status" class="select">
							<option value="">Selecione...</option>
							<option value="Ativo">Ativo</option><option value="Bloqueado">Bloqueado</option>
						</select>
						
					</div>
				</div>
						    </div>
						    
			                <div class="form-actions align-right">
			                	<?php if ((isset($this->visualizar)) && ($this->visualizar)) : ?>
			                		<button onclick="window.history.back()" class="btn btn-danger cancelar" type="button">Voltar</button>
			                	<?php else : ?>
				                	<button class="btn btn-primary enviar" type="submit">Salvar</button>
				                	<button onclick="window.history.back()" class="btn btn-danger cancelar" type="button">Cancelar</button>
			                	<?php endif; ?>
			                </div>
						</div>
						<!-- /general form elements -->

					</fieldset> 

				</form>
				<!-- /basic inputs -->

		    </div>
		    <!-- /content wrapper -->

		</div>
		<!-- content -->
				
<script type="text/javascript" src="<?php echo $this->baseUrl('/public/scripts/admin/secretariasprovastrabalhos_form.js') ?>"></script>
<script type="text/javascript">
	var form_values = {};
	
	<?php if (isset($this->post_var)) :  ?>
		form_values.idusuariologado = '<?php echo (isset($this->post_var['idusuariologado'])) ? $this->post_var['idusuariologado'] : '' ?>';

form_values.idescola = '<?php echo (isset($this->post_var['idescola'])) ? $this->post_var['idescola'] : '' ?>';

form_values.idserie = '<?php echo (isset($this->post_var['idserie'])) ? $this->post_var['idserie'] : '' ?>';

form_values.idescolavinculo = '<?php echo (isset($this->post_var['idescolavinculo'])) ? $this->post_var['idescolavinculo'] : '' ?>';

form_values.idperiodo = '<?php echo (isset($this->post_var['idperiodo'])) ? $this->post_var['idperiodo'] : '' ?>';

form_values.idaluno = '<?php echo (isset($this->post_var['idaluno'])) ? $this->post_var['idaluno'] : '' ?>';

form_values.material = '<?php echo (isset($this->post_var['material'])) ? $this->post_var['material'] : '' ?>';

form_values.status1 = '<?php echo (isset($this->post_var['status1'])) ? $this->post_var['status1'] : $this->post_var['status'] ?>';
	
	<?php else: ?>
		setSeries($('input[name=idescola]'), 0, '<?php echo $idescola ?>', 0);
		setAlunos($('input[name=idescola]'), 0);
	<?php endif; ?>

	visualizar = <?php echo  ((isset($this->visualizar)) && ($this->visualizar))  ? 'true' : 'false' ?>;
</script>
