<!-- Content -->
<div id="content">

    <!-- Content wrapper -->
    <div class="wrapper">

        <!-- Breadcrumbs line -->
        <div class="crumbs">
            <?php echo $this->render('/helpers/breadcrumb.phtml') ?>
        </div>
        <!-- /breadcrumbs line -->

        <!-- Page header -->
        <div class="page-header">
            <div class="page-title">
                <h5>Formulário da Atribuição</h5>
                <span>Formulário da Atribuição</span>
            </div>
        </div>
        <!-- /page header -->

        <?php if (isset($this->crudMessage)) : ?>
            <div class="alert alert-success">
                <button data-dismiss="alert" class="close" type="button">×</button>
                <strong>Operação realizada com sucesso!</strong>
                <span><br /><?php echo $this->crudMessage ?></span>
            </div>              
        <?php endif; ?>

        <form id="form" name="form" action="" method="post" class="form-horizontal" enctype="multipart/form-data"> 
            <input type="hidden" class="idveiculo" value="<?php echo (isset($this->post_var['id'])) ? $this->post_var["id"] : ''; ?>" name="idveiculo" id="idveiculo" />

            <fieldset>
                <!-- General form elements -->
                <div class="widget row-fluid">

                    <div class="well">

                        <div class="control-group">
                            <label class="control-label">Veículo </label>
                            <div class="controls">
                                <input type="text" maxlength="500" size="50" placeholder="Veículo" name="veiculo" disabled="true" value="<?php echo (isset($this->post_var)) ? $this->post_var['veiculo'] : "" ?>" class="span3" />
                            </div>
                        </div>

                        <div class="control-group">
                            <label class="control-label">Placa </label>
                            <div class="controls">
                                <input type="text" maxlength="7" oninput="this.value = this.value.toUpperCase()" size="50" placeholder="Placa" name="placa" disabled="true" value="<?php echo (isset($this->post_var)) ? $this->post_var['placa'] : "veio vazio" ?>" class="span3" />
                            </div>
                        </div>

                        <div class="control-group">
                            <label class="control-label">Capacidade </label>
                            <div class="controls">
                                <input type="number" size="50" placeholder="Capacidade" name="capacidade" disabled="true" value="<?php echo (isset($this->post_var)) ? $this->post_var['quantidade'] : "" ?>" class="span3" />
                            </div>
                        </div>

                    </div>

                    <div class="control-group">
                        <div class="controls1">
                            <div class="att-left">
                                <div>
                                    <div>
                                        <label class="control-label">Tipo: </label>
                                        <select class="select" onchange="setEntidades(this)">
                                            <option value="">Selecione...</option>
                                            <option value="municipal">Municipal</option>
                                            <option value="estadual">Estadual</option>
                                            <option value="universidade">Universidade</option>
                                        </select>
                                    </div>
                                    <div>
                                        <label class="control-label">Entidades: </label>
                                        <select id="identidade" name="identidade" class="select" onchange="setEstudantes(this)">
                                            <option value="">Selecione...</option>
                                            
                                        </select>
                                    </div>
                                </div>
                                <div class="box-estudantes"></div>
                            </div>

                            <div class="att-right">
                                <p></p>
                                <div class="box-veiculo">

                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-actions align-left">
                        <button onclick="window.history.back()" class="btn btn-danger cancelar" type="button">Voltar</button>
                    </div>

                </div>
            </fieldset>
        </form>
        <!-- /basic inputs -->
    </div>
    <!-- /content wrapper -->

</div>
<!-- content -->

<script src="<?php echo $this->baseUrl() ?>/public/scripts/ui.dragdrop.js"></script>
<script type="text/javascript" src="<?php echo $this->baseUrl('/public/scripts/admin/lteveiculosestudantes_form.js') ?>"></script>

<script type="text/javascript">
    var form_values = {};

    <?php if (isset($this->post_var['identidade'])) : ?>
        form_values.identidade = '<?php echo $this->post_var['identidade'] ?>';
    <?php endif; ?>

    <?php if (isset($this->post_var['id'])) : ?>
        form_values.idveiculo = '<?php echo $this->post_var['id'] ?>';
    <?php endif; ?>

    <?php if (isset($this->post_var['quantidade'])) : ?>
        form_values.capacidade = '<?php echo $this->post_var['quantidade'] ?>';
    <?php endif; ?>
</script>

<!-- colocar no main.css -->
<style type="text/css">
.box-estudantes { margin: 12px 0 0 0; }
.box-estudantes .linha-draggable { padding: 6px; border:1px solid #000; margin:0 0 2px 0; cursor: grab; /*color:#FFF;*/ }
.box-estudantes .on { display:block; }
.box-estudantes .off { display:none; }

.att-left { float:left; width: 24%; text-align: left; }
.att-right { float:right; width: 74%; text-align: left; }
.att-right .box-veiculo {  }
.att-right .box-veiculo p.titulo-sala { margin-bottom: 0; }
.att-right .box-veiculo .content-alunos { width: 96%; border: 1px solid #000; padding:6px; margin-bottom: 8px; height:auto; }
.att-right .box-veiculo .content-alunos .linha { color:#FF0; padding: 6px; border:1px solid #000; position: relative; float:left; margin:0 1px 4px 1px; width: 31%; }
.att-right .box-veiculo .content-alunos .linha .fechar { position: absolute; right:4px; top:6px; }
.att-right .box-veiculo #accordion2 .panel-title a { color: #ccc; padding:0 0 0 6px; }
.att-right .box-veiculo #accordion2 h4.panel-title  { background-color: #1d2939; color: #ccc; border-bottom: 1px solid #273548; width:98%; margin:0; padding:10px 0;}
</style>