<?php if (sizeof($this->rows)==0) : ?>
<option value="">Selecione...</option>
<option value="">Nenhuma entidade foi encontrada</option>
<?php else : ?>
<option value="">Selecione...</option>
<?php foreach ($this->rows as $row) : ?>
<option value="<?php echo $row['id'] ?>" data-tipo="<?php echo $row['tipo'] ?>"><?php echo $row['entidade'] ?></option>
<?php endforeach; ?>
<?php endif; ?>