<div>
	<?php foreach ($this->rows as $row) : ?>

		<div class="linha-draggable aluno_<?php echo $row['id'].$row['tipo'] ?>">
			<input type="hidden" name="idaluno" class="form-control" value="<?php echo $row['id'] ?>" />
			<input type="hidden" name="nome" class="form-control" value="<?php echo $row['nome'] ?>" />
			<input type="hidden" name="tipo" class="form-control" value="<?php echo $row['tipo'] ?>" />
			<?php echo $row['nome'] ?>
		</div>

	<?php endforeach; ?>
</div>

<script type="text/javascript">
	jQuery(document).ready(function() {
		$(".linha-draggable").draggable( {
			cursor: 'pointer',
			helper: 'clone',
			opacity: 0.75,
			create: function () {
				var eq = $(this).index();
				$(this).attr('data-index', eq);
			}
		});

		$(".content-alunos").droppable( {
			drop: function(event, ui) {
				$idestudante = ui.draggable.find("input[name=idaluno]").attr("value");
				$tipo 		 = ui.draggable.find("input[name=tipo]").attr("value");
				$nomeFrom    = ui.draggable.find("input[name=nome]").attr("value");
				$idveiculo 	 = form_values.idveiculo;
				var path = $(this);
				$.post(baseUrl + '/admin/lteveiculosestudantes/setvinculos/', {idveiculo: $idveiculo, idestudante: $idestudante, tipo: $tipo}, function(data) {

					if ($.isNumeric(data)) {

						var d_html = '<div class="linha" style="background-color: #375290"><div class="fechar"><a href="javascript:;" title="" onclick="ExcluirAluno(this, \''+$idestudante.concat($tipo)+'\')"><img src="<?php echo $this->baseUrl()?>/public/admin/imagens/fugue/cross-circle.png" alt="" width="16" /></a></div><input type="hidden" name="iditem" class="form-control" value="'+data+'" />'+$nomeFrom+'</div><br class="clear" clear="all" />';
						path.find('br.clear').remove();
						path.append(d_html);

						var item =  $('.aluno_' + $idestudante.concat($tipo));
						item.addClass("off");
						contador();
					} else {
						jAlert(data, "CAPACIDADE MÁXIMA ATINGIDA!");
					}
				});
			}
		});
	});
</script>
