<div class="panel-group panel-group-dark" id="accordion2">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion2" href="#">
                    CAPACIDADE MÁXIMA <span id="total"></span> de <span id="capacidademaxima"></span>
                </a>
            </h4>
        </div>
    </div>

    <div id="" class="panel-collapse collapse in" >

        <div class="content-alunos" id="aba0" >

            <div>ARRASTE PARA ADICIONAR MAIS ESTUDANTES</div>
                <br clear="all" />
                <?php foreach ($this->rows as $row) : ?>
                <div class="linha" style="background-color: #375290">
                    <div class="fechar">
                        <!-- não esta passando o id como parametro por causa da concatenação, forçar virar string -->
                        <a href="javascript:;" title="" onclick="ExcluirAluno(this, '<?php echo $row['idestudante'].$row['tipoestudante'] ?>')"><img src="<?php echo $this->baseUrl()?>/public/admin/imagens/fugue/cross-circle.png" alt="" width="16" /></a>
                    </div>
                    <input type="hidden" name="iditem" class="form-control" value="<?php echo $row['id']?>" />
                    <?php echo $this->cortaPalavra(30, $row['nome']) ?>
                </div>
                <?php endforeach; ?>
                <br class="clear" clear="all" />
        </div>
    </div>
</div>

<script type="text/javascript">
    jQuery(document).ready(function() {
        contador();
    });
</script>
