		<!-- Content -->
		<div id="content">

		    <!-- Content wrapper -->
		    <div class="wrapper">

			    <!-- Breadcrumbs line -->
			    <div class="crumbs">
			    	<?php echo $this->render('/helpers/breadcrumb.phtml') ?>
			    </div>
			    <!-- /breadcrumbs line -->

			    <!-- Page header -->
			    <div class="page-header">
			    	<div class="page-title">
				    	<h5>Formulário do diploma</h5>
				    	<span>Verifique os campos e preencha com os dados</span>
			    	</div>
			    </div>
			    <!-- /page header -->

			    <?php if (isset($this->crudMessage)) : ?>
					<div class="alert alert-success">
	                	<button data-dismiss="alert" class="close" type="button">×</button>
	                    <strong>Operação realizada com sucesso!</strong>
		    			<span><br /><?php echo $this->crudMessage ?></span>
	                </div>			    
			    <?php endif; ?>

				<form id="form" name="form" action="" method="post" class="form-horizontal" enctype="multipart/form-data"> 
					<input type="hidden" value="<?php echo (isset($this->post_var)) ? $this->post_var["id"] : ''; ?>" name="id" id="id" />
					
					<fieldset>
						<!-- General form elements -->
						<div class="widget row-fluid">
						    <div class="navbar">
						        <div class="navbar-inner">
						            <h6>Digite as informações do formulário</h6>
						        </div>
						    </div>

						    <div class="well">
								<?php if (isset($this->erros)) : ?>
									<div class="alert alert-error margin">
				                        <button data-dismiss="alert" class="close" type="button">×</button>
				                        <strong>Há erros no formulário!</strong>
					    				<?php foreach ($this->erros as $k=>$v) : ?>
					    					<span><br />- <?php echo $v ?></span>
					    				<?php endforeach;?>			                        
				                    </div>
			                    <?php endif; ?>						    
						    


				<div class="control-group">
					<label class="control-label">Alunos </label>
					<div class="controls">
						<table class="table table-primary mb30">
							<thead>
								<tr>
									<th width="100%">Aluno</th>
								</tr>
							</thead>
							
							<tbody id="content_list_alunos">
								<?php foreach ($this->alunos as $a=>$aluno) : ?>
								<tr>
									<td width="100%">
										<?php if ((isset($this->visualizar)) && ($this->visualizar)) : ?>
											<input type="checkbox" value="<?php echo $aluno['id']?>" name="idsalunos[]"><span><?php echo $aluno['nomerazao'] ?> <?php echo $aluno['sobrenomefantasia'] ?></span>
										<?php else: ?>
											<input type="checkbox" value="<?php echo $aluno['id']?>" name="idsalunos[]"><?php echo $aluno['nomerazao'] ?> <?php echo $aluno['sobrenomefantasia'] ?>
										<?php endif;?>
									</td>       						
								</tr>
								<?php endforeach;?>
							</tbody>
							
						</table>
					</div>
				</div>


				<div class="control-group">
					<label class="control-label">Assinatura </label>
					<div class="controls">
						<?php if ((isset($this->post_var['idimagemassinatura'])) && ((int)$this->post_var['idimagemassinatura']>0)) : ?>
							<?php echo $this->getImagem($this->post_var['idimagemassinatura'], 80, 80, '', Imagens::$INDISPONIVEL) ?>
					
							<?php if (!$this->visualizar) : ?>
								<div class="checkbox block">
									<label><input type="checkbox" name="excluir_idimagemassinatura" value="excluir_idimagemassinatura" /> Desejo excluir a imagem</label>
								</div>
							<?php endif; ?>
						<?php endif; ?>						            
					
						<input placeholder="Assinatura" name="idimagemassinatura" type="file"  />
					</div>
				</div>	


				<div class="control-group">
					<label class="control-label">Curso <span class="required">*</span></label>
					<div class="controls"><input maxlength="500" placeholder="Curso" name="curso" value="<?php echo (isset($this->post_var['curso'])) ? $this->post_var['curso'] : '' ?>" type="text"  class="span3" /></div>
				</div>


				<div class="control-group">
					<label class="control-label">Duração <span class="required">*</span></label>
					<div class="controls"><input maxlength="500" placeholder="Duração" name="duracao" value="<?php echo (isset($this->post_var['duracao'])) ? $this->post_var['duracao'] : '' ?>" type="text"  class="span3" /></div>
				</div>


				<div class="control-group">
					<label class="control-label">Diretor <span class="required">*</span></label>
					<div class="controls"><input maxlength="500" placeholder="Diretor" name="diretor" value="<?php echo (isset($this->post_var['diretor'])) ? $this->post_var['diretor'] : '' ?>" type="text"  class="span3" /></div>
				</div>


				<div class="control-group">
					<label class="control-label">Instituição <span class="required">*</span></label>
					<div class="controls"><input maxlength="500" placeholder="Instituição" name="instituicao" value="<?php echo (isset($this->post_var['instituicao'])) ? $this->post_var['instituicao'] : '' ?>" type="text"  class="span3" /></div>
				</div>


				<div class="control-group">
					<label class="control-label">Cidade <span class="required">*</span></label>
					<div class="controls"><input maxlength="500" placeholder="Cidade" name="cidade" value="<?php echo (isset($this->post_var['cidade'])) ? $this->post_var['cidade'] : '' ?>" type="text"  class="span3" /></div>
				</div>


				<div class="control-group">
					<label class="control-label">UF <span class="required">*</span></label>
					<div class="controls"><input maxlength="50" placeholder="UF" name="uf" value="<?php echo (isset($this->post_var['uf'])) ? $this->post_var['uf'] : '' ?>" type="text"  class="span3" /></div>
				</div>


				<div class="control-group">
					<label class="control-label">Data Início</label>
					<div class="controls"><input placeholder="Data Início" name="datainicio" value="<?php echo (isset($this->post_var['datainicio'])) ? Mn_Util::formPostVarData($this->post_var['datainicio']) : '' ?>" type="text"  class="span3" /></div>
				</div>


				<div class="control-group">
					<label class="control-label">Data Fim</label>
					<div class="controls"><input placeholder="Data Fim" name="datafim" value="<?php echo (isset($this->post_var['datafim'])) ? Mn_Util::formPostVarData($this->post_var['datafim']) : '' ?>" type="text"  class="span3" /></div>
				</div>


				<div class="control-group">
					<label class="control-label">Status <span class="required">*</span></label>
					<div class="controls">
						<select name="status1" data-placeholder="Status" class="select">
							<option value="">Selecione...</option>
							<option value="Ativo">Ativo</option><option value="Bloqueado">Bloqueado</option>
						</select>
						
					</div>
				</div>

						    
						    
						    </div>
						    
			                <div class="form-actions align-right">
			                	<?php if ((isset($this->visualizar)) && ($this->visualizar)) : ?>
			                		<button onclick="window.history.back()" class="btn btn-danger cancelar" type="button">Voltar</button>
			                	<?php else : ?>
				                	<button class="btn btn-primary enviar" type="submit">Salvar</button>
				                	<button onclick="window.history.back()" class="btn btn-danger cancelar" type="button">Cancelar</button>
			                	<?php endif; ?>
			                </div>
						</div>
						<!-- /general form elements -->

					</fieldset> 

				</form>
				<!-- /basic inputs -->

		    </div>
		    <!-- /content wrapper -->

		</div>
		<!-- content -->
				
<script type="text/javascript" src="<?php echo $this->baseUrl('/public/scripts/admin/diplomas_form.js') ?>"></script>
<script type="text/javascript">
	var form_values = {};
	
	<?php if (isset($this->post_var)) :  ?>
		form_values.status1 = '<?php echo (isset($this->post_var['status1'])) ? $this->post_var['status1'] : $this->post_var['status'] ?>';


	<?php endif; ?>

	visualizar = <?php echo  ((isset($this->visualizar)) && ($this->visualizar))  ? 'true' : 'false' ?>;
</script>
