<table width="100%" cellpadding="0" cellspacing="0" border="0">
        <tr>
                <td  width="100%" height="100%">
                        <?php foreach($this->rows as $i=>$row): ?>
                        <?php 
                                $ferias = new Ferias();
                                $prefeitura = new Prefeituras();
                                $enderecos =  new Enderecos();
                                $estados = new Estados();

                                $docFerias = $ferias->getFeriaById($row['id']);
                                $funcionario = Funcionariosgeraisescolas::getFuncionariogeralescolaByIdHelper($docFerias['idfuncionarioferias']);
                                $dadosPrefeitura = $prefeitura->getPrefeituraById($funcionario['idsecretaria']);
                                $endereco = $enderecos->getEnderecoById($dadosPrefeitura['idendereco']);
                                $estado = $estados->getEstadosHelper(array('id'=>$endereco['idestado']));
                                
                                $local = Locais::getLocalByIdHelper($docFerias['idlocal']);

                        ?>					
                        <table style="width: 100%;" cellpadding="0" cellspacing="0" border="0">
                            <tbody>
                                <tr>
                                    <td style="width: 10%;" align="right" rowspan="3">
                                            <?php //if ((isset($dadosPrefeitura['idimagem'])) && ((int)$dadosPrefeitura['idimagem']>0)) {
                                                  //  $idimagem = (int)$dadosPrefeitura['idimagem'];
                                                  //  echo '<img src="',HTTP_URL,$this->getImagem($idimagem, 110, 140, '', Imagens::$INDISPONIVEL),'" alt="" width="110" height="140"';
                                            //}
                                            ?>
                                            <img src="<?php echo $this->baseUrl(),'/public/admin/imagens/logosantaisabel.jpg';?>" alt="" width="210" height="240"> 
                                    </td>
                                    <td style="width: 90%;" align="center"><b>Prefeitura Municipal de Santa Isabel</b></td>
                                </tr>
                                <tr>
                                    <td style="width: 90%;" align="center"><b>Secretaria Municipal de Educação teste</b></td>
                                </tr>
                                <tr>
                                    <td style="width: 90%;" align="center">
                                        <?php 
                                            $logradouro     = ((isset($endereco['endereco'])) && ($endereco['endereco'] != "")) ? $endereco['endereco'] : '';
                                            $numero         = ((isset($endereco['numero'])) && ($endereco['numero'] != "")) ? ', '.$endereco['numero'] : 'S/N';
                                            $complemento    = ((isset($endereco['complemento'])) && ($endereco['complemento'] != "")) ? ', '.$endereco['complemento'] : '';
                                            $bairro         = ((isset($endereco['bairro'])) && ($endereco['bairro'] != "")) ? ', '.$endereco['bairro'] : '';
                                            $cidade         = ((isset($endereco['cidade'])) && ($endereco['cidade'] != "")) ? ', '.$endereco['cidade'] : '';
                                            $uf             = ((isset($endereco['idestado'])) && ($endereco['idestado'] != "")) ? ' - '. 'SP' : '';
                                            $cep            = ((isset($endereco['cep'])) && ($endereco['cep'] != "")) ? '<br>CEP: '.$endereco['cep'] : '';
                                            $telefone       = ((isset($dadosPrefeitura['telefone']))&& ($dadosPrefeitura['telefone'] != "")) ? 'Tel. '.$dadosPrefeitura['telefone']:'';
                                            //Fazer alteração para trazer de estado
                                            //echo ($estado['uf']);
                                            
                                            echo $logradouro, $numero, $complemento, $bairro, $cidade, $uf,' - ', $telefone, $cep;?>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="2">
                                        &nbsp;
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="2" align="right">
                                        <p>
                                            <?php 
                                                    setlocale(LC_TIME, 'pt_BR', 'pt_BR.utf-8', 'pt_BR.utf-8', 'portuguese');
                                                    date_default_timezone_set('America/Sao_Paulo');
                                                    echo $endereco['cidade'],', ', strftime('%d de %B de %Y', strtotime('today'));
                                            ?>
                                        </p>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="2" align="center">
                                        <p><b>Solicitação de Férias</b></p>
                                        <p>&nbsp;</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="2">
                                        <table width="100%" cellpadding="0" cellspacing="0" border="0">
                                            <tr>
                                                <td width="60%" >
                                                    <b>Nome:</b> <?php echo ((isset($funcionario['nome'])) && ($funcionario['nome']!="") ) ? $funcionario['nome'] : '' ?>                                                        
                                                </td>
                                                <td width="40%" align="left" >
                                                    <b>Prontuário:</b> <?php echo ((isset($funcionario['rgf'])) && ($funcionario['rgf']!="") ) ? $funcionario['rgf'] : '' ?>                                                        
                                                </td>
                                            </tr> 
                                        </table>    
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="2">
                                        <p><b>Vem mui respeitosamente requerer:</b></p>
                                        <p>(<?php echo ($docFerias['dias'] == '30') ? '&nbsp;X&nbsp;':'&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;'; ?>) <b>30</b> dias de férias </p>
                                        <p>(<?php echo ($docFerias['dias'] == '20') ? '&nbsp;X&nbsp;':'&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;'; ?>) <b>20</b> dias de férias e o restante em <b>abono pecuniário</b> </p>
                                        <p>(<?php echo (($docFerias['dias'] != '30') && ($docFerias['dias'] != '20')) ? '&nbsp;X&nbsp;) Outro período [ <b>'.$docFerias['dias'].'</b> ] dias' :'&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;) Outro período'; ?> </p>
                                        <p>&nbsp;</p>
                                        <p>Referente ao <b>período aquisitivo</b> de: <?php echo Mn_Util::formPostVarData($docFerias['aquisicaoini']), ' a ', Mn_Util::formPostVarData($docFerias['aquisicaofim']); ?></p>
                                        <p>Com <b>gozo a partir de:</b> <?php echo Mn_Util::formPostVarData($docFerias['datainicio']); ?> e <b>retorno em </b>  <?php echo Mn_Util::formPostVarData($docFerias['datafim']); ?> </p>
                                        <p>&nbsp;</p>
                                        <p>(<?php echo ($docFerias['adiantamento13o'] == 'sim') ? '&nbsp;X&nbsp;':'&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;'; ?>) <b>Opto</b> pelo adiantamento da <b>primeira</b> parcela do 13º salário, conforme o previsto no Art.  92-B da Lei Orgânica Municipal. </p>
                                        <p>(<?php echo ($docFerias['adiantamento13o'] == 'nao') ? '&nbsp;X&nbsp;':'&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;'; ?>) <b>Não</b> opto pelo adiantamento da primeira parcela do 13º salário. </p>
                                        <p>Termos em que, pede deferimento. </p>
                                        <p>&nbsp;</p>
                                    </td>
                                </tr>
                                
                                <tr>
                                    <td width="55%">&nbsp;</td>
                                    <td width="45%" align="right" >
                                        <table width="300px" cellpadding="0" cellspacing="0" border="0">
                                            <tr>
                                                <td align="center" >
                                                    <p>
                                                        ______________________________________<br>Requerente
                                                    </p>
                                                </td>
                                            </tr> 
                                        </table>    
                                    </td>
                                </tr>
                                <tr>
                                    <td width="55%">&nbsp;</td>
                                    <td width="45%" align="right" >
                                        <table width="300px" cellpadding="0" cellspacing="0" border="0">
                                            <tr>
                                                <td align="center" >
                                                    <p>
                                                    ______________________________________<br>Assinatura e carimbo do Responsável
                                                    </p>
                                                </td>
                                            </tr> 
                                        </table>    
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="2">
                                        <p>&nbsp;</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="2" align="center">
                                            <?php echo 'Secretaria Municipal de Educação','<br>',$telefone; ?>
                                    </td>
                                </tr>
                            </tbody>
                        </table>                    
                        <?php endforeach; ?>			    
                </td>
        </tr>
		
</table>
