
		<!-- Content -->
		<div id="content">

		    <!-- Content wrapper -->
		    <div class="wrapper">

			    <!-- Breadcrumbs line -->
			    <div class="crumbs">
			    	<?php echo $this->render('/helpers/breadcrumb.phtml') ?>
			    </div>
			    <!-- /breadcrumbs line -->

			    <!-- Page header -->
			    <div class="page-header">
			    	<div class="page-title">
				    	<h5>Formulário do teste</h5>
				    	<span>Verifique os campos e preencha com os dados</span>
			    	</div>
			    </div>
			    <!-- /page header -->

			    <?php if (isset($this->crudMessage)) : ?>
					<div class="alert alert-success">
	                	<button data-dismiss="alert" class="close" type="button">×</button>
	                    <strong>Operação realizada com sucesso!</strong>
		    			<span><br /><?php echo $this->crudMessage ?></span>
	                </div>			    
			    <?php endif; ?>

				<form id="form" name="form" action="" method="post" class="form-horizontal" enctype="multipart/form-data"> 
					<input type="hidden" value="<?php echo (isset($this->post_var)) ? $this->post_var["id"] : ''; ?>" name="id" id="id" />
					
					<fieldset>
						<!-- General form elements -->
						<div class="widget row-fluid">
						    <div class="navbar">
						        <div class="navbar-inner">
						            <h6>Digite as informações do formulário</h6>
						        </div>
						    </div>

						    <div class="well">
								<?php if (isset($this->erros)) : ?>
									<div class="alert alert-error margin">
				                        <button data-dismiss="alert" class="close" type="button">×</button>
				                        <strong>Há erros no formulário!</strong>
					    				<?php foreach ($this->erros as $k=>$v) : ?>
					    					<span><br />- <?php echo $v ?></span>
					    				<?php endforeach;?>			                        
				                    </div>
			                    <?php endif; ?>						    
						    

        		<?php if($this->getParam('tipo')=="professor"): ?>
				<div class="control-group">
					<label class="control-label">Poderá realizar perguntas aos Professores <span class="required">*</span></label>
					<div class="controls">
						<select name="perguntasprofessores" data-placeholder="Poderá realizar perguntas aos Professores" class="select">
        					<option value="">Selecione...</option>
        					<option value="Não">Não</option>
        					<option value="Sim">Sim</option>
						</select>
						
					</div>
				</div>
				<?php elseif ($this->getParam('tipo')=="secretaria"): ?>
				<div class="control-group">
					<label class="control-label">Poderá realizar perguntas a secretaria <span class="required">*</span></label>
					<div class="controls">
						<select name="perguntassecretaria" data-placeholder="Poderá realizar perguntas a secretaria" class="select">
        					<option value="">Selecione...</option>
        					<option value="Não">Não</option>
        					<option value="Sim">Sim</option>
						</select>
						
					</div>
				</div>
				<?php endif;?>


						    
						    
						    </div>
						    
			                <div class="form-actions align-right">
			                	<?php if ((isset($this->visualizar)) && ($this->visualizar)) : ?>
			                		<button onclick="window.history.back()" class="btn btn-danger cancelar" type="button">Voltar</button>
			                	<?php else : ?>
				                	<button class="btn btn-primary enviar" type="submit">Salvar</button>
				                	<button onclick="window.history.back()" class="btn btn-danger cancelar" type="button">Cancelar</button>
			                	<?php endif; ?>
			                </div>
						</div>
						<!-- /general form elements -->

					</fieldset> 

				</form>
				<!-- /basic inputs -->

		    </div>
		    <!-- /content wrapper -->

		</div>
		<!-- content -->




<?php /*?>
<div class="contentpanel">

	<div class="panel panel-default">
	
		<div class="panel-heading">
			
			<?php if (isset($this->erros)) :  ?>
			<div class="alert alert-danger">
				<button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
				<strong>Erro!</strong> 
				<?php foreach ($this->erros as $erro) : ?>
				<br /><?php echo $erro?>
				<?php endforeach;?>
			</div>				
			
			<?php endif;?>
			
			<h4 class="panel-title">Formulário da configuração</h4>
			<p>Informe os dados do registro.</p>
        </div>
        <div class="panel-body panel-body-nopadding">
        	<form id="form" name="form" method="post" class="form-horizontal form-bordered">
        		
        	
        		<?php if($this->getParam('tipo')=="professor"): ?>
        		<div class="form-group">
        			<label class="col-sm-3 control-label">Poderá realizar perguntas aos Professores *</label>
        			<div class="col-sm-6">
        				<select id="perguntasprofessores" name="perguntasprofessores" class="form-control">
        					<option value="">Selecione...</option>
        					<option value="Não">Não</option>
        					<option value="Sim">Sim</option>
						</select>
						<input type="hidden" value="<?php echo (isset($this->post_var['perguntassecretaria'])) ? $this->post_var["perguntassecretaria"] : ''; ?>" name="perguntassecretaria" id="perguntassecretaria" />        				
					</div>
				</div>	
				<?php elseif ($this->getParam('tipo')=="secretaria"): ?>
        		<div class="form-group">
        			<label class="col-sm-3 control-label">Poderá realizar perguntas aos Professores *</label>
        			<div class="col-sm-6">
        				<select id="perguntassecretaria" name="perguntassecretaria" class="form-control">
        					<option value="">Selecione...</option>
        					<option value="Não">Não</option>
        					<option value="Sim">Sim</option>
						</select>
						<input type="hidden" value="<?php echo (isset($this->post_var['perguntasprofessores'])) ? $this->post_var["perguntasprofessores"] : ''; ?>" name="perguntasprofessores" id="perguntasprofessores" />        				
					</div>
				</div>					
				<?php endif;?>
				
				<div class="panel-footer">
					<div class="row">
						<div class="col-sm-6 col-sm-offset-3">
							<button class="btn btn-primary">Salvar</button>&nbsp;
							<button type="button" onclick="location.href='<?php echo $this->baseUrl() ?>/admin/<?php echo $this->getController()?>'" class="btn btn-default">Cancelar</button>
						</div>
					</div>
				</div><!-- panel-footer -->				
				
			</form>
          
		</div><!-- panel-body -->
	</div>
</div>
<?php */?>
<script type="text/javascript" src="<?php echo $this->baseUrl('/public/scripts/alunos/permissoes_form.js') ?>"></script>

<script type="text/javascript">
	<?php if (isset($this->erros)) : ?>
		erros = new Array();
		<?php foreach ($this->erros as $erro) : ?>
		erros.push('<?php echo $erro?>');
		<?php endforeach;?>
		setErrosBox(erros, true);
	<?php endif; ?>

	var form_values = new Object();
	form_values.perguntasprofessores = '<?php echo $this->post_var['perguntasprofessores'] ?>';
	form_values.perguntassecretaria = '<?php echo $this->post_var['perguntassecretaria'] ?>';
	
	var action = '<?php echo $this->getAction() ?>';
</script>

