		<!-- Content -->
		<div id="content">

		    <!-- Content wrapper -->
		    <div class="wrapper">

			    <!-- Breadcrumbs line -->
			    <div class="crumbs">
			    	<?php echo $this->render('/helpers/breadcrumb.phtml') ?>
			    </div>
			    <!-- /breadcrumbs line -->

			    <!-- Page header -->
			    <div class="page-header">
			    	<div class="page-title">
				    	<h5>Permissões de perguntas dos alunos</h5>
				    	<span>Visualize as permissões de perguntas do aluno</span>
			    	</div>
			    	
			    </div>
			    <!-- /page header -->
			    
			    <?php if (isset($this->crudMessage)) : ?>
				<div class="alert alert-success">
                	<button data-dismiss="alert" class="close" type="button">×</button>
                    <strong>Operação realizada com sucesso!</strong>
	    			<span><br /><?php echo $this->crudMessage ?></span>
                </div>			    
			    <?php endif; ?>




	                        	                        
                <!-- Table with footer -->
                <div class="widget">
                	<form action="#" class="form-horizontal" method="post">
                		<input type="hidden" value="<?php echo (isset($this->post_var['sorting'])) ? $this->post_var['sorting'] : '' ?>" name="sorting" />
	                	<div class="navbar">
	                		<div class="navbar-inner">
	                			<h6>Visualizando registros</h6>	                			
	                		</div>
	                	</div>
	                    <div class="table-overflow">
	                        <table class="table table-content">
	                            <thead>
	                                <tr>
	                                    <th width="20">#</th>
                                    	<th class="">Descrição</th>
                                    	<th class="">Valor</th>
                                    	<th width="96">Ações</th>
	                                </tr>
	                                <tr>
	                                    <th></th>
										<th></th>
										<th></th>
	                                   <th></th>
	                                </tr> 
	                                                                
	                            </thead>
	                            <tbody>
	                                <tr>
	                                	<td>&nbsp;</td>

										<td>Perguntas professores</td>
										<td><?php echo $this->post_var['perguntasprofessores'] ?></td>
										
	                                    <td>
	                                        <ul class="table-controls">
	                                    
	                                            <li><a title="" class="btn tip" href="<?php echo $this->baseUrl('/alunos/permissoes/editar/tipo/professor')?>" data-original-title="Editar"><i class="icon-pencil"></i></a> </li>
	                                        </ul>
	                                    </td>
	                                </tr>
	                            	
	                                <tr>
	                                	<td>&nbsp;</td>

										<td>Perguntas secretarias</td>
										<td><?php echo $this->post_var['perguntassecretaria'] ?></td>
										
	                                    <td>
	                                        <ul class="table-controls">
	                                    
	                                            <li><a title="" class="btn tip" href="<?php echo $this->baseUrl('/alunos/permissoes/editar/tipo/secretaria')?>" data-original-title="Editar"><i class="icon-pencil"></i></a> </li>
	                                        </ul>
	                                    </td>
	                                </tr>
	                            </tbody>
	                        </table>
	                    </div>
	                    <?php echo $this->render('/helpers/paginator.phtml') ?>
                    
                    </form>

                </div>
                <!-- /table with footer -->
	                        


		    </div>
		    <!-- /content wrapper -->

		</div>
		<!-- content -->
		





<?php /*?>
<div class="contentpanel">

	<div class="row">
	
        <div class="panel-body">

			<div class="panel-heading" style="position:relative;">
			
				<?php if (isset($this->crudMessage)) : ?>
				<div class="alert alert-success">
                	<button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                	<strong>Sucesso!</strong> <?php echo $this->crudMessage ?>.
              	</div>
              	<?php endif; ?>
			
				<table width="100%">
					<tr>
						<td width="50%"><h4 class="panel-title">Permissões do Aluno</h4></td>
					</tr>
				</table>
				
				<br />
				
				<div class="table-responsive">
					
	                <table class="table table-primary mb30">
	                	<thead>
	                		<tr>
	                			<th width="20">&nbsp;</th>
								<th>Descrição</th> 
								<th>Valor</th> 
	                			<th style="width:68px">Ações</th>
	                		</tr>
	                	</thead>
	                	<tbody>

							
								<tr class="line">								
									<td>
										&nbsp;
									</td> 
									<td>Perguntas professores</td> 
									<td><?php echo $this->post_var['perguntasprofessores'] ?></td>
	                				
	                				<td class="table-action">
	                					<?php //if (Mn_Util::isAccess($this->getController(), 'editar')) : ?>
	                					<a href="<?php echo $this->baseUrl('/alunos/permissoes/editar/tipo/professor')?>"><i class="fa fa-pencil"></i></a>
	                					<?php //endif;?>
	                				</td>
	                			</tr>
	                			
								<tr class="line">								
									<td>
										&nbsp;
									</td> 
									<td>Perguntas secretarias</td> 
									<td><?php echo $this->post_var['perguntassecretaria'] ?></td>
	                				
	                				<td class="table-action">
	                					<?php //if (Mn_Util::isAccess($this->getController(), 'editar')) : ?>
	                					<a href="<?php echo $this->baseUrl('/alunos/permissoes/editar/tipo/secretaria')?>"><i class="fa fa-pencil"></i></a>
	                					<?php //endif;?>
	                				</td>
	                			</tr>	                			
	                		 
	                	</tbody>
	                </table>
	                <?php echo $this->render('/helpers/paginator.phtml') ?>
	            </div><!-- table-responsive -->				
				
			</div>        
        
            
        </div>

	</div>
        
</div>
<?php */ ?>
<script type="text/javascript" src="<?php echo $this->baseUrl('/public/scripts/alunos/permissoes_index.js') ?>"></script>