<style type="text/css">
    .font16{ font-size:1em; font-family: 'Helvetica, sans-serif'; }
    .font14{ font-size:14px; font-family: 'Helvetica, sans-serif'; }
    .font18{ font-size:1.3em; font-family: 'Helvetica, sans-serif'; }
    .font20{ font-size:1.5em; font-family: 'Helvetica, sans-serif'; }
    .black{ color:#000; }
    .white{ color:#fff; }
    .gray{ color:#ccc; }
    .red{ color:#ff0000; }
    .textleft{ text-align: left; }
    .textright{ text-align: right; }
    .left{ float: left }
    .textcenter{text-align: center; }
    .padding2{ padding: 2px; }
    .margin10 {margin-top:50px; display: block;}
    .textjustify { text-align: justify; }
    .line{ border:1px solid #ccc;  background:#000; width: 250px;}
    .each-line{width: 25px; display: inline; border:1px solid #000;}
    .contorno{border-top: 0.5px solid black; border-bottom: 0.5px solid black;}
    .contornoleft{ border-left: 0.5px solid black;  }
    .contornoright{ border-right: 0.5px solid black;  }
</style>
<br><br> 

<?php  

    error_reporting(0);
    ini_set(“display_errors”, 0 );
    
    $qtdTotal = count($this->rows) . '<br>';
    (int)$parteArray = $qtdTotal / 2; 
 
    $parte1 = array_slice($this->rows, 0,$parteArray);
    $parte2 = array_slice($this->rows, $parteArray);

    $quantidade1 = count($parte1);
    $quantidade2 = count($parte2);
 
?>


<table class="textleft margin10">
    <tr class="margin10">
        <td colspan="2" class="black"><b class="textcenter">CONTROLE DE ESTOCÁVEIS (CRECHE / MATERIAL / EMEI / EMEF) </b></td>
    </tr>
</table>
<br>
<!-- <table class="left font16 padding2" style="border: 1px solid black; ">
    <tr>
        <td colspan="2" class="black"><b>LOCAL: </b> <?php echo (isset($this->perfil)) ? $this->perfil : '--'; ?><?php echo (isset($this->escola)) ? ' - <b>Escola :</b> '.$this->escola : '' ?></td>
    </tr>   
</table>  -->
<table class="left font16">
    <tr>
        <td colspan="6" class="black textcenter contorno contornoleft"><b>ESCOLA </b></td>
        <td colspan="3" class="black textcenter contorno contornoleft"><b>CÓDIGO </b></td>
        <td colspan="7" class="black textcenter contorno contornoleft"><b>PRODUTO </b></td>
        <td colspan="2" class="black textcenter contorno contornoleft"><b>UNID</b></td>
        <td colspan="2" class="black textcenter contorno contornoleft contornoright"><b>QTD</b></td> 

        <td colspan="6" class="black textcenter contorno contornoleft"><b>ESCOLA </b></td>
        <td colspan="3" class="black textcenter contorno contornoleft"><b>CÓDIGO </b></td>
        <td colspan="7" class="black textcenter contorno contornoleft"><b>PRODUTO </b></td>
        <td colspan="2" class="black textcenter contorno contornoleft"><b>UNID</b></td>
        <td colspan="2" class="black textcenter contorno contornoleft contornoright"><b>QTD</b></td>        
    </tr>
        <?php if ($quantidade1 > $quantidade2) : ?>
            <?php foreach ($parte1 as $i =>$produtos): ?>
                <tr>    	
                    <td colspan="7" class="contorno contornoleft"><?php echo ($parte1[$i]['idescola'] != 0) ? Escolas::getEscolaByIdHelper($parte1[$i]['idescola'])['escola'] : UsuariosPerfis::getPerfilByIdHelper($parte1[$i]['idperfil'])['perfil'] ?></td>
                    <td colspan="3" class="contorno contornoleft"><?php echo $parte1[$i]['codigoproduto']; ?></td>
                    <td colspan="7" class="contorno contornoleft"><?php echo $parte1[$i]['produto']; ?></td>
                    <td colspan="1" class="contorno contornoright contornoleft textcenter"><?php echo $parte1[$i]['old_unidademedida'];?></td>
                    <td colspan="2" class="contorno contornoright"></td>

                    <?php if($parte2[$i]['codigoproduto']): ?>    
                        <td colspan="7" class="contorno contornoleft"><?php echo ($parte2[$i]['idescola'] != 0) ? Escolas::getEscolaByIdHelper($parte2[$i]['idescola'])['escola'] : UsuariosPerfis::getPerfilByIdHelper($parte2[$i]['idperfil'])['perfil'] ?></td>    
                        <td colspan="3" class="contorno contornoleft"><?php echo $parte2[$i]['codigoproduto']; ?></td>
                        <td colspan="7" class="contorno contornoleft"><?php echo $parte2[$i]['produto']; ?></td>
                        <td colspan="1" class="contorno contornoright contornoleft textcenter"><?php echo $parte2[$i]['old_unidademedida'];?></td>
                        <td colspan="2" class="contorno contornoright"></td>
                    <?php else: ?>
                        <td colspan="7" class="contorno contornoleft"></td>
                        <td colspan="3" class="contorno contornoleft"></td>
                        <td colspan="7" class="contorno contornoleft"></td>
                        <td colspan="1" class="contorno contornoright contornoleft"></td>
                        <td colspan="2" class="contorno contornoright"></td>
                    <?php endif; ?>
                </tr>
                <?php endforeach ?>
        <?php endif; ?>
        
        <?php if ($quantidade2 > $quantidade1) : ?>
            <?php foreach ($parte2 as $i =>$produtos): ?>
                <tr>    	
                    <td colspan="6" class="contorno contornoleft"><?php echo ($parte2[$i]['idescola'] != 0) ? Escolas::getEscolaByIdHelper($parte2[$i]['idescola'])['escola'] : UsuariosPerfis::getPerfilByIdHelper($parte2[$i]['idperfil'])['perfil'] ?></td>
                    <td colspan="3" class="contorno contornoleft textcenter"><?php echo $parte2[$i]['codigoproduto']; ?></td>
                    <td colspan="7" class="contorno contornoleft"><?php echo $parte2[$i]['produto']; ?></td>
                    <td colspan="2" class="contorno contornoright contornoleft textcenter"><?php echo $parte2[$i]['old_unidademedida'];?></td>
                    <td colspan="2" class="contorno contornoright textcenter"><?php echo $parte2[$i]['quantidade']; ?></td>
                    <?php if($parte1[$i]['codigoproduto']): ?>
                        <td colspan="6" class="contorno contornoleft"><?php echo ($parte1[$i]['idescola'] != 0) ? Escolas::getEscolaByIdHelper($parte1[$i]['idescola'])['escola'] : UsuariosPerfis::getPerfilByIdHelper($parte1[$i]['idperfil'])['perfil'] ?></td>
                        <td colspan="3" class="contorno contornoleft textcenter"><?php echo $parte1[$i]['codigoproduto']; ?></td>
                        <td colspan="7" class="contorno contornoleft"><?php echo $parte1[$i]['produto']; ?></td>
                        <td colspan="2" class="contorno contornoright contornoleft textcenter"><?php echo $parte1[$i]['old_unidademedida'];?></td>
                        <td colspan="2" class="contorno contornoright textcenter"><?php echo $parte1[$i]['quantidade']; ?></td>
                    <?php else: ?>
                        <td colspan="6" class="contorno contornoleft"></td>
                        <td colspan="3" class="contorno contornoleft"></td>
                        <td colspan="7" class="contorno contornoleft"></td>
                        <td colspan="2" class="contorno contornoright contornoleft textcenter"></td>
                        <td colspan="2" class="contorno contornoright"></td>
                    <?php endif; ?>
                </tr>
            <?php endforeach ?>
        <?php endif; ?>
        
        <?php if ($quantidade2 == $quantidade1) : ?>
            <?php foreach ($parte2 as $i =>$produtos): ?>
                <tr>    	
                    <td colspan="6" class="contorno contornoleft"><?php echo ($parte2[$i]['idescola'] != 0) ? Escolas::getEscolaByIdHelper($parte2[$i]['idescola'])['escola'] : UsuariosPerfis::getPerfilByIdHelper($parte2[$i]['idperfil'])['perfil'] ?></td>
                    <td colspan="3" class="contorno contornoleft textcenter"><?php echo $parte2[$i]['codigoproduto']; ?></td>
                    <td colspan="7" class="contorno contornoleft"><?php echo $parte2[$i]['produto']; ?></td>
                    <td colspan="2" class="contorno contornoright contornoleft textcenter"><?php echo $parte2[$i]['old_unidademedida'];?></td>
                    <td colspan="2" class="contorno contornoright textcenter"><?php echo $parte2[$i]['quantidade']; ?></td>
                    <?php if($parte1[$i]['codigoproduto']): ?>
                        <td colspan="6" class="contorno contornoleft"><?php echo ($parte1[$i]['idescola'] != 0) ? Escolas::getEscolaByIdHelper($parte1[$i]['idescola'])['escola'] : UsuariosPerfis::getPerfilByIdHelper($parte1[$i]['idperfil'])['perfil'] ?></td>
                        <td colspan="3" class="contorno contornoleft textcenter"><?php echo $parte1[$i]['codigoproduto']; ?></td>
                        <td colspan="7" class="contorno contornoleft"><?php echo $parte1[$i]['produto']; ?></td>
                        <td colspan="2" class="contorno contornoright contornoleft textcenter"><?php echo $parte1[$i]['old_unidademedida'];?></td>
                        <td colspan="2" class="contorno contornoright textcenter"><?php echo $parte1[$i]['quantidade']; ?></td>
                    <?php else: ?>
                        <td colspan="6" class="contorno contornoleft"></td>
                        <td colspan="3" class="contorno contornoleft"></td>
                        <td colspan="7" class="contorno contornoleft"></td>
                        <td colspan="2" class="contorno contornoright contornoleft textcenter"></td>
                        <td colspan="2" class="contorno contornoright"></td>
                    <?php endif; ?>
                </tr>
            <?php endforeach ?>
        <?php endif; ?>
    </table>  
    <table style="border: 1px solid black; ">
            <tr>
                <td class="textleft font18">
                    ASSINATURA DO RESPONSAVEL:__________________________________________________________________________________________  DATA: ____ /____ /____
                </td>
            </tr>
</table>

