<div class="navbar">
    <div class="navbar-inner">
        <h6 class="title-accordion">
            <a class="click_acc" data-toggle="collapse" data-parent="#accordion" href="#collapse4">
                Gestor Escolar
            </a>
        </h6>
    </div>
</div>

<div id="collapse4" class="content-height panel-collapse collapse in">

    <div class="control-group">
        <label class="control-label">Nome Completo * </label>
        <div class="controls">
            <input name="gestorescolarnome"  placeholder="Nome Completo" value="<?php echo (isset($this->post_var['gestorescolarnome'])) ? $this->post_var['gestorescolarnome'] : '' ?>" type="text" class="span3">
        </div>
    </div>

    <div class="control-group">
        <label class="control-label">CPF * </label>
        <div class="controls">
            <input name="gestorescolarcpf"  placeholder="CPF" value="<?php echo (isset($this->post_var['gestorescolarcpf'])) ? $this->post_var['gestorescolarcpf'] : '' ?>" type="text" class="span3">
        </div>
    </div>

    <div class="control-group">
        <label class="control-label">Cargo * </label>
        <div class="controls">
            <select id="gestorescolarcargo" name="gestorescolarcargo" class="form-control">
                <option value="">Escolha</option>
                <option value="DIRETOR">Diretor Escolar</option>
                <option value="VICEDIRETOR">Vice-Diretor Escolar</option>
                <option value="SUPERVISOR">Supervisor Pedagógico</option>
                <option value="COORDENADOR">Coordenador Pedagógico</option>
                <option value="ORIENTADOR">Orientador Educacional</option>
            </select> 
        </div>
    </div>

    <div class="control-group">
        <label class="control-label">E-mail </label>
        <div class="controls">
            <input name="gestorescolaremail"  placeholder="E-mail" value="<?php echo (isset($this->post_var['gestorescolaremail'])) ? $this->post_var['gestorescolaremail'] : '' ?>" type="text" class="span3">
        </div>
    </div>    
</div>
<script type="text/javascript" src="<?php echo $this->baseUrl('/public/scripts/admin/escolas_helpers_gestorescolarcargo.js') ?>"></script>
<script type="text/javascript">
    var form_values_temp = {};
    <?php if (isset($this->post_var['gestorescolarcargo'])) :  ?>
    form_values_temp.gestorescolarcargo = '<?php echo (isset($this->post_var['gestorescolarcargo'])) ? $this->post_var['gestorescolarcargo'] : '' ?>';
    <?php endif; ?> 
    //alert(form_values.gestorescolarcargo);
</script>

