<div class="navbar">
    <div class="navbar-inner">
        <h6 class="title-accordion">
			<a class="click_acc" data-toggle="collapse" data-parent="#accordion" href="#collapse5">
				Infraestrutura dos estabelecimentos de ensino
			</a>
        </h6>
    </div>
</div>


<div id="collapse5" class="content-height panel-collapse collapse in">	

	<div class="control-group">
		<label class="control-label">Existência *</label>
		<div class="controls">
			<input name="existencia" value="<?php echo (isset($this->post_var['existencia'])) ? $this->post_var['existencia'] : '' ?>" type="text" class="span3" placeholder="Existência">
		</div>
	</div>

	<div class="control-group">
		<label class="control-label">Quantidades de salas de aula *</label>
		<div class="controls">
			<input name="quantidadeperfil" value="<?php echo (isset($this->post_var['quantidadeperfil'])) ? $this->post_var['quantidadeperfil'] : '' ?>" type="text" class="span3" placeholder="Quantidades de salas de aula">
		</div>
	</div>

	<div class="control-group">
		<label class="control-label">Capacidade média de salas de aula *</label>
		<div class="controls">
			<input name="capacidademedia" value="<?php echo (isset($this->post_var['capacidademedia'])) ? $this->post_var['capacidademedia'] : '' ?>" type="text" class="span3" placeholder="Capacidade média de salas de aula">
		</div>
	</div>

	<div class="control-group">
		<label class="control-label">Quantidades de salas de apoio escolar *</label>
		<div class="controls">
			<input name="salasdeapoio" value="<?php echo (isset($this->post_var['salasdeapoio'])) ? $this->post_var['salasdeapoio'] : '' ?>" type="text" class="span3" placeholder="Quantidades de salas de apoio escolar">
		</div>
	</div>

	<div class="control-group">
		<label class="control-label">Docentes *</label>
		<div class="controls">
			<input name="docentes" value="<?php echo (isset($this->post_var['docentes'])) ? $this->post_var['docentes'] : '' ?>" type="text" class="span3" placeholder="Docentes">
		</div>
	</div>

	<div class="control-group">
		<label class="control-label">Quantidades de Apoio administrativo *</label>
		<div class="controls">
			<input name="apoioadministrativo" value="<?php echo (isset($this->post_var['apoioadministrativo'])) ? $this->post_var['apoioadministrativo'] : '' ?>" type="text" class="span3" placeholder="Quantidades de Apoio administrativo">
		</div>
	</div>

	<div class="control-group">
		<label class="control-label">Quantidades de apoio técnico *</label>
		<div class="controls">
			<input name="apoiotecnico" value="<?php echo (isset($this->post_var['apoiotecnico'])) ? $this->post_var['apoiotecnico'] : '' ?>" type="text" class="span3" placeholder="Quantidades de apoio técnico">
		</div>
	</div>

	<div class="control-group">
		<label class="control-label">Quantidades de apoio operacional *</label>
		<div class="controls">
			<input name="apoiooperacional" value="<?php echo (isset($this->post_var['apoiooperacional'])) ? $this->post_var['apoiooperacional'] : '' ?>" type="text" class="span3" placeholder="Quantidades de apoio operacional">
		</div>
	</div>

	<div class="control-group">
		<label class="control-label">Quantidades de laboratórios de informática *</label>
		<div class="controls">
			<input name="laboratoriosinformatica" value="<?php echo (isset($this->post_var['laboratoriosinformatica'])) ? $this->post_var['laboratoriosinformatica'] : '' ?>" type="text" class="span3" placeholder="Quantidades de laboratórios de informática">
		</div>
	</div>

	<div class="control-group">
		<label class="control-label">Quantidades de laboratórios de física *</label>
		<div class="controls">
			<input name="laboratoriosfisica" value="<?php echo (isset($this->post_var['laboratoriosfisica'])) ? $this->post_var['laboratoriosfisica'] : '' ?>" type="text" class="span3" placeholder="Quantidades de laboratórios de física">
		</div>
	</div>

	<div class="control-group">
		<label class="control-label">Quantidades de laboratórios de química *</label>
		<div class="controls">
			<input name="laboratoriosquimica" value="<?php echo (isset($this->post_var['laboratoriosquimica'])) ? $this->post_var['laboratoriosquimica'] : '' ?>" type="text" class="form-control" placeholder="Quantidades de laboratórios de química"> 
		</div>
	</div>

	<div class="control-group">
		<label class="control-label">Quantidades de laboratórios de apoio *</label>
		<div class="controls">
			<input name="laboratoriosapoio" value="<?php echo (isset($this->post_var['laboratoriosapoio'])) ? $this->post_var['laboratoriosapoio'] : '' ?>" type="text" class="span3" placeholder="Quantidades de laboratórios de apoio">
		</div>
	</div>

	<div class="control-group">
		<label class="control-label">Quantidades de bibliotecas *</label>
		<div class="controls">
			<input name="bibliotecas" value="<?php echo (isset($this->post_var['bibliotecas'])) ? $this->post_var['bibliotecas'] : '' ?>" type="text" class="span3" placeholder="Quantidades de bibliotecas">
		</div>
	</div>

	<div class="control-group">
		<label class="control-label">Quantidades de Salas de leitura *</label>
		<div class="controls">
			<input name="salasleitura" value="<?php echo (isset($this->post_var['salasleitura'])) ? $this->post_var['salasleitura'] : '' ?>" type="text" class="span3" placeholder="Quantidades de Salas de leitura">
		</div>
	</div>

	<div class="control-group">
		<label class="control-label">Quantidades de vagas de estacionamento *</label>
		<div class="controls">
			<input name="estacionamentos" value="<?php echo (isset($this->post_var['estacionamentos'])) ? $this->post_var['estacionamentos'] : '' ?>" type="text" class="span3" placeholder="Quantidades de vagas de estacionamento">
		</div>
	</div>

</div>
