<div class="navbar">
    <div class="navbar-inner">
        <h6 class="title-accordion">
			<a class="click_acc" data-toggle="collapse" data-parent="#accordion" href="#collapse12">
				Informações técnicas da edificação
			</a>
        </h6>
    </div>
</div>




<div id="collapse12" class="content-height panel-collapse collapse in">	

	<div class="control-group">
		<label class="control-label">Quantidade de pavimentos</label>
		<div class="controls">
			<input name="pavimentos" value="<?php echo (isset($this->post_var['pavimentos'])) ? $this->post_var['pavimentos'] : '' ?>" type="text" class="span3" placeholder="Quantidade de pavimentos">
		</div>
	</div>

	<div class="control-group">
		<label class="control-label">Área construída m²</label>
		<div class="controls">
			<input name="areaconstruidainformacoes" value="<?php echo (isset($this->post_var['areaconstruidainformacoes'])) ? number_format($this->post_var['areaconstruidainformacoes'], '2', ',', '.') : '' ?>" type="text" class="span3" placeholder="Área construída m²">
		</div>
	</div>

	<div class="control-group">
		<label class="control-label">Quantidade de frações</label>
		<div class="controls">
			<input name="fracoes" value="<?php echo (isset($this->post_var['fracoes'])) ? $this->post_var['fracoes'] : '' ?>" type="text" class="span3" placeholder="Quantidade de frações">
		</div>
	</div>

	<div class="control-group">
		<label class="control-label">Quantidade de pontos de acesso</label>
		<div class="controls">
			<input name="pontosacessos" value="<?php echo (isset($this->post_var['pontosacessos'])) ? $this->post_var['pontosacessos'] : '' ?>" type="text" class="span3" placeholder="Quantidade de pontos de acesso">
		</div>
	</div>

	<div class="control-group">
		<label class="control-label">Tipo e estrutura de cobertura</label>
		<div class="controls">
			<select id="idcobertura" name="idcobertura" class="form-control">
				<option value="">Selecione...</option>
				<?php foreach ($this->tiposcoberturas as $te=>$tipoeletrica): ?>
				<option value="<?php echo $tipoeletrica['id'] ?>"><?php echo $tipoeletrica['tipo'] ?></option>
				<?php endforeach;?>
			</select> 
		</div>
	</div>

	<div class="control-group">
		<label class="control-label">Quantidade de saídas de emergência</label>
		<div class="controls">
			<input name="saidasemergencia" value="<?php echo (isset($this->post_var['saidasemergencia'])) ? $this->post_var['saidasemergencia'] : '' ?>" type="text" class="span3" placeholder="Quantidade de saídas de emergência">
		</div>
	</div>

	<div class="control-group">
		<label class="control-label">Classificação do tipo de construção</label>
		<div class="controls">
			<select id="idtipoconstrucao" name="idtipoconstrucao" class="form-control">
				<option value="">Selecione...</option>
				<?php foreach ($this->tiposconstrucoes as $te=>$tipoeletrica): ?>
				<option value="<?php echo $tipoeletrica['id'] ?>"><?php echo $tipoeletrica['tipo'] ?></option>
				<?php endforeach;?>
			</select>
		</div>
	</div>


</div>
