<div class="navbar">
    <div class="navbar-inner">
        <h6 class="title-accordion">
			<a class="click_acc" data-toggle="collapse" data-parent="#accordion" href="#collapse2">
				Rede de Água
			</a>
        </h6>
    </div>
</div>




<div id="collapse2" class="content-height panel-collapse collapse in">
	<div class="control-group">
		<label class="control-label">Tipo de rede de água</label>
		<div class="controls">
			<select id="idtiporedeagua" name="idtiporedeagua" class="form-control">
				<option value="">Selecione...</option>
				<?php foreach ($this->tiposredesaguas as $tp=>$tipoesgoto): ?>
				<option value="<?php echo $tipoesgoto['id'] ?>"><?php echo $tipoesgoto['tipo'] ?></option>
				<?php endforeach;?>
			</select> 
		</div>
	</div>

	<div class="control-group">
		<label class="control-label">Origem da água</label>
		<div class="controls">
			<input name="origem" value="<?php echo (isset($this->post_var['origem'])) ? $this->post_var['origem'] : '' ?>" type="text" class="span3" placeholder="Origem da água">
		</div>
	</div>

	<div class="control-group">
		<label class="control-label">Possui Reservatórios de água</label>
		<div class="controls">
			<select id="reservatorio" name="reservatorio" class="form-control">
				<option value="Não">Não</option>
				<option value="Sim">Sim</option>
			</select> 
		</div>
	</div>

	<div class="control-group">
		<label class="control-label">Capacidade de armazenamento de água</label>
		<div class="controls">
			<input name="capacidade" value="<?php echo (isset($this->post_var['capacidade'])) ? $this->post_var['capacidade'] : '' ?>" type="text" class="span3" placeholder="Capacidade de armazenamento de água">
		</div>
	</div>

	<div class="control-group">
		<label class="control-label">Possui Energia solar</label>
		<div class="controls">
			<select id="energiasolar" name="energiasolar" class="form-control">
				<option value="Não">Não</option>
				<option value="Sim">Sim</option>
			</select> 
		</div>
	</div>


	
</div>
