<div class="navbar">
    <div class="navbar-inner">
        <h6 class="title-accordion">
                <a class="click_acc" data-toggle="collapse" data-parent="#accordion" href="#collapse7">
                    Salas de Aula e Laborat&oacute;rios
                </a>
        </h6>
    </div>
</div>


<div id="collapse7" class="content-height panel-collapse collapse in">
        <?php $iddaescola = $this->post_var['id']; ?>
        <?php if(($iddaescola>0)): ?>		    
                <div class="control-group">
                        <label class="control-label">Salas</label>
                        <div class="controls"> 
                                <div class="itens">
                                       <table class="table table-sala table-primary mb30" border="1">
                                                <thead>
                                                       <tr>
                                                                <td align="center">N° da sala </td>
                                                                <td align="center">Sala </td>
                                                                <td align="center">Capacidade </td>
<!--                                                                
                                                                <td>Metragem M&sup2; </td>
                                                                <td>C&aacute;lculado </td>
-->
                                                                <td align="center">Classe </td>
<!--                                                                <td align="center">Status </td>-->
                                                                <td align="center"><!--<button type="button" onclick="salaAddTr()" class="btn">+</button>--></td>
                                                       </tr>
                                                </thead>
                                                <tbody>
                                                        <script type="text/javascript">

                                                                $(document).ready(function() {

                                                                        <?php if (isset($iddaescola)) : ?>
                                                                                <?php foreach (Escolassalas::getEscolassalasHelper(array('idescola' => $iddaescola)) as $c=>$row) : ?>
                                                                                        <?php 
                                                                                            $row['var_db'] = true;
                                                                                        ?>
                                                                                                
                                                                                        sala = '<?php echo str_replace("'", "\'", json_encode($row)) ?>';

                                                                                        salaAddTr(sala);
                                                                                <?php endforeach;?>



                                                                        <?php endif; ?>
                                                                });
                                                        </script>
                                                </tbody>

                                                <tfoot>
                                                    <tr id="modelo-sala" style="display:none;">
                                                        <td align="center" style="text-align:center !Important;">
                                                            <input size="5" name="numerosala[]" type="text" class="form-control" placeholder="Sala">
                                                        </td>
                                                        <td align="center" style="text-align:center !Important;">
                                                            <input size="5" name="sala[]" type="text" class="form-control" placeholder="Sala">
                                                        </td>
                                                        <td align="center" style="text-align:center !Important;">
                                                            <input size="5" name="quantidade[]" type="text" class="form-control" placeholder="Capacidade">
                                                        </td>
<!--
                                                        <td align="center" style="text-align:center !Important;">
                                                            <?php // echo floor(40.5/1.20)?>
                                                        </td>
                                                        <td align="center" style="text-align:center !Important;">
                                                            <?php // echo floor(40.5/1.20)?>
                                                        </td>
-->
                                                        <td align="center" style="text-align:center !Important;">
                                                            <input size="10" name="classe" readonly type="text" class="form-control" placeholder="Classe">
                                                        </td>
<!--                                                        <td align="center" style="text-align:center !Important;">
                                                                <select id="status1" name="status1[]" class="span8">
                                                                        <option value="">Selecione...</option>
                                                                        <option value="Ativo">Ativo</option>
                                                                        <option value="Bloqueado">Bloqueado</option>
                                                                </select>        				
                                                        </td>-->
                                                        <td style="text-align: center !important; padding:8px 0 8px 22px;" align="center">
                                                            <!--<a href="javascript:;" onclick="salaExcluirFromTable(this)">-->
                                                                <span><i class="icon-remove"></i></span>
                                                            <!--</a>-->
                                                        </td>
                                                    </tr>
                                                </tfoot>


                                       </table>

                               </div>
                        </div>
                </div>
        <?php endif; ?>	
</div>