<div class="navbar">
    <div class="navbar-inner">
        <h6 class="title-accordion">
			<a class="click_acc" data-toggle="collapse" data-parent="#accordion" href="#collapse8">
				Documentações de propriedade
			</a>
        </h6>
    </div>
</div>



<div id="collapse8" class="content-height panel-collapse collapse in">	

	<div class="control-group">
		<label class="control-label">Tipo de documento de propriedade</label>
		<div class="controls">
			<select id="idtipodocumentacao" name="idtipodocumentacao" class="form-control">
				<option value="">Selecione...</option>
				<?php foreach ($this->tiposdocumentacoes as $tp=>$tipoesgoto): ?>
				<option value="<?php echo $tipoesgoto['id'] ?>"><?php echo $tipoesgoto['tipo'] ?></option>
				<?php endforeach;?>
			</select> 
		</div>
	</div>

	<div class="control-group">
		<label class="control-label">Número do documento</label>
		<div class="controls">
			<input name="numerodocumento" value="<?php echo (isset($this->post_var['numerodocumento'])) ? $this->post_var['numerodocumento'] : '' ?>" type="text" class="span3" placeholder="Número do documento">
		</div>
	</div>

	<div class="control-group">
		<label class="control-label">Local de registro</label>
		<div class="controls">
			<input name="localregistro" value="<?php echo (isset($this->post_var['localregistro'])) ? $this->post_var['localregistro'] : '' ?>" type="text" class="span3" placeholder="Local de registro">
		</div>
	</div>

	<div class="control-group">
		<label class="control-label">Data de registro</label>
		<div class="controls">
			<input name="dataregistro" value="<?php echo (isset($this->post_var['dataregistro'])) ? Mn_Util::formPostVarData($this->post_var['dataregistro']) : '' ?>" type="text" class="span3" placeholder="Data de registro">
		</div>
	</div>

	<div class="control-group">
		<label class="control-label">Valor patrimonial</label>
		<div class="controls">
			<input name="valorpatrimonial" value="<?php echo (isset($this->post_var['valorpatrimonial'])) ? number_format($this->post_var['valorpatrimonial'], '2', ',', '.') : '' ?>" type="text" class="span3" placeholder="Valor patrimonial">
		</div>
	</div>














</div>

