<div class="navbar">
    <div class="navbar-inner">
        <h6 class="title-accordion">
			<a class="click_acc" data-toggle="collapse" data-parent="#accordion" href="#collapse11">
				Endereço
			</a>
        </h6>
    </div>
</div>

<div id="collapse11" class="content-height panel-collapse collapse in">
	<div class="control-group">
		<div class="col-sm-6">
			<input type="hidden" value="<?php echo (isset($this->post_var['idendereco'])) ? $this->post_var["idendereco"] : ''; ?>" name="idendereco" id="idendereco" />
			<?php echo $this->render('/helpers/forms/endereco.phtml') ?>
		</div>
	</div>	
</div>
