<div class="navbar">
    <div class="navbar-inner">
        <h6 class="title-accordion">
			<a class="click_acc" data-toggle="collapse" data-parent="#accordion" href="#collapse3">
				Infraestrutura de água/esgoto
			</a>
        </h6>
    </div>
</div>

<div id="collapse3" class="content-height panel-collapse collapse in">	

	<div class="control-group">
		<label class="control-label">Quantidades de banheiros para deficientes masculino</label>
		<div class="controls">
			<input name="banheirosdeficientesmasculinos" value="<?php echo (isset($this->post_var['banheirosdeficientesmasculinos'])) ? $this->post_var['banheirosdeficientesmasculinos'] : '' ?>" type="text" class="span3" placeholder="Quantidades de banheiros para deficientes masculino">
		</div>
	</div>

	<div class="control-group">
		<label class="control-label">Quantidades de banheiros para deficientes feminino</label>
		<div class="controls">
			<input name="banheirosdeficientesfemininos" value="<?php echo (isset($this->post_var['banheirosdeficientesfemininos'])) ? $this->post_var['banheirosdeficientesfemininos'] : '' ?>" type="text" class="span3" placeholder="Quantidades de banheiros para deficientes feminino">
		</div>
	</div>

	<div class="control-group">
		<label class="control-label">Quantidade de pontos de saída de água</label>
		<div class="controls">
			<input name="pontossaidas" value="<?php echo (isset($this->post_var['pontossaidas'])) ? $this->post_var['pontossaidas'] : '' ?>" type="text" class="span3" placeholder="Quantidade de pontos de saída de água">
		</div>
	</div>
	
</div>

<script type="text/javascript">
	
</script>
