<div class="navbar">
    <div class="navbar-inner">
        <h6 class="title-accordion">
			<a class="click_acc" data-toggle="collapse" data-parent="#accordion" href="#collapse7">
				Instalações
			</a>
        </h6>
    </div>
</div>




<div id="collapse7" class="content-height panel-collapse collapse in">	

	<div class="control-group">
		<label class="control-label">Tipo de localização da unidade</label>
		<div class="controls">
			<select id="idtipolocalizacao" name="idtipolocalizacao" class="span3">
				<option value="">Selecione...</option>
				<?php foreach ($this->tiposinstalacoeslocalizacao as $tl=>$tipolocalizacao): ?>
				<option value="<?php echo $tipolocalizacao['id'] ?>"><?php echo $tipolocalizacao['tipo'] ?></option>
				<?php endforeach;?>
			</select> 
		</div>
	</div>

	<div class="control-group">
		<label class="control-label">Tipo de de redes de água </label>
		<div class="controls">
			<select id="idtiporedes" name="idtiporedes" class="span3">
				<option value="">Selecione...</option>
				<?php foreach ($this->tiposinstalacoesagua as $ta=>$tipogua): ?>
				<option value="<?php echo $tipogua['id'] ?>"><?php echo $tipogua['tipo'] ?></option>
				<?php endforeach;?>
			</select> 
		</div>
	</div>

	<div class="control-group">
		<label class="control-label">Tipo de rede de esgoto</label>
		<div class="controls">
			<select id="idtipoesgoto" name="idtipoesgoto" class="span3">
				<option value="">Selecione...</option>
				<?php foreach ($this->tiposinstalacoesesgotos as $tp=>$tipoesgoto): ?>
				<option value="<?php echo $tipoesgoto['id'] ?>"><?php echo $tipoesgoto['tipo'] ?></option>
				<?php endforeach;?>
			</select>   
		</div>
	</div>

	<div class="control-group">
		<label class="control-label">Tipo de rede de elétrica</label>
		<div class="controls">
			<select id="idtipoeletrica" name="idtipoeletrica" class="span3">
				<option value="">Selecione...</option>
				<?php foreach ($this->tiposinstalacoeseletricas as $te=>$tipoeletrica): ?>
				<option value="<?php echo $tipoeletrica['id'] ?>"><?php echo $tipoeletrica['tipo'] ?></option>
				<?php endforeach;?>
			</select>   
		</div>
	</div>

	<div class="control-group">
		<label class="control-label">Anexos</label>
		<div class="controls">
			<input name="anexos" value="<?php echo (isset($this->post_var['anexos'])) ? $this->post_var['anexos'] : '' ?>" type="text" class="span3" placeholder="Anexos">
		</div>
	</div>

	<div class="control-group">
		<label class="control-label">Uso compartilhado</label>
		<div class="controls">
			<select id="compartilhados" name="compartilhados" class="span3">
				<option value="Não">Não</option>
				<option value="Sim">Sim</option>
			</select>  
		</div>
	</div>

	<div class="control-group">
		<label class="control-label">Quantidades de instalações para alunos especiais</label>
		<div class="controls">
			<input name="instalacoesalunosespeciais" value="<?php echo (isset($this->post_var['instalacoesalunosespeciais'])) ? $this->post_var['instalacoesalunosespeciais'] : '' ?>" type="text" class="span3" placeholder="Quantidades de instalações para alunos especiais">
		</div>
	</div>

</div>