<div class="navbar">
    <div class="navbar-inner">
        <h6 class="title-accordion">
			<a class="click_acc" data-toggle="collapse" data-parent="#accordion" href="#collapse6">
				Infraestrutura esportiva
			</a>
        </h6>
    </div>
</div>


<div id="collapse6" class="content-height panel-collapse collapse in">	
	
	<div class="control-group">
		<label class="control-label">Existe Infraestrutura esportiva</label>
		<div class="controls">
			<select id="existenciaesportivo" name="existenciaesportivo" class="form-control">
				<option value="Não">Não</option>
				<option value="Sim">Sim</option>
			</select>
		</div>
	</div>

	<div class="control-group">
		<label class="control-label">Quantidades de ginásio coberto</label>
		<div class="controls">
			<input name="quantidadeesportivo" value="<?php echo (isset($this->post_var['quantidadeesportivo'])) ? $this->post_var['quantidadeesportivo'] : '' ?>" type="text" class="span3" placeholder="Quantidades de ginásio coberto">
		</div>
	</div>

	<div class="control-group">
		<label class="control-label">Capacidade média ginásio coberto</label>
		<div class="controls">
			<input name="capacidademediaesportivo" value="<?php echo (isset($this->post_var['capacidademediaesportivo'])) ? $this->post_var['capacidademediaesportivo'] : '' ?>" type="text" class="span3" placeholder="Capacidade média ginásio coberto">
		</div>
	</div>

	<div class="control-group">
		<label class="control-label">Quantidades de quadra esportiva aberta</label>
		<div class="controls">
			<input name="quadrasabertas" value="<?php echo (isset($this->post_var['quadrasabertas'])) ? $this->post_var['quadrasabertas'] : '' ?>" type="text" class="span3" placeholder="Quantidades de quadra esportiva aberta">
		</div>
	</div>

	<div class="control-group">
		<label class="control-label">Quantidades de quadra esportiva fechada</label>
		<div class="controls">
			<input name="quadrasfechadas" value="<?php echo (isset($this->post_var['quadrasfechadas'])) ? $this->post_var['quadrasfechadas'] : '' ?>" type="text" class="span3" placeholder="Quantidades de quadra esportiva fechada">
		</div>
	</div>

	<div class="control-group">
		<label class="control-label">Quantidades de piscinas padrão</label>
		<div class="controls">
			<input name="piscinaspadroes" value="<?php echo (isset($this->post_var['piscinaspadroes'])) ? $this->post_var['piscinaspadroes'] : '' ?>" type="text" class="span3" placeholder="Quantidades de piscinas padrão">
		</div>
	</div>

	<div class="control-group">
		<label class="control-label">Quantidades de piscinas semiolímpica</label>
		<div class="controls">
			<input name="piscinassemiolimpicas" value="<?php echo (isset($this->post_var['piscinassemiolimpicas'])) ? $this->post_var['piscinassemiolimpicas'] : '' ?>" type="text" class="span3" placeholder="Quantidades de piscinas semiolímpica">
		</div>
	</div>

	<div class="control-group">
		<label class="control-label">Quantidades de piscinas olímpica</label>
		<div class="controls">
			<input name="piscinasolimipicas" value="<?php echo (isset($this->post_var['piscinasolimipicas'])) ? $this->post_var['piscinasolimipicas'] : '' ?>" type="text" class="span3" placeholder="Quantidades de piscinas olímpica">
		</div>
	</div>

	<div class="control-group">
		<label class="control-label">Quantidades de pistas de salto ornamental</label>
		<div class="controls">
			<input name="saltoornamental" value="<?php echo (isset($this->post_var['saltoornamental'])) ? $this->post_var['saltoornamental'] : '' ?>" type="text" class="span3" placeholder="Quantidades de pistas de salto ornamental">
		</div>
	</div>

	<div class="control-group">
		<label class="control-label">Quantidades de campos de futebol</label>
		<div class="controls">
			<input name="camposdefutebol" value="<?php echo (isset($this->post_var['camposdefutebol'])) ? $this->post_var['camposdefutebol'] : '' ?>" type="text" class="span3" placeholder="Quantidades de campos de futebol">
		</div>
	</div>

	<div class="control-group">
		<label class="control-label">Quantidades de pistas de atletismo</label>
		<div class="controls">
			<input name="pistasatletismo" value="<?php echo (isset($this->post_var['pistasatletismo'])) ? $this->post_var['pistasatletismo'] : '' ?>" type="text" class="span3" placeholder="Quantidades de pistas de atletismo">
		</div>
	</div>







</div>
