<div class="navbar">
    <div class="navbar-inner">
        <h6 class="title-accordion">
			<a class="click_acc" data-toggle="collapse" data-parent="#accordion" href="#collapse9">
				Serviços disponíveis nos estabelecimentos
			</a>
        </h6>
    </div>
</div>


<div id="collapse9" class="content-height panel-collapse collapse in">	

	<div class="control-group">
		<label class="control-label">Possui coleta de lixo</label>
		<div class="controls">
			<select id="coletalixo" name="coletalixo" class="form-control">
				<option value="Não">Não</option>
				<option value="Sim">Sim</option>
			</select>
		</div>
	</div>

	<div class="control-group">
		<label class="control-label">Possui transporte escolar</label>
		<div class="controls">
			<select id="transporteescolar" name="transporteescolar" class="form-control">
				<option value="Não">Não</option>
				<option value="Sim">Sim</option>
			</select>   
		</div>
	</div>

	<div class="control-group">
		<label class="control-label">Funcional</label>
		<div class="controls">
			<select id="transportefuncional" name="transportefuncional" class="form-control">
				<option value="Não">Não</option>
				<option value="Sim">Sim</option>
			</select>   
		</div>
	</div>

	<div class="control-group">
		<label class="control-label">Possui serviços de saúde clínico</label>
		<div class="controls">
			<select id="servicosclinicos" name="servicosclinicos" class="form-control">
				<option value="Não">Não</option>
				<option value="Sim">Sim</option>
			</select> 
		</div>
	</div>

	<div class="control-group">
		<label class="control-label">Possui serviços de saúde odontológico</label>
		<div class="controls">
			<select id="servicosodontologicos" name="servicosodontologicos" class="form-control">
				<option value="Não">Não</option>
				<option value="Sim">Sim</option>
			</select> 
		</div>
	</div>

	<div class="control-group">
		<label class="control-label">Atividades comunitárias </label>
		<div class="controls">
			<select id="atividadescomunitarias" name="atividadescomunitarias" class="form-control">
				<option value="Não">Não</option>
				<option value="Sim">Sim</option>
			</select>
		</div>
	</div>


</div>	