<?php 
	include_once BASE_PATH . '/public/scripts/ckeditor/ckeditor.php';
	require_once BASE_PATH . '/public/scripts/ckfinder/ckfinder.php';
	
	$ckeditor = new CKEditor();
	$ckeditor->basePath	= $this->baseUrl('/public/scripts/ckeditor/');
	
	$ckfinder = $this->baseUrl('/public/scripts/ckfinder/');
	
	CKFinder::SetupCKEditor($ckeditor, $ckfinder);
?>
<div class="navbar">
    <div class="navbar-inner">
        <h6 class="title-accordion">
			<a class="click_acc" data-toggle="collapse" data-parent="#accordion" href="#collapse11">
				Edificações
			</a>
        </h6>
    </div>
</div>



<div id="collapse11" class="content-height panel-collapse collapse in">	

	<div class="control-group">
		<label class="control-label">Tipo do item de edificação</label>
		<div class="controls">
			<select id="idtipoedificacao" name="idtipoedificacao" class="form-control">
				<option value="">Selecione</option>
				<?php foreach ($this->tiposedificacoes as $t=>$tipo): ?>
				<option value="<?php echo $tipo['id']?>"><?php echo $tipo['tipo']?></option>
				<?php endforeach;?>
			</select>  
		</div>
	</div>


	<div class="control-group">
		<label class="control-label">Descrição sumária</label>
		<div class="controls">
			<?php if ((isset($this->visualizar)) && ($this->visualizar)) : ?>
			<div style="padding-top:10px"><?php echo $this->post_var['descricoes']; ?></div>
			<?php else : ?>
			<?php $value1 = (isset($this->post_var['descricoes'])) ? $this->post_var['descricoes'] : ''; ?>
			<?php $ckeditor->editor('descricoesedificacoes', $value1); ?>
			<?php endif; ?>
		</div>
	</div>

	<div class="control-group">
		<label class="control-label">Referência</label>
		<div class="controls">
			<?php if ((isset($this->visualizar)) && ($this->visualizar)) : ?>
			<div style="padding-top:10px"><?php echo $this->post_var['referencia']; ?></div>
			<?php else : ?>
			<?php $value1 = (isset($this->post_var['referencia'])) ? $this->post_var['referencia'] : ''; ?>
			<?php $ckeditor->editor('referencia', $value1); ?>
			<?php endif; ?>
		</div>
	</div>

	<div class="control-group">
		<label class="control-label">Arquivos</label>
		<div class="controls">
			<?php echo $this->render('/escolas/helpers/multiplosarquivos.phtml') ?>
		</div>
	</div>

	<div class="control-group">
		<label class="control-label">Data da construção</label>
		<div class="controls">
			<input name="dataconstrucao" value="<?php echo (isset($this->post_var['dataconstrucao'])) ? Mn_Util::formPostVarData($this->post_var['dataconstrucao']) : '' ?>" type="text" class="span3" placeholder="telefone">
		</div>
	</div>

</div>
