<?php 
	include_once BASE_PATH . '/public/scripts/ckeditor/ckeditor.php';
	require_once BASE_PATH . '/public/scripts/ckfinder/ckfinder.php';
	
	$ckeditor = new CKEditor();
	$ckeditor->basePath	= $this->baseUrl('/public/scripts/ckeditor/');
	
	$ckfinder = $this->baseUrl('/public/scripts/ckfinder/');
	
	CKFinder::SetupCKEditor($ckeditor, $ckfinder);
?>
<div class="navbar">
    <div class="navbar-inner">
        <h6 class="title-accordion">
			<a class="click_acc" data-toggle="collapse" data-parent="#accordion" href="#collapse4">
				Terreno/imóvel
			</a>
        </h6>
    </div>
</div>

<div id="collapse4" class="content-height panel-collapse collapse in f_acc">	

	<div class="control-group">
		<label class="control-label">Tipo de terreno </label>
		<div class="controls">
			<select id="idtipoterreno" name="idtipoterreno" class="form-control">
				<option value="">Selecione...</option>
				<?php foreach ($this->tiposterrenos as $tp=>$tipoesgoto): ?>
				<option value="<?php echo $tipoesgoto['id'] ?>"><?php echo $tipoesgoto['tipo'] ?></option>
				<?php endforeach;?>
			</select>
		</div>
	</div>

	<div class="control-group">
		<label class="control-label">Confrontação </label>
		<div class="controls">
			<?php if ((isset($this->visualizar)) && ($this->visualizar)) : ?>
			<div style="padding-top:10px"><?php echo $this->post_var['confrontacao']; ?></div>
			<?php else : ?>
			<?php $value1 = (isset($this->post_var['confrontacao'])) ? $this->post_var['confrontacao'] : ''; ?>
			<?php $ckeditor->editor('confrontacao', $value1); ?>
			<?php endif; ?>
		</div>
	</div>

	<div class="control-group">
		<label class="control-label">Dimensão M²</label>
		<div class="controls">
			<input name="dimensao" value="<?php echo (isset($this->post_var['dimensao'])) ? number_format($this->post_var['dimensao'], '2', ',', '.') : '' ?>" type="text" class="span3" placeholder="Dimensão M²">
		</div>
	</div>

	<div class="control-group">
		<label class="control-label">Área verde M²</label>
		<div class="controls">
			<input name="areaverde" value="<?php echo (isset($this->post_var['areaverde'])) ? number_format($this->post_var['areaverde'], '2', ',', '.') : '' ?>" type="text"class="span3" placeholder="Área verde M²">
		</div>
	</div>

	<div class="control-group">
		<label class="control-label">Área construída M²</label>
		<div class="controls">
			<input name="areaconstruida" value="<?php echo (isset($this->post_var['areaconstruida'])) ? number_format($this->post_var['areaconstruida'], '2', ',', '.') : '' ?>" type="text" class="span3" placeholder="Área construída M²">
		</div>
	</div>

	<div class="control-group">
		<label class="control-label">Área livre M²</label>
		<div class="controls">
			<input name="arealivre" value="<?php echo (isset($this->post_var['arealivre'])) ? number_format($this->post_var['arealivre'], '2', ',', '.') : '' ?>" type="text" class="span3" placeholder="Área livre M²">
		</div>
	</div>

	<div class="control-group">
		<label class="control-label">Área total M²</label>
		<div class="controls">
			<input name="areatotal" value="<?php echo (isset($this->post_var['areatotal'])) ? number_format($this->post_var['areatotal'], '2', ',', '.') : '' ?>" type="text" class="span3" placeholder="Área total M²">
		</div>
	</div>

	<div class="control-group">
		<label class="control-label">Quantidade de edificações</label>
		<div class="controls">
			<input name="quantidade" value="<?php echo (isset($this->post_var['quantidade'])) ? (int)$this->post_var['quantidade'] : '' ?>" type="text" class="span3" placeholder="Quantidade de edificações">
		</div>
	</div>

	<div class="control-group">
		<label class="control-label">Avaliação resumida</label>
		<div class="controls">
			<input name="avaliacaoresumida" value="<?php echo (isset($this->post_var['avaliacaoresumida'])) ? $this->post_var['avaliacaoresumida'] : '' ?>" type="text"  class="span3" placeholder="Avaliação resumida">
		</div>
	</div>

</div>

