<div class="navbar">
    <div class="navbar-inner">
        <h6 class="title-accordion">
			<a class="click_acc" data-toggle="collapse" data-parent="#accordion" href="#collapse1">
				Rede de Esgoto
			</a>
        </h6>
    </div>
</div>

<div id="collapse1" class="content-height panel-collapse collapse in">

        		<div class="control-group">
        			<label class="control-label">Tipo de rede de água </label>
        			<div class="controls">
						<select id="idtiporede" name="idtiporede" class="form-control">
							<option value="">Selecione...</option>
							<?php foreach ($this->tiposredesesgoto as $tp=>$tipoesgoto): ?>
							<option value="<?php echo $tipoesgoto['id'] ?>"><?php echo $tipoesgoto['tipo'] ?></option>
							<?php endforeach;?>
						</select> 
					</div>
				</div>


        		<div class="control-group">
        			<label class="control-label">Tipo de tubulação de esgoto</label>
        			<div class="controls">
						<select id="idtipotubulacao" name="idtipotubulacao" class="form-control">
							<option value="">Selecione...</option>
							<?php foreach ($this->tipostibulacoesesgoto as $tt=>$tipotubulacao): ?>
							<option value="<?php echo $tipotubulacao['id'] ?>"><?php echo $tipotubulacao['tipo'] ?></option>
							<?php endforeach;?>
						</select>  
					</div>
				</div>


        		<div class="control-group">
        			<label class="control-label">Possui Caixa de resíduos</label>
        			<div class="controls">
						<select id="caixaresiduos" name="caixaresiduos" class="form-control">
							<option value="Não">Não</option>
							<option value="Sim">Sim</option>
						</select>     
					</div>
				</div>


        		<div class="control-group">
        			<label class="control-label">Possui Tratamento de resíduos</label>
        			<div class="controls">
						<select id="tratamentoresiduos" name="tratamentoresiduos" class="form-control">
							<option value="Não">Não</option>
							<option value="Sim">Sim</option>
						</select>    
					</div>
				</div>


        		<div class="control-group">
        			<label class="control-label">Possui Caixa de gordura</label>
        			<div class="controls">
						<select id="caixagorduras" name="caixagorduras" class="form-control">
							<option value="Não">Não</option>
							<option value="Sim">Sim</option>
						</select>   
					</div>
				</div>


	
	<script type="text/javascript" src="<?php echo $this->baseUrl('/public/scripts/admin/escolas_helpers_abastecimentos.js') ?>"></script>
</div>