		<!-- Content -->
		<div id="content">

		    <!-- Content wrapper -->
		    <div class="wrapper">

			    <!-- Breadcrumbs line -->
			    <div class="crumbs">
			    	<?php echo $this->render('/helpers/breadcrumb.phtml') ?>
			    </div>
			    <!-- /breadcrumbs line -->

			    <!-- Page header -->
			    <div class="page-header">
			    	<div class="page-title">
				    	<h5>Formulário do merenda diferenciada</h5>
				    	<span>Verifique os campos e preencha com os dados</span>
			    	</div>
			    </div>
			    <!-- /page header -->

			    <?php if (isset($this->crudMessage)) : ?>
                                    <div class="alert alert-success">
                                            <button data-dismiss="alert" class="close" type="button">×</button>
                                            <strong>Operação realizada com sucesso!</strong>
                                            <span><br /><?php echo $this->crudMessage ?></span>
                                    </div>			    
			    <?php endif; ?>

                            <form id="form" name="form" action="" method="post" class="form-horizontal" enctype="multipart/form-data"> 
                                    <input type="hidden" value="<?php echo (isset($this->post_var)) ? $this->post_var["id"] : ''; ?>" name="id" id="id" />

                                    <fieldset>
                                            <!-- General form elements -->
                                            <div class="widget row-fluid">
                                                    <div class="navbar">
                                                        <div class="navbar-inner">
                                                            <h6>Digite as informações do formulário</h6>
                                                        </div>
                                                    </div>

                                                    <!-- well -->
                                                    <div class="well">
                                                            <?php if (isset($this->erros)) : ?>
                                                                    <div class="alert alert-error margin">
                                                                            <button data-dismiss="alert" class="close" type="button">×</button>
                                                                            <strong>Há erros no formulário!</strong>
                                                                            <?php foreach ($this->erros as $k=>$v) : ?>
                                                                                    <span><br />- <?php echo $v ?></span>
                                                                            <?php endforeach;?>			                        
                                                                    </div>
                                                            <?php endif; ?>						    
                                                            <?php $idescola = Usuarios::getUsuario('idescola'); ?>
                                                            <?php $idlocal = Usuarios::getUsuario('idlocal'); ?>
                                                            <?php if(($idescola>0) || ($idlocal>0)): ?>		    
                                                                    <div class="control-group">
                                                                            <div class="controls1 visualizar">
                                                                                    <table class="table table-content" width="100%">
                                                                                            <tbody>
                                                                                                    <tr>
                                                                                                            <input type="hidden" value="<?php echo (isset($this->post_var['sequencial'])) ? $this->post_var['sequencial'] : $this->sequencial ?>" name="sequencial" id="sequencial" />
                                                                                                            <input maxlength="500" placeholder="Nome do Usuário" name="idusuario" value="<?php echo (isset($this->post_var['idusuario'])) ? $this->post_var['idusuario'] : Usuarios::getUsuario('id') ?>" type="hidden"  class="span3" />
                                                                                                            <input placeholder="Data de lançamento" name="datalancamento" value="<?php echo (isset($this->post_var['datalancamento'])) ? Mn_Util::formPostVarData($this->post_var['datalancamento']) : date('d/m/Y') ?>" type="hidden"  class="span3" />
                                                                                                            <input maxlength="500" placeholder="Nome do Local" name="idlocal" value="<?php echo (isset($this->post_var['idlocal'])) ? $this->post_var['idlocal'] : Usuarios::getUsuario('idlocal') ?>" type="hidden"  class="span3" />
                                                                                                            <input maxlength="500" placeholder="Nome do Usuário" name="idescola" value="<?php echo (isset($this->post_var['idescola'])) ? $this->post_var['idescola'] : Usuarios::getUsuario('idescola') ?>" type="hidden"  class="span3" />

                                                                                                            <td width="33%">Sequencial/Ano: <?php echo (isset($this->post_var['sequencial'])) ? $this->post_var['sequencial'] : $this->sequencial ?></td>
                                                                                                            <td width="34%">Data da Abertura: <?php echo (isset($this->post_var['datacriacao'])) ? Mn_Util::formPostVarData($this->post_var['datacriacao']): date('d/m/Y'), 
                                                                                                                            '<br />Hora da Abertura: ', (isset($this->post_var['datacriacao'])) ? date('G:i:s', strtotime($this->post_var['datacriacao'])) : date('G:i:s') ?>
                                                                                                            </td>
                                                                                                            <td width="33%">Local: <?php 
                                                                                                                            $local = Locais::getLocalByIdHelper((isset($this->post_var['idlocal'])) ? $this->post_var['idlocal'] : Usuarios::getUsuario('idlocal')); 
                                                                                                                            echo ((isset($local['titulo'])) && ($local['titulo']) && ($local['titulo']!="") ) ? $local['titulo'] : '';
                                                                                                                    ?>

                                                                                                            </td>
                                                                                                    </tr>
                                                                                            </tbody>
                                                                                    </table>

                                                                            </div>
                                                                    </div>
                                                            <?php else: ?>
                                                                    <div class="control-group">
                                                                            <div class="controls1 visualizar">
                                                                                    <table class="table table-content" width="100%">
                                                                                            <tbody>
                                                                                                    <tr>
                                                                                                            <input type="hidden" value="<?php echo (isset($this->post_var['sequencial'])) ? $this->post_var['sequencial'] : $this->sequencial ?>" name="sequencial" id="sequencial" />
                                                                                                            <input maxlength="500" placeholder="Nome do Usuário" name="idusuario" value="<?php echo (isset($this->post_var['idusuario'])) ? $this->post_var['idusuario'] : Usuarios::getUsuario('id') ?>" type="hidden"  class="span3" />
                                                                                                            <input  placeholder="Data de lançamento" name="datalancamento" value="<?php echo (isset($this->post_var['datalancamento'])) ? Mn_Util::formPostVarData($this->post_var['datalancamento']) : date('d/m/Y') ?>" type="hidden"  class="span3" />

                                                                                                            <td width="33%">Sequencial/Ano: <?php echo (isset($this->post_var['sequencial'])) ? $this->post_var['sequencial'] : $this->sequencial ?></td>
                                                                                                            <td width="34%">Data da Abertura: <?php echo (isset($this->post_var['datacriacao'])) ? Mn_Util::formPostVarData($this->post_var['datacriacao']) : date('d/m/Y') ?></td>
                                                                                                            <td width="33%">Hora da Abertura: <?php echo (isset($this->post_var['datacriacao'])) ? date('G:i:s', strtotime($this->post_var['datacriacao'])) : date('G:i:s') ?></td>

                                                                                                    </tr>
                                                                                            </tbody>
                                                                                    </table>

                                                                            </div>
                                                                    </div>
                                                            <?php endif; ?>

                                                            <div class="control-group">
                                                                    <label class="control-label">Nome do Usuário <span class="required">*</span></label>
                                                                    <div class="controls visualizar"><input maxlength="500" placeholder="Nome do Usuário" name="idusuario" value="<?php echo (isset($this->post_var['idusuario'])) ? $this->post_var['idusuario'] : Usuarios::getUsuario('id') ?>" type="hidden"  class="span3" />
                                                                            <?php echo Usuarios::getUsuarioByIdHelper((isset($this->post_var['idusuario'])) ? $this->post_var['idusuario'] : Usuarios::getUsuario('id'))['nomerazao'] ?> <?php echo Usuarios::getUsuarioByIdHelper((isset($this->post_var['idusuario'])) ? $this->post_var['idusuario'] : Usuarios::getUsuario('id'))['sobrenomefantasia'] ?>
                                                                            <br /><br />
                                                                            <b>RGF</b>: <?php echo Usuarios::getUsuarioByIdHelper((isset($this->post_var['idusuario'])) ? $this->post_var['idusuario'] : Usuarios::getUsuario('id'))['rgf'] ?>
                                                                    </div>
                                                            </div>

                                                            <?php if(($idescola>0) && ($idlocal>0)): ?>
                                                                    <?php echo '<script> window.onload = function() { setAlunos($("select[name=idescola]"),',((isset($this->post_var["idaluno"])) ? $this->post_var["idaluno"]:0),',',$idescola,'); }; </script>'; ?>                                                                            
                                                            <?php else: ?>
                                                            <div class="control-group">
                                                                    <label class="control-label">Escolas <span class="required">*</span></label>
                                                                    <div class="controls">
                                                                            <select id="idescola" name="idescola"  class="select" onchange="setAlunos(this,0)">
                                                                                    <option value="">Selecione...</option>
                                                                                    <?php foreach ($this->escolas as $e=>$row): ?>
                                                                                    <option value="<?php echo $row['id'] ?>"><?php echo $row['escola'] ?></option>
                                                                                    <?php endforeach;?>
                                                                            </select>   
                                                                    </div>
                                                            </div>
                                                            <?php endif; ?>

                                                            <?php if(!$this->visualizar):?>
                                                                    <div class="control-group">
                                                                            <label class="control-label">Nome do Aluno * </label>
                                                                            <div class="controls">
                                                                                    <select name="idaluno" data-placeholder="Nome do Aluno" class="select" onchange="setDadosAlunos(this)">
                                                                                            <option value="">Selecione...</option>
                                                                                    </select>
                                                                            </div>
                                                                    </div>

                                                                    <div class="box-dados-alunos" style="display:none;">
                                                                            <div class="control-group">
                                                                                    <label class="control-label">Dados do Aluno </label>
                                                                                    <div class="controls setdado visualizar">

                                                                                    </div>
                                                                            </div>
                                                                    </div>
                                                            <?php else:

                                                                        $alunodados = Escolasalunos::getEscolaalunoByIdHelper($this->post_var["idaluno"]);
                                                                        $alunogdaei = Escolassubtiposensinosgdae::getSubtiposensinosgdaeHelper(array('idgdae'=>$alunodados['grau'],'serie'=>$alunodados['serie']));
                                                                        $alunoserie = Escolasseries::getEscolasseriesHelper(array('id'=>$alunodados['idserie']));
                                                                        $alunoturma = Escolasturmas::getEscolasturmasHelper(array('id'=>$alunodados['idperiodo']));
                                                                        $alunoperio = Escolasperiodos::getEscolasperiodosHelper(array('id'=>$alunodados['idperiodo']));
                                                                ?>
                                                                    <div class="control-group">
                                                                            <label class="control-label">Nome do Aluno </label>
                                                                            <div class="controls">
                                                                                    <input name="idaluno" value="<?php echo (isset($alunodados["nomerazao"])) ? $alunodados["nomerazao"] : ''; ?>" data-placeholder="Nome do Aluno" />
                                                                            </div>
                                                                    </div>

                                                                    <div class="control-group">
                                                                            <label class="control-label">Dados do Aluno </label>
                                                                            <div class="controls">
                                                                                    <b>Data de nascimento:</b> <?php echo (isset($alunodados['nascimento'])) ?  Mn_Util::formPostVarData($alunodados['nascimento']) : "" ?><br />
                                                                                    <b>Sexo:</b> <?php echo $alunodados['sexo'] ?><br />
                                                                                    <b>Período:</b> <?php echo (isset($alunoperio[0]['id'])) ? $alunoperio[0]['periodo'] : '--' ?><br />
                                                                                    <b>Série/Turma:</b> <?php echo (isset($alunogdaei[0]['descricao'])) ? $alunogdaei[0]['descricao'] . ' - ' . $alunoturma[0]['turma'] : '--' ?><br />                                                                            
                                                                            </div>
                                                                    </div>
                                                            <?php endif;?>
                                                        
                                                            <div class="control-group">
                                                                    <label class="control-label">Nome do Médico ou Nutricionista </label>
                                                                    <div class="controls"><input <?php echo $this->isnutricao ? 'readonly':''; ?> maxlength="500" placeholder="Nome do Médico ou Nutricionista" name="medico" value="<?php echo (isset($this->post_var['medico'])) ? $this->post_var['medico'] : '' ?>" type="text"  class="span3" /></div>
                                                            </div>


                                                            <div class="control-group">
                                                                    <label class="control-label">Motivo </label>
                                                                    <div class="controls"><textarea <?php echo $this->isnutricao ? 'readonly':''; ?> class="span12" name="motivo" cols="5" rows="5"><?php echo (isset($this->post_var)) ? $this->post_var["motivo"] : ''; ?></textarea></div>
                                                            </div>


                                                            <div class="control-group">
                                                                    <label class="control-label">Restrição Alimentar </label>
                                                                    <div class="controls"><textarea <?php echo $this->isnutricao ? 'readonly':''; ?> class="span12" name="restricao" cols="5" rows="5"><?php echo (isset($this->post_var)) ? $this->post_var["restricao"] : ''; ?></textarea></div>
                                                            </div>


                                                            <div class="control-group">
                                                                    <label class="control-label">CRM/CRN </label>
                                                                    <div class="controls"><input <?php echo $this->isnutricao ? 'readonly':''; ?> maxlength="50" placeholder="CRM/CRN" name="crmcrn" value="<?php echo (isset($this->post_var['crmcrn'])) ? $this->post_var['crmcrn'] : '' ?>" type="text"  class="span3" /></div>
                                                            </div>


                                                            <div class="control-group">
                                                                    <label class="control-label">Observações </label>
                                                                    <div class="controls"><textarea <?php echo $this->isnutricao ? 'readonly':''; ?> class="span12" name="observacoes" cols="5" rows="5"><?php echo (isset($this->post_var)) ? $this->post_var["observacoes"] : ''; ?></textarea></div>
                                                            </div>


                                                            <div class="control-group">
                                                                    <label class="control-label">Data do Laudo</label>
                                                                    <div class="controls">
                                                                        <input <?php echo $this->isnutricao ? 'type="hidden"':''; ?> placeholder="Data do Laudo" name="datalaudo" value="<?php echo (isset($this->post_var['datalaudo'])) ? Mn_Util::formPostVarData($this->post_var['datalaudo']) : '' ?>" type="text"  class="span3" />
                                                                        <?php if($this->isnutricao): ?>
                                                                            <input placeholder="Data do Laudo" readonly name="vizdatalaudo" value="<?php echo (isset($this->post_var['datalaudo'])) ? Mn_Util::formPostVarData($this->post_var['datalaudo']) : '' ?>" type="text"  class="span3" />
                                                                        <?php endif;?>
                                                                    </div>
                                                            </div>


                                                            <div class="control-group">
                                                                    <label class="control-label">Anexar Laudo </label>
                                                                    <div class="controls">
                                                                            <?php if ((isset($this->post_var['laudo'])) && ((int)$this->post_var['laudo']>0)) : ?>
                                                                                    <?php echo $this->getArquivo($this->post_var['laudo']) ?>

                                                                                    <?php if (!$this->visualizar && !$this->isnutricao) : ?>
                                                                                            <div class="checkbox block">
                                                                                                    <label><input type="checkbox" name="excluir_laudo" value="excluir" /> Desejo excluir o arquivo</label>
                                                                                            </div>
                                                                                    <?php endif; ?>
                                                                            <?php endif; ?>

                                                                            <?php if(!$this->isnutricao) : ?>
                                                                                    <input placeholder="Anexar Laudo" name="laudo" type="file"  />
                                                                            <?php endif; ?>
                                                                    </div>
                                                            </div>	

                                                            <div class="control-group">
                                                                    <label class="control-label">Posição <span class="required">*</span></label>
                                                                    <div class="controls">
                                                                        <?php if ($this->isnutricao): ?>
                                                                            <select name="posicao" data-placeholder="Posição" class="select">
                                                                                    <option value="Em Andamento">Em Andamento</option>
                                                                                    <option value="Cancelado">Cancelado</option>
                                                                                    <option value="Autorizado">Autorizado</option>
                                                                            </select>
                                                                        <?php else:?>
                                                                            <input readonly placeholder="Posição" name="posicao" value="<?php echo (isset($this->post_var['posicao'])) ? $this->post_var['posicao'] : 'Em Andamento' ?>" type="text"  class="span3" />
                                                                        <?php endif;?>
                                                                    </div>
                                                            </div>

                                                            <?php if(in_array($this->post_var['posicao'],array('Cancelado','Autorizado'))||($this->isnutricao)): ?>
                                                                    <div class="control-group">
                                                                            <label class="control-label">Prescrição Médica/Nutricional </label>
                                                                            <div class="controls">
                                                                                <textarea <?php echo (!$this->isnutricao || ($this->post_var['posicao'] != 'Em Andamento')) ? 'readonly':''; ?> class="span12" name="prescricao" cols="5" rows="5"><?php echo (isset($this->post_var)) ? $this->post_var["prescricao"] : ''; ?></textarea>
                                                                            </div>
                                                                    </div>

                                                                    <div class="control-group">
                                                                            <label class="control-label">Justificativa </label>
                                                                            <div class="controls">
                                                                                <textarea <?php echo (!$this->isnutricao || ($this->post_var['posicao'] != 'Em Andamento')) ? 'readonly':''; ?> class="span12" name="justificativa" cols="5" rows="5"><?php echo (isset($this->post_var)) ? $this->post_var["justificativa"] : ''; ?></textarea>
                                                                            </div>
                                                                    </div>
                                                            <?php endif;?>
                                                    </div>
                                                    <!-- Fim well -->

                                                    <div class="form-actions align-right">
                                                            <?php if ((isset($this->visualizar)) && ($this->visualizar)) : ?>
                                                                    <button onclick="window.history.back()" class="btn btn-danger cancelar" type="button">Voltar</button>
                                                            <?php else : ?>
                                                                    <button class="btn btn-primary enviar" type="submit">Salvar</button>
                                                                    <button onclick="window.history.back()" class="btn btn-danger cancelar" type="button">Cancelar</button>
                                                            <?php endif; ?>
                                                    </div>
                                            </div>
                                            <!-- /general form elements -->
                                    </fieldset> 
                            </form>
                            <!-- /basic inputs -->
		    </div>
		    <!-- /content wrapper -->
		</div>
		<!-- content -->
				
<script type="text/javascript" src="<?php echo $this->baseUrl('/public/scripts/admin/nutricaomerendasdiferenciadas_form.js') ?>"></script>
<script type="text/javascript">
	var form_values = {};
	
	<?php if (isset($this->post_var)) :  ?>
	form_values.idescola = '<?php echo (isset($this->post_var['idescola'])) ? $this->post_var['idescola'] : '' ?>';
	form_values.idlocal = '<?php echo (isset($this->post_var['idlocal'])) ? $this->post_var['idlocal'] : '' ?>';
	form_values.idaluno = '<?php echo (isset($this->post_var['idaluno'])) ? $this->post_var['idaluno'] : '' ?>';

        form_values.posicao = '<?php echo (isset($this->post_var['posicao'])) ? $this->post_var['posicao'] : '' ?>';


	<?php endif; ?>

	visualizar = <?php echo  ((isset($this->visualizar)) && ($this->visualizar))  ? 'true' : 'false' ?>;
</script>
