		<!-- Content -->
		<div id="content">

		    <!-- Content wrapper -->
		    <div class="wrapper">

			    <!-- Breadcrumbs line -->
			    <div class="crumbs">
			    	<?php echo $this->render('/helpers/breadcrumb.phtml') ?>
			    </div>
			    <!-- /breadcrumbs line -->

			    <!-- Page header -->
			    <div class="page-header">
			    	<div class="page-title">
				    	<h5>Merendas diferenciadas no sistema</h5>
				    	<span>Visualize os merendas diferenciadas do sistema</span>
			    	</div>
			    	
			    </div>
			    <!-- /page header -->
			    
			    <?php if (isset($this->crudMessage)) : ?>
				<div class="alert alert-success">
                	<button data-dismiss="alert" class="close" type="button">×</button>
                    <strong>Operação realizada com sucesso!</strong>
	    			<span><br /><?php echo $this->crudMessage ?></span>
                </div>			    
			    <?php endif; ?>




	                        	                        
                <!-- Table with footer -->
                <div class="widget">
                	<form action="#" class="form-horizontal" method="post">
                		<input type="hidden" value="<?php echo (isset($this->post_var['sorting'])) ? $this->post_var['sorting'] : '' ?>" name="sorting" />
	                	<div class="navbar">
	                		<div class="navbar-inner">
	                			<h6>Visualizando registros</h6>
	                			<?php if (Mn_Util::isAccess($this->getController(), 'adicionar')) : ?>
	                			<a style="float:right;" href="<?php echo $this->baseUrl() ?>/<?php echo 'admin' ?>/<?php echo $this->getController() ?>/adicionar" class="btn btn-primary"><span class="icon-plus"></span>&nbsp;Adicionar merenda diferenciada</a>
	                			<?php endif; ?>
	                		</div>
	                	</div>
	                    <div class="table-overflow">
	                        <table class="table table-content">
	                            <thead>
	                                <tr>
	                                    <th width="20">#</th>
                                            <th class="s-datalancamento sorting">Data do Lançamento</th>
                                            <th class="s-idusuario sorting">Nome do Usuário</th>
                                            <th class="s-idescola sorting">Escola</th>
                                            <th class="s-posicao sorting">Posição</th>
	                                    <th width="96">Ações</th>
	                                </tr>
	                                <tr>
	                                    <th></th>
                                            <th>
                                                    <input name="datalancamento_i" value="<?php echo (isset($this->post_var['datalancamento_i'])) ? Mn_Util::formPostVarData($this->post_var['datalancamento_i']) : '' ?>" type="text" placeholder="Data do Lançamento inicial" class="span3">
                                                    <input name="datalancamento_f" value="<?php echo (isset($this->post_var['datalancamento_f'])) ? Mn_Util::formPostVarData($this->post_var['datalancamento_f']) : '' ?>" type="text" placeholder="Data do Lançamento final" class="span3">
                                            </th>
                                            <th><input name="idusuario" value="<?php echo (isset($this->post_var['idusuario'])) ? $this->post_var['idusuario'] : '' ?>" type="text" placeholder="Nome do Usuário" class="span3"></th>
                                            <th><input name="idescola" value="<?php echo (isset($this->post_var['idescola'])) ? $this->post_var['idescola'] : '' ?>" type="text" placeholder="Escola" class="span3"></th>

                                            <th>
                                                    <div>
                                                            <select name="posicao" placeholder="Todos" class="select">
                                                                    <option value="">Todos</option>
                                                                    <option value="Em Andamento">Em Andamento</option>
                                                                    <option value="Cancelado">Cancelado</option>
                                                                    <option value="Autorizado">Autorizado</option>
                                                            </select>
                                                    </div>
                                            </th>
	                                    <th><button class="btn btn-mini btn-primary" type="submit">Pesquisar</button></th>
	                                </tr> 
	                                                                
	                            </thead>
	                            <tbody>
	                            	<?php if (sizeof($this->rows)==0) : ?>
	                                <tr>
	                                    <td colspan="6">Nenhum registro foi encontrado!</td>
	                                </tr>
	                            	
	                            	<?php else : ?>
	                            	<?php foreach ($this->rows as $row) : ?>
	                                <tr>
	                                	<td><?php echo $row['id'] ?></td>

                                                <td><?php echo date('d/m/Y', strtotime($row['datalancamento']))?></td>
                                                <td>
                                                        <?php
												$___rows = Usuarios::getUsuariosHelper(array('id'=>$row['idusuario']));
                                                                $___row = (sizeof($___rows)>0) ? 	$___rows[0] : false;	

                                                                echo ($___row) ? $this->formatTextoBranco($___row['nomerazao'] . ' ' . $___row['sobrenomefantasia']) : '--';		
                                                        ?>
                                                </td>
                                                <td> 
                                                        <?php
                                                                $___rows = Escolas::getEscolasHelper(array('id'=>$row['idescola']));
                                                                $___row = (sizeof($___rows)>0) ? 	$___rows[0] : false;	

                                                                echo ($___row) ? $this->formatTextoBranco($___row['escola']) : '--';		
                                                        ?>
                                                </td>
                                                <td><?php echo $row['posicao'] ?></td>
                                                <td>
                                                    <ul class="table-controls">
                                                        <li><a title="" class="btn tip" href="<?php echo $this->baseUrl() ?>/<?php echo 'admin' ?>/<?php echo $this->getController() ?>/visualizar/id/<?php echo $row['id'] ?>" data-original-title="Visualizar"><i class="icon-eye-open"></i></a> </li>
                                                        <?php if (Mn_Util::isAccess($this->getController(), 'editar') && $row['posicao']=='Em Andamento') : ?>
                                                        <li><a title="" class="btn tip" href="<?php echo $this->baseUrl() ?>/<?php echo 'admin' ?>/<?php echo $this->getController() ?>/editar/id/<?php echo $row['id'] ?>" data-original-title="Editar"><i class="icon-pencil"></i></a> </li>
                                                        <?php endif;?>
                                                        <?php if (Mn_Util::isAccess($this->getController(), 'excluir')) : ?>
                                                        <li><a title="" class="btn tip" href="javascript:confirmDelete('<?php echo $row['id']; ?>','registro');" data-original-title="Excluir"><i class="icon-remove"></i></a> </li>
                                                        <?php endif; ?>
                                                    </ul>
                                                </td>
	                                </tr>
	                            	<?php endforeach;?>
	                            	<?php endif; ?>
	                            </tbody>
	                        </table>
	                    </div>
	                    <?php echo $this->render('/helpers/paginator.phtml') ?>
                    </form>
                </div>
                <!-- /table with footer -->
		    </div>
		    <!-- /content wrapper -->
		</div>
		<!-- content -->
		
		
<script type="text/javascript" src="<?php echo $this->baseUrl('/public/scripts/admin/nutricaomerendasdiferenciadas_index.js') ?>"></script>
<script type="text/javascript">

	var form_values = {};
	<?php if (isset($this->post_var)) :  ?>
            form_values.aluno = '<?php echo (isset($this->post_var['aluno'])) ? $this->post_var['aluno'] : '' ?>';

            form_values.posicao = '<?php echo (isset($this->post_var['posicao'])) ? $this->post_var['posicao'] : '' ?>';

	<?php endif; ?>

	var sorting = ["datalancamento", "idusuario", "idescola", "motivo", "restricao", "posicao"];
	
</script>	


