<!DOCTYPE html>
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
<title>Prefeituta Municipal de Santa Isabel - Painel Administrativo</title>
<link href="<?php echo $this->baseUrl() ?>/public/admin/css/main.css" rel="stylesheet" type="text/css" />
<?php /*?>
<link href="<?php echo $this->baseUrl() ?>/public/default/css/main.css" rel="stylesheet" type="text/css" />
<?php */?>

<!--[if IE 8]><link href="<?php echo $this->baseUrl() ?>/public/default/css/ie8.css" rel="stylesheet" type="text/css" /><![endif]-->
<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700' rel='stylesheet' type='text/css'>

<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min.js"></script>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDY0kkJiTPVd2U7aTOAwhc9ySH6oHxOIYM&amp;sensor=false"></script>

<script type="text/javascript" src="<?php echo $this->baseUrl() ?>/public/default/js/plugins/ui/jquery.easytabs.min.js"></script>
<script type="text/javascript" src="<?php echo $this->baseUrl() ?>/public/default/js/plugins/ui/jquery.collapsible.min.js"></script>
<script type="text/javascript" src="<?php echo $this->baseUrl() ?>/public/default/js/plugins/ui/jquery.mousewheel.js"></script>
<script type="text/javascript" src="<?php echo $this->baseUrl() ?>/public/default/js/plugins/ui/prettify.js"></script>
<script type="text/javascript" src="<?php echo $this->baseUrl() ?>/public/default/js/plugins/ui/jquery.bootbox.min.js"></script>
<script type="text/javascript" src="<?php echo $this->baseUrl() ?>/public/default/js/plugins/ui/jquery.colorpicker.js"></script>
<script type="text/javascript" src="<?php echo $this->baseUrl() ?>/public/default/js/plugins/ui/jquery.timepicker.min.js"></script>
<script type="text/javascript" src="<?php echo $this->baseUrl() ?>/public/default/js/plugins/ui/jquery.jgrowl.js"></script>
<script type="text/javascript" src="<?php echo $this->baseUrl() ?>/public/default/js/plugins/ui/jquery.fancybox.js"></script>
<script type="text/javascript" src="<?php echo $this->baseUrl() ?>/public/default/js/plugins/ui/jquery.fullcalendar.min.js"></script>
<script type="text/javascript" src="<?php echo $this->baseUrl() ?>/public/default/js/plugins/ui/jquery.elfinder.js"></script>

<script type="text/javascript" src="<?php echo $this->baseUrl() ?>/public/default/js/plugins/uploader/plupload.js"></script>
<script type="text/javascript" src="<?php echo $this->baseUrl() ?>/public/default/js/plugins/uploader/plupload.html4.js"></script>
<script type="text/javascript" src="<?php echo $this->baseUrl() ?>/public/default/js/plugins/uploader/plupload.html5.js"></script>
<script type="text/javascript" src="<?php echo $this->baseUrl() ?>/public/default/js/plugins/uploader/jquery.plupload.queue.js"></script>

<script type="text/javascript" src="<?php echo $this->baseUrl() ?>/public/default/js/plugins/forms/jquery.uniform.min.js"></script>
<script type="text/javascript" src="<?php echo $this->baseUrl() ?>/public/default/js/plugins/forms/jquery.autosize.js"></script>
<script type="text/javascript" src="<?php echo $this->baseUrl() ?>/public/default/js/plugins/forms/jquery.inputlimiter.min.js"></script>
<script type="text/javascript" src="<?php echo $this->baseUrl() ?>/public/default/js/plugins/forms/jquery.tagsinput.min.js"></script>
<script type="text/javascript" src="<?php echo $this->baseUrl() ?>/public/default/js/plugins/forms/jquery.inputmask.js"></script>
<script type="text/javascript" src="<?php echo $this->baseUrl() ?>/public/default/js/plugins/forms/jquery.select2.min.js"></script>
<script type="text/javascript" src="<?php echo $this->baseUrl() ?>/public/default/js/plugins/forms/jquery.listbox.js"></script>
<script type="text/javascript" src="<?php echo $this->baseUrl() ?>/public/default/js/plugins/forms/jquery.validation.js"></script>
<script type="text/javascript" src="<?php echo $this->baseUrl() ?>/public/default/js/plugins/forms/jquery.validationEngine-en.js"></script>
<script src="<?php echo $this->baseUrl() ?>/public/scripts/jquery-validation-1.13.1/dist/jquery.validate.min.js"></script>
<script src="<?php echo $this->baseUrl() ?>/public/scripts/jquery-validation-1.13.1/dist/localization/messages_pt_BR.min.js"></script>
<script type="text/javascript" src="<?php echo $this->baseUrl() ?>/public/default/js/plugins/forms/jquery.form.wizard.js"></script>
<script type="text/javascript" src="<?php echo $this->baseUrl() ?>/public/default/js/plugins/forms/jquery.form.js"></script>

<script type="text/javascript" src="<?php echo $this->baseUrl() ?>/public/default/js/plugins/tables/jquery.dataTables.min.js"></script>

<script type="text/javascript" src="<?php echo $this->baseUrl() ?>/public/default/js/files/bootstrap.min.js"></script>

<link href="<?php echo $this->baseUrl() ?>/public/scripts/jquery.alerts-1.1/jquery.alerts.css" rel="stylesheet">
<script src="<?php echo $this->baseUrl() ?>/public/scripts/jquery.alerts-1.1/jquery.alerts.js"></script>
<script type="text/javascript" src="<?php echo $this->baseUrl() ?>/public/scripts/jquery.blockUI.js"></script>
<script type="text/javascript" src="<?php echo $this->baseUrl() ?>/public/scripts/jquery.maskedinput.min.js"></script>
<script type="text/javascript" src="<?php echo $this->baseUrl() ?>/public/scripts/jquery.price_format.2.0.min.js"></script>




<script type="text/javascript" src="<?php echo $this->baseUrl() ?>/public/default/js/plugins/forms/jquery.uniform.min.js"></script>
<script type="text/javascript" src="<?php echo $this->baseUrl() ?>/public/default/js/plugins/forms/jquery.autosize.js"></script>
<script type="text/javascript" src="<?php echo $this->baseUrl() ?>/public/default/js/plugins/forms/jquery.inputlimiter.min.js"></script>
<script type="text/javascript" src="<?php echo $this->baseUrl() ?>/public/default/js/plugins/forms/jquery.tagsinput.min.js"></script>
<script type="text/javascript" src="<?php echo $this->baseUrl() ?>/public/default/js/plugins/forms/jquery.inputmask.js"></script>
<script type="text/javascript" src="<?php echo $this->baseUrl() ?>/public/default/js/plugins/forms/jquery.select2.min.js"></script>
<script type="text/javascript" src="<?php echo $this->baseUrl() ?>/public/default/js/plugins/forms/jquery.listbox.js"></script>
<script type="text/javascript" src="<?php echo $this->baseUrl() ?>/public/default/js/plugins/forms/jquery.validation.js"></script>
<script type="text/javascript" src="<?php echo $this->baseUrl() ?>/public/default/js/plugins/forms/jquery.validationEngine-en.js"></script>
<script type="text/javascript" src="<?php echo $this->baseUrl() ?>/public/default/js/plugins/forms/jquery.form.wizard.js"></script>
<script type="text/javascript" src="<?php echo $this->baseUrl() ?>/public/default/js/plugins/forms/jquery.form.js"></script>

<script type="text/javascript" src="<?php echo $this->baseUrl() ?>/public/default/js/files/functions.js"></script>
<script type="text/javascript" src="<?php echo $this->baseUrl() ?>/public/scripts/funcoes.js"></script>
<script type="text/javascript" src="<?php echo $this->baseUrl() ?>/public/scripts/cpf_cnpj.js"></script>

<script type="text/javascript" src="<?php echo $this->baseUrl() ?>/public/scripts/flot-0.8.3/flot/excanvas.min.js"></script>
<script type="text/javascript" src="<?php echo $this->baseUrl() ?>/public/scripts/flot-0.8.3/flot/jquery.flot.js"></script>
<script type="text/javascript" src="<?php echo $this->baseUrl() ?>/public/scripts/flot-0.8.3/flot/jquery.flot.resize.js"></script>
<script type="text/javascript" src="<?php echo $this->baseUrl() ?>/public/scripts/flot-0.8.3/flot/jquery.flot.pie.min.js"></script>

<script src="<?php echo $this->baseUrl() ?>/public/scripts/default/layout.js"></script>



<script type="text/javascript">
	$(document).ready(function() {
		$('li.<?php echo $this->getController() ?> a').trigger('click');
		$('li.<?php echo $this->getController() ?> li.<?php echo $this->getController() ?> a').addClass('menu_ativo');
		$('li.<?php echo $this->getController() ?> li.<?php echo $this->getAction() ?> a').addClass('menu_ativo');
		
	});

	var module = '<?php echo $this->getModule() ?>';
	var controller = '<?php echo $this->getController() ?>';
	var action = '<?php echo $this->getAction() ?>';
	var baseUrl = '<?php echo $this->baseUrl() ?>/';

	
</script> 

</head>

<body>
	<!-- Fixed top -->
	<div id="top">
		<div class="fixed">
			<a href="<?php echo $this->baseUrl() ?>/" title="" class="logo-text">Prefeituta Municipal de Santa Isabel - Painel Administrativo</a>
			<ul class="top-menu">
				<li><a class="fullview"></a></li>
				<li><a class="showmenu"></a></li>
				<li class="dropdown">
					
					<a class="user-menu" data-toggle="dropdown"><span>Bem vindo, <?php echo Escolasusuarios::getUsuario('nomerazao') ?> <?php echo Escolasusuarios::getUsuario('sobrenomefantasia') ?> - (<?php echo Escolasusuarios::getEscolaAtiva(Escolasusuarios::getUsuario('id'), 'escola') ?>)! <b class="caret"></b></span></a>
					
					<ul class="dropdown-menu">
						<li><a href="<?php echo $this->baseUrl() ?>/usuario" title=""><i class="icon-user"></i>Seu cadastro</a></li>

						<?php foreach (Escolas::getEscolasByUsuario( Escolasusuarios::getUsuario('id')) as $k=>$v) : ?>
						<li><a onclick="changeSecretaria('<?php echo $v['id'] ?>')" href="javascript:;"><i class="fa fa-share"></i> <?php echo $v['escola'] ?></a></li>
						<?php endforeach;?>
						
						<li><a href="<?php echo $this->baseUrl() ?>/auth/logout" title=""><i class="icon-remove"></i>Logout</a></li>
					</ul>
					
				</li>
			</ul>
		</div>
	</div>
	
	<!-- /fixed top -->


	<!-- Content container -->
	<div id="container">

		<?php echo $this->render('/helpers/menu.phtml'); ?>

		<?php echo $this->layout()->content; ?>

	</div>
	<!-- /content container -->


	<!-- Footer -->
	<div id="footer">
		<div class="copyrights">Desenvolvido por &copy;FJMX. - <?php echo date('Y')?></div>
	</div>
	<!-- /footer -->

</body>
</html>
