<style>
	list-group {
		padding-left: 0;
		margin-bottom: 20px;
	}
		.list-group-item {
		position: relative;
		display: block;
		padding: 10px 15px;
		margin-bottom: -1px;
		background-color: #fff;
		border: 1px solid #ddd;
	}

	#box-alunos{
		margin-top: 2%;
	}
</style>		
		<!-- Content -->
		<div id="content">

		    <!-- Content wrapper -->
		    <div class="wrapper">

			    <!-- Breadcrumbs line -->
			    <div class="crumbs">
			    	<?php echo $this->render('/helpers/breadcrumb.phtml') ?>
			    </div>
			    <!-- /breadcrumbs line -->

			    <!-- Page header -->
			    <div class="page-header">
			    	<div class="page-title">
				    	<h5>Formulário das fichas integradas</h5>
				    	<span>Verifique os campos e preencha com os dados</span>
			    	</div>
			    </div>
			    <!-- /page header -->

			    <?php if (isset($this->crudMessage)) : ?>
					<div class="alert alert-success">
	                	<button data-dismiss="alert" class="close" type="button">×</button>
	                    <strong>Operação realizada com sucesso!</strong>
		    			<span><br /><?php echo $this->crudMessage ?></span>
	                </div>			    
			    <?php endif; ?>

				<form id="form" name="form" action="" method="post" class="form-horizontal" enctype="multipart/form-data"> 
					<input type="hidden" value="<?php echo (isset($this->post_var)) ? $this->post_var["id"] : ''; ?>" name="id" id="id" />
					<input type="hidden" value="<?php echo (isset($this->post_var)) ? $this->post_var["idlocal"] : ''; ?>" name="idlocal" idlocal="idlocal" />
					
					<fieldset>
						<!-- General form elements -->
						<div class="widget row-fluid">
						    <div class="navbar">
						        <div class="navbar-inner">
						            <h6>Digite as informações do formulário</h6>
						        </div>
						    </div>

						    <div class="well">
								<?php if (isset($this->erros)) : ?>
									<div class="alert alert-error margin">
				                        <button data-dismiss="alert" class="close" type="button">×</button>
				                        <strong>Há erros no formulário!</strong>
					    				<?php foreach ($this->erros as $k=>$v) : ?>
					    					<span><br />- <?php echo $v ?></span>
					    				<?php endforeach;?>			                        
				                    </div>
			                    <?php endif; ?>						    
						    
 <?php /*
				<div class="control-group">
					<label class="control-label">Unidade Escolar <span class="required">*</span></label>
					<div class="controls">
		                <select name="idescola" data-placeholder="Unidade Escolar" class="select" onchange="setalunos(this)">
							<option value="">Selecione...</option>
							<?php foreach (Escolas::getEscolasHelper(array('status'=>'Ativo')) as $k=>$v) : ?>
							<option value="<?php echo $v['id'] ?>"><?php echo $v['escola'] ?></option>
							<?php endforeach;?>
						</select>
						
					</div>
				</div>

				<div class="control-group alunos-box" >
						<label class="control-label">Aluno <span class="required">*</span></label>
						<div class="controls">
							<select name="idaluno" data-placeholder="Aluno" class="select" onclick="setAlunosdados(this)">
								<option value="">Selecione...</option>
							</select>

							<?php if($this->editar) : ?>
								<div class="btn btn-primary" style='cursor: pointer' onclick="setAlunosdados(this, <?= $this->post_var['idaluno'] ?>)">Detalhes</div>
							<?php endif; ?>
							
							<div id="box-alunos">
							
							</div>

						</div>
					</div> 
*/ ?>
				<?php if(!$this->visualizar) : ?>
					<div class="control-group">
						<label class="control-label">Aluno <span class="required">*</span></label>
						<div class="controls">
							<select name="idaluno" data-placeholder="Alunos" class="select" onclick="setAlunosdados(this)">
								<option value="">Selecione...</option>
								<?php foreach (Aeematriculas::getAeematriculasHelper(array('status'=>'Ativo')) as $k=>$v) : ?>
								<option value="<?php echo $v['id'] ?>"><?php echo Escolasalunos::getEscolaalunoByIdHelper($v['idaluno'])['nomerazao']; ?></option>
								<?php endforeach;?>
							</select>
							<?php if($this->editar) : ?>
								<div class="btn btn-primary" style='cursor: pointer' onclick="setAlunosdados(this, <?= $this->post_var['idaluno'] ?>)">Detalhes</div>
							<?php endif; ?>
							
							<div id="box-alunos">
							
							</div>
						</div>
					</div>
				<?php else : ?>
					<?php $dadosAluno['aee'] =  Aeematriculas::getAeematriculaByIdHelper($this->post_var['idaluno']); 
						$dadosAluno['professor'] = Funcionariosgeraisescolas::getFuncionariogeralescolaByIdHelper($dadosAluno['aee']['idprofessor'])['nome'];
						$dadosAluno['professorAee'] = Funcionariosgeraisescolas::getFuncionariogeralescolaByIdHelper($dadosAluno['aee']['idprofessor2'])['nome'];
						$dadosAluno['escola'] = Escolas::getEscolaByIdHelper($dadosAluno['aee']['idescola'])['escola'];
					?>

					<div class="control-group">
						<label class="control-label">Unidade Escolar <span class="required">*</span></label>
						<div class="controls">
							<ul class="list-group" style="width: 50%;">    
								<li class="list-group-item"> Aluno:  <?php echo Escolasalunos::getEscolaalunoByIdHelper( $dadosAluno['aee']['idaluno'] )['nomerazao'] ?></li>
								<li class="list-group-item"> Escola:  <?= $dadosAluno['escola'] ?></li>
							    <li class="list-group-item"> Professor:  <?= $dadosAluno['professor'] ?></li>
							    <li class="list-group-item"> Professor Aee: <?= $dadosAluno['professorAee'] ?></li>
							</ul>
						</div>
					</div>
				<?php endif ; ?>  

 
				<div class="navbar">
				    <div class="navbar-inner">
				        <h6>Perguntas</h6>
				    </div>
				</div>

				<?php 
					$perguntas = Educacaoespecialperguntas::getEducacaoespecialperguntasHelper(array('status'=>'Ativo'));
					$tiposevolucoes = Educacaoespecialtiposevolucoes::getEducacaoespecialtiposevolucoesHelper(array('status'=>'Ativo'));
			 
					?>
 
				<?php /* foreach ($perguntas as $key => $pergunta) : ?>
					<div class="control-group">
						<input type="hidden" name="idsperguntas[]" value="<?= $pergunta['id'] ?>">
						<label class="control-label"><?= $pergunta['titulo'] ?></label>
						<div class="controls">
							<select name="idstiposevolucoes[]" placeholder="Tipos de Evolução" class="select">
								<option value="">Selecione...</option>
								<?php foreach ($tiposevolucoes as $k => $tipoevolucao) : ?>
									<option value="<?= $tipoevolucao['id'] ?>"><?= $tipoevolucao['titulo'] ?></option>
								<?php endforeach; ?>
							</select>
						</div>
					</div>
				<?php endforeach; */ ?>

				 

				<?php foreach ($perguntas as $key => $pergunta) : ?>
					<div class="control-group">
						<?php if($pergunta['titulo'] == 'Coordenação Motora Fina'): ?>
							<h6 style="padding: 5px; border: 1px solid gray; text-align:center;">ÁREA COGNITIVA</h6>  
						<?php endif ; ?>

						<?php if($pergunta['titulo'] == 'Relacionamento Interpessoal'): ?>
							<h6 style="padding: 5px; border: 1px solid gray; text-align:center;">ÁREA AFETIVA</h6>  
						<?php endif ; ?>

						<?php if($pergunta['titulo'] == 'Identifica seu próprio nome'): ?>
							<h6 style="padding: 5px; border: 1px solid gray; text-align:center;">ÁREA ACADÊMICA</h6> 
						<?php endif ; ?>

						<?php if($pergunta['titulo'] == 'Sabe utilizar o banheiro para necessidades fisiológicas'): ?>
							<h6 style="padding: 5px; border: 1px solid gray; text-align:center;">ATIVIDADE DA VIDA DIÁRIA AUTOCUIDADO</h6>  
						<?php endif ; ?>
						<label class="control-label"><?= $pergunta['titulo'] ?></label>
						<div class="controls"> 
							<input type="radio" name="perguntasimnao<?= $key ?>" value="sim" <?php echo ($this->post_var['respostas']["perguntasimnao$key"] == 'sim' ? 'checked' : ''); ?> >Sim
							<input type="radio" name="perguntasimnao<?= $key ?>" value="nao" <?php echo ($this->post_var['respostas']["perguntasimnao$key"] == 'nao' ? 'checked' : ''); ?> >Não
							<input type="radio" name="ca_sa<?= $key ?>" value="c/a" <?php echo ($this->post_var['respostas']["ca_sa$key"] == 'c/a' ? 'checked' : ''); ?> >C/A
							<input type="radio" name="ca_sa<?= $key ?>" value="s/a" <?php echo ($this->post_var['respostas']["ca_sa$key"] == 's/a' ? 'checked' : ''); ?> >S/A
						</div>
					</div>
				<?php endforeach; ?>
				
				<div class="control-group">
					<label class="control-label">Objetivos para o semestre </label>
					<div class="controls"><textarea class="span12" name="objsemestre" cols="5" rows="15"><?php echo (isset($this->post_var)) ? $this->post_var["objsemestre"] : ''; ?></textarea></div>
				</div>

				<div class="control-group">
					<label class="control-label">Status <span class="required">*</span></label>
					<div class="controls">
						<?php if(!$this->visualizar) : ?>	
							<select name="status1" data-placeholder="Status" class="select">
								<option value="">Selecione...</option>
								<option value="Ativo">Ativo</option><option value="Bloqueado">Bloqueado</option>
							</select>
						<?php else:  ?>
							<?= $this->post_var['status']; ?>
						<?php endif; ?>
					</div>
				</div>
				
						   	    
						    </div>
						    
			                <div class="form-actions align-right">
			                	<?php if ((isset($this->visualizar)) && ($this->visualizar)) : ?>
			                		<button onclick="window.history.back()" class="btn btn-danger cancelar" type="button">Voltar</button>
			                	<?php else : ?>
				                	<button class="btn btn-primary enviar" type="submit">Salvar</button>
				                	<button onclick="window.history.back()" class="btn btn-danger cancelar" type="button">Cancelar</button>
			                	<?php endif; ?>
			                </div>
						</div>
						<!-- /general form elements -->

					</fieldset> 

				</form>
				<!-- /basic inputs -->

		    </div>
		    <!-- /content wrapper -->

		</div>
		<!-- content -->
<?php if(!$this->visualizar) : ?>			
	<script type="text/javascript" src="<?php echo $this->baseUrl('/public/scripts/admin/educacaoespecialavaliacoes_form.js') ?>"></script>
<?php endif ; ?>			
<script type="text/javascript">
	var form_values = {};
	
	<?php if (isset($this->post_var)) :  ?>
		form_values.idescola = '<?php echo (isset($this->post_var['idescola'])) ? $this->post_var['idescola'] : '' ?>';

		form_values.idaluno = '<?php echo (isset($this->post_var['idaluno'])) ? $this->post_var['idaluno'] : '' ?>';

		form_values.status1 = '<?php echo (isset($this->post_var['status1'])) ? $this->post_var['status1'] : $this->post_var['status'] ?>';

		form_values.idsperguntas = '<?php echo $this->post_var['idperguntas'] ?>';

		form_values.idstiposevolucoes = '<?php echo $this->post_var['idtiposevolucoes'] ?>';

	<?php endif; ?>

	visualizar = <?php echo  ((isset($this->visualizar)) && ($this->visualizar))  ? 'true' : 'false' ?>;
</script> 