		<!-- Content -->
		<div id="content">

		    <!-- Content wrapper -->
		    <div class="wrapper">

			    <!-- Breadcrumbs line -->
			    <div class="crumbs">
			    	<?php echo $this->render('/helpers/breadcrumb.phtml') ?>
			    </div>
			    <!-- /breadcrumbs line -->

			    <!-- Page header -->
			    <div class="page-header">
			    	<div class="page-title">
				    	<h5>Formulário do reclamação</h5>
				    	<span>Verifique os campos e preencha com os dados</span>
			    	</div>
			    </div>
			    <!-- /page header -->

			    <?php if (isset($this->crudMessage)) : ?>
					<div class="alert alert-success">
	                	<button data-dismiss="alert" class="close" type="button">×</button>
	                    <strong>Operação realizada com sucesso!</strong>
		    			<span><br /><?php echo $this->crudMessage ?></span>
	                </div>			    
			    <?php endif; ?>

				<form id="form" name="form" action="" method="post" class="form-horizontal" enctype="multipart/form-data"> 
					<input type="hidden" value="<?php echo (isset($this->post_var)) ? $this->post_var["id"] : ''; ?>" name="id" id="id" />
					
					<fieldset>
						<!-- General form elements -->
						<div class="widget row-fluid">
						    <div class="navbar">
						        <div class="navbar-inner">
						            <h6>Digite as informações do formulário</h6>
						        </div>
						    </div>

						    <div class="well">
								<?php if (isset($this->erros)) : ?>
									<div class="alert alert-error margin">
				                        <button data-dismiss="alert" class="close" type="button">×</button>
				                        <strong>Há erros no formulário!</strong>
					    				<?php foreach ($this->erros as $k=>$v) : ?>
					    					<span><br />- <?php echo $v ?></span>
					    				<?php endforeach;?>			                        
				                    </div>
			                    <?php endif; ?>						    
						    

				<div class="control-group">
					<label class="control-label">Seq. <span class="required">*</span></label>
					<div class="controls"><input maxlength="500" placeholder="Seq." name="sequencial" value="<?php echo (isset($this->post_var['sequencial'])) ? $this->post_var['sequencial'] : '' ?>" type="text"  class="span3" /></div>
				</div>


				<div class="control-group">
					<label class="control-label">Tipo <span class="required">*</span></label>
					<div class="controls">
						<select name="tipo" data-placeholder="Tipo" class="select">
							<option value="">Selecione...</option>
							<option value="Interno">Interno</option><option value="Externo">Externo</option>
						</select>
						
					</div>
				</div>



				<div class="control-group">
					<label class="control-label">Usuarios </label>
					<div class="controls">
		                <select name="idusuario" data-placeholder="Usuarios" class="select">
							<option value="">Selecione...</option>
							<?php foreach (Usuarios::getUsuariosHelper(array('status'=>'Ativo')) as $k=>$v) : ?>
							<option value="<?php echo $v['id'] ?>"><?php echo $v['nomerazao'] ?></option>
							<?php endforeach;?>
						</select>
						
					</div>
				</div>


				<div class="control-group">
					<label class="control-label">Departamento </label>
					<div class="controls">
		                <select name="iddepartamento" data-placeholder="Departamento" class="select">
							<option value="">Selecione...</option>
							<?php foreach (Departamentossecretarias::getDepartamentossecretariasHelper(array('status'=>'Ativo')) as $k=>$v) : ?>
							<option value="<?php echo $v['id'] ?>"><?php echo $v['departamento'] ?></option>
							<?php endforeach;?>
						</select>
						
					</div>
				</div>


				<div class="control-group">
					<label class="control-label">Escolas <span class="required">*</span></label>
					<div class="controls">
		                <select name="idescola" data-placeholder="Escolas" class="select">
							<option value="">Selecione...</option>
							<?php foreach (Escolas::getEscolasHelper(array('status'=>'Ativo')) as $k=>$v) : ?>
							<option value="<?php echo $v['id'] ?>"><?php echo $v['escola'] ?></option>
							<?php endforeach;?>
						</select>
						
					</div>
				</div>


				<div class="control-group">
					<label class="control-label">Tipo de contato </label>
					<div class="controls">
						<select name="tipocontato" data-placeholder="Tipo de contato" class="select">
							<option value="">Selecione...</option>
							<option value="Tipo 1">Tipo 1</option><option value="Tipo 2">Tipo 2</option>
						</select>
						
					</div>
				</div>


				<div class="control-group">
					<label class="control-label">Reclamante <span class="required">*</span></label>
					<div class="controls"><input maxlength="500" placeholder="Reclamante" name="reclamante" value="<?php echo (isset($this->post_var['reclamante'])) ? $this->post_var['reclamante'] : '' ?>" type="text"  class="span3" /></div>
				</div>


				<div class="control-group">
					<label class="control-label">Telefone 1 <span class="required">*</span></label>
					<div class="controls"><input maxlength="500" placeholder="Telefone 1" name="telefone1" value="<?php echo (isset($this->post_var['telefone1'])) ? $this->post_var['telefone1'] : '' ?>" type="text"  class="span3" /></div>
				</div>


				<div class="control-group">
					<label class="control-label">Telefone 2 </label>
					<div class="controls"><input maxlength="500" placeholder="Telefone 2" name="telefone2" value="<?php echo (isset($this->post_var['telefone2'])) ? $this->post_var['telefone2'] : '' ?>" type="text"  class="span3" /></div>
				</div>


				<div class="control-group">
					<label class="control-label">Contato </label>
					<div class="controls"><input maxlength="500" placeholder="Contato" name="contato" value="<?php echo (isset($this->post_var['contato'])) ? $this->post_var['contato'] : '' ?>" type="text"  class="span3" /></div>
				</div>


				<div class="control-group">
					<label class="control-label">Reclamado <span class="required">*</span></label>
					<div class="controls"><input maxlength="500" placeholder="Reclamado" name="reclamado" value="<?php echo (isset($this->post_var['reclamado'])) ? $this->post_var['reclamado'] : '' ?>" type="text"  class="span3" /></div>
				</div>


				<div class="control-group">
					<label class="control-label">Tipo de reclamação <span class="required">*</span></label>
					<div class="controls">
		                <select name="idtipo" data-placeholder="Tipo de reclamação" class="select">
							<option value="">Selecione...</option>
							<?php foreach (Ouvidoriastiposreclamacoes::getOuvidoriastiposreclamacoesHelper(array('status'=>'Ativo')) as $k=>$v) : ?>
							<option value="<?php echo $v['id'] ?>"><?php echo $v['tipo'] ?></option>
							<?php endforeach;?>
						</select>
						<span class="help-block">Ouvidoriastiposreclamacoes,getOuvidoriastiposreclamacoesHelper,tipo</span>
					</div>
				</div>


				<div class="control-group">
					<label class="control-label">Assunto da reclamação <span class="required">*</span></label>
					<div class="controls"><input maxlength="500" placeholder="Assunto da reclamação" name="reclamacaoassunto" value="<?php echo (isset($this->post_var['reclamacaoassunto'])) ? $this->post_var['reclamacaoassunto'] : '' ?>" type="text"  class="span3" /></div>
				</div>


				<div class="control-group">
					<label class="control-label">Descrição da reclamação </label>
					<div class="controls"><textarea class="span12" name="reclamacaodescricoes" cols="5" rows="5"><?php echo (isset($this->post_var)) ? $this->post_var["reclamacaodescricoes"] : ''; ?></textarea></div>
				</div>


				<div class="control-group">
					<label class="control-label">Observações </label>
					<div class="controls"><textarea class="span12" name="observacoes" cols="5" rows="5"><?php echo (isset($this->post_var)) ? $this->post_var["observacoes"] : ''; ?></textarea></div>
				</div>

	        		<div class="control-group">
	        			
	        			<div class="controls_1">
							<?php echo $this->render('/ouvidoriareclamacoes/helpers/multiplosarquivos.phtml') ?>
						</div>
					</div>

				<div class="control-group">
					<label class="control-label">Posição <span class="required">*</span></label>
					<div class="controls">
						<select name="posicao" data-placeholder="Posição" class="select">
							<option value="">Selecione...</option>
							<option value="Aberto">Aberto</option><option value="Em andamento">Em andamento</option><option value="Cancelado">Cancelado</option><option value="Finalizado">Finalizado</option>
						</select>
						
					</div>
				</div>


				<div class="control-group">
					<label class="control-label">Encaminhar </label>
					<div class="controls">
						<select name="encaminhar" data-placeholder="Encaminhar" class="select">
							<option value="">Selecione...</option>
							<option value="Sim">Sim</option><option value="Não">Não</option>
						</select>
						
					</div>
				</div>


				<div class="control-group">
					<label class="control-label">Status <span class="required">*</span></label>
					<div class="controls">
						<select name="status1" data-placeholder="Status" class="select">
							<option value="">Selecione...</option>
							<option value="Aguardando o aceite">Aguardando o aceite</option><option value="Aceito">Aceito</option><option value="Não aceito">Não aceito</option>
						</select>
						
					</div>
				</div>


				<div class="control-group">
					<label class="control-label">Posição referente ao processo </label>
					<div class="controls"><textarea class="span12" name="processoposicao" cols="5" rows="5"><?php echo (isset($this->post_var)) ? $this->post_var["processoposicao"] : ''; ?></textarea></div>
				</div>


				<div class="control-group">
					<label class="control-label">Observações referente ao processo </label>
					<div class="controls"><textarea class="span12" name="processoobservacoes" cols="5" rows="5"><?php echo (isset($this->post_var)) ? $this->post_var["processoobservacoes"] : ''; ?></textarea></div>
				</div>

						    
						    
						    </div>
						    
			                <div class="form-actions align-right">
			                	<?php if ((isset($this->visualizar)) && ($this->visualizar)) : ?>
			                		<button onclick="window.history.back()" class="btn btn-danger cancelar" type="button">Voltar</button>
			                	<?php else : ?>
				                	<button class="btn btn-primary enviar" type="submit">Salvar</button>
				                	<button onclick="window.history.back()" class="btn btn-danger cancelar" type="button">Cancelar</button>
			                	<?php endif; ?>
			                </div>
						</div>
						<!-- /general form elements -->

					</fieldset> 

				</form>
				<!-- /basic inputs -->

		    </div>
		    <!-- /content wrapper -->

		</div>
		<!-- content -->
				
<script type="text/javascript" src="<?php echo $this->baseUrl('/public/scripts/admin/ouvidoriareclamacoes_form.js') ?>"></script>
<script type="text/javascript">
	var form_values = {};
	
	<?php if (isset($this->post_var)) :  ?>
		form_values.tipo = '<?php echo (isset($this->post_var['tipo'])) ? $this->post_var['tipo'] : '' ?>';

form_values.idusuario = '<?php echo (isset($this->post_var['idusuario'])) ? $this->post_var['idusuario'] : '' ?>';

form_values.iddepartamento = '<?php echo (isset($this->post_var['iddepartamento'])) ? $this->post_var['iddepartamento'] : '' ?>';

form_values.idescola = '<?php echo (isset($this->post_var['idescola'])) ? $this->post_var['idescola'] : '' ?>';

form_values.tipocontato = '<?php echo (isset($this->post_var['tipocontato'])) ? $this->post_var['tipocontato'] : '' ?>';

form_values.idtipo = '<?php echo (isset($this->post_var['idtipo'])) ? $this->post_var['idtipo'] : '' ?>';

form_values.posicao = '<?php echo (isset($this->post_var['posicao'])) ? $this->post_var['posicao'] : '' ?>';

form_values.encaminhar = '<?php echo (isset($this->post_var['encaminhar'])) ? $this->post_var['encaminhar'] : '' ?>';

form_values.status1 = '<?php echo (isset($this->post_var['status1'])) ? $this->post_var['status1'] : $this->post_var['status'] ?>';


	<?php endif; ?>

	visualizar = <?php echo  ((isset($this->visualizar)) && ($this->visualizar))  ? 'true' : 'false' ?>;
</script>
