		<!-- Content -->
		<script type="text/javascript" src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.js'></script>
		<div id="content">

		    <!-- Content wrapper -->
		    <div class="wrapper">

			    <!-- Breadcrumbs line -->
			    <div class="crumbs">
			    	<?php echo $this->render('/helpers/breadcrumb.phtml') ?>
			    </div>
			    <!-- /breadcrumbs line -->

			    <!-- Page header -->
			    <div class="page-header">
			    	<div class="page-title">
				    	<h5>Ouvidoria Reclamações no sistema </h5>
				    	<span>Visualize os ouvidoria reclamações do sistema</span>
			    	</div>
			    	
			    </div>
			    <!-- /page header -->
			    
			    <?php if (isset($this->crudMessage)) : ?>
				<div class="alert alert-success">
                	<button data-dismiss="alert" class="close" type="button">×</button>
                    <strong>Operação realizada com sucesso!</strong>
	    			<span><br /><?php echo $this->crudMessage ?></span>
                </div>			    
			    <?php endif; ?>




	                        	                        
                <!-- Table with footer -->
                <div class="widget">
                	<form action="#" class="form-horizontal" method="post">


						<div class="navbar">
	                		<div class="navbar-inner" onclick="showPanel('panel-01')" style='cursor: pointer'>
	                			<h6>Visualizar graficos</h6>
	                		</div>
	                	</div>

						<div id="panel-01" style='width: 100%'>
							<canvas id="myChart" style='width: 100%; height: 350px'></canvas>
							<div>
								<table>
									<tr>
										<td><canvas id="myChartone" style='width: 100%; height: 350px'></canvas></td>
										<td></td>
									</tr>
								</table>
							</div>
						</div>

						<div class="navbar" onclick="showPanel('panel-02')" style='cursor: pointer'>
	                		<div class="navbar-inner">
	                			<h6>Visualizar mapas</h6>
	                		</div>
							
	                	</div>

						<div id='panel-02' style='display: none'>

							<iframe src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d14638.661396135461!2d-46.35682993022461!3d-23.472532799999986!3m2!1i1024!2i768!4f13.1!5e0!3m2!1spt-BR!2sbr!4v1534363633232" width="100%" height="350" frameborder="0" style="border:0" allowfullscreen></iframe>
						
						</div>


                		<input type="hidden" value="<?php echo (isset($this->post_var['sorting'])) ? $this->post_var['sorting'] : '' ?>" name="sorting" />
	                	<div class="navbar">
	                		<div class="navbar-inner">
	                			<h6>Visualizando registros</h6>
	                			<?php if (Mn_Util::isAccess($this->getController(), 'adicionar')) : ?>
	                			<a style="float:right;" href="<?php echo $this->baseUrl() ?>/<?php echo 'admin' ?>/<?php echo $this->getController() ?>/adicionar" class="btn btn-primary"><span class="icon-plus"></span>&nbsp;Adicionar reclamação</a>
	                			<?php endif; ?>
	                		</div>
	                	</div>
	                    <div class="table-overflow">
	                        <table class="table table-content">
	                            <thead>
	                                <tr>
	                                    <th width="20">#</th>
										<th class="s-sequencial sorting">Seq.</th>
										<th class="s-reclamante sorting">Reclamante</th>
										<th class="s-reclamado sorting">Reclamado</th>
										<th class="s-reclamacaoassunto sorting">Assunto da reclamação</th>
										<th class="s-posicao sorting">Posição</th>
	                                    <th width="96">Ações</th>
	                                </tr>
	                                <tr>
	                                    <th></th>
										<th><input name="sequencial" value="<?php echo (isset($this->post_var['sequencial'])) ? $this->post_var['sequencial'] : '' ?>" type="text" placeholder="Seq." class="span3"></th>
										<th><input name="reclamante" value="<?php echo (isset($this->post_var['reclamante'])) ? $this->post_var['reclamante'] : '' ?>" type="text" placeholder="Reclamante" class="span3"></th>
										<th><input name="reclamado" value="<?php echo (isset($this->post_var['reclamado'])) ? $this->post_var['reclamado'] : '' ?>" type="text" placeholder="Reclamado" class="span3"></th>
										<th><input name="reclamacaoassunto" value="<?php echo (isset($this->post_var['reclamacaoassunto'])) ? $this->post_var['reclamacaoassunto'] : '' ?>" type="text" placeholder="Assunto da reclamação" class="span3"></th>

										<th>
											<div>
												<select name="posicao" placeholder="Todos" class="select">
													<option value="">Todos</option>
													<option value="Aberto">Aberto</option><option value="Em andamento">Em andamento</option><option value="Cancelado">Cancelado</option><option value="Finalizado">Finalizado</option>
												</select>
											</div>
										</th>
                   

	                                    <th><button class="btn btn-mini btn-primary" type="submit">Pesquisar</button></th>
	                                </tr> 
	                                                                
	                            </thead>
	                            <tbody>
	                            	<?php if (sizeof($this->rows)==0) : ?>
	                                <tr>
	                                    <td colspan="7">Nenhum registro foi encontrado!</td>
	                                </tr>
	                            	
	                            	<?php else : ?>
	                            	<?php foreach ($this->rows as $row) : ?>
	                                <tr>
	                                	<td><?php echo $row['id'] ?></td>

										<td><?php echo $row['sequencial'] ?></td>
										<td><?php echo $row['reclamante'] ?></td>
										<td><?php echo $row['reclamado'] ?></td>
										<td><?php echo $row['reclamacaoassunto'] ?></td>
										<td><?php echo $row['posicao'] ?></td>

	                                    <td>
	                                        <ul class="table-controls">
	                                            <li><a title="" class="btn tip" href="<?php echo $this->baseUrl() ?>/<?php echo 'admin' ?>/<?php echo $this->getController() ?>/visualizar/id/<?php echo $row['id'] ?>" data-original-title="Visualizar"><i class="icon-eye-open"></i></a> </li>
	                                            <?php if (Mn_Util::isAccess($this->getController(), 'editar')) : ?>
	                                            <li><a title="" class="btn tip" href="<?php echo $this->baseUrl() ?>/<?php echo 'admin' ?>/<?php echo $this->getController() ?>/editar/id/<?php echo $row['id'] ?>" data-original-title="Editar"><i class="icon-pencil"></i></a> </li>
	                                            <?php endif;?>
	                                            <?php if (Mn_Util::isAccess($this->getController(), 'excluir')) : ?>
	                                            <li><a title="" class="btn tip" href="javascript:confirmDelete('<?php echo $row['id']; ?>','registro');" data-original-title="Excluir"><i class="icon-remove"></i></a> </li>
	                                            <?php endif; ?>
	                                        </ul>
	                                    </td>
	                                </tr>
	                            	<?php endforeach;?>
	                            	
	                            	
	                            	
	                            	
	                            	<?php endif; ?>
	
	                            </tbody>
	                        </table>
	                    </div>
	                    <?php echo $this->render('/helpers/paginator.phtml') ?>
                    
                    </form>

                </div>
                <!-- /table with footer -->
	                        


		    </div>
		    <!-- /content wrapper -->

		</div>
		<!-- content -->
		

<script>

function showPanel(id){

	$("#" + id).animate({
		height: 'toggle'
	});

}//end function showPanel


var ctx = document.getElementById("myChart");
var myChart = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: ["Segunda", "Terca", "Quarta", "Quinta", "Sexta", "Sabado","Domingo"],
        datasets: [
			{
				label: ' Sugestoes',
				data: [12, 19, 3, 5, 2, 3, 0],
				backgroundColor: [
					'rgba(51, 204, 255, 0.2)',
					'rgba(51, 204, 255, 0.2)',
					'rgba(51, 204, 255, 0.2)',
					'rgba(51, 204, 255, 0.2)',
					'rgba(51, 204, 255, 0.2)',
					'rgba(51, 204, 255, 0.2)',
					'rgba(51, 204, 255, 0.2)'
				],
				borderColor: [
					'rgba(51, 204, 255, 1)',
					'rgba(51, 204, 255, 1)',
					'rgba(51, 204, 255, 1)',
					'rgba(51, 204, 255, 1)',
					'rgba(51, 204, 255, 1)',
					'rgba(51, 204, 255, 1)',
					'rgba(51, 204, 255, 1)',
					'rgba(51, 204, 255, 1)'
				],
				borderWidth: 1
			},
			{
				label: ' Elogios',
				data: [12, 3, 0, 5, 2, 3, 0],
				backgroundColor: [
					'rgba(51, 204, 51, 0.2)',
					'rgba(51, 204, 51, 0.2)',
					'rgba(51, 204, 51, 0.2)',
					'rgba(51, 204, 51, 0.2)',
					'rgba(51, 204, 51, 0.2)',
					'rgba(51, 204, 51, 0.2)',
					'rgba(51, 204, 51, 0.2)'
				],
				borderColor: [
					'rgba(51, 204, 51, 1)',
					'rgba(51, 204, 51, 1)',
					'rgba(51, 204, 51, 1)',
					'rgba(51, 204, 51, 1)',
					'rgba(51, 204, 51, 1)',
					'rgba(51, 204, 51, 1)',
					'rgba(51, 204, 51, 1)'
				],
				borderWidth: 1
			},
			{
				label: ' Denúncias',
				data: [3, 19, 5, 5, 8, 0, 1],
				backgroundColor: [
					'rgba(153, 0, 255, 0.2)',
					'rgba(153, 0, 255, 0.2)',
					'rgba(153, 0, 255, 0.2)',
					'rgba(153, 0, 255, 0.2)',
					'rgba(153, 0, 255, 0.2)',
					'rgba(153, 0, 255, 0.2)',
					'rgba(153, 0, 255, 0.2)'
				],
				borderColor: [
					'rgba(153, 0, 255, 1)',
					'rgba(153, 0, 255, 1)',
					'rgba(153, 0, 255, 1)',
					'rgba(153, 0, 255, 1)',
					'rgba(153, 0, 255, 1)',
					'rgba(153, 0, 255, 1)',
					'rgba(153, 0, 255, 1)'
				],
				borderWidth: 1
			},
			{
				label: ' Reclamacoes',
				data: [5, 2, 8, 0, 0, 1, 0],
				backgroundColor: [
					'rgba(255, 71, 26, 0.2)',
					'rgba(255, 71, 26, 0.2)',
					'rgba(255, 71, 26, 0.2)',
					'rgba(255, 71, 26, 0.2)',
					'rgba(255, 71, 26, 0.2)',
					'rgba(255, 71, 26, 0.2)',
					'rgba(255, 71, 26, 0.2)'
				],
				borderColor: [
					'rgba(255, 71, 26, 1)',
					'rgba(255, 71, 26, 1)',
					'rgba(255, 71, 26, 1)',
					'rgba(255, 71, 26, 1)',
					'rgba(255, 71, 26, 1)',
					'rgba(255, 71, 26, 1)',
					'rgba(255, 71, 26, 1)'
				],
				borderWidth: 1
			},
		]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero:true
                }
            }]
        }
    }
});

var ctx = document.getElementById("myChartone");
var myChart = new Chart(ctx, {
    type: 'doughnut',
    data: { datasets: [{
			data: [10, 20, 30],
			color: ['#ff00ff','#ff00ff','#ff00ff']
		}],
		labels: [
			'Secretaria de Transportes',
			'Secretaria de Educacao',
			'Secretaria de Financas'
		]},
});

// var ctx = document.getElementById("chart");

// var myDoughnutChart = new Chart(ctx, {
//     type: 'doughnut',
//     data:  
// 	{
// 		datasets: [{
// 			data: [10, 20, 30]
// 		}],
// 		labels: [
// 			'Red',
// 			'Yellow',
// 			'Blue'
//    		]
// 	},
//     options: options
// });
</script>		
<script type="text/javascript" src="<?php echo $this->baseUrl('/public/scripts/admin/ouvidoriareclamacoes_index.js') ?>"></script>
<script type="text/javascript">

	var form_values = {};
	<?php if (isset($this->post_var)) :  ?>
form_values.tipo = '<?php echo (isset($this->post_var['tipo'])) ? $this->post_var['tipo'] : '' ?>';

form_values.idusuario = '<?php echo (isset($this->post_var['idusuario'])) ? $this->post_var['idusuario'] : '' ?>';

form_values.iddepartamento = '<?php echo (isset($this->post_var['iddepartamento'])) ? $this->post_var['iddepartamento'] : '' ?>';

form_values.idescola = '<?php echo (isset($this->post_var['idescola'])) ? $this->post_var['idescola'] : '' ?>';

form_values.tipocontato = '<?php echo (isset($this->post_var['tipocontato'])) ? $this->post_var['tipocontato'] : '' ?>';

form_values.idtipo = '<?php echo (isset($this->post_var['idtipo'])) ? $this->post_var['idtipo'] : '' ?>';

form_values.posicao = '<?php echo (isset($this->post_var['posicao'])) ? $this->post_var['posicao'] : '' ?>';

form_values.encaminhar = '<?php echo (isset($this->post_var['encaminhar'])) ? $this->post_var['encaminhar'] : '' ?>';

form_values.status1 = '<?php echo (isset($this->post_var['status1'])) ? $this->post_var['status1'] : $this->post_var['status'] ?>';

	
	<?php endif; ?>

	var sorting = ["sequencial", "tipo", "idusuario", "iddepartamento", "idescola", "tipocontato", "reclamante", "telefone1", "telefone2", "contato", "reclamado", "idtipo", "reclamacaoassunto", "reclamacaodescricoes", "observacoes", "posicao", "encaminhar", "status", "processoposicao", "processoobservacoes"];
	
</script>	


