		<!-- Content -->
		<div id="content">

		    <!-- Content wrapper -->
		    <div class="wrapper">

			    <!-- Breadcrumbs line -->
			    <div class="crumbs">
			    	<?= $this->render('/helpers/breadcrumb.phtml') ?>
			    </div>
			    <!-- /breadcrumbs line -->

			    <!-- Page header -->
			    <div class="page-header">
			    	<div class="page-title">
				    	<h5>Formulário de Materiais Didáticos de Professores </h5>
				    	<span>Verifique os campos e preencha com os dados</span>
			    	</div>
			    </div>
			    <!-- /page header -->

			    <?php if (isset($this->crudMessage)) : ?>

					<div class="alert alert-success">
	                	<button data-dismiss="alert" class="close" type="button">×</button>
	                    <strong>Operação realizada com sucesso!</strong>
		    			<span><br /><?= $this->crudMessage ?></span>
	                </div>

			    <?php endif ?>

				<form id="form" name="form" action="" method="post" class="form-horizontal" enctype="multipart/form-data"> 
					<input type="hidden" value="<?= (isset($this->post_var)) ? $this->post_var["id"] : ''; ?>" name="id" id="id" />
					
					<fieldset>
						<!-- General form elements -->
						<div class="widget row-fluid">
						    <div class="navbar">
						        <div class="navbar-inner">
						            <h6>Digite as informações do formulário</h6>
						        </div>
						    </div>

						    <div class="well">
								<?php if (isset($this->erros)) : ?>
									<div class="alert alert-error margin">
				                        <button data-dismiss="alert" class="close" type="button">×</button>
				                        <strong>Há erros no formulário!</strong>
					    				<?php foreach ($this->erros as $k=>$v) : ?>

					    					<span><br />- <?= $v ?></span>

					    				<?php endforeach ?>			                        
				                    </div>
			                    <?php endif ?>						    
					


				<div class="control-group">
			    	<div class="controls1 visualizar">
			    		<table class="table table-content" width="100%">
			    			<tbody>
			    				<tr>
			    					<input type="hidden" value="<?php echo (isset($this->post_var['sequencial'])) ? $this->post_var['sequencial'] : $this->sequencial;?>" name="sequencial" id="sequencial" />
			    					<input placeholder="Data de lançamento" name="data" value="<?php echo (isset($this->post_var['data'])) ? Mn_Util::formPostVarData($this->post_var['data']) : date('d/m/Y') ?>" type="hidden"  class="span3" />
			    					<input  placeholder="Nome do Usuário" name="idusuariologado" value="<?= (isset($this->post_var['idusuariologado'])) ? $this->post_var['idusuariologado'] : Usuarios::getUsuario('id') ?>" type="hidden"  class="span3" />

			    					<td width="33%">Sequencial/Ano: <?php echo (isset($this->post_var['sequencial'])) ? $this->post_var['sequencial'] : $this->sequencial ?></td>
			    					<td width="34%">Data de lançamento: <?php echo (isset($this->post_var['data'])) ? Mn_Util::formPostVarData($this->post_var['data']) : date('d/m/Y') ?></td>
			    					<td width="33%">
										<?= Usuarios::getUsuario('nomerazao') ?> <?= Usuarios::getUsuario('sobrenomefantasia') ?><br/>
										RGF: <?= Usuarios::getUsuario('rgf') ?>
			    					</td>
			    				</tr>
			    			</tbody>
			    		</table>			    		
			    	</div>
			    </div>

				<div class="control-group">
					<label class="control-label">Data </label>
					<div class="controls"><input placeholder="Data" name="data" value="<?= (isset($this->post_var['data'])) ? Mn_Util::formPostVarData($this->post_var['data']) : '' ?>" type="text"  class="span3" /></div>
				</div>

				<div class="control-group">
					<label class="control-label">Disciplina <span class="required">*</span></label>
					<div class="controls">
						<select name="iddisciplina" data-placeholder="Escola" class="select" >
							<option value="">Selecione...</option>
							<?php foreach(Escolasmaterias::getEscolasmateriasHelper(array('status'=>'Ativo')) as $k=>$v) : ?>

							<option value="<?= $v['id'] ?>"><?= $v['materia'] ?></option>

							<?php endforeach ?>
						</select>						
					</div>
				</div>

				<div class="control-group">
					<label class="control-label">Escola <span class="required">*</span></label>
					<div class="controls">
						<?php foreach(Escolas::getEscolasHelper(array('status'=>'Ativo')) as $k=>$v) : ?>

							<input class="check-escolas" type="checkbox" name="idescolas[]" value="<?php echo $v['id'] ?>">
							<?php echo $v['escola'] ?><br>

						<?php endforeach ?>					
					</div>
				</div>

				<?php /* ?>
				<div class="control-group">
					<label class="control-label">Escola Específica <span class="required">*</span></label>
					<div class="controls">
						<?php foreach($this->escolas as $k=>$v) : ?>

							<input class="check-escolas" type="checkbox" name="idescolas[]" value="<?php echo $v['id'] ?>">
							<?php echo $v['escola'] ?><br>

						<?php endforeach ?>					
					</div>
				</div>
				<?php */ ?>
				
				<div id="escolas-series" style="display: none;">
				</div>

				<?php /* ?>
				<div class="control-group">
					<label class="control-label">Tipo de Ensino <span class="required">*</span></label>
					<div class="controls">
						<select name="idtipoensino" data-placeholder="Tipo de Ensino" class="select">
							<option value="">Selecione...</option>
							<?php foreach(Escolastiposensinos::GetTiposensinosHelper(array('status'=>'Ativo')) as $k=>$v) : ?>

							<option value="<?php echo $v['id'] ?>"><?php echo $v['tipo'] ?></option>
							
							<?php endforeach ?>
						</select>						
					</div>
				</div>
				<?php */ ?>

				<div class="control-group">
					<label class="control-label">Material Didático </label>
					<div class="controls">
						<?php if ((isset($this->post_var['idmaterial'])) && ((int)$this->post_var['idmaterial']>0)) : ?>

							<?= $this->getArquivo($this->post_var['idmaterial']) ?>
						
							<?php if (!$this->visualizar) : ?>

								<div class="checkbox block">
									<label><input type="checkbox" name="excluir_idmaterial" value="excluir" /> Desejo excluir o material</label>
								</div>

							<?php endif ?>
						<?php endif ?>
						
						<input placeholder="Material Didático" name="idmaterial" type="file"  />
					</div>
				</div>	

				<div class="control-group">
					<label class="control-label">Status <span class="required">*</span></label>
					<div class="controls">
						<select name="status1" data-placeholder="Status" class="select">
							<option value="">Selecione...</option>
							<option value="Ativo">Ativo</option><option value="Bloqueado">Bloqueado</option>
						</select>
						
					</div>
				</div>
			</div>
			</div>

						    </div>						    
			                <div class="form-actions align-right">
			                	<?php if ((isset($this->visualizar)) && ($this->visualizar)) : ?>

			                		<button onclick="window.history.back()" class="btn btn-danger cancelar" type="button">Voltar</button>

			                	<?php else : ?>

				                	<button class="btn btn-primary enviar" type="submit">Salvar</button>
				                	<button onclick="window.history.back()" class="btn btn-danger cancelar" type="button">Cancelar</button>

			                	<?php endif ?>
			                </div>
						</div>
						<!-- /general form elements -->
					</fieldset> 
				</form>
				<!-- /basic inputs -->
		    </div>
		    <!-- /content wrapper -->
		</div>
		<!-- content -->
				
<script type="text/javascript" src="<?= $this->baseUrl('/public/scripts/admin/materiaisdidaticosprofessores_form.js') ?>">
</script>

<script type="text/javascript">	
	<?php if (isset($this->post_var)) :  ?>
	
	var form_values = {};

	form_values.status1 = '<?= (isset($this->post_var['status1']))?$this->post_var['status1']:$this->post_var['status'] ?>';

	form_values.idserie = '<?= (isset($this->post_var['idserie']))?$this->post_var['idserie']:'' ?>';
		
	form_values.idescolas = '<?= (isset($this->post_var['idescolas']))?$this->post_var['idescolas']:'' ?>';
	
	form_values.idtipoensino = '<?= (isset($this->post_var['idtipoensino']))?$this->post_var['idtipoensino']:'' ?>';

	form_values.iddisciplina = '<?= (isset($this->post_var['iddisciplina']))?$this->post_var['iddisciplina']:'' ?>'
		
	<?php endif ?>

	visualizar = <?=  ((isset($this->visualizar)) && ($this->visualizar))  ? 'true' : 'false' ?>;
</script>
