
		<!-- Content -->
		<div id="content">

		    <!-- Content wrapper -->
		    <div class="wrapper">

			    <!-- Breadcrumbs line -->
			    <div class="crumbs">
			    	<?= $this->render('/helpers/breadcrumb.phtml') ?>
			    </div>
			    <!-- /breadcrumbs line -->

			    <!-- Page header -->
			    <div class="page-header">
			    	<div class="page-title">
				    	<h5>Materiais Didáticos de Professores </h5>
				    	<span>Visualize os Materiais Didáticos de Professores</span>
			    	</div>
			    	
			    </div>
			    <!-- /page header -->
			    
			    <?php if (isset($this->crudMessage)) : ?>

				<div class="alert alert-success">
                	<button data-dismiss="alert" class="close" type="button">×</button>
                    <strong>Operação realizada com sucesso!</strong>
	    			<span><br /><?= $this->crudMessage ?></span>
                </div>	

			    <?php endif; ?>
	                        	                        
                <!-- Table with footer -->
                <div class="widget">
                	<form action="#" class="form-horizontal" method="post">
                		<input type="hidden" value="<?= (isset($this->post_var['sorting'])) ? $this->post_var['sorting'] : '' ?>" name="sorting" />
	                	<div class="navbar">
	                		<div class="navbar-inner">
	                			<h6>Visualizando registros</h6>
	                			<?php if (Mn_Util::isAccess($this->getController(), 'adicionar')) : ?>

	                			<a style="float:right;" href="<?= $this->baseUrl() ?>/<?= 'admin' ?>/<?= $this->getController() ?>/adicionar" class="btn btn-primary">
	                				
	                				<span class="icon-plus"></span>&nbsp;Adicionar Material Didático de Professor
	                			</a>

	                			<?php endif ?>
	                		</div>
	                	</div>
	                    <div class="table-overflow">
	                        <table class="table table-content">
	                            <thead>
	                                <tr>
	                                <th width="20">#</th>
                                    <th class="s-sequencial sorting">Sequencial do Material Didático</th>
                                    <th class="s-iddisciplina sorting">Disciplina</th>
                                    <th class="s-status sorting">Status</th>


	                                <th width="96">Ações</th>
	                                </tr>
	                                <tr>
	                                    <th></th>

	                                    <th><input name="sequencial" value="<?= (isset($this->post_var['sequencial'])) ? $this->post_var['sequencial'] : '' ?>" type="text" placeholder="Sequencial do Material Didático" class="span3"></th>

	                                    <th><div>
											<select name="iddisciplina" placeholder="Todos" class="select">
												<option value="">Todos</option>
												<?php foreach(Escolasmaterias::GetEscolasmateriasHelper(array('status'=>'Ativo')) as $k=>$v) : ?>

												<option value="<?= $v['id'] ?>"><?= $v['materia'] ?></option>

												<?php endforeach ?>
											</select>
										</div></th>

										<th>	
										<div>
											<select name="status1" placeholder="Todos" class="select">
												<option value="">Todos</option>
												<option value="Ativo">Ativo</option>
												<option value="Bloqueado">Bloqueado</option>
											</select>
										</div>
										</th>                   

	                                    <th><button class="btn btn-mini btn-primary" type="submit">Pesquisar</button></th>
	                                </tr> 
	                                                                
	                            </thead>
	                            <tbody>
	                            	<?php if (sizeof($this->rows)==0) : ?>
	                                <tr>
	                                    <td colspan="5">Nenhum registro foi encontrado!</td>
	                                </tr>
	                            	
	                            	<?php else : ?>
	                            	<?php foreach ($this->rows as $row) : ?>
	                                <tr>
	                                	<td><?= $row['id'] ?></td>

										<td><?= $row['sequencial'] ?></td>
										<td>
										<?php 

											$__rows = Escolasmaterias::GetEscolasmateriasHelper(array('id'=>$row['iddisciplina']));

											echo (count($__rows) > 0) ? $__rows[0]['materia'] : '--';
										?>
										</td>

										<td>
											<?= $row['status'] ?>
										</td>

			                				

	                                    <td>
	                                        <ul class="table-controls">
	                                            <li>
	                                            	<a title="" class="btn tip" href="<?= $this->baseUrl() ?>/<?= 'admin' ?>/<?= $this->getController() ?>/visualizar/id/<?= $row['id'] ?>" data-original-title="Visualizar">
	                                            		<i class="icon-eye-open"></i>
	                                            	</a> 
	                                            </li>
	                                            <?php if (Mn_Util::isAccess($this->getController(), 'editar')) : ?>

	                                            <li>
	                                            	<a title="" class="btn tip" href="<?= $this->baseUrl() ?>/<?= 'admin' ?>/<?= $this->getController() ?>/editar/id/<?= $row['id'] ?>" data-original-title="Editar">
	                                            		<i class="icon-pencil"></i>
	                                            	</a> 
	                                            </li>

	                                            <?php endif ?>

	                                            <?php if ((Mn_Util::isAccess($this->getController(), 'excluir'))) : ?>

	                                            <li>
	                                            	<a title="" class="btn tip" href="javascript:confirmDelete('<?= $row['id'] ?>','registro');" data-original-title="Excluir">
	                                            		<i class="icon-remove"></i>
	                                            	</a> 
	                                            </li>

	                                            <?php endif; ?>
	                                        </ul>
	                                    </td>
	                                </tr>
	                            	<?php endforeach ?>                    	
	                            	<?php endif ?>	
	                            </tbody>
	                        </table>
	                    </div>
	                    <?= $this->render('/helpers/paginator.phtml') ?>                    
                    </form>
                </div>
                <!-- /table with footer -->
            </div>
		    <!-- /content wrapper -->
		</div>
		<!-- content -->		
		
<script type="text/javascript" src="<?php echo $this->baseUrl('/public/scripts/admin/materiaisdidaticosprofessores_index.js') ?>"></script>

<script type="text/javascript">

	var form_values = {};

	<?php if (isset($this->post_var)) :  ?>

	form_values.status1 = '<?= (isset($this->post_var['status1'])) ? $this->post_var['status1'] : $this->post_var['status'] ?>';
	form_values.iddisciplina = '<?= (isset($this->post_var['iddisciplina'])) ? $this->post_var['iddisciplina'] : '' ?>';

	<?php endif ?>

	var sorting = ["sequencial", "iddisciplina"];
	
</script>