<?php

$idescola = $_POST['idescola'];

$a_dadosEscola = Escolas::GetEscolasHelper(array('id'=>$idescola));
$dadosEscola = (sizeof($a_dadosEscola)>0) ? $a_dadosEscola[0] : NULL;

?>
<div id="escola-<?= $_POST['idescola'] ?>" style="border-top: 1px solid #eee; box-shadow: 0 1px 0 #fff inset; -webkit-box-shadow: 0 1px 0 #fff inset;-moz-box-shadow: 0 1px 0 #fff inset;padding: 18px 16px;" >
	<div class="control-group">	
		<div class="navbar">
			<div class="navbar-inner">
				<h6><?= $dadosEscola['escola'] ?> - Séries</h6>
			</div>
		</div>
		<br>
		<label class="control-label">Série de <?= $dadosEscola['escola'] ?></label>
		<div class="controls">
			<select name="idseries[]" class="select">
				<?php if (sizeof($this->rows)==0) : ?>
				<option value="0-<?=$idescola?>">Selecione...</option>
				<option value="0-<?=$idescola?>">Nenhuma série foi encontrada para essa escola</option>
				<?php else : ?>
				<option value="0-<?=$idescola?>">Selecione...</option>
				<?php foreach ($this->rows as $row) : ?>
				<option value="<?php echo $row['id'] ?>-<?=$idescola?>"><?php echo $row['idgdae'] ?>. <?php echo $row['descricoes'] ?> - <?php echo $row['descricao'] ?></option>
				<?php endforeach; ?>
				<?php endif; ?>
			</select>
		</div>
	</div>
</div>
