	<?php $tipoPerfil = Usuarios::getUsuario('idperfil'); // tipo de usuario para exibir determinados campos do T.I ?>			
		<!-- Content -->
		<div id="content">

		    <!-- Content wrapper -->
		    <div class="wrapper">

			    <!-- Breadcrumbs line -->
			    <div class="crumbs">
			    	<?php echo $this->render('/helpers/breadcrumb.phtml') ?>
			    </div>
			    <!-- /breadcrumbs line -->

			    <!-- Page header -->
			    <div class="page-header">
			    	<div class="page-title">
				    	<h5>Formulário do chamado</h5>
				    	<span>Verifique os campos e preencha com os dados</span>
			    	</div>
			    </div>
			    <!-- /page header -->

			    <?php if (isset($this->crudMessage)) : ?>
					<div class="alert alert-success">
	                	<button data-dismiss="alert" class="close" type="button">×</button>
	                    <strong>Operação realizada com sucesso!</strong>
		    			<span><br /><?php echo $this->crudMessage ?></span>
	                </div>			    
			    <?php endif; ?>

				<form id="form" name="form" action="" method="post" class="form-horizontal" enctype="multipart/form-data"> 
					<input type="hidden" value="<?php echo (isset($this->post_var)) ? $this->post_var["id"] : ''; ?>" name="id" id="id" />

					<input type="hidden" value="" name="finalizar" id="finalizar" />
					
					<fieldset>
						<!-- General form elements -->
						<div class="widget row-fluid">
						    <div class="navbar">
						        <div class="navbar-inner">
						            <h6>Digite as informações do formulário</h6>
						        </div>
						    </div>

						    <div class="well">
								<?php if (isset($this->erros)) : ?>
									<div class="alert alert-error margin">
				                        <button data-dismiss="alert" class="close" type="button">×</button>
				                        <strong>Há erros no formulário!</strong>
					    				<?php foreach ($this->erros as $k=>$v) : ?>
					    					<span><br />- <?php echo $v ?></span>
					    				<?php endforeach;?>			                        
				                    </div>
			                    <?php endif; ?>						    
						    
			
				<div class="control-group">
					<div class="controls1 visualizar visualizartodos">
						<table class="table table-content" width="100%">
							<tbody>
								<tr>
									<input type="hidden" value="<?php echo (isset($this->post_var['sequencial'])) ? $this->post_var['sequencial'] : $this->sequencial ?>" name="sequencial" id="sequencial" />
									<td width="33%">Sequencial/Ano: <?php echo (isset($this->post_var['sequencial'])) ? $this->post_var['sequencial'] : $this->sequencial ?></td>
									<td width="34%">Data da Abertura: 
									<?php 
									
										if(isset($this->post_var['datacriacao'])): 
											echo date('d/m/Y', strtotime($this->post_var['datacriacao']));
										else: 
											echo date('G:i:s'); 
										endif;
									
									?></td>
									<td width="33%">Hora da Abertura: 
									<?php 
									
										if(isset($this->post_var['datacriacao'])): 
											echo date('H:i:s', strtotime($this->post_var['datacriacao'])) ;
										else: 
											echo date('G:i:s'); 
										endif;
									
									?></td>
								</tr>
							</tbody>
						</table>
						
					</div>
				</div> 

                <?php $idescola = Usuarios::getUsuario('idescola'); ?>
				<?php $idlocal = Usuarios::getUsuario('idlocal'); ?>
				<?php if(($idescola>0) || ($idlocal>0)): ?>		    
				<div class="control-group">
					<div class="controls1 visualizar">
						<table class="table table-content" width="100%">
							<tbody>
								<tr>
									<input maxlength="500" placeholder="Nome do Usuário" name="idusuario" value="<?php echo Usuarios::getUsuario('id') ?>" type="hidden"  class="span3" />
									<input  placeholder="Data de lançamento" name="datalancamento" value="<?php echo (isset($this->post_var['datalancamento'])) ? Mn_Util::formPostVarData($this->post_var['datalancamento']) : date('d/m/Y') ?>" type="hidden"  class="span3" />
									<input maxlength="500" placeholder="Nome do Usuário" name="idlocal" value="<?php echo Usuarios::getUsuario('idlocal') ?>" type="hidden"  class="span3" />
									<input maxlength="500" placeholder="Nome do Usuário" name="idescola" value="<?php echo Usuarios::getUsuario('idescola') ?>" type="hidden"  class="span3" />

									<td width="33%">Nome do Usuário: 
									<?php 
									
											//echo UsuariosPerfis::getPerfilByIdHelper(Usuarios::getUsuario('idperfil'))['perfil'];
											if(isset($this->post_var)){

												$funcionario = Usuarios::getUsuarioByIdHelper($this->post_var['idusuariocriacao']);
												$func = Funcionariosgeraisescolas::getFuncionariosgeraisescolasHelper(array('id'=>$funcionario['idfuncionario']))[0]; 
												
											
	
											}else{
	
												$funcionario = Usuarios::getUsuario('idfuncionario');
												$func = Funcionariosgeraisescolas::getFuncionariosgeraisescolasHelper(array('id'=>$funcionario))[0]; 
												
												
											}
										
											echo $func['nome'] . ' / RGF : [' . $func['rgf'] . ']' ;
									?>
									</td>
									<!-- <td width="34%">Data da Abertura: <?php echo date('d/m/Y') ?></td> -->
									<td width="33%">
									<?php 
										
										//echo UsuariosPerfis::getPerfilByIdHelper(Usuarios::getUsuario('idperfil'))['perfil'];
										if(isset($this->post_var)){

											$funcionario = Usuarios::getUsuarioByIdHelper($this->post_var['idusuariocriacao']);
											$dadosUserEscola = Funcionariosgeraisescolas::getFuncionariogeralescolaByIdHelper($funcionario['idfuncionario']); 
											if($dadosUserEscola['idescola']){
												echo 'Escola : ' . Escolas::getEscolaByIdHelper($dadosUserEscola['idescola']);
											}else{
												echo  'Departamento : ' . UsuariosPerfis::getPerfilByIdHelper($dadosUserEscola['idperfil'])['perfil'];
											}  

										}else{

											$funcionario = Usuarios::getUsuario('idfuncionario');
											$idescola = Funcionariosgeraisescolas::getFuncionariosgeraisescolasHelper(array('id'=>$funcionario))[0]['idescola']; 
											
											if(($idescola > 0) and (isset($idescola))){
												echo 'Escola : ' . Escolas::getEscolaByIdHelper($idescola)['nome'];
											}else{
												echo  'Departamento : ' . UsuariosPerfis::getPerfilByIdHelper(Usuarios::getUsuario('idperfil'))['perfil'];
											}//end if/else
										}
										
									?>
									</td>
								</tr>
							</tbody>
						</table>
						
					</div>
				</div>
				<?php else: ?>
				<div class="control-group">
					<div class="controls1 visualizar">
						<table class="table table-content" width="100%">
							<tbody>
								<tr>
									<input maxlength="500" placeholder="Nome do Usuário" name="idusuario" value="<?php echo Usuarios::getUsuario('id') ?>" type="hidden"  class="span3" />
									<input  placeholder="Data de lançamento" name="datalancamento" value="<?php echo (isset($this->post_var['datalancamento'])) ? Mn_Util::formPostVarData($this->post_var['datalancamento']) : date('d/m/Y') ?>" type="hidden"  class="span3" />
									
									<?php 
										$funcionario = Usuarios::getUsuarioByIdHelper($this->post_var['idusuariocriacao']);
										$dadosUserEscola = Funcionariosgeraisescolas::getFuncionariogeralescolaByIdHelper($funcionario['idfuncionario']); 
									?>
									
									<td width="50%">Nome do Usuário: <?php echo $dadosUserEscola['nome'] . ' - ' . $dadosUserEscola['rgf']; ?></td>
									<td width="33%"><?php 
											 
											
										 
											if($dadosUserEscola['idescola']){
												echo 'Escola : ' . Escolas::getEscolaByIdHelper($dadosUserEscola['idescola'])['escola'];
											}else{
												echo  'Departamento : ' . UsuariosPerfis::getPerfilByIdHelper($dadosUserEscola['idperfil'])['perfil'];
											} 

										
										
										?>
											
									</td>
								</tr>
							</tbody>
						</table>
						
					</div>
				</div>
				<?php endif; ?>
							
			 
				

<?php if($tipoPerfil != 36): ?> 
				
				<?php if($this->post_var['dataagendada']): ?> 
					<div class="control-group">
						<label class="control-label">Descrever o problema <span class="required">*</span></label>
						<input maxlength="500" placeholder="descricoes" name="descricoes" value="<?php echo (isset($this->post_var['descricoes'])) ? $this->post_var['descricoes'] : '' ?>" type="hidden"  class="span3" />
						<div class="controls">
							<?php  
								echo '<strong>' .  $this->post_var["descricoes"] . '</strong>'   ;
							?>
						</div>
					</div>

				<?php else: ?> 
					<div class="control-group">
						<label class="control-label">Descrever o problema <span class="required">*</span></label>
						<div class="controls"><textarea class="span12" name="descricoes" cols="5" rows="5"><?php echo (isset($this->post_var)) ? $this->post_var["descricoes"] : ''; ?></textarea></div>
					</div>
				<?php endif; ?> 
 <?php else: ?>
				<div class="control-group">
					<label class="control-label">Descrever o problema <span class="required">*</span></label>
					<input maxlength="500" placeholder="descricoes" name="descricoes" value="<?php echo (isset($this->post_var['descricoes'])) ? $this->post_var['descricoes'] : '' ?>" type="hidden"  class="span3" />
					<div class="controls">
						<?php  
							echo '<strong>' .  $this->post_var["descricoes"] . '</strong>'   ;
						?>
					</div>
				</div>
<?php endif; ?>

<?php if($this->post_var['dataagendada'] OR $tipoPerfil == 36):    //so aparece depois que a engenharia preencher?>
<?php if($tipoPerfil == 36 AND $this->post_var['idprioridade'] ): ?>

		<?php if($this->post_var['dataagendada'] ): ?>

				<div class="control-group">
					<label class="control-label">Prioridade <span class="required">*</span></label>
					<input maxlength="500" placeholder="descricoes" name="idprioridade" value="<?php echo (isset($this->post_var['idprioridade'])) ? $this->post_var['idprioridade'] : '' ?>" type="hidden"  class="span3" />
					<div class="controls">
						<?php  
							echo '<strong>' . Chamadosprioridades::getChamadosprioridadeByIdHelper($this->post_var["idprioridade"])['descricoes'] . '</strong>'   ;
						?>
					</div>
				</div>

		<?php else: ?>

			<div class="control-group">
					<label class="control-label">Prioridadade <span class="required">*</span></label>
					<div class="controls">
		                <select name="idprioridade" data-placeholder="Prioridadade" class="select">
							<option value="">Selecione...</option>
							<?php foreach (Chamadosprioridades::getChamadosprioridadesHelper(array('status'=>'Ativo', 'departamento'=> 36)) as $k=>$v) : ?>
							<option value="<?php echo $v['id'] ?>"><?php echo $v['prioridadade'] ?></option>
							<?php endforeach;?>
						</select>
						
					</div>
				</div>

		<?php endif; ?>
				
 <?php else: ?>
				<div class="control-group">
					<label class="control-label">Prioridadade <span class="required">*</span></label>
					<input maxlength="500" placeholder="idprioridade" name="idprioridade" value="<?php echo (isset($this->post_var['idprioridade'])) ? $this->post_var['idprioridade'] : '' ?>" type="hidden"  class="span3" onchange="setDadosPatrimonio(this)"/>
					<div class="controls">
						<?php 
							$chamadosprioridades = Chamadosprioridades::getChamadosprioridadeByIdHelper($this->post_var['idprioridade']); 
							echo '<strong>' . $chamadosprioridades['prioridadade'] . '</strong>';
						?>
					</div>
				</div>
<?php endif; ?>



<?php if($tipoPerfil == 36  AND !$this->post_var['dataagendada']): ?>
				<div class="control-group">
					<label class="control-label">Data Agendada</label>
					<div class="controls"><input placeholder="Data" name="dataagendada" value="<?php echo (isset($this->post_var['dataagendada'])) ? Mn_Util::formPostVarData($this->post_var['dataagendada']) : '' ?>" type="text"  class="span3" /></div>
				</div>
<?php else: ?>
				<div class="control-group">
					<label class="control-label">Data Agendada <span class="required">*</span></label>
					<input maxlength="500" placeholder="dataagendada" name="dataagendada" value="<?php echo (isset($this->post_var['dataagendada'])) ? Mn_Util::formPostVarData($this->post_var['dataagendada']) : '' ?>" type="hidden"  class="span3" onchange="setDadosPatrimonio(this)"/>
					<div class="controls">
					  <?php
							echo '<strong>' . Mn_Util::formPostVarData($this->post_var['dataagendada']) . '</strong>';
						?>
					</div>
				</div>
<?php endif; ?>
			
			<?php if($this->post_var['descricoes'] AND $tipoPerfil == 36  AND empty($this->post_var['atendido'])) : ?>
				<div class="control-group">
					<label class="control-label">Observações da data agendada* </label>
					<div class="controls"><textarea class="span12" name="obsEngenheiro" cols="5" rows="5"><?php echo (isset($this->post_var["obsEngenheiro"])) ? $this->post_var["obsEngenheiro"] : ''; ?></textarea></div>
				</div>
			<?php elseif($this->post_var['descricoes'] ) : ?>
				<div class="control-group">
					<label class="control-label">Observações da data agendada* </label>
					<div class="controls"><?php echo $this->post_var["obsEngenheiro"]; ?></div>
				</div>
				<input type="hidden" name="obsEngenheiro" value="<?= $this->post_var["obsEngenheiro"] ?>">
			<?php endif; ?>

<?php if($tipoPerfil == 36 ): ?>

				<?php if(isset($this->post_var['dataagendada']) and ($this->post_var['atendido'] == 'sim' or $this->post_var['atendido'] == 'nao')): ?>
					<div class="control-group" id="tipo-avaliacao">
						<label class="control-label">Tipo da Equipe </label>
						<div class="controls">
						<input name='idtipodaequipe' type='hidden' value='<?php echo (isset($this->post_var['idtipodaequipe'])) ? $this->post_var['idtipodaequipe'] : '' ?>'>
							<?php echo '<strong>' . Chamadosequipes::getChamadosequipesHelper(array('status'=>'Ativo', 'id' => $this->post_var['idtipodaequipe']))[0]['equipe'] . '</strong>' ?>
						</div>
					</div>		
				
				
				<?php else: ?>
					<div class="control-group" id="tipo-avaliacao">
						<label class="control-label">Tipo da Equipe </label>
						<div class="controls">
							<select name="idtipodaequipe" data-placeholder="Tipo" class="select">
								<option value="">Selecione...</option>
								<?php foreach (Chamadosequipes::getChamadosequipesHelper(array('status'=>'Ativo', 'iddepartamento' => 6)) as $k=>$v) : ?>
								<option value="<?php echo $v['id'] ?>"><?php echo $v['equipe'] ?></option>
								<?php endforeach;?>
							</select> 
						</div>
					</div>

				<?php endif; ?>
				
<?php else: ?>
				<div class="control-group">
					<label class="control-label">Tipo da Equipe <span class="required">*</span></label>
					<input maxlength="500" placeholder="idtipodaequipe" name="idtipodaequipe" value="<?php echo (isset($this->post_var['idtipodaequipe'])) ? $this->post_var['idtipodaequipe'] : '' ?>" type="hidden"  class="span3" onchange="setDadosPatrimonio(this)"/>
					<div class="controls">
						<?php 
							$chamadosequipes = Chamadosequipes::getChamadosequipeByIdHelper($this->post_var['idtipodaequipe']); 
							echo '<strong>' . $chamadosequipes['equipe'] . '</strong>';
						?>
					</div>
				</div>
<?php endif; ?>
 
 <?php if($tipoPerfil == 36): ?>


				<?php if(isset($this->post_var['dataagendada']) and ($this->post_var['atendido'] == 'sim' or $this->post_var['atendido'] == 'nao')): ?>
					<div class="control-group" id="tipo-avaliacao">
						<label class="control-label">Técnico Responsável </label>
						<div class="controls">
							<input name='idresponsavel' type='hidden' value='<?php echo (isset($this->post_var['idresponsavel'])) ? $this->post_var['idresponsavel'] : '' ?>'>
							<?php echo '<strong>' . Tecnicosresponsaveis::getTecnicosresponsaveisHelper(array('status'=>'Ativo', 'id' => $this->post_var['idresponsavel']))[0]['nome'] . '</strong>' ?>
						</div>
					</div>		
				
				
				<?php else: ?>
					
					<div class="control-group" id="tipo-avaliacao">
						<label class="control-label">Responsavel Técnico </label>
						<div class="controls">
							<select name="idresponsavel" data-placeholder="Tipo" class="select">
								<option value="">Selecione...</option>
								<?php foreach (Tecnicosresponsaveis::getTecnicosresponsaveisHelper(array('status'=>'Ativo','departamento'=>'36')) as $k=>$v) : ?>
									<?php if($v['nome'] != ''):?>
										<option value="<?php echo $v['id'] ?>"><?php echo $v['nome']  ?></option>
									<?php endif;?>
								<?php endforeach;?>
							</select> 
						</div>
					</div>  

				<?php endif; ?>

				
<?php else: ?>
				<div class="control-group">
					<label class="control-label">Responsavel Técnico <span class="required">*</span></label>
					<input maxlength="500" placeholder="idresponsavel" name="idresponsavel" value="<?php echo (isset($this->post_var['idresponsavel'])) ? $this->post_var['idresponsavel'] : '' ?>" type="hidden"  class="span3" onchange="setDadosPatrimonio(this)"/>
					<div class="controls">
						<?php 
							$chamadosequipes = Tecnicosresponsaveis::getTecnicosresponsavelByIdHelper($this->post_var['idresponsavel']); 
							echo '<strong>' . $chamadosequipes['nome'] . '</strong>';
						?>
					</div>
				</div>
<?php endif; ?>
				
<?php if($this->post_var['atendido']): ?>
 <?php if($tipoPerfil == 36 AND !$this->post_var['servicoesdescricoes']): ?>				
						<div class="control-group">
							<label class="control-label">Descrições dos serviços </label>
							<div class="controls"><textarea class="span12" name="servicoesdescricoes" cols="5" rows="5"><?php echo (isset($this->post_var)) ? $this->post_var["servicoesdescricoes"] : ''; ?></textarea></div>
						</div>
						<input name='atendido' type='hidden' value='<?php echo  (isset($this->post_var['atendido'])) ? $this->post_var['atendido'] : " " ?>'> 
<?php else: ?>
				<div class="control-group">
					<label class="control-label">Descrições dos serviços <span class="required">*</span></label>
						<?php if($this->post_var['servicoesdescricoes'] != ''): ?>
							<input maxlength="500" placeholder="servicoesdescricoes" name="servicoesdescricoes" value="<?php echo (isset($this->post_var['servicoesdescricoes'])) ? $this->post_var['servicoesdescricoes'] : '' ?>" type="hidden"  class="span3" />		
						<?php endif; ?>
					
					<div class="controls">
						<?php  
							echo '<strong>' .  $this->post_var['servicoesdescricoes'] . '<strong>';
						?>
					</div>
				</div>
<?php endif; ?>

<?php if($tipoPerfil == 36 AND !$this->post_var['servicosmateriais']): ?>	
						<div class="control-group">
							<label class="control-label">Materiais Utilizados </label>
							<div class="controls"><textarea class="span12" name="servicosmateriais" cols="5" rows="5"><?php echo (isset($this->post_var)) ? $this->post_var["servicosmateriais"] : ''; ?></textarea></div>
						</div> 
<?php else: ?>
				<div class="control-group">
					<label class="control-label">Materiais Utilizados <span class="required">*</span></label>
						<?php if($this->post_var['servicosmateriais'] != ''): ?>
						<input maxlength="500" placeholder="servicosmateriais" name="servicosmateriais" value="<?php echo (isset($this->post_var['servicosmateriais'])) ? $this->post_var['servicosmateriais'] : '' ?>" type="hidden"  class="span3" />		
						<?php endif; ?>
					
					<div class="controls">
						<?php  
							echo '<strong>' .  $this->post_var['servicosmateriais'] . '<strong>';
						?>
					</div>	
				</div>
<?php endif; ?>
<?php endif; ?>
				 
			 
 	  
<div class="content-atentido"  >
 
	<?php if($tipoPerfil != 36 AND $this->post_var['idresponsavel']): ?>
	
		<?php if(trim($this->post_var['atendido']) == 'sim' or $this->post_var['atendido'] == 'nao'): ?>

						<div class="control-group">
						<label class="control-label">Solicitação atendida ? </label>
						<div class="controls">
							<input type="hidden" name='atendido' value='<?php echo (isset($this->post_var['atendido'])) ? $this->post_var['atendido'] : '' ?>'>
							<?php echo  (isset($this->post_var['atendido'])) ? '<strong>' . $this->post_var['atendido'] . '<strong>' : 'Não Atribuido'; ?>
							<!-- <input type="radio" name="atendido"  id="atendido_sim" value="sim" onchange="setCamposAtendido(this, 0)" <?php echo ($this->post_var['atendido'] == 'sim') ? 'checked' : ''; ?>/> Sim <br />
							<input type="radio" name="atendido"  id="atendido_nao" value="nao" onchange="setCamposAtendido(this, 0)" <?php echo ($this->post_var['atendido'] == 'nao') ? 'checked' : ''; ?>/> Não -->
						</div>
					</div>	

		<?php else: ?>

						
						<div class="control-group">
						<label class="control-label">Solicitação atendida ? </label>
						<div class="controls">
							<input type="radio" name="atendido"  id="atendido_sim" value="sim" onchange="setCamposAtendido(this, 0)" <?php echo ($this->post_var['atendido'] == 'sim') ? 'checked' : ''; ?>/> Sim <br />
							<input type="radio" name="atendido"  id="atendido_nao" value="nao" onchange="setCamposAtendido(this, 0)" <?php echo ($this->post_var['atendido'] == 'nao') ? 'checked' : ''; ?>/> Não
							<?php if($this->post_var['atendido'] == 'sim' or $this->post_var['atendido'] == 'nao' ): ?>
								
								<!-- <input maxlength="500" placeholder="servicoesdescricoes" name="servicoesdescricoes" value="<?php echo (isset($this->post_var['servicoesdescricoes'])) ? $this->post_var['servicoesdescricoes'] : 'x' ?>" type="text"  class="span3" />
								<input maxlength="500" placeholder="servicosmateriais" name="servicosmateriais" value="<?php echo (isset($this->post_var['servicoesdescricoes'])) ? $this->post_var['servicoesdescricoes'] : 'x' ?>" type="text"  class="span3" /> -->
							
							<?php endif; ?>

							
						</div>
					</div>	

		<?php endif; ?>

					

	
					
	<?php elseif($tipoPerfil == 36 AND $this->post_var['idresponsavel'] AND $this->post_var['atendido']): ?>	
		
		<div class="control-group">
			<label class="control-label">Solicitação atendida ? </label>
			<div class="controls">
				<input type="hidden" name='atendido' value='<?php echo (isset($this->post_var['atendido'])) ? $this->post_var['atendido'] : '' ?>'>
				<?php echo  (isset($this->post_var['atendido'])) ? '<strong>' . $this->post_var['atendido'] . '<strong>' : 'Não Atribuido'; ?> 
			</div>
		</div>
		
	<?php else: ?>

					<?php if(($this->post_var['atendido'] != 'sim' or $this->post_var['atendido'] != 'nao') or $this->post_var['idtipo'] == '0'): ?>

					<?php else: ?>

						<div class="control-group">
							<label class="control-label">Solicitação atendida c? <span class="required">*</span></label>
							<!-- <input maxlength="500" placeholder="atendido" id="atendido_sim" name="atendido" value="<?php echo (isset($this->post_var['atendido'])) ? $this->post_var['atendido'] : '' ?>" type="hidden"  class="span3" />
							
							<input maxlength="500" placeholder="atendido" id="atendido_nao" name="atendido" value="<?php echo (isset($this->post_var['atendido'])) ? $this->post_var['atendido'] : '' ?>" type="hidden"  class="span3" /> -->
							
							<?php if(isset($this->post_var['atendido']) and $this->post_var['atendido'] != ''): ?>
								<input name="atendido" value="<?php echo (isset($this->post_var['atendido'])) ? $this->post_var['atendido'] : '' ?>" type="hidden"  class="span3" /> 
							<?php else: ?>

							<?php endif; ?>
							<div class="controls">
								<?php  
									echo '<strong>' .  $this->post_var['atendido'] . '<strong>';
								?>
							</div>	
						</div>

					<?php endif; ?>
					
	<?php endif; ?>

		<?php if($this->post_var['atendido'] == 'sim'): ?>

			<div class="control-group">
				<label class="control-label">Avaliação <span class="required">*</span></label>
				<div class="controls">
					<?php  
						echo '<strong>' . Avaliacoesservicos::getAvaliacaoservicoByIdHelper($this->post_var['idtipo'])['tipoavaliacao'] . '<strong>';
					?>
				</div>	
			</div>

		<?php endif; ?>
 
<div class="content-campos-nao-atendido" style="display:none;">
<?php if($tipoPerfil != 36 AND !$this->post_var['observacoes']): ?>
					<div class="control-group">
						<label class="control-label">Observações * </label>
						<div class="controls"><textarea class="span12" name="observacoes" cols="5" rows="5"><?php echo (isset($this->post_var)) ? $this->post_var["observacoes"] : ''; ?></textarea></div>
					</div>
<?php endif; ?>
</div>
<?php if($this->post_var['observacoes']): ?>
				<div class="control-group">
					<label class="control-label">Observações <span class="required">*</span></label>
					<input maxlength="500" placeholder="observacoes" name="observacoes" value="<?php echo (isset($this->post_var['observacoes'])) ? $this->post_var['observacoes'] : '' ?>" type="hidden"  class="span3" />
					<div class="controls">
						<?php  
							echo '<strong>' .  $this->post_var['observacoes'] . '<strong>';
							?>
					</div>	
				</div>
<?php endif; ?>

<?php endif; // fim so aparece depois que a engenharia preencher?> 

<div class="content-campos-atentido" style="display:none;"> 
<?php if($tipoPerfil != 36): ?>

				<?php if(isset($this->post_var['dataagendada'])): ?>
							<div class="control-group">
							<label class="control-label"> Tipo de avaliação de serviços *</label>
							<div class="controls">
								
								<select name="idtipo" data-placeholder="Tipo" class="select">
									
									<?php foreach (Avaliacoesservicos::getAvaliacoesservicosHelper(array('status'=>'Ativo', 'departamento' => 36)) as $k=>$v) : ?>
									<option value="<?php echo $v['id'] ?>"><?php echo $v['tipoavaliacao'] ?></option>
									<?php endforeach;?>
								</select> 
							</div>
						</div> 
					</div>
				<?php else: ?>
							<div class="control-group">
							<label class="control-label"> Tipo de avaliação de serviços *</label>
							<div class="controls">
								
								<select name="idtipo" data-placeholder="Tipo" class="select">
									
									<?php foreach (Avaliacoesservicos::getAvaliacoesservicosHelper(array('status'=>'Ativo', 'departamento' => 36)) as $k=>$v) : ?>
									<option value="<?php echo $v['id'] ?>"><?php echo $v['tipoavaliacao'] ?></option>
									<?php endforeach;?>
								</select> 
							</div>
						</div> 
					</div>

				<?php endif; ?>
					
		</div>
<?php else: ?>

			<?php if($this->post_var['idtipo']): ?>
                <div class="control-group">
					<label class="control-label">Tipo de avaliação de serviços <span class="required">*</span></label>
					<input maxlength="500" placeholder="idtipo" name="idtipo" value="<?php echo (isset($this->post_var['idtipo'])) ? $this->post_var['idtipo'] : '' ?>" type="hidden"  class="span3" />
					<div class="controls">
						<?php 
							$tipoavaliacao = Avaliacoesservicos::getAvaliacaoservicoByIdHelper($this->post_var['idtipo']); 
							echo $tipoavaliacao['tipoavaliacao'];
							?>
					</div>
				</div>
			<?php endif; ?>

<?php endif; ?>
				
 



<?php if($tipoPerfil == 36 AND $this->post_var['atendido']): ?>
				<div class="control-group">
						<label class="control-label">Finalizar atendimento?</label>
						<div class="controls">
						    <input type="radio" name="finalizacao" value="Sim" <?php echo ($this->post_var['finalizacao'] == 'Sim') ? 'checked' : ''; ?>/> Sim  <br />
							<input type="radio" name="finalizacao" value="Não" <?php echo ($this->post_var['finalizacao'] == 'Não') ? 'checked' : ''; ?> />  Não
						</div>
					</div> 
 
<?php endif; ?>
 
<?php if($this->post_var['idprioridade'] OR $tipoPerfil == 36): ?>
 
					<div class="control-group">
						<label class="control-label">Status <span class="required">*</span></label>
						<input maxlength="500" placeholder="idstatus" name="idstatus" value="<?php echo (isset($this->post_var['idstatus'])) ? $this->post_var['idstatus'] : '' ?>" type="hidden"  class="span3" onchange="setDadosPatrimonio(this)"/>
						<div class="controls">
							<?php 
								$chamadosprioridades = Chamadosstatus::getChamadosstatuByIdHelper($this->post_var['idstatus']); 
								echo '<strong>' . $chamadosprioridades['titulo'] . '</strong>';
							?>
						</div>
					</div>
<?php endif; ?>
 
 
						  </div>  
						    </div>
						    
			                <div class="form-actions align-right">
			                	<?php if ((isset($this->visualizar)) && ($this->visualizar) && (isset($this->visualizartodos)) && ($this->visualizartodos)) : ?>
			                		<button onclick="window.history.back()" class="btn btn-danger cancelar" type="button">Voltassr</button>
								<?php else : ?>
									<?php if(!($this->visualizar)) : ?>
										<button class="btn btn-primary enviar" type="submit">Salvar</button>
									<?php endif ; ?>
				                	
				                	<?php if((isset($this->departamento['id'])) && ($this->departamento['id']=="6")): ?>
				                	<button class="btn btn-primary enviar" type="button" onclick="setFinalizar()">Finalizar Atendimento</button>
									<?php endif; ?>
									<?php if(($this->visualizar)) : ?>
										<button onclick="window.history.back()" class="btn btn-danger cancelar" type="button">Voltar</button>
									<?php else : ?>
										<button onclick="window.history.back()" class="btn btn-danger cancelar" type="button">Cancelar </button>
									<?php endif ; ?>
				                	
				                	
			                	<?php endif; ?>
			                </div>
						</div>
						<!-- /general form elements -->

					</fieldset> 

				</form>
				<!-- /basic inputs -->

		    </div>
		    <!-- /content wrapper -->

		</div>
		<!-- content -->
				
<script type="text/javascript" src="<?php echo $this->baseUrl('/public/scripts/admin/engenhariaschamados_form.js') ?>"></script>
<script type="text/javascript">
	var form_values = {};
	
	<?php if (isset($this->post_var)) :  ?>
		form_values.destino = '<?php echo (isset($this->post_var['destino'])) ? $this->post_var['destino'] : '' ?>';

form_values.iddepartamento = '<?php echo (isset($this->post_var['iddepartamento'])) ? $this->post_var['iddepartamento'] : '' ?>';

form_values.idescola = '<?php echo (isset($this->post_var['idescola'])) ? $this->post_var['idescola'] : '' ?>';

form_values.idprioridade = '<?php echo (isset($this->post_var['idprioridade'])) ? $this->post_var['idprioridade'] : '' ?>';

form_values.idstatus = '<?php echo (isset($this->post_var['idstatus'])) ? $this->post_var['idstatus'] : '' ?>';

form_values.finalizacao = '<?php echo (isset($this->post_var['finalizacao'])) ? $this->post_var['finalizacao'] : '' ?>';

form_values.atendido = '<?php echo (isset($this->post_var['atendido'])) ? $this->post_var['atendido'] : '' ?>';

form_values.idtipo = '<?php echo (isset($this->post_var['idtipo'])) ? $this->post_var['idtipo'] : '' ?>';
form_values.idtipodaequipe = '<?php echo (isset($this->post_var['idtipodaequipe'])) ? $this->post_var['idtipodaequipe'] : '' ?>';



form_values.status1 = '<?php echo (isset($this->post_var['status1'])) ? $this->post_var['status1'] : $this->post_var['status'] ?>';

form_values.idresponsavel = '<?php echo (isset($this->post_var['idresponsavel'])) ? $this->post_var['idresponsavel'] : '' ?>';
	<?php endif;  ?>

	<?php if ((isset($this->post_var['idsfuncionarios'])) && ($this->post_var['idsfuncionarios']!="")) :  ?>
	form_values.idsfuncionarios = [<?php echo $this->post_var['idsfuncionarios'] ?>];
	<?php endif; ?>

	visualizar = <?php echo  ((isset($this->visualizar)) && ($this->visualizar))  ? 'true' : 'false' ?>;
	<?php if($this->getAction()=="editar" AND $tipoPerfil == 36) : ?>
		visualizar = true;
	<?php endif; ?> 
	
	visualizartodos = <?php echo  ((isset($this->visualizartodos)) && ($this->visualizartodos))  ? 'true' : 'false' ?>;
	<?php if($this->getAction()=="editar" AND $tipoPerfil != 36) : ?>
		visualizartodos = true;
	<?php endif; ?> 
</script>
