
		<!-- Content -->
		<div id="content">
		
		    <!-- Content wrapper -->
		    <div class="wrapper">

			    <!-- Breadcrumbs line -->
			    <div class="crumbs">
			    	<?php echo $this->render('/helpers/breadcrumb.phtml') ?>
			    </div>
			    <!-- /breadcrumbs line -->

			    <!-- Page header -->
			    <div class="page-header">
			    	<div class="page-title">
				    	<h5>Chamados no sistema</h5>
				    	<span>Visualize os chamados do sistema</span>
			    	</div>
			    	
			    </div>
			    <!-- /page header -->
			    
			    <?php if (isset($this->crudMessage)) : ?>
				<div class="alert alert-success">
                	<button data-dismiss="alert" class="close" type="button">×</button>
                    <strong>Operação realizada com sucesso!</strong>
	    			<span><br /><?php echo $this->crudMessage ?></span>
                </div>			    
			    <?php endif; ?>




	                        	                        
                <!-- Table with footer -->
                <div class="widget">
                	<form action="#" class="form-horizontal" method="post">
                		<input type="hidden" value="<?php echo (isset($this->post_var['sorting'])) ? $this->post_var['sorting'] : '' ?>" name="sorting" />
	                	<div class="navbar">
	                		<div class="navbar-inner">
	                			<h6>Visualizando registros</h6>
	                			<?php if (Usuarios::getUsuario('idperfil') == '36'): ?>
	                				<a style="float:right;" href="<?php echo $this->baseUrl() ?>/<?php echo 'admin' ?>/calendarioengenharias" class="btn btn-primary"><span class="icon-plus"></span>&nbsp;Calendário</a>
								<?php else: ?>
									<?php if (Mn_Util::isAccess($this->getController(), 'adicionar')) : ?>
									<a style="float:right;" href="<?php echo $this->baseUrl() ?>/<?php echo 'admin' ?>/<?php echo $this->getController() ?>/adicionar" class="btn btn-primary"><span class="icon-plus"></span>&nbsp;Adicionar chamado</a>
									<?php endif; ?>
								<?php endif; ?>
								
	                		</div>

							<div class="navbar">
								<div class="navbar-inner">
									<h6>
										<?php if(Usuarios::getUsuario('idperfil') == '36'):?>
											<div>
												<select name="idescola" placeholder="Todos" class="select">
													<option value="">Todos</option>
													<?php foreach (Escolas::getEscolasHelper(array('status'=>'Ativo')) as $k=>$v) : ?>
														<option value="<?php echo $v['id'] ?>"><?php echo $v['escola'] ?></option>
													<?php endforeach;?>
												</select>
											</div> 
										<?php else:?>
											<div>
												<input name='idescola' type='hidden' value=''>
											</div> 
										<?php endif;?>
										
									</h6>

									<div style="float:right; margin-top: 6px; margin-botton: 2px;" >
										Filtrar Chamados por Data de :
										<input name="dataagendada_i" value="<?php echo (isset($this->post_var['dataagendada_i'])) ? Mn_Util::formPostVarData($this->post_var['dataagendada_i']) : '' ?>" type="text" placeholder="Data inicial" class="span3"> a
										<input name="dataagendada_f" value="<?php echo (isset($this->post_var['dataagendada_f'])) ? Mn_Util::formPostVarData($this->post_var['dataagendada_f']) : '' ?>" type="text" placeholder="Data final" class="span3">
										&nbsp;
										
										&nbsp;
										
									
									</div>
								</div>
							</div>

	                    <div class="table-overflow">
	                        <table class="table table-content">
	                            <thead>
	                                <tr>
	                                    <th width="5%">#</th>
										<th>Destino</th>
										<th class="s-idescola sorting" width="96">Descrições</th>
										<th class="s-descricoes sorting">Prioridadade</th>
										<th class="s-idstatus sorting">Chamado</th>
										<th class="s-statusatendimento sorting">Status</th>
                                    	<th class="s-dataagendada sorting" width="96">Data</th>
	                                    <th width="10%">Ações </th>
	                                </tr>
	                                <tr>
	                                    <th></th> 

										<th> 
												
										</th> 
										<th> <!-- <input name="descricoes" value="<?php echo (isset($this->post_var['descricoes'])) ? $this->post_var['descricoes'] : '' ?>" type="text" placeholder="Descrições" class="span3" width='5'>--></th>
										<th> 
											<div>
												<select name="idprioridade" placeholder="Todos" class="select">
													<option value="">Todos</option>
													<?php foreach (Chamadosprioridades::getChamadosprioridadesHelper(array('status'=>'Ativo')) as $k=>$v) : ?>
														<option value="<?php echo $v['id'] ?>"><?php echo $v['prioridadade'] ?></option>
													<?php endforeach;?>
												</select> 
											</div>
										</th>
										<th>
										 	<div>
												<select name="idstatus" placeholder="Todos" class="select">
													<option value="">Todos</option>
													<?php foreach (Chamadosstatus::getChamadosstatusHelper(array('status'=>'Ativo', 'tipostatus' => 'chamado')) as $k=>$v) : ?>
														<option value="<?php echo $v['id'] ?>"><?php echo $v['titulo'] ?></option>
													<?php endforeach;?>
												</select> 
											</div>
										</th>
										<th> 
											<div>
												<select name="statusatendimento" placeholder="Todos" class="select">
													<option value="">Todos</option>
													<?php foreach (Chamadosstatus::getChamadosstatusHelper(array('status'=>'Ativo', 'tipostatus' => 'status')) as $k=>$v) : ?>
														<option value="<?php echo $v['titulo'] ?>"><?php echo $v['titulo'] ?></option>
													<?php endforeach;?>
												</select> 
											</div>

									 
										</th>
										<th>
											
										</th>
 

	                                    <th><button class="btn btn-mini btn-primary" type="submit">Pesquisar</button></th>
	                                </tr> 
	                                                                
	                            </thead>
	                            <tbody>
	                            	<?php if (sizeof($this->rows)==0) : ?>
	                                <tr>
	                                    <td colspan="8">Nenhum registro foi encontrado!</td>
	                                </tr>
	                            	
	                            	<?php else : ?>
	                            	

									<?php foreach ($this->rows as $row) : ?>

										<?php if(isset($row['finalizacao'])) : ?>

											<?php if($row['atendido'] == 'sim') : ?>
												<!-- Caso houver evento de fechamendo de evento com confirmação [Positiva] do usuário -->
												<?php if($row['finalizacao'] == 'Sim') : ?>
													<tr class='success' style='color: #ff3333'>	
												<?php else: ?>
													<tr class='success' style='color: #29a329'>	
												<?php endif; ?>
												
											<?php elseif($row['atendido'] == 'nao') : ?>
												<!-- Caso houver evento de fechamendo de evento com confirmação [Negativa] do usuário -->
												<tr class='secondary' style='color: #ff3333'>	
											<?php endif ; ?>

										<?php else : ?>
											<!-- Caso não houver evento de fechamendo de evento -->
											<tr>	

										<?php endif ; ?>
	                                
										<td><small><?php echo $row['id'] ?></small></td>
										
										<td>
											<?php

												if($row['idescola'] == '0'): 
													echo UsuariosPerfis::getPerfilByIdHelper($row['iddepartamentocriacao'])['perfil']; ;
												else: 
													$escoladestino= Escolas::getEscolaByIdHelper($row['idescola']);
													echo $escoladestino['escola'];	
												endif;
													
											?> 
										</td>
										<td><?php echo  $this->cortaPalavra(100, $row['descricoes']) ?></td>

										<td>
											<?php
												$chamadosprioridade= Chamadosprioridades::getChamadosprioridadeByIdHelper($row['idprioridade']);
												 echo $chamadosprioridade['prioridadade'];	 
											?> 
 
										</td>
										<td>
											<?php
												$chamadosstatus = Chamadosstatus::getChamadosstatuByIdHelper($row['idstatus'])	;
											    echo $chamadosstatus['titulo'];
											?> 		
										</td>
										<td>
											<?php echo $row['statusatendimento']; ?>
										</td>
										<td><?php
												$data = date('d/m/Y', strtotime($row['dataagendada']));
												$dt =  explode('/',$data);
												echo ($dt[2] >= 2018) ? $data : '' ;
											?>
										</td>


	                                    <td>
	                                        <ul class="table-controls">
	                                            <li><a title="" class="btn tip" href="<?php echo $this->baseUrl() ?>/<?php echo 'admin' ?>/<?php echo $this->getController() ?>/visualizar/id/<?php echo $row['id'] ?>" data-original-title="Visualizar"><i class="icon-eye-open"></i></a> </li>
	                                            <?php if($row['finalizacao']!="Sim"): ?>
	                                            <?php if (Mn_Util::isAccess($this->getController(), 'editar')) : ?>
	                                            <li><a title="" class="btn tip" href="<?php echo $this->baseUrl() ?>/<?php echo 'admin' ?>/<?php echo $this->getController() ?>/editar/id/<?php echo $row['id'] ?>" data-original-title="Editar"><i class="icon-pencil"></i></a> </li>
	                                            <?php endif;?>
	                                            <?php if (Mn_Util::isAccess($this->getController(), 'excluir') AND !$row['dataagendada']) : ?>
	                                            <li><a title="" class="btn tip" href="javascript:confirmDelete('<?php echo $row['id']; ?>','registro');" data-original-title="Excluir"><i class="icon-remove"></i></a> </li>
	                                            <?php endif; ?>
	                                            <?php endif; ?>
	                                        </ul>
	                                    </td>
	                                </tr>
	                            	<?php endforeach;?>
	                            	
	                            	
	                            	
	                            	
	                            	<?php endif; ?>
	
	                            </tbody>
	                        </table>
	                    </div>
	                    <?php echo $this->render('/helpers/paginator.phtml') ?>
                    
                    </form>

                </div>
                <!-- /table with footer -->
				
	                        


		    </div>
		    <!-- /content wrapper -->

		</div>
		<!-- content -->

<script>

var idescola =  '<?php echo (isset($this->post_var['idescola'])) ? $this->post_var['idescola'] : '' ?>';
var idprioridade = '<?php echo (isset($this->post_var['idprioridade'])) ? $this->post_var['idprioridade'] : '' ?>';
	
</script>

<script type="text/javascript" src="<?php echo $this->baseUrl('/public/scripts/admin/engenhariaschamados_index.js') ?>"></script>
		
<script type="text/javascript">

	
	var form_values = {};
	<?php //if (isset($this->post_var)) :  ?>
	<?php if (true) :  ?>
	
// form_values.destino = '<?php echo (isset($this->post_var['destino'])) ? $this->post_var['destino'] : '' ?>';

// form_values.iddepartamento = '<?php echo (isset($this->post_var['iddepartamento'])) ? $this->post_var['iddepartamento'] : '' ?>';

form_values.idescola = '<?php echo (isset($this->post_var['idescola'])) ? $this->post_var['idescola'] : '' ?>';

form_values.idprioridade = '<?php echo (isset($this->post_var['idprioridade'])) ? $this->post_var['idprioridade'] : '' ?>';

form_values.idstatus = '<?php echo (isset($this->post_var['idstatus'])) ? $this->post_var['idstatus'] : ' ' ?>';

// form_values.finalizacao = '<?php echo (isset($this->post_var['finalizacao'])) ? $this->post_var['finalizacao'] : '' ?>';

// form_values.atendido = '<?php echo (isset($this->post_var['atendido'])) ? $this->post_var['atendido'] : '' ?>';

// form_values.idtipo = '<?php echo (isset($this->post_var['idtipo'])) ? $this->post_var['idtipo'] : '' ?>';

// form_values.idsfuncionarios = '<?php echo (isset($this->post_var['idsfuncionarios'])) ? $this->post_var['idsfuncionarios'] : '' ?>';

// form_values.status1 = '<?php echo (isset($this->post_var['status1'])) ? $this->post_var['status1'] : $this->post_var['status'] ?>';

	
	<?php endif; ?>


	var sorting = ["destino", "iddepartamento", "idescola", "descricoes", "idprioridade", "idstatus", "dataagendada", "finalizacao", "atendido", "idtipo", "observacoes", "servicoesdescricoes", "servicosmateriais", "idsfuncionarios", "status"];
	
</script>	



