		<!-- Content -->
		<div id="content">

			<!-- Content wrapper -->
			<div class="wrapper">

				<!-- Breadcrumbs line -->
				<div class="crumbs">
					<?php echo $this->render('/helpers/breadcrumb.phtml') ?>
				</div>
				<!-- /breadcrumbs line -->

				<!-- Page header -->
				<div class="page-header">
					<div class="page-title">
						<h5>Formulário do produto</h5>
						<span>Verifique os campos e preencha com os dados</span>
					</div>
				</div>
				<!-- /page header -->

				<?php if (isset($this->crudMessage)) : ?>
					<div class="alert alert-success">
						<button data-dismiss="alert" class="close" type="button">×</button>
						<strong>Operação realizada com sucesso!</strong>
						<span><br /><?php echo $this->crudMessage ?></span>
					</div>			    
				<?php endif; ?>

				<form id="form" name="form" action="" method="post" class="form-horizontal" enctype="multipart/form-data"> 
					<input type="hidden" value="<?php echo (isset($this->post_var)) ? $this->post_var["id"] : ''; ?>" name="id" id="id" />
					
					<fieldset>
						<!-- General form elements -->
						<div class="widget row-fluid">
							<div class="navbar">
								<div class="navbar-inner">
									<h6>Digite as informações do formulário</h6>
								</div>
							</div>

							<div class="well">
								<?php if (isset($this->erros)) : ?>
									<div class="alert alert-error margin">
										<button data-dismiss="alert" class="close" type="button">×</button>
										<strong>Há erros no formulário!</strong>
										<?php foreach ($this->erros as $k=>$v) : ?>
											<span><br />- <?php echo $v ?></span>
										<?php endforeach;?>			                        
									</div>
								<?php endif; ?>

								<div class="control-group">
									<label class="control-label">Código do produto </label>
									<div class="controls"><input maxlength="500" placeholder="Código do produto" name="codigoproduto" value="<?php echo (isset($this->post_var['codigoproduto'])) ? $this->post_var['codigoproduto'] : '' ?>" type="text"  class="span3" /></div>
								</div>		    

								<div class="control-group">
									<label class="control-label">Produto <span class="required">*</span></label>
									<div class="controls"><input maxlength="500" placeholder="Produto" name="produto" value="<?php echo (isset($this->post_var['produto'])) ? $this->post_var['produto'] : '' ?>" type="text"  class="span3" /></div>
								</div>


								<div class="control-group">
									<label class="control-label">Descrições </label>
									<div class="controls"><textarea class="span12" name="descricoes" cols="5" rows="5"><?php echo (isset($this->post_var)) ? $this->post_var["descricoes"] : ''; ?></textarea></div>
								</div>

								<div class="control-group">
									<label class="control-label">Foto Produto </label>
									<div class="controls" id="foto_produto">
										<?php if ((isset($this->post_var['idimagem'])) && ((int)$this->post_var['idimagem']>0)) : ?>
										<?php echo $this->getImagem($this->post_var['idimagem'], 80, 80, '', Imagens::$INDISPONIVEL) ?>

										<?php if (!$this->visualizar) : ?>
											<div class="checkbox block">
												<label><input type="checkbox" name="excluir_idimagem" value="excluir_idimagem" /> Desejo excluir a imagem</label>
											</div>
										<?php endif; ?>
									<?php endif; ?>						            

									<input placeholder="Foto" name="idimagem" type="file"  />
								</div>
							</div>

							<div id="foto_grande" style="display: none;">
								<?= ((isset($this->post_var['idimagem'])) && ((int)$this->post_var['idimagem']>0)) ? $this->getImagem($this->post_var['idimagem'], 600, 450, '', Imagens::$INDISPONIVEL) : '' ?>
							</div>

				<!-- <div class="control-group" style="display: none;">
					<label class="control-label">Saldo Inicial </label>
					<div class="controls"><input maxlength="500" placeholder="Saldo Inicial" name="saldoinicial" value="<?php echo (isset($this->post_var['saldoinicial'])) ? $this->post_var['saldoinicial'] : '' ?>" type="text"  class="span3" /></div>
				</div> -->

				<div class="control-group">
					<label class="control-label">Quantidade Mínima </label>
					<div class="controls"><input maxlength="500" placeholder="Quantidade Mínima" name="qtdmin" value="<?php echo (isset($this->post_var['qtdmin'])) ? $this->post_var['qtdmin'] : '' ?>" type="text"  class="span3" /></div>
				</div>

<!-- 				<div class="control-group" style="display: none;">
					<label class="control-label">Produto controlado por lote </label>
					<div class="controls">
						<input type="radio" value="sim" name="controladolote[]"> Sim <br>
						<input type="radio" value="nao" name="controladolote[]"> Nao 
					</div>
				</div>
			-->
			<div class="control-group">
				<label class="control-label">Unidade de medida </label>
				<div class="controls">
					<select name="old_unidademedida" data-placeholder="Unidade de medida" class="select">
						<option value="">Selecione...</option>
						<?php foreach (Unidadescomerciais::getUnidadescomerciais(array('order' => 'ORDER BY n1.unidade')) as $i=>$row) : ?>
							<option value="<?= $row['unidade'] ?>"><?= $row['unidade'] ?></option>
						<?php endforeach; ?>
					</select>

				</div>
			</div>

			<div class="control-group">
				<label class="control-label">Grupo </label>
				<div class="controls">
					<select name="idcategoria" data-placeholder="Categoria" class="select">
						<option value="">Selecione...</option>
						<?php foreach (Almoxarifadocategoriasprodutos::getAlmoxarifadocategoriasprodutos() as $i=>$row) : ?>
							<option value="<?php echo $row['id'] ?>"><?php echo $row['categoria'] ?></option>
						<?php endforeach; ?>
					</select>

				</div>
			</div> 

			<div class="control-group">
				<label class="control-label">Unidade de medida </label>
				<div class="controls">
					<select name="categoria_id" data-placeholder="Categoria" class="select">
						<option value="">Selecione...</option>
						<?php foreach (Almoxarifadoprodutoscategorias::getAlmoxarifadoprodutoscategorias(array('status' => 'Ativo')) as $i=>$row) : ?>
							<option value="<?php echo $row['id'] ?>"><?php echo $row['nome'] ?></option>
						<?php endforeach; ?>
					</select>
				</div>
			</div>

<!-- 				<div class="control-group" style="display: none;">
					<label class="control-label">Local armazenado </label>
					<div class="controls">
						<select name="localarmazenado" data-placeholder="Local Armazenado" class="select">
							<option value="">Selecione...</option>
						</select>
						
					</div>
				</div> -->
 		

				<div class="control-group">
					<label class="control-label">Status <span class="required">*</span></label>
					<div class="controls">
						<select name="status1" data-placeholder="Status" class="select">
							<option value="">Selecione...</option>
							<option value="Ativo">Ativo</option><option value="Bloqueado">Bloqueado</option>
						</select>
						
					</div>
				</div>						    

			</div>

			<div class="form-actions align-right">
				<?php if ((isset($this->visualizar)) && ($this->visualizar)) : ?>
				<button onclick="window.history.back()" class="btn btn-danger cancelar" type="button">Voltar</button>
				<?php else : ?>
					<button class="btn btn-primary enviar" type="submit">Salvar</button>
					<button onclick="window.history.back()" class="btn btn-danger cancelar" type="button">Cancelar</button>
				<?php endif; ?>
			</div>
		</div>
		<!-- /general form elements -->

	</fieldset> 

</form>
<!-- /basic inputs -->

</div>
<!-- /content wrapper -->

</div>
<!-- content -->

<script type="text/javascript" src="<?php echo $this->baseUrl('/public/scripts/admin/almoxarifadoprodutos_form.js') ?>"></script>
<script type="text/javascript">
	var form_values = {};
	
	<?php if (isset($this->post_var)) :  ?>
		
		form_values.idsecretaria = '<?php echo (isset($this->post_var['idsecretaria'])) ? $this->post_var['idsecretaria'] : '' ?>';

		form_values.status1 = '<?php echo (isset($this->post_var['status1'])) ? $this->post_var['status1'] : $this->post_var['status'] ?>';

		form_values.controladolote = '<?php echo (isset($this->post_var['controladolote'])) ? $this->post_var['controladolote'] : '' ?>';

		form_values.idcategoria = '<?php echo (isset($this->post_var['idcategoria'])) ? $this->post_var['idcategoria'] : '' ?>';

		form_values.old_unidademedida = '<?php echo (isset($this->post_var['old_unidademedida'])) ? $this->post_var['old_unidademedida'] : '' ?>';
		
		form_values.categoria_id = '<?php echo (isset($this->post_var['categoria_id'])) ? $this->post_var['categoria_id'] : '' ?>';

	<?php endif; ?>

	visualizar = <?php echo  ((isset($this->visualizar)) && ($this->visualizar))  ? 'true' : 'false' ?>;
</script>
