<?php if (sizeof($this->rows)==0) : ?>
<option value="">Selecione...</option>
<option value="">Nenhum cargo foi encontrado para esse departamento</option>
<?php else : ?>
<option value="">Selecione...</option>
<?php foreach ($this->rows as $row) : ?>
<option value="<?php echo $row['id'] ?>"><?php echo $row['cargo'] ?></option>
<?php endforeach; ?>
<?php endif; ?>
