<table width="100%" cellpadding="0" cellspacing="0" border="0" nobr="true">
	<tr>
		<td align="center" width="100%">
			<font size="14">
			    <b><u>DECLARAÇÃO DE APOSENTADORIA</u></b>
		    </font>
		</td>
	</tr>
	
	<tr>
		<td align="center" width="100%">			
			<br />
			<br />
			<br />
			<br />
			<br />
			<br />
			<br />
			<br />
			<br />
			<br />
		</td>
	</tr>
	
	
	<tr>
		<td align="left" width="100%"><font size="12">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Eu, <?php echo $this->post_var['nome']?>, portador (a) do RG n° <?php echo $this->post_var['rg']?> e do CPF n° <?php echo $this->post_var['cpf']?>
				declaro que <?php echo ($this->post_var['aposentadoria']=="Sim") ? 'possuo' : 'não possuo' ?> aposentadoria em Prêvidencia Municipal, Estadual, Federal ou (INSS) Prêvidencia Social. (CASO POSSUA, ANEXAR COMPROVANTE)
				<br/>
			   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Sendo só para momento, firmo a presente.
		    </font>
		</td>
	</tr>

	<tr>
		<td align="center" width="100%">			
			<br />
			<br />
			<br />
			<br />
			<br />
			<br />
			<br />
			<br />
		</td>
	</tr>
	
	<tr>
		<td align="right" width="100%">
			<font size="12">
			    Itaquaquecetuba/SP, <?php echo date('d') ?> de <?php echo Mn_Util::getMes((int)date('m')) ?> de <?php echo date('Y') ?>
		    </font>
		</td>
	</tr>
	
	<tr>
		<td align="center" width="100%">			
			<br />
			<br />
			<br />
			<br />
			<br />
			<br />
			<br />
			<br />
			<br />
			<br />
		</td>
	</tr>
	
	<tr>
		<td align="right" width="100%">
			<font size="10">
			   _______________________________<br/>(assinar nome por extenso)&nbsp;&nbsp;&nbsp;&nbsp;
		    </font>
		</td>
	</tr>
	
	<?php /*?>
	<tr>
		<td align="right" width="200">
			<table width="100%" cellpadding="0" cellspacing="0" border="0" nobr="true">
				<tr>
					<td>_______________________________________</td>
				</tr>
				
				<tr>
					<td align="center"><font size="10">(assinar nome por extenso)</font></td>
				</tr>
			</table>
		</td>
	</tr>
	<?php */?>
	
</table>
