<table width="100%" cellpadding="0" cellspacing="0" border="0" nobr="true">
	<tr>
		<td align="center" width="100%">
			<font size="14">
			    <b><u>DECLARAÇÃO DE BENS</u></b>
		    </font>
		</td>
	</tr>
	
	<tr>
		<td align="center" width="100%">			
			<br />
			<br />
			<br />
			<br />
			<br />
			<br />
			<br />
			<br />
			<br />
			<br />
		</td>
	</tr>
	
	
	<tr>
		<td align="left" width="100%"><font size="12">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Eu, <?php echo $this->post_var['nome']?>, servidor (a) desta Prefeitura, exercendo o cargo de <?php echo $this->post_var['cargo'] ?> ref. <?php echo $this->post_var['ref'] ?>, 
				declaro em atenção à portaria número 15.247 de 03 de Novembro de 1.992, que possuo os seguintes bens em <?php echo date('d/m/Y', strtotime($this->post_var['data']))?> 
				<br/>
				<b>OBS: Caso não possua bens, favor colocar "Nada a declarar"</b>
		    </font>
		</td>
	</tr>
	<tr>
		<td align="center" width="100%">			
			<br />
			<br />
		</td>
	</tr>
	<tr>
		<td align="left" width="100%"><font size="12"><u><?php echo $this->post_var['bens']?></u></font>
		</td>
	</tr>

	<tr>
		<td align="center" width="100%">			
			<br />
			<br />
			<br />
			<br />
			<br />
			<br />
			<br />
			<br />
		</td>
	</tr>
	
	<tr>
		<td align="right" width="100%">
			<font size="12">
			    Santa Isabel/SP, <?php echo date('d') ?> de <?php echo Mn_Util::getMes((int)date('m')) ?> de <?php echo date('Y') ?>
		    </font>
		</td>
	</tr>
	
	<tr>
		<td align="center" width="100%">			
			<br />
			<br />
			<br />
			<br />
			<br />
			<br />
			<br />
			<br />
			<br />
			<br />
		</td>
	</tr>
	
	<tr>
		<td align="Left" width="100%">
			<font size="10">
			   Nome: <?php echo $this->post_var['nome']?>
		    </font>
		</td>
	</tr>
	<tr>
		<td align="center" width="100%">			
			<br />
		</td>
	</tr>
	<tr>
		<td align="Left" width="100%">
			<font size="10">
			   Assinatura: ____________________________________________
		    </font>
		</td>
	</tr>
	
</table>
