<style>
	.table.diasmes th{ padding: 5px 1px; box-shadow: 0px 0px 7px -3px #000 inset; }
	.diaplanactived { background-image: linear-gradient(to bottom, #00e400, #40c540); }
	.diadefault { background-image: linear-gradient(to bottom, #e6e6e6, #cbcbcb); }
	.dianoneplan { background-image: linear-gradient(to bottom, #f0ba57, #eeb155); }

	.ui-draggable .ui-dialog-titlebar{ background: #3e95ce; text-align: center;}
	.ui-dialog .ui-dialog-titlebar-close{padding:0px !important; background:none !important; border: 1px solid #9cceef;}
	.ui-state-hover{ background:#09f; }
	.textaretexto{
		height: 170px;
    	resize: none;
	}
	.box-buttons{
		margin-top:15px;	
		text-align:center;	
	}
	.box-buttons button{
		font-size: 0.8em !important;
	}
</style>
		<!-- Content -->
		<div id="content">

		    <!-- Content wrapper -->
		    <div class="wrapper">

			    <!-- Breadcrumbs line -->
			    <div class="crumbs">
			    	<?php echo $this->render('/helpers/breadcrumb.phtml') ?>
			    </div>
			    <!-- /breadcrumbs line -->

			    <!-- Page header -->
			    <div class="page-header">
			    	<div class="page-title">
				    	<h5>Formulário do plano de aula</h5>
				    	<span>Verifique os campos e preencha com os dados</span>
			    	</div>
			    </div>
			    <!-- /page header -->
				
			    <?php if (isset($this->crudMessage)) : ?>
					<div class="alert alert-success">
	                	<button data-dismiss="alert" class="close" type="button">×</button>
	                    <strong>Operação realizada com sucesso!</strong>
		    			<span><br /><?php echo $this->crudMessage ?></span>
	                </div>			    
			    <?php endif; ?>

				<form id="form" name="form" action="" method="post" class="form-horizontal" enctype="multipart/form-data"> 
					<input type="hidden" value="<?php echo (isset($this->post_var)) ? $this->post_var["id"] : ''; ?>" name="id" id="id" />
					
					<fieldset>
						<!-- General form elements -->
						<div class="widget row-fluid">
						    <div class="navbar">
						        <div class="navbar-inner">
						            <h6>Digite as informações do formulário</h6>
						        </div>
						    </div>

						    <div class="well">
								<?php if (isset($this->erros)) : ?>
									<div class="alert alert-error margin">
				                        <button data-dismiss="alert" class="close" type="button">×</button>
				                        <strong>Há erros no formulário!</strong>
					    				<?php foreach ($this->erros as $k=>$v) : ?>
					    					<span><br />- <?php echo $v ?></span>
					    				<?php endforeach;?>			                        
				                    </div>
			                    <?php endif; ?>						    
						    

				<?php $idescola = (int)Usuarios::getUsuario('idescola') ?>    
				<?php if((Usuarios::getUsuario('professor')=="Sim") && ($idescola>0)): 
						$idprofessor = (int)Usuarios::getUsuario('idfuncionario'); ?>
				<div class="control-group">
					<label class="control-label">Professor <span class="required">*</span></label>
					<div class="controls visualizar">
						<input type="hidden" name="idprofessor" value="<?php echo $idprofessor ?>" />
		                <?php echo Usuarios::getUsuario('nomerazao') ?> <br />RGF: <?php echo Usuarios::getUsuario('rgf') ?>
					</div>
				</div>

				<div class="control-group">
					<label class="control-label">Matéria <span class="required">*</span></label>
					<div class="controls">
		                <select name="idmateria" data-placeholder="Matéria" class="select" onchange="setFaltas(this, <?php echo $this->post_var['id'] ?>)">
								<?php if (sizeof(Quadrohorarios::getQuadrohorariosHelper(array('idprofessor'=>$idprofessor, 'idescolavinculo'=>$this->post_var['id'])))==0) : ?>
									<option value="">Selecione...</option>
									<option value="">Nenhuma matéria foi encontrada para esse professor</option>
								<?php else : ?>
									<option value="">Selecione...</option>
									<?php foreach (Quadrohorarios::getQuadrohorariosHelper(array('idprofessor'=>$idprofessor, 'idescolavinculo'=>$this->post_var['id'])) as $row) : ?>
									<option value="<?php echo $row['idmateria'] ?>">
										<?php //echo $row['materia'] ?>
										<?php
											$___rows = Controlealunosmaterias::getControlealunosmateriasHelper(array('id'=>$row['idmateria']));
											$___row = (sizeof($___rows)>0) ? 	$___rows[0] : false;	
											
											echo ($___row) ? $this->formatTextoBranco($___row['materia']) : '--';		
										?>
									</option>
									<?php endforeach; ?>
								<?php endif; ?>	
						</select>
						
					</div>
				</div>
				<?php else: ?>
				<div class="control-group">
					<label class="control-label">Professor <span class="required">*</span></label>
					<div class="controls">
		                <select name="idprofessor" data-placeholder="Professor" class="select" onchange="setMaterias(this, <?php echo $this->post_var['id'] ?>, 0)">
							<option value="">Selecione...</option>
							<?php foreach ($this->professores as $k=>$v) : ?>
							<option value="<?php echo $v['id'] ?>"><?php echo $v['nome'] ?></option>
							<?php endforeach;?>
						</select>
						
					</div>
				</div>

				<div class="control-group">
					<label class="control-label">Matéria <span class="required">*</span></label>
					<div class="controls">
		                <select name="idmateria" data-placeholder="Matéria" class="select" onchange="setFaltas(this, <?php echo $this->post_var['id'] ?>)">
							<option value="">Selecione...</option>
						</select>						
					</div>
				</div>
				<?php endif; ?>


				<div class="control-group">
					<label class="control-label">Série <span class="required">*</span></label>
					<div class="controls">
						<b><?php echo $this->post_var['serie']?> <?php echo $this->post_var['turma']?></b>
					</div>
				</div>

				<div class="control-group">
					<div class="controls1">
						<div style="width:100%; text-align:center;">
						<input type="hidden" value="" name="validafaltas" id="validafaltas" class="validafaltas" />
						<div>

						<table class="table table-primary mb30 meses" style="width:100%;" border="1" bordercolor="#d5d5d5">
							<tbody id="">
								<tr>
									<?php 
									$mes = $this->mesatual;									
									$mesanterior = (int) $mes - 1;
									if($mesanterior<=0) $mesanterior = 1;
									$mesposterior = (int) $mes + 1;
									if($mesposterior>=12) $mesposterior = 12;
									?>
									<td width="" onclick="setMes('<?php echo $mesanterior ?>', '<?php echo $this->getParam('id') ?>')"><a hreh="javascript:;"><i class="ico-chevron-left"></i></a></td>
									<td width="" class="nomemes"><?php echo Mn_Util::getMeses((int)$mes)?></td>	<td width="" onclick="setMes('<?php echo $mesposterior ?>', '<?php echo $this->getParam('id') ?>')"><a hreh="javascript:;"><i class="ico-chevron-right"></i></a></td>
								</tr>
							</tbody>
						</table>
						<br />
						<br />
						<table class="table table-primary mb30 diasmes" style="width:100%;" border="1" bordercolor="#d5d5d5">
							<thead>
								<tr>
									<th width="">&nbsp;</th>													
									<?php for($i=1; $i<=$this->ultimadia; $i++): ?>
										<th width="" onclick="openPlanoAula(<?php echo $i; ?>)"><?php echo $i ?></th>
									<?php endfor; ?>
									<th>P.</th>
								</tr>
							</thead>
							<tbody id="box-faltas">
								
							</tbody>
						</table>						
					</div>
				</div>
				
				<div id="box-planosaula" style="display:none">
					<input type="hidden" name="mesatual" value="<?php echo $mes;?>">    						
					<input type="hidden" name="idprofessor" value="<?php echo $this->idprofessor;?>">    						
					<input type="hidden" name="mesatual" value="<?php echo ($this->post_var['id']) ? $this->post_var['id'] : '';?>">
					<input type="hidden" name="diames">    						
					<input type="text" name="titulo" style="width:100% !important" placeholder="Título plano de aula">
					<textarea name="texto" class="textaretexto" style="width:100%" placeholder="Descrição do plano de aula"></textarea>
					<div class="box-buttons">						
						<button class="btn btn-primary" onclick="enviaplano(this, '<?php echo $mes;?>', '<?php echo ($this->post_var['id']) ? $this->post_var['id'] : ''?>')" name="btn-confirma">Salvar plano de aula</button>
					</div>
				</div>

				<div class="control-group">
					<label class="control-label">Status <span class="required">*</span></label>
					<div class="controls">
						<select name="status1" data-placeholder="Status" class="select">
							<option value="">Selecione...</option>
							<option value="Ativo">Ativo</option><option value="Bloqueado">Bloqueado</option>
						</select>
						
					</div>
				</div>					    
						    </div>
						    
			                <div class="form-actions align-right">
			                	<?php if ((isset($this->visualizar)) && ($this->visualizar)) : ?>
			                		<button onclick="window.history.back()" class="btn btn-danger cancelar" type="button">Voltar</button>
			                	<?php else : ?>
				                	<button class="btn btn-primary enviar" type="submit">Salvar</button>
				                	<button onclick="window.history.back()" class="btn btn-danger cancelar" type="button">Cancelar</button>
			                	<?php endif; ?>
			                </div>
						</div>
						<!-- /general form elements -->

					</fieldset> 

				</form>
				<!-- /basic inputs -->

		    </div>
		    <!-- /content wrapper -->

		</div>
		<!-- content -->
				
<script type="text/javascript" src="<?php echo $this->baseUrl('/public/scripts/admin/planosaulas_form.js') ?>"></script>
<script>
	function enviaplano(obj, mes, idescolavinculo){
		
		var idmateria = $('select[name=idmateria]').val();
		var idprofessor = $('input[name=idprofessor]').val();
		var id = $(obj).find('.idsfaltas').val();
		var titulo = $('input[name=titulo]').val();
		var texto = $('textarea[name=texto]').val();
		var dia = $('input[name=diames]').val();

		console.log(idmateria, idprofessor, titulo, texto, dia, mes, idescolavinculo);
		
		data = '';
		$.post(baseUrl + '/admin/planosaulas/addplano/', {idprofessor:idprofessor, idmateria:idmateria, idescolavinculo:idescolavinculo, dia:dia, mes:mes, titulo:titulo, texto:texto}, function(data) {
			
			var data_resp = JSON.parse(data);
			
			if(data_resp.data=="OK") {
				// $('.quadro_'+dia).each(function() {
				// 	$(this).css('background-color', '#9AED8C');
				// 	$(this).removeAttr('onclick');
				// 	$(this).attr('onclick',"removePlano(this, '"+data_resp.id+"','"+dia+"', '"+idescolavinculo+"', '"+mes+"')");				
				// });
				$('#box-planosaula').dialog('close');

				$("input[name=titulo], input[name=texto], input[name=diames], select[name=idmateria]").val("");

				// jAlert(data_resp.mensagem, data_resp.titulo);
			} else {
				jAlert(data_resp.mensagem, data_resp.titulo);
			}
		});
	}
function closeplano(obj, id){
	$('#box-planosaula').dialog('close');
}
function openPlanoAula(dia){
	var dialog = $('#box-planosaula').dialog({
		title: 'Plano de aula',
		width: 300,
		modal: true,
		 buttons: {
		// 	"Fechar": function() {
		// 		dialog.dialog('close');
		// 	}
		 }
	});

	var idmateria = $('select[name=idmateria]').val();
	var idprofessor = $('input[name=idprofessor]').val();

	alert(idmateria);
	alert(idprofessor);


	// $.post(baseUrl + '/admin/planosaulas/addplano/', {idprofessor:idprofessor, idmateria:idmateria, idescolavinculo:idescolavinculo, dia:dia, mes:mes, titulo:titulo, texto:texto}, function(data) {


	$('input[name=diames]').val(dia);

}
</script>


<script type="text/javascript">
	var form_values = {};
	
	<?php if (isset($this->post_var)) :  ?>
			form_values.idescola = '<?php echo (isset($this->post_var['idescola'])) ? $this->post_var['idescola'] : '' ?>';

			form_values.idescolavinculo = '<?php echo (isset($this->post_var['idescolavinculo'])) ? $this->post_var['idescolavinculo'] : '' ?>';

			form_values.idmateria = '<?php echo (isset($this->post_var['idmateria'])) ? $this->post_var['idmateria'] : '' ?>';

			form_values.idprofessor = '<?php echo (isset($this->post_var['idprofessor'])) ? $this->post_var['idprofessor'] : '' ?>';

			form_values.status1 = '<?php echo (isset($this->post_var['status1'])) ? $this->post_var['status1'] : $this->post_var['status'] ?>';


	<?php endif; ?>

	visualizar = <?php echo  ((isset($this->visualizar)) && ($this->visualizar))  ? 'true' : 'false' ?>;
</script>
