<?php 
include_once BASE_PATH . '/public/scripts/ckeditor/ckeditor.php';
require_once BASE_PATH . '/public/scripts/ckfinder/ckfinder.php';

$ckeditor = new CKEditor();
$ckeditor->basePath	= $this->baseUrl('/public/scripts/ckeditor/');

$ckfinder = $this->baseUrl('/public/scripts/ckfinder/');

CKFinder::SetupCKEditor($ckeditor, $ckfinder);

?>


<h3 class="title-accordion">
	<a class="click_acc" data-toggle="collapse" data-parent="#accordion" href="#collapse9">
		Contatos
	</a>
</h3>

<div id="collapse9" class="content-height panel-collapse collapse in">

    <div class="control-group">
        <label class="control-label">E-mail</label>
        <div class="controls">
        	<input maxlength="500" placeholder="E-mail" name="email" size="50" <?php if ($this->visualizar) {echo 'disabled="true"';} else {echo 'enabled="true"';} ?> value="<?php echo (isset($this->post_var['email'])) ? $this->post_var['email'] : "" ?>" type="text"  class="span3" />
        </div>
        </div>

        <div class="control-group">
          <label class="col-sm-3 control-label">Telefone </label>
          <div class="controls">
             <input name="telefone" value="<?php echo (isset($this->post_var)) ? $this->post_var['telefone'] : "" ?>" <?php if ($this->visualizar) {echo 'disabled="true"';} else {echo 'enabled="true"';} ?> type="text" class="form-control" placeholder="Telefone"> 
         </div>
     </div>
     
     <div class="control-group">
      <label class="col-sm-3 control-label">Celular </label>
      <div class="controls">
         <input name="celular" value="<?php echo (isset($this->post_var)) ? $this->post_var['celular'] : "" ?>" <?php if ($this->visualizar) {echo 'disabled="true"';} else {echo 'enabled="true"';} ?> type="text" class="form-control" placeholder="Celular"> 
     </div>
 </div>

</div>