<h3 class="title-accordion">
	<a class="click_acc" data-toggle="collapse" data-parent="#accordion" href="#collapse22">Documentos</a>
</h3>

<div id="collapse22" class="content-height panel-collapse collapse in">

    <div class="control-group">
        <label class="control-label">CPF </label>
        <div class="controls"><input maxlength="14" placeholder="CPF" name="cpf" value="<?php echo (isset($this->post_var['cpf'])) ? $this->post_var['cpf'] : '' ?>" <?php if ($this->visualizar) {echo 'disabled="true"';} else {echo 'enabled="true"';} ?> type="text"  class="span3" /></div>
    </div>
    
    <div class="control-group">
        <label class="control-label">RG </label>
        <div class="controls">
            <input maxlength="11" placeholder="Número do RG" name="rg" value="<?php echo (isset($this->post_var['rg'])) ? $this->post_var['rg'] : '' ?>" <?php if ($this->visualizar) {echo 'disabled="true"';} else {echo 'enabled="true"';} ?> type="text"  class="span3" />
            &#45; 
            <input maxlength="2" size="2" placeholder="UF RG" name="ufrg" value="<?php echo (isset($this->post_var['ufrg'])) ? $this->post_var['ufrg'] : '' ?>" <?php if ($this->visualizar) {echo 'disabled="true"';} else {echo 'enabled="true"';} ?> type="text"  class="span3" />
        </div>
    </div>

    <div class="control-group">
        <label class="control-label">RA </label>
        <div class="controls">
            <input maxlength="20" placeholder="RA" name="ra" value="<?php echo (isset($this->post_var['ra'])) ? $this->post_var['ra'] : '' ?>" <?php if ($this->visualizar) {echo 'disabled="true"';} else {echo 'enabled="true"';} ?> type="text"  class="span3" /></div>
    </div>

    <div class="control-group">
        <label class="control-label">Titulo de eleitor </label>
        <div class="controls">
            <input placeholder="Titulo de eleitor" name="tituloeleitor" value="<?php echo (isset($this->post_var['tituloeleitor'])) ? $this->post_var['tituloeleitor'] : '' ?>" <?php if ($this->visualizar) {echo 'disabled="true"';} else {echo 'enabled="true"';} ?> type="text"  class="span3" />
            <input placeholder="Zona" name="zonaeleitor" id="zonaeleitor" value="<?php echo (isset($this->post_var['zonaeleitor'])) ? $this->post_var['zonaeleitor'] : '' ?>" <?php if ($this->visualizar) {echo 'disabled="true"';} else {echo 'enabled="true"';} ?> type="text"  class="span3" size="4" />
            <input placeholder="Seção" name="secaoeleitor" value="<?php echo (isset($this->post_var['secaoeleitor'])) ? $this->post_var['secaoeleitor'] : '' ?>" <?php if ($this->visualizar) {echo 'disabled="true"';} else {echo 'enabled="true"';} ?> type="text"  class="span3" size="4" />
            <span id="msg-zona"></span>
        </div>
    </div>

    <div class="control-group">
        <label class="control-label">NIS</label>
        <div class="controls">
            <input type="text" name="nis" id="nis" placeholder="NIS" value="<?php echo (isset($this->post_var['nis'])) ? $this->post_var['nis'] : '' ?>" <?php if ($this->visualizar) {echo 'disabled="true"';} else {echo 'enabled="true"';} ?> class="span3">
        </div>
    </div>
</div>


