<h3 class="title-accordion">
    <a class="click_acc" data-toggle="collapse" data-parent="#accordion" href="#collapse89">Anexos</a>
</h3>
<div id="collapse89" class="content-height panel-collapse collapse in">
    <label id="error" style="width: 100%; text-align: center; color: #616161;font-size: 1.2em;">Nenhum tipo de estudante selecionado</label>
    <div id="div-anx-entidade" style="display: none;">
        <div class="control-group">
            <label class="control-label">RG </label>
            <div class="controls">
                <?php if ((isset($this->visualizar)) && ($this->visualizar)) : ?>                       
                <?php if ((isset($this->post_var['idanxrg'])) && ((int)$this->post_var['idanxrg']>0)) : ?>
                <div class="col-sm-6" style="padding-top:10px">
                    <?php echo $this->getArquivo($this->post_var['idanxrg']) ?>
                </div> 
            <?php endif;?>
            <?php else: ?>
                <?php if ((isset($this->post_var['idanxrg'])) && ((int)$this->post_var['idanxrg']>0)) : ?>
                <?php echo $this->getArquivo($this->post_var['idanxrg']) ?>

                <div class="checkbox block">
                    <label><input type="checkbox" name="excluir_anxrg" value="excluir" /> Desejo excluir o arquivo</label>
                </div>                              
                <br /> 
            <?php endif; ?>
            <input type="file" name="anxrg">
        <?php endif;?>
    </div>
</div>

<div class="control-group">
    <label class="control-label">CPF </label>
    <div class="controls">
        <?php if ((isset($this->visualizar)) && ($this->visualizar)) : ?>                       
        <?php if ((isset($this->post_var['idanxcpf'])) && ((int)$this->post_var['idanxcpf']>0)) : ?>
        <div class="col-sm-6" style="padding-top:10px">
            <?php echo $this->getArquivo($this->post_var['idanxcpf']) ?>
        </div> 
    <?php endif;?>
    <?php else: ?>
        <?php if ((isset($this->post_var['idanxcpf'])) && ((int)$this->post_var['idanxcpf']>0)) : ?>
        <?php echo $this->getArquivo($this->post_var['idanxcpf']) ?>

        <div class="checkbox block">
            <label><input type="checkbox" name="excluir_anxcpf" value="excluir" /> Desejo excluir o arquivo</label>
        </div>                              
        <br /> 
    <?php endif; ?>
    <input type="file" name="anxcpf">
<?php endif;?>
</div>
</div>

<div class="control-group">
    <label class="control-label">Titulo de Eleitor </label>
    <div class="controls">
        <?php if ((isset($this->visualizar)) && ($this->visualizar)) : ?>                       
        <?php if ((isset($this->post_var['idanxtituloeleitor'])) && ((int)$this->post_var['idanxtituloeleitor']>0)) : ?>
        <div class="col-sm-6" style="padding-top:10px">
            <?php echo $this->getArquivo($this->post_var['idanxtituloeleitor']) ?>
        </div> 
    <?php endif;?>
    <?php else: ?>
        <?php if ((isset($this->post_var['idanxtituloeleitor'])) && ((int)$this->post_var['idanxtituloeleitor']>0)) : ?>
        <?php echo $this->getArquivo($this->post_var['idanxtituloeleitor']) ?>

        <div class="checkbox block">
            <label><input type="checkbox" name="excluir_anxtituloeleitor" value="excluir" /> Desejo excluir o arquivo</label>
        </div>                              
        <br /> 
    <?php endif; ?>
    <input type="file" name="anxtituloeleitor">
<?php endif;?>
</div>
</div>

<div class="control-group">
    <label class="control-label">Comprovante de Votação </label>
    <div class="controls">
        <?php if ((isset($this->visualizar)) && ($this->visualizar)) : ?>                       
        <?php if ((isset($this->post_var['idanxcomprovantevotacao'])) && ((int)$this->post_var['idanxcomprovantevotacao']>0)) : ?>
        <div class="col-sm-6" style="padding-top:10px">
            <?php echo $this->getArquivo($this->post_var['idanxcomprovantevotacao']) ?>
        </div> 
    <?php endif;?>
    <?php else: ?>
        <?php if ((isset($this->post_var['idanxcomprovantevotacao'])) && ((int)$this->post_var['idanxcomprovantevotacao']>0)) : ?>
        <?php echo $this->getArquivo($this->post_var['idanxcomprovantevotacao']) ?>

        <div class="checkbox block">
            <label><input type="checkbox" name="excluir_anxcomprovantevotacao" value="excluir" /> Desejo excluir o arquivo</label>
        </div>                              
        <br /> 
    <?php endif; ?>
    <input type="file" name="anxcomprovantevotacao">
<?php endif;?>
</div>
</div>

<div class="control-group">
    <label class="control-label">Comprovante de Endereço </label>
    <div class="controls">
        <?php if ((isset($this->visualizar)) && ($this->visualizar)) : ?>                       
        <?php if ((isset($this->post_var['idanxcomprovanteendereco'])) && ((int)$this->post_var['idanxcomprovanteendereco']>0)) : ?>
        <div class="col-sm-6" style="padding-top:10px">
            <?php echo $this->getArquivo($this->post_var['idanxcomprovanteendereco']) ?>
        </div> 
    <?php endif;?>
    <?php else: ?>
        <?php if ((isset($this->post_var['idanxcomprovanteendereco'])) && ((int)$this->post_var['idanxcomprovanteendereco']>0)) : ?>
        <?php echo $this->getArquivo($this->post_var['idanxcomprovanteendereco']) ?>

        <div class="checkbox block">
            <label><input type="checkbox" name="excluir_anxcomprovanteendereco" value="excluir" /> Desejo excluir o arquivo</label>
        </div>                              
        <br /> 
    <?php endif; ?>
    <input type="file" name="anxcomprovanteendereco">
<?php endif;?>
</div>
</div>

<div class="control-group">
    <label class="control-label">Declaração de Endereço </label>
    <div class="controls">
        <?php if ((isset($this->visualizar)) && ($this->visualizar)) : ?>                       
        <?php if ((isset($this->post_var['idanxdeclaracaoendereco'])) && ((int)$this->post_var['idanxdeclaracaoendereco']>0)) : ?>
        <div class="col-sm-6" style="padding-top:10px">
            <?php echo $this->getArquivo($this->post_var['idanxdeclaracaoendereco']) ?>
        </div> 
    <?php endif;?>
    <?php else: ?>
        <?php if ((isset($this->post_var['idanxdeclaracaoendereco'])) && ((int)$this->post_var['idanxdeclaracaoendereco']>0)) : ?>
        <?php echo $this->getArquivo($this->post_var['idanxdeclaracaoendereco']) ?>

        <div class="checkbox block">
            <label><input type="checkbox" name="excluir_anxdeclaracaoendereco" value="excluir" /> Desejo excluir o arquivo</label>
        </div>                              
        <br /> 
    <?php endif; ?>
    <input type="file" name="anxdeclaracaoendereco">
<?php endif;?>
</div>
</div>

<div class="control-group">
    <label class="control-label">Comprovante AETUSI </label>
    <div class="controls">
        <?php if ((isset($this->visualizar)) && ($this->visualizar)) : ?>                       
        <?php if ((isset($this->post_var['idanxaetusi'])) && ((int)$this->post_var['idanxaetusi']>0)) : ?>
        <div class="col-sm-6" style="padding-top:10px">
            <?php echo $this->getArquivo($this->post_var['idanxaetusi']) ?>
        </div> 
    <?php endif;?>
    <?php else: ?>
        <?php if ((isset($this->post_var['idanxaetusi'])) && ((int)$this->post_var['idanxaetusi']>0)) : ?>
        <?php echo $this->getArquivo($this->post_var['idanxaetusi']) ?>

        <div class="checkbox block">
            <label><input type="checkbox" name="excluir_anxaetusi" value="excluir" /> Desejo excluir o arquivo</label>
        </div>                              
        <br /> 
    <?php endif; ?>
    <input type="file" name="anxaetusi">
<?php endif;?>
</div>
</div>

<div class="control-group">
    <label class="control-label">Comprovante de Matricula </label>
    <div class="controls">
        <?php if ((isset($this->visualizar)) && ($this->visualizar)) : ?>                       
        <?php if ((isset($this->post_var['idanxmatricula'])) && ((int)$this->post_var['idanxmatricula']>0)) : ?>
        <div class="col-sm-6" style="padding-top:10px">
            <?php echo $this->getArquivo($this->post_var['idanxmatricula']) ?>
        </div> 
    <?php endif;?>
    <?php else: ?>
        <?php if ((isset($this->post_var['idanxmatricula'])) && ((int)$this->post_var['idanxmatricula']>0)) : ?>
        <?php echo $this->getArquivo($this->post_var['idanxmatricula']) ?>

        <div class="checkbox block">
            <label><input type="checkbox" name="excluir_anxmatricula" value="excluir" /> Desejo excluir o arquivo</label>
        </div>                              
        <br /> 
    <?php endif; ?>
    <input type="file" name="anxmatricula">
<?php endif;?>
</div>
</div>
</div>
<div id="div-anx-escola" style="display: none;">
    <div class="control-group">
        <label class="control-label">Comprovante de Endereço </label>
        <div class="controls">
            <?php if ((isset($this->visualizar)) && ($this->visualizar)) : ?>                       
            <?php if ((isset($this->post_var['idanxcomprovanteendereco'])) && ((int)$this->post_var['idanxcomprovanteendereco']>0)) : ?>
            <div class="col-sm-6" style="padding-top:10px">
                <?php echo $this->getArquivo($this->post_var['idanxcomprovanteendereco']) ?>
            </div> 
        <?php endif;?>
        <?php else: ?>
            <?php if ((isset($this->post_var['idanxcomprovanteendereco'])) && ((int)$this->post_var['idanxcomprovanteendereco']>0)) : ?>
            <?php echo $this->getArquivo($this->post_var['idanxcomprovanteendereco']) ?>

            <div class="checkbox block">
                <label><input type="checkbox" name="excluir_anxcomprovanteendereco" value="excluir" /> Desejo excluir o arquivo</label>
            </div>                              
            <br /> 
        <?php endif; ?>
        <input type="file" name="anxcomprovanteendereco">
    <?php endif;?>
</div>
</div>

<div class="control-group">
    <label class="control-label">Declaração de Estudo </label>
    <div class="controls">
        <?php if ((isset($this->visualizar)) && ($this->visualizar)) : ?>                       
        <?php if ((isset($this->post_var['idanxestudo'])) && ((int)$this->post_var['idanxestudo']>0)) : ?>
        <div class="col-sm-6" style="padding-top:10px">
            <?php echo $this->getArquivo($this->post_var['idanxestudo']) ?>
        </div> 
    <?php endif;?>
    <?php else: ?>
        <?php if ((isset($this->post_var['idanxestudo'])) && ((int)$this->post_var['idanxestudo']>0)) : ?>
        <?php echo $this->getArquivo($this->post_var['idanxestudo']) ?>

        <div class="checkbox block">
            <label><input type="checkbox" name="excluir_anxestudo" value="excluir" /> Desejo excluir o arquivo</label>
        </div>                              
        <br /> 
    <?php endif; ?>
    <input type="file" name="anxestudo">
<?php endif;?>
</div>
</div>
</div>
<div class="control-group"></div>
</div>