<div class="control-group">
    <label class="control-label">Número do cartão </label>
    <div class="controls">
        <input type="text" name="numerocartao" <?php if ($this->visualizar) {echo 'disabled="true"';} else {echo 'enabled="true"';} ?> >
    </div>
</div>