<div class="control-group">
    <label class="control-label">Escola </label>
    <div class="controls">
        <input type="hidden" name="_idescola">
        <select id="idescola" name="idescola" <?php if ($this->visualizar) {echo 'disabled="true"';} else {echo 'enabled="true"';} ?> class="select">
            <option value="">Selecione...</option>
            <?php foreach (Lteentidades::getEntidades(array('tipo' => $this->post_var['tipoestudante']),0,0) as $i=>$row) : ?>
                <option value="<?php echo $row['id'] ?>"><?php echo $row['entidade'] ?></option>
            <?php endforeach; ?>
        </select>
    </div>
</div>

<div class="control-group">
    <label class="control-label">Curso </label>
    <div class="controls">
        <select id="cursoescola" name="cursoescola" <?php if ($this->visualizar) {echo 'disabled="true"';} else {echo 'enabled="true"';} ?> class="select">
            <option value="">Selecione...</option>
            <option value="fundamental">Fundamental</option>
            <option value="infantil">Infantil</option>
            <option value="medio">Médio</option>
<!--            <option value="tecnico">Técnico</option>-->
        </select>
    </div>
</div>

<div class="control-group">
    <label class="control-label">Série </label>
    <div class="controls">
        <input type="text" name="serie" value="<?php echo (isset($this->post_var['serie'])) ? $this->post_var['serie'] : '' ?>" <?php if ($this->visualizar) {echo 'disabled="true"';} else {echo 'enabled="true"';} ?> >
    </div>
</div>

<div class="control-group">
    <label class="control-label">EJA </label>
    <div class="controls">
        <label class="switch">
          <input type="checkbox" name="eja" id="eja">
          <span class="slider round"></span>
      </label>
  </div>
</div>

<div class="control-group">
    <label class="control-label">Bolsista </label>
    <div class="controls">
        <label class="switch">
          <input type="checkbox" name="bolsista" id="bolsista">
          <span class="slider round"></span>
      </label>
  </div>
</div>

<div class="control-group">
    <label class="control-label">Tipo Transporte </label>
    <div class="controls">
        <select id="tipotransporte" name="tipotransporte" <?php if ($this->visualizar) {echo 'disabled="true"';} else {echo 'enabled="true"';} ?> class="select" onchange="setPasse(this)">
            <option value="">Selecione...</option>
            <option value="passe">Passe Escolar</option>
            <option value="fretado">Fretado</option>
        </select>
    </div>
</div>

<div class="control-group">
    <label class="control-label">Matricula </label>
    <div class="controls">
      <input type="number" placeholder="Matricula" name="matricula" value="<?php echo (isset($this->post_var['matricula'])) ? $this->post_var['matricula'] : '' ?>" <?php if ($this->visualizar) {echo 'disabled="true"';} else {echo 'enabled="true"';} ?> class="span3" />
    </div>
  </div>

<div class="box-passe" style="display: none;">
    <?php //echo $this->render('/lteestudantes/helpers/form_dados_passe.phtml') ?>
</div>

<style type="text/css">
.switch {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 17px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 13px;
  width: 13px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(13px);
  -ms-transform: translateX(13px);
  transform: translateX(13px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 17px;
}

.slider.round:before {
  border-radius: 50%;
}
</style>
