    <div class="control-group">
        <label class="control-label">Entidade </label>
        <div class="controls">
            <input type="hidden" name="_identidade">
            <select id="identidade" name="identidade" <?php if ($this->visualizar) {echo 'disabled="true"';} else {echo 'enabled="true"';} ?> class="select"  onchange="setEntidade(this, 0)">
                <option value="">Selecione...</option>
                <?php foreach (Lteentidades::getEntidades(array('tipo' => 'universidade'),0,0) as $i=>$row) : ?>
                    <option value="<?php echo $row['id'] ?>" data-cidade="<?php echo $row['cidade'] ?>" data-subsidio="<?php echo $row['valorfretado'] * $row['subsidio'] / 100 ?>"><?php echo $row['entidade'] ?></option>
                <?php endforeach; ?>
            </select>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">Subsídio </label>
        <div class="controls">
            <span id="entidade-subsidio"><?php echo (isset($this->post_var['cidade_entidade'])) ? $this->post_var['cidade_entidade'].' - R$ ' : '' ?><?php echo (isset($this->post_var['subsidio']) && isset($this->post_var['valorfretado'])) ? number_format(($this->post_var['valorfretado'] * $this->post_var['subsidio'] / 100),2,'.','') : '' ?></span>
        </div>
    </div>

    <div class="control-group">
        <label class="control-label">Curso </label>
        <div class="controls">
            <select id="idcurso" name="idcurso" <?php if ($this->visualizar) {echo 'disabled="true"';} else {echo 'enabled="true"';} ?> class="select">
                <option value="">Selecione...</option>
                <?php foreach (Ltecursos::getCursos() as $i=>$row) : ?>
                    <option value="<?php echo $row['id'] ?>"><?php echo $row['curso'] ?></option>
                <?php endforeach; ?>
            </select>
        </div>
    </div>

    <div class="control-group">
        <label class="control-label">Semestre </label>
        <div class="controls">
            <select id="semestre" name="semestre" <?php if ($this->visualizar) {echo 'disabled="true"';} else {echo 'enabled="true"';} ?> class="select"  onchange="setCidades(this, 0)">
                <option value="">Selecione...</option>
                <?php for ($i=1; $i<=11; $i++) { ?>
                    <option value="<?php echo $i; ?>"> <?php echo $i; ?>º Semestre</option>
                <?php } ?>
            </select>
        </div>
    </div>

    <div class="control-group">
        <label class="control-label">Período </label>
        <div class="controls">
            <select id="periodo" name="periodo" <?php if ($this->visualizar) {echo 'disabled="true"';} else {echo 'enabled="true"';} ?> class="select"  onchange="setCidades(this, 0)">
                <option value="">Selecione...</option>
                <option value="manha">Manhã</option>
                <option value="tarde">Tarde</option>
                <option value="noite">Noite</option>
            </select>
        </div>
    </div>

    <div class="control-group">
        <label class="control-label">Filiação </label>
        <div class="controls">
            <input type="number" placeholder="Filiação" name="filiacao" value="<?php echo (isset($this->post_var['filiacao'])) ? $this->post_var['filiacao'] : '' ?>" <?php if ($this->visualizar) {echo 'disabled="true"';} else {echo 'enabled="true"';} ?> class="span3" />
        </div>
    </div>