		<!-- Content -->
		<div id="content">

		    <!-- Content wrapper -->
		    <div class="wrapper">

			    <!-- Breadcrumbs line -->
			    <div class="crumbs">
			    	<?php echo $this->render('/helpers/breadcrumb.phtml') ?>
			    </div>
			    <!-- /breadcrumbs line -->

			    <!-- Page header -->
			    <div class="page-header">
			    	<div class="page-title">
				    	<h5>Diários de classe</h5>
				    	<span>Verifique os campos e preencha com os dados</span>
			    	</div>
			    </div>
			    <!-- /page header -->

			    <?php if (isset($this->crudMessage)) : ?>
					<div class="alert alert-success">
	                	<button data-dismiss="alert" class="close" type="button">×</button>
	                    <strong>Operação realizada com sucesso!</strong>
		    			<span><br /><?php echo $this->crudMessage ?></span>
	                </div>			    
			    <?php endif; ?>

				<form id="form" name="form" action="" method="post" class="form-horizontal" enctype="multipart/form-data"> 
					<input type="hidden" value="<?php echo (isset($this->post_var)) ? $this->post_var["id"] : ''; ?>" name="id" id="id" />
					
					<fieldset>
						<!-- General form elements -->
						<div class="widget row-fluid">
						    <div class="navbar">
						        <div class="navbar-inner">
						            <h6>Digite as informações do formulário</h6>
						        </div>
						    </div>

						    <div class="well">
								<?php if (isset($this->erros)) : ?>
									<div class="alert alert-error margin">
				                        <button data-dismiss="alert" class="close" type="button">×</button>
				                        <strong>Há erros no formulário!</strong>
					    				<?php foreach ($this->erros as $k=>$v) : ?>
					    					<span><br />- <?php echo $v ?></span>
					    				<?php endforeach;?>			                        
				                    </div>
			                    <?php endif; ?>						    
				    
<?php if(Escolasusuarios::getUsuario('professor')=="Sim"): ?>

<?php else: /*?>
				<div class="control-group">
					<label class="control-label">Professor <span class="required">*</span></label>
					<div class="controls">
		                <select name="idprofessor" data-placeholder="Professor" class="select" onchange="setAlunosmaterias(this, <?php echo $this->post_var['id'] ?>, 0)">
							<option value="">Selecione...</option>
							<?php foreach ($this->professores as $k=>$v) : ?>
							<option value="<?php echo $v['idprofessor'] ?>">
								<?php //echo $v['nome'] ?>
								<?php
									$professor = "";
									$___rows = Funcionariosgeraisescolas::getFuncionariosgeraisescolasHelper(array('id'=>$v['idprofessor']));
									$___row = (sizeof($___rows)>0) ? 	$___rows[0] : false;	
									
									echo ($___row) ? $this->formatTextoBranco($___row['nome']) : '--';		
								?>
							</option>
							<?php endforeach;?>
						</select>
						
					</div>
				</div>

<?php */ endif; ?>
				<?php 
					$bimestre = "Bimestre";
					if(isset($this->configuracoesnotas['periodos'])){
						$bimestre = $this->configuracoesnotas['periodos'];
					}
				?>
				<?php if(Escolasusuarios::getUsuario('professor')=="Sim"): ?>
				<div class="control-group">
					<label class="control-label">Período <span class="required">*</span></label>
					<div class="controls">
						<?php if($bimestre=="Bimestre"): ?>
		                <select name="bimestre" data-placeholder="Bimestre" class="select" onchange="setAlunosbimestre(this, <?php echo $this->post_var['id'] ?>)">
		                	<?php for($ib=1; $ib<=4; $ib++):?>
							<option value="<?php echo $ib ?>"><?php echo $ib ?> Bimestre</option>
							<?php endfor?>
						</select>
						<?php else: ?>
		                <select name="bimestre" data-placeholder="Bimestre" class="select">
		                	<?php for($ib=1; $ib<=3; $ib++):?>
							<option value="<?php echo $ib ?>"><?php echo $ib ?> Trimestre</option>
							<?php endfor?>
						</select>
						<?php endif; ?>
					</div>
				</div>
				<?php endif; ?>
				<div class="control-group">
					<label class="control-label">Série <span class="required">*</span></label>
					<div class="controls">
						<b><?php echo $this->post_var['serie']?> <?php echo $this->post_var['turma']?></b>
					</div>
				</div>

				<div class="control-group">
					<div class="controls1">
						<div style="width:100%; text-align:center;">
						<input type="hidden" value="" name="validafaltas" id="validafaltas" class="validafaltas" />
						<div>
						<table class="table table-primary mb30 diasmes" style="width:100%;" border="1" bordercolor="#d5d5d5">
							<thead>
								<tr>
									<th width="">&nbsp;</th>									
									<th width="" class="nomealuno">Aluno</th>									
									<?php foreach ($this->materiasprofessores as $row) : ?>
									<th width="">
										<?php //echo $row['materia'] ?>
										<?php
											$___rows = Controlealunosmaterias::getControlealunosmateriasHelper(array('id'=>$row['idmateria']));
											$___row = (sizeof($___rows)>0) ? 	$___rows[0] : false;	
											
											echo ($___row) ? $this->formatTextoBranco($___row['materia']) : '--';		
										?>
									</th>
									<?php endforeach; ?>
									<?php if(Escolasusuarios::getUsuario('professor')=="Sim"): ?>
									<th>N. Final</th>
									<?php endif; ?>
									<th>Faltas</th>
								</tr>
							</thead>
							<tbody id="box-faltas">
								
							</tbody>
						</table>
						
					</div>
				</div>
			

				<div class="control-group">
					<label class="control-label">Status <span class="required">*</span></label>
					<div class="controls">
						<select name="status1" data-placeholder="Status" class="select">
							<option value="">Selecione...</option>
							<option value="Ativo">Ativo</option><option value="Bloqueado">Bloqueado</option>
						</select>
						
					</div>
				</div>

						    
						    
						    </div>
						    
			                <div class="form-actions align-right">
			                	<?php if ((isset($this->visualizar)) && ($this->visualizar)) : ?>
			                		<button onclick="window.history.back()" class="btn btn-danger cancelar" type="button">Voltar</button>
			                	<?php else : ?>
				                	<button class="btn btn-primary enviar" type="submit">Salvar</button>
				                	<button onclick="window.history.back()" class="btn btn-danger cancelar" type="button">Cancelar</button>
			                	<?php endif; ?>
			                </div>
						</div>
						<!-- /general form elements -->

					</fieldset> 

				</form>
				<!-- /basic inputs -->

		    </div>
		    <!-- /content wrapper -->

		</div>
		<!-- content -->
				
<script type="text/javascript" src="<?php echo $this->baseUrl('/public/scripts/default/diariosclasses_form.js') ?>"></script>
<script type="text/javascript">
	var form_values = {};
	
	<?php if (isset($this->post_var)) :  ?>
		form_values.idescola = '<?php echo (isset($this->post_var['idescola'])) ? $this->post_var['idescola'] : '' ?>';

form_values.idescolavinculo = '<?php echo (isset($this->post_var['idescolavinculo'])) ? $this->post_var['idescolavinculo'] : '' ?>';

form_values.idmateria = '<?php echo (isset($this->post_var['idmateria'])) ? $this->post_var['idmateria'] : '' ?>';

form_values.idprofessor = '<?php echo (isset($this->post_var['idprofessor'])) ? $this->post_var['idprofessor'] : '' ?>';

form_values.idaluno = '<?php echo (isset($this->post_var['idaluno'])) ? $this->post_var['idaluno'] : '' ?>';

form_values.status1 = '<?php echo (isset($this->post_var['status1'])) ? $this->post_var['status1'] : $this->post_var['status'] ?>';


	<?php endif; ?>

$(document).ready(function() {
	setAlunos("<?php echo $this->post_var['id'] ?>");
});

	visualizar = <?php echo  ((isset($this->visualizar)) && ($this->visualizar))  ? 'true' : 'false' ?>;
</script>
