		<!-- Content -->
		<div id="content">

		    <!-- Content wrapper -->
		    <div class="wrapper">

			    <!-- Breadcrumbs line -->
			    <div class="crumbs">
			    	<?php echo $this->render('/helpers/breadcrumb.phtml') ?>
			    </div>
			    <!-- /breadcrumbs line -->

			    <!-- Page header -->
			    <div class="page-header">
			    	<div class="page-title">
				    	<h5>Formulário de supervisão</h5>
				    	<span>Verifique os campos e preencha com os dados</span>
			    	</div>
			    </div>
			    <!-- /page header -->

			    <?php if (isset($this->crudMessage)) : ?>
					<div class="alert alert-success">
	                	<button data-dismiss="alert" class="close" type="button">×</button>
	                    <strong>Operação realizada com sucesso!</strong>
		    			<span><br /><?php echo $this->crudMessage ?></span>
	                </div>			    
			    <?php endif; ?>
			    <input type="hidden" name="idescola" value="<?php echo (isset($this->post_var['idescola'])) ? $this->post_var['idescola'] : ''?>">
			    <div class="control-group">
			    	<table class="table table-content" width="100%">
			    		<tbody>
			    			<tr>
			    				<?php 
			    					$id = Usuarios::getUsuario('id');
						            $_user = (Usuarios::getUsuarioByIdHelper($id));
						        ?>
				    			<td width="33%">
				    				<?php
						                echo "Usuário: ", $this->formatTextoBranco($_user["nomerazao"]);
				    				?>
				    			</td>
				    			<td width="33%"><?php echo "Data: ", date('d/m/Y');?></td>
				    			<td width="33%"><?php echo "RGF: ", $_user['rgf'];?></td>
			    			</tr>
			    		</tbody>
			    	</table>
			    </div>

				<form id="form" name="form" action="" method="post" class="form-horizontal" enctype="multipart/form-data"> 
					<input type="hidden" value="<?php echo (isset($this->post_var["id"])) ? $this->post_var["id"] : ''; ?>" name="id" id="id" />
					<input type="hidden" value="<?php echo (isset($this->post_var["idusuariocriacao"])) ? $this->post_var["idusuariocriacao"] : ''; ?>" name="idusuariocriacao" id="idusuariocriacao" />
				
					
					<fieldset>
						<!-- General form elements -->
						<div class="widget row-fluid">
						    <div class="navbar">
						        <div class="navbar-inner">
						            <h6>Digite as informações do formulário</h6>
						        </div>
						    </div>

						    <div class="well">
								<?php if (isset($this->erros)) : ?>
									<div class="alert alert-error margin">
				                        <button data-dismiss="alert" class="close" type="button">×</button>
				                        <strong>Há erros no formulário!</strong>
					    				<?php foreach ($this->erros as $k=>$v) : ?>
					    					<span><br />- <?php echo $v ?></span>
					    				<?php endforeach;?>			                        
				                    </div>
			                    <?php endif; ?>						    

				<?php if($this->editar AND Usuarios::getUsuario('idperfil')==29):?>
				<div class="control-group">
					<label class="control-label">Origem </label>
					<div class="controls">
		                <?php
			                $id = (int)$this->post_var['idusuariocriacao'];
			                $_user = (Usuarios::getUsuarioByIdHelper($id));

			                echo $this->formatTextoBranco($_user["nomerazao"]);
		                ?>
					</div>
				</div>
				<div class="control-group">
					<label class="control-label">RGF</label>
					<div class="controls">
						<?php echo $_user["rgf"]; ?>
					</div>
				</div>
				<div class="control-group">
					<label class="control-label">Data abertura</label>
					<div class="controls">
						<?php echo date('d/m/Y', strtotime($this->post_var["datacriacao"])); ?>
					</div>
				</div>
				<?php endif;?>
				<div class="control-group">
					<label class="control-label">Escolas </label>
					<div class="controls">
		                <select name="idescola" data-placeholder="Escolas" class="select" onchange="setDiretoras(this, 0)">
							<option value="">Selecione...</option>
							<?php foreach (Escolas::getEscolasHelper(array('status'=>'Ativo', 'idsecretaria'=>Usuarios::getSecretariaAtiva( Usuarios::getUsuario('id'), 'id' ))) as $k=>$v) : ?>
							<option value="<?php echo $v['id'] ?>"><?php echo $v['escola'] ?></option>
							<?php endforeach;?>
						</select>
					</div>
				</div>
				<div class="box-diretora" style="display: none;">
					<div class="control-group">
						<label class="control-label">Diretor(a)</label>
						<div class="controls"><input maxlength="500" placeholder="Diretor(a)" name="diretor" value="<?php echo (isset($this->post_var['diretor'])) ? $this->post_var['diretor'] : '' ?>" type="text"  class="span3" readonly/></div>
					</div>
				</div>
				<div class="control-group">
					<label class="control-label">Título <span class="required">*</span></label>
					<div class="controls"><input maxlength="500" placeholder="Título" name="titulo" value="<?php echo (isset($this->post_var['titulo'])) ? $this->post_var['titulo'] : '' ?>" type="text"  class="span3" /></div>
				</div>
				<div class="control-group">
					<label class="control-label">Descrições </label>
					<div class="controls"><textarea class="span12" name="descricao" cols="5" rows="25" style="resize: none;"><?php echo (isset($this->post_var)) ? $this->post_var["descricao"] : ''; ?></textarea></div>
				</div>
				<div class="control-group">
					<label class="control-label">Status <span class="required">*</span></label>
					<div class="controls">
						<select name="status1" data-placeholder="Status" class="select">
							<?php if(Usuarios::getUsuario("idperfil")==15 || $this->visualizar):?>
								<option value="Andamento">Andamento</option>
							<?php endif;?>
							<?php if(Usuarios::getUsuario("idperfil")==29 || $this->visualizar):?>
								<option value="Ciente">Ciente</option>
							<?php endif;?>
						</select>
						
					</div>
				</div>
				<?php if($this->visualizar):?>
					<div class="control-group">
						<label class="control-label">Ciente por</label>
						<div class="controls">
							<?php 
								$idusuario = (int)$this->post_var['idusuarioaceite'];
				                $_user = (Usuarios::getUsuarioByIdHelper($idusuario));

				                echo $this->formatTextoBranco($_user["nomerazao"]);
							?>
						</div>
					</div>
					<div class="control-group">
						<label class="control-label">Data Ciente</label>
						<div class="controls">							
							<?php echo (isset($this->post_var["dataaceite"]) AND $this->post_var["dataaceite"] != "0000-00-00") ? date('d/m/Y', strtotime($this->post_var["dataaceite"])) : '--'; ?>
						</div>
					</div>
				<?php endif;?>
				    </div>
				    
	                <div class="form-actions align-right">
	                	<?php if ((isset($this->visualizar)) && ($this->visualizar)) : ?>
	                		<button onclick="window.history.back()" class="btn btn-danger cancelar" type="button">Voltar</button>
	                	<?php else : ?>
		                	<button class="btn btn-primary enviar" type="submit">Salvar</button>
		                	<button onclick="window.history.back()" class="btn btn-danger cancelar" type="button">Cancelar</button>
	                	<?php endif; ?>
	                </div>
				</div>
				<!-- /general form elements -->
					</fieldset>
				</form>
				<!-- /basic inputs -->
		    </div>
		    <!-- /content wrapper -->
		</div>
		<!-- content -->
<script type="text/javascript" src="<?php echo $this->baseUrl('/public/scripts/admin/supervisoes_form.js') ?>"></script>
<script type="text/javascript">
	var form_values = {};
	
	<?php if (isset($this->post_var)) :  ?>
		form_values.idusuariocriacao = '<?php echo (isset($this->post_var['idusuariocriacao'])) ? $this->post_var['idusuariocriacao'] : '' ?>';

		form_values.iddepartamentosecretaria = '<?php echo (isset($this->post_var['iddepartamentosecretaria'])) ? $this->post_var['iddepartamentosecretaria'] : '' ?>';

		form_values.idescola = '<?php echo (isset($this->post_var['idescola'])) ? $this->post_var['idescola'] : '' ?>';

		form_values.origem = '<?php echo (isset($this->post_var['origem'])) ? $this->post_var['origem'] : '' ?>';
		form_values.tipo = '<?php echo (isset($this->post_var['tipo'])) ? $this->post_var['tipo'] : '' ?>';
		form_values.destinatario = '<?php echo (isset($this->post_var['destinatario'])) ? $this->post_var['destinatario'] : '' ?>';
		form_values.idusuarioresponsavel = '<?php echo (isset($this->post_var['idusuarioresponsavel'])) ? $this->post_var['idusuarioresponsavel'] : '' ?>';
		form_values.status1 = '<?php echo (isset($this->post_var['status1'])) ? $this->post_var['status1'] : $this->post_var['status'] ?>';
		form_values.iddepartamentoescola = '<?php echo (isset($this->post_var['iddepartamentoescola'])) ? $this->post_var['iddepartamentoescola'] : '' ?>';
		form_values.idescolausuarioresponsavel = '<?php echo (isset($this->post_var['idescolausuarioresponsavel'])) ? $this->post_var['idescolausuarioresponsavel'] : '' ?>';
	<?php endif; ?>

	visualizar = <?php echo((isset($this->visualizar)) && ($this->visualizar))  ? 'true' : 'false' ?>;
	editar = <?php echo((isset($this->editar)) && ($this->editar))  ? 'true' : 'false' ?>;

	perfil = <?php echo(Usuarios::getUsuario('idperfil') > 0) ? Usuarios::getUsuario('idperfil') : ''?>
</script>
