

		<!-- Content -->
		<div id="content">

		    <!-- Content wrapper -->
		    <div class="wrapper">

			    <!-- Breadcrumbs line -->
			    <div class="crumbs">
			    	<?php echo $this->render('/helpers/breadcrumb.phtml') ?>
			    </div>
			    <!-- /breadcrumbs line -->

			    <!-- Page header -->
			    <div class="page-header">
			    	<div class="page-title">
				    	<h5>Termo de visitas</h5>
				    	<span>Visualize as visitas do sistema</span>
			    	</div>
			    	
			    </div>
			    <!-- /page header -->
			    
			    <?php if (isset($this->crudMessage)) : ?>
				<div class="alert alert-success">
                	<button data-dismiss="alert" class="close" type="button">×</button>
                    <strong>Operação realizada com sucesso!</strong>
	    			<span><br /><?php echo $this->crudMessage ?></span>
                </div>			    
			    <?php endif; ?>
			    
                <!-- Table with footer -->
                <div class="widget">
                	<form action="#" class="form-horizontal" method="post">
                		<input type="hidden" value="<?php echo (isset($this->post_var['sorting'])) ? $this->post_var['sorting'] : '' ?>" name="sorting" />
	                	<div class="navbar">
	                		<div class="navbar-inner">
	                			<h6>Visualizando registros</h6>
	                			<?php if (Mn_Util::isAccess($this->getController(), 'adicionar')) : ?>
	                			<a style="float:right;" href="<?php echo $this->baseUrl() ?>/<?php echo 'admin' ?>/<?php echo $this->getController() ?>/adicionar" class="btn btn-primary"><span class="icon-plus"></span>&nbsp;Adicionar visita</a>

	                			<?php endif; ?>
	                		</div>
	                	</div>
	                    <div class="table-overflow">
	                        <table class="table table-content">
	                            <thead>
	                                <tr>
	                                    <th class="">Data abertura</th>
	                                    <th class="">Usuário</th>
	                                    <th class="">Escola</th>
	                                    <th  width="80" class="s-status sorting">Status</th>
	                                    <th width="96">Ações</th>
	                                </tr>
	                                <tr>
										<th>
											<input placeholder="Data de criação" name="datacriacao" value="<?php echo (isset($this->post_var['datacriacao'])) ? Mn_Util::formPostVarData($this->post_var['datacriacao']) : '' ?>" type="text"  class="span3" />
										</th>
										<th>									
											<div>
												<select name="idusuariocriacao" placeholder="Todos" class="select">
													<option value="">Todos</option>
													<?php foreach (Supervisoestermovisitas::getSupervisoresHelper() as $k=>$v) : ?>
														<option value="<?php echo $v['id'] ?>"><?php echo $v['nomerazao'] ?></option>
													<?php endforeach;?>
												</select>
											</div>
										</th>
										<th>
											<div>
												<select name="idescola" placeholder="Todos" class="select">
													<?php	
													if(Usuarios::getUsuario('idperfil')==29):
														$escola = Usuarios::getEscolaAtiva(Usuarios::getUsuario('id'));?>
														<option value="<?php echo $escola['id']?>"><?php echo $escola['escola']?></option>
													<?php else: ?>
														<option value="">Todos</option>
														<?php foreach (Escolas::getEscolasHelper(array('status'=>'Ativo')) as $k=>$v) : ?>
															<option value="<?php echo $v['id'] ?>"><?php echo ($v['escola']) ? substr($this->formatTextoBranco($v['escola']. '<br />'), 0, 50) : '--'; ?></option>
														<?php endforeach;?>
													<?php endif; ?>
												</select>
											</div>
										</th>
										<th>
											<div>
												<select name="status1" placeholder="Todos" class="select">
													<option value="">Todos</option>
													<option value="Andamento">Andamento</option>
													<option value="Ciente">Ciente</option>
												</select>
											</div>
										</th>
	                                    <th><button class="btn btn-mini btn-primary" type="submit">Pesquisar</button></th>
	                                </tr> 
	                                                                
	                            </thead>
	                            <tbody>
	                            	<?php if (sizeof($this->rows)==0) : ?>
	                                <tr>
	                                    <td colspan="8">Nenhum registro foi encontrado!</td>
	                                </tr>
	                            	
	                            	<?php else : ?>
	                            	<?php foreach ($this->rows as $row) : ?>
	                                <tr>										
										<td><?php echo date("d/m/Y", strtotime($row['datacriacao'])) ?></td>
										<td>
											<?php
												$idcriacao = (int)$row['idusuariocriacao'];
								                $_user = (Usuarios::getUsuarioByIdHelper($idcriacao));

								                echo $this->formatTextoBranco($_user["nomerazao"]);
											?>
										</td>

										<td>
											<?php
											$___rows = Escolas::getEscolasHelper(array('id'=>$row['idescola']));
												$___row = (sizeof($___rows)>0) ? 	$___rows[0] : false;	
												
												echo ($___row) ? $this->formatTextoBranco($___row['escola'] . '<br />') : '--';
											?>
										</td>
										<td> <?php echo $row['status'] ?> </td>
	                                    <td>
	                                        <ul class="table-controls">
	                                            <li><a title="" class="btn tip" href="<?php echo $this->baseUrl() ?>/<?php echo 'admin' ?>/<?php echo $this->getController() ?>/visualizar/id/<?php echo $row['id'] ?>" data-original-title="Visualizar"><i class="icon-eye-open"></i></a> </li>
	                                            <?php if (Mn_Util::isAccess($this->getController(), 'editar') AND $row["status"] == 'Andamento') : ?>
	                                            <li><a title="" class="btn tip" href="<?php echo $this->baseUrl() ?>/<?php echo 'admin' ?>/<?php echo $this->getController() ?>/editar/id/<?php echo $row['id'] ?>" data-original-title="Editar"><i class="icon-pencil"></i></a> </li>
	                                            <?php endif;?>
	                                            <?php if (Mn_Util::isAccess($this->getController(), 'excluir')) : ?>
	                                            <li><a title="" class="btn tip" href="javascript:confirmDelete('<?php echo $row['id']; ?>','registro');" data-original-title="Excluir"><i class="icon-remove"></i></a> </li>
	                                            <?php endif; ?>
	                                            <?php if($row['status']=="Ciente") :?>
	                                        		<li>
	                                        			<a title="" class="btn btn-danger tip" href="<?php echo $this->baseUrl() ?>/<?php echo 'admin' ?>/<?php echo $this->getController() ?>/gerardocumento/id/<?php echo $row['id']?>" data-original-title="Gerar documento" target="_blank"><i class="icon-print" style="color:#fff;"></i></a>
	                                        		</li>
	                                        	<?php endif;?>
	                                        </ul>
	                                    </td>
	                                </tr>
	                            	<?php endforeach;?>
	                            	<?php endif; ?>
	                            </tbody>
	                        </table>
	                    </div>
	                    <?php echo $this->render('/helpers/paginator.phtml') ?>
                    
                    </form>

                </div>
                <!-- /table with footer -->
	                        


		    </div>
		    <!-- /content wrapper -->

		</div>
		<!-- content -->
		
		
<script type="text/javascript" src="<?php echo $this->baseUrl('/public/scripts/admin/supervisoes_index.js') ?>"></script>
<script type="text/javascript">

	var form_values = {};
	<?php if (isset($this->post_var)) :  ?>
form_values.datacriacao = '<?php echo (isset($this->post_var['datacriacao'])) ? $this->post_var['datacriacao'] : '' ?>';

form_values.idusuariocriacao = '<?php echo (isset($this->post_var['idusuariocriacao'])) ? $this->post_var['idusuariocriacao'] : '' ?>';

form_values.iddepartamentosecretaria = '<?php echo (isset($this->post_var['iddepartamentosecretaria'])) ? $this->post_var['iddepartamentosecretaria'] : '' ?>';

form_values.idescola = '<?php echo (isset($this->post_var['idescola'])) ? $this->post_var['idescola'] : '' ?>';

form_values.origem = '<?php echo (isset($this->post_var['origem'])) ? $this->post_var['origem'] : '' ?>';

form_values.destinatario = '<?php echo (isset($this->post_var['destinatario'])) ? $this->post_var['destinatario'] : '' ?>';

form_values.status1 = '<?php echo (isset($this->post_var['status1'])) ? $this->post_var['status1'] : $this->post_var['status'] ?>';

	
	<?php endif; ?>

	var sorting = ["idusuariocriacao", "iddepartamentosecretaria", "idescola", "sequencial", "titulo", "descricoes", "origem", "destinatario", "status"];
	
</script>	


