<?php if(false): ?>
<table width="100%" cellpadding="0" cellspacing="0" border="0" nobr="true">

	<tr>		
		<td align="center" width="40%">
				<?php /*if((int)$this->post_var['idimagemassinatura'] > 0) : ?>
			    <img width="200" src="<?php echo MY_PATH . $this->baseUrl() ?>/imagens/get/id/<?php echo (int)$this->post_var['idimagemassinatura'] ?>/w/0/h/0/i/indisponivel/img.jpg" />
			    <?php endif;*/ ?>
		</td>

		<td align="center" width="60%">
			<font size="12">Agência PAB P.M - Santa Isabel</font><br />
			<font size="10">Av. Vereador João Fernandes da Silva, 283</font><br />
			<font size="10">Vl. Virgínia - Santa Isabel</font><br />
			<font size="10">Fone: 4642-1096</font><br />
		</td>
	</tr>
</table>

<table width="100%" cellpadding="0" cellspacing="0" border="0" nobr="true">
	<tr>
		<td align="center" width="100%">
			<font size="10">
			    <b>BANCO BRADESCO S.A</b>
		    </font>
		</td>
	</tr>
	
	<tr>
		<td align="left" width="100%">
			<font size="10">
			    <b>Documentos Necessários para abertura da conta corrente (Xerox e original)</b>
		    </font>
		    <br/>
		</td>
	</tr>

	<tr>
		<td align="left" width="100%"><font size="10">RG: <u><?php echo $this->post_var['rg']?></u></font></td>
	</tr>
	
	<tr>
		<td align="left" width="100%"><font size="10">CPF: <u><?php echo $this->post_var['cpf']?></u></font></td>
	</tr>
	
	<tr>
		<td align="left" width="100%"><font size="10">SE FOR CASADO: CERTIDÃO DE CASAMENTO<br /><br />COMPROVANTE DE ENDEREÇO ATUALIZADO (ÁGUA/LUZ/TELEFONE) E PAGO COM COMPROVANTE. SE NÃO ESTIVER EM NOME DO PRÓPRIO TRAZER UM COMPROVANTE A MAIS COM CARIMBO DE CORREIO</font></td>
	</tr>
	
	<tr>
		<td align="left" width="100%"><font size="10">Nome: <u><?php echo $this->post_var['nome']?></u></font></td>
	</tr>
	
	<tr>
		<td align="left" width="100%"><font size="10">Endereço: <u><?php echo $this->post_var['endereco']?></u></font></td>
	</tr>
	
	<tr>
		<td align="left" width="100%"><font size="10">Bairro: <u><?php echo $this->post_var['bairro']?></u> CEP:<u><?php echo $this->post_var['cep']?></u></font></td>
	</tr>
	
	<tr>
		<td align="left" width="100%"><font size="10">Cidade: <u><?php echo $this->post_var['cidade']?></u> Fone Res:<u><?php echo $this->post_var['telefone']?></u></font></td>
	</tr>
	
	<tr>
		<td align="left" width="100%"><font size="10">Celular: <u><?php echo $this->post_var['celular']?></u></font></td>
	</tr>
	
	<tr>
		<td align="left" width="100%"><font size="10">Estado Civil: <u><?php echo ((isset($this->post_var['estadocivil'])) && ($this->post_var['estadocivil']!="")) ? Funcionarios::getEstadoCivil($this->post_var['estadocivil']) : '' ?></u></font></td>
	</tr>
	
	<tr>
		<td align="left" width="100%"><font size="10">Nome do Cônjuge: <u><?php echo $this->post_var['conjugenome']?></u></font></td>
	</tr>
	
	<tr>
		<td align="left" width="100%"><font size="10">Escolaridade: <u><?php echo ((isset($this->post_var['grauinstrucao'])) && ($this->post_var['grauinstrucao']!="")) ? Funcionarios::getEscolaridade($this->post_var['grauinstrucao']) : '' ?></u></font></td>
	</tr>
	
	<tr>
		<td align="left" width="100%"><font size="10">Admissão na Prefeitura: <u><?php echo (isset($this->post_var['dataadmissao'])) ? Mn_Util::formPostVarData($this->post_var['dataadmissao']) : '' ?></u></font></td>
	</tr>
	
	<tr>
		<td align="left" width="100%"><font size="10">Salário: R$ <u><?php echo number_format($this->post_var['salarioinicial'], 2, ',', '.')?></u></font></td>
	</tr>
	
	<tr>
		<td align="left" width="100%"><font size="10">Cargo: <u><?php echo $this->post_var['cargo']?></u></font></td>
	</tr>
	
	<tr>
		<td align="left" width="100%"><font size="10">Declaramos serem verdadeiras as informações prestadas acima.</font></td>
	</tr>
	
	<tr>
		<td align="left" width="100%"><font size="10">Prefeitura municipal de Itaquaquecetuba</font></td>
	</tr>
	
	<tr>
		<td align="center" width="100%">
			<font size="10">
				__________________________________________
		    </font>
		</td>
	</tr>
</table>
<?php else:?>
<table width="100%" cellpadding="0" cellspacing="0" border="0" nobr="true">

	<tr>		
		<td align="center" width="100%"><font size="14">PREFEITURA MUNICIPAL DE ITAQUAQUECETUBA</font></td>
	</tr>
	
	<tr>		
		<td align="center" width="100%"><br/><br/></td>
	</tr>	
</table>


<table width="100%" cellpadding="0" cellspacing="0" border="0" nobr="true">
	<tr>		
		<td width="18%">&nbsp;</td>
		<td align="center" width="74%"><font size="14">DECLARAÇÃO DE RELAÇÃO FAMILIAR OU DE PARENTESCO</font></td>
		<td width="18%">&nbsp;</td>
	</tr>
</table>

<table width="100%" cellpadding="0" cellspacing="0" border="0" nobr="true">
	<tr>
		<td align="left" width="100%"><font size="10">Nome: <u><?php echo $this->post_var['nome']?></u></font><br /></td>
	</tr>
</table>

<table width="100%" cellpadding="0" cellspacing="0" border="0" nobr="true">
	<tr>
		<td align="left" width="35%"><font size="10">Matrícula: <u><?php echo $this->post_var['matricula']?></u></font><br /></td>
		<td align="left" width="65%"><font size="10">Secretaria: <u><?php echo $this->post_var['secretaria']?></u></font><br /></td>
	</tr>
</table>

<table width="100%" cellpadding="0" cellspacing="0" border="0" nobr="true">
	<tr>
		<td align="left" width="40%"><font size="10">Cargo Efetivo: <u><?php echo $this->post_var['cargo']?></u></font><br /></td>
		<td align="left" width="60%"><font size="10">Data Ingresso: <u><?php echo (isset($this->post_var['dataadmissao'])) ? Mn_Util::formPostVarData($this->post_var['dataadmissao']) : '' ?></u></font><br /></td>
	</tr>
	
	<tr>
		<td align="left" width="40%"><font size="10">Cargo Comissionado: <u><?php echo $this->post_var['cargocomissionado']?></u></font><br /></td>
		<td align="left" width="60%"><font size="10">Data Ingresso: <u><?php echo (isset($this->post_var['dataadmissaocomissionado'])) ? Mn_Util::formPostVarData($this->post_var['dataadmissaocomissionado']) : '' ?></u></font><br /></td>
	</tr>
</table>

<table width="100%" cellpadding="0" cellspacing="0" border="0" nobr="true">
	<tr>
		<td align="left" width="100%"><font size="10">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Possui relação familiar ou de parentesco que importe prática de vedada na forma do disposto na Súmula Vinculante n° 13, do Supremo Tribunal Federal, abaixo descrita, com servidor ocupante de cargo de comissão ou de confiança no âmbito da prefeitura Municipal ou da Câmara Municipal de Itaquaquecetuba ?</font><br /></td>
	</tr>
</table>

<table width="100%" cellpadding="4" cellspacing="0" border="1" nobr="true">
	<tr>
		<td align="left" width="100%"><font size="9">"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent vitae luctus libero. Suspendisse nec suscipit diam. Mauris porta, nulla ut condimentum egestas, enim ante imperdiet justo, id commodo augue tortor et tortor. Nam non vulputate mauris. Duis auctor sapien a tincidunt suscipit. Phasellus ultricies malesuada dui ut posuere. Nam quis ullamcorper est. Suspendisse et massa massa. Donec purus mi, consequat convallis purus id, ultrices sollicitudin quam. Phasellus at rutrum urna, eget interdum justo. Nunc molestie ante eu consectetur tincidunt. Cras ullamcorper eget enim sed dignissim. Vivamus semper diam quis mauris bibendum, a ullamcorper ipsum bibendum."</font><br /><br /></td>
	</tr>
</table>

<table width="100%" cellpadding="0" cellspacing="0" border="0" nobr="true">
	<tr>
		<td align="center" width="50%"><br /><font size="10"> (<?php echo (sizeof($this->parentescos) <= 0) ? 'X' : ' '?>) Não </font><br /></td>
		<td align="center" width="50%"><br /><font size="10"> (<?php echo (sizeof($this->parentescos) > 0) ? 'X' : ' '?>) Sim </font><br /></td>
	</tr>
</table>

<table width="100%" cellpadding="0" cellspacing="0" border="0" nobr="true">
	<?php foreach ($this->parentescos as $p=>$row) : ?>
	<tr>
		<td align="left" width="100%"><font size="10">Nome do parente: <?php echo $row['nome']?></font><br /></td>
	</tr>
	<tr>
		<td align="left" width="40%"><font size="10">Grau de Parentesco: <?php echo $row['grauparentesco']?></font><br /></td>
		<td align="left" width="60%"><font size="10">Local de Trabalho: <?php echo $row['localtrabalho']?></font><br /></td>
	</tr>
	<?php endforeach;?>
</table>

<table width="100%" cellpadding="0" cellspacing="0" border="0" nobr="true">
	<tr>
		<td align="left" width="80%"><font size="10"><br /><br />&nbsp; &nbsp; DECLARO, sob as penas de Lei, que as informações prestadas são verdadeiras.</font></td>
	</tr>
	<tr>
		<td align="left" width="80%"><font size="10">&nbsp; &nbsp; Itaquaquecetuba, _____/__________/_______</font></td>
	</tr>
	<tr>
		<td align="left" width="80%"><font size="10">&nbsp; &nbsp; ________________________________________</font></td>
	</tr>
	<tr>
		<td align="left" width="80%"><font size="10">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Assinatira do Servidor</font><br /></td>
	</tr>
</table>
<?php endif?>

<table width="100%" cellpadding="4" cellspacing="0" border="1" nobr="true">
	<tr>
		<td align="left" width="100%"><font size="9">"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent vitae luctus libero. Suspendisse nec suscipit diam. Mauris porta, nulla ut condimentum egestas, enim ante imperdiet justo, id commodo augue tortor et tortor. Nam non vulputate mauris. Duis auctor sapien a tincidunt suscipit. Phasellus ultricies malesuada dui ut posuere. Nam quis ullamcorper est. Suspendisse et massa massa. Donec purus mi, consequat convallis purus id, ultrices sollicitudin quam. Phasellus at rutrum urna, eget interdum justo. Nunc molestie ante eu consectetur tincidunt. Cras ullamcorper eget enim sed dignissim. Vivamus semper diam quis mauris bibendum, a ullamcorper ipsum bibendum."</font></td>
	</tr>
</table>