		<!-- Content -->
		<div id="content">	<?php  $dadosUsuarioLogado = Usuarios::getUsuario(); ?>

		    <!-- Content wrapper -->
		    <div class="wrapper">

			    <!-- Breadcrumbs line -->
			    <div class="crumbs">
			    	<?php echo $this->render('/helpers/breadcrumb.phtml') ?>
			    </div>
			    <!-- /breadcrumbs line -->
 
			    <!-- Page header -->
			    <div class="page-header">
			    	<div class="page-title">
				    	<h5>Formulário do calendário escolar</h5>
				    	<span>Verifique os campos e preencha com os dados</span>
			    	</div>
			    </div>
			    <!-- /page header -->

			    <?php if (isset($this->crudMessage)) : ?>
					<div class="alert alert-success">
	                	<button data-dismiss="alert" class="close" type="button">×</button>
	                    <strong>Operação realizada com sucesso!</strong>
		    			<span><br /><?php echo $this->crudMessage ?></span>
	                </div>			    
			    <?php endif; ?>

				<form id="form" name="form" action="" method="post" class="form-horizontal" enctype="multipart/form-data"> 
					<input type="hidden" value="<?php echo (isset($this->post_var)) ? $this->post_var["id"] : ''; ?>" name="id" id="id" />
					
					<fieldset>
						<!-- General form elements -->
						<div class="widget row-fluid">
						    <div class="navbar">
						        <div class="navbar-inner">
						            <h6>Digite as informações do formulário</h6>
						        </div>
						    </div>

						    <div class="well">
								<?php if (isset($this->erros)) : ?>
									<div class="alert alert-error margin">
				                        <button data-dismiss="alert" class="close" type="button">×</button>
				                        <strong>Há erros no formulário!</strong>
					    				<?php foreach ($this->erros as $k=>$v) : ?>
					    					<span><br />- <?php echo $v ?></span>
					    				<?php endforeach;?>			                        
				                    </div>
			                    <?php endif; ?>						    
						    

				<div class="control-group" style="display: none;">
					<label class="control-label">Secretaria <span class="required">*</span></label>
					<div class="controls">
		                <select name="idsecretaria" data-placeholder="Secretaria" class="select">
							<option value="">Selecione...</option>
							<?php foreach (Secretarias::getSecretariasHelper(array('status'=>'Ativo')) as $k=>$v) : ?>
							<option value="<?php echo $v['id'] ?>"><?php echo $v['secretaria'] ?></option>
							<?php endforeach;?>
						</select>
						
					</div>
				</div>

				<?php  /*if($dadosUsuarioLogado['idperfil'] == 17 ) :  //17 coordenação ?>
					<div class="control-group">
						<label class="control-label">Escola <span class="required">*</span></label>
						<div class="controls">
							<select name="idescolaForm" data-placeholder="Escola" class="select">
								<option value="">Selecione...</option>
								<?php foreach (Escolas::getEscolasHelper(array('status'=>'Ativo')) as $k=>$v) : ?>
									<option value="<?= $v['id'] ?>"><?php echo $v['escola'] ?></option>
								<?php endforeach;?>
							</select>
						</div>
					</div>
				<?php else: ?>
					<input type="hidden" name="idescolaForm" value="<?= Funcionariosgeraisescolas::getFuncionariogeralescolaByIdHelper(Usuarios::getUsuario()['idfuncionario'])['idescola']  ?>">
				<?php endif;  */?>
 
				<div class="control-group">
					<label class="control-label">Ano <span class="required">*</span></label>
					<div class="controls"> 
					<input maxlength="500" placeholder="Ano" name="ano" value="<?php echo (isset($this->post_var['ano'])) ? $this->post_var['ano'] : '' ?>" type="text"  class="span3" />
					</div>
				</div>

				<div class="control-group">
					<label class="control-label">Título <span class="required">*</span></label>
					<div class="controls">
						<input maxlength="500" placeholder="Título" name="titulo" value="<?php echo (isset($this->post_var['titulo'])) ? $this->post_var['titulo'] : '' ?>" type="text"  class="span3" />
					</div>
				</div>

				<?php if(!empty($this->post_var['status'])) : //inicia após clicar em 'Salvar e continuar' 1?> 

					<div class="control-group">
						<label class="control-label">Calendario base <span class="required">*</span></label>
						<div class="controls">
							<?php if(empty($this->post_var['idcalendariobase'])) : ?>
								<select name="idcalendariobase" data-placeholder="Calendario base" class="select" onclick="setcalendardates(this)">
									<option value="">Selecione...</option>
									<?php foreach(Coordenacaocalendarios::getCoordenacaocalendariosHelper(array(/*'idescola' => $dadosUsuarioLogado['idescola'], se precisar liberar os proprios calendarios*/ 'idperfil' => 17)) as $calendario) : // 17 coordenacao ?>
										<option value="<?= $calendario['id'] ?>"><?php echo $calendario['titulo'] ?></option>
									<?php endforeach;?>
								</select>
								<input type="hidden" name="salvaidcalendariobase" value="1">
							<?php else :?>
								<?= Coordenacaocalendarios::getCoordenacaocalendarioByIdHelper($this->post_var['idcalendariobase'])['titulo'] ?>
								<input type="hidden" name="idcalendariobase" value="<?php echo $this->post_var['idcalendariobase'] ?>">
						    <?php endif;?>
						</div>
					</div>
  
					<div class="control-group">
						<label class="control-label">Primeiro bimestre início </label>
						<div class="controls"><input maxlength="500" placeholder="Primeiro bimestre início" name="primeirobimestreinicio" value="<?php echo (isset($this->post_var['primeirobimestreinicio'])) ? MN_Util::formPostVarData($this->post_var['primeirobimestreinicio']) : '' ?>" type="text"  class="span3" /></div>
					</div>

					<div class="control-group">
						<label class="control-label">Primeiro bimestre fim </label>
						<div class="controls"><input maxlength="500" placeholder="Primeiro bimestre início" name="primeirobimestrefim" value="<?php echo (isset($this->post_var['primeirobimestrefim'])) ? MN_Util::formPostVarData($this->post_var['primeirobimestrefim']) : '' ?>" type="text"  class="span3" /></div>
					</div>

					<div class="control-group">
						<label class="control-label">Segundo bimestre início </label>
						<div class="controls"><input maxlength="500" placeholder="Segundo bimestre início" name="segundobimestreinicio" value="<?php echo (isset($this->post_var['segundobimestreinicio'])) ? MN_Util::formPostVarData($this->post_var['segundobimestreinicio']) : '' ?>" type="text"  class="span3" /></div>
					</div>

					<div class="control-group">
						<label class="control-label">Segundo bimestre fim </label>
						<div class="controls"><input maxlength="500" placeholder="Segundo bimestre início" name="segundobimestrefim" value="<?php echo (isset($this->post_var['segundobimestrefim'])) ? MN_Util::formPostVarData($this->post_var['segundobimestrefim']) : '' ?>" type="text"  class="span3" /></div>
					</div>

					<div class="control-group">
						<label class="control-label">Terceiro bimestre início </label>
						<div class="controls"><input maxlength="500" placeholder="Terceiro bimestre início" name="terceirobimestreinicio" value="<?php echo (isset($this->post_var['terceirobimestreinicio'])) ? MN_Util::formPostVarData($this->post_var['terceirobimestreinicio']) : '' ?>" type="text"  class="span3" /></div>
					</div>

					<div class="control-group">
						<label class="control-label">Terceiro bimestre fim </label>
						<div class="controls"><input maxlength="500" placeholder="Terceiro bimestre início" name="terceirobimestrefim" value="<?php echo (isset($this->post_var['terceirobimestrefim'])) ? MN_Util::formPostVarData($this->post_var['terceirobimestrefim']) : '' ?>" type="text"  class="span3" /></div>
					</div>

					<div class="control-group">
						<label class="control-label">Quarto bimestre início </label>
						<div class="controls"><input maxlength="500" placeholder="Quarto bimestre início" name="quartobimestreinicio" value="<?php echo (isset($this->post_var['quartobimestreinicio'])) ? MN_Util::formPostVarData($this->post_var['quartobimestreinicio']) : '' ?>" type="text"  class="span3" /></div>
					</div>

					<div class="control-group">
						<label class="control-label">Quarto bimestre fim </label>
						<div class="controls"><input maxlength="500" placeholder="Quarto bimestre início" name="quartobimestrefim" value="<?php echo (isset($this->post_var['quartobimestrefim'])) ? MN_Util::formPostVarData($this->post_var['quartobimestrefim']) : '' ?>" type="text"  class="span3" /></div>
					</div>
				<?php endif; //FIM inicia após clicar em 'Salvar e continuar' 1 ?>

				<?php if(($this->getAction()=="editar") || ($this->getAction()=="visualizar")): ?>
				<div class="control-group">
					<div class="controls1">
	                        <table id="legenda" class="table table-content" border="0.1" style="border:1px solid #ccc">
	                        	<thead>
	                                	<?php 
	                                		$totalmaxcolunas = 4;
	                                		$countlinha = 0;
	                                		$totaltipo = Coordenacaocalendariostipos::getCoordenacaocalendariostiposHelper(array('status'=>'Ativo', 'total'=>true));
	                                		$total = ceil($totaltipo/$totalmaxcolunas);
	                                		$colspan_a = 'colspan="2"';
	                                		//$queries = array(), $page = 0, $maxpage = 0
	                                		for($ii=0; $ii<$total; $ii++): 
	                                			$rows = Coordenacaocalendariostipos::getCoordenacaocalendariostiposHelper(array('status'=>'Ativo'), $ii, $totalmaxcolunas);

	                                			if($totalmaxcolunas > sizeof($rows)){
	                                				

													$divisaocosl = floor($totalmaxcolunas/(sizeof($rows)));
													$verificad = $divisaocosl*(sizeof($rows));
													$diferenca = $totalmaxcolunas - $verificad;

	                                				
	                                			}

	                                			foreach ($rows as $ic => $rowtipo) :
		                                			if($totalmaxcolunas > sizeof($rows)){
		                                				if(sizeof($rows) == ($ic+1)){
		                                					$colspan_a = 'colspan="'.($divisaocosl+$diferenca).'"';
		                                				}else{
		                                					$colspan_a = 'colspan="'.$divisaocosl.'"';
		                                				}
		                                			}
	                                	?>			
		                                			<?php if($countlinha==0): ?>
					                                <tr>
				                                	<?php endif; 

	                                				$countlinha = $countlinha + 1;
				                                	?>
				                                	<?php if($this->getAction()=="editar"):?>
					                                    <th align="center" <?php echo (sizeof($rows) < $totalmaxcolunas) ? $colspan_a:'' ?>>
					                                    	<?php echo $rowtipo['tipo'] ?>
					                                    	<div class="box-color" style="background-color:<?php echo ($rowtipo['cor']) ? $rowtipo['cor'] : '#000' ?>" onclick="setTipo('<?php echo $rowtipo['id'] ?>')">
					                                    		<?php echo $rowtipo['sigla'] ?>
					                                    	</div>
					                                    </th>
			                                		<?php else: ?>
					                                    <th align="center" <?php echo (sizeof($rows) < $totalmaxcolunas) ? $colspan_a:'' ?>>
					                                    	<?php echo $rowtipo['tipo'] ?>
					                                    	<div class="box-color" style="background-color:<?php echo ($rowtipo['cor']) ? $rowtipo['cor'] : '#000' ?>">
					                                    		<?php echo $rowtipo['sigla'] ?>
					                                    	</div>
					                                    </th>
		                                			<?php endif; ?>

				                                    <?php ?>
		                                			<?php if(($countlinha)==sizeof($rows) ): 
		                                				//die('aqui');
	                                					$countlinha = 0;
		                                			?>
				                                    </tr>
				                                	<?php endif; 
			                                	endforeach;?>
	                                    <?php 
	                                    	endfor;
	                                    ?>
                                </thead>
	                        </table>

	                        <?php if($this->getAction()=="editar"):?>
							<table id="box-selecionado" class="table table-content" border="0.1" style="border:1px solid #ccc">
								<tbody>
	                                <tr>
	                                    <td align="center" style="text-align:center;">
	                                    	Tipo Selecionado
	                                    	<input type="hidden" class="idtiposelecionado" name="idtiposelecionado" value="" />
	                                    </td>
	                                </tr>
	                                <tr>
	                                    <td align="center" class="box-selecionado" style="text-align:center;">

	                                    </td>
	                                </tr>
								</tbody>
							</table>
							<?php endif; ?>
					</div>
					<br /><br />
					<div id="calendarioescolar" class="control-group1">
	                        <table class="table table-content" border="0.1" style="border:1px solid #ccc">
								<tbody>
									<?php $totaldias_count = 0; ?>
									<?php for($i=0; $i<=12; $i++): ?>
												<?php $diaseventos = 0; ?>
										<?php if($i>0): ?>
			                                <tr>
			                                    <td align="center"><?php echo Mn_Util::getMeses($i) ?></td>
			                                    <?php for($j=1; $j<=31; $j++): ?>

<?php 		
			$dia = ($i<10) ? '0' . $i : $i;
			$mes = ($j<10) ? '0' . $j : $j;
			$data = $this->post_var['ano'] . "-" . $dia . "-" . $mes;
			
			$queriestiposdiasverifica = array();
			$queriestiposdiasverifica['data_i'] = date("Y-m-d", strtotime($data));
			$queriestiposdiasverifica['data_f'] = date("Y-m-d", strtotime($data));
			$queriestiposdiasverifica['idcalendario'] = $this->post_var['id'];
			$queriestiposdiasverifica['dialetivo'] = 'Sim';
			//$queriestiposdiasverifica['die'] = 'true';

			$coordenacaocalendariosdias = new Coordenacaocalendariosdias();
			$coordenacaocalendariodia = $coordenacaocalendariosdias->getCoordenacaocalendariosdias($queriestiposdiasverifica);
			
			if(sizeof($coordenacaocalendariodia)>0) {
				$diaseventos = $diaseventos + 1;
			}













			$escolasconfiguracoes = Escolasconfiguracoes::getEscolasconfiguracoesHelper(array('status'=>'Ativo', 'order'=>'ORDER BY e1.id ASC'));

			$total1bimestre = 0;
			$total2bimestre = 0;
			$total3bimestre = 0;
			$total4bimestre = 0;

			$total1semestre = 0;
			$total2semestre = 0;

			$totaldiasletivos = 0;
			$_row_a = array();
			
			if(sizeof($escolasconfiguracoes) > 0): 
				$_row_a = $escolasconfiguracoes[0]; 


				$queriestiposdiasverifica_mes = array();
				$queriestiposdiasverifica_mes['data_i'] = date("Y-m", strtotime($this->post_var['primeirobimestreinicio']));
				$queriestiposdiasverifica_mes['data_f'] = date("Y-m", strtotime($this->post_var['primeirobimestrefim']));
				$queriestiposdiasverifica_mes['idcalendario'] = $this->post_var['id'];
				$queriestiposdiasverifica_mes['dialetivo'] = 'Sim';
				$queriestiposdiasverifica_mes['total'] = true;

				$coordenacaocalendariomes = $coordenacaocalendariosdias->getCoordenacaocalendariosdias($queriestiposdiasverifica_mes);




				$queriestiposdiasverifica_bimestre = array();
				$queriestiposdiasverifica_bimestre['data_i'] = date("Y-m-d", strtotime($this->post_var['primeirobimestreinicio']));
				$queriestiposdiasverifica_bimestre['data_f'] = date("Y-m-d", strtotime($this->post_var['primeirobimestrefim']));
				$queriestiposdiasverifica_bimestre['idcalendario'] = $this->post_var['id'];
				$queriestiposdiasverifica_bimestre['dialetivo'] = 'Sim';
				$queriestiposdiasverifica_bimestre['total'] = true;

				$coordenacaocalendariodiabim1 = $coordenacaocalendariosdias->getCoordenacaocalendariosdias($queriestiposdiasverifica_bimestre);





				$queriestiposdiasverifica_bimestre = array();
				$queriestiposdiasverifica_bimestre['data_i'] = date("Y-m-d", strtotime($this->post_var['segundobimestreinicio']));
				$queriestiposdiasverifica_bimestre['data_f'] = date("Y-m-d", strtotime($this->post_var['segundobimestrefim']));
				$queriestiposdiasverifica_bimestre['idcalendario'] = $this->post_var['id'];
				$queriestiposdiasverifica_bimestre['dialetivo'] = 'Sim';
				$queriestiposdiasverifica_bimestre['total'] = true;

				$coordenacaocalendariodiabim2 = $coordenacaocalendariosdias->getCoordenacaocalendariosdias($queriestiposdiasverifica_bimestre);








				$queriestiposdiasverifica_bimestre = array();
				$queriestiposdiasverifica_bimestre['data_i'] = date("Y-m-d", strtotime($this->post_var['terceirobimestreinicio']));
				$queriestiposdiasverifica_bimestre['data_f'] = date("Y-m-d", strtotime($this->post_var['terceirobimestrefim']));
				$queriestiposdiasverifica_bimestre['idcalendario'] = $this->post_var['id'];
				$queriestiposdiasverifica_bimestre['dialetivo'] = 'Sim';
				$queriestiposdiasverifica_bimestre['total'] = true;

				$coordenacaocalendariodiabim3 = $coordenacaocalendariosdias->getCoordenacaocalendariosdias($queriestiposdiasverifica_bimestre);









				$queriestiposdiasverifica_bimestre = array();
				$queriestiposdiasverifica_bimestre['data_i'] = date("Y-m-d", strtotime($this->post_var['quartobimestreinicio']));
				$queriestiposdiasverifica_bimestre['data_f'] = date("Y-m-d", strtotime($this->post_var['quartobimestrefim']));
				$queriestiposdiasverifica_bimestre['idcalendario'] = $this->post_var['id'];
				$queriestiposdiasverifica_bimestre['dialetivo'] = 'Sim';
				$queriestiposdiasverifica_bimestre['total'] = true;

				$coordenacaocalendariodiabim4 = $coordenacaocalendariosdias->getCoordenacaocalendariosdias($queriestiposdiasverifica_bimestre);


				$total1bimestre = $coordenacaocalendariodiabim1;
				$total2bimestre = $coordenacaocalendariodiabim2;
				$total3bimestre = $coordenacaocalendariodiabim3;
				$total4bimestre = $coordenacaocalendariodiabim4;

				$total1semestre = $coordenacaocalendariodiabim1 + $coordenacaocalendariodiabim2;
				$total2semestre = $coordenacaocalendariodiabim3 + $coordenacaocalendariodiabim4;

				$totaldiasletivos = $total1bimestre + $total2bimestre + $total3bimestre + $total4bimestre;

			endif;
?>

													<?php if($this->getAction()=="editar"):?>
				                                    	<td align="center" class="click box_<?php echo $i ?>_<?php echo $j ?>" onclick="setDia('<?php echo $i ?>', '<?php echo $j ?>')">

															<div class="branco"></div>
				                                    	</td>
													<?php else: ?>
				                                    	<td align="center" class="click box_<?php echo $i ?>_<?php echo $j ?>">

															<div class="branco"></div>
				                                    	</td>
													<?php endif; ?>


			                                    <?php endfor; ?>
			                                    <td><?php echo $diaseventos ?></td>
			                                </tr>
			                            <?php else: ?>
			                                <tr>
			                                    <td>&nbsp;</td>
			                                    <?php for($j=1; $j<=31; $j++): ?>
			                                    	<td align="center"><?php echo $j ?></td>
			                                    <?php endfor; ?>
			                                    <td align="center">Dias letivos</td>
			                                </tr>

			                        	<?php endif;?>
			                        	<?php $totaldias_count = $totaldias_count + $diaseventos; ?>
	                            <?php endfor; ?>
			                                <tr>
			                                    <td>&nbsp;</td>
			                                    
		                                    	<td align="right" colspan="31">Total de dias letivos: </td>
			                                    
			                                    <td align="center"><?php echo $totaldiasletivos ?></td>
			                                </tr>
	                            </tbody>
	                        </table>
					</div>
				</div>
				<?php endif;?>

				<?php if(!empty($this->post_var['status'])) : //inicia após clicar em 'Salvar e continuar' 2 ?> 
					<div class="control-group">

						<div class="controls1" style="width:48%; padding:0 1%; float:left;">
							<table class="table table-content" border="0.1" style="border:1px solid #ccc">
									<thead>
											<?php 
												$totalmaxcolunas = 4;
												$countlinha = 0;
												$totaltipo = Coordenacaocalendariostipos::getCoordenacaocalendariostiposHelper(array('status'=>'Ativo', 'total'=>true));
												$total = ceil($totaltipo/$totalmaxcolunas);
												$colspan_a = 'colspan="2"';
												//$queries = array(), $page = 0, $maxpage = 0
												for($ii=0; $ii<$total; $ii++): 
													$rows = Coordenacaocalendariostipos::getCoordenacaocalendariostiposHelper(array('status'=>'Ativo'), $ii, $totalmaxcolunas);

													if($totalmaxcolunas > sizeof($rows)){
														

														$divisaocosl = floor($totalmaxcolunas/(sizeof($rows)));
														$verificad = $divisaocosl*(sizeof($rows));
														$diferenca = $totalmaxcolunas - $verificad;

														
													}

													foreach ($rows as $ic => $rowtipo) :
														if($totalmaxcolunas > sizeof($rows)){
															if(sizeof($rows) == ($ic+1)){
																$colspan_a = 'colspan="'.($divisaocosl+$diferenca).'"';
															}else{
																$colspan_a = 'colspan="'.$divisaocosl.'"';
															}
														}
											?>			
														<?php if($countlinha==0): ?>
														<tr>
														<?php endif; 

														$countlinha = $countlinha + 1;
														?>

														<?php if($this->getAction()=="editar"):?>
															<th align="center" <?php echo (sizeof($rows) < $totalmaxcolunas) ? $colspan_a:'' ?>>
																<?php echo $rowtipo['tipo'] ?>
																<div class="box-color" style="background-color:<?php echo ($rowtipo['cor']) ? $rowtipo['cor'] : '#000' ?>; height: 40px;line-height: 40px;text-align: center; color:#FFF" onclick="setTipo('<?php echo $rowtipo['id'] ?>')">
																	<?php echo $rowtipo['sigla'] ?>
																</div>
															</th>
														<?php else: ?>
															<th align="center" <?php echo (sizeof($rows) < $totalmaxcolunas) ? $colspan_a:'' ?>>
																<?php echo $rowtipo['tipo'] ?>
																<div class="box-color" style="background-color:<?php echo ($rowtipo['cor']) ? $rowtipo['cor'] : '#000' ?>; height: 40px;line-height: 40px;text-align: center; color:#FFF">
																	<?php echo $rowtipo['sigla'] ?>
																</div>
															</th>
														<?php endif; ?>

														<?php ?>
														<?php if(($countlinha)==sizeof($rows) ): 
															//die('aqui');
															$countlinha = 0;
														?>
														</tr>
														<?php endif; 
													endforeach;?>
											<?php 
												endfor;
											?>
									</thead>
								</table>
							</div>

						<div class="controls1" style="width:48%; padding:0 1%; float:left;">
								<table class="table table-content" border="0.1" style="border:1px solid #ccc" width="100%">
									<thead>
										<tr>
											<td align="center"; style="text-align: center;">Bimestre</td>
											<td align="center"; style="text-align: center;">Dias</td>
										</tr>
									</thead>
								
									<tbody>
										<?php $escolasconfiguracoes = Escolasconfiguracoes::getEscolasconfiguracoesHelper(array('status'=>'Ativo', 'order'=>'ORDER BY e1.id ASC'));

										$_row = array();






										
										if(sizeof($escolasconfiguracoes) > 0): 
											$_row = $escolasconfiguracoes[0]; ?>

										<tr>
											<td align="center">
												1º Bimestre - <?php echo Mn_Util::formPostVarData($this->post_var['primeirobimestreinicio']) ?> - <?php echo Mn_Util::formPostVarData($this->post_var['primeirobimestrefim']) ?>
											</td>

											<td align="center">
												<?php echo (isset($total1bimestre)) ? $total1bimestre : '' ?>
											</td>
										</tr>

										<tr>
											<td align="center">
												2º Bimestre - <?php echo Mn_Util::formPostVarData($this->post_var['segundobimestreinicio']) ?> - <?php echo Mn_Util::formPostVarData($this->post_var['segundobimestrefim']) ?>
											</td>

											<td align="center">
												<?php echo (isset($total2bimestre)) ? $total2bimestre : '' ?>
											</td>
										</tr>

										<tr>
											<td align="center">
												3º Bimestre - <?php echo Mn_Util::formPostVarData($this->post_var['terceirobimestreinicio']) ?> - <?php echo Mn_Util::formPostVarData($this->post_var['terceirobimestrefim']) ?>
											</td>

											<td align="center">
												<?php echo (isset($total3bimestre)) ? $total3bimestre : '' ?>
											</td>
										</tr>

										<tr>
											<td align="center">
												4º Bimestre - <?php echo Mn_Util::formPostVarData($this->post_var['quartobimestreinicio']) ?> - <?php echo Mn_Util::formPostVarData($this->post_var['quartobimestrefim']) ?>
											</td>

											<td align="center">
												<?php echo (isset($total4bimestre)) ? $total4bimestre : '' ?>
											</td>
										</tr>

										<tr>
											<td align="center">
												1º Semestre
											</td>

											<td align="center">
												<?php echo (isset($total1semestre)) ? $total1semestre : '' ?>
											</td>
										</tr>

										<tr>
											<td align="center">
												2º Semestre
											</td>

											<td align="center">
												<?php echo (isset($total2semestre)) ? $total2semestre : '' ?>
											</td>
										</tr>

										<tr>
											<td align="center">
												Total:
											</td>

											<td align="center">
												<?php echo (isset($totaldiasletivos)) ? $totaldiasletivos : '' ?>
											</td>
										</tr>

									



										<?php endif; ?>
									</tbody>
								</table>
						</div>
						<br clear="all" />
					</div>
			    <?php endif; //FIM inicia após clicar em 'Salvar e continuar' 2 ?>								
				<div class="control-group">
					<label class="control-label">Status <span class="required">*</span></label>
					<div class="controls">
						<select name="status1" data-placeholder="Status" class="select">
							<option value="">Selecione...</option>
							<option value="Ativo">Ativo</option><option value="Bloqueado">Bloqueado</option>
						</select>
						
					</div>
				</div>

						    
						    
						    </div>
						    
			                <div class="form-actions align-right">
			                	<?php if ((isset($this->visualizar)) && ($this->visualizar)) : ?>
			                		<button onclick="window.history.back()" class="btn btn-danger cancelar" type="button">Voltar</button>
			                	<?php else : ?>
			                		<?php if($this->getAction()=="editar"): ?>
			                			<button class="btn btn-primary enviar" type="submit">Salvar</button>
		                			<?php else:?>
				                	<button class="btn btn-primary enviar" type="submit">Salvar e continuar</button>
				                	<?php endif;?>
				                	<button onclick="window.history.back()" class="btn btn-danger cancelar" type="button">Cancelar</button>
			                	<?php endif; ?>
			                </div>
						</div>
						<!-- /general form elements -->

					</fieldset> 

				</form>
				<!-- /basic inputs -->

		    </div>
		    <!-- /content wrapper -->

		</div>
		<!-- content -->
				

<script type="text/javascript">

$(document).ready(function() {
	visualizar = <?php echo  ((isset($this->visualizar)) && ($this->visualizar))  ? 'true' : 'false' ?>;
	<?php foreach ($this->eventosdias as $ir => $rowdia) : ?>
		<?php 

			$data = $rowdia["data"];

			$queriestiposdias = array();
			$queriestiposdias['data_i'] = date("Y-m-d", strtotime($data));
			$queriestiposdias['data_f'] = date("Y-m-d", strtotime($data));
			$queriestiposdias['idcalendario'] = $this->post_var['id'];
			$coordenacaocalendariosdias = new Coordenacaocalendariosdias();
			$coordenacaocalendariodia = $coordenacaocalendariosdias->getCoordenacaocalendariosdias($queriestiposdias);
			$rowsdias = $coordenacaocalendariodia;

			$queriestiposdias['total'] = true;
			$totaldias = $coordenacaocalendariosdias->getCoordenacaocalendariosdias($queriestiposdias);

			$totaltipos = (int)$totaldias;
			if($totaltipos<=0) $totaltipos = 1;
			$totaldiv = 40;
			$divisao = $totaldiv/$totaltipos;
			$divisao = floor($divisao);
			$sobra = $totaldiv - ($divisao*$totaltipos);
			$widthinicial = $divisao + $sobra;

		?>
		var html_evento = '';
		<?php foreach ($rowsdias as $id => $dia) : ?>
		html_evento += '<div class="box-color" style="background-color:<?php echo ($dia['cor']) ? $dia['cor'] : '#000' ?>; width:<?php echo ($id==0) ? $widthinicial : $divisao ?>px; height:40px; text-align: center; color:#FFF; line-height: 40px; cursor:pointer; margin: 0 auto; float:left;"><?php if($totaltipos>1) : ?>&nbsp;<?php else: ?><?php echo $dia['sigla'] ?><?php endif; ?></div>';


		$('.box_<?php echo (int)date("m", strtotime($dia["data"])) ?>_<?php echo (int)date("d", strtotime($dia["data"])) ?>').html(html_evento);
		<?php endforeach; ?>
	<?php endforeach; ?>
});
	var form_values = {};
	
	<?php if (isset($this->post_var)) :  ?>
		form_values.idsecretaria = '<?php echo (isset($this->post_var['idsecretaria'])) ? $this->post_var['idsecretaria'] : '' ?>';

 

form_values.status1 = '<?php echo (isset($this->post_var['status1'])) ? $this->post_var['status1'] : $this->post_var['status'] ?>';

form_values.idescolaForm = '<?php echo (isset($this->post_var['idescolaForm'])) ? $this->post_var['idescolaForm'] : '' ?>';

	<?php endif; ?>

	visualizar = <?php echo  ((isset($this->visualizar)) && ($this->visualizar))  ? 'true' : 'false' ?>;

</script>
<script type="text/javascript" src="<?php echo $this->baseUrl('/public/scripts/admin/coordenacaocalendarios_form.js') ?>"></script>