<?php 
	$totaltipos = (int)$this->total;
	if($totaltipos<=0) $totaltipos = 1;
	$totaldiv = 40;
	$divisao = $totaldiv/$totaltipos;
	$divisao = floor($divisao);
	$sobra = $totaldiv - ($divisao*$totaltipos);
	$widthinicial = $divisao + $sobra;
?>

<?php if(sizeof($this->rows) > 0): ?>
	<?php foreach($this->rows as $i=>$row): ?>
	<div class="box-color" style="background-color:<?php echo ($row['cor']) ? $row['cor'] : '#000' ?>; width:<?php echo ($i==0) ? $widthinicial : $divisao ?>px; height:40px; text-align: center; color:#FFF; line-height: 40px; cursor:pointer; margin: 0 auto; float:left;">
		<?php if($totaltipos>1) : ?>
			&nbsp;
		<?php else: ?>
			<?php echo $row['sigla'] ?>
		<?php endif; ?>
	</div>
	<?php endforeach;?>
<?php else: ?>	
	<div class="branco"></div>
<?php endif; ?>