<?php 
	include_once BASE_PATH . '/public/scripts/ckeditor/ckeditor.php';
	require_once BASE_PATH . '/public/scripts/ckfinder/ckfinder.php';
	
	$ckeditor = new CKEditor();
	$ckeditor->basePath	= $this->baseUrl('/public/scripts/ckeditor/');
	
	$ckfinder = $this->baseUrl('/public/scripts/ckfinder/');
	
	CKFinder::SetupCKEditor($ckeditor, $ckfinder);
?>

<!-- Content -->
		<div id="content">

		    <!-- Content wrapper -->
		    <div class="wrapper">

			    <!-- Breadcrumbs line -->
			    <div class="crumbs">
			    	<?php echo $this->render('/helpers/breadcrumb.phtml') ?>
			    </div>
			    <!-- /breadcrumbs line -->

			    <!-- Page header -->
			    <div class="page-header">
			    	<div class="page-title">
				    	<h5>Formulário do Of&iacute;cio</h5>
				    	<span>Verifique os campos e preencha com os dados</span>
			    	</div>
			    </div>
			    <!-- /page header -->

			    <?php if (isset($this->crudMessage)) : ?>
					<div class="alert alert-success">
	                	<button data-dismiss="alert" class="close" type="button">×</button>
	                    <strong>Operação realizada com sucesso!</strong>
		    			<span><br /><?php echo $this->crudMessage ?></span>
	                </div>			    
			    <?php endif; ?>

				<form id="form" name="form" action="" method="post" class="form-horizontal" enctype="multipart/form-data"> 
					<input type="hidden" value="<?php echo (isset($this->post_var)) ? $this->post_var["id"] : ''; ?>" name="id" id="id" />
					
					<fieldset>
						<!-- General form elements -->
						<div class="widget row-fluid">
						    <div class="navbar">
						        <div class="navbar-inner">
						            <h6>Digite as informações do formulário</h6>
						        </div>
						    </div>

						    <div class="well">
								<?php if (isset($this->erros)) : ?>
									<div class="alert alert-error margin">
				                        <button data-dismiss="alert" class="close" type="button">×</button>
				                        <strong>Há erros no formulário!</strong>
					    				<?php foreach ($this->erros as $k=>$v) : ?>
					    					<span><br />- <?php echo $v ?></span>
					    				<?php endforeach;?>			                        
				                    </div>
			                    <?php endif; ?>						    
						    

				<div class="control-group">
					<label class="control-label">Data de Lançamento</label>
                                        <div class="controls"><input placeholder="Data de Lançamento" name="datalancamento" <?php echo ((in_array($this->post_var['status'],array('Aprovado','Finalizado')))? 'readonly': '' ) ?> value="<?php echo (isset($this->post_var['datalancamento'])) ? Mn_Util::formPostVarData($this->post_var['datalancamento']) : '' ?>" type="text"  class="span3" /></div>
				</div>


				<div class="control-group">
					<label class="control-label">Tipo <span class="required">*</span></label>
					<div class="controls">
                                                <?php if(!in_array($this->post_var['status'], array('Encaminhado', 'Processado', 'Aprovado', 'Finalizado'))) : ?>
                                                        <select name="idtipo" data-placeholder="Tipo" class="select" >
                                                                <option value="">Selecione...</option>
                                                                <?php foreach (Juridicostipos::getJuridicostiposHelper(array('status'=>'Ativo')) as $k=>$v) : ?>
                                                                <option value="<?php echo $v['id'] ?>"><?php echo $v['tipo'] ?></option>
                                                                <?php endforeach;?>
                                                        </select>
                                                <?php else :?>
                                                        <?php foreach (Juridicostipos::getJuridicostiposHelper(array('status'=>'Ativo')) as $k=>$v) : ?>
                                                                <?php if($v['id'] == (int)$this->post_var['idtipo']): ?>
                                                                        <input maxlength="500" name="idtipo" type="hidden" value="<?php echo $v['id'] ?>" />
                                                                        <input maxlength="500" placeholder="Tipo" readonly value="<?php echo $v['tipo'] ?>" type="text" class="span3" />
                                                                <?php endif ?>
                                                        <?php endforeach;?>
                                                <?php endif ?>
					</div>
				</div>


				<div class="control-group">
					<label class="control-label">Num. de controle do orgão <span class="required">*</span></label>
					<div class="controls"><input maxlength="500" placeholder="Num. de controle do orgão" name="numero" <?php echo ((in_array($this->post_var['status'],array('Aprovado','Finalizado')))? 'readonly': '' ) ?> value="<?php echo (isset($this->post_var['numero'])) ? $this->post_var['numero'] : '' ?>" type="text"  class="span3" /></div>
				</div>


				<div class="control-group">
					<label class="control-label">Título <span class="required">*</span></label>
					<div class="controls"><input maxlength="500" placeholder="Título" name="titulo" <?php echo ((in_array($this->post_var['status'],array('Aprovado','Finalizado')))? 'readonly': '' ) ?> value="<?php echo (isset($this->post_var['titulo'])) ? $this->post_var['titulo'] : '' ?>" type="text"  class="span3" /></div>
				</div>


				<div class="control-group">
					<label class="control-label">Num. OF </label>
					<div class="controls"><input maxlength="500" placeholder="Num. OF" name="numeroof" <?php echo ((in_array($this->post_var['status'],array('Aprovado','Finalizado')))? 'readonly': '' ) ?> value="<?php echo (isset($this->post_var['numeroof'])) ? $this->post_var['numeroof'] : '' ?>" type="text"  class="span3" /></div>
				</div>


				<div class="control-group">
					<label class="control-label">Data OF</label>
					<div class="controls"><input placeholder="Data OF" name="dataof" <?php echo ((in_array($this->post_var['status'],array('Aprovado','Finalizado')))? 'readonly': '' ) ?> value="<?php echo (isset($this->post_var['dataof'])) ? Mn_Util::formPostVarData($this->post_var['dataof']) : '' ?>" type="text"  class="span3" /></div>
				</div>


				<div class="control-group">
					<label class="control-label">Proc </label>
					<div class="controls"><input maxlength="500" placeholder="Proc" <?php echo ((in_array($this->post_var['status'],array('Aprovado','Finalizado')))? 'readonly': '' ) ?> name="proc" value="<?php echo (isset($this->post_var['proc'])) ? $this->post_var['proc'] : '' ?>" type="text"  class="span3" /></div>
				</div>


				<div class="control-group">
					<label class="control-label">Data proc</label>
					<div class="controls"><input placeholder="Data proc" name="dataproc" <?php echo ((in_array($this->post_var['status'],array('Aprovado','Finalizado')))? 'readonly': '' ) ?> value="<?php echo (isset($this->post_var['dataproc'])) ? Mn_Util::formPostVarData($this->post_var['dataproc']) : '' ?>" type="text"  class="span3" /></div>
				</div>


				<div class="control-group">
					<label class="control-label">Documento Original </label>
					<div class="controls">
						<?php if ((isset($this->post_var['iddocumentooriginal'])) && ((int)$this->post_var['iddocumentooriginal']>0)) : ?>
							<?php echo $this->getArquivo($this->post_var['iddocumentooriginal']) ?>
						
							<?php if ((!$this->visualizar) && (!in_array($this->post_var['status'], array('Aprovado')))) : ?>
								<div class="checkbox block">
									<label><input type="checkbox" name="excluir_iddocumentooriginal" value="excluir" /> Desejo excluir o arquivo</label>
								</div>
							<?php endif; ?>
						<?php endif; ?>
                                                <?php if(!in_array($this->post_var['status'], array('Processado','Aprovado', 'Finalizado'))) :?>
                                                    <input placeholder="Documento Original" name="iddocumentooriginal" type="file"  />
                                                <?php endif;?>
						
					</div>
				</div>	
                                <!--Comunicado Interno - Juridico-->                        
                                <?php if ( in_array($this->post_var['status'], array('Processado','Aprovado', 'Finalizado'))) :  ?>
                                        <div class="control-group" >
                                                <label class="control-label">Comunicado Interno - Jur&iacute;dico</label>
                                                <div class="controls">
                                                    <?php if (!$this->visualizar) : ?>
                                                        <input type="radio" id='encaminhado_sim' name="cienvioflag" value="sim" <?php echo ($this->post_var['cienvioflag'] == 'sim') ? 'checked' : '' ?> <?php echo (in_array($this->post_var['status'], array('Aprovado', 'Finalizado'))) ? 'readonly' : 'onchange="setEncaminharCI(this)"' ?>  /> Sim <br />
                                                        <input type="radio" id='encaminhado_nao' name="cienvioflag" value="nao" <?php echo ($this->post_var['cienvioflag'] == 'nao') ? 'checked' : '' ?> <?php echo (in_array($this->post_var['status'], array('Aprovado', 'Finalizado'))) ? 'readonly' : 'onchange="setEncaminharCI(this)"' ?>  /> N&atilde;o
                                                    <?php else : ?>
                                                        <?php echo ($this->post_var['cienvioflag'] == 'sim') ? "* Sim <br> N&atilde;o" : "Sim <br> * N&atilde;o" ?>
                                                        <?php echo "<script> window.onload = function() { setExibir('",$this->post_var['cienvioflag'],"','",$this->post_var['ciretornoflag'],"'); }; </script>" ?>
                                                    <?php endif ?>                                                         
                                                </div>
                                        </div>	
                                        <div class="content-campos-cienvio control-group" style="display:none;">                                                        
                                                <label class="control-label">CI - Jur&iacute;dico</label>
                                                <div class="controls" >
                                                    <textarea class="span12" <?php if (((isset($this->visualizar)) && ($this->visualizar)) || ((in_array($this->post_var['status'], array('Aprovado','Finalizado' )))) ) { echo 'readonly';} ?>  name="cienvio" cols="5" rows="5"><?php echo (isset($this->post_var)) ? $this->post_var["cienvio"] : ''; ?></textarea>
                                                </div>
                                                <div class="controls">
                                                        <input name="cienvionodt" type="hidden" value="<?php echo (isset($this->post_var['cienviodt'])) ? Mn_Util::formPostVarData($this->post_var['cienviodt']) : date('d/m/Y G:i:s') ?>" type="text"  class="span3" />
                                                </div>
                                                <div class="controls">
                                                        <?php if ((isset($this->post_var['idimgcienvio'])) && ((int)$this->post_var['idimgcienvio']>0)) : ?>
                                                                <?php echo $this->getArquivo($this->post_var['idimgcienvio']) ?>

                                                                <?php if ((!$this->visualizar) && ($this->post_var['status'] !== 'Aprovado')) : ?>
                                                                        <div class="checkbox block">
                                                                                <label><input type="checkbox" name="excluir_idimgcienvio" value="excluir" /> Desejo excluir o arquivo</label>
                                                                        </div>
                                                                <?php endif; ?>
                                                        <?php endif; ?>
                                                        <?php if (!in_array($this->post_var['status'], array('Processado', 'Aprovado', 'Finalizado'))) : ?>
                                                                <input placeholder="Documento Original" name="idimgcienvio" type="file"  />
                                                        <?php endif;?>
                                                </div>
                                        </div>
                                <?php endif; ?>						
                                <!--FIM - Comunicado Interno - Juridico-->                        

                                <!--Comunicado Interno - Educacao-->
                                <?php if (in_array($this->post_var['status'], array('Aprovado', 'Finalizado'))) : ?>
                                        <div class="control-group">
                                            <label class="control-label">Comunicado Interno - Educa&ccedil;&atilde;o</label>
                                                <div class="controls" >
                                                    <?php if (!$this->visualizar) : ?>
                                                        <input type="radio" id='retornado_sim' name="ciretornoflag" value="sim" <?php echo ($this->post_var['ciretornoflag'] == 'sim') ? 'checked' : '' ?> <?php echo ($this->post_var['ciretornoflag'] == 'sim') ? 'checked' : '' ?> <?php echo (in_array($this->post_var['status'], array('Finalizado', 'Encaminhado', 'Processado'))) ? 'readonly' : 'onchange="setRetornarCI(this)"' ?> /> Sim <br />
                                                        <input type="radio" id='retornado_nao' name="ciretornoflag" value="nao" <?php echo ($this->post_var['ciretornoflag'] == 'nao') ? 'checked' : '' ?> <?php echo ($this->post_var['ciretornoflag'] == 'nao') ? 'checked' : '' ?> <?php echo (in_array($this->post_var['status'], array('Finalizado', 'Encaminhado', 'Processado'))) ? 'readonly' : 'onchange="setRetornarCI(this)"' ?> /> N&atilde;o
                                                    <?php else : ?>
                                                        <?php echo ($this->post_var['ciretornoflag'] == 'sim') ? "* Sim <br> N&atilde;o" : "Sim <br> * N&atilde;o" ?>
                                                        <?php echo "<script> window.onload = function() { setExibir('",$this->post_var['cienvioflag'],"','",$this->post_var['ciretornoflag'],"'); }; </script>" ?>
                                                    <?php endif ?>                                                        
                                                </div>
                                        </div>	
                                        <div class="content-campos-ciretorno control-group" style="display:none;">                                                        
                                                <label class="control-label">CI - Educa&ccedil;&atilde;o</label>
                                                <div class="controls" >
                                                        <textarea class="span12" <?php if (((isset($this->visualizar)) && ($this->visualizar)) || ((in_array($this->post_var['status'],array('Finalizado')))? 'readonly': '' )) { echo 'readonly';} ?> name="ciretorno" cols="5" rows="5"><?php echo (isset($this->post_var)) ? $this->post_var["ciretorno"] : ''; ?></textarea>
                                                </div>
                                                <div class="controls">
                                                        <input name="ciretornodt" type="hidden" readonly value="<?php echo (isset($this->post_var['ciretornodt'])) ? Mn_Util::formPostVarData($this->post_var['ciretornodt']) : date('d/m/Y G:i:s') ?>" type="text"  class="span3" />
                                                </div>
                                                <div class="controls">
                                                        <?php if ((isset($this->post_var['idimgciretorno'])) && ((int)$this->post_var['idimgciretorno']>0)) : ?>
                                                                <?php echo $this->getArquivo($this->post_var['idimgciretorno']) ?>

                                                                <?php if (!$this->visualizar) : ?>
                                                                        <div class="checkbox block">
                                                                                <label><input type="checkbox" name="excluir_idimgciretorno" value="excluir" /> Desejo excluir o arquivo</label>
                                                                        </div>
                                                                <?php endif; ?>
                                                        <?php endif; ?>
                                                        <?php if ($this->post_var['status'] === 'Aprovado') : ?>
                                                            <input placeholder="Documento Original" name="idimgciretorno" type="file"  />
                                                        <?php endif; ?>

                                                </div>
                                        </div>
                                        
                                        <?php if ($this->post_var['status'] !== 'Aprovado') : ?>                                                        
                                                <div class="control-group">
                                                        <label class="control-label">Num. Oficio de reinteração </label>
                                                        <div class="controls"><input maxlength="500" placeholder="Num. Oficio de reinteração" name="numeroreinteracao" <?php echo ((in_array($this->post_var['status'],array('Aprovado','Finalizado')))? 'readonly': '' ) ?> value="<?php echo (isset($this->post_var['numeroreinteracao'])) ? $this->post_var['numeroreinteracao'] : '' ?>" type="text"  class="span3" /></div>
                                                </div>


                                                <div class="control-group">
                                                        <label class="control-label">Data de reinteração</label>
                                                        <div class="controls"><input placeholder="Data de reinteração" name="datareinteracao" <?php echo ((in_array($this->post_var['status'],array('Aprovado','Finalizado')))? 'readonly': '' ) ?> value="<?php echo (isset($this->post_var['datareinteracao'])) ? Mn_Util::formPostVarData($this->post_var['datareinteracao']) : '' ?>" type="text"  class="span3" /></div>
                                                </div>


                                                <div class="control-group">
                                                        <label class="control-label">Data da devolução</label>
                                                        <div class="controls"><input placeholder="Data da devolução" name="datadevolucao" <?php echo ((in_array($this->post_var['status'],array('Aprovado','Finalizado')))? 'readonly': '' ) ?> value="<?php echo (isset($this->post_var['datadevolucao'])) ? Mn_Util::formPostVarData($this->post_var['datadevolucao']) : '' ?>" type="text"  class="span3" /></div>
                                                </div>


                                                <div class="control-group">
                                                        <label class="control-label">Posição </label>
                                                        <div class="controls"><textarea class="span12" name="posicao" <?php echo ((in_array($this->post_var['status'],array('Aprovado','Finalizado')))? 'readonly': '' ) ?> cols="5" rows="5"><?php echo (isset($this->post_var)) ? $this->post_var["posicao"] : ''; ?></textarea></div>
                                                </div>


                                                <div class="control-group">
                                                        <label class="control-label">Documento enviado </label>
                                                        <div class="controls">
                                                                <?php if ((isset($this->post_var['iddocumentoenviado'])) && ((int)$this->post_var['iddocumentoenviado']>0)) : ?>
                                                                        <?php echo $this->getArquivo($this->post_var['iddocumentoenviado']) ?>

                                                                        <?php if ((!$this->visualizar) || (!in_array($this->post_var['status'],array('Aprovado','Finalizado')))) : ?>
                                                                                <div class="checkbox block">
                                                                                        <label><input type="checkbox" name="excluir_iddocumentoenviado" value="excluir" /> Desejo excluir o arquivo</label>
                                                                                        <input placeholder="Documento enviado" name="iddocumentoenviado" type="file"  />
                                                                                </div>
                                                                        <?php endif; ?>
                                                                <?php endif; ?>

                                                        </div>
                                                </div>	
                                        <?php endif; ?>
                                <?php endif; ?>						
                                <!--FIM - Comunicado Interno - Educacao-->


				<div class="control-group">
					<label class="control-label">Status <span class="required">*</span></label>
					<div class="controls">
                                                <?php if(!in_array($this->post_var['status'], array('Encaminhado', 'Processado', 'Finalizado'))) : ?>
                                                        <select name="status1" data-placeholder="Status" class="select">
                                                                <option value="">Selecione...</option>
                                                                <?php if(($this->post_var['status'] == '')) :?>
                                                                        <option value="Em aberto">Em aberto</option>
                                                                        <option value="Encaminhado">Encaminhado</option>
                                                                <?php elseif(($this->post_var['status'] == 'Em aberto')) :?>
                                                                        <option value="Em aberto">Em aberto</option>
                                                                        <option value="Encaminhado">Encaminhado</option>
                                                                <?php elseif(($this->post_var['status'] == 'Aprovado')) : ?>
                                                                        <option value="Aprovado">Aprovado</option>
                                                                        <option value="Processado">Processado</option>
                                                                <?php elseif(($this->post_var['status'] == 'Processado')) : ?>
                                                                        <option value="Processado">Processado</option>
                                                                        <option value="Finalizado">Finalizado</option>
                                                                <?php elseif(($this->post_var['status'] == 'Finalizado')) : ?>
                                                                        <option value="Finalizado">Finalizado</option>
                                                                <?php endif ?>
                                                        </select>
                                                <?php else :?>
                                                        <input maxlength="500" placeholder="Status" readonly value="<?php echo $this->post_var['status'] ?>" type="text" class="span3" />
                                                <?php endif; ?>                                            
						
					</div>
				</div>

						    
						    
						    </div>
						    
			                <div class="form-actions align-right">
			                	<?php if (((isset($this->visualizar)) && ($this->visualizar)) || ($this->post_var['status'] === 'Finalizado')): ?>
			                		<button onclick="window.history.back()" class="btn btn-danger cancelar" type="button">Voltar</button>
			                	<?php else : ?>
				                	<button class="btn btn-primary enviar" type="submit">Salvar</button>
				                	<button onclick="window.history.back()" class="btn btn-danger cancelar" type="button">Cancelar</button>
			                	<?php endif; ?>
			                </div>
						</div>
						<!-- /general form elements -->

					</fieldset> 

				</form>
				<!-- /basic inputs -->

		    </div>
		    <!-- /content wrapper -->

		</div>
		<!-- content -->
				
<script type="text/javascript" src="<?php echo $this->baseUrl('/public/scripts/admin/juridicooficios_form.js') ?>"></script>
<script type="text/javascript">
	var form_values = {};
	
	<?php if (isset($this->post_var)) :  ?>
		form_values.idtipo = '<?php echo (isset($this->post_var['idtipo'])) ? $this->post_var['idtipo'] : '' ?>';

                form_values.status1 = '<?php echo (isset($this->post_var['status1'])) ? $this->post_var['status1'] : $this->post_var['status'] ?>';

                form_values.cienvioflag = '<?php echo (isset($this->post_var['ciretornoflag'])) ? $this->post_var['ciretornoflag'] : $this->post_var['ciretornoflag'] ?>';

                form_values.cienviodt = '<?php echo (isset($this->post_var['ciretornodt'])) ? $this->post_var['ciretornodt'] : $this->post_var['ciretornodt'] ?>';

                form_values.cienvio = '<?php echo (isset($this->post_var['ciretorno'])) ? $this->post_var['ciretorno'] : $this->post_var['ciretorno'] ?>';

                form_values.idimgcienvio = '<?php echo (isset($this->post_var['idimgcienvio'])) ? $this->post_var['idimgcienvio'] : $this->post_var['idimgcienvio'] ?>';

                form_values.ciretornoflag = '<?php echo (isset($this->post_var['ciretornoflag'])) ? $this->post_var['ciretornoflag'] : $this->post_var['ciretornoflag'] ?>';

                form_values.ciretornodt = '<?php echo (isset($this->post_var['ciretornoflag'])) ? $this->post_var['ciretornoflag'] : $this->post_var['ciretornoflag'] ?>';

                form_values.ciretorno = '<?php echo (isset($this->post_var['ciretorno'])) ? $this->post_var['ciretorno'] : $this->post_var['ciretorno'] ?>';

                form_values.idimgciretorno = '<?php echo (isset($this->post_var['idimgciretorno'])) ? $this->post_var['idimgciretorno'] : $this->post_var['idimgciretorno'] ?>';
                
	<?php endif; ?>

	visualizar = <?php echo  ((isset($this->visualizar)) && ($this->visualizar))  ? 'true' : 'false' ?>;        
       
</script>
