<?php if (sizeof($this->rows)==0) : ?>
<option value="">Selecione...</option>
<option value="">Nenhum período foi encontrado para essa escola</option>
<?php else : ?>
<option value="">Selecione...</option>
<?php
	$periodo = $this->rows[0]['periodos'];

	switch ($periodo) {
	 	case 'Bimestre': ?>
	 		<option value="Aval. Entrada">Aval. Entrada</option>
	 		<option value="1 Bimestre">1º Bimestre</option>
	 		<option value="2 Bimestre">2º Bimestre</option>
	 		<option value="3 Bimestre">3º Bimestre</option>
	 		<option value="4 Bimestre">4º Bimestre</option>
	 	<?php	break;
	 	
	 	case 'Trimestre': ?>
	 		<option value="1 Trimestre">1º Trimestre</option>
	 		<option value="2 Trimestre">2º Trimestre</option>
	 		<option value="3 Trimestre">3º Trimestre</option>
	 		<option value="4 Trimestre">4º Trimestre</option>
	 	<?php	break;

	 	default: ?>
	 		<option value="">Nenhum período foi encontrado para essa escola</option>
	 	<?php	break;
	 } 
?>
<?php endif; ?>
