<?php if (sizeof($this->rows)==0) : ?>
<option value="0">Nenhuma turma foi encontrada para essa escola</option>
<?php else : ?>
<option value="">Selecione...</option>
<?php foreach ($this->rows as $row) : ?>
<option value="<?php echo $row['id'] ?>"><?php echo $row['serie'] ?> <?php echo $row['turma'] ?></option>
<?php endforeach; ?>
<?php endif; ?>