		<!-- Content -->
		<div id="content">

		    <!-- Content wrapper -->
		    <div class="wrapper">

			    <!-- Breadcrumbs line -->
			    <div class="crumbs">
			    	<?php echo $this->render('/helpers/breadcrumb.phtml') ?>
			    </div>
			    <!-- /breadcrumbs line -->

			    <!-- Page header -->
			    <div class="page-header">
			    	<div class="page-title">
				    	<h5>Formulário de vínculo Frota x Aluno</h5>
				    	<span>Verifique os campos e preencha com os dados</span>
			    	</div>
			    </div>
			    <!-- /page header -->

			    <?php if (isset($this->crudMessage)) : ?>
					<div class="alert alert-success">
	                	<button data-dismiss="alert" class="close" type="button">×</button>
	                    <strong>Operação realizada com sucesso!</strong>
		    			<span><br /><?php echo $this->crudMessage ?></span>
	                </div>			    
			    <?php endif; ?>

				<form id="form" name="form" action="" method="post" class="form-horizontal" enctype="multipart/form-data"> 
					<input type="hidden" value="<?php echo (isset($this->post_var)) ? $this->post_var["id"] : ''; ?>" name="id" id="id" />
					
					<fieldset>
						<!-- General form elements -->
						<div class="widget row-fluid">
						    <div class="navbar">
						        <div class="navbar-inner">
						            <h6>Digite as informações do formulário</h6>
						        </div>
						    </div>

						    <div class="well">
								<?php if (isset($this->erros)) : ?>
									<div class="alert alert-error margin">
				                        <button data-dismiss="alert" class="close" type="button">×</button>
				                        <strong>Há erros no formulário!</strong>
					    				<?php foreach ($this->erros as $k=>$v) : ?>
					    					<span><br />- <?php echo $v ?></span>
					    				<?php endforeach;?>			                        
				                    </div>
			                    <?php endif; ?>						    
						    


			    <div class="control-group">
					<label class="control-label">Escola <span class="required">*</span></label>
					<div class="controls">
		                <select name="idescola" data-placeholder="Escola" class="select">
							<option value="">Selecione...</option>
							<?php foreach (Escolas::getEscolasHelper(array('status'=>'Ativo')) as $k=>$v) : ?>
							<option value="<?php echo $v['id'] ?>"><?php echo $v['escola'] ?></option>
							<?php endforeach;?>
						</select>
						
					</div>
				</div>               

			

				<div class="control-group">
					<label class="control-label">Garagem <span class="required">*</span></label>
					<div class="controls">
		                <select name="idgaragem" data-placeholder="Escola" class="select">
							<option value="">Selecione...</option>
							<?php foreach (Garagens::getGaragensHelper(array('status'=>'Ativo')) as $k=>$v) : ?>
							<option value="<?php echo $v['id'] ?>"><?php echo ('Garagem '.$v['id']) ?></option>
							<?php endforeach;?>
						</select>
						
					</div>
				</div>

				<div class="control-group">
					<label class="control-label">Alunos<span class="required">*</span></label>
				

				<div  style="float: right;margin-right: 500px;">
					<label class="control-label">Frotas<span class="required">*</span></label>
						<div class="controls" name="idfrotas" class="span3">
								<br>
								<?php foreach (Logisticafrotas::getLogisticafrotasHelper() as $i=>$row) : ?>
									 <div style="width: 250px" value="<?php echo $row['id'] ?>"><?php echo $row['placa'].' '.$row['fabricante'].' '.$row['marca'].' '.$row['ano'].'/'.$row['modelo'] ?>
									 </div><br>
								<?php endforeach; ?>
									
						</div>
				</div>
</div>

				<div class="control-group">
					<label class="control-label">Status <span class="required">*</span></label>
					<div class="controls">
						<select name="status1" data-placeholder="Status" class="select">
							<option value="">Selecione...</option>
							<option value="Ativo">Ativo</option>
							<option value="Bloqueado">Bloqueado</option>
						</select>
						
					</div>
		</div>	
		<div class="control-group">	
	    	<div id="map" style="width: 770px; height: 300px; margin-left: 100px; ">
	    	</div>
	    </div>
						    
						    
			                <div class="form-actions align-right">
			                	<?php if ((isset($this->visualizar)) && ($this->visualizar)) : ?>
			                		<button onclick="window.history.back()" class="btn btn-danger cancelar" type="button">Voltar</button>
			                	<?php else : ?>
				                	<button class="btn btn-primary enviar" type="submit">Salvar</button>
				                	<button onclick="window.history.back()" class="btn btn-danger cancelar" type="button">Cancelar</button>
			                	<?php endif; ?>
			                </div>
						</div>
						<!-- /general form elements -->

					</fieldset> 

				</form>
				<!-- /basic inputs -->

		    </div>
		    <!-- /content wrapper -->

		</div>
		<!-- content -->







<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAlHzImDCagrOppCrUjRU2FT__KHKsUYhs"></script>
<script type="text/javascript">
	var form_values = {};
	<?php if (isset($this->post_var)) :  ?>

	form_values.status1 = '<?php echo (isset($this->post_var['status1'])) ? $this->post_var['status1'] : $this->post_var['status'] ?>';
	form_values.idfrotas = '<?php echo (isset($this->post_var['idfrotas'])) ? $this->post_var['idfrotas'] : '' ?>';
	form_values.idescola = '<?php echo (isset($this->post_var['idescola'])) ? $this->post_var['idescola'] : '' ?>';
	form_values.idgaragem = '<?php echo (isset($this->post_var['idgaragem'])) ? $this->post_var['idgaragem'] : '' ?>';


	<?php endif; ?>

	
	
	
	visualizar = <?php echo  ((isset($this->visualizar)) && ($this->visualizar))  ? 'true' : 'false' ?>;
</script>
<script type="text/javascript" src="<?php echo $this->baseUrl('/public/scripts/admin/escolasfrotasalunos_form.js') ?>"></script>

<script type="text/javascript" src="<?php echo $this->baseUrl('/public/scripts/gmaps.js') ?>">
</script>
