<style type="text/css">
    .font16{ font-size:1em; font-family: 'Helvetica, sans-serif'; }
    .font14{ font-size:14px; font-family: 'Helvetica, sans-serif'; }
    .font18{ font-size:1.3em; font-family: 'Helvetica, sans-serif'; }
    .font20{ font-size:1.5em; font-family: 'Helvetica, sans-serif'; }
    .black{ color:#000; }
    .white{ color:#fff; }
    .gray{ color:#ccc; }
    .red{ color:#ff0000; }
    .textleft{ text-align: left; }
    .textright{ text-align: right; }
    .left{ float: left }
    .textcenter{text-align: center; }
    .padding2{ padding: 6px; }
    .margin10 {margin-top:50px; display: block;}
    .textjustify { text-align: justify; }
    .line{ border:1px solid #ccc;  background:#000; width: 250px;}
    .each-line{width: 25px; display: inline; border:1px solid #000;}
    .contorno{border-top: 0.5px solid black; border-bottom: 0.5px solid black;}
    .contornoleft{ border-left: 0.5px solid black;  }
    .contornoright{ border-right: 0.5px solid black;  }
</style>
<br><br> 

<?php   
    error_reporting(0);
    ini_set(“display_errors”, 0 ); 
 

    // echo '<pre>'; print_r( $this->aeealuno );
    // echo '<pre>'; print_r( $this->escolaaluno );
    // echo '<pre>'; print_r( $this->enderecoaluno );
    // die;
 
 
?> 
<br><br><br>
<table class="left padding2">
    <tr>
        <th colspan="5" class="left contorno contornoleft"><b>Nome do Aluno: </b><?php echo Escolasalunos::getEscolaalunoByIdHelper($this->aeealuno['idaluno'])['nomerazao']; ?> </th>
        <th colspan="5" class="center contorno   contornoright"><b>RA: </b><?php echo $this->escolaaluno['ra'] ?></th>
    </tr> 
</table>

<table class="left padding2">
    <tr>
        <th colspan="5" class="left contorno contornoleft"><b>Escola Regular: </b><?php echo $this->aeealuno['escolaregular'] ?></th>
        <th colspan="5" class="center contorno   contornoright"><b>Professor Regular: </b><?php echo Funcionariosgeraisescolas::getFuncionariogeralescolaByIdHelper( $this->aeealuno['idprofessor'])['nome'] . ' - <b>RGF: </b>' .  Funcionariosgeraisescolas::getFuncionariogeralescolaByIdHelper($this->aeealuno['idprofessor'])['rgf']  ?></th>
    </tr> 
</table>

<table class="left padding2">
    <tr>
        <th colspan="5" class="left contorno contornoleft"><b>Escola Aee: </b><?php echo Escolas::getEscolaByIdHelper($this->aeealuno['idescola'])['escola'] ?></th>
        <th colspan="5" class="center contorno   contornoright"><b>Professor Aee: </b><?php echo Funcionariosgeraisescolas::getFuncionariogeralescolaByIdHelper($this->aeealuno['idprofessor2'])['nome'] . ' - <b>RGF: </b>' .  Funcionariosgeraisescolas::getFuncionariogeralescolaByIdHelper($this->aeealuno['idprofessor2'])['rgf'] ?></th>
    </tr> 
</table>

<table class="left padding2">
    <tr>
        <th colspan="5" class="left contorno contornoleft"><b>Nome do pai: </b><?php echo $this->escolaaluno['nomepai'] ?></th>
        <th colspan="5" class="center contorno   contornoright"><b>Nome da mãe: </b><?php echo $this->escolaaluno['nomemae'] ?></th>
    </tr> 
</table>

<table class="left padding2">
    <tr>
        <th colspan="5" class="left contorno contornoleft"><b>Tel. Residencial: </b><?php echo $this->escolaaluno['telefoneresidencial'] ?></th>
        <th colspan="5" class="center contorno   contornoright"><b>Tel. Contato: </b><?php echo $this->escolaaluno['telefonecontato'] ?></th>
    </tr> 
</table>

<table class="left padding2">

    <?php 
        if($this->aeealuno['idperiodo'] == 1) $periodo = 'Manhã';
        if($this->aeealuno['idperiodo'] == 2) $periodo = 'Tarde';
        if($this->aeealuno['idperiodo'] == 3) $periodo = 'Noite';
    ?>

    <tr>
        <th colspan="5" class="left contorno contornoleft"><b>Periodo: </b><?php echo $periodo ?></th>
        <th colspan="5" class="center contorno   contornoright"><b>Reponsavel: </b><?php echo $this->escolaaluno['nomeresponsavel'] ?></th>
    </tr> 
</table>


<table class="left padding2">
    <tr>
        <th colspan="5" class="left contorno contornoleft"><b>Endereço: </b><?php echo $this->enderecoaluno['endereco'] ?></th> 
        <th colspan="5" class="left contorno contornoright"><b>Nº: </b><?php echo $this->enderecoaluno['numero'] ?></th> 
    </tr> 
</table>

<table class="left padding2">
    <tr>
        <th colspan="5" class="left contorno contornoleft"><b>Deficiências do Aluno: </b><?php echo $this->aeealuno['tipodeficiencia'] ?></th> 
        <th colspan="5" class="left contorno contornoright"><b>Apoio humano: </b><?php echo $this->aeealuno['apoio'] ?></th> 
    </tr> 
</table>

<table class="left padding2">
    <tr>
        <th colspan="5" class="left contorno contornoleft"><b>Hipótese de escrita: </b><?php echo $this->aeealuno['hipotesedeescrita'] ?></th> 
        <th colspan="5" class="left contorno contornoright"><b>necessidades específicas: </b><?php echo $this->aeealuno['necessidades'] ?></th> 
    </tr> 
</table>

<table class="left padding2">
    <tr>
        <th colspan="5" class="left contorno contornoleft"><b>Medicação: </b><?php echo $this->aeealuno['qualmedicacao'] ?></th> 
        <th colspan="5" class="left contorno contornoright"><b>Horario da Medicacao : </b><?php echo $this->aeealuno['horarioMedicacao'] ?></th> 
    </tr> 
</table>

<table class="left padding2">
    <tr>
        <th colspan="5" class="left contorno contornoleft"><b>CID: </b><?php echo $this->aeealuno['cid'] ?></th> 
        <th colspan="5" class="left contorno contornoright"><b>Atendimento especializado: </b><?php echo $this->aeealuno['atendimentoespecializado'] ?></th>  
    </tr> 
</table>

<table class="left padding2">
    <tr>
        <th colspan="5" class="left contorno contornoleft contornoright"><b>Observação: </b><?php echo $this->aeealuno['atendimentoespecializadoObs'] ?></th>  
    </tr> 
</table>
 <br>
   
<table class="padding2">
    <tr> 
        <th class="textcenter "><b class="font16">Aulas</b></th>
    </tr> 
</table>

<table class="left padding2">
    <tr>
        <th colspan="5" class="black textcenter contorno contornoleft"><b>Segunda-feira </b></th>
        <th colspan="5" class="black textcenter contorno contornoleft"><b>Terça-feira </b></th>
        <th colspan="5" class="black textcenter contorno contornoleft contornoright"><b>Quarta-feira </b></th>   
        <th colspan="5" class="black textcenter contorno contornoleft contornoright"><b>Quinta-feira </b></th>   
        <th colspan="5" class="black textcenter contorno contornoleft contornoright"><b>Sexta-feira </b></th>   
    </tr> 
    <?php foreach (Aeelistamaterias::getAeelistamateriasHelper(array('idaee' => $this->aeealuno['id'])) as $c=>$row) : ?>
        <tr>    	 
            <td colspan="5" class="black textcenter contorno contornoleft"><?php echo $row['segundafeira'] ?></td> 
            <td colspan="5" class="black textcenter contorno contornoleft"><?php echo $row['tercafeira'] ?></td> 
            <td colspan="5" class="black textcenter contorno contornoleft"><?php echo $row['quartafeira'] ?></td> 
            <td colspan="5" class="black textcenter contorno contornoleft"><?php echo $row['quintafeira'] ?></td> 
            <td colspan="5" class="black textcenter contorno contornoleft contornoright"><?php echo $row['sextafeira'] ?></td> 
        </tr>
    <?php endforeach; ?>
</table>  

