		<!-- Content -->
		<div id="content">

		    <!-- Content wrapper -->
		    <div class="wrapper">

			    <!-- Breadcrumbs line -->
			    <div class="crumbs">
			    	<?php echo $this->render('/helpers/breadcrumb.phtml') ?>
			    </div>
			    <!-- /breadcrumbs line -->

			    <!-- Page header -->
			    <div class="page-header">
			    	<div class="page-title">
				    	<h5>Formulário do programa social</h5>
				    	<span>Verifique os campos e preencha com os dados</span>
			    	</div>
			    </div>
			    <!-- /page header -->

			    <?php if (isset($this->crudMessage)) : ?>
					<div class="alert alert-success">
	                	<button data-dismiss="alert" class="close" type="button">×</button>
	                    <strong>Operação realizada com sucesso!</strong>
		    			<span><br /><?php echo $this->crudMessage ?></span>
	                </div>			    
			    <?php endif; ?>

				<form id="form" name="form" action="" method="post" class="form-horizontal" enctype="multipart/form-data"> 
					<input type="hidden" value="<?php echo (isset($this->post_var)) ? $this->post_var["id"] : ''; ?>" name="id" id="id" />
					
					<fieldset>
						<!-- General form elements -->
						<div class="widget row-fluid">
						    <div class="navbar">
						        <div class="navbar-inner">
						            <h6>Digite as informações do formulário</h6>
						        </div>
						    </div>

						    <div class="well">
								<?php if (isset($this->erros)) : ?>
									<div class="alert alert-error margin">
				                        <button data-dismiss="alert" class="close" type="button">×</button>
				                        <strong>Há erros no formulário!</strong>
					    				<?php foreach ($this->erros as $k=>$v) : ?>
					    					<span><br />- <?php echo $v ?></span>
					    				<?php endforeach;?>			                        
				                    </div>
			                    <?php endif; ?>						    
						    
			    <?php if(false): ?>
				<div class="control-group">
					<label class="control-label">idarquivo </label>
					<div class="controls"><input  placeholder="idarquivo" name="idarquivo" value="<?php echo (isset($this->post_var['idarquivo'])) ? $this->post_var['idarquivo'] : '' ?>" type="text"  class="span3" /></div>
				</div>
				<?php endif; ?>


                <?php $idescola = Usuarios::getUsuario('idescola'); ?>
				<?php $idlocal = Usuarios::getUsuario('idlocal'); ?>
				<?php if(($idescola>0) || ($idlocal>0)): ?>		    
				<div class="control-group">
					<div class="controls1 visualizar">
						<table class="table table-content" width="100%">
							<tbody>
								<tr>
									<input maxlength="500" placeholder="Nome do Usuário" name="idusuario" value="<?php echo Usuarios::getUsuario('id') ?>" type="hidden"  class="span3" />
									<input  placeholder="Data de lançamento" name="datalancamento" value="<?php echo (isset($this->post_var['datalancamento'])) ? Mn_Util::formPostVarData($this->post_var['datalancamento']) : date('d/m/Y') ?>" type="hidden"  class="span3" />
									<input maxlength="500" placeholder="Nome do Usuário" name="idlocal" value="<?php echo Usuarios::getUsuario('idlocal') ?>" type="hidden"  class="span3" />
									<input maxlength="500" placeholder="Nome do Usuário" name="idescola" value="<?php echo Usuarios::getUsuario('idescola') ?>" type="hidden"  class="span3" />

									<td width="33%">Nome do Usuário: <?php echo Usuarios::getUsuario('nomerazao') . " - " . Usuarios::getUsuario('rgf') ?></td>
									<td width="34%">Data da Abertura: <?php echo date('d/m/Y') ?></td>
									<td width="33%">Escola: <?php 
											$local = Escolas::getEscolaByIdHelper(Usuarios::getUsuario('idescola')); 
											echo ((isset($local['escola'])) && ($local['escola']) && ($local['escola']!="") ) ? $local['escola'] : '';
										?>
											
									</td>
								</tr>
							</tbody>
						</table>
						
					</div>
				</div>
				<?php else: ?>
				<div class="control-group">
					<div class="controls1 visualizar">
						<table class="table table-content" width="100%">
							<tbody>
								<tr>
									<input maxlength="500" placeholder="Nome do Usuário" name="idusuario" value="<?php echo Usuarios::getUsuario('id') ?>" type="hidden"  class="span3" />
									<input  placeholder="Data de lançamento" name="datalancamento" value="<?php echo (isset($this->post_var['datalancamento'])) ? Mn_Util::formPostVarData($this->post_var['datalancamento']) : date('d/m/Y') ?>" type="hidden"  class="span3" />
									
									<td width="50%">Nome do Usuário: <?php echo Usuarios::getUsuario('nomerazao') . " - " . Usuarios::getUsuario('rgf') ?></td>
									<td width="50%">Data da Abertura: <?php echo date('d/m/Y') ?></td>
									
								</tr>
							</tbody>
						</table>
						
					</div>
				</div>
				<?php endif; ?>
							
				<?php if(((int)$idescola>0) || ((int)$idlocal>0)): ?>

				<?php else: ?>
				<div class="control-group">
					<label class="control-label">Escolas <span class="required">*</span></label>
					<div class="controls">
                        <select id="idescola" name="idescola"  class="select" onchange="setPeriodos(this, 0)">
	                        <option value="">Selecione...</option>
	                        <?php foreach ($this->escolas as $e=>$row): ?>
	                        <option value="<?php echo $row['id'] ?>"><?php echo $row['escola'] ?></option>
	                        <?php endforeach;?>
                        </select>   
					</div>
				</div>
				<?php endif; ?>

				<div class="control-group">
					<label class="control-label">Tipo de Convênio <span class="required">*</span></label>
					<div class="controls">
		                <select name="idtipoconvenio" data-placeholder="Tipo de Convênio" class="select">
							<option value="">Selecione...</option>
							<?php foreach (Financeirotiposconvenios::getFinanceirotiposconveniosHelper(array('status'=>'Ativo')) as $k=>$v) : ?>
							<option value="<?php echo $v['id'] ?>"><?php echo $v['titulo'] ?></option>
							<?php endforeach;?>
						</select>
					</div>
				</div>


				<div class="control-group">
					<label class="control-label">Título <span class="required">*</span></label>
					<div class="controls"><input maxlength="255" placeholder="Título" name="titulo" value="<?php echo (isset($this->post_var['titulo'])) ? $this->post_var['titulo'] : '' ?>" type="text"  class="span3" /></div>
				</div>


				<div class="control-group">
					<label class="control-label">Data Início *</label>
					<div class="controls"><input placeholder="Data Início" name="datainicio" value="<?php echo (isset($this->post_var['datainicio'])) ? Mn_Util::formPostVarData($this->post_var['datainicio']) : '' ?>" type="text"  class="span3" /></div>
				</div>


				<div class="control-group">
					<label class="control-label">Data Conclusão *</label>
					<div class="controls"><input placeholder="Data Conclusão" name="datafim" value="<?php echo (isset($this->post_var['datafim'])) ? Mn_Util::formPostVarData($this->post_var['datafim']) : '' ?>" type="text"  class="span3" /></div>
				</div>


				<div class="control-group">
					<label class="control-label">Exercício </label>
					<div class="controls"><input  placeholder="Exercício" name="exercicio" value="<?php echo (isset($this->post_var['exercicio'])) ? $this->post_var['exercicio'] : '' ?>" type="text"  class="span3" /></div>
				</div>


				<div class="control-group">
					<label class="control-label">CNPJ</label>
					<div class="controls"><input maxlength="20" placeholder="CNPJ" name="cpfcnpj" value="<?php echo (isset($this->post_var['cpfcnpj'])) ? $this->post_var['cpfcnpj'] : '' ?>" type="text"  class="span3" /></div>
				</div>

				<div class="control-group">
					<label class="control-label">Dados bancários</label>
					<div class="controls"> 
						<div class="itens">
                            <table class="table table-contas table-primary mb30" border="1">
                                <thead>
                                    <tr>
                                        <th align="left" style="text-align: center;">Nome do banco</th>										
                                        <th align="left" style="text-align: center; white-space: normal;">Agência</th>										
                                        <th align="left" style="text-align: center;">Conta</th>
                                        <th align="left" style="text-align: center;">Dígito</th>
                                        <th align="left" style="text-align: center;"><button type="button" onclick="contaAddTr()" class="btn">+</button></th>
                                    </tr>
                                </thead>
                                <tbody>	

                                        <script type="text/javascript">

                                        $(document).ready(function() {

                                                <?php if (isset($this->post_var['id'])) : ?>

                                                <?php foreach (Escolasprogramascontas::getEscolasprogramascontasHelper(array('idparent' => $this->post_var['id'])) as $c=>$row) : ?>
                                                <?php 
                                                    $row['var_db'] = true;
                                                ?>
                                                contas = '<?php echo str_replace("'", "\'", json_encode($row)) ?>';
                                                contaAddTr(contas);
                                                <?php endforeach;?>

                                                <?php endif; ?>
                                        });
                                        </script>
                                </tbody>

                                <tfoot>
                                    <tr id="modelo-apm" style="display:none;">
                                        <td align="center" style="text-align:center !Important;">
                                            <input type="hidden" name="_ids" value="" />
                                            <input name="banco[]" type="text" class="form-control" placeholder="nome do banco">
                                        </td>

                                        <td align="center" style="text-align:center !Important;">
                                            <input name="agencia[]" type="text" class="form-control" placeholder="agência">
                                        </td>

                                        <td align="center" style="text-align:center !Important;">
                                            <input name="conta[]" type="text" class="form-control" placeholder="número conta">
                                        </td>

                                        <td align="center" style="text-align:center !Important;">
                                            <input name="digito[]" maxlength="1" type="text" class="form-control" placeholder="dígito">
                                        </td>

                                        <td style="text-align: center !important; padding:8px 0 8px 22px;" align="center">
                                            <a href="javascript:;" onclick="contasExcluirFromTable(this)">
                                                <span><i class="icon-remove"></i></span>
                                            </a>
                                        </td>
                                    </tr>
                                </tfoot>

                            </table>
                        </div>
					</div>
				</div>

				<div class="control-group">
					<label class="control-label">É um recurso próprio? <span class="required">*</span></label>
					<div class="controls">
						<select name="apm" data-placeholder="APM" onchange="setTipo(this)" class="select">
							<option value="">Selecione...</option>
							<option value="sim">Sim</option><option value="nao">Não</option>
						</select>
						
					</div>
				</div>



			<div class="box-apm" style="display: none;">
				<div class="control-group">
					<label class="control-label">11 - Saldo Exercício Anterior</label>
					<div class="controls"><input  placeholder="Saldo Exercício Anterior" name="saldoexercicioanterior_apm" value="<?php echo (isset($this->post_var['saldoexercicioanterior_apm'])) ? $this->post_var['saldoexercicioanterior_apm'] : '' ?>" type="text"  class="span3" /></div>
				</div>

				<div class="control-group">
					<label class="control-label">13 - Rendimento Apl. Financeira</label>
					<div class="controls"><input  placeholder="Rendimento Apl. Financeira" name="rendimentoaplicacaofinanceira_apm" value="<?php echo (isset($this->post_var['rendimentoaplicacaofinanceira_apm'])) ? $this->post_var['rendimentoaplicacaofinanceira_apm'] : '' ?>" type="text"  class="span3" /></div>
				</div>
			</div>

			<div class="box-outro" style="display: none;">
				<div class="control-group">
					<label class="control-label">08 - Saldo Exercício Anterior (custeio) </label>
					<div class="controls"><input  placeholder="Saldo Exercício Anterior (custeio)" name="saldoexercicioanterior_custeio" value="<?php echo (isset($this->post_var['saldoexercicioanterior_custeio'])) ? $this->post_var['saldoexercicioanterior_custeio'] : '' ?>" type="text"  class="span3" /></div>
				</div>


				<div class="control-group">
					<label class="control-label">08 - Saldo Exercicio Anterior (Capital) </label>
					<div class="controls"><input  placeholder="Saldo Exercicio Anterior (Capital)" name="saldoexercicioanterior_capital" value="<?php echo (isset($this->post_var['saldoexercicioanterior_capital'])) ? $this->post_var['saldoexercicioanterior_capital'] : '' ?>" type="text"  class="span3" /></div>
				</div>


				<div class="control-group">
					<label class="control-label">09 - Valor Creditado FNDE (Custeio) </label>
					<div class="controls"><input  placeholder="Valor Creditado FNDE (Custeio)" name="valorcreditadofnde_custeio" value="<?php echo (isset($this->post_var['valorcreditadofnde_custeio'])) ? $this->post_var['valorcreditadofnde_custeio'] : '' ?>" type="text"  class="span3" /></div>
				</div>


				<div class="control-group">
					<label class="control-label">09 - Valor Creditado FNDE (Capital) </label>
					<div class="controls"><input  placeholder="Valor Creditado FNDE (Capital)" name="valorcreditadofnde_capital" value="<?php echo (isset($this->post_var['valorcreditadofnde_capital'])) ? $this->post_var['valorcreditadofnde_capital'] : '' ?>" type="text"  class="span3" /></div>
				</div>


				<div class="control-group">
					<label class="control-label">10 - Recursos Próprios (Custeio) </label>
					<div class="controls"><input  placeholder="Recursos Próprios (Custeio)" name="recursosproprios_custeio" value="<?php echo (isset($this->post_var['recursosproprios_custeio'])) ? $this->post_var['recursosproprios_custeio'] : '' ?>" type="text"  class="span3" /></div>
				</div>


				<div class="control-group">
					<label class="control-label">10 - Recursos Próprios (Capital) </label>
					<div class="controls"><input  placeholder="Recursos Próprios (Capital)" name="recursosproprios_capital" value="<?php echo (isset($this->post_var['recursosproprios_capital'])) ? $this->post_var['recursosproprios_capital'] : '' ?>" type="text"  class="span3" /></div>
				</div>


				<div class="control-group">
					<label class="control-label">11 - Rendimento Apl. Financeira Custeio) </label>
					<div class="controls"><input  placeholder="Rendimento Apl. Financeira Custeio)" name="rendimentoaplfinanceira_custeio" value="<?php echo (isset($this->post_var['rendimentoaplfinanceira_custeio'])) ? $this->post_var['rendimentoaplfinanceira_custeio'] : '' ?>" type="text"  class="span3" /></div>
				</div>


				<div class="control-group">
					<label class="control-label">11 - Rendimento Apl. Financeira (Capital) </label>
					<div class="controls"><input  placeholder="Rendimento Apl. Financeira (Capital)" name="rendimentoaplfinanceira_capital" value="<?php echo (isset($this->post_var['rendimentoaplfinanceira_capital'])) ? $this->post_var['rendimentoaplfinanceira_capital'] : '' ?>" type="text"  class="span3" /></div>
				</div>


				<div class="control-group">
					<label class="control-label">12 - Devolução de Recursos FNDE (Custeio) </label>
					<div class="controls"><input  placeholder="Devolução de Recursos FNDE (Custeio)" name="devolucaorecursosfnde_custeio" value="<?php echo (isset($this->post_var['devolucaorecursosfnde_custeio'])) ? $this->post_var['devolucaorecursosfnde_custeio'] : '' ?>" type="text"  class="span3" /></div>
				</div>


				<div class="control-group">
					<label class="control-label">12 - Devolução de Recursos FNDE (Capital) </label>
					<div class="controls"><input  placeholder="Devolução de Recursos FNDE (Capital)" name="devolucaorecursosfnde_capital" value="<?php echo (isset($this->post_var['devolucaorecursosfnde_capital'])) ? $this->post_var['devolucaorecursosfnde_capital'] : '' ?>" type="text"  class="span3" /></div>
				</div>


				<!--<div class="control-group">
					<label class="control-label">15 - Saldo Exercício Seguinte (Custeio) </label>
					<div class="controls"><input  placeholder="Saldo Exercício Seguinte (Custeio)" name="saldoexercicioseguinte_custeio" value="<?php //echo (isset($this->post_var['saldoexercicioseguinte_custeio'])) ? $this->post_var['saldoexercicioseguinte_custeio'] : '' ?>" type="text"  class="span3" /></div>
				</div>


				<div class="control-group">
					<label class="control-label">15 - Saldo Exercício Seguinte (Capital) </label>
					<div class="controls"><input  placeholder="Saldo Exercício Seguinte (Capital)" name="saldoexercicioseguinte_capital" value="<?php //echo (isset($this->post_var['saldoexercicioseguinte_capital'])) ? $this->post_var['saldoexercicioseguinte_capital'] : '' ?>" type="text"  class="span3" /></div>
				</div>-->


				<div class="control-group">
					<label class="control-label">16 - Saldo Devolvido (Custeio) </label>
					<div class="controls"><input  placeholder="Saldo Devolvido (Custeio)" name="saldodevolvido_custeio" value="<?php echo (isset($this->post_var['saldodevolvido_custeio'])) ? $this->post_var['saldodevolvido_custeio'] : '' ?>" type="text"  class="span3" /></div>
				</div>


				<div class="control-group">
					<label class="control-label">16 - Saldo Devolvido (Capital) </label>
					<div class="controls"><input  placeholder="Saldo Devolvido (Capital)" name="saldodevolvido_capital" value="<?php echo (isset($this->post_var['saldodevolvido_capital'])) ? $this->post_var['saldodevolvido_capital'] : '' ?>" type="text"  class="span3" /></div>
				</div>
			</div>

				<div class="control-group">
					<label class="control-label">Status <span class="required">*</span></label>
					<div class="controls">
						<select name="status1" data-placeholder="Status" class="select">
							<option value="">Selecione...</option>
							<option value="Ativo">Ativo</option><option value="Bloqueado">Bloqueado</option>
						</select>
						
					</div>
				</div>

						    
						    
						    </div>
						    
			                <div class="form-actions align-right">
			                	<?php if ((isset($this->visualizar)) && ($this->visualizar)) : ?>
			                		<button onclick="window.history.back()" class="btn btn-danger cancelar" type="button">Voltar</button>
			                	<?php else : ?>
				                	<button class="btn btn-primary enviar" type="submit">Salvar</button>

			                	<?php if ((isset($this->editar)) && ($this->editar)) : ?>
			                		<input type="hidden" name="finalizado" value="" />
				                	<button class="btn btn-default" type="submit" onclick="setFinalizar()">Encerrar Exercício</button>
			                	<?php endif; ?>
				                	<button onclick="window.history.back()" class="btn btn-danger cancelar" type="button">Cancelar</button>
			                	<?php endif; ?>
			                </div>
						</div>
						<!-- /general form elements -->

					</fieldset> 

				</form>
				<!-- /basic inputs -->

		    </div>
		    <!-- /content wrapper -->

		</div>
		<!-- content -->
				
<script type="text/javascript" src="<?php echo $this->baseUrl('/public/scripts/admin/escolasprogramasgov_form.js') ?>"></script>
<script type="text/javascript">
	var form_values = {};
	
	<?php if (isset($this->post_var)) :  ?>
		form_values.idescola = '<?php echo (isset($this->post_var['idescola'])) ? $this->post_var['idescola'] : '' ?>';
		form_values.apm = '<?php echo (isset($this->post_var['apm'])) ? $this->post_var['apm'] : '' ?>';

form_values.idtipoconvenio = '<?php echo (isset($this->post_var['idtipoconvenio'])) ? $this->post_var['idtipoconvenio'] : '' ?>';

form_values.status1 = '<?php echo (isset($this->post_var['status1'])) ? $this->post_var['status1'] : $this->post_var['status'] ?>';


	<?php endif; ?>

	visualizar = <?php echo  ((isset($this->visualizar)) && ($this->visualizar))  ? 'true' : 'false' ?>;
</script>
