<style>
	.select2-container-multi .select2-choices{ cursor:pointer !important; }
	.select2-container-multi .select2-choices .select2-search-choice{
		background:#99e8af;
		border:1px solid #c5c5c5;
		color:#445438;
		border-radius:6px;
	}
	.select2-search-choice-close{
		left:4px !important;
		top:4px;
		width:15px;
		height:15px;
		background-size:50%;
		border-radius:10px;
		background-position:4px;
		background-color: #ffffff;
	}
	#series-selected li{ padding: 5px; }
	#series-selected li:nth-child(odd){ background:#efefef; }
	#series-selected li:nth-child(even){ background:#d4d4d4; }
</style>
		<!-- Content -->
		<div id="content">
		   <!-- Content wrapper -->
		   <div class="wrapper">
				<!-- Breadcrumbs line -->
				<div class="crumbs">
				<?php echo $this->render('/helpers/breadcrumb.phtml') ?>
				</div>
				<!-- /breadcrumbs line -->

				<!-- Page header -->
				<div class="page-header">
				<div class="page-title">
					<h5>Formulário do configuração diferenciada</h5>
					<span>Verifique os campos e preencha com os dados</span>
				</div>
				</div>
				<!-- /page header -->

				<?php if (isset($this->crudMessage)) : ?>
				<div class="alert alert-success">
						<button data-dismiss="alert" class="close" type="button">×</button>
							<strong>Operação realizada com sucesso!</strong>
					<span><br /><?php echo $this->crudMessage ?></span>
						</div>			    
				<?php endif; ?>
				
				<form id="form" name="form" action="" method="post" class="form-horizontal" enctype="multipart/form-data"> 
					<input type="hidden" value="<?php echo (isset($this->post_var)) ? $this->post_var["id"] : ''; ?>" name="id" id="id" />
					
					<fieldset>
						<!-- General form elements -->
						<div class="widget row-fluid">
						    <div class="navbar">
						        <div class="navbar-inner">
						            <h6>Digite as informações do formulário</h6>
						        </div>
						    </div>
						    <div class="well">
								<?php if (isset($this->erros)) : ?>
									<div class="alert alert-error margin">
										<button data-dismiss="alert" class="close" type="button">×</button>
										<strong>Há erros no formulário!</strong>
					    				<?php foreach ($this->erros as $k=>$v) : ?>
					    					<span><br />- <?php echo $v ?></span>
					    				<?php endforeach;?>			                        
				                    </div>
			                    <?php endif; ?>						    
						    
				<?php 
					$perfil = Usuarios::getUsuario('idperfil');
					$iduser = Usuarios::getUsuario('id');

					if($perfil==29) $escola = Usuarios::getEscolaAtiva($iduser);
				?>				
				<div class="control-group">
					<label class="control-label">Escola <span class="required">*</span></label>
					<div class="controls">
						<select name="idescola" data-placeholder="Escola" onchange="setSeries(this, 0)" class="select">
							<?php if($perfil==29) :?>
								<option value="<?php echo $escola['id']; ?>"><?php echo $escola['escola']; ?></option>
							<?php else: ?>
								<option value="">Todos</option>
								<?php foreach (Escolas::getEscolasHelper(array('status'=>'Ativo', 'idsecretaria' => Usuarios::getSecretariaAtiva( Usuarios::getUsuario('id'), 'id' ))) as $k=>$v) : ?>
								<option value="<?php echo $v['id'] ?>"><?php echo $v['escola'] ?></option>
								<?php endforeach;?>
							<?php endif; ?>
						</select>
						
					</div>
				</div>			
				<div class="control-group">
					<label class="control-label">Matéria <span class="required">*</span></label>
					<div class="controls">
		                <select name="idmateria" data-placeholder="Matéria" class="select">
							<option value="">Selecione...</option>
							<?php foreach (Controlealunosmaterias::getControlealunosmateriasHelper(array('status'=>'Ativo')) as $k=>$v) : ?>
							<option value="<?php echo $v['id'] ?>"><?php echo $v['materia'] ?></option>
							<?php endforeach;?>
						</select>
						
					</div>
				</div>

				<?php 					
					$queries = array();
					$queries["status"] = "Ativo";
					$queries["order"] = "ORDER BY e1.id ASC";
					if(isset($escola)) $queries["idescola"] = $escola['id'];
						
						$series = new Escolasseries();
						$gpserie = $series->getEscolasseries($queries);		
					?>
				<div class="control-group group-serie">
					<label class="control-label">Série <span class="required">*</span></label>
					<div class="controls">		               
						<select name="idserie[]" data-placeholder="Selecione a(s) série(s)" id="series" class="select" multiple required>
							<?php foreach($gpserie as $s =>$v ): ?>
								<option value="<?php echo $v['id']?>"><?php echo $v['idgdae']?>.<?php echo $v['descricoes']?> - <?php echo $v['descricao']?></option>
							<?php endforeach;?>						
						</select>						
					</div>
				</div>
				<?php if($this->visualizar):?>
					<div class="control-group">
						<label class="control-label">Série </label>
						<div class="controls">	
							<ul id="series-selected"></ul>
						</div>
					</div>
				<?php endif; ?>

				<div class="control-group">
					<label class="control-label">Configuração das Notas <span class="required">*</span></label>
					<div class="controls">
						<table class="table">
							<thead>
								<th width="20">#</th>
								<th>Título</th>
								<th width="100">Percentual da nota (%)</th>
							</thead>
							<tbody>
								<?php if(sizeof(Escolastitulosnotas::getEscolastitulosnotasHelper(array('status'=>'Ativo'))) <= 0): ?>
									<tr>
										<td colspan="3">Nenhum título cadastrado</td>
									</tr>
								<?php else: ?>
								<?php 
									$queries = array();
									$queries["status"] = "Ativo";
									
									if(Usuarios::getUsuario('idperfil')==29) {
										$escola = Usuarios::getEscolaAtiva(Usuarios::getUsuario('id'));			
										$queries["idescola"] = $escola["id"];
									}
									foreach (Escolastitulosnotas::getEscolastitulosnotasHelper($queries) as $k=>$v) : ?>
										<?php
											if((int)$this->post_var['id'] > 0):
											$notas = Escolasconfiguracoesdiferenciadasnotas::getEscolasconfiguracoesdiferenciadasnotasHelper(array('idparent'=>(int)$this->post_var['id'] ,'idtitulonota'=>$v['id']));
											$percentualnota = (sizeof($notas) > 0) ? $notas[0] : 0;
											endif;
										?>
										<tr>
											<td><input type="checkbox" id="titulo_<?php echo (isset($v['id']) ) ? $v['id'] : '' ?>" name="idstitulos[<?php echo $k ?>]" value="<?php echo (isset($v['id']) ) ? $v['id'] : '' ?>" <?php echo (isset($percentualnota['idtitulonota']) && $percentualnota['idtitulonota'] == $v['id']) ? 'checked' : '' ?>  onclick="setNotas(this, '<?php echo $v['id'] ?>')"/></td>
											<td><?php echo $v['titulo'] ?></td>
											<td><input type="text" name="percentualnotas[]" value="<?php echo (isset($percentualnota['percentualnota'])) ? number_format($percentualnota['percentualnota'], '2', '.', '.') : '' ?>" class="span12 notasmask" id="field_<?php echo $v['id'] ?>" disabled="disabled"/></td>
										</tr>
									<?php endforeach;?>
								<?php endif; ?>
							</tbody>
						</table>
					</div>
				</div>
				<div class="control-group">
					<label class="control-label">Status <span class="required">*</span></label>
					<div class="controls">
						<select name="status1" data-placeholder="Status" class="select">
							<option value="">Selecione...</option>
							<option value="Ativo">Ativo</option><option value="Bloqueado">Bloqueado</option>
						</select>
					</div>
				</div>
			</div>
						    
			                <div class="form-actions align-right">
			                	<?php if ((isset($this->visualizar)) && ($this->visualizar)) : ?>
			                		<button onclick="window.history.back()" class="btn btn-danger cancelar" type="button">Voltar</button>
			                	<?php else : ?>
				                	<button class="btn btn-primary enviar" type="submit">Salvar</button>
				                	<button onclick="window.history.back()" class="btn btn-danger cancelar" type="button">Cancelar</button>
			                	<?php endif; ?>
			                </div>
						</div>
						<!-- /general form elements -->

					</fieldset>
				</form>
				<!-- /basic inputs -->
		    </div>
		    <!-- /content wrapper -->
		</div>
		<!-- content -->

	
	<script type="text/javascript" src="<?php echo $this->baseUrl('/public/scripts/admin/escolasconfiguracoesdiferenciadas_form.js') ?>"></script>
	
<script type="text/javascript">
	var form_values = {};
	
	<?php if (isset($this->post_var)) :  ?>
		form_values.idescola = '<?php echo (isset($this->post_var['idescola'])) ? $this->post_var['idescola'] : '' ?>';

		form_values.idsseries = '<?php echo (isset($this->post_var['idsseries'])) ? $this->post_var['idsseries'] : '' ?>';

		form_values.idmateria = '<?php echo (isset($this->post_var['idmateria'])) ? $this->post_var['idmateria'] : '' ?>';

		form_values.idstitulos = '<?php echo (isset($this->post_var['idstitulos'])) ? $this->post_var['idstitulos'] : '' ?>';
		
		form_values.percentualnotas = '<?php echo (isset($this->post_var['percentualnotas'])) ? $this->post_var['percentualnotas'] : '' ?>';
		
		form_values.status1 = '<?php echo (isset($this->post_var['status1'])) ? $this->post_var['status1'] : $this->post_var['status'] ?>';
	<?php endif; ?>
		visualizar = <?php echo  ((isset($this->visualizar)) && ($this->visualizar))  ? 'true' : 'false' ?>;
</script>
