


	<div class="control-group2">
		<div class="controls">
			<div class="wrap_multiplos_arquivos">	
				<fieldset class="box-fieldset">
				
					<legend>&nbsp;</legend>
					
					<div class="bootstrap">
						<span class="btn btn-warning fileinput-button">
							<i class="icon-plus icon-white"></i>
				           	<span style="float:none;">Adicionar Arquivos...</span>
				           	<input id="imo_fileupload_multiplas_imagens" type="file" name="files[]" data-url="<?php echo $this->baseUrl() ?>/admin/ouvidorias/fileupload" multiple="" />
				           	<label></label>
				       	</span>	
					</div>
				
					<div id="imo_multiplas_imagens" class="block-border">
						<ul class="grid dark-grey-gradient">
				
						</ul>
					</div>
							
				</fieldset>
			</div>
		</div>
	</div>


		


<script type="text/javascript" src="<?php echo $this->baseUrl('/public/scripts/admin/ouvidorias_multiplasimagens.js') ?>"></script>
<script type="text/javascript" src="<?php echo $this->baseUrl('/public/scripts/ui.dragdrop.js') ?>"></script>
<script type="text/javascript">
	var count_li = 0;
	$(document).ready(function() {
		<?php
			$idouvidoria = (isset($this->post_var['id'])) ? (int)$this->post_var['id'] : 0;  
			$imagens = Ouvidoriaimagens::getOuvidoriaImagens($idouvidoria);
			foreach ($imagens as $row) : 
		?>
			imo_setImagem_multiplas_imagens('<?php echo $row['idimagem'] ?>', '<?php //echo $row['filename'] ?>', '<?php echo $row['legenda'] ?>');
		<?php endforeach;?>
        imo_resetPaginas();
		imo_aplicaDragAndDrop();
	});

</script>