<div class="control-group">
	<label class="control-label">Calendario controle de frequência <span class="required">*</span></label> 
    <div class="controls"> 
        <h3>Click: adiciona <span id="green">Presença</span> ou <span id="red">Falta</span>  </h3>
        <h3> Duplo click: remove <span id="green">Presença</span> ou <span id="red">Falta</span></span></h3>
		
        <?php 
            date_default_timezone_set('America/Sao_Paulo');

            $hoje = getdate(date('m')); 
            $ultimoDiaMes = date('m');
            $anoAtual = date('Y');
            $dia365 = 1;
            $dia365exploded = 0;
            $palavradia = 'dia';
            
                $dialetivoexploded = explode(',', $this->post_var['dialetivo']); 
        
        ?> 

        <?php for($i = 0; $i < 12 ; $i++) : ?>
            <?php
                $primeiroDiacalendariosemana = "%d-%0d-" . $dia =  (int) date("w", strtotime($i + 1 . "/01/" . $this->rows[0]['ano']));;
                $primeiroDiaTimestamp = strtotime(sprintf(
                                                            $primeiroDiacalendariosemana,
                                                            $hoje['year'],
                                                            $hoje['mon']
                                                        )
                                                );
                $primeiraSemana = (int)date('w', $primeiroDiaTimestamp);

                $mes1a12 = $i + 1; 
                $ultimoDia = cal_days_in_month(CAL_GREGORIAN,
                                            $mes1a12,
                                            $anoAtual
                                        ); 

                                        $testedia = 12;  $testemes = 2;
            ?>
                
            <div style="float: left; margin: 20px;">  

                <p><?php echo  '<h2 style="text-align: center;">' . Mn_Util::getMes($i + 1) . '</h2>' ; ?></p>

                <table border="2">
                    <tr style="background-color: #FF4500; color: white;">
                        <th style="padding: 6px;">Dom</th>
                        <th style="padding: 9px;">Seg</th>
                        <th style="padding: 10px;">Ter</th>
                        <th style="padding: 8px;">Qua</th>
                        <th style="padding: 10px;">Qui</th>
                        <th style="padding: 9px;">Sex</th>
                        <th style="padding: 9px;">Sáb</th>
                    </tr>
                    <tr>
                    <?php
                        for($semana = 0; $semana < $primeiraSemana; ++$semana) {
                            echo '<td>&nbsp;</td>';
                        }
                    ?>
                    <?php for($dia = 1; $dia <= $ultimoDia; ++$dia) : ?> 
                        <?php
                            if( $semana > 6 ) {
                                $semana = 0;
                                echo '</tr><tr>';
                            }
                            $countdia = $i + 1; 
                        ?>

                        <td 
                            onClick="selecionadialetivo( <?= $dia ?>  , <?= $countdia ?>, <?= $dia365 ?>  )" 
                            ondblclick="selecionadiafalta( <?= $dia ?>  , <?= $countdia ?>, <?= $dia365 ?>  )" 
                            id="<?php echo 'dia' . $dia365 ?>" 
                            style="cursor:pointer; 
                            <?php 
                                if($dialetivoexploded[$dia365exploded] > 0){
                                    echo 'background-color: lightgreen';
                                }
                                elseif($dialetivoexploded[$dia365exploded] == 'falta'){
                                    echo 'background-color: red';
                                }

                            ?>
                                                <?php echo ($semana == 0) ? 'color: red;' : ''; ?>" 
                            class="verdehover"
                        > <!-- end td --> 
                            
                            <input 
                                type="hidden" name="dialetivo[]" 
                                value="<?php 
                                if($dialetivoexploded[$dia365exploded] > 0){
                                    echo $dialetivoexploded[$dia365exploded] ;
                                }
                                elseif($dialetivoexploded[$dia365exploded] == 'falta'){
                                    echo 'falta';
                                }

                            ?>" 
                                id="<?php echo 'dialetivo' . $dia365 ?>" 
                            ><!-- end input -->

                            <?php	 
                                
                                echo "<p style='text-align: center;' >$dia</p>";
                                ++$semana;
                                $dia365 ++;  
                                $dia365exploded ++;  
                            ?>
                        </td>
                    <?php endfor; ?>
                    
                    <?php
                        for(; $semana < 7; ++$semana) {
                            echo '<td>&nbsp;</td>';
                        }
                    ?>
                    </tr>
                </table>
            </div>
        <?php endfor; ?>
    </div> 
</div> 