<style>
	list-group {
		padding-left: 0;
		margin-bottom: 20px;
	}
		.list-group-item {
		position: relative;
		display: block;
		padding: 10px 15px;
		margin-bottom: -1px;
		background-color: #fff;
		border: 1px solid #ddd;
	}

	#box-alunos{
		margin-top: 2%;
	}

	.verdehover:hover {
		background-color: #E9F7C2;
	}

	#alinha-tabela{
		display: flex;
		justify-content: center;
		margin-top: 2%;
		margin-right: 20%;
	}

	 

	table, th, td {
		border: 1px solid black;
		border-collapse: collapse;
		
	}
	th, td {
		padding: 5px;
	}

	#centro{ 
		flex-direction: row;
	}

	#green{ 
		color: green
	}
	#red{
		color: red
	}

	#removecorescss{
		float: right;
		margin-right: 5%;
	}
</style>		
		<!-- Content -->
		<div id="content">

		    <!-- Content wrapper -->
		    <div class="wrapper">

			    <!-- Breadcrumbs line -->
			    <div class="crumbs">
			    	<?php echo $this->render('/helpers/breadcrumb.phtml') ?>
			    </div>
			    <!-- /breadcrumbs line -->

			    <!-- Page header -->
			    <div class="page-header">
			    	<div class="page-title">
				    	<h5>Plano de trabalho individual</h5>
				    	<span>Verifique os campos e preencha com os dados</span>
			    	</div>
			    </div>
			    <!-- /page header -->

			    <?php if (isset($this->crudMessage)) : ?>
					<div class="alert alert-success">
	                	<button data-dismiss="alert" class="close" type="button">×</button>
	                    <strong>Operação realizada com sucesso!</strong>
		    			<span><br /><?php echo $this->crudMessage ?></span>
	                </div>			    
			    <?php endif; ?>

				<form id="form" name="form" action="" method="post" class="form-horizontal" enctype="multipart/form-data"> 
					<input type="hidden" value="<?php echo (isset($this->post_var)) ? $this->post_var["id"] : ''; ?>" name="id"  />
					<fieldset>
						<!-- General form elements -->
						<div class="widget row-fluid">
						    <div class="navbar">
						        <div class="navbar-inner">
						            <h6>Digite as informações do formulário</h6>
						        </div>
						    </div>

						    <div class="well">
								<?php if (isset($this->erros)) : ?>
									<div class="alert alert-error margin">
				                        <button data-dismiss="alert" class="close" type="button">×</button>
				                        <strong>Há erros no formulário!</strong>
					    				<?php foreach ($this->erros as $k=>$v) : ?>
					    					<span><br />- <?php echo $v ?></span>
					    				<?php endforeach;?>			                        
				                    </div>
			                    <?php endif; ?>						    
						    
							<?php if(!$this->visualizar) : ?>
								<div class="control-group">
									<label class="control-label">Aluno <span class="required">*</span></label>
									<div class="controls">
										<select name="idaluno" data-placeholder="Alunos" class="select" onclick="setAlunosdados(this), setAlunosMaterias(this)">
											<option value="">Selecione...</option>
											<?php foreach (Aeematriculas::getAeematriculasHelper(array('status'=>'Ativo')) as $k=>$v) : ?>
											<option value="<?php echo $v['id'] ?>"><?php echo Escolasalunos::getEscolaalunoByIdHelper($v['idaluno'])['nomerazao']  ?></option>
											<?php endforeach;?>
										</select>
										<?php if($this->editar) : ?>
											<div class="btn btn-primary" style='cursor: pointer' onclick="setAlunosdados(this, <?= $this->post_var['idaluno'] ?>), setAlunosMaterias(this, <?= $this->post_var['idaluno'] ?>)">Detalhes</div>
										<?php endif; ?>
										
										<div id="box-alunos">
										
										</div>

									</div>
									  
									<div id="box-diasmaterias">
									
									</div>
									 
								</div>
							<?php else : ?>
								<?php $dadosAluno['aee'] =  Aeematriculas::getAeematriculaByIdHelper($this->post_var['idaluno']); 
									$dadosAluno['professor'] = Funcionariosgeraisescolas::getFuncionariogeralescolaByIdHelper($dadosAluno['aee']['idprofessor'])['nome'];
									$dadosAluno['professorAee'] = Funcionariosgeraisescolas::getFuncionariogeralescolaByIdHelper($dadosAluno['aee']['idprofessor2'])['nome'];
									$dadosAluno['escola'] = Escolas::getEscolaByIdHelper($dadosAluno['aee']['idescola'])['escola'];
								?>

								<div class="control-group">
									<label class="control-label">Unidade Escolar <span class="required">*</span></label>
									<div class="controls">
										<ul class="list-group" style="width: 50%;">    
											<li class="list-group-item"> Aluno:  <?php echo Escolasalunos::getEscolaalunoByIdHelper( $dadosAluno['aee']['idaluno'] )['nomerazao'] ?></li>
											<li class="list-group-item"> EscolaRegular:  <?= $dadosAluno['aee']['escolaregular'] ?></li>
											<li class="list-group-item"> Professor Regular:  <?= $dadosAluno['professor'] ?></li>
											<li class="list-group-item"> Escola Aee:  <?= $dadosAluno['escola'] ?></li>
											<li class="list-group-item"> Professor Aee: <?= $dadosAluno['professorAee'] ?></li>
										</ul>
									</div>
								</div>

								<div class="control-group">
									<label class="control-label">Aulas <span class="required">*</span></label>

										<?php
											$horarioAulas['aeelistamaterias'] = Aeelistamaterias::getAeelistamateriasHelper(array('idaee' => $this->post_var['idaluno']));
										?>

										<table  style="width:50%">
											<tr>
												<th colspan="5">Aulas</th>
											</tr> 						
											<tr>
												<th>Segunda-feira</th>
												<th>Terça-feira</th>
												<th>Quarta-feira</th>
												<th>Quinta-feira</th> 
												<th>Sexta-feira</th>
											</tr>  
											<?php for ($i=0; $i < count($horarioAulas['aeelistamaterias']); $i++) : ?>
												<tr> 
													<td> <?php echo $horarioAulas['aeelistamaterias'][$i]['segundafeira'] ?> </td>
													<td> <?php echo $horarioAulas['aeelistamaterias'][$i]['tercafeira'] ?> </td>
													<td> <?php echo $horarioAulas['aeelistamaterias'][$i]['quartafeira'] ?> </td>
													<td> <?php echo $horarioAulas['aeelistamaterias'][$i]['quintafeira'] ?> </td>
													<td> <?php echo $horarioAulas['aeelistamaterias'][$i]['sextafeira'] ?> </td>
												</tr> 
											<?php endfor; ?>
										</table>
									</div>
								</div>
 
							<?php endif ; ?> 
							
							<?php if($this->editar OR $this->visualizar) : ?>
								<div class="control-group">
									<label class="control-label">Ano <span class="required">*</span></label>
									<div class="controls">
										<?php echo $this->post_var['dataAno'] ; ?>
										<input type="hidden" name="dataAno" value="<?php echo $this->post_var['dataAno']; ?>">
									</div>
								</div>
							<?php else : ?>
								<div class="control-group">
									<label class="control-label">Ano <span class="required">*</span></label>
									<div class="controls">
										<div  id="adderror"></div>
										<select name="dataAno" data-placeholder="Ano" class="select" onclick="verificaano(this), setSalas(this,0)" id="resetfield" >
											<option value="">Selecione...</option>
											<option value="2018">2018</option>
											<option value="2019">2019</option>
											<option value="2020">2020</option> 
										</select> 
									</div>
								</div>
							<?php endif; ?>	

					 
					 	<?php if($this->adicionar) : ?>
							<div id="calendario"></div>
						<?php endif; ?>	
						
						<?php if($this->editar OR $this->visualizar) : ?>
							<?php echo $this->render('educacaoespecialcontrolefrequencias/helpers/calendario.phtml') ?> 
						<?php endif; ?>	
							
										
							<div class="control-group">
								<label class="control-label">Status <span class="required">*</span></label>
								<div class="controls">
									<?php if(!$this->visualizar) : ?>	
										<select name="status1" data-placeholder="Status" class="select">
											<option value="">Selecione...</option>
											<option value="Ativo">Ativo</option><option value="Bloqueado">Bloqueado</option>
										</select>
									<?php else:  ?>
										<?= $this->post_var['status']; ?>
									<?php endif; ?>
								</div>
							</div> 
   
						    
			                <div class="form-actions align-right">
			                	<?php if ((isset($this->visualizar)) && ($this->visualizar)) : ?>
			                		<button onclick="window.history.back()" class="btn btn-danger cancelar" type="button">Voltar</button>
			                	<?php else : ?>
				                	<button class="btn btn-primary enviar" type="submit">Salvar</button>
				                	<button onclick="window.history.back()" class="btn btn-danger cancelar" type="button">Cancelar</button>
			                	<?php endif; ?>
			                </div>
						</div>
						<!-- /general form elements -->

					</fieldset> 

				</form>
				<!-- /basic inputs -->

		    </div>
		    <!-- /content wrapper -->

		</div>
		<!-- content -->
 		
	<script type="text/javascript" src="<?php echo $this->baseUrl('/public/scripts/admin/educacaoespecialcontrolefrequencias_form.js') ?>"></script>
 			
<script type="text/javascript">
	var form_values = {};
	
	<?php if (isset($this->post_var)) :  ?> 

		form_values.idaluno = '<?php echo (isset($this->post_var['idaluno'])) ? $this->post_var['idaluno'] : '' ?>';

		form_values.dataAno = '<?php echo (isset($this->post_var['dataAno'])) ? $this->post_var['dataAno'] : '' ?>';

		form_values.status1 = '<?php echo (isset($this->post_var['status1'])) ? $this->post_var['status1'] : $this->post_var['status'] ?>'; 

	<?php endif; ?>

	visualizar = <?php echo  ((isset($this->visualizar)) && ($this->visualizar))  ? 'true' : 'false' ?>;
</script> 