<style>
    /* DivTable.com */
.divTable{
	display: table;
	width: 100%;
}
.divTableRow {
	display: table-row;
}
.divTableHeading {
	background-color: #EEE;
	display: table-header-group;
}
.divTableCell, .divTableHead {
	border: 0px solid #999999;
	display: table-cell;
	padding: 3px 10px;
}
.divTableHeading {
	background-color: #EEE;
	display: table-header-group;
	font-weight: bold;
}
.divTableFoot {
	background-color: #EEE;
	display: table-footer-group;
	font-weight: bold;
}
.divTableBody {
	display: table-row-group;
}
</style>


    <!-- Content -->
		<div id="content">

		    <!-- Content wrapper -->
		    <div class="wrapper">

			    <!-- Breadcrumbs line -->
			    <div class="crumbs">
			    	<?php echo $this->render('/helpers/breadcrumb.phtml') ?>
			    </div>
			    <!-- /breadcrumbs line -->

			    <!-- Page header -->
			    <div class="page-header">
			    	<div class="page-title">
				    	<h5>Formulário de Refeição </h5>
				    	<span>Verifique os campos e preencha com os dados</span>
			    	</div>
			    </div>
			    <!-- /page header -->

			    <?php if (isset($this->crudMessage)) : ?>
					<div class="alert alert-success">
	                	<button data-dismiss="alert" class="close" type="button">×</button>
	                    <strong>Operação realizada com sucesso!</strong>
		    			<span><br /><?php echo $this->crudMessage ?></span>
	                </div>			    
			    <?php endif; ?>

				<form id="form" name="form" action="" method="post" class="form-horizontal" enctype="multipart/form-data"> 
                                    
					<input type="hidden" value="<?php echo (isset($this->post_var)) ? $this->post_var["id"] : ''; ?>" name="id" id="id" />
					
					<fieldset>
						<!-- General form elements -->
						<div class="widget row-fluid">
						    <div class="navbar">
						        <div class="navbar-inner">
						            <h6>Digite as informações do formulário</h6>
						        </div>
						    </div>

						    <div class="well">
								<?php if (isset($this->erros)) : ?>
									<div class="alert alert-error margin">
				                        <button data-dismiss="alert" class="close" type="button">×</button>
				                        <strong>Há erros no formulário!</strong>
					    				<?php foreach ($this->erros as $k=>$v) : ?>
					    					<span><br />- <?php echo $v ?></span>
					    				<?php endforeach;?>			                        
				                    </div>
			                    <?php endif; ?>						    
						    

                                <div class="control-group">
                                    
                                    <table border="0" class="table">
                                        <tbody>
                                            <tr>
                                                <td width="50%" >
                                                    <label class="control-label">Título <span class="required">*</span></label>
                                                    <div class="controls"><input name="titulo" type="text" data-placeholder="Título do Prato" value="<?php echo (isset($this->post_var['titulo'])) ? $this->post_var['titulo'] : ''; ?>" class="span12" /></div>
                                                </td>
                                                <td width="40%">
                                                    <div class="controls">
                                                        <input name="favorita" id="favorita" type="hidden" data-placeholder="Favorita" value="<?php echo (isset($this->post_var['favorita'])) ? $this->post_var['favorita'] : '0'; ?>" class="span3" />
                                                        <?php
                                                            if(isset($this->post_var['favorita'])) :
                                                                echo '<script> window.onload = function() { setEstrelas(',$this->post_var['favorita'],'); }; </script>';
                                                            endif;
                                                        ?>
                                                        <span id="estrela01" class="icon-star-empty btn-large" style="color: goldenrod; font-size: 25px;" <?php if (!$this->visualizar) { echo 'onclick="setStarzinhas(this)"'; } ?> ></span>
                                                        <span id="estrela02" class="icon-star-empty btn-large" style="color: goldenrod; font-size: 25px;" <?php if (!$this->visualizar) { echo 'onclick="setStarzinhas(this)"'; } ?> ></span>
                                                        <span id="estrela03" class="icon-star-empty btn-large" style="color: goldenrod; font-size: 25px;" <?php if (!$this->visualizar) { echo 'onclick="setStarzinhas(this)"'; } ?> ></span>
                                                        <span id="estrela04" class="icon-star-empty btn-large" style="color: goldenrod; font-size: 25px;" <?php if (!$this->visualizar) { echo 'onclick="setStarzinhas(this)"'; } ?> ></span>
                                                        <span id="estrela05" class="icon-star-empty btn-large" style="color: goldenrod; font-size: 25px;" <?php if (!$this->visualizar) { echo 'onclick="setStarzinhas(this)"'; } ?> ></span>
                                                    </div>
                                                </td>
                                                <td width="10%">
                                                    <h5 id="nota"><?php echo (isset($this->post_var['favorita'])) ? $this->post_var['favorita'] : '0'; ?></h5>    
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>

                                    
                                </div>

                                <div class="control-group">
                                        <label class="control-label">Quantidade de Porções <span class="required">*</span></label>
                                        <div class="controls"><input name="porcoes" type="number" data-placeholder="Quantidade de Porções" value="<?php echo (isset($this->post_var['porcoes'])) ? $this->post_var['porcoes'] : ''; ?>" class="span2" /></div>
                                </div>

                                <div class="control-group">
                                    <label class="control-label">Foto ilustrativa </label>
                                    <div class="controls">
                                        <?php if ((isset($this->post_var['idimagem'])) && ((int)$this->post_var['idimagem']>0)) : ?>
                                            <?php echo $this->getImagem($this->post_var['idimagem'], 270, 170, '', Imagens::$INDISPONIVEL) ?>

                                            <?php if (!$this->visualizar) : ?>
                                                <div class="checkbox block">
                                                    <label><input type="checkbox" name="excluir_idimagem" value="excluir_idimagem" /> Desejo excluir a imagem</label>
                                                </div>
                                            <?php endif; ?>
                                        <?php endif; ?>
                                    <input placeholder="Foto" name="idimagem" type="file"  />
                                    </div>
                                </div>

				<div class="control-group">
					<label class="control-label">Descrição </label>
					<div class="controls"><textarea class="span12" name="descricao" cols="5" rows="18"><?php echo (isset($this->post_var['descricao'])) ? $this->post_var['descricao'] : ''; ?></textarea></div>
				</div>

				<div class="control-group">
                                    <div class="itens">
                                        <table class="table table-refeicoes table-primary mb30" border="1">
                                            <thead>
                                                <tr>
                                                    <th colspan="4">
                                                        <div class="divTable">
                                                            <h3>Ingredientes</h3>
                                                            <?php if (!$this->visualizar) : ?>
                                                            <div class="divTableBody">
                                                                <div class="divTableRow">
                                                                    <div class="divTableCell" style="width: 30%;">
                                                                        <b>Produto: </b>    
                                                                    </div>
                                                                    <div class="divTableCell" style="width: 10%;">
                                                                        <b>Quantidade: </b>
                                                                    </div>    
                                                                    <div class="divTableCell" style="width: 20%;">
                                                                        <b>Unidade: </b>
                                                                    </div>
                                                                    <div class="divTableCell" style="width: 30%;">
                                                                        <b>Valor (g): </b>
                                                                    </div>
                                                                    <div class="divTableCell" style="width: 10%;">
                                                                        &nbsp;
                                                                    </div>
                                                                </div>
                                                                <div class="divTableRow">
                                                                    <div class="divTableCell">
                                                                        <select data-placeholder="Ingredientes" id="ing" class="select" onchange="setBtnAddRefeicao(this)" style="width: 100%;" >
                                                                            <option value="">Selecione...</option>
                                                                            <?php foreach(Nutricaotacoalimentos::getNutricaotacoalimentosHelper(array('status'=>'Ativo')) as $k=>$v) : ?>
                                                                                <option value="<?php echo $v['id'] ?>"><?php echo $v['descricao'] ?></option>
                                                                            <?php endforeach;?>
                                                                        </select>
                                                                    </div>
                                                                    <div class="divTableCell">
                                                                        <input id="qtd" type="number" data-placeholder="Quantidade" min="1" step="any" style="width: 100%;"/>
                                                                    </div>
                                                                    <div class="divTableCell">
                                                                        <select data-placeholder="Unidades" name='unidade' id="uni" class="select" style="width: 100%;">
                                                                            <option value="">Selecione...</option>
                                                                            <?php foreach(Unidadescomerciais::getUnidadescomerciaisHelper(array('status'=>'Ativo')) as $k=>$v) : ?>
                                                                                <option value="<?php echo $v['id'] ?>"><?php echo $v['descricao'] ?></option>
                                                                            <?php endforeach;?>
                                                                        </select>
                                                                    </div>
                                                                    <div class="divTableCell">
                                                                        <input id="obs" type="number" data-placeholder="Observação"  min="1" style="width: 100%;"/>
                                                                    </div>
                                                                    <div class="divTableCell" style="text-align: center">
                                                                        <button id="BtnAddRefeicao" type="button" onclick="refeicaoAddTr()" class="btn btn-large btn-inverse" disabled="true" style="font-size: 25;">Adicionar</button>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <?php endif; ?>
                                                        </div>                                                        
                                                    </th>
                                                    
                                                </tr>
                                                <tr>
                                                    <th align="left" style="text-align: center; white-space: normal; width: 100px;">Qtde:</th>
                                                    <th align="left" style="text-align: center; white-space: normal; width: 100px;">Und:</th>
                                                    <th align="left" style="text-align: center;">Produto:</th>										
                                                    <th align="left" style="text-align: center;">Ação:</th>
                                                </tr>
                                            </thead>
                                            <tbody>	
                                                    <script type="text/javascript">

                                                    $(document).ready(function() {

                                                            <?php if (isset($this->post_var['id'])) : ?>

                                                            <?php foreach (Nutricaorefeicoesingredientes::getNutricaorefeicoesingredientesHelper(array('idnutricaorefeicao' => $this->post_var['id'])) as $c=>$row) : ?>

                                                            <?php 
                                                                $row['var_db'] = true;
                                                            ?>

                                                            refeicoes = '<?php echo str_replace("'", "\'", json_encode($row)) ?>';

                                                            

                                                            refeicaoAddTrInicio(refeicoes);

                                                            <?php endforeach;?>

                                                            somatorioretornoativo();

                                                            

                                                            <?php endif; ?>
                                                    });
                                                    </script>
                                            </tbody>

                                            <tfoot>
                                                <tr id="modelo-refeicao" style="display:none;">
                                                    <td align="center" style="text-align:center !Important;">
                                                        <input name="_id" type="hidden"/>
                                                        <input name="quantidade[]" type="text" class="form-control" placeholder="Quantidade" style="text-align: center; border: 0; box-shadow: none;">
                                                    </td>
                                                    
                                                    <td align="center" style="text-align:center !Important;">
                                                        <input name="unidade[]" type="hidden"/>
                                                        <div name="unidade[]">...</div>
                                                    </td>

                                                    <td align="center" style="text-align:center !Important;">
                                                        
                                                        <input name="idnutricaorefeicao[]" type="hidden"/>
                                                        <input name="idnutricaotacoalimento[]" type="hidden"/>
                                                        <input name="descricaotacoalimento[]" type="hidden"/>
                                                        <input name="observacao[]" type="hidden"/>
                                                        <div name="descricaotacoalimento[]">...</div>
                                                        <div name="observacao[]" style="color: #999999">...</div>
                                                    </td>

                                                    <td style="text-align: center !important;" align="center">
                                                        <a <?php if (!$this->visualizar) { echo 'onclick="refeicoesExcluirFromTable(this);"'; } ?> class="btn btn-danger"><span class="icon-trash"></span></a>
                                                    </td>

                                                </tr>
                                                <tr>
                                                    <td style="text-align: center !important;" align="center">
                                                        <div id="subtotQtd" style="font-weight: bold">0</div>
                                                    </td>
                                                    <td colspan="3"></td>
                                                </tr>
                                            </tfoot>
                                        </table>
                                    </div>
				</div>                                                        


				


                <div class="control-group">
					<table class='table'>
                        <thead>
                            <tr>
                                <td>Descricao</td>
                                <td>QTDE</td>
                                <td>Gramas</td>
                                <td>Kcal</td>
                                <td>CHO</td>
                                <td>LPD</td>
                                <td>PTN</td>
                                <td>Fibra</td>
                                <td>Vit A</td>
                                <td>Vit C</td>
                                <td>Fe</td>
                                <td>Mg</td>
                                <td>Ca</td>
                                <td>Zn</td>
                            </tr>
                        </thead>
                        <tbody id='resultados_soma'>
                            <tr >
                                <td>--</td>
                                <td>--</td>
                                <td>--</td>
                                <td>--</td>
                                <td>--</td>
                                <td>--</td>
                                <td>--</td>
                                <td>--</td>
                                <td>--</td>
                                <td>--</td>
                                <td>--</td>
                            </tr>
                        </tbody>
                    </table>
				</div>
                
                <div class="control-group">
					<label class="control-label">Status <span class="required">*</span></label>
					<div class="controls">
						<select name="status1" data-placeholder="Status" class="select">
							<option value="">Selecione...</option>
							<option value="Ativo">Ativo</option><option value="Bloqueado">Bloqueado</option>
						</select>
						
					</div>
                </div>
                


						    
						    
						    </div>
						    
			                <div class="form-actions align-right">
			                	<?php if ((isset($this->visualizar)) && ($this->visualizar)) : ?>
			                		<button onclick="window.history.back()" class="btn btn-danger cancelar" type="button">Voltar</button>
			                	<?php else : ?>
				                	<button class="btn btn-primary enviar" type="submit">Salvar</button>
				                	<button onclick="window.history.back()" class="btn btn-danger cancelar" type="button">Cancelar</button>
			                	<?php endif; ?>
			                </div>
						</div>
						<!-- /general form elements -->

					</fieldset> 

				</form>
				<!-- /basic inputs -->

		    </div>
		    <!-- /content wrapper -->

		</div>

        <div id='divAlerta' style='display: none'>
            <div class='row'>
                <table class='table'>
                    <tr>
                        <td>
                           <h5>Verifique novamente os valores para a inclusão do Alimento á Refeição!</h5>
                        </td>
                    </tr>
                </table>
            </div>
            
        </div>
		<!-- content -->
				
<script type="text/javascript" src="<?php echo $this->baseUrl('/public/scripts/admin/nutricaorefeicoes_form.js') ?>"></script>
<script type="text/javascript">

$(window).load(function(){
    somageral();
});


	var form_values = {};
	
	<?php if (isset($this->post_var)) :  ?>
		form_values.status1 = '<?php echo (isset($this->post_var['status1'])) ? $this->post_var['status1'] : $this->post_var['status'] ?>';


	<?php endif; ?>

	visualizar = <?php echo  ((isset($this->visualizar)) && ($this->visualizar))  ? 'true' : 'false' ?>;
       
</script>
