		<!-- Content -->
		<div id="content">

		    <!-- Content wrapper -->
		    <div class="wrapper">

			    <!-- Breadcrumbs line -->
			    <div class="crumbs">
			    	<?php echo $this->render('/helpers/breadcrumb.phtml') ?>
			    </div>
			    <!-- /breadcrumbs line -->

			    <!-- Page header -->
			    <div class="page-header">
			    	<div class="page-title">
				    	<h5>Formulário do funcionário</h5>
				    	<span>Verifique os campos e preencha com os dados</span>
			    	</div>
			    </div>
			    <!-- /page header -->

			    <?php if (isset($this->crudMessage)) : ?>
					<div class="alert alert-success">
	                	<button data-dismiss="alert" class="close" type="button">×</button>
	                    <strong>Operação realizada com sucesso!</strong>
		    			<span><br /><?php echo $this->crudMessage ?></span>
	                </div>			    
			    <?php endif; ?>

				<form id="form" name="form" action="" method="post" class="form-horizontal" enctype="multipart/form-data"> 
					<input type="hidden" value="<?php echo (isset($this->post_var)) ? $this->post_var["id"] : ''; ?>" name="id" id="id" />
					
					<fieldset>
						<!-- General form elements -->
						<div class="widget row-fluid">
						    <div class="navbar">
						        <div class="navbar-inner">
						            <h6>Digite as informações do formulário</h6>
						        </div>
						    </div>

						    <div class="well">
								<?php if (isset($this->erros)) : ?>
									<div class="alert alert-error margin">
				                        <button data-dismiss="alert" class="close" type="button">×</button>
				                        <strong>Há erros no formulário!</strong>
					    				<?php foreach ($this->erros as $k=>$v) : ?>
					    					<span><br />- <?php echo $v ?></span>
					    				<?php endforeach;?>			                        
				                    </div>
			                    <?php endif; ?>						    
						    

				<div class="control-group">
					<label class="control-label">Foto </label>
					<div class="controls">
						<?php if ((isset($this->post_var['idimagem'])) && ((int)$this->post_var['idimagem']>0)) : ?>
							<?php echo $this->getImagem($this->post_var['idimagem'], 80, 80, '', Imagens::$INDISPONIVEL) ?>
					
							<?php if (!$this->visualizar) : ?>
								<div class="checkbox block">
									<label><input type="checkbox" name="excluir_idimagem" value="excluir_idimagem" /> Desejo excluir a imagem</label>
								</div>
							<?php endif; ?>
						<?php endif; ?>						            
					
						<input placeholder="Foto" name="idimagem" type="file"  />
					</div>
				</div>	


				<div class="control-group">
					<label class="control-label">Nome completo </label>
					<div class="controls"><input maxlength="500" placeholder="Nome completo" name="nome" value="<?php echo (isset($this->post_var['nome'])) ? $this->post_var['nome'] : '' ?>" type="text"  class="span3" /></div>
				</div>


				<div class="control-group">
					<label class="control-label">Telefone </label>
					<div class="controls"><input maxlength="500" placeholder="Telefone" name="telefone" value="<?php echo (isset($this->post_var['telefone'])) ? $this->post_var['telefone'] : '' ?>" type="text"  class="span3" /></div>
				</div>

	        		<div class="control-group">
	        			<label class="control-label">Escola</label>
	        			<div class="controls">
	        				<select id="idescola" name="idescola" class="form-control" onchange="setDepartamentos(this, 0)">
	        					<option value="">Selecione</option>
								<?php foreach (Escolas::getEscolasHelper(array('status'=>'Ativo', 'idsecretaria'=>Usuarios::getSecretariaAtiva( Usuarios::getUsuario('id'), 'id' ))) as $k=>$v) : ?>
									<option value="<?php echo $v['id'] ?>"><?php echo $v['escola'] ?></option>
								<?php endforeach;?>
							</select>        				
						</div>
					</div>

	        		<div class="control-group">
	        			<label class="control-label">Departamento</label>
	        			<div class="controls">
	        				<select id="iddepartamentoescola" name="iddepartamentoescola" class="form-control" onchange="setCargos(this, 0)">
	        					<option value="">Selecione</option>
							</select>        				
						</div>
					</div>


	        		<div class="control-group">
	        			<label class="control-label">Cargo</label>
	        			<div class="controls">
	        				<select id="idcargo" name="idcargo" class="form-control" onchange="setFuncoes(this, 0)">
	        					<option value="">Selecione</option>
							</select>        				
						</div>
					</div>


	        		<div class="control-group">
	        			<label class="control-label">Função</label>
	        			<div class="controls">
	        				<select id="idfuncao" name="idfuncao" class="form-control">
	        					<option value="">Selecione</option>
							</select>        				
						</div>
					</div>


				<div class="control-group">
					<label class="control-label">E-mail </label>
					<div class="controls"><input maxlength="500" placeholder="E-mail" name="email" value="<?php echo (isset($this->post_var['email'])) ? $this->post_var['email'] : '' ?>" type="text"  class="span3" /></div>
				</div>

<div class="control-group">
				        			<label class="control-label">Prefeitura *</label>
				        			<div class="controls">
				        				<select id="idprefeitura" name="idprefeitura" class="form-control">
				        					<option value="">Selecione...</option>
				        					<?php foreach ($this->prefeituras as $p=>$prefeitura): ?>
				        					<?php 
				        						$cidade = $prefeitura['c1nome'];

				        						if(($prefeitura['idendereco'] > 0) && (!$cidade) || ($cidade=="")){				        							
				        							$endereco = Enderecos::getEnderecoById($prefeitura['idendereco']);
				        							if(isset($endereco['cidade'])) $cidade = $endereco['cidade'];
				        						}

				        					?>
				        					<option value="<?php echo $prefeitura['id']?>"><?php echo $prefeitura['e1nome'] . ' > ' . $cidade ?></option>
				        					<?php endforeach;?>
										</select>        				
									</div>
								</div>

								<div class="control-group">
				        			<label class="control-label">RGF *</label>
				        			<div class="controls">
				        				<input name="rgf" value="<?php echo (isset($this->post_var['rgf'])) ? $this->post_var['rgf'] : '' ?>" type="text" class="span3" placeholder="RGF">
									</div>
								</div>												
						        
				        		<div class="control-group">
				        			<label class="control-label">É Professor ?*</label>
				        			<div class="controls">
				        				<select id="professor" name="professor" class="form-control" onchange="setCamposUser(this, '')">
				        					<option value="">Selecione...</option>
				        					<option value="Sim">Sim</option>
				        					<option value="Não">Não</option>
										</select>        				
									</div>
								</div>
	
				
						        <div class="control-group">
						            <label class="control-label">Senha <?php if ($this->getAction()=='adicionar') : ?><span class="required">*</span><?php endif;?></label>
						            <div class="controls"><input autocomplete="off" name="senha" placeholder="Senha" value="" type="password" name="regular" class="span3" /></div>
						        </div>			

						        <div class="control-group">
						            <label class="control-label">Confirme a senha <?php if ($this->getAction()=='adicionar') : ?><span class="required">*</span><?php endif;?></label>
						            <div class="controls"><input autocomplete="off" name="resenha" placeholder="Confirme a senha" value="" type="password" name="regular" class="span3" /></div>
						        </div>					
				

				        		

<div class="control-group campos_professores" style="display:none;">
        			<label class="control-label">Escolas *</label>
        			<div class="controls">
        				<input type="hidden" value="<?php echo (isset($this->post_var_professor)) ? $this->post_var_professor["idperfil"] : ''; ?>" name="idperfilprofessor" id="idperfilprofessor" />
        				<input type="hidden" value="<?php echo (isset($this->post_var_professor)) ? $this->post_var_professor["iddepartamento"] : ''; ?>" name="iddepartamentoprofessor" id="iddepartamentoprofessor" />
        				<input type="hidden" value="<?php echo (isset($this->post_var_professor)) ? $this->post_var_professor["idcargo"] : ''; ?>" name="idcargoprofessor" id="idcargoprofessor" />
        				<?php foreach ($this->escolas as $k=>$v) : ?>
        				<input type="checkbox" value="<?php echo $v['id'] ?>" name="idescolas[]" /> <?php echo $v['escola'] ?><br />
        				<?php endforeach;?>      				
					</div>
				</div>
        		
	        	<div class="campos_nao_professores" style="display:none;">	

								<div class="control-group">
				        			<label class="control-label">Envia e-mails para</label>
				        			<div class="controls">
				        				<select id="professor" name="enviaemails" class="form-control" onchange="setDepartamentos(this, '')">
				        					<option value="">Selecione...</option>
				        					<option value="Rede municipal de ensino">Rede municipal de ensino</option>
				        					<option value="Professor">Professor</option>
				        					<option value="Departamentos">Departamentos</option>
										</select>        				
									</div>
								</div>
								<div class="control-group campos_departamentos" style="display:none;">
				        			<label class="control-label">Departamentos</label>
				        			<div class="controls content_departamentos">
				           				
									</div>
								</div>

	        		<div class="control-group">
	        			<label class="control-label">Perfil de acesso *</label>
	        			<div class="controls">
	        				<select id="idperfil" name="idperfil" class="form-control">
	        					<option value="">Selecione...</option>
								<?php /*foreach ($this->perfis as $i=>$row) : ?>
								<option value="<?php echo $row['id'] ?>"><?php echo $row['perfil'] ?></option>
								<?php endforeach;*/?>
							</select>        				
						</div>
					</div>

				<div class="control-group">
					<label class="control-label">Status <span class="required">*</span></label>
					<div class="controls">
						<select name="status1" data-placeholder="Status" class="select">
							<option value="">Selecione...</option>
							<option value="Ativo">Ativo</option><option value="Bloqueado">Bloqueado</option>
						</select>
						
					</div>
				</div>

						    
						    
						    </div>
						    
			                <div class="form-actions align-right">
			                	<?php if ((isset($this->visualizar)) && ($this->visualizar)) : ?>
			                		<button onclick="window.history.back()" class="btn btn-danger cancelar" type="button">Voltar</button>
			                	<?php else : ?>
				                	<button class="btn btn-primary enviar" type="submit">Salvar</button>
				                	<button onclick="window.history.back()" class="btn btn-danger cancelar" type="button">Cancelar</button>
			                	<?php endif; ?>
			                </div>
						</div>
						<!-- /general form elements -->

					</fieldset> 

				</form>
				<!-- /basic inputs -->

		    </div>
		    <!-- /content wrapper -->

		</div>
		<!-- content -->
				
<script type="text/javascript" src="<?php echo $this->baseUrl('/public/scripts/admin/funcionariosgeraisescolas_form.js') ?>"></script>
<script type="text/javascript">
	var form_values = {};
	
	<?php if (isset($this->post_var)) :  ?>
		form_values.idsecretaria = '<?php echo (isset($this->post_var['idsecretaria'])) ? $this->post_var['idsecretaria'] : '' ?>';

form_values.tipo = '<?php echo (isset($this->post_var['tipo'])) ? $this->post_var['tipo'] : '' ?>';

form_values.e_idenderecoidestado = '<?php echo (isset($this->post_var['e_idenderecoidestado'])) ? $this->post_var['e_idenderecoidestado'] : '' ?>';
form_values.iddepartamentoescola = '<?php echo (isset($this->post_var['iddepartamentoescola'])) ? $this->post_var['iddepartamentoescola'] : '' ?>';

form_values.cnh = '<?php echo (isset($this->post_var['cnh'])) ? $this->post_var['cnh'] : '' ?>';

form_values.estrangeiro = '<?php echo (isset($this->post_var['estrangeiro'])) ? $this->post_var['estrangeiro'] : '' ?>';

form_values.grauinstrucao = '<?php echo (isset($this->post_var['grauinstrucao'])) ? $this->post_var['grauinstrucao'] : '' ?>';

form_values.estadocivil = '<?php echo (isset($this->post_var['estadocivil'])) ? $this->post_var['estadocivil'] : '' ?>';

form_values.filhos = '<?php echo (isset($this->post_var['filhos'])) ? $this->post_var['filhos'] : '' ?>';

form_values.regime = '<?php echo (isset($this->post_var['regime'])) ? $this->post_var['regime'] : '' ?>';

form_values.bolsista = '<?php echo (isset($this->post_var['bolsista'])) ? $this->post_var['bolsista'] : '' ?>';
form_values.idescola = '<?php echo (isset($this->post_var['idescola'])) ? $this->post_var['idescola'] : '' ?>';
form_values.iddepartamentoescola = '<?php echo (isset($this->post_var['iddepartamentoescola'])) ? $this->post_var['iddepartamentoescola'] : '' ?>';
form_values.idfuncao = '<?php echo (isset($this->post_var['idfuncao'])) ? $this->post_var['idfuncao'] : '' ?>';
form_values.idcargo = '<?php echo (isset($this->post_var['idcargo'])) ? $this->post_var['idcargo'] : '' ?>';
form_values.status1 = '<?php echo (isset($this->post_var['status1'])) ? $this->post_var['status1'] : $this->post_var['status'] ?>';


	<?php endif; ?>

form_values.idprefeitura = '<?php echo (isset($this->post_var['idprefeitura'])) ? $this->post_var['idprefeitura'] : '' ?>';
form_values.professor = '<?php echo (isset($this->post_var['professor'])) ? $this->post_var['professor'] : '' ?>';
form_values.idescola = '<?php echo (isset($this->post_var['idescola'])) ? $this->post_var['idescola'] : '' ?>';
form_values.enviaemails = '<?php echo (isset($this->post_var['enviaemails'])) ? $this->post_var['enviaemails'] : '' ?>';
form_values.idperfil = '<?php echo (isset($this->post_var['idperfil'])) ? $this->post_var['idperfil'] : '' ?>';







	visualizar = <?php echo  ((isset($this->visualizar)) && ($this->visualizar))  ? 'true' : 'false' ?>;
</script>
