		<!-- Content -->
		<div id="content">

		    <!-- Content wrapper -->
		    <div class="wrapper">

			    <!-- Breadcrumbs line -->
			    <div class="crumbs">
			    	<?php echo $this->render('/helpers/breadcrumb.phtml') ?>
			    </div>
			    <!-- /breadcrumbs line -->

			    <!-- Page header -->
			    <div class="page-header">
			    	<div class="page-title">
				    	<h5>Dashboard</h5>
				    	<span>Bem vindo!</span>
			    	</div>
			    </div>
			    <!-- /page header -->
			                	<?php if ((Mn_Util::isDefaultAccess('protocolos', 'visualizar'))) : ?>
<!-- Table with footer -->
                <div class="widget">
                	<form action="#" class="form-horizontal" method="post">
                		
	                	<div class="navbar">
	                		<div class="navbar-inner">
	                			<h6>Visualizando registros</h6>
	                		</div>
	                	</div>
	                    <div class="table-overflow">
	                        <table class="table table-content">
	                            <thead>
	                                <tr>
	                                    <th width="20">#</th>
                                    <th class="">N° do Protocolo</th>
                                    <th class="">Tipo</th>
                                    <th class="">Usuário/Departa.</th>
                                    <th class="">Usuário Resp./Depart. Resp.</th>
                                    <th class="s-titulo sorting">Solicitação</th>
                                    <th class="s-descricoes sorting">Descrições</th>
                                    <th class="s-status sorting">Status</th>


	                                    <th width="96">Ações</th>
	                                </tr>
	                                <tr>
	                                    <th></th>
	                                    <th>
	                                    </th>
										<th>
											<?php /* ?>
											<div>
												<select name="idusuariocriacao" placeholder="Todos" class="select">
													<option value="">Todos</option>
													<?php foreach (Usuarios::getUsuariosHelper(array('status'=>'Ativo')) as $k=>$v) : ?>
														<option value="<?php echo $v['id'] ?>"><?php echo $v['nomerazao'] ?></option>
													<?php endforeach;?>
												</select>
											</div>
											<?php */ ?>
										</th>

										<th>
											<?php /* ?>
											<div>
												<select name="iddepartamentosecretaria" placeholder="Todos" class="select">
													<option value="">Todos</option>
													<?php foreach (Departamentossecretarias::getDepartamentossecretariasHelper(array('status'=>'Ativo')) as $k=>$v) : ?>
														<option value="<?php echo $v['id'] ?>"><?php echo $v['departamento'] ?></option>
													<?php endforeach;?>
												</select>
											</div>
											<?php */ ?>
										</th>

										<th>
											<?php /* ?>
											<div>
												<select name="idescola" placeholder="Todos" class="select">
													<option value="">Todos</option>
													<?php foreach (Escolas::getEscolasHelper(array('status'=>'Ativo')) as $k=>$v) : ?>
														<option value="<?php echo $v['id'] ?>"><?php echo $v['escola'] ?></option>
													<?php endforeach;?>
												</select>
											</div>
											<?php */ ?>
										</th>
										

										<th>
										</th>
										<th>
										</th>

										<th>
										
										</th>
                   

	                                    <th><button class="btn btn-mini btn-primary" type="submit">Pesquisar</button></th>
	                                </tr> 
	                                                                
	                            </thead>
	                            <tbody>
	                            	<?php if (sizeof($this->protocolos)==0) : ?>
	                                <tr>
	                                    <td colspan="9">Nenhum registro foi encontrado!</td>
	                                </tr>
	                            	
	                            	<?php else : ?>
	                            	<?php foreach ($this->protocolos as $row) : ?>
	                                <tr>
	                                	<td><?php //echo $row['id'] ?></td>

										<td><?php echo $row['numeroprotocolo'] ?></td>
										<td><?php echo $row['destinatario'] ?></td>
										<td>
											<?php if($row['origem']=="Secretaria"): ?>

												<?php
													$___rows = Usuarios::getUsuariosHelper(array('id'=>$row['idusuariocriacao']));
													$___row = (sizeof($___rows)>0) ? 	$___rows[0] : false;	
													
													echo ($___row) ? $this->formatTextoBranco($___row['nomerazao'] . ' ' . $___row['sobrenomefantasia'] . '<br />') : '--';		
												?>


												<?php /*
													if((int)$row['iddepartamentosecretaria'] > 0):
														$___rows = Departamentossecretarias::getDepartamentossecretariasHelper(array('id'=>$row['iddepartamentosecretaria']));
														$___row = (sizeof($___rows)>0) ? 	$___rows[0] : false;	
														
														echo ($___row) ? $this->formatTextoBranco($___row['departamento']) : '--';		
													endif; */
												?>
											<?php elseif ($row['destinatario']=="Escola") : ?>
												<?php
													$___rows = Usuarios::getUsuariosHelper(array('id'=>$row['idusuariocriacao']));
													$___row = (sizeof($___rows)>0) ? 	$___rows[0] : false;	
													
													echo ($___row) ? $this->formatTextoBranco($___row['nomerazao'] . '<br />') : '--';		
												?>
											<?php endif; ?>
										</td>

										<td>
											<?php if($row['destinatario']=="Interno"): ?>

											<?php
												$___rows = Usuarios::getUsuariosHelper(array('id'=>$row['idusuarioresponsavel']));
												$___row = (sizeof($___rows)>0) ? 	$___rows[0] : false;	
												
												echo ($___row) ? $this->formatTextoBranco($___row['nomerazao'] . ' ' . $___row['sobrenomefantasia'] . '<br />') : '--';		
											?>

											
											<?php
												if((int)$row['iddepartamentosecretaria'] > 0):
													$___rows = Departamentossecretarias::getDepartamentossecretariasHelper(array('id'=>$row['iddepartamentosecretaria']));
													$___row = (sizeof($___rows)>0) ? 	$___rows[0] : false;	
													
													echo ($___row) ? $this->formatTextoBranco($___row['departamento'] . '<br />') : '--';		
												endif;
											?>
											<?php elseif ($row['destinatario']=="Externo") : ?>
												<?php
												if((int)$row['idescola'] > 0):
													$___rows = Escolas::getEscolasHelper(array('id'=>$row['idescola']));
													$___row = (sizeof($___rows)>0) ? 	$___rows[0] : false;	
													
													echo ($___row) ? $this->formatTextoBranco($___row['escola'] . '<br />') : '--';
												endif;		
												?>

												<?php
												if((int)$row['idescolausuarioresponsavel'] > 0):
													$___rows = Escolasusuarios::getEscolasusuariosHelper(array('id'=>$row['idescolausuarioresponsavel']));
													$___row = (sizeof($___rows)>0) ? 	$___rows[0] : false;	
													
													echo ($___row) ? $this->formatTextoBranco($___row['nomerazao'] . ' ' . $___row['sobrenomefantasia'] . '<br />') : '--';
												endif;		
												?>

												<?php
													if((int)$row['iddepartamentoescola'] > 0):
														$___rows = Departamentosescolas::getDepartamentosescolasHelper(array('id'=>$row['iddepartamentoescola']));
														$___row = (sizeof($___rows)>0) ? 	$___rows[0] : false;	
														
														echo ($___row) ? $this->formatTextoBranco($___row['departamento'] . '<br />') : '--';		
													endif;
												?>
											<?php endif; ?>
										</td>
									
										<td><?php echo $row['titulo'] ?></td>
										<td><?php echo $row['descricoes'] ?></td>

										<td>
											<?php /*if (Mn_Util::isDefaultAccess($this->getController(), 'editar')) : ?>
												<a onclick="javascript:statusChange(<?php echo $row["id"]?>, this);" href="javascript:;"><?php echo $row['status'] ?></a>
											<?php else :*/ ?>
												<?php echo $row['status'] ?>
											<?php //endif; ?>
										</td>

			                				

	                                    <td>
	                                        <ul class="table-controls">
	                                            <li><a title="" class="btn tip" href="<?php echo $this->baseUrl() ?>/protocolos/visualizar/id/<?php echo $row['id'] ?>" data-original-title="Visualizar"><i class="icon-eye-open"></i></a> </li>
	                                            
	                                            <li><a title="" class="btn tip" href="<?php echo $this->baseUrl('/protocolos/gerarhistorico/id/' . $row['id'])?>" data-original-title="Visualizar" target="_blank" style="padding: 8px 6px;"><i class="ico-download-alt" style="height: 14.8px"></i></a> </li>
	                                        </ul>
	                                    </td>
	                                </tr>
	                            	<?php endforeach;?>
	                            	
	                            	
	                            	
	                            	
	                            	<?php endif; ?>
	
	                            </tbody>
	                        </table>
	                    </div>
	                    <?php echo $this->render('/helpers/paginator.phtml') ?>
                    
                    </form>

                </div>
                <!-- /table with footer -->
			    			                    <?php endif; ?>
		    </div>
		    <!-- /content wrapper -->

		</div>
		<!-- /content -->
