		<!-- Content -->
		<div id="content">

		    <!-- Content wrapper -->
		    <div class="wrapper">

			    <!-- Breadcrumbs line -->
			    <div class="crumbs">
			    	<?php echo $this->render('/helpers/breadcrumb.phtml') ?>
			    </div>
			    <!-- /breadcrumbs line -->

			    <!-- Page header -->
			    <div class="page-header">
			    	<div class="page-title">
				    	<h5>Formulário do controle de cardápio</h5>
				    	<span>Verifique os campos e preencha com os dados</span>
			    	</div>
			    </div>
			    <!-- /page header -->

			    <?php if (isset($this->crudMessage)) : ?>
					<div class="alert alert-success">
	                	<button data-dismiss="alert" class="close" type="button">×</button>
	                    <strong>Operação realizada com sucesso!</strong>
		    			<span><br /><?php echo $this->crudMessage ?></span>
	                </div>			    
			    <?php endif; ?>

				<form id="form" name="form" action="" method="post" class="form-horizontal" enctype="multipart/form-data"> 
					<input type="hidden" value="<?php echo (isset($this->post_var)) ? $this->post_var["id"] : ''; ?>" name="id" id="id" />
					
					<fieldset>
						<!-- General form elements -->
						<div class="widget row-fluid">
						    <div class="navbar">
						        <div class="navbar-inner">
						            <h6>Digite as informações do formulário</h6>
						        </div>
						    </div>

						    <div class="well">
								<?php if (isset($this->erros)) : ?>
									<div class="alert alert-error margin">
				                        <button data-dismiss="alert" class="close" type="button">×</button>
				                        <strong>Há erros no formulário!</strong>
					    				<?php foreach ($this->erros as $k=>$v) : ?>
					    					<span><br />- <?php echo $v ?></span>
					    				<?php endforeach;?>			                        
				                    </div>
			                    <?php endif; ?>						    
						    

               <?php $idescola = Usuarios::getUsuario('idescola'); ?>
				<?php $idlocal = Usuarios::getUsuario('idlocal'); ?>
				<?php if(($idescola>0) || ($idlocal>0)): ?>		    
				<div class="control-group">
					<div class="controls1 visualizar">
						<table class="table table-content" width="100%">
							<tbody>
								<tr>
									<input maxlength="500" placeholder="Nome do Usuário" name="idusuario" value="<?php echo Usuarios::getUsuario('id') ?>" type="hidden"  class="span3" />
									<input  placeholder="Data de lançamento" name="datalancamento" value="<?php echo (isset($this->post_var['datalancamento'])) ? Mn_Util::formPostVarData($this->post_var['datalancamento']) : date('d/m/Y') ?>" type="hidden"  class="span3" />
									<input maxlength="500" placeholder="Nome do Local" name="idlocal" value="<?php echo Usuarios::getUsuario('idlocal') ?>" type="hidden"  class="span3" />
									<input maxlength="500" placeholder="Nome do Usuário" name="idescola" value="<?php echo Usuarios::getUsuario('idescola') ?>" type="hidden"  class="span3" />

									<td width="33%">Nome do Usuário: <?php
						if(isset($this->post_var['idusuariologado'])):
							$usuario = Usuarios::getUsuarioByIdHelper($this->post_var['logusuario']);
						else:
							$usuario = Usuarios::getUsuario();
						endif;

						if(!isset($usuario['rgf'])){
							$usuario = Usuarios::getUsuario();
						}
						
						echo $usuario['nomerazao'] . ' ' . $usuario['sobrenomefantasia'] . ' - ' . $usuario['rgf'];
					?></td>
									<td width="34%">Data da Abertura: <?php echo date('d/m/Y') ?></td>
									<td width="33%">Local: <?php 
											$local = Locais::getLocalByIdHelper(Usuarios::getUsuario('idlocal')); 
											echo ((isset($local['titulo'])) && ($local['titulo']) && ($local['titulo']!="") ) ? $local['titulo'] : '';
										?>
											
									</td>
								</tr>
							</tbody>
						</table>
						
					</div>
				</div>
				<?php else: ?>
				<div class="control-group">
					<div class="controls1 visualizar">
						<table class="table table-content" width="100%">
							<tbody>
								<tr>
									<input maxlength="500" placeholder="Nome do Usuário" name="idusuario" value="<?php echo Usuarios::getUsuario('id') ?>" type="hidden"  class="span3" />
									<input  placeholder="Data de lançamento" name="datalancamento" value="<?php echo (isset($this->post_var['datalancamento'])) ? Mn_Util::formPostVarData($this->post_var['datalancamento']) : date('d/m/Y') ?>" type="hidden"  class="span3" />
									
									<td width="50%">Nome do Usuário: <?php
						if(isset($this->post_var['logusuario'])):
							$usuario = Usuarios::getUsuarioByIdHelper($this->post_var['logusuario']);
						else:
							$usuario = Usuarios::getUsuario();
						endif;
						echo $usuario['nomerazao'] . ' ' . $usuario['sobrenomefantasia'] . ' - ' . $usuario['rgf'];
					?></td>
									<td width="50%">Data da Abertura: <?php echo date('d/m/Y') ?></td>
									
								</tr>
							</tbody>
						</table>
						
					</div>
				</div>
				<?php endif; ?>


				<div class="control-group">
					<label class="control-label">Escolas <span class="required">*</span></label>
					<div class="controls">
                                                <select name="idescola" data-placeholder="Escolas" class="select" <?php if ($this->visualizar) {echo 'disabled="true"';} else {echo 'enabled="true"';} ?>  onchange="(setSeries(this,0),setPeriodos(this,0));">
							<option value="">Selecione...</option>
							<?php foreach (Escolas::getEscolasHelper(array('status'=>'Ativo', 'idsecretaria'=>Usuarios::getSecretariaAtiva( Usuarios::getUsuario('id'), 'id' ))) as $k=>$v) : ?>
                                                        <option value="<?php echo $v['id'] ?>"><?php echo $v['escola'] ?></option>
							<?php endforeach;?>
						</select>
						
					</div>
				</div>
    
				<div class="control-group">
					<label class="control-label">Tipo de Ensino </label>
					<div class="controls">
						<select name="idtipoensino" data-placeholder="Série" <?php if ($this->visualizar) {echo 'disabled="true"';} else {echo 'enabled="true"';} ?> class="select">
							<option value="">Selecione...</option>		
						</select> 
					</div>
				</div>

                                                        

				<div class="control-group">
					<label class="control-label">Selecionar o Tipo de Ensino </label>
					<div class="controls">
                                                <?php if ($this->visualizar): ?>                     
                                                    <p style="font-weight: bold">
                                                        <?php echo (isset($this->post_var['tipoensino']) && $this->post_var['tipoensino'] == 'Normal') ? '(*) Normal' : '( ) Normal' ?>
                                                        <?php echo (isset($this->post_var['tipoensino']) && $this->post_var['tipoensino'] == 'Integral') ? '(*) Integral' : '( ) Integral' ?>
                                                        <?php echo (isset($this->post_var['tipoensino']) && $this->post_var['tipoensino'] == 'Creche') ? '(*) Creche' : '( ) Creche' ?>
                                                    </p>
                                                <?php else :?>
                                                        <input onclick="tipoNormal()" type="radio" name="tipoensino" value="Normal" <?php echo (isset($this->post_var['tipoensino']) && $this->post_var['tipoensino'] == 'Normal') ? 'checked' : '' ?> > Normal 
                                                        <input onclick="tipoIntegral()" type="radio" name="tipoensino" value="Integral" <?php echo (isset($this->post_var['tipoensino']) && $this->post_var['tipoensino'] == 'Integral') ? 'checked' : '' ?> > Integral 
                                                        <input onclick="tipoCreche()" type="radio" name="tipoensino" value="Creche" <?php echo (isset($this->post_var['tipoensino']) && $this->post_var['tipoensino'] == 'Creche') ? 'checked' : '' ?> > Creche						
                                                <?php endif;?>
					</div>
				</div>


				<div style="display: none!important" class="control-group creche integral normal">
					<label class="control-label">Nutricionista Responsável </label>
					<div class="controls"><input maxlength="500" placeholder="Nutricionista Responsável" name="nutricionistaresponsavel" value="<?php echo (isset($this->post_var['nutricionistaresponsavel'])) ? $this->post_var['nutricionistaresponsavel'] : '' ?>" type="text"  class="span3" /></div>
				</div>


				<div style="display: none!important" class="control-group creche integral normal">
					<label class="control-label">CNR </label>
					<div class="controls"><input maxlength="500" placeholder="CNR" name="cnr" value="<?php echo (isset($this->post_var['cnr'])) ? $this->post_var['cnr'] : '' ?>" type="text"  class="span3" /></div>
				</div>


				<div style="display: none!important" class="control-group creche integral normal">
					<label class="control-label">Lançar Datas</label>
					<div class="controls"><input placeholder="Lançar Datas" name="datas" value="<?php echo (isset($this->post_var['datas'])) ? Mn_Util::formPostVarData($this->post_var['datas']) : '' ?>" type="text"  class="span3" /></div>
				</div>


				<div style="display: none!important" class="control-group  creche integral normal">
					<label class="control-label">Título </label>
					<div class="controls"><input maxlength="500" placeholder="Título" name="titulo" value="<?php echo (isset($this->post_var['titulo'])) ? $this->post_var['titulo'] : '' ?>" type="text"  class="span3" /></div>
				</div>

				<div style="display: none!important" class="control-group creche">
					<label class="control-label">Mamadeira </label>
					<div class="controls"><input maxlength="500" placeholder="Mamadeira" name="mamadeira" value="<?php echo (isset($this->post_var['mamadeira'])) ? $this->post_var['mamadeira'] : '' ?>" type="text"  class="span3" /></div>
				</div>


				<div style="display: none!important" class="control-group creche">
					<label class="control-label">Desjejum </label>
					<div class="controls"><input maxlength="500" placeholder="Desjejum" name="desjejum" value="<?php echo (isset($this->post_var['desjejum'])) ? $this->post_var['desjejum'] : '' ?>" type="text"  class="span3" /></div>
				</div>


				<div style="display: none!important" class="control-group creche">
					<label class="control-label">Colação </label>
					<div class="controls"><input maxlength="500" placeholder="Colação" name="colacao" value="<?php echo (isset($this->post_var['colacao'])) ? $this->post_var['colacao'] : '' ?>" type="text"  class="span3" /></div>
				</div>

				<div style="display: none!important" class="control-group integral">
					<label class="control-label">Lanche da Manhã </label>
					<div class="controls"><input maxlength="500" placeholder="Lanche da Manhã" name="lanchemanha" value="<?php echo (isset($this->post_var['lanchemanha'])) ? $this->post_var['lanchemanha'] : '' ?>" type="text"  class="span3" /></div>
				</div>

				<div style="display: none!important" class="control-group integral creche normal">
					<label class="control-label">Refeição </label>
					<div class="controls"><input maxlength="500" placeholder="Refeição" name="refeicao" value="<?php echo (isset($this->post_var['refeicao'])) ? $this->post_var['refeicao'] : '' ?>" type="text"  class="span3" /></div>
				</div>


				<div style="display: none!important" class="control-group integral creche normal">
					<label class="control-label">Sobremesa </label>
					<div class="controls"><input maxlength="500" placeholder="Sobremesa" name="sobremesa" value="<?php echo (isset($this->post_var['sobremesa'])) ? $this->post_var['sobremesa'] : '' ?>" type="text"  class="span3" /></div>
				</div>

				<div style="display: none!important" class="control-group creche integral">
					<label class="control-label">Lanche da Tarde </label>
					<div class="controls"><input maxlength="500" placeholder="Lanche da Tarde" name="lanchetarde" value="<?php echo (isset($this->post_var['lanchetarde'])) ? $this->post_var['lanchetarde'] : '' ?>" type="text"  class="span3" /></div>
				</div>


				<div style="display: none!important" class="control-group integral creche">
					<label class="control-label">Jantar </label>
					<div class="controls"><input maxlength="500" placeholder="Jantar" name="jantar" value="<?php echo (isset($this->post_var['jantar'])) ? $this->post_var['jantar'] : '' ?>" type="text"  class="span3" /></div>
				</div>

				<div class="control-group">
					<label class="control-label">Status <span class="required">*</span></label>
					<div class="controls">
						<select name="status1" data-placeholder="Status" class="select">
							<option value="">Selecione...</option>
							<option value="Ativo">Ativo</option><option value="Bloqueado">Bloqueado</option>
						</select>
						
					</div>
				</div>

						    
						    
						    </div>
						    
			                <div class="form-actions align-right">
			                	<?php if ((isset($this->visualizar)) && ($this->visualizar)) : ?>
			                		<button onclick="window.history.back()" class="btn btn-danger cancelar" type="button">Voltar</button>
			                	<?php else : ?>
				                	<button class="btn btn-primary enviar" type="submit">Salvar</button>
				                	<button onclick="window.history.back()" class="btn btn-danger cancelar" type="button">Cancelar</button>
			                	<?php endif; ?>
			                </div>
						</div>
						<!-- /general form elements -->

					</fieldset> 

				</form>
				<!-- /basic inputs -->

		    </div>
		    <!-- /content wrapper -->

		</div>
		<!-- content -->
				
<script type="text/javascript" src="<?php echo $this->baseUrl('/public/scripts/admin/nutricaomerendascontrolecardapios_form.js') ?>"></script>
<script type="text/javascript">
	var form_values = {};
	
	<?php if (isset($this->post_var)) :  ?>
                form_values.idlocal = '<?php echo (isset($this->post_var['idlocal'])) ? (int)$this->post_var['idlocal'] : '' ?>';
                form_values.idescola = '<?php echo (isset($this->post_var['idescola'])) ? (int)$this->post_var['idescola'] : '' ?>';
                form_values.idtipoensino = '<?php echo (isset($this->post_var['idtipoensino'])) ? (int)$this->post_var['idtipoensino'] : '' ?>';
                form_values.tipoensino = '<?php echo (isset($this->post_var['tipoensino'])) ? $this->post_var['tipoensino'] : '' ?>';
                form_values.status1 = '<?php echo (isset($this->post_var['status1'])) ? $this->post_var['status1'] : $this->post_var['status'] ?>';
	<?php endif; ?>

	visualizar = <?php echo  ((isset($this->visualizar)) && ($this->visualizar))  ? 'true' : 'false' ?>;
</script>
