<?php if (sizeof($this->rows)==0) : ?>
<input value="" name="turmas[]" type="checkbox"> Nenhuma turma foi encontrada para essa escola<br>
<?php else : ?>
<?php foreach ($this->rows as $row) : ?>
<input value="<?php echo $row['id'] ?>" name="turmas[]" type="checkbox"> <?php echo $row['idgdae'] ?>. <?php echo $row['descricoes'] ?> - <?php echo $row['descricao'] ?><br>
<?php endforeach; ?>
<?php endif; ?>
