<style type="text/css">
#solicitacao tr:nth-child(odd) {
  background-color:#ffffff;
}
#solicitacao tr:nth-child(even) {
  background-color:#e6e6e6;
}

.modal {
  position: fixed;
  top: 10%;
  left: 50%;
  z-index: 1050;
  width: 760px;
  height: 350px;
  margin-left: -280px;
  background-color: #ffffff;
  border: 1px solid #d5d5d5;
  outline: none;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding-box;
  background-clip: padding-box;
}

.modal-body {
  display: block;
  position: relative;
  padding: 0px;
  overflow-y: hidden;
}

.modal-produtos {
  display: block;
  max-height: 50%;
  position: relative;
  padding: 0px;
  overflow-y: auto;
}

.modal-footer {
  position: absolute;
  bottom: 0;
  right: 0px;
  left: 0px;
  padding: 0px;
  margin-bottom: 0px;
  text-align: right;
  background-color: #fcfcfc;
  border-top: 1px solid #ddd;
  *zoom: 1;
  -webkit-box-shadow: inset 0 1px 0 #ffffff;
  -moz-box-shadow: inset 0 1px 0 #ffffff;
  box-shadow: inset 0 1px 0 #ffffff;
}

table {
  width: 600px;
}

table tr, td {
  padding-top: 5px;
  padding-left: 5px;
  padding-bottom: 5px;
}
td {
  width: 25%;
}

</style>
<?php
$estoque = $this->post_var;
?>
<div class="modal fade" id="produtos" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" data-backdrop="static">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title text-center">Buscar Produtos</h4>
  </div>

  <div class="modal-body">
    <table>
      <tr>
        <td>
          <label>ID Produto</label>
          <input type="number" name="idproduto" id="idproduto">
        </td>
        <td>
          <label>Código Produto</label>
          <input type="text" name="codigoproduto" id="codigoproduto">
        </td>
        <td>
          <label>Categoria</label>
          <select name="categoria" id="categoria" data-placeholder="Categoria" class="select">
            <option value="">Selecione...</option>
            <?php foreach (Almoxarifadocategoriasprodutos::getAlmoxarifadocategoriasprodutos() as $i=>$row) : ?>
              <option value="<?php echo $row['id'] ?>"><?php echo $row['categoria'] ?></option>
            <?php endforeach; ?>
          </select>
        </td>
        <td>
          <label>Unidade de Medida</label>
          <select name="unidademedida" id="unidademedida" data-placeholder="Unidade de medida" class="select">
            <option value="">Selecione...</option>
            <?php foreach (Unidadescomerciais::getUnidadescomerciais(array('order' => 'ORDER BY n1.unidade')) as $i=>$row) : ?>
              <option value="<?= $row['id'] ?>"><?= $row['unidade'].' - '.$row['descricao'] ?></option>
            <?php endforeach; ?>
          </select>
        </td>
      </tr>
      <tr>
        <td>
          <label>Produto</label>
          <input type="text" name="produto" id="produto" >
        </td>
        <td>
          <label>Descrição</label>
          <input type="text" name="descricao" id="descricao" >
        </td>
        <td>
          <a href="#" id="find-produtos" class="btn btn-mini btn-primary" style="float: right;" >Pesquisar</a>
        </td>
        <td></td>
      </tr>
    </table>
  </div>

  <div id="modal-produtos" class="modal-produtos"></div>

  <div class="modal-footer">
    <button class="btn btn-primary form-control" id="sair" data-dismiss="modal">Sair</button>
    <a href="#" id="add-produto" class="btn btn-primary">Adicionar</a>
  </div>

</div>

<!-- Content -->
<div id="content">

  <!-- Content wrapper -->
  <div class="wrapper">

   <!-- Breadcrumbs line -->
   <div class="crumbs">
    <?php echo $this->render('/helpers/breadcrumb.phtml') ?>
  </div>
  <!-- /breadcrumbs line -->

  <!-- Page header -->
  <div class="page-header">
    <div class="page-title">
     <h5>Formulário de entrada de produtos</h5>
     <span>Informe os dados dos produtos.</span>
   </div>
 </div>
 <!-- /page header -->

 <?php if (isset($this->crudMessage)) : ?>
   <div class="alert alert-success">
    <button data-dismiss="alert" class="close" type="button">×</button>
    <strong>Operação realizada com sucesso!</strong>
    <span><br /><?php echo $this->crudMessage ?></span>
  </div>
<?php endif; ?>

<?php if (isset($this->erros)) : ?>
  <div class="alert alert-error margin">
    <button data-dismiss="alert" class="close" type="button">×</button>
    <strong>Há erros no formulário!</strong>
    <?php foreach ($this->erros as $k=>$v) : ?>
      <span><br />- <?php echo $v ?></span>
    <?php endforeach;?>
  </div>
<?php endif; ?>

<div class="box-colecoes col-md-12 panel-group" id="accordion" >

  <div class="control-group">
    <label class="control-label">Estoque </label>
    <div class="controls">
      <span><?= $estoque['estoque'] ?></span>
    </div>
  </div>

  <div class="control-group">
    <label class="control-label">Local </label>
    <div class="controls">
      <span><?= $estoque['idescola'] == 0 ? $estoque['perfil'] : $estoque['escola'] ?></span>
    </div>
  </div>

  <div class="control-group">
    <a href="#" id="mais-produtos" class="btn btn-success"><i class="icon-plus"></i>&nbsp;Produtos</a>
  </div>

</div>

<form id="form" name="form" method="post" class="form-horizontal" enctype="multipart/form-data">
  <input type="hidden" name="idestoque" value="<?= $estoque['id'] ?>">
  <div class="control-group" id="div_s_produtos" >
    <table id="solicitacao">
      <thead>
        <tr style="background-color: #e6e6e6;">
          <th style="min-width: 100px;">Código</th>
          <th style="min-width: 150px;">Produto</th>
          <th style="min-width: 100px;">Unidade medida</th>
          <th style="min-width: 75px;">Entrada</th>
        </tr>
      </thead>
      <tbody></tbody>
    </table>
  </div>

  <div class="panel-footer">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <?php if ((isset($this->visualizar)) && ($this->visualizar)) : ?>
        <button type="button" onclick="window.history.back()" class="btn btn-default">Voltar</button>
        <?php else : ?>
          <button class="btn btn-primary">Salvar</button>&nbsp;
          <button onclick="window.history.back()" class="btn btn-danger cancelar" type="button">Cancelar</button>
        <?php endif;?>
      </div>
    </div>
  </div><!-- panel-footer -->
</form>
<br /><br /><br />
<!-- /basic inputs -->

</div>
<!-- /content wrapper -->

</div>

<script type="text/javascript" src="<?php echo $this->baseUrl('/public/scripts/admin/almoxarifadoestoqueprodutos_form.js') ?>"></script>

<script type="text/javascript">
  $(document).ready(function() {
    $('#mais-produtos').click(function() {
      $('#produtos').modal('show');
    });
  });
</script>