<style type="text/css">
.filter-box{ display: inline-block; padding:1%; }
.filter-box .field-search{ width: 25%; display: inline-block; }
</style>
<?php 
include_once BASE_PATH . '/public/scripts/ckeditor/ckeditor.php';
require_once BASE_PATH . '/public/scripts/ckfinder/ckfinder.php';

$ckeditor = new CKEditor();
$ckeditor->basePath = $this->baseUrl('/public/scripts/ckeditor/');

$ckfinder = $this->baseUrl('/public/scripts/ckfinder/');

CKFinder::SetupCKEditor($ckeditor, $ckfinder);
?>
<!-- Content -->
<div id="content">

  <!-- Content wrapper -->
  <div class="wrapper">

   <!-- Breadcrumbs line -->
   <div class="crumbs">
    <?php echo $this->render('/helpers/breadcrumb.phtml') ?>
  </div>
  <!-- /breadcrumbs line -->

  <!-- Page header -->
  <div class="page-header">
    <div class="page-title">
     <h5>Formulário de estoque</h5>
     <span>Vincule os itens ao estoque.</span>
   </div>
 </div>
 <!-- /page header -->

 <?php if (isset($this->crudMessage)) : ?>
   <div class="alert alert-success">
    <button data-dismiss="alert" class="close" type="button">×</button>
    <strong>Operação realizada com sucesso!</strong>
    <span><br /><?php echo $this->crudMessage ?></span>
  </div>
<?php endif; ?>

<?php if (isset($this->erros)) : ?>
  <div class="alert alert-error margin">
    <button data-dismiss="alert" class="close" type="button">×</button>
    <strong>Há erros no formulário!</strong>
    <?php foreach ($this->erros as $k=>$v) : ?>
      <span><br />- <?php echo $v ?></span>
    <?php endforeach;?>
  </div>
<?php endif; ?>

<div class="box-colecoes col-sm-12 panel-group" id="accordion" >

  <div class="filter-box">
    <div class="field-search">
      <label>ID Produto</label>
      <input type="number" name="idproduto">
    </div>

    <div class="field-search">
      <label>Código Produto</label>
      <input type="text" name="codigoproduto">
    </div>

    <div class="field-search">
      <label>Categoria</label>
      <select name="categoria" data-placeholder="Categoria" class="select">
        <option value="">Selecione...</option>
        <?php foreach (Almoxarifadocategoriasprodutos::getAlmoxarifadocategoriasprodutos() as $i=>$row) : ?>
          <option value="<?php echo $row['id'] ?>"><?php echo $row['categoria'] ?></option>
        <?php endforeach; ?>
      </select>
    </div>

    <div class="field-search">
      <label>Unidade de Medida</label>
      <select name="unidademedida" data-placeholder="Unidade de medida" class="select">
        <option value="">Selecione...</option>
        <?php foreach (Unidadescomerciais::getUnidadescomerciais(array('order' => 'ORDER BY n1.unidade')) as $i=>$row) : ?>
          <option value="<?= $row['id'] ?>"><?= $row['unidade'].' - '.$row['descricao'] ?></option>
        <?php endforeach; ?>
      </select>
    </div>

    <div class="field-search">
      <label>Produto</label>
      <input type="text" name="produto">
    </div>

    <div class="field-search">
      <label>Descrição</label>
      <input type="text" name="descricao">
    </div>
  </div>

  <div class="filter-box">
    <a href="#" class="btn btn-mini btn-primary" style="float: right;" onclick="getProdutos()" >Pesquisar</a>
  </div>
</div>

<form id="form" name="form" action="" method="post" class="form-horizontal" enctype="multipart/form-data">

  <input type="hidden" value="<?php echo (isset($this->post_var['idestoque'])) ? $this->post_var['idestoque'] : '' ?>" name="idestoque" />
  
  <div class="box-colecoes col-sm-12 panel-group" id="box-produtos"></div>

  <div class="panel-footer">
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3">
        <?php if ((isset($this->visualizar)) && ($this->visualizar)) : ?>
        <button type="button" onclick="window.history.back()" class="btn btn-default">Voltar</button>
        <?php else : ?>
          <button class="btn btn-primary">Salvar</button>&nbsp;
          <button onclick="window.history.back()" class="btn btn-danger cancelar" type="button">Cancelar</button>
        <?php endif;?>
      </div>
    </div>
  </div><!-- panel-footer -->
  <br /><br /><br />
</form>
<!-- /basic inputs -->

</div>
<!-- /content wrapper -->

</div>
<!-- content -->


<script type="text/javascript" src="<?php echo $this->baseUrl('/public/scripts/admin/almoxarifadoestoqueprodutos_form.js') ?>"></script>