<style type="text/css">
.switch {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 17px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 13px;
  width: 13px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(13px);
  -ms-transform: translateX(13px);
  transform: translateX(13px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 17px;
}

.slider.round:before {
    border-radius: 50%;
}

.fc-sat, .fc-sun {
    background-color: #E0FFFF;
}
</style>
<?php $estoque = $this->rows['estoque']; ?>
<!-- Content -->
<div id="content">

    <!-- Content wrapper -->
    <div class="wrapper">

        <!-- Breadcrumbs line -->
        <div class="crumbs">
            <?php echo $this->render('/helpers/breadcrumb.phtml') ?>
        </div>
        <!-- /breadcrumbs line -->

        <!-- Page header -->
        <div class="page-header">
            <div class="page-title">
                <h5><?= $estoque['estoque'] ?></h5>
                <span>Produtos em estoque</span>
            </div>

        </div>
        <!-- /page header -->

        <?php if (isset($this->crudMessage)) : ?>
            <div class="alert alert-success">
                <button data-dismiss="alert" class="close" type="button">×</button>
                <strong>Operação realizada com sucesso!</strong>
                <span><br /><?php echo $this->crudMessage ?></span>
            </div>              
        <?php endif; ?>

        <!-- Table with footer -->
        <div class="widget">
            <form action="#" class="form-horizontal" method="post">
                <div class="navbar">
                    <div class="navbar-inner">
                        <h6>Visualizando registros</h6>
                        <div style="float:right;">
                            <?php if (Mn_Util::isAccess($this->getController(), 'adicionar')) : ?>
                                <a href="<?php echo $this->baseUrl() ?>/admin/<?php echo $this->getController() ?>/entrada/id/<?= $estoque['id'] ?>" class="btn btn-success"><span class="icon-plus"></span>&nbsp;Entrada</a>
                            <?php endif; ?>
                            <?php if (Mn_Util::isAccess($this->getController(), 'adicionar')) : ?>
                                <a href="<?php echo $this->baseUrl() ?>/admin/<?php echo $this->getController() ?>/saida/id/<?= $estoque['id'] ?>" class="btn btn-danger"><span class="icon-minus"></span>&nbsp;Saída</a>
                            <?php endif; ?>
                        </div>
                    </div>
                </div>
                <div class="table-overflow">
                    <table class="table table-content">
                        <thead>
                            <tr>
                                <th>ID Produto</th>
                                <th>Produto</th>
                                <th>Código</th>
                                <th>Categoria</th>
                                <th>Disponível</th>
                                <th>Ações</th>
                            </tr>
                            <tr>
                                <th>
                                    <input name="idproduto" value="<?= (isset($this->post_var['idproduto'])) ? $this->post_var['idproduto'] : '' ?>" type="text" placeholder="ID Produto" class="span3">
                                </th>
                                <th>
                                    <input name="produto" value="<?= (isset($this->post_var['produto'])) ? $this->post_var['produto'] : '' ?>" type="text" placeholder="Produto" class="span3">
                                </th>
                                <th>
                                    <input name="codigo" value="<?= (isset($this->post_var['codigo'])) ? $this->post_var['codigo'] : '' ?>" type="text" placeholder="Código Produto" class="span3">
                                </th>
                                <th>
                                    <select name="categoria" style="width: 120px">
                                        <option value="">Todas...</option>
                                        <?php foreach (Almoxarifadocategoriasprodutos::getAlmoxarifadocategoriasprodutos() as $i=>$row) : ?>
                                            <option value="<?php echo $row['id'] ?>"><?php echo $row['categoria'] ?></option>
                                        <?php endforeach; ?>
                                    </select>
                                </th>
                                <th>
                                    <label class="switch">
                                        <input type="checkbox" name="zerados" id="zerados" class="checkbox">
                                        <span class="slider round"></span>
                                    </label>
                                </th>
                                <th><button class="btn btn-mini btn-primary" type="submit">Pesquisar</button></th>
                            </tr>
                        </thead>
                        <tbody>
                            <?php if (sizeof($this->rows)==0) : ?>
                                <tr>
                                    <td colspan="7">Nenhum registro foi encontrado!</td>
                                </tr>

                            <?php else : ?>
                            <?php foreach ($this->rows['rows'] as $i=>$row) : ?>
                                <tr>
                                    
                                    <td><?= $row['id'] ?></td>
                                    <td><?= $row['produto'] ?></td>
                                    <td><?= $row['codigoproduto'] ?></td>
                                    <td><?= $row['categoria'] ?></td>
                                    <td><?= $row['estoque'] ?></td>
                                    <td>
                                        <ul class="table-controls">
                                            <li><a title="" class="btn tip" href="<?php echo $this->baseUrl() ?>/admin/<?php echo $this->getController() ?>/visualizar/id/<?php echo $row['id'] ?>" data-original-title="Visualizar"><i class="icon-eye-open"></i></a> </li>
                                            <?php if (Mn_Util::isAccess($this->getController(), 'editar')) : ?>
                                                <li><a title="" class="btn tip" href="<?php echo $this->baseUrl() ?>/admin/<?php echo $this->getController() ?>/editar/id/<?php echo $row['id'] ?>" data-original-title="Editar"><i class="icon-pencil"></i></a> </li>
                                            <?php endif;?>
                                        </ul>
                                    </td>
                                </tr>
                            <?php endforeach;?>
                            <?php endif; ?>
                        </tbody>
                    </table>
                </div>
                <?php echo $this->render('/helpers/paginator.phtml') ?>
            </form>
        </div>
        <!-- /table with footer -->
        </div>
        <!-- /content wrapper -->

    </div>
    <!-- content -->

    <script type="text/javascript" src="<?php echo $this->baseUrl('/public/scripts/admin/almoxarifadoestoqueprodutos_index.js') ?>"></script>
    <script type="text/javascript">
        var form_values = {};

        <?php if (isset($this->post_var['categoria'])) : ?>
            form_values.categoria = '<?php echo $this->post_var['categoria'] ?>';
        <?php endif; ?>

        <?php if (isset($this->post_var['zerados'])) : ?>
            form_values.zerados = '<?php echo $this->post_var['zerados'] ?>';
        <?php endif; ?>
    </script>