<style type="text/css">
input[type="number"] {
  width: 50px;
}
.mytab tr:nth-child(odd) {
  background-color:#fff;
}
.mytab tr:nth-child(even) {
  background-color:#ccc;
}
.mytab th, td {
  text-align: center;
}
.mytab th {
  background-color:#ccc;
}
</style>
<!-- Content -->
<div id="content">

  <!-- Content wrapper -->
  <div class="wrapper">

   <!-- Breadcrumbs line -->
   <div class="crumbs">
    <?php echo $this->render('/helpers/breadcrumb.phtml') ?>
  </div>
  <!-- /breadcrumbs line -->

  <!-- Page header -->
  <div class="page-header">
    <div class="page-title">
     <h5>Formulário de passe escolar</h5>
     <span>Informe os dados do passe.</span>
   </div>
 </div>
 <!-- /page header -->

 <?php if (isset($this->crudMessage)) : ?>
   <div class="alert alert-success">
    <button data-dismiss="alert" class="close" type="button">×</button>
    <strong>Operação realizada com sucesso!</strong>
    <span><br /><?php echo $this->crudMessage ?></span>
  </div>                
<?php endif; ?>

<form id="form" name="form" action="" method="post" class="form-horizontal" enctype="multipart/form-data">  

  <input type="hidden" value="<?php echo (isset($this->post_var['periodo']['id'])) ? $this->post_var['periodo']["id"] : ''; ?>" name="id" id="id" />

  <div class="control-group">
    <label class="control-label">Período <span class="required">*</span></label>
    <div class="controls">
      <input type="text" name="inicio" disabled="true" value="<?php $inicio = date_create($this->post_var['periodo']['datainicio']); echo date_format($inicio,'d/m/Y')?>">
      <input type="text" name="fim" disabled="true" value="<?php $fim = date_create($this->post_var['periodo']['datafim']); echo date_format($fim,'d/m/Y'); ?>">
    </div>
  </div>

  <div class="control-group">
    <label class="control-label">Dias Letivos <span class="required">*</span></label>
    <div class="controls">
      <input type="text" name="diasletivos" disabled="true" value="<?php echo $this->post_var['periodo']["diasletivos"] ?>" />
    </div>
  </div>

  <div class="control-group">
    <label class="control-label">Tipo <span class="required">*</span></label>
    <div class="controls">
      <input type="text" name="tipo" disabled="true" value="<?php echo strtoupper($this->post_var['periodo']['tipo']) ?>">
    </div>
    <?php if ($this->post_var['periodo']['tipo'] == 'estadual'): ?>
      <div class="controls">
        <input type="text" name="curso" disabled="true" value="<?php echo strtoupper($this->post_var['periodo']['curso']) ?>">
      </div>
    <?php endif ?>
  </div>

  <div class="control-group">
    <label class="control-label">Valor Unitário <span class="required">*</span></label>
    <div class="controls">
      <input type="text" name="valorunitario" disabled="true" value="<?php echo strtoupper($this->post_var['periodo']['valorunitario']) ?>">
    </div>
  </div>

  <div class="control-group">
    <label class="control-label">Status <span class="required"></span></label>
    <div class="controls">
      <input type="text" name="status" disabled="true" value="<?php echo strtoupper($this->post_var['periodo']['status']) ?>">
    </div>
  </div>

  <div class="control-group">
    <label class="control-label">Escolas <span class="required"></span></label>
    <div class="controls">
      <select name="escolas" onchange="setEntidades(this)">
        <option>Selecione...</option>
        <?php if ($this->post_var['periodo']['tipo'] == 'municipal'): ?>
          <?php foreach (Lteentidades::getEntidadesByTipo('municipal') as $i=>$row) : ?>
            <option value="<?php echo $row['id'] ?>"><?php echo $row['entidade'] ?></option>
          <?php endforeach; ?>
        <?php else: ?>
          <?php foreach (Lteentidades::getEntidadesByTipo('estadual') as $i=>$row) : ?>
            <option value="<?php echo $row['id'] ?>"><?php echo $row['entidade'] ?></option>
          <?php endforeach; ?>
        <?php endif ?>
        
      </select>
    </div>
  </div>

  <div class="control-group">
    <div id="box-entidades"></div>
  </div>

</form>
<!-- /basic inputs -->
<a class="btn btn-default" href="<?php echo $this->baseUrl() ?>/admin/lteperiodos">Voltar</a>
</div>
<!-- /content wrapper -->
</div>
<!-- content -->
<script type="text/javascript" src="<?php echo $this->baseUrl('/public/scripts/admin/ltepasseescolar_form.js') ?>"></script>

<script type="text/javascript">
  var form_values = {};

  <?php if (isset($this->post_var['periodo']['diasletivos'])) : ?>
    form_values.diasletivos = '<?php echo $this->post_var['periodo']['diasletivos'] ?>';
  <?php endif; ?>

  <?php if (isset($this->post_var['periodo']['valorunitario'])) : ?>
    form_values.valorunitario = '<?php echo $this->post_var['periodo']['valorunitario'] ?>';
  <?php endif; ?>

  <?php if (isset($this->post_var['periodo']['id'])) : ?>
    form_values.idperiodo = '<?php echo $this->post_var['periodo']['id'] ?>';
  <?php endif; ?>
</script>