<!-- Content -->
<div id="content">

    <!-- Content wrapper -->
    <div class="wrapper">

        <!-- Breadcrumbs line -->
        <div class="crumbs">
            <?php echo $this->render('/helpers/breadcrumb.phtml') ?>
        </div>
        <!-- /breadcrumbs line -->

        <!-- Page header -->
        <div class="page-header">
            <div class="page-title">
                <h5>Passe Escolar</h5>
                <span></span>
            </div>

        </div>
        <!-- /page header -->

        <?php if (isset($this->crudMessage)) : ?>
            <div class="alert alert-success">
                <button data-dismiss="alert" class="close" type="button">×</button>
                <strong>Operação realizada com sucesso!</strong>
                <span><br /><?php echo $this->crudMessage ?></span>
            </div>              
        <?php endif; ?>

        <!-- Table with footer -->
        <div class="widget">
            <form action="#" class="form-horizontal" method="post">
                <input type="hidden" value="<?php echo (isset($this->post_var['sorting'])) ? $this->post_var['sorting'] : '' ?>" name="sorting" />
                <div class="navbar">
                    <div class="navbar-inner">
                        <h6>Visualizando registros</h6>
                        <?= $this->getController(); ?>
                    </div>
                </div>
                <div class="table-overflow">
                    <table class="table table-content">
                        <thead>
                            <tr>
                                <th width="1">&nbsp;</th>
                                <th>Tipo</th>
                                <th>Período</th>
                                <th>Dias Letivos</th>
                                <th></th>
                                <th></th>
                            </tr>
                            <tr>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th><button class="btn btn-mini btn-primary" type="submit" style="display: none;">Pesquisar</button></th>
                            </tr> 

                        </thead>
                        <tbody>
                            <?php if (sizeof($this->rows)==0) : ?>
                                <tr>
                                    <td colspan="7">Nenhum registro foi encontrado!</td>
                                </tr>

                                <?php else : ?>
                                    <?php foreach ($this->rows as $i=>$row) : ?>
                                        <tr>
                                            <td>
                                                <?php $i+1 ?>
                                                <input type="hidden" name=id[] value="<?php echo $row['id'] ?>" />
                                            </td>
                                            <td><?php echo strtoupper($row['tipo']) ?> - <?php echo strtoupper($row['tipotransporte']) ?></td>
                                            <?php $inicio = date_create($row['datainicio']); $fim = date_create($row['datafim']); ?>
                                            <td><?php echo date_format($inicio,'d/m/Y').' a '.date_format($fim,'d/m/Y'); ?></td>
                                            <td><?php echo $row['diasletivos'] ?></td>
                                            <td>
                                                <?php if (Mn_Util::isAccess('ltepasseescolar', 'editar')) : ?>
                                                    <a class="btn btn-info btn-lg" href="<?php echo $this->baseUrl() ?>/admin/ltepasseescolar/editar/id/<?php echo $row['id'] ?>" data-original-title="Editar">Alunos</a>
                                                <?php endif;?>
                                            </td>
                                            <td></td>
                                        </tr>
                                    <?php endforeach;?>




                                <?php endif; ?>

                            </tbody>
                        </table>
                    </div>
                    <?php echo $this->render('/helpers/paginator.phtml') ?>

                </form>

            </div>
            <!-- /table with footer -->



        </div>
        <!-- /content wrapper -->

    </div>
    <!-- content -->

    <!-- Modal -->
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog modal-lg">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                  <h4 class="modal-title">Alunos com passe escolar</h4>
              </div>
              <div class="modal-body">
                  <div class="container-fluid">
                    <div class="row">
                        <div class="col-8 col-sm-6">Aluno</div>
                        <div class="col-4 col-sm-6">Faltas</div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>

    </div>
</div>

<script type="text/javascript" src="<?php echo $this->baseUrl('/public/scripts/admin/ltebairros_index.js') ?>"></script>
<script type="text/javascript">

    var form_values = {};

    <?php if (isset($this->post_var['nome'])) : ?>
        form_values.nome = '<?php echo $this->post_var['nome'] ?>';
    <?php endif; ?>

</script>
