<table class="mytab">
  <thead>
    <th width="400">Nome </th>
    <th width="400">Entidade </th>
    <th width="120">Série </th>
    <th width="120">Período </th>
    <th width="100">Nascimento </th>
    <th width="120">Endereço </th>
    <th width="100">Faltas </th>
    <th width="100">Recarga </th>
  </thead>
  <tbody>
    <?php foreach ($this->rows as $row): ?>
      <tr>
        <td>
          <?= $row['nome'] ?>
        </td>
        <td>
          <?= $row['entidade'] ?>
        </td>
        <td>
          <?= $row['serie'] ?>
        </td>
        <td>
          <?= $row['periodo'] ?>
        </td>
        <td>
          <?= strtotime($row['datanascimento']) > 0 ? date('d/m/Y', strtotime($row['datanascimento'])) : '' ?>
        </td>
        <td>
          <?= $row['endereco'] ?>
        </td>
        <td>
          <input type="number" min="0" name="faltas_<?php echo $row['id'] ?>" id="faltas_<?php echo $row['id'] ?>" data-idestudante="<?php echo $row['id'] ?>" data-idpasse="<?php echo $row['idpasse'] ?>" value="<?php echo $row['faltas'] ?>" class="span3 faltas">
        </td>
        <td>
          R$ <span id="recarga_<?php echo $row['id'] ?>" class="span_total"><?php echo $row['total'] ?></span>
        </td>
      </tr>
    <?php endforeach ?>
  </tbody>
</table>

<script type="text/javascript">
  var diasletivos = parseInt(form_values.diasletivos);
  var valorunitario = form_values.valorunitario;

  $(".faltas").change(function () {
    var faltas = parseInt($(this).val());

    if (faltas < 0) {
      faltas = 0;
      $(this).val(0);
    }

    if (faltas > diasletivos) {
      $(this).val(diasletivos);
    }

    var idpasse = $(this).data("idpasse");
    var idestudante = $(this).data("idestudante");

    data = '';
    $.post(baseUrl + '/admin/ltepasseescolar/setfaltas/', {idpasse: idpasse, faltas: faltas}, function (data) {
      var total = parseFloat(data);
      $("#recarga_"+idestudante).text(total.toFixed(2));
    });
  });
</script>