<?php foreach($this->escolasalunos as $ea=>$rowaluno): ?>
<tr>
	<td><?php echo $ea+1 ?></td>
	<td class="nomealuno">
<?php
			$___rows = Escolasalunos::getEscolasalunosHelper(array('id'=>$rowaluno['idaluno']));
			$___row = (sizeof($___rows)>0) ? 	$___rows[0] : false;	
			
			echo ($___row) ? $this->formatTextoBranco($this->cortaPalavra(20, $___row['nomerazao'] . ' ' . $___row['sobrenomefantasia'])) : '--';		
		?>
		
	</td>
	<?php $total = 0;?>
	<?php for($i=1; $i<=$this->ultimadia; $i++): ?>
	<?php $falta = Escolasalunosfaltas::getEscolasalunosfaltasHelper(array('idaluno'=>$rowaluno['idaluno'] ,'idprofessor'=>$this->idprofessor, 'idescolavinculo'=>$this->idescolavinculo, 'idmateria'=>$this->idmateria, 'data_i'=>date('Y-m-' . $i), 'data_f'=>date('Y-m-' . $i), 'unique'=>true )); 
	$onclick="addFalta(this, '".$i."', 'falta', '".$this->idescolavinculo."', '".$rowaluno['idaluno']."')";
	if(isset($falta['id'])) :
		$onclick="removeFalta(this ,".$falta['id'].", '".$i."', '".$this->idescolavinculo."', '".$rowaluno['idaluno']."')";
	endif;

	$background = "background-color:#9AED8C;";
	$planoaula = Planosaulas::getPlanosaulasHelper(array('idprofessor'=>$this->idprofessor, 'idescolavinculo'=>$this->idescolavinculo, 'idmateria'=>$this->idmateria, 'data_i'=>date('Y-m-' . $i), 'data_f'=>date('Y-m-' . $i), 'unique'=>true ));
	if(!(isset($planoaula['id']))){
		//$onclick="addPlanoaula(this, '".$i."', '".date('m')."', '".$this->idescolavinculo."')";
		$onclick="addPlanoaula(this, '".$i."')";
		$background = "background-color:#FF4C4C;";
	}
	?>

	<td id="inline<?php echo $i ?>" onclick="<?php echo $onclick ?>" style="<?php echo $background ?>" class="quadro_<?php echo $i ?>">
		<div style="display:none">
			<div id="data<?php echo $i ?>">
				<div class="control-group">
					<label class="control-label">Título <span class="required">*</span></label>
					<div class="controls"><input maxlength="500" placeholder="Título" name="titulo" value="" type="text"  class="span3 titulo" /></div>
				</div>


				<div class="control-group">
					<label class="control-label">Descrições </label>
					<div class="controls"><textarea class="span12 texto" name="texto" cols="5" rows="5" style="width: 100%"></textarea></div>
				</div>

                <div class="form-actions align-center">
                	
                	<button class="btn btn-primary" type="button"  onclick="enviaplano(this, '<?php echo $i ?>', '<?php echo date('m') ?>', '<?php echo $this->idescolavinculo ?>', '<?php echo $rowaluno['idaluno'] ?>')">Salvar plano de aula</button>
	                
                </div>
			</div>
		</div>
		<input type="hidden" name="idsfaltas[]" class="idsfaltas" value="<?php echo (isset($falta['id'])) ? $falta['id'] : 0 ?>"  />
		<input type="hidden" name="idescolavinculo[]" value="<?php echo $this->idescolavinculo ?>" />
		<input type="hidden" name="idmateria[]" value="<?php echo $this->idmateria ?>" />
		<input type="hidden" name="idprofessor[]" value="<?php echo $this->idprofessor ?>" />
		<input type="hidden" name="idaluno[]" value="<?php echo $rowaluno['idaluno'] ?>" />
		<?php if(isset($falta['id'])) :?>
			<i class="fam-tick"></i>
		<?php endif;?>
	</td>
	<?php endfor; ?>
	
	<td>
		<?php 
		$datainicial = date('Y') . '-' . date('m') . '-01';
		$datafinal = date('Y') . '-' . date('m') . '-' . date('t');

		$faltatotal = Escolasalunosfaltas::getEscolasalunosfaltasHelper(array('idaluno'=>$rowaluno['idaluno'] ,'idprofessor'=>$this->idprofessor, 'idescolavinculo'=>$this->idescolavinculo, 'idmateria'=>$this->idmateria, 'data_i'=>$datainicial, 'data_f'=>$datafinal, 'total'=>true )); ?>
		<span class="total1"><?php echo (int)$faltatotal ?></span>
	</td>
</tr>
<?php endforeach?>

<script type="text/javascript">
function addPlanoaula(obj, dia){
	jConfirm('Criar plano de aula?', 'Adicionar plano de aula', function(r) {
		if (r) {
		    $.fancybox({
		        type: 'inline',
		        href : '#data'+dia
		    });	
		}
 	});
}

function enviaplano(obj, dia, mes, idescolavinculo, idaluno){
	var idmateria = $('select[name=idmateria]').val();
	var idprofessor = $('select[name=idprofessor]').val();
	var id = $(obj).find('.idsfaltas').val();
	var titulo = $(obj).parent().parent().find('.titulo').val();
	var texto = $(obj).parent().parent().find('.texto').val();

	data = '';
	$.post(baseUrl + 'escolasalunosfaltas/addplano/', {idprofessor:idprofessor, idmateria:idmateria, idescolavinculo:idescolavinculo, dia:dia, mes:mes, titulo:titulo, texto:texto}, function(data) {
		var data_resp = JSON.parse(data);
		
		if(data_resp.data=="OK") {
			$('.quadro_'+dia).each(function() {
				$(this).css('background-color', '#9AED8C');
				$(this).removeAttr('onclick');
				$(this).attr('onclick',"addFalta(this, '"+dia+"', 'falta', '"+idescolavinculo+"', '"+idaluno+"')");				
			});

			jAlert(data_resp.mensagem, data_resp.titulo);
		} else {
			jAlert(data_resp.mensagem, data_resp.titulo);
		}
	});



}
</script>