<?php if (sizeof($this->materiasprofessores)==0) : ?>
	<option value="">Nenhuma matéria foi encontrada para esse professor</option>
<?php else : ?>
	<?php if (sizeof($this->materiasprofessores)==0) : ?>
		<option value="">Selecione...</option>
		<option value="">Nenhuma matéria foi encontrada para essa escola</option>
	<?php else : ?>
		<option value="">Selecione...</option>
		<?php foreach ($this->materiasprofessores as $row) : ?>
		<option value="<?php echo $row['id'] ?>"><?php echo $row['materia'] ?></option>
		<?php endforeach; ?>
	<?php endif; ?>	
<?php endif; ?>
