<b>Nome do produto:</b> <?php echo ($this->post_var['patrimonio']) ? $this->post_var['patrimonio'] : '--' ?><br />
<b>Foto:</b> <?php echo ((int)$this->post_var['idfoto'] > 0) ? $this->getImagem($this->post_var['idfoto'], 80) : '' ?><br />
<b>Cor do produto:</b> <?php echo ($this->post_var['cor']) ? $this->post_var['cor'] : '--' ?><br />
<b>Marca:</b><?php
												$___rows = Marcas::getMarcasHelper(array('id'=>$this->post_var['idmarca']));
												$___row = (sizeof($___rows)>0) ? 	$___rows[0] : false;	
												
												echo ($___row) ? $this->formatTextoBranco($___row['marca']) : '--';		
											?><br />
<b>Tipo:</b> <?php
												$___rows = Patrimoniostipos::getPatrimoniostiposHelper(array('id'=>$this->post_var['idtipo']));
												$___row = (sizeof($___rows)>0) ? 	$___rows[0] : false;	
												
												echo ($___row) ? $this->formatTextoBranco($___row['tipo']) : '--';		
											?><br />
<b>Modelo:</b> <?php echo ($this->post_var['modelo']) ? $this->post_var['modelo'] : '--' ?><br />
<b>Característica:</b> <?php echo ($this->post_var['caracteristicas']) ? $this->post_var['caracteristicas'] : '--' ?><br />
<b>Dimensão:</b> <?php echo ($this->post_var['dimensoes']) ? $this->post_var['dimensoes'] : '--' ?><br />
<b>Descrição do produto:</b> <?php echo $this->post_var['descricoesdobem'] ?><br />
<b>Data da compra:</b> <?php echo (isset($this->post_var['datacompra'])) ? Mn_Util::formPostVarData($this->post_var['datacompra']) : '--' ?><br />
<b>Descrição do Bem:</b> <?php echo ($this->post_var['descricoesdobem']) ? $this->post_var['descricoesdobem'] : '--' ?><br />
<b>Cod. Barras:</b> --<?php //echo $this->post_var['sexo'] ?><br />
<b>QRCode:</b> --<?php //echo $this->post_var['sexo'] ?><br />