		<!-- Content -->
		<div id="content">

		    <!-- Content wrapper -->
		    <div class="wrapper">

			    <!-- Breadcrumbs line -->
			    <div class="crumbs">
			    	<?php echo $this->render('/helpers/breadcrumb.phtml') ?>
			    </div>
			    <!-- /breadcrumbs line -->

			    <!-- Page header -->
			    <div class="page-header">
			    	<div class="page-title">
				    	<h5>Formulário do frequência</h5>
				    	<span>Verifique os campos e preencha com os dados</span>
			    	</div>
			    </div>
			    <!-- /page header -->

			    <?php if (isset($this->crudMessage)) : ?>
					<div class="alert alert-success">
	                	<button data-dismiss="alert" class="close" type="button">×</button>
	                    <strong>Operação realizada com sucesso!</strong>
		    			<span><br /><?php echo $this->crudMessage ?></span>
	                </div>			    
			    <?php endif; ?>

				<form id="form" name="form" action="" method="post" class="form-horizontal" enctype="multipart/form-data"> 
					<input type="hidden" value="<?php echo (isset($this->post_var)) ? $this->post_var["id"] : ''; ?>" name="id" id="id" />
					
					<fieldset>
						<!-- General form elements -->
						<div class="widget row-fluid">
						    <div class="navbar">
						        <div class="navbar-inner">
						            <h6>Digite as informações do formulário</h6>
						        </div>
						    </div>

						    <div class="well">
								<?php if (isset($this->erros)) : ?>
									<div class="alert alert-error margin">
				                        <button data-dismiss="alert" class="close" type="button">×</button>
				                        <strong>Há erros no formulário!</strong>
					    				<?php foreach ($this->erros as $k=>$v) : ?>
					    					<span><br />- <?php echo $v ?></span>
					    				<?php endforeach;?>			                        
				                    </div>
			                    <?php endif; ?>						    
						     
                <?php $idescola = Usuarios::getUsuario('idescola'); ?>
				<?php $idlocal = Usuarios::getUsuario('idlocal'); ?>
				<?php if(($idescola>0) || ($idlocal>0)): ?>		    
				<div class="control-group">
					<div class="controls1 visualizar">
						<table class="table table-content" width="100%">
							<tbody>
								<tr>
									<input maxlength="500" placeholder="Nome do Usuário" name="idusuario" value="<?php echo Usuarios::getUsuario('id') ?>" type="hidden"  class="span3" />
									<input  placeholder="Data de lançamento" name="datalancamento" value="<?php echo (isset($this->post_var['datalancamento'])) ? Mn_Util::formPostVarData($this->post_var['datalancamento']) : date('d/m/Y') ?>" type="hidden"  class="span3" />
									<input maxlength="500" placeholder="Nome do Usuário" name="idlocal" value="<?php echo Usuarios::getUsuario('idlocal') ?>" type="hidden"  class="span3" />
									<input maxlength="500" placeholder="Nome do Usuário" name="idescola" value="<?php echo Usuarios::getUsuario('idescola') ?>" type="hidden"  class="span3" />

									<td width="33%">Nome do Usuário: <?php echo Usuarios::getUsuario('nomerazao') . " - " . Usuarios::getUsuario('rgf') ?></td>
									<td width="34%">Data da Abertura: <?php echo date('d/m/Y') ?></td>
									<td width="33%">Escola: <?php 
											$local = Escolas::getEscolaByIdHelper(Usuarios::getUsuario('idescola')); 
											echo ((isset($local['escola'])) && ($local['escola']) && ($local['escola']!="") ) ? $local['escola'] : '';
										?>
											
									</td>
								</tr>
							</tbody>
						</table>
						
					</div>
				</div>
				<?php else: ?>
				<div class="control-group">
					<div class="controls1 visualizar">
						<table class="table table-content" width="100%">
							<tbody>
								<tr>
									<input maxlength="500" placeholder="Nome do Usuário" name="idusuario" value="<?php echo Usuarios::getUsuario('id') ?>" type="hidden"  class="span3" />
									<input  placeholder="Data de lançamento" name="datalancamento" value="<?php echo (isset($this->post_var['datalancamento'])) ? Mn_Util::formPostVarData($this->post_var['datalancamento']) : date('d/m/Y') ?>" type="hidden"  class="span3" />
									
									<td width="50%">Nome do Usuário: <?php echo Usuarios::getUsuario('nomerazao') . " - " . Usuarios::getUsuario('rgf') ?></td>
									<td width="50%">Data da Abertura: <?php echo date('d/m/Y') ?></td>
									
								</tr>
							</tbody>
						</table>
						
					</div>
				</div>
				<?php endif; ?>
							
				<?php if(((int)$idescola>0) || ((int)$idlocal>0)): ?>

				<?php else: ?>
				<div class="control-group">
					<label class="control-label">Escolas <span class="required">*</span></label>
					<div class="controls">
                        <select id="idescola" name="idescola"  class="select" onchange="setPeriodos(this, 0)">
	                        <option value="">Selecione...</option>
	                        <?php foreach ($this->escolas as $e=>$row): ?>
	                        <option value="<?php echo $row['id'] ?>"><?php echo $row['escola'] ?></option>
	                        <?php endforeach;?>
                        </select>   
					</div>
				</div>
				<?php endif; ?>


				<div class="control-group">
					<label class="control-label">Atividade *</label>
					<div class="controls">
						<select name="idatividade" data-placeholder="Atividade" class="select">
							<option value="">Selecione...</option>
							<?php foreach(Atividadescomplementares::getAtividadescomplementaresHelper(array('status'=>'Ativo')) as $fr=>$row_fr): ?>
							<option value="<?php echo $row_fr['id'] ?>"><?php echo $row_fr['titulo'] ?></option>
							<?php endforeach ?>
						</select>
						
					</div>
				</div>

				<div class="control-group">
					<label class="control-label">Aluno <span class="required">*</span></label>
					<div class="controls">
		                <select name="idaluno" data-placeholder="Aluno" class="select">
							<option value="">Selecione...</option>
							<?php foreach (Escolasalunos::getEscolasalunosHelper(array('status'=>'Ativo')) as $k=>$v) : ?>
							<option value="<?php echo $v['id'] ?>"><?php echo $v['nomerazao'] ?></option>
							<?php endforeach;?>
						</select>
						
					</div>
				</div>

				<div class="control-group">
					<label class="control-label">Data <span class="required">*</span></label>
					<div class="controls"><input maxlength="500" placeholder="Data" name="data" value="<?php echo (isset($this->post_var['data'])) ? $this->post_var['data'] : '' ?>" type="text"  class="span3" /></div>
				</div>

<?php if(false): ?>
<div class="control-group">
					<div class="controls1">
						<div style="width:100%; text-align:center;">
						<input type="hidden" value="" name="validafaltas" id="validafaltas" class="validafaltas">
						<div>

						<table class="table table-primary mb30 meses" style="width:100%;" border="1" bordercolor="#d5d5d5">
							<tbody id="">
								<tr>
									<?php /*?><td width="" onclick="setMes('1', '1')"><a hreh="javascript:;"><i class="ico-chevron-left"></i></a></td><?php */?>
									<td width="" class="nomemes">Fevereiro</td>	
									<?php /*?><td width="" onclick="setMes('3', '1')"><a hreh="javascript:;"><i class="ico-chevron-right"></i></a></td><?php */?>
								</tr>
							</tbody>
						</table>
						<br>
						<br>
						<table class="table table-primary mb30 diasmes" style="width:100%;" border="1" bordercolor="#d5d5d5">
							<thead>
								<tr>
									<th width="">&nbsp;</th>									
									<th width="" class="nomealuno">Aluno</th>									
																		<th width="">1</th>
																		<th width="">2</th>
																		<th width="">3</th>
																		<th width="">4</th>
																		<th width="">5</th>
																		<th width="">6</th>
																		<th width="">7</th>
																		<th width="">8</th>
																		<th width="">9</th>
																		<th width="">10</th>
																		<th width="">11</th>
																		<th width="">12</th>
																		<th width="">13</th>
																		<th width="">14</th>
																		<th width="">15</th>
																		<th width="">16</th>
																		<th width="">17</th>
																		<th width="">18</th>
																		<th width="">19</th>
																		<th width="">20</th>
																		<th width="">21</th>
																		<th width="">22</th>
																		<th width="">23</th>
																		<th width="">24</th>
																		<th width="">25</th>
																		<th width="">26</th>
																		<th width="">27</th>
																		<th width="">28</th>
																		<th>T.</th>
								</tr>
							</thead>
							<tbody id="box-faltas"><tr>
	<td>1</td>
	<td class="nomealuno">
Pedro Henrique		
	</td>
			
	<td id="inline1" onclick="addPlanoaula(this, '1')" style="background-color:#FFFFFF;" class="quadro_1">
		<div style="display:none">
			<div id="data1">
				<div class="control-group">
					<label class="control-label">Título <span class="required">*</span></label>
					<div class="controls"><input maxlength="500" placeholder="Título" name="titulo" value="" type="text" class="span3 titulo"></div>
				</div>


				<div class="control-group">
					<label class="control-label">Descrições </label>
					<div class="controls"><textarea class="span12 texto" name="texto" cols="5" rows="5" style="width: 100%"></textarea></div>
				</div>

                <div class="form-actions align-center">
                	
                	<button class="btn btn-primary" type="button" onclick="enviaplano(this, '1', '02', '1', '3')">Salvar plano de aula</button>
	                
                </div>
			</div>
		</div>
		<input type="hidden" name="idsfaltas[]" class="idsfaltas" value="0">
		<input type="hidden" name="idescolavinculo[]" value="1">
		<input type="hidden" name="idmateria[]" value="15">
		<input type="hidden" name="idprofessor[]" value="12">
		<input type="hidden" name="idaluno[]" value="3">
			</td>
		
	<td id="inline2" onclick="addPlanoaula(this, '2')" style="background-color:#FFFFFF;" class="quadro_2">
		<div style="display:none">
			<div id="data2">
				<div class="control-group">
					<label class="control-label">Título <span class="required">*</span></label>
					<div class="controls"><input maxlength="500" placeholder="Título" name="titulo" value="" type="text" class="span3 titulo"></div>
				</div>


				<div class="control-group">
					<label class="control-label">Descrições </label>
					<div class="controls"><textarea class="span12 texto" name="texto" cols="5" rows="5" style="width: 100%"></textarea></div>
				</div>

                <div class="form-actions align-center">
                	
                	<button class="btn btn-primary" type="button" onclick="enviaplano(this, '2', '02', '1', '3')">Salvar plano de aula</button>
	                
                </div>
			</div>
		</div>
		<input type="hidden" name="idsfaltas[]" class="idsfaltas" value="0">
		<input type="hidden" name="idescolavinculo[]" value="1">
		<input type="hidden" name="idmateria[]" value="15">
		<input type="hidden" name="idprofessor[]" value="12">
		<input type="hidden" name="idaluno[]" value="3">
			</td>
		
	<td id="inline3" onclick="addPlanoaula(this, '3')" style="background-color:#FFFFFF;" class="quadro_3">
		<div style="display:none">
			<div id="data3">
				<div class="control-group">
					<label class="control-label">Título <span class="required">*</span></label>
					<div class="controls"><input maxlength="500" placeholder="Título" name="titulo" value="" type="text" class="span3 titulo"></div>
				</div>


				<div class="control-group">
					<label class="control-label">Descrições </label>
					<div class="controls"><textarea class="span12 texto" name="texto" cols="5" rows="5" style="width: 100%"></textarea></div>
				</div>

                <div class="form-actions align-center">
                	
                	<button class="btn btn-primary" type="button" onclick="enviaplano(this, '3', '02', '1', '3')">Salvar plano de aula</button>
	                
                </div>
			</div>
		</div>
		<input type="hidden" name="idsfaltas[]" class="idsfaltas" value="0">
		<input type="hidden" name="idescolavinculo[]" value="1">
		<input type="hidden" name="idmateria[]" value="15">
		<input type="hidden" name="idprofessor[]" value="12">
		<input type="hidden" name="idaluno[]" value="3">
			</td>
		
	<td id="inline4" onclick="addPlanoaula(this, '4')" style="background-color:#FFFFFF;" class="quadro_4">
		<div style="display:none">
			<div id="data4">
				<div class="control-group">
					<label class="control-label">Título <span class="required">*</span></label>
					<div class="controls"><input maxlength="500" placeholder="Título" name="titulo" value="" type="text" class="span3 titulo"></div>
				</div>


				<div class="control-group">
					<label class="control-label">Descrições </label>
					<div class="controls"><textarea class="span12 texto" name="texto" cols="5" rows="5" style="width: 100%"></textarea></div>
				</div>

                <div class="form-actions align-center">
                	
                	<button class="btn btn-primary" type="button" onclick="enviaplano(this, '4', '02', '1', '3')">Salvar plano de aula</button>
	                
                </div>
			</div>
		</div>
		<input type="hidden" name="idsfaltas[]" class="idsfaltas" value="0">
		<input type="hidden" name="idescolavinculo[]" value="1">
		<input type="hidden" name="idmateria[]" value="15">
		<input type="hidden" name="idprofessor[]" value="12">
		<input type="hidden" name="idaluno[]" value="3">
			</td>
		
	<td id="inline5" onclick="addPlanoaula(this, '5')" style="background-color:#FFFFFF;" class="quadro_5">
		<div style="display:none">
			<div id="data5">
				<div class="control-group">
					<label class="control-label">Título <span class="required">*</span></label>
					<div class="controls"><input maxlength="500" placeholder="Título" name="titulo" value="" type="text" class="span3 titulo"></div>
				</div>


				<div class="control-group">
					<label class="control-label">Descrições </label>
					<div class="controls"><textarea class="span12 texto" name="texto" cols="5" rows="5" style="width: 100%"></textarea></div>
				</div>

                <div class="form-actions align-center">
                	
                	<button class="btn btn-primary" type="button" onclick="enviaplano(this, '5', '02', '1', '3')">Salvar plano de aula</button>
	                
                </div>
			</div>
		</div>
		<input type="hidden" name="idsfaltas[]" class="idsfaltas" value="0">
		<input type="hidden" name="idescolavinculo[]" value="1">
		<input type="hidden" name="idmateria[]" value="15">
		<input type="hidden" name="idprofessor[]" value="12">
		<input type="hidden" name="idaluno[]" value="3">
			</td>
		
	<td id="inline6" onclick="addPlanoaula(this, '6')" style="background-color:#FFFFFF;" class="quadro_6">
		<div style="display:none">
			<div id="data6">
				<div class="control-group">
					<label class="control-label">Título <span class="required">*</span></label>
					<div class="controls"><input maxlength="500" placeholder="Título" name="titulo" value="" type="text" class="span3 titulo"></div>
				</div>


				<div class="control-group">
					<label class="control-label">Descrições </label>
					<div class="controls"><textarea class="span12 texto" name="texto" cols="5" rows="5" style="width: 100%"></textarea></div>
				</div>

                <div class="form-actions align-center">
                	
                	<button class="btn btn-primary" type="button" onclick="enviaplano(this, '6', '02', '1', '3')">Salvar plano de aula</button>
	                
                </div>
			</div>
		</div>
		<input type="hidden" name="idsfaltas[]" class="idsfaltas" value="0">
		<input type="hidden" name="idescolavinculo[]" value="1">
		<input type="hidden" name="idmateria[]" value="15">
		<input type="hidden" name="idprofessor[]" value="12">
		<input type="hidden" name="idaluno[]" value="3">
			</td>
		
	<td id="inline7" onclick="addPlanoaula(this, '7')" style="background-color:#FFFFFF;" class="quadro_7">
		<div style="display:none">
			<div id="data7">
				<div class="control-group">
					<label class="control-label">Título <span class="required">*</span></label>
					<div class="controls"><input maxlength="500" placeholder="Título" name="titulo" value="" type="text" class="span3 titulo"></div>
				</div>


				<div class="control-group">
					<label class="control-label">Descrições </label>
					<div class="controls"><textarea class="span12 texto" name="texto" cols="5" rows="5" style="width: 100%"></textarea></div>
				</div>

                <div class="form-actions align-center">
                	
                	<button class="btn btn-primary" type="button" onclick="enviaplano(this, '7', '02', '1', '3')">Salvar plano de aula</button>
	                
                </div>
			</div>
		</div>
		<input type="hidden" name="idsfaltas[]" class="idsfaltas" value="0">
		<input type="hidden" name="idescolavinculo[]" value="1">
		<input type="hidden" name="idmateria[]" value="15">
		<input type="hidden" name="idprofessor[]" value="12">
		<input type="hidden" name="idaluno[]" value="3">
			</td>
		
	<td id="inline8" onclick="addPlanoaula(this, '8')" style="background-color:#FFFFFF;" class="quadro_8">
		<div style="display:none">
			<div id="data8">
				<div class="control-group">
					<label class="control-label">Título <span class="required">*</span></label>
					<div class="controls"><input maxlength="500" placeholder="Título" name="titulo" value="" type="text" class="span3 titulo"></div>
				</div>


				<div class="control-group">
					<label class="control-label">Descrições </label>
					<div class="controls"><textarea class="span12 texto" name="texto" cols="5" rows="5" style="width: 100%"></textarea></div>
				</div>

                <div class="form-actions align-center">
                	
                	<button class="btn btn-primary" type="button" onclick="enviaplano(this, '8', '02', '1', '3')">Salvar plano de aula</button>
	                
                </div>
			</div>
		</div>
		<input type="hidden" name="idsfaltas[]" class="idsfaltas" value="0">
		<input type="hidden" name="idescolavinculo[]" value="1">
		<input type="hidden" name="idmateria[]" value="15">
		<input type="hidden" name="idprofessor[]" value="12">
		<input type="hidden" name="idaluno[]" value="3">
			</td>
		
	<td id="inline9" onclick="addPlanoaula(this, '9')" style="background-color:#FFFFFF;" class="quadro_9">
		<div style="display:none">
			<div id="data9">
				<div class="control-group">
					<label class="control-label">Título <span class="required">*</span></label>
					<div class="controls"><input maxlength="500" placeholder="Título" name="titulo" value="" type="text" class="span3 titulo"></div>
				</div>


				<div class="control-group">
					<label class="control-label">Descrições </label>
					<div class="controls"><textarea class="span12 texto" name="texto" cols="5" rows="5" style="width: 100%"></textarea></div>
				</div>

                <div class="form-actions align-center">
                	
                	<button class="btn btn-primary" type="button" onclick="enviaplano(this, '9', '02', '1', '3')">Salvar plano de aula</button>
	                
                </div>
			</div>
		</div>
		<input type="hidden" name="idsfaltas[]" class="idsfaltas" value="0">
		<input type="hidden" name="idescolavinculo[]" value="1">
		<input type="hidden" name="idmateria[]" value="15">
		<input type="hidden" name="idprofessor[]" value="12">
		<input type="hidden" name="idaluno[]" value="3">
			</td>
		
	<td id="inline10" onclick="addPlanoaula(this, '10')" style="background-color:#FFFFFF;" class="quadro_10">
		<div style="display:none">
			<div id="data10">
				<div class="control-group">
					<label class="control-label">Título <span class="required">*</span></label>
					<div class="controls"><input maxlength="500" placeholder="Título" name="titulo" value="" type="text" class="span3 titulo"></div>
				</div>


				<div class="control-group">
					<label class="control-label">Descrições </label>
					<div class="controls"><textarea class="span12 texto" name="texto" cols="5" rows="5" style="width: 100%"></textarea></div>
				</div>

                <div class="form-actions align-center">
                	
                	<button class="btn btn-primary" type="button" onclick="enviaplano(this, '10', '02', '1', '3')">Salvar plano de aula</button>
	                
                </div>
			</div>
		</div>
		<input type="hidden" name="idsfaltas[]" class="idsfaltas" value="0">
		<input type="hidden" name="idescolavinculo[]" value="1">
		<input type="hidden" name="idmateria[]" value="15">
		<input type="hidden" name="idprofessor[]" value="12">
		<input type="hidden" name="idaluno[]" value="3">
			</td>
		
	<td id="inline11" onclick="addPlanoaula(this, '11')" style="background-color:#FFFFFF;" class="quadro_11">
		<div style="display:none">
			<div id="data11">
				<div class="control-group">
					<label class="control-label">Título <span class="required">*</span></label>
					<div class="controls"><input maxlength="500" placeholder="Título" name="titulo" value="" type="text" class="span3 titulo"></div>
				</div>


				<div class="control-group">
					<label class="control-label">Descrições </label>
					<div class="controls"><textarea class="span12 texto" name="texto" cols="5" rows="5" style="width: 100%"></textarea></div>
				</div>

                <div class="form-actions align-center">
                	
                	<button class="btn btn-primary" type="button" onclick="enviaplano(this, '11', '02', '1', '3')">Salvar plano de aula</button>
	                
                </div>
			</div>
		</div>
		<input type="hidden" name="idsfaltas[]" class="idsfaltas" value="0">
		<input type="hidden" name="idescolavinculo[]" value="1">
		<input type="hidden" name="idmateria[]" value="15">
		<input type="hidden" name="idprofessor[]" value="12">
		<input type="hidden" name="idaluno[]" value="3">
			</td>
		
	<td id="inline12" onclick="addPlanoaula(this, '12')" style="background-color:#FFFFFF;" class="quadro_12">
		<div style="display:none">
			<div id="data12">
				<div class="control-group">
					<label class="control-label">Título <span class="required">*</span></label>
					<div class="controls"><input maxlength="500" placeholder="Título" name="titulo" value="" type="text" class="span3 titulo"></div>
				</div>


				<div class="control-group">
					<label class="control-label">Descrições </label>
					<div class="controls"><textarea class="span12 texto" name="texto" cols="5" rows="5" style="width: 100%"></textarea></div>
				</div>

                <div class="form-actions align-center">
                	
                	<button class="btn btn-primary" type="button" onclick="enviaplano(this, '12', '02', '1', '3')">Salvar plano de aula</button>
	                
                </div>
			</div>
		</div>
		<input type="hidden" name="idsfaltas[]" class="idsfaltas" value="0">
		<input type="hidden" name="idescolavinculo[]" value="1">
		<input type="hidden" name="idmateria[]" value="15">
		<input type="hidden" name="idprofessor[]" value="12">
		<input type="hidden" name="idaluno[]" value="3">
			</td>
		
	<td id="inline13" onclick="addPlanoaula(this, '13')" style="background-color:#FFFFFF;" class="quadro_13">
		<div style="display:none">
			<div id="data13">
				<div class="control-group">
					<label class="control-label">Título <span class="required">*</span></label>
					<div class="controls"><input maxlength="500" placeholder="Título" name="titulo" value="" type="text" class="span3 titulo"></div>
				</div>


				<div class="control-group">
					<label class="control-label">Descrições </label>
					<div class="controls"><textarea class="span12 texto" name="texto" cols="5" rows="5" style="width: 100%"></textarea></div>
				</div>

                <div class="form-actions align-center">
                	
                	<button class="btn btn-primary" type="button" onclick="enviaplano(this, '13', '02', '1', '3')">Salvar plano de aula</button>
	                
                </div>
			</div>
		</div>
		<input type="hidden" name="idsfaltas[]" class="idsfaltas" value="0">
		<input type="hidden" name="idescolavinculo[]" value="1">
		<input type="hidden" name="idmateria[]" value="15">
		<input type="hidden" name="idprofessor[]" value="12">
		<input type="hidden" name="idaluno[]" value="3">
			</td>
		
	<td id="inline14" onclick="addPlanoaula(this, '14')" style="background-color:#FFFFFF;" class="quadro_14">
		<div style="display:none">
			<div id="data14">
				<div class="control-group">
					<label class="control-label">Título <span class="required">*</span></label>
					<div class="controls"><input maxlength="500" placeholder="Título" name="titulo" value="" type="text" class="span3 titulo"></div>
				</div>


				<div class="control-group">
					<label class="control-label">Descrições </label>
					<div class="controls"><textarea class="span12 texto" name="texto" cols="5" rows="5" style="width: 100%"></textarea></div>
				</div>

                <div class="form-actions align-center">
                	
                	<button class="btn btn-primary" type="button" onclick="enviaplano(this, '14', '02', '1', '3')">Salvar plano de aula</button>
	                
                </div>
			</div>
		</div>
		<input type="hidden" name="idsfaltas[]" class="idsfaltas" value="0">
		<input type="hidden" name="idescolavinculo[]" value="1">
		<input type="hidden" name="idmateria[]" value="15">
		<input type="hidden" name="idprofessor[]" value="12">
		<input type="hidden" name="idaluno[]" value="3">
			</td>
		
	<td id="inline15" onclick="addPlanoaula(this, '15')" style="background-color:#FFFFFF;" class="quadro_15">
		<div style="display:none">
			<div id="data15">
				<div class="control-group">
					<label class="control-label">Título <span class="required">*</span></label>
					<div class="controls"><input maxlength="500" placeholder="Título" name="titulo" value="" type="text" class="span3 titulo"></div>
				</div>


				<div class="control-group">
					<label class="control-label">Descrições </label>
					<div class="controls"><textarea class="span12 texto" name="texto" cols="5" rows="5" style="width: 100%"></textarea></div>
				</div>

                <div class="form-actions align-center">
                	
                	<button class="btn btn-primary" type="button" onclick="enviaplano(this, '15', '02', '1', '3')">Salvar plano de aula</button>
	                
                </div>
			</div>
		</div>
		<input type="hidden" name="idsfaltas[]" class="idsfaltas" value="0">
		<input type="hidden" name="idescolavinculo[]" value="1">
		<input type="hidden" name="idmateria[]" value="15">
		<input type="hidden" name="idprofessor[]" value="12">
		<input type="hidden" name="idaluno[]" value="3">
			</td>
		
	<td id="inline16" onclick="addPlanoaula(this, '16')" style="background-color:#FFFFFF;" class="quadro_16">
		<div style="display:none">
			<div id="data16">
				<div class="control-group">
					<label class="control-label">Título <span class="required">*</span></label>
					<div class="controls"><input maxlength="500" placeholder="Título" name="titulo" value="" type="text" class="span3 titulo"></div>
				</div>


				<div class="control-group">
					<label class="control-label">Descrições </label>
					<div class="controls"><textarea class="span12 texto" name="texto" cols="5" rows="5" style="width: 100%"></textarea></div>
				</div>

                <div class="form-actions align-center">
                	
                	<button class="btn btn-primary" type="button" onclick="enviaplano(this, '16', '02', '1', '3')">Salvar plano de aula</button>
	                
                </div>
			</div>
		</div>
		<input type="hidden" name="idsfaltas[]" class="idsfaltas" value="0">
		<input type="hidden" name="idescolavinculo[]" value="1">
		<input type="hidden" name="idmateria[]" value="15">
		<input type="hidden" name="idprofessor[]" value="12">
		<input type="hidden" name="idaluno[]" value="3">
			</td>
		
	<td id="inline17" onclick="addPlanoaula(this, '17')" style="background-color:#FFFFFF;" class="quadro_17">
		<div style="display:none">
			<div id="data17">
				<div class="control-group">
					<label class="control-label">Título <span class="required">*</span></label>
					<div class="controls"><input maxlength="500" placeholder="Título" name="titulo" value="" type="text" class="span3 titulo"></div>
				</div>


				<div class="control-group">
					<label class="control-label">Descrições </label>
					<div class="controls"><textarea class="span12 texto" name="texto" cols="5" rows="5" style="width: 100%"></textarea></div>
				</div>

                <div class="form-actions align-center">
                	
                	<button class="btn btn-primary" type="button" onclick="enviaplano(this, '17', '02', '1', '3')">Salvar plano de aula</button>
	                
                </div>
			</div>
		</div>
		<input type="hidden" name="idsfaltas[]" class="idsfaltas" value="0">
		<input type="hidden" name="idescolavinculo[]" value="1">
		<input type="hidden" name="idmateria[]" value="15">
		<input type="hidden" name="idprofessor[]" value="12">
		<input type="hidden" name="idaluno[]" value="3">
			</td>
		
	<td id="inline18" onclick="addPlanoaula(this, '18')" style="background-color:#FFFFFF;" class="quadro_18">
		<div style="display:none">
			<div id="data18">
				<div class="control-group">
					<label class="control-label">Título <span class="required">*</span></label>
					<div class="controls"><input maxlength="500" placeholder="Título" name="titulo" value="" type="text" class="span3 titulo"></div>
				</div>


				<div class="control-group">
					<label class="control-label">Descrições </label>
					<div class="controls"><textarea class="span12 texto" name="texto" cols="5" rows="5" style="width: 100%"></textarea></div>
				</div>

                <div class="form-actions align-center">
                	
                	<button class="btn btn-primary" type="button" onclick="enviaplano(this, '18', '02', '1', '3')">Salvar plano de aula</button>
	                
                </div>
			</div>
		</div>
		<input type="hidden" name="idsfaltas[]" class="idsfaltas" value="0">
		<input type="hidden" name="idescolavinculo[]" value="1">
		<input type="hidden" name="idmateria[]" value="15">
		<input type="hidden" name="idprofessor[]" value="12">
		<input type="hidden" name="idaluno[]" value="3">
			</td>
		
	<td id="inline19" onclick="addPlanoaula(this, '19')" style="background-color:#FFFFFF;" class="quadro_19">
		<div style="display:none">
			<div id="data19">
				<div class="control-group">
					<label class="control-label">Título <span class="required">*</span></label>
					<div class="controls"><input maxlength="500" placeholder="Título" name="titulo" value="" type="text" class="span3 titulo"></div>
				</div>


				<div class="control-group">
					<label class="control-label">Descrições </label>
					<div class="controls"><textarea class="span12 texto" name="texto" cols="5" rows="5" style="width: 100%"></textarea></div>
				</div>

                <div class="form-actions align-center">
                	
                	<button class="btn btn-primary" type="button" onclick="enviaplano(this, '19', '02', '1', '3')">Salvar plano de aula</button>
	                
                </div>
			</div>
		</div>
		<input type="hidden" name="idsfaltas[]" class="idsfaltas" value="0">
		<input type="hidden" name="idescolavinculo[]" value="1">
		<input type="hidden" name="idmateria[]" value="15">
		<input type="hidden" name="idprofessor[]" value="12">
		<input type="hidden" name="idaluno[]" value="3">
			</td>
		
	<td id="inline20" onclick="addPlanoaula(this, '20')" style="background-color:#FFFFFF;" class="quadro_20">
		<div style="display:none">
			<div id="data20">
				<div class="control-group">
					<label class="control-label">Título <span class="required">*</span></label>
					<div class="controls"><input maxlength="500" placeholder="Título" name="titulo" value="" type="text" class="span3 titulo"></div>
				</div>


				<div class="control-group">
					<label class="control-label">Descrições </label>
					<div class="controls"><textarea class="span12 texto" name="texto" cols="5" rows="5" style="width: 100%"></textarea></div>
				</div>

                <div class="form-actions align-center">
                	
                	<button class="btn btn-primary" type="button" onclick="enviaplano(this, '20', '02', '1', '3')">Salvar plano de aula</button>
	                
                </div>
			</div>
		</div>
		<input type="hidden" name="idsfaltas[]" class="idsfaltas" value="0">
		<input type="hidden" name="idescolavinculo[]" value="1">
		<input type="hidden" name="idmateria[]" value="15">
		<input type="hidden" name="idprofessor[]" value="12">
		<input type="hidden" name="idaluno[]" value="3">
			</td>
		
	<td id="inline21" onclick="addPlanoaula(this, '21')" style="background-color:#FFFFFF;" class="quadro_21">
		<div style="display:none">
			<div id="data21">
				<div class="control-group">
					<label class="control-label">Título <span class="required">*</span></label>
					<div class="controls"><input maxlength="500" placeholder="Título" name="titulo" value="" type="text" class="span3 titulo"></div>
				</div>


				<div class="control-group">
					<label class="control-label">Descrições </label>
					<div class="controls"><textarea class="span12 texto" name="texto" cols="5" rows="5" style="width: 100%"></textarea></div>
				</div>

                <div class="form-actions align-center">
                	
                	<button class="btn btn-primary" type="button" onclick="enviaplano(this, '21', '02', '1', '3')">Salvar plano de aula</button>
	                
                </div>
			</div>
		</div>
		<input type="hidden" name="idsfaltas[]" class="idsfaltas" value="0">
		<input type="hidden" name="idescolavinculo[]" value="1">
		<input type="hidden" name="idmateria[]" value="15">
		<input type="hidden" name="idprofessor[]" value="12">
		<input type="hidden" name="idaluno[]" value="3">
			</td>
		
	<td id="inline22" onclick="addPlanoaula(this, '22')" style="background-color:#FFFFFF;" class="quadro_22">
		<div style="display:none">
			<div id="data22">
				<div class="control-group">
					<label class="control-label">Título <span class="required">*</span></label>
					<div class="controls"><input maxlength="500" placeholder="Título" name="titulo" value="" type="text" class="span3 titulo"></div>
				</div>


				<div class="control-group">
					<label class="control-label">Descrições </label>
					<div class="controls"><textarea class="span12 texto" name="texto" cols="5" rows="5" style="width: 100%"></textarea></div>
				</div>

                <div class="form-actions align-center">
                	
                	<button class="btn btn-primary" type="button" onclick="enviaplano(this, '22', '02', '1', '3')">Salvar plano de aula</button>
	                
                </div>
			</div>
		</div>
		<input type="hidden" name="idsfaltas[]" class="idsfaltas" value="0">
		<input type="hidden" name="idescolavinculo[]" value="1">
		<input type="hidden" name="idmateria[]" value="15">
		<input type="hidden" name="idprofessor[]" value="12">
		<input type="hidden" name="idaluno[]" value="3">
			</td>
		
	<td id="inline23" onclick="addPlanoaula(this, '23')" style="background-color:#FFFFFF;" class="quadro_23">
		<div style="display:none">
			<div id="data23">
				<div class="control-group">
					<label class="control-label">Título <span class="required">*</span></label>
					<div class="controls"><input maxlength="500" placeholder="Título" name="titulo" value="" type="text" class="span3 titulo"></div>
				</div>


				<div class="control-group">
					<label class="control-label">Descrições </label>
					<div class="controls"><textarea class="span12 texto" name="texto" cols="5" rows="5" style="width: 100%"></textarea></div>
				</div>

                <div class="form-actions align-center">
                	
                	<button class="btn btn-primary" type="button" onclick="enviaplano(this, '23', '02', '1', '3')">Salvar plano de aula</button>
	                
                </div>
			</div>
		</div>
		<input type="hidden" name="idsfaltas[]" class="idsfaltas" value="0">
		<input type="hidden" name="idescolavinculo[]" value="1">
		<input type="hidden" name="idmateria[]" value="15">
		<input type="hidden" name="idprofessor[]" value="12">
		<input type="hidden" name="idaluno[]" value="3">
			</td>
		
	<td id="inline24" onclick="addPlanoaula(this, '24')" style="background-color:#FFFFFF;" class="quadro_24">
		<div style="display:none">
			<div id="data24">
				<div class="control-group">
					<label class="control-label">Título <span class="required">*</span></label>
					<div class="controls"><input maxlength="500" placeholder="Título" name="titulo" value="" type="text" class="span3 titulo"></div>
				</div>


				<div class="control-group">
					<label class="control-label">Descrições </label>
					<div class="controls"><textarea class="span12 texto" name="texto" cols="5" rows="5" style="width: 100%"></textarea></div>
				</div>

                <div class="form-actions align-center">
                	
                	<button class="btn btn-primary" type="button" onclick="enviaplano(this, '24', '02', '1', '3')">Salvar plano de aula</button>
	                
                </div>
			</div>
		</div>
		<input type="hidden" name="idsfaltas[]" class="idsfaltas" value="0">
		<input type="hidden" name="idescolavinculo[]" value="1">
		<input type="hidden" name="idmateria[]" value="15">
		<input type="hidden" name="idprofessor[]" value="12">
		<input type="hidden" name="idaluno[]" value="3">
			</td>
		
	<td id="inline25" onclick="addPlanoaula(this, '25')" style="background-color:#FFFFFF;" class="quadro_25">
		<div style="display:none">
			<div id="data25">
				<div class="control-group">
					<label class="control-label">Título <span class="required">*</span></label>
					<div class="controls"><input maxlength="500" placeholder="Título" name="titulo" value="" type="text" class="span3 titulo"></div>
				</div>


				<div class="control-group">
					<label class="control-label">Descrições </label>
					<div class="controls"><textarea class="span12 texto" name="texto" cols="5" rows="5" style="width: 100%"></textarea></div>
				</div>

                <div class="form-actions align-center">
                	
                	<button class="btn btn-primary" type="button" onclick="enviaplano(this, '25', '02', '1', '3')">Salvar plano de aula</button>
	                
                </div>
			</div>
		</div>
		<input type="hidden" name="idsfaltas[]" class="idsfaltas" value="0">
		<input type="hidden" name="idescolavinculo[]" value="1">
		<input type="hidden" name="idmateria[]" value="15">
		<input type="hidden" name="idprofessor[]" value="12">
		<input type="hidden" name="idaluno[]" value="3">
			</td>
		
	<td id="inline26" onclick="addPlanoaula(this, '26')" style="background-color:#FFFFFF;" class="quadro_26">
		<div style="display:none">
			<div id="data26">
				<div class="control-group">
					<label class="control-label">Título <span class="required">*</span></label>
					<div class="controls"><input maxlength="500" placeholder="Título" name="titulo" value="" type="text" class="span3 titulo"></div>
				</div>


				<div class="control-group">
					<label class="control-label">Descrições </label>
					<div class="controls"><textarea class="span12 texto" name="texto" cols="5" rows="5" style="width: 100%"></textarea></div>
				</div>

                <div class="form-actions align-center">
                	
                	<button class="btn btn-primary" type="button" onclick="enviaplano(this, '26', '02', '1', '3')">Salvar plano de aula</button>
	                
                </div>
			</div>
		</div>
		<input type="hidden" name="idsfaltas[]" class="idsfaltas" value="0">
		<input type="hidden" name="idescolavinculo[]" value="1">
		<input type="hidden" name="idmateria[]" value="15">
		<input type="hidden" name="idprofessor[]" value="12">
		<input type="hidden" name="idaluno[]" value="3">
			</td>
		
	<td id="inline27" onclick="addPlanoaula(this, '27')" style="background-color:#FFFFFF;" class="quadro_27">
		<div style="display:none">
			<div id="data27">
				<div class="control-group">
					<label class="control-label">Título <span class="required">*</span></label>
					<div class="controls"><input maxlength="500" placeholder="Título" name="titulo" value="" type="text" class="span3 titulo"></div>
				</div>


				<div class="control-group">
					<label class="control-label">Descrições </label>
					<div class="controls"><textarea class="span12 texto" name="texto" cols="5" rows="5" style="width: 100%"></textarea></div>
				</div>

                <div class="form-actions align-center">
                	
                	<button class="btn btn-primary" type="button" onclick="enviaplano(this, '27', '02', '1', '3')">Salvar plano de aula</button>
	                
                </div>
			</div>
		</div>
		<input type="hidden" name="idsfaltas[]" class="idsfaltas" value="0">
		<input type="hidden" name="idescolavinculo[]" value="1">
		<input type="hidden" name="idmateria[]" value="15">
		<input type="hidden" name="idprofessor[]" value="12">
		<input type="hidden" name="idaluno[]" value="3">
			</td>
		
	<td id="inline28" onclick="addPlanoaula(this, '28')" style="background-color:#FFFFFF;" class="quadro_28">
		<div style="display:none">
			<div id="data28">
				<div class="control-group">
					<label class="control-label">Título <span class="required">*</span></label>
					<div class="controls"><input maxlength="500" placeholder="Título" name="titulo" value="" type="text" class="span3 titulo"></div>
				</div>


				<div class="control-group">
					<label class="control-label">Descrições </label>
					<div class="controls"><textarea class="span12 texto" name="texto" cols="5" rows="5" style="width: 100%"></textarea></div>
				</div>

                <div class="form-actions align-center">
                	
                	<button class="btn btn-primary" type="button" onclick="enviaplano(this, '28', '02', '1', '3')">Salvar plano de aula</button>
	                
                </div>
			</div>
		</div>
		<input type="hidden" name="idsfaltas[]" class="idsfaltas" value="0">
		<input type="hidden" name="idescolavinculo[]" value="1">
		<input type="hidden" name="idmateria[]" value="15">
		<input type="hidden" name="idprofessor[]" value="12">
		<input type="hidden" name="idaluno[]" value="3">
			</td>
		
	<td>
				<span class="total1">0</span>
	</td>
</tr>
<tr>
	<td>2</td>
	<td class="nomealuno">
Rodolfo Antunes		
	</td>
			
	<td id="inline1" onclick="addPlanoaula(this, '1')" style="background-color:#FFFFFF;" class="quadro_1">
		<div style="display:none">
			<div id="data1">
				<div class="control-group">
					<label class="control-label">Título <span class="required">*</span></label>
					<div class="controls"><input maxlength="500" placeholder="Título" name="titulo" value="" type="text" class="span3 titulo"></div>
				</div>


				<div class="control-group">
					<label class="control-label">Descrições </label>
					<div class="controls"><textarea class="span12 texto" name="texto" cols="5" rows="5" style="width: 100%"></textarea></div>
				</div>

                <div class="form-actions align-center">
                	
                	<button class="btn btn-primary" type="button" onclick="enviaplano(this, '1', '02', '1', '4')">Salvar plano de aula</button>
	                
                </div>
			</div>
		</div>
		<input type="hidden" name="idsfaltas[]" class="idsfaltas" value="0">
		<input type="hidden" name="idescolavinculo[]" value="1">
		<input type="hidden" name="idmateria[]" value="15">
		<input type="hidden" name="idprofessor[]" value="12">
		<input type="hidden" name="idaluno[]" value="4">
			</td>
		
	<td id="inline2" onclick="addPlanoaula(this, '2')" style="background-color:#FFFFFF;" class="quadro_2">
		<div style="display:none">
			<div id="data2">
				<div class="control-group">
					<label class="control-label">Título <span class="required">*</span></label>
					<div class="controls"><input maxlength="500" placeholder="Título" name="titulo" value="" type="text" class="span3 titulo"></div>
				</div>


				<div class="control-group">
					<label class="control-label">Descrições </label>
					<div class="controls"><textarea class="span12 texto" name="texto" cols="5" rows="5" style="width: 100%"></textarea></div>
				</div>

                <div class="form-actions align-center">
                	
                	<button class="btn btn-primary" type="button" onclick="enviaplano(this, '2', '02', '1', '4')">Salvar plano de aula</button>
	                
                </div>
			</div>
		</div>
		<input type="hidden" name="idsfaltas[]" class="idsfaltas" value="0">
		<input type="hidden" name="idescolavinculo[]" value="1">
		<input type="hidden" name="idmateria[]" value="15">
		<input type="hidden" name="idprofessor[]" value="12">
		<input type="hidden" name="idaluno[]" value="4">
			</td>
		
	<td id="inline3" onclick="addPlanoaula(this, '3')" style="background-color:#FFFFFF;" class="quadro_3">
		<div style="display:none">
			<div id="data3">
				<div class="control-group">
					<label class="control-label">Título <span class="required">*</span></label>
					<div class="controls"><input maxlength="500" placeholder="Título" name="titulo" value="" type="text" class="span3 titulo"></div>
				</div>


				<div class="control-group">
					<label class="control-label">Descrições </label>
					<div class="controls"><textarea class="span12 texto" name="texto" cols="5" rows="5" style="width: 100%"></textarea></div>
				</div>

                <div class="form-actions align-center">
                	
                	<button class="btn btn-primary" type="button" onclick="enviaplano(this, '3', '02', '1', '4')">Salvar plano de aula</button>
	                
                </div>
			</div>
		</div>
		<input type="hidden" name="idsfaltas[]" class="idsfaltas" value="0">
		<input type="hidden" name="idescolavinculo[]" value="1">
		<input type="hidden" name="idmateria[]" value="15">
		<input type="hidden" name="idprofessor[]" value="12">
		<input type="hidden" name="idaluno[]" value="4">
			</td>
		
	<td id="inline4" onclick="addPlanoaula(this, '4')" style="background-color:#FFFFFF;" class="quadro_4">
		<div style="display:none">
			<div id="data4">
				<div class="control-group">
					<label class="control-label">Título <span class="required">*</span></label>
					<div class="controls"><input maxlength="500" placeholder="Título" name="titulo" value="" type="text" class="span3 titulo"></div>
				</div>


				<div class="control-group">
					<label class="control-label">Descrições </label>
					<div class="controls"><textarea class="span12 texto" name="texto" cols="5" rows="5" style="width: 100%"></textarea></div>
				</div>

                <div class="form-actions align-center">
                	
                	<button class="btn btn-primary" type="button" onclick="enviaplano(this, '4', '02', '1', '4')">Salvar plano de aula</button>
	                
                </div>
			</div>
		</div>
		<input type="hidden" name="idsfaltas[]" class="idsfaltas" value="0">
		<input type="hidden" name="idescolavinculo[]" value="1">
		<input type="hidden" name="idmateria[]" value="15">
		<input type="hidden" name="idprofessor[]" value="12">
		<input type="hidden" name="idaluno[]" value="4">
			</td>
		
	<td id="inline5" onclick="addPlanoaula(this, '5')" style="background-color:#FFFFFF;" class="quadro_5">
		<div style="display:none">
			<div id="data5">
				<div class="control-group">
					<label class="control-label">Título <span class="required">*</span></label>
					<div class="controls"><input maxlength="500" placeholder="Título" name="titulo" value="" type="text" class="span3 titulo"></div>
				</div>


				<div class="control-group">
					<label class="control-label">Descrições </label>
					<div class="controls"><textarea class="span12 texto" name="texto" cols="5" rows="5" style="width: 100%"></textarea></div>
				</div>

                <div class="form-actions align-center">
                	
                	<button class="btn btn-primary" type="button" onclick="enviaplano(this, '5', '02', '1', '4')">Salvar plano de aula</button>
	                
                </div>
			</div>
		</div>
		<input type="hidden" name="idsfaltas[]" class="idsfaltas" value="0">
		<input type="hidden" name="idescolavinculo[]" value="1">
		<input type="hidden" name="idmateria[]" value="15">
		<input type="hidden" name="idprofessor[]" value="12">
		<input type="hidden" name="idaluno[]" value="4">
			</td>
		
	<td id="inline6" onclick="addPlanoaula(this, '6')" style="background-color:#FFFFFF;" class="quadro_6">
		<div style="display:none">
			<div id="data6">
				<div class="control-group">
					<label class="control-label">Título <span class="required">*</span></label>
					<div class="controls"><input maxlength="500" placeholder="Título" name="titulo" value="" type="text" class="span3 titulo"></div>
				</div>


				<div class="control-group">
					<label class="control-label">Descrições </label>
					<div class="controls"><textarea class="span12 texto" name="texto" cols="5" rows="5" style="width: 100%"></textarea></div>
				</div>

                <div class="form-actions align-center">
                	
                	<button class="btn btn-primary" type="button" onclick="enviaplano(this, '6', '02', '1', '4')">Salvar plano de aula</button>
	                
                </div>
			</div>
		</div>
		<input type="hidden" name="idsfaltas[]" class="idsfaltas" value="0">
		<input type="hidden" name="idescolavinculo[]" value="1">
		<input type="hidden" name="idmateria[]" value="15">
		<input type="hidden" name="idprofessor[]" value="12">
		<input type="hidden" name="idaluno[]" value="4">
			</td>
		
	<td id="inline7" onclick="addPlanoaula(this, '7')" style="background-color:#FFFFFF;" class="quadro_7">
		<div style="display:none">
			<div id="data7">
				<div class="control-group">
					<label class="control-label">Título <span class="required">*</span></label>
					<div class="controls"><input maxlength="500" placeholder="Título" name="titulo" value="" type="text" class="span3 titulo"></div>
				</div>


				<div class="control-group">
					<label class="control-label">Descrições </label>
					<div class="controls"><textarea class="span12 texto" name="texto" cols="5" rows="5" style="width: 100%"></textarea></div>
				</div>

                <div class="form-actions align-center">
                	
                	<button class="btn btn-primary" type="button" onclick="enviaplano(this, '7', '02', '1', '4')">Salvar plano de aula</button>
	                
                </div>
			</div>
		</div>
		<input type="hidden" name="idsfaltas[]" class="idsfaltas" value="0">
		<input type="hidden" name="idescolavinculo[]" value="1">
		<input type="hidden" name="idmateria[]" value="15">
		<input type="hidden" name="idprofessor[]" value="12">
		<input type="hidden" name="idaluno[]" value="4">
			</td>
		
	<td id="inline8" onclick="addPlanoaula(this, '8')" style="background-color:#FFFFFF;" class="quadro_8">
		<div style="display:none">
			<div id="data8">
				<div class="control-group">
					<label class="control-label">Título <span class="required">*</span></label>
					<div class="controls"><input maxlength="500" placeholder="Título" name="titulo" value="" type="text" class="span3 titulo"></div>
				</div>


				<div class="control-group">
					<label class="control-label">Descrições </label>
					<div class="controls"><textarea class="span12 texto" name="texto" cols="5" rows="5" style="width: 100%"></textarea></div>
				</div>

                <div class="form-actions align-center">
                	
                	<button class="btn btn-primary" type="button" onclick="enviaplano(this, '8', '02', '1', '4')">Salvar plano de aula</button>
	                
                </div>
			</div>
		</div>
		<input type="hidden" name="idsfaltas[]" class="idsfaltas" value="0">
		<input type="hidden" name="idescolavinculo[]" value="1">
		<input type="hidden" name="idmateria[]" value="15">
		<input type="hidden" name="idprofessor[]" value="12">
		<input type="hidden" name="idaluno[]" value="4">
			</td>
		
	<td id="inline9" onclick="addPlanoaula(this, '9')" style="background-color:#FFFFFF;" class="quadro_9">
		<div style="display:none">
			<div id="data9">
				<div class="control-group">
					<label class="control-label">Título <span class="required">*</span></label>
					<div class="controls"><input maxlength="500" placeholder="Título" name="titulo" value="" type="text" class="span3 titulo"></div>
				</div>


				<div class="control-group">
					<label class="control-label">Descrições </label>
					<div class="controls"><textarea class="span12 texto" name="texto" cols="5" rows="5" style="width: 100%"></textarea></div>
				</div>

                <div class="form-actions align-center">
                	
                	<button class="btn btn-primary" type="button" onclick="enviaplano(this, '9', '02', '1', '4')">Salvar plano de aula</button>
	                
                </div>
			</div>
		</div>
		<input type="hidden" name="idsfaltas[]" class="idsfaltas" value="0">
		<input type="hidden" name="idescolavinculo[]" value="1">
		<input type="hidden" name="idmateria[]" value="15">
		<input type="hidden" name="idprofessor[]" value="12">
		<input type="hidden" name="idaluno[]" value="4">
			</td>
		
	<td id="inline10" onclick="addPlanoaula(this, '10')" style="background-color:#FFFFFF;" class="quadro_10">
		<div style="display:none">
			<div id="data10">
				<div class="control-group">
					<label class="control-label">Título <span class="required">*</span></label>
					<div class="controls"><input maxlength="500" placeholder="Título" name="titulo" value="" type="text" class="span3 titulo"></div>
				</div>


				<div class="control-group">
					<label class="control-label">Descrições </label>
					<div class="controls"><textarea class="span12 texto" name="texto" cols="5" rows="5" style="width: 100%"></textarea></div>
				</div>

                <div class="form-actions align-center">
                	
                	<button class="btn btn-primary" type="button" onclick="enviaplano(this, '10', '02', '1', '4')">Salvar plano de aula</button>
	                
                </div>
			</div>
		</div>
		<input type="hidden" name="idsfaltas[]" class="idsfaltas" value="0">
		<input type="hidden" name="idescolavinculo[]" value="1">
		<input type="hidden" name="idmateria[]" value="15">
		<input type="hidden" name="idprofessor[]" value="12">
		<input type="hidden" name="idaluno[]" value="4">
			</td>
		
	<td id="inline11" onclick="addPlanoaula(this, '11')" style="background-color:#FFFFFF;" class="quadro_11">
		<div style="display:none">
			<div id="data11">
				<div class="control-group">
					<label class="control-label">Título <span class="required">*</span></label>
					<div class="controls"><input maxlength="500" placeholder="Título" name="titulo" value="" type="text" class="span3 titulo"></div>
				</div>


				<div class="control-group">
					<label class="control-label">Descrições </label>
					<div class="controls"><textarea class="span12 texto" name="texto" cols="5" rows="5" style="width: 100%"></textarea></div>
				</div>

                <div class="form-actions align-center">
                	
                	<button class="btn btn-primary" type="button" onclick="enviaplano(this, '11', '02', '1', '4')">Salvar plano de aula</button>
	                
                </div>
			</div>
		</div>
		<input type="hidden" name="idsfaltas[]" class="idsfaltas" value="0">
		<input type="hidden" name="idescolavinculo[]" value="1">
		<input type="hidden" name="idmateria[]" value="15">
		<input type="hidden" name="idprofessor[]" value="12">
		<input type="hidden" name="idaluno[]" value="4">
			</td>
		
	<td id="inline12" onclick="addPlanoaula(this, '12')" style="background-color:#FFFFFF;" class="quadro_12">
		<div style="display:none">
			<div id="data12">
				<div class="control-group">
					<label class="control-label">Título <span class="required">*</span></label>
					<div class="controls"><input maxlength="500" placeholder="Título" name="titulo" value="" type="text" class="span3 titulo"></div>
				</div>


				<div class="control-group">
					<label class="control-label">Descrições </label>
					<div class="controls"><textarea class="span12 texto" name="texto" cols="5" rows="5" style="width: 100%"></textarea></div>
				</div>

                <div class="form-actions align-center">
                	
                	<button class="btn btn-primary" type="button" onclick="enviaplano(this, '12', '02', '1', '4')">Salvar plano de aula</button>
	                
                </div>
			</div>
		</div>
		<input type="hidden" name="idsfaltas[]" class="idsfaltas" value="0">
		<input type="hidden" name="idescolavinculo[]" value="1">
		<input type="hidden" name="idmateria[]" value="15">
		<input type="hidden" name="idprofessor[]" value="12">
		<input type="hidden" name="idaluno[]" value="4">
			</td>
		
	<td id="inline13" onclick="addPlanoaula(this, '13')" style="background-color:#FFFFFF;" class="quadro_13">
		<div style="display:none">
			<div id="data13">
				<div class="control-group">
					<label class="control-label">Título <span class="required">*</span></label>
					<div class="controls"><input maxlength="500" placeholder="Título" name="titulo" value="" type="text" class="span3 titulo"></div>
				</div>


				<div class="control-group">
					<label class="control-label">Descrições </label>
					<div class="controls"><textarea class="span12 texto" name="texto" cols="5" rows="5" style="width: 100%"></textarea></div>
				</div>

                <div class="form-actions align-center">
                	
                	<button class="btn btn-primary" type="button" onclick="enviaplano(this, '13', '02', '1', '4')">Salvar plano de aula</button>
	                
                </div>
			</div>
		</div>
		<input type="hidden" name="idsfaltas[]" class="idsfaltas" value="0">
		<input type="hidden" name="idescolavinculo[]" value="1">
		<input type="hidden" name="idmateria[]" value="15">
		<input type="hidden" name="idprofessor[]" value="12">
		<input type="hidden" name="idaluno[]" value="4">
			</td>
		
	<td id="inline14" onclick="addPlanoaula(this, '14')" style="background-color:#FFFFFF;" class="quadro_14">
		<div style="display:none">
			<div id="data14">
				<div class="control-group">
					<label class="control-label">Título <span class="required">*</span></label>
					<div class="controls"><input maxlength="500" placeholder="Título" name="titulo" value="" type="text" class="span3 titulo"></div>
				</div>


				<div class="control-group">
					<label class="control-label">Descrições </label>
					<div class="controls"><textarea class="span12 texto" name="texto" cols="5" rows="5" style="width: 100%"></textarea></div>
				</div>

                <div class="form-actions align-center">
                	
                	<button class="btn btn-primary" type="button" onclick="enviaplano(this, '14', '02', '1', '4')">Salvar plano de aula</button>
	                
                </div>
			</div>
		</div>
		<input type="hidden" name="idsfaltas[]" class="idsfaltas" value="0">
		<input type="hidden" name="idescolavinculo[]" value="1">
		<input type="hidden" name="idmateria[]" value="15">
		<input type="hidden" name="idprofessor[]" value="12">
		<input type="hidden" name="idaluno[]" value="4">
			</td>
		
	<td id="inline15" onclick="addPlanoaula(this, '15')" style="background-color:#FFFFFF;" class="quadro_15">
		<div style="display:none">
			<div id="data15">
				<div class="control-group">
					<label class="control-label">Título <span class="required">*</span></label>
					<div class="controls"><input maxlength="500" placeholder="Título" name="titulo" value="" type="text" class="span3 titulo"></div>
				</div>


				<div class="control-group">
					<label class="control-label">Descrições </label>
					<div class="controls"><textarea class="span12 texto" name="texto" cols="5" rows="5" style="width: 100%"></textarea></div>
				</div>

                <div class="form-actions align-center">
                	
                	<button class="btn btn-primary" type="button" onclick="enviaplano(this, '15', '02', '1', '4')">Salvar plano de aula</button>
	                
                </div>
			</div>
		</div>
		<input type="hidden" name="idsfaltas[]" class="idsfaltas" value="0">
		<input type="hidden" name="idescolavinculo[]" value="1">
		<input type="hidden" name="idmateria[]" value="15">
		<input type="hidden" name="idprofessor[]" value="12">
		<input type="hidden" name="idaluno[]" value="4">
			</td>
		
	<td id="inline16" onclick="addPlanoaula(this, '16')" style="background-color:#FFFFFF;" class="quadro_16">
		<div style="display:none">
			<div id="data16">
				<div class="control-group">
					<label class="control-label">Título <span class="required">*</span></label>
					<div class="controls"><input maxlength="500" placeholder="Título" name="titulo" value="" type="text" class="span3 titulo"></div>
				</div>


				<div class="control-group">
					<label class="control-label">Descrições </label>
					<div class="controls"><textarea class="span12 texto" name="texto" cols="5" rows="5" style="width: 100%"></textarea></div>
				</div>

                <div class="form-actions align-center">
                	
                	<button class="btn btn-primary" type="button" onclick="enviaplano(this, '16', '02', '1', '4')">Salvar plano de aula</button>
	                
                </div>
			</div>
		</div>
		<input type="hidden" name="idsfaltas[]" class="idsfaltas" value="0">
		<input type="hidden" name="idescolavinculo[]" value="1">
		<input type="hidden" name="idmateria[]" value="15">
		<input type="hidden" name="idprofessor[]" value="12">
		<input type="hidden" name="idaluno[]" value="4">
			</td>
		
	<td id="inline17" onclick="addPlanoaula(this, '17')" style="background-color:#FFFFFF;" class="quadro_17">
		<div style="display:none">
			<div id="data17">
				<div class="control-group">
					<label class="control-label">Título <span class="required">*</span></label>
					<div class="controls"><input maxlength="500" placeholder="Título" name="titulo" value="" type="text" class="span3 titulo"></div>
				</div>


				<div class="control-group">
					<label class="control-label">Descrições </label>
					<div class="controls"><textarea class="span12 texto" name="texto" cols="5" rows="5" style="width: 100%"></textarea></div>
				</div>

                <div class="form-actions align-center">
                	
                	<button class="btn btn-primary" type="button" onclick="enviaplano(this, '17', '02', '1', '4')">Salvar plano de aula</button>
	                
                </div>
			</div>
		</div>
		<input type="hidden" name="idsfaltas[]" class="idsfaltas" value="0">
		<input type="hidden" name="idescolavinculo[]" value="1">
		<input type="hidden" name="idmateria[]" value="15">
		<input type="hidden" name="idprofessor[]" value="12">
		<input type="hidden" name="idaluno[]" value="4">
			</td>
		
	<td id="inline18" onclick="addPlanoaula(this, '18')" style="background-color:#FFFFFF;" class="quadro_18">
		<div style="display:none">
			<div id="data18">
				<div class="control-group">
					<label class="control-label">Título <span class="required">*</span></label>
					<div class="controls"><input maxlength="500" placeholder="Título" name="titulo" value="" type="text" class="span3 titulo"></div>
				</div>


				<div class="control-group">
					<label class="control-label">Descrições </label>
					<div class="controls"><textarea class="span12 texto" name="texto" cols="5" rows="5" style="width: 100%"></textarea></div>
				</div>

                <div class="form-actions align-center">
                	
                	<button class="btn btn-primary" type="button" onclick="enviaplano(this, '18', '02', '1', '4')">Salvar plano de aula</button>
	                
                </div>
			</div>
		</div>
		<input type="hidden" name="idsfaltas[]" class="idsfaltas" value="0">
		<input type="hidden" name="idescolavinculo[]" value="1">
		<input type="hidden" name="idmateria[]" value="15">
		<input type="hidden" name="idprofessor[]" value="12">
		<input type="hidden" name="idaluno[]" value="4">
			</td>
		
	<td id="inline19" onclick="addPlanoaula(this, '19')" style="background-color:#FFFFFF;" class="quadro_19">
		<div style="display:none">
			<div id="data19">
				<div class="control-group">
					<label class="control-label">Título <span class="required">*</span></label>
					<div class="controls"><input maxlength="500" placeholder="Título" name="titulo" value="" type="text" class="span3 titulo"></div>
				</div>


				<div class="control-group">
					<label class="control-label">Descrições </label>
					<div class="controls"><textarea class="span12 texto" name="texto" cols="5" rows="5" style="width: 100%"></textarea></div>
				</div>

                <div class="form-actions align-center">
                	
                	<button class="btn btn-primary" type="button" onclick="enviaplano(this, '19', '02', '1', '4')">Salvar plano de aula</button>
	                
                </div>
			</div>
		</div>
		<input type="hidden" name="idsfaltas[]" class="idsfaltas" value="0">
		<input type="hidden" name="idescolavinculo[]" value="1">
		<input type="hidden" name="idmateria[]" value="15">
		<input type="hidden" name="idprofessor[]" value="12">
		<input type="hidden" name="idaluno[]" value="4">
			</td>
		
	<td id="inline20" onclick="addPlanoaula(this, '20')" style="background-color:#FFFFFF;" class="quadro_20">
		<div style="display:none">
			<div id="data20">
				<div class="control-group">
					<label class="control-label">Título <span class="required">*</span></label>
					<div class="controls"><input maxlength="500" placeholder="Título" name="titulo" value="" type="text" class="span3 titulo"></div>
				</div>


				<div class="control-group">
					<label class="control-label">Descrições </label>
					<div class="controls"><textarea class="span12 texto" name="texto" cols="5" rows="5" style="width: 100%"></textarea></div>
				</div>

                <div class="form-actions align-center">
                	
                	<button class="btn btn-primary" type="button" onclick="enviaplano(this, '20', '02', '1', '4')">Salvar plano de aula</button>
	                
                </div>
			</div>
		</div>
		<input type="hidden" name="idsfaltas[]" class="idsfaltas" value="0">
		<input type="hidden" name="idescolavinculo[]" value="1">
		<input type="hidden" name="idmateria[]" value="15">
		<input type="hidden" name="idprofessor[]" value="12">
		<input type="hidden" name="idaluno[]" value="4">
			</td>
		
	<td id="inline21" onclick="addPlanoaula(this, '21')" style="background-color:#FFFFFF;" class="quadro_21">
		<div style="display:none">
			<div id="data21">
				<div class="control-group">
					<label class="control-label">Título <span class="required">*</span></label>
					<div class="controls"><input maxlength="500" placeholder="Título" name="titulo" value="" type="text" class="span3 titulo"></div>
				</div>


				<div class="control-group">
					<label class="control-label">Descrições </label>
					<div class="controls"><textarea class="span12 texto" name="texto" cols="5" rows="5" style="width: 100%"></textarea></div>
				</div>

                <div class="form-actions align-center">
                	
                	<button class="btn btn-primary" type="button" onclick="enviaplano(this, '21', '02', '1', '4')">Salvar plano de aula</button>
	                
                </div>
			</div>
		</div>
		<input type="hidden" name="idsfaltas[]" class="idsfaltas" value="0">
		<input type="hidden" name="idescolavinculo[]" value="1">
		<input type="hidden" name="idmateria[]" value="15">
		<input type="hidden" name="idprofessor[]" value="12">
		<input type="hidden" name="idaluno[]" value="4">
			</td>
		
	<td id="inline22" onclick="addPlanoaula(this, '22')" style="background-color:#FFFFFF;" class="quadro_22">
		<div style="display:none">
			<div id="data22">
				<div class="control-group">
					<label class="control-label">Título <span class="required">*</span></label>
					<div class="controls"><input maxlength="500" placeholder="Título" name="titulo" value="" type="text" class="span3 titulo"></div>
				</div>


				<div class="control-group">
					<label class="control-label">Descrições </label>
					<div class="controls"><textarea class="span12 texto" name="texto" cols="5" rows="5" style="width: 100%"></textarea></div>
				</div>

                <div class="form-actions align-center">
                	
                	<button class="btn btn-primary" type="button" onclick="enviaplano(this, '22', '02', '1', '4')">Salvar plano de aula</button>
	                
                </div>
			</div>
		</div>
		<input type="hidden" name="idsfaltas[]" class="idsfaltas" value="0">
		<input type="hidden" name="idescolavinculo[]" value="1">
		<input type="hidden" name="idmateria[]" value="15">
		<input type="hidden" name="idprofessor[]" value="12">
		<input type="hidden" name="idaluno[]" value="4">
			</td>
		
	<td id="inline23" onclick="addPlanoaula(this, '23')" style="background-color:#FFFFFF;" class="quadro_23">
		<div style="display:none">
			<div id="data23">
				<div class="control-group">
					<label class="control-label">Título <span class="required">*</span></label>
					<div class="controls"><input maxlength="500" placeholder="Título" name="titulo" value="" type="text" class="span3 titulo"></div>
				</div>


				<div class="control-group">
					<label class="control-label">Descrições </label>
					<div class="controls"><textarea class="span12 texto" name="texto" cols="5" rows="5" style="width: 100%"></textarea></div>
				</div>

                <div class="form-actions align-center">
                	
                	<button class="btn btn-primary" type="button" onclick="enviaplano(this, '23', '02', '1', '4')">Salvar plano de aula</button>
	                
                </div>
			</div>
		</div>
		<input type="hidden" name="idsfaltas[]" class="idsfaltas" value="0">
		<input type="hidden" name="idescolavinculo[]" value="1">
		<input type="hidden" name="idmateria[]" value="15">
		<input type="hidden" name="idprofessor[]" value="12">
		<input type="hidden" name="idaluno[]" value="4">
			</td>
		
	<td id="inline24" onclick="addPlanoaula(this, '24')" style="background-color:#FFFFFF;" class="quadro_24">
		<div style="display:none">
			<div id="data24">
				<div class="control-group">
					<label class="control-label">Título <span class="required">*</span></label>
					<div class="controls"><input maxlength="500" placeholder="Título" name="titulo" value="" type="text" class="span3 titulo"></div>
				</div>


				<div class="control-group">
					<label class="control-label">Descrições </label>
					<div class="controls"><textarea class="span12 texto" name="texto" cols="5" rows="5" style="width: 100%"></textarea></div>
				</div>

                <div class="form-actions align-center">
                	
                	<button class="btn btn-primary" type="button" onclick="enviaplano(this, '24', '02', '1', '4')">Salvar plano de aula</button>
	                
                </div>
			</div>
		</div>
		<input type="hidden" name="idsfaltas[]" class="idsfaltas" value="0">
		<input type="hidden" name="idescolavinculo[]" value="1">
		<input type="hidden" name="idmateria[]" value="15">
		<input type="hidden" name="idprofessor[]" value="12">
		<input type="hidden" name="idaluno[]" value="4">
			</td>
		
	<td id="inline25" onclick="addPlanoaula(this, '25')" style="background-color:#FFFFFF;" class="quadro_25">
		<div style="display:none">
			<div id="data25">
				<div class="control-group">
					<label class="control-label">Título <span class="required">*</span></label>
					<div class="controls"><input maxlength="500" placeholder="Título" name="titulo" value="" type="text" class="span3 titulo"></div>
				</div>


				<div class="control-group">
					<label class="control-label">Descrições </label>
					<div class="controls"><textarea class="span12 texto" name="texto" cols="5" rows="5" style="width: 100%"></textarea></div>
				</div>

                <div class="form-actions align-center">
                	
                	<button class="btn btn-primary" type="button" onclick="enviaplano(this, '25', '02', '1', '4')">Salvar plano de aula</button>
	                
                </div>
			</div>
		</div>
		<input type="hidden" name="idsfaltas[]" class="idsfaltas" value="0">
		<input type="hidden" name="idescolavinculo[]" value="1">
		<input type="hidden" name="idmateria[]" value="15">
		<input type="hidden" name="idprofessor[]" value="12">
		<input type="hidden" name="idaluno[]" value="4">
			</td>
		
	<td id="inline26" onclick="addPlanoaula(this, '26')" style="background-color:#FFFFFF;" class="quadro_26">
		<div style="display:none">
			<div id="data26">
				<div class="control-group">
					<label class="control-label">Título <span class="required">*</span></label>
					<div class="controls"><input maxlength="500" placeholder="Título" name="titulo" value="" type="text" class="span3 titulo"></div>
				</div>


				<div class="control-group">
					<label class="control-label">Descrições </label>
					<div class="controls"><textarea class="span12 texto" name="texto" cols="5" rows="5" style="width: 100%"></textarea></div>
				</div>

                <div class="form-actions align-center">
                	
                	<button class="btn btn-primary" type="button" onclick="enviaplano(this, '26', '02', '1', '4')">Salvar plano de aula</button>
	                
                </div>
			</div>
		</div>
		<input type="hidden" name="idsfaltas[]" class="idsfaltas" value="0">
		<input type="hidden" name="idescolavinculo[]" value="1">
		<input type="hidden" name="idmateria[]" value="15">
		<input type="hidden" name="idprofessor[]" value="12">
		<input type="hidden" name="idaluno[]" value="4">
			</td>
		
	<td id="inline27" onclick="addPlanoaula(this, '27')" style="background-color:#FFFFFF;" class="quadro_27">
		<div style="display:none">
			<div id="data27">
				<div class="control-group">
					<label class="control-label">Título <span class="required">*</span></label>
					<div class="controls"><input maxlength="500" placeholder="Título" name="titulo" value="" type="text" class="span3 titulo"></div>
				</div>


				<div class="control-group">
					<label class="control-label">Descrições </label>
					<div class="controls"><textarea class="span12 texto" name="texto" cols="5" rows="5" style="width: 100%"></textarea></div>
				</div>

                <div class="form-actions align-center">
                	
                	<button class="btn btn-primary" type="button" onclick="enviaplano(this, '27', '02', '1', '4')">Salvar plano de aula</button>
	                
                </div>
			</div>
		</div>
		<input type="hidden" name="idsfaltas[]" class="idsfaltas" value="0">
		<input type="hidden" name="idescolavinculo[]" value="1">
		<input type="hidden" name="idmateria[]" value="15">
		<input type="hidden" name="idprofessor[]" value="12">
		<input type="hidden" name="idaluno[]" value="4">
			</td>
		
	<td id="inline28" onclick="addPlanoaula(this, '28')" style="background-color:#FFFFFF;" class="quadro_28">
		<div style="display:none">
			<div id="data28">
				<div class="control-group">
					<label class="control-label">Título <span class="required">*</span></label>
					<div class="controls"><input maxlength="500" placeholder="Título" name="titulo" value="" type="text" class="span3 titulo"></div>
				</div>


				<div class="control-group">
					<label class="control-label">Descrições </label>
					<div class="controls"><textarea class="span12 texto" name="texto" cols="5" rows="5" style="width: 100%"></textarea></div>
				</div>

                <div class="form-actions align-center">
                	
                	<button class="btn btn-primary" type="button" onclick="enviaplano(this, '28', '02', '1', '4')">Salvar plano de aula</button>
	                
                </div>
			</div>
		</div>
		<input type="hidden" name="idsfaltas[]" class="idsfaltas" value="0">
		<input type="hidden" name="idescolavinculo[]" value="1">
		<input type="hidden" name="idmateria[]" value="15">
		<input type="hidden" name="idprofessor[]" value="12">
		<input type="hidden" name="idaluno[]" value="4">
			</td>
		
	<td>
				<span class="total1">0</span>
	</td>
</tr>

</tbody>
						</table>
						
					</div>
				</div>
			


						    
						    
						    </div>

						</div>
				<?php /*?>
				<div class="control-group">
					<label class="control-label">aluno </label>
					<div class="controls"><input maxlength="500" placeholder="aluno" name="aluno" value="<?php echo (isset($this->post_var['aluno'])) ? $this->post_var['aluno'] : '' ?>" type="text"  class="span3" /></div>
				</div>
				<?php */ ?>
<?php endif; ?>

				<div class="control-group">
					<label class="control-label">Status <span class="required">*</span></label>
					<div class="controls">
						<select name="status1" data-placeholder="Status" class="select">
							<option value="">Selecione...</option>
							<option value="Ativo">Ativo</option><option value="Bloqueado">Bloqueado</option>
						</select>
						
					</div>
				</div>

						    
						    
						    </div>
						    
			                <div class="form-actions align-right">
			                	<?php if ((isset($this->visualizar)) && ($this->visualizar)) : ?>
			                		<button onclick="window.history.back()" class="btn btn-danger cancelar" type="button">Voltar</button>
			                	<?php else : ?>
				                	<button class="btn btn-primary enviar" type="submit">Salvar</button>
				                	<button onclick="window.history.back()" class="btn btn-danger cancelar" type="button">Cancelar</button>
			                	<?php endif; ?>
			                </div>
						</div>
						<!-- /general form elements -->

					</fieldset> 

				</form>
				<!-- /basic inputs -->

		    </div>
		    <!-- /content wrapper -->

		</div>
		<!-- content -->
				
<script type="text/javascript" src="<?php echo $this->baseUrl('/public/scripts/admin/coordenacaofrequenciasatividades_form.js') ?>"></script>
<script type="text/javascript">
	var form_values = {};
	
	<?php if (isset($this->post_var)) :  ?>
		form_values.idatividade = '<?php echo (isset($this->post_var['idatividade'])) ? $this->post_var['idatividade'] : '' ?>';

		form_values.idaluno = '<?php echo (isset($this->post_var['idaluno'])) ? $this->post_var['idaluno'] : '' ?>';

form_values.status1 = '<?php echo (isset($this->post_var['status1'])) ? $this->post_var['status1'] : $this->post_var['status'] ?>';


	<?php endif; ?>

	visualizar = <?php echo  ((isset($this->visualizar)) && ($this->visualizar))  ? 'true' : 'false' ?>;
</script>
