<div class="contentpanel">

	<div class="row">
	
        <div class="panel-body">
        

			<div class="panel panel-default">
				<div class="panel-heading">
					<div class="panel-btns">
						<?php if ($this->isMinimize()) : ?>
						<a  href="javascript:;" class="minimize" onclick="setMinimize('sim')">−</a>
						<?php else : ?>
						<a href="javascript:;" class="minimize maximize" onclick="javascript:$('select').closest('div').find('.chosen-container').css('width', '100%');setMinimize('nao')">+</a>
						<?php endif; ?>
					</div>
					<h4 class="panel-title">Filtro</h4>
					<p>Use o formulário para filtrar de acordo com os critérios disponíveis</p>
				</div>        
				<div class="panel-body" style="display: <?php echo ($this->isMinimize()) ? 'block' : 'none' ?>;">
		        	<form id="form" name="form" method="post" class="form-horizontal form-bordered">
		        	
		        		<div class="form-group">
		        			<label class="col-sm-3 control-label">Palavra Chave</label>
		        			<div class="col-sm-6">
		        				<input name="chave" value="<?php echo (isset($this->post_var['chave'])) ? $this->post_var['chave'] : '' ?>" type="text" class="form-control" placeholder="">
							</div>
						</div>
						
		        		<div class="form-group">
		        			<label class="col-sm-3 control-label">Bimestre</label>
		        			<div class="col-sm-6">
		        				<select id="bimestre" name="bimestre" class="form-control">
		        					<option value="">Todos</option>
		        					<option value="1">1</option>
		        					<option value="2">2</option>
		        					<option value="3">3</option>
		        					<option value="4">4</option>
								</select>        				
							</div>
						</div>				
		
						
						<div class="panel-footer">
							<div class="row">
								<div class="col-sm-6 col-sm-offset-3">
									<button class="btn btn-warning">Pesquisar</button>&nbsp;
								</div>
							</div>
						</div><!-- panel-footer -->				
						
					</form>              
              
              
            	</div>	
            </div>        
        
        
			<div class="panel-heading" style="position:relative;">
			
				<?php if (isset($this->crudMessage)) : ?>
				<div class="alert alert-success">
                	<button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                	<strong>Sucesso!</strong> <?php echo $this->crudMessage ?>.
              	</div>
              	<?php endif; ?>
			
				<table width="100%">
					<tr>
						<td width="50%"><h4 class="panel-title">Notas cadastradas no sistema</h4></td>
					</tr>
				</table>
				
				<br />
				
				<div class="table-responsive">
					<?php if (sizeof($this->rows)>0) : ?>
						<?php foreach ($this->rows as $i=>$row) : ?>
		                <table class="table table-primary mb30">
		                	<thead>
		                		<tr>   
		                			<th colspan="5" align="center" style="text-align: center;"><?php echo $row['bimestre']?>° Bimestre</th>
		                		</tr>		                	
		                		<tr>
		                			<th width="20">&nbsp;</th>   
		                			<th width="200">Matéria</th>
		                			<th>Professor</th>     			
		                			<th width="120">Faltas</th>
		                			<?php /*?>
		                			<th style="width:74px">Ações</th>
		                			<?php */?>
		                		</tr>
		                	</thead>
		                	<tbody>
		                	   	<?php if (sizeof($this->rows)==0) : ?>
		                		<tr>
		                			<td colspan="6">Nenhum registro foi encontrado</td>
		                		</tr>
		                		<?php endif;?>
		                		<?php $bimestre = '0';?>
		                		<?php foreach (Controlealunos_Notas::getNotasHelper(array('idaluno'=>Escolasalunos::getUsuario('id'), 'bimestre'=>$row['bimestre'])) as $in=>$row_nota) : ?>
									<?php if($bimestre==0) $bimestre = $row_nota['bimestre']; ?>								
									<?php $faltas = Controlealunos_Frequenciasitens::getFrequenciaByIdAlunoMateriaHelper((int)$row_nota['idaluno'], $row_nota['idmateria'], array('bimestre'=>(int)$row['bimestre'], 'total'=>true, 'presenca'=>Controlealunos_Frequencias::$_PRESENCA_AUSENTE, 'idprofessor'=>$row_nota['idprofessor']))?>                		
									<?php if (Mn_Util::isDefaultAccess($this->getController(), 'editar')) : ?>
									<tr class="line">
									<?php else : ?>
									<tr>
									<?php endif; ?>
		                				<td>
		                					<?php $i+1 ?>
		                					<input type="hidden" name=id[] value="<?php echo $row_nota['id'] ?>" />
	                					</td>
		                				<td><?php echo Controlealunos_Materias::getNomeMateriaByIdHelper($row_nota['idmateria']) ?></td>
		                				<td><?php echo Escolasusuarios::getNomeByIdHelper($row_nota['idprofessor']) ?></td>
		                				
		                				<td><?php echo $faltas ?></td>
		                				<?php /*?>
		                				<td class="table-action">
		                					<a href="<?php echo $this->baseUrl() ?>/alunos/<?php echo $this->getController() ?>/visualizar/id/<?php echo $row['id'] ?>"><i class="fa fa-pencil"></i></a>
		                				</td>
		                				<?php */?>
		                			</tr>
		                		<?php endforeach;?> 
		                	</tbody>
		                </table>
		                <?php endforeach;?> 
	                <?php endif; ?>
	                <?php echo $this->render('/helpers/paginator.phtml') ?>
	            </div><!-- table-responsive -->				
				
			</div>        
        
            
        </div>

	</div>
        
</div>
<script type="text/javascript" src="<?php echo $this->baseUrl('/public/scripts/alunos/boletim_index.js') ?>"></script>
<script type="text/javascript">

	var form_values = {};
	<?php if (isset($this->post_var['bimestre'])) :  ?>
	form_values.bimestre = '<?php echo (isset($this->post_var['bimestre'])) ? $this->post_var['bimestre'] : '' ?>';
	<?php endif; ?>

	
</script>