		<!-- Content -->
		<div id="content">

		    <!-- Content wrapper -->
		    <div class="wrapper">

			    <!-- Breadcrumbs line -->
			    <div class="crumbs">
			    	<?php echo $this->render('/helpers/breadcrumb.phtml') ?>
			    </div>
			    <!-- /breadcrumbs line -->

			    <!-- Page header -->
			    <div class="page-header">
			    	<div class="page-title">
				    	<h5>Formulário do Supervisor</h5>
				    	<span>Verifique os campos e preencha com os dados</span>
			    	</div>
			    </div>
			    <!-- /page header -->

			    <?php if (isset($this->crudMessage)) : ?>
					<div class="alert alert-success">
	                	<button data-dismiss="alert" class="close" type="button">×</button>
	                    <strong>Operação realizada com sucesso!</strong>
		    			<span><br /><?php echo $this->crudMessage ?></span>
	                </div>			    
			    <?php endif; ?>

				<form id="form" name="form" action="" method="post" class="form-horizontal" enctype="multipart/form-data"> 
					<input type="hidden" value="<?php echo (isset($this->post_var)) ? $this->post_var["id"] : ''; ?>" name="id" id="id" />
					
					<fieldset>
						<!-- General form elements -->
						<div class="widget row-fluid">
						    <div class="navbar">
						        <div class="navbar-inner">
						            <h6>Digite as informações do formulário</h6>
						        </div>
						    </div>

						    <div class="well">
								<?php if (isset($this->erros)) : ?>
									<div class="alert alert-error margin">
				                        <button data-dismiss="alert" class="close" type="button">×</button>
				                        <strong>Há erros no formulário!</strong>
					    				<?php foreach ($this->erros as $k=>$v) : ?>
					    					<span><br />- <?php echo $v ?></span>
					    				<?php endforeach;?>			                        
				                    </div>
			                    <?php endif; ?>						    
						    


				<div class="control-group">
					<label class="control-label">Funcionário *</label>
					<div class="controls">
						<select name="idfuncionario" data-placeholder="Tipo" class="select">
							<option value="">Selecione...</option>
							<?php 
									$queries = array();

									$idperfil = (int)Usuarios::getUsuario('idperfil');
									$idescola = (int)Usuarios::getUsuario('idescola');

									$funcionariosgerais = new Funcionariosgeraisescolas();
									$_usuarios = new Usuarios();
									
									$_funcionariogeral = $funcionariosgerais->getFuncionariogeralescolaById((int)Usuarios::getUsuario('idfuncionario'));

									if($idescola>0) {
										$verificausuario = $_usuarios->getUsuarioById(Usuarios::getUsuario('id'));

										if((isset($verificausuario['idperfil'])) && ($verificausuario['idperfil']) && ((int)$verificausuario['idperfil'] > 0))
											$idperfil = $verificausuario['idperfil'];
										
										if((!isset($_funcionariogeral['idperfil'])) || (!isset($_funcionariogeral['idsperfis'])) || ($_funcionariogeral['idperfil']=="") || ($_funcionariogeral['idsperfis']=="") || ($_funcionariogeral['idperfil']<=0) )
											$idperfil = 0;

										if((isset($_funcionariogeral['idsfuncionarios'])) && ($_funcionariogeral['idsfuncionarios']!="") ){
											$queries['idsfuncionariossel'] = $_funcionariogeral['idsfuncionarios'];
											
											if((!isset($queries['idsfuncionariossel'])) || ($queries['idsfuncionariossel']=="")){
												$queries['idsfuncionariossel'] = "-1";
											}
										}
										
									} elseif((isset($_funcionariogeral['idsfuncionarios'])) && ($_funcionariogeral['idsfuncionarios']!="") ) {
										$queries['idsfuncionariossel'] = $_funcionariogeral['idsfuncionarios'];
									} elseif($idperfil > 0) {
										$queries['idperfil'] = $idperfil;
									} else {
										$queries['idsfuncionariossel'] = "-1";
									}
									
									$queries['idsecretaria'] = Usuarios::getSecretariaAtiva( Usuarios::getUsuario('id'), 'id' );
									$queries['die'] = true;	
							?>
							<?php foreach(Funcionariosgeraisescolas::getFuncionariosgeraisescolasHelper($queries) as $fr=>$row): ?>
							<option value="<?php echo $row['id'] ?>"><?php echo $row['rgf'].' - '.$row['nome'] ?></option>
							<?php endforeach ?>
						</select>
					</div>
				</div>


				<div class="control-group">
					<label class="control-label">Telefone </label>
					<div class="controls"><input maxlength="500" placeholder="Telefone" name="telefone" value="<?php echo (isset($this->post_var['telefone'])) ? $this->post_var['telefone'] : '' ?>" type="text"  class="span3" /></div>
				</div>


<?php /*
							$this->endereco_prefix = "e_idendereco";
							echo $this->render('/helpers/forms/endereco.phtml') */?>
				<div class="control-group">
					<label class="control-label">Status </label>
					<div class="controls">
						<select name="status1" data-placeholder="Status" class="select">
							<option value="">Selecione...</option>
							<option value="Ativo">Ativo</option><option value="Bloqueado">Bloqueado</option>
						</select>
						
					</div>
				</div>

						    
						    
						    </div>
						    
			                <div class="form-actions align-right">
			                	<?php if ((isset($this->visualizar)) && ($this->visualizar)) : ?>
			                		<button onclick="window.history.back()" class="btn btn-danger cancelar" type="button">Voltar</button>
			                	<?php else : ?>
				                	<button class="btn btn-primary enviar" type="submit">Salvar</button>
				                	<button onclick="window.history.back()" class="btn btn-danger cancelar" type="button">Cancelar</button>
			                	<?php endif; ?>
			                </div>
						</div>
						<!-- /general form elements -->

					</fieldset> 

				</form>
				<!-- /basic inputs -->

		    </div>
		    <!-- /content wrapper -->

		</div>
		<!-- content -->
				
<script type="text/javascript" src="<?php echo $this->baseUrl('/public/scripts/admin/engenhariastecnicos_form.js') ?>"></script>
<script type="text/javascript">
	var form_values = {};
	
	<?php if (isset($this->post_var)) :  ?>
		form_values.idsecretaria = '<?php echo (isset($this->post_var['idsecretaria'])) ? $this->post_var['idsecretaria'] : '' ?>';

form_values.idfuncionario = '<?php echo (isset($this->post_var['id'])) ? $this->post_var['id'] : '' ?>';

form_values.idtipoequipe = '<?php echo (isset($this->post_var['idtipoequipe'])) ? $this->post_var['idtipoequipe'] : '' ?>';

form_values.e_idenderecoidestado = '<?php echo (isset($this->post_var['e_idenderecoidestado'])) ? $this->post_var['e_idenderecoidestado'] : '' ?>';
form_values.status1 = '<?php echo (isset($this->post_var['status1'])) ? $this->post_var['status1'] : $this->post_var['status'] ?>';


	<?php endif; ?>

	visualizar = <?php echo  ((isset($this->visualizar)) && ($this->visualizar))  ? 'true' : 'false' ?>;
</script>
