		<!-- Content -->
		<div id="content">
		    <!-- Content wrapper -->
		    <div class="wrapper">

			    <!-- Breadcrumbs line -->
			    <div class="crumbs">
			    	<?php echo $this->render('/helpers/breadcrumb.phtml') ?>
			    </div>
			    <!-- /breadcrumbs line -->
			    <!-- Page header -->
			    <div class="page-header">
			    	<div class="page-title">
				    	<h5>Formulário do fechamento financeiro</h5>
				    	<span>Verifique os campos e preencha com os dados</span>
			    	</div>
			    </div>
			    <!-- /page header -->
			    <?php if (isset($this->crudMessage)) : ?>
					<div class="alert alert-success">
	                	<button data-dismiss="alert" class="close" type="button">×</button>
	                    <strong>Operação realizada com sucesso!</strong>
		    			<span><br /><?php echo $this->crudMessage ?></span>
	                </div>			    
			    <?php endif; ?>

				<form id="form" name="form" action="" method="post" class="form-horizontal" enctype="multipart/form-data"> 
					<input type="hidden" value="<?php echo (isset($this->post_var)) ? $this->post_var["id"] : ''; ?>" name="id" id="id" />
					
					<fieldset>
						<!-- General form elements -->
						<div class="widget row-fluid">
						    <div class="navbar">
						        <div class="navbar-inner">
						            <h6>Digite as informações do formulário</h6>
						        </div>
						    </div>

						    <div class="well">
								<?php if (isset($this->erros)) : ?>
									<div class="alert alert-error margin">
				                        <button data-dismiss="alert" class="close" type="button">×</button>
				                        <strong>Há erros no formulário!</strong>
					    				<?php foreach ($this->erros as $k=>$v) : ?>
					    					<span><br />- <?php echo $v ?></span>
					    				<?php endforeach;?>			                        
				                    </div>
			                    <?php endif; ?>						    

                <?php $idescola = Usuarios::getUsuario('idescola'); ?>
				<?php $idlocal = Usuarios::getUsuario('idlocal'); ?>
				<?php if(($idescola>0) || ($idlocal>0)): ?>		    
				<div class="control-group">
					<div class="controls1 visualizar">
						<table class="table table-content" width="100%">
							<tbody>
								<tr>
									<input maxlength="500" placeholder="Nome do Usuário" name="idusuario" value="<?php echo Usuarios::getUsuario('id') ?>" type="hidden"  class="span3" />
									<input  placeholder="Data de lançamento" name="datalancamento" value="<?php echo (isset($this->post_var['datalancamento'])) ? Mn_Util::formPostVarData($this->post_var['datalancamento']) : date('d/m/Y') ?>" type="hidden"  class="span3" />
									<input maxlength="500" placeholder="Nome do Usuário" name="idlocal" value="<?php echo Usuarios::getUsuario('idlocal') ?>" type="hidden"  class="span3" />
									<input maxlength="500" placeholder="Nome do Usuário" name="idescola" value="<?php echo Usuarios::getUsuario('idescola') ?>" type="hidden"  class="span3" />

									<td width="33%">Nome do Usuário: <?php echo Usuarios::getUsuario('nomerazao') . " - " . Usuarios::getUsuario('rgf') ?></td>
									<td width="34%">Data da Abertura: <?php echo date('d/m/Y') ?></td>
									<td width="33%">Escola: <?php 
											$local = Escolas::getEscolaByIdHelper(Usuarios::getUsuario('idescola')); 
											echo ((isset($local['escola'])) && ($local['escola']) && ($local['escola']!="") ) ? $local['escola'] : '';
										?>
											
									</td>
								</tr>
							</tbody>
						</table>
						
					</div>
				</div>
				<?php else: ?>
				<div class="control-group">
					<div class="controls1 visualizar">
						<table class="table table-content" width="100%">
							<tbody>
								<tr>
									<input maxlength="500" placeholder="Nome do Usuário" name="idusuario" value="<?php echo Usuarios::getUsuario('id') ?>" type="hidden"  class="span3" />
									<input  placeholder="Data de lançamento" name="datalancamento" value="<?php echo (isset($this->post_var['datalancamento'])) ? Mn_Util::formPostVarData($this->post_var['datalancamento']) : date('d/m/Y') ?>" type="hidden"  class="span3" />
									
									<td width="50%">Nome do Usuário: <?php echo Usuarios::getUsuario('nomerazao') . " - " . Usuarios::getUsuario('rgf') ?></td>
									<td width="50%">Data da Abertura: <?php echo date('d/m/Y') ?></td>
									
								</tr>
							</tbody>
						</table>
						
					</div>
				</div>
				<?php endif; ?>
				<?php if(((int)$idescola>0) AND ((int)$idlocal>0)): ?>				
				<div class="control-group">
					<label class="control-label">Minha escola <span class="required">*</span></label>
					<div class="controls">
                        <select id="idescola" name="idescola"  class="select" onchange="setConvenios(this, 0)">
	                        <option value="">Selecione...</option>
	                        <?php $escola = Escolas::getEscolaByIdHelper($idescola, array()); ?>
	                        <option value="<?php echo $escola['id'] ?>"><?php echo $escola['escola'] ?></option>
	                        
                        </select>   
					</div>
				</div>	
				<?php else: ?>
					<div class="control-group">
						<label class="control-label">Escolas <span class="required">*</span></label>
						<div class="controls">
	                        <select id="idescola" name="idescola"  class="select" onchange="setConvenios(this, 0)">
		                        <option value="">Selecione...</option>
		                        <?php foreach ($this->escolas as $e=>$row): ?>
		                        <option value="<?php echo $row['id'] ?>"><?php echo $row['escola'] ?></option>
		                        <?php endforeach;?>
	                        </select>   
						</div>
					</div>
				<?php endif; ?>

				<div class="control-group">
					<label class="control-label">Anexar Relatório </label>
					<div class="controls">
						<?php if ((isset($this->post_var['idarquivo'])) && ((int)$this->post_var['idarquivo']>0)) : ?>
							<?php echo $this->getArquivo($this->post_var['idarquivo']) ?>
						
							<?php if (!$this->visualizar) : ?>
								<div class="checkbox block">
									<label><input type="checkbox" name="excluir_idarquivo" value="excluir" /> Desejo excluir o arquivo</label>
								</div>
							<?php endif; ?>
						<?php endif; ?>
						
						<input placeholder="Anexar Relatório" name="idarquivo" type="file"  />
					</div>
				</div>	

				<?php /* ?>

				<div class="control-group">
					<label class="control-label">Saldo Apl. Financeira </label>
					<div class="controls"><input  placeholder="Saldo Apl. Financeira" name="saldoaplicacaofinanceira" value="<?php echo (isset($this->post_var['saldoaplicacaofinanceira'])) ? $this->post_var['saldoaplicacaofinanceira'] : '' ?>" type="text"  class="span3" /></div>
				</div>
				<?php */ ?>

			<div class="box-convenios" style="display: none;">
				<div class="control-group">
					<label class="control-label">Tipo de Convênio </label>
					<div class="controls">
		                <select name="idtipoconvenio" data-placeholder="Tipo de Convênio" class="select" onchange="settipoconvenio(this)">
							<option value="">Selecione...</option>
							<?php foreach (Financeirotiposconvenios::getFinanceirotiposconveniosHelper(array('status'=>'Ativo')) as $k=>$v) : ?>
							<option value="<?php echo $v['id'] ?>"><?php echo $v['titulo'] ?></option>
							<?php endforeach;?>
						</select>
					</div>
				</div>

				<div class="control-group">
					<label class="control-label">Programas Sociais <span class="required">*</span></label>
					<div class="controls">
		                <select name="idprogramasgov" data-placeholder="Programas Sociais" onchange="setConvenio(this, 0)" class="select">
		                	<option value="">Selecione...</option>
						</select>
						
					</div>
				</div>

				<div class="dados-convenio" style="display: none;">
					<div class="control-group">
						<label class="control-label">Data Início </label>
						<div class="controls">
							<input type="text" readonly="" disabled="" id="convenio_datainicio" value="" />
						</div>
					</div>
					<div class="control-group">
						<label class="control-label">Data Fim </label>
						<div class="controls">
							<input type="text" readonly="" disabled="" id="convenio_datafim" value="" />
						</div>
					</div>
				</div>
			</div>

				<div class="control-group">
					<label class="control-label">Status <span class="required">*</span></label>
					<div class="controls">
						<select name="status1" data-placeholder="Status" class="select">
							<option value="">Selecione...</option>
							<option value="Ativo">Ativo</option><option value="Bloqueado">Bloqueado</option>
						</select>
						
					</div>
				</div>

						    
						    
						    </div>
						    
			                <div class="form-actions align-right">
			                	<?php if ((isset($this->visualizar)) && ($this->visualizar)) : ?>
			                		<button onclick="window.history.back()" class="btn btn-danger cancelar" type="button">Voltar</button>
			                	<?php else : ?>
				                	<button class="btn btn-primary enviar" type="submit">Salvar</button>

									<input type="hidden" name="finalizado" value="" />
									<?php if($this->post_var['finalizado'] != 'sim'): ?>
					                	<button class="btn btn-warning" type="submit" onclick="setFechamento()">Salvar e Fechar Contas</button>
									<?php endif; ?>
				                	<button onclick="window.history.back()" class="btn btn-danger cancelar" type="button">Cancelar</button>
			                	<?php endif; ?>
			                </div>
						</div>
						<!-- /general form elements -->

					</fieldset> 

				</form>
				<!-- /basic inputs -->

		    </div>
		    <!-- /content wrapper -->

		</div>
		<!-- content -->
				
<script type="text/javascript" src="<?php echo $this->baseUrl('/public/scripts/admin/financeiroregistrosfechamentos_form.js') ?>"></script>
<script type="text/javascript">
	var form_values = {};
	
	<?php if (isset($this->post_var)) :  ?>
		form_values.idescola = '<?php echo (isset($this->post_var['idescola'])) ? $this->post_var['idescola'] : '' ?>';

form_values.idtipoconvenio = '<?php echo (isset($this->post_var['idtipoconvenio'])) ? $this->post_var['idtipoconvenio'] : '' ?>';

form_values.idescolasapms = '<?php echo (isset($this->post_var['idescolasapms'])) ? $this->post_var['idescolasapms'] : '' ?>';

form_values.idprogramasgov = '<?php echo (isset($this->post_var['idprogramasgov'])) ? $this->post_var['idprogramasgov'] : '' ?>';

form_values.status1 = '<?php echo (isset($this->post_var['status1'])) ? $this->post_var['status1'] : $this->post_var['status'] ?>';


	<?php endif; ?>

	visualizar = <?php echo  ((isset($this->visualizar)) && ($this->visualizar))  ? 'true' : 'false' ?>;
	var idescola = '<?php echo $idescola ?>';
</script>
