		<!-- Content -->
		<div id="content">

		    <!-- Content wrapper -->
		    <div class="wrapper">

			    <!-- Breadcrumbs line -->
			    <div class="crumbs">
			    	<?php echo $this->render('/helpers/breadcrumb.phtml') ?>
			    </div>
			    <!-- /breadcrumbs line -->

			    <!-- Page header -->
			    <div class="page-header">
			    	<div class="page-title">
				    	<h5>Formulário do comissão de avaliação de acúmulo de cargo</h5>
				    	<span>Verifique os campos e preencha com os dados</span>
			    	</div>
			    </div>
			    <!-- /page header -->

			    <?php if (isset($this->crudMessage)) : ?>
					<div class="alert alert-success">
	                	<button data-dismiss="alert" class="close" type="button">×</button>
	                    <strong>Operação realizada com sucesso!</strong>
		    			<span><br /><?php echo $this->crudMessage ?></span>
	                </div>			    
			    <?php endif; ?>

				<form id="form" name="form" action="" method="post" class="form-horizontal" enctype="multipart/form-data"> 
					<input type="hidden" value="<?php echo (isset($this->post_var)) ? $this->post_var["id"] : ''; ?>" name="id" id="id" />
					
					<fieldset>
						<!-- General form elements -->
						<div class="widget row-fluid">
						    <div class="navbar">
						        <div class="navbar-inner">
						            <h6>Digite as informações do formulário</h6>
						        </div>
						    </div>

						    <div class="well">
								<?php if (isset($this->erros)) : ?>
									<div class="alert alert-error margin">
				                        <button data-dismiss="alert" class="close" type="button">×</button>
				                        <strong>Há erros no formulário!</strong>
					    				<?php foreach ($this->erros as $k=>$v) : ?>
					    					<span><br />- <?php echo $v ?></span>
					    				<?php endforeach;?>			                        
				                    </div>
			                    <?php endif; ?>						    

 
                <?php $idescola = Usuarios::getUsuario('idescola'); ?>
				<?php $idlocal = Usuarios::getUsuario('idlocal'); ?>
				<?php if(($idescola>0) || ($idlocal>0)): ?>		    
				<div class="control-group">
					<div class="controls1 visualizar">
						<table class="table table-content" width="100%">
							<tbody>
								<tr>
									<input type="hidden" value="<?php echo (isset($this->post_var['sequencial'])) ? $this->post_var['sequencial'] : $this->sequencial ?>" name="sequencial" id="sequencial" />
									<input maxlength="500" placeholder="Nome do Usuário" name="idusuario" value="<?php echo Usuarios::getUsuario('id') ?>" type="hidden"  class="span3" />
									<input  placeholder="Data de lançamento" name="datalancamento" value="<?php echo (isset($this->post_var['datalancamento'])) ? Mn_Util::formPostVarData($this->post_var['datalancamento']) : date('d/m/Y') ?>" type="hidden"  class="span3" />
									<input maxlength="500" placeholder="Nome do Usuário" name="idlocal" value="<?php echo Usuarios::getUsuario('idlocal') ?>" type="hidden"  class="span3" />
									<input maxlength="500" placeholder="Nome do Usuário" name="idescola" value="<?php echo Usuarios::getUsuario('idescola') ?>" type="hidden"  class="span3" />

									<td width="20%">Sequencial/Ano: <?php echo (isset($this->post_var['sequencial'])) ? $this->post_var['sequencial'] : $this->sequencial ?></td>
									<td width="25%">Nome do Usuário: <?php echo Usuarios::getUsuario('nomerazao') . " - " . Usuarios::getUsuario('rgf') ?></td>
									<td width="25%">Data da Abertura: <?php echo date('d/m/Y') ?></td>
									<td width="25%">Escola: <?php 
											$local = Escolas::getEscolaByIdHelper(Usuarios::getUsuario('idescola')); 
											echo ((isset($local['escola'])) && ($local['escola']) && ($local['escola']!="") ) ? $local['escola'] : '';
										?>
											
									</td>
								</tr>
							</tbody>
						</table>
						
					</div>
				</div>
				<?php else: ?>
				<div class="control-group">
					<div class="controls1 visualizar">
						<table class="table table-content" width="100%">
							<tbody>
								<tr>
									<input maxlength="500" placeholder="Nome do Usuário" name="idusuario" value="<?php echo Usuarios::getUsuario('id') ?>" type="hidden"  class="span3" />
									<input  placeholder="Data de lançamento" name="datalancamento" value="<?php echo (isset($this->post_var['datalancamento'])) ? Mn_Util::formPostVarData($this->post_var['datalancamento']) : date('d/m/Y') ?>" type="hidden"  class="span3" />
									
									<td width="33%">Nome do Usuário: <?php echo Usuarios::getUsuario('nomerazao') . " - " . Usuarios::getUsuario('rgf') ?></td>
									<td width="33%">Data da Abertura: <?php echo date('d/m/Y') ?></td>
									
								</tr>
							</tbody>
						</table>
						
					</div>
				</div>
				<?php endif; ?>
							
				<?php if(((int)$idescola>0) || ((int)$idlocal>0)): ?>

				<?php else: ?>
				<div class="control-group">
					<label class="control-label">Escolas <span class="required">*</span></label>
					<div class="controls">
                        <select id="idescola" name="idescola"  class="select" onchange="setFuncionarios(this, 0)">
	                        <option value="">Selecione...</option>
	                        <?php foreach ($this->escolas as $e=>$row): ?>
	                        <option value="<?php echo $row['id'] ?>"><?php echo $row['escola'] ?></option>
	                        <?php endforeach;?>
                        </select>   
					</div>
				</div>
				<?php endif; ?>

				<div class="control-group">
					<label class="control-label">Nome <span class="required">*</span></label>
					<div class="controls">
						<label id="shownome"></label>
						<div id="fieldnome">
	                        <select id="idfuncionario" name="idfuncionario" onchange="setDados(this, 0)" class="select">
		                        <option value="">Selecione...</option>
								<?php foreach(Funcionariosgeraisescolas::getFuncionariosgeraisescolasHelper() as $i=>$row): ?>
								<option value="<?php echo $row['id'] ?>"><?php echo $row['nome'] ?></option>
								<?php endforeach;?>
	                        </select>
	                    </div>
					</div>
				</div>

				<div class="control-group box-dados" style="display: none;">
					<div class="controls1">
						<table class="table table-primary mb30">
							<thead>
								<tr>
									<th width="100%" colspan="3">Dados</th>
								</tr>
							</thead>
							
							<tbody>
								<tr>
									<td width="33%">
										<div class="control-group">
											<label class="control-label">Cargo:</label>
											<b><label id="dados_cargo"></label></b>
											<div class="controls"><input maxlength="500" placeholder="Cargo" name="dados_cargo" value="" type="hidden"  class="span12"/>
											</div>
										</div>
									</td>
									<td width="33%">
										<div class="control-group">
											<label class="control-label">RGF: </label>
											<b><label id="dados_rgf"></label></b>
											<div class="controls"><input maxlength="500" placeholder="RG" name="dados_rgf" value="" type="hidden" class="span12"/>
											</div>
										</div>
									</td>
								</tr>
							</tbody>
							
						</table>
					</div>
				</div>

				<div class="control-group">
					<h6>1. VÍNCULO</h6>
				</div>
				<input type="hidden" name="idendereco" value="<?php echo (isset($this->endereco['id'])) ? $this->endereco['id'] : '' ?>">
				<div class="control-group">
					<label class="control-label">Unidade de trabalho </label>
					<div class="controls">
						<label><?php echo Escolas::getEscolaNomeByIdHelper($idescola) ?></label>
						<input maxlength="500" placeholder="Unidade de trabalho" name="unidadetrabalho" value="<?php echo $idescola?>" type="hidden"  class="span3" />
					</div>
				</div>
				
				<div class="control-group">
					<label class="control-label">CEP</label>
					<div class="controls">
						<label><?php echo (isset($this->endereco['cep'])) ? $this->endereco['cep'] : '--' ?></label>
						<input maxlength="500" placeholder="CEP" name="escolacep" value="<?php echo (isset($this->endereco['cep'])) ? $this->endereco['cep'] : '' ?>" type="hidden"  class="span3" autocomplete="off"/>
					</div>
				</div>
				<div class="control-group">
					<label class="control-label">Endereço</label>
					<div class="controls">
						<label><?php echo (isset($this->endereco['endereco'])) ? $this->endereco['endereco'] : '--' ?></label>
						<input maxlength="500" placeholder="Endereço" name="endereco" value="<?php echo (isset($this->endereco['endereco'])) ? $this->endereco['endereco'] : '' ?>" type="hidden"  class="span3"/>
					</div>
				</div>
				<div class="control-group">
					<label class="control-label">Número</label>
					<div class="controls">
						<label><?php echo (isset($this->endereco['numero'])) ? $this->endereco['numero'] : '--' ?></label>
						<input maxlength="500" placeholder="Número" name="numero" value="<?php echo (isset($this->endereco['numero'])) ? $this->endereco['numero'] : '' ?>" type="hidden"  class="span3"/>
					</div>
				</div>				
				<div class="control-group">
					<label class="control-label">Complemento </label>
					<div class="controls">
						<label><?php echo (isset($this->endereco['complemento'])) ? $this->endereco['complemento'] : '--' ?></label>
						<input maxlength="500" placeholder="Complemento" name="complemento" value="<?php echo (isset($this->endereco['complemento'])) ? $this->endereco['complemento'] : '' ?>" type="hidden"  class="span3" />
					</div>
				</div>
				<div class="control-group">
					<label class="control-label">Bairro </label>
					<div class="controls">
						<label><?php echo (isset($this->endereco['bairro'])) ? $this->endereco['bairro'] : '--' ?></label>
						<input maxlength="500" placeholder="Bairro" name="bairro" value="<?php echo (isset($this->endereco['bairro'])) ? $this->endereco['bairro'] : '' ?>" type="hidden"  class="span3" />
					</div>
				</div>
				<div class="control-group">
					<label class="control-label">Estado </label>
					<div class="controls">
						<label><?php echo (isset($this->endereco['estado'])) ? $this->endereco['estado'] : '--' ?></label>
						<input maxlength="500" placeholder="Bairro" name="idestado" value="<?php echo (isset($this->endereco['idestado'])) ? $this->endereco['idestado'] : '' ?>" type="hidden"  class="span3" />	
					</div>
				</div>
				<div class="control-group">
					<label class="control-label">Cidade </label>
					<div class="controls">
						<label><?php echo (isset($this->endereco['cidade'])) ? $this->endereco['cidade'] : '--' ?></label>
						<input maxlength="500" placeholder="Cidade" name="cidade" value="<?php echo (isset($this->endereco['cidade'])) ? $this->endereco['cidade'] : '' ?>" type="hidden"  class="span3" />
					</div>
				</div>

				<div class="control-group">
					<label class="control-label">Carga Horária Semanal  </label>
					<div class="controls">
		                <select name="idcargasemanal" data-placeholder="Aluno" class="select">
							<option value="">Selecione...</option>
							<?php foreach (Supervisoescargashorarias::getSupervisoescargashorariasHelper(array('status'=>'Ativo')) as $k=>$v) : ?>
							<option value="<?php echo $v['id'] ?>"><?php echo $v['carga'] ?></option>
							<?php endforeach;?>
						</select>
						
					</div>
				</div>


				<div class="control-group">
					<label class="control-label">Horário de trabalho referente ao ano de </label>
					<div class="controls"><input maxlength="50" placeholder="Horário de trabalho referente ao ano de" name="horariotrabalho" value="<?php echo (isset($this->post_var['horariotrabalho'])) ? $this->post_var['horariotrabalho'] : '' ?>" type="text"  class="span3" /></div>
				</div>
				<div class="control-group">
					<div class="controls1">
						<table class="table table-primary mb30">
							<thead>
								<tr>
									<th width="100%" colspan="5">Carga Horária Obrigatória</th>
								</tr>
							</thead>
							
							<tbody>
								<tr>
									<td width="14%">
										<div class="control-group">
											Segunda: das
										</div>
									</td>

									<td width="20%">
										<div class="control-group1">
											<div class="controls"><input maxlength="50" placeholder="00:00" name="segundahorainicio1" value="<?php echo (isset($this->post_var['segundahorainicio1'])) ? $this->post_var['segundahorainicio1'] : '' ?>" type="text"  class="span12" /></div>
										</div>
									</td>

									<td width="22%">
										<div class="control-group1">
											<label class="control-label">às </label>
											<div class="controls"><input maxlength="50" placeholder="00:00" name="segundahorafim1" value="<?php echo (isset($this->post_var['segundahorafim1'])) ? $this->post_var['segundahorafim1'] : '' ?>" type="text"  class="span12" /></div>
										</div>
									</td>

									<td width="22%">
										<div class="control-group1">
											<label class="control-label">e das </label>
											<div class="controls"><input maxlength="50" placeholder="00:00" name="segundahorainicio2" value="<?php echo (isset($this->post_var['segundahorainicio2'])) ? $this->post_var['segundahorainicio2'] : '' ?>" type="text"  class="span12" /></div>
										</div>
									</td>

									<td width="22%">
										<div class="control-group1">
											<label class="control-label">às </label>
											<div class="controls"><input maxlength="50" placeholder="00:00" name="segundahorafim2" value="<?php echo (isset($this->post_var['segundahorafim2'])) ? $this->post_var['segundahorafim2'] : '' ?>" type="text"  class="span12" /></div>
										</div>
									</td>
								</tr>

<tr>
									<td width="14%">
										<div class="control-group">
											Terça: das
										</div>
									</td>

									<td width="20%">
										<div class="control-group1">
											<div class="controls"><input maxlength="50" placeholder="00:00" name="tercahorainicio1" value="<?php echo (isset($this->post_var['tercahorainicio1'])) ? $this->post_var['tercahorainicio1'] : '' ?>" type="text"  class="span12" /></div>
										</div>
									</td>

									<td width="22%">
										<div class="control-group1">
											<label class="control-label">às </label>
											<div class="controls"><input maxlength="50" placeholder="00:00" name="tercahorafim1" value="<?php echo (isset($this->post_var['tercahorafim1'])) ? $this->post_var['tercahorafim1'] : '' ?>" type="text"  class="span12" /></div>
										</div>
									</td>

									<td width="22%">
										<div class="control-group1">
											<label class="control-label">e das </label>
											<div class="controls"><input maxlength="50" placeholder="00:00" name="tercahorainicio2" value="<?php echo (isset($this->post_var['tercahorainicio2'])) ? $this->post_var['tercahorainicio2'] : '' ?>" type="text"  class="span12" /></div>
										</div>
									</td>

									<td width="22%">
										<div class="control-group1">
											<label class="control-label">às </label>
											<div class="controls"><input maxlength="50" placeholder="00:00" name="tercahorafim2" value="<?php echo (isset($this->post_var['tercahorafim2'])) ? $this->post_var['tercahorafim2'] : '' ?>" type="text"  class="span12" /></div>
										</div>
									</td>
								</tr>

<tr>
									<td width="14%">
										<div class="control-group">
											Quarta: das
										</div>
									</td>

									<td width="20%">
										<div class="control-group1">
											<div class="controls"><input maxlength="50" placeholder="00:00" name="quartahorainicio1" value="<?php echo (isset($this->post_var['quartahorainicio1'])) ? $this->post_var['quartahorainicio1'] : '' ?>" type="text"  class="span12" /></div>
										</div>
									</td>

									<td width="22%">
										<div class="control-group1">
											<label class="control-label">às </label>
											<div class="controls"><input maxlength="50" placeholder="00:00" name="quartahorafim1" value="<?php echo (isset($this->post_var['quartahorafim1'])) ? $this->post_var['quartahorafim1'] : '' ?>" type="text"  class="span12" /></div>
										</div>
									</td>

									<td width="22%">
										<div class="control-group1">
											<label class="control-label">e das </label>
											<div class="controls"><input maxlength="50" placeholder="00:00" name="quartahorainicio2" value="<?php echo (isset($this->post_var['quartahorainicio2'])) ? $this->post_var['quartahorainicio2'] : '' ?>" type="text"  class="span12" /></div>
										</div>
									</td>

									<td width="22%">
										<div class="control-group1">
											<label class="control-label">às </label>
											<div class="controls"><input maxlength="50" placeholder="00:00" name="quartahorafim2" value="<?php echo (isset($this->post_var['quartahorafim2'])) ? $this->post_var['quartahorafim2'] : '' ?>" type="text"  class="span12" /></div>
										</div>
									</td>
								</tr>


								<tr>
									<td width="14%">
										<div class="control-group">
											Quinta: das
										</div>
									</td>

									<td width="20%">
										<div class="control-group1">
											<div class="controls"><input maxlength="50" placeholder="00:00" name="quintahorainicio1" value="<?php echo (isset($this->post_var['quintahorainicio1'])) ? $this->post_var['quintahorainicio1'] : '' ?>" type="text"  class="span12" /></div>
										</div>
									</td>

									<td width="22%">
										<div class="control-group1">
											<label class="control-label">às </label>
											<div class="controls"><input maxlength="50" placeholder="00:00" name="quintahorafim1" value="<?php echo (isset($this->post_var['quintahorafim1'])) ? $this->post_var['quintahorafim1'] : '' ?>" type="text"  class="span12" /></div>
										</div>
									</td>

									<td width="22%">
										<div class="control-group1">
											<label class="control-label">e das </label>
											<div class="controls"><input maxlength="50" placeholder="00:00" name="quintahorainicio2" value="<?php echo (isset($this->post_var['quintahorainicio2'])) ? $this->post_var['quintahorainicio2'] : '' ?>" type="text"  class="span12" /></div>
										</div>
									</td>

									<td width="22%">
										<div class="control-group1">
											<label class="control-label">às </label>
											<div class="controls"><input maxlength="50" placeholder="00:00" name="quintahorafim2" value="<?php echo (isset($this->post_var['quintahorafim2'])) ? $this->post_var['quintahorafim2'] : '' ?>" type="text"  class="span12" /></div>
										</div>
									</td>
								</tr>

								<tr>
									<td width="14%">
										<div class="control-group">
											Sexta: das
										</div>
									</td>

									<td width="20%">
										<div class="control-group1">
											<div class="controls"><input maxlength="50" placeholder="00:00" name="sextahorainicio1" value="<?php echo (isset($this->post_var['sextahorainicio1'])) ? $this->post_var['sextahorainicio1'] : '' ?>" type="text"  class="span12" /></div>
										</div>
									</td>

									<td width="22%">
										<div class="control-group1">
											<label class="control-label">às </label>
											<div class="controls"><input maxlength="50" placeholder="00:00" name="sextahorafim1" value="<?php echo (isset($this->post_var['sextahorafim1'])) ? $this->post_var['sextahorafim1'] : '' ?>" type="text"  class="span12" /></div>
										</div>
									</td>

									<td width="22%">
										<div class="control-group1">
											<label class="control-label">e das </label>
											<div class="controls"><input maxlength="50" placeholder="00:00" name="sextahorainicio2" value="<?php echo (isset($this->post_var['sextahorainicio2'])) ? $this->post_var['sextahorainicio2'] : '' ?>" type="text"  class="span12" /></div>
										</div>
									</td>

									<td width="22%">
										<div class="control-group1">
											<label class="control-label">às </label>
											<div class="controls"><input maxlength="50" placeholder="00:00" name="sextahorafim2" value="<?php echo (isset($this->post_var['sextahorafim2'])) ? $this->post_var['sextahorafim2'] : '' ?>" type="text"  class="span12" /></div>
										</div>
									</td>
								</tr>




<tr>
									<td width="56%" colspan="3">
										<div class="control-group">
											<label class="control-label" style="width: 26%">HTPC dia da semana  </label>
											<div class="controls" style="margin-left: 31%"><input maxlength="50" placeholder="Dia da semana" name="htpcsemana1" value="<?php echo (isset($this->post_var['htpcsemana1'])) ? $this->post_var['htpcsemana1'] : '' ?>" type="text"  class="span12" /></div>											
										</div>
									</td>




									<td width="22%">
										<div class="control-group1">
											<label class="control-label">Das </label>
											<div class="controls"><input maxlength="50" placeholder="00:00" name="htpcsemanahorainicio1" value="<?php echo (isset($this->post_var['htpcsemanahorainicio1'])) ? $this->post_var['htpcsemanahorainicio1'] : '' ?>" type="text"  class="span12" /></div>
										</div>
									</td>

									<td width="22%">
										<div class="control-group1">
											<label class="control-label">às </label>
											<div class="controls"><input maxlength="50" placeholder="00:00" name="htpcsemanahorafim1" value="<?php echo (isset($this->post_var['htpcsemanahorafim1'])) ? $this->post_var['htpcsemanahorafim1'] : '' ?>" type="text"  class="span12" /></div>
										</div>
									</td>
								</tr>

<tr>
									<td width="56%" colspan="3">
										<div class="control-group">
											<label class="control-label" style="width: 26%">HTPC dia da semana  </label>
											<div class="controls" style="margin-left: 31%"><input maxlength="50" placeholder="Dia da semana" name="htpcsemana2" value="<?php echo (isset($this->post_var['htpcsemana2'])) ? $this->post_var['htpcsemana2'] : '' ?>" type="text"  class="span12" /></div>											
										</div>
									</td>




									<td width="22%">
										<div class="control-group1">
											<label class="control-label">Das </label>
											<div class="controls"><input maxlength="50" placeholder="00:00" name="htpcsemanahorainicio2" value="<?php echo (isset($this->post_var['htpcsemanahorainicio2'])) ? $this->post_var['htpcsemanahorainicio2'] : '' ?>" type="text"  class="span12" /></div>
										</div>
									</td>

									<td width="22%">
										<div class="control-group1">
											<label class="control-label">às </label>
											<div class="controls"><input maxlength="50" placeholder="00:00" name="htpcsemanahorafim2" value="<?php echo (isset($this->post_var['htpcsemanahorafim2'])) ? $this->post_var['htpcsemanahorafim2'] : '' ?>" type="text"  class="span12" /></div>
										</div>
									</td>
								</tr>
							</tbody>
							
						</table>
					</div>
				</div>

				<div class="control-group">
					<label class="control-label">Local </label>
					<div class="controls"><input maxlength="500" placeholder="Local" name="local" value="<?php echo (isset($this->post_var['local'])) ? $this->post_var['local'] : '' ?>" type="text"  class="span3" /></div>
				</div>


				<div class="control-group">
					<label class="control-label">Data</label>
					<div class="controls"><input placeholder="Data" name="data" value="<?php echo (isset($this->post_var['data'])) ? Mn_Util::formPostVarData($this->post_var['data']) : '' ?>" type="text"  class="span3" /></div>
				</div>





				<div class="control-group">
					<h6>2. VÍNCULO</h6>					
				</div>



				<div class="control-group">
					<div class="controls1">
						<table class="table table-primary mb30">
							<thead>
								<tr>
									<th width="100%" colspan="3">Dados</th>
								</tr>
							</thead>
							
							<tbody>
								<tr>
									<td width="33%">
										<div class="control-group">
											<label class="control-label">FONE *</label>
											<div class="controls"><input maxlength="500" placeholder="Telefone" name="v2telefone" value="<?php echo (isset($this->post_var['v2telefone'])) ? $this->post_var['v2telefone'] : '' ?>" type="text"  class="span12" /></div>
										</div>
									</td>
									<td width="34%">
										<div class="control-group">
											<label class="control-label">CARGO </label>
											<div class="controls"><input maxlength="500" placeholder="Cargo" name="cargo" value="<?php echo (isset($this->post_var['cargo'])) ? $this->post_var['cargo'] : '' ?>" type="text"  class="span12" /></div>
										</div>
									</td>
									<td width="33%">
										<div class="control-group">
											<label class="control-label">RF </label>
											<div class="controls"><input maxlength="500" placeholder="RF" name="rf" value="<?php echo (isset($this->post_var['rf'])) ? $this->post_var['rf'] : '' ?>" type="text"  class="span12" /></div>
										</div>
									</td>
								</tr>
							</tbody>
							
						</table>
					</div>
				</div>


				<div class="control-group">
					<label class="control-label">Unidade de trabalho </label>
					<div class="controls"><input maxlength="500" placeholder="Unidade de trabalho" name="v2unidadetrabalho" value="<?php echo (isset($this->post_var['v2unidadetrabalho'])) ? $this->post_var['v2unidadetrabalho'] : '' ?>" type="text"  class="span3" /></div>
				</div>

						    
<?php
							$this->endereco_prefix = "e_v2idendereco";
							echo $this->render('/helpers/forms/endereco.phtml') ?>



				<div class="control-group">
					<label class="control-label">Carga Horária Semanal </label>
					<div class="controls">
		                <select name="v2idcargasemanal" data-placeholder="Carga Horária Semanal" class="select">
							<option value="">Selecione...</option>
							<?php foreach (Supervisoescargashorarias::getSupervisoescargashorariasHelper(array('status'=>'Ativo')) as $k=>$v) : ?>
							<option value="<?php echo $v['id'] ?>"><?php echo $v['carga'] ?></option>
							<?php endforeach;?>
						</select>
						
					</div>
				</div>


				<div class="control-group">
					<label class="control-label">Horário de trabalho referente ao ano de </label>
					<div class="controls"><input maxlength="50" placeholder="Horário de trabalho referente ao ano de" name="v2horariotrabalho" value="<?php echo (isset($this->post_var['v2horariotrabalho'])) ? $this->post_var['v2horariotrabalho'] : '' ?>" type="text"  class="span3" /></div>
				</div>







<div class="control-group">
					<div class="controls1">
						<table class="table table-primary mb30">
							<thead>
								<tr>
									<th width="100%" colspan="5">Carga Horária Obrigatória</th>
								</tr>
							</thead>
							
							<tbody>
								<tr>
									<td width="14%">
										<div class="control-group">
											Segunda das
										</div>
									</td>

									<td width="20%">
										<div class="control-group1">
											<div class="controls"><input maxlength="50" placeholder="00:00" name="v2segundahorainicio1" value="<?php echo (isset($this->post_var['v2segundahorainicio1'])) ? $this->post_var['v2segundahorainicio1'] : '' ?>" type="text"  class="span12" /></div>
										</div>
									</td>

									<td width="22%">
										<div class="control-group1">
											<label class="control-label">às </label>
											<div class="controls"><input maxlength="50" placeholder="00:00" name="v2segundahorafim1" value="<?php echo (isset($this->post_var['v2segundahorafim1'])) ? $this->post_var['v2segundahorafim1'] : '' ?>" type="text"  class="span12" /></div>
										</div>
									</td>

									<td width="22%">
										<div class="control-group1">
											<label class="control-label">e das </label>
											<div class="controls"><input maxlength="50" placeholder="00:00" name="v2segundahorainicio2" value="<?php echo (isset($this->post_var['v2segundahorainicio2'])) ? $this->post_var['v2segundahorainicio2'] : '' ?>" type="text"  class="span12" /></div>
										</div>
									</td>

									<td width="22%">
										<div class="control-group1">
											<label class="control-label">às </label>
											<div class="controls"><input maxlength="50" placeholder="00:00" name="v2segundahorafim2" value="<?php echo (isset($this->post_var['v2segundahorafim2'])) ? $this->post_var['v2segundahorafim2'] : '' ?>" type="text"  class="span12" /></div>
										</div>
									</td>
								</tr>

<tr>
									<td width="14%">
										<div class="control-group">
											Terça das
										</div>
									</td>

									<td width="20%">
										<div class="control-group1">
											<div class="controls"><input maxlength="50" placeholder="00:00" name="v2tercahorainicio1" value="<?php echo (isset($this->post_var['v2tercahorainicio1'])) ? $this->post_var['v2tercahorainicio1'] : '' ?>" type="text"  class="span12" /></div>
										</div>
									</td>

									<td width="22%">
										<div class="control-group1">
											<label class="control-label">às </label>
											<div class="controls"><input maxlength="50" placeholder="00:00" name="v2tercahorafim1" value="<?php echo (isset($this->post_var['v2tercahorafim1'])) ? $this->post_var['v2tercahorafim1'] : '' ?>" type="text"  class="span12" /></div>
										</div>
									</td>

									<td width="22%">
										<div class="control-group1">
											<label class="control-label">e das </label>
											<div class="controls"><input maxlength="50" placeholder="00:00" name="v2tercahorainicio2" value="<?php echo (isset($this->post_var['v2tercahorainicio2'])) ? $this->post_var['v2tercahorainicio2'] : '' ?>" type="text"  class="span12" /></div>
										</div>
									</td>

									<td width="22%">
										<div class="control-group1">
											<label class="control-label">às </label>
											<div class="controls"><input maxlength="50" placeholder="00:00" name="v2tercahorafim2" value="<?php echo (isset($this->post_var['v2tercahorafim2'])) ? $this->post_var['v2tercahorafim2'] : '' ?>" type="text"  class="span12" /></div>
										</div>
									</td>
								</tr>

<tr>
									<td width="14%">
										<div class="control-group">
											Quarta das
										</div>
									</td>

									<td width="20%">
										<div class="control-group1">
											<div class="controls"><input maxlength="50" placeholder="00:00" name="v2quartahorainicio1" value="<?php echo (isset($this->post_var['v2quartahorainicio1'])) ? $this->post_var['v2quartahorainicio1'] : '' ?>" type="text"  class="span12" /></div>
										</div>
									</td>

									<td width="22%">
										<div class="control-group1">
											<label class="control-label">às </label>
											<div class="controls"><input maxlength="50" placeholder="00:00" name="v2quartahorafim1" value="<?php echo (isset($this->post_var['v2quartahorafim1'])) ? $this->post_var['v2quartahorafim1'] : '' ?>" type="text"  class="span12" /></div>
										</div>
									</td>

									<td width="22%">
										<div class="control-group1">
											<label class="control-label">e das </label>
											<div class="controls"><input maxlength="50" placeholder="00:00" name="v2quartahorainicio2" value="<?php echo (isset($this->post_var['v2quartahorainicio2'])) ? $this->post_var['v2quartahorainicio2'] : '' ?>" type="text"  class="span12" /></div>
										</div>
									</td>

									<td width="22%">
										<div class="control-group1">
											<label class="control-label">às </label>
											<div class="controls"><input maxlength="50" placeholder="00:00" name="v2quartahorafim2" value="<?php echo (isset($this->post_var['v2quartahorafim2'])) ? $this->post_var['v2quartahorafim2'] : '' ?>" type="text"  class="span12" /></div>
										</div>
									</td>
								</tr>


								<tr>
									<td width="14%">
										<div class="control-group">
											Quinta das
										</div>
									</td>

									<td width="20%">
										<div class="control-group1">
											<div class="controls"><input maxlength="50" placeholder="00:00" name="v2quintahorainicio1" value="<?php echo (isset($this->post_var['v2quintahorainicio1'])) ? $this->post_var['v2quintahorainicio1'] : '' ?>" type="text"  class="span12" /></div>
										</div>
									</td>

									<td width="22%">
										<div class="control-group1">
											<label class="control-label">às </label>
											<div class="controls"><input maxlength="50" placeholder="00:00" name="v2quintahorafim1" value="<?php echo (isset($this->post_var['v2quintahorafim1'])) ? $this->post_var['v2quintahorafim1'] : '' ?>" type="text"  class="span12" /></div>
										</div>
									</td>

									<td width="22%">
										<div class="control-group1">
											<label class="control-label">e das </label>
											<div class="controls"><input maxlength="50" placeholder="00:00" name="v2quintahorainicio2" value="<?php echo (isset($this->post_var['v2quintahorainicio2'])) ? $this->post_var['v2quintahorainicio2'] : '' ?>" type="text"  class="span12" /></div>
										</div>
									</td>

									<td width="22%">
										<div class="control-group1">
											<label class="control-label">às </label>
											<div class="controls"><input maxlength="50" placeholder="00:00" name="v2quintahorafim2" value="<?php echo (isset($this->post_var['v2quintahorafim2'])) ? $this->post_var['v2quintahorafim2'] : '' ?>" type="text"  class="span12" /></div>
										</div>
									</td>
								</tr>

								<tr>
									<td width="14%">
										<div class="control-group">
											Sexta das
										</div>
									</td>

									<td width="20%">
										<div class="control-group1">
											<div class="controls"><input maxlength="50" placeholder="00:00" name="v2sextahorainicio1" value="<?php echo (isset($this->post_var['v2sextahorainicio1'])) ? $this->post_var['v2sextahorainicio1'] : '' ?>" type="text"  class="span12" /></div>
										</div>
									</td>

									<td width="22%">
										<div class="control-group1">
											<label class="control-label">às </label>
											<div class="controls"><input maxlength="50" placeholder="00:00" name="v2sextahorafim1" value="<?php echo (isset($this->post_var['v2sextahorafim1'])) ? $this->post_var['v2sextahorafim1'] : '' ?>" type="text"  class="span12" /></div>
										</div>
									</td>

									<td width="22%">
										<div class="control-group1">
											<label class="control-label">e das </label>
											<div class="controls"><input maxlength="50" placeholder="00:00" name="v2sextahorainicio2" value="<?php echo (isset($this->post_var['v2sextahorainicio2'])) ? $this->post_var['v2sextahorainicio2'] : '' ?>" type="text"  class="span12" /></div>
										</div>
									</td>

									<td width="22%">
										<div class="control-group1">
											<label class="control-label">às </label>
											<div class="controls"><input maxlength="50" placeholder="00:00" name="v2sextahorafim2" value="<?php echo (isset($this->post_var['v2sextahorafim2'])) ? $this->post_var['v2sextahorafim2'] : '' ?>" type="text"  class="span12" /></div>
										</div>
									</td>
								</tr>




<tr>
									<td width="56%" colspan="3">
										<div class="control-group">
											<label class="control-label" style="width: 26%">HTPC dia da semana  </label>
											<div class="controls" style="margin-left: 31%"><input maxlength="50" placeholder="Dia da semana" name="v2htpcsemana1" value="<?php echo (isset($this->post_var['v2htpcsemana1'])) ? $this->post_var['v2htpcsemana1'] : '' ?>" type="text"  class="span12" /></div>											
										</div>
									</td>




									<td width="22%">
										<div class="control-group1">
											<label class="control-label">Das </label>
											<div class="controls"><input maxlength="50" placeholder="00:00" name="v2htpcsemanahorainicio1" value="<?php echo (isset($this->post_var['v2htpcsemanahorainicio1'])) ? $this->post_var['v2htpcsemanahorainicio1'] : '' ?>" type="text"  class="span12" /></div>
										</div>
									</td>

									<td width="22%">
										<div class="control-group1">
											<label class="control-label">às </label>
											<div class="controls"><input maxlength="50" placeholder="00:00" name="v2htpcsemanahorafim1" value="<?php echo (isset($this->post_var['v2htpcsemanahorafim1'])) ? $this->post_var['v2htpcsemanahorafim1'] : '' ?>" type="text"  class="span12" /></div>
										</div>
									</td>
								</tr>

<tr>
									<td width="56%" colspan="3">
										<div class="control-group">
											<label class="control-label" style="width: 26%">HTPC dia da semana  </label>
											<div class="controls" style="margin-left: 31%"><input maxlength="50" placeholder="Dia da semana" name="v2htpcsemana2" value="<?php echo (isset($this->post_var['v2htpcsemana2'])) ? $this->post_var['v2htpcsemana2'] : '' ?>" type="text"  class="span12" /></div>											
										</div>
									</td>




									<td width="22%">
										<div class="control-group1">
											<label class="control-label">Das </label>
											<div class="controls"><input maxlength="50" placeholder="00:00" name="v2htpcsemanahorainicio2" value="<?php echo (isset($this->post_var['v2htpcsemanahorainicio2'])) ? $this->post_var['v2htpcsemanahorainicio2'] : '' ?>" type="text"  class="span12" /></div>
										</div>
									</td>

									<td width="22%">
										<div class="control-group1">
											<label class="control-label">às </label>
											<div class="controls"><input maxlength="50" placeholder="00:00" name="v2htpcsemanahorafim2" value="<?php echo (isset($this->post_var['v2htpcsemanahorafim2'])) ? $this->post_var['v2htpcsemanahorafim2'] : '' ?>" type="text"  class="span12" /></div>
										</div>
									</td>
								</tr>
							</tbody>
							
						</table>
					</div>
				</div>


				<div class="control-group">
					<label class="control-label">Local </label>
					<div class="controls"><input maxlength="500" placeholder="Local" name="v2local" value="<?php echo (isset($this->post_var['v2local'])) ? $this->post_var['v2local'] : '' ?>" type="text"  class="span3" /></div>
				</div>


				<div class="control-group">
					<label class="control-label">Data</label>
					<div class="controls"><input placeholder="Data" name="v2data" value="<?php echo (isset($this->post_var['v2data'])) ? Mn_Util::formPostVarData($this->post_var['v2data']) : '' ?>" type="text"  class="span3" /></div>
				</div>


				<div class="control-group">
					<label class="control-label">Declaro sob penas de lei que <span class="required">*</span></label>
					<div class="controls">
						<div>
							<input type="radio" name="penasleis" value="Não acumulo cargos e funções" <?php echo ((isset($this->post_var['penasleis'])) && ($this->post_var['penasleis']!="") && ($this->post_var['penasleis']=="Não acumulo cargos e funções") ) ? 'checked="checked"' : '' ?> /> Não acumulo cargos e funções <br />
						</div>
						<div>
							<input type="radio" name="penasleis" value="1. Vínculo refere-se ao cargo" <?php echo ((isset($this->post_var['penasleis'])) && ($this->post_var['penasleis']!="") && ($this->post_var['penasleis']==" 1. Vínculo refere-se ao cargo") ) ? 'checked="checked"' : '' ?> /> 1. Vínculo refere-se ao cargo <br />
						</div>
						<div>

							<input type="radio" name="penasleis" value="2. Vínculo refere-se a outro cargo ou ampliação" <?php echo ((isset($this->post_var['penasleis'])) && ($this->post_var['penasleis']!="") && ($this->post_var['penasleis']=="2. Vínculo refere-se a outro cargo ou ampliação") ) ? 'checked="checked"' : '' ?> /> 2. Vínculo refere-se a outro cargo ou ampliação
						</div>
					</div>
				</div>


				<div class="control-group">
					<label class="control-label">Documento </label>
					<div class="controls">
						<?php if ((isset($this->post_var['idarquivo'])) && ((int)$this->post_var['idarquivo']>0)) : ?>
							<?php echo $this->getArquivo($this->post_var['idarquivo']) ?>
						
							<?php if (!$this->visualizar) : ?>
								<div class="checkbox block">
									<label><input type="checkbox" name="excluir_idarquivo" value="excluir" /> Desejo excluir o arquivo</label>
								</div>
							<?php endif; ?>
						<?php endif; ?>
						
						<input placeholder="Documento" name="idarquivo" type="file"  />
					</div>
				</div>

				<div class="controls">
					<label class="font16">Esclareço que a distância entre as unidade em que vou atuar é de aproximadamente <input name="kmdistancia" type="text" width="15%" placeholder="Distância em KM" <?php echo ($this->visualizar) ? 'disabled' : ''; ?> class="extrainfo"> KM e que utilizarei <input name="transporte" type="text" width="15%" placeholder="Meio de transporte" <?php echo ($this->visualizar) ? 'disabled' : ''; ?> class="extrainfo"> como meio de transporte, gastando no percurso <input name="horas" type="text" width="15%" placeholder="Horas" <?php echo ($this->visualizar) ? 'disabled' : ''; ?> class="extrainfo"> horas e <input name="minutos" type="text" width="15%" placeholder="Minutos" <?php echo ($this->visualizar) ? 'disabled' : ''; ?> class="extrainfo"> minutos</label>
				</div>
				<?php if($this->editar): ?>

				<div class="control-group">
					<label class="control-label">&nbsp;</label>
					<div class="controls">	
						<a title="" class="btn tip" href="<?php echo $this->baseUrl() ?>/<?php echo 'admin' ?>/<?php echo $this->getController() ?>/pdf/id/<?php echo $this->post_var['id'] ?>" data-original-title="Emitir PDF" target="_blank"><i class=" icon-folder-open"></i> Gerar PDF</a>
					</div>
				</div>


				<div class="control-group">
					<label class="control-label">Status <span class="required">*</span></label>
					<div class="controls">
						<select name="status1" data-placeholder="Status" class="select">
							<option value="">Selecione...</option>
							<option value="Em andamento">Em andamento</option><option value="Deferido">Deferido</option><option value="Indeferido">Indeferido</option>
						</select>
						
					</div>
				</div>
				<?php endif; ?>
  
						    
						    </div>
						    
			                <div class="form-actions align-right">
			                	<?php if ((isset($this->visualizar)) && ($this->visualizar)) : ?>
			                		<button onclick="window.history.back()" class="btn btn-danger cancelar" type="button">Voltar</button>
			                	<?php else : ?>
				                	<button class="btn btn-primary enviar" type="submit">Salvar</button>
				                	<button onclick="window.history.back()" class="btn btn-danger cancelar" type="button">Cancelar</button>
			                	<?php endif; ?>
			                </div>
						</div>
						<!-- /general form elements -->

					</fieldset> 

				</form>
				<!-- /basic inputs -->

		    </div>
		    <!-- /content wrapper -->

		</div>
		<!-- content -->
				
<script type="text/javascript" src="<?php echo $this->baseUrl('/public/scripts/admin/secretariasavaliacoesacumulos_form.js') ?>"></script>
<script type="text/javascript">
	var form_values = {};
	
	<?php if (isset($this->post_var)) :  ?>
		form_values.e_idenderecoidestado = '<?php echo (isset($this->post_var['e_idenderecoidestado'])) ? $this->post_var['e_idenderecoidestado'] : '' ?>';
form_values.e_v2idenderecoidestado = '<?php echo (isset($this->post_var['e_v2idenderecoidestado'])) ? $this->post_var['e_v2idenderecoidestado'] : '' ?>';
form_values.idusuariologado = '<?php echo (isset($this->post_var['idusuariologado'])) ? $this->post_var['idusuariologado'] : '' ?>';

form_values.idcargasemanal = '<?php echo (isset($this->post_var['idcargasemanal'])) ? $this->post_var['idcargasemanal'] : '' ?>';

form_values.v2idcargasemanal = '<?php echo (isset($this->post_var['v2idcargasemanal'])) ? $this->post_var['v2idcargasemanal'] : '' ?>';

form_values.penasleis = '<?php echo (isset($this->post_var['penasleis'])) ? $this->post_var['penasleis'] : '' ?>';
form_values.status1 = '<?php echo (isset($this->post_var['status1'])) ? $this->post_var['status1'] : '' ?>';
form_values.deferido = '<?php echo (isset($this->post_var['deferido'])) ? $this->post_var['deferido'] : '' ?>';
form_values.idescola = '<?php echo (isset($this->post_var['idescola'])) ? $this->post_var['idescola'] : '' ?>';
form_values.idfuncionario = '<?php echo (isset($this->post_var['idfuncionario'])) ? $this->post_var['idfuncionario'] : '' ?>';
form_values.nome = '<?php echo (isset($this->post_var['nome'])) ? $this->post_var['nome'] : '' ?>';
form_values.distancia = '<?php echo (isset($this->post_var['distancia'])) ? $this->post_var['distancia'] : '' ?>';
form_values.transporte = '<?php echo (isset($this->post_var['transporte'])) ? $this->post_var['transporte'] : '' ?>';
form_values.horas = '<?php echo (isset($this->post_var['horas'])) ? $this->post_var['horas'] : '' ?>';
form_values.minutos = '<?php echo (isset($this->post_var['minutos'])) ? $this->post_var['minutos'] : '' ?>';

form_values.estado = '<?php echo (isset($this->endereco['idestado'])) ? $this->endereco['idestado'] : ''?>';
	<?php endif; ?>

	visualizar = <?php echo ((isset($this->visualizar)) && ($this->visualizar))  ? 'true' : 'false' ?>;
</script>
