		<!-- Content -->
		<div id="content">

		    <!-- Content wrapper -->
		    <div class="wrapper">

			    <!-- Breadcrumbs line -->
			    <div class="crumbs">
			    	<?php echo $this->render('/helpers/breadcrumb.phtml') ?>
			    </div>
			    <!-- /breadcrumbs line -->

			    <!-- Page header -->
			    <div class="page-header">
			    	<div class="page-title">
				    	<h5>Comissão de avaliação de acúmulos de cargos no sistema</h5>
				    	<span>Visualize os comissão de avaliação de acúmulos de cargos do sistema</span>
			    	</div>
			    	
			    </div>
			    <!-- /page header -->
			    
			    <?php if (isset($this->crudMessage)) : ?>
				<div class="alert alert-success">
                	<button data-dismiss="alert" class="close" type="button">×</button>
                    <strong>Operação realizada com sucesso!</strong>
	    			<span><br /><?php echo $this->crudMessage ?></span>
                </div>			    
			    <?php endif; ?>
                <!-- Table with footer -->
                <div class="widget">
                	<form action="#" class="form-horizontal" method="post">
                		<input type="hidden" value="<?php echo (isset($this->post_var['sorting'])) ? $this->post_var['sorting'] : '' ?>" name="sorting" />
	                	<div class="navbar">
	                		<div class="navbar-inner">
	                			<h6>Visualizando registros</h6>
	                			<?php if (Mn_Util::isAccess($this->getController(), 'adicionar')) : ?>
	                			<a style="float:right;" href="<?php echo $this->baseUrl() ?>/<?php echo 'admin' ?>/<?php echo $this->getController() ?>/adicionar" class="btn btn-primary"><span class="icon-plus"></span>&nbsp;Adicionar comissão de avaliação de acúmulo de cargo</a>
	                			<?php endif; ?>
	                		</div>
	                	</div>
	                    <div class="table-overflow">	                    	 
	                        <table class="table table-content">
	                            <thead>
	                            	<?php
								    	$idOn = Usuarios::getUsuario('id');
										$dados = Usuarios::getUsuarios(array('id'=>$idOn));
										$_data = $dados[0];
										$idperfil = $_data['idperfil'];
										
										if($idperfil == 29):
											$allowed = false;
											$escola = Usuarios::getEscolaAtiva(Usuarios::getUsuario('id'));
											if($escola):							
												$idescola = $escola['id'];
											endif;
										else: $allowed = true;
										endif;
								    ?>
	                                <tr>
		                                <th width="20">#</th>
	                                    <th class="s-sequencial sorting" width="40">Sequencial/Ano</th>
	                                    <?php if($allowed):?><th class="s-escola sorting">Escola</th><?php endif;?>
	                                    <th class="s-nome sorting">Nome</th>
	                                    <th class="s-cargo sorting" width="100">RGF</th>
	                                    <th class="s-status sorting" width="80">Status</th>
										<th width="96">Ações</th>
	                                </tr>
	                                <tr>
	                                    <th></th>
										<th><input name="sequencial" value="<?php echo (isset($this->post_var['sequencial'])) ? $this->post_var['sequencial'] : '' ?>" type="text" placeholder="Sequencial/Ano" class="span3"></th>
										<?php if($allowed):?>
										<th>
											<div>
												<select name="idescola" placeholder="Todos" class="select">
													<option value="">Todos</option>
													<?php foreach (Escolas::getEscolasHelper(array('status'=>'Ativo')) as $k=>$v) : ?>
														<option value="<?php echo $v['id'] ?>"><?php echo $v['escola'] ?></option>
													<?php endforeach;?>
												</select>
											</div>
										</th>
										<?php endif;?>
										<th>
											<div>
					                        <select id="idfuncionario" name="idfuncionario"  class="select">
						                        <option value="">Todos</option>
													<?php foreach(Funcionariosgeraisescolas::getFuncionariosgeraisescolasHelper() as $i=>$row): ?>
													<option value="<?php echo $row['id'] ?>"><?php echo $row['nome'] ?></option>
													<?php endforeach;?>
					                        </select>
					                    	</div>
										</th>
										<th><input name="rgf" value="<?php echo (isset($this->post_var['rgf'])) ? $this->post_var['rgf'] : '' ?>" type="text" placeholder="RGF" class="span3"></th>

										<th>
											<div>
												<select name="status1" placeholder="Todos" class="select">
													<option value="">Todos</option>
													<!--<option value="Em andamento">Em andamento</option><option value="Deferido">Deferido</option><option value="Indeferido">Indeferido</option>-->
												</select>
											</div>
										</th>
	                                    <th><button class="btn btn-mini btn-primary" type="submit">Pesquisar</button></th>
	                                </tr>                           
	                            </thead>
	                            <tbody>
	                            	<?php if (sizeof($this->rows)==0) : ?>
	                                <tr>
	                                    <td colspan="6">Nenhum registro foi encontrado!</td>
	                                </tr>
	                            	<?php else : ?>
	                            	<?php foreach ($this->rows as $row) : ?>
	                                <tr>
	                                	<td><?php echo $row['id'] ?></td>
										<td><?php echo $row['sequencial'] ?></td>
										<?php if($allowed):?>
										<td>
											<?php echo Escolas::getEscolaNomeByIdHelper($row['idescola']) ?>
										</td>
										<?php endif;?>
										<td>
											<?php
												$___rows = Funcionariosgeraisescolas::getFuncionariosgeraisescolasHelper(array('id'=>$row['idfuncionario']));
												$___row = (sizeof($___rows)>0) ? 	$___rows[0] : false;	
												
												echo ($___row) ? $this->formatTextoBranco($___row['nome']) : '--';		
											?>
										</td>
										<td><?php echo $row['cargo'] ?></td>
										<td>
												<?php echo 'Ativo' ?>
										</td>
	                                    <td>
	                                        <ul class="table-controls">
	                                            <li><a title="" class="btn tip" href="<?php echo $this->baseUrl() ?>/<?php echo 'admin' ?>/<?php echo $this->getController() ?>/visualizar/id/<?php echo $row['id'] ?>" data-original-title="Visualizar"><i class="icon-eye-open"></i></a> </li>
	                                            <?php if (Mn_Util::isAccess($this->getController(), 'editar') && $row['status'] == 'Em Andamento') : ?>
	                                            <li><a title="" class="btn tip" href="<?php echo $this->baseUrl() ?>/<?php echo 'admin' ?>/<?php echo $this->getController() ?>/editar/id/<?php echo $row['id'] ?>" data-original-title="Editar"><i class="icon-pencil"></i></a> </li>
	                                            <?php endif;?>
	                                            <?php if (Mn_Util::isAccess($this->getController(), 'excluir') && $row['status'] == 'Em Andamento') : ?>
	                                            <li><a title="" class="btn tip" href="javascript:confirmDelete('<?php echo $row['id']; ?>','registro');" data-original-title="Excluir"><i class="icon-remove"></i></a> </li>
	                                            <?php endif; ?>
	                                            <li><a title="" class="btn tip" href="<?php echo $this->baseUrl() ?>/<?php echo 'admin' ?>/<?php echo $this->getController() ?>/pdf/id/<?php echo $row['id'] ?>" data-original-title="Emitir PDF" target="_blank"><i class=" icon-folder-open"></i></a> </li>
	                                        </ul>
	                                    </td>
	                                </tr>
	                            	<?php endforeach;?>
	                            	
	                            	
	                            	
	                            	
	                            	<?php endif; ?>
	
	                            </tbody>
	                        </table>
	                    </div>
	                    <?php echo $this->render('/helpers/paginator.phtml') ?>
                    
                    </form>

                </div>
                <!-- /table with footer -->
	                        


		    </div>
		    <!-- /content wrapper -->

		</div>
		<!-- content -->
		
		
<script type="text/javascript" src="<?php echo $this->baseUrl('/public/scripts/admin/secretariasavaliacoesacumulos_index.js') ?>"></script>
<script type="text/javascript">

	var form_values = {};
	<?php if (isset($this->post_var)) :  ?>
form_values.e_idenderecoidestado = '<?php echo (isset($this->post_var['e_idenderecoidestado'])) ? $this->post_var['e_idenderecoidestado'] : '' ?>';
form_values.e_v2idenderecoidestado = '<?php echo (isset($this->post_var['e_v2idenderecoidestado'])) ? $this->post_var['e_v2idenderecoidestado'] : '' ?>';
form_values.idusuariologado = '<?php echo (isset($this->post_var['idusuariologado'])) ? $this->post_var['idusuariologado'] : '' ?>';

form_values.idcargasemanal = '<?php echo (isset($this->post_var['idcargasemanal'])) ? $this->post_var['idcargasemanal'] : '' ?>';

form_values.idescola = '<?php echo (isset($this->post_var['idescola'])) ? $this->post_var['idescola'] : '' ?>';
form_values.idfuncionario = '<?php echo (isset($this->post_var['idfuncionario'])) ? $this->post_var['idfuncionario'] : '' ?>';

form_values.v2idcargasemanal = '<?php echo (isset($this->post_var['v2idcargasemanal'])) ? $this->post_var['v2idcargasemanal'] : '' ?>';

form_values.penaslei = '<?php echo (isset($this->post_var['penaslei'])) ? $this->post_var['penaslei'] : '' ?>';

form_values.status1 = '<?php echo (isset($this->post_var['status1'])) ? $this->post_var['status1'] : $this->post_var['status'] ?>';

form_values.deferido = '<?php echo (isset($this->post_var['deferido'])) ? $this->post_var['deferido'] : '' ?>';

	
	<?php endif; ?>

	var sorting = ["sequencial", "datalancamento", "horalancamento", "idusuariologado", "nome", "cargo", "rf", "rg", "unidadetrabalho", "telefone", "idcargasemanal", "horariotrabalho", "segundahorainicio1", "segundahorafim1", "segundahorainicio2", "segundahorafim2", "tercahorainicio1", "tercahorafim1", "tercahorainicio2", "tercahorafim2", "quartahorainicio1", "quartahorafim1", "quartahorainicio2", "quartahorafim2", "quintahorainicio1", "quintahorafim1", "quintahorainicio2", "quintahorafim2", "sextahorainicio1", "sextahorafim1", "sextahorainicio2", "sextahorafim2", "htpcsemana1", "htpcsemanahorainicio1", "htpcsemanahorafim1", "htpcsemana2", "htpcsemanahorainicio2", "htpcsemanahorafim2", "local", "data", "v2unidadetrabalho", "v2telefone", "v2idcargasemanal", "v2horariotrabalho", "v2segundahorainicio1", "v2segundahorafim1", "v2segundahorainicio2", "v2segundahorafim2", "v2tercahorainicio1", "v2tercahorafim1", "v2tercahorainicio2", "v2tercahorafim2", "v2quartahorainicio1", "v2quartahorafim1", "v2quartahorainicio2", "v2quartahorafim2", "v2quintahorainicio1", "v2quintahorafim1", "v2quintahorainicio2", "v2quintahorafim2", "v2sextahorainicio1", "v2sextahorafim1", "v2sextahorainicio2", "v2sextahorafim2", "v2htpcsemana1", "v2htpcsemanahorainicio1", "v2htpcsemanahorafim1", "v2htpcsemana2", "v2htpcsemanahorainicio2", "v2htpcsemanahorafim2", "v2local", "v2data", "penaslei", "status", "deferido"];
	
</script>	


