
<option value="">Selecione...</option>
<?php if (sizeof($this->rows)==0) : ?>
<option value="">Nenhum funcionário foi encontrado para essa escola</option>
<?php else : ?>
<?php foreach ($this->rows as $row) : ?>
<option value="<?php echo $row['id'] ?>"><?php echo $row['rgf'].' - '.$row['nome'] ?></option>
<?php endforeach; ?>
<?php endif; ?>
