<table width="100%" cellpadding="0" cellspacing="0" border="0" nobr="true">
	<tr>
		<td align="center" width="100%">
			<font size="14">
			    <b><u>DECLARAÇÃO DE ACÚMULO OU NÃO DE CARGOS</u></b>
		    </font>
		</td>
	</tr>
	
	<tr>
		<td align="center" width="100%">			
			<br />
			<br />
			<br />
			<br />
			<br />
			<br />
			<br />
			<br />
			<br />
			<br />
		</td>
	</tr>
	
	
	<tr>
		<td align="left" width="100%"><font size="12">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Eu, <?php echo $this->post_var['nome']?>, portador (a) do RG n° <?php echo ($this->post_var['rg']) ? $this->post_var['rg'] : '-- '?> e do CPF n° <?php echo $this->post_var['cpf']?>
				declaro que <?php echo ($this->post_var['acumulo']=="Sim") ? 'possuo' : 'não possuo' ?> acúmulo de cargos em Instituição Federal, Estadual, ou Municipal ou em empresa Privada. 
				<br/>
			   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Sendo só para momento, firmo a presente.
		    </font>
		</td>
	</tr>

	<tr>
		<td align="center" width="100%">			
			<br />
			<br />
			<br />
			<br />
			<br />
			<br />
			<br />
			<br />
		</td>
	</tr>
	
	<tr>
		<td align="right" width="100%">
			<font size="12">
			    Itaquaquecetuba/SP, <?php echo date('d') ?> de <?php echo Mn_Util::getMes((int)date('m')) ?> de <?php echo date('Y') ?>
		    </font>
		</td>
	</tr>
	
	<tr>
		<td align="center" width="100%">			
			<br />
			<br />
			<br />
			<br />
			<br />
			<br />
			<br />
			<br />
			<br />
			<br />
		</td>
	</tr>
	
	<tr>
		<td align="right" width="100%">
			<font size="10">
			   _______________________________<br/>(assinar nome por extenso)&nbsp;&nbsp;&nbsp;&nbsp;
		    </font>
		</td>
	</tr>
	
	<tr>
		<td align="center" width="100%">			
			<br />
			<br />
			<br />
			<br />
			<br />
			<br />
			<br />
			<br />
		</td>
	</tr>
	
	<tr>
		<td align="left" width="100%">
			<font size="12">
			    <b><u>OBS: EM CASO AFIRMATIVO PREENCHER OS CAMPOS ABAIXO.</u></b>
		    </font>
		</td>
	</tr>
	
	<tr>
		<td align="left" width="100%">
			<font size="14">
			    &nbsp;
		    </font>
		</td>
	</tr>
	
	<tr>
		<td align="left" width="100%">
			<font size="12">
			<?php 
				$rows = explode(',',$this->post_var['diassemana']);
				$virgula = "";
				$diassemana = "";
				foreach ($rows as $i=>$row):
					if($i>0) $virgula = ", ";
					$diassemana = $diassemana .  $virgula . Rhdeclaracoesacumulos::getDiasSemana($row); 
				endforeach;
			?>
			    <?php echo $this->post_var['instituicaoempresa']?> das <?php echo date('G:i', strtotime($this->post_var['horainicio']))?> às <?php echo date('G:i', strtotime($this->post_var['horafim']))?>, <?php echo $diassemana?>.
		    </font>
		</td>
	</tr>
	
</table>
