		<!-- Content -->
		<div id="content">

		    <!-- Content wrapper -->
		    <div class="wrapper">

			    <!-- Breadcrumbs line -->
			    <div class="crumbs">
			    	<?php echo $this->render('/helpers/breadcrumb.phtml') ?>
			    </div>
			    <!-- /breadcrumbs line -->

			    <!-- Page header -->
			    <div class="page-header">
			    	<div class="page-title">
				    	<h5>Formulário do declaração</h5>
				    	<span>Verifique os campos e preencha com os dados</span>
			    	</div>
			    </div>
			    <!-- /page header -->

			    <?php if (isset($this->crudMessage)) : ?>
					<div class="alert alert-success">
	                	<button data-dismiss="alert" class="close" type="button">×</button>
	                    <strong>Operação realizada com sucesso!</strong>
		    			<span><br /><?php echo $this->crudMessage ?></span>
	                </div>			    
			    <?php endif; ?>

				<form id="form" name="form" action="" method="post" class="form-horizontal" enctype="multipart/form-data"> 
					<input type="hidden" value="<?php echo (isset($this->post_var)) ? $this->post_var["id"] : ''; ?>" name="id" id="id" />
					
					<fieldset>
						<!-- General form elements -->
						<div class="widget row-fluid">
						    <div class="navbar">
						        <div class="navbar-inner">
						            <h6>Digite as informações do formulário</h6>
						        </div>
						    </div>

						    <div class="well">
								<?php if (isset($this->erros)) : ?>
									<div class="alert alert-error margin">
				                        <button data-dismiss="alert" class="close" type="button">×</button>
				                        <strong>Há erros no formulário!</strong>
					    				<?php foreach ($this->erros as $k=>$v) : ?>
					    					<span><br />- <?php echo $v ?></span>
					    				<?php endforeach;?>			                        
				                    </div>
			                    <?php endif; ?>						    
						    

				<div class="control-group">
					<label class="control-label">Funcionário <span class="required">*</span></label>
					<div class="controls">
		                <select name="idfuncionarioescola" data-placeholder="Funcionário" class="select">
							<option value="">Selecione...</option>
							<?php foreach (Funcionariosgeraisescolas::getFuncionariosgeraisescolasHelper(array('status'=>'Ativo')) as $k=>$v) : ?>
							<option value="<?php echo $v['id'] ?>"><?php echo $v['nome'] ?></option>
							<?php endforeach;?>
						</select>
						
					</div>
				</div>


				<div class="control-group">
					<label class="control-label">Parentesco <span class="required">*</span></label>
					<div class="controls">
						<select name="parentesco" data-placeholder="Parentesco" class="select" onchange="setCamposParentescos(this)">
							<option value="">Selecione...</option>
							<option value="Sim">Sim</option><option value="Não">Não</option>
						</select>
						
					</div>
				</div>

				<div class="">
					<div class="control-group box-parentescos" style="display:none;">
						<div class="form-group">
							<label class="col-sm-1 control-label">
								&nbsp;
							</label>
							<div class="col-sm-10 itens">
								  <table class="table table-content">
									<thead>
										<tr>
											<th colspan="4" align="center" style="text-align: center;">Parentes</th>
										</tr>
										<tr>
											<th>Nome</th>
											<th width="180">Grau de Parentesco</th>
											<th width="220">Local de Trabalho</th>
											<th width="30">Ações</th>
										</tr>
									</thead>
									<tbody id="raiz">
										<?php if(isset($this->post_var['id'])) : ?>						
										<script type="text/javascript">
		
										$(document).ready(function() {
		
											<?php foreach (Rhdeclaracoesparentescospessoas::getRhdeclaracoesparentescospessoasHelper(array('iddeclaracao'=>$this->post_var['id'])) as $k=>$v) : ?>										
											var item = new Object();
											item.id = '<?php echo $v['id'] ?>';
											item.nome = '<?php echo $v['nome'] ?>';
											item.grauparentesco = '<?php echo $v['grauparentesco']; ?>';
											item.localtrabalho = '<?php echo $v['localtrabalho'] ?>';
											iteAddTr(item);
											<?php endforeach;?>
		
										});
		
										</script>	
										<?php endif;?>				
									</tbody>
									<?php if ((isset($this->visualizar)) && ($this->visualizar)) : ?>
									
									<?php else: ?>
									<tfoot>
										<tr>
											<td colspan="4" align="right" style="text-align:right !Important;"><input onclick="iteAddTr(false)" type="button" value="Adicionar" /></td>
										</tr>									
									</tfoot>
									<?php endif;?>
								</table>
							</div>
						</div>
					</div>
				</div>

				<div class="control-group">
					<label class="control-label">Status <span class="required">*</span></label>
					<div class="controls">
						<select name="status1" data-placeholder="Status" class="select">
							<option value="">Selecione...</option>
							<option value="Ativo">Ativo</option><option value="Bloqueado">Bloqueado</option>
						</select>
						
					</div>
				</div>

						    
						    
						    </div>
						    
			                <div class="form-actions align-right">
			                	<?php if ((isset($this->visualizar)) && ($this->visualizar)) : ?>
			                		<button onclick="window.history.back()" class="btn btn-danger cancelar" type="button">Voltar</button>
			                	<?php else : ?>
				                	<button class="btn btn-primary enviar" type="submit">Salvar</button>
				                	<button onclick="window.history.back()" class="btn btn-danger cancelar" type="button">Cancelar</button>
			                	<?php endif; ?>
			                </div>
						</div>
						<!-- /general form elements -->

					</fieldset> 

				</form>
				<!-- /basic inputs -->

		    </div>
		    <!-- /content wrapper -->

		</div>
		<!-- content -->
				
<script type="text/javascript" src="<?php echo $this->baseUrl('/public/scripts/admin/rhdeclaracoesparentescos_form.js') ?>"></script>
<script type="text/javascript">
	var form_values = {};
	
	<?php if (isset($this->post_var)) :  ?>
		form_values.idfuncionarioescola = '<?php echo (isset($this->post_var['idfuncionarioescola'])) ? $this->post_var['idfuncionarioescola'] : '' ?>';

form_values.parentesco = '<?php echo (isset($this->post_var['parentesco'])) ? $this->post_var['parentesco'] : '' ?>';

form_values.status1 = '<?php echo (isset($this->post_var['status1'])) ? $this->post_var['status1'] : $this->post_var['status'] ?>';


	<?php endif; ?>

	visualizar = <?php echo  ((isset($this->visualizar)) && ($this->visualizar))  ? 'true' : 'false' ?>;
</script>
