		<!-- Content -->
		<div id="content">

		    <!-- Content wrapper -->
		    <div class="wrapper">

			    <!-- Breadcrumbs line -->
			    <div class="crumbs">
			    	<?php echo $this->render('/helpers/breadcrumb.phtml') ?>
			    </div>
			    <!-- /breadcrumbs line -->

			    <!-- Page header -->
			    <div class="page-header">
			    	<div class="page-title">
				    	<h5>Formulário de Lançamento de Multas</h5>
				    	<span>Verifique os campos e preencha com os dados</span>
			    	</div>
			    </div>
			    <!-- /page header -->

			    <?php if (isset($this->crudMessage)) : ?>
					<div class="alert alert-success">
	                	<button data-dismiss="alert" class="close" type="button">×</button>
	                    <strong>Operação realizada com sucesso!</strong>
		    			<span><br /><?php echo $this->crudMessage ?></span>
	                </div>			    
			    <?php endif; ?>

				<form id="form" name="form" action="" method="post" class="form-horizontal" enctype="multipart/form-data"> 
					<input type="hidden" value="<?php echo (isset($this->post_var)) ? $this->post_var["id"] : ''; ?>" name="id" id="id" />
					
					<fieldset>
						<!-- General form elements -->
						<div class="widget row-fluid">
						    <div class="navbar">
						        <div class="navbar-inner">
						            <h6>Digite as informações do formulário</h6>
						        </div>
						    </div>

						    <div class="well">
								<?php if (isset($this->erros)) : ?>
									<div class="alert alert-error margin">
				                        <button data-dismiss="alert" class="close" type="button">×</button>
				                        <strong>Há erros no formulário!</strong>
					    				<?php foreach ($this->erros as $k=>$v) : ?>
					    					<span><br />- <?php echo $v ?></span>
					    				<?php endforeach;?>			                        
				                    </div>
			                    <?php endif; ?>						    
			     
				<div class="control-group">
					<div class="controls1 visualizar">
						<table class="table table-content" width="100%">
							<tbody>
								<tr> 
									<input  placeholder="Data de lançamento" name="databarra" value="<?php echo (isset($this->post_var['databarra'])) ? Mn_Util::formPostVarData($this->post_var['databarra']) : date('d/m/Y') ?>" type="hidden"  class="span3" />
									<input  placeholder="Hora de lançamento" name="horabarra" value="<?php echo (isset($this->post_var['horabarra'])) ? Mn_Util::formPostVarData($this->post_var['horabarra']) : date('H:m:s') ?>" type="hidden"  class="span3" />
									
									<td width="34%">Data: <?php echo date('d/m/Y') ?></td>
									<td width="34%">Hora: <?php echo date('H:m:s') ?></td> 
								</tr>
							</tbody>
						</table>
						
					</div>
				</div>
				 

				<div class="control-group">
					<label class="control-label">Sequencial / Ano <span class="required">*</span></label>
					<div class="controls">
						<input maxlength="100" placeholder="Sequencial/Ano" name="sequencial" value="<?php echo (isset($this->post_var['sequencial'])) ? $this->post_var['sequencial'] : $this->sequencial ?>" type="text" readonly class="span3" />
					</div>
				</div>

				<div class="control-group">
					<label class="control-label">Motorista <span class="required">*</span></label>
					<div class="controls">
		                <select name="idmotorista" data-placeholder="Motorista" class="select">
							<option value="">Selecione...</option>
							<?php foreach (Logisticamotoristas::getLogisticamotoristasHelper(array('status'=>'Ativo')) as $k=>$v) : ?>
							<option value="<?php echo $v['id'] ?>"><?php echo $v['nomerazao'] ?></option>
							<?php endforeach;?>
						</select>
						
					</div>
				</div>


				<div class="control-group">
					<label class="control-label">Veículo <span class="required">*</span></label>
					<div class="controls">
		                <select name="idfrota" data-placeholder="Frota" class="select" onclick="setDadosVeiculo(this, false)">
							<option value="">Selecione...</option>
							<?php foreach (Logisticafrotas::getLogisticafrotasHelper(array('status'=>'Ativo')) as $k=>$v) : ?>
							<option value="<?php echo $v['id'] ?>"><?php echo $v['placa'] ?></option>
							<?php endforeach;?>
						</select>
					</div> 
							<div id="dados-veiculo"></div> 
				</div>

				<div class="control-group">
					<label class="control-label">Motivo da infração <span class="required">*</span></label>
					<div class="controls">
		                <select name="idmotivoinfracao" data-placeholder="Frota" class="select" onclick="setDadosMultas(this, false)">
							<option value="">Selecione...</option>
							<?php foreach (Logisticatiposmultas::getLogisticatiposmultasHelper(array('status'=>'Ativo')) as $k=>$v) : ?>
							<option value="<?php echo $v['id'] ?>"><?php echo $v['tipo'] ?></option>
							<?php endforeach;?>
						</select>
					</div> 
						 <div id="dados-multa"></div>
				</div>
 
				<div class="control-group">
					<label class="control-label">Ocorrência <span class="required">*</span></label>
					<div class="controls"><input maxlength="100" placeholder="Ocorrencia" name="ocorrenciamulta" value="<?php echo (isset($this->post_var['ocorrenciamulta'])) ? $this->post_var['ocorrenciamulta'] : '' ?>" type="text"  class="span3" /></div>
				</div>

<?php /*
				<div class="control-group">
					<label class="control-label">Tipo <span class="required">*</span></label>
					<div class="controls">
		                <select name="idtipomulta" data-placeholder="Tipo" class="select">
							<option value="">Selecione...</option>
							<?php foreach (Logisticatiposmultas::getLogisticatiposmultasHelper(array('status'=>'Ativo')) as $k=>$v) : ?>
							<option value="<?php echo $v['id'] ?>"><?php echo $v['tipo'] ?></option>
							<?php endforeach;?>
						</select>
						<!-- <span class="help-block">Logisticatiposmultas,getLogisticatiposmultasHelper,tipo</span> -->
					</div>
				</div>
				
				<div class="control-group">
					<label class="control-label">Pontuação </label>
					<div class="controls"><input  placeholder="Pontuação" name="pontuacaomulta" value="<?php echo (isset($this->post_var['pontuacaomulta'])) ? $this->post_var['pontuacaomulta'] : '' ?>" type="text"  class="span3" /></div>
				</div>


				<div class="control-group">
					<label class="control-label">Motivo da Infração <span class="required">*</span></label>
					<div class="controls"><textarea class="span12" name="motivomulta" cols="5" rows="5"><?php echo (isset($this->post_var)) ? $this->post_var["motivomulta"] : ''; ?></textarea></div>
				</div>
*/ ?>

				<div class="control-group">
					<label class="control-label">Nº AIT </label>
					<div class="controls"><input maxlength="50" placeholder="Nº AIT" name="numeroait" value="<?php echo (isset($this->post_var['numeroait'])) ? $this->post_var['numeroait'] : '' ?>" type="text"  class="span3" /></div>
				</div>

				<div class="control-group">
					<label class="control-label">Município <span class="required">*</span></label>
					<div class="controls">
		                <select name="idcidade" data-placeholder="Município" class="select">
							<option value="">Selecione...</option>
							<?php foreach (Cidades::getCidadesHelper(array('status'=>'Ativo')) as $k=>$v) : ?>
							<option value="<?php echo $v['id'] ?>"><?php echo $v['nome'] ?></option>
							<?php endforeach;?>
						</select>
						
					</div>
				</div>

				<div class="control-group">
					<label class="control-label">Endereço da Multa </label>
					<div class="controls"><input maxlength="255" placeholder="Local da multa" name="localmulta" value="<?php echo (isset($this->post_var['localmulta'])) ? $this->post_var['localmulta'] : '' ?>" type="text"  class="span3" /></div>
				</div>


				<div class="control-group">
					<label class="control-label">Data da multa</label>
					<div class="controls"><input placeholder="Data da multa" name="datamulta" value="<?php echo (isset($this->post_var['datamulta'])) ? Mn_Util::formPostVarData($this->post_var['datamulta']) : '' ?>" type="text"  class="span3" /></div>
				</div>


				<div class="control-group">
					<label class="control-label">Hora da multa <span class="required">*</span></label>
					<div class="controls"><input  placeholder="Hora da multa" name="horamulta" value="<?php echo (isset($this->post_var['horamulta'])) ? $this->post_var['horamulta'] : '' ?>" type="text"  class="span3" /></div>
				</div>


				<div class="control-group">
					<label class="control-label">Orgão Correspondente </label>
					<div class="controls"><input maxlength="45" placeholder="Orgão Correspondente" name="orgaomulta" value="<?php echo (isset($this->post_var['orgaomulta'])) ? $this->post_var['orgaomulta'] : '' ?>" type="text"  class="span3" /></div>
				</div>


				<div class="control-group">
					<label class="control-label">Enquadramento </label>
					<div class="controls"><input maxlength="45" placeholder="Enquadramento" name="enquadramento" value="<?php echo (isset($this->post_var['enquadramento'])) ? $this->post_var['enquadramento'] : '' ?>" type="text"  class="span3" /></div>
				</div>


				<div class="control-group">
					<label class="control-label">Data de vencimento</label>
					<div class="controls"><input placeholder="Data de vencimento" name="datavencimentomulta" value="<?php echo (isset($this->post_var['datavencimentomulta'])) ? Mn_Util::formPostVarData($this->post_var['datavencimentomulta']) : '' ?>" type="text"  class="span3" /></div>
				</div>


				<div class="control-group">
					<label class="control-label">Valor da Multa </label>
					<div class="controls"><input  placeholder="Valor da Multa" name="valormulta" value="<?php echo (isset($this->post_var['valormulta'])) ? $this->post_var['valormulta'] : '' ?>" type="text"  class="span3" /></div>
				</div>


				<div class="control-group">
					<label class="control-label">Pago <span class="required">*</span></label>
					<div class="controls">
						<select name="pago" data-placeholder="Pago" class="select">
							<option value="">Selecione...</option>
							<option value="Sim">Sim</option><option value="Não">Não</option>
						</select>
						
					</div>
				</div>

				<div class="control-group">
					<label class="control-label">Anexar Multa </label>
					<div class="controls">
						<?php if ((isset($this->post_var['idarquivo'])) && ((int)$this->post_var['idarquivo']>0)) : ?>
							<?php echo $this->getArquivo($this->post_var['idarquivo']) ?>
						
							<?php if (!$this->visualizar) : ?>
								<div class="checkbox block">
									<label><input type="checkbox" name="excluir_idarquivo" value="excluir" /> Desejo excluir o arquivo</label>
								</div>
							<?php endif; ?>
						<?php endif; ?>
						
						<input placeholder="Arquivo" name="idarquivo" type="file"  />
					</div>
				</div>	



				<div class="control-group">
					<label class="control-label">Status <span class="required">*</span></label>
					<div class="controls">
						<select name="status1" data-placeholder="Status" class="select">
							<option value="">Selecione...</option>
							<option value="Ativo">Ativo</option><option value="Bloqueado">Bloqueado</option>
						</select>
						
					</div>
				</div>

						    
						    
						    </div>
						    
			                <div class="form-actions align-right">
			                	<?php if ((isset($this->visualizar)) && ($this->visualizar)) : ?>
			                		<button onclick="window.history.back()" class="btn btn-danger cancelar" type="button">Voltar</button>
			                	<?php else : ?>
				                	<button class="btn btn-primary enviar" type="submit">Salvar</button>
				                	<button onclick="window.history.back()" class="btn btn-danger cancelar" type="button">Cancelar</button>
			                	<?php endif; ?>
			                </div>
						</div>
						<!-- /general form elements -->

					</fieldset> 

				</form>
				<!-- /basic inputs -->

		    </div>
		    <!-- /content wrapper -->

		</div>
		<!-- content -->
				
<script type="text/javascript" src="<?php echo $this->baseUrl('/public/scripts/admin/logisticamultas_form.js') ?>"></script>
<script type="text/javascript">
	var form_values = {};
	
	<?php if (isset($this->post_var)) :  ?>
		form_values.idmotorista = '<?php echo (isset($this->post_var['idmotorista'])) ? $this->post_var['idmotorista'] : '' ?>';

form_values.idfrota = '<?php echo (isset($this->post_var['idfrota'])) ? $this->post_var['idfrota'] : '' ?>';
form_values.idmotivoinfracao = '<?php echo (isset($this->post_var['idmotivoinfracao'])) ? $this->post_var['idmotivoinfracao'] : '' ?>';

form_values.idtipomulta = '<?php echo (isset($this->post_var['idtipomulta'])) ? $this->post_var['idtipomulta'] : '' ?>';

form_values.idcidade = '<?php echo (isset($this->post_var['idcidade'])) ? $this->post_var['idcidade'] : '' ?>';

form_values.pago = '<?php echo (isset($this->post_var['pago'])) ? $this->post_var['pago'] : '' ?>';

form_values.status1 = '<?php echo (isset($this->post_var['status1'])) ? $this->post_var['status1'] : $this->post_var['status'] ?>';


	<?php endif; ?>

	visualizar = <?php echo  ((isset($this->visualizar)) && ($this->visualizar))  ? 'true' : 'false' ?>;
</script>
