		<!-- Content -->
		<div id="content">

		    <!-- Content wrapper -->
		    <div class="wrapper">

			    <!-- Breadcrumbs line -->
			    <div class="crumbs">
			    	<?php echo $this->render('/helpers/breadcrumb.phtml') ?>
			    </div>
			    <!-- /breadcrumbs line -->

			    <!-- Page header -->
			    <div class="page-header">
			    	<div class="page-title">
				    	<h5>Formulário do vaga</h5>
				    	<span>Verifique os campos e preencha com os dados</span>
			    	</div>
			    </div>
			    <!-- /page header -->

			    <?php if (isset($this->crudMessage)) : ?>
					<div class="alert alert-success">
	                	<button data-dismiss="alert" class="close" type="button">×</button>
	                    <strong>Operação realizada com sucesso!</strong>
		    			<span><br /><?php echo $this->crudMessage ?></span>
	                </div>			    
			    <?php endif; ?>

				<form id="form" name="form" action="" method="post" class="form-horizontal" enctype="multipart/form-data"> 
					<input type="hidden" value="<?php echo (isset($this->post_var)) ? $this->post_var["id"] : ''; ?>" name="id" id="id" />
					
					<fieldset>
						<!-- General form elements -->
						<div class="widget row-fluid">
						    <div class="navbar">
						        <div class="navbar-inner">
						            <h6>Digite as informações do formulário</h6>
						        </div>
						    </div>

						    <div class="well">
								<?php if (isset($this->erros)) : ?>
									<div class="alert alert-error margin">
				                        <button data-dismiss="alert" class="close" type="button">×</button>
				                        <strong>Há erros no formulário!</strong>
					    				<?php foreach ($this->erros as $k=>$v) : ?>
					    					<span><br />- <?php echo $v ?></span>
					    				<?php endforeach;?>			                        
				                    </div>
			                    <?php endif; ?>						    



				<div class="control-group">
					<label class="control-label">Escola </label>
					<div class="controls">
                                                <select name="idescola" data-placeholder="Escola" class="select">
                                                        <option value="">Selecione...</option>
                                                        <?php foreach (Escolas::getEscolasHelper(array('status'=>'Ativo')) as $k=>$v) : ?>
                                                                <option value="<?php echo $v['id'] ?>"><?php echo $v['escola'] ?></option>
                                                        <?php endforeach;?>
                                                </select>
					</div>
				</div>


				<div class="control-group">
					<label class="control-label">Tipo de Ensino </label>
					<div class="controls">
                                                <select name="idensino" data-placeholder="Série" class="select">
                                                        <option value="">Selecione...</option>
                                                        <?php foreach (Escolastiposensinosgdae::getTiposensinosgdaeHelper(array('status'=>'Ativo')) as $k=>$v) : ?>
                                                        <option value="<?php echo $v['id'] ?>"><?php echo $v['descricoes'] ?></option>
                                                        <?php endforeach;?>
                                                </select>
					</div>
				</div>

                                <div class="control-group">
					<label class="control-label">Série </label>
					<div class="controls">
                                                <?php foreach (Escolassubtiposensinosgdae::getSubtiposensinosgdaeHelper(array('status'=>'Ativo', 'idgdae'=>$this->post_var['idensino'],'serie'=>$this->post_var['serie'])) as $k=>$v) : ?>
                                                        <input type="text" value="<?php echo $v['descricao']; ?>"/>
                                                <?php endforeach;?>
					</div> 
				</div>

				<div class="control-group">
					<label class="control-label">Turma <span class="required">*</span></label>
					<div class="controls">
                                                <input type="text" value="<?php echo $this->post_var['turma']; ?>"/>
					</div>
				</div>


				<div class="control-group">
					<label class="control-label">Sala <span class="required">*</span></label>
					<div class="controls">
                                                <input type="text" value="<?php echo $this->post_var['sala']; ?>"/>
					</div>
				</div>


				<div class="control-group">
					<label class="control-label">Período <span class="required">*</span></label>
					<div class="controls">
                                                <?php foreach (Escolasperiodos::getEscolasperiodosHelper(array('status'=>'Ativo','id'=>$this->post_var['idperiodo'])) as $k=>$v) : ?>
                                                        <input type="text" value="<?php echo $v['periodo']; ?>"/>
                                                <?php endforeach;?>
					</div>
				</div>





				<div class="control-group">
					<label class="control-label">Total de vagas </label>
					<div class="controls"><input  placeholder="Total de vagas" name="totalvagas" value="<?php echo (isset($this->post_var['totalvagas'])) ? $this->post_var['totalvagas'] : '' ?>" type="text"  class="span3" /></div>
				</div>


				<div class="control-group">
					<label class="control-label">Status <span class="required">*</span></label>
					<div class="controls">
						<select name="status1" data-placeholder="Status" class="select">
							<option value="">Selecione...</option>
							<option value="Ativo">Ativo</option><option value="Bloqueado">Bloqueado</option>
						</select>
						
					</div>
				</div>

						    
						    
						    </div>
						    
			                <div class="form-actions align-right">
			                	<?php if ((isset($this->visualizar)) && ($this->visualizar)) : ?>
			                		<button onclick="window.history.back()" class="btn btn-danger cancelar" type="button">Voltar</button>
			                	<?php else : ?>
				                	<button class="btn btn-primary enviar" type="submit">Salvar</button>
				                	<button onclick="window.history.back()" class="btn btn-danger cancelar" type="button">Cancelar</button>
			                	<?php endif; ?>
			                </div>
						</div>
						<!-- /general form elements -->

					</fieldset> 

				</form>
				<!-- /basic inputs -->

		    </div>
		    <!-- /content wrapper -->

		</div>
		<!-- content -->
				
<script type="text/javascript" src="<?php echo $this->baseUrl('/public/scripts/admin/censocentralvagas_form.js') ?>"></script>
<script type="text/javascript">
	var form_values = {};
	
	<?php if (isset($this->post_var)) :  ?>
		form_values.idusuario = '<?php echo (isset($this->post_var['idusuario'])) ? $this->post_var['idusuario'] : '' ?>';

form_values.idescola = '<?php echo (isset($this->post_var['idescola'])) ? $this->post_var['idescola'] : '' ?>';

form_values.idserie = '<?php echo (isset($this->post_var['idserie'])) ? $this->post_var['idserie'] : '' ?>';

form_values.idturma = '<?php echo (isset($this->post_var['idturma'])) ? $this->post_var['idturma'] : '' ?>';

form_values.idsala = '<?php echo (isset($this->post_var['idsala'])) ? $this->post_var['idsala'] : '' ?>';

form_values.idperiodo = '<?php echo (isset($this->post_var['idperiodo'])) ? $this->post_var['idperiodo'] : '' ?>';

form_values.idensino = '<?php echo (isset($this->post_var['idensino'])) ? $this->post_var['idensino'] : '' ?>';

form_values.status1 = '<?php echo (isset($this->post_var['status1'])) ? $this->post_var['status1'] : $this->post_var['status'] ?>';


	<?php endif; ?>

	visualizar = <?php echo  ((isset($this->visualizar)) && ($this->visualizar))  ? 'true' : 'false' ?>;
</script>
