		<!-- Content -->
		<div id="content">

		    <!-- Content wrapper -->
		    <div class="wrapper">

			    <!-- Breadcrumbs line -->
			    <div class="crumbs">
			    	<?php echo $this->render('/helpers/breadcrumb.phtml') ?>
			    </div>
			    <!-- /breadcrumbs line -->

			    <!-- Page header -->
			    <div class="page-header">
			    	<div class="page-title">
				    	<h5>Central de vagas no sistema</h5>
				    	<span>Visualize os central de vagas do sistema</span>
			    	</div>			    	
			    </div>
			    <!-- /page header -->
			    
			    <?php if (isset($this->crudMessage)) : ?>
				<div class="alert alert-success">
                	<button data-dismiss="alert" class="close" type="button">×</button>
                    <strong>Operação realizada com sucesso!</strong>
	    			<span><br /><?php echo $this->crudMessage ?></span>
                </div>			    
			    <?php endif; ?>

	                        	                        
                <!-- Table with footer -->
                <div class="widget">
                	<form action="#" class="form-horizontal" method="post">
                		<input type="hidden" value="<?php echo (isset($this->post_var['sorting'])) ? $this->post_var['sorting'] : '' ?>" name="sorting" />
	                	<div class="navbar">
	                		<div class="navbar-inner">
	                			<h6>Visualizando registros</h6>
	                			<?php if (Mn_Util::isAccess($this->getController(), 'adicionar')) : ?>
	                			<a style="float:right;" href="<?php echo $this->baseUrl() ?>/<?php echo 'admin' ?>/<?php echo $this->getController() ?>/adicionar" class="btn btn-primary"><span class="icon-plus"></span>&nbsp;Adicionar vaga</a>
	                			<?php endif; ?>
	                		</div>
	                	</div>
	                    <div class="table-overflow">
	                        <table class="table table-content">
	                            <thead>
	                                <tr>
                                            <th class="s-idescola sorting">Escola </th>
                                            <th class="s-idensino sorting">Tipo de ensino</th>
                                            <th class="s-turno sorting">Período</th>
                                            <th class="s-totalvagas sorting">Total de vagas</th>
	                                    <th width="96">Ações</th>
                                        </tr>
                                        <tr>

                        <th>
                            <div>
                                <select name="idescola" placeholder="Todos" class="select" onchange="(setSeries(this,0));">
                                        <?php 
                                            $_data = Usuarios::getEscolaAtiva(Usuarios::getUsuario('id'));
                                    
                                            if($_data):
                                        ?>
                                        <option value="<?php echo $_data['id'] ?>"><?php echo $_data['escola'] ?></option>

                                        <?php else: ?>
                                        <option value="">Todos</option>
                                        <?php
                                            foreach (Escolas::getEscolasHelper(array('status'=>'Ativo', 'idsecretaria'=>Usuarios::getSecretariaAtiva( Usuarios::getUsuario('id'), 'id' ))) as $k=>$v) : ?>
                                            <option value="<?php echo $v['id'] ?>"><?php echo $v['escola'] ?></option>
                                        <?php endforeach;?>
                                    <?php endif; ?>
                                </select>
                            </div>
                        </th>
                        <th>
                            <div>
                                <select name="idensino" data-placeholder="Tipo de Ensino" class="select">
                                        <option value="">Todos</option>
                                        <?php foreach (Escolastiposensinosgdae::getTiposensinosgdaeHelper(array('status'=>'Ativo')) as $k=>$v) :?>
                                                <option value="<?php echo $v['id'];?>"><?php echo $v['id'], ' - ',$v['descricoes'];?></option>
                                        <?php endforeach;?>
                                </select>                                                  
                            </div>
                        </th>

                                            <th>
                                                    <div>
                                                        <select name="turno" placeholder="Todos" class="select">
                                                                <option value="">Todos</option>
                                                                <option value="Manhã">Manhã</option>
                                                                <option value="Tarde">Tarde</option>
                                                                <option value="Integral">Integral</option>
                                                                <option value="Noite">Noite</option>
                                                        </select>
                                                    </div>
                                            </th>
                                            <th><input name="totalvagas" value="<?php echo (isset($this->post_var['totalvagas'])) ? $this->post_var['totalvagas'] : '' ?>" type="text" placeholder="Total de vagas" class="span3" style="width: 60px"></th>
                 

	                                    <th><button class="btn btn-mini btn-primary" type="submit">Pesquisar</button></th>
	                                </tr> 
	                                                                
	                            </thead>
	                            <tbody>

                                        
	                            	<?php if (sizeof($this->rows)==0) : ?>
	                                <tr>
	                                    <td colspan="7">Nenhum registro foi encontrado!</td>
	                                </tr>
	                            	
	                            	<?php else : ?>
	                            	<?php foreach ($this->rows as $row) : ?>
                                        

	                                <tr>

                                                <td>
                                                        <?php
                                                                $___rows = Escolas::getEscolasHelper(array('id'=>$row['idescola']));
                                                                $___row = (sizeof($___rows)>0) ? 	$___rows[0] : false;	 

                                                                echo ($___row) ? $this->formatTextoBranco($___row['escola']) : '--';		
                                                        ?>
                                                </td>

                                                <td>
                                                        <?php
                                                                $___rows = Escolastiposensinosgdae::getTiposensinosgdaeHelper(array('id'=>$row['idensino']));
                                                                $___row = (sizeof($___rows)>0) ? 	$___rows[0] : false;	
                                                                
                                                                echo ($___row) ? $this->formatTextoBranco($___row['id']) . ' - ' . $this->formatTextoBranco($___row['descricoes'])  : '--';
                                                        ?>
                                                        <br />
                                                        <?php
                                                                $___rows1 = Escolassubtiposensinosgdae::getSubtiposensinosgdaeHelper(array('idgdae'=>$row['idensino'],'serie'=>$row['serie']));
                                                                $___row1 = (sizeof($___rows1)>0) ? 	$___rows1[0] : false;	

                                                                echo "[" . $row['idensino'] . "][" . $row['serie'] . "]";
                                                                echo ($___row1) ? $this->formatTextoBranco($___row1['descricao']) . ', Turma: ' . $row['turma'] : '--';	
                                                        ?>    
                                                        <br />
                                                        <?php
                                                                $___rows2 = Escolasperiodos::getEscolasperiodosHelper(array('id'=>$row['idperiodo']));
                                                                $___row2 = (sizeof($___rows2)>0) ? 	$___rows2[0] : false;	
                                                                
                                                                echo ($___row2) ? $this->formatTextoBranco($___row2['periodo']) : '--';	
                                                        ?>

                                                </td>

                                                <td>
                                                        <?php
                                                                echo $row['turno'];		
                                                        ?>
                                                </td>
                                                
                                                <td>    
                                                        <?php echo $row['totalvagas'] ?>
                                                </td>

                                                <td>
                                                    <ul class="table-controls">
                                                        <li><a title="" class="btn tip" href="<?php echo $this->baseUrl() ?>/<?php echo 'admin' ?>/<?php echo $this->getController() ?>/visualizar/id/<?php echo $row['id'] ?>" data-original-title="Visualizar"><i class="icon-eye-open"></i></a> </li>
                                                       
                                                    </ul>
                                                </td>
	                                </tr>
	                            	<?php endforeach;?>	
	                            	<?php endif; ?>
	
	                            </tbody>
	                        </table>
	                    </div>
	                    <?php echo $this->render('/helpers/paginator.phtml') ?>
                    
                    </form>

                </div>
                <!-- /table with footer -->
	                        


		    </div>
		    <!-- /content wrapper -->

		</div>
		<!-- content -->
		
		
<script type="text/javascript" src="<?php echo $this->baseUrl('/public/scripts/admin/censocentralvagas_index.js') ?>"></script>
<script type="text/javascript">

	var form_values = {};
	<?php if (isset($this->post_var)) :  ?>
                form_values.idusuario = '<?php echo (isset($this->post_var['idusuario'])) ? $this->post_var['idusuario'] : '' ?>';

                form_values.idescola = '<?php echo (isset($this->post_var['idescola'])) ? $this->post_var['idescola'] : '' ?>';

                form_values.idserie = '<?php echo (isset($this->post_var['idserie'])) ? $this->post_var['idserie'] : '' ?>';

                form_values.idturma = '<?php echo (isset($this->post_var['idturma'])) ? $this->post_var['idturma'] : '' ?>';

                form_values.idsala = '<?php echo (isset($this->post_var['idsala'])) ? $this->post_var['idsala'] : '' ?>';

                form_values.idperiodo = '<?php echo (isset($this->post_var['idperiodo'])) ? $this->post_var['idperiodo'] : '' ?>';

                form_values.idensino = '<?php echo (isset($this->post_var['idensino'])) ? $this->post_var['idensino'] : '' ?>';

                form_values.status1 = '<?php echo (isset($this->post_var['status1'])) ? $this->post_var['status1'] : $this->post_var['status'] ?>';
	<?php endif; ?>

	var sorting = ["idusuario", "idescola", "idensino", "turno", "totalvagas"];


</script>