		<!-- Content -->
		<div id="content">

		    <!-- Content wrapper -->
		    <div class="wrapper">

			    <!-- Breadcrumbs line -->
			    <div class="crumbs">
			    	<?php echo $this->render('/helpers/breadcrumb.phtml') ?>
			    </div>
			    <!-- /breadcrumbs line -->

			    <!-- Page header -->
			    <div class="page-header">
			    	<div class="page-title">
				    	<h5>Formulário do controle</h5>
				    	<span>Verifique os campos e preencha com os dados</span>
			    	</div>
			    </div>
			    <!-- /page header -->

			    <?php if (isset($this->crudMessage)) : ?>
					<div class="alert alert-success">
	                	<button data-dismiss="alert" class="close" type="button">×</button>
	                    <strong>Operação realizada com sucesso!</strong>
		    			<span><br /><?php echo $this->crudMessage ?></span>
	                </div>			    
			    <?php endif; ?>

				<form id="form" name="form" action="" method="post" class="form-horizontal" enctype="multipart/form-data"> 
					<input type="hidden" value="<?php echo (isset($this->post_var)) ? $this->post_var["id"] : ''; ?>" name="id" id="id" />
					
					<fieldset>
						<!-- General form elements -->
						<div class="widget row-fluid">
						    <div class="navbar">
						        <div class="navbar-inner">
						            <h6>Digite as informações do formulário</h6>
						        </div>
						    </div>

						    <div class="well">
								<?php if (isset($this->erros)) : ?>
									<div class="alert alert-error margin">
				                        <button data-dismiss="alert" class="close" type="button">×</button>
				                        <strong>Há erros no formulário!</strong>
					    				<?php foreach ($this->erros as $k=>$v) : ?>
					    					<span><br />- <?php echo $v ?></span>
					    				<?php endforeach;?>			                        
				                    </div>
			                    <?php endif; ?>						    
						    



				<div class="control-group">
					<label class="control-label">E-mail </label>
					<div class="controls"><input maxlength="500" placeholder="E-mail" name="email" value="<?php echo (isset($this->post_var['email'])) ? $this->post_var['email'] : '' ?>" type="text"  class="span3" /></div>
				</div>


				<div class="control-group">
					<label class="control-label">Enviar e-mail para os pais </label>
					<div class="controls">
						<select name="emailspais" data-placeholder="Enviar e-mail para os pais" class="select">
							<option value="">Selecione...</option>
							<option value="Sim">Sim</option><option value="Não">Não</option>
						</select>
						
					</div>
				</div>


				<div class="control-group">
					<label class="control-label">Enviar e-mail para departamento </label>
					<div class="controls">
						<select name="emailsdepartamentos" data-placeholder="Enviar e-mail para departamento" class="select" onchange="setDepartamentos(this)">
							<option value="">Selecione...</option>
							<option value="Sim">Sim</option><option value="Não">Não</option>
						</select>
						
					</div>
				</div>

				<?php /*?>
				<div class="departamento" style="display:none">
					<div class="control-group">
						<label class="control-label">Departamento </label>
						<div class="controls">
			                <select name="iddepartamentoescola" data-placeholder="Departamento" class="select">
								<option value="">Selecione...</option>
								<?php foreach (Departamentosescolas::getDepartamentosescolasHelper(array('status'=>'Ativo', 'idescola'=>Escolasusuarios::getEscolaAtiva(Escolasusuarios::getUsuario('id'), 'id'))) as $k=>$v) : ?>
								<option value="<?php echo $v['id'] ?>"><?php echo $v['departamento'] ?></option>
								<?php endforeach;?>
							</select>
							
						</div>
					</div>
				</div><?php */?>

				<div class="departamento" style="display:none">
					<div class="control-group">
						<label class="control-label">Destino</label>
						<div class="controls">
							<select name="tipo" data-placeholder="tipo" class="select" onchange="setTipo(this)">
								<option value="">Selecione...</option>
								<option value="Secretaria">Secretaria</option>
								<option value="Escola">Escola</option>
							</select>
							
						</div>
					</div>

					<div class="departamentos_secretaria" style="display:none">
						<div class="control-group">
							<label class="control-label">Departamentos da Secretaria</label>
							<div class="controls">
								<?php foreach (Departamentossecretarias::getDepartamentossecretariasHelper(array('status'=>'Ativo', 'idsecretaria'=>Escolasusuarios::getEscolaAtiva(Escolasusuarios::getUsuario('id'), 'idsecretaria'))) as $k=>$v) : ?>
								<input type="checkbox" value="<?php echo $v['id'] ?>" name="idsdepartamentossecretarias[]" /> <?php echo $v['departamento'] ?><br />
								<?php endforeach; ?>
								
							</div>
						</div>
					</div>

					<div class="departamentos_escola" style="display:none">
						<div class="control-group">
							<label class="control-label">Departamentos das Escolas</label>
							<div class="controls">
								<?php foreach (Departamentosescolas::getDepartamentosescolasHelper(array('status'=>'Ativo', 'idescola'=>Escolasusuarios::getEscolaAtiva(Escolasusuarios::getUsuario('id'), 'id'))) as $k=>$v) : ?>
								<input type="checkbox" value="<?php echo $v['id'] ?>" name="idsdepartamentosescolas[]" /> <?php echo $v['departamento'] ?><br />
								<?php endforeach; ?>
							</div>
						</div>
					</div>
				</div>

				<div class="control-group">
					<label class="control-label">Status <span class="required">*</span></label>
					<div class="controls">
						<select name="status1" data-placeholder="Status" class="select">
							<option value="">Selecione...</option>
							<option value="Ativo">Ativo</option><option value="Bloqueado">Bloqueado</option>
						</select>
						
					</div>
				</div>

						    
						    
						    </div>
						    
			                <div class="form-actions align-right">
			                	<?php if ((isset($this->visualizar)) && ($this->visualizar)) : ?>
			                		<button onclick="window.history.back()" class="btn btn-danger cancelar" type="button">Voltar</button>
			                	<?php else : ?>
				                	<button class="btn btn-primary enviar" type="submit">Salvar</button>
				                	<button onclick="window.history.back()" class="btn btn-danger cancelar" type="button">Cancelar</button>
			                	<?php endif; ?>
			                </div>
						</div>
						<!-- /general form elements -->

					</fieldset> 

				</form>
				<!-- /basic inputs -->

		    </div>
		    <!-- /content wrapper -->

		</div>
		<!-- content -->
				
<script type="text/javascript" src="<?php echo $this->baseUrl('/public/scripts/default/escolasusuariosemails_form.js') ?>"></script>
<script type="text/javascript">
	var form_values = {};
	
	<?php if (isset($this->post_var)) :  ?>
		form_values.idsecretaria = '<?php echo (isset($this->post_var['idsecretaria'])) ? $this->post_var['idsecretaria'] : '' ?>';

form_values.idescola = '<?php echo (isset($this->post_var['idescola'])) ? $this->post_var['idescola'] : '' ?>';

form_values.idescolausuario = '<?php echo (isset($this->post_var['idescolausuario'])) ? $this->post_var['idescolausuario'] : '' ?>';

form_values.emailspais = '<?php echo (isset($this->post_var['emailspais'])) ? $this->post_var['emailspais'] : '' ?>';

form_values.emailsdepartamentos = '<?php echo (isset($this->post_var['emailsdepartamentos'])) ? $this->post_var['emailsdepartamentos'] : '' ?>';

form_values.iddepartamentoescola = '<?php echo (isset($this->post_var['iddepartamentoescola'])) ? $this->post_var['iddepartamentoescola'] : '' ?>';

form_values.status1 = '<?php echo (isset($this->post_var['status1'])) ? $this->post_var['status1'] : $this->post_var['status'] ?>';


	<?php endif; ?>

	<?php if (isset($this->post_var['tipo'])) :  ?>
		form_values.tipo = '<?php echo (isset($this->post_var['tipo'])) ? $this->post_var['tipo'] : "" ?>';
	<?php endif; ?>	

	<?php if (isset($this->post_var['idsdepartamentossecretarias'])) :  ?>
	form_values.idsdepartamentossecretarias = [<?php echo (isset($this->post_var['idsdepartamentossecretarias'])) ? $this->post_var['idsdepartamentossecretarias'] : '' ?>];
	<?php endif; ?>	

	<?php if (isset($this->post_var['idsdepartamentosescolas'])) :  ?>
	form_values.idsdepartamentosescolas = [<?php echo (isset($this->post_var['idsdepartamentosescolas'])) ? $this->post_var['idsdepartamentosescolas'] : '' ?>];
	<?php endif; ?>	

	visualizar = <?php echo  ((isset($this->visualizar)) && ($this->visualizar))  ? 'true' : 'false' ?>;
</script>
