﻿﻿		<!-- Content -->
<div id="content">

    <!-- Content wrapper -->
    <div class="wrapper">

        <!-- Breadcrumbs line -->
        <div class="crumbs">
            <?php echo $this->render('/helpers/breadcrumb.phtml') ?>
        </div>
        <!-- /breadcrumbs line -->

        <!-- Page header -->
        <div class="page-header">
            <div class="page-title">
                <h5>Formulário do patrimônio</h5>
                <span>Verifique os campos e preencha com os dados</span>
            </div>
        </div>
        <!-- /page header -->
        <?php if (isset($this->crudMessage)) : ?>
            <div class="alert alert-success">
                <button data-dismiss="alert" class="close" type="button">×</button>
                <strong>Operação realizada com sucesso!</strong>
                <span><br /><?php echo $this->crudMessage ?></span>
            </div>
        <?php endif; ?>

        <form id="form" name="form" action="" method="post" class="form-horizontal" enctype="multipart/form-data">
            <input type="hidden" value="<?php echo (isset($this->post_var)) ? $this->post_var["id"] : ''; ?>" name="id" id="id" />

            <fieldset>
                <!-- General form elements -->
                <div class="widget row-fluid">
                    <div class="navbar">
                        <div class="navbar-inner">
                            <h6>Digite as informações do formulário</h6>

                        </div>
                    </div>

                    <div class="well">
                        <?php if (isset($this->erros)) : ?>
                            <div class="alert alert-error margin">
                                <button data-dismiss="alert" class="close" type="button">×</button>
                                <strong>Há erros no formulário!</strong>
                                <?php foreach ($this->erros as $k => $v) : ?>
                                    <span><br />- <?php echo $v ?></span>
                                <?php endforeach; ?>
                            </div>
                        <?php endif; ?>

                        <div class="control-group">
                            <div class="controls1 visualizar">
                                <table class="table table-content" width="100%">
                                    <tbody>
                                        <tr>
                                    <input type="hidden" value="<?php echo (isset($this->post_var['sequencial'])) ? $this->post_var['sequencial'] : $this->sequencial ?>" name="sequencial" id="sequencial" />
                                    <input placeholder="Data de lançamento" name="datalancamento" value="<?php echo (isset($this->post_var['datalancamento'])) ? Mn_Util::formPostVarData($this->post_var['datalancamento']) : date('d/m/Y') ?>" type="hidden"  class="span3" />
                                    <input  placeholder="Hora do lançamento" name="horalancamento" value="<?php echo (isset($this->post_var['horalancamento'])) ? $this->post_var['horalancamento'] : date('G:i:s') ?>" type="hidden"  class="span3" />

                                    <td width="33%">Sequencial/Ano: <?php echo (isset($this->post_var['sequencial'])) ? $this->post_var['sequencial'] : $this->sequencial ?></td>
                                    <td width="34%">Data de lançamento: <?php echo (isset($this->post_var['datalancamento'])) ? Mn_Util::formPostVarData($this->post_var['datalancamento']) : date('d/m/Y') ?></td>
                                    <td width="33%">Hora de abertura: <?php echo (isset($this->post_var['horalancamento'])) ? $this->post_var['horalancamento'] : date('G:i') ?></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                        <div class="control-group">
                            <label class="control-label">Usuário </label>

                            <input type="hidden" value="Secretaria" name="origem" id="origem" />
                            <input type="hidden" value="<?php echo (isset($this->post_var['idusuariologado'])) ? $this->post_var['idusuariologado'] : Usuarios::getUsuario('id') ?>" name="idusuariologado" id="idusuariologado" />
                            <?php if (!$this->visualizar AND ! $this->editar): ?>
                                <div class="controls">
                                    <?php
                                    $_user = Usuarios::getUsuarioByIdHelper(Usuarios::getUsuario('id'));
                                    echo $_user['nomerazao'] . ' ' . $_user['sobrenomefantasia'];
                                    ?>
                                </div>
                            <?php else: ?>
                                <div class="controls visualizar">
                                    <input type="hidden" value="<?php echo (isset($this->post_var['idusuariologado'])) ? $this->post_var['idusuariologado'] : Usuarios::getUsuario('id') ?>" name="idusuariologado" id="idusuariologado" />
                                    <?php
                                    $_user = Usuarios::getUsuarioByIdHelper($this->post_var['idusuariologado']);

                                    echo $_user['nomerazao'] . ' ' . $_user['sobrenomefantasia'];
                                    ?>
                                </div>
                            <?php endif; ?>
                        </div>

                        <?php
                        $dados = Usuarios::getUsuarios(array('id' => Usuarios::getUsuario('id')));
                        $_data = $dados[0];
                        $perfil = $_data['idperfil'];
                        if ($perfil == 29):
                            $escola = Usuarios::getEscolaAtiva(Usuarios::getUsuario('id'));
                            ?>
                            <input type="hidden" name="idescola" value="<?php echo $escola['id'] ?>">
                        <?php endif; ?>

                        <div class="control-group">
                            <label class="control-label">Local </label>
                            <div class="controls">
                                <?php
                                if (!$this->visualizar AND ! $this->editar):

                                    $__rowPerfil = UsuariosPerfis::getPerfilByIdHelper($_data['idperfil']);
                                    if ($perfil == 29):
                                        ?>
                                        <?php echo $escola['escola']; ?>

                                        <?php
                                    else: echo '<b>' . $__rowPerfil['perfil'] . '</b>';
                                    endif;
                                    ?>

                                    <?php
                                else:

                                    if ($this->post_var['iddepartamento'] == 29):
                                        ?>
                                        <?php echo Escolas::getEscolaNomeByIdHelper($this->post_var['idescola']); ?>
                                    <?php else: ?>
                                        <?php echo UsuariosPerfis::getPerfilNomeByIdHelper($this->post_var['iddepartamento']); ?>
                                    <?php endif; ?>
                                <?php endif; ?>
                                <input type="hidden" name="iddepartamento" value="<?php echo $perfil ?>">
                            </div>
                        </div>

                        <div class="control-group">
                            <label class="control-label">Patrimônio <span class="required">*</span></label>
                            <div class="controls">

                                <select name="idpatrimonio" data-placeholder="Patrimônio" class="select" onchange="setDadosPatrimonio(this)">
                                    <option value="">Selecione...</option>

                                    <?php if ($perfil == 29 AND ! $this->visualizar): ?>
                                        <?php foreach (Patrimonios::getPatrimoniosHelper(array('status' => 'Ativo', 'idperfil' => $perfil, 'codescola' => $escola['id'])) as $k => $v) : ?>
                                            <option value="<?php echo $v['id'] ?>"><?php echo $v['numeropatrimonio'] . ' - ' . $v['patrimonio'] ?></option>
                                        <?php endforeach; ?>

                                    <?php else: ?>

                                        <?php
                                        if (UsuariosPerfis::isAllowedCrudPatrimonio($perfil) || $this->visualizar):
                                            ?>
                                            <?php foreach (Patrimonios::getPatrimoniosHelper(array()) as $k => $v) : ?>
                                                <option value="<?php echo $v['id'] ?>"><?php echo $v['numeropatrimonio'] . ' - ' . $v['patrimonio'] ?></option>
                                            <?php endforeach; ?>

                                        <?php elseif (!UsuariosPerfis::isAllowedCrudPatrimonio($perfil) AND ! $this->visualizar): ?>

                                            <?php
                                            $queries = array();
                                            if ($perfil) {
                                                $queries['idperfil'] = $perfil;
                                                $queries['status'] = 'Ativo';
                                            }

                                            foreach (Patrimonios::getPatrimoniosHelper($queries) as $k => $v) :
                                                ?>
                                                <option value="<?php echo $v['id'] ?>"><?php echo $v['numeropatrimonio'] . ' - ' . $v['patrimonio'] ?></option>
                                            <?php endforeach; ?>

                                        <?php else: ?>
                                            <?php
                                            $queries = array();
                                            if ($perfil) {
                                                $queries['idperfil'] = $perfil;
                                                $queries['status'] = 'Ativo';
                                            }
                                            foreach (Patrimonios::getPatrimoniosHelper($queries) as $k => $v) :
                                                ?>
                                                <option value="<?php echo $v['id'] ?>"><?php echo $v['numeropatrimonio'] . ' - ' . $v['patrimonio'] ?></option>
                                            <?php endforeach; ?>
                                        <?php endif; ?>
                                    <?php endif; ?>
                                </select>

                            </div>
                        </div>

                        <div class="control-group content-patrimonios" style="display:none">
                            <label class="control-label">Informações  do Patrimônio</label>
                            <div class="controls box-patrimonios">

                            </div>
                        </div>

                        <div class="control-group">
                            <label class="control-label">Motivo da baixa <span class="required">*</span> </label>
                            <div class="controls">
                                <select name="motivobaixa" data-placeholder="Motivo Baixa" class="select" onchange="setMotivoBaixa(this)" required>
                                    <option value="">Selecione...</option>
                                    <option value="1">O bem a ser baixado se apresenta irrecuperável</option>
                                    <option value="2">O conserto do bem se mostra antieconômico</option>
                                    <option value="3">Roubo ou Furto</option>
                                </select>

                            </div>
                        </div>

                        <div class="campos-roubofurto" style="display:none;">
                            <div class="control-group">
                                <label class="control-label">Anexar Boletim <span class="required">*</span></label>
                                <div class="controls">
                                    <?php if ((isset($this->post_var['idarquivo'])) && ((int) $this->post_var['idarquivo'] > 0)) : ?>

                                        <?php echo $this->getArquivo($this->post_var['idarquivo']) ?>
                                    <?php endif; ?>
                                    <?php if ($this->adicionar AND ! UsuariosPerfis::isAllowedCrudPatrimonio($perfil)): ?>
                                        <input placeholder="Anexar Boletim" name="idarquivo" type="file"/>
                                    <?php endif; ?>
                                </div>
                            </div>

                            <div class="control-group">
                                <label class="control-label">Nº do boletim <span class="required">*</span></label>
                                <div class="controls"><input maxlength="500" placeholder="Nº do boletim" name="numeroboletim" value="<?php echo (isset($this->post_var['numeroboletim'])) ? $this->post_var['numeroboletim'] : '' ?>" type="text"  class="span3" /></div>
                            </div>
                        </div>

                        <div class="control-group">
                            <label class="control-label">Observações </label>
                            <div class="controls"><textarea class="span12" name="observacoes" cols="5" rows="5"><?php echo (isset($this->post_var)) ? $this->post_var["observacoes"] : ''; ?></textarea></div>
                        </div>

                        <!--por padrão baixa do bem será SIM-->
                        <input type="hidden" name="baixabem" value="Sim">

                        <div class="control-group">
                            <?php
                            if ($this->visualizar AND UsuariosPerfis::isAllowedCrudPatrimonio($perfil)):
                                ?>
                                <label class="control-label">Status<span class="required"> * </span></label>
                                <div class="controls">
                                    <select name="status1" data-placeholder="Status" class="select" required>
                                        <option value="">Selecione</option>
                                        <option value="Aguardando Anexo">Aguardando Anexo</option>
                                        <option value="Enviado">Enviado</option>
                                        <option value="Aceito">Aceito</option>
                                        <option value="Não Aceito">Não Aceito</option>
                                    </select>
                                </div>

                            <?php elseif ($this->editar AND UsuariosPerfis::isAllowedCrudPatrimonio($perfil) AND $this->post_var['iddocumento']): ?>
                                <label class="control-label">Status<span class="required"> * </span></label>
                                <div class="controls">
                                    <select name="status1" data-placeholder="Status" class="show select" required>
                                        <option value="">Selecione</option>
                                        <option value="Aceito">Aceito</option>
                                        <option value="Não Aceito">Não Aceito</option>
                                    </select>
                                </div>
                            <?php else: ?>
                                <input type="hidden" name="status1" value="Aguardando Anexo">
                                <label class="control-label">Status</span></label>
                                <div class="controls">
                                    <label name="statusanexo">Aguardando Anexo</label>
                                </div>
                            <?php endif; ?>
                        </div>


                        <?php if ($this->visualizar || UsuariosPerfis::isAllowedCrudPatrimonio($perfil)): ?>
                            <div class="campo-nao-aceito" style="display:none">
                                <div class="control-group">
                                    <label class="control-label">Qual o motivo da não aceitação do pedido?</label>
                                    <div class="controls"><textarea class="span12 show" name="motivonaoaceito" cols="5" rows="5" required><?php echo (isset($this->post_var["motivonaoaceito"])) ? $this->post_var["motivonaoaceito"] : ''; ?></textarea></div>
                                </div>
                            </div>
                        <?php endif; ?>

                        <?php
                        if (!$this->adicionar AND ! $this->visualizar):
                            ?>
                            <div class="control-group">
                                <?php if (UsuariosPerfis::isAllowedCrudPatrimonio($perfil)): ?>
                                    <?php if ((isset($this->post_var['iddocumento'])) && ((int) $this->post_var['iddocumento'] > 0)) : ?>
                                        <label class="control-label">Ver Documento</label>
                                        <a href="" target="_blank"><?php echo $this->getArquivo($this->post_var['iddocumento']) ?>
                                        <?php endif; ?>
                                    <?php else: ?>
                                        <label class="control-label">Anexar Documento <span class="required">*</span></label>
                                        <div class="controls">
                                            <input placeholder="Anexar Boletim" name="iddocumento" type="file">
                                        </div>
                                    <?php endif; ?>

                            </div>
                        <?php elseif ($this->visualizar AND isset($this->post_var['iddocumento'])): ?>
                            <div class="control-group">
                                <label class="control-label">Ver Documento</label>
                                <div class="controls">
                                    <?php
                                    if ((isset($this->post_var['iddocumento'])) && ((int) $this->post_var['iddocumento'] > 0)) :
                                        echo $this->getArquivo($this->post_var['iddocumento']);
                                    endif;
                                    ?>
                                </div>
                            </div>

                        <?php endif; ?>
                    </div>

                    <div class="form-actions align-right">
                        <?php if ((isset($this->visualizar)) && ($this->visualizar)) : ?>
                            <button onclick="window.history.back()" class="btn btn-danger cancelar" type="button">Voltar</button>
                        <?php else : ?>
                            <button class="btn btn-primary enviar" type="submit">Salvar</button>
                            <button onclick="window.history.back()" class="btn btn-danger cancelar" type="button">Cancelar</button>
                        <?php endif; ?>
                    </div>
                </div>
                <!-- /general form elements -->
            </fieldset>
        </form>
        <!-- /basic inputs -->
    </div>
    <!-- /content wrapper -->
</div>
<!-- content -->

<script type="text/javascript" src="<?php echo $this->baseUrl('/public/scripts/admin/patrimoniobaixabens_form.js') ?>"></script>
<script type="text/javascript">
                            var form_values = {};

<?php if (isset($this->post_var)) : ?>
                                form_values.idusuariologado = '<?php echo (isset($this->post_var['idusuariologado'])) ? $this->post_var['idusuariologado'] : '' ?>';

                                form_values.origem = '<?php echo (isset($this->post_var['origem'])) ? $this->post_var['origem'] : '' ?>';

                                form_values.idescola = '<?php echo (isset($this->post_var['idescola'])) ? $this->post_var['idescola'] : '' ?>';

                                form_values.iddepartamento = '<?php echo (isset($this->post_var['iddepartamento'])) ? $this->post_var['iddepartamento'] : '' ?>';

                                form_values.idpatrimonio = '<?php echo (isset($this->post_var['idpatrimonio'])) ? $this->post_var['idpatrimonio'] : '' ?>';

                                form_values.motivobaixa = '<?php echo (isset($this->post_var['motivobaixa'])) ? $this->post_var['motivobaixa'] : '' ?>';

                                form_values.baixabem = '<?php echo (isset($this->post_var['baixabem'])) ? $this->post_var['baixabem'] : '' ?>';

                                form_values.status1 = '<?php echo (isset($this->post_var['status1'])) ? $this->post_var['status1'] : $this->post_var['status'] ?>';

                                form_values.idarquivo = '<?php echo(isset($this->post_var['idarquivo'])) ? $this->post_var['idarquivo'] : '' ?>';

                                form_values.iddocumento = '<?php echo(isset($this->post_var['iddocumento'])) ? $this->post_var['iddocumento'] : '' ?>';

                                form_values.motivonaoaceito = '<?php echo(isset($this->post_var['motivonaoaceito'])) ? $this->post_var['motivonaoaceito'] : '' ?>';

    <?php $idperfillogado = Usuarios::getUsuario('idperfil'); ?>
                                form_values.idperfillogado = '<?php echo (isset($idperfillogado)) ? $idperfillogado : '' ?>';
<?php endif; ?>

                            visualizar = <?php echo ((isset($this->visualizar)) && ($this->visualizar)) ? 'true' : 'false' ?>;
                            editar = <?php echo ((isset($this->editar)) && ($this->editar)) ? 'true' : 'false' ?>;
</script>
