		<!-- Content -->
		<div id="content">

		    <!-- Content wrapper -->
		    <div class="wrapper">

			    <!-- Breadcrumbs line -->
			    <div class="crumbs">
			    	<?php echo $this->render('/helpers/breadcrumb.phtml') ?>
			    </div>
			    <!-- /breadcrumbs line -->

			    <!-- Page header -->
			    <div class="page-header">
			    	<div class="page-title">
				    	<h5>Patrimônios baixa de bens no sistema</h5>
				    	<span>Visualize os patrimônios baixa de bem do sistema</span>
			    	</div>
			    	
			    </div>
			    <!-- /page header -->
			    
			    <?php if (isset($this->crudMessage)) : ?>
				<div class="alert alert-success">
                	<button data-dismiss="alert" class="close" type="button">×</button>
                    <strong>Operação realizada com sucesso!</strong>
	    			<span><br /><?php echo $this->crudMessage ?></span>
                </div>			    
			    <?php endif; ?>
			    <?php
			    	$idOn = Usuarios::getUsuario('id');
					$dados = Usuarios::getUsuarios(array('id'=>$idOn));
					$_data = $dados[0];
					$idperfil = $_data['idperfil'];

					if($idperfil == 29):
						$escola = Usuarios::getEscolaAtiva(Usuarios::getUsuario('id'));
						if($escola):							
							$idescola = $escola['id'];
						endif;
					endif;
			    ?>
			    <?php if(UsuariosPerfis::isAllowedCrudPatrimonio($idperfil)):?>
			    	<input type="hidden" name="iddepartamento" value="<?php echo $idperfil; ?>">
			    <?php endif; ?>
                <!-- Table with footer -->
                <div class="widget">
                	<form action="#" class="form-horizontal" method="post">
                		<input type="hidden" value="<?php echo (isset($this->post_var['sorting'])) ? $this->post_var['sorting'] : '' ?>" name="sorting" />
	                	<div class="navbar">
	                		<div class="navbar-inner">
	                			<h6>Visualizando registros</h6>
	                			<?php if (Mn_Util::isAccess($this->getController(), 'adicionar')) : ?>
	                			<a style="float:right;" href="<?php echo $this->baseUrl() ?>/<?php echo 'admin' ?>/<?php echo $this->getController() ?>/adicionar" class="btn btn-primary"><span class="icon-plus"></span>&nbsp;Baixar patrimônio</a>
	                			<?php endif; ?>
	                		</div>
	                	</div>
	                    <div class="table-overflow">
	                        <table class="table table-content">
	                            <thead>
	                                <tr>
	                                    <th width="20">#</th>
	                                    <th class="s-sequencial sorting">Sequencial/Ano</th>
	                                    <th class="s-datalancamento sorting">Data de lançamento</th>
	                                    <th class="s-idpatrimonio sorting">Patrimônio</th>
	                                    <th class="s-status sorting">Status</th>
	                                    <th width="96">Ações</th>
	                                </tr>
	                                <tr>
                    					<th></th>
										<th><input name="sequencial" value="<?php echo (isset($this->post_var['sequencial'])) ? $this->post_var['sequencial'] : '' ?>" type="text" placeholder="Sequencial/Ano" class="span3"></th>

										<th>
											<input name="datalancamento_i" value="<?php echo (isset($this->post_var['datalancamento_i'])) ? Mn_Util::formPostVarData($this->post_var['datalancamento_i']) : '' ?>" type="text" placeholder="Data inicial" class="span3" style="width:80px">
											<input name="datalancamento_f" value="<?php echo (isset($this->post_var['datalancamento_f'])) ? Mn_Util::formPostVarData($this->post_var['datalancamento_f']) : '' ?>" type="text" placeholder="Data final" class="span3" style="width:80px">
										</th>

										<th>
											<div>
												<select name="idpatrimonio" placeholder="Todos" class="select">
													<option value="">Todos</option>
													<?php if(UsuariosPerfis::isAllowedCrudPatrimonio($idperfil)):?>
														<?php foreach (Patrimonios::getPatrimoniosHelper(array('status'=>'Ativo')) as $k=>$v) : ?>
																<option value="<?php echo $v['id'] ?>"><?php echo $v['numeropatrimonio'] ?> - <?php echo $v['patrimonio'] ?></option>
														<?php endforeach;?>
													<?php else: ?>
														<?php
														$queries = array();
														if($idperfil) $queries['idperfil'] = $idperfil;
														if($idescola) $queries['codescola'] = $idescola;
														
														foreach (Patrimonios::getPatrimoniosHelper($queries) as $k=>$v) : ?>
															<option value="<?php echo $v['id'] ?>"><?php echo $v['numeropatrimonio'] ?> - <?php echo $v['patrimonio'] ?></option>
														<?php endforeach; ?>
													<?php endif; ?>
												</select>
											</div>											
										</th>

										<th>
											<div>
												<select name="status1" placeholder="Todos" class="select">
													<option value="">Todos</option>
													<option value="Aguardando Anexo">Aguardando Anexo</option>
													<option value="Aguardando Aceite">Aguardando Aceite</option>
													<option value="Aceito">Aceito</option>
													<option value="Não Aceito">Não Aceito</option>
												</select>
											</div>
										</th>                   

	                                    <th><button class="btn btn-mini btn-primary" type="submit">Pesquisar</button></th>
	                                </tr> 
	                                                                
	                            </thead>
	                            <tbody>
	                            	<?php if (sizeof($this->rows)==0) : ?>
	                                <tr>
	                                    <td colspan="6">Nenhum registro foi encontrado!</td>
	                                </tr>
	                            	
	                            	<?php else : ?>

	                            	<?php foreach ($this->rows as $row) : ?>
	                            		<?php 
	                            			$over = ($row['status'] == 'Aceito' || $row['status'] == 'Não Aceito') ? true : false;

	                            		?>

	                                <tr>
	                                	<td><?php echo $row['id'] ?></td>

										<td><?php echo $row['sequencial'] ?></td>
										<td><?php echo date('d/m/Y', strtotime($row['datalancamento']))?></td>

										<td>
											<?php
												$___rows = Patrimonios::getPatrimoniosHelper(array('id'=>$row['idpatrimonio']));
												$___row = (sizeof($___rows)>0) ? 	$___rows[0] : false;	
												
												echo ($___row) ? $this->formatTextoBranco($___row['numeropatrimonio']) : '--';		
											?>
										</td>

										<td>
											<?php echo $row['status'] ?>
										</td>

	                                    <td>
            <ul class="table-controls">
            	<?php if(!isset($row['iddocumento']) AND !UsuariosPerfis::isAllowedCrudPatrimonio($idperfil)): ?>
            		<li><a title="" class="btn tip" href="<?php echo $this->baseUrl() ?>/<?php echo 'admin' ?>/<?php echo $this->getController() ?>/gerardocumentopatrimonio/id/<?php echo $row['id']?>" data-original-title="Gerar Documento" target="_blank"><i class="icon-print"></i></a>
            		</li>
            	<?php endif;?>

                	<li><a title="" class="btn tip" href="<?php echo $this->baseUrl() ?>/<?php echo 'admin' ?>/<?php echo $this->getController() ?>/visualizar/id/<?php echo $row['id'] ?>" data-original-title="Visualizar"><i class="icon-eye-open"></i></a>
                	</li>

                <?php if(!isset($row['iddocumento']) || (UsuariosPerfis::isAllowedCrudPatrimonio($idperfil) AND !$over)): ?>
                    <?php if (Mn_Util::isAccess($this->getController(), 'editar')) : ?>
                    <li><a title="" class="btn tip" href="<?php echo $this->baseUrl() ?>/<?php echo 'admin' ?>/<?php echo $this->getController() ?>/editar/id/<?php echo $row['id'] ?>" data-original-title="Editar"><i class="icon-pencil"></i></a></li>
                    <?php endif;?>
                <?php endif;?>

                <?php if(!isset($row['iddocumento'])): ?>   
                    <?php if (Mn_Util::isAccess($this->getController(), 'excluir')) : ?>
                    <li><a title="" class="btn tip" href="javascript:confirmDelete('<?php echo $row['id']; ?>','registro');" data-original-title="Excluir"><i class="icon-remove"></i></a> </li>
                	<?php endif;?>

                <?php endif; ?>
            </ul>
	                                    </td>
	                                </tr>
	                            	<?php endforeach;?>
	                            	<?php endif; ?>
	                            </tbody>
	                        </table>
	                    </div>
	                    <?php echo $this->render('/helpers/paginator.phtml') ?>
                    
                    </form>

                </div>
                <!-- /table with footer -->
	                        


		    </div>
		    <!-- /content wrapper -->

		</div>
		<!-- content -->
		
		
<script type="text/javascript" src="<?php echo $this->baseUrl('/public/scripts/admin/patrimoniobaixabens_index.js') ?>"></script>
<script type="text/javascript">

	var form_values = {};
	<?php if (isset($this->post_var)) :  ?>
form_values.idusuariologado = '<?php echo (isset($this->post_var['idusuariologado'])) ? $this->post_var['idusuariologado'] : '' ?>';

form_values.origem = '<?php echo (isset($this->post_var['origem'])) ? $this->post_var['origem'] : '' ?>';

form_values.idescola = '<?php echo (isset($this->post_var['idescola'])) ? $this->post_var['idescola'] : '' ?>';

form_values.iddepartamento = '<?php echo (isset($this->post_var['iddepartamento'])) ? $this->post_var['iddepartamento'] : '' ?>';

form_values.idpatrimonio = '<?php echo (isset($this->post_var['idpatrimonio'])) ? $this->post_var['idpatrimonio'] : '' ?>';

form_values.motivobaixa = '<?php echo (isset($this->post_var['motivobaixa'])) ? $this->post_var['motivobaixa'] : '' ?>';

form_values.baixabem = '<?php echo (isset($this->post_var['baixabem'])) ? $this->post_var['baixabem'] : '' ?>';

form_values.status1 = '<?php echo (isset($this->post_var['status1'])) ? $this->post_var['status1'] : $this->post_var['status'] ?>';

	
	<?php endif; ?>

	var sorting = ["sequencial", "datalancamento", "horalancamento", "idusuariologado", "origem", "idescola", "iddepartamento", "idpatrimonio", "motivobaixa", "numeroboletim", "observacoes", "baixabem", "status"];
	
</script>	


