<!DOCTYPE html>
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
<title>Sistema de Atendimento e Gestão de Gabinete</title>
<link href="<?php echo $this->baseUrl() ?>/public/admin/css/main.css" rel="stylesheet" type="text/css" />
<?php /*?>
<link href="<?php echo $this->baseUrl() ?>/public/default/css/main.css" rel="stylesheet" type="text/css" />
<?php */?>

<!--[if IE 8]><link href="<?php echo $this->baseUrl() ?>/public/default/css/ie8.css" rel="stylesheet" type="text/css" /><![endif]-->
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600,700' rel='stylesheet' type='text/css'>

<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min.js"></script>
<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=AIzaSyDY0kkJiTPVd2U7aTOAwhc9ySH6oHxOIYM&amp;sensor=false"></script>

<script type="text/javascript" src="<?php echo $this->baseUrl() ?>/public/default/js/plugins/ui/jquery.easytabs.min.js"></script>
<script type="text/javascript" src="<?php echo $this->baseUrl() ?>/public/default/js/plugins/ui/jquery.collapsible.min.js"></script>
<script type="text/javascript" src="<?php echo $this->baseUrl() ?>/public/default/js/plugins/ui/jquery.mousewheel.js"></script>
<script type="text/javascript" src="<?php echo $this->baseUrl() ?>/public/default/js/plugins/ui/prettify.js"></script>
<script type="text/javascript" src="<?php echo $this->baseUrl() ?>/public/default/js/plugins/ui/jquery.bootbox.min.js"></script>
<script type="text/javascript" src="<?php echo $this->baseUrl() ?>/public/default/js/plugins/ui/jquery.colorpicker.js"></script>
<script type="text/javascript" src="<?php echo $this->baseUrl() ?>/public/default/js/plugins/ui/jquery.timepicker.min.js"></script>
<script type="text/javascript" src="<?php echo $this->baseUrl() ?>/public/default/js/plugins/ui/jquery.jgrowl.js"></script>
<script type="text/javascript" src="<?php echo $this->baseUrl() ?>/public/default/js/plugins/ui/jquery.fancybox.js"></script>
<script type="text/javascript" src="<?php echo $this->baseUrl() ?>/public/default/js/plugins/ui/jquery.fullcalendar.min.js"></script>
<script type="text/javascript" src="<?php echo $this->baseUrl() ?>/public/default/js/plugins/ui/jquery.elfinder.js"></script>

<script type="text/javascript" src="<?php echo $this->baseUrl() ?>/public/default/js/plugins/uploader/plupload.js"></script>
<script type="text/javascript" src="<?php echo $this->baseUrl() ?>/public/default/js/plugins/uploader/plupload.html4.js"></script>
<script type="text/javascript" src="<?php echo $this->baseUrl() ?>/public/default/js/plugins/uploader/plupload.html5.js"></script>
<script type="text/javascript" src="<?php echo $this->baseUrl() ?>/public/default/js/plugins/uploader/jquery.plupload.queue.js"></script>

<script type="text/javascript" src="<?php echo $this->baseUrl() ?>/public/default/js/plugins/forms/jquery.uniform.min.js"></script>
<script type="text/javascript" src="<?php echo $this->baseUrl() ?>/public/default/js/plugins/forms/jquery.autosize.js"></script>
<script type="text/javascript" src="<?php echo $this->baseUrl() ?>/public/default/js/plugins/forms/jquery.inputlimiter.min.js"></script>
<script type="text/javascript" src="<?php echo $this->baseUrl() ?>/public/default/js/plugins/forms/jquery.tagsinput.min.js"></script>
<script type="text/javascript" src="<?php echo $this->baseUrl() ?>/public/default/js/plugins/forms/jquery.inputmask.js"></script>
<script type="text/javascript" src="<?php echo $this->baseUrl() ?>/public/default/js/plugins/forms/jquery.select2.min.js"></script>
<script type="text/javascript" src="<?php echo $this->baseUrl() ?>/public/default/js/plugins/forms/jquery.listbox.js"></script>
<script type="text/javascript" src="<?php echo $this->baseUrl() ?>/public/default/js/plugins/forms/jquery.validation.js"></script>
<script type="text/javascript" src="<?php echo $this->baseUrl() ?>/public/default/js/plugins/forms/jquery.validationEngine-en.js"></script>
<script src="<?php echo $this->baseUrl() ?>/public/scripts/jquery-validation-1.13.1/dist/jquery.validate.min.js"></script>
<script src="<?php echo $this->baseUrl() ?>/public/scripts/jquery-validation-1.13.1/dist/localization/messages_pt_BR.min.js"></script>
<script type="text/javascript" src="<?php echo $this->baseUrl() ?>/public/default/js/plugins/forms/jquery.form.wizard.js"></script>
<script type="text/javascript" src="<?php echo $this->baseUrl() ?>/public/default/js/plugins/forms/jquery.form.js"></script>

<script type="text/javascript" src="<?php echo $this->baseUrl() ?>/public/default/js/plugins/tables/jquery.dataTables.min.js"></script>

<script type="text/javascript" src="<?php echo $this->baseUrl() ?>/public/default/js/files/bootstrap.min.js"></script>

<link href="<?php echo $this->baseUrl() ?>/public/scripts/jquery.alerts-1.1/jquery.alerts.css" rel="stylesheet">
<script src="<?php echo $this->baseUrl() ?>/public/scripts/jquery.alerts-1.1/jquery.alerts.js"></script>
<script type="text/javascript" src="<?php echo $this->baseUrl() ?>/public/scripts/jquery.blockUI.js"></script>
<script type="text/javascript" src="<?php echo $this->baseUrl() ?>/public/scripts/jquery.maskedinput.min.js"></script>
<script type="text/javascript" src="<?php echo $this->baseUrl() ?>/public/scripts/jquery.price_format.2.0.min.js"></script>




<script type="text/javascript" src="<?php echo $this->baseUrl() ?>/public/default/js/plugins/forms/jquery.uniform.min.js"></script>
<script type="text/javascript" src="<?php echo $this->baseUrl() ?>/public/default/js/plugins/forms/jquery.autosize.js"></script>
<script type="text/javascript" src="<?php echo $this->baseUrl() ?>/public/default/js/plugins/forms/jquery.inputlimiter.min.js"></script>
<script type="text/javascript" src="<?php echo $this->baseUrl() ?>/public/default/js/plugins/forms/jquery.tagsinput.min.js"></script>
<script type="text/javascript" src="<?php echo $this->baseUrl() ?>/public/default/js/plugins/forms/jquery.inputmask.js"></script>
<script type="text/javascript" src="<?php echo $this->baseUrl() ?>/public/default/js/plugins/forms/jquery.select2.min.js"></script>
<script type="text/javascript" src="<?php echo $this->baseUrl() ?>/public/default/js/plugins/forms/jquery.listbox.js"></script>
<script type="text/javascript" src="<?php echo $this->baseUrl() ?>/public/default/js/plugins/forms/jquery.validation.js"></script>
<script type="text/javascript" src="<?php echo $this->baseUrl() ?>/public/default/js/plugins/forms/jquery.validationEngine-en.js"></script>
<script type="text/javascript" src="<?php echo $this->baseUrl() ?>/public/default/js/plugins/forms/jquery.form.wizard.js"></script>
<script type="text/javascript" src="<?php echo $this->baseUrl() ?>/public/default/js/plugins/forms/jquery.form.js"></script>

<script type="text/javascript" src="<?php echo $this->baseUrl() ?>/public/default/js/files/functions.js"></script>
<script type="text/javascript" src="<?php echo $this->baseUrl() ?>/public/scripts/funcoes.js"></script>
<script type="text/javascript" src="<?php echo $this->baseUrl() ?>/public/scripts/cpf_cnpj.js"></script>

<script type="text/javascript" src="<?php echo $this->baseUrl() ?>/public/scripts/flot-0.8.3/flot/excanvas.min.js"></script>
<script type="text/javascript" src="<?php echo $this->baseUrl() ?>/public/scripts/flot-0.8.3/flot/jquery.flot.js"></script>
<script type="text/javascript" src="<?php echo $this->baseUrl() ?>/public/scripts/flot-0.8.3/flot/jquery.flot.resize.js"></script>
<script type="text/javascript" src="<?php echo $this->baseUrl() ?>/public/scripts/flot-0.8.3/flot/jquery.flot.pie.min.js"></script>

<script src="<?php echo $this->baseUrl() ?>/public/scripts/default/layout.js"></script>



<script type="text/javascript">
	$(document).ready(function() {
		$('li.<?php echo $this->getController() ?> a').trigger('click');
		$('li.<?php echo $this->getController() ?> li.<?php echo $this->getController() ?> a').addClass('menu_ativo');
		$('li.<?php echo $this->getController() ?> li.<?php echo $this->getAction() ?> a').addClass('menu_ativo');
		
	});

	var module = '<?php echo $this->getModule() ?>';
	var controller = '<?php echo $this->getController() ?>';
	var action = '<?php echo $this->getAction() ?>';
	var baseUrl = '<?php echo $this->baseUrl() ?>/';

	
</script> 

</head>

<body>
	<!-- Fixed top -->
	<div id="top">
		<div class="fixed">
			<a href="<?php echo $this->baseUrl() ?>/alunos" title="" class="logo-text">Prefeituta Municipal de Santa Isabel - Painel Administrativo</a>
			<ul class="top-menu">
				<li><a class="fullview"></a></li>
				<li><a class="showmenu"></a></li>
				<li class="dropdown">
					
					<a class="user-menu" data-toggle="dropdown"><span>Bem vindo, <?php echo Escolasalunos::getUsuario('nomerazao') ?> <?php echo Escolasalunos::getUsuario('sobrenomefantasia') ?> - <b>(<?php echo Escolasalunos::getEscolaAtiva(Escolasalunos::getUsuario('id'), 'escola') ?>)</b>! <b class="caret"></b></span></a>
					
					<ul class="dropdown-menu">
						<?php if((int)Escolasalunos::getUsuario('id') > 0) : ?>
						<li><a href="<?php echo $this->baseUrl() ?>/alunos/usuario"><i class="glyphicon glyphicon-user"></i> Meu perfil</a></li>
						<?php endif;?>
						
						<?php /*foreach (Escolas::getEscolasByUsuario( Escolasalunos::getUsuario('id')) as $k=>$v) : ?>
						<li><a onclick="changeEscola('<?php echo $v['id'] ?>')" href="javascript:;"><i class="fa fa-share"></i> <?php echo $v['escola'] ?></a></li>
						<?php endforeach;*/?>
						
						<li><a href="<?php echo $this->baseUrl() ?>/alunos/auth/logout"><i class="glyphicon glyphicon-log-out"></i> Sair</a></li>
					</ul>
					
				</li>
			</ul>
		</div>
	</div>
	
	<!-- /fixed top -->


	<!-- Content container -->
	<div id="container">

		<?php echo $this->render('/helpers/menu.phtml'); ?>

		<?php echo $this->layout()->content; ?>

	</div>
	<!-- /content container -->


	<!-- Footer -->
	<div id="footer">
		<div class="copyrights">Desenvolvido por &copy;FJMX. - <?php echo date('Y')?></div>
	</div>
	<!-- /footer -->

</body>
</html>













<?php /*?>
<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="shortcut icon" href="<?php echo $this->baseUrl() ?>/public/admin/<?php echo $this->baseUrl() ?>/public/admin/images/favicon.png" type="image/png">

  <title>Prefeituta Municipal de Itaquaquecetuba - Painel Administrativo</title>

  <link href="<?php echo $this->baseUrl() ?>/public/admin/css/style.default.css" rel="stylesheet">
  <link href="<?php echo $this->baseUrl() ?>/public/admin/css/jquery.datatables.css" rel="stylesheet">
  <link href="<?php echo $this->baseUrl() ?>/public/scripts/jquery.alerts/jquery.alerts.css" rel="stylesheet">
  <link href="<?php echo $this->baseUrl() ?>/public/admin/css/fullcalendar.css" rel="stylesheet">
  	<link href="<?php echo $this->baseUrl() ?>/public/admin/css/fullcalendar.css" rel="stylesheet">
	<link href="<?php echo $this->baseUrl() ?>/public/scripts/jquery.fancybox/jquery.fancybox.css" rel="stylesheet">
  <?php if(($this->getController()=="patrimoniosescolas") || ($this->getController()=="ferias")) : ?>
<link href="<?php echo $this->baseUrl() ?>/public/scripts/jquery.fancybox/jquery.fancybox.css" rel="stylesheet">	
  <?php endif;?>
   <link href="<?php echo $this->baseUrl() ?>/public/admin/css/modal.css" rel="stylesheet">
  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
  <script src="<?php echo $this->baseUrl() ?>/public/admin/js/html5shiv.js"></script>
  <script src="<?php echo $this->baseUrl() ?>/public/admin/js/respond.min.js"></script>
  <![endif]-->
  
	<script src="<?php echo $this->baseUrl() ?>/public/admin/js/jquery-1.10.2.min.js"></script>
	<script src="<?php echo $this->baseUrl() ?>/public/admin/js/jquery-migrate-1.2.1.min.js"></script>
	<script src="<?php echo $this->baseUrl() ?>/public/admin/js/jquery-ui-1.10.3.min.js"></script>
	<script src="<?php echo $this->baseUrl() ?>/public/admin/js/bootstrap.min.js"></script>
	<script src="<?php echo $this->baseUrl() ?>/public/admin/js/modernizr.min.js"></script>
	<script src="<?php echo $this->baseUrl() ?>/public/admin/js/jquery.sparkline.min.js"></script>
	<script src="<?php echo $this->baseUrl() ?>/public/admin/js/toggles.min.js"></script>
	<script src="<?php echo $this->baseUrl() ?>/public/admin/js/retina.min.js"></script>
	<script src="<?php echo $this->baseUrl() ?>/public/admin/js/jquery.cookies.js"></script>
	
	<?php if(($this->getController()=="patrimoniosescolas") || ($this->getController()=="ferias")) : ?>
	<script src="<?php echo $this->baseUrl() ?>/public/scripts/jquery.fancybox/jquery.fancybox.js"></script>
	<script src="<?php echo $this->baseUrl() ?>/public/scripts/jquery.fancybox/jquery.easing.js"></script>
	<script src="<?php echo $this->baseUrl() ?>/public/scripts/jquery.fancybox/jquery.mousewheel.js"></script>
	<script src="<?php echo $this->baseUrl() ?>/public/admin/js/fullcalendar.min.js"></script>
	<script src="<?php echo $this->baseUrl() ?>/public/admin/js/jquery.ui.touch-punch.min.js"></script>
	<?php endif;?>

	<!-- 
	<script src="<?php echo $this->baseUrl() ?>/public/admin/js/flot/flot.min.js"></script>
	<script src="<?php echo $this->baseUrl() ?>/public/admin/js/flot/flot.resize.min.js"></script>
	 -->
	<script src="<?php echo $this->baseUrl() ?>/public/admin/js/morris.min.js"></script>
	<script src="<?php echo $this->baseUrl() ?>/public/admin/js/raphael-2.1.0.min.js"></script>
	
	<script src="<?php echo $this->baseUrl() ?>/public/admin/js/jquery.datatables.min.js"></script>
	<script src="<?php echo $this->baseUrl() ?>/public/admin/js/chosen.jquery.min.js"></script>
	
	<script src="<?php echo $this->baseUrl() ?>/public/scripts/jquery-validation/dist/jquery.validate.min.js"></script>
	<script src="<?php echo $this->baseUrl() ?>/public/scripts/jquery-validation/dist/localization/messages_pt_BR.min.js"></script>
	
	<script src="<?php echo $this->baseUrl() ?>/public/scripts/jquery.alerts/jquery.alerts.js"></script>	
	<script src="<?php echo $this->baseUrl() ?>/public/scripts/jquery.maskedinput.min.js"></script>
	<script src="<?php echo $this->baseUrl() ?>/public/scripts/jquery.numeric.min.js"></script>
	<script src="<?php echo $this->baseUrl() ?>/public/scripts/jquery.price_format.2.0.min.js"></script>
	
	<script src="<?php echo $this->baseUrl('/public/scripts/jquery.fileUpload') ?>/js/vendor/jquery.ui.widget.js"></script>
	<script src="<?php echo $this->baseUrl('/public/scripts/jquery.fileUpload') ?>/js/jquery.iframe-transport.js"></script>
	<script src="<?php echo $this->baseUrl('/public/scripts/jquery.fileUpload') ?>/js/jquery.fileupload.js"></script>
	
	<script src="<?php echo $this->baseUrl('/public/scripts/jquery.fileUpload') ?>/js/vendor/jquery.ui.widget.js"></script>
	<script src="<?php echo $this->baseUrl('/public/scripts/jquery.fileUpload') ?>/js/jquery.iframe-transport.js"></script>
	<script src="<?php echo $this->baseUrl('/public/scripts/jquery.fileUpload') ?>/js/jquery.fileupload.js"></script>
	
	<script src="<?php echo $this->baseUrl() ?>/public/admin/js/custom.js"></script>
	
	<script src="<?php echo $this->baseUrl() ?>/public/scripts/default/layout.js"></script>
	<script src="<?php echo $this->baseUrl() ?>/public/admin/js/dashboard.js"></script>
	<script src="<?php echo $this->baseUrl() ?>/public/scripts/funcoes.js"></script>
	<script type="text/javascript">
		$(document).ready(function() {
			$('a.<?php echo $this->getController() ?>').trigger('click');
			$('a.<?php echo $this->getController() ?>').closest('li').addClass('active');
			$('li.<?php echo $this->getController() ?>').addClass('active');
			$('li.<?php echo $this->getAction() ?>').addClass('active');
		});

		var controller = '<?php echo $this->getController() ?>';
		var action = '<?php echo $this->getAction() ?>';
		var baseUrl = '<?php echo $this->baseUrl() ?>';

		
	</script>    
  
</head>

<body>
    
<!-- Preloader -->
<div id="preloader">
    <div id="status"><i class="fa fa-spinner fa-spin"></i></div>
</div>

<section>
	<div class="leftpanel">
		<?php if(false):?>
		<div class="logopanel" style="padding:0;margin:0">
			<img width="240" src="<?php echo $this->baseUrl() ?>/public/admin/images/novas/logo.jpg">
		</div>
		<?php endif;?>
		<?php echo $this->render('/helpers/menu.phtml') ?>	
	</div>

	<div class="mainpanel">	
		<div class="headerbar">
			<a class="menutoggle"><i class="fa fa-bars"></i></a>
			<?php if(Escolasalunos::getUsuario()) : ?>
			<div class="header-right">			
				<ul class="headermenu">
					<li>
						<div class="btn-group">
							<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
								<img src="<?php echo $this->baseUrl() ?>/public/admin/images/photos/usuario.jpg" alt="" />
								<?php echo Escolasalunos::getUsuario('nomerazao') ?> <?php echo Escolasalunos::getUsuario('sobrenomefantasia') ?> - <b>(<?php echo Escolasalunos::getEscolaAtiva(Escolasalunos::getUsuario('id'), 'escola') ?>)</b>
								<span class="caret"></span>
							</button>
							
							
							<ul class="dropdown-menu dropdown-menu-usermenu pull-right">
								<?php if((int)Escolasalunos::getUsuario('id') > 0) : ?>
								<li><a href="<?php echo $this->baseUrl() ?>/alunos/usuario"><i class="glyphicon glyphicon-user"></i> Meu perfil</a></li>
								<?php endif;?>
								
								<?php foreach (Escolas::getEscolasByUsuario( Escolasalunos::getUsuario('id')) as $k=>$v) : ?>
								<li><a onclick="changeEscola('<?php echo $v['id'] ?>')" href="javascript:;"><i class="fa fa-share"></i> <?php echo $v['escola'] ?></a></li>
								<?php endforeach;?>
								
								<li><a href="<?php echo $this->baseUrl() ?>/alunos/auth/logout"><i class="glyphicon glyphicon-log-out"></i> Sair</a></li>
							</ul>
							
						</div>
					</li>			
				</ul>
			</div>
			<?php endif;?>
		</div>
		
		<div class="pageheader">
			<h2><i class="fa fa-home"></i> Dashboard </h2>
			
			<?php echo $this->render('/helpers/breadcrumb.phtml') ?>		
		</div>
		
		<?php echo $this->layout()->content; ?>	
	</div>
</section>

</body>
</html>
<?php */?>