<style type="text/css">

    .window{
        display:none;
        width:400px;
        height:400px;
        position:absolute;
        left:0;
        top:0;
        background:#FFF;
        z-index:9900;
        padding:10px;
        border-radius:10px;
    }
    
    .ConteinerCalendario{
        width:500px;
        height:400px;
        background:#FFF;
        padding-top:50px;
        padding-bottom:100px;
        padding-left:10px;
        padding-right: 10px; 
    }

     #external-events {
        float: left;
        width: 92%;
        padding: 0 10px;
        border: 1px solid #ccc;
        background: #eee;
        text-align: left;
    }

    #wrap {
        width: 1100px;
        margin: 0 auto;
    }
        
    #external-events h4 {
        font-size: 16px;
        margin-top: 0;
        padding-top: 1em;
    }
        
    #external-events .fc-event {
        margin: 10px 0;
        cursor: pointer;
    }
        
    #external-events p {
        margin: 1.5em 0;
        font-size: 11px;
        color: #666;
    }
        
    #external-events p input {
        margin: 0;
        vertical-align: middle;
    }


    .event-list{
        box-sizing: border-box;
        appearance: none;
        background-color: transparent;
        border: 2px solid $red;
        border-radius: 0.6em;
        color: $red;
        cursor: pointer;
        display: flex;
        align-self: center;
        font-weight: 400;
        line-height: 1;
        margin: 20px;
        padding: 1.2em 2.8em;
        text-decoration: none;
        text-align: center;
        text-transform: uppercase;
        font-weight: 700;
    }

    .modaltitle{
        text-align: center;
        color: #999999
    }

</style> 

<!-- Content -->
		<div id="content">

		    <!-- Content wrapper -->
		    <div class="wrapper">

			    <!-- Breadcrumbs line -->
			    <div class="crumbs">
			    	<?php echo $this->render('/helpers/breadcrumb.phtml') ?>
			    </div>
			    <!-- /breadcrumbs line -->

			    <!-- Page header -->
			    <div class="page-header">
			    	<div class="page-title">
				    	<h5>Formulário do Cardápio </h5>
				    	<span>Verifique os campos e preencha com os dados</span>
			    	</div>
			    </div>
			    <!-- /page header -->

			    <?php if (isset($this->crudMessage)) : ?>
					<div class="alert alert-success">
	                	<button data-dismiss="alert" class="close" type="button">×</button>
	                    <strong>Operação realizada com sucesso!</strong>
		    			<span><br /><?php echo $this->crudMessage ?></span>
	                </div>			    
			    <?php endif; ?>

				<form id="form" name="form" action="" method="post" class="form-horizontal" enctype="multipart/form-data"> 
					<input type="hidden" value="<?php echo (isset($this->post_var)) ? $this->post_var["id"] : ''; ?>" id="id" name="id" />
                        <input type="hidden" value="<?php echo (isset($this->post_var)) ? $this->post_var["idsrefeicoes"] : ''; ?>" id="idsrefeicoes" name="idsrefeicoes"/>
                        <input type="hidden" value="" id='dataevento' name="dataevento">
					<fieldset>
						<!-- General form elements -->
						<div class="widget row-fluid">
						    <div class="navbar">
						        <div class="navbar-inner">
						            <h6>Digite as informações do formulário </h6>
						        </div>
                            </div>
                            <div class="well"> Legendas
                                <table class='table'>
                                    <tr>
                                        <td style='background: #ffcc00; '></td>
                                        <td> Creche e Maternal Café da Manhã</td>
                                        <td style='background: #00ace6;'></td>
                                        <td> Creche e Maternal Almoço</td>
                                        <td style='background: #8484e1;'></td>
                                        <td> Creche e Maternal Lanche</td>
                                        <td style='background: #00b33c;'></td>
                                        <td> Creche e Maternal Janta</td>
                                    </tr>

                                    <tr>
                                        <td style='background: #6600ff;'></td>
                                        <td> EMEI EMEF Café da Manhã</td>
                                        <td style='background: #009999; '></td>
                                        <td> EMEI EMEF Almoço</td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    
                                </table>
                            </div>

						    <div class="well">
								<?php if (isset($this->erros)) : ?>
									<div class="alert alert-error margin">
				                        <button data-dismiss="alert" class="close" type="button">×</button>
				                        <strong>Há erros no formulário!</strong>
					    				<?php foreach ($this->erros as $k=>$v) : ?>
					    					<span><br />- <?php echo $v ?></span>
					    				<?php endforeach;?>			                        
				                    </div>
			                    <?php endif; ?>	
                                            <!--        ===================    Congelando formulário de cardápio  ================= -->
                                            <!-- <div class="control-group">
                                                <label class="control-label">Cardápio <span class="required">*</span></label>
                                                <div class="controls"><input name="refeicao" type="text" data-placeholder="Refeição" value="<?php echo (isset($this->post_var)) ? $this->post_var["refeicao"] : ''; ?>" class="span3" /></div>
                                            </div> -->
                                              
                                            <!-- <div class="control-group">
                                                <label class="control-label">Tipo de ensino <span class="required">*</span></label>
                                                <div class="controls">
                                                    <select class="select" onchange="setTipoensino(this)" id="tipoensino" name="tipoensino">
                                                        <option value="">Selecione...</option>
                                                        <option value="CM">CRECHE E MATERNAL</option>
                                                        <option value="EE">EMEI / EMEF</option>
                                                    </select>                                                    
                                                    <?php if (!$this->visualizar) : ?>
                                                        <?php // echo "<script> window.onload = function() { setTipoensino($('select[name=tipoensino,value=0]')); }; </script>" ?>
                                                    <?php endif ?>   
                                                </div>    
                                            </div> -->
                                                        
                                            <div class="control-group" style="display:none;" id="tiporefeicao">
                                                <label class="control-label">Tipo de Refeição <span class="required">*</span></label>
                                                <div class="controls" id="CMx" style="display:none;">
                                                    <select class="select" id="tiporefeicao" name="tiporefeicao">
                                                        <option value="">Selecione...</option>
                                                        <option value="CMCAFE">CAFÉ MANHÃ</option>
                                                        <option value="CMALMOCO">ALMOÇO</option>
                                                        <option value="CMLANCHE">LANCHE</option>
                                                        <option value="CMJANTAR">JANTAR</option>
                                                    </select>
                                                </div>    
                                                <div class="controls" id="EEx" style="display:none;">
                                                    <select class="select" id="tiporefeicao" name="tiporefeicao">
                                                        <option value="">Selecione...</option>
                                                        <option value="EECAFE">CAFÉ MANHÃ</option>
                                                        <option value="EEALMOCO">ALMOÇO</option>
                                                    </select>
                                                </div>                                                  
                                            </div>
                                            <!--
                                            <div class="control-group">
                                                <div class="itens">
                                                    <table class="table table-refeicoes table-primary mb30" border="1">
                                                        <thead>
                                                            <tr>
                                                                <th colspan="50">
                                                                    <div class="divTable">
                                                                        <?php if (!$this->visualizar) : ?>
                                                                        <div class="divTableBody">
                                                                            <div class="divTableRow">
                                                                                <div class="divTableCell" style="width: 30%;">
                                                                                    <b>Composição do cardápio: </b>    
                                                                                </div>
                                                                                <div class="divTableCell" style="width: 10%;">
                                                                                    &nbsp;
                                                                                </div>
                                                                            </div>
                                                                            <div class="divTableRow">
                                                                                <div class="divTableCell">
                                                                                    <select data-placeholder="Ingredientes" id="ing" class="select span3" onchange="setBtnAddRefeicao(this)"  >
                                                                                        <option value="">Selecione...</option>
                                                                                        <?php foreach(Nutricaorefeicoes::getNutricaorefeicoesHelper(array('status'=>'Ativo')) as $k=>$v) : ?>
                                                                                            <option value="<?php echo $v['id'] ?>"><?php echo $v['titulo'] ?></option>
                                                                                        <?php endforeach;?>
                                                                                    </select>
                                                                                    <button id="BtnAddRefeicao" type="button" onclick="refeicaoAddTr()" class="btn btn-large btn-inverse" disabled="true" style="font-size: 25;">Adicionarx</button>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <?php endif; ?>
                                                                    </div>                                                        
                                                                </th>

                                                            </tr>
                                                        </thead>
                                                        <tbody>	
                                                            <tr><td>00</td></tr>
                                                            <?php $idref = explode(',', $this->post_var['idsrefeicoes']); ?>
                                                                <script type="text/javascript">

                                                                $(document).ready(function() {

                                                                        <?php if (isset($this->post_var['idsrefeicoes'])) : ?>
                                                                                
                                                                            <?php foreach ($idref as $k=>$r) :?>        

                                                                                <?php foreach (Nutricaorefeicoes::getNutricaorefeicoesHelper(array('id' => $r)) as $c=>$row) : ?>

                                                                                    <?php 
                                                                                        $row['idv'] = $row['id'];
                                                                                        unset($row['id']);
                                                                                        unset($row['descricao']);
                                                                                        $row['var_db'] = true;
                                                                                    ?>
                                                                                            
                                                                                    refeicoes = '<?php echo str_replace("'", "\'", json_encode($row)) ?>';

                                                                                    refeicaoAddTr(refeicoes);
                                                                                <?php endforeach;?>
                                                                                    
                                                                            <?php endforeach;?>    
                                                                                
                                                                        <?php endif; ?>
                                                                });
                                                                </script>
                                                        </tbody>

                                                        <tfoot>
                                                            <tr id="modelo-refeicao" style="display:none;">
                                                                <td align="center" style="text-align:center !Important;">
                                                                    <input name="_id" type="text"/>
                                                                    <input name="idv[]" type="hidden"/>
                                                                    <input name="titulo[]" type="hidden"/>
                                                                    <a <?php if (!$this->visualizar) { echo 'onclick="refeicoesExcluirFromTable(this)"'; } ?> ><span class="icon-remove"></span></a>
                                                                    <div name="titulo[]">...</div>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td colspan="50" style="text-align: center !important;" align="center">
                                                                    <div id="subtotQtd" style="font-weight: bold">0</div>
                                                                </td>
                                                            </tr>
                                                        </tfoot>

                                                    </table>
                                                </div>
                                            </div>   
                                                            -->
                                            <!--        ===================    End Congelando formulário de cardápio  ================= -->
                                            
                                            <div class="control-group">
                                                <br>
                                                <div class="col-md-3" style="width: 25%; float:left; padding:0 8px; margin-bottom: 50px;">
                                                    <br><br><br><br>
                                                    <div class='wrap'>
                                                    
                                                    <div id='external-events' >
                                                        <div id='external-events-listing'>
                                                            <h4>Lista de Refeições</h4>
                                                            <div class='btn btn-info btn-block' onclick='cadastrarefeicao()' style='cursor:pointer'>Cadastrar Refeição</div>
                                                            <div><input name='pesquisa' type='text' width="100%"></div>
                                                            <div id='resultados'>
                                                            <?php
                                                                foreach(Nutricaocardapiosrefeicao::getNutricaocardapiosrefeicaoHelper() as $index):
                                                                    if($index['tipoensino'] == 'EE'){
                                                                        if($index['tiporefeicao'] == 'EECAFE DA MANHA'){
                                                                            echo "<div id='" . $index['id'] . "' name='btn' class='fc-event event-list' style='color: white; background-color: #6600ff; opacity: 0.6; z-index=999'>" . $index['refeicao'] . "</div>";   
                                                                        }else if($index['tiporefeicao'] == 'EEALMOCO'){
                                                                            echo "<div id='" . $index['id'] . "' name='btn' class='fc-event event-list' style='color: white; background-color: #009999; opacity: 0.6; z-index=999'>" . $index['refeicao'] . "</div>";   
                                                                        }//end if else if
                                                                       
                                                                    }else{
                                                                        if($index['tiporefeicao'] == 'CMCAFE'){
                                                                            echo "<div id='" . $index['id'] . "' name='btn' class='fc-event event-list' style='color: white; background-color: #ffcc00; opacity: 0.6; z-index=999'>" . $index['refeicao'] . "</div>";   
                                                                        }else if($index['tiporefeicao'] == 'CMALMOCO'){
                                                                            echo "<div id='" . $index['id'] . "' name='btn' class='fc-event event-list' style='color: white; background-color: #00ace6; opacity: 0.6; z-index=999'>" . $index['refeicao'] . "</div>";   
                                                                        }else if($index['tiporefeicao'] == 'CMLANCHE'){
                                                                            echo "<div id='" . $index['id'] . "' name='btn' class='fc-event event-list' style='color: white; background-color: #8484e1; opacity: 0.6; z-index=999'>" . $index['refeicao'] . "</div>";   
                                                                        }else{
                                                                            echo "<div id='" . $index['id'] . "' name='btn' class='fc-event event-list' style='color: white; background-color: #00b33c; opacity: 0.6; z-index=999'>" . $index['refeicao'] . "</div>"; 
                                                                        }
                                                                        
                                                                    }//end if else
                                                                                                                                 
                                                                endforeach;
                                                            ?>
                                                            </div>
                                                        </div>
                                                        
                                                    </div>
                                                    

                                                    <div style='clear:both'></div>
                                                    </div>
                                                </div>
                                                <div class='col-md-9'  style="width: 70%; float:left; padding:0 8px; margin-bottom: 50px;">
                                                <br><br>
                                                    <div id='cardapiocalendario'></div>
                                                </div>
                                            </div>


                                             <div id="divCadastro" style="width: 500; display:none">
                                                            <div style='width: 650px'>
                                                            <div class="modaltitle"><h5> Cadastrar Cardápio </h5></div>
                                                            <br>
                                                      
                                                            <div>
                                                                <table class="table table-primary mb30 " border="1">
                                                                    <tr>
                                                                        <td>Cardápio *</td>
                                                                        <td colspan='2'><input id='titulo_cardapio' type='text' placeholder='Digite aqui o nome da refeição' style='width: 100%'></td>
                                                                    </tr>
                                                                    
                                                                    <tr>
                                                                        <td>Tipo de Ensino *</td>
                                                                        <td colspan='2'>
                                                                            <select class='select' onchange="setTipoensino(this)" id="tipoensino_cardapio"  style='width: 100%'>
                                                                                <option value="0">Selecione...</option>
                                                                                <option value="CM">CRECHE E MATERNAL</option>
                                                                                <option value="EE">EMEI / EMEF</option>
                                                                            </select>
                                                                        </td>
                                                                    </tr>

                                                                    <tr id='CM'>
                                                                        <td>Tipo de Refeição *</td>
                                                                        <td colspan='2'>
                                                                            <select id="tiporef" name="tiporef" class='select' style='width: 100%'>
                                                                                
                                                                            </select>
                                                                        </td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td>Composição do cardápio </td>
                                                                        <td>
                                                                            <select data-placeholder="Ingredientes" id="ingred" class="select span3" onchange="setBtnAddRefeicao(this)"  >
                                                                                <option value="">Selecione...</option>
                                                                                <?php foreach(Nutricaorefeicoes::getNutricaorefeicoesHelper(array('status'=>'Ativo')) as $k=>$v) : ?>
                                                                                    <option value="<?php echo $v['id'] ?>"><?php echo $v['titulo'] . ' - ' . $v['id'] ?></option>
                                                                                <?php endforeach;?>
                                                                            </select>
                                                                        </td>
                                                                        <td><div id="BtnAddRefeicao" onclick="adicionarRefeicao()" class='btn btn-success btn-block'  disabled="true" style='cursor:pointer'>Adicionar</div></td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td colspan="3">
                                                                            <table name='table-refeicoes' class='table table-hover table-striped'>
                                                                            <thead>
                                                                                <tr>
                                                                                    <td>Nº </td>
                                                                                    <td>Titulo</td>
                                                                                    <td>Cotação</td>
                                                                                    <td>Porções</td>
                                                                                    <td></td>
                                                                                </tr>
                                                                            </thead>
                                                                            <tbody id='refeicoes-list'>
                                                                                
                                                                            </tbody>
                                                                            </table>
                                                                        </td>
                                                                    </tr>
                                                            
                                                                <td colspan="50" style="text-align: center !important;" align="center">
                                                                    <div style="font-weight: bold">Total : <strong id='contadorRefeicoes'>0</strong></div>
                                                                </td>
                                                            </tr>
                                                        </tfoot>
                                                                    
                                                                   
                                                                </table>
                                                            </div>
                                                            <div class='btn btn-info btn-block' onclick="cadastracardapio()" style='cursor:pointer'>Cadastrar Cardápio</div>
                                                            </div>

                                                        </div>



                                                                <div id="divForm" style="display:none">
                                                            <div class="modaltitle"><h5 id='divForm-id'> Arroz e Lagostass</h5></div>
                                                           
                                                            <div>
                                                                <table class="table table-primary mb30 " border="1">
                                                                    <tbody>
                                                                        
                                                                        <tr>
                                                                            <td><small>Tipo de Ensino</small></td>
                                                                            <td id='divForm-ensino'></td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td><small>Tipo de Refeição</small></td>
                                                                            <td id='divForm-refeicao'></td>
                                                                        </tr>
                                                                      
                                                                        <tr>
                                                                            <td colspan='2'>

                                                                                <table class='table'>
                                                                                    <tr>
                                                                                        <th>ID</th>
                                                                                        <th>Título</th>
                                                                                        <th>Cotação</th>
                                                                                        <th>Porções</th>
                                                                                        <th></th>
                                                                                    </tr>
                                                                                    <tbody name='divForm-refeicoes'>
                                                                                        
                                                                                    </tbody>
                                                                                </table>

                                                                            </td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                                
                                                            </div>
                                                            <div>
                                                                <table class="table table-hover">
                                                                    
                                                                    
                                                                   
                                                                </table>
                                                            </div>
                                                            <div name='divForm-excluir' class='btn btn-info btn-block' style='cursor: pointer' onclick='excluirefeicaocalendario(this);'>Excluir Refeição</div>
                                                        </div>




						    
						    </div>
						    
			              
						</div>
						<!-- /general form elements -->

					</fieldset> 

                    <!-- Modal -->
                    <div class="window" id="janela">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Cadastrar Data</h5>
                        </div>

                        <div class="widget row-fluid">
                            <div class="control-group">
                                <div class="controls">
                                    <br>
                                    <div class="pull-right">
                                        <br/>
                                        <button type="button" class="btn btn-primary" onclick="" data-dismiss="modal2">Cadastrar</button>  
                                    </div>
                                </div>
                            </div>                                         
                        </div>
                    </div>                               
                    <!-- Modal -->

				</form>
				<!-- /basic inputs -->

		    </div>
		    <!-- /content wrapper -->

            <!--  Fancy Update Refeição  -->

                <div id="divFormUpdate" style="display:none">
                <div class="modaltitle"><input name='idvalupdate' type='hidden'><h5 id='divFormUpdate-id'></h5></div>
                
                <div>
                    <table class="table table-primary mb30 " border="1">
                        <tbody>
                            <tr>
                                <td>Nome do Cardápio</td>
                                <td colspan='2'>
                                    <input type='text' name='nomecardapio-update'>
                                </td>
                            </tr>
                            
                            <tr>
                                <td><small>Tipo de Ensino</small></td>
                                <td colspan='2'>
                                    <div>
                                        <select name='updateselect-escola' class='select'>
                                            <option value=''>Selecione...</option>
                                            <option value='CM'>Creche Municipal</option>
                                            <option value='EE'>EMEI / EMEF</option>
                                        </select>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td><small>Tipo de Refeição</small></td>
                                <td colspan='2' id='divFormUpdate-refeicao'>
                                    <div>
                                        <select  name='updateselect-refeicao' class='select'>
                                            <option value=''>Selecione...</option>
                                        </select>
                                    </div>
                                </td>
                                
                            </tr>
                            <tr>
                            <td>Composição do cardápio </td>
                            <td>
                                <select data-placeholder="Ingredientes" id="ingredupdate" class="select span3" onchange="setBtnAddRefeicao(this)"  >
                                    <option value="">Selecione...</option>
                                    <?php foreach(Nutricaorefeicoes::getNutricaorefeicoesHelper(array('status'=>'Ativo')) as $k=>$v) : ?>
                                        <option value="<?php echo $v['id'] ?>"><?php echo $v['titulo'] . ' - ' . $v['id'] ?></option>
                                    <?php endforeach;?>
                                </select>
                            </td>
                            <td><div id="BtnAddRefeicao" onclick="editaAdicionarRefeicao()" class='btn btn-success btn-block'  disabled="true" style='cursor:pointer'>Adicionar</div></td>

                            </tr>
                            
                            <tr>
                                <td colspan='3'>

                                    <table class='table'>
                                        <tr>
                                            <th>ID</th>
                                            <th>Título</th>
                                            <th>Cotação</th>
                                            <th>Porções</th>
                                            <th></th>
                                            <th></th>
                                        </tr>
                                        <tbody name='divFormUpdate-refeicoes'>
                                            
                                        </tbody>
                                        
                                    </table>
                                    

                                </td>
                                <tr>
                                    <td colspan="50" style="text-align: center !important;" align="center">
                                        <div style="font-weight: bold">Total : <strong id='contadorRefeicoesUpdate'></strong></div>
                                    </td>
                                </tr>
                            </tr>
                        </tbody>
                    </table>
                    
                </div>
                <div>
                    <table class="table table-hover">
                        
                        
                        
                    </table>
                </div>
                <div name='divForm-excluir' class='btn btn-info btn-block' style='cursor: pointer' onclick='updatecardapio(this);'>Editar Cardápio</div>
            </div>

            <!--   End Fancy Update Refeição -->

		</div>
		<!-- content -->
<script type="text/javascript" src="<?php echo $this->baseUrl('/public/scripts/moment.min.js') ?>"></script>				
<script type="text/javascript" src="<?php echo $this->baseUrl('/public/scripts/admin/nutricaocardapiosrefeicao_form.js') ?>"></script>
<script type="text/javascript">
	var form_values = {};
	
	<?php if (isset($this->post_var)) :  ?>
		form_values.status1 = '<?php echo (isset($this->post_var['status1'])) ? $this->post_var['status1'] : $this->post_var['status'] ?>';
		form_values.tipoensino = '<?php echo (isset($this->post_var['tipoensino'])) ? $this->post_var['tipoensino'] : $this->post_var['tipoensino'] ?>';
		form_values.tiporefeicao = '<?php echo (isset($this->post_var['tiporefeicao'])) ? $this->post_var['tiporefeicao'] : $this->post_var['tiporefeicao'] ?>';

	<?php endif; ?>

	visualizar = <?php echo  ((isset($this->visualizar)) && ($this->visualizar))  ? 'true' : 'false' ?>;
</script>
<script>

    var vtDados = new Array();
    
    <?php foreach (Nutricaocardapiosrefeicaocalendario::getNutricaocardapiorefeicaocalendarioHelper(array('idnutricaocardapiosrefeicao'=>$this->post_var['id'])) as $k=>$row ) : ?>
        vtDados.push({ 
            id: '<?php echo $row['id']; ?>',
            title: '<?php echo $row['title']; ?>',
            start: '<?php echo $row['start']; ?>',
            end: '<?php echo $row['end']; ?>',
            color: '<?php echo $row['color']; ?>'
        });
    <?php endforeach; ?>
        
    $(document).ready(function() {


        /*  
                        initialize the external events
            ----------------------------------------------------------------- */

        $('#external-events .fc-event').each(function() {

        // store data so the calendar knows to render an event upon drop
        $(this).data('event', {
            title: $.trim($(this).text()), // use the element's text as the event title
            stick: true // maintain when user navigates (see docs on the renderEvent method)
        });

        // make the event draggable using jQuery UI
        $(this).draggable({
            zIndex: 999,
            revert: true,      // will cause the event to go back to its
            revertDuration: 0  //  original position after the drag
        });

        });


        /* initialize the calendar
        -----------------------------------------------------------------*/

        $('#cardapiocalendario').fullCalendar({
        header: {
            left: 'prev,next today',
            center: 'title',
            right: 'month,agendaWeek,agendaDay'
        },
        weekends: false,
        ignoreTimezone: false,
        monthNames: ['Janeiro', 'Fevereiro', 'Março', 'Abril', 'Maio', 'Junho', 'Julho', 'Agosto', 'Setembro', 'Outubro', 'Novembro', 'Dezembro'],
        monthNamesShort: ['Jan', 'Fev', 'Mar', 'Abr', 'Mai', 'Jun', 'Jul', 'Ago', 'Set', 'Out', 'Nov', 'Dez'],
        dayNames: ['Domingo', 'Segunda', 'Terça', 'Quarta', 'Quinta', 'Sexta', 'Sabado'],
        dayNamesShort: ['Dom', 'Seg', 'Ter', 'Qua', 'Qui', 'Sex', 'Sab'],
        titleFormat: {
                        month: 'MMMM yyyy',
                        week: "d[ MMMM][ yyyy]{ - d MMMM yyyy}",
                        day: 'dddd, d MMMM yyyy'
                    },
        buttonText: {
                        prev: "&nbsp;&#9668;&nbsp;",
                        next: "&nbsp;&#9658;&nbsp;",
                        prevYear: "&nbsp;&lt;&lt;&nbsp;",
                        nextYear: "&nbsp;&gt;&gt;&nbsp;",
                        today: "Hoje",
                        month: "Mês",
                        week: "Semana",
                        day: "Dia"
                    },
        editable: true,
        droppable: true, // this allows things to be dropped onto the calendar
        dragRevertDuration: 0,
        eventClick: function(calEvent, jsEvent, view){
            
            var id = calEvent.obs;
            var auxiliar = id.split('-');
            // chamando a refeição
            
            $.post(baseUrl + "/" + module + "/"+controller+"/retornarefeicaoajax",
            {id: auxiliar[0]}, function(data){
                lancamento = JSON.parse(data);
               
                $('#divForm-id').html(lancamento.refeicao);
                
                if(lancamento.tipoensino == 'EE'){
                    $('#divForm-ensino').html("EMEI / EMEF");
                }else if(lancamento.tipoensino == 'CM'){
                    $('#divForm-ensino').html('Creche e Maternal');
                }

                $('#divForm-refeicao').html(lancamento.tiporefeicao);

               
                var refeicoes = lancamento.idsrefeicoes.split(',');
               

                $('[name=divForm-excluir]').prop('id', calEvent._id + '-' + auxiliar[1]);
                var table = $('[name=divForm-refeicoes]');
                table.html('');

                $.each(refeicoes, function( index, value ){
                    var idrefeicao = value;
                    $.post(baseUrl + "/" + module + "/"+controller+"/retornarefeicoesajax",
                    {id: idrefeicao}, function(data){
                       
                       var refDescr = JSON.parse(data);
                      
                       table.append('<tr><td>' + refDescr.id + '</td><td>' + refDescr.titulo + '</td><td>' + refDescr.favorita + '</td><td>' + refDescr.porcoes + '</td><td>' + refDescr.status +'</td></tr>');

                    });
                    
                });

            });

            $.fancybox({
                type: 'inline',
                href: $('#divForm'),
                width: 400,
                height: 500,
                autoSize: false,
                helpers: {
                title: {
                    type: 'float'
                }
            }
            });
        },
        drop: function(event, delta, revertFunc){
           
            var momento = moment(event);
            var id = this.id;
            var lancamento;
            // Pegando o evento via ajax
            $.post(baseUrl + "/" + module + "/"+controller+"/retornarefeicaoajax",
            {id: id}, function(data){
                lancamento = JSON.parse(data);
                console.log('horario: ',  lancamento.tipoensino);
                console.log('horario: ',  lancamento.tiporefeicao);
                console.log('moment: ', momento.format("YYYY-MM-DD"));

                var periodoRefeicaoInicio;
                var periodoRefeicaoFinal;
                
                if(lancamento.tipoensino == 'CM'){
                    
                    if(lancamento.tiporefeicao == 'CMCAFE'){
                        periodoRefeicaoInicio = 'T08:00:00';
                        periodoRefeicaoFinal = 'T10:00:00';
                    }else if(lancamento.tiporefeicao == 'CMALMOCO'){
                        periodoRefeicaoInicio = 'T11:00:00';
                        periodoRefeicaoFinal = 'T01:00:00';
                    }else if(lancamento.tiporefeicao == 'CMLANCHE'){
                        periodoRefeicaoInicio = 'T15:00:00';
                        periodoRefeicaoFinal = 'T17:00:00';
                    }else if(lancamento.tiporefeicao == 'CMJANTAR'){
                        periodoRefeicaoInicio = 'T19:00:00';
                        periodoRefeicaoFinal = 'T20:00:00';
                    }//end else/if
                }else if(lancamento.tipoensino == 'EE'){
                    
                    if(lancamento.tiporefeicao == 'EECAFE DA MANHA'){
                        periodoRefeicaoInicio = 'T08:00:00';
                        periodoRefeicaoFinal = 'T10:00:00';
                        
                    }else if(lancamento.tiporefeicao== 'EEALMOCO'){
                        periodoRefeicaoInicio = 'T11:30:00';
                        periodoRefeicaoFinal = 'T13:00:00';
                        
                    }// end else/if
                }//end else/if

                console.log('inicio: ', periodoRefeicaoInicio);
                console.log('fim: ', periodoRefeicaoFinal);


                // Cadastrar o evento no banco de dados nutricaocardapiosrefeicaocalendario
                $.post(baseUrl + "/" + module + "/"+controller+"/cadastrarefeicaoagendaajax",
                {
                    id: id,
                    title: lancamento.refeicao,
                    start: momento.format("YYYY-MM-DD") + periodoRefeicaoInicio,
                    end: momento.format("YYYY-MM-DD") + periodoRefeicaoFinal,

                }, function(data){  
                    data = JSON.parse(data);
                    console.log('resultado: ', data);
                    console.log('id: ', data.id);

                    console.log('==>', lancamento.tipoensino);

                    if(lancamento.tipoensino == 'EE'){
                        if(lancamento.tiporefeicao == 'EECAFE DA MANHA'){
                            var valColor = ' #6600ff';
                        }else if(lancamento.tiporefeicao == 'EEALMOCO'){
                            var valColor = ' #009999';
                        }
                        
                    }else{
                        if(lancamento.tiporefeicao == 'CMCAFE'){
                            var valColor = ' #ffcc00';
                        }else if(lancamento.tiporefeicao == 'CMALMOCO'){
                            var valColor = ' #00ace6';
                        }else if(lancamento.tiporefeicao == 'CMLANCHE'){
                            var valColor = ' #8484e1';
                        }
                    }

                    $('#cardapiocalendario').fullCalendar('renderEvent',{
                        title : lancamento.refeicao,
                        allDay : false,
                        stick : false,
                        editable : false,
                        color: valColor,
                        // start: momento.format("YYYY-MM-DD"),
                        start: momento.format("YYYY-MM-DD") + periodoRefeicaoInicio,
                        end: momento.format("YYYY-MM-DD") + periodoRefeicaoFinal,
                        obs: data.idnutricaocardapiosrefeicao + '-' + data.id,
                        description: 'This is a cool event'
                    });
                });


                
            });
        },
        eventDragStop: function( event, jsEvent, ui, view ) {
            
            if(isEventOverDiv(jsEvent.clientX, jsEvent.clientY)) {
                $('#calendar').fullCalendar('removeEvents', event._id);
                var el = $( "<div class='fc-event'>" ).appendTo( '#external-events-listing' ).text( event.title );
                    el.draggable({
                    zIndex: 999,
                    revert: true, 
                    revertDuration: 0 
                });
                el.data('event', { title: event.title, id :event.id, stick: true });
            }
        },
        events: 
        [
            <?php 

                $rows = Nutricaocardapiosrefeicaocalendario::getNutricaocardapiorefeicaocalendarioHelper(array());

                foreach($rows as $index):

                    $start = str_replace(' ','T',$index['start']);
                    $end = str_replace(' ','T',$index['end']);
                    echo '{';
                        echo "title: '" . $index['title'] . "',";
                        echo "start: '" . $start . "',";
                        echo "end: '" . $end . "',";
                        echo "allDay: false,";
                        echo "editable: false,";

                        $row = Nutricaocardapiosrefeicao::getNutricaocardapiorefeicaoByIdHelper($index['idnutricaocardapiosrefeicao']);

                        if($row['tipoensino'] == 'EE'){
                            if($row['tiporefeicao'] == 'EECAFE DA MANHA'){
                                echo "color: '#6600ff',";
                            }else if($row['tiporefeicao'] == 'EEALMOCO'){
                                echo "color: '#009999',";
                            }//end if else if
                           
                        }else{
                            if($row['tiporefeicao'] == 'CMCAFE'){
                                echo "color: '#ffcc00',"; 
                            }else if($row['tiporefeicao'] == 'CMALMOCO'){
                                echo "color: '#00ace6',";
                            }else if($row['tiporefeicao'] == 'CMLANCHE'){
                                echo "color: '#8484e1',";
                            }else if($row['tiporefeicao'] == 'CMJANTAR'){
                                echo "color: '#00b33c',";
                            }
                        };
                        
                        echo "obs: '" . $index['idnutricaocardapiosrefeicao'] . '-' . $index['id'] . "'";
                    echo '},';

                endforeach;
            ?>
        ],
        timeFormat: '',
        
        });

        var isEventOverDiv = function(x, y) {

        var external_events = $( '#external-events' );
        var offset = external_events.offset();
        offset.right = external_events.width() + offset.left;
        offset.bottom = external_events.height() + offset.top;

        // Compare
        if (x >= offset.left
            && y >= offset.top
            && x <= offset.right
            && y <= offset .bottom) { return true; }
        return false;
        }
        // End Full Calendar

    });

</script>



<!--$('#cardapiocalendario').fullCalendar('clientEvents');-->   