<script src='https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.9.0/fullcalendar.js'></script>
<style type="text/css">

.window{
	display:none;
	width:400px;
	height:400px;
	position:absolute;
	left:0;
	top:0;
	background:#FFF;
	z-index:9900;
	padding:10px;
	border-radius:10px;
}

.ConteinerCalendario{
	width:500px;
	height:400px;
	background:#FFF;
	padding-top:50px;
	padding-bottom:100px;
	padding-left:10px;
	padding-right: 10px; 
}

 #external-events {
	float: left;
	width: 92%;
	padding: 0 10px;
	border: 1px solid #ccc;
	background: #eee;
	text-align: left;
}

#wrap {
	width: 1100px;
	margin: 0 auto;
}
	
#external-events h4 {
	font-size: 16px;
	margin-top: 0;
	padding-top: 1em;
}
	
#external-events .fc-event {
	margin: 10px 0;
	cursor: pointer;
}
	
#external-events p {
	margin: 1.5em 0;
	font-size: 11px;
	color: #666;
}
	
#external-events p input {
	margin: 0;
	vertical-align: middle;
}

.fc-event{
	background-color:  #d9d9d9;
}

.modaltitle{
	text-align: center;
	color: #999999
}

</style> 
        <script type="text/javascript" src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.js'></script>
		<!-- Content -->
		<div id="content">

		    <!-- Content wrapper -->
		    <div class="wrapper">

			    <!-- Breadcrumbs line -->
			    <div class="crumbs">
			    	<?php echo $this->render('/helpers/breadcrumb.phtml') ?>
			    </div>
			    <!-- /breadcrumbs line -->

			    <!-- Page header -->
			    <div class="page-header">
			    	<div class="page-title">
				    	<h5>Cardápios no sistema </h5>
				    	<span>Visualize as cardápios do sistema</span>
			    	</div>
			    	
			    </div>
				<!-- /page header -->
				
	

			    
			    <?php if (isset($this->crudMessage)) : ?>
				<div class="alert alert-success">
                    <button data-dismiss="alert" class="close" type="button">×</button>
                    <strong >Operação realizada com sucesso!</strong>
                    <span><br /><?php echo $this->crudMessage ?></span>
                </div>			    
			    <?php endif; ?>
	                        	                        
                        <!-- Table with footer -->
                        <div id='divChart' style="display:none; width: 800px">
                            <canvas id="myChart" style='width: 350px'></canvas>
                            <div>* Os valores são definidos em gramas</div>
                            <table name='table_nutricional'  class='table'>
                                <thead>
                                    <tr>
                                        <th>Kcal</th>
                                        <th>CHO</th>
                                        <th>LPD</th>
                                        <th>PTN</th>
                                        <th>Fibra</th>
                                        <th>Vit A</th>
                                        <th>Vit C</th>
                                        <th>Fe</th>
                                        <th>Mg</th>
                                        <th>Ca</th>
                                        <th>Zn</th>
                                    </tr>
                                </thead>
                                <tbody>

                                </tbody>
                                
                            </table>
                        </div>

                        <div class="navbar">
                            <div class="navbar-inner">
                                <h6 class="title-accordion">
                                    <a class="click_acc" data-toggle="collapse" data-parent="#accordion" href="#collapse4">
                                        Agendamento de Refeições
                                    </a>
                                </h6>
                            </div>
                        </div>
                        <div class='well'>
                            <div name='click' title="" class="btn btn-info tip"  style='cursor: pointer' data-original-title="Gerar PDF EE" onclick="calendario(1)"><i class="icon-pencil"></i>Gerar PDF EMEI / EMEF</div> &nbsp; &nbsp; 
                            <div name='click' title="" class="btn btn-info tip" href="<?php echo $this->baseUrl() ?>/<?php echo 'admin' ?>/<?php echo $this->getController() ?>/gerarcardapio" style='cursor: pointer' data-original-title="Gerar PDF" onclick="calendario(2)"><i class="icon-pencil"></i>Gerar PDF Crece Municipal</div> &nbsp; &nbsp;
                        </div>
                        <div class="well"> Legendas
                            <table class='table'>
                                <tr>
                                    <td style='background: #ffcc00; '></td>
                                    <td> Creche e Maternal Café da Manhã</td>
                                    <td style='background: #00ace6;'></td>
                                    <td> Creche e Maternal Almoço</td>
                                    <td style='background: #8484e1;'></td>
                                    <td> Creche e Maternal Lanche</td>
                                    <td style='background: #00b33c;'></td>
                                    <td> Creche e Maternal Janta</td>
                                </tr>

                                <tr>
                                    <td style='background: #6600ff;'></td>
                                    <td> EMEI EMEF Café da Manhã</td>
                                    <td style='background: #009999; '></td>
                                    <td> EMEI EMEF Almoço</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                            </table>
                            </div>
                        <div id="collapse4" class="content-height panel-collapse collapse in">
                            <br><br>
                            <div>
                            <select name='selectcalendario' class='select'>
                                <option value=''>TODOS</option>
                                <option value='1'>EMEI EMEF</option>
                                <option value='2'>Creche e Maternal</option>
                            </select>
                            </div>
                            
                            <br>
                            <div id='cardapiocalendario'></div>
                        </div>
                        
                        
                            <div class="widget">
                                <form action="#" class="form-horizontal" method="post">
                                    <input type="hidden" value="<?php echo (isset($this->post_var['sorting'])) ? $this->post_var['sorting'] : '' ?>" name="sorting" />
                                    <div class="row">

                                    <?php if((Usuarios::getUsuario('idperfil') == '1') || (Usuarios::getUsuario('idperfil') == '25') ): ?>

                                        <div class="box-colecoes col-sm-12 panel-group-dark" id="accordion" >
                                            <?php //echo $this->render('/nutricaocardapiosrefeicao/helpers/creche.phtml') ?>
                                            <?php //echo $this->render('/nutricaocardapiosrefeicao/helpers/calendarioCardapio.phtml') ?>
                                            <br><br>
                                        </div>
                                        <?php echo $this->render('/nutricaocardapiosrefeicao/helpers/lista.phtml') ?>

                                    <?php endif; ?>

                                    </div>
                                    
                                </form>
                            </div>
                        
                        <!-- /table with footer -->
		    </div>
		    <!-- /content wrapper -->
		</div>
        <!-- content -->
        


<div id="divForm" style="display:none">
    <div class="modaltitle"><h5 id='divForm-id'></h5></div>
    <div>
        <table class="table table-primary mb30 " border="0">
            <tbody>
                
                <tr>
                    <td><h5>Tipo de Ensino</h5></td>
                    <td id='divForm-ensino'></td>
                </tr>
                <tr>
                    <td><h5>Tipo de Refeição</h5></td>
                    <td id='divForm-refeicao'></td>
                </tr>
                
                <tr>
                    <td colspan='2'>

                        <table class='table'>
                            <tr>
                                <th>ID</th>
                                <th>Título</th>
                                <th>Cotação</th>
                                <th>Porções</th>
                                <th></th>
                            </tr>
                            <tbody name='divForm-refeicoes'>
                                
                            </tbody>
                        </table>

                    </td>
                </tr>
            </tbody>
        </table>
        
    </div>
    <div>
        <table class="table table-hover">
            
            
            
        </table>
    </div>
    
</div>

<script>

    var selecionado = <?php echo $this->filtro; ?>;

</script>
<script type="text/javascript" src="<?php echo $this->baseUrl('/public/scripts/admin/nutricaocardapiosrefeicao_index.js') ?>"></script>
<script type="text/javascript">

	var form_values = {};
	<?php if (isset($this->post_var)) :  ?>
            form_values.status1 = '<?php echo (isset($this->post_var['status1'])) ? $this->post_var['status1'] : $this->post_var['status'] ?>';
	
	<?php endif; ?>

	var sorting = [ "status"];
	
</script>	




<script>

$('#cardapiocalendario').fullCalendar({
    header: {
        left: 'prev,next today',
        center: 'title',
        right: 'month,agendaWeek,agendaDay'
    },
    weekends: false,
    editable: true,
    droppable: true, // this allows things to be dropped onto the calendar
    dragRevertDuration: 0,
    ignoreTimezone: false,
    monthNames: ['Janeiro', 'Fevereiro', 'Março', 'Abril', 'Maio', 'Junho', 'Julho', 'Agosto', 'Setembro', 'Outubro', 'Novembro', 'Dezembro'],
    monthNamesShort: ['Jan', 'Fev', 'Mar', 'Abr', 'Mai', 'Jun', 'Jul', 'Ago', 'Set', 'Out', 'Nov', 'Dez'],
    dayNames: ['Domingo', 'Segunda', 'Terça', 'Quarta', 'Quinta', 'Sexta', 'Sabado'],
    dayNamesShort: ['Dom', 'Seg', 'Ter', 'Qua', 'Qui', 'Sex', 'Sab'],
    titleFormat: {
                    month: 'MMMM yyyy',
                    week: "d[ MMMM][ yyyy]{ - d MMMM yyyy}",
                    day: 'dddd, d MMMM yyyy'
                },
    buttonText: {
                    prev: "&nbsp;&#9668;&nbsp;",
                    next: "&nbsp;&#9658;&nbsp;",
                    prevYear: "&nbsp;&lt;&lt;&nbsp;",
                    nextYear: "&nbsp;&gt;&gt;&nbsp;",
                    today: "Hoje",
                    month: "Mês",
                    week: "Semana",
                    day: "Dia"
                },

    eventClick: function(calEvent, jsEvent, view){

		var id = calEvent.obs;
            // chamando a refeição
            $.post(baseUrl + "/" + module + "/"+controller+"/retornarefeicaoajax",
            {id: id}, function(data){
                lancamento = JSON.parse(data);
                console.log('horario: ',  lancamento.tipoensino);
                console.log('horario: ',  lancamento.tiporefeicao);
                //console.log('moment: ', momento.format("YYYY-MM-DD"));
                $('#divForm-id').html(lancamento.refeicao);

                if(lancamento.tipoensino == 'EE'){
                    $('#divForm-ensino').html("EMEI / EMEF");
                }else if(lancamento.tipoensino == 'CM'){
                    $('#divForm-ensino').html('Creche e Maternal');
                }
                
                $('#divForm-refeicao').html(lancamento.tiporefeicao);

                var refeicoes = lancamento.idsrefeicoes.split(',');

                var table = $('[name=divForm-refeicoes]');
                table.html('');
               
                $.each(refeicoes, function( index, value ){
                    console.log('=>', value);
                    var idrefeicao = value;
                    $.post(baseUrl + "/" + module + "/"+controller+"/retornarefeicoesajax",
                    {id: idrefeicao}, function(data){
                       
                       var refDescr = JSON.parse(data);
                       table.append('<tr><td>' + refDescr.id + '</td><td>' + refDescr.titulo + '</td><td>' + refDescr.favorita + '</td><td>' + refDescr.porcoes + '</td><td>' + refDescr.status +'</td></tr>');

                    });

                    console.log('contador -->');

                });

            });


        $.fancybox({
            type: 'inline',
            href: $('#divForm'),
            width: 400,
            height: 500,
            autoSize: false,
            helpers: {
            title: {
                type: 'float'
            }
        }
        });
    },
	events: 
		[
			<?php 

				$rows = Nutricaocardapiosrefeicaocalendario::getNutricaocardapiorefeicaocalendarioHelper(array());

				foreach($rows as $index):

					$start = str_replace(' ','T',$index['start']);
                    $end = str_replace(' ','T',$index['end']);

                    if($this->filtro == 1){

                        $row = Nutricaocardapiosrefeicao::getNutricaocardapiorefeicaoByIdHelper($index['idnutricaocardapiosrefeicao']);

                        if($row['tipoensino'] == 'CM'){

                            echo '{';
                                echo "title: '" . $index['title'] . "',";
                                echo "start: '" . $start . "',";
                                echo "end: '" . $end . "',";
                                echo "obs: '" . $index['idnutricaocardapiosrefeicao'] . "',";
                                echo "allDay: false,";
                                
                                $row = Nutricaocardapiosrefeicao::getNutricaocardapiorefeicaoByIdHelper($index['idnutricaocardapiosrefeicao']);
        
                                if($row['tipoensino'] == 'EE'){
                                    if($row['tiporefeicao'] == 'EECAFE DA MANHA'){
                                        echo "color: '#6600ff',";
                                    }else if($row['tiporefeicao'] == 'EEALMOCO'){
                                        echo "color: '#009999',";
                                    }//end if else if
                                   
                                }else{
                                    if($row['tiporefeicao'] == 'CMCAFE'){
                                        echo "color: '#ffcc00',"; 
                                    }else if($row['tiporefeicao'] == 'CMALMOCO'){
                                        echo "color: '#00ace6',";
                                    }else if($row['tiporefeicao'] == 'CMLANCHE'){
                                        echo "color: '#8484e1',";
                                    }
                                };
                                
                                echo "editable: false,";
        
        
                            echo '},';

                        }//end if CM

                    }else if($this->filtro == 2){

                        $row = Nutricaocardapiosrefeicao::getNutricaocardapiorefeicaoByIdHelper($index['idnutricaocardapiosrefeicao']);

                        if($row['tipoensino'] == 'EE'){

                            echo '{';
                                echo "title: '" . $index['title'] . "',";
                                echo "start: '" . $start . "',";
                                echo "end: '" . $end . "',";
                                echo "obs: '" . $index['idnutricaocardapiosrefeicao'] . "',";
                                echo "allDay: false,";
                                
                                $row = Nutricaocardapiosrefeicao::getNutricaocardapiorefeicaoByIdHelper($index['idnutricaocardapiosrefeicao']);
        
                                if($row['tipoensino'] == 'EE'){
                                    if($row['tiporefeicao'] == 'EECAFE DA MANHA'){
                                        echo "color: '#6600ff',";
                                    }else if($row['tiporefeicao'] == 'EEALMOCO'){
                                        echo "color: '#009999',";
                                    }//end if else if
                                   
                                }else{
                                    if($row['tiporefeicao'] == 'CMCAFE'){
                                        echo "color: '#ffcc00',"; 
                                    }else if($row['tiporefeicao'] == 'CMALMOCO'){
                                        echo "color: '#00ace6',";
                                    }else if($row['tiporefeicao'] == 'CMLANCHE'){
                                        echo "color: '#8484e1',";
                                    }
                                };
        
                                echo "editable: false,";
        
        
                            echo '},';

                        }//end if EE

                    }else{

                        echo '{';
                            echo "title: '" . $index['title'] . "',";
                            echo "start: '" . $start . "',";
                            echo "end: '" . $end . "',";
                            echo "obs: '" . $index['idnutricaocardapiosrefeicao'] . "',";
                            echo "allDay: false,";
                            
                            $row = Nutricaocardapiosrefeicao::getNutricaocardapiorefeicaoByIdHelper($index['idnutricaocardapiosrefeicao']);
    
                            if($row['tipoensino'] == 'EE'){
                                if($row['tiporefeicao'] == 'EECAFE DA MANHA'){
                                    echo "color: '#6600ff',";
                                }else if($row['tiporefeicao'] == 'EEALMOCO'){
                                    echo "color: '#009999',";
                                }//end if else if
                               
                            }else{
                                if($row['tiporefeicao'] == 'CMCAFE'){
                                    echo "color: '#ffcc00',"; 
                                }else if($row['tiporefeicao'] == 'CMALMOCO'){
                                    echo "color: '#00ace6',";
                                }else if($row['tiporefeicao'] == 'CMLANCHE'){
                                    echo "color: '#8484e1',";
                                }
                            };
                            echo "editable: false,";
                        echo '},';
                    }
				endforeach;

			?>
		],
        timeFormat: '',
});

function calendario(valor){
    var date = $("#cardapiocalendario").fullCalendar('getDate');
    var month_int = (date.getMonth() + 1);
    
    if(valor == 1){
        window.open("<?php echo $this->baseUrl() ?>/<?php echo 'admin' ?>/<?php echo $this->getController() ?>/gerarcardapioeeexperiment/id/" + month_int,  '_blank');
    }else{
        window.open("<?php echo $this->baseUrl() ?>/<?php echo 'admin' ?>/<?php echo $this->getController() ?>/gerarcardapioexperiment/id/" + month_int, '_blank');
    }
};


$('select[name=selectcalendario]').change(function(){
    opcao = $('select[name=selectcalendario] option:selected').val();
    window.open("<?php echo $this->baseUrl() ?>/<?php echo 'admin' ?>/<?php echo $this->getController() ?>/index/id/" + opcao, '_self');
});

$('select[name=ensino]').change(function(){

$('select[name=tiporefeicao]').html('');

var selecionado = $('select[name=ensino] option:selected').val();



if(selecionado == 'CM'){

    html = '';
    html += '<option value="">TODOS</option>';
    html += '<option value="CMCAFE">CRECHE MUNICIPAL CAFÉ DA MANHÃ</option>';
    html += '<option value="CMALMOCO">CRECHE MUNICIPAL ALMOÇO</option>';
    html += '<option value="CMLANCHE">CRECHE MUNICIPAL LANCHE</option>';
    html += '<option value="CMJANTAR">CRECHE MUNICIPAL JANTAR</option>';

    $('select[name=tiporefeicao]').append(html);

    $("select[name=tiporefeicao]").val("");

    $("select").each(function() {
        val = $(this).find('option:selected').html();
        $(this).closest('div').find('span').html(val);
    });	
    

}else if(selecionado == 'EE'){

    html = '';
    html += '<option value="">TODOS</option>';
    html += '<option value="EECAFE DA MANHA">EMEI EMEF CAFÉ DA MANHÃ</option>';
    html += '<option value="EEALMOCO">EMEI EMEF ALMOÇO</option>';

    $('select[name=tiporefeicao]').append(html);

    $("select[name=tiporefeicao]").val('');

    $("select").each(function() {
        val = $(this).find('option:selected').html();
        $(this).closest('div').find('span').html(val);
    });	
    
   
}else{

    html = '';
    html += '<option value="">TODOS</option>';
    html += '<option value="CMCAFE">CRECHE MUNICIPAL CAFÉ DA MANHÃ</option>';
    html += '<option value="CMALMOCO">CRECHE MUNICIPAL ALMOÇO</option>';
    html += '<option value="CMLANCHE">CRECHE MUNICIPAL LANCHE</option>';
    html += '<option value="CMJANTAR">CRECHE MUNICIPAL JANTAR</option>';
    html += '<option value="EECAFE DA MANHA">EMEI EMEF CAFÉ DA MANHÃ</option>';
    html += '<option value="EEALMOCO">EMEI EMEF ALMOÇO</option>';
    
    $('select[name=tiporefeicao]').append(html);

}// end if else


});



</script>