<?php if (sizeof($this->rows)==0) : ?>
    <label>Na   da encontrado</label>
<?php else : ?>
<?php foreach ($this->rows as $row) : ?>
    <label><?php echo 'id: ',$row['id']; ?></label>

<?php endforeach; ?>
<?php endif; ?>
