<table width="100%" cellpadding="0" cellspacing="0" border="0" nobr="true">
	<?php /*if((isset($this->prefeitura['idimagem'])) && ((int)$this->prefeitura['idimagem'] > 0)) : ?>
	<tr>		
		<td align="center" width="40%">
				
			    <img width="200" src="<?php echo MY_PATH . $this->baseUrl() ?>/imagens/get/id/<?php echo (int)$this->prefeitura['idimagem'] ?>/w/0/h/0/i/indisponivel/img.jpg" />
			    
		</td>

		<td align="center" width="60%">
			<font size="12">Agência PAB P.M - Itaquaquecetuba</font><br />
			<font size="10">Av. Vereador João Fernandes da Silva, 283</font><br />
			<font size="10">Vl. Virgínia - Itaquaquecetuba</font><br />
			<font size="10">Fone: 4642-1096</font><br />
		</td>
	</tr>
	<?php else:*/ ?>
	<tr>	
		<td align="center" width="100%">
			<font size="12">Agência PAB P.M - Itaquaquecetuba</font><br />
			<font size="10">Av. Vereador João Fernandes da Silva, 283</font><br />
			<font size="10">Vl. Virgínia - Itaquaquecetuba</font><br />
			<font size="10">Fone: 4642-1096</font><br />
		</td>
	</tr>
	<?php //endif; ?>
</table>

<table width="100%" cellpadding="0" cellspacing="0" border="0" nobr="true">
	<tr>
		<td align="center" width="100%">
			<font size="10">
			    <b>BANCO BRADESCO S.A</b>
		    </font>
		</td>
	</tr>
	
	<tr>
		<td align="left" width="100%">
			<font size="10">
			    <b>Documentos Necessários para abertura da conta corrente (Xerox e original)</b>
		    </font>
		    <br/>
		</td>
	</tr>

	<tr>
		<td align="left" width="100%"><font size="10">RG: <u><?php echo $this->post_var['rg']?></u></font></td>
	</tr>
	
	<tr>
		<td align="left" width="100%"><font size="10">CPF: <u><?php echo $this->post_var['cpf']?></u></font></td>
	</tr>
	
	<tr>
		<td align="left" width="100%"><font size="10">SE FOR CASADO: CERTIDÃO DE CASAMENTO<br /><br />COMPROVANTE DE ENDEREÇO ATUALIZADO (ÁGUA/LUZ/TELEFONE) E PAGO COM COMPROVANTE. SE NÃO ESTIVER EM NOME DO PRÓPRIO TRAZER UM COMPROVANTE A MAIS COM CARIMBO DE CORREIO</font></td>
	</tr>
	
	<tr>
		<td align="left" width="100%"><font size="10">Nome: <u><?php echo $this->post_var['nome']?></u></font></td>
	</tr>
	
	<tr>
		<td align="left" width="100%"><font size="10">Endereço: <u><?php echo $this->post_var['endereco']?></u></font></td>
	</tr>
	
	<tr>
		<td align="left" width="100%"><font size="10">Bairro: <u><?php echo $this->post_var['bairro']?></u> CEP:<u><?php echo $this->post_var['cep']?></u></font></td>
	</tr>
	
	<tr>
		<td align="left" width="100%"><font size="10">Cidade: <u><?php echo $this->post_var['cidade']?></u> Fone Res:<u><?php echo $this->post_var['telefone']?></u></font></td>
	</tr>
	
	<tr>
		<td align="left" width="100%"><font size="10">Celular: <u><?php echo $this->post_var['celular']?></u></font></td>
	</tr>
	
	<tr>
		<td align="left" width="100%"><font size="10">Estado Civil: <u><?php echo ((isset($this->post_var['estadocivil'])) && ($this->post_var['estadocivil']!="")) ? Funcionarios::getEstadoCivil($this->post_var['estadocivil']) : '' ?></u></font></td>
	</tr>
	
	<tr>
		<td align="left" width="100%"><font size="10">Nome do Cônjuge: <u><?php echo $this->post_var['conjugenome']?></u></font></td>
	</tr>
	
	<tr>
		<td align="left" width="100%"><font size="10">Escolaridade: <u><?php echo ((isset($this->post_var['grauinstrucao'])) && ($this->post_var['grauinstrucao']!="")) ? Funcionarios::getEscolaridade($this->post_var['grauinstrucao']) : '' ?></u></font></td>
	</tr>
	
	<tr>
		<td align="left" width="100%"><font size="10">Admissão na Prefeitura: <u><?php echo (isset($this->post_var['dataadmissao'])) ? Mn_Util::formPostVarData($this->post_var['dataadmissao']) : '' ?></u></font></td>
	</tr>
	
	<tr>
		<td align="left" width="100%"><font size="10">Salário: R$ <u><?php echo number_format($this->post_var['salarioinicial'], 2, ',', '.')?></u></font></td>
	</tr>
	
	<tr>
		<td align="left" width="100%"><font size="10">Cargo: <u><?php echo $this->post_var['cargo']?></u></font></td>
	</tr>
	
	<tr>
		<td align="left" width="100%"><font size="10">Declaramos serem verdadeiras as informações prestadas acima.</font></td>
	</tr>
	
	<tr>
		<td align="left" width="100%"><font size="10">Prefeitura municipal de Itaquaquecetuba</font></td>
	</tr>
	
	<tr>
		<td align="center" width="100%">
			<font size="10">
				__________________________________________
		    </font>
		</td>
	</tr>
</table>
