		<!-- Content -->
		<div id="content">

		    <!-- Content wrapper -->
		    <div class="wrapper">

			    <!-- Breadcrumbs line -->
			    <div class="crumbs">
			    	<?php echo $this->render('/helpers/breadcrumb.phtml') ?>
			    </div>
			    <!-- /breadcrumbs line -->

			    <!-- Page header -->
			    <div class="page-header">
			    	<div class="page-title">
				    	<h5>Formulário do histórico</h5>
				    	<span>Verifique os campos e preencha com os dados</span>
			    	</div>
			    </div>
			    <!-- /page header -->

			    <?php if (isset($this->crudMessage)) : ?>
					<div class="alert alert-success">
	                	<button data-dismiss="alert" class="close" type="button">×</button>
	                    <strong>Operação realizada com sucesso!</strong>
		    			<span><br /><?php echo $this->crudMessage ?></span>
	                </div>			    
			    <?php endif; ?>

				<form id="form" name="form" action="" method="post" class="form-horizontal" enctype="multipart/form-data"> 
					<input type="hidden" value="<?php echo (isset($this->post_var)) ? $this->post_var["id"] : ''; ?>" name="id" id="id" />
					
					<fieldset>
						<!-- General form elements -->
						<div class="widget row-fluid">
						    <div class="navbar">
						        <div class="navbar-inner">
						            <h6>Digite as informações do formulário</h6>
						        </div>
						    </div>

						    <div class="well">
								<?php if (isset($this->erros)) : ?>
									<div class="alert alert-error margin">
				                        <button data-dismiss="alert" class="close" type="button">×</button>
				                        <strong>Há erros no formulário!</strong>
					    				<?php foreach ($this->erros as $k=>$v) : ?>
					    					<span><br />- <?php echo $v ?></span>
					    				<?php endforeach;?>			                        
				                    </div>
			                    <?php endif; ?>						    
					

				<div class="control-group">
					<label class="control-label">Nome completo </label>
					<div class="controls "><input maxlength="500" placeholder="Nome completo" name="nome" value="<?php echo (isset($this->post_var['nome'])) ? $this->post_var['nome'] : '' ?>" type="text"  class="span3" /></div>
				</div>

				<div class="control-group">
					<label class="control-label">E-mail </label>
					<div class="controls"><input maxlength="500" placeholder="E-mail" name="email" value="<?php echo (isset($this->post_var['email'])) ? $this->post_var['email'] : '' ?>" type="text"  class="span3" /></div>
				</div>

				<div class="control-group">
					<label class="control-label">RG </label>
					<div class="controls"><input maxlength="500" placeholder="RG" name="rg" value="<?php echo (isset($this->post_var['rg'])) ? $this->post_var['rg'] : '' ?>" type="text"  class="span3" /></div>
				</div>


				<div class="control-group">
					<label class="control-label">CPF </label>
					<div class="controls"><input maxlength="500" placeholder="CPF" name="cpf" value="<?php echo (isset($this->post_var['cpf'])) ? $this->post_var['cpf'] : '' ?>" type="text"  class="span3" /></div>
				</div>

				<div class="control-group">
					<label class="control-label">Telefone </label>
					<div class="controls"><input maxlength="500" placeholder="Telefone" name="telefone" value="<?php echo (isset($this->post_var['telefone'])) ? $this->post_var['telefone'] : '' ?>" type="text"  class="span3" /></div>
				</div>


				<div class="control-group">					
					<div class="controls1">
						<table class="table table-content">
		                	<thead>
		                		<tr>
		                			<th width="220">Secretaria</th>           			
		                			<th>Departamento</th>  
		                			<th width="220">Cargo</th>
		                			<th width="160">Data</th>   
		                			<th width="100">Status</th>
		                		</tr>
		                	</thead>
		                	<tbody>	
		                			
		                			<?php foreach ($this->rows as $i=>$row) : ?>											
                                                                <tr class="line">										
		                				<td>	
	                                        <?php 
	                                        isset($row['idsecretaria']) ? $secretaria = Secretarias::getSecretariaByIdHelper($row['idsecretaria']) : '-';
	                                        echo isset($secretaria['secretaria']) ? $secretaria['secretaria'] : '--'; 
	                                        ?>		
	                					</td>
		                				<td>
                                            <?php 
												$___rows = Departamentosescolas::getDepartamentosescolasHelper(array('id'=>$row['iddepartamentoescola']));
												$___row = (sizeof($___rows)>0) ? 	$___rows[0] : false;	
												
												echo (($___row) && ((int)$row['iddepartamentoescola']>0)) ? $this->formatTextoBranco($___row['departamento']) : '--';
                                            ?>	
	                					</td>
		                				<td>	                					
                                            <?php 
												$___rows = Escolascargos::getEscolascargosHelper(array('id'=>$row['idcargo']));
												$___row = (sizeof($___rows)>0) ? 	$___rows[0] : false;	
												
												echo (($___row) && ((int)$row['idcargo']>0)) ? $this->formatTextoBranco($___row['cargo']) : '--';
                                            ?>
		                				</td>
		                				<td>
		                					<?php echo date('d/m/Y', strtotime($row['logdata'])) ?><br/>
		                					<?php echo date('G:i', strtotime($row['logdata'])) ?>
	                					</td>
		                				<td>	                					
		                					<?php echo $row['status'] ?>	                					
		                				</td>
		                			</tr>
		                			<?php endforeach;?> 
		                		
		                		
		                	</tbody>
		                </table>						
					</div>
				</div>


						    </div>
						    
			                <div class="form-actions align-right">
			                	<?php if ((isset($this->visualizar)) && ($this->visualizar)) : ?>
			                		<button onclick="window.history.back()" class="btn btn-danger cancelar" type="button">Voltar</button>
			                	<?php else : ?>
				                	<button class="btn btn-primary enviar" type="submit">Salvar</button>
				                	<button onclick="window.history.back()" class="btn btn-danger cancelar" type="button">Cancelar</button>
			                	<?php endif; ?>
			                </div>
						</div>
						<!-- /general form elements -->

					</fieldset> 

				</form>
				<!-- /basic inputs -->

		    </div>
		    <!-- /content wrapper -->

		</div>
		<!-- content -->
				
<script type="text/javascript" src="<?php echo $this->baseUrl('/public/scripts/admin/funcionariosgeraisescolashistoricos_form.js') ?>"></script>
<script type="text/javascript">
	var form_values = {};
	
	<?php if (isset($this->post_var)) :  ?>
		form_values.idsecretaria = '<?php echo (isset($this->post_var['idsecretaria'])) ? $this->post_var['idsecretaria'] : '' ?>';

form_values.idcargo = '<?php echo (isset($this->post_var['idcargo'])) ? $this->post_var['idcargo'] : '' ?>';

form_values.e_idenderecoidestado = '<?php echo (isset($this->post_var['e_idenderecoidestado'])) ? $this->post_var['e_idenderecoidestado'] : '' ?>';
form_values.status1 = '<?php echo (isset($this->post_var['status1'])) ? $this->post_var['status1'] : $this->post_var['status'] ?>';


	<?php endif; ?>

	visualizar = <?php echo  ((isset($this->visualizar)) && ($this->visualizar))  ? 'true' : 'false' ?>;
</script>
