<?php if (sizeof($this->rows)==0) : ?>
<option value="">Selecione...</option>
<option value="">Nenhuma série foi encontrada para essa escola</option>
<?php else : ?>
<option value="">Todos</option>
<?php foreach ($this->rows as $row) : ?>
<option value="<?php echo $row['id'] ?>"><?php echo $row['idgdae'] ?>. <?php echo $row['descricoes'] ?> - <?php echo $row['descricao'] ?></option>
<?php endforeach; ?>
<?php endif; ?>