<?php if (sizeof($this->rows) == 0) : ?>
    <div>Nenhuma sala foi encontrada ou série não selecionada</div>
<?php else : ?>
    <div class="panel-group panel-group-dark" id="accordion2">
        <?php $contador = 0; ?>
        <?php foreach ($this->rows as $row) : ?>
            <?php $total = 0; ?>
            <?php $contador = $contador + 1; ?>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion2" href="#collapse<?php echo $contador ?>">
                            <?php echo $row['sala'] ?> -> <?php echo $row['serie'] ?> -> <?php echo $row['turma'] ?> -> <?php echo $row['periodo'] ?> --- CAPACIDADE MÁXIMA (<span class="capacidadeAluno<?php echo $contador ?>"><?php echo (int) $row['quantidade'] ?></span> de <span class="capacidadeTotal<?php echo $contador ?>"><?php echo (int) $row['quantidade'] ?></span>)
                        </a>
                    </h4>
                </div>
            </div>



            <div id="collapse<?php echo $contador ?>" class="panel-collapse collapse in" >

                <div class="content-alunos" id="aba0<?php echo $contador ?>" >
                    <input type="hidden" class="form-control idvinculo" value="<?php echo $row['id'] ?>" />
                    <input type="hidden" class="form-control idsalavinculo" value="<?php echo $row['idsala'] ?>" />
                    <input type="hidden" class="form-control idperiodovinculo" value="<?php echo $row['idperiodo'] ?>" />
                    <input type="hidden" class="form-control qtdtotal" value="<?php echo $row['quantidade'] ?>" />

                    <div>ARRASTE PARA ADICIONAR MAIS ALUNOS</div>
                    <br clear="all" />
                    <?php if ((int) $this->idescolasalasaluno > 0) : ?>
                        <?php foreach (Escolassalasatribuicoes::getSalasatribuicoesHelper(array('idescolasalasaluno' => $this->idescolasalasaluno, 'idsala' => $row['idsala'], 'idserie' => $row['idserie'], 'idperiodo' => $row['idperiodo'])) as $a => $atribuicoes) : ?>
                            <?php $total = $total + 1; ?>

                            <div class="linha" style="<?php echo (isset($row['cor'])) ? 'background-color:' . $row['cor'] : '' ?>">
                                <div class="fechar">
                                    <a href="javascript:;" title="" onclick="ExcluirAluno(this, <?php echo $atribuicoes['idaluno'] ?>, 'repopula')"><img src="<?php echo $this->baseUrl() ?>/public/admin/imagens/fugue/cross-circle.png" alt="" width="16" /></a>
                                </div>
                                <input type="hidden" class="cor_turma" value="<?php echo $row['cor'] ?>" />
                                <input type="hidden" name="idsitens[]" class="form-control" value="<?php echo $atribuicoes['id'] ?>" />
                                <input type="hidden" name="idsvinculos[]" class="form-control" value="<?php echo $atribuicoes['idvinculo'] ?>" />
                                <input type="hidden" name="idssalas[]" class="form-control" value="<?php echo $atribuicoes['idsala'] ?>" />
                                <input type="hidden" name="idsperiodos[]" class="form-control" value="<?php echo $atribuicoes['idperiodo'] ?>" />
                                <input type="hidden" name="idsalunos[]" class="form-control" value="<?php echo $atribuicoes['idaluno'] ?>" /> <?php echo $this->cortaPalavra(30, $atribuicoes['nomerazao'] . ' ' . $atribuicoes['sobrenomefantasia']) ?>
                            </div>
                        <?php endforeach; ?>

                    <?php endif; ?>
                    <input type="hidden" class="form-control qtdatual" name="quantidadeatual"  value="<?php echo (int) $total ?>"/>
                    <input type="hidden" class="form-control contador" name="contador" value="<?php echo (int) $contador ?>"/>
                    <?php echo '<script type="text/javascript">', 'CalculaAlunos(', $contador, ',', $total, ')', '</script>'; ?>
                    <br class="clear" clear="all" />


                </div>
            </div>

        <?php endforeach; ?>

    </div>
<?php endif; ?>

<script type="text/javascript">
    $(function() {
        $("#accordion").accordion({
            collapsible: true
        });
    });

//    window.onload = function(){
//        CalculaAlunos();
//    }

</script>