		<!-- Content -->
		<div id="content">

		    <!-- Content wrapper -->
		    <div class="wrapper">

			    <!-- Breadcrumbs line -->
			    <div class="crumbs">
			    	<?php echo $this->render('/helpers/breadcrumb.phtml') ?>
			    </div>
			    <!-- /breadcrumbs line -->

			    <!-- Page header -->
			    <div class="page-header">
			    	<div class="page-title">
				    	<h5>Formulário do transportes</h5>
				    	<span>Verifique os campos e preencha com os dados</span>
			    	</div>
			    </div>
			    <!-- /page header -->

			    <?php if (isset($this->crudMessage)) : ?>
					<div class="alert alert-success">
	                	<button data-dismiss="alert" class="close" type="button">×</button>
	                    <strong>Operação realizada com sucesso!</strong>
		    			<span><br /><?php echo $this->crudMessage ?></span>
	                </div>			    
			    <?php endif; ?>

				<form id="form" name="form" action="" method="post" class="form-horizontal" enctype="multipart/form-data"> 
					<input type="hidden" value="<?php echo (isset($this->post_var)) ? $this->post_var["id"] : ''; ?>" name="id" id="id" />
					
					<fieldset>
						<!-- General form elements -->
						<div class="widget row-fluid">
						    <div class="navbar">
						        <div class="navbar-inner">
						            <h6>Digite as informações do formulário</h6>
						        </div>
						    </div>

						    <div class="well">
								<?php if (isset($this->erros)) : ?>
									<div class="alert alert-error margin">
				                        <button data-dismiss="alert" class="close" type="button">×</button>
				                        <strong>Há erros no formulário!</strong>
					    				<?php foreach ($this->erros as $k=>$v) : ?>
					    					<span><br />- <?php echo $v ?></span>
					    				<?php endforeach;?>			                        
				                    </div>
			                    <?php endif; ?>						    
						    

				<div class="control-group">
					<label class="control-label">Pólo <span class="required">*</span></label>
					<div class="controls">
		                <select name="idescola" data-placeholder="Pólo" class="select">
							<option value="">Selecione...</option>
							<?php foreach (Escolas::getEscolasHelper(array('status'=>'Ativo')) as $k=>$v) : ?>
							<option value="<?php echo $v['id'] ?>"><?php echo $v['escola'] ?></option>
							<?php endforeach;?>
						</select>
						
					</div>
				</div>


				<div class="control-group">
					<label class="control-label">Veículo <span class="required">*</span></label>
					<div class="controls">
		                <select name="idveiculo" data-placeholder="Veículo" class="select">
							<option value="">Selecione...</option>
							<?php foreach (Logisticafrotas::getLogisticafrotasHelper(array('status'=>'Ativo')) as $k=>$v) : ?>
							<option value="<?php echo $v['id'] ?>"><?php echo $v['marca'] ?></option>
							<?php endforeach;?>
						</select>
						
					</div>
				</div>


				<div class="control-group">
					<label class="control-label">Aluno <span class="required">*</span></label>
					<div class="controls">
		                <select name="idaluno" data-placeholder="Aluno" class="select">
							<option value="">Selecione...</option>
							<?php foreach (Escolasalunos::getEscolasalunosHelper(array('status'=>'Ativo')) as $k=>$v) : ?>
							<option value="<?php echo $v['id'] ?>"><?php echo $v['nomerazao'] ?></option>
							<?php endforeach;?>
						</select>
						
					</div>
				</div>


				<div class="control-group">
					<label class="control-label">Deficiência <span class="required">*</span></label>
					<div class="controls">
		                <select name="iddeficiencia" data-placeholder="Deficiência" class="select">
							<option value="">Selecione...</option>
							<?php foreach (Educacaoespecialdeficiencias::getEducacaoespecialdeficienciasHelper(array('status'=>'Ativo')) as $k=>$v) : ?>
							<option value="<?php echo $v['id'] ?>"><?php echo $v['deficiencia'] ?></option>
							<?php endforeach;?>
						</select>
						
					</div>
				</div>


				<div class="control-group">
					<label class="control-label">Hora de Início <span class="required">*</span></label>
					<div class="controls"><input type="time" placeholder="Hora de Início" name="horainicio" value="<?php echo (isset($this->post_var['horainicio'])) ? $this->post_var['horainicio'] : '' ?>" type="text"  class="span3" /></div>
				</div>


				<div class="control-group">
					<label class="control-label">Hora Final <span class="required">*</span></label>
					<div class="controls"><input type="time" placeholder="Hora Final" name="horafinal" value="<?php echo (isset($this->post_var['horafinal'])) ? $this->post_var['horafinal'] : '' ?>" type="text"  class="span3" /></div>
				</div>

				<div class="control-group">
					<label class="control-label">Dia da Semana <span class="required">*</span></label>
					<div class="controls">
						<div><input <?= (in_array("Domingo", explode(",", $this->post_var['diassemana']))) ? "checked" : "" ?> class="checksemana" value="Domingo" name="diassemana[]" type="checkbox"> Domingo<br></div>
						<div><input <?= (in_array("Segunda-feira", explode(",", $this->post_var['diassemana']))) ? "checked" : "" ?> class="checksemana" value="Segunda-feira" name="diassemana[]" type="checkbox"> Segunda-feira<br></div>
						<div><input <?= (in_array("Terça-feira", explode(",", $this->post_var['diassemana']))) ? "checked" : "" ?> class="checksemana" value="Terça-feira" name="diassemana[]" type="checkbox"> Terça-feira<br></div>
						<div><input <?= (in_array("Quarta-feira", explode(",", $this->post_var['diassemana']))) ? "checked" : "" ?> class="checksemana" value="Quarta-feira" name="diassemana[]" type="checkbox"> Quarta-feira<br></div>
						<div><input <?= (in_array("Quinta-feira", explode(",", $this->post_var['diassemana']))) ? "checked" : "" ?> class="checksemana" value="Quinta-feira" name="diassemana[]" type="checkbox"> Quinta-feira<br></div>
						<div><input <?= (in_array("Sexta-feira", explode(",", $this->post_var['diassemana']))) ? "checked" : "" ?> class="checksemana" value="Sexta-feira" name="diassemana[]" type="checkbox"> Sexta-feira<br></div>
						<div><input <?= (in_array("Sábado", explode(",", $this->post_var['diassemana']))) ? "checked" : "" ?> class="checksemana" value="Sábado" name="diassemana[]" type="checkbox"> Sábado<br></div>
						
					</div>
				</div>


				<div class="control-group">
					<label class="control-label">Status <span class="required">*</span></label>
					<div class="controls">
						<select name="status1" data-placeholder="Status" class="select">
							<option value="">Selecione...</option>
							<option value="Ativo">Ativo</option><option value="Bloqueado">Bloqueado</option>
						</select>
						
					</div>
				</div>

						    
						    
						    </div>
						    
			                <div class="form-actions align-right">
			                	<?php if ((isset($this->visualizar)) && ($this->visualizar)) : ?>
			                		<button onclick="window.history.back()" class="btn btn-danger cancelar" type="button">Voltar</button>
			                	<?php else : ?>
				                	<button class="btn btn-primary enviar" type="submit">Salvar</button>
				                	<button onclick="window.history.back()" class="btn btn-danger cancelar" type="button">Cancelar</button>
			                	<?php endif; ?>
			                </div>
						</div>
						<!-- /general form elements -->

					</fieldset> 

				</form>
				<!-- /basic inputs -->

		    </div>
		    <!-- /content wrapper -->

		</div>
		<!-- content -->
				
<script type="text/javascript" src="<?php echo $this->baseUrl('/public/scripts/admin/educacaoespecialtransportes_form.js') ?>"></script>
<script type="text/javascript">
	var form_values = {};
	
	<?php if (isset($this->post_var)) :  ?>
		form_values.idescola = '<?php echo (isset($this->post_var['idescola'])) ? $this->post_var['idescola'] : '' ?>';

form_values.idveiculo = '<?php echo (isset($this->post_var['idveiculo'])) ? $this->post_var['idveiculo'] : '' ?>';

form_values.idaluno = '<?php echo (isset($this->post_var['idaluno'])) ? $this->post_var['idaluno'] : '' ?>';

form_values.iddeficiencia = '<?php echo (isset($this->post_var['iddeficiencia'])) ? $this->post_var['iddeficiencia'] : '' ?>';

form_values.diassemana = [<?php echo $this->post_var['diassemana'] ?>];

form_values.status1 = '<?php echo (isset($this->post_var['status1'])) ? $this->post_var['status1'] : $this->post_var['status'] ?>';


	<?php endif; ?>

	visualizar = <?php echo  ((isset($this->visualizar)) && ($this->visualizar))  ? 'true' : 'false' ?>;
</script>
