		<!-- Content -->
		<div id="content">

		    <!-- Content wrapper -->
		    <div class="wrapper">

			    <!-- Breadcrumbs line -->
			    <div class="crumbs">
			    	<?php echo $this->render('/helpers/breadcrumb.phtml') ?>
			    </div>
			    <!-- /breadcrumbs line -->

			    <!-- Page header -->
			    <div class="page-header">
			    	<div class="page-title">
				    	<h5>Formulário do declaração</h5>
				    	<span>Verifique os campos e preencha com os dados</span>
			    	</div>			    	
			    </div>
			    <!-- /page header -->

			    <?php if (isset($this->crudMessage)) : ?>
					<div class="alert alert-success">
	                	<button data-dismiss="alert" class="close" type="button">×</button>
	                    <strong>Operação realizada com sucesso!</strong>
		    			<span><br /><?php echo $this->crudMessage ?></span>
	                </div>			    
			    <?php endif; ?>

				<form id="form" name="form" action="" method="post" class="form-horizontal" enctype="multipart/form-data"> 
					<input type="hidden" value="<?php echo (isset($this->post_var)) ? $this->post_var["id"] : ''; ?>" name="id" id="id" />
					
					<fieldset>
						<!-- General form elements -->
						<div class="widget row-fluid">
						    <div class="navbar">
						        <div class="navbar-inner">
						            <h6>Digite as informações do formulário</h6>
						        </div>
						    </div>

						    <div class="well">
								<?php if (isset($this->erros)) : ?>
									<div class="alert alert-error margin">
				                        <button data-dismiss="alert" class="close" type="button">×</button>
				                        <strong>Há erros no formulário!</strong>
					    				<?php foreach ($this->erros as $k=>$v) : ?>
					    					<span><br />- <?php echo $v ?></span>
					    				<?php endforeach;?>			                        
				                    </div>
			                    <?php endif; ?>						    
						    
 
                <?php $idescola = Usuarios::getUsuario('idescola'); ?>
				<?php $idlocal = Usuarios::getUsuario('idlocal'); ?>
				<?php if(($idescola>0) || ($idlocal>0)): ?>		    
				<div class="control-group">
					<div class="controls1 visualizar">
						<table class="table table-content" width="100%">
							<tbody>
								<tr>
									<input maxlength="500" placeholder="Nome do Usuário" name="idusuario" value="<?php echo Usuarios::getUsuario('id') ?>" type="hidden"  class="span3" />
									<input  placeholder="Data de lançamento" name="datalancamento" value="<?php echo (isset($this->post_var['datalancamento'])) ? Mn_Util::formPostVarData($this->post_var['datalancamento']) : date('d/m/Y') ?>" type="hidden"  class="span3" />
									<input maxlength="500" placeholder="Nome do Usuário" name="idlocal" value="<?php echo Usuarios::getUsuario('idlocal') ?>" type="hidden"  class="span3" />
									<input maxlength="500" placeholder="Nome do Usuário" name="idescola" value="<?php echo Usuarios::getUsuario('idescola') ?>" type="hidden"  class="span3" />

									<td width="20%">Nome do Usuário: <?php echo Usuarios::getUsuario('nomerazao') . " - " . Usuarios::getUsuario('rgf') ?></td>
									<td width="20%">Data da Abertura: <?php echo date('d/m/Y') ?></td>
									<td width="33%">Escola: <?php 
											$local = Escolas::getEscolaByIdHelper(Usuarios::getUsuario('idescola')); 
											echo ((isset($local['escola'])) && ($local['escola']) && ($local['escola']!="") ) ? $local['escola'] : '';
										?>
											
									</td>
								</tr>
							</tbody>
						</table>
						
					</div>
				</div>
				<?php else: ?>
				<div class="control-group">
					<div class="controls1 visualizar">
						<table class="table table-content" width="100%">
							<tbody>
								<tr>
									<input maxlength="500" placeholder="Nome do Usuário" name="idusuario" value="<?php echo Usuarios::getUsuario('id') ?>" type="hidden"  class="span3" />
									<input  placeholder="Data de lançamento" name="datalancamento" value="<?php echo (isset($this->post_var['datalancamento'])) ? Mn_Util::formPostVarData($this->post_var['datalancamento']) : date('d/m/Y') ?>" type="hidden"  class="span3" />
									
									<td width="50%">Nome do Usuário: <?php echo Usuarios::getUsuario('nomerazao') . " - " . Usuarios::getUsuario('rgf') ?></td>
									<td width="50%">Data da Abertura: <?php echo date('d/m/Y') ?></td>
									
								</tr>
							</tbody>
						</table>
						
					</div>
				</div>
				<?php endif; ?>
							
				<?php if(((int)$idescola>0) || ((int)$idlocal>0)): ?>

				<?php else: ?>
				<div class="control-group">
					<label class="control-label">Escolas <span class="required">*</span></label>
					<div class="controls">
                        <select id="idescola" name="idescola"  class="select">
	                        <option value="">Selecione...</option>
	                        <?php foreach ($this->escolas as $e=>$row): ?>
	                        <option value="<?php echo $row['id'] ?>"><?php echo $row['escola'] ?></option>
	                        <?php endforeach;?>
                        </select>   
					</div>
				</div>
				<?php endif; ?>
				<input type="hidden" name="idsecretaria" value="1">
				<div class="control-group">
					<label class="control-label">Tipo </label>
					<div class="controls">
						<select name="tipo" data-placeholder="Tipo" class="select" onchange="setCampos(this)">
							<option value="">Selecione...</option>
							<option value="É aluno (a) regularmente matriculado (a) e está frequentando até a presente data o _________ ano do Ensino Fundamental nesta Unidade Escolar no horário das ______ às ______.">É aluno (a) regularmente matriculado (a) e está frequentando até a presente data o _________ ano do Ensino Fundamental nesta Unidade Escolar no horário das ______ às ______.</option>
							<option value="Foi Aluno (a) regularmente matriculado (a) no ____ ano nesta Unidade Escolar, no ano de ____. Tendo sido considerado (a) ___________________________________">Foi Aluno (a) regularmente matriculado (a) no ____ ano nesta Unidade Escolar, no ano de ____. Tendo sido considerado (a) ___________________________________</option>
							<option value="Concluiu o __________ ano nesta Unidade Escolar estando apto a cursar o ______________ ano do ensino fundamental">Concluiu o __________ ano nesta Unidade Escolar estando apto a cursar o ______________ ano do ensino fundamental</option>
							<option value="Solicitou uma vaga no __________ ano do Ensino Fundamental nesta Unidade Escolar que poderá ser preenchida pelo (a) mesmo (a) desde que apresente a documentação necessária para a sua matrícula. Esta declaração é válida por _______ dias a partir da presente data.">Solicitou uma vaga no __________ ano do Ensino Fundamental nesta Unidade Escolar que poderá ser preenchida pelo (a) mesmo (a) desde que apresente a documentação necessária para a sua matrícula. Esta declaração é válida por _______ dias a partir da presente data.</option>
							<option value="Solicitou nesta data sua transferência para outra Unidade Escolar com direito a matricular-se no _____ ano do Ensino Fundamental. Sua documentação será entregue no prazo máximo de _____ dias.">Solicitou nesta data sua transferência para outra Unidade Escolar com direito a matricular-se no _____ ano do Ensino Fundamental. Sua documentação será entregue no prazo máximo de _____ dias.</option>
							<option value="É aluno (a) regularmente matriculado (a) no _______ ano letivo de ________ solicitou sua transferência com direito a matrícula no ________ ano do Ensino Fundamental. Sua documentação será entregue no prazo máximo de _______ dias.">É aluno (a) regularmente matriculado (a) no _______ ano letivo de ________ solicitou sua transferência com direito a matrícula no ________ ano do Ensino Fundamental. Sua documentação será entregue no prazo máximo de _______ dias.</option>
						</select>
						<div class="sample-text" style="width: 290px; background: #efefef;   padding: 5px; border: 1px solid #fff; color: #333; font-size:  1.1em; font-family: Arial, Helvetica, sans-serif; text-align: left; display: none"></div>
					</div>
				</div>

				<div class="box-tipo1" style="display:none;">
					<div class="control-group">
						<label class="control-label">Série </label>
						<div class="controls"><input maxlength="500" placeholder="Série" name="serie" value="<?php echo (isset($this->post_var['serie'])) ? $this->post_var['serie'] : '' ?>" type="text"  class="span3" /></div>
					</div>


					<div class="control-group">
						<label class="control-label">Hora Início </label>
						<div class="controls"><input  placeholder="Hora Início" name="horainicio" value="<?php echo (isset($this->post_var['horainicio'])) ? $this->post_var['horainicio'] : '' ?>" type="text"  class="span3" /></div>
					</div>


					<div class="control-group">
						<label class="control-label">Hora Fim </label>
						<div class="controls"><input  placeholder="Hora Fim" name="horafim" value="<?php echo (isset($this->post_var['horafim'])) ? $this->post_var['horafim'] : '' ?>" type="text"  class="span3" /></div>
					</div>
				</div>

				<div class="box-tipo2" style="display:none;">
					<div class="control-group">
						<label class="control-label">Matriculado (a) no Ano: </label>
						<div class="controls"><input  placeholder="Matriculado (a) no Ano:" name="anosegundoitem" value="<?php echo (isset($this->post_var['anosegundoitem'])) ? $this->post_var['anosegundoitem'] : '' ?>" type="text"  class="span3" /></div>
					</div>

					<div class="control-group">
						<label class="control-label">No ano de: </label>
						<div class="controls"><input  placeholder="Ano" name="ano" value="<?php echo (isset($this->post_var['ano'])) ? $this->post_var['ano'] : '' ?>" type="text"  class="span3" /></div>
					</div>


					<div class="control-group">
						<label class="control-label">Considerado (a): </label>
						<div class="controls"><input maxlength="500" placeholder="Considerado" name="considerado" value="<?php echo (isset($this->post_var['considerado'])) ? $this->post_var['considerado'] : '' ?>" type="text"  class="span3" /></div>
					</div>
				</div>

				<div class="box-tipo3" style="display:none;">
					<div class="control-group">
						<label class="control-label">Concluio o: </label>
						<div class="controls"><input maxlength="500" placeholder="Concluio o" name="anoterceiroitem" value="<?php echo (isset($this->post_var['anoterceiroitem'])) ? $this->post_var['anoterceiroitem'] : '' ?>" type="text"  class="span3" /></div>
					</div>

					<div class="control-group">
						<label class="control-label">Apto a cursar o: </label>
						<div class="controls"><input maxlength="500" placeholder="Próximo ano" name="proximoano" value="<?php echo (isset($this->post_var['proximoano'])) ? $this->post_var['proximoano'] : '' ?>" type="text"  class="span3" /></div>
					</div>
				</div>

				<div class="box-tipo4" style="display:none;">
					<div class="control-group">
						<label class="control-label">Solicitação uma vaga no: </label>
						<div class="controls"><input maxlength="500" placeholder="Solicitação uma vaga no: " name="solicitacaovaga" value="<?php echo (isset($this->post_var['solicitacaovaga'])) ? $this->post_var['solicitacaovaga'] : '' ?>" type="text"  class="span3" /></div>
					</div>


					<div class="control-group">
						<label class="control-label">Valido por (dias): </label>
						<div class="controls"><input  placeholder="Valido por" name="validapor" value="<?php echo (isset($this->post_var['validapor'])) ? $this->post_var['validapor'] : '' ?>" type="text"  class="span3" /></div>
					</div>
				</div>


				<div class="box-tipo5" style="display:none;">
					<div class="control-group">
						<label class="control-label">Matricular-se no ano: </label>
						<div class="controls"><input  placeholder="Ano" name="vagaano" value="<?php echo (isset($this->post_var['vagaano'])) ? $this->post_var['vagaano'] : '' ?>" type="text"  class="span3" /></div>
					</div>


					<div class="control-group">
						<label class="control-label">Prazo máxmo de dias: </label>
						<div class="controls"><input  placeholder="Dias" name="vagadias" value="<?php echo (isset($this->post_var['vagadias'])) ? $this->post_var['vagadias'] : '' ?>" type="text"  class="span3" /></div>
					</div>
				</div>

				<div class="box-tipo6" style="display:none;">
					<div class="control-group">
						<label class="control-label">O aluno é regularmente matriculado (a) no ano: </label>
						<div class="controls"><input maxlength="500" placeholder="O aluno é regularmente matriculado (a) no ano: " name="anoregulamentado" value="<?php echo (isset($this->post_var['anoregulamentado'])) ? $this->post_var['anoregulamentado'] : '' ?>" type="text"  class="span3" /></div>
					</div>


					<div class="control-group">
						<label class="control-label">Ano letivo de: </label>
						<div class="controls"><input maxlength="500" placeholder="Ano letivo de: " name="tituloregulamentado" value="<?php echo (isset($this->post_var['tituloregulamentado'])) ? $this->post_var['tituloregulamentado'] : '' ?>" type="text"  class="span3" /></div>
					</div>


					<div class="control-group">
						<label class="control-label">Com direito a mátricula no ano: </label>
						<div class="controls"><input  placeholder="Com direito a mátricula no ano:" name="proximoanoregulamentado" value="<?php echo (isset($this->post_var['proximoanoregulamentado'])) ? $this->post_var['proximoanoregulamentado'] : '' ?>" type="text"  class="span3" /></div>
					</div>


					<div class="control-group">
						<label class="control-label">Prazo máxmo de dias: </label>
						<div class="controls"><input  placeholder="Prazo máxmo de dias: " name="diasregulamentado" value="<?php echo (isset($this->post_var['diasregulamentado'])) ? $this->post_var['diasregulamentado'] : '' ?>" type="text"  class="span3" /></div>
					</div>
				</div>

				<div class="control-group">
					<label class="control-label">Alunos <span class="required">*</span></label>
					<div class="controls">
		                <select name="idaluno" data-placeholder="Alunos" class="select">
							<option value="">Selecione...</option>
							<?php foreach (Escolasalunos::getEscolasalunosHelper(array('status'=>'Ativo', 'idescola' => $idescola)) as $k=>$v) : ?>
							<option value="<?php echo $v['id'] ?>"><?php echo $v['nomerazao'] ?></option>
							<?php endforeach;?>
						</select>
						
					</div>
				</div>
				<div class="control-group">
					<?php
					$idescola = Usuarios::getUsuario('idescola'); 
                	if($idescola>0):
                		$_data = Usuarios::getEscolaAtiva(Usuarios::getUsuario('id'));
                	endif;?>
					<label class="control-label">Diretora </label>
					<div class="controls">
						<input type="hidden" name="iddiretora" value="0">

						<?php echo (isset($_data['gestorescolarnome'])) ? $_data['gestorescolarnome'] : '' ?>
		                <!--<select name="iddiretora" data-placeholder="Diretora" class="select">
							<option value="">Selecione...</option>
							<?php //foreach (Funcionariosgeraisescolas::getFuncionariosgeraisescolasHelper(array('status'=>'Ativo', 'idescola'=> $idescola, 'idperfil'=>29)) as $k=>$v) : ?>
							<option value="<?php //echo $v['id'] ?>"><?php //echo $v['nome'] ?></option>
							<?php //endforeach; 
							 ?>
						</select>-->
					</div>
				</div>

				<div class="control-group">
					<label class="control-label">Status <span class="required">*</span></label>
					<div class="controls">
						<select name="status1" data-placeholder="Status" class="select">
							<option value="">Selecione...</option>
							<option value="Ativo">Ativo</option>
							<option value="Bloqueado">Bloqueado</option>
						</select>
						
					</div>
				</div>

						    
						    
						    </div>
						    
			                <div class="form-actions align-right">
			                	<?php if ((isset($this->visualizar)) && ($this->visualizar)) : ?>
			                		<button onclick="window.history.back()" class="btn btn-danger cancelar" type="button">Voltar</button>
			                	<?php else : ?>
				                	<button class="btn btn-primary enviar" type="submit">Salvar</button>
				                	<button onclick="window.history.back()" class="btn btn-danger cancelar" type="button">Cancelar</button>
			                	<?php endif; ?>
			                </div>
						</div>
						<!-- /general form elements -->

					</fieldset> 

				</form>
				<!-- /basic inputs -->

		    </div>
		    <!-- /content wrapper -->

		</div>
		<!-- content -->
				
<script type="text/javascript" src="<?php echo $this->baseUrl('/public/scripts/admin/secretariasdeclaracoes_form.js') ?>"></script>
<script type="text/javascript">
	var form_values = {};
	
	<?php if (isset($this->post_var)) :  ?>
		form_values.idusuariologado = '<?php echo (isset($this->post_var['idusuariologado'])) ? $this->post_var['idusuariologado'] : '' ?>';

form_values.idescola = '<?php echo (isset($this->post_var['idescola'])) ? $this->post_var['idescola'] : '' ?>';

form_values.idsecretaria = '<?php echo (isset($this->post_var['idsecretaria'])) ? $this->post_var['idsecretaria'] : '' ?>';

form_values.tipo = '<?php echo (isset($this->post_var['tipo'])) ? $this->post_var['tipo'] : '' ?>';

form_values.idaluno = '<?php echo (isset($this->post_var['idaluno'])) ? $this->post_var['idaluno'] : '' ?>';

form_values.iddiretora = '<?php echo (isset($this->post_var['iddiretora'])) ? $this->post_var['iddiretora'] : '' ?>';

form_values.status1 = '<?php echo (isset($this->post_var['status1'])) ? $this->post_var['status1'] : $this->post_var['status'] ?>';


	<?php endif; ?>

	visualizar = <?php echo  ((isset($this->visualizar)) && ($this->visualizar))  ? 'true' : 'false' ?>;
</script>
