<option value="">Todos</option>
<?php 
	$idescola = (isset($_POST['idescola']) && $_POST['idescola'] > 0) ? $_POST['idescola'] : '';
	if($idescola):
		$idescola = (int)$idescola;
		foreach (Escolasalunos::getEscolasalunosHelper(array('status'=>'Ativo', 'idescola'=>$idescola)) as $k=>$v) : ?>
		<option value="<?php echo $v['id'] ?>"><?php echo $v['nomerazao'] ?></option>
	<?php endforeach;
	else:
		foreach (Escolasalunos::getEscolasalunosHelper(array('status'=>'Ativo')) as $k=>$v) : ?>
		<option value="<?php echo $v['id'] ?>"><?php echo $v['nomerazao'] ?></option>
	<?php endforeach;
 endif; ?>
   
   
	