<!-- Content -->
<div id="content">

    <!-- Content wrapper -->
    <div class="wrapper">

        <!-- Breadcrumbs line -->
        <div class="crumbs">
            <?php echo $this->render('/helpers/breadcrumb.phtml') ?>
        </div>
        <!-- /breadcrumbs line -->

        <!-- Page header -->
        <div class="page-header">
            <div class="page-title">
                <h5>Pontos mensais no sistema</h5>
                <span>Visualize os postos mensais do sistema</span>
            </div>
        </div>
        <!-- /page header -->

        <?php if (isset($this->crudMessage)) : ?>
            <div class="alert alert-success">
                <button data-dismiss="alert" class="close" type="button">×</button>
                <strong>Operação realizada com sucesso!</strong>
                <span><br /><?php echo $this->crudMessage ?></span>
            </div>			    
        <?php endif; ?>


        <!--     Formulário de apresentação dos dados do funcionário escolhido      -->

        <div class="widget">
            <div class="navbar">
                <div class="navbar-inner">
                    <h4><small>Funcionário : </small> <?php echo $this->funcionarioGeral['nome']?></h4>
                    <h4><small>Função : </small><?php echo $this->funcionarioGeral['funcao']?></h4>
                    <h4><small>CPF : </small><?php echo $this->funcionarioGeral['cpf']?></h4>
                    <h4><small>Horário de Trabalho : </small>Entrada/Saída : 08:00 ás 17:00 &nbsp &nbsp; Pausas : 11:30 ás 13:00</h4>
                </div> 
            </div> 

        </div>

        <!-- Final do Formulário de apresentação dos dados do funcionário escolhido -->


        <!-- Table with footer -->
        <div class="widget">
            <form action="#" class="form-horizontal" method="post">
                <input type="hidden" value="<?php echo (isset($this->post_var['sorting'])) ? $this->post_var['sorting'] : '' ?>" name="sorting" />
                <div class="navbar">
                    <div class="navbar-inner">
                        <h6>Visualizando registros</h6>
                        <?php if (Mn_Util::isAccess($this->getController(), 'adicionar')) : ?>
                            <a style="float:right;" href="<?php echo $this->baseUrl() ?>/<?php echo 'admin' ?>/<?php echo $this->getController() ?>/adicionar" class="btn btn-primary"><span class="icon-print"></span>&nbsp;Imprimir Relatório</a>
                        <?php endif; ?>
                    </div>
                </div>
                <div class="table-overflow">
                    <table class="table table-content">
                        <thead>
                            <tr>
                                <th width="20">#</th>
<!--                                    <th class="s-idfuncionario sorting">Funcionário</th>-->
                                <th class="s-dia sorting">Data Inicial</th>
                                <th class="s-diasemana sorting">Data Final</th>
                                <th>&nbsp; &nbsp; &nbsp;</th>
                                <th>&nbsp; &nbsp; &nbsp;</th>
                                <th>&nbsp; &nbsp; &nbsp;</th>
                                <th></th>
                                <th></th>
                            </tr>
                            <tr>
                                <th></th>

                                            <!--<th>
                                                    <div>
                                                            <select name="idfuncionario" placeholder="Todos" class="select">
                                                                    <option value="">Todos</option>
                                <?php //foreach (Funcionariosgerais::getFuncionariosgeraisHelper(array('status'=>'Ativo')) as $k=>$v) : ?>
                                                                            <option value="<?php //echo $v['id']  ?>"><?php //echo $v['nome']  ?></option>
                                <?php //endforeach;?>
                                                            </select>
                                                    </div>
                                            </th>-->

                                <th>
                                    <input id="dia_i" name="dia_i" value="<?php echo (isset($this->post_var['dia_i'])) ? Mn_Util::formPostVarData($this->post_var['dia_i']) : '' ?>" type="text" placeholder="Dia inicial" class="span3"><br>
                                </th>
                                <th>
                                    <input id="dia_f" name="dia_f" value="<?php echo (isset($this->post_var['dia_f'])) ? Mn_Util::formPostVarData($this->post_var['dia_f']) : '' ?>" type="text" placeholder="Dia final" class="span3">
                                </th>

                                <th>
                                    <!--<div>
                                            <select name="diasemana" placeholder="Todos" class="select">
                                                    <option value="">Todos</option>
                                                    <option value="Segunda Feira">Segunda Feira</option><option value="Terça Feira">Terça Feira</option><option value="Quarta Feira">Quarta Feira</option><option value="Quinta Feira">Quinta Feira</option><option value="Sexdta Feira">Sexdta Feira</option><option value="Sábado">Sábado</option><option value="Domingo">Domingo</option>
                                            </select>
                                    </div>-->
                                </th>
                                <th><!--<input name="observacoes" value="<?php //echo (isset($this->post_var['observacoes'])) ? $this->post_var['observacoes'] : ''  ?>" type="text" placeholder="Observações" class="span3">--></th>

                                <th>
                                    <!--<div>
                                            <select name="status1" placeholder="Todos" class="select">
                                                    <option value="">Todos</option>
                                                    <option value="Ativo">Ativo</option><option value="Bloqueado">Bloqueado</option>
                                            </select>
                                    </div>-->
                                </th>

                                <th></th>


                                <th><div class="btn btn-mini btn-primary" type="submit" style="cursor: pointer" onclick="gradehorario()">Pesquisar</div></th>

                            </tr> 

                        </thead>
                        <tbody id="tabela">
                            <!--
                            <?php //if (sizeof($this->rows)==0) : ?>
                            <tr>
                                <td colspan="7">Nenhum registro foi encontrado!</td>
                            </tr>
                            
                            <?php //else : ?>
                            <?php //foreach ($this->rows as $row) : ?>
                            <tr>
                                    <td><?php //echo $row['id']  ?></td>


                                                                    <td>
                            <?php
                            //$___rows = Funcionariosgerais::getFuncionariosgeraisHelper(array('id'=>$row['idfuncionario']));
                            //$___row = (sizeof($___rows)>0) ? 	$___rows[0] : false;	
                            //echo ($___row) ? $this->formatTextoBranco($___row['nome']) : '--';		
                            ?>
                                                                    </td>
                                                                    <td><?php //echo date('d/m/Y', strtotime($row['dia'])) ?></td>
                                                                    <td><?php //echo $row['diasemana']  ?></td>
                                                                    <td><?php //echo $row['observacoes']  ?></td>

                                                                    <td>
                            <?php //if (Mn_Util::isAccess($this->getController(), 'editar')) :  ?>
                                                                                    <a onclick="javascript:statusChange(<?php //echo $row["id"]?>, this);" href="javascript:;"><?php //echo $row['status'] ?></a>
                            <?php //else :  ?>
                            <?php echo $row['status'] ?>
                            <?php //endif; ?>
                                                                    </td>

                                                            

                                <td>
                                    <ul class="table-controls">
                                        <li><a title="" class="btn tip" href="<?php echo $this->baseUrl() ?>/<?php echo 'admin' ?>/<?php echo $this->getController() ?>/visualizar/id/<?php echo $row['id'] ?>" data-original-title="Visualizar"><i class="icon-eye-open"></i></a> </li>
                            <?php //if (Mn_Util::isAccess($this->getController(), 'editar')) :  ?>
                                        <li><a title="" class="btn tip" href="<?php echo $this->baseUrl() ?>/<?php echo 'admin' ?>/<?php echo $this->getController() ?>/editar/id/<?php echo $row['id'] ?>" data-original-title="Editar"><i class="icon-pencil"></i></a> </li>
                            <?php //endif; ?>
                            <?php //if (Mn_Util::isAccess($this->getController(), 'excluir')) : ?>
                                        <li><a title="" class="btn tip" href="javascript:confirmDelete('<?php echo $row['id']; ?>','registro');" data-original-title="Excluir"><i class="icon-remove"></i></a> </li>
                            <?php //endif;  ?>
                                    </ul>
                                </td>
                            </tr>
                            <?php //endforeach; ?>
                            
                            
                            <?php //endif;  ?>

                        </tbody>
                            -->
                    </table>
                </div>
                <?php echo $this->render('/helpers/paginator.phtml') ?>

            </form>

        </div>
        <!-- /table with footer -->



    </div>
    <!-- /content wrapper -->

</div>
<!-- content -->


<script type="text/javascript" src="<?php echo $this->baseUrl('/public/scripts/admin/pontosmensais_index.js') ?>"></script>
<script type="text/javascript">

                                                var form_values = {};
<?php if (isset($this->post_var)) : ?>
                                                    form_values.idfuncionario = '<?php echo (isset($this->post_var['idfuncionario'])) ? $this->post_var['idfuncionario'] : '' ?>';

                                                    form_values.diasemana = '<?php echo (isset($this->post_var['diasemana'])) ? $this->post_var['diasemana'] : '' ?>';

                                                    form_values.status1 = '<?php echo (isset($this->post_var['status1'])) ? $this->post_var['status1'] : $this->post_var['status'] ?>';


<?php endif; ?>

                                                var sorting = ["idfuncionario", "dia", "diasemana", "horaentrada", "horasaida", "observacoes", "status"];

                                                function gradehorario() {

                                                    var resposta = document.getElementById("tabela");
                                                    var dia_inicio = document.getElementById("dia_i").value;
                                                    var dia_final = document.getElementById("dia_f").value;

                                                    // Trocando os valores com expressões regulares javascript
                                                    var re = /\//g;
                                                    var dia_fin = dia_final.replace(re, "-");
                                                    var dia_in = dia_inicio.replace(re, "-");
                                                    var id =  <?php echo $this->idPost ?>;
                                                    
                                                    $.ajax({
                                                        url: baseUrl + '/admin/pontosmensais/envioajax',
                                                        type: 'post',
                                                        data: {
                                                            id: id,
                                                            valor: "teste de valor funcionando",
                                                            dia_i: dia_in,
                                                            dia_f: dia_fin
                                                        },
                                                        beforeSend: function () {
                                                            $("#tabela").html("ENVIO");
                                                        }}).done(function (msg) {
                                                        $("#tabela").html(msg);
                                                    });

                                                    //resposta.innerHTML = strConteudo;
                                                }//end function

                                                function cadastrarponto(id) {

                                                    //Referenciando linha
                                                    var elemento = document.getElementById('linha-' + id);

                                                    // Setando elementos definidos no banco de dados via Ajax
                                                    var dia = document.getElementById('day-' + id).textContent;
                                                    var data = document.getElementById('data-' + id).textContent;
                                                    var entrada = document.getElementById('entrada-' + id).value;
                                                    var saida = document.getElementById('saida-' + id).value;
                                                    var entradaPausa = document.getElementById('entradapausa-' + id).value;
                                                    var saidaPausa = document.getElementById('saidapausa-' + id).value;

                                                    // Retirando valores selecionados so elemento select da table contendo as ocorrências do dia
                                                    var e = document.getElementById('obs-' + id);
                                                    var valorObs = e.options[e.selectedIndex].value;
                                                    var textoObs = e.options[e.selectedIndex].text;
                                                    
                                                    var idrhfuncionario =  <?php echo $this->idPost ?>;
                                                    var idfuncionario = <?php echo $this->funcionarioGeral['id'] ?>;
                                                    
                                                    // Inclusão de forma dinamica dos dados de lançamento
                                                    $.ajax({
                                                        url: baseUrl + '/admin/pontosmensais/incluiponto',
                                                        type: 'post',
                                                        data: {
                                                            id_rhfuncionario: idrhfuncionario,
                                                            id_funcionario: idfuncionario,
                                                            data_json: data,
                                                            entrada_json: entrada,
                                                            saida_json: saida,
                                                            entradapausa_json: entradaPausa,
                                                            saidapausa_json: saidaPausa,
                                                            observacao: textoObs
                                                        },
                                                        beforeSend: function () {
                                                            //$("#tabela").html("ENVIO");          
                                                        }}).done(function () {
                                                        elemento.innerHTML = "<td>" + dia + "</td><td>" + data + "</td><td>" + entrada + "</td><td>" + saida + "</td><td>" + entradaPausa + "</td><td>" + saidaPausa + "</td><td> " + valorObs + " </td><td><div class='btn tip' onclick='editarponto()'>&nbsp;<i class='icon-edit'></i>&nbsp;</div></td>";
                                                        elemento.classList.toggle('success');
                                                    });

                                                }//end function cadastrar ponto

                                                function confirmarTodos() {

                                                    var total = document.getElementById('total_linhas').value;
                                                    //alert("inicio" + "0" + "final" + total );
                                                    for (var i = 0; i <= total; i++) {

                                                        if (document.getElementById("linha-" + i)) {
                                                            cadastrarponto(i);
                                                        }//end if

                                                    }//end for
                                                }//end function conformarTodos

                                                function editarponto(id) {

                                                    alert("edita " + id);

                                                }//end function editarponto

</script>	


