<?php 
include_once BASE_PATH . '/public/scripts/ckeditor/ckeditor.php';
require_once BASE_PATH . '/public/scripts/ckfinder/ckfinder.php';

$ckeditor = new CKEditor();
$ckeditor->basePath	= $this->baseUrl('/public/scripts/ckeditor/');

$ckfinder = $this->baseUrl('/public/scripts/ckfinder/');

CKFinder::SetupCKEditor($ckeditor, $ckfinder);
?>
<!-- Content -->
<div id="content">

  <!-- Content wrapper -->
  <div class="wrapper">

   <!-- Breadcrumbs line -->
   <div class="crumbs">
    <?php echo $this->render('/helpers/breadcrumb.phtml') ?>
  </div>
  <!-- /breadcrumbs line -->

  <!-- Page header -->
  <div class="page-header">
    <div class="page-title">
     <h5>Formulário da entidade</h5>
     <span>Informe os dados da entidade.</span>
   </div>
 </div>
 <!-- /page header -->

 <?php if (isset($this->crudMessage)) : ?>
   <div class="alert alert-success">
    <button data-dismiss="alert" class="close" type="button">×</button>
    <strong>Operação realizada com sucesso!</strong>
    <span><br /><?php echo $this->crudMessage ?></span>
  </div>			    
<?php endif; ?>

<form id="form" name="form" action="" method="post" class="form-horizontal" enctype="multipart/form-data"> 

  <input type="hidden" value="<?php echo (isset($this->post_var['id'])) ? $this->post_var["id"] : ''; ?>" name="id" id="id" />

  <div class="control-group">
    <label class="control-label">Entidade <span class="required">*</span></label>
    <div class="controls">
      <input maxlength="500" size="50" placeholder="Entidade" name="entidade" <?php if ($this->visualizar) {echo 'disabled="true"';} else {echo 'enabled="true"';} ?> value="<?php echo (isset($this->post_var)) ? $this->post_var['entidade'] : "" ?>" type="text"  class="span3" />
    </div>
  </div>

  <div class="control-group">
    <label class="control-label">Tipo </label>
    <div class="controls">
      <select name="tipo" id="tipo" data-placeholder="Tipo de Entidade" class="select" <?php if ($this->visualizar) {echo 'disabled="true"';} else {echo 'enabled="true"';} ?> >
        <option value="">Selecione...</option>
        <?php foreach (Ltetipos::gettipos() as $i=>$row) : ?>
          <option value="<?php echo $row['tipo'] ?>"><?php echo $row['tipoentidade'] ?></option>
        <?php endforeach; ?>
      </select>
    </div>
  </div>

  <div class="control-group">
    <label class="control-label">Observações</label>
    <div class="controls">
      <textarea name="observacoes" <?php if ($this->visualizar) {echo 'disabled="true"';} else {echo 'enabled="true"';} ?> class="span3" ><?php echo (isset($this->post_var['observacoes'])) ? $this->post_var['observacoes'] : '' ?></textarea>
    </div>
  </div>

  <div class="control-group">
    <label class="control-label">Status <span class="required">*</span></label>
    <div class="controls">
      <select name="status" data-placeholder="Status" class="select" <?php if ($this->visualizar) {echo 'disabled="true"';} else {echo 'enabled="true"';} ?> >
        <option value="">Selecione...</option>
        <option value="Ativo">Ativo</option>
        <option value="Bloqueado">Bloqueado</option>
      </select>
    </div>
  </div>

  <div class="box-colecoes col-sm-12 panel-group" id="accordion" >    
    <?php echo $this->render('/lteentidades/helpers/form_dados_contatos.phtml') ?>
    <?php echo $this->render('/lteentidades/helpers/form_dados_enderecos.phtml') ?>
    <?php echo $this->render('/lteentidades/helpers/form_dados_mapas.phtml') ?>

    <div class="control-group">
      <div class="controls_1">
      </div>
    </div>

  </div>  

  <div class="panel-footer">
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3">
        <?php if ((isset($this->visualizar)) && ($this->visualizar)) : ?>
        <button type="button" onclick="window.history.back()" class="btn btn-default">Voltar</button>
        <?php else : ?>
          <button class="btn btn-primary">Salvar</button>&nbsp;
          <button onclick="window.history.back()" class="btn btn-danger cancelar" type="button">Cancelar</button>
        <?php endif;?>
      </div>
    </div>
  </div><!-- panel-footer -->				
  <br /><br /><br />
</form>
<!-- /basic inputs -->

</div>
<!-- /content wrapper -->

</div>
<!-- content -->


<script type="text/javascript" src="<?php echo $this->baseUrl('/public/scripts/admin/lteentidades_form.js') ?>"></script>

<script type="text/javascript">
	var form_values = {};
	<?php if (isset($this->post_var['status'])) :  ?>
    form_values.status = '<?php echo (isset($this->post_var['status'])) ? $this->post_var['status'] : $this->post_var['status'] ?>';
  <?php endif; ?>

  <?php if (isset($this->post_var['tipo'])) :  ?>
    form_values.tipo = '<?php echo (isset($this->post_var['tipo'])) ? $this->post_var['tipo'] : $this->post_var['tipo'] ?>';
  <?php endif; ?>

  <?php if (isset($this->post_var['idbairro'])) :  ?>
    form_values.idbairro = '<?php echo (isset($this->post_var['idbairro'])) ? $this->post_var['idbairro'] : $this->post_var['idbairro'] ?>';
  <?php endif; ?>

  <?php if (isset($this->post_var['idcidade'])) :  ?>
    form_values.idcidade = '<?php echo (isset($this->post_var['idcidade'])) ? $this->post_var['idcidade'] : $this->post_var['idcidade'] ?>';
  <?php endif; ?>
</script>

