
<table width="100%" cellpadding="0" cellspacing="0" border="0" nobr="true">	
	<tr>
		<th align="left" width="30%"><img src="<?php echo $this->baseUrl('/public/admin/img/fnde.png') ?>" width="100" /></th>
		<th align="left" width="70%"><font size="6">&nbsp;</font></th>
	</tr>
	<tr>
		<th align="left" width="30%"><font size="6"><b>FUNDO NACIONAL DE DESENVOLVIMENTO DA EDUCAÇÃO</b></font></th>
		<th align="left" width="70%"><font size="6">&nbsp;</font></th>
	</tr>
	<tr>
		<th align="left" width="30%"><font size="6">DIRETORIA FINANCEIRA</font></th>
		<th align="left" width="70%"><font size="6">&nbsp;</font></th>
	</tr>
	<tr>
		<td align="left" width="80%"><font size="8">COORDENAÇÃO-GERAL DE CONTABILIDADE E ACOMPANHAMENTO DE PRESTAÇÃO DE CONTAS</font> &nbsp;<br /></td>
		<td align="left" width="20%"><font size="8">PRESTAÇÃO DE CONTAS</font><br /></td>
	</tr>
	<tr>
		<td align="left" width="50%">&nbsp;</td>
		<td align="left" width="50%"><font size="6">DEMONSTRATIVO DE EXECUÇÃO DA RECEITA, DESPESA E PAGAMENTOS EFETUADOS</font></td>
	</tr>
</table>	

<table width="100%" cellpadding="2" cellspacing="0" border="1" nobr="true">
	<tr>
		<th align="left" width="100%">BLOCO 1 - IDENTIFICAÇÃO</th>
	</tr>
	<tr>
		<th align="left" width="80%">01 - Programa / Ação</th>
		<th align="left" width="20%">02 - Exercício</th>
	</tr>
	<tr>
		<td align="left" width="80%"><?php echo $this->FormatTextoBranco($this->composicao_apm['titulo']) ?></td>
		<td align="left" width="20%"><?php echo date('d/m/Y', strtotime($this->composicao_apm['datainicio'])).' a '.date('d/m/Y', strtotime($this->composicao_apm['datafim'])) ?></td>	
	</tr>
	<tr>
		<th align="left" width="70%">03 - Nome</th>
		<th align="left" width="30%">04 - Número do CNPJ</th>
	</tr>
	<tr>
		<td align="left" width="70%"><?php echo $this->FormatTextoBranco($this->composicao_apm['titulo']) ?></td>
		<td align="left" width="30%"><?php echo $this->FormatTextoBranco($this->apm['cpfcnpj']) ?></td>
	</tr>
	<tr>
		<th align="left" width="60%">05 - Endereço</th>
		<th align="left" width="20%">06 - Município</th>
		<th align="left" width="20%">07 - UF</th>
	</tr>
	<tr>
		<th align="left" width="60%"><?php echo $this->FormatTextoBranco($this->endereco['endereco']), $this->FormatTextoBranco($this->endereco['numero']) ?></th>
		<th align="left" width="20%"><?php echo $this->FormatTextoBranco($this->endereco['cidade']) ?></th>
		<th align="left" width="20%"><?php echo $this->FormatTextoBranco($this->endereco['uf']) ?></th>
	</tr>
</table>

<br />

<?php $total_receitas_despesas = 0; ?>
<?php $total_receitas = 0; ?>
<table width="100%" cellpadding="2" cellspacing="0" border="1" nobr="true">
	<tr>
		<th align="left" width="100%">BLOCO 2 - SÍNTESE DA EXECUÇÃO DA RECEITA E DA DESPESA (R$)</th>
	</tr>
</table>
	
<table width="100%" cellpadding="2" cellspacing="0" border="1" nobr="true">
	<tr>
		<th align="left" width="20%" colspan="2">8 - Saldo Reprogramado do Exercício Anterior</th>
		<th align="left" width="20%" colspan="2">9 - Valor Creditado pelo FDNE no Exercício</th>
		<th align="left" width="20%" colspan="2">10 - Recursos Próprios</th>
		<th align="left" width="20%" colspan="2">11 - Rendimento de Aplicação Financeira</th>
		<th align="left" width="20%" colspan="2">12 - Devolução de Recursos do FNDE (+)</th>
	</tr>
	<tr>
		<th align="center" width="10%">Custeio</th>
		<th align="center" width="10%">Capital</th>
		<th align="center" width="10%">Custeio</th>
		<th align="center" width="10%">Capital</th>
		<th align="center" width="10%">Custeio</th>
		<th align="center" width="10%">Capital</th>
		<th align="center" width="10%">Custeio</th>
		<th align="center" width="10%">Capital</th>
		<th align="center" width="10%">Custeio</th>
		<th align="center" width="10%">Capital</th>
	</tr>
	<tr>
		<td align="center" width="10%">&nbsp;</td>	
		<td align="center" width="10%">&nbsp;</td>
		<td align="center" width="10%">&nbsp;</td>
		<td align="center" width="10%">&nbsp;</td>
		<td align="center" width="10%">&nbsp;</td>
		<td align="center" width="10%">&nbsp;</td>
		<td align="center" width="10%">&nbsp;</td>
		<td align="center" width="10%">&nbsp;</td>
		<td align="center" width="10%">&nbsp;</td>
		<td align="center" width="10%">&nbsp;</td>
	</tr>

	<tr>
		<th align="left" width="16.66%" colspan="2">13 - Valor Total da Receita</th>
		<th align="left" width="16.66%" colspan="2">14 - Valor da Despesa Realizada (-)</th>
		<th align="left" width="16.66%" colspan="2">15 - Saldo a Reprogramar para o Exercício Seguinte</th>
		<th align="left" width="16.66%" colspan="2">16 - Saldo Devolvido</th>
		<th align="left" width="16.66%" colspan="2">17 - Período de Execução</th>
		<th align="left" width="16.66%" colspan="2">18 - Nº de Escolas Atendidas</th>
	</tr>
	<tr>
		<th align="center" width="8.33%">Custeio</th>
		<th align="center" width="8.33%">Capital</th>
		<th align="center" width="8.33%">Custeio</th>
		<th align="center" width="8.33%">Capital</th>
		<th align="center" width="8.33%">Custeio</th>
		<th align="center" width="8.33%">Capital</th>
		<th align="center" width="8.33%">Custeio</th>
		<th align="center" width="8.33%">Capital</th>
		<th align="center" width="8.33%">Custeio</th>
		<th align="center" width="8.33%">Capital</th>
		<th align="center" width="8.33%">Custeio</th>
		<th align="center" width="8.33%">Capital</th>
	</tr>
	<tr>
		<td align="center" width="8.33%">&nbsp;</td>	
		<td align="center" width="8.33%">&nbsp;</td>	
		<td align="center" width="8.33%">&nbsp;</td>	
		<td align="center" width="8.33%">&nbsp;</td>	
		<td align="center" width="8.33%">&nbsp;</td>	
		<td align="center" width="8.33%">&nbsp;</td>	
		<td align="center" width="8.33%">&nbsp;</td>	
		<td align="center" width="8.33%">&nbsp;</td>	
		<td align="center" width="8.33%">&nbsp;</td>	
		<td align="center" width="8.33%">&nbsp;</td>	
		<td align="center" width="8.33%">&nbsp;</td>	
	</tr>
</table>

<br />

<table width="100%" cellpadding="2" cellspacing="0" border="1" nobr="true">
	<tr>
		<th align="left" width="100%">BLOCO 3 - PAGAMENTOS EFETUADOS</th>
	</tr>
	<tr>
		<th align="center" width="5%" rowspan="2">19 - ITEM</th>
		<th align="center" width="20%" rowspan="2">20 - NOME DO FAVORECIDO</th>
		<th align="center" width="10%" rowspan="2">21 - CPF OU CNPJ</th>	
		<th align="center" width="20%" rowspan="2">22 - Tipos de Bens ou Materiais Adquiridos ou Serviços Contratados</th>
		<th align="center" width="5%" rowspan="2">23 - Origem R$ (*)</th>
		<th align="center" width="5%" rowspan="2">24 - Nat. Desp.</th>
		<th align="center" width="15%">25 - DOCUMENTOS</th>
		<th align="center" width="10%">26 - PAGAMENTO</th>
		<th align="center" width="10%" rowspan="2">27 - Valor (R$)</th>
	</tr>
	<tr>
		<td align="center" width="3%">TIPO</td>
		<td align="center" width="6%">NUMERO</td>	
		<td align="center" width="6%">DATA</td>
		<td align="center" width="5%">Nº CH/OB</td>
		<td align="center" width="5%">DATA</td>
	</tr>

	<?php $total_despesas = 0; ?>
	<?php foreach ($this->despesas as $i=>$row) : ?>
	<?php $total_despesas += $row['valor']; ?>
	<tr>
		<td align="left" width="5%"><?php echo $i ?></td>
		<td align="left" width="20%"><?php echo $this->FormatTextoBranco($row['fornecedor']) ?></td>
		<td align="left" width="10%"><?php echo $this->FormatTextoBranco($row['cnpj']) ?></td>
		<td align="left" width="20%"><?php echo $this->FormatTextoBranco($row['tipo']) ?></td>
		<td align="left" width="5%"><?php echo number_format($row['valor'], 2) ?></td>
		<td align="left" width="5%">--</td>
		<td align="left" width="3%"><?php echo $this->FormatTextoBranco($row['tipodocumento']) ?></td>
		<td align="left" width="6%"><?php echo $this->FormatTextoBranco($row['numerodocumento']) ?></td>
		<td align="left" width="6%"><?php echo $this->FormatTextoBranco($row['data']) ?></td>
		<td align="left" width="5%">--</td>
		<td align="left" width="5%"><?php echo $this->FormatTextoBranco($row['data']) ?></td>
		<td align="left" width="10%"><?php echo number_format($row['valor'], 2) ?></td>
	</tr>
	<?php endforeach;?>
	<tr>
		<th align="left" width="85%">28 - TOTAL</th>
		<th align="left" width="15%"><?php echo number_format($total_despesas, 2) ?></th>
	</tr>
</table>

<br />	

<table width="100%" cellpadding="0" cellspacing="0" border="1" nobr="true">
	<tr>
		<td align="center" width="33.33%"><?php echo $this->FormatTextoBranco($this->endereco['cidade']).' - '.$this->FormatTextoBranco($this->endereco['uf']).', '.date('d/m/Y') ?></td>
		<td align="center" width="33.33%"><font size="12">_______________________</font></td>
		<td align="center" width="33.33%"><font size="12">_______________________</font></td>
	</tr>
	
	<tr>
		<td align="center" width="33.33%">Local e Data</td>
		<td align="center" width="33.33%">Nome do(a) Dirigente ou do Representante Legal</td>
		<td align="center" width="33.33%">Assinatura do(a) Dirigente ou do Representante Legal</td>
	</tr>
</table>		