		<!-- Content -->
		<div id="content">

		    <!-- Content wrapper -->
		    <div class="wrapper">

			    <!-- Breadcrumbs line -->
			    <div class="crumbs">
			    	<?php echo $this->render('/helpers/breadcrumb.phtml') ?>
			    </div>
			    <!-- /breadcrumbs line -->

			    <!-- Page header -->
			    <div class="page-header">
			    	<div class="page-title">
				    	<h5>Formulário de saída</h5>
				    	<span>Verifique os campos e preencha com os dados</span>
			    	</div>
			    </div>
			    <!-- /page header -->

			    <?php if (isset($this->crudMessage)) : ?>
					<div class="alert alert-success">
	                	<button data-dismiss="alert" class="close" type="button">×</button>
	                    <strong>Operação realizada com sucesso!</strong>
		    			<span><br /><?php echo $this->crudMessage ?></span>
	                </div>			    
			    <?php endif; ?>

				<form id="form" name="form" action="" method="post" class="form-horizontal" enctype="multipart/form-data"> 
					<input type="hidden" value="<?php echo (isset($this->post_var)) ? $this->post_var["id"] : ''; ?>" name="id" id="id" />
					
					<fieldset>
						<!-- General form elements -->
						<div class="widget row-fluid">
						    <div class="navbar">
						        <div class="navbar-inner">
						            <h6>Digite as informações do formulário</h6>
						        </div>
						    </div>

						    <div class="well">
								<?php if (isset($this->erros)) : ?>
									<div class="alert alert-error margin">
				                        <button data-dismiss="alert" class="close" type="button">×</button>
				                        <strong>Há erros no formulário!</strong>
					    				<?php foreach ($this->erros as $k=>$v) : ?>
					    					<span><br />- <?php echo $v ?></span>
					    				<?php endforeach;?>			                        
				                    </div>
			                    <?php endif; ?>

				<div class="control-group">
					<label class="control-label">Saída <span class="required">*</span></label>
					<div class="controls"><input maxlength="500" placeholder="Título" name="titulo" value="<?php echo (isset($this->post_var['titulo'])) ? $this->post_var['titulo'] : '' ?>" type="text"  class="span3" /></div>
				</div>


				<div class="control-group">
					<label class="control-label">Descrições </label>
					<div class="controls"><textarea class="span12" name="descricoes" cols="5" rows="5"><?php echo (isset($this->post_var)) ? $this->post_var["descricoes"] : ''; ?></textarea></div>
				</div>
	
				<div class="box-escola">	        	
					<div class="control-group">
						<label class="control-label">Departamento</label>
						<div class="controls">
							<select id="iddepartamentoescola" name="iddepartamentoescola" class="form-control">
								<option value="">Selecione</option>
								<?php foreach (Departamentosescolas::getDepartamentosescolasHelper(array('status'=>'Ativo', 'idescola'=>Escolasusuarios::getEscolaAtiva(Escolasusuarios::getUsuario('id'), 'id'))) as $k=>$v) : ?>
								<option value="<?php echo $v['id'] ?>"><?php echo $v['departamento'] ?></option>
								<?php endforeach;?>
							</select>        				
						</div>
					</div>
				</div>

				<div class="control-group">
					<label class="control-label">Produtos </label>
					<div class="controls itens">
						<table class="table table-primary mb30">
							<thead>
								<tr>
									<th colspan="5" align="center" style="text-align: center;">ITENS</th>
								</tr>
								<tr>
									<th width="180">Produto</th>
									<th width="180">Estoque</th>
									<th width="96">Quantidade</th>
									<th>Observações</th>
									<th width="30">Ações</th>
								</tr>
							</thead>
							<tbody id="raiz">
								<?php if(isset($this->post_var['id'])) : ?>						
								<script type="text/javascript">

								$(document).ready(function() {

									<?php foreach (Almoxarifado_Saidasitens::getSaidasitensHelper(array('idsaida'=>$this->post_var['id'])) as $k=>$v) : ?>
									<?php $entrada = 0;?>
									<?php $saida = 0;?>
									<?php $entrada = (int)Almoxarifado_Entradasitens::getQuantidadeByIdProdutoHelper($v['idproduto'], array('origem'=>Almoxarifado_Entradas::$_ORIGEM_SECRETARIA)) ?>
									<?php $saida = (int)Almoxarifado_Saidasitens::getQuantidadeByIdProdutoHelper($v['idproduto'], array('diferentidsaida'=>$this->post_var['id'])) ?>
									var item = new Object();
									item.id = '<?php echo $v['id'] ?>';
									item.idproduto = '<?php echo $v['idproduto'] ?>';
									item.estoque = '<?php echo $entrada - $saida; ?>';
									item.quantidade = '<?php echo $v['quantidade'] ?>';
									item.observacoes = '<?php echo $v['observacoes'] ?>';
									item.status = '<?php echo $v['status'] ?>';
									item.entrada = '<?php echo $entrada ?>';
									item.saida = '<?php echo $saida ?>';
									iteAddTr(item);
									<?php endforeach;?>

								});

								</script>	
								<?php endif;?>				
							</tbody>
							<?php if ((isset($this->visualizar)) && ($this->visualizar)) : ?>
							
							<?php else: ?>
							<tfoot>
								<tr>
									<td colspan="8" align="right" style="text-align:right !Important;"><input onclick="iteAddTr(false)" type="button" value="Adicionar" /></td>
								</tr>									
							</tfoot>
							<?php endif;?>
						</table>
					</div>
				</div>


				<div class="control-group">
					<label class="control-label">Aprovação </label>
					<div class="controls">
						<select name="aprovacao" data-placeholder="Aprovação" class="select">
							<option value="">Selecione...</option>
							<option value="Sim">Sim</option><option value="Não">Não</option>
						</select>
						
					</div>
				</div>

				<div class="control-group">
					<label class="control-label">Status <span class="required">*</span></label>
					<div class="controls">
						<select name="status" data-placeholder="Status" class="select">
							<option value="">Selecione...</option>
							<option value="Ativo">Ativo</option><option value="Bloqueado">Bloqueado</option>
						</select>
						
					</div>
				</div>
    
						    </div>
						    
			                <div class="form-actions align-right">
			                	<?php if ((isset($this->visualizar)) && ($this->visualizar)) : ?>
			                		<button onclick="window.history.back()" class="btn btn-danger cancelar" type="button">Voltar</button>
			                	<?php else : ?>
				                	<button class="btn btn-primary enviar" type="submit">Salvar</button>
				                	<button onclick="window.history.back()" class="btn btn-danger cancelar" type="button">Cancelar</button>
			                	<?php endif; ?>
			                </div>
						</div>
						<!-- /general form elements -->

					</fieldset> 

				</form>
				<!-- /basic inputs -->

		    </div>
		    <!-- /content wrapper -->

		</div>
		<!-- content -->







<?php /*
	include_once BASE_PATH . '/public/scripts/ckeditor/ckeditor.php';
	require_once BASE_PATH . '/public/scripts/ckfinder/ckfinder.php';
	
	$ckeditor = new CKEditor();
	$ckeditor->basePath	= $this->baseUrl('/public/scripts/ckeditor/');
	
	$ckfinder = $this->baseUrl('/public/scripts/ckfinder/');
	
	CKFinder::SetupCKEditor($ckeditor, $ckfinder);
?>

<div class="contentpanel">

	<div class="panel panel-default">
	
		<div class="panel-heading">
			
			<?php if (isset($this->erros)) :  ?>
			<div class="alert alert-danger">
				<button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
				<strong>Erro!</strong> 
				<?php foreach ($this->erros as $erro) : ?>
				<br /><?php echo $erro?>
				<?php endforeach;?>
			</div>				
			
			<?php endif;?>
			
			<h4 class="panel-title">Formulário da saida</h4>
			<p>Informe os dados da saida.</p>
        </div>
        <div class="panel-body panel-body-nopadding">
        	<form id="form" name="form" method="post" class="form-horizontal form-bordered">
        		<input type="hidden" value="<?php echo (isset($this->post_var)) ? $this->post_var["id"] : ''; ?>" name="id" id="id" />
        	
        		<div class="form-group">
        			<label class="col-sm-3 control-label">Saída *</label>
        			<div class="col-sm-6">
        				<input name="titulo" value="<?php echo (isset($this->post_var['titulo'])) ? $this->post_var['titulo'] : '' ?>" type="text" class="form-control" placeholder="titulo">
					</div>
				</div>		
				
				<div class="form-group">
					<label class="col-sm-3 control-label">
						Descrições
					</label>
					<div class="col-sm-6">
						<?php if ((isset($this->visualizar)) && ($this->visualizar)) : ?>
						<div style="padding-top:10px"><?php echo $this->post_var['descricoes']; ?></div>
						<?php else : ?>
						<?php $value1 = (isset($this->post_var['descricoes'])) ? $this->post_var['descricoes'] : ''; ?>
						<?php $ckeditor->editor('descricoes', $value1); ?>
						<?php endif; ?>
					</div>
				</div>
				
				<div class="box-escola">	        	
	        		<div class="form-group">
	        			<label class="col-sm-3 control-label">Departamento</label>
	        			<div class="col-sm-6">
	        				<select id="iddepartamentoescola" name="iddepartamentoescola" class="form-control">
	        					<option value="">Selecione</option>
	        					<?php foreach ($this->departamentosescolas as $d=>$departamento) : ?>
	        					<option value="<?php echo $departamento['id'] ?>"><?php echo $departamento['departamento'] ?></option>
	        					<?php endforeach;?>
							</select>        				
						</div>
					</div>
				</div>
				
				
				<div class="form-group">
					<label class="col-sm-1 control-label">
						&nbsp;
					</label>
					<div class="col-sm-10 itens">
						 <table class="table table-primary mb30">
							<thead>
								<tr>
									<th colspan="5" align="center" style="text-align: center;">ITENS</th>
								</tr>
								<tr>
									<th width="180">Produto</th>
									<th width="180">Estoque</th>
									<th width="96">Quantidade</th>
									<th>Observações</th>
									<th width="30">Ações</th>
								</tr>
							</thead>
							<tbody id="raiz">
								<?php if(isset($this->post_var['id'])) : ?>						
								<script type="text/javascript">

								$(document).ready(function() {

									<?php foreach (Almoxarifado_Escolassaidasitens::getEscolassaidasitens(array('idsaida'=>$this->post_var['id'], 'idescola'=>Escolasusuarios::getUsuario('idescola'))) as $k=>$v) : ?>
									<?php $entrada = 0;?>
									<?php $saida = 0;?>
									<?php $entrada = (int)Almoxarifado_Entradasitens::getQuantidadeByIdProdutoHelper($v['idproduto'], array('idescola'=>Escolasusuarios::getUsuario('idescola'))) ?>
									<?php $saida = (int)Almoxarifado_Escolassaidasitens::getQuantidadeByIdProdutoHelper($v['idproduto'], array('diferentidsaida'=>$this->post_var['id'])) ?>
									var item = new Object();
									item.id = '<?php echo $v['id'] ?>';
									item.idproduto = '<?php echo $v['idproduto'] ?>';
									item.estoque = '<?php echo $entrada - $saida; ?>';
									item.quantidade = '<?php echo $v['quantidade'] ?>';
									item.observacoes = '<?php echo $v['observacoes'] ?>';
									item.status = '<?php echo $v['status'] ?>';
									item.entrada = '<?php echo $entrada ?>';
									item.saida = '<?php echo $saida ?>';
									iteAddTr(item);
									<?php endforeach;?>

								});

								</script>	
								<?php endif;?>				
							</tbody>
							<?php if ((isset($this->visualizar)) && ($this->visualizar)) : ?>
							
							<?php else: ?>
							<tfoot>
								<tr>
									<td colspan="8" align="right" style="text-align:right !Important;"><input onclick="iteAddTr(false)" type="button" value="Adicionar" /></td>
								</tr>									
							</tfoot>
							<?php endif;?>
						</table>
					</div>
				</div>
				
				
				
				<div class="form-group">
        			<label class="col-sm-3 control-label">Aprovação *</label>
        			<div class="col-sm-6">
        				<select id="aprovacao" name="aprovacao" class="form-control">
        					<option value="Não">Não</option>
        					<option value="Sim">Sim</option>        					
						</select>        				
					</div>
				</div>				

				
        		<div class="form-group">
        			<label class="col-sm-3 control-label">Status *</label>
        			<div class="col-sm-6">
        				<select id="status1" name="status" class="form-control">
        					<option value="Ativo">Ativo</option>
        					<option value="Bloqueado">Bloqueado</option>
						</select>        				
					</div>
				</div>				

				
				<div class="panel-footer">
					<div class="row">
						<div class="col-sm-6 col-sm-offset-3">
							<?php if ((isset($this->visualizar)) && ($this->visualizar)) : ?>
							<button type="button" onclick="window.history.back()" class="btn btn-default">Voltar</button>
							<?php else : ?>
							<button class="btn btn-primary">Salvar</button>&nbsp;
							<button type="button" onclick="location.href='<?php echo $this->baseUrl() ?>/<?php echo $this->getController()?>'" class="btn btn-default">Cancelar</button>
							<?php endif;?>
						</div>
					</div>
				</div><!-- panel-footer -->				
				
			</form>
          
		</div><!-- panel-body -->
	</div>
</div>
<?php */ ?>
<script type="text/javascript">
	var form_values = {};
	<?php if (isset($this->post_var['status'])) :  ?>
	form_values.status = '<?php echo (isset($this->post_var['status'])) ? $this->post_var['status'] : $this->post_var['status1'] ?>';
	<?php endif; ?>

	<?php if (isset($this->post_var['aprovacao'])) :  ?>
	form_values.aprovacao = '<?php echo (isset($this->post_var['aprovacao'])) ? $this->post_var['aprovacao'] : $this->post_var['aprovacao'] ?>';
	<?php endif; ?>	

	<?php if (isset($this->post_var['confirmaaprovacao'])) :  ?>
	form_values.confirmaaprovacao = '<?php echo (isset($this->post_var['confirmaaprovacao'])) ? $this->post_var['confirmaaprovacao'] : $this->post_var['confirmaaprovacao'] ?>';
	<?php endif; ?>


	<?php if (isset($this->post_var['origem'])) :  ?>
	form_values.origem = '<?php echo (isset($this->post_var['origem'])) ? $this->post_var['origem'] : $this->post_var['origem'] ?>';
	<?php endif; ?>	

	<?php if (isset($this->post_var['iddepartamentosecretaria'])) :  ?>
	form_values.iddepartamentosecretaria = '<?php echo (isset($this->post_var['iddepartamentosecretaria'])) ? $this->post_var['iddepartamentosecretaria'] : $this->post_var['iddepartamentosecretaria'] ?>';
	<?php endif; ?>

	<?php if (isset($this->post_var['idescola'])) :  ?>
	form_values.idescola = '<?php echo (isset($this->post_var['idescola'])) ? $this->post_var['idescola'] : $this->post_var['idescola'] ?>';
	<?php endif; ?>	

	<?php if (isset($this->post_var['iddepartamentoescola'])) :  ?>
	form_values.iddepartamentoescola = '<?php echo (isset($this->post_var['iddepartamentoescola'])) ? $this->post_var['iddepartamentoescola'] : $this->post_var['iddepartamentoescola'] ?>';
	<?php endif; ?>
	
	var produtos = new Array();
	<?php foreach ($this->entradas as $ip=>$produto) : ?>
	var produto = {};
	produto.id = '<?php echo $produto['idproduto'] ?>';
	produto.produto = '<?php echo $produto['produto'] ?>';
	produtos.push(produto);
	<?php endforeach;?>
	
</script>
<script type="text/javascript" src="<?php echo $this->baseUrl('/public/scripts/default/almoxarifadoescolassaidas_form.js') ?>"></script>