		<!-- Content -->
		<div id="content">

		    <!-- Content wrapper -->
		    <div class="wrapper">

			    <!-- Breadcrumbs line -->
			    <div class="crumbs">
			    	<?php echo $this->render('/helpers/breadcrumb.phtml') ?>
			    </div>
			    <!-- /breadcrumbs line -->

			    <!-- Page header -->
			    <div class="page-header">
			    	<div class="page-title">
				    	<h5>Formulário do contato</h5>
				    	<span>Verifique os campos e preencha com os dados</span>
			    	</div>
			    </div>
			    <!-- /page header -->

			    <?php if (isset($this->crudMessage)) : ?>
					<div class="alert alert-success">
	                	<button data-dismiss="alert" class="close" type="button">×</button>
	                    <strong>Operação realizada com sucesso!</strong>
		    			<span><br /><?php echo $this->crudMessage ?></span>
	                </div>			    
			    <?php endif; ?>

				<form id="form" name="form" action="" method="post" class="form-horizontal" enctype="multipart/form-data"> 
					<input type="hidden" value="<?php echo (isset($this->post_var)) ? $this->post_var["id"] : ''; ?>" name="id" id="id" />
					
					<fieldset>
						<!-- General form elements -->
						<div class="widget row-fluid">
						    <div class="navbar">
						        <div class="navbar-inner">
						            <h6>Digite as informações do formulário</h6>
						        </div>
						    </div>

						    <div class="well">
								<?php if (isset($this->erros)) : ?>
									<div class="alert alert-error margin">
				                        <button data-dismiss="alert" class="close" type="button">×</button>
				                        <strong>Há erros no formulário!</strong>
					    				<?php foreach ($this->erros as $k=>$v) : ?>
					    					<span><br />- <?php echo $v ?></span>
					    				<?php endforeach;?>			                        
				                    </div>
			                    <?php endif; ?>		


				<div class="control-group">
					<label class="control-label">Locais </label>
					<div class="controls">
		                <select name="idlocais" data-placeholder="Locais" class="select" onclick="setProfessores(this, false)">
							<option value="">Selecione...</option>
							<?php foreach (Locais::getLocaisHelper(array('status'=>'Ativo')) as $k=>$v) : ?>
							<option value="<?php echo $v['id'] ?>"><?php echo $v['titulo'] ?></option>
							<?php endforeach;?>
						</select> 
					</div>
				</div>
  
				<div class="control-group">
					<label class="control-label">Funcionarios </label>
					<div class="controls">
						<table class="table table-primary mb30">
							<thead>
								<tr>
									<th width="100%">Funcionarios</th>
								</tr>
							</thead>
							
							<tbody id="content_list_professores">
								<tr>
									<td width="100%" id="professores-container">
									Selecione um local!
									</td>
								</tr>


							<?php if (false) : ?>
								<?php foreach ($this->professores as $a=>$professor) : ?>
								<tr>
									<td width="100%">
										<?php if ((isset($this->visualizar)) && ($this->visualizar)) : ?>
											<input type="checkbox" value="<?php echo $professor['id']?>" name="idsprofessores[]"><span><?php echo $professor['nome'] ?> </span>
										<?php else: ?>
											<input type="checkbox" value="<?php echo $professor['id']?>" name="idsprofessores[]"><?php echo $professor['nome'] ?>  
										<?php endif;?>
									</td>       						
								</tr>
								<?php endforeach;?>
								<?php endif ?>
							</tbody>
							
						</table>
					</div>
				</div>

				<div id="box-info" style="display: none;">
					<div class="control-group">
						<label class="control-label">Departamento</label>
						<div class="controls">
							<input maxlength="500" id="departamento" placeholder="Departamento" value="" type="text"  class="span3" disable="disabled" readonly="readonly" />
						</div>
					</div>
				</div>


				<div class="control-group">
					<label class="control-label">Telefone <span class="required">*</span></label>
					<div class="controls"><input maxlength="50" placeholder="Telefone" name="telefone" value="<?php echo (isset($this->post_var['telefone'])) ? $this->post_var['telefone'] : '' ?>" type="text"  class="span3" /></div>
				</div>

				<div class="control-group">
					<label class="control-label">Celular</label>
					<div class="controls"><input maxlength="50" placeholder="Celular" name="celular" value="<?php echo (isset($this->post_var['celular'])) ? $this->post_var['celular'] : '' ?>" type="text"  class="span3" /></div>
				</div>

						    
						    
						    </div>
						    
			                <div class="form-actions align-right">
			                	<?php if ((isset($this->visualizar)) && ($this->visualizar)) : ?>
			                		<button onclick="window.history.back()" class="btn btn-danger cancelar" type="button">Voltar</button>
			                	<?php else : ?>
				                	<button class="btn btn-primary enviar" type="submit">Salvar</button>
				                	<button onclick="window.history.back()" class="btn btn-danger cancelar" type="button">Cancelar</button>
			                	<?php endif; ?>
			                </div>
						</div>
						<!-- /general form elements -->

					</fieldset> 

				</form>
				<!-- /basic inputs -->

		    </div>
		    <!-- /content wrapper -->

		</div>
		<!-- content -->
				
<script type="text/javascript" src="<?php echo $this->baseUrl('/public/scripts/admin/agendafuncionariosinternos_form.js') ?>"></script>
<script type="text/javascript">
	var form_values = {};
	
	<?php if (isset($this->post_var)) :  ?>
		form_values.iddepartamento = '<?php echo (isset($this->post_var['iddepartamento'])) ? $this->post_var['iddepartamento'] : '' ?>';
		form_values.idusuario = '<?php echo (isset($this->post_var['idusuario'])) ? $this->post_var['idusuario'] : '' ?>';
form_values.idlocais = '<?php echo (isset($this->post_var['idlocais'])) ? $this->post_var['idlocais'] : '' ?>';

form_values.status1 = '<?php echo (isset($this->post_var['status1'])) ? $this->post_var['status1'] : $this->post_var['status'] ?>';

<?php if ((isset($this->post_var['idsprofessores'])) && ($this->post_var['idsprofessores']!="")) :  ?>
	form_values.idsprofessores = [<?php echo $this->post_var['idsprofessores'] ?>];
<?php endif; ?>

	<?php endif; ?>

	visualizar = <?php echo  ((isset($this->visualizar)) && ($this->visualizar))  ? 'true' : 'false' ?>;
</script>
