		<!-- Content -->
		<div id="content">

		    <!-- Content wrapper -->
		    <div class="wrapper">

			    <!-- Breadcrumbs line -->
			    <div class="crumbs">
			    	<?php echo $this->render('/helpers/breadcrumb.phtml') ?>
			    </div>
			    <!-- /breadcrumbs line -->

			    <!-- Page header -->
			    <div class="page-header">
			    	<div class="page-title">
				    	<h5>Formulário de geração de classes</h5>
				    	<span>Verifique os campos e preencha com os dados</span>
			    	</div>
			    	
			    </div>
			    <!-- /page header -->

			    <?php if (isset($this->crudMessage)) : ?>
					<div class="alert alert-success">
	                	<button data-dismiss="alert" class="close" type="button">×</button>
	                    <strong>Operação realizada com sucesso!</strong>
		    			<span><br /><?php echo $this->crudMessage ?></span>
	                </div>			    
			    <?php endif; ?>

				<form id="form" name="form" action="" method="post" class="form-horizontal" enctype="multipart/form-data"> 
					<input type="hidden" value="<?php echo (isset($this->post_var)) ? $this->post_var["id"] : ''; ?>" name="id" id="id" />
					
					<fieldset>
						<!-- General form elements -->
						<div class="widget row-fluid">
						    <div class="navbar">
						        <div class="navbar-inner">
						            <h6>Digite as informações do formulário</h6>
						        </div>
						    </div>

						    <div class="well">
								<?php if (isset($this->erros)) : ?>
									<div class="alert alert-error margin">
				                        <button data-dismiss="alert" class="close" type="button">×</button>
				                        <strong>Há erros no formulário!</strong>
					    				<?php foreach ($this->erros as $k=>$v) : ?>
					    					<span><br />- <?php echo $v ?></span>
					    				<?php endforeach;?>			                        
				                    </div>
			                    <?php endif; ?>						    
						    
						        <div class="control-group">
						            <label class="control-label">Nome da tabela (plural) <span class="required">*</span></label>
						            <div class="controls">
						            	<input placeholder="Nome da tabela" name="tabela" value="<?php echo (isset($this->post_var['tabela'])) ? $this->post_var['tabela'] : '' ?>" type="text"  class="span3" />
						            	<div>Digite o nome da tabela no banco de dados. P. ex.: veiculos</div>
						            </div>
						        </div>
						        
						        <div class="control-group">
						            <label class="control-label">Matriz nomes sistema <span class="required">*</span></label>
						            <div class="controls">
						            	<input placeholder="Matriz nomes sistema" name="matriz_sistema" value="<?php echo (isset($this->post_var['matriz_sistema'])) ? $this->post_var['matriz_sistema'] : '' ?>" type="text"  class="span3" />
						            	<div>Nesta ordem: Veiculos|Veiculo|veiculos|veiculo</div>
						            </div>
						        </div>						        
						        
						        <div class="control-group">
						            <label class="control-label">Matriz nomes humanos <span class="required">*</span></label>
						            <div class="controls">
						            	<input placeholder="Matriz nomes humanos" name="matriz_humano" value="<?php echo (isset($this->post_var['matriz_humano'])) ? $this->post_var['matriz_humano'] : '' ?>" type="text"  class="span3" />
						            	<div>Nesta ordem: Veículos|Veículo|veículos|veículo</div>
						            </div>
						        </div>						        
						        
						        <div class="control-group">
						            <label class="control-label">Módulo <span class="required">*</span></label>
						            <div class="controls">
						            	<input placeholder="Módulo" name="modulo" value="<?php echo (isset($this->post_var['modulo'])) ? $this->post_var['modulo'] : '' ?>" type="text"  class="span3" />
						            	<div>Informe o módulo, p. ex.: "admin" ou "default"</div>
						            </div>
						        </div>
						        
						        <div class="control-group">
						            <label class="control-label">Prefixo do controller</label>
						            <div class="controls">
						            	<input placeholder="Prefixo do controller" name="prefixo" value="<?php echo (isset($this->post_var['prefixo'])) ? $this->post_var['prefixo'] : '' ?>" type="text"  class="span3" />
						            	<div>Informe o prefixo do controller, p. ex.: "Admin_" ou "" (nada)</div>
						            </div>
						        </div>						        
						        
						        <div class="control-group">
						            <label class="control-label">Sobrescrever arquivos <span class="required">*</span></label>
						            <div class="controls">
						                <select name="sobrescrever" data-placeholder="Sobrescrever arquivos" class="select">
						                    <option value="">Selecione...</option> 
	                                        <option value="nao">Não</option> 
	                                        <option value="sim">Sim</option> 
						                </select>						        
						            </div>
						        </div>
						    </div>
						    
			                <div class="form-actions align-right">
			                	<button class="btn btn-primary enviar" type="submit">Salvar</button>
			                	<button onclick="window.history.back()" class="btn btn-danger cancelar" type="button">Cancelar</button>
			                </div>
						</div>
						<!-- /general form elements -->
					</fieldset> 

				</form>
				<!-- /basic inputs -->

		    </div>
		    <!-- /content wrapper -->

		</div>
		<!-- content -->
		
<script type="text/javascript">

</script>


