<?php 
	include_once BASE_PATH . '/public/scripts/ckeditor/ckeditor.php';
	require_once BASE_PATH . '/public/scripts/ckfinder/ckfinder.php';
	
	$ckeditor = new CKEditor();
	$ckeditor->basePath	= $this->baseUrl('/public/scripts/ckeditor/');
	
	$ckfinder = $this->baseUrl('/public/scripts/ckfinder/');
	
	CKFinder::SetupCKEditor($ckeditor, $ckfinder);
?>

<h3 class="title-accordion">
	<a class="click_acc" data-toggle="collapse" data-parent="#accordion" href="#collapse1">
		Informações Complementares
	</a>
</h3>

<div id="collapse1" class="content-height panel-collapse collapse in">
	<div class="form-group">
		<label class="col-sm-3 control-label">Naturalidade </label>
		<div class="col-sm-6">
			<input name="naturalidade" value="<?php echo (isset($this->post_var)) ? $this->post_var['naturalidade'] : "" ?>" type="text" class="form-control" placeholder=" "> 
		</div>
	</div>
	
	<div class="form-group">
		<label class="col-sm-3 control-label">Nacionalidade </label>
		<div class="col-sm-6">
			<input name="nacionalidade" value="<?php echo (isset($this->post_var)) ? $this->post_var['nacionalidade'] : "" ?>" type="text" class="form-control" placeholder=" "> 
		</div>
	</div>

	<div class="form-group">
		<label class="col-sm-3 control-label">Etnia/Cor/Raça </label>
		<div class="col-sm-6">
			<input name="etnia" value="<?php echo (isset($this->post_var['etnia'])) ? $this->post_var['etnia'] : "" ?>" type="text" class="form-control" placeholder=" "> 
		</div>
	</div>
	
	<div class="form-group">
		<label class="col-sm-3 control-label">Renda Familiar </label>
		<div class="col-sm-6">
			<input name="rendafamiliar" value="<?php echo (isset($this->post_var['rendafamiliar'])) ? number_format($this->post_var['rendafamiliar'], 2, ',', '.') : "" ?>" type="text" class="form-control" placeholder=" "> 
		</div>
	</div>
	
	<div class="form-group">
		<label class="col-sm-3 control-label">Necessita de Passe Escolar</label>
		<div class="col-sm-6">
			<select id="passeescolar" name="passeescolar" class="form-control">
				<option value="Não">Não</option>
				<option value="Sim">Sim</option>
			</select>    
		</div>
	</div>
	
	<div class="form-group">
		<label class="col-sm-3 control-label">Transporte Escolar </label>
		<div class="col-sm-6">
			<select id="transporteescolar" name="transporteescolar" class="form-control">
				<option value="Não">Não</option>
				<option value="Sim">Sim</option>
			</select>  
		</div>
	</div>
	
	<div class="form-group">
		<label class="col-sm-3 control-label">Restrição Alimentar </label>
		<div class="col-sm-6">
			<?php if ((isset($this->visualizar)) && ($this->visualizar)) : ?>
				<div style="padding-top:10px"><?php echo $this->post_var['restricaoalimentar']; ?></div>
			<?php else : ?>
				<?php $value1 = (isset($this->post_var['restricaoalimentar'])) ? $this->post_var['restricaoalimentar'] : ''; ?>
				<?php $ckeditor->editor('restricaoalimentar', $value1); ?>
			<?php endif; ?> 
		</div>
	</div>
	
	<div class="form-group">
		<label class="col-sm-3 control-label">Observações </label>
		<div class="col-sm-6">
			<?php if ((isset($this->visualizar)) && ($this->visualizar)) : ?>
				<div style="padding-top:10px"><?php echo $this->post_var['observacoes']; ?></div>
			<?php else : ?>
				<?php $value1 = (isset($this->post_var['observacoes'])) ? $this->post_var['observacoes'] : ''; ?>
				<?php $ckeditor->editor('observacoes', $value1); ?>
			<?php endif; ?>  
		</div>
	</div>
	
	

</div>
