<!-- Content -->
<div id="content">

    <!-- Content wrapper -->
    <div class="wrapper">

        <!-- Breadcrumbs line -->
        <div class="crumbs">
            <?php echo $this->render('/helpers/breadcrumb.phtml') ?>
        </div>
        <!-- /breadcrumbs line -->

        <!-- Page header -->
        <div class="page-header">
            <div class="page-title">
                <h5>Formulário do atas</h5>
                <span>Verifique os campos e preencha com os dados</span>
            </div>
        </div>
        <!-- /page header -->

        <?php if (isset($this->crudMessage)) : ?>
            <div class="alert alert-success">
                <button data-dismiss="alert" class="close" type="button">×</button>
                <strong>Operação realizada com sucesso!</strong>
                <span><br /><?php echo $this->crudMessage ?></span>
            </div>			    
        <?php endif; ?>

        <form id="form" name="form" action="" method="post" class="form-horizontal" enctype="multipart/form-data"> 
            <input type="hidden" value="<?php echo (isset($this->post_var)) ? $this->post_var["id"] : ''; ?>" name="id" id="id" />

            <fieldset>
                <!-- General form elements -->
                <div class="widget row-fluid">
                    <div class="navbar">
                        <div class="navbar-inner">
                            <h6>Digite as informações do formulário</h6>
                        </div>
                    </div>

                    <div class="well">
                        <?php if (isset($this->erros)) : ?>
                            <div class="alert alert-error margin">
                                <button data-dismiss="alert" class="close" type="button">×</button>
                                <strong>Há erros no formulário!</strong>
                                <?php foreach ($this->erros as $k => $v) : ?>
                                    <span><br />- <?php echo $v ?></span>
                                <?php endforeach; ?>			                        
                            </div>
                        <?php endif; ?>						    


                        <div class="control-group">
                            <label class="control-label">Departamento </label>
                            <div class="controls">
                                Engenharia
                            </div>
                        </div>


                        <div class="control-group">
                            <label class="control-label">Data</label>
                            <div class="controls"><input placeholder="Data" name="data" value="<?php echo (isset($this->post_var['data'])) ? Mn_Util::formPostVarData($this->post_var['data']) : '' ?>" type="text"  class="span3" /></div>
                        </div>


                        <div class="control-group">
                            <label class="control-label">Período <span class="required">*</span></label>
                            <div class="controls">
                                <select name="idperiodo" data-placeholder="Período" class="select">
                                    <option value="">Selecione...</option>
                                    <?php foreach (Atasperiodos::getAtasperiodosHelper(array('status' => 'Ativo')) as $k => $v) : ?>
                                        <option value="<?php echo $v['id'] ?>"><?php echo $v['periodo'] ?></option>
                                    <?php endforeach; ?>
                                </select>

                            </div>
                        </div>

                        <?php /*
                          <div class="control-group">
                          <label class="control-label">Funcionário </label>
                          <div class="controls">
                          <?php foreach (Funcionariosgeraisescolas::getFuncionariosgeraisescolasHelper(array('status'=>'Ativo')) as $k=>$v) : ?>
                          <input type="checkbox" value="<?php echo $v['id'] ?>" name="idsfuncionarios[]" /><?php echo $v['nome'] ?> <br />
                          <?php endforeach;?>

                          </div>
                          </div>

                         */ ?>
                        <div class="control-group">
                            <label class="control-label">Pauta <span class="required">*</span></label>
                            <div class="controls"><input maxlength="500" placeholder="Pauta" name="pauta" value="<?php echo (isset($this->post_var['pauta'])) ? $this->post_var['pauta'] : '' ?>" type="text"  class="span3" /></div>
                        </div>


                        <div class="control-group">
                            <label class="control-label">Descrições <span class="required">*</span></label>
                            <div class="controls"><textarea class="span12" name="descricoes" cols="5" rows="5"><?php echo (isset($this->post_var)) ? $this->post_var["descricoes"] : ''; ?></textarea></div>
                        </div>


                        <div class="control-group">
                            <label class="control-label">Anexo da Ata </label>
                            <div class="controls">
                                <?php if ((isset($this->post_var['idarquivoata'])) && ((int) $this->post_var['idarquivoata'] > 0)) : ?>
                                    <?php echo $this->getArquivo($this->post_var['idarquivoata']) ?>

                                    <?php if (!$this->visualizar) : ?>
                                        <div class="checkbox block">
                                            <label><input type="checkbox" name="excluir_idarquivoata" value="excluir" /> Desejo excluir o arquivo</label>
                                        </div>
                                    <?php endif; ?>
                                <?php endif; ?>

                                <input placeholder="Anexo da Ata" name="idarquivoata" type="file"  />
                            </div>
                        </div>	


                        <div class="control-group">
                            <label class="control-label">Status <span class="required">*</span></label>
                            <div class="controls">
                                <select name="status1" data-placeholder="Status" class="select">
                                    <option value="">Selecione...</option>
                                    <option value="Ativo">Ativo</option><option value="Bloqueado">Bloqueado</option>
                                </select>

                            </div>
                        </div>



                    </div>

                    <div class="form-actions align-right">
                        <?php if ((isset($this->visualizar)) && ($this->visualizar)) : ?>
                            <button onclick="window.history.back()" class="btn btn-danger cancelar" type="button">Voltar</button>
                        <?php else : ?>
                            <button class="btn btn-primary enviar" type="submit">Salvar</button>
                            <button onclick="window.history.back()" class="btn btn-danger cancelar" type="button">Cancelar</button>
                        <?php endif; ?>
                    </div>
                </div>
                <!-- /general form elements -->

            </fieldset> 

        </form>
        <!-- /basic inputs -->

    </div>
    <!-- /content wrapper -->

</div>
<!-- content -->

<script type="text/javascript" src="<?php echo $this->baseUrl('/public/scripts/admin/atas_form.js') ?>"></script>
<script type="text/javascript">
                            var form_values = {};

<?php if (isset($this->post_var)) : ?>
                                form_values.iddepartamento = '<?php echo (isset($this->post_var['iddepartamento'])) ? $this->post_var['iddepartamento'] : '' ?>';

                                form_values.idperiodo = '<?php echo (isset($this->post_var['idperiodo'])) ? $this->post_var['idperiodo'] : '' ?>';


                                form_values.status1 = '<?php echo (isset($this->post_var['status1'])) ? $this->post_var['status1'] : $this->post_var['status'] ?>';


<?php endif; ?>
<?php if ((isset($this->post_var['idsfuncionarios'])) && ($this->post_var['idsfuncionarios'] != "")) : ?>
                                form_values.idsfuncionarios = [<?php echo $this->post_var['idsfuncionarios'] ?>];
<?php endif; ?>
                            visualizar = <?php echo ((isset($this->visualizar)) && ($this->visualizar)) ? 'true' : 'false' ?>;
</script>
