<!-- Sidebar -->
<div id="sidebar">
	<div class="sidebar-tabs">
		<ul class="tabs-nav two-items">
			<li><a href="#general" title=""><i class="icon-reorder"></i></a></li>
		</ul>

		<div id="general">

			<!-- Main navigation -->
			<ul class="navigation widget">
				<li class="index"><a href="<?php echo $this->baseUrl() ?>/admin" title=""><i class="icon-home"></i>Dashboard</a></li>
	
				<li class="perfis usuarios secretarias prefeituras configuracoes "><a href="#" title="" class="expand"><i class="icon-map-marker"></i>Admin da Prefeitura Municipal de Santa Isabel</a>
					<ul>
						<?php if (((Mn_Util::isAccess('perfis', 'visualizar')) && (Usuarios::getUsuario('idperfil')!=30) )): ?>
							<li class="perfis"><a href="<?php echo $this->baseUrl() ?>/admin/perfis"><i class="fa fa-paperclip"></i> Perfis</a></li>
						<?php endif; ?>
						<?php if (Mn_Util::isAccess('usuarios', 'visualizar')) : ?>
							<li class="usuarios"><a href="<?php echo $this->baseUrl() ?>/admin/usuarios"><i class="fa fa-user"></i> Usuários da Prefeitura Municipal de Santa Isabel</a></li>
						<?php endif; ?>
						
						<?php /*if (Mn_Util::isAccess('secretarias', 'visualizar')) : ?>
							<li class="secretarias"><a href="<?php echo $this->baseUrl() ?>/admin/secretarias"><i class="fa fa-user"></i> Secretarias</a></li>
						<?php endif; */ ?>
						
						<?php if (Mn_Util::isAccess('prefeituras', 'visualizar')) : ?>
							<li class="prefeituras"><a href="<?php echo $this->baseUrl() ?>/admin/prefeituras"><i class="fa fa-user"></i> Clientes</a></li>
						<?php endif; ?>
						
						<?php /*if ((Mn_Util::isAccess('cargos', 'visualizar'))) : ?>
							<li class="cargos"><a href="<?php echo $this->baseUrl() ?>/admin/cargos" title="">Cargos da secretaria</a></li>
						<?php endif; */ ?>
						<?php /*if ((Mn_Util::isAccess('funcionariosgerais', 'visualizar'))) : ?>
							<li class="funcionariosgerais"><a href="<?php echo $this->baseUrl() ?>/admin/funcionariosgerais" title="">Funcionários Gerais</a></li>
						<?php endif; */ ?>
						
						<?php if (Mn_Util::isAccess('controleslogs', 'visualizar')) : ?>
							<li class="controleslogs"><a href="<?php echo $this->baseUrl() ?>/admin/"><i class="fa fa-list-alt"></i> Controle de Logs</a></li>
						<?php endif; ?>
						<?php if (Mn_Util::isAccess('configuracoes', 'visualizar')) : ?>
							<li class="configuracoes"><a href="<?php echo $this->baseUrl() ?>/admin/configuracoes"><i class="fa fa-list-alt"></i> Configurações</a></li>
						<?php endif; ?>	
					</ul>
				</li>
	
				<li class="graficos"><a href="#" title="" class="expand"><i class="icon-bar-chart"></i>Gráficos</a>
					<ul>
						<?php if (Mn_Util::isAccess('graficos', 'visualizar')) : ?>
							<li class="graficos"><a href="<?php echo $this->baseUrl() ?>/admin/graficos" title="">Gráficos</a></li>
						<?php endif; ?>
					</ul>
				</li>
				
				<li class="escolasusuarios escolasusuariosperfis centralemails centralsms patrimoniosmarcas patrimoniostipos"><a href="#" title="" class="expand"><i class="icon-globe"></i>Admin Clientes</a>
					<ul>
						<?php if (Mn_Util::isAccess('escolasusuarios', 'visualizar')) : ?>
							<li class="escolasusuarios"><a href="<?php echo $this->baseUrl() ?>/admin/escolasusuarios"><i class="glyphicon glyphicon-user "></i> Usuários das Escolas</a></li>
						<?php endif; ?>
						<?php if (Mn_Util::isAccess('escolasusuariosperfis', 'visualizar')) : ?>
							<li class="escolasusuariosperfis"><a href="<?php echo $this->baseUrl() ?>/admin/escolasusuariosperfis"><i class="fa fa-clipboard"></i> Perfis das Escolas</a></li>
						<?php endif; ?>
						<?php if (Mn_Util::isAccess('centralemails', 'visualizar')) : ?>
							<li class="centralemails"><a href="<?php echo $this->baseUrl() ?>/admin/"><i class="fa fa-list-alt"></i> Central de E-mails</a></li>
						<?php endif; ?>
						<?php if (Mn_Util::isAccess('centralsms', 'visualizar')) : ?>
							<li class="centralsms"><a href="<?php echo $this->baseUrl() ?>/admin/"><i class="fa fa-list-alt"></i> Central de SMS</a></li>
						<?php endif; ?>
						<?php if (Mn_Util::isAccess('patrimoniosmarcas', 'visualizar')) : ?>
							<li class="patrimoniosmarcas"><a href="<?php echo $this->baseUrl() ?>/admin/patrimoniosmarcas" title="">Marcas de Patrimônios</a></li>
						<?php endif; ?>
						<?php if (Mn_Util::isAccess('patrimoniostipos', 'visualizar')) : ?>
							<li class="patrimoniostipos"><a href="<?php echo $this->baseUrl() ?>/admin/patrimoniostipos" title="">Tipos de Patrimônios</a></li>
						<?php endif; ?>
					</ul>
				</li>
				
				<li class="ocorrencias importacoesfinanceiros despesasorcamentarias despesasorcamentarias receitasorcamentarias fundeb gastospessoal administrativoconfiguracoesgerais administrativostipos"><a href="#" title="" class="expand"><i class="ico-briefcase"></i>Administrativo</a>
					<ul>
						<?php if (Mn_Util::isAccess("administrativoconfiguracoesgerais", "visualizar")) : ?>
							<li class="administrativoconfiguracoesgerais"><a href="javascript:;" title="">Configurações Gerais</a></li> 
						<?php endif; ?> 
						<?php if (Mn_Util::isAccess("administrativostipos", "visualizar")) : ?>
							<li class="administrativostipos"><a href="javascript:;" title="">Cadastrar Tipos</a></li> 
						<?php endif; ?> 
						<?php if (Mn_Util::isAccess('ocorrencias', 'visualizar')) : ?>
							<li class="ocorrencias"><a href="<?php echo $this->baseUrl() ?>/admin/ocorrencias" title="">Ocorrências</a></li>
						<?php endif; ?>
						<?php if (Mn_Util::isAccess('importacoesfinanceiros', 'visualizar')) : ?>
							<li class="importacoesfinanceiros"><a href="javascript:;" title="">Importações de arquivos financeiros</a></li>
						<?php endif; ?>
						<?php if((Mn_Util::isAccess('despesasorcamentarias', 'visualizar')) || (Mn_Util::isAccess('receitasorcamentarias', 'visualizar')) || (Mn_Util::isAccess('fundeb', 'visualizar')) || (Mn_Util::isAccess('gastospessoal', 'visualizar'))):?>
							<li class="importacoesfinanceiros"><a href="#" title="" class="expand"></i>Dotações Orçamentárias</a>
								<ul>
									<?php if (Mn_Util::isAccess('despesasorcamentarias', 'visualizar')) : ?>
										<li class="despesasorcamentarias"><a href="javascript:;" title="">Despesas Orçamentárias</a></li>
									<?php endif; ?>
									<?php if (Mn_Util::isAccess('receitasorcamentarias', 'visualizar')) : ?>
										<li class="receitasorcamentarias"><a href="javascript:;" title="">Receitas Orçamentárias</a></li>
									<?php endif; ?>
									<?php if (Mn_Util::isAccess('fundeb', 'visualizar')) : ?>
										<li class="fundeb"><a href="javascript:;" title="">Fundeb</a></li>
									<?php endif; ?>
									<?php if (Mn_Util::isAccess('gastospessoal', 'visualizar')) : ?>
										<li class="gastospessoal"><a href="javascript:;" title="">Gastos com pessoal</a></li>
									<?php endif; ?>
								</ul>
							</li>			       
						<?php endif; ?>             
					</ul>
				</li>
				
				<li class="almoxarifadomarcas almoxarifadofornecedores almoxarifadoprodutos almoxarifadoentradas almoxarifadosaidas almoxarifadosolicitacoes almoxarifadoremanejamentos almoxarifadospendentes solicitacoesmateriais"><a href="#" title="" class="expand"><i class="ico-shopping-cart"></i>Almoxarifado</a>
					<ul>
						<?php if (Mn_Util::isAccess("almoxarifadotipos", "visualizar")) : ?>
							<li class="almoxarifadotipos"><a href="javascript:;" title="">Cadastrar Tipos</a></li> 
						<?php endif; ?> 
						<?php if (Mn_Util::isAccess('almoxarifadosolicitacoes', 'visualizar')) : ?>
							<li class="almoxarifadosolicitacoes"><a href="<?php echo $this->baseUrl() ?>/admin/almoxarifadospendentes" title="">Solicitação de Material</a></li>
						<?php endif; ?>
						<?php if (Mn_Util::isAccess('almoxarifadofornecedores', 'visualizar')) : ?>
							<li class="almoxarifadofornecedores"><a href="<?php echo $this->baseUrl() ?>/admin/almoxarifadofornecedores" title="">Fornecedores</a></li>
						<?php endif; ?>
						<?php if (Mn_Util::isAccess('almoxarifadomarcas', 'visualizar')) : ?>
							<li class="almoxarifadomarcas"><a href="<?php echo $this->baseUrl() ?>/admin/almoxarifadomarcas" title="">Marcas</a></li>
						<?php endif; ?> 
						<?php if (Mn_Util::isAccess('almoxarifadoprodutos', 'visualizar')) : ?>
							<li class="almoxarifadoprodutos"><a href="<?php echo $this->baseUrl() ?>/admin/almoxarifadoprodutos" title="">Produtos</a></li>
						<?php endif; ?> 
						<?php if (Mn_Util::isAccess('almoxarifadoentradas', 'visualizar')) : ?>
							<li class="almoxarifadoentradas"><a href="<?php echo $this->baseUrl() ?>/admin/almoxarifadoentradas" title="">Entradas</a></li>
						<?php endif; ?> 
						<?php if (Mn_Util::isAccess('almoxarifadosaidas', 'visualizar')) : ?>
							<li class="almoxarifadosaidas"><a href="<?php echo $this->baseUrl() ?>/admin/almoxarifadosaidas" title="">Saídas de Material</a></li>
						<?php endif; ?> 
					</ul>
				</li>
				
				<li class="boletins comunicadosalunos avaliacoes ocorrenciasalunos conteudoprogramatico cardapios horariosaulas materialdownloads calendarioalunos mensagens enviaremails alunostipos"><a href="#" title="" class="expand"><i class="icon-bar-chart"></i>Alunos</a>
					<ul>
						<?php if (Mn_Util::isAccess("alunosenviaremails", "visualizar")) : ?>
							<li class="alunosenviaremails"><a href="javascript:;" title="">Envio de emails</a></li> 
						<?php endif; ?>
						<?php if (Mn_Util::isAccess("alunostipos", "visualizar")) : ?>
							<li class="alunostipos"><a href="javascript:;" title="">Cadastrar Tipos</a></li> 
						<?php endif; ?>
						<?php if (Mn_Util::isAccess('boletins', 'visualizar')) : ?>
							<li class="boletins"><a href="<?php echo $this->baseUrl() ?>/admin/" title="">Boletins</a></li> 
						<?php endif; ?>
						<?php if (Mn_Util::isAccess('comunicadosalunos', 'visualizar')) : ?>
							<li class="comunicadosalunos"><a href="<?php echo $this->baseUrl() ?>/admin/" title="">Comunicados</a></li> 
						<?php endif; ?>
						<?php if (Mn_Util::isAccess('avaliacoes', 'visualizar')) : ?>
							<li class="avaliacoes"><a href="<?php echo $this->baseUrl() ?>/admin/" title="">Avaliações</a></li> 
						<?php endif; ?>
						<?php if (Mn_Util::isAccess('ocorrenciasalunos', 'visualizar')) : ?>
							<li class="ocorrenciasalunos"><a href="<?php echo $this->baseUrl() ?>/admin/" title="">Ocorrências</a></li> 
						<?php endif; ?>
						<?php if (Mn_Util::isAccess('conteudoprogramatico', 'visualizar')) : ?>
							<li class="conteudoprogramatico"><a href="<?php echo $this->baseUrl() ?>/admin/" title="">Conteúdo programático</a></li> 
						<?php endif; ?>
						<?php if (Mn_Util::isAccess('cardapios', 'visualizar')) : ?>
							<li class="cardapios"><a href="<?php echo $this->baseUrl() ?>/admin/" title="">Cardápios</a></li> 
						<?php endif; ?>
						<?php if (Mn_Util::isAccess('horariosaulas', 'visualizar')) : ?>
							<li class="horariosaulas"><a href="<?php echo $this->baseUrl() ?>/admin/" title="">Horário das aulas</a></li> 
						<?php endif; ?>
						<?php if (Mn_Util::isAccess('materialdownloads', 'visualizar')) : ?>
							<li class="materialdownloads"><a href="<?php echo $this->baseUrl() ?>/admin/" title="">Material para downloads</a></li> 
						<?php endif; ?>
						<?php if (Mn_Util::isAccess('calendarioalunos', 'visualizar')) : ?>
							<li class="calendarioalunos"><a href="<?php echo $this->baseUrl() ?>/admin/" title="">Calendário</a></li> 
						<?php endif; ?>
						<?php if (Mn_Util::isAccess('mensagens', 'visualizar')) : ?>
							<li class="mensagens"><a href="<?php echo $this->baseUrl() ?>/admin/" title="">Mensagens</a></li> 
						<?php endif; ?>
						<?php if (Mn_Util::isAccess('enviaremails', 'visualizar')) : ?>
							<li class="enviaremails"><a href="javascript:;" title="">Enviar e-mail</a></li> 
						<?php endif; ?>
					</ul>
				</li>
				
				<li class="funcionarioscensos escolassalas escolasseries escolasturmas escolasperiodos escolasvinculos escolasvinculosprofessores escolasaulas escolasalunos escolassalasalunos quadrohorarios centralvagas matriculasonline escolas funcionariosgeraisescolas quadrohorariosperiodos <?php //departamentosescolas escolascargos escolasfuncoes ?>"><a href="#" title="" class="expand"><i class="icon-fire"></i>Censo Escolar</a>
					<ul>
						<?php if ((Mn_Util::isAccess('escolas', 'visualizar'))) : ?>
							<li class="escolas"><a href="<?php echo $this->baseUrl() ?>/admin/escolas" title="">Escolas</a></li>
						<?php endif; ?>	
						
						<?php if(
							(Mn_Util::isAccess('escolasestruturastipos', 'visualizar')) ||
							((Mn_Util::isAccess('escolasedificacoestipos', 'visualizar'))) 
							):
						?>
							<li class="escolasestruturastipos escolasedificacoestipos"><a href="#" title="" class="expand subClosed"></i>Cadastro de Tipos</a>
								<ul>
									<?php if ((Mn_Util::isAccess('escolasestruturastipos', 'visualizar'))) : ?>
										<li class="escolasestruturastipos"><a href="<?php echo $this->baseUrl() ?>/admin/escolasestruturastipos" title="">Tipos de Estruturas</a></li>
									<?php endif; ?>
									<?php if ((Mn_Util::isAccess('escolasedificacoestipos', 'visualizar'))) : ?>
										<li class="escolasedificacoestipos"><a href="<?php echo $this->baseUrl() ?>/admin/escolasedificacoestipos" title="">Tipos de Edificações</a></li>
									<?php endif; ?> 
								</ul>
							</li>
						<?php endif; ?> 
						
						<?php /*if ((Mn_Util::isAccess('departamentosescolas', 'visualizar'))) : ?>
							<li class="departamentosescolas"><a href="<?php echo $this->baseUrl() ?>/admin/departamentosescolas" title="">Departamentos das escolas</a></li>
						<?php endif; ?>
						<?php if ((Mn_Util::isAccess('escolascargos', 'visualizar'))) : ?>
							<li class="escolascargos"><a href="<?php echo $this->baseUrl() ?>/admin/escolascargos" title="">Cargos das escolas</a></li>
						<?php endif; ?>
						<?php if ((Mn_Util::isAccess('escolasfuncoes', 'visualizar'))) : ?>
							<li class="escolasfuncoes"><a href="<?php echo $this->baseUrl() ?>/admin/escolasfuncoes" title="">Funções das escolas</a></li>
						<?php endif; ?>
						<?php if (Mn_Util::isAccess('funcionarioscensos', 'visualizar')) : ?>
							<li class="funcionariosgeraisescolas"><a href="<?php echo $this->baseUrl() ?>/admin/funcionariosgeraisescolas" title="">Funcionários</a></li> 
						<?php endif;*/ ?>
						
						<?php if (Mn_Util::isAccess('escolassalas', 'visualizar')) : ?>
							<li class="escolassalas"><a href="<?php echo $this->baseUrl() ?>/admin/escolassalas" title="">Salas</a></li>
						<?php endif; ?>
						<?php if (Mn_Util::isAccess('escolasseries', 'visualizar')) : ?>
							<li class="escolasseries"><a href="<?php echo $this->baseUrl() ?>/admin/escolasseries" title="">Séries</a></li>
						<?php endif; ?>
						<?php if (Mn_Util::isAccess('escolasturmas', 'visualizar')) : ?>
							<li class="escolasturmas"><a href="<?php echo $this->baseUrl() ?>/admin/escolasturmas" title="">Turmas</a></li>
						<?php endif; ?>
						<?php if (Mn_Util::isAccess('escolasperiodos', 'visualizar')) : ?>
							<li class="escolasperiodos"><a href="<?php echo $this->baseUrl() ?>/admin/escolasperiodos" title="">Períodos</a></li>
						<?php endif; ?>
						<?php if (Mn_Util::isAccess('escolasvinculos', 'visualizar')) : ?>
							<li class="escolasvinculos"><a href="<?php echo $this->baseUrl() ?>/admin/escolasvinculos" title="">Criar salas de aula</a></li>
						<?php endif; ?>
						<?php if (Mn_Util::isAccess('escolasalunos', 'visualizar')) : ?>
							<li class="escolasalunos"><a href="<?php echo $this->baseUrl() ?>/admin/escolasalunos" title="">Alunos</a></li>
						<?php endif; ?>
						<?php if (Mn_Util::isAccess('escolassalasalunos', 'visualizar')) : ?>
							<li class="escolassalasalunos"><a href="<?php echo $this->baseUrl() ?>/admin/escolassalasalunos" title="">Atribuição de alunos nas salas</a></li>
						<?php endif; ?>
						<?php if (Mn_Util::isAccess('escolasvinculosprofessores', 'visualizar')) : ?>
							<li class="escolasvinculosprofessores"><a href="<?php echo $this->baseUrl() ?>/admin/escolasvinculosprofessores" title="">Atribuir professores a sala de aula</a></li>
						<?php endif; ?>
						<?php if (Mn_Util::isAccess('quadrohorariosperiodos', 'visualizar')) : ?>
							<li class="quadrohorariosperiodos"><a href="<?php echo $this->baseUrl() ?>/admin/quadrohorariosperiodos" title="">Quadro de Horários Escolar</a></li>
						<?php endif; ?>
						<?php if (Mn_Util::isAccess('centralvagas', 'visualizar')) : ?>
							<li class="centralvagas"><a href="<?php echo $this->baseUrl() ?>/admin/centralvagas" title="">Central de vagas</a></li>
						<?php endif; ?>
						<?php if (Mn_Util::isAccess('matriculasonline', 'visualizar')) : ?>
							<li class="matriculasonline"><a href="<?php echo $this->baseUrl() ?>/admin/matriculasonline" title="">Matrículas online</a></li>
						<?php endif; ?>
						<?php if (Mn_Util::isAccess("censoescolas", "visualizar")) : ?>
							<li class="censoescolas"><a href="javascript:;" title="">Cadastrar Tipos</a></li> 
						<?php endif; ?>
						<?php if ((Mn_Util::isAccess('escolasestruturastipos', 'visualizar'))) : ?>
							<li class="escolasestruturastipos"><a href="<?php echo $this->baseUrl() ?>/admin/escolasestruturastipos" title="">Tipos de Estruturas</a></li>
						<?php endif; ?>
						
						<?php /*if ((Mn_Util::isAccess('escolasedificacoestipos', 'visualizar'))) : ?>
							<li class="escolasedificacoestipos"><a href="<?php echo $this->baseUrl() ?>/admin/escolasedificacoestipos" title="">Tipos de Edificações</a></li>
						<?php endif; ?>
						<?php if (Mn_Util::isAccess('adminclientes', 'visualizar')) : ?>
							<li class="adminclientes"><a href="<?php echo $this->baseUrl() ?>/admin/" title="">Censo Escolar</a></li>
						<?php endif; */?>
					</ul>
				</li>
				
				<li class="eventossecretarias agendainterna agendaexterna calendario pastasvirtuaiscomunicacao publicacoes comunicacaocomunicados calendarioexterno calendariointerno diplomasalunos diplomas agendavisitas comunicacaoatas crachas comunicacaotipos"><a href="#" title="" class="expand"><i class="icon-key"></i>Comunicação</a>
					<ul>
						<?php if (Mn_Util::isAccess("comunicacaotipos", "visualizar")) : ?>
							<li class="comunicacaotipos"><a href="javascript:;" title="">Cadastrar Tipos</a></li> 
						<?php endif; ?> 
						<?php if (Mn_Util::isAccess('agendainterna', 'visualizar')) : ?>
							<li class="agendainterna calendariointerno"><a href="<?php echo $this->baseUrl() ?>/admin/agendainterna" title="">Agenda Interna - Eventos</a></li>
						<?php endif; ?>
						<?php if (Mn_Util::isAccess('agendaexterna', 'visualizar')) : ?>
							<li class="agendaexterna calendarioexterno"><a href="<?php echo $this->baseUrl() ?>/admin/agendaexterna" title="">Agenda Externa - Eventos</a></li>
						<?php endif; ?>
						<?php if (Mn_Util::isAccess('calendario', 'visualizar')) : ?>
							<li class="calendario"><a href="<?php echo $this->baseUrl() ?>/admin/calendario" title="">Calendário Geral</a></li>
						<?php endif; ?>
						<?php if (Mn_Util::isAccess('publicacoes', 'visualizar')) : ?>
							<li class="publicacoes"><a href="<?php echo $this->baseUrl() ?>/admin/publicacoes" title="">Publicações</a></li>
						<?php endif; ?>
						<?php if (Mn_Util::isAccess('comunicacaocomunicados', 'visualizar')) : ?>
							<li class="comunicacaocomunicados"><a href="<?php echo $this->baseUrl() ?>/admin/comunicacaocomunicados" title="">Comunicados</a></li>
						<?php endif; ?>
						<?php if (Mn_Util::isAccess('eventossecretarias', 'visualizar')) : ?>
							<li class="eventossecretarias"><a href="<?php echo $this->baseUrl() ?>/admin/eventossecretarias" title="">Mural de Notícias</a></li>
						<?php endif; ?>
						<?php if (Mn_Util::isAccess('pastasvirtuaiscomunicacao', 'visualizar')) : ?>
							<li class="pastasvirtuaiscomunicacao"><a href="<?php echo $this->baseUrl() ?>/admin/pastasvirtuaiscomunicacao" title="">Pastas Virtuais</a></li>
						<?php endif; ?>
						<?php if (Mn_Util::isAccess('agendavisitas', 'visualizar')) : ?>
							<li class="agendavisitas"><a href="<?php echo $this->baseUrl() ?>/admin/agendavisitas" title="">Agendas de Visitas</a></li>
						<?php endif; ?>
						<?php if (Mn_Util::isAccess('comunicacaoatas', 'visualizar')) : ?>
							<li class="comunicacaoatas"><a href="<?php echo $this->baseUrl() ?>/admin/comunicacaoatas" title="">Controle de Atas</a></li>
						<?php endif; ?>
						<?php if(
							(Mn_Util::isAccess('diplomasalunos', 'visualizar')) ||
							(Mn_Util::isAccess('diplomas', 'visualizar')) ||
							(Mn_Util::isAccess('crachas', 'visualizar'))
							):
						?>
							<li class=""><a href="#" title="" class="expand">Diplomas e Crachás</a>
								<ul>
									<?php if (Mn_Util::isAccess('diplomasalunos', 'visualizar')) : ?>
										<li class="diplomasalunos"><a href="<?php echo $this->baseUrl() ?>/admin/diplomasalunos" title="">Cadastro de Alunos</a></li>
									<?php endif; ?>
									<?php if (Mn_Util::isAccess('diplomas', 'visualizar')) : ?>
										<li class="diplomas"><a href="<?php echo $this->baseUrl() ?>/admin/diplomas" title="">Diplomas</a></li>
									<?php endif; ?>
									<?php if (Mn_Util::isAccess('crachas', 'visualizar')) : ?>
										<li class="crachas"><a href="<?php echo $this->baseUrl() ?>/admin/crachas" title="">Crachás para Funcionários</a></li>
									<?php endif; ?>
								</ul>
							</li>
						<?php endif; ?>
					</ul>
				</li>
				
				<li class="coordenacaocoordenadores coordenacaofornecedores coordenacaofornecedorespedidos livrosescolas pastasvirtuaiscoordenacao atas chamados coordenacaorelatorios coordenacaocursos cursosinteresses cursoscomunicados meusinteresses recepcaofornecedores coordenacaoagendavisitas livrosescolas atas diarioscoordenadores diagnosticosaprendizagens indicesdesenvolvimentos aprovacoesmateriaisprofessores mapasclasses mapassondagens avaliacoes academicos auditorias atividadescomplementares  provasaplicadas coordenacaotiposprovas coordenacaoidebs controlealunosmaterias professoresescolas escolasconfiguracoes"><a href="#" title="" class="expand"><i class="icon-tags"></i>Coordenação</a>
					<ul>
						<?php if (Mn_Util::isAccess("tiposprovas", "visualizar")) : ?>
							<li class="tiposprovas"><a href="javascript:;" title="">Tipos de Provas</a></li> 
						<?php endif; ?>
						<?php if (Mn_Util::isAccess("escolasconfiguracoes", "visualizar")) : ?>
							<li class="escolasconfiguracoes"><a href="<?php echo $this->baseUrl() ?>/admin/escolasconfiguracoes" title="">Configurações de Notas</a></li> 
						<?php endif; ?> 
						
						<?php /*  if (Mn_Util::isAccess("controlealunosmaterias", "visualizar")) : ?>
							<li class="controlealunosmaterias"><a href="<?php echo $this->baseUrl() ?>/admin/controlealunosmaterias" title="">Matérias das Escolas</a></li> 
						<?php endif;*/ ?>
						 
						<?php if (Mn_Util::isAccess("escolasmaterias", "visualizar")) : ?>
							<li class="escolasmaterias"><a href="<?php echo $this->baseUrl() ?>/admin/escolasmaterias" title="">Matérias das Escolas</a></li> 
						<?php endif; ?>
						<?php if (Mn_Util::isAccess('professoresescolas', 'visualizar')) : ?>
							<li class="professoresescolas"><a href="<?php echo $this->baseUrl() ?>/admin/professoresescolas" title="">Professores</a></li>
						<?php endif; ?>
						<?php if (Mn_Util::isAccess("coordenacaoidebs", "visualizar")) : ?>
							<li class="coordenacaoidebs"><a href="javascript:;" title="">Região IDEB</a></li> 
						<?php endif; ?>
						<?php if (Mn_Util::isAccess('coordenacaocoordenadores', 'visualizar')) : ?>
							<li class="coordenacaocoordenadores"><a href="<?php echo $this->baseUrl() ?>/admin/coordenacaocoordenadores" title="">Coordenadores</a></li>
						<?php endif; ?>
						<?php if (Mn_Util::isAccess('coordenacaofornecedores', 'visualizar')) : ?>
							<li class="coordenacaofornecedores"><a href="<?php echo $this->baseUrl() ?>/admin/coordenacaofornecedores" title="">Fornecedores</a></li>
						<?php endif; ?>
						<?php if (Mn_Util::isAccess('coordenacaofornecedorespedidos', 'visualizar')) : ?>
							<li class="coordenacaofornecedorespedidos"><a href="<?php echo $this->baseUrl() ?>/admin/coordenacaofornecedorespedidos" title="">Pedidos</a></li>
						<?php endif; ?>
						<?php if (Mn_Util::isAccess('coordenacaocursos', 'visualizar')) : ?>
							<li class="coordenacaocursos"><a href="<?php echo $this->baseUrl() ?>/admin/coordenacaocursos" title="">Curso/Treinamento</a></li>
						<?php endif; ?>
						<?php if (Mn_Util::isAccess('coordenacaoagendavisitas', 'visualizar')) : ?>
							<li class="coordenacaoagendavisitas"><a href="<?php echo $this->baseUrl() ?>/admin/coordenacaoagendavisitas" title="">Agenda de Visita</a></li>
						<?php endif; ?>
						<?php if (Mn_Util::isAccess('livrosescolas', 'visualizar')) : ?>
							<li class="livrosescolas"><a href="<?php echo $this->baseUrl() ?>/admin/livrosescolas" title="">Livros</a></li>
						<?php endif; ?>
						<?php if (Mn_Util::isAccess('atas', 'visualizar')) : ?>
							<li class="atas"><a href="<?php echo $this->baseUrl() ?>/admin/atas" title="">Atas</a></li>
						<?php endif; ?>
						<?php if (Mn_Util::isAccess('diarioscoordenadores', 'visualizar')) : ?>
							<li class="diarioscoordenadores"><a href="<?php echo $this->baseUrl() ?>/admin/diarioscoordenadores" title="">Controle Diário dos Coordenadores</a></li>
						<?php endif; ?>
						<?php if (Mn_Util::isAccess('diagnosticosaprendizagens', 'visualizar')) : ?>
							<li class="diagnosticosaprendizagens"><a href="<?php echo $this->baseUrl() ?>/admin/diagnosticosaprendizagens" title="">Controle de Diagnóstico de Aprendizagem</a></li>
						<?php endif; ?>
						<?php if (Mn_Util::isAccess('indicesdesenvolvimentos', 'visualizar')) : ?>
							<li class="indicesdesenvolvimentos"><a href="<?php echo $this->baseUrl() ?>/admin/indicesdesenvolvimentos" title="">Índica de Desenvolvimento</a></li>
						<?php endif; ?>
						<?php if (Mn_Util::isAccess('aprovacoesmateriaisprofessores', 'visualizar')) : ?>
							<li class="aprovacoesmateriaisprofessores"><a href="<?php echo $this->baseUrl() ?>/admin/aprovacoesmateriaisprofessores" title="">Aprovação de Material Didático Professor</a></li>
						<?php endif; ?>
						<?php if (Mn_Util::isAccess('mapasclasses', 'visualizar')) : ?>
							<li class="mapasclasses"><a href="<?php echo $this->baseUrl() ?>/admin/mapasclasses" title="">Mapas de Classe</a></li>
						<?php endif; ?>
						<?php if (Mn_Util::isAccess('mapassondagens', 'visualizar')) : ?>
							<li class="mapassondagens"><a href="<?php echo $this->baseUrl() ?>/admin/mapassondagens" title="">Mapas de Sondagem</a></li>
						<?php endif; ?>
						<?php if (Mn_Util::isAccess('avaliacoes', 'visualizar')) : ?>
							<li class="avaliacoes"><a href="<?php echo $this->baseUrl() ?>/admin/avaliacoes" title="">Avaliações Complementardes</a></li>
						<?php endif; ?>
						<?php if (Mn_Util::isAccess('academicos', 'visualizar')) : ?>
							<li class="academicos"><a href="<?php echo $this->baseUrl() ?>/admin/academicos" title="">Acadêmico</a></li>
						<?php endif; ?>
						<?php if (Mn_Util::isAccess('auditorias', 'visualizar')) : ?>
							<li class="auditorias"><a href="<?php echo $this->baseUrl() ?>/admin/auditorias" title="">Auditoria</a></li>
						<?php endif; ?>
						<?php if (Mn_Util::isAccess('atividadescomplementares', 'visualizar')) : ?>
							<li class="atividadescomplementares"><a href="<?php echo $this->baseUrl() ?>/admin/atividadescomplementares" title="">Atividades Complementares</a></li>
						<?php endif; ?>
						<?php if (Mn_Util::isAccess('provasaplicadas', 'visualizar')) : ?>
							<li class="provasaplicadas"><a href="<?php echo $this->baseUrl() ?>/admin/provasaplicadas" title="">Controle de Provas Aplicadas</a></li>
						<?php endif; ?>
						
						<li class=""><a href="<?php echo $this->baseUrl() ?>/admin/cursos" title="">Cursos Disponíveis para Você</a></li>
						<li class=""><a href="javascript:;" title="">Material disponível para Aluno</a></li>
					</ul>
				</li>
				
				<li class="cursos documentacaoaprovacao documentacoespontuacoesfuncionarios documentacaojornadas atribuicoesaulas documentacoesremocoes permutasremocoes historicospontos solictacoespontos avaliacoesprofessores"><a href="#" title="" class="expand"><i class="ico-list-alt"></i>Documentação</a>
					<ul>
						<?php if (Mn_Util::isAccess("documentacoespontuacoes", "visualizar")) : ?>
							<li class="documentacoespontuacoes"><a href="javascript:;" title="">Tipos de Pontuações</a></li> 
						<?php endif; ?>
						<?php if (Mn_Util::isAccess("documentacoespontuacoesimportacoes", "visualizar")) : ?>
							<li class="documentacoespontuacoesimportacoes"><a href="javascript:;" title="">Importar Pontuações</a></li> 
						<?php endif; ?>
						<?php if (Mn_Util::isAccess('cursos', 'visualizar')) : ?>
							<li class="cursos"><a href="javascript:;" title="">Atribuição de Aula</a></li>
						<?php endif; ?>
						<?php if (Mn_Util::isAccess('documentacaojornadas', 'visualizar')) : ?>
							<li class="documentacaojornadas"><a href="<?php echo $this->baseUrl() ?>/admin/documentacaojornadas" title="">Ampliação de Jornada</a></li>
						<?php endif; ?>
						<?php if (Mn_Util::isAccess('documentacoesremocoes', 'visualizar')) : ?>
							<li class="documentacoesremocoes"><a href="<?php echo $this->baseUrl() ?>/admin/documentacoesremocoes" title="">Remoções</a></li>
						<?php endif; ?>
						<?php if (Mn_Util::isAccess('permutasremocoes', 'visualizar')) : ?>
							<li class="permutasremocoes"><a href="<?php echo $this->baseUrl() ?>/admin/permutasremocoes" title="">Permutas</a></li>
						<?php endif; ?>
						<?php if (Mn_Util::isAccess('cursos', 'visualizar')) : ?>
							<li class="cursos"><a href="<?php echo $this->baseUrl() ?>/admin/documentacoespontuacoesfuncionarios" title="">Avaliação Atribuir Notas</a></li>
						<?php endif; ?>
						<?php if (Mn_Util::isAccess('avaliacoesestagiosprobatorios', 'visualizar')) : ?>
							<li class="avaliacoesestagiosprobatorios"><a href="<?php echo $this->baseUrl() ?>/admin/avaliacoesestagiosprobatorios" title="">Avaliação de Estágio Probatórios</a></li>
						<?php endif; ?>
						<?php if (Mn_Util::isAccess('avaliacoesprofessores', 'visualizar')) : ?>
							<li class="avaliacoesprofessores"><a href="javascript:;" title="">Avaliação do Professor</a></li>
						<?php endif; ?>
						<?php if (Mn_Util::isAccess('documentacaoaprovacao', 'visualizar')) : ?>
							<li class="documentacaoaprovacao"><a href="<?php echo $this->baseUrl() ?>/admin/documentacaoaprovacao" title="">Aprovações</a></li>
						<?php endif; ?>
						<?php if (Mn_Util::isAccess('documentacaoanexos', 'visualizar')) : ?>
							<li class="documentacaoanexos"><a href="<?php echo $this->baseUrl() ?>/admin/documentacaoanexos" title="">Anexos de Cursos</a></li>
						<?php endif; ?>
						<?php if (
							(Mn_Util::isAccess('historicospontos', 'visualizar')) ||
							(Mn_Util::isAccess('solictacoespontos', 'visualizar'))
							):
						?>
							<li class=""><a href="#" title="" class="expand">Pontos</a>
								<ul>
									<?php if (Mn_Util::isAccess('historicospontos', 'visualizar')) : ?>
										<li class="historicospontos"><a href="<?php echo $this->baseUrl() ?>/admin/historicospontos	" title="">Histórico de Pontos</a></li>
									<?php endif; ?>
									<?php if (Mn_Util::isAccess('solictacoespontos', 'visualizar')) : ?>
										<li class="solictacoespontos"><a href="<?php echo $this->baseUrl() ?>/admin/solictacoespontos	" title="">Solicitações de Pontos</a></li>
									<?php endif; ?>
								</ul>
							</li>
						<?php endif; ?>
						
						<li class=""><a href="javascript:;" title="">Pontuação</a></li>
						<li class=""><a href="javascript:;" title="">Permuta</a></li>
						<li class=""><a href="javascript:;" title="">Remoção</a></li>
						<li class=""><a href="javascript:;" title="">Jornada</a></li>
					</ul>
				</li>
				
				<li class="deficienciasaprendizagens suspeitasaprendizagens listasesperas vagastemporarias educacaoagendasvisitas educacaoatas aeematriculas aeeavaliacoes educacaoespecialtipo"><a href="#" title="" class="expand"><i class="icon-user-md"></i>Educação Especial</a>
					<ul>
						<?php if (Mn_Util::isAccess("educacaoespecialtipo", "visualizar")) : ?>
							<li class="educacaoespecialtipo"><a href="javascript:;" title="">Cadastrar Tipos</a></li> 
						<?php endif; ?>
						<?php if (Mn_Util::isAccess('deficienciasaprendizagens', 'visualizar')) : ?>
							<li class="deficienciasaprendizagens"><a href="<?php echo $this->baseUrl() ?>/admin/deficienciasaprendizagens" title="">Deficiência de Aprendizagem</a></li>                    
						<?php endif; ?>
						<?php if (Mn_Util::isAccess('suspeitasaprendizagens', 'visualizar')) : ?>
							<li class="suspeitasaprendizagens"><a href="<?php echo $this->baseUrl() ?>/admin/suspeitasaprendizagens" title="">Suspeita de Aprendizagem</a></li>                    
						<?php endif; ?>
						<?php if (Mn_Util::isAccess('listasesperas', 'visualizar')) : ?>
							<li class="listasesperas"><a href="<?php echo $this->baseUrl() ?>/admin/listasesperas" title="">Lista de Espera</a></li>                    
						<?php endif; ?>
						<?php if (Mn_Util::isAccess('vagastemporarias', 'visualizar')) : ?>
							<li class="vagastemporarias"><a href="<?php echo $this->baseUrl() ?>/admin/vagastemporarias" title="">Vaga Temporária</a></li>                    
						<?php endif; ?>
						<?php if (Mn_Util::isAccess('educacaoagendasvisitas', 'visualizar')) : ?>
							<li class="educacaoagendasvisitas"><a href="<?php echo $this->baseUrl() ?>/admin/educacaoagendasvisitas" title="">Agenda de Visita </a></li>                    
						<?php endif; ?>
						<?php if (Mn_Util::isAccess('educacaoatas', 'visualizar')) : ?>
							<li class="educacaoatas"><a href="<?php echo $this->baseUrl() ?>/admin/educacaoatas" title="">Atas</a></li>                    
						<?php endif; ?>
						<?php if (Mn_Util::isAccess('aeematriculas', 'visualizar')) : ?>
							<li class="aeematriculas"><a href="<?php echo $this->baseUrl() ?>/admin/aeematriculas" title="">Matrícula no Polo AEE</a></li>                    
						<?php endif; ?>
						<?php if (Mn_Util::isAccess('aeeavaliacoes', 'visualizar')) : ?>
							<li class="aeeavaliacoes"><a href="<?php echo $this->baseUrl() ?>/admin/aeeavaliacoes" title="">Avaliação AEE</a></li>                    
						<?php endif; ?>
						<?php if (
							(Mn_Util::isAccess('salasrecursosauxiliares', 'visualizar')) ||
							(Mn_Util::isAccess('salasrecursosprofessores', 'visualizar'))
							):
						?>
							<li class=""><a href="#" title="" class="expand">Sala de Recursos Multifuncionais</a>
								<ul>
									<?php if (Mn_Util::isAccess('salasrecursosauxiliares', 'visualizar')) : ?>
										<li class="salasrecursosauxiliares"><a href="<?php echo $this->baseUrl() ?>/admin/salasrecursosauxiliares	" title="">Sala de Recursos Multifucionais Auxiliares</a></li>
									<?php endif; ?>
									<?php if (Mn_Util::isAccess('salasrecursosprofessores', 'visualizar')) : ?>
										<li class="salasrecursosprofessores"><a href="<?php echo $this->baseUrl() ?>/admin/salasrecursosprofessores	" title="">Sala de Recursos Multifucionais Professores</a></li>
									<?php endif; ?>
								</ul>
							</li>
						<?php endif; ?>
					</ul>
				</li>
				
				<li class="engenhariastecnicos engenhariaschamados equipes engenheirosagendavisitas engenhariasatas engenhariatipos engenhariaschamadosstatus engenhariaschamadosprioridades engenhariasavaliacoesservicos chamadosequipes"><a href="#" title="" class="expand"><i class="ico-wrench"></i>Engenharias</a>
					<ul>
						<?php /*if (Mn_Util::isAccess("engenhariatipos", "visualizar")) : ?>
							<li class="engenhariatipos"><a href="javascript:;" title="">Tipos de Equipe</a></li> 
						<?php endif;*/ ?> 
						<?php if (Mn_Util::isAccess('engenhariastecnicos', 'visualizar')) : ?>
							<li class="engenhariastecnicos"><a href="<?php echo $this->baseUrl() ?>/admin/engenhariastecnicos" title="">Técnicos</a></li>
						<?php endif; ?>

						<?php if (Mn_Util::isAccess('chamadosequipes', 'visualizar')) : ?>
							<li class="chamadosequipes"><a href="<?php echo $this->baseUrl() ?>/admin/chamadosequipes" title="">Equipes</a></li>
						<?php endif; ?>

						<?php if (Mn_Util::isAccess('engenhariaschamados', 'visualizar')) : ?>
							<li class="engenhariaschamados"><a href="<?php echo $this->baseUrl() ?>/admin/engenhariaschamados" title="">Chamados Técnicos</a></li>
						<?php endif; ?>

						<?php if (Mn_Util::isAccess('engenheirosagendavisitas', 'visualizar')) : ?>
							<li class="engenheirosagendavisitas"><a href="javascript:;" title="">Agenda de Visitas</a></li>
						<?php endif; ?>

						<?php if (Mn_Util::isAccess('engenhariasatas', 'visualizar')) : ?>
							<li class="engenhariasatas"><a href="javascript:;" title="">Controle de Atas</a></li>
						<?php endif; ?>

						<?php if (Mn_Util::isAccess('engenhariaschamadosstatus', 'visualizar')) : ?>
							<li class="engenhariaschamadosstatus"><a href="<?php echo $this->baseUrl() ?>/admin/engenhariaschamadosstatus" title="">Status Chamados</a></li>
						<?php endif; ?>

						<?php if (Mn_Util::isAccess('engenhariaschamadosprioridades', 'visualizar')) : ?>
							<li class="engenhariaschamadosprioridades"><a href="<?php echo $this->baseUrl() ?>/admin/engenhariaschamadosprioridades" title="">Prioridades Chamados</a></li>
						<?php endif; ?>

						<?php if (Mn_Util::isAccess('engenhariasavaliacoesservicos', 'visualizar')) : ?>
							<li class="engenhariasavaliacoesservicos"><a href="<?php echo $this->baseUrl() ?>/admin/engenhariasavaliacoesservicos" title="">Tipos de avaliações</a></li>
						<?php endif; ?>
					</ul>
				</li>
				
				<li class="convenios escolasapms escolasapmsgrupos controlesdespesas lancamentosreceitas lancamentosdespesas convenios financeirotipos"><a href="#" title="" class="expand"><i class="icon-money"></i>Financeiro</a>
					<ul>
						<?php if (Mn_Util::isAccess("financeirotipos", "visualizar")) : ?>
							<li class="financeirotipos"><a href="javascript:;" title="">Tipos de Idenficação</a></li> 
						<?php endif; ?>
						<?php if (Mn_Util::isAccess('convenios', 'visualizar')) : ?>
							<li class="convenios"><a href="javascript:;" title=""></i>Convenios</a></li>
						<?php endif; ?>  
						<?php if ((Mn_Util::isAccess('escolasapms', 'visualizar'))) : ?>
							<li class="escolasapms"><a href="<?php echo $this->baseUrl() ?>/admin/escolasapms" title="">APMS e PDE</a></li>
						<?php endif; ?>
						<?php if ((Mn_Util::isAccess('escolasapmsgrupos', 'visualizar'))) : ?>
							<li class="escolasapmsgrupos"><a href="<?php echo $this->baseUrl() ?>/admin/escolasapmsgrupos" title="">Composição da APM</a></li>
						<?php endif; ?>	
						<?php if ((Mn_Util::isAccess('controlesdespesas', 'visualizar'))) : ?>
							<li class="controlesdespesas"><a href="javascript:;" title="">Controle de Despesas</a></li>
						<?php endif; ?>
						<?php if(
							(Mn_Util::isAccess('lancamentosreceitas', 'visualizar')) || 
							(Mn_Util::isAccess('lancamentosdespesas', 'visualizar'))
							):
						?>
							<li class=""><a href="#" title="" class="expand"></i>Lançamentos Financeiros</a>
								<ul>
									<?php if (Mn_Util::isAccess('lancamentosreceitas', 'visualizar')) : ?>
										<li class="lancamentosreceitas"><a href="javascript:;" title="">Lançamentos Receitas</a></li>
									<?php endif; ?>
									<?php if (Mn_Util::isAccess('lancamentosdespesas', 'visualizar')) : ?>
										<li class="lancamentosdespesas"><a href="javascript:;" title="">Lançamentos Despesas</a></li>
									<?php endif; ?>
								</ul>
							</li>
						<?php endif; ?>
					</ul>
				</li>
				
				<li class="consultasprocessos juridicoportarias juridicostipos juridicooficios juridicosadvogados juridicosorigens juridicospartes juridicosstatus juridicoprocessos"><a href="#" title="" class="expand"><i class="icon-legal"></i>Jurídico</a>
					<ul>
						<?php if (Mn_Util::isAccess("juridicostipos", "visualizar")) : ?>
							<li class="juridicostipos"><a href="<?php echo $this->baseUrl() ?>/admin/juridicostipos" title="">Tipos de Recebimentos</a></li> 
						<?php endif; ?>

						<?php if ((Mn_Util::isAccess('juridicosadvogados', 'visualizar'))) : ?>
							<li class="juridicosadvogados"><a href="<?php echo $this->baseUrl() ?>/admin/juridicosadvogados" title="">Advogados</a></li>
						<?php endif; ?>

						<?php if ((Mn_Util::isAccess('juridicosorigens', 'visualizar'))) : ?>
							<li class="juridicosorigens"><a href="<?php echo $this->baseUrl() ?>/admin/juridicosorigens" title="">Origens</a></li>
						<?php endif; ?>


						<?php if ((Mn_Util::isAccess('juridicospartes', 'visualizar'))) : ?>
							<li class="juridicospartes"><a href="<?php echo $this->baseUrl() ?>/admin/juridicospartes" title="">Partes</a></li>
						<?php endif; ?>

						<?php if ((Mn_Util::isAccess('juridicosstatus', 'visualizar'))) : ?>
							<li class="juridicosstatus"><a href="<?php echo $this->baseUrl() ?>/admin/juridicosstatus" title="">Origens</a></li>
						<?php endif; ?>

						<?php if ((Mn_Util::isAccess('consultasprocessos', 'visualizar'))) : ?>
							<li class="consultasprocessos"><a href="<?php echo $this->baseUrl() ?>/admin/consultasprocessos" title="">Consulta de Processos</a></li>
						<?php endif; ?>
						<?php if ((Mn_Util::isAccess('juridicoportarias', 'visualizar'))) : ?>
							<li class="juridicoportarias"><a href="<?php echo $this->baseUrl() ?>/admin/juridicoportarias" title="">Controle de Portarias e Decretos</a></li>
						<?php endif; ?>

						<?php if ((Mn_Util::isAccess('juridicooficios', 'visualizar'))) : ?>
							<li class="juridicooficios"><a href="<?php echo $this->baseUrl() ?>/admin/juridicooficios" title="">Controle de Oficios Judiciais</a></li>
						<?php endif; ?>

						<?php if ((Mn_Util::isAccess('juridicoprocessos', 'visualizar'))) : ?>
							<li class="juridicoprocessos"><a href="<?php echo $this->baseUrl() ?>/admin/juridicoprocessos" title="">Processos</a></li>
						<?php endif; ?>						
					</ul>
				</li>
				
				<li class="locadores locacoesimoveis locacoesunidades locacoes locacoestipos"><a href="#" title="" class="expand"><i class="ico-home"></i>Locações</a>
					<ul>
						<?php if (Mn_Util::isAccess("locacoestipos", "visualizar")) : ?>
							<li class="locacoestipos"><a href="javascript:;" title="">Parametrizar Tempo de Vencimento</a></li> 
						<?php endif; ?>
						<?php if (Mn_Util::isAccess('locadores', 'visualizar')) : ?>
							<li class="locadores"><a href="<?php echo $this->baseUrl() ?>/admin/locadores" title="">Locadores</a></li>
						<?php endif; ?>
						<?php if (Mn_Util::isAccess('locacoesimoveis', 'visualizar')) : ?>
							<li class="locacoesimoveis"><a href="<?php echo $this->baseUrl() ?>/admin/locacoesimoveis" title="">Imóveis</a></li>
						<?php endif; ?>
						<?php if (Mn_Util::isAccess('locacoesunidades', 'visualizar')) : ?>
							<li class="locacoesunidades"><a href="<?php echo $this->baseUrl() ?>/admin/locacoesunidades" title="">Unidades</a></li>
						<?php endif; ?>
						<?php if (Mn_Util::isAccess('locacoes', 'visualizar')) : ?>
							<li class="locacoes"><a href="<?php echo $this->baseUrl() ?>/admin/locacoes" title="">Locações</a></li>
						<?php endif; ?>
					</ul>
				</li>
				
				<li class="reservasveiculos logisticastransportedeficidentes logisticascontrolessaidas logisticascontrolesdentradas logisticasocorrencias logisticasreservas logisticasrevisoes logisticamotoristas logisticafrotas logisticamultas logisticatransporteescolar logisticatipos logisticaskmconfiguracos"><a href="#" title="" class="expand"><i class="icon-truck"></i>Logística</a>
					<ul>
						<?php if (Mn_Util::isAccess("logisticatipos", "visualizar")) : ?>
							<li class="logisticatipos"><a href="javascript:;" title="">Cadastrar Tipos</a></li> 
						<?php endif; ?>
						<?php if (Mn_Util::isAccess("logisticaskmconfiguracos", "visualizar")) : ?>
							<li class="logisticaskmconfiguracos"><a href="javascript:;" title="">Configurar KM Escolar</a></li> 
						<?php endif; ?>
						<?php if (Mn_Util::isAccess('reservasveiculos', 'visualizar')) : ?>
							<li class="reservasveiculos"><a href="<?php echo $this->baseUrl() ?>/admin/reservasveiculos" title="">Reserva de Veículo</a></li>
						<?php endif; ?>
						<?php if (Mn_Util::isAccess('logisticatransporteescolar', 'visualizar')) : ?>
							<li class="logisticatransporteescolar"><a href="<?php echo $this->baseUrl() ?>/admin/logisticatransporteescolar" title="">Transporte Escolar</a></li>
						<?php endif; ?>
						<?php if (Mn_Util::isAccess('logisticastransportedeficidentes', 'visualizar')) : ?>
							<li class="logisticastransportedeficidentes"><a href="<?php echo $this->baseUrl() ?>/admin/logisticastransportedeficidentes" title="">Transportes para Deficiêntes</a></li>
						<?php endif; ?>
						<?php if (Mn_Util::isAccess('logisticamotoristas', 'visualizar')) : ?>
							<li class="logisticamotoristas"><a href="<?php echo $this->baseUrl() ?>/admin/logisticamotoristas" title="">Controle de Motoristas</a></li>
						<?php endif; ?>
						<?php if (Mn_Util::isAccess('logisticafrotas', 'visualizar')) : ?>
							<li class="logisticafrotas"><a href="<?php echo $this->baseUrl() ?>/admin/logisticafrotas" title="">Controle de Frotas</a></li>
						<?php endif; ?>
						<?php if (Mn_Util::isAccess('logisticamultas', 'visualizar')) : ?>
							<li class="logisticamultas"><a href="<?php echo $this->baseUrl() ?>/admin/logisticamultas" title="">Lançamentos de Multas</a></li>
						<?php endif; ?>
						<?php if (Mn_Util::isAccess('logisticascontrolessaidas', 'visualizar')) : ?>
							<li class="logisticascontrolessaidas"><a href="<?php echo $this->baseUrl() ?>/admin/logisticascontrolessaidas" title="">Controle Diário de Saída</a></li>
						<?php endif; ?>
						<?php if (Mn_Util::isAccess('logisticascontrolesdentradas', 'visualizar')) : ?>
							<li class="logisticascontrolesdentradas"><a href="<?php echo $this->baseUrl() ?>/admin/logisticascontrolesdentradas" title="">Controle Diário de Entrada</a></li>
						<?php endif; ?>
						<?php if (Mn_Util::isAccess('logisticasocorrencias', 'visualizar')) : ?>
							<li class="logisticasocorrencias"><a href="<?php echo $this->baseUrl() ?>/admin/logisticasocorrencias" title="">Ocorrência</a></li>
						<?php endif; ?> 
						<?php if (Mn_Util::isAccess('logisticasreservas', 'visualizar')) : ?>
							<li class="logisticasreservas"><a href="<?php echo $this->baseUrl() ?>/admin/logisticasreservas" title="">Reservas</a></li>
						<?php endif; ?>
						<?php if (Mn_Util::isAccess('logisticasrevisoes', 'visualizar')) : ?>
							<li class="logisticasrevisoes"><a href="<?php echo $this->baseUrl() ?>/admin/logisticasrevisoes" title="">Revisões</a></li>
						<?php endif; ?>   
					</ul>
				</li>
				
				<li class="nutricoesimcs nutricaomerendasocorrencias nutricaomerendasdiferenciadas nutricaomerendasconsumos nutricaocardapios nutricaovisitastecnicas nutricaoatestados nutricaoagendavisitas nutricaoatas nutricaotipos"><a href="#" title="" class="expand"><i class="icon-glass"></i>Nutrição</a>
					<ul>
						<?php if (Mn_Util::isAccess("nutricaotipos", "visualizar")) : ?>
							<li class="nutricaotipos"><a href="<?php echo $this->baseUrl() ?>/admin/nutricaotipos" title="">Cadastrar Tipos</a></li> 
						<?php endif; ?>
						<?php if (
							(Mn_Util::isAccess('nutricaoconsumos', 'visualizar')) || 
							(Mn_Util::isAccess('nutricaocardapios', 'visualizar')) || 
							(Mn_Util::isAccess('nutricaomerendasocorrencias', 'visualizar')) || 
							(Mn_Util::isAccess('nutricaomerendasdiferenciadas', 'visualizar'))
							):
						?>
							<li class=""><a href="#" title="" class="expand">Merendas</a>
								<ul>
									<?php if (Mn_Util::isAccess('nutricaomerendasconsumos', 'visualizar')) : ?>
										<li class="nutricaomerendasconsumos"><a href="<?php echo $this->baseUrl() ?>/admin/nutricaomerendasconsumos" title="">Controle de Consumos</a></li>
									<?php endif; ?>
									<?php if (Mn_Util::isAccess('nutricaomerendasocorrencias', 'visualizar')) : ?>
										<li class="nutricaoconsumos"><a href="<?php echo $this->baseUrl() ?>/admin/nutricaomerendasocorrencias" title="">Controle de Ocorrências</a></li>
									<?php endif; ?>
									<?php if (Mn_Util::isAccess('nutricaomerendasdiferenciadas', 'visualizar')) : ?>
										<li class="nutricaomerendasdiferenciadas"><a href="<?php echo $this->baseUrl() ?>/admin/nutricaomerendasdiferenciadas" title="">Controle de Merendas Diferenciadas</a></li>
									<?php endif; ?>
								</ul>
							</li>
						<?php endif; ?>
						
						<?php if (Mn_Util::isAccess('nutricoesimcs', 'visualizar')) : ?>
							<li class="nutricoesimcs"><a href="<?php echo $this->baseUrl() ?>/admin/nutricoesimcs" title="">I.M.C.</a></li>
						<?php endif; ?>
						<?php if (Mn_Util::isAccess("nutricaorestricaoalimentar", "visualizar")) : ?>
							<li class="nutricaorestricaoalimentar"><a href="javascript:;" title="">Restrição Alimentar</a></li> 
						<?php endif; ?>
						<?php if (Mn_Util::isAccess('nutricaovisitastecnicas', 'visualizar')) : ?>
							<li class="nutricaovisitastecnicas"><a href="<?php echo $this->baseUrl() ?>/admin/nutricaovisitastecnicas" title="">Visita Técnica</a></li>
						<?php endif; ?>
						<?php if (Mn_Util::isAccess('nutricaoagendavisitas', 'visualizar')) : ?>
							<li class="engenheirosagendavisitas"><a href="<?php echo $this->baseUrl() ?>/admin/engenheirosagendavisitas" title="">Agenda de Visitas</a></li>
						<?php endif; ?>
						
						<?php if (Mn_Util::isAccess('nutricaoatestados', 'visualizar')) : ?>
							<li class="nutricaoatestados"><a href="<?php echo $this->baseUrl() ?>/admin/nutricaoatestados" title="">Atestado de Nutrição</a></li>
						<?php endif; ?>
						<?php if (Mn_Util::isAccess('nutricaoatas', 'visualizar')) : ?>
							<li class="engenhariasatas"><a href="<?php echo $this->baseUrl() ?>/admin/engenhariasatas" title="">Controle de Atas</a></li>
						<?php endif; ?>
					</ul>
				</li>
				
				<li class="ouvidorias"><a href="#" title="" class="expand"><i class="ico-volume-up"></i>Ouvidoria</a>
					<ul>
						<?php if (Mn_Util::isAccess('ouvidorias', 'visualizar')) : ?>
							<li class="ouvidorias"><a href="<?php echo $this->baseUrl() ?>/admin/ouvidorias" title="">Reclamações</a></li>
						<?php endif; ?>
					</ul>
				</li>
				
				<li class="ligacoesfuncionarios ligacoesexternas ligacoesefetuadas ligacoesrecebidas agendafuncionariosinternos agendafuncionariosexternos agendaescolas pabxtipos"><a href="#" title="" class="expand"><i class="ico-headphones"></i>PABX</a>
					<ul>
						<?php if (Mn_Util::isAccess("pabxtipos", "visualizar")) : ?>
							<li class="pabxtipos"><a href="javascript:;" title="">Cadastrar Tipos</a></li> 
						<?php endif; ?> 
						
						<?php /*if (Mn_Util::isAccess('ligacoesfuncionarios', 'visualizar')) : ?>
							<li class="ligacoesfuncionarios"><a href="<?php echo $this->baseUrl() ?>/admin/ligacoesfuncionarios" title="">Ligação Funcionários</a></li>
						<?php endif; 
						<?php if (Mn_Util::isAccess('ligacoesexternas', 'visualizar')) : ?>
							<li class="ligacoesexternas"><a href="<?php echo $this->baseUrl() ?>/admin/ligacoesexternas" title="">Ligações Externas</a></li>
						<?php endif; ?>
						*/?>
						
						<?php if (Mn_Util::isAccess('ligacoesefetuadas', 'visualizar')) : ?>
							<li class="ligacoesefetuadas"><a href="<?php echo $this->baseUrl() ?>/admin/ligacoesefetuadas" title="">Ligação Efetuadas</a></li>
						<?php endif; ?> 
						<?php if (Mn_Util::isAccess('ligacoesrecebidas', 'visualizar')) : ?>
							<li class="ligacoesrecebidas"><a href="<?php echo $this->baseUrl() ?>/admin/ligacoesrecebidas" title="">Ligações Recebidas</a></li>
						<?php endif; ?>
						<?php if (Mn_Util::isAccess('agendafuncionariosinternos', 'visualizar')) : ?>
							<li class="agendafuncionariosinternos"><a href="<?php echo $this->baseUrl() ?>/admin/agendafuncionariosinternos" title="">Agenda de Funcionários Internos</a></li>
						<?php endif; ?>
						<?php if (Mn_Util::isAccess('agendafuncionariosexternos', 'visualizar')) : ?>
							<li class="agendafuncionariosexternos"><a href="<?php echo $this->baseUrl() ?>/admin/agendafuncionariosexternos" title="">Agenda de Funcionários Externos</a></li>
						<?php endif; ?>
						<?php if (Mn_Util::isAccess('agendaescolas', 'visualizar')) : ?>
							<li class="agendaescolas"><a href="<?php echo $this->baseUrl() ?>/admin/agendaescolas" title="">Agenda das Escolas</a></li>
						<?php endif; ?>
					</ul>
				</li>
				
				<li class="patrimoniosdepartamentos setores patrimoniossetores patrimoniosfornecedores patrimoniosmarcas patrimonios roubofurto baixas pastasvirtuaispatrimonio marcas patrimoniostipos depreciacoes comprasbens doacoes patrimoniostrasnferencias patrimoniosrecebimentos patrimoniosbaixas meuspatrimonios patrimoniostipos"><a href="#" title="" class="expand"><i class=" ico-folder-close"></i>Patrimônios e Mobília</a>
					<ul>
						<?php if (Mn_Util::isAccess("patrimoniostipos", "visualizar")) : ?>
							<li class="patrimoniostipos"><a href="javascript:;" title="">Cadastrar Tipos</a></li> 
						<?php endif; ?> 
						<?php if (Mn_Util::isAccess('patrimoniosmarcas', 'visualizar')) : ?>
							<li class="patrimoniosmarcas"><a href="javadscript:;" title="">Marcas</a></li>
						<?php endif; ?>
						<?php if (Mn_Util::isAccess('patrimonios', 'visualizar')) : ?>
							<li class="patrimonios"><a href="<?php echo $this->baseUrl() ?>/admin/patrimonios" title="">Meus Patrimônios</a></li>
						<?php endif; ?>
						<?php if (Mn_Util::isAccess('patrimoniosfornecedores', 'visualizar')) : ?>
							<li class="patrimoniosfornecedores"><a href="<?php echo $this->baseUrl() ?>/admin/patrimoniosfornecedores" title="">Fornecedores</a></li>
						<?php endif; ?>
						<?php if (Mn_Util::isAccess('patrimonioscomprasbens', 'visualizar')) : ?>
							<li class="patrimonioscomprasbens"><a href="<?php echo $this->baseUrl() ?>/admin/patrimonioscomprasbens" title="">Compras de Bens</a></li>
						<?php endif; ?>
						<?php if (Mn_Util::isAccess('meuspatrimonios', 'visualizar')) : ?>
							<li class="meuspatrimonios"><a href="<?php echo $this->baseUrl() ?>/admin/meuspatrimonios" title="">Patrimônios</a></li>
						<?php endif; ?>
						<?php if (Mn_Util::isAccess('patrimoniostrasnferencias', 'visualizar')) : ?>
							<li class="patrimoniostrasnferencias"><a href="javascript:;" title="">Transferências</a></li>
						<?php endif; ?>
						<?php if (Mn_Util::isAccess('patrimoniosrecebimentos', 'visualizar')) : ?>
							<li class="patrimoniosrecebimentos"><a href="javascript:;" title="">Recebimentos</a></li>
						<?php endif; ?>
						<?php if (Mn_Util::isAccess('patrimoniosbaixas', 'visualizar')) : ?>
							<li class="patrimoniosbaixas"><a href="javascript:;" title="">Baixas</a></li>
						<?php endif; ?>
						<?php if (Mn_Util::isAccess('doacoes', 'visualizar')) : ?>
							<li class="doacoes"><a href="javascript:;" title="">Termo de doação</a></li>
						<?php endif; ?>
						<?php if (Mn_Util::isAccess('qrcoderfidetiquetas', 'visualizar')) : ?>
							<li class="qrcoderfidetiquetas"><a href="javascript:;" title="">Gerar etiquetas qrCODE e RFID</a></li>
						<?php endif; ?>
						<?php if (Mn_Util::isAccess('patrimoniosvisitas', 'visualizar')) : ?>
							<li class="patrimoniosvisitas"><a href="<?php echo $this->baseUrl() ?>/admin/agendaescolas" title="">Agenda de Visitas</a></li>
						<?php endif; ?>
						<?php if (Mn_Util::isAccess('patrimoniosatas', 'visualizar')) : ?>
							<li class="patrimoniosatas"><a href="<?php echo $this->baseUrl() ?>/admin/patrimoniosatas" title="">Controle de Atas</a></li>
						<?php endif; ?>
						<?php if (Mn_Util::isAccess('patrimoniostermos', 'visualizar')) : ?>
							<li class="patrimoniostermos"><a href="<?php echo $this->baseUrl() ?>/admin/patrimoniostermos" title="">Termo de Doação</a></li>
						<?php endif; ?>
					</ul>
				</li>
	
				<!--  
				<li class="secretariaescolarocorrencias secretariaescolarmatriculas secretariaescolarfaltasprofessores secretariaescolaranexos secretariaescolarhistoricosescolares secretariaescolardiplomaslunos secretariaescolaratas secretariaescolarmensagens secretariaescolarcalendarios secretariaescolaralunos"><a href="#" title="" class="expand"><i class="icon-globe"></i>Adm Escolar</a>
					<ul>
						<?php if (Mn_Util::isAccess("secretariaescolarocorrencias", "visualizar")) : ?>
							<li class="secretariaescolarocorrencias"><a href="javascript:;" title="">Ocorrências</a></li> 
						<?php endif; ?>
						<?php if (Mn_Util::isAccess("secretariaescolarmatriculas", "visualizar")) : ?>
							<li class="secretariaescolarmatriculas"><a href="javascript:;" title="">Matrículas</a></li> 
						<?php endif; ?>
						<?php if (Mn_Util::isAccess("secretariaescolarfaltasprofessores", "visualizar")) : ?>
							<li class="secretariaescolarfaltasprofessores"><a href="javascript:;" title="">Faltas de Professores</a></li> 
						<?php endif; ?>
						<?php if (Mn_Util::isAccess("secretariaescolaranexos", "visualizar")) : ?>
							<li class="secretariaescolaranexos"><a href="javascript:;" title="">Anexar Provas e Trabalhos</a></li> 
						<?php endif; ?>
						<?php if (Mn_Util::isAccess("secretariaescolarhistoricosescolares", "visualizar")) : ?>
							<li class="secretariaescolarhistoricosescolares"><a href="javascript:;" title="">Histórico Rscolar</a></li> 
						<?php endif; ?>
						<?php if (Mn_Util::isAccess("secretariaescolardiplomaslunos", "visualizar")) : ?>
							<li class="secretariaescolardiplomaslunos"><a href="javascript:;" title="">Diploma e Crachá de Alunos</a></li> 
						<?php endif; ?>
						<?php if (Mn_Util::isAccess("secretariaescolaratas", "visualizar")) : ?>
							<li class="secretariaescolaratas"><a href="javascript:;" title="">Controle de Atas</a></li> 
						<?php endif; ?>
						<?php if (Mn_Util::isAccess("secretariaescolarmensagens", "visualizar")) : ?>
							<li class="secretariaescolarmensagens"><a href="javascript:;" title="">Envio de Mensagens</a></li> 
						<?php endif; ?> 
						<?php if (Mn_Util::isAccess("secretariaescolarcalendarios", "visualizar")) : ?>
							<li class="secretariaescolarcalendarios"><a href="javascript:;" title="">Calendário</a></li> 
						<?php endif; ?> 
						<?php if(
							(Mn_Util::isAccess("secretariaescolarvagastransferencias", "visualizar")) || 
							(Mn_Util::isAccess("secretariaescolarvagasexistencias", "visualizar")) || 
							(Mn_Util::isAccess("secretariaescolarvagasdesistencias", "visualizar"))
							):
						?>
							<li class=""><a href="#" title="" class="expand">Controle de Vagas</a>
								<ul>
									<?php if (Mn_Util::isAccess("secretariaescolarvagastransferencias", "visualizar")) : ?>
										<li class="secretariaescolarvagastransferencias"><a href="javascript:;" title="">Transferências</a></li> 
									<?php endif; ?> 
									<?php if (Mn_Util::isAccess("secretariaescolarvagasexistencias", "visualizar")) : ?>
										<li class="secretariaescolarvagasexistencias"><a href="javascript:;" title="">Existência de Vagas</a></li> 
									<?php endif; ?>
									<?php if (Mn_Util::isAccess("secretariaescolarvagasdesistencias", "visualizar")) : ?>
										<li class="secretariaescolarvagasdesistencias"><a href="javascript:;" title="">Desistência de Vagas</a></li> 
									<?php endif; ?>
								</ul>
							</li>
						<?php endif; ?>
						<?php if (Mn_Util::isAccess("secretariaescolaralunos", "visualizar")) : ?>
							<li class="secretariaescolaralunos"><a href="javascript:;" title="">Alunos</a></li> 
						<?php endif; ?> 
					</ul>
				</li>
				-->
	
				<?php if (Mn_Util::isAccess('professoresescolas', 'visualizar')) : ?>
					<li class="comunicadosprofessores calendariosprofessores suspeitaaprendizagem secretariaprofessores adminclientes professoresmetodosavaliacoes professoresconfiguracoesnotas professoreslancarnotas professoresparticipacoesalunos"><a href="#" title="" class="expand"><i class="icon-key"></i>Professores</a>
						<ul>
							<li class="comunicadosprofessores"><a href="<?php echo $this->baseUrl() ?>/admin/comunicacaocomunicados" title="">Comunicados</a></li>
							<li class="calendariosprofessores"><a href="javascript:;<?php echo $this->baseUrl() ?>/calendario" title="">Calendário</a></li>
							<li class=""><a href="#" title="" class="expand">Mensagens</a>
								<ul>
									<li class="direcao"><a href="javascript:;" title="">Direção</a></li>
									<li class="aluno"><a href="javascript:;" title="">Aluno</a></li>
								</ul>
							</li>
							<li class="suspeitaaprendizagem"><a href="javascript:;" title="">Suspeita de Aprendizagem</a></li>
							
							<?php if (Mn_Util::isAccess("secretariaprofessores", "visualizar")) : ?>
								<li class="secretariaprofessores"><a href="javascript:;" title="">Envio de Emails</a></li> 
							<?php endif; ?> 
							<?php if (Mn_Util::isAccess('adminclientes', 'visualizar')) : ?>
								<li class="adminclientes"><a href="javascript:;" title="">Professor</a></li>   
							<?php endif; ?>
							<?php if (Mn_Util::isAccess("professoresmetodosavaliacoes", "visualizar")) : ?>
								<li class="professoresmetodosavaliacoes"><a href="javascript:;" title="">Método de Avaliação</a></li> 
							<?php endif; ?> 
							<?php if (Mn_Util::isAccess("professoresconfiguracoesnotas", "visualizar")) : ?>
								<li class="professoresconfiguracoesnotas"><a href="javascript:;" title="">Configuração de Notas</a></li> 
							<?php endif; ?> 
							<?php if (Mn_Util::isAccess("professoreslancarnotas", "visualizar")) : ?>
								<li class="professoreslancarnotas"><a href="javascript:;" title="">Lançar Notas de Trabalho</a></li> 
							<?php endif; ?>
							<?php if (Mn_Util::isAccess("professoresparticipacoesalunos", "visualizar")) : ?>
								<li class="professoresparticipacoesalunos"><a href="javascript:;" title="">Participação do Aluno</a></li> 
							<?php endif; ?> 
						</ul>
					</li>
	
					<li class="diarioclasse quadrohorariosperiodos planosaulas ocorrencias"><a href="#" title="" class="expand"><i class="icon-bar-chart"></i>Diário de Classe</a>
						<ul>
							<?php if (Mn_Util::isAccess('quadrohorariosperiodos', 'visualizar')) : ?>
								<li class="quadrohorariosperiodos"><a href="<?php echo $this->baseUrl() ?>/admin/quadrohorariosperiodos" title="">Horário das Aulas</a></li>
							<?php endif; ?>
							
							<li class=""><a href="javascript:;" title="">Lançamento de Presença</a></li>
							<li class=""><a href="javascript:;" title="">Avaliações</a></li>
							<li class=""><a href="javascript:;" title="">Boletins</a></li>
							
							<?php if (Mn_Util::isAccess('planosaulas', 'visualizar')) : ?>
								<li class="planosaulas"><a href="<?php echo $this->baseUrl()?>/admin/planosaulas" title="">Conteúdo Programático</a></li>
							<?php endif; ?>
							<?php if (Mn_Util::isAccess('ocorrencias', 'visualizar')) : ?>
								<li class="ocorrencias"><a href="<?php echo $this->baseUrl()?>/admin/ocorrencias" title="">Ocorrêcias</a></li>
							<?php endif; ?>
						</ul>
					</li>
	
					<li class="ouvidorias"><a href="#" title="" class="expand"><i class="ico-volume-up"></i>Ouvidoria</a>
						<ul>
							<li class="ouvidorias"><a href="<?php echo $this->baseUrl() ?>/admin/ouvidorias" title="">Reclamações</a></li>                    
						</ul>
					</li>
				<?php endif; ?>
	
				<?php /* ?>
					<li class="funcionarios"><a href="<?php echo $this->baseUrl() ?>/admin/funcionarios" title="" class="expand"><i class="icon-user"></i>Funcionários</a>
						<ul>
							<?php if (Mn_Util::isAccess('funcionarios', 'visualizar')) : ?>
								<li class="funcionarios"><a href="<?php echo $this->baseUrl() ?>/admin/funcionariosgeraisescolas" title="">Listar todos</a></li> 
							<?php endif; ?>
						</ul>
					</li>
				<?php */?>
				
				<li class="protocolos protocolosmemorando protocolosoficio protocolostipos"><a href="#" title="" class="expand"><i class="icon-sitemap"></i>Protocolo Geral</a>
					<ul>
						<?php if (Mn_Util::isAccess("protocolostipos", "visualizar")) : ?>
							<li class="protocolostipos"><a href="javascript:;" title="">Tipos de processos</a></li> 
						<?php endif; ?> 			                	
						<?php if(Usuarios::getUsuario('master')=="sim"): ?>
							<?php if ((Mn_Util::isAccess('protocolos', 'visualizar'))) : ?>
								<li class="protocolos"><a href="<?php echo $this->baseUrl() ?>/admin/protocolos" title="">Protocolos Gerais</a></li>
							<?php endif; ?>
						<?php endif; //var_dump(Usuarios::getUsuario()); die();?>
						
						<?php if ((Mn_Util::isAccess('protocolosoficio', 'visualizar'))) : ?>
							<li class="protocolosoficio"><a href="javascript:;" title="">Ofício</a></li>
						<?php endif; ?>
						<?php if ((Mn_Util::isAccess('protocolosmemorando', 'visualizar'))) : ?>
							<li class="protocolosmemorando"><a href="javascript:;" title="">Memorando</a></li>
						<?php endif; ?>
						<?php if((int)Usuarios::getUsuario('iddepartamento') > 0): ?>
							<?php foreach (Departamentossecretarias::getDepartamentossecretariasHelper(array('id'=>Usuarios::getUsuario('iddepartamento'))) as $id => $departamento): ?>
								<?php if ((Mn_Util::isAccess('protocolos', 'visualizar'))) : ?>
									<li class="protocolos"><a href="<?php echo $this->baseUrl() ?>/admin/protocolos/index/idd/<?php echo $departamento['id']?>/departamento/<?php echo $departamento['departamento']?>" title="">Protocolos de <?php echo $departamento['departamento']?></a></li>
								<?php endif; ?>
							<?php endforeach; ?>
						<?php endif; ?>
					</ul>
				</li>
				
				<li class="solicitacoesrecepcoes solicitacoesrecepcoessemcadastro recepcaogabinetetipos"><a href="#" title="" class="expand"><i class="ico-user"></i>Recepção do Gabinete</a>
					<ul>
						<?php if (Mn_Util::isAccess("recepcaogabinetetipos", "visualizar")) : ?>
							<li class="recepcaogabinetetipos"><a href="javascript:;" title="">Cadastrar Tipos</a></li> 
						<?php endif; ?>
						<?php if (Mn_Util::isAccess('solicitacoesrecepcoes', 'visualizar')) : ?>
							<li class="solicitacoesrecepcoes"><a href="<?php echo $this->baseUrl() ?>/admin/solicitacoesrecepcoes" title="">Solicitações</a></li>
						<?php endif; ?>
						<?php if (Mn_Util::isAccess('solicitacoesrecepcoessemcadastro', 'visualizar')) : ?>
							<li class="solicitacoesrecepcoessemcadastro"><a href="<?php echo $this->baseUrl() ?>/admin/solicitacoesrecepcoessemcadastro" title="">Solicitações de Cadastro</a></li>
						<?php endif; ?>
					</ul>
				</li>
				
				<li class="visitasfuncionarios"><a href="#" title="" class="expand"><i class="icon-phone-sign"></i>Recepção Geral</a>
					<ul>
						<?php if (Mn_Util::isAccess('visitasfuncionarios', 'visualizar')) : ?>
							<li class="visitasfuncionarios"><a href="<?php echo $this->baseUrl() ?>/admin/" title="">Visitas de Funcionários</a></li>  
						<?php endif; ?>            
					</ul>
				</li>
	
				<li class="supferias funcionariosgeraisescolas funcionariosbolsas funcionariosescolasbolsas dadospessoais funcionariosgeraisescolashistoricos funcionariosgeraishistoricos funcionariosgerais rhsolicitacoescontascorrentes rhdeclaracoesaposentadoria rhdeclaracoesacumulos rhdeclaracoesbens documentacoespontuacoes documentacoespontuacoesfuncionarios rhdeclaracoesparentescos rhdeclaracoesdependentes solicitarferias solicitacoesfuncionarios pontosmensais solicitacoesfuncionarios pontosmensais solicitacoesfuncionarios rhafdimportacoes rhtipos departamentossecretarias cargos <?php echo 'departamentosescolas escolascargos escolasfuncoes' ?> funcionariosgeraisdasescolas"><a href="#" title="" class="expand"><i class="icon-group"></i>RH</a>
					<ul>
						<?php if (Mn_Util::isAccess('solicitarferias', 'visualizar')) : ?>
							<li class="solicitarferias"><a href="javascript:;" title="">Solicitar Férias</a></li>
						<?php endif; ?>
						<?php if (Mn_Util::isAccess('solicitacoesfuncionarios', 'visualizar')) :  ?>
							<li class="solicitacoesfuncionarios"><a href="javascript:;" title=""></i>Solicitar novos funcionários</a></li>
						<?php endif; ?>
						<?php if (Mn_Util::isAccess('pontosmensais', 'visualizar')) : ?>
							<li class="pontosmensais"><a href="javascript:;" title=""></i>Ponto Mensal</a></li>
						<?php endif; ?>
						<?php if (Mn_Util::isAccess('rhafdimportacoes', 'visualizar')) : ?>
							<li class="rhafdimportacoes"><a href="javasvript:;" title=""></i>Importar AFD</a></li>
						<?php endif; ?>
						<?php if ((Mn_Util::isAccess('departamentosescolas', 'visualizar'))) : ?>
							<li class="departamentosescolas"><a href="<?php echo $this->baseUrl() ?>/admin/departamentosescolas" title="">Departamentos</a></li>
						<?php endif; ?>
						<?php if ((Mn_Util::isAccess('escolascargos', 'visualizar'))) : ?>
							<li class="escolascargos"><a href="<?php echo $this->baseUrl() ?>/admin/escolascargos" title="">Cargos</a></li>
						<?php endif; ?>
						<?php if ((Mn_Util::isAccess('escolasfuncoes', 'visualizar'))) : ?>
							<li class="escolasfuncoes"><a href="<?php echo $this->baseUrl() ?>/admin/escolasfuncoes" title="">Funções</a></li>
						<?php endif; ?>
						<?php if ((Mn_Util::isAccess('funcionariosgeraisescolas', 'visualizar'))) : ?>
							<li class="funcionariosgeraisescolas"><a href="<?php echo $this->baseUrl() ?>/admin/funcionariosgeraisescolas" title="">Funcionários</a></li>
						<?php endif; ?>					
						<?php if ((Mn_Util::isAccess('funcionariosgeraisescolashistoricos', 'visualizar'))) : ?>
							<li class="funcionariosgeraisescolashistoricos"><a href="javascript:;" title="">Histórico de funcionários das escolas</a></li>
						<?php endif; ?>
						<?php if(
							(Mn_Util::isAccess('ferias', 'visualizar')) ||
							((Mn_Util::isAccess('funcionariosgerais', 'visualizar'))) ||
							((Mn_Util::isAccess('funcionariosgeraishistoricos', 'visualizar'))) ||
							((Mn_Util::isAccess('funcionariosgeraisescolas', 'visualizar'))) ||
							((Mn_Util::isAccess('funcionariosgeraisescolashistoricos', 'visualizar'))) ||
							(Mn_Util::isAccess('funcionariosbolsas', 'visualizar')) ||
							(Mn_Util::isAccess('funcionariosbolsas', 'visualizar')) ||
							(Mn_Util::isAccess('departamentossecretarias', 'visualizar')) ||
							(Mn_Util::isAccess('cargos', 'visualizar')) ||
							(Mn_Util::isAccess('departamentosescolas', 'visualizar')) ||
							(Mn_Util::isAccess('escolascargos', 'visualizar')) ||
							(Mn_Util::isAccess('escolasfuncoes', 'visualizar')) || 
							(Mn_Util::isAccess('funcionariosgeraisdasescolas', 'visualizar')) || 
							(Mn_Util::isAccess('dadospessoais', 'visualizar'))
							):
						?>
							<li class=""><a href="#" title="" class="expand"></i>Controle de funcionários</a>
								<ul>
									<?php /*if (Mn_Util::isAccess("departamentossecretarias", "visualizar")) : ?>
										<li class="departamentossecretarias"><a href="<?php echo $this->baseUrl() ?>/admin/departamentossecretarias" title="">Departamentos das secretarias</a></li> 
									<?php endif; ?>
									<?php if ((Mn_Util::isAccess('cargos', 'visualizar'))) : ?>
										<li class="cargos"><a href="<?php echo $this->baseUrl() ?>/admin/cargos" title="">Cargos da secretaria</a></li>
									<?php endif; ?>
									<?php if ((Mn_Util::isAccess('funcionariosgerais', 'visualizar'))) : ?>
										<li class="funcionariosgerais"><a href="<?php echo $this->baseUrl() ?>/admin/funcionariosgerais" title="">Funcionários da secretaria</a></li>
									<?php endif; ?>
									<?php if ((Mn_Util::isAccess('funcionariosgeraishistoricos', 'visualizar'))) : ?>
										<li class="funcionariosgeraishistoricos"><a href="<?php echo $this->baseUrl() ?>/admin/funcionariosgeraishistoricos" title="">Histórico de funcionários das secretarias</a></li>
									<?php endif;*/ ?>
									
									<?php if ((Mn_Util::isAccess('funcionariosgeraisdasescolas', 'visualizar'))) : ?>
										<li class="funcionariosgeraisdasescolas"><a href="<?php echo $this->baseUrl() ?>/admin/funcionariosgeraisdasescolas" title="">Funcionários das escolas</a></li>
									<?php endif; ?>
									<?php if (Mn_Util::isAccess('ferias', 'visualizar')) : ?>
										<li class="ferias"><a href="<?php echo $this->baseUrl() ?>/admin/ferias" title="">Férias</a></li>
									<?php endif; ?>
									<?php if (Mn_Util::isAccess('funcionariosbolsas', 'visualizar')) : ?>
										<li class="funcionariosbolsas"><a href="<?php echo $this->baseUrl() ?>/admin/funcionariosbolsas" title="">Bolsas de funcionários</a></li>
									<?php endif; ?>
									<?php if (Mn_Util::isAccess('funcionariosbolsas', 'visualizar')) : ?>
										<li class="funcionariosescolasbolsas"><a href="<?php echo $this->baseUrl() ?>/admin/funcionariosescolasbolsas" title="">Bolsas de funcionários das escolas</a></li>
									<?php endif; ?>
									<?php if (Mn_Util::isAccess('dadospessoais', 'visualizar')) : ?>
										<li class="dadospessoais"><a href="<?php echo $this->baseUrl() ?>/admin/dadospessoais" title="">Dados pessoais</a></li>
									<?php endif; ?>
								</ul>
							</li>
						<?php endif; ?>
						
						<?php if(
							(Mn_Util::isAccess('rhsolicitacoescontascorrentes', 'visualizar')) || 
							(Mn_Util::isAccess('rhdeclaracoesaposentadoria', 'visualizar')) ||
							(Mn_Util::isAccess('rhdeclaracoesbens', 'visualizar')) ||
							(Mn_Util::isAccess('documentacoespontuacoes', 'visualizar')) ||
							(Mn_Util::isAccess('documentacoespontuacoesfuncionarios', 'visualizar')) ||
							(Mn_Util::isAccess('rhdeclaracoesparentescos', 'visualizar')) ||
							(Mn_Util::isAccess('rhdeclaracoesdependentes', 'visualizar'))
							):
						?>
							<li class=""><a href="#" title="" class="expand">Documentos</a>
								<ul>
									<?php if (Mn_Util::isAccess('rhsolicitacoescontascorrentes', 'visualizar')) : ?>
										<li class="rhsolicitacoescontascorrentes"><a href="<?php echo $this->baseUrl() ?>/admin/rhsolicitacoescontascorrentes" title="">Solicitações de CC</a></li>
									<?php endif; ?>								
									<?php if (Mn_Util::isAccess('rhdeclaracoesaposentadoria', 'visualizar')) : ?>
										<li class="rhdeclaracoesaposentadoria"><a href="<?php echo $this->baseUrl() ?>/admin/rhdeclaracoesaposentadoria" title="">Declarações de aposentadoria</a></li>
									<?php endif; ?>								
									<?php if (Mn_Util::isAccess('rhdeclaracoesacumulos', 'visualizar')) : ?>
										<li class="rhdeclaracoesacumulos"><a href="<?php echo $this->baseUrl() ?>/admin/rhdeclaracoesacumulos" title="">Declarações de acúmulos ou não </a></li>
									<?php endif; ?>								
									<?php if (Mn_Util::isAccess('rhdeclaracoesbens', 'visualizar')) : ?>
										<li class="rhdeclaracoesbens"><a href="<?php echo $this->baseUrl() ?>/admin/rhdeclaracoesbens" title="">Declarações de Bens</a></li>
									<?php endif; ?>								
									<?php if (Mn_Util::isAccess('documentacoespontuacoes', 'visualizar')) : ?>
										<li class="documentacoespontuacoes"><a href="<?php echo $this->baseUrl() ?>/admin/documentacoespontuacoes" title="">Atribuição de pontos por documento</a></li>
									<?php endif; ?> 								
									<?php if (Mn_Util::isAccess('documentacoespontuacoesfuncionarios', 'visualizar')) : ?>
										<li class="documentacoespontuacoesfuncionarios"><a href="<?php echo $this->baseUrl() ?>/admin/documentacoespontuacoesfuncionarios" title="">Atribuição de pontos para professores</a></li>
									<?php endif; ?>								
									<?php if (Mn_Util::isAccess('rhdeclaracoesparentescos', 'visualizar')) : ?>
										<li class="rhdeclaracoesparentescos"><a href="<?php echo $this->baseUrl() ?>/admin/rhdeclaracoesparentescos" title="">Declarações de relação familiar ou de parentesco</a></li>
									<?php endif; ?>								
									<?php if (Mn_Util::isAccess('rhdeclaracoesdependentes', 'visualizar')) : ?>
										<li class="rhdeclaracoesdependentes"><a href="<?php echo $this->baseUrl() ?>/admin/rhdeclaracoesdependentes" title="">Declarações de dependentes para fins de desconto do IR na fonte</a></li>
									<?php endif; ?>
								</ul>
							</li>
						<?php endif; ?>
						<?php if (Mn_Util::isAccess('rhfrequencias', 'visualizar')) :  ?>
							<li class="rhfrequencias"><a href="javascript:;" title="">Frequências</a></li>   
						<?php endif; ?>
						<?php if (Mn_Util::isAccess('rhrequirimentoafastamentos', 'visualizar')) : ?>
							<li class="rhrequirimentoafastamentos"><a href="javascript:;" title="">Requerimento de afastamento</a></li>
						<?php endif; ?>
						<?php if (Mn_Util::isAccess('rhrequirimentoalicdencas', 'visualizar')) : ?>
							<li class="rhrequirimentoalicdencas"><a href="javascript:;" title="">Requerimento de licença</a></li>
						<?php endif; ?>
					</ul>
				</li>
				
				<li class="escolas escolasusuarios escolasusuariosperfis escolasapms escolasapmsgrupos   funcionariosescolas secretariaescolartipos"><a href="#" title="" class="expand"><i class="icon-book"></i>Secretaria Escolar</a>
					<ul>
						<?php if (Mn_Util::isAccess("secretariaescolartipos", "visualizar")) : ?>
							<li class="secretariaescolartipos"><a href="javascript:;" title="">Cadastrar Tipos</a></li> 
						<?php endif; ?>
						<?php if ((Mn_Util::isAccess('escolas', 'visualizar'))) : ?>
							<li class="escolas"><a href="<?php echo $this->baseUrl() ?>/admin/escolas" title="">Escolas</a></li>
						<?php endif; ?>	
						<?php if ((Mn_Util::isAccess('funcionariosescolas', 'visualizar'))) : ?>
							<li class="funcionariosescolas"><a href="<?php echo $this->baseUrl() ?>/admin/funcionariosescolas" title="">Funcionários das Escolas</a></li>
						<?php endif; ?>
					</ul>
				</li>
				
				<li class="supervisoes supervisaoagendasvisitas supervisaoatas supervisaoequipes supervisaoroteiros supervisaotipos"><a href="#" title="" class="expand"><i class="ico-retweet"></i>Supervisão</a>
					<ul>
						<?php if (Mn_Util::isAccess("supervisaotipos", "visualizar")) : ?>
							<li class="supervisaotipos"><a href="javascript:;" title="">Equipe Técnica</a></li> 
						<?php endif; ?>					
						<?php if (Mn_Util::isAccess('supervisoes', 'visualizar')) : ?>
							<li class="supervisoes"><a href="<?php echo $this->baseUrl() ?>/admin/supervisoes" title="">Críticas</a></li>
						<?php endif; ?>
						<?php if (Mn_Util::isAccess('supervisaoagendasvisitas', 'visualizar')) : ?>
							<li class="supervisaoagendasvisitas"><a href="<?php echo $this->baseUrl() ?>/admin/supervisaoagendasvisitas" title="">Agenda de Visitas</a></li>
						<?php endif; ?>
						<?php if (Mn_Util::isAccess('supervisaoatas', 'visualizar')) : ?>
							<li class="supervisaoatas"><a href="<?php echo $this->baseUrl() ?>/admin/supervisaoatas" title="">Controle de Atas</a></li>
						<?php endif; ?>
						<?php if (Mn_Util::isAccess('supervisaoequipes', 'visualizar')) : ?>
							<li class="supervisaoequipes"><a href="<?php echo $this->baseUrl() ?>/admin/supervisaoequipes" title="">Equipes</a></li>
						<?php endif; ?>
						<?php if (Mn_Util::isAccess('supervisaoroteiros', 'visualizar')) : ?>
							<li class="supervisaoroteiros"><a href="<?php echo $this->baseUrl() ?>/admin/supervisaoroteiros" title="">Roteiro</a></li>
						<?php endif; ?>
					</ul>
				</li>
	
				<li class="titecnicos tichamados tifornecedores tiequipamentosmanutencoes tiagendasvisitas tiatas protocolostipos"><a href="#" title="" class="expand"><i class="ico-hdd"></i>TI</a>
					<ul>
						<?php if (Mn_Util::isAccess("protocolostipos", "visualizar")) : ?>
							<li class="titipos"><a href="javascript:;" title="">Equipe técnica</a></li> 
						<?php endif; ?> 
						<?php if (Mn_Util::isAccess("protocolostipos", "visualizar")) : ?>
							<li class="protocolostipos"><a href="javascript:;" title="">Tipos de processos</a></li> 
						<?php endif; ?> 
						<?php if (Mn_Util::isAccess('titecnicos', 'visualizar')) : ?>
							<li class="titecnicos"><a href="<?php echo $this->baseUrl() ?>/admin/titecnicos" title="">Funcionários</a></li>
						<?php endif; ?>
						<?php if (Mn_Util::isAccess('tichamados', 'visualizar')) : ?>
							<li class="tichamados"><a href="<?php echo $this->baseUrl() ?>/admin/tichamados" title=""><?php echo ($this->getController()=="tichamados") ? 'Chamados técnicos':'Reparos' ?></a></li>
						<?php endif; ?>
						<?php if (Mn_Util::isAccess('tiequipamentosmanutencoes', 'visualizar')) : ?>
							<li class="tiequipamentosmanutencoes"><a href="<?php echo $this->baseUrl() ?>/admin/tiequipamentosmanutencoes" title="">Equipamentos em Manutenção</a></li>
						<?php endif; ?>
						<?php if (Mn_Util::isAccess('tifornecedores', 'visualizar')) : ?>
							<li class="tifornecedores"><a href="<?php echo $this->baseUrl() ?>/admin/tifornecedores" title="">Fornecedores</a></li>
						<?php endif; ?>
						<?php if (Mn_Util::isAccess('tiagendasvisitas', 'visualizar')) : ?>
							<li class="tiagendasvisitas"><a href="<?php echo $this->baseUrl() ?>/admin/tiagendasvisitas" title="">Agenda de visitas</a></li>
						<?php endif; ?>
						<?php if (Mn_Util::isAccess('tiatas', 'visualizar')) : ?>
							<li class="tiatas"><a href="<?php echo $this->baseUrl() ?>/admin/tiatas" title="">Atas</a></li>
						<?php endif; ?>
					</ul>
				</li>
	
				<!--  
				<li class="chat"><a href="#" title="" class="expand"><i class="icon-comments-alt"></i>Chat</a>
					<ul>
						<li class="funcionarios"><a href="javascript:;" title="">Chat departamentos</a></li>                    
					</ul>
				</li>
				-->
				
				<!--
				<li class="novassolicitacoes"><a href="#" title="" class="expand"><i class="icon-tag"></i>Solicitações</a>
					<ul>
						<?php if (Mn_Util::isAccess('novassolicitacoes', 'visualizar')) : ?>
							<li class="novassolicitacoes"><a href="<?php echo $this->baseUrl() ?>/admin/novassolicitacoes" title="">Solicitações</a></li>
						<?php endif; ?>
					</ul>
				</li>
				-->
				
				<!--
				<li class="licencas"><a href="#" title="" class="expand"><i class="icon-key"></i>Licenças de Uso</a>
					<ul>
						<?php if (Mn_Util::isAccess('licencas', 'adicionar')) : ?>
							<li class="adicionar"><a href="<?php echo $this->baseUrl() ?>/admin/licencas/adicionar" title="">Adicionar</a></li>
						<?php endif; ?>
						<?php if (Mn_Util::isAccess('licencas', 'visualizar')) : ?>
							<li class="index"><a href="<?php echo $this->baseUrl() ?>/admin/licencas" title="">Visualizar</a></li>
						<?php endif; ?>
					</ul>
				</li>	
				-->
			</ul>
			<!-- /main navigation -->
		</div>
	</div>
</div>
<!-- /sidebar -->

<script type="text/javascript">
	$('a.expand').closest('li').each(function() {
		li = $(this).find('li');
		if (li.length==0) {
			$(this).remove();
		}
	});
</script>