		<!-- Content -->
		<div id="content">

		    <!-- Content wrapper -->
		    <div class="wrapper">

			    <!-- Breadcrumbs line -->
			    <div class="crumbs">
			    	<?php echo $this->render('/helpers/breadcrumb.phtml') ?>
			    </div>
			    <!-- /breadcrumbs line -->

			    <!-- Page header -->
			    <div class="page-header">
			    	<div class="page-title">
				    	<h5>Pontos mensais no sistema</h5>
				    	<span>Visualize os postos mensais do sistema xx</span>
			    	</div>
			    	
			    </div>
			    <!-- /page header -->
			    
			    <?php if (isset($this->crudMessage)) : ?>
				<div class="alert alert-success">
                	<button data-dismiss="alert" class="close" type="button">×</button>
                    <strong>Operação realizada com sucesso!</strong>
	    			<span><br /><?php echo $this->crudMessage ?></span>
                </div>			    
			    <?php endif; ?>
	                        	                        
                <!-- Table with footer -->
                <div class="widget">
                	<form action="" class="form-horizontal">
                		<input type="hidden" value="<?php echo (isset($this->post_var['sorting'])) ? $this->post_var['sorting'] : '' ?>" name="sorting" />
	                	<div class="navbar">
	                		<div class="navbar-inner"> 
                                        <br>
                                            <?php $rowFuncionario = Funcionariosgeraisescolas::getFuncionariogeralescolaByIdHelper($this->usuarioId) ?>   
                                            <table>
                                                <tr>
                                                  <td><h6>Nome: </h6></td>
                                                  <td><?php echo (isset( $rowFuncionario['nome'])) ?  $rowFuncionario['nome'] : '----'   ?> &nbsp; &nbsp; &nbsp;</td>
                                                  <td><h6>Admissão: </h6></td>
                                                  <td><?php echo (isset($rowFuncionario['dataadmissaocomissionado'])) ?  $rowFuncionario['dataadmissaocomissionado'] : '----'?></td>
                                                </tr>
                                                <tr>
                                                  <td><h6>RGF: </h6></td>
                                                  <td><?php echo (isset($rowFuncionario['rgf'])) ?  $rowFuncionario['rgf']  :  '----' ?></td>
                                                  <td><h6>CPF: </h6></td>
                                                  <td><?php echo (isset($rowFuncionario['cpf'] )) ? $rowFuncionario['cpf']  :  '----' ?></td> 
                                                </tr>
                                                <tr>
                                                  <td><h6>Cargo: </h6></td>
                                                  <td><?php echo (isset($rowFuncionario['cargo'])) ? $rowFuncionario['cargo'] :  '----' ?></td>
                                                  <td><h6>Cargo comissionado: </h6></td>
                                                  <td><?php echo (isset($rowFuncionario['cargocomissionado'] )) ? $rowFuncionario['cargocomissionado']  :  '----' ?></td> 
                                                </tr>
                                            </table>
                                            <br>
                                            <?php if (Mn_Util::isAccess($this->getController(), 'adicionar')) : ?>
                                            <!--<a style="float:right;" href="<?php echo $this->baseUrl() ?>/<?php echo 'admin' ?>/<?php echo $this->getController() ?>/adicionar" class="btn btn-primary"><span class="icon-plus"></span>&nbsp;Adicionar ponto mensal</a>-->
                                            <?php endif; ?>
	                		</div>
	                	</div>
	                    <div class="table-overflow">
	                        <table class="table table-content">
	                            <thead>
	                                <tr>
                                                <th width="20">#</th>
                                                <th>Inicio/Fim</th>
                                                <th>Lançamentos</th>
                                                <th>Anexos</th>
                                                <th>Status</th>
                                                <th width="96">Ações</th>
	                                </tr>
	                                <tr>
	                                    <th></th>
                                            <th>
                                                    <div><!--
                                                            <select name="idlocal" placeholder="Todos" class="select">
                                                                    <option value="">Todos</option>
                                                                    <?php foreach (Locais::getLocaisHelper(array('status'=>'Ativo')) as $k=>$v) : ?>
                                                                            <option value="<?php echo $v['id'] ?>"><?php echo $v['titulo'] ?></option>
                                                                    <?php endforeach;?>
                                                            </select>-->
                                                    </div>
                                            </th>

                                            <th>
                                                    <!--<input name="idfuncionario" value="<?php echo (isset($this->post_var['idfuncionario'])) ? $this->post_var['idfuncionario'] : '' ?>" type="text" placeholder="idfuncionario" class="span3">-->
<!--											<input name="dia_i" value="<?php //echo (isset($this->post_var['dia_i'])) ? Mn_Util::formPostVarData($this->post_var['dia_i']) : '' ?>" type="text" placeholder="Dia inicial" class="span3">
                                                    <input name="dia_f" value="<?php //echo (isset($this->post_var['dia_f'])) ? Mn_Util::formPostVarData($this->post_var['dia_f']) : '' ?>" type="text" placeholder="Dia final" class="span3">-->
                                            </th>

                                            <th>
                                                <!--<ul class="table-controls"><li><input name="dia_i" value="<?php echo (isset($this->post_var['dia_i'])) ? Mn_Util::formPostVarData($this->post_var['dia_i']) : '' ?>" type="text" placeholder="Dia inicial" class="span3"></li><li> <input name="dia_i" value="<?php echo (isset($this->post_var['dia_i'])) ? Mn_Util::formPostVarData($this->post_var['dia_i']) : '' ?>" type="text" placeholder="Dia inicial" class="span3"> </li> <li><a title="" class="btn tip" style="position: relative; top: 0px" href="<?php echo $this->baseUrl() ?>/<?php echo 'admin' ?>/<?php echo $this->getController() ?>/visualizar/id/<?php echo $row['id'] ?>" data-original-title="Gerar Grupo"><i class="icon-print"></i> Gerar Grupo</a> </li></ul>-->
                                                    <!--<div>
                                                            <select name="diasemana" placeholder="Todos" class="select">
                                                                    <option value="">Todos</option>
                                                                    <option value="Segunda Feira">Segunda Feira</option><option value="Terça Feira">Terça Feira</option><option value="Quarta Feira">Quarta Feira</option><option value="Quinta Feira">Quinta Feira</option><option value="Sexdta Feira">Sexdta Feira</option><option value="Sábado">Sábado</option><option value="Domingo">Domingo</option>
                                                            </select>
                                                    </div>-->
                                            </th>

                                            <th>
                                                    <div>
                                                            <select name="status1" placeholder="Todos" class="select">
                                                                    <option value="">Todos</option>
                                                                    <option value="Ativo">Ativo</option><option value="Bloqueado">Bloqueado</option>
                                                            </select>
                                                    </div>
                                            </th>
                   

	                                    <th><button class="btn btn-mini btn-primary" type="submit">Pesquisar</button></th>
	                                </tr> 
	                                                                
	                            </thead>
                                   
	                            <tbody>
	                            	<?php if (sizeof($this->rows)==0) : ?>
	                                <tr>
	                                    <td colspan="7">Nenhum registro foi encontrado!</td>
	                                </tr>
	                            	
                                        <?php 
                                        
                                        else :
                                        
                                                $counter = 0;     // contador para setar ids diferenciados

                                                foreach ($this->rows as $row) : 
                                                      

                                                        /* -------------- Cabeçalho carregando valores das linhas  ----------------------------*/

                                                        $counter++;  // contador para diferenciar valores das linhas ao puxar via Ajax

                                                        $objInicio =  date("d-m-Y", strtotime($row['datainiciobloco']));
                                                        $dataInicio = new DateTime($objInicio); 

                                                        $objFim =  date("d-m-Y", strtotime($row['datafimbloco']));
                                                        $dataFim = new DateTime($objFim); 

                                                         //instanciando elementos de confirmação

                                                         $arraySetFuncionario = array();
                                                         $arraySetFuncionario['id'] = $this->usuarioId;
                                                         $estados = '';
                                                         $idusuario = $this->funcionarioId;
                                                         $funcionariosgerais = new Funcionariosgeraisescolas();
                                                         $subRows = $funcionariosgerais->FuncionariosGeraisPontosResumo($arraySetFuncionario, 0, 0, $dataInicio->format('Y-m-d'), $dataFim->format('Y-m-d'), $idusuario, $estados);
                                                        
                                                        
                                                        /* -------------- END Cabeçalho carregando valores das linhas  ----------------------------*/

                                        ?>
	                                <tr>
	                                	<td colspan='2'><h5>
                                                <?php 
                                                        echo  '<p style="color: green">' .  $dataInicio->format('d/m/Y') . " </p><p style='color: #cc3300'> " . $dataFim->format('d/m/Y') . '</p>';

                                                ?>
                                                <h5/></td>                         
                                                                
                                                            <td>
                                                            
                                                                <?php
                                                                        /* ---  Setando valores para funcionalidades do painel de controle de confirmação do RH ------- */

                                                                        if((Usuarios::getUsuario('idperfil') == '14') || (Usuarios::getUsuario('idperfil') == '1')):

                                                                                if((((int)$subRows[0]['lancamentos']) < ((int)$subRows[0]['totalDiasUteis'])) AND (((int)$subRows[0]['lancamentos']) > 0)):
                                                                                        // Se os lançamentos forem menores que os dias uteis
                                                                                        echo "<div class='btn btn-warning btn-block' style='cursor: pointer'><h5>" . $subRows[0]['lancamentos'] . " / " .$subRows[0]['totalDiasUteis'] . "</h5></div>";
                                                                                elseif(((int)$subRows[0]['lancamentos']) == 0):
                                                                                        // Se os lançamentos forem iguais a zero
                                                                                        echo "<div class='btn btn-default btn-block' style='cursor: pointer'><h5>" . $subRows[0]['lancamentos'] . " / " .$subRows[0]['totalDiasUteis'] . "</h5></div>";
                                                                                elseif(((int)$subRows[0]['lancamentos']) == ((int)$subRows[0]['totalDiasUteis']) AND (((int)$subRows[0]['lancamentos']) > 0)):
                                                                                        // Se os lancçamentos forem iguais aos dias uteis e maiores que zero

                                                                                        if(((int)$subRows[0]['lancamentos']) == ((int)$subRows[0]['confirmados'])):
                                                                                                echo "<div class='btn btn-info btn-block' style='cursor: pointer'><h5>" . $subRows[0]['lancamentos'] . " / " .$subRows[0]['totalDiasUteis'] . "</h5></div>";
                                                                                        else:
                                                                                                echo "<div class='btn btn-success btn-block' style='cursor: pointer' ><h5>" . $subRows[0]['lancamentos'] . " / " .$subRows[0]['totalDiasUteis'] . "</h5></div>";
                                                                                        endif;
                                                                                                
                                                                                endif;                                                    
                                                                               
                                                                        else:
                                                                                echo "<div class='btn btn-default btn-block' style='cursor: pointer'><h5>" . $subRows[0]['lancamentos'] . " / " .$subRows[0]['totalDiasUteis'] . " / " . $subRows[0]['confirmados'] . "</h5></div>";
                                                                        endif;

                                                                ?>
                                                            </td>

                                                            <td>
                                                               
                                                            </td>
                                                            <!-- <td><?php //echo $row['rgf'] ?></td>-->

                                                            <td>
                                                                <?php if (Mn_Util::isAccess($this->getController(), 'editar')) : ?>
                                                                        <a onclick="javascript:statusChange(<?php echo $row["id"]?>, this);" href="javascript:;"><?php echo $row['status'] ?></a>
                                                                <?php else : ?>
                                                                        <?php echo $row['status'] ?>
                                                                <?php endif; ?>
                                                            </td>

			                				

	                                    <td>
                                                <?php
                                                
                                                /* =============================================================================
                                                        Bloco definido para controle de acesso ao anexo de arquivos 
                                                ================================================================================*/

                                                // caso o bloco esteja confirmado pelo RH ou Admin
                                                if( (((int)$subRows[0]['lancamentos']) == ((int)$subRows[0]['confirmados'])) AND  (((int)$subRows[0]['lancamentos']) > 0 )):
                                                        echo  "<div class='btn btn-block btn-info' style='cursor: pointer' disabled>Fechado</div>";
                                                else:
                                                        echo  "<div class='btn btn-block btn-info' style='cursor: pointer' onclick='anexarArquivo(" . $dataInicio->format('Y-m-d') . "," . $dataFim->format('Y-m-d') . "," . $this->usuarioId . "," . $this->funcionarioId . "," . $counter . ")'>Salvar Anexo</div>";
                                                endif;
                                                
                                                ?>
                                                <br>
                                                <div class='btn btn-block btn-default' style='cursor: pointer'> &nbsp; <i class="icon-print"></i> Gerar &nbsp; <b style='color: red'>PDF</b></div>
                                                
                                                <!--
	                                        <ul class="table-controls">
	                                            <li><a title="" class="btn tip" href="<?php echo $this->baseUrl() ?>/<?php echo 'admin' ?>/<?php echo $this->getController() ?>/cartoes/id/<?php echo $row['id'] ?>" data-original-title="Visualizar"><i class="icon-eye-open"></i></a> </li>
	                                            <?php if (Mn_Util::isAccess($this->getController(), 'editar')) : ?>
	                                            <li><a title="" class="btn tip" href="<?php echo $this->baseUrl() ?>/<?php echo 'admin' ?>/<?php echo $this->getController() ?>/editar/id/<?php echo $row['id'] ?>" data-original-title="Editar"><i class="icon-pencil"></i></a> </li>
	                                            <?php endif;?>
	                                            <?php if (Mn_Util::isAccess($this->getController(), 'excluir')) : ?>
	                                            <li><a title="" class="btn tip" href="javascript:confirmDelete('<?php echo $row['id']; ?>','registro');" data-original-title="Excluir"><i class="icon-remove"></i></a> </li>
	                                            <?php endif; ?>
	                                        </ul>
                                                -->
	                                    </td>
	                                </tr>
	                            	<?php endforeach;?>
	                            	
	                            	
	                            	
	                            	
	                            	<?php endif; ?>
	
	                            </tbody>
	                        </table>
                                   
	                    </div>
	                    <?php //echo $this->render('/helpers/paginator.phtml') ?>
                    
                    </form>

                </div>
                <!-- /table with footer -->
	                        


		    </div>
		    <!-- /content wrapper -->

		</div>
		<!-- content -->
		
		
<script type="text/javascript" src="<?php echo $this->baseUrl('/public/scripts/admin/pontosmensais_cartoes.js') ?>"></script>
<script type="text/javascript">

	var form_values = {};
	<?php if (isset($this->post_var)) :  ?>
form_values.idfuncionario = '<?php echo (isset($this->post_var['idfuncionario'])) ? $this->post_var['idfuncionario'] : '' ?>';

form_values.diasemana = '<?php echo (isset($this->post_var['diasemana'])) ? $this->post_var['diasemana'] : '' ?>';

form_values.status1 = '<?php echo (isset($this->post_var['status1'])) ? $this->post_var['status1'] : $this->post_var['status'] ?>';

	
	<?php endif; ?>

	var sorting = ["idfuncionario", "dia", "diasemana", "horaentrada", "horasaida", "observacoes", "status"];
	
</script>	


