<!-- Content -->
<div id="content">

    <!-- Content wrapper -->
    <div class="wrapper">

        <!-- Breadcrumbs line -->
        <div class="crumbs">
            <?php echo $this->render('/helpers/breadcrumb.phtml') ?>
        </div>
        <!-- /breadcrumbs line -->

        <!-- Page header -->
        <div class="page-header">
            <div class="page-title">
                <h5>Pontos mensais no sistema</h5>
                <span>Visualize os pontos mensais do sistema</span>
            </div>
        </div>
        <!-- /page header -->

        <?php if (isset($this->crudMessage)) : ?>
            <div class="alert alert-success">
                <button data-dismiss="alert" class="close" type="button">×</button>
                <strong>Operação realizada com sucesso!</strong>
                <span><br /><?php echo $this->crudMessage ?></span>
            </div>			    
        <?php endif; ?>


        <!--     Formulário de apresentação dos dados do funcionário escolhido      -->

        <div class="widget">
            <div class="navbar">
                <div class="navbar-inner">
                    <h4><small>Funcionário : </small> <?php echo $this->funcionario['nome']?></h4>
                    <!-- <h4><small>Data Registro : </small>
                    <?php 
                        if(isset($this->funcionario['dataregistroctps'])): 

                            $dateob =  date('Y-m-d H:i:s', strtotime($this->funcionario['dataregistroctps']));
                            $Datectps = new DateTime($dateob);
                            echo $Datectps->format('d/m/Y');

                        else: 

                            echo '-------';

                        endif;
                      
                    ?></h4> -->
                    <!-- <h4><small>CPF : </small>
                    <?php 
                    
                        if(isset($this->funcionario['dataregistroctps'])): 
                            echo $this->funcionariol['cpf'];
                        else: 
                            echo '-------';
                        endif;
                    
                    
                    ?></h4> -->
                    <h4><small>RGF : </small><?php echo $this->funcionario['rgf']?></h4>
                    <h4><small><div class='btn' style='cursor: pointer' onclick='acessa()'>  Definir Novo <span class="badge badge-light"> Horário </span> </div> Horário de Trabalho : 
                    <div id='rotulo-horarios'>
                    [
                        <?php 

                            if(isset($this->funcionarioHorariosDefinidos['rotulohorario'])): 
                                echo $this->funcionarioHorariosDefinidos['rotulohorario'];
                            else:
                                echo 'Defina um horário para este funcionário';
                            endif;
                            
                        ?> 
                    ]
                    </small>
                        Entrada/Saída :
                        <?php 
                        
                       

                        if(isset($this->funcionarioHorariosDefinidos['hora_entrada'])): 

                            $dateObj =  date('H:i:s', strtotime($this->funcionarioHorariosDefinidos['hora_entrada']));
                            $Dateinicio = new DateTime($dateObj);
                           
                            echo $Dateinicio->format('H:i');

                        else: 

                            $dateObj =  date('H:i:s', strtotime('00:00:00'));
                            $Dateinicio = new DateTime($dateObj);

                            //echo $Dateinicio->format('H:i');
                            echo '----';
                        endif;
                         ?> 
                        ás 
                        <?php 
                            // 2018-05-10 00:00:00
                            
                            
                            if(isset($this->funcionarioHorariosDefinidos['hora_saida'])): 
                           
                                $dateObj =  date('H:i:s', strtotime($this->funcionarioHorariosDefinidos['hora_saida']));
                                $Datefim = new DateTime($dateObj);
                            
                                echo $Datefim->format('H:i') ;
    
                            else: 

                                $dateObj =  date('H:i:s', strtotime('00:00:00'));
                                $Datefim = new DateTime($dateObj);
                            
    
                                //echo $Datefim->format('H:i') ;
                                echo '----';
                            endif;
                            
                            ?> 
                            
                        Pausas : 

                        <?php 
                            

                            if(isset($this->funcionarioHorariosDefinidos['hora_pausa_entrada'])):

                                $dateObj =  date('H:i:s', strtotime($this->funcionarioHorariosDefinidos['hora_pausa_entrada']));
                                $Datepausaentrada = new DateTime($dateObj);

                                echo $Datepausaentrada->format('H:i');

                            else: 

                                $dateObj =  date('H:i:s', strtotime('00:00:00'));
                                $Datepausaentrada = new DateTime($dateObj);

                                // echo $Datepausaentrada->format('H:i');
                                echo '----';
                            endif;
                             ?> 
                        ás 
                        <?php 
                           
                            
                            if(isset($this->funcionarioHorariosDefinidos['hora_pausa_saida'])):

                                $dateObj =  date('H:i:s', strtotime($this->funcionarioHorariosDefinidos['hora_pausa_saida']));
                                $Datepausasaida = new DateTime($dateObj);

                                echo $Datepausasaida->format('H:i');

                            else: 

                                $dateObj =  date('H:i:s', strtotime('00:00:00'));
                                $Datepausasaida = new DateTime($dateObj);

                                // echo $Datepausasaida->format('H:i');
                                echo '----';
                            endif;
                            
                            ?>
                        
                        </div>
                        <br><br>
                        <div id='teste' style='display: none'> 
                        <small> * Clique acima da linha do horário desejado para selecionar </small>
                        <table class="table table-stiped table-hover">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>Total</th>
                                    <th>Entrada</th>
                                    <th>Pausa Entrada</th>
                                    <th>Pausa Saida</th>
                                    <th>Saida</th>
                                </tr>
                            </thead>
                            <tbody name='horarios'>

                            <?php 

                                $horariosDefinidos = new Funcionariosgeraispontodefinicaohorarios();
                                $rows = $horariosDefinidos->getFuncionariosgeraispontodefinicaohorarios();

                                foreach($rows as $index):

                            ?>
                                <tr id='<?php echo $index['id'] ?>' onclick='clickhorario("<?php echo $index['id'] ?>")' style='cursor: pointer'>
                                    
                                    <td><?php echo $index['rotulohorario'] ?></td>
                                    <td></td>
                                    <td><?php echo $index['hora_entrada'] ?></td>
                                    <td><?php echo $index['hora_saida'] ?></td>
                                    <td><?php echo $index['hora_pausa_entrada'] ?></td>
                                    <td><?php echo $index['hora_pausa_saida'] ?></td>
                                    
                                </tr>

                            <?php endforeach;  ?>
                                
                                
                            </tbody>
                        </table>
                        </div>
                        </h4>
                    <!--<h4><small>Horas de Trabalho : </small>total diario : 
                    <?php 
                        //$dateObj =  date('H:i:s', strtotime($this->horastrabalhoDiario,'H'));
                        //$Date = new DateTime($dateObj);
                        //echo $Date->format('H:i'); 
                    ?></h4>
                    Horas 
                    <?php
                        //$dateObj =  date('H:i:s', strtotime($this->horastrabalhoDiario,'i'));
                        //$Date = new DateTime($dateObj);
                        //echo $Date->format('H:i')  
                    ?> Minutos</h4>-->
                    
                </div> 
            </div> 

        </div>

        <!-- Final do Formulário de apresentação dos dados do funcionário escolhido -->


        <!-- Table with footer -->
        <div class="widget">
            <form action="#" class="form-horizontal" method="post">
                <input type="hidden" value="<?php echo (isset($this->post_var['sorting'])) ? $this->post_var['sorting'] : '' ?>" name="sorting" />
                <div class="navbar">
                    <div class="navbar-inner">
                        <h6>Visualizando registros</h6>
                        <?php if (Mn_Util::isAccess($this->getController(), 'adicionar')) : ?>
                            <!--<a style="float:right;" href="<?php echo $this->baseUrl() ?>/<?php echo 'admin' ?>/<?php echo $this->getController() ?>/adicionar" class="btn btn-primary"><span class="icon-print"></span>&nbsp;Imprimir Relatório</a>-->
                        <?php endif; ?>
                    </div>
                </div>
                <div class="table-overflow">
                    <table class="table table-content">
                        <thead>
                            <tr>
                                <th width="20">#</th>
                                <!-- <th class="s-idfuncionario sorting">Funcionário</th>-->
                                <!-- carregando valores a serem utilizados para setar a data indicada na página index -->
                                <th colspan='5'><input name='valoresurl' type='hidden' value='<?php echo $this->urlInicio->format('d/m/Y') . " " . $this->urlFim->format('d/m/Y') ?>'> 
                                <h3> Valores correspondentes ao período de <?php echo $this->urlInicio->format('d/m/Y') . " " . $this->urlFim->format('d/m/Y') ?></h3>
                                </th>
                                <th>
                                    <div class='btn btn-block ' style='cursor: pointer' onclick='defineAtestados()'> Ocorrências com mais de um dia </div>
                                </th>
                                 <?php if((Usuarios::getUsuario('idperfil') == '14') || (Usuarios::getUsuario('idperfil') == '1') || (Usuarios::getUsuario('idperfil') == '30')): ?>
                                    <th></th>
                                 <?php else: ?>
                                    <th><div id='botao' class='btn btn-block btn-outline-info' style='cursor: pointer' onclick='confirmarTodos()'> Confirmar Todos </div></th>
                                 <?php endif; ?>
                            </tr>
                            <tr>
                                <th></th>

                                            <!--<th>
                                                    <div>
                                                            <select name="idfuncionario" placeholder="Todos" class="select">
                                                                    <option value="">Todos</option>
                                <?php //foreach (Funcionariosgerais::getFuncionariosgeraisHelper(array('status'=>'Ativo')) as $k=>$v) : ?>
                                                                            <option value="<?php //echo $v['id']  ?>"><?php //echo $v['nome']  ?></option>
                                <?php //endforeach;?>
                                                            </select>
                                                    </div>
                                            </th>-->

                                <th>
                                <!--<select name='blocoselectdataform' class='select'><option>Selecione...</option><option>15/02/2018 15/03/2018</option><option>16/03/2018 15/04/2018</option><option>16/04/2018 15/05/2018</option><option>16/05/2018 15/06/2018</option></select>-->
                                    <input id="dia_i" name="dia_i" value="<?php echo $this->urlInicio->format('d/m/Y')  ?>" type="hidden" placeholder="Dia inicial" class="span3"><br>
                                </th>
                                <th>
                                    <input id="dia_f" name="dia_f" value="<?php echo $this->urlFim->format('d/m/Y')  ?>" type="hidden" placeholder="Dia final" class="span3">
                                </th>

                                <th>
                                    <!--<div>
                                            <select name="diasemana" placeholder="Todos" class="select">
                                                    <option value="">Todos</option>
                                                    <option value="Segunda Feira">Segunda Feira</option><option value="Terça Feira">Terça Feira</option><option value="Quarta Feira">Quarta Feira</option><option value="Quinta Feira">Quinta Feira</option><option value="Sexdta Feira">Sexdta Feira</option><option value="Sábado">Sábado</option><option value="Domingo">Domingo</option>
                                            </select>
                                    </div>-->
                                </th>
                                <th><!--<input name="observacoes" value="<?php //echo (isset($this->post_var['observacoes'])) ? $this->post_var['observacoes'] : ''  ?>" type="text" placeholder="Observações" class="span3">--></th>

                                <th>
                                    <!--<div>
                                            <select name="status1" placeholder="Todos" class="select">
                                                    <option value="">Todos</option>
                                                    <option value="Ativo">Ativo</option><option value="Bloqueado">Bloqueado</option>
                                            </select>
                                    </div>-->
                                </th>
                                <th></th>
                                <th ></th>
                            </tr> 

                        </thead>
                        <tbody id="tabela">
                            <?php /* ?>
                            <!--
                            <?php //if (sizeof($this->rows)==0) : ?>
                            <tr>
                                <td colspan="7">Nenhum registro foi encontrado!</td>
                            </tr>
                            
                            <?php //else : ?>
                            <?php //foreach ($this->rows as $row) : ?>
                            <tr>
                                    <td><?php //echo $row['id']  ?></td>


                                                                    <td>
                            <?php
                            //$___rows = Funcionariosgerais::getFuncionariosgeraisHelper(array('id'=>$row['idfuncionario']));
                            //$___row = (sizeof($___rows)>0) ? 	$___rows[0] : false;	
                            //echo ($___row) ? $this->formatTextoBranco($___row['nome']) : '--';		
                            ?>
                                                                    </td>
                                                                    <td><?php //echo date('d/m/Y', strtotime($row['dia'])) ?></td>
                                                                    <td><?php //echo $row['diasemana']  ?></td>
                                                                    <td><?php //echo $row['observacoes']  ?></td>

                                                                    <td>
                            <?php //if (Mn_Util::isAccess($this->getController(), 'editar')) :  ?>
                                                                                    <a onclick="javascript:statusChange(<?php //echo $row["id"]?>, this);" href="javascript:;"><?php //echo $row['status'] ?></a>
                            <?php //else :  ?>
                            <?php echo $row['status'] ?>
                            <?php //endif; ?>
                                                                    </td>

                                                            

                                <td>
                                    <ul class="table-controls">
                                        <li><a title="" class="btn tip" href="<?php echo $this->baseUrl() ?>/<?php echo 'admin' ?>/<?php echo $this->getController() ?>/visualizar/id/<?php echo $row['id'] ?>" data-original-title="Visualizar"><i class="icon-eye-open"></i></a> </li>
                            <?php //if (Mn_Util::isAccess($this->getController(), 'editar')) :  ?>
                                        <li><a title="" class="btn tip" href="<?php echo $this->baseUrl() ?>/<?php echo 'admin' ?>/<?php echo $this->getController() ?>/editar/id/<?php echo $row['id'] ?>" data-original-title="Editar"><i class="icon-pencil"></i></a> </li>
                            <?php //endif; ?>
                            <?php //if (Mn_Util::isAccess($this->getController(), 'excluir')) : ?>
                                        <li><a title="" class="btn tip" href="javascript:confirmDelete('<?php echo $row['id']; ?>','registro');" data-original-title="Excluir"><i class="icon-remove"></i></a> </li>
                            <?php //endif;  ?>
                                    </ul>
                                </td>
                            </tr>
                            <?php //endforeach; ?>
                            
                            
                            <?php //endif;  ?>

                            <?php */ ?>
                        </tbody>
                            
                    </table>
                </div>
                <div id='scroolUp' class='btn btn-info btn-info' style='cursor: pointer'>Subir</div> &nbsp; <button onclick="window.history.back()" class="btn btn-danger cancelar" type="button">Voltar</button>
                <?php //echo $this->render('/helpers/paginator.phtml') ?>

            </form>

        </div>
        <!-- /table with footer -->



    </div>
    <!-- /content wrapper -->

</div>
<!-- content -->

<!-- Modal de confirmação -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Atenção</h5>
        
          
      </div>
      <div class="modal-body">
          <div class="row">
              <div id="conteudo" class="col-md-12">
                  
              </div>
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Verificar</button>
        <button id='salvar' type="button" class="btn btn-primary" onclick="salvarTodos()">Salvar</button>
      </div>
    </div>
  </div>
</div>



<script type="text/javascript">

    function clickhorario(id){
        // Irá setar uma cor de selecionado ao ser clicado

        var p = $("#" + id);
        p.hide(500).show(500);
        // p.queue(function() {
        // p.css("background-color", "#80b3ff");
        // });
      
        // setar o horário no banco de dados para o funcionário
        var idhorario = id;
	    var iduser = <?php echo $this->idPostUser ?>;
        var idfuncionario = <?php echo $this->idPost ?>;
        var idlocal = <?php echo $this->idlocal ?>;
        var iddept = <?php echo $this->departamento ?>;
        
        console.log('idhorario', idhorario);
        console.log('iduser', iduser);
        console.log('idfuncionario', idfuncionario);
        console.log('idlocal', idlocal);
        console.log('iddept', iddept);

       

        // atualizar dinamicamente o horário 
        $.ajax({
        url: baseUrl + '/admin/pontosmensais/settimefuncionarioajax',
        type: 'POST',
		data: {
			 	user: iduser,
				funcionario: idfuncionario,
                horario: idhorario,
                idlocal: idlocal,
                iddept: iddept 
			  },
		beforeSend: function () {
               
        }}).done(function (data) {

            $("#teste").animate({
                height: 'toggle'
            });

            $('html, body').animate({scrollTop:0}, 'slow'); //slow, medium, fast
           
            // Caso retornado com sucesso, setar os novos valores na label
            console.log(data);
			data = JSON.parse(data);
            $('#rotulo-horarios').html('[' + data.rotulohorario + '] ' + 'Entrada / Saída : ' +  data.hora_entrada + ' ás ' + data.hora_saida + ' Pausas : ' + data.hora_pausa_entrada + ' ás ' + data.hora_pausa_saida );
            
            // recarregando a página pare resolver problema de inicialização de variáveis php
            location.reload();

            // Fechar a table com estilo 
            gradehorario();

           

		});


    }//end function clickhorario
    
     // tell Select2 to use the property name for the text
    function acessa(){

        $("#teste").animate({
            height: 'toggle'
        });
        
    }//end function definehorarios
                           
       
    function acessaModalHorarios(){


    }//end function acessaModalHorarios

    $('#scroolUp').click(function(){
        $('html, body').animate({scrollTop:0}, 'slow'); //slow, medium, fast
    });

    function habilitaedicao(id){
       
        $('#entrada-' + id).prop('disabled', false);
        $('#saida-' + id).prop('disabled', false);
        $('#entradapausa-' + id).prop('disabled', false);
        $('#saidapausa-' + id).prop('disabled', false);
        $('#obspont-' + id).prop('disabled', false);
        $('#editar-' + id).html("<div class='btn btn-block btn-info' style='cursor: pointer' onclick='editarponto(" + id + ")'>Salvar Edição</div> ");
    }//end function habilitaedicao

     function gradehorario(){
                   
                    var resposta = document.getElementById("tabela");
                    var dia_inicio = document.getElementById("dia_i").value;
                    var dia_final = document.getElementById("dia_f").value;
                  
                    // Trocando os valores com expressões regulares javascript
                   
                    var re = /\//g;
                    var dia_fin = dia_final.replace(re, "-");
                    var dia_in = dia_inicio.replace(re, "-");

                    var horariodefinido = '<?php echo $this->funcionarioHorariosDefinidos['rotulohorario'] ?>';
                    var idhorariodefinido = '<?php echo $this->funcionarioHorariosDefinidos['id'] ?>';
                     
                    var id =  <?php echo $this->idPost ?>;
                    var iduser = <?php echo $this->idPostUser ?>;
                    var idlocal = <?php echo $this->idlocal ?>;
                    var iddept = <?php echo $this->departamento ?>;

                    console.log('cheguei');
                    console.log('horariodefinido', horariodefinido);
                    console.log('idhorariodefinido', idhorariodefinido);

                    $.ajax({
                        url: baseUrl + '/admin/pontosmensais/envioajax',
                        type: 'post',
                        data: {
                            id: id,
                            iduser: iduser,
                            idlocalfuncionario : idlocal,
                            iddeptfuncionario : iddept,
                            valor: "teste de valor funcionando",
                            dia_i: dia_in,
                            dia_f: dia_fin,
                            horariodefinido: horariodefinido,
                            idhorariodefinido: idhorariodefinido
                        },
                        beforeSend: function () {
                            $("#tabela").html("<img src=''>");
                        }}).done(function (msg) {
                        $("#tabela").html(msg);
                        
                    });
                    
                    //resposta.innerHTML = strConteudo;
                }//end function gradehorario

</script>
<script type="text/javascript" src="<?php echo $this->baseUrl('/public/scripts/admin/pontosmensais_index.js') ?>"></script>
<script type="text/javascript">
                                                    var form_values = {};
<?php if (isset($this->post_var)) : ?>

    form_values.idfuncionario = '<?php echo (isset($this->post_var['idfuncionario'])) ? $this->post_var['idfuncionario'] : '' ?>';

    form_values.diasemana = '<?php echo (isset($this->post_var['diasemana'])) ? $this->post_var['diasemana'] : '' ?>';

    form_values.status1 = '<?php echo (isset($this->post_var['status1'])) ? $this->post_var['status1'] : $this->post_var['status'] ?>';


<?php endif; ?>

                                                var sorting = ["idfuncionario", "dia", "diasemana", "horaentrada", "horasaida", "observacoes", "status"];


                                                
                                                function cadastrarponto(id) {
                                                   
                                                    //Referenciando linha
                                                    var elemento = $('#linha-' + id);
                                                    var idlocal = <?php echo $this->idlocal ?>;
                                                    var iddept = <?php echo $this->departamento ?>;
                                                    // Setando elementos definidos no banco de dados via Ajax
                                                    var dia = document.getElementById('day-' + id).textContent;
                                                    var data = document.getElementById('data-' + id).textContent;
                                                    var entrada = document.getElementById('entrada-' + id).value;
                                                    var saida = document.getElementById('saida-' + id).value;
                                                    var entradaPausa = document.getElementById('entradapausa-' + id).value;
                                                    var saidaPausa = document.getElementById('saidapausa-' + id).value;
                                                    
                                                    console.log('dia', dia);
                                                    console.log('data', data);
                                                    console.log('entrada', entrada);
                                                    console.log('saida', saida);
                                                    console.log('entradaPausa', entradaPausa);
                                                    console.log('saidaPausa', saidaPausa);

                                                    //Retirando valores selecionados so elemento select da table contendo as ocorrências do dia
                                                    var e = document.getElementById('obs-' + id);
                                                    var valorObs = e.options[e.selectedIndex].value;
                                                    var textoObs = e.options[e.selectedIndex].text;
                                                    var selectConteudo = $('#obs-' + id);
                                                    var idrhfuncionario =  <?php echo $this->idPost ?>;
                                                    var idfuncionario = <?php echo Usuarios::getUsuario('id') ?>;
                                                   
                                                    var nomehorario = document.getElementById('nomehorario-' + id).value;
                                                    var idhorario = document.getElementById('idhorario-' + id).value;
                                                    
                                                    console.log('n', e);
                                                    //console.log('textoObs', textoObs);
                                                    $.ajax({
                                                        url: baseUrl + '/admin/pontosmensais/incluiponto',
                                                        type: 'post',
                                                        data: {
                                                            dia: dia,
                                                            id_rhfuncionario: idrhfuncionario,
                                                            id_funcionario: idfuncionario,
                                                            idlocalfuncionario: idlocal,
                                                            iddeptfuncionario: iddept,
                                                            data_json: data,
                                                            entrada_json: entrada,
                                                            saida_json: saida,
                                                            entradapausa_json: entradaPausa,
                                                            saidapausa_json: saidaPausa,
                                                            observacao: textoObs,
                                                            nomehorario: nomehorario,
                                                            idhorario: idhorario
                                                        },
                                                        beforeSend: function () {
                                                            //$("#tabela").html("ENVIO");          
                                                        }}).done(function (msg) {
                                                        
                                                        var conteudo = JSON.parse(msg);

                                                            console.log(conteudo);
                                                        $('#linha-' + id).html('');
                                                        $('#linha-' + id).append('<td id="day-' + id + '">' + dia + '</td>');  // Dia da semana
                                                        $('#linha-' + id).append('<td id="data-' + id + '">' + data + '</td>');  // Data
                                                        $('#linha-' + id).append("<td><input id='entrada-" + id + "' type='time' class='span3' required='required' maxlength='8' name='hour' pattern='[0-9]{2}:[0-9]{2} [0-9]{2}$'  value='" + conteudo.horaEntrada + "' disabled></td>");           // Data Entrada
                                                        $('#linha-' + id).append("<td><input id='saida-" + id + "' type='time' class='span3' required='required' maxlength='8' name='hour' pattern='[0-9]{2}:[0-9]{2} [0-9]{2}$'  value='" + conteudo.horaSaida + "' disabled></td>");            // Data Saida
                                                        $('#linha-' + id).append("<td><input id='entradapausa-" + id + "' type='time' class='span3' required='required' maxlength='8' name='hour' pattern='[0-9]{2}:[0-9]{2} [0-9]{2}$'  value='" + conteudo.horaEntradaPausa + "' disabled></td>");     // Data Pausa Entrada
                                                        $('#linha-' + id).append("<td><input id='saidapausa-" + id + "' type='time' class='span3' required='required' maxlength='8' name='hour' pattern='[0-9]{2}:[0-9]{2} [0-9]{2}$'  value='" + conteudo.horaSaidaPausa+ "' disabled></td>");       // Data Pausa Saida
                                                        

                                                        $('#linha-' + id).append("<td><select id='obspont-" + id + "' class='select' disabled>" + selectConteudo.html() + "</select></td>");    // Ocorrênccia
                                                        $('#obspont-' + id + ' option[value="' + conteudo.ocorrencia + '"]').attr({ selected : "selected" }); 
                                                        $('#linha-' + id).append("<td id='editar-" + id + "'><div class='btn btn-block btn-info'  style='cursor: pointer'  onclick='habilitaedicao(" + id + ")'>Editar </div></td>");  // Botão            

                                                        $('#linha-' + id).toggleClass('alert-success');
                                                        $('#linha-' + id).attr('id', 'linhac-' + id);  

                                                    });
                                                    
                                                }//end function cadastrar ponto

                                                function cadastrarpontoindividual(id){
                                                   
                                                   //Referenciando linha
                                                   var elemento = $('#linha-' + id);

                                                   // Setando elementos definidos no banco de dados via Ajax
                                                   var dia = document.getElementById('day-' + id).textContent;
                                                   var data = document.getElementById('data-' + id).textContent.split('-');
                                                   var entrada = document.getElementById('entrada-' + id).value.split(':');
                                                   var saida = document.getElementById('saida-' + id).value.split(':');
                                                   var entradaPausa = document.getElementById('entradapausa-' + id).value.split(':');
                                                   var saidaPausa = document.getElementById('saidapausa-' + id).value.split(':');


                                                   var valEntrada = document.getElementById('entrada-' + id).value;
                                                   var valSaida = document.getElementById('saida-' + id).value;
                                                   var valEntradaPausa = document.getElementById('entradapausa-' + id).value;
                                                   var valSaidaPausa = document.getElementById('saidapausa-' + id).value;
                                                 

                                                    var inicio = '<?php echo $Dateinicio->format('H:i'); ?>' ;
                                                    var fim = '<?php echo $Datefim->format('H:i'); ?>';
                                                    var pausainicio = '<?php echo $Datepausaentrada->format('H:i'); ?>';
                                                    var pausafim = '<?php echo $Datepausasaida->format('H:i') ?>';

                                                    var valInicio = '<?php echo $Dateinicio->format('H:i'); ?>' ;
                                                    var valFim = '<?php echo $Datefim->format('H:i'); ?>';
                                                    var valPausainicio = '<?php echo $Datepausaentrada->format('H:i'); ?>';
                                                    var valPausafim = '<?php echo $Datepausasaida->format('H:i') ?>';

                                                    inicio = inicio.split(':');
                                                    fim = fim.split(':');
                                                    pausainicio = pausainicio.split(':');
                                                    pausafim = pausafim.split(':');

                                                    
                                                    // instanciando para Date elementos que serão comparados datas dos campos
                                                    var date_entrada = new Date(data[2], data[1], data[0], entrada[0], entrada[1], 0, 0);
                                                    var date_saida = new Date(data[2], data[1], data[0], saida[0], saida[1], 0, 0);
                                                    var date_entradaPausa = new Date(data[2], data[1], data[0], entradaPausa[0], entradaPausa[1], 0, 0);
                                                    var date_saidaPausa = new Date(data[2], data[1], data[0], saidaPausa[0], saidaPausa[1], 0, 0);

                                                    // instanciando para Date elementos do horário setado 
                                                    var date_inicio = new Date(data[2], data[1], data[0], inicio[0], inicio[1] );
                                                    var date_fim = new Date(data[2], data[1], data[0], fim[0], fim[1]);
                                                    var date_pausainicio = new Date(data[2], data[1], data[0], pausainicio[0], pausainicio[1]);
                                                    var date_pausafim = new Date(data[2], data[1], data[0], pausafim[0], pausafim[1]);
                                                  
                                                    var totalPausaGeral = Math.abs(date_pausafim.getTime() - date_pausainicio.getTime());
                                                    var totalPausaCampo = Math.abs(date_saidaPausa.getTime() - date_entradaPausa.getTime());
                                                    var periodoTrabalhado = Math.abs((date_saida.getTime() - date_entrada.getTime()) - (totalPausaCampo));
                                                    var periodoDeTrabalho = Math.abs((date_fim.getTime() - date_inicio.getTime()) - (totalPausaGeral));
                                                   
                                                    var e = document.getElementById('obs-' + id);
                                                    var valorObs = e.options[e.selectedIndex].value;
                                                    var textoObs = e.options[e.selectedIndex].text;

                                                    // Caso todos os horários batam
                                                    if((valEntrada == valInicio) && (valSaida == valFim) && (valEntradaPausa == valPausainicio) && (valSaidaPausa == valPausafim)){
                                                        cadastrarponto(id);
                                                    }else{  
                                                        if(valorObs == 'Dia Trabalhado'){
                                                            console.log('->', 'ocorrencia não permitida para este horário');
                                                            cadastroPontosMessages('Ocorrencia incorreta para o horário informado, revise os campos deste lançamento', 0);
                                                        }else{
                                                            if(periodoTrabalhado == periodoDeTrabalho){
                                                                // jornada de trabalho completo
                                                                console.log('jornada completa');
                                                                cadastroPontosMessagesSave('Jornada completa com horário informado divergente', id);
                                                            }else if(periodoTrabalhado < periodoDeTrabalho){
                                                                // jornada de trabalho menor
                                                                console.log('Jornada de trabalho menor que a jornada padrão');
                                                                cadastroPontosMessagesSave('Jornada de trabalho menor que a jornada padrão', id);
                                                            }else{
                                                                // jornada de trabalho maior 
                                                                console.log('Jornada de trabalho maior que a jornada padrão');
                                                                cadastroPontosMessagesSave('Jornada de trabalho maior que a jornada padrão', id);
                                                            }//end if else -> periodos de trabalho
                                                        }// end if / else -> dia trabalhado
                                                        
                                                    }// end if / else -> todos os horários batem
                                                   
                                               }//end function cadastrar ponto individual

                                               function cadastroPontosMessagesSave(message, id) {

                                                        var dialog = $('<h5>' + message  + '</h5>').dialog({
                                                            title: '<font color="#052f57"> Aviso !</font>',
                                                            width: 400,
                                                            modal: true,
                                                            hide: {
                                                                effect: "explode",
                                                                duration: 500
                                                            },
                                                            buttons: [
                                                                {
                                                                    text: "Salvar Mesmo assim",
                                                                    click: function() {
                                                                        cadastrarponto(id);
                                                                        $( this ).dialog( "close" );
                                                                    }
                                                                },
                                                                {
                                                                    text: "Fechar",
                                                                    click: function() {
                                                                        $( this ).dialog( "close" );
                                                                    }
                                                                }
                                                            ]
                                                        });
                                                }//end function setTipoImpresso

                                                function editaPontosMessagesSave(message, id) {

                                                        var dialog = $('<h5>' + message  + '</h5>').dialog({
                                                            title: '<font color="#052f57"> Aviso !</font>',
                                                            width: 400,
                                                            modal: true,
                                                            hide: {
                                                                effect: "explode",
                                                                duration: 500
                                                            },
                                                            buttons: [
                                                                {
                                                                    text: "Salvar Mesmo assim",
                                                                    click: function() {
                                                                        cadastraEdicaoIndividualPonto(id);
                                                                        $( this ).dialog( "close" );
                                                                    }
                                                                },
                                                                {
                                                                    text: "Fechar",
                                                                    click: function() {
                                                                        $( this ).dialog( "close" );
                                                                    }
                                                                }
                                                            ]
                                                        });
                                                }//end function setTipoImpresso

                                                function cadastroPontosMessages(message) {

                                                        var dialog = $('<h5>' + message + '</h5>').dialog({
                                                            title: '<font color="#052f57">Aviso!</font>',
                                                            width: 400,
                                                            modal: true,
                                                            hide: {
                                                                effect: "explode",
                                                                duration: 500
                                                            },
                                                            buttons: [
                                                                {
                                                                    text: "Fechar",
                                                                    click: function() {
                                                                        $( this ).dialog( "close" );
                                                                    }
                                                                }
                                                            ]
                                                        });



                                                        }//end function setTipoImpresso

                                                        


                                                function confirmarTodos(){
                                                
                                                   
                                                    //$('#salvar').prop('disabled', false); // habilitando sempre como estado default o botão para salvar
                                                    $('#salvar').css('display', '');

                                                    var arrdat = new Array();
                                                    var arrid = new Array();
                                                    var arrDivergencia = new Array();
                                                    var total = document.getElementById('total_linhas').value;
                                                    

                                                    for (var i = 0; i <= total; i++){
                                                        
                                                        if (document.getElementById("linha-" + i)){
                                                            
                                                            var entrada = document.getElementById('entrada-' + i).value;
                                                            var saida  = document.getElementById('saida-' + i).value;
                                                            var entrada_pausa  = document.getElementById('entradapausa-' + i).value;
                                                            var saida_pausa = document.getElementById('saidapausa-' + i).value;
                                                            var data = $("#data-" + i).text();
                                                            var e = document.getElementById('obs-' + i);
                                                            var valorObs = e.options[e.selectedIndex].value;
                                                            var textoObs = e.options[e.selectedIndex].text;

                                                            console.log('valores de resposta', '<?php echo $Dateinicio->format('H:i'); ?>' + " - " + entrada);
                                                           
                                                            if('<?php echo $Dateinicio->format('H:i'); ?>' != entrada || '<?php echo $Datefim->format('H:i'); ?>' != saida || '<?php echo $Datepausaentrada->format('H:i'); ?>' != entrada_pausa || '<?php echo $Datepausasaida->format('H:i') ?>' != saida_pausa){
                                                              
                                                                document.getElementById('linha-' + i).classList.toggle('alert-danger', true);

                                                                   if(textoObs == 'Dia Trabalhado'){
                                                                      arrDivergencia.push(data);
                                                                   }// end if

                                                                arrdat.push(data);
                                                                arrid.push(id);
                                                                
                                                            }else{
                                                                document.getElementById('linha-' + i).classList.toggle('alert-danger', false);
                                                            }//end if/else
                                                           
                                                        }//end if

                                                        if(i >= (total)){
                                                            
                                                            // Definindo HTML de Retorno
                                                            var retorno = '';
                                                            
                                                            if(arrdat.length > 0){
                                                                retorno += '<p><h4>Os valores estão divergente para as seguintes datas!</h4>';
                                                                jQuery.each(arrdat, function(index, value){

                                                                    retorno += '<p><h5> Data : ' + value;
                                                                    
                                                                    $.each(arrDivergencia, 
                                                                        function (key, val){
                                                                            
                                                                            if(val == value){
                                                                                retorno += ' <b style="color: red"> &nbsp; &nbsp; [Inconsistência de ocorrência!] </b>';
                                                                                // travando o botão de save para os lançamentos para evitar erros
                                                                                //$('#salvar').prop('disabled', true);
                                                                                $('#salvar').css('display', 'none');
                                                                            }//end if
                                                                            
                                                                        }//end function 
                                                                    );//end jquery each
                                                                    
                                                                    retorno += ' </h5></p>'
                                                                });
                                                            }else{
                                                                retorno += '<p><h4> Os valores estão em conformidade com o horário padrão </4></p>';
                                                            }//end if/else    
                                                            
                                                            // Apresentando modal para confirmação
                                                            $("#exampleModal").modal();
                                                            $('#conteudo').html(retorno);
                                                            
                                                        }//end if
                                                        
                                                    }//end for
                                                    
                                                    
                                                    
                                                }//end function conformarTodos
                                                
                                               
                                                
                                                function salvarTodos(){
                                                    
                                                    $('#exampleModal').modal('hide');
                                                    var total = document.getElementById('total_linhas').value;
                                                    
                                                    for (var i = 0; i <= total; i++){
                                                        if (document.getElementById("linha-" + i)){
                                                            cadastrarponto(i);
                                                        }//end if
                                                    }//end for
                                                }//end function salvarTodos

                                            

                                                function editarponto(id) {

                                                    $('#entrada-' + id).attr('disabled', false);
                                                    $('#saida-' + id).attr('disabled', false);
                                                    $('#entradapausa-' + id).attr('disabled', false);
                                                    $('#saidapausa-' + id).attr('disabled', false);
                                                    $('#obspont-' + id).attr('disabled', false);
                                                   
                                                    
                                                
                                                    var iduser = <?php echo $this->idPost ?>;
                                                    var idusuario = <?php echo $this->idPostUser ?>;
                                                    var data = document.getElementById('data-' + id).textContent;
                                                    var entrada = document.getElementById('entrada-' + id).value;
                                                    var saida = document.getElementById('saida-' + id).value;
                                                    var entradapausa = document.getElementById('entradapausa-' + id).value;
                                                    var saidapausa = document.getElementById('saidapausa-' + id).value;

                                                    var arr_data = data.split("-");

                                                    
                                                    var valEntrada = document.getElementById('entrada-' + id).value.split(':');
                                                    var valSaida = document.getElementById('saida-' + id).value.split(':');
                                                    var valEntradaPausa = document.getElementById('entradapausa-' + id).value.split(':');
                                                    var valSaidaPausa = document.getElementById('saidapausa-' + id).value.split(':');

                                                    var inicio = '<?php echo $Dateinicio->format('H:i'); ?>' ;
                                                    var fim = '<?php echo $Datefim->format('H:i'); ?>';
                                                    var pausainicio = '<?php echo $Datepausaentrada->format('H:i'); ?>';
                                                    var pausafim = '<?php echo $Datepausasaida->format('H:i') ?>';

                                                    inicio = inicio.split(':');
                                                    fim = fim.split(':');
                                                    pausainicio = pausainicio.split(':');
                                                    pausafim = pausafim.split(':');

                                                    var valInicio = '<?php echo $Dateinicio->format('H:i'); ?>' ;
                                                    var valFim = '<?php echo $Datefim->format('H:i'); ?>';
                                                    var valPausainicio = '<?php echo $Datepausaentrada->format('H:i'); ?>';
                                                    var valPausafim = '<?php echo $Datepausasaida->format('H:i') ?>';
                                                    
                                                    // instanciando para Date elementos que serão comparados datas dos campos
                                                    var date_entrada = new Date(arr_data[2], arr_data[1], arr_data[0], valEntrada[0], valEntrada[1], 0, 0);
                                                    var date_saida = new Date(arr_data[2], arr_data[1], arr_data[0], valSaida[0], valSaida[1], 0, 0);
                                                    var date_entradaPausa = new Date(arr_data[2], arr_data[1], arr_data[0], valEntradaPausa[0], valEntradaPausa[1], 0, 0);
                                                    var date_saidaPausa = new Date(arr_data[2], arr_data[1], arr_data[0], valSaidaPausa[0], valSaidaPausa[1], 0, 0);

                                                    // instanciando para Date elementos do horário setado 
                                                    var date_inicio = new Date(arr_data[2], arr_data[1], arr_data[0], inicio[0], inicio[1] );
                                                    var date_fim = new Date(arr_data[2], arr_data[1], arr_data[0], fim[0], fim[1]);
                                                    var date_pausainicio = new Date(arr_data[2], arr_data[1], arr_data[0], pausainicio[0], pausainicio[1]);
                                                    var date_pausafim = new Date(arr_data[2], arr_data[1], arr_data[0], pausafim[0], pausafim[1]);

                                                    
                                                    var totalPausaGeral = Math.abs(date_pausafim.getTime() - date_pausainicio.getTime());
                                                    var totalPausaCampo = Math.abs(date_saidaPausa.getTime() - date_entradaPausa.getTime());
                                                    var periodoTrabalhado = Math.abs((date_saida.getTime() - date_entrada.getTime()) - (totalPausaCampo));
                                                    var periodoDeTrabalho = Math.abs((date_fim.getTime() - date_inicio.getTime()) - (totalPausaGeral));

                                                    var e = document.getElementById('obspont-' + id);
                                                    //var valorObs = e.options[e.selectedIndex].value;
                                                    var textoObs = e.options[e.selectedIndex].text;

                                                    console.log('textoObs', textoObs);

                                                    // Caso todos os horários batam
                                                    if((entrada == valInicio) && (saida == valFim) && (entradapausa == valPausainicio) && (saidapausa == valPausafim)){
                                                        cadastraEdicaoIndividualPonto(id);
                                                    }else{  
                                                        if(textoObs == 'Dia Trabalhado'){
                                                            cadastroPontosMessages('Ocorrencia incorreta para o horário informado, revise os campos deste lançamento');
                                                            $('#entrada-' + id).prop('disabled', true);
                                                            $('#saida-' + id).prop('disabled', true);
                                                            $('#entradapausa-' + id).prop('disabled', true);
                                                            $('#saidapausa-' + id).prop('disabled', true);
                                                            $('#obspont-' + id).prop('disabled', true);

                                                            // Resetar os valores no campo para finalizar
                                                            $('#editar-' + id).html("<div class='btn btn-block btn-info' style='cursor: pointer' onclick='habilitaedicao(" + id + ")'>Editar</div> ");
                                                        
                                                        }else{
                                                            if(periodoTrabalhado == periodoDeTrabalho){
                                                                // jornada de trabalho completo
                                                                editaPontosMessagesSave('Jornada completa com horário informado divergente', id);
                                                            }else if(periodoTrabalhado < periodoDeTrabalho){
                                                                // jornada de trabalho menor
                                                                editaPontosMessagesSave('Jornada de trabalho menor que a jornada padrão', id);
                                                            }else{
                                                                // jornada de trabalho maior 
                                                                cadastroPontosMessagesSave('Jornada de trabalho maior que a jornada padrão', id);
                                                            }//end if else -> periodos de trabalho
                                                        }// end if / else -> dia trabalhado
                                                        
                                                    }// end if / else -> todos os horários batem
                                                        
                                                }//end function editarponto

                                                function cadastraEdicaoIndividualPonto(id){
                                                    
                                                    var iduser = <?php echo $this->idPost ?>;
                                                    var idusuario = <?php echo $this->idPostUser ?>;
                                                    var idlocal = <?php echo $this->idlocal ?>;
                                                    var iddept = <?php echo $this->departamento ?>;

                                                    var data = document.getElementById('data-' + id).textContent;
                                                    var entrada = document.getElementById('entrada-' + id).value;
                                                    var saida = document.getElementById('saida-' + id).value;
                                                    var entradapausa = document.getElementById('entradapausa-' + id).value;
                                                    var saidapausa = document.getElementById('saidapausa-' + id).value;
                                                    var e = document.getElementById('obspont-' + id);
                                                    var textoObs = e.options[e.selectedIndex].text;
                                                    
                                                    $.ajax({
                                                        url: baseUrl + '/admin/pontosmensais/editalancamentoajax',
                                                        type: 'post',
                                                        data: {
                                                            
                                                            id: iduser,
                                                            iduser: idusuario,
                                                            idlocalfuncionario: idlocal,
                                                            iddeptfuncionario: iddept,
                                                            data: data,
                                                            entrada: entrada,
                                                            saida: saida,
                                                            entradapausa: entradapausa,
                                                            saidapausa: saidapausa,
                                                            observacao: textoObs
                                                            
                                                        },
                                                        beforeSend: function () {
                                                            //$("#tabela").html("ENVIO");          
                                                        }}).done(function (msg){

                                                            $('#entrada-' + id).prop('disabled', true);
                                                            $('#saida-' + id).prop('disabled', true);
                                                            $('#entradapausa-' + id).prop('disabled', true);
                                                            $('#saidapausa-' + id).prop('disabled', true);
                                                            $('#obspont-' + id).prop('disabled', true);
                                                            $('#editar-' + id).html("<div class='btn btn-block btn-info' style='cursor: pointer' onclick='habilitaedicao(" + id + ")'>Editar</div> ");
                                                        $('#linhac-' + id).animate({color: "#009933"}, "slow");
                                                            
                                                        })
                                                }//end function 

// Evento para saber qual select foi escolhido
window.onload = function(){
    $("select").change(function(){ 
        var id = $(this).attr('id');
        var texto = $('#' + id +  ' option:selected').text();
        var arrId = id.split('-');
        var lancamento =  $('#data-' + arrId[1]).text();
        
        $.ajax({
        url: baseUrl + '/admin/pontosmensais/verificatipoocorrencia',
        type: 'POST',
		data: {
			 	ocorrencia: texto
			  },
		beforeSend: function () {
               
        }}).done(function (data) {

            ocorrencia = JSON.parse(data);

            // Gerando o número aleatório da ocorrencia
            var aleatorio = Math.floor(Math.random() * 100);

            //console.log(ocorrencia);
            // Caso a ocorrencia esteja marcada como sim para período abre janela para inclusão de informações
            if(ocorrencia[0].periodo == 'sim'){

                var formulario = '';

                formulario += "<div class='row'>";
                formulario += "<label>período inicial</label>"
                formulario += lancamento;
                formulario += "</div>"; 
                formulario += "<br>";
                formulario += "<div class='row'>";
                formulario += "<label>Quantidade de dias corridos</label>"
                formulario += "<input id='qtde-dias' class='text ui-widget-content ui-corner-all' type='number' min='2' max='6' >";
                formulario += "</div>"; 

                var dialog = $('<h5>' + formulario + '</h5>').dialog({
                    title: '<font color="#052f57">' + ocorrencia[0].ocorrencia + '</font>',
                    width: 400,
                    modal: true,
                    hide: {
                        effect: "explode",
                        duration: 500
                    },
                    buttons: [
                        {
                            text: "Confirmar lançamentos",
                            click: function() {
                                // pegando o range do período
                                inicio =  Number(arrId[1]);
                                range = Number($('#qtde-dias').val());
                                fim = ((range + inicio));

                                console.log('inicio', inicio);
                                console.log('range', fim);
                                console.log('fim', fim);

                                for(i = inicio; i < fim; i++){

                                    if($('#linha-' + i).length == 1){

                                        $('#obs-' + i).append('<option selected>' + texto + ' @' + ocorrencia[0].id + '-' + aleatorio + '</option>');
                                        
                                    }//end if

                                    if($('#linhac-' + i).length == 1){
                                        
                                        $('#obspont-' + i).prop('disabled', false);
                                        $('#obspont-' + i).append('<option selected>' + texto + ' @' + ocorrencia[0].id + '-' + aleatorio + '</option>'); 
                                       
                                    }//end if
                                    
                                }//end for

                               
                                $( this ).dialog( "close" );
                            }
                        },
                        {
                            text: "Fechar",
                            click: function() {
                                $( this ).dialog( "close" );
                            }
                        }
                    ]
                });
               

            }else{

            }//end if else

            
		});
        

    });
}// end window onload

/* --------------------------------------------------------------
                    Alert Ocorrências com Período
-------------------------------------------------------------- */

function define(message, id) {

var dialog = $('<h5>' + message  + '</h5>').dialog({
    title: '<font color="#052f57"> Aviso !</font>',
    width: 400,
    modal: true,
    hide: {
        effect: "explode",
        duration: 500
    },
    buttons: [
        {
            text: "Salvar Mesmo assim",
            click: function() {
                cadastraEdicaoIndividualPonto(id);
                $( this ).dialog( "close" );
            }
        },
        {
            text: "Fechar",
            click: function() {
                $( this ).dialog( "close" );
            }
        }
    ]
});
}//end function setTipoImpresso

function defineAtestados() {
    
    var id = Math.floor(Math.random() * 999999);
    console.log('enter Define atestados: ', id);

    $('[name=inicio_data]').val('');
    $('[name=fim_data]').val('');

    html = '';
    html += '<table class="table table-hover">';
    html += '<tr>';
        html += '<td>Data de início :</td>';
        html += '<td>';

        html += '<select name="tipo_ocorrencia_' + id + '" class="select">';
            html += '<option value="AT">Atestado Médico</option>';
            html += '<option value="GZ">Gozo</option>';
            html += '<option value="AB">Abonada</option>';
            html += '<option value="LG">Licença Gestante</option>';
        html += '</select>';

        html += '</td>';
    html += '</tr>';
    html += '<tr>';
        html += '<td>Data de início :</td>';
        html += '<td><input name="inicio_data_' + id + '" type="date"></td>';
    html += '</tr>';
    html += '<tr>';
        html += '<td>Data Fim :</td>';
        html += '<td><input name="fim_data_' + id + '" type="date"></td>';
    html += '</tr>';
    html += '<tr>';
        html += '<td id="mensagem-' + id + '" colspan="2"></td>';
    html += '</tr>';

    html += '</table>';

var dialog = $(html).dialog({
    title: '<font color="#052f57"> Atestado Médico </font>',
    width: 400,
    modal: true,
    hide: {
        effect: "explode",
        duration: 500
    },
    buttons: [
        {
            text: "Confirmar",
            click: function() {
                

                //atestadosVariosDias(inicio, fim);
                var resposta = atestadosVariosDias(id); 
              
                if(resposta == 0){
                    $( this ).dialog( "close" );
                    console.log('zero');
                }else if(resposta == 1){
                    $('#mensagem-' + id).html('Datas Incompativeis com o período');
                    $('#mensagem').html('Datas Incompativeis com o período');
                    console.log('one');
                }else if(resposta == 2){
                    $('#mensagem-' + id).html('Período Maior que 15 Dias!');
                    $('#mensagem').html('Período Maior que 15 Dias!');
                    console.log('two');
                }else if(resposta == 3){
                    $('#mensagem-' + id).html('Valor inicial maior que o valor final!');
                    $('#mensagem').html('Valor inicial maior que o valor final!');
                    console.log('three');
                }else if(resposta == 4){
                    $('#mensagem-' + id).html('Valores Iguais, utilize outro tipo de ocorrência');
                    $('#mensagem').html('Valores Iguais, utilize outro tipo de ocorrência');
                    console.log('three');
                }// end if else

                
            }
        },
        {
            text: "Fechar",
            click: function() {
                $( this ).dialog( "close" );
            }
        }
    ]
});
}//end function define atestados

function atestadosVariosDias(id){

    var data_inicio = $('[name=inicio_data_' + id + ']').val();
    var data_fim = $('[name=fim_data_' + id + ']').val();

    var ocorrencia = $('[name=tipo_ocorrencia_' + id + '] :selected').text();
    console.log('tipo_ocorrencia', ocorrencia);
    console.log('atestados vários dias:');
    console.log('inicio:', data_inicio);
    console.log('fim:', data_fim);

    auxiliarInicio =  document.getElementById("dia_i").value;
    auxiliarInicio = auxiliarInicio.split('/');

    //console.log(auxiliarInicio);

    auxiliarFim =  document.getElementById("dia_f").value;
    auxiliarFim = auxiliarFim.split('/');

    var inicio_periodo = new Date(auxiliarInicio[2], (auxiliarInicio[1]-1), auxiliarInicio[0]);
    var final_periodo =  new Date(auxiliarFim[2], (auxiliarFim[1]-1), auxiliarFim[0]);

    // console.log('inicioperiodo', inicio_periodo);
    //console.log('finalperiodo', final_periodo);

    var dataInicio = data_inicio.split('-');
    var dataFim = data_fim.split('-');

    var inicio = new Date(dataInicio[0], (dataInicio[1] - 1), dataInicio[2]);
    var fim = new Date(dataFim[0], (dataFim[1] -1), dataFim[2]);
    var timeDiff = Math.abs(fim.getTime() - inicio.getTime());
    var diferenca = Math.ceil(timeDiff / (1000 * 3600 * 24)); 

    // console.log('inicio', inicio);
    // console.log('fim', fim);
    // console.log('diferenca', ((fim.getDay())-inicio.getDay()));

    // Definindo o comparador de incio
    var ano = inicio.getFullYear();
    var mes = inicio.getMonth() + 1;
    var dia = inicio.getDate();
    var comparadorinicio = dia + '-' + mes + '-' + ano;

    // Definindo o comparador final
    var ano = fim.getFullYear();
    var mes = fim.getMonth() + 1;
    var dia = fim.getDate();
    var comparadorfim = dia + '-' + mes + '-' + ano;

    // Percorrer todos os dias que tenha a data igual a data de inicio
    var resultados = $("[id*='data']");

    flag = false;
    var aleatorio = Math.floor(Math.random() * 999999);
    contadorDiferenca = 0;

    /* 
     *      Retorno de Resultados
     * [0] tudo ok
     * [1] Período ultrapassa o período da folha
     * [2] Diferença entre as datas do range é maior que o permitido 15 
     * [3] Valor de inicio é maior ou igual ao valor de fim
     */ 

    //if( (((inicio >= inicio_periodo) and (inicio < fim_periodo)) and ((fim >= inicio periodo)and(fim <= fim_periodo))) and (inicio < fim_periodo) ){
    if(((inicio >= inicio_periodo) && (inicio <= final_periodo)) && ((fim >= inicio_periodo) && (fim <= final_periodo)) ){
        
        if(inicio > fim){
            return 3;
        }else if(inicio == fim){
            return 4;
        }else if(contadorDiferenca > 15){
            return 2;
        }else{
            resultados.each( function(){

                var auxiliarData = this.innerHTML;
                auxiliarData = auxiliarData.split('-');

                aux = new Date(auxiliarData[2], auxiliarData[1], auxiliarData[0]);
                strAux = aux.getDate() + '-' + aux.getMonth() + '-'  + aux.getFullYear();
                
                console.log('comparador : ', comparadorinicio);
                console.log('--> ',strAux);
                //console.log('THIS : ', this.innerHTML);
                if(comparadorinicio == strAux) {
                    flag = true;
                }//end if

                if(flag){
                
                    var id = this.id;
                    id = id.split('-');
                    obj = $('#obs-' + id[1]);
                    contadorDiferenca++;
                    console.log('-- dentro --');
                    //console.log(this);
                    //console.log('inicio', comparadorinicio);
                    //console.log('sodie -->', contadorDiferenca);
                    obj.append('<option selected>' + ocorrencia + '@' + aleatorio + ' </option>');
                
                }// end if


                if(flag){
                
                    var id = this.id;
                    id = id.split('-');
                    obj = $('#obspont-' + id[1]);
                    contadorDiferenca++;
                    obj.append('<option selected>Atestado @' + aleatorio + ' </option>');

                }// end if

                if(comparadorfim == strAux){
                    flag = false;
                }//end if
            });
            return 0;
        }//end if else
    }else{
        return 1;
    }//end if
   

}// end function atestadosVariosDias

function weekendworking(id){

    var linha = $('#linhaS-' + id);

    linha.removeClass();

    $("#linhaS-" + id + " > td").each( function(index, value){

        if(index == 0){
            this.id = 'day-' + id;      
            this.innerHTML = "<input id='idhorario-" + id + "' type='hidden' value='<?= $this->funcionarioHorariosDefinidos['id'] ?>'>";
            this.innerHTML += "<input id='nomehorario-" + id + "' type='hidden' value='<?= $this->funcionarioHorariosDefinidos['rotulohorario'] ?>'>";     
        }
        if(index == 1){
            this.id = 'data-' + id;
        }
        if(index == 2){
            this.innerHTML = '';
            this.innerHTML = "<input id='entrada-" + id + "' type='time' class='span3' required='required' maxlength='8' name='hour' pattern='[0-9]{2}:[0-9]{2} [0-9]{2}$'  value='00:00'>";
           
        }
        if(index == 3){
            this.innerHTML = '';
            this.innerHTML = "<input id='saida-" + id + "' type='time' class='span3' required='required' maxlength='8' name='hour' pattern='[0-9]{2}:[0-9]{2} [0-9]{2}$'  value='00:00'>";
          
        }
        if(index == 4){
            this.innerHTML = '';
            this.innerHTML = "<input id='entradapausa-" + id + "' type='time' class='span3' required='required' maxlength='8' name='hour' pattern='[0-9]{2}:[0-9]{2} [0-9]{2}$'  value='00:00'>";
            
        }
        if(index == 5){
            this.innerHTML = '';
            this.innerHTML = "<input id='saidapausa-" + id + "' type='time' class='span3' required='required' maxlength='8' name='hour' pattern='[0-9]{2}:[0-9]{2} [0-9]{2}$'  value='00:00'>";
        }
        if(index == 6){
           
        }
        if(index == 7){
            this.innerHTML = "<div class='btn btn-info btn-block' style='cursor: pointer' onclick='cadastrarpontoindividual(" + id + ")' >Cadastrar </div>";
        }

        linha.prop('id', 'linha-' + id);
    });

}//end function weekendWorking


</script>	


