<?php ?>
<!-- Content -->
		<div id="content">
		    <!-- Content wrapper -->
		    <div class="wrapper">
                        
			    <!-- Breadcrumbs line -->
			    <div class="crumbs">
			    	<?php echo $this->render('/helpers/breadcrumb.phtml') ?>
			    </div>
			    <!-- /breadcrumbs line -->
                            
			    <!-- Page header -->
			    <div class="page-header">
			    	<div class="page-title">
				    	<h5>Pontos mensais no sistema </h5>
				    	<span>Visualize os pontos mensais do sistema </span>
			    	</div>
			    	
			    </div>
			    <!-- /page header -->
			    <?php if (isset($this->crudMessage)) : ?>
				<div class="alert alert-success">
                                        <button data-dismiss="alert" class="close" type="button">×</button>
                                        <strong>Operação realizada com sucesso!</strong>
                                        <span><br /><?php echo $this->crudMessage ?></span>
                                </div>			    
			    <?php endif; ?>
	                        	                        
                <!-- Table with footer -->
                <div class="widget">
                	<form action="#" class="form-horizontal" method="post">
                                
                		<input type="hidden" value="<?php echo (isset($this->post_var['sorting'])) ? $this->post_var['sorting'] : '' ?>" name="sorting" />
	                	
                                <div class="navbar">
	                		<div class="navbar-inner">
                                <h6>Visualizando </h6><!--
                                <?php if (Mn_Util::isAccess($this->getController(), 'adicionar')) : ?>
                                <a style="float:right;" href="<?php echo $this->baseUrl() ?>/<?php echo 'admin' ?>/<?php echo $this->getController() ?>/adicionar" class="btn btn-primary"><span class="icon-plus"></span>&nbsp;Adicionar ponto mensal</a><a style="float:right;" href="<?php echo $this->baseUrl() ?>/<?php echo 'admin' ?>/<?php echo $this->getController() ?>/adicionar" class="btn btn-primary"><span class="icon-plus"></span>&nbsp;Confirmar Grupo de Funcionários</a>
                                <?php endif; ?>-->
	                		</div>
	                	</div>
                                <div class="navbar">

	                		<div class="navbar-inner">
                                <table>
                                    <tr>
                                        <td>
                                            <?php if((Usuarios::getUsuario('idperfil') == '14') || (Usuarios::getUsuario('idperfil') == '1') || (Usuarios::getUsuario('idperfil') == '30')): ?>
                                                    <div>
                                                        <select name="idlocal" placeholder="Todos" class="select">
                                                             


                                                                <?php $idAnteriorDept = ''; ?>
                                                                <?php $totalAnterior = 0; ?>
                                                                <?php foreach (Funcionariosgeraispontogrupos::getDepartamentosRH() as $k=>$v) : ?>

                                                                    <?php

                                                                        $total = Funcionariosgeraispontohorarios::getFGEscolasTotal($v['id']);
                                                                        $totalCounter = count(explode(',',$total['idsfuncionariossel']));

                                                                        //if( $total['idsfuncionariossel'] != '-1' and $idAnterior != $v['idescola'] ): 
                                                                        if(isset($total['idsfuncionariossel'])  and ($idAnteriorDept != $v['perfil'])):
                                                                            echo "<option value='" . $v['perfil'] . "-" .  $v['idescola'] . "-" . $v['idsecretaria'] . "-" . Funcionariosgeraispontogrupos::getfuncionarioByIdFunc($v['idfuncionario'])['id'] . "'>" . strtoupper($v['nomeperfil']) . " </option>";
                                                                        //elseif(  isset($total['idsfuncionariossel']) and ($total['idsfuncionariossel']  != '-1') and $totalCounter >  $totalAnterior):
                                                                        elseif(false):
                                                                            echo "<option value='" . $v['perfil'] . "-" .  $v['idescola'] . "-" . $v['idsecretaria'] . "-" . Funcionariosgeraispontogrupos::getfuncionarioByIdFunc($v['idfuncionario'])['id'] . "'>" . strtoupper($v['nomeperfil']) . ' - ' . $v['perfil'] . " </option>";
                             
                                                                        endif;
                                                                        $idAnteriorDept = $v['perfil'];
                                                                        $totalAnterior = $totalCounter;
                                                                    ?>       
                                                                
                                                                <?php endforeach;?>
                                                              
                                                                <?php $idAnterior = ''; ?>
                                                                <?php foreach (Funcionariosgeraispontogrupos::getGrupoSelectRHNew() as $k=>$v) : ?>

                                                                    <?php

                                                                        $total = Funcionariosgeraispontohorarios::getFGEscolasTotal($v['idusuario']);
                                                                        $totalCounter = count(explode(',',$total['idsfuncionariossel']));

                                                                        if( $total['idsfuncionariossel'] != '-1' and $idAnterior != $v['idescola'] ): 

                                                                            if($v['idescola'] == 0):
                                                                                    echo "<option value='" . $v['idperfil'] . "-" .  $v['idescola'] . "-" . $v['idsecretaria'] . "-" .  Funcionariosgeraispontogrupos::getfuncionarioByIdFunc($v['idfuncionario'])['id'] . "'>" . $v['desclocal'] . " - " . UsuariosPerfis::getPerfisHelpers(array('id'=>$v['idperfil']))[0]['perfil']  . " [ " .  $v['nome'] . " ] " . " </option>";
                                                                            else: 
                                                                                    //echo "<option value='" . $v['idperfil'] . "-" .  $v['idescola'] . "-" . $v['idsecretaria'] . "-" .  Funcionariosgeraispontogrupos::getfuncionarioByIdFunc($v['idfuncionario'])['id'] . "'>" . $v['desclocal'] . " [ " .  $v['nome'] . " ] -> " . $total['idsfuncionariossel'] . "-" . $totalCounter . "</option>";
                                                                                    echo "<option value='" . $v['idperfil'] . "-" .  $v['idescola'] . "-" . $v['idsecretaria'] . "-" .  Funcionariosgeraispontogrupos::getfuncionarioByIdFunc($v['idfuncionario'])['id'] . "'>" . $v['desclocal'] . "</option>";
                                                                            endif;

                                                                        elseif( $total['idsfuncionariossel'] != '-1' and $idAnterior == $v['idescola'] and $totalCounter > $totalAnterior ):

                                                                            if($v['idescola'] == 0):
                                                                                echo "<option value='" . $v['idperfil'] . "-" .  $v['idescola'] . "-" . $v['idsecretaria'] . "-" .  Funcionariosgeraispontogrupos::getfuncionarioByIdFunc($v['idfuncionario'])['id'] . "'>" . $v['desclocal'] . " - " . UsuariosPerfis::getPerfisHelpers(array('id'=>$v['idperfil']))[0]['perfil']  . " [ " .  $v['nome'] . " ] " . " </option>";
                                                                            else: 
                                                                                //echo "<option value='" . $v['idperfil'] . "-" .  $v['idescola'] . "-" . $v['idsecretaria'] . "-" .  Funcionariosgeraispontogrupos::getfuncionarioByIdFunc($v['idfuncionario'])['id'] . "'>" . $v['desclocal'] . " [ " .  $v['nome'] . " ] -> " . $total['idsfuncionariossel'] . "-" . $totalCounter . "</option>";
                                                                                echo "<option value='" . $v['idperfil'] . "-" .  $v['idescola'] . "-" . $v['idsecretaria'] . "-" .  Funcionariosgeraispontogrupos::getfuncionarioByIdFunc($v['idfuncionario'])['id'] . "'>" . $v['desclocal'] . "</option>";
                                                                            endif;

                                                                        endif;
                                                                        $idAnterior = $v['idescola'];
                                                                        $totalAnterior = $totalCounter;
                                                                    ?>       
                                                                
                                                                <?php endforeach;?>
                                                        </select>  
                                                    </div>
                                                <?php else: ?><!-- echo Usuarios::getUsuario('idlocal') -->
                                                    <select name="idlocal" placeholder="Todos" class="select">
                                                        <option value='<?php Usuarios::getUsuario('idperfil') . "-" . Usuarios::getUsuario('id') ?>' selected enable>Sua Escola </option> </select> 
                                                <?php endif; ?>

                                        </td>


                                        <td>
                                            <?php if (Mn_Util::isAccess($this->getController(), 'adicionar')) : ?>
                                                <ul class="table-controls" ><li><input name="dia_i" value="<?php echo $this->datainicial ?>" type="hidden" placeholder="Dia inicial" class="span3"></li><li> <input name="dia_f" value="<?php echo (isset($this->datafinal)) ? $this->datafinal : $this->datafinal ?>" type="hidden" placeholder="Dia inicial" class="span3"> </li><li>
                                            
                                                <?php

                                                    $listadeDatas = new Funcionariosgeraispontocartaoblocosdatas();
                                                    $lista = $listadeDatas->getFuncionariosgeraispontocartaoblocosdatas();

                                                    echo "<select id='teste' name='selectdados' class='select'>";
                                                    echo "<option value=''>Selecione...</option>";

                                                    $dataInicial =  date("Y-m-d", strtotime($this->datainicial));
                                                    $dataObjInicio = new DateTime($dataInicial);

                                                    $dataFinal =  date("d-m-Y", strtotime($this->datafinal));
                                                    $dataObjFim = new DateTime($dataFinal);

                                                    echo "<option value='" .  $this->datainicial . " " .  $this->datafinal . "'>" .  $dataObjInicio->format('d/m/Y') . " " .  $dataObjFim->format('d/m/Y') . "</option>";
                                                    foreach($lista as $index):

                                                        /* ----------------  Tratamento de Datas ----------- */
                                                        $dateAuxObjinicio =  date("d-m-Y", strtotime($index['datainiciobloco']));
                                                        $dateInicio = new DateTime($dateAuxObjinicio);

                                                        $dateAuxObjfim =  date("d-m-Y", strtotime($index['datafimbloco']));
                                                        $dateFim = new DateTime($dateAuxObjfim);
                                                        echo "<option value='"  . $dateInicio->format('Y-m-d') . " " . $dateFim->format('Y-m-d') . "'>" . $dateInicio->format('d/m/Y') . "  " . $dateFim->format('d/m/Y') . "</option>";
                                                        
                                                    endforeach;

                                                    echo "</select>";
                                                ?>

                                                </li></ul>
                                            
                                            <?php endif; ?>
                                        </td>
                                        <td>
                                            <h6><b> <input id='carregavalor' type='hidden' value='<?php echo (isset($this->post_var['selectdados'])) ? $this->post_var['selectdados'] : $this->datainicial . " " .  $this->datafinal ?>'> </h6>
                                        </td>
                                        <td>
                                            <select name="estados" placeholder="Status" class="select" >
                                                <option value="">Todos</option>
                                                <option value="Sem Registros">Sem Registros</option>
                                                <option value="Aguardando">Aguardando</option>
                                                <option value="Incompleto">Incompleto</option>
                                                <option value="Finalizado">Finalizados</option>
                                                <option value="Ocorrencias">Ocorrencias</option>
                                            </select>
                                        </td>
                                        <td>
                                            <button id='enviar' class="btn btn-mini btn-primary" type="submit">Pesquisar</button>       
                                        </td>
                                        <td>
                                            
                                        </td>
                                        
                                    </tr>
                                </table>
                            
                            
                            </div>
	                	</div>
	                    <div class="table-overflow">
	                        <table class="table table-content">
	                            <thead>
	                                <tr>
                                            <th width="20">#</th>
                                    <th>
                                    <?php if((Usuarios::getUsuario('idperfil') == '14') || (Usuarios::getUsuario('idperfil') == '1')): ?>
                                        <div class='btn btn-info btn-block' style='cursor: pointer' onclick='confirmAll()'>Confirmar Todos</div>
                                    <?php else: ?>

                                    <?php endif; ?> 
                                    </th>
                                    <th>Nome</th>
                                    <th>RGF</span></th>
                                    <th><small>Lançados / <br> Dias Úteis</small></th>
                                    <th><small>Justificados / <br> Injustificados / <br> Trabalhados</small></th>
                                    <!--<th class="s-observacoes sorting"></th>-->
                                    <th>Confirmações RH</th>
                                    <th width="96">Ações</th>
	                                </tr>
	                                <tr>
                                            <th>
                                            </th>
                                            <th>

                                                <ul class="table-controls" > 
                                                    <?php if((Usuarios::getUsuario('idperfil') == '14') || (Usuarios::getUsuario('idperfil') == '1') || (Usuarios::getUsuario('idperfil') == '30')): ?>
                                                        <li><a title="" class="btn btn-block tip" href="<?php echo $this->baseUrl() ?>/<?php echo 'admin' ?>/<?php echo $this->getController() ?>/gerarpdfpontosmensaissimplificado/id/<?php echo $this->idusuario; ?>/inicio/<?php echo $this->datainicial ?>/fim/<?php echo $this->datafinal ?>" data-original-title="Baixar Folha"><i class="icon-print"></i> Relatório Geral Simplificado</a> </li>    
                                                        <!-- <li><a title="" class="btn tip" href="<?php echo $this->baseUrl() ?>/<?php echo 'admin' ?>/<?php echo $this->getController() ?>/gerardocumentoferias/id/<?php echo  $this->idusuario; ?>/inicio/<?php echo $this->datainicial ?>/fim/<?php echo $this->datafinal ?>" data-original-title="Baixar Folha"><i class="icon-print"></i> Relatório Geral Completo</a> </li> -->
                                                    <?php else: ?>
                                                        <li><a title="" class="btn btn-block tip" href="<?php echo $this->baseUrl() ?>/<?php echo 'admin' ?>/<?php echo $this->getController() ?>/gerarpdfpontosmensaissimplificado/id/<?php echo $this->idusuario; ?>/inicio/<?php echo $this->datainicial ?>/fim/<?php echo $this->datafinal ?>" data-original-title="Baixar Folha"><i class="icon-print"></i> Relatório Geral Simplificado</a> </li>
                                                        <!-- <li><a title="" class="btn tip" href="<?php echo $this->baseUrl() ?>/<?php echo 'admin' ?>/<?php echo $this->getController() ?>/gerardocumentoferias/id/<?php echo Usuarios::getUsuario('id') ?>/inicio/<?php echo $this->datainicial ?>/fim/<?php echo $this->datafinal ?>" data-original-title="Baixar Folha"><i class="icon-print"></i> Relatório Geral Completo</a> </li> -->
                                                    <?php endif; ?>
                                                </ul>
        
                                            </th>
                                            <th>
                                            </th>
                                            <th>
                                            </th>
                                            <th>
                                                <input name="checks" type="hidden" value="5"><input name='idlocalSetado' type='hidden' value='<?php echo (isset($this->post_var["idlocal"])) ? $this->post_var["idlocal"] : '14-0-1' ?>'> 
                                            </th>
                                            <th>
                                                <input id='carregavalorstatus' type='hidden' value='<?php echo (isset($this->post_var["estados"])) ? $this->post_var["estados"] : '' ?>'>   
                                            </th>
                                            <th>
                                            </th>
	                                        <th>
                                            </th>
	                                </tr> 
	                                                                
	                            </thead>
                                   
	                            <tbody name="table-content">
	                            	<?php if (sizeof($this->rows)==0) : ?>
	                                <tr>
	                                    <td colspan="8">Nenhum registro foi encontrado!</td>
	                                </tr>
	                            	
	                            	<?php else : ?>
                                    <?php foreach ($this->rows as $row) : ?>
                                    
                                                    

                                    <?php
                                    
                                        $diasUteis = Funcionariosgeraispontohorarios::getDiasUteisPeriodo($this->datainicial, $this->datafinal);
                                        $feriados = (isset(Funcionariosgeraispontohorarios::getDiasUteisView($this->datainicial, $this->datafinal)[0]['feriados'])) ? Funcionariosgeraispontohorarios::getDiasUteisView($this->datainicial, $this->datafinal)[0]['feriados'] : '' ;
                                                                   
                                        $diasUteis = Funcionariosgeraispontohorarios::getDiasUteisPeriodo($this->datainicial, $this->datafinal);
                                        $feriados = Funcionariosgeraispontohorarios::getFeriadosValidos($this->datainicial, $this->datafinal);
                                        //$feriados = 0;

                                        $ferias = Funcionariosgeraispontohorarios::getTotalFerias($row['id'], $this->idlocal, $this->dept, $this->datainicial, $this->datafinal);
                                        //Funcionariosgeraispontohorarios::getFGFerias($row['id'], $this->idlocal, $this->dept, $this->datainicial, $this->datafinal);
                                        $injustificados = Funcionariosgeraispontohorarios::getFGFInjustificadas($row['id'], $this->idlocal, $this->dept, $this->datainicial, $this->datafinal);
                                        $justificados = Funcionariosgeraispontohorarios::getFGFJustificados($row['id'], $this->idlocal, $this->dept, $this->datainicial, $this->datafinal);
                                        $lancados = Funcionariosgeraispontohorarios::getFGLanc($row['id'], $this->idlocal, $this->dept, $this->datainicial, $this->datafinal);
                                        $lancadosFDS = Funcionariosgeraispontohorarios::getFGLancFDS($row['id'], $this->idlocal, $this->dept, $this->datainicial, $this->datafinal);
                                        $confirmados = (int)Funcionariosgeraispontohorarios::getFGRhconfirmados($row['id'], $this->idlocal, $this->dept, $this->datainicial, $this->datafinal);
                                        $uteis = (int) $diasUteis;
                                        $feriadosUteis = Funcionariosgeraispontohorarios::getFGLancFeriados($row['id'], $this->idlocal, $this->dept, $this->datainicial, $this->datafinal);

                                        $flagFiltro = false;

                                        // -----------  Tratamento dos campos da tabela ---------------------------
                                        
                                        if($this->post_var["estados"] == 'Sem Registros'){
                                            if(($lancados == 0)){
                                                $flagFiltro = true;
                                            }
                                        }else if($this->post_var["estados"] == 'Aguardando'){
                                            if(($lancados == (($uteis - $feriados) + ($lancadosFDS + $feriadosUteis))) and ($confirmados < $lancados)){
                                                $flagFiltro = true;
                                            }
                                        }else if($this->post_var["estados"] == 'Incompleto'){
                                            if(($lancados > 0) and ($lancados < (($uteis - $feriados) + ($lancadosFDS + $feriadosUteis))) and ($lancados >= $confirmados)){
                                                $flagFiltro = true;
                                            }
                                        }else if($this->post_var["estados"] == 'Finalizado'){
                                            if(($lancados == $confirmados) and ($lancados > 0) and ($lancados == (($uteis - $feriados) + ($lancadosFDS + $feriadosUteis))) ){
                                                $flagFiltro = true;
                                            }
                                        }else if($this->post_var["estados"] == 'Ocorrencias'){
                                            if(($injustificados > 0) or ($justificados > 0)){
                                                $flagFiltro = true;
                                            }
                                        }else if(true){
                                            $flagFiltro = true;
                                        }


                                    if($flagFiltro){
                                    
                                        
                                    ?>


	                                <tr id="<?php echo $row['id'] ?>" >
                                            <td>
                                            <?php
                                               
                                                $funcionariosAnexos = new Funcionariosgeraispontocartaoblocoanexos();

                                                $strArray = array();

                                                $strArray['datainiciobloco'] = $this->datainicial;
                                                $strArray['datafimbloco'] = $this->datafinal;
                                                $strArray['funcionarioid'] = $row['id'];
                                                $strArray['idlocal'] = $this->idlocal;
                                                $strArray['iddept'] = $this->dept;

                                                $funcionarioAnexo = $funcionariosAnexos->getFuncionariosgeraispontocartaoblocoanexos($strArray);
                                                
                                                if(isset($funcionarioAnexo[0]['idarquivofolhaponto'])):
                                                    if(count($funcionarioAnexo[0]['idarquivofolhaponto']) > 0): 
                                                        echo   $this->getArquivo($funcionarioAnexo[0]['idarquivofolhaponto']);
                                                    else:
                                                        
                                                    endif;
                                                endif;
                                            
                                            ?>
                                            
                                            </td>
                                            <td name='local-<?php echo $row['id']  ?>'>
                                                       &nbsp; 
                                                     <?php

                                                        //$lancados = (int) Funcionariosgeraispontohorarios::getFGLanc($row['id'], $this->idlocal, $this->dept, $this->datainicial, $this->datafinal);
                                                       
                                                        /* --------- Bloco para a definição de permissões e status do button confirmar  ------ */
                                                        
                                                        if((Usuarios::getUsuario('idperfil') == '14') || (Usuarios::getUsuario('idperfil') == '1')):
                                                            if(($lancados == $confirmados) and ($lancados > 0) and ($lancados == (($uteis - $feriados) + $lancadosFDS)) ) :   // total de confirmações realizadas pelo rh batem com o total de lançamentos do período
                                                                echo  "<div class='btn btn-success btn-block' Style='cursor: pointer' disabled> Finalizado </div>";
                                                            elseif($lancados == 0):
                                                                echo  "<div class='btn btn-default btn-block' Style='cursor: pointer' > Sem Registros </div>";
                                                            elseif(($lancados == (($uteis - $feriados) + $lancadosFDS)) and ($confirmados < $lancados)):
                                                                // echo  "<div class='btn btn-warning btn-block' Style='cursor: pointer' > Lançamentos Incompletos </div>";
                                                                echo  "<div name='confirmado-" . $row['id'] . "' class='btn btn-info btn-block' Style='cursor: pointer' onclick='confirmacaoLancamentoRH(" . $row['id'] . ")'> Confirmar </div>";
                                                            elseif(($lancados > 0) and ($lancados < (($uteis - $feriados) + $lancadosFDS)) and ($lancados >= $confirmados)):
                                                                echo  "<div name='confirmado-" . $row['id'] . "' class='btn btn-warning btn-block' Style='cursor: pointer' onclick='confirmacaoLancamentoRH(" . $row['id'] . ")'> Confirmar </div>";
                                                            endif;
                                                                
                                                        else:                           

                                                            if(($lancados == (($uteis - $feriados) + $lancadosFDS) ) and ($lancados == $confirmados) and ($lancados > 0)) :   // total de confirmações realizadas pelo rh batem com o total de lançamentos do período
                                                                echo  "<div class='btn btn-success btn-block' Style='cursor: pointer' disabled> Finalizado </div>";
                                                            elseif($lancados == 0):
                                                                echo  "<div class='btn btn-default btn-block' Style='cursor: pointer' > Sem Registros </div>";
                                                            elseif(($lancados < ($uteis - $feriados)) and ($confirmados < ($uteis - $feriados))):
                                                                echo  "<div class='btn btn-warning btn-block' Style='cursor: pointer' disabled> Lançamentos Incompletos </div>";
                                                            elseif(($lancados <= ($uteis - $feriados)) and ($lancados > $confirmados)):
                                                                echo  "<div class='btn btn-info btn-block' Style='cursor: pointer' disabled> Aguardando Confirmação </div>";
                                                            elseif(($lancados >= ($uteis - $feriados)) and ($lancados > $confirmados)):
                                                                echo  "<div class='btn btn-info btn-block' Style='cursor: pointer' disabled> Aguardando Confirmação </div>";
                                                            endif;
                                                        endif;
                                                        
                                                    ?>
                                                       
                                                </td>
                                                <td name='nome-<?php echo $row['id']  ?>'>
                                                    <?php
                                                            $___rows = Funcionariosgeraisescolas::getFuncionariosgeraisescolasHelper(array('id'=>$row['id']));
                                                            $___row = (sizeof($___rows)>0) ? $___rows[0] : false;	
                                                            echo  ' <small> ' . $row['nome']  . ' </small>';  
                                                            //echo ($___row) ? $this->formatTextoBranco($___row['nome']) : '--';		
                                                    ?>
                                                </td>
                                                <td><h5 name='rgf-<?php echo $row['id']  ?>'><?php echo $row['rgf'] ?> </h5></td>
                                                <td><h5 name='lancamentos-<?php echo $row['id']  ?>'><?php echo Funcionariosgeraispontohorarios::getFGLanc($row['id'], $this->idlocal, $this->dept, $this->datainicial, $this->datafinal) . ' / ' . (($uteis - $feriados) + ($lancadosFDS + $feriadosUteis))  ?> </h5></td>
                                                <td>
                                                    <h5  name='confirmados-<?php echo $row['id']  ?>'>
                                                        <?php
                                                            echo  $justificados . ' / &nbsp;';
                                                            echo  $injustificados . ' / &nbsp;';
                                                            echo (((int)$lancados) - (((int)$justificados)+((int)$injustificados))) . ''; 
                                                        ?> 
                                                    </h5>
                                                </td>
                                                <td><h5><?php echo $confirmados ?> </h5></td>
                                                <!-- <td><?php //echo $row['rgf'] ?></td>-->
                                                <!--
                                                <td>
                                                <?php if (Mn_Util::isAccess($this->getController(), 'editar')) : ?>
                                                        <a onclick="javascript:statusChange(<?php //echo $row["id"]?>, this);" href="javascript:;"><?php //echo $row['status'] ?></a>
                                                <?php else : ?>
                                                        <?php //echo $row['status'] ?>
                                                <?php endif; ?>
                                                </td>
                                                -->
	                                    <td id='conteudoptions-<?php echo $row['id']  ?>' width='200'>
	                                        <ul class="table-controls">
	                                            
                                                <?php if((Usuarios::getUsuario('idperfil') == '14') || (Usuarios::getUsuario('idperfil') == '1')): ?>
                                                    <!-- <li><a title="" class="btn tip" href="<?php echo $this->baseUrl() ?>/<?php echo 'admin' ?>/<?php echo $this->getController() ?>/cartoes/id/<?php echo $row['id'] . "-" . $this->idusuario; ?>" data-original-title="Histórico" ><i class="icon-list"></i></a></li> -->
                                                <?php else: ?>
                                                    <!-- <li><a title="" class="btn tip" href="<?php echo $this->baseUrl() ?>/<?php echo 'admin' ?>/<?php echo $this->getController() ?>/cartoes/id/<?php echo $row['id'] . "-" . Usuarios::getUsuario('id')?>" data-original-title="Histórico" ><i class="icon-list"></i></a></li> -->
                                                <?php endif; ?>
                                                
                                                <?php if (Mn_Util::isAccess($this->getController(), 'editar')) : ?>
                                                <!-- <li><a title="" class="btn tip"  data-toggle="modal" data-target=".bd-example-modal-lg" onclick="lancamodal(<?php echo $row['id'] . "," . $this->idusuario ?>)"><i class="icon-time"></i></a> </li> -->
                                                <!-- <li><a title="" class="btn tip" href="<?php echo $this->baseUrl() ?>/<?php echo 'admin' ?>/<?php echo $this->getController() ?>/gerardocumentoferias/id/<?php echo $row['id'] . "/iduser/" . $this->idusuario . "/inicio/" .  $this->datainicial  . "/fim/" . $this->datafinal ?>" data-original-title="Baixar Folha"><i class="icon-print"></i></a> </li> -->
                                                
                                                <?php if((Usuarios::getUsuario('idperfil') == '14') || (Usuarios::getUsuario('idperfil') == '1')): ?>
                                                    <li><a title="" class="btn tip" href="<?php echo $this->baseUrl() ?>/<?php echo 'admin' ?>/<?php echo $this->getController() ?>/gerardocumentofolhadeponto/id/<?php echo $row['id'] . "/user/" . $this->idusuario . "/inicio/" .  $this->datainicial  . "/fim/" . $this->datafinal; ?>" data-original-title="Baixar Folha"><i class="icon-print"></i></a> </li>
                                                <?php else: ?>
                                                    
                                                        <li><a title="" class="btn tip" href="<?php echo $this->baseUrl() ?>/<?php echo 'admin' ?>/<?php echo $this->getController() ?>/gerardocumentofolhadeponto/id/<?php echo $row['id'] . "/user/" . Usuarios::getUsuario('id') . "/inicio/" .  $this->datainicial  . "/fim/" . $this->datafinal?>" data-original-title="Baixar Folha"><i class="icon-print"></i></a> </li>
                                                  
                                                <?php endif; ?>

                                                <?php if(($lancados == $confirmados) and ($lancados > 0) and ($lancados == (($uteis - $feriados) + $lancadosFDS))): ?>
                                                    <!-- <li><a title="" class="btn tip" href="" data-original-title="Anexar Folha"><i class="icon-download"></i></a></li> -->
                                                <?php else: ?>
                                                    <li><a title="" class="btn tip" href="<?php echo $this->baseUrl() ?>/<?php echo 'admin' ?>/anexospontosrh/adicionar/id/<?php echo $row['id'] . "/iduser/" . $this->idusuario . "/inicio/" .  $this->datainicial  . "/fim/" . $this->datafinal ?>" data-original-title="Anexar Folha"><i class="icon-upload"></i></a> </li>  
                                                <?php endif; ?>
                                                        
                                                    <?php if((Usuarios::getUsuario('idperfil') == '14') || (Usuarios::getUsuario('idperfil') == '1')): ?>
                                                        <li><a title="" class="btn tip" href="<?php echo $this->baseUrl() ?>/<?php echo 'admin' ?>/<?php echo $this->getController() ?>/editar/id/<?php echo $row['id'] . "/iduser/" . $this->idusuario . "/inicio/" .  $this->datainicial  . "/fim/" . $this->datafinal . "/local/" . $this->idlocal . "/dept/" . $this->dept ?>" data-original-title="Editar"><i class="icon-pencil"></i></a> </li>
                                                    <?php else: ?>
                                                        <li><a title="" class="btn tip" href="<?php echo $this->baseUrl() ?>/<?php echo 'admin' ?>/<?php echo $this->getController() ?>/editar/id/<?php echo $row['id'] . "/iduser/" . $this->idusuario . "/inicio/" .  $this->datainicial  . "/fim/" . $this->datafinal . "/local/" . $this->idlocal . "/dept/" . $this->dept ?>" data-original-title="Editar"><i class="icon-pencil"></i></a> </li>
                                                    <?php endif; ?>
	                                            
                                                <?php endif;?>
	                                            <?php if (Mn_Util::isAccess($this->getController(), 'excluir')) : ?>
	                                            <!--<li><a title="" class="btn tip" href="javascript:confirmDelete('<?php echo $row['id']; ?>','registro');" data-original-title="Excluir"><i class="icon-remove"></i></a> </li>-->
	                                            <?php endif; ?>
	                                        </ul>
	                                    </td>
                                    </tr>
                                    
                                    <?php }//end if line ?>

	                            	<?php endforeach;?>
	                            	<?php endif; ?>
	                            </tbody>
	                        </table>
	                    </div>
	                    <?php echo $this->render('/helpers/paginator.phtml') ?>
                                
                    </form>
                    <div><?php //echo '<pre>'; print_r($this->existepost)  ?></div>
                </div>
                <!-- /table with footer -->
		    </div>
		    <!-- /content wrapper -->
		</div>
		<!-- content -->

       

<script type="text/javascript" src="<?php echo $this->baseUrl('/public/scripts/admin/pontosmensais_index.js') ?>"></script>
<script type="text/javascript">

$('#mymodal').modal('show');
//$('#mymodal').modal("display","none");
	var form_values = {};
    <?php if (isset($this->post_var)) :  ?>

form_values.idlocal = '<?php echo (isset($this->post_var['idlocal'])) ? $this->post_var['idlocal'] : '' ?>';    

form_values.idfuncionario = '<?php echo (isset($this->post_var['idfuncionario'])) ? $this->post_var['idfuncionario'] : '' ?>';

form_values.rfg = '<?php echo (isset($this->post_var['rgf'])) ? $this->post_var['rgf'] : '' ?>';

form_values.ocorrenciafiltro = '<?php echo (isset($this->post_var['ocorrenciafiltro'])) ? $this->post_var['ocorrenciafiltro'] : '' ?>';

form_values.diasemana = '<?php echo (isset($this->post_var['diasemana'])) ? $this->post_var['diasemana'] : '' ?>';

form_values.status1 = '<?php echo (isset($this->post_var['status1'])) ? $this->post_var['status1'] : $this->post_var['status'] ?>';

form_values.ocorrencias = '<?php echo (isset($this->post_var['ocorrencias'])) ? $this->post_var['ocorrencias'] : $this->post_var['ocorrencias'] ?>';

form_values.valorescheck =  '<?php echo (isset($this->post_var['valorescheck'])) ? $this->post_var['valorescheck'] : "";?>';
    
form_values.blocohorario = '<?php echo '15/02/2024 15/03/2018';?>';
	<?php endif; ?>

	var sorting = ["idfuncionario", "dia", "diasemana", "horaentrada", "horasaida", "observacoes", "status"];
   
    
    
</script>	

