		<!-- Content -->
		<div id="content">

		    <!-- Content wrapper -->
		    <div class="wrapper">

			    <!-- Breadcrumbs line -->
			    <div class="crumbs">
			    	<?php echo $this->render('/helpers/breadcrumb.phtml') ?>
			    </div>
			    <!-- /breadcrumbs line -->

			    <!-- Page header -->
			    <div class="page-header">
			    	<div class="page-title">
				    	<h5>Departamentos e Escolas</h5>
				    	<span>Visualize todos os departamentos e escolas cadastrados no sistema</span>
			    	</div>			    	
			    </div>
			    <!-- /page header -->
			    
			    <?php if (isset($this->crudMessage)) : ?>
				<div class="alert alert-success">
                	<button data-dismiss="alert" class="close" type="button">×</button>
                    <strong>Operação realizada com sucesso!</strong>
	    			<span><br /><?php echo $this->crudMessage ?></span>
                </div>			    
			    <?php endif; ?>
	                        	                        
                <!-- Table with footer -->
                <div class="widget">
                
                	<form action="#" class="form-horizontal" method="post">
                		<input type="hidden" value="<?php echo (isset($this->post_var['sorting'])) ? $this->post_var['sorting'] : '' ?>" name="sorting" />
	                	<div class="navbar">
	                		<div class="navbar-inner">
	                			<h6>Visualizando registros</h6>
	                			<?php if (Mn_Util::isAccess($this->getController(), 'adicionar')) : ?>
                               
	                			<?php endif; ?>
	                		</div>
	                	</div>

	                	<div class="navbar-inner">
							<div class="filter-box"  style="float:left;">
								&nbsp;
								<select name='filtro_index' class="select">
									<option value='0-todos-0'>Todos</option>
									<?php 

										/* =====================================================================================
																		Filtro Para setar departamentos
										   ===================================================================================== */

										$departamentoAnteriorFiltro = '';

										foreach($this->departamentosFiltros as $rows): 

											if(isset(Funcionariosgeraispontohorarios::getFGEscolasTotal($rows['id'])['idsfuncionariossel'])){
												$funcionariosText = Funcionariosgeraispontohorarios::getFGEscolasTotal($rows['id'])['idsfuncionariossel'];
												//$funcionarios = explode(',', Funcionariosgeraispontohorarios::getFGEscolasTotal($rows['id'])['idsfuncionariossel']);
												$funcionarios = explode(',', $funcionariosText);
											}else{
												$funcionarios =  array('-1');
											}	

											if(($funcionarios[0] != '-1') and ($departamentoAnteriorFiltro != $rows['nomeperfil'])):   // Mostrar apenas se houver algum funcionário na lista de meusfuncionários 

												$departamentoAnteriorFiltro = $rows['nomeperfil'];  

												echo '<option value="' .  $rows['nomeperfil'] . ' - ' . $rows['id'] . '- 0'  . '">' . $rows['nomeperfil'] . '</option>';

											endif;

										endforeach;

										
										
										foreach($this->escolasFiltros as $rows): 

										foreach(Funcionariosgeraispontohorarios::getFGEscolasTotal($rows['idusuario']) as $index): 
											//foreach($funcionarios as $index):
											if($index == '-1'){
												$mostraEscola = false;
											}else{
												$mostraEscola = true;
											}//end if else
											
										endforeach;

										
										$escolaAnteriorFiltro = '';	 
										 if($mostraEscola  and ($escolaAnteriorFiltro != $rows['escola'])): // Mostra a escola caso hajam funcionários em Meus Funcionários

											$escolaAnterior = $row['escola'];

											echo  '<option value="' .  $rows['idescola'] . ' - ' . $rows['idusuario'] . '- 1'  . '">' . $rows['escola'] . '</option>';

										 endif;

											

										endforeach;

										/* =====================================================================================
														End Filtro Para setar departamentos
										========================================================================================*/

									?>
								</select>
								<input name='select-geral' type='hidden' value='<?php echo (isset($this->filtro)) ? $this->filtro : ' ' ?>'>

							</div>

	                		<div class="filter-box"  style="float:right;">

                                <?php

                                    $listadeDatas = new Funcionariosgeraispontocartaoblocosdatas();
                                    $lista = $listadeDatas->getFuncionariosgeraispontocartaoblocosdatas();

                                ?>
                                <select name='idperiodo' class='select' >
                                    <option value=''>Selecione o período ...</option>
                                    <?php foreach($lista as $index): ?>
                                        <option value='<?php echo $index['id'] ?>'> <?php echo $index['obsbloco'] ?></option>
                                    <?php endforeach; ?>
                                </select>
                                <button class='btn btn-info'>Pesquisar</button>

		                    </div>
	                	</div>

	                    <div class="table-overflow">
	                        <table class="table table-content">
	                            <thead>
	                                </tr> 
	                                <tr>
	                                    <th>Escola</th>
	                                    <th>Funcionários</th>
	                                    <th>dias ùteis</th>
										<th>Lançados</th>
										<th>Justificados</th>
										<th>Injustificados</th>
										<th>Confirmados</th>
	                                    
	                                    <th class="s-statusbaixa"></th>
		                                <th width="96"></th>
	                                </tr>                                                   
	                            </thead>
	                            <tbody>

									<!--    Área destinada aos departamentos  -->

									<?php $departamentoAnterior = '' ?>

									<?php foreach ($this->departamentos as $rows) : 
									
									
									?>

										<?php 

											if(isset(Funcionariosgeraispontohorarios::getFGEscolasTotal($rows['id'])['idsfuncionariossel'])){
												$funcionariosText = Funcionariosgeraispontohorarios::getFGEscolasTotal($rows['id'])['idsfuncionariossel'];
												//$funcionarios = explode(',', Funcionariosgeraispontohorarios::getFGEscolasTotal($rows['id'])['idsfuncionariossel']);
												$funcionarios = explode(',', $funcionariosText);
											}else{
												$funcionarios =  array('-1');
											}	
											
									
										?>
										
								<?php if(($funcionarios[0] != '-1') and ($departamentoAnterior != $rows['nomeperfil'])):   // Mostrar apenas se houver algum funcionário na lista de meusfuncionários ?>
								<?php $departamentoAnterior = $rows['nomeperfil'];  ?>
										<tr>
											
											
										
											<td><?php echo  strtoupper($rows['nomeperfil']) ?></td>
											<td><?php
												if($funcionarios[0] == '-1'): 
													echo "0";
												else: 
												
													echo "<input id='func-" . $rows['id'] . "' type='hidden' value='" . implode(',',array_unique($funcionarios)) . "'>";
													echo count(array_unique($funcionarios));
													
													
												endif;
											
												//echo $Total //'User ' . $rows['id'] . ' local ' . $rows['local'] . ' dept ' . $rows['perfil'] 
											?></td>
											<td>
												<?php 
													

													//print_r($funcionarios);
													$flagFuncionario = true;

													//echo "<input id='func-" . $rows['id'] . "' type='hidden' value='" . Funcionariosgeraispontohorarios::getFGEscolasTotal($rows['id'])['idsfuncionariossel'] . "'>";

													// Valores a serem somados para apresentação dos totais

													$soma_diasuteis = 0;
													$soma_feriados = 0;
													$soma_injustificados = 0;
													$soma_justificados = 0;
													$soma_lancados = 0;
													$soma_confirmados = 0;
												

															foreach($funcionarios as $index): 

																// Cada funcionario 

																$func = Funcionariosgeraisescolas::getFuncionariogeralescolaByIdHelper($index);

																if($func){

																	$flagFuncionario = true;

																	$diasUteis = Funcionariosgeraispontohorarios::getDiasUteisPeriodo( $this->periodo['datainiciobloco'],  $this->periodo['datafimbloco']);
																	$feriados = Funcionariosgeraispontohorarios::getFeriadosValidos( $this->periodo['datainiciobloco'],  $this->periodo['datafimbloco']);	
																	
																	$injustificados = Funcionariosgeraispontohorarios::getFGFInjustificadas($func['id'], $rows['local'],  $rows['perfil'], $this->periodo['datainiciobloco'],  $this->periodo['datafimbloco']);
																    $justificados = Funcionariosgeraispontohorarios::getFGFJustificados($func['id'], $rows['local'], $rows['perfil'],  $this->periodo['datainiciobloco'],  $this->periodo['datafimbloco']);
																	$lancados = Funcionariosgeraispontohorarios::getFGLanc($func['id'], $rows['local'],  $rows['perfil'],  $this->periodo['datainiciobloco'],  $this->periodo['datafimbloco']);
																	$confirmados = (int)Funcionariosgeraispontohorarios::getFGRhconfirmados($func['id'], $rows['local'],  $rows['perfil'],  $this->periodo['datainiciobloco'],  $this->periodo['datafimbloco']);
																
																}else{

																	$flagFuncionario = false;

																	$diasUteis = 0;
																	$feriados = 0;
																	
																	$injustificados = 0;
																	$justificados = 0;
																	$lancados = 0;
																	$confirmados = 0;

																}// end if else

																

																$soma_diasuteis += $diasUteis;
																$soma_feriados += $feriados;
																$soma_injustificados += $injustificados;
																$soma_justificados += $justificados;
																$soma_lancados += $lancados;
																$soma_confirmados += $confirmados;
																
															endforeach;

															if($flagFuncionario){
																echo  $soma_diasuteis ;
																
															}else{
																echo  '<strong style="color: red">---</strong>';
																
															}//end if else
												
												?>
											</td>

											<?php

												if($flagFuncionario):

													echo '<td>' . $soma_lancados . '</td>';
													echo '<td>' . $soma_justificados . '</td>';
													echo '<td>' . $soma_injustificados . '</td>';
													echo '<td>' . $soma_confirmados . '</td>';

											?>

											<td> <div class='btn btn-block btn-default' style='cursor: pointer' onclick='detalhes(<?php echo $rows['id'] . ',' . $rows['local'] . ',' . $rows['perfil'] . ', "' . strtoupper($rows['nomeperfil']) . '"' ?>)'>Detalhes</div> </td>
                                            <td style='width: 15%'> 
												<ul><li><a title="" class="btn tip" href="<?php echo $this->baseUrl() ?>/<?php echo 'admin' ?>/<?php echo $this->getController() ?>/gerarpdfpontosmensaissimplificado/id/<?php echo $rows['id'] ?>/inicio/<?php echo  $this->periodo['datainiciobloco'] ?>/fim/<?php echo  $this->periodo['datafimbloco'] ?>" data-original-title="Baixar Folha"><i class="icon-print"></i> Relatório Geral </a> </li> </ul>
											</td>

											<?php

												else: 

													echo '<td> --- </td>';
													echo '<td> --- </td>';
													echo '<td> --- </td>';
													echo '<td> --- </td>';

											?>

													<td> <div class='btn btn-block btn-default' style='cursor: pointer' > Detalhes </div> </td>
													<td style='width: 15%'> 
														<ul><li><a title="" class="btn tip" data-original-title="Baixar Folha"><i class="icon-print"></i> Relatório Geral </a> </li> </ul>
													</td>
		
											<?php

												endif;
										
											?>

											
										</tr>
								<?php endif;   // Mostrar apenas se houver algum funcionário na lista de meusfuncionários ?>
									<?php endforeach; ?>
									<!--    End Área destinada aos departamentos  --> 
									
								

	                            	<?php if (sizeof($this->escolas)==0) : ?>
	                                <tr>
	                                    <td colspan="10"></td>
	                                </tr>
	                            	<?php else : ?>
									
									<?php $escolaAnterior = '';  ?>
	                            	<?php foreach ($this->escolas as $row) : ?>

									<?php 
									
										foreach(Funcionariosgeraispontohorarios::getFGEscolasTotal($row['idusuario']) as $index): 
										//foreach($funcionarios as $index):
											if($index == '-1'){
												$mostraEscola = false;
											}else{
												$mostraEscola = true;
											}//end if else
											
										endforeach;

										
									?> 
							
								<?php if($mostraEscola  and ($escolaAnterior != $row['escola'])): // Mostra a escola caso hajam funcionários em Meus Funcionários ?>
								<?php $escolaAnterior = $row['escola'];  ?>
                                        <tr>
                                            <td> 
											
											<?php  echo strtoupper($row['escola']) ?></td>
											<td> 
											<?php 
										
												foreach(Funcionariosgeraispontohorarios::getFGEscolasTotal($row['idusuario']) as $index): 
												//foreach($funcionarios as $index):
													if($index == '-1'){
														echo "0";
													}else{
														echo "<input id='func-" . $row['idusuario'] . "' type='hidden' value='" . implode(',',array_unique(explode(',',$index))) . "'>";

														$total = explode(',', $index);
														
														//print_r($total);
														echo count(array_unique($total));
													}//end if else
													
												endforeach;

												
											?> 
											
											</td>
                                            <td> 
											
											<?php  //echo Funcionariosgeraispontohorarios::getFGLRHindexTotais($row['local'], $row['usuarioperfil'], $this->periodo['datainiciobloco'], $this->periodo['datafimbloco']) 
											
													// Percorrer todos os Ids de funcionários
													//foreach(Funcionariosgeraispontohorarios::getFGEscolasTotal($row['idusuario']) as $index): 
											
														if($index == '-1'): 
															echo '<strong style="color: red"> -- </strong>';
														else: 
															// puxar um a um para saber os totais
															// echo 'id ' . $row['idusuario'] . '<br>';
															// echo 'local ' .  $row['idlocal'] . '<br>';
															// echo 'departamento ' .  $row['idperfil'] . '<br>';
															// echo 'inicio ' . $this->periodo['datainiciobloco'] . '<br>';
															// echo 'fim ' . $this->periodo['datafimbloco'] . '<br>';	

															// Valores a serem somados para apresentação dos totais

															$soma_diasuteis = 0;
															$soma_feriados = 0;
															$soma_injustificados = 0;
															$soma_justificados = 0;
															$soma_lancados = 0;
															$soma_confirmados = 0;

															$arrayFuncionarios = explode(',',Funcionariosgeraispontohorarios::getFGEscolasTotal($row['idusuario'])['idsfuncionariossel']);

															foreach($arrayFuncionarios as $index): 

																// Cada funcionario 
																$func = Funcionariosgeraisescolas::getFuncionariogeralescolaByIdHelper($index);

																$diasUteis = Funcionariosgeraispontohorarios::getDiasUteisPeriodo( $this->periodo['datainiciobloco'],  $this->periodo['datafimbloco']);
																$feriados = Funcionariosgeraispontohorarios::getFeriadosValidos( $this->periodo['datainiciobloco'],  $this->periodo['datafimbloco']);
																$injustificados = Funcionariosgeraispontohorarios::getFGFInjustificadas($func['id'], $row['idlocal'],  $row['idperfil'], $this->periodo['datainiciobloco'],  $this->periodo['datafimbloco']);
																$justificados = Funcionariosgeraispontohorarios::getFGFJustificados($func['id'], $row['idlocal'], $row['idperfil'],  $this->periodo['datainiciobloco'],  $this->periodo['datafimbloco']);
																$lancados = Funcionariosgeraispontohorarios::getFGLanc($func['id'], $row['idlocal'],  $row['idperfil'],  $this->periodo['datainiciobloco'],  $this->periodo['datafimbloco']);
																$confirmados = (int)Funcionariosgeraispontohorarios::getFGRhconfirmados($func['id'], $row['idlocal'],  $row['idperfil'],  $this->periodo['datainiciobloco'],  $this->periodo['datafimbloco']);

																$soma_diasuteis += $diasUteis;
																$soma_feriados += $feriados;
																$soma_injustificados += $injustificados;
																$soma_justificados += $justificados;
																$soma_lancados += $lancados;
																$soma_confirmados += $confirmados;
																
															endforeach;

																echo $soma_diasuteis ;

																// echo $soma_diasuteis . ' / ' . $soma_feriados . ' / ' . $soma_injustificados . ' / ' . $soma_justificados . ' / ' . $soma_lancados . ' / ' . $soma_confirmados;

														endif; 
													//endforeach;
											?>
											
											</td>
											<td><?php echo $soma_lancados ?></td>
											<td><?php echo $soma_justificados ?></td>
											<td><?php echo $soma_injustificados ?></td>
                                            <td><?php echo $soma_confirmados ?>  </td>
                                            <td> <div class='btn btn-block btn-default' style='cursor: pointer' onclick='detalhes(<?php echo $row['idusuario'] . ',' . $row['idlocal'] . ',' . $row['idescola'] . ', "' .  strtoupper($row['escola']) . '"' ?>)'>Detalhes</div> </td>
                                            <td style='width: 15%'> 
												<ul><li><a title="" class="btn tip" href="<?php echo $this->baseUrl() ?>/<?php echo 'admin' ?>/<?php echo $this->getController() ?>/gerarpdfpontosmensaissimplificado/id/<?php echo $row['idusuario'] ?>/inicio/<?php echo  $this->periodo['datainiciobloco'] ?>/fim/<?php echo  $this->periodo['datafimbloco'] ?>" data-original-title="Baixar Folha"><i class="icon-print"></i> Relatório Geral </a> </li> </ul>
											</td>
                                        </tr>

									<?php endif; // Mostra a escola caso hajam funcionários em Meus Funcionários ?>
	                            	<?php endforeach;?>
	                            	<?php endif; ?>	

								
	                            </tbody>
	                        </table>
	                    </div>
	                    <?php echo $this->render('/helpers/paginator.phtml') ?>
                    </form>
                </div>
                <!-- /table with footer -->
		    </div>
		    <!-- /content wrapper -->
		</div>
		<!-- content -->
		
		
<script type="text/javascript" src="<?php echo $this->baseUrl('/public/scripts/admin/pontosmensais_indexgeral.js') ?>"></script>
<script type="text/javascript">

function detalhes(id, local, departamento, nomeescola){

	// console.log('id', id);
	// console.log('local', local);
	// console.log('departamento', departamento);
	// console.log('escola', nomeescola);

	obj = $('#func-' + id).val();

	//console.log('objeto',obj);
	var idlocal = local;
	var iddepartamento = departamento;
	var data_inicio =   '<?php echo $this->periodo['datainiciobloco'] ?>';
	var data_fim = '<?php echo $this->periodo['datafimbloco'] ?>';

	console.log('--> 01');

	$.ajax({
        url: baseUrl + '/admin/pontosmensais/funcionariosrhdetalhes',
        type: 'POST',
		data: {
				iduser : id,
				funcionarios : obj,
				local : idlocal,
				departamento : iddepartamento,
				inicio : data_inicio,
				fim: data_fim
			  },
		beforeSend: function () {
               
        }}).done(function(msg){

			mensagem = JSON.parse(msg);

			titulo = 'Escola : ' + nomeescola;
			console.log('--> 02');
			var html = '';
				html += '<table class="table">'; 

					html += '<tr>';
						html += '<td>Nome</td>';
						html += '<td>RGF</td>'
						html += '<td>Dias</td>'
						html += '<td>Lanç.</td>';
						html += '<td>Trab.</td>';
						html += '<td>Just.</td>';
						html += '<td>Injust.</td>';
						html += '<td>Conf.</td>';
						html += '<td></td>';
					html += '</tr>';

			// Contadores para o somatório final 

			var sumUteis = 0;
			var sumLancamentos = 0;
			var sumTrabalhados = 0;
			var sumJustificados = 0;
			var sumInjustificados = 0;
			var sumConfirmados = 0;

			$.each(mensagem, function(index, value){
				console.log('--> 04 - ' , index);
				html += '<tr name="linha-' + value.idfuncionario + '">';
					html += '<td>' + value.nomefuncionario + '</td>';
					html += '<td>' + value.rgf + '</td>';
					html += '<td>' + value.uteis + '</td>';
					html += '<td>' + value.lancamentos + '</td>';
					html += '<td>' + value.trabalhados + '</td>';
					html += '<td>' + value.justificados + '</td>';
					html += '<td>' + value.injustificados + '</td>';
					html += '<td id="conf-' + value.idfuncionario + '">' + value.confirmados + '</td>';
					
					if((value.lancamentos > 0) && (value.lancamentos == value.confirmados)){
						html += '<td style="width: 15%"><div class="btn btn-default" >Confirmado</div></td>';	
					}else if(value.lancamentos == 0){
						html += '<td style="width: 15%"><div class="btn btn-default" >Aguardando</div></td>';	
					}else{
						
						if(<?= Usuarios::getUsuario('idperfil') ?> == 30){
							html += '<td style="width: 15%"><div class="btn btn-info" >Aguardando</div></td>';
						}else{
							html += '<td style="width: 15%"><div class="btn btn-info" style="cursor: pointer" onclick="confirmacaoLanRH(' + value.idfuncionario + ',' + value.idusuario + ',\'' + value.rgf + '\',\'' + value.nomefuncionario + '\',\'' + value.idescola + '\',' + value.local + ',' + value.departamento + ',\'' + data_inicio + '\',\'' + data_fim + '\')">Confirmarxx</div></td>';
						}
					}
				
				

				// Somando os contadores

				sumUteis += parseInt(value.uteis);
				sumLancamentos += parseInt(value.lancamentos);
				sumTrabalhados += parseInt(value.trabalhados);
				sumJustificados += parseInt(value.justificados);
				sumInjustificados += parseInt(value.injustificados);
				sumConfirmados += parseInt(value.confirmados);

			});//end each jquery for json

			if(sumUteis > sumLancamentos){
				html += '<tr style="color: red">';
			}else{
				html += '<tr>';
			}//end if else

			
				html += '<td>Total</td>';
				html += '<td></td>';
				html += '<td>' + sumUteis + '</td>';
				html += '<td>' + sumLancamentos + '</td>';
				html += '<td>' + sumTrabalhados + '</td>';
				html += '<td>' + sumJustificados + '</td>';
				html += '<td>' + sumInjustificados + '</td>';
				html += '<td>' + sumConfirmados + '</td>';
				html += '<td></td>';
			
			html += '</tr>';

			html += '</table>';

			dialogobox(html, titulo);
			
		});// end Ajax 
		

}// end function detalhes

//$html += '<tr><td></td><td> Total</td><td> 00 / 00 </td><td> 00 </td></tr>';
// 	$html += '</table>';
// 	console.log('->', variavel);

function dialogobox(html, titulo){


	var dialog = $('<div><h5>' + html + '</h5></div>').dialog({
    title: '<font color="#052f57"> ' + titulo + ' </font>',
    width: 900,
    modal: true,
    hide: {
        effect: "explode",
        duration: 500
    },
    buttons: [
        {
            text: "Fechar",
            click: function() {
                $( this ).dialog( "close" );
            }
        }
    ]
	});
}//end function dialogobox

function confirmAll(id, idescola, local, departamento, inicio, fim){

	// buscar id
	// buscar idusuario
	// buscar rgf
	// buscar nome 
	console.log('==>');

	$( "tr[name*=linha]" ).each(function() {
		var atributo = $(this).attr('name');
		var id = $(this).attr('name').split('-');

		console.log('-----------');
		console.log('id', id);
		console.log('idusuario', idescola );
		console.log('rgf-' );
		console.log('nome-' );
		console.log('idescola-');
		console.log('local', local);
		console.log('departamento', departamento);
		console.log('inicio', inicio);
		console.log('fim', fim);
		//confirmacaoLancamentoRH(id, idusuario, rgf, nome, idescola, local, departamento, inicio, fim)
		//confirmacaoLancamentoRH(id[1]);
	});
	// pegar todos os objetos do modal 

}//end functino confirmAll


function confirmacaoLanRH(id, idusuario, rgf, nome, idescola, local, departamento, inicio, fim){

setUser = departamento + '-' + idescola + '-' + '1' + '-' + idusuario;  

$.post(baseUrl + "/" + module + "/" +controller+ "/confirmacaolancamentorhajax",
{ 
	/* 01 */ id : id, 
	/* 02 */ inicio : inicio,
	/* 03 */ fim : fim, 
	/* 04 */ nome : '00',
	/* 05 */ local : local,
	/* 06 */ rgf : '00', 
	/* 07 */ lancamentos : '00', 
	/* 08 */ confirmados : '00',
	/* 09 */ usuarioSetado : setUser

}, function(data){
	
		//alert(data);
		//console.log('show');
		data = JSON.parse(data);
		//console.log(data);
		$('#conf-'+ data.id).html('Confirmado');
	  	//console.log('cuzao', data);
		// console.log(data);
	   
});
}//end function confirmacaoLancamentoRH




    var form_values = {};
        
    var periodo =  '<?php echo (isset($this->periodo)) ? $this->periodo['id'] : '' ?>'; 
    
	<?php if (isset($this->post_var)) :  ?>



	<?php endif; ?>

	var sorting = ["idsecretaria", "iddepartamento", "idsetor", "idtipo", "idmarca", "idfornecedor", "origem", "iddepartamentosecretaria", "idresponsavelsecretaria", "idescola", "idresponsavelescola", "numeropatrimonio", "patrimonio", "descricoes", "cor", "aprovado", "modelo", "serie", "numerolote", "anofabricacao", "vidautil", "quantidade", "aprovacao", "statusaprovacao", "observacoesaprovacoes", "baixa", "statusbaixa", "observacoesbaixa", "roubofurto", "statusroubofurto", "observacoesroubofurto", "dataroubofurto", "depreciacao", "descricoesdepreciacao", "valordepreciacao", "percentualdepreciacao", "tipodepreciacao", "caracteristicas", "dimensoes", "datacompra", "descricoesdobem", "codigosbarras", "qrcode", "status", "origemaprovacao", "idperfil"];
	
</script>
