<style>
	list-group {
		padding-left: 0;
		margin-bottom: 20px;
	}
		.list-group-item {
		position: relative;
		display: block;
		padding: 10px 15px;
		margin-bottom: -1px;
		background-color: #fff;
		border: 1px solid #ddd;
	}

	#box-alunos{
		margin-top: 2%;
	}
</style>		
		<!-- Content -->
		<div id="content">

		    <!-- Content wrapper -->
		    <div class="wrapper">

			    <!-- Breadcrumbs line -->
			    <div class="crumbs">
			    	<?php echo $this->render('/helpers/breadcrumb.phtml') ?>
			    </div>
			    <!-- /breadcrumbs line -->

			    <!-- Page header -->
			    <div class="page-header">
			    	<div class="page-title">
				    	<h5>Plano de trabalho individual</h5>
				    	<span>Verifique os campos e preencha com os dados</span>
			    	</div>
			    </div>
			    <!-- /page header -->

			    <?php if (isset($this->crudMessage)) : ?>
					<div class="alert alert-success">
	                	<button data-dismiss="alert" class="close" type="button">×</button>
	                    <strong>Operação realizada com sucesso!</strong>
		    			<span><br /><?php echo $this->crudMessage ?></span>
	                </div>			    
			    <?php endif; ?>

				<form id="form" name="form" action="" method="post" class="form-horizontal" enctype="multipart/form-data"> 
					<input type="hidden" value="<?php echo (isset($this->post_var)) ? $this->post_var["id"] : ''; ?>" name="id"  />
					<fieldset>
						<!-- General form elements -->
						<div class="widget row-fluid">
						    <div class="navbar">
						        <div class="navbar-inner">
						            <h6>Digite as informações do formulário</h6>
						        </div>
						    </div>

						    <div class="well">
								<?php if (isset($this->erros)) : ?>
									<div class="alert alert-error margin">
				                        <button data-dismiss="alert" class="close" type="button">×</button>
				                        <strong>Há erros no formulário!</strong>
					    				<?php foreach ($this->erros as $k=>$v) : ?>
					    					<span><br />- <?php echo $v ?></span>
					    				<?php endforeach;?>			                        
				                    </div>
			                    <?php endif; ?>						    
						    
							<?php if(!$this->visualizar) : ?>
								<div class="control-group">
									<label class="control-label">Aluno <span class="required">*</span></label>
									<div class="controls">
										<select name="idaluno" data-placeholder="Alunos" class="select" onclick="setAlunosdados(this)">
											<option value="">Selecione...</option>
											<?php foreach (Aeematriculas::getAeematriculasHelper(array('status'=>'Ativo')) as $k=>$v) : ?>
											<option value="<?php echo $v['id'] ?>"><?php echo Escolasalunos::getEscolaalunoByIdHelper($v['idaluno'])['nomerazao']; ?></option>
											<?php endforeach;?>
										</select>
										<?php if($this->editar) : ?>
											<div class="btn btn-primary" style='cursor: pointer' onclick="setAlunosdados(this, <?= $this->post_var['idaluno'] ?>)">Detalhes</div>
										<?php endif; ?>
										
										<div id="box-alunos">
										
										</div>
									</div>
								</div>
							<?php else : ?>
								<?php $dadosAluno['aee'] =  Aeematriculas::getAeematriculaByIdHelper($this->post_var['idaluno']); 
									$dadosAluno['professor'] = Funcionariosgeraisescolas::getFuncionariogeralescolaByIdHelper($dadosAluno['aee']['idprofessor'])['nome'];
									$dadosAluno['professorAee'] = Funcionariosgeraisescolas::getFuncionariogeralescolaByIdHelper($dadosAluno['aee']['idprofessor2'])['nome'];
									$dadosAluno['escola'] = Escolas::getEscolaByIdHelper($dadosAluno['aee']['idescola'])['escola'];
								?>

								<div class="control-group">
									<label class="control-label">Unidade Escolar <span class="required">*</span></label>
									<div class="controls">
										<ul class="list-group" style="width: 50%;">    
											<li class="list-group-item"> Aluno:  <?php echo Escolasalunos::getEscolaalunoByIdHelper( $dadosAluno['aee']['idaluno'] )['nomerazao'] ?></li>
											<li class="list-group-item"> Escola:  <?= $dadosAluno['escola'] ?></li>
											<li class="list-group-item"> Professor:  <?= $dadosAluno['professor'] ?></li>
											<li class="list-group-item"> Professor Aee: <?= $dadosAluno['professorAee'] ?></li>
										</ul>
									</div>
								</div>
							<?php endif ; ?>  

							<div class="navbar">
								<div class="navbar-inner">
									<h6>Função intelectual: Atenção/Percepção e memória</h6>
								</div>
							</div>

									<div class="control-group">
										<label class="control-label">Conteúdo </label>
										<div class="controls"><textarea class="span12" name="conteudo" cols="5" rows="5"><?php echo (isset($this->post_var)) ? $this->post_var["conteudo"] : ''; ?></textarea></div>
									</div>

							<div class="navbar">
								<div class="navbar-inner">
									<h6>Função intelectual: Linguagem e raciocínio lógico</h6>
								</div>
							</div>

									<div class="control-group">
										<label class="control-label">Linguagem oral ou portugues </label>
										<div class="controls"><textarea class="span12" name="linguagem_oral_portugues" cols="5" rows="5"><?php echo (isset($this->post_var)) ? $this->post_var["linguagem_oral_portugues"] : ''; ?></textarea></div>
									</div>

									<div class="control-group">
										<label class="control-label">Raciocínio lógico ou matemática </label>
										<div class="controls"><textarea class="span12" name="raciocinio_logico_matematica" cols="5" rows="5"><?php echo (isset($this->post_var)) ? $this->post_var["raciocinio_logico_matematica"] : ''; ?></textarea></div>
									</div>

							<div class="navbar">
								<div class="navbar-inner">
									<h6>Comportamento adaptativo capacidade motora</h6>
								</div>
							</div>

									<div class="control-group">
										<label class="control-label">Lateralidade, coordenação motora fina e grossa </label>
										<div class="controls"><textarea class="span12" name="coord_motora_fina_grossa" cols="5" rows="5"><?php echo (isset($this->post_var)) ? $this->post_var["coord_motora_fina_grossa"] : ''; ?></textarea></div>
									</div>
							
						    <div class="navbar">
								<div class="navbar-inner">
									<h6>Comportamento adaptativo: habilidades e AVD'S e AVP'S</h6>
								</div>
							</div>

									<div class="control-group">
										<label class="control-label">Cuidados pessoais / independência da rotina diária / organização do espaço escolar </label>
										<div class="controls"><textarea class="span12" name="independencia_organizacao" cols="5" rows="5"><?php echo (isset($this->post_var)) ? $this->post_var["independencia_organizacao"] : ''; ?></textarea></div>
									</div>

							<div class="navbar">
								<div class="navbar-inner">
									<h6>Formação da identidade pessoal, social e cultural: área emocional / afetiva e social</h6>
								</div>
							</div>

								<div class="control-group">
									<label class="control-label">Boa conduta / regras de vivências/cooperação e afetividade/convívio em casa e sociedade. </label>
									<div class="controls"><textarea class="span12" name="boaconduta" cols="5" rows="5"><?php echo (isset($this->post_var)) ? $this->post_var["boaconduta"] : ''; ?></textarea></div>
								</div>

							<div class="control-group">
								<label class="control-label">Objetivos gerais: </label>
								<div class="controls"><textarea class="span12" name="objetivosgerais" cols="5" rows="5"><?php echo (isset($this->post_var)) ? $this->post_var["objetivosgerais"] : ''; ?></textarea></div>
							</div>
 
							<div class="control-group">
								<label class="control-label">Status <span class="required">*</span></label>
								<div class="controls">
									<?php if(!$this->visualizar) : ?>	
										<select name="status1" data-placeholder="Status" class="select">
											<option value="">Selecione...</option>
											<option value="Ativo">Ativo</option><option value="Bloqueado">Bloqueado</option>
										</select>
									<?php else:  ?>
										<?= $this->post_var['status']; ?>
									<?php endif; ?>
								</div>
							</div> 
   
						    
			                <div class="form-actions align-right">
			                	<?php if ((isset($this->visualizar)) && ($this->visualizar)) : ?>
			                		<button onclick="window.history.back()" class="btn btn-danger cancelar" type="button">Voltar</button>
			                	<?php else : ?>
				                	<button class="btn btn-primary enviar" type="submit">Salvar</button>
				                	<button onclick="window.history.back()" class="btn btn-danger cancelar" type="button">Cancelar</button>
			                	<?php endif; ?>
			                </div>
						</div>
						<!-- /general form elements -->

					</fieldset> 

				</form>
				<!-- /basic inputs -->

		    </div>
		    <!-- /content wrapper -->

		</div>
		<!-- content -->
 		
	<script type="text/javascript" src="<?php echo $this->baseUrl('/public/scripts/admin/educacaoespecialplanodetrabalhoindividual_form.js') ?>"></script>
 			
<script type="text/javascript">
	var form_values = {};
	
	<?php if (isset($this->post_var)) :  ?> 

		form_values.idaluno = '<?php echo (isset($this->post_var['idaluno'])) ? $this->post_var['idaluno'] : '' ?>';

		form_values.status1 = '<?php echo (isset($this->post_var['status1'])) ? $this->post_var['status1'] : $this->post_var['status'] ?>'; 

	<?php endif; ?>

	visualizar = <?php echo  ((isset($this->visualizar)) && ($this->visualizar))  ? 'true' : 'false' ?>;
</script> 