		<!-- Content -->
		<div id="content">

		    <!-- Content wrapper -->
		    <div class="wrapper">

			    <!-- Breadcrumbs line -->
			    <div class="crumbs">
			    	<?php echo $this->render('/helpers/breadcrumb.phtml') ?>
			    </div>
			    <!-- /breadcrumbs line -->

			    <!-- Page header -->
			    <div class="page-header">
			    	<div class="page-title">
				    	<h5>Solicitações no sistema</h5>
				    	<span>Visualize os solicitações do sistema</span>
			    	</div>
			    	
			    </div>
			    <!-- /page header -->
			    
			    <?php if (isset($this->crudMessage)) : ?>
				<div class="alert alert-success">
                	<button data-dismiss="alert" class="close" type="button">×</button>
                    <strong>Operação realizada com sucesso!</strong>
	    			<span><br /><?php echo $this->crudMessage ?></span>
                </div>			    
			    <?php endif; ?>




	                        	                        
                <!-- Table with footer -->
                <div class="widget">
                	<form action="#" class="form-horizontal" method="post">
                		<input type="hidden" value="<?php echo (isset($this->post_var['sorting'])) ? $this->post_var['sorting'] : '' ?>" name="sorting" />
	                	<div class="navbar">
	                		<div class="navbar-inner">
	                			<h6>Visualizando registros</h6>
	                			<?php if (Mn_Util::isCadastroAccess($this->getController(), 'adicionar')) : ?>
	                			<a style="float:right;" href="<?php echo $this->baseUrl() ?>/<?php echo Licencas::getLicenca('alias')?>/<?php echo $this->getController() ?>/adicionar" class="btn btn-primary"><span class="icon-plus"></span>&nbsp;Adicionar solicitação</a>
	                			<?php endif; ?>
	                		</div>
	                	</div>
	                    <div class="table-overflow">
	                        <table class="table table-content">
	                            <thead>
	                                <tr>
	                                    <th width="20">#</th>
<th class="s-idusuariocriacao">Usuário</th>
<th class="s-iddepartamentosecretaria">Departamento da Secretaria</th>
<th class="s-idescola">Escolas</th>
<th class="s-titulo">Título</th>
<th class="s-descricoes">Descrições</th>
<th class="s-status">Status</th>


	                                    <th width="96">Ações</th>
	                                </tr>
	                                <tr>
	                                    <th></th>
<th>
	                                    	<div>
                                            	<select name="idusuariocriacao" data-placeholder="Todos" class="select" tabindex="2">
	                                                <option value="">Todos</option>
								                	<?php foreach (Usuarios::getUsuariosHelper(array('status'=>'Ativo','idlicenca'=>Licencas::getLicenca('id'))) as $k=>$v) : ?>
								                	<option value="<?php echo $v['id'] ?>"><?php echo $v['nomerazao'] ?></option>
								                	<?php endforeach;?>
	                                            </select>
	                                    	</div>
	                                    </th>
<th>
	                                    	<div>
                                            	<select name="iddepartamentosecretaria" data-placeholder="Todos" class="select" tabindex="2">
	                                                <option value="">Todos</option>
								                	<?php foreach (Departamentossecretarias::getDepartamentossecretariasHelper(array('status'=>'Ativo','idlicenca'=>Licencas::getLicenca('id'))) as $k=>$v) : ?>
								                	<option value="<?php echo $v['id'] ?>"><?php echo $v['departamento'] ?></option>
								                	<?php endforeach;?>
	                                            </select>
	                                    	</div>
	                                    </th>
<th>
	                                    	<div>
                                            	<select name="idescola" data-placeholder="Todos" class="select" tabindex="2">
	                                                <option value="">Todos</option>
								                	<?php foreach (Escolas::getEscolasHelper(array('status'=>'Ativo','idlicenca'=>Licencas::getLicenca('id'))) as $k=>$v) : ?>
								                	<option value="<?php echo $v['id'] ?>"><?php echo $v['escola'] ?></option>
								                	<?php endforeach;?>
	                                            </select>
	                                    	</div>
	                                    </th>
<th><input name="titulo" value="<?php echo (isset($this->post_var['titulo'])) ? $this->post_var['titulo'] : '' ?>" type="text" style="display: block; margin-top: 6px;" placeholder="Título" class="input-block-level"></th>
<th><input name="descricoes" value="<?php echo (isset($this->post_var['descricoes'])) ? $this->post_var['descricoes'] : '' ?>" type="text" style="display: block; margin-top: 6px;" placeholder="Descrições" class="input-block-level"></th>
<th>
	                                    	<div>
                                            	<select name="status1" data-placeholder="Todos" class="select" tabindex="2">
	                                                <option value="">Todos</option>
	                                                <option value="Aberto">Aberto</option><option value="Encerrado">Encerrado</option><option value="Analisando">Analisando</option><option value="Cancelado">Cancelado</option>
	                                            </select>
	                                    	</div>
	                                    </th>
                   

	                                    <th><button class="btn btn-mini btn-primary" type="submit">Pesquisar</button></th>
	                                </tr> 
	                                
	                                <?php if (Mn_Util::isCadastroAccess($this->getController(), 'relatorio')) : ?>
	                                <tr>
	                                    <th colspan="7"></th>
	                                    <th>
	                                    	 <ul class="table-controls">
	                                    	 	<li>
	                                    	 		<a target="_blank" href="<?php echo $this->baseUrl() ?>/<?php echo Licencas::getLicenca('alias') ?>/<?php echo $this->getController() ?>/index/to/xls"><img src="<?php echo $this->baseUrl() ?>/public/default/img/excel.gif" /></a>
	                                    	 	</li>
	                                    	 	<li>
	                                    	 		<a target="_blank" href="<?php echo $this->baseUrl() ?>/<?php echo Licencas::getLicenca('alias') ?>/<?php echo $this->getController() ?>/index/to/pdf"><img src="<?php echo $this->baseUrl() ?>/public/default/img/pdf.gif" /></a>
	                                    	 	</li>
	                                    	 </ul>
	                                    </th>
	                                </tr> 	                                
	                                <?php endif; ?>	                                
	                                	                                
	                            </thead>
	                            <tbody>
	                            	<?php if (sizeof($this->rows)==0) : ?>
	                                <tr>
	                                    <td colspan="8">Nenhum registro foi encontrado!</td>
	                                </tr>
	                            	
	                            	<?php else : ?>
	                            	<?php foreach ($this->rows as $row) : ?>
	                                <tr>
	                                	<td><?php echo $row['id'] ?></td>

<td><?php
								$___rows = Usuarios::getUsuariosHelper(array('id'=>$row['idusuariocriacao']));
								$___row = (sizeof($___rows)>0) ? 	$___rows[0] : false;	
								
								echo ($___row) ? $this->formatTextoBranco($___row['nomerazao']) : '--';		
										
								?></td>
<td><?php
								$___rows = Departamentossecretarias::getDepartamentossecretariasHelper(array('id'=>$row['iddepartamentosecretaria']));
								$___row = (sizeof($___rows)>0) ? 	$___rows[0] : false;	
								
								echo ($___row) ? $this->formatTextoBranco($___row['departamento']) : '--';		
										
								?></td>
<td><?php
								$___rows = Escolas::getEscolasHelper(array('id'=>$row['idescola']));
								$___row = (sizeof($___rows)>0) ? 	$___rows[0] : false;	
								
								echo ($___row) ? $this->formatTextoBranco($___row['escola']) : '--';		
										
								?></td>
<td><?php echo $row['titulo'] ?></td>
<td><?php echo $row['descricoes'] ?></td>
 <td>
	                                    	<?php if (Mn_Util::isCadastroAccess($this->getController(), 'editar')) : ?>
	                                    	<a onclick="javascript:statusChange(<?php echo $row["id"]?>, this);" href="javascript:;"><span class="label <?php echo ($row['status']=='Ativo') ? 'label-success' : 'label-important' ?>"><?php echo $row['status'] ?></span></a>
	                                    	<?php else : ?>
	                                    	<?php echo $row['status'] ?>
	                                    	<?php endif; ?>
	                                    </td>

			                				

	                                    <td>
	                                        <ul class="table-controls">
	                                            <li><a title="" class="btn tip" href="<?php echo $this->baseUrl() ?>/<?php echo Licencas::getLicenca('alias') ?>/<?php echo $this->getController() ?>/visualizar/id/<?php echo $row['id'] ?>" data-original-title="Visualizar"><i class="icon-eye-open"></i></a> </li>
	                                            <?php if (Mn_Util::isCadastroAccess($this->getController(), 'editar')) : ?>
	                                            <li><a title="" class="btn tip" href="<?php echo $this->baseUrl() ?>/<?php echo Licencas::getLicenca('alias') ?>/<?php echo $this->getController() ?>/editar/id/<?php echo $row['id'] ?>" data-original-title="Editar"><i class="icon-pencil"></i></a> </li>
	                                            <?php endif;?>
	                                            <?php if (Mn_Util::isCadastroAccess($this->getController(), 'excluir')) : ?>
	                                            <li><a title="" class="btn tip" href="javascript:confirmDelete('<?php echo $row['id']; ?>','registro');" data-original-title="Excluir"><i class="icon-remove"></i></a> </li>
	                                            <?php endif; ?>
	                                        </ul>
	                                    </td>
	                                </tr>
	                            	<?php endforeach;?>
	                            	
	                            	
	                            	
	                            	
	                            	<?php endif; ?>
	
	                            </tbody>
	                        </table>
	                    </div>
	                    <?php echo $this->render('/helpers/paginator.phtml') ?>
                    
                    </form>

                </div>
                <!-- /table with footer -->
	                        


		    </div>
		    <!-- /content wrapper -->

		</div>
		<!-- content -->
		
		
<script type="text/javascript" src="<?php echo $this->baseUrl('/public/scripts/default/solicitacoes_index.js') ?>"></script>
<script type="text/javascript">

	var form_values = {};
	<?php if (isset($this->post_var)) :  ?>
form_values.idusuariocriacao = '<?php echo (isset($this->post_var['idusuariocriacao'])) ? $this->post_var['idusuariocriacao'] : '' ?>';

form_values.iddepartamentosecretaria = '<?php echo (isset($this->post_var['iddepartamentosecretaria'])) ? $this->post_var['iddepartamentosecretaria'] : '' ?>';

form_values.idescola = '<?php echo (isset($this->post_var['idescola'])) ? $this->post_var['idescola'] : '' ?>';

form_values.origem = '<?php echo (isset($this->post_var['origem'])) ? $this->post_var['origem'] : '' ?>';

form_values.destinatario = '<?php echo (isset($this->post_var['destinatario'])) ? $this->post_var['destinatario'] : '' ?>';

form_values.status1 = '<?php echo (isset($this->post_var['status1'])) ? $this->post_var['status1'] : $this->post_var['status'] ?>';

	
	<?php endif; ?>

	var sorting = ["idusuariocriacao", "iddepartamentosecretaria", "idescola", "titulo", "descricoes", "origem", "destinatario", "status"];
	
</script>	