
<?php 
	$semana = (int)$this->page; 
	$semanaconta = $semana + 1 ;

	
	$semanacalendario = $semana;
	$semanacalendarioconta = $semanacalendario + 1 ;
	if ($semana>0) : 
		$semanacalendario = $semanacalendario * 35 ;
	elseif ($semanacalendario<0):
		$semanacalendario = ($semanacalendario * 35);						 
	endif;

	$mes_atual = mktime(0, 0, 0, date('m'), date('d') + $semanacalendario, date('Y'));
	$ano_atual = date('Y', $mes_atual);
	$mes_atual = date('m', $mes_atual);	
	$titulo_mes_atual = Mn_Util::getMes($mes_atual) . ' ' . $ano_atual;
	
?>
				
				<table style="width:100%" class="fc-header">
					<tbody>
						<tr>
							<td class="fc-header-left" style="width:10%;  float:left;">
								&nbsp;							
							</td>

							<td style="width:80%; text-align: center">
								<span class="fc-header-title"><h2><?php echo $titulo_mes_atual ?> </h2></span>
							</td>
							
							<td class="fc-header-left" style="width:10%; text-align:right; float:right;">								
								&nbsp;
							</td>
						</tr>
					</tbody>
				</table>
				<table style="width:100%" class="fc-header">
					<tbody>
						<tr>
							<td class="fc-header-left" style="width:10%;  float:left;">
								<span class="fc-button fc-button-prev fc-state-default fc-corner-left" unselectable="on" style="float:left;" onclick="setPage('menos')"><span class="fc-text-arrow"><i class="ico-arrow-left"></i></span></span>								
							</td>

							<td style="width:80%; text-align: center">
								<span class="fc-button fc-button-today fc-state-default fc-corner-left fc-corner-right fc-state-disabled" unselectable="on"  style="float:none;" onclick="setPage('inicial')">HOJE</span>
							</td>
							
							<td class="fc-header-left" style="width:10%; text-align:right; float:right;">								
								<span class="fc-button fc-button-next fc-state-default fc-corner-right" unselectable="on" style="float:left;" onclick="setPage('mais')"><span class="fc-text-arrow"><i class="ico-arrow-right"></i></span></span>
							</td>
						</tr>
					</tbody>
				</table>

<div class="fc-content">
	<div style="position: relative; -moz-user-select: none;" class="fc-view fc-view-month fc-grid" unselectable="on">
		<div style="position:absolute;z-index:8;top:0;left:0" class="fc-event-container"></div>
		<table cellspacing="0" style="width:100%" class="fc-border-separate">
			<thead>
				<tr class="fc-first fc-last">
					<?php $semana = 0?>
					<?php $dias = array('Dom', 'Seg', 'Ter', 'Qua', 'Qui', 'Sex', 'Sáb'); ?>
					<?php $dias_in = array('sun', 'mon', 'tue', 'wed', 'thu', 'fri', 'sat'); ?>

					<?php for ($i=0; $i<7; $i++) :
							$dia_atual = mktime(0, 0, 0, date('m'), date('d')+$i + $semana, date('Y'));
							$_titulo_semana = $dias[date('w', $dia_atual)];
							$_name_semana_in = $dias_in[date('w', $dia_atual)]; 
					?>
					<th class="fc-day-header fc-<?php echo $_name_semana_in ?> fc-widget-header <?php echo ($i==0) ? 'fc-first' : '' ?> <?php echo ($i==6) ? 'fc-last' : '' ?>" style="width: 14%;"><?php echo $_titulo_semana ?></th>
					<?php endfor;?>
				</tr>
			</thead>
			<tbody>
				<?php
				$mes_anterior = $mes_atual;
				$_dia = ""; 
				$proximo_mes = Mn_Util::getMes($mes_atual);
				for ($j=0; $j<5; $j++): ?>
				<tr class="fc-week">
				<?php for ($k=0; $k<7; $k++):							
						$mes = mktime(0, 0, 0, date('m'), date('d')+$k + ($j*7) + $semanacalendario, date('Y'));
						$mes = date('m', $mes);
	
						$_dia = mktime(0, 0, 0, date('m'), date('d')+$k + ($j*7) + $semanacalendario, date('Y'));
						$dia = date('d', $_dia); 

						$queries = array();
						$queries['datareserva'] = date('Y-m-d', $_dia);
						$queries['order'] = "ORDER BY e1.datareserva DESC";

                                                $queriesI = $queries;
                                                $queriesM = $queries;
                                                $queriesT = $queries;
                                                $queriesI["periodo"] = "integral";
                                                $queriesM["periodo"] = "manha";
                                                $queriesT["periodo"] = "tarde";
                                                $totalrows = Eventosreservasveiculos::getEventosreservasveiculosHelper($queries);
                                                $totalrowsI = Eventosreservasveiculos::getEventosreservasveiculosHelper($queriesI);
                                                $totalrowsM = Eventosreservasveiculos::getEventosreservasveiculosHelper($queriesM);
                                                $totalrowsT = Eventosreservasveiculos::getEventosreservasveiculosHelper($queriesT);										
                                                $rows = Eventosreservasveiculos::getEventosreservasveiculosHelper($queries, '0', '1');

						if($mes != $mes_atual):
							$proximo_mes = Mn_Util::getMes($mes);
						endif;
						?>
						
						
						
                                                <td data-date="2015-07-26" class="calendario-dia fc-day fc-sun fc-widget-content <?php echo ($mes != $mes_atual) ? ' fc-other-month ' : ''?> fc-past <?php echo ($k==0) ? 'fc-first' : '' ?> <?php echo ($k==6) ? 'fc-last' : '' ?>">
                                                        <div class="box_dia" style="height:89px">
                                                                <div class="fc-day-number">
                                                                <?php if(($mes != $mes_anterior) || (($j==0) && ($k==0))) : ?>
                                                                        <?php $mes_anterior = $mes; ?>
                                                                        <?php echo $dia ?> - <?php echo $proximo_mes ?> 
                                                                <?php else: ?>
                                                                        <?php echo $dia?>
                                                                <?php endif;?>

                                                                </div>
                                                                <div class="fc-day-content"></div>
                                                                <div class="box_dia-integral" >
                                                                        <span>Integral</span>
                                                                        <div class="content-eventos">
                                                                                <?php foreach ($rows as $a=>$agenda): ?>
                                                                                    <?php if($agenda['periodo'] == 'integral') : ?>
                                                                                        <div class="fc-placa" onclick="setEventoById('<?php echo $agenda['id']?>')">
                                                                                                <div class="evento-reduzido"><?php echo $agenda['placa'] ?></div>
                                                                                        </div>
                                                                                    <?php endif;?>
                                                                                <?php endforeach;?>

                                                                                <?php if(sizeof($totalrowsI) > 1) : ?>
                                                                                        <div class="todos line" onclick="setEventos(this, <?php echo $_dia ?>)" style="cursor:pointer; padding-left:6px;">Todos</div>               																
                                                                                <?php endif;?>														

                                                                        </div>					
                                                                </div>
                                                                <div class="box_dia-manha">
                                                                        <span>Manhã</span>
                                                                        <div class="content-eventos">
                                                                                <?php foreach ($rows as $a=>$agenda): ?>
                                                                                    <?php if($agenda['periodo'] == 'manha') : ?>
                                                                                        <div class="fc-placa" onclick="setEventoById('<?php echo $agenda['id']?>')">
                                                                                                <div class="evento-reduzido"><?php echo $agenda['placa'] ?></div>
                                                                                        </div>
                                                                                    <?php endif;?>
                                                                                <?php endforeach;?>

                                                                                <?php if(sizeof($totalrowsM) > 1) : ?>
                                                                                        <div class="todos line" onclick="setEventos(this, <?php echo $_dia ?>)" style="cursor:pointer; padding-left:6px;">Todos</div>               																
                                                                                <?php endif;?>														

                                                                        </div>					
                                                                </div>

                                                                <div class="box_dia-tarde">
                                                                        <span>Tarde</span>
                                                                        <div class="content-eventos">
                                                                                <?php foreach ($rows as $a=>$agenda): ?>
                                                                                    <?php if($agenda['periodo'] == 'tarde') : ?>
                                                                                        <div class="fc-placa" onclick="setEventoById('<?php echo $agenda['id']?>')">
                                                                                                <div class="evento-reduzido"><?php echo $agenda['placa'] ?></div>
                                                                                        </div>
                                                                                    <?php endif;?>
                                                                                <?php endforeach;?>

                                                                                <?php if(sizeof($totalrowsT) > 1) : ?>
                                                                                        <div class="todos line" onclick="setEventos(this, <?php echo $_dia ?>)" style="cursor:pointer; padding-left:6px;">Todos</div>               																
                                                                                <?php endif;?>														

                                                                        </div>					
                                                                </div> 
                                                        </div>
                                                </td>
				
				<?php endfor;?>
				</tr>
				<?php endfor;?>
			</tbody>
		</table>
	</div>
</div>

<script type="text/javascript">


$(document).ready(function() {
		var width = $(".fc-week .fc-first").width();
		var height = width - 15;
		
		$(".fc-week .calendario-dia .box_dia").each(function( index ) {
			$(this).css('height', height);
			var content_evento = $(this).find('.fc-day-content').find('.title-event').height();
			var display = $(this).find('.fc-day-content').find('.title-event').css('display');
			content_evento = parseInt(content_evento) ; 
			
		});
		
    $(window).resize(function() {
		var width = $(".fc-week .fc-first").width();
		var height = width - 15;
		
		$(".fc-week .calendario-dia .box_dia").each(function( index ) {
			$(this).css('height', height);
			var content_evento = $(this).find('.fc-day-content').find('.title-event').height();
			var display = $(this).find('.fc-day-content').find('.title-event').css('display');
			content_evento = parseInt(content_evento) ; 
			
		});
    });

});

</script>