<html lang="pt-BR"> 
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
	<meta name="description" content="">
	<meta name="author" content="">
	<style>
		body { color: #636e7b; font-family: "LatoRegular",Helvetica,sans-serif; }
		h1 { color:#1caf9a; font-size:16px; } 
		.evento h2 { color:#1d2939; font-size:14px; font-weight: bold; }
		.evento h2.tipo { text-transform: uppercase; }
		.evento h2.tipo span { color:#1caf9a;  } 
		.evento p,
		.evento .datas { font-size:12px; }	
		.evento .datas span,
		.evento .usuario span { font-weight: bold; }
		.evento p { font-size:16px; }		
	</style>
  
  
</head>

<body>
<div class="content-multiploseventos">
	<div>
		<div id="dialogContent_<?php echo $this->datareserva ?>" class="box-multiploseventos">																	
			<h1><?php echo date('d/m/Y', $this->dia) ?></h1>
			<?php foreach ($this->rows as $e=>$evento): ?>
			<div class="evento">
				<h2 class="tipo">Destino: <span><?php echo $evento['localdestino'] ?></span></h2>
				<h2><?php echo $evento['placa']?></h2>				
				<div><?php echo $evento['observacao']?></div>
				<p class="status">Status: <span><?php echo $evento['status']?></span></p>
			</div>
			<br />
			<?php endforeach;?>
		</div>
	</div>
</div>	
</body>
</html>




