<html lang="pt-BR">
<head> 
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
	<meta name="description" content="">
	<meta name="author" content="">
	<style>
		body { color: #636e7b; font-family: "LatoRegular",Helvetica,sans-serif; }
		h1 { color:#1caf9a; font-size:16px; } 
		.evento h2 { font-family: 'LatoRegular',Helvetica,sans-serif; margin-bottom: 10px; margin-top: 20px; color: #1d2939; font-size: 14px; font-weight: bold; }
		.evento .descricao { margin-bottom: 10px; line-height: 21px; color: #636e7b; }
		.evento p,
		.evento .datas { font-size:12px; }	
		.evento .datas span { font-weight: bold; }
		.evento p.status { font-size:16px; }
	</style>
  
  
</head>

<body>
<div class="evento">
	<h2><?php echo 'Placa: '.$this->post_var['placa']?></h2>
	<div class="descricao"><?php echo 'Destino: '.$this->post_var['localdestino']?></div>
	<div class="datas">
		<span>Data:</span> <?php echo Mn_Util::formPostVarData($this->post_var['datareserva'])?> <br />
		<span>Período:</span> <?php echo $this->post_var['periodo']; ?> <br />
		<span>Observação:</span> <?php echo $this->post_var['observacao']?> <br />
		<p class="status">Status: <span><?php echo $this->post_var['status']?></span></p>
	</div>
</div>
</body>
</html>