<style type="text/css">
thead, tbody{
  display: block;  
}

tbody{
  overflow-y: scroll;
  height: 300px;
}

.table th,
.table td {
  padding: 5px;
  width:21%;
}
</style>
<!-- Content -->
<div id="content">

  <!-- Content wrapper -->
  <div class="wrapper">

   <!-- Breadcrumbs line -->
   <div class="crumbs">
    <?php echo $this->render('/helpers/breadcrumb.phtml') ?>
  </div>
  <!-- /breadcrumbs line -->

  <!-- Page header -->
  <div class="page-header">
    <div class="page-title">
     <h5>Formulário de subsídio/cidade</h5>
     <span>Informe os dados do subsídio/cidade.</span>
   </div>
 </div>
 <!-- /page header -->

 <?php if (isset($this->crudMessage)) : ?>
   <div class="alert alert-success">
    <button data-dismiss="alert" class="close" type="button">×</button>
    <strong>Operação realizada com sucesso!</strong>
    <span><br /><?php echo $this->crudMessage ?></span>
  </div>                
<?php endif; ?>

<form id="form" name="form" action="" method="post" class="form-horizontal" enctype="multipart/form-data">  

  <input type="hidden" value="<?php echo (isset($this->post_var['id'])) ? $this->post_var["id"] : ''; ?>" name="id" id="id" />

  <div class="control-group">
    <label class="control-label">Cidade </label>
    <div class="controls">
      <input type="text" size="10" placeholder="Cidade" name="cidade" id="cidade" class="span3" value="<?php echo (isset($this->post_var)) ? $this->post_var['cidade'] : "" ?>" <?php if ($this->visualizar) {echo 'disabled="true"';} else {echo 'enabled="true"';} ?> />
    </div>
  </div>

  <div class="control-group">
    <label class="control-label">Valor Fretado </label>
    <div class="controls">
      <input type="text" size="10" placeholder="Valor Fretado" name="valorfretado" id="valorfretado" class="span3" value="<?php echo (isset($this->post_var)) ? $this->post_var['valorfretado'] : "" ?>" <?php if ($this->visualizar) {echo 'disabled="true"';} else {echo 'enabled="true"';} ?> />
    </div>
  </div>

  <div class="control-group">
    <label class="control-label">Subsídio </label>
    <div class="controls">
      <input type="text" size="10" placeholder="Subsídio" name="subsidio" id="subsidio" class="span3" value="<?php echo (isset($this->post_var)) ? $this->post_var['subsidio'] : "" ?>" <?php if ($this->visualizar) {echo 'disabled="true"';} else {echo 'enabled="true"';} ?> />
    </div>
  </div>

  <div class="control-group">
    <label class="control-label">Status <span class="required">*</span></label>
    <div class="controls">
      <select name="status" data-placeholder="Status" class="select" <?php if ($this->visualizar) {echo 'disabled="true"';} else {echo 'enabled="true"';} ?> >
        <option value="">Selecione...</option>
        <option value="Ativo">Ativo</option>
        <option value="Bloqueado">Bloqueado</option>
      </select>
    </div>
  </div>

  <div class="panel-footer">
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3">
        <?php if ((isset($this->visualizar)) && ($this->visualizar)) : ?>
        <button type="button" onclick="window.history.back()" class="btn btn-default">Voltar</button>
        <?php else : ?>
          <button class="btn btn-primary">Salvar</button>&nbsp;
          <button onclick="window.history.back()" class="btn btn-danger cancelar" type="button">Cancelar</button>
        <?php endif;?>
      </div>
    </div>

    <div class="control-group">
      <div class="table-overflow" style="width:700px; height:360px;">
        <table id="log-table" class="table table-content">
          <thead>
            <th>Nome da cidade</th>
            <th>Valor do fretado</th>
            <th>Subsídio</th>
            <th>Usuário</th>
            <th>Data de alteração</th>
          </thead>
          <tbody>
            <?php foreach ((isset($this->post_var['historico'])) ? $this->post_var["historico"] : array() as $historico): ?>
            <tr>
              <td><?= $historico['cidade'] ?></td>
              <td><?= 'R$ '.number_format($historico['valorfretado'],2); ?></td>
              <td><?= $historico['subsidio'].'%'; ?></td>
              <td><?= $historico['nomerazao'] ?></td>
              <?php $data = date_create($historico['logdata']) ?>
              <td><?= date_format($data, 'd-m-Y H:i:s') ?></td>
            </tr>
          <?php endforeach ?>
        </tbody>
      </table>
    </div>
  </div>
</div><!-- panel-footer -->             
<br /><br /><br />
</form>
<!-- /basic inputs -->

</div>
<!-- /content wrapper -->

</div>
<!-- content -->
<script type="text/javascript" src="<?php echo $this->baseUrl('/public/scripts/admin/ltecidades_form.js') ?>"></script>

<script type="text/javascript">
  var form_values = {};

  <?php if (isset($this->post_var['status'])) :  ?>
    form_values.status = '<?php echo $this->post_var['status'] ?>';
  <?php endif; ?>
  
</script>