		<!-- Content -->
		<div id="content">

		    <!-- Content wrapper -->
		    <div class="wrapper">

			    <!-- Breadcrumbs line -->
			    <div class="crumbs">
			    	<?php echo $this->render('/helpers/breadcrumb.phtml') ?>
			    </div>
			    <!-- /breadcrumbs line -->

			    <!-- Page header -->
			    <div class="page-header">
			    	<div class="page-title">
				    	<h5>Formulário do matérial</h5>
				    	<span>Verifique os campos e preencha com os dados</span>
			    	</div>
			    </div>
			    <!-- /page header -->

			    <?php if (isset($this->crudMessage)) : ?>
					<div class="alert alert-success">
	                	<button data-dismiss="alert" class="close" type="button">×</button>
	                    <strong>Operação realizada com sucesso!</strong>
		    			<span><br /><?php echo $this->crudMessage ?></span>
	                </div>			    
			    <?php endif; ?>

				<form id="form" name="form" action="" method="post" class="form-horizontal" enctype="multipart/form-data"> 
					<input type="hidden" value="<?php echo (isset($this->post_var)) ? $this->post_var["id"] : ''; ?>" name="id" id="id" />
					
					<fieldset>
						<!-- General form elements -->
						<div class="widget row-fluid">
						    <div class="navbar">
						        <div class="navbar-inner">
						            <h6>Digite as informações do formulário</h6>
						        </div>
						    </div>

						    <div class="well">
								<?php if (isset($this->erros)) : ?>
									<div class="alert alert-error margin">
				                        <button data-dismiss="alert" class="close" type="button">×</button>
				                        <strong>Há erros no formulário!</strong>
					    				<?php foreach ($this->erros as $k=>$v) : ?>
					    					<span><br />- <?php echo $v ?></span>
					    				<?php endforeach;?>			                        
				                    </div>
			                    <?php endif; ?>						    
						    

				<div class="control-group">
					<div class="controls1 visualizar">
						<table class="table table-content" width="100%">
							<tbody>
								<tr>
									<input type="hidden" value="<?php echo (isset($this->post_var['sequencial'])) ? $this->post_var['sequencial'] : $this->sequencial ?>" name="sequencial" id="sequencial" />
									<input  placeholder="Data de lançamento" name="datalancamento" value="<?php echo (isset($this->post_var['datalancamento'])) ? $this->post_var['datalancamento'] : date('d/m/Y') ?>" type="hidden"  class="span3" />
									<input  placeholder="Hora do lançamento" name="horalancamento" value="<?php echo (isset($this->post_var['horalancamento'])) ? $this->post_var['horalancamento'] : date('G:i:s') ?>" type="hidden"  class="span3" />
									<td width="33%">Sequencial/Ano: <?php echo (isset($this->post_var['sequencial'])) ? $this->post_var['sequencial'] : $this->sequencial ?></td>
									<td width="34%">Data da Abertura: <?php echo date('d/m/Y') ?></td>
									<td width="33%">Hora da Abertura: <?php echo date('G:i:s') ?></td>
								</tr>
							</tbody>
						</table>
						
					</div>
				</div>

				<?php 
					$idfuncionario = Usuarios::getUsuario('idfuncionario');
					$funcionario = Funcionariosgeraisescolas::getFuncionariogeralescolaByIdHelper($idfuncionario);
					if($funcionario['iddepartamento'] > 0) {
						$departamento = Departamentossecretarias::getDepartamentosecretariaByIdHelper($funcionario['iddepartamento']);

						$coordenacao = $departamento['departamento'] == "Coordenação";
					} else {
						$coordenacao = false;
					}
				?>

				<?php if(!$coordenacao) : ?>

				<div class="control-group">
					<label class="control-label">Nome do Usuário</label>
					<div class="controls visualizar">
						<input  placeholder="Nome do Usuário" name="idprofessor" value="<?php echo (isset($this->post_var['idprofessor'])) ? $this->post_var['idprofessor'] : Usuarios::getUsuario('id') ?>" type="hidden"  class="span3" />
						<?php echo Usuarios::getUsuario('nomerazao') ?> <?php echo Usuarios::getUsuario('sobrenomefantasia') ?><br/>
						RGF: <?php echo Usuarios::getUsuario('rgf') ?>
						<?php
							

							if($idfuncionario) {
								$funcionario = Funcionariosgeraisescolas::getFuncionariogeralescolaByIdHelper($idfuncionario);
								$idcargo = $funcionario['idcargo'];
								$idlocal = $funcionario['idlocal'];

								$professor = $funcionario['professor'] == 'sim';

								if($idcargo) {
									$cargo = Cargos::getCargoByIdHelper($idcargo);

									echo "<br>CARGO: " . $cargo['cargo'];
								}

								if($idlocal) {
									$local = Locais::getLocalByIdHelper($idlocal);

									echo "<br>LOCAL: " . $local['titulo'];
								}
							} else {
								$professor = true;
							}
						?>
					</div>
				</div>

				<?php /* ?>
				<div class="control-group">
					<label class="control-label">Professor <span class="required">*</span></label>
					<div class="controls">
		                <select name="idprofessor" data-placeholder="Professor" class="select">
							<option value="">Selecione...</option>
							<?php foreach (Escolasusuarios::getEscolasusuariosHelper(array('status'=>'Ativo')) as $k=>$v) : ?>
							<option value="<?php echo $v['id'] ?>"><?php echo $v['nomerazao'] ?></option>
							<?php endforeach;?>
						</select>
						
					</div>
				</div>
				<?php */ ?>


				<div class="control-group">
					<label class="control-label">Série </label>
					<div class="controls">
		                <select name="idescolavinculo" data-placeholder="Série" class="select" onchange="setMaterias(this, 0)">
							<option value="">Selecione...</option>
							<?php 
								$queries = array();
								$queries['idescola'] = Usuarios::getUsuario('idescola'); 

								if((int)$queries['idescola'] > 0){
									$escolasvinculosprofessoresmaterias = Escolasvinculosprofessoresmaterias::getIdsEscolasvinculosprofessorByIdHelper(Usuarios::getUsuario('idfuncionario'));

									if((isset($escolasvinculosprofessoresmaterias)) && ($escolasvinculosprofessoresmaterias) && ($escolasvinculosprofessoresmaterias!="")){
										$queries['ids']	= $escolasvinculosprofessoresmaterias;
									}
												
								}
							 ?>
							<?php foreach (Escolasvinculos::getEscolasvinculosHelper($queries) as $k=>$v) : ?>
							<option value="<?php echo $v['id'] ?>">
								<?php
									$___rows = Escolasseries::getEscolasseriesHelper(array('id'=>$v['idserie']));
									$___row = (sizeof($___rows)>0) ? 	$___rows[0] : false;	
									
									echo ($___row) ? $this->formatTextoBranco($___row['serie'] . ' ' . $v['turma']) : '--';		
								?>
							</option>
							<?php endforeach;?>
						</select>
						
					</div>
				</div>

<?php /*
				<div class="control-group">
					<label class="control-label">Materias </label>
					<div class="controls">
		                <select name="idmateria" data-placeholder="Materias" class="select">
							<option value="">Selecione uma série...</option>
							
						</select>
						
					</div>
				</div>
*/ ?>
				<div class="control-group">
					<label class="control-label">Matéria <span class="required">*</span></label>
					<div class="controls"><input maxlength="500" placeholder="Matéria" name="materia" value="<?php echo (isset($this->post_var['materia'])) ? $this->post_var['materia'] : '' ?>" type="text"  class="span3" /></div>
				</div>

				<div class="control-group">
					<label class="control-label">Descrições </label>
					<div class="controls"><textarea class="span12" name="descricoes" cols="5" rows="5"><?php echo (isset($this->post_var)) ? $this->post_var["descricoes"] : ''; ?></textarea></div>
				</div>


				<div class="control-group">
					<label class="control-label">Anexo de arquivo </label>
					<div class="controls">
						<?php if ((isset($this->post_var['idarquivo'])) && ((int)$this->post_var['idarquivo']>0)) : ?>
							<?php echo $this->getArquivo($this->post_var['idarquivo']) ?>
						
							<?php if (!$this->visualizar) : ?>
								<div class="checkbox block">
									<label><input type="checkbox" name="excluir_idarquivo" value="excluir" /> Desejo excluir o arquivo</label>
								</div>
							<?php endif; ?>
						<?php endif; ?>
						
						<input placeholder="Anexo de arquivo" name="idarquivo" type="file"  />
					</div>
				</div>	

				<div class="control-group">
					<label class="control-label">Status <span class="required">*</span></label>
					<div class="controls">
						<select name="status1" data-placeholder="Status" class="select">
							<option value="">Selecione...</option>
							<option value="Ativo">Ativo</option><option value="Bloqueado">Bloqueado</option>
						</select>
						
					</div>
				</div>

				<?php endif; ?>

				<?php if(isset($funcionario) && $funcionario['professor']=="Sim"): ?>
				<?php else: ?>
				<div class="control-group">
					<label class="control-label">Aprovado pela coordenação </label>
					<div class="controls">
						<select <?=($professor)?"disabled":""?> name="confirmacaocoordenacao" data-placeholder="Coordenação" class="select">
							<option value="">Selecione...</option>
							<option value="Sim">Sim</option><option value="Não">Não</option>
						</select>
					</div>
				</div>
				<?php endif; ?>				    
						    
						    </div>
						    
			                <div class="form-actions align-right">
			                	<?php if ((isset($this->visualizar)) && ($this->visualizar)) : ?>
			                		<button onclick="window.history.back()" class="btn btn-danger cancelar" type="button">Voltar</button>
			                	<?php else : ?>
				                	<button class="btn btn-primary enviar" type="submit">Salvar</button>
				                	<button onclick="window.history.back()" class="btn btn-danger cancelar" type="button">Cancelar</button>
			                	<?php endif; ?>
			                </div>
						</div>
						<!-- /general form elements -->

					</fieldset> 

				</form>
				<!-- /basic inputs -->

		    </div>
		    <!-- /content wrapper -->

		</div>
		<!-- content -->
				
<script type="text/javascript" src="<?php echo $this->baseUrl('/public/scripts/admin/professoresanexosmateriais_form.js') ?>"></script>
<script type="text/javascript">
	var form_values = {};
	
	<?php if (isset($this->post_var)) :  ?>
		form_values.idprofessor = '<?php echo (isset($this->post_var['idprofessor'])) ? $this->post_var['idprofessor'] : '' ?>';
		form_values.idescolavinculo = '<?php echo (isset($this->post_var['idescolavinculo'])) ? $this->post_var['idescolavinculo'] : '' ?>';
form_values.idmateria = '<?php echo (isset($this->post_var['idmateria'])) ? $this->post_var['idmateria'] : '' ?>';

form_values.confirmacaocoordenacao = '<?php echo (isset($this->post_var['confirmacaocoordenacao'])) ? $this->post_var['confirmacaocoordenacao'] : '' ?>';

form_values.status1 = '<?php echo (isset($this->post_var['status1'])) ? $this->post_var['status1'] : $this->post_var['status'] ?>';


	<?php endif; ?>

	visualizar = <?php echo  ((isset($this->visualizar)) && ($this->visualizar))  ? 'true' : 'false' ?>;

	<?php if(isset($funcionario) && $funcionario['professor']=="Sim") :  ?>
		var idprofessor = '<?php echo $funcionario['id'] ?>';
	<?php endif; ?>
</script>
