		<!-- Content -->
		<div id="content">

		    <!-- Content wrapper -->
		    <div class="wrapper">

			    <!-- Breadcrumbs line -->
			    <div class="crumbs">
			    	<?php echo $this->render('/helpers/breadcrumb.phtml') ?>
			    </div>
			    <!-- /breadcrumbs line -->

			    <!-- Page header -->
			    <div class="page-header">
			    	<div class="page-title">
				    	<h5>Reserva de Veículos</h5>
				    	<span>Verifique os campos e preencha com os dados</span>
			    	</div>
			    </div>
			    <!-- /page header -->

			    <?php if (isset($this->crudMessage)) : ?>
					<div class="alert alert-success">
	                	<button data-dismiss="alert" class="close" type="button">×</button>
	                    <strong>Operação realizada com sucesso!</strong>
		    			<span><br /><?php echo $this->crudMessage ?></span>
	                </div>			    
			    <?php endif; ?>

				<form id="form" name="form" action="" method="post" class="form-horizontal" enctype="multipart/form-data"> 
					<input type="hidden" value="<?php echo (isset($this->post_var)) ? $this->post_var["id"] : ''; ?>" name="id" id="id" />
					
					<fieldset>
						<!-- General form elements -->
						<div class="widget row-fluid">
						    <div class="navbar">
						        <div class="navbar-inner">
						            <h6>Digite as informações do formulário</h6>
						        </div>
						    </div>

						    <div class="well">
								<?php if (isset($this->erros)) : ?>
									<div class="alert alert-error margin">
				                        <button data-dismiss="alert" class="close" type="button">×</button>
				                        <strong>Há erros no formulário!</strong>
					    				<?php foreach ($this->erros as $k=>$v) : ?>
					    					<span><br />- <?php echo $v ?></span>
					    				<?php endforeach;?>			                        
				                    </div>
			                    <?php endif; ?>		

				<?php $idescola = Usuarios::getUsuario('idescola'); ?>
				<?php $idlocal = Usuarios::getUsuario('idlocal'); ?>
				<?php if(($idescola>0) || ($idlocal>0)): ?>		    
				<div class="control-group">
					<div class="controls1 visualizar">
						<table class="table table-content" width="100%">
							<tbody>
								<tr>
									<input maxlength="500" placeholder="Nome do Usuário" name="idusuario" value="<?php echo Usuarios::getUsuario('id') ?>" type="hidden"  class="span3" />
									 
									<td width="33%">Nome do Usuário: <?php echo Usuarios::getUsuario('nomerazao') . " - " . Usuarios::getUsuario('rgf') ?></td>
									<td width="34%">Data da Abertura: <?php echo date('d/m/Y') ?></td>
									<td width="33%">Escola: <?php 
											$local = Escolas::getEscolaByIdHelper(Usuarios::getUsuario('idescola')); 
											echo ((isset($local['escola'])) && ($local['escola']) && ($local['escola']!="") ) ? $local['escola'] : '';
										?>
											
									</td>
								</tr>
							</tbody>
						</table>
						
					</div>
				</div>
				<?php else: ?>
				<div class="control-group">
					<div class="controls1 visualizar">
						<table class="table table-content" width="100%">
							<tbody>
								<tr>
                                                                        
									<input maxlength="500" placeholder="Nome do Usuário" name="idusuario" value="<?php echo Usuarios::getUsuario('id') ?>" type="hidden"  class="span3" />
									<input placeholder="Data de lançamento" name="datalancamento" value="<?php echo (isset($this->post_var['datalancamento'])) ? Mn_Util::formPostVarData($this->post_var['datalancamento']) : date('d/m/Y') ?>" type="hidden"  class="span3" />
									<input type="hidden" value="<?php echo (isset($this->post_var['sequencial'])) ? $this->post_var['sequencial'] : $this->sequencial ?>" name="sequencial" id="sequencial" />
                                                                        <td width="33%">Sequencial/Ano: <?php echo (isset($this->post_var['sequencial'])) ? $this->post_var['sequencial'] : $this->sequencial ?></td>
									<td width="50%">Nome do Usuário: <?php echo Usuarios::getUsuario('nomerazao') . " - " . Usuarios::getUsuario('rgf') ?></td>
									
								</tr>
							</tbody>
						</table>
						
					</div>
				</div>
				<?php endif; ?>
					 
			 

				<div class="control-group">
					<label class="control-label">Veículo <span class="required">*</span></label>
					<div class="controls">
                                                <select name="idveiculo" class="select" onclick="setDadosVeiculo(this, false)">
							<option value="">Selecione...</option>
							<?php foreach (Logisticafrotas::getLogisticafrotasHelper(array('status'=>'Ativo', 'veiculodisponiveldepartamento' => 'sim')) as $k=>$v) : ?>
							<option value="<?php echo $v['id'] ?>"><?php echo $v['placa'] ?></option>
							<?php endforeach;?>
						</select> 
					</div>
					<div id="dados-veiculo"></div>
				</div>

                                <div class="control-group">
					<label class="control-label">Periodo </label>
					<div class="controls">						
						<input type="radio" id="manha" name="periodo" value="manha" <?php echo ($this->post_var['periodo'] == 'manha') ? 'checked' : '' ?> />
						<label style="display: inline-block;" for="manha">Manhã</label>
						&nbsp;&nbsp;
						<input type="radio" id="tarde" name="periodo" value="tarde" <?php echo ($this->post_var['periodo'] == 'tarde') ? 'checked' : '' ?> />
						<label style="display: inline-block;" for="tarde">Tarde</label>
						&nbsp;&nbsp;
						<input type="radio" id="integral" name="periodo" value="integral" <?php echo ($this->post_var['periodo'] == 'integral') ? 'checked' : '' ?> />
						<label style="display: inline-block;" for="integral">Integral</label>
					</div>
				</div>

				<div class="control-group">
					<label class="control-label">Data Reserva</label>
					<div class="controls">
						<input placeholder="Data Reserva" name="datareserva" value="<?php echo (isset($this->post_var['datareserva'])) ? Mn_Util::formPostVarData($this->post_var['datareserva']) : '' ?>" type="text"  class="span3" />
					</div>
				</div>

				<div class="control-group">
					<label class="control-label">Observação </label>
					<div class="controls"><textarea class="span12" name="observacao" cols="5" rows="5"><?php echo (isset($this->post_var)) ? $this->post_var["observacao"] : ''; ?></textarea></div>
				</div>

				<div class="control-group">
					<label class="control-label">Local de Destino <span class="required">*</span></label>
					<div class="controls">
						<input maxlength="150" placeholder="Local de Destino" name="localdestino" value="<?php echo (isset($this->post_var['localdestino'])) ? $this->post_var['localdestino'] : '' ?>" type="text"  class="span3" />
					</div>
				</div> 
<?php /*
				<div class="control-group">
					<label class="control-label">Solicitar Reserva </label>
					<div class="controls">						
						<input type="radio" id="solicitarreserva" name="solicitarreserva" value="sim" <?php echo ($this->post_var['solicitarreserva'] == 'sim') ? 'checked' : '' ?> />
						<label style="display: inline-block;" for="solicitarreserva">Sim</label>
						&nbsp;&nbsp; 
						<input type="radio" id="solicitarreserva" name="solicitarreserva" value="nao" <?php echo ($this->post_var['solicitarreserva'] == 'nao') ? 'checked' : '' ?> />
						<label style="display: inline-block;" for="solicitarreserva">Não</label>
						&nbsp;&nbsp; 
					</div>
				</div>
 
				<div class="control-group">
					<label class="control-label">Status <span class="required">*</span></label>
					<div class="controls">
						<select name="status1" data-placeholder="Status" class="select">
							<option value="">Selecione...</option>
							<option value="aguardando">Aguardando o Aceite</option>
							<option value="aceito">Aceito</option>
							<option value="naoaceito">Não Aceito</option> 
						</select>
						
					</div>
				</div>
*/ ?>
						    
						    
						    </div>
						    
			                <div class="form-actions align-right">
			                	<?php if ((isset($this->visualizar)) && ($this->visualizar)) : ?>
			                		<button onclick="window.history.back()" class="btn btn-danger cancelar" type="button">Voltar</button>
			                	<?php else : ?>
				                	<button class="btn btn-primary enviar" type="submit">Salvar</button>
				                	<button onclick="window.history.back()" class="btn btn-danger cancelar" type="button">Cancelar</button>
			                	<?php endif; ?>
			                </div>
						</div>
						<!-- /general form elements -->

					</fieldset> 

				</form>
				<!-- /basic inputs -->

		    </div>
		    <!-- /content wrapper -->
 
		</div>
		<!-- content -->

<script type="text/javascript" src="<?php echo $this->baseUrl('/public/scripts/admin/reservasveiculos_form.js') ?>"></script>
<script type="text/javascript">
	var form_values = {};
	
	<?php if (isset($this->post_var)) :  ?>
		form_values.idveiculo = '<?php echo (isset($this->post_var['idveiculo'])) ? $this->post_var['idveiculo'] : '' ?>';
		form_values.datareserva = '<?php echo (isset($this->post_var['datareserva'])) ? $this->post_var['datareserva'] : '' ?>';
		form_values.idfuncionario = '<?php echo (isset($this->post_var['idfuncionario'])) ? $this->post_var['idfuncionario'] : '' ?>';
                form_values.status1 = '<?php echo (isset($this->post_var['status1'])) ? $this->post_var['status1'] : $this->post_var['status'] ?>';


	<?php endif; ?>

	visualizar = <?php echo  ((isset($this->visualizar)) && ($this->visualizar))  ? 'true' : 'false' ?>;
</script>
