		<!-- Content -->
		<div id="content">

		    <!-- Content wrapper -->
		    <div class="wrapper">

			    <!-- Breadcrumbs line -->
			    <div class="crumbs">
			    	<?php echo $this->render('/helpers/breadcrumb.phtml') ?>
			    </div>
			    <!-- /breadcrumbs line -->

			    <!-- Page header -->
			    <div class="page-header">
			    	<div class="page-title">
				    	<h5>Formulário do contato</h5>
				    	<span>Verifique os campos e preencha com os dados</span>
			    	</div>
			    </div>
			    <!-- /page header -->

			    <?php if (isset($this->crudMessage)) : ?>
					<div class="alert alert-success">
	                	<button data-dismiss="alert" class="close" type="button">×</button>
	                    <strong>Operação realizada com sucesso!</strong>
		    			<span><br /><?php echo $this->crudMessage ?></span>
	                </div>			    
			    <?php endif; ?>

				<form id="form" name="form" action="" method="post" class="form-horizontal" enctype="multipart/form-data"> 
					<input type="hidden" value="<?php echo (isset($this->post_var)) ? $this->post_var["id"] : ''; ?>" name="id" id="id" />
					
					<fieldset>
						<!-- General form elements -->
						<div class="widget row-fluid">
						    <div class="navbar">
						        <div class="navbar-inner">
						            <h6>Digite as informações do formulário</h6>
						        </div>
						    </div>

						    <div class="well">
								<?php if (isset($this->erros)) : ?>
									<div class="alert alert-error margin">
				                        <button data-dismiss="alert" class="close" type="button">×</button>
				                        <strong>Há erros no formulário!</strong>
					    				<?php foreach ($this->erros as $k=>$v) : ?>
					    					<span><br />- <?php echo $v ?></span>
					    				<?php endforeach;?>			                        
				                    </div>
			                    <?php endif; ?>						    
						    
				<div class="control-group">
					<label class="control-label">É Funcionário ?<span class="required">*</span></label>
					<div class="controls">						
						<select name="funcionario" data-placeholder="É Funcionário ?" class="select" onchange="setFuncionario(this)">
							<option value="">Selecione...</option>
							<option value="Sim">Sim</option><option value="Não">Não</option>
						</select>

					</div>
				</div>

				<div class="box-usuarios">
					<div class="control-group">
						<label class="control-label">Departamento da Secretaria </label>
						<div class="controls">
			                <select name="iddepartamento" data-placeholder="Departamento da Secretaria" class="select" onchange="setUsuario(this, 0)">
								<option value="">Selecione...</option>
								<?php foreach (Departamentossecretarias::getDepartamentossecretariasHelper(array('status'=>'Ativo')) as $k=>$v) : ?>
								<option value="<?php echo $v['id'] ?>"><?php echo $v['departamento'] ?></option>
								<?php endforeach;?>
							</select>
							
						</div>
					</div>

					<div class="control-group">
						<label class="control-label">Funcionário </label>
						<div class="controls">
			                <select name="idusuario" data-placeholder="Funcionário" class="select">
								<option value="">Selecione...</option>
							</select>
							
						</div>
					</div>
				</div>

				<div class="box-semnome">
					<div class="control-group">
						<label class="control-label">Nome <span class="required">*</span></label>
						<div class="controls"><input maxlength="500" placeholder="Nome" name="nomerazao" value="<?php echo (isset($this->post_var['nomerazao'])) ? $this->post_var['nomerazao'] : '' ?>" type="text"  class="span3" /></div>
					</div>


					<div class="control-group">
						<label class="control-label">Sobrenome <span class="required">*</span></label>
						<div class="controls"><input maxlength="500" placeholder="Sobrenome" name="sobrenomefantasia" value="<?php echo (isset($this->post_var['sobrenomefantasia'])) ? $this->post_var['sobrenomefantasia'] : '' ?>" type="text"  class="span3" /></div>
					</div>
				</div>

				<div class="control-group">
					<label class="control-label">Telefone <span class="required">*</span></label>
					<div class="controls"><input maxlength="50" placeholder="Telefone" name="telefone" value="<?php echo (isset($this->post_var['telefone'])) ? $this->post_var['telefone'] : '' ?>" type="text"  class="span3" /></div>
				</div>

				<div class="control-group">
					<label class="control-label">Celular</label>
					<div class="controls"><input maxlength="50" placeholder="Celular" name="celular" value="<?php echo (isset($this->post_var['celular'])) ? $this->post_var['celular'] : '' ?>" type="text"  class="span3" /></div>
				</div>

						    
						    
						    </div>
						    
			                <div class="form-actions align-right">
			                	<?php if ((isset($this->visualizar)) && ($this->visualizar)) : ?>
			                		<button onclick="window.history.back()" class="btn btn-danger cancelar" type="button">Voltar</button>
			                	<?php else : ?>
				                	<button class="btn btn-primary enviar" type="submit">Salvar</button>
				                	<button onclick="window.history.back()" class="btn btn-danger cancelar" type="button">Cancelar</button>
			                	<?php endif; ?>
			                </div>
						</div>
						<!-- /general form elements -->

					</fieldset> 

				</form>
				<!-- /basic inputs -->

		    </div>
		    <!-- /content wrapper -->

		</div>
		<!-- content -->
				
<script type="text/javascript" src="<?php echo $this->baseUrl('/public/scripts/admin/agendafuncionariosexternos_form.js') ?>"></script>
<script type="text/javascript">
	var form_values = {};

	<?php if (isset($this->post_var)) :  ?>
		form_values.status1 = '<?php echo (isset($this->post_var['status1'])) ? $this->post_var['status1'] : $this->post_var['status'] ?>';


	<?php endif; ?>
	
	<?php if (isset($this->post_var)) :  ?>
		form_values.iddepartamento = '<?php echo (isset($this->post_var['iddepartamento'])) ? $this->post_var['iddepartamento'] : '' ?>';
	<?php endif; ?>

	<?php if (isset($this->post_var['idusuario'])) :  ?>
		form_values.idusuario = '<?php echo (isset($this->post_var['idusuario'])) ? $this->post_var['idusuario'] : '' ?>';
	<?php endif; ?>

	<?php if (isset($this->post_var['funcionario'])) :  ?>
		form_values.funcionario = '<?php echo (isset($this->post_var['funcionario'])) ? $this->post_var['funcionario'] : '' ?>';
	<?php endif; ?>
	visualizar = <?php echo  ((isset($this->visualizar)) && ($this->visualizar))  ? 'true' : 'false' ?>;
</script>
