		<!-- Content -->
		<div id="content">

		    <!-- Content wrapper -->
		    <div class="wrapper">

			    <!-- Breadcrumbs line -->
			    <div class="crumbs">
			    	<?php echo $this->render('/helpers/breadcrumb.phtml') ?>
			    </div>
			    <!-- /breadcrumbs line -->

			    <!-- Page header -->
			    <div class="page-header">
			    	<div class="page-title">
				    	<h5>Formulário da Atribuição</h5>
				    	<span>Formulário da Atribuição</span>
			    	</div>
			    </div>
			    <!-- /page header -->

			    <?php if (isset($this->crudMessage)) : ?>
					<div class="alert alert-success">
	                	<button data-dismiss="alert" class="close" type="button">×</button>
	                    <strong>Operação realizada com sucesso!</strong>
		    			<span><br /><?php echo $this->crudMessage ?></span>
	                </div>			    
			    <?php endif; ?>

				<form id="form" name="form" action="" method="post" class="form-horizontal" enctype="multipart/form-data"> 
					<input type="hidden" value="<?php echo (isset($this->post_var)) ? $this->post_var["id"] : ''; ?>" name="id" id="id" />
					
					<fieldset>
						<!-- General form elements -->
						<div class="widget row-fluid">
						    <div class="navbar">
						        <div class="navbar-inner">
						            <h6>Digite as informações do formulário</h6>
						        </div>
						    </div>

						    <div class="well">
								<?php if (isset($this->erros)) : ?>
									<div class="alert alert-error margin">
				                        <button data-dismiss="alert" class="close" type="button">×</button>
				                        <strong>Há erros no formulário!</strong>
					    				<?php foreach ($this->erros as $k=>$v) : ?>
					    					<span><br />- <?php echo $v ?></span>
					    				<?php endforeach;?>			                        
				                    </div>
			                    <?php endif; ?>						    


				<div class="control-group">
					<label class="control-label">Série <span class="required">*</span></label>
					<div class="controls">

	                            <select id="idserie" name="idserie" class="select" onchange="setVinculos(this, 0, 0)">
			                        <?php if (sizeof($this->series)==0) : ?>
								<option value="">Selecione...</option>
								<option value="">Nenhums série foi encontrada para essa escola</option>
								<?php else : ?>
								<option value="">Selecione...</option>
								<?php foreach ($this->series as $row) : ?>
								<option value="<?php echo $row['id'] ?>"><?php echo $row['serie'] ?></option>
								<?php endforeach; ?>
								<?php endif; ?>
		                        
		                        </select>   
					</div>
				</div>


				<div class="control-group">
					<label class="control-label">Período</span></label>
					<div class="controls">

	                            <select id="idperiodo" name="idperiodo" class="select" onchange="resetVinculo()">
			                        <option value="">Todos</option>
		                        </select>   
					</div>
				</div>


				<div class="control-group">
					
					<div class="controls1">
<div class="att-left">
									<p><b>Alunos</b></p>
									<?php /* ?>
									<div>
			                            <select id="classificacao" name="classificacao" class="form-control" onchange="setClassificacao(this)">
					                        <option value="">Todos</option>
				                        </select> 
									</div>
									<?php */ ?>
									<div style="padding: 4px 0 0 0">
										Nome: <input name="alunocomplete" value="" type="text" class="form-control" placeholder=" ">
									</div>
									<div class="box-alunos"></div>
								</div>
								
                           		<div class="att-right">
									<p><b>Salas</b></p>
									<div class="box-salas">
									
									</div>
								</div>
					</div>
				</div>



				<div class="control-group">
					<label class="control-label">Status <span class="required">*</span></label>
					<div class="controls">
						<select name="status1" data-placeholder="Status" class="select">
							<option value="">Selecione...</option>
							<option value="Ativo">Ativo</option><option value="Bloqueado">Bloqueado</option>
						</select>
						
					</div>
				</div>

						    
						    
						    </div>
						    
			                <div class="form-actions align-right">
			                	<?php if ((isset($this->visualizar)) && ($this->visualizar)) : ?>
			                		<button onclick="window.history.back()" class="btn btn-danger cancelar" type="button">Voltar</button>
			                	<?php else : ?>
				                	<button class="btn btn-primary enviar" type="submit">Salvar</button>
				                	<button onclick="window.history.back()" class="btn btn-danger cancelar" type="button">Cancelar</button>
			                	<?php endif; ?>
			                </div>
						</div>
						<!-- /general form elements -->

					</fieldset> 

				</form>
				<!-- /basic inputs -->

		    </div>
		    <!-- /content wrapper -->

		</div>
		<!-- content -->















<script src="<?php echo $this->baseUrl() ?>/public/scripts/ui.dragdrop.js"></script>
<script type="text/javascript" src="<?php echo $this->baseUrl('/public/scripts/default/salasalunos_form.js') ?>"></script>

<script type="text/javascript">
	var form_values = {};
	<?php if (isset($this->post_var['status'])) :  ?>
	form_values.status1 = '<?php echo (isset($this->post_var['status'])) ? $this->post_var['status'] : $this->post_var['status'] ?>';
	<?php endif; ?>
            
	<?php if (isset($this->post_var['idescola'])) : ?>
	form_values.idescola = '<?php echo $this->post_var['idescola'] ?>';
	<?php endif; ?>   

	<?php if (isset($this->post_var['idserie'])) : ?>
	form_values.idserie = '<?php echo $this->post_var['idserie'] ?>';
	<?php endif; ?>   

	<?php if (isset($this->post_var['idperiodo'])) : ?>
	form_values.idperiodo = '<?php echo $this->post_var['idperiodo'] ?>';
	<?php endif; ?>
</script>

