<?php if (sizeof($this->rows)==0) : ?>
<?php if((int)$this->idserie <= 0): ?>
<div>Selecione uma série</div>
<?php else: ?>
<div>Nenhums aluno foi encontrado para essa escola</div>
<?php endif;?>
<?php else : ?>
<div>
<?php $aluno = false;?>

<?php foreach ($this->rows as $row) : ?>
	<?php $chave = false;?>
	<?php $key = array_search($row['id'], $this->notids); ?>
	<?php if ((isset($key)) && ($key)): ?>
		<?php $chave = true;?>
	<?php elseif ((isset($key)) && (trim($key)!="")):?>
		<?php $chave = true;?>
	<?php endif;?>
	<?php //var_dump($this->notids); ?>
	<?php //var_dump(trim($key)); ?>
	
	<?php if((int)$this->idescolasalasaluno > 0) : ?>
		<?php $aluno = Escolassalasatribuicoes::getSalaatribuicaoByIdAlunoHelper($row['id']); ?>
	<?php endif;?>
	<?php $classificacao = Escolasalunosclassificacoes::getClassificacaoByIdHelper($row['idclassificacao'])?>
	<div class="linha-draggable aluno_<?php echo $row['id'] ?> <?php echo (($aluno) || ($chave)) ? 'off' : 'on' ?>" style="<?php //echo (isset($classificacao['cor'])) ? 'background-color:' . $classificacao['cor'] : '' ?>">
		<input type="hidden" name="idaluno" class="form-control" value="<?php echo $row['id'] ?>" />
		<input type="hidden" name="nome" class="form-control" value="<?php echo $row['nomerazao'] . ' ' . $row['sobrenomefantasia'] ?>" />
		<input type="hidden" name="classificacaoaluno" class="form-control" value="<?php echo $classificacao['classificacao'] ?>" />
		<input type="hidden" name="coraluno" class="form-control" value="<?php echo (isset($classificacao['cor'])) ? $classificacao['cor'] : '' ?>" />
		<?php echo $row['nomerazao'] . ' ' . $row['sobrenomefantasia'] ?> 
		
	</div>

<?php endforeach; ?>
</div>
<?php endif; ?>

<script type="text/javascript">
jQuery(document).ready(function() {
	$(".linha-draggable").draggable(
			{
			cursor: 'pointer', 
			helper: 'clone', 
			opacity: 0.75,
			create: function () {
		        var eq = $(this).index();
		        $(this).attr('data-index', eq);
		    }});
    
		$(".content-alunos").droppable(
			{
	      	drop: function(event, ui) { 
	      		
		      	$idaluno = ui.draggable.find("input[name=idaluno]").attr("value");
		      	$nomeFrom = ui.draggable.find("input[name=nome]").attr("value");
				$classificacaoaluno = ui.draggable.find("input[name=classificacaoaluno]").attr("value");
				$coraluno = ui.draggable.find("input[name=coraluno]").attr("value");
		      	$idsala = $(this).find(".idsalavinculo").val();
				$idperiodo = $(this).find(".idperiodovinculo").val();
				$idvinculo = $(this).find(".idvinculo").val();
				$qtdatual = $(this).find(".qtdatual").val();
				$qtdtotal = $(this).find(".qtdtotal").val();
				
				$qtdatual = parseInt($qtdatual) + 1;
				$qtdtotal = parseInt($qtdtotal);
				var backgroudlinha = '';
				if($coraluno != ''){
					backgroudlinha = 'style="background-color:' + $coraluno + '"';
				}
		      	
				var path = $(this);
				$.post(baseUrl + '/default/escolassalasalunos/verificadisponibilidade/', {idvinculo:$idvinculo, idsala:$idsala, idperiodo:$idperiodo}, function(data) {
					
					if($qtdatual > $qtdtotal){						
						data = 'A Sala já atingiu a sua capacidade MÁXIMA ('+$qtdtotal+')';
					}
					
					var cor_turma = path.find('.cor_turma').val();	
					//console.log('cor_turma: ' + cor_turma);
					if(cor_turma != ''){
						backgroudlinha = 'style="background-color:' + cor_turma + '"';
					}
					if(backgroudlinha=='style="background-color:undefined"') {backgroudlinha='style="background-color:#000000;"';}
					backgroudlinha = 'style="color:#000;"';
					if(data=="disponivel"){
						var d_html = '<div class="linha" '+backgroudlinha+'><div class="fechar"><a href="javascript:;" title="" onclick="ExcluirAluno(this, '+$idaluno+', \'add\')"><img src="<?php echo $this->baseUrl()?>/public/admin/imagens/fugue/cross-circle.png" alt="" width="16" /></a></div><input type="hidden" name="idsvinculos[]" class="form-control" value="'+$idvinculo+'" /><input type="hidden" name="idssalas[]" class="form-control" value="'+$idsala+'" /><input type="hidden" name="idsperiodos[]" class="form-control" value="'+$idperiodo+'" /><input type="hidden" name="idsalunos[]" class="form-control" value="'+$idaluno+'" />'+$nomeFrom+' </div><br class="clear" clear="all" />';
						path.find('br.clear').remove();
						path.append(d_html);
						var item =  $('.aluno_' + $idaluno);
						
						path.find(".qtdatual").val($qtdatual);
						
						item.removeClass("on");
						item.addClass("off");
					}else{
						jAlert(data, "CAPACIDADE MÁXIMA ATINGIDA!");
					}

				});
				
		    }

	    });		
});
</script>
