		<!-- Content -->
		<div id="content">

		    <!-- Content wrapper -->
		    <div class="wrapper">

			    <!-- Breadcrumbs line -->
			    <div class="crumbs">
			    	<?php echo $this->render('/helpers/breadcrumb.phtml') ?>
			    </div>
			    <!-- /breadcrumbs line -->

			    <!-- Page header -->
			    <div class="page-header">
			    	<div class="page-title">
				    	<h5>Formulário do Histórico de controle de visita</h5>
				    	<span>Verifique os campos</span>
			    	</div>
			    </div>
			    <!-- /page header -->

			    <?php if (isset($this->crudMessage)) : ?>
					<div class="alert alert-success">
	                	<button data-dismiss="alert" class="close" type="button">×</button>
	                    <strong>Operação realizada com sucesso!</strong>
		    			<span><br /><?php echo $this->crudMessage ?></span>
	                </div>			    
			    <?php endif; ?>

				<form id="form" name="form" action="" method="post" class="form-horizontal" enctype="multipart/form-data"> 
					<input type="hidden" value="<?php echo (isset($this->post_var)) ? $this->post_var["id"] : ''; ?>" name="id" id="id" />
					
					<fieldset>
						<!-- General form elements -->
						<div class="widget row-fluid">
						    <div class="navbar">
						        <div class="navbar-inner">
						            <h6>Digite as informações do formulário</h6>
						        </div>
						    </div>

						    <div class="well">
								<?php if (isset($this->erros)) : ?>
									<div class="alert alert-error margin">
				                        <button data-dismiss="alert" class="close" type="button">×</button>
				                        <strong>Há erros no formulário!</strong>
					    				<?php foreach ($this->erros as $k=>$v) : ?>
					    					<span><br />- <?php echo $v ?></span>
					    				<?php endforeach;?>			                        
				                    </div>
			                    <?php endif; ?>						    
						    
				<div class="control-group">
					<div class="controls1 visualizar">
						<table class="table table-content" width="100%">
							<tbody>
								<tr>
									<input placeholder="Data de Entrada" name="dataentrada" value="<?php echo (isset($this->post_var['dataentrada'])) ? Mn_Util::formPostVarData($this->post_var['dataentrada']) : date('d/m/Y') ?>" type="hidden"  class="span3" />
									<input  placeholder="Hora de Entrada" name="horaentrada" value="<?php echo (isset($this->post_var['horaentrada'])) ? $this->post_var['horaentrada'] : date('G:i:s') ?>" type="hidden"  class="span3" />
									
									<td width="50%">Data de Entrada: <?php echo date('d/m/Y') ?></td>
									<td width="50%">Hora de Entrada : <?php echo date('G:i') ?></td>
								</tr>
							</tbody>
						</table>
						
					</div>
				</div>

<?php if($this->getAction()=="adicionar"):  ?>
				<div class="control-group">
					<label class="control-label">Tipo do Visitante <span class="required">*</span></label>
					<div class="controls">
						<select name="tipo" data-placeholder="Tipo do Visitante" class="select" onchange="setTipo(this, 0)">
							<option value="">Selecione...</option>
							<option value="Funcionário da secretaria">Funcionário da secretaria</option>
							<option value="Outros">Outros</option>
						</select> 
					</div>
				</div>
<?php else: ?>
				<div class="box-nome">
					<div class="control-group">
							<?php
									$___rows = Recepcaogeralvisitas::getRecepcaogeralvisitasHelper(array('id'=>$this->post_var['idrecepcaogeralvisitas']));
									$___row = (sizeof($___rows)>0) ? 	$___rows[0] : false;	
                            ?> 
							<label class="control-label">Nome </label>
							<div class="controls">
								<input maxlength="500" placeholder="Tipo" name="tipo" value="<?php echo ($___row) ? $this->formatTextoBranco($___row['tipo']) : '--' ?>" type="text"  class="span3" readonly  />
							</div>
					</div>
				</div>
<?php endif; ?> 
				 

<div class="box-secretaria" style="display:none;">
				<div class="control-group">
					<label class="control-label">Departamento </label>
					<div class="controls">
		                <select name="iddepartamento" data-placeholder="Departamento" class="select" onchange="setFuncionarios(this)">
							<option value="">Selecione...</option>
							<?php foreach (Departamentossecretarias::getDepartamentossecretariasHelper(array('status'=>'Ativo')) as $k=>$v) : ?>
							<option value="<?php echo $v['id'] ?>"><?php echo $v['departamento'] ?></option>
							<?php endforeach;?>
						</select>
						
					</div>
				</div>

				<div class="control-group">
					<label class="control-label">Funcionário </label>
					<div class="controls">
		                <select name="idfuncionario" data-placeholder="Funcionário" class="select" onchange="setDados(this)">
							<option value="">Selecione...</option>
							<?php /*foreach (Funcionariosgeraisescolas::getFuncionariosgeraisescolasHelper(array('status'=>'Ativo')) as $k=>$v) : ?>
							<option value="<?php echo $v['id'] ?>"><?php echo $v['nome'] ?></option>
							<?php endforeach;*/?>
						</select>
						
					</div>
				</div>
</div>

<div class="box-outros" style="display:none;">

				<div class="control-group">
					<label class="control-label">CPF <span class="required">*</span></label>
					<div class="controls"><input maxlength="500" placeholder="CPF" name="cpf" value="<?php echo (isset($this->post_var['cpf'])) ? $this->post_var['cpf'] : '' ?>" type="text"  class="span3" /></div>
				</div>

<div class="box-nome">
				<div class="control-group">
					<label class="control-label">Nome </label>
					<div class="controls"><input maxlength="500" placeholder="Nome" name="nome" value="<?php echo (isset($this->post_var['nome'])) ? $this->post_var['nome'] : '' ?>" type="text"  class="span3" /></div>
				</div>
</div>

				 

				<div class="control-group">
					<label class="control-label">Setor </label>
					<div class="controls"><input maxlength="500" placeholder="Setor" name="setor" value="<?php echo (isset($this->post_var['setor'])) ? $this->post_var['setor'] : '' ?>" type="text"  class="span3" /></div>
				</div>
</div>

				<div class="control-group">
					<label class="control-label">Falar Com </label>
					<div class="controls"><input maxlength="500" placeholder="Falar Com" name="falarcom" value="<?php echo (isset($this->post_var['falarcom'])) ? $this->post_var['falarcom'] : '' ?>" type="text"  class="span3" /></div>
				</div>


				<div class="control-group">
					<label class="control-label">Observações </label>
					<div class="controls"><textarea class="span12" name="observacoes" cols="5" rows="5"><?php echo (isset($this->post_var)) ? $this->post_var["observacoes"] : ''; ?></textarea></div>
				</div>


				<div class="control-group">
					<label class="control-label">Assunto <span class="required">*</span></label>
					<div class="controls"><input maxlength="500" placeholder="Assunto" name="assunto" value="<?php echo (isset($this->post_var['assunto'])) ? $this->post_var['assunto'] : '' ?>" type="text"  class="span3" /></div>
				</div>


				<div class="control-group">
					<label class="control-label">Status <span class="required">*</span></label>
					<div class="controls">
						<select name="status1" data-placeholder="Status" class="select">
							<option value="">Selecione...</option>
							<option value="Ativo">Ativo</option><option value="Bloqueado">Bloqueado</option>
						</select>
						
					</div>
				</div>

						    
						    
						    </div>
						    
			                <div class="form-actions align-right">
			                	<?php if ((isset($this->visualizar)) && ($this->visualizar)) : ?>
			                		<button onclick="window.history.back()" class="btn btn-danger cancelar" type="button">Voltar</button>
			                	<?php else : ?>
				                	<button class="btn btn-primary enviar" type="submit">Salvar</button>
				                	<button onclick="window.history.back()" class="btn btn-danger cancelar" type="button">Cancelar</button>
			                	<?php endif; ?>
			                </div>
						</div>
						<!-- /general form elements -->

					</fieldset> 

				</form>
				<!-- /basic inputs -->

		    </div>
		    <!-- /content wrapper -->

		</div>
		<!-- content -->
				
<script type="text/javascript" src="<?php echo $this->baseUrl('/public/scripts/admin/recepcaogeralvisitas_form.js') ?>"></script>
<script type="text/javascript">
	var form_values = {};
	
	<?php if (isset($this->post_var)) :  ?>
		form_values.tipo = '<?php echo (isset($this->post_var['tipo'])) ? $this->post_var['tipo'] : '' ?>';

form_values.iddepartamento = '<?php echo (isset($this->post_var['iddepartamento'])) ? $this->post_var['iddepartamento'] : '' ?>';
form_values.idfuncionario = '<?php echo (isset($this->post_var['idfuncionario'])) ? $this->post_var['idfuncionario'] : '' ?>';

form_values.status1 = '<?php echo (isset($this->post_var['status1'])) ? $this->post_var['status1'] : $this->post_var['status'] ?>';


	<?php endif; ?>

	visualizar = <?php echo  ((isset($this->visualizar)) && ($this->visualizar))  ? 'true' : 'false' ?>;
</script>
