		<!-- Content -->
		<div id="content">

		    <!-- Content wrapper -->
		    <div class="wrapper">

			    <!-- Breadcrumbs line -->
			    <div class="crumbs">
			    	<?php echo $this->render('/helpers/breadcrumb.phtml') ?>
			    </div>
			    <!-- /breadcrumbs line -->

			    <!-- Page header -->
			    <div class="page-header">
			    	<div class="page-title">
				    	<h5>Controle de visitas no sistema</h5>
				    	<span>Visualize os controle de visitas do sistema</span>
			    	</div>
			    	
			    </div>
			    <!-- /page header -->
			    
			    <?php if (isset($this->crudMessage)) : ?>
				<div class="alert alert-success">
                	<button data-dismiss="alert" class="close" type="button">×</button>
                    <strong>Operação realizada com sucesso!</strong>
	    			<span><br /><?php echo $this->crudMessage ?></span>
                </div>			    
			    <?php endif; ?>




	                        	                        
                <!-- Table with footer -->
                <div class="widget">
                	<form action="#" class="form-horizontal" method="post">
                		<input type="hidden" value="<?php echo (isset($this->post_var['sorting'])) ? $this->post_var['sorting'] : '' ?>" name="sorting" />
	                	<div class="navbar">
	                		<div class="navbar-inner">
	                			<h6>Visualizando registros</h6>
	                			<?php if (Mn_Util::isAccess($this->getController(), 'adicionar')) : ?>
	                			<a style="float:right;" href="<?php echo $this->baseUrl() ?>/<?php echo 'admin' ?>/<?php echo $this->getController() ?>/adicionar" class="btn btn-primary"><span class="icon-plus"></span>&nbsp;Adicionar controle de visita</a>
	                			<?php endif; ?>
	                		</div>
	                	</div>
	                    <div class="table-overflow">
	                        <table class="table table-content">
	                            <thead>
	                                <tr>
	                                    <th width="20"></th>
                                    <th class="s-nome sorting">Nome</th>
                                    <th class="s-falarcom sorting">Falar Com</th>
                                    <th class="s-assunto sorting">Assunto</th>
                                    <th class="s-setor sorting">Setor</th>
                                    <th class="s-entrada sorting">Entrada</th>  


	                                    <th width="96">Ações</th>
	                                </tr>
	                                <tr>
	                                    <th></th>
 
										<th><input name="nome" value="<?php echo (isset($this->post_var['nome'])) ? $this->post_var['nome'] : '' ?>" type="text" placeholder="nome" class="span3"></th>
										<th><input name="falarcom" value="<?php echo (isset($this->post_var['falarcom'])) ? $this->post_var['falarcom'] : '' ?>" type="text" placeholder="falarcom" class="span3"></th>
									 
										<th><input name="assunto" value="<?php echo (isset($this->post_var['assunto'])) ? $this->post_var['assunto'] : '' ?>" type="text" placeholder="Assunto" class="span3"></th>
										
                                        <th><input name="setor" value="<?php echo (isset($this->post_var['setor'])) ? $this->post_var['setor'] : '' ?>" type="text" placeholder="setor" class="span3"></th>
                                        <th><input name="dataentrada" value="<?php echo (isset($this->post_var['dataentrada'])) ? $this->post_var['dataentrada'] : '' ?>" type="text" placeholder="dataentrada" class="span3"></th>
                                        
  
	                                    <th><button class="btn btn-mini btn-primary" type="submit">Pesquisar</button></th>
	                                </tr> 
	                                                                
	                            </thead>
	                            <tbody>
	                            	<?php if (sizeof($this->rows)==0) : ?>
	                                <tr>
	                                    <td colspan="7">Nenhum registro foi encontrado!</td>
	                                </tr>
	                            	
	                            	<?php else : ?>
	                            	<?php foreach ($this->rows as $row) : ?>
	                                <tr>
	                                	<td></td>
 
 
										 
											<?php 
												$funcionarioescola = Funcionariosgeraisescolas::getFuncionariogeralescolaByIdHelper($row['idfuncionario'] );
											?> 
										<td>
											<?php if(!$row['nome']){ 
												echo $funcionarioescola['nome']; 
												}else {
													echo $row['nome'];
												}
											?>
										</td>
										<td><?php echo $row['falarcom'] ?></td>
										<td><?php echo $row['assunto'] ?></td>
										<td><?php echo $row['setor'] ?></td>
										<td><?php echo date("d/m/Y", strtotime($row['dataentrada'])) . ' - ' . substr($row['horaentrada'], 0, -3)  ?></td>
									
 
	                                    <td>
	                                        <ul class="table-controls">
	                                            <li><a title="" class="btn tip" href="<?php echo $this->baseUrl() ?>/<?php echo 'admin' ?>/<?php echo $this->getController() ?>/visualizar/id/<?php echo $row['id'] ?>" data-original-title="Visualizar"><i class="icon-eye-open"></i></a> </li>
	                                            <?php if (Mn_Util::isAccess($this->getController(), 'editar')) : ?>
	                                            <li><a title="" class="btn tip" href="<?php echo $this->baseUrl() ?>/<?php echo 'admin' ?>/<?php echo $this->getController() ?>/editar/id/<?php echo $row['id'] ?>" data-original-title="Editar"><i class="icon-pencil"></i></a> </li>
	                                            <?php endif;?>
	                                            <?php if (Mn_Util::isAccess($this->getController(), 'excluir')) : ?>
	                                            <li><a title="" class="btn tip" href="javascript:confirmDelete('<?php echo $row['id']; ?>','registro');" data-original-title="Excluir"><i class="icon-remove"></i></a> </li>
	                                            <?php endif; ?>
	                                        </ul>
	                                    </td>
	                                </tr>
	                            	<?php endforeach;?>
	                            	
	                            	
	                            	
	                            	
	                            	<?php endif; ?>
	
	                            </tbody>
	                        </table>
	                    </div>
	                    <?php echo $this->render('/helpers/paginator.phtml') ?>
                    
                    </form> 

                </div>
                <!-- /table with footer -->
	                        


		    </div>
		    <!-- /content wrapper -->

		</div>
		<!-- content -->
		
		
<script type="text/javascript" src="<?php echo $this->baseUrl('/public/scripts/admin/recepcaogeralvisitas_index.js') ?>"></script>
<script type="text/javascript">

	var form_values = {};
	<?php if (isset($this->post_var)) :  ?>
form_values.tipo = '<?php echo (isset($this->post_var['tipo'])) ? $this->post_var['tipo'] : '' ?>';

form_values.status1 = '<?php echo (isset($this->post_var['status1'])) ? $this->post_var['status1'] : $this->post_var['status'] ?>';

	
	<?php endif; ?>

	var sorting = ["dataentrada", "horaentrada", "tipo", "idfuncionario", "cpf", "nome", "setor", "falarcom", "observacoes", "assunto", "datasaida", "horasaida", "status"];
	
</script>	


