<div class="contentpanel">

	<div class="panel panel-default">
	
		<div class="panel-heading">
			
			<?php if (isset($this->crudMessage)) : ?>
			<div class="alert alert-success">
               	<button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
               	<strong>Sucesso!</strong> <?php echo $this->crudMessage ?>.
           	</div>
           	<?php endif; ?>					
			
			<?php if (isset($this->erros)) :  ?>
			<div class="alert alert-danger">
				<button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
				<strong>Erro!</strong> 
				<?php foreach ($this->erros as $erro) : ?>
				<br /><?php echo $erro?>
				<?php endforeach;?>
			</div>				
			<?php endif;?>
			
			<h4 class="panel-title">Formulário do usuário</h4>
			<p>Informe os seus dados.</p>
        </div>
        <div class="panel-body panel-body-nopadding">
        	<form id="form" name="form" method="post" class="form-horizontal form-bordered">
        	
        		<div class="form-group">
        			<label class="col-sm-3 control-label">Nome do usuário *</label>
        			<div class="col-sm-6">
        				<input name="nomerazao" value="<?php echo (isset($this->post_var['nomerazao'])) ? $this->post_var['nomerazao'] : '' ?>" type="text" class="form-control" placeholder="Nome do usuário" disabled="disabled" readonly="readonly">
					</div>
				</div>
				
        		<div class="form-group">
        			<label class="col-sm-3 control-label">Sobrenome do usuário *</label>
        			<div class="col-sm-6">
        				<input name="sobrenomefantasia" value="<?php echo (isset($this->post_var['sobrenomefantasia'])) ? $this->post_var['sobrenomefantasia'] : '' ?>" type="text" class="form-control" placeholder="Sobrenome do usuário" disabled="disabled" readonly="readonly">
					</div>
				</div>				
				
        		<div class="form-group">
        			<label class="col-sm-3 control-label">Senha</label>
        			<div class="col-sm-6">
        				<input name="senha" value="" type="password" class="form-control" placeholder="Informe apenas se desejar alterar a senha">
					</div>
				</div>				
				
        		<div class="form-group">
        			<label class="col-sm-3 control-label">Confirme a senha</label>
        			<div class="col-sm-6">
        				<input name="resenha" value="" type="password" class="form-control" placeholder="Confirme apenas se desejar alterar a senha">
					</div>
				</div>				
				
		
				<div class="panel-footer">
					<div class="row">
						<div class="col-sm-6 col-sm-offset-3">
							<button class="btn btn-primary">Salvar</button>&nbsp;
							<button type="button" onclick="location.href='<?php echo $this->baseUrl() ?>/admin/'" class="btn btn-default">Cancelar</button>
						</div>
					</div>
				</div><!-- panel-footer -->				
				
			</form>
          
		</div><!-- panel-body -->
	</div>
</div>
<script type="text/javascript" src="<?php echo $this->baseUrl('/public/scripts/default/escolasusuario_form.js') ?>"></script>

<script type="text/javascript">

	var form_values = {};
	<?php if (isset($this->post_var)) :  ?>
	<?php endif; ?>

</script>






<?php if (false) : ?>

<div class="title">
	<h3><?php echo $this->formBreadCrumb($this->bread_crumb, $this->baseUrl('/admin')) ?></h3>
	Preencha o formulário.
</div>

<?php if (isset($this->crudMessage)) : ?>
<div class="response-msg success ui-corner-all">
	<span>Sucesso</span>
	<?php echo $this->crudMessage; ?>
</div>
<?php endif; ?>

<div class="response-msg error ui-corner-all" style="display:none;">
	<span>Há erro(s) no formulário</span>
	<h1>Erros</h1>
</div>

<div class="portlet ui-widget ui-widget-content ui-helper-clearfix ui-corner-all form-container">
	<div class="portlet-header ui-widget-header">Informe os dados do usuário</div>
	<div class="portlet-content">
		<form id="form" name="form" action="" method="post" enctype="multipart/form-data" class="forms">
			<input type="hidden" value="<?php echo (isset($this->post_var)) ? $this->post_var["id"] : ''; ?>" name="id" id="id" />
			<ul>
				<li>
					<label class="desc required">
						Nome do Usuário
					</label>
					<div>
						<input readonly="readonly" style="background:#dedede" value="<?php echo (isset($this->post_var)) ? $this->post_var['nomerazao'] : "" ?>" type="text" maxlength="255" class="field text medium" name="nomerazao" />
					</div>
				</li>
				<li>
					<label class="desc">
						Sobrenome do Usuário
					</label>
					<div>
						<input readonly="readonly" style="background:#dedede"  value="<?php echo (isset($this->post_var)) ? $this->post_var['sobrenomefantasia'] : "" ?>" type="text" maxlength="255" class="field text medium" name="sobrenomefantasia" />
					</div>
				</li>		
			
			</ul>
			
			<div id="acesso">
				<ul>				
					<li>
						<label class="desc required">
							E-mail de Acesso
						</label>
						<div>
							<input readonly="readonly" style="background:#dedede"  value="<?php echo (isset($this->post_var)) ? $this->post_var['email'] : "" ?>" type="text" maxlength="255" class="field text medium" name="email" />
						</div>
					</li>
					<li>
						<label class="desc">
							Senha de Acesso
						</label>
						<div>
							<input style="float:left;" name="senha" type="password" maxlength="255" value="" class="field text small" />
							<label style="clear:none;">* Digite uma nova senha apenas se quiser alterá-la</label>
						</div>
					</li>
					<li>
						<label class="desc">
							Confirme a Senha
						</label>
						<div>
							<input name="resenha" type="password" maxlength="255" value="" class="field text small" />
						</div>
					</li>	
				</ul>
			</div>
			
			<ul>
				<li class="buttons">
					<a href="javascript:;" onclick="history.back();">Voltar</a>
					<input id="btn-enviar" type="submit" value="Salvar" class="submit" />
				</li>				
			</ul>	
		
			
		</form>
	</div>
</div>
<div class="clearfix"></div>					

<script type="text/javascript" src="<?php echo $this->baseUrl('/public/scripts/admin/usuarios_form.js') ?>"></script>
<script type="text/javascript">
//<![CDATA[
	<?php if (isset($this->erros)) : ?>
		erros = new Array();
		<?php foreach ($this->erros as $erro) : ?>
			erros.push('<?php echo $erro?>');
		<?php endforeach;?>
		setErrosBox(erros, true);
	<?php endif; ?>

	var form_values = new Object();
	<?php if (isset($this->post_var)) :  ?>
	form_values.status = '<?php echo $this->post_var['status'] ?>';
	<?php endif; ?>

	$(document).ready(function() {
		$(".form-slider").formSlider(
			{btnPrefix: 'btn-'}
		);
	});
	
	var action = '<?php echo $this->getAction() ?>';
	
//]]>	
</script>
	<?php endif; ?>

