		<!-- Content -->
		<div id="content">

		    <!-- Content wrapper -->
		    <div class="wrapper">

			    <!-- Breadcrumbs line -->
			    <div class="crumbs">
			    	<?php echo $this->render('/helpers/breadcrumb.phtml') ?>
			    </div>
			    <!-- /breadcrumbs line -->

			    <!-- Page header -->
			    <div class="page-header">
			    	<div class="page-title">
				    	<h5>Formulário do controle de movimentação</h5>
				    	<span>Verifique os campos e preencha com os dados</span>
			    	</div>
			    </div>
			    <!-- /page header -->

			    <?php if (isset($this->crudMessage)) : ?>
					<div class="alert alert-success">
	                	<button data-dismiss="alert" class="close" type="button">×</button>
	                    <strong>Operação realizada com sucesso!</strong>
		    			<span><br /><?php echo $this->crudMessage ?></span>
	                </div>			    
			    <?php endif; ?>

				<form id="form" name="form" action="" method="post" class="form-horizontal" enctype="multipart/form-data"> 
					<input type="hidden" value="<?php echo (isset($this->post_var)) ? $this->post_var["id"] : ''; ?>" name="id" id="id" />
					
					<fieldset>
						<!-- General form elements -->
						<div class="widget row-fluid">
						    <div class="navbar">
						        <div class="navbar-inner">
						            <h6>Digite as informações do formulário</h6>
						        </div>
						    </div>

						    <div class="well">
								<?php if (isset($this->erros)) : ?>
									<div class="alert alert-error margin">
				                        <button data-dismiss="alert" class="close" type="button">×</button>
				                        <strong>Há erros no formulário!</strong>
					    				<?php foreach ($this->erros as $k=>$v) : ?>
					    					<span><br />- <?php echo $v ?></span>
					    				<?php endforeach;?>			                        
				                    </div>
			                    <?php endif; ?>						    
						    

				<div class="control-group">
					<label class="control-label">Tipo <span class="required">*</span></label>
					<div class="controls">
<!-- 						<select name="tipomovimentação" data-placeholder="Tipo" class="select">
							<option value="">Selecione...</option>
							<option value="Entrada">Entrada</option><option value="Saída">Saída</option><option value="Estoque Atual">Estoque Atual</option><option value="Estoque Mínimo">Estoque Mínimo</option><option value="Itens Sem Movimentação">Itens Sem Movimentação</option><option value="Itens à Vencer">Itens à Vencer</option>
						</select> -->

						<input type="radio" value="Entrada" name="tipomovimentacao[]"> Entrada &nbsp
						<input type="radio" value="Saída" name="tipomovimentacao[]"> Saída &nbsp
						<input type="radio" value="Estoque Atual" name="tipomovimentacao[]"> Estoque Atual &nbsp
						<input type="radio" value="Estoque Mínimo" name="tipomovimentacao[]"> Estoque Mínimo &nbsp
						<input type="radio" value="Itens sem Movimentação" name="tipomovimentacao[]"> Itens sem Movimentação &nbsp
						<input type="radio" value="Itens à Vencer" name="tipomovimentacao[]"> Itens à Vencer &nbsp
						
					</div>
				</div>


				<div class="control-group">
					<label class="control-label">Departamento <span class="required">*</span></label>
					<div class="controls">
		                <select name="iddepartamento" data-placeholder="Departamento" class="select">
							<option value="">Selecione...</option>
							<?php foreach (Departamentosescolas::getDepartamentosescolasHelper(array('status'=>'Ativo')) as $k=>$v) : ?>
							<option value="<?php echo $v['id'] ?>"><?php echo $v['departamento'] ?></option>
							<?php endforeach;?>
						</select>
						
					</div>
				</div>


				<div class="control-group">
					<label class="control-label">Dia</label>
					<div class="controls"><input placeholder="Dia" name="data_i" value="<?php echo (isset($this->post_var['data_i'])) ? Mn_Util::formPostVarData($this->post_var['data_i']) : '' ?>" type="text"  class="span3" /></div>
				</div>


				<div class="control-group">
					<label class="control-label">À Dia</label>
					<div class="controls"><input placeholder="À Dia" name="dia_f" value="<?php echo (isset($this->post_var['dia_f'])) ? Mn_Util::formPostVarData($this->post_var['dia_f']) : '' ?>" type="text"  class="span3" /></div>
				</div>

				<div class="control-group">
					<label class="control-label">Produtos </label>
					<div class="controls itens">
						<table class="table table-primary mb30">
							<thead>
								<tr>
									<th colspan="9" align="center" style="text-align: center;">ITENS</th>
								</tr>
								<tr>
									<th>Cód.</th>
									<th>Produto</th>
									<th>Unid.</th>
									<th>Marca</th>
									<th>Estoque</th>
									<th>Data Saída</th>
									<th>Quantidade</th>
									<th>Observações</th>
									<th width="30">Ações</th>
								</tr>
							</thead>
							<tbody id="raiz">
								<?php if(isset($this->post_var['id'])) : ?>								
								<script type="text/javascript">

								$(document).ready(function() {

									<?php foreach (Almoxarifado_Entradasitens::getEntradasitensHelper(array('identrada'=>$this->post_var['id'], 'origem'=>'Secretaria')) as $k=>$v) : ?>
									var item = new Object();
									item.id = '<?php echo $v['id'] ?>';
									item.idproduto = '<?php echo $v['idproduto'] ?>';
									item.idfornecedor = '<?php echo $v['idfornecedor'] ?>';
									item.quantidade = '<?php echo $v['quantidade'] ?>';
									item.observacoes = '<?php echo $v['observacoes'] ?>';
									item.status = '<?php echo $v['status'] ?>';
									
									iteAddTr(item);
									<?php endforeach;?>

								});

								</script>	
								<?php endif;?>						
							</tbody>
							<?php if ((isset($this->visualizar)) && ($this->visualizar)) : ?>
							
							<?php else: ?>
							<tfoot>
								<tr>
									<td colspan="9" align="right" style="text-align:right !Important;"><input onclick="iteAddTr(false)" type="button" value="Adicionar" /></td>
								</tr>									
							</tfoot>
							<?php endif;?>
						</table>
					</div>
				</div>	

				<div class="control-group">
					<label class="control-label">Status <span class="required">*</span></label>
					<div class="controls">
						<select name="status1" data-placeholder="Status" class="select">
							<option value="">Selecione...</option>
							<option value="Ativo">Ativo</option><option value="Bloqueado">Bloqueado</option>
						</select>
						
					</div>
				</div>

						    
						    
						    </div>
						    
			                <div class="form-actions align-right">
			                	<?php if ((isset($this->visualizar)) && ($this->visualizar)) : ?>
			                		<button onclick="window.history.back()" class="btn btn-danger cancelar" type="button">Voltar</button>
			                	<?php else : ?>
				                	<button class="btn btn-primary enviar" type="submit">Salvar</button>
				                	<button onclick="window.history.back()" class="btn btn-danger cancelar" type="button">Cancelar</button>
			                	<?php endif; ?>
			                </div>
						</div>
						<!-- /general form elements -->

					</fieldset> 

				</form>
				<!-- /basic inputs -->

		    </div>
		    <!-- /content wrapper -->

		</div>
		<!-- content -->
				
<script type="text/javascript" src="<?php echo $this->baseUrl('/public/scripts/admin/almoxarifadocontrolemovimentacoes_form.js') ?>"></script>
<script type="text/javascript">
	var form_values = {};
	
	<?php if (isset($this->post_var)) :  ?>
		form_values.tipomovimentacao = '<?php echo (isset($this->post_var['tipomovimentação'])) ? $this->post_var['tipomovimentação'] : '' ?>';

		form_values.iddepartamento = '<?php echo (isset($this->post_var['iddepartamento'])) ? $this->post_var['iddepartamento'] : '' ?>';

		form_values.status1 = '<?php echo (isset($this->post_var['status1'])) ? $this->post_var['status1'] : $this->post_var['status'] ?>';
	<?php endif; ?>

	visualizar = <?php echo  ((isset($this->visualizar)) && ($this->visualizar))  ? 'true' : 'false' ?>;

	var produtos = new Array();
	<?php $this->produtos = array(); $this->fornecedores = array(); ?>
	<?php foreach ($this->produtos as $ip=>$produto) : ?>
	var produto = {};
	produto.id = '<?php echo $produto['id'] ?>';
	produto.produto = '<?php echo $produto['produto'] ?>';
	produtos.push(produto);
	<?php endforeach;?>

	var fornecedores = new Array();
	<?php foreach ($this->fornecedores as $ip=>$fornecedor) : ?>
	var fornecedor = {};
	fornecedor.id = '<?php echo $fornecedor['id'] ?>';
	fornecedor.fornecedor = '<?php echo $fornecedor['razaosocial'] ?>';
	fornecedores.push(fornecedor);
	<?php endforeach;?>
</script>
