		<!-- Content -->
		<div id="content">

		    <!-- Content wrapper -->
                        <div class="wrapper">

                                <!-- Breadcrumbs line -->
                                <div class="crumbs">
                                    <?php echo $this->render('/helpers/breadcrumb.phtml') ?>
                                </div>
                                <!-- /breadcrumbs line -->

                                <!-- Page header -->
                                <div class="page-header">
                                    <div class="page-title">
                                            <h5>Formulário do controle de consumo</h5>
                                            <span>Verifique os campos e preencha com os dados</span>
                                    </div>
                                </div>
                                <!-- /page header -->

                                <?php if (isset($this->crudMessage)) : ?>
                                            <div class="alert alert-success">
                                    <button data-dismiss="alert" class="close" type="button">×</button>
                                <strong>Operação realizada com sucesso!</strong>
                                            <span><br /><?php echo $this->crudMessage ?></span>
                            </div>			    
                                <?php endif; ?>

                                    <form id="form" name="form" action="" method="post" class="form-horizontal" enctype="multipart/form-data"> 
                                            <input type="hidden" value="<?php echo (isset($this->post_var)) ? $this->post_var["id"] : ''; ?>" name="id" id="id" />

                                            <fieldset>
                                                    <!-- General form elements -->
                                                    <div class="widget row-fluid">
                                                            <div class="navbar">
                                                                <div class="navbar-inner">
                                                                    <h6>Digite as informações do formulário</h6>
                                                                </div>
                                                            </div>

                                                            <div class="well">
                                                                    <?php if (isset($this->erros)) : ?>
                                                                            <div class="alert alert-error margin">
                                                                                    <button data-dismiss="alert" class="close" type="button">×</button>
                                                                                    <strong>Há erros no formulário!</strong>
                                                                                    <?php foreach ($this->erros as $k=>$v) : ?>
                                                                                            <span><br />- <?php echo $v ?></span>
                                                                                    <?php endforeach;?>			                        
                                                                            </div>
                                                                    <?php endif; ?>	

                                                                    <?php $idescola = Usuarios::getUsuario('idescola'); ?>
                                                                    <?php $idlocal = Usuarios::getUsuario('idlocal'); ?>
                                                                    <?php if(($idescola>0) && ($idlocal>0)): ?>		    
                                                                    <div class="control-group">
                                                                            <div class="controls1 visualizar">
                                                                                    <table class="table table-content" width="100%">
                                                                                            <tbody>
                                                                                                    <tr>
                                                                                                            <input maxlength="500" placeholder="Nome do Usuário" name="idusuario" value="<?php echo Usuarios::getUsuario('id') ?>" type="hidden"  class="span3" />
                                                                                                            <input  placeholder="Data de lançamento" name="datalancamento" value="<?php echo (isset($this->post_var['datalancamento'])) ? Mn_Util::formPostVarData($this->post_var['datalancamento']) : date('d/m/Y') ?>" type="hidden"  class="span3" />
                                                                                                            <input maxlength="500" placeholder="Nome do Usuário" name="idlocal" value="<?php echo Usuarios::getUsuario('idlocal') ?>" type="hidden"  class="span3" />
                                                                                                            <input maxlength="500" placeholder="Nome do Usuário" name="idescola" value="<?php echo Usuarios::getUsuario('idescola') ?>" type="hidden"  class="span3" />

                                                                                                            <td width="33%">Nome do Usuário: <?php echo Usuarios::getUsuario('nomerazao') . " - " . Usuarios::getUsuario('rgf') ?></td>
                                                                                                            <td width="34%">Data da Abertura: <?php echo date('d/m/Y') ?></td>
                                                                                                            <td width="33%">Escola: <?php 
                                                                                                                            $local = Escolas::getEscolaByIdHelper(Usuarios::getUsuario('idescola')); 
                                                                                                                            echo ((isset($local['escola'])) && ($local['escola']) && ($local['escola']!="") ) ? $local['escola'] : '';
                                                                                                                    ?>

                                                                                                            </td>
                                                                                                    </tr>
                                                                                            </tbody>
                                                                                    </table>

                                                                            </div>
                                                                    </div>
                                                                    <?php else: ?>
                                                                    <div class="control-group">
                                                                            <div class="controls1 visualizar">
                                                                                    <table class="table table-content" width="100%">
                                                                                            <tbody>
                                                                                                    <tr>
                                                                                                            <input maxlength="500" placeholder="Nome do Usuário" name="idusuario" value="<?php echo Usuarios::getUsuario('id') ?>" type="hidden"  class="span3" />
                                                                                                            <input  placeholder="Data de lançamento" name="datalancamento" value="<?php echo (isset($this->post_var['datalancamento'])) ? Mn_Util::formPostVarData($this->post_var['datalancamento']) : date('d/m/Y') ?>" type="hidden"  class="span3" />

                                                                                                            <td width="50%">Nome do Usuário: <?php echo Usuarios::getUsuario('nomerazao') . " - " . Usuarios::getUsuario('rgf') ?></td>
                                                                                                            <td width="50%">Data da Abertura: <?php echo date('d/m/Y') ?></td>

                                                                                                    </tr>
                                                                                            </tbody>
                                                                                    </table>

                                                                            </div>
                                                                    </div>
                                                                    <?php endif; ?>
                                                                    <?php if(((int)$idescola>0) && ((int)$idlocal>0)): ?>
                                                                    <div class="control-group" style="display: none!important">
                                                                            <label class="control-label">Escolas <span class="required">*</span></label>
                                                                            <div class="controls">
                                                                                    <select id="idescola" name="idescola" class="select">
                                                                                            <?php foreach ($this->escolas as $e=>$row): ?>
                                                                                                <?php if($row['id'] == $idescola) :?>
                                                                                                <option value="<?php echo $row['id'] ?>" selected ><?php echo $row['escola'] ?></option>
                                                                                                <?php endif; ?>
                                                                                            <?php endforeach;?>
                                                                                    </select>   
                                                                                    <?php echo '<script> window.onload = function() { setSeries(','$("select[name=idescola]")',',0); }; </script>'; ?>                                                                            
                                                                            </div>
                                                                    </div>
                                                                            
                                                                    <?php else: ?>
                                                                    <div class="control-group">
                                                                            <label class="control-label">Escolas <span class="required">*</span></label>
                                                                            <div class="controls">
                                                                                    <select id="idescola" name="idescola"  class="select" onchange="setPeriodos(this, 0)">
                                                                                            <option value="">Selecione...</option>
                                                                                            <?php foreach ($this->escolas as $e=>$row): ?>
                                                                                                <option value="<?php echo $row['id'] ?>"><?php echo $row['escola'] ?></option>
                                                                                            <?php endforeach;?>
                                                                                    </select>   
                                                                            </div>
                                                                    </div>
                                                                    <?php endif; ?>

                                                                    <div class="control-group">
                                                                            <label class="control-label">Selecionar Série</label>
                                                                            <?php if($this->visualizar) :?>
                                                                                    <?php 
                                                                                            $gdae = Escolasseries::getEscolaserieByIdHelper($this->post_var['turmas']);
                                                                                            echo "<script> window.onload = function() { setSelecionaTipoEnsino(this) }; </script>" 
                                                                                    ?>
                                                                                    <div class="controls">
                                                                                            <?php if($gdae) :?>
                                                                                                    <input name='vizSeries' value="<?php echo $gdae['idserietipo'],' - ',$gdae['descricoes'],' - ',$gdae['descricao']; ?>">
                                                                                            <?php endif; ?>
                                                                                    </div>
                                                                            <?php else :?>
                                                                                    <div id="box-series" class="controls">
                                                                                            <select name="turmas" data-placeholder="Série" class="select">
                                                                                                    <option value="">Selecione...</option>		
                                                                                            </select> 
                                                                                    </div>
                                                                                    <?php 
                                                                                        $idtipos = (int)$this->post_var['turmas'];
                                                                                        echo "<script> var Xid = $idtipos; </script>"; 
                                                                                        if ($idtipos>0){
                                                                                            echo "<script> window.onload = function() { setSelecionaTipoEnsino(this) }; </script>";
                                                                                        }
                                                                                    ?>
                                                                            <?php endif;?>
                                                                    </div>
                                                                    <div class="control-group" >
                                                                            <label class="control-label">Tamanho do Prato </label>
                                                                            <div class="controls">
                                                                                    <input type="radio" checked="true" name="tipoprato" value="Pequeno" > Pequeno (de 200 à 400 Gramas) <br/>
                                                                                    <input type="radio" name="tipoprato" value="Médio"   > Médio  (de 400 à 700 Gramas) <br/>
                                                                                    <input type="radio" name="tipoprato" value="Grande"  > Grande (de 700 à 1.500 Gramas)
                                                                            </div>
                                                                    </div>

                                                                    <div style="display: none!important" class="control-group selecionatipoensino" >
                                                                            <label class="control-label">Selecionar o Tipo de Ensino </label>
                                                                            <div class="controls">
                                                                                    <?php if ($this->visualizar): ?>                     
                                                                                        <p style="font-weight: bold">
                                                                                            <?php echo (isset($this->post_var['tipoensino']) && $this->post_var['tipoensino'] == 'Normal') ? '(*) Normal' : '( ) Normal' ?>
                                                                                            <?php echo (isset($this->post_var['tipoensino']) && $this->post_var['tipoensino'] == 'Integral') ? '(*) Integral' : '( ) Integral' ?>
                                                                                            <?php echo (isset($this->post_var['tipoensino']) && $this->post_var['tipoensino'] == 'Creche') ? '(*) Creche' : '( ) Creche' ?>
                                                                                        </p>
                                                                                    <?php else :?>
                                                                                            <input onclick="tipoNormal()" type="radio" name="tipoensino" value="Normal" <?php echo (isset($this->post_var['tipoensino']) && $this->post_var['tipoensino'] == 'Normal') ? 'checked' : '' ?> > Normal 
                                                                                            <input onclick="tipoIntegral()" type="radio" name="tipoensino" value="Integral" <?php echo (isset($this->post_var['tipoensino']) && $this->post_var['tipoensino'] == 'Integral') ? 'checked' : '' ?> > Integral 
                                                                                            <input onclick="tipoCreche()" type="radio" name="tipoensino" value="Creche" <?php echo (isset($this->post_var['tipoensino']) && $this->post_var['tipoensino'] == 'Creche') ? 'checked' : '' ?> > Creche						
                                                                                    <?php endif;?>
                                                                            </div>
                                                                    </div>

                                                                    <div style="display: none!important" class="control-group normal">
                                                                            <label class="control-label">Quantidades de Refeição </label>
                                                                            <div class="controls"><input maxlength="20" placeholder="Quantidades de Refeição" name="qtdrefeicao" value="<?php echo (isset($this->post_var['qtdrefeicao'])) ? $this->post_var['qtdrefeicao'] : '' ?>" type="text"  class="span3" type="number" min="0" /></div>
                                                                    </div>

                                                                    <div style="display: none!important" class="control-group normal">
                                                                            <label class="control-label">Quantidades de Refeição Repetições</label>
                                                                            <div class="controls"><input maxlength="20" placeholder="Quantidades de Refeição" name="qtdrefeicaorepeticoes" value="<?php echo (isset($this->post_var['qtdrefeicaorepeticoes'])) ? $this->post_var['qtdrefeicaorepeticoes'] : '' ?>" type="text"  class="span3" type="number" min="0" /></div>
                                                                    </div>

                                                                    <div style="display: none!important" class="control-group integral">
                                                                            <label class="control-label">Quantidades de Café da Manhã </label>
                                                                            <div class="controls"><input maxlength="20" placeholder="Quantidades de Café da Manhã" name="qtdcafemanha" value="<?php echo (isset($this->post_var['qtdcafemanha'])) ? $this->post_var['qtdcafemanha'] : '' ?>" type="text"  class="span3" type="number" min="0" /></div>
                                                                    </div>

                                                                    <div style="display: none!important" class="control-group creche">
                                                                            <label class="control-label">Quantidades de Mamadeira </label>
                                                                            <div class="controls"><input maxlength="20" placeholder="Quantidades de Mamadeira" name="qtdmamadeira" value="<?php echo (isset($this->post_var['qtdmamadeira'])) ? $this->post_var['qtdmamadeira'] : '' ?>" type="text"  class="span3" type="number" min="0" /></div>
                                                                    </div>

                                                                    <div style="display: none!important" class="control-group creche">
                                                                            <label class="control-label">Quantidades de Desjejum </label>
                                                                            <div class="controls"><input maxlength="20" placeholder="Quantidades de Desjejum" name="qtddesjejum" value="<?php echo (isset($this->post_var['qtddesjejum'])) ? $this->post_var['qtddesjejum'] : '' ?>" type="text"  class="span3" type="number" min="0" /></div>
                                                                    </div>

                                                                    <div style="display: none!important" class="control-group creche">
                                                                            <label class="control-label">Quantidades de Colação </label>
                                                                            <div class="controls"><input maxlength="20" placeholder="Quantidades de Colação" name="qtdcolacao" value="<?php echo (isset($this->post_var['qtdcolacao'])) ? $this->post_var['qtdcolacao'] : '' ?>" type="text"  class="span3" type="number" min="0" /></div>
                                                                    </div>

                                                                    <div style="display: none!important" class="control-group integral creche">
                                                                            <label class="control-label">Quantidades de Almoço</label>
                                                                            <div class="controls"><input maxlength="20" placeholder="Quantidades de Almoço" name="qtdalmoco" value="<?php echo (isset($this->post_var['qtdalmoco'])) ? $this->post_var['qtdalmoco'] : '' ?>" type="text"  class="span3" type="number" min="0" /></div>
                                                                    </div>

                                                                    <div style="display: none!important" class="control-group normal integral">
                                                                            <label class="control-label">Quantidades de Sobremesa</label>
                                                                            <div class="controls"><input maxlength="20" placeholder="Quantidades de Sobremesa" name="qtdsobremesa" value="<?php echo (isset($this->post_var['qtdsobremesa'])) ? $this->post_var['qtdsobremesa'] : '' ?>" type="text"  class="span3" type="number" min="0" /></div>
                                                                    </div>

                                                                    <div style="display: none!important" class="control-group normal">
                                                                            <label class="control-label">Quantidades de Sobremesa Repetições</label>
                                                                            <div class="controls"><input maxlength="20" placeholder="Quantidades de Sobremesa" name="qtdsobremesarepeticoes" value="<?php echo (isset($this->post_var['qtdsobremesarepeticoes'])) ? $this->post_var['qtdsobremesarepeticoes'] : '' ?>" type="text"  class="span3" type="number" min="0"/></div>
                                                                    </div>

                                                                    <div style="display: none!important" class="control-group creche">
                                                                            <label class="control-label">Quantidades de Lanche da Tarde </label>
                                                                            <div class="controls"><input maxlength="20" placeholder="Quantidades de Lanche da Tarde" name="qtdlanche" value="<?php echo (isset($this->post_var['qtdlanche'])) ? $this->post_var['qtdlanche'] : '' ?>" type="text"  class="span3" type="number" min="0" /></div>
                                                                    </div>

                                                                    <div style="display: none!important" class="control-group integral">
                                                                            <label class="control-label">Quantidades de Café da Tarde </label>
                                                                            <div class="controls"><input maxlength="20" placeholder="Quantidades de Café da Tarde" name="qtdcafetarde" value="<?php echo (isset($this->post_var['qtdcafetarde'])) ? $this->post_var['qtdcafetarde'] : '' ?>" type="text"  class="span3" type="number" min="0" /></div>
                                                                    </div>

                                                                    <div style="display: none!important" class="control-group integral creche">
                                                                            <label class="control-label">Quantidades de Jantar</label>
                                                                            <div class="controls"><input maxlength="20" placeholder="Quantidades de Jantar" name="qtdjantar" value="<?php echo (isset($this->post_var['qtdjantar'])) ? $this->post_var['qtdjantar'] : '' ?>" type="text"  class="span3" type="number" min="0" /></div>
                                                                    </div>

                                                            </div>

                                                            <div class="form-actions align-right">
                                                                    <?php if ((isset($this->visualizar)) && ($this->visualizar)) : ?>
                                                                            <button onclick="window.history.back()" class="btn btn-danger cancelar" type="button">Voltar</button>
                                                                    <?php else : ?>
                                                                            <button class="btn btn-primary enviar" type="submit">Salvar</button>
                                                                            <button onclick="window.history.back()" class="btn btn-danger cancelar" type="button">Cancelar</button>
                                                                    <?php endif; ?>
                                                            </div>
                                                    </div>
                                                    <!-- /general form elements -->
                                            </fieldset> 
                                    </form>
                                    <!-- /basic inputs -->
                        </div>
                        <!-- /content wrapper -->
		</div>
		<!-- content -->

<?php //var_dump($this->post_var['tipoensino']); ?>
<script type="text/javascript" src="<?php echo $this->baseUrl('/public/scripts/admin/nutricaomerendasconsumos_form.js') ?>"></script>
<script type="text/javascript">
	var form_values = {};
        

	<?php if (isset($this->post_var)) :  ?>
		form_values.tipoensino = '<?php echo (isset($this->post_var['tipoensino'])) ? $this->post_var['tipoensino'] : '' ?>';
		form_values.tipo = '<?php echo (isset($this->post_var['tipo'])) ? $this->post_var['tipo'] : '' ?>';
		form_values.aluno = '<?php echo (isset($this->post_var['aluno'])) ? $this->post_var['aluno'] : '' ?>';
		form_values.idescola = '<?php echo (isset($this->post_var['idescola'])) ? (int)$this->post_var['idescola'] : '' ?>';
		form_values.idlocal = '<?php echo (isset($this->post_var['idlocal'])) ? (int)$this->post_var['idlocal'] : '' ?>';
		form_values.periodos = '<?php echo (isset($this->post_var['periodos'])) ? $this->post_var['periodos'] : '' ?>';
                form_values.turmas = '<?php echo (isset($this->post_var['turmas'])) ? $this->post_var['turmas'] : '' ?>';
	        
        <?php endif; ?>

	visualizar = <?php echo  ((isset($this->visualizar)) && ($this->visualizar))  ? 'true' : 'false' ?>;
</script>
