<script>
    $("select[name=turmas]").val(Xid);
    
    $("select").each(function() {
            val = $(this).find('option:selected').html();
            $(this).closest('div').find('span').html(val);
    });
</script>

<select name="turmas" data-placeholder="Série" class="select" onchange="setSelecionaTipoEnsino(this)">
<?php if (sizeof($this->rows)==0) : ?>
<option value="">Selecione...</option>
<option value="">Nenhuma série foi encontrada para essa escola</option>
<?php else : ?>
<option value="">Selecione...</option>
<?php foreach ($this->rows as $row) : ?>
<option value="<?php echo $row['id'] ?>" ><?php echo $row['idgdae'],'. ',$row['descricoes'],' - ', $row['descricao']; ?></option>
<?php endforeach; ?>
<?php endif; ?>
</select>
