		<!-- Content -->
		<div id="content">

		    <!-- Content wrapper -->
		    <div class="wrapper">

			    <!-- Breadcrumbs line -->
			    <div class="crumbs">
			    	<?php echo $this->render('/helpers/breadcrumb.phtml') ?>
			    </div>
			    <!-- /breadcrumbs line -->

			    <!-- Page header -->
			    <div class="page-header">
			    	<div class="page-title">
				    	<h5>Formulário do protocolo</h5>
				    	<span>Verifique os campos e preencha com os dados</span>
			    	</div>
			    </div>
			    <!-- /page header -->

			    <?php if (isset($this->crudMessage)) : ?>
					<div class="alert alert-success">
	                	<button data-dismiss="alert" class="close" type="button">×</button>
	                    <strong>Operação realizada com sucesso!</strong>
		    			<span><br /><?php echo $this->crudMessage ?></span>
	                </div>			    
			    <?php endif; ?>

				<form id="form" name="form" action="" method="post" class="form-horizontal" enctype="multipart/form-data"> 
					<input type="hidden" value="<?php echo (isset($this->post_var)) ? $this->post_var["id"] : ''; ?>" name="id" id="id" />
					
					<fieldset>
						<!-- General form elements -->
						<div class="widget row-fluid">
						    <div class="navbar">
						        <div class="navbar-inner">
						            <h6>Digite as informações do formulário</h6>
						        </div>
						    </div>

						    <div class="well">
								<?php if (isset($this->erros)) : ?>
									<div class="alert alert-error margin">
				                        <button data-dismiss="alert" class="close" type="button">×</button>
				                        <strong>Há erros no formulário!</strong>
					    				<?php foreach ($this->erros as $k=>$v) : ?>
					    					<span><br />- <?php echo $v ?></span>
					    				<?php endforeach;?>			                        
				                    </div>
			                    <?php endif; ?>	

				<div class="control-group">
					<label class="control-label">N° do protocolo </label>
					<div class="controls">
						<input maxlength="500" placeholder="N° do protocolo" name="_numeroprotocolo" value="<?php echo (isset($this->post_var['numeroprotocolo'])) ? $this->post_var['numeroprotocolo'] : '' ?>" type="text"  class="span3" disable="disabled" readonly="readonly" />
					</div>
				</div>

				<div class="control-group">
					<label class="control-label">Escolas </label>
					<div class="controls">
		                <select name="idescola" data-placeholder="Escolas" class="select" onchange="setDepartamentos(this, 0)"  disable="disabled" readonly="readonly">
							<option value="">Selecione...</option>
							<?php foreach (Escolas::getEscolasHelper(array('status'=>'Ativo', 'idsecretaria'=>Usuarios::getSecretariaAtiva( Usuarios::getUsuario('id'), 'id' ))) as $k=>$v) : ?>
							<option value="<?php echo $v['id'] ?>"><?php echo $v['escola'] ?></option>
							<?php endforeach;?>
						</select>
						
					</div>
				</div>

				<div class="control-group">
					<label class="control-label">Título <span class="required">*</span></label>
					<div class="controls"><input maxlength="500" placeholder="Título" name="_titulo" value="<?php echo (isset($this->post_var['titulo'])) ? $this->post_var['titulo'] : '' ?>" type="text"  class="span3" disable="disabled" readonly="readonly" /></div>
				</div>


				<div class="control-group">
					<label class="control-label">Descrições inicial </label>
					<div class="controls"><textarea class="span12" name="_descricoes" cols="5" rows="5" disable="disabled" readonly="readonly"><?php echo (isset($this->post_var)) ? $this->post_var["descricoes"] : ''; ?></textarea></div>
				</div>

				<div class="control-group">
					<label class="control-label">Observação inicial </label>
					<div class="controls"><textarea class="span12" name="_observacoes" cols="5" rows="5" disable="disabled" readonly="readonly"><?php echo (isset($this->post_var)) ? $this->post_var["observacoes"] : ''; ?></textarea></div>
				</div>


				

				<?php if(sizeof($this->historicos) > 0): ?>		    
					<?php if($this->post_var['origem']=="Secretaria"): ?>
					<div class="control-group">
						<div class="widget">
							<div class="table-overflow">
								<table class="table table-content">
									<thead>
										<tr>
											<th colspan="6" align="center" style="text-align:center;">Histórico de solicitações</th>
										</tr>

										<tr>
											<th class="" width="200">Usuário Criação</th>
		                                    <th class="" width="200">Usuá. Resp./ Depart. Resp.</th>
		                                    <th class="">Descrições</th>		                                    
											<th class="">Data/Hora</th>
		                                    <th class="" width="100">Status</th>
										</tr>
									</thead>
									<tbody>
										<?php foreach($this->historicos as $i=>$row): ?>
										<tr>
											<td> 
											<?php
												$___rows = Usuarios::getUsuariosHelper(array('id'=>$row['idusuariocriacao']));
												$___row = (sizeof($___rows)>0) ? 	$___rows[0] : false;	
												
												echo ($___row) ? $this->formatTextoBranco($___row['nomerazao'] . ' ' . $___row['sobrenomefantasia']) : '--';		
											?>
											</td>
											<td>												
												<?php if($this->post_var['destinatario']=="Secretaria"): ?>
													<?php
													if((int)$row['idusuarioresponsavel'] > 0):
														$___rows = Usuarios::getUsuariosHelper(array('id'=>$row['idusuarioresponsavel']));
														$___row = (sizeof($___rows)>0) ? 	$___rows[0] : false;	
														
														echo ($___row) ? $this->formatTextoBranco('<b>Usuário: </b>' . $___row['nomerazao'] . ' ' . $___row['sobrenomefantasia'] . '<br />') : '--';	
													endif;			
													?>
													<?php
													if((int)$row['iddepartamentosecretaria'] > 0):
														$___rows = Departamentossecretarias::getDepartamentossecretariasHelper(array('id'=>$row['iddepartamentosecretaria']));
														$___row = (sizeof($___rows)>0) ? 	$___rows[0] : false;	
														
														echo ($___row) ? $this->formatTextoBranco('<b>Departamento: </b>' . $___row['departamento']) : '--';		
													endif;
													?>
												<?php elseif($this->post_var['destinatario']=="Escola"): ?>
													<?php
													if((int)$row['idescola'] > 0):
														$___rows = Escolas::getEscolasHelper(array('id'=>$row['idescola']));
														$___row = (sizeof($___rows)>0) ? 	$___rows[0] : false;	
														
														echo ($___row) ? $this->formatTextoBranco('<b>Escola:</b> ' . $___row['escola'] . '<br />') : '--';
													endif;		
													?>

													<?php
													if((int)$row['idescolausuarioresponsavel'] > 0):
														$___rows = Escolasusuarios::getEscolasusuariosHelper(array('id'=>$row['idescolausuarioresponsavel']));
														$___row = (sizeof($___rows)>0) ? 	$___rows[0] : false;	
														
														echo ($___row) ? $this->formatTextoBranco('<b>Usuário:</b> ' . $___row['nomerazao'] . ' ' . $___row['sobrenomefantasia'] . '<br />') : '--';
													endif;		
													?>

													<?php
														if((int)$row['iddepartamentoescola'] > 0):
															$___rows = Departamentosescolas::getDepartamentosescolasHelper(array('id'=>$row['iddepartamentoescola']));
															$___row = (sizeof($___rows)>0) ? 	$___rows[0] : false;	
															
															echo ($___row) ? $this->formatTextoBranco('<b>Departamento:</b> ' . $___row['departamento'] . '<br />') : '--';		
														endif;
													?>
												<?php endif ?>

											</td>
											<td><?php echo $row['descricoes'] ?></td>

											<td>
												<?php echo Mn_Util::formPostVarData($row['datacriacao']) ?><br />
												<?php echo date('G:i', strtotime($row['datacriacao']))?>
											</td>

											<td><?php echo $row['status'] ?></td>
										</tr>
										<?php endforeach;?>
									</tbody>
								</table>
							</div>
						</div>
					</div>
					<?php endif;?>
				<?php elseif($this->post_var['origem']=="Escola"):?>
					<div class="control-group">
						<div class="widget">
							<div class="table-overflow">
								<table class="table table-content">
									<thead>
										<tr>
											<th colspan="6" align="center" style="text-align:center;">Histórico de solicitações</th>
										</tr>

										<tr>
											<th class="" width="160">Escola</th>
											<th class="" width="200">Usuário Criação</th>
		                                    <th class="" width="200">Usuá. Resp./ Depart. Resp.</th>
		                                    <th class="">Descrições</th>		                                    
											<th class="">Data/Hora</th>
		                                    <th class="" width="100">Status</th>
										</tr>
									</thead>
									<tbody>
										<?php foreach($this->historicos as $i=>$row): ?>
										<tr>
											<td> 
												<?php
												if((int)$row['idescola'] > 0):
													$___rows = Escolas::getEscolasHelper(array('id'=>$row['idescola']));
													$___row = (sizeof($___rows)>0) ? 	$___rows[0] : false;	
													
													echo ($___row) ? $this->formatTextoBranco($___row['escola'] . '<br />') : '--';
												endif;		
												?>
											</td>
											<td> 
												<?php
												if((int)$row['idescolausuariocriacao'] > 0):
													$___rows = Escolasusuarios::getEscolasusuariosHelper(array('id'=>$row['idescolausuariocriacao']));
													$___row = (sizeof($___rows)>0) ? 	$___rows[0] : false;	
													
													echo ($___row) ? $this->formatTextoBranco('<b>Usuário:</b> ' . $___row['nomerazao'] . ' ' . $___row['sobrenomefantasia'] . '<br />') : '--';
												endif;		
												?>
											</td>
											<td>
												<?php if($this->post_var['destinatario']=="Secretaria"): ?>
													<?php
													if((int)$row['idusuarioresponsavel'] > 0):
														$___rows = Usuarios::getUsuariosHelper(array('id'=>$row['idusuarioresponsavel']));
														$___row = (sizeof($___rows)>0) ? 	$___rows[0] : false;	
														
														echo ($___row) ? $this->formatTextoBranco('<b>Usuário: </b>' . $___row['nomerazao'] . ' ' . $___row['sobrenomefantasia'] . '<br />') : '--';	
													endif;			
													?>
													<?php
													if((int)$row['iddepartamentosecretaria'] > 0):
														$___rows = Departamentossecretarias::getDepartamentossecretariasHelper(array('id'=>$row['iddepartamentosecretaria']));
														$___row = (sizeof($___rows)>0) ? 	$___rows[0] : false;	
														
														echo ($___row) ? $this->formatTextoBranco('<b>Departamento: </b>' . $___row['departamento']) : '--';		
													endif;
													?>
												<?php elseif($this->post_var['destinatario']=="Escola"): ?>
													<?php
													if((int)$row['idescola'] > 0):
														$___rows = Escolas::getEscolasHelper(array('id'=>$row['idescola']));
														$___row = (sizeof($___rows)>0) ? 	$___rows[0] : false;	
														
														echo ($___row) ? $this->formatTextoBranco('<b>Escola:</b> ' . $___row['escola'] . '<br />') : '--';
													endif;		
													?>

													<?php
													if((int)$row['idescolausuarioresponsavel'] > 0):
														$___rows = Escolasusuarios::getEscolasusuariosHelper(array('id'=>$row['idescolausuarioresponsavel']));
														$___row = (sizeof($___rows)>0) ? 	$___rows[0] : false;	
														
														echo ($___row) ? $this->formatTextoBranco('<b>Usuário:</b> ' . $___row['nomerazao'] . ' ' . $___row['sobrenomefantasia'] . '<br />') : '--';
													endif;		
													?>

													<?php
														if((int)$row['iddepartamentoescola'] > 0):
															$___rows = Departamentosescolas::getDepartamentosescolasHelper(array('id'=>$row['iddepartamentoescola']));
															$___row = (sizeof($___rows)>0) ? 	$___rows[0] : false;	
															
															echo ($___row) ? $this->formatTextoBranco('<b>Departamento:</b> ' . $___row['departamento'] . '<br />') : '--';		
														endif;
													?>
												<?php endif ?>
											</td>
											<td><?php echo $row['descricoes'] ?></td>

											<td>
												<?php echo Mn_Util::formPostVarData($row['datacriacao']) ?><br />
												<?php echo date('G:i', strtotime($row['datacriacao']))?>
											</td>

											<td><?php echo $row['status'] ?></td>
										</tr>
										<?php endforeach;?>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				<?php endif;?>
			
				<div class="control-group">
					<label class="control-label">Departamento da Escola </label>
					<div class="controls">
		                <select name="iddepartamentoescola" data-placeholder="Departamento da Escola" class="select" onchange="setFuncionarios(this, 0)">
							<option value="">Selecione...</option>
						</select>							
					</div>
				</div>

				<div class="control-group">
					<label class="control-label">Funcionário da Escola </label>
					<div class="controls">
		                <select name="idescolausuarioresponsavel" data-placeholder="Funcionário da Escola" class="select">
							<option value="">Selecione...</option>
						</select>							
					</div>
				</div>




				<div class="control-group">
					<label class="control-label">Título <span class="required">*</span></label>
					<div class="controls"><input maxlength="500" placeholder="Título" name="titulo" value="" type="text"  class="span3" /></div>
				</div>


				<div class="control-group">
					<label class="control-label">Descrições </label>
					<div class="controls"><textarea class="span12" name="descricoes" cols="5" rows="5"></textarea></div>
				</div>


				<div class="control-group">
					<label class="control-label">Observações </label>
					<div class="controls"><textarea class="span12" name="observacoes" cols="5" rows="5"><?php echo (isset($this->post_var['observacoes'])) ? $this->post_var["observacoes"] : ''; ?></textarea></div>
				</div>


				<div class="control-group">
					<label class="control-label">Status <span class="required">*</span></label>
					<div class="controls">
						<select name="status1" data-placeholder="Status" class="select">
							<option value="">Selecione...</option>
							<option value="Aberto">Aberto</option><option value="Encerrado">Encerrado</option>
							<option value="Analisando">Analisando</option><option value="Cancelado">Cancelado</option>
						</select>
						
					</div>
				</div>

						    
						    
						    </div>
						    
			                <div class="form-actions align-right">
			                	<?php if ((isset($this->visualizar)) && ($this->visualizar)) : ?>
			                		<button onclick="window.history.back()" class="btn btn-danger cancelar" type="button">Voltar</button>
			                	<?php else : ?>
				                	<button class="btn btn-primary enviar" type="submit">Salvar</button>
				                	<button onclick="window.history.back()" class="btn btn-danger cancelar" type="button">Cancelar</button>
			                	<?php endif; ?>
			                </div>
						</div>
						<!-- /general form elements -->

					</fieldset> 

				</form>
				<!-- /basic inputs -->

		    </div>
		    <!-- /content wrapper -->

		</div>
		<!-- content -->
				
<script type="text/javascript" src="<?php echo $this->baseUrl('/public/scripts/admin/solicitacoesrecepcoes_form.js') ?>"></script>
<script type="text/javascript">
	var form_values = {};
	
	<?php if (isset($this->post_var)) :  ?>
		form_values.idusuariocriacao = '<?php echo (isset($this->post_var['idusuariocriacao'])) ? $this->post_var['idusuariocriacao'] : '' ?>';

form_values.iddepartamentosecretaria = '<?php echo (isset($this->post_var['iddepartamentosecretaria'])) ? $this->post_var['iddepartamentosecretaria'] : '' ?>';

form_values.idescola = '<?php echo (isset($this->post_var['idescola'])) ? $this->post_var['idescola'] : '' ?>';

form_values.origem = '<?php echo (isset($this->post_var['origem'])) ? $this->post_var['origem'] : '' ?>';

form_values.destinatario = '<?php echo (isset($this->post_var['destinatario'])) ? $this->post_var['destinatario'] : '' ?>';
form_values.idusuarioresponsavel = '<?php echo (isset($this->post_var['idusuarioresponsavel'])) ? $this->post_var['idusuarioresponsavel'] : '' ?>';
form_values.status1 = '<?php echo (isset($this->post_var['status1'])) ? $this->post_var['status1'] : $this->post_var['status'] ?>';
form_values.iddepartamentoescola = '<?php echo (isset($this->post_var['iddepartamentoescola'])) ? $this->post_var['iddepartamentoescola'] : '' ?>';
form_values.idescolausuarioresponsavel = '<?php echo (isset($this->post_var['idescolausuarioresponsavel'])) ? $this->post_var['idescolausuarioresponsavel'] : '' ?>';
	<?php endif; ?>

	visualizar = <?php echo  ((isset($this->visualizar)) && ($this->visualizar))  ? 'true' : 'false' ?>;
</script>
