		<!-- Content -->
		<div id="content">

		    <!-- Content wrapper -->
		    <div class="wrapper">

			    <!-- Breadcrumbs line -->
			    <div class="crumbs">
			    	<?php echo $this->render('/helpers/breadcrumb.phtml') ?>
			    </div>
			    <!-- /breadcrumbs line -->

			    <!-- Page header -->
			    <div class="page-header">
			    	<div class="page-title">
				    	<h5>Formulário do edificação</h5>
				    	<span>Verifique os campos e preencha com os dados</span>
			    	</div>
			    </div>
			    <!-- /page header -->

			    <?php if (isset($this->crudMessage)) : ?>
					<div class="alert alert-success">
	                	<button data-dismiss="alert" class="close" type="button">×</button>
	                    <strong>Operação realizada com sucesso!</strong>
		    			<span><br /><?php echo $this->crudMessage ?></span>
	                </div>			    
			    <?php endif; ?>

				<form id="form" name="form" action="" method="post" class="form-horizontal" enctype="multipart/form-data"> 
					<input type="hidden" value="<?php echo (isset($this->post_var)) ? $this->post_var["id"] : ''; ?>" name="id" id="id" />
					
					<fieldset>
						<!-- General form elements -->
						<div class="widget row-fluid">
						    <div class="navbar">
						        <div class="navbar-inner">
						            <h6>Digite as informações do formulário</h6>
						        </div>
						    </div>

						    <div class="well">
								<?php if (isset($this->erros)) : ?>
									<div class="alert alert-error margin">
				                        <button data-dismiss="alert" class="close" type="button">×</button>
				                        <strong>Há erros no formulário!</strong>
					    				<?php foreach ($this->erros as $k=>$v) : ?>
					    					<span><br />- <?php echo $v ?></span>
					    				<?php endforeach;?>			                        
				                    </div>
			                    <?php endif; ?>						    
						    
						        <div class="control-group">
						            <label class="control-label">Escola <span class="required">*</span></label>
						            <div class="controls">
						                <select name="idescola" data-placeholder="Escola" class="select">
						                    <option value="">Selecione...</option>
						                	<?php foreach (Escolas::getEscolasHelper(array('status'=>'Ativo','idlicenca'=>Licencas::getLicenca('id'))) as $k=>$v) : ?>
						                	<option value="<?php echo $v['id'] ?>"><?php echo $v['escola'] ?></option>
						                	<?php endforeach;?>
						                </select>
						                
						            </div>
						        </div>

						        <div class="control-group">
						            <label class="control-label">Tipo <span class="required">*</span></label>
						            <div class="controls">
						                <select name="idtipoedificacao" data-placeholder="Tipo" class="select">
						                    <option value="">Selecione...</option>
						                	<?php foreach (Escolasedificacoestipos::getEscolasedificacoestiposHelper(array('status'=>'Ativo','idlicenca'=>Licencas::getLicenca('id'))) as $k=>$v) : ?>
						                	<option value="<?php echo $v['id'] ?>"><?php echo $v['tipo'] ?></option>
						                	<?php endforeach;?>
						                </select>
						                <span class="help-block">Escolasedificacoestipos,getEscolasedificacoestiposHelper,tipo</span>
						            </div>
						        </div>

<?php
							$this->endereco_prefix = "e_idendereco";
							echo $this->render('/helpers/forms/endereco.phtml') ?>						        <div class="control-group">
						            <label class="control-label">Descrições </label>
						            <div class="controls"><textarea class="span6" name="descricoes" cols="5" rows="5"><?php echo (isset($this->post_var)) ? $this->post_var["descricoes"] : ''; ?></textarea></div>
						        </div>

						        <div class="control-group">
						            <label class="control-label">Data</label>
						            <div class="controls"><input placeholder="Data" name="dataconstrucao" value="<?php echo (isset($this->post_var['dataconstrucao'])) ? Mn_Util::formPostVarData($this->post_var['dataconstrucao']) : '' ?>" type="text"  class="span3" /></div>
						        </div>

						        <div class="control-group">
						            <label class="control-label">Localização </label>
						            <div class="controls"><textarea class="span6" name="localizacao" cols="5" rows="5"><?php echo (isset($this->post_var)) ? $this->post_var["localizacao"] : ''; ?></textarea></div>
						        </div>

						        <div class="control-group">
						            <label class="control-label">Referência </label>
						            <div class="controls"><textarea class="span6" name="referencia" cols="5" rows="5"><?php echo (isset($this->post_var)) ? $this->post_var["referencia"] : ''; ?></textarea></div>
						        </div>

						        <div class="control-group">
						            <label class="control-label">status </label>
						            <div class="controls"><input maxlength="20" placeholder="status" name="status" value="<?php echo (isset($this->post_var['status'])) ? $this->post_var['status'] : '' ?>" type="text"  class="span3" /></div>
						        </div>

						    
						    
						    </div>
						    
			                <div class="form-actions align-right">
			                	<?php if ((isset($this->visualizar)) && ($this->visualizar)) : ?>
			                		<button onclick="window.history.back()" class="btn btn-danger cancelar" type="button">Voltar</button>
			                	<?php else : ?>
				                	<button class="btn btn-primary enviar" type="submit">Salvar</button>
				                	<button onclick="window.history.back()" class="btn btn-danger cancelar" type="button">Cancelar</button>
			                	<?php endif; ?>
			                </div>
						</div>
						<!-- /general form elements -->

					</fieldset> 

				</form>
				<!-- /basic inputs -->

		    </div>
		    <!-- /content wrapper -->

		</div>
		<!-- content -->
				
<script type="text/javascript" src="<?php echo $this->baseUrl('/public/scripts/default/escolasedificacoes_form.js') ?>"></script>
<script type="text/javascript">
	var form_values = {};
	
	<?php if (isset($this->post_var)) :  ?>
		form_values.idescola = '<?php echo (isset($this->post_var['idescola'])) ? $this->post_var['idescola'] : '' ?>';

form_values.idtipoedificacao = '<?php echo (isset($this->post_var['idtipoedificacao'])) ? $this->post_var['idtipoedificacao'] : '' ?>';

form_values.e_idenderecoidestado = '<?php echo (isset($this->post_var['e_idenderecoidestado'])) ? $this->post_var['e_idenderecoidestado'] : '' ?>';

	<?php endif; ?>

	visualizar = <?php echo  ((isset($this->visualizar)) && ($this->visualizar))  ? 'true' : 'false' ?>
</script>