<?php 
	include_once BASE_PATH . '/public/scripts/ckeditor/ckeditor.php';
	require_once BASE_PATH . '/public/scripts/ckfinder/ckfinder.php';
	
	$ckeditor = new CKEditor();
	$ckeditor->basePath	= $this->baseUrl('/public/scripts/ckeditor/');
	
	$ckfinder = $this->baseUrl('/public/scripts/ckfinder/');
	
	CKFinder::SetupCKEditor($ckeditor, $ckfinder);
?>

		<!-- Content -->
		<div id="content">

		    <!-- Content wrapper -->
		    <div class="wrapper">

			    <!-- Breadcrumbs line -->
			    <div class="crumbs">
			    	<?php echo $this->render('/helpers/breadcrumb.phtml') ?>
			    </div>
			    <!-- /breadcrumbs line -->

			    <!-- Page header -->
			    <div class="page-header">
			    	<div class="page-title">
				    	<h5>Formulário do cadastro</h5>
				    	<span>Verifique os campos e preencha com os dados</span>
			    	</div>
			    	
			    </div>
			    <!-- /page header -->

			    <?php if (isset($this->crudMessage)) : ?>
				<div class="alert alert-success">
                	<button data-dismiss="alert" class="close" type="button">×</button>
                    <strong>Operação realizada com sucesso!</strong>
	    			<span><br /><?php echo $this->crudMessage ?></span>
                </div>			    
			    <?php endif; ?>

				<form id="form" name="form" action="" method="post" class="form-horizontal" enctype="multipart/form-data"> 
					<input type="hidden" value="<?php echo (isset($this->post_var)) ? $this->post_var["id"] : ''; ?>" name="id" id="id" />
					<fieldset>

						<!-- General form elements -->
						<div class="widget row-fluid">
						    <div class="navbar">
						        <div class="navbar-inner">
						            <h6>Digite as informações do formulário</h6>
						        </div>
						    </div>

						    <div class="well">

								<?php if (isset($this->erros)) : ?>
								<div class="alert alert-error margin">
			                        <button data-dismiss="alert" class="close" type="button">×</button>
			                        <strong>Há erros no formulário!</strong>
				    				<?php foreach ($this->erros as $k=>$v) : ?>
				    				<span><br />- <?php echo $v ?></span>
				    				<?php endforeach;?>			                        
			                    </div>
			                    <?php endif; ?>						    
						    
						        <div class="control-group">
						            <label class="control-label">Nome do usuário <span class="required">*</span></label>
						            <div class="controls"><input name="nomerazao" placeholder="Nome do usuário" value="<?php echo (isset($this->post_var['nomerazao'])) ? $this->post_var['nomerazao'] : '' ?>" type="text" name="regular" class="span3" /></div>
						        </div>
						        
						        <div class="control-group">
						            <label class="control-label">Sobrenome do usuário <span class="required">*</span></label>
						            <div class="controls"><input name="sobrenomefantasia" placeholder="Sobrenome do usuário" value="<?php echo (isset($this->post_var['sobrenomefantasia'])) ? $this->post_var['sobrenomefantasia'] : '' ?>" type="text" name="regular" class="span3" /></div>
						        </div>	

				        		<div class="control-group">
				        			<label class="control-label">Prefeitura *</label>
				        			<div class="controls">
				        				<select id="idprefeitura" name="idprefeitura" class="form-control">
				        					<?php foreach ($this->prefeituras as $p=>$prefeitura): ?>
				        					<?php 
				        						$cidade = $prefeitura['c1nome'];

				        						if(($prefeitura['idendereco'] > 0) && (!$cidade) || ($cidade=="")){				        							
				        							$endereco = Enderecos::getEnderecoById($prefeitura['idendereco']);
				        							if(isset($endereco['cidade'])) $cidade = $endereco['cidade'];
				        						}

				        					?>
				        					<option value="<?php echo $prefeitura['id']?>"><?php echo $prefeitura['e1nome'] . ' > ' . $cidade ?></option>
				        					<?php endforeach;?>
										</select>        				
									</div>
								</div>

								<div class="control-group">
				        			<label class="control-label">RGF *</label>
				        			<div class="controls">
				        				<input name="rgf" value="<?php echo (isset($this->post_var['rgf'])) ? $this->post_var['rgf'] : '' ?>" type="text" class="span3" placeholder="RGF">
									</div>
								</div>												
						        
				        		<div class="control-group">
				        			<label class="control-label">É Professor ?*</label>
				        			<div class="controls">
				        				<select id="professor" name="professor" class="form-control" onchange="setCampos(this, '')">
				        					<option value="">Selecione...</option>
				        					<option value="Sim">Sim</option>
				        					<option value="Não">Não</option>
										</select>        				
									</div>
								</div>

						        <div class="control-group">
						            <label class="control-label">E-mail de acesso <span class="required">*</span></label>
						            <div class="controls"><input name="email" placeholder="E-mail de acesso" value="<?php echo (isset($this->post_var['email'])) ? $this->post_var['email'] : '' ?>" type="text" name="regular" class="span3" /></div>
						        </div>		
				
						        <div class="control-group">
						            <label class="control-label">Senha <?php if ($this->getAction()=='adicionar') : ?><span class="required">*</span><?php endif;?></label>
						            <div class="controls"><input autocomplete="off" name="senha" placeholder="Senha" value="" type="password" name="regular" class="span3" /></div>
						        </div>			

						        <div class="control-group">
						            <label class="control-label">Confirme a senha <?php if ($this->getAction()=='adicionar') : ?><span class="required">*</span><?php endif;?></label>
						            <div class="controls"><input autocomplete="off" name="resenha" placeholder="Confirme a senha" value="" type="password" name="regular" class="span3" /></div>
						        </div>					
				

				        		

<div class="control-group campos_professores" style="display:none;">
        			<label class="control-label">Escolas *</label>
        			<div class="controls">
        				<input type="hidden" value="<?php echo (isset($this->post_var_professor)) ? $this->post_var_professor["idperfil"] : ''; ?>" name="idperfilprofessor" id="idperfilprofessor" />
        				<input type="hidden" value="<?php echo (isset($this->post_var_professor)) ? $this->post_var_professor["iddepartamento"] : ''; ?>" name="iddepartamentoprofessor" id="iddepartamentoprofessor" />
        				<input type="hidden" value="<?php echo (isset($this->post_var_professor)) ? $this->post_var_professor["idcargo"] : ''; ?>" name="idcargoprofessor" id="idcargoprofessor" />
        				<?php foreach ($this->escolas as $k=>$v) : ?>
        				<input type="checkbox" value="<?php echo $v['id'] ?>" name="idescolas[]" /> <?php echo $v['escola'] ?><br />
        				<?php endforeach;?>      				
					</div>
				</div>
        		
	        	<div class="campos_nao_professores" style="display:none;">	
	        		<div class="control-group">
	        			<label class="control-label">Escola *</label>
	        			<div class="controls">
	        				<select id="idescola" name="idescola" class="form-control" onchange="setPerfil(this, 0)">
	        					<option value="">Selecione...</option>
	        					<?php foreach ($this->escolas as $e=>$escola) : ?>
	        					<option value="<?php echo $escola['id'] ?>"><?php echo $escola['escola'] ?></option>
	        					<?php endforeach;?>
							</select>        				
						</div>
					</div>			
					
								<div class="control-group">
				        			<label class="control-label">Envia e-mails para</label>
				        			<div class="controls">
				        				<select id="professor" name="enviaemails" class="form-control" onchange="setDepartamentos(this, '')">
				        					<option value="">Selecione...</option>
				        					<option value="Rede municipal de ensino">Rede municipal de ensino</option>
				        					<option value="Professor">Professor</option>
				        					<option value="Departamentos">Departamentos</option>
										</select>        				
									</div>
								</div>
								<div class="control-group campos_departamentos" style="display:none;">
				        			<label class="control-label">Departamentos</label>
				        			<div class="controls content_departamentos">
				           				
									</div>
								</div>

	        		<div class="control-group">
	        			<label class="control-label">Perfil de acesso *</label>
	        			<div class="controls">
	        				<select id="idperfil" name="idperfil" class="form-control">
	        					<option value="">Selecione...</option>
								<?php foreach ($this->perfis as $i=>$row) : ?>
								<option value="<?php echo $row['id'] ?>"><?php echo $row['perfil'] ?></option>
								<?php endforeach;?>
							</select>        				
						</div>
					</div>
					
	        		<div class="control-group">
	        			<label class="control-label">Departamento *</label>
	        			<div class="controls">
	        				<select id="iddepartamento" name="iddepartamento" class="form-control" onchange="setCargo(this, 0)">
	        					<option value="">Selecione...</option>
	        					<?php foreach ($this->departamentos as $d=>$departamento) : ?>
	        					<option value="<?php echo $departamento['id'] ?>"><?php echo $departamento['departamento'] ?></option>
	        					<?php endforeach;?>
							</select>        				
						</div>
					</div>	
					
	        		<div class="control-group">
	        			<label class="control-label">Cargo *</label>
	        			<div class="controls">
	        				<select id="idcargo" name="idcargo" class="form-control">
	        					<option value="">Selecione...</option>
							</select>        				
						</div>
					</div>
				</div>						       


		        <div class="control-group">
					<label class="control-label">
						Descrições de suas funções
					</label>
					<div class="controls">
						<?php if ((isset($this->visualizar)) && ($this->visualizar)) : ?>
						<div style="padding-top:10px"><?php echo $this->post_var['funcoes']; ?></div>
						<?php else : ?>
						<?php $value1 = (isset($this->post_var['funcoes'])) ? $this->post_var['funcoes'] : ''; ?>
						<?php $ckeditor->editor('funcoes', $value1); ?>
						<?php endif; ?>
					</div>
				</div>
				
				<div class="control-group">
					<label class="control-label">
						Unidade de desenvolvimento das atividades
					</label>
					<div class="controls">
						<?php if ((isset($this->visualizar)) && ($this->visualizar)) : ?>
						<div style="padding-top:10px"><?php echo $this->post_var['unidadesdesenvolvimento']; ?></div>
						<?php else : ?>
						<?php $value1 = (isset($this->post_var['unidadesdesenvolvimento'])) ? $this->post_var['unidadesdesenvolvimento'] : ''; ?>
						<?php $ckeditor->editor('unidadesdesenvolvimento', $value1); ?>
						<?php endif; ?>
					</div>
				</div>
				
				<div class="control-group">
					<label class="control-label">
						Observações
					</label>
					<div class="controls">
						<?php if ((isset($this->visualizar)) && ($this->visualizar)) : ?>
						<div style="padding-top:10px"><?php echo $this->post_var['observacoes']; ?></div>
						<?php else : ?>
						<?php $value1 = (isset($this->post_var['observacoes'])) ? $this->post_var['observacoes'] : ''; ?>
						<?php $ckeditor->editor('observacoes', $value1); ?>
						<?php endif; ?>
					</div>
				</div>
				
				<div class="control-group">
					<label class="control-label">
						Descrição do(s) Período(s) de atividade(s)
					</label>
					<div class="controls">
						<?php if ((isset($this->visualizar)) && ($this->visualizar)) : ?>
						<div style="padding-top:10px"><?php echo $this->post_var['periodoatividades']; ?></div>
						<?php else : ?>
						<?php $value1 = (isset($this->post_var['periodoatividades'])) ? $this->post_var['periodoatividades'] : ''; ?>
						<?php $ckeditor->editor('periodoatividades', $value1); ?>
						<?php endif; ?>
					</div>
				</div>
				
				<div class="control-group">
					<label class="control-label">
						Situação da gestão
					</label>
					<div class="controls">
						<?php if ((isset($this->visualizar)) && ($this->visualizar)) : ?>
						<div style="padding-top:10px"><?php echo $this->post_var['situacaogestao']; ?></div>
						<?php else : ?>
						<?php $value1 = (isset($this->post_var['situacaogestao'])) ? $this->post_var['situacaogestao'] : ''; ?>
						<?php $ckeditor->editor('situacaogestao', $value1); ?>
						<?php endif; ?>
					</div>
				</div>
				
        		<div class="control-group">
        			<label class="control-label">Recebe Solicitações</label>
        			<div class="controls">
        				<select id="recebesolicitacoes" name="recebesolicitacoes" class="form-control">
        					<option value="">Selecione...</option>
        					<option value="Não">Não</option>
        					<option value="Sim">Sim</option>
						</select>        				
					</div>
				</div>
				<?php /*?>
        		<div class="control-group">
        			<label class="control-label">E-mail de acesso *</label>
        			<div class="controls">
        				<input name="email" value="<?php echo (isset($this->post_var['email'])) ? $this->post_var['email'] : '' ?>" type="text" class="form-control" placeholder="E-mail de acesso">
					</div>
				</div>					
				
        		<div class="control-group">
        			<label class="control-label">Senha</label>
        			<div class="controls">
        				<input name="senha" value="" type="password" class="form-control" placeholder="Informe apenas se desejar alterar a senha">
					</div>
				</div>				
				
        		<div class="control-group">
        			<label class="control-label">Confirme a senha</label>
        			<div class="controls">
        				<input name="resenha" value="" type="password" class="form-control" placeholder="Confirme apenas se desejar alterar a senha">
					</div>
				</div>						
				<?php */?>
        		<div class="control-group">
        			<label class="control-label">Status *</label>
        			<div class="controls">
        				<select id="status1" name="status1" class="form-control">
        					<option value="">Selecione...</option>
        					<option value="Ativo">Ativo</option>
        					<option value="Bloqueado">Bloqueado</option>
						</select>        				
					</div>
				</div>								        
						        

						        
						    </div>
						    
			                <div class="form-actions align-right">
			                	<?php if ((isset($this->visualizar)) && ($this->visualizar)) : ?>
			                	<button onclick="window.history.back()" class="btn btn-danger cancelar" type="button">Voltar</button>
			                	<?php else : ?>
			                	<button class="btn btn-primary enviar" type="submit">Salvar</button>
			                	<button onclick="window.history.back()" class="btn btn-danger cancelar" type="button">Cancelar</button>
			                	<?php endif; ?>
			                </div>						    
						    
						    
						</div>
						<!-- /general form elements -->


					</fieldset> 

				</form>
				<!-- /basic inputs -->

		    </div>
		    <!-- /content wrapper -->

		</div>
		<!-- content -->
		
		
<script type="text/javascript" src="<?php echo $this->baseUrl('/public/scripts/admin/escolasusuarios_form.js') ?>"></script>

<script type="text/javascript">

	var form_values = {};
	<?php if ((isset($this->post_var['status1'] )) || (isset($this->post_var['status'] ))) :  ?>
		form_values.status1 = '<?php echo (isset($this->post_var['status1'])) ? $this->post_var['status1'] : $this->post_var['status'] ?>';
	<?php endif; ?>

	<?php if (isset($this->post_var['idescola'])) :  ?>
		form_values.idescola = '<?php echo (isset($this->post_var['idescola'])) ? $this->post_var['idescola'] : "" ?>';
	<?php endif; ?>

	<?php if (isset($this->post_var['professor'])) :  ?>
		form_values.professor = '<?php echo (isset($this->post_var['professor'])) ? $this->post_var['professor'] : "" ?>';
	<?php endif; ?>	

	<?php if ((isset($this->post_var['idperfil'] )) || (isset($this->post_var['idperfil'] ))) :  ?>
		form_values.idperfil = '<?php echo (isset($this->post_var['idperfil'])) ? $this->post_var['idperfil'] : $this->post_var['idperfil'] ?>';
	<?php endif; ?>

	<?php if (isset($this->post_var['iddepartamento'])) :  ?>
		form_values.iddepartamento = '<?php echo (isset($this->post_var['iddepartamento'])) ? $this->post_var['iddepartamento'] : $this->post_var['iddepartamento'] ?>';
	<?php endif; ?>
	
	<?php if (isset($this->post_var['idcargo'])) :  ?>
		form_values.idcargo = '<?php echo (isset($this->post_var['idcargo'])) ? $this->post_var['idcargo'] : "" ?>';
	<?php endif; ?>

	<?php if (isset($this->post_var['recebesolicitacoes'])) :  ?>
		form_values.recebesolicitacoes = '<?php echo (isset($this->post_var['recebesolicitacoes'])) ? $this->post_var['recebesolicitacoes'] : "" ?>';
	<?php endif; ?>	

	<?php if (isset($this->post_var['idprefeitura'])) :  ?>
		form_values.idprefeitura = '<?php echo (isset($this->post_var['idprefeitura'])) ? $this->post_var['idprefeitura'] : "" ?>';
	<?php endif; ?>

	<?php if (isset($this->post_var['enviaemails'])) :  ?>
		form_values.enviaemails = '<?php echo (isset($this->post_var['enviaemails'])) ? $this->post_var['enviaemails'] : "" ?>';
	<?php endif; ?>	

	<?php if (isset($this->post_var['idescolas'])) :  ?>
	form_values.idescolas = [<?php echo (isset($this->post_var['idescolas'])) ? $this->post_var['idescolas'] : '' ?>];
	<?php endif; ?>	

	<?php if (isset($this->post_var['idsdepartamentos'])) :  ?>
	form_values.idsdepartamentos = [<?php echo (isset($this->post_var['idsdepartamentos'])) ? $this->post_var['idsdepartamentos'] : '' ?>];
	<?php endif; ?>	
</script>


<?php /* ?>

<?php 
	include_once BASE_PATH . '/public/scripts/ckeditor/ckeditor.php';
	require_once BASE_PATH . '/public/scripts/ckfinder/ckfinder.php';
	
	$ckeditor = new CKEditor();
	$ckeditor->basePath	= $this->baseUrl('/public/scripts/ckeditor/');
	
	$ckfinder = $this->baseUrl('/public/scripts/ckfinder/');
	
	CKFinder::SetupCKEditor($ckeditor, $ckfinder);
?>
<div class="contentpanel">

	<div class="panel panel-default">
	
		<div class="panel-heading">
			
			<?php if (isset($this->erros)) :  ?>
			<div class="alert alert-danger">
				<button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
				<strong>Erro!</strong> 
				<?php foreach ($this->erros as $erro) : ?>
				<br /><?php echo $erro?>
				<?php endforeach;?>
			</div>				
			
			<?php endif;?>
			
			<h4 class="panel-title">Formulário de usuário</h4>
			<p>Informe os dados do usuário.</p>
        </div>
        <div class="panel-body panel-body-nopadding">
        	<form id="form" name="form" method="post" class="form-horizontal form-bordered">
        		<input type="hidden" value="<?php echo (isset($this->post_var)) ? $this->post_var["id"] : ''; ?>" name="id" id="id" />
        	
        		<div class="form-group">
        			<label class="col-sm-3 control-label">Nome do usuário *</label>
        			<div class="col-sm-6">
        				<input name="nomerazao" value="<?php echo (isset($this->post_var['nomerazao'])) ? $this->post_var['nomerazao'] : '' ?>" type="text" class="form-control" placeholder="Nome do usuário">
					</div>
				</div>
				
        		<div class="form-group">
        			<label class="col-sm-3 control-label">Sobrenome do usuário *</label>
        			<div class="col-sm-6">
        				<input name="sobrenomefantasia" value="<?php echo (isset($this->post_var['sobrenomefantasia'])) ? $this->post_var['sobrenomefantasia'] : '' ?>" type="text" class="form-control" placeholder="Sobrenome do usuário">
					</div>
				</div>	
				
        		<div class="form-group">
        			<label class="col-sm-3 control-label">Prefeitura *</label>
        			<div class="col-sm-6">
        				<select id="idprefeitura" name="idprefeitura" class="form-control">
        					<option value="">Selecione...</option>
        					<?php foreach ($this->prefeituras as $p=>$prefeitura): ?>
        					<option value="<?php echo $prefeitura['id']?>"><?php echo $prefeitura['e1nome'] . ' > ' . $prefeitura['c1nome']?></option>
        					<?php endforeach;?>
						</select>        				
					</div>
				</div>	
				
        		<div class="form-group">
        			<label class="col-sm-3 control-label">RGF *</label>
        			<div class="col-sm-6">
        				<input name="rgf" value="<?php echo (isset($this->post_var['rgf'])) ? $this->post_var['rgf'] : '' ?>" type="text" class="form-control" placeholder="RGF">
					</div>
				</div>	
				
        		<div class="form-group">
        			<label class="col-sm-3 control-label">É Professor ?*</label>
        			<div class="col-sm-6">
        				<select id="professor" name="professor" class="form-control" onchange="setCampos(this, '')">
        					<option value="">Selecione...</option>
        					<option value="Sim">Sim</option>
        					<option value="Não">Não</option>
						</select>        				
					</div>
				</div>	
        		
        		<div class="form-group campos_professores" style="display:none;">
        			<label class="col-sm-3 control-label">Escolas *</label>
        			<div class="col-sm-6">
        				<input type="hidden" value="<?php echo (isset($this->post_var_professor)) ? $this->post_var_professor["idperfil"] : ''; ?>" name="idperfilprofessor" id="idperfilprofessor" />
        				<input type="hidden" value="<?php echo (isset($this->post_var_professor)) ? $this->post_var_professor["iddepartamento"] : ''; ?>" name="iddepartamentoprofessor" id="iddepartamentoprofessor" />
        				<input type="hidden" value="<?php echo (isset($this->post_var_professor)) ? $this->post_var_professor["idcargo"] : ''; ?>" name="idcargoprofessor" id="idcargoprofessor" />
        				<?php foreach ($this->escolas as $k=>$v) : ?>
        				<input type="checkbox" value="<?php echo $v['id'] ?>" name="idescolas[]" /> <?php echo $v['escola'] ?><br />
        				<?php endforeach;?>      				
					</div>
				</div>
        		
	        	<div class="campos_nao_professores" style="display:none;">	
	        		<div class="form-group">
	        			<label class="col-sm-3 control-label">Escola *</label>
	        			<div class="col-sm-6">
	        				<select id="idescola" name="idescola" class="form-control" onchange="setPerfil(this, 0)">
	        					<option value="">Selecione...</option>
	        					<?php foreach ($this->escolas as $e=>$escola) : ?>
	        					<option value="<?php echo $escola['id'] ?>"><?php echo $escola['escola'] ?></option>
	        					<?php endforeach;?>
							</select>        				
						</div>
					</div>			
					
	        		<div class="form-group">
	        			<label class="col-sm-3 control-label">Perfil de acesso *</label>
	        			<div class="col-sm-6">
	        				<select id="idperfil" name="idperfil" class="form-control">
	        					<option value="">Selecione...</option>
								<?php foreach ($this->perfis as $i=>$row) : ?>
								<option value="<?php echo $row['id'] ?>"><?php echo $row['perfil'] ?></option>
								<?php endforeach;?>
							</select>        				
						</div>
					</div>
					
	        		<div class="form-group">
	        			<label class="col-sm-3 control-label">Departamento *</label>
	        			<div class="col-sm-6">
	        				<select id="iddepartamento" name="iddepartamento" class="form-control" onchange="setCargo(this, 0)">
	        					<option value="">Selecione...</option>
	        					<?php foreach ($this->departamentos as $d=>$departamento) : ?>
	        					<option value="<?php echo $departamento['id'] ?>"><?php echo $departamento['departamento'] ?></option>
	        					<?php endforeach;?>
							</select>        				
						</div>
					</div>	
					
	        		<div class="form-group">
	        			<label class="col-sm-3 control-label">Cargo *</label>
	        			<div class="col-sm-6">
	        				<select id="idcargo" name="idcargo" class="form-control">
	        					<option value="">Selecione...</option>
							</select>        				
						</div>
					</div>
				</div>
				
				<div class="form-group">
					<label class="col-sm-3 control-label">
						Descrições de suas funções
					</label>
					<div class="col-sm-6">
						<?php if ((isset($this->visualizar)) && ($this->visualizar)) : ?>
						<div style="padding-top:10px"><?php echo $this->post_var['funcoes']; ?></div>
						<?php else : ?>
						<?php $value1 = (isset($this->post_var['funcoes'])) ? $this->post_var['funcoes'] : ''; ?>
						<?php $ckeditor->editor('funcoes', $value1); ?>
						<?php endif; ?>
					</div>
				</div>
				
				<div class="form-group">
					<label class="col-sm-3 control-label">
						Unidade de desenvolvimento das atividades
					</label>
					<div class="col-sm-6">
						<?php if ((isset($this->visualizar)) && ($this->visualizar)) : ?>
						<div style="padding-top:10px"><?php echo $this->post_var['unidadesdesenvolvimento']; ?></div>
						<?php else : ?>
						<?php $value1 = (isset($this->post_var['unidadesdesenvolvimento'])) ? $this->post_var['unidadesdesenvolvimento'] : ''; ?>
						<?php $ckeditor->editor('unidadesdesenvolvimento', $value1); ?>
						<?php endif; ?>
					</div>
				</div>
				
				<div class="form-group">
					<label class="col-sm-3 control-label">
						Observações
					</label>
					<div class="col-sm-6">
						<?php if ((isset($this->visualizar)) && ($this->visualizar)) : ?>
						<div style="padding-top:10px"><?php echo $this->post_var['observacoes']; ?></div>
						<?php else : ?>
						<?php $value1 = (isset($this->post_var['observacoes'])) ? $this->post_var['observacoes'] : ''; ?>
						<?php $ckeditor->editor('observacoes', $value1); ?>
						<?php endif; ?>
					</div>
				</div>
				
				<div class="form-group">
					<label class="col-sm-3 control-label">
						Descrição do(s) Período(s) de atividade(s)
					</label>
					<div class="col-sm-6">
						<?php if ((isset($this->visualizar)) && ($this->visualizar)) : ?>
						<div style="padding-top:10px"><?php echo $this->post_var['periodoatividades']; ?></div>
						<?php else : ?>
						<?php $value1 = (isset($this->post_var['periodoatividades'])) ? $this->post_var['periodoatividades'] : ''; ?>
						<?php $ckeditor->editor('periodoatividades', $value1); ?>
						<?php endif; ?>
					</div>
				</div>
				
				<div class="form-group">
					<label class="col-sm-3 control-label">
						Situação da gestão
					</label>
					<div class="col-sm-6">
						<?php if ((isset($this->visualizar)) && ($this->visualizar)) : ?>
						<div style="padding-top:10px"><?php echo $this->post_var['situacaogestao']; ?></div>
						<?php else : ?>
						<?php $value1 = (isset($this->post_var['situacaogestao'])) ? $this->post_var['situacaogestao'] : ''; ?>
						<?php $ckeditor->editor('situacaogestao', $value1); ?>
						<?php endif; ?>
					</div>
				</div>
				
        		<div class="form-group">
        			<label class="col-sm-3 control-label">Recebe Solicitações</label>
        			<div class="col-sm-6">
        				<select id="recebesolicitacoes" name="recebesolicitacoes" class="form-control">
        					<option value="">Selecione...</option>
        					<option value="Não">Não</option>
        					<option value="Sim">Sim</option>
						</select>        				
					</div>
				</div>
				
        		<div class="form-group">
        			<label class="col-sm-3 control-label">E-mail de acesso *</label>
        			<div class="col-sm-6">
        				<input name="email" value="<?php echo (isset($this->post_var['email'])) ? $this->post_var['email'] : '' ?>" type="text" class="form-control" placeholder="E-mail de acesso">
					</div>
				</div>					
				
        		<div class="form-group">
        			<label class="col-sm-3 control-label">Senha</label>
        			<div class="col-sm-6">
        				<input name="senha" value="" type="password" class="form-control" placeholder="Informe apenas se desejar alterar a senha">
					</div>
				</div>				
				
        		<div class="form-group">
        			<label class="col-sm-3 control-label">Confirme a senha</label>
        			<div class="col-sm-6">
        				<input name="resenha" value="" type="password" class="form-control" placeholder="Confirme apenas se desejar alterar a senha">
					</div>
				</div>						
				
        		<div class="form-group">
        			<label class="col-sm-3 control-label">Status *</label>
        			<div class="col-sm-6">
        				<select id="status1" name="status1" class="form-control">
        					<option value="">Selecione...</option>
        					<option value="Ativo">Ativo</option>
        					<option value="Bloqueado">Bloqueado</option>
						</select>        				
					</div>
				</div>				

				
				<div class="panel-footer">
					<div class="row">
						<div class="col-sm-6 col-sm-offset-3">
							<?php if ((isset($this->visualizar)) && ($this->visualizar)) : ?>
							<button type="button" onclick="window.history.back()" class="btn btn-default">Voltar</button>
							<?php else : ?>
							<button class="btn btn-primary">Salvar</button>&nbsp;
							<button type="button" onclick="window.history.back()" class="btn btn-default">Cancelar</button>
							<?php endif;?>
						</div>
					</div>
				</div><!-- panel-footer -->				
				
			</form>
          
		</div><!-- panel-body -->
	</div>
</div>
<script type="text/javascript" src="<?php echo $this->baseUrl('/public/scripts/admin/escolasusuarios_form.js') ?>"></script>

<script type="text/javascript">

	var form_values = {};
	<?php if ((isset($this->post_var['status1'] )) || (isset($this->post_var['status'] ))) :  ?>
		form_values.status1 = '<?php echo (isset($this->post_var['status1'])) ? $this->post_var['status1'] : $this->post_var['status'] ?>';
	<?php endif; ?>

	<?php if (isset($this->post_var['idescola'])) :  ?>
		form_values.idescola = '<?php echo (isset($this->post_var['idescola'])) ? $this->post_var['idescola'] : "" ?>';
	<?php endif; ?>

	<?php if (isset($this->post_var['professor'])) :  ?>
		form_values.professor = '<?php echo (isset($this->post_var['professor'])) ? $this->post_var['professor'] : "" ?>';
	<?php endif; ?>	

	<?php if ((isset($this->post_var['idperfil'] )) || (isset($this->post_var['idperfil'] ))) :  ?>
		form_values.idperfil = '<?php echo (isset($this->post_var['idperfil'])) ? $this->post_var['idperfil'] : $this->post_var['idperfil'] ?>';
	<?php endif; ?>

	<?php if (isset($this->post_var['iddepartamento'])) :  ?>
		form_values.iddepartamento = '<?php echo (isset($this->post_var['iddepartamento'])) ? $this->post_var['iddepartamento'] : $this->post_var['iddepartamento'] ?>';
	<?php endif; ?>
	
	<?php if (isset($this->post_var['idcargo'])) :  ?>
		form_values.idcargo = '<?php echo (isset($this->post_var['idcargo'])) ? $this->post_var['idcargo'] : "" ?>';
	<?php endif; ?>

	<?php if (isset($this->post_var['recebesolicitacoes'])) :  ?>
		form_values.recebesolicitacoes = '<?php echo (isset($this->post_var['recebesolicitacoes'])) ? $this->post_var['recebesolicitacoes'] : "" ?>';
	<?php endif; ?>	

	<?php if (isset($this->post_var['idprefeitura'])) :  ?>
		form_values.idprefeitura = '<?php echo (isset($this->post_var['idprefeitura'])) ? $this->post_var['idprefeitura'] : "" ?>';
	<?php endif; ?>

	<?php if (isset($this->post_var['idescolas'])) :  ?>
	form_values.idescolas = [<?php echo (isset($this->post_var['idescolas'])) ? $this->post_var['idescolas'] : '' ?>];
	<?php endif; ?>	
</script>

<?php */ ?>