        <!-- Content -->
        <div id="content">

            <!-- Content wrapper -->
            <div class="wrapper">

                <!-- Breadcrumbs line -->
                <div class="crumbs">
                    <?php echo $this->render('/helpers/breadcrumb.phtml') ?>
                </div>
                <!-- /breadcrumbs line -->

                <!-- Page header -->
                <div class="page-header">
                    <div class="page-title">
                        <h5>Formulário do produto em estoque</h5>
                        <span>Verifique os campos e preencha com os dados</span>
                    </div>
                </div>
                <!-- /page header -->

                <?php if (isset($this->crudMessage)) : ?>
                    <div class="alert alert-success">
                        <button data-dismiss="alert" class="close" type="button">×</button>
                        <strong>Operação realizada com sucesso!</strong>
                        <span><br /><?php echo $this->crudMessage ?></span>
                    </div>              
                <?php endif; ?>

                <form id="form" name="form" action="" method="post" class="form-horizontal" enctype="multipart/form-data"> 
                    <input type="hidden" value="<?php echo (isset($this->post_var)) ? $this->post_var["id"] : ''; ?>" name="id" id="id" />
                    
                    <fieldset>
                        <!-- General form elements -->
                        <div class="widget row-fluid">
                            <div class="navbar">
                                <div class="navbar-inner">
                                    <h6>Digite as informações do formulário</h6>
                                </div>
                            </div>

                            <div class="well">
                                <?php if (isset($this->erros)) : ?>
                                    <div class="alert alert-error margin">
                                        <button data-dismiss="alert" class="close" type="button">×</button>
                                        <strong>Há erros no formulário!</strong>
                                        <?php foreach ($this->erros as $k=>$v) : ?>
                                            <span><br />- <?php echo $v ?></span>
                                        <?php endforeach;?>
                                    </div>
                                <?php endif; ?>

                                <div class="control-group">
                                    <label class="control-label">Código do produto </label>
                                    <div class="controls">
                                        <span><?php echo (isset($this->post_var['codigoproduto'])) ? $this->post_var['codigoproduto'] : '' ?></span>
                                    </div>
                                </div>

                                <div class="control-group">
                                    <label class="control-label">Produto <span class="required">*</span></label>
                                    <div class="controls">
                                        <span><?php echo (isset($this->post_var['produto'])) ? $this->post_var['produto'] : '' ?></span>
                                    </div>
                                </div>

                                <div class="control-group">
                                    <label class="control-label">Descrições </label>
                                    <div class="controls">
                                        <span><?php echo (isset($this->post_var)) ? $this->post_var["descricoes"] : ''; ?></span>
                                    </div>
                                </div>

                                <div class="control-group">
                                    <label class="control-label">Foto Produto </label>
                                    <div class="controls" id="foto_produto">
                                        <?= ((isset($this->post_var['idimagem'])) && ((int)$this->post_var['idimagem']>0)) ? $this->getImagem($this->post_var['idimagem'], 80, 80, '', Imagens::$INDISPONIVEL) : '' ?>
                                    </div>
                                </div>

                                <div id="foto_grande" style="display: none;">
                                    <?= ((isset($this->post_var['idimagem'])) && ((int)$this->post_var['idimagem']>0)) ? $this->getImagem($this->post_var['idimagem'], 600, 450, '', Imagens::$INDISPONIVEL) : '' ?>
                                </div>

                                <div class="control-group">
                                    <label class="control-label">Unidade de medida </label>
                                    <div class="controls">
                                        <span><?php echo (isset($this->post_var)) ? $this->post_var["unidademedida"] : ''; ?></span>
                                    </div>
                                </div>

                                <div class="control-group">
                                    <label class="control-label">Categoria </label>
                                    <div class="controls">
                                        <span><?php echo (isset($this->post_var)) ? $this->post_var["categoria"] : ''; ?></span>
                                    </div>
                                </div>

                                <div class="control-group">
                                    <label class="control-label">Status <span class="required">*</span></label>
                                    <div class="controls">
                                        <span><span><?php echo (isset($this->post_var)) ? $this->post_var["status"] : ''; ?></span></span>
                                    </div>
                                </div>

                                <div class="control-group">
                                    <label class="control-label">Estoque Mínimo </label>
                                    <div class="controls"><input maxlength="500" placeholder="Estoque Mínimo" name="estoqueminimo" value="<?php echo (isset($this->post_var['estoqueminimo'])) ? $this->post_var['estoqueminimo'] : '' ?>" type="text"  class="span3" /></div>
                                </div>

                                <div class="control-group">
                                    <label class="control-label">Estoque Máximo </label>
                                    <div class="controls"><input maxlength="500" placeholder="Estoque Máximo" name="estoquemaximo" value="<?php echo (isset($this->post_var['estoquemaximo'])) ? $this->post_var['estoquemaximo'] : '' ?>" type="text"  class="span3" /></div>
                                </div>

                            </div>

                            <div class="form-actions align-right">
                                <?php if ((isset($this->visualizar)) && ($this->visualizar)) : ?>
                                <button onclick="window.history.back()" class="btn btn-danger cancelar" type="button">Voltar</button>
                                <?php else : ?>
                                    <button class="btn btn-primary enviar" type="submit">Salvar</button>
                                    <button onclick="window.history.back()" class="btn btn-danger cancelar" type="button">Cancelar</button>
                                <?php endif; ?>
                            </div>
                        </div>
                        <!-- /general form elements -->

                    </fieldset> 

                </form>
                <!-- /basic inputs -->

            </div>
            <!-- /content wrapper -->

        </div>
        <!-- content -->

        <script type="text/javascript" src="<?php echo $this->baseUrl('/public/scripts/admin/almoxarifadoestoqueprodutos_form.js') ?>"></script>