<style type="text/css">
#solicitacao tr:nth-child(odd) {
  background-color:#ffffff;
}
#solicitacao tr:nth-child(even) {
  background-color:#e6e6e6;
}

.modal {
  position: fixed;
  top: 10%;
  left: 50%;
  z-index: 1050;
  width: 760px;
  height: 350px;
  margin-left: -280px;
  background-color: #ffffff;
  border: 1px solid #d5d5d5;
  outline: none;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding-box;
  background-clip: padding-box;
}

.modal-body {
  display: block;
  position: relative;
  padding: 0px;
  overflow-y: hidden;
}

.modal-produtos {
  display: block;
  max-height: 50%;
  position: relative;
  padding: 0px;
  overflow-y: auto;
}

.modal-footer {
  position: absolute;
  bottom: 0;
  right: 0px;
  left: 0px;
  padding: 0px;
  margin-bottom: 0px;
  text-align: right;
  background-color: #fcfcfc;
  border-top: 1px solid #ddd;
  *zoom: 1;
  -webkit-box-shadow: inset 0 1px 0 #ffffff;
  -moz-box-shadow: inset 0 1px 0 #ffffff;
  box-shadow: inset 0 1px 0 #ffffff;
}

table {
  width: 600px;
}

table tr, td {
  padding-top: 5px;
  padding-left: 5px;
  padding-bottom: 5px;
}
td {
  width: 25%;
}

</style>
<?php
$estoque = $this->post_var;
?>
<div class="modal fade" id="produtos" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" data-backdrop="static">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title text-center">Buscar Produtos</h4>
  </div>

  <div class="modal-body">
    <table>
      <tr> 
        <td>
          <label>Código Produto</label>
          <input type="text" name="codigoproduto" id="codigoproduto">
        </td>
        <td>
          <label>Grupo</label>
          <select name="categoria" id="categoria" data-placeholder="Categoria" class="select">
            <option value="">Selecione...</option>
            <?php foreach (Almoxarifadocategoriasprodutos::getAlmoxarifadocategoriasprodutos() as $i=>$row) : ?>
              <option value="<?php echo $row['id'] ?>"><?php echo $row['categoria'] ?></option>
            <?php endforeach; ?>
          </select>
        </td> 
        <td>
          <label>Categoria</label>
          <select name="categoriaprodutos" id="categoriaprodutos" data-placeholder="Categoriaprodutos" class="select">
            <option value="">Selecione...</option>
            <?php foreach (Almoxarifadoprodutoscategorias::getAlmoxarifadoprodutoscategoriasHelper(array('status' => 'Ativo')) as $i=>$row) : ?>
              <option value="<?php echo $row['id'] ?>"><?php echo $row['nome'] ?></option>
            <?php endforeach; ?>
          </select>
        </td>
      </tr>
      <tr>
        <td>
          <label>Produto</label>
          <input type="text" name="produto" id="produto" >
        </td>
        <td>
          <label>Descrição</label>
          <input type="text" name="descricao" id="descricao" >
        </td>
        <td>
          <a href="#" id="find-produtos" class="btn btn-mini btn-primary" style="float: right;" >Pesquisar</a>
        </td>
        <td></td>
      </tr>
    </table>
  </div>

  <div id="modal-produtos" class="modal-produtos"></div>

  <div class="modal-footer">
    <a href="#" id="add-produto" class="btn btn-primary">Adicionar</a>
    <button class="btn btn-danger form-control" id="sair" data-dismiss="modal">Sair</button>
  </div>

</div>

<!-- Content -->
<div id="content">

  <!-- Content wrapper -->
  <div class="wrapper">

   <!-- Breadcrumbs line -->
   <div class="crumbs">
    <?php echo $this->render('/helpers/breadcrumb.phtml') ?>
  </div>
  <!-- /breadcrumbs line -->

  <!-- Page header -->
  <div class="page-header">
    <div class="page-title">
	<h5>Formulário de materiais de saída</h5>
	<span>Verifique os campos e preencha com os dados</span>
   </div>
 </div>
 <!-- /page header -->

 <?php if (isset($this->crudMessage)) : ?>
   <div class="alert alert-success">
    <button data-dismiss="alert" class="close" type="button">×</button>
    <strong>Operação realizada com sucesso!</strong>
    <span><br /><?php echo $this->crudMessage ?></span>
  </div>
<?php endif; ?>
  
<div class="box-colecoes col-md-12 panel-group" id="accordion" ></div>

<form id="form" name="form" method="post" class="form-horizontal" enctype="multipart/form-data">

  	<div class="widget row-fluid">
      <div class="navbar">
          <div class="navbar-inner">
              <h6>Digite as informações do formulário</h6>
              <a href="#" style="float:right;" id="mais-produtos" class="btn btn-primary"><i class="icon-plus"></i>&nbsp;Adicionar Produtos</a>
          </div>
      </div>

      				    
						    
			
      <div class="control-group">
					<div class="controls1 visualizar visualizartodos">
						<table class="table table-content" width="100%">
							<tbody>
								<tr>
									<td width="34%">Data da Abertura: 
									<?php 
									
										if(isset($this->post_var['datacriacao'])): 
											echo date('d/m/Y', strtotime($this->post_var['datacriacao'])) ;
										else: 
											echo date('d/m/Y'); 
										endif;
									
									?></td>
									<td width="33%">Hora da Abertura: 
									<?php 
									
										if(isset($this->post_var['datacriacao'])): 
											echo date('H:i:s', strtotime($this->post_var['datacriacao'])) ;
										else: 
											echo date('G:i:s'); 
										endif;
									
									?></td>
								</tr>
							</tbody>
						</table>
						
					</div>
				</div>
        <input maxlength="500" placeholder="Nome do Usuário" name="idperfil" value="<?php echo Usuarios::getUsuario('idperfil') ?>" type="hidden"  class="span3" />
        <?php $idescola = Usuarios::getUsuario('idescola');
              $idescolafuncionario = Funcionariosgeraisescolas::getFuncionariogeralescolaByIdHelper(Usuarios::getUsuario('idfuncionario')); ?>
				<?php $idlocal = Usuarios::getUsuario('idlocal'); ?>
				<?php if(($idescola>0) || ($idlocal>0)): ?>		    
				<div class="control-group">
					<div class="controls1 visualizar">
						<table class="table table-content" width="100%">
							<tbody>
								<tr>
									<input maxlength="500" placeholder="Nome do Usuário" name="idusuario" value="<?php echo $idescolafuncionario['id'] ?>" type="hidden"  class="span3" />
									<input  placeholder="Data de lançamento" name="datalancamento" value="<?php echo (isset($this->post_var['datalancamento'])) ? Mn_Util::formPostVarData($this->post_var['datalancamento']) : date('d/m/Y') ?>" type="hidden"  class="span3" />
									<input maxlength="500" placeholder="Nome do Usuário" name="idlocal" value="<?php echo Usuarios::getUsuario('idlocal') ?>" type="hidden"  class="span3" />
									<input maxlength="500" placeholder="Nome do Usuário" name="idescola" value="<?php echo $idescolafuncionario['idescola'] ?>" type="hidden"  class="span3" />

									<td width="33%">Nome do Usuário: <?php echo Usuarios::getUsuario('nomerazao') . " - " . Usuarios::getUsuario('rgf') ?></td>
									<!-- <td width="34%">Data da Abertura: <?php echo date('d/m/Y') ?></td> -->
									<td width="33%">Escola: 
                    					<?php  
											echo Usuarios::getEscolaAtiva(Usuarios::getUsuario('id'), 'escola');  
										?>
											
									</td>
								</tr>
							</tbody>
						</table>
						
					</div>
				</div>
				<?php else: ?>
				<div class="control-group">
					<div class="controls1 visualizar">
						<table class="table table-content" width="100%">
							<tbody>
								<tr>
									<input maxlength="500" placeholder="Nome do Usuário" name="idusuario" value="<?php echo $idescolafuncionario['id'] ?>" type="hidden"  class="span3" />
									<input  placeholder="Data de lançamento" name="datalancamento" value="<?php echo (isset($this->post_var['datalancamento'])) ? Mn_Util::formPostVarData($this->post_var['datalancamento']) : date('d/m/Y') ?>" type="hidden"  class="span3" />
                  <input maxlength="500" placeholder="Nome do Usuário" name="idlocal" value="<?php echo Usuarios::getUsuario('idlocal') ?>" type="hidden"  class="span3" />
                  <input maxlength="500" placeholder="Nome do Usuário" name="idescola" value="<?php echo $idescolafuncionario['idescola'] ?>" type="hidden"  class="span3" />
									<td width="50%">Nome do Usuário: <?php echo Usuarios::getUsuario('nomerazao') . " - " . Usuarios::getUsuario('rgf') ?></td>
									<td width="33%">Escola: <?php 
                      if(Usuarios::getUsuario('idescola') == '0'): 
                        echo Locais::getLocaisHelper(Usuarios::getUsuario('idperfil'))[0]['titulo'];
                        //echo "id zerado";
                      else: 
                        $local = Escolas::getEscolaByIdHelper(Usuarios::getUsuario('idescola')); 
                        //echo ((isset($local['escola'])) && ($local['escola']) && ($local['escola']!="") ) ? $local['escola'] : '';
                        echo $local['escola'];
                      endif;
                      
                    ?>
                      
                  </td>
								</tr>
							</tbody>
						</table>
						
					</div>
				</div>
        <?php endif; ?>
        
      <div class="well">
      <?php if (isset($this->erros)) : ?>
        <div class="alert alert-error margin">
          <button data-dismiss="alert" class="close" type="button">×</button>
          <strong>Há erros no formulário!</strong>
          <?php foreach ($this->erros as $k=>$v) : ?>
            <span><br />- <?php echo $v ?></span>
          <?php endforeach;?>			                        
        </div>
      <?php endif; ?>		
      
      <div class="control-group" id="div_s_produtos" >  
            <label class="control-label">Produtos solicitados</label>
            <div class="control-group"> 
                <div class="itens">
                    <table class="table" border="1" id="solicitacao">
                        <thead>
                            <tr>
                                <!--<td width="02%" align="center">#</td>-->
                                <th align="center" width="20%">Código Produto</th>
                                <th align="center" width="35%">Produto</th>
                                <th align="center" width="15%">Unidade de medida</th>
                                <th align="center" width="15%">Quantidade Estoque</th>
                                <th align="center" width="10%">Saida</th> 
                                <th align="center" width="10%">Ação</th> 
                            </tr>
                        </thead>
                        <tbody>                                      
                        </tbody>  
                    </table>
                </div>
            </div>
        </div>

      <div class="panel-footer">
        <div class="row"  style="float:right; margin-right: 5%;">
          <div class="col-md-6 col-md-offset-3">
            <?php if ((isset($this->visualizar)) && ($this->visualizar)) : ?>
            <button type="button" onclick="window.history.back()" class="btn btn-default">Voltar</button>
            <?php else : ?>
              <button class="btn btn-primary" id="valida-campos" required>Salvar</button>&nbsp;
              <button onclick="window.history.back()" class="btn btn-danger cancelar" type="button">Cancelar</button>
            <?php endif;?>
          </div>
        </div>
      </div><!-- panel-footer -->
    </form>
    <br /><br /><br />
    <!-- /basic inputs -->

    </div>
    <!-- /content wrapper -->
    
</div>


<script type="text/javascript" src="<?php echo $this->baseUrl('/public/scripts/admin/almoxarifadosolicitacoesmateriaissaida_form.js') ?>"></script>

<script type="text/javascript">
  $(document).ready(function() {
    $('#mais-produtos').click(function() {
      $('#produtos').modal('show');
    });
  });
</script>
 
			
		 