<?php if (sizeof($this->rows)==0): ?>
    0
<?php else: ?>
<?php if (isset($this->rows['erro'])): ?>
    -1
<?php else: ?>
    <table>
        <thead>
            <tr>
                <th><input type="checkbox" onchange="ckbox(this)" id="all-checkbox"></th>
                <th>ID</th>
                <th>Produto</th>
                <th>Descrição</th>
                <th>Categoria</th> 
                <th>Unidade de Medida</th>
            </tr>
        </thead>
        <tbody>
            <?php foreach ($this->rows as $key => $row): ?>
                <tr>
                    <td><input type="checkbox" name="item_<?= $row['id'] ?>" value="<?= $row['id'] ?>" class="ckbox"></td>
                    <td><?= $row['id'] ?></td>
                    <td title="<?= $row['produto'] ?>"><?= substr($row['produto'],0,30) ?></td>
                    <td title="<?= $row['descricoes'] ?>"><?= substr($row['descricoes'],0,80) ?></td>
                    <td><?= $row['categoria'] ?></td> 
                    <td><?= $row['unidademedida'] ?></td>
                </tr>
            <?php endforeach ?>
        </tbody>
    </table>
<?php endif ?>
<?php endif ?>