		<!-- Content -->
        <div id="content">

<!-- Content wrapper -->
<div class="wrapper">

    <!-- Breadcrumbs line -->
    <div class="crumbs">
        <?php echo $this->render('/helpers/breadcrumb.phtml') ?>
    </div>
    <!-- /breadcrumbs line -->

    <!-- Page header -->
    <div class="page-header">
        <div class="page-title">
<h5>Formulário de Solicitação de entrada de produtos</h5>
<span>Informe os dados para solicitação.</span>
        </div>
    </div>
    <!-- /page header -->

    <?php if (isset($this->crudMessage)) : ?>
        <div class="alert alert-success">
            <button data-dismiss="alert" class="close" type="button">×</button>
            <strong>Operação realizada com sucesso!</strong>
            <span><br /><?php echo $this->crudMessage ?></span>
        </div>			    
    <?php endif; ?>

    <form id="form" name="form" action="" method="post" class="form-horizontal" enctype="multipart/form-data"> 
    <div class="control-group">
<div class="controls1 visualizar visualizartodos">
<table class="table table-content" width="100%">
  <tbody>
    <tr>
      <!-- <input type="hidden" value="<?php echo (isset($this->post_var['sequencial'])) ? $this->post_var['sequencial'] : $this->sequencial ?>" name="sequencial" id="sequencial" /> -->
      <td width="34%">Data da Abertura: 
      <?php 
      
        if(isset($this->post_var['datacriacao'])): 
          echo date('d/m/Y', strtotime($this->post_var['datacriacao']));
        else: 
          echo date('d/m/Y'); 
        endif;
      
      ?></td>
      <td width="33%">Hora da Abertura: 
      <?php 
      
        if(isset($this->post_var['datacriacao'])): 
          echo date('H:i:s', strtotime($this->post_var['datacriacao'])) ;
        else: 
          echo date('G:i:s'); 
        endif;
      
      ?></td>
    </tr>
  </tbody>
</table> 
</div>
</div>

<?php $idescola = Usuarios::getUsuario('idescola'); ?>
<?php $idlocal = Funcionariosgeraisescolas::getFuncionariogeralescolaByIdHelper(Usuarios::getUsuario('idfuncionario')); ?>
<div class="control-group">
<div class="controls1 visualizar">
<table class="table table-content" width="100%">
  <tbody>
    <tr>
      <input placeholder="Nome do Usuário" name="idusuario" value="<?php echo Usuarios::getUsuario('id') ?>" type="hidden"  class="span3" />
      <input placeholder="Data de lançamento" name="datalancamento" value="<?php echo (isset($this->post_var['datalancamento'])) ? Mn_Util::formPostVarData($this->post_var['datalancamento']) : date('d/m/Y') ?>" type="hidden"  class="span3" />
      <input placeholder="Nome do Usuário" name="idlocal" value="<?php echo Usuarios::getUsuario('idlocal') ?>" type="hidden"  class="span3" />
      <td width="33%">Local : 
        <?php
            if($idlocal['idlocal']){
              echo Locais::getLocalByIdHelper(Usuarios::getUsuario('idlocal'))['titulo']; 
            }else{
              print_r(Escolas::getEscolaByIdHelper(($idlocal['idescola']))['escola']);
            }
          ?>
      </td>
      
      <td width="33%">Nome do Usuário: <?php echo Usuarios::getUsuario('nomerazao') . " - " . Usuarios::getUsuario('rgf') ?></td>
      <!-- <td width="34%">Data da Abertura: <?php echo date('d/m/Y') ?></td> -->
      <?php if(($idescola>0)): ?>		    
        <input name="idescola" value="<?php echo Usuarios::getUsuario('idescola') ?>" type="hidden"  class="span3" />
      <?php else: ?>		    
        <input placeholder="Nome do Usuário" name="idlocal" value="<?php echo Usuarios::getUsuario('idlocal') ?>" type="hidden"  class="span3" />
      <?php endif; ?>
    </tr>
  </tbody>
</table>
</div>
</div>


<?php $idPerfil = Usuarios::getUsuario('idperfil'); ?> 
<div class="control-group">
<label class="control-label">Produtos solicitados</label>
<div class="control-group"> 
    <div class="itens">
        <table class="table" border="1">
            <thead>
                <tr>
                    <th align="center" width="5%">Código Produto</th>
                    <th align="center" width="35%">Produto</th>
                    <th align="center" width="10%">Unidade de medida</th>
                    <th align="center" width="5%">Quantidade Solicitada</th>  
                  
                    
                </tr>
            </thead>
            <tbody>
            </tbody>
                <?php 
                    $tramitacoesArquivos = Array();
                ?>
                <?php foreach (Almoxarifadosolicitacoesentradalistadeprodutossaida::getAlmoxarifadosolicitacoesentradalistadeprodutossaida( array('idusuario' => $this->post_var['idusuario'], 'codigosolicitacao' => $this->post_var['codigosolicitacao'])) as $c=>$row) : ?>
                <tr id="modelo-tramitacao">
                  <td align="left">
                    <?= $row['codigoproduto']; ?>
                    <input type="hidden" name="codigoproduto[]" value="<?= $row['codigoproduto'] ?>">
                  </td>
                  <td align="left">
                    <?= $row['produto']; ?>
                    <input type="hidden" name="produto[]" value="<?= $row['produto'] ?>" required>
                  </td>
                  <td align="center">
                    <?= $row['unidademedida'];  ?>
                    <input type="hidden" name="unidademedida[]" value="<?= $row['unidademedida'] ?>"required>
                  </td>
                  <td align="center">
                    <input type="number" name="qtd_selecionada[]" value="<?= $row['qtd_selecionada'] ?>" required>
                  </td> 
                  <input type="hidden" name="id_produtos[]" value="<?= $row['id'] ?>">
                  <input type="hidden" name="id" value="<?=  $this->post_var[0][0]['id'] ?>">
                  <input type="hidden" name="idsolicitante" value="<?=  $row['idfuncionario'] ?>">
                  <input type="hidden" name="idsolicitanteescola" value="<?= $this->post_var[0][0]['idescola']  ?>">
                  <input type="hidden" name="verificasolicitacao" value="<?= $this->post_var[0][0]['verificasolicitacao'] ?>">
                  <input type="hidden" name="codigosolicitacaopost" value="<?= $this->post_var['codigosolicitacao'] ?>">
                </tr> 
                
        <?php endforeach;?>
      </table>
    </div>
</div>
</div> 


<div class="form-actions align-right">
<?php if ((isset($this->visualizar)) && ($this->visualizar)) : ?>
    <button onclick="window.history.back()" class="btn btn-danger cancelar" type="button">Voltar</button>
    <?php else : ?>
    <button class="btn btn-primary enviar" type="submit">Salvar</button>
    <button onclick="window.history.back()" class="btn btn-danger cancelar" type="button">Cancelar</button>
    <?php endif; ?>
  </div>
</div>
            <!-- /general form elements -->

        </fieldset> 

    </form>
    <!-- /basic inputs -->

</div>
<!-- /content wrapper -->

</div>
<!-- content -->

<script type="text/javascript" src="<?php echo $this->baseUrl('/public/scripts/admin/almoxarifadoestoqueprodutos_form.js') ?>"></script>
<script type="text/javascript">
var form_values = {};


<?php if (isset($this->post_var)) :  ?> 




<?php endif; ?>
<?php if ((isset($this->post_var['idsfuncionarios'])) && ($this->post_var['idsfuncionarios']!="")) :  ?>
form_values.motivoliberacao = [<?php echo $this->post_var['motivoliberacao'] ?>];
<?php endif; ?>
visualizar = <?php echo  ((isset($this->visualizar)) && ($this->visualizar))  ? 'true' : 'false' ?>;

</script>
