		<!-- Content -->
		<div id="content">

		    <!-- Content wrapper -->
		    <div class="wrapper">

			    <!-- Breadcrumbs line -->
			    <div class="crumbs">
			    	<?php echo $this->render('/helpers/breadcrumb.phtml') ?>
			    </div>
			    <!-- /breadcrumbs line -->

			    <!-- Page header -->
			    <div class="page-header">
			    	<div class="page-title">
				    	<h5>Formulário do chamado</h5>
				    	<span>Verifique os campos e preencha com os dados</span>
			    	</div>
			    </div>
			    <!-- /page header -->

			    <?php if (isset($this->crudMessage)) : ?>
					<div class="alert alert-success">
	                	<button data-dismiss="alert" class="close" type="button">×</button>
	                    <strong>Operação realizada com sucesso!</strong>
		    			<span><br /><?php echo $this->crudMessage ?></span>
	                </div>			    
			    <?php endif; ?>

				<form id="form" name="form" action="" method="post" class="form-horizontal" enctype="multipart/form-data"> 
					<input type="hidden" value="<?php echo (isset($this->post_var)) ? $this->post_var["id"] : ''; ?>" name="id" id="id" />
					
					<fieldset>
						<!-- General form elements -->
						<div class="widget row-fluid">
						    <div class="navbar">
						        <div class="navbar-inner">
						            <h6>Digite as informações do formulário</h6>
						        </div>
						    </div>

						    <div class="well">
								<?php if (isset($this->erros)) : ?>
									<div class="alert alert-error margin">
				                        <button data-dismiss="alert" class="close" type="button">×</button>
				                        <strong>Há erros no formulário!</strong>
					    				<?php foreach ($this->erros as $k=>$v) : ?>
					    					<span><br />- <?php echo $v ?></span>
					    				<?php endforeach;?>			                        
				                    </div>
			                    <?php endif; ?>						    
						    

				<div class="control-group">
					<label class="control-label">Tipo do Processo <span class="required">*</span></label>
					<div class="controls">
						<select name="tipoprocesso" data-placeholder="Tipo do Processo" class="select">
							<option value="">Selecione...</option>
							<option value="Interno">Interno</option><option value="Externo">Externo</option>
						</select>
						
					</div>
				</div>


				<div class="control-group">
					<label class="control-label">Tipo do Chamado <span class="required">*</span></label>
					<div class="controls">
						<select name="tipochamado" data-placeholder="Tipo do Chamado" class="select">
							<option value="">Selecione...</option>
							<option value="Reclamações">Reclamações</option><option value="Sugestões">Sugestões</option><option value="Elogios">Elogios</option>
						</select>
						
					</div>
				</div>


				<div class="control-group">
					<label class="control-label">Sequencial </label>
					<input type="hidden" name="sequencial" value="<?= (isset($this->post_var['sequencial'])) ? $this->post_var['sequencial'] : '' ?>">
					<div class="controls"><b><?= isset($this->post_var['sequencial']) ? $this->post_var['sequencial'] : "Gerar Automático" ?></b></div>
				</div>


				<div class="control-group">
					<label class="control-label">Data do lançamento</label>
					<div class="controls"><b><?= isset($this->post_var['datalancamento']) ? MN_Util::formPostVarData($this->post_var['datalancamento']) : "Gerar Automático" ?></b></div>
				</div>


				<div class="control-group">
					<label class="control-label">Hora da abertura </label>
					<div class="controls"><b><?= isset($this->post_var['horaabertura']) ? $this->post_var['horaabertura'] : "Gerar Automático" ?></b></div>
				</div>


				<div class="control-group">
					<label class="control-label">Nome de usuário </label>
					<input type="hidden" name="idusuario" value="<?= isset($this->post_var['idusuario']) ? $this->post_var['idusuario'] : '' ?>">
					<?php 
						$usuario = (isset($this->post_var['idusuario'])) ? Usuarios::getUsuarioByIdHelper($this->post_var['idusuario']) : Usuarios::getUsuarioByIdHelper(Usuarios::getUsuario('id'));
					?>
					<div class="controls"><b><?= $usuario['nomerazao'] . " " . $usuario['sobrenomefantasia'] ?></b></div>
				</div>


				<div class="control-group">
					<label class="control-label">Departamento </label>
					<input type="hidden" name="iddepartamento" value="<?= isset($this->post_var['iddepartamento']) ? $this->post_var['iddepartamento'] : '' ?>">
					<?php 
						$iddepartamento = (isset($this->post_var['iddepartamento'])) ? $this->post_var['iddepartamento']  : Usuarios::getUsuario('iddepartamento');
						$departamento = Departamentossecretarias::getDepartamentosecretariaByIdHelper($iddepartamento);
					?>
					<div class="controls"><b><?= $departamento['departamento'] ?></b></div>
				</div>

				<input type="hidden" name="tipocontato" value="Via sistema">


				<!-- <div class="control-group">
					<label class="control-label">Tipo de Contato </label>
					<div class="controls"><input maxlength="500" placeholder="Tipo de Contato" name="tipocontato" value="<?php echo (isset($this->post_var['tipocontato'])) ? $this->post_var['tipocontato'] : '' ?>" type="text"  class="span3" /></div>
				</div> -->


				<div class="control-group">
					<label class="control-label">Nome do Solicitante </label>
					<div class="controls"><input maxlength="500" placeholder="Nome do Solicitante" name="nomesolicitante" value="<?php echo (isset($this->post_var['nomesolicitante'])) ? $this->post_var['nomesolicitante'] : '' ?>" type="text"  class="span3" /></div>
				</div>


				<div class="control-group">
					<label class="control-label">Telefone 1 </label>
					<div class="controls"><input maxlength="500" placeholder="Telefone 1" name="telefone1" value="<?php echo (isset($this->post_var['telefone1'])) ? $this->post_var['telefone1'] : '' ?>" type="text"  class="span3" /></div>
				</div>


				<div class="control-group">
					<label class="control-label">Telefone 2 </label>
					<div class="controls"><input maxlength="500" placeholder="Telefone 2" name="telefone2" value="<?php echo (isset($this->post_var['telefone2'])) ? $this->post_var['telefone2'] : '' ?>" type="text"  class="span3" /></div>
				</div>


				<div class="control-group">
					<label class="control-label">Contato </label>
					<div class="controls"><input maxlength="500" placeholder="Contato" name="contato" value="<?php echo (isset($this->post_var['contato'])) ? $this->post_var['contato'] : '' ?>" type="text"  class="span3" /></div>
				</div>


				<div class="control-group">
					<label class="control-label">Tipos do Chamado </label>
					<div class="controls">
		                <select name="idtiposchamado" data-placeholder="Tipos do Chamado" class="select">
							<option value="">Selecione...</option>
							<?php foreach (Ouvidoriastiposchamados::getOuvidoriastiposchamadosHelper(array('status'=>'Ativo')) as $k=>$v) : ?>
							<option value="<?php echo $v['id'] ?>"><?php echo $v['titulo'] ?></option>
							<?php endforeach;?>
						</select>
					</div>
				</div>


				<div class="control-group">
					<label class="control-label">Assunto do Chamado </label>
					<div class="controls"><input maxlength="50" placeholder="Assunto do Chamado" name="assunto" value="<?php echo (isset($this->post_var['assunto'])) ? $this->post_var['assunto'] : '' ?>" type="text"  class="span3" /></div>
				</div>


				<div class="control-group">
					<label class="control-label">Descrição do Chamado </label>
					<div class="controls"><textarea class="span12" name="descricao" cols="5" rows="5"><?php echo (isset($this->post_var)) ? $this->post_var["descricao"] : ''; ?></textarea></div>
				</div>


				<div class="control-group">
					<label class="control-label">Observações </label>
					<div class="controls"><textarea class="span12" name="observacoes" cols="5" rows="5"><?php echo (isset($this->post_var)) ? $this->post_var["observacoes"] : ''; ?></textarea></div>
				</div>


				<div class="control-group">
					<label class="control-label">Anexar Documentos </label>
					<div class="controls">
						<?php if ((isset($this->post_var['iddocumento'])) && ((int)$this->post_var['iddocumento']>0)) : ?>
							<?php echo $this->getArquivo($this->post_var['iddocumento']) ?>
						
							<?php if (!$this->visualizar) : ?>
								<div class="checkbox block">
									<label><input type="checkbox" name="excluir_iddocumento" value="excluir" /> Desejo excluir o arquivo</label>
								</div>
							<?php endif; ?>
						<?php endif; ?>
						
						<input placeholder="Anexar Documentos" name="iddocumento" type="file"  />
					</div>
				</div>	


				<div class="control-group">
					<label class="control-label">Posição <span class="required">*</span></label>
					<div class="controls">
						<select name="posicao" data-placeholder="Posição" class="select">
							<option value="">Selecione...</option>
							<option value="Aberto">Aberto</option><option value="Em Andamento">Em Andamento</option><option value="Cancelado">Cancelado</option><option value="Finalizado">Finalizado</option>
						</select>
						
					</div>
				</div>

				<?php if(isset($this->post_var['id'])) : ?>
					<div class="control-group" style="text-align: center">
						<button type="button" onclick="encaminhar('<?= $this->post_var['id'] ?>')" class="btn btn-danger">Encaminhar</button>					
					</div>
				<?php endif; ?>


				<div class="control-group">
					<label class="control-label">Status <span class="required">*</span></label>
					<div class="controls">
						<select name="status1" data-placeholder="Status" class="select">
							<option value="">Selecione...</option>
							<option value="Aguardando o Aceitamento">Aguardando o Aceitamento</option><option value="Aceito">Aceito</option><option value="Não Aceito">Não Aceito</option>
						</select>
						
					</div>
				</div>

						    
						    
						    </div>
						    
			                <div class="form-actions align-right">
			                	<?php if ((isset($this->visualizar)) && ($this->visualizar)) : ?>
			                		<button onclick="window.history.back()" class="btn btn-danger cancelar" type="button">Voltar</button>
			                	<?php else : ?>
				                	<button class="btn btn-primary enviar" type="submit">Salvar</button>
				                	<button onclick="window.history.back()" class="btn btn-danger cancelar" type="button">Cancelar</button>
			                	<?php endif; ?>
			                </div>
						</div>
						<!-- /general form elements -->

					</fieldset> 

				</form>
				<!-- /basic inputs -->

		    </div>
		    <!-- /content wrapper -->

		</div>
		<!-- content -->
				
<script type="text/javascript" src="<?php echo $this->baseUrl('/public/scripts/admin/ouvidoriaschamados_form.js') ?>"></script>
<script type="text/javascript">
	var form_values = {};
	
	<?php if (isset($this->post_var)) :  ?>
		form_values.tipoprocesso = '<?php echo (isset($this->post_var['tipoprocesso'])) ? $this->post_var['tipoprocesso'] : '' ?>';

form_values.tipochamado = '<?php echo (isset($this->post_var['tipochamado'])) ? $this->post_var['tipochamado'] : '' ?>';

form_values.idtiposchamado = '<?php echo (isset($this->post_var['idtiposchamado'])) ? $this->post_var['idtiposchamado'] : '' ?>';

form_values.posicao = '<?php echo (isset($this->post_var['posicao'])) ? $this->post_var['posicao'] : '' ?>';

form_values.status1 = '<?php echo (isset($this->post_var['status1'])) ? $this->post_var['status1'] : $this->post_var['status'] ?>';


	<?php endif; ?>

	visualizar = <?php echo  ((isset($this->visualizar)) && ($this->visualizar))  ? 'true' : 'false' ?>;
</script>
