		<!-- Content -->
		<div id="content">

		    <!-- Content wrapper -->
		    <div class="wrapper">

			    <!-- Breadcrumbs line -->
			    <div class="crumbs">
			    	<?php echo $this->render('/helpers/breadcrumb.phtml') ?>
			    </div>
			    <!-- /breadcrumbs line -->

			    <!-- Page header -->
			    <div class="page-header">
			    	<div class="page-title">
				    	<h5>Formulário de Sala de Recursos Multifuncionais Professores</h5>
				    	<span>Verifique os campos e preencha com os dados</span>
			    	</div>
			    </div>
			    <!-- /page header -->

			    <?php if (isset($this->crudMessage)) : ?>
					<div class="alert alert-success">
	                	<button data-dismiss="alert" class="close" type="button">×</button>
	                    <strong>Operação realizada com sucesso!</strong>
		    			<span><br /><?php echo $this->crudMessage ?></span>
	                </div>			    
			    <?php endif; ?>

				<form id="form" name="form" action="" method="post" class="form-horizontal" enctype="multipart/form-data"> 
					<input type="hidden" value="<?php echo (isset($this->post_var)) ? $this->post_var["id"] : ''; ?>" name="id" id="id" />
					
					<fieldset>
						<!-- General form elements -->
						<div class="widget row-fluid">
						    <div class="navbar">
						        <div class="navbar-inner">
						            <h6>Digite as informações do formulário</h6>
						        </div>
						    </div>

						    <div class="well">
								<?php if (isset($this->erros)) : ?>
									<div class="alert alert-error margin">
				                        <button data-dismiss="alert" class="close" type="button">×</button>
				                        <strong>Há erros no formulário!</strong>
					    				<?php foreach ($this->erros as $k=>$v) : ?>
					    					<span><br />- <?php echo $v ?></span>
					    				<?php endforeach;?>			                        
				                    </div>
			                    <?php endif; ?>						    
						    

				<div class="control-group">
					<label class="control-label">Polo AEE <span class="required">*</span></label>
					<div class="controls">
		                <select name="idescola" data-placeholder="Polo AEE" class="select">
							<option value="">Selecione...</option>
							<?php foreach (Escolas::getEscolasHelper(array('status'=>'Ativo')) as $k=>$v) : ?>
							<option value="<?php echo $v['id'] ?>"><?php echo $v['escola'] ?></option>
							<?php endforeach;?>
						</select>
						
					</div>
				</div>

<?php /*
				<div class="control-group">
					<label class="control-label">Período <span class="required">*</span></label>
					<div class="controls">
						<div><input <?= (in_array("Manhã", explode(",", $this->post_var['periodo']))) ? "checked" : "" ?> class="checkperiodo" value="Manhã" name="periodo[]" type="checkbox"> Manhã<br></div>
						<div><input <?= (in_array("Intermediario", explode(",", $this->post_var['periodo']))) ? "checked" : "" ?> class="checkperiodo" value="Intermediario" name="periodo[]" type="checkbox"> Intermediario<br></div>
						<div><input <?= (in_array("Vespertino", explode(",", $this->post_var['periodo']))) ? "checked" : "" ?> class="checkperiodo" value="Vespertino" name="periodo[]" type="checkbox"> Vespertino<br></div>

					</div>
				</div>


				<div class="control-group">
					<label class="control-label">Professores <span class="required">*</span></label>
					<div class="controls">
		                <select name="idfuncionario" data-placeholder="Professores" class="select">
							<option value="">Selecione...</option>
<?php
		$usuar = Usuarios::getUsuario();
                                    $queries = array();

                                    (($usuar['idescola'] > 0) ? $queries['idescola'] = $usuar['idescola'] : '');
                                    if ($usuar['idfuncionario'] > 0) :
                                        $queries['idfuncionario'] = $usuar['idfuncionario'];
                                        $queries['meuid'] = $usuar['idfuncionario'];
                                    endif;

                                    $queries = array();
                                    $queries['idsfuncionariosgerais'] = $this->funcionariogeral['idsfuncionarios'];
                                    $idfuncionario = Usuarios::getUsuario('idfuncionario');
                                    $idescola = Usuarios::getUsuario('idescola');
                                    $idperfil = (int)Usuarios::getUsuario('idperfil');
                                    if((int)$idescola > 0){
                                        $meusfuncionarios = Meusfuncionariosgeraisescolas::getMeusfuncionariosgeraisescolaImplodeByIdescolaHelper($idfuncionario, $idescola, array());
                                        if((isset($meusfuncionarios)) && ($meusfuncionarios) && ($meusfuncionarios!="")){
                                            $queries['idsfuncionariosgerais'] = $meusfuncionarios;
                                        }else{
                                            $queries['idsfuncionariosgerais'] = '-1';
                                        }
                                    }elseif((int)$idperfil > 0){
                                        $idfuncionario = Usuarios::getUsuario('idfuncionario');
                                        $meusfuncionarios = Meusfuncionariosgeraisescolas::getMeusfuncionariosgeraisescolaImplodeByIdperfilHelper($idfuncionario, $idperfil, array());
                                        unset($queries['idsfuncionariosgerais']);
                                        if((isset($meusfuncionarios)) && ($meusfuncionarios) && ($meusfuncionarios!="")){
                                            $queries['idsfuncionariossel'] = $meusfuncionarios;
                                        }else{
                                            $queries['idsfuncionariossel'] = '-1';
                                        }
                                    }

		$queries['idsecretaria'] = Usuarios::getSecretariaAtiva( Usuarios::getUsuario('id'), 'id' );

		$my_func = Funcionariosgeraisescolas::getFuncionariosgeraisescolasHelper($queries); 
	?>
							<?php foreach ($my_func as $k=>$v) : ?>
							<option value="<?php echo $v['id'] ?>"><?php echo $v['nome'] ?></option>
							<?php endforeach;?>
						</select>
						
					</div>
				</div>

*/   ?>

				<div class="control-group">
					<label class="control-label">Segunda-feira</label>
				 
				 
						<div class="itens">
                            <table class="table table-membros table-primary mb30" border="1" style="TABLE-LAYOUT: fixed;">
                                <thead>
                                    <tr> 									
                                        <th align="left" style="text-align: center; white-space: normal; ">Dia</th>
                                        <th align="left" style="text-align: center; white-space: normal; ">Horário</th>
                                        <th align="left" style="text-align: center; white-space: normal; ">Aluno</th>
                                        <th align="left" style="text-align: center; white-space: normal;">Professor</th> 
                                        <th align="left" style="text-align: center; "><button type="button" onclick="membroAddTr(this)" class="btn">+</button></th>
                                    </tr>
                                </thead>
                                <tbody>	 
									<script type="text/javascript"> 
										$(document).ready(function() { 
											<?php if (isset($this->post_var['id'])) : ?>
											<?php foreach (Educacaoespecialsalasrecursosprofessoreslist::getEducacaoespecialsalasrecursosprofessoreslistHelper(array('idrecursosprofessores' => $this->post_var['id'],  'order'=>'ORDER BY diasemana, horario')) as $c=>$row) : ?>
											<?php 
												$row['var_db'] = true;
											?>
											membros = '<?php echo str_replace("'", "\'", json_encode($row)) ?>';

											membroAddTr(membros);
											<?php endforeach;?>

											<?php endif; ?>
										});
									</script>
                                </tbody>
								
                                <tfoot>
									<tr id="modelo-apm"  style="display:none;"> 
										<td>
											<select name="diasemana[]">
												<option value="" hidden>X</option>
												<option value="asegunda">Segunda</option>
												<option value="bterca">Terca</option>
												<option value="cquarta">Quarta</option>
												<option value="dquinta">Quinta</option>
												<option value="esexta">Sexta</option>
											</select>
										 </td>
                                        <td align="center" style="text-align:center !Important;">
                                            <input type="hidden" name="_ids" value="" />
											<input name="horario[]" type="time" class="form-control">
											às
                                            <input name="horariofim[]" type="time" class="form-control">
										</td>

                                        <td align="center" style="text-align:center !Important;">
                                            <input name="aluno[]" type="text" class="form-control" >
										</td> 

                                        <td align="center" style="text-align:center !Important;">
                                            <input name="professor[]" type="text" class="form-control" >
										</td> 

									 	

                                        <td style="text-align: center !important; padding:8px 0 8px 22px;" align="center">
                                            <a href="javascript:;" onclick="membrosExcluirFromTable(this)">
                                                <span class="btn btn-mini btn-danger"></span>
                                            </a>
                                        </td>
                                    </tr>
                                </tfoot>

                            </table>
						</div>
				 
				</div>
 
				<div class="control-group">
					<label class="control-label">Status <span class="required">*</span></label>
					<div class="controls">
						<select name="status1" data-placeholder="Status" class="select">
							<option value="">Selecione...</option>
							<option value="Ativo">Ativo</option><option value="Bloqueado">Bloqueado</option>
						</select>
						
					</div>
				</div>

						    
						    
						    </div>
						    
			                <div class="form-actions align-right">
			                	<?php if ((isset($this->visualizar)) && ($this->visualizar)) : ?>
			                		<button onclick="window.history.back()" class="btn btn-danger cancelar" type="button">Voltar</button>
			                	<?php else : ?>
				                	<button class="btn btn-primary enviar" type="submit">Salvar</button>
				                	<button onclick="window.history.back()" class="btn btn-danger cancelar" type="button">Cancelar</button>
			                	<?php endif; ?>
			                </div>
						</div>
						<!-- /general form elements -->

					</fieldset> 

				</form>
				<!-- /basic inputs -->

		    </div>
		    <!-- /content wrapper -->

		</div>
		<!-- content -->
				
<script type="text/javascript" src="<?php echo $this->baseUrl('/public/scripts/admin/salasrecursosprofessores_form.js') ?>"></script>
<script type="text/javascript">
	var form_values = {};
	
	<?php if (isset($this->post_var)) :  ?>
		form_values.idescola = '<?php echo (isset($this->post_var['idescola'])) ? $this->post_var['idescola'] : '' ?>';


form_values.idfuncionario = '<?php echo (isset($this->post_var['idfuncionario'])) ? $this->post_var['idfuncionario'] : '' ?>';

form_values.status1 = '<?php echo (isset($this->post_var['status1'])) ? $this->post_var['status1'] : $this->post_var['status'] ?>';


	<?php endif; ?>

	visualizar = <?php echo  ((isset($this->visualizar)) && ($this->visualizar))  ? 'true' : 'false' ?>;
</script>
