		<!-- Content -->
		<div id="content">

		    <!-- Content wrapper -->
		    <div class="wrapper">

			    <!-- Breadcrumbs line -->
			    <div class="crumbs">
			    	<?php echo $this->render('/helpers/breadcrumb.phtml') ?>
			    </div>
			    <!-- /breadcrumbs line -->

			    <!-- Page header -->
			    <div class="page-header">
			    	<div class="page-title">
				    	<h5>Eventos no sistema</h5>
				    	<span>Visualize as notas do sistema</span>
			    	</div>
			    	
			    </div>
			    <!-- /page header -->
			    
			    <?php if (isset($this->crudMessage)) : ?>
				<div class="alert alert-success">
                	<button data-dismiss="alert" class="close" type="button">×</button>
                    <strong>Operação realizada com sucesso!</strong>
	    			<span><br /><?php echo $this->crudMessage ?></span>
                </div>			    
			    <?php endif; ?>




	                        	                        
                <!-- Table with footer -->
                <div class="widget">
                	<form action="#" class="form-horizontal" method="post">
                		<input type="hidden" value="<?php echo (isset($this->post_var['sorting'])) ? $this->post_var['sorting'] : '' ?>" name="sorting" />
	                	<div class="navbar">
	                		<div class="navbar-inner">
	                			<h6>Visualizando registros</h6>
	                			
	                		</div>
	                	</div>
	                    <div class="table-overflow">
	                        
				<?php if (sizeof($this->rows)>0) : ?>
						<?php foreach ($this->rows as $i=>$row) : ?>
		               <table class="table table-content">
		                	<thead>
		                		<tr>   
		                			<th colspan="5" align="center" style="text-align: center;"><?php echo $row['bimestre']?>° Bimestre</th>
		                		</tr>		                	
		                		<tr>
		                			<th width="20">&nbsp;</th>   
		                			<th width="200">Matéria</th>
		                			<th>Professor</th>     			
		                			<th width="120">Média</th>
		                			<?php /*?>
		                			<th style="width:74px">Ações</th>
		                			<?php */?>
		                		</tr>
		                	</thead>
		                	<tbody>
		                	   	<?php if (sizeof($this->rows)==0) : ?>
		                		<tr>
		                			<td colspan="6">Nenhum registro foi encontrado</td>
		                		</tr>
		                		<?php endif;?>
		                		<?php $bimestre = '0';?>
		                		<?php foreach (Controlealunos_Notas::getNotasHelper(array('idaluno'=>Escolasalunos::getUsuario('id'), 'bimestre'=>$row['bimestre'])) as $in=>$row_nota) : ?>
									<?php if($bimestre==0) $bimestre = $row_nota['bimestre']; ?>								
									
									<?php $nota = $row_nota['nota']?>
									<?php $nota2 = $row_nota['nota2'];?>
									<?php $nota3 = $row_nota['nota3'];?>
									<?php $medianotas = ($nota+$nota2+$nota3)/3;?>
									<?php $trabalho1 = $row_nota['trabalho1'];?>
									<?php $trabalho2 = $row_nota['trabalho2'];?>
									<?php $trabalho3 = $row_nota['trabalho3'];?>
									<?php $mediatrabalhos = ($trabalho1+$trabalho2+$trabalho3)/3;?>
									<?php $media = ($medianotas+$mediatrabalhos)/2?>
									                		
									<?php if (Mn_Util::isDefaultAccess($this->getController(), 'editar')) : ?>
									<tr class="line">
									<?php else : ?>
									<tr>
									<?php endif; ?>
		                				<td>
		                					<?php $i+1 ?>
		                					<input type="hidden" name=id[] value="<?php echo $row_nota['id'] ?>" />
	                					</td>
		                				<td><?php echo Controlealunos_Materias::getNomeMateriaByIdHelper($row_nota['idmateria']) ?></td>
		                				<td><?php echo Escolasusuarios::getNomeByIdHelper($row_nota['idprofessor']) ?></td>
		                				
		                				<td><?php echo round($media, 2) ?></td>
		                				<?php /*?>
		                				<td class="table-action">
		                					<a href="<?php echo $this->baseUrl() ?>/alunos/<?php echo $this->getController() ?>/visualizar/id/<?php echo $row['id'] ?>"><i class="fa fa-pencil"></i></a>
		                				</td>
		                				<?php */?>
		                			</tr>
		                		<?php endforeach;?> 
		                	</tbody>
		                </table>
		                <?php endforeach;?> 
	                <?php endif; ?>
	                    </div>
	                    <?php echo $this->render('/helpers/paginator.phtml') ?>
                    
                    </form>

                </div>
                <!-- /table with footer -->
	                        


		    </div>
		    <!-- /content wrapper -->

		</div>
		<!-- content -->
		
		
<script type="text/javascript" src="<?php echo $this->baseUrl('/public/scripts/alunos/boletim_index.js') ?>"></script>
<script type="text/javascript">

	var form_values = {};
	<?php if (isset($this->post_var['bimestre'])) :  ?>
	form_values.bimestre = '<?php echo (isset($this->post_var['bimestre'])) ? $this->post_var['bimestre'] : '' ?>';
	<?php endif; ?>

	
</script>
















