		<!-- Content -->
		<div id="content">

		    <!-- Content wrapper -->
		    <div class="wrapper">

			    <!-- Breadcrumbs line -->
			    <div class="crumbs">
			    	<?php echo $this->render('/helpers/breadcrumb.phtml') ?>
			    </div>
			    <!-- /breadcrumbs line -->

			    <!-- Page header -->
			    <div class="page-header">
			    	<div class="page-title">
				    	<h5>Ocorrências no sistema</h5>
				    	<span>Visualize os ocorrências do sistema</span>
			    	</div>
			    	
			    </div>
			    <!-- /page header -->
			    
			    <?php if (isset($this->crudMessage)) : ?>
				<div class="alert alert-success">
                	<button data-dismiss="alert" class="close" type="button">×</button>
                    <strong>Operação realizada com sucesso!</strong>
	    			<span><br /><?php echo $this->crudMessage ?></span>
                </div>			    
			    <?php endif; ?>




	                        	                        
                <!-- Table with footer -->
                <div class="widget">
                	<form action="#" class="form-horizontal" method="post">
                		<input type="hidden" value="<?php echo (isset($this->post_var['sorting'])) ? $this->post_var['sorting'] : '' ?>" name="sorting" />
	                	<div class="navbar">
	                		<div class="navbar-inner">
	                			<h6>Visualizando registros</h6>
	                			<?php if (Mn_Util::isAccess($this->getController(), 'adicionar')) : ?>
	                			<a style="float:right;" href="<?php echo $this->baseUrl() ?>/<?php echo 'admin' ?>/<?php echo $this->getController() ?>/adicionar" class="btn btn-primary"><span class="icon-plus"></span>&nbsp;Adicionar ocorrência</a>
	                			<?php endif; ?>
	                		</div>
	                	</div>
	                    <div class="table-overflow">
	                    	<?php $_data = Usuarios::getEscolaAtiva(Usuarios::getUsuario('id'));
                    			$idescola = $_data['id'];
                    		?>
	                        <table class="table table-content">
	                            <thead>
	                                <tr>
	                                    <th width="20">#</th>
                                    	<th class="s-sequencial sorting">Sequencial/Ano</th>
	                                    <th class="s-data sorting">Data</th>
	                                    <th class="s-idaluno sorting">Aluno</th>
	                                    <th class="s-descricoes sorting">Ocorrência</th>
	                                    <th class="s-status sorting">Status</th>
		                                <th width="96">Ações</th>
	                                </tr>
	                                <tr>
	                                    <th></th>
										<th><input name="sequencial" value="<?php echo (isset($this->post_var['sequencial'])) ? $this->post_var['sequencial'] : '' ?>" type="text" placeholder="Sequencial/Ano" class="span3" style="width: 70px"></th>

										<th>
											<input name="data_i" value="<?php echo (isset($this->post_var['data_i'])) ? Mn_Util::formPostVarData($this->post_var['data_i']) : '' ?>" type="text" placeholder="Data inicial" class="span3" style="width: 75px">
											<input name="data_f" value="<?php echo (isset($this->post_var['data_f'])) ? Mn_Util::formPostVarData($this->post_var['data_f']) : '' ?>" type="text" placeholder="Data final" class="span3" style="width: 75px">
										</th>

										<th>
											<div>
												<select name="idaluno" placeholder="Todos" class="select">
													<option value="">Todos</option>
													<?php if($_data): ?>
													<?php foreach (Escolasalunos::getEscolasalunosHelper(array('status'=>'Ativo', 'idescola'=>$idescola)) as $k=>$v) : ?>
														<option value="<?php echo $v['id'] ?>"><?php echo $v['nomerazao'] ?></option>
													<?php endforeach;?>
													<?php else: ?>
														<?php foreach (Escolasalunos::getEscolasalunosHelper(array('status'=>'Ativo', 'idescola'=>$idescola)) as $k=>$v) : ?>
														<option value="<?php echo $v['id'] ?>"><?php echo $v['nomerazao'] ?></option>
													<?php endforeach;?>
												<?php endif ?>
												</select>
											</div>
										</th>
										<th>
											<div>
								                <select name="idtipoocorrencia" data-placeholder="Tipo de ocorrência" class="select">
													<option value="">Selecione...</option>
													<?php foreach (Secretariastiposocorrencias::getSecretariastiposocorrenciasHelper(array('status'=>'Ativo')) as $k=>$v) : ?>
													<option value="<?php echo $v['id'] ?>"><?php echo $v['tipo'] ?></option>
													<?php endforeach;?>
												</select>
												
											</div>
										</th>
										<th>
											<div>
												<select name="status1" placeholder="Todos" class="select">
													<option value="">Todos</option>
													<option value="Ativo">Ativo</option><option value="Bloqueado">Bloqueado</option>
												</select>
											</div>
										</th>
                   

	                                    <th><button class="btn btn-mini btn-primary" type="submit">Pesquisar</button></th>
	                                </tr> 
	                                                                
	                            </thead>
	                            <tbody>
	                            	<?php if (sizeof($this->rows)==0) : ?>
	                                <tr>
	                                    <td colspan="7">Nenhum registro foi encontrado!</td>
	                                </tr>
	                            	
	                            	<?php else : ?>
	                            	<?php foreach ($this->rows as $row) : ?>
	                                <tr>
	                                	<td><?php echo $row['id'] ?></td>

										<td><?php echo $row['sequencial'] ?></td>
										<td><?php echo date('d/m/Y', strtotime($row['data']))?></td>

										<td>
											<?php
												$___rows = Escolasalunos::getEscolasalunosHelper(array('id'=>$row['idaluno']));
												$___row = (sizeof($___rows)>0) ? 	$___rows[0] : false;	
												
												echo ($___row) ? $this->formatTextoBranco($___row['nomerazao']) : '--';		
											?>
										</td>
										<td>
											<?php 
												$_dados = Secretariastiposocorrencias::getSecretariastiposocorrenciaByIdHelper($row['idtipoocorrencia'], array('status'=>'Ativo'));
					
												echo $_dados['tipo'];
											?>		
											</td>
										<td>
											<?php if (Mn_Util::isAccess($this->getController(), 'editar')) : ?>
												<a onclick="javascript:statusChange(<?php echo $row["id"]?>, this);" href="javascript:;"><?php echo $row['status'] ?></a>
											<?php else : ?>
												<?php echo $row['status'] ?>
											<?php endif; ?>
										</td>
	                                    <td>
	                                        <ul class="table-controls">
	                                            <li><a title="" class="btn tip" href="<?php echo $this->baseUrl() ?>/<?php echo 'admin' ?>/<?php echo $this->getController() ?>/visualizar/id/<?php echo $row['id'] ?>" data-original-title="Visualizar"><i class="icon-eye-open"></i></a> </li>
	                                            <?php if (Mn_Util::isAccess($this->getController(), 'editar')) : ?>
	                                            <li><a title="" class="btn tip" href="<?php echo $this->baseUrl() ?>/<?php echo 'admin' ?>/<?php echo $this->getController() ?>/editar/id/<?php echo $row['id'] ?>" data-original-title="Editar"><i class="icon-pencil"></i></a> </li>
	                                            <?php endif;?>
	                                            <?php if (Mn_Util::isAccess($this->getController(), 'excluir')) : ?>
	                                            <li><a title="" class="btn tip" href="javascript:confirmDelete('<?php echo $row['id']; ?>','registro');" data-original-title="Excluir"><i class="icon-remove"></i></a> </li>
	                                            <?php endif; ?>
	                                        </ul>
	                                    </td>
	                                </tr>
	                            	<?php endforeach;?>
	                            	<?php endif; ?>
	                            </tbody>
	                        </table>
	                    </div>
	                    <?php echo $this->render('/helpers/paginator.phtml') ?>
                    
                    </form>

                </div>
                <!-- /table with footer -->
	                        


		    </div>
		    <!-- /content wrapper -->

		</div>
		<!-- content -->
		
		
<script type="text/javascript" src="<?php echo $this->baseUrl('/public/scripts/admin/secretariasocorrencias_index.js') ?>"></script>
<script type="text/javascript">

	var form_values = {};
	<?php if (isset($this->post_var)) :  ?>
form_values.idusuariologado = '<?php echo (isset($this->post_var['idusuariologado'])) ? $this->post_var['idusuariologado'] : '' ?>';

form_values.idescola = '<?php echo (isset($this->post_var['idescola'])) ? $this->post_var['idescola'] : '' ?>';

form_values.idserie = '<?php echo (isset($this->post_var['idserie'])) ? $this->post_var['idserie'] : '' ?>';

form_values.idvinculo = '<?php echo (isset($this->post_var['idvinculo'])) ? $this->post_var['idvinculo'] : '' ?>';

form_values.idperiodo = '<?php echo (isset($this->post_var['idperiodo'])) ? $this->post_var['idperiodo'] : '' ?>';

form_values.idaluno = '<?php echo (isset($this->post_var['idaluno'])) ? $this->post_var['idaluno'] : '' ?>';

form_values.idtipoocorrencia = '<?php echo (isset($this->post_var['idtipoocorrencia'])) ? $this->post_var['idtipoocorrencia'] : '' ?>';

form_values.status1 = '<?php echo (isset($this->post_var['status1'])) ? $this->post_var['status1'] : $this->post_var['status'] ?>';

	
	<?php endif; ?>

	var sorting = ["sequencial", "datalancamento", "horalancamento", "idusuariologado", "data", "idescola", "idserie", "idvinculo", "idperiodo", "idaluno", "idtipoocorrencia", "descricoes", "status"];
	
</script>	


