<style>
    .error-capacity{margin-left: 15px;color: #c31717; font-size: 1em; display: none;}
</style>
<!-- Content -->
<div id="content">
    <!-- Content wrapper -->
    <div class="wrapper">
        <!-- Breadcrumbs line -->
        <div class="crumbs">
            <?php echo $this->render('/helpers/breadcrumb.phtml') ?>
        </div>
        <!-- /breadcrumbs line -->

        <!-- Page header -->
        <div class="page-header">
            <div class="page-title">
                <h5>Formulário do sala</h5>
                <span>Verifique os campos e preencha com os dados</span>
            </div>
        </div>
        <!-- /page header -->

        <?php if (isset($this->crudMessage)) : ?>
            <div class="alert alert-success">
                <button data-dismiss="alert" class="close" type="button">×</button>
                <strong>Operação realizada com sucesso!</strong>
                <span><br /><?php echo $this->crudMessage ?></span>
            </div>
        <?php endif; ?>

        <form id="form" name="form" action="" method="post" class="form-horizontal" enctype="multipart/form-data">
            <input type="hidden" value="<?php echo (isset($this->post_var)) ? $this->post_var["id"] : ''; ?>" name="id" id="id" />

            <fieldset>
                <!-- General form elements -->
                <div class="widget row-fluid">
                    <div class="navbar">
                        <div class="navbar-inner">
                            <h6>Digite as informações do formulário</h6>
                        </div>
                    </div>

                    <div class="well">
                        <?php if (isset($this->erros)) : ?>
                            <div class="alert alert-error margin">
                                <button data-dismiss="alert" class="close" type="button">×</button>
                                <strong>Há erros no formulário!</strong>
                                <?php foreach ($this->erros as $k => $v) : ?>
                                    <span><br />- <?php echo $v ?></span>
                                <?php endforeach; ?>
                            </div>
                        <?php endif; ?>


                        <div class="control-group">
                            <label class="control-label">Escolas<span class="required">*</span></label>
                            <div class="controls">
                                <select name="idescola" data-placeholder="Escolas" class="select">
                                    <option value="">Selecione...</option>

                                    <?php foreach (Escolas::getEscolasHelper(array('status' => 'Ativo', 'idsecretaria' => Usuarios::getSecretariaAtiva(Usuarios::getUsuario('id'), 'id'))) as $k => $v) : ?>
                                        <option value="<?php echo $v['id'] ?>"><?php echo $v['escola'] ?></option>
                                    <?php endforeach; ?>
                                </select>

                            </div>
                        </div>


                        <div class="control-group">
                            <label class="control-label">Sala <span class="required">*</span></label>
                            <div class="controls"><input maxlength="500" placeholder="Sala" name="sala" value="<?php echo (isset($this->post_var['sala'])) ? $this->post_var['sala'] : '' ?>" type="text"  class="span3" /></div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">Área da Dependência <span class="required">*</span></label>
                            <div class="controls"><input maxlength="500" placeholder="Metragem" name="metragem" value="<?php echo (isset($this->post_var['metragem'])) ? $this->post_var['metragem'] : '' ?>" type="text"  class="span3" /></div>
                        </div>

                        <div class="control-group">
                            <label class="control-label">Capacidade Física <span class="required">*</span></label>
                            <div class="controls">
                                <input readonly="true" placeholder="Quantidade" name="quantidade" value="<?php echo (isset($this->post_var['quantidade'])) ? $this->post_var['quantidade'] : '' ?>" type="text"  class="span3" />
                                <span class="error-capacity">Não é permitido mais de <b>99</b> alunos na sala</span>
                            </div>
                        </div>


                        <div class="control-group">
                            <label class="control-label">N° da sala <span class="required">*</span></label>
                            <div class="controls"><input maxlength="3" placeholder="N° da sala" name="numerosala" value="<?php echo (isset($this->post_var['numerosala'])) ? $this->post_var['numerosala'] : '' ?>" type="text"  class="span3" /></div>
                        </div>


                        <div class="control-group">
                            <label class="control-label">Ano <span class="required">*</span></label>
                            <div class="controls"><input  placeholder="Ano" name="ano" value="<?php echo (isset($this->post_var['ano'])) ? $this->post_var['ano'] : '' ?>" type="text"  class="span3" /></div>
                        </div>

                        <div class="control-group">
                            <label class="control-label">Status <span class="required">*</span></label>
                            <div class="controls">
                                <select name="status1" data-placeholder="Status" class="select">
                                    <option value="">Selecione...</option>
                                    <option value="Ativo">Ativo</option>
                                    <option value="Bloqueado">Bloqueado</option>
                                </select>

                            </div>
                        </div>

                    </div>

                    <div class="form-actions align-left">
                        <?php if ((isset($this->visualizar)) && ($this->visualizar)) : ?>
                            <button onclick="window.history.back()" class="btn btn-danger cancelar" type="button">Voltar</button>
                        <?php else : ?>
                            <button class="btn btn-primary enviar" type="submit">Salvar</button>
                            <button onclick="window.history.back()" class="btn btn-danger cancelar" type="button">Cancelar</button>
                        <?php endif; ?>
                    </div>
                </div>
                <!-- /general form elements -->
            </fieldset>
        </form>
        <!-- /basic inputs -->
    </div>
    <!-- /content wrapper -->

</div>
<!-- content -->

<script type="text/javascript" src="<?php echo $this->baseUrl('/public/scripts/admin/escolassalas_form.js') ?>"></script>
<script type="text/javascript">
                            var form_values = {};

<?php if (isset($this->post_var)) : ?>

                                form_values.idsecretaria = '<?php echo (isset($this->post_var['idsecretaria'])) ? $this->post_var['idsecretaria'] : '' ?>';
                                form_values.idescola = '<?php echo (isset($this->post_var['idescola'])) ? $this->post_var['idescola'] : '' ?>';
                                form_values.metragem = '<?php echo (isset($this->post_var['metragem'])) ? $this->post_var['metragem'] : '' ?>';
                                form_values.quantidade = '<?php echo (isset($this->post_var['quantidade'])) ? $this->post_var['quantidade'] : '' ?>';
                                form_values.status1 = '<?php echo (isset($this->post_var['status1'])) ? $this->post_var['status1'] : $this->post_var['status'] ?>';


<?php endif; ?>

                            visualizar = <?php echo ((isset($this->visualizar)) && ($this->visualizar)) ? 'true' : 'false' ?>;
</script>
