
<table width="100%" cellpadding="0" cellspacing="0" border="0" nobr="true">
	<tr>
		<td align="right">
			<font size="10">
			    Itaquaquecetuba, <?php echo date('d/m/Y') ?>
		    </font>
		</td>
	</tr>
</table>

<table width="100%" cellpadding="6" cellspacing="0" border="0">
	<tr>
		<td>&nbsp;</td>
	</tr>
</table>

<table width="100%" cellpadding="0" cellspacing="0" border="0" nobr="true">

	<tr>
		<td align="center" width="100%">
			<font size="10">
			    ___________________________________________________________________________________
		    </font>
		</td>

	</tr>
	<tr>
		
		<td align="center" width="100%">
			<font size="10">
			    Ass.
		    </font>
		</td>
	</tr>
</table>
