<table width="100%" cellpadding="0" cellspacing="0" border="0" nobr="true">
	<tr>
		<td align="center">
			<font size="14">
			    <strong>
			        HISTÓRICO DE CHAMADOS 
			    </strong>
		    </font>
		</td>
	</tr>

	<tr>
		<td align="center">
			<font size="14">
			    <strong>
			        N° de protocolo: <?php echo $this->post_var['numeroprotocolo'] ?>
			    </strong>
		    </font>
		</td>
	</tr>
</table>

<table width="100%" cellpadding="6" cellspacing="0" border="0">
	<tr>
		<td>&nbsp;</td>
	</tr>
</table>

<font size="10">
<table width="100%" cellpadding="6" cellspacing="0" border="1" nobr="true">
	<tr>
		<td align="center" colspan="2">
			<b>Chamado Inicial</b>
		</td>
	</tr>
	<tr>
		<td align="left">
			Escola: 
		</td>
		<td align="left">
			<?php
			if((int)$this->post_var['idescola'] > 0):
				$___rows = Escolas::getEscolasHelper(array('id'=>$this->post_var['idescola']));
				$___row = (sizeof($___rows)>0) ? 	$___rows[0] : false;	
				
				echo ($___row) ? $this->formatTextoBranco($___row['escola'] ) : '--';
			endif;		
			?>
		</td>
	</tr>

	<tr>
		<td align="left">
			Departamento da Escola: 
		</td>
		<td align="left">
			<?php
				if((int)$this->post_var['iddepartamentoescola'] > 0):
					$___rows = Departamentosescolas::getDepartamentosescolasHelper(array('id'=>$this->post_var['iddepartamentoescola']));
					$___row = (sizeof($___rows)>0) ? 	$___rows[0] : false;	
					
					echo ($___row) ? $this->formatTextoBranco($___row['departamento']) : '--';		
				endif;
			?>
		</td>
	</tr>

	<tr>
		<td align="left">
			Título: 
		</td>
		<td align="left">
			<?php echo $this->post_var['titulo'] ?>
		</td>
	</tr>

	<tr>
		<td align="left">
			Descrição: 
		</td>
		<td align="left">
			<?php echo $this->post_var['descricoes'] ?>
		</td>
	</tr>



	<tr>
		<td align="left">
			Data do Agendamento: 
		</td>
		<td align="left">
			<?php echo (isset($this->post_var['dataagendamento'])) ? Mn_Util::formPostVarData($this->post_var['dataagendamento']) : '' ?>
		</td>
	</tr>

	<tr>
		<td align="left">
			Tipo: 
		</td>
		<td align="left">
			<?php if($this->getController()=="engenhariaschamados"):?>
				<?php echo $this->post_var['tipo'] ?>
			<?php elseif($this->getController()=="tichamados"): ?>
				<?php echo $this->post_var['tipo'] ?>
			<?php endif; ?>
		</td>
	</tr>

	<tr>
		<td align="left">
			Prioridade : 
		</td>
		<td align="left">
			<?php echo $this->post_var['prioridade'] ?>
		</td>
	</tr>
</table>

<table width="100%" cellpadding="6" cellspacing="0" border="0">
	<tr>
		<td>&nbsp;</td>
	</tr>
</table>

<table width="100%" cellpadding="6" cellspacing="0" border="1" nobr="true">
	<tr>
		<th align="center" colspan="5">
			<b>Histórico do chamado</b>
		</th>
	</tr>
	<tr>
		<td class="">Usuário Criação</td>
        <td class="">Responsável</td>
        <td class="">Descrições</td>		                                   
		<td class="">Dt do agenda.</td>
        <td class="">Status</td>
	</tr>

	<?php foreach($this->historicos as $i=>$row): ?>
	<tr>
		<td align="left"> 
		<?php
			$___rows = Usuarios::getUsuariosHelper(array('id'=>$row['idusuariocriacao']));
			$___row = (sizeof($___rows)>0) ? 	$___rows[0] : false;	
			
			echo ($___row) ? $this->formatTextoBranco($___row['nomerazao'] . ' ' . $___row['sobrenomefantasia']) : '--';		
		?>
		</td>
		<td>												
			<?php if($this->post_var['destinatario']=="Secretaria"): ?>
				<?php
				if((int)$row['idusuarioresponsavel'] > 0):
					$___rows = Usuarios::getUsuariosHelper(array('id'=>$row['idusuarioresponsavel']));
					$___row = (sizeof($___rows)>0) ? 	$___rows[0] : false;	
					
					echo ($___row) ? $this->formatTextoBranco('<b>Usuário: </b>' . $___row['nomerazao'] . ' ' . $___row['sobrenomefantasia'] . '<br />') : '--';	
				endif;			
				?>
				<?php
				if((int)$row['iddepartamentosecretaria'] > 0):
					$___rows = Departamentossecretarias::getDepartamentossecretariasHelper(array('id'=>$row['iddepartamentosecretaria']));
					$___row = (sizeof($___rows)>0) ? 	$___rows[0] : false;	
					
					echo ($___row) ? $this->formatTextoBranco('<b>Departamento: </b>' . $___row['departamento']) : '--';		
				endif;
				?>
			<?php elseif($this->post_var['destinatario']=="Escola"): ?>
				<?php
				if((int)$row['idescola'] > 0):
					$___rows = Escolas::getEscolasHelper(array('id'=>$row['idescola']));
					$___row = (sizeof($___rows)>0) ? 	$___rows[0] : false;	
					
					echo ($___row) ? $this->formatTextoBranco('<b>Escola:</b> ' . $___row['escola'] . '<br />') : '--';
				endif;		
				?>

				<?php
				if((int)$row['idescolausuarioresponsavel'] > 0):
					$___rows = Escolasusuarios::getEscolasusuariosHelper(array('id'=>$row['idescolausuarioresponsavel']));
					$___row = (sizeof($___rows)>0) ? 	$___rows[0] : false;	
					
					echo ($___row) ? $this->formatTextoBranco('<b>Usuário:</b> ' . $___row['nomerazao'] . ' ' . $___row['sobrenomefantasia'] . '<br />') : '--';
				endif;		
				?>

				<?php
					if((int)$row['iddepartamentoescola'] > 0):
						$___rows = Departamentosescolas::getDepartamentosescolasHelper(array('id'=>$row['iddepartamentoescola']));
						$___row = (sizeof($___rows)>0) ? 	$___rows[0] : false;	
						
						echo ($___row) ? $this->formatTextoBranco('<b>Departamento:</b> ' . $___row['departamento'] . '<br />') : '--';		
					endif;
				?>
			<?php endif ?>

		</td>
		<td><?php echo $row['descricoes'] ?></td>

		<td>
			<?php echo Mn_Util::formPostVarData($row['dataagendamento']) ?>
		</td>

		<td><?php echo $row['status'] ?></td>
	</tr>
	<?php endforeach;?>
</table>

</font>

<table width="100%" cellpadding="6" cellspacing="0" border="0">
	<tr>
		<td>&nbsp;</td>
	</tr>
</table>
<table width="100%" cellpadding="6" cellspacing="0" border="0">
	<tr>
		<td>&nbsp;</td>
	</tr>
</table>
<table width="100%" cellpadding="6" cellspacing="0" border="0">
	<tr>
		<td>&nbsp;</td>
	</tr>
</table>
<table width="100%" cellpadding="6" cellspacing="0" border="0">
	<tr>
		<td>&nbsp;</td>
	</tr>
</table>

<table width="100%" cellpadding="0" cellspacing="0" border="0" nobr="true">
	<tr>
		<td align="right">
			<font size="10">
			    Itaquaquecetuba, <?php echo date('d/m/Y') ?>
		    </font>
		</td>
	</tr>
</table>

<table width="100%" cellpadding="6" cellspacing="0" border="0">
	<tr>
		<td>&nbsp;</td>
	</tr>
</table>

<table width="100%" cellpadding="0" cellspacing="0" border="0" nobr="true">

	<tr>
		<td align="center" width="100%">
			<font size="10">
			    ___________________________________________________________________________________
		    </font>
		</td>

	</tr>
	<tr>
		
		<td align="center" width="100%">
			<font size="10">
			    Ass.
		    </font>
		</td>
	</tr>
</table>
