<style type="text/css">
    .font16{ font-size:1em; font-family: 'Helvetica, sans-serif'; }
    .font14{ font-size:14px; font-family: 'Helvetica, sans-serif'; }
    .font18{ font-size:1.3em; font-family: 'Helvetica, sans-serif'; }
    .font20{ font-size:1.5em; font-family: 'Helvetica, sans-serif'; }
    .black{ color:#000; }
    .white{ color:#fff; }
    .gray{ color:#ccc; }
    .red{ color:#ff0000; }
    .textleft{ text-align: left; }
    .textright{ text-align: right; }
    .left{ float: left }
    .textcenter{text-align: center; }
    .padding5{ padding: 5px; }
    .margin10 {margin-top:50px; display: block;}
    .textjustify { text-align: justify; }
    .main-box{ display:block; width: 100%; border:1px solid #ccc; padding:5px; }
    .content{ display: block; width: 45%; border:1px solid; }
    .fontitalic{ font-style: italic; }
    tr{
        border:1px solid;
    }
</style>
<br><br>
<table class="textleft margin10">
    <tr class="margin10">
        <td ><h3 style="margin-top: 15px;" class="padding5">Termos de Transferência</h3></td>
    </tr>
</table>
<br>
<table class="left font16 padding5" style="border: 1px solid black; ">
    <tr>
        <td colspan="2" class="black"><b>Local Origem:</b> <?php echo (isset($this->perfil))?$this->perfil : '--'; ?><?php echo (isset($this->escola)) ? ' - <b>Escola :</b> '.$this->escola : '' ?></td>
    </tr>   

    <tr>
        <td colspan="2" class="black"><b>Local Destino:</b> <?php echo (isset($this->perfildestino))?$this->perfildestino : '--'; ?><?php echo (isset($this->escoladestino)) ? ' - <b>Escola :</b> '.$this->escoladestino : '' ?></td>
    </tr>   
</table>
<table class="left font16 padding5">
    <tr>
        <td colspan="1" class="black"><b>N° Patrimônio</b></td>
        <td colspan="1" class="black"><b>Patrimônio</b></td>        
    </tr>
    <tr>
        <td colspan="1" ><?php echo (isset($this->numeropatrimonio)) ? $this->numeropatrimonio : '--'; ?></td>
        <td colspan="1" ><?php echo (isset($this->patrimonio)) ? $this->patrimonio : '--'; ?></td>       
    </tr>
</table>
<br>
<table>
    <tr>
        <td class="black"><b>Descrição do bem</b></td>
        <td class="black"><b>Observação</b></td>
    </tr>
    <tr>
        <td class="font16"><?php echo (isset($this->descricoesdobem)) ? $this->descricoesdobem : '--'; ?></td>
        <td class="font16"><?php echo (isset($this->observacoes)) ? $this->observacoes : '--'; ?></td>
    </tr>
</table>
<br><br>
<br><br>
<table class="main-box">
    <br>
    <thead>
        <tr class="content">
            <th class="font18 textcenter"><b>Responsável atual</b></th>
            <th class="font18 textcenter"><b>Novo responsável</b></th>
        </tr>
    </thead>
    <tbody>
        <tr class="content">
            <td class="font18"></td>
            <td class="font18">
                <span class="textleft black font16">
                    De acordo com as normas de controle patrimonial vigente, declaro pelo presente documento que ficou sob minha inteira responsabilidade o patrimônio descrito neste Termo
                </span>
            </td>            
        </tr>
        <br><br>
        <tr class="content">
            <td class="font18">Nome:__________________________</td>
            <td class="font18">Nome:__________________________</td>            
        </tr>
         <tr class="content">
            <td class="font18">RGF: ___________________________</td>
            <td class="font18">RGF: ___________________________</td>            
        </tr>
         <br><br><br><br>
        <tr class="content">
            <td class="font18 fontitalic textcenter">Assinatura</td>
            <td class="font18 fontitalic textcenter">Assinatura</td>            
        </tr>
        <tr class="content">
            <td class="font18 textcenter">__________________________</td>
            <td class="font18 textcenter">__________________________</td>            
        </tr>
    </tbody>
</table>
<br><br><br>
<table>
    <tr>
        <td class="font18 textright"><?php echo $this->localdata; ?></td>
    </tr>
</table>
