<style type="text/css">
    .font16{ font-size:1em; font-family: 'Helvetica, sans-serif'; }
    .font14{ font-size:14px; font-family: 'Helvetica, sans-serif'; }
    .font18{ font-size:1.3em; font-family: 'Helvetica, sans-serif'; }
    .font20{ font-size:1.5em; font-family: 'Helvetica, sans-serif'; }
    .black{ color:#000; }
    .white{ color:#fff; }
    .gray{ color:#ccc; }
    .red{ color:#ff0000; }
    .textleft{ text-align: left; }
    .textright{ text-align: right; }
    .left{ float: left }
    .textcenter{text-align: center; }
    .padding5{ padding: 5px; }
    .margin10 {margin-top:50px; display: block;}
    .textjustify { text-align: justify; }
    .line{ border:1px solid #ccc;  background:#000; width: 250px;}
    .each-line{width: 25px; display: inline; border:1px solid #000;}
    .contorno{border-top: 0.5px solid black; border-bottom: 0.5px solid black;}
    .contornoleft{ border-left: 0.5px solid black;  }
    .contornoright{ border-right: 0.5px solid black;  }
</style>
<br><br>
<br><br>
<table class="textleft margin10">
    <tr class="margin10">
        <td ><h3 style="margin-top: 15px;" class="padding5">Termo de responsabilidade - Meus patrimônios</h3></td>
    </tr>
</table>
<br>
<table class="left font16 padding5" style="border: 1px solid black; ">
    <tr>
        <td colspan="2" class="black"><b>Local :</b> <?php echo (isset($this->perfil)) ? $this->perfil : '--'; ?><?php echo (isset($this->escola)) ? ' - <b>Escola :</b> '.$this->escola : '' ?></td>
    </tr>   
</table>
<br>
<table class="left font16 padding5">
    <tr>
        <td colspan="2" class="black"><b>N° Patrimônio</b></td>
        <td colspan="2" class="black"><b>Patrimônio</b></td>
        <td colspan="6" class="black"><b>Descrição do bem</b></td>        
    </tr>
    
    <?php foreach ($this->rows as $patrimonios => $patrimonio): ?>
    <tr>    	
        <td colspan="2" class="contorno contornoleft"><?php echo $patrimonio['numeropatrimonio'] ?></td>
        <td colspan="2" class="contorno"><?php echo $patrimonio['patrimonio'] ?></td>
        <td colspan="6" class="contorno contornoright"><?php echo $patrimonio['descricoesdobem'] ?></td>
    </tr>
    <?php endforeach ?>
</table>
<br><br>
<br><br>
<br><br>
<table>
	<tr>
		<td class="font18 black textjustify">
			Declaro pelo presente instrumento e de acordo com a <span class="red">legislação municipal</span>, assumo total responsabilidade pelos bens patrimoniais acima relacionados, comprometendo-me a informar de imediato quaisquer alterações e/ou irregularidades ocorridas, bem como zelar pela guarda e o bom uso do patrimônio público.
		</td>
	</tr>
</table>
<br><br>
<br><br>
<br><br>
<table>
	<tr>
		<td class="textright font20">
			<?php echo $this->localdata; ?>
		</td>
	</tr>
</table>
<br><br>
<br><br>
<br><br>
<table>
	<tr>
		<td class="textright font18">
			___________________________________
		</td>
	</tr>
	<tr>	
		<td class="textright font20">
			Usuário Responsável pelo Patrimônio
		</td>
	</tr>
</table>
