<b>RA:</b> <?php echo (isset($this->post_var['ra'])) ? $this->post_var['ra'] : '--' ?><br />
<b>Data de nascimento:</b> <span id="dtnascimento"><?php echo (isset($this->post_var['nascimento'])) ?  Mn_Util::formPostVarData($this->post_var['nascimento']) : "" ?></span><br />
<b>Sexo:</b> <?php echo $this->post_var['sexo'] ?><br />