<?php if (sizeof($this->rows) == 0) : ?>
    <option value="">Selecione...</option>
    <option value="">Nenhum departamento foi encontrado</option>
<?php else : ?>
    <option value="">Todos</option>
    <?php foreach ($this->rows as $row) : ?>
        <option value="<?php echo $row['id'] ?>"><?php echo $row['nomerazao'] ?> <?php echo $row['sobrenomefantasia'] ?></option>
    <?php endforeach; ?>
<?php endif; ?>