<style>
	.graph{
		width: 100%;
	    display: block;
	    border: 1px solid #ccc;
	}
	.graph-img{
		width: 100%;
	}
	#graph-content{
		position: absolute;
	    z-index: -1;	  
	    width: 81.5%;
	    top: 30px;
	    left: 71px;
	}
	.graph-table{
		width: 100%;
	    border: none;
	    padding: 0;
	    background: transparent;
	    border-spacing: 0px;
        margin-left: 1.5px;
   		margin-top: -1px;
	}
	.graph-table tbody{ padding: 0px; margin:0px; width: 100%; line-height: normal; }
	.graph-table .gph-header{
		width: 20%;
	    display: inline-block;
	    margin-left: 0px;
	    margin-top: 2.7px;
	}
	.graph-table .gph-header .gph-square{
		width: 100%;
	    display: block;
	    padding: 0;
	}
	.graph-table .gph-header .gph-square .hold{ 
		width: 100%;
	    height: 9.1px;
	    margin-top: -3.1px;
		margin-left: 0px;
	}
	@-moz-document url-prefix() {
	   .graph-table .gph-header .gph-square .hold{
	   	 	margin-top: -1px !important;
			margin-left: -1px !important;
	   }
	}
	.graph-table .gph-header .gph-square .hold .each-square{
		display: inline-block;
	    width: 5.5%;
	    padding: 3px;
	    margin-left: 1px;
	    margin-right: -3px;
	    /* border: 0.5px ridge; */
	    /* background: #ccc; */
	}
	.selected{
		background: #000;
	    padding: 5px;
	    border-radius: 14px;
	    display: block;
	    /*position: absolute;*/
	    width: 4px !important;
	    padding: 4px !important;
	    height: 3px;
	    margin-top: -2px;
	}
	.selected2{
		background: #000;

	}
	.graph-helper{
		position: absolute;
	    top: 9px;
	    width: 98%;
	    left: 9px;
	}	
	.graph-helper .helper-content .helper-img{
		width: 100%;
		position: relative;
		margin-top: 6px;
	}
	
	#graph-point{
		padding: 10px;
	    background: #000;
	    border-radius: 10px;
	    position: absolute;
	    top: 84px;
	    left: 79.2%;
	    z-index: 9999;
	}
	#canvas{	    
		position: relative;
	    margin-top: 2.5%;
	    margin-left: 7.5%;
	}
</style>
<div id="main-box">
	<div class="graph">
		<?php
			$idade = $this->anos.'.'.$this->meses;
			if($this->sexo=="Masculino" AND ($idade > 0 AND $idade < 5)):
		?>
			<img src="<?php echo $this->baseUrl('/public/admin/imagens/masculino_0_5.jpg');?>" class="graph-img">
		<?php else :?>
			<img src="<?php echo $this->baseUrl('/public/admin/imagens/feminino_0_5.jpg');?>" class="graph-img">
		<?php endif;?>

		<div class="graph-helper">
			<div class="helper-content" name="masculino">			
				<!--<img src="<?php //echo $this->baseUrl('/public/admin/imagens/masc_0_5/masc_7.png');?>" class="helper-img" name="3_">
				<img src="<?php //echo $this->baseUrl('/public/admin/imagens/masc_0_5/masc_6.png');?>" class="helper-img" name="2_3" style="margin-top:-18.4%">
				<img src="<?php //echo $this->baseUrl('/public/admin/imagens/masc_0_5/masc_5.png');?>" class="helper-img" name="1_2" style="margin-top:-17.5%">
				<img src="<?php //echo $this->baseUrl('/public/admin/imagens/masc_0_5/masc_4.png');?>" class="helper-img" name="-1_1" style="margin-top:-16.5%">
				<img src="<?php //echo $this->baseUrl('/public/admin/imagens/masc_0_5/masc_3.png');?>" class="helper-img" name="-1_-2" style="margin-top:-15.5%">
				<img src="<?php //echo $this->baseUrl('/public/admin/imagens/masc_0_5/masc_2.png');?>" class="helper-img" name="-2_-3" style="margin-top:-15.5%">
				<img src="<?php //echo $this->baseUrl('/public/admin/imagens/masc_0_5/masc_1.png');?>" class="helper-img" name="-3_" style="margin-top:-16%">-->
				<!--<img src="<?php //echo $this->baseUrl('/public/admin/imagens/masc_0_5/masc_0_5_graph.png');?>" class="helper-img" id="graph-img-helper">-->
				<canvas id="canvas" width="100%" height="100%"></canvas>
			</div>
		</div>
		<div id="graph-content">
			<!--aqui vem o conteúdo do gráfico-->
		</div>
	</div>
</div>

<div id="status"></div>
<div id="color" style="width:30px;height:30px;"></div>

<script type="text/javascript" src="<?php echo $this->baseUrl('/public/admin/js/jquery.min.js') ?>"></script>
<script type="text/javascript">
	gerarGraficoBox(0, 5, 12, 10, 22);
	function gerarGraficoBox(anoinicio, anofim, mesesgrupo, imcinicio, imcfim ){
		var imcfim = imcfim;
		var element = document.getElementById('graph-content');
		var qntanos = anofim-anoinicio;
		var qntimc = imcfim-imcinicio;

		var meses = mesesgrupo;
		//alert(meses);
		var html;
		html = '<table class="graph-table"><tbody>';

		var first;
		//alert(qntanos);
		for(first=0; first<qntanos; first++){
			html += '<tr class="gph-header">';

			var line;
			for(line=5; line>=1; line--){
				html += '<td class="gph-square">';
				html +=		'<div class="hold">';
				for(m=0; m<meses; m++){
					html +=	 '<div class="each-square" id="sqr_'+imcfim+'_'+line+'_'+first+'_'+m+'"></div>';
				}
				html +=	  '</div>';					
				html +=	'</td>';
			}
			html += '</tr>';
			
		} 
		var col, i, last, collast;
		imcfim=imcfim-1;
		while(imcfim>=imcinicio){
			
				for(j=0; j<qntanos; j++){
				html += '<tr class="gph-header">';

				
				for(i=5; i>=1; i--){
					html += '<td class="gph-square">';
					html +=		'<div class="hold">';
					for(n=0; n<meses; n++){
						html +=	'<div class="each-square" id="sqr_'+imcfim+'_'+i+'_'+j+'_'+n+'"></div>';
					}
					html +=		'</div>';		
					html +=	'</td>';
				}
				html += '</tr>';
		}

		imcfim=imcfim-1;
	}

	for(last=0;last<qntanos; last++){
		html += '<tr class="gph-header">';
			for(collast=4; collast>=1; collast--){
				html += '<td class="gph-square">';
				html +=		'<div class="hold">';
				for(td=0; td<meses; td++){
					html +=	'<div class="each-square" id="sqr_'+imcfim+'_'+collast+'_'+last+'_'+td+'"></div>';
				}
				html +=	 '</div>';					
				html +=	'</td>';
			}
		html += '</tr>';
	}

	html += '</tbody></table>';

	element.innerHTML = html;

	}

	$(document).ready(function(){
		imc = "<?php echo (isset($this->imc)) ? $this->imc : '' ?>";
		anos = "<?php echo (isset($this->anos)) ? $this->anos : '' ?>";
		meses = "<?php echo (isset($this->meses)) ? $this->meses : '' ?>";
		sexo = "<?php echo (isset($this->sexo)) ? $this->sexo : '' ?>";

		//tirar o "0" do início da idade, caso exista
		while(anos.charAt(0) === '0')
		{
		 anos = anos.substr(1);
		}

		idade = anos+'.'+meses;
		
		if((idade>=0 && idade <5) && sexo=="Masculino"){
			
		}else if((idade>=0 && idade <5) && sexo=="Feminino"){
			
		}else if((idade>=5 && idade <=19) && sexo=="Feminino"){

		}else if((idade>=5 && idade <=19) && sexo=="Masculino"){
			
		}else{
			//verifique a idade da criança
			return false;
		}
		//separar o IMC no ponto
		imcparts = imc.split('.');
		mainimc = imcparts[0];
		rest = Math.round(imcparts[1]/20);

		//mostrar ponto do IMC/IDADE no gráfico
		box = '#sqr_'+mainimc+'_'+rest+'_'+anos+'_'+meses+'';
		$(box).addClass('selected');

		//elem = box.getBoundingClientRect();
		//console.log(elem);


		valLeft = $(box).offset().left;
		valTop = $(box).offset().top;
		//console.log('x==>'+valLeft, 'y==>'+valTop);
		//console.log(valLeft);
		//console.log(valTop);

		//$(".selected").offset({ top: 15, left: 0 });
		
		//elemento = document.elementFromPoint(valLeft, valTop);
		//alert(elemento);
		
		

		
		/*x = parseInt($('.selected').offset().left);
		y = parseInt($('.selected').offset().top);
		getElementByPoint(x, y);*/
 		//simulateClick(x, y);

 		/*x = parseInt($('.selected').offset().left);
		y = parseInt($('.selected').offset().top);*/

 		
	});

function getPosicaoElemento(elemID){
    var offsetTrail = document.getElementById(elemID);
    var offsetLeft = 0;
    var offsetTop = 0;
    while (offsetTrail) {
        offsetLeft += offsetTrail.offsetLeft;
        offsetTop += offsetTrail.offsetTop;
        offsetTrail = offsetTrail.offsetParent;
    }
    if (navigator.userAgent.indexOf("Mac") != -1 && 
        typeof document.body.leftMargin != "undefined") {
        offsetLeft += document.body.leftMargin;
        offsetTop += document.body.topMargin;
    }
    return {left:offsetLeft, top:offsetTop};


}
//EXEMPLO CHAMADA
//alert("esquerda:" + getPosicaoElemento("sqr_20_4_4_4").left);
//alert("topo:" + getPosicaoElemento("sqr_20_4_4_4").top);


var canvas = document.getElementById("canvas");

function getElementByPoint(x,y) {

	var img = document.getElementById('graph-img-helper');
	var canvas = document.createElement('canvas');
	canvas.width = img.width;
	canvas.height = img.height;

	
	//console.log(canvas.height);
	canvas.getContext('2d').drawImage(img, 0, 0, img.width, img.height);


	//x = parseInt($('.selected').offset().left);
	//y = parseInt($('.selected').offset().top);

	console.log(x, y);
	var pixelData = canvas.getContext('2d').getImageData(x, y, 1, 1).data;

	console.log(pixelData);
	//canvas.getContext('2d').drawImage(img, 0, 0, this.width, this.height);

	//var imgd = canvas.getContext('2d').getImageData(event.offsetX, event.offsetY, 1, 1).data;	
    //el = document.elementFromPoint(x, y);

}


function getElementPosition(obj) {
    var curleft = 0, curtop = 0;
    if (obj.offsetParent) {
        do {
            curleft += obj.offsetLeft;
            curtop += obj.offsetTop;
        } while (obj = obj.offsetParent);
        return { x: curleft, y: curtop };
    }
    return undefined;
}

function getEventLocation(element,event){
	var pos = getElementPosition(element);
    	
    return {
    	x: (event.pageX - pos.x),
      	y: (event.pageY - pos.y)
    };
}

function rgbToHex(r, g, b) {
    if (r > 255 || g > 255 || b > 255)
        throw "Invalid color component";
    return ((r << 16) | (g << 8) | b).toString(16);
}

function drawImageFromWebUrl(sourceimg){
      //var img = document.getElementById("graph-img-helper");
      var img = new Image();
      canvas.width = 702;
      canvas.height = 449;


      img.addEventListener("load", function () {
           //The image can be drawn from any source
          canvas.getContext("2d").drawImage(img, 0, 0, img.width, img.height, 0, 0, canvas.width, canvas.height);
          
          console.log(img.width, img.height, canvas.width, canvas.height);
      });
		
      img.setAttribute("src", sourceimg);
      //img.setAttribute("id", "graph-img-helper");
}

drawImageFromWebUrl("<?php echo $this->baseUrl('/public/admin/imagens/masc_0_5/masc_0_5_graph2.png');?>");

canvas.addEventListener("click",function(e){
		
	var eventLocation = getEventLocation(this,e);
    var coord = "x=" + eventLocation.x + ", y=" + eventLocation.y;
    //alert(coord);
    // Get the data of the pixel according to the location generate by the getEventLocation function
    var context = this.getContext('2d');
	//console.log(context);
	//console.log(eventLocation.x, eventLocation.y);
	
    var pixelData = context.getImageData(eventLocation.x, eventLocation.y, 10, 10).data; 
    console.log(pixelData);

    // If transparency on the image
    if((pixelData[0] == 0) && (pixelData[1] == 0) && (pixelData[2] == 0) && (pixelData[3] == 0)){
 				coord += " (Transparent color detected, cannot be converted to HEX)";
    }
    
    var hex = "#" + ("000000" + rgbToHex(pixelData[0], pixelData[1], pixelData[2])).slice(-6);
    //alert(hex);
    // Draw the color and coordinates.
    document.getElementById("status").innerHTML = coord;
    document.getElementById("color").style.backgroundColor = hex;
});

//canvas.addEventListener("click", function (e) { getCursorPosition(canvas, e);});

//$(canvas).trigger('click');



function getCursorPosition(canvas, event) {
	
    var rect = canvas.getBoundingClientRect();
    //console.log(rect);

    var x = event.clientX - rect.left;
    var y = event.clientY - rect.top;
    console.log("x: " + x + " y: " + y);
}
//$(canvas).trigger("click");
//click(281, 98);

function simulate(element, eventName)
{
    var options = extend(defaultOptions, arguments[2] || {});
    var oEvent, eventType = null;

    for (var name in eventMatchers)
    {
        if (eventMatchers[name].test(eventName)) { eventType = name; break; }
    }

    if (!eventType)
        throw new SyntaxError('Only HTMLEvents and MouseEvents interfaces are supported');

    if (document.createEvent)
    {
        oEvent = document.createEvent(eventType);
        if (eventType == 'HTMLEvents')
        {
            oEvent.initEvent(eventName, options.bubbles, options.cancelable);
        }
        else
        {
            oEvent.initMouseEvent(eventName, options.bubbles, options.cancelable, document.defaultView,
            options.button, options.pointerX, options.pointerY, options.pointerX, options.pointerY,
            options.ctrlKey, options.altKey, options.shiftKey, options.metaKey, options.button, element);
        }
        element.dispatchEvent(oEvent);
    }
    else
    {
        options.clientX = options.pointerX;
        options.clientY = options.pointerY;
        var evt = document.createEventObject();
        oEvent = extend(evt, options);
        element.fireEvent('on' + eventName, oEvent);
    }
    return element;
}

function extend(destination, source) {
    for (var property in source)
      destination[property] = source[property];
    return destination;
}

var eventMatchers = {
    'HTMLEvents': /^(?:load|unload|abort|error|select|change|submit|reset|focus|blur|resize|scroll)$/,
    'MouseEvents': /^(?:click|dblclick|mouse(?:down|up|over|move|out))$/
}
var defaultOptions = {
    pointerX: 0,
    pointerY: 0,
    button: 0,
    ctrlKey: false,
    altKey: false,
    shiftKey: false,
    metaKey: false,
    bubbles: true,
    cancelable: true
}

//simulate(canvas, "click", { pointerX: 300, pointerY: 50 });
/*var e = new jQuery.Event("click");
e.pageX = 250;
e.pageY = 98;
$(canvas).trigger(e);*/

//x = parseInt($('.selected').offset().left - 74);
//y = parseInt($('.selected').offset().top - 27);
$(window).on("load", function(){
  	x = parseInt($('.selected').offset().left - 74);
	y = parseInt($('.selected').offset().top - 27);
	document.elementFromPoint(x,).click();
});


</script>