		<!-- Content -->
		<div id="content">

		    <!-- Content wrapper -->
		    <div class="wrapper">

			    <!-- Breadcrumbs line -->
			    <div class="crumbs">
			    	<?php echo $this->render('/helpers/breadcrumb.phtml') ?>
			    </div>
			    <!-- /breadcrumbs line -->

			    <!-- Page header -->
			    <div class="page-header">
			    	<div class="page-title">
				    	<h5>Formulário do lançamento de Despesas</h5>
				    	<span>Verifique os campos e preencha com os dados</span>
			    	</div>
			    </div>
			    <!-- /page header -->

			    <?php if (isset($this->crudMessage)) : ?>
					<div class="alert alert-success">
	                	<button data-dismiss="alert" class="close" type="button">×</button>
	                    <strong>Operação realizada com sucesso!</strong>
		    			<span><br /><?php echo $this->crudMessage ?></span>
	                </div>			    
			    <?php endif; ?>

				<form id="form" name="form" action="" method="post" class="form-horizontal" enctype="multipart/form-data"> 
					<input type="hidden" value="<?php echo (isset($this->post_var)) ? $this->post_var["id"] : ''; ?>" name="id" id="id" />
					
					<fieldset>
						<!-- General form elements -->
						<div class="widget row-fluid">
						    <div class="navbar">
						        <div class="navbar-inner">
						            <h6>Digite as informações do formulário</h6>
						        </div>
						    </div>

						    <div class="well">
								<?php if (isset($this->erros)) : ?>
									<div class="alert alert-error margin">
				                        <button data-dismiss="alert" class="close" type="button">×</button>
				                        <strong>Há erros no formulário!</strong>
					    				<?php foreach ($this->erros as $k=>$v) : ?>
					    					<span><br />- <?php echo $v ?></span>
					    				<?php endforeach;?>			                        
				                    </div>
			                    <?php endif; ?>						    
						     
                <?php $idescola = Usuarios::getUsuario('idescola'); ?>
				<?php $idlocal = Usuarios::getUsuario('idlocal'); ?>
				<?php if(($idescola>0) || ($idlocal>0)): ?>		    
				<div class="control-group">
					<div class="controls1 visualizar">
						<table class="table table-content" width="100%">
							<tbody>
								<tr>
									<input maxlength="500" placeholder="Nome do Usuário" name="idusuario" value="<?php echo Usuarios::getUsuario('id') ?>" type="hidden"  class="span3" />
									<input  placeholder="Data de lançamento" name="datalancamento" value="<?php echo (isset($this->post_var['datalancamento'])) ? Mn_Util::formPostVarData($this->post_var['datalancamento']) : date('d/m/Y') ?>" type="hidden"  class="span3" />
									<input maxlength="500" placeholder="Nome do Usuário" name="idlocal" value="<?php echo Usuarios::getUsuario('idlocal') ?>" type="hidden"  class="span3" />
									<input maxlength="500" placeholder="Nome do Usuário" name="idescola" value="<?php echo Usuarios::getUsuario('idescola') ?>" type="hidden"  class="span3" />

									<td width="33%">Nome do Usuário: <?php echo Usuarios::getUsuario('nomerazao') . " - " . Usuarios::getUsuario('rgf') ?></td>
									<td width="34%">Data da Abertura: <?php echo date('d/m/Y') ?></td>
									<td width="33%">Escola: <?php 
											$local = Escolas::getEscolaByIdHelper(Usuarios::getUsuario('idescola')); 
											echo ((isset($local['escola'])) && ($local['escola']) && ($local['escola']!="") ) ? $local['escola'] : '';
										?>
											
									</td>
								</tr>
							</tbody>
						</table>
						
					</div>
				</div>
				<?php else: ?>
				<div class="control-group">
					<div class="controls1 visualizar">
						<table class="table table-content" width="100%">
							<tbody>
								<tr>
									<input maxlength="500" placeholder="Nome do Usuário" name="idusuario" value="<?php echo Usuarios::getUsuario('id') ?>" type="hidden"  class="span3" />
									<input  placeholder="Data de lançamento" name="datalancamento" value="<?php echo (isset($this->post_var['datalancamento'])) ? Mn_Util::formPostVarData($this->post_var['datalancamento']) : date('d/m/Y') ?>" type="hidden"  class="span3" />
									
									<td width="50%">Nome do Usuário: <?php echo Usuarios::getUsuario('nomerazao') . " - " . Usuarios::getUsuario('rgf') ?></td>
									<td width="50%">Data da Abertura: <?php echo date('d/m/Y') ?></td>
									
								</tr>
							</tbody>
						</table>
						
					</div>
				</div>
				<?php endif; ?>
							
				<?php if(((int)$idescola>0) || ((int)$idlocal>0)): ?>

				<?php else: ?>
				<div class="control-group">
					<label class="control-label">Escolas <span class="required">*</span></label>
					<div class="controls">
                        <select id="idescola" name="idescola"  class="select" onchange="setPeriodos(this, 0)">
	                        <option value="">Selecione...</option>
	                        <?php foreach ($this->escolas as $e=>$row): ?>
	                        <option value="<?php echo $row['id'] ?>"><?php echo $row['escola'] ?></option>
	                        <?php endforeach;?>
                        </select>   
					</div>
				</div>
				<?php endif; ?>


				<div class="control-group">
					<label class="control-label">Tipo de convênio </label>
					<div class="controls">
		                <select name="idtipoconvenio" data-placeholder="Convênio" class="select" onchange="settipobanco(this, false)">
							<option value="">Selecione...</option>
							<?php foreach (Financeirotiposconvenios::getFinanceirotiposconveniosHelper(array('status'=>'Ativo')) as $k=>$v) : ?>
							<option value="<?php echo $v['id'] ?>"><?php echo $v['titulo'] ?></option>
							<?php endforeach;?>
						</select>
						
					</div>
				</div>

				<?php if($this->post_var['sequencial']): ?>
					<div class="control-group">
						<label class="control-label">Sequencial/Ano </label>
						<div class="controls"><input maxlength="500" placeholder="Sequencial/Ano" name="sequencial" value="<?php echo (isset($this->post_var['sequencial'])) ? $this->post_var['sequencial'] : '' ?>" type="text"  class="span3" /></div>
					</div>
				<?php else: ?>
					<div class="control-group">
						<label class="control-label">Sequencial/Ano </label>
						<div class="controls"><input maxlength="500" placeholder="Sequencial/Ano" name="sequencial" value="<?php echo 'D' . rand(1, 9999) . date("s") . '/' . date('Y'); ?>" type="text"  class="span3" /></div>
					</div>
				<?php endif; ?>
 
				<div class="control-group"> 
					<label class="control-label">Banco </label>
					<div class="controls">
							<select name="idbanco" id="escolasapmscontas-container"  class="select">
							<option value="">Selecione...</option>
							<?php foreach ($this->escolasapmscontas as $a=>$escolasapmsconta) : ?>
							<option value="<?php echo $escolasapmsconta['id']; ?>"><?php echo $escolasapmsconta['banco'] . '  Agencia:' . $escolasapmsconta['agencia'] . ' Conta: ' . $escolasapmsconta['conta'] . ' Digito:' . $escolasapmsconta['digito'] ; ?></option>
							<?php endforeach;?>
						</select>  
					</div>
				</div>

				<div class="control-group">
					<label class="control-label">Data</label>
					<div class="controls"><input placeholder="Data" name="data" value="<?php echo (isset($this->post_var['data'])) ? Mn_Util::formPostVarData($this->post_var['data']) : '' ?>" type="text"  class="span3" /></div>
				</div>


				<div class="control-group">
					<label class="control-label">Tipo de despesa </label>
					<div class="controls">
		                <select name="idtipodespesa" data-placeholder="Tipo de despesa" class="select">
							<option value="">Selecione...</option>
							<?php foreach (Financeirodespesastipos::getFinanceirodespesastiposHelper(array('status'=>'Ativo')) as $k=>$v) : ?>
							<option value="<?php echo $v['id'] ?>"><?php echo $v['tipo'] ?></option>
							<?php endforeach;?>
						</select>
						
					</div>
				</div>


				<div class="control-group">
					<label class="control-label">Fornecedor </label>
					<div class="controls"><input maxlength="500" placeholder="Fornecedor" name="fornecedor" value="<?php echo (isset($this->post_var['fornecedor'])) ? $this->post_var['fornecedor'] : '' ?>" type="text"  class="span3" /></div>
				</div>


				<div class="control-group">
					<label class="control-label">CNPJ </label>
					<div class="controls"><input maxlength="500" placeholder="CNPJ" name="cnpj" value="<?php echo (isset($this->post_var['cnpj'])) ? $this->post_var['cnpj'] : '' ?>" type="text"  class="span3" /></div>
				</div>



				<div class="control-group">
					<label class="control-label">Descrição da despesa </label>
					<div class="controls"><textarea class="span12" name="descricaodespesa" cols="5" rows="5"><?php echo (isset($this->post_var)) ? $this->post_var["descricaodespesa"] : ''; ?></textarea></div>
				</div>


				<div class="control-group">
					<label class="control-label">N. Cheque </label>
					<div class="controls"><input maxlength="500" placeholder="N. Cheque" name="numerocheque" value="<?php echo (isset($this->post_var['numerocheque'])) ? $this->post_var['numerocheque'] : '' ?>" type="text"  class="span3" /></div>
				</div>


				<div class="control-group">
					<label class="control-label">Anexo da cópia do cheque </label>
					<div class="controls">
						<?php if ((isset($this->post_var['idcheque'])) && ((int)$this->post_var['idcheque']>0)) : ?>
							<?php echo $this->getArquivo($this->post_var['idcheque']) ?>
						
							<?php if (!$this->visualizar) : ?>
								<div class="checkbox block">
									<label><input type="checkbox" name="excluir_idcheque" value="excluir" /> Desejo excluir o arquivo</label>
								</div>
							<?php endif; ?>
						<?php endif; ?>
						
						<input placeholder="Anexo da cópia do cheque" name="idcheque" type="file"  />
					</div>
				</div>	


				<div class="control-group">
					<label class="control-label">Tipo do Documento </label>
					<div class="controls"><input maxlength="500" placeholder="Tipo do Documento" name="tipodocumento" value="<?php echo (isset($this->post_var['tipodocumento'])) ? $this->post_var['tipodocumento'] : '' ?>" type="text"  class="span3" /></div>
				</div>


				<div class="control-group">
					<label class="control-label">N. do documento </label>
					<div class="controls"><input maxlength="500" placeholder="N. do documento" name="numerodocumento" value="<?php echo (isset($this->post_var['numerodocumento'])) ? $this->post_var['numerodocumento'] : '' ?>" type="text"  class="span3" /></div>
				</div>

				<div class="control-group">
					<label class="control-label">Anexo do documento </label>
					<div class="controls">
						<?php if ((isset($this->post_var['iddocumento'])) && ((int)$this->post_var['iddocumento']>0)) : ?>
							<?php echo $this->getArquivo($this->post_var['iddocumento']) ?>
						
							<?php if (!$this->visualizar) : ?>
								<div class="checkbox block">
									<label><input type="checkbox" name="excluir_iddocumento" value="excluir" /> Desejo excluir o arquivo</label>
								</div>
							<?php endif; ?>
						<?php endif; ?>
						
						<input placeholder="Anexo do documento" name="iddocumento" type="file"  />
					</div>
				</div>	


				<div class="control-group">
					<label class="control-label">Valor </label>
					<div class="controls"><input  placeholder="Valor" name="valor" value="<?php echo (isset($this->post_var['valor'])) ? $this->post_var['valor'] : '' ?>" type="text"  class="span3" /></div>
				</div>


				<div class="control-group">
					<label class="control-label">Observação </label>
					<div class="controls"><textarea class="span12" name="observacao" cols="5" rows="5"><?php echo (isset($this->post_var)) ? $this->post_var["observacao"] : ''; ?></textarea></div>
				</div>


				<div class="control-group">
					<label class="control-label">Status <span class="required">*</span></label>
					<div class="controls">
						<select name="status1" data-placeholder="Status" class="select">
							<option value="">Selecione...</option>
							<option value="Ativo">Ativo</option><option value="Bloqueado">Bloqueado</option>
						</select>
						
					</div>
				</div>

						    
						    
						    </div>
						    
			                <div class="form-actions align-right">
			                	<?php if ((isset($this->visualizar)) && ($this->visualizar)) : ?>
			                		<button onclick="window.history.back()" class="btn btn-danger cancelar" type="button">Voltar</button>
			                	<?php else : ?>
				                	<button class="btn btn-primary enviar" type="submit">Salvar</button>
				                	<button onclick="window.history.back()" class="btn btn-danger cancelar" type="button">Cancelar</button>
			                	<?php endif; ?>
			                </div>
						</div>
						<!-- /general form elements -->

					</fieldset> 

				</form>
				<!-- /basic inputs -->

		    </div>
		    <!-- /content wrapper -->

		</div>
		<!-- content -->
				
<script type="text/javascript" src="<?php echo $this->baseUrl('/public/scripts/admin/lancamentosdespesas_form.js') ?>"></script>
<script type="text/javascript">
	var form_values = {};
	
	<?php if (isset($this->post_var)) :  ?>
form_values.idtipoconvenio = '<?php echo (isset($this->post_var['idtipoconvenio'])) ? $this->post_var['idtipoconvenio'] : '' ?>';

form_values.idtipodespesa = '<?php echo (isset($this->post_var['idtipodespesa'])) ? $this->post_var['idtipodespesa'] : '' ?>';

<?php if ((isset($this->post_var['idbanco'])) && ($this->post_var['idbanco']!="")) :  ?>
	form_values.idbanco = [<?php echo $this->post_var['idbanco'] ?>];
<?php endif; ?>


form_values.status1 = '<?php echo (isset($this->post_var['status1'])) ? $this->post_var['status1'] : $this->post_var['status'] ?>';


	<?php endif; ?>

	visualizar = <?php echo  ((isset($this->visualizar)) && ($this->visualizar))  ? 'true' : 'false' ?>;
</script>
