<style type="text/css">
    .font16{ font-size:1em; font-family: 'Helvetica, sans-serif'; }
    .font14{ font-size:14px; font-family: 'Helvetica, sans-serif'; }
    .font18{ font-size:1.3em; font-family: 'Helvetica, sans-serif'; }
    .font20{ font-size:1.5em; font-family: 'Helvetica, sans-serif'; }
    .black{ color:#000; }
    .white{ color:#fff; }
    .gray{ color:#ccc; }
    .red{ color:#ff0000; }
    .textleft{ text-align: left; }
    .textright{ text-align: right; }
    .left{ float: left }
    .textcenter{text-align: center; }
    .padding2{ padding: 6px; }
    .margin10 {margin-top:50px; display: block;}
    .textjustify { text-align: justify; }
    .line{ border:1px solid #ccc;  background:#000; width: 250px;}
    .each-line{width: 25px; display: inline; border:1px solid #000;}
    .contorno{border-top: 0.5px solid black; border-bottom: 0.5px solid black;}
    .contornoleft{ border-left: 0.5px solid black;  }
    .contornoright{ border-right: 0.5px solid black;  }
</style>
<br><br> 

<?php   
    error_reporting(0);
    ini_set(“display_errors”, 0 ); 
 

    // echo '<pre>'; print_r( $this->idescola );die;
 
 
?> 

<br>
<table>
    <tr>
        <th><?php echo Escolas::getEscolaByIdHelper($this->idescola )['escola']; ?></th>
    </tr>
</table>
<table class="left padding2"> 
    <tr>
        <th colspan="5" class="black textcenter contorno contornoleft"><b>Bimestre</b></th> 
        <th colspan="5" class="black textcenter contorno contornoleft"><b>Classe</b></th> 
        <th colspan="5" class="black textcenter contorno contornoleft"><b>Matri</b></th> 
        <th colspan="5" class="black textcenter contorno contornoleft"><b>Trans/Rem</b></th> 
        <th colspan="5" class="black textcenter contorno contornoleft"><b>Evad/falt</b></th> 
        <th colspan="5" class="black textcenter contorno contornoleft"><b>Satis/Mat</b></th> 
        <th colspan="5" class="black textcenter contorno contornoleft"><b>Insatis/Mat</b></th> 
        <th colspan="5" class="black textcenter contorno contornoleft"><b>Satis/Port</b></th> 
        <th colspan="5" class="black textcenter contorno contornoleft contornoright"><b>Insatis/Port</b></th> 
        <th colspan="5" class="black textcenter contorno contornoleft contornoright"><b>Ano</b></th> 
    </tr> 
    <?php foreach ($this->coordenacaoquadrodesempenhoaprendizagem as $c=>$row) : ?>
        <tr>    	 
            <td colspan="5" class="black textcenter contorno contornoleft"><?php echo $row['bimestre'] ?></td> 
            <td colspan="5" class="black textcenter contorno contornoleft"><?php echo $row['classe'] ?></td> 
            <td colspan="5" class="black textcenter contorno contornoleft"><?php echo $row['qtd_matriculados'] ?></td> 
            <td colspan="5" class="black textcenter contorno contornoleft"><?php echo $row['qtd_transf_rem'] ?></td> 
            <td colspan="5" class="black textcenter contorno contornoleft"><?php echo $row['qtd_evadidos_ou_faltosos'] ?></td> 
            <td colspan="5" class="black textcenter contorno contornoleft"><?php echo $row['qtd_conc_satisfatorio_mat'] ?></td> 
            <td colspan="5" class="black textcenter contorno contornoleft"><?php echo $row['qtd_conc_insatisfatorio_mat'] ?></td> 
            <td colspan="5" class="black textcenter contorno contornoleft"><?php echo $row['qtd_conc_satisfatorio_port'] ?></td> 
            <td colspan="5" class="black textcenter contorno contornoleft"><?php echo $row['qtd_conc_insatisfatorio_port'] ?></td> 
            <td colspan="5" class="black textcenter contorno contornoleft contornoright"><?php echo $row['ano'] ?></td> 
        </tr>
    <?php endforeach; ?>
</table>  

