		<!-- Content -->
		<div id="content">

		    <!-- Content wrapper -->
		    <div class="wrapper">

			    <!-- Breadcrumbs line -->
			    <div class="crumbs">
			    	<?php echo $this->render('/helpers/breadcrumb.phtml') ?>
			    </div>
			    <!-- /breadcrumbs line -->

			    <!-- Page header -->
			    <div class="page-header">
			    	<div class="page-title">
				    	<h5>Formulário do roteiro</h5>
				    	<span>Verifique os campos e preencha com os dados</span>
			    	</div>
			    </div>
			    <!-- /page header -->

			    <?php if (isset($this->crudMessage)) : ?>
					<div class="alert alert-success">
	                	<button data-dismiss="alert" class="close" type="button">×</button>
	                    <strong>Operação realizada com sucesso!</strong>
		    			<span><br /><?php echo $this->crudMessage ?></span>
	                </div>			    
			    <?php endif; ?>

				<form id="form" name="form" action="" method="post" class="form-horizontal" enctype="multipart/form-data"> 
					<input type="hidden" value="<?php echo (isset($this->post_var)) ? $this->post_var["id"] : ''; ?>" name="id" id="id" />
					
					<fieldset>
						<!-- General form elements -->
						<div class="widget row-fluid">
						    <div class="navbar">
						        <div class="navbar-inner">
						            <h6>Digite as informações do formulário</h6>
						        </div>
						    </div>

						    <div class="well">
								<?php if (isset($this->erros)) : ?>
									<div class="alert alert-error margin">
				                        <button data-dismiss="alert" class="close" type="button">×</button>
				                        <strong>Há erros no formulário!</strong>
					    				<?php foreach ($this->erros as $k=>$v) : ?>
					    					<span><br />- <?php echo $v ?></span>
					    				<?php endforeach;?>			                        
				                    </div>
			                    <?php endif; ?>
						    
                <?php $idescola = Usuarios::getUsuario('idescola'); ?>
				<?php $idlocal = Usuarios::getUsuario('idlocal'); ?>
				<?php if(($idescola>0) || ($idlocal>0)): ?>		    
				<div class="control-group">
					<div class="controls1 visualizar">
						<table class="table table-content" width="100%">
							<tbody>
								<tr>
									<input type="hidden" name="idprofessor" value="<?php echo Usuarios::getUsuario('idfuncionario') ?>" />
									<input maxlength="500" placeholder="Nome do Usuário" name="idusuario" value="<?php echo Usuarios::getUsuario('id') ?>" type="hidden"  class="span3" />
									<input  placeholder="Data de lançamento" name="data" value="<?php echo (isset($this->post_var['data'])) ? Mn_Util::formPostVarData($this->post_var['data']) : date('d/m/Y') ?>" type="hidden"  class="span3" />
									<input maxlength="500" placeholder="Nome do Usuário" name="idlocal" value="<?php echo Usuarios::getUsuario('idlocal') ?>" type="hidden"  class="span3" />
									<input maxlength="500" placeholder="Nome do Usuário" name="idescola" value="<?php echo Usuarios::getUsuario('idescola') ?>" type="hidden"  class="span3" />

									<td width="33%">Nome do Usuário: <?php echo Usuarios::getUsuario('nomerazao') . " - " . Usuarios::getUsuario('rgf') ?></td>
									<td width="34%">Data da Abertura: <?php echo date('d/m/Y') ?></td>
									<td width="33%">Escola: <?php 
											$local = Escolas::getEscolaByIdHelper(Usuarios::getUsuario('idescola')); 
											echo ((isset($local['escola'])) && ($local['escola']) && ($local['escola']!="") ) ? $local['escola'] : '';
										?>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
				<?php else: ?>
				<div class="control-group">
					<div class="controls1 visualizar">
						<table class="table table-content" width="100%">
							<tbody>
								<tr>									
									<input type="hidden" name="idprofessor" value="<?php echo Usuarios::getUsuario('idfuncionario') ?>" />
									<input maxlength="500" placeholder="Nome do Usuário" name="idusuario" value="<?php echo Usuarios::getUsuario('id') ?>" type="hidden"  class="span3" />
									<td width="50%">Nome do Usuário: <?php echo Usuarios::getUsuario('nomerazao') . " - " . Usuarios::getUsuario('rgf') ?></td>
									<td width="50%">Data da Abertura: <?php echo date('d/m/Y') ?></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
				<?php endif; ?>

				<div class="control-group">
					<label class="control-label">Tipo <span class="required">*</span></label>
					<div class="controls" id="destinatario">
						<input type="radio" name="tipo" value="equipe" id="equipe" onclick="setTipo(this)" /> &nbsp;Equipe
						<input type="radio" name="tipo" value="individual" id="individual" onclick="setTipo(this)" /> &nbsp;Individual
						
					</div>
				</div>

				<div class="control-group ">
					<label class="control-label">Data</label>
					<div class="controls">
						<input  placeholder="Data de lançamento" name="data" value="<?php echo (isset($this->post_var['data'])) ? Mn_Util::formPostVarData($this->post_var['data']) : date('d/m/Y') ?>" type="text"  class="span3" />
						
					</div>
				</div>

				<div class="control-group box-equipe" style="display: none;">
					<label class="control-label">Equipes <span class="required">*</span></label>
					<div class="controls">
		                <select name="idequipesupervisao" data-placeholder="Equipes" class="select" required>
							<option value="">Selecione...</option>
							<?php foreach (Chamadosequipes::getChamadosequipesHelper(array('status'=>'Ativo', 'iddepartamento' => 13)) as $k=>$v) : ?>
							<option value="<?php echo $v['id'] ?>"><?php echo $v['equipe'] ?></option>
							<?php endforeach;?>
						</select>
					</div>
				</div>
				<div class="control-group box-individual"  style="display: none;">
					<label class="control-label">Funcionário <span class="required">*</span></label>
					<div class="controls">
		                <select name="idescolafuncionario" data-placeholder="Funcionário" class="select" required>
							<option value="">Selecione...</option>
							<?php foreach (Funcionariosgeraisescolas::getFuncionariosgeraisescolasHelper(array('status'=>'Ativo', 'modulo' => 'Supervisão')) as $k=>$v) : ?>
							<option value="<?php echo $v['id'] ?>"><?php echo $v['rgf'].' - '.$v['nome'] ?></option>
							<?php endforeach;?>
						</select>
						
					</div>
				</div>

				<div class="control-group">
					<label class="control-label">Escola </label>
					<div class="controls">
						<?php foreach (Escolas::getEscolasHelper(array('status'=>'Ativo')) as $k=>$v) : ?>
						<label><input type="checkbox" value="<?php echo $v['id'] ?>" name="idsescolas[]" class="ind-escola"/>&nbsp;<?php echo $v['escola'] ?> <br /></label>
						<?php endforeach;?>						
					</div>
				</div>


				<?php /* ?>
				<div class="control-group">
					<label class="control-label">Tipo de ensino </label>
					<div class="controls">
		                <select name="idtipoensino" data-placeholder="Tipo de ensino" class="select">
							<option value="">Selecione...</option>
							<?php foreach (Escolastiposensinos::getTiposensinosHelper(array('status'=>'Ativo')) as $k=>$v) : ?>
							<option value="<?php echo $v['id'] ?>"><?php echo $v['tipo'] ?></option>
							<?php endforeach;?>
						</select>
					</div>
				</div>

				<div class="control-group">
					<label class="control-label">Período <span class="required">*</span></label>
					<div class="controls">
		                <select name="periodo" data-placeholder="Período" class="select">
							<option value="">Selecione...</option>
							<option value="Manhã">Manhã</option>
							<option value="Tarde">Tarde</option>
							<option value="Noite">Noite</option>
							<option value="Integral">Integral</option>
						</select>
						
					</div>
				</div>


				<div class="control-group">
					<label class="control-label">Veiculo </label>
					<div class="controls">
		                <select name="idveiculo" data-placeholder="Veiculo" class="select" onchange="getVeiculo(this)">
							<option value="">Selecione...</option>
							<?php foreach (Supervisaoveiculos::getSupervisaoveiculosHelper(array('status'=>'Ativo')) as $k=>$v) :  ?>
							<option value="<?php echo $v['id'] ?>"><?php echo $v['placa'].' / '.$v['nome'].' / '.$v['modelo'].' '.$v['cor'] ?></option>
							<?php endforeach;?>
						</select>
						
					</div>
				</div>

				<div class="box-veiculo">
				</div>
				<?php */ ?>


				<div class="control-group">
					<label class="control-label">Status <span class="required">*</span></label>
					<div class="controls">
						<select name="status1" data-placeholder="Status" class="select">
							<option value="">Selecione...</option>
							<option value="Ativo">Ativo</option><option value="Bloqueado">Bloqueado</option>
						</select>
						
					</div>
				</div>

						    
						    
						    </div>
						    
			                <div class="form-actions align-right">
			                	<?php if ((isset($this->visualizar)) && ($this->visualizar)) : ?>
			                		<button onclick="window.history.back()" class="btn btn-danger cancelar" type="button">Voltar</button>
			                	<?php else : ?>
				                	<button class="btn btn-primary enviar" type="submit">Salvar</button>
				                	<button onclick="window.history.back()" class="btn btn-danger cancelar" type="button">Cancelar</button>
			                	<?php endif; ?>
			                </div>
						</div>
						<!-- /general form elements -->

					</fieldset> 

				</form>
				<!-- /basic inputs -->

		    </div>
		    <!-- /content wrapper -->

		</div>
		<!-- content -->
				
<script type="text/javascript" src="<?php echo $this->baseUrl('/public/scripts/admin/supervisaoroteiros_form.js') ?>"></script>
<script type="text/javascript">
	var form_values = {};
	
	<?php if (isset($this->post_var)) :  ?>
		form_values.idescolafuncionario = '<?php echo (isset($this->post_var['idescolafuncionario'])) ? $this->post_var['idescolafuncionario'] : '' ?>';

form_values.secretaria = '<?php echo (isset($this->post_var['secretaria'])) ? $this->post_var['secretaria'] : '' ?>';

form_values.tipo = '<?php echo (isset($this->post_var['tipo'])) ? $this->post_var['tipo'] : '' ?>';

form_values.periodo = '<?php echo (isset($this->post_var['periodo'])) ? $this->post_var['periodo'] : '' ?>';

form_values.idescola = '<?php echo (isset($this->post_var['idescola'])) ? $this->post_var['idescola'] : '' ?>';

form_values.idtipoensino = '<?php echo (isset($this->post_var['idtipoensino'])) ? $this->post_var['idtipoensino'] : '' ?>';

form_values.idequipesupervisao = '<?php echo (isset($this->post_var['idequipesupervisao'])) ? $this->post_var['idequipesupervisao'] : '' ?>';

form_values.idveiculo = '<?php echo (isset($this->post_var['idveiculo'])) ? $this->post_var['idveiculo'] : '' ?>';

form_values.status1 = '<?php echo (isset($this->post_var['status1'])) ? $this->post_var['status1'] : $this->post_var['status'] ?>';


	<?php endif; ?>

	<?php if ((isset($this->post_var['idsescolas'])) AND (is_array($this->post_var['idsescolas']) AND $this->post_var['idsescolas'] !=""))  :  ?>
		form_values.idsescolas = [<?php echo implode(',', $this->post_var['idsescolas']) ?>];
	<?php else: ?>
		form_values.idsescolas = [<?php echo $this->post_var['idsescolas'] ?>];

	<?php endif; ?>

	visualizar = <?php echo  ((isset($this->visualizar)) AND ($this->visualizar))  ? 'true' : 'false' ?>;
</script>
