<?php if($this->row): ?>
	<div class="control-group">
		<label class="control-label">Veículo</label>
		<div class="controls">
			<input type="text" id="nome" readonly value="<?php echo (isset($this->row['nome'])) ? $this->row['nome'] : '' ?>" />
		</div>
	</div>
	<div class="control-group">
		<label class="control-label">Modelo</label>
		<div class="controls">
			<input type="text" id="modelo" readonly value="<?php echo (isset($this->row['modelo'])) ? $this->row['modelo'] : '' ?>" />
		</div>
	</div>
	<div class="control-group">
		<label class="control-label">Cor</label>
		<div class="controls">
			<input type="text" id="cor" readonly value="<?php echo (isset($this->row['cor'])) ? $this->row['cor'] : '' ?>" />
		</div>
	</div>
	<div class="control-group">
		<label class="control-label">Placa</label>
		<div class="controls">
			<input type="text" id="placa" readonly value="<?php echo (isset($this->row['placa'])) ? $this->row['placa'] : '' ?>" />
		</div>
	</div>
<?php else: ?>
	<div class="control-group">
		<label class="control-label">&nbsp;</label>
		<div class="controls">
			Nenhum veiculo encontrado.
		</div>
	</div>
<?php endif; ?>