		<!-- Content -->
		<div id="content">

		    <!-- Content wrapper -->
		    <div class="wrapper">

			    <!-- Breadcrumbs line -->
			    <div class="crumbs">
			    	<?php echo $this->render('/helpers/breadcrumb.phtml') ?>
			    </div>
			    <!-- /breadcrumbs line -->

			    <!-- Page header -->
			    <div class="page-header">
			    	<div class="page-title">
				    	<h5>Roteiros no sistema</h5>
				    	<span>Visualize os roteiros do sistema</span>
			    	</div>
			    	
			    </div>
			    <!-- /page header -->
			    <?php if (isset($this->crudMessage)) : ?>
				<div class="alert alert-success">
                	<button data-dismiss="alert" class="close" type="button">×</button>
                    <strong>Operação realizada com sucesso!</strong>
	    			<span><br /><?php echo $this->crudMessage ?></span>
                </div>			    
			    <?php endif; ?>              	                        
                <!-- Table with footer -->
                <div class="widget">
                	<form action="#" class="form-horizontal" method="post">
                		<input type="hidden" value="<?php echo (isset($this->post_var['sorting'])) ? $this->post_var['sorting'] : '' ?>" name="sorting" />
	                	<div class="navbar">
	                		<div class="navbar-inner">
	                			<h6>Visualizando registros</h6>
	                			<?php if (Mn_Util::isAccess($this->getController(), 'adicionar')) : ?>
	                			<a style="float:right;" href="<?php echo $this->baseUrl() ?>/<?php echo 'admin' ?>/<?php echo $this->getController() ?>/adicionar" class="btn btn-primary"><span class="icon-plus"></span>&nbsp;Adicionar roteiro</a>
	                			<?php endif; ?>
	                		</div>
	                	</div>
	                    <div class="table-overflow">
	                        <table class="table table-content">
	                            <thead>
	                                <tr>
		                                <th width="20">#</th>
	                                    <th class="s-data sorting" width="80">Data</th>
	                                    <th class="s-idescolafuncionario sorting">Tipo</th>                    
	                                    <th class="s-idescolafuncionario sorting">Funcionário/Equipe</th> 
		                                <th width="96">Ações</th>
	                                </tr>
	                                <tr>
	                                    <th>
	                                    	
	                                    </th>

										<th>
											<input name="data_i" value="<?php echo (isset($this->post_var['data_i'])) ? Mn_Util::formPostVarData($this->post_var['data_i']) : '' ?>" type="text" placeholder="Data inicial" class="span3">
											<input name="data_f" value="<?php echo (isset($this->post_var['data_f'])) ? Mn_Util::formPostVarData($this->post_var['data_f']) : '' ?>" type="text" placeholder="Data final" class="span3">
										</th>
										<th>
											<div id="tipogrupo">
												 <select name="tipo_filter" data-placeholder="Equipe/Funcionário" class="select">
													<option value="">Todos</option>
													<option value="byfunc" selected="true">Funcionário</option>
													<option value="byequipe">Equipe</option>
												</select>
											</div>										
										</th>
										<th>
											<span id="all">Todos</span>
											<div id="idbyfunc" style="display:none">
												 <select name="idescolafuncionario" data-placeholder="Funcionário" class="select">
													<option value="">Selecione...</option>
													<?php foreach (Funcionariosgeraisescolas::getFuncionariosgeraisescolasHelper(array('status'=>'Ativo', 'modulo' => 'Supervisão')) as $k=>$v) : ?>
													<option value="<?php echo $v['id'] ?>"><?php echo $v['rgf'].' - '.$v['nome'] ?></option>
													<?php endforeach;?>
												</select>
											</div>
											<div id="idbyequipe" style="display: none">
												<select name="idequipesupervisao" data-placeholder="Equipes" class="select">
													<option value="">Selecione...</option>
													<?php foreach (Chamadosequipes::getChamadosequipesHelper(array('status'=>'Ativo', 'iddepartamento' => 13)) as $k=>$v) : ?>
													<option value="<?php echo $v['id'] ?>"><?php echo $v['equipe'] ?></option>
													<?php endforeach;?>
												</select>
											</div>											
										</th>
										
										<th>
											<div>
												<select name="status1" placeholder="Todos" class="select">
													<option value="">Todos</option>
													<option value="Ativo">Ativo</option><option value="Bloqueado">Bloqueado</option>
												</select>
											</div>
										</th>
                   
	                                    <th><button class="btn btn-mini btn-primary" type="submit">Pesquisar</button></th>
	                                </tr> 
	                                                                
	                            </thead>
	                            <tbody>
	                            	<?php if (sizeof($this->rows)==0) : ?>
	                                <tr>
	                                    <td colspan="7">Nenhum registro foi encontrado!</td>
	                                </tr>
	                            	
	                            	<?php else : ?>
	                            	<?php foreach ($this->rows as $row) : ?>
	                                <tr>
	                                	<td><?php echo $row['id'] ?></td>
										<td><?php echo date('d/m/Y', strtotime($row['data']))?></td>
										<td><?php echo strtoupper($row['tipo']) ?></td>
										<td>
											<?php
												if($row['tipo']=='individual'){
													$___rows = Funcionariosgeraisescolas::getFuncionariogeralescolaByIdHelper($row['idescolafuncionario']);
												
														echo ($___rows) ? $this->formatTextoBranco($___rows['nome']) : '--';
												}else{
													$__rows = Chamadosequipes::getChamadosequipeByIdHelper($row['idequipesupervisao']);

													echo ($__rows) ? $this->formatTextoBranco($__rows['equipe']) : '--';
												}
											?>
										</td>

										<td>
											<?php if (Mn_Util::isAccess($this->getController(), 'editar')) : ?>
												<a onclick="javascript:statusChange(<?php echo $row["id"]?>, this);" href="javascript:;"><?php echo $row['status'] ?></a>
											<?php else : ?>
												<?php echo $row['status'] ?>
											<?php endif; ?>
										</td>
			                				
	                                    <td>
	                                        <ul class="table-controls">
	                                            <li><a title="" class="btn tip" href="<?php echo $this->baseUrl() ?>/<?php echo 'admin' ?>/<?php echo $this->getController() ?>/visualizar/id/<?php echo $row['id'] ?>" data-original-title="Visualizar"><i class="icon-eye-open"></i></a> </li>
	                                            <?php if (Mn_Util::isAccess($this->getController(), 'editar')) : ?>
	                                            <li><a title="" class="btn tip" href="<?php echo $this->baseUrl() ?>/<?php echo 'admin' ?>/<?php echo $this->getController() ?>/editar/id/<?php echo $row['id'] ?>" data-original-title="Editar"><i class="icon-pencil"></i></a> </li>
	                                            <?php endif;?>
	                                            <?php if (Mn_Util::isAccess($this->getController(), 'excluir')) : ?>
	                                            <li><a title="" class="btn tip" href="javascript:confirmDelete('<?php echo $row['id']; ?>','registro');" data-original-title="Excluir"><i class="icon-remove"></i></a> </li>
	                                            <?php endif; ?>
	                                        </ul>
	                                    </td>
	                                </tr>
	                            	<?php endforeach;?>
	                            	<?php endif; ?>	
	                            </tbody>
	                        </table>
	                    </div>
	                    <?php echo $this->render('/helpers/paginator.phtml') ?>                    
                    </form>
                </div>
                <!-- /table with footer -->
		    </div>
		    <!-- /content wrapper -->

		</div>
		<!-- content -->
		
		
<script type="text/javascript" src="<?php echo $this->baseUrl('/public/scripts/admin/supervisaoroteiros_index.js') ?>"></script>
<script type="text/javascript">

	var form_values = {};
	<?php if (isset($this->post_var)) :  ?>
form_values.idescolafuncionario = '<?php echo (isset($this->post_var['idescolafuncionario'])) ? $this->post_var['idescolafuncionario'] : '' ?>';

form_values.idequipesupervisao = '<?php echo (isset($this->post_var['idequipesupervisao'])) ? $this->post_var['idequipesupervisao'] : '' ?>';

form_values.secretaria = '<?php echo (isset($this->post_var['secretaria'])) ? $this->post_var['secretaria'] : '' ?>';

form_values.idescola = '<?php echo (isset($this->post_var['idescola'])) ? $this->post_var['idescola'] : '' ?>';

form_values.idtipoensino = '<?php echo (isset($this->post_var['idtipoensino'])) ? $this->post_var['idtipoensino'] : '' ?>';

form_values.idperiodosupervisao = '<?php echo (isset($this->post_var['idperiodosupervisao'])) ? $this->post_var['idperiodosupervisao'] : '' ?>';

form_values.status1 = '<?php echo (isset($this->post_var['status1'])) ? $this->post_var['status1'] : $this->post_var['status'] ?>';

form_values.tipo_filter = '<?php echo (isset($this->post_var['tipo_filter'])) ? $this->post_var['tipo_filter'] : 'teste' ?>';

	<?php endif; ?>

	var sorting = ["data", "idescolafuncionario", "secretaria", "idescola", "idtipoensino", "idperiodosupervisao", "idveiculo", "status"];
	
</script>	


