
<table width="100%" cellpadding="0" cellspacing="0" border="0">
		<tr>
			<td align="center" width="100%" height="100%">
				<?php foreach($this->rows as $i=>$row): ?>
				<?php 
				$crachas = new Crachas();

					$cracha = $crachas->getCrachaById($row['id']);
					$funcionario = Funcionariosgeraisescolas::getFuncionariogeralescolaByIdHelper($cracha['idfuncionario']);
					$local = Locais::getLocalByIdHelper($cracha['idlocais']);
				?>					
				<table width="100%" cellpadding="0" cellspacing="0" border="1" nobr="true">
						<tr>
							<td align="center" width="100%" height="100%">
									<table width="100%" cellpadding="0" cellspacing="0" border="0" nobr="true">
										<tr>
											<td align="center" width="100%">&nbsp;</td>
										</tr>
										<tr>
											<td align="center" width="100%">&nbsp;</td>
										</tr>
										<tr>
											<td align="center" width="100%">
												<font size="9">
												    <?php echo ((isset($local['titulo'])) && ($local['titulo']!="") ) ? $local['titulo'] : '' ?>
											    </font>
											</td>
										</tr>
										<tr>
											<td align="center" width="100%">&nbsp;</td>
										</tr>
										<tr>
											<td align="center" width="100%">&nbsp;</td>
										</tr>

										<tr>
											<td align="center" width="100%">
												<?php if((int)$funcionario['idimagem'] > 0): ?>
												    <img src="<?php echo HTTP_URL ?>/admin/imagens/get/id/<?php echo $funcionario['idimagem'] ?>/h/140/w/100/i/usuario/img.jpeg" alt="" width="110" height="140">
											    <?php else: ?>
											    	<img src="<?php echo HTTP_URL ?>/public/default/imagens/user.png" alt="" width="110" height="140">
											    <?php endif; ?>
											   
											</td>
										</tr>
										<tr>
											<td align="center" width="100%"><font size="14">&nbsp; </font></td>
										</tr>
										<tr>
											<td align="center" width="100%">&nbsp;</td>
										</tr>
										<tr>
											<td align="center" width="100%">
												<font size="7">
												    <?php echo ((isset($funcionario['nome'])) && ($funcionario['nome']!="") ) ? $funcionario['nome'] : '' ?>
											    </font>
											</td>
										</tr>
										<tr>
											<td align="center" width="100%">&nbsp;</td>
										</tr>
										<tr>
											<td align="center" width="100%">
												<font size="6">
												    <?php echo ((isset($funcionario['funcao'])) && ($funcionario['funcao']!="") ) ? $funcionario['funcao'] : '&nbsp;&nbsp;&nbsp;&nbsp;' ?>
											    </font>
											</td>
										</tr>
										<tr>
											<td align="center" width="100%">&nbsp;</td>
										</tr>
										

									</table>
							</td>
						</tr>
						
				</table>
				<?php endforeach; ?>			    
			</td>
		</tr>
		
</table>

