		<!-- Content -->
		<div id="content">

		    <!-- Content wrapper -->
		    <div class="wrapper">

			    <!-- Breadcrumbs line -->
			    <div class="crumbs">
			    	<?php echo $this->render('/helpers/breadcrumb.phtml') ?>
			    </div>
			    <!-- /breadcrumbs line -->

			    <!-- Page header -->
			    <div class="page-header">
			    	<div class="page-title">
				    	<h5>Vagas para Ampliação no sistema</h5>
				    	<span>Visualize os vagas para ampliação do sistema</span>
			    	</div>
			    	
			    </div>
			    <!-- /page header -->
			    
			    <?php if (isset($this->crudMessage)) : ?>
				<div class="alert alert-success">
                	<button data-dismiss="alert" class="close" type="button">×</button>
                    <strong>Operação realizada com sucesso!</strong>
	    			<span><br /><?php echo $this->crudMessage ?></span>
                </div>			    
			    <?php endif; ?>




	                        	                        
                <!-- Table with footer -->
                <div class="widget">
                	<form action="#" class="form-horizontal" method="post">
                		<input type="hidden" value="<?php echo (isset($this->post_var['sorting'])) ? $this->post_var['sorting'] : '' ?>" name="sorting" />
	                	<div class="navbar">
	                		<div class="navbar-inner">
	                			<h6>Visualizando registros</h6>
	                		</div>
	                	</div>
	                    <div class="table-overflow">
	                        <table class="table table-content">
	                            <thead>
	                                <tr>
	                                    <th width="20">#</th>
                                    <th class="s-idescola sorting">Unidade Escolar</th>
                                    <th class="s-salas sorting">Sala</th>
                                    <th class="s-observacao sorting">Observação</th>
                                    <th class="s-status sorting">Situação</th>


	                                    <th width="96">Ações</th>
	                                </tr>
	                                                                
	                            </thead>
	                            <tbody>
	                            	<?php if (sizeof($this->rows)==0) : ?>
	                                <tr>
	                                    <td colspan="5">Nenhum registro foi encontrado!</td>
	                                </tr>
	                            	
	                            	<?php else : ?>
	                            	<?php foreach ($this->rows as $row) : ?>
	                                <tr>
	                                	<td><?php echo $row['id'] ?></td>


										<td>
											<?php
												$___rows = Escolas::getEscolas(array('id'=>$row['idescola']));
												$___row = (sizeof($___rows)>0) ? 	$___rows[0] : false;	
												
												echo ($___row) ? $this->formatTextoBranco($___row['escola']) : '--';		
											?>
										</td>

										<td>
											<?php
												$sala = Escolasvinculos::getEscolavinculoByIdHelper($row['idsala']);
											?>
											<?php echo $sala['sala'] ?> -> <?php echo $sala['serie'] ?> -> <?php echo $sala['turma'] ?> -> <?php echo $sala['periodo'] ?>
										</td>
										<td><?php echo $row['observacao'] ?></td>

										<td>
											<?php echo isset($row['status']) ? $row['status'] : 'Aguardando' ?>
										</td>
			                				

	                                    <td>
	                                        <ul class="table-controls">
	                                        	<span class="btn btn-primary">Inscrito</span>
	                                        </ul>
	                                    </td>
	                                </tr>
	                            	<?php endforeach;?>
	                            	
	                            	
	                            	
	                            	
	                            	<?php endif; ?>
	
	                            </tbody>
	                        </table>
	                    </div>
	                    <?php echo $this->render('/helpers/paginator.phtml') ?>
                    
                    </form>

                </div>
                <!-- /table with footer -->
	                        


		    </div>
		    <!-- /content wrapper -->

		</div>
		<!-- content -->
		
		
<script type="text/javascript" src="<?php echo $this->baseUrl('/public/scripts/admin/documentacaovagasampliacao_index.js') ?>"></script>
<script type="text/javascript">

	var form_values = {};
	<?php if (isset($this->post_var)) :  ?>
form_values.idescola = '<?php echo (isset($this->post_var['idescola'])) ? $this->post_var['idescola'] : '' ?>';

form_values.idsala = '<?php echo (isset($this->post_var['idsala'])) ? $this->post_var['idsala'] : '' ?>';

form_values.idserie = '<?php echo (isset($this->post_var['idserie'])) ? $this->post_var['idserie'] : '' ?>';

form_values.idturma = '<?php echo (isset($this->post_var['idturma'])) ? $this->post_var['idturma'] : '' ?>';

form_values.idperiodo = '<?php echo (isset($this->post_var['idperiodo'])) ? $this->post_var['idperiodo'] : '' ?>';

form_values.status1 = '<?php echo (isset($this->post_var['status1'])) ? $this->post_var['status1'] : $this->post_var['status'] ?>';

	
	<?php endif; ?>

	var sorting = ["idescola", "observacao", "status"];
	
</script>	


