<?php
include_once BASE_PATH . '/public/scripts/ckeditor/ckeditor.php';
require_once BASE_PATH . '/public/scripts/ckfinder/ckfinder.php';

$ckeditor = new CKEditor();
$ckeditor->basePath = $this->baseUrl('/public/scripts/ckeditor/');

$ckfinder = $this->baseUrl('/public/scripts/ckfinder/');

CKFinder::SetupCKEditor($ckeditor, $ckfinder);
?>
<!-- Content -->
<div id="content">

    <!-- Content wrapper -->
    <div class="wrapper">

        <!-- Breadcrumbs line -->
        <div class="crumbs">
            <?php echo $this->render('/helpers/breadcrumb.phtml') ?>
        </div>
        <!-- /breadcrumbs line -->

        <!-- Page header -->
        <div class="page-header">
            <div class="page-title">
                <h5>Formulário do estudante</h5>
                <span>Informe os dados do estudante.</span>
            </div>
        </div>
        <!-- /page header -->

        <?php if (isset($this->crudMessage)) : ?>
            <div class="alert alert-success">
                <button data-dismiss="alert" class="close" type="button">×</button>
                <strong>Operação realizada com sucesso!</strong>
                <span><br /><?php echo $this->crudMessage ?></span>
            </div>
        <?php endif; ?>
        <form id="form" name="form" action="" method="post" class="form-horizontal" enctype="multipart/form-data">
            <?php if (isset($this->erros)) : ?>
                <div class="alert alert-error margin">
                    <button data-dismiss="alert" class="close" type="button">×</button>
                    <strong>Há erros no formulário!</strong>
                    <?php foreach ($this->erros as $k => $v) : ?>
                        <span><br />- <?php echo $v ?></span>
                    <?php endforeach; ?>
                </div>
            <?php endif; ?>
            <div class="well">
                <div class="control-group">
                    <div class="controls1 visualizar">
                        <table class="table table-content" width="100%">
                            <tbody>
                                <tr>
                                    <td width="50%">
                                        <?php
                                        if (isset($this->post_var['logusuario'])) {

                                            $usuario = Usuarios::getUsuarioByIdHelper($this->post_var['logusuario']);

                                            echo 'Alterado por: ', Funcionariosgeraisescolas::getFuncionariogeralescolaByIdHelper($usuario['idfuncionario'])['nome'] .
                                            " - RGF: " . Funcionariosgeraisescolas::getFuncionariogeralescolaByIdHelper($usuario['idfuncionario'])['rgf'];
                                        } else {
                                            echo 'Alterado por: ', Usuarios::getUsuario('nome') .
                                            " - RGF: " . Usuarios::getUsuario('rgf');
                                        }
                                        ?>    
                                    </td>
                                    <td width="34%">Criado em: <?php echo (isset($this->post_var['datacriacao'])) ? date('d/m/Y G:i:s', strtotime($this->post_var['datacriacao'])) : date('d/m/Y G:i:s') ?></td>
                                </tr>        
                            </tbody>
                        </table>

                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">Tipo Estudante <span class="required">*</span></label>
                    <div class="controls">
                        <select name="tipoestudante" id="tipoestudante" data-placeholder="tipoestudante" class="select" <?php
                        if ($this->visualizar) {
                            echo 'disabled="true"';
                        } else {
                            echo 'enabled="true"';
                        }
                        ?> onchange="setStatus();">
                            <option value="">Selecione...</option>
                            <?php foreach (Ltetipos::gettipos() as $i => $row) : ?>
                                <option value="<?php echo $row['tipo'] ?>"><?php echo $row['tipoestudante'] ?></option>
                            <?php endforeach; ?>
                        </select>
                    </div>
                </div>

                <div class="controls-group">
                    <div class="box-entidade" style="display: none;">
                        <?php echo $this->render('/lteestudantes/helpers/form_dados_entidades.phtml') ?>
                    </div>

                    <div class="box-escola" style="display: none;">
                        <?php echo $this->render('/lteestudantes/helpers/form_dados_escolas.phtml') ?>
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label">Imagem</label>
                    <div class="controls">
                        <div class="contentarea">
                            <div class="camera">
                                <video id="video">Video stream not available.</video>
                            </div>
                            <br />
                            <a id="startbutton" href="javascript:;" class="btn btn-info tip" title="" data-original-title="Capturar"><i class="icon-user"></i> &nbsp;Capturar</a>
                            <a id="removebutton" href="javascript:;" class="btn btn-info tip" title="" data-original-title="Limpar"><i class=" icon-remove"></i> &nbsp;Limpar</a>
                            <br />
                            <canvas id="canvas" style="display:none">
                            </canvas>
                            <input type="hidden" value="" name="input_webcam" id="input_webcam" />
                            <div class="output" style="display:none">
                                <img id="photo" alt="The screen capture will appear in this box.">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label">Foto </label>
                    <div class="controls">
                        <?php if ((isset($this->post_var['idimagem'])) && ((int) $this->post_var['idimagem'] > 0)) : ?>
                            <?php echo $this->getImagem($this->post_var['idimagem'], 80, 80, '', Imagens::$INDISPONIVEL) ?>

                            <?php if (!$this->visualizar) : ?>
                                <div class="checkbox block">
                                    <label><input type="checkbox" name="excluir_idimagem" value="excluir_idimagem" /> Desejo excluir a imagem</label>
                                </div>
                            <?php endif; ?>
                        <?php endif; ?>

                        <input placeholder="Foto" name="idimagem" type="file"  />
                    </div>
                </div>

                <input type="hidden" value="<?php echo (isset($this->post_var['id'])) ? $this->post_var["id"] : ''; ?>" name="id" id="id" />

                <div class="control-group">
                    <label class="control-label">Nome <span class="required">*</span></label>
                    <div class="controls"><input maxlength="500" size="50" placeholder="Nome" name="nome" <?php
                        if ($this->visualizar) {
                            echo 'disabled="true"';
                        } else {
                            echo 'enabled="true"';
                        }
                        ?> value="<?php echo (isset($this->post_var)) ? $this->post_var['nome'] : "" ?>" type="text"  class="span3" /></div>
                </div>

                <div class="control-group">
                    <label class="control-label">Nome Social (DECR.55588/10) </label>
                    <div class="controls">
                        <input maxlength="500" size="50"  placeholder="Nome social" name="nomesocial" <?php
                        if ($this->visualizar) {
                            echo 'disabled="true"';
                        } else {
                            echo 'enabled="true"';
                        }
                        ?>  value="<?php echo (isset($this->post_var['nomesocial'])) ? $this->post_var['nomesocial'] : '' ?>" type="text"  class="span3" />
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label">Nome da mãe </label>
                    <div class="controls"><input maxlength="500" size="50" placeholder="Nome da mãe" name="nomemae" <?php
                        if ($this->visualizar) {
                            echo 'disabled="true"';
                        } else {
                            echo 'enabled="true"';
                        }
                        ?> value="<?php echo (isset($this->post_var)) ? $this->post_var['nomemae'] : "" ?>" type="text"  class="span3" /></div>
                </div>

                <div class="control-group">
                    <label class="control-label">Sexo</label>
                    <div class="controls">
                        <select name="sexo" data-placeholder="Sexo" class="select" <?php
                        if ($this->visualizar) {
                            echo 'disabled="true"';
                        } else {
                            echo 'enabled="true"';
                        }
                        ?> >
                            <option value="">Selecione...</option>
                            <option value="Feminino">Feminino</option>
                            <option value="Masculino">Masculino</option>
                        </select>
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label">Data de Nascimento <span class="required">*</span></label>
                    <div class="controls">
                        <input maxlength="500" placeholder="Data de Nascimento" name="nascimento" <?php
                        if ($this->visualizar) {
                            echo 'disabled="true"';
                        } else {
                            echo 'enabled="true"';
                        }
                        ?> value="<?php echo (isset($this->post_var['datanascimento'])) ? Mn_Util::formPostVarData($this->post_var['datanascimento']) : "" ?>" type="text"  class="span3" /><?= Mn_Util::getDiffDates($this->post_var['datanascimento'], date('Y-m-d H:i:s')) ?>
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label">Status <span class="required">*</span></label>
                    <div class="controls">
                        <select name="status" id="status" data-placeholder="Status" onchange="setStatus()" class="select" <?php
                        if ($this->visualizar) {
                            echo 'disabled="true"';
                        } else {
                            echo 'enabled="true"';
                        }
                        ?> >
                            <option value="">Selecione...</option>
                            <option value="Ativo">Ativo</option>
                            <option value="Bloqueado">Bloqueado</option>
                        </select>
                    </div>
                </div>

                <div class="control-group" id="div-cancelamento" style="display: none;">
                    <label class="control-label">Pedido de cancelamento <span class="required">*</span></label>
                    <div class="controls">
                        <?php if ((isset($this->visualizar)) && ($this->visualizar)) : ?>                       
                            <?php if ((isset($this->post_var['idanxcancelamento'])) && ((int) $this->post_var['idanxcancelamento'] > 0)) : ?>
                                <div class="col-sm-6" style="padding-top:10px">
                                    <?php echo $this->getArquivo($this->post_var['idanxcancelamento']) ?>
                                </div> 
                            <?php endif; ?>
                        <?php else: ?>
                            <?php if ((isset($this->post_var['idanxcancelamento'])) && ((int) $this->post_var['idanxcancelamento'] > 0)) : ?>
                                <?php echo $this->getArquivo($this->post_var['idanxcancelamento']) ?>

                                <div class="checkbox block">
                                    <label><input type="checkbox" name="excluir_anxcpf" value="excluir" /> Desejo excluir o arquivo</label>
                                </div>                              
                                <br /> 
                            <?php endif; ?>
                            <input type="file" name="anxcancelamento" id="anxcancelamento">
                        <?php endif; ?>
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label">Observações</label>
                    <div class="controls">
                        <textarea name="observacoes" <?php
                        if ($this->visualizar) {
                            echo 'disabled="true"';
                        } else {
                            echo 'enabled="true"';
                        }
                        ?> class="span3" style="width: 100%; height: 100px; resize: none;"><?php echo (isset($this->post_var['observacoes'])) ? $this->post_var['observacoes'] : '' ?></textarea>
                    </div>
                </div>

            </div>    






            <div class="box-colecoes col-sm-12 panel-group" id="accordion" >
                <?php echo $this->render('/lteestudantes/helpers/form_dados_documentos.phtml') ?>
                <?php echo $this->render('/lteestudantes/helpers/form_dados_anexos.phtml') ?>
                <?php echo $this->render('/lteestudantes/helpers/form_dados_contatos.phtml') ?>
                <?php echo $this->render('/lteestudantes/helpers/form_dados_enderecos.phtml') ?>
                <?php echo $this->render('/lteestudantes/helpers/form_dados_mapas.phtml') ?>

                <div class="control-group">
                    <div class="controls_1">
                    </div>
                </div>

            </div>

            <div class="panel-footer">
                <div class="row">
                    <div class="col-sm-6 col-sm-offset-3">
                        <?php if ((isset($this->visualizar)) && ($this->visualizar)) : ?>
                            <button type="button" onclick="window.history.back()" class="btn btn-default">Voltar</button>
                        <?php else : ?>
                            <button class="btn btn-primary enviar">Salvar</button>&nbsp;
                            <button onclick="window.history.back()" class="btn btn-danger cancelar" type="button">Cancelar</button>
                        <?php endif; ?>
                    </div>
                </div>
            </div><!-- panel-footer -->
            <br /><br /><br />
        </form>
        <!-- /basic inputs -->

    </div>
    <!-- /content wrapper -->

</div>
<!-- content -->

<script type="text/javascript" src="<?php echo $this->baseUrl('/public/scripts/jquery-webcam/capture.js') ?>"></script>
<script type="text/javascript" src="<?php echo $this->baseUrl('/public/scripts/admin/lteestudantes_form.js') ?>"></script>

<script type="text/javascript">
                                var form_values = {};

<?php if (isset($this->post_var['valetransporte'])) : ?>
                                    form_values.valetransporte = '<?php echo $this->post_var['valetransporte'] ?>';
<?php endif; ?>

<?php if (isset($this->post_var['tipoestudante'])) : ?>
                                    form_values.tipoestudante = '<?php echo $this->post_var['tipoestudante'] ?>';
<?php endif; ?>

<?php if (isset($this->post_var['sexo'])) : ?>
                                    form_values.sexo = '<?php echo $this->post_var['sexo'] ?>';
<?php endif; ?>

<?php if (isset($this->post_var['status'])) : ?>
                                    form_values.status = '<?php echo $this->post_var['status'] ?>';
<?php endif; ?>

<?php if (isset($this->post_var['identidade'])) : ?>
                                    form_values.identidade = '<?php echo $this->post_var['identidade'] ?>';
<?php endif; ?>

<?php if (isset($this->post_var['identidade'])) : ?>
                                    form_values.idescola = '<?php echo $this->post_var['identidade'] ?>';
<?php endif; ?>

<?php if (isset($this->post_var['curso'])) : ?>
                                    form_values.curso = '<?php echo $this->post_var['curso'] ?>';
<?php endif; ?>

<?php if (isset($this->post_var['idcurso'])) : ?>
                                    form_values.idcurso = '<?php echo $this->post_var['idcurso'] ?>';
<?php endif; ?>

<?php if (isset($this->post_var['curso'])) : ?>
                                    form_values.cursoescola = '<?php echo $this->post_var['curso'] ?>';
<?php endif; ?>

<?php if (isset($this->post_var['tipotransporte'])) : ?>
                                    form_values.tipotransporte = '<?php echo $this->post_var['tipotransporte'] ?>';
<?php endif; ?>

<?php if (isset($this->post_var['semestre'])) : ?>
                                    form_values.semestre = '<?php echo $this->post_var['semestre'] ?>';
<?php endif; ?>

<?php if (isset($this->post_var['periodo'])) : ?>
                                    form_values.periodo = '<?php echo $this->post_var['periodo'] ?>';
<?php endif; ?>

<?php if (isset($this->post_var['bairro'])) : ?>
                                    form_values.bairro = '<?php echo $this->post_var['bairro'] ?>';
<?php endif; ?>

<?php if (isset($this->post_var['idestado'])) : ?>
                                    form_values.idestado = '<?php echo $this->post_var['idestado'] ?>';
<?php endif; ?>

<?php if (isset($this->post_var['eja'])) : ?>
                                    form_values.eja = '<?php echo $this->post_var['eja'] ?>';
<?php endif; ?>

<?php if (isset($this->post_var['bolsista'])) : ?>
                                    form_values.bolsista = '<?php echo $this->post_var['bolsista'] ?>';
<?php endif; ?>
</script>

