<style type="text/css">
.table th, .table td { padding: 8px 12px; line-height: 20px; vertical-align: middle; border-top: 1px solid #e2e2e2; text-align: left; }
.table th { font-weight: bold; text-align: left; }

.filter-box{ display:block; padding:1%; }
.filter-box .field-search{ width: 16%; display: inline-block;}
.filter-box .field-search label{ margin-top: 5px; }
.filter-box .field-search #field-docs{ width: 95px; }
.field-select{ display: block; }

.filter-col{ padding:1%; }
.filter-col .field-col{ width: 12%; display: inline-block;}
.filter-col .field-col label{ margin-top: 5px; }
.filter-col .field-col #field-docs{ width: 95px; }
.field-select{ display: block; }

.row-block { color: red; }
</style>
<!-- Content -->
<div id="content">

	<!-- Content wrapper -->
	<div class="wrapper">

		<!-- Breadcrumbs line -->
		<div class="crumbs">
			<?php echo $this->render('/helpers/breadcrumb.phtml') ?>
		</div>
		<!-- /breadcrumbs line -->

		<!-- Page header -->
		<div class="page-header">
			<div class="page-title">
				<h5>Estudantes cadastrados no sistema</h5>
				<span>Visualize os estudantes cadastrados no sistema</span>
			</div>

		</div>
		<!-- /page header -->

		<?php if (isset($this->crudMessage)) : ?>
			<div class="alert alert-success">
				<button data-dismiss="alert" class="close" type="button">×</button>
				<strong>Operação realizada com sucesso!</strong>
				<span><br /><?php echo $this->crudMessage ?></span>
			</div>			    
		<?php endif; ?>

		<!-- Table with footer -->
		<div class="widget">
			<input type="hidden" value="<?php echo (isset($this->post_var['sorting'])) ? $this->post_var['sorting'] : '' ?>" name="sorting" />
			<div class="navbar">
				<div class="navbar-inner">
					<h6>Visualizando registros</h6>
					<?php if (Mn_Util::isAccess($this->getController(), 'adicionar')) : ?>
						<a style="float:right;" href="<?php echo $this->baseUrl() ?>/admin/<?php echo $this->getController() ?>/adicionar" class="btn btn-primary"><span class="icon-plus"></span>&nbsp;Adicionar Estudante</a>
					<?php endif; ?>
				</div>
			</div>
			<div class="navbar">
				<div class="navbar-inner filter-box">
					<form action="#" class="form-horizontal" method="post">
						<div class="field-search">
							<label>Nome</label>
							<input name="nome" value="<?php echo (isset($this->post_var['nome'])) ? $this->post_var['nome'] : '' ?>" type="text" placeholder="Nome" class="span3">
						</div>
						<div class="field-search">
							<label>Filiação</label>
							<input name="filiacao" value="<?php echo (isset($this->post_var['filiacao'])) ? $this->post_var['filiacao'] : '' ?>" type="text" placeholder="Filiação" class="span3" style="width: 120px">
						</div>
						<div class="field-search">
							<label>Matricula</label>
							<input name="matricula" value="<?php echo (isset($this->post_var['matricula'])) ? $this->post_var['matricula'] : '' ?>" type="text" placeholder="Filiação" class="span3" style="width: 120px">
						</div>
						<div class="field-search">
							<label>Curso</label>
							<select name="curso" style="width: 90px" onchange="setTipo(this)">
								<option value="">Todos</option>
								<option value="fundamental">Fundamental</option>
								<option value="medio">Médio</option>
							</select>
						</div>
						<div class="field-search">
							<label>CPF</label>
							<input name="cpf" style="width: 110px" value="<?php echo (isset($this->post_var['cpf'])) ? $this->post_var['cpf'] : '' ?>" type="text" placeholder="CPF" class="span3" style="width: 120px">
						</div>
						<div class="field-search">
							<label>RA</label>
							<input name="ra" style="width: 110px" value="<?php echo (isset($this->post_var['ra'])) ? $this->post_var['ra'] : '' ?>" type="text" placeholder="RA" class="span3" style="width: 120px">
						</div>
						<div class="field-search">
							<label>Entidade</label>
							<select name="identidade" style="width: 120px">
								<option value="">Todas...</option>
								<optgroup label="Estadual">
									<?php foreach (Lteentidades::getEntidades(array('order' => 'ORDER BY entidade', 'tipo' => 'estadual'),0,0) as $i=>$row) : ?>
										<option value="<?php echo $row['id'] ?>"><?php echo $row['entidade'] ?></option>
									<?php endforeach; ?>
								</optgroup>
								<optgroup label="Municipal">
									<?php foreach (Lteentidades::getEntidades(array('order' => 'ORDER BY entidade', 'tipo' => 'municipal'),0,0) as $i=>$row) : ?>
										<option value="<?php echo $row['id'] ?>"><?php echo $row['entidade'] ?></option>
									<?php endforeach; ?>
								</optgroup>
								<optgroup label="Universidade">
									<?php foreach (Lteentidades::getEntidades(array('order' => 'ORDER BY entidade', 'tipo' => 'universidade'),0,0) as $i=>$row) : ?>
										<option value="<?php echo $row['id'] ?>"><?php echo $row['entidade'] ?></option>
									<?php endforeach; ?>
								</optgroup>
							</select>
						</div>
						<div class="field-search">
							<label>Subsídio</label>
							<select name="subsidio" style="width: 90px">
								<option value="">Todos</option>
								<option value="160">R$ 160.00</option>
								<option value="220">R$ 220.00</option>
							</select>
						</div>
						<div class="field-search">
							<label>Tipo</label>
							<select name="tipoestudante" style="width: 90px" onchange="setTipo(this)">
								<option value="">Todos</option>
								<?php foreach (Ltetipos::gettipos() as $i=>$row) : ?>
									<option value="<?php echo $row['tipo'] ?>"><?php echo $row['tipoestudante'] ?></option>
								<?php endforeach; ?>
							</select>
						</div>
						<div class="field-search">
							<label>Transporte</label>
							<select name="tipotransporte" style="width: 90px">
								<option value="">Todos</option>
								<option value="fretado">Fretado</option>
								<option value="passe">Passe</option>
							</select>
						</div>
						<div class="field-search">
							<label>Status</label>
							<select name="status" style="width: 90px">
								<option value="">Todos</option>
								<option value="Ativo">Ativo</option>
								<option value="Bloqueado">Bloqueado</option>
							</select>
						</div>
						<div class="field-search">
							<label>EJA</label>
							<select name="eja" style="width: 90px">
								<option value="">Todos</option>
								<option value="nao">Não</option>
								<option value="sim">Sim</option>
							</select>
						</div>
                                                <div class="field-search" style="float: right; width: 7%;">
							<button class="btn btn-mini btn-primary" type="submit" >Pesquisar</button>
						</div>
					</form>
				</div>
			</div>
			<div class="navbar" id="label-colunas" style="display: none;">
				<div class="navbar-inner">
					<h7>Colunas</h7>
				</div>
			</div>
			<div class="navbar" id="colunas" style="display: none;">
				<div class="navbar-inner filter-col" style="display: none;">
					<form action="#" class="form-horizontal" method="post">
						<div class="field-col">
							Nome
							<input type="checkbox" name="col-nome" id="col-nome" class="colunas" checked="true" class="colunas" checked="true">
						</div>
						<div class="field-col">
							Filiação
							<input type="checkbox" name="col-filiacao" id="col-filiacao" class="colunas" checked="true">
						</div>
						<div class="field-col">
							Matricula
							<input type="checkbox" name="col-matricula" id="col-matricula" class="colunas" checked="true">
						</div>
						<div class="field-col">
							CPF
							<input type="checkbox" name="col-cpf" id="col-cpf" class="colunas" checked="true">
						</div>
						<div class="field-col">
							RA
							<input type="checkbox" name="col-ra" id="col-ra" class="colunas" checked="true">
						</div>
						<div class="field-col">
							Status
							<input type="checkbox" name="col-eja" id="col-eja" class="colunas" checked="true">
						</div>
						<div class="field-col">
							Entidade
							<input type="checkbox" name="col-entidade" id="col-entidade" class="colunas" checked="true">
						</div>
						<div class="field-col">
							Subsídio
							<input type="checkbox" name="col-subsidio" id="col-subsidio" class="colunas" checked="true">
						</div>
						<div class="field-col">
							Tipo
							<input type="checkbox" name="col-tipo" id="col-tipo" class="colunas" checked="true">
						</div>
						<div class="field-col">
							Transporte
							<input type="checkbox" name="col-trnsporte" id="col-trnsporte" class="colunas" checked="true">
						</div>
						<div class="field-col">
							Status
							<input type="checkbox" name="col-status" id="col-status" class="colunas" checked="true">
						</div>
					</form>
				</div>
			</div>
			<div class="table-overflow">
				<table class="table table-content">
					<thead>
						<tr>
							<th class="col-nome">Nome</th>
							<th class="col-filiacao">Filiação</th>
							<th class="col-matricula">Matricula</th>
							<th class="col-curso">Curso</th>
							<th class="col-cpf">CPF</th>
							<th class="col-ra">RA</th>
							<th class="col-eja">EJA</th>
							<th class="col-entidade">Entidade</th>
							<th class="col-subsidio">Subsídio</th>
							<th class="col-tipo">Tipo</th>
							<th class="col-trnsporte">Transporte</th>
							<th style="width:74px">Ações</th>
						</tr>
					</thead>
					<tbody>
						<?php if (sizeof($this->rows)==0) : ?>
							<tr>
								<td colspan="7">Nenhum registro foi encontrado!</td>
							</tr>

							<?php else : ?>
								<?php foreach ($this->rows as $i=>$row) : ?>
									<tr class="<?= $row['status'] == 'Bloqueado' ? 'row-block' : '' ?>">
										<?php $i+1 ?>
										<input type="hidden" name=id[] value="<?php echo $row['id'] ?>" />
										<td class="col-nome">
											<?= $row['nome']; ?>
										</td>
										<td class="col-filiacao">
											<?= $row['filiacao'];?>
										</td>
										<td class="col-matricula"><?= $row['matricula'] ?></td>
										<td class="col-curso"><?= $row['curso'] ?></td>
										<td class="col-cpf">
											<?= Mn_Util::formatar($row['cpf'],'cpf');?>
										</td>
										<td class="col-ra">
											<?= $row['ra'] ?>
										</td>
										<td class="col-eja">
											<?= $row['eja'] ?>
										</td>
										<td class="col-entidade">
											<?= $row['entidade']; ?>
										</td>
										<td class="col-subsidio">
											<?= 'R$ '.number_format(($row['valorfretado'] * $row['subsidio'] / 100),2,'.',''); ?>
										</td>
										<?php $trans = array("estadual" => "Estadual", "municipal" => "Municipal", "universidade" => "Universitário", "fretado" => "Fretado", "passe" => "Passe"); ?>
										<td class="col-tipo">
											<?= strtr($row['tipoestudante'], $trans) ?>
										</td>
										<td class="col-trnsporte">
											<?= strtr($row['tipotransporte'], $trans) ?>
										</td>
										<td>
											<ul class="table-controls">
												<li><a title="" class="btn tip" href="<?php echo $this->baseUrl() ?>/admin/<?php echo $this->getController() ?>/visualizar/id/<?php echo $row['id'] ?>" data-original-title="Visualizar"><i class="icon-eye-open"></i></a> </li>
												<?php if (Mn_Util::isAccess($this->getController(), 'editar')) : ?>
													<li><a title="" class="btn tip" href="<?php echo $this->baseUrl() ?>/admin/<?php echo $this->getController() ?>/editar/id/<?php echo $row['id'] ?>" data-original-title="Editar"><i class="icon-pencil"></i></a> </li>
												<?php endif;?>
												<?php if (Mn_Util::isAccess($this->getController(), 'excluir')) : ?>
													<li><a title="" class="btn tip" href="javascript:confirmDelete('<?php echo $row['id']; ?>','registro');" data-original-title="Excluir"><i class="icon-remove"></i></a> </li>
												<?php endif; ?>
											</ul>
										</td>
									</tr>
								<?php endforeach;?>




							<?php endif; ?>

						</tbody>
					</table>
				</div>
				<?php echo $this->render('/helpers/paginator.phtml') ?>
			</div>
			<!-- /table with footer -->



		</div>
		<!-- /content wrapper -->

	</div>
	<!-- content -->

	<script type="text/javascript" src="<?php echo $this->baseUrl('/public/scripts/admin/lteestudantes_index.js') ?>"></script>
	<script type="text/javascript">

		var form_values = {};

		<?php if (isset($this->post_var['nome'])) : ?>
			form_values.nome = '<?php echo $this->post_var['nome'] ?>';
		<?php endif; ?>

		<?php if (isset($this->post_var['status'])) : ?>
			form_values.status = '<?php echo $this->post_var['status'] ?>';
		<?php endif; ?>

		<?php if (isset($this->post_var['subsidio'])) : ?>
			form_values.subsidio = '<?php echo $this->post_var['subsidio'] ?>';
		<?php endif; ?>

		<?php if (isset($this->post_var['curso'])) : ?>
			form_values.curso = '<?php echo $this->post_var['curso'] ?>';
		<?php endif; ?>

		<?php if (isset($this->post_var['identidade'])) : ?>
			form_values.identidade = '<?php echo $this->post_var['identidade'] ?>';
		<?php endif; ?>

		<?php if (isset($this->post_var['tipoestudante'])) : ?>
			form_values.tipoestudante = '<?php echo $this->post_var['tipoestudante'] ?>';
		<?php endif; ?>

		<?php if (isset($this->post_var['tipotransporte'])) : ?>
			form_values.tipotransporte = '<?php echo $this->post_var['tipotransporte'] ?>';
		<?php endif; ?>

		<?php if (isset($this->post_var['eja'])) : ?>
			form_values.eja = '<?php echo $this->post_var['eja'] ?>';
		<?php endif; ?>

	</script>

	<?php 
	function mask($val, $mask) {
		$maskared = '';
		$k = 0;
		for($i = 0; $i<=strlen($mask)-1; $i++) {
			if($mask[$i] == '#') {
				if(isset($val[$k]))
					$maskared .= $val[$k++];
			}
			else {
				if(isset($mask[$i]))
					$maskared .= $mask[$i];
			}
		}
		return $maskared;
	}

	?>