
	<div class="control-group">
		<label class=" span9">I - Conhece e respeita as leis </label>
		<div class="controls">
			<input type="radio" name="avaliacao_1" value="sim" <?php echo (isset($this->post_var['avaliacao_1']) && $this->post_var['avaliacao_1'] == 'sim') ? 'checked' : '' ?> />&nbsp; Sim
			<input type="radio" name="avaliacao_1" value="nao" <?php echo (isset($this->post_var['avaliacao_1']) && $this->post_var['avaliacao_1'] == 'nao') ? 'checked' : '' ?> />&nbsp; Não
		</div>
	</div>

	<div class="control-group">
		<label class=" span9">II - Preserva os princípios, ideias e Leis da Educação Brasileira, através de seu desempenho profissional </label>
		<div class="controls">
			<input type="radio" name="avaliacao_2" value="sim" <?php echo (isset($this->post_var['avaliacao_2']) && $this->post_var['avaliacao_2'] == 'sim') ? 'checked' : '' ?> />&nbsp; Sim
			<input type="radio" name="avaliacao_2" value="nao" <?php echo (isset($this->post_var['avaliacao_2']) && $this->post_var['avaliacao_2'] == 'nao') ? 'checked' : '' ?> />&nbsp; Não
		</div>
	</div>

	<div class="control-group">
		<label class=" span9">III - Empenha-se em prol do aluno, utilizando processos que acompanham o progresso científico da Educação</label>
		<div class="controls">
			<input type="radio" name="avaliacao_3" value="sim" <?php echo (isset($this->post_var['avaliacao_3']) && $this->post_var['avaliacao_3'] == 'sim') ? 'checked' : '' ?> />&nbsp; Sim
			<input type="radio" name="avaliacao_3" value="nao" <?php echo (isset($this->post_var['avaliacao_3']) && $this->post_var['avaliacao_3'] == 'nao') ? 'checked' : '' ?> />&nbsp; Não
		</div>
	</div>

	<div class="control-group">
		<label class=" span9">IV - Participa das atividades educacionais que lhe são atribuídas por força de sua função</label>
		<div class="controls">
			<input type="radio" name="avaliacao_4" value="sim" <?php echo (isset($this->post_var['avaliacao_4']) && $this->post_var['avaliacao_4'] == 'sim') ? 'checked' : '' ?> />&nbsp; Sim
			<input type="radio" name="avaliacao_4" value="nao" <?php echo (isset($this->post_var['avaliacao_4']) && $this->post_var['avaliacao_4'] == 'nao') ? 'checked' : '' ?> />&nbsp; Não
		</div>
	</div>

	<div class="control-group">
		<label class=" span9">V - Mantém respeito, cooperação e solidariedade com a equipe e com a comunidade em geral</label>
		<div class="controls">
			<input type="radio" name="avaliacao_5" value="sim" <?php echo (isset($this->post_var['avaliacao_5']) && $this->post_var['avaliacao_5'] == 'sim') ? 'checked' : '' ?> />&nbsp; Sim
			<input type="radio" name="avaliacao_5" value="nao" <?php echo (isset($this->post_var['avaliacao_5']) && $this->post_var['avaliacao_5'] == 'nao') ? 'checked' : '' ?> />&nbsp; Não
		</div>
	</div>

	<div class="control-group">
		<label class=" span9">VI - Incentiva a participação, o diálogo e a cooperação entre educandos, demais educadores e comunidade em geral, visando a construção de uma sociedade democrática</label>
		<div class="controls">
			<input type="radio" name="avaliacao_6" value="sim" <?php echo (isset($this->post_var['avaliacao_6']) && $this->post_var['avaliacao_6'] == 'sim') ? 'checked' : '' ?> />&nbsp; Sim
			<input type="radio" name="avaliacao_6" value="nao" <?php echo (isset($this->post_var['avaliacao_6']) && $this->post_var['avaliacao_6'] == 'nao') ? 'checked' : '' ?> />&nbsp; Não
		</div>
	</div>

	<div class="control-group">
		<label class=" span9">VII - Assegura o desenvolvimento do senso crítico e da consciência política do educando</label>
		<div class="controls">
			<input type="radio" name="avaliacao_7" value="sim" <?php echo (isset($this->post_var['avaliacao_7']) && $this->post_var['avaliacao_7'] == 'sim') ? 'checked' : '' ?> />&nbsp; Sim
			<input type="radio" name="avaliacao_7" value="nao" <?php echo (isset($this->post_var['avaliacao_7']) && $this->post_var['avaliacao_7'] == 'nao') ? 'checked' : '' ?> />&nbsp; Não
		</div>
	</div>

	<div class="control-group">
		<label class=" span9">VIII - Respeita o aluno como sujeito do processo educativo e compromete-se com a eficácia de seu aprendizado</label>
		<div class="controls">
			<input type="radio" name="avaliacao_8" value="sim" <?php echo (isset($this->post_var['avaliacao_8']) && $this->post_var['avaliacao_8'] == 'sim') ? 'checked' : '' ?> />&nbsp; Sim
			<input type="radio" name="avaliacao_8" value="nao" <?php echo (isset($this->post_var['avaliacao_8']) && $this->post_var['avaliacao_8'] == 'nao') ? 'checked' : '' ?> />&nbsp; Não
		</div>
	</div>

	<div class="control-group">
		<label class=" span9">IX - Zela pela defesa dos direitos profissionais e pela reputação da categoria profissional</label>
		<div class="controls">
			<input type="radio" name="avaliacao_9" value="sim" <?php echo (isset($this->post_var['avaliacao_9']) && $this->post_var['avaliacao_9'] == 'sim') ? 'checked' : '' ?> />&nbsp; Sim
			<input type="radio" name="avaliacao_9" value="nao" <?php echo (isset($this->post_var['avaliacao_9']) && $this->post_var['avaliacao_9'] == 'nao') ? 'checked' : '' ?> />&nbsp; Não
		</div>
	</div>

	<div class="control-group">
		<label class=" span9">X - Considera os princípios psico-pedagógicos, a realidade social e econômica da clientela escolar e as diretrizes da Política Educacional na escolha e utilização de materiais, procedimentos didáticos e instrumentos de avaliação do processo ensino-aprendizagem</label>
		<div class="controls">
			<input type="radio" name="avaliacao_10" value="sim" <?php echo (isset($this->post_var['avaliacao_10']) && $this->post_var['avaliacao_10'] == 'sim') ? 'checked' : '' ?> />&nbsp; Sim
			<input type="radio" name="avaliacao_10" value="nao" <?php echo (isset($this->post_var['avaliacao_10']) && $this->post_var['avaliacao_10'] == 'nao') ? 'checked' : '' ?> />&nbsp; Não
		</div>
	</div>

	<div class="control-group">
		<label class=" span9">XI - Participa do processo de planejamento, execução e avaliação das atividades escolares</label>
		<div class="controls">
			<input type="radio" name="avaliacao_11" value="sim" <?php echo (isset($this->post_var['avaliacao_11']) && $this->post_var['avaliacao_11'] == 'sim') ? 'checked' : '' ?> />&nbsp; Sim
			<input type="radio" name="avaliacao_11" value="nao" <?php echo (isset($this->post_var['avaliacao_11']) && $this->post_var['avaliacao_11'] == 'nao') ? 'checked' : '' ?> />&nbsp; Não
		</div>
	</div>

	<div class="control-group">
		<label class=" span9">XII - Cuida dos interesses da Administração Pública, a qual representa junto à comunidade e alunos</label>
		<div class="controls">
			<input type="radio" name="avaliacao_12" value="sim" <?php echo (isset($this->post_var['avaliacao_12']) && $this->post_var['avaliacao_12'] == 'sim') ? 'checked' : '' ?> />&nbsp; Sim
			<input type="radio" name="avaliacao_12" value="nao" <?php echo (isset($this->post_var['avaliacao_12']) && $this->post_var['avaliacao_12'] == 'nao') ? 'checked' : '' ?> />&nbsp; Não
		</div>
	</div>

	<div class="control-group">
		<label class=" span9">XIII - Acata as decisões do Conselho de Escola, em conformidade com a legislação vigente</label>
		<div class="controls">
			<input type="radio" name="avaliacao_13" value="sim" <?php echo (isset($this->post_var['avaliacao_13']) && $this->post_var['avaliacao_13'] == 'sim') ? 'checked' : '' ?> />&nbsp; Sim
			<input type="radio" name="avaliacao_13" value="nao" <?php echo (isset($this->post_var['avaliacao_13']) && $this->post_var['avaliacao_13'] == 'nao') ? 'checked' : '' ?> />&nbsp; Não
		</div>
	</div>

	<div class="control-group">
		<label class=" span9">XIV - É assíduo(a)</label>
		<div class="controls">
			<input type="radio" name="avaliacao_14" value="sim" <?php echo (isset($this->post_var['avaliacao_14']) && $this->post_var['avaliacao_14'] == 'sim') ? 'checked' : '' ?> />&nbsp; Sim
			<input type="radio" name="avaliacao_14" value="nao" <?php echo (isset($this->post_var['avaliacao_14']) && $this->post_var['avaliacao_14'] == 'nao') ? 'checked' : '' ?> />&nbsp; Não
		</div>
	</div>

	<div class="control-group">
		<label class=" span9">XV - É pontual</label>
		<div class="controls">
			<input type="radio" name="avaliacao_15" value="sim" <?php echo (isset($this->post_var['avaliacao_15']) && $this->post_var['avaliacao_15'] == 'sim') ? 'checked' : '' ?> />&nbsp; Sim
			<input type="radio" name="avaliacao_15" value="nao" <?php echo (isset($this->post_var['avaliacao_15']) && $this->post_var['avaliacao_15'] == 'nao') ? 'checked' : '' ?> />&nbsp; Não
		</div>
	</div>

	<div class="control-group">
		<label class=" span9">XVI - É cumpridor(a) de prazos estabelecidos pelos superiores</label>
		<div class="controls">
			<input type="radio" name="avaliacao_16" value="sim" <?php echo (isset($this->post_var['avaliacao_16']) && $this->post_var['avaliacao_16'] == 'sim') ? 'checked' : '' ?> />&nbsp; Sim
			<input type="radio" name="avaliacao_16" value="nao" <?php echo (isset($this->post_var['avaliacao_16']) && $this->post_var['avaliacao_16'] == 'nao') ? 'checked' : '' ?> />&nbsp; Não
		</div>
	</div>

	<div class="control-group">
		<label class="control-label">Avaliação </label>
		<div class="controls"><input  placeholder="Avaliação" name="avaliacao" value="<?php echo (isset($this->post_var['avaliacao'])) ? $this->post_var['avaliacao'] : '' ?>" readonly type="text"  class="span3" /></div>
	</div>