.wrap_multiplos_arquivos .box-fieldset { border:1px SOLID #CCC; width:740px; padding: 0 10px; }
.wrap_multiplos_arquivos .box-fieldset legend { }
.wrap_multiplos_arquivos .box-fieldset .bootstrap { margin: 0 0 20px; }
.wrap_multiplos_arquivos .box-fieldset .bootstrap span { background:none; border: 0; border-radius: 0; box-shadow: none; }
.wrap_multiplos_arquivos .box-fieldset .bootstrap span.add_arquivos { float:none; text-shadow: none; }
.wrap_multiplos_arquivos .box-fieldset .bootstrap .fileinput-button input { box-shadow: none; transition:none; width: auto; height: 24px; }
.wrap_multiplos_arquivos .box-fieldset #multiplos_arquivos { margin:0; padding: 0 0 0 4px; }
.wrap_multiplos_arquivos .box-fieldset #multiplos_arquivos li { clear: none; float:left; padding:6px 6px 36px; text-align: center; width:172px; }
.wrap_multiplos_arquivos .box-fieldset #multiplos_arquivos li .box_arquivo { margin: 0; width:160px; }
.wrap_multiplos_arquivos .box-fieldset #multiplos_arquivos li .grid-actions { margin:0; width: auto; right: 22px; top: 0; position: absolute; }
.wrap_multiplos_arquivos .box-fieldset #multiplos_arquivos li.first .grid-actions { right: 18px; }
.wrap_multiplos_arquivos .box-fieldset #multiplos_arquivos li .grid-actions li { height:16px; float:none; padding:0; width: 16px; }