<?php if (sizeof($this->rows)==0) : ?>
<option value="">Selecione...</option>
<option value="">Nenhum aluno foi encontrada para essa escola</option>
<?php else : ?>
<option value="">Selecione...</option>
<?php foreach ($this->rows as $row) : ?>
<option value="<?php echo $row['idaluno'] ?>"><?php echo $row['nomerazao'] ?> <?php echo $row['sobrenomefantasia'] ?></option>
<?php endforeach; ?>
<?php endif; ?>
