<?php if (sizeof($this->rows)==0) : ?>
<option value="">Nenhum período foi encontrada para essa turma</option>
<?php else : ?>
<?php foreach ($this->rows as $row) : ?>
<option value="<?php echo $row['id'] ?>"><?php echo $row['periodo'] ?></option>
<?php endforeach; ?>
<?php endif; ?>
