<!-- Content -->
<div id="content">

    <!-- Content wrapper -->
    <div class="wrapper">

        <!-- Breadcrumbs line -->
        <div class="crumbs">
            <?php echo $this->render('/helpers/breadcrumb.phtml') ?>
        </div>
        <!-- /breadcrumbs line -->

        <!-- Page header -->
        <div class="page-header">
            <div class="page-title">
                <h5>Formulário do cadastro</h5>
                <span>Verifique os campos e preencha com os dados</span>
            </div>
        </div>
        <!-- /page header -->

        <div class="btn-up"><span class="fam-arrow-up"></span></div>

        <form id="form" name="form" action="" method="post" class="form-horizontal" enctype="multipart/form-data">
            <input type="hidden" value="<?php echo (isset($this->post_var)) ? $this->post_var["id"] : ''; ?>" name="id" id="id" />
            <fieldset>

                <!-- General form elements -->
                <div class="widget row-fluid">
                    <div class="navbar">
                        <div class="navbar-inner">
                            <h6>Digite as informações do formulário</h6>
                        </div>
                    </div>

                    <div class="well">

                        <?php if (isset($this->erros)) : ?>
                            <div class="alert alert-error margin">
                                <button data-dismiss="alert" class="close" type="button">×</button>
                                <strong>Há erros no formulário!</strong>
                                <?php foreach ($this->erros as $k => $v) : ?>
                                    <span><br />- <?php echo $v ?></span>
                                <?php endforeach; ?>
                            </div>
                        <?php endif; ?>

                        <div class="control-group">
                            <label class="control-label">Nome do perfil <span class="required">*</span></label>
                            <div class="controls"><input name="perfil" placeholder="Nome do perfil" value="<?php echo (isset($this->post_var['perfil'])) ? $this->post_var['perfil'] : '' ?>" type="text" name="regular" class="span3" /></div>
                        </div>

                        <div class="control-group">
                            <label class="control-label">Status <span class="required">*</span></label>
                            <div class="controls">
                                <select name="status1" data-placeholder="Status" class="select" tabindex="2">
                                    <option value="">Selecione...</option>
                                    <option value="Ativo">Ativo</option>
                                    <option value="Bloqueado">Bloqueado</option>
                                </select>
                            </div>
                        </div>

                        <div class="control-group">
                            <label class="control-label">Individual/Geral <span class="required">*</span></label>
                            <div class="controls">
                                <select name="individualgeral" data-placeholder="Status" class="select" tabindex="2">
                                    <option value="Írá visualizar todos">Írá visualizar todos</option>
                                    <option value="Apenas usuário logado">Apenas usuário logado</option>
                                </select>
                            </div>
                        </div>

                        <div class="control-group">
                            <label class="control-label">Recebimento de Protocolo <span class="required">*</span></label>
                            <div class="controls">
                                <select name="recebeprotocolo" data-placeholder="Protocolo" class="select" tabindex="3">
                                    <option value="">Selecione...</option>
                                    <option value="nao">Não</option>
                                    <option value="sim">Sim</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="widget">
                        <div class="navbar"><div class="navbar-inner"><h6>Marque os registros do perfil de acesso</h6></div></div>
                        <div class="table-overflow">
                            <table class="table table-content" name="TabelaLimites">
                                <thead id="cabecalho">
                                    <tr>
                                        <th>Limite</th>
                                        <th width="70">Visualizar</th>
                                        <th width="70">Adicionar</th>
                                        <th width="70">Editar</th>
                                        <th width="70">Excluir</th>
                                    </tr>
                                </thead>

                                <tbody>
                                    <?php
                                    $idperfiltop = $this->limites[0]['id'];
                                    ?>
                                    <tr class="title">
                                        <td><?php echo $this->limites[0]['modulo'] ?></td>
                                        <td id="col1"><a href="<?php echo "#" . $idperfiltop ?>" class="link" onclick="setAllChecks(this, 1, <?php echo $idperfiltop ?>)"><span class="icon-check"</span></a></td>
                                        <td id="col2"><a href="<?php echo "#" . $idperfiltop ?>" class="link" onclick="setAllChecks(this, 2, <?php echo $idperfiltop ?>)"><span class="icon-check"></span></a></td>
                                        <td id="col3"><a href="<?php echo "#" . $idperfiltop ?>" class="link" onclick="setAllChecks(this, 3, <?php echo $idperfiltop ?>)"><span class="icon-check"></span></a></td>
                                        <td id="col4"><a href="<?php echo "#" . $idperfiltop ?>" class="link" onclick="setAllChecks(this, 4, <?php echo $idperfiltop ?>)"><span class="icon-check"></span></a></td>
                                    </tr>
                                    <?php
                                    $modulo = $this->limites[0]['modulo'];

                                    foreach ($this->limites as $i => $row) :
                                        if ($modulo != $row['modulo']) :
                                            $idperfil = $row['id'];

                                            if ($modulo != "") :
                                                $modulo = $row['modulo'];
                                                ?>
                                                <tr><td colspan="6">&nbsp;</td></tr>
                                                <tr class="title">
                                                    <td><?php echo $modulo ?></td>
                                                    <td id="col1"><a href="<?php echo "#" . $idperfil ?>" class="link" onclick="setAllChecks(this, 1, <?php echo (isset($idperfil)) ? $idperfil : '77' ?>)"><span class="icon-check"</span></a></td>
                                                    <td id="col2"><a href="<?php echo "#" . $idperfil ?>" class="link" onclick="setAllChecks(this, 2, <?php echo (isset($idperfil)) ? $idperfil : '77' ?>)"><span class="icon-check"></span></a></td>
                                                    <td id="col3"><a href="<?php echo "#" . $idperfil ?>" class="link" onclick="setAllChecks(this, 3, <?php echo (isset($idperfil)) ? $idperfil : '77' ?>)"><span class="icon-check"></span></a></td>
                                                    <td id="col4"><a href="<?php echo "#" . $idperfil ?>" class="link" onclick="setAllChecks(this, 4, <?php echo (isset($idperfil)) ? $idperfil : '77' ?>)"><span class="icon-check"></span></a></td>
                                                </tr>
                                                <?php
                                            endif;
                                        endif;
                                        $crud = ((is_null($row['crud'])) || ('' == $row['crud'])) ? NULL : explode('|', $row['crud']);
                                        ?>
                                        <tr class="checks" id="<?php echo $row['modulo'] ?>">
                                            <td><?php echo $row['alias'] ?></td>
                                            <?php if ((is_null($crud)) || (in_array('visualizar', $crud))) : ?>
                                                <td align="center" id="col1"><div style="cursor:pointer" onclick="setDivClick(this)"></div> <div style="display:none;"><input value="sim" <?php echo ($row['visualizar'] == 'sim') ? 'checked = "checked"' : '' ?> type="checkbox" name="visualizar[<?php echo $row['id'] ?>]" class="mk1_<?php echo (isset($idperfil)) ? $idperfil : '77' ?>"/></div></td>
                                            <?php else : ?>
                                                <td />
                                            <?php endif; ?>

                                            <?php if ((is_null($crud)) || (in_array('adicionar', $crud))) : ?>
                                                <td align="center" id="col2"><div  style="cursor:pointer" onclick="setDivClick(this)"></div> <div style="display:none;"><input value="sim" <?php echo ($row['adicionar'] == 'sim') ? 'checked = "checked"' : '' ?> type="checkbox" name="adicionar[<?php echo $row['id'] ?>]" class="mk2_<?php echo (isset($idperfil)) ? $idperfil : '77' ?>"/></div></td>
                                            <?php else : ?>
                                                <td />
                                            <?php endif; ?>

                                            <?php if ((is_null($crud)) || (in_array('editar', $crud))) : ?>
                                                <td align="center" id="col3"><div style="cursor:pointer" onclick="setDivClick(this)"></div> <div style="display:none;"><input value="sim" <?php echo ($row['editar'] == 'sim') ? 'checked = "checked"' : '' ?> type="checkbox" name="editar[<?php echo $row['id'] ?>]" class="mk3_<?php echo (isset($idperfil)) ? $idperfil : '77' ?>"/></div></td>
                                            <?php else : ?>
                                                <td />
                                            <?php endif; ?>

                                            <?php if ((is_null($crud)) || (in_array('excluir', $crud))) : ?>
                                                <td align="center" id="col4"><div  style="cursor:pointer" onclick="setDivClick(this)"></div> <div style="display:none;"><input value="sim" <?php echo ($row['excluir'] == 'sim') ? 'checked = "checked"' : '' ?> type="checkbox" name="excluir[<?php echo $row['id'] ?>]" class="mk4_<?php echo (isset($idperfil)) ? $idperfil : '77' ?>"/></div></td>
                                            <?php else : ?>
                                                <td />
                                            <?php endif; ?>
                                        </tr>
                                    <?php endforeach; ?>
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div class="form-actions align-right">
                        <?php if ((isset($this->visualizar)) && ($this->visualizar)) : ?>
                            <button onclick="window.history.back()" class="btn btn-danger cancelar" type="button">Voltar</button>
                        <?php else : ?>
                            <button class="btn btn-primary enviar" type="submit">Salvar</button>
                            <button onclick="window.history.back()" class="btn btn-danger cancelar" type="button">Cancelar</button>
                        <?php endif; ?>
                    </div>
                </div>
                <!-- /general form elements -->

            </fieldset>

        </form>
        <!-- /basic inputs -->

    </div>
    <!-- /content wrapper -->

</div>
<!-- content -->


<script type="text/javascript" src="<?php echo $this->baseUrl('/public/scripts/admin/perfis_form.js') ?>"></script>
<script type="text/javascript">

                                var form_values = {}
                                ;
<?php if (isset($this->post_var)) : ?>
                                    form_values.status1 = '<?php echo (isset($this->post_var['status1'])) ? $this->post_var['status1'] : $this->post_var['status'] ?>';
                                    form_values.individualgeral = '<?php echo (isset($this->post_var['individualgeral'])) ? $this->post_var['individualgeral'] : 'Írá visualizar todos' ?>';
                                    form_values.recebeprotocolo = '<?php echo (isset($this->post_var['recebeprotocolo'])) ? $this->post_var['recebeprotocolo'] : 'nao' ?>';
<?php endif; ?>


                                visualizar = <?php echo ((isset($this->visualizar)) && ($this->visualizar)) ? 'true' : 'false' ?>

</script>