<?php 
include_once BASE_PATH . '/public/scripts/ckeditor/ckeditor.php';
require_once BASE_PATH . '/public/scripts/ckfinder/ckfinder.php';

$ckeditor = new CKEditor();
$ckeditor->basePath = $this->baseUrl('/public/scripts/ckeditor/');

$ckfinder = $this->baseUrl('/public/scripts/ckfinder/');

CKFinder::SetupCKEditor($ckeditor, $ckfinder);
?>
<!-- Content -->
<div id="content">

  <!-- Content wrapper -->
  <div class="wrapper">

   <!-- Breadcrumbs line -->
   <div class="crumbs">
    <?php echo $this->render('/helpers/breadcrumb.phtml') ?>
  </div>
  <!-- /breadcrumbs line -->

  <!-- Page header -->
  <div class="page-header">
    <div class="page-title">
     <h5>Cadastro de usuários</h5>
     <span>Informe os dados do usuário.</span>
   </div>
 </div>
 <!-- /page header -->

 <?php if (isset($this->crudMessage)) : ?>
   <div class="alert alert-success">
    <button data-dismiss="alert" class="close" type="button">×</button>
    <strong>Operação realizada com sucesso!</strong>
    <span><br /><?php echo $this->crudMessage ?></span>
  </div>
<?php endif; ?>

<form id="form" name="form" action="" method="post" class="form-horizontal" enctype="multipart/form-data">

  <?php if (isset($this->erros)) : ?>
    <div class="alert alert-error margin">
      <button data-dismiss="alert" class="close" type="button">×</button>
      <strong>Há erros no formulário!</strong>
      <?php foreach ($this->erros as $k=>$v) : ?>
        <span><br />- <?php echo $v ?></span>
      <?php endforeach;?>
    </div>
  <?php endif; ?>

  <input type="hidden" value="<?php echo (isset($this->post_var['id'])) ? $this->post_var["id"] : ''; ?>" name="id" id="id" />
  <div class="box-colecoes col-sm-12 panel-group" id="accordion" >

    <div class="control-group">
      <label class="control-label">Estoque <span class="required">*</span></label>
      <div class="controls">
        <select name="idestoque" id="idestoque" data-placeholder="Local" class="select" <?php if ($this->visualizar) {echo 'disabled="true"';} else {echo 'enabled="true"';} ?> >
          <option value="">Selecione...</option>
          <?php foreach (Almoxarifadoestoques::getEstoques(array('order'=>'ORDER BY perfil, escola')) as $i=>$row) : ?>
            <option value="<?= $row['id'] ?>" data-perfil="<?= $row['idtipoestoque'] ?>"><?= $row['idescola'] == 0 ? $row['perfil'] : $row['escola'] ?></option>
          <?php endforeach;?>
        </select>
      </div>
    </div>

    <div class="control-group">
      <label class="control-label">Funcionários <span class="required">*</span></label>
      <div class="controls">
        <select name="idfuncionario" id="idfuncionario" data-placeholder="Funcionário" class="select" <?php if ($this->visualizar) {echo 'disabled="true"';} else {echo 'enabled="true"';} ?> >
          <option value="">Selecione...</option>
        </select>
      </div>
    </div>

    <div class="control-group">
      <label class="control-label">Perfil <span class="required">*</span></label>
      <div class="controls">
        <select name="idperfil" data-placeholder="Perfil" class="select" <?php if ($this->visualizar) {echo 'disabled="true"';} else {echo 'enabled="true"';} ?> >
          <option value="">Selecione...</option>
        </select>
      </div>
    </div>

    <div class="control-group">
      <label class="control-label">Status <span class="required">*</span></label>
      <div class="controls">
        <select name="status" data-placeholder="Status" class="select" <?php if ($this->visualizar) {echo 'disabled="true"';} else {echo 'enabled="true"';} ?> >
          <option value="">Selecione...</option>
          <option value="Ativo">Ativo</option>
          <option value="Bloqueado">Bloqueado</option>
        </select>
      </div>
    </div>
  </div>

  <div class="panel-footer">
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3">
        <?php if ((isset($this->visualizar)) && ($this->visualizar)) : ?>
        <button type="button" onclick="window.history.back()" class="btn btn-default">Voltar</button>
        <?php else : ?>
          <button class="btn btn-primary">Salvar</button>&nbsp;
          <button onclick="window.history.back()" class="btn btn-danger cancelar" type="button">Cancelar</button>
        <?php endif;?>
      </div>
    </div>
  </div><!-- panel-footer -->
  <br /><br /><br />
</form>
<!-- /basic inputs -->

</div>
<!-- /content wrapper -->

</div>
<!-- content -->


<script type="text/javascript" src="<?php echo $this->baseUrl('/public/scripts/admin/almoxarifadousuarios_form.js') ?>"></script>

<script type="text/javascript">
  var form_values = {};
  <?php if (isset($this->post_var['idlocal'])) :  ?>
    form_values.idlocal = '<?php echo (isset($this->post_var['idlocal'])) ? $this->post_var['idlocal'] : $this->post_var['idlocal'] ?>';
  <?php endif; ?>

  <?php if (isset($this->post_var['idfuncionario'])) :  ?>
    form_values.idfuncionario = '<?php echo (isset($this->post_var['idfuncionario'])) ? $this->post_var['idfuncionario'] : $this->post_var['idfuncionario'] ?>';
  <?php endif; ?>

  <?php if (isset($this->post_var['idperfil'])) :  ?>
    form_values.idperfil = '<?php echo (isset($this->post_var['idperfil'])) ? $this->post_var['idperfil'] : $this->post_var['idperfil'] ?>';
  <?php endif; ?>

  <?php if (isset($this->post_var['status'])) :  ?>
    form_values.status = '<?php echo (isset($this->post_var['status'])) ? $this->post_var['status'] : $this->post_var['status'] ?>';
  <?php endif; ?>
</script>