<!-- Content -->
<div id="content">

    <!-- Content wrapper -->
    <div class="wrapper">

        <!-- Breadcrumbs line -->
        <div class="crumbs">
            <?php echo $this->render('/helpers/breadcrumb.phtml') ?>
        </div>
        <!-- /breadcrumbs line -->

        <!-- Page header -->
        <div class="page-header">
            <div class="page-title">
                <h5>Almoxarifado Usuários</h5>
                <span>Usuários com permissões no almoxarifado</span>
            </div>

        </div>
        <!-- /page header -->

        <?php if (isset($this->crudMessage)) : ?>
            <div class="alert alert-success">
                <button data-dismiss="alert" class="close" type="button">×</button>
                <strong>Operação realizada com sucesso!</strong>
                <span><br /><?php echo $this->crudMessage ?></span>
            </div>              
        <?php endif; ?>

        <!-- Table with footer -->
        <div class="widget">
            <div class="navbar">
                <div class="navbar-inner">
                    <h6>Visualizando registros</h6>
                    <?php if (Mn_Util::isAccess($this->getController(), 'adicionar')) : ?>
                        <a style="float:right;" href="<?php echo $this->baseUrl() ?>/admin/<?php echo $this->getController() ?>/adicionar" class="btn btn-primary"><span class="icon-plus"></span>&nbsp;Adicionar Usuário</a>
                    <?php endif; ?>
                </div>
            </div>
            <div class="table-overflow">
                <table class="table table-content">
                    <thead>
                        <tr>
                            <th width="1">&nbsp;</th>
                            <th>ID</th>
                            <th>Usuário</th>
                            <th>Perfil</th>
                            <th>Ações</th>
                        </tr>
                        <tr>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                        </tr> 

                    </thead>
                    <tbody>
                        <?php if (sizeof($this->rows)==0) : ?>
                            <tr>
                                <td colspan="7">Nenhum registro foi encontrado!</td>
                            </tr>

                            <?php else : ?>
                                <?php foreach ($this->rows as $i=>$row) : ?>
                                    <tr>
                                        <td>
                                            <?php $i+1 ?>
                                            <input type="hidden" name=id[] value="<?php echo $row['id'] ?>" />
                                        </td>
                                        <td><?= $row['id'] ?></td>
                                        <td><?= $row['nome'] ?></td>
                                        <td><?= $row['perfil'] ?></td>
                                        <td>
                                            <ul class="table-controls">
                                                <li>
                                                    <a title="" class="btn tip" href="<?php echo $this->baseUrl() ?>/admin/<?php echo $this->getController() ?>/visualizar/id/<?php echo $row['id'] ?>" data-original-title="Visualizar">
                                                        <i class="icon-eye-open"></i>
                                                    </a>
                                                </li>
                                                <?php if (Mn_Util::isAccess($this->getController(), 'editar')) : ?>
                                                    <li>
                                                        <a title="" class="btn tip" href="<?php echo $this->baseUrl() ?>/admin/<?php echo $this->getController() ?>/editar/id/<?php echo $row['id'] ?>" data-original-title="Editar">
                                                            <i class="icon-pencil"></i>
                                                        </a>
                                                    </li>
                                                <?php endif;?>
                                                <?php if (Mn_Util::isAccess($this->getController(), 'excluir')) : ?>
                                                    <li>
                                                        <a title="" class="btn tip" href="javascript:confirmDelete('<?= $row['id']; ?>','registro');" data-original-title="Excluir">
                                                            <i class="icon-remove"></i>
                                                        </a>
                                                    </li>
                                                <?php endif; ?>
                                            </ul>
                                        </td>
                                    </tr>
                                <?php endforeach;?>

                            <?php endif; ?>

                        </tbody>
                    </table>
                </div>
                <?php echo $this->render('/helpers/paginator.phtml') ?>

            </div>
            <!-- /table with footer -->



        </div>
        <!-- /content wrapper -->

    </div>
    <!-- content -->

    <script type="text/javascript" src="<?php echo $this->baseUrl('/public/scripts/admin/almoxarifadoestoques_index.js') ?>"></script>
    <script type="text/javascript">
    </script>