	 <style>
		list-group {
			padding-left: 0;
			margin-bottom: 20px;
		}
			.list-group-item {
			position: relative;
			display: block;
			padding: 10px 15px;
			margin-bottom: -1px;
			background-color: #fff;
			border: 1px solid #ddd;
		}

		#box-alunos{
			margin-top: 2%;
		}
	 </style>
		<!-- Content -->
		<div id="content">

		    <!-- Content wrapper -->
		    <div class="wrapper">

			    <!-- Breadcrumbs line -->
			    <div class="crumbs">
			    	<?php echo $this->render('/helpers/breadcrumb.phtml') ?>
			    </div>
			    <!-- /breadcrumbs line -->

			    <!-- Page header -->
			    <div class="page-header">
			    	<div class="page-title">
				    	<h5>Formulário do matrícula no polo AEE</h5>
				    	<span>Verifique os campos e preencha com os dados</span>
			    	</div>
			    </div>
			    <!-- /page header -->

			    <?php if (isset($this->crudMessage)) : ?>
					<div class="alert alert-success">
	                	<button data-dismiss="alert" class="close" type="button">×</button>
	                    <strong>Operação realizada com sucesso!</strong>
		    			<span><br /><?php echo $this->crudMessage ?></span>
	                </div>			    
			    <?php endif; ?>

				<form id="form" name="form" action="" method="post" class="form-horizontal" enctype="multipart/form-data"> 
					<input type="hidden" value="<?php echo (isset($this->post_var)) ? $this->post_var["id"] : ''; ?>" name="id" id="id" />
					
					<fieldset>
						<!-- General form elements -->
						<div class="widget row-fluid">
						    <div class="navbar">
						        <div class="navbar-inner">
						            <h6>Digite as informações do formulário</h6>
						        </div>
						    </div>

						    <div class="well">
								<?php if (isset($this->erros)) : ?>
									<div class="alert alert-error margin">
				                        <button data-dismiss="alert" class="close" type="button">×</button>
				                        <strong>Há erros no formulário!</strong>
					    				<?php foreach ($this->erros as $k=>$v) : ?>
					    					<span><br />- <?php echo $v ?></span>
					    				<?php endforeach;?>			                        
				                    </div>
			                    <?php endif; ?>						    
			
			<input type="hidden" value="<?php echo (isset($this->post_var['escolaregular'])) ? $this->post_var["escolaregular"] : ''; ?>" name="escolaregular"   />
			<?php if(!$this->visualizar) : ?>
				<div class="control-group">
					<label class="control-label">Selecionar Aluno <span class="required">*</span></label>
					<div class="controls">
		                <select name="idaluno" data-placeholder="Selecionar Aluno" class="select" onclick="setAlunosdados(this)">
							<option value="">Selecione...</option>
							<?php foreach (Escolasalunos::getEscolasalunosHelper(array('status'=>'Ativo')) as $k=>$v) : ?>
							<option value="<?php echo $v['id'] ?>"><?php echo $v['nomerazao'].' '.$v['sobrenomefantasia'] ?></option>
							<?php endforeach;?>
						</select>
						
						<?php if($this->editar) : ?>
							<div class="btn btn-primary" style='cursor: pointer' onclick="setAlunosdados(this, <?= $this->post_var['idaluno'] ?>)">Detalhes</div>
						<?php endif; ?>
						
						<div id="box-alunos">
						 
						</div>
					</div>
					
				</div>
			<?php else :  ?>
				<?php $alunodados =  Escolasalunos::getEscolaalunoByIdHelper($this->post_var['idaluno']);  ?>
 
				<div class="control-group">
					<label class="control-label">Aluno: <span class="required">*</span></label>
					<div class="controls">
						<ul class="list-group" style="width: 50%;">    
							<li class="list-group-item"> Nome: <?= $alunodados['nomerazao'] ?> </li>
							<li class="list-group-item"> RA: <?= $alunodados['ra'] ?>  </li>
							<li class="list-group-item"> Endereço: <?php echo Enderecos::getEnderecoById( $alunodados['idendereco'] )['endereco'] . ' Nº ' . Enderecos::getEnderecoById( $alunodados['idendereco'] )['numero']  ?> </li>
							<li class="list-group-item"> Nome Pai: <?= $alunodados['nomepai'] ?> <li>
							<li class="list-group-item"> Nome Mãe: <?= $alunodados['nomemae'] ?> <li>
							<?php if($alunodados['nomeresponsavel']) : ?>	
								<li class="list-group-item"> Responsavel: <?= $alunodados['nomeresponsavel'] ?> </li>
							<?php endif ; ?>
							<li class="list-group-item"> Escola: <?= $alunodados['escola'] ?> </li>
						</ul>
					</div>
				</div>
			<?php endif ; ?>
	  

				<div class="control-group">
					<label class="control-label">Selecionar Pólo AEE <span class="required">*</span></label>
					<div class="controls">
		                <select name="idescola" data-placeholder="Selecionar Pólo AEE" class="select">
							<option value="">Selecione...</option>
							<?php foreach (Escolas::getEscolasHelper(array('status'=>'Ativo')) as $k=>$v) : ?>
							<option value="<?php echo $v['id'] ?>"><?php echo $v['escola'] ?></option>
							<?php endforeach;?>
						</select>
						
					</div>
				</div>


				<div class="control-group">
					<label class="control-label">Período <span class="required">*</span></label>
					<div class="controls">
						<select name="idperiodo" data-placeholder="Período" class="select">
							<option value="">Selecione...</option>
							<?php foreach (Atasperiodos::getAtasperiodosHelper(array('status'=>'Ativo')) as $k=>$v) : ?>
							<option value="<?php echo $v['id'] ?>"><?php echo $v['periodo'] ?></option>
							<?php endforeach;?>
						</select>
						
					</div>
				</div>

			<?php /* ?>
				<div class="control-group">
					<label class="control-label">Auxiliar <span class="required">*</span></label>
					<div class="controls">
		                <select name="idauxiliar" data-placeholder="Auxiliar" class="select">
							<option value="">Selecione...</option>
							<?php foreach (Funcionariosgeraisescolas::getFuncionariosgeraisescolasHelper(array('status'=>'Ativo')) as $k=>$v) : ?>
							<option value="<?php echo $v['id'] ?>"><?php echo $v['nome'] ?></option>
							<?php endforeach;?>
						</select>
						
					</div>
				</div>
			<?php */ ?>

				<div class="control-group">
					<label class="control-label">Professor <span class="required">*</span></label>
					<div class="controls">
		                <select name="idprofessor" data-placeholder="Professor" class="select">
							<option value="">Selecione...</option>
							<?php foreach (Funcionariosgeraisescolas::getFuncionariosgeraisescolasHelper(array('status'=>'Ativo')) as $k=>$v) : ?>
							<option value="<?php echo $v['id'] ?>"><?php echo $v['nome'] . ' -  RGF: ' . $v['rgf'] ?></option>
							<?php endforeach;?>
						</select>
						
					</div>
				</div>

				<div class="control-group">
					<label class="control-label">Professor AEE <span class="required">*</span></label>
					<div class="controls">
		                <select name="idprofessor2" data-placeholder="Professor" class="select">
							<option value="">Selecione...</option>
							<?php foreach (Funcionariosgeraisescolas::getFuncionariosgeraisescolasHelper(array('status'=>'Ativo')) as $k=>$v) : ?>
							<option value="<?php echo $v['id'] ?>"><?php echo $v['nome'] . ' -  RGF: ' . $v['rgf'] ?></option>
							<?php endforeach;?>
						</select>
						
					</div>
				</div>

				<div class="control-group">
					<label class="control-label">Aulas</label>
				 
						<div class="itens">
                            <table class="table table-membros table-primary mb30" border="1">
                                <thead>
                                    <tr>
                                        <th align="left" style="text-align: center;">Segunda-feira</th>										
                                        <th align="left" style="text-align: center; white-space: normal;">Terca-feira</th>
                                        <th align="left" style="text-align: center; white-space: normal;">Quarta-feira</th>
                                        <th align="left" style="text-align: center; white-space: normal;">Quinta-feira</th>
                                        <th align="left" style="text-align: center; white-space: normal;">Sexta-feira</th>
                                        <th align="left" style="text-align: center;"><button type="button" onclick="membroAddTr()" class="btn">+</button></th>
                                    </tr>
                                </thead>
                                <tbody>	 
									<script type="text/javascript"> 
										$(document).ready(function() { 
											<?php if (isset($this->post_var['id'])) : ?>
											<?php foreach (Aeelistamaterias::getAeelistamateriasHelper(array('idaee' => $this->post_var['id'])) as $c=>$row) : ?>
											<?php 
												$row['var_db'] = true;
											?>
											membros = '<?php echo str_replace("'", "\'", json_encode($row)) ?>';

											membroAddTr(membros);
											<?php endforeach;?>

											<?php endif; ?>
										});
									</script>
                                </tbody>

                                <tfoot>
                                    <tr id="modelo-apm" style="display:none;">
                                        <td align="center" style="text-align:center !Important;">
                                            <input type="hidden" name="_ids" value="" />
                                            <input name="segundafeira[]" type="text" class="form-control">
                                        </td>

                                        <td align="center" style="text-align:center !Important;">
                                            <input name="tercafeira[]" type="text" class="form-control" >
										</td>
										
                                        <td align="center" style="text-align:center !Important;">
                                            <input name="quartafeira[]" type="text" class="form-control" >
                                        </td>

                                        <td align="center" style="text-align:center !Important;">
                                            <input name="quintafeira[]" type="text" class="form-control">
                                        </td>

                                        <td align="center" style="text-align:center !Important;">
                                            <input name="sextafeira[]" type="text" class="form-control" >
                                        </td>

                                        <td style="text-align: center !important; padding:8px 0 8px 22px;" align="center">
                                            <a href="javascript:;" onclick="membrosExcluirFromTable(this)">
                                                <span><i class="icon-remove"></i></span>
                                            </a>
                                        </td>
                                    </tr>
                                </tfoot>

                            </table>
                        </div>
					 
				</div>
 
					
			<?php  /*  
				<div class="control-group">
					<label class="control-label">aulas </label>
					<div class="controls"><input maxlength="500" placeholder="aulas" name="aulas" value="<?php echo (isset($this->post_var['aulas'])) ? $this->post_var['aulas'] : '' ?>" type="text"  class="span3" /></div>
				</div>
				<div class="control-group">
					<label class="control-label">Qual Deficiência o Aluno Possui? <span class="required">*</span></label>
					<div class="controls">
		                <select name="iddeficiencia" data-placeholder="Qual Deficiência o Aluno Possui?" class="select">
							<option value="">Selecione...</option>
							<?php foreach (Educacaoespecialdeficiencias::getEducacaoespecialdeficienciasHelper(array('status'=>'Ativo')) as $k=>$v) : ?>
							<option value="<?php echo $v['id'] ?>"><?php echo $v['deficiencia'] ?></option>
							<?php endforeach;?>
						</select>
						
					</div>
				</div>
   		*/ ?>
			 	<?php if($this->editar OR !$this->visualizar) : ?>
				 <div class="control-group">
					 <label class="control-label">Qual Deficiência o Aluno Possui? <span class="required">*</span></label>
					 <div class="controls">
						 <div><input class="checkopcoes" value="Mobilidade" name="tipodeficiencia[]" type="checkbox"> Mobilidade<br></div>
						 <div><input class="checkopcoes" value="Autista" name="tipodeficiencia[]" type="checkbox"> Autistaa<br></div>
						 <div><input class="checkopcoes" value="Cadeirante" name="tipodeficiencia[]" type="checkbox"> Cadeirante<br></div> 
						</div>
					</div>
				<?php else : ?>
					<div class="control-group">
						<label class="control-label">Qual Deficiência o Aluno Possui? <span class="required">*</span></label>
						<div class="controls">
							<?php echo '<b>' . $this->post_var['tipodeficiencia'] . '</b>' ; ?>
						</div>
					</div>
				<?php endif; ?>

				<div class="control-group">
					<label class="control-label">Hipótese de escrita <span class="required">*</span></label>
					<div class="controls">
						<select name="hipotesedeescrita" data-placeholder="Hipótese de escrita" class="select">
							<option value="">Selecione...</option>
							<option value="Pré Silábica">Pré Silábica</option>
							<option value="Silábica sem valor sonoro convencional">Silábica sem valor sonoro convencional  </option>
							<option value="Silábica com valor sonoro convencional">Silábica com valor sonoro convencional</option>
							<option value="Silábico-alfabética">Silábico-alfabética</option>
							<option value="Alfabética">Alfabética</option>
						</select> 
					</div>
				</div>

				<div class="control-group">
					<label class="control-label">CID <span class="required">*</span></label>
					<div class="controls"><input maxlength="500" placeholder="CID" name="cid" value="<?php echo (isset($this->post_var['cid'])) ? $this->post_var['cid'] : '' ?>" type="text"  class="span3" /></div>
				</div> 


				<div class="control-group">
					<label class="control-label">Precisa de apoio humano para realizar higiene, alimentação, locomoção? <span class="required">*</span></label>
					<div class="controls">
						<select name="apoio" data-placeholder="Precisa de apoio humano para realizar higiene, alimentação, locomoção?" class="select">
							<option value="">Selecione...</option>
							<option value="sim">sim</option><option value="nao">nao</option>
						</select>
						
					</div>
				</div>


				<div class="control-group">
					<label class="control-label">Quais as necessidades específicas desta criança? <span class="required">*</span></label>
					<div class="controls">
						<select name="necessidades" data-placeholder="Quais as necessidades específicas desta criança?" class="select">
							<option value="">Selecione...</option>
							<option value="higiene">higiene</option><option value="locomoção">locomoção</option><option value="alimentação">alimentação</option><option value="outros">outros</option>
						</select>
						
					</div>
				</div>


				<div class="control-group">
					<label class="control-label">Descrição </label>
					<div class="controls"><textarea class="span12" name="descricoes" cols="5" rows="5"><?php echo (isset($this->post_var)) ? $this->post_var["descricoes"] : ''; ?></textarea></div>
				</div>

			<?php /*
// transporte acessivel			
				<div class="control-group">
					<label class="control-label">Necessita de Transporte acessível para o AEE? <span class="required">*</span></label>
					<div class="controls">
						<select name="transporte" onchange="setOpcoes(this, 0)" data-placeholder="Necessita de Transporte acessível para o AEE?" class="select">
							<option value="">Selecione...</option>
							<option value="sim">sim</option><option value="nao">nao</option>
						</select>
						
					</div>
				</div>
		
				<?php if($this->editar OR !$this->visualizar) : ?>
					<div class="box-opt-transporte" style="display:none">
					
						<div class="control-group">
							<label class="control-label">Qual das opções corresponde ao transporte<span class="required">*</span></label>
							<div class="controls">
								<div><input class="checkopcoes" value="Cadeirante ou deficiente físico" name="transporteopcoes[]" type="checkbox"> Cadeirante ou deficiente físico<br></div>
								<div><input class="checkopcoes" value="Autista com quadro associado" name="transporteopcoes[]" type="checkbox"> Autista com quadro associadoa<br></div>
								<div><input class="checkopcoes" value="Deficiente intelectual grave" name="transporteopcoes[]" type="checkbox"> Deficiente intelectual grave<br></div>
								<div><input class="checkopcoes" value="Surdo mudo com dificuldades de comunicação" name="transporteopcoes[]" type="checkbox"> Surdo, mudo, com dificuldades de comunicação<br></div>
								<div><input class="checkopcoes" value="Aluno com deficiência múltipla" name="transporteopcoes[]" type="checkbox"> Aluno com deficiência múltipla<br></div>
								<div><input class="checkopcoes" value="Cego ou com visão subnormal" name="transporteopcoes[]" type="checkbox"> Cego ou com visão subnormal</div>
								
							</div>
						</div>
					</div>
				<?php else : ?>
					<div class="control-group">
						<label class="control-label">Qual das opções corresponde ao transporte </label>
						<div class="controls">
							<?php echo '<b>' . $this->post_var['transporteopcoes'] . '</b>' ; ?>
						</div>
					</div>
				<?php endif; ?>
//transporte acessivel  

				<div class="control-group">
					<label class="control-label">Observações </label>
					<div class="controls"><textarea class="span12" name="observacoes" cols="5" rows="5"><?php echo (isset($this->post_var)) ? $this->post_var["observacoes"] : ''; ?></textarea></div>
				</div>
			 

				<div class="control-group">
					<label class="control-label">Nome do Responsável <span class="required">*</span></label>
					<div class="controls"><input maxlength="500" placeholder="Nome do Responsável" name="responsavel" value="<?php echo (isset($this->post_var['responsavel'])) ? $this->post_var['responsavel'] : '' ?>" type="text"  class="span3" /></div>
				</div>
			

				<div class="control-group">
					<label class="control-label">Data</label>
					<div class="controls"><input placeholder="Data" name="data" value="<?php echo (isset($this->post_var['data'])) ? Mn_Util::formPostVarData($this->post_var['data']) : '' ?>" type="text"  class="span3" /></div>
				</div>
			*/ ?> 

				<div class="control-group">
					<label class="control-label">Medicação </label>
					<div class="controls"> 
						 <input type="radio" onclick="medicacaosimnao('sim')" name="medicacao" value="Sim" <?php echo ($this->post_var['medicacao'] == 'Sim') ? 'checked' : ''; ?>/> Sim  <br />
						<input type="radio" onclick="medicacaosimnao('nao')" name="medicacao" value="Não" <?php echo ($this->post_var['medicacao'] == 'Não') ? 'checked' : ''; ?>/>  Não
					</div>
				</div>

				<div class="control-group medicacaosim">
					<label class="control-label">Qual medicação?</label>
					<div class="controls"><textarea class="span12"  id="medicacaosim" name="qualmedicacao" cols="5" rows="5"><?php echo (isset($this->post_var)) ? $this->post_var["qualmedicacao"] : ''; ?></textarea></div>
				</div>

				<div class="control-group medicacaosim">
					<label class="control-label">Horario da Medicacao <span class="required">*</span></label>
					<div class="controls"><input placeholder="Horario da Medicacao" name="horarioMedicacao" value="<?php echo (isset($this->post_var['horarioMedicacao'])) ? $this->post_var['horarioMedicacao'] : '' ?>" type="text"  class="span3" /></div>
				</div>

				<div class="control-group">
					<label class="control-label">Possui atendimento especializado? </label>
					<div class="controls"> 
						 <input type="radio" id="atend<?= $this->post_var['atendimentoespecializadosimnao'] ?>" onclick="atendimentoespecializadosimnaoclick('sim')" name="atendimentoespecializadosimnao" value="Sim" <?php echo ($this->post_var['atendimentoespecializadosimnao'] == 'Sim') ? 'checked' : ''; ?>/> Sim  <br />
						<input type="radio" onclick="atendimentoespecializadosimnaoclick('nao')" name="atendimentoespecializadosimnao" value="Nao" <?php echo ($this->post_var['atendimentoespecializadosimnao'] == 'Nao') ? 'checked' : ''; ?>/>  Não
					</div>
				</div>

				<?php if($this->editar OR !$this->visualizar) : ?>
					<div class="box-opt-atendimento-especializado" style="display:none"> 
						<div class="control-group">
							<label class="control-label">Qual das opções corresponde ao atendimento? <span class="required">*</span></label>
							<div class="controls">
								<div><input class="checkopcoes" value="To" name="atendimentoespecializado[]" type="checkbox"> To<br></div>
								<div><input class="checkopcoes" value="Fono" name="atendimentoespecializado[]" type="checkbox"> Fono<br></div>
								<div><input class="checkopcoes" value="Psico" name="atendimentoespecializado[]" type="checkbox"> Físico<br></div>
								<div><input class="checkopcoes" value="Psicopedagogo" name="atendimentoespecializado[]" type="checkbox"> Psicopedagogo<br></div>
								<div><input class="checkopcoes" value="Neurologista" name="atendimentoespecializado[]" type="checkbox"> Neurologista<br></div>
								<div><input class="checkopcoes" value="Psiquiatra" name="atendimentoespecializado[]" type="checkbox"> Psiquiatra</div>
								
							</div>
						</div>
					</div>
				<?php else : ?>
					<div class="control-group">
						<label class="control-label">Qual das opções corresponde ao atendimento?  </label>
						<div class="controls">
							<?php echo '<b>' . $this->post_var['atendimentoespecializado'] . '</b>' ; ?>
						</div>
					</div>
				<?php endif; ?>

				<div class="control-group box-opt-atendimento-especializado" style="display:none">
					<label class="control-label">Observação </label>
					<div class="controls"><textarea class="span12"  name="atendimentoespecializadoObs" cols="5" rows="5"><?php echo (isset($this->post_var)) ? $this->post_var["atendimentoespecializadoObs"] : ''; ?></textarea></div>
				</div>


				<div class="control-group">
					<label class="control-label">Possui Laudo? </label>
					<div class="controls"> 
						 <input type="radio" onclick="possuilaudoclick('sim')" name="laudo" value="sim" <?php echo ($this->post_var['laudo'] == 'sim') ? 'checked' : ''; ?>/> Sim  <br />
						<input type="radio" onclick="possuilaudoclick('nao')" name="laudo" value="nao" <?php echo ($this->post_var['laudo'] == 'nao') ? 'checked' : ''; ?>/>  Não
					</div>
				</div> 
 
				<div class="box-laudosim" style="display:none">
					<div class="control-group">
						<label class="control-label">Anexar Laudo </label>
						<div class="controls">
							<?php if ((isset($this->post_var['idarquivo'])) && ((int)$this->post_var['idarquivo']>0)) : ?>
								<?php echo $this->getArquivo($this->post_var['idarquivo']) ?>    <input type="hidden" id="temlaudo" value="<?php echo ( $this->getArquivo($this->post_var['idarquivo'])) ? 'temlaudo' : ''; ?>" >
							
								<?php if (!$this->visualizar) : ?>
									<div class="checkbox block">
										<label><input type="checkbox" name="excluir_idarquivo" value="excluir" /> Desejo excluir o arquivo</label>
									</div>
								<?php endif; ?>
							<?php endif; ?>
							
							<input placeholder="Anexar Laudo" name="idarquivo" type="file"   />
						</div>
					</div>	 
				</div>

				<div class="control-group">
					<label class="control-label">Anexar Termo de compromisso </label>
					<div class="controls">
						<?php if ((isset($this->post_var['idarquivotermocompromisso'])) && ((int)$this->post_var['idarquivotermocompromisso']>0)) : ?>
							<?php echo $this->getArquivo($this->post_var['idarquivotermocompromisso']) ?>    <input type="hidden" id="temlaudo" value="<?php echo ( $this->getArquivo($this->post_var['idarquivotermocompromisso'])) ? 'temlaudo' : ''; ?>" >
						
							<?php if (!$this->visualizar) : ?>
								<div class="checkbox block">
									<label><input type="checkbox" name="excluir_idarquivotermocompromisso" value="excluir" /> Desejo excluir o arquivo</label>
								</div>
							<?php endif; ?>
						<?php endif; ?>
						
						<input placeholder="Anexar Laudo" name="idarquivotermocompromisso" type="file"   />
					</div>
				</div>	

				<div class="control-group">
					<label class="control-label">Anexar termo de autorização de passeio e uso de imagem </label>
					<div class="controls">
						<?php if ((isset($this->post_var['idarquivotermoautorizacaopasseio'])) && ((int)$this->post_var['idarquivotermoautorizacaopasseio']>0)) : ?>
							<?php echo $this->getArquivo($this->post_var['idarquivotermoautorizacaopasseio']) ?>    <input type="hidden" id="temlaudo" value="<?php echo ( $this->getArquivo($this->post_var['idarquivotermoautorizacaopasseio'])) ? 'temlaudo' : ''; ?>" >
						
							<?php if (!$this->visualizar) : ?>
								<div class="checkbox block">
									<label><input type="checkbox" name="excluir_idarquivotermoautorizacaopasseio" value="excluir" /> Desejo excluir o arquivo</label>
								</div>
							<?php endif; ?>
						<?php endif; ?>
						
						<input placeholder="Anexar Laudo" name="idarquivotermoautorizacaopasseio" type="file"   />
					</div>
				</div>	

				<div class="control-group">
					<label class="control-label">Anexar Termo de desistência</label>
					<div class="controls">
						<?php if ((isset($this->post_var['idarquivotermodesistencia'])) && ((int)$this->post_var['idarquivotermodesistencia']>0)) : ?>
							<?php echo $this->getArquivo($this->post_var['idarquivotermodesistencia']) ?>    <input type="hidden" id="temlaudo" value="<?php echo ( $this->getArquivo($this->post_var['idarquivotermodesistencia'])) ? 'temlaudo' : ''; ?>" >
						
							<?php if (!$this->visualizar) : ?>
								<div class="checkbox block">
									<label><input type="checkbox" name="excluir_idarquivotermodesistencia" value="excluir" /> Desejo excluir o arquivo</label>
								</div>
							<?php endif; ?>
						<?php endif; ?>
						
						<input placeholder="Anexar Laudo" name="idarquivotermodesistencia" type="file"   />
					</div>
				</div>	

				<div class="control-group">
					<label class="control-label">Status <span class="required">*</span></label>
					<div class="controls">
						<select name="status1" data-placeholder="Status" class="select">
							<option value="">Selecione...</option>
							<option value="Ativo">Ativo</option><option value="Bloqueado">Bloqueado</option>
						</select>
						
					</div>
				</div>

						    
						    
						    </div>
						    
			                <div class="form-actions align-right">
			                	<?php if ((isset($this->visualizar)) && ($this->visualizar)) : ?>
			                		<button onclick="window.history.back()" class="btn btn-danger cancelar" type="button">Voltar</button>
			                	<?php else : ?>
				                	<button class="btn btn-primary enviar" type="submit">Salvar</button>
				                	<button onclick="window.history.back()" class="btn btn-danger cancelar" type="button">Cancelar</button>
			                	<?php endif; ?>
			                </div>
						</div>
						<!-- /general form elements -->

					</fieldset> 

				</form>
				<!-- /basic inputs -->

		    </div>
		    <!-- /content wrapper -->

		</div>
		<!-- content -->
				
<script type="text/javascript" src="<?php echo $this->baseUrl('/public/scripts/admin/aeematriculas_form.js') ?>"></script>
<script type="text/javascript">
	var form_values = {};
	
	<?php if (isset($this->post_var)) :  ?>
		form_values.idaluno = '<?php echo (isset($this->post_var['idaluno'])) ? $this->post_var['idaluno'] : '' ?>';

form_values.idescola = '<?php echo (isset($this->post_var['idescola'])) ? $this->post_var['idescola'] : '' ?>';

form_values.idperiodo = '<?php echo (isset($this->post_var['idperiodo'])) ? $this->post_var['idperiodo'] : '' ?>';

form_values.idauxiliar = '<?php echo (isset($this->post_var['idauxiliar'])) ? $this->post_var['idauxiliar'] : '' ?>';

form_values.idprofessor = '<?php echo (isset($this->post_var['idprofessor'])) ? $this->post_var['idprofessor'] : '' ?>';

form_values.idprofessor2 = '<?php echo (isset($this->post_var['idprofessor2'])) ? $this->post_var['idprofessor2'] : '' ?>';

form_values.iddeficiencia = '<?php echo (isset($this->post_var['iddeficiencia'])) ? $this->post_var['iddeficiencia'] : '' ?>';

form_values.laudo = '<?php echo (isset($this->post_var['laudo'])) ? $this->post_var['laudo'] : '' ?>';

form_values.apoio = '<?php echo (isset($this->post_var['apoio'])) ? $this->post_var['apoio'] : '' ?>';

form_values.necessidades = '<?php echo (isset($this->post_var['necessidades'])) ? $this->post_var['necessidades'] : '' ?>';

form_values.transporte = '<?php echo (isset($this->post_var['transporte'])) ? $this->post_var['transporte'] : '' ?>';

form_values.hipotesedeescrita = '<?php echo (isset($this->post_var['hipotesedeescrita'])) ? $this->post_var['hipotesedeescrita'] : '' ?>';

form_values.transporteopcoes = '<?php echo $this->post_var['transporteopcoes'] ?>';

form_values.tipodeficiencia = '<?php echo $this->post_var['tipodeficiencia'] ?>';

form_values.atendimentoespecializado = '<?php echo $this->post_var['atendimentoespecializado'] ?>';

form_values.atendimentoespecializadosimnao = '<?php echo $this->post_var['atendimentoespecializadosimnao'] ?>';

form_values.status1 = '<?php echo (isset($this->post_var['status1'])) ? $this->post_var['status1'] : $this->post_var['status'] ?>';


	<?php endif; ?>

	visualizar = <?php echo  ((isset($this->visualizar)) && ($this->visualizar))  ? 'true' : 'false' ?>;
</script>
