		<!-- Content -->
		<div id="content">

		    <!-- Content wrapper -->
		    <div class="wrapper">

			    <!-- Breadcrumbs line -->
			    <div class="crumbs">
			    	<?php echo $this->render('/helpers/breadcrumb.phtml') ?>
			    </div>
			    <!-- /breadcrumbs line -->

			    <!-- Page header -->
			    <div class="page-header">
			    	<div class="page-title">
				    	<h5>Formulário de notas</h5>
				    	<span>Verifique os campos e preencha com os dados</span>
			    	</div>
			    </div>
			    <!-- /page header -->

			    <?php if (isset($this->crudMessage)) : ?>
					<div class="alert alert-success">
	                	<button data-dismiss="alert" class="close" type="button">×</button>
	                    <strong>Operação realizada com sucesso!</strong>
		    			<span><br /><?php echo $this->crudMessage ?></span>
	                </div>			    
			    <?php endif; ?>

				<form id="form" name="form" action="" method="post" class="form-horizontal" enctype="multipart/form-data"> 
					<input type="hidden" value="<?php echo (isset($this->post_var)) ? $this->post_var["id"] : ''; ?>" name="id" id="id" />

					<fieldset>
						<!-- General form elements -->
						<div class="widget row-fluid">
						    <div class="navbar">
						        <div class="navbar-inner">
						            <h6>Digite as informações do formulário</h6>
						        </div>
						    </div>

						    <div class="well">
								<?php if (isset($this->erros)) : ?>
									<div class="alert alert-error margin">
				                        <button data-dismiss="alert" class="close" type="button">×</button>
				                        <strong>Há erros no formulário!</strong>
					    				<?php foreach ($this->erros as $k=>$v) : ?>
					    					<span><br />- <?php echo $v ?></span>
					    				<?php endforeach;?>			                        
				                    </div>
			                    <?php endif; ?>						    
				<?php $idescola = (int)Usuarios::getUsuario('idescola') ?>    
				<?php if((Usuarios::getUsuario('professor')=="Sim") && ($idescola>0)): 
						$idprofessor = (int)Usuarios::getUsuario('idfuncionario'); ?>
				<div class="control-group">
					<label class="control-label">Professor <span class="required">*</span></label>
					<div class="controls visualizar">
						<input type="hidden" name="idprofessor" value="<?php echo $idprofessor ?>" />
		                <?php echo Usuarios::getUsuario('nomerazao') ?> <br />RGF: <?php echo Usuarios::getUsuario('rgf') ?>
					</div>
				</div>

				<div class="control-group">
					<label class="control-label">Matéria <span class="required">*</span></label>
					<div class="controls">
		                <select name="idmateria" data-placeholder="Matéria" class="select" onchange="setNotas(this, <?php echo $this->post_var['id'] ?>)">
								<?php if (sizeof(Quadrohorarios::getQuadrohorariosHelper(array('idprofessor'=>$idprofessor, 'idescolavinculo'=>$this->post_var['id'])))==0) : ?>
									<option value="">Selecione...</option>
									<option value="">Nenhuma matéria foi encontrada para esse professor</option>
								<?php else : ?>
									<option value="">Selecione...</option>
									<?php foreach (Quadrohorarios::getQuadrohorariosHelper(array('idprofessor'=>$idprofessor, 'idescolavinculo'=>$this->post_var['id'])) as $row) : ?>
									<option value="<?php echo $row['idmateria'] ?>">
										<?php //echo $row['materia'] ?>
										<?php
											$___rows = Controlealunosmaterias::getControlealunosmateriasHelper(array('id'=>$row['idmateria']));
											$___row = (sizeof($___rows)>0) ? 	$___rows[0] : false;	
											
											echo ($___row) ? $this->formatTextoBranco($___row['materia']) : '--';		
										?>
									</option>
									<?php endforeach; ?>
								<?php endif; ?>	
						</select>
						
					</div>
				</div>
				<?php else: ?>
				<div class="control-group">
					<label class="control-label">Professor <span class="required">*</span></label>
					<div class="controls">
		                <select name="idprofessor" data-placeholder="Professor" class="select" onchange="setMaterias(this, <?php echo $this->post_var['id'] ?>, 0)">
							<option value="">Selecione...</option>
							<?php foreach ($this->professores as $k=>$v) : ?>
							<option value="<?php echo $v['id'] ?>"><?php echo $v['nome'] ?></option>
							<?php endforeach;?>
						</select>
						
					</div>
				</div>

				<div class="control-group">
					<label class="control-label">Matéria <span class="required">*</span></label>
					<div class="controls">
		                <select name="idmateria" data-placeholder="Matéria" class="select" onchange="setNotas(this, <?php echo $this->post_var['id'] ?>)">
							<option value="">Selecione...</option>
						</select>
						
					</div>
				</div>
				<?php endif; ?>




				<?php 
					$bimestre = "Bimestre";
					if(isset($this->configuracoesnotas['periodos'])){
						$bimestre = $this->configuracoesnotas['periodos'];
					}
				?>
				<div class="control-group">
					<label class="control-label">Período <span class="required">*</span></label>
					<div class="controls">
						<?php if($bimestre=="Bimestre"): ?>
		                <select name="bimestre" data-placeholder="Bimestre" class="select" onchange="setNotasBimestre(this, <?php echo $this->post_var['id'] ?>)">
		                	<?php for($ib=1; $ib<=4; $ib++):?>
							<option value="<?php echo $ib ?>"><?php echo $ib ?> Bimestre</option>
							<?php endfor?>
						</select>
						<?php else: ?>
		                <select name="bimestre" data-placeholder="Bimestre" class="select" onchange="setNotasBimestre(this, <?php echo $this->post_var['id'] ?>)">
		                	<?php for($ib=1; $ib<=3; $ib++):?>
							<option value="<?php echo $ib ?>"><?php echo $ib ?> Trimestre</option>
							<?php endfor?>
						</select>
						<?php endif; ?>
					</div>
				</div>


				<div class="control-group">
					<label class="control-label">Série <span class="required">*</span></label>
					<div class="controls">
						<b><?php echo $this->post_var['serie']?> <?php echo $this->post_var['turma']?></b>
					</div>
				</div>

				<div class="control-group">
					<div class="controls1">
						<div style="width:100%; text-align:center;">
						<input type="hidden" value="" name="validanotas" id="validanotas" class="validanotas" />
						<div>
						<table class="table table-primary mb30" style="width:100%;" border="1" bordercolor="#d5d5d5">
							<thead>
								<tr>
									<?php 
										$quantidadenotas = 3;
										if(isset($this->configuracoesnotas['quantidadenotas'])){
											$quantidadenotas = $this->configuracoesnotas['quantidadenotas'];
										}
									?>

									<?php 
										$quantidadetrabalhos = 3;
										if(isset($this->configuracoesnotas['quantidadetrabalhos'])){
											$quantidadetrabalhos = $this->configuracoesnotas['quantidadetrabalhos'];
										}
									?>
									<th width=""  style="">Aluno</th>
									<?php for($i=1; $i<=$quantidadenotas; $i++): ?>
									<th width="" style="">Nota <?php echo $i ?></th>
									<?php endfor; ?>
									<?php for($i=1; $i<=$quantidadetrabalhos; $i++): ?>
									<th width="" style="">Trabalho <?php echo $i ?></th>
									<?php endfor; ?>
									
									<?php if(isset($this->configuracoesnotas['percentualparticipacao']) && $this->configuracoesnotas['percentualparticipacao'] > 0): ?>
									<th>Participação</th>
									<?php endif; ?>
									<th>Faltas</th>

									<th>Média</th>
								</tr>
							</thead>
							<tbody id="box-notas">
								<?php //echo $this->render('boletinsprofessores/setnotas.phtml') ?>
							</tbody>
						</table>
						
					</div>
				</div>

				<div class="control-group">
					<label class="control-label">Status <span class="required">*</span></label>
					<div class="controls">
						<select name="status1" data-placeholder="Status" class="select">
							<option value="">Selecione...</option>
							<option value="Ativo">Ativo</option><option value="Bloqueado">Bloqueado</option>
						</select>
						
					</div>
				</div>

						    
						    
						    </div>
						    
			                <div class="form-actions align-right">
			                		<button onclick="window.history.back()" class="btn btn-danger cancelar" type="button">Voltar</button>
			                </div>
						</div>
						<!-- /general form elements -->

					</fieldset> 

				</form>
				<!-- /basic inputs -->

		    </div>
		    <!-- /content wrapper -->

		</div>
		<!-- content -->
				
<script type="text/javascript" src="<?php echo $this->baseUrl('/public/scripts/admin/escolasalunosnotas_form.js') ?>"></script>
<script type="text/javascript">
	var form_values = {};
	
	<?php if (isset($this->post_var)) :  ?>
		form_values.idescola = '<?php echo (isset($this->post_var['idescola'])) ? $this->post_var['idescola'] : '' ?>';

form_values.idescolavinculo = '<?php echo (isset($this->post_var['idescolavinculo'])) ? $this->post_var['idescolavinculo'] : '' ?>';

form_values.idmateria = '<?php echo (isset($this->post_var['idmateria'])) ? $this->post_var['idmateria'] : '' ?>';

form_values.idprofessor = '<?php echo (isset($this->post_var['idprofessor'])) ? $this->post_var['idprofessor'] : '' ?>';

form_values.idaluno = '<?php echo (isset($this->post_var['idaluno'])) ? $this->post_var['idaluno'] : '' ?>';

form_values.status1 = '<?php echo (isset($this->post_var['status1'])) ? $this->post_var['status1'] : $this->post_var['status'] ?>';


	<?php endif; ?>
	<?php /*if(Escolasusuarios::getUsuario('professor')!="Sim"): ?>
		setMaterias($("select[name=idprofessor]").val(form_values.idprofessor), idescolavinculo, <?php echo (isset($this->post_var['idmateria'])) ? $this->post_var['idmateria'] : '' ?>)
	<?php endif;*/ ?>
	visualizar = <?php echo  ((isset($this->visualizar)) && ($this->visualizar))  ? 'true' : 'false' ?>;
</script>
