		<!-- Content -->
		<div id="content">

		    <!-- Content wrapper -->
		    <div class="wrapper">

			    <!-- Breadcrumbs line -->
			    <div class="crumbs">
			    	<?php echo $this->render('/helpers/breadcrumb.phtml') ?>
			    </div>
			    <!-- /breadcrumbs line -->

			    <!-- Page header -->
			    <div class="page-header">
			    	<div class="page-title">
				    	<h5>Boletins cadastrados no sistema</h5>
				    	<span>Visualize os boletins dos alunos cadastrados no sistema</span>
			    	</div>
			    	
			    </div>
			    <!-- /page header -->
			    
			    <?php if (isset($this->crudMessage)) : ?>
				<div class="alert alert-success">
                	<button data-dismiss="alert" class="close" type="button">×</button>
                    <strong>Operação realizada com sucesso!</strong>
	    			<span><br /><?php echo $this->crudMessage ?></span>
                </div>			    
			    <?php endif; ?>




	                        	                        
                <!-- Table with footer -->
                <div class="widget">
                	<form action="#" class="form-horizontal" method="post">
                		<input type="hidden" value="<?php echo (isset($this->post_var['sorting'])) ? $this->post_var['sorting'] : '' ?>" name="sorting" />
	                	<div class="navbar">
	                		<div class="navbar-inner">
	                			<h6>Visualizando registros</h6>
	                			
	                		</div>
	                	</div>
	                    <div class="table-overflow">
	                        <table class="table table-content">
	                            <thead>
	                                <tr>
			                			<th width="20">&nbsp;</th>   
			                			<th width="200">Nome</th>
			                			<th width="200">Informações</th>     			
			                			<th>Escola</th>
			                			<th width="160">Possui Cálculo de IMC ?</th>
			                			<th width="120">Status</th>
			                			<th style="width:74px">Ações</th>
	                                </tr>
	                                <tr>
	                                    <th></th>

										<th></th>

										<th></th>
										<th></th>
										<th>
												<select name="nutricao" placeholder="Todos" class="select">
													<option value="">Todos</option>
													<option value="Sim">Sim</option><option value="Não">Não</option>
												</select>
										</th>
										<th>
											<div>
												<select name="status" placeholder="Todos" class="select">
													<option value="">Todos</option>
													<option value="Ativo">Ativo</option><option value="Bloqueado">Bloqueado</option>
												</select>
											</div>
										</th>
                   

	                                    <th><button class="btn btn-mini btn-primary" type="submit">Pesquisar</button></th>
	                                </tr> 
	                                                                
	                            </thead>
	                            <tbody>
	                            	<?php if (sizeof($this->rows)==0) : ?>
	                                <tr>
	                                    <td colspan="7">Nenhum registro foi encontrado!</td>
	                                </tr>
	                            	
	                            	<?php else : ?>
	                            	<?php foreach ($this->rows as $i=>$row) : ?>
	                                <tr>
		                				<td>
		                					<?php $i+1 ?>
		                					<input type="hidden" name=id[] value="<?php echo $row['id'] ?>" />
	                					</td>
		                				<td><?php echo $row['nomerazao'] . ' ' . $row['sobrenomefantasia'] ?></td>
		                				<td>
											<?php
												$serie = "--";
												$___rows = Escolasseries::getEscolasseriesHelper(array('id'=>$row['idserie']));
												$___row = (sizeof($___rows)>0) ? 	$___rows[0] : false;	
												
												$serie = ($___row) ? $this->formatTextoBranco($___row['serie']) : '--';		
											?>

											<?php
												$periodo = "--";
												$___rows = Escolasperiodos::getEscolasperiodosHelper(array('id'=>$row['idperiodo']));
												$___row = (sizeof($___rows)>0) ? 	$___rows[0] : false;	
												
												$periodo = ($___row) ? $this->formatTextoBranco($___row['periodo']) : '--';		
											?>
		                					<?php //$serie = Escolasseries::getSerieByIdHelper($row['idserie']) ?>
		                					<?php //$periodo = Escolasperiodos::getPeriodoByIdHelper($row['idperiodo']) ?>
	                						<b>Série:</b> <?php echo $serie ?> <br/>
	                						<b>Período:</b> <?php echo $periodo ?> <br/>
	                						<b>Classificação:</b> <?php echo ((int)$row['idclassificacao'] > 0) ? Escolasalunosclassificacoes::getClassificacaoNomeByIdHelper($row['idclassificacao']) : '--'; ?> <br/>
	                					</td>
		                				<td>
											<?php 
												$escola = Escolas::getEscolaByIdHelper($row['idescola']);
												echo $this->cortaPalavra(200, $escola['escola']) 
											?>
										</td>
		                				<td>
											<?php echo $row['nutricao'] ?>
										</td>
		                				<td>
		                					<?php if (Mn_Util::isAccess($this->getController(), 'editar')) : ?>
		                					<a onclick="javascript:statusChange(<?php echo $row["id"]?>, this);" href="javascript:;"><?php echo $row['status'] ?></a>
		                					<?php else : ?>
		                					<?php echo $row['status'] ?>
		                					<?php endif; ?>
		                				</td>

			                				

	                                    <td>
	                                        <ul class="table-controls">
	                                            <li><a title="" class="btn tip" href="<?php echo $this->baseUrl() ?>/admin/<?php echo $this->getController() ?>/visualizar/id/<?php echo $row['id'] ?>" data-original-title="Visualizar"><i class="icon-eye-open"></i></a> </li>
	                                            
	                                        </ul>
	                                    </td>
	                                </tr>
	                            	<?php endforeach;?>
	                            	
	                            	
	                            	
	                            	
	                            	<?php endif; ?>
	
	                            </tbody>
	                        </table>
	                    </div>
	                    <?php echo $this->render('/helpers/paginator.phtml') ?>
                    
                    </form>

                </div>
                <!-- /table with footer -->
	                        


		    </div>
		    <!-- /content wrapper -->

		</div>
		<!-- content -->
		

<?php /*?>

<div class="contentpanel">

	<div class="row">
	
        <div class="panel-body">
        

			<div class="panel panel-default">
				<div class="panel-heading">
					<div class="panel-btns">
						<?php if ($this->isMinimize()) : ?>
						<a  href="javascript:;" class="minimize" onclick="setMinimize('sim')">−</a>
						<?php else : ?>
						<a href="javascript:;" class="minimize maximize" onclick="javascript:$('select').closest('div').find('.chosen-container').css('width', '100%');setMinimize('nao')">+</a>
						<?php endif; ?>
					</div>
					<h4 class="panel-title">Filtro</h4>
					<p>Use o formulário para filtrar de acordo com os critérios disponíveis</p>
				</div>        
				<div class="panel-body" style="display: <?php echo ($this->isMinimize()) ? 'block' : 'none' ?>;">
		        	<form id="form" name="form" method="post" class="form-horizontal form-bordered">
		        	
		        		<div class="form-group">
		        			<label class="col-sm-3 control-label">Palavra Chave</label>
		        			<div class="col-sm-6">
		        				<input name="chave" value="<?php echo (isset($this->post_var['chave'])) ? $this->post_var['chave'] : '' ?>" type="text" class="form-control" placeholder="">
							</div>
						</div>
						
						<div class="form-group">
                        	<label class="col-sm-3 control-label">Escola *</label>
                            <div class="col-sm-6">
	                            <select id="idescola" name="idescola" class="form-control" onchange="setDados(this, 0)">
			                        <option value="">Todos</option>
			                        <?php foreach ($this->escolas as $e=>$row): ?>
			                        <option value="<?php echo $row['id'] ?>"><?php echo $row['escola'] ?></option>
			                        <?php endforeach;?>
		                        </select>        				
                            </div>
                        </div>	
						
						<div class="form-group">
                        	<label class="col-sm-3 control-label">Classificação *</label>
                            <div class="col-sm-6">
	                            <select id="idclassificacao" name="idclassificacao" class="form-control">
			                        <option value="">Todos</option>
		                        </select>        				
                            </div>
                        </div>
                        
                        <div class="form-group">
                        	<label class="col-sm-3 control-label">Série *</label>
                            <div class="col-sm-6">
	                            <select id="idserie" name="idserie" class="form-control">
			                        <option value="">Todos</option>			                        
		                        </select>        				
                            </div>
                        </div>
                        
                        <div class="form-group">
                        	<label class="col-sm-3 control-label">Período *</label>
                            <div class="col-sm-6">
	                            <select id="idperiodo" name="idperiodo" class="form-control">
			                        <option value="">Todos</option>
		                        </select>        				
                            </div>
                        </div>
						
		        		<div class="form-group">
		        			<label class="col-sm-3 control-label">Status</label>
		        			<div class="col-sm-6">
		        				<select id="status1" name="status" class="form-control">
		        					<option value="">Todos</option>
		        					<option value="Ativo">Ativo</option>
		        					<option value="Bloqueado">Bloqueado</option>
								</select>        				
							</div>
						</div>				
		
						
						<div class="panel-footer">
							<div class="row">
								<div class="col-sm-6 col-sm-offset-3">
									<button class="btn btn-warning">Pesquisar</button>&nbsp;
								</div>
							</div>
						</div><!-- panel-footer -->				
						
					</form>              
              
              
            	</div>	
            </div>        
        
        
			<div class="panel-heading" style="position:relative;">
			
				<?php if (isset($this->crudMessage)) : ?>
				<div class="alert alert-success">
                	<button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                	<strong>Sucesso!</strong> <?php echo $this->crudMessage ?>.
              	</div>
              	<?php endif; ?>
			
				<table width="100%">
					<tr>
						<td width="50%"><h4 class="panel-title">Alunos cadastrados no sistema</h4></td>
						<?php if (Mn_Util::isAccess($this->getController(), 'adicionar')) : ?>
						<td width="50%" align="right"><a href="<?php echo $this->baseUrl() ?>/<?php echo $this->getController() ?>/adicionar" class="btn btn-primary">Adicionar novo Aluno</a></td>
						<?php endif; ?>
					</tr>
				</table>
				
				<br />
				
				<div class="table-responsive">
					
	                <table class="table table-primary mb30">
	                	<thead>
	                		<tr>
	                			<th width="20">&nbsp;</th>   
	                			<th width="200">Nome</th>
	                			<th width="200">Informações</th>     			
	                			<th>Escola</th>
	                			<th width="120">Status</th>
	                			<th style="width:74px">Ações</th>
	                		</tr>
	                	</thead>
	                	<tbody>
	                	   	<?php if (sizeof($this->rows)==0) : ?>
	                		<tr>
	                			<td colspan="6">Nenhum registro foi encontrado</td>
	                		</tr>
	                		<?php endif;?>
	                		<?php foreach ($this->rows as $i=>$row) : ?>
								<?php if (Mn_Util::isAccess($this->getController(), 'editar')) : ?>
								<tr class="line">
								<?php else : ?>
								<tr>
								<?php endif; ?>
	                				<td>
	                					<?php $i+1 ?>
	                					<input type="hidden" name=id[] value="<?php echo $row['id'] ?>" />
                					</td>
	                				<td><?php echo $row['nomerazao'] . ' ' . $row['sobrenomefantasia'] ?></td>
	                				<td>
	                					<?php $serie = Escolasseries::getSerieByIdHelper($row['idserie']) ?>
	                					<?php $periodo = Escolasperiodos::getPeriodoByIdHelper($row['idperiodo']) ?>
                						<b>Série:</b> <?php echo (isset($serie['serie'])) ? $serie['serie'] : '--'; ?> <br/>
                						<b>Período:</b> <?php echo (isset($periodo['periodo'])) ? $periodo['periodo'] : '--'; ?> <br/>
                						<b>Classificação:</b> <?php echo ((int)$row['idclassificacao'] > 0) ? Escolasalunosclassificacoes::getClassificacaoNomeByIdHelper($row['idclassificacao']) : '--'; ?> <br/>
                					</td>
	                				<td>
										<?php 
											$escola = Escolas::getEscolaByIdHelper($row['idescola']);
											echo $this->cortaPalavra(200, $escola['escola']) 
										?>
									</td>
	                				<td>
	                					<?php if (Mn_Util::isAccess($this->getController(), 'editar')) : ?>
	                					<a onclick="javascript:statusChange(<?php echo $row["id"]?>, this);" href="javascript:;"><?php echo $row['status'] ?></a>
	                					<?php else : ?>
	                					<?php echo $row['status'] ?>
	                					<?php endif; ?>
	                				</td>
	                				
	                				<td class="table-action">
	                					<?php if (Mn_Util::isAccess($this->getController(), 'editar')) : ?>
	                					<a href="<?php echo $this->baseUrl() ?>/<?php echo $this->getController() ?>/editar/id/<?php echo $row['id'] ?>"><i class="fa fa-pencil"></i></a>
	                					<?php endif;?>
	                					<?php if (Mn_Util::isAccess($this->getController(), 'excluir')) : ?>
	                					<a class="delete-row" href="javascript:confirmDelete('<?php echo $row['id']; ?>','registro');"><i class="fa fa-trash-o"></i></a>
	                					<?php endif; ?>
	                				</td>
	                			</tr>
	                		<?php endforeach;?> 
	                	</tbody>
	                </table>
	                <?php echo $this->render('/helpers/paginator.phtml') ?>
	            </div><!-- table-responsive -->				
				
			</div>        
        
            
        </div>

	</div>
        
</div>
<?php */?>
<script type="text/javascript" src="<?php echo $this->baseUrl('/public/scripts/admin/boletins_index.js') ?>"></script>
<script type="text/javascript">

	var form_values = {};
	<?php if (isset($this->post_var['status'])) :  ?>
	form_values.status = '<?php echo (isset($this->post_var['status'])) ? $this->post_var['status'] : '' ?>';
	<?php endif; ?>

	<?php if (isset($this->post_var['idescola'])) : ?>
	form_values.idescola = '<?php echo $this->post_var['idescola'] ?>';
	<?php endif; ?>   

	<?php if (isset($this->post_var['matricula'])) : ?>
	form_values.matricula = '<?php echo $this->post_var['matricula'] ?>';
	<?php endif; ?>	 

	<?php if (isset($this->post_var['idserie'])) : ?>
	form_values.idserie = '<?php echo $this->post_var['idserie'] ?>';
	<?php endif; ?>   

	<?php if (isset($this->post_var['idperiodo'])) : ?>
	form_values.idperiodo = '<?php echo $this->post_var['idperiodo'] ?>';
	<?php endif; ?>	 

	<?php if (isset($this->post_var['idclassificacao'])) : ?>
	form_values.idclassificacao = '<?php echo $this->post_var['idclassificacao'] ?>';
	<?php endif; ?>

	<?php if (isset($this->post_var['nutricao'])) : ?>
	form_values.nutricao = '<?php echo $this->post_var['nutricao'] ?>';
	<?php endif; ?>	
	
</script>