		<!-- Content -->
		<div id="content">

		    <!-- Content wrapper -->
		    <div class="wrapper">

			    <!-- Breadcrumbs line -->
			    <div class="crumbs">
			    	<?php echo $this->render('/helpers/breadcrumb.phtml') ?>
			    </div>
			    <!-- /breadcrumbs line -->

			    <!-- Page header -->
			    <div class="page-header">
			    	<div class="page-title">
				    	<h5>Formulário do calendário escolar</h5>
				    	<span>Verifique os campos e preencha com os dados</span>
			    	</div>
			    </div>
			    <!-- /page header -->

			    <?php if (isset($this->crudMessage)) : ?>
					<div class="alert alert-success">
	                	<button data-dismiss="alert" class="close" type="button">×</button>
	                    <strong>Operação realizada com sucesso!</strong>
		    			<span><br /><?php echo $this->crudMessage ?></span>
	                </div>			    
			    <?php endif; ?>

				<form id="form" name="form" action="" method="post" class="form-horizontal" enctype="multipart/form-data"> 
					<input type="hidden" value="<?php echo (isset($this->post_var)) ? $this->post_var["id"] : ''; ?>" name="id" id="id" />
					
					<fieldset>
						<!-- General form elements -->
						<div class="widget row-fluid">
						    <div class="navbar">
						        <div class="navbar-inner">
						            <h6>Digite as informações do formulário</h6>
						        </div>
						    </div>

						    <div class="well">
								<?php if (isset($this->erros)) : ?>
									<div class="alert alert-error margin">
				                        <button data-dismiss="alert" class="close" type="button">×</button>
				                        <strong>Há erros no formulário!</strong>
					    				<?php foreach ($this->erros as $k=>$v) : ?>
					    					<span><br />- <?php echo $v ?></span>
					    				<?php endforeach;?>			                        
				                    </div>
			                    <?php endif; ?>						    
						    

				<div class="control-group">
					<label class="control-label">Secretaria <span class="required">*</span></label>
					<div class="controls">
		                <select name="idsecretaria" data-placeholder="Secretaria" class="select">
							<option value="">Selecione...</option>
							<?php foreach (Secretarias::getSecretariasHelper(array('status'=>'Ativo')) as $k=>$v) : ?>
							<option value="<?php echo $v['id'] ?>"><?php echo $v['secretaria'] ?></option>
							<?php endforeach;?>
						</select>
						
					</div>
				</div>


				<div class="control-group">
					<label class="control-label">Ano <span class="required">*</span></label>
					<div class="controls">
						<select name="ano" data-placeholder="Ano" class="select">
							<option value="">Selecione...</option>
							<option value="2018">2018</option><option value="2017">2017</option><option value="2016">2016</option>
						</select>
						
					</div>
				</div>


				<div class="control-group">
					<div class="controls1">
	                        <table id="legenda" class="table table-content" border="0.1" style="border:1px solid #ccc">
	                        	<thead>
	                                	<?php 
	                                		$totalmaxcolunas = 10;
	                                		$countlinha = 0;
	                                		$totaltipo = Coordenacaocalendariostipos::getCoordenacaocalendariostiposHelper(array('status'=>'Ativo', 'total'=>true));
	                                		$total = ceil($totaltipo/$totalmaxcolunas);
	                                		//$queries = array(), $page = 0, $maxpage = 0
	                                		for($ii=0; $ii<$total; $ii++): 
	                                			$rows = Coordenacaocalendariostipos::getCoordenacaocalendariostiposHelper(array('status'=>'Ativo'), $ii, $totalmaxcolunas);
	                                			foreach ($rows as $ic => $rowtipo) :
	                                	?>			
		                                			<?php if($countlinha==0): ?>
					                                <tr>
				                                	<?php endif; 

	                                				$countlinha = $countlinha + 1;
				                                	?>
					                                    <th align="center" <?php echo (sizeof($rows) < $totalmaxcolunas) ? 'colspan="2"':'' ?>>
					                                    	<?php echo $rowtipo['tipo'] ?>
					                                    	<div class="box-color" style="background-color:<?php echo ($rowtipo['cor']) ? $rowtipo['cor'] : '#000' ?>" onclick="setTipo('<?php echo $rowtipo['id'] ?>')">
					                                    		<?php echo $rowtipo['sigla'] ?>
					                                    	</div>
					                                    </th>
				                                    <?php ?>
		                                			<?php if(($countlinha)==sizeof($rows) ): 
		                                				//die('aqui');
	                                					$countlinha = 0;
		                                			?>
				                                    </tr>
				                                	<?php endif; 
			                                	endforeach;?>
	                                    <?php 
	                                    	endfor;
	                                    ?>
                                </thead>
	                        </table>
							<table id="box-selecionado" class="table table-content" border="0.1" style="border:1px solid #ccc">
								<tbody>
	                                <tr>
	                                    <td align="center" style="text-align:center;">
	                                    	Tipo Selecionado
	                                    	<input type="hidden" class="idtiposelecionado" name="idtiposelecionado" value="" />
	                                    </td>
	                                </tr>
	                                <tr>
	                                    <td align="center" class="box-selecionado" style="text-align:center;">

	                                    </td>
	                                </tr>
								</tbody>
							</table>
					</div>
					<br /><br />
					<div id="calendarioescolar" class="control-group1">
	                        <table class="table table-content" border="0.1" style="border:1px solid #ccc">
								<tbody>
									<?php for($i=0; $i<=12; $i++): ?>
										<?php if($i>0): ?>
			                                <tr>
			                                    <td align="center"><?php echo Mn_Util::getMeses($i) ?></td>
			                                    <?php for($j=1; $j<=31; $j++): ?>
			                                    	<td align="center" class="click box_<?php echo $i ?>_<?php echo $j ?>" onclick="setDia('<?php echo $i ?>', '<?php echo $j ?>')">
<?php /*
		$data = date('Y') . '-' . $i . '-' . $j;
		$queriestiposdias = array();
		$queriestiposdias['data_i'] = date("Y-m-d", strtotime($data));
		$queriestiposdias['data_f'] = date("Y-m-d", strtotime($data));
		$queriestiposdias['idcalendario'] = $this->post_var['id'];
		$coordenacaocalendariosdias = new Coordenacaocalendariosdias();
		$rows = $coordenacaocalendariosdias->getCoordenacaocalendariosdias($queriestiposdias);
		

?>			                                    		
<?php if(sizeof($rows) > 0): ?>
	<?php foreach($rows as $i=>$row): ?>
	<div class="box-color" style="background-color:<?php echo ($row['cor']) ? $row['cor'] : '#000' ?>; width:<?php echo ($i==0) ? $widthinicial : $divisao ?>px; height:40px; text-align: center; color:#FFF; line-height: 40px; cursor:pointer; margin: 0 auto; float:left;">
		<?php if(sizeof($rows)>1) : ?>
			&nbsp;
		<?php else: ?>
			<?php echo $row['sigla'] ?>
		<?php endif; ?>
	</div>
	<?php endforeach;?>
<?php else: ?>	
	<div class="branco"></div>
<?php endif; */?>
<div class="branco"></div>
			                                    	</td>
			                                    <?php endfor; ?>
			                                    <td>&nbsp;</td>
			                                </tr>
			                            <?php else: ?>
			                                <tr>
			                                    <td>&nbsp;</td>
			                                    <?php for($j=1; $j<=31; $j++): ?>
			                                    	<td align="center"><?php echo $j ?></td>
			                                    <?php endfor; ?>
			                                    <td align="center">Dias letivos</td>
			                                </tr>
			                        	<?php endif;?>
	                            <?php endfor; ?>
	                            </tbody>
	                        </table>
					</div>
				</div>


				<div class="control-group">
					<label class="control-label">Status <span class="required">*</span></label>
					<div class="controls">
						<select name="status1" data-placeholder="Status" class="select">
							<option value="">Selecione...</option>
							<option value="Ativo">Ativo</option><option value="Bloqueado">Bloqueado</option>
						</select>
						
					</div>
				</div>

						    
						    
						    </div>
						    
			                <div class="form-actions align-right">
			                	<?php if ((isset($this->visualizar)) && ($this->visualizar)) : ?>
			                		<button onclick="window.history.back()" class="btn btn-danger cancelar" type="button">Voltar</button>
			                	<?php else : ?>
				                	<button class="btn btn-primary enviar" type="submit">Salvar</button>
				                	<button onclick="window.history.back()" class="btn btn-danger cancelar" type="button">Cancelar</button>
			                	<?php endif; ?>
			                </div>
						</div>
						<!-- /general form elements -->

					</fieldset> 

				</form>
				<!-- /basic inputs -->

		    </div>
		    <!-- /content wrapper -->

		</div>
		<!-- content -->
				

<script type="text/javascript">

$(document).ready(function() {
	<?php foreach ($this->eventosdias as $ir => $rowdia) : ?>
		<?php 

			$data = $rowdia["data"];

			$queriestiposdias = array();
			$queriestiposdias['data_i'] = date("Y-m-d", strtotime($data));
			$queriestiposdias['data_f'] = date("Y-m-d", strtotime($data));
			$queriestiposdias['idcalendario'] = $this->post_var['id'];
			$coordenacaocalendariosdias = new Coordenacaocalendariosdias();
			$coordenacaocalendariodia = $coordenacaocalendariosdias->getCoordenacaocalendariosdias($queriestiposdias);
			$rowsdias = $coordenacaocalendariodia;

			$queriestiposdias['total'] = true;
			$totaldias = $coordenacaocalendariosdias->getCoordenacaocalendariosdias($queriestiposdias);

			$totaltipos = (int)$totaldias;
			if($totaltipos<=0) $totaltipos = 1;
			$totaldiv = 40;
			$divisao = $totaldiv/$totaltipos;
			$divisao = floor($divisao);
			$sobra = $totaldiv - ($divisao*$totaltipos);
			$widthinicial = $divisao + $sobra;

		?>
		var html_evento = '';
		<?php foreach ($rowsdias as $id => $dia) : ?>
		html_evento += '<div class="box-color" style="background-color:<?php echo ($dia['cor']) ? $dia['cor'] : '#000' ?>; width:<?php echo ($id==0) ? $widthinicial : $divisao ?>px; height:40px; text-align: center; color:#FFF; line-height: 40px; cursor:pointer; margin: 0 auto; float:left;"><?php if($totaltipos>1) : ?>&nbsp;<?php else: ?><?php echo $dia['sigla'] ?><?php endif; ?></div>';


		$('.box_<?php echo (int)date("m", strtotime($dia["data"])) ?>_<?php echo (int)date("d", strtotime($dia["data"])) ?>').html(html_evento);
		<?php endforeach; ?>
	<?php endforeach; ?>
});
	var form_values = {};
	
	<?php if (isset($this->post_var)) :  ?>
		form_values.idsecretaria = '<?php echo (isset($this->post_var['idsecretaria'])) ? $this->post_var['idsecretaria'] : '' ?>';

form_values.ano = '<?php echo (isset($this->post_var['ano'])) ? $this->post_var['ano'] : '' ?>';

form_values.status1 = '<?php echo (isset($this->post_var['status1'])) ? $this->post_var['status1'] : $this->post_var['status'] ?>';


	<?php endif; ?>

	visualizar = <?php echo  ((isset($this->visualizar)) && ($this->visualizar))  ? 'true' : 'false' ?>;

</script>
<script type="text/javascript" src="<?php echo $this->baseUrl('/public/scripts/admin/calendarioalunos_form.js') ?>"></script>