<style type="text/css">
    .font16{ font-size:1em; font-family: 'Helvetica, sans-serif'; }
    .font14{ font-size:14px; font-family: 'Helvetica, sans-serif'; }
    .font18{ font-size:1.3em; font-family: 'Helvetica, sans-serif'; }
    .font20{ font-size:1.5em; font-family: 'Helvetica, sans-serif'; }
    .black{ color:#000; }
    .white{ color:#fff; }
    .gray{ color:#ccc; }
    .red{ color:#ff0000; }
    .textleft{ text-align: left; }
    .textright{ text-align: right; }
    .left{ float: left }
    .textcenter{text-align: center; }
    .padding2{ padding: 2px; }
    .margin10 {margin-top:50px; display: block;}
    .textjustify { text-align: justify; }
    .line{ border:1px solid #ccc;  background:#000; width: 250px;}
    .each-line{width: 25px; display: inline; border:1px solid #000;}
    .contorno{border-top: 0.5px solid black; border-bottom: 0.5px solid black;}
    .contornoleft{ border-left: 0.5px solid black;  }
    .contornoright{ border-right: 0.5px solid black;  }
</style>
<br><br> 

<?php   
    error_reporting(0);
    ini_set(“display_errors”, 0 ); 

    $contador = 0;

    // echo '<pre>'; print_r( $this->salasrecursosprofessores);
    // echo '<pre>'; print_r($this->orderdiassemana); die;

    $verificaSegunda = array_key_exists('asegunda', $this->orderdiassemana);
    $verificaTerca = array_key_exists('bterca', $this->orderdiassemana);
    $verificaQuarta = array_key_exists('cquarta', $this->orderdiassemana);
    $verificaQuinta = array_key_exists('dquinta', $this->orderdiassemana);
    $verificaSexta = array_key_exists('esexta', $this->orderdiassemana);
 
 
?>
 

<?php if(array_key_exists('asegunda', $this->orderdiassemana)) : ?>
    <table class="left font16">
        <tr>
            <th colspan="5" class="black left contorno contornoleft"><b>Escola: <?php echo Escolas::getEscolaNomeByIdHelper($this->salasrecursosprofessores[0]['idescola']) ?> </b></th>
            <th colspan="5" class="black left contorno contornoright"><b>Segunda-feira </b></th>
        </tr> 
    </table>
    <table class="left font16">
        <tr>
            <th colspan="3" class="black textcenter contorno contornoleft"><b>HORÁRIO </b></th>
            <th colspan="5" class="black textcenter contorno contornoleft"><b>ALUNO </b></th>
            <th colspan="5" class="black textcenter contorno contornoleft contornoright"><b>PROFESSOR </b></th>   
        </tr> 
        <?php for ($i=0; $i < count($this->orderdiassemana['asegunda']); $i++) : ?>
            <tr>    	 
                <td colspan="3" class="black textcenter contorno contornoleft"><?php echo substr($this->orderdiassemana['asegunda'][$contador]['horario'], 0, -3) . ' às ' . substr($this->orderdiassemana['asegunda'][$contador]['horariofim'], 0, -3) ; ?></td> 
                <td colspan="5" class="black textcenter contorno contornoleft"><?php echo $this->orderdiassemana['asegunda'][$contador]['aluno']; ?></td> 
                <td colspan="5" class="black textcenter contorno contornoleft contornoright"><?php echo $this->orderdiassemana['asegunda'][$contador]['professor']; ?></td> 

                <?php $contador ++ ?>
            </tr>
        <?php endfor; ?>  
    </table>
    <br>
<?php endif; ?>

<?php if(array_key_exists('bterca', $this->orderdiassemana)) : ?>
    <table class="left font16">
        <tr>
            <th colspan="5" class="black left  contorno contornoleft"><b><?php echo (!$verificaSegunda) ? 'Escola: ' . Escolas::getEscolaNomeByIdHelper($this->salasrecursosprofessores[0]['idescola']) : ''; ?> </b></th>
            <th colspan="5" class="black left contorno contornoright"><b>Terça-feira </b></th>
        </tr> 
    </table>
    <table class="left font16">
        <tr>
            <th colspan="3" class="black textcenter contorno contornoleft"><b>HORÁRIO </b></th>
            <th colspan="5" class="black textcenter contorno contornoleft"><b>ALUNO </b></th>
            <th colspan="5" class="black textcenter contorno contornoleft contornoright"><b>PROFESSOR </b></th>   
        </tr> 
        <?php for ($i=0; $i < count($this->orderdiassemana['bterca']); $i++) : ?>
            <tr>    	 
                <td colspan="3" class="black textcenter contorno contornoleft"><?php echo substr($this->orderdiassemana['bterca'][$contador]['horario'], 0, -3)  . ' às ' . substr($this->orderdiassemana['bterca'][$contador]['horariofim'], 0, -3) ; ?></td> 
                <td colspan="5" class="black textcenter contorno contornoleft"><?php echo $this->orderdiassemana['bterca'][$contador]['aluno']; ?></td> 
                <td colspan="5" class="black textcenter contorno contornoleft contornoright"><?php echo $this->orderdiassemana['bterca'][$contador]['professor']; ?></td> 

                <?php $contador ++ ?>
            </tr>
        <?php endfor; ?>  
    </table>  
    <br>
<?php endif; ?>    

<?php if(array_key_exists('cquarta', $this->orderdiassemana)) : ?>
    <table class="left font16">
        <tr>
            <th colspan="5" class="black left contorno contornoleft"><b><?php echo (!$verificaSegunda AND !$verificaTerca) ? 'Escola: ' . Escolas::getEscolaNomeByIdHelper($this->salasrecursosprofessores[0]['idescola']) : ''; ?> </b></th>
            <th colspan="5" class="black left contorno contornoright"><b>Quarta-feira </b></th>
        </tr> 
    </table>
    <table class="left font16">
        <tr>
            <th colspan="3" class="black textcenter contorno contornoleft"><b>HORÁRIO </b></th>
            <th colspan="5" class="black textcenter contorno contornoleft"><b>ALUNO </b></th>
            <th colspan="5" class="black textcenter contorno contornoleft contornoright"><b>PROFESSOR </b></th>   
        </tr> 
        <?php for ($i=0; $i < count($this->orderdiassemana['cquarta']); $i++) : ?>
            <tr>    	 
                <td colspan="3" class="black textcenter contorno contornoleft"><?php echo substr($this->orderdiassemana['cquarta'][$contador]['horario'], 0, -3)  . ' às ' . substr($this->orderdiassemana['cquarta'][$contador]['horariofim'], 0, -3) ; ?></td> 
                <td colspan="5" class="black textcenter contorno contornoleft"><?php echo $this->orderdiassemana['cquarta'][$contador]['aluno']; ?></td> 
                <td colspan="5" class="black textcenter contorno contornoleft contornoright"><?php echo $this->orderdiassemana['cquarta'][$contador]['professor']; ?></td> 

                <?php $contador ++ ?>
            </tr>
        <?php endfor; ?>  
    </table>  
    <br>
<?php endif; ?>    

<?php if(array_key_exists('dquinta', $this->orderdiassemana)) : ?>
    <table class="left font16">
        <tr>
            <th colspan="5" class="black left contorno contornoleft"><b><?php echo (!$verificaSegunda AND !$verificaTerca AND !$verificaQuarta) ? 'Escola: ' . Escolas::getEscolaNomeByIdHelper($this->salasrecursosprofessores[0]['idescola']) : ''; ?></b></th>
            <th colspan="5" class="black left contorno contornoright"><b>Quinta-feira </b></th>
        </tr> 
    </table>
    <table class="left font16">
        <tr>
            <th colspan="3" class="black textcenter contorno contornoleft"><b>HORÁRIO </b></th>
            <th colspan="5" class="black textcenter contorno contornoleft"><b>ALUNO </b></th>
            <th colspan="5" class="black textcenter contorno contornoleft contornoright"><b>PROFESSOR </b></th>   
        </tr> 
        <?php for ($i=0; $i < count($this->orderdiassemana['dquinta']); $i++) : ?>
            <tr>    	 
                <td colspan="3" class="black textcenter contorno contornoleft"><?php echo substr($this->orderdiassemana['dquinta'][$contador]['horario'], 0, -3)  . ' às ' . substr($this->orderdiassemana['dquinta'][$contador]['horariofim'], 0, -3) ; ?></td> 
                <td colspan="5" class="black textcenter contorno contornoleft"><?php echo $this->orderdiassemana['dquinta'][$contador]['aluno']; ?></td> 
                <td colspan="5" class="black textcenter contorno contornoleft contornoright"><?php echo $this->orderdiassemana['dquinta'][$contador]['professor']; ?></td> 

                <?php $contador ++ ?>
            </tr>
        <?php endfor; ?>  
    </table>  
    <br>
<?php endif; ?>    

<?php if(array_key_exists('esexta', $this->orderdiassemana)) : ?>
    <table class="left font16">
        <tr>
            <th colspan="5" class="black left contorno contornoleft"><b><?php echo (!$verificaSegunda AND !$verificaTerca AND !$verificaQuarta AND !$verificaQuinta ) ? 'Escola: ' . Escolas::getEscolaNomeByIdHelper($this->salasrecursosprofessores[0]['idescola']) : ''; ?></b></th>
            <th colspan="5" class="black left contorno contornoright"><b>Sexta-feira </b></th>
        </tr> 
    </table>
    <table class="left font16">
        <tr>
            <th colspan="3" class="black textcenter contorno contornoleft"><b>HORÁRIO </b></th>
            <th colspan="5" class="black textcenter contorno contornoleft"><b>ALUNO </b></th>
            <th colspan="5" class="black textcenter contorno contornoleft contornoright"><b>PROFESSOR </b></th>   
        </tr> 
        <?php for ($i=0; $i < count($this->orderdiassemana['esexta']); $i++) : ?>
            <tr>    	 
                <td colspan="3" class="black textcenter contorno contornoleft"><?php echo substr($this->orderdiassemana['esexta'][$contador]['horario'], 0, -3)  . ' às ' . substr($this->orderdiassemana['esexta'][$contador]['horariofim'], 0, -3) ; ?></td> 
                <td colspan="5" class="black textcenter contorno contornoleft"><?php echo $this->orderdiassemana['esexta'][$contador]['aluno']; ?></td> 
                <td colspan="5" class="black textcenter contorno contornoleft contornoright"><?php echo $this->orderdiassemana['esexta'][$contador]['professor']; ?></td> 

                <?php $contador ++ ?>
            </tr>
        <?php endfor; ?>  
    </table>  
    
<?php endif; ?>    
    
    