<div class="wrap_multiplos_arquivos">	
	<fieldset class="box-fieldset">
		<legend>Documentos</legend>
				
		<div class="bootstrap">
			<span class="btn btn-warning fileinput-button">
				<i class="icon-plus icon-white"></i>
	           	<span class="add_arquivos">Adicionar Arquivos...</span>
	           	<input id="btn_fileupload_arquivos" type="file" name="files[]" data-url="<?php echo $this->baseUrl() ?>/index/fileupload/" multiple="" style="height: !important" />
	       	</span>
	    	<br clear="all" />   		 
		</div>
		
		<div id="multiplos_arquivos" class="block-border">
			<ul class="grid dark-grey-gradient">
	
			</ul>
			<br clear="all" /> 
		</div>				
	</fieldset>
</div>
<script type="text/javascript" src="<?php echo $this->baseUrl('/public/scripts/default/programacoesaulas_multiplosarquivos.js') ?>"></script>
<script type="text/javascript" src="<?php echo $this->baseUrl('/public/scripts/ui.dragdrop.js') ?>"></script>
<script type="text/javascript">
	var count_li = 0;
	$(document).ready(function() {		
		<?php
			$idprogramacao = (isset($this->post_var['id'])) ? (int)$this->post_var['id'] : 0;  
			$programacaoarquivos = Escolasprogramacoesaulasarquivos::getProgramacoesArquivos($idprogramacao);
			foreach ($programacaoarquivos as $row) : 
		?>
			setMultiplos_arquivos('<?php echo $row['idarquivo'] ?>', '<?php //echo $row['filename'] ?>', '<?php echo $row['legenda'] ?>');
		<?php endforeach;?>
        resetPaginas();
		aplicaDragAndDrop();
	});

</script>