<style type="text/css">
input[type="number"] {
  width: 50px;
}
.mytab tr:nth-child(odd) {
  background-color:#fff;
}
.mytab tr:nth-child(even) {
  background-color:#ccc;
}
.mytab th, td {
  text-align: center;
}
.mytab th {
  background-color:#ccc;
}

.switch {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 17px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 13px;
  width: 13px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(13px);
  -ms-transform: translateX(13px);
  transform: translateX(13px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 17px;
}

.slider.round:before {
  border-radius: 50%;
}
</style>
<!-- Content -->
<div id="content">

  <!-- Content wrapper -->
  <div class="wrapper">

   <!-- Breadcrumbs line -->
   <div class="crumbs">
    <?php echo $this->render('/helpers/breadcrumb.phtml') ?>
  </div>
  <!-- /breadcrumbs line -->

  <!-- Page header -->
  <div class="page-header">
    <div class="page-title">
     <h5>Formulário do período</h5>
     <span>Informe os dados do período.</span>
   </div>
 </div>
 <!-- /page header -->

 <?php if (isset($this->crudMessage)) : ?>
   <div class="alert alert-success">
    <button data-dismiss="alert" class="close" type="button">×</button>
    <strong>Operação realizada com sucesso!</strong>
    <span><br /><?php echo $this->crudMessage ?></span>
  </div>                
<?php endif; ?>

<form id="form" name="form" action="" method="post" class="form-horizontal" enctype="multipart/form-data">
  <?php if (isset($this->erros)) : ?>
    <div class="alert alert-error margin">
      <button data-dismiss="alert" class="close" type="button">×</button>
      <strong>Há erros no formulário!</strong>
      <?php foreach ($this->erros as $k=>$v) : ?>
        <span><br />- <?php echo $v ?></span>
      <?php endforeach;?>
    </div>
  <?php endif; ?>

  <input type="hidden" value="<?php echo (isset($this->post_var['id'])) ? $this->post_var["id"] : ''; ?>" name="id" id="id" />

  <div class="control-group">
    <label class="control-label">Tipo </label>
    <div class="controls">
      <select name="tipo" id="tipo" data-placeholder="Tipo" class="select tipo" <?php if ($this->editar) {echo 'disabled="true"';} else {echo 'enabled="true"';} ?> <?php if ($this->visualizar) {echo 'disabled="true"';} else {echo 'enabled="true"';} ?> >
        <option value="">Selecione...</option>
        <option value="municipal">Municipal</option>
        <option value="estadual">Estadual</option>
      </select>
    </div>
    <div class="controls">
      <select name="tipotransporte" id="tipotransporte" data-placeholder="Tipo Transporte" class="select tipo" <?php if ($this->editar) {echo 'disabled="true"';} else {echo 'enabled="true"';} ?> <?php if ($this->visualizar) {echo 'disabled="true"';} else {echo 'enabled="true"';} ?> >
        <option value="">Selecione...</option>
        <option value="passe">Passe</option>
        <option value="fretado">Fretado</option>
      </select>
    </div>
    <div class="controls" style="display: none;" id="div-curso">
      <select name="curso" id="curso" data-placeholder="Tipo Transporte" class="select tipo" <?php if ($this->editar) {echo 'disabled="true"';} else {echo 'enabled="true"';} ?> <?php if ($this->visualizar) {echo 'disabled="true"';} else {echo 'enabled="true"';} ?> >
        <option value="">Selecione...</option>
        <option value="fundamental">Fundamental</option>
        <option value="medio">Médio</option>
      </select>
    </div>
  </div>

  <div class="control-group" style="display: none;" id="div-bolsistas">
    <label class="control-label">Bolsistas </label>
    <div class="controls">
      <label class="switch">
        <input type="checkbox" name="bolsista" id="bolsista" <?php if ($this->editar) {echo 'disabled="true"';} else {echo 'enabled="true"';} ?> <?php if ($this->visualizar) {echo 'disabled="true"';} else {echo 'enabled="true"';} ?>>
        <span class="slider round"></span>
      </label>
    </div>
  </div>

  <div id="div-datas" <?= !$this->editar && !$this->visualizar ? 'style="display: none;"' : ''?> >

    <div class="control-group">
      <label class="control-label">Período <span class="required">*</span></label>
      <div class="controls">
        <input placeholder="Data de início" name="datainicio" id="from" <?php if ($this->visualizar) {echo 'disabled="true"';} else {echo 'enabled="true"';} ?> <?php if ($this->fechado) {echo 'disabled="true"';} else {echo 'enabled="true"';} ?> value="<?php echo (isset($this->post_var['datainicio'])) ?  Mn_Util::formPostVarData($this->post_var['datainicio']) : "" ?>" type="text" size="10" class="span3 fromto" />

        <input placeholder="Data de fim" name="datafim" id="to" <?php if ($this->visualizar) {echo 'disabled="true"';} else {echo 'enabled="true"';} ?> <?php if ($this->fechado) {echo 'disabled="true"';} else {echo 'enabled="true"';} ?> value="<?php echo (isset($this->post_var['datafim'])) ?  Mn_Util::formPostVarData($this->post_var['datafim']) : "" ?>" type="text" size="10" class="span3 fromto" />
      </div>
    </div>

    <div class="control-group">
      <label class="control-label">Dias letivos </label>
      <div class="controls">
        <input type="hidden" name="diasletivos" id="diasletivos" value="<?php echo (isset($this->post_var)) ? $this->post_var['diasletivos'] : "" ?>" />
        <span id="diasletivos_"></span>
      </div>
    </div>

    <div class="control-group">
      <label class="control-label">Valor unitário </label>
      <div class="controls">
        <input type="text" size="10" placeholder="Valor Unitário" name="valorunitario" id="valorunitario" class="span3" value="<?php echo (isset($this->post_var)) ? $this->post_var['valorunitario'] : "" ?>" <?php if ($this->visualizar) {echo 'disabled="true"';} else {echo 'enabled="true"';} ?> <?php if ($this->fechado) {echo 'disabled="true"';} else {echo 'enabled="true"';} ?> />
      </div>
    </div>

    <div class="control-group">
      <label class="control-label">Observações </label>
      <div class="controls">
        <textarea name="observacoes" id="observacoes" <?php if ($this->visualizar) {echo 'disabled="true"';} else {echo 'enabled="true"';} ?> <?php if ($this->fechado) {echo 'disabled="true"';} else {echo 'enabled="true"';} ?>><?php echo (isset($this->post_var['observacoes'])) ? $this->post_var['observacoes'] : '' ?></textarea>
      </div>
    </div>

    <div class="control-group">
      <label class="control-label">Status <span class="required">*</span></label>
      <div class="controls">
        <select name="status" data-placeholder="Status" class="select" <?php if ($this->visualizar) {echo 'disabled="true"';} else {echo 'enabled="true"';} ?> <?php if ($this->fechado) {echo 'disabled="true"';} else {echo 'enabled="true"';} ?> >
          <option value="">Selecione...</option>
          <option value="Ativo">Ativo</option>
          <option value="Bloqueado">Bloqueado</option>
        </select>
      </div>
    </div>

    <div style="display: <?php if ($this->editar || $this->visualizar) {echo 'block';} else {echo 'none';} ?>">
      <div class="control-group">
        <label class="control-label">Fechar</label>
        <div class="controls">
          <label class="switch">
            <input type="checkbox" name="fechado" id="fechado" <?php if ($this->visualizar) {echo 'disabled="true"';} else {echo 'enabled="true"';} ?> <?php if ($this->fechado) {echo 'disabled="true"';} else {echo 'enabled="true"';} ?> >
            <span class="slider round"></span>
          </label>
        </div>
      </div>

      <div class="control-group">
        <label class="control-label">Escolas <span class="required"></span></label>
        <div class="controls">
          <select name="escolas" onchange="setEntidades(this)">
            <option>Selecione...</option>
            <?php if ($this->post_var['tipo'] == 'municipal'): ?>
              <?php foreach (Lteentidades::getEntidadesByTipo('municipal') as $i=>$row) : ?>
                <option value="<?php echo $row['id'] ?>"><?php echo $row['entidade'] ?></option>
              <?php endforeach; ?>
              <?php else: ?>
                <?php foreach (Lteentidades::getEntidadesByTipo('estadual') as $i=>$row) : ?>
                  <option value="<?php echo $row['id'] ?>"><?php echo $row['entidade'] ?></option>
                <?php endforeach; ?>
              <?php endif ?>

            </select>
          </div>
        </div>
      </div>

      <div class="control-group">
        <div id="box-entidades"></div>
      </div>

    </div>
    <div class="panel-footer">
      <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
          <?php if (((isset($this->visualizar)) && ($this->visualizar)) || $this->fechado) : ?>
          <button type="button" onclick="window.history.back()" class="btn btn-default">Voltar</button>
          <?php else : ?>
            <button class="btn btn-primary">Salvar</button>&nbsp;
            <button onclick="window.history.back()" class="btn btn-danger cancelar" type="button">Cancelar</button>
          <?php endif;?>
        </div>
      </div>
    </div><!-- panel-footer -->             
    <br /><br /><br />
  </form>
  <!-- /basic inputs -->

</div>
<!-- /content wrapper -->

</div>
<!-- content -->

<style type="text/css">
#ltecalendar {
  max-width: 900px;
  margin: 0 auto;
}

.switch {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 17px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 13px;
  width: 13px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(13px);
  -ms-transform: translateX(13px);
  transform: translateX(13px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 17px;
}

.slider.round:before {
  border-radius: 50%;
}
</style>

<script type="text/javascript" src="<?php echo $this->baseUrl('/public/scripts/admin/lteperiodos_form.js') ?>"></script>

<script type="text/javascript">
  var form_values = {};
  <?php if (isset($this->post_var['id'])) :  ?>
    form_values.idperiodo = '<?php echo $this->post_var['id'] ?>';
  <?php endif; ?>

  <?php if (isset($this->post_var['status'])) :  ?>
    form_values.status = '<?php echo $this->post_var['status'] ?>';
  <?php endif; ?>

  <?php if (isset($this->post_var['tipo'])) :  ?>
    form_values.tipo = '<?php echo $this->post_var['tipo'] ?>';
  <?php endif; ?>

  <?php if (isset($this->post_var['curso'])) :  ?>
    form_values.curso = '<?php echo $this->post_var['curso'] ?>';
  <?php endif; ?>

  <?php if (isset($this->post_var['tipotransporte'])) :  ?>
    form_values.tipotransporte = '<?php echo $this->post_var['tipotransporte'] ?>';
  <?php endif; ?>

  <?php if (isset($this->post_var['bolsista'])) :  ?>
    form_values.bolsista = '<?php echo $this->post_var['bolsista'] ?>';
  <?php endif; ?>

  <?php if (isset($this->post_var['fechado'])) :  ?>
    form_values.fechado = '<?php echo $this->post_var['fechado'] ?>';
  <?php endif; ?>
</script>