<?php if (count($this->rows) == 0): ?>
  <h6>Não encontrado alunos para escola selecionada</h6>
<?php else: ?>
  <table class="mytab">
    <thead>
      <th width="400">Nome </th>
      <th width="400">Entidade </th>
      <th width="120">Série </th>
      <th width="120">Período </th>
      <th width="100">Nascimento </th>
      <th width="120">Endereço </th>
      <th width="100">Faltas </th>
      <th width="100">Recarga </th>
    </thead>
    <tbody>
      <?php foreach ($this->rows as $row): ?>
        <tr>
          <td>
            <?= $row['nome'] ?>
          </td>
          <td>
            <?= $row['entidade'] ?>
          </td>
          <td>
            <?= $row['serie'] ?>
          </td>
          <td>
            <?= $row['periodo'] ?>
          </td>
          <td>
            <?= strtotime($row['datanascimento']) > 0 ? date('d/m/Y', strtotime($row['datanascimento'])) : '' ?>
          </td>
          <td>
            <?= $row['endereco'] ?>
          </td>
          <td>
            <?= $row['faltas'] ?>
          </td>
          <td>
            R$ <span id="recarga_<?php echo $row['id'] ?>" class="span_total"><?php echo $row['total'] ?></span>
          </td>
        </tr>
      <?php endforeach ?>
    </tbody>
  </table>
<?php endif ?>