		<!-- Content -->
		<div id="content">

		    <!-- Content wrapper -->
		    <div class="wrapper">

			    <!-- Breadcrumbs line -->
			    <div class="crumbs">
			    	<?php echo $this->render('/helpers/breadcrumb.phtml') ?>
			    </div>
			    <!-- /breadcrumbs line -->

			    <!-- Page header -->
			    <div class="page-header">
			    	<div class="page-title">
				    	<h5>Formulário de funcionários</h5>
				    	<span>Verifique os campos e preencha com os dados</span>
			    	</div>
			    </div>
			    <!-- /page header -->

			    <?php if (isset($this->crudMessage)) : ?>
					<div class="alert alert-success">
	                	<button data-dismiss="alert" class="close" type="button">×</button>
	                    <strong>Operação realizada com sucesso!</strong>
		    			<span><br /><?php echo $this->crudMessage ?></span>
	                </div>			    
			    <?php endif; ?>

				<form id="form" name="form" action="" method="post" class="form-horizontal" enctype="multipart/form-data"> 
					<input type="hidden" value="<?php echo (isset($this->post_var)) ? $this->post_var["id"] : ''; ?>" name="id" id="id" />
					
					<fieldset>
						<!-- General form elements -->
						<div class="widget row-fluid">
						    <div class="navbar">
						        <div class="navbar-inner">
						            <h6>Digite as informações do formulário</h6>
						        </div>
						    </div>

						    <div class="well">
								<?php if (isset($this->erros)) : ?>
									<div class="alert alert-error margin">
				                        <button data-dismiss="alert" class="close" type="button">×</button>
				                        <strong>Há erros no formulário!</strong>
					    				<?php foreach ($this->erros as $k=>$v) : ?>
					    					<span><br />- <?php echo $v ?></span>
					    				<?php endforeach;?>			                        
				                    </div>
			                    <?php endif; ?>						    
						    

						<input type="hidden" name="idfuncionario" value="<?php echo Usuarios::getUsuario('idfuncionario') ?>" />


						<?php if((isset($this->post_var['id'])) && ((int)$this->post_var['id'] > 0) && $this->editar): ?>
						<div class="control-group">
							<label class="control-label">Nome completo *</label>
							<div class="controls visualizar">
								<input type="hidden" value="<?php echo (isset($this->post_var)) ? $this->post_var["id"] : ''; ?>" name="id" id="id" />
								<?php echo (isset($this->post_var['nome'])) ? $this->post_var['nome'] : '' ?>
							</div>
						</div>
						<?php else: ?>
						<div class="control-group">
							<label class="control-label">Funcionário *</label>
							<div class="controls">
								<select name="id" data-placeholder="Funcionário" class="select" onchange="setDados(this)">
									<option value="">Selecione...</option>
									<?php
										$idperfil = (int)Usuarios::getUsuario('idperfil');
										$queries = array(); 
										if($idperfil>0) {
										//	$queries["diferenteidperfil"] = $idperfil;	
										}else{
											$queries['idescola'] = Usuarios::getUsuario('idescola');
										}
									?>
									<?php foreach(Funcionariosgeraisescolas::getFuncionariosgeraisescolasHelper($queries) as $i=>$row): ?>
									<option value="<?php echo $row['id'] ?>"><?php echo $row['nome'] ?> - <b>RGF: <?php echo $row['rgf'] ?></b></option>
									<?php endforeach;?>
								</select>
							</div>
						</div>
						
						<?php endif; ?>


				<div class="control-group">
					<label class="control-label">Função </label>
					<div class="controls">
						<select name="idfuncaosecretaria" data-placeholder="Tipo" class="select">
							<option value="">Selecione...</option>
							<?php foreach(Funcoes::getFuncoesHelper(array('status'=>'Ativo')) as $if=>$rowfuncao): ?>
							<option value="<?php echo $rowfuncao['id'] ?>"><?php echo $rowfuncao['funcao'] ?></option>
							<?php endforeach ?>
						</select>
						
					</div>
				</div>

				<div class="control-group">
					<label class="control-label">Telefone </label>
					<div class="controls"><input maxlength="500" placeholder="Telefone" name="telefone" value="<?php echo (isset($this->post_var['telefone'])) ? $this->post_var['telefone'] : '' ?>" type="text"  class="span3" /></div>
				</div>


<?php 
							//$this->endereco_prefix = "e_idendereco";
							//echo $this->render('/helpers/forms/endereco.phtml') ?>

										<!--
				<div class="control-group">
					<label class="control-label">Blocos de horários</label>
					<div class="controls">
						<select name="horarioponto" data-placeholder="horarioponto" class="select">
							<option value="">Selecione...</option>
							<?php// foreach(Funcionariosgeraispontodefinicaohorarios::getFuncionariosgeraispontodefinicaohorariosHelper(array('status'=> "Ativo")) as $i=>$row): ?>
							<option value="<?php// echo $row['id'] ?>"><?php// echo $row['rotulohorario'] ?></option>
							<?php// endforeach;?>
						</select>
						
					</div>
				</div> 
										-->
				<div class="control-group">
					<label class="control-label">Status </label>
					<div class="controls">
						<select name="status1" data-placeholder="Status" class="select">
							<option value="">Selecione...</option>
							<option value="Ativo">Ativo</option><option value="Bloqueado">Bloqueado</option>
						</select>
						
					</div>
				</div>  
						    </div>
						    
			                <div class="form-actions align-right">
			                	<?php if ((isset($this->visualizar)) && ($this->visualizar)) : ?>
			                		<button onclick="window.history.back()" class="btn btn-danger cancelar" type="button">Voltar</button>
			                	<?php else : ?>
				                	<button class="btn btn-primary enviar" type="submit">Salvar</button>
				                	<button onclick="window.history.back()" class="btn btn-danger cancelar" type="button">Cancelar</button>
			                	<?php endif; ?>
			                </div>
						</div>
						<!-- /general form elements -->

					</fieldset> 

				</form>
				<!-- /basic inputs -->

		    </div>
		    <!-- /content wrapper -->

		</div>
		<!-- content -->
				
<script type="text/javascript" src="<?php echo $this->baseUrl('/public/scripts/admin/educacaoespecialfuncionarios_form.js') ?>"></script>
<script type="text/javascript">
	var form_values = {};
	
	<?php if (isset($this->post_var)) :  ?>
		form_values.idselect = '<?php echo (isset($this->post_var['id'])) ? $this->post_var['id'] : '' ?>';
		form_values.idsecretaria = '<?php echo (isset($this->post_var['idsecretaria'])) ? $this->post_var['idsecretaria'] : '' ?>';

		form_values.idfuncaosecretaria = '<?php echo (isset($this->post_var['idfuncaosecretaria'])) ? $this->post_var['idfuncaosecretaria'] : '' ?>';

form_values.tipo = '<?php echo (isset($this->post_var['tipo'])) ? $this->post_var['tipo'] : '' ?>';
form_values.modulo = '<?php echo (isset($this->post_var['modulo'])) ? $this->post_var['modulo'] : '' ?>';

form_values.e_idenderecoidestado = '<?php echo (isset($this->post_var['e_idenderecoidestado'])) ? $this->post_var['e_idenderecoidestado'] : '' ?>';
form_values.status1 = '<?php echo (isset($this->post_var['status1'])) ? $this->post_var['status1'] : $this->post_var['status'] ?>';


	<?php endif; ?>

	visualizar = <?php echo  ((isset($this->visualizar)) && ($this->visualizar))  ? 'true' : 'false' ?>;
</script>
