		<!-- Content -->
		<div id="content">

			<!-- Content wrapper -->
			<div class="wrapper">

				<!-- Breadcrumbs line -->
				<div class="crumbs">
					<?php echo $this->render('/helpers/breadcrumb.phtml') ?>
				</div>
				<!-- /breadcrumbs line -->

				<!-- Page header -->
				<div class="page-header">
					<div class="page-title">
                        <h5>Produtos disponíveis</h5>
                        <span>Visualize os produtos disponiveis no estoque</span>
					</div>

				</div>
				<!-- /page header -->

				<?php if (isset($this->crudMessage)) : ?>
					<div class="alert alert-success">
						<button data-dismiss="alert" class="close" type="button">×</button>
						<strong>Operação realizada com sucesso!</strong>
						<span><br /><?php echo $this->crudMessage ?></span>
					</div>			    
				<?php endif; ?>

				<!-- Table with footer -->
				<div class="widget">
					<form action="#" class="form-horizontal" method="post">
						<input type="hidden" value="<?php echo (isset($this->post_var['sorting'])) ? $this->post_var['sorting'] : '' ?>" name="sorting" />
						<div class="navbar">
							<div class="navbar-inner">
								<h6>Visualizando registros</h6>
								<?php if (Mn_Util::isAccess($this->getController(), 'adicionar')) : ?>
								<a style="float:right;" href="<?php echo $this->baseUrl() ?>/<?php echo 'admin' ?>/<?php echo $this->getController() ?>/adicionar" class="btn btn-primary"><span class="icon-plus"></span>&nbsp;Adicionar produto</a>
								<?php endif; ?>
								<?php
									$idperfil = Usuarios::getUsuario('idperfil');  
									if($idperfil == 32 OR $idperfil == 25):
								?>
									<a title="" style="float:right;" class="btn tip btn-mini btn-danger" href="<?php echo $this->baseUrl() ?>/<?php echo 'admin' ?>/<?php echo $this->getController() ?>/produtosdisponiveis/" data-original-title="Gerar PDF produtos disponiveis" target="_blank">
										<i class="icon-print"></i><span>PDF Relatório</span>
									</a>
									<?php endif; ?>
							</div>
						</div>
						<div class="table-overflow">
							<table class="table table-content">
								<thead>
									<tr>
										<th width="20">#</th>
										<th class="s-produto sorting">Escola</th>
										<th class="s-produto sorting">Produto</th>
										<th class="s-produto sorting">Unidade de Medida</th>
										<th class="s-quantidade sorting">Quantidade</th>
										<th class="s-status sorting">Categoria</th>


										<th width="96">Ações</th>
									</tr>
									<tr>
										<th></th>
										<th>    
												<?php 
													$idperfil = Usuarios::getUsuario('idperfil');  
												?>
											<div>
												<?php if($idperfil == 32 OR $idperfil == 25): ?>
													<select id="escola_departamento" class="select" onchange="seleciona_escola_departamento(this)">
														<option value="">Todos</option>
														<option value="departamento">Departamentos</option>
														<option value="escolas">Escolas</option>
													</select>
													<div id="escolaselect">
														<select name="idescola" placeholder="Todas as Escolas" class="select" >
															<option value="">Todas as Escolas</option>
															<?php   foreach (Escolas::getEscolasHelper(array()) as $k=>$v) :  ?>
																	<option value="<?php echo $v['id'] ?>"><?php echo $v['escola']; ?></option>
															<?php endforeach; ?>
														</select>
													</div> 

													<div id="departamentoselect">
														<select name="idperfilbusca" placeholder="Todos os Departamentos" class="select" >
															<option value="">Todos os Departamentos</option>
															<?php   foreach (UsuariosPerfis::getPerfisHelpers(array('status' => 'Ativo')) as $k=>$v) :  ?>
																	<option value="<?php echo $v['id'] ?>"><?php echo $v['perfil']; ?></option>
															<?php endforeach; ?>
														</select>
													</div> 
												<?php endif; ?>
											</div>
										</th> 
										<th><input name="produto" value="<?php echo (isset($this->post_var['produto'])) ? $this->post_var['produto'] : '' ?>" type="text" placeholder="Produto" class="span3"></th>
										<th><input name="old_unidademedida" value="<?php echo (isset($this->post_var['old_unidademedida'])) ? $this->post_var['old_unidademedida'] : '' ?>" type="text" placeholder="Unidade de medida" class="span3"></th>
										<th><input name="quantidade" value="<?php echo (isset($this->post_var['quantidade'])) ? $this->post_var['quantidade'] : '' ?>" type="text" placeholder="Quantidade" class="span3"></th>
										

										<th>
											<div>
												<select name="idcategoria" placeholder="Todos" class="select">
													<option value="">Todos</option>
													<?php foreach (Almoxarifadoprodutoscategorias::getAlmoxarifadoprodutoscategoriasHelper(array('status'=>'Ativo')) as $k=>$v) : ?>
														<option value="<?php echo $v['id'] ?>"><?php echo $v['nome'] ?></option>
													<?php endforeach;?>
												</select>
											</div>
										</th>

										<th><button class="btn btn-mini btn-primary" type="submit">Pesquisar</button></th>
									</tr> 

								</thead>
								<tbody>
									<?php if (sizeof($this->rows)==0) : ?>
										<tr>
											<td colspan="5">Nenhum registro foi encontrado!</td>
										</tr>

										<?php else : ?>
											<?php foreach ($this->rows as $row) : ?>
												<tr>
													<td><?= $row['id'] ?></td>
													<td>
														<?php 
															if($row['idescola'] != 0){
																echo Escolas::getEscolaByIdHelper($row['idescola'])['escola'];
															}else{
																echo UsuariosPerfis::getPerfilByIdHelper($row['idperfil'])['perfil'];
															}
														?>
													</td>
													<td><?= $row['produto'] ?></td>
													<td><?php echo $row['old_unidademedida']; ?>
													</td>
													<td><?= $row['quantidade'] ?></td>
													<td>
														<?php 
														$categoria = Almoxarifadoprodutoscategorias::getAlmoxarifadoprodutoscategoriasByIdHelper($row['idcategoria']);
														echo $categoria['nome'];
													    ?>
                                                    </td>
														<td>
															<ul class="table-controls">
															<!-- <li><a title="" class="btn tip" href="<?php echo $this->baseUrl() ?>/<?php echo 'admin' ?>/<?php echo 'almoxarifadoprodutos' ?>/visualizar/id/<?php echo $row['id'] ?>" data-original-title="Visualizar"><i class="icon-eye-open"></i></a> </li> -->
															</ul>
														</td>
													</tr>
											
												<?php endforeach;?>
											<?php endif; ?>
										</tbody>
									</table>
								</div>
								<?php echo $this->render('/helpers/paginator.phtml') ?>

							</form>
							
						</div>
						<!-- /table with footer -->
					</div>
					<!-- /content wrapper -->
				</div>
				<!-- content -->
        </div>
				<script type="text/javascript" src="<?php echo $this->baseUrl('/public/scripts/admin/almoxarifadosolicitacoes_index.js') ?>"></script>
				<script type="text/javascript">

					var form_values = {};
					<?php if (isset($this->post_var)) :  ?>
						form_values.idsecretaria = '<?php echo (isset($this->post_var['idsecretaria'])) ? $this->post_var['idsecretaria'] : '' ?>';

						form_values.status1 = '<?php echo (isset($this->post_var['status1'])) ? $this->post_var['status1'] : $this->post_var['status'] ?>';


					<?php endif; ?>

					var sorting = ["idsecretaria", "produto", "descricoes", "codigoproduto", "status"];

				</script>	


