<!-- Content -->
<div id="content">

    <!-- Content wrapper -->
    <div class="wrapper">

        <!-- Breadcrumbs line -->
        <div class="crumbs">
            <?php echo $this->render('/helpers/breadcrumb.phtml') ?>
        </div>
        <!-- /breadcrumbs line -->

        <!-- Page header -->
        <div class="page-header">
            <div class="page-title">
                <h5>Entrada de Materiais no sistema</h5>
                <span>Visualize as entradas de materiais no sistema</span>
            </div>

        </div>
        <!-- /page header -->

        <?php if (isset($this->crudMessage)) : ?>
            <div class="alert alert-success">
                <button data-dismiss="alert" class="close" type="button">×</button>
                <strong>Operação realizada com sucesso!</strong>
                <span><br /><?php echo $this->crudMessage ?></span>
            </div>
        <?php endif; ?>

        <!-- Table with footer -->
        <div class="widget">
        <form action="#" class="form-horizontal" method="post">
            <div class="navbar">
                <div class="navbar-inner">
                    <h6>Visualizando registros</h6>
                    <?php if (Mn_Util::isAccess($this->getController(), 'adicionar')) : ?>
                        <a style="float:right;" href="<?php echo $this->baseUrl() ?>/admin/<?php echo $this->getController() ?>/adicionar" class="btn btn-primary"><span class="icon-plus"></span>&nbsp;Nova Entrada de Produtos</a>
                    <?php endif; ?>
                </div>
			</div>
			
            <div class="table-overflow">
                <table class="table table-content">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Local</th>
                            <th>Solicitante</th>
                            <th>Data da Entrada</th>
                            <th>Status</th>
                            <th style="width:74px">Ações</th>
                        </tr>
                        <tr>
                            <th></th>
                            <th>    <?php 
                                            $idperfil = Usuarios::getUsuario('idperfil');  
                                            if($idperfil != 32 AND $idperfil != 25)
                                                $idfuncionarioLogado = Usuarios::getUsuario('idescola');
                                    ?>
                                 <div>
                                    <?php if($idperfil == 32 OR $idperfil == 25): ?>
                                        <select id="escola_departamento" class="select" onchange="seleciona_escola_departamento(this)">
                                            <option value="">Todos</option>
                                            <option value="departamento">Departamentos</option>
                                            <option value="escolas">Escolas</option>
                                        </select>
                                        <div id="escolaselect">
                                            <select name="idescola" placeholder="Todas as Escolas" class="select" >
                                                <option value="">Todas as Escolas</option>
                                                <?php   foreach (Escolas::getEscolasHelper(array()) as $k=>$v) :  ?>
                                                        <option value="<?php echo $v['id'] ?>"><?php echo $v['escola']; ?></option>
                                                <?php endforeach; ?>
                                            </select>
                                        </div> 

                                        <div id="departamentoselect">
                                            <select name="idperfilbusca" placeholder="Todos os Departamentos" class="select" >
                                                <option value="">Todos os Departamentos</option>
                                                <?php   foreach (UsuariosPerfis::getPerfisHelpers(array('status' => 'Ativo')) as $k=>$v) :  ?>
                                                        <option value="<?php echo $v['id'] ?>"><?php echo $v['perfil']; ?></option>
                                                <?php endforeach; ?>
                                            </select>
                                        </div> 
                                    <?php endif; ?>
                                </div>
                            </th>
                            <th>
                                <select name="idusuario" placeholder="Todos" class="select">
                                    <option value="">Todos</option>
                                    <?php   foreach (Funcionariosgeraisescolas::getFuncionariosgeraisescolasHelper(array('status'=>'Ativo', 'idescola' => $idfuncionarioLogado)) as $k=>$v) : ?>
                                        <option value="<?php echo $v['id'] ?>"><?php echo $v['nome']  ; ?></option>
                                    <?php endforeach; ?>
                                </select>
                            </th>
                            <th>
                                <input name="data_i" value="<?php echo (isset($this->post_var['data_i'])) ? Mn_Util::formPostVarData($this->post_var['data_i']) : '' ?>" type="text" placeholder="Data inicial" class="span3">
                                <input name="data_f" value="<?php echo (isset($this->post_var['data_f'])) ? Mn_Util::formPostVarData($this->post_var['data_f']) : '' ?>" type="text" placeholder="Data final" class="span3">
                            </th>
                            <th>
                                <div>
                                    <select name="status1" placeholder="Todos" class="select">
                                        <option value="">Todos</option>
                                        <option value="Respondido">Respondido</option><option value="Em Análise">Em Análise</option>
                                    </select>
                                </div>
                            </th>
        
                            <th><button class="btn btn-mini btn-primary" type="submit">Pesquisar</button></th>
                        </tr> 

                    </thead>
                    <tbody>
                        <?php if (sizeof($this->rows)==0) : ?>
                            <tr>
                                <td colspan="7">Nenhum registro foi encontrado!</td>
                            </tr>

                            <?php else : ?>
                                <?php foreach ($this->rows as $i=>$row) : ?>
                                    <tr>
                                        <input type="hidden" name=id[] value="<?php echo $row['id'] ?>" />
                                        <td><?= $row['id'] ?></td> 
                                        <?php 
                                                $solicitante = Usuarios::getUsuarioByIdFuncionarioHelper($row['idusuario'] );
                                                $local = Funcionariosgeraisescolas::getFuncionariogeralescolaByIdHelper($solicitante['idfuncionario']); 
                                        ?>  
                                        <td>
                                            <?php 
                                                if($row['idescola'] != 0){
                                                    echo Escolas::getEscolaByIdHelper($row['idescola'])['escola'];
                                                }else{
                                                    echo UsuariosPerfis::getPerfilByIdHelper($row['idperfil'])['perfil'];
                                                }
                                            ?>
                                        </td> 
                                        <td><?= $solicitante['nomerazao'] . ' ' . $solicitante['sobrenomefantasia']; ?></td>
                                        
                                        <?php $date = date_create($row['datacriacao']); ?>
                                        <td><?= date_format($date, 'd-m-Y H:i:s') ?></td>
                                        <td><?= $row['status'] ?></td>
                                        <td>
                                            <ul class="table-controls">
                                                <li>
                                                <a title="" class="btn tip" href="<?php echo $this->baseUrl() ?>/admin/<?php echo $this->getController() ?>/visualizar/id/<?php echo $row['id'] ?>/idusuario/<?php echo $row['idusuario'] ?>/codigosolicitacao/<?php echo $row['codigosolicitacao'] ?>" data-original-title="Visualizar">
                                                        <i class="icon-eye-open"></i>
                                                    </a>
                                                </li>
                                                <?php if (Mn_Util::isAccess($this->getController(), 'editar')) : ?>
                                                    <li>
                                                        <a title="" class="btn tip" href="<?php echo $this->baseUrl() ?>/admin/<?php echo $this->getController() ?>/editar/id/<?php echo $row['id'] ?>/idusuario/<?php echo $row['idusuario'] ?>/codigosolicitacao/<?php echo $row['codigosolicitacao'] ?>" data-original-title="Editar">
                                                            <i class="icon-pencil"></i>
                                                        </a>
                                                    </li>
                                                <?php endif;?>
                                                <?php if (Mn_Util::isAccess($this->getController(), 'excluir') AND $row['verificasolicitacao'] != 'respondido') : ?>
                                                    <li>
                                                        <a title="" class="btn tip" href="javascript:confirmDelete('<?= $row['id']; ?>','<?= $row['codigosolicitacao']; ?>', 'nº <?= $row['id']; ?>');" data-original-title="Excluir">
                                                            <i class="icon-remove"></i>
                                                        </a>
                                                    </li>
                                                <?php endif; ?> 
                                            </ul>
                                        </td>
                                    </tr>
                                    				 
                                <?php endforeach;?>

                            <?php endif; ?>

                        </tbody>
                    </table>
                </div>
                <?php echo $this->render('/helpers/paginator.phtml') ?>
                </form>
            </div>
            <!-- /table with footer -->
            
            

        </div>
        <!-- /content wrapper -->
        
    </div>
</div>
    <!-- content -->

    <script type="text/javascript" src="<?php echo $this->baseUrl('/public/scripts/admin/almoxarifadosolicitacoes_index.js') ?>"></script>
    <script type="text/javascript">
    </script>