		<!-- Content -->
		<div id="content">

		    <!-- Content wrapper -->
		    <div class="wrapper">

			    <!-- Breadcrumbs line -->
			    <div class="crumbs">
			    	<?php echo $this->render('/helpers/breadcrumb.phtml') ?>
			    </div>
			    <!-- /breadcrumbs line -->

			    <!-- Page header -->
			    <div class="page-header">
			    	<div class="page-title">
				    	<h5>Formulário do entrada</h5>
				    	<span>Verifique os campos e preencha com os dados</span>
			    	</div>
			    </div>
			    <!-- /page header -->

			    <?php if (isset($this->crudMessage)) : ?>
					<div class="alert alert-success">
	                	<button data-dismiss="alert" class="close" type="button">×</button>
	                    <strong>Operação realizada com sucesso!</strong>
		    			<span><br /><?php echo $this->crudMessage ?></span>
	                </div>			    
			    <?php endif; ?>

				<form id="form" name="form" action="" method="post" class="form-horizontal" enctype="multipart/form-data"> 
					<input type="hidden" value="<?php echo (isset($this->post_var)) ? $this->post_var["id"] : ''; ?>" name="id" id="id" />
					
					<fieldset>
						<!-- General form elements -->
						<div class="widget row-fluid">
						    <div class="navbar">
						        <div class="navbar-inner">
						            <h6>Digite as informações do formulário</h6>
						        </div>
						    </div>

						    <div class="well">
								<?php if (isset($this->erros)) : ?>
									<div class="alert alert-error margin">
				                        <button data-dismiss="alert" class="close" type="button">×</button>
				                        <strong>Há erros no formulário!</strong>
					    				<?php foreach ($this->erros as $k=>$v) : ?>
					    					<span><br />- <?php echo $v ?></span>
					    				<?php endforeach;?>			                        
				                    </div>
			                    <?php endif; ?>

				<div class="control-group">
					<label class="control-label">Data de entrada </label>
					<div class="controls"><input maxlength="500" placeholder="Data de entrada" name="dataentrada" value="<?php echo (isset($this->post_var['dataentrada'])) ? MN_Util::formPostVarData($this->post_var['dataentrada']) : '' ?>" type="text"  class="span3" /></div>
				</div>

				<div class="control-group">
					<label class="control-label">Fornecedor </label>
					<div class="controls">
		                <select name="idfornecedor" data-placeholder="Fornecedor" class="select">
							<option value="">Selecione...</option>
							<?php foreach (Fornecedores::getFornecedoresHelper(array('status'=>'Ativo')) as $k=>$v) : ?>
							<option value="<?php echo $v['id'] ?>"><?php echo $v['razaosocial'] ?></option>
							<?php endforeach;?>
						</select>
						
					</div>
				</div>

				<div class="control-group">
					<label class="control-label">Descrições </label>
					<div class="controls"><textarea class="span12" name="descricoes" cols="5" rows="5"><?php echo (isset($this->post_var)) ? $this->post_var["descricoes"] : ''; ?></textarea></div>
				</div>

				<div class="control-group">
					<label class="control-label">Data de emissão </label>
					<div class="controls"><input maxlength="500" placeholder="Data de emissão" name="dataemissao" value="<?php echo (isset($this->post_var['dataemissao'])) ? MN_Util::formPostVarData($this->post_var['dataemissao']) : '' ?>" type="text"  class="span3" /></div>
				</div>

				<div class="control-group">
					<label class="control-label">N. Nota Fiscal </label>
					<div class="controls"><input maxlength="500" placeholder="N. Nota Fiscal" name="nnotafiscal" value="<?php echo (isset($this->post_var['nnotafiscal'])) ? $this->post_var['nnotafiscal'] : '' ?>" type="text"  class="span3" /></div>
				</div>

				<div class="control-group">
					<label class="control-label">Produtos </label>
					<div class="controls itens">
						<table class="table table-primary mb30">
							<thead>
								<tr>
									<th colspan="12" align="center" style="text-align: center;">ITENS</th>
								</tr>
								<tr>
									<th>Cód.</th>
									<th>Produto</th>
									<th>Unid.</th>
									<th>Marca</th>
									<th>Valor unitário</th>
									<th>Quantidade</th>
									<th>Valor total</th>
									<th>Lote</th>
									<th>Fabricação</th>
									<th>Validade</th>
									<th>Observações</th>
									<th width="30">Ações</th>
								</tr>
							</thead>
							<tbody id="raiz">
								<?php if(isset($this->post_var['id'])) : ?>						
								<script type="text/javascript">

								$(document).ready(function() {

									<?php foreach (Almoxarifado_Escolassaidasitens::getEscolassaidasitens(array('idsaida'=>$this->post_var['id'], 'idescola'=>Escolasusuarios::getUsuario('idescola'))) as $k=>$v) : ?>
									<?php $entrada = 0;?>
									<?php $saida = 0;?>
									<?php $entrada = (int)Almoxarifado_Entradasitens::getQuantidadeByIdProdutoHelper($v['idproduto'], array('idescola'=>Escolasusuarios::getUsuario('idescola'))) ?>
									<?php $saida = (int)Almoxarifado_Escolassaidasitens::getQuantidadeByIdProdutoHelper($v['idproduto'], array('diferentidsaida'=>$this->post_var['id'])) ?>
									var item = new Object();
									item.id = '<?php echo $v['id'] ?>';
									item.idproduto = '<?php echo $v['idproduto'] ?>';
									item.estoque = '<?php echo $entrada - $saida; ?>';
									item.quantidade = '<?php echo $v['quantidade'] ?>';
									item.observacoes = '<?php echo $v['observacoes'] ?>';
									item.status = '<?php echo $v['status'] ?>';
									item.entrada = '<?php echo $entrada ?>';
									item.saida = '<?php echo $saida ?>';
									iteAddTr(item);
									<?php endforeach;?>

								});

								</script>	
								<?php endif;?>				
							</tbody>
							<?php if ((isset($this->visualizar)) && ($this->visualizar)) : ?>
							
							<?php else: ?>
							<tfoot>
								<tr>
									<td colspan="12" align="right" style="text-align:right !Important;"><input onclick="iteAddTr(false)" type="button" value="Adicionar" /></td>
								</tr>									
							</tfoot>
							<?php endif;?>
						</table>
					</div>
				</div>

				<div class="control-group">
					<label class="control-label">Recebido por </label>
					<div class="controls">
		                <select name="iddepartamentosecretaria" data-placeholder="Departamento" class="select">
							<option value="">Selecione...</option>
							<?php foreach (Departamentossecretarias::getDepartamentossecretariasHelper(array('status'=>'Ativo')) as $k=>$v) : ?>
							<option value="<?php echo $v['id'] ?>"><?php echo $v['departamento'] ?></option>
							<?php endforeach;?>
						</select>
						
					</div>
				</div>

				<div class="control-group" style="display: none;">
					<label class="control-label">Anexar XML </label>
					<div class="controls">
						<?php if ((isset($this->post_var['idxml'])) && ((int)$this->post_var['idxml']>0)) : ?>
							<?php echo $this->getArquivo($this->post_var['idxml']) ?>
						
							<?php if (!$this->visualizar) : ?>
								<div class="checkbox block">
									<label><input type="checkbox" name="excluir_idxml" value="excluir" /> Desejo excluir o arquivo</label>
								</div>
							<?php endif; ?>
						<?php endif; ?>
						
						<input placeholder="Documento" name="idxml" type="file"  />
					</div>
				</div>

				<div class="control-group">
					<label class="control-label">Anexar Nota Fiscal Frente </label>
					<div class="controls">
						<?php if ((isset($this->post_var['idnotafiscalfrente'])) && ((int)$this->post_var['idnotafiscalfrente']>0)) : ?>
							<?php echo $this->getImagem($this->post_var['idnotafiscalfrente'], 80, 80, '', Imagens::$INDISPONIVEL) ?>
					
							<?php if (!$this->visualizar) : ?>
								<div class="checkbox block">
									<label><input type="checkbox" name="excluir_idnotafiscalfrente" value="excluir_idnotafiscalfrente" /> Desejo excluir a imagem</label>
								</div>
							<?php endif; ?>
						<?php endif; ?>						            
					
						<input placeholder="Foto" name="idnotafiscalfrente" type="file"  />
					</div>
				</div>

				<div class="control-group">
					<label class="control-label">Anexar Nota Fiscal Verso </label>
					<div class="controls">
						<?php if ((isset($this->post_var['idnotafiscalverso'])) && ((int)$this->post_var['idnotafiscalverso']>0)) : ?>
							<?php echo $this->getImagem($this->post_var['idnotafiscalverso'], 80, 80, '', Imagens::$INDISPONIVEL) ?>
					
							<?php if (!$this->visualizar) : ?>
								<div class="checkbox block">
									<label><input type="checkbox" name="excluir_idnotafiscalverso" value="excluir_idnotafiscalverso" /> Desejo excluir a imagem</label>
								</div>
							<?php endif; ?>
						<?php endif; ?>						            
					
						<input placeholder="Foto" name="idnotafiscalverso" type="file"  />
					</div>
				</div>	

				<div class="control-group">
					<label class="control-label">Aprovação </label>
					<div class="controls">
						<select name="aprovacao" data-placeholder="Aprovação" class="select">
							<option value="">Selecione...</option>
							<option value="Sim">Sim</option><option value="Não">Não</option>
						</select>
						
					</div>
				</div>

				<div class="control-group">
					<label class="control-label">Processo </label>
					<div class="controls"><input maxlength="500" placeholder="Processo" name="processo" value="<?php echo (isset($this->post_var['processo'])) ? $this->post_var['processo'] : '' ?>" type="text"  class="span3" /></div>
				</div>

				<div class="control-group">
					<label class="control-label">Pedido </label>
					<div class="controls"><input maxlength="500" placeholder="Pedido" name="pedido" value="<?php echo (isset($this->post_var['pedido'])) ? $this->post_var['pedido'] : '' ?>" type="text"  class="span3" /></div>
				</div>

				<div class="control-group">
					<label class="control-label">Tipo de Modalidade </label>
					<div class="controls"><input maxlength="500" placeholder="Tipo de Modalidade" name="tipomodalidade" value="<?php echo (isset($this->post_var['tipomodalidade'])) ? $this->post_var['tipomodalidade'] : '' ?>" type="text"  class="span3" /></div>
				</div>

				<div class="control-group">
					<label class="control-label">Número Modalidade </label>
					<div class="controls"><input maxlength="500" placeholder="Número Modalidade" name="nmrmodalidade" value="<?php echo (isset($this->post_var['nmrmodalidade'])) ? $this->post_var['nmrmodalidade'] : '' ?>" type="text"  class="span3" /></div>
				</div>

<!-- 				<div class="control-group">
					<label class="control-label">Confirmar Aprovação </label>
					<div class="controls">
						<select name="confirmaaprovacao" data-placeholder="Confirmar Aprovação" class="select">
							<option value="">Selecione...</option>
							<option value="Sim">Sim</option><option value="Não">Não</option>
						</select>
						
					</div>
				</div> -->

<?php /*?>
				<div class="control-group">
					<label class="control-label">Escola </label>
					<div class="controls">
		                <select name="idescola" data-placeholder="Escola" class="select">
							<option value="">Selecione...</option>
							<?php foreach (Escolas::getEscolasHelper(array('status'=>'Ativo')) as $k=>$v) : ?>
							<option value="<?php echo $v['id'] ?>"><?php echo $v['escola'] ?></option>
							<?php endforeach;?>
						</select>
						
					</div>
				</div>


				<div class="control-group">
					<label class="control-label">Departamento </label>
					<div class="controls">
		                <select name="iddepartamentoescola" data-placeholder="Departamento" class="select">
							<option value="">Selecione...</option>
							<?php foreach (Departamentosescolas::getDepartamentosescolasHelper(array('status'=>'Ativo')) as $k=>$v) : ?>
							<option value="<?php echo $v['id'] ?>"><?php echo $v['secretaria'] ?></option>
							<?php endforeach;?>
						</select>
						
					</div>
				</div>

<?php */ ?>
				<div class="control-group">
					<label class="control-label">Status <span class="required">*</span></label>
					<div class="controls">
						<select name="status1" data-placeholder="Status" class="select">
							<option value="">Selecione...</option>
							<option value="Ativo">Ativo</option><option value="Bloqueado">Bloqueado</option>
						</select>
						
					</div>
				</div>

						    
						    
						    </div>
						    
			                <div class="form-actions align-right">
			                	<?php if ((isset($this->visualizar)) && ($this->visualizar)) : ?>
			                		<button onclick="window.history.back()" class="btn btn-danger cancelar" type="button">Voltar</button>
			                	<?php else : ?>
				                	<button class="btn btn-primary enviar" type="submit">Salvar</button>
				                	<button onclick="window.history.back()" class="btn btn-danger cancelar" type="button">Cancelar</button>
			                	<?php endif; ?>
			                </div>
						</div>
						<!-- /general form elements -->

					</fieldset> 

				</form>
				<!-- /basic inputs -->

		    </div>
		    <!-- /content wrapper -->

		</div>
		<!-- content -->
				
<script type="text/javascript" src="<?php echo $this->baseUrl('/public/scripts/admin/almoxarifadoentradas_form.js') ?>"></script>
<script type="text/javascript">
	var form_values = {};
	
	<?php if (isset($this->post_var)) :  ?>

		form_values.idsecretaria = '<?php echo (isset($this->post_var['idsecretaria'])) ? $this->post_var['idsecretaria'] : '' ?>';

		form_values.aprovacao = '<?php echo (isset($this->post_var['aprovacao'])) ? $this->post_var['aprovacao'] : '' ?>';

		form_values.confirmaaprovacao = '<?php echo (isset($this->post_var['confirmaaprovacao'])) ? $this->post_var['confirmaaprovacao'] : '' ?>';

		form_values.iddepartamentosecretaria = '<?php echo (isset($this->post_var['iddepartamentosecretaria'])) ? $this->post_var['iddepartamentosecretaria'] : '' ?>';

		form_values.idescola = '<?php echo (isset($this->post_var['idescola'])) ? $this->post_var['idescola'] : '' ?>';

		form_values.iddepartamentoescola = '<?php echo (isset($this->post_var['iddepartamentoescola'])) ? $this->post_var['iddepartamentoescola'] : '' ?>';

		form_values.status1 = '<?php echo (isset($this->post_var['status1'])) ? $this->post_var['status1'] : $this->post_var['status'] ?>';

		form_value.idfornecedor = '<?php echo (isset($this->post_var['idfornecedor'])) ? $this->post_var['idfornecedor'] : '' ?>';
	
	<?php endif; ?>

	visualizar = <?php echo  ((isset($this->visualizar)) && ($this->visualizar))  ? 'true' : 'false' ?>;


	var produtos = new Array();
	<?php foreach ($this->produtos as $ip=>$produto) : ?>
	var produto = {};
	produto.id = '<?php echo $produto['id'] ?>';
	produto.produto = '<?php echo $produto['produto'] ?>';
	produtos.push(produto);
	<?php endforeach;?>

	var fornecedores = new Array();
	<?php foreach ($this->fornecedores as $ip=>$fornecedor) : ?>
	var fornecedor = {};
	fornecedor.id = '<?php echo $fornecedor['id'] ?>';
	fornecedor.fornecedor = '<?php echo $fornecedor['razaosocial'] ?>';
	fornecedores.push(fornecedor);
	<?php endforeach;?>
</script>
