<style type="text/css">

.fc-event-skin { border-color: #596772; background-color: #4D6474; color: #fff; display: block; padding: 2px 0 2px 0; font-size: 11px; margin-top: 1px; }
.fc-event-inner { position: relative; width: 100%; height: 100%; border-style: solid; border-width: 0; overflow: hidden; }
.fc-event-time, .fc-event-title { padding: 0 2px 1px 8px; display: block; float: left; line-height: 16px; } 
.fc .ui-resizable-handle { display: block; position: absolute; z-index: 99999; overflow: hidden; font-size: 300%; line-height: 50%; }

.form-group {
    margin-top: 7px;
    margin-bottom: 7px;
}

.form-control {
    border-radius: 8px;
}

.control-label {
    font-weight: bold;
}

.md-btn {
    margin-left: 0;
    margin-right: 0;
}

#ltecalendar {
    max-width: 900px;
    margin: 0 auto;
}

#excluir {
    float: right;
}

#cancelar {
    float: right;
}

.switch {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 17px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 13px;
  width: 13px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(13px);
  -ms-transform: translateX(13px);
  transform: translateX(13px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 17px;
}

.slider.round:before {
  border-radius: 50%;
}

.fc-sat, .fc-sun {
    background-color: #E0FFFF;
}
</style>
<!-- Content -->
<div id="content">

    <!-- Content wrapper -->
    <div class="wrapper">

        <!-- Breadcrumbs line -->
        <div class="crumbs">
            <?php echo $this->render('/helpers/breadcrumb.phtml') ?>
        </div>
        <!-- /breadcrumbs line -->

        <!-- Page header -->
        <div class="page-header">
            <div class="page-title">
                <h5>Calendário</h5>
                <span>Municipal e Estadual</span>
            </div>

        </div>
        <!-- /page header -->

        <!-- Table with footer -->
        <div class="widget">
            <div class="container">
                <?php
                if(isset($_SESSION['msg'])){
                    echo $_SESSION['msg'];
                    unset($_SESSION['msg']);
                }
                ?>

                <div id='ltecalendar'></div>
            </div>

            <div class="modal fade" id="visualizar" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title text-center">Dados do Evento</h4>
                        </div>
                        <div class="modal-body">
                            <input type="hidden" name="id-event" id="id-event">
                            <input type="hidden" name="title-event" id="title-event">
                            <dl class="dl-horizontal">
                                <dt>ID do Evento</dt>
                                <dd id="id"></dd>
                                <dt>Titulo do Evento</dt>
                                <dd id="title"></dd>
                                <dt>Inicio do Evento</dt>
                                <dd id="start"></dd>
                                <dt>Fim do Evento</dt>
                                <dd id="end"></dd>
                                <dt>Municipal</dt>
                                <dd id="municipal"></dd>
                                <dt>Estadual</dt>
                                <dd id="estadual"></dd>
                                <button class="btn btn-primary form-control" id="sair" data-dismiss="modal">Sair</button>
                                <button class="btn btn-danger form-control" id="excluir" onclick="excluirEvento(this)">Excluir</button>
                            </dl>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal fade" id="cadastrar" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" data-backdrop="static">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title text-center">Cadastrar Evento</h4>
                        </div>
                        <div class="modal-body">
                            <form id="form-event" name="form-event" action="" method="post" class="form-horizontal" enctype="multipart/form-data">
                                <div class="form-group">
                                    <label for="inputEmail3" class="col-sm-2 control-label">Titulo</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" name="title" id="title" placeholder="Titulo do Evento">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="inputEmail3" class="col-sm-2 control-label">Cor</label>
                                    <div class="col-sm-10">
                                        <select name="color" class="form-control" id="color">
                                            <option value="">Selecione</option>         
                                            <option style="color:#FFD700;" value="#FFD700">Amarelo</option>
                                            <option style="color:#0071c5;" value="#0071c5">Azul Turquesa</option>
                                            <option style="color:#FF4500;" value="#FF4500">Laranja</option>
                                            <option style="color:#8B4513;" value="#8B4513">Marrom</option>  
                                            <option style="color:#1C1C1C;" value="#1C1C1C">Preto</option>
                                            <option style="color:#436EEE;" value="#436EEE">Royal Blue</option>
                                            <option style="color:#A020F0;" value="#A020F0">Roxo</option>
                                            <option style="color:#40E0D0;" value="#40E0D0">Turquesa</option>                                        
                                            <option style="color:#228B22;" value="#228B22">Verde</option>
                                            <option style="color:#8B0000;" value="#8B0000">Vermelho</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="inputEmail3" class="col-sm-2 control-label">Data Inicial</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" name="start" id="start" onKeyPress="DataHora(event, this)">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="inputEmail3" class="col-sm-2 control-label">Data Final</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" name="end" id="end" onKeyPress="DataHora(event, this)">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="inputEmail3" class="col-sm-2 control-label">Municipal</label>
                                    <div class="col-sm-10">
                                        <label class="switch">
                                            <input type="checkbox" name="municipal-cb" id="municipal-cb" checked="true" class="checkbox">
                                            <span class="slider round"></span>
                                        </label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="inputEmail3" class="col-sm-2 control-label">Estadual</label>
                                    <div class="col-sm-10">
                                        <label class="switch">
                                            <input type="checkbox" name="estadual-cb" id="estadual-cb" checked="true" class="checkbox">
                                            <span class="slider round"></span>
                                        </label>
                                    </div>
                                </div>
                                <div class="">
                                    <div class="md-btn">
                                        <button class="btn btn-primary form-control" id="salvar">Cadastrar</button>
                                        <button class="btn btn-danger form-control" id="cancelar" data-dismiss="modal">Cancelar</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /table with footer -->
    </div>
    <!-- /content wrapper -->
</div>
<!-- content -->

<script type="text/javascript" src="<?php echo $this->baseUrl('/public/scripts/moment.min.js') ?>"></script>
<script type="text/javascript" src="<?php echo $this->baseUrl('/public/scripts/admin/ltecalendario_index.js') ?>"></script>
<script>
    $(document).ready(function() {
        $('#ltecalendar').fullCalendar({
            header: {
                left: 'prev,next today',
                center: 'title',
                right: 'month,agendaWeek,agendaDay'
            },
            ignoreTimezone: false,
            monthNames: ['Janeiro', 'Fevereiro', 'Março', 'Abril', 'Maio', 'Junho', 'Julho', 'Agosto', 'Setembro', 'Outubro', 'Novembro', 'Dezembro'],
            monthNamesShort: ['Jan', 'Fev', 'Mar', 'Abr', 'Mai', 'Jun', 'Jul', 'Ago', 'Set', 'Out', 'Nov', 'Dez'],
            dayNames: ['Domingo', 'Segunda', 'Terça', 'Quarta', 'Quinta', 'Sexta', 'Sabado'],
            dayNamesShort: ['Dom', 'Seg', 'Ter', 'Qua', 'Qui', 'Sex', 'Sab'],
            titleFormat: {
                month: 'MMMM yyyy',
                week: "d[ MMMM][ yyyy]{ - d MMMM yyyy}",
                day: 'dddd, d MMMM yyyy'
            },
            columnFormat: {
                month: 'ddd',
                week: 'ddd d',
                day: ''
            },
            axisFormat: 'H:mm',
            timeFormat: {
                '': 'H:mm',
                agenda: 'H:mm{ - H:mm}'
            },
            buttonText: {
                prev: "&nbsp;&#9668;&nbsp;",
                next: "&nbsp;&#9658;&nbsp;",
                prevYear: "&nbsp;&lt;&lt;&nbsp;",
                nextYear: "&nbsp;&gt;&gt;&nbsp;",
                today: "Hoje",
                month: "Mês",
                week: "Semana",
                day: "Dia"
            },
            defaultDate: Date(),
                navLinks: true, // can click day/week names to navigate views
                editable: true,
                eventLimit: true, // allow "more" link when too many events
                eventClick: function(event) {

                    $('#visualizar #id').text(event.id);
                    $('#visualizar #id-event').val(event.id);
                    $('#visualizar #title').text(event.title);
                    $('#visualizar #title-event').val(event.title);
                    $('#visualizar #start').text(moment(event.start).format('DD/MM/YYYY HH:mm:ss'));
                    $('#visualizar #end').text(moment(event.end).format('DD/MM/YYYY HH:mm:ss'));
                    $('#visualizar #municipal').text(event.municipal);
                    $('#visualizar #estadual').text(event.estadual);
                    // $('#visualizar #start').text(moment(event.start).format('DD/MM/YYYY'));
                    // $('#visualizar #end').text(moment(event.end).format('DD/MM/YYYY'));
                    $('#visualizar').modal('show');
                    return false;

                },

                selectable: true,
                selectHelper: true,
                select: function(start, end){
                    // $('#cadastrar #start').val(moment(start).format('DD/MM/YYYY HH:mm:ss'));
                    // $('#cadastrar #end').val(moment(end).format('DD/MM/YYYY HH:mm:ss'));
                    $('#cadastrar #start').val(moment(start).format('DD/MM/YYYY'));
                    $('#cadastrar #end').val(moment(end).format('DD/MM/YYYY'));
                    $('#cadastrar').modal('show');                      
                },
                events: [
                <?php foreach ($this->rows as $i=>$row) : ?>
                    {
                        id: '<?php echo $row['id']; ?>',
                        title: '<?php echo $row['title']; ?>',
                        start: '<?php echo $row['start']; ?>',
                        end: '<?php echo $row['end']; ?>',
                        color: '<?php echo $row['color']; ?>',
                        municipal: '<?php echo $row['municipal'] == 'sim' ? 'Sim' : 'Não'; ?>',
                        estadual: '<?php echo $row['estadual'] == 'sim' ? 'Sim' : 'Não'; ?>',
                    },
                <?php endforeach; ?>
                ]
            });
    });
</script>