<style type="text/css">
    .font16{ font-size:1em; font-family: 'Helvetica, sans-serif'; }
    .font14{ font-size:14px; font-family: 'Helvetica, sans-serif'; }
    .font18{ font-size:1.3em; font-family: 'Helvetica, sans-serif'; }
    .font20{ font-size:1.5em; font-family: 'Helvetica, sans-serif'; }
    .black{ color:#000; }
    .white{ color:#fff; }
    .gray{ color:#ccc; }
    .red{ color:#ff0000; }
    .textleft{ text-align: left; }
    .textright{ text-align: right; }
    .left{ float: left }
    .textcenter{text-align: center; }
    .padding5{ padding: 5px; }
    .margin10 {margin-top:50px; display: block;}
    .textjustify { text-align: justify; }
</style>
<br><br>
<table class="textleft margin10">
    <tr class="margin10">
        <td ><h3 style="margin-top: 15px;" class="padding5">Termos de Baixa do Bem</h3></td>
    </tr>
</table>
<br>
<table class="left font16 padding5" style="border: 1px solid black; ">
    <tr>
        <td colspan="2" class="black"><b>Local :</b> <?php echo (isset($this->perfil))?$this->perfil : '--'; ?><?php echo (isset($this->escola)) ? ' - <b>Escola :</b> '.$this->escola : '' ?></td>
    </tr>   
</table>
<br>
<table class="left font16 padding5">
    <tr>
        <td colspan="1" class="black"><b>N° Patrimônio</b></td>
        <td colspan="1" class="black"><b>Patrimônio</b></td>        
    </tr>
    <tr>
        <td colspan="1" ><?php echo (isset($this->numeropatrimonio)) ? $this->numeropatrimonio : '--'; ?></td>
        <td colspan="1" ><?php echo (isset($this->patrimonio)) ? $this->patrimonio : '--'; ?></td>       
    </tr>
</table>
<br>
<table>
    <tr><td class="black"><b>Descrição do bem</b></td></tr>
    <tr><td class="font16"><?php echo (isset($this->descricoesdobem)) ? $this->descricoesdobem : '--'; ?></td>
    </tr>
</table>
<br>
<table>
    <?php 
    $motivo = $this->motivo;
    ?>
    <tr>
        <td class="red font16"><b>Motivo da baixa</b></td>
        <?php if($motivo==3):?>
        <td class="black font16"><b>N° do boletim</b></td>
        <?php endif; ?>
    </tr>
    <tr>
        <td class="font16"><?php echo (isset($this->razao)) ? $this->razao : '--'; ?></td>
        <?php if($motivo==3):?>
        <td class="font16"><?php echo (isset($this->numeroboletim)) ? $this->numeroboletim : '--'; ?></td>
        <?php endif; ?>
    </tr>
</table>
<br><br>
<table>
    <tr><td class="black"><b>Observação</b></td></tr>
    <tr><td class="font16"><?php echo (isset($this->observacoes)) ? $this->observacoes : '--'; ?></td>
    </tr>
</table>
<br><br><br><br>
<table>
    <tr>
        <td class="font18 textjustify">
            Venho por meio deste, solicitar a baixa do bem acima, o qual está registrado no sistema de controle patrimonial e está sob minha responsabilidade.
            <br><br><br>
            Atenciosamente
        </td>
    </tr>
</table>
<br>
<table class="textright" style="display: block;">
    <tr>
        <td class="font18 left"><?php echo (isset($this->localData)) ? $this->localData : ''?></td>
    </tr>
</table>
<br><br>
<table>
    <span class="font20">Responsável Atual</span>
    <br><br>
    <br><br>
    <tr>
        <td class="font18">Nome: __________________________</td>
        <td class="font18">RGF : __________________________</td>
    </tr>
</table>
<br>
<br><br>
<br>
<table style="display: block;">
    <tr>
        <td class="font18">_________________________</td>
    </tr>
     <tr>
        <td class="font18">ASSINATURA E CARIMBO</td>
    </tr>
</table>



