
<div class="navbar">
    <div class="navbar-inner">
        <h6 class="title-accordion">
			<a class="click_acc" data-toggle="collapse" data-parent="#accordion" href="#collapse11">
				Credenciamentos
			</a>
        </h6>
    </div>
</div>



<div id="collapse11" class="content-height panel-collapse collapse in">	

								<div class="control-group">
				        			<label class="control-label">RGF *</label>
				        			<div class="controls">
				        				<input name="rgf" value="<?php echo (isset($this->post_var['rgf'])) ? $this->post_var['rgf'] : '' ?>" type="text" class="span3" placeholder="RGF">
									</div>
								</div>												
						        
				        		<div class="control-group">
				        			<label class="control-label">É Professor ?*</label>
				        			<div class="controls">
				        				<select id="professor" name="professor" class="form-control" onchange="setCamposUser(this, '')">
				        					<option value="">Selecione...</option>
				        					<option value="Sim">Sim</option>
				        					<option value="Não">Não</option>
										</select>        				
									</div>
								</div>
	
				
						        <div class="control-group">
						            <label class="control-label">Senha <?php if ($this->getAction()=='adicionar') : ?><span class="required">*</span><?php endif;?></label>
						            <div class="controls"><input autocomplete="off" name="senha" placeholder="Senha" value="" type="password" name="regular" class="span3" /></div>
						        </div>			

						        <div class="control-group">
						            <label class="control-label">Confirme a senha <?php if ($this->getAction()=='adicionar') : ?><span class="required">*</span><?php endif;?></label>
						            <div class="controls"><input autocomplete="off" name="resenha" placeholder="Confirme a senha" value="" type="password" name="regular" class="span3" /></div>
						        </div>					
				

				        		
		        <?php /* ?>
				<div class="control-group campos_professores" style="display:none;">
        			<label class="control-label">Escolas *</label>
        			<div class="controls">
        				<input type="hidden" value="<?php echo (isset($this->post_var_professor)) ? $this->post_var_professor["idperfil"] : ''; ?>" name="idperfilprofessor" id="idperfilprofessor" />
        				<input type="hidden" value="<?php echo (isset($this->post_var_professor)) ? $this->post_var_professor["iddepartamento"] : ''; ?>" name="iddepartamentoprofessor" id="iddepartamentoprofessor" />
        				<input type="hidden" value="<?php echo (isset($this->post_var_professor)) ? $this->post_var_professor["idcargo"] : ''; ?>" name="idcargoprofessor" id="idcargoprofessor" />
        				<?php foreach ($this->escolas as $k=>$v) : ?>
        				<input type="checkbox" value="<?php echo $v['id'] ?>" name="idescolas[]" /> <?php echo $v['escola'] ?><br />
        				<?php endforeach; ?>      				
					</div>
				</div>
        		<?php */ ?>
	        	<div class="campos_nao_professores" style="display:none;">
	        		<?php /*/ ?>	
	        		<div class="control-group">
	        			<label class="control-label">Escola *</label>
	        			<div class="controls">
	        				<select id="idescola" name="idescola" class="form-control" onchange="setPerfil(this, 0)">
	        					<option value="">Selecione...</option>
	        					<?php foreach ($this->escolas as $e=>$escola) : ?>
	        					<option value="<?php echo $escola['id'] ?>"><?php echo $escola['escola'] ?></option>
	        					<?php endforeach;?>
							</select>        				
						</div>
					</div>			
					<?php */ ?>
								<div class="control-group">
				        			<label class="control-label">Envia e-mails para</label>
				        			<div class="controls">
				        				<select id="professor" name="enviaemails" class="form-control" onchange="setDepartamentos(this, '')">
				        					<option value="">Selecione...</option>
				        					<option value="Rede municipal de ensino">Rede municipal de ensino</option>
				        					<option value="Professor">Professor</option>
				        					<option value="Departamentos">Departamentos</option>
										</select>        				
									</div>
								</div>
								<div class="control-group campos_departamentos" style="display:none;">
				        			<label class="control-label">Departamentos</label>
				        			<div class="controls content_departamentos">
				           				
									</div>
								</div>

	        		<div class="control-group">
	        			<label class="control-label">Perfil de acesso *</label>
	        			<div class="controls">
	        				<select id="idperfil" name="idperfil" class="form-control">
	        					<option value="">Selecione...</option>
								<?php foreach ($this->perfis as $i=>$row) : ?>
								<option value="<?php echo $row['id'] ?>"><?php echo $row['perfil'] ?></option>
								<?php endforeach;?>
							</select>        				
						</div>
					</div>
					<?php /*?>
	        		<div class="control-group">
	        			<label class="control-label">Departamento *</label>
	        			<div class="controls">
	        				<select id="iddepartamento" name="iddepartamento" class="form-control" onchange="setCargo(this, 0)">
	        					<option value="">Selecione...</option>
	        					<?php foreach ($this->departamentos as $d=>$departamento) : ?>
	        					<option value="<?php echo $departamento['id'] ?>"><?php echo $departamento['departamento'] ?></option>
	        					<?php endforeach;?>
							</select>        				
						</div>
					</div>	
					
	        		<div class="control-group">
	        			<label class="control-label">Cargo *</label>
	        			<div class="controls">
	        				<select id="idcargo" name="idcargo" class="form-control">
	        					<option value="">Selecione...</option>
							</select>        				
						</div>
					</div>
					<?php ?><?php */ ?>
				</div>	

</div>
