<div class="navbar">
    <div class="navbar-inner">
        <h6 class="title-accordion">
            <a class="click_acc" data-toggle="collapse" data-parent="#accordion" href="#collapse2">
                Ácidos graxos
            </a>
        </h6>
    </div>
</div>

<div id="collapse2" class="content-height panel-collapse collapse in">

    <div class="control-group"> 
     <label class="control-label">Saturados (g) </label> 
      <div class="controls"> 
      <input name="saturados_g" value="<?php echo (isset($this->post_var)) ? $this->post_var['saturados_g'] :''; ?>" type="text" placeholder="saturados_g" class="span3" /> 
     </div> 
    </div>

    <div class="control-group"> 
     <label class="control-label">Mono-insaturados (g) </label> 
      <div class="controls"> 
      <input name="mono_insaturados_g" value="<?php echo (isset($this->post_var)) ? $this->post_var['mono_insaturados_g'] :''; ?>" type="text" placeholder="mono_insaturados_g" class="span3" /> 
     </div> 
    </div>

    <div class="control-group"> 
     <label class="control-label">Poli-insaturados (g) </label> 
      <div class="controls"> 
      <input name="poli_insaturados_g" value="<?php echo (isset($this->post_var)) ? $this->post_var['poli_insaturados_g'] :''; ?>" type="text" placeholder="poli_insaturados_g" class="span3" /> 
     </div> 
    </div>

    <div class="control-group"> 
     <label class="control-label">12:0 (g) </label> 
      <div class="controls"> 
      <input name="c12_0_g" value="<?php echo (isset($this->post_var)) ? $this->post_var['c12_0_g'] :''; ?>" type="text" placeholder="c12_0_g" class="span3" /> 
     </div> 
    </div>

    <div class="control-group"> 
     <label class="control-label">14:0 (g) </label> 
      <div class="controls"> 
      <input name="c14_0_g" value="<?php echo (isset($this->post_var)) ? $this->post_var['c14_0_g'] :''; ?>" type="text" placeholder="c14_0_g" class="span3" /> 
     </div> 
    </div>

    <div class="control-group"> 
     <label class="control-label">16:0 (g) </label> 
      <div class="controls"> 
      <input name="c16_0_g" value="<?php echo (isset($this->post_var)) ? $this->post_var['c16_0_g'] :''; ?>" type="text" placeholder="c16_0_g" class="span3" /> 
     </div> 
    </div>

    <div class="control-group"> 
     <label class="control-label">18:0 (g) </label> 
      <div class="controls"> 
      <input name="c18_0_g" value="<?php echo (isset($this->post_var)) ? $this->post_var['c18_0_g'] :''; ?>" type="text" placeholder="c18_0_g" class="span3" /> 
     </div> 
    </div>

    <div class="control-group"> 
     <label class="control-label">20:0 (g) </label> 
      <div class="controls"> 
      <input name="c20_0_g" value="<?php echo (isset($this->post_var)) ? $this->post_var['c20_0_g'] :''; ?>" type="text" placeholder="c20_0_g" class="span3" /> 
     </div> 
    </div>

    <div class="control-group"> 
     <label class="control-label">22:0 (g) </label> 
      <div class="controls"> 
      <input name="c22_0_g" value="<?php echo (isset($this->post_var)) ? $this->post_var['c22_0_g'] :''; ?>" type="text" placeholder="c22_0_g" class="span3" /> 
     </div> 
    </div>

    <div class="control-group"> 
     <label class="control-label">24:0 (g) </label> 
      <div class="controls"> 
      <input name="c24_0_g" value="<?php echo (isset($this->post_var)) ? $this->post_var['c24_0_g'] :''; ?>" type="text" placeholder="c24_0_g" class="span3" /> 
     </div> 
    </div>

    <div class="control-group"> 
     <label class="control-label">14:1 (g) </label> 
      <div class="controls"> 
      <input name="c14_1_g" value="<?php echo (isset($this->post_var)) ? $this->post_var['c14_1_g'] :''; ?>" type="text" placeholder="c14_1_g" class="span3" /> 
     </div> 
    </div>

    <div class="control-group"> 
     <label class="control-label">16:1 (g) </label> 
      <div class="controls"> 
      <input name="c16_1_g" value="<?php echo (isset($this->post_var)) ? $this->post_var['c16_1_g'] :''; ?>" type="text" placeholder="c16_1_g" class="span3" /> 
     </div> 
    </div>

    <div class="control-group"> 
     <label class="control-label">18:1 (g) </label> 
      <div class="controls"> 
      <input name="c18_1_g" value="<?php echo (isset($this->post_var)) ? $this->post_var['c18_1_g'] :''; ?>" type="text" placeholder="c18_1_g" class="span3" /> 
     </div> 
    </div>

    <div class="control-group"> 
     <label class="control-label">20:1 (g) </label> 
      <div class="controls"> 
      <input name="c20_1_g" value="<?php echo (isset($this->post_var)) ? $this->post_var['c20_1_g'] :''; ?>" type="text" placeholder="c20_1_g" class="span3" /> 
     </div> 
    </div>

    <div class="control-group"> 
     <label class="control-label">18:2 n-6 (g) </label> 
      <div class="controls"> 
      <input name="c18_2_n_6_g" value="<?php echo (isset($this->post_var)) ? $this->post_var['c18_2_n_6_g'] :''; ?>" type="text" placeholder="c18_2_n_6_g" class="span3" /> 
     </div> 
    </div>

    <div class="control-group"> 
     <label class="control-label">18:3 n-3 (g) </label> 
      <div class="controls"> 
      <input name="c18_3_n_3_g" value="<?php echo (isset($this->post_var)) ? $this->post_var['c18_3_n_3_g'] :''; ?>" type="text" placeholder="c18_3_n_3_g" class="span3" /> 
     </div> 
    </div>

    <div class="control-group"> 
     <label class="control-label">20:4 (g) </label> 
      <div class="controls"> 
      <input name="c20_4_g" value="<?php echo (isset($this->post_var)) ? $this->post_var['c20_4_g'] :''; ?>" type="text" placeholder="c20_4_g" class="span3" /> 
     </div> 
    </div>

    <div class="control-group"> 
     <label class="control-label">20:5 (g) </label> 
      <div class="controls"> 
      <input name="c20_5_g" value="<?php echo (isset($this->post_var)) ? $this->post_var['c20_5_g'] :''; ?>" type="text" placeholder="c20_5_g" class="span3" /> 
     </div> 
    </div>

    <div class="control-group"> 
     <label class="control-label">22:5 (g) </label> 
      <div class="controls"> 
      <input name="c22_5_g" value="<?php echo (isset($this->post_var)) ? $this->post_var['c22_5_g'] :''; ?>" type="text" placeholder="c22_5_g" class="span3" /> 
     </div> 
    </div>

    <div class="control-group"> 
     <label class="control-label">22:6 (g) </label> 
      <div class="controls"> 
      <input name="c22_6_g" value="<?php echo (isset($this->post_var)) ? $this->post_var['c22_6_g'] :''; ?>" type="text" placeholder="c22_6_g" class="span3" /> 
     </div> 
    </div>

    <div class="control-group"> 
     <label class="control-label">18:1t (g) </label> 
      <div class="controls"> 
      <input name="c18_1t_g" value="<?php echo (isset($this->post_var)) ? $this->post_var['c18_1t_g'] :''; ?>" type="text" placeholder="c18_1t_g" class="span3" /> 
     </div> 
    </div>

    <div class="control-group"> 
     <label class="control-label">18:2t (g) </label> 
      <div class="controls"> 
      <input name="c18_2t_g" value="<?php echo (isset($this->post_var)) ? $this->post_var['c18_2t_g'] :''; ?>" type="text" placeholder="c18_2t_g" class="span3" /> 
     </div> 
    </div>

</div>