<div class="navbar">
    <div class="navbar-inner">
        <h6 class="title-accordion">
            <a class="click_acc" data-toggle="collapse" data-parent="#accordion" href="#collapse1">
                Centesimal, minerais, vitaminas e colesterol 
            </a>
        </h6>
    </div>
</div>

<div id="collapse1" class="content-height panel-collapse collapse in">

    <div class="control-group"> 
     <label class="control-label">Umidade % </label> 
      <div class="controls"> 
      <input name="umidade_perc" value="<?php echo (isset($this->post_var)) ? $this->post_var['umidade_perc'] :''; ?>" type="text" placeholder="umidade_perc" class="span3" /> 
     </div> 
    </div>

    <div class="control-group"> 
     <label class="control-label">Energia (kcal) </label> 
      <div class="controls"> 
      <input name="energia_kcal" value="<?php echo (isset($this->post_var)) ? $this->post_var['energia_kcal'] :''; ?>" type="text" placeholder="energia_kcal" class="span3" /> 
     </div> 
    </div>

    <div class="control-group"> 
     <label class="control-label">Energia (kJ) </label> 
      <div class="controls"> 
      <input name="energia_kj" value="<?php echo (isset($this->post_var)) ? $this->post_var['energia_kj'] :''; ?>" type="text" placeholder="energia_kj" class="span3" /> 
     </div> 
    </div>

    <div class="control-group"> 
     <label class="control-label">Proteína (g) </label> 
      <div class="controls"> 
      <input name="proteina_g" value="<?php echo (isset($this->post_var)) ? $this->post_var['proteina_g'] :''; ?>" type="text" placeholder="proteina_g" class="span3" /> 
     </div> 
    </div>

    <div class="control-group"> 
     <label class="control-label">Lipídeos (g) </label> 
      <div class="controls"> 
      <input name="lipideos_g" value="<?php echo (isset($this->post_var)) ? $this->post_var['lipideos_g'] :''; ?>" type="text" placeholder="lipideos_g" class="span3" /> 
     </div> 
    </div>

    <div class="control-group"> 
     <label class="control-label">Colesterol (mg) </label> 
      <div class="controls"> 
      <input name="colesterol_mg" value="<?php echo (isset($this->post_var)) ? $this->post_var['colesterol_mg'] :''; ?>" type="text" placeholder="colesterol_mg" class="span3" /> 
     </div> 
    </div>

    <div class="control-group"> 
     <label class="control-label">Carboidrato (g) </label> 
      <div class="controls"> 
      <input name="carboidrato_g" value="<?php echo (isset($this->post_var)) ? $this->post_var['carboidrato_g'] :''; ?>" type="text" placeholder="carboidrato_g" class="span3" /> 
     </div> 
    </div>

    <div class="control-group"> 
     <label class="control-label">Fibra alimentar (g) </label> 
      <div class="controls"> 
      <input name="fibra_alimentar_g" value="<?php echo (isset($this->post_var)) ? $this->post_var['fibra_alimentar_g'] :''; ?>" type="text" placeholder="fibra_alimentar_g" class="span3" /> 
     </div> 
    </div>

    <div class="control-group"> 
     <label class="control-label">Cinzas (g) </label> 
      <div class="controls"> 
      <input name="cinzas_g" value="<?php echo (isset($this->post_var)) ? $this->post_var['cinzas_g'] :''; ?>" type="text" placeholder="cinzas_g" class="span3" /> 
     </div> 
    </div>

    <div class="control-group"> 
     <label class="control-label">Cálcio (mg) </label> 
      <div class="controls"> 
      <input name="calcio_mg" value="<?php echo (isset($this->post_var)) ? $this->post_var['calcio_mg'] :''; ?>" type="text" placeholder="calcio_mg" class="span3" /> 
     </div> 
    </div>

    <div class="control-group"> 
     <label class="control-label">Magnésio (mg) </label> 
      <div class="controls"> 
      <input name="magnesio_mg" value="<?php echo (isset($this->post_var)) ? $this->post_var['magnesio_mg'] :''; ?>" type="text" placeholder="magnesio_mg" class="span3" /> 
     </div> 
    </div>

    <div class="control-group"> 
     <label class="control-label">Manganês (mg) </label> 
      <div class="controls"> 
      <input name="manganes_mg" value="<?php echo (isset($this->post_var)) ? $this->post_var['manganes_mg'] :''; ?>" type="text" placeholder="manganes_mg" class="span3" /> 
     </div> 
    </div>

    <div class="control-group"> 
     <label class="control-label">Fósforo (mg) </label> 
      <div class="controls"> 
      <input name="fosforo_mg" value="<?php echo (isset($this->post_var)) ? $this->post_var['fosforo_mg'] :''; ?>" type="text" placeholder="fosforo_mg" class="span3" /> 
     </div> 
    </div>

    <div class="control-group"> 
     <label class="control-label">Ferro (mg) </label> 
      <div class="controls"> 
      <input name="ferro_mg" value="<?php echo (isset($this->post_var)) ? $this->post_var['ferro_mg'] :''; ?>" type="text" placeholder="ferro_mg" class="span3" /> 
     </div> 
    </div>

    <div class="control-group"> 
     <label class="control-label">Sódio (mg) </label> 
      <div class="controls"> 
      <input name="sodio_mg" value="<?php echo (isset($this->post_var)) ? $this->post_var['sodio_mg'] :''; ?>" type="text" placeholder="sodio_mg" class="span3" /> 
     </div> 
    </div>

    <div class="control-group"> 
     <label class="control-label">Potássio (mg) </label> 
      <div class="controls"> 
      <input name="potassio_mg" value="<?php echo (isset($this->post_var)) ? $this->post_var['potassio_mg'] :''; ?>" type="text" placeholder="potassio_mg" class="span3" /> 
     </div> 
    </div>

    <div class="control-group"> 
     <label class="control-label">Cobre (mg) </label> 
      <div class="controls"> 
      <input name="cobre_mg" value="<?php echo (isset($this->post_var)) ? $this->post_var['cobre_mg'] :''; ?>" type="text" placeholder="cobre_mg" class="span3" /> 
     </div> 
    </div>

    <div class="control-group"> 
     <label class="control-label">Zinco (mg) </label> 
      <div class="controls"> 
      <input name="zinco_mg" value="<?php echo (isset($this->post_var)) ? $this->post_var['zinco_mg'] :''; ?>" type="text" placeholder="zinco_mg" class="span3" /> 
     </div> 
    </div>

    <div class="control-group"> 
     <label class="control-label">Retinol (mcg) </label> 
      <div class="controls"> 
      <input name="retinol_mcg" value="<?php echo (isset($this->post_var)) ? $this->post_var['retinol_mcg'] :''; ?>" type="text" placeholder="retinol_mcg" class="span3" /> 
     </div> 
    </div>

    <div class="control-group"> 
     <label class="control-label">RE (mcg) </label> 
      <div class="controls"> 
      <input name="re_mcg" value="<?php echo (isset($this->post_var)) ? $this->post_var['re_mcg'] :''; ?>" type="text" placeholder="re_mcg" class="span3" /> 
     </div> 
    </div>

    <div class="control-group"> 
     <label class="control-label">RAE (mcg) </label> 
      <div class="controls"> 
      <input name="rae_mcg" value="<?php echo (isset($this->post_var)) ? $this->post_var['rae_mcg'] :''; ?>" type="text" placeholder="rae_mcg" class="span3" /> 
     </div> 
    </div>

    <div class="control-group"> 
     <label class="control-label">Tiamina (mg) </label> 
      <div class="controls"> 
      <input name="tiamina_mg" value="<?php echo (isset($this->post_var)) ? $this->post_var['tiamina_mg'] :''; ?>" type="text" placeholder="tiamina_mg" class="span3" /> 
     </div> 
    </div>

    <div class="control-group"> 
     <label class="control-label">Riboflavina (mg) </label> 
      <div class="controls"> 
      <input name="riboflavina_mg" value="<?php echo (isset($this->post_var)) ? $this->post_var['riboflavina_mg'] :''; ?>" type="text" placeholder="riboflavina_mg" class="span3" /> 
     </div> 
    </div>

    <div class="control-group"> 
     <label class="control-label">Piridoxina (mg) </label> 
      <div class="controls"> 
      <input name="piridoxina_mg" value="<?php echo (isset($this->post_var)) ? $this->post_var['piridoxina_mg'] :''; ?>" type="text" placeholder="piridoxina_mg" class="span3" /> 
     </div> 
    </div>

    <div class="control-group"> 
     <label class="control-label">Niacina (mg) </label> 
      <div class="controls"> 
      <input name="niacina_mg" value="<?php echo (isset($this->post_var)) ? $this->post_var['niacina_mg'] :''; ?>" type="text" placeholder="niacina_mg" class="span3" /> 
     </div> 
    </div>

    <div class="control-group"> 
     <label class="control-label">Vitamina C (mg) </label> 
      <div class="controls"> 
      <input name="vitamina_c_mg" value="<?php echo (isset($this->post_var)) ? $this->post_var['vitamina_c_mg'] :''; ?>" type="text" placeholder="vitamina_c_mg" class="span3" /> 
     </div> 
    </div>

</div>