<div class="navbar">
    <div class="navbar-inner">
        <h6 class="title-accordion">
            <a class="click_acc" data-toggle="collapse" data-parent="#accordion" href="#collapse0">
                Resumo 
            </a>
        </h6>
    </div>
</div>

<div id="collapse0" class="content-height panel-collapse collapse in">


    <div class="control-group">
        <label class="control-label">Gorduras Polisaturadas (g)</label>
        <div class="controls">
                <input name="vl_g_poli" value="<?php echo (isset($this->post_var)) ? $this->post_var['vl_g_poli'] :''; ?>" type="text" placeholder="Gorduras Poli-Saturadas" class="span3" />
        </div>
    </div>

    <div class="control-group">
            <label class="control-label">Gorduras Polisaturadas (g)</label>
            <div class="controls">
                    <input name="vl_g_poli" value="<?php echo (isset($this->post_var)) ? $this->post_var['vl_g_poli'] :''; ?>" type="text" placeholder="Gorduras Poli-Saturadas" class="span3" />
            </div>
    </div>

    <div class="control-group">
            <label class="control-label">Gorduras Monosaturadas (g)</label>
            <div class="controls">
                    <input name="vl_g_mon" value="<?php echo (isset($this->post_var)) ? $this->post_var['vl_g_mon'] :''; ?>" type="text" placeholder="Gorduras Monosaturadas" class="span3" />
            </div>
    </div>

    <div class="control-group">
            <label class="control-label">Gorduras Saturadas (g)</label>
            <div class="controls">
                    <input name="vl_g_sat" value="<?php echo (isset($this->post_var)) ? $this->post_var['vl_g_sat'] :''; ?>" type="text" placeholder="Gorduras Saturadas" class="span3" />
            </div>
    </div>

    <div class="control-group">
            <label class="control-label">Colesterol (g)</label>
            <div class="controls">
                    <input name="vl_colest" value="<?php echo (isset($this->post_var)) ? $this->post_var['vl_colest'] :''; ?>" type="text" placeholder="Colesterol" class="span3" />
            </div>
    </div>

    <div class="control-group">
            <label class="control-label">Vitamina B1 (g)</label>
            <div class="controls">
                    <input name="vl_b1" value="<?php echo (isset($this->post_var)) ? $this->post_var['vl_b1'] :''; ?>" type="text" placeholder="Vitamina B1" class="span3" />
            </div>
    </div>

    <div class="control-group">
            <label class="control-label">Vitamina B2 (g)</label>
            <div class="controls">
                    <input name="vl_b2" value="<?php echo (isset($this->post_var)) ? $this->post_var['vl_b2'] :''; ?>" type="text" placeholder="Vitamina B2" class="span3" />
            </div>
    </div>

    <div class="control-group">
            <label class="control-label">Vitamina B6 (g)</label>
            <div class="controls">
                    <input name="vl_b6" value="<?php echo (isset($this->post_var)) ? $this->post_var['vl_b6'] :''; ?>" type="text" placeholder="Vitamina B6" class="span3" />
            </div>
    </div>

    <div class="control-group">
            <label class="control-label">Vitamina B12 (g)</label>
            <div class="controls">
                    <input name="vl_b12" value="<?php echo (isset($this->post_var)) ? $this->post_var['vl_b12'] :''; ?>" type="text" placeholder="Vitamina B12" class="span3" />
            </div>
    </div>

    <div class="control-group">
            <label class="control-label">Niacina (g)</label>
            <div class="controls">
                    <input name="vl_nia" value="<?php echo (isset($this->post_var)) ? $this->post_var['vl_nia'] :''; ?>" type="text" placeholder="Niacina" class="span3" />
            </div>
    </div>

    <div class="control-group">
            <label class="control-label">Ácido Fólico (g)</label>
            <div class="controls">
                    <input name="vl_folic" value="<?php echo (isset($this->post_var)) ? $this->post_var['vl_folic'] :''; ?>" type="text" placeholder="Ácido Fólico" class="span3" />
            </div>
    </div>

    <div class="control-group">
            <label class="control-label">Ácido Pantotênico (g)</label>
            <div class="controls">
                    <input name="vl_pant" value="<?php echo (isset($this->post_var)) ? $this->post_var['vl_pant'] :''; ?>" type="text" placeholder="Ácido Pantotênico" class="span3" />
            </div>
    </div>

    <div class="control-group">
            <label class="control-label">Iodo (g)</label>
            <div class="controls">
                    <input name="vl_iodo" value="<?php echo (isset($this->post_var)) ? $this->post_var['vl_iodo'] :''; ?>" type="text" placeholder="Iodo" class="span3" />
            </div>
    </div>

    <div class="control-group"  style="background-color: #d9d9d9">
            <label class="control-label"><span style="color: #ff6666">Magnésio (g)</span></label>
            <div class="controls">
                    <input name="vl_mg" value="<?php echo (isset($this->post_var)) ? $this->post_var['vl_mg'] :''; ?>" type="text" placeholder="Magnésio" class="span3" />
            </div>
    </div>

    <div class="control-group"  style="background-color: #d9d9d9">
            <label class="control-label"><span style="color: #ff6666">Zinco (g)</span></label>
            <div class="controls">
                    <input name="vl_zinco" value="<?php echo (isset($this->post_var)) ? $this->post_var['vl_zinco'] :''; ?>" type="text" placeholder="Zinco" class="span3" />
            </div>
    </div>

    <div class="control-group">
            <label class="control-label">Manganês (g)</label>
            <div class="controls">
                    <input name="vl_mn" value="<?php echo (isset($this->post_var)) ? $this->post_var['vl_mn'] :''; ?>" type="text" placeholder="Manganês" class="span3" />
            </div>
    </div>

    <div class="control-group">
            <label class="control-label">Cobre (g)</label>
            <div class="controls">
                    <input name="vl_cobre" value="<?php echo (isset($this->post_var)) ? $this->post_var['vl_cobre'] :''; ?>" type="text" placeholder="Cobre" class="span3" />
            </div>
    </div>

    <div class="control-group">
            <label class="control-label">Selênio (g)</label>
            <div class="controls">
                    <input name="vl_selen" value="<?php echo (isset($this->post_var)) ? $this->post_var['vl_selen'] :''; ?>" type="text" placeholder="Selênio" class="span3" />
            </div>
    </div>

    <div class="control-group"  style="background-color: #d9d9d9">
            <label class="control-label"><span style="color: #ff6666">Carboidrato (g)</span></label>
            <div class="controls">
                    <input name="vl_carb" value="<?php echo (isset($this->post_var)) ? $this->post_var['vl_carb'] :''; ?>" type="text" placeholder="Carboidrato" class="span3" />
            </div>
    </div>

    <div class="control-group"  style="background-color: #d9d9d9">
            <label class="control-label"><span style="color: #ff6666">Gorduras Totais (g)</span> </label>
            <div class="controls">
                    <input name="vl_g_tot" value="<?php echo (isset($this->post_var)) ? $this->post_var['vl_g_tot'] :''; ?>" type="text" placeholder="vl_g_tot" class="span3" />
            </div>
    </div>

    <div class="control-group"  style="background-color: #d9d9d9">
            <label class="control-label"><span style="color: #ff6666">Proteínas (g)</span></label>
            <div class="controls">
                    <input name="vl_prot" value="<?php echo (isset($this->post_var)) ? $this->post_var['vl_prot'] :''; ?>" type="text" placeholder="Proteínas" class="span3" />
            </div>
    </div>

    <div class="control-group"  style="background-color: #d9d9d9">
            <label class="control-label"><span style="color: #ff6666">Fibras (g)</span></label>
            <div class="controls">
                    <input name="vl_fibra" value="<?php echo (isset($this->post_var)) ? $this->post_var['vl_fibra'] :''; ?>" type="text" placeholder="Fibras" class="span3" />
            </div>
    </div>

    <div class="control-group"  style="background-color: #d9d9d9">
            <label class="control-label"><span style="color: #ff6666">Vitamina A (g)</span></label>
            <div class="controls">
                    <input name="vl_vit_a" value="<?php echo (isset($this->post_var)) ? $this->post_var['vl_vit_a'] :''; ?>" type="text" placeholder="Vitamina A" class="span3" />
            </div>
    </div>

    <div class="control-group"  style="background-color: #d9d9d9">
            <label class="control-label"><span style="color: #ff6666">Vitamina C (g)</span></label>
            <div class="controls">
                    <input name="vl_vit_c" value="<?php echo (isset($this->post_var)) ? $this->post_var['vl_vit_c'] :''; ?>" type="text" placeholder="Vitamina C" class="span3" />
            </div>
    </div>

    <div class="control-group">
            <label class="control-label">Vitamina D (g)</label>
            <div class="controls">
                    <input name="vl_vit_d" value="<?php echo (isset($this->post_var)) ? $this->post_var['vl_vit_d'] :''; ?>" type="text" placeholder="Vitamina D" class="span3" />
            </div>
    </div>

    <div class="control-group">
            <label class="control-label">Vitamina E (g)</label>
            <div class="controls">
                    <input name="vl_vit_e" value="<?php echo (isset($this->post_var)) ? $this->post_var['vl_vit_e'] :''; ?>" type="text" placeholder="Vitamina E" class="span3" />
            </div>
    </div>

    <div class="control-group">
            <label class="control-label">Sódio (g)</label>
            <div class="controls">
                    <input name="vl_na" value="<?php echo (isset($this->post_var)) ? $this->post_var['vl_na'] :''; ?>" type="text" placeholder="Sódio" class="span3" />
            </div>
    </div>

    <div class="control-group"  style="background-color: #d9d9d9">
            <label class="control-label"><span style="color: #ff6666">Cálcio (g)</span></label>
            <div class="controls">
                    <input name="vl_ca" value="<?php echo (isset($this->post_var)) ? $this->post_var['vl_ca'] :''; ?>" type="text" placeholder="Cálcio" class="span3" />
            </div>
    </div>

    <div class="control-group">
            <label class="control-label">Vitamina K (g)</label>
            <div class="controls">
                    <input name="vl_k" value="<?php echo (isset($this->post_var)) ? $this->post_var['vl_k'] :''; ?>" type="text" placeholder="Vitamina K" class="span3" />
            </div>
    </div>

    <div class="control-group">
            <label class="control-label">Vitamina P (g)</label>
            <div class="controls">
                    <input name="vl_p" value="<?php echo (isset($this->post_var)) ? $this->post_var['vl_p'] :''; ?>" type="text" placeholder="Vitamina P" class="span3" />
            </div>
    </div>

    <div class="control-group"  style="background-color: #d9d9d9">
            <label class="control-label"><span style="color: #ff6666">Ferro (g)</span></label>
            <div class="controls">
                    <input name="vl_fe" value="<?php echo (isset($this->post_var)) ? $this->post_var['vl_fe'] :''; ?>" type="text" placeholder="Ferro" class="span3" />
            </div>
    </div>


</div>