<div class="navbar">
    <div class="navbar-inner">
        <h6 class="title-accordion">
            <a class="click_acc" data-toggle="collapse" data-parent="#accordion" href="#collapse3">
                Aminoácidos
            </a>
        </h6>
    </div>
</div>

<div id="collapse3" class="content-height panel-collapse collapse in">

    <div class="control-group"> 
     <label class="control-label">Triptofano (g) </label> 
      <div class="controls"> 
      <input name="triptofano_g" value="<?php echo (isset($this->post_var)) ? $this->post_var['triptofano_g'] :''; ?>" type="text" placeholder="triptofano_g" class="span3" /> 
     </div> 
    </div>

    <div class="control-group"> 
     <label class="control-label">Treonina (g) </label> 
      <div class="controls"> 
      <input name="treonina_g" value="<?php echo (isset($this->post_var)) ? $this->post_var['treonina_g'] :''; ?>" type="text" placeholder="treonina_g" class="span3" /> 
     </div> 
    </div>

    <div class="control-group"> 
     <label class="control-label">Isoleucina (g) </label> 
      <div class="controls"> 
      <input name="isoleucina_g" value="<?php echo (isset($this->post_var)) ? $this->post_var['isoleucina_g'] :''; ?>" type="text" placeholder="isoleucina_g" class="span3" /> 
     </div> 
    </div>

    <div class="control-group"> 
     <label class="control-label">Leucina (g) </label> 
      <div class="controls"> 
      <input name="leucina_g" value="<?php echo (isset($this->post_var)) ? $this->post_var['leucina_g'] :''; ?>" type="text" placeholder="leucina_g" class="span3" /> 
     </div> 
    </div>

    <div class="control-group"> 
     <label class="control-label">Lisina (g) </label> 
      <div class="controls"> 
      <input name="lisina_g" value="<?php echo (isset($this->post_var)) ? $this->post_var['lisina_g'] :''; ?>" type="text" placeholder="lisina_g" class="span3" /> 
     </div> 
    </div>

    <div class="control-group"> 
     <label class="control-label">Metionina (g) </label> 
      <div class="controls"> 
      <input name="metionina_g" value="<?php echo (isset($this->post_var)) ? $this->post_var['metionina_g'] :''; ?>" type="text" placeholder="metionina_g" class="span3" /> 
     </div> 
    </div>

    <div class="control-group"> 
     <label class="control-label">Cistina (g) </label> 
      <div class="controls"> 
      <input name="cistina_g" value="<?php echo (isset($this->post_var)) ? $this->post_var['cistina_g'] :''; ?>" type="text" placeholder="cistina_g" class="span3" /> 
     </div> 
    </div>

    <div class="control-group"> 
     <label class="control-label">Fenilalanina (g) </label> 
      <div class="controls"> 
      <input name="fenilalanina_g" value="<?php echo (isset($this->post_var)) ? $this->post_var['fenilalanina_g'] :''; ?>" type="text" placeholder="fenilalanina_g" class="span3" /> 
     </div> 
    </div>

    <div class="control-group"> 
     <label class="control-label">Tirosina (g) </label> 
      <div class="controls"> 
      <input name="tirosina_g" value="<?php echo (isset($this->post_var)) ? $this->post_var['tirosina_g'] :''; ?>" type="text" placeholder="tirosina_g" class="span3" /> 
     </div> 
    </div>

    <div class="control-group"> 
     <label class="control-label">Valina (g) </label> 
      <div class="controls"> 
      <input name="valina_g" value="<?php echo (isset($this->post_var)) ? $this->post_var['valina_g'] :''; ?>" type="text" placeholder="valina_g" class="span3" /> 
     </div> 
    </div>

    <div class="control-group"> 
     <label class="control-label">Arginina (g) </label> 
      <div class="controls"> 
      <input name="arginina_g" value="<?php echo (isset($this->post_var)) ? $this->post_var['arginina_g'] :''; ?>" type="text" placeholder="arginina_g" class="span3" /> 
     </div> 
    </div>

    <div class="control-group"> 
     <label class="control-label">Histidina (g) </label> 
      <div class="controls"> 
      <input name="histidina_g" value="<?php echo (isset($this->post_var)) ? $this->post_var['histidina_g'] :''; ?>" type="text" placeholder="histidina_g" class="span3" /> 
     </div> 
    </div>

    <div class="control-group"> 
     <label class="control-label">Alanina (g) </label> 
      <div class="controls"> 
      <input name="alanina_g" value="<?php echo (isset($this->post_var)) ? $this->post_var['alanina_g'] :''; ?>" type="text" placeholder="alanina_g" class="span3" /> 
     </div> 
    </div>

    <div class="control-group"> 
     <label class="control-label">Ácido Aspártico (g) </label> 
      <div class="controls"> 
      <input name="acido_aspartico_g" value="<?php echo (isset($this->post_var)) ? $this->post_var['acido_aspartico_g'] :''; ?>" type="text" placeholder="acido_aspartico_g" class="span3" /> 
     </div> 
    </div>

    <div class="control-group"> 
     <label class="control-label">Ácido Glutâmico (g) </label> 
      <div class="controls"> 
      <input name="acido_glutamico_g" value="<?php echo (isset($this->post_var)) ? $this->post_var['acido_glutamico_g'] :''; ?>" type="text" placeholder="acido_glutamico_g" class="span3" /> 
     </div> 
    </div>

    <div class="control-group"> 
     <label class="control-label">Glicina (g) </label> 
      <div class="controls"> 
      <input name="glicina_g" value="<?php echo (isset($this->post_var)) ? $this->post_var['glicina_g'] :''; ?>" type="text" placeholder="glicina_g" class="span3" /> 
     </div> 
    </div>

    <div class="control-group"> 
     <label class="control-label">Prolina (g) </label> 
      <div class="controls"> 
      <input name="prolina_g" value="<?php echo (isset($this->post_var)) ? $this->post_var['prolina_g'] :''; ?>" type="text" placeholder="prolina_g" class="span3" /> 
     </div> 
    </div>

    <div class="control-group"> 
     <label class="control-label">Serina (g) </label> 
      <div class="controls"> 
      <input name="serina_g" value="<?php echo (isset($this->post_var)) ? $this->post_var['serina_g'] :''; ?>" type="text" placeholder="serina_g" class="span3" /> 
     </div> 
    </div>

</div>