<style>
    .cmp-radio[type=radio]{
        display:none; /* Esconde os inputs */
    }

    label.lbl-radio {
        cursor: pointer;
        width: 18%;
        padding: 5px;
    }
    .cmp-radio + label:before{
        border: 1px solid #5D5C5C;
        content: "\00a0";
        display: inline-block;
        font: 14px/1em sans-serif;
        height: 13px;
        margin: 0 .25em 0 0;
        vertical-align: top;
        width: 15px;
        border-radius: 10px;
        font-weight: bold;
        padding: 3px;
    }

    .cmp-radio:checked + label:before{
        background: #4cb2d0;
        color: #FFF;
        content: "\2713";
        text-align: center;
        padding: 3px;
    }

    .cmp-radio:checked + label:after{
        font-weight: bold;
    }
</style>
<!-- Content -->
<div id="content">
    <!-- Content wrapper -->
    <div class="wrapper">

        <!-- Breadcrumbs line -->
        <div class="crumbs">
            <?php echo $this->render('/helpers/breadcrumb.phtml') ?>
        </div>
        <!-- /breadcrumbs line -->

        <!-- Page header -->
        <div class="page-header">
            <div class="page-title">
                <h5>Formulário do comunicado</h5>
                <span>Verifique os campos e preencha com os dados</span>
            </div>
        </div>
        <!-- /page header -->

        <?php if (isset($this->crudMessage)) : ?>
            <div class="alert alert-success">
                <button data-dismiss="alert" class="close" type="button">×</button>
                <strong>Operação realizada com sucesso!</strong>
                <span><br /><?php echo $this->crudMessage ?></span>
            </div>
        <?php endif; ?>

        <form id="form" name="form" action="" method="post" class="form-horizontal" enctype="multipart/form-data">
            <input type="hidden" value="<?php echo (isset($this->post_var)) ? $this->post_var["id"] : ''; ?>" name="id" id="id" />

            <fieldset>
                <!-- General form elements -->
                <div class="widget row-fluid">
                    <div class="navbar">
                        <div class="navbar-inner">
                            <h6>Digite as informações do formulário</h6>
                        </div>
                    </div>
                    <div class="well">
                        <?php if (isset($this->erros)) : ?>
                            <div class="alert alert-error margin">
                                <button data-dismiss="alert" class="close" type="button">×</button>
                                <strong>Há erros no formulário!</strong>
                                <?php foreach ($this->erros as $k => $v) : ?>
                                    <span><br />- <?php echo $v ?></span>
                                <?php endforeach; ?>
                            </div>
                        <?php endif; ?>
                        <?php
                        //echo '<pre>';
                        //print_r($this->post_var);
                        /* ?>
                          <div class="control-group">
                          <label class="control-label">Locais </label>
                          <div class="controls">
                          <select name="idlocais" data-placeholder="Locais" class="select" onclick="setUsuarios(this, false)">
                          <option value="">Selecione...</option>
                          <?php foreach (Locais::getLocaisHelper(array('status'=>'Ativo')) as $k=>$v) : ?>
                          <option value="<?php echo $v['id'] ?>"><?php echo $v['titulo'] ?></option>
                          <?php endforeach;?>
                          </select>
                          </div>
                          </div>
                          <?php */
                        ?>

                        <div class="control-group">
                            <label class="control-label">Departamentos </label>
                            <div class="controls">
                                <select name="idperfil" data-placeholder="Perfis" class="select" onclick="setUsuarios(this, false, 0)">
                                    <option value="">Selecione...</option>
                                    <?php $perfis = UsuariosPerfis::getPerfisHelpers(array('individualgeral' => 'ambos', 'status' => 'Ativo')); ?>
                                    <?php foreach ((array) $perfis as $k => $v) : ?>
                                        <!--diferente de professor-->
                                        <?php if ($v['id'] != 28): ?>
                                            <option value="<?php echo $v['id'] ?>"><?php echo $v['perfil'] ?></option>
                                        <?php endif; ?>
                                    <?php endforeach; ?>
                                </select>
                            </div>
                        </div>
                        <div class="control-group box-escolas" style="display: none;">
                            <label class="control-label">Escolas </label>
                            <div class="controls">
                                <input type="hidden" name="setescola" value="nao" />
                                <select name="idescola" data-placeholder="Escolas" class="select" onclick="setUsuarios($('[name=idperfil]'), this, 0)">
                                    <option value="">Selecione...</option>
                                    <option value="-1">Enviar para Todas</option>
                                    <?php foreach (Escolas::getEscolasHelper(array('status' => 'Ativo')) as $k => $v) : ?>
                                        <option value="<?php echo $v['id'] ?>"><?php echo $v['escola'] ?></option>
                                    <?php endforeach; ?>
                                </select>
                            </div>
                        </div>

                        <div class="control-group box-receptor" style="display:none">
                            <label class="control-label">Professor/Diretoria</label>
                            <div class="controls">
                                <?php if (!$this->visualizar): ?>
                                    <div id="edge_1">
                                        <input type="radio" value="diretoria" name="sendTo" id="cmp-sec" class="cmp-radio" checked/>
                                        <label for="cmp-sec" class="lbl-radio">Diretoria</label>
                                    </div>
                                    <div id="edge_2">
                                        <input type="radio" value="professor" name="sendTo" id="cmp-prof" class="cmp-radio"/>
                                        <label for="cmp-prof" class="lbl-radio">Professor</label>
                                    </div>
                                <?php else: ?>
                                    <input type="hidden" name="sendTo" value="<?php echo (isset($this->post_var['sendTo'])) ? $this->post_var['sendTo'] : '' ?>"/>
                                    <?php echo (isset($this->post_var['sendTo'])) ? strtoupper($this->post_var['sendTo']) : '' ?>
                                <?php endif; ?>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">Funcionários </label>
                            <div class="controls">
                                <table class="table table-primary mb30">
                                    <thead>
                                        <tr>
                                            <th width="100%">Funcionários</th>
                                        </tr>
                                    </thead>

                                    <tbody id="content_list_professores">
                                        <tr>
                                            <td width="100%" id="professores-container">
                                                Selecione um local!
                                            </td>
                                        </tr>

                                        <?php if (false) : ?>
                                            <?php foreach ($this->professores as $a => $professor) : ?>
                                                <tr>
                                                    <td width="100%">
                                                        <?php if ((isset($this->visualizar)) && ($this->visualizar)) : ?>
                                                            <input type="checkbox" value="<?php echo $professor['id'] ?>" name="idsprofessores[]"><span><?php echo $professor['nome'] ?> </span>
                                                        <?php else: ?>
                                                            <input type="checkbox" value="<?php echo $professor['id'] ?>" name="idsprofessores[]"><?php echo $professor['nome'] ?>
                                                        <?php endif; ?>
                                                    </td>
                                                </tr>
                                            <?php endforeach; ?>
                                        <?php endif ?>
                                    </tbody>

                                </table>
                            </div>
                        </div>

                        <div class="control-group">
                            <label class="control-label">Título <span class="required">*</span></label>
                            <div class="controls"><input maxlength="500" placeholder="Título" name="titulo" value="<?php echo (isset($this->post_var['titulo'])) ? $this->post_var['titulo'] : '' ?>" type="text"  class="span3" /></div>
                        </div>

                        <div class="control-group">
                            <label class="control-label">Descrições </label>
                            <div class="controls"><textarea class="span12" name="descricoes" cols="5" rows="5"><?php echo (isset($this->post_var)) ? $this->post_var["descricoes"] : ''; ?></textarea></div>
                        </div>

                        <div class="control-group">
                            <label class="control-label">Observações </label>
                            <div class="controls"><textarea class="span12" name="observacoes" cols="5" rows="5"><?php echo (isset($this->post_var)) ? $this->post_var["observacoes"] : ''; ?></textarea></div>
                        </div>
                    </div>

                    <div class="form-actions align-right">
                        <?php if ((isset($this->visualizar)) && ($this->visualizar)) : ?>
                            <button onclick="window.history.back()" class="btn btn-danger cancelar" type="button">Voltar</button>
                        <?php else : ?>
                            <button class="btn btn-primary enviar" type="submit">Salvar</button>
                            <button onclick="window.history.back()" class="btn btn-danger cancelar" type="button">Cancelar</button>
                        <?php endif; ?>
                    </div>
                </div>
                <!-- /general form elements -->
            </fieldset>
        </form>
        <!-- /basic inputs -->
    </div>
    <!-- /content wrapper -->
</div>
<!-- content -->
<script type="text/javascript" src="<?php echo $this->baseUrl('/public/scripts/admin/comunicacaocomunicados_form.js') ?>"></script>
<script type="text/javascript">
                            var form_values = {};

<?php if (isset($this->post_var)) : ?>
                                form_values.idsecretaria = '<?php echo (isset($this->post_var['idsecretaria'])) ? $this->post_var['idsecretaria'] : '' ?>';

                                form_values.idlocais = '<?php echo (isset($this->post_var['idlocais'])) ? $this->post_var['idlocais'] : '' ?>';
                                form_values.idescola = '<?php echo (isset($this->post_var['idescola'])) ? $this->post_var['idescola'] : '' ?>';
                                form_values.idperfil = '<?php echo (isset($this->post_var['idperfil'])) ? $this->post_var['idperfil'] : '' ?>';

                                form_values.idsdepartamentossecrtaria = '<?php echo (isset($this->post_var['idsdepartamentossecrtaria'])) ? $this->post_var['idsdepartamentossecrtaria'] : '' ?>';

    <?php if ((isset($this->post_var['idsprofessores'])) && ($this->post_var['idsprofessores'] != "")) : ?>
                                    form_values.idsprofessores = [<?php echo $this->post_var['idsprofessores'] ?>];
    <?php endif; ?>

                                form_values.status1 = '<?php echo (isset($this->post_var['status1'])) ? $this->post_var['status1'] : $this->post_var['status'] ?>';


<?php endif; ?>

                            visualizar = <?php echo ((isset($this->visualizar)) && ($this->visualizar)) ? 'true' : 'false' ?>;

                            function setandotudo(id) {

                                document.getElementById(id).remove();


                                if (id == "marcar") {
                                    $(".elemento").prop("checked", true);
                                    document.getElementById('marcacao').innerHTML = '<div id="desmarcar" class="btn btn-info" style="cursor: pointer" onclick="setandotudo(this.id)" >Desmarcar todos</div>';
                                } else {
                                    $(".elemento").prop("checked", false);
                                    document.getElementById('marcacao').innerHTML = '<div id="marcar" class="btn btn-info" style="cursor: pointer" onclick="setandotudo(this.id)" >Marcar todos</div>';
                                }//end if else



                            }//end function setando tudo
</script>
