<!-- Content -->
<div id="content">

    <!-- Content wrapper -->
    <div class="wrapper">

        <!-- Breadcrumbs line -->
        <div class="crumbs">
            <?php echo $this->render('/helpers/breadcrumb.phtml') ?>
        </div>
        <!-- /breadcrumbs line -->

        <!-- Page header -->
        <div class="page-header">
            <div class="page-title">
                <h5>Comunicados no sistema</h5>
                <span>Visualize os comunicados do sistema</span>
            </div>
        </div>
        <!-- /page header -->

        <?php if (isset($this->crudMessage)) : ?>
            <div class="alert alert-success">
                <button data-dismiss="alert" class="close" type="button">×</button>
                <strong>Operação realizada com sucesso!</strong>
                <span><br /><?php echo $this->crudMessage ?></span>
            </div>
        <?php endif; ?>


        <!-- Table with footer -->
        <div class="widget">
            <form action="#" class="form-horizontal" method="post">
                <input type="hidden" value="<?php echo (isset($this->post_var['sorting'])) ? $this->post_var['sorting'] : '' ?>" name="sorting" />
                <div class="navbar">
                    <div class="navbar-inner">
                        <h6>Visualizando registros</h6>
                        <?php if (Mn_Util::isAccess($this->getController(), 'adicionar')) : ?>
                            <a style="float:right;" href="<?php echo $this->baseUrl() ?>/<?php echo 'admin' ?>/<?php echo $this->getController() ?>/adicionar" class="btn btn-primary"><span class="icon-plus"></span>&nbsp;Adicionar comunicado</a>
                        <?php endif; ?>
                    </div>
                </div>
                <div class="table-overflow">
                    <table class="table table-content">
                        <thead>
                            <tr>
                                <th width="20">#</th>
                                <th class="s-origem">Origem</th>
                                <th class="s-datacriacao" width="60">Data</th>
                                <th class="s-titulo sorting">Título</th>
                                <th class="s-idperfil" width="100">Destino</th>
                                <th width="96">Ações</th>
                            </tr>
                            <?php
                            $idperfil = Usuarios::getUsuario('idperfil');
                            if($idperfil == 29){
                                $escolaAtiva = Usuarios::getEscolaAtiva(Usuarios::getUsuario('id'));
                                $idescolaAtiva = $escolaAtiva['id'];
                            }
                            $dadosperfil = UsuariosPerfis::getPerfilById($idperfil);
                            ?>
                            <tr>
                                <th></th>
                                <th>
                                    <div>
                                        <select name="idperfilorigem" placeholder="Departamento" id="idperfilorigem" class="select" onchange="setEscolas(this, 0, 'origem')">
                                            <option value="">Todos</option>
                                            <?php foreach (UsuariosPerfis::getPerfisHelpers(array('individualgeral' => 'ambos')) as $k => $v) : ?>
                                                <option value="<?php echo $v['id'] ?>"><?php echo $v['perfil'] ?></option>
                                            <?php endforeach; ?>
                                        </select>
                                    </div>
                                    <div>
                                        <input type="hidden" value="" id="helper_idperfilorigem">
                                    </div>
                                    <div class="box-escolas-origem" style="display: none">
                                        <select name="idescolaorigem" placeholder="Escolas" class="select" id="idescolaorigem" onchange="verificaEscola(this, 'origem')">
                                            <option value="">Todas</option>
                                            <?php foreach (Escolas::getEscolasHelper(array('status' => 'Ativo')) as $k => $v) : ?>
                                                <option value="<?php echo $v['id'] ?>"><?php echo $v['escola'] ?></option>
                                            <?php endforeach; ?>
                                        </select>
                                    </div>
                                    <div>
                                        <input type="hidden" value="" id="helper_idescolaorigem">
                                    </div>
                                </th>
                                <th>
                                    <input type="text" name="datacriacao" style="width: 80px;">
                                </th>
                                <th><input name="titulo" type="text" placeholder="Título" class="span3"></th>
                                <th>
                                    <div>
                                        <select name="idperfildestino" id="idperfildestino" placeholder="Departamento" class="select" onchange="setEscolas(this, 0, 'destino')">
                                            <option value="">Todos</option>
                                            <?php foreach (UsuariosPerfis::getPerfisHelpers(array('status' => 'Ativo', 'individualgeral' => 'ambos')) as $k => $v) : ?>
                                                <option value="<?php echo $v['id'] ?>"><?php echo $v['perfil'] ?></option>
                                            <?php endforeach; ?>
                                        </select>
                                    </div>
                                    <div>
                                        <input type="hidden" value="" id="helper_idperfildestino">
                                    </div>
                                    <div class="box-escolas-destino" style="display: none">
                                        <select name="idescoladestino" id="idescoladestino" placeholder="Escolas" class="select">
                                            <option value="">Todas</option>
                                            <?php foreach (Escolas::getEscolasHelper(array('status' => 'Ativo')) as $k => $v) : ?>
                                                <option value="<?php echo $v['id'] ?>"><?php echo $v['escola'] ?></option>
                                            <?php endforeach; ?>
                                        </select>
                                    </div>
                                    <div>
                                        <input type="hidden" value="" id="helper_idescoladestino">
                                    </div>
                                </th>
                                <th><button class="btn btn-mini btn-primary" type="submit">Pesquisar</button></th>
                            </tr>
                        </thead>
                        <tbody>
                            <?php if (sizeof($this->rows) == 0) : ?>
                                <tr>
                                    <td colspan="5">Nenhum registro foi encontrado!</td>
                                </tr>

                            <?php else : ?>
                                <?php foreach ($this->rows as $row) : ?>
                                    <tr>
                                        <td><?php echo $row['id'] ?></td>
                                        <td>
                                            <?php if (isset($row['idusuariocriacao']) && $row['idusuariocriacao'] > 0): ?>
                                                <?php $usuario = Usuarios::getUsuarioByIdHelper($row['idusuariocriacao']); ?>
                                                <?php
                                                $perfil = UsuariosPerfis::getPerfilByIdHelper($usuario['idperfil']);
                                                ?>

                                                <?php
                                                if (($usuario['idperfil'] == "39") || ($usuario['idperfil'] == "29")):
                                                    $funcionario = Funcionariosgeraisescolas::getFuncionariogeralescolaByIdHelper($usuario['idfuncionario']);
                                                    ?>
                                                    <?php if (((int) $row['idescolacriacao'] > 0)): ?>
                                                        <?php $escola = Escolas::getEscolaByIdHelper($row['idescolacriacao']); ?>
                                                        <?php echo (isset($escola['id'])) ? $escola['escola'] : '' ?>
                                                    <?php elseif ((isset($funcionario['idescola'])) && ((int) $funcionario['idescola'] > 0)): ?>
                                                        <?php $escola = Escolas::getEscolaByIdHelper($funcionario['idescola']); ?>
                                                        <?php echo (isset($escola['id'])) ? $escola['escola'] : '' ?>
                                                    <?php else: ?>
                                                        <?php echo $perfil ? $perfil['perfil'] : ' --' ?>
                                                    <?php endif; ?>
                                                <?php else: ?>
                                                    <?php echo $perfil ? $perfil['perfil'] : ' --' ?>
                                                <?php endif; ?>

                                            <?php endif; ?>
                                        </td>
                                        <td><?php echo date('d/m/Y', strtotime($row['datacriacao'])); ?></td>

                                        <td><?php echo $row['titulo'] ?></td>
                                        <td>
                                            <?php if (isset($row['idescola']) && $row['idescola'] > 0): ?>
                                                <?php $escola = Escolas::getEscolaByIdHelper($row['idescola']); ?>
                                                <?php echo $escola ? $escola['escola'] : ' --' ?>
                                            <?php else: ?>
                                                <?php $perfil = UsuariosPerfis::getPerfilByIdHelper($row['idperfil']); ?>
                                                <?php echo $perfil ? $perfil['perfil'] : ' --' ?>
                                            <?php endif; ?>
                                        </td>

                                        <td>
                                            <ul class="table-controls">
                                                <li><a title="" class="btn tip" href="<?php echo $this->baseUrl() ?>/<?php echo 'admin' ?>/<?php echo $this->getController() ?>/visualizar/id/<?php echo $row['id'] ?>" data-original-title="Visualizar"><i class="icon-eye-open"></i></a> </li>
                                                <?php if (Mn_Util::isAccess($this->getController(), 'editar')) : ?>
                                                    <li><a title="" class="btn tip" href="<?php echo $this->baseUrl() ?>/<?php echo 'admin' ?>/<?php echo $this->getController() ?>/editar/id/<?php echo $row['id'] ?>" data-original-title="Editar"><i class="icon-pencil"></i></a> </li>
                                                <?php endif; ?>
                                                <?php if (Mn_Util::isAccess($this->getController(), 'excluir')) : ?>
                                                    <li><a title="" class="btn tip" href="javascript:confirmDelete('<?php echo $row['id']; ?>','registro');" data-original-title="Excluir"><i class="icon-remove"></i></a> </li>
                                                        <?php endif; ?>
                                            </ul>
                                        </td>
                                    </tr>
                                <?php endforeach; ?>
                            <?php endif; ?>
                        </tbody>
                    </table>
                    <?php
                    $tmp_idperfil = Usuarios::getUsuario('idperfil');
                    $escola_id = Usuarios::getEscolaAtiva(Usuarios::getUsuario('id'));
                    ?>
                    <input type="hidden" name="tmp_idperfil" value="<?php echo $tmp_idperfil ?>">
                    <input type="hidden" name="tmp_idescola" value="<?php echo (isset($escola_id)) ? $escola_id['id'] : '' ?>">
                </div>
                <?php echo $this->render('/helpers/paginator.phtml') ?>

            </form>

        </div>
        <!-- /table with footer -->



    </div>
    <!-- /content wrapper -->

</div>
<!-- content -->


<script type="text/javascript" src="<?php echo $this->baseUrl('/public/scripts/admin/comunicacaocomunicados_index.js') ?>"></script>
<script type="text/javascript">

                                            var form_values = {};
<?php if (isset($this->post_var)) : ?>
                                                form_values.idsecretaria = '<?php echo (isset($this->post_var['idsecretaria'])) ? $this->post_var['idsecretaria'] : '' ?>';

                                                form_values.idsescolas = '<?php echo (isset($this->post_var['idsescolas'])) ? $this->post_var['idsescolas'] : '' ?>';

                                                form_values.idperfilorigem = '<?php echo (isset($this->post_var['idperfilorigem'])) ? $this->post_var['idperfilorigem'] : '' ?>';

                                                form_values.idescolaorigem = '<?php echo (isset($this->post_var['idescolaorigem'])) ? $this->post_var['idescolaorigem'] : '' ?>';

                                                form_values.idperfildestino = '<?php echo (isset($this->post_var['idperfildestino'])) ? $this->post_var['idperfildestino'] : '' ?>';

                                                form_values.idescoladestino = '<?php echo (isset($this->post_var['idescoladestino'])) ? $this->post_var['idescoladestino'] : '' ?>';

                                                form_values.idsdepartamentossecrtaria = '<?php echo (isset($this->post_var['idsdepartamentossecrtaria'])) ? $this->post_var['idsdepartamentossecrtaria'] : '' ?>';

                                                form_values.idsalunos = '<?php echo (isset($this->post_var['idsalunos'])) ? $this->post_var['idsalunos'] : '' ?>';

                                                //form_values.status1 = '<?php //echo (isset($this->post_var['status1'])) ? $this->post_var['status1'] : $this->post_var['status']                                                                                                ?>';

                                                form_values.datacriacao = '<?php echo (isset($this->post_var['datacriacao'])) ? $this->post_var['datacriacao'] : '' ?>';
                                                form_values.titulo = '<?php echo (isset($this->post_var['titulo'])) ? $this->post_var['titulo'] : '' ?>';
<?php endif; ?>
                                                form_values.perfilAtivo = '<?php echo $idperfil ?>';
                                                form_values.escolaAtiva = '<?php echo (isset($escolaAtiva)) ? $idescolaAtiva : ''?>';

                                            var sorting = ["idsecretaria", "idsescolas", "idsdepartamentossecrtaria", "idsalunos", "titulo", "descricoes", "observacoes", "status"];

</script>


