		<!-- Content -->
		<div id="content">

		    <!-- Content wrapper -->
		    <div class="wrapper">

			    <!-- Breadcrumbs line -->
			    <div class="crumbs">
			    	<?php echo $this->render('/helpers/breadcrumb.phtml') ?>
			    </div>
			    <!-- /breadcrumbs line -->

			    <!-- Page header -->
			    <div class="page-header">
			    	<div class="page-title">
				    	<h5>Formulário do atendimento</h5>
				    	<span>Verifique os campos e preencha com os dados</span>
			    	</div>
			    </div>
			    <!-- /page header -->

			    <?php if (isset($this->crudMessage)) : ?>
					<div class="alert alert-success">
	                	<button data-dismiss="alert" class="close" type="button">×</button>
	                    <strong>Operação realizada com sucesso!</strong>
		    			<span><br /><?php echo $this->crudMessage ?></span>
	                </div>			    
			    <?php endif; ?>

				<form id="form" name="form" action="" method="post" class="form-horizontal" enctype="multipart/form-data"> 
					<input type="hidden" value="<?php echo (isset($this->post_var)) ? $this->post_var["id"] : ''; ?>" name="id" id="id" />
					
					<fieldset>
						<!-- General form elements -->
						<div class="widget row-fluid">
						    <div class="navbar">
						        <div class="navbar-inner">
						            <h6>Digite as informações do formulário</h6>
						        </div>
						    </div>

						    <div class="well">
								<?php if (isset($this->erros)) : ?>
									<div class="alert alert-error margin">
				                        <button data-dismiss="alert" class="close" type="button">×</button>
				                        <strong>Há erros no formulário!</strong>
					    				<?php foreach ($this->erros as $k=>$v) : ?>
					    					<span><br />- <?php echo $v ?></span>
					    				<?php endforeach;?>			                        
				                    </div>
			                    <?php endif; ?>	

                				<div class="control-group">
                					<div class="controls1 visualizar">
                						<table class="table table-content" width="100%">
                							<tbody>
                								<tr>
                									<input maxlength="500" placeholder="Nome do Usuário" name="idusuario" value="<?php echo (isset($this->post_var['idusuario'])) ? $this->post_var['idusuario'] : Usuarios::getUsuario('id') ?>" type="hidden"  class="span3" />
                									<input  placeholder="Data de lançamento" name="datalancamento" value="<?php echo (isset($this->post_var['datalancamento'])) ? Mn_Util::formPostVarData($this->post_var['datalancamento']) : date('d/m/Y') ?>" type="hidden"  class="span3" />
                									<input type="hidden" name="sequencial" value="<?php echo (isset($this->post_var['sequencial'])) ? $this->post_var['sequencial'] : $this->sequencial; ?>">

                									<?php $user = (isset($this->post_var['idusuario'])) ? Usuarios::getUsuarioByIdHelper($this->post_var['idusuario']) : Usuarios::getUsuario(); ?>
                									<?php $idfunc = $user['idfuncionario'] ?>
                									<?php $func = Funcionariosgeraisescolas::getFuncionariogeralescolaByIdHelper($idfunc); ?>

                               						<?php $idescola = $func['idescola']; ?>	
                									<td width="50%">Nome do Usuário: <?php echo $user['nomerazao'] ?></td>
                									<td width="33%">Escola:<?php 
                											$local = Escolas::getEscolaByIdHelper($idescola); 
                											echo  ((isset($local['escola'])) && ($local['escola']) && ($local['escola']!="") ) ? $local['escola'] : '';
                										?>	
                									</td>
                									<td>
                										Sequencial: <?php echo (isset($this->post_var['sequencial'])) ? $this->post_var['sequencial'] : $this->sequencial; ?>
                									</td>
                								</tr>
                							</tbody>
                						</table>
                						
                					</div>
                				</div>

				<?php /* ?>
				<div class="control-group">
					<label class="control-label">N. Processo <span class="required">*</span></label>
					<div class="controls"><input maxlength="500" placeholder="N. Processo" name="numeroprocesso" value="<?php echo (isset($this->post_var['numeroprocesso'])) ? $this->post_var['numeroprocesso'] : '' ?>" type="text"  class="span3" /></div>
				</div>
				<?php */ ?>

				<div class="control-group">
					<label class="control-label">Profissional <span class="required">*</span></label>

					<?php
						$idperfil = (int)Usuarios::getUsuario('idperfil');
						$idescola = (int)Usuarios::getUsuario('idescola');
						
				        if((int)$idescola > 0){
				        	$idfuncionario = Usuarios::getUsuario('idfuncionario');
				            $meusfuncionarios = Meusfuncionariosgeraisescolas::getMeusfuncionariosgeraisescolaImplodeByIdescolaHelper($idfuncionario, $idescola, array());

				            if((isset($meusfuncionarios)) && ($meusfuncionarios) && ($meusfuncionarios!="")){
				                $queries['idsfuncionariossel'] = $meusfuncionarios;
				            }else{
				                $queries['idsfuncionariossel'] = '-1';
				            }

				        }elseif((int)$idperfil > 0){
				        	$idfuncionario = Usuarios::getUsuario('idfuncionario');
				            $meusfuncionarios = Meusfuncionariosgeraisescolas::getMeusfuncionariosgeraisescolaImplodeByIdperfilHelper($idfuncionario, $idescola, array());

				            if((isset($meusfuncionarios)) && ($meusfuncionarios) && ($meusfuncionarios!="")){
				                $queries['idsfuncionariossel'] = $meusfuncionarios;
				            }else{
				                $queries['idsfuncionariossel'] = '-1';
				            }
				        }

						$queries['idsecretaria'] = Usuarios::getSecretariaAtiva( Usuarios::getUsuario('id'), 'id' );

						$my_func = Funcionariosgeraisescolas::getFuncionariosgeraisescolasHelper($queries); 
					?>

					<div class="controls">
		                <select name="idprofissional" data-placeholder="Profissional" class="select">
							<option value="">Selecione...</option>
							<?php foreach ($my_func as $k=>$v) : ?>
								<option value="<?php echo $v['id'] ?>"><?php echo $v['nome'] ?></option>
							<?php endforeach;?>
						</select>
					</div>
				</div>


				<div class="control-group">
					<label class="control-label">Solicitação <span class="required">*</span></label>
					<div class="controls">
		                <select name="idsolicitacao" data-placeholder="Solicitação" class="select">
							<option value="">Selecione...</option>
							<?php foreach (Educacaoespecialsolicitacoes::getEducacaoespecialsolicitacoesHelper(array('status'=>'Ativo')) as $k=>$v) : ?>
							<option value="<?php echo $v['id'] ?>"><?php echo $v['titulo'] ?></option>
							<?php endforeach;?>
						</select>
						
					</div>
				</div>


				<div class="control-group">
					<label class="control-label">Visita a Unidade </label>
					<div class="controls">
						<select name="visitaunidade" data-placeholder="Visita a Unidade" class="select">
							<option value="">Selecione...</option>
							<option value="Sim">Sim</option><option value="Não">Não</option>
						</select>
						
					</div>
				</div>


				<div class="control-group">
					<label class="control-label">Triagem </label>
					<div class="controls">
		                <select name="idtriagem" data-placeholder="Triagem" class="select">
							<option value="">Selecione...</option>
							<?php foreach (Educacaoespecialtriagens::getEducacaoespecialtriagensHelper(array('status'=>'Ativo')) as $k=>$v) : ?>
							<option value="<?php echo $v['id'] ?>"><?php echo $v['titulo'] ?></option>
							<?php endforeach;?>
						</select>
						
					</div>
				</div>


				<div class="control-group">
					<label class="control-label">Escuta com a Família </label>
					<div class="controls">
						<select name="escutafamilia" data-placeholder="Escuta com a Família" class="select">
							<option value="">Selecione...</option>
							<option value="Sim">Sim</option><option value="Não">Não</option>
						</select>
						
					</div>
				</div>


				<div class="control-group">
					<label class="control-label">Escuta com o Professor </label>
					<div class="controls">
						<select name="escutaprofessor" data-placeholder="Escuta com o Professor" class="select">
							<option value="">Selecione...</option>
							<option value="Sim">Sim</option><option value="Não">Não</option>
						</select>
						
					</div>
				</div>


				<div class="control-group">
					<label class="control-label">Visita domiciliar </label>
					<div class="controls">
						<select name="visitadomiciliar" data-placeholder="Visita domiciliar" class="select">
							<option value="">Selecione...</option>
							<option value="Sim">Sim</option><option value="Não">Não</option>
						</select>
						
					</div>
				</div>


				<div class="control-group">
					<label class="control-label">Avaliação </label>
					<div class="controls">
		                <select name="idavaliacao" data-placeholder="Avaliação" class="select">
							<option value="">Selecione...</option>
							<?php foreach (Educacaoespecialavaliacoes::getEducacaoespecialavaliacoesHelper(array('status'=>'Ativo')) as $k=>$v) : ?>
							<option value="<?php echo $v['id'] ?>"><?php echo $v['titulo'] ?></option>
							<?php endforeach;?>
						</select>
						
					</div>
				</div>


				<div class="control-group">
					<label class="control-label">Encaminhamento </label>
					<div class="controls">
		                <select name="idencaminhamento" data-placeholder="Encaminhamento" class="select">
							<option value="">Selecione...</option>
							<?php foreach (Educacaoespecialencaminhamentos::getEducacaoespecialencaminhamentosHelper(array('status'=>'Ativo')) as $k=>$v) : ?>
							<option value="<?php echo $v['id'] ?>"><?php echo $v['titulo'] ?></option>
							<?php endforeach;?>
						</select>
						
					</div>
				</div>


				<div class="control-group">
					<label class="control-label">Devolutiva/Orientação</label>
					<div class="controls"><input placeholder="Devolutiva/Orientação" name="datadevolutiva" value="<?php echo (isset($this->post_var['datadevolutiva'])) ? Mn_Util::formPostVarData($this->post_var['datadevolutiva']) : '' ?>" type="text"  class="span3" /></div>
				</div>


				<div class="control-group">
					<label class="control-label">Status <span class="required">*</span></label>
					<div class="controls">
						<select name="status1" data-placeholder="Status" class="select">
							<option value="">Selecione...</option>
							<option value="Finalizado">Finalizado</option><option value="Em acompanhamento">Em acompanhamento</option>
						</select>
						
					</div>
				</div>

						    
						    
						    </div>
						    
			                <div class="form-actions align-right">
			                	<?php if ((isset($this->visualizar)) && ($this->visualizar)) : ?>
			                		<button onclick="window.history.back()" class="btn btn-danger cancelar" type="button">Voltar</button>
			                	<?php else : ?>
				                	<button class="btn btn-primary enviar" type="submit">Salvar</button>
				                	<button onclick="window.history.back()" class="btn btn-danger cancelar" type="button">Cancelar</button>
			                	<?php endif; ?>
			                </div>
						</div>
						<!-- /general form elements -->

					</fieldset> 

				</form>
				<!-- /basic inputs -->

		    </div>
		    <!-- /content wrapper -->

		</div>
		<!-- content -->
				
<script type="text/javascript" src="<?php echo $this->baseUrl('/public/scripts/admin/educacaoespecialatendimentos_form.js') ?>"></script>
<script type="text/javascript">
	var form_values = {};
	
	<?php if (isset($this->post_var)) :  ?>
		form_values.idprofissional = '<?php echo (isset($this->post_var['idprofissional'])) ? $this->post_var['idprofissional'] : '' ?>';

form_values.idsolicitacao = '<?php echo (isset($this->post_var['idsolicitacao'])) ? $this->post_var['idsolicitacao'] : '' ?>';

form_values.visitaunidade = '<?php echo (isset($this->post_var['visitaunidade'])) ? $this->post_var['visitaunidade'] : '' ?>';

form_values.idtriagem = '<?php echo (isset($this->post_var['idtriagem'])) ? $this->post_var['idtriagem'] : '' ?>';

form_values.escutafamilia = '<?php echo (isset($this->post_var['escutafamilia'])) ? $this->post_var['escutafamilia'] : '' ?>';

form_values.escutaprofessor = '<?php echo (isset($this->post_var['escutaprofessor'])) ? $this->post_var['escutaprofessor'] : '' ?>';

form_values.visitadomiciliar = '<?php echo (isset($this->post_var['visitadomiciliar'])) ? $this->post_var['visitadomiciliar'] : '' ?>';

form_values.idavaliacao = '<?php echo (isset($this->post_var['idavaliacao'])) ? $this->post_var['idavaliacao'] : '' ?>';

form_values.idencaminhamento = '<?php echo (isset($this->post_var['idencaminhamento'])) ? $this->post_var['idencaminhamento'] : '' ?>';

form_values.status1 = '<?php echo (isset($this->post_var['status1'])) ? $this->post_var['status1'] : $this->post_var['status'] ?>';


	<?php endif; ?>

	visualizar = <?php echo  ((isset($this->visualizar)) && ($this->visualizar))  ? 'true' : 'false' ?>;
</script>
