		<!-- Content -->
		<div id="content">

		    <!-- Content wrapper -->
		    <div class="wrapper">

			    <!-- Breadcrumbs line -->
			    <div class="crumbs">
			    	<?php echo $this->render('/helpers/breadcrumb.phtml') ?>
			    </div>
			    <!-- /breadcrumbs line -->

			    <!-- Page header -->
			    <div class="page-header">
			    	<div class="page-title">
				    	<h5>Atendimentos no sistema</h5>
				    	<span>Visualize os atendimentos do sistema</span>
			    	</div>
			    	
			    </div>
			    <!-- /page header -->
			    
			    <?php if (isset($this->crudMessage)) : ?>
				<div class="alert alert-success">
                	<button data-dismiss="alert" class="close" type="button">×</button>
                    <strong>Operação realizada com sucesso!</strong>
	    			<span><br /><?php echo $this->crudMessage ?></span>
                </div>			    
			    <?php endif; ?>




	                        	                        
                <!-- Table with footer -->
                <div class="widget">
                	<form action="#" class="form-horizontal" method="post">
                		<input type="hidden" value="<?php echo (isset($this->post_var['sorting'])) ? $this->post_var['sorting'] : '' ?>" name="sorting" />
	                	<div class="navbar">
	                		<div class="navbar-inner">
	                			<h6>Visualizando registros</h6>
	                			<?php //var_dump(Usuarios::getUsuario()); ?>
	                			<?php if (Mn_Util::isAccess($this->getController(), 'adicionar') && (Usuarios::getUsuario('professor')=='Sim')) : ?>
	                			<a style="float:right;" href="<?php echo $this->baseUrl() ?>/<?php echo 'admin' ?>/<?php echo $this->getController() ?>/adicionar" class="btn btn-primary"><span class="icon-plus"></span>&nbsp;Adicionar atendimento</a>
	                			<?php endif; ?>
	                		</div>
	                	</div>
	                    <div class="table-overflow">
	                        <table class="table table-content">
	                            <thead>
	                                <tr>
	                                    <th width="20">#</th>
                                    <th class="s-dataabertura sorting">Data de Abertura</th>
                                    <th class="s-idprofissional sorting">Profissional</th>
                                    <th class="s-idsolicitacao sorting">Solicitação</th>
                                    <th class="s-status sorting">Status</th>


	                                    <th width="96">Ações</th>
	                                </tr>
	                                <tr>
	                                    <th></th>

										<th>
											<input name="dataabertura_i" value="<?php echo (isset($this->post_var['dataabertura_i'])) ? Mn_Util::formPostVarData($this->post_var['dataabertura_i']) : '' ?>" type="text" placeholder="Data de Abertura inicial" class="span3">
											<input name="dataabertura_f" value="<?php echo (isset($this->post_var['dataabertura_f'])) ? Mn_Util::formPostVarData($this->post_var['dataabertura_f']) : '' ?>" type="text" placeholder="Data de Abertura final" class="span3">
										</th>

										<th>
											<div>
												<select name="idprofissional" placeholder="Todos" class="select">
													<option value="">Todos</option>
													<?php foreach (Funcionariosgeraisescolas::getFuncionariosgeraisescolasHelper(array('status'=>'Ativo')) as $k=>$v) : ?>
														<option value="<?php echo $v['id'] ?>"><?php echo $v['nome'] ?></option>
													<?php endforeach;?>
												</select>
											</div>
										</th>

										<th>
											<div>
												<select name="idsolicitacao" placeholder="Todos" class="select">
													<option value="">Todos</option>
													<?php foreach (Educacaoespecialsolicitacoes::getEducacaoespecialsolicitacoesHelper(array('status'=>'Ativo')) as $k=>$v) : ?>
														<option value="<?php echo $v['id'] ?>"><?php echo $v['titulo'] ?></option>
													<?php endforeach;?>
												</select>
											</div>
										</th>

										<th>
											<div>
												<select name="status1" placeholder="Todos" class="select">
													<option value="">Todos</option>
													<option value="Finalizado">Finalizado</option><option value="Em acompanhamento">Em acompanhamento</option>
												</select>
											</div>
										</th>
                   

	                                    <th><button class="btn btn-mini btn-primary" type="submit">Pesquisar</button></th>
	                                </tr> 
	                                                                
	                            </thead>
	                            <tbody>
	                            	<?php if (sizeof($this->rows)==0) : ?>
	                                <tr>
	                                    <td colspan="6">Nenhum registro foi encontrado!</td>
	                                </tr>
	                            	
	                            	<?php else : ?>
	                            	<?php foreach ($this->rows as $row) : ?>
	                                <tr>
	                                	<td><?php echo $row['id'] ?></td>

										<td><?php echo date('d/m/Y', strtotime($row['dataabertura']))?></td>

										<td>
											<?php
												$___rows = Funcionariosgeraisescolas::getFuncionariosgeraisescolasHelper(array('id'=>$row['idprofissional']));
												$___row = (sizeof($___rows)>0) ? 	$___rows[0] : false;	
												
												echo ($___row) ? $this->formatTextoBranco($___row['nome']) : '--';		
											?>
										</td>

										<td>
											<?php
												$___rows = Educacaoespecialsolicitacoes::getEducacaoespecialsolicitacoesHelper(array('id'=>$row['idsolicitacao']));
												$___row = (sizeof($___rows)>0) ? 	$___rows[0] : false;	
												
												echo ($___row) ? $this->formatTextoBranco($___row['titulo']) : '--';		
											?>
										</td>

										<td>
											<?php if (Mn_Util::isAccess($this->getController(), 'editar')) : ?>
												<a onclick="javascript:statusChange(<?php echo $row["id"]?>, this);" href="javascript:;"><?php echo $row['status'] ?></a>
											<?php else : ?>
												<?php echo $row['status'] ?>
											<?php endif; ?>
										</td>

			                				

	                                    <td>
	                                        <ul class="table-controls">
	                                            <li><a title="" class="btn tip" href="<?php echo $this->baseUrl() ?>/<?php echo 'admin' ?>/<?php echo $this->getController() ?>/visualizar/id/<?php echo $row['id'] ?>" data-original-title="Visualizar"><i class="icon-eye-open"></i></a> </li>
	                                            <?php if (Mn_Util::isAccess($this->getController(), 'editar')) : ?>
	                                            <li><a title="" class="btn tip" href="<?php echo $this->baseUrl() ?>/<?php echo 'admin' ?>/<?php echo $this->getController() ?>/editar/id/<?php echo $row['id'] ?>" data-original-title="Editar"><i class="icon-pencil"></i></a> </li>
	                                            <?php endif;?>
	                                            <?php if (Mn_Util::isAccess($this->getController(), 'excluir')) : ?>
	                                            <li><a title="" class="btn tip" href="javascript:confirmDelete('<?php echo $row['id']; ?>','registro');" data-original-title="Excluir"><i class="icon-remove"></i></a> </li>
	                                            <?php endif; ?>
	                                        </ul>
	                                    </td>
	                                </tr>
	                            	<?php endforeach;?>
	                            	
	                            	
	                            	
	                            	
	                            	<?php endif; ?>
	
	                            </tbody>
	                        </table>
	                    </div>
	                    <?php echo $this->render('/helpers/paginator.phtml') ?>
                    
                    </form>

                </div>
                <!-- /table with footer -->
	                        


		    </div>
		    <!-- /content wrapper -->

		</div>
		<!-- content -->
		
		
<script type="text/javascript" src="<?php echo $this->baseUrl('/public/scripts/admin/educacaoespecialatendimentos_index.js') ?>"></script>
<script type="text/javascript">

	var form_values = {};
	<?php if (isset($this->post_var)) :  ?>
form_values.idprofissional = '<?php echo (isset($this->post_var['idprofissional'])) ? $this->post_var['idprofissional'] : '' ?>';

form_values.idsolicitacao = '<?php echo (isset($this->post_var['idsolicitacao'])) ? $this->post_var['idsolicitacao'] : '' ?>';

form_values.visitaunidade = '<?php echo (isset($this->post_var['visitaunidade'])) ? $this->post_var['visitaunidade'] : '' ?>';

form_values.idtriagem = '<?php echo (isset($this->post_var['idtriagem'])) ? $this->post_var['idtriagem'] : '' ?>';

form_values.escutafamilia = '<?php echo (isset($this->post_var['escutafamilia'])) ? $this->post_var['escutafamilia'] : '' ?>';

form_values.escutaprofessor = '<?php echo (isset($this->post_var['escutaprofessor'])) ? $this->post_var['escutaprofessor'] : '' ?>';

form_values.visitadomiciliar = '<?php echo (isset($this->post_var['visitadomiciliar'])) ? $this->post_var['visitadomiciliar'] : '' ?>';

form_values.idavaliacao = '<?php echo (isset($this->post_var['idavaliacao'])) ? $this->post_var['idavaliacao'] : '' ?>';

form_values.idencaminhamento = '<?php echo (isset($this->post_var['idencaminhamento'])) ? $this->post_var['idencaminhamento'] : '' ?>';

form_values.status1 = '<?php echo (isset($this->post_var['status1'])) ? $this->post_var['status1'] : $this->post_var['status'] ?>';

	
	<?php endif; ?>

	var sorting = ["dataabertura", "numeroprocesso", "idprofissional", "idsolicitacao", "status"];
	
</script>	


