<?php
if(isset($this->post_var)) {
	$_row = new Sintesecomportamentosalunosrelacao();
	$_rows = $_row->fetchAll("idsintese=".$this->post_var['id']." AND excluido='nao'");

	$idaluno = array();
	$concentracoes = array();
	$aquicisoes = array();
	$raciocinios = array();
	$motivacoes = array();
	$comportamentos = array();
	$relacoesinterpessoais = array();
	$cooperacoes = array();
	$leituras = array();
	$escritas = array();
	$matematicas = array();
	$organizacoes = array();
	$assiduidades = array();
	$rendimentos = array();
	$infocomplementares = array();

	foreach ($_rows as $k => $v) {
		$idaluno[] = $v['idaluno'];
		$concentracoes[] = $v['concentracao'];
		$aquicisoes[] = $v['aquicisao'];
		$raciocinios[] = $v['raciocinio'];
		$motivacoes[] = $v['motivacao'];
		$comportamentos[] = $v['comportamento'];
		$relacoesinterpessoais[] = $v['relacaointerpessoal'];
		$cooperacoes[] = $v['cooperacao'];
		$leituras[] = $v['leitura'];
		$escritas[] = $v['escrita'];
		$matematicas[] = $v['matematica'];
		$organizacoes[] = $v['organizacao'];
		$assiduidades[] = $v['assiduidade'];
		$rendimentos[] = $v['rendimento'];
		$infocomplementares[] = $v['infocomplementar'];
	}

} 
?>
		<!-- Content -->
		<div id="content">

		    <!-- Content wrapper -->
		    <div class="wrapper">

			    <!-- Breadcrumbs line -->
			    <div class="crumbs">
			    	<?php echo $this->render('/helpers/breadcrumb.phtml') ?>
			    </div>
			    <!-- /breadcrumbs line -->

			    <!-- Page header -->
			    <div class="page-header">
			    	<div class="page-title">
				    	<h5>Formulário de Sínteses de Comportamentos e Desempenhos </h5>
				    	<span>Verifique os campos e preencha com os dados</span>
			    	</div>
			    </div>
			    <!-- /page header -->

			    <?php if (isset($this->crudMessage)) : ?>
					<div class="alert alert-success">
	                	<button data-dismiss="alert" class="close" type="button">×</button>
	                    <strong>Operação realizada com sucesso!</strong>
		    			<span><br /><?php echo $this->crudMessage ?></span>
	                </div>			    
			    <?php endif; ?>

				<form id="form" name="form" action="" method="post" class="form-horizontal" enctype="multipart/form-data"> 
					<input type="hidden" value="<?php echo (isset($this->post_var)) ? $this->post_var["id"] : ''; ?>" name="id" id="id" />
					
					<fieldset>
						<!-- General form elements -->
						<div class="widget row-fluid">
						    <div class="navbar">
						        <div class="navbar-inner">
						            <h6>Digite as informações do formulário</h6>
						        </div>
						    </div>

						    <div class="well">
								<?php if (isset($this->erros)) : ?>
									<div class="alert alert-error margin">
				                        <button data-dismiss="alert" class="close" type="button">×</button>
				                        <strong>Há erros no formulário!</strong>
					    				<?php foreach ($this->erros as $k=>$v) : ?>
					    					<span><br />- <?php echo $v ?></span>
					    				<?php endforeach;?>			                        
				                    </div>
			                    <?php endif; ?>						    

				<div class="control-group">
					<label class="control-label">Sequencial <span class="required">*</span></label>
					<div class="controls"><?= (isset($this->post_var['sequencial'])) ? $this->post_var['sequencial'] : Sintesescomportamentosdesempenhos::getSequencial() ?></div>
				</div>

				<div class="control-group">
					<label class="control-label">Data </label>
					<div class="controls"><input placeholder="Data" name="data" value="<?php echo (isset($this->post_var['data'])) ? Mn_Util::formPostVarData($this->post_var['data']) : '' ?>" type="text"  class="span3" /></div>
				</div>

				<input id="escola_id" type="hidden" name="idescola" value="<?= Escolasusuarios::getUsuario('id') ?>">

				<?php /* ?>
				<div class="control-group">
					<label class="control-label">Escola <span class="required">*</span></label>
					<div class="controls">
						<select name="idescola" data-placeholder="Escola" class="select" onchange="setSeries(this, 0, 0, 0);setDiretores(this, 0);setCoordenadores(this, 0);setProfessores(this, 0); setPeriodo(this, 0)" >
							<option value="">Selecione...</option>
							<?php foreach(Escolas::GetEscolasHelper(array('status'=>'Ativo')) as $k=>$v) : ?>
							<option value="<?php echo $v['id'] ?>"><?php echo $v['escola'] ?></option>
							<?php endforeach ?>
						</select>						
					</div>
				</div>
				<?php */ ?>

				<div class="control-group">
					<label class="control-label">Nome do professor </label>
					<div class="controls">
						<select name="idprofessor" data-placeholder="Nome do professor" class="select">
							<option value="">Selecione...</option>
						</select>						
					</div>
				</div>

				<div class="control-group">
					<label class="control-label">Nome do diretor </label>
					<div class="controls">
						<select name="iddiretor" data-placeholder="Nome do diretor" class="select">
							<option value="">Selecione...</option>
						</select>						
					</div>
				</div>

				<div class="control-group">
					<label class="control-label">Nome do coordenador </label>
					<div class="controls">
						<select name="idcoordenador" data-placeholder="Nome do coordenador" class="select">
							<option value="">Selecione...</option>>
						</select>						
					</div>
				</div>

				<div class="control-group">
					<label class="control-label">Série </label>
					<div class="controls">
						<select onchange="setTurmas(this, 0, 0)" name="idserie" data-placeholder="Série" class="select">
							<option value="">Selecione...</option>
						</select>					
					</div>
				</div>

				<div class="control-group">
					<label class="control-label">Turma </label>
					<div class="controls">
						<select onchange="setAlunos(this, '<?php echo (isset($idaluno) && sizeof($idaluno)>0) ? implode(',', $idaluno) : 0  ?>')" name="idturma" data-placeholder="Turma" class="select">
							<option value="">Selecione...</option>
						</select>						
					</div>
				</div>

				<div class="control-group">
					<label class="control-label">Período </label>
					<div class="controls">
						<select name="periodo" data-placeholder="Período" class="select">
							<option value="">Selecione...</option>
						</select>						
					</div>
				</div>

				<div class="control-group">
					<label class="control-label">Status <span class="required">*</span></label>
					<div class="controls">
						<select name="status1" data-placeholder="Status" class="select">
							<option value="">Selecione...</option>
							<option value="Ativo">Ativo</option><option value="Bloqueado">Bloqueado</option>
						</select>
						
					</div>
				</div>

				<div id="tablehelp" class="control-group">
					<table class="table table-primary mb30">
						<thead>
							<tr>
								<th>Nome do aluno</th>
								<th>RGF</th>
								<th>Concentração</th>
								<th>Aquisição</th>
								<th>Raciocínio</th>
								<th>Motivação</th>
								<th>Comportamento</th>
								<th>Relação Interpessoal</th>
								<th>Cooperação</th>
								<th>Leitura/Interpretação</th>
								<th>Escrita</th>
								<th>Matemática</th>
								<th>Organização Pessoal</th>
								<th>Assiduidade</th>
								<th>Rendimento Escolar</th>
								<th>Informação Complementar</th>
							</tr>
						</thead>							
						<tbody id="content_list_alunos">
						</tbody>
							
					</table>
				</div>

				<div class="control-group">
					<label class="control-label">Quantidade de alunos: <span id="append-alunos"></span> </label>
				</div>
			</div>

						    
						    
						    </div>
						    
			                <div class="form-actions align-right">
			                	<?php if ((isset($this->visualizar)) && ($this->visualizar)) : ?>
			                		<button onclick="window.history.back()" class="btn btn-danger cancelar" type="button">Voltar</button>
			                	<?php else : ?>
				                	<button class="btn btn-primary enviar" type="submit">Salvar</button>
				                	<button onclick="window.history.back()" class="btn btn-danger cancelar" type="button">Cancelar</button>
			                	<?php endif; ?>
			                </div>
						</div>
						<!-- /general form elements -->

					</fieldset> 

				</form>
				<!-- /basic inputs -->

		    </div>
		    <!-- /content wrapper -->

		</div>
		<!-- content -->
				
<script type="text/javascript" src="<?php echo $this->baseUrl('/public/scripts/default/sintesescomportamentosdesempenhos_form.js') ?>"></script>
<script type="text/javascript">
	
	<?php if (isset($this->post_var)) :  ?>
	var form_values = {};

		form_values.idaluno = '<?php echo ( isset($idaluno) && sizeof($idaluno) > 0) ? implode(',', $idaluno) : 0 ?>';

		form_values.concentracao = '<?php echo (isset($concentracoes) && sizeof($concentracoes)>0) ? implode(',', $concentracoes) : 0 ?>';
		form_values.aquicisao = '<?php echo (isset($aquicisoes) && sizeof($aquicisoes)>0) ? implode(',', $aquicisoes) : 0 ?>';
		form_values.raciocinio = '<?php echo (isset($raciocinios) && sizeof($raciocinios)>0) ? implode(',', $raciocinios) : 0 ?>';
		form_values.motivacao = '<?php echo (isset($motivacoes) && sizeof($motivacoes)>0) ? implode(',', $motivacoes) : 0 ?>'
		form_values.comportamento = '<?php echo (isset($comportamentos) && sizeof($comportamentos)>0) ? implode(',', $comportamentos) : 0 ?>';
		form_values.relacaointerpessoal = '<?php echo (isset($relacoesinterpessoais) && sizeof($relacoesinterpessoais)>0) ? implode(',', $relacoesinterpessoais) : 0 ?>';
		form_values.cooperacao = '<?php echo (isset($cooperacoes) && sizeof($cooperacoes)>0) ? implode(',', $cooperacoes) : 0 ?>';
		form_values.leitura = '<?php echo (isset($leituras) && sizeof($leituras)>0) ? implode(',', $leituras) : 0 ?>';
		form_values.escrita = '<?php echo (isset($escritas) && sizeof($escritas)>0) ? implode(',', $escritas) : 0 ?>';
		form_values.matematica = '<?php echo (isset($matematicas) && sizeof($comportamentos)>0) ? implode(',', $comportamentos) : 0 ?>';
		form_values.organizacao = '<?php echo (isset($organizacoes) && sizeof($organizacoes)>0) ? implode(',', $organizacoes) : 0 ?>';
		form_values.assiduidade = '<?php echo (isset($assiduidades) && sizeof($assiduidades)>0) ? implode(',', $assiduidades) : 0 ?>';
		form_values.rendimento = '<?php echo (isset($rendimentos) && sizeof($rendimentos)>0) ? implode(',', $rendimentos) : 0 ?>';
		form_values.infocomplementar = '<?php echo (isset($infocomplementares) && sizeof($infocomplementares)>0) ? implode(',', $infocomplementares) : 0 ?>';

		form_values.status1 = '<?php echo (isset($this->post_var['status1'])) ? $this->post_var['status1'] : $this->post_var['status'] ?>';

		form_values.iddiretor = '<?php echo (isset($this->post_var['iddiretor'])) ? $this->post_var['iddiretor'] : '' ?>';

		form_values.idcoordenador = '<?php echo (isset($this->post_var['idcoordenador'])) ? $this->post_var['idcoordenador'] : '' ?>';

		form_values.idprofessor = '<?php echo (isset($this->post_var['idprofessor'])) ? $this->post_var['idprofessor'] : '' ?>';

		form_values.idserie = '<?php echo (isset($this->post_var['idserie'])) ? $this->post_var['idserie'] : '' ?>';

		form_values.idturma = '<?php echo (isset($this->post_var['idturma'])) ? $this->post_var['idturma'] : '' ?>';

		form_values.periodo = '<?php echo (isset($this->post_var['periodo'])) ? $this->post_var['periodo'] : '' ?>';

		form_values.idescola = '<?php echo (isset($this->post_var['idescola'])) ? $this->post_var['idescola'] : '' ?>';

		form_values.periodo = '<?php echo (isset($this->post_var['periodo'])) ? $this->post_var['periodo'] : '' ?>';
	<?php endif; ?>

	visualizar = <?php echo  ((isset($this->visualizar)) && ($this->visualizar))  ? 'true' : 'false' ?>;
</script>
<style type="text/css">
	#tablehelp { width: 1000px !important; overflow-x: scroll !important; text-overflow: ellipsis !important;}	
</style>
