<?php if (sizeof($this->rows)==0) : ?>
<tr>
	<td colspan="10" width="100%">
		Nenhum aluno foi encontrada para essa escola
	</td>       						
</tr>
<?php else : ?>
<?php foreach ($this->rows as $row) : ?>
<?php
	$getAluno = new Escolasalunos();
	$dadosAluno = $getAluno->getEscolaalunoById($row['idaluno'] , array('status'=>'Ativo'));
?>
<tr>
	<td>
		<?php if ((isset($this->visualizar)) && ($this->visualizar)) : ?>
			<input type="checkbox" value="<?php echo $dadosAluno['id']?>" name="idaluno[]" onchange="setCampos(this)">			
			<span><?php echo $dadosAluno['nomerazao'] ?> <?php echo $dadosAluno['sobrenomefantasia'] ?></span>
		<?php else: ?>
			<input type="checkbox" value="<?php echo $dadosAluno['id']?>" name="idaluno[]" onchange="setCampos(this)"> <?php echo $dadosAluno['nomerazao'] ?> <?php echo $dadosAluno['sobrenomefantasia'] ?>
		<?php endif;?>
	</td> 

	<td>
		<?php if ((isset($this->visualizar)) && ($this->visualizar)) : ?>
			<span> <?php echo $dadosAluno['rgm'] ?> </span>
		<?php else: ?>
			<?php echo $dadosAluno['rgm'] ?>
		<?php endif;?>
	</td>  

	<td class="q">
		<select disabled type="text" class="qi" name="concentracao[]" placeholder="Concentracao">
			<option value = "">Selecione...</option>
			<option value = "Fraco">Fraco</option>
			<option value = "Insuficiente">Insuficiente</option>
			<option value = "Sucifiente">Sucifiente</option>
			<option value = "Bom">Bom</option>
			<option value = "Muito bom">Muito bom</option>
		</select></td>
	<td class="q">
		<select disabled type="text" class="qi" name="aquicisao[]"  placeholder="Aquisição">
			<option value = "">Selecione...</option>
			<option value = "Fraco">Fraco</option>
			<option value = "Insuficiente">Insuficiente</option>
			<option value = "Sucifiente">Sucifiente</option>
			<option value = "Bom">Bom</option>
			<option value = "Muito bom">Muito bom</option>
		</select></td>
	<td class="q">
		<select disabled type="text" class="qi" name="raciocinio[]" placeholder="Raciocínio">
			<option value = "">Selecione...</option>
			<option value = "Fraco">Fraco</option>
			<option value = "Insuficiente">Insuficiente</option>
			<option value = "Sucifiente">Sucifiente</option>
			<option value = "Bom">Bom</option>
			<option value = "Muito bom">Muito bom</option>
		</select></td>
	<td class="q">
		<select disabled type="text" class="qi" name="motivacao[]" placeholder="Motivação">
			<option value = "">Selecione...</option>
			<option value = "Fraco">Fraco</option>
			<option value = "Insuficiente">Insuficiente</option>
			<option value = "Sucifiente">Sucifiente</option>
			<option value = "Bom">Bom</option>
			<option value = "Muito bom">Muito bom</option>
		</select></td>
	<td class="q">
		<select disabled type="text" class="qi" name="comportamento[]" placeholder="Comportamento">
			<option value = "">Selecione...</option>
			<option value = "Fraco">Fraco</option>
			<option value = "Insuficiente">Insuficiente</option>
			<option value = "Sucifiente">Sucifiente</option>
			<option value = "Bom">Bom</option>
			<option value = "Muito bom">Muito bom</option>
		</select></td>
	<td class="q">
		<select disabled type="text" class="qi" name="relacaointerpessoal[]" placeholder="Relação Interpessoal">
			<option value = "">Selecione...</option>
			<option value = "Fraco">Fraco</option>
			<option value = "Insuficiente">Insuficiente</option>
			<option value = "Sucifiente">Sucifiente</option>
			<option value = "Bom">Bom</option>
			<option value = "Muito bom">Muito bom</option>
		</select></td>
	<td class="q">
		<select disabled type="text" class="qi" name="cooperacao[]" placeholder="Cooperação">
			<option value = "">Selecione...</option>
			<option value = "Fraco">Fraco</option>
			<option value = "Insuficiente">Insuficiente</option>
			<option value = "Sucifiente">Sucifiente</option>
			<option value = "Bom">Bom</option>
			<option value = "Muito bom">Muito bom</option>
		</select></td>
	<td class="q">
		<select disabled type="text" class="qi" name="leitura[]" placeholder="Leitura/Interpretação">
			<option value = "">Selecione...</option>
			<option value = "Fraco">Fraco</option>
			<option value = "Insuficiente">Insuficiente</option>
			<option value = "Sucifiente">Sucifiente</option>
			<option value = "Bom">Bom</option>
			<option value = "Muito bom">Muito bom</option>
		</select></td>
	<td class="q">
		<select disabled type="text" class="qi" name="escrita[]" placeholder="Escrita">
			<option value = "">Selecione...</option>
			<option value = "Fraco">Fraco</option>
			<option value = "Insuficiente">Insuficiente</option>
			<option value = "Sucifiente">Sucifiente</option>
			<option value = "Bom">Bom</option>
			<option value = "Muito bom">Muito bom</option>
		</select></td>
	<td class="q">
		<select disabled type="text" class="qi" name="matematica[]" placeholder="Matemática">
			<option value = "">Selecione...</option>
			<option value = "Fraco">Fraco</option>
			<option value = "Insuficiente">Insuficiente</option>
			<option value = "Sucifiente">Sucifiente</option>
			<option value = "Bom">Bom</option>
			<option value = "Muito bom">Muito bom</option>
		</select></td>
	<td class="q">
		<select disabled type="text" class="qi" name="organizacao[]" placeholder="Organização">
			<option value = "">Selecione...</option>
			<option value = "Fraco">Fraco</option>
			<option value = "Insuficiente">Insuficiente</option>
			<option value = "Sucifiente">Sucifiente</option>
			<option value = "Bom">Bom</option>
			<option value = "Muito bom">Muito bom</option>
		</select></td>
	<td class="q">
		<select disabled type="text" class="qi" name="assiduidade[]" placeholder="Assiduidade">
			<option value = "">Selecione...</option>
			<option value = "Fraco">Fraco</option>
			<option value = "Insuficiente">Insuficiente</option>
			<option value = "Sucifiente">Sucifiente</option>
			<option value = "Bom">Bom</option>
			<option value = "Muito bom">Muito bom</option>
		</select></td>
	<td class="q">
		<select disabled type="text" class="qi" name="rendimento[]" placeholder="Rendimento Escolar">
			<option value = "">Selecione...</option>
			<option value = "Fraco">Fraco</option>
			<option value = "Insuficiente">Insuficiente</option>
			<option value = "Sucifiente">Sucifiente</option>
			<option value = "Bom">Bom</option>
			<option value = "Muito bom">Muito bom</option>
		</select></td>
	<td class="q">
		<select disabled type="text" class="qi" name="infocomplementar[]">
			<option value = "">Selecione...</option>
			<option value = "Fraco">Fraco</option>
			<option value = "Insuficiente">Insuficiente</option>
			<option value = "Sucifiente">Sucifiente</option>
			<option value = "Bom">Bom</option>
			<option value = "Muito bom">Muito bom</option>
		</select></td>

</tr>
<?php endforeach; ?>
<?php endif; ?>

<script type="text/javascript">
var form_values = {};
	
	<?php if (isset($this->post_var)) :  ?>
		form_values.concentracao[] = '<?php echo (isset($this->post_var['concentracao[]'])) ? $this->post_var['concentracao[]'] : '' ?>';

		form_values.aquicisao[] = '<?php echo (isset($this->post_var['aquicisao[]'])) ? $this->post_var['aquicisao[]'] : '' ?>';

		form_values.raciocinio[] = '<?php echo (isset($this->post_var['raciocinio[]'])) ? $this->post_var['raciocinio[]'] : '' ?>';

		form_values.motivacao[] = '<?php echo (isset($this->post_var['motivacao[]'])) ? $this->post_var['motivacao[]'] : '' ?>';

		form_values.comportamento[] = '<?php echo (isset($this->post_var['comportamento[]'])) ? $this->post_var['comportamento[]'] : '' ?>';

		form_values.relacaointerpessoal[] = '<?php echo (isset($this->post_var['relacaointerpessoal[]'])) ? $this->post_var['relacaointerpessoal[]'] : '' ?>';

		form_values.cooperacao[] = '<?php echo (isset($this->post_var['cooperacao[]'])) ? $this->post_var['cooperacao[]'] : '' ?>';

		form_values.leitura[] = '<?php echo (isset($this->post_var['leitura[]'])) ? $this->post_var['leitura[]'] : '' ?>';

		form_values.escrita[] = '<?php echo (isset($this->post_var['escrita[]'])) ? $this->post_var['escrita[]'] : '' ?>';

		form_values.matematica[] = '<?php echo (isset($this->post_var['matematica[]'])) ? $this->post_var['matematica[]'] : '' ?>';

		form_values.organizacao[] = '<?php echo (isset($this->post_var['organizacao[]'])) ? $this->post_var['organizacao[]'] : '' ?>';

		form_values.assiduidade[] = '<?php echo (isset($this->post_var['assiduidade[]'])) ? $this->post_var['assiduidade[]'] : '' ?>';

		form_values.rendimento[] = '<?php echo (isset($this->post_var['rendimento[]'])) ? $this->post_var['rendimento[]'] : '' ?>';

		form_values.infocomplementar[] = '<?php echo (isset($this->post_var['infocomplementar[]'])) ? $this->post_var['infocomplementar[]'] : '' ?>';




	<?php endif; ?>
</script>

<script type="text/javascript">

$(document).ready(function() {
	$("#append-alunos").html("<?php echo count($this->rows) ?>");
});

function setCampos(obj){	
	var verifica = $(obj).attr("checked");
	if(verifica!="checked"){

		$(obj).parent().parent().find('.q').find('.qi').attr('disabled', true);
		$(obj).parent().parent().find('.q').find('.qi').attr('disabled', true);
		$(obj).parent().parent().find('.q').find('.qi').attr('disabled', true)
		$(obj).parent().parent().find('.q').find('.qi').attr('disabled', true);
	} else {
		$(obj).parent().parent().find('.q').find('.qi').attr('disabled', false);
		$(obj).parent().parent().find('.q').find('.qi').attr('disabled', false);
		$(obj).parent().parent().find('.q').find('.qi').attr('disabled', false)
		$(obj).parent().parent().find('.q').find('.qi').attr('disabled', false);
	}
}
</script>