		<!-- Content -->
		<div id="content">

		    <!-- Content wrapper -->
		    <div class="wrapper">

			    <!-- Breadcrumbs line -->
			    <div class="crumbs">
			    	<?php echo $this->render('/helpers/breadcrumb.phtml') ?>
			    </div>
			    <!-- /breadcrumbs line -->

			    <!-- Page header -->
			    <div class="page-header">
			    	<div class="page-title">
				    	<h5>Ampliação de Jornada</h5>
				    	<span>Visualize as ampliações no sistema</span>
			    	</div>
			    	
			    </div>
			    <!-- /page header -->
			    
			    <?php if (isset($this->crudMessage)) : ?>
				<div class="alert alert-success">
                	<button data-dismiss="alert" class="close" type="button">×</button>
                    <strong>Operação realizada com sucesso!</strong>
	    			<span><br /><?php echo $this->crudMessage ?></span>
                </div>			    
			    <?php endif; ?>




	                        	                        
                <!-- Table with footer -->
                <div class="widget">
                	<form action="#" class="form-horizontal" method="post">
                		<input type="hidden" value="<?php echo (isset($this->post_var['sorting'])) ? $this->post_var['sorting'] : '' ?>" name="sorting" />
	                	<div class="navbar">
	                		<div class="navbar-inner">
	                			<h6>Visualizando registros</h6>
	                			<?php /*if (Mn_Util::isAccess($this->getController(), 'adicionar')) : ?>
	                			<a style="float:right;" href="<?php echo $this->baseUrl() ?>/<?php echo 'admin' ?>/<?php echo $this->getController() ?>/adicionar" class="btn btn-primary"><span class="icon-plus"></span>&nbsp;Adicionar curso</a>
	                			<?php endif;*/ ?>
	                		</div>
	                	</div>
	                    <div class="table-overflow">
	                        <table class="table table-content">
	                            <thead>
	                                <tr>
	                                    <th width="20">#</th>
                                    <th class="s-idprofessor sorting">Professor</th>
                                    <th class="s-rgf sorting">RGF</th>
                                    <th class="s-pontuacao sorting">Pontuação</th>
                                    <th class="s-status sorting">Status</th>


	                                    <th width="96">Aprovar?</th>
	                                </tr>
	                                <tr>
	                                    <th></th>

										<th>
											<div>
												<select name="idprofessor" placeholder="Todos" class="select">
													<option value="">Todos</option>
													<?php foreach (Escolasusuarios::getEscolasusuariosHelper(array('status'=>'Ativo', 'idsecretaria'=>Usuarios::getSecretariaAtiva( Usuarios::getUsuario('id'), 'id' ))) as $k=>$v) : ?>
														<option value="<?php echo $v['id'] ?>"><?php echo $v['nomerazao'] ?> <?php echo $v['sobrenomefantasia'] ?></option>
													<?php endforeach;?>
												</select>
											</div>
										</th>

										<th><input name="rgf" value="<?php echo (isset($this->post_var['rgf'])) ? $this->post_var['rgf'] : '' ?>" type="text" placeholder="RGF" class="span3"></th>

										<th></th>

										<th>
											<div>
												<select name="status1" placeholder="Todos" class="select">
													<option value="">Todos</option>
													<option value="Pendente">Pendente</option><option value="Aprovado">Aprovado</option><option value="Reprovado">Reprovado</option><option value="Cancelado">Cancelado</option>
												</select>
											</div>
										</th>
                   

	                                    <th><button class="btn btn-mini btn-primary" type="submit">Pesquisar</button></th>
	                                </tr> 
	                                                                
	                            </thead>
	                            <tbody>
	                            	<?php if (sizeof($this->rows)==0) : ?>
	                                <tr>
	                                    <td colspan="7">Nenhum registro foi encontrado!</td>
	                                </tr>
	                            	
	                            	<?php else : ?>
	                            	<?php foreach ($this->rows as $row) : ?>
	                                <tr>
	                                	<td><?php echo $row['id'] ?></td>

										<td>
											<?php
												$___rows = Escolasusuarios::getEscolasusuariosHelper(array('id'=>$row['idprofessor']));
												$___row = (sizeof($___rows)>0) ? 	$___rows[0] : false;	
												
												echo ($___row) ? $this->formatTextoBranco($___row['nomerazao'] . ' ' . $___row['sobrenomefantasia']) : '--';		
											?>
										</td>


										<td>
											<?php												
												echo ($___row) ? $this->formatTextoBranco($___row['rgf']) : '--';		
											?>
										</td>

										<td>
											<?php												
												echo ($row) ? $this->formatTextoBranco($row['pontuacao']) : '--';		
											?>
										</td>

										<td <?php echo 'class="status2"' ?>>
											
												<?php echo $row['status'] ?>
										</td>

			                				

	                                    <td>
		                					<?php if (Mn_Util::isAccess($this->getController(), 'editar')) : ?>
		                					<a onclick="javascript:setAprovar(<?php echo $row["id"]?>, this);" href="javascript:;">
												<?php echo $row['aprovacao'] ?>
	                						</a>
		                					<?php else : ?>
		                					<?php echo $row['aprovacao'] ?>
		                					<?php endif; ?>
	                                    </td>
	                                </tr>
	                            	<?php endforeach;?>
	                            	
	                            	
	                            	
	                            	
	                            	<?php endif; ?>
	
	                            </tbody>
	                        </table>
	                    </div>
	                    <?php echo $this->render('/helpers/paginator.phtml') ?>
                    
                    </form>

                </div>
                <!-- /table with footer -->
	                        


		    </div>
		    <!-- /content wrapper -->

		</div>
		<!-- content -->
		
		
<script type="text/javascript" src="<?php echo $this->baseUrl('/public/scripts/admin/documentacaojornadas_index.js') ?>"></script>
<script type="text/javascript">

	var form_values = {};
	<?php if (isset($this->post_var)) :  ?>
form_values.idescola = '<?php echo (isset($this->post_var['idescola'])) ? $this->post_var['idescola'] : '' ?>';

form_values.iddocumentacao = '<?php echo (isset($this->post_var['iddocumentacao'])) ? $this->post_var['iddocumentacao'] : '' ?>';

form_values.idprofessor = '<?php echo (isset($this->post_var['idprofessor'])) ? $this->post_var['idprofessor'] : '' ?>';

form_values.status1 = '<?php echo (isset($this->post_var['status1'])) ? $this->post_var['status1'] : $this->post_var['status'] ?>';

	
	<?php endif; ?>

	var sorting = ["idescola", "iddocumentacao", "idprofessor", "observacao", "status"];
	
</script>	


