		<!-- Content -->
		<div id="content">

		    <!-- Content wrapper -->
		    <div class="wrapper">

			    <!-- Breadcrumbs line -->
			    <div class="crumbs">
			    	<?php echo $this->render('/helpers/breadcrumb.phtml') ?>
			    </div>
			    <!-- /breadcrumbs line -->

			    <!-- Page header -->
			    <div class="page-header">
			    	<div class="page-title">
				    	<h5>Formulário do proprietário</h5>
				    	<span>Verifique os campos e preencha com os dados</span>
			    	</div>
			    </div>
			    <!-- /page header -->

			    <?php if (isset($this->crudMessage)) : ?>
					<div class="alert alert-success">
	                	<button data-dismiss="alert" class="close" type="button">×</button>
	                    <strong>Operação realizada com sucesso!</strong>
		    			<span><br /><?php echo $this->crudMessage ?></span>
	                </div>			    
			    <?php endif; ?>

				<form id="form" name="form" action="" method="post" class="form-horizontal" enctype="multipart/form-data"> 
					<input type="hidden" value="<?php echo (isset($this->post_var)) ? $this->post_var["id"] : ''; ?>" name="id" id="id" />
					
					<fieldset>
						<!-- General form elements -->
						<div class="widget row-fluid">
						    <div class="navbar">
						        <div class="navbar-inner">
						            <h6>Digite as informações do formulário</h6>
						        </div>
						    </div>

						    <div class="well">
								<?php if (isset($this->erros)) : ?>
									<div class="alert alert-error margin">
				                        <button data-dismiss="alert" class="close" type="button">×</button>
				                        <strong>Há erros no formulário!</strong>
					    				<?php foreach ($this->erros as $k=>$v) : ?>
					    					<span><br />- <?php echo $v ?></span>
					    				<?php endforeach;?>			                        
				                    </div>
			                    <?php endif; ?>						    
						    

				<div class="control-group">
					<label class="control-label">idsecretaria </label>
					<div class="controls"><input  placeholder="idsecretaria" name="idsecretaria" value="<?php echo (isset($this->post_var['idsecretaria'])) ? $this->post_var['idsecretaria'] : '' ?>" type="text"  class="span3" /></div>
				</div>


				<div class="control-group">
					<label class="control-label">pfpj </label>
					<div class="controls"><input maxlength="2" placeholder="pfpj" name="pfpj" value="<?php echo (isset($this->post_var['pfpj'])) ? $this->post_var['pfpj'] : '' ?>" type="text"  class="span3" /></div>
				</div>


				<div class="control-group">
					<label class="control-label">cpf </label>
					<div class="controls"><input maxlength="20" placeholder="cpf" name="cpf" value="<?php echo (isset($this->post_var['cpf'])) ? $this->post_var['cpf'] : '' ?>" type="text"  class="span3" /></div>
				</div>


				<div class="control-group">
					<label class="control-label">cnpj </label>
					<div class="controls"><input maxlength="20" placeholder="cnpj" name="cnpj" value="<?php echo (isset($this->post_var['cnpj'])) ? $this->post_var['cnpj'] : '' ?>" type="text"  class="span3" /></div>
				</div>


				<div class="control-group">
					<label class="control-label">ie </label>
					<div class="controls"><input maxlength="20" placeholder="ie" name="ie" value="<?php echo (isset($this->post_var['ie'])) ? $this->post_var['ie'] : '' ?>" type="text"  class="span3" /></div>
				</div>


				<div class="control-group">
					<label class="control-label">im </label>
					<div class="controls"><input maxlength="20" placeholder="im" name="im" value="<?php echo (isset($this->post_var['im'])) ? $this->post_var['im'] : '' ?>" type="text"  class="span3" /></div>
				</div>


				<div class="control-group">
					<label class="control-label">nomerazao </label>
					<div class="controls"><input maxlength="100" placeholder="nomerazao" name="nomerazao" value="<?php echo (isset($this->post_var['nomerazao'])) ? $this->post_var['nomerazao'] : '' ?>" type="text"  class="span3" /></div>
				</div>


				<div class="control-group">
					<label class="control-label">sobrenomefantasia </label>
					<div class="controls"><input maxlength="100" placeholder="sobrenomefantasia" name="sobrenomefantasia" value="<?php echo (isset($this->post_var['sobrenomefantasia'])) ? $this->post_var['sobrenomefantasia'] : '' ?>" type="text"  class="span3" /></div>
				</div>


				<div class="control-group">
					<label class="control-label">email </label>
					<div class="controls"><input maxlength="100" placeholder="email" name="email" value="<?php echo (isset($this->post_var['email'])) ? $this->post_var['email'] : '' ?>" type="text"  class="span3" /></div>
				</div>


				<div class="control-group">
					<label class="control-label">telefone </label>
					<div class="controls"><input maxlength="20" placeholder="telefone" name="telefone" value="<?php echo (isset($this->post_var['telefone'])) ? $this->post_var['telefone'] : '' ?>" type="text"  class="span3" /></div>
				</div>


				<div class="control-group">
					<label class="control-label">celular </label>
					<div class="controls"><input maxlength="20" placeholder="celular" name="celular" value="<?php echo (isset($this->post_var['celular'])) ? $this->post_var['celular'] : '' ?>" type="text"  class="span3" /></div>
				</div>


				<div class="control-group">
					<label class="control-label">endereco </label>
					<div class="controls"><input maxlength="100" placeholder="endereco" name="endereco" value="<?php echo (isset($this->post_var['endereco'])) ? $this->post_var['endereco'] : '' ?>" type="text"  class="span3" /></div>
				</div>


				<div class="control-group">
					<label class="control-label">numero </label>
					<div class="controls"><input maxlength="10" placeholder="numero" name="numero" value="<?php echo (isset($this->post_var['numero'])) ? $this->post_var['numero'] : '' ?>" type="text"  class="span3" /></div>
				</div>


				<div class="control-group">
					<label class="control-label">bairro </label>
					<div class="controls"><input maxlength="50" placeholder="bairro" name="bairro" value="<?php echo (isset($this->post_var['bairro'])) ? $this->post_var['bairro'] : '' ?>" type="text"  class="span3" /></div>
				</div>


				<div class="control-group">
					<label class="control-label">cidade </label>
					<div class="controls"><input maxlength="100" placeholder="cidade" name="cidade" value="<?php echo (isset($this->post_var['cidade'])) ? $this->post_var['cidade'] : '' ?>" type="text"  class="span3" /></div>
				</div>


				<div class="control-group">
					<label class="control-label">cep </label>
					<div class="controls"><input maxlength="10" placeholder="cep" name="cep" value="<?php echo (isset($this->post_var['cep'])) ? $this->post_var['cep'] : '' ?>" type="text"  class="span3" /></div>
				</div>


				<div class="control-group">
					<label class="control-label">status </label>
					<div class="controls"><input maxlength="20" placeholder="status" name="status" value="<?php echo (isset($this->post_var['status'])) ? $this->post_var['status'] : '' ?>" type="text"  class="span3" /></div>
				</div>

						    
						    
						    </div>
						    
			                <div class="form-actions align-right">
			                	<?php if ((isset($this->visualizar)) && ($this->visualizar)) : ?>
			                		<button onclick="window.history.back()" class="btn btn-danger cancelar" type="button">Voltar</button>
			                	<?php else : ?>
				                	<button class="btn btn-primary enviar" type="submit">Salvar</button>
				                	<button onclick="window.history.back()" class="btn btn-danger cancelar" type="button">Cancelar</button>
			                	<?php endif; ?>
			                </div>
						</div>
						<!-- /general form elements -->

					</fieldset> 

				</form>
				<!-- /basic inputs -->

		    </div>
		    <!-- /content wrapper -->

		</div>
		<!-- content -->
				
<script type="text/javascript" src="<?php echo $this->baseUrl('/public/scripts/admin/logisticaproprietarios_form.js') ?>"></script>
<script type="text/javascript">
	var form_values = {};
	
	<?php if (isset($this->post_var)) :  ?>
		
	<?php endif; ?>

	visualizar = <?php echo  ((isset($this->visualizar)) && ($this->visualizar))  ? 'true' : 'false' ?>;
</script>
