		<!-- Content -->

		<div id="content">

		    <!-- Content wrapper -->
		    <div class="wrapper">

			    <!-- Breadcrumbs line -->
			    <div class="crumbs">
			    	<?php echo $this->render('/helpers/breadcrumb.phtml') ?>
			    </div>
			    <!-- /breadcrumbs line -->

			    <!-- Page header -->
			    <div class="page-header">
			    	<div class="page-title">
				    	<h5>Formulário do funcionário</h5>
				    	<span>Verifique os campos e preencha com os dados</span>
			    	</div>
			    </div>
			    <!-- /page header -->

			    <?php if (isset($this->crudMessage)) : ?>
					<div class="alert alert-success">
	                	<button data-dismiss="alert" class="close" type="button">×</button>
	                    <strong>Operação realizada com sucesso!</strong>
		    			<span><br /><?php echo $this->crudMessage ?></span>
	                </div>			    
			    <?php endif; ?>

				<form id="form" name="form" action="" method="post" class="form-horizontal" enctype="multipart/form-data"> 
					<input type="hidden" value="<?php echo (isset($this->post_var)) ? $this->post_var["id"] : ''; ?>" name="id" id="id" />
					
					<fieldset>
						<!-- General form elements -->
						<div class="widget row-fluid">
						    <div class="navbar">
						        <div class="navbar-inner">
						            <h6>Digite as informações do formulário</h6>
						        </div>
						    </div>

						    <div class="well">
								<?php if (isset($this->erros)) : ?>
									<div class="alert alert-error margin">
				                        <button data-dismiss="alert" class="close" type="button">×</button>
				                        <strong>Há erros no formulário!</strong>
					    				<?php foreach ($this->erros as $k=>$v) : ?>
					    					<span><br />- <?php echo $v ?></span>
					    				<?php endforeach;?>			                        
				                    </div>
			                    <?php endif; ?>						    
						    

				<div class="control-group">
					<label class="control-label">Foto </label>
					<div class="controls">
						<?php if ((isset($this->post_var['idimagem'])) && ((int)$this->post_var['idimagem']>0)) : ?>
							<?php echo $this->getImagem($this->post_var['idimagem'], 80, 80, '', Imagens::$INDISPONIVEL) ?>
					
							<?php if (!$this->visualizar) : ?>
								<div class="checkbox block">
									<label><input type="checkbox" name="excluir_idimagem" value="excluir_idimagem" /> Desejo excluir a imagem</label>
								</div>
							<?php endif; ?>
						<?php endif; ?>						            
					
						<input placeholder="Foto" name="idimagem" type="file"  />
					</div>
				</div>	


				<div class="control-group">
					<label class="control-label">Nome completo </label>
					<div class="controls"><input maxlength="500" placeholder="Nome completo" name="nome" value="<?php echo (isset($this->post_var['nome'])) ? $this->post_var['nome'] : '' ?>" type="text"  class="span3" /></div>
				</div>
				<div class="control-group">
					<label class="control-label">Status <span class="required">*</span></label>
					<div class="controls">
						<select name="status1" data-placeholder="Status" class="select">
							<option value="">Selecione...</option>
							<option value="Ativo">Ativo</option><option value="Bloqueado">Bloqueado</option>
						</select>
						
					</div>
				</div>

				<div class="control-group">
					<label class="control-label">Telefone </label>
					<div class="controls"><input maxlength="500" placeholder="Telefone" name="telefone" value="<?php echo (isset($this->post_var['telefone'])) ? $this->post_var['telefone'] : '' ?>" type="text"  class="span3" /></div>
				</div>




<?php $bloquio = false;
	if($bloquio): ?>


	        		<div class="control-group">
	        			<label class="control-label">Departamento</label>
	        			<div class="controls">
	        				<select id="iddepartamentoescola" name="iddepartamentoescola" class="form-control" onchange="setCargos(this, 0)">
	        					<option value="">Selecione</option>
							</select>        				
						</div>
					</div>


	        		<div class="control-group">
	        			<label class="control-label">Cargo</label>
	        			<div class="controls">
	        				<select id="idcargo" name="idcargo" class="form-control" onchange="setFuncoes(this, 0)">
	        					<option value="">Selecione</option>
							</select>        				
						</div>
					</div>


	        		<div class="control-group">
	        			<label class="control-label">Função</label>
	        			<div class="controls">
	        				<select id="idfuncao" name="idfuncao" class="form-control">
	        					<option value="">Selecione</option>
							</select>        				
						</div>
					</div>


				<div class="control-group">
					<label class="control-label">Descrição da Função </label>
					<div class="controls"><textarea class="span12" name="descricaofuncao" cols="5" rows="5"><?php echo (isset($this->post_var)) ? $this->post_var["descricaofuncao"] : ''; ?></textarea></div>
				</div>


				<div class="control-group">
					<label class="control-label">Risco da função </label>
					<div class="controls"><input maxlength="500" placeholder="Risco da função" name="riscofuncao" value="<?php echo (isset($this->post_var['riscofuncao'])) ? $this->post_var['riscofuncao'] : '' ?>" type="text"  class="span3" /></div>
				</div>
<?php endif;?>

				<div class="control-group">
					<label class="control-label">E-mail </label>
					<div class="controls"><input maxlength="500" placeholder="E-mail" name="email" value="<?php echo (isset($this->post_var['email'])) ? $this->post_var['email'] : '' ?>" type="text"  class="span3" /></div>
				</div>


				<div class="control-group">
					<label class="control-label">Data nascimento</label>
					<div class="controls"><input placeholder="Data nascimento" name="datanascimento" value="<?php echo (isset($this->post_var['datanascimento'])) ? Mn_Util::formPostVarData($this->post_var['datanascimento']) : '' ?>" type="text"  class="span3" /></div>
				</div>

<?php if($bloquio): ?>
				<div class="control-group">
					<label class="control-label">Data de Emissão da Carteira</label>
					<div class="controls"><input placeholder="Data de Emissão da Carteira" name="emissaocarteira" value="<?php echo (isset($this->post_var['emissaocarteira'])) ? Mn_Util::formPostVarData($this->post_var['emissaocarteira']) : '' ?>" type="text"  class="span3" /></div>
				</div>


				<div class="control-group">
					<label class="control-label">Reservista </label>
					<div class="controls"><input maxlength="500" placeholder="Reservista" name="reservista" value="<?php echo (isset($this->post_var['reservista'])) ? $this->post_var['reservista'] : '' ?>" type="text"  class="span3" /></div>
				</div>


				<div class="control-group">
					<label class="control-label">RG </label>
					<div class="controls"><input maxlength="500" placeholder="RG" name="rg" value="<?php echo (isset($this->post_var['rg'])) ? $this->post_var['rg'] : '' ?>" type="text"  class="span3" /></div>
				</div>


				<div class="control-group">
					<label class="control-label">CPF </label>
					<div class="controls"><input maxlength="500" placeholder="CPF" name="cpf" value="<?php echo (isset($this->post_var['cpf'])) ? $this->post_var['cpf'] : '' ?>" type="text"  class="span3" /></div>
				</div>


				<div class="control-group">
					<label class="control-label">PIS/PASEP </label>
					<div class="controls"><input maxlength="500" placeholder="PIS/PASEP" name="pispasep" value="<?php echo (isset($this->post_var['pispasep'])) ? $this->post_var['pispasep'] : '' ?>" type="text"  class="span3" /></div>
				</div>


				<div class="control-group">
					<label class="control-label">CNH </label>
					<div class="controls">
						<select name="cnh" data-placeholder="CNH" class="select" onchange="setCampos(this, 'cnh', 0)">
							<option value="">Selecione...</option>
							<option value="Sim">Sim</option><option value="Não">Não</option>
						</select>
						
					</div>
				</div>

<div class="box-cnh">
				<div class="control-group">
					<label class="control-label">Número </label>
					<div class="controls"><input maxlength="500" placeholder="Número" name="cnh_numero" value="<?php echo (isset($this->post_var['cnh_numero'])) ? $this->post_var['cnh_numero'] : '' ?>" type="text"  class="span3" /></div>
				</div>


				<div class="control-group">
					<label class="control-label">Categoria </label>
					<div class="controls"><input maxlength="500" placeholder="Categoria" name="cnh_categoria" value="<?php echo (isset($this->post_var['cnh_categoria'])) ? $this->post_var['cnh_categoria'] : '' ?>" type="text"  class="span3" /></div>
				</div>


				<div class="control-group">
					<label class="control-label">Validade</label>
					<div class="controls"><input placeholder="Validade" name="cnh_validade" value="<?php echo (isset($this->post_var['cnh_validade'])) ? Mn_Util::formPostVarData($this->post_var['cnh_validade']) : '' ?>" type="text"  class="span3" /></div>
				</div>
</div>

				<div class="control-group">
					<label class="control-label">É Estrangeiro </label>
					<div class="controls">
						<select name="estrangeiro" data-placeholder="É Estrangeiro" class="select" onchange="setCampos(this, 'estrangeiro', 0)">
							<option value="">Selecione...</option>
							<option value="Sim">Sim</option><option value="Não">Não</option>
						</select>
						
					</div>
				</div>

<div class="box-estrangeiro">
				<div class="control-group">
					<label class="control-label">Observações </label>
					<div class="controls"><textarea class="span12" name="obs_estrangeiro" cols="5" rows="5"><?php echo (isset($this->post_var)) ? $this->post_var["obs_estrangeiro"] : ''; ?></textarea></div>
				</div>
</div>

				<div class="control-group">
					<label class="control-label">Nacionalidade </label>
					<div class="controls"><input maxlength="500" placeholder="Nacionalidade" name="nacionalidade" value="<?php echo (isset($this->post_var['nacionalidade'])) ? $this->post_var['nacionalidade'] : '' ?>" type="text"  class="span3" /></div>
				</div>


				<div class="control-group">
					<label class="control-label">Local de nascimento </label>
					<div class="controls"><input maxlength="500" placeholder="Local de nascimento" name="localnascimento" value="<?php echo (isset($this->post_var['localnascimento'])) ? $this->post_var['localnascimento'] : '' ?>" type="text"  class="span3" /></div>
				</div>
<?php endif; ?>
	        		

				<div class="control-group">
					<label class="control-label">Tipo de ensino</label>
					<div class="controls">
						<select name="tipoensino" data-placeholder="Tipo de ensino" class="select" onchange="setTipo(this)">
							<option value="">Selecione...</option>
							<option value="Ensino Fundamental">Ensino Fundamental</option>
							<option value="Ensino Médio">Ensino Médio</option>
						</select>
						
					</div>
				</div>

				<div class="box-materias" style="display:none;">
					<div class="control-group">
						<label class="control-label">Selecione as Matérias</label>
						<div class="controls box-materias-content">
							
						</div>
					</div>
				</div>

<?php if($bloquio): ?>
				<div class="control-group">
					<label class="control-label">Estado Civil </label>
					<div class="controls">
						<select name="estadocivil" data-placeholder="Estado Civil" class="select">
							<option value="">Selecione...</option>
							<option value="Solteiro">Solteiro</option><option value="Casado">Casado</option><option value="Separado Judicialmente">Separado Judicialmente</option><option value="Divorciado">Divorciado</option><option value="Desquitado">Desquitado</option><option value="União Estável">União Estável</option><option value="Viúvo">Viúvo</option>
						</select>
						
					</div>
				</div>


				<div class="control-group">
					<label class="control-label">Cônjuge </label>
					<div class="controls"><input maxlength="500" placeholder="Cônjuge" name="conjugenome" value="<?php echo (isset($this->post_var['conjugenome'])) ? $this->post_var['conjugenome'] : '' ?>" type="text"  class="span3" /></div>
				</div>


				<div class="control-group">
					<label class="control-label">Dependentes </label>
					<div class="controls">
						<select name="filhos" data-placeholder="Dependentes" class="select" onchange="setCampos(this, 'filhos', 0)">
							<option value="">Selecione...</option>
							<option value="Sim">Sim</option><option value="Não">Não</option>
						</select>
						
					</div>
				</div>

<div class="box-filhos">
				<div class="control-group">
					<label class="control-label">QTD dependentes </label>
					<div class="controls"><input  placeholder="QTD dependentes" name="filhosquantidade" value="<?php echo (isset($this->post_var['filhosquantidade'])) ? $this->post_var['filhosquantidade'] : '' ?>" type="text"  class="span3" /></div>
				</div>
</div>

				<div class="control-group">
					<label class="control-label">Celular </label>
					<div class="controls"><input maxlength="500" placeholder="Celular" name="celular" value="<?php echo (isset($this->post_var['celular'])) ? $this->post_var['celular'] : '' ?>" type="text"  class="span3" /></div>
				</div>


				<div class="control-group">
					<label class="control-label">Data de admissão</label>
					<div class="controls"><input placeholder="Data de admissão" name="dataadmissao" value="<?php echo (isset($this->post_var['dataadmissao'])) ? Mn_Util::formPostVarData($this->post_var['dataadmissao']) : '' ?>" type="text"  class="span3" /></div>
				</div>


				<div class="control-group">
					<label class="control-label">Cart. Prof. N° </label>
					<div class="controls"><input maxlength="500" placeholder="Cart. Prof. N°" name="carteiranumero" value="<?php echo (isset($this->post_var['carteiranumero'])) ? $this->post_var['carteiranumero'] : '' ?>" type="text"  class="span3" /></div>
				</div>



				<div class="control-group">
					<label class="control-label">Filiação Mãe </label>
					<div class="controls"><input maxlength="500" placeholder="Filiação Mãe" name="filiacaomae" value="<?php echo (isset($this->post_var['filiacaomae'])) ? $this->post_var['filiacaomae'] : '' ?>" type="text"  class="span3" /></div>
				</div>


				<div class="control-group">
					<label class="control-label">Filiação Pai </label>
					<div class="controls"><input maxlength="500" placeholder="Filiação Pai" name="filiacaopai" value="<?php echo (isset($this->post_var['filiacaopai'])) ? $this->post_var['filiacaopai'] : '' ?>" type="text"  class="span3" /></div>
				</div>


				<div class="control-group">
					<label class="control-label">Número da CTPS </label>
					<div class="controls"><input maxlength="500" placeholder="Número da CTPS" name="ctps" value="<?php echo (isset($this->post_var['ctps'])) ? $this->post_var['ctps'] : '' ?>" type="text"  class="span3" /></div>
				</div>


				<div class="control-group">
					<label class="control-label">Último Registro em CTPS</label>
					<div class="controls"><input placeholder="Último Registro em CTPS" name="dataregistroctps" value="<?php echo (isset($this->post_var['dataregistroctps'])) ? Mn_Util::formPostVarData($this->post_var['dataregistroctps']) : '' ?>" type="text"  class="span3" /></div>
				</div>


				<div class="control-group">
					<label class="control-label">Regime contratação </label>
					<div class="controls">
						<select name="regime" data-placeholder="Bolsista" class="select" onchange="setRegime(this)">
							<option value="">Selecione...</option>
							<option value="Comissionado">Comissionado</option><option value="CLT">CLT</option><option value="Temporário">Temporário</option><option value="Estatutário">Estatutário</option><option value="Terceirizado">Terceirizado</option><option value="Outros">Outros</option>
						</select>
						
					</div>
				</div>

<div class="box-regime">
				<div class="control-group">
					<label class="control-label">Outros </label>
					<div class="controls"><input maxlength="500" placeholder="Outros" name="regime_outros" value="<?php echo (isset($this->post_var['regime_outros'])) ? $this->post_var['regime_outros'] : '' ?>" type="text"  class="span3" /></div>
				</div>
</div>

				<div class="control-group">
					<label class="control-label">Bolsista </label>
					<div class="controls">
						<select name="bolsista" data-placeholder="Bolsista" class="select" onchange="setCampos(this, 'bolsista', 0)">
							<option value="">Selecione...</option>
							<option value="Sim">Sim</option><option value="Não">Não</option>
						</select>
						
					</div>
				</div>

<div class="box-bolsista" style="display:none;">
				<div class="control-group">
					<label class="control-label">Data de Início da bolsa</label>
					<div class="controls"><input placeholder="Data de Início da bolsa" name="datainiciobolsa" value="<?php echo (isset($this->post_var['datainiciobolsa'])) ? Mn_Util::formPostVarData($this->post_var['datainiciobolsa']) : '' ?>" type="text"  class="span3" /></div>
				</div>


				<div class="control-group">
					<label class="control-label">Data Final da bolsa</label>
					<div class="controls"><input placeholder="Data Final da bolsa" name="datafimbolsa" value="<?php echo (isset($this->post_var['datafimbolsa'])) ? Mn_Util::formPostVarData($this->post_var['datafimbolsa']) : '' ?>" type="text"  class="span3" /></div>
				</div>
</div>
<?php endif;?>
				<div class="control-group">
					<?php echo $this->render('professoresescolas/helpers/credenciamentos.phtml') ?>
				</div>


<div class="navbar">
    <div class="navbar-inner">
        <h6 class="title-accordion">
			<a class="click_acc" data-toggle="collapse" data-parent="#accordion" href="#collapse1" style="height:0">
				Endereço
			</a>
        </h6>
    </div>
</div>



<div id="collapse1" class="content-height panel-collapse collapse">	
	<?php
		$this->endereco_prefix = "e_idendereco";
		echo $this->render('/helpers/forms/endereco.phtml') 
	?>
</div>



						    
						    
						    </div>
						    
			                <div class="form-actions align-right">
			                	<?php if ((isset($this->visualizar)) && ($this->visualizar)) : ?>
			                		<button onclick="window.history.back()" class="btn btn-danger cancelar" type="button">Voltar</button>
			                	<?php else : ?>
				                	<button class="btn btn-primary enviar" type="submit">Salvar</button>
				                	<button onclick="window.history.back()" class="btn btn-danger cancelar" type="button">Cancelar</button>
			                	<?php endif; ?>
			                </div>
						</div>
						<!-- /general form elements -->

					</fieldset> 

				</form>
				<!-- /basic inputs -->

		    </div>
		    <!-- /content wrapper -->

		</div>
		<!-- content -->
				
<script type="text/javascript" src="<?php echo $this->baseUrl('/public/scripts/default/professoresescolas_form.js') ?>"></script>
<script type="text/javascript">
	var form_values = {};
	
	<?php if (isset($this->post_var)) :  ?>
		form_values.idsecretaria = '<?php echo (isset($this->post_var['idsecretaria'])) ? $this->post_var['idsecretaria'] : '' ?>';

form_values.tipo = '<?php echo (isset($this->post_var['tipo'])) ? $this->post_var['tipo'] : '' ?>';

form_values.e_idenderecoidestado = '<?php echo (isset($this->post_var['e_idenderecoidestado'])) ? $this->post_var['e_idenderecoidestado'] : '' ?>';
form_values.iddepartamentoescola = '<?php echo (isset($this->post_var['iddepartamentoescola'])) ? $this->post_var['iddepartamentoescola'] : '' ?>';

form_values.cnh = '<?php echo (isset($this->post_var['cnh'])) ? $this->post_var['cnh'] : '' ?>';

form_values.estrangeiro = '<?php echo (isset($this->post_var['estrangeiro'])) ? $this->post_var['estrangeiro'] : '' ?>';

form_values.grauinstrucao = '<?php echo (isset($this->post_var['grauinstrucao'])) ? $this->post_var['grauinstrucao'] : '' ?>';

form_values.estadocivil = '<?php echo (isset($this->post_var['estadocivil'])) ? $this->post_var['estadocivil'] : '' ?>';

form_values.filhos = '<?php echo (isset($this->post_var['filhos'])) ? $this->post_var['filhos'] : '' ?>';

form_values.regime = '<?php echo (isset($this->post_var['regime'])) ? $this->post_var['regime'] : '' ?>';

form_values.bolsista = '<?php echo (isset($this->post_var['bolsista'])) ? $this->post_var['bolsista'] : '' ?>';
form_values.idescola = '<?php echo (isset($this->post_var['idescola'])) ? $this->post_var['idescola'] : '' ?>';
form_values.iddepartamentoescola = '<?php echo (isset($this->post_var['iddepartamentoescola'])) ? $this->post_var['iddepartamentoescola'] : '' ?>';
form_values.idfuncao = '<?php echo (isset($this->post_var['idfuncao'])) ? $this->post_var['idfuncao'] : '' ?>';
form_values.idcargo = '<?php echo (isset($this->post_var['idcargo'])) ? $this->post_var['idcargo'] : '' ?>';
form_values.status1 = '<?php echo (isset($this->post_var['status1'])) ? $this->post_var['status1'] : $this->post_var['status'] ?>';


	<?php endif; ?>

form_values.idprefeitura = '<?php echo (isset($this->post_var['idprefeitura'])) ? $this->post_var['idprefeitura'] : '' ?>';
form_values.professor = '<?php echo (isset($this->post_var['professor'])) ? $this->post_var['professor'] : '' ?>';
form_values.idescola = '<?php echo (isset($this->post_var['idescola'])) ? $this->post_var['idescola'] : '' ?>';
form_values.enviaemails = '<?php echo (isset($this->post_var['enviaemails'])) ? $this->post_var['enviaemails'] : '' ?>';
form_values.idperfil = '<?php echo (isset($this->post_var['idperfil'])) ? $this->post_var['idperfil'] : '' ?>';



form_values.tipoensino = '<?php echo (isset($this->post_var['tipoensino'])) ? $this->post_var['tipoensino'] : '' ?>';

	<?php if ((isset($this->post_var['idsmaterias'][0])) && (isset($this->post_var['idsmaterias'])) && ($this->post_var['idsmaterias']!="")) :  ?>
	form_values.idsmaterias = [<?php echo $this->post_var['idsmaterias'] ?>];
	<?php endif; ?>

	visualizar = <?php echo  ((isset($this->visualizar)) && ($this->visualizar))  ? 'true' : 'false' ?>;
</script>
