<?php 
if(isset($this->rows) && is_array($this->rows)):
if (sizeof($this->rows)==0) : ?>
<tr>
	<td width="100%">
		Nenhum aluno foi encontrada para essa escola
	</td>       						
</tr>
<?php else : ?>
<?php foreach ($this->rows as $row) : ?>
<tr>
	<td width="100%">
		<?php if ((isset($this->visualizar)) && ($this->visualizar)) : ?>
			<input type="checkbox" value="<?php echo $row['idaluno']?>" name="idaluno[]"><span><?php echo $row['nomerazao'] ?> <?php echo $row['sobrenomefantasia'] ?></span>
		<?php else: ?>
			<input type="checkbox" value="<?php echo $row['idaluno']?>" name="idaluno[]"><?php echo $row['nomerazao'] ?> <?php echo $row['sobrenomefantasia'] ?>
		<?php endif;?>
	</td>       						
</tr>
<?php endforeach; ?>

<?php endif; ?>
<?php else: ?>
<?php endif; ?>
