		<!-- Content -->
		<div id="content">

		    <!-- Content wrapper -->
		    <div class="wrapper">

			    <!-- Breadcrumbs line -->
			    <div class="crumbs">
			    	<?php echo $this->render('/helpers/breadcrumb.phtml') ?>
			    </div>
			    <!-- /breadcrumbs line -->

			    <!-- Page header -->
			    <div class="page-header">
			    	<div class="page-title">
				    	<h5>Formulário do chamado</h5>
				    	<span>Verifique os campos e preencha com os dados</span>
			    	</div>
			    </div>
			    <!-- /page header -->

			    <?php if (isset($this->crudMessage)) : ?>
					<div class="alert alert-success">
	                	<button data-dismiss="alert" class="close" type="button">×</button>
	                    <strong>Operação realizada com sucesso!</strong>
		    			<span><br /><?php echo $this->crudMessage ?></span>
	                </div>			    
			    <?php endif; ?>

				<form id="form" name="form" action="" method="post" class="form-horizontal" enctype="multipart/form-data"> 
					<input type="hidden" value="<?php echo (isset($this->post_var)) ? $this->post_var["id"] : ''; ?>" name="id" id="id" />
					
					<fieldset>
						<!-- General form elements -->
						<div class="widget row-fluid">
						    <div class="navbar">
						        <div class="navbar-inner">
						            <h6>Digite as informações do formulário</h6>
						        </div>
						    </div>

						    <div class="well">
								<?php if (isset($this->erros)) : ?>
									<div class="alert alert-error margin">
				                        <button data-dismiss="alert" class="close" type="button">×</button>
				                        <strong>Há erros no formulário!</strong>
					    				<?php foreach ($this->erros as $k=>$v) : ?>
					    					<span><br />- <?php echo $v ?></span>
					    				<?php endforeach;?>			                        
				                    </div>
			                    <?php endif; ?>						    
						    

				<div class="control-group">
					<label class="control-label">Sequancial/Ano <span class="required">*</span></label>
					<div class="controls"><input maxlength="500" placeholder="Sequancial/Ano" name="sequencial" value="<?php echo (isset($this->post_var['sequencial'])) ? $this->post_var['sequencial'] : '' ?>" type="text"  class="span3" /></div>
				</div>


				<div class="control-group">
					<label class="control-label">Destino </label>
					<div class="controls">
						<select name="destino" data-placeholder="Destino" class="select">
							<option value="">Selecione...</option>
							<option value="Departamento">Departamento</option><option value="Escola">Escola</option>
						</select>
						
					</div>
				</div>


				<div class="control-group">
					<label class="control-label">Departamento </label>
					<div class="controls">
		                <select name="iddepartamento" data-placeholder="Departamento" class="select">
							<option value="">Selecione...</option>
							<?php foreach (Departamentossecretarias::getDepartamentossecretariasHelper(array('status'=>'Ativo')) as $k=>$v) : ?>
							<option value="<?php echo $v['id'] ?>"><?php echo $v['departamento'] ?></option>
							<?php endforeach;?>
						</select>
						
					</div>
				</div>


				<div class="control-group">
					<label class="control-label">Escola <span class="required">*</span></label>
					<div class="controls">
		                <select name="idescola" data-placeholder="Escola" class="select">
							<option value="">Selecione...</option>
							<?php foreach (Escolas::getEscolasHelper(array('status'=>'Ativo')) as $k=>$v) : ?>
							<option value="<?php echo $v['id'] ?>"><?php echo $v['escola'] ?></option>
							<?php endforeach;?>
						</select>
						
					</div>
				</div>


				<div class="control-group">
					<label class="control-label">Descrições <span class="required">*</span></label>
					<div class="controls"><textarea class="span12" name="descricoes" cols="5" rows="5"><?php echo (isset($this->post_var)) ? $this->post_var["descricoes"] : ''; ?></textarea></div>
				</div>


				<div class="control-group">
					<label class="control-label">Prioridadade <span class="required">*</span></label>
					<div class="controls">
		                <select name="idprioridade" data-placeholder="Prioridadade" class="select">
							<option value="">Selecione...</option>
							<?php foreach (Chamadosprioridades::getChamadosprioridadesHelper(array('status'=>'Ativo')) as $k=>$v) : ?>
							<option value="<?php echo $v['id'] ?>"><?php echo $v['prioridadade'] ?></option>
							<?php endforeach;?>
						</select>
						
					</div>
				</div>


				<div class="control-group">
					<label class="control-label">Status <span class="required">*</span></label>
					<div class="controls">
		                <select name="idstatus" data-placeholder="Status" class="select">
							<option value="">Selecione...</option>
							<?php foreach (Status::getChamadosstatusHelper(array('status'=>'Ativo')) as $k=>$v) : ?>
							<option value="<?php echo $v['id'] ?>"><?php echo $v['titulo'] ?></option>
							<?php endforeach;?>
						</select>
						
					</div>
				</div>


				<div class="control-group">
					<label class="control-label">Data</label>
					<div class="controls"><input placeholder="Data" name="dataagendada" value="<?php echo (isset($this->post_var['dataagendada'])) ? Mn_Util::formPostVarData($this->post_var['dataagendada']) : '' ?>" type="text"  class="span3" /></div>
				</div>


				<div class="control-group">
					<label class="control-label">Finalização </label>
					<div class="controls">
						<select name="finalizacao" data-placeholder="Finalização" class="select">
							<option value="">Selecione...</option>
							<option value="Sim">Sim</option><option value="Não">Não</option>
						</select>
						
					</div>
				</div>


				<div class="control-group">
					<label class="control-label">finalizacaodata </label>
					<div class="controls"><input  placeholder="finalizacaodata" name="finalizacaodata" value="<?php echo (isset($this->post_var['finalizacaodata'])) ? $this->post_var['finalizacaodata'] : '' ?>" type="text"  class="span3" /></div>
				</div>


				<div class="control-group">
					<label class="control-label">Atendido <span class="required">*</span></label>
					<div class="controls">
						<select name="atendido" data-placeholder="Atendido" class="select">
							<option value="">Selecione...</option>
							<option value="Sim">Sim</option><option value="Não">Não</option>
						</select>
						
					</div>
				</div>


				<div class="control-group">
					<label class="control-label">Tipo de avaliação de serviços </label>
					<div class="controls">
		                <select name="idtipo" data-placeholder="Tipo" class="select">
							<option value="">Selecione...</option>
							<?php foreach (Avaliacoesservicos::getAvaliacoesservicosHelper(array('status'=>'Ativo')) as $k=>$v) : ?>
							<option value="<?php echo $v['id'] ?>"><?php echo $v['tipoavaliacao'] ?></option>
							<?php endforeach;?>
						</select>
						<span class="help-block">Avaliacoesservicos,getAvaliacoesservicosHelper,tipoavaliacao</span>
					</div>
				</div>


				<div class="control-group">
					<label class="control-label">Observações </label>
					<div class="controls"><textarea class="span12" name="observacoes" cols="5" rows="5"><?php echo (isset($this->post_var)) ? $this->post_var["observacoes"] : ''; ?></textarea></div>
				</div>


				<div class="control-group">
					<label class="control-label">Materiais Descrições </label>
					<div class="controls"><textarea class="span12" name="servicoesdescricoes" cols="5" rows="5"><?php echo (isset($this->post_var)) ? $this->post_var["servicoesdescricoes"] : ''; ?></textarea></div>
				</div>


				<div class="control-group">
					<label class="control-label">Materiais Utilizados </label>
					<div class="controls"><textarea class="span12" name="servicosmateriais" cols="5" rows="5"><?php echo (isset($this->post_var)) ? $this->post_var["servicosmateriais"] : ''; ?></textarea></div>
				</div>


				<div class="control-group">
					<label class="control-label">Funcionário <span class="required">*</span></label>
					<div class="controls">
		                <select name="idsfuncionarios" data-placeholder="Funcionário" class="select">
							<option value="">Selecione...</option>
							<?php foreach (Funcionariosgeraisescolas::getFuncionariosgeraisescolasHelper(array('status'=>'Ativo')) as $k=>$v) : ?>
							<option value="<?php echo $v['id'] ?>"><?php echo $v['nome'] ?></option>
							<?php endforeach;?>
						</select>
						
					</div>
				</div>


				<div class="control-group">
					<label class="control-label">idspatrimonios </label>
					<div class="controls"><input maxlength="500" placeholder="idspatrimonios" name="idspatrimonios" value="<?php echo (isset($this->post_var['idspatrimonios'])) ? $this->post_var['idspatrimonios'] : '' ?>" type="text"  class="span3" /></div>
				</div>


				<div class="control-group">
					<label class="control-label">Observação do equipamento </label>
					<div class="controls"><textarea class="span12" name="patrimoniosobservacoes" cols="5" rows="5"><?php echo (isset($this->post_var)) ? $this->post_var["patrimoniosobservacoes"] : ''; ?></textarea></div>
				</div>


				<div class="control-group">
					<label class="control-label">Defeito Constatado </label>
					<div class="controls"><textarea class="span12" name="defeitoconstatado" cols="5" rows="5"><?php echo (isset($this->post_var)) ? $this->post_var["defeitoconstatado"] : ''; ?></textarea></div>
				</div>


				<div class="control-group">
					<label class="control-label">Serviços executados </label>
					<div class="controls"><textarea class="span12" name="servicosexecutados" cols="5" rows="5"><?php echo (isset($this->post_var)) ? $this->post_var["servicosexecutados"] : ''; ?></textarea></div>
				</div>


				<div class="control-group">
					<label class="control-label">Substituição de peças </label>
					<div class="controls">
						<select name="substituicaopecas" data-placeholder="Substituição de peças" class="select">
							<option value="">Selecione...</option>
							<option value="Sim">Sim</option><option value="Não">Não</option>
						</select>
						
					</div>
				</div>


				<div class="control-group">
					<label class="control-label">idspecas </label>
					<div class="controls"><textarea class="span12" name="idspecas" cols="5" rows="5"><?php echo (isset($this->post_var)) ? $this->post_var["idspecas"] : ''; ?></textarea></div>
				</div>


				<div class="control-group">
					<label class="control-label">Observação </label>
					<div class="controls"><textarea class="span12" name="tiobservacoesresposta" cols="5" rows="5"><?php echo (isset($this->post_var)) ? $this->post_var["tiobservacoesresposta"] : ''; ?></textarea></div>
				</div>


				<div class="control-group">
					<label class="control-label">idresponsavel </label>
					<div class="controls"><input  placeholder="idresponsavel" name="idresponsavel" value="<?php echo (isset($this->post_var['idresponsavel'])) ? $this->post_var['idresponsavel'] : '' ?>" type="text"  class="span3" /></div>
				</div>


				<div class="control-group">
					<label class="control-label">Status </label>
					<div class="controls">
						<select name="status1" data-placeholder="Status" class="select">
							<option value="">Selecione...</option>
							<option value="Ativo">Ativo</option><option value="Bloquedo">Bloquedo</option>
						</select>
						
					</div>
				</div>


				<div class="control-group">
					<label class="control-label">Funcionário <span class="required">*</span></label>
					<div class="controls">
		                <select name="idusuariocriacao" data-placeholder="Funcionário" class="select">
							<option value="">Selecione...</option>
							<?php foreach (Funcionariosgeraisescolas::getFuncionariosgeraisescolasHelper(array('status'=>'Ativo')) as $k=>$v) : ?>
							<option value="<?php echo $v['id'] ?>"><?php echo $v['nome'] ?></option>
							<?php endforeach;?>
						</select>
						
					</div>
				</div>


				<div class="control-group">
					<label class="control-label">Departamento </label>
					<div class="controls">
		                <select name="iddepartamentocriacao" data-placeholder="Departamento" class="select">
							<option value="">Selecione...</option>
							<?php foreach (Departamentossecretarias::getDepartamentossecretariasHelper(array('status'=>'Ativo')) as $k=>$v) : ?>
							<option value="<?php echo $v['id'] ?>"><?php echo $v['departamento'] ?></option>
							<?php endforeach;?>
						</select>
						
					</div>
				</div>

						    
						    
						    </div>
						    
			                <div class="form-actions align-right">
			                	<?php if ((isset($this->visualizar)) && ($this->visualizar)) : ?>
			                		<button onclick="window.history.back()" class="btn btn-danger cancelar" type="button">Voltar</button>
			                	<?php else : ?>
				                	<button class="btn btn-primary enviar" type="submit">Salvar</button>
				                	<button onclick="window.history.back()" class="btn btn-danger cancelar" type="button">Cancelar</button>
			                	<?php endif; ?>
			                </div>
						</div>
						<!-- /general form elements -->

					</fieldset> 

				</form>
				<!-- /basic inputs -->

		    </div>
		    <!-- /content wrapper -->

		</div>
		<!-- content -->
				
<script type="text/javascript" src="<?php echo $this->baseUrl('/public/scripts/admin/chamados_form.js') ?>"></script>
<script type="text/javascript">
	var form_values = {};
	
	<?php if (isset($this->post_var)) :  ?>
		form_values.destino = '<?php echo (isset($this->post_var['destino'])) ? $this->post_var['destino'] : '' ?>';

form_values.iddepartamento = '<?php echo (isset($this->post_var['iddepartamento'])) ? $this->post_var['iddepartamento'] : '' ?>';

form_values.idescola = '<?php echo (isset($this->post_var['idescola'])) ? $this->post_var['idescola'] : '' ?>';

form_values.idprioridade = '<?php echo (isset($this->post_var['idprioridade'])) ? $this->post_var['idprioridade'] : '' ?>';

form_values.idstatus = '<?php echo (isset($this->post_var['idstatus'])) ? $this->post_var['idstatus'] : '' ?>';

form_values.finalizacao = '<?php echo (isset($this->post_var['finalizacao'])) ? $this->post_var['finalizacao'] : '' ?>';

form_values.atendido = '<?php echo (isset($this->post_var['atendido'])) ? $this->post_var['atendido'] : '' ?>';

form_values.idtipo = '<?php echo (isset($this->post_var['idtipo'])) ? $this->post_var['idtipo'] : '' ?>';

form_values.idsfuncionarios = '<?php echo (isset($this->post_var['idsfuncionarios'])) ? $this->post_var['idsfuncionarios'] : '' ?>';

form_values.substituicaopecas = '<?php echo (isset($this->post_var['substituicaopecas'])) ? $this->post_var['substituicaopecas'] : '' ?>';

form_values.status1 = '<?php echo (isset($this->post_var['status1'])) ? $this->post_var['status1'] : $this->post_var['status'] ?>';

form_values.idusuariocriacao = '<?php echo (isset($this->post_var['idusuariocriacao'])) ? $this->post_var['idusuariocriacao'] : '' ?>';

form_values.iddepartamentocriacao = '<?php echo (isset($this->post_var['iddepartamentocriacao'])) ? $this->post_var['iddepartamentocriacao'] : '' ?>';


	<?php endif; ?>

	visualizar = <?php echo  ((isset($this->visualizar)) && ($this->visualizar))  ? 'true' : 'false' ?>;
</script>
