		<!-- Content -->
		<div id="content">

		    <!-- Content wrapper -->
		    <div class="wrapper">

			    <!-- Breadcrumbs line -->
			    <div class="crumbs">
			    	<?php echo $this->render('/helpers/breadcrumb.phtml') ?>
			    </div>
			    <!-- /breadcrumbs line -->

			    <!-- Page header -->
			    <div class="page-header">
			    	<div class="page-title">
				    	<h5>Chamados no sistema</h5>
				    	<span>Visualize os chamados do sistema</span>
			    	</div>
			    	
			    </div>
			    <!-- /page header -->
			    
			    <?php if (isset($this->crudMessage)) : ?>
				<div class="alert alert-success">
                	<button data-dismiss="alert" class="close" type="button">×</button>
                    <strong>Operação realizada com sucesso!</strong>
	    			<span><br /><?php echo $this->crudMessage ?></span>
                </div>			    
			    <?php endif; ?>




	                        	                        
                <!-- Table with footer -->
                <div class="widget">
                	<form action="#" class="form-horizontal" method="post">
                		<input type="hidden" value="<?php echo (isset($this->post_var['sorting'])) ? $this->post_var['sorting'] : '' ?>" name="sorting" />
	                	<div class="navbar">
	                		<div class="navbar-inner">
	                			<h6>Visualizando registros</h6>
	                			<?php if (Mn_Util::isAccess($this->getController(), 'adicionar')) : ?>
	                			<a style="float:right;" href="<?php echo $this->baseUrl() ?>/<?php echo 'admin' ?>/<?php echo $this->getController() ?>/adicionar" class="btn btn-primary"><span class="icon-plus"></span>&nbsp;Adicionar chamado</a>
	                			<?php endif; ?>
	                		</div>
	                	</div>
	                    <div class="table-overflow">
	                        <table class="table table-content">
	                            <thead>
	                                <tr>
	                                    <th width="20">#</th>
                                    <th>Sequancial/Ano</th>
                                    <th class="s-idescola sorting">Escola</th>
                                    <th class="s-descricoes sorting">Descrições</th>
                                    <th class="s-idprioridade sorting">Prioridadade</th>
                                    <th class="s-idstatus sorting">Status</th>
                                    <th class="s-dataagendada sorting">Data</th>
                                    <th class="s-finalizacao sorting">Finalização</th>
                                    <th class="s-atendido sorting">Atendido</th>
                                    <th class="s-idsfuncionarios sorting">Funcionário</th>
                                    <th class="s-idusuariocriacao sorting">Funcionário</th>


	                                    <th width="96">Ações</th>
	                                </tr>
	                                <tr>
	                                    <th></th>
										<th></th>

										<th>
											<div>
												<select name="idescola" placeholder="Todos" class="select">
													<option value="">Todos</option>
													<?php foreach (Escolas::getEscolasHelper(array('status'=>'Ativo')) as $k=>$v) : ?>
														<option value="<?php echo $v['id'] ?>"><?php echo $v['escola'] ?></option>
													<?php endforeach;?>
												</select>
											</div>
										</th>
										<th><input name="descricoes" value="<?php echo (isset($this->post_var['descricoes'])) ? $this->post_var['descricoes'] : '' ?>" type="text" placeholder="Descrições" class="span3"></th>

										<th>
											<div>
												<select name="idprioridade" placeholder="Todos" class="select">
													<option value="">Todos</option>
													<?php foreach (Chamadosprioridades::getChamadosprioridadesHelper(array('status'=>'Ativo')) as $k=>$v) : ?>
														<option value="<?php echo $v['id'] ?>"><?php echo $v['prioridadade'] ?></option>
													<?php endforeach;?>
												</select>
											</div>
										</th>

										<th>
											<div>
												<select name="idstatus" placeholder="Todos" class="select">
													<option value="">Todos</option>
													<?php foreach (Status::getChamadosstatusHelper(array('status'=>'Ativo')) as $k=>$v) : ?>
														<option value="<?php echo $v['id'] ?>"><?php echo $v['titulo'] ?></option>
													<?php endforeach;?>
												</select>
											</div>
										</th>

										<th>
											<input name="dataagendada_i" value="<?php echo (isset($this->post_var['dataagendada_i'])) ? Mn_Util::formPostVarData($this->post_var['dataagendada_i']) : '' ?>" type="text" placeholder="Data inicial" class="span3">
											<input name="dataagendada_f" value="<?php echo (isset($this->post_var['dataagendada_f'])) ? Mn_Util::formPostVarData($this->post_var['dataagendada_f']) : '' ?>" type="text" placeholder="Data final" class="span3">
										</th>

										<th>
											<div>
												<select name="finalizacao" placeholder="Todos" class="select">
													<option value="">Todos</option>
													<option value="Sim">Sim</option><option value="Não">Não</option>
												</select>
											</div>
										</th>

										<th>
											<div>
												<select name="atendido" placeholder="Todos" class="select">
													<option value="">Todos</option>
													<option value="Sim">Sim</option><option value="Não">Não</option>
												</select>
											</div>
										</th>

										<th>
											<div>
												<select name="idsfuncionarios" placeholder="Todos" class="select">
													<option value="">Todos</option>
													<?php foreach (Funcionariosgeraisescolas::getFuncionariosgeraisescolasHelper(array('status'=>'Ativo')) as $k=>$v) : ?>
														<option value="<?php echo $v['id'] ?>"><?php echo $v['nome'] ?></option>
													<?php endforeach;?>
												</select>
											</div>
										</th>

										<th>
											<div>
												<select name="idusuariocriacao" placeholder="Todos" class="select">
													<option value="">Todos</option>
													<?php foreach (Funcionariosgeraisescolas::getFuncionariosgeraisescolasHelper(array('status'=>'Ativo')) as $k=>$v) : ?>
														<option value="<?php echo $v['id'] ?>"><?php echo $v['nome'] ?></option>
													<?php endforeach;?>
												</select>
											</div>
										</th>
                   

	                                    <th><button class="btn btn-mini btn-primary" type="submit">Pesquisar</button></th>
	                                </tr> 
	                                                                
	                            </thead>
	                            <tbody>
	                            	<?php if (sizeof($this->rows)==0) : ?>
	                                <tr>
	                                    <td colspan="12">Nenhum registro foi encontrado!</td>
	                                </tr>
	                            	
	                            	<?php else : ?>
	                            	<?php foreach ($this->rows as $row) : ?>
	                                <tr>
	                                	<td><?php echo $row['id'] ?></td>

										<td><?php echo $row['sequencial'] ?></td>

										<td>
											<?php
												$___rows = Escolas::getEscolasHelper(array('id'=>$row['idescola']));
												$___row = (sizeof($___rows)>0) ? 	$___rows[0] : false;	
												
												echo ($___row) ? $this->formatTextoBranco($___row['escola']) : '--';		
											?>
										</td>
										<td><?php echo $row['descricoes'] ?></td>

										<td>
											<?php
												$___rows = Chamadosprioridades::getChamadosprioridadesHelper(array('id'=>$row['idprioridade']));
												$___row = (sizeof($___rows)>0) ? 	$___rows[0] : false;	
												
												echo ($___row) ? $this->formatTextoBranco($___row['prioridadade']) : '--';		
											?>
										</td>

										<td>
											<?php
												$___rows = Status::getChamadosstatusHelper(array('id'=>$row['idstatus']));
												$___row = (sizeof($___rows)>0) ? 	$___rows[0] : false;	
												
												echo ($___row) ? $this->formatTextoBranco($___row['titulo']) : '--';		
											?>
										</td>
										<td><?php echo date('d/m/Y', strtotime($row['dataagendada']))?></td>
										<td><?php echo $row['finalizacao'] ?></td>
										<td><?php echo $row['atendido'] ?></td>

										<td>
											<?php
												$___rows = Funcionariosgeraisescolas::getFuncionariosgeraisescolasHelper(array('id'=>$row['idsfuncionarios']));
												$___row = (sizeof($___rows)>0) ? 	$___rows[0] : false;	
												
												echo ($___row) ? $this->formatTextoBranco($___row['nome']) : '--';		
											?>
										</td>

										<td>
											<?php
												$___rows = Funcionariosgeraisescolas::getFuncionariosgeraisescolasHelper(array('id'=>$row['idusuariocriacao']));
												$___row = (sizeof($___rows)>0) ? 	$___rows[0] : false;	
												
												echo ($___row) ? $this->formatTextoBranco($___row['nome']) : '--';		
											?>
										</td>

			                				

	                                    <td>
	                                        <ul class="table-controls">
	                                            <li><a title="" class="btn tip" href="<?php echo $this->baseUrl() ?>/<?php echo 'admin' ?>/<?php echo $this->getController() ?>/visualizar/id/<?php echo $row['id'] ?>" data-original-title="Visualizar"><i class="icon-eye-open"></i></a> </li>
	                                            <?php if (Mn_Util::isAccess($this->getController(), 'editar')) : ?>
	                                            <li><a title="" class="btn tip" href="<?php echo $this->baseUrl() ?>/<?php echo 'admin' ?>/<?php echo $this->getController() ?>/editar/id/<?php echo $row['id'] ?>" data-original-title="Editar"><i class="icon-pencil"></i></a> </li>
	                                            <?php endif;?>
	                                            <?php if (Mn_Util::isAccess($this->getController(), 'excluir')) : ?>
	                                            <li><a title="" class="btn tip" href="javascript:confirmDelete('<?php echo $row['id']; ?>','registro');" data-original-title="Excluir"><i class="icon-remove"></i></a> </li>
	                                            <?php endif; ?>
	                                        </ul>
	                                    </td>
	                                </tr>
	                            	<?php endforeach;?>
	                            	
	                            	
	                            	
	                            	
	                            	<?php endif; ?>
	
	                            </tbody>
	                        </table>
	                    </div>
	                    <?php echo $this->render('/helpers/paginator.phtml') ?>
                    
                    </form>

                </div>
                <!-- /table with footer -->
	                        


		    </div>
		    <!-- /content wrapper -->

		</div>
		<!-- content -->
		
		
<script type="text/javascript" src="<?php echo $this->baseUrl('/public/scripts/admin/chamados_index.js') ?>"></script>
<script type="text/javascript">

	var form_values = {};
	<?php if (isset($this->post_var)) :  ?>
form_values.destino = '<?php echo (isset($this->post_var['destino'])) ? $this->post_var['destino'] : '' ?>';

form_values.iddepartamento = '<?php echo (isset($this->post_var['iddepartamento'])) ? $this->post_var['iddepartamento'] : '' ?>';

form_values.idescola = '<?php echo (isset($this->post_var['idescola'])) ? $this->post_var['idescola'] : '' ?>';

form_values.idprioridade = '<?php echo (isset($this->post_var['idprioridade'])) ? $this->post_var['idprioridade'] : '' ?>';

form_values.idstatus = '<?php echo (isset($this->post_var['idstatus'])) ? $this->post_var['idstatus'] : '' ?>';

form_values.finalizacao = '<?php echo (isset($this->post_var['finalizacao'])) ? $this->post_var['finalizacao'] : '' ?>';

form_values.atendido = '<?php echo (isset($this->post_var['atendido'])) ? $this->post_var['atendido'] : '' ?>';

form_values.idtipo = '<?php echo (isset($this->post_var['idtipo'])) ? $this->post_var['idtipo'] : '' ?>';

form_values.idsfuncionarios = '<?php echo (isset($this->post_var['idsfuncionarios'])) ? $this->post_var['idsfuncionarios'] : '' ?>';

form_values.substituicaopecas = '<?php echo (isset($this->post_var['substituicaopecas'])) ? $this->post_var['substituicaopecas'] : '' ?>';

form_values.status1 = '<?php echo (isset($this->post_var['status1'])) ? $this->post_var['status1'] : $this->post_var['status'] ?>';

form_values.idusuariocriacao = '<?php echo (isset($this->post_var['idusuariocriacao'])) ? $this->post_var['idusuariocriacao'] : '' ?>';

form_values.iddepartamentocriacao = '<?php echo (isset($this->post_var['iddepartamentocriacao'])) ? $this->post_var['iddepartamentocriacao'] : '' ?>';

	
	<?php endif; ?>

	var sorting = ["destino", "iddepartamento", "idescola", "descricoes", "idprioridade", "idstatus", "dataagendada", "finalizacao", "atendido", "idtipo", "observacoes", "servicoesdescricoes", "servicosmateriais", "idsfuncionarios", "patrimoniosobservacoes", "defeitoconstatado", "servicosexecutados", "substituicaopecas", "tiobservacoesresposta", "status", "idusuariocriacao", "iddepartamentocriacao"];
	
</script>	


