<?php if (sizeof($this->rows)==0) : ?>
<option value="">Selecione...</option>
<?php else : ?>
<option value="">Selecione...</option>
<?php foreach ($this->rows as $row) : ?>
<option value="<?= $row['id'] ?>"><?= $row['escola'] ?></option>
<?php endforeach; ?>
<?php endif; ?>