		<!-- Content -->
		<div id="content">

		    <!-- Content wrapper -->
		    <div class="wrapper">

			    <!-- Breadcrumbs line -->
			    <div class="crumbs">
			    	<?php echo $this->render('/helpers/breadcrumb.phtml') ?>
			    </div>
			    <!-- /breadcrumbs line -->

			    <!-- Page header -->
			    <div class="page-header">
			    	<div class="page-title">
				    	<h5>Formulário do tipo</h5>
				    	<span>Verifique os campos e preencha com os dados</span>
			    	</div>
			    </div>
			    <!-- /page header -->

			    <?php if (isset($this->crudMessage)) : ?>
					<div class="alert alert-success">
	                	<button data-dismiss="alert" class="close" type="button">×</button>
	                    <strong>Operação realizada com sucesso!</strong>
		    			<span><br /><?php echo $this->crudMessage ?></span>
	                </div>			    
			    <?php endif; ?>

				<form id="form" name="form" action="" method="post" class="form-horizontal" enctype="multipart/form-data"> 
					<input type="hidden" value="<?php echo (isset($this->post_var)) ? $this->post_var["id"] : ''; ?>" name="id" id="id" />
					
					<fieldset>
						<!-- General form elements -->
						<div class="widget row-fluid">
						    <div class="navbar">
						        <div class="navbar-inner">
						            <h6>Digite as informações do formulário</h6>
						        </div>
						    </div>

						    <div class="well">
								<?php if (isset($this->erros)) : ?>
									<div class="alert alert-error margin">
				                        <button data-dismiss="alert" class="close" type="button">×</button>
				                        <strong>Há erros no formulário!</strong>
					    				<?php foreach ($this->erros as $k=>$v) : ?>
					    					<span><br />- <?php echo $v ?></span>
					    				<?php endforeach;?>			                        
				                    </div>
								<?php endif; ?>	
						    </div>

							<?php $dadosFuncionario = Funcionariosgeraisescolas::getFuncionariogeralescolaByIdHelper(Usuarios::getUsuario('idfuncionario'));   ?>
							    
							<div class="control-group">
								<div class="controls1 visualizar">
									<table class="table table-content" width="100%">
										<tbody>
											<tr> 												
												<td width="33%">Nome do Usuário: 
													<?php if($this->post_var['idfuncionario']) : ?>
														<?php echo Funcionariosgeraisescolas::getFuncionariogeralescolaByIdHelper($this->post_var['idfuncionario'])['nome'] ; ?>
													<?php else : ?>	
														<?php echo $dadosFuncionario['nome'] . ' / RGF : [' . $dadosFuncionario['rgf'] . ']' ;	?>
													<?php endif; ?>
												</td>
												
												<td width="33%">
												<?php if(isset($this->post_var)) : ?>
													<?php
														
														if($this->post_var['idescola']){
															echo 'Escola : ' . Escolas::getEscolaByIdHelper($this->post_var['idescola'])['escola'];
														} else{
															echo 'Departamento : ' . UsuariosPerfis::getPerfilNomeByIdHelper($this->post_var['idperfil']);
														}
													?>
													<input name="idfuncionario" value="<?php echo $this->post_var['idfuncionario']; ?>" type="hidden" />
													<input name="idescola" value="<?php echo $this->post_var['idescola']; ?>" type="hidden" />
													<input name="idperfil" value="<?php echo $this->post_var['idperfil']; ?>" type="hidden" /> 
												<?php else : ?>
													<?php
														$funcionario = Usuarios::getUsuario('idfuncionario');
														$idescola = Funcionariosgeraisescolas::getFuncionariosgeraisescolasHelper(array('id'=>$funcionario))[0]['idescola']; 
														
														if(($idescola > 0) and (isset($idescola))){
															echo 'Escola : ' . Escolas::getEscolaByIdHelper($idescola)['escola'];
														}else{
															echo  'Departamento : ' . UsuariosPerfis::getPerfilByIdHelper(Usuarios::getUsuario('idperfil'))['perfil'];
														}
													?>
													<input name="idfuncionario" value="<?php echo $dadosFuncionario['id'] ?>" type="hidden" />
													<input name="idescola" value="<?php echo $dadosFuncionario['idescola'] ?>" type="hidden" />
													<input name="idperfil" value="<?php echo $dadosFuncionario['idperfil'] ?>" type="hidden" /> 
												<?php endif; ?>	 
												</td>
											</tr>
										</tbody>
									</table> 
								</div>
							</div>  
						 
							<div class="control-group">
								<label class="control-label">Bimestre *</label>
								<div class="controls">
									<select name="bimestre" data-placeholder="Bimestre" class="select">
										<option value="">Selecione...</option>
										<option value="primeiro">1º bimestre</option>
										<option value="segundo">2º bimestre</option>
										<option value="terceiro">3º bimestre</option>											 
										<option value="quarto">4º bimestre</option>
									</select> 
								</div>
							</div>  

							<div class="control-group">
								<label class="control-label">Ano *</label>
								<div class="controls">
									<select name="ano" data-placeholder="Ano" class="select">
										<option value="">Selecione...</option>
										<option value="2018">2018</option>
										<option value="2019">2019</option>
										<option value="2020">2020</option>
										<option value="2021">2021</option>
									</select> 
								</div>
							</div> 
						    
							<div class="control-group">
								<label class="control-label">Classe <span class="required">*</span></label>
								<div class="controls">
									<div id="adderror"></div>
									<select name="classe" data-placeholder="Tipo" class="select" onclick="naorepetirbimestre()" id="resetfield">
										<option value="">Selecione...</option>
										<?php foreach (Escolasvinculos::getEscolasvinculosHelper(array('status' => 'Ativo')) as $key => $value) : ?>
											<option value="<?php echo Escolasseries::getEscolaserieByIdHelper($value['idserie'])['serie'] . Escolasturmas::getescolaturmaByIdHelper($value['idturma'])['turma'] ; ?>">
												<?php echo Escolasseries::getEscolaserieByIdHelper($value['idserie'])['serie'] . Escolasturmas::getescolaturmaByIdHelper($value['idturma'])['turma'] ; ?>
											</option>
										<?php endforeach; ?>
									</select> 
								</div>
							</div>
				 
							<div class="control-group">
								<label class="control-label">Quantidade Matrículados<span class="required">*</span></label>
								<div class="controls">
									<input maxlength="500" placeholder="Quantidade " name="qtd_matriculados" value="<?php echo (isset($this->post_var['qtd_matriculados'])) ? $this->post_var['qtd_matriculados'] : '' ?>" type="number"  class="span3" />
								</div>
							</div>

							<div class="control-group">
								<label class="control-label">Quantidade Incluidos <span class="required">*</span></label>
								<div class="controls">
									<input maxlength="500" placeholder="Quantidade " name="qtd_incluidos" value="<?php echo (isset($this->post_var['qtd_incluidos'])) ? $this->post_var['qtd_incluidos'] : '' ?>" type="number"  class="span3" />
								</div>
							</div>
							
							<div class="control-group">
								<label class="control-label">Alunos Transferidos/Rematrícula <span class="required">*</span></label>
								<div class="controls">
									<input maxlength="500" placeholder="Quantidade " name="qtd_transf_rem" value="<?php echo (isset($this->post_var['qtd_transf_rem'])) ? $this->post_var['qtd_transf_rem'] : '' ?>" type="number"  class="span3" />
								</div>
							</div>
							
							<div class="control-group">
								<label class="control-label">Quantidade Evadidos ou Faltosos<span class="required">*</span></label>
								<div class="controls">
									<input maxlength="500" placeholder="Quantidade " name="qtd_evadidos_ou_faltosos" value="<?php echo (isset($this->post_var['qtd_evadidos_ou_faltosos'])) ? $this->post_var['qtd_evadidos_ou_faltosos'] : '' ?>" type="number"  class="span3" />
								</div>
							</div>
							
							<div class="control-group">
								<label class="control-label">Quantidade CCA Português<span class="required">*</span></label>
								<div class="controls">
									<input maxlength="500" placeholder="Quantidade" name="qtd_cca_port" value="<?php echo (isset($this->post_var['qtd_cca_port'])) ? $this->post_var['qtd_cca_port'] : '' ?>" type="number"  class="span3" />
								</div>
							</div>
							
							<div class="control-group">
								<label class="control-label">Quantidade CCA Matemática<span class="required">*</span></label>
								<div class="controls">
									<input maxlength="500" placeholder="Quantidade" name="qtd_cca_mat" value="<?php echo (isset($this->post_var['qtd_cca_mat'])) ? $this->post_var['qtd_cca_mat'] : '' ?>" type="number"  class="span3" />
								</div>
							</div>
							
							<div class="control-group">
								<label class="control-label">Quantidade Alunos C/Conc Insatisfatório Português<span class="required">*</span></label>
								<div class="controls">
									<input maxlength="500" placeholder="Quantidade" name="qtd_conc_insatisfatorio_port" value="<?php echo (isset($this->post_var['qtd_conc_insatisfatorio_port'])) ? $this->post_var['qtd_conc_insatisfatorio_port'] : '' ?>" type="number"  class="span3" />
								</div>
							</div>
							
							<div class="control-group">
								<label class="control-label">Quantidade Alunos C/Conc Insatisfatório Matemática<span class="required">*</span></label>
								<div class="controls">
									<input maxlength="500" placeholder="Quantidade" name="qtd_conc_insatisfatorio_mat" value="<?php echo (isset($this->post_var['qtd_conc_insatisfatorio_mat'])) ? $this->post_var['qtd_conc_insatisfatorio_mat'] : '' ?>" type="number"  class="span3" />
								</div>
							</div>
							
							<div class="control-group">
								<label class="control-label">Quantidade Alunos C/Conc Satisfatório Português<span class="required">*</span></label>
								<div class="controls">
									<input maxlength="500" placeholder="Quantidade" name="qtd_conc_satisfatorio_port" value="<?php echo (isset($this->post_var['qtd_conc_satisfatorio_port'])) ? $this->post_var['qtd_conc_satisfatorio_port'] : '' ?>" type="number"  class="span3" />
								</div>
							</div>
							
							<div class="control-group">
								<label class="control-label">Quantidade Alunos C/Conc Satisfatório Matemática<span class="required">*</span></label>
								<div class="controls">
									<input maxlength="500" placeholder="Quantidade" name="qtd_conc_satisfatorio_mat" value="<?php echo (isset($this->post_var['qtd_conc_satisfatorio_mat'])) ? $this->post_var['qtd_conc_satisfatorio_mat'] : '' ?>" type="number"  class="span3" />
								</div>
							</div>
							  
							<div class="control-group">
								<label class="control-label">Status <span class="required">*</span></label>
								<div class="controls">
									<select name="status" data-placeholder="Status" class="select"> 
										<option>Selecione...</option> 
										<option value="Ativo">Ativo</option>
										<option value="Bloqueado">Bloqueado</option>
									</select>
								</div>
							</div> 

						    
						    
						    </div>
						    
			                <div class="form-actions align-right">
			                	<?php if ((isset($this->visualizar)) && ($this->visualizar)) : ?>
			                		<button onclick="window.history.back()" class="btn btn-danger cancelar" type="button">Voltar</button>
			                	<?php else : ?>
				                	<button class="btn btn-primary enviar" type="submit">Salvar</button>
				                	<button onclick="window.history.back()" class="btn btn-danger cancelar" type="button">Cancelar</button>
			                	<?php endif; ?>
			                </div>
						</div>
						<!-- /general form elements -->

					</fieldset> 

				</form>
				<!-- /basic inputs -->

		    </div>
		    <!-- /content wrapper -->

		</div>
		<!-- content -->
				
<script type="text/javascript" src="<?php echo $this->baseUrl('/public/scripts/admin/coordenacaoquadrodesempenhoaprendizagem_form.js') ?>"></script>
<script type="text/javascript">
	var form_values = {};
	
	<?php if (isset($this->post_var)) :  ?>
		form_values.classe = '<?php echo (isset($this->post_var['classe'])) ? $this->post_var['classe'] : '' ?>'; 
		form_values.bimestre = '<?php echo (isset($this->post_var['bimestre'])) ? $this->post_var['bimestre'] : '' ?>';
		form_values.ano = '<?php echo (isset($this->post_var['ano'])) ? $this->post_var['ano'] : '' ?>';
		form_values.status = '<?php echo (isset($this->post_var['status'])) ? $this->post_var['status'] : '' ?>';
	<?php endif; ?>

	visualizar = <?php echo  ((isset($this->visualizar)) && ($this->visualizar))  ? 'true' : 'false' ?>;
</script>
