<style type="text/css">
    .filter-box{ width: 100%; display:block; padding:1%; }
    .filter-box .field-search{ width: 28%; display: inline-block; }
    .filter-box .field-search label{ margin-top: 10px; }
    .filter-box .field-search #field-docs{ width: 95px; }
    .field-select{ display: block; }

    @media only screen and (max-width:992px){
        .filter-box .field-search{
            width: 46%;
        }
    }
    @media only screen and (max-width:600px){
        .filter-box .field-search{
            width: 93%;
        }
    }
</style>
		<!-- Content -->
		<div id="content"> 

		    <!-- Content wrapper -->
		    <div class="wrapper">

			    <!-- Breadcrumbs line -->
			    <div class="crumbs">
			    	<?php echo $this->render('/helpers/breadcrumb.phtml') ?>
			    </div>
			    <!-- /breadcrumbs line -->

			    <!-- Page header -->
			    <div class="page-header">
			    	<div class="page-title">
				    	<h5>Quadro de desempenho da aprendizagem</h5>
				    	<span>Visualize os quadros do sistema</span>
			    	</div>
			    	
			    </div>
			    <!-- /page header -->
			    
			    <?php if (isset($this->crudMessage)) : ?>
				<div class="alert alert-success">
                	<button data-dismiss="alert" class="close" type="button">×</button>
                    <strong>Operação realizada com sucesso!</strong>
	    			<span><br /><?php echo $this->crudMessage ?></span>
                </div>			    
			    <?php endif; ?>
                
                <!-- Table with footer -->
                <div class="widget">
                	<form action="#" class="form-horizontal" method="post">
                		<input type="hidden" value="<?php echo (isset($this->post_var['sorting'])) ? $this->post_var['sorting'] : '' ?>" name="sorting" />
	                	<div class="navbar">
	                		<div class="navbar-inner">
								<h6>Visualizando registros</h6>      
	                			<?php if (Mn_Util::isAccess($this->getController(), 'adicionar')) : ?>
	                			<a style="float:right;" href="<?php echo $this->baseUrl() ?>/<?php echo 'admin' ?>/<?php echo $this->getController() ?>/adicionar" class="btn btn-primary"><span class="icon-plus"></span>&nbsp;Adicionar Quadros</a>
								<?php endif; ?>
								<a title="" style="float:right;" class="btn tip btn-mini btn-danger" href="<?php echo $this->baseUrl() ?>/<?php echo 'admin' ?>/<?php echo $this->getController() ?>/relatorio/" data-original-title="Gerar PDF produtos disponiveis" target="_blank">
									<i class="icon-print"></i><span>PDF Relatório</span>
								</a>
	                		</div>
						</div>
						<div class="navbar-inner">
                    <div class="filter-box"> 
                        
						<div class="field-search">
							<label><b>Matriculados</b></label>
							<select name="qtd_matriculados" placeholder="Todos" class="select" onclick="matriculados(this)">
								<option value="">Todos</option>
								<option value="primeiro">1º Bimestre</option>
								<option value="segundo">2º Bimestre</option>
								<option value="terceiro">3º Bimestre</option>
								<option value="quarto">4º Bimestre</option> 
							</select>	
						</div>

						<div class="field-search">
							<label><b>Transferidos/Rematriculados</b></label>
							<select name="qtd_transf_rem" placeholder="Todos" class="select" onclick="transferidos_rematriculados(this)">
								<option value="">Todos</option>
								<option value="primeiro">1º Bimestre</option>
								<option value="segundo">2º Bimestre</option>
								<option value="terceiro">3º Bimestre</option>
								<option value="quarto">4º Bimestre</option> 
							</select>
						</div>
						
						<div class="field-search">
							<label><b>Evadidos/Faltosos</b></label>
							<select name="qtd_evadidos_ou_faltosos" placeholder="Todos" class="select" onclick="evadidos_faltosos(this)">
								<option value="">Todos</option>
								<option value="primeiro">1º Bimestre</option>
								<option value="segundo">2º Bimestre</option>
								<option value="terceiro">3º Bimestre</option>
								<option value="quarto">4º Bimestre</option> 
							</select>
						</div>
						
						<div class="field-search">
							<label><b>Satisfatório Matemática</b></label>
							<select name="qtd_conc_satisfatorio_mat" placeholder="Todos" class="select" onclick="satisfatorio_matematica(this)">
								<option value="">Todos</option>
								<?php foreach (Escolasvinculos::getEscolasvinculosHelper(array('status' => 'Ativo')) as $key => $value) : ?>
									<option value="<?php echo Escolasseries::getEscolaserieByIdHelper($value['idserie'])['serie'] . Escolasturmas::getescolaturmaByIdHelper($value['idturma'])['turma'] ; ?>">
										<?php echo Escolasseries::getEscolaserieByIdHelper($value['idserie'])['serie'] . Escolasturmas::getescolaturmaByIdHelper($value['idturma'])['turma'] ; ?>
									</option>
								<?php endforeach; ?>
							</select>
						</div>
						
						<div class="field-search">
							<label><b>Insatisfatório Matemática</b></label>
							<select name="qtd_conc_insatisfatorio_mat" placeholder="Todos" class="select" onclick="insatisfatorio_matematica(this)">
								<option value="">Todos</option>
								<?php foreach (Escolasvinculos::getEscolasvinculosHelper(array('status' => 'Ativo')) as $key => $value) : ?>
									<option value="<?php echo Escolasseries::getEscolaserieByIdHelper($value['idserie'])['serie'] . Escolasturmas::getescolaturmaByIdHelper($value['idturma'])['turma'] ; ?>">
										<?php echo Escolasseries::getEscolaserieByIdHelper($value['idserie'])['serie'] . Escolasturmas::getescolaturmaByIdHelper($value['idturma'])['turma'] ; ?>
									</option>
								<?php endforeach; ?>
							</select>
						</div>
						
						<div class="field-search">
							<label><b>Satisfatório Português</b></label>
							<select name="qtd_conc_satisfatorio_port" placeholder="Todos" class="select" onclick="satisfatorio_portugues(this)">
								<option value="">Todos</option>
								<?php foreach (Escolasvinculos::getEscolasvinculosHelper(array('status' => 'Ativo')) as $key => $value) : ?>
									<option value="<?php echo Escolasseries::getEscolaserieByIdHelper($value['idserie'])['serie'] . Escolasturmas::getescolaturmaByIdHelper($value['idturma'])['turma'] ; ?>">
										<?php echo Escolasseries::getEscolaserieByIdHelper($value['idserie'])['serie'] . Escolasturmas::getescolaturmaByIdHelper($value['idturma'])['turma'] ; ?>
									</option>
								<?php endforeach; ?>
							</select>
						</div>
						
						<div class="field-search">
							<label><b>Insatisfatório Português</b></label>
							<select name="qtd_conc_insatisfatorio_port" placeholder="Todos" class="select" onclick="insatisfatorio_portugues(this)">
								<option value="">Todos</option>
								<?php foreach (Escolasvinculos::getEscolasvinculosHelper(array('status' => 'Ativo')) as $key => $value) : ?>
									<option value="<?php echo Escolasseries::getEscolaserieByIdHelper($value['idserie'])['serie'] . Escolasturmas::getescolaturmaByIdHelper($value['idturma'])['turma'] ; ?>">
										<?php echo Escolasseries::getEscolaserieByIdHelper($value['idserie'])['serie'] . Escolasturmas::getescolaturmaByIdHelper($value['idturma'])['turma'] ; ?>
									</option>
								<?php endforeach; ?>
							</select>
						</div> 

						<div class="field-search">
							<label><b>Ano</b></label>
							<div>
								<select name="ano" placeholder="Todos" class="select" >
									<option value="">Todos</option>
									<option value="2018">2018</option>
									<option value="2019">2019</option>
									<option value="2020">2020</option>
									<option value="2021">2021</option>
									<?php /*foreach (Coordenacaoquadrodesempenhoaprendizagem::getAno() as $key => $ano) :?>
										<option value="<?= $ano['ano'] ?>"><?= $ano['ano']; ?></option>
									<?php endforeach; */ ?>
								</select>
							</div>
						</div>

						<div class="field-search">
							<label><b>Status</b></label>
							<div>
								<select name="status" placeholder="Todos" class="select" onclick="statusclick(this)">
									<option value="">Todos</option>
									<option value="Ativo">Ativo</option><option value="Bloqueado">Bloqueado</option>
								</select>
							</div>
						</div>

						<?php if(Usuarios::getUsuario('idperfil') == 17) :?>
							<div class="field-search">
								<label><b>Escola</b></label>
								<select name="idescolaBusca" placeholder="Todos" class="select">
									<option value="">Todos</option>
									<?php foreach (Escolas::getEscolasHelper() as $key => $escola) :?>
										<option value="<?php echo $escola['id'] ?>"><?php echo $escola['escola'] ?></option>
									<?php endforeach; ?>
								</select>
							</div>
						<?php endif; ?>
						
                        
					</div>
					<div class="field-search" style="float:right; margin-right: 2%;"><button class="btn btn-mini btn-primary" type="submit">Pesquisar</button></div>
                </div>
	                    <div class="table-overflow">
	                        <table class="table table-content table-condensed">
	                            <thead>
								<tr>
	                                    <th width="20">#</th>
										<th class="s-idescola sorting">Escola</th> 
										
										<th class="s-bimestre sorting">Bimestre</th> 

										<th class="s-classe sorting">Classe</th> 
										
										<th class="s-qtd_matriculados sorting">Matri</th> 

										<th class="s-qtd_transf_rem sorting">Trans/Rem</th> 
										
										<th class="s-qtd_evadidos_ou_faltosos sorting">Evad/falt</th> 
										
										<th class="s-qtd_conc_satisfatorio_mat sorting">Satis/Mat</th> 
										
										<th class="s-qtd_conc_insatisfatorio_mat sorting">Insatis/Mat</th> 
										
										<th class="s-qtd_conc_satisfatorio_port sorting">Satis/Port</th> 
										
										<th class="s-qtd_conc_insatisfatorio_port sorting">Insatis/Port</th> 
										
										<th class="s-ano sorting">Ano</th> 
										 

										<th class="s-status sorting">Status</th>

										<th width="96">Ações</th>
	                                </tr>
	                              
	                                                                
	                            </thead>
	                            <tbody>
	                            	<?php if (sizeof($this->rows)==0) : ?>
										<tr> 
											<td colspan="5">Nenhum registro foi encontrado!</td>                                    
										</tr> 
	                            	<?php else : ?>
	                            	<?php foreach ($this->rows as $row) : ?>
	                                <tr>
										<td><?php echo $row['id'] ?></td>
										
										<td>
											<?php 
												if($row['idescola']) {
													echo  Escolas::getEscolaNomeByIdHelper($row['idescola']) ;
												}else{
													echo UsuariosPerfis::getPerfilNomeByIdHelper($row['idperfil']);
												}
											?>
										</td>  

										<td>
											<?php 
												if($row['bimestre'] == 'primeiro') echo '1ª bim';
												if($row['bimestre'] == 'segundo') echo '2ª bim';
												if($row['bimestre'] == 'terceiro') echo '3ª bim';
												if($row['bimestre'] == 'quarto') echo '4ª bim';
											?>
										</td> 

										<td><?php echo $row['classe'] ?></td>  

										<td><?php echo $row['qtd_matriculados'] ?></td>  

										<td><?php echo $row['qtd_transf_rem'] ?></td>  
										
										<td><?php echo $row['qtd_evadidos_ou_faltosos'] ?></td>  
										
										<td><?php echo $row['qtd_conc_satisfatorio_mat'] ?></td>  
										
										<td><?php echo $row['qtd_conc_insatisfatorio_mat'] ?></td>  
										
										<td><?php echo $row['qtd_conc_satisfatorio_port'] ?></td>  
										
										<td><?php echo $row['qtd_conc_insatisfatorio_port'] ?></td>  
										
										<td><?php echo $row['ano'] ?></td>  
										
										<td>
											<?php if (Mn_Util::isAccess($this->getController(), 'editar')) : ?>
												<a onclick="javascript:statusChange(<?php echo $row["id"]?>, this);" href="javascript:;"><?php echo $row['status'] ?></a>
											<?php else : ?>
												<?php echo $row['status'] ?>
											<?php endif; ?>
										</td>
 
	                                    <td>
	                                        <ul class="table-controls">
	                                            <li><a title="" class="btn tip" href="<?php echo $this->baseUrl() ?>/<?php echo 'admin' ?>/<?php echo $this->getController() ?>/visualizar/id/<?php echo $row['id'] ?>" data-original-title="Visualizar"><i class="icon-eye-open"></i></a> </li>
	                                            <?php if (Mn_Util::isAccess($this->getController(), 'editar')) : ?>
	                                            	<li><a title="" class="btn tip" href="<?php echo $this->baseUrl() ?>/<?php echo 'admin' ?>/<?php echo $this->getController() ?>/editar/id/<?php echo $row['id'] ?>" data-original-title="Editar"><i class="icon-pencil"></i></a> </li>
	                                            <?php endif;?>
	                                            <?php if (Mn_Util::isAccess($this->getController(), 'excluir')) : ?>
	                                            	<li><a title="" class="btn tip" href="javascript:confirmDelete('<?php echo $row['id']; ?>','<?php echo $row['classe']; ?>','registro');" data-original-title="Excluir"><i class="icon-remove"></i></a> </li>
	                                            <?php endif; ?>
	                                        </ul>
	                                    </td>
	                                </tr>
	                            	<?php endforeach;?>
	                            	
	                            	
	                            	
	                            	
	                            	<?php endif; ?>
	
	                            </tbody>
	                        </table>
	                    </div>
	                    <?php echo $this->render('/helpers/paginator.phtml') ?>
                    
                    </form>

                </div>
                <!-- /table with footer -->
	                        


		    </div>
		    <!-- /content wrapper -->

		</div>
		<!-- content -->
		
		
<script type="text/javascript" src="<?php echo $this->baseUrl('/public/scripts/admin/coordenacaoquadrodesempenhoaprendizagem_index.js') ?>"></script>
<script type="text/javascript">

	var form_values = {};
	<?php if (true) :  ?>
form_values.classe = '<?php echo (isset($this->post_var['classe'])) ? $this->post_var['classe'] : '' ?>';
form_values.status = '<?php echo (isset($this->post_var['status'])) ? $this->post_var['status'] : '' ?>'; 
	
	<?php endif; ?>

	var sorting = ["classe", "status"];
	
</script>	


