<!-- Content -->
<div id="content">
    <!-- Content wrapper -->
    <div class="wrapper">

        <!-- Breadcrumbs line -->
        <div class="crumbs">
            <?php echo $this->render('/helpers/breadcrumb.phtml') ?>
        </div>
        <!-- /breadcrumbs line -->

        <!-- Page header -->
        <div class="page-header">
            <div class="page-title">
                <h5>Diários de classe</h5>
                <span>Visualize as Frequência do sistema</span>
            </div>

        </div>
        <!-- /page header -->

        <?php if (isset($this->crudMessage)) : ?>
            <div class="alert alert-success">
                <button data-dismiss="alert" class="close" type="button">×</button>
                <strong>Operação realizada com sucesso!</strong>
                <span><br /><?php echo $this->crudMessage ?></span>
            </div>
        <?php endif; ?>
        <!-- Table with footer -->
        <!-- Table with footer -->
        <div class="widget">
            <form action="#" class="form-horizontal" method="post">
                <input type="hidden" value="<?php echo (isset($this->post_var['sorting'])) ? $this->post_var['sorting'] : '' ?>" name="sorting" />
                <div class="navbar">
                    <div class="navbar-inner">
                        <h6>Visualizando registros</h6>
                    </div>
                </div>
                <div class="table-overflow">
                    <table class="table table-content">
                        <thead>
                            <tr>
                                <th width="20">#</th>
                                <th class="s-idescola sorting">Escolas</th>
                                <th class="s-idserie sorting">Série / Turma</th>
                                <th class="s-status sorting">Status</th>
                                <th width="96">Ações</th>
                            </tr>
                            <?php
                            $idusuario = Usuarios::getUsuario('idperfil');
                            $escola = '';
                            if ($idusuario == 29) {
                                $escola = Usuarios::getEscolaAtiva(Usuarios::getUsuario('id'));
                                $queries['idescola'] = $escola['id'];
                            }
                            ?>
                            <tr>
                                <th></th>
                                <th>
                                    <div>
                                        <?php if ($escola): ?>
                                            <input type="hidden" value="<?php echo $escola['id'] ?>" name="idescola"/>
                                            <?php echo $escola['escola']; ?>
                                        <?php else: ?>
                                            <select name="idescola" class="select" placeholder="Todas" onclick="setSeries(this, 0)" style="width: auto;">
                                                <option value="">Todos</option>
                                                <?php foreach (Escolas::getEscolasHelper() as $k => $escola): ?>
                                                    <option value="<?php echo $escola['id'] ?>"><?php echo $escola['escola'] ?></option>
                                                <?php endforeach; ?>
                                            <?php endif; ?>
                                        </select>
                                    </div>
                                </th>
                                <th>
                                    <div>
                                        <select name="idserie" placeholder="Todos" class="select">
                                            <option value="">Todos</option>
                                        </select>
                                    </div>
                                    <div>
                                        <select class="select" name="idturma">
                                            <option value="">Todos</option>
                                        </select>
                                    </div>
                                </th>
                                <th>
                                    <div>
                                        <select name="status1" placeholder="Todos" class="select">
                                            <option value="">Todos</option>
                                            <option value="Ativo">Ativo</option><option value="Bloqueado">Bloqueado</option>
                                        </select>
                                    </div>
                                </th>


                                <th><button class="btn btn-mini btn-primary" type="submit">Pesquisar</button></th>
                            </tr>

                        </thead>
                        <tbody>
                            <?php if (sizeof($this->rows) == 0) : ?>
                                <tr>
                                    <td colspan="5">Nenhum registro foi encontrado!</td>
                                </tr>

                            <?php else : ?>
                                <?php foreach ($this->rows as $row) : ?>
                                    <tr>
                                        <td><?php echo $row['id'] ?></td>
                                        <td>
                                            <?php
                                            $___rows = Escolas::getEscolasHelper(array('id' => $row['idescola']));
                                            $___row = (sizeof($___rows) > 0) ? $___rows[0] : false;

                                            echo ($___row) ? $this->formatTextoBranco($___row['escola']) : '--';
                                            ?>
                                        </td>
                                        <td>
                                            <?php
                                            echo ($row['serie'] === '0') ? $this->formatTextoBranco('AEE' . ' - ' . $row['turma']) : $this->formatTextoBranco($row['serie'] . '° série - ' . $row['turma']);
                                            echo ' - ' . $row['periodo'];
                                            ?>
                                        </td>

                                        <td>
                                            <?php if (Mn_Util::isAccess($this->getController(), 'editar')) : ?>
                                                <a onclick="javascript:statusChange(<?php echo $row["id"] ?>, this);" href="javascript:;"><?php echo $row['status'] ?></a>
                                            <?php else : ?>
                                                <?php echo $row['status'] ?>
                                            <?php endif; ?>
                                        </td>
                                        <td>
                                            <ul class="table-controls">
                                                <?php if (Mn_Util::isAccess($this->getController(), 'editar')) : ?>
                                                    <li><a title="" class="btn tip" href="<?php echo $this->baseUrl() ?>/admin/<?php echo $this->getController() ?>/editar/id/<?php echo $row['id'] ?>" data-original-title="Editar"><i class="icon-pencil"></i></a> </li>
                                                        <?php endif; ?>
                                                        <?php /* if (Mn_Util::isAccess($this->getController(), 'excluir')) : ?>
                                                          <li><a title="" class="btn tip" href="javascript:confirmDelete('<?php echo $row['id']; ?>','registro');" data-original-title="Excluir"><i class="icon-remove"></i></a> </li>
                                                          <?php endif; */ ?>
                                            </ul>
                                        </td>
                                    </tr>
                                <?php endforeach; ?>




                            <?php endif; ?>

                        </tbody>
                    </table>
                </div>
                <?php echo $this->render('/helpers/paginator.phtml') ?>

            </form>

        </div>
        <!-- /table with footer -->
        <!-- /table with footer -->



    </div>
    <!-- /content wrapper -->

</div>
<!-- content -->


<script type="text/javascript" src="<?php echo $this->baseUrl('/public/scripts/admin/diariosclasses_index.js') ?>"></script>
<script type="text/javascript">

                                        var form_values = {};
<?php if (isset($this->post_var)) : ?>
                                            form_values.idescola = '<?php echo (isset($this->post_var['idescola'])) ? $this->post_var['idescola'] : '' ?>';
                                            form_values.idserie = '<?php echo (isset($this->post_var['idserie'])) ? $this->post_var['idserie'] : '' ?>';
                                            form_values.idturma = '<?php echo (isset($this->post_var['idturma'])) ? $this->post_var['idturma'] : '' ?>';
                                            form_values.idescolavinculo = '<?php echo (isset($this->post_var['idescolavinculo'])) ? $this->post_var['idescolavinculo'] : '' ?>';
                                            form_values.idmateria = '<?php echo (isset($this->post_var['idmateria'])) ? $this->post_var['idmateria'] : '' ?>';
                                            form_values.idprofessor = '<?php echo (isset($this->post_var['idprofessor'])) ? $this->post_var['idprofessor'] : '' ?>';
                                            form_values.idaluno = '<?php echo (isset($this->post_var['idaluno'])) ? $this->post_var['idaluno'] : '' ?>';
                                            form_values.status1 = '<?php echo (isset($this->post_var['status1'])) ? $this->post_var['status1'] : $this->post_var['status'] ?>';

<?php endif; ?>

                                        var sorting = ["idescola", "idmateria", "idprofessor", "idaluno", "data", "status"];
                                        idperfil = '<?php echo (isset($idusuario)) ? $idusuario : '' ?>';
</script>


