<?php foreach($this->escolasalunos as $ea=>$rowaluno): ?>
<tr>
	<td><?php echo $ea+1 ?></td>
	<td class="nomealuno">
<?php
			$___rows = Escolasalunos::getEscolasalunosHelper(array('id'=>$rowaluno['idaluno']));
			$___row = (sizeof($___rows)>0) ? 	$___rows[0] : false;	
			
			echo ($___row) ? $this->formatTextoBranco($this->cortaPalavra(20, $___row['nomerazao'] . ' ' . $___row['sobrenomefantasia'])) : '--';		
		?>
		
	</td>
	<?php $total = 0;?>
	<?php 
		$quantidadenotas = 3;
		if(isset($this->configuracoesnotas['quantidadenotas'])){
			$quantidadenotas = $this->configuracoesnotas['quantidadenotas'];
		}

	?>

	<?php 
		$quantidadetrabalhos = 3;
		if(isset($this->configuracoesnotas['quantidadetrabalhos'])){
			$quantidadetrabalhos = $this->configuracoesnotas['quantidadetrabalhos'];
		}
	?>	
	<?php 
		$divisor = $quantidadenotas+$quantidadetrabalhos;
		$divisor = ((float)$divisor > 0) ? $divisor : 1;

		
	?>
				<?php 
					$totalgeral = 0;
					$bimestre = "Bimestre";
					if(isset($this->configuracoesnotas['periodos'])){
						$bimestre = $this->configuracoesnotas['periodos'];
					}
				?>
	<?php foreach ($this->materiasprofessores as $in=>$row) : 
	$totalgeral = 0;
	$total = 0;?>


	<td onclick="">
<?php /*if(Escolasusuarios::getUsuario('professor')=="Sim"): ?>
		<?php 
		$total = $notaprova = Escolasalunosnotas::getEscolasalunosnotasHelper(array('idaluno'=>$rowaluno['idaluno'] ,'idprofessor'=>$this->idprofessor, 'idescolavinculo'=>$this->idescolavinculo, 'idmateria'=>$row['idmateria'], 'bimestre'=>$this->bimestre, 'media'=>true));
		$total = (float)$total;

		echo (isset($total)) ? number_format(($total/$divisor), '2' , ',' , '.') : '' ?>
<?php else:*/ ?>
						<?php if($bimestre=="Bimestre"): ?>
		                	<?php for($ib=1; $ib<=4; $ib++):?>
								<?php 
								$total = $notaprova = Escolasalunosnotas::getEscolasalunosnotasHelper(array('idaluno'=>$rowaluno['idaluno'] ,'idprofessor'=>$this->idprofessor, 'idescolavinculo'=>$this->idescolavinculo, 'idmateria'=>$row['idmateria'], 'bimestre'=>$ib, 'media'=>true));
								$total = (float)$total;
								$totalgeral = $totalgeral + (($total/$divisor));
								 ?>
							<?php endfor?>
							<?php echo (isset($totalgeral)) ? number_format(($totalgeral/4), '2' , ',' , '.') : '' ?>
						<?php else: ?>
		                	<?php for($ib=1; $ib<=3; $ib++):?>
								<?php 
								$total = $notaprova = Escolasalunosnotas::getEscolasalunosnotasHelper(array('idaluno'=>$rowaluno['idaluno'] ,'idprofessor'=>$this->idprofessor, 'idescolavinculo'=>$this->idescolavinculo, 'idmateria'=>$row['idmateria'], 'bimestre'=>$ib, 'media'=>true));
								$total = (float)$total;
								$totalgeral = $totalgeral + (($total/$divisor));
								 ?>
							<?php endfor?>
							<?php echo (isset($totalgeral)) ? number_format(($totalgeral/3), '2' , ',' , '.') : '' ?>
						<?php endif; ?>	
<?php //endif; ?>	
	</td>
	<?php endforeach; ?>
<?php //if(Escolasusuarios::getUsuario('professor')=="Sim"): ?>
	<td>


						<?php if($bimestre=="Bimestre"): ?>
		                	<?php for($ib=1; $ib<=4; $ib++):?>
								<?php 
								$total = $notaprova = Escolasalunosnotas::getEscolasalunosnotasHelper(array('idaluno'=>$rowaluno['idaluno'] ,'idprofessor'=>$this->idprofessor, 'idescolavinculo'=>$this->idescolavinculo, 'idmateria'=>$row['idmateria'], 'bimestre'=>$ib, 'media'=>true));
								$total = (float)$total;
								$totalgeral = $totalgeral + (($total/$divisor));
								 ?>
							<?php endfor?>
							<?php echo (isset($totalgeral)) ? number_format(($totalgeral/4), '2' , ',' , '.') : '' ?>
						<?php else: ?>
		                	<?php for($ib=1; $ib<=3; $ib++):?>
								<?php 
								$total = $notaprova = Escolasalunosnotas::getEscolasalunosnotasHelper(array('idaluno'=>$rowaluno['idaluno'] ,'idprofessor'=>$this->idprofessor, 'idescolavinculo'=>$this->idescolavinculo, 'idmateria'=>$row['idmateria'], 'bimestre'=>$ib, 'media'=>true));
								$total = (float)$total;
								$totalgeral = $totalgeral + (($total/$divisor));
								 ?>
							<?php endfor?>
							<?php echo (isset($totalgeral)) ? number_format(($totalgeral/3), '2' , ',' , '.') : '' ?>
						<?php endif; ?>
		
	</td>
<?php //endif; ?>										
	<td>
<?php 
		$datainicial = date('Y') . '-' . date('m') . '-01';
		$datafinal = date('Y') . '-' . date('m') . '-' . '-12';

		$faltatotal = Escolasalunosfaltas::getEscolasalunosfaltasHelper(array('idaluno'=>$rowaluno['idaluno'] ,'idprofessor'=>$this->idprofessor, 'idescolavinculo'=>$this->idescolavinculo, 'idmateria'=>$row['id'], 'data_i'=>$datainicial, 'data_f'=>$datafinal, 'bimestre'=>$this->bimestre, 'total'=>true )); ?>
		<span class="total1"><?php echo (int)$faltatotal ?></span>
	</td>

</tr>
<?php endforeach?>

<script type="text/javascript">

</script>