<?php
if (sizeof($this->rows) == 0) :
    ?>
    <option value="">Todos</option>
    <option value="">Nenhuma série foi encontrada para essa escola</option>
<?php else : ?>
    <option value="">Todos</option>
    <?php foreach ($this->rows as $key => $row) : ?>
        <?php $serie = ($row['serie'] == '0') ? 'AEE ' : $row['serie'] . '° série '; ?>
        <option value="<?php echo (isset($row['serie']) && $row['serie'] != 0) ? $row['serie'] : '10' . $row['serie'] ?>"><?php echo $serie ?></option>
    <?php endforeach; ?>
<?php endif;