<?php if (sizeof($this->rows) == 0) : ?>
    <option value="">Todos</option>
    <option value="">Nenhuma turma foi encontrada para essa escola</option>
<?php else : ?>
    <option value="">Todos</option>
    <?php foreach ($this->rows as $row) : ?>
        <option value="<?php echo $row['turma'] ?>"><?php echo $row['turma'] ?></option>
    <?php endforeach; ?>
<?php endif;