		<!-- Content -->
		<div id="content">

		    <!-- Content wrapper -->
		    <div class="wrapper">

			    <!-- Breadcrumbs line -->
			    <div class="crumbs">
			    	<?php echo $this->render('/helpers/breadcrumb.phtml') ?>
			    </div>
			    <!-- /breadcrumbs line -->

			    <!-- Page header -->
			    <div class="page-header">
			    	<div class="page-title">
				    	<h5>Formulário do controle do dia</h5>
				    	<span>Verifique os campos e preencha com os dados</span>
			    	</div>
			    </div>
			    <!-- /page header -->

			    <?php if (isset($this->crudMessage)) : ?>
					<div class="alert alert-success">
	                	<button data-dismiss="alert" class="close" type="button">×</button>
	                    <strong>Operação realizada com sucesso!</strong>
		    			<span><br /><?php echo $this->crudMessage ?></span>
	                </div>			    
			    <?php endif; ?>

				<form id="form" name="form" action="" method="post" class="form-horizontal" enctype="multipart/form-data"> 
					<input type="hidden" value="<?php echo (isset($this->post_var)) ? $this->post_var["id"] : ''; ?>" name="id" id="id" />
					
					<fieldset>
						<!-- General form elements -->
						<div class="widget row-fluid">
						    <div class="navbar">
						        <div class="navbar-inner">
						            <h6>Digite as informações do formulário</h6>
						        </div>
						    </div>

						    <div class="well">
								<?php if (isset($this->erros)) : ?>
									<div class="alert alert-error margin">
				                        <button data-dismiss="alert" class="close" type="button">×</button>
				                        <strong>Há erros no formulário!</strong>
					    				<?php foreach ($this->erros as $k=>$v) : ?>
					    					<span><br />- <?php echo $v ?></span>
					    				<?php endforeach;?>			                        
				                    </div>
			                    <?php endif; ?>						    
						    

				<div class="control-group">
					<div class="controls1 visualizar">
						<table class="table table-content" width="100%">
							<tbody>
								<tr>
									<input type="hidden" value="<?php echo (isset($this->post_var['sequencial'])) ? $this->post_var['sequencial'] : $this->sequencial ?>" name="sequencial" id="sequencial" />
									<input  placeholder="Data de lançamento" name="datalancamento" value="<?php echo (isset($this->post_var['datalancamento'])) ? $this->post_var['datalancamento'] : date('d/m/Y') ?>" type="hidden"  class="span3" />
									<input  placeholder="Hora do lançamento" name="horalancamento" value="<?php echo (isset($this->post_var['horalancamento'])) ? $this->post_var['horalancamento'] : date('G:i:s') ?>" type="hidden"  class="span3" />
									<input  placeholder="Nome do Usuário" name="idfuncionario" value="<?php echo (isset($this->post_var['idfuncionario'])) ? $this->post_var['idfuncionario'] : Usuarios::getUsuario('idfuncionario') ?>" type="hidden"  class="span3" />
									<td width="33%">Sequencial/Ano: <?php echo (isset($this->post_var['sequencial'])) ? $this->post_var['sequencial'] : $this->sequencial ?></td>
									<td width="34%">Data da Abertura: <?php echo date('d/m/Y') ?></td>
									<td width="33%">Hora da Abertura: <?php echo date('G:i') ?></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
				<?php
					$idfuncionario = Usuarios::getUsuario('idfuncionario');
					$idperfil = Usuarios::getUsuario('idperfil');
					if($idperfil==29){
						$idescola = (int)Usuarios::getUsuario('idescola');
					}
				?>
				<div class="control-group">
					<label class="control-label">Nome do Usuário</label>
					<div class="controls visualizar">
						<input  placeholder="Nome do Usuário" name="idusuariologado" value="<?php echo (isset($this->post_var['idusuariologado'])) ? $this->post_var['idusuariologado'] : Usuarios::getUsuario('id') ?>" type="hidden"  class="span3" />
						<?php echo Usuarios::getUsuario('nomerazao') ?> <?php echo Usuarios::getUsuario('sobrenomefantasia') ?><br/>
						RGF: <?php echo Usuarios::getUsuario('rgf') ?>
						<?php
							if($idfuncionario) {
								$funcionario = Funcionariosgeraisescolas::getFuncionariogeralescolaByIdHelper($idfuncionario);
								$idcargo = $funcionario['idcargo'];
								$idlocal = $funcionario['idlocal'];

								/*if($idcargo) {
									$cargo = Cargos::getCargoByIdHelper($idcargo);

									echo "<br>CARGO: " . $cargo['cargo'];
								}

								if($idlocal) {
									$local = Locais::getLocalByIdHelper($idlocal);

									echo "<br>LOCAL: " . $local['titulo'];
								}*/
							}
						?>
					</div>
				</div>
				<div class="control-group">
					<label class="control-label">Data <span class="required">*</span></label>
					<div class="controls"><input placeholder="Data" name="data" value="<?php echo (isset($this->post_var['data'])) ? Mn_Util::formPostVarData($this->post_var['data']) : '' ?>" type="text"  class="span3" /></div>
				</div>
				<div class="control-group">
					<label class="control-label">Escola <span class="required">*</span></label>
					<div class="controls">
		                <select name="idescola" data-placeholder="Escolas" class="select">
							<?php if($idperfil==41): ?>
								<option value="">Todas</option>
								<?php foreach (Escolas::getEscolasByCoordenador($idfuncionario) as $k=>$v) : ?>
								<option value="<?php echo $v['id'] ?>"><?php echo $v['escola'] ?></option>
								<?php endforeach;?>
							<?php elseif ($idperfil==29):
								$escola = Escolas::getEscolaByIdHelper($idescola);
							?>
								<option value="<?php echo $escola['id'];?>"><?php echo $escola['escola']?></option>
							<?php else: ?>
								<option value="">Todas</option>
								<?php foreach (Escolas::getEscolasHelper() as $k=>$v) : ?>
								<option value="<?php echo $v['id'] ?>"><?php echo $v['escola'] ?></option>
								<?php endforeach;?>
							<?php endif; ?>
						</select>
					</div>
				</div>
				<div class="control-group">
					<label class="control-label">Período <span class="required">*</span></label>
					<?php if($idperfil==29): echo '<input type="hidden" name="periodo"/>'; endif; ?>
					<div class="controls">
						<select name="periodo" data-placeholder="Período" class="select">
							<option value="">Selecione...</option>
							<option value="Manhã">Manhã</option>
							<option value="Tarde">Tarde</option>
							<option value="Noite">Noite</option>
							<option value="Integral">Integral</option>
						</select>
					</div>
				</div>
				<div class="control-group">
					<label class="control-label">Assunto </label>
					<div class="controls"><input maxlength="500" placeholder="Assunto" name="assunto" value="<?php echo (isset($this->post_var['assunto'])) ? $this->post_var['assunto'] : '' ?>" type="text"  class="span3" /></div>
				</div>
				<div class="control-group">
					<label class="control-label">Descrições </label>
					<div class="controls"><textarea class="span12" name="descricoes" cols="100" rows="20" style="resize: none;"><?php echo (isset($this->post_var)) ? $this->post_var["descricoes"] : ''; ?></textarea></div>
				</div>
				<!--<div class="control-group">
					<label class="control-label">Documento </label>
					<div class="controls">
						<?php /*if ((isset($this->post_var['idarquivo'])) && ((int)$this->post_var['idarquivo']>0)) : ?>
							<?php echo $this->getArquivo($this->post_var['idarquivo']) ?>
						
							<?php if (!$this->visualizar) : ?>

								<div class="checkbox block">
									<label><input type="checkbox" name="excluir_idarquivo" value="excluir" /> Desejo excluir o arquivo</label>
								</div>
								<input placeholder="Documento" name="idarquivo" type="file"  />
							<?php endif; ?>
						<?php else: ?>
							<input placeholder="Documento" name="idarquivo" type="file"  />
						<?php endif; */?>
					</div>
				</div>-->
				<div class="control-group">
					<label class="control-label">Status <span class="required">*</span></label>
					<div class="controls">
						<select name="status1" data-placeholder="Status" class="select">
							<?php if($this->visualizar):?>
								<option value="Andamento">Andamento</option>
								<option value="Ciente">Ciente</option>
							<?php else: ?>
								<?php if(Usuarios::getUsuario("idperfil")!=29):?>
								<option value="Andamento">Andamento</option>
							<?php endif;?>
								<?php if(Usuarios::getUsuario("idperfil")!=41):?>
									<option value="Ciente">Ciente</option>
								<?php endif;?>
							<?php endif; ?>							
						</select>						
					</div>
				</div>
				<?php if($this->visualizar):?>
					<?php
						$idusuario = (int)$this->post_var['idusuarioaceite'];
				        $_user = (Usuarios::getUsuarioByIdHelper($idusuario));
					?>
					<div class="control-group">
						<label class="control-label">Ciente por</label>
						<div class="controls">
							<?php 
				                echo $this->formatTextoBranco($_user["nomerazao"]);
							?>
						</div>
					</div>
					<div class="control-group">
						<label class="control-label">RGF</label>
						<div class="controls">
							<?php 
				                echo $this->formatTextoBranco($_user["rgf"]);
							?>
						</div>
					</div>
					<div class="control-group">
						<label class="control-label">Data Ciente</label>
						<div class="controls">							
							<?php echo (isset($this->post_var["dataaceite"]) AND $this->post_var["dataaceite"] != "0000-00-00") ? date('d/m/Y', strtotime($this->post_var["dataaceite"])) : '--'; ?>
						</div>
					</div>
				<?php endif;?>	    
						    </div>
			                <div class="form-actions align-right">
			                	<?php if ((isset($this->visualizar)) && ($this->visualizar)) : ?>
			                		<button onclick="window.history.back()" class="btn btn-danger cancelar" type="button">Voltar</button>
			                	<?php else : ?>
				                	<button class="btn btn-primary enviar" type="submit">Salvar</button>
				                	<button onclick="window.history.back()" class="btn btn-danger cancelar" type="button">Cancelar</button>
			                	<?php endif; ?>
			                </div>
						</div>
						<!-- /general form elements -->
					</fieldset>
				</form>
				<!-- /basic inputs -->
		    </div>
		    <!-- /content wrapper -->
		</div>
		<!-- content -->
				
<script type="text/javascript" src="<?php echo $this->baseUrl('/public/scripts/admin/coordenacaocontroles_form.js') ?>"></script>
<script type="text/javascript">
	var form_values = {};
	
	<?php if (isset($this->post_var)) :  ?>
		form_values.idusuariologado = '<?php echo (isset($this->post_var['idusuariologado'])) ? $this->post_var['idusuariologado'] : '' ?>';

		form_values.idescola = '<?php echo (isset($this->post_var['idescola'])) ? $this->post_var['idescola'] : '' ?>';

		form_values.periodo = '<?php echo (isset($this->post_var['periodo'])) ? $this->post_var['periodo'] : '' ?>';

		form_values.status1 = '<?php echo (isset($this->post_var['status1'])) ? $this->post_var['status1'] : $this->post_var['status'] ?>';
	<?php endif; ?>

	visualizar = <?php echo  ((isset($this->visualizar)) && ($this->visualizar))  ? 'true' : 'false' ?>;
	editar = <?php echo  ((isset($this->editar)) && ($this->editar))  ? 'true' : 'false' ?>;
	perfil = <?php echo Usuarios::getUsuario('idperfil'); ?>
</script>
