		<!-- Content -->
		<div id="content">

		    <!-- Content wrapper -->
		    <div class="wrapper">

			    <!-- Breadcrumbs line -->
			    <div class="crumbs">
			    	<?php echo $this->render('/helpers/breadcrumb.phtml') ?>
			    </div>
			    <!-- /breadcrumbs line -->

			    <!-- Page header -->
			    <div class="page-header">
			    	<div class="page-title">
				    	<h5>Coordenador - Controle Diário no sistema</h5>
				    	<span>Visualize os coordenador - controle diário do sistema</span>
			    	</div>
			    	
			    </div>
			    <!-- /page header -->
			    <?php if (isset($this->crudMessage)) : ?>
				<div class="alert alert-success">
                	<button data-dismiss="alert" class="close" type="button">×</button>
                    <strong>Operação realizada com sucesso!</strong>
	    			<span><br /><?php echo $this->crudMessage ?></span>
                </div>			    
			    <?php endif; ?>
                <!-- Table with footer -->
                <div class="widget">
                	<form action="#" class="form-horizontal" method="post">
                		<input type="hidden" value="<?php echo (isset($this->post_var['sorting'])) ? $this->post_var['sorting'] : '' ?>" name="sorting" />
	                	<div class="navbar">
	                		<div class="navbar-inner">
	                			<h6>Visualizando registros</h6>
	                			<?php if (Mn_Util::isAccess($this->getController(), 'adicionar')) : ?>
	                			<a style="float:right;" href="<?php echo $this->baseUrl() ?>/<?php echo 'admin' ?>/<?php echo $this->getController() ?>/adicionar" class="btn btn-primary"><span class="icon-plus"></span>&nbsp;Adicionar controle do dia</a>
	                			<?php endif; ?>
	                		</div>
	                	</div>
	                	<?php
							$idfuncionario = Usuarios::getUsuario('idfuncionario');
							$idperfil = Usuarios::getUsuario('idperfil');
							if($idperfil==29){
								$idescola = (int)Usuarios::getUsuario('idescola');
							}
						?>
	                    <div class="table-overflow">
	                        <table class="table table-content">
	                            <thead>
	                                <tr>		                                                                  
	                                    <th class="s-data sorting" width="50">Data</th>
	                                    <th class="s-coordenador sorting">Coordenador</th>
	                                    <th class="s-escola sorting">Escola</th>
	                                    <th>Status</th>
		                                <th width="96">Ações</th>
	                                </tr>
	                                <tr>	                                  
	                                    <th>
											<input name="data_i" value="<?php echo (isset($this->post_var['data_i'])) ? Mn_Util::formPostVarData($this->post_var['data_i']) : '' ?>" type="text" placeholder="Data inicial" class="span3" style="width:80px">
											<input name="data_f" value="<?php echo (isset($this->post_var['data_f'])) ? Mn_Util::formPostVarData($this->post_var['data_f']) : '' ?>" type="text" placeholder="Data final" class="span3" style="width:80px">
										</th>
										<th>
											<div>											
												<?php if($idperfil==29):?>
													<input type="hidden" name="idcoordenador" value="">
													<option value="">Todos</option> 
												<?php elseif($idperfil==41): ?>
													<?php
												    	$iduser = Usuarios::getUsuario('id');
												    	$user = Usuarios::getUsuarioByIdHelper($iduser);
												    	
														$___rows = (isset($user['idfuncionario'])) ? Funcionariosgeraisescolas::getFuncionariosgeraisescolasHelper(array('id'=>$user['idfuncionario'])) : array();
														$___row = (sizeof($___rows)>0) ? 	$___rows[0] : false;
														echo ($___row) ? $this->formatTextoBranco($___row['nome']) : '--';
												    ?>
												    <input type="hidden" name="idcoordenador" value="<?php echo $user['id']?>">

												<?php else: ?>
													<select name="idcoordenador" data-placeholder="Coordenador" class="select">	
														<option value="">Todos</option>
														<?php 
														foreach(Coordenacaocoordenadores::getCoordenacaocoordenadoresHelper() as $k=>$v) : 
															$___rows = (isset($v['idfuncionario'])) ? Funcionariosgeraisescolas::getFuncionariosgeraisescolasHelper(array('id'=>$v['idfuncionario'])) : array();
															$___row = (sizeof($___rows)>0) ? 	$___rows[0] : false;
															$usuario = Usuarios::getUsuarioByIdFuncionarioHelper($v['idfuncionario']);
														?>
															
														<option value="<?php echo $usuario['id'] ?>">
															<?php echo ($___row) ? $this->formatTextoBranco($___row['nome'].' - RGF: '.$___row['rgf']) : '--'; ?></option>
														<?php endforeach;?>
													</select>
												<?php endif; ?>
											</div>
										</th>
										<th>
											<div>
												<select name="idescola" placeholder="Todos" class="select">
													<?php if($idperfil==41): ?>
														<option value="">Todas</option>
														<?php foreach (Escolas::getEscolasByCoordenador($idfuncionario) as $k=>$v) : ?>
														<option value="<?php echo $v['id'] ?>"><?php echo $v['escola'] ?></option>
														<?php endforeach;?>
													<?php elseif ($idperfil==29): 
														$escola = Escolas::getEscolaByIdHelper($idescola);
													?>
														<option value="<?php echo $escola['id'];?>"><?php echo $escola['escola']?></option>
													<?php else: ?>
														<option value="">Todas</option>
														<?php foreach (Escolas::getEscolasHelper() as $k=>$v) : ?>
														<option value="<?php echo $v['id'] ?>"><?php echo $v['escola'] ?></option>
														<?php endforeach;?>
													<?php endif; ?>
												</select>
											</div>
										</th>
										<th>
											<div>
												<select class="select" name="status1" data-placeholder="Status">
													<option value="">Todos</option>
													<option value="Andamento">Andamento</option>
													<option value="Ciente">Ciente</option>
												</select>
											</div>
										</th>
	                                    <th><button class="btn btn-mini btn-primary" type="submit">Pesquisar</button></th>
	                                </tr> 
	                                                                
	                            </thead>
	                            <tbody>
	                            	<?php if (sizeof($this->rows)==0) : ?>
	                                <tr>
	                                    <td colspan="6">Nenhum registro foi encontrado!</td>
	                                </tr>
	                            	
	                            	<?php else : ?>
	                            	<?php foreach ($this->rows as $row) : ?>                            		
	                                <tr>	                                								
										<td><?php echo date('d/m/Y', strtotime($row['data']))?></td>
										<td>
											<?php
												$___rows = Usuarios::getUsuarioByIdHelper($row['idusuariocriacao']);	
												echo ($___rows) ? $this->formatTextoBranco($___rows['nomerazao']) : '--';
											?>
										</td>

										<td>
											<?php
												$___rows = Escolas::getEscolas(array('id'=>$row['idescola']));
												$___row = (sizeof($___rows)>0) ? 	$___rows[0] : false;	
												
												echo ($___row) ? $this->formatTextoBranco($___row['escola']) : '--';		
											?>
										</td>
										<td><?php echo $row['status']?></td>
	                                    <td>
	                                        <ul class="table-controls">
	                                            <li><a title="" class="btn tip" href="<?php echo $this->baseUrl() ?>/<?php echo 'admin' ?>/<?php echo $this->getController() ?>/visualizar/id/<?php echo $row['id'] ?>" data-original-title="Visualizar"><i class="icon-eye-open"></i></a> 
	                                            </li>
	                                            
	                                            <?php if (Mn_Util::isAccess($this->getController(), 'editar') AND $row['status']!="Ciente") : ?>
	                                            <li><a title="" class="btn tip" href="<?php echo $this->baseUrl() ?>/<?php echo 'admin' ?>/<?php echo $this->getController() ?>/editar/id/<?php echo $row['id'] ?>" data-original-title="Editar"><i class="icon-pencil"></i></a> </li>
	                                            <?php endif;?>
	                                            <?php if (Mn_Util::isAccess($this->getController(), 'excluir')) : ?>
	                                            <li><a title="" class="btn tip" href="javascript:confirmDelete('<?php echo $row['id']; ?>','registro');" data-original-title="Excluir"><i class="icon-remove"></i></a> </li>
	                                            <?php endif; ?>
	                                             <?php if($row['status']=="Ciente") :?>
	                                        		<li>
	                                        			<a title="" class="btn btn-danger tip" href="<?php echo $this->baseUrl() ?>/<?php echo 'admin' ?>/<?php echo $this->getController() ?>/gerardocumento/id/<?php echo $row['id']?>" data-original-title="Gerar documento" target="_blank"><i class="icon-print" style="color:#fff;"></i></a>
	                                        		</li>
	                                        	<?php endif;?>
	                                        </ul>
	                                    </td>
	                                </tr>
	                            	<?php endforeach;?>
	                            	<?php endif; ?>
	                            </tbody>
	                        </table>
	                    </div>
	                    <?php echo $this->render('/helpers/paginator.phtml') ?>
                    
                    </form>
                </div>
                <!-- /table with footer -->
		    </div>
		    <!-- /content wrapper -->
		</div>
		<!-- content -->

<script type="text/javascript" src="<?php echo $this->baseUrl('/public/scripts/admin/coordenacaocontroles_index.js') ?>"></script>
<script type="text/javascript">

	var form_values = {};
	<?php if (isset($this->post_var)) :  ?>
form_values.idusuariologado = '<?php echo (isset($this->post_var['idusuariologado'])) ? $this->post_var['idusuariologado'] : '' ?>';

form_values.idcoordenador = '<?php echo (isset($this->post_var['idcoordenador'])) ? $this->post_var['idcoordenador'] : '' ?>';

form_values.idescola = '<?php echo (isset($this->post_var['idescola'])) ? $this->post_var['idescola'] : '' ?>';

form_values.periodo = '<?php echo (isset($this->post_var['periodo'])) ? $this->post_var['periodo'] : '' ?>';

form_values.status1 = '<?php echo (isset($this->post_var['status1'])) ? $this->post_var['status1'] : '' ?>';

	<?php endif; ?>

	var sorting = ["sequencial", "datalancamento", "horalancamento", "idusuariologado", "data", "idescola", "periodo", "assunto", "descricoes", "status"];
	
</script>	


