		<!-- Content -->
		<div id="content">

		    <!-- Content wrapper -->
		    <div class="wrapper">

			    <!-- Breadcrumbs line -->
			    <div class="crumbs">
			    	<?php echo $this->render('/helpers/breadcrumb.phtml') ?>
			    </div>
			    <!-- /breadcrumbs line -->

			    <!-- Page header -->
			    <div class="page-header">
			    	<div class="page-title">
				    	<h5>Formulário do merenda</h5>
				    	<span>Verifique os campos e preencha com os dados</span>
			    	</div>
			    </div>
			    <!-- /page header -->

			    <?php if (isset($this->crudMessage)) : ?>
					<div class="alert alert-success">
	                	<button data-dismiss="alert" class="close" type="button">×</button>
	                    <strong>Operação realizada com sucesso!</strong>
		    			<span><br /><?php echo $this->crudMessage ?></span>
	                </div>			    
			    <?php endif; ?>

				<form id="form" name="form" action="" method="post" class="form-horizontal" enctype="multipart/form-data"> 
					<input type="hidden" value="<?php echo (isset($this->post_var)) ? $this->post_var["id"] : ''; ?>" name="id" id="id" />
					
					<fieldset>
						<!-- General form elements -->
						<div class="widget row-fluid">
						    <div class="navbar">
						        <div class="navbar-inner">
						            <h6>Digite as informações do formulário</h6>
						        </div>
						    </div>

						    <div class="well">
								<?php if (isset($this->erros)) : ?>
									<div class="alert alert-error margin">
				                        <button data-dismiss="alert" class="close" type="button">×</button>
				                        <strong>Há erros no formulário!</strong>
					    				<?php foreach ($this->erros as $k=>$v) : ?>
					    					<span><br />- <?php echo $v ?></span>
					    				<?php endforeach;?>			                        
				                    </div>
			                    <?php endif; ?>						    
				<?php /* ?>
				<div class="control-group">
					<label class="control-label">Escolas Anterior</label>
					<div class="controls">
		                <select name="idescolaanterior" data-placeholder="Escolas" class="select">
							<option value="">Selecione...</option>
							<?php foreach (Escolas::getEscolasHelper(array('status'=>'Ativo')) as $k=>$v) : ?>
							<option value="<?php echo $v['id'] ?>"><?php echo $v['escola'] ?></option>
							<?php endforeach;?>
						</select>
						
					</div>
				</div>
<?php */ ?>

				<div class="control-group">
					<label class="control-label">Título <span class="required">*</span></label>
					<div class="controls"><input maxlength="500" placeholder="Título" name="titulo" value="<?php echo (isset($this->post_var['titulo'])) ? $this->post_var['titulo'] : '' ?>" type="text"  class="span3" /></div>
				</div>

				<div class="control-group">
					<label class="control-label">Tipo <span class="required">*</span></label>
					<div class="controls">
						<select name="tipo" data-placeholder="Tipo" class="select" onchange="setTipo(this, 0)">
							<option value="">Selecione...</option>
							<option value="Analítico">Analítico</option><option value="Sintético">Sintético</option>
						</select>
						
					</div>
				</div>

				<div class="box-analitico" style="display:none;">

					<div class="control-group">
						<label class="control-label">Alunos <span class="required">*</span></label>
						<div class="controls">
			                <select name="idaluno" data-placeholder="Alunos" class="select">
								<option value="">Selecione...</option>
								<?php foreach (Escolasalunos::getEscolasalunosHelper(array('status'=>'Ativo', 'merendadiferenciada' => 'Não', 'idescola'=>Escolasusuarios::getEscolaAtiva(Escolasusuarios::getUsuario('id'), 'id'))) as $k=>$v) : ?>
								<option value="<?php echo $v['id'] ?>"><?php echo $v['nomerazao'] ?> <?php echo $v['sobrenomefantasia'] ?></option>
								<?php endforeach;?>
							</select>
							
						</div>
					</div>

					<div class="control-group">
						<label class="control-label">Merenda própria ou comprada ?</label>
						<div class="controls">
							<select name="propriacompra" data-placeholder="Tipo" class="select">
								<option value="">Selecione...</option>
								<option value="Própria">Própria</option><option value="Comprada">Comprada</option>
							</select>
							
						</div>
					</div>

					<div class="control-group">
						<label class="control-label">Quantidade de refeições</label>
						<div class="controls"> 
							<input maxlength="500" placeholder="Quantidade de refições" name="quantidaderefeicao" value="<?php echo (isset($this->post_var['quantidaderefeicao'])) ? number_format($this->post_var['quantidaderefeicao'], '0', ',', '.') : '' ?>" type="text"  class="span3" />
						</div>
					</div>

					<div class="control-group">
						<label class="control-label">Quantidade de sobremesa</label>
						<div class="controls"> 
							<input maxlength="500" placeholder="Quantidade de sobremesa" name="quantidadesobremesa" value="<?php echo (isset($this->post_var['quantidadesobremesa'])) ? number_format($this->post_var['quantidadesobremesa'], '0', ',', '.') : '' ?>" type="text"  class="span3" />
						</div>
					</div>
				</div>

				<div class="box-sintetico" style="display:none;">
					<div class="control-group">
						<label class="control-label">Dia</label>
						<div class="controls"> 
							<input placeholder="Dia" name="dia" value="<?php echo (isset($this->post_var['dia'])) ? Mn_Util::formPostVarData($this->post_var['dia']) : '' ?>" type="text"  class="span3" />
						</div>
					</div>

					<div class="control-group">
						<label class="control-label">Quantidade</label>
						<div class="controls"> 
							<input maxlength="500" placeholder="Quantidade" name="quantidade" value="<?php echo (isset($this->post_var['quantidade'])) ? number_format($this->post_var['quantidade'], '0', ',', '.') : '' ?>" type="text"  class="span3" />
						</div>
					</div>
				</div>


				<div class="control-group">
					<label class="control-label">Descrições </label>
					<div class="controls"><textarea class="span12" name="descricoes" cols="5" rows="5"><?php echo (isset($this->post_var)) ? $this->post_var["descricoes"] : ''; ?></textarea></div>
				</div>


				<div class="control-group">
					<label class="control-label">Aprovação </label>
					<div class="controls">
						<select name="aprovacao" data-placeholder="Aprovação" class="select">
							<option value="">Selecione...</option>
							<option value="Sim">Sim</option><option value="Não">Não</option>
						</select>
						
					</div>
				</div>


				<div class="control-group">
					<label class="control-label">Data de aprovação</label>
					<div class="controls"><input placeholder="Data de aprovação" name="dataaprovacao" value="<?php echo (isset($this->post_var['dataaprovacao'])) ? Mn_Util::formPostVarData($this->post_var['dataaprovacao']) : '' ?>" type="text"  class="span3" /></div>
				</div>

<?php /*?>
				<div class="control-group">
					<label class="control-label">Cancelado </label>
					<div class="controls">
						<select name="cancelado" data-placeholder="Cancelado" class="select">
							<option value="">Selecione...</option>
							<option value="Sim">Sim</option><option value="Não">Não</option>
						</select>
						
					</div>
				</div>


				<div class="control-group">
					<label class="control-label">Data de Cancelamento</label>
					<div class="controls"><input placeholder="Data de Cancelamento" name="datacancelamento" value="<?php echo (isset($this->post_var['datacancelamento'])) ? Mn_Util::formPostVarData($this->post_var['datacancelamento']) : '' ?>" type="text"  class="span3" /></div>
				</div>


				<div class="control-group">
					<label class="control-label">Descrições de cancelamento </label>
					<div class="controls"><textarea class="span12" name="descricoescancelamento" cols="5" rows="5"><?php echo (isset($this->post_var)) ? $this->post_var["descricoescancelamento"] : ''; ?></textarea></div>
				</div>


				<div class="control-group">
					<label class="control-label">Transferência </label>
					<div class="controls">
						<select name="transferencia" data-placeholder="Transferência" class="select">
							<option value="">Selecione...</option>
							<option value="Sim">Sim</option><option value="Não">Não</option>
						</select>
						
					</div>
				</div>


				<div class="control-group">
					<label class="control-label">Aprovação de Transferência </label>
					<div class="controls">
						<select name="transferenciaaprovacao" data-placeholder="Aprovação de Transferência" class="select">
							<option value="">Selecione...</option>
							<option value="Sim">Sim</option><option value="Não">Não</option>
						</select>
						
					</div>
				</div>
<?php */?>

				<div class="control-group">
					<label class="control-label">Status <span class="required">*</span></label>
					<div class="controls">
						<select name="status1" data-placeholder="Status" class="select">
							<option value="">Selecione...</option>
							<option value="Ativo">Ativo</option><option value="Bloqueado">Bloqueado</option>
						</select>
						
					</div>
				</div>
 
						    </div>
						    
			                <div class="form-actions align-right">
			                	<?php if ((isset($this->visualizar)) && ($this->visualizar)) : ?>
			                		<button onclick="window.history.back()" class="btn btn-danger cancelar" type="button">Voltar</button>
			                	<?php else : ?>
				                	<button class="btn btn-primary enviar" type="submit">Salvar</button>
				                	<button onclick="window.history.back()" class="btn btn-danger cancelar" type="button">Cancelar</button>
			                	<?php endif; ?>
			                </div>
						</div>
						<!-- /general form elements -->

					</fieldset> 

				</form>
				<!-- /basic inputs -->

		    </div>
		    <!-- /content wrapper -->

		</div>
		<!-- content -->
				
<script type="text/javascript" src="<?php echo $this->baseUrl('/public/scripts/default/nutricaomerendas_form.js') ?>"></script>
<script type="text/javascript">
	var form_values = {};
	
	<?php if (isset($this->post_var)) :  ?>
		form_values.idsecretaria = '<?php echo (isset($this->post_var['idsecretaria'])) ? $this->post_var['idsecretaria'] : '' ?>';

form_values.idescola = '<?php echo (isset($this->post_var['idescola'])) ? $this->post_var['idescola'] : '' ?>';

form_values.idescolaanterior = '<?php echo (isset($this->post_var['idescolaanterior'])) ? $this->post_var['idescolaanterior'] : '' ?>';

form_values.idaluno = '<?php echo (isset($this->post_var['idaluno'])) ? $this->post_var['idaluno'] : '' ?>';

form_values.aprovacao = '<?php echo (isset($this->post_var['aprovacao'])) ? $this->post_var['aprovacao'] : '' ?>';

form_values.cancelado = '<?php echo (isset($this->post_var['cancelado'])) ? $this->post_var['cancelado'] : '' ?>';

form_values.transferencia = '<?php echo (isset($this->post_var['transferencia'])) ? $this->post_var['transferencia'] : '' ?>';

form_values.transferenciaaprovacao = '<?php echo (isset($this->post_var['transferenciaaprovacao'])) ? $this->post_var['transferenciaaprovacao'] : '' ?>';

form_values.propriacompra = '<?php echo (isset($this->post_var['propriacompra'])) ? $this->post_var['propriacompra'] : '' ?>';

form_values.tipo = '<?php echo (isset($this->post_var['tipo'])) ? $this->post_var['tipo'] : '' ?>';


form_values.status1 = '<?php echo (isset($this->post_var['status1'])) ? $this->post_var['status1'] : $this->post_var['status'] ?>';


	<?php endif; ?>

	visualizar = <?php echo  ((isset($this->visualizar)) && ($this->visualizar))  ? 'true' : 'false' ?>;
</script>
