<style type="text/css">

.table-estudantes {

  display: block;
  overflow: auto;
  max-height: 350px;
  overflow-y: scroll;
  overflow-x: hidden;
}

</style>
<?php $periodo = $this->post_var['periodo'] ?>
<!-- Content -->
<div id="content">

  <!-- Content wrapper -->
  <div class="wrapper">

   <!-- Breadcrumbs line -->
   <div class="crumbs">
    <?php echo $this->render('/helpers/breadcrumb.phtml') ?>
  </div>
  <!-- /breadcrumbs line -->

  <!-- Page header -->
  <div class="page-header">
    <div class="page-title">
     <h5>Formulário do período</h5>
     <span>Informe os dados do período.</span>
   </div>
 </div>
 <!-- /page header -->

 <?php if (isset($this->crudMessage)) : ?>
   <div class="alert alert-success">
    <button data-dismiss="alert" class="close" type="button">×</button>
    <strong>Operação realizada com sucesso!</strong>
    <span><br /><?php echo $this->crudMessage ?></span>
  </div>                
<?php endif; ?>

<form id="form" name="form" action="" method="post" class="form-horizontal" enctype="multipart/form-data">

  <input type="hidden" value="<?php echo (isset($periodo['id'])) ? $periodo["id"] : ''; ?>" name="id" id="id" />

  <div id="div-datas">
    <div class="control-group">
      <label class="control-label">Período <span class="required">*</span></label>
      <div class="controls">
        <input placeholder="Data de início" name="datainicio" id="from" <?php if ($this->visualizar) {echo 'disabled="true"';} else {echo 'enabled="true"';} ?> <?php if (isset($periodo['fechado']) && $periodo['fechado'] == 'sim') {echo 'disabled="true"';} else {echo 'enabled="true"';} ?> value="<?php echo (isset($periodo['datainicio'])) ?  Mn_Util::formPostVarData($periodo['datainicio']) : "" ?>" type="text" size="10" class="span3 fromto" />

        <input placeholder="Data de fim" name="datafim" id="to" <?php if ($this->visualizar) {echo 'disabled="true"';} else {echo 'enabled="true"';} ?> <?php if (isset($periodo['fechado']) && $periodo['fechado'] == 'sim') {echo 'disabled="true"';} else {echo 'enabled="true"';} ?> value="<?php echo (isset($periodo['datafim'])) ?  Mn_Util::formPostVarData($periodo['datafim']) : "" ?>" type="text" size="10" class="span3 fromto" />
      </div>
    </div>

    <div class="control-group">
      <label class="control-label">Dias letivos </label>
      <div class="controls">
        <input type="hidden" name="diasletivos" id="diasletivos" value="<?php echo (isset($periodo)) ? $periodo['diasletivos'] : "" ?>" />
        <span id="diasletivos_"></span>
      </div>
    </div>

    <div class="control-group">
      <label class="control-label">Observações </label>
      <div class="controls">
        <textarea name="observacoes" id="observacoes" <?php if ($this->visualizar) {echo 'disabled="true"';} else {echo 'enabled="true"';} ?> <?php if (isset($periodo['fechado']) && $periodo['fechado'] == 'sim') {echo 'disabled="true"';} else {echo 'enabled="true"';} ?>><?php echo (isset($periodo['observacoes'])) ? $periodo['observacoes'] : '' ?></textarea>
      </div>
    </div>

    <div class="control-group">
      <label class="control-label">Status <span class="required">*</span></label>
      <div class="controls">
        <select name="status" data-placeholder="Status" class="select" <?php if ($this->visualizar) {echo 'disabled="true"';} else {echo 'enabled="true"';} ?> <?php if (isset($periodo['fechado']) && $periodo['fechado'] == 'sim') {echo 'disabled="true"';} else {echo 'enabled="true"';} ?> >
          <option value="">Selecione...</option>
          <option value="Ativo">Ativo</option>
          <option value="Bloqueado">Bloqueado</option>
        </select>
      </div>
    </div>

    <div class="control-group" style="display: <?php if ($this->editar || $this->visualizar) {echo 'block';} else {echo 'none';} ?>">
      <label class="control-label">Fechar</label>
      <div class="controls">
        <label class="switch">
          <input type="checkbox" name="fechado" id="fechado" <?php if ($this->visualizar) {echo 'disabled="true"';} else {echo 'enabled="true"';} ?> <?php if (isset($periodo['fechado']) && $periodo['fechado'] == 'sim') {echo 'disabled="true"';} else {echo 'enabled="true"';} ?> >
          <span class="slider round"></span>
        </label>
      </div>
    </div>

    <div class="box-colecoes col-sm-12 panel-group" id="accordion" >

      <div class="control-group">
        <div class="controls_1">
        </div>
      </div>

    </div>

    <?php if (sizeof($this->post_var['estudantes']) > 0): ?>
      <div class="control-group">
        <label>Entidades</label>
        <select name="entidades" class="select" onchange="setEntidade(this)">
          <option value="" data-periodo="<?= $periodo["id"]; ?>">Todas</option>
          <?php foreach (Lteveiculosestudantes::getEntidadesTransporte(array('tipo' => 'universidade')) as $i=>$row) : ?>
            <option value="<?php echo $row['id'] ?>" data-periodo="<?= $periodo["id"]; ?>"><?php echo $row['entidade'] ?></option>
          <?php endforeach; ?>
        </select>
      </div>

      <div class="box-estudantes" id="box-estudantes" style="width: 70%;">
        <?php echo $this->render('/lteperiodosuniversitarios/setestudantes.phtml') ?>
      </div>
    <?php endif ?>

  </div>

  <div class="panel-footer">
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3">
        <?php if (((isset($this->visualizar)) && ($this->visualizar)) || (isset($periodo['fechado']) && $periodo['fechado'] == 'sim')) : ?>
        <button type="button" onclick="window.history.back()" class="btn btn-default">Voltar</button>
        <?php else : ?>
          <button class="btn btn-primary">Salvar</button>&nbsp;
          <button onclick="window.history.back()" class="btn btn-danger cancelar" type="button">Cancelar</button>
        <?php endif;?>
      </div>
    </div>
  </div><!-- panel-footer -->             
  <br /><br /><br />
</form>
<!-- /basic inputs -->

</div>
<!-- /content wrapper -->

</div>
<!-- content -->
<script type="text/javascript" src="<?php echo $this->baseUrl('/public/scripts/admin/lteperiodosuniversitarios_form.js') ?>"></script>
<style type="text/css">
#ltecalendar {
  max-width: 900px;
  margin: 0 auto;
}

.switch {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 17px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 13px;
  width: 13px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(13px);
  -ms-transform: translateX(13px);
  transform: translateX(13px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 17px;
}

.slider.round:before {
  border-radius: 50%;
}
</style>

<script type="text/javascript" src="<?php echo $this->baseUrl('/public/scripts/admin/lteperiodosuniversitarios_form.js') ?>"></script>

<script type="text/javascript">
  var form_values = {};

  <?php if (isset($periodo['status'])) :  ?>
    form_values.status = '<?php echo $periodo['status'] ?>';
  <?php endif; ?>

  <?php if (isset($periodo['fechado'])) :  ?>
    form_values.fechado = '<?php echo $periodo['fechado'] ?>';
  <?php endif; ?>

  <?php if (isset($periodo['diasletivos'])) :  ?>
    form_values.diasletivos = '<?php echo $periodo['diasletivos'] ?>';
  <?php endif; ?>
</script>