<?php $total = $this->post_var['total']; ?>
<h1>Valor total: R$ <?= number_format($total,2,',','.') ?></h1>
<h3>Total de estudantes: <?= sizeof($this->post_var['estudantes']) ?></h3>
<table class="table-estudantes">
    <tr>
        <td class="col-head" style="width: 40%; text-decoration: underline; font-weight: bold;">Nome</td>
        <td class="col-head" style="width: 30%; text-decoration: underline; font-weight: bold;">Entidade</td>
        <td class="col-head" style="width: 15%; text-decoration: underline; font-weight: bold;">Valor Fretado</td>
        <td class="col-head" style="width: 15%; text-decoration: underline; font-weight: bold;">Subsídio</td>
    </tr>
    <?php foreach ($this->post_var['estudantes'] as $i=>$row) : ?>
        <tr id="row-body">
            <td style="width: 40%"><?= $row['nome'] ?></td>
            <td style="width: 30%"><?= $row['entidade'] ?></td>
            <td style="width: 15%"><?= 'R$ '.number_format($row['valorfretado'],2) ?></td>
            <td style="width: 15%"><?= 'R$ '.number_format($row['subsidio'],2) ?></td>
        </tr>
    <?php endforeach;?>
</table>