		<!-- Content -->
		<div id="content">

		    <!-- Content wrapper -->
		    <div class="wrapper">

			    <!-- Breadcrumbs line -->
			    <div class="crumbs">
			    	<?php echo $this->render('/helpers/breadcrumb.phtml') ?>
			    </div>
			    <!-- /breadcrumbs line -->

			    <!-- Page header -->
			    <div class="page-header">
			    	<div class="page-title">
				    	<h5>Chamados no sistema</h5>
				    	<span>Visualize os chamados do sistema</span>
			    	</div>
			    	
			    </div>
			    <!-- /page header -->
			    
			    <?php if (isset($this->crudMessage)) : ?>
					<div class="alert alert-success">
						<button data-dismiss="alert" class="close" type="button">×</button>
						<strong>Operação realizada com sucesso!</strong>
						<span><br /><?php echo $this->crudMessage ?></span>
					</div>			    
			    <?php endif; ?>  
	                        	                        
                <!-- Table with footer -->

                <div class="widget">
                	<form action="#" class="form-horizontal" method="post">
                		<input type="hidden" value="<?php echo (isset($this->post_var['sorting'])) ? $this->post_var['sorting'] : '' ?>" name="sorting" />
	                	<div class="navbar">
	                		<div class="navbar-inner">
	                			<h6>Visualizando registros</h6>

								

								<?php if(Usuarios::getUsuario('idperfil') != '10'): ?>
									<?php if (Mn_Util::isAccess($this->getController(), 'adicionar')) : ?>
									<a style="float:right;" href="<?php echo $this->baseUrl() ?>/<?php echo 'admin' ?>/<?php echo $this->getController() ?>/adicionar" class="btn btn-primary"><span class="icon-plus"></span>&nbsp;Adicionar chamado</a>
									<?php endif; ?>
								<?php elseif(Usuarios::getUsuario('idperfil') == '10'): ?>
								<a style="float:right;" href="<?php echo $this->baseUrl() ?>/<?php echo 'admin' ?>/calendariotichamados" class="btn btn-primary"><span class="icon-plus"></span>&nbsp;Calendário</a>
								<?php endif; ?>

								
	                		</div>
	                	</div>

						<div class="navbar">
	                		<div class="navbar-inner">
	                			<h6>
								<?php if(Usuarios::getUsuario('idperfil') == '10'): ?>
									<div>
										<select name="idescola" placeholder="Todos" class="select">
											<option value="">Todos</option>
											<?php foreach (Escolas::getEscolasHelper(array('status'=>'Ativo')) as $k=>$v) : ?>
												<option value="<?php echo $v['id'] ?>"><?php echo $v['escola'] ?></option>
											<?php endforeach;?>
										</select>
									</div> 

								<?php else: ?>
									<input name='idescola' type='hidden' value=''>
								<?php endif; ?>

									
								</h6>

								<div style="float:right; margin-top: 6px" >
									Filtrar Chamados por Data de :
									<input name="dataagendada_i" value="<?php echo (isset($this->post_var['dataagendada_i'])) ? Mn_Util::formPostVarData($this->post_var['dataagendada_i']) : '' ?>" type="text" placeholder="Data inicial" class="span3"> a
									<input name="dataagendada_f" value="<?php echo (isset($this->post_var['dataagendada_f'])) ? Mn_Util::formPostVarData($this->post_var['dataagendada_f']) : '' ?>" type="text" placeholder="Data final" class="span3">
									&nbsp;
									
									&nbsp;
									
								
								</div>
	                		</div>
	                	</div>

	                    <!-- <div class="table-overflow"> -->

						<div class="table-overflow">
	                        <table class="table table-content block" >
	                            <thead>

	                                <tr>
	                                    <th width="5%">#</th>
                                    <th>Destino</th>
                                    <th class="s-idescola sorting" width="10%">Status</th>
                                    <th class="s-descricoes sorting">Agendamento / Prioridade </th>
                                    <th class="s-idstatus sorting" width="86">Atendido</th>
									<th class="s-idstatus sorting" width="10%">Nota</th>
	                                <th width="10%">Ações</th>

	                                </tr>
	                                <tr> 
										<th></th>

										<th>
											
										</th>
										<th>
											<div>
												<select name="idstatus" placeholder="Todos" class="select">
													<option value="">Todos</option>
													<option value="2">Enviado</option>
													<option value="3">Agendado</option>
													<option value="5">Finalizado</option> 
													<option value="4">Cancelado</option>
													<option value="8">Atendido</option>
													
												</select>
											</div>
										</th>
										 

										<th>
											<div>
												<select name="idprioridade" placeholder="Todos" class="select" style='width: 10px'>
													<option value="">Todos</option>
													<?php foreach (Chamadosprioridades::getChamadosprioridadesHelper(array('status'=>'Ativo')) as $k=>$v) : ?>
														<option value="<?php echo $v['id'] ?>"><?php echo $v['prioridadade'] ?></option>
													<?php endforeach;?>
												</select>
											</div> 
										</th>
										

										<th>
											<div>
												<select name="atendido" placeholder="Todos" class="select" style='width: 10px'>
													<option value=''>Todos</option>
													<option value='Nao respondido'>Não respondido</option>
													<option value='Sim'>Sim</option>
													<option value='Não'>Não</option>
												</select>
											</div>
										</th>
										<th>
											<div>
												<select name="idtipo" placeholder="Todos" class="select">
													<option value="">Todos</option>
													<?php foreach (Avaliacoesservicos::getAvaliacoesservicosHelper(array('excluido'=>'nao')) as $k=>$v) : ?>
														<option value="<?php echo $v['id'] ?>"><?php echo $v['tipoavaliacao'] ?></option>
													<?php endforeach;?>
												</select>
											</div>
											
										</th>
	                                    <th><button class="btn btn-mini btn-primary" type="submit">Pesquisar</button></th>
	                                </tr> 
	                                                                
	                            </thead>
	                            <tbody>
	                            	<?php if (sizeof($this->rows)==0) : ?>
	                                <tr>
	                                    <td colspan="6">Nenhum registro foi encontrado!</td>
	                                </tr>
	                            	
	                            	<?php else : ?>
	                            	<?php foreach ($this->rows as $row) : ?>

										<?php $strFinalizado = "" ?>

										<?php if($row['finalizacao']=="Sim"): ?>
											<tr class="success" style="color: #009933">
											<?php $strFinalizado = "<i class='icon-download'></i> &nbsp;" ?>
										<?php else: ?>
											<tr>
										<?php endif; ?>
	                                
	                                	<td><small><?php echo $row['id'] ?></small></td>

										<td>			
											<?php
												$escola = Escolas::getEscolaByIdHelper($row['idescola']);
												if($escola == '0'): 
													$idlocal = Funcionariosgeraisescolas::getFuncionariogeralescolaByIdHelper(Usuarios::getUsuario('idfuncionario'))['idlocal'];
													$nomelocal = Locais::getLocaisHelper(array('id'=>$idlocal));
													echo  $strFinalizado . " " . UsuariosPerfis::getPerfilByIdHelper($row['iddepartamentocriacao'])['perfil']; 
												else: 
													echo  $strFinalizado . " " . $escola['escola'];	
												endif;
													
											?> 
										</td>
										

										<td>
														<?php
															$chamadostatus = Chamadosstatus::getChamadosstatuByIdHelper($row['idstatus']); 
															if(isset($chamadostatus['titulo'])){
																echo $chamadostatus['titulo'];	
															}else{
																echo 'Enviado';	
															}
																
														?>
											
										</td>

										<td>
											

														<?php  
														
															if($row['dataagendada'] == null or $row['dataagendada'] == '1969-12-31' or $row['dataagendada']=='0000-00-00'): 
																echo "<span class='badge badge-info'> Data não agendada </span>";
															else: 
																echo "<span class='badge badge-success'>" . date('d/m/Y', strtotime($row['dataagendada'])) . "</span>";
															endif;

														?>
													
															&nbsp;

														<?php
															$chamadoprioridade = Chamadosprioridades::getChamadosprioridadeByIdHelper($row['idprioridade']);
															if(isset($chamadoprioridade['prioridadade'])): 
																echo $chamadoprioridade['prioridadade'];
															else: 
																echo "Não Atribuida";
															endif;
																	
														?> 
											
														
													
										</td>
										<td>
										<?php

										$strRetornoAtendimento = '';

										if(isset($row['atendido'])): 

											if($row['atendido'] == 'Sim'): 
												$strRetornoAtendimento .= "<span class='badge badge-success'>" . $row['atendido'] . "</span>";
											elseif($row['atendido'] == 'Não'): 
												$strRetornoAtendimento .=  "<span class='badge badge-warning'>" . $row['atendido'] . "</span>";
											else: 
												$strRetornoAtendimento .= "Não respondido";
											endif;
											
										else: 
											$strRetornoAtendimento .= 'Não respondido';
										endif;

										

										echo $strRetornoAtendimento;
										 
										 ?>
										 </td>
										 <td>
										 <?php
												 
												 $strRetornoAtendimento = '';

												if(isset($row['idtipo'])){
													if($row['idtipo'] == '1'){
														$strRetornoAtendimento .= " <span class='badge badge-success'>" . Avaliacoesservicos::getAvaliacaoservicoByIdHelper($row['idtipo'])['tipoavaliacao'] . "</span>";
													}elseif($row['idtipo'] == '2'){
														$strRetornoAtendimento .= " <span class='badge badge-primary'>" . Avaliacoesservicos::getAvaliacaoservicoByIdHelper($row['idtipo'])['tipoavaliacao'] . "</span>";
													}elseif($row['idtipo'] == '3'){
														$strRetornoAtendimento .= " <span class='badge badge-warning'>" . Avaliacoesservicos::getAvaliacaoservicoByIdHelper($row['idtipo'])['tipoavaliacao'] . "</span>";
													}
												}else{
													$strRetornoAtendimento .= " ";
												}
												
												echo $strRetornoAtendimento;
										?>
										 </td>
										
	                                    <td>
	                                        <ul class="table-controls">
	                                            <li><a title="" class="btn tip" href="<?php echo $this->baseUrl() ?>/<?php echo 'admin' ?>/<?php echo $this->getController() ?>/visualizar/id/<?php echo $row['id'] ?>" data-original-title="Visualizar"><i class="icon-eye-open"></i></a> </li>
	                                            <?php if($row['finalizacao']!="Sim"): ?>
	                                            <?php if (Mn_Util::isAccess($this->getController(), 'editar')) : ?>
	                                            <li><a title="" class="btn tip" href="<?php echo $this->baseUrl() ?>/<?php echo 'admin' ?>/<?php echo $this->getController() ?>/editar/id/<?php echo $row['id'] ?>" data-original-title="Editar"><i class="icon-pencil"></i></a> </li>
	                                            <?php endif;?>
	                                            <?php if (Mn_Util::isAccess($this->getController(), 'excluir')) : ?>

												<?php if (Usuarios::getUsuario('idperfil') == '10') : ?>
												<li><a title="" class="btn tip" href="javascript:confirmDelete('<?php echo $row['id']; ?>','registro');" data-original-title="Excluir"><i class="icon-remove"></i></a></li>
												<?php else: ?>

													<?php if (($row['dataagendada'] == null or $row['dataagendada'] == '1969-12-31')) : ?>
														<li><a title="" class="btn tip" href="javascript:confirmDelete('<?php echo $row['id']; ?>','registro');" data-original-title="Excluir"><i class="icon-remove"></i></a></li>
													<?php else : ?>
													
													<?php endif; ?>

												<?php endif; ?>

												
												
												<?php endif; ?>
	                                            <?php endif; ?>
	                                        </ul>
	                                    </td>
	                                </tr>
	                            	<?php endforeach;?>
	                            	
	                            	
	                            	
	                            	
	                            	<?php endif; ?>
									
	                            </tbody>
								
	                        </table>
	                    </div>
	                    <?php echo $this->render('/helpers/paginator.phtml') ?>
                    
                    </form>
				

                </div>
                <!-- /table with footer -->

		    </div>
		    <!-- /content wrapper -->

		</div>
		<!-- content -->
		

<script>
	var idescolavar = '<?php echo (isset($this->post_var['idescola'])) ? $this->post_var['idescola'] : '' ?>';
	var idstatus =  '<?php echo (isset($this->post_var['idstatus'])) ? $this->post_var['idstatus'] : '' ?>';
</script>

<script type="text/javascript" src="<?php echo $this->baseUrl('/public/scripts/admin/tichamados_index.js') ?>"></script>
<script type="text/javascript">

	

	var form_values = {};
	<?php //if (isset($this->post_var)) :  ?>
	<?php if (true) :  ?>
	
// form_values.destino = '<?php echo (isset($this->post_var['destino'])) ? $this->post_var['destino'] : '' ?>';

// form_values.iddepartamento = '<?php echo (isset($this->post_var['iddepartamento'])) ? $this->post_var['iddepartamento'] : '' ?>';

form_values.idescola = '<?php echo (isset($this->post_var['idescola'])) ? $this->post_var['idescola'] : '' ?>';

// form_values.idprioridade = '<?php echo (isset($this->post_var['idprioridade'])) ? $this->post_var['idprioridade'] : '' ?>';

form_values.idstatus = '<?php echo (isset($this->post_var['idstatus'])) ? $this->post_var['idstatus'] : '' ?>';

// form_values.finalizacao = '<?php echo (isset($this->post_var['finalizacao'])) ? $this->post_var['finalizacao'] : '' ?>';

// form_values.atendido = '<?php echo (isset($this->post_var['atendido'])) ? $this->post_var['atendido'] : '' ?>';

// form_values.idtipo = '<?php echo (isset($this->post_var['idtipo'])) ? $this->post_var['idtipo'] : '' ?>';

// form_values.idsfuncionarios = '<?php echo (isset($this->post_var['idsfuncionarios'])) ? $this->post_var['idsfuncionarios'] : '' ?>';

// form_values.status1 = '<?php echo (isset($this->post_var['status1'])) ? $this->post_var['status1'] : $this->post_var['status'] ?>';

	
	<?php endif; ?>

	var sorting = ["destino", "iddepartamento", "idescola", "descricoes", "idprioridade", "idstatus", "dataagendada", "finalizacao", "atendido", "idtipo", "observacoes", "servicoesdescricoes", "servicosmateriais", "idsfuncionarios", "status"];
	
</script>	


