		<!-- Content -->
		<div id="content">

		    <!-- Content wrapper -->
		    <div class="wrapper">

			    <!-- Breadcrumbs line -->
			    <div class="crumbs">
			    	<?php echo $this->render('/helpers/breadcrumb.phtml') ?>
			    </div>
			    <!-- /breadcrumbs line -->

			    <!-- Page header -->
			    <div class="page-header">
			    	<div class="page-title">
				    	<h5>Formulário do empréstimo</h5>
				    	<span>Verifique os campos e preencha com os dados</span>
			    	</div>
			    </div>
			    <!-- /page header -->

			    <?php if (isset($this->crudMessage)) : ?>
					<div class="alert alert-success">
	                	<button data-dismiss="alert" class="close" type="button">×</button>
	                    <strong>Operação realizada com sucesso!</strong>
		    			<span><br /><?php echo $this->crudMessage ?></span>
	                </div>			    
			    <?php endif; ?>

				<form id="form" name="form" action="" method="post" class="form-horizontal" enctype="multipart/form-data"> 
					<input type="hidden" value="<?php echo (isset($this->post_var)) ? $this->post_var["id"] : ''; ?>" name="id" id="id" />
					
					<fieldset>
						<!-- General form elements -->
						<div class="widget row-fluid">
						    <div class="navbar">
						        <div class="navbar-inner">
						            <h6>Digite as informações do formulário</h6>
						        </div>
						    </div>

						    <div class="well">
								<?php if (isset($this->erros)) : ?>
									<div class="alert alert-error margin">
				                        <button data-dismiss="alert" class="close" type="button">×</button>
				                        <strong>Há erros no formulário!</strong>
					    				<?php foreach ($this->erros as $k=>$v) : ?>
					    					<span><br />- <?php echo $v ?></span>
					    				<?php endforeach;?>			                        
				                    </div>
			                    <?php endif; ?>						    
						    

	            <div class="control-group">
	            	<div class="controls1 visualizar">
	            		<table class="table table-content" width="100%">
	            			<tbody>
	            				<tr>
	            					<input type="hidden" value="<?php echo (isset($this->post_var['sequencial'])) ? $this->post_var['sequencial'] : $this->sequencial ?>" name="sequencial" id="sequencial" />
	            					<input placeholder="Data de lançamento" name="datalancamento" value="<?php echo (isset($this->post_var['datalancamento'])) ? Mn_Util::formPostVarData($this->post_var['datalancamento']) : date('d/m/Y') ?>" type="hidden"  class="span3" />
	            					<input  placeholder="Hora de abertura" name="horaabertura" value="<?php echo (isset($this->post_var['horaabertura'])) ? $this->post_var['horaabertura'] : date('G:i:s') ?>" type="hidden"  class="span3" />

	            					<td width="33%">Sequencial/Ano: <?php echo (isset($this->post_var['sequencial'])) ? $this->post_var['sequencial'] : $this->sequencial ?></td>
	            					<td width="34%">Data de lançamento: <?php echo (isset($this->post_var['datalancamento'])) ? Mn_Util::formPostVarData($this->post_var['datalancamento']) : date('d/m/Y') ?></td>
	            					<td width="33%">Hora de abertura: <?php echo (isset($this->post_var['horaabertura'])) ? $this->post_var['horaabertura'] : date('G:i') ?></td>
	            				</tr>
	            			</tbody>
	            		</table>			    		
	            	</div>
	            </div>

	            <div class="control-group">
	            	<label class="control-label">Usuário </label>
	            	<div class="controls visualizar">
	            		<input type="hidden" value="<?php echo (isset($this->post_var['idusuariologado'])) ? $this->post_var['idusuariologado'] : Usuarios::getUsuario('id') ?>" name="idusuariologado" id="idusuariologado" />
	            		<?php echo Usuarios::getUsuario('nomerazao') ?> <?php echo Usuarios::getUsuario('sobrenomefantasia') ?>
	            	</div>
	            </div>	

				<div class="control-group">
					<label class="control-label">Departamento do Patrimônio </label>
					<div class="controls">
		                <select name="iddepartamento" data-placeholder="Departamento do Patrimônio" class="select">
							<option value="">Selecione...</option>
							<?php foreach (Departamentosescolas::getDepartamentosescolasHelper(array('status'=>'Ativo')) as $k=>$v) : ?>
							<option value="<?php echo $v['id'] ?>"><?php echo $v['departamento'] ?></option>
							<?php endforeach;?>
						</select>
						
					</div>
				</div>


				<div class="control-group">
					<label class="control-label">N. do Patrimônio </label>
					<div class="controls">
		                <select name="idpatrimonio" data-placeholder="N. do Patrimônio" class="select">
							<option value="">Selecione...</option>
							<?php foreach (Patrimonios::getPatrimoniosHelper(array('status'=>'Ativo')) as $k=>$v) : ?>
							<option value="<?php echo $v['id'] ?>"><?php echo $v['patrimonio'] ?></option>
							<?php endforeach;?>
						</select>
						
					</div>
				</div>


				<div class="control-group">
					<label class="control-label">Foto do produto </label>
					<div class="controls">
						<?php if ((isset($this->post_var['idfoto'])) && ((int)$this->post_var['idfoto']>0)) : ?>
							<?php echo $this->getImagem($this->post_var['idfoto'], 80, 80, '', Imagens::$INDISPONIVEL) ?>
					
							<?php if (!$this->visualizar) : ?>
								<div class="checkbox block">
									<label><input type="checkbox" name="excluir_idfoto" value="excluir_idfoto" /> Desejo excluir a imagem</label>
								</div>
							<?php endif; ?>
						<?php endif; ?>						            
					
						<input placeholder="Foto do produto" name="idfoto" type="file"  />
					</div>
				</div>	


				<div class="control-group">
					<label class="control-label">Nome do Produto </label>
					<div class="controls"><input maxlength="500" placeholder="Nome do Produto" name="nome" value="<?php echo (isset($this->post_var['nome'])) ? $this->post_var['nome'] : '' ?>" type="text"  class="span3" /></div>
				</div>


				<div class="control-group">
					<label class="control-label">Cor do Produto </label>
					<div class="controls"><input maxlength="500" placeholder="Cor do Produto" name="cor" value="<?php echo (isset($this->post_var['cor'])) ? $this->post_var['cor'] : '' ?>" type="text"  class="span3" /></div>
				</div>


				<div class="control-group">
					<label class="control-label">Marca </label>
					<div class="controls"><input maxlength="500" placeholder="Marca" name="marca" value="<?php echo (isset($this->post_var['marca'])) ? $this->post_var['marca'] : '' ?>" type="text"  class="span3" /></div>
				</div>


				<div class="control-group">
					<label class="control-label">Tipo </label>
					<div class="controls"><input maxlength="500" placeholder="Tipo" name="tipo" value="<?php echo (isset($this->post_var['tipo'])) ? $this->post_var['tipo'] : '' ?>" type="text"  class="span3" /></div>
				</div>


				<div class="control-group">
					<label class="control-label">Modelo </label>
					<div class="controls"><input maxlength="500" placeholder="Modelo" name="modelo" value="<?php echo (isset($this->post_var['modelo'])) ? $this->post_var['modelo'] : '' ?>" type="text"  class="span3" /></div>
				</div>


				<div class="control-group">
					<label class="control-label">Característica </label>
					<div class="controls"><input maxlength="500" placeholder="Característica" name="caracteristica" value="<?php echo (isset($this->post_var['caracteristica'])) ? $this->post_var['caracteristica'] : '' ?>" type="text"  class="span3" /></div>
				</div>


				<div class="control-group">
					<label class="control-label">Dimensão </label>
					<div class="controls"><input maxlength="500" placeholder="Dimensão" name="dimensao" value="<?php echo (isset($this->post_var['dimensao'])) ? $this->post_var['dimensao'] : '' ?>" type="text"  class="span3" /></div>
				</div>


				<div class="control-group">
					<label class="control-label">Descrição do Produto </label>
					<div class="controls"><textarea class="span12" name="descricao" cols="5" rows="5"><?php echo (isset($this->post_var)) ? $this->post_var["descricao"] : ''; ?></textarea></div>
				</div>


				<div class="control-group">
					<label class="control-label">Data da compra</label>
					<div class="controls"><input placeholder="Data da compra" name="datacompra" value="<?php echo (isset($this->post_var['datacompra'])) ? Mn_Util::formPostVarData($this->post_var['datacompra']) : '' ?>" type="text"  class="span3" /></div>
				</div>


				<div class="control-group">
					<label class="control-label">Descrição do Bem </label>
					<div class="controls"><textarea class="span12" name="descricaobem" cols="5" rows="5"><?php echo (isset($this->post_var)) ? $this->post_var["descricaobem"] : ''; ?></textarea></div>
				</div>


				<div class="control-group">
					<label class="control-label">Cód. Barras </label>
					<div class="controls"><input maxlength="500" placeholder="Cód. Barras" name="codbarras" value="<?php echo (isset($this->post_var['codbarras'])) ? $this->post_var['codbarras'] : '' ?>" type="text"  class="span3" /></div>
				</div>


				<div class="control-group">
					<label class="control-label">QRCODE </label>
					<div class="controls"><input maxlength="500" placeholder="QRCODE" name="qrcode" value="<?php echo (isset($this->post_var['qrcode'])) ? $this->post_var['qrcode'] : '' ?>" type="text"  class="span3" /></div>
				</div>

				<div class="navbar">
				    <div class="navbar-inner">
				        <h6>Empréstimo do Bem</h6>
				    </div>
				</div>

				<div class="control-group">
					<label class="control-label">Local Destinatário </label>
					<div class="controls">
						<select name="idlocaldestinatario" data-placeholder="Local Destinatário" class="select">
							<option value="">Selecione...</option>
							
						</select>
						
					</div>
				</div>


				<div class="control-group">
					<label class="control-label">Departamento </label>
					<div class="controls"><input maxlength="500" placeholder="Departamento" name="departamento" value="<?php echo (isset($this->post_var['departamento'])) ? $this->post_var['departamento'] : '' ?>" type="text"  class="span3" /></div>
				</div>


				<div class="control-group">
					<label class="control-label">Nome do Responsável </label>
					<div class="controls"><input maxlength="500" placeholder="Nome do Responsável" name="nomeresponsavel" value="<?php echo (isset($this->post_var['nomeresponsavel'])) ? $this->post_var['nomeresponsavel'] : '' ?>" type="text"  class="span3" /></div>
				</div>


				<div class="control-group">
					<label class="control-label">RGF </label>
					<div class="controls"><input maxlength="500" placeholder="RGF" name="RGF" value="<?php echo (isset($this->post_var['RGF'])) ? $this->post_var['RGF'] : '' ?>" type="text"  class="span3" /></div>
				</div>

				<div class="navbar">
				    <div class="navbar-inner">
				        <h6>Condições do Empréstimo do Bem</h6>
				    </div>
				</div>

				<div class="control-group">
					<label class="control-label">Condições Empréstimo </label>
					<div class="controls">
						<select name="idcondicoesemprestimo" data-placeholder="Condições Empréstimo" class="select">
							<option value="">Selecione...</option>
							
						</select>
						
					</div>
				</div>


				<div class="control-group">
					<label class="control-label">Observação </label>
					<div class="controls"><textarea class="span12" name="observacao" cols="5" rows="5"><?php echo (isset($this->post_var)) ? $this->post_var["observacao"] : ''; ?></textarea></div>
				</div>


				<div class="control-group">
					<label class="control-label">Responsável pelo Recebimento </label>
					<div class="controls"><input maxlength="500" placeholder="Responsável pelo Recebimento" name="responsavelrecebimento" value="<?php echo (isset($this->post_var['responsavelrecebimento'])) ? $this->post_var['responsavelrecebimento'] : '' ?>" type="text"  class="span3" /></div>
				</div>


				<div class="control-group">
					<label class="control-label">RGF </label>
					<div class="controls"><input maxlength="500" placeholder="RGF" name="rgf_recebimento" value="<?php echo (isset($this->post_var['rgf_recebimento'])) ? $this->post_var['rgf_recebimento'] : '' ?>" type="text"  class="span3" /></div>
				</div>


				<div class="control-group">
					<label class="control-label">Emprestar o bem </label>
					<div class="controls">
						<select name="emprestarbem" data-placeholder="Emprestar o bem" class="select">
							<option value="">Selecione...</option>
							<option value="Sim">Sim</option><option value="Não">Não</option>
						</select>
						
					</div>
				</div>


				<div class="control-group">
					<label class="control-label">Status <span class="required">*</span></label>
					<div class="controls">
						<select name="status1" data-placeholder="Status" class="select">
							<option value="">Selecione...</option>
							<option value="Ativo">Ativo</option><option value="Bloqueado">Bloqueado</option>
						</select>
						
					</div>
				</div>

						    
						    
						    </div>
						    
			                <div class="form-actions align-right">
			                	<?php if ((isset($this->visualizar)) && ($this->visualizar)) : ?>
			                		<button onclick="window.history.back()" class="btn btn-danger cancelar" type="button">Voltar</button>
			                	<?php else : ?>
				                	<button class="btn btn-primary enviar" type="submit">Salvar</button>
				                	<button onclick="window.history.back()" class="btn btn-danger cancelar" type="button">Cancelar</button>
			                	<?php endif; ?>
			                </div>
						</div>
						<!-- /general form elements -->

					</fieldset> 

				</form>
				<!-- /basic inputs -->

		    </div>
		    <!-- /content wrapper -->

		</div>
		<!-- content -->
				
<script type="text/javascript" src="<?php echo $this->baseUrl('/public/scripts/admin/patrimoniosemprestimos_form.js') ?>"></script>
<script type="text/javascript">
	var form_values = {};
	
	<?php if (isset($this->post_var)) :  ?>
		form_values.iddepartamento = '<?php echo (isset($this->post_var['iddepartamento'])) ? $this->post_var['iddepartamento'] : '' ?>';

form_values.idpatrimonio = '<?php echo (isset($this->post_var['idpatrimonio'])) ? $this->post_var['idpatrimonio'] : '' ?>';

form_values.idlocaldestinatario = '<?php echo (isset($this->post_var['idlocaldestinatario'])) ? $this->post_var['idlocaldestinatario'] : '' ?>';

form_values.idcondicoesemprestimo = '<?php echo (isset($this->post_var['idcondicoesemprestimo'])) ? $this->post_var['idcondicoesemprestimo'] : '' ?>';

form_values.emprestarbem = '<?php echo (isset($this->post_var['emprestarbem'])) ? $this->post_var['emprestarbem'] : '' ?>';

form_values.status1 = '<?php echo (isset($this->post_var['status1'])) ? $this->post_var['status1'] : $this->post_var['status'] ?>';


	<?php endif; ?>

	visualizar = <?php echo  ((isset($this->visualizar)) && ($this->visualizar))  ? 'true' : 'false' ?>;
</script>
