		<!-- Content -->
		<div id="content">

		    <!-- Content wrapper -->
		    <div class="wrapper">

			    <!-- Breadcrumbs line -->
			    <div class="crumbs">
			    	<?php echo $this->render('/helpers/breadcrumb.phtml') ?>
			    </div>
			    <!-- /breadcrumbs line -->

			    <!-- Page header -->
			    <div class="page-header">
			    	<div class="page-title">
				    	<h5>Formulário do equipe multidisciplinar</h5>
				    	<span>Verifique os campos e preencha com os dados</span>
			    	</div>
			    </div>
			    <!-- /page header -->

			    <?php if (isset($this->crudMessage)) : ?>
					<div class="alert alert-success">
	                	<button data-dismiss="alert" class="close" type="button">×</button>
	                    <strong>Operação realizada com sucesso!</strong>
		    			<span><br /><?php echo $this->crudMessage ?></span>
	                </div>			    
			    <?php endif; ?>

				<form id="form" name="form" action="" method="post" class="form-horizontal" enctype="multipart/form-data"> 
					<input type="hidden" value="<?php echo (isset($this->post_var)) ? $this->post_var["id"] : ''; ?>" name="id" id="id" />
					
					<fieldset>
						<!-- General form elements -->
						<div class="widget row-fluid">
						    <div class="navbar">
						        <div class="navbar-inner">
						            <h6>Digite as informações do formulário</h6>
						        </div>
						    </div>

						    <div class="well">
								<?php if (isset($this->erros)) : ?>
									<div class="alert alert-error margin">
				                        <button data-dismiss="alert" class="close" type="button">×</button>
				                        <strong>Há erros no formulário!</strong>
					    				<?php foreach ($this->erros as $k=>$v) : ?>
					    					<span><br />- <?php echo $v ?></span>
					    				<?php endforeach;?>			                        
				                    </div>
			                    <?php endif; ?>						    
						    
			    
				<div class="control-group">
					<label class="control-label">Nome da Equipe <span class="required">*</span></label>
					<div class="controls"><input maxlength="500" placeholder="Nome da Equipe" name="nome" value="<?php echo (isset($this->post_var['nome'])) ? $this->post_var['nome'] : '' ?>" type="text"  class="span3" /></div>
				</div>
				<div class="control-group">
					<label class="control-label">Membros </label>
					<div class="controls itens">
						<table class="table">
							<thead>
								
								<tr>
									<th>Funcionario</th>
									<th>Função</th>
									<th width="30">Ações</th>
								</tr>
							</thead>
							<tbody id="raiz">
								<!-- DEPOIS FAZER CERTO -->
								
							<?php if(isset($this->post_var['id'])) : ?>						
								<script type="text/javascript">

								$(document).ready(function() {

									<?php foreach ($this->membros as $key => $value) : ?>
									var item = new Object();
									item.id = '<?php echo $value['id'] ?>';
									item.idfuncionario = '<?php echo $value['idfuncionario'] ?>';
									item.idfuncao = '<?php //echo $value['idfuncao']; ?>';
									console.log(item);
									iteAddTr(item);
									<?php endforeach;?>

								});

								</script>	
								<?php endif;?>

							</tbody>
							<?php if ((isset($this->visualizar)) && ($this->visualizar)) : ?>
							
							<?php else: ?>
							<tfoot>
								<tr>
									<td colspan="8" align="right" style="text-align:right !Important;"><input onclick="iteAddTr(false)" type="button" value="Adicionar" /></td>
								</tr>									
							</tfoot>
							<?php endif;?>
						</table>
					</div>
				</div>                

				

				<div class="control-group">
					<label class="control-label">Status <span class="required">*</span></label>
					<div class="controls">
						<select name="status1" data-placeholder="Status" class="select">
							<option value="">Selecione...</option>
							<option value="Ativo">Ativo</option><option value="Bloqueado">Bloqueado</option>
						</select>
						
					</div>
				</div>

						    
						    
						    </div>
						    
			                <div class="form-actions align-right">
			                	<?php if ((isset($this->visualizar)) && ($this->visualizar)) : ?>
			                		<button onclick="window.history.back()" class="btn btn-danger cancelar" type="button">Voltar</button>
			                	<?php else : ?>
				                	<button class="btn btn-primary enviar" type="submit">Salvar</button>
				                	<button onclick="window.history.back()" class="btn btn-danger cancelar" type="button">Cancelar</button>
			                	<?php endif; ?>
			                </div>
						</div>
						<!-- /general form elements -->

					</fieldset> 

				</form>
				<!-- /basic inputs -->

		    </div>
		    <!-- /content wrapper -->

		</div>
		<!-- content -->
				
<script type="text/javascript" src="<?php echo $this->baseUrl('/public/scripts/admin/educacaoespecialequipes_form.js') ?>"></script>
<script type="text/javascript">
	var form_values = {};
	
	<?php if (isset($this->post_var)) :  ?>
		form_values.idfuncionario = '<?php echo (isset($this->post_var['idfuncionario'])) ? $this->post_var['idfuncionario'] : '' ?>';

form_values.idcargo = '<?php echo (isset($this->post_var['idcargo'])) ? $this->post_var['idcargo'] : '' ?>';

form_values.status1 = '<?php echo (isset($this->post_var['status1'])) ? $this->post_var['status1'] : $this->post_var['status'] ?>';


	<?php endif; ?>

	visualizar = <?php echo  ((isset($this->visualizar)) && ($this->visualizar))  ? 'true' : 'false' ?>;

	<?php
        $queries = array();
        $queries['idsfuncionariosgerais'] = $this->funcionariogeral['idsfuncionarios'];
        $idfuncionario = Usuarios::getUsuario('idfuncionario');
        $idescola = Usuarios::getUsuario('idescola');
        $idperfil = (int)Usuarios::getUsuario('idperfil');
        if((int)$idescola > 0){
            $meusfuncionarios = Meusfuncionariosgeraisescolas::getMeusfuncionariosgeraisescolaImplodeByIdescolaHelper($idfuncionario, $idescola, array());
            if((isset($meusfuncionarios)) && ($meusfuncionarios) && ($meusfuncionarios!="")){
                $queries['idsfuncionariosgerais'] = $meusfuncionarios;
            }else{
                $queries['idsfuncionariosgerais'] = '-1';
            }
        }elseif((int)$idperfil > 0){
            $idfuncionario = Usuarios::getUsuario('idfuncionario');
            $meusfuncionarios = Meusfuncionariosgeraisescolas::getMeusfuncionariosgeraisescolaImplodeByIdperfilHelper($idfuncionario, $idperfil, array());
            unset($queries['idsfuncionariosgerais']);
            if((isset($meusfuncionarios)) && ($meusfuncionarios) && ($meusfuncionarios!="")){
                $queries['idsfuncionariossel'] = $meusfuncionarios;
            }else{
                $queries['idsfuncionariossel'] = '-1';
            }
        }

		$my_func = Funcionariosgeraisescolas::getFuncionariosgeraisescolasHelper($queries); 
	?>
	var funcionarios = new Array();
	<?php foreach ($my_func as $f=>$funcionario): ?>
	var funcionario = {};
	funcionario.k = '<?php echo $funcionario['id'] ?>';
	funcionario.v = '<?php echo $funcionario['nome']; ?>';
	funcionarios.push(funcionario);
	<?php endforeach;;?>

</script>
