<style type="text/css">
.filter-box{
    display:block;
    padding:1%;
}

.filter-box .field-search{
    width: 33%;
    display: inline-block;
}

.filter-box .field-search label{
    margin-top: 15px;
}

.table-relatorio {

    width: 100%;
    display: block;
    overflow: auto;
    height: 350px;
    overflow-y: scroll;
    overflow-x: hidden;
    text-align: justify;
}

.table-relatorio tr:nth-child(odd) {
  background-color:#fff;
}
.table-relatorio tr:nth-child(even) {
  background-color:#F5F5F5;
}
.table-relatorio th {
  background-color:#F5F5F5;
}

</style>

<!-- Content -->
<div id="content">

    <!-- Content wrapper -->
    <div class="wrapper">

        <!-- Breadcrumbs line -->
        <div class="crumbs">
            <?php echo $this->render('/helpers/breadcrumb.phtml') ?>
        </div>
        <!-- /breadcrumbs line -->

        <!-- Page header -->
        <div class="page-header">
            <div class="page-title">
                <h5>Relatório Fretado</h5>
                <span>Transporte Escolar -  Fretado</span>
            </div>

        </div>
        <!-- /page header -->

        <!-- Table with footer -->
        <div class="widget">
            <form action="#" class="form-horizontal" method="post">
                <div class="navbar">
                    <div class="navbar-inner">
                        <h6>Visualizando registros</h6>
                    </div>
                </div>
                <div class="navbar">
                    <div class="navbar-inner filter-box">
                        <div class="field-search">
                            <label>Período</label>
                            <select name="periodo" class="select" style="min-width: 320px;">
                                <option value="">Selecione...</option>
                                <?php foreach (Lteperiodos::getPeriodos(array('fechado' => true, 'tipotransporte' => 'fretado')) as $i=>$row) : ?>
                                    <?php $inicio = date_create($row['datainicio']); $fim = date_create($row['datafim']); ?>
                                    <option value="<?= $row['id'] ?>">
                                        <?= strtoupper($row['tipo'].($row['tipo'] == 'estadual' ? ' - '.$row['curso'].'' : '')) ?>
                                        <?= date_format($inicio, 'd-m-Y').' a '.date_format($fim, 'd-m-Y') ?>
                                    </option>
                                <?php endforeach; ?>
                            </select>
                        </div>

                        <div class="field-search">
                            <label>Estudantes</label>
                            <select name="tipoestudante" id="tipoestudante" class="select" onchange="setEntidades(this)">
                                <option value="">Selecione...</option>
                                <?php foreach (Ltetipos::gettipos() as $i=>$row) : ?>
                                  <option value="<?php echo $row['tipo'] ?>"><?php echo $row['tipoestudante'] ?></option>
                                <?php endforeach; ?>
                            </select>
                        </div>

                        <div class="field-search">
                            <label>Entidades</label>
                            <select name="entidades" class="select" style="min-width: 350px;">
                                <option value="">Todas</option>
                            </select>
                        </div>

                        <div class="field-search"></div>
                        <div class="field-search"></div>

                        <div class="field-search">
                            <div class="btn-panel" style="float: right;">
                                <button class="btn btn-mini btn-primary" type="submit">Pesquisar</button>
                            </div>
                        </div>
                    </div>
                    <h1>Total Geral: R$ <?= number_format($this->rows['total'],2,',','.') ?></h1>
                    <h3>Total de alunos: <?= isset($this->rows['lte']) ? sizeof($this->rows['lte']) : '0' ?></h3>

                    <div class="table-overflow">
                        <table class="table-relatorio">
                            <?php if (!isset($this->rows['lte']) || sizeof($this->rows['lte'])==0) : ?>
                            <tr>
                                <td colspan="7">Nenhum registro foi encontrado!</td>
                            </tr>

                            <?php else : ?>
                                <tr>
                                    <td style="width: 5%; text-decoration: underline; font-weight: bold;">Matricula</td>
                                    <td style="width: 30%; text-decoration: underline; font-weight: bold;">Estudante</td>
                                    <td style="width: 4%; text-decoration: underline; font-weight: bold;">R.A.</td>
                                    <td style="width: 4%; text-decoration: underline; font-weight: bold;">EJA</td>
                                    <td style="width: 3%; text-decoration: underline; font-weight: bold;">Série</td>
                                    <td style="width: 3%; text-decoration: underline; font-weight: bold;">Período</td>
                                    <td style="width: 15%; text-decoration: underline; font-weight: bold;">Entidade</td>
                                    <td style="width: 5%; text-decoration: underline; font-weight: bold;">Nascimento</td>
                                    <td style="width: 12%; text-decoration: underline; font-weight: bold;">Endereço</td>
                                    <td style="width: 8%; text-decoration: underline; font-weight: bold;">Bairro</td>
                                    <td style="width: 3%; text-decoration: underline; font-weight: bold;">Dias Letivos</td>
                                    <td style="width: 4%; text-decoration: underline; font-weight: bold;">Valor Unitário</td>
                                    <td style="width: 3%; text-decoration: underline; font-weight: bold;">Faltas</td>
                                    <td style="width: 5%; text-decoration: underline; font-weight: bold;">Total</td>
                                </tr>
                                <?php foreach ($this->rows['lte'] as $i=>$row) : ?>
                                    <tr>
                                        <input type="hidden" name=id[] value="<?php echo $row['id'] ?>" />
                                        <td style="width: 5%"><?= $row['matricula'] ?></td>
                                        <td style="width: 30%;"><?= $row['nome'] ?></td>
                                        <td style="width: 4%"><?= $row['ra'] ?></td>
                                        <td style="width: 4%"><?= $row['eja'] ?></td>
                                        <td style="width: 3%;"><?= $row['serie'] ?></td>
                                        <td style="width: 3%;"><?= $row['periodo'] ?></td>
                                        <td style="width: 15%;"><?= $row['entidade'] ?></td>
                                        <?php $nasc = '';
                                        if ($row['datanascimento'] != '0000-00-00 00:00:00' && !is_null($row['datanascimento']) && $row['datanascimento'] != '') {
                                            $nasc = date_format(date_create($row['datanascimento']), 'd-m-Y');
                                        } ?>
                                        <td style="width: 5%;"><?= $nasc ?></td>
                                        <td style="width: 12%;"><?= $row['endereco'] ?></td>
                                        <td style="width: 8%"><?= $row['bairro'] ?></td>
                                        <td style="width: 3%;"><?= $row['diasletivos'] ?></td>
                                        <td style="width: 4%;"><?= 'R$ '.number_format($row['valorunitario'],2) ?></td>
                                        <td style="width: 3%;"><?= $row['faltas'] ?></td>
                                        <td style="width: 5%;"><?= 'R$ '.number_format($row['total'],2) ?></td>
                                    </tr>
                                <?php endforeach;?>
                            <?php endif; ?>
                        </table>
                    </div>
                </div>
            </form>
        </div>
        <!-- /table with footer -->
        <a class="btn btn-default" href="<?php echo $this->baseUrl() ?>/admin/lterelatorios">Voltar</a>

        <div class="btn-panel" style="padding: 2px; float: right; <?= isset($this->rows['lte'])&&sizeof($this->rows['lte']) > 0 ? 'display: block;' : 'display: none;' ?>">
            <a href="<?= $this->baseUrl() ?>/admin/<?= $this->getController() ?>/pdffretado/idperiodo/<?= $this->post_var['periodo']?><?= isset($this->post_var['tipoestudante'])&&$this->post_var['tipoestudante']!='' ? '/tipoestudante/'.$this->post_var['tipoestudante'] : '' ?><?= isset($this->post_var['entidades'])&&$this->post_var['entidades']!='' ? '/identidade/'.$this->post_var['entidades'] : '' ?>" class="btn btn-danger" title="PDF">
                <i class="far fa-file-pdf fa-3x"></i>
            </a>
        </div>
        <div class="btn-panel" style="padding: 2px; float: right; <?= isset($this->rows['lte'])&&sizeof($this->rows['lte']) > 0 ? 'display: block;' : 'display: none;' ?>">
            <a href="<?= $this->baseUrl() ?>/admin/<?= $this->getController() ?>/xlsfretado/idperiodo/<?= $this->post_var['periodo']?><?= isset($this->post_var['tipoestudante'])&&$this->post_var['tipoestudante']!='' ? '/tipoestudante/'.$this->post_var['tipoestudante'] : '' ?><?= isset($this->post_var['entidades'])&&$this->post_var['entidades']!='' ? '/identidade/'.$this->post_var['entidades'] : '' ?>" class="btn btn-success" title="XLS">
                <i class="far fa-file-excel fa-3x"></i>
            </a>
        </div>
    </div>
    <!-- /content wrapper -->
</div>
<!-- content -->
<script type="text/javascript" src="<?php echo $this->baseUrl('/public/scripts/admin/lterelatorios_index.js') ?>"></script>
<script type="text/javascript">
    var form_values = {};
    <?php if (isset($this->post_var['tipoestudante'])) : ?>
        form_values.tipoestudante = '<?php echo $this->post_var['tipoestudante'] ?>';
    <?php endif; ?>

    <?php if (isset($this->post_var['tipotransporte'])) : ?>
        form_values.tipotransporte = '<?php echo $this->post_var['tipotransporte'] ?>';
    <?php endif; ?>

    <?php if (isset($this->post_var['entidades'])) : ?>
        form_values.entidades = '<?php echo $this->post_var['entidades'] ?>';
    <?php endif; ?>

    <?php if (isset($this->post_var['periodo'])) : ?>
        form_values.periodo = '<?php echo $this->post_var['periodo'] ?>';
    <?php endif; ?>
</script>