<style type="text/css">
.filter-box{
    width: 100%;
    display:block;
    padding:1%;
}
.filter-box .field-search{
    width: 33%;
    display: inline-block;
}
.filter-box .field-search label{
    margin-top: 15px;
}
</style>
<!-- Content -->
<div id="content">

    <!-- Content wrapper -->
    <div class="wrapper">

        <!-- Breadcrumbs line -->
        <div class="crumbs">
            <?php echo $this->render('/helpers/breadcrumb.phtml') ?>
        </div>
        <!-- /breadcrumbs line -->

        <!-- Page header -->
        <div class="page-header">
            <div class="page-title">
                <h5>Relatórios</h5>
                <span>Transporte Escolar</span>
            </div>

        </div>
        <!-- /page header -->

        <!-- Table with footer -->
        <div class="widget">
            <div class="navbar">
                <div class="navbar-inner">
                    <h6>Relatórios</h6>
                </div>
            </div>
            <div class="navbar">
                <div class="navbar-inner filter-box">
                    <div class="field-search">
                        <a href="<?= $this->baseUrl().'/admin/lterelatorios/fretado/' ?>" class="btn btn-primary">Fretado</a>
                    </div>

                    <div class="field-search">
                        <a href="<?= $this->baseUrl().'/admin/lterelatorios/passe/' ?>" class="btn btn-primary">Passe</a>
                    </div>

                    <div class="field-search">
                        <a href="<?= $this->baseUrl().'/admin/lterelatorios/universitarios/' ?>" class="btn btn-primary">Universitários</a>
                    </div>

                </div>

            </div>
        </div>
        <!-- /table with footer -->
    </div>
    <!-- /content wrapper -->
</div>
<!-- content -->