<style type="text/css">
.filter-box{
    display:block;
    padding:1%;
}
.filter-box .field-search{
    width: 33%;
    display: inline-block;
}

.filter-box .field-search label{
    margin-top: 15px;
}

.table-relatorio {
    width: 100%;
    display: block;
    overflow: auto;
    height: 350px;
    overflow-y: scroll;
    overflow-x: hidden;
    text-align: justify;
}

.table-relatorio tr:nth-child(odd) {
  background-color:#fff;
}
.table-relatorio tr:nth-child(even) {
  background-color:#F5F5F5;
}
.table-relatorio th {
  background-color:#F5F5F5;
}
</style>
<!-- Content -->
<div id="content">

    <!-- Content wrapper -->
    <div class="wrapper">

        <!-- Breadcrumbs line -->
        <div class="crumbs">
            <?php echo $this->render('/helpers/breadcrumb.phtml') ?>
        </div>
        <!-- /breadcrumbs line -->

        <!-- Page header -->
        <div class="page-header">
            <div class="page-title">
                <h5>Relatórios</h5>
                <span>Transporte Universitário</span>
            </div>
        </div>
        <!-- /page header -->
        <div>
            <form action="#" class="form-horizontal" method="post">
                <div class="navbar">
                    <div class="navbar-inner">
                        <h6>Visualizando registros</h6>
                    </div>
                </div>
                <div class="navbar">
                    <div class="navbar-inner filter-box">
                        <div class="field-search">
                            <label>Período</label>
                            <select name="periodo" class="select">
                                <option value="">Selecione...</option>
                                <?php foreach (Lteperiodosuniversitarios::getPeriodos(array('fechado' => true)) as $i=>$row) : ?>
                                    <?php $inicio = date_create($row['datainicio']); $fim = date_create($row['datafim']); ?>
                                    <option value="<?php echo $row['id'] ?>"><?php echo date_format($inicio, 'd-m-Y').' a '.date_format($fim, 'd-m-Y') ?>
                                <?php endforeach; ?>
                            </select>
                        </div>

                        <div class="field-search">
                            <label>Entidades</label>
                            <select name="entidades_universidades" class="select">
                                <option value="">Todas</option>
                                <?php foreach (Lteveiculosestudantes::getEntidadesTransporte(array('tipo' => 'universidade'),0,0) as $i=>$row) : ?>
                                    <option value="<?php echo $row['id'] ?>"><?php echo $row['entidade'] ?></option>
                                <?php endforeach; ?>
                            </select>
                        </div>

                        <div class="field-search">
                            <label>Subsídios</label>
                            <select name="subsidio" class="select">
                                <option value="">Todos</option>
                                <option value="160">R$ 160.00</option>
                                <option value="220">R$ 220.00</option>
                            </select>
                        </div>

                        <div class="field-search"></div>
                        <div class="field-search"></div>

                        <div class="field-search">
                            <div class="btn-panel" style="float: right;"><button class="btn btn-mini btn-primary" type="submit">Pesquisar</button></div>
                        </div>
                    <?php 
                        //echo '<pre>';
                        //print_r($this->rows['lte']);
                    ?>
                    </div>
                    <h1>Valor total: R$ <?= number_format($this->rows['total'],2,',','.') ?></h1>
                    <h3>Total de estudantes: <?= isset($this->rows['lte']) ? sizeof($this->rows['lte']) : '0' ?></h3>

                    <div>
                        <table class="table-relatorio">
                            <?php if (!isset($this->rows['lte']) || sizeof($this->rows['lte'])==0) : ?>
                            <tr>
                                <td colspan="6">Nenhum registro foi encontrado!</td>
                            </tr>
                            <?php else : ?>
                                <tr>
                                    <td style="width: 10%; text-decoration: underline; font-weight: bold;">Filiação</td>
                                    <td style="width: 32%; text-decoration: underline; font-weight: bold;">Estudante</td>
                                    <td style="width: 15%; text-decoration: underline; font-weight: bold;">CPF</td>
                                    <td style="width: 20%; text-decoration: underline; font-weight: bold;">Entidade</td>
                                    <td style="width: 15%; text-decoration: underline; font-weight: bold;">Valor Fretado</td>
                                    <td style="width: 20%; text-decoration: underline; font-weight: bold;">Subsídio</td>
                                </tr>
                                <?php foreach ($this->rows['lte'] as $i=>$row) : ?>
                                    <tr>
                                        <td style="width: 10%"><?= $row['filiacao'] ?></td>
                                        <td style="width: 32%"><?= $row['nome'] ?></td>
                                        <td style="width: 15%"><?= Escolasalunos::maskCPF($row['cpf']) ?></td>
                                        <td style="width: 20%"><?= $row['entidade'] ?></td>
                                        <td style="width: 15%"><?= 'R$ '.number_format($row['valorfretado'],2) ?></td>
                                        <td style="width: 20%"><?= 'R$ '.number_format($row['subsidio'],2) ?></td>
                                    </tr>
                                <?php endforeach;?>
                            <?php endif; ?>
                        </table>
                    </div>
                </div>
            </form>
        </div>
        <!-- Table with footer -->
        <div class="widget">
        </div>
        <!-- /table with footer -->
        <a class="btn btn-default" href="<?php echo $this->baseUrl() ?>/admin/lterelatorios">Voltar</a>
        <div class="btn-panel" style="padding: 2px; float: right; margin-bottom:20px; <?= isset($this->rows['lte'])&&sizeof($this->rows['lte']) > 0 ? 'display: block;' : 'display: none;' ?>">
            <a href="<?= $this->baseUrl() ?>/admin/<?= $this->getController() ?>/pdfuniversitarios/idperiodo/<?= $this->post_var['periodo']?><?= isset($this->post_var['subsidio'])&&$this->post_var['subsidio']!='' ? '/subsidio/'.$this->post_var['subsidio'] : '' ?><?= isset($this->post_var['entidades_universidades'])&&$this->post_var['entidades_universidades']!='' ? '/identidade/'.$this->post_var['entidades_universidades'] : '' ?>" class="btn btn-danger" title="PDF">
                <i class="far fa-file-pdf fa-3x"></i>
            </a>
        </div>
        <div class="btn-panel" style="padding: 2px; float: right; margin-bottom:20px; <?= isset($this->rows['lte'])&&sizeof($this->rows['lte']) > 0 ? 'display: block;' : 'display: none;' ?>">
            <a href="<?= $this->baseUrl() ?>/admin/<?= $this->getController() ?>/xlsuniversitarios/idperiodo/<?= $this->post_var['periodo']?><?= isset($this->post_var['subsidio'])&&$this->post_var['subsidio']!='' ? '/subsidio/'.$this->post_var['subsidio'] : '' ?><?= isset($this->post_var['entidades_universidades'])&&$this->post_var['entidades_universidades']!='' ? '/identidade/'.$this->post_var['entidades_universidades'] : '' ?>" class="btn btn-success" title="XLS">
                <i class="far fa-file-excel fa-3x"></i>
            </a>
        </div>
    </div>
    <!-- /content wrapper -->
</div>
<!-- content -->
<script type="text/javascript" src="<?php echo $this->baseUrl('/public/scripts/admin/lterelatorios_index.js') ?>"></script>
<script type="text/javascript">
    var form_values = {};
    <?php if (isset($this->post_var['entidades'])) : ?>
        form_values.entidades = '<?php echo $this->post_var['entidades'] ?>';
    <?php endif; ?>

    <?php if (isset($this->post_var['entidades_universidades'])) : ?>
        form_values.entidades_universidades = '<?php echo $this->post_var['entidades_universidades'] ?>';
    <?php endif; ?>

    <?php if (isset($this->post_var['periodo'])) : ?>
        form_values.periodo = '<?php echo $this->post_var['periodo'] ?>';
    <?php endif; ?>

    <?php if (isset($this->post_var['subsidio'])) : ?>
        form_values.subsidio = '<?php echo $this->post_var['subsidio'] ?>';
    <?php endif; ?>
</script>