		<!-- Content -->
		<div id="content">

		    <!-- Content wrapper -->
		    <div class="wrapper">

			    <!-- Breadcrumbs line -->
			    <div class="crumbs">
			    	<?php echo $this->render('/helpers/breadcrumb.phtml') ?>
			    </div>
			    <!-- /breadcrumbs line -->

			    <!-- Page header -->
			    <div class="page-header">
			    	<div class="page-title">
				    	<h5>Formulário de Controle de Consumo</h5>
				    	<span>Verifique os campos e preencha com os dados</span>
			    	</div>
			    </div>
			    <!-- /page header -->

			    <?php if (isset($this->crudMessage)) : ?>
					<div class="alert alert-success">
	                	<button data-dismiss="alert" class="close" type="button">×</button>
	                    <strong>Operação realizada com sucesso!</strong>
		    			<span><br /><?php echo $this->crudMessage ?></span>
	                </div>			    
			    <?php endif; ?>

				<form id="form" name="form" action="" method="post" class="form-horizontal" enctype="multipart/form-data"> 
					<input type="hidden" value="<?php echo (isset($this->post_var)) ? $this->post_var["id"] : ''; ?>" name="id" id="id" />
					
					<fieldset>
						<!-- General form elements -->
						<div class="widget row-fluid">
						    <div class="navbar">
						        <div class="navbar-inner">
						            <h6>Digite as informações do formulário</h6>
						        </div>
						    </div>

						    <div class="well">
								<?php if (isset($this->erros)) : ?>
									<div class="alert alert-error margin">
				                        <button data-dismiss="alert" class="close" type="button">×</button>
				                        <strong>Há erros no formulário!</strong>
					    				<?php foreach ($this->erros as $k=>$v) : ?>
					    					<span><br />- <?php echo $v ?></span>
					    				<?php endforeach;?>			                        
				                    </div>
			                    <?php endif; ?>						    
		


				<div class="control-group">
					<label class="control-label">Data do Lançamento</label>
					<div class="controls"><input placeholder="Data do Lançamento" name="datalancamento" value="<?php echo (isset($this->post_var['datalancamento'])) ? Mn_Util::formPostVarData($this->post_var['datalancamento']) : '' ?>" type="text"  class="span3" /></div>
				</div>



				<div class="control-group">
					<label class="control-label">Nome do usuário <span class="required">*</span></label>
					<div class="controls visualizar">
						<input type="hidden" name="idusuariologado" value ="<?php echo (isset($this->post_var['idusuariologado'])) ? $this->post_var['idusuariologado'] : Escolasusuarios::getUsuario('id') ?>">
						<?php echo Escolasusuarios::getUsuario('nomerazao') ?>			
					</div>
				</div>


				<div class="control-group">
					<label class="control-label">Escola <span class="required">*</span></label>
					<div class="controls visualizar">
						<?php echo Escolasusuarios::getUsuario('escola'); ?>
						
					</div>	
				</div>


				<div class="control-group">
					<label class="control-label">Selecionar o Período <span class="required">*</span></label>
					<div class="controls">
						
							
							<?php foreach (Escolasvinculos::getEscolasvinculosHelper(array('status'=>'Ativo')) as $key => $value) : ?>
								<input type="checkbox" name="periodos" value="<?php echo $value['id'] ?>"><?php echo $value['periodo']?><br>
							<?php endforeach;?>
						
						
					</div>
				</div>	

				<div class="control-group">
					<label class="control-label">Tipo de Ensino <span class="required">*</span></label>
					<div class="controls">
						<input type="radio" name="tipoensino" value="Normal" />Normal 
						<input type="radio" name="tipoensino" value="Integral" />Integral
						<input type="radio" name="tipoensino" value="Creche" />Creche
					</div>
				</div>

				<div class="control-group">
					<label class="control-label">Selecionar a Turma <span class="required">*</span></label>
					<div class="controls">
						
							
							<?php foreach (Escolasseries::getEscolasseriesHelper(array('status'=>'Ativo')) as $key => $value) : ?>
								<input type="checkbox" name="turmas" value="<?php echo $value['id'] ?>"><?php echo $value['serie']?><br>
							<?php endforeach;?>
						
						
					</div>
				</div>	

				<div class="control-group">
					<label class="control-label">Tipo <span class="required">*</span></label>
					<div class="controls">
						<input type="radio" name="tipo" value="Sintético" />Sintético 
						<input type="radio" name="tipo" value="Analítico" />Analítico
							
						
					</div>
				</div>
				

				<div class="control-group">
					<label class="control-label">Nome do Aluno </label>
					<div class="controls">
						<select name="idaluno" data-placeholder="Alunos" class="select">
							<option value="">Selecione...</option>
							<?php foreach (Escolasalunos::getEscolasalunosHelper(array('status'=>'Ativo')) as $k=>$v) : ?>
							<option value="<?php echo $v['id'] ?>"><?php echo $v['nomerazao']." ". $v['sobrenomefantasia']?></option>
							<?php endforeach;?>
						</select>
					</div>
				</div>

				<div class="control-group">
					<label class="control-label">Quantidades de Refeição </label>
					<div class="controls"><input maxlength="20" placeholder="Quantidades de Refeição" name="qtdrefeicao" value="<?php echo (isset($this->post_var['qtdrefeicao'])) ? $this->post_var['qtdrefeicao'] : '' ?>" type="text"  class="span3" /></div>
				</div>

				<div class="control-group">
					<label class="control-label">Quantidades de Repetições de Refeição </label>
					<div class="controls"><input maxlength="20" placeholder="Quantidades de Repetições de Refeição" name="qtdrefeicaorepeticoes" value="<?php echo (isset($this->post_var['qtdrefeicaorepeticoes'])) ? $this->post_var['qtdrefeicaorepeticoes'] : '' ?>" type="text"  class="span3" /></div>
				</div>

				<div class="control-group">
					<label class="control-label">Quantidades de Sobremesa </label>
					<div class="controls"><input maxlength="20" placeholder="Quantidades de Sobremesa" name="qtdsobremesa" value="<?php echo (isset($this->post_var['qtdsobremesa'])) ? $this->post_var['qtdsobremesa'] : '' ?>" type="text"  class="span3" /></div>
				</div>

				<div class="control-group">
					<label class="control-label">Quantidades de Repetições de Sobremesa </label>
					<div class="controls"><input maxlength="20" placeholder="Quantidades de Repetições de Sobremesa" name="qtdsobremesarepeticoes" value="<?php echo (isset($this->post_var['qtdsobremesarepeticoes'])) ? $this->post_var['qtdsobremesarepeticoes'] : '' ?>" type="text"  class="span3" /></div>
				</div>

				<div class="control-group">
					<label class="control-label">Quantidades de Café da Manhã </label>
					<div class="controls"><input maxlength="20" placeholder="Quantidades de Café da Manhã" name="qtdcafemanha" value="<?php echo (isset($this->post_var['qtdcafemanha'])) ? $this->post_var['qtdcafemanha'] : '' ?>" type="text"  class="span3" /></div>
				</div>

				<div class="control-group">
					<label class="control-label">Quantidades de Repetições de Café da Manhã </label>
					<div class="controls"><input maxlength="20" placeholder="Quantidades de Repetições de Café da Manhã" name="qtdcafemanharepeticoes" value="<?php echo (isset($this->post_var['qtdcafemanharepeticoes'])) ? $this->post_var['qtdcafemanharepeticoes'] : '' ?>" type="text"  class="span3" /></div>
				</div>

				<div class="control-group">
					<label class="control-label">Quantidades de Almoço </label>
					<div class="controls"><input maxlength="20" placeholder="Quantidades de Almoço" name="qtdalmoco" value="<?php echo (isset($this->post_var['qtdalmoco'])) ? $this->post_var['qtdalmoco'] : '' ?>" type="text"  class="span3" /></div>
				</div>

				<div class="control-group">
					<label class="control-label">Quantidades de Repetições de Almoço </label>
					<div class="controls"><input maxlength="20" placeholder="Quantidades de Repetições de Almoço" name="qtdalmocorepeticoes" value="<?php echo (isset($this->post_var['qtdalmocorepeticoes'])) ? $this->post_var['qtdalmocorepeticoes'] : '' ?>" type="text"  class="span3" /></div>
				</div>

				<div class="control-group">
					<label class="control-label">Quantidades de Café da Tarde </label>
					<div class="controls"><input maxlength="20" placeholder="Quantidades de Café da Tarde" name="qtdcafetarde" value="<?php echo (isset($this->post_var['qtdcafetarde'])) ? $this->post_var['qtdcafetarde'] : '' ?>" type="text"  class="span3" /></div>
				</div>

				<div class="control-group">
					<label class="control-label">Quantidades de Repetições de Café da Tarde </label>
					<div class="controls"><input maxlength="20" placeholder="Quantidades de Repetições de Café da Tarde" name="qtdcafetarderepeticoes" value="<?php echo (isset($this->post_var['qtdcafetarderepeticoes'])) ? $this->post_var['qtdcafetarderepeticoes'] : '' ?>" type="text"  class="span3" /></div>
				</div>

				<div class="control-group">
					<label class="control-label">Quantidades de Jantar </label>
					<div class="controls"><input maxlength="20" placeholder="Quantidades de Jantar" name="qtdjantar" value="<?php echo (isset($this->post_var['qtdjantar'])) ? $this->post_var['qtdjantar'] : '' ?>" type="text"  class="span3" /></div>
				</div>

				<div class="control-group">
					<label class="control-label">Quantidades de Repetições de Jantar </label>
					<div class="controls"><input maxlength="20" placeholder="Quantidades de Repetições de Jantar" name="qtdjantarrepeticoes" value="<?php echo (isset($this->post_var['qtdjantarrepeticoes'])) ? $this->post_var['qtdjantarrepeticoes'] : '' ?>" type="text"  class="span3" /></div>
				</div>

				<div class="control-group">
					<label class="control-label">Quantidades de Mamadeira </label>
					<div class="controls"><input maxlength="20" placeholder="Quantidades de Mamadeira" name="qtdmamadeira" value="<?php echo (isset($this->post_var['qtdmamadeira'])) ? $this->post_var['qtdmamadeira'] : '' ?>" type="text"  class="span3" /></div>
				</div>

				<div class="control-group">
					<label class="control-label">Quantidades de Repetições de Mamadeira </label>
					<div class="controls"><input maxlength="20" placeholder="Quantidades de Repetições de Mamadeira" name="qtdmamadeirarepeticoes" value="<?php echo (isset($this->post_var['qtdmamadeirarepeticoes'])) ? $this->post_var['qtdmamadeirarepeticoes'] : '' ?>" type="text"  class="span3" /></div>
				</div>

				<div class="control-group">
					<label class="control-label">Quantidades de Desjejum </label>
					<div class="controls"><input maxlength="20" placeholder="Quantidades de Desjejum" name="qtddesjejum" value="<?php echo (isset($this->post_var['qtddesjejum'])) ? $this->post_var['qtddesjejum'] : '' ?>" type="text"  class="span3" /></div>
				</div>

				<div class="control-group">
					<label class="control-label">Quantidades de Repetições de Desjejum </label>
					<div class="controls"><input maxlength="20" placeholder="Quantidades de Repetições de Desjejum" name="qtddesjejumrepeticoes" value="<?php echo (isset($this->post_var['qtddesjejumrepeticoes'])) ? $this->post_var['qtddesjejumrepeticoes'] : '' ?>" type="text"  class="span3" /></div>
				</div>

				<div class="control-group">
					<label class="control-label">Quantidades de Colação </label>
					<div class="controls"><input maxlength="20" placeholder="Quantidades de Colação" name="qtdcolacao" value="<?php echo (isset($this->post_var['qtdcolacao'])) ? $this->post_var['qtdcolacao'] : '' ?>" type="text"  class="span3" /></div>
				</div>

				<div class="control-group">
					<label class="control-label">Quantidades de Repetições de Colação </label>
					<div class="controls"><input maxlength="20" placeholder="Quantidades de Repetições de Colação" name="qtdcolacaorepeticoes" value="<?php echo (isset($this->post_var['qtdcolacaorepeticoes'])) ? $this->post_var['qtdcolacaorepeticoes'] : '' ?>" type="text"  class="span3" /></div>
				</div>

				<div class="control-group">
					<label class="control-label">Quantidades de Lanche da Tarde </label>
					<div class="controls"><input maxlength="20" placeholder="Quantidades de Lanche da Tarde" name="qtdlanche" value="<?php echo (isset($this->post_var['qtdlanche'])) ? $this->post_var['qtdlanche'] : '' ?>" type="text"  class="span3" /></div>
				</div>

				<div class="control-group">
					<label class="control-label">Quantidades de Repetições de Lanche da Tarde </label>
					<div class="controls"><input maxlength="20" placeholder="Quantidades de Repetições de Lanche da Tarde" name="qtdlancherepeticoes" value="<?php echo (isset($this->post_var['qtdlancherepeticoes'])) ? $this->post_var['qtdlancherepeticoes'] : '' ?>" type="text"  class="span3" /></div>
				</div>
		    </div>

		    </div>
						    
			                <div class="form-actions align-right">
			                	<?php if ((isset($this->visualizar)) && ($this->visualizar)) : ?>
			                		<button onclick="window.history.back()" class="btn btn-danger cancelar" type="button">Voltar</button>
			                	<?php else : ?>
				                	<button class="btn btn-primary enviar" type="submit">Salvar</button>
				                	<button onclick="window.history.back()" class="btn btn-danger cancelar" type="button">Cancelar</button>
			                	<?php endif; ?>
			                </div>
						</div>
						<!-- /general form elements -->

					</fieldset> 

				</form>
				<!-- /basic inputs -->

		    </div>
		    <!-- /content wrapper -->

		</div>
		<!-- content -->
				
<script type="text/javascript" src="<?php echo $this->baseUrl('/public/scripts/default/nutricaomerendasconsumos_form.js') ?>"></script>
<script type="text/javascript">
	var form_values = {};
	
	<?php if (isset($this->post_var)) :  ?>
	form_values.tipoensino = '<?php echo (isset($this->post_var['tipoensino'])) ? $this->post_var['tipoensino'] : '' ?>';
		form_values.tipo = '<?php echo (isset($this->post_var['tipo'])) ? $this->post_var['tipo'] : '' ?>';
		form_values.aluno = '<?php echo (isset($this->post_var['aluno'])) ? $this->post_var['aluno'] : '' ?>';


	<?php endif; ?>

	visualizar = <?php echo  ((isset($this->visualizar)) && ($this->visualizar))  ? 'true' : 'false' ?>;
</script>
