		<!-- Content -->
		<div id="content">

		    <!-- Content wrapper -->
		    <div class="wrapper">

			    <!-- Breadcrumbs line -->
			    <div class="crumbs">
			    	<?php echo $this->render('/helpers/breadcrumb.phtml') ?>
			    </div>
			    <!-- /breadcrumbs line -->

			    <!-- Page header -->
			    <div class="page-header">
			    	<div class="page-title">
				    	<h5>Controle de consumo no sistema</h5>
				    	<span>Visualize o controle de consumos do sistema</span>
			    	</div>
			    	
			    </div>
			    <!-- /page header -->
			    
			    <?php if (isset($this->crudMessage)) : ?>
				<div class="alert alert-success">
                	<button data-dismiss="alert" class="close" type="button">×</button>
                    <strong>Operação realizada com sucesso!</strong>
	    			<span><br /><?php echo $this->crudMessage ?></span>
                </div>			    
			    <?php endif; ?>




	                        	                        
                <!-- Table with footer -->
                <div class="widget">
                	<form action="#" class="form-horizontal" method="post">
                		<input type="hidden" value="<?php echo (isset($this->post_var['sorting'])) ? $this->post_var['sorting'] : '' ?>" name="sorting" />
	                	<div class="navbar">
	                		<div class="navbar-inner">
	                			<h6>Visualizando registros</h6>
	                			
	                		</div>
	                	</div>
	                    <div class="table-overflow">
	                        <table class="table table-content">
	                            <thead>
	                                <tr>
	                                    <th width="20">#</th>
                                    <th class="s-datalancamento sorting">Data do Lançamento</th>
                                    <th class="s-idusuario sorting">Nome do Usuário</th>
                                    <th class="s-idescola sorting">Escola</th>
                                    <th class="s-tipoensino sorting">Tipo de Ensino</th>


	                                    <th width="96">Ações</th>
	                                </tr>
	                                <tr>
	                                    <th></th>
										<th>
											<input name="datalancamento_i" value="<?php echo (isset($this->post_var['datalancamento_i'])) ? Mn_Util::formPostVarData($this->post_var['datalancamento_i']) : '' ?>" type="text" placeholder="Data do Lançamento inicial" class="span3">
											<input name="datalancamento_f" value="<?php echo (isset($this->post_var['datalancamento_f'])) ? Mn_Util::formPostVarData($this->post_var['datalancamento_f']) : '' ?>" type="text" placeholder="Data do Lançamento final" class="span3">
										</th>
										<th><input name="idusuario" value="<?php echo (isset($this->post_var['idusuario'])) ? $this->post_var['idusuario'] : '' ?>" type="text" placeholder="Nome do Usuário" class="span3"></th>
										<th><input name="idescola" value="<?php echo (isset($this->post_var['idescola'])) ? $this->post_var['idescola'] : '' ?>" type="text" placeholder="Escola" class="span3"></th>

										<th>
											<div>
												<select name="tipoensino" placeholder="Todos" class="select">
													<option value="">Todos</option>
													<option value="Normal">Normal</option>
													<option value="Integral">Integral</option>
													<option value="Creche">Creche</option>
												</select>
											</div>
										</th>
										<th><button class="btn btn-mini btn-primary" type="submit">Pesquisar</button></th>
	                                </tr> 
	                                                                
	                            </thead>
	                            <tbody>
	                            	<?php if (sizeof($this->rows)==0) : ?>
	                                <tr>
	                                    <td colspan="4">Nenhum registro foi encontrado!</td>
	                                </tr>
	                            	
	                            	<?php else : ?>
	                            	<?php foreach ($this->rows as $row) : ?>
	                                <tr>
	                                	<td><?php echo $row['id'] ?></td>
		
												<td><?php echo date('d/m/Y', strtotime($row['datalancamento']))?></td>
												<td><?php echo $row['idusuario'] ?></td>
												<td><?php echo $row['idescola'] ?></td>
												<td><?php echo $row['tipoensino'] ?></td>

			                				

	                                    <td>
	                                        <ul class="table-controls">
	                                            <li><a title="" class="btn tip" href="<?php echo $this->baseUrl() ?>/<?php echo $this->getController() ?>/visualizar/id/<?php echo $row['id'] ?>" data-original-title="Visualizar"><i class="icon-eye-open"></i></a> </li>
	                                        </ul>
	                                    </td>
	                                </tr>
	                            	<?php endforeach;?>
	                            	
	                            	
	                            	
	                            	
	                            	<?php endif; ?>
	
	                            </tbody>
	                        </table>
	                    </div>
	                    <?php echo $this->render('/helpers/paginator.phtml') ?>
                    
                    </form>

                </div>
                <!-- /table with footer -->
	                        


		    </div>
		    <!-- /content wrapper -->

		</div>
		<!-- content -->
		
		
<script type="text/javascript" src="<?php echo $this->baseUrl('/public/scripts/default/nutricaomerendasconsumos_index.js') ?>"></script>
<script type="text/javascript">

	var form_values = {};
	<?php if (isset($this->post_var)) :  ?>
		form_values.tipoensino = '<?php echo (isset($this->post_var['tipoensino'])) ? $this->post_var['tipoensino'] : '' ?>';
		form_values.tipo = '<?php echo (isset($this->post_var['tipo'])) ? $this->post_var['tipo'] : '' ?>';
		form_values.aluno = '<?php echo (isset($this->post_var['aluno'])) ? $this->post_var['aluno'] : '' ?>';

	
	<?php endif; ?>

	var sorting = ["idsecretaria", "idescola", "idescolaanterior", "idaluno", "aluno", "titulo", "descricoes", "aprovacao", "dataaprovacao", "cancelado", "datacancelamento", "descricoescancelamento", "transferencia", "transferenciaaprovacao", "status"];
	
</script>	


