		<!-- Content -->
		<div id="content">

		    <!-- Content wrapper -->
		    <div class="wrapper">

			    <!-- Breadcrumbs line -->
			    <div class="crumbs">
			    	<?php echo $this->render('/helpers/breadcrumb.phtml') ?>
			    </div>
			    <!-- /breadcrumbs line -->

			    <!-- Page header -->
			    <div class="page-header">
			    	<div class="page-title">
				    	<h5>Formulário de matéria</h5>
				    	<span>Verifique os campos e preencha com os dados</span>
			    	</div>
			    </div>
			    <!-- /page header -->

			    <?php if (isset($this->crudMessage)) : ?>
					<div class="alert alert-success">
	                	<button data-dismiss="alert" class="close" type="button">×</button>
	                    <strong>Operação realizada com sucesso!</strong>
		    			<span><br /><?php echo $this->crudMessage ?></span>
	                </div>			    
			    <?php endif; ?>

				<form id="form" name="form" action="" method="post" class="form-horizontal" enctype="multipart/form-data"> 
					<input type="hidden" value="<?php echo (isset($this->post_var)) ? $this->post_var["id"] : ''; ?>" name="id" id="id" />
					
					<fieldset>
						<!-- General form elements -->
						<div class="widget row-fluid">
						    <div class="navbar">
						        <div class="navbar-inner">
						            <h6>Digite as informações do formulário</h6>
						        </div>
						    </div>

						    <div class="well">
								<?php if (isset($this->erros)) : ?>
									<div class="alert alert-error margin">
				                        <button data-dismiss="alert" class="close" type="button">×</button>
				                        <strong>Há erros no formulário!</strong>
					    				<?php foreach ($this->erros as $k=>$v) : ?>
					    					<span><br />- <?php echo $v ?></span>
					    				<?php endforeach;?>			                        
				                    </div>
			                    <?php endif; ?>						    
						    

				<div>
					<div class="control-group" style="float: left; margin-right: 50px;width: 50%;">
						<label class="control-label">Sequencial/Ano <span class="required">*</span></label>
						
						<div class="controls">
							 <input type="text" placeholder="Sequencial/Ano" name="sequencial" value="<?php echo (isset($this->post_var['sequencial'])) ? $this->post_var["sequencial"] : Coordenacaomaterialdidaticos::getCoordenacaomaterialdidaticoByUltimoHelper() . '/' . date('Y'); ?>" readonly>
						</div>
					</div>

					
					<div class = "control-group" style="float: left; width: 20%;">
						 <label class="control-label">Data <span class="required">*</span></label>
						 <div class="controls">
						 	<input type="text" name="data" placeholder="Data" value="<?php echo (isset($this->post_var['data'])) ? Mn_Util::formPostVarData($this->post_var["data"]) : ''; ?>" >
						 </div>
					</div>
					<br clear ="all"/>
				</div>


			
				<div class="control-group">
					<label class="control-label">Dados do usuário <span class="required">*</span></label>
					<div class="controls">
						<?php echo Escolasusuarios::getUsuario('nomerazao') ?>
					</div>
				</div>


				<div class="control-group">
					<label class="control-label">Disciplina <span class="required">*</span></label>
					<div class="controls">
						<select name="idmateria" data-placeholder="Status" class="select" name="idmateria">
							<option value="">Selecione...</option> 
							<?php foreach (Controlealunos_Materias::getMateriasHelper(array('status'=>'Ativo')) as $key => $value) : ?>
								<option value="<?php echo $value['id'] ?>"><?php echo $value['materia']?></option>
							<?php endforeach;?>
						</select>
						
					</div>
				</div>

				<div class="control-group">
					<label class="control-label">Unidade Escolar <span class="required">*</span></label>
					<div class="controls">
						
							 <?php foreach (Escolas::getEscolasHelper(array('status'=>'Ativo')) as $key1 => $value1):?>
								<input type="checkbox" value = "<?php echo $value1['id'] ?>" name="idescola"><?php echo $value1['escola'] ?> <br />
							<?php endforeach ?> 	
					</div>
				</div>


				<div class="control-group">
					<label class="control-label">Tipo de Ensino <span class="required">*</span></label>
					<div class="controls">
						<select name="tipoensino" placeholder="Todos" class="select">
							<option value="">Todos</option>
								<?php foreach (Gdae_Identificadoresescolas::getIdentificadoresHelper(array('status'=>'Ativo')) as $k=>$v) : ?>
									<option value="<?php echo $v['id'] ?>"><?php echo $v['descricoes'] ?></option>
								<?php endforeach;?>
						</select>
						
					</div>
					 
				</div>


				<div class="control-group">
					<label class="control-label">Série <span class="required">*</span></label>
					<div class="controls">
						<select name="idserie" data-placeholder="Status" class="select">
							<option value="">Selecione...</option>
							<?php foreach(Escolasseries::getEscolasseriesHelper(array('status'=>'Ativo')) as $e=>$f):  ?>
							<option value="<?php echo $f['id'] ?>"><?php echo $f['serie'] ?></option>
							<?php endforeach?>
						</select>
						
					</div>
				</div>


				<div class="control-group">
					<label class="control-label">Anexar Material <span class="required">*</span></label>
					<div class="controls">
						<?php if ((isset($this->post_var['idarquivo'])) && ((int)$this->post_var['idarquivo']>0)) : ?>
							<?php echo $this->getArquivo($this->post_var['idarquivo']) ?>
						
							<?php if (!$this->visualizar) : ?>
								<div class="checkbox block">
									<label><input type="checkbox" name="excluir_idarquivo" value="excluir" /> Desejo excluir o arquivo</label>
								</div>
							<?php endif; ?>
						<?php endif; ?>
						
						<input placeholder="Arquivo" name="idarquivo" type="file"  />
					</div>
					 
				</div>


				<div class="control-group">
					<label class="control-label">Status <span class="required">*</span></label>
					<div class="controls">
						<select name="status1" data-placeholder="Status" class="select">
							<option value="">Selecione...</option>
							<option value="Ativo">Ativo</option><option value="Bloqueado">Bloqueado</option>
						</select>
						
					</div>
				</div>

						    
						    
						    </div>
						    
			                <div class="form-actions align-right">
			                	<?php if ((isset($this->visualizar)) && ($this->visualizar)) : ?>
			                		<button onclick="window.history.back()" class="btn btn-danger cancelar" type="button">Voltar</button>
			                	<?php else : ?>
				                	<button class="btn btn-primary enviar" type="submit">Salvar</button>
				                	<button onclick="window.history.back()" class="btn btn-danger cancelar" type="button">Cancelar</button>
			                	<?php endif; ?>
			                </div>
						</div>
						<!-- /general form elements -->

					</fieldset> 

				</form>
				<!-- /basic inputs -->

		    </div>
		    <!-- /content wrapper -->

		</div>
		<!-- content -->
				
<script type="text/javascript" src="<?php echo $this->baseUrl('/public/scripts/default/coordenacaomaterialdidaticos_form.js') ?>"></script>
<script type="text/javascript">
	var form_values = {};
	
	<?php if (isset($this->post_var)) :  ?>
form_values.idescola = '<?php echo (isset($this->post_var['idescola'])) ? $this->post_var['idescola'] : '' ?>';
form_values.idserie = '<?php echo (isset($this->post_var['idserie'])) ? $this->post_var['idserie'] : '' ?>';
form_values.idmateria = '<?php echo (isset($this->post_var['idmateria'])) ? $this->post_var['idmateria'] : '' ?>';
form_values.tipoensino = '<?php echo (isset($this->post_var['tipoensino'])) ? $this->post_var['tipoensino'] : '' ?>';

form_values.status1 = '<?php echo (isset($this->post_var['status1'])) ? $this->post_var['status1'] : $this->post_var['status'] ?>';


	<?php endif; ?>

	<?php if ((isset($this->post_var['idsmaterias'])) && ($this->post_var['idsmaterias']!="")) :  ?>
	form_values.idsmaterias = [<?php echo $this->post_var['idsmaterias'] ?>];
	<?php endif; ?>

	visualizar = <?php echo  ((isset($this->visualizar)) && ($this->visualizar))  ? 'true' : 'false' ?>;
</script>
