		<!-- Content -->
		<div id="content">

		    <!-- Content wrapper -->
		    <div class="wrapper">

			    <!-- Breadcrumbs line -->
			    <div class="crumbs">
			    	<?php echo $this->render('/helpers/breadcrumb.phtml') ?>
			    </div>
			    <!-- /breadcrumbs line -->

			    <!-- Page header -->
			    <div class="page-header">
			    	<div class="page-title">
				    	<h5>Formulário do pasta virtual</h5>
				    	<span>Verifique os campos e preencha com os dados</span>
			    	</div>
			    </div>
			    <!-- /page header -->

			    <?php if (isset($this->crudMessage)) : ?>
					<div class="alert alert-success">
	                	<button data-dismiss="alert" class="close" type="button">×</button>
	                    <strong>Operação realizada com sucesso!</strong>
		    			<span><br /><?php echo $this->crudMessage ?></span>
	                </div>			    
			    <?php endif; ?>

				<form id="form" name="form" action="" method="post" class="form-horizontal" enctype="multipart/form-data"> 
					<input type="hidden" value="<?php echo (isset($this->post_var)) ? $this->post_var["id"] : ''; ?>" name="id" id="id" />
		       		<input type="hidden" value="" name="save" id="save" />
	        		<?php if (isset($this->post_var['idparent'])) : ?>
	        			<input type="hidden" value="<?php echo $this->post_var["idparent"] ?>" name="idparent" id="idparent" />
	        		<?php elseif (((int)$this->getParam('id') > 0) && ($this->getAction()=='adicionar')) : ?>
	        			<input type="hidden" value="<?php echo $this->getParam('id') ?>" name="idparent" id="idparent" />
					<?php else: ?>
						<input type="hidden" value="<?php echo (isset($this->post_var)) ? $this->post_var["idparent"] : ''; ?>" name="idparent" id="idparent" />				
					<?php endif ?>
					<fieldset>
						<!-- General form elements -->
						<div class="widget row-fluid">
						    <div class="navbar">
						        <div class="navbar-inner">
						            <h6>Digite as informações do formulário</h6>
						        </div>
						    </div>

						    <div class="well">
								<?php if (isset($this->erros)) : ?>
									<div class="alert alert-error margin">
				                        <button data-dismiss="alert" class="close" type="button">×</button>
				                        <strong>Há erros no formulário!</strong>
					    				<?php foreach ($this->erros as $k=>$v) : ?>
					    					<span><br />- <?php echo $v ?></span>
					    				<?php endforeach;?>			                        
				                    </div>
			                    <?php endif; ?>						    
						    
      			<?php if((int)$this->getParam('id') > 0) : ?>
        		<div class="control-group">
        			<label class="control-label">&nbsp;</label>
        			<div class="controls">
        				
        				<div class="breadcrumb_pastas">
        					<ul>
        						<?php 
        							$id = $this->post_var['id'];
        							if($this->getAction()=="adicionar") $id = $this->getParam('id');
        						?>
        						<?php echo $this->breadCrumbPastas($id, $this->baseUrl(''), $this, 0, $this->getController(), $queries = array()); ?>
        					</ul>
        				</div>

						<br clear="all" />  
						
						<?php if($this->getAction()=="editar") : ?>      				
        				<a href="<?php echo $this->baseUrl('/admin/'.$this->getController().'/adicionar/id/' . $this->getParam('id')) ?>" title="">ADICIONAR NOVA SUB-PASTA</a>
        				<?php endif;?>
					</div>
				</div>		
				<?php endif;?>

				<?php if((isset($this->post_var['id'])) && ((int)$this->post_var['id']>0)): ?>	
					<?php if(sizeof(Pastasvirtuais::getSubPastas($this->post_var['id'])) > 0) : ?>
					<div class="control-group subpastas">
	        			<label class="control-label">&nbsp;</label> 
	        			<div class="content-list-folders controls">       				
	        				<?php foreach (Pastasvirtuais::getSubPastas($this->post_var['id']) as $ip=>$pasta) : ?>
	        				<div class="br-pastas">
	        					<i class="ico-folder-open"></i> <a href="<?php echo $this->baseUrl('/admin/'.$this->getController().'/editar/id/' . $pasta['id']) ?>" title=""><?php echo $pasta['titulo']?></a><a href="javascript:;" class="excluir" title="excluir" onclick="excluirPasta('<?php echo $pasta['id']?>', '<?php echo $pasta['titulo']?>')">X</a>
	        				</div>
	        				<?php endforeach;?>
						</div>
					</div>	
					<?php endif;?>
				<?php endif;?>

				<div class="control-group">
					<label class="control-label">Título <span class="required">*</span></label>
					<div class="controls"><input maxlength="500" placeholder="Título" name="titulo" value="<?php echo (isset($this->post_var['titulo'])) ? $this->post_var['titulo'] : '' ?>" type="text"  class="span3" /></div>
				</div>


				<div class="control-group">
					<label class="control-label">Descrições </label>
					<div class="controls"><textarea class="span12" name="descricoes" cols="5" rows="5"><?php echo (isset($this->post_var)) ? $this->post_var["descricoes"] : ''; ?></textarea></div>
				</div>


				<div class="control-group">
					<label class="control-label">Status <span class="required">*</span></label>
					<div class="controls">
						<select name="status1" data-placeholder="Status" class="select">
							<option value="">Selecione...</option>
							<option value="Ativo">Ativo</option><option value="Bloqueado">Bloqueado</option>
						</select>
						
					</div>
				</div>

				<div class="control-group">
					<label class="control-label">Arquivos</label>
					<div class="controls">
						<?php echo $this->render('/pastasvirtuais/helpers/multiplosarquivos.phtml') ?>
					</div>
				</div>
						    
						    
						    </div>
						    
			                <div class="form-actions align-right">
			                	<?php if ((isset($this->visualizar)) && ($this->visualizar)) : ?>
			                		<button onclick="window.history.back()" class="btn btn-danger cancelar" type="button">Voltar</button>
			                	<?php else : ?>
				                	<button class="btn btn-primary" type="submit">Salvar</button>
				                	<button class="btn btn-darkblue" onclick="salvarContinuar()">Salvar e Continuar</button>&nbsp;
				                	<button onclick="window.history.back()" class="btn btn-danger cancelar" type="button">Cancelar</button>
			                	<?php endif; ?>
			                </div>
						</div>
						<!-- /general form elements -->

					</fieldset> 

				</form>
				<!-- /basic inputs -->

		    </div>
		    <!-- /content wrapper -->

		</div>
		<!-- content -->
				
<script type="text/javascript" src="<?php echo $this->baseUrl('/public/scripts/admin/pastasvirtuais_form.js') ?>"></script>
<script type="text/javascript">
	var form_values = {};
	
	<?php if (isset($this->post_var)) :  ?>
		form_values.idsecretaria = '<?php echo (isset($this->post_var['idsecretaria'])) ? $this->post_var['idsecretaria'] : '' ?>';

form_values.status1 = '<?php echo (isset($this->post_var['status1'])) ? $this->post_var['status1'] : $this->post_var['status'] ?>';


	<?php endif; ?>

	visualizar = <?php echo  ((isset($this->visualizar)) && ($this->visualizar))  ? 'true' : 'false' ?>;
</script>
