<!-- Content -->
<div id="content">

	<!-- Content wrapper -->
	<div class="wrapper">

		<!-- Breadcrumbs line -->
		<div class="crumbs">
			<?php echo $this->render('/helpers/breadcrumb.phtml') ?>
		</div>
		<!-- /breadcrumbs line -->

		<!-- Page header -->
		<div class="page-header">
			<div class="page-title">
				<h5>Bairros de Santa Isabel</h5>
				<span>Bairros de Santa Isabel cadastrados no sistema</span>
			</div>

		</div>
		<!-- /page header -->

		<?php if (isset($this->crudMessage)) : ?>
			<div class="alert alert-success">
				<button data-dismiss="alert" class="close" type="button">×</button>
				<strong>Operação realizada com sucesso!</strong>
				<span><br /><?php echo $this->crudMessage ?></span>
			</div>			    
		<?php endif; ?>

		<!-- Table with footer -->
		<div class="widget">
			<form action="#" class="form-horizontal" method="post">
				<input type="hidden" value="<?php echo (isset($this->post_var['sorting'])) ? $this->post_var['sorting'] : '' ?>" name="sorting" />
				<div class="navbar">
					<div class="navbar-inner">
						<h6>Visualizando registros</h6>
						<?php if (Mn_Util::isAccess($this->getController(), 'adicionar')) : ?>
							<a style="float:right;" href="<?php echo $this->baseUrl() ?>/admin/<?php echo $this->getController() ?>/adicionar" class="btn btn-primary"><span class="icon-plus"></span>&nbsp;Adicionar Bairro</a>
						<?php endif; ?>
					</div>
				</div>
				<div class="table-overflow">
					<table class="table table-content">
						<thead>
							<tr>
								<th width="1">&nbsp;</th>   
								<th>Bairro</th>
								<th>Cidade</th>
								<th style="width:74px">Ações</th>
							</tr>
							<tr>
								<th></th>
								<th>
									<input name="bairro" value="<?php echo (isset($this->post_var['bairro'])) ? $this->post_var['bairro'] : '' ?>" type="text" placeholder="Bairro" class="span3">
								</th>
								<th></th>
								<th><button class="btn btn-mini btn-primary" type="submit">Pesquisar</button></th>
							</tr> 

						</thead>
						<tbody>
							<?php if (sizeof($this->rows)==0) : ?>
								<tr>
									<td colspan="7">Nenhum registro foi encontrado!</td>
								</tr>

								<?php else : ?>
									<?php foreach ($this->rows as $i=>$row) : ?>
										<tr>
											<td>
												<?php $i+1 ?>
												<input type="hidden" name=id[] value="<?php echo $row['id'] ?>" />
											</td>
											<td width="150"><?php echo $row['bairro'] ?></td>
											<td width="150"><?php echo $row['cidade'] ?></td>
											<td>
												<ul class="table-controls">
													<li><a title="" class="btn tip" href="<?php echo $this->baseUrl() ?>/admin/<?php echo $this->getController() ?>/visualizar/id/<?php echo $row['id'] ?>" data-original-title="Visualizar"><i class="icon-eye-open"></i></a> </li>
													<?php if (Mn_Util::isAccess($this->getController(), 'editar')) : ?>
														<li><a title="" class="btn tip" href="<?php echo $this->baseUrl() ?>/admin/<?php echo $this->getController() ?>/editar/id/<?php echo $row['id'] ?>" data-original-title="Editar"><i class="icon-pencil"></i></a> </li>
													<?php endif;?>
													<?php if (Mn_Util::isAccess($this->getController(), 'excluir')) : ?>
														<li><a title="" class="btn tip" href="javascript:confirmDelete('<?php echo $row['id']; ?>','registro');" data-original-title="Excluir"><i class="icon-remove"></i></a> </li>
													<?php endif; ?>
												</ul>
											</td>
										</tr>
									<?php endforeach;?>




								<?php endif; ?>

							</tbody>
						</table>
					</div>
					<?php echo $this->render('/helpers/paginator.phtml') ?>

				</form>

			</div>
			<!-- /table with footer -->



		</div>
		<!-- /content wrapper -->

	</div>
	<!-- content -->

	<script type="text/javascript" src="<?php echo $this->baseUrl('/public/scripts/admin/ltebairros_index.js') ?>"></script>
	<script type="text/javascript">

		var form_values = {};

		<?php if (isset($this->post_var['nome'])) : ?>
			form_values.nome = '<?php echo $this->post_var['nome'] ?>';
		<?php endif; ?>

	</script>
