
		<!-- Content -->
		<div id="content">

		    <!-- Content wrapper -->
		    <div class="wrapper">

			    <!-- Breadcrumbs line -->
			    <div class="crumbs">
			    	<?php echo $this->render('/helpers/breadcrumb.phtml') ?>
			    </div>
			    <!-- /breadcrumbs line -->

			    <!-- Page header -->
			    <div class="page-header">
			    	<div class="page-title">
				    	<h5>Formulário do cadastro</h5>
				    	<span>Verifique os campos e preencha com os dados</span>
			    	</div>
			    	
			    </div>
			    <!-- /page header -->



				<form id="form" name="form" action="" method="post" class="form-horizontal" enctype="multipart/form-data"> 
					<input type="hidden" value="<?php echo (isset($this->post_var)) ? $this->post_var["id"] : ''; ?>" name="id" id="id" />
					<fieldset>

						<!-- General form elements -->
						<div class="widget row-fluid">
						    <div class="navbar">
						        <div class="navbar-inner">
						            <h6>Digite as informações do formulário</h6>
						        </div>
						    </div>

						    <div class="well">

								<?php if (isset($this->erros)) : ?>
								<div class="alert alert-error margin">
			                        <button data-dismiss="alert" class="close" type="button">×</button>
			                        <strong>Há erros no formulário!</strong>
				    				<?php foreach ($this->erros as $k=>$v) : ?>
				    				<span><br />- <?php echo $v ?></span>
				    				<?php endforeach;?>			                        
			                    </div>
			                    <?php endif; ?>						    
						    
						        <div class="control-group">
						            <label class="control-label">Nome do perfil <span class="required">*</span></label>
						            <div class="controls"><input name="perfil" placeholder="Nome do perfil" value="<?php echo (isset($this->post_var['perfil'])) ? $this->post_var['perfil'] : '' ?>" type="text" name="regular" class="span3" /></div>
						        </div>
						        
						        <div class="control-group">
						            <label class="control-label">Status <span class="required">*</span></label>
						            <div class="controls">
					                <select name="status1" data-placeholder="Status" class="select" tabindex="2">
					                    <option value="">Selecione...</option> 
                                        <option value="Ativo">Ativo</option> 
                                        <option value="Bloqueado">Bloqueado</option> 
					                </select>						        
						            
						            </div>
						        </div>						        
						        

						    <?php if((($this->getAction()=="editar") && ($this->post_var['origem'] != "SYS")) || ($this->getAction()=="adicionar")) :?>
			        		<div class="control-group">
			        			<label class="control-label">Escola *</label>
			        			<div class="controls">
			        				<select id="idescola" name="idescola" class="form-control">
			        					<option value="">Selecione...</option>
			        					<?php foreach ($this->escolas as $e=>$escola) : ?>
			        					<option value="<?php echo $escola['id'] ?>"><?php echo $escola['escola'] ?></option>
			        					<?php endforeach;?>
									</select>        				
								</div>
							</div>
							<?php endif;?>						        
						    </div>
						    
						    

						    
							<div class="widget">
			                	<div class="navbar"><div class="navbar-inner"><h6>Marque os registros do perfil de acesso</h6></div></div>
			                    <div class="table-overflow">
			                        <table class="table table-content">
			                            <thead>
											<tr>
												<th>Limite</th>
												<th width="70">Visualizar</th>
												<th width="70">Adicionar</th>
												<th width="70">Editar</th>
												<th width="70">Excluir</th>
											</tr>
			                            </thead>


						<tbody>
							<tr class="title">
								<td colspan="5"><?php echo $this->limites[0]['modulo']?></td>
							</tr>						
							<?php
								$modulo = ""; 
								foreach ($this->limites as $i=>$row) :
									if ($modulo!=$row['modulo']) :
										if ($modulo!="") echo '<tr><td colspan="6">&nbsp;</td></tr>';
										
										$modulo = $row['modulo']; 
									endif;
									$crud = ((is_null($row['crud'])) || (''==$row['crud'])) ?  NULL : explode('|', $row['crud']);
							?>
								<tr>
									<td><?php echo $row['alias'] ?></td>
									<?php if ((is_null($crud)) || (in_array('visualizar', $crud))) :  ?>
									<td align="center"><input value="sim" <?php echo ($row['visualizar']=='sim') ? 'checked="checked"' : '' ?> type="checkbox" name="visualizar[<?php echo $row['id'] ?>]" /></td>
									<?php else : ?>
									<td />
									<?php endif; ?>

									<?php if ((is_null($crud)) || (in_array('adicionar', $crud))) :  ?>
									<td align="center"><input value="sim" <?php echo ($row['adicionar']=='sim') ? 'checked="checked"' : '' ?> type="checkbox" name="adicionar[<?php echo $row['id'] ?>]" /></td>
									<?php else : ?>
									<td />
									<?php endif; ?>

									<?php if ((is_null($crud)) || (in_array('editar', $crud))) :  ?>
									<td align="center"><input value="sim" <?php echo ($row['editar']=='sim') ? 'checked="checked"' : '' ?> type="checkbox" name="editar[<?php echo $row['id'] ?>]" /></td>
									<?php else : ?>
									<td />
									<?php endif; ?>

									<?php if ((is_null($crud)) || (in_array('excluir', $crud))) :  ?>
									<td align="center"><input value="sim" <?php echo ($row['excluir']=='sim') ? 'checked="checked"' : '' ?> type="checkbox" name="excluir[<?php echo $row['id'] ?>]" /></td>
									<?php else : ?>
									<td />
									<?php endif; ?>
								</tr>						
							<?php endforeach; ?>
							</tbody>



			                        </table>
			                    </div>
		
			                </div>
			                
			                
			                <div class="form-actions align-right">
			                	<?php if ((isset($this->visualizar)) && ($this->visualizar)) : ?>
			                	<button onclick="window.history.back()" class="btn btn-danger cancelar" type="button">Voltar</button>
			                	<?php else : ?>
			                	<button class="btn btn-primary enviar" type="submit">Salvar</button>
			                	<button onclick="window.history.back()" class="btn btn-danger cancelar" type="button">Cancelar</button>
			                	<?php endif; ?>
			                </div>						    
						    
						    
						    
						    
						</div>
						<!-- /general form elements -->


					</fieldset> 

				</form>
				<!-- /basic inputs -->

		    </div>
		    <!-- /content wrapper -->

		</div>
		<!-- content -->
		
		
<script type="text/javascript" src="<?php echo $this->baseUrl('/public/scripts/admin/escolasusuariosperfis_form.js') ?>"></script>

<script type="text/javascript">

	var form_values = {};
	var origem = '<?php echo ((($this->getAction()=="editar") && ($this->post_var['origem'] != "SYS")) || ($this->getAction()=="adicionar")) ? 'ADM' : 'SYS'; ?>';
	<?php if ((isset($this->post_var['status1'] )) || (isset($this->post_var['status'] ))) :  ?>
		form_values.status1 = '<?php echo (isset($this->post_var['status1'])) ? $this->post_var['status1'] : $this->post_var['status'] ?>';
	<?php endif; ?>

	<?php if (isset($this->post_var['idescola'])) :  ?>
		form_values.idescola = '<?php echo (isset($this->post_var['idescola'])) ? $this->post_var['idescola'] : "" ?>';
	<?php endif; ?>

	<?php if (isset($this->post_var['multiplasescolas'])) :  ?>
		form_values.multiplasescolas = '<?php echo (isset($this->post_var['multiplasescolas'])) ? $this->post_var['multiplasescolas'] : "" ?>';
	<?php endif; ?>	

</script>
<?php /*?>
<div class="contentpanel">

	<div class="panel panel-default">
	
		<div class="panel-heading">
			
			<?php if (isset($this->erros)) :  ?>
			<div class="alert alert-danger">
				<button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
				<strong>Erro!</strong> 
				<?php foreach ($this->erros as $erro) : ?>
				<br /><?php echo $erro?>
				<?php endforeach;?>
			</div>				
			
			<?php endif;?>
			
			<h4 class="panel-title">Formulário de perfil</h4>
			<p>Informe os dados do perfil.</p>
        </div>
        <div class="panel-body panel-body-nopadding">
        	<form id="form" name="form" method="post" class="form-horizontal form-bordered">
        		<input type="hidden" value="<?php echo (isset($this->post_var)) ? $this->post_var["id"] : ''; ?>" name="id" id="id" />
        	
        		<div class="form-group">
        			<label class="col-sm-3 control-label">Nome do perfil *</label>
        			<div class="col-sm-6">
        				<input name="perfil" value="<?php echo (isset($this->post_var['perfil'])) ? $this->post_var['perfil'] : '' ?>" type="text" class="form-control" placeholder="Nome do perfil">
					</div>
				</div>
				
        		<div class="form-group">
        			<label class="col-sm-3 control-label">Status *</label>
        			<div class="col-sm-6">
        				<select id="status1" name="status1" class="form-control">
        					<option value="">Selecione...</option>
        					<option value="Ativo">Ativo</option>
        					<option value="Bloqueado">Bloqueado</option>
						</select>        				
					</div>
				</div>

				<?php if((($this->getAction()=="editar") && ($this->post_var['origem'] != "SYS")) || ($this->getAction()=="adicionar")) :?>
        		<div class="form-group">
        			<label class="col-sm-3 control-label">Escola *</label>
        			<div class="col-sm-6">
        				<select id="idescola" name="idescola" class="form-control">
        					<option value="">Selecione...</option>
        					<?php foreach ($this->escolas as $e=>$escola) : ?>
        					<option value="<?php echo $escola['id'] ?>"><?php echo $escola['escola'] ?></option>
        					<?php endforeach;?>
						</select>        				
					</div>
				</div>
				<?php endif;?>
				
        		<div class="form-group">
        			<label class="col-sm-3 control-label">Limites de acesso</label>
        			<div class="col-sm-6">
        				<table class="table table-info mb30">
        					<thead>
								<tr>
									<th>Limite</th>
									<th>Módulo</th>
									<th width="70">Visualizar</th>
									<th width="70">Adicionar</th>
									<th width="70">Editar</th>
									<th width="70">Excluir</th>
								</tr>
							</thead>
							<tbody>
							<?php
								$modulo = ""; 
								foreach ($this->limites as $i=>$row) :
									if ($modulo!=$row['modulo']) :
										if ($modulo!="") echo '<tr><td colspan="6">&nbsp;</td></tr>';
										
										$modulo = $row['modulo']; 
									endif;
									$crud = ((is_null($row['crud'])) || (''==$row['crud'])) ?  NULL : explode('|', $row['crud']);
							?>
								<tr>
									<td><?php echo $row['alias'] ?></td>
									<td><?php echo $row['modulo'] ?></td>
									<?php if ((is_null($crud)) || (in_array('visualizar', $crud))) :  ?>
									<td align="center"><input value="sim" <?php echo ($row['visualizar']=='sim') ? 'checked="checked"' : '' ?> type="checkbox" name="visualizar[<?php echo $row['id'] ?>]" /></td>
									<?php else : ?>
									<td />
									<?php endif; ?>

									<?php if ((is_null($crud)) || (in_array('adicionar', $crud))) :  ?>
									<td align="center"><input value="sim" <?php echo ($row['adicionar']=='sim') ? 'checked="checked"' : '' ?> type="checkbox" name="adicionar[<?php echo $row['id'] ?>]" /></td>
									<?php else : ?>
									<td />
									<?php endif; ?>

									<?php if ((is_null($crud)) || (in_array('editar', $crud))) :  ?>
									<td align="center"><input value="sim" <?php echo ($row['editar']=='sim') ? 'checked="checked"' : '' ?> type="checkbox" name="editar[<?php echo $row['id'] ?>]" /></td>
									<?php else : ?>
									<td />
									<?php endif; ?>

									<?php if ((is_null($crud)) || (in_array('excluir', $crud))) :  ?>
									<td align="center"><input value="sim" <?php echo ($row['excluir']=='sim') ? 'checked="checked"' : '' ?> type="checkbox" name="excluir[<?php echo $row['id'] ?>]" /></td>
									<?php else : ?>
									<td />
									<?php endif; ?>
								</tr>							
							<?php endforeach; ?>
							</tbody>
                		</table>
					</div>
				</div>					
				
				
				<div class="panel-footer">
					<div class="row">
						<div class="col-sm-6 col-sm-offset-3">
							<button class="btn btn-primary">Salvar</button>&nbsp;
							<button type="button" onclick="window.history.back()" class="btn btn-default">Cancelar</button>
						</div>
					</div>
				</div><!-- panel-footer -->				
				
			</form>
          
		</div><!-- panel-body -->
	</div>
</div>
<script type="text/javascript" src="<?php echo $this->baseUrl('/public/scripts/admin/escolasusuariosperfis_form.js') ?>"></script>

<script type="text/javascript">

	var form_values = {};
	var origem = '<?php echo ((($this->getAction()=="editar") && ($this->post_var['origem'] != "SYS")) || ($this->getAction()=="adicionar")) ? 'ADM' : 'SYS'; ?>';
	<?php if ((isset($this->post_var['status1'] )) || (isset($this->post_var['status'] ))) :  ?>
		form_values.status1 = '<?php echo (isset($this->post_var['status1'])) ? $this->post_var['status1'] : $this->post_var['status'] ?>';
	<?php endif; ?>

	<?php if (isset($this->post_var['idescola'])) :  ?>
		form_values.idescola = '<?php echo (isset($this->post_var['idescola'])) ? $this->post_var['idescola'] : "" ?>';
	<?php endif; ?>

	<?php if (isset($this->post_var['multiplasescolas'])) :  ?>
		form_values.multiplasescolas = '<?php echo (isset($this->post_var['multiplasescolas'])) ? $this->post_var['multiplasescolas'] : "" ?>';
	<?php endif; ?>	

</script>
<?php */ ?>