<style type="text/css">
.font16{ font-size:1em; font-family: 'Helvetica, sans-serif'; }
.font14{ font-size:14px; font-family: 'Helvetica, sans-serif'; }
.font18{ font-size:1.3em; font-family: 'Helvetica, sans-serif'; }
.font20{ font-size:1.5em; font-family: 'Helvetica, sans-serif'; }
.black{ color:#000; }
.white{ color:#fff; }
.gray{ color:#ccc; }
.red{ color:#ff0000; }
.textleft{ text-align: left; }
.textright{ text-align: right; }
.left{ float: left }
.textcenter{text-align: center; }
.padding5{ padding: 5px; }
.margin10 {margin-top:50px; display: block;}
.textjustify { text-align: justify; }
.line{ border:1px solid #ccc;  background:#000; width: 250px;}

.contorno{border-top: 0.5px solid gray; border-bottom: 0.5px solid gray;}
.contornoleft{ border-left: 0.5px solid black;  }
.contornoright{ border-right: 0.5px solid black;  }
.info-user{
 	width: 100%;
 	border:1px solid #333;
 	display: block;
 }
.content-user{
 	display: block;
 	width: 48%;
 	border-bottom:0.5px dotted #069;
 	padding:5px !important;
 	height: 250px;
 }
.dt-user{
	font-size: 1.2em;
}
.legend{
    color: #000;
    font-size: 1.3em;    
    width: 100%;
    text-align: center;
    border:1px solid #000;
}
.titles{
	font-size: 1.2em;
}
.each-line{ 
	border:1px solid #000; 
	padding: 5px;
	width: 100%;
	background: #000;
}

#box-legend{ border-left: 1px solid #c1c1c1; }
#box-legend #legend, #box-info #content-user{
    padding: 5px;        
    border-radius: 8px;
    border-collapse: unset;
}
.dt-user{
    display: inline-block;
    width: 100%;
    line-height: 2;
}
#box-legend tr{ width: 100%; }
#box-legend tr td{ padding:5px 15px }
#box-legend tr th{
    color: #7c7d7d;
    font-size: 1em;
    font-family: Arial, helvetica, sans-serif;       
    padding: 10px;
}
#box-legend #legend tr span{
    font-size: 0.9em;
    font-family: Arial, helvetica, sans-serif;
    width: 100%;       
    display: block;
    text-align: center;
    font-weight: bold;
}

.indRed{ color:#ff0000; }
.indYellow{ color:#e4b90d; }
.indBlack{ color:#333; }
.indGreen{ color:#12a004; }
.indice_result{font-size: 1.2em;}
</style>
<?php
    $idade = $this->anos.'.'.$this->meses;
    $sexo = $this->sexo;
    $datanascimento = date('d/m/Y', strtotime(substr($this->aluno['nascimento'], 0, 10)));
    $cor = '';
    $diagnostico = $this->nutricao['diagnostico'];
    switch($diagnostico){
		case "Eutrofia":
			$cor="#009963";
			break;
		case "Magreza":
			$cor="#8a6d3b";
			break;
		case "Magreza acentuada":
			$cor="#afbd07";
			break;
		case "Obesidade":
			$cor="#bd0404";
			break;
		case "Obesidade grave":
			$cor="#ff0008";
			break;
		case "Risco de sobrepeso":
			$cor="#e6c300";
			break;
		case "Sobrepeso":
			$cor="#ffa900";
			break;
		default:
			$cor = "#000";
	}
?>
<br><br>

<table class="textleft margin10 contorno padding5">
    <tr class="margin10">
        <td><h3 style="margin-top: 15px">Dados nutricionais <?php echo ($sexo=="Masculino") ? 'do aluno' : 'da aluna'?> <i class="red"><?php echo $this->aluno['nomerazao']?></i></h3></td>
    </tr>
</table>

<br>
<table class="left font16">
    <tr>
        <th colspan="2" class="black"><b>Escola :</b> <?php echo $this->aluno['escola'] ?></th>
        <th colspan="2" class="black"><b>Nome do aluno :</b> <?php echo $this->aluno['nomerazao'] ?></th>
    </tr>
</table>

<div class="info-user">
    <div class="content-user">
        <span class="dt-user"><b>Data de nascimento:  </b><?php echo $datanascimento; ?></span><br>
        <span class="dt-user"><b>Idade:  </b><?php echo $idade?></span><br>
        <span class="dt-user"><b>Sexo:  </b><?php echo $sexo?></span><br>
        <span class="dt-user"><b>Período:  </b><?php echo $this->periodo[0]['periodo'] ?></span><br>
        <span class="dt-user"><b>Série/Turma:  </b><?php echo $this->alunogdaei[0]['descricao'].' - '.$this->turma[0]['turma'] ?></span><br>
    </div>

    <div class="content-user">
        <span class="dt-user"><b>Peso:  </b><?php echo $this->nutricao['peso']; ?></span><br>
        <span class="dt-user"><b>Altura:  </b><?php echo $this->nutricao['altura']?></span><br>
        <span class="dt-user"><b>IMC:  </b><?php echo $this->nutricao['imc'] ?></span><br>
        <span class="dt-user"><b>Data da medição:  </b><?php echo date('d/m/Y', strtotime($this->nutricao['datamedicao'])) ?></span><br>
        <span class="dt-user"><b>Diagnóstico:  </b><b style="font-size: 1.3em;" color="<?php echo $cor?>"><?php echo $diagnostico; ?></b></span><br>
    </div>
</div>
<div id="main-box">
	<div class="graph">	    
	    <?php if($sexo=="Masculino" AND ($idade > 0 AND $idade < 5)): ?>
	        <img src="<?php echo $this->baseUrl('/public/admin/imagens/masculino_0_5.jpg');?>" class="graph-img">
	        <!--aqui vem o conteúdo do gráfico-->
	        <div id="graph-content"></div>
	    <?php elseif($sexo=="Feminino" AND ($idade > 0 AND $idade < 5)) :?>
	        <img src="<?php echo $this->baseUrl('/public/admin/imagens/feminino_0_5.jpg');?>" class="graph-img">
	        <!--aqui vem o conteúdo do gráfico-->
	        <div id="graph-content"></div>
	    <?php elseif($sexo=="Masculino" AND ($idade >= 5  AND $idade <= 19)): ?>
	        <img src="<?php echo $this->baseUrl('/public/admin/imagens/masculino_5_19.jpg');?>" class="graph-img" alt="Masculino de 5 a 19">
	        <div id="graph-plus"></div>
	    <?php else: ?>
	         <img src="<?php echo $this->baseUrl('/public/admin/imagens/feminino_5_19.jpg');?>" class="graph-img" alt="Feminino de 5 a 19">
	        <div id="graph-plus"></div>
	    <?php endif; ?>
	</div>
</div>