<?php 
	include_once BASE_PATH . '/public/scripts/ckeditor/ckeditor.php';
	require_once BASE_PATH . '/public/scripts/ckfinder/ckfinder.php';
	
	$ckeditor = new CKEditor();
	$ckeditor->basePath	= $this->baseUrl('/public/scripts/ckeditor/');
	
	$ckfinder = $this->baseUrl('/public/scripts/ckfinder/');
	
	CKFinder::SetupCKEditor($ckeditor, $ckfinder);
?>
		<!-- Content -->
		<div id="content">

		    <!-- Content wrapper -->
		    <div class="wrapper">

			    <!-- Breadcrumbs line -->
			    <div class="crumbs">
			    	<?php echo $this->render('/helpers/breadcrumb.phtml') ?>
			    </div>
			    <!-- /breadcrumbs line -->

			    <!-- Page header -->
			    <div class="page-header">
			    	<div class="page-title">
				    	<h5>Formulário do alunofasf</h5>
				    	<span>Informe os dados do aluno. ss</span>
			    	</div>
			    </div>
			    <!-- /page header -->

			    <?php if (isset($this->crudMessage)) : ?>
					<div class="alert alert-success">
	                	<button data-dismiss="alert" class="close" type="button">×</button>
	                    <strong>Operação realizada com sucesso!</strong>
		    			<span><br /><?php echo $this->crudMessage ?></span>
	                </div>			    
			    <?php endif; ?>

				<form id="form" name="form" action="" method="post" class="form-horizontal" enctype="multipart/form-data"> 
	      		<input type="hidden" value="<?php echo (isset($this->post_var)) ? $this->post_var["id"] : ''; ?>" name="id" id="id" />
        		<input type="hidden" value="<?php echo Escolasusuarios::getEscolaAtiva(Escolasusuarios::getUsuario('id'), 'id'); ?>" name="idescola" id="idescola" />
        	             

				<div class="control-group">
					<label class="control-label">Nome <span class="required">*</span></label>
					<div class="controls"><input maxlength="500" placeholder="Nome" name="nomerazao" value="<?php echo (isset($this->post_var)) ? $this->post_var['nomerazao'] : "" ?>" type="text"  class="span3" /></div>
				</div>

				<div class="control-group">
					<label class="control-label">Sobrenome <span class="required">*</span></label>
					<div class="controls"><input maxlength="500" placeholder="Sobrenome" name="sobrenomefantasia" value="<?php echo (isset($this->post_var['sobrenomefantasia'])) ? $this->post_var['sobrenomefantasia'] : '' ?>" type="text"  class="span3" /></div>
				</div>
                       
				<div class="control-group">
					<label class="control-label">Data de Nascimento  <span class="required">*</span></label>
					<div class="controls"><input maxlength="500" placeholder="Data de Nascimento" name="nascimento" value="<?php echo (isset($this->post_var['nascimento'])) ?  Mn_Util::formPostVarData($this->post_var['nascimento']) : "" ?>" type="text"  class="span3" /></div>
				</div>
                     
                        
						<?php /*if ((isset($this->visualizar)) && ($this->visualizar)) : ?>
						
							<?php if ((isset($this->post_var['idarquivodatanascimento'])) && ((int)$this->post_var['idarquivodatanascimento']>0)) : ?>
							<div class="form-group">
								<label class="col-sm-3 control-label">Arquivo da data de Nascimento </label>
								<div class="col-sm-6" style="padding-top:10px">
									<?php echo $this->getArquivo($this->post_var['idarquivodatanascimento']) ?>
								</div>
							</div>
							<?php endif;?>
						
						<?php else : ?>
					
						<div class="form-group">
							<label class="col-sm-3 control-label">Arquivo da data de Nascimento </label>
							<div class="col-sm-6">
								<?php if ((isset($this->post_var['idarquivodatanascimento'])) && ((int)$this->post_var['idarquivodatanascimento']>0)) : ?>
									<?php echo $this->getArquivo($this->post_var['idarquivodatanascimento']) ?>
									
									<div class="checkbox block">
										<label><input type="checkbox" name="excluir_arquivodatanascimento" value="excluir" /> Desejo excluir o arquivo</label>
									</div>								
									<br /> 
								<?php endif; ?>
								
								<input type="file" name="arquivodatanascimento" class="form-control" />
							</div>
						</div>	
						
						<?php endif;*/ ?>

				<div class="control-group">
					<label class="control-label">CPF  <span class="required">*</span></label>
					<div class="controls"><input maxlength="500" placeholder="CPF" name="cpfcnpj" value="<?php echo (isset($this->post_var['cpfcnpj'])) ? $this->post_var['cpfcnpj'] : '' ?>" type="text"  class="span3" /></div>
				</div>
                       
				<div class="control-group">
					<label class="control-label">RG </label>
					<div class="controls"><input maxlength="500" placeholder="RG" name="rg" value="<?php echo (isset($this->post_var['rg'])) ? $this->post_var['rg'] : '' ?>" type="text"  class="span3" /></div>
				</div>
						
					<div class="control-group">
						<label class="control-label">Sexo</label>
						<div class="controls">
							<select name="sexo" data-placeholder="Sexo" class="select">
	        					<option value="">Selecione...</option>
	        					<option value="Feminino">Feminino</option>
	        					<option value="Masculino">Masculino</option>
							</select>
							
						</div>
					</div>
										<div class="control-group">
						<label class="control-label">Merenda diferenciada</label>
						<div class="controls">
							<select name="merendadiferenciada" data-placeholder="Merenda diferenciada" class="select">
	        					<option value="">Selecione...</option>
	        					<option value="Sim">Sim</option>
	        					<option value="Não">Não</option>
							</select>
							
						</div>
					</div>

<div class="control-group">
						<label class="control-label">Aprovação de Merenda diferenciada</label>
						<div class="controls">
							<select name="merendadiferenciadaaprovacao" data-placeholder="Aprovação de Merenda diferenciada" class="select">
	        					<option value="">Selecione...</option>
	        					<option value="Sim">Sim</option>
	        					<option value="Não">Não</option>
							</select>
							
						</div>
					</div>

					<div class="control-group">
						<label class="control-label">Foto </label>
						<div class="controls">
							<?php if ((isset($this->post_var['idimagemfoto'])) && ((int)$this->post_var['idimagemfoto']>0)) : ?>
								<?php echo $this->getImagem($this->post_var['idimagemfoto'], 80, 80, '', Imagens::$INDISPONIVEL) ?>
						
								<?php if (!$this->visualizar) : ?>
									<div class="checkbox block">
										<label><input type="checkbox" name="excluir_imagemfoto" value="excluir" /> Desejo excluir a imagem</label>
									</div>
								<?php endif; ?>
							<?php endif; ?>						            
						
							<input placeholder="Foto" name="idimagemfoto" type="file"  />
						</div>
					</div>	


				<div class="control-group">
					<label class="control-label">CGM </label>
					<div class="controls"><input maxlength="500" placeholder="CGM" name="cgm" value="<?php echo (isset($this->post_var['cgm'])) ? $this->post_var['cgm'] : '' ?>" type="text"  class="span3" /></div>
				</div>
						
				<div class="control-group">
					<label class="control-label">NIS </label>
					<div class="controls"><input maxlength="500" placeholder="NIS" name="nis" value="<?php echo (isset($this->post_var['nis'])) ? $this->post_var['nis'] : '' ?>" type="text"  class="span3" /></div>
				</div>
						
					<div class="control-group">
						<label class="control-label">Situação da Matrícula <span class="required">*</span></label>
						<div class="controls">
							<select name="matricula" data-placeholder="Situação da Matrícula" class="select">
								<option value="">Selecione...</option>
	        					<?php foreach (Escolasalunos::getMatriculas() as $k=>$v): ?>
	        					<option value="<?php echo $k ?>"><?php echo $v ?></option>
	        					<?php endforeach;?>
							</select>
							
						</div>
					</div>
                       
						<div class="control-group">
							<label class="control-label">Status <span class="required">*</span></label>
							<div class="controls">
								<select name="status1" data-placeholder="Status" class="select">
									<option value="">Selecione...</option>
									<option value="Ativo">Ativo</option><option value="Bloqueado">Bloqueado</option>
								</select>
								
							</div>
						</div>
	                     
	                    <div class="box-colecoes col-sm-12 panel-group" id="accordion" >    
									<?php //echo $this->render('/escolasalunos/helpers/form_informacoes.phtml') ?>
									<?php //echo $this->render('/escolasalunos/helpers/form_dados_contatos.phtml') ?>
									<?php //echo $this->render('/escolasalunos/helpers/form_dados_mae.phtml') ?>
									<?php //echo $this->render('/escolasalunos/helpers/form_dados_pai.phtml') ?>
			                        <?php //echo $this->render('/escolasalunos/helpers/form_dados_responsavel.phtml') ?>
									<?php //echo $this->render('/escolasalunos/helpers/form_dados_enderecos.phtml') ?>
	        		<div class="control-group">
	        			
	        			<div class="controls_1">
							<?php echo $this->render('/escolasalunos/helpers/form_dados_academicos.phtml') ?>
						</div>
					</div>
									
		                        	<?php //echo $this->render('/escolasalunos/helpers/form_dados_necessidadesespeciais.phtml') ?>
		                        	<?php //echo $this->render('/escolasalunos/helpers/form_dados_programassociais.phtml') ?>
			                        <?php //echo $this->render('/escolasalunos/helpers/form_documentos_matriculas_multiplosarquivos.phtml') ?>
			                        
			                        
                      </div>  

				<div class="panel-footer">
					<div class="row">
						<div class="col-sm-6 col-sm-offset-3">
							<?php if ((isset($this->visualizar)) && ($this->visualizar)) : ?>
							<button type="button" onclick="window.history.back()" class="btn btn-default">Voltar</button>
							<?php else : ?>
							<button class="btn btn-primary">Salvar</button>&nbsp;
							<button type="button" onclick="location.href='<?php echo $this->baseUrl() ?>/<?php echo $this->getController()?>'" class="btn btn-default">Cancelar</button>
							<?php endif;?>
						</div>
					</div>
				</div><!-- panel-footer -->				
				<br /><br /><br />
				</form>
				<!-- /basic inputs -->

		    </div>
		    <!-- /content wrapper -->

		</div>
		<!-- content -->

<?php /* ?>

<div class="contentpanel">

	<div class="panel panel-default">
	
		<div class="panel-heading">
			
			<?php if (isset($this->erros)) :  ?>
			<div class="alert alert-danger">
				<button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
				<strong>Erro!</strong> 
				<?php foreach ($this->erros as $erro) : ?>
				<br /><?php echo $erro?>
				<?php endforeach;?>
			</div>				
			
			<?php endif;?>
			
			<h4 class="panel-title">Formulário do aluno</h4>
			<p>Informe os dados do aluno.</p>
        </div>
        <div class="panel-body panel-body-nopadding">
        	<form id="form" name="form" method="post" class="form-horizontal form-bordered" enctype="multipart/form-data">
        		<input type="hidden" value="<?php echo (isset($this->post_var)) ? $this->post_var["id"] : ''; ?>" name="id" id="id" />
        		<input type="hidden" value="<?php echo Escolasusuarios::getEscolaAtiva(Escolasusuarios::getUsuario('id'), 'id'); ?>" name="idescola" id="idescola" />
        	             

				<div class="control-group">
					<label class="control-label">Nome <span class="required">*</span></label>
					<div class="controls"><input maxlength="500" placeholder="Nome" name="nomerazao" value="<?php echo (isset($this->post_var)) ? $this->post_var['nomerazao'] : "" ?>" type="text"  class="span3" /></div>
				</div>

				<div class="control-group">
					<label class="control-label">Sobrenome <span class="required">*</span></label>
					<div class="controls"><input maxlength="500" placeholder="Sobrenome" name="sobrenomefantasia" value="<?php echo (isset($this->post_var['sobrenomefantasia'])) ? $this->post_var['sobrenomefantasia'] : '' ?>" type="text"  class="span3" /></div>
				</div>
                       
				<div class="control-group">
					<label class="control-label">Data de Nascimento  <span class="required">*</span></label>
					<div class="controls"><input maxlength="500" placeholder="Data de Nascimento" name="nascimento" value="<?php echo (isset($this->post_var['nascimento'])) ?  Mn_Util::formPostVarData($this->post_var['nascimento']) : "" ?>" type="text"  class="span3" /></div>
				</div>
                     
                        
						<?php /*if ((isset($this->visualizar)) && ($this->visualizar)) : ?>
						
							<?php if ((isset($this->post_var['idarquivodatanascimento'])) && ((int)$this->post_var['idarquivodatanascimento']>0)) : ?>
							<div class="form-group">
								<label class="col-sm-3 control-label">Arquivo da data de Nascimento </label>
								<div class="col-sm-6" style="padding-top:10px">
									<?php echo $this->getArquivo($this->post_var['idarquivodatanascimento']) ?>
								</div>
							</div>
							<?php endif;?>
						
						<?php else : ?>
					
						<div class="form-group">
							<label class="col-sm-3 control-label">Arquivo da data de Nascimento </label>
							<div class="col-sm-6">
								<?php if ((isset($this->post_var['idarquivodatanascimento'])) && ((int)$this->post_var['idarquivodatanascimento']>0)) : ?>
									<?php echo $this->getArquivo($this->post_var['idarquivodatanascimento']) ?>
									
									<div class="checkbox block">
										<label><input type="checkbox" name="excluir_arquivodatanascimento" value="excluir" /> Desejo excluir o arquivo</label>
									</div>								
									<br /> 
								<?php endif; ?>
								
								<input type="file" name="arquivodatanascimento" class="form-control" />
							</div>
						</div>	
						
						<?php endif;* / ?>

				<div class="control-group">
					<label class="control-label">CPF  <span class="required">*</span></label>
					<div class="controls"><input maxlength="500" placeholder="CPF" name="cpfcnpj" value="<?php echo (isset($this->post_var['cpfcnpj'])) ? $this->post_var['cpfcnpj'] : '' ?>" type="text"  class="span3" /></div>
				</div>
                       
				<div class="control-group">
					<label class="control-label">RG </label>
					<div class="controls"><input maxlength="500" placeholder="RG" name="rg" value="<?php echo (isset($this->post_var['rg'])) ? $this->post_var['rg'] : '' ?>" type="text"  class="span3" /></div>
				</div>
						
					<div class="control-group">
						<label class="control-label">Sexo</label>
						<div class="controls">
							<select name="sexo" data-placeholder="Sexo" class="select">
	        					<option value="">Selecione...</option>
	        					<option value="Feminino">Feminino</option>
	        					<option value="Masculino">Masculino</option>
							</select>
							
						</div>
					</div>
					
					<div class="control-group">
						<label class="control-label">Foto </label>
						<div class="controls">
							<?php if ((isset($this->post_var['idimagemfoto'])) && ((int)$this->post_var['idimagemfoto']>0)) : ?>
								<?php echo $this->getImagem($this->post_var['idimagemfoto'], 80, 80, '', Imagens::$INDISPONIVEL) ?>
						
								<?php if (!$this->visualizar) : ?>
									<div class="checkbox block">
										<label><input type="checkbox" name="excluir_imagemfoto" value="excluir" /> Desejo excluir a imagem</label>
									</div>
								<?php endif; ?>
							<?php endif; ?>						            
						
							<input placeholder="Foto" name="idimagemfoto" type="file"  />
						</div>
					</div>	


				<div class="control-group">
					<label class="control-label">CGM </label>
					<div class="controls"><input maxlength="500" placeholder="CGM" name="cgm" value="<?php echo (isset($this->post_var['cgm'])) ? $this->post_var['cgm'] : '' ?>" type="text"  class="span3" /></div>
				</div>
						
				<div class="control-group">
					<label class="control-label">NIS </label>
					<div class="controls"><input maxlength="500" placeholder="NIS" name="nis" value="<?php echo (isset($this->post_var['nis'])) ? $this->post_var['nis'] : '' ?>" type="text"  class="span3" /></div>
				</div>
						
					<div class="control-group">
						<label class="control-label">Situação da Matrícula <span class="required">*</span></label>
						<div class="controls">
							<select name="matricula" data-placeholder="Situação da Matrícula" class="select">
								<option value="">Selecione...</option>
	        					<?php foreach (Escolasalunos::getMatriculas() as $k=>$v): ?>
	        					<option value="<?php echo $k ?>"><?php echo $v ?></option>
	        					<?php endforeach;?>
							</select>
							
						</div>
					</div>
                       
						<div class="control-group">
							<label class="control-label">Status <span class="required">*</span></label>
							<div class="controls">
								<select name="status1" data-placeholder="Status" class="select">
									<option value="">Selecione...</option>
									<option value="Ativo">Ativo</option><option value="Bloqueado">Bloqueado</option>
								</select>
								
							</div>
						</div>
	                     
	                    <div class="box-colecoes col-sm-12 panel-group" id="accordion" >    
									<?php //echo $this->render('/escolasalunos/helpers/form_informacoes.phtml') ?>
									<?php //echo $this->render('/escolasalunos/helpers/form_dados_contatos.phtml') ?>
									<?php //echo $this->render('/escolasalunos/helpers/form_dados_mae.phtml') ?>
									<?php //echo $this->render('/escolasalunos/helpers/form_dados_pai.phtml') ?>
			                        <?php //echo $this->render('/escolasalunos/helpers/form_dados_responsavel.phtml') ?>
									<?php //echo $this->render('/escolasalunos/helpers/form_dados_enderecos.phtml') ?>
									<?php echo $this->render('/escolasalunos/helpers/form_dados_academicos.phtml') ?>
		                        	<?php //echo $this->render('/escolasalunos/helpers/form_dados_necessidadesespeciais.phtml') ?>
		                        	<?php //echo $this->render('/escolasalunos/helpers/form_dados_programassociais.phtml') ?>
			                        <?php //echo $this->render('/escolasalunos/helpers/form_documentos_matriculas_multiplosarquivos.phtml') ?>
			                        
			                        
                      </div>  

				<div class="panel-footer">
					<div class="row">
						<div class="col-sm-6 col-sm-offset-3">
							<?php if ((isset($this->visualizar)) && ($this->visualizar)) : ?>
							<button type="button" onclick="window.history.back()" class="btn btn-default">Voltar</button>
							<?php else : ?>
							<button class="btn btn-primary">Salvar</button>&nbsp;
							<button type="button" onclick="location.href='<?php echo $this->baseUrl() ?>/<?php echo $this->getController()?>'" class="btn btn-default">Cancelar</button>
							<?php endif;?>
						</div>
					</div>
				</div><!-- panel-footer -->				
				
			</form>
          
		</div><!-- panel-body -->
	</div>
</div>
<?php */ ?>
<script type="text/javascript" src="<?php echo $this->baseUrl('/public/scripts/default/escolasalunos_form.js') ?>"></script>

<script type="text/javascript">
	var form_values = {};
	<?php if (isset($this->post_var['status'])) :  ?>
	form_values.status1 = '<?php echo (isset($this->post_var['status'])) ? $this->post_var['status'] : $this->post_var['status1'] ?>';
	<?php endif; ?>
            
	<?php if (isset($this->post_var['idescola'])) : ?>
	form_values.idescola = '<?php echo Escolasusuarios::getEscolaAtiva(Escolasusuarios::getUsuario('id'), 'id'); ?>';
	<?php endif; ?>   

	<?php if (isset($this->post_var['matricula'])) : ?>
	form_values.matricula = '<?php echo $this->post_var['matricula'] ?>';
	<?php endif; ?>	 

	<?php if (isset($this->post_var['idserie'])) : ?>
	form_values.idserie = '<?php echo $this->post_var['idserie'] ?>';
	<?php endif; ?>   

	<?php if (isset($this->post_var['idperiodo'])) : ?>
	form_values.idperiodo = '<?php echo $this->post_var['idperiodo'] ?>';
	<?php endif; ?>	 

	<?php if (isset($this->post_var['idclassificacao'])) : ?>
	form_values.idclassificacao = '<?php echo $this->post_var['idclassificacao'] ?>';
	<?php endif; ?>	

	<?php if (isset($this->post_var['sexo'])) : ?>
	form_values.sexo = '<?php echo $this->post_var['sexo'] ?>';
	<?php endif; ?>	 

	<?php if (isset($this->post_var['passeescolar'])) : ?>
	form_values.passeescolar = '<?php echo $this->post_var['passeescolar'] ?>';
	<?php endif; ?>	 

	<?php if (isset($this->post_var['etnia'])) : ?>
	form_values.etnia = '<?php echo $this->post_var['etnia'] ?>';
	<?php endif; ?>	 

	<?php if (isset($this->post_var['quilombola'])) : ?>
	form_values.quilombola = '<?php echo $this->post_var['quilombola'] ?>';
	<?php endif; ?>	 

	<?php if (isset($this->post_var['nova_cert_tipo_livro_reg'])) : ?>
	form_values.nova_cert_tipo_livro_reg = '<?php echo $this->post_var['nova_cert_tipo_livro_reg'] ?>';
	<?php endif; ?>	 

        <?php if (isset($this->post_var['transporteescolar'])) : ?>
	form_values.transporteescolar = '<?php echo $this->post_var['transporteescolar'] ?>';
	<?php endif; ?>	

	<?php if (isset($this->post_var['necessidadesespeciais'])) : ?>
	form_values.necessidadesespeciais = '<?php echo $this->post_var['necessidadesespeciais'] ?>';
	<?php endif; ?>	

	<?php if (isset($this->post_var['idinstituicaoapoio'])) : ?>
	form_values.idinstituicaoapoio = '<?php echo $this->post_var['idinstituicaoapoio'] ?>';
	<?php endif; ?>	

	<?php if (isset($this->post_var['estadocivilmae'])) : ?>
	form_values.estadocivilmae = '<?php echo $this->post_var['estadocivilmae'] ?>';
	<?php endif; ?>	
	
	<?php if (isset($this->post_var['estadocivilpai'])) : ?>
	form_values.estadocivilpai = '<?php echo $this->post_var['estadocivilpai'] ?>';
	<?php endif; ?>	
	
	<?php if (isset($this->post_var['estadocivilresponsavel'])) : ?>
	form_values.estadocivilresponsavel = '<?php echo $this->post_var['estadocivilresponsavel'] ?>';
	<?php endif; ?>	

	<?php if (isset($this->post_var['formaingresso'])) : ?>
	form_values.formaingresso = '<?php echo $this->post_var['formaingresso'] ?>';
	<?php endif; ?>	

	<?php if (isset($this->post_var['merendadiferenciada'])) : ?>
	form_values.merendadiferenciada = '<?php echo $this->post_var['merendadiferenciada'] ?>';
	<?php endif; ?>	

<?php if (isset($this->post_var['merendadiferenciadaaprovacao'])) : ?>
	form_values.merendadiferenciadaaprovacao = '<?php echo $this->post_var['merendadiferenciadaaprovacao'] ?>';
	<?php endif; ?>	

	var programas = new Array();
	<?php foreach ($this->programassociais as $p=>$programa): ?>
	var programa = {};
	programa.k = '<?php echo $programa['id'] ?>';
	programa.v = '<?php echo $programa['programa']; ?>';
	programas.push(programa);
	<?php endforeach;;?>
</script>

