		<!-- Content -->
		<div id="content">

		    <!-- Content wrapper -->
		    <div class="wrapper">

			    <!-- Breadcrumbs line -->
			    <div class="crumbs">
			    	<?php echo $this->render('/helpers/breadcrumb.phtml') ?>
			    </div>
			    <!-- /breadcrumbs line -->

			    <!-- Page header -->
			    <div class="page-header">
			    	<div class="page-title">
				    	<h5>Formulário de Declaração</h5>
				    	<span>Verifique os campos e preencha com os dados</span>
			    	</div>
			    </div>
			    <!-- /page header -->

			    <?php if (isset($this->crudMessage)) : ?>
					<div class="alert alert-success">
	                	<button data-dismiss="alert" class="close" type="button">×</button>
	                    <strong>Operação realizada com sucesso!</strong>
		    			<span><br /><?php echo $this->crudMessage ?></span>
	                </div>			    
			    <?php endif; ?>

				<form id="form" name="form" action="" method="post" class="form-horizontal" enctype="multipart/form-data"> 
					<input type="hidden" value="<?php echo (isset($this->post_var)) ? $this->post_var["id"] : ''; ?>" name="id" id="id" />
					
					<fieldset>
						<!-- General form elements -->
						<div class="widget row-fluid">
						    <div class="navbar">
						        <div class="navbar-inner">
						            <h6>Digite as informações do formulário</h6>
						        </div>
						    </div>

						    <div class="well">
								<?php if (isset($this->erros)) : ?>
									<div class="alert alert-error margin">
				                        <button data-dismiss="alert" class="close" type="button">×</button>
				                        <strong>Há erros no formulário!</strong>
					    				<?php foreach ($this->erros as $k=>$v) : ?>
					    					<span><br />- <?php echo $v ?></span>
					    				<?php endforeach;?>			                        
				                    </div>
			                    <?php endif; ?>						    
						    
							
				 <div class="control-group">
			        	<table class="table table-contents" width="100%">
			        		<tbody>	
								<tr>
									<input type="hidden" value="<?php echo (isset($this->post_var['sequencial'])) ? $this->post_var['sequencial'] : $this->sequencial ?>" name="sequencial" id="sequencial" />
									<input  placeholder="Data de lançamento" name="datalancamento" value="<?php echo (isset($this->post_var['datalancamento'])) ? $this->post_var['datalancamento'] : date('d/m/Y') ?>" type="hidden"  class="span3" />
									<input  placeholder="Hora do lançamento" name="horalancamento" value="<?php echo (isset($this->post_var['horalancamento'])) ? $this->post_var['horalancamento'] : date('G:i:s') ?>" type="hidden"  class="span3" />
									<td width="33%">Sequencial/Ano: <?php echo (isset($this->post_var['sequencial'])) ? $this->post_var['sequencial'] : $this->sequencial ?></td>
									<td width="34%">Data da Abertura: <?php echo (isset($this->post_var['datacriacao'])) ? Mn_Util::formPostVarData($this->post_var['datacriacao']) : date('d/m/Y') ?></td>
									<td width="33%">Hora da Abertura: <?php echo (isset($this->post_var['datacriacao'])) ? Mn_Util::formPostVarData($this->post_var['datacriacao']) : date('G:i:s') ?></td>	
									
									</td>
								</tr>
							</tbody>
						</table>
					</div>	



				<div class="control-group">
					<label class="control-label">Nome do usuário <span class="required">*</span></label>
					<div class="controls">
						<input type="hidden" name="idusuariologado" value ="<?php echo (isset($this->post_var['idusuariologado'])) ? $this->post_var['idusuariologado'] : Escolasusuarios::getUsuario('id') ?>">
						<?php echo Escolasusuarios::getUsuario('nomerazao'). " ".Escolasusuarios::getUsuario('sobrenomefantasia') ?>				
					</div>
				</div>



				<div class="control-group">
					<label class="control-label">Escola <span class="required">*</span></label>
					<div class="controls visualizar">
						<?php echo Escolasusuarios::getUsuario('escola'); ?>
						
					</div>	
				</div>

				
	 


				<div class="control-group">
					<label class="control-label">Secretaria <span class="required">*</span></label>
					<div class="controls">
						<select name="idsecretaria" data-placeholder="Status" class="select"s>
							<option value="">Selecione...</option> 
							<?php foreach (Secretarias::getSecretariasHelper(array('status'=>'Ativo')) as $key => $value) : ?>
								<option value="<?php echo $value['id'] ?>"><?php echo $value['secretaria']?></option>
							<?php endforeach;?>
						</select>
						
					</div>	
				</div>


				<div class="control-group">
					<label class="control-label">Tipo </label>
					<div class="controls">
						<select name="tipo" data-placeholder="Status" class="select"s>
							<option value="">Selecione...</option>
							<option value="Tipo 1">Tipo 1</option>
							<option value="Tipo 2">Tipo 2</option>
							<option value="Tipo 3">Tipo 3</option>
							<option value="Tipo 4">Tipo 4</option>
							<option value="Tipo 5">Tipo 5</option>
							<option value="Tipo 6">Tipo 6</option> 
							
						</select>
						
					</div>	
				</div>


				<div class="control-group">
					<label class="control-label">Alunos <span class="required">*</span></label>
					<div class="controls">
		                <select name="idaluno" data-placeholder="Alunos" class="select">
							<option value="">Selecione...</option>
							<?php foreach (Escolasalunos::getEscolasalunosHelper(array('status'=>'Ativo')) as $k=>$v) : ?>
							<option value="<?php echo $v['id'] ?>"><?php echo $v['nomerazao']." ". $v['sobrenomefantasia']?></option>
							<?php endforeach;?>
						</select>
						
					</div>
				</div>


				<div class="control-group">
					<label class="control-label">Diretora </label>
					<div class="controls">
		                <select name="iddiretora" data-placeholder="Diretora" class="select">
							<option value="">Selecione...</option>
							<?php foreach (Funcionariosgeraisescolas::getFuncionariosgeraisescolasHelper(array('status'=>'Ativo')) as $k=>$v) : ?>
							<option value="<?php echo $v['id'] ?>"><?php echo $v['nome']." ". $v['sobrenomefantasia'] ?></option>
							<?php endforeach;?>
						</select>
						
					</div>
				</div>


				<div class="control-group">
					<label class="control-label">Status <span class="required">*</span></label>
					<div class="controls">
						<select name="status1" data-placeholder="Status" class="select">
							<option value="">Selecione...</option>
							<option value="Aguardando a confirmação" >Aguardando a confirmação</option>
							<option value="Confirmado">Confirmado</option><option value="Não confirmado">Não confirmado</option>
						</select>
						
					</div>
				</div>

						    
						    
						    </div>
						    
			                <div class="form-actions align-right">
			                	<?php if ((isset($this->visualizar)) && ($this->visualizar)) : ?>
			                		<button onclick="window.history.back()" class="btn btn-danger cancelar" type="button">Voltar</button>
			                	<?php else : ?>
				                	<button class="btn btn-primary enviar" type="submit">Salvar</button>
				                	<button onclick="window.history.back()" class="btn btn-danger cancelar" type="button">Cancelar</button>
			                	<?php endif; ?>
			                </div>
						</div>
						<!-- /general form elements -->

					</fieldset> 

				</form>
				<!-- /basic inputs -->

		    </div>
		    <!-- /content wrapper -->

		</div>
		<!-- content -->
	</div>		
<script type="text/javascript" src="<?php echo $this->baseUrl('/public/scripts/default/secretariasdeclaracoes_form.js') ?>"></script>
<script type="text/javascript">
	var form_values = {};
	
	<?php if (isset($this->post_var)) :  ?>

form_values.idsecretaria = '<?php echo (isset($this->post_var['idsecretaria'])) ? $this->post_var['idsecretaria'] : '' ?>';
form_values.idaluno = '<?php echo (isset($this->post_var['idaluno'])) ? $this->post_var['idaluno'] : '' ?>';
form_values.tipo = '<?php echo (isset($this->post_var['tipo'])) ? $this->post_var['tipo'] : '' ?>';
form_values.idescola = '<?php echo (isset($this->post_var['idescola'])) ? $this->post_var['idescola'] : '' ?>';
form_values.iddiretora = '<?php echo (isset($this->post_var['iddiretora'])) ? $this->post_var['iddiretora'] : '' ?>';
form_values.status1 = '<?php echo (isset($this->post_var['status1'])) ? $this->post_var['status1'] : $this->post_var['status'] ?>';


	<?php endif; ?>

	

	visualizar = <?php echo  ((isset($this->visualizar)) && ($this->visualizar))  ? 'true' : 'false' ?>;
</script>
