<?php
	$params = '';
	if ((int)$this->getParam('idp')>0) :
		$params = '/idp/' . (int)$this->getParam('idp');
	endif; 
?>

<ul id="breadcrumbs" class="breadcrumb">
	<li><a href="<?php echo $this->baseUrl() ?>/admin/">Dashboard</a></li>
	<?php if (isset($this->bread_crumb)) : ?>
		<?php foreach ($this->bread_crumb as $k=>$v) : ?>
			<?php if ($v['url']) : ?>
			<li><a href="<?php echo $this->baseUrl() ?>/admin/<?php echo $v['url'] . $params ?>"><?php echo $v['name'] ?></a></li>
			<?php else : ?>
			<li class="active"><a href="" title=""><?php echo $v['name'] ?></a></li>
			<?php endif;?>
		<?php endforeach; ?>	
	<?php endif; ?>
</ul>