<?php $endereco_prefix = (isset($this->endereco_prefix)) ? $this->endereco_prefix : '' ?>
<table class="table table-info mb30">
	<tbody>
		<tr>
			<td width="20%" style="padding: 18px 16px;">CEP</td>
			<td style="padding: 8px 12px 8px 8px"><input name="<?php echo $endereco_prefix ?>cep" <?php if ($this->visualizar) {echo 'disabled="true"';} else {echo 'enabled="true"';} ?> value="<?php echo (isset($this->post_var[$endereco_prefix.'cep'])) ? $this->post_var[$endereco_prefix.'cep'] : "" ?>" type="text" class="span3" placeholder="CEP"></td>
		</tr>
		<tr>
			<td width="20%" style="padding: 18px 16px;">Endereço</td>
			<td style="padding: 8px 12px 8px 8px"><input name="<?php echo $endereco_prefix ?>endereco" <?php if ($this->visualizar) {echo 'disabled="true"';} else {echo 'enabled="true"';} ?> value="<?php echo (isset($this->post_var[$endereco_prefix.'endereco'])) ? $this->post_var[$endereco_prefix.'endereco'] : "" ?>" type="text" class="span3" placeholder="Endereço"></td>
		</tr>
		<tr>
			<td width="20%" style="padding: 18px 16px;">Número</td>
			<td style="padding: 8px 12px 8px 8px"><input name="<?php echo $endereco_prefix ?>numero" <?php if ($this->visualizar) {echo 'disabled="true"';} else {echo 'enabled="true"';} ?> value="<?php echo (isset($this->post_var[$endereco_prefix.'numero'])) ? $this->post_var[$endereco_prefix.'numero'] : "" ?>" type="text" class="span3" placeholder="Número"></td>
		</tr>
		<tr>
			<td width="20%" style="padding: 18px 16px;">Complemento</td>
			<td style="padding: 8px 12px 8px 8px"><input name="<?php echo $endereco_prefix ?>complemento" <?php if ($this->visualizar) {echo 'disabled="true"';} else {echo 'enabled="true"';} ?> value="<?php echo (isset($this->post_var[$endereco_prefix.'complemento'])) ? $this->post_var[$endereco_prefix.'complemento'] : "" ?>" type="text" class="span3" placeholder="Complemento"></td>
		</tr>
		<tr>
			<td width="20%" style="padding: 18px 16px;">Bairro</td>
			<td style="padding: 8px 12px 8px 8px"><input name="<?php echo $endereco_prefix ?>bairro" <?php if ($this->visualizar) {echo 'disabled="true"';} else {echo 'enabled="true"';} ?> value="<?php echo (isset($this->post_var[$endereco_prefix.'bairro'])) ? $this->post_var[$endereco_prefix.'bairro'] : "" ?>" type="text" class="span3" placeholder="Bairro"></td>
		</tr>
		<tr>
			<td width="20%" style="padding: 18px 16px;">Estado</td>
			<td style="padding: 8px 12px 8px 8px">
				<?php if($this->visualizar): ?>
					<input type="text" value="<?php echo Estados::getNomeEstadoById($this->post_var['e_idenderecoidestado']); ?>" name="idestado2" readonly>
				<?php else: ?>
					<select id="<?php echo $endereco_prefix ?>idestado" name="<?php echo $endereco_prefix ?>idestado" class="select"  onchange="setCidades(this, 0)">
						<option value="">Selecione...</option>
						<?php if (isset($this->estados)) : ?>
						<?php foreach ($this->estados as $i=>$row) : ?>
							<option value="<?php echo $row['id'] ?>"><?php echo $row['nome'] ?></option>
						<?php endforeach; ?>
						<?php else : ?>
						<?php foreach (Estados::getEstadosHelper() as $i=>$row) : ?>
							<option value="<?php echo $row['id'] ?>"><?php echo $row['nome'] ?></option>
						<?php endforeach; ?>
						<?php endif; ?>
					</select>
				<?php endif; ?>		
			</td>
		</tr>
		
		<tr>
			<td width="20%" style="padding: 18px 16px;">Cidade</td>
			<td style="padding: 8px 12px 8px 8px"><input name="<?php echo $endereco_prefix ?>cidade" <?php if ($this->visualizar) {echo 'disabled="true"';} else {echo 'enabled="true"';} ?> value="<?php echo (isset($this->post_var[$endereco_prefix.'cidade'])) ? $this->post_var[$endereco_prefix.'cidade'] : "" ?>" type="text" class="span3" placeholder="Cidade"></td>
		</tr>
	</tbody>
</table>

<script type="text/javascript">

	<?php if (isset($this->post_var)) :  ?>
	<?php echo $endereco_prefix ?>idestado = '<?php echo (isset($this->post_var[$endereco_prefix.'idestado'])) ? $this->post_var[$endereco_prefix.'idestado'] : '' ?>';
	<?php endif; ?>		

	$(document).ready(function() {
		
		if ((typeof <?php echo $endereco_prefix ?>idestado)!='undefined') $("select[name=<?php echo $endereco_prefix ?>idestado]").val(<?php echo $endereco_prefix ?>idestado);
				
		$("input[name=<?php echo $endereco_prefix ?>cep]").unmask();
		$("input[name=<?php echo $endereco_prefix ?>cep]").mask("99999-999", {placeholder:" "});	
		$('input[name=<?php echo $endereco_prefix ?>cep]').blur(function() {
			val = $.trim(this.value);
			if (""==val) return;
				$.blockUI({ message: '<h1> Aguarde...</h1>' }); 
				$.post(baseUrl + '/admin/index/buscacep' , {cep: val,modo:'gravar'}, function(cep) {
					$.unblockUI();
					if (cep=='false') {
						jAlert('CEP não encontrado!','Erro');
						return;
					}
					
					cep = jQuery.parseJSON(cep);
					
					$("input[name=<?php echo $endereco_prefix ?>endereco]").val(cep.tipo_logradouro + ' ' + cep.logradouro.replace(cep.tipo_logradouro, ''));
					$("input[name=<?php echo $endereco_prefix ?>cidade]").val(cep.cidade);
					$("select[name=<?php echo $endereco_prefix ?>idestado]").val(cep.idestado);
					$("input[name=<?php echo $endereco_prefix ?>bairro]").val(cep.bairro);

					$("[name=<?php echo $endereco_prefix ?>idestado]").select2("destroy");
					$("[name=<?php echo $endereco_prefix ?>idestado]").select2();			
					
			});	
		});
		
		$("select").each(function() {
			val = $(this).find('option:selected').html();
			$(this).closest('div').find('span').html(val);
		});
	});
</script>
