		<!-- Content -->
		<div id="content">

		    <!-- Content wrapper -->
		    <div class="wrapper">

			    <!-- Breadcrumbs line -->
			    <div class="crumbs">
			    	<?php echo $this->render('/helpers/breadcrumb.phtml') ?>
			    </div>
			    <!-- /breadcrumbs line -->

			    <!-- Page header -->
			    <div class="page-header">
			    	<div class="page-title">
				    	<h5>Formulário do cadastro</h5>
				    	<span>Verifique os campos e preencha com os dados</span>
			    	</div>
			    	
			    </div>
			    <!-- /page header -->

			    <?php if (isset($this->crudMessage)) : ?>
				<div class="alert alert-success">
                	<button data-dismiss="alert" class="close" type="button">×</button>
                    <strong>Operação realizada com sucesso!</strong>
	    			<span><br /><?php echo $this->crudMessage ?></span>
                </div>			    
			    <?php endif; ?>

				<form id="form" name="form" action="" method="post" class="form-horizontal" enctype="multipart/form-data"> 
					<input type="hidden" value="<?php echo (isset($this->post_var)) ? $this->post_var["id"] : ''; ?>" name="id" id="id" />
					<fieldset>

						<!-- General form elements -->
						<div class="widget row-fluid">
						    <div class="navbar">
						        <div class="navbar-inner">
						            <h6>Digite as informações do formulário</h6>
						        </div>
						    </div>

						    <div class="well">

								<?php if (isset($this->erros)) : ?>
								<div class="alert alert-error margin">
			                        <button data-dismiss="alert" class="close" type="button">×</button>
			                        <strong>Há erros no formulário!</strong>
				    				<?php foreach ($this->erros as $k=>$v) : ?>
				    				<span><br />- <?php echo $v ?></span>
				    				<?php endforeach;?>			                        
			                    </div>
			                    <?php endif; ?>						    
						    
						        <div class="control-group">
						            <label class="control-label">Nome do usuário <span class="required">*</span></label>
						            <div class="controls"><input name="nomerazao" placeholder="Nome do usuário" value="<?php echo (isset($this->post_var['nomerazao'])) ? $this->post_var['nomerazao'] : '' ?>" type="text" name="regular" class="span3" /></div>
						        </div>
						        
						        <div class="control-group">
						            <label class="control-label">Sobrenome do usuário <span class="required">*</span></label>
						            <div class="controls"><input name="sobrenomefantasia" placeholder="Sobrenome do usuário" value="<?php echo (isset($this->post_var['sobrenomefantasia'])) ? $this->post_var['sobrenomefantasia'] : '' ?>" type="text" name="regular" class="span3" /></div>
						        </div>	

        		<div class="control-group" style="display:none">
        			<label class="control-label">Clientes</label>
        			<div class="controls">
        				<?php foreach (Secretarias::getSecretariasHelper() as $k=>$v) : ?>
        				<input type="checkbox" value="<?php echo $v['id'] ?>" name="idsecretarias[]" /> <?php echo $v['secretaria'] ?><br />
        				<?php endforeach;?>      				
					</div>
				</div>		

				        		<div class="control-group">
				        			<label class="control-label">Cliente *</label>
				        			<div class="controls">
				        				<select id="idprefeitura" name="idprefeitura" class="form-control">
				        					<?php foreach ($this->prefeituras as $p=>$prefeitura): ?>
				        					<?php 
				        						$cidade = $prefeitura['c1nome'];

				        						if(($prefeitura['idendereco'] > 0) && (!$cidade) || ($cidade=="")){				        							
				        							$endereco = Enderecos::getEnderecoById($prefeitura['idendereco']);
				        							if(isset($endereco['cidade'])) $cidade = $endereco['cidade'];
				        						}

				        					?>
				        					<option value="<?php echo $prefeitura['id']?>"><?php echo $prefeitura['e1nome'] . ' > ' . $cidade ?></option>
				        					<?php endforeach;?>
										</select>        				
									</div>
								</div>

								<div class="control-group">
				        			<label class="control-label">RGF *</label>
				        			<div class="controls">
				        				<input name="rgf" value="<?php echo (isset($this->post_var['rgf'])) ? $this->post_var['rgf'] : '' ?>" type="text" class="span3" placeholder="RGF">
									</div>
								</div>												
						        
						        <div class="control-group">
						            <label class="control-label">E-mail de acesso <span class="required">*</span></label>
						            <div class="controls"><input name="email" placeholder="E-mail de acesso" value="<?php echo (isset($this->post_var['email'])) ? $this->post_var['email'] : '' ?>" type="text" name="regular" class="span3" /></div>
						        </div>		
				
						        <div class="control-group">
						            <label class="control-label">Senha <?php if ($this->getAction()=='adicionar') : ?><span class="required">*</span><?php endif;?></label>
						            <div class="controls"><input autocomplete="off" name="senha" placeholder="Senha" value="" type="password" name="regular" class="span3" /></div>
						        </div>			

						        <div class="control-group">
						            <label class="control-label">Confirme a senha <?php if ($this->getAction()=='adicionar') : ?><span class="required">*</span><?php endif;?></label>
						            <div class="controls"><input autocomplete="off" name="resenha" placeholder="Confirme a senha" value="" type="password" name="regular" class="span3" /></div>
						        </div>					
				
						        <div class="control-group">
						            <label class="control-label">Perfil de acesso <span class="required">*</span></label>
						            <div class="controls">
						                <select name="idperfil" data-placeholder="Perfil de acesso" class="select">
						                    <option value="">Selecione...</option> 
											<?php foreach ($this->perfis as $i=>$row) : ?>
											<option value="<?php echo $row['id'] ?>"><?php echo $row['perfil'] ?></option>
											<?php endforeach;?> 
						                </select>						        
						            </div>
						        </div>	
				

			
				<?php /*?>
        		<div class="control-group">
        			<label class="control-label">Pertencente a Secretaria *</label>
        			<div class="controls">
        				<select id="secretaria" name="secretaria" class="form-control">
        					<option value="">Selecione...</option>
        					<option value="Sim">Sim</option>
        					<option value="Não">Não</option>
						</select>        				
					</div>
				</div>
				
        		<div class="control-group">
        			<label class="control-label">Departamento </label>
        			<div class="controls">
        				<select id="iddepartamento" name="iddepartamento" class="form-control">
        					<option value="">Selecione...</option>
        					<?php foreach ($this->departamentos as $d=>$departamento) : ?>
        					<option value="<?php echo $departamento['id'] ?>"><?php echo $departamento['departamento'] ?></option>
        					<?php endforeach;?>
						</select>        				
					</div>
				</div>
<?php */?>
						        <div class="control-group">
						            <label class="control-label">Status <span class="required">*</span></label>
						            <div class="controls">
						                <select name="status1" data-placeholder="Status" class="select">
						                    <option value="">Selecione...</option> 
	                                        <option value="Ativo">Ativo</option> 
	                                        <option value="Bloqueado">Bloqueado</option> 
						                </select>						        
						            </div>
						        </div>									        
						        

						        
						    </div>
						    
			                <div class="form-actions align-right">
			                	<?php if ((isset($this->visualizar)) && ($this->visualizar)) : ?>
			                	<button onclick="window.history.back()" class="btn btn-danger cancelar" type="button">Voltar</button>
			                	<?php else : ?>
			                	<button class="btn btn-primary enviar" type="submit">Salvar</button>
			                	<button onclick="window.history.back()" class="btn btn-danger cancelar" type="button">Cancelar</button>
			                	<?php endif; ?>
			                </div>						    
						    
						    
						</div>
						<!-- /general form elements -->


					</fieldset> 

				</form>
				<!-- /basic inputs -->

		    </div>
		    <!-- /content wrapper -->

		</div>
		<!-- content -->
		
		
<script type="text/javascript" src="<?php echo $this->baseUrl('/public/scripts/admin/usuarios_form.js') ?>"></script>

<script type="text/javascript">

	var form_values = {};
	<?php if (isset($this->post_var)) :  ?>
		form_values.status1 = '<?php echo (isset($this->post_var['status1'])) ? $this->post_var['status1'] : $this->post_var['status'] ?>';
		<?php //if ($this->isAdmin) : ?>
		form_values.idperfil = '<?php echo $this->post_var['idperfil'] ?>';
		<?php //endif;?>
	<?php endif; ?>

	<?php if (isset($this->post_var['secretaria'])) :  ?>
		form_values.secretaria = '<?php echo $this->post_var['secretaria'] ?>';
	<?php endif; ?>

	<?php if (isset($this->post_var['iddepartamento'])) :  ?>
		form_values.iddepartamento = '<?php echo $this->post_var['iddepartamento'] ?>';
	<?php endif; ?>

	<?php if (isset($this->post_var['idprefeitura'])) :  ?>
		form_values.idprefeitura = '<?php echo (isset($this->post_var['idprefeitura'])) ? $this->post_var['idprefeitura'] : "" ?>';
	<?php endif; ?>
    
	<?php if (isset($this->post_var['idsecretarias'])) :  ?>
			<?php if (is_array($this->post_var['idsecretarias'])) : ?>
				<?php $this->post_var['idsecretarias'] = implode(',', $this->post_var['idsecretarias']); ?>
			<?php endif; ?>

            form_values.idsecretarias = [<?php echo $this->post_var['idsecretarias'] ?>];
	<?php endif; ?>

	visualizar = <?php echo  ((isset($this->visualizar)) && ($this->visualizar))  ? 'true' : 'false' ?>;
</script>
