		<!-- Content -->
		<div id="content">

		    <!-- Content wrapper -->
		    <div class="wrapper">

			    <!-- Breadcrumbs line -->
			    <div class="crumbs">
			    	<?php echo $this->render('/helpers/breadcrumb.phtml') ?>
			    </div>
			    <!-- /breadcrumbs line -->

			    <!-- Page header -->
			    <div class="page-header">
			    	<div class="page-title">
				    	<h5>Usuários cadastrados no sistema</h5>
				    	<span>Visualize os usuários cadastrados no sistema</span>
			    	</div>
			    	
			    </div>
			    <!-- /page header -->
			    
			    <?php if (isset($this->crudMessage)) : ?>
				<div class="alert alert-success">
                	<button data-dismiss="alert" class="close" type="button">×</button>
                    <strong>Operação realizada com sucesso!</strong>
	    			<span><br /><?php echo $this->crudMessage ?></span>
                </div>			    
			    <?php endif; ?>
       	                        
                <!-- Table with footer -->
                <div class="widget">
                	<form action="#" class="form-horizontal" method="post">
                		<input type="hidden" value="<?php echo (isset($this->post_var['sorting'])) ? $this->post_var['sorting'] : '' ?>" name="sorting" />
	                	<div class="navbar">
	                		<div class="navbar-inner">
	                			<h6>Visualizando registros</h6>
	                			<?php if (Mn_Util::isAccess($this->getController(), 'visualizar')) : ?>
	                			<a style="float:right;" href="<?php echo $this->baseUrl() ?>/admin/<?php echo $this->getController() ?>/adicionar" class="btn btn-primary"><span class="icon-plus"></span>&nbsp;Adicionar registro</a>
	                			<?php endif; ?>
	                		</div>
	                	</div>
	                    <div class="table-overflow">
	                        <table class="table table-content">
	                            <thead>
	                                <tr>
	                                    <th width="20">#</th>
	                                    <th class="s-nomerazao">Nome</th>
	                                    <th width="210">RGF</th>
	                                    <th width="120">Perfil</th>
	                                    <th width="120">Status</th>
	                                     <th width="96">Ações</th>
	                                </tr>
	                                <tr>
	                                    <th></th>
	                                    <th><input name="chave" value="<?php echo (isset($this->post_var['chave'])) ? $this->post_var['chave'] : '' ?>" type="text" style="display: block; margin-top: 6px;" placeholder="Nome do usuário" class="input-block-level"></th>
	                                    <th><input name="rgf" value="<?php echo (isset($this->post_var['rgf'])) ? $this->post_var['rgf'] : '' ?>" type="text" style="display: block; margin-top: 6px;" placeholder="RGF do usuário" class="input-block-level"></th>
	                                    <th>
	                                    	<div>
                                            	<select name="idperfil" data-placeholder="Todos" class="select" tabindex="2">
	                                                <option value="">Todos</option> 
	                                                <?php foreach (UsuariosPerfis::getPerfisHelpers() as $k=>$v) : ?>
	                                                <option value="<?php echo $v['id'] ?>"><?php echo $v['perfil'] ?></option>
	                                                <?php endforeach;?>
	                                            </select>	                                    	
	                                    	</div>
	                                    </th>
	                                    <th>
	                                    	<div>
                                            	<select name="status1" data-placeholder="Todos" class="select" tabindex="2">
	                                                <option value="">Todos</option> 
	                                                <option value="Ativo">Ativo</option> 
	                                                <option value="Bloqueado">Bloqueado</option> 
	                                            </select>	                                    	
	                                    	</div>
	                                    </th>
	                                    <th><button class="btn btn-mini btn-primary" type="submit">Pesquisar</button></th>
	                                </tr> 	                                
	                            </thead>
	                            <tbody>
	                            	<?php if (sizeof($this->rows)==0) : ?>
	                                <tr>
	                                    <td colspan="6">Nenhum registro foi encontrado!</td>
	                                </tr>
	                            	
	                            	<?php else : ?>
	                            	<?php foreach ($this->rows as $row) : ?>
	                                <tr>
	                                	<td><?php echo $row['id'] ?></td>
		                				<td><?php echo $row['nomerazao'] ?> <?php echo $row['sobrenomefantasia'] ?></td>
		                				<td><?php echo $row['rgf'] ?></td>
		                				<td><?php echo $row['perfil'] ?></td>
	                                    <td>
	                                    	<?php if (Mn_Util::isAccess($this->getController(), 'editar')) : ?>
	                                    	<a onclick="javascript:statusChange(<?php echo $row["id"]?>, this);" href="javascript:;"><span class="label <?php echo ($row['status']=='Ativo') ? 'label-success' : 'label-important' ?>"><?php echo $row['status'] ?></span></a>
	                                    	<?php else : ?>
	                                    	<?php echo $row['status'] ?>
	                                    	<?php endif; ?>
	                                    </td>
	                                    <td>
	                                        <ul class="table-controls">
	                                            <li><a title="" class="btn tip" href="<?php echo $this->baseUrl() ?>/admin/<?php echo $this->getController() ?>/visualizar/id/<?php echo $row['id'] ?>" data-original-title="Visualizar"><i class="icon-eye-open"></i></a> </li>
	                                            <?php if (Mn_Util::isAccess($this->getController(), 'editar')) : ?>
	                                            <li><a title="" class="btn tip" href="<?php echo $this->baseUrl() ?>/admin/<?php echo $this->getController() ?>/editar/id/<?php echo $row['id'] ?>" data-original-title="Editar"><i class="icon-pencil"></i></a> </li>
	                                            <?php endif;?>
	                                            <?php if (Mn_Util::isAccess($this->getController(), 'excluir')) : ?>
	                                            <li><a title="" class="btn tip" href="javascript:confirmDelete('<?php echo $row['id']; ?>','registro');" data-original-title="Excluir"><i class="icon-remove"></i></a> </li>
	                                            <?php else : ?>
	                                            <?php endif; ?>
	                                        </ul>
	                                    </td>
	                                </tr>
	                            	<?php endforeach;?>
	                            	
	                            	
	                            	
	                            	
	                            	<?php endif; ?>
	
	                            </tbody>
	                        </table>
	                    </div>
	                    <?php echo $this->render('/helpers/paginator.phtml') ?>
                    
                    </form>

                </div>
                <!-- /table with footer -->
	                        


		    </div>
		    <!-- /content wrapper -->

		</div>
		<!-- content -->
		
		
<script type="text/javascript" src="<?php echo $this->baseUrl('/public/scripts/admin/usuarios_index.js') ?>"></script>
<script type="text/javascript">

	var form_values = {};
	<?php if (isset($this->post_var)) :  ?>
		form_values.status1 = '<?php echo (isset($this->post_var['status1'])) ? $this->post_var['status1'] : $this->post_var['status'] ?>';
		form_values.idperfil = '<?php echo (isset($this->post_var['idperfil'])) ? $this->post_var['idperfil'] : $this->post_var['idperfil'] ?>';
	<?php endif; ?>

	var sorting = ['nomerazao'];
	
</script>	