		<!-- Content -->
		<div id="content">

		    <!-- Content wrapper -->
		    <div class="wrapper">

			    <!-- Breadcrumbs line -->
			    <div class="crumbs">
			    	<?php echo $this->render('/helpers/breadcrumb.phtml') ?>
			    </div>
			    <!-- /breadcrumbs line -->

			    <!-- Page header -->
			    <div class="page-header">
			    	<div class="page-title">
				    	<h5>Formulário do abastecimento</h5>
				    	<span>Verifique os campos e preencha com os dados</span>
			    	</div>
			    </div>
			    <!-- /page header -->

			    <?php if (isset($this->crudMessage)) : ?>
					<div class="alert alert-success">
	                	<button data-dismiss="alert" class="close" type="button">×</button>
	                    <strong>Operação realizada com sucesso!</strong>
		    			<span><br /><?php echo $this->crudMessage ?></span>
	                </div>			    
			    <?php endif; ?>

				<form id="form" name="form" action="" method="post" class="form-horizontal" enctype="multipart/form-data"> 
					<input type="hidden" value="<?php echo (isset($this->post_var)) ? $this->post_var["id"] : ''; ?>" name="id" id="id" />
					
					<fieldset>
						<!-- General form elements -->
						<div class="widget row-fluid">
						    <div class="navbar">
						        <div class="navbar-inner">
						            <h6>Digite as informações do formulário</h6>
						        </div>
						    </div>

						    <div class="well">
								<?php if (isset($this->erros)) : ?>
									<div class="alert alert-error margin">
				                        <button data-dismiss="alert" class="close" type="button">×</button>
				                        <strong>Há erros no formulário!</strong>
					    				<?php foreach ($this->erros as $k=>$v) : ?>
					    					<span><br />- <?php echo $v ?></span>
					    				<?php endforeach;?>			                        
				                    </div>
			                    <?php endif; ?>						    
						    

				<div class="control-group">
					<div class="controls1 visualizar">
						<table class="table table-content" width="100%">
							<tbody>
								<tr>
									<input type="hidden" value="<?php echo (isset($this->post_var['sequencial'])) ? $this->post_var['sequencial'] : $this->sequencial ?>" name="sequencial" id="sequencial" />
									<input  placeholder="Data de lançamento" name="datalancamento" value="<?php echo (isset($this->post_var['datalancamento'])) ? $this->post_var['datalancamento'] : date('d/m/Y') ?>" type="hidden"  class="span3" />
									<input  placeholder="Hora do lançamento" name="horalancamento" value="<?php echo (isset($this->post_var['horalancamento'])) ? $this->post_var['horalancamento'] : date('G:i:s') ?>" type="hidden"  class="span3" />
									<td width="33%">Sequencial/Ano: <?php echo (isset($this->post_var['sequencial'])) ? $this->post_var['sequencial'] : $this->sequencial ?></td>
									<td width="34%">Data da Abertura: <?php echo date('d/m/Y') ?></td>
									<td width="33%">Hora da Abertura: <?php echo date('G:i:s') ?></td>
								</tr>
							</tbody>
						</table>
						
					</div>
				</div>


				<div class="control-group">
					<label class="control-label">Veículo <span class="required">*</span></label>
					<div class="controls">
		                <select name="idfrota" data-placeholder="Veículo" class="select">
							<option value="">Selecione...</option>
							<?php foreach (Logisticafrotas::getLogisticafrotasHelper(array('status'=>'Ativo')) as $k=>$v) : ?>
							<option value="<?php echo $v['id'] ?>"><?php echo $v['fabricante'] ?> - <?php echo $v['modelo'] ?> - <?php echo $v['placa'] ?></option>
							<?php endforeach;?>
						</select>
						
					</div>
				</div>


				<div class="control-group">
					<label class="control-label">Tipo de combustivel <span class="required">*</span></label>
					<div class="controls">
						<select name="tipocombustivel" data-placeholder="Tipo de combustivel" class="select">
							<option value="">Selecione...</option>
							<option value="Etanol">Etanol</option><option value="Gasolina">Gasolina</option><option value="Diesel">Diesel</option>
						</select>
						
					</div>
				</div>


				<div class="control-group">
					<label class="control-label">Quantidade </label>
					<div class="controls"><input  placeholder="Quantidade" name="quantidade" value="<?php echo (isset($this->post_var['quantidade'])) ? $this->post_var['quantidade'] : '' ?>" type="text"  class="span3" /></div>
				</div>


				<div class="control-group">
					<label class="control-label">Km Atual </label>
					<div class="controls"><input  placeholder="Km Atual" name="kmatual" value="<?php echo (isset($this->post_var['kmatual'])) ? $this->post_var['kmatual'] : '' ?>" type="text"  class="span3" /></div>
				</div>


				<div class="control-group">
					<label class="control-label">Fornecedor </label>
					<div class="controls">
		                <select name="idfornecedor" data-placeholder="Fornecedor" class="select">
							<option value="">Selecione...</option>
							<?php foreach (Fornecedores::getFornecedoresHelper(array('status'=>'Ativo')) as $k=>$v) : ?>
							<option value="<?php echo $v['id'] ?>"><?php echo $v['razaosocial'] ?></option>
							<?php endforeach;?>
						</select>
						
					</div>
				</div>


				<div class="control-group">
					<label class="control-label">Responsável pelo abastecimento <span class="required">*</span></label>
					<div class="controls">
		                <select name="idresponsavel" data-placeholder="Responsável pelo abastecimento" class="select">
							<option value="">Selecione...</option>
							<?php foreach (Funcionariosgeraisescolas::getFuncionariosgeraisescolasHelper(array('status'=>'Ativo')) as $k=>$v) : ?>
							<option value="<?php echo $v['id'] ?>"><?php echo $v['nome'] ?></option>
							<?php endforeach;?>
						</select>
						
					</div>
				</div>


				<div class="control-group">
					<label class="control-label">Status <span class="required">*</span></label>
					<div class="controls">
						<select name="status1" data-placeholder="Status" class="select">
							<option value="">Selecione...</option>
							<option value="Ativo">Ativo</option><option value="Bloqueado">Bloqueado</option>
						</select>
						
					</div>
				</div>

						    
						    
						    </div>
						    
			                <div class="form-actions align-right">
			                	<?php if ((isset($this->visualizar)) && ($this->visualizar)) : ?>
			                		<button onclick="window.history.back()" class="btn btn-danger cancelar" type="button">Voltar</button>
			                	<?php else : ?>
				                	<button class="btn btn-primary enviar" type="submit">Salvar</button>
				                	<button onclick="window.history.back()" class="btn btn-danger cancelar" type="button">Cancelar</button>
			                	<?php endif; ?>
			                </div>
						</div>
						<!-- /general form elements -->

					</fieldset> 

				</form>
				<!-- /basic inputs -->

		    </div>
		    <!-- /content wrapper -->

		</div>
		<!-- content -->
				
<script type="text/javascript" src="<?php echo $this->baseUrl('/public/scripts/admin/logisticasabastecimentos_form.js') ?>"></script>
<script type="text/javascript">
	var form_values = {};
	
	<?php if (isset($this->post_var)) :  ?>
		form_values.idfrota = '<?php echo (isset($this->post_var['idfrota'])) ? $this->post_var['idfrota'] : '' ?>';

form_values.tipocombustivel = '<?php echo (isset($this->post_var['tipocombustivel'])) ? $this->post_var['tipocombustivel'] : '' ?>';

form_values.idfornecedor = '<?php echo (isset($this->post_var['idfornecedor'])) ? $this->post_var['idfornecedor'] : '' ?>';

form_values.idresponsavel = '<?php echo (isset($this->post_var['idresponsavel'])) ? $this->post_var['idresponsavel'] : '' ?>';

form_values.status1 = '<?php echo (isset($this->post_var['status1'])) ? $this->post_var['status1'] : $this->post_var['status'] ?>';


	<?php endif; ?>

	visualizar = <?php echo  ((isset($this->visualizar)) && ($this->visualizar))  ? 'true' : 'false' ?>;
</script>
