<?php

$inicio = $this->datainicio;
$fim = $this->datafim;

$dateObjInicio =  date("d-m-Y", strtotime($inicio));
$brDateInicio = new DateTime($dateObjInicio);

$dateObjFim =  date('d-m-Y', strtotime($fim));
$brDateFim = new DateTime($dateObjFim);

$interval = new DateInterval('P1D');

$endOne = new DateTime($dateObjFim);
$endOne->modify('+1 day');

$period = new DatePeriod($brDateInicio, $interval, $endOne);

$counter = 0;

// --------------- Afastamentos e licencas ------------------

$queriesAfastamentos = array();
$queriesAfastamentos['idfuncionarioafastadolicenca'] =  $this->idfuncionario;

$objAfastamentoslicencas = Rhafastamentoslicencas::getRhafastamentoslicencasHelper($queriesAfastamentos);

$contadorAfastamentos = 0;

foreach($objAfastamentoslicencas as $index):

    if( (((date('Y-m-d' , strtotime($index['datainicio'])) >= date('Y-m-d',strtotime($brDateInicio->format('Y-m-d')))) and  (date('Y-m-d' , strtotime($index['datainicio'])) <= date('Y-m-d',strtotime($brDateFim->format('Y-m-d'))))) or ((date('Y-m-d' , strtotime($index['datafim'])) >= date('Y-m-d',strtotime($brDateInicio->format('Y-m-d')))) and  (date('Y-m-d' , strtotime($index['datafim'])) <= date('Y-m-d',strtotime($brDateFim->format('Y-m-d')))))) and ($index['progresso'] == 'aprovado') ){
        $objAfastamento = $index;
        $contadorAfastamentos++;
    }//endif
    
endforeach;

// Verifica a contagem de férias do funcionario

$queriesFerias = array();
$queriesFerias['idfuncionarioferias'] = $this->funcionarioFolhaPonto['id'];
$queriesFerias['progresso'] = 'aprovado';

$objsFerias = Ferias::getFeriasHelper($queriesFerias);

// echo '<pre>';
// print_r($objsFerias);

$contadorFerias = 0;
                
foreach($objsFerias as $index):

    if( (((date('Y-m-d' , strtotime($index['datainicio'])) >= date('Y-m-d',strtotime($this->datainicio))) and  (date('Y-m-d' , strtotime($index['datainicio'])) <= date('Y-m-d',strtotime( $this->datafim )))) or ((date('Y-m-d' , strtotime($index['datafim'])) >= date('Y-m-d',strtotime( $this->datainicio ))) and  (date('Y-m-d' , strtotime($index['datafim'])) <= date('Y-m-d',strtotime( $this->datafim ))))) and ($index['progresso'] == 'aprovado') ){
        $objFerias = $index;
        $contadorFerias++;     
    }//endif
    
endforeach;

?>
<br><br>
<table style="text-align: center">
    <tr>
        <td><h3>Folha de Ponto Individual </h3></td>
    </tr>
</table>
<br>
<table style="text-align: left; font-size: 8; border: 1px solid black;">
    <tr>
        <td colspan="2"> <?php echo $this->nomeescola ?></td>
    </tr>
    <tr>
        <td> Período de : <?php echo $this->datainiciobr . " ás " . $this->datafimbr ?></td>
        <td> Data de impressão: <?php echo date('d/m/Y H:m'); ?></td>
    </tr>
</table>
<br>

<table cellspacing="1" cellpadding="1" style="border: 1px solid black; font-size: 8">
    
    <tr>
        <td>Nome:
        <?php 
            
            if(isset($this->funcionarioFolhaPonto['nome'])){
                echo $this->funcionarioFolhaPonto['nome'];
            }else{
                echo (isset($this->funcionarioFolhaPonto['nomerazao'] )) ? $this->funcionarioFolhaPonto['nomerazao'] . " " . $this->funcionarioFolhaPonto['sobrenomefantasia'] : "------" ;
            }// end if
        
        ?>
        
        </td>
        <td>
        RGF:  <?php echo (isset($this->funcionariosFolhaPonto['rgf'])) ? $this->funcionariosFolhaPonto['rgf'] : '-----';  ?>
        </td>
        <td>Cargo:
        <?php 
            if(isset($this->funcionarioFolhaPonto['funcao'] )){
                echo $this->funcionarioFolhaPonto['funcao']; 
            }elseif(isset($this->funcionarioFolhaPonto['cargo'] )){
                echo $this->funcionarioFolhaPonto['cargo']; 
            }else{
                echo "------";
            }
        ?>
        </td>
        <td>
            CPF:  <?php echo (isset($this->funcionariosFolhaPonto['cpf'])) ? $this->funcionariosFolhaPonto['cpf'] : '-----';  ?>
        </td>
    </tr>
</table>

<br>



<table cellspacing="1" cellpadding="2" style="border: 0px none black; font-size: 8; text-align: center">

    <tr style="background-color: #808080; color: white">
        <td>Data</td>
        <td>Entrada</td>
        <td colspan="2">Repouso</td>
        <td>Saida</td>
        <td>Horário</td>
        <td>Trabalhado</td>
        <td>Ocorrência</td>
    </tr>

    <?php

            foreach($period as $date): 

                if(($date->format('w') == '6') || ($date->format('w') == '0')): 
                //Caso o dia seja igual ao um sábado ou domingo

                    $verificaLancamento = Funcionariosgeraispontohora::getVerificaRegistro($date->format('Y-m-d'), $this->funcionario['id'], $this->usuario['id'], $this->local, $this->dept);

                    if($verificaLancamento > 0){
                        
                        $lancamento = Funcionariosgeraispontohora::getRetornaRegistroData($this->funcionario['id'], $this->usuario['id'], $this->local, $this->dept, $date->format('Y-m-d'));

                        // trabamento dos horários de entrada e saida

                        // Horário de entrada
                        $dateAuxEntrada =  date('Y-m-d H:i:s', strtotime($lancamento['entrada_pontohorarios']));
                        $objEntrada = new DateTime($dateAuxEntrada);
                        
                        // Horário de Saida
                        $dateAuxSaida =  date('Y-m-d H:i:s', strtotime($lancamento['saida_pontohorarios']));
                        $objSaida = new DateTime($dateAuxSaida);
                        
                        // Entrada Pausa
                        $dateAuxEntradaPausa =  date('Y-m-d H:i:s', strtotime($lancamento['entradapausa_pontohorarios']));
                        $objEntradaPausa = new DateTime($dateAuxEntradaPausa);
                        
                        // Saida Pausa
                        $dateAuxSaidaPausa=  date('Y-m-d H:i:s', strtotime($lancamento['saidapausa_pontohorarios']));
                        $objSaidaPausa = new DateTime($dateAuxSaidaPausa);

                        // Horas trabalhadas

                        $entradaSaida = $objEntrada->diff($objSaida);
                        $pausas = $objEntradaPausa->diff($objSaidaPausa);

                        $difT = explode(':',$entradaSaida->format("%H:%I:%S"));
                        $difP = explode(':',$pausas->format("%H:%I:%S"));

                        $trabalhado = new DateTime('2018-01-01 ' . $difT[0] . ':' . $difT[1] . ':' . $difT[2]);
                        $pausa = new DateTime('2018-01-01 ' . $difP[0] . ':' . $difP[1] . ':' . $difP[2]);

                        $total = $pausa->diff($trabalhado);
                      
                        

                        //$trabalhado = $entradaSaida->diff($pausas);

                        echo '<tr>';
                            echo '<td style="background-color: #e6e6e6; color: #808080">' . $date->format('d/m') . '</td>';
                            echo '<td style="background-color: #e6e6e6">' . $objEntrada->format('H:i') . '</td>';
                            echo '<td style="background-color: #e6e6e6; color: #808080">' . $objEntradaPausa->format('H:i') . '</td>';
                            echo '<td style="background-color: #e6e6e6; color: #808080">' . $objSaidaPausa->format('H:i') . '</td>';
                            echo '<td style="background-color: #e6e6e6">' . $objSaida->format('H:i') . '</td>';
                            echo '<td style="background-color: #e6e6e6">';
                            echo $lancamento['fkhorariorotulo'];
                            echo '</td>';
                            echo '<td style="background-color: #e6e6e6">' . $total->format("%HH %Imin") . '</td>'; 
                            echo '<td style="background-color: #e6e6e6"><small>' . $lancamento['titulo_pontohorarios'] . '</small></td>'; 
                        echo '</tr>';

                    }else{
                        echo '<br>';
                    }

                    

                elseif( ($contadorFerias > 0) and (((date('Y-m-d' , strtotime($date->format('Y-m-d')))) >= (date('Y-m-d' , strtotime($objFerias['datainicio'])))) and ((date('Y-m-d' , strtotime($date->format('Y-m-d')))) < (date('Y-m-d' , strtotime($objFerias['datafim'])))))  ):
                    echo '<tr>';
                    echo '<td style="background-color: #e6e6e6; color: #808080">' . $date->format('d/m') . '</td>';
                    echo '<td colspan="6" style="background-color: #e6e6e6; color: #808080"></td>';
                    echo '<td style="background-color: #e6e6e6; color: #808080">Férias</td>';
                    echo '</tr>';

                elseif(($contadorAfastamentos > 0) and (((date('Y-m-d' , strtotime($date->format('Y-m-d')))) >= (date('Y-m-d' , strtotime($objAfastamento['datainicio'])))) and ((date('Y-m-d' , strtotime($date->format('Y-m-d')))) <= (date('Y-m-d' , strtotime($objAfastamento['datafim']))))) ):   
                    echo '<tr>';
                    echo '<td style="background-color: #e6e6e6; color: #808080">' . $date->format('d/m') . '</td>';
                    echo '<td colspan="6" style="background-color: #e6e6e6; color: #808080">' . $objAfastamento['motivo'] . '</td>';
                    echo '<td style="background-color: #e6e6e6; color: #808080">Afastamento</td>';
                    echo '</tr>';

                else: 

                    $verificaLancamento = Funcionariosgeraispontohora::getVerificaRegistro($date->format('Y-m-d'), $this->funcionario['id'], $this->usuario['id'], $this->local, $this->dept);

                    if((Feriados::getVerificaFeriado($date->format("Y-m-d")) > 0 && (Feriados::getInformacoesFeriadoData($date->format("Y-m-d"))['status'] == 'Ativo') && (Feriados::getInformacoesFeriadoData($date->format("Y-m-d"))['excluido'] == 'nao')) and ($verificaLancamento == 0)): 
                    //  ----------------   Verifica se é feriado  ----------------------

                    $row = Feriados::getInformacoesFeriadoData($date->format("Y-m-d"));


                    echo '<tr>';
                        echo '<td style="background-color: #e6e6e6; color: #808080">' . $date->format('d/m') . '</td>';
                        echo '<td colspan="6" style="background-color: #e6e6e6; color: #808080">' .  $row['nome_pontoferiado']  . '</td>';
                        echo '<td style="background-color: #e6e6e6; color: #808080"></td>';
                    echo '</tr>';

                    else: 

                    //  ----------------   Caso não seja um feriado --------------------

                   
                    
                    if($verificaLancamento > 0): 

                        $lancamento = Funcionariosgeraispontohora::getRetornaRegistroData($this->funcionario['id'], $this->usuario['id'], $this->local, $this->dept, $date->format('Y-m-d'));

                        // trabamento dos horários de entrada e saida

                        // Horário de entrada
                        $dateAuxEntrada =  date('Y-m-d H:i:s', strtotime($lancamento['entrada_pontohorarios']));
                        $objEntrada = new DateTime($dateAuxEntrada);
                        
                        // Horário de Saida
                        $dateAuxSaida =  date('Y-m-d H:i:s', strtotime($lancamento['saida_pontohorarios']));
                        $objSaida = new DateTime($dateAuxSaida);
                        
                        // Entrada Pausa
                        $dateAuxEntradaPausa =  date('Y-m-d H:i:s', strtotime($lancamento['entradapausa_pontohorarios']));
                        $objEntradaPausa = new DateTime($dateAuxEntradaPausa);
                        
                        // Saida Pausa
                        $dateAuxSaidaPausa=  date('Y-m-d H:i:s', strtotime($lancamento['saidapausa_pontohorarios']));
                        $objSaidaPausa = new DateTime($dateAuxSaidaPausa);

                        // Horas trabalhadas

                        $entradaSaida = $objEntrada->diff($objSaida);
                        $pausas = $objEntradaPausa->diff($objSaidaPausa);

                        $difT = explode(':',$entradaSaida->format("%H:%I:%S"));
                        $difP = explode(':',$pausas->format("%H:%I:%S"));

                        $trabalhado = new DateTime('2018-01-01 ' . $difT[0] . ':' . $difT[1] . ':' . $difT[2]);
                        $pausa = new DateTime('2018-01-01 ' . $difP[0] . ':' . $difP[1] . ':' . $difP[2]);

                        $total = $pausa->diff($trabalhado);
                      
                        

                        //$trabalhado = $entradaSaida->diff($pausas);

                        echo '<tr>';
                            echo '<td style="background-color: #e6e6e6; color: #808080">' . $date->format('d/m') . '</td>';
                            echo '<td style="background-color: #e6e6e6">' . $objEntrada->format('H:i') . '</td>';
                            echo '<td style="background-color: #e6e6e6; color: #808080">' . $objEntradaPausa->format('H:i') . '</td>';
                            echo '<td style="background-color: #e6e6e6; color: #808080">' . $objSaidaPausa->format('H:i') . '</td>';
                            echo '<td style="background-color: #e6e6e6">' . $objSaida->format('H:i') . '</td>';
                            echo '<td style="background-color: #e6e6e6">';
                            echo $lancamento['fkhorariorotulo'];
                            echo '</td>';
                            echo '<td style="background-color: #e6e6e6">' . $total->format("%HH %Imin") . '</td>'; 
                            echo '<td style="background-color: #e6e6e6"><small>' . $lancamento['titulo_pontohorarios'] . '</small></td>'; 
                        echo '</tr>';

                    else: 

                        echo '<tr>';
                            echo '<td style="background-color: #e6e6e6; color: #808080">' . $date->format('d/m') . '</td>';
                            echo '<td style="background-color: #e6e6e6">--:--</td>';
                            echo '<td style="background-color: #e6e6e6; color: #808080">--:--</td>';
                            echo '<td style="background-color: #e6e6e6; color: #808080">--:--</td>';
                            echo '<td style="background-color: #e6e6e6">--:--</td>';
                            echo '<td style="background-color: #e6e6e6">----</td>';
                            echo '<td style="background-color: #e6e6e6">-- --</td>';
                            echo '<td style="background-color: #e6e6e6">----</td>'; 
                        echo '</tr>';

                    endif;
                    


                    endif;

                endif;

                
                
            endforeach;
    ?>

</table>



<br>
<div> 
    OBS: ___________________________________________________________________________________________
</div>
<br><br>
<table style="text-align: center">
        <tr>
            <td>_______________________________________________</td>
            <td>_______________________________________________</td>
        </tr>
        <tr>
            <td>Responsável pelas marcações</td>
            <td>Funcionário</td>
        </tr>
        
</table>
