<br><br>
<table style="text-align: center">
    <tr>
        <td><h3>Folha de Ponto Individual</h3></td>
    </tr>
</table>
<br>
<table style="text-align: left; font-size: 8; border: 1px solid black;">
    <tr>
        <td colspan="2">Escola : <?php echo $this->nomeescola ?></td>
    </tr>
    <tr>
        <td> Período de : <?php echo $this->datainiciobr . " ás " . $this->datafimbr ?></td>
        <td> Data de impressão: <?php echo date('d/m/Y H:m'); ?></td>
    </tr>
</table>
<br>
<?php //foreach($this->rows as $index): ?>

<table cellspacing="1" cellpadding="1" style="border: 1px solid black; font-size: 8">
    
    <!-- <tr>
        <td colspan="2">Funcionario : 
        
            <?php 
            
                if(isset($this->funcionarioFolhaPonto['nome'])){
                    echo $this->funcionarioFolhaPonto['nome'];
                }else{
                    echo (isset($this->funcionarioFolhaPonto['nomerazao'] )) ? $this->funcionarioFolhaPonto['nomerazao'] . " " . $this->funcionarioFolhaPonto['sobrenomefantasia'] : "------" ;
                }
            
            ?>

        </td>
        <td colspan="2"> <?php //echo (isset($this->funcionarioFolhaPonto['dataadmissao'] )) ?  $this->funcionarioFolhaPonto['dataadmissao'] : "------" ?></td>
    </tr>
    <tr>
        <td colspan="2">Cargo :  
            <?php 
            
                if(isset($this->funcionarioFolhaPonto['funcao'] )){
                    echo $this->funcionarioFolhaPonto['funcao']; 
                }elseif(isset($this->funcionarioFolhaPonto['cargo'] )){
                    echo $this->funcionarioFolhaPonto['cargo']; 
                }else{
                    echo "------";
                }
        
            
            ?>
        </td>
        <td colspan="2">RGF : <?php echo  (isset($this->funcionarioFolhaPonto['rgf'] )) ? $this->funcionarioFolhaPonto['rgf'] : "------" ?></td>
    </tr>
    <tr>
        <td colspan="2">CPF : <?php echo  (isset($this->funcionarioFolhaPonto['cpf'] )) ? $this->funcionarioFolhaPonto['cpf'] : "------" ?></td>
        <td colspan="2">RG :   <?php echo  (isset($this->funcionarioFolhaPonto['rf'] )) ? $this->funcionarioFolhaPonto['rg'] : "------" ?></td>
    </tr>
     -->
</table>

<br>

<table cellspacing="1" cellpadding="2" style="border: 0px none black; font-size: 8; text-align: center">
<tr>
    <td rowspan="2">Data</td>
    <td rowspan="2">Entrada</td>
    <td colspan="2">Repouso</td>
    <td rowspan="2">Saida</td>
    <td rowspan="2">Horário</td>
    <td rowspan="2">Ocorrência</td>
</tr>
<tr>
    <td>Entrada</td>
    <td>Saida</td>
<!-- </tr>

<?php

$inicio = $this->datainicio;
$fim = $this->datafim;

$dateObjInicio =  date("d-m-Y", strtotime($inicio));
$brDateInicio = new DateTime($dateObjInicio);

$dateObjFim =  date('d-m-Y', strtotime($fim));
$brDateFim = new DateTime($dateObjFim);

$interval = new DateInterval('P1D');

$endOne = new DateTime($dateObjFim);
$endOne->modify('+1 day');

$period = new DatePeriod($brDateInicio, $interval, $endOne);

$counter = 0;


//      Contadores que irão constar no final da folha de ponto 


$total = 0; 
$diastrabalhados = 0;
$faltasinjustificadas = 0;
$outros = 0;

// --------------   Férias -----------------------

$queriesFerias = array();
$queriesFerias['idfuncionarioferias'] = $this->idfuncionario;
$queriesFerias['progresso'] = 'aprovado';

$objsFerias = Ferias::getFeriasHelper($queriesFerias);

$contadorFerias = 0;

// --------------- Afastamentos e licencas ------------------

$queriesAfastamentos = array();
$queriesAfastamentos['idfuncionarioafastadolicenca'] =  $this->idfuncionario;

$objAfastamentoslicencas = Rhafastamentoslicencas::getRhafastamentoslicencasHelper($queriesAfastamentos);

$contadorAfastamentos = 0;

foreach($objAfastamentoslicencas as $index):

    if( (((date('Y-m-d' , strtotime($index['datainicio'])) >= date('Y-m-d',strtotime($brDateInicio->format('Y-m-d')))) and  (date('Y-m-d' , strtotime($index['datainicio'])) <= date('Y-m-d',strtotime($brDateFim->format('Y-m-d'))))) or ((date('Y-m-d' , strtotime($index['datafim'])) >= date('Y-m-d',strtotime($brDateInicio->format('Y-m-d')))) and  (date('Y-m-d' , strtotime($index['datafim'])) <= date('Y-m-d',strtotime($brDateFim->format('Y-m-d')))))) and ($index['progresso'] == 'aprovado') ){
        $objAfastamento = $index;
        $contadorAfastamentos++;
    }//endif
    
endforeach;

              

foreach($objsFerias as $index):

    if( (((date('Y-m-d' , strtotime($index['datainicio'])) >= date('Y-m-d',strtotime($brDateInicio->format('Y-m-d')))) and  (date('Y-m-d' , strtotime($index['datainicio'])) <= date('Y-m-d',strtotime($brDateFim->format('Y-m-d'))))) or ((date('Y-m-d' , strtotime($index['datafim'])) >= date('Y-m-d',strtotime($brDateInicio->format('Y-m-d')))) and  (date('Y-m-d' , strtotime($index['datafim'])) <= date('Y-m-d',strtotime($brDateFim->format('Y-m-d')))))) and ($index['progresso'] == 'aprovado') ){
        $objFerias = $index;
        $contadorFerias++;     
    }//endif
    
endforeach;


foreach($period as $date): 

    if($date->format('w') == '6' OR $date->format('w') == '0'):

        echo '<tr  style="text-align: left; color: #bfbfbf; font-size: 7">';
            echo '<td>' . $date->format('d/m') . " [" . Mn_Util::getDiaSemana($date->format('w'))  . "] </td>";
            echo '<td>----</td>';
            echo '<td>----</td>';
            echo '<td>----</td>';
            echo '<td>----</td>';
            echo '<td>----</td>';
            echo '<td>----</td>';
        echo '</tr>';

    else:  

       
        //==================Verificando informações sobre o feriado====================================

        if(Feriados::getVerificaFeriado($date->format("Y-m-d")) > 0 && (Feriados::getInformacoesFeriadoData($date->format("Y-m-d"))['status'] == 'Ativo') && (Feriados::getInformacoesFeriadoData($date->format("Y-m-d"))['excluido'] == 'nao')):
            $row = Feriados::getInformacoesFeriadoData($date->format("Y-m-d"));

            echo '<tr style="text-align: left; color: #bfbfbf; font-size: 7">';
                echo '<td>' . $date->format('d/m') . " [" . Mn_Util::getDiaSemana($date->format('w'))  . "] </td>";
                echo '<td colspan="4">' . $row['nome_pontoferiado'] . '</td>';
                echo '<td colspan="2">' . $row['status'] . '</td>';
            echo '</tr>';
        
            
        else:

            $total++;     // Somando Totais

            $userId = $this->idusuario;
            $id = $this->idfuncionario; 

            if(false):
            //if(Funcionariosgeraispontohora::getVerificaRegistro($date->format("Y-m-d"),$id, $userId) > 0):
                
                // $row = Funcionariosgeraispontohora::getRetornaRegistroData($id, $userId, $date->format('Y-m-d'));

                // if($row['titulo_pontohorarios'] == 'Dia Trabalhado'):
                //     $diastrabalhados++;
                // elseif($row['titulo_pontohorarios'] == 'FALTA INJUSTIFICADA'):
                //     $faltasinjustificadas++;
                // else: 
                //     $outros++;
                // endif;

                // echo '<tr style="background-color: #e6e6e6; ">';
                //     echo '<td style="text-align: left">' . $date->format('d/m') . " [" . Mn_Util::getDiaSemana($date->format('w'))  . "] </td>";
                    
                //     $dateObjOne =  date('Y-m-d H:i:s', strtotime($row['entrada_pontohorarios']));
                //     $Dateentrada = new DateTime($dateObjOne);

                //     echo '<td>' . $Dateentrada->format('H:i') . '</td>';

                //     $dateObjTwo =  date('Y-m-d H:i:s', strtotime($row['saida_pontohorarios']));
                //     $Datesaida = new DateTime($dateObjTwo);

                //     echo '<td>' . $Datesaida->format('H:i') . '</td>';

                //     $dateObjThree =  date('Y-m-d H:i:s', strtotime($row['entradapausa_pontohorarios']));
                //     $Dateentradapausa = new DateTime($dateObjThree);

                //     echo '<td>' . $Dateentradapausa->format('H:i') . '</td>';

                //     $dateObjFour =  date('Y-m-d H:i:s', strtotime($row['saidapausa_pontohorarios']));
                //     $Datesaidapausa = new DateTime($dateObjFour);

                //     echo '<td>' . $Datesaidapausa->format('H:i') . '</td>';

                //     echo '<td>' . $row['fkhorariorotulo'] . '</td>';
                //     echo '<td><small>' . $row['titulo_pontohorarios'] . '</small></td>';
                // echo '</tr>';

            else: 

                if(($contadorFerias > 0) and (((date('Y-m-d' , strtotime($date->format('Y-m-d')))) >= (date('Y-m-d' , strtotime($objFerias['datainicio'])))) and ((date('Y-m-d' , strtotime($date->format('Y-m-d')))) <= (date('Y-m-d' , strtotime($objFerias['datafim']))))) ):

                    echo '<tr style="background-color: #b3ffb3; ">';
                    echo '<td style="text-align: left">' . $date->format('d/m') . " [" . Mn_Util::getDiaSemana($date->format('w'))  . "] </td>";
                    echo '<td>--:--</td>';
                    echo '<td>--:--</td>';
                    echo '<td>--:--</td>';
                    echo '<td>--:--</td>';
                    echo '<td>------</td>';
                    echo '<td>Férias</td>';
                    echo '</tr>';

                    $outros++;

                elseif(($contadorAfastamentos > 0) and (((date('Y-m-d' , strtotime($date->format('Y-m-d')))) >= (date('Y-m-d' , strtotime($objAfastamento['datainicio'])))) and ((date('Y-m-d' , strtotime($date->format('Y-m-d')))) <= (date('Y-m-d' , strtotime($objAfastamento['datafim']))))) ):   
            
                    echo '<tr style="background-color: #e6ff99; ">';
                    echo '<td style="text-align: left">' . $date->format('d/m') . " [" . Mn_Util::getDiaSemana($date->format('w'))  . "] </td>";
                    echo '<td style="text-align: left">Motivo :</td>';
                    echo '<td colspan="4" style="text-align: left">'. $objAfastamento['descricoes'] . '</td>';
                    echo '<td>Afastamento</td>';
                    echo '</tr>';

                    $outros++;

                else: 

                    echo '<tr style="background-color: #e6e6e6; ">';
                    echo '<td style="text-align: left">' . $date->format('d/m') . " [" . Mn_Util::getDiaSemana($date->format('w'))  . "] </td>";
                    echo '<td>--:--</td>';
                    echo '<td>--:--</td>';
                    echo '<td>--:--</td>';
                    echo '<td>--:--</td>';
                    echo '<td>------</td>';
                    echo '<td>------</td>';
                    echo '</tr>';

                endif;
                
            endif;
        endif;
    endif;
endforeach;

    echo '<tr><td colspan="4"></td></tr>';

    echo '<tr style="text-align: center; font-weight: bold; border: 1px solid black; font-size: 9; background-color: #999999; color: white">';
        echo '<td>Total [ ' . $total . ' ]</td>';
        echo '<td colspan="2">Dias Trabalhados [ ' . $diastrabalhados . ' ]</td>';
        echo '<td colspan="2">Faltas Injustificadas [ ' . $faltasinjustificadas . ' ]</td>';
        echo '<td colspan="2">Outras Ocorrencias [ ' . $outros . ' ]</td>';
    echo '</tr>';
    ?> -->

</table>
<br>
<div> 
    OBS: ___________________________________________________________________________________________
</div>
<br><br>
<table style="text-align: center">
        <tr>
            <td>_______________________________________________</td>
            <td>_______________________________________________</td>
        </tr>
        <tr>
            <td>Responsável pelas marcações</td>
            <td>Funcionário</td>
        </tr>
        
</table>





