<br><br>
<table style="text-align: center">
<tr>
    <td><h2><?php echo $this->nomeEscola ?></h2></td>
</tr>
<tr>
    <td><h3>Relatório de Funcionários</h3></td>
</tr>
</table>

<br><br>

<?php foreach($this->rows as $index): ?>

<table cellspacing="1" cellpadding="1" style="border: 1px solid black; font-size: 8">
    
    <tr>
        <td colspan="2">Funcionario : <?php echo (isset($index['nome'] )) ? $index['nome'] : "------" ?></td>
        <!-- <td colspan="2">Admissão : <?php echo (isset($index['dataadmissao'] )) ?  $index['dataadmissao'] : "------" ?></td> -->
        <td colspan="2">RGF : <?php echo  (isset($index['rgf'] )) ? $index['rgf'] : "------" ?></td>
    </tr>
    <tr>
        <!-- <td colspan="2">Cargo : Secretario</td> -->
        
    </tr>
    <tr>
        <!-- <td colspan="2">CPF : <?php echo  (isset($index['cpf'] )) ? $index['cpf'] : "------" ?></td> -->
        <!-- <td colspan="2">RG :   <?php echo  (isset($index['rf'] )) ? $index['rg'] : "------" ?></td> -->
    </tr>
    <tr>
        <!-- <td>Local : </td> -->
        <!-- <td colspan="3"> <?php echo (isset($index['desclocal'] )) ?  $index['desclocal'] : "------" ?></td> -->
    </tr>
    <!-- <tr>
        <td colspan="3">Horário: PEB I Entrada [00:00] Entrada Pausa [00:00] Saida Pausa [00:00] Saida [00:00]</td>
        <td >Total Diario [00:00]</td>
    </tr> -->
    <tr>
        <td colspan="3">Dias Trabalhados: <?php echo ((int)$index['lancamentos']-(int)$index['ocorrencias']) . " / " . $index['totalDiasUteis'] ?></td>
        <!-- <td colspan="1">Total Horas : [000:00] </td> -->
    </tr>
    <tr>
        <td colspan="3">Ocorrencias: <?php echo $index['ocorrencias'] . " / " . $index['totalDiasUteis'] ?> </td>
        <!-- <td colspan="1">Total Horas : [000:00] </td> -->
    </tr>
    <tr>
        <td colspan="4">
            <table style="color: #404040; font-size: 7">
                <?php

                   // echo $this->idusuario . " " . $index['id'] . " " . $this->datainicio . " " . $this->datafim;

                    $lancamentos = new Funcionariosgeraispontohora();

                    $querie = array();
                    $querie['idfuncioario'] = '';
                    $querie['idrhfuncionario'] = '';
                    $querie[''] = '';

                   
                    $lancamento = $lancamentos->getOcorrenciasLancadasDetalhes($this->datainicio, $this->datafim,  $index['id'], $this->idusuario);

                    foreach($lancamento as $index):

                        // Conversão de data da ocorrencia
                        $dataOcorrencia =  date('Y-m-d H:i:s', strtotime($index['data_pontohorarios']));
                        $objDataOcorrencia = new DateTime($dataOcorrencia);

                        // Conversão de horário de entrada ocorrência
                        $dataOcorrenciaEntrada =  date('Y-m-d H:i:s', strtotime($index['entrada_pontohorarios']));
                        $objDataOcorrenciaEntrada = new DateTime($dataOcorrenciaEntrada);

                        // Conversão de horário de saida ocorrência
                        $dataOcorrenciaSaida =  date('Y-m-d H:i:s', strtotime($index['saida_pontohorarios']));
                        $objDataOcorrenciaSaida = new DateTime($dataOcorrenciaSaida);

                        echo '<tr>';
                        echo '<td>=> [' . $objDataOcorrencia->format('d/m/Y') . '] </td>';
                        echo '<td>' . $index['titulo_pontohorarios'] . '</td>';
                        echo '<td colspan="3">Entrada [' . $objDataOcorrenciaEntrada->format('H:i') . '] Saida [' . $objDataOcorrenciaSaida->format('H:i') . ']</td>';
                        echo '</tr>';   
                    endforeach;
                
                ?>
                <!-- <tr>
                    <td>=> [02/01] atraso</td>
                    <td colspan="3">Entrada [00:00] Entrada Pausa [00:00] Saida Pausa [00:00] Saida [00:00] &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Total Diario [00:00]</td>
                </tr> 
                <tr>
                    <td>=> [02/01] falta justificada</td>
                    <td colspan="3">Entrada [00:00] Entrada Pausa [00:00] Saida Pausa [00:00] Saida [00:00] &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Total Diario [00:00]</td>
                </tr>   
                <tr>
                    <td>=> [02/01] falta injustificada</td>
                    <td colspan="3">Entrada [00:00] Entrada Pausa [00:00] Saida Pausa [00:00] Saida [00:00] &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Total Diario [00:00]</td>
                </tr>    -->
            </table>
        </td>
    </tr>

</table>
<br>
<div> 
    OBS: ___________________________________________________________________________________________
</div>
<br><br>
<?php endforeach;?>




