
<table style="border: 0px none black; font-size: 20; text-align: center;" border="0">
    <tr>
        <td><?php echo $this->nomeescola ?></td>
    </tr>
</table>
<br>
<table cellspacing="1" cellpadding="1" width="894" style="border: 0px solid black; font-size: 9; text-align: center;" border="1">
    <tr>
        <td>Tipo de Escola : <?php echo $this->usuario['descdepartamento'] ?></td> 
        <td>Total Funcionários : [<?php echo $this->totalfuncionarios ?>]</td>
        <td>Período de : <?php echo $this->datainicio ?> á <?php echo $this->datafim ?></td>
        <td>Data de impressão : <?php echo date('d/m/Y H:i') ?></td>
    </tr>
</table>

<br>

<table cellspacing="1" cellpadding="1" style="border: 1px solid black; font-size: 8" border="1">


        <tr style="font-size: 10; padding: 15px; text-align: center;">
            <td rowspan="2" width="40">Pront.</td>
            <td rowspan="2">Nome </td>
            <td rowspan="2">Cargo efetivo ou contratado</td>
            <td colspan="2">Geral</td>
            <td colspan="4">Faltas Injustificadas</td>
            <td colspan="4">Faltas Justificadas</td>
            <td rowspan="2">Obs</td>
            
        </tr>
        <tr>
            <td style="font-size: 9; padding: 15px; text-align: center;">Dias Uteis</td>
            <td style="font-size: 9; padding: 15px; text-align: center;">Lançados</td>
            <!-- <td style="font-size: 9; padding: 15px; text-align: center;">Trabalho</td> -->

            <td style="font-size: 9; padding: 15px; text-align: center;" colspan="4"></td>

            <td style="font-size: 9; padding: 15px; text-align: center;" colspan="4"></td>

            
        </tr>

        <tr style="font-size: 9; padding: 15px; text-align: center;">
            <td colspan="14"></td>
        </tr>

       <?php 

       /* ================================================================
                        Setando na tabela os funcionários do local
       =================================================================== */

       foreach($this->funcionarios as $row): 

            $total = Funcionariosgeraispontohorarios::getFGLanc($row['id'], $this->usuario['idlocal'], $this->departamento, $this->engldatainicio, $this->engldatafim);

            if($total > 0){

            echo '<tr style="font-size: 9; padding: 15px; text-align: center;">';
                echo '<td style="font-size: 7;">' . $row['rgf'] . ' ' . $total . '</td>';
                echo '<td style="font-size: 6;">' . $row['nome'] . '</td>';
                echo '<td style="font-size: 6;">' . $row['funcao'] . '</td>';

                // echo '<td style="font-size: 6;"></td>';
                // echo '<td style="font-size: 6;"></td>';
                // echo '<td style="font-size: 6;"></td>';
                $feriados = Funcionariosgeraispontohorarios::getFeriadosValidos($this->engldatainicio, $this->engldatafim);
                $lancadosFDS = Funcionariosgeraispontohorarios::getFGLancFDS($row['id'], $this->usuario['idlocal'], $this->departamento, $this->engldatainicio, $this->engldatafim);
                $feriadosUteis = Funcionariosgeraispontohorarios::getFGLancFeriados($row['id'], $this->usuario['idlocal'], $this->departamento, $this->engldatainicio, $this->engldatafim);

                echo '<td>' . (((int)Funcionariosgeraispontohorarios::getDiasUteisPeriodo($this->engldatainicio, $this->engldatafim)  - (int)$feriados ) + ($lancadosFDS + $feriadosUteis)) . '</td>';
                echo '<td>' . Funcionariosgeraispontohorarios::getFGLanc($row['id'], $this->usuario['idlocal'], $this->departamento, $this->engldatainicio, $this->engldatafim) . '</td>';
                
               // echo '<td>';
                    //Populando campo com atrasos encontrados
                    // $atrasos = Funcionariosgeraispontohorarios::getFGLancAtrasosTotal($row['id'], $this->usuario['idlocal'], $this->departamento, $this->engldatainicio, $this->engldatafim);

                   // echo $atrasos;
                
                //echo '</td>';
                //echo '<td>';
                
                // $injustificado = Funcionariosgeraispontohorarios::getFGFInjustificadas($row['id'], $this->usuario['idlocal'], $this->departamento, $this->engldatainicio, $this->engldatafim);
                // $justificado = Funcionariosgeraispontohorarios::getFGFJustificados($row['id'], $this->usuario['idlocal'], $this->departamento, $this->engldatainicio, $this->engldatafim);
                // $lancado = Funcionariosgeraispontohorarios::getFGLanc($row['id'], $this->usuario['idlocal'], $this->departamento, $this->engldatainicio, $this->engldatafim);

                // $trabalhados = ((int)$lancado - ((int)$justificado + (int)$injustificado));

                // echo $trabalhados;

                //echo '</td>';
                echo '<td colspan="4">';

                    //Populando campo com as datas das faltas injustificadas

                    $injustificadas = Funcionariosgeraispontohorarios::getFGFInjustificadasDetalhes($row['id'], $this->usuario['idlocal'], $this->departamento, $this->engldatainicio, $this->engldatafim);
                    
                    foreach($injustificadas as $index): 
                        
                        $data =  date("Y-m-d", strtotime($index['data_pontohorarios']));
                        $objData = new DateTime($data);

                        if($index['titulo_pontohorarios'] == 'Horas Injustificadas'): 


                            $entrada = new DateTime($index['entrada_pontohorarios']);
                            $saida = new DateTime($index['saida_pontohorarios']);
                            $pausaEntrada = new DateTime($index['entradapausa_pontohorarios']);
                            $pausaSaida = new DateTime($index['saidapausa_pontohorarios']);

                            $difTrabalhado = $entrada->diff($saida);
                            $difPausas = $pausaEntrada->diff($pausaSaida);

                            $difT = explode(':',$difTrabalhado->format("%H:%I:%S"));
                            $difP = explode(':',$difPausas->format("%H:%I:%S"));
                            
                            $trabalhado = new DateTime('2018-01-01 ' . $difT[0] . ':' . $difT[1] . ':' . $difT[2]);
                            $pausa = new DateTime('2018-01-01 ' . $difP[0] . ':' . $difP[1] . ':' . $difP[2]);

                            $total = $pausa->diff($trabalhado);
                          
                        // Caso seja uma falta com apenas horas injustificadas
                            echo '[ ' . $objData->format('d/m');
                            echo ' Horas ';
                           
                            echo ' ]';
                           
                            $horario_oficial = Funcionariosgeraispontodefinicaohorarios::getFuncionariosgeraispontodefinicaohorariosByIdHelper($index['fkhorarioid']); 
                          
                            $entrada_oficial = new DateTime('2018-01-01 ' . $horario_oficial['hora_entrada']);
                            $saida_oficial = new DateTime('2018-01-01 ' . $horario_oficial['hora_saida']);
                            $pausaEntrada_oficial = new DateTime('2018-01-01 '. $horario_oficial['hora_pausa_entrada']);
                            $pausaSaida_oficial = new DateTime('2018-01-01 ' . $horario_oficial['hora_pausa_saida']);

                            $difTrabalhado_oficial = $entrada_oficial->diff($saida_oficial);
                            $difPausas_oficial = $pausaEntrada_oficial->diff($pausaSaida_oficial);

                            $difT_oficial = explode(':',$difTrabalhado_oficial->format("%H:%I:%S"));
                            $difP_oficial = explode(':',$difPausas_oficial->format("%H:%I:%S"));
                            
                            $trabalhado_oficial = new DateTime('2018-01-01 ' . $difT_oficial[0] . ':' . $difT_oficial[1] . ':' . $difT_oficial[2]);
                            $pausa_oficial = new DateTime('2018-01-01 ' . $difP_oficial[0] . ':' . $difP_oficial[1] . ':' . $difP_oficial[2]);

                            $total_oficial = $pausa_oficial->diff($trabalhado_oficial);

                            //echo '[' . $total_oficial->format('%H:%I:%S') . ']';

                            $diferencaTrabalhado =  new DateTime('2018-01-01 ' .  $total->format('%H:%I:%S'));
                            $diferencaCargaHoraria = new DateTime('2018-01-01 ' .  $total_oficial->format('%H:%I:%S'));
                            $diferencaTotal = $diferencaTrabalhado->diff($diferencaCargaHoraria);

                            if($diferencaTotal->format('%H:%I:%S') > '00:00:00'){
                                echo ' <strong style="color: red">( ' . $diferencaTotal->format('%H:%I:%S') . ') </strong>';
                            }else{
                                echo  ' (' . $diferencaTotal->format('%H:%I:%S') . ')';
                            }//end if
                            
                            echo '<br>';
                        else: 
                        // Caso seja uma falta injustificada
                          

                            echo '[' . $objData->format('d/m/Y') . ' Dia]<br>';
                            
                        endif;

                        
                    endforeach;

                echo '</td>';
                // echo '<td> 09 </td>';
                echo '<td colspan="4">';
                            
                    

                    // Populando campo com as datas e detalhes de outras Ocorrências do período

                    $dataInicio = new DateTime($this->engldatainicio);
                    $dataFim = new DateTime($this->engldatafim);

                    $queriesAfastamentos = array();
                    $queriesAfastamentos['idfuncionarioafastadolicenca'] = $row['id'];
                    $queriesAfastamentos['progresso'] = 'aprovado';

                    $arrayAfastamentos = Rhafastamentoslicencas::getRhafastamentoslicencasHelper($queriesAfastamentos);

                    foreach($arrayAfastamentos as $auxiliar):

                            $inicio_afastamento = new DateTime($auxiliar['datainicio']);
                            $final_afastamento = new DateTime($auxiliar['datafim']);

                            if( (($inicio_afastamento >= $dataInicio) and ($inicio_afastamento <= $dataFim)) or ( ($final_afastamento >= $dataInicio) and ($final_afastamento <= $dataFim) ) ):
                                $final_afastamento->sub(new DateInterval('P1D'));
                                echo "Afastamento de " . $inicio_afastamento->format('d/m/Y') . " à " . $final_afastamento->format('d/m/Y') . '<br>';
                            endif;
                    
                    endforeach;

                    $queriesFerias = array();
                    $queriesFerias['idfuncionarioferias'] = $row['id'];
                    $queriesFerias['progresso'] = 'aprovado';

                    $arrayFerias = Ferias::getFeriasHelper($queriesFerias);

                    foreach($arrayFerias as $auxiliar):

                            $inicio_ferias = new DateTime($auxiliar['datainicio']);
                            $final_ferias = new DateTime($auxiliar['datafim']);

                           
                            //echo "-Ferias de " . $inicio_afastamento->format('d/m/Y') . " à " . $final_afastamento->format('d/m/Y') . '<br>';
                            //  and ( ($final_ferias >= $this->engldatainicio) and ($final_ferias <= $this->engldatafim) )  (($inicio_ferias >= $this->engldatainicio) and ($inicio_ferias <= $this->engldatafim))
                            // $final_ferias >= $this->engldatainicio
                            // 
                            //echo '[' . $this->engldatafim . ']';
                            if( (($inicio_ferias >= $dataInicio) and ($inicio_ferias <= $dataFim)) or ( ($final_ferias >= $dataInicio) and ($final_ferias <= $dataFim) )):
                                $final_ferias->sub(new DateInterval('P1D'));
                                echo "Ferias de " . $inicio_ferias->format('d/m/Y') . " à " . $final_ferias->format('d/m/Y') . '<br>';
                            endif;
                    
                    endforeach;

                    $justificados = Funcionariosgeraispontohorarios::getFGFJustificadosDetalhes($row['id'], $this->usuario['idlocal'], $this->departamento, $this->engldatainicio, $this->engldatafim);
                    $atestados = Funcionariosgeraispontohorarios::getFGFJustificadosDetalhesAtestados($row['id'], $this->usuario['idlocal'], $this->departamento, $this->engldatainicio, $this->engldatafim);
                    $grupoAnterior = '';

                    // Pegando os ids de licencas com mais de um dia

                    // print_r($atestados);
                    foreach($atestados as $index):
                        

                        $titulo = explode('@', $index['titulo']);
                            
                           //echo $index['titulo'] . ' - ' . $index['Total'] . ' - ' . $index['inicio'] . ' <br>';

                        $dataInicio = new DateTime($index['inicio']);

                        echo '[' . $titulo[0] . ' de ' . $dataInicio->format('d-m');

                        $dias = (int)$index['Total'] - 1;

                        $dataInicio->add(new DateInterval('P' . $dias . 'D')); //

                        echo  ' à ' . $dataInicio->format('d-m') . '] <br>';
                       
                    endforeach;

                    foreach($justificados as $index): 

                        

                        $data =  date("Y-m-d", strtotime($index['data_pontohorarios']));
                        $objData = new DateTime($data);
                        
                        if(strpos($index['titulo_pontohorarios'],'@')){
                            // Caso seja um período com mais de um dia
                            $titulo = explode('@', $index['titulo_pontohorarios']);
                            
                            //echo '(-' . $titulo[0] . ' ' . $objData->format('d/m')  . ')';
                        }else{
                            if($index['titulo_pontohorarios'] != 'Afastamento'){
                                echo ' [<strong>' . $index['titulo_pontohorarios'] . '</strong> ' . $objData->format('d/m') .  '] '; 
                            }//end if else
                        }//end if else

                        $grupoAnterior = $index['titulo_pontohorarios'];
                       

                    endforeach;

                echo '</td>';
                //echo '<td> 11 </td>';
                echo '<td></td>';
            echo '</tr>';

            }//end if

       endforeach;
       
       ?>
   

</table>

<br><br><br><br><br>

<table style="text-align: center">
    <tr>
        <td>_________________________________________________________________</td>
        <td>_________________________________________________________________</td>
    </tr>
    <tr>
        <td><h2>Responsável pelo setor de RH</h2></td>
        <td><h2>Secretário(a) de Educação</h2></td>
    </tr>
    <tr>
        <td><h2>___/___/______</h2></td>
        <td><h2>___/___/______</h2></td>
    </tr>
</table>

<!--
<table style="border: 0px none black; font-size: 20; text-align: center;" border="0">
    <tr>
        <td>Pólo <?php echo $this->escola['desclocal'] ?></td>
    </tr>
</table>
<br>
<table cellspacing="1" cellpadding="1" width="894" style="border: 0px solid black; font-size: 9; text-align: center;" border="1">
    <tr>
        <td>Tipo de Escola : <?php echo $this->escola['descdepartamento'] ?>]</td> 
        <td>Total Funcionários : [<?php echo $this->totalfuncionarios ?>]</td>
        <td>Período de : <?php echo $this->datainicio ?> á <?php echo $this->datafim ?></td>
        <td>Data de impressão : <?php echo date('d/m/Y H:i') ?></td>
    </tr>
</table>
<br><br>



<table cellspacing="1" cellpadding="1" style="border: 1px solid black; font-size: 8" border="1">
    
    <tr style="font-size: 10; padding: 15px; text-align: center;">
        <td rowspan="2" width="40">Pront.</td>
        <td rowspan="2">Nome</td>
        <td rowspan="2">Cargo efetivo ou contratado</td>
        <td colspan="2">Presenças</td>
        <td colspan="2">Faltas Injustificadas</td>
        <td colspan="2">Outras Ocorrencias</td>
        <td rowspan="2">Obs</td>
    </tr>
    <tr>
        <td style="font-size: 9; padding: 15px; text-align: center;">Dias</td><td style="font-size: 9; padding: 15px; text-align: center;">Lançados</td>
        <td style="font-size: 9; padding: 15px; text-align: center;" colspan="2">Dias</td>
        <td style="font-size: 9; padding: 15px; text-align: center;" colspan="2">Dias</td>
    </tr>
    

    <?php $counter = 0 ?>

    <?php foreach($this->rows as $funcionario): ?>
        <!--    Linha de Inclusão  -->
        <tr style="font-size: 10; padding: 15px; text-align: center; background-color: <?php echo (($counter%2) == 0) ? '#e6e6e6' : '#ffffff' ?>" >
            <td rowspan="2" style="text-align: center;"><?php echo $funcionario['rgf'] ?></td>
            <td rowspan="2"><?php echo $funcionario['nome'] ?></td>
            <td rowspan="2"><?php echo (isset($funcionario['funcao'])) ? $funcionario['funcao'] : '----' ?></td>
            <td rowspan="2">Total [<?php echo $funcionario['totalDiasUteis'] ?>]</td><td rowspan="2"><b> [<?php echo $funcionario['lancamentos'] ?>]</b></td>
            <td colspan="2" rowspan="2">
            
            <?php 
            
                foreach($funcionario['totaldiasfaltas'] as $index):
                    $data =  date("d-m-Y", strtotime($index['data_pontohorarios']));
                    $objDate = new DateTime($data);
                    echo '[' . $objDate->format('d/m') . '] &nbsp;';
                endforeach;
            
            ?>
            <!--
            </td>
            <td colspan="2" rowspan="2">
            <?php 
               
                foreach($funcionario['totaldiasocorrencias'] as $index):
                    $data =  date("d-m-Y", strtotime($index['data_pontohorarios']));
                    $objDate = new DateTime($data);
                    echo '<small>[' . $objDate->format('d/m') . ' - ' . $index['titulo_pontohorarios'] . ']</small>';
                endforeach;
            ?>
            </td>
            <td rowspan="2"></td>
        </tr>
        <tr style="font-size: 10; padding: 15px; text-align: center; background-color: <?php echo (($counter%2) == 0) ? '#e6e6e6' : '#ffffff' ?>" >
            <!-- <td>Lançados1 [<?php echo $funcionario['lancamentos'] ?>]</td> -->
            
            
        <!--    
        </tr>
        <!--    Linha de Inclusão  -->    <!--

    <?php $counter++;?>
    <?php endforeach; ?>

</table>

<br><br><br><br>
<br><br><br><br>
<br><br><br><br>


<table>
    
</table>

-->





