		<!-- Content -->
		<div id="content">

		    <!-- Content wrapper -->
		    <div class="wrapper">

			    <!-- Breadcrumbs line -->
			    <div class="crumbs">
			    	<?= $this->render('/helpers/breadcrumb.phtml') ?>
			    </div>
			    <!-- /breadcrumbs line -->

			    <!-- Page header -->
			    <div class="page-header">
			    	<div class="page-title">
				    	<h5>Atividades Complementares</h5>
				    	<span>Visualize as atividades complementares</span>
			    	</div>
			    	
			    </div>
			    <!-- /page header -->
			    
			    <?php if (isset($this->crudMessage)) : ?>

				<div class="alert alert-success">
                	<button data-dismiss="alert" class="close" type="button">×</button>
                    <strong>Operação realizada com sucesso!</strong>
	    			<span><br /><?php echo $this->crudMessage ?></span>
                </div>	

			    <?php endif ?>
	                        	                        
                <!-- Table with footer -->
                <div class="widget">
                	<form action="#" class="form-horizontal" method="post">
                		<input type="hidden" value="<?php echo (isset($this->post_var['sorting'])) ? $this->post_var['sorting'] : '' ?>" name="sorting" />
	                	<div class="navbar">
	                		<div class="navbar-inner">
	                			<h6>Visualizando registros</h6>

	                			<?php if (Mn_Util::isAccess($this->getController(), 'adicionar')) : ?>

	                			<a style="float:right;" href="<?php echo $this->baseUrl() ?>/<?php echo 'admin' ?>/<?php echo $this->getController() ?>/adicionar" class="btn btn-primary">
	                				<span class="icon-plus"></span>&nbsp;Adicionar Atividade Complementar
	                			</a>
	                			
	                			<?php endif ?>
	                		</div>
	                	</div>
	                    <div class="table-overflow">
	                        <table class="table table-content">
	                            <thead>
	                                <tr>
	                                	<th width="20">#</th>
                                    	<th class="s-idtipoatividade sorting">Tipo de Atividade</th>
                                    	<th class="s-idescola sorting">Escola</th>
                                    	<th class="s-titulo sorting">Título</th>
                                    	<th class="s-status sorting">Status</th>

	                                	<th width="96">Ações</th>
	                                </tr>
	                                <tr>
	                                    <th></th>
	                                    <th>
	                                    	<div>
												<select name="idtipoatividade" placeholder="Todos" class="select">
													<option value="">Todos</option>

													<?php foreach (Coordenacaotiposatividadescomplementares::getCoordenacaotiposatividadescomplementaresHelper(array('status'=>'Ativo')) as $k=>$v) : ?>

													<option value="<?= $v['id'] ?>"><?= $v['tipo'] ?></option>
													
													<?php endforeach ?>
												</select>
											</div>
										</th>

										<th>
											<div>
												<select name="idaluno" placeholder="Todos" class="select">
													<option value="">Todos</option>

													<?php foreach (Escolas::getEscolasHelper(array('status'=>'Ativo')) as $k=>$v) : ?>

													<option value="<?= $v['id'] ?>"><?= $v['escola'] ?></option>
													
													<?php endforeach ?>
												</select>
											</div>
										</th>

										<th>
											<input name="titulo" value="<?= (isset($this->post_var['titulo'])) ? $this->post_var['titulo'] : '' ?>" type="text" placeholder="Título da atividade" class="span3">
										</th>
										
										<th>	
											<div>
												<select name="status1" placeholder="Todos" class="select">
													<option value="">Todos</option>
													<option value="Ativo">Ativo</option><option value="Bloqueado">Bloqueado</option>
												</select>
											</div>
										</th>                   

	                                    <th><button class="btn btn-mini btn-primary" type="submit">Pesquisar</button></th>
	                                </tr> 
	                                                                
	                            </thead>
	                            <tbody>
	                            	<?php if (sizeof($this->rows)==0) : ?>
	                                <tr>
	                                    <td colspan="5">Nenhum registro foi encontrado!</td>
	                                </tr>
	                            	
	                            	<?php else : ?>
	                            	<?php foreach ($this->rows as $row) : ?>
	                                <tr>
	                                	<td><?php echo $row['id'] ?></td>

										<td>
										<?php
												$___rows = Coordenacaotiposatividadescomplementares::getCoordenacaotiposatividadescomplementaresHelper(array('id'=>$row['idtipoatividade']));
												$___row = (sizeof($___rows)>0) ? $___rows[0] : false;	
												
												echo ($___row) ? $this->formatTextoBranco($___row['tipo']) : '--';		
										?>											
										</td>
										<td>
										<?php
												$___rows = Escolas::getEscolasHelper(array('id'=>$row['idescola']));
												$___row = (sizeof($___rows)>0) ? $___rows[0] : false;	
												
												echo ($___row) ? $this->formatTextoBranco($___row['escola']) : '--';		
										?>
										</td>
										<td>
											<?= $row['titulo'] ?>
										</td>

										<td>
											<?php if (Mn_Util::isAccess($this->getController(), 'editar')) : ?>

												<a onclick="javascript:statusChange(<?php echo $row["id"]?>, this);" href="javascript:;"><?php echo $row['status'] ?></a>
											<?php else : ?>

												<?= $row['status'] ?>
											<?php endif ?>
										</td>			                				

	                                    <td>
	                                        <ul class="table-controls">
	                                            <li>
	                                            	<a title="" class="btn tip" href="<?= $this->baseUrl() ?>/<?= 'admin' ?>/<?= $this->getController() ?>/visualizar/id/<?= $row['id'] ?>" data-original-title="Visualizar">
	                                            		<i class="icon-eye-open"></i>
	                                            	</a> 
	                                            </li>

	                                            <?php if (Mn_Util::isAccess($this->getController(), 'editar')) : ?>

	                                            <li>
	                                            	<a title="" class="btn tip" href="<?= $this->baseUrl() ?>/<?= 'admin' ?>/<?= $this->getController() ?>/editar/id/<?= $row['id'] ?>" data-original-title="Editar">
	                                            		<i class="icon-pencil"></i>
	                                            	</a> 
	                                            </li>
	                                            <?php endif ?>

	                                            <?php if (Mn_Util::isAccess($this->getController(), 'excluir')) : ?>

	                                            <li>
	                                            	<a title="" class="btn tip" href="javascript:confirmDelete('<?php echo $row['id']; ?>','registro');" data-original-title="Excluir">
	                                            		<i class="icon-remove"></i>
	                                            	</a> 
	                                            </li>
	                                            <?php endif ?>
	                                        </ul>
	                                    </td>
	                                </tr>
	                            	<?php endforeach ?>                         	
	                            	<?php endif ?>	
	                            </tbody>
	                        </table>
	                    </div>
	                    <?= $this->render('/helpers/paginator.phtml') ?>                    
                    </form>
                </div>
                <!-- /table with footer -->
            </div>
		    <!-- /content wrapper -->
		</div>
		<!-- content -->

<script type="text/javascript" src="<?=$this->baseUrl('/public/scripts/admin/atividadescomplementares_index.js')?>"></script>
<script type="text/javascript">

	var form_values = {};

	<?php if (isset($this->post_var)) :  ?>

	form_values.status1 = '<?=(isset($this->post_var['status1']))?$this->post_var['status1']:$this->post_var['status']?>';
	form_values.idtipoatividade = '<?=(isset($this->post_var['idtipoatividade']))?$this->post_var['idtipoatividade']:''?>';
	form_values.idescola = '<?=(isset($this->post_var['idescola']))?$this->post_var['idescola']:''?>';
	
	<?php endif ?>

	var sorting = ["idtipoatividade", "idescola", "titulo"];
	
</script>	


