		<!-- Content -->
		<div id="content"> 

		    <!-- Content wrapper -->
		    <div class="wrapper">

			    <!-- Breadcrumbs line -->
			    <div class="crumbs">
			    	<?php echo $this->render('/helpers/breadcrumb.phtml') ?>
			    </div>
			    <!-- /breadcrumbs line -->

			    <!-- Page header -->
			    <div class="page-header">
			    	<div class="page-title">
				    	<h5>Formulário de Feriados do setor de RH</h5>
				    	<span>Verifique os campos e preencha com os dados</span>
			    	</div>
			    </div>
			    <!-- /page header -->

			    <?php if (isset($this->crudMessage)) : ?>
					<div class="alert alert-success">
	                	<button data-dismiss="alert" class="close" type="button">×</button>
	                    <strong>Operação realizada com sucesso!</strong>
		    			<span><br /><?php echo $this->crudMessage ?></span>
	                </div>			    
			    <?php endif; ?>

				<form id="form" name="form" action="" method="post" class="form-horizontal" enctype="multipart/form-data"> 
					<input type="hidden" value="<?php echo (isset($this->post_var)) ? $this->post_var["id"] : ''; ?>" name="id" id="id" />
					
					<fieldset>
						<!-- General form elements -->
						<div class="widget row-fluid">
						    <div class="navbar">
						        <div class="navbar-inner">
						            <h6>Digite as informações do formulário de Feriados</h6>
						        </div>
						    </div>

						    <div class="well">
								<?php if (isset($this->erros)) : ?>
									<div class="alert alert-error margin">
				                        <button data-dismiss="alert" class="close" type="button">×</button>
				                        <strong>Há erros no formulário!</strong>
					    				<?php foreach ($this->erros as $k=>$v) : ?>
					    					<span><br />- <?php echo $v ?></span>
					    				<?php endforeach;?>			                        
				                    </div>
			                    <?php endif; ?>
		

                                <div class="control-group">
					<label class="control-label">Data</label>
					<div class="controls"><input placeholder="Data" name="data" value="<?php echo (isset($this->post_var['data_pontoferiado'])) ? Mn_Util::formPostVarData($this->post_var['data_pontoferiado']) : '' ?>" type="text"  class="span3" /></div>
				</div>
                                                        
                                <div class="control-group">
					<label class="control-label">Nome do Feriado <span class="required">*</span></label>
					<div class="controls"><input maxlength="500" placeholder="nome" name="nome" value="<?php echo (isset($this->post_var['nome_pontoferiado'])) ? $this->post_var['nome_pontoferiado'] : '' ?>" type="text"  class="span3" /></div>
				</div>

				<div class="control-group">
					<label class="control-label">Descrição <span class="required">*</span></label>
					<div class="controls"><textarea class="span12" name="descricao" cols="5" rows="5"><?php echo (isset($this->post_var['descricao_pontoferiado'])) ? $this->post_var["descricao_pontoferiado"] : ''; ?></textarea></div>
				</div>

				<div class="control-group">
					<label class="control-label">Recorrente <span class="required">*</span></label>
					<?php  if(isset($this->post_var['recorrente_pontoferiado']) and $this->post_var['recorrente_pontoferiado'] == 'nao'):?>
						<div class="controls"><input name="recorrente" type="checkbox" checked> &nbsp; <span name='recorrente-label'>Feriado não é Recorrente </span></div>
					<?php  else:?>
						<div class="controls"><input name="recorrente" type="checkbox"> &nbsp; <span name='recorrente-label'>Feriado é Recorrente </span></div>
					<?php  endif;?>
					
				</div>
                                                        
				<div class="control-group">
					<label class="control-label">Tipo <span class="required">*</span></label>
					<div class="controls">
						<select name='tipoferiado' class='select'>
							<option value=''> Selecione...</option>
							<option value='NACIONAL'> Nacional</option>
							<option value='ESTADUAL'> Estadual</option>
							<option value='MUNICIPAL'> Municipal</option>
						</select>
					</div>
				</div>


				<div class="control-group">
					<label class="control-label">Status <span class="required">*</span></label>
					<div class="controls">
						<select name="status1" data-placeholder="Status" class="select">
							<option value="">Selecione...</option>
							<option value="Ativo">Ativo</option>
							<option value="Bloqueado">Bloqueado</option>
						</select>
					</div>
				</div>   
						    </div>
						    
			                <div class="form-actions align-right">
			                	<?php if ((isset($this->visualizar)) && ($this->visualizar)) : ?>
			                		<button onclick="window.history.back()" class="btn btn-danger cancelar" type="button">Voltar</button>
			                	<?php else : ?>
				                	<button class="btn btn-primary enviar" type="submit">Salvar</button>
				                	<button onclick="window.history.back()" class="btn btn-danger cancelar" type="button">Cancelar</button>
			                	<?php endif; ?>
			                </div>
						</div>
						<!-- /general form elements -->

					</fieldset> 

				</form>
				<!-- /basic inputs -->

		    </div>
		    <!-- /content wrapper -->

		</div>
		<!-- content -->
				
<script type="text/javascript" src="<?php echo $this->baseUrl('/public/scripts/admin/rhferias_form.js') ?>"></script>
<script type="text/javascript">

	var recorrente = '<?php echo (isset($this->post_var['recorrente_pontoferiado'])) ? $this->post_var['recorrente_pontoferiado'] : "" ?>';

	var form_values = {};
	
	<?php if (isset($this->post_var)) :  ?>
		form_values.iddepartamento = '<?php echo (isset($this->post_var['iddepartamento'])) ? $this->post_var['iddepartamento'] : '' ?>';

form_values.idperiodo = '<?php echo (isset($this->post_var['idperiodo'])) ? $this->post_var['idperiodo'] : '' ?>';

form_values.tipoferiado = '<?php echo (isset($this->post_var['tipo_pontoferiado'])) ? $this->post_var['tipo_pontoferiado'] : '' ?>';

form_values.status1 = '<?php echo (isset($this->post_var['status1'])) ? $this->post_var['status1'] : $this->post_var['status'] ?>';


	<?php endif; ?>
	<?php if ((isset($this->post_var['idsfuncionarios'])) && ($this->post_var['idsfuncionarios']!="")) :  ?>
	form_values.idsfuncionarios = [<?php echo $this->post_var['idsfuncionarios'] ?>];
	<?php endif; ?>
	visualizar = <?php echo  ((isset($this->visualizar)) && ($this->visualizar))  ? 'true' : 'false' ?>;
</script>
