		<!-- Content -->
		<div id="content"><?php $idperfil = Usuarios::getusuario('idperfil'); ?>
		    <!-- Content wrapper -->
		    <div class="wrapper">

			    <!-- Breadcrumbs line -->
			    <div class="crumbs">
			    	<?php echo $this->render('/helpers/breadcrumb.phtml') ?>
			    </div>
			    <!-- /breadcrumbs line -->

			    <!-- Page header -->
			    <div class="page-header">
			    	<div class="page-title">
				    	<h5>Formulário do visita técnica</h5>
				    	<span>Verifique os campos e preencha com os dados</span>
			    	</div>
			    </div>
			    <!-- /page header -->

			    <?php if (isset($this->crudMessage)) : ?>
					<div class="alert alert-success">
	                	<button data-dismiss="alert" class="close" type="button">×</button>
	                    <strong>Operação realizada com sucesso!</strong>
		    			<span><br /><?php echo $this->crudMessage ?></span>
	                </div>			    
			    <?php endif; ?>

				<form id="form" name="form" action="" method="post" class="form-horizontal" enctype="multipart/form-data"> 
					<input type="hidden" value="<?php echo (isset($this->post_var)) ? $this->post_var["id"] : ''; ?>" name="id" id="id" />
					<input maxlength="500" placeholder="Perfil do Usuario" name="idperfil" value="<?php echo (isset($this->post_var['idperfil'])) ? $this->post_var['idperfil'] : Usuarios::getUsuario('idperfil')  ?>" type="hidden"  class="span3" />
					
					<fieldset>
						<!-- General form elements -->
						<div class="widget row-fluid">
						    <div class="navbar">
						        <div class="navbar-inner">
						            <h6>Digite as informações do formulário</h6>
						        </div>
						    </div>

						    <div class="well">
								<?php if (isset($this->erros)) : ?>
									<div class="alert alert-error margin">
				                        <button data-dismiss="alert" class="close" type="button">×</button>
				                        <strong>Há erros no formulário!</strong>
					    				<?php foreach ($this->erros as $k=>$v) : ?>
					    					<span><br />- <?php echo $v ?></span>
					    				<?php endforeach;?>			                        
				                    </div>
			                    <?php endif; ?>						    
						    

				<div class="control-group">
					<div class="controls1 visualizar">
						<table class="table table-content" width="100%">
							<tbody>
								<tr>
									<input type="hidden" value="<?php echo (isset($this->post_var['sequencial'])) ? $this->post_var['sequencial'] : $this->sequencial ?>" name="sequencial" id="sequencial" />
									<td width="33%">Sequencial/Ano: <?php echo (isset($this->post_var['sequencial'])) ? $this->post_var['sequencial'] : $this->sequencial ?></td>
									<td width="34%">Data da Abertura: <?php echo date('d/m/Y') ?></td>
									<td width="33%">Hora da Abertura: <?php echo date('G:i:s') ?></td>
								</tr>
							</tbody>
						</table>
						
					</div>

					<?php if(!empty($this->post_var['dataciente'])) : ?>
						<div class="controls1 visualizar">
							<table class="table table-content" width="100%">
								<tbody>
									<tr>
										<td width="33%">Ciente Por: <?php echo (isset($this->post_var['idusuario'])) ? Usuarios::getUsuarioByIdHelper($this->post_var['idusuario'])['nomerazao'] . ' ' . Usuarios::getUsuarioByIdHelper($this->post_var['idusuario'])['rgf'] : '' ?></td>
										<td width="33%">Data Ciente: <?php echo (isset($this->post_var['dataciente'])) ? Mn_Util::formPostVarData($this->post_var['dataciente']) : ''; ?></td>
										<td></td>
									</tr>
								</tbody>
							</table>
						</div>
					<?php endif; ?>
				</div>
				<?php 
					if($this->editar AND Usuarios::getUsuario('idperfil') == 29):?>
						<input name="idusuariovisita" value="<?php echo (isset($this->post_var['idusuariovisita'])) ? $this->post_var['idusuariovisita'] : '' ?>" type="hidden"/>
						<input type="hidden" name="idescola" value="<?php echo (isset($this->post_var['idescola'])) ? $this->post_var['idescola'] : '' ?>"> 
						<input  name="nomefuncionario" value="<?php echo (isset($this->post_var['nomefuncionario'])) ? $this->post_var['nomefuncionario'] : '' ?>" type="hidden"/>
						<input type="hidden" value="<?php echo(isset($this->post_var['datalancamento'])) ? Mn_Util::formPostVarData($this->post_var['datalancamento']) : '' ?>" name="datalancamento"> 
						<input type="hidden" value="<?php echo(isset($this->post_var['equipeproducaocompleta'])) ? $this->post_var['equipeproducaocompleta'] : ''; ?>" name="equipeproducaocompleta"/>
						<input type="hidden" value="<?php echo(isset($this->post_var['producoesorganizacoeshigienes'])) ? $this->post_var['producoesorganizacoeshigienes'] : ''; ?>" name="producoesorganizacoeshigienes"/>
						<input type="hidden" value="<?php echo(isset($this->post_var['estoqueorganizacoeshigienesexecutado'])) ? $this->post_var['estoqueorganizacoeshigienesexecutado'] : ''; ?>" name="estoqueorganizacoeshigienesexecutado"/>
						<input type="hidden" value="<?php echo(isset($this->post_var['estoqueorganizacoeshigienesdeestoque'])) ? $this->post_var['estoqueorganizacoeshigienesdeestoque'] : ''; ?>" name="estoqueorganizacoeshigienesdeestoque"/>
						<input type="hidden" value="<?php echo(isset($this->post_var['amostrasalimentocoletadas'])) ? $this->post_var['amostrasalimentocoletadas'] : ''; ?>" name="amostrasalimentocoletadas"/>
						<input type="hidden" value="<?php echo(isset($this->post_var['horavisita'])) ? $this->post_var['horavisita'] : ''; ?>" name="horavisita"/>
						<input type="hidden" value="<?php echo(isset($this->post_var['observacoes'])) ? $this->post_var['observacoes'] : ''; ?>" name="observacoes"/>
						<input type="hidden" value="<?php echo(isset($this->post_var['funcao'])) ? $this->post_var['funcao'] : ''; ?>" name="funcao"/>
				<?php endif; ?>
				<div class="control-group">
					<label class="control-label">Data de lançamento</label>
						<div class="controls"><input placeholder="Data de lançamento" name="datalancamento" value="<?php echo (isset($this->post_var['datalancamento'])) ? Mn_Util::formPostVarData($this->post_var['datalancamento']) : '' ?>" type="text"  class="span3" /></div>
				</div>


				<div class="control-group">
					<label class="control-label">Horário da visita </label>
					<div class="controls"><input  placeholder="Horário da visita" name="horavisita" value="<?php echo (isset($this->post_var['horavisita'])) ? $this->post_var['horavisita'] : '' ?>" type="text"  class="span3" /></div>
				</div>


				<!-- <div class="control-group">
					<label class="control-label">Nome do Usuário <span class="required">*</span></label>
					<div class="controls visualizar"><input maxlength="500" placeholder="Nome do Usuário" name="idusuario" value="<?php echo Usuarios::getUsuario('id') ?>" type="hidden"  class="span3" />
						<?php echo Usuarios::getUsuario('nomerazao') ?> <?php echo Usuarios::getUsuario('sobrenomefantasia') ?>
						<br /><br />
						<b>RGF</b>: <?php echo Usuarios::getUsuario('rgf') ?>
					</div>
				</div> -->
				<div class="control-group">
					<label class="control-label">Unidade Escolar <span class="required">*</span></label>
					<div class="controls">						
		                <select name="idescola" data-placeholder="Escola" class="select" >
							<option value="">Selecione...</option>
							<?php foreach (Escolas::getEscolasHelper(array('status'=>'Ativo')) as $k=>$v) : ?>
							<option value="<?php echo $v['id'] ?>"><?php echo $v['escola'] ?></option>
							<?php endforeach;?>
						</select>						
					</div>
				</div>

				<div class="control-group">
					<label class="control-label">Nome do funcionário que o recebeu  </label>
					<div class="controls">
						<input  maxlength="500" placeholder="Nome do funcionário" name="nomefuncionario" value="<?php echo (isset($this->post_var['nomefuncionario'])) ? $this->post_var['nomefuncionario'] : '' ?>" type="text"  class="span3" />
					</div>
				</div>

				<div class="control-group">
					<label class="control-label">Função </label>
					<div class="controls"><input  maxlength="500" placeholder="Função" name="funcao" value="<?php echo (isset($this->post_var['funcao'])) ? $this->post_var['funcao'] : '' ?>" type="text"  class="span3" /></div>
				</div>

				<div class="control-group">
						<label class="control-label">Visita técnica feita por <span class="required">*</span></label>
						<div class="controls">
							<select name="idusuariovisita" data-placeholder="Visita técnica feita por" class="select" >
						<?php if(!empty($this->post_var['editar'])) : ?>
								<option value="<?php echo $this->post_var['idusuariovisita']; ?>"><?php echo Funcionariosgeraisescolas::getFuncionariogeralescolaByIdHelper($this->post_var['idusuariovisita'])['nome']; ?></option>
						<?php elseif(!empty($this->post_var['visualizar'])) : ?> 
							<option value="<?php echo $this->post_var['idusuariovisita']; ?>"><?php echo Funcionariosgeraisescolas::getFuncionariogeralescolaByIdHelper($this->post_var['idusuariovisita'])['nome']; ?></option>
						<?php else: ?> 
								<option value="">Selecione...</option>
								<?php $meusfuncionarios = Meusfuncionariosgeraisescolas::getMeusfuncionariosgeraisescolasHelper(array('status'=>'Ativo', 'idfuncionarioemissor' => Funcionariosgeraisescolas::getFuncionariogeralescolaByIdHelper(Usuarios::getUsuario('idfuncionario'))['id'])); ?>
								<?php if(!empty($meusfuncionarios)): ?>
									<?php foreach ($meusfuncionarios as $k=>$v) : ?>
										<option value="<?php echo $v['idfuncionarioadicionado']; ?>"><?php echo Funcionariosgeraisescolas::getFuncionariogeralescolaByIdHelper($v['idfuncionarioadicionado'])['nome']; ?></option>
									<?php endforeach;?>
								<?php else: ?>
									<?php $idfuncionarios = explode(',',Funcionariosgeraisescolas::getFuncionariogeralescolaByIdHelper(Usuarios::getUsuario('idfuncionario'))['idsfuncionarios']); ?>
									<?php foreach ($idfuncionarios as $k=>$v) : ?>
										<option value="<?php echo $v; ?>"><?php echo Funcionariosgeraisescolas::getFuncionariogeralescolaByIdHelper($v)['nome']; ?></option>
									<?php endforeach;?>
								<?php endif; ?>
								<?php endif; ?>
							</select>
					</div>
				</div> 
 
				<div class="control-group">
					<label class="control-label">Equipe de produção completa </label>
					<div class="controls">

						<input type="radio" name="equipeproducaocompleta" value="Sim" <?php echo ($this->post_var["equipeproducaocompleta"] == 'Sim' ? 'checked' : ''); ?> required>Sim
						<input type="radio" name="equipeproducaocompleta" value="Não" <?php echo ($this->post_var["equipeproducaocompleta"] == 'Não' ? 'checked' : ''); ?> required>Não
					    	
						<?php /*?>
						<select name="equipeproducaocompleta" data-placeholder="Equipe de produção completa" class="select">
							<option value="">Selecione...</option>
							<option value="Sim">Sim</option><option value="Não">Não</option>
						</select>
						<?php */?>
					</div>
				</div>


				<!--<div class="control-group">
					<label class="control-label">Descrição </label>
					<div class="controls"><textarea class="span12" name="producoesdescricoes" cols="5" rows="5"><?php echo (isset($this->post_var)) ? $this->post_var["producoesdescricoes"] : ''; ?></textarea></div>
				</div>


				<div class="control-group">
					<label class="control-label">Observação </label>
					<div class="controls"><textarea class="span12" name="producoesobservacoes" cols="5" rows="5"><?php echo (isset($this->post_var)) ? $this->post_var["producoesobservacoes"] : ''; ?></textarea></div>
				</div>-->
 

				<div class="control-group">
					<label class="control-label">Organização e Higiêne de Produção </label>
					<div class="controls">

					    <input type="radio" name="producoesorganizacoeshigienes" value="Sim" <?php echo ($this->post_var["producoesorganizacoeshigienes"] == 'Sim' ? 'checked' : ''); ?> required>Sim
					    <input type="radio" name="producoesorganizacoeshigienes" value="Não" <?php echo ($this->post_var["producoesorganizacoeshigienes"] == 'Não' ? 'checked' : ''); ?> required>Não
					    <input type="radio" name="producoesorganizacoeshigienes" value="Parcial" <?php echo ($this->post_var["producoesorganizacoeshigienes"] == 'Parcial' ? 'checked' : ''); ?> required>Parcial
					     
						<?php /*?>
						<select name="producoesorganizacoeshigienes" data-placeholder="Organização e Higiêne de Produção" class="select">
							<option value="">Selecione...</option>
							<option value="Sim">Sim</option><option value="Não">Não</option>
							<option value="Parcial">Parcial</option>
						</select>
						<?php */?>						
					</div>
				</div>
				<!--<div class="control-group">
					<label class="control-label">Observação</label>
					<div class="controls"><textarea class="span12" name="obs_producoesorganizacoeshigienes" cols="5" rows="5"><?php echo (isset($this->post_var)) ? $this->post_var["obs_producoesorganizacoeshigienes"] : ''; ?></textarea></div>
				</div>-->


				<div class="control-group">
					<label class="control-label">Organização e Higiêne de estoque </label>
					<div class="controls">

					    <input type="radio" name="estoqueorganizacoeshigienesdeestoque" value="Sim" <?php echo ($this->post_var["estoqueorganizacoeshigienesdeestoque"] == 'Sim' ? 'checked' : ''); ?> required>Sim
					    <input type="radio" name="estoqueorganizacoeshigienesdeestoque" value="Não" <?php echo ($this->post_var["estoqueorganizacoeshigienesdeestoque"] == 'Não' ? 'checked' : ''); ?> required>Não
					    <input type="radio" name="estoqueorganizacoeshigienesdeestoque" value="Parcial" <?php echo ($this->post_var["estoqueorganizacoeshigienesdeestoque"] == 'Parcial' ? 'checked' : ''); ?> required>Parcial
					    			
					</div>
				</div>
				<!--<div class="control-group">
					<label class="control-label">Observação</label>
					<div class="controls"><textarea class="span12" name="obs_estoqueorganizacoeshigienesdeestoque" cols="5" rows="5"><?php echo (isset($this->post_var)) ? $this->post_var["obs_estoqueorganizacoeshigienesdeestoque"] : ''; ?></textarea></div>
				</div>-->

				<div class="control-group">
					<label class="control-label">Cardápio do dia sendo executado </label>
					<div class="controls">

						<input type="radio" name="estoqueorganizacoeshigienesexecutado" value="Sim" <?php echo ($this->post_var["estoqueorganizacoeshigienesexecutado"] == 'Sim' ? 'checked' : ''); ?> required>Sim
						<input type="radio" name="estoqueorganizacoeshigienesexecutado" value="Não" <?php echo ($this->post_var["estoqueorganizacoeshigienesexecutado"] == 'Não' ? 'checked' : ''); ?> required>Não
						<input type="radio" name="estoqueorganizacoeshigienesexecutado" value="Parcial" <?php echo ($this->post_var["estoqueorganizacoeshigienesexecutado"] == 'Parcial' ? 'checked' : ''); ?> required>Parcial
					    			
						<?php /*?>
						<select name="estoqueorganizacoeshigienes" data-placeholder="Organização e Higiêne de estoque" class="select">
							<option value="">Selecione...</option>
							<option value="Sim">Sim</option><option value="Não">Não</option><option value="Parcial">Parcial</option>
						</select>
						<?php */?>						
					</div>
				</div>
				<div class="control-group">
					<label class="control-label">Amostras de alimentos foram coletadas</label>
					<div class="controls">
						<input type="radio" name="amostrasalimentocoletadas" value="Sim" <?php echo ($this->post_var["amostrasalimentocoletadas"] == 'Sim' ? 'checked' : ''); ?> required> Sim
						<input type="radio" name="amostrasalimentocoletadas" value="Não" <?php echo ($this->post_var["amostrasalimentocoletadas"] == 'Não' ? 'checked' : ''); ?> required> Não
					</div>
				</div>
				<!--<div class="control-group">
					<label class="control-label">Observação</label>
					<div class="controls"><textarea class="span12" name="obs_estoqueorganizacoeshigienesexecutado" cols="5" rows="5"><?php echo (isset($this->post_var)) ? $this->post_var["obs_estoqueorganizacoeshigienesexecutado"] : ''; ?></textarea></div>
				</div>


				<div class="control-group">
					<label class="control-label">Cardápio Programado </label>
					<div class="controls">
<textarea class="span12" name="cardapioprogramado" cols="5" rows="5"><?php echo (isset($this->post_var['cardapioprogramado'])) ? $this->post_var["cardapioprogramado"] : ''; ?></textarea>
						</div>
				</div>


				<div class="control-group">
					<label class="control-label">Cardápio Servido </label>
					<div class="controls"><textarea class="span12" name="cardapioservido" cols="5" rows="5"><?php echo (isset($this->post_var)) ? $this->post_var["cardapioservido"] : ''; ?></textarea></div>
				</div>


				<div class="control-group">
					<label class="control-label">Observação </label>
					<div class="controls"><textarea class="span12" name="cardapioobservacao" cols="5" rows="5"><?php echo (isset($this->post_var)) ? $this->post_var["cardapioobservacao"] : ''; ?></textarea></div>
				</div>


				<div class="control-group">
					<label class="control-label">Fluxograma da Unidade de Produção </label>
					<div class="controls"><textarea class="span12" name="fluxograma" cols="5" rows="5"><?php echo (isset($this->post_var)) ? $this->post_var["fluxograma"] : ''; ?></textarea></div>
				</div>


				<div class="control-group">
					<label class="control-label">Equipamentos em funcionamentos </label>
					<div class="controls"><textarea class="span12" name="equipamentosfuncionamentos" cols="5" rows="5"><?php echo (isset($this->post_var)) ? $this->post_var["equipamentosfuncionamentos"] : ''; ?></textarea></div>
				</div>


				<div class="control-group">
					<label class="control-label">Equipamentos em desuso </label>
					<div class="controls"><textarea class="span12" name="equipamentosdesuso" cols="5" rows="5"><?php echo (isset($this->post_var)) ? $this->post_var["equipamentosdesuso"] : ''; ?></textarea></div>
				</div>


				<div class="control-group">
					<label class="control-label">Funcionários </label>
					<div class="controls"><textarea class="span12" name="episfuncionarios" cols="5" rows="5"><?php echo (isset($this->post_var)) ? $this->post_var["episfuncionarios"] : ''; ?></textarea></div>
				</div>


				<div class="control-group">
					<label class="control-label">Termomêtro de controle de temperaturas </label>
					<div class="controls"><textarea class="span12" name="termometro" cols="5" rows="5"><?php echo (isset($this->post_var)) ? $this->post_var["termometro"] : ''; ?></textarea></div>
				</div>


				<div class="control-group">
					<label class="control-label">Controle de pragas </label>
					<div class="controls"><textarea class="span12" name="controlepragas" cols="5" rows="5"><?php echo (isset($this->post_var)) ? $this->post_var["controlepragas"] : ''; ?></textarea></div>
				</div>


				<div class="control-group">
					<label class="control-label">Limpeza da Caixa d água </label>
					<div class="controls"><textarea class="span12" name="caixadagua" cols="5" rows="5"><?php echo (isset($this->post_var)) ? $this->post_var["caixadagua"] : ''; ?></textarea></div>
				</div>-->

				<div class="control-group">
					<label class="control-label">Observação </label>
					<div class="controls"><textarea class="span12" name="observacoes" cols="5" rows="13" style="resize: none"><?php echo (isset($this->post_var)) ? $this->post_var["observacoes"] : ''; ?></textarea></div>
				</div>
				<div class="control-group">
					<?php if(Usuarios::getUsuario('idperfil') == 29): ?>
						<?php if ((isset($this->post_var['iddocumento'])) && ((int) $this->post_var['iddocumento'] > 0)) : ?>
							<label class="control-label">Ver Documento</label>
							<a href="" target="_blank"><?php echo $this->getArquivo($this->post_var['iddocumento']) ?>
						<?php else: ?>
							<label class="control-label">Documento </label>
							<div class="controls">Nenhum documento anexado</div>
						<?php endif; ?>
					<?php else: ?>
						<label class="control-label">Anexar Documento </label>
						<?php if(!$this->visualizar): ?>
							<div class="controls">
								<input placeholder="Anexar Boletim" name="iddocumento" type="file"><br/>								
							</div>
						<?php endif; ?>
						<?php if ((isset($this->post_var['iddocumento'])) && ((int) $this->post_var['iddocumento'] > 0)) : ?>							
							<a href="" target="_blank"><?php echo $this->getArquivo($this->post_var['iddocumento']) ?>
						<?php endif; ?>
					<?php endif; ?>
				</div>
				<div class="control-group">
					<label class="control-label">Status <span class="required">*</span></label>
					<div class="controls">
						<select name="status1" data-placeholder="Status" class="select">
							<?php if($this->visualizar) : ?>
								<option value="<?php echo $this->post_var['status']; ?>"><?php echo $this->post_var['status']; ?></option> 
							<?php endif; ?>
							<?php if(Usuarios::getUsuario('idperfil') != 29) : ?>
							<option value="Em Andamento">Em Andamento</option> 
							<?php else: ?>
							<option value="Ciente">Ciente</option>
							<?php endif; ?>
						</select>
					</div>													    
				</div>
										    
				<div class="form-actions align-right">
					<?php if ((isset($this->visualizar)) && ($this->visualizar)) : ?>
						<button onclick="window.history.back()" class="btn btn-danger cancelar" type="button">Voltar</button>
					<?php else : ?>
						<button class="btn btn-primary enviar" type="submit">Salvar</button>
						<button onclick="window.history.back()" class="btn btn-danger cancelar" type="button">Cancelar</button>
					<?php endif; ?>
				</div>
			</div>
			<!-- /general form elements -->
			</fieldset>
		</form>
		<!-- /basic inputs -->
	</div>
	<!-- /content wrapper -->
</div>
<!-- content -->
				
<script type="text/javascript" src="<?php echo $this->baseUrl('/public/scripts/admin/nutricaovisitastecnicas_form.js') ?>"></script>
<script type="text/javascript">
	var form_values = {};
	
	<?php if (isset($this->post_var)) :  ?>
		form_values.idescola = '<?php echo (isset($this->post_var['idescola'])) ? $this->post_var['idescola'] : '' ?>';

form_values.idfuncionario = '<?php echo (isset($this->post_var['idfuncionario'])) ? $this->post_var['idfuncionario'] : '' ?>';

form_values.idusuariovisita = '<?php echo (isset($this->post_var['idusuariovisita'])) ? $this->post_var['idusuariovisita'] : '' ?>';

form_values.equipeproducaocompleta = '<?php echo (isset($this->post_var['equipeproducaocompleta'])) ? $this->post_var['equipeproducaocompleta'] : '' ?>';

form_values.producoesorganizacoeshigienes = '<?php echo (isset($this->post_var['producoesorganizacoeshigienes'])) ? $this->post_var['producoesorganizacoeshigienes'] : '' ?>';

form_values.estoqueorganizacoeshigienes = '<?php echo (isset($this->post_var['estoqueorganizacoeshigienes'])) ? $this->post_var['estoqueorganizacoeshigienes'] : '' ?>';
form_values.estoqueorganizacoeshigienesexecutado = '<?php echo (isset($this->post_var['estoqueorganizacoeshigienesexecutado'])) ? $this->post_var['estoqueorganizacoeshigienesexecutado'] : '' ?>';
form_values.estoqueorganizacoeshigienesdeestoque = '<?php echo (isset($this->post_var['estoqueorganizacoeshigienesdeestoque'])) ? $this->post_var['estoqueorganizacoeshigienesdeestoque'] : '' ?>';
form_values.producoesorganizacoeshigienes = '<?php echo (isset($this->post_var['producoesorganizacoeshigienes'])) ? $this->post_var['producoesorganizacoeshigienes'] : '' ?>';

form_values.status1 = '<?php echo (isset($this->post_var['status1'])) ? $this->post_var['status1'] : $this->post_var['status'] ?>';


	<?php endif; ?>

	visualizar = <?php echo  ((isset($this->visualizar)) && ($this->visualizar))  ? 'true' : 'false' ?>;
	editar = <?php echo  ((isset($this->editar)) && ($this->editar))  ? 'true' : 'false' ?>;
	perfilLogado = <?php echo Usuarios::getUsuario('idperfil'); ?>
</script>
