		<!-- Content -->
		<div id="content">

		    <!-- Content wrapper -->
		    <div class="wrapper">

			    <!-- Breadcrumbs line -->
			    <div class="crumbs">
			    	<?php echo $this->render('/helpers/breadcrumb.phtml') ?>
			    </div>
			    <!-- /breadcrumbs line -->

			    <!-- Page header -->
			    <div class="page-header">
			    	<div class="page-title">
				    	<h5>Visitas Técnicas no sistema</h5>
				    	<span>Visualize os visitas técnicas do sistema</span>
			    	</div>
			    	
			    </div>
			    <!-- /page header -->
			    
			    <?php if (isset($this->crudMessage)) : ?>
				<div class="alert alert-success">
                	<button data-dismiss="alert" class="close" type="button">×</button>
                    <strong>Operação realizada com sucesso!</strong>
	    			<span><br /><?php echo $this->crudMessage ?></span>
                </div>			    
			    <?php endif; ?>




	                        	                        
                <!-- Table with footer -->
                <div class="widget">
                	<form action="#" class="form-horizontal" method="post">
                		<input type="hidden" value="<?php echo (isset($this->post_var['sorting'])) ? $this->post_var['sorting'] : '' ?>" name="sorting" />
	                	<div class="navbar">
	                		<div class="navbar-inner">
	                			<h6>Visualizando registros</h6>
	                			<?php if (Mn_Util::isAccess($this->getController(), 'adicionar')) : ?>
	                			<a style="float:right;" href="<?php echo $this->baseUrl() ?>/<?php echo 'admin' ?>/<?php echo $this->getController() ?>/adicionar" class="btn btn-primary"><span class="icon-plus"></span>&nbsp;Adicionar visita técnica</a>
	                			<?php endif; ?>
	                		</div>
	                	</div>
	                    <div class="table-overflow">
	                        <table class="table table-content">
	                            <thead>
	                                <tr>
	                                    <th width="20">#</th>
                                    <th class="s-datalancamento sorting">Data de lançamento</th>
                                    <th class="s-idescola sorting">Escola</th>
                                    <th class="s-status sorting">Status</th>


	                                    <th width="96">Ações</th>
	                                </tr>
	                                <tr>
	                                    <th></th>

										<th>
											<input name="datalancamento_i" value="<?php echo (isset($this->post_var['datalancamento_i'])) ? Mn_Util::formPostVarData($this->post_var['datalancamento_i']) : '' ?>" type="text" placeholder="Data de lançamento inicial" class="span3">
											<input name="datalancamento_f" value="<?php echo (isset($this->post_var['datalancamento_f'])) ? Mn_Util::formPostVarData($this->post_var['datalancamento_f']) : '' ?>" type="text" placeholder="Data de lançamento final" class="span3">
										</th>

										<th>
											<div>
												<select name="idescola" placeholder="Todos" class="select">
													<option value="">Todos</option>
													<?php foreach (Escolas::getEscolasHelper(array('status'=>'Ativo')) as $k=>$v) : ?>
														<option value="<?php echo $v['id'] ?>"><?php echo $v['escola'] ?></option>
													<?php endforeach;?>
												</select>
											</div>
										</th>

										<th>
											<div>
												<select name="status1" placeholder="Todos" class="select">
													<option value="">Todos</option>
													<option value="Aguardando a confirmação">Aguardando a confirmação</option><option value="Confirmado">Confirmado</option><option value="Não confirmado">Não confirmado</option>
												</select>
											</div>
										</th>
                   

	                                    <th><button class="btn btn-mini btn-primary" type="submit">Pesquisar</button></th>
	                                </tr> 
	                                                                
	                            </thead>
	                            <tbody>
	                            	<?php if (sizeof($this->rows)==0) : ?>
	                                <tr>
	                                    <td colspan="5">Nenhum registro foi encontrado!</td>
	                                </tr>
	                            	
	                            	<?php else : ?>
	                            	<?php foreach ($this->rows as $row) : ?>
	                                <tr>
	                                	<td><?php echo $row['id'] ?></td>

										<td><?php echo date('d/m/Y', strtotime($row['datalancamento']))?></td>

										<td>
											<?php
												$___rows = Escolas::getEscolasHelper(array('id'=>$row['idescola']));
												$___row = (sizeof($___rows)>0) ? 	$___rows[0] : false;	
												
												echo ($___row) ? $this->formatTextoBranco($___row['escola']) : '--';		
											?>
										</td>

										<td>
											<?php if (Mn_Util::isAccess($this->getController(), 'editar')) : ?>
												<!-- <a onclick="javascript:statusChange(<?php echo $row["id"]?>, this);" href="javascript:;"><?php echo $row['status'] ?></a> -->
												<?php echo $row['status'] ?>
											<?php endif; ?>
										</td>
	                                    <td>
	                                        <ul class="table-controls">
												<li><a title="" class="btn tip" href="<?php echo $this->baseUrl() ?>/<?php echo 'admin' ?>/<?php echo $this->getController() ?>/visualizar/id/<?php echo $row['id'] ?>" data-original-title="Visualizar"><i class="icon-eye-open"></i></a> </li>
												<?php if ($row['status'] != 'Ciente') : ?>
													<?php if (Mn_Util::isAccess($this->getController(), 'editar')) : ?>
													<li><a title="" class="btn tip" href="<?php echo $this->baseUrl() ?>/<?php echo 'admin' ?>/<?php echo $this->getController() ?>/editar/id/<?php echo $row['id'] ?>" data-original-title="Editar"><i class="icon-pencil"></i></a> </li>
													<?php endif;?>
													<?php if (Mn_Util::isAccess($this->getController(), 'excluir')) : ?>
													<li><a title="" class="btn tip" href="javascript:confirmDelete('<?php echo $row['id']; ?>','registro');" data-original-title="Excluir"><i class="icon-remove"></i></a> </li>
													<?php endif; ?>													
												<?php else:; ?>
														<li><a title="" class="btn tip" href="<?php echo $this->baseUrl() ?>/<?php echo 'admin' ?>/<?php echo $this->getController() ?>/gerardocumentonutricaovisitas/id/<?php echo $row['id']?>" data-original-title="Gerar Documento" target="_blank" style="background:#e91414;"><i class="icon-print" style="color:#fff"></i></a>
														</li>
												<?php endif; ?>
	                                        </ul>
	                                    </td>
	                                </tr>
	                            	<?php endforeach;?>
	                            	
	                            	
	                            	
	                            	
	                            	<?php endif; ?>
	
	                            </tbody>
	                        </table>
	                    </div>
	                    <?php echo $this->render('/helpers/paginator.phtml') ?>
                    
                    </form>

                </div>
                <!-- /table with footer --> 

		    </div>
		    <!-- /content wrapper -->

		</div>
		<!-- content -->
		
		
<script type="text/javascript" src="<?php echo $this->baseUrl('/public/scripts/admin/nutricaovisitastecnicas_index.js') ?>"></script>
<script type="text/javascript">

	var form_values = {};
	<?php if (isset($this->post_var)) :  ?>
form_values.idescola = '<?php echo (isset($this->post_var['idescola'])) ? $this->post_var['idescola'] : '' ?>';

form_values.idfuncionario = '<?php echo (isset($this->post_var['idfuncionario'])) ? $this->post_var['idfuncionario'] : '' ?>';

form_values.idusuariovisita = '<?php echo (isset($this->post_var['idusuariovisita'])) ? $this->post_var['idusuariovisita'] : '' ?>';

form_values.equipeproducaocompleta = '<?php echo (isset($this->post_var['equipeproducaocompleta'])) ? $this->post_var['equipeproducaocompleta'] : '' ?>';

form_values.producoesorganizacoeshigienes = '<?php echo (isset($this->post_var['producoesorganizacoeshigienes'])) ? $this->post_var['producoesorganizacoeshigienes'] : '' ?>';

form_values.estoqueorganizacoeshigienes = '<?php echo (isset($this->post_var['estoqueorganizacoeshigienes'])) ? $this->post_var['estoqueorganizacoeshigienes'] : '' ?>';

form_values.status1 = '<?php echo (isset($this->post_var['status1'])) ? $this->post_var['status1'] : $this->post_var['status'] ?>';

	
	<?php endif; ?>

	var sorting = ["datalancamento", "horavisita", "idescola", "idfuncionario", "funcao", "idusuariovisita", "equipeproducaocompleta", "producoesdescricoes", "producoesobservacoes", "producoesorganizacoeshigienes", "estoqueorganizacoeshigienes", "cardapioprogramado", "cardapioservido", "cardapioobservacao", "fluxograma", "equipamentosfuncionamentos", "equipamentosdesuso", "episfuncionarios", "termometro", "controlepragas", "caixadagua", "observacoes", "status"];
	
</script>	


