<?php if (sizeof($this->rows)==0) : ?>
<option value="">Selecione...</option>
<option value="">Nenhum aluno foi encontrado para essa escola</option>
<?php else : ?>
<option value="">Selecione...</option>
<?php foreach ($this->rows as $row) : ?>
<option value="<?php echo $row['id'] ?>"><?php echo $row['nomerazao'] . ' ' . $row['sobrenomefantasia'] ?> </option>
<?php endforeach; ?>
<?php endif; ?>