<?php 
	$de = (($this->pagina_atual-1)*$this->maxpp) + 1;
	$a = $de + $this->maxpp - 1;
	$a = ($a>=$this->total_registros) ? $this->total_registros : $a;
?>

<div class="table-footer">
	<div class="table-actions">
		<label><?php echo sprintf('Mostrando %s a %s de %s registros', $de, $a, $this->total_registros); ?></label>
	</div>
	<?php if ($this->pagina_total>1) : ?>
	<div class="pagination">
		<ul>
			<?php if ($this->pagina_atual<=1) : ?>
			<li class="disabled"><a href="#">Primeiro</a></li>
			<li class="disabled"><a href="#">Anterior</a></li>
			<?php else : ?>
			<li><a href="<?php echo $this->baseUrl('alunos/' . $this->getController() . '/index/p/1') ?>">Primeiro</a></li>
			<li><a href="<?php echo $this->baseUrl('alunos/' . $this->getController() . '/index/p/' . ($this->pagina_atual-1) ) ?>">Anterior</a></li>			
			<?php endif; ?>
			

			<?php
				$faixa = 9;
			
			
				$start = $this->pagina_atual- ( ceil($faixa/2) );
				if ($this->pagina_total-$start<= ($faixa-1) ) {
					$start = $this->pagina_total-$faixa;
				}
				if ($start<=0) $start = 0;
				
				$end = $start+$faixa;
				if ($end>$this->pagina_total) $end = $this->pagina_total;
				
				for ($i=$start; $i<$end; $i++) :  
			?>
				
				<?php if ($i+1==$this->pagina_atual) : ?>
				<li class="active"><a href="#"><?php echo $i+1 ?></a></li>
				<?php else : ?>
				<li><a href="<?php echo $this->baseUrl('alunos/' . $this->getController() . '/index/p/' . ($i+1) ) ?>"><?php echo $i+1 ?></a></li>
				<?php endif; ?>
			<?php endfor;?>			
			
			
			
			<?php if ($this->pagina_atual>=$this->pagina_total) : ?>
			<li class="disabled"><a href="#">Próximo</a></li>
			<li class="disabled"><a href="#">Último</a></li>
			<?php else : ?>
			<li><a href="<?php echo $this->baseUrl('alunos/' . $this->getController() . '/index/p/' . ($this->pagina_atual+1) ) ?>">Próximo</a></li>
			<li><a href="<?php echo $this->baseUrl('alunos/' . $this->getController() . '/index/p/' . $this->pagina_total) ?>">Último</a></li>			
			<?php endif;?>
		</ul>
	</div>
	<?php endif; ?>
</div>

<?php if (false) : ?>


<?php 
	$de = (($this->pagina_atual-1)*$this->maxpp) + 1;
	$a = $de + $this->maxpp - 1;
	$a = ($a>=$this->total_registros) ? $this->total_registros : $a;
?>
<div class="dataTables_info" id="table2_info"><?php echo sprintf('Mostrando %s a %s de %s registros', $de, $a, $this->total_registros); ?></div>

<?php if ($this->pagina_total>1) : ?>
<div class="dataTables_paginate paging_full_numbers" id="table2_paginate">
	<?php if ($this->pagina_atual<=1) : ?>
	<a class="first paginate_button paginate_button_disabled" tabindex="0" id="table2_first">Primeiro</a>
	<a class="previous paginate_button paginate_button_disabled" tabindex="0" id="table2_previous">Anterior</a>
	<?php else : ?>
	<a href="<?php echo $this->baseUrl('alunos/' . $this->getController() . '/index/p/1') ?>" class="first paginate_button" tabindex="0" id="table2_first">Primeiro</a>
	<a href="<?php echo $this->baseUrl('alunos/' . $this->getController() . '/index/p/' . ($this->pagina_atual-1) ) ?>" class="previous paginate_button" tabindex="0" id="table2_previous">Anterior</a>
	<?php endif; ?>
	
	<span>
		<?php
			$faixa = 9;
		
		
			$start = $this->pagina_atual- ( ceil($faixa/2) );
			if ($this->pagina_total-$start<= ($faixa-1) ) {
				$start = $this->pagina_total-$faixa;
			}
			if ($start<=0) $start = 0;
			
			$end = $start+$faixa;
			if ($end>$this->pagina_total) $end = $this->pagina_total;
			
			for ($i=$start; $i<$end; $i++) :  
		?>
			
			<?php if ($i+1==$this->pagina_atual) : ?>
			<a class="paginate_active" tabindex="0" style="cursor:pointer;"><?php echo $i+1 ?></a>
			<?php else : ?>
			<a href="<?php echo $this->baseUrl('alunos/' . $this->getController() . '/index/p/' . ($i+1) ) ?>" class="paginate_button" tabindex="0"><?php echo $i+1 ?></a>
			<?php endif; ?>
		<?php endfor;?>
	</span>
	
	<?php if ($this->pagina_atual>=$this->pagina_total) : ?>
	<a class="next paginate_button paginate_button_disabled" tabindex="0" id="table2_next">Próximo</a>
	<a class="last paginate_button paginate_button_disabled" tabindex="0" id="table2_last">Último</a>
	<?php else : ?>
	<a href="<?php echo $this->baseUrl('alunos/' . $this->getController() . '/index/p/' . ($this->pagina_atual+1) ) ?>" class="next paginate_button" tabindex="0" id="table2_next">Próximo</a>
	<a href="<?php echo $this->baseUrl('alunos/' . $this->getController() . '/index/p/' . $this->pagina_total) ?>" class="last paginate_button" tabindex="0" id="table2_last">Último</a>	
	<?php endif; ?>
</div>
<?php endif; ?>
<br clear="all" />

<?php endif; ?>