<?php 
include_once BASE_PATH . '/public/scripts/ckeditor/ckeditor.php';
require_once BASE_PATH . '/public/scripts/ckfinder/ckfinder.php';

$ckeditor = new CKEditor();
$ckeditor->basePath = $this->baseUrl('/public/scripts/ckeditor/');

$ckfinder = $this->baseUrl('/public/scripts/ckfinder/');

CKFinder::SetupCKEditor($ckeditor, $ckfinder);
?>
<!-- Content -->
<div id="content">

  <!-- Content wrapper -->
  <div class="wrapper">

   <!-- Breadcrumbs line -->
   <div class="crumbs">
    <?php echo $this->render('/helpers/breadcrumb.phtml') ?>
  </div>
  <!-- /breadcrumbs line -->

  <!-- Page header -->
  <div class="page-header">
    <div class="page-title">
     <h5>Formulário de solicitação de produtos</h5>
     <span>Informe os dados dos produtos.</span>
   </div>
 </div>
 <!-- /page header -->

 <?php if (isset($this->crudMessage)) : ?>
   <div class="alert alert-success">
    <button data-dismiss="alert" class="close" type="button">×</button>
    <strong>Operação realizada com sucesso!</strong>
    <span><br /><?php echo $this->crudMessage ?></span>
  </div>
<?php endif; ?>

<form id="form" name="form" action="" method="post" class="form-horizontal" enctype="multipart/form-data">

  <?php if (isset($this->erros)) : ?>
    <div class="alert alert-error margin">
      <button data-dismiss="alert" class="close" type="button">×</button>
      <strong>Há erros no formulário!</strong>
      <?php foreach ($this->erros as $k=>$v) : ?>
        <span><br />- <?php echo $v ?></span>
      <?php endforeach;?>
    </div>
  <?php endif; ?>

  <input type="hidden" value="<?php echo (isset($this->post_var['id'])) ? $this->post_var["id"] : ''; ?>" name="id" id="id" />
  <div class="box-colecoes col-sm-12 panel-group" id="accordion" >

    <div class="control-group">
      <label class="control-label">Estoque </label>
      <div class="controls">
        <span><?= $this->post_var['estoque'] ?></span>
      </div>
    </div>

    <div class="control-group">
      <label class="control-label">Local <span class="required">*</span></label>
      <div class="controls">
        <span><?= $this->post_var['local'] ?></span>
      </div>
    </div>

    <div class="control-group">
      <label class="control-label">Responsável <span class="required">*</span></label>
      <div class="controls">
        <span><?= $this->post_var['responsavel'] ?></span>
      </div>
    </div>

    <?php if (date_create($this->post_var['logdata']) > date_create($this->post_var['datacriacao'])): ?>
    <div class="control-group">
      <label class="control-label">Data de Atualização</label>
      <div class="controls">
        <?php $date = date_create($this->post_var['logdata']); ?>
        <span><?= date_format($date, 'd-m-Y H:i:s') ?></span>
      </div>
    </div>
    <?php else: ?>
      <div class="control-group">
        <label class="control-label">Data de Solicitação</label>
        <div class="controls">
          <?php $date = date_create($this->post_var['datacriacao']); ?>
          <span><?= date_format($date, 'd-m-Y H:i:s') ?></span>
        </div>
      </div>
    <?php endif ?>

  </div>

  <div class="panel-footer">
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3">
        <?php if ((isset($this->visualizar)) && ($this->visualizar)) : ?>
        <button type="button" onclick="window.history.back()" class="btn btn-default">Voltar</button>
        <?php else : ?>
          <button class="btn btn-primary">Salvar</button>&nbsp;
          <button onclick="window.history.back()" class="btn btn-danger cancelar" type="button">Cancelar</button>
        <?php endif;?>
      </div>
    </div>
  </div><!-- panel-footer -->
  <br /><br /><br />
</form>
<!-- /basic inputs -->

</div>
<!-- /content wrapper -->

</div>
<!-- content -->


<script type="text/javascript" src="<?php echo $this->baseUrl('/public/scripts/admin/almoxarifadoestoques_form.js') ?>"></script>

<script type="text/javascript">

</script>