<?php 
	include_once BASE_PATH . '/public/scripts/ckeditor/ckeditor.php';
	require_once BASE_PATH . '/public/scripts/ckfinder/ckfinder.php';
	
	$ckeditor = new CKEditor();
	$ckeditor->basePath	= $this->baseUrl('/public/scripts/ckeditor/');
	
	$ckfinder = $this->baseUrl('/public/scripts/ckfinder/');
	
	CKFinder::SetupCKEditor($ckeditor, $ckfinder);
?>

<div class="contentpanel">

	<div class="panel panel-default">
	
		<div class="panel-heading">
			
			<?php if (isset($this->erros)) :  ?>
			<div class="alert alert-danger">
				<button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
				<strong>Erro!</strong> 
				<?php foreach ($this->erros as $erro) : ?>
				<br /><?php echo $erro?>
				<?php endforeach;?>
			</div>				
			
			<?php endif;?>
			
			<h4 class="panel-title">Formulário de Planos de Aulas</h4>
			<p>Informe os dados da Planos.</p>
        </div>
        <div class="panel-body panel-body-nopadding">
        	<form id="form" name="form" method="post" class="form-horizontal form-bordered">
        		<input type="hidden" value="<?php echo (isset($this->post_var)) ? $this->post_var["id"] : ''; ?>" name="id" id="id" />
        	
        		<?php if((Mn_Util::isDefaultAccess("programacoesaulascoordenacao", 'visualizar')) && (isset($this->post_var['idescolausuario'])) && (isset($this->visualizar)) && ($this->visualizar)): ?>
        		<div class="form-group">
        			<label class="col-sm-3 control-label">Professor</label>
        			<div class="col-sm-6" style="padding-top: 10px;">
        				<?php echo $this->post_var['nomerazao']?> <?php echo $this->post_var['sobrenomefantasia']?>
					</div>
				</div>		
        		<?php endif; ?>
        	
        		<div class="form-group">
        			<label class="col-sm-3 control-label">Série *</label>
        			<div class="col-sm-6">
        				<select id="idserie" name="idserie" class="form-control">
        					<option value="">Selecione</option>
        					<?php foreach ($this->series as $s=>$serie): ?>
        					<option value="<?php echo $serie['id']?>"><?php echo $serie['serie']?></option>
        					<?php endforeach;?>
						</select>        				
					</div>
				</div>
				
        		<div class="form-group">
        			<label class="col-sm-3 control-label">Turma *</label>
        			<div class="col-sm-6">
        				<select id="idturma" name="idturma" class="form-control">
        					<option value="">Selecione</option>
        					<?php foreach ($this->turmas as $t=>$turma): ?>
        					<option value="<?php echo $turma['id']?>"><?php echo $turma['turma']?></option>
        					<?php endforeach;?>
						</select>        				
					</div>
				</div>
        	
        		<div class="form-group">
        			<label class="col-sm-3 control-label">Ano Letivo </label>
        			<div class="col-sm-6">
        				<input name="anoletivo" value="<?php echo (isset($this->post_var['anoletivo'])) ? $this->post_var['anoletivo'] : '' ?>" type="text" class="form-control" placeholder="ano letivo">
					</div>
				</div>	
				
        		<div class="form-group">
        			<label class="col-sm-3 control-label">Segmento </label>
        			<div class="col-sm-6">
        				<input name="segmento" value="<?php echo (isset($this->post_var['segmento'])) ? $this->post_var['segmento'] : '' ?>" type="text" class="form-control" placeholder="segmento">
					</div>
				</div>
				
        		<div class="form-group">
        			<label class="col-sm-3 control-label">Tema *</label>
        			<div class="col-sm-6">
        				<input name="tema" value="<?php echo (isset($this->post_var['tema'])) ? $this->post_var['tema'] : '' ?>" type="text" class="form-control" placeholder="tema">
					</div>
				</div>	
				
				<div class="form-group">
					<label class="col-sm-3 control-label">
						Objetivo 
					</label>
					<div class="col-sm-6">
						<?php if ((isset($this->visualizar)) && ($this->visualizar)) : ?>
						<div style="padding-top:10px"><?php echo $this->post_var['objetivo']; ?></div>
						<?php else : ?>
						<?php $value1 = (isset($this->post_var['objetivo'])) ? $this->post_var['objetivo'] : ''; ?>
						<?php $ckeditor->editor('objetivo', $value1); ?>
						<?php endif; ?>
					</div>
				</div>	
				
        		<div class="form-group">
        			<label class="col-sm-3 control-label">Duração *</label>
        			<div class="col-sm-6">
        				<input name="duracao" value="<?php echo (isset($this->post_var['duracao'])) ? $this->post_var['duracao'] : '' ?>" type="text" class="form-control" placeholder="Duração">
					</div>
				</div>	
				
				<div class="form-group">
					<label class="col-sm-3 control-label">
						Componente curricular 
					</label>
					<div class="col-sm-6">
						<?php if ((isset($this->visualizar)) && ($this->visualizar)) : ?>
						<div style="padding-top:10px"><?php echo $this->post_var['componentecurricular']; ?></div>
						<?php else : ?>
						<?php $value1 = (isset($this->post_var['componentecurricular'])) ? $this->post_var['componentecurricular'] : ''; ?>
						<?php $ckeditor->editor('componentecurricular', $value1); ?>
						<?php endif; ?>
					</div>
				</div>	
				
				
				
				<div class="form-group">
					<label class="col-sm-3 control-label">
						Metodologia utilizada
					</label>
					<div class="col-sm-6">
						<?php if ((isset($this->visualizar)) && ($this->visualizar)) : ?>
						<div style="padding-top:10px"><?php echo $this->post_var['metodologia']; ?></div>
						<?php else : ?>
						<?php $value1 = (isset($this->post_var['metodologia'])) ? $this->post_var['metodologia'] : ''; ?>
						<?php $ckeditor->editor('metodologia', $value1); ?>
						<?php endif; ?>
					</div>
				</div>	
				
				<div class="form-group">
					<label class="col-sm-3 control-label">
						Conteúdo programático
					</label>
					<div class="col-sm-6">
						<?php if ((isset($this->visualizar)) && ($this->visualizar)) : ?>
						<div style="padding-top:10px"><?php echo $this->post_var['conteudoprogramatico']; ?></div>
						<?php else : ?>
						<?php $value1 = (isset($this->post_var['conteudoprogramatico'])) ? $this->post_var['conteudoprogramatico'] : ''; ?>
						<?php $ckeditor->editor('conteudoprogramatico', $value1); ?>
						<?php endif; ?>
					</div>
				</div>	
				
				<div class="form-group">
					<label class="col-sm-3 control-label">
						Material utilizado
					</label>
					<div class="col-sm-6">
						<?php if ((isset($this->visualizar)) && ($this->visualizar)) : ?>
						<div style="padding-top:10px"><?php echo $this->post_var['material']; ?></div>
						<?php else : ?>
						<?php $value1 = (isset($this->post_var['material'])) ? $this->post_var['material'] : ''; ?>
						<?php $ckeditor->editor('material', $value1); ?>
						<?php endif; ?>
					</div>
				</div>	
				
				<div class="form-group">
					<label class="col-sm-3 control-label">
						Bibliografia
					</label>
					<div class="col-sm-6">
						<?php if ((isset($this->visualizar)) && ($this->visualizar)) : ?>
						<div style="padding-top:10px"><?php echo $this->post_var['bibliografia']; ?></div>
						<?php else : ?>
						<?php $value1 = (isset($this->post_var['bibliografia'])) ? $this->post_var['bibliografia'] : ''; ?>
						<?php $ckeditor->editor('bibliografia', $value1); ?>
						<?php endif; ?>
					</div>
				</div>	
				
        		<div class="form-group">
        			<label class="col-sm-3 control-label">Anexos *</label>
        			<div class="col-sm-6">
        				<?php echo $this->render('planosaulas/helpers/multiplosarquivos.phtml') ?>
					</div>
				</div>
				
        		<div class="form-group">
        			<label class="col-sm-3 control-label">Status *</label>
        			<div class="col-sm-6">
        				<select id="status1" name="status" class="form-control">
        					<option value="Ativo">Ativo</option>
        					<option value="Bloqueado">Bloqueado</option>
						</select>        				
					</div>
				</div>
				
        		<div class="form-group">
        			<label class="col-sm-3 control-label">Público *</label>
        			<div class="col-sm-6">
        				<select id="publico" name="publico" class="form-control">
        					<option value="Sim">Sim</option>
        					<option value="Não">Não</option>
						</select>        				
					</div>
				</div>				
				
				<div class="panel-footer">
					<div class="row">
						<div class="col-sm-6 col-sm-offset-3">
							<?php if ((isset($this->visualizar)) && ($this->visualizar)) : ?>
							<button type="button" onclick="window.history.back()" class="btn btn-default">Voltar</button>
							<?php else : ?>
							<button class="btn btn-primary">Salvar</button>&nbsp;
							<button type="button" onclick="location.href='<?php echo $this->baseUrl() ?>/<?php echo $this->getController()?>'" class="btn btn-default">Cancelar</button>
							<?php endif;?>
						</div>
					</div>
				</div><!-- panel-footer -->				
				
			</form>
          
		</div><!-- panel-body -->
	</div>
</div>
<script type="text/javascript" src="<?php echo $this->baseUrl('/public/scripts/default/programacoesaulas_form.js') ?>"></script>

<script type="text/javascript">
	var form_values = {};
	<?php if (isset($this->post_var['status'])) :  ?>
	form_values.status = '<?php echo (isset($this->post_var['status'])) ? $this->post_var['status'] : $this->post_var['status'] ?>';
	<?php endif; ?>

	<?php if (isset($this->post_var['idserie'])) :  ?>
	form_values.idserie = '<?php echo (isset($this->post_var['idserie'])) ? $this->post_var['idserie'] : $this->post_var['idserie'] ?>';
	<?php endif; ?>
	
	<?php if (isset($this->post_var['idturma'])) :  ?>
	form_values.idturma = '<?php echo (isset($this->post_var['idturma'])) ? $this->post_var['idturma'] : $this->post_var['idturma'] ?>';
	<?php endif; ?>

	<?php if (isset($this->post_var['publico'])) :  ?>
	form_values.publico = '<?php echo (isset($this->post_var['publico'])) ? $this->post_var['publico'] : '' ?>';
	<?php endif; ?>
</script>

