<div class="contentpanel">

	<div class="row">
	
        <div class="panel-body">
        

			<div class="panel panel-default">
				<div class="panel-heading">
					<div class="panel-btns">
						<?php if ($this->isMinimize()) : ?>
						<a  href="javascript:;" class="minimize" onclick="setMinimize('sim')">−</a>
						<?php else : ?>
						<a href="javascript:;" class="minimize maximize" onclick="javascript:$('select').closest('div').find('.chosen-container').css('width', '100%');setMinimize('nao')">+</a>
						<?php endif; ?>
					</div>
					<h4 class="panel-title">Filtro</h4>
					<p>Use o formulário para filtrar de acordo com os critérios disponíveis</p>
				</div>        
				<div class="panel-body" style="display: <?php echo ($this->isMinimize()) ? 'block' : 'none' ?>;">
		        	<form id="form" name="form" method="post" class="form-horizontal form-bordered">
		        	
		        		<div class="form-group">
		        			<label class="col-sm-3 control-label">Palavra Chave</label>
		        			<div class="col-sm-6">
		        				<input name="chave" value="<?php echo (isset($this->post_var['chave'])) ? $this->post_var['chave'] : '' ?>" type="text" class="form-control" placeholder="">
							</div>
						</div>
						
		        		<div class="form-group">
		        			<label class="col-sm-3 control-label">Série</label>
		        			<div class="col-sm-6">
		        				<select id="idserie" name="idserie" class="form-control">
		        					<option value="">Selecione</option>
		        					<?php foreach ($this->series as $s=>$serie) : ?>
		        					<option value="<?php echo $serie['id'] ?>"><?php echo $serie['serie'] ?></option>
		        					<?php endforeach;?>
								</select>        				
							</div>
						</div>
						
		        		<div class="form-group">
		        			<label class="col-sm-3 control-label">Turma</label>
		        			<div class="col-sm-6">
		        				<select id="idturma" name="idturma" class="form-control">
		        					<option value="">Selecione</option>
		        					<?php foreach ($this->turmas as $t=>$turma) : ?>
		        					<option value="<?php echo $turma['id'] ?>"><?php echo $turma['turma'] ?></option>
		        					<?php endforeach;?>
								</select>        				
							</div>
						</div>
						
		        		<div class="form-group">
		        			<label class="col-sm-3 control-label">Status</label>
		        			<div class="col-sm-6">
		        				<select id="status1" name="status" class="form-control">
		        					<option value="">Todos</option>
		        					<option value="Ativo">Ativo</option>
		        					<option value="Bloqueado">Bloqueado</option>
								</select>        				
							</div>
						</div>				
		
						
						<div class="panel-footer">
							<div class="row">
								<div class="col-sm-6 col-sm-offset-3">
									<button class="btn btn-warning">Pesquisar</button>&nbsp;
								</div>
							</div>
						</div><!-- panel-footer -->				
						
					</form>              
              
              
            	</div>	
            </div>       
        
        
			<div class="panel-heading" style="position:relative;">
			
				<?php if (isset($this->crudMessage)) : ?>
				<div class="alert alert-success">
                	<button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                	<strong>Sucesso!</strong> <?php echo $this->crudMessage ?>.
              	</div>
              	<?php endif; ?>
			
				<table width="100%">
					<tr>
						<td width="50%"><h4 class="panel-title">Planos de aulas cadastradas no sistema</h4></td>						
					</tr>
				</table>
				
				<br />
				
				<div class="table-responsive">
					
	                <table class="table table-primary mb30">
	                	<thead>
	                		<tr>
	                			<th width="20">&nbsp;</th>
	                			<th width="200">Professor</th> 
	                			   
	                			<th width="120">Série/Turma</th>   
	                			
	                			<th width="120">Tema</th>      			
	                			<th>Objetivo</th>
	                			<th style="width:74px">Ações</th>
	                		</tr>
	                	</thead>
	                	<tbody>
	                	   	<?php if (sizeof($this->rows)==0) : ?>
	                		<tr>
	                			<td colspan="4">Nenhum registro foi encontrado</td>
	                		</tr>
	                		<?php endif;?>
	                		<?php foreach ($this->rows as $i=>$row) : ?>
								<tr>
	                				<td>
	                					<?php echo $i+1 ?>
	                					<input type="hidden" name=id[] value="<?php echo $row['id'] ?>" />
                					</td>
                					
                					<td><?php echo $row['nomerazao'] ?> <?php echo $row['sobrenomefantasia'] ?></td>
                					
                					<td><?php echo $row['serie'] ?> <?php echo $row['turma'] ?></td>
                					<td><?php echo $row['tema'] ?></td>
	                				<td><?php echo $this->cortaPalavra(100, $row['objetivo']) ?></td>
	                				
	                				<td class="table-action">
	                					
	                					<a href="<?php echo $this->baseUrl() ?>/alunos/<?php echo $this->getController() ?>/visualizar/id/<?php echo $row['id'] ?>"><i class="fa  fa-eye"></i></a>
	                					
	                					
	                				</td>
	                			</tr>
	                		<?php endforeach;?> 
	                	</tbody>
	                </table>
	                <?php echo $this->render('/helpers/paginator.phtml') ?>
	            </div><!-- table-responsive -->				
				
			</div>        
        
            
        </div>

	</div>
        
</div>
<script type="text/javascript" src="<?php echo $this->baseUrl('/public/scripts/default/programacoesaulas_index.js') ?>"></script>
<script type="text/javascript">

	var form_values = {};
	<?php if (isset($this->post_var['status'])) :  ?>
	form_values.status = '<?php echo (isset($this->post_var['status'])) ? $this->post_var['status'] : $this->post_var['status'] ?>';
	<?php endif; ?>

	<?php if (isset($this->post_var['idserie'])) :  ?>
	form_values.idserie = '<?php echo (isset($this->post_var['idserie'])) ? $this->post_var['idserie'] : $this->post_var['idserie'] ?>';
	<?php endif; ?>
	
	<?php if (isset($this->post_var['idturma'])) :  ?>
	form_values.idturma = '<?php echo (isset($this->post_var['idturma'])) ? $this->post_var['idturma'] : $this->post_var['idturma'] ?>';
	<?php endif; ?>

</script>