		<!-- Content -->
		<div id="content">

		    <!-- Content wrapper -->
		    <div class="wrapper">

			    <!-- Breadcrumbs line -->
			    <div class="crumbs">
			    	<?php echo $this->render('/helpers/breadcrumb.phtml') ?>
			    </div>
			    <!-- /breadcrumbs line -->

			    <!-- Page header -->
			    <div class="page-header">
			    	<div class="page-title">
				    	<h5>Formulário do patrimônio</h5>
				    	<span>Verifique os campos e preencha com os dados</span>
			    	</div>
			    </div>
			    <!-- /page header -->

			    <?php if (isset($this->crudMessage)) : ?>
					<div class="alert alert-success">
	                	<button data-dismiss="alert" class="close" type="button">×</button>
	                    <strong>Operação realizada com sucesso!</strong>
		    			<span><br /><?php echo $this->crudMessage ?></span>
	                </div>			    
			    <?php endif; ?>

				<form id="form" name="form" action="" method="post" class="form-horizontal" enctype="multipart/form-data"> 
					<input type="hidden" value="<?php echo (isset($this->post_var)) ? $this->post_var["id"] : ''; ?>" name="id" id="id" />
					
					<fieldset>
						<!-- General form elements -->
						<div class="widget row-fluid">
						    <div class="navbar">
						        <div class="navbar-inner">
						            <h6>Digite as informações do formulário</h6>
						        </div>
						    </div>

						    <div class="well">
								<?php if (isset($this->erros)) : ?>
									<div class="alert alert-error margin">
				                        <button data-dismiss="alert" class="close" type="button">×</button>
				                        <strong>Há erros no formulário!</strong>
					    				<?php foreach ($this->erros as $k=>$v) : ?>
					    					<span><br />- <?php echo $v ?></span>
					    				<?php endforeach;?>			                        
				                    </div>
			                    <?php endif; ?>						    
						    
					<?php /*?>
				<div class="control-group">
					<label class="control-label">Secretaria <span class="required">*</span></label>
					<div class="controls">
		                <select name="idsecretaria" data-placeholder="Secretaria" class="select">
							<option value="">Selecione...</option>
							<?php foreach (Secretarias::getSecretariasHelper(array('status'=>'Ativo')) as $k=>$v) : ?>
							<option value="<?php echo $v['id'] ?>"><?php echo $v['secretaria'] ?></option>
							<?php endforeach;?>
						</select>
						
					</div>
				</div>
<?php */?>
				<div class="control-group">
					<label class="control-label">Foto </label>
					<div class="controls">
						<input name="oldfoto" type="hidden"  value="<?php echo ((isset($this->post_var['idfoto'])) && ((int)$this->post_var['idfoto']>0)) ? $this->post_var['idfoto'] : '' ?>"/>

						<?php if ((isset($this->post_var['idfoto'])) && ((int)$this->post_var['idfoto']>0)) : ?>
							<?php echo $this->getImagem($this->post_var['idfoto'], 100, 120,'') ?>
					
							<?php if (!$this->visualizar) : ?>
								<div class="checkbox block">
									<label><input type="checkbox" name="excluir_idfoto" value="sim" /> Desejo excluir a imagem</label>
								</div>
							<?php endif; ?>
						<?php endif; ?>
					
						<input placeholder="Foto" name="idfoto" type="file"  />
					</div>
				</div>
				<div class="control-group">
					<label class="control-label">Nº do patrimônio <span class="required">*</span></label>
					<div class="controls"><input maxlength="500" placeholder="Nº do patrimônio" name="numeropatrimonio" value="<?php echo (isset($this->post_var['numeropatrimonio'])) ? $this->post_var['numeropatrimonio'] : '' ?>" type="text"  class="span3" /></div>
				</div>
				<div class="control-group">
					<label class="control-label">Patrimônio <span class="required">*</span></label>
					<div class="controls"><input maxlength="500" placeholder="Patrimônio" name="patrimonio" value="<?php echo (isset($this->post_var['patrimonio'])) ? $this->post_var['patrimonio'] : '' ?>" type="text"  class="span3" /></div>
				</div>
				<div class="control-group">
					<label class="control-label">Descrição do bem </label>
					<div class="controls"><textarea class="span12" name="descricoesdobem" cols="5" rows="5"><?php echo (isset($this->post_var)) ? $this->post_var["descricoesdobem"] : ''; ?></textarea></div>
				</div>
				<div class="control-group">
					<label class="control-label">Cor </label>
					<div class="controls"><input maxlength="500" placeholder="Cor" name="cor" value="<?php echo (isset($this->post_var['cor'])) ? $this->post_var['cor'] : '' ?>" type="text"  class="span3" /></div>
				</div>
				<div class="control-group">
					<label class="control-label">Marca </label>
					<div class="controls">
		                <select name="idmarca" data-placeholder="Marca" class="select">
							<option value="">Selecione...</option>
							<?php foreach (Patrimoniosmarcas::getPatrimoniosmarcasHelper(array('status'=>'Ativo')) as $k=>$v) : ?>
							<option value="<?php echo $v['id'] ?>"><?php echo $v['marca'] ?></option>
							<?php endforeach;?>
						</select>
						
					</div>
				</div>
				<div class="control-group">
					<label class="control-label">Tipo <span class="required">*</span></label>
					<div class="controls">
		                <select name="idtipo" data-placeholder="Tipo" class="select">
							<option value="">Selecione...</option>
							<?php foreach (Patrimoniostipos::getPatrimoniostiposHelper(array('status'=>'Ativo')) as $k=>$v) : ?>
							<option value="<?php echo $v['id'] ?>"><?php echo $v['tipo'] ?></option>
							<?php endforeach;?>
						</select>
						<!--<span class="help-block"></span>-->
					</div>
				</div>
				<div class="control-group">
					<label class="control-label">Modelo </label>
					<div class="controls"><input maxlength="500" placeholder="Modelo" name="modelo" value="<?php echo (isset($this->post_var['modelo'])) ? $this->post_var['modelo'] : '' ?>" type="text"  class="span3" /></div>
				</div>
				<div class="control-group">
					<label class="control-label">Série </label>
					<div class="controls"><input maxlength="500" placeholder="Série" name="serie" value="<?php echo (isset($this->post_var['serie'])) ? $this->post_var['serie'] : '' ?>" type="text"  class="span3" /></div>
				</div>
				<div class="control-group">
					<label class="control-label">Caracteristicas </label>
					<div class="controls"><textarea class="span12" name="caracteristicas" cols="5" rows="5"><?php echo (isset($this->post_var)) ? $this->post_var["caracteristicas"] : ''; ?></textarea></div>
				</div>
				<div class="control-group">
					<label class="control-label">Dimensões </label>
					<div class="controls"><textarea class="span12" name="dimensoes" cols="5" rows="5"><?php echo (isset($this->post_var)) ? $this->post_var["dimensoes"] : ''; ?></textarea></div>
				</div>
				<div class="control-group">
					<label class="control-label">Descrição do produto </label>
					<div class="controls"><textarea class="span12" name="descricoes" cols="5" rows="5"><?php echo (isset($this->post_var)) ? $this->post_var["descricoes"] : ''; ?></textarea></div>
				</div>


				<div class="control-group">
					<label class="control-label">Data de compra</label>
					<div class="controls"><input placeholder="Data de compra" name="datacompra" value="<?php echo (isset($this->post_var['datacompra'])) ? Mn_Util::formPostVarData($this->post_var['datacompra']) : '' ?>" type="text"  class="span3" /></div>
				</div>


				<div class="control-group">
					<label class="control-label">Código de barras </label>
					<div class="controls"><input maxlength="500" placeholder="Código de barras" name="codigosbarras" value="<?php echo (isset($this->post_var['codigosbarras'])) ? $this->post_var['codigosbarras'] : '' ?>" type="text"  class="span3" /></div>
				</div>


				<div class="control-group">
					<label class="control-label">QRCode </label>
					<div class="controls"><textarea class="span12" name="qrcode" cols="5" rows="5"><?php echo (isset($this->post_var)) ? $this->post_var["qrcode"] : ''; ?></textarea></div>
				</div>


			<div class="control-group">
				<label class="control-label">Fornecedor </label>
				<div class="controls">
	                <select name="idfornecedor" data-placeholder="Fornecedor" class="select">
						<option value="">Selecione...</option>
						<?php foreach (Fornecedores::getFornecedoresHelper(array('status'=>'Ativo')) as $k=>$v) : ?>
						<option value="<?php echo $v['id'] ?>"><?php echo $v['razaosocial'] ?></option>
						<?php endforeach;?>
					</select>
				</div>
			</div>

<?php /*?>
				<div class="control-group">
					<label class="control-label">Origem </label>
					<div class="controls">
						<select name="origem" data-placeholder="Origem" class="select">
							<option value="">Selecione...</option>
							<option value="escola">escola</option><option value="secretaria">secretaria</option>
						</select>
						
					</div>
				</div>


				<div class="control-group">
					<label class="control-label">Departamento </label>
					<div class="controls">
		                <select name="iddepartamentosecretaria" data-placeholder="Departamento" class="select">
							<option value="">Selecione...</option>
							<?php foreach (Departamentossecretarias::getDepartamentossecretariasHelper(array('status'=>'Ativo')) as $k=>$v) : ?>
							<option value="<?php echo $v['id'] ?>"><?php echo $v['departamento'] ?></option>
							<?php endforeach;?>
						</select>
						
					</div>
				</div>
<?php */?>
<?php /*?>
				<div class="control-group">
					<label class="control-label">Departamento </label>
					<div class="controls">
		                <select name="iddepartamento" data-placeholder="Departamento" class="select">
							<option value="">Selecione...</option>
							<?php foreach (Departamentossecretarias::getDepartamentossecretariasHelper(array('status'=>'Ativo')) as $k=>$v) : ?>
							<option value="<?php echo $v['id'] ?>"><?php echo $v['departamento'] ?></option>
							<?php endforeach;?>
						</select>
						
					</div>
				</div>


				<div class="control-group">
					<label class="control-label">Setor <span class="required">*</span></label>
					<div class="controls">
		                <select name="idsetor" data-placeholder="Setor" class="select">
							<option value="">Selecione...</option>
							<?php foreach (Patrimoniossetores::getPatrimoniossetoresHelper(array('status'=>'Ativo')) as $k=>$v) : ?>
							<option value="<?php echo $v['id'] ?>"><?php echo $v['setor'] ?></option>
							<?php endforeach;?>
						</select>
						
					</div>
				</div>

				<div class="control-group">
					<label class="control-label">Responsável da secretaria </label>
					<div class="controls">
		                <select name="idresponsavelsecretaria" data-placeholder="Responsável da secretaria" class="select">
							<option value="">Selecione...</option>
							<?php foreach (Usuarios::getUsuariosHelper(array('status'=>'Ativo')) as $k=>$v) : ?>
							<option value="<?php echo $v['id'] ?>"><?php echo $v['nomerazao'] ?></option>
							<?php endforeach;?>
						</select>
						
					</div>
				</div>


				<div class="control-group">
					<label class="control-label">Escolas <span class="required">*</span></label>
					<div class="controls">
		                <select name="idescola" data-placeholder="Escolas" class="select">
							<option value="">Selecione...</option>
							<?php foreach (Escolas::getEscolasHelper(array('status'=>'Ativo')) as $k=>$v) : ?>
							<option value="<?php echo $v['id'] ?>"><?php echo $v['escola'] ?></option>
							<?php endforeach;?>
						</select>
						
					</div>
				</div>


				<div class="control-group">
					<label class="control-label">Responsável da escola <span class="required">*</span></label>
					<div class="controls">
		                <select name="idresponsavelescola" data-placeholder="Responsável da escola" class="select">
							<option value="">Selecione...</option>
							<?php foreach (Escolasusuarios::getEscolasusuariosHelper(array('status'=>'Ativo')) as $k=>$v) : ?>
							<option value="<?php echo $v['id'] ?>"><?php echo $v['nomerazao'] ?></option>
							<?php endforeach;?>
						</select>
						
					</div>
				</div>
<?php */?>


<?php /*?>
				<div class="control-group">
					<label class="control-label">Aprovado <span class="required">*</span></label>
					<div class="controls">
						<select name="aprovado" data-placeholder="Aprovado" class="select">
							<option value="">Selecione...</option>
							<option value="Sim">Sim</option><option value="Não">Não</option>
						</select>
						
					</div>
				</div>
<?php */?>
				<div class="control-group">
					<label class="control-label">Nº do lote </label>
					<div class="controls"><input maxlength="500" placeholder="Nº do lote" name="numerolote" value="<?php echo (isset($this->post_var['numerolote'])) ? $this->post_var['numerolote'] : '' ?>" type="text"  class="span3" /></div>
				</div>


				<div class="control-group">
					<label class="control-label">Ano de fabricação </label>
					<div class="controls"><input  placeholder="Ano de fabricação" name="anofabricacao" value="<?php echo (isset($this->post_var['anofabricacao'])) ? $this->post_var['anofabricacao'] : '' ?>" type="text"  class="span3" /></div>
				</div>


				<div class="control-group">
					<label class="control-label">Vida útil </label>
					<div class="controls"><input  placeholder="Vida útil" name="vidautil" value="<?php echo (isset($this->post_var['vidautil'])) ? $this->post_var['vidautil'] : '' ?>" type="text"  class="span3" /></div>
				</div>


				<div class="control-group">
					<label class="control-label">Quantidade </label>
					<div class="controls"><input  placeholder="Quantidade" name="quantidade" value="<?php echo (isset($this->post_var['quantidade'])) ? $this->post_var['quantidade'] : '' ?>" type="text"  class="span3" /></div>
				</div>

<?php /*?>
				<div class="control-group">
					<label class="control-label">Aprovação <span class="required">*</span></label>
					<div class="controls">
						<select name="aprovacao" data-placeholder="Aprovação" class="select">
							<option value="">Selecione...</option>
							<option value="Sim">Sim</option><option value="Não">Não</option>
						</select>
						
					</div>
				</div>


				<div class="control-group">
					<label class="control-label">Status de Aprovação <span class="required">*</span></label>
					<div class="controls">
						<select name="statusaprovacao" data-placeholder="Status de Aprovação" class="select">
							<option value="">Selecione...</option>
							<option value="Confirmado">Confirmado</option><option value="Pendente">Pendente</option><option value="Cancelado">Cancelado</option>
						</select>
						
					</div>
				</div>


				<div class="control-group">
					<label class="control-label">Observações de aprovação </label>
					<div class="controls"><textarea class="span12" name="observacoesaprovacoes" cols="5" rows="5"><?php echo (isset($this->post_var)) ? $this->post_var["observacoesaprovacoes"] : ''; ?></textarea></div>
				</div>
<?php */?>
<?php /*?>
				<div class="control-group">
					<label class="control-label">Baixa </label>
					<div class="controls">
						<select name="baixa" data-placeholder="Baixa" class="select">
							<option value="">Selecione...</option>
							<option value="Sim">Sim</option><option value="Não">Não</option>
						</select>
						
					</div>
				</div>


				<div class="control-group">
					<label class="control-label">Status da Baixa </label>
					<div class="controls">
						<select name="statusbaixa" data-placeholder="Status da Baixa" class="select">
							<option value="">Selecione...</option>
							<option value="Confirmado">Confirmado</option><option value="Pendente">Pendente</option><option value="Cancelado">Cancelado</option>
						</select>
						
					</div>
				</div>


				<div class="control-group">
					<label class="control-label">Observações de baixa </label>
					<div class="controls"><textarea class="span12" name="observacoesbaixa" cols="5" rows="5"><?php echo (isset($this->post_var)) ? $this->post_var["observacoesbaixa"] : ''; ?></textarea></div>
				</div>


				<div class="control-group">
					<label class="control-label">Roubo e furto </label>
					<div class="controls">
						<select name="roubofurto" data-placeholder="Roubo e furto" class="select">
							<option value="">Selecione...</option>
							<option value="Sim">Sim</option><option value="Não">Não</option>
						</select>
						
					</div>
				</div>


				<div class="control-group">
					<label class="control-label">Status de Roubo e furto </label>
					<div class="controls">
						<select name="statusroubofurto" data-placeholder="Status de Roubo e furto" class="select">
							<option value="">Selecione...</option>
							<option value="Confirmado">Confirmado</option><option value="Pendente">Pendente</option><option value="Cancelado">Cancelado</option>
						</select>
						
					</div>
				</div>


				<div class="control-group">
					<label class="control-label">Observações de roubo e furto </label>
					<div class="controls"><textarea class="span12" name="observacoesroubofurto" cols="5" rows="5"><?php echo (isset($this->post_var)) ? $this->post_var["observacoesroubofurto"] : ''; ?></textarea></div>
				</div>


				<div class="control-group">
					<label class="control-label">Data de roubo e furto</label>
					<div class="controls"><input placeholder="Data de roubo e furto" name="dataroubofurto" value="<?php echo (isset($this->post_var['dataroubofurto'])) ? Mn_Util::formPostVarData($this->post_var['dataroubofurto']) : '' ?>" type="text"  class="span3" /></div>
				</div>


				<div class="control-group">
					<label class="control-label">Arquivo de roubo e furto </label>
					<div class="controls">
						<?php if ((isset($this->post_var['idarquivoroubofurto'])) && ((int)$this->post_var['idarquivoroubofurto']>0)) : ?>
							<?php echo $this->getArquivo($this->post_var['idarquivoroubofurto']) ?>
						
							<?php if (!$this->visualizar) : ?>
								<div class="checkbox block">
									<label><input type="checkbox" name="excluir_idarquivoroubofurto" value="excluir" /> Desejo excluir o arquivo</label>
								</div>
							<?php endif; ?>
						<?php endif; ?>
						
						<input placeholder="Arquivo de roubo e furto" name="idarquivoroubofurto" type="file"  />
					</div>
				</div>	


				<div class="control-group">
					<label class="control-label">Depreciação </label>
					<div class="controls"><input maxlength="500" placeholder="Depreciação" name="depreciacao" value="<?php echo (isset($this->post_var['depreciacao'])) ? $this->post_var['depreciacao'] : '' ?>" type="text"  class="span3" /></div>
				</div>


				<div class="control-group">
					<label class="control-label">Descrição de Depreciação </label>
					<div class="controls"><textarea class="span12" name="descricoesdepreciacao" cols="5" rows="5"><?php echo (isset($this->post_var)) ? $this->post_var["descricoesdepreciacao"] : ''; ?></textarea></div>
				</div>


				<div class="control-group">
					<label class="control-label">Valor da depreciação </label>
					<div class="controls"><input  placeholder="Valor da depreciação" name="valordepreciacao" value="<?php echo (isset($this->post_var['valordepreciacao'])) ? $this->post_var['valordepreciacao'] : '' ?>" type="text"  class="span3" /></div>
				</div>


				<div class="control-group">
					<label class="control-label">Percentual </label>
					<div class="controls"><input  placeholder="Percentual" name="percentualdepreciacao" value="<?php echo (isset($this->post_var['percentualdepreciacao'])) ? $this->post_var['percentualdepreciacao'] : '' ?>" type="text"  class="span3" /></div>
				</div>


				<div class="control-group">
					<label class="control-label">Tipo de Depreciação </label>
					<div class="controls"><input maxlength="500" placeholder="Tipo de Depreciação" name="tipodepreciacao" value="<?php echo (isset($this->post_var['tipodepreciacao'])) ? $this->post_var['tipodepreciacao'] : '' ?>" type="text"  class="span3" /></div>
				</div>
<?php */?>

				<div class="control-group">
					<?php 			
						$idperfil = (isset($this->post_var['idperfil']) && $this->post_var['idperfil'] > 0  ? $this->post_var['idperfil'] : '');
						$codescola = (isset($this->post_var['codescola']) ? $this->post_var['codescola'] : '');
						
						if($idperfil && empty($codescola)):
							$__rowPerfil = UsuariosPerfis::getPerfilByIdHelper($idperfil);
					?>
						<span >Atribuído no departamento <b style="margin-left:40px;"><?php echo strtoupper($__rowPerfil['perfil']); ?></b></span>
					<?php 
						elseif($idperfil && $codescola) :
							$__rowPerfil = UsuariosPerfis::getPerfilByIdHelper($idperfil);
							$__rowEscola = Escolas::getEscolaByIdHelper($codescola);
					?>						
							<span>Atribuído no departamento <b style="margin-left:40px;"><?php echo strtoupper($__rowPerfil['perfil']); ?></b> na escola: <b><?php echo strtoupper($__rowEscola['escola'])?></b></span>
					<?php else: ?>	
						<label class="control-label">Atribuir patrimônio?</label>
						<div class="button-group">
							<input type="radio" name="atribuir" value="sim" style="margin-left:15px;"><span style="margin:-1px 2px;
						position: absolute;">Sim</span>
							<input type="radio" name="atribuir" value="nao" style="margin-left:25px;" checked="checked"><span style="margin:-1px 2px;
						position: absolute;">Não</span>
						</div>
						
						<div class="control-group box-departamento" style="display: none">
							<label class="control-label">Departamento</label>
							<select class="select" name="departamento">
								<option value="">Selecione...</option>
								<?php foreach (UsuariosPerfis::getPerfisHelpers(array('individualgeral'=>'Apenas usuário logado')) as $k=>$v) : ?>
								<option value="<?php echo $v['id'] ?>"><?php echo $v['perfil'] ?></option>
								<?php endforeach;?>
							</select>
						</div>

						<div class="control-group box-escolas" style="display: none;">
							<label class="control-label">Escola</label>
							<select class="select" name="codescola">
								<option value="">Selecione...</option>
								<?php foreach (Escolas::getEscolasHelper() as $chave => $escola) : 									
									?>
								<option value="<?php echo $escola['id']?>"><?php echo $escola['escola']?></option>
								<?php endforeach ?>
							</select>
						</div>
					<?php endif; ?>
				</div>

				<div class="control-group">
					<input type="hidden" name="status1" value="Ativo">
					<label class="control-label">Status <span class="required"></span></label>
					<div class="controls">
						<input type="text" name="status1" value="Ativo" readonly="true">
						<!--<select name="" data-placeholder="Status" class="select">
							<option value="">Selecione...</option>
							<option value="Ativo">Ativo</option><option value="Bloqueado">Bloqueado</option>->
						</select>	-->					
					</div>
				</div>
				<div class="control-group">
					<input type="hidden" name="baixa" value="nao">
					<input type="hidden" name="statusbaixa" value="Ativo">
				</div>
			<?php /*?>
				<div class="control-group">
					<label class="control-label">Origem da aprovação </label>
					<div class="controls">
						<select name="origemaprovacao" data-placeholder="Origem da aprovação" class="select">
							<option value="">Selecione...</option>
							<option value="escola">escola</option><option value="secretaria">secretaria</option>
						</select>
						
					</div>
				</div>


				<div class="control-group">
					<label class="control-label">logdataescola </label>
					<div class="controls"><input  placeholder="logdataescola" name="logdataescola" value="<?php echo (isset($this->post_var['logdataescola'])) ? $this->post_var['logdataescola'] : '' ?>" type="text"  class="span3" /></div>
				</div>


				<div class="control-group">
					<label class="control-label">logusuarioescola </label>
					<div class="controls"><input  placeholder="logusuarioescola" name="logusuarioescola" value="<?php echo (isset($this->post_var['logusuarioescola'])) ? $this->post_var['logusuarioescola'] : '' ?>" type="text"  class="span3" /></div>
				</div>
<?php */?>
						    
						    
						    </div>
						    
			                <div class="form-actions align-right">
			                	<?php if ((isset($this->visualizar)) && ($this->visualizar)) : ?>
			                		<button onclick="window.history.back()" class="btn btn-danger cancelar" type="button">Voltar</button>
			                	<?php else : ?>
				                	<button class="btn btn-primary enviar" type="submit">Salvar</button>
				                	<button onclick="window.history.back()" class="btn btn-danger cancelar" type="button">Cancelar</button>
			                	<?php endif; ?>
			                </div>
						</div>
						<!-- /general form elements -->

					</fieldset> 

				</form>
				<!-- /basic inputs -->

		    </div>
		    <!-- /content wrapper -->

		</div>
		<!-- content -->
				
<script type="text/javascript" src="<?php echo $this->baseUrl('/public/scripts/admin/patrimonios_form.js') ?>"></script>
<script type="text/javascript">
	var form_values = {};
	
	<?php if (isset($this->post_var)) :  ?>
		form_values.idsecretaria = '<?php echo (isset($this->post_var['idsecretaria'])) ? $this->post_var['idsecretaria'] : '' ?>';

form_values.iddepartamento = '<?php echo (isset($this->post_var['iddepartamento'])) ? $this->post_var['iddepartamento'] : '' ?>';

form_values.idsetor = '<?php echo (isset($this->post_var['idsetor'])) ? $this->post_var['idsetor'] : '' ?>';

form_values.idtipo = '<?php echo (isset($this->post_var['idtipo'])) ? $this->post_var['idtipo'] : '' ?>';

form_values.idmarca = '<?php echo (isset($this->post_var['idmarca'])) ? $this->post_var['idmarca'] : '' ?>';

form_values.idfornecedor = '<?php echo (isset($this->post_var['idfornecedor'])) ? $this->post_var['idfornecedor'] : '' ?>';

form_values.origem = '<?php echo (isset($this->post_var['origem'])) ? $this->post_var['origem'] : '' ?>';

form_values.iddepartamentosecretaria = '<?php echo (isset($this->post_var['iddepartamentosecretaria'])) ? $this->post_var['iddepartamentosecretaria'] : '' ?>';

form_values.idresponsavelsecretaria = '<?php echo (isset($this->post_var['idresponsavelsecretaria'])) ? $this->post_var['idresponsavelsecretaria'] : '' ?>';

form_values.idescola = '<?php echo (isset($this->post_var['idescola'])) ? $this->post_var['idescola'] : '' ?>';

form_values.idresponsavelescola = '<?php echo (isset($this->post_var['idresponsavelescola'])) ? $this->post_var['idresponsavelescola'] : '' ?>';

form_values.aprovado = '<?php echo (isset($this->post_var['aprovado'])) ? $this->post_var['aprovado'] : '' ?>';

form_values.aprovacao = '<?php echo (isset($this->post_var['aprovacao'])) ? $this->post_var['aprovacao'] : '' ?>';

form_values.statusaprovacao = '<?php echo (isset($this->post_var['statusaprovacao'])) ? $this->post_var['statusaprovacao'] : '' ?>';

form_values.baixa = '<?php echo (isset($this->post_var['baixa'])) ? $this->post_var['baixa'] : '' ?>';

form_values.statusbaixa = '<?php echo (isset($this->post_var['statusbaixa'])) ? $this->post_var['statusbaixa'] : '' ?>';

form_values.roubofurto = '<?php echo (isset($this->post_var['roubofurto'])) ? $this->post_var['roubofurto'] : '' ?>';

form_values.statusroubofurto = '<?php echo (isset($this->post_var['statusroubofurto'])) ? $this->post_var['statusroubofurto'] : '' ?>';

form_values.status1 = '<?php echo (isset($this->post_var['status1'])) ? $this->post_var['status1'] : $this->post_var['status'] ?>';

form_values.origemaprovacao = '<?php echo (isset($this->post_var['origemaprovacao'])) ? $this->post_var['origemaprovacao'] : '' ?>';

form_values.idperfil = '<?php echo (isset($this->post_var['idperfil'])) ? $this->post_var['idperfil'] : '' ?>';

form_values.codescola = '<?php echo (isset($this->post_var['codescola'])) ? $this->post_var['codescola'] : '' ?>';

	<?php endif; ?>

	visualizar = <?php echo  ((isset($this->visualizar)) && ($this->visualizar))  ? 'true' : 'false' ?>;
</script>
