		<!-- Content -->
		<div id="content">

		    <!-- Content wrapper -->
		    <div class="wrapper">

			    <!-- Breadcrumbs line -->
			    <div class="crumbs">
			    	<?php echo $this->render('/helpers/breadcrumb.phtml') ?>
			    </div>
			    <!-- /breadcrumbs line -->

			    <!-- Page header -->
			    <div class="page-header">
			    	<div class="page-title">
				    	<h5>Formulário do locador</h5>
				    	<span>Verifique os campos e preencha com os dados</span>
			    	</div>
			    </div>
			    <!-- /page header -->

			    <?php if (isset($this->crudMessage)) : ?>
					<div class="alert alert-success">
	                	<button data-dismiss="alert" class="close" type="button">×</button>
	                    <strong>Operação realizada com sucesso!</strong>
		    			<span><br /><?php echo $this->crudMessage ?></span>
	                </div>			    
			    <?php endif; ?>

				<form id="form" name="form" action="" method="post" class="form-horizontal" enctype="multipart/form-data"> 
					<input type="hidden" value="<?php echo (isset($this->post_var)) ? $this->post_var["id"] : ''; ?>" name="id" id="id" />
					
					<fieldset>
						<!-- General form elements -->
						<div class="widget row-fluid">
						    <div class="navbar">
						        <div class="navbar-inner">
						            <h6>Digite as informações do formulário</h6>
						        </div>
						    </div>

						    <div class="well">
								<?php if (isset($this->erros)) : ?>
									<div class="alert alert-error margin">
				                        <button data-dismiss="alert" class="close" type="button">×</button>
				                        <strong>Há erros no formulário!</strong>
					    				<?php foreach ($this->erros as $k=>$v) : ?>
					    					<span><br />- <?php echo $v ?></span>
					    				<?php endforeach;?>			                        
				                    </div>
			                    <?php endif; ?>						    
						    

				<div class="control-group">
					<label class="control-label">Foto </label>
					<div class="controls">
						<?php if ((isset($this->post_var['idimagem'])) && ((int)$this->post_var['idimagem']>0)) : ?>
							<?php echo $this->getImagem($this->post_var['idimagem'], 80, 80, '', Imagens::$INDISPONIVEL) ?>
					
							<?php if (!$this->visualizar) : ?>
								<div class="checkbox block">
									<label><input type="checkbox" name="excluir_idimagem" value="excluir_idimagem" /> Desejo excluir a imagem</label>
								</div>
							<?php endif; ?>
						<?php endif; ?>						            
					
						<input placeholder="Foto" name="idimagem" type="file"  />
					</div>
				</div>	


				<div class="control-group">
					<label class="control-label">Nome completo </label>
					<div class="controls"><input maxlength="500" placeholder="Nome completo" name="nome" value="<?php echo (isset($this->post_var['nome'])) ? $this->post_var['nome'] : '' ?>" type="text"  class="span3" /></div>
				</div>


				<div class="control-group">
					<label class="control-label">Telefone </label>
					<div class="controls"><input maxlength="500" placeholder="Telefone" name="telefone" value="<?php echo (isset($this->post_var['telefone'])) ? $this->post_var['telefone'] : '' ?>" type="text"  class="span3" /></div>
				</div>

<?php /*?>

				<div class="control-group">
					<label class="control-label">Tipo <span class="required">*</span></label>
					<div class="controls">
						<select name="tipo" data-placeholder="Tipo" class="select">
							<option value="">Selecione...</option>
							<option value="Hidráulico">Hidráulico</option><option value="Eletricista">Eletricista</option>
						</select>
						
					</div>
				</div>
<?php */?>
<?php
							$this->endereco_prefix = "e_idendereco";
							echo $this->render('/helpers/forms/endereco.phtml') ?>
<?php /*/?>
				<div class="control-group">
					<label class="control-label">Matrícula </label>
					<div class="controls"><input maxlength="500" placeholder="Matrícula" name="matrícula" value="<?php echo (isset($this->post_var['matrícula'])) ? $this->post_var['matrícula'] : '' ?>" type="text"  class="span3" /></div>
				</div>
<?php */?>

		

				<div class="control-group">
					<label class="control-label">E-mail </label>
					<div class="controls"><input maxlength="500" placeholder="E-mail" name="email" value="<?php echo (isset($this->post_var['email'])) ? $this->post_var['email'] : '' ?>" type="text"  class="span3" /></div>
				</div>


				<div class="control-group">
					<label class="control-label">Data nascimento</label>
					<div class="controls"><input placeholder="Data nascimento" name="datanascimento" value="<?php echo (isset($this->post_var['datanascimento'])) ? Mn_Util::formPostVarData($this->post_var['datanascimento']) : '' ?>" type="text"  class="span3" /></div>
				</div>


				<div class="control-group">
					<label class="control-label">Data de Emissão da Carteira</label>
					<div class="controls"><input placeholder="Data de Emissão da Carteira" name="emissaocarteira" value="<?php echo (isset($this->post_var['emissaocarteira'])) ? Mn_Util::formPostVarData($this->post_var['emissaocarteira']) : '' ?>" type="text"  class="span3" /></div>
				</div>


				<div class="control-group">
					<label class="control-label">Reservista </label>
					<div class="controls"><input maxlength="500" placeholder="Reservista" name="reservista" value="<?php echo (isset($this->post_var['reservista'])) ? $this->post_var['reservista'] : '' ?>" type="text"  class="span3" /></div>
				</div>


				<div class="control-group">
					<label class="control-label">RG </label>
					<div class="controls"><input maxlength="500" placeholder="RG" name="rg" value="<?php echo (isset($this->post_var['rg'])) ? $this->post_var['rg'] : '' ?>" type="text"  class="span3" /></div>
				</div>


				<div class="control-group">
					<label class="control-label">CPF </label>
					<div class="controls"><input maxlength="500" placeholder="CPF" name="cpf" value="<?php echo (isset($this->post_var['cpf'])) ? $this->post_var['cpf'] : '' ?>" type="text"  class="span3" /></div>
				</div>



				<div class="control-group">
					<label class="control-label">CNH </label>
					<div class="controls">
						<select name="cnh" data-placeholder="CNH" class="select" onchange="setCampos(this, 'cnh', 0)">
							<option value="">Selecione...</option>
							<option value="Sim">Sim</option><option value="Não">Não</option>
						</select>
						
					</div>
				</div>

<div class="box-cnh">
				<div class="control-group">
					<label class="control-label">Número </label>
					<div class="controls"><input maxlength="500" placeholder="Número" name="cnh_numero" value="<?php echo (isset($this->post_var['cnh_numero'])) ? $this->post_var['cnh_numero'] : '' ?>" type="text"  class="span3" /></div>
				</div>


				<div class="control-group">
					<label class="control-label">Categoria </label>
					<div class="controls"><input maxlength="500" placeholder="Categoria" name="cnh_categoria" value="<?php echo (isset($this->post_var['cnh_categoria'])) ? $this->post_var['cnh_categoria'] : '' ?>" type="text"  class="span3" /></div>
				</div>


				<div class="control-group">
					<label class="control-label">Validade</label>
					<div class="controls"><input placeholder="Validade" name="cnh_validade" value="<?php echo (isset($this->post_var['cnh_validade'])) ? Mn_Util::formPostVarData($this->post_var['cnh_validade']) : '' ?>" type="text"  class="span3" /></div>
				</div>
</div>

<div class="box-estrangeiro">
				<div class="control-group">
					<label class="control-label">Observações </label>
					<div class="controls"><textarea class="span12" name="obs_estrangeiro" cols="5" rows="5"><?php echo (isset($this->post_var)) ? $this->post_var["obs_estrangeiro"] : ''; ?></textarea></div>
				</div>
</div>

				<div class="control-group">
					<label class="control-label">Nacionalidade </label>
					<div class="controls"><input maxlength="500" placeholder="Nacionalidade" name="nacionalidade" value="<?php echo (isset($this->post_var['nacionalidade'])) ? $this->post_var['nacionalidade'] : '' ?>" type="text"  class="span3" /></div>
				</div>

				<div class="control-group">
					<label class="control-label">Estado Civil </label>
					<div class="controls">
						<select name="estadocivil" data-placeholder="Estado Civil" class="select">
							<option value="">Selecione...</option>
							<option value="Solteiro">Solteiro</option><option value="Casado">Casado</option><option value="Separado Judicialmente">Separado Judicialmente</option><option value="Divorciado">Divorciado</option><option value="Desquitado">Desquitado</option><option value="União Estável">União Estável</option><option value="Viúvo">Viúvo</option>
						</select>
						
					</div>
				</div>


				<div class="control-group">
					<label class="control-label">Celular </label>
					<div class="controls"><input maxlength="500" placeholder="Celular" name="celular" value="<?php echo (isset($this->post_var['celular'])) ? $this->post_var['celular'] : '' ?>" type="text"  class="span3" /></div>
				</div>


				<div class="control-group">
					<div>
					<label class="control-label">Status <span class="required">*</span></label>
					<div class="controls">
						<div>
						<select name="status1" data-placeholder="Status" class="select">
							<option value="">Selecione...</option>
							<option value="Ativo">Ativo</option><option value="Bloqueado">Bloqueado</option>
						</select>
						</div>
					</div>
					</div>
				</div>

						    
						    
						    </div>
						    
			                <div class="form-actions align-right">
			                	<?php if ((isset($this->visualizar)) && ($this->visualizar)) : ?>
			                		<button onclick="window.history.back()" class="btn btn-danger cancelar" type="button">Voltar</button>
			                	<?php else : ?>
				                	<button class="btn btn-primary enviar" type="submit">Salvar</button>
				                	<button onclick="window.history.back()" class="btn btn-danger cancelar" type="button">Cancelar</button>
			                	<?php endif; ?>
			                </div>
						</div>
						<!-- /general form elements -->

					</fieldset> 

				</form>
				<!-- /basic inputs -->

		    </div>
		    <!-- /content wrapper -->

		</div>
		<!-- content -->
				
<script type="text/javascript" src="<?php echo $this->baseUrl('/public/scripts/admin/funcionariosgerais_form.js') ?>"></script>
<script type="text/javascript">
	var form_values = {};
	
	<?php if (isset($this->post_var)) :  ?>
		form_values.idsecretaria = '<?php echo (isset($this->post_var['idsecretaria'])) ? $this->post_var['idsecretaria'] : '' ?>';

form_values.tipo = '<?php echo (isset($this->post_var['tipo'])) ? $this->post_var['tipo'] : '' ?>';

form_values.e_idenderecoidestado = '<?php echo (isset($this->post_var['e_idenderecoidestado'])) ? $this->post_var['e_idenderecoidestado'] : '' ?>';
form_values.iddepartamentosecretaria = '<?php echo (isset($this->post_var['iddepartamentosecretaria'])) ? $this->post_var['iddepartamentosecretaria'] : '' ?>';

form_values.cnh = '<?php echo (isset($this->post_var['cnh'])) ? $this->post_var['cnh'] : '' ?>';

form_values.estrangeiro = '<?php echo (isset($this->post_var['estrangeiro'])) ? $this->post_var['estrangeiro'] : '' ?>';

form_values.grauinstrucao = '<?php echo (isset($this->post_var['grauinstrucao'])) ? $this->post_var['grauinstrucao'] : '' ?>';

form_values.estadocivil = '<?php echo (isset($this->post_var['estadocivil'])) ? $this->post_var['estadocivil'] : '' ?>';

form_values.filhos = '<?php echo (isset($this->post_var['filhos'])) ? $this->post_var['filhos'] : '' ?>';

form_values.regime = '<?php echo (isset($this->post_var['regime'])) ? $this->post_var['regime'] : '' ?>';

form_values.bolsista = '<?php echo (isset($this->post_var['bolsista'])) ? $this->post_var['bolsista'] : '' ?>';

form_values.idfuncao = '<?php echo (isset($this->post_var['idfuncao'])) ? $this->post_var['idfuncao'] : '' ?>';

form_values.idcargo = '<?php echo (isset($this->post_var['idcargo'])) ? $this->post_var['idcargo'] : '' ?>';	

form_values.status1 = '<?php echo (isset($this->post_var['status1'])) ? $this->post_var['status1'] : $this->post_var['status'] ?>';


	<?php endif; ?>

	visualizar = <?php echo  ((isset($this->visualizar)) && ($this->visualizar))  ? 'true' : 'false' ?>;
</script>
