<h3 class="title-accordion">
	<a class="click_acc" data-toggle="collapse" data-parent="#accordion" href="#collapse10">
		Localizar no Mapa
	</a>
</h3>

<div id="collapse10" class="content-height panel-collapse collapse in">
	<div class="control-group">
		<div class="col-sm-6">
			<?php //echo $this->render('/helpers/forms/endereco.phtml') ?>
                        <input  id="latitude" name='latitude' type="hidden" value="<?php echo (isset($this->post_var['latitude'])) ? $this->post_var['latitude'] : "" ?>" ><input id="longitude" name='longitude' type="hidden" value="<?php echo (isset($this->post_var['longitude'])) ? $this->post_var['longitude'] : "" ?>">
                        <div id="map" style="width: 1350px; height: 400px"></div>
		</div>
	</div>	
        <script async defer
                src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAlHzImDCagrOppCrUjRU2FT__KHKsUYhs&callback=initMap">
        </script>
</div>
<script>
  

function initMap(){
    
    
    // Seta o valor caso ainda não exista uma latitude e longitude cadastrada para o aluno
    if($('#latitude').val() == "" || $('#longitude').val() == ""){
        $('#latitude').val("-23.320264");
        $('#longitude').val("-46.228834");  
    }else{
        
    }//end if else
    
    var la = parseFloat($('#latitude').val());
    var lo = parseFloat($('#longitude').val());
    
    var map = new google.maps.Map(document.getElementById('map'),{
        zoom: 17,
        zoomControl: true,
        mapTypeControl: true,
        scaleControl: false,
        streetViewControl: false,
        rotateControl: false,
        fullscreenControl: false,
        center: {lat: la, lng: lo}
    });

    var marker = new google.maps.Marker({
        position: map.getCenter(),
        icon: {
            icon: null,
            scale: 1
        },
        draggable: true,
        map: map
    });

    Lat = marker.position.lat().toFixed(6);
    Lgn = marker.position.lng().toFixed(6);

    var infoWindow = new google.maps.InfoWindow;

    marker.addListener('mouseout', function() {
        //alert(infoWindow);
        Lat = marker.position.lat();
        Lgn = marker.position.lng();
        $("#latitude").val(Lat);
        $("#longitude").val(Lgn);
        //alert(Lat + " - " + Lgn);

    });
   

}//end function localizaMap
/*
    if($('#latitude').val() == "" || $('#longitude').val() == ""){
        alert("foi");
        //$('#latitude').val("-23.471823");
        //$('#longitude').val("-46.351270");  
    }else{
        
    }//end if else
    
    
         
                
    var map = new google.maps.Map(document.getElementById('map'),{
        zoom: 17,
        zoomControl: true,
        mapTypeControl: true,
        scaleControl: false,
        streetViewControl: false,
        rotateControl: false,
        fullscreenControl: false,
        center: {lat: la, lng: lo}
    });

    var marker = new google.maps.Marker({
        position: map.getCenter(),
        icon: {
            icon: null,
            scale: 1
        },
        draggable: true,
        map: map
    });

    Lat = marker.position.lat().toFixed(6);
    Lgn = marker.position.lng().toFixed(6);

    var infoWindow = new google.maps.InfoWindow;

    marker.addListener('mouseout', function() {
        //alert(infoWindow);
        Lat = marker.position.lat();
        Lgn = marker.position.lng();
        $("#latitude").val(Lat);
        $("#longitude").val(Lgn);
        //alert(Lat + " - " + Lgn);

    });
}
}

*/

</script>   