<h3 class="title-accordion">
    <a class="click_acc" data-toggle="collapse" data-parent="#accordion" href="#collapse5">
        Endereço
    </a>
</h3>

<div id="collapse5" class="content-height panel-collapse collapse in">
    <div class="control-group">
        <div class="col-sm-6">
            <div class="control-group">
                <label class="control-label">Endereço</label>
                <div class="controls">
                    <input name="endereco" <?php if ($this->visualizar) {echo 'disabled="true"';} else {echo 'enabled="true"';} ?> value="<?php echo (isset($this->post_var)) ? $this->post_var['endereco'] : "" ?>" type="text" class="span3" placeholder="Endereço" size='50'>
                </div>
            </div>

            <div class="control-group">
                <label class="control-label">Número</label>
                <div class="controls">
                    <input name="numero" <?php if ($this->visualizar) {echo 'disabled="true"';} else {echo 'enabled="true"';} ?> value="<?php echo (isset($this->post_var)) ? $this->post_var['numero'] : "" ?>" type="text" class="span3" placeholder="Número">
                </div>
            </div>

            <div class="control-group">
                <label class="control-label">Complemento</label>
                <div class="controls">
                    <input name="complemento" <?php if ($this->visualizar) {echo 'disabled="true"';} else {echo 'enabled="true"';} ?> value="<?php echo (isset($this->post_var)) ? $this->post_var['complemento'] : "" ?>" type="text" class="span3" placeholder="Complemento">
                </div>
            </div>

            <div id="div-bairro" style="display: none;">
                <div class="control-group">
                    <label class="control-label">Bairro</label>
                    <div class="controls">
                        <select id="idbairro" name="idbairro" class="select" <?php if ($this->visualizar) {echo 'disabled="true"';} else {echo 'enabled="true"';} ?> >
                            <option value="">Selecione...</option>
                            <?php foreach (Ltebairros::getBairrosHelper() as $i=>$row) : ?>
                                <option value="<?php echo $row['id'] ?>"><?php echo $row['bairro'] ?></option>
                            <?php endforeach; ?>
                        </select>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">Cidade</label>
                    <div class="controls">
                        <input type="text" name="" disabled="" value="Santa Isabel">
                    </div>
                </div>
            </div>

            <div class="control-group" id="div-cidade" style="display: none;">
                <label class="control-label">Cidade</label>
                <div class="controls">
                    <select id="idcidade" name="idcidade" class="select" <?php if ($this->visualizar) {echo 'disabled="true"';} else {echo 'enabled="true"';} ?> >
                        <option value="">Selecione...</option>
                        <?php foreach (Ltecidades::getcidadesHelper() as $i=>$row) : ?>
                            <option value="<?php echo $row['id'] ?>"><?php echo $row['cidade'] ?></option>
                        <?php endforeach; ?>
                    </select>
                </div>
            </div>

            <div class="control-group">
                <label class="control-label">Estado</label>
                <div class="controls">
                    <select id="idestado" name="idestado" class="select" <?php if ($this->visualizar) {echo 'disabled="true"';} else {echo 'enabled="true"';} ?> >
                        <?php foreach (Estados::getEstadosHelper() as $i=>$row) : ?>
                            <option value="<?php echo $row['id'] ?>"><?php echo $row['nome'] ?></option>
                        <?php endforeach; ?>
                    </select>
                </div>
            </div>

        </div>
    </div>  
</div>
