		<!-- Content -->
		<div id="content">

		    <!-- Content wrapper -->
		    <div class="wrapper">

			    <!-- Breadcrumbs line -->
			    <div class="crumbs">
			    	<?php echo $this->render('/helpers/breadcrumb.phtml') ?>
			    </div>
			    <!-- /breadcrumbs line -->

			    <!-- Page header -->
			    <div class="page-header">
			    	<div class="page-title">
				    	<h5>Formulário do bem</h5>
				    	<span>Verifique os campos e preencha com os dados</span>
			    	</div>
			    </div>
			    <!-- /page header -->

			    <?php if (isset($this->crudMessage)) : ?>
					<div class="alert alert-success">
	                	<button data-dismiss="alert" class="close" type="button">×</button>
	                    <strong>Operação realizada com sucesso!</strong>
		    			<span><br /><?php echo $this->crudMessage ?></span>
	                </div>			    
			    <?php endif; ?>

				<form id="form" name="form" action="" method="post" class="form-horizontal" enctype="multipart/form-data"> 
					<input type="hidden" value="<?php echo (isset($this->post_var)) ? $this->post_var["id"] : ''; ?>" name="id" id="id" />
					
					<fieldset>
						<!-- General form elements -->
						<div class="widget row-fluid">
						    <div class="navbar">
						        <div class="navbar-inner">
						            <h6>Digite as informações do formulário</h6>
						        </div>
						    </div>

						    <div class="well">
								<?php if (isset($this->erros)) : ?>
									<div class="alert alert-error margin">
				                        <button data-dismiss="alert" class="close" type="button">×</button>
				                        <strong>Há erros no formulário!</strong>
					    				<?php foreach ($this->erros as $k=>$v) : ?>
					    					<span><br />- <?php echo $v ?></span>
					    				<?php endforeach;?>			                        
				                    </div>
			                    <?php endif; ?>

			    <div class="control-group">
			    	<div class="controls1 visualizar">
			    		<table class="table table-content" width="100%">
			    			<tbody>
			    				<tr>
			    					<input type="hidden" value="<?php echo (isset($this->post_var['sequencial'])) ? $this->post_var['sequencial'] : $this->sequencial ?>" name="sequencial" id="sequencial" />
			    					<input placeholder="Data de lançamento" name="datalancamento" value="<?php echo (isset($this->post_var['datalancamento'])) ? Mn_Util::formPostVarData($this->post_var['datalancamento']) : date('d/m/Y') ?>" type="hidden"  class="span3" />
			    					<input  placeholder="Hora de abertura" name="horaabertura" value="<?php echo (isset($this->post_var['horaabertura'])) ? $this->post_var['horaabertura'] : date('G:i:s') ?>" type="hidden"  class="span3" />

			    					<td width="33%">Sequencial/Ano: <?php echo (isset($this->post_var['sequencial'])) ? $this->post_var['sequencial'] : $this->sequencial ?></td>
			    					<td width="34%">Data de lançamento: <?php echo (isset($this->post_var['datalancamento'])) ? Mn_Util::formPostVarData($this->post_var['datalancamento']) : date('d/m/Y') ?></td>
			    					<td width="33%">Hora de abertura: <?php echo (isset($this->post_var['horaabertura'])) ? $this->post_var['horaabertura'] : date('G:i') ?></td>
			    				</tr>
			    			</tbody>
			    		</table>			    		
			    	</div>
			    </div>

			    <div class="control-group">
			    	<label class="control-label">Usuário </label>
			    	<div class="controls visualizar">
			    		<input type="hidden" value="<?php echo (isset($this->post_var['idusuariologado'])) ? $this->post_var['idusuariologado'] : Usuarios::getUsuario('id') ?>" name="idusuariologado" id="idusuariologado" />
			    		<?php echo Usuarios::getUsuario('nomerazao') ?> <?php echo Usuarios::getUsuario('sobrenomefantasia') ?>
			    	</div>
			    </div>						    

			    <div class="control-group">
			    	<label class="control-label">Doação </label>
			    	<div class="controls">
			    		<input class="doacaoRadio" type="radio" name="doacao[]" value="sim"> Sim
			    		<input class="doacaoRadio" type="radio" name="doacao[]" value="nao"> Não
			    	</div>
			    </div>

			    <div id="doacaoDiv" style="background-color: #ebebe0 ;display: none;">
			    	<div class="navbar">
			    	    <div class="navbar-inner">
			    	        <h6>Informações da Doação</h6>
			    	    </div>
			    	</div>

			    	<div class="control-group">
			    		<label class="control-label">Nome do Doador </label>
			    		<div class="controls">
			    			<input placeholder="Nome do Doador" type="text" name="nomedoador" value="<?= (isset($this->post_var['nomedoador'])) ? $this->post_var['nomedoador'] : '' ?>">
			    		</div>
			    	</div>

			    	<div class="control-group">
						<label class="control-label">Anexar Documento </label>
						<div class="controls">
							<?php if ((isset($this->post_var['iddocumento'])) && ((int)$this->post_var['iddocumento']>0)) : ?>

								<?= $this->getArquivo($this->post_var['iddocumento']) ?>
						
								<?php if (!$this->visualizar) : ?>

									<div class="checkbox block">
										<label><input type="checkbox" name="excluir_iddocumento" value="excluir" /> Desejo excluir o material</label>
									</div>

								<?php endif ?>
							<?php endif ?>
						
							<input placeholder="Documento" name="iddocumento" type="file"  />
						</div>
					</div>	
			    </div>

			    <div class="control-group">
			    	<label class="control-label">N. Processo de Compra</label>
			    	<div class="controls">
			    		<input type="text" name="nprocessocompra" placeholder="N. Processo de Compra" value="<?= (isset($this->post_var['nprocessocompra'])) ? $this->post_var['nprocessocompra'] : '' ?>">
			    	</div>
			    </div>

			    <div class="control-group">
			    	<label class="control-label">N. Licitação</label>
			    	<div class="controls">
			    		<input type="text" name="nlicitacao" placeholder="N. Licitação" value="<?= (isset($this->post_var['nlicitacao'])) ? $this->post_var['nlicitacao'] : '' ?>">
			    	</div>
			    </div>

			    <div class="control-group">
			    	<label class="control-label">N. Empenho</label>
			    	<div class="controls">
			    		<input type="text" name="nempenho" placeholder="N. Empenho" value="<?= (isset($this->post_var['nempenho'])) ? $this->post_var['nempenho'] : '' ?>">
			    	</div>
			    </div>

			    <div class="control-group">
			    	<label class="control-label">Data de Emissão da N.F.</label>
			    	<div class="controls">
			    		<input type="text" name="dataemissao" placeholder="Data da Emissão da N.F." value="<?= (isset($this->post_var['nlicitacao'])) ? Mn_Util::formPostVarData($this->post_var['dataemissao']) : '' ?>">
			    	</div>
			    </div>

			    <div class="control-group">
			    	<label class="control-label">N. da N.F.</label>
			    	<div class="controls">
			    		<input type="text" name="nf" placeholder="N. da N.F." value="<?= (isset($this->post_var['nf'])) ? $this->post_var['nf'] : '' ?>">
			    	</div>
			    </div>

			    <div class="control-group">
			    	<label class="control-label">Série</label>
			    	<div class="controls">
			    		<input type="text" name="serie" placeholder="Série" value="<?= (isset($this->post_var['serie'])) ? $this->post_var['serie'] : '' ?>">
			    	</div>
			    </div>

			    <div class="control-group">
			    	<label class="control-label">Fornecedor </label>
			    	<div class="controls">
			    		<select name="idfornecedor" data-placeholder="Fornecedor" class="select">
			    			<option value="">Selecione...</option>
			    			<?php
			    				$fornecedores = Fornecedores::getFornecedores(array('status'=>'Ativo'));
			    			?>
			    			<?php foreach ($fornecedores as $key => $value) : ?>
			    				<option value="<?= $value['id'] ?>"><?= $value['nomefantasia'] ?></option>
			    			<?php endforeach ?>
			    		</select>						
			    	</div>
			    </div>

			    <div class="control-group">
			    	<label class="control-label">Danfe</label>
			    	<div class="controls">
			    		<input type="text" name="danfe" placeholder="Danfe" value="<?= (isset($this->post_var['danfe'])) ? $this->post_var['danfe'] : '' ?>">
			    	</div>
			    </div>

			    <div class="control-group">
			    	<label class="control-label">Item da N.F.</label>
			    	<div class="controls">
			    		<input type="text" name="itemnf" placeholder="Item da N.F." value="<?= (isset($this->post_var['itemnf'])) ? $this->post_var['itemnf'] : '' ?>">
			    	</div>
			    </div>

			    <div class="control-group">
			    	<label class="control-label">Quantidade</label>
			    	<div class="controls">
			    		<input type="text" name="quantidade" placeholder="Quantidade" value="<?= (isset($this->post_var['quantidade'])) ? $this->post_var['quantidade'] : '' ?>">
			    	</div>
			    </div>

			    <div class="control-group">
			    	<label class="control-label">Descrição do Produto </label>
			    	<div class="controls"><textarea class="span12" name="descricao" cols="5" rows="5"><?= (isset($this->post_var['descricao'])) ? $this->post_var["descricao"] : ''; ?></textarea></div>
			    </div>

			    <div class="control-group">
			    	<label class="control-label">Valor Unitário do Item</label>
			    	<div class="controls">
			    		<input type="text" name="valorunitario" placeholder="Valor Unitário" value="<?= (isset($this->post_var['valorunitario'])) ? $this->post_var['valorunitario'] : '' ?>">
			    	</div>
			    </div>

			    <div class="control-group">
			    	<label class="control-label">Valor Total do Item</label>
			    	<div class="controls">
			    		<input type="text" name="valortotal" placeholder="Valor Total" value="<?= (isset($this->post_var['valortotal'])) ? $this->post_var['valortotal'] : '' ?>">
			    	</div>
			    </div>

			    <div class="control-group">
			    	<label class="control-label">N. do Patrimônio Inicial</label>
			    	<div class="controls">
			    		<input type="text" name="npatrimonioinicial" placeholder="N. do Patrimônio Inicial" value="<?= (isset($this->post_var['npatrimonioinicial'])) ? $this->post_var['npatrimonioinicial'] : '' ?>">
			    	</div>
			    </div>

			    <div class="control-group">
			    	<label class="control-label">Código de Barras</label>
			    	<div class="controls">
			    		<input type="text" name="codbarras" placeholder="Código de Barras" value="<?= (isset($this->post_var['codbarras'])) ? $this->post_var['codbarras'] : '' ?>">
			    	</div>
			    </div>

			    <div class="control-group">
			    	<button class="btn" id="mostraProdutos" type="button">Cadastrar Itens</button>
			    </div>

				<div class="control-group">
					<label class="control-label">Status <span class="required">*</span></label>
					<div class="controls">
						<select name="status1" data-placeholder="Status" class="select">
							<option value="">Selecione...</option>
							<option value="Ativo">Ativo</option><option value="Bloqueado">Bloqueado</option>
						</select>						
					</div>
				</div>

			    <!-- LOOP COM RELAÇÃO A QUANTIDADE -->
			    <div id="loop" style="display: none;">
			    </div>

						    
						    
						    </div>
						    
			                <div class="form-actions align-right">
			                	<?php if ((isset($this->visualizar)) && ($this->visualizar)) : ?>
			                		<button onclick="window.history.back()" class="btn btn-danger cancelar" type="button">Voltar</button>
			                	<?php else : ?>
				                	<button class="btn btn-primary enviar" type="submit">Salvar</button>
				                	<button onclick="window.history.back()" class="btn btn-danger cancelar" type="button">Cancelar</button>
			                	<?php endif; ?>
			                </div>
						</div>
						<!-- /general form elements -->

					</fieldset> 

				</form>
				<!-- /basic inputs -->

		    </div>
		    <!-- /content wrapper -->

		</div>
		<!-- content -->
				
<script type="text/javascript" src="<?php echo $this->baseUrl('/public/scripts/admin/patrimonioscomprasbens_form.js') ?>"></script>
<script type="text/javascript">
	var form_values = {};
	
	<?php if (isset($this->post_var)) :  ?>
		
	form_values.status1 = '<?php echo (isset($this->post_var['status1'])) ? $this->post_var['status1'] : $this->post_var['status'] ?>';
	form_values.doacao = '<?php echo (isset($this->post_var['doacao'])) ? $this->post_var['doacao'] : ''?>';
	form_values.idfornecedor = '<?php echo (isset($this->post_var['idfornecedor'])) ? $this->post_var['idfornecedor'] : ''?>';
	form_values.qtd = '<?php echo (isset($this->post_var['quantidade'])) ? $this->post_var['quantidade'] : '' ?>';

	form_values.idbem = '<?php echo (isset($this->post_var['id'])) ? $this->post_var['id'] : '' ?>';

	<?php endif; ?>

	visualizar = <?php echo  ((isset($this->visualizar)) && ($this->visualizar))  ? 'true' : 'false' ?>;
</script>
