<?php 

if(isset($_POST['idbem']) && ($_POST['idbem'] != '') && ($_POST['idbem']!=null) && ($_POST['idbem']!="null") ){
	var_dump($_POST['idbem']);
	die('aqui'); 
	$idbem = $_POST['idbem'];

	$dadosProdutos = Patrimoniosproduto::getPatrimoniosproduto(array('idcomprasbens'=>$idbem));
}

?>
<?php $v = 0; ?>
<?php if((isset($_POST['qtd'])) && ((int)$_POST['qtd'] > 0)): ?>
<?php for ($i=$_POST['qtd']; $i > 0 ; $i--) : ?>

<?php $dadosproduto = (isset($dadosProdutos)) ? $dadosProdutos[$i-1] : NULL ?>
<div class="navbar">
	<div class="navbar-inner">
		<h6>Poduto <?= $v+1 ?></h6>
	</div>
</div>

<div class="control-group">
		<label class="control-label">Grupo de Bens </label>
	<div class="controls">
		<select name="idgrupobens[]" class="select">
			<option value="">Selecione..</option>
		</select>
	</div>
</div>

<div class="control-group">
	<label class="control-label">Foto </label>
	<div class="controls">

		<?php if ((isset($dadosProdutos)) && ((int)$dadosproduto['foto']>0)) : ?>
			<?php echo $this->getImagem($dadosproduto['foto'], 80, 80, '', Imagens::$INDISPONIVEL) ?>
		
			<?php if (!$this->visualizar) : ?>
				<div class="checkbox block">
					<label><input type="checkbox" name="excluir_idfoto<?=$v?>" value="excluir_idfoto<?=$v?>" /> Desejo excluir a imagem</label>
				</div>
			<?php endif; ?>
		<?php endif; ?>	    
	
		<input placeholder="Foto" name="idfoto<?=$v?>" type="file"/>
	</div>
</div>

<div class="control-group">
		<label class="control-label">Nome do Produto </label>
	<div class="controls">
		<input type="text" value="<?= ($dadosproduto != NULL) ? $dadosproduto['nome'] : '' ?>" name="nome[]">
	</div>
</div>

<div class="control-group">
		<label class="control-label">Tipo do Produto </label>
	<div class="controls">
		<select name="idtipo[]" class="select">
			<option value="">Selecione..</option>
		</select>
	</div>
</div>

<div class="control-group">
		<label class="control-label">Cor do Produto </label>
	<div class="controls">
		<select name="idcor[]" class="select">
			<option value="">Selecione..</option>
		</select>
	</div>
</div>

<div class="control-group">
		<label class="control-label">Marca do Produto </label>
	<div class="controls">
		<select name="idmarca[]" class="select">
			<option value="">Selecione..</option>
		</select>
	</div>
</div>

<div class="control-group">
		<label class="control-label">Tipo do Produto </label>
	<div class="controls">
		<select name="idtipo[]" class="select">
			<option value="">Selecione..</option>
		</select>
	</div>
</div>

<div class="control-group">
		<label class="control-label">Modelo do Produto </label>
	<div class="controls">	
		<select name="idmodelo[]" class="select">
			<option value="">Selecione..</option>
		</select>
	</div>
</div>

<div class="control-group">
	<label class="control-label">Característica </label>
	<div class="controls"><textarea class="span12" name="caracteristica[]" value="<?= ($dadosproduto != NULL) ? $dadosproduto['caracteristica'] : '' ?>" cols="5" rows="5"><?= ($dadosproduto != NULL) ? $dadosproduto['caracteristica'] : '' ?></textarea></div>
</div>

<div class="control-group">
	<label class="control-label">Dimensão </label>
	<div class="controls"><textarea value="<?= ($dadosproduto != NULL) ? $dadosproduto['dimensao'] : '' ?>" class="span12" name="dimensao[]" cols="5" rows="5"><?= ($dadosproduto != NULL) ? $dadosproduto['dimensao'] : '' ?></textarea></div>
</div>

<div class="control-group">
		<label class="control-label">Série do Produto </label>
	<div class="controls">
		<input type="text" value="<?= ($dadosproduto != NULL) ? $dadosproduto['serie'] : '' ?>" name="serieprod[]">
	</div>
</div>

<div class="control-group">
		<label class="control-label">Número de lote </label>
	<div class="controls">
		<input type="text" value="<?= ($dadosproduto != NULL) ? $dadosproduto['nlote'] : '' ?>" name="nlote[]">
	</div>
</div>

<div class="control-group">
		<label class="control-label">Ano de Fabricação </label>
	<div class="controls">
		<input value="<?= ($dadosproduto != NULL) ? $dadosproduto['anofabricacao'] : '' ?>" type="text" name="anofabricacao[]">
	</div>
</div>

<div class="control-group">
		<label class="control-label">Inflamável </label>
	<div class="controls">
		<input type="radio" <?= ($dadosproduto != NULL && $dadosproduto['inflamavel'] == 'sim') ? 'checked' : '' ?> name="inflamavel<?=$i?>[]" value="sim"> Sim
		<input type="radio" <?= ($dadosproduto != NULL && $dadosproduto['inflamavel'] == 'nao') ? 'checked' : '' ?> name="inflamavel<?=$i?>[]" value="nao"> Nao
	</div>
</div>
<?php $v++ ?>
<?php endfor ?>
<?php endif; ?>