		<!-- Content -->
		<div id="content">

		    <!-- Content wrapper -->
		    <div class="wrapper">

			    <!-- Breadcrumbs line -->
			    <div class="crumbs">
			    	<?php echo $this->render('/helpers/breadcrumb.phtml') ?>
			    </div>
			    <!-- /breadcrumbs line -->

			    <!-- Page header -->
			    <div class="page-header">
			    	<div class="page-title">
				    	<h5>Formulário do logística de entrada</h5>
				    	<span>Verifique os campos e preencha com os dados</span>
			    	</div>
			    </div>
			    <!-- /page header -->

			    <?php if (isset($this->crudMessage)) : ?>
					<div class="alert alert-success">
	                	<button data-dismiss="alert" class="close" type="button">×</button>
	                    <strong>Operação realizada com sucesso!</strong>
		    			<span><br /><?php echo $this->crudMessage ?></span>
	                </div>			    
			    <?php endif; ?>

				<form id="form" name="form" action="" method="post" class="form-horizontal" enctype="multipart/form-data"> 
					<input type="hidden" value="<?php echo (isset($this->post_var)) ? $this->post_var["id"] : ''; ?>" name="id" id="id" />
					
					<fieldset>
						<!-- General form elements -->
						<div class="widget row-fluid">
						    <div class="navbar">
						        <div class="navbar-inner">
						            <h6>Digite as informações do formulário</h6>
						        </div>
						    </div>

						    <div class="well">
								<?php if (isset($this->erros)) : ?>
									<div class="alert alert-error margin">
				                        <button data-dismiss="alert" class="close" type="button">×</button>
				                        <strong>Há erros no formulário!</strong>
					    				<?php foreach ($this->erros as $k=>$v) : ?>
					    					<span><br />- <?php echo $v ?></span>
					    				<?php endforeach;?>			                        
				                    </div>
			                    <?php endif; ?>						    
						    
			    <div class="control-group">
					<div class="controls1 visualizar">
						<table class="table table-content" width="100%">
							<tbody>
								<tr>
									
									<input type="hidden" value="<?php echo (isset($this->post_var['datainicio'])) ? Mn_Util::formPostVarData($this->post_var['datainicio']) : date('d/m/Y') ?>" name="datainicio"/>
									<td width="34%">Data da Saída: <?php echo (isset($this->post_var['datainicio'])) ? Mn_Util::formPostVarData($this->post_var['datainicio']) : date('d/m/Y') ?></td>
									<input type="hidden" value="<?php echo (isset($this->post_var['horaentrada'])) ? $this->post_var['horaentrada'] : date('G:i:s') ?>" name="horaentrada"  />
									<td width="33%">Hora da Saída: <?php echo (isset($this->post_var['horaentrada'])) ? $this->post_var['horaentrada'] : date('G:i:s') ?></td>
								</tr>
							</tbody>
						</table>
						
					</div>
				</div>                
				<div class="control-group">
					<label class="control-label">Veículo <span class="required">*</span></label>
					<div class="controls">
						<?php  if ((isset($this->post_var['status'])) && ($this->post_var['status']=="Finalizado")): ?>
							<input type="hidden" name="idfrota" value="<?php echo $this->post_var['idfrota']?>">
							<?php
								$___rows = Logisticascontrolessaidas::getLogisticascontrolessaidasHelper(array('id'=>$this->post_var['idfrota']));
								$___row = (sizeof($___rows)>0) ? 	$___rows[0] : false;	
								
								echo ($___row) ? $this->formatTextoBranco($___row['modelo']) : '--';		
							?>
							<?php else: ?>
		                <select name="idfrota" data-placeholder="Veículo" class="select">
							<option value="">Selecione...</option>
							
								
							
								<?php  foreach (Logisticascontrolessaidas::getLogisticascontrolessaidasHelper(array('status'=>'Finalizado',  'retorno'=>'Sim')) as $k=>$v) : ?>
								<option value="<?php echo $v['id'] ?>"><?php echo $v['modelo'] ?></option>
								<?php endforeach;?>
							

						</select><?php endif ?>
					</div>
				</div>


				<div class="control-group">
					<label class="control-label">Km Final </label>
					<div class="controls"><input maxlength="500" placeholder="Km Final" name="finalkm" value="<?php echo (isset($this->post_var['finalkm'])) ? $this->post_var['finalkm'] : '' ?>" type="text"  class="span3" /></div>
				</div>

				<div class="control-group">
					<label class="control-label">Relatório do trajeto do Motorista </label>
					<div class="controls"><textarea class="span12" name="descricoes" cols="5" rows="5"><?php echo (isset($this->post_var)) ? $this->post_var["descricoes"] : ''; ?></textarea></div>
				</div>

				<div class="control-group">
					<label class="control-label">Quantidade Visual de Combustível </label>
					<div class="controls"><input maxlength="500" placeholder="Quantidade Visual de Combustível" name="quantidadecombustivel" value="<?php echo (isset($this->post_var['quantidadecombustivel'])) ? $this->post_var['quantidadecombustivel'] : '' ?>" type="text"  class="span3" /></div>
				</div>


				<div class="control-group">
					<label class="control-label">Observação </label>
					<div class="controls"><textarea class="span12" name="observacao" cols="5" rows="5"><?php echo (isset($this->post_var)) ? $this->post_var["observacao"] : ''; ?></textarea></div>
				</div>


				<div class="control-group">
					<label class="control-label">Nome do Responsável <span class="required">*</span></label>
					<div class="controls">
		                <select name="idfuncionario" data-placeholder="Nome do Responsável" class="select">
							<option value="">Selecione...</option>
							<?php foreach (Funcionariosgeraisescolas::getFuncionariosgeraisescolasHelper(array('status'=>'Ativo')) as $k=>$v) : ?>
							<option value="<?php echo $v['id'] ?>"><?php echo $v['nome'] ?></option>
							<?php endforeach;?>
						</select>
						
					</div>
				</div>


				


				


				<div class="control-group">
					<label class="control-label">Status <span class="required">*</span></label>
					<div class="controls">
						<select name="status1" data-placeholder="Status" class="select">
							<option value="">Selecione...</option>
							<option value="Aguardando">Aguardando</option>
							<option value="Pendente">Pendente</option>
							<option value="Finalizado">Finalizado</option>
						</select>
						
					</div>
				</div>

						    
						    
						    </div>
						    
			                <div class="form-actions align-right">
			                	<?php if ((isset($this->visualizar)) && ($this->visualizar)) : ?>
			                		<button onclick="window.history.back()" class="btn btn-danger cancelar" type="button">Voltar</button>
			                	<?php else : ?>
				                	<button class="btn btn-primary enviar" type="submit">Salvar</button>
				                	<button onclick="window.history.back()" class="btn btn-danger cancelar" type="button">Cancelar</button>
			                	<?php endif; ?>
			                </div>
						</div>
						<!-- /general form elements -->

					</fieldset> 

				</form>
				<!-- /basic inputs -->

		    </div>
		    <!-- /content wrapper -->

		</div>
		<!-- content -->
				
<script type="text/javascript" src="<?php echo $this->baseUrl('/public/scripts/admin/logisticascontrolesdentradas_form.js') ?>"></script>
<script type="text/javascript">
	var form_values = {};
	
	<?php if (isset($this->post_var)) :  ?>
		form_values.idfrota = '<?php echo (isset($this->post_var['idfrota'])) ? $this->post_var['idfrota'] : '' ?>';

form_values.idfuncionario = '<?php echo (isset($this->post_var['idfuncionario'])) ? $this->post_var['idfuncionario'] : '' ?>';

form_values.status1 = '<?php echo (isset($this->post_var['status1'])) ? $this->post_var['status1'] : $this->post_var['status'] ?>';


	<?php endif; ?>

	visualizar = <?php echo  ((isset($this->visualizar)) && ($this->visualizar))  ? 'true' : 'false' ?>;
</script>
