<?php
if(isset($this->post_var)) {
	$_row = new Avaliacoesalunosrelacoes();
	$_rows = $_row->fetchAll("idavaliacao=".$this->post_var['id']." AND excluido='nao'");

	$idaluno = array();
	$q1s = array();
	$q2s = array();
	$q3s = array();
	$q4s = array();
	$medias = array();

	foreach ($_rows as $k => $v) {
		$idaluno[] = $v['idaluno'];
		$q1s[] = $v['q1'];
		$q2s[] = $v['q2'];
		$q3s[] = $v['q3'];
		$q4s[] = $v['q4'];
		$medias[] = $v['media'];
	}

} 
?>
		<!-- Content -->
		<div id="content">

		    <!-- Content wrapper -->
		    <div class="wrapper">

			    <!-- Breadcrumbs line -->
			    <div class="crumbs">
			    	<?php echo $this->render('/helpers/breadcrumb.phtml') ?>
			    </div>
			    <!-- /breadcrumbs line -->

			    <!-- Page header -->
			    <div class="page-header">
			    	<div class="page-title">
				    	<h5>Formulário de Avaliações Complementares </h5>
				    	<span>Verifique os campos e preencha com os dados</span>
			    	</div>
			    </div>
			    <!-- /page header -->

			    <?php if (isset($this->crudMessage)) : ?>
					<div class="alert alert-success">
	                	<button data-dismiss="alert" class="close" type="button">×</button>
	                    <strong>Operação realizada com sucesso!</strong>
		    			<span><br /><?php echo $this->crudMessage ?></span>
	                </div>			    
			    <?php endif; ?>

				<form id="form" name="form" action="" method="post" class="form-horizontal" enctype="multipart/form-data"> 
					<input type="hidden" value="<?php echo (isset($this->post_var)) ? $this->post_var["id"] : ''; ?>" name="id" id="id" />
					
					<fieldset>
						<!-- General form elements -->
						<div class="widget row-fluid">
						    <div class="navbar">
						        <div class="navbar-inner">
						            <h6>Digite as informações do formulário</h6>
						        </div>
						    </div>

						    <div class="well">
								<?php if (isset($this->erros)) : ?>
									<div class="alert alert-error margin">
				                        <button data-dismiss="alert" class="close" type="button">×</button>
				                        <strong>Há erros no formulário!</strong>
					    				<?php foreach ($this->erros as $k=>$v) : ?>
					    					<span><br />- <?php echo $v ?></span>
					    				<?php endforeach;?>			                        
				                    </div>
			                    <?php endif; ?>						    

				<div class="control-group">
					<label class="control-label">Sequencial <span class="required">*</span></label>
					<div class="controls"><input maxlength="500" placeholder="Sequencial da avaliação" name="sequencial" value="<?php echo (isset($this->post_var['sequencial'])) ? $this->post_var['sequencial'] : '' ?>" type="text"  class="span3" /></div>
				</div>

				<div class="control-group">
					<label class="control-label">Data </label>
					<div class="controls"><input placeholder="Data" name="data" value="<?php echo (isset($this->post_var['data'])) ? Mn_Util::formPostVarData($this->post_var['data']) : '' ?>" type="text"  class="span3" /></div>
				</div>

				<div class="control-group">
					<label class="control-label">Nome do Usuário</label>
					<div class="controls visualizar">
						<input  placeholder="Nome do Usuário" name="idusuariologado" value="<?php echo (isset($this->post_var['idusuariologado'])) ? $this->post_var['idusuariologado'] : Usuarios::getUsuario('id') ?>" type="hidden"  class="span3" />
						<?php echo Usuarios::getUsuario('nomerazao') ?> <?php echo Usuarios::getUsuario('sobrenomefantasia') ?><br />
							RGF: <?php echo Usuarios::getUsuario('rgf') ?>
					</div>
				</div>


				<div class="control-group">
					<label class="control-label">Escola <span class="required">*</span></label>
					<div class="controls">
						<select name="idescola" data-placeholder="Escola" class="select" onchange="setSeries(this, 0, 0, 0);setDiretores(this, 0);setCoordenadores(this, 0);setProfessores(this, 0)" >
							<option value="">Selecione...</option>
							<?php foreach(Escolas::GetEscolasHelper(array('status'=>'Ativo')) as $k=>$v) : ?>
							<option value="<?php echo $v['id'] ?>"><?php echo $v['escola'] ?></option>
							<?php endforeach ?>
						</select>						
					</div>
				</div>



				<div class="control-group">
					<label class="control-label">Nome do diretor </label>
					<div class="controls">
						<select name="iddiretor1" data-placeholder="Nome do diretor" class="select">
							<option value="">Selecione...</option>
						</select>						
					</div>
				</div>

				<div class="control-group">
					<label class="control-label">Nome do coordenador </label>
					<div class="controls">
						<select name="idcoordenador1" data-placeholder="Nome do coordenador" class="select">
							<option value="">Selecione...</option>>
						</select>						
					</div>
				</div>

				<div class="control-group">
					<label class="control-label">Série </label>
					<div class="controls">
						<select onchange="setTurmas(this, 0, 0)" name="idserie" data-placeholder="Série" class="select">
							<option value="">Selecione...</option>
						</select>					
					</div>
				</div>

				<div class="control-group">
					<label class="control-label">Turma </label>
					<div class="controls">
						<select onchange="setAlunos(this, '<?php echo (isset($idaluno) && sizeof($idaluno)>0) ? implode(',', $idaluno) : 0  ?>')" name="idturma" data-placeholder="Turma" class="select">
							<option value="">Selecione...</option>
						</select>						
					</div>
				</div>


				<div class="control-group">
					<label class="control-label">Tipo de avaliação </label>
					<div class="controls">
						<select name="idtipoavaliacao" data-placeholder="Tipo de avaliação" class="select">
							<option value="">Selecione...</option>
							<!-- ACRESCENTAR TIPOS DE AVALIACAO APÓS FAZER CLASSE -->
							<?php //foreach(TiposAvaliacoescomplementares::GetTiposavaliacoescomplementaresHelper(array('status'=>'Ativo')) as $k=>$v) : ?>
							<!-- <option value="<?php //echo $v['id'] ?>"><?php //echo $v['tipoavaliacao'] ?></option> -->
							<?php //endforeach ?>
							<option value="1">Tipo 1</option>
							<option value="2">Tipo 2</option>
							<option value="3">Tipo 3</option>
						</select>						
					</div>
				</div>

				<div class="control-group">
					<label class="control-label">Nome do professor </label>
					<div class="controls">
						<select name="idprofessor" data-placeholder="Nome do professor" class="select">
							<option value="">Selecione...</option>
						</select>						
					</div>
				</div>

				<div class="control-group">
					<label class="control-label">Status <span class="required">*</span></label>
					<div class="controls">
						<select name="status1" data-placeholder="Status" class="select">
							<option value="">Selecione...</option>
							<option value="Ativo">Ativo</option><option value="Bloqueado">Bloqueado</option>
						</select>
						
					</div>
				</div>

				<div id="tablehelp" class="control-group">
					<table class="table table-primary mb30">
						<thead>
							<tr>
								<th>Nome do aluno</th>
								<th>RGF</th>
								<th>Q1</th>
								<th>Q2</th>
								<th>Q3</th>
								<th>Q4</th>
								<th>Pontuação</th>
							</tr>
						</thead>							
						<tbody id="content_list_alunos">
						</tbody>
							
					</table>
				</div>
			</div>



				<div class="control-group">
					<label class="control-label">Quantidade de alunos </label>
					<div class="controls"><input placeholder="Quantidade de alunos" name="qtdalunos" value="<?php echo (isset($this->post_var['qtdalunos'])) ? $this->post_var['qtdalunos'] : '' ?>" readonly="readonly" disabled type="number"  class="span3" /></div>
				</div>
						    
						    
						    </div>
						    
			                <div class="form-actions align-right">
			                	<?php if ((isset($this->visualizar)) && ($this->visualizar)) : ?>
			                		<button onclick="window.history.back()" class="btn btn-danger cancelar" type="button">Voltar</button>
			                	<?php else : ?>
				                	<button class="btn btn-primary enviar" type="submit">Salvar</button>
				                	<button onclick="window.history.back()" class="btn btn-danger cancelar" type="button">Cancelar</button>
			                	<?php endif; ?>
			                </div>
						</div>
						<!-- /general form elements -->

					</fieldset> 

				</form>
				<!-- /basic inputs -->

		    </div>
		    <!-- /content wrapper -->

		</div>
		<!-- content -->
				
<script type="text/javascript" src="<?php echo $this->baseUrl('/public/scripts/admin/avaliacoescomplementares_form.js') ?>"></script>
<script type="text/javascript">
	
	<?php if (isset($this->post_var)) :  ?>
	var form_values = {};

		form_values.idaluno = '<?php echo ( isset($idaluno) && sizeof($idaluno) > 0) ? implode(',', $idaluno) : 0 ?>';

		form_values.q1 = '<?php echo (isset($q1s) && sizeof($q1s)>0) ? implode(',', $q1s) : 0 ?>'
		form_values.q2 = '<?php echo (isset($q2s) && sizeof($q2s)>0) ? implode(',', $q2s) : 0 ?>'
		form_values.q3 = '<?php echo (isset($q3s) && sizeof($q3s)>0) ? implode(',', $q3s) : 0 ?>'
		form_values.q4 = '<?php echo (isset($q4s) && sizeof($q4s)>0) ? implode(',', $q4s) : 0 ?>'
		form_values.media = '<?php echo (isset($medias) && sizeof($medias)>0) ? implode(',', $medias) : 0 ?>'

		form_values.status1 = '<?php echo (isset($this->post_var['status1'])) ? $this->post_var['status1'] : $this->post_var['status'] ?>';

		form_values.iddiretor = '<?php echo (isset($this->post_var['iddiretor'])) ? $this->post_var['iddiretor'] : '' ?>';

		form_values.idcoordenador = '<?php echo (isset($this->post_var['idcoordenador'])) ? $this->post_var['idcoordenador'] : '' ?>';

		form_values.idprofessor = '<?php echo (isset($this->post_var['idprofessor'])) ? $this->post_var['idprofessor'] : '' ?>';

		form_values.idserie = '<?php echo (isset($this->post_var['idserie'])) ? $this->post_var['idserie'] : '' ?>';

		form_values.idturma = '<?php echo (isset($this->post_var['idturma'])) ? $this->post_var['idturma'] : '' ?>';

		form_values.idtipoavaliacao = '<?php echo (isset($this->post_var['idtipoavaliacao'])) ? $this->post_var['idtipoavaliacao'] : '' ?>';

		form_values.idescola = '<?php echo (isset($this->post_var['idescola'])) ? $this->post_var['idescola'] : '' ?>';
	<?php endif; ?>

	visualizar = <?php echo  ((isset($this->visualizar)) && ($this->visualizar))  ? 'true' : 'false' ?>;
</script>
