<?php
if(isset($this->post_var)) {
	$_qtdquestoes = Tipoavaliacoes::getTipoavaliacoesHelper(array('id'=>$this->post_var['idtipoavaliacao']));
	$qtdquestoes = $_qtdquestoes[0]['qtdquestoes'];

	$idaluno = array();
	$media = array();
	$notas = array();

	foreach (Avaliacoesalunosrelacoes::getAvaliacoesalunosrelacoesHelper(array('idavaliacao'=>$this->post_var['id'])) as $key => $value) {
		$idaluno[] = $value['idaluno'];
		$media[] = $value['media'];
		$notas[] = $value['notas'];
	}
} 
?>
		<!-- Content -->
		<div id="content">

		    <!-- Content wrapper -->
		    <div class="wrapper">

			    <!-- Breadcrumbs line -->
			    <div class="crumbs">
			    	<?php echo $this->render('/helpers/breadcrumb.phtml') ?>
			    </div>
			    <!-- /breadcrumbs line -->

			    <!-- Page header -->
			    <div class="page-header">
			    	<div class="page-title">
				    	<h5>Formulário de Avaliações Complementares </h5>
				    	<span>Verifique os campos e preencha com os dados</span>
			    	</div>
			    </div>
			    <!-- /page header -->

			    <?php if (isset($this->crudMessage)) : ?>
					<div class="alert alert-success">
	                	<button data-dismiss="alert" class="close" type="button">×</button>
	                    <strong>Operação realizada com sucesso!</strong>
		    			<span><br /><?php echo $this->crudMessage ?></span>
	                </div>			    
			    <?php endif; ?>

				<form id="form" name="form" action="" method="post" class="form-horizontal" enctype="multipart/form-data"> 
					<input type="hidden" value="<?php echo (isset($this->post_var)) ? $this->post_var["id"] : ''; ?>" name="id" id="id" />
					
					<fieldset>
						<!-- General form elements -->
						<div class="widget row-fluid">
						    <div class="navbar">
						        <div class="navbar-inner">
						            <h6>Digite as informações do formulário</h6>
						        </div>
						    </div>

						    <div class="well">
								<?php if (isset($this->erros)) : ?>
									<div class="alert alert-error margin">
				                        <button data-dismiss="alert" class="close" type="button">×</button>
				                        <strong>Há erros no formulário!</strong>
					    				<?php foreach ($this->erros as $k=>$v) : ?>
					    					<span><br />- <?php echo $v ?></span>
					    				<?php endforeach;?>			                        
				                    </div>
			                    <?php endif; ?>				    

				<div class="control-group">
					<div class="controls1 visualizar">
						<table class="table table-content" width="100%">
							<tbody>
								<tr>
									<input type="hidden" value="<?php echo (isset($this->post_var['sequencial'])) ? $this->post_var['sequencial'] : $this->sequencial ?>" name="sequencial" id="sequencial" />
									<input  placeholder="Data de lançamento" name="datalancamento" value="<?php echo (isset($this->post_var['datalancamento'])) ? $this->post_var['datalancamento'] : date('d/m/Y') ?>" type="hidden"  class="span3" />
									<input  placeholder="Hora do lançamento" name="horalancamento" value="<?php echo (isset($this->post_var['horalancamento'])) ? $this->post_var['horalancamento'] : date('G:i:s') ?>" type="hidden"  class="span3" />
									<input  placeholder="Nome do Usuário" name="idfuncionario" value="<?php echo (isset($this->post_var['idfuncionario'])) ? $this->post_var['idfuncionario'] : Usuarios::getUsuario('idfuncionario') ?>" type="hidden"  class="span3" />
									<td width="33%">Sequencial/Ano: <?php echo (isset($this->post_var['sequencial'])) ? $this->post_var['sequencial'] : $this->sequencial ?></td>
									<td width="34%">Data da Abertura: <?php echo (isset($this->post_var['datalancamento'])) ? $this->post_var['datalancamento'] : date('d/m/Y') ?></td>
									<td width="33%">Hora da Abertura: <?php echo (isset($this->post_var['horalancamento'])) ? $this->post_var['horalancamento'] : date('G:i') ?>&nbsp;&nbsp;&nbsp;&nbsp;
										<?php if(isset($this->post_var['id'])): ?>
											<a href="<?php echo $this->baseUrl()?>/admin/avaliacoescomplementares/toexcel" target="_blank">
												<img src="<?php echo $this->baseUrl()?>/public/default/img/excel.gif" />
											</a>
										<?php endif; ?>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
				<?php
					$idfuncionario = Usuarios::getUsuario('idfuncionario');
					$idperfil = Usuarios::getUsuario('idperfil');
					if($idperfil==29){
						$idescola = (int)Usuarios::getUsuario('idescola');
					}
				?>
				<div class="control-group">
					<label class="control-label">Nome do Usuário</label>
					<div class="controls visualizar">
						<input  placeholder="Nome do Usuário" name="idusuariologado" value="<?php echo (isset($this->post_var['idusuariologado'])) ? $this->post_var['idusuariologado'] : Usuarios::getUsuario('id') ?>" type="hidden"  class="span3" />
						<?php echo Usuarios::getUsuario('nomerazao') ?> <?php echo Usuarios::getUsuario('sobrenomefantasia') ?><br/>
						RGF: <?php echo Usuarios::getUsuario('rgf') ?>
						<?php
							if($idfuncionario) {
								$funcionario = Funcionariosgeraisescolas::getFuncionariogeralescolaByIdHelper($idfuncionario);
								$idcargo = $funcionario['idcargo'];
								$idlocal = $funcionario['idlocal'];

								/*if($idcargo) {
									$cargo = Cargos::getCargoByIdHelper($idcargo);

									echo "<br>CARGO: " . $cargo['cargo'];
								}

								if($idlocal) {
									$local = Locais::getLocalByIdHelper($idlocal);

									echo "<br>LOCAL: " . $local['titulo'];
								}*/
							}
						?>
					</div>
				</div>

				<div class="control-group">
					<label class="control-label">Data </label>
					<div class="controls"><input placeholder="Data" name="data" value="<?php echo (isset($this->post_var['data'])) ? Mn_Util::formPostVarData($this->post_var['data']) : '' ?>" type="text"  class="span3" /></div>
				</div>

				<div class="control-group">
					<label class="control-label">Tipo de avaliação </label>
					<div class="controls">
						<select name="idtipoavaliacao" data-placeholder="Tipo de avaliação" class="select" onchange="setAlunos()">
							<option value="">Selecione...</option>
							<?php foreach(Tipoavaliacoes::GetTipoavaliacoesHelper(array('status'=>'Ativo')) as $k=>$v) : ?>
							<option value="<?php echo $v['id'] ?>"><?php echo $v['tipoavaliacao'] ?></option>
							<?php endforeach ?>
						</select>					
					</div>
				</div>

				<div class="control-group">
					<label class="control-label">Escola <span class="required">*</span></label>
					<div class="controls">
						<select name="idescola" data-placeholder="Escola" class="select" onchange="setSeries(0, 0, 0);setDiretores(this, 0);setCoordenadores(this, 0)" >
							<option value="">Selecione...</option>
							<?php foreach(Escolas::GetEscolasHelper(array('status'=>'Ativo')) as $k=>$v) : ?>
							<option value="<?php echo $v['id'] ?>"><?php echo $v['escola'] ?></option>
							<?php endforeach ?>
						</select>						
					</div>
				</div>

				<div class="control-group">
					<label class="control-label">Série </label>
					<div class="controls">
						<select onchange="setTurmas(0, 0)" name="idserie" data-placeholder="Série" class="select">
							<option value="">Selecione...</option>
						</select>					
					</div>
				</div>

				<div class="control-group">
					<label class="control-label">Turma </label>
					<div class="controls">
						<select onchange="setAlunos('<?php echo (isset($idaluno) && sizeof($idaluno)>0) ? implode(',', $idaluno) : 0  ?>')" name="idturma" data-placeholder="Turma" class="select">
							<option value="">Selecione...</option>
						</select>						
					</div>
				</div>

				<div class="control-group">
					<label class="control-label">Nome do diretor </label>
					<div class="controls">
						<select name="iddiretor" data-placeholder="Nome do diretor" class="select">
							<option value="">Selecione...</option>
						</select>						
					</div>
				</div>

				<div class="control-group">
					<label class="control-label">Nome do coordenador </label>
					<div class="controls">
						<select name="idcoordenador" data-placeholder="Nome do coordenador" class="select">
							<option value="">Selecione...</option>>
						</select>						
					</div>
				</div>

				<div class="control-group">
					<label class="control-label">Status <span class="required">*</span></label>
					<div class="controls">
						<select name="status1" data-placeholder="Status" class="select">
							<option value="">Selecione...</option>
							<option value="Ativo">Ativo</option><option value="Bloqueado">Bloqueado</option>
						</select>
						
					</div>
				</div>

				<div id="tablehelp" class="control-group" style="display: none;">
				</div>

				<div class="control-group">
					<label class="control-label">Quantidade de alunos: <span id="qtdalunos"></span> </label>
				</div>
			</div>

						    
						    
						    </div>
						    
			                <div class="form-actions align-right">
			                	<?php if ((isset($this->visualizar)) && ($this->visualizar)) : ?>
			                		<button onclick="window.history.back()" class="btn btn-danger cancelar" type="button">Voltar</button>
			                	<?php else : ?>
				                	<button class="btn btn-primary enviar" type="submit">Salvar</button>
				                	<button onclick="window.history.back()" class="btn btn-danger cancelar" type="button">Cancelar</button>
			                	<?php endif; ?>
			                </div>
						</div>
						<!-- /general form elements -->

					</fieldset> 

				</form>
				<!-- /basic inputs -->

		    </div>
		    <!-- /content wrapper -->

		</div>
		<!-- content -->
				
<script type="text/javascript" src="<?php echo $this->baseUrl('/public/scripts/admin/avaliacoescomplementares_form.js') ?>"></script>
<script type="text/javascript">
	
	<?php if (isset($this->post_var)) :  ?>
		var form_values = {};

		form_values.notas = '<?= implode(';', $notas) ?>';

		form_values.idaluno = '<?php echo ( isset($idaluno) && sizeof($idaluno) > 0) ? implode(',', $idaluno) : 0 ?>';

		form_values.media = '<?php echo ( isset($media) && sizeof($media) > 0) ? implode(',', $media) : 0 ?>';

		form_values.status1 = '<?php echo (isset($this->post_var['status1'])) ? $this->post_var['status1'] : $this->post_var['status'] ?>';

		form_values.iddiretor = '<?php echo (isset($this->post_var['iddiretor'])) ? $this->post_var['iddiretor'] : '' ?>';

		form_values.idcoordenador = '<?php echo (isset($this->post_var['idcoordenador'])) ? $this->post_var['idcoordenador'] : '' ?>';

		form_values.idserie = '<?php echo (isset($this->post_var['idserie'])) ? $this->post_var['idserie'] : '' ?>';

		form_values.idturma = '<?php echo (isset($this->post_var['idturma'])) ? $this->post_var['idturma'] : '' ?>';

		form_values.idtipoavaliacao = '<?php echo (isset($this->post_var['idtipoavaliacao'])) ? $this->post_var['idtipoavaliacao'] : '' ?>';

		form_values.idescola = '<?php echo (isset($this->post_var['idescola'])) ? $this->post_var['idescola'] : '' ?>';
	<?php endif; ?>

	visualizar = <?php echo  ((isset($this->visualizar)) && ($this->visualizar))  ? 'true' : 'false' ?>;
</script>
