<?php if (sizeof($this->rows)==0) : ?>
<option value="">Selecione...</option>
<option value="">Nenhuma série foi encontrada para essa escola</option>
<?php else : ?>
<option value="">Selecione...</option>
<?php foreach ($this->rows as $row) : ?>
<option value="<?php echo $row['idserie'] ?>"><?php echo $row['serie'] ?></option>
<?php endforeach; ?>
<?php endif; ?>
