<h3 class="title-accordion">
	<a class="click_acc" data-toggle="collapse" data-parent="#accordion" href="#collapse22">Documentos</a>
</h3>

<div id="collapse22" class="content-height panel-collapse collapse out">

        <div class="control-group">
                <label class="control-label">CPF </label>
                <div class="controls"><input maxlength="500" placeholder="CPF" name="cpfcnpj" value="<?php echo $this->aluno['cpfaluno'] ?>" type="text"  class="span3" /></div>
        </div>
    
        <div class="control-group">
                <label class="control-label">RG </label>
                <div class="controls">
                        <input maxlength="500" placeholder="Número do RG" name="rg" value="<?php echo (isset($this->post_var['rg'])) ? $this->post_var['rg'] : '' ?>" <?php if ($this->visualizar) {echo 'disabled="true"';} else {echo 'enabled="true"';} ?> type="text"  class="span3" />
                        &#45; 
                        <input maxlength="2" size="2" placeholder="UF RG" name="ufrg" value="<?php echo (isset($this->post_var['ufrg'])) ? $this->post_var['ufrg'] : '' ?>" <?php if ($this->visualizar) {echo 'disabled="true"';} else {echo 'enabled="true"';} ?> type="text"  class="span3" />
                </div>
        </div>

        <div class="control-group">
                <label class="control-label">CGM </label>
                <div class="controls"><input maxlength="500" placeholder="CGM" name="cgm" value="<?php echo (isset($this->post_var['cgm'])) ? $this->post_var['cgm'] : '' ?>" <?php if ($this->visualizar) {echo 'disabled="true"';} else {echo 'enabled="true"';} ?> type="text"  class="span3" /></div>
        </div>

        <div class="control-group">
                <label class="control-label">NIS </label>
                <div class="controls"><input maxlength="500" placeholder="NIS" name="nis" value="<?php echo $this->aluno['nis'] ?>" <?php if ($this->visualizar) {echo 'disabled="true"';} else {echo 'enabled="true"';} ?> type="text"  class="span3" /></div>
        </div>    
    
	<div class="control-group">
		<label class="control-label">Município e Estado de Nascimento</label>
		<div class="controls">
			<input name="naturalidade" value="<?php echo (isset($this->post_var['naturalidade'])) ? $this->post_var['naturalidade'] : "" ?>" <?php if ($this->visualizar) {echo 'disabled="true"';} else {echo 'enabled="true"';} ?> type="text" class="form-control" placeholder=" "> 
		</div>
	</div>
	
	<div class="control-group">
		<label class="control-label">Nacionalidade </label>
		<div class="controls">
			<input name="nacionalidade" value="<?php echo (isset($this->post_var['nacionalidade'])) ? $this->post_var['nacionalidade'] : "" ?>" <?php if ($this->visualizar) {echo 'disabled="true"';} else {echo 'enabled="true"';} ?> type="text" class="form-control" placeholder=" "> 
		</div>
	</div>

	<div class="control-group">
                <label class="control-label">Certidão Civil</label>
                <div class="controls">
                    <div class="col-sm-6">
                            <label class="col-sm-3 control-label">Muníc&iacute;pio</label> 
                            <input name="municipio_de_nascimento" value="<?php echo (isset($this->post_var['municipio_de_nascimento'])) ? $this->post_var['municipio_de_nascimento'] : "" ?>" <?php if ($this->visualizar) {echo 'disabled="true"';} else {echo 'enabled="true"';} ?> type="text" class="form-control" placeholder=" ">
                    </div>

                    <div class="col-sm-6">
                            <label class="col-sm-3 control-label">UF</label> 
                            <input name="uf_mun_de_nascimento" size="2" value="<?php echo (isset($this->post_var['uf_mun_de_nascimento'])) ? $this->post_var['uf_mun_de_nascimento'] : "" ?>" <?php if ($this->visualizar) {echo 'disabled="true"';} else {echo 'enabled="true"';} ?> type="text" class="form-control" placeholder=" ">
                    </div>

                    <div class="col-sm-6">
                            <label class="col-sm-3 control-label">Emiss&atilde;o</label> 
                            <input name="data_emis_certidao_nasc"  size="10" value="<?php echo (isset($this->post_var['data_emis_certidao_nasc'])) ? $this->post_var['data_emis_certidao_nasc'] : "" ?>" <?php if ($this->visualizar) {echo 'disabled="true"';} else {echo 'enabled="true"';} ?> type="text" class="form-control" placeholder=" ">
                    </div>

                    <div class="col-sm-6">
                            <label class="col-sm-3 control-labell">Modelo de Certid&atilde;o</label> 
                            <select name="nova_cert_tipo_livro_reg" data-placeholder="Modelo de Certid&atilde;o" class="select" onchange="setTipoCertidao(this,'')" <?php if ($this->visualizar) {echo 'disabled="true"';} else {echo 'enabled="true"';} ?>>
                                    <option value="">Selecione...</option>
                                    <option value="0">Antiga</option>
                                    <option value="1">Nova</option>
                            </select>
                    </div>

                    <div class="col-sm-6" id="box-certidaoantiga">
                            <div class="control-group">
                                    <label class="col-sm-3 control-label">N&uacute;mero</label> 
                                    <input name="numero_certidao_nasc" value="<?php echo (isset($this->post_var['numero_certidao_nasc'])) ? $this->post_var['numero_certidao_nasc'] : "" ?>" <?php if ($this->visualizar) {echo 'disabled="true"';} else {echo 'enabled="true"';} ?> type="text" class="form-control" placeholder="N&uacute;mero">
                            </div>   

                            <div class="control-group">
                                    <label class="col-sm-3 control-label">Folha</label> 
                                    <input name="num_folha_certidao_nasc" value="<?php echo (isset($this->post_var['num_folha_certidao_nasc'])) ? $this->post_var['num_folha_certidao_nasc'] : "" ?>" <?php if ($this->visualizar) {echo 'disabled="true"';} else {echo 'enabled="true"';} ?> type="text" class="form-control" placeholder="Folha">
                            </div>   

                            <div class="control-group">
                                    <label class="col-sm-3 control-label">Livro</label> 
                                    <input name="num_livro_certidao_nasc" value="<?php echo (isset($this->post_var['num_livro_certidao_nasc'])) ? $this->post_var['num_livro_certidao_nasc'] : "" ?>" <?php if ($this->visualizar) {echo 'disabled="true"';} else {echo 'enabled="true"';} ?> type="text" class="form-control" placeholder="Livro">
                            </div>   
                    </div>

                    <div class="col-sm-6" id="box-certidaonova">
                        <label class="col-sm-3 control-label">N&uacute;mero da Matr&iacute;cula</label>
                        <input name="numero_certidao_nasc_nova" size="30" value="<?php echo (isset($this->post_var['numero_certidao_nasc_nova'])) ? $this->post_var['numero_certidao_nasc_nova'] : "" ?>" <?php if ($this->visualizar) {echo 'disabled="true"';} else {echo 'enabled="true"';} ?> type="text" class="form-control" placeholder="N&uacute;mero"></td>
                        &#45
                        <input name="digver_certidao_nasc_nova" size="2" value="<?php echo (isset($this->post_var['digver_certidao_nasc_nova'])) ? $this->post_var['digver_certidao_nasc_nova'] : "" ?>" <?php if ($this->visualizar) {echo 'disabled="true"';} else {echo 'enabled="true"';} ?> type="text" class="form-control" placeholder="D&iacute;gito"></td>
                    </div>    
                </div>            
        </div>
</div>


