<h3 class="title-accordion">
	<a class="click_acc" data-toggle="collapse" data-parent="#accordion" href="#collapse5">
		Endereço
	</a>
</h3>

<div id="collapse5" class="content-height panel-collapse collapse out">
	<div class="control-group">
		<div class="col-sm-6">
			<input type="hidden" value="<?php echo (isset($this->post_var['idendereco'])) ? $this->post_var["idendereco"] : ''; ?>" name="idendereco" id="idendereco" />
			<?php echo $this->render('/helpers/forms/endereco.phtml') ?>
		</div>
	</div>	
</div>
