<?php 
	include_once BASE_PATH . '/public/scripts/ckeditor/ckeditor.php';
	require_once BASE_PATH . '/public/scripts/ckfinder/ckfinder.php';
	
	$ckeditor = new CKEditor();
	$ckeditor->basePath	= $this->baseUrl('/public/scripts/ckeditor/');
	
	$ckfinder = $this->baseUrl('/public/scripts/ckfinder/');
	
	CKFinder::SetupCKEditor($ckeditor, $ckfinder);
?>

<h3 class="title-accordion">
	<a class="click_acc" data-toggle="collapse" data-parent="#accordion" href="#collapse6">
		Acadêmico
	</a>
</h3>

<div id="collapse6" class="content-height panel-collapse collapse out">

                                <input type="hidden" value="<?php echo (isset($this->post_var)) ? $this->post_var["id"] : ''; ?>" name="id" id="id" />
				<div class="control-group">
					<?php $id = Usuarios::getUsuario('idescola') ?>
					<label class="control-label">Escolas <span class="required">*</span></label>
					<div class="controls">
                                                <select name="idescola" data-placeholder="Escolas" class="select" <?php if ($this->visualizar) {echo 'disabled="true"';} else {echo 'enabled="true"';} ?>  onchange="(setSeries(this,0),setPeriodos(this,0));">
							<option value="">Selecione...</option>
							
							<?php foreach (Escolas::getEscolasHelper(array('status'=>'Ativo', 'idsecretaria'=>Usuarios::getSecretariaAtiva( Usuarios::getUsuario('id')),'id'=>$id)) as $k=>$v) : ?>
                                                        <option value="<?php echo $v['id'] ?>"><?php echo $v['escola'] ?></option>
							<?php endforeach;?>
						</select>
					</div>
				</div>
    
				<div class="control-group">
					<label class="control-label">Série <span class="required">*</span></label>
					<div class="controls">
						<select name="idserie" data-placeholder="Série" <?php if ($this->visualizar) {echo 'disabled="true"';} else {echo 'enabled="true"';} ?> class="select">
							<option value="">Selecione...</option>		
						</select> 
					</div>
				</div>

				<div class="control-group">
					<label class="control-label">Período <span class="required">*</span></label>
					<div class="controls">
						<select name="idperiodo" data-placeholder="Período" <?php if ($this->visualizar) {echo 'disabled="true"';} else {echo 'enabled="true"';} ?> class="select">
							<option value="">Selecione...</option>							
						</select>
						
					</div>
				</div>
				

				<div class="control-group">
					<label class="control-label">Número da Matrícula</label>
					<div class="controls"><input maxlength="500" placeholder="Número da Matrícula" name="numeromatricula" <?php if ($this->visualizar) {echo 'disabled="true"';} else {echo 'enabled="true"';} ?> value="<?php echo (isset($this->post_var['numeromatricula'])) ? $this->post_var['numeromatricula'] : '' ?>" type="text"  class="span3" /></div>
				</div>
	
				<div class="control-group">
					<label class="control-label">RA </span></label>
					<div class="controls">
                                                <input maxlength="500" placeholder="Número do RA" name="ra" <?php if ($this->visualizar) {echo 'disabled="true"';} else {echo 'enabled="true"';} ?> value="<?php echo (isset($this->post_var['ra'])) ? $this->post_var['ra'] : '' ?>" type="text"  class="span3" />
                                                &#45;
                                                <input maxlength="2" placeholder="Dígito" size="2" name="digra" <?php if ($this->visualizar) {echo 'disabled="true"';} else {echo 'enabled="true"';} ?> value="<?php echo (isset($this->post_var['digra'])) ? $this->post_var['digra'] : '' ?>" type="text"  class="span3" />
                                                &#45;
                                                <input maxlength="2" placeholder="UF" size="2" name="ufra" <?php if ($this->visualizar) {echo 'disabled="true"';} else {echo 'enabled="true"';} ?> value="<?php echo (isset($this->post_var['ufra'])) ? $this->post_var['ufra'] : '' ?>" type="text"  class="span3" />
                                        </div>
				</div>
    
        			<div class="control-group">
					<label class="control-label">RGM </label>
					<div class="controls"><input maxlength="500" placeholder="RGM" name="rgm" <?php if ($this->visualizar) {echo 'disabled="true"';} else {echo 'enabled="true"';} ?> value="<?php echo (isset($this->post_var['rgm'])) ? $this->post_var['rgm'] : '' ?>" type="text"  class="span3" /></div>
				</div>
	
				<div class="control-group">
					<label class="control-label">INEP </label>
					<div class="controls"><input maxlength="500" placeholder="INEP" name="inep" <?php if ($this->visualizar) {echo 'disabled="true"';} else {echo 'enabled="true"';} ?> value="<?php echo (isset($this->post_var['inep'])) ? $this->post_var['inep'] : '' ?>" type="text"  class="span3" /></div>
				</div>

				<div class="control-group">
					<label class="control-label">Motivo </label>
					<div class="controls">
						<?php if ((isset($this->visualizar)) && ($this->visualizar)) : ?>
							<div style="padding-top:10px"><?php echo $this->post_var['motivo']; ?></div>
						<?php else : ?>
							<?php $value1 = (isset($this->post_var['motivo'])) ? $this->post_var['motivo'] : ''; ?>
							<?php $ckeditor->editor('motivo', $value1); ?>
						<?php endif; ?> 
					</div>
				</div>

	

				<div class="control-group">
					<label class="control-label">Situação Atual</label>
					<div class="controls"><input maxlength="500" placeholder="Situação Atual" name="situacaoatual" <?php if ($this->visualizar) {echo 'disabled="true"';} else {echo 'enabled="true"';} ?> value="<?php echo (isset($this->post_var['situacaoatual'])) ? $this->post_var['situacaoatual'] : '' ?>" type="text"  class="span3" /></div>
				</div>
	
	
				<div class="control-group">
					<label class="control-label">Rede Origem </label>
					<div class="controls"><input maxlength="500" placeholder="Rede Origem" name="redeorigem" <?php if ($this->visualizar) {echo 'disabled="true"';} else {echo 'enabled="true"';} ?> value="<?php echo (isset($this->post_var['redeorigem'])) ? $this->post_var['redeorigem'] : '' ?>" type="text"  class="span3" /></div>
				</div>
	

				<div class="control-group">
					<label class="control-label">Ensino Origem</label>
					<div class="controls"><input maxlength="500" placeholder="Ensino Origem" name="ensinoorigem" <?php if ($this->visualizar) {echo 'disabled="true"';} else {echo 'enabled="true"';} ?> value="<?php echo (isset($this->post_var['ensinoorigem'])) ? $this->post_var['ensinoorigem'] : '' ?>" type="text"  class="span3" /></div>
				</div>
	
				<div class="control-group">
					<label class="control-label">Situação do Ano anterior</label>
					<div class="controls"><input maxlength="500" placeholder="Situação do Ano anterior" name="situacaoanoanterior" <?php if ($this->visualizar) {echo 'disabled="true"';} else {echo 'enabled="true"';} ?> value="<?php echo (isset($this->post_var['situacaoanoanterior'])) ? $this->post_var['situacaoanoanterior'] : '' ?>" type="text"  class="span3" /></div>
				</div>
	
				<div class="control-group">
					<label class="control-label">Forma de Ingresso</label>
					<div class="controls">
						<select name="formaingresso" data-placeholder="Forma de Ingresso" class="select" <?php if ($this->visualizar) {echo 'disabled="true"';} else {echo 'enabled="true"';} ?>>
							<option value="">Selecione...</option>
							<?php foreach (Escolasalunos::getFormasIngresso() as $kf=>$vf): ?>
							<option value="<?php echo $kf ?>"><?php echo $vf ?></option>
							<?php endforeach;?>						
						</select>
					</div>
				</div>
</div>