<?php 
	include_once BASE_PATH . '/public/scripts/ckeditor/ckeditor.php';
	require_once BASE_PATH . '/public/scripts/ckfinder/ckfinder.php';
	
	$ckeditor = new CKEditor();
	$ckeditor->basePath	= $this->baseUrl('/public/scripts/ckeditor/');
	
	$ckfinder = $this->baseUrl('/public/scripts/ckfinder/');
	
	CKFinder::SetupCKEditor($ckeditor, $ckfinder);
?>


<h3 class="title-accordion">
	<a class="click_acc" data-toggle="collapse" data-parent="#accordion" href="#collapse9">
		Contatos
	</a>
</h3>

<div id="collapse9" class="content-height panel-collapse collapse out">
        <?php if(false): ?>
                <div class="control-group">
                        <label class="col-sm-3 control-label">Email </label>
                        <div class="col-sm-6">
                                <input name="email" value="<?php $this->aluno['email'] ?> type="text" class="form-control" placeholder=" "> 
                        </div>
                </div>	

                <div class="control-group">
                        <label class="col-sm-3 control-label">Senha </label>
                        <div class="col-sm-6">
                                <input name="senha" value="<?php echo (isset($this->post_var)) ? $this->post_var['senha'] : "" ?>" <?php if ($this->visualizar) {echo 'disabled="true"';} else {echo 'enabled="true"';} ?> type="password" class="form-control" placeholder=" "> 
                        </div>
                </div>
	<?php endif; ?>

	<div class="control-group">
		<label class="col-sm-3 control-label">Telefone Residencial </label>
		<div class="col-sm-6">
			<input name="telefoneresidencial" value="<?php echo $this->aluno['numerotelefone1'] ?>" <?php if ($this->visualizar) {echo 'disabled="true"';} else {echo 'enabled="true"';} ?> type="text" class="form-control" placeholder=" "> 
		</div>
	</div>
	
	<div class="control-group">
		<label class="col-sm-3 control-label">Telefone Contato </label>
		<div class="col-sm-6">
			<input name="telefonecontato" value="<?php echo $this->aluno['numerotelefone2'] ?>" <?php if ($this->visualizar) {echo 'disabled="true"';} else {echo 'enabled="true"';} ?> type="text" class="form-control" placeholder=" "> 
		</div>
	</div>
	
	<div class="control-group">
		<label class="col-sm-3 control-label">Nome do Contato </label>
		<div class="col-sm-6">
			<input name="nomecontato" value="<?php echo (isset($this->post_var)) ? $this->post_var['nomecontato'] : "" ?>" <?php if ($this->visualizar) {echo 'disabled="true"';} else {echo 'enabled="true"';} ?> type="text" class="form-control" placeholder=" "> 
		</div>
	</div>

</div>