<?php 
	include_once BASE_PATH . '/public/scripts/ckeditor/ckeditor.php';
	require_once BASE_PATH . '/public/scripts/ckfinder/ckfinder.php';
	
	$ckeditor = new CKEditor();
	$ckeditor->basePath	= $this->baseUrl('/public/scripts/ckeditor/');
	
	$ckfinder = $this->baseUrl('/public/scripts/ckfinder/');
	
	CKFinder::SetupCKEditor($ckeditor, $ckfinder);
?>

<h3 class="title-accordion">
	<a class="click_acc" data-toggle="collapse" data-parent="#accordion" href="#collapse7">
		Portador de Necessidades Especiais
	</a>
</h3>

<div id="collapse7" class="content-height panel-collapse collapse in">
	<div class="form-group">
		<label class="col-sm-3 control-label">Portador de Necessidades Especiais </label>
		<div class="col-sm-6">
			<select id="necessidadesespeciais" name="necessidadesespeciais" class="form-control" onchange="setCamposNecessidades(this, '')">
				<option value="Não">Não</option>
				<option value="Sim">Sim</option>
			</select>  
		</div>
	</div>
	
	<div class="box-necessidades">
		<div class="form-group">
			<label class="col-sm-3 control-label">Descrição da Necessidade Especial </label>
			<div class="col-sm-6">
				<?php if ((isset($this->visualizar)) && ($this->visualizar)) : ?>
					<div style="padding-top:10px"><?php echo $this->post_var['descricoesnecessidadesespeciais']; ?></div>
				<?php else : ?>
					<?php $value1 = (isset($this->post_var['descricoesnecessidadesespeciais'])) ? $this->post_var['descricoesnecessidadesespeciais'] : ''; ?>
					<?php $ckeditor->editor('descricoesnecessidadesespeciais', $value1); ?>
				<?php endif; ?> 
			</div>
		</div>
		
		<div class="form-group">
			<label class="col-sm-3 control-label">Instituição de Apoio </label>
			<div class="col-sm-6">
				<select id="idinstituicaoapoio" name="idinstituicaoapoio" class="form-control">
					<option value="">Selecione</option>
					<?php foreach ($this->instituicoesapoio as $i=>$row): ?>
					<option value="<?php echo $row['id'] ?>"><?php echo $row['instituicao'] ?></option>
					<?php endforeach;?>
				</select>  
			</div>
		</div>
	</div>
</div>