<h3 class="title-accordion">
	<a class="click_acc" data-toggle="collapse" data-parent="#accordion" href="#collapse3">
		Dados do Pai
	</a>
</h3>

<div id="collapse3" class="content-height panel-collapse collapse out">
	<div class="control-group">
		<label class="col-sm-3 control-label">Nome do Pai </label>
		<div class="col-sm-6">
			<input name="nomepai" size="50" value="<?php echo (isset($this->post_var['nomepai'])) ? $this->post_var['nomepai'] : "" ?>" <?php if ($this->visualizar) {echo 'disabled="true"';} else {echo 'enabled="true"';} ?> type="text" class="form-control" placeholder=" "> 
		</div>
	</div>
	
	<div class="control-group">
		<label class="col-sm-3 control-label">CPF do Pai</label>
		<div class="col-sm-6">
			<input name="cpfcnpjpai" value="<?php echo (isset($this->post_var['cpfcnpjpai'])) ? $this->post_var['cpfcnpjpai'] : "" ?>" <?php if ($this->visualizar) {echo 'disabled="true"';} else {echo 'enabled="true"';} ?> type="text" class="form-control" placeholder=" "> 
		</div>
	</div>
	
	<div class="control-group">
		<label class="col-sm-3 control-label">RG do Pai </label>
		<div class="col-sm-6">
			<input name="rgpai" value="<?php echo (isset($this->post_var['rgpai'])) ? $this->post_var['rgpai'] : "" ?>" <?php if ($this->visualizar) {echo 'disabled="true"';} else {echo 'enabled="true"';} ?> type="text" class="form-control" placeholder=" "> 
		</div>
	</div>
	
	<div class="control-group">
		<label class="col-sm-3 control-label">Estado Civil</label>
		<div class="col-sm-6">
			
			<select id="estadocivilpai" name=estadocivilpai class="form-control" <?php if ($this->visualizar) {echo 'disabled="true"';} else {echo 'enabled="true"';} ?>>
				<option value="">Selecione...</option>
				<?php foreach (Funcionarios::getEstadoCivil() as $k=>$v) : ?>
				<option value="<?php echo $k ?>"><?php echo $v ?></option>
				<?php endforeach;?>
			</select> 
		</div>
	</div>
	
	<div class="control-group">
		<label class="col-sm-3 control-label">Nascimento do Pai </label>
		<div class="col-sm-6">
			<input name="nascimentopai" value="<?php echo (isset($this->post_var['nascimentopai'])) ? Mn_Util::formPostVarData($this->post_var['nascimentopai']) : "" ?>" <?php if ($this->visualizar) {echo 'disabled="true"';} else {echo 'enabled="true"';} ?> type="text" class="form-control" placeholder=" "> 
		</div>
	</div>
	
	<div class="control-group">
		<label class="col-sm-3 control-label">Arquivo Certidão de nascimento do pai / casamento  </label>
		<div class="col-sm-6">
			<?php if ((isset($this->visualizar)) && ($this->visualizar)) : ?>						
				<?php if ((isset($this->post_var['idarquivonascimentopai'])) && ((int)$this->post_var['idarquivonascimentopai']>0)) : ?>
					<div class="col-sm-6" style="padding-top:10px">
						<?php echo $this->getArquivo($this->post_var['idarquivonascimentopai']) ?>
					</div> 
				<?php endif;?>
			<?php else: ?>
				<?php if ((isset($this->post_var['idarquivonascimentopai'])) && ((int)$this->post_var['idarquivonascimentopai']>0)) : ?>
					<?php echo $this->getArquivo($this->post_var['idarquivonascimentopai']) ?>
					
					<div class="checkbox block">
						<label><input type="checkbox" name="excluir_arquivonascimentopai" value="excluir" /> Desejo excluir o arquivo</label>
					</div>								
					<br /> 
				<?php endif; ?>
				
				<input type="file" name="arquivonascimentopai" class="form-control" />
			<?php endif;?>
		</div>
	</div>
	
	<div class="control-group">
		<label class="col-sm-3 control-label">Titulo de Eleitor pai </label>
		<div class="col-sm-6">
			<input name="tituloeleitoralpai" value="<?php echo (isset($this->post_var['tituloeleitoralpai'])) ? $this->post_var['tituloeleitoralpai'] : "" ?>" <?php if ($this->visualizar) {echo 'disabled="true"';} else {echo 'enabled="true"';} ?> type="text" class="form-control" placeholder=" "> 
		</div>
	</div>
</div>