<style type="text/css"> 
    .font18{ font-size:1.3em; font-family: 'Helvetica, sans-serif'; }
    .font20{ font-size:1.5em; font-family: 'Helvetica, sans-serif'; }
    
</style>
<br><br> 
<br><br> 
<br><br> 
<br><br> 
<br><br> 
<span class="font20">
    <?php   
        error_reporting(0);
        ini_set(“display_errors”, 0 ); 
         
        if($this->secretariasdeclaracao['tipo'] === 'É aluno (a) regularmente matriculado (a) e está frequentando até a presente data o _________ ano do Ensino Fundamental nesta Unidade Escolar no horário das ______ às ______.'){  
                $nomealuno = str_replace('É aluno (a) ', 'O aluno (a) ' . Escolasalunos::getEscolaalunoByIdHelper($this->secretariasdeclaracao['idaluno'])['nomerazao'] . ' ', $this->secretariasdeclaracao['tipo']);
                $serie = str_replace('data o _________ ', 'data o ' . $this->secretariasdeclaracao['serie'] . 'º ' , $nomealuno);
                $horainicio = str_replace( 'das ______ ' , 'das ' . $this->secretariasdeclaracao['horainicio'] . ' ' , $serie);
                $horafim = str_replace('às ______.', 'às ' . $this->secretariasdeclaracao['horafim'] . '.' , $horainicio);
                echo $horafim; 
        }

        if($this->secretariasdeclaracao['tipo'] === 'Foi Aluno (a) regularmente matriculado (a) no ____ ano nesta Unidade Escolar, no ano de ____. Tendo sido considerado (a) ___________________________________'){  
                $nomealuno = str_replace('no (a) ', 'no (a) ' . Escolasalunos::getEscolaalunoByIdHelper($this->secretariasdeclaracao['idaluno'])['nomerazao'] . ' ', $this->secretariasdeclaracao['tipo']);
                $anosegundoitem = str_replace('no ____', 'no ' . $this->secretariasdeclaracao['anosegundoitem'] , $nomealuno);
                $ano = str_replace('no ano de ____.', 'no ano de ' . $this->secretariasdeclaracao['ano'] . '.', $anosegundoitem);
                $considerado = str_replace('(a) ___________________________________', '(a) ' . $this->secretariasdeclaracao['considerado'] , $ano);
                echo $considerado .'.'; 
        }

        if($this->secretariasdeclaracao['tipo'] === 'Concluiu o __________ ano nesta Unidade Escolar estando apto a cursar o ______________ ano do ensino fundamental'){  
                $nomealuno = str_replace('Concluiu o __________' , 'O aluno(a) ' . Escolasalunos::getEscolaalunoByIdHelper($this->secretariasdeclaracao['idaluno'])['nomerazao'] . ' concluiu o ', $this->secretariasdeclaracao['tipo']);
                $ano = str_replace('concluiu o ', 'concluiu o ' . $this->secretariasdeclaracao['anoterceiroitem'] , $nomealuno);
                $cursar = str_replace(' cursar o ______________', ' cursar o ' . $this->secretariasdeclaracao['proximoano'] , $nomealuno);
                echo  $cursar .'.' ; 
        }

        if($this->secretariasdeclaracao['tipo'] === 'Solicitou uma vaga no __________ ano do Ensino Fundamental nesta Unidade Escolar que poderá ser preenchida pelo (a) mesmo (a) desde que apresente a documentação necessária para a sua matrícula. Esta declaração é válida por _______ dias a partir da presente data.'){  
                $sulicitou = str_replace('no __________', 'no ' . $this->secretariasdeclaracao['solicitacaovaga'] , $this->secretariasdeclaracao['tipo']);
                $validapor = str_replace('por _______', 'por ' . $this->secretariasdeclaracao['validapor'] , $sulicitou);
                $nomealuno = str_replace('pelo (a)', ' pelo (a) ' . Escolasalunos::getEscolaalunoByIdHelper($this->secretariasdeclaracao['idaluno'])['nomerazao'], $validapor);
                echo  $nomealuno  ; 
        }


        if($this->secretariasdeclaracao['tipo'] === 'Solicitou nesta data sua transferência para outra Unidade Escolar com direito a matricular-se no _____ ano do Ensino Fundamental. Sua documentação será entregue no prazo máximo de _____ dias.'){  
                $nomealuno = str_replace('Solicitou' , 'O aluno(a) ' . Escolasalunos::getEscolaalunoByIdHelper($this->secretariasdeclaracao['idaluno'])['nomerazao'] . ' solicitou', $this->secretariasdeclaracao['tipo']);
                $vagaano = str_replace('no _____', 'no ' . $this->secretariasdeclaracao['vagaano'] , $nomealuno);
                $vagadias = str_replace('de _____', 'de ' . $this->secretariasdeclaracao['vagadias'] , $vagaano);
                echo  $vagadias  ; 
        }

        if($this->secretariasdeclaracao['tipo'] === 'É aluno (a) regularmente matriculado (a) no _______ ano letivo de ________ solicitou sua transferência com direito a matrícula no ________ ano do Ensino Fundamental. Sua documentação será entregue no prazo máximo de _______ dias.'){  
                $nomealuno = str_replace('É aluno (a)' , 'O aluno(a) ' . Escolasalunos::getEscolaalunoByIdHelper($this->secretariasdeclaracao['idaluno'])['nomerazao'] , $this->secretariasdeclaracao['tipo']);
                $tituloregulamentado = str_replace('(a) no _______', '(a) no ' . $this->secretariasdeclaracao['tituloregulamentado'] , $nomealuno);
                $anoregulamentado = str_replace('de ________', 'de ' . $this->secretariasdeclaracao['anoregulamentado'] , $tituloregulamentado);
                $proximoanoregulamentado = str_replace('matrícula no ________', 'matrícula no ' . $this->secretariasdeclaracao['proximoanoregulamentado'] , $anoregulamentado);
                $diasregulamentado = str_replace('máximo de _______', 'máximo de ' . $this->secretariasdeclaracao['diasregulamentado'] , $proximoanoregulamentado);
                
                echo  $diasregulamentado   ; 
        }
    
    ?>  
</span>

<br /><br /><br /><br /><br /><br /><br />
<br /><br /><br /><br /><br /><br /><br />
<br /><br /><br /><br /><br /><br /><br />
<br /><br /><br /><br /><br /><br /><br />

<table width="100%" cellpadding="2" cellspacing="0" border="0" nobr="true">
    <tr>
        <td align="left" width="25%">
            &nbsp;
        </td>
        <td align="center" width="50%">
            ____________________________________________________________
        </td>
        <td align="left" width="25%">
            &nbsp;
        </td>
    </tr>
    
    <tr>
        <td align="center" width="25%">
            &nbsp;
        </td>
        <td align="center" width="50%" class="font18">
            Assinatura do Diretor.
        </td>
        <td align="center" width="25%">
            &nbsp;
        </td>
    </tr>
</table> 
 
 