<style type="text/css">
.row_0 {
  background-color:#fff;
}
.row_1 {
  background-color:#F5F5F5;
}

</style>
<?php $inicio = date_create($this->periodo['datainicio']); $fim = date_create($this->periodo['datafim']); ?>
<table id="cabecalho">
    <tr>
        <td rowspan="2" style="width: 5%;">
            <img src="<?= $this->baseUrl() ?>/public/admin/imagens/logosantaisabel.jpg">
        </td>
        <td style="font-size: 40px;">
            Prefeitura Municipal de Santa Isabel
        </td>
    </tr>
    <tr>
        <td style="font-size: 40px;">
            Relatório de Transporte Escolar - Fretado
        </td>
    </tr>
    <tr>
        <td></td>
        <td style="font-size: 30px;">
            <?= ucfirst($this->periodo['tipo']) ?> <?= $this->periodo['tipo'] == 'estadual' ? ucfirst($this->periodo['curso']) : '' ?>
        </td>
    </tr>
    <tr>
        <td></td>
        <td style="font-size: 30px;">
            <?= date_format($inicio, 'd-m-Y') ?> a <?= date_format($fim, 'd-m-Y') ?>
        </td>
    </tr>
    <tr>
        <td></td>
        <td style="font-size: 25px;">
            Dias letivos: <?= $this->periodo['diasletivos'] ?>
        </td>
    </tr>
    <tr>
        <td></td>
        <td style="font-size: 25px;">
            Valor Unitário: R$ <?= number_format($this->periodo['valorunitario'],2,'.','') ?>
        </td>
    </tr>
    <tr><td></td></tr>
</table>
<table>
    <?php if (!isset($this->rows) || sizeof($this->rows)==0) : ?>
    <tr>
        <td colspan="7">Nenhum registro foi encontrado!</td>
    </tr>

    <?php else : ?>
        <tr class="row_1" >
            <td style="width: 5%; text-decoration: underline; font-weight: bold;">Matricula</td>
            <td style="width: 25%; text-decoration: underline; font-weight: bold;">Estudante</td>
            <td style="width: 7%; text-decoration: underline; font-weight: bold;">R.A.</td>
            <td style="width: 7%; text-decoration: underline; font-weight: bold;">EJA</td>
            <td style="width: 3%; text-decoration: underline; font-weight: bold;">Série</td>
            <td style="width: 5%; text-decoration: underline; font-weight: bold;">Período</td>
            <td style="width: 15%; text-decoration: underline; font-weight: bold;">Entidade</td>
            <td style="width: 6%; text-decoration: underline; font-weight: bold;">Nasc.</td>
            <td style="width: 15%; text-decoration: underline; font-weight: bold;">Endereço</td>
            <td style="text-decoration: underline; font-weight: bold;">Bairro</td>
            <td style="width: 4%; text-decoration: underline; font-weight: bold;">Faltas</td>
            <td style="text-decoration: underline; font-weight: bold;">Total</td>
        </tr>
        <?php foreach ($this->rows as $i=>$row) : ?>
            <tr class="row_<?= $i%2 ?>" >
                <td style="width: 5%; "><?= $row['matricula'] ?></td>
                <td style="width: 25%;"><?= $row['nome'] ?></td>
                <td style="width: 7%; "><?= $row['ra'] ?></td>
                <td style="width: 7%; "><?= $row['eja'] ?></td>
                <td style="width: 3%; "><?= $row['serie'] ?></td>
                <td style="width: 5%; "><?= $row['periodo'] ?></td>
                <td style="width: 15%;"><?= $row['entidade'] ?></td>
                <?php $nasc = '';
                if ($row['datanascimento'] != '0000-00-00 00:00:00' && !is_null($row['datanascimento']) && $row['datanascimento'] != '') {
                    $nasc = date_format(date_create($row['datanascimento']), 'd-m-Y');
                } ?>
                <td style="width: 6%;"><?= $nasc ?></td>
                <td style="width: 15%;"><?= $row['endereco'] ?></td>
                <td style=""><?= $row['bairro'] ?></td>
                <td style="width: 4%;"><?= $row['faltas'] ?></td>
                <td style=""><?= 'R$ '.number_format($row['total'],2) ?></td>
            </tr>
        <?php endforeach;?>
    <?php endif; ?>
</table>
<div>
    <h1 style="text-align: right;">Valor total: R$ <?= number_format($this->total,2,',','.') ?></h1>
    <h3 style="text-align: right;">Total de estudantes: <?= isset($this->rows) ? sizeof($this->rows) : '0' ?></h3>
</div>