<style type="text/css">
.row_0 {
  background-color:#fff;
}
.row_1 {
  background-color:#F5F5F5;
}

</style>
<?php $inicio = date_create($this->periodo['datainicio']); $fim = date_create($this->periodo['datafim']); ?>
<table>
    <tr>
        <td rowspan="2" style="width: 5%;">
            <img src="<?= $this->baseUrl() ?>/public/admin/imagens/logosantaisabel.jpg">
        </td>
        <td><h1> Prefeitura Municipal de Santa Isabel</h1></td>
    </tr>
    <tr>
        <td><h3> Relatório de Estudantes Universitários Ativos <?= date_format($inicio, 'd-m-Y') ?> a <?= date_format($fim, 'd-m-Y') ?></h3></td>
    </tr>
    <tr><td></td></tr>
</table>
<table>
    <?php if (!isset($this->rows) || sizeof($this->rows)==0) : ?>
    <tr>
        <td colspan="7">Nenhum registro foi encontrado!</td>
    </tr>
    <?php else : ?>
        <tr class="row_1" >
            <td style="width: 10%; text-decoration: underline; font-weight: bold;">Filiação</td>
            <td style="width: 35%; text-decoration: underline; font-weight: bold;">Estudante</td>
            <td style="width: 15%; text-decoration: underline; font-weight: bold;">CPF</td>
            <td style="width: 25%; text-decoration: underline; font-weight: bold;">Entidade</td>
            <td style="width: 10%; text-decoration: underline; font-weight: bold;">Valor Fretado</td>
            <td style="width: 10%; text-decoration: underline; font-weight: bold;">Subsídio</td>
        </tr>
        <?php foreach ($this->rows as $i=>$row) : ?>
            <tr class="row_<?= $i%2 ?>" >
                <td style="width: 10%"><?= $row['filiacao'] ?></td>
                <td style="width: 35%"><?= $row['nome'] ?></td>
                <td style="width: 15%"><?= Escolasalunos::maskCPF($row['cpf']) ?></td>
                <td style="width: 25%"><?= $row['entidade'] ?></td>
                <td style="width: 10%"><?= 'R$ '.number_format($row['valorfretado'],2) ?></td>
                <td style="width: 10%"><?= 'R$ '.number_format($row['subsidio'],2) ?></td>
            </tr>
        <?php endforeach;?>
    <?php endif; ?>
</table>
<div>
    <h1 style="text-align: right;">Valor total: R$ <?= number_format($this->total,2,',','.') ?></h1>
    <h3 style="text-align: right;">Total de estudantes: <?= isset($this->rows) ? sizeof($this->rows) : '0' ?></h3>
</div>