		<!-- Content -->
		<div id="content">

		    <!-- Content wrapper -->
		    <div class="wrapper">

			    <!-- Breadcrumbs line -->
			    <div class="crumbs">
			    	<?php echo $this->render('/helpers/breadcrumb.phtml') ?>
			    </div>
			    <!-- /breadcrumbs line -->

			    <!-- Page header -->
			    <div class="page-header">
			    	<div class="page-title">
				    	<h5>Formulário de vínculo Garagens</h5>
				    	<span>Verifique os campos e preencha com os dados</span>
			    	</div>
			    </div>
			    <!-- /page header -->

			    <?php if (isset($this->crudMessage)) : ?>
					<div class="alert alert-success">
	                	<button data-dismiss="alert" class="close" type="button">×</button>
	                    <strong>Operação realizada com sucesso!</strong>
		    			<span><br /><?php echo $this->crudMessage ?></span>
	                </div>			    
			    <?php endif; ?>

				<form id="form" name="form" action="" method="post" class="form-horizontal" enctype="multipart/form-data"> 
					<input type="hidden" value="<?php echo (isset($this->post_var)) ? $this->post_var["id"] : ''; ?>" name="id" id="id" />
					
					<fieldset>
						<!-- General form elements -->
						<div class="widget row-fluid">
						    <div class="navbar">
						        <div class="navbar-inner">
						            <h6>Digite as informações do formulário</h6>
						        </div>
						    </div>

						    <div class="well">
								<?php if (isset($this->erros)) : ?>
									<div class="alert alert-error margin">
				                        <button data-dismiss="alert" class="close" type="button">×</button>
				                        <strong>Há erros no formulário!</strong>
					    				<?php foreach ($this->erros as $k=>$v) : ?>
					    					<span><br />- <?php echo $v ?></span>
					    				<?php endforeach;?>			                        
				                    </div>
			                    <?php endif; ?>						    
						    




				<div class="control-group">
					<label class="control-label">Título </label>
					<div class="controls"><input maxlength="500" placeholder="Título" name="titulo" value="<?php echo (isset($this->post_var['titulo'])) ? $this->post_var['titulo'] : '' ?>" type="text"  class="span3" /></div>
				</div>


				<div class="control-group">
					<label class="control-label">Descrições </label>
					<div class="controls"><textarea class="span12" name="descricoes" cols="5" rows="5"><?php echo (isset($this->post_var)) ? $this->post_var["descricoes"] : ''; ?></textarea></div>
				</div>


				<div class="control-group">
					<label class="control-label">Quantidade<span class="required">*</span></label>
					<div class="controls" >
						
							<input type="text" placeholder="Quantidade" name="quantidade" value="<?php echo (isset($this->post_var['quantidade'])) ? $this->post_var['quantidade'] : '' ?>" class="span3">
						
					</div>
				</div>

				
						<?php $this->endereco_prefix = "e_idendereco";
							echo $this->render('/helpers/forms/endereco.phtml') ?>


				<div class="control-group">
					<label class="control-label">Latitude</label>
					<div class="controls" >
						<input type="text" placeholder="Latitude" name="latitude" value="<?php echo (isset($this->post_var['latitude'])) ? $this->post_var['latitude'] : '' ?>" class="span3">
						
					</div>


				</div>


				<div class="control-group">
					<label class="control-label">Longitude</label>
					<div class="controls" >
						<input type="text" placeholder="Longitude" name="longitude" value="<?php echo (isset($this->post_var['longitude'])) ? $this->post_var['longitude'] : '' ?>" class="span3">
						
					</div>


				</div>

				<div class="control-group">
					<label class="control-label">Frotas</label>
						<div class="controls">
							<select  name="idfrotas" class="span3"  onchange="setCidades(this, 0)">
								<option value="">Selecione...</option>
								<?php foreach (Logisticafrotas::getLogisticafrotasHelper() as $i=>$row) : ?>
									<option value="<?php echo $row['id'] ?>"><?php echo $row['placa'].' '.$row['fabricante'].' '.$row['marca'].' '.$row['ano'].'/'.$row['modelo'] ?></option>
								<?php endforeach; ?>
							</select>
						</div>
				</div>	


				<div class="control-group">
					<label class="control-label">Status <span class="required">*</span></label>
					<div class="controls">
						<select name="status1" data-placeholder="Status" class="select">
							<option value="">Selecione...</option>
							<option value="Ativo">Ativo</option>
							<option value="Bloqueado">Bloqueado</option>
						</select>
						
					</div>
				</div>
    
						    
						    
			                <div class="form-actions align-right">
			                	<?php if ((isset($this->visualizar)) && ($this->visualizar)) : ?>
			                		<button onclick="window.history.back()" class="btn btn-danger cancelar" type="button">Voltar</button>
			                	<?php else : ?>
				                	<button class="btn btn-primary enviar" type="submit">Salvar</button>
				                	<button onclick="window.history.back()" class="btn btn-danger cancelar" type="button">Cancelar</button>
			                	<?php endif; ?>
			                </div>
						</div>
						<!-- /general form elements -->

					</fieldset> 

				</form>
				<!-- /basic inputs -->

		    </div>
		    <!-- /content wrapper -->

		</div>
		<!-- content -->








<script type="text/javascript">
	var form_values = {};
	<?php if (isset($this->post_var)) :  ?>

	form_values.status1 = '<?php echo (isset($this->post_var['status1'])) ? $this->post_var['status1'] : $this->post_var['status'] ?>';
	form_values.idfrotas = '<?php echo (isset($this->post_var['idfrotas'])) ? $this->post_var['idfrotas'] : '' ?>';


	<?php endif; ?>

	
	visualizar = <?php echo  ((isset($this->visualizar)) && ($this->visualizar))  ? 'true' : 'false' ?>;
	
	
</script>
<script type="text/javascript" src="<?php echo $this->baseUrl('/public/scripts/default/garagens_form.js') ?>"></script>