		<!-- Content -->
		<div id="content">

		    <!-- Content wrapper -->
		    <div class="wrapper">

			    <!-- Breadcrumbs line -->
			    <div class="crumbs">
			    	<?php echo $this->render('/helpers/breadcrumb.phtml') ?>
			    </div>
			    <!-- /breadcrumbs line -->

			    <!-- Page header -->
			    <div class="page-header">
			    	<div class="page-title">
				    	<h5>Formulário do plano</h5>
				    	<span>Verifique os campos e preencha com os dados</span>
			    	</div>
			    </div>
			    <!-- /page header -->

			    <?php if (isset($this->crudMessage)) : ?>
					<div class="alert alert-success">
	                	<button data-dismiss="alert" class="close" type="button">×</button>
	                    <strong>Operação realizada com sucesso!</strong>
		    			<span><br /><?php echo $this->crudMessage ?></span>
	                </div>			    
			    <?php endif; ?>

				<form id="form" name="form" action="" method="post" class="form-horizontal" enctype="multipart/form-data"> 
					<input type="hidden" value="<?php echo (isset($this->post_var)) ? $this->post_var["id"] : ''; ?>" name="id" id="id" />
					
					<fieldset>
						<!-- General form elements -->
						<div class="widget row-fluid">
						    <div class="navbar">
						        <div class="navbar-inner">
						            <h6>Digite as informações do formulário</h6>
						        </div>
						    </div>

						    <div class="well">
								<?php if (isset($this->erros)) : ?>
									<div class="alert alert-error margin">
				                        <button data-dismiss="alert" class="close" type="button">×</button>
				                        <strong>Há erros no formulário!</strong>
					    				<?php foreach ($this->erros as $k=>$v) : ?>
					    					<span><br />- <?php echo $v ?></span>
					    				<?php endforeach;?>			                        
				                    </div>
			                    <?php endif; ?>						    
						    

				<div class="control-group">
					<label class="control-label">Série <span class="required">*</span></label>
					<div class="controls">
		                <select name="idserie" data-placeholder="Série" class="select">
							<option value="">Selecione...</option>
							<?php foreach (Escolasseries::getEscolasseriesHelper(array('status'=>'Ativo', 'idescola'=>Escolasalunos::getUsuario('idescola'))) as $k=>$v) : ?>
							<option value="<?php echo $v['id'] ?>"><?php echo $v['serie'] ?></option>
							<?php endforeach;?>
						</select>
						
					</div>
				</div>


				<div class="control-group">
					<label class="control-label">Turma <span class="required">*</span></label>
					<div class="controls">
		                <select name="idturma" data-placeholder="Turma" class="select">
							<option value="">Selecione...</option>
							<?php foreach (Escolasturmas::getEscolasturmasHelper(array('status'=>'Ativo', 'idescola'=>Escolasalunos::getUsuario('idescola'))) as $k=>$v) : ?>
							<option value="<?php echo $v['id'] ?>"><?php echo $v['turma'] ?></option>
							<?php endforeach;?>
						</select>
						
					</div>
				</div>


				<div class="control-group">
					<label class="control-label">Ano Letivo </label>
					<div class="controls"><input  placeholder="Ano Letivo" name="anoletivo" value="<?php echo (isset($this->post_var['anoletivo'])) ? $this->post_var['anoletivo'] : '' ?>" type="text"  class="span3" /></div>
				</div>


				<div class="control-group">
					<label class="control-label">Segmento </label>
					<div class="controls"><input maxlength="500" placeholder="Segmento" name="segmento" value="<?php echo (isset($this->post_var['segmento'])) ? $this->post_var['segmento'] : '' ?>" type="text"  class="span3" /></div>
				</div>


				<div class="control-group">
					<label class="control-label">Componente curricular </label>
					<div class="controls"><input maxlength="500" placeholder="Componente curricular" name="componentecurricular" value="<?php echo (isset($this->post_var['componentecurricular'])) ? $this->post_var['componentecurricular'] : '' ?>" type="text"  class="span3" /></div>
				</div>


				<div class="control-group">
					<label class="control-label">Tema <span class="required">*</span></label>
					<div class="controls"><input maxlength="500" placeholder="Tema" name="tema" value="<?php echo (isset($this->post_var['tema'])) ? $this->post_var['tema'] : '' ?>" type="text"  class="span3" /></div>
				</div>


				<div class="control-group">
					<label class="control-label">Duração <span class="required">*</span></label>
					<div class="controls"><input maxlength="500" placeholder="Duração" name="duracao" value="<?php echo (isset($this->post_var['duracao'])) ? $this->post_var['duracao'] : '' ?>" type="text"  class="span3" /></div>
				</div>


				<div class="control-group">
					<label class="control-label">Objetivo <span class="required">*</span></label>
					<div class="controls"><textarea class="span12" name="objetivo" cols="5" rows="5"><?php echo (isset($this->post_var)) ? $this->post_var["objetivo"] : ''; ?></textarea></div>
				</div>


				<div class="control-group">
					<label class="control-label">Metodologia </label>
					<div class="controls"><textarea class="span12" name="metodologia" cols="5" rows="5"><?php echo (isset($this->post_var)) ? $this->post_var["metodologia"] : ''; ?></textarea></div>
				</div>


				<div class="control-group">
					<label class="control-label">Conteúdo programático </label>
					<div class="controls"><textarea class="span12" name="conteudoprogramatico" cols="5" rows="5"><?php echo (isset($this->post_var)) ? $this->post_var["conteudoprogramatico"] : ''; ?></textarea></div>
				</div>


				<div class="control-group">
					<label class="control-label">Material utilizado </label>
					<div class="controls"><textarea class="span12" name="material" cols="5" rows="5"><?php echo (isset($this->post_var)) ? $this->post_var["material"] : ''; ?></textarea></div>
				</div>


				<div class="control-group">
					<label class="control-label">Bibliografia </label>
					<div class="controls"><textarea class="span12" name="bibliografia" cols="5" rows="5"><?php echo (isset($this->post_var)) ? $this->post_var["bibliografia"] : ''; ?></textarea></div>
				</div>


				<div class="control-group">
					<label class="control-label">Público <span class="required">*</span></label>
					<div class="controls">
						<select name="publico" data-placeholder="Público" class="select">
							<option value="">Selecione...</option>
							<option value="Sim">Sim</option><option value="Não">Não</option>
						</select>
						
					</div>
				</div>


				<div class="control-group">
					<label class="control-label">Status <span class="required">*</span></label>
					<div class="controls">
						<select name="status1" data-placeholder="Status" class="select">
							<option value="">Selecione...</option>
							<option value="Ativo">Ativo</option><option value="Bloqueado">Bloqueado</option>
						</select>
						
					</div>
				</div>

						    
						    
						    </div>
						    
			                <div class="form-actions align-right">
			                	<?php if ((isset($this->visualizar)) && ($this->visualizar)) : ?>
			                		<button onclick="window.history.back()" class="btn btn-danger cancelar" type="button">Voltar</button>
			                	<?php else : ?>
				                	<button class="btn btn-primary enviar" type="submit">Salvar</button>
				                	<button onclick="window.history.back()" class="btn btn-danger cancelar" type="button">Cancelar</button>
			                	<?php endif; ?>
			                </div>
						</div>
						<!-- /general form elements -->

					</fieldset> 

				</form>
				<!-- /basic inputs -->

		    </div>
		    <!-- /content wrapper -->

		</div>
		<!-- content -->
				
<script type="text/javascript" src="<?php echo $this->baseUrl('/public/scripts/alunos/programacoesaulas_form.js') ?>"></script>
<script type="text/javascript">
	var form_values = {};
	
	<?php if (isset($this->post_var)) :  ?>
		form_values.idescola = '<?php echo (isset($this->post_var['idescola'])) ? $this->post_var['idescola'] : '' ?>';

form_values.idescolausuario = '<?php echo (isset($this->post_var['idescolausuario'])) ? $this->post_var['idescolausuario'] : '' ?>';

form_values.idserie = '<?php echo (isset($this->post_var['idserie'])) ? $this->post_var['idserie'] : '' ?>';

form_values.idturma = '<?php echo (isset($this->post_var['idturma'])) ? $this->post_var['idturma'] : '' ?>';

form_values.publico = '<?php echo (isset($this->post_var['publico'])) ? $this->post_var['publico'] : '' ?>';

form_values.status1 = '<?php echo (isset($this->post_var['status1'])) ? $this->post_var['status1'] : $this->post_var['status'] ?>';


	<?php endif; ?>

	visualizar = <?php echo  ((isset($this->visualizar)) && ($this->visualizar))  ? 'true' : 'false' ?>;
</script>
