<?php if (sizeof($this->materiasprofessores)==0) : ?>
	<option value="">Nenhuma matéria foi encontrada para esse professor</option>
<?php else : ?>
	<?php if (sizeof($this->materiasprofessores)==0) : ?>
		<option value="">Selecione...</option>
		<option value="">Nenhuma matéria foi encontrada para essa escola</option>
	<?php else : ?>
		<option value="">Selecione...</option>
		<?php foreach ($this->materiasprofessores as $row) : ?>
		<option value="<?php echo $row['idmateria'] ?>">
			<?php //echo $row['materia'] ?>
			<?php
				$___rows = Controlealunosmaterias::getControlealunosmateriasHelper(array('id'=>$row['idmateria']));
				$___row = (sizeof($___rows)>0) ? 	$___rows[0] : false;	
				
				echo ($___row) ? $this->formatTextoBranco($___row['materia']) : '--';		
			?>
		</option>
		<?php endforeach; ?>
	<?php endif; ?>	
<?php endif; ?>
