<?php if(sizeof($this->configuracoesnotasdiferenciadas) > 0): ?>

<thead>
	<tr>
		<th width=""  style="">Aluno</th>
		<?php foreach($this->configuracoesnotasdiferenciadas as $k=>$v): ?>
		<th width="" style=""><?php echo $v['titulo'] . ' ' . $v['id'] ?></th>
		<?php endforeach; ?>

		<th>Média</th>
	</tr>
</thead>
<tbody>
<?php foreach($this->escolasalunos as $ea=>$rowaluno): ?>
<tr>
	<td>
		<?php
			$___rows = Escolasalunos::getEscolasalunosHelper(array('id'=>$rowaluno['idaluno']));
			$___row = (sizeof($___rows)>0) ? 	$___rows[0] : false;	
			
			echo ($___row) ? $this->formatTextoBranco($___row['nomerazao'] . ' ' . $___row['sobrenomefantasia']) : '--';		
		?>
		
	</td>

	<?php $total = 0; ?>
	<?php for($i=1; $i<=sizeof($this->configuracoesnotasdiferenciadas); $i++): ?>
	<?php 
		$nota = Escolasalunosnotas::getEscolasalunosnotasHelper(array('idaluno'=>$rowaluno['idaluno'] ,'idprofessor'=>$this->idprofessor, 'idescolavinculo'=>$this->idescolavinculo, 'idmateria'=>$this->idmateria, 'numeronota'=>$i, 'tipo'=>'Avaliacao', 'bimestre'=>$this->bimestre));

	?>
	<td>
		<input maxlength="500" placeholder="nota" name="notas[]" value="<?php echo (isset($nota['nota'])) ? number_format($nota['nota'], '2', ',', '.') : '' ?>" type="text"  class="span12 notasmask notafinal<?php echo $rowaluno['idaluno'] ?>" onblur="calculaNota(this, '<?php echo $rowaluno['idaluno'] ?>')" />
		<input type="hidden" name="idsnotas[]" value="<?php echo (isset($nota['id']) ) ? $nota['id'] : '' ?>"  />
		<input type="hidden" name="idescolavinculo[]" value="<?php echo $this->idescolavinculo ?>" />
		<input type="hidden" name="idmateria[]" value="<?php echo $this->idmateria ?>" />
		<input type="hidden" name="idprofessor[]" value="<?php echo (int)Usuarios::getUsuario('idfuncionario') ?>" />
		<input type="hidden" name="idaluno[]" value="<?php echo $rowaluno['idaluno'] ?>" />
		<input type="hidden" name="numeronotas[]" value="<?php echo $i ?>" />
		<input type="hidden" name="bimestres[]" value="<?php echo (isset($nota['bimestre']) ) ? $nota['bimestre'] : '' ?>" />
		<input type="hidden" name="tipos[]" value="Avaliacao" />
		<input type="hidden" value="<?php echo (isset($this->configuracoesnotasdiferenciadas[$i-1]['percentualnota']) && $this->configuracoesnotasdiferenciadas[$i-1]['percentualnota']) ? $this->configuracoesnotasdiferenciadas[$i-1]['percentualnota'] : 0 ?>" class="percentualavaliacoes<?php echo $i ?>" />
	</td>
	<?php 
	$nota = (isset($nota['nota'])) ? (float)$nota['nota'] : 0;
	$total = $total + $nota;
	endfor; 

	$divisor = sizeof($this->configuracoesnotasdiferenciadas);
	$divisor = ((float)$divisor > 0) ? $divisor : 1;
	?>

	<td><input maxlength="500" placeholder="media" name="media[]" value="<?php echo (isset($total)) ? number_format(($total/$divisor), '2' , ',' , '.') : '' ?>" type="text"  class="span12 media<?php echo $rowaluno['idaluno'] ?>" /></td>

</tr>
<?php endforeach?>
</tbody>

<script type="text/javascript">
$(".notasmask").each(function() {
	$(this).priceFormat({
	    prefix: '',
	    centsSeparator: ',',
	    thousandsSeparator: '',
	    centsLimit: 2
	});
});		


function calculaNota(obj, idaluno){
	$caminho = $(obj).parent();
	$notas_provas = 0;
	$pesos_provas = 0;
	var validanotas = "sim";
	var verificanotas = "nao";

	$('.notafinal'+idaluno).each(function(index) {
		var nota = $(this).val();
		var notareplace = nota.replace(",", ".");
		nota = parseFloat(notareplace);

		var percentualavaliacoes = $('.percentualavaliacoes' + (index + 1)).val();
		percentualavaliacoes = parseFloat(percentualavaliacoes) / 100;

		if((nota=="NaN") || (nota=="")){
			nota = 0;
			nota = parseFloat(notareplace);
		}

		if((nota<0) || (nota>10)){
			$(obj).css('border-color', '#FF0000');
			verificanotas = "sim";
			validanotas = " ";
			validanotas = validanotas.trim();
			console.log("teste")
			$(".validanotas").val(validanotas);
		}else{
			//$(obj).css('border-color', '#dadada');
		}
		$notas_provas = $notas_provas + (nota * percentualavaliacoes);
		$pesos_provas = $pesos_provas + percentualavaliacoes;
	
	console.log("nota", $notas_provas);
	});	

	if(verificanotas=="nao"){
		$(".validanotas").val("sim");
	}
	console.log("notas total", $notas_provas);
	console.log("peso total", $pesos_provas);

	total = ($notas_provas / $pesos_provas);
	total = parseFloat(total);
	total = total.toFixed(2);

	$(obj).parent().find('.media').val();
	var totalreplace = total.replace(".", ",");
	console.log('media ponderada', totalreplace);

	
	$('.media'+idaluno).val(' ');
	$('.media'+idaluno).val(totalreplace);
	if((total=="NaN") || (total=="")){
		$('.media'+idaluno).val("0,00");
	}
	//if(totalreplace=="Nan")
}

</script>

<?php else: ?>

<thead>
	<tr>
		<?php 
			$quantidadenotas = 3;
			if(isset($this->configuracoesnotas['quantidadenotas'])){
				$quantidadenotas = $this->configuracoesnotas['quantidadenotas'];
			}
		?>

		<?php 
			$quantidadetrabalhos = 3;
			if(isset($this->configuracoesnotas['quantidadetrabalhos'])){
				$quantidadetrabalhos = $this->configuracoesnotas['quantidadetrabalhos'];
			}
		?>

		<?php 
			$quantidadetarefas = 3;
			if(isset($this->configuracoesnotas['quantidadetarefas'])){
				$quantidadetarefas = $this->configuracoesnotas['quantidadetarefas'];
			}
		?>
		<th width=""  style="">Aluno</th>
		<?php for($i=1; $i<=$quantidadenotas; $i++): ?>
		<th width="" style="">Nota <?php echo $i ?></th>
		<?php endfor; ?>
		<?php for($i=1; $i<=$quantidadetrabalhos; $i++): ?>
		<th width="" style="">Trabalho <?php echo $i ?></th>
		<?php endfor; ?>
		<?php for($i=1; $i<=$quantidadetarefas; $i++): ?>
		<th width="" style="">Nota <?php echo $i ?></th>
		<?php endfor; ?>
		
		<?php if(isset($this->configuracoesnotas['percentualparticipacao']) && $this->configuracoesnotas['percentualparticipacao'] > 0): ?>
		<th>Participação</th>
		<?php endif; ?>

		<th>Média</th>
	</tr>
</thead>
<tbody>
<?php foreach($this->escolasalunos as $ea=>$rowaluno): ?>
<tr>
	<td>
		<?php
			$___rows = Escolasalunos::getEscolasalunosHelper(array('id'=>$rowaluno['idaluno']));
			$___row = (sizeof($___rows)>0) ? 	$___rows[0] : false;	
			
			echo ($___row) ? $this->formatTextoBranco($___row['nomerazao'] . ' ' . $___row['sobrenomefantasia']) : '--';		
		?>
		
	</td>

	<?php 
		$quantidadenotas = 3;
		if(isset($this->configuracoesnotas['quantidadenotas'])){
			$quantidadenotas = $this->configuracoesnotas['quantidadenotas'];
		}
	?>

	<?php 
		$quantidadetrabalhos = 3;
		if(isset($this->configuracoesnotas['quantidadetrabalhos'])){
			$quantidadetrabalhos = $this->configuracoesnotas['quantidadetrabalhos'];
		}
	?>	

	<?php 
		$quantidadetarefas = 3;
		if(isset($this->configuracoesnotas['quantidadetarefas'])){
			$quantidadetarefas = $this->configuracoesnotas['quantidadetarefas'];
		}
	?>	
	<?php $total = 0;?>
	<?php for($i=1; $i<=$quantidadenotas; $i++): ?>
	<?php 
		$notaprova = Escolasalunosnotas::getEscolasalunosnotasHelper(array('idaluno'=>$rowaluno['idaluno'] ,'idprofessor'=>$this->idprofessor, 'idescolavinculo'=>$this->idescolavinculo, 'idmateria'=>$this->idmateria, 'numeronota'=>$i, 'tipo'=>'Prova', 'bimestre'=>$this->bimestre));

	?>
	<td>
		<input maxlength="500" placeholder="nota" name="notas[]" value="<?php echo (isset($notaprova['nota'])) ? number_format($notaprova['nota'], '2', ',', '.') : '' ?>" type="text"  class="span12 notasmask notafinal<?php echo $rowaluno['idaluno'] ?>" onblur="calculaNota(this, '<?php echo $rowaluno['idaluno'] ?>')" />
		<input type="hidden" name="idsnotas[]" value="<?php echo (isset($notaprova['id']) ) ? $notaprova['id'] : '' ?>"  />
		<input type="hidden" name="idescolavinculo[]" value="<?php echo $this->idescolavinculo ?>" />
		<input type="hidden" name="idmateria[]" value="<?php echo $this->idmateria ?>" />
		<input type="hidden" name="idprofessor[]" value="<?php echo $this->idprofessor ?>" />
		<input type="hidden" name="idaluno[]" value="<?php echo $rowaluno['idaluno'] ?>" />
		<input type="hidden" name="numeronotas[]" value="<?php echo $i ?>" />
		<input type="hidden" name="bimestres[]" value="<?php echo (isset($notaprova['bimestre']) ) ? $notaprova['bimestre'] : '' ?>" />
		<input type="hidden" name="tipos[]" value="Prova" />
	</td>
	<?php 
	$nota = (isset($notaprova['nota'])) ? (float)$notaprova['nota'] : 0;
	$total = $total + $nota;
	endfor; ?>
	<?php for($i=1; $i<=$quantidadetrabalhos; $i++): ?>
	<?php 
		$notatrabalho = Escolasalunosnotas::getEscolasalunosnotasHelper(array('idaluno'=>$rowaluno['idaluno'] ,'idprofessor'=>$this->idprofessor, 'idescolavinculo'=>$this->idescolavinculo, 'idmateria'=>$this->idmateria, 'numeronota'=>$i, 'tipo'=>'Trabalho', 'bimestre'=>$this->bimestre));
	?>
	<td>
		<input maxlength="500" placeholder="trabalho" name="notas[]" value="<?php echo (isset($notatrabalho['nota'])) ? number_format($notatrabalho['nota'], '2', ',', '.') : '' ?>" type="text"  class="span12 notasmask notatrabalho<?php echo $rowaluno['idaluno'] ?>" onblur="calculaNota(this, '<?php echo $rowaluno['idaluno'] ?>')" />
		<input type="hidden" name="idsnotas[]" value="<?php echo (isset($notatrabalho['id']) ) ? $notatrabalho['id'] : '' ?>" />
		<input type="hidden" name="idescolavinculo[]" value="<?php echo $this->idescolavinculo ?>" />
		<input type="hidden" name="idmateria[]" value="<?php echo $this->idmateria ?>" />
		<input type="hidden" name="idprofessor[]" value="<?php echo $this->idprofessor ?>" />
		<input type="hidden" name="idaluno[]" value="<?php echo $rowaluno['idaluno'] ?>" />
		<input type="hidden" name="numeronotas[]" value="<?php echo $i ?>" />
		<input type="hidden" name="bimestres[]" value="<?php echo (isset($notatrabalho['bimestre']) ) ? $notatrabalho['bimestre'] : '' ?>" />
		<input type="hidden" name="tipos[]" value="Trabalho" />
	</td>
	<?php 
	$nota = (isset($notatrabalho['nota'])) ? (float)$notatrabalho['nota'] : 0;
	$total = $total + $nota;
	endfor; 
	?>
	<?php for($i=1; $i<=$quantidadetarefas; $i++): ?>
	<?php 
		$notatarefa = Escolasalunosnotas::getEscolasalunosnotasHelper(array('idaluno'=>$rowaluno['idaluno'] ,'idprofessor'=>$this->idprofessor, 'idescolavinculo'=>$this->idescolavinculo, 'idmateria'=>$this->idmateria, 'numeronota'=>$i, 'tipo'=>'Tarefa', 'bimestre'=>$this->bimestre));
	?>
	<td>
		<input maxlength="500" placeholder="tarefa" name="notas[]" value="<?php echo (isset($notatarefa['nota'])) ? number_format($notatarefa['nota'], '2', ',', '.') : '' ?>" type="text"  class="span12 notasmask notatarefa<?php echo $rowaluno['idaluno'] ?>" onblur="calculaNota(this, '<?php echo $rowaluno['idaluno'] ?>')" />
		<input type="hidden" name="idsnotas[]" value="<?php echo (isset($notatarefa['id']) ) ? $notatarefa['id'] : '' ?>" />
		<input type="hidden" name="idescolavinculo[]" value="<?php echo $this->idescolavinculo ?>" />
		<input type="hidden" name="idmateria[]" value="<?php echo $this->idmateria ?>" />
		<input type="hidden" name="idprofessor[]" value="<?php echo $this->idprofessor ?>" />
		<input type="hidden" name="idaluno[]" value="<?php echo $rowaluno['idaluno'] ?>" />
		<input type="hidden" name="numeronotas[]" value="<?php echo $i ?>" />
		<input type="hidden" name="bimestres[]" value="<?php echo (isset($notatarefa['bimestre']) ) ? $notatarefa['bimestre'] : '' ?>" />
		<input type="hidden" name="tipos[]" value="Tarefa" />
	</td>
	<?php 
	$nota = (isset($notatarefa['nota'])) ? (float)$notatarefa['nota'] : 0;
	$total = $total + $nota;
	endfor; 
	$divisor = $quantidadenotas+$quantidadetrabalhos+$quantidadetarefas;
	$divisor = ((float)$divisor > 0) ? $divisor : 1;
	?>

	<?php if(isset($this->configuracoesnotas['percentualparticipacao']) && $this->configuracoesnotas['percentualparticipacao'] > 0): ?>

		<?php for($i=1; $i<=1; $i++): ?>
		<?php 
			$notaparticipacao = Escolasalunosnotas::getEscolasalunosnotasHelper(array('idaluno'=>$rowaluno['idaluno'] ,'idprofessor'=>$this->idprofessor, 'idescolavinculo'=>$this->idescolavinculo, 'idmateria'=>$this->idmateria, 'numeronota'=>1, 'tipo'=>'Participacao', 'bimestre'=>$this->bimestre));

		?>
		<td>
			<input maxlength="500" placeholder="participacao" name="notas[]" value="<?php echo (isset($notaparticipacao['nota'])) ? number_format($notaparticipacao['nota'], '2', ',', '.') : '' ?>" type="text"  class="span12 notasmask participacao<?php echo $rowaluno['idaluno'] ?>" onblur="calculaNota(this, '<?php echo $rowaluno['idaluno'] ?>')" />

			<input type="hidden" name="idsnotas[]" value="<?php echo (isset($notaparticipacao['id']) ) ? $notaparticipacao['id'] : '' ?>" />
			<input type="hidden" name="idescolavinculo[]" value="<?php echo $this->idescolavinculo ?>" />
			<input type="hidden" name="idmateria[]" value="<?php echo $this->idmateria ?>" />
			<input type="hidden" name="idprofessor[]" value="<?php echo $this->idprofessor ?>" />
			<input type="hidden" name="idaluno[]" value="<?php echo $rowaluno['idaluno'] ?>" />
			<input type="hidden" name="numeronotas[]" value="<?php echo $i ?>" />
			<input type="hidden" name="bimestres[]" value="<?php echo (isset($notaparticipacao['bimestre']) ) ? $notaparticipacao['bimestre'] : '' ?>" />
			<input type="hidden" name="tipos[]" value="Participacao" />
		</td>
		<?php endfor; ?>
	<?php endif; ?>

	<td><input maxlength="500" placeholder="media" name="media[]" value="<?php echo (isset($total)) ? number_format(($total/$divisor), '2' , ',' , '.') : '' ?>" type="text"  class="span12 media<?php echo $rowaluno['idaluno'] ?>" /></td>
</tr>
<?php endforeach?>
</tbody>

<input type="hidden" value="<?php echo $divisor ?>" class="divisor" />

<input type="hidden" value="<?php echo (isset($this->configuracoesnotas['percentualparticipacao']) && $this->configuracoesnotas['percentualparticipacao']) ? $this->configuracoesnotas['percentualparticipacao'] : 0 ?>" class="percentualparticipacao" />
<input type="hidden" value="<?php echo (isset($this->configuracoesnotas['percentualtrabalhos']) && $this->configuracoesnotas['percentualtrabalhos']) ? $this->configuracoesnotas['percentualtrabalhos'] : 0 ?>" class="percentualtrabalhos" />
<input type="hidden" value="<?php echo (isset($this->configuracoesnotas['percentualprovas']) && $this->configuracoesnotas['percentualprovas']) ? $this->configuracoesnotas['percentualprovas'] : 0 ?>" class="percentualprovas" />
<input type="hidden" value="<?php echo (isset($this->configuracoesnotas['percentualtarefas']) && $this->configuracoesnotas['percentualtarefas']) ? $this->configuracoesnotas['percentualtarefas'] : 0 ?>" class="percentualtarefas" />

<script type="text/javascript">
$(".notasmask").each(function() {
	$(this).priceFormat({
	    prefix: '',
	    centsSeparator: ',',
	    thousandsSeparator: '',
	    centsLimit: 2
	});
});		

/*
function calculaNota(obj, idaluno){
	$caminho = $(obj).parent();
	$notas_provas = 0;
	var validanotas = "sim";
	var verificanotas = "nao";
	$('.notafinal'+idaluno).each(function() {
		var nota = $(this).val();
		var notareplace = nota.replace(",", ".");
		nota = parseFloat(notareplace);

		if((nota=="NaN") || (nota=="")){
			nota = 0;
			nota = parseFloat(notareplace);
		}

		if((nota<0) || (nota>10)){
			$(obj).css('border-color', '#FF0000');
			verificanotas = "sim";
			validanotas = " ";
			validanotas = validanotas.trim();
			
			$(".validanotas").val(validanotas);
		}else{
			//$(obj).css('border-color', '#dadada');
		}
		$notas_provas = $notas_provas + nota;
	
	});	

	if(verificanotas=="nao"){
		$(".validanotas").val("sim");
	}

	var divisor = $('.divisor').val();
	divisor = parseInt(divisor);

	total = ($notas_provas/divisor);
	total = parseFloat(total);
	total = total.toFixed(2);

	$(obj).parent().find('.media').val();
	var totalreplace = total.replace(".", ",");
	
	$('.media'+idaluno).val(' ');
	$('.media'+idaluno).val(totalreplace);
	if((total=="NaN") || (total=="")){
		$('.media'+idaluno).val("0,00");
	}
	//if(totalreplace=="Nan")
}
*/

function calculaNota(obj, idaluno){
	$caminho = $(obj).parent();
	$notas_provas = 0;
	$notas_trabalho = 0;
	$notas_tarefas = 0;
	$nota_participacao = 0;
	$pesos_provas = 0;
	$pesos_trabalho = 0;
	$pesos_tarefas = 0;
	$peso_participacao = 0;
	var validanotas = "sim";
	var verificanotas = "nao";

	var percentualparticipacao = $('.percentualparticipacao').val();
	var percentualprovas = $('.percentualprovas').val();
	var percentualtrabalhos = $('.percentualtrabalhos').val();
	var percentualtarefas = $('.percentualtarefas').val();
	
	percentualparticipacao = parseFloat(percentualparticipacao) / 100;
	percentualprovas = parseFloat(percentualprovas) / 100;
	percentualtrabalhos = parseFloat(percentualtrabalhos) / 100;
	percentualtarefas = parseFloat(percentualtarefas) / 100;

	$('.notafinal'+idaluno).each(function() {
		var nota = $(this).val();
		var notareplace = nota.replace(",", ".");
		nota = parseFloat(notareplace);
		nota = parseFloat(notareplace);

		if((nota=="NaN") || (nota=="")){
			nota = 0;
			nota = parseFloat(notareplace);
		}

		if((nota<0) || (nota>10)){
			$(obj).css('border-color', '#FF0000');
			verificanotas = "sim";
			validanotas = " ";
			validanotas = validanotas.trim();
			console.log('valida', validanotas)
			$(".validanotas").val(validanotas);
		}else{
			//$(obj).css('border-color', '#dadada');
		}
		$notas_provas = $notas_provas + (nota * percentualprovas);
		$pesos_provas = $pesos_provas + percentualprovas;
	
	});	

	$('.notatrabalho'+idaluno).each(function() {
		var nota = $(this).val();
		var notareplace = nota.replace(",", ".");
		nota = parseFloat(notareplace);

		if((nota=="NaN") || (nota=="")){
			nota = 0;
			nota = parseFloat(notareplace);
		}

		if((nota<0) || (nota>10)){
			$(obj).css('border-color', '#FF0000');
			verificanotas = "sim";
			validanotas = " ";
			validanotas = validanotas.trim();
			
			$(".validanotas").val(validanotas);
		}else{
			//$(obj).css('border-color', '#dadada');
		}
		$notas_trabalho = $notas_trabalho + (nota * percentualtrabalhos);
		$pesos_trabalho = $pesos_trabalho + percentualtrabalhos;
	
	});	

	$('.notatarefa'+idaluno).each(function() {
		var nota = $(this).val();
		var notareplace = nota.replace(",", ".");
		nota = parseFloat(notareplace);

		if((nota=="NaN") || (nota=="")){
			nota = 0;
			nota = parseFloat(notareplace);
		}

		if((nota<0) || (nota>10)){
			$(obj).css('border-color', '#FF0000');
			verificanotas = "sim";
			validanotas = " ";
			validanotas = validanotas.trim();
			
			$(".validanotas").val(validanotas);
		}else{
			//$(obj).css('border-color', '#dadada');
		}
		$notas_tarefas = $notas_tarefas + (nota * percentualtarefas);
		$pesos_tarefas = $pesos_tarefas + percentualtarefas;
	
	});	

	$('.participacao'+idaluno).each(function() {
		var nota = $(this).val();
		var notareplace = nota.replace(",", ".");
		nota = parseFloat(notareplace);

		if((nota=="NaN") || (nota=="")){
			nota = 0;
			nota = parseFloat(notareplace);
		}

		if((nota<0) || (nota>10)){
			$(obj).css('border-color', '#FF0000');
			verificanotas = "sim";
			validanotas = " ";
			validanotas = validanotas.trim();
			
			$(".validanotas").val(validanotas);
		}else{
			//$(obj).css('border-color', '#dadada');
		}
		$nota_participacao = $nota_participacao + (nota * percentualparticipacao);
		$peso_participacao = $peso_participacao + percentualparticipacao;
	
	});	


	if(verificanotas=="nao"){
		$(".validanotas").val("sim");
	}

	total = (($notas_provas + $notas_trabalho + $notas_tarefas + $nota_participacao) / ($pesos_provas + $pesos_trabalho + $pesos_tarefas + $peso_participacao));
	total = parseFloat(total);
	total = total.toFixed(2);

	$(obj).parent().find('.media').val();
	var totalreplace = total.replace(".", ",");
	console.log('media ponderada', totalreplace);

	
	$('.media'+idaluno).val(' ');
	$('.media'+idaluno).val(totalreplace);
	if((total=="NaN") || (total=="")){
		$('.media'+idaluno).val("0,00");
	}
	//if(totalreplace=="Nan")
}
</script>
<?php endif; ?>