<h3 class="title-accordion">
	<a class="click_acc" data-toggle="collapse" data-parent="#accordion" href="#collapse2">
		Dados da Mãe
	</a>
</h3>

<div id="collapse2" class="content-height panel-collapse collapse in">

	<div class="form-group">
		<label class="col-sm-3 control-label">Nome da Mãe </label>
		<div class="col-sm-6">
			<input name="nomemae" value="<?php echo (isset($this->post_var)) ? $this->post_var['nomemae'] : "" ?>" type="text" class="form-control" placeholder=" "> 
		</div>
	</div>
	
	<div class="form-group">
		<label class="col-sm-3 control-label">CPF da Mãe *</label>
		<div class="col-sm-6">
			<input name="cpfcnpjmae" value="<?php echo (isset($this->post_var)) ? $this->post_var['cpfcnpjmae'] : "" ?>" type="text" class="form-control" placeholder=" "> 
		</div>
	</div>
	
	<div class="form-group">
		<label class="col-sm-3 control-label">RG da Mãe </label>
		<div class="col-sm-6">
			<input name="rgmae" value="<?php echo (isset($this->post_var)) ? $this->post_var['rgmae'] : "" ?>" type="text" class="form-control" placeholder=" "> 
		</div>
	</div>
	
	<div class="form-group">
		<label class="col-sm-3 control-label">Estado Civil</label>
		<div class="col-sm-6">
			
			<select id="estadocivilmae" name=estadocivilmae class="form-control">
				<option value="">Selecione...</option>
				<?php foreach (Funcionarios::getEstadoCivil() as $k=>$v) : ?>
				<option value="<?php echo $k ?>"><?php echo $v ?></option>
				<?php endforeach;?>
			</select> 
		</div>
	</div>
	
	<div class="form-group">
		<label class="col-sm-3 control-label">Data de Nascimento da Mãe </label>
		<div class="col-sm-6">
			<input name="nascimentomae" value="<?php echo (isset($this->post_var)) ? Mn_Util::formPostVarData($this->post_var['nascimentomae']) : "" ?>" type="text" class="form-control" placeholder=" "> 
		</div>
	</div>
	
	<div class="form-group">
		<label class="col-sm-3 control-label">Arquivo Certidão de nascimento da mãe / casamento </label>
		<div class="col-sm-6">
			<?php if ((isset($this->visualizar)) && ($this->visualizar)) : ?>						
				<?php if ((isset($this->post_var['idarquivonascimentomae'])) && ((int)$this->post_var['idarquivonascimentomae']>0)) : ?>
					<div class="col-sm-6" style="padding-top:10px">
						<?php echo $this->getArquivo($this->post_var['idarquivonascimentomae']) ?>
					</div> 
				<?php endif;?>
			<?php else: ?>
				<?php if ((isset($this->post_var['idarquivonascimentomae'])) && ((int)$this->post_var['idarquivonascimentomae']>0)) : ?>
					<?php echo $this->getArquivo($this->post_var['idarquivonascimentomae']) ?>
					
					<div class="checkbox block">
						<label><input type="checkbox" name="excluir_arquivonascimentomae" value="excluir" /> Desejo excluir o arquivo</label>
					</div>								
					<br /> 
				<?php endif; ?>
				
				<input type="file" name="arquivonascimentomae" class="form-control" />
			<?php endif;?>
		</div>
	</div>
	
	<div class="form-group">
		<label class="col-sm-3 control-label">Titulo de Eleitor mãe </label>
		<div class="col-sm-6">
			<input name="tituloeleitoralmae" value="<?php echo (isset($this->post_var['tituloeleitoralmae'])) ? $this->post_var['tituloeleitoralmae'] : "" ?>" type="text" class="form-control" placeholder=" "> 
		</div>
	</div>
</div>