		<!-- Content -->
		<div id="content">

		    <!-- Content wrapper -->
		    <div class="wrapper">

			    <!-- Breadcrumbs line -->
			    <div class="crumbs">
			    	<?php echo $this->render('/helpers/breadcrumb.phtml') ?>
			    </div>
			    <!-- /breadcrumbs line -->

			    <!-- Page header -->
			    <div class="page-header">
			    	<div class="page-title">
				    	<h5>Formulário de Ocorrências de Ponto </h5>
				    	<span>Verifique os campos e preencha com os dados</span>
			    	</div>
			    </div>
			    <!-- /page header -->

			    <?php if (isset($this->crudMessage)) : ?>
					<div class="alert alert-success">
	                	<button data-dismiss="alert" class="close" type="button">×</button>
	                    <strong>Operação realizada com sucesso!</strong>
		    			<span><br /><?php echo $this->crudMessage ?></span>
	                </div>			    
			    <?php endif; ?>

				<form id="form" name="form" action="" method="post" class="form-horizontal" enctype="multipart/form-data"> 
					<input type="hidden" value="<?php echo (isset($this->post_var)) ? $this->post_var["id"] : ''; ?>" name="id" id="id" />
					
					<fieldset>
						<!-- General form elements -->
						<div class="widget row-fluid">
						    <div class="navbar">
						        <div class="navbar-inner">
						            <h6>Digite as informações do formulário</h6>
						        </div>
						    </div>

						    <div class="well">
								<?php if (isset($this->erros)) : ?>
									<div class="alert alert-error margin">
				                        <button data-dismiss="alert" class="close" type="button">×</button>
				                        <strong>Há erros no formulário!</strong>
					    				<?php foreach ($this->erros as $k=>$v) : ?>
					    					<span><br />- <?php echo $v ?></span>
					    				<?php endforeach;?>			                        
				                    </div>
			                    <?php endif; ?>	

                                  
				<div class="control-group">
					<label class="control-label">Ocorrência <span class="required">*</span></label>
					<div class="controls"><input maxlength="500" placeholder="Ocorrencia" name="ocorrencia" value="<?php echo (isset($this->post_var['ocorrencia'])) ? $this->post_var['ocorrencia'] : '' ?>" type="text"  class="span3" /></div>
				</div>


				<div class="control-group">
					<label class="control-label">Descrição <span class="required">*</span></label>
					<div class="controls"><textarea class="span12" name="descricao" cols="5" rows="5"><?php echo (isset($this->post_var)) ? $this->post_var["descricao"] : ''; ?></textarea></div>
				</div>

				<div class="control-group">
					<label for="inputEmail3" class="col-sm-2 control-label">Prolonga-se por mais de um dia</label>
					<div class="col-sm-10">
						<label class="switch">
							<input type="checkbox" name="periodo" id="periodo">
							<span class="slider round"></span>
						</label>
					</div>
				</div>

				<div class="control-group">
					<label for="inputEmail3" class="col-sm-2 control-label">Permite Divergencia de horários</label>
					<div class="col-sm-10">
						<label class="switch">
							<input type="checkbox" name="divergencia" id="divergencia" >
							<span class="slider round"></span>
						</label>
					</div>
				</div>    

				<div class="control-group" id='extra-group' style='display: none'>
					<label for="inputEmail3" class="col-sm-2 control-label">Permite Horas Extras</label>
					<div class="col-sm-10">
						<label class="switch">
							<input type="checkbox" name="extra" id="extra">
							<span class="slider round"></span>
						</label>
					</div>
				</div>    

				<div class="control-group" id='atraso-group' style='display: none'>
					<label for="inputEmail3" class="col-sm-2 control-label">Permite Atrasos </label>
					<div class="col-sm-10">
						<label class="switch">
							<input type="checkbox" name="atraso" id="atraso" >
							<span class="slider round"></span>
						</label>
					</div>
				</div>           

				<div class="control-group">
					<label class="control-label">Status <span class="required">*</span></label>
					<div class="controls">
						<select name="status1" data-placeholder="Status" class="select">
							<option value="">Selecione...</option>
							<option value="Ativo">Ativo</option><option value="Bloqueado">Bloqueado</option>
						</select>
						
					</div>
				</div>   

				<div class="form-actions align-right">
					<?php if ((isset($this->visualizar)) && ($this->visualizar)) : ?>
						<button onclick="window.history.back()" class="btn btn-danger cancelar" type="button">Voltar</button>
					<?php else : ?>
						<button class="btn btn-primary enviar" type="submit">Salvar</button>
						<button onclick="window.history.back()" class="btn btn-danger cancelar" type="button">Cancelar</button>
					<?php endif; ?>
				</div>
						
						<!-- /general form elements -->

					</fieldset> 

				</form>
				<!-- /basic inputs -->

		    </div>
		    <!-- /content wrapper -->

		</div>
		<!-- content -->
				

<style type="text/css">
#ltecalendar {
    max-width: 900px;
    margin: 0 auto;
}

.switch {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 17px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 13px;
  width: 13px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(13px);
  -ms-transform: translateX(13px);
  transform: translateX(13px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 17px;
}

.slider.round:before {
  border-radius: 50%;
}
</style>



<script type="text/javascript" src="<?php echo $this->baseUrl('/public/scripts/admin/pontoocorrencias_form.js') ?>"></script>
<script type="text/javascript">
	var form_values = {};
	
	<?php if (isset($this->post_var)) :  ?>
		form_values.iddepartamento = '<?php echo (isset($this->post_var['iddepartamento'])) ? $this->post_var['iddepartamento'] : '' ?>';

form_values.idperiodo = '<?php echo (isset($this->post_var['idperiodo'])) ? $this->post_var['idperiodo'] : '' ?>';


form_values.status1 = '<?php echo (isset($this->post_var['status1'])) ? $this->post_var['status1'] : $this->post_var['status'] ?>';


	<?php endif; ?>
	<?php if ((isset($this->post_var['idsfuncionarios'])) && ($this->post_var['idsfuncionarios']!="")) :  ?>
	form_values.idsfuncionarios = [<?php echo $this->post_var['idsfuncionarios'] ?>];
	<?php endif; ?>
	visualizar = <?php echo  ((isset($this->visualizar)) && ($this->visualizar))  ? 'true' : 'false' ?>;
</script>
