		<!-- Content -->
		<div id="content">

		    <!-- Content wrapper -->
		    <div class="wrapper">

			    <!-- Breadcrumbs line -->
			    <div class="crumbs">
			    	<?php echo $this->render('/helpers/breadcrumb.phtml') ?>
			    </div>
			    <!-- /breadcrumbs line -->

			    <!-- Page header -->
			    <div class="page-header">
			    	<div class="page-title">
				    	<h5>Formulário do locação</h5>
				    	<span>Verifique os campos e preencha com os dados</span>
			    	</div>
			    </div>
			    <!-- /page header -->

			    <?php if (isset($this->crudMessage)) : ?>
					<div class="alert alert-success">
	                	<button data-dismiss="alert" class="close" type="button">×</button>
	                    <strong>Operação realizada com sucesso!</strong>
		    			<span><br /><?php echo $this->crudMessage ?></span>
	                </div>			    
			    <?php endif; ?>

				<form id="form" name="form" action="" method="post" class="form-horizontal" enctype="multipart/form-data"> 
					<input type="hidden" value="<?php echo (isset($this->post_var)) ? $this->post_var["id"] : ''; ?>" name="id" id="id" />
					
					<fieldset>
						<!-- General form elements -->
						<div class="widget row-fluid">
						    <div class="navbar">
						        <div class="navbar-inner">
						            <h6>Digite as informações do formulário</h6>
						        </div>
						    </div>

						    <div class="well">
								<?php if (isset($this->erros)) : ?>
									<div class="alert alert-error margin">
				                        <button data-dismiss="alert" class="close" type="button">×</button>
				                        <strong>Há erros no formulário!</strong>
					    				<?php foreach ($this->erros as $k=>$v) : ?>
					    					<span><br />- <?php echo $v ?></span>
					    				<?php endforeach;?>			                        
				                    </div>
			                    <?php endif; ?>						    
						    

				<div class="control-group">
					<label class="control-label">Unidade <span class="required">*</span></label>
					<div class="controls">
		                <select name="idunidade" data-placeholder="Unidade" class="select">
							<option value="">Selecione...</option>
							<?php foreach (Locacoesunidades::getLocacoesunidadesHelper(array('status'=>'Ativo')) as $k=>$v) : ?>
							<option value="<?php echo $v['id'] ?>"><?php echo $v['unidade'] ?></option>
							<?php endforeach;?>
						</select>
						
					</div>
				</div>


				<div class="control-group">
					<label class="control-label">Data Início</label>
					<div class="controls"><input placeholder="Data Início" name="datainicio" value="<?php echo (isset($this->post_var['datainicio'])) ? Mn_Util::formPostVarData($this->post_var['datainicio']) : '' ?>" type="text"  class="span3" /></div>
				</div>


				<div class="control-group">
					<label class="control-label">Data Fim</label>
					<div class="controls"><input placeholder="Data Fim" name="datafim" value="<?php echo (isset($this->post_var['datafim'])) ? Mn_Util::formPostVarData($this->post_var['datafim']) : '' ?>" type="text"  class="span3" /></div>
				</div>

				<div class="control-group">
					<label class="control-label">Valor Mensal </label>
					<div class="controls"><input  placeholder="Valor Mensal" name="valormensal" value="<?php echo (isset($this->post_var['valormensal'])) ? $this->post_var['valormensal'] : '' ?>" type="text"  class="span3" /></div>
				</div>

				<div class="control-group">
					<label class="control-label">SI/Ano </label>
					<div class="controls"><input maxlength="50" placeholder="SI/Ano" name="siano" value="<?php echo (isset($this->post_var['siano'])) ? $this->post_var['siano'] : '' ?>" type="text"  class="span3" /></div>
				</div>


				<div class="control-group">
					<label class="control-label">PROC/Ano </label>
					<div class="controls"><input maxlength="50" placeholder="PROC/Ano" name="procano" value="<?php echo (isset($this->post_var['procano'])) ? $this->post_var['procano'] : '' ?>" type="text"  class="span3" /></div>
				</div>


				<div class="control-group">
					<label class="control-label">Recursos <span class="required">*</span></label>
					<div class="controls">
						<select name="recursos" data-placeholder="Recursos" class="select">
							<option value="">Selecione...</option>
							<option value="FUNDEB">FUNDEB</option><option value="Próprios">Próprios</option>
						</select>
						
					</div>
				</div>


				<div class="control-group">
					<label class="control-label">Informações Adicionais </label>
					<div class="controls"><textarea class="span12" name="informacoesadicionais" cols="5" rows="5"><?php echo (isset($this->post_var)) ? $this->post_var["informacoesadicionais"] : ''; ?></textarea></div>
				</div>

				<div class="control-group">
					<label class="control-label">Imagem do Imóvel </label>
					<div class="controls">
						<?php if ((isset($this->post_var['idimagemimovel'])) && ((int)$this->post_var['idimagemimovel']>0)) : ?>
							<?php echo $this->getImagem($this->post_var['idimagemimovel'], 80, 80, '', Imagens::$INDISPONIVEL) ?>
					
							<?php if (!$this->visualizar) : ?>
								<div class="checkbox block">
									<label><input type="checkbox" name="excluir_idimagemimovel" value="excluir_idimagemimovel" /> Desejo excluir a imagem</label>
								</div>
							<?php endif; ?>
						<?php endif; ?>						            
					
						<input placeholder="Foto" name="idimagemimovel" type="file"  />
					</div>
				</div>

				<div class="control-group">
					<label class="control-label">Imagem dos Laudos </label>
					<div class="controls">
						<?php if ((isset($this->post_var['idimagemlaudos'])) && ((int)$this->post_var['idimagemlaudos']>0)) : ?>
							<?php echo $this->getImagem($this->post_var['idimagemlaudos'], 80, 80, '', Imagens::$INDISPONIVEL) ?>
					
							<?php if (!$this->visualizar) : ?>
								<div class="checkbox block">
									<label><input type="checkbox" name="excluir_idimagemlaudos" value="excluir_idimagemlaudos" /> Desejo excluir a imagem</label>
								</div>
							<?php endif; ?>
						<?php endif; ?>						            
					
						<input placeholder="Foto" name="idimagemlaudos" type="file"  />
					</div>
				</div>

				<div class="control-group">
					<label class="control-label">Status <span class="required">*</span></label>
					<div class="controls">
						<select name="status1" data-placeholder="Status" class="select">
							<option value="">Selecione...</option>
							<option value="Ativo">Ativo</option><option value="Bloqueado">Bloqueado</option>
						</select>
						
					</div>
				</div>

						    


				<div class="control-group">
					<label class="control-label">Solicitar devolução</label>
					<div class="controls"><input placeholder="Data da solicitação" name="datasolicitacao" value="<?php echo (isset($this->post_var['datasolicitacao'])) ? Mn_Util::formPostVarData($this->post_var['datasolicitacao']) : '' ?>" type="text"  class="span3" /></div>
				</div>



						    </div>
						    
			                <div class="form-actions align-right">
			                	<?php if ((isset($this->visualizar)) && ($this->visualizar)) : ?>
			                		<button onclick="window.history.back()" class="btn btn-danger cancelar" type="button">Voltar</button>
			                	<?php else : ?>
				                	<button class="btn btn-primary enviar" type="submit">Salvar</button>
				                	<button onclick="window.history.back()" class="btn btn-danger cancelar" type="button">Cancelar</button>
			                	<?php endif; ?>
			                </div>
						</div>
						<!-- /general form elements -->

					</fieldset> 

				</form>
				<!-- /basic inputs -->

		    </div>
		    <!-- /content wrapper -->

		</div>
		<!-- content -->
				
<script type="text/javascript" src="<?php echo $this->baseUrl('/public/scripts/admin/locacoes_form.js') ?>"></script>
<script type="text/javascript">
	var form_values = {};
	
	<?php if (isset($this->post_var)) :  ?>
		form_values.idunidade = '<?php echo (isset($this->post_var['idunidade'])) ? $this->post_var['idunidade'] : '' ?>';

form_values.recursos = '<?php echo (isset($this->post_var['recursos'])) ? $this->post_var['recursos'] : '' ?>';

form_values.status1 = '<?php echo (isset($this->post_var['status1'])) ? $this->post_var['status1'] : $this->post_var['status'] ?>';


	<?php endif; ?>

	visualizar = <?php echo  ((isset($this->visualizar)) && ($this->visualizar))  ? 'true' : 'false' ?>;
</script>
