		<!-- Content -->
		<div id="content">

		    <!-- Content wrapper -->
		    <div class="wrapper">

			    <!-- Breadcrumbs line -->
			    <div class="crumbs">
			    	<?php echo $this->render('/helpers/breadcrumb.phtml') ?>
			    </div>
			    <!-- /breadcrumbs line -->

			    <!-- Page header -->
			    <div class="page-header">
			    	<div class="page-title">
				    	<h5>Alunos selecionados para sua escola</h5>
				    	<span>Visualize os novos alunos do sistema</span>
			    	</div>
			    	
			    </div>
			    <!-- /page header -->
			    
			    <?php if (isset($this->crudMessage)) : ?>
				<div class="alert alert-success">
                	<button data-dismiss="alert" class="close" type="button">×</button>
                    <strong>Operação realizada com sucesso!</strong>
	    			<span><br /><?php echo $this->crudMessage ?></span>
                </div>			    
			    <?php endif; ?>




	                        	                        
                <!-- Table with footer -->
                <div class="widget">
                	<form action="#" class="form-horizontal" method="post">
                		<input type="hidden" value="<?php echo (isset($this->post_var['sorting'])) ? $this->post_var['sorting'] : '' ?>" name="sorting" />
	                	<div class="navbar">
	                		<div class="navbar-inner">
	                			<h6>Visualizando registros</h6>
								<a style="float:right; cursor: pointer"  class="btn btn-primary" onclick='boxpesquisashow()'><span class="icon-search" ></span> &nbsp; Filtro</a>
	                		</div>
	                	</div>
						<!-- <div>
							 <?php  print_r($this->querie) ?> 
						</div> -->

						<div id='box-pesquisa'  style='display: none'>
							<div >
								<table class='table'>
									<tbody>
										<tr>
											<td>
												<label>Nome : </label>
												<div>
													<select name='nome' class='select'>
														<option value=''>Todos</option>
														<?php foreach($this->rows as $index) : ?>
															<option value='<?php echo $index['aluno'] ?>'><?php echo $index['aluno'] ?></option>
														<?php endforeach; ?>
													</select>
												</div>
											</td>
											<td>
												<label> Sexo : </label>
												<div>
													<select name='sexo' class='select'>
														<option value=''>Todos</option>
														<option value=''>Feminino</option>
														<option value=''>Masculino</option>
													</select>
												</div>
											</td>
											<td>
												<label> Nascimento de : </label>
												<div>
													<input name="datanascimento_i" value="<?php echo (isset($this->post_var['datanascimento_i'])) ? Mn_Util::formPostVarData($this->post_var['datanascimento_i']) : '' ?>" type="text" placeholder="Nascimento inicial" class="span3"> à 
													<input name="datanascimento_i" value="<?php echo (isset($this->post_var['datanascimento_i'])) ? Mn_Util::formPostVarData($this->post_var['datanascimento_i']) : '' ?>" type="text" placeholder="Nascimento inicial" class="span3">
												</div>
											</td>
											<td rowspan='2'>
												<a style="float:right; cursor: pointer"  class="btn btn-primary" onclick='boxpesquisashow()'><span class="icon-search" ></span> &nbsp; Pesquisar</a>
											</td>
										</tr>

										<tr>
											<td>
												
												<div>
													<label>Ensino : </label>
													<select name='ensino' class='select'>
														<option>Opção um</option>
														<option>Opção dois</option>
														<option>Opção três</option>
													</select>
												</div>
											</td>

											<td>
												<label>Distância : </label>
												<div>
													<select class='select'>
														<option>Todas as Distâncias</option>
														<option>Menor ou igual a 2Km</option>
														<option>Maior que 2km</option>
													</select>
												</div>
											</td>

											<td>
												<label> Data de Criação de : </label>
												<div>
													<input name="datanascimento_i" value="<?php echo (isset($this->post_var['datanascimento_i'])) ? Mn_Util::formPostVarData($this->post_var['datanascimento_i']) : '' ?>" type="text" placeholder="Nascimento inicial" class="span3"> à 
													<input name="datanascimento_i" value="<?php echo (isset($this->post_var['datanascimento_i'])) ? Mn_Util::formPostVarData($this->post_var['datanascimento_i']) : '' ?>" type="text" placeholder="Nascimento inicial" class="span3">
												</div>
											</td>
										</tr>

									</tbody>
								</table>
							</div>
						</div>
						
						<div class="table-overflow">
	                        <table class="table table-content table-hover table-responsive">
	                            <thead>
	                                <tr>
	                                    <th width="20">#</th>
                                                <th class="s-aluno sorting">Nome do aluno</th>
                                                <th class="s-datanascimento sorting">Nascimento</th>
                                                <th class="s-sexo sorting">Sexo</th>
												<th class="s-sexo sorting"><small>Data de Criação</small></th>
                                                <th class="s-etapa_ensino sorting">Ensino</th>
                                                <th class="s-matricula sorting">Status</th>
												<th class="s-matricula sorting">Distância</th>
                                                <th style="width:100px"></th> 
	                                    		<th style="width:100px" >Ações</th>
	                                </tr>
	                                <!-- <tr>
	                                    <th></th>
										<th></th>
										<th></th>
										<th></th>
										<th></th>
										<th></th>
										<th></th>
										<th></th>
										<th></th>
										<th><button class="btn btn-primary btn-block" type="submit">Pesquisar</button></th>
	                                </tr>  --> 
	                                                                
	                            </thead>
	                            <tbody>
	                            	<?php if (sizeof($this->rows)==0) : ?>
	                                <tr>
	                                    <td colspan="6">Nenhum registro foi encontrado!</td>
	                                </tr>
	                            	
	                            	<?php else : ?>
	                            	<?php foreach ($this->rows as $row) : ?>
									<?php if($row['matricula'] == "Fila") :   ?>

									<?php

										if($row['status'] == "Retirado"):
											echo "<tr id='" . $row['id'] . "' class='alert alert-warning'>";
										else: 

											if($row['status_matricula'] == "matriculado"):
												echo "<tr class='success' id='" . $row['id'] . "' style='color: #00b300 '>";
											else:
												echo "<tr id='" . $row['id'] . "'>";
											endif;

											
										endif;

									?>
	                                <!-- <tr id="<?php echo $row['id'] ?>"> -->
	                                	<td><?php echo $row['id'] ?></td>

										<td><?php echo $row['aluno'] ?></td>
										<td><?php echo date('d/m/Y', strtotime($row['datanascimento']))?></td>
										<td><?php echo $row['sexo'] ?></td>
										<td><?php

										   $data =  date("Y-m-d H:i:s", strtotime($row['logdata']));
										   $date_log = new DateTime($data);

											echo $date_log->format('H:i:s d/m/Y');
										
										?></td>
										<td><?php echo (isset($row['nome_tipo_ensino'])) ? $row['nome_tipo_ensino'] : "------" ?></td>
										<td><?php echo $row['matricula'] ?></td>

										<?php if((int)$row['distancia'] <= 2000):  ?>
										   <td><span class="badge badge-success" style="cursor: pointer" onclick="modalgoogledistance(<?php echo $row['id'] ?>,'<?php echo $row['aluno'] ?>','<?php echo $row['latitude'] ?>','<?php echo $row['longitude'] ?>')"><?php echo $row['distancia'] . " Metros" ?></span></td>
										<?php else:  ?>
										   <td><span class="badge badge-primary" style="cursor: pointer" onclick="modalgoogledistance(<?php echo $row['id'] ?>,'<?php echo $row['aluno'] ?>','<?php echo $row['latitude'] ?>','<?php echo $row['longitude'] ?>')"><?php echo $row['distancia'] . " Metros" ?></span></td>
										<?php endif;  ?>

										<td>
		                					<a onclick="javascript:statusChange(<?php echo $row["id"]?>, this);" href="javascript:;"><?php echo $row['status'] ?></a>
		                				</td>
	                                    <td>
	                                        <ul class="table-controls">
												<?php if (Mn_Util::isAccess($this->getController(), 'editar')) : ?>

													<?php if($row['status_matricula'] == "matriculado"): ?>
													<a title="" class="btn tip">Matriculado</a>
													<?php else: ?>
														<li><a title="" class="btn tip" href="<?php echo $this->baseUrl() ?>/<?php echo 'admin' ?>/<?php echo $this->getController() ?>/editar/id/<?php echo $row['id'] ?>" data-original-title="Editar"><i class="icon-pencil"></i> &nbsp; Editar </a> </li>
													<?php endif; ?>
	                                            
												
	                                            <?php endif;?>

	                                            <!-- <li><a title="" class="btn tip" href="<?php echo $this->baseUrl() ?>/<?php echo 'admin' ?>/<?php echo $this->getController() ?>/visualizar/id/<?php echo $row['id'] ?>" data-original-title="Visualizar"><i class="icon-eye-open"></i></a> </li>
	                                            <?php if (Mn_Util::isAccess($this->getController(), 'editar')) : ?>
	                                            <li><a title="" class="btn tip" href="<?php echo $this->baseUrl() ?>/<?php echo 'admin' ?>/<?php echo $this->getController() ?>/editar/id/<?php echo $row['id'] ?>" data-original-title="Editar"><i class="icon-pencil"></i></a> </li>
	                                            <?php endif;?>
	                                            <?php if (Mn_Util::isAccess($this->getController(), 'excluir')) : ?>
	                                            <li><a title="" class="btn tip" href="javascript:confirmDelete('<?php echo $row['id']; ?>','registro');" data-original-title="Excluir"><i class="icon-remove"></i></a> </li>
	                                            <?php endif; ?> -->
	                                        </ul>
	                                    </td>
										
	                                </tr>
	                            	<?php endif; ?>
									
	                            	<?php endforeach;?>
	                            	
	                            	<?php endif; ?>
	
									
	                            </tbody>
	                        </table>
	                    </div>
	                    <?php echo $this->render('/helpers/paginator.phtml') ?>
                    </form>
                </div>
                <!-- /table with footer -->
		    </div>
		    <!-- /content wrapper -->

		</div>
		<!-- content -->

		<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel"></h5></h5>
				</button>
			</div>
			<div class="modal-body">
				<div id='map' style="width:100%; height: 380px"></div>
				<script  defer                      
					src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAlHzImDCagrOppCrUjRU2FT__KHKsUYhs&callback=initMap">
				</script>     
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
			</div>
		</div>
  </div>
</div>
		
		
<script type="text/javascript" src="<?php echo $this->baseUrl('/public/scripts/admin/filademandaaluno_index.js') ?>"></script>
<script src="https://maps.google.com/maps/api/js?sensor=false&key=AIzaSyAlHzImDCagrOppCrUjRU2FT__KHKsUYhs"></script> 
<script type="text/javascript">

function boxpesquisashow(){
	$("#box-pesquisa").animate({
		height: 'toggle'
	});
}//end boxpesquisashow


function enviaFormParcial(id){
	
	window.location.assign(baseUrl + '/admin/filadedemanda/matricular/aluno/' + id);

}//end function enviarFormParcial



	var form_values = {};
	<?php if (isset($this->post_var)) :  ?>
form_values.idcentralvaga = '<?php echo (isset($this->post_var['idcentralvaga'])) ? $this->post_var['idcentralvaga'] : '' ?>';

form_values.sexo = '<?php echo (isset($this->post_var['sexo'])) ? $this->post_var['sexo'] : '' ?>';

form_values.filiacao1 = '<?php echo (isset($this->post_var['filiacao1'])) ? $this->post_var['filiacao1'] : '' ?>';

form_values.filiacao2 = '<?php echo (isset($this->post_var['filiacao2'])) ? $this->post_var['filiacao2'] : '' ?>';

form_values.temnomesocial = '<?php echo (isset($this->post_var['temnomesocial'])) ? $this->post_var['temnomesocial'] : '' ?>';

form_values.status1 = '<?php echo (isset($this->post_var['status1'])) ? $this->post_var['status1'] : $this->post_var['status'] ?>';

form_values.aluno = '<?php echo (isset($this->querie['aluno'])) ? $this->querie['aluno'] :  $this->querie['aluno'] ?>';

form_values.ordenacao = '<?php echo (isset($this->querie['distancia_tipo'])) ? $this->querie['distancia_tipo'] :  $this->querie['distancia_tipo'] ?>';
	


	<?php endif; ?>

	var sorting = ["idcentralvaga", "aluno", "datanascimento", "sexo", "filiacao1", "nomefiliacao1", "filiacao2", "nomefiliacao2", "painaodeclarado", "temnomesocial", "nomesocial", "status"];
	
</script>	


