<!-- Sidebar -->
<div id="sidebar">

    <div class="sidebar-tabs">
        <ul class="tabs-nav two-items">
            <li><a href="#general" title=""><i class="icon-reorder"></i></a></li>
        </ul>

        <div id="general">

            <!-- Main navigation -->
            <ul class="navigation widget">
                <li class="index"><a href="<?php echo $this->baseUrl() ?>/" title=""><i class="icon-home"></i>Dashboard</a></li>

                <li class="escolasusuariosperfis escolasusuarios escolasusuariosemails usuario"><a href="#" title="" class="expand"><i class="icon-user"></i>Usuários</a>
                    <ul>
                        <?php if (Mn_Util::isDefaultAccess('escolasusuarios', 'visualizar')) : ?>
                            <li class="usuario"><a href="<?php echo $this->baseUrl() ?>/usuario" title="">Seu Usuário</a></li>
                        <?php endif; ?>
                        <?php if (Mn_Util::isDefaultAccess('escolasusuariosperfis', 'visualizar')) : ?>
                            <li class="escolasusuariosperfis"><a href="<?php echo $this->baseUrl() ?>/escolasusuariosperfis" title="">Perfis de acesso</a></li>
                        <?php endif; ?>
                        <?php if (Mn_Util::isDefaultAccess('escolasusuarios', 'visualizar')) : ?>
                            <li class="escolasusuarios"><a href="<?php echo $this->baseUrl() ?>/escolasusuarios" title="">Usuários</a></li>
                        <?php endif; ?>
                        <?php if (Mn_Util::isDefaultAccess('escolasusuariosemails', 'visualizar')) : ?>
                            <li class="escolasusuariosemails"><a href="<?php echo $this->baseUrl() ?>/escolasusuariosemails" title="">Controle de e-mails do professor</a></li>
                        <?php endif; ?>
                    </ul>
                </li>

                <li class="documentacaojornadas"><a href="#" title="" class="expand"><i class="ico-list-alt"></i>Documentação</a>
                    <ul>
                        <?php if (Mn_Util::isDefaultAccess('documentacaojornadas', 'visualizar')) : ?>
                            <li class="documentacaojornadas"><a href="<?php echo $this->baseUrl() ?>/documentacaojornadas" title="">Ampliação de Jornada</a></li>
                        <?php endif; ?>
                    </ul>
                </li>

                <li class="supervisoes"><a href="#" title="" class="expand"><i class="icon-retweet"></i>Supervisão</a>
                    <ul>
                        <?php if (Mn_Util::isDefaultAccess('supervisoes', 'visualizar')) : ?>
                            <li class="supervisoes"><a href="<?php echo $this->baseUrl() ?>/supervisoes" title="">Críticas</a></li>
                        <?php endif; ?>


                    </ul>
                </li>

                <li class="tipocontas contas convenios escolasapms escolasapmsgrupos controlesdespesas lancamentosreceitas lancamentosdespesas convenios financeirotipos financeirolancamentosreceitas"><a href="#" title="" class="expand"><i class="icon-money"></i>Financeiro</a>
                    <ul>
                        <?php if ((Mn_Util::isDefaultAccess('controlesdespesas', 'visualizar'))) : ?>
                            <li class="controlesdespesas"><a href="<?php echo $this->baseUrl() ?>/controlesdespesas" title="">Controle de Despesas</a></li>
                        <?php endif; ?>
                        <?php
                        if (
                                (Mn_Util::isDefaultAccess('financeirolancamentosreceitas', 'visualizar')) ||
                                (Mn_Util::isDefaultAccess('lancamentosdespesas', 'visualizar'))
                        ):
                            ?>
                            <li class=""><a href="#" title="" class="expand"></i>Lançamentos Financeiros</a>
                                <ul>
                                    <?php if (Mn_Util::isDefaultAccess('financeirolancamentosreceitas', 'visualizar')) : ?>
                                        <li class="financeirolancamentosreceitas"><a href="<?php echo $this->baseUrl() ?>/financeirolancamentosreceitas" title="">Lançamentos Receitas</a></li>
                                    <?php endif; ?>
                                    <?php if (Mn_Util::isDefaultAccess('lancamentosdespesas', 'visualizar')) : ?>
                                        <li class="lancamentosdespesas"><a href="<?php echo $this->baseUrl() ?>/lancamentosdespesas" title="">Lançamentos Despesas</a></li>
                                    <?php endif; ?>
                                </ul>
                            </li>
                        <?php endif; ?>
                    </ul>
                </li>

                <li class="nutricoesimcs nutricaocardapios nutricaomerendas nutricaoagendavisitas nutricaomerendasconsumos nutricaoatas"><a href="#" title="" class="expand"><i class="icon-glass"></i>Nutrição</a>
                    <ul>
                        <?php if ((Mn_Util::isDefaultAccess('nutricoesimcs', 'visualizar'))) : ?>
                            <li class="nutricoesimcs"><a href="<?php echo $this->baseUrl() ?>/nutricoesimcs" title="">Cálculo de IMC</a></li>
                        <?php endif; ?>

                        <?php if ((Mn_Util::isDefaultAccess('nutricaocardapios', 'visualizar'))) : ?>
                            <li class="nutricaocardapios"><a href="<?php echo $this->baseUrl() ?>/nutricaocardapios" title="">Cardápios</a></li>
                        <?php endif; ?>

                        <?php if ((Mn_Util::isDefaultAccess('nutricaomerendas', 'visualizar'))) : ?>
                            <li class="nutricaomerendas"><a href="<?php echo $this->baseUrl() ?>/nutricaomerendas" title="">Merendas</a></li>
                        <?php endif; ?>

                        <?php if ((Mn_Util::isDefaultAccess('nutricaoagendavisitas', 'visualizar'))) : ?>
                            <li class="nutricaoagendavisitas"><a href="<?php echo $this->baseUrl() ?>/nutricaoagendavisitas" title="">Visitas Agendadas</a></li>
                        <?php endif; ?>

                        <?php if ((Mn_Util::isDefaultAccess('nutricaomerendasconsumos', 'visualizar'))) : ?>
                            <li class="nutricaomerendasconsumos"><a href="<?php echo $this->baseUrl() ?>/nutricaomerendasconsumos" title="">Controle de Consumos</a></li>
                        <?php endif; ?>

                        <?php if ((Mn_Util::isDefaultAccess('nutricaoatas', 'visualizar'))) : ?>
                            <li class="nutricaoatas"><a href="<?php echo $this->baseUrl() ?>/nutricaoatas" title="">Atas</a></li>
                        <?php endif; ?>
                    </ul>
                </li>


                <li class="escolasalunos controlealunosmaterias controleprofessoresmaterias escolassalas escolasseries escolasturmas escolasperiodos escolasvinculos escolassalasalunos escolasvinculosprofessores quadrohorariosperiodos professoresescolas escolasvinculosprofessores secretariasdeclaracoes secretariasdesistencias"><a href="#" title="" class="expand"><i class="icon-tag"></i>Secretaria</a>
                    <ul>
                        <?php if (Mn_Util::isDefaultAccess('escolasalunos', 'visualizar')) : ?>
                            <li class="escolasalunos"><a href="<?php echo $this->baseUrl() ?>/escolasalunos" title="">Alunos</a></li>
                        <?php endif; ?>


                        <?php if (Mn_Util::isDefaultAccess('escolassalas', 'visualizar')) : ?>
                            <li class="escolassalas"><a href="<?php echo $this->baseUrl() ?>/escolassalas" title="">Salas</a></li>
                        <?php endif; ?>

                        <?php if (Mn_Util::isDefaultAccess('escolasseries', 'visualizar')) : ?>
                            <li class="escolasseries"><a href="<?php echo $this->baseUrl() ?>/escolasseries" title="">Séries</a></li>
                        <?php endif; ?>

                        <?php if (Mn_Util::isDefaultAccess('escolasturmas', 'visualizar')) : ?>
                            <li class="escolasturmas"><a href="<?php echo $this->baseUrl() ?>/escolasturmas" title="">Turmas</a></li>
                        <?php endif; ?>

                        <?php if (Mn_Util::isDefaultAccess('escolasperiodos', 'visualizar')) : ?>
                            <li class="escolasperiodos"><a href="<?php echo $this->baseUrl() ?>/escolasperiodos" title="">Períodos</a></li>
                        <?php endif; ?>

                        <?php if (Mn_Util::isDefaultAccess('professoresescolas', 'visualizar')) : ?>
                            <li class="professoresescolas"><a href="<?php echo $this->baseUrl() ?>/professoresescolas" title="">Professores</a></li>
                        <?php endif; ?>

                        <?php if (Mn_Util::isDefaultAccess('escolasvinculos', 'visualizar')) : ?>
                            <li class="escolasvinculos"><a href="<?php echo $this->baseUrl() ?>/escolasvinculos" title="">Criar salas de aula</a></li>
                        <?php endif; ?>

                        <?php if (Mn_Util::isDefaultAccess('escolassalasalunos', 'visualizar')) : ?>
                            <li class="escolassalasalunos"><a href="<?php echo $this->baseUrl() ?>/escolassalasalunos" title="">Atribuição de alunos nas salas</a></li>
                        <?php endif; ?>

                        <?php if (Mn_Util::isDefaultAccess('escolasvinculosprofessores', 'visualizar')) : ?>
                            <li class="escolasvinculosprofessores"><a href="<?php echo $this->baseUrl() ?>/escolasvinculosprofessores" title="">Atribuir professores a sala de aula</a></li>
                        <?php endif; ?>



                        <?php if (Mn_Util::isDefaultAccess('quadrohorariosperiodos', 'visualizar')) : ?>
                            <li class="quadrohorariosperiodos"><a href="<?php echo $this->baseUrl() ?>/quadrohorariosperiodos" title="">Quadro de Horários Escolar</a></li>
                        <?php endif; ?>

                        <?php /* if (Mn_Util::isDefaultAccess('controleprofessoresmaterias', 'visualizar')) : ?>
                          <li class="controleprofessoresmaterias"><a href="<?php echo $this->baseUrl() ?>/controleprofessoresmaterias" title="">Vínculos de Matérias com Professores</a></li>
                          <?php endif; */ ?>

                        <?php if (Mn_Util::isDefaultAccess('secretariasdeclaracoes', 'visualizar')) : ?>
                            <li class="secretariasdeclaracoes"><a href="<?php echo $this->baseUrl() ?>/secretariasdeclaracoes" title="">Declarações</a></li>
                        <?php endif; ?>


                        <?php if (Mn_Util::isDefaultAccess('secretariasdesistencias', 'visualizar')) : ?>
                            <li class="secretariasdesistencias"><a href="<?php echo $this->baseUrl() ?>/secretariasdesistencias" title="">Desistências</a></li>
                        <?php endif; ?>

                    </ul>
                </li>

                <li class="programacoesaulas escolasalunosfaltas escolasalunosnotas diariosclasses planosaulas"><a href="#" title="" class="expand"><i class="icon-book"></i>Censo Escolar</a>
                    <ul>
                        <?php if (Mn_Util::isDefaultAccess('planosaulas', 'visualizar')) : ?>
                            <li class="planosaulas"><a href="<?php echo $this->baseUrl() ?>/planosaulas" title="">Planos de Aula</a></li>
                        <?php endif; ?>

                        <?php if (Mn_Util::isDefaultAccess('escolasalunosnotas', 'visualizar')) : ?>
                            <li class="escolasalunosnotas"><a href="<?php echo $this->baseUrl() ?>/escolasalunosnotas" title="">Lançar notas</a></li>
                        <?php endif; ?>

                        <?php if (Mn_Util::isDefaultAccess('escolasalunosfaltas', 'visualizar')) : ?>
                            <li class="escolasalunosfaltas"><a href="<?php echo $this->baseUrl() ?>/escolasalunosfaltas" title="">Lançar Frequência</a></li>
                        <?php endif; ?>

                        <?php if (Mn_Util::isDefaultAccess('diariosclasses', 'visualizar')) : ?>
                            <li class="diariosclasses"><a href="<?php echo $this->baseUrl() ?>/diariosclasses" title="">Diários de classes</a></li>
                        <?php endif; ?>
                    </ul>
                </li>

                <li class="eventosescolas"><a href="#" title="" class="expand"><i class="icon-key"></i>Eventos</a>
                    <ul>
                        <?php if (Mn_Util::isDefaultAccess('eventosescolas', 'visualizar')) : ?>
                            <li class="eventosescolas"><a href="<?php echo $this->baseUrl() ?>/eventosescolas" title="">Eventos</a></li>
                        <?php endif; ?>


                    </ul>
                </li>

                <li class="patrimoniosatas doacoes"><a href="#" title="" class="expand"><i class="icon-flag"></i>Patrimônios</a>
                    <ul>
                        <?php if (Mn_Util::isDefaultAccess('patrimoniosatas', 'visualizar')) : ?>
                            <li class="patrimoniosatas"><a href="<?php echo $this->baseUrl() ?>/patrimoniosatas" title="">Atas</a></li>
                        <?php endif; ?>


                        <?php if (Mn_Util::isDefaultAccess('doacoes', 'visualizar')) : ?>
                            <li class="doacoes"><a href="<?php echo $this->baseUrl() ?>/doacoes" title="">Doações</a></li>
                        <?php endif; ?>


                    </ul>
                </li>


                <li class="almoxarifadoescolassaidas"><a href="#" title="" class="expand"><i class="icon-shopping-cart"></i>Almoxarifado</a>
                    <ul>
                        <?php if (Mn_Util::isDefaultAccess('almoxarifadoescolassaidas', 'visualizar')) : ?>
                            <li class="almoxarifadoescolassaidas"><a href="<?php echo $this->baseUrl() ?>/almoxarifadoescolassaidas" title="">Saídas</a></li>
                        <?php endif; ?>
                    </ul>
                </li>

                <li class="protocolos"><a href="#" title="" class="expand"><i class="icon-sitemap"></i>Protocolos</a>
                    <ul>
                        <?php if ((Mn_Util::isDefaultAccess('protocolos', 'visualizar'))) : ?>
                            <li class="protocolos"><a href="<?php echo $this->baseUrl() ?>/protocolos" title="">Protocolos</a></li>
                        <?php endif; ?>
                    </ul>
                </li>

                <li class="atividadescomplementares coordenacaomaterialdidaticos treinamentos coordenacaocontroles coordenacaoatas coordenacaomateriais registrossaidas resumos"><a href="#" title="" class="expand"><i class="icon-tags"></i>Coordenação</a>
                    <ul>
                        <?php if (Mn_Util::isDefaultAccess('atividadescomplementares', 'visualizar')) : ?>
                            <li class="atividadescomplementares"><a href="<?php echo $this->baseUrl() ?>/atividadescomplementares" title="">Atividade complementar</a></li>
                        <?php endif; ?>



                        <?php if (Mn_Util::isDefaultAccess('coordenacaomaterialdidaticos', 'visualizar')) : ?>
                            <li class="coordenacaomaterialdidaticos"><a href="<?php echo $this->baseUrl() ?>/coordenacaomaterialdidaticos" title="">Material didático</a></li>
                        <?php endif; ?>



                        <?php if (Mn_Util::isDefaultAccess('treinamentos', 'visualizar')) : ?>
                            <li class="treinamentos"><a href="<?php echo $this->baseUrl() ?>/treinamentos" title="">Treinamentos</a></li>
                        <?php endif; ?>



                        <?php if (Mn_Util::isDefaultAccess('coordenacaocontroles', 'visualizar')) : ?>
                            <li class="coordenacaocontroles"><a href="<?php echo $this->baseUrl() ?>/coordenacaocontroles" title="">Controle Diário</a></li>
                        <?php endif; ?>


                        <?php if (Mn_Util::isDefaultAccess('coordenacaoatas', 'visualizar')) : ?>
                            <li class="coordenacaoatas"><a href="<?php echo $this->baseUrl() ?>/coordenacaoatas" title="">Atas</a></li>
                        <?php endif; ?>


                        <?php if (Mn_Util::isDefaultAccess('coordenacaomateriais', 'visualizar')) : ?>
                            <li class="coordenacaomateriais"><a href="<?php echo $this->baseUrl() ?>/coordenacaomateriais" title="">Materiais Disponíveis</a></li>
                        <?php endif; ?>


                        <?php if (Mn_Util::isDefaultAccess('mapaacompanhamentoclasses', 'visualizar')) : ?>
                            <li class="mapaacompanhamentoclasses"><a href="<?php echo $this->baseUrl() ?>/mapaacompanhamentoclasses" title="">Mapas de Classe</a></li>
                        <?php endif; ?>

                        <?php if (Mn_Util::isDefaultAccess('registrossaidas', 'visualizar')) : ?>
                            <li class="registrossaidas"><a href="<?php echo $this->baseUrl() ?>/registrossaidas" title="">Registro de Saídas</a></li>
                        <?php endif; ?>

                        <?php if (Mn_Util::isDefaultAccess('resumos', 'visualizar')) : ?>
                            <li class="resumos"><a href="<?php echo $this->baseUrl() ?>/resumos" title="">Resumos</a></li>
                        <?php endif; ?>

                    </ul>
                </li>

                <li class="garagens"><a href="#" title="" class="expand"><i class="icon-truck"></i>Logística</a>
                    <ul>
                        <?php if (Mn_Util::isDefaultAccess('garagens', 'visualizar')) : ?>
                            <li class="garagens"><a href="<?php echo $this->baseUrl() ?>/garagens" title="">Garagens</a></li>
                        <?php endif; ?>


                    </ul>
                </li>

                <li class="rhdeclaracoesaposentadoria rhdeclaracoesacumulos rhdeclaracoesbens rhdeclaracoesparentescos rhdeclaracoesdependentes rhfrequencias"><a href="#" title="" class="expand"><i class="icon-sitemap"></i>RH</a>
                    <ul>

                        <?php if (Mn_Util::isDefaultAccess('rhdeclaracoesaposentadoria', 'visualizar')) : ?>
                            <li class="rhdeclaracoesaposentadoria"><a href="<?php echo $this->baseUrl() ?>/rhdeclaracoesaposentadoria" title="">Declarações de aposentadoria</a></li>
                        <?php endif; ?>
                        <?php if (Mn_Util::isDefaultAccess('rhdeclaracoesacumulos', 'visualizar')) : ?>
                            <li class="rhdeclaracoesacumulos"><a href="<?php echo $this->baseUrl() ?>/rhdeclaracoesacumulos" title="">Declarações de acúmulos ou não </a></li>
                        <?php endif; ?>
                        <?php if (Mn_Util::isDefaultAccess('rhdeclaracoesbens', 'visualizar')) : ?>
                            <li class="rhdeclaracoesbens"><a href="<?php echo $this->baseUrl() ?>/rhdeclaracoesbens" title="">Declarações de Bens</a></li>
                        <?php endif; ?>
                        <?php if (Mn_Util::isDefaultAccess('rhdeclaracoesparentescos', 'visualizar')) : ?>
                            <li class="rhdeclaracoesparentescos"><a href="<?php echo $this->baseUrl() ?>/rhdeclaracoesparentescos" title="">Declarações de relação familiar ou de parentesco</a></li>
                        <?php endif; ?>
                        <?php if (Mn_Util::isDefaultAccess('rhdeclaracoesdependentes', 'visualizar')) : ?>
                            <li class="rhdeclaracoesdependentes"><a href="<?php echo $this->baseUrl() ?>/rhdeclaracoesdependentes" title="">Declarações de dependentes para fins de desconto do IR na fonte</a></li>
                        <?php endif; ?>
                        <?php if (Mn_Util::isDefaultAccess('rhfrequencias', 'visualizar')) : ?>
                            <li class="rhfrequencias"><a href="<?php echo $this->baseUrl() ?>/rhfrequencias" title="">Frequências</a></li>
                            <?php endif; ?>
                    </ul>
                </li>

                <!-- /main navigation -->
        </div>
    </div>
</div>
<!-- /sidebar -->

<script type="text/javascript">
    $('a.expand').closest('li').each(function() {
        li = $(this).find('li');
        if (li.length == 0) {
            $(this).remove();
        }
    });
</script>