		<!-- Content -->
		<div id="content">

		    <!-- Content wrapper -->
		    <div class="wrapper">

			    <!-- Breadcrumbs line -->
			    <div class="crumbs">
			    	<?php echo $this->render('/helpers/breadcrumb.phtml') ?>
			    </div>
			    <!-- /breadcrumbs line -->

			    <!-- Page header -->
			    <div class="page-header">
			    	<div class="page-title">
				    	<h5>Formulário do vínculo</h5>
				    	<span>Verifique os campos e preencha com os dados</span>
			    	</div>
			    </div>
			    <!-- /page header -->

			    <?php if (isset($this->crudMessage)) : ?>
					<div class="alert alert-success">
	                	<button data-dismiss="alert" class="close" type="button">×</button>
	                    <strong>Operação realizada com sucesso!</strong>
		    			<span><br /><?php echo $this->crudMessage ?></span>
	                </div>			    
			    <?php endif; ?>

				<form id="form" name="form" action="" method="post" class="form-horizontal" enctype="multipart/form-data"> 
					<input type="hidden" value="<?php echo (isset($this->post_var)) ? $this->post_var["id"] : ''; ?>" name="id" id="id" />
					
					<fieldset>
						<!-- General form elements -->
						<div class="widget row-fluid">
						    <div class="navbar">
						        <div class="navbar-inner">
						            <h6>Digite as informações do formulário</h6>
						        </div>
						    </div>

						    <div class="well">
								<?php if (isset($this->erros)) : ?>
									<div class="alert alert-error margin">
				                        <button data-dismiss="alert" class="close" type="button">×</button>
				                        <strong>Há erros no formulário!</strong>
					    				<?php foreach ($this->erros as $k=>$v) : ?>
					    					<span><br />- <?php echo $v ?></span>
					    				<?php endforeach;?>			                        
				                    </div>
			                    <?php endif; ?>						    
	

				<div class="control-group">
					<label class="control-label">Escolas <span class="required">*</span></label>
					<div class="controls">
		                <select name="idescola" data-placeholder="Escolas" class="select" onchange="setDados(this, 0)" >
							<option value="">Selecione...</option>
							<?php foreach (Escolas::getEscolasHelper(array('status'=>'Ativo', 'idsecretaria'=>Usuarios::getSecretariaAtiva( Usuarios::getUsuario('id'), 'id' ))) as $k=>$v) : ?>
							<option value="<?php echo $v['id'] ?>"><?php echo $v['escola'] ?></option>
							<?php endforeach;?>
						</select>
						
					</div>
				</div>


				<div class="control-group">
					<label class="control-label">Sala <span class="required">*</span></label>
					<div class="controls">
		                <select name="idsala" data-placeholder="Sala" class="select" >
							<option value="">Selecione...</option>
							<?php /*foreach (Escolassalas::getEscolassalasHelper(array('status'=>'Ativo')) as $k=>$v) : ?>
							<option value="<?php echo $v['id'] ?>"><?php echo $v['sala'] ?></option>
							<?php endforeach;*/ ?>
						</select>
						
					</div>
				</div>


				<div class="control-group">
					<label class="control-label">Série <span class="required">*</span></label>
					<div class="controls">
		                <select name="idserie" data-placeholder="Série" class="select" >
							<option value="">Selecione...</option>
							<?php /*foreach (Escolasseries::getEscolasseriesHelper(array('status'=>'Ativo')) as $k=>$v) : ?>
							<option value="<?php echo $v['id'] ?>"><?php echo $v['serie'] ?></option>
							<?php endforeach;*/ ?>
						</select>
						
					</div>
				</div>


				<div class="control-group">
					<label class="control-label">Turma <span class="required">*</span></label>
					<div class="controls">
		                <select name="idturma" data-placeholder="Turma" class="select" >
							<option value="">Selecione...</option>
							<?php foreach (Escolasturmas::getEscolasturmasHelper(array('status'=>'Ativo')) as $k=>$v) : ?>
							<option value="<?php echo $v['id'] ?>"><?php echo $v['turma'] ?></option>
							<?php endforeach;?>
						</select>
						
					</div>
				</div>


				<div class="control-group">
					<label class="control-label">Período <span class="required">*</span></label>
					<div class="controls">
		                <select name="idperiodo" data-placeholder="Período" class="select" >
							<option value="">Selecione...</option>
							<?php /*foreach (Escolasperiodos::getEscolasperiodosHelper(array('status'=>'Ativo')) as $k=>$v) : ?>
							<option value="<?php echo $v['id'] ?>"><?php echo $v['periodo'] ?></option>
							<?php endforeach;*/ ?>
						</select>
						
					</div>
				</div>

				<div class="control-group">
					<label class="control-label">Professor <span class="required">*</span></label>
					<div class="controls">
		                <select name="idprofessor" data-placeholder="Professor" class="select" onchange="setMaterias(this, 0)">
							<option value="">Selecione...</option>
							<?php /*foreach (Escolasusuarios::getEscolasusuariosHelper(array('status'=>'Ativo')) as $k=>$v) : ?>
							<option value="<?php echo $v['id'] ?>"><?php echo $v['nomerazao'] ?></option>
							<?php endforeach; */ ?>
						</select>
						
					</div>
				</div>

				<div class="control-group">
					<label class="control-label">Matérias </label>
					<div class="controls"> 
						<div id="idmateria"></div>  
					</div>
				</div>


				<div class="control-group">
					<label class="control-label">Tipos <span class="required">*</span></label>
					<div class="controls">
		                <select name="idtipoensino" data-placeholder="Tipos" class="select" >
							<option value="">Selecione...</option>
							<?php foreach (Gdae_Identificadoresescolas::getIdentificadoresHelper(array('status'=>'Ativo')) as $k=>$v) : ?>
							<option value="<?php echo $v['id'] ?>"><?php echo $v['descricoes'] ?></option>
							<?php endforeach;?>
						</select>
						
					</div>
				</div>


				<div class="control-group">
					<label class="control-label">Ínicio das aulas</label>
					<div class="controls"><input placeholder="Ínicio das aulas" name="inicioaulas" value="<?php echo (isset($this->post_var['inicioaulas'])) ? Mn_Util::formPostVarData($this->post_var['inicioaulas']) : '' ?>" type="text"  class="span3"  /></div>
				</div>


				<div class="control-group">
					<label class="control-label">Término das aulas</label>
					<div class="controls"><input placeholder="Término das aulas" name="terminoaulas" value="<?php echo (isset($this->post_var['terminoaulas'])) ? Mn_Util::formPostVarData($this->post_var['terminoaulas']) : '' ?>" type="text"  class="span3"  /></div>
				</div>


				<div class="control-group">
					<label class="control-label">Turno de funcionamento </label>
					<div class="controls">
						<select name="turno" data-placeholder="Turno de funcionamento" class="select" >
							<option value="">Selecione...</option>
							<option value="Manhã">Manhã</option><option value="Intermediário">Intermediário</option><option value="Tarde">Tarde</option><option value="Verpertino">Verpertino</option><option value="Noite">Noite</option><option value="Integral">Integral</option>
						</select>
						
					</div>
				</div>


				<div class="control-group">
					<label class="control-label">Ano </label>
					<div class="controls"><input  placeholder="Ano" name="ano" value="<?php echo (isset($this->post_var['ano'])) ? $this->post_var['ano'] : '' ?>" type="text"  class="span3" /></div>
				</div>
<?php /*?>

				<div class="control-group">
					<label class="control-label">Integração </label>
					<div class="controls">
						<select name="integracao" data-placeholder="Integração" class="select">
							<option value="">Selecione...</option>
							<option value="Sim">Sim</option><option value="Não">Não</option>
						</select>
						
					</div>
				</div>
<?php */ ?>

				<div class="control-group">
					<label class="control-label">Status <span class="required">*</span></label>
					<div class="controls">
						<select name="status1" data-placeholder="Status" class="select">
							<option value="">Selecione...</option>
							<option value="Ativo">Ativo</option><option value="Bloqueado">Bloqueado</option>
						</select>
						
					</div>
				</div>

						    
						    
						    </div>
						    
			                <div class="form-actions align-right">
			                	<?php if ((isset($this->visualizar)) && ($this->visualizar)) : ?>
			                		<button onclick="window.history.back()" class="btn btn-danger cancelar" type="button">Voltar</button>
			                	<?php else : ?>
				                	<button class="btn btn-primary enviar" type="submit">Salvar</button>
				                	<button onclick="window.history.back()" class="btn btn-danger cancelar" type="button">Cancelar</button>
			                	<?php endif; ?>
			                </div>
						</div>
						<!-- /general form elements -->

					</fieldset> 

				</form>
				<!-- /basic inputs -->

		    </div>
		    <!-- /content wrapper -->

		</div>
		<!-- content -->
				
<script type="text/javascript" src="<?php echo $this->baseUrl('/public/scripts/admin/escolasvinculosprofessores_form.js') ?>"></script>
<script type="text/javascript">
	var form_values = {};
	
	<?php if (isset($this->post_var)) :  ?>
		form_values.idsecretaria = '<?php echo (isset($this->post_var['idsecretaria'])) ? $this->post_var['idsecretaria'] : '' ?>';

form_values.idescola = '<?php echo (isset($this->post_var['idescola'])) ? $this->post_var['idescola'] : '' ?>';

form_values.idsala = '<?php echo (isset($this->post_var['idsala'])) ? $this->post_var['idsala'] : '' ?>';

form_values.idserie = '<?php echo (isset($this->post_var['idserie'])) ? $this->post_var['idserie'] : '' ?>';

form_values.idturma = '<?php echo (isset($this->post_var['idturma'])) ? $this->post_var['idturma'] : '' ?>';

form_values.idperiodo = '<?php echo (isset($this->post_var['idperiodo'])) ? $this->post_var['idperiodo'] : '' ?>';

form_values.idprofessor = '<?php echo (isset($this->post_var['idprofessor'])) ? $this->post_var['idprofessor'] : '' ?>';

form_values.idtipoensino = '<?php echo (isset($this->post_var['idtipoensino'])) ? $this->post_var['idtipoensino'] : '' ?>';

form_values.turno = '<?php echo (isset($this->post_var['turno'])) ? $this->post_var['turno'] : '' ?>';

form_values.integracao = '<?php echo (isset($this->post_var['integracao'])) ? $this->post_var['integracao'] : '' ?>';

form_values.status1 = '<?php echo (isset($this->post_var['status1'])) ? $this->post_var['status1'] : $this->post_var['status'] ?>';


	<?php endif; ?>
	<?php if ((isset($this->post_var['idsmaterias'])) && ($this->post_var['idsmaterias']!="")) :  ?>
	form_values.idsmaterias = [<?php echo $this->post_var['idsmaterias'] ?>];
	<?php endif; ?>
	visualizar = <?php echo  ((isset($this->visualizar)) && ($this->visualizar))  ? 'true' : 'false' ?>;
</script>
