<!-- Content -->
		<div id="content">

		    <!-- Content wrapper -->
		    <div class="wrapper">

			    <!-- Breadcrumbs line -->
			    <div class="crumbs">
			    	<?php echo $this->render('/helpers/breadcrumb.phtml') ?>
			    </div>
			    <!-- /breadcrumbs line -->

			    <!-- Page header -->
			    <div class="page-header">
			    	<div class="page-title">
				    	<h5>Vínculos no sistema</h5>
				    	<span>Visualize os vínculos do sistema</span>
			    	</div>
			    	
			    </div>
			    <!-- /page header -->
			    
			    <?php if (isset($this->crudMessage)) : ?>
				<div class="alert alert-success">
                	<button data-dismiss="alert" class="close" type="button">×</button>
                    <strong>Operação realizada com sucesso!</strong>
	    			<span><br /><?php echo $this->crudMessage ?></span>
                </div>			    
			    <?php endif; ?>




	                        	                        
                <!-- Table with footer -->
                <div class="widget">
                	<form action="#" class="form-horizontal" method="post">
                		<input type="hidden" value="<?php echo (isset($this->post_var['sorting'])) ? $this->post_var['sorting'] : '' ?>" name="sorting" />
	                	<div class="navbar">
	                		<div class="navbar-inner">
	                			<h6>Visualizando registros</h6>
	                			<?php if (Mn_Util::isAccess($this->getController(), 'adicionar')) : ?>
	                			<a style="float:right;" href="<?php echo $this->baseUrl() ?>/<?php echo 'admin' ?>/<?php echo $this->getController() ?>/adicionar" class="btn btn-primary"><span class="icon-plus"></span>&nbsp;Adicionar vínculo</a>
	                			<?php endif; ?>
	                		</div>
	                	</div>
	                    <div class="table-overflow">
	                        <table class="table table-content">
	                            <thead>
	                                <tr>
	                                    <th width="20">#</th>
                                    <th class="s-idescola sorting">Escolas</th>
                                    <th class="s-idserie sorting">Série</th>
                                    <th class="s-status sorting">Status</th>


	                                    <th width="96">Ações</th>
	                                </tr>
	                                <tr>
	                                    <th></th>

										<th>
											<div>

												<select name="idescola" placeholder="Todos" class="select">
                                        <?php 
                                            $_data = Usuarios::getEscolaAtiva(Usuarios::getUsuario('id'));
                                    
                                            if($_data):
                                        ?>
                                        <option value="<?php echo $_data['id'] ?>"><?php echo $_data['escola'] ?></option>

                                        <?php else: ?>
                                        <option value="">Todos</option>
                                        <?php
                                            foreach (Escolas::getEscolasHelper(array('status'=>'Ativo', 'idsecretaria'=>Usuarios::getSecretariaAtiva( Usuarios::getUsuario('id'), 'id' ))) as $k=>$v) : ?>
                                            <option value="<?php echo $v['id'] ?>"><?php echo $v['escola'] ?></option>
                                        <?php endforeach;?>
                                    <?php endif; ?>
                                </select>
											</div>
										</th>

										<th>
											<div>
												<select name="idserie" placeholder="Todos" class="select">
													<option value="">Todos</option>
													<?php foreach (Escolasseries::getEscolasseriesHelper(array('status'=>'Ativo')) as $k=>$v) : ?>
														<option value="<?php echo $v['id'] ?>"><?php echo $v['serie'] ?></option>
													<?php endforeach;?>
												</select>
											</div>
										</th>


										<th>
											<div>
												<select name="status1" placeholder="Todos" class="select">
													<option value="">Todos</option>
													<option value="Ativo">Ativo</option><option value="Bloqueado">Bloqueado</option>
												</select>
											</div>
										</th>
                   

	                                    <th><button class="btn btn-mini btn-primary" type="submit">Pesquisar</button></th>
	                                </tr> 
	                                                                
	                            </thead>
	                            <tbody>
	                            	<?php if (sizeof($this->rows)==0) : ?>
	                                <tr>
	                                    <td colspan="5">Nenhum registro foi encontrado!</td>
	                                </tr>
	                            	
	                            	<?php else : ?>
                                        
                                            <?php
                                                $IdEscolaAtiva = Usuarios::getEscolaAtiva(Usuarios::getUsuario('id'), 'id');
                                            ?>
                                            <?php if($IdEscolaAtiva > 0 && $IdEscolaAtiva !== '' && $IdEscolaAtiva !== null) : ?>
                                                <?php foreach ($this->rows as $row) : ?>
                                                <tr>
                                                <?php if($row['idescola'] == $IdEscolaAtiva) : ?>
                                                    <td><?php echo $row['id'] ?></td>


                                                            <td>
                                                                    <?php
                                                                            $___rows = Escolas::getEscolasHelper(array('id'=>$row['idescola']));
                                                                            $___row = (sizeof($___rows)>0) ? 	$___rows[0] : false;	

                                                                            echo ($___row) ? $this->formatTextoBranco($___row['escola']) : '--';		
                                                                    ?>
                                                            </td>

                                                            <td>
                                                                    <?php /*
                                                                            $___rows = Escolasseries::getEscolasseriesHelper(array('id'=>$row['idserie']));
                                                                            $___row = (sizeof($___rows)>0) ? 	$___rows[0] : false;	

                                                                            echo ($___row) ? $this->formatTextoBranco($___row['serie']) : '--';		*/
                                                                    ?>
                                                                    <?php echo $row['sala'] ?> -> <?php echo $row['serie'] ?> -> <?php echo $row['turma'] ?> -> <?php echo $row['periodo'] ?>
                                                            </td>

                                                            <td>
                                                                    <?php if (Mn_Util::isAccess($this->getController(), 'editar')) : ?>
                                                                            <a onclick="javascript:statusChange(<?php echo $row["id"]?>, this);" href="javascript:;"><?php echo $row['status'] ?></a>
                                                                    <?php else : ?>
                                                                            <?php echo $row['status'] ?>
                                                                    <?php endif; ?>
                                                            </td>



                                                    <td>
                                                        <ul class="table-controls">

                                                            <?php if (Mn_Util::isAccess($this->getController(), 'editar')) : ?>
                                                            <li><a title="" class="btn tip" href="<?php echo $this->baseUrl() ?>/<?php echo 'admin' ?>/<?php echo $this->getController() ?>/editarescolas/id/<?php echo $row['id'] ?>" data-original-title="Editar"><i class="icon-pencil"></i></a> </li>
                                                            <?php endif;?>

                                                        </ul>
                                                    </td>
                                                </tr>
                                                <?php endif ?>
                                                <?php endforeach;?>
                                            <?php else : ?>    
                                                <?php foreach ($this->rows as $row) : ?>
                                                <tr>
                                                    <td><?php echo $row['id'] ?></td>


                                                                                        <td>
                                                                                                <?php
                                                                                                        $___rows = Escolas::getEscolasHelper(array('id'=>$row['idescola']));
                                                                                                        $___row = (sizeof($___rows)>0) ? 	$___rows[0] : false;	

                                                                                                        echo ($___row) ? $this->formatTextoBranco($___row['escola']) : '--';		
                                                                                                ?>
                                                                                        </td>

                                                                                        <td>
                                                                                                <?php /*
                                                                                                        $___rows = Escolasseries::getEscolasseriesHelper(array('id'=>$row['idserie']));
                                                                                                        $___row = (sizeof($___rows)>0) ? 	$___rows[0] : false;	

                                                                                                        echo ($___row) ? $this->formatTextoBranco($___row['serie']) : '--';		*/
                                                                                                ?>


                                                                    						<?php echo $row['sala'] ?> -> <?php echo $row['serie'] ?> -> <?php echo $row['turma'] ?> -> <?php echo $row['periodo'] ?>
                                                                                        </td>

                                                                                        <td>
                                                                                                <?php if (Mn_Util::isAccess($this->getController(), 'editar')) : ?>
                                                                                                        <a onclick="javascript:statusChange(<?php echo $row["id"]?>, this);" href="javascript:;"><?php echo $row['status'] ?></a>
                                                                                                <?php else : ?>
                                                                                                        <?php echo $row['status'] ?>
                                                                                                <?php endif; ?>
                                                                                        </td>



                                                    <td>
                                                        <ul class="table-controls">

                                                            <?php if (Mn_Util::isAccess($this->getController(), 'editar')) : ?>
                                                            <li><a title="" class="btn tip" href="<?php echo $this->baseUrl() ?>/<?php echo 'admin' ?>/<?php echo $this->getController() ?>/editarescolas/id/<?php echo $row['id'] ?>/idserie/<?php echo $row['idserie'] ?>/idsala/<?php echo $row['idsala'] ?>" data-original-title="Editar"><i class="icon-pencil"></i></a> </li>
                                                            <?php endif;?>

                                                        </ul>
                                                    </td>
                                                </tr>
                                                <?php endforeach;?>
                                            <?php endif?>
	                            	
	                            	
	                            	
	                            	
	                            	<?php endif; ?>
	
	                            </tbody>
	                        </table>
	                    </div>
	                    <?php echo $this->render('/helpers/paginator.phtml') ?>
                    
                    </form>

                </div>
                <!-- /table with footer -->
	                        


		    </div>
		    <!-- /content wrapper -->

		</div>
		<!-- content -->
		
		
<script type="text/javascript" src="<?php echo $this->baseUrl('/public/scripts/admin/escolasvinculosprofessores_index.js') ?>"></script>
<script type="text/javascript">

	var form_values = {};
	<?php if (isset($this->post_var)) :  ?>
form_values.idsecretaria = '<?php echo (isset($this->post_var['idsecretaria'])) ? $this->post_var['idsecretaria'] : '' ?>';

form_values.idescola = '<?php echo (isset($this->post_var['idescola'])) ? $this->post_var['idescola'] : '' ?>';

form_values.idsala = '<?php echo (isset($this->post_var['idsala'])) ? $this->post_var['idsala'] : '' ?>';

form_values.idserie = '<?php echo (isset($this->post_var['idserie'])) ? $this->post_var['idserie'] : '' ?>';

form_values.idturma = '<?php echo (isset($this->post_var['idturma'])) ? $this->post_var['idturma'] : '' ?>';

form_values.idperiodo = '<?php echo (isset($this->post_var['idperiodo'])) ? $this->post_var['idperiodo'] : '' ?>';

form_values.idprofessor = '<?php echo (isset($this->post_var['idprofessor'])) ? $this->post_var['idprofessor'] : '' ?>';

form_values.idtipoensino = '<?php echo (isset($this->post_var['idtipoensino'])) ? $this->post_var['idtipoensino'] : '' ?>';

form_values.turno = '<?php echo (isset($this->post_var['turno'])) ? $this->post_var['turno'] : '' ?>';

form_values.integracao = '<?php echo (isset($this->post_var['integracao'])) ? $this->post_var['integracao'] : '' ?>';

form_values.status1 = '<?php echo (isset($this->post_var['status1'])) ? $this->post_var['status1'] : $this->post_var['status'] ?>';

	
	<?php endif; ?>

	var sorting = ["idsecretaria", "idescola", "idsala", "idserie", "idturma", "idperiodo", "idprofessor", "idtipoensino", "inicioaulas", "terminoaulas", "turno", "ano", "integracao", "status"];
	
</script>