

<div class="control-group materiaescola">
	<label class="control-label">Matéria <span class="required">*</span></label>
	<div class="controls">
        <select id="quadroidmateriaescola" name="quadroidmateriaescola" class="select quadroidmateriaescola" onchange="setMateriaid(this);">
			<?php if (sizeof($this->rows)==0) : ?>
			<option value="">Selecione...</option>
			<option value="">Nenhuma matéria foi encontrada para essa escola</option>
			<?php else : ?>
			<option value="">Selecione...</option>
			<?php foreach ($this->rows as $row) : ?>
			<option value="<?php echo $row['id'] ?>"><?php echo $row['materia'] ?></option>
			<?php endforeach; ?>
			<?php endif; ?>		          
        </select>   
	</div>
</div>

<div class="control-group materiaprofessor" style="display:none;">
	<label class="control-label">Matéria <span class="required">*</span></label>
	<div class="controls">
        <select id="quadroidmateriaprofessor" name="quadroidmateriaprofessor" class="select quadroidmateriaprofessor" onchange="setMateriaid(this);">
			<?php if (sizeof($this->materiasprofessores)==0) : ?>
			<option value="">Selecione...</option>
			<option value="">Nenhuma matéria foi encontrada para essa escola</option>
			<?php else : ?>
			<option value="">Selecione...</option>
			<?php foreach ($this->materiasprofessores as $row) : ?>
			<option value="<?php echo $row['id'] ?>"><?php echo $row['materia'] ?></option>
			<?php endforeach; ?>
			<?php endif; ?>		          
        </select>   
	</div>
</div>


<div class="control-group">
	<div class="controls visualizar">
       Professor: <?php echo $this->professor['nome']?>
	</div>
</div>

<?php $idsmaterias = ""; ?>
<?php $idprofessor = ""; ?>
<?php $idescolavinculo = ""; ?>
<?php if(sizeof($this->materiasdadas) > 0): ?>
<div class="control-group">
	<table class="table table-primary mb30">
		<thead>
			<?php if(sizeof($this->materiasdadas) > 1): ?> 
			<tr>
				<th colspan="2" align="center" style="text-align: center;">Aulas desse professor</th>
				<th colspan="2" align="center" style="text-align: center;">
					O diário de classe será individual para cada matéria ou geral ?
			        <select id="diarioclasseselect" name="diarioclasseselect" class="select diarioclasseselect" onchange="setDiario(this)">					
						<option value="Individual">Individual</option>
						<option value="Geral">Geral</option>
			        </select> 

			        <button class="btn  btn-primary" onclick="setDiarioclasse(this);">Salvar</button>
				</th>
			</tr>
			<?php else: ?> 
			<tr>
				<th colspan="4" align="center" style="text-align: center;">Aulas desse professor</th>
			</tr>
			<?php endif ?> 
			<tr>
				<th width="180">Matéria</th>
				<th width="180">QTD Aulas</th>				
				<th width="180">Dupla/Única</th>
				<th width="30">Ações</th>
			</tr>
		</thead>
		<tbody id="raiz">			
			<?php  foreach($this->materiasdadas as $md=>$rowmateria): ?>				
				<?php 
					$idprofessor = $rowmateria['idprofessor']; 
					$idescolavinculo = $rowmateria['idescolavinculo'];

					if($idsmaterias!=""){
						$idsmaterias = $idsmaterias . "," . $rowmateria['idmateria']; 
					}else{
						$idsmaterias = $rowmateria['idmateria']; 
					}
				?>
			<tr>
				<td>
					<?php
						$___rows = Controlealunosmaterias::getControlealunosmateriasHelper(array('id'=>$rowmateria['idmateria']));
						$___row = (sizeof($___rows)>0) ? 	$___rows[0] : false;	
						
						echo ($___row) ? $this->formatTextoBranco($___row['materia']) : '--';		
					?>
				</td>
				<td><?php echo $rowmateria['quantidadesaulas']?></td>
				<td><?php echo $rowmateria['quadroperiodoaula']?></td>
				<td style="text-align:center!Important" align="center"><a href="javascript:;" onclick="excluirMateria(this, <?php echo $rowmateria['id']?>)"><i class="icon-remove"></i></a></a></td>
			</tr>
			<?php endforeach; ?>
		</tbody>
	</table>
</div>
<?php endif?>
<input type="hidden" class="diarioclasseidsdiarios" value="<?php echo $idsmaterias; ?>" />

<?php if(sizeof($this->aulassala) > 0): ?>
<div class="control-group">
	<table class="table table-primary mb30">
		<thead>
			<tr>
				<th align="center" colspan="2" style="text-align: center;">Aulas dessa sala</th>
			</tr>
			<tr>
				<th width="180">Aulas</th>
				<th width="180">Atribuir nessa matéria?</th>
			</tr>
		</thead>
		<tbody id="raiz">
			<?php  foreach($this->aulassala as $am=>$rowaulamateria): ?>
			<tr>
				<td>
					<?php
						$___rows = Controlealunosmaterias::getControlealunosmateriasHelper(array('id'=>$rowaulamateria['idmateria']));
						$___row = (sizeof($___rows)>0) ? 	$___rows[0] : false;	
						
						echo ($___row) ? $this->formatTextoBranco($___row['materia']) : '--';		
					?>
				</td>
				<td>
					<?php $rows_pmv = Quadrohorarios::getQuadrohorariosHelper(array('idprofessor'=>$this->idprofessorselecionado, 'idmateria'=>$rowaulamateria['idmateria'], 'idescolavinculo'=>$rowaulamateria['idescolavinculo'])); ?>

					<?php if(sizeof($rows_pmv) <= 0): ?>
						<button onclick="duploProfessor('<?php echo $rowaulamateria['id'] ?>')">Dar aula</button><br /><br />
					<?php endif; ?>

					<?php //echo $rowmateria['quadroperiodoaula']?>
					<?php $rows_professoresmaterias = Quadrohorarios::getQuadrohorariosHelper(array('idmateria'=>$rowaulamateria['idmateria'], 'idescolavinculo'=>$rowaulamateria['idescolavinculo'])); ?>
					<?php foreach($rows_professoresmaterias as $rp=>$row_professor): ?>
						<?php
							$___rows = Funcionariosgeraisescolas::getFuncionariosgeraisescolasHelper(array('id'=>$row_professor['idprofessor']));
							$___row = (sizeof($___rows)>0) ? 	$___rows[0] : false;	
							
							echo ($___row) ? $this->formatTextoBranco('<b>'.$___row['nome'] . '</b><br /><br />') : '--';		
						?>
					<?php endforeach; ?>
				</td>
			</tr>
			<?php endforeach?>
		</tbody>
	</table>
</div>
<?php endif?>
<input type="hidden" value="<?php echo (int)$this->idprofessorselecionado ?>" class="idprofessorselecionado" />

<input type="hidden" value="<?php echo (int)$idprofessor ?>" class="idprofessordiario" />
<input type="hidden" value="<?php echo (int)$idescolavinculo ?>" class="idescolavinculodiario" />


	<?php $_claas = "";
		$verifica = Escolasvinculosdiariosclasses::getEscolasvinculosdiariosclassesHelper(array('idprofessor'=>$idprofessor, 'idescolavinculo'=>$idescolavinculo));

		if(sizeof($verifica) > 0):
			$_verifica = $verifica[0];
	?>
<?php $_claas = $_verifica['tipo']; //var_dump($_claas); die(); ?>
<?php endif ?>
<input type="hidden" value="<?php echo 'Geral' ?>" class="diarioclasse" name="diarioclasse" />


<script type="text/javascript">  
$(document).ready(function() {
	
	<?php 
		$verifica = Escolasvinculosdiariosclasses::getEscolasvinculosdiariosclassesHelper(array('idprofessor'=>$idprofessor, 'idescolavinculo'=>$idescolavinculo));

		if(sizeof($verifica) > 0):
			$_verifica = $verifica[0];
	?>
	$('.diarioclasseselect').val('<?php echo $_verifica['tipo'] ?>');	
	
	<?php endif ?>
});

function duploProfessor(idquadrohorario){

	var idquadrohorario = idquadrohorario;
	var	idprofessor = <?php echo (int)$this->idprofessorselecionado ?>;


	$.post(baseUrl + '/admin/escolasvinculosprofessores/duploprofessor/', {idquadrohorario:idquadrohorario, idprofessor:idprofessor}, function(data) {
			jAlert(data, "MSG!");
	});
}

function setDiario(obj){
	var	diarioclassea = $(obj).val();
	$('.diarioclasse').val(diarioclassea);
	console.log('diarioclassea: '+ diarioclassea);
}

function setDiarioclasse(obj){

	var	diarioclasse = $('.diarioclasse').val();
	console.log('diarioclasse: '+ diarioclasse);
	var	diarioclasseidsdiarios = $('.diarioclasseidsdiarios').val();
	//console.log('diarioclasseidsdiarios: '+ diarioclasseidsdiarios);
	var	idprofessordiario = $('.idprofessordiario').val();
	//console.log('idprofessordiario: '+ idprofessordiario);
	var	idescolavinculodiario = $('.idescolavinculodiario').val();
	//console.log('idescolavinculodiario: '+ idescolavinculodiario);


	$.post(baseUrl + '/admin/escolasvinculosprofessores/tipodiarioclasse/', {diarioclasse:diarioclasse, idprofessor:idprofessordiario, idescolavinculo:idescolavinculodiario, idsmaterias:diarioclasseidsdiarios}, function(data) {
			jAlert(data, "MSG!");
	});
}
</script>