<html>
    <head>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>

        <link href="/public/admin/css/main.css" rel="stylesheet" type="text/css" />

        <!--<link href="/public/scripts/jquery-ui-themes-1.11.4/themes/redmond/jquery-ui.min.css" rel="stylesheet" type="text/css" />-->

        <style>
            .blink_text {

                animation:1s blinker linear infinite;
                -webkit-animation:1s blinker linear infinite;
                -moz-animation:1s blinker linear infinite;
                
                color: blue;
                font-variant-caps: petite-caps;
                font-style: italic
            }

            @-moz-keyframes blinker {  
                0% { opacity: 1.0; }
                50% { opacity: 0.0; }
                100% { opacity: 1.0; }
            }

            @-webkit-keyframes blinker {  
                0% { opacity: 1.0; }
                50% { opacity: 0.0; }
                100% { opacity: 1.0; }
            }

            @keyframes blinker {  
                0% { opacity: 1.0; }
                50% { opacity: 0.0; }
                100% { opacity: 1.0; }
            }
            
            .table{
                text-align: center;
            }
        </style>


    </head>

    <body>
        <form id="form" name="form" action="" method="post" class="form-inline" enctype="multipart/form-data"> 

            <?php
            $vinculo = Escolasvinculos::getEscolavinculoByIdHelper($this->idvinculo);
            $professor = Funcionariosgeraisescolas::getFuncionariogeralescolaByIdHelper($this->idprofessor);
            ?>

            <div class="modal-header">
                <h4> 
                    <?php
                    echo "Sala: ", Escolassalas::getEscolasalaByIdHelper($vinculo['idsala'])['sala'], "  - ",
                         "Série: ", Escolasseries::getEscolaserieByIdHelper($vinculo['idserie'])['serie'], '&ordm; ',
                         Escolasturmas::getEscolaturmaByIdHelper($vinculo['idturma'])['turma'], ' - ',
                        "Classe: ", Fjmx_Util::formataMilhares($vinculo['classe']); ?>
                </h4>
                <input id="idvinculo" value="<?php echo $this->idvinculo; ?>" type="hidden" />
                <input id="idprofessor" value="<?php echo $this->idprofessor; ?>" type="hidden" />                
            </div>

            <div class="widget row-fluid" >
                <div class="control-group">
                    <div class="controls">
                        <table border="0" class="table">
                            <tbody>
                                <tr>
                                    <td colspan="2">
                                        <label>Professor(a):</label> 
                                        <?php
                                        echo "<b>", $professor['nome'], " - RGF: ", $professor['rgf'], "</b>";
                                        ?>
                                    </td>
                                </tr>
                                <?php
                                if (isset($professor['polivalente']) && (isset($professor['polivalente']))) {
                                    echo "<tr> <td colspan='2'>";
                                    echo '<span class="blink_text">', 'Professor Polivalente', '</span>';
                                    echo "</td> </tr> ";
                                }
                                ?>
                            </tbody>
                        </table>
                        <br>
                        <table border="1" class="table">
                            <thead>
                                <tr>
                                    <td colspan="10">
                                        <b>Matérias Atribuidas:</b>
                                    </td>
                                </tr>
                                <?php 
                                    if (sizeof(Quadrohorarios::getQuadrohorariosHelper(['idvinculo' => $this->idvinculo, 'idprofessor' => $this->idprofessor]))==0) :?>
                                    <tr>
                                        <td colspan="10">
                                            Não existem dados para serem exibidos...
                                        </td>
                                    </tr>
                                <?php else: ?>
                                    <tr>
                                        <td>
                                            &nbsp;
                                        </td>
                                        <td>
                                            Seg
                                        </td>
                                        <td>
                                            Ter
                                        </td>
                                        <td>
                                            Qua
                                        </td>
                                        <td>
                                            Qui
                                        </td>
                                        <td>
                                            Sex
                                        </td>
                                        <td>
                                            Sáb
                                        </td>
                                        <td>
                                            Dom
                                        </td>
                                        <td>
                                            Total
                                        </td>
                                        <td>
                                            Ações
                                        </td>
                                    </tr>
                                <?php endif; ?>
                            </thead>
                            <tbody>
                                <?php foreach (Quadrohorarios::getQuadrohorariosHelper(['idvinculo' => $this->idvinculo, 'idprofessor' => $this->idprofessor]) as $k => $r) : ?>
                                    <tr>
                                        <td>
                                            <?php echo isset($r['idmateria']) ? Controlealunosmaterias::getControlealunosmateriaByIdHelper($r['idmateria'])['materia'] : ''; ?>
                                        </td>
                                        <td>
                                            <?php echo isset($r['aulasseg']) && ($r['aulasseg'] !== "0") ? $r['aulasseg'] : '-'; ?>
                                        </td>
                                        <td>
                                            <?php echo isset($r['aulaster']) && ($r['aulaster'] !== "0") ? $r['aulaster'] : '-'; ?>
                                        </td>
                                        <td>
                                            <?php echo isset($r['aulasqua']) && ($r['aulasqua'] !== "0") ? $r['aulasqua'] : '-'; ?>
                                        </td>
                                        <td>
                                            <?php echo isset($r['aulasqui']) && ($r['aulasqui'] !== "0") ? $r['aulasqui'] : '-'; ?>
                                        </td>
                                        <td>
                                            <?php echo isset($r['aulassex']) && ($r['aulassex'] !== "0") ? $r['aulassex'] : '-'; ?>
                                        </td>
                                        <td>
                                            <?php echo isset($r['aulassab']) && ($r['aulassab'] !== "0") ? $r['aulassab'] : '-'; ?>
                                        </td>
                                        <td>
                                            <?php echo isset($r['aulasdom']) && ($r['aulasdom'] !== "0") ? $r['aulasdom'] : '-'; ?>
                                        </td>
                                        <td>
                                            <?php echo isset($r['quantidadesaulas']) && ($r['quantidadesaulas'] !== "0") ? $r['quantidadesaulas'] : '-'; ?>
                                        </td>
                                        <td>
                                            <!--<a href="javascript:;" style="float:center;" ><i class="icon-pencil btn-mini"></i></a>-->
                                            <a href="javascript:;" style="float:center;" onclick="excluirMateria(this, <?php echo $r['id']; ?>)"><i class="icon-remove btn-mini"></i></a>   
                                        </td>
                                    </tr>
                                <?php endforeach; ?>
                            </tbody>
                        </table>
                    </div>  
                </div>    

                <div class="control-group">
                    <div class="controls">      
                        <table class="table" border="1">
                            <thead>
                                <tr>
                                    <td colspan="9">
                                        <b>Atribuir Matéria a Sala:</b>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Matéria
                                    </td>
                                    <td>
                                        Seg
                                    </td>
                                    <td>
                                        Ter
                                    </td>
                                    <td>
                                        Qua
                                    </td>
                                    <td>
                                        Qui
                                    </td>
                                    <td>
                                        Sex
                                    </td>
                                    <td>
                                        Sáb
                                    </td>
                                    <td>
                                        Dom
                                    </td>
                                    <td>
                                        Total
                                    </td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        <select id="idmateria" name="idmateria" class="select" onchange="calcTotalAulasSemana()">
                                            <option value="">Selecione...</option>
                                            <?php foreach (Controlealunosmaterias::getControlealunosmateriasHelper(array('status' => 'Ativo')) as $k => $v) : ?>
                                                <option value="<?php echo $v['id'] ?>"><?php echo $v['materia'] ?></option>
                                            <?php endforeach; ?>
                                        </select>
                                    </td>
                                    <td>
                                        <select class="select2-search" id="selectseg" onchange="calcTotalAulasSemana()">
                                            <option value="0">0</option>
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                            <option value="4">4</option>
                                            <option value="5">5</option>
                                        </select>
                                    </td>
                                    <td>
                                        <select class="select2-search" id="selectter" onchange="calcTotalAulasSemana()">
                                            <option value="0">0</option>
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                            <option value="4">4</option>
                                            <option value="5">5</option>
                                        </select>
                                    </td>
                                    <td>
                                        <select class="select2-search" id="selectqua" onchange="calcTotalAulasSemana()">
                                            <option value="0">0</option>
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                            <option value="4">4</option>
                                            <option value="5">5</option>
                                        </select>
                                    </td>
                                    <td>
                                        <select class="select2-search" id="selectqui" onchange="calcTotalAulasSemana()">
                                            <option value="0">0</option>
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                            <option value="4">4</option>
                                            <option value="5">5</option>
                                        </select>
                                    </td>
                                    <td>
                                        <select class="select2-search" id="selectsex" onchange="calcTotalAulasSemana()">
                                            <option value="0">0</option>
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                            <option value="4">4</option>
                                            <option value="5">5</option>
                                        </select>
                                    </td>
                                    <td>
                                        <select class="select2-search" id="selectsab" onchange="calcTotalAulasSemana()">
                                            <option value="0">0</option>
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                            <option value="4">4</option>
                                            <option value="5">5</option>
                                        </select>
                                    </td>
                                    <td>
                                        <select class="select2-search" id="selectdom" onchange="calcTotalAulasSemana()">
                                            <option value="0">0</option>
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                            <option value="4">4</option>
                                            <option value="5">5</option>
                                        </select>
                                    </td>
                                    <td style="text-align: center">
                                        <div id="totalaulassemana">0</div>
                                    </td>
                                </tr>                            
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td colspan="9" style="text-align: right;">
                                        <button class="btn btn-primary" onclick="atribuirmateria()" disabled="true" id="btnatribuirmateria"><span class="icon-list" > Atribuir Matéria </button>
                                    </td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>  
                </div>             
            </div>
            <?php
            /*
              [id] => 54
              [idsecretaria] => 1
              [idescolavinculo] => 220
              [diasemana] =>
              [periodo] =>
              [idmateria] => 42
              [quantidadesaulas] => 1
              [quadroperiodoaula] => Unica
              [idprofessor] => 1110
              [datacriacao] => 2018-11-30 13:40:08
              [status] => Ativo
              [excluido] => nao
              [logdata] => 2018-11-30 13:40:08
              [logusuario] => 1
             */
            ?>
            <div class="control-group">
                <div class="controls">      
                    <table class="table" border="1">
                        <thead>
                            <tr>
                                <td colspan="2">
                                    <b>Matérias da Sala:</b>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Matéria
                                </td>
                                <td>
                                    Professor(a)
                                </td>
                            </tr>
                        </thead>
                        <tbody>
                            <?php
                            foreach (Quadrohorarios::getQuadrohorariosHelper(['idescolavinculo' => $this->idvinculo]) as $k => $r) {
                                echo '    <tr>';
                                echo '        <td>';
                                echo Controlealunosmaterias::getControlealunosmateriaByIdHelper($r['idmateria'])['materia'];
                                echo '        </td>';
                                echo '        <td>';
                                $prof = Funcionariosgeraisescolas::getFuncionariogeralescolaByIdHelper($r['idprofessor']);
                                echo $prof['nome'], ($prof['polivalente'] === 'Sim' ? ' (Polivalente)' : '');
                                echo '        </td>';
                                echo '    </tr>';
                            }
                            ?>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </form>

</body>
</html>

<script type="text/javascript">

    var baseUrl = window.location.origin;

    function calcTotalAulasSemana() {
        
        var seg = parseInt($('#selectseg option:selected').val());
        var ter = parseInt($('#selectter option:selected').val());
        var qua = parseInt($('#selectqua option:selected').val());
        var qui = parseInt($('#selectqui option:selected').val());
        var sex = parseInt($('#selectsex option:selected').val());
        var sab = parseInt($('#selectsab option:selected').val());
        var dom = parseInt($('#selectdom option:selected').val());
        var totsemana = (seg + ter + qua + qui + sex + sab + dom);
        $("#totalaulassemana").html((totsemana).toString());
        
        document.getElementById('btnatribuirmateria').disabled = !((totsemana > 0) && ($('#idmateria option:selected').val() !== ''));
//        $('#btnatribuirmateria').disable = 
        
    }

    function atribuirmateria(tipo) {

        var quantidadesaulas = document.getElementById("totalaulassemana").textContent;
        var quadroidescolavinculo = $('#idvinculo').val();
        var quadroidsprofessores = $('#idprofessor').val();
        var quadroidmateria = $('#idmateria').val();
        var quadroperiodoaula = "Unica";
        var selectseg = $('#selectseg').val();
        var selectter = $('#selectter').val();
        var selectqua = $('#selectqua').val();
        var selectqui = $('#selectqui').val();
        var selectsex = $('#selectsex').val();
        var selectsab = $('#selectsab').val();
        var selectdom = $('#selectdom').val();
        $.post(baseUrl + '/admin/escolasvinculosprofessores/atribuirmateria/',
                {quantidadesaulas: quantidadesaulas, quadroidescolavinculo: quadroidescolavinculo,
                    quadroidsprofessores: quadroidsprofessores, quadroidmateria: quadroidmateria,
                    quadroperiodoaula: quadroperiodoaula, selectseg: selectseg, selectter: selectter,
                    selectqua: selectqua, selectqui: selectqui, selectsex: selectsex, selectsab: selectsab,
                    selectdom: selectdom
                }, function (data) {
            alert(data);
            if (tipo === "enviaradicionar") {
                $('.quantidadesaulas').val(' ');
                $('.quadroidmateria').val(' ');
                $('.quadroidmateriaescola').val(' ');
                $('.quadroidmateriaprofessor').val(' ');
            }
        });
    }

    function excluirMateria(obj, id) {
        
	jConfirm('Confirmar a exclusão da Matéria?', function(r) {
            if (r) {
                $(obj).parent().parent().remove();
                $.post(baseUrl + '/admin/escolasvinculosprofessores/removemateriasescolas/', {id: id}, function (data) {
                    if (data == "OK") {
                        jAlert("Exclusão realizada com sucesso!", "Exclusão!");
                    } else {
                        jAlert(data, "Exclusão!");
                    }

                });
            }
        
            form.submit();

        }); 
        
        

    }


</script>