<?php if (sizeof($this->rows)==0) : ?>
<?php if((int)$this->idserie <= 0): ?>
<div>Selecione uma série</div>
<?php else: ?>
<div>Nenhum professor foi encontrado para essa escola</div>
<?php endif;?>
<?php else : ?>
<div>
<?php $aluno = false;?>

<?php foreach ($this->rows as $row) : ?>
	<?php $chave = false;?>
	<?php $key = array_search($row['id'], $this->notids); ?>
	<?php if ((isset($key)) && ($key)): ?>
		<?php $chave = true;?>
	<?php elseif ((isset($key)) && (trim($key)!="")):?>
		<?php $chave = true;?>
	<?php endif;?>
	<?php //var_dump($this->notids); ?>
	<?php //var_dump(trim($key)); ?>
	
	<?php if((isset($this->idescolasalasaluno)) && ((int)$this->idescolasalasaluno > 0)) : ?>
		<?php //$aluno = Escolassalasatribuicoes::getSalaatribuicaoByIdAlunoHelper($row['id']); ?>
	<?php endif;?>
	<?php $classificacao = false;//$classificacao = Escolasalunosclassificacoes::getClassificacaoByIdHelper($row['idclassificacao'])?>
	<div class="linha-draggable professor_<?php echo $row['id'] ?> <?php echo (($aluno) || ($chave)) ? 'off' : 'on' ?>" style="<?php //echo (isset($classificacao['cor'])) ? 'background-color:' . $classificacao['cor'] : '' ?>">
		<input type="hidden" name="idprofessor" class="form-control" value="<?php echo $row['id'] ?>" />
		<input type="hidden" name="nome" class="form-control" value="<?php echo $row['nome'] ?>" />
		<input type="hidden" name="classificacaoaluno" class="form-control" value="<?php echo $classificacao['classificacao'] ?>" />
		<input type="hidden" name="corprofessor" class="form-control" value="<?php echo (isset($classificacao['cor'])) ? $classificacao['cor'] : '' ?>" />
		<?php echo $row['nome'] ?> 
		
	</div>

<?php endforeach; ?>
</div>
<?php endif; ?>

<script type="text/javascript">
jQuery(document).ready(function() {
	$(".linha-draggable").draggable(
			{
			cursor: 'pointer', 
			helper: 'clone', 
			opacity: 0.75,
			create: function () {
		        var eq = $(this).index();
		        $(this).attr('data-index', eq);
		    }});
    
		$(".content-professors").droppable(
			{
	      	drop: function(event, ui) { 
	      		
		      	$idprofessor = ui.draggable.find("input[name=idprofessor]").attr("value");
		      	$nomeFrom = ui.draggable.find("input[name=nome]").attr("value");
				$classificacaoprofessor = ui.draggable.find("input[name=classificacaoprofessor]").attr("value");
				$corprofessor = ui.draggable.find("input[name=corprofessor]").attr("value");
		      	$idsala = $(this).find(".idsalavinculo").val();
				$idperiodo = $(this).find(".idperiodovinculo").val();
				$idvinculo = $(this).find(".idvinculo").val();
				$qtdatual = $(this).find(".qtdatual").val();
				$qtdtotal = $(this).find(".qtdtotal").val();
				
				$qtdatual = parseInt($qtdatual) + 1;
				$qtdtotal = parseInt($qtdtotal);
				var backgroudlinha = '';
				if($corprofessor != ''){
					backgroudlinha = 'style="background-color:' + $corprofessor + '"';
				}
		      	
				var path = $(this);
				$.post(baseUrl + '/admin/escolasvinculosprofessores/verificadisponibilidade/', {idvinculo:$idvinculo, idprofessor:$idprofessor}, function(data) {
					
					if($qtdatual > $qtdtotal){						
						data = 'A Sala já atingiu a sua capacidade MÁXIMA ('+$qtdtotal+')';
					}

					$v_add = path.find('.addnovos_'+$idprofessor).attr("value");
					if($v_add=="sim"){
						data = 'ESSE PROFESSOR JÁ ESTÁ ATRIBUIDO A ESSA SALA';	
					}
					
					
					var cor_turma = path.find('.cor_turma').val();	
					//console.log('cor_turma: ' + cor_turma);
					if(cor_turma != ''){
						backgroudlinha = 'style="background-color:' + cor_turma + '"';
					}
					if(backgroudlinha=='style="background-color:undefined"') {backgroudlinha='style="background-color:#000000;"';}
					backgroudlinha = 'style="background-color:#ccccb3; color: #000;"'
					if(data > 0){
						var d_html = '<div class="linha" '+backgroudlinha+'><div class="fechar"><a href="javascript:;" title="" onclick="ExcluirProfessor(this, '+$idprofessor+', \'repopula\')"><img src="<?php echo $this->baseUrl()?>/public/admin/imagens/fugue/cross-circle.png" alt="" width="16" /></a></div><input type="hidden" class="addnovos_'+$idprofessor+'" value="sim" /><input type="hidden" name="idsvinculos[]" class="form-control" value="'+$idvinculo+'" /><input type="hidden" name="idssalas[]" class="form-control" value="'+$idsala+'" /><input type="hidden" name="idsperiodos[]" class="form-control" value="'+$idperiodo+'" /><input type="hidden" name="idsprofessoresmaterias[]" class="form-control" value="'+data+'" /><input type="hidden" name="idsprofessores[]" class="form-control" value="'+$idprofessor+'" /> <a href="javascript:;" title=""  onclick="setPeriodo(this)"><i class="fam-add"></i></a> '+$nomeFrom+' </div><br class="clear" clear="all" />';
						path.find('br.clear').remove();
						path.append(d_html);
						var item =  $('.professor_' + $idprofessor);
						
						path.find(".qtdatual").val($qtdatual);
						
						item.removeClass("on");
						item.addClass("off");
					}else{
						jAlert(data, "ERRO!");
					}

				});
				
		    }

	    });		
});
</script>
