<?php if (sizeof($this->rows)==0) : ?>
<div>Nenhuma sala foi encontrada para essa escola</div>
<?php else : ?>
<div class="panel-group panel-group-dark" id="accordion2">
<?php $contador = 0;?>
<?php foreach ($this->rows as $row) : ?>
<?php $total = 0;?>	
<?php $contador = $contador + 1; ?>
	<div class="panel panel-default">      	
		<div class="panel-heading">
			<h4 class="panel-title">
				<a data-toggle="collapse" data-parent="#accordion2" href="#collapse<?php echo $contador ?>">
					<?php echo $row['sala'] ?> -> <?php echo $row['serie'] ?> -> <?php echo $row['turma'] ?> -> <?php echo $row['periodo'] ?> --- CAPACIDADE MÁXIMA (<?php echo $row['quantidadesaulas'] ?>)
				</a>
			</h4>
		</div>            	
	</div>
            


	<div id="collapse<?php echo $contador ?>" class="panel-collapse collapse in">
		
		<div class="content-professors" id="aba0<?php echo $contador ?>">

			<input type="hidden" class="form-control idvinculo" name="idvinculo[]" value="<?php echo $row['id'] ?>" />
			<input type="hidden" class="form-control idsalavinculo" value="<?php echo $row['idsala'] ?>" />
			<input type="hidden" class="form-control idperiodovinculo" value="<?php echo $row['idperiodo'] ?>" />
			<input type="hidden" class="form-control qtdtotal" value="<?php echo $row['quantidadesaulas'] ?>" />
			
			<div>ARRASTE PARA ADICIONAR PROFESSORES</div>
			<br clear="all" />
			<?php 
				$escolasvinculos = Escolasvinculosprofessoresmaterias::getEscolasvinculosprofessoresmateriasHelper(array('idscola'=>$row['idescola'] ,'idserie'=>$row['idserie'], 'idsala'=>$row['idsala'], 'idturma'=>$row['idturma']));
			?>
			<?php if((isset($escolasvinculos)) && (sizeof($escolasvinculos) > 0)) : ?>	
				<?php foreach ($escolasvinculos as $a=>$atribuicoes) : ?>
				<?php $total = $total+1;?>

				<?php
					$professor = "";
					$___rows = Funcionariosgeraisescolas::getFuncionariosgeraisescolasHelper(array('id'=>$atribuicoes['idprofessor']));
					$___row = (sizeof($___rows)>0) ? 	$___rows[0] : false;	
					
					$professor = ($___row) ? $this->formatTextoBranco($___row['nome']) : '--';		
				?>

				<div class="linha" style="background-color:#ccccb3; color: #000;<?php //echo (isset($row['cor'])) ? 'background-color:' . $row['cor'] : '' ?>">
					<div class="fechar">
						<a href="javascript:;" title="" onclick="ExcluirProfessor(this, <?php echo $atribuicoes['idprofessor']?>, 'repopula')"><img src="<?php echo $this->baseUrl()?>/public/admin/imagens/fugue/cross-circle.png" alt="" width="16" /></a>
					</div>
					<input type="hidden" class="addnovos_<?php echo $atribuicoes['idprofessor']?>" value="sim" />
					<input type="hidden" class="cor_turma" value="<?php echo $row['cor']?>" />
					<input type="hidden" name="idsprofessoresmaterias[]" class="form-control" value="<?php echo $atribuicoes['id']?>" />
					<input type="hidden" name="idsvinculos[]" class="form-control idescolavinculo" value="<?php echo $atribuicoes['idescolavinculo']?>" />
					<input type="hidden" name="idssalas[]" class="form-control" value="<?php echo $atribuicoes['idsala']?>" />
					<input type="hidden" name="idsperiodos[]" class="form-control" value="<?php echo $atribuicoes['idperiodo']?>" />
					<input type="hidden" name="idsprofessores[]" class="form-control" value="<?php echo $atribuicoes['idprofessor']?>" /> <a  id="inline" href="javascript:;" title="" onclick="setPeriodo(this)"><i class="fam-add"></i></a> <?php echo $this->cortaPalavra(30, $professor) ?>  
                                        <a  id="inline" onclick="setAtribuiProfessorNaClasse(this)"><i class="icon-wrench"></i></a>
                                        

                                        
						<div style="display:none">
							<div id="data">

<?php ?>

								<div class="control-group">
									<label class="control-label">Matérias do professor ou da escola ?<span class="required">*</span></label>
									<div class="controls">
										<input type="hidden" name="quadroidmateria" class="quadroidmateria" value="" />
			                            <select id="materiatipo" name="materiatipo" class="select tipomateria" onchange="tipoMateria(this)">
			                            	<option value="">Selecione...</option>
					                        <option value="Professor">Professor</option>			          
					                        <option value="Escola">Escola</option>
				                        </select>   
									</div>
								</div>
<?php ?>								
                                                            <!--<input id="materiatipo" name="materiatipo" type="hidden" value="Escola">-->

                                                            
                                                            
<div class="materias-content">

</div>




								<div class="control-group">
									<label class="control-label">Unica/Dupla <span class="required">*</span></label>
									<div class="controls">
			                            <select id="quadroperiodoaula" name="quadroperiodoaula" class="select quadroperiodoaula">
			                            	<option value="">Selecione...</option>
					                        <option value="Unica">Unica</option>			          
					                        <option value="Dupla">Dupla</option>
				                        </select>   
									</div>
								</div>

								<div class="control-group">
									<label class="control-label">Total de aulssssssas na semana<span class="required">*</span></label>
									<div class="controls">
				                        <input  placeholder="Total de aulas" name="quantidadesaulas" value="1" type="text"  class="span3 quantidadesaulas" />
				                        <input type="text" class="quadroidescolavinculo" value="" />
				                        <input type="text" class="quadroidsprofessores" value="" />
									</div>
								</div>

				                <div class="form-actions align-right">
				                	
					                	<button class="btn btn-primary enviar" type="button" onclick="enviaDados(this, 'enviar')">Salvar</button>

					                	<button class="btn btn-primary enviar" type="button" onclick="enviaDados(this, 'enviaradicionar')">Salvar de adicionar outra matéria</button>
					                
				                </div>
							</div>
						</div>
				</div>
				<?php endforeach;?>
			<?php endif; ?>
			<input type="hidden" class="form-control qtdatual" value="<?php echo (int)$total ?>" />
			<br class="clear" clear="all" />
		
		</div>
	</div>

<?php endforeach; ?>
</div>
<?php endif; ?>

  <script type="text/javascript">
  $(function() {
    $( "#accordion" ).accordion({
    	  collapsible: true
    });
  });

$(document).ready(function() {
	$('input[name=quantidadesaulas]').priceFormat({
	    prefix: '',
	    centsSeparator: '',
	    thousandsSeparator: '',
	    centsLimit: 0
	});
});

function setPeriodo(obj){
	$('.tipomateria').val(' ');
	var idescolavinculo = $(obj).parent().find("[name='idsvinculos[]']").val();
	var idsprofessores = $(obj).parent().find("[name='idsprofessores[]']").val();
	var idescola = $('select[name=idescola]').val();

	setMateriasescolas($('select[name=idescola]'), 0, idsprofessores, idescolavinculo);
	//alert(idescola);
	$('.quadroidescolavinculo').val(idescolavinculo);
	$('.quadroidsprofessores').val(idsprofessores);
    $.fancybox({
        type: 'inline',
        href : '#data'
    });
}

        
function setAtribuiProfessorNaClasse(obj){
	$('.tipomateria').val(' ');
	var idescolavinculo = $(obj).parent().find("[name='idsvinculos[]']").val();
	var idsprofessor = $(obj).parent().find("[name='idsprofessores[]']").val();
	var idescola = $('select[name=idescola]').val();
        var idprofessormateria = $(obj).parent().find("[name='idsprofessoresmaterias[]']").val();
        var idsala = $(obj).parent().find("[name='idssalas[]']").val();
        var idperiodo = $(obj).parent().find("[name='idsperiodos[]']").val();


    $.fancybox({
        type: 'iframe',
        href: baseUrl + "/admin/escolasvinculosprofessores/setprofessornasala/arrayids/" + [idescolavinculo,idsprofessor,idescola,idprofessormateria,idsala,idperiodo],
        width: 800,
        height: 600,
        autoSize: false,
        helpers: {
            title: {
                type: 'float'
            }
        }
    });
    
}

function enviaDados(obj, tipo){
	var quantidadesaulas = $(obj).parent().parent().find('.quantidadesaulas').val();
	var quadroidescolavinculo = $('.quadroidescolavinculo').val();
	
	var quadroidsprofessores = $('.quadroidsprofessores').val();
	var quadroidmateria = $(obj).parent().parent().find('.quadroidmateria').val();
	var quadroperiodoaula = $(obj).parent().parent().find('.quadroperiodoaula').val();

	$.post(baseUrl + '/admin/escolasvinculosprofessores/enviadados/', {quantidadesaulas:quantidadesaulas, quadroidescolavinculo:quadroidescolavinculo, quadroidsprofessores:quadroidsprofessores, quadroidmateria:quadroidmateria, quadroperiodoaula:quadroperiodoaula}, function(data) {
			jAlert(data, "MSG!");
			if(tipo=="enviaradicionar"){
				$('.quantidadesaulas').val(' ');
				$('.quadroidmateria').val(' ');
				$('.quadroidmateriaescola').val(' ');
				$('.quadroidmateriaprofessor').val(' ');
			}
	});
}

function setMateriaid(obj){
	var val = $(obj).val();
	$("input[name=quadroidmateria]").val(val);
}

function tipoMateria(obj){
	var tipomateria = $(obj).val();
	if(tipomateria=="Escola"){
		$('.materiaprofessor').css('display', 'none');
		$('.materiaescola').css('display', 'block');
	}else{
		$('.materiaescola').css('display', 'none');
		$('.materiaprofessor').css('display', 'block');
	}
}

function setMateriasescolas(obj, idmateria, idsprofessores, idescolavinculo){
	var val = $(obj).val();
	//var idescolavinculo = $('.quadroidescolavinculo').val();
	data = '';
	$.post(baseUrl + '/admin/escolasvinculosprofessores/setmateriasescolas/', {idescola:val, idsprofessores:idsprofessores, idescolavinculo:idescolavinculo}, function(data) {
		//$("select[name=quadroidmateria]").html(data);
		$('.materias-content').html(data);
		/*if ((idmateria!="") && (idmateria!="0")){
			$("select[name=quadroidmateria]").val(idmateria);
		}*/
		
	});
}

function excluirMateria(obj, id){
	$(obj).parent().parent().remove();

	$.post(baseUrl + '/admin/escolasvinculosprofessores/removemateriasescolas/', {id:id}, function(data) {
		if(data=="OK"){
			jAlert("Exclusão realizada com sucessor", "Exclusão!");			
		}else{
			jAlert(data, "Exclusão!");		
		}
		
	});
}
  </script>