		<!-- Content -->
		<div id="content">

		    <!-- Content wrapper -->
		    <div class="wrapper">

			    <!-- Breadcrumbs line -->
			    <div class="crumbs">
			    	<?php echo $this->render('/helpers/breadcrumb.phtml') ?>
			    </div>
			    <!-- /breadcrumbs line -->

			    <!-- Page header -->
			    <div class="page-header">
			    	<div class="page-title">
				    	<h5>Novos alunos no sistema para Escolas</h5>
				    	<span>Visualize os novos alunos do sistema</span>
			    	</div>
			    	
			    </div>
			    <!-- /page header -->
			    
			    <?php if (isset($this->crudMessage)) : ?>
				<div class="alert alert-success">
                	<button data-dismiss="alert" class="close" type="button">×</button>
                    <strong>Operação realizada com sucesso!</strong>
	    			<span><br /><?php echo $this->crudMessage ?></span>
                </div>			    
			    <?php endif; ?>




	                        	                        
                <!-- Table with footer -->
                <div class="widget">
                	<form action="#" class="form-horizontal" method="post">
                		<input type="hidden" value="<?php echo (isset($this->post_var['sorting'])) ? $this->post_var['sorting'] : '' ?>" name="sorting" />
	                	<div class="navbar">
	                		<div class="navbar-inner">
	                			<h6>Visualizando registros</h6>
	                			<?php if (Mn_Util::isAccess($this->getController(), 'adicionar')) : ?>
	                			<a style="float:right;" href="<?php echo $this->baseUrl() ?>/<?php echo 'admin' ?>/<?php echo $this->getController() ?>/adicionar" class="btn btn-primary"><span class="icon-plus"></span>&nbsp;Adicionar aluno</a>
	                			<?php endif; ?>
	                		</div>
	                	</div>
	                    <div class="table-overflow">
	                        <table class="table table-content">
	                            <thead>
	                                <tr>
	                                    <th width="20">#</th>
                                    <th class="s-aluno sorting">Nome do aluno</th>
                                    <th class="s-datanascimento sorting">Nascimento</th>
                                    <th class="s-sexo sorting">Sexo</th>
                                    <th class="s-status sorting">Status</th>
									<th class="s-etapa_ensino sorting">Etapa ensino</th>
								    <th class="s-matricula sorting">Matrícula</th>

	                                    <th width="96">Ações</th>
	                                </tr>
	                                <tr>
	                                    <th></th>
										<th><input name="aluno" value="<?php echo (isset($this->post_var['aluno'])) ? $this->post_var['aluno'] : '' ?>" type="text" placeholder="Nome do aluno" class="span3"></th>

										<th>
											<input name="datanascimento_i" value="<?php echo (isset($this->post_var['datanascimento_i'])) ? Mn_Util::formPostVarData($this->post_var['datanascimento_i']) : '' ?>" type="text" placeholder="Nascimento inicial" class="span3">
											<input name="datanascimento_f" value="<?php echo (isset($this->post_var['datanascimento_f'])) ? Mn_Util::formPostVarData($this->post_var['datanascimento_f']) : '' ?>" type="text" placeholder="Nascimento final" class="span3">
										</th>

										<th>
											<div>
												<select name="sexo" placeholder="Todos" class="select">
													<option value="">Todos</option>
													<option value="Masculino">Masculino</option><option value="Feminino">Feminino</option>
												</select>
											</div>
										</th>

										<th>
											<div>
												<select name="etapa_ensino" placeholder="Todos" class="select">
													<option value="">Todos</option>
													<option value="Aluno">Aluno</option>
													<option value="Creche">Creche</option>
												</select>
											</div>
										</th>
 
										 <th>
												<select name="matricula" placeholder="Todos" class="select">
													<option value="">Todos</option>
													<option value="Pré Matrícula">Pré Matrícula</option>
													<option value="Fila">Fila</option>
													<option value="matricula">Matriculado</option>
												</select>
											 
										</th>

										<th>
											<div>
												<select name="status1" placeholder="Todos" class="select">
													<option value="">Todos</option>
                                                    <option value="Pré Matrícula">Pré Matrícula</option>
													<option value="Fila">Fila</option>
                                                    <option value="Matricula">Matriculado</option>
												</select>
											</div>
										</th>
                   

	                                    <th><button class="btn btn-mini btn-primary" type="submit">Pesquisar</button></th>
	                                </tr> 
	                                                                
	                            </thead>
	                            <tbody>
	                            	<?php if (sizeof($this->rows)==0) : ?>
	                                <tr>
	                                    <td colspan="6">Nenhum registro foi encontrado!</td>
	                                </tr>
	                            	
	                            	<?php else : ?>
	                            	<?php foreach ($this->rows as $row) : ?>
	                                <tr>
	                                	<td><?php echo $row['id'] ?></td>

										<td><?php echo $row['aluno'] ?></td>
										<td><?php echo date('d/m/Y', strtotime($row['datanascimento']))?></td>
										<td><?php echo $row['sexo'] ?></td>
										<td><?php echo $row['etapa_ensino'] ?></td>
										<td><?php echo $row['matricula'] ?></td>

										<td> 
										    <?php echo $row['status'] ?> 
										</td>
 
	                                    <td>
	                                        <ul class="table-controls">
	                                            <li><a title="" class="btn tip" href="<?php echo $this->baseUrl() ?>/<?php echo 'admin' ?>/<?php echo $this->getController() ?>/visualizar/id/<?php echo $row['id'] ?>" data-original-title="Visualizar"><i class="icon-eye-open"></i></a> </li>
	                                            <?php if (Mn_Util::isAccess($this->getController(), 'editar')) : ?>
	                                            <li><a title="" class="btn tip" href="<?php echo $this->baseUrl() ?>/<?php echo 'admin' ?>/<?php echo $this->getController() ?>/editar/id/<?php echo $row['id'] ?>" data-original-title="Editar"><i class="icon-pencil"></i></a> </li>
	                                            <?php endif;?>
	                                            <?php if (Mn_Util::isAccess($this->getController(), 'excluir')) : ?>
	                                            <li><a title="" class="btn tip" href="javascript:confirmDelete('<?php echo $row['id']; ?>','registro');" data-original-title="Excluir"><i class="icon-remove"></i></a> </li>
	                                            <?php endif; ?>
	                                        </ul>
	                                    </td>
	                                </tr>
	                            	<?php endforeach;?>
	                            	
	                            	
	                            	
	                            	
	                            	<?php endif; ?>
	
	                            </tbody>
	                        </table>
	                    </div>
	                    <?php echo $this->render('/helpers/paginator.phtml') ?>
                    
                    </form>

                </div>
                <!-- /table with footer -->
	                        


		    </div>
		    <!-- /content wrapper -->

		</div>
		<!-- content -->
		
		
<script type="text/javascript" src="<?php echo $this->baseUrl('/public/scripts/admin/censonovosalunos_index.js') ?>"></script>
<script type="text/javascript">

	var form_values = {};
	<?php if (isset($this->post_var)) :  ?>
form_values.idcentralvaga = '<?php echo (isset($this->post_var['idcentralvaga'])) ? $this->post_var['idcentralvaga'] : '' ?>';

form_values.sexo = '<?php echo (isset($this->post_var['sexo'])) ? $this->post_var['sexo'] : '' ?>';

form_values.filiacao1 = '<?php echo (isset($this->post_var['filiacao1'])) ? $this->post_var['filiacao1'] : '' ?>';

form_values.filiacao2 = '<?php echo (isset($this->post_var['filiacao2'])) ? $this->post_var['filiacao2'] : '' ?>';

form_values.temnomesocial = '<?php echo (isset($this->post_var['temnomesocial'])) ? $this->post_var['temnomesocial'] : '' ?>';

form_values.status1 = '<?php echo (isset($this->post_var['status1'])) ? $this->post_var['status1'] : $this->post_var['status'] ?>';

	
	<?php endif; ?>

	var sorting = ["idcentralvaga", "aluno", "datanascimento", "sexo", "filiacao1", "nomefiliacao1", "filiacao2", "nomefiliacao2", "painaodeclarado", "temnomesocial", "nomesocial", "status"];
	
</script>	


