                
                <?php foreach (Escolas::getEscolasHelper(array('status'=>'Ativo', 'idsecretaria'=>Usuarios::getSecretariaAtiva( Usuarios::getUsuario('id'), 'id' ))) as $k=>$v) : ?>
                    <input id="table-<?php echo $v['id'] ?>" type="hidden" value='<?php echo $v['latitude'] . "|" . $v['longitude'] . "|" . $v['escola'] ?>'>
                <?php endforeach;?> 

                
		<div id="content">

		    <!-- Content wrapper -->
		    <div class="wrapper">
			    <!-- Breadcrumbs line -->
			    <div class="crumbs">
			    	<?php echo $this->render('/helpers/breadcrumb.phtml') ?>
			    </div>
			    <!-- /breadcrumbs line -->

			    <!-- Page header -->
			    <div class="page-header">
			    	<div class="page-title">
                        <h5>Formulário do aluno </h5>
                        <span>Verifique os campos e preencha com os dados</span>
			    	</div>
			    </div>
			    <!-- /page header -->

			    <?php if (isset($this->crudMessage)) : ?>
                                <div class="alert alert-success">
	                	<button data-dismiss="alert" class="close" type="button">×</button>
	                    <strong>Operação realizada com sucesso!</strong>
		    			<span><br /><?php echo $this->crudMessage ?></span>
	                </div>			    
			    <?php endif; ?>

				<form id="form" name="form" action="" method="post" class="form-horizontal" enctype="multipart/form-data"> 
					<input type="hidden" value="<?php echo (isset($this->post_var)) ? $this->post_var["id"] : ''; ?>" name="id" id="id" />
					
					<fieldset>
						<!-- General form elements -->
						<div class="widget row-fluid">
						    <div class="navbar">
						        <div class="navbar-inner">
						            <h6>Digite as informações do formulário</h6>
						        </div>
						    </div>

						    <div class="well">
                                                        <?php if (isset($this->erros)) : ?>
									<div class="alert alert-error margin">
				                        <button data-dismiss="alert" class="close" type="button">×</button>
				                        <strong>Há erros no formulário!</strong>
                                                        <?php foreach ($this->erros as $k=>$v) : ?>
                                                                <span><br />- <?php echo $v ?></span>
                                                        <?php endforeach;?>			                        
				                    </div>
			                    <?php endif; ?>						    
	
                <div class="navbar">
                    <div id='controller-01' class="navbar-inner" style='cursor: pointer'>
                        <h6>Informações do Aluno Pré Inscrição</h6>
                    </div>
                </div>

                <div id='line-01' style='display: none'>
                

				<div class="control-group">
					<label class="control-label">Nome do aluno <span class="required">*</span></label>
					<div class="controls"><input id="nomealuno" maxlength="500" placeholder="Nome do aluno" name="aluno" value="<?php echo (isset($this->post_var['aluno'])) ? $this->post_var['aluno'] : '' ?>" type="text"  class="span3" /></div>
				</div>

				<div class="control-group">
					<label class="control-label">Nascimento <span class="required">*</span></label>
					<div class="controls"><input placeholder="Nascimento" name="datanascimento" value="<?php echo (isset($this->post_var['datanascimento'])) ? Mn_Util::formPostVarData($this->post_var['datanascimento']) : '' ?>" type="text"  class="span3" /></div>
				</div>

 
				<div class="control-group">
					<label class="control-label">Sexo <span class="required">*</span></label>
					<div class="controls">
						<select name="sexo" data-placeholder="Sexo" class="select">
							<option value="">Selecione...</option>
							<option value="Masculino">Masculino</option><option value="Feminino">Feminino</option>
						</select> 
					</div>
				</div>

				<div class="control-group">
					<label class="control-label">CPF do aluno </label>
					<div class="controls">
						<input maxlength="20" placeholder="cpf do aluno" name="cpfaluno" value="<?php echo (isset($this->post_var['cpfaluno'])) ? $this->post_var['cpfaluno'] : '' ?>" type="text"  class="span3" />
					</div>
				</div>

				<div class="control-group">
					<label class="control-label">Etnia do aluno </label>
					<div class="controls">
                        <select name='etnia' class='select'>
                            <option value=''>Selecione</option>
                            <option value='branco'>Branco</option>
                            <option value='negro'>Negro</option>
                            <option value='indigena'>Indígena</option>
                            <option value='pardo'>Pardo</option>
                            <option value='mulato'>Mulato</option>
                            <option value='cabloco'>Cabloco</option>
                            <option value='cafuzo'>Cafuzo</option>
                        </select>
                    
                    </div>
				</div>

				<div class="control-group">
					<label class="control-label">Portador Especialidade <span class="required">*</span></label>
					<div class="controls">
						<select name="portadorespecialidade" data-placeholder="Portador Especialidade" class="select" >
							<option value="">Selecione...</option>
							<option value="sim">sim</option>
							<option value="nao">não</option>
						</select> 
					</div>
				</div>
  
				<div class="control-group" id="tipo-deficiencia" style='display: block'>
                    <label class="control-label">Tipo de deficiência </label>
                    <div class="controls">
                        <select name="tipodeficiencia" data-placeholder="Tipo de deficiência" class="select">
                            <option value="">Selecione...</option>
                            <option value="Física">Física </option>
                            <option value="Mental">Mental</option>
                        </select> 
                    </div>
				</div>

				<div class="control-group" id="obs-deficiencia" style='display: block'>
					<label class="control-label">Observações deficiência</label>
					<div class="controls"><textarea class="span12" name="observacaodeficiencia" cols="5" rows="5"><?php echo (isset($this->post_var)) ? $this->post_var["observacaodeficiencia"] : ''; ?></textarea></div>
				</div>
                
                </div><!-- End Informações pessoais do aluno Div -->

                <div class="navbar">
                    <div id='controller-02' class="navbar-inner" style='cursor: pointer'>
                        <h6>Informações do Responsável Inscrição</h6>
                    </div>
                </div>

                <div id='line-02' style='display: none'>

				<div class="control-group">
					<label class="control-label">Filiação 1 <span class="required">*</span></label>
					<div class="controls">
                        <select name="filiacao1" data-placeholder="Filiação 1" class="select">
                                <option value="">Selecione...</option>
                                <option value="Pai">Pai</option>
                                <option value="Mãe">Mãe</option>
                                <option value="Outros">Outros</option>
                        </select>
					</div>
				</div>


				<div class="control-group">
                                    <label class="control-label">Nome Filiação <span class="required">*</span></label>
					<div class="controls"><input maxlength="500" placeholder="Filiação 1" name="nomefiliacao1" value="<?php echo (isset($this->post_var['nomefiliacao1'])) ? $this->post_var['nomefiliacao1'] : '' ?>" type="text"  class="span3" /></div>
				</div>

				<div class="control-group">
                    <label class="control-label">Pai não declarado <span class="required">*</span></label>
                    <div class="controls">
                            <select name="painaodeclarado" data-placeholder="Pai não declarado" class="select">
                                    <option value="">Selecione</option>
                                    <option value="sim">Sim</option>
                                    <option value="nao">Não</option>
                            </select> 
                    </div>
				</div>

				<div class="control-group">
                    <label class="control-label">Tem nome social <span class="required">*</span></label>
                    <div class="controls">
                            <select name="temnomesocial" data-placeholder="Tem nome social" class="select">
                                <option value="">Selecione...</option>
                                <option value="sim">Sim</option>
                                <option value="nao">Não</option>
                            </select> 
                    </div>
				</div>


				<div id='box-nomesocial' class="control-group" style='display: none'>
					<label class="control-label">Nome social </label>
					<div class="controls"><input maxlength="500" placeholder="Nome social" name="nomesocial" value="<?php echo (isset($this->post_var['nomesocial'])) ? $this->post_var['nomesocial'] : '' ?>" type="text"  class="span3" /></div>
				</div>
  
				<div class="control-group">
					<label class="control-label">CPF do responsavel <span class="required">*</span></label>
					<div class="controls"><input maxlength="20" placeholder="cpf" name="cpffiliacao" value="<?php echo (isset($this->post_var['cpffiliacao'])) ? $this->post_var['cpffiliacao'] : '' ?>" type="text"  class="span3" /></div>
				</div>
 
				<div class="control-group">
					<label class="control-label">Nascimento Responsavel <span class="required">*</span></label>
					<div class="controls"><input placeholder="Nascimento Responsavel" name="datanascimentoresponsavel" value="<?php echo (isset($this->post_var['datanascimentoresponsavel'])) ? Mn_Util::formPostVarData($this->post_var['datanascimentoresponsavel']) : '' ?>" type="text"  class="span3" /></div>
				</div> 

                </div><!-- End Informações Responsável Div -->

                <div class="navbar">
                    <div id='controller-03' class="navbar-inner" style='cursor: pointer'>
                        <h6>Informações do Endereço</h6>
                    </div>
                </div>

                <div id='line-03' style='display: none'>


				<div class="control-group">
					<label class="control-label">cep <span class="required">*</span></label>
					<div class="controls"><input maxlength="10" placeholder="cep" name="cep" value="<?php echo (isset($this->post_var['cep'])) ? $this->post_var['cep'] : '' ?>" type="text"  class="span3" /></div>
				</div>

				<div class="control-group">
					<label class="control-label">endereco <span class="required">*</span></label>
					<div class="controls"><input maxlength="100" placeholder="endereco" name="endereco" value="<?php echo (isset($this->post_var['endereco'])) ? $this->post_var['endereco'] : '' ?>" type="text"  class="span3" /></div>
				</div>

				<div class="control-group">
					<label class="control-label">numero <span class="required">*</span></label>
					<div class="controls"><input maxlength="10" placeholder="numero" name="numero" value="<?php echo (isset($this->post_var['numero'])) ? $this->post_var['numero'] : '' ?>" type="text"  class="span3" /></div>
				</div>

				<div class="control-group">
                    <label class="control-label">Complemento </label>
                    <div class="controls">
                            <input maxlength="100" placeholder="Complemento" name="complemento" value="<?php echo (isset($this->post_var['complemento'])) ? $this->post_var['complemento'] : '' ?>" type="text"  class="span3" />
                    </div>
				</div>

				<div class="control-group">
					<label class="control-label">bairro <span class="required">*</span></label>
					<div class="controls"><input maxlength="50" placeholder="bairro" name="bairro" value="<?php echo (isset($this->post_var['bairro'])) ? $this->post_var['bairro'] : '' ?>" type="text"  class="span3" /></div>
				</div>
 
				<!--<div class="control-group">
					<label class="control-label">Estado </label>
					<div class="controls"><input maxlength="100" placeholder="Estado" name="estado" value="<?php echo (isset($this->post_var['estado'])) ? $this->post_var['estado'] : '' ?>" type="text"  class="span3" /></div>
				</div> -->
                                <div class="control-group">
                                    <label class="control-label">Estado <span class="required">*</span></label>
                                    <div class="controls">
                                        <select id="estado" name="estado" class="select"  onchange="setCidades(this, 0)">
                                            <option value="">Selecione...</option>
                                            <?php if (isset($this->estados)) : ?>
                                            <?php foreach ($this->estados as $i=>$row) : ?>
                                                    <option value="<?php echo $row['id'] ?>"><?php echo $row['nome'] ?></option>
                                            <?php endforeach; ?>
                                            <?php else : ?>
                                            <?php foreach (Estados::getEstadosHelper() as $i=>$row) : ?>
                                                    <option value="<?php echo $row['id'] ?>"><?php echo $row['nome'] ?></option>
                                            <?php endforeach; ?>
                                            <?php endif; ?>
                                        </select>  			
                                     </div>
                                </div>
			 

				<div class="control-group">
					<label class="control-label">cidade <span class="required">*</span></label>
					<div class="controls"><input maxlength="100" placeholder="cidade" name="cidade" value="<?php echo (isset($this->post_var['cidade'])) ? $this->post_var['cidade'] : '' ?>" type="text"  class="span3" /></div>
				</div>

                </div><!-- End Informações Responsável Div -->

                
                <div class="navbar">
                    <div id='controller-04' class="navbar-inner" style='cursor: pointer'>
                        <h6>Informações de Contato</h6>
                    </div>
                </div>

                <div id='line-04' style='display: none'>


				<div class="control-group">

                    <label class="control-label">Tipotelefone 1 <span class="required">*</span></label>

                    <select name='tipotelefone1' class='select'>
                        <option value='Residencial'>Residencial</option>
                        <option value='Comercial'>Comercial</option>
                        <option value='Recados'>Recados</option>
                        <option value='Outros'>Outros</option>
                    </select>
					
					
				</div>

				<div class="control-group">
					<label class="control-label">Numerotelefone 1 <span class="required">*</span></label>
					<div class="controls"><input maxlength="20" placeholder="Numerotelefone 1" name="numerotelefone1" value="<?php echo (isset($this->post_var['numerotelefone1'])) ? $this->post_var['numerotelefone1'] : '' ?>" type="text"  class="span3" /></div>
				</div>

				<div class="control-group">

                    <label class="control-label">Tipotelefone 1 <span class="required">*</span></label>
                    
                    <select name='tipotelefone2' class='select'>
                        <option value='Residencial'>Residencial</option>
                        <option value='Comercial'>Comercial</option>
                        <option value='Recados'>Recados</option>
                        <option value='Outros'>Outros</option>
                    </select>
					
				</div>

				<div class="control-group">
					<label class="control-label">Numerotelefone 2 </label>
					<div class="controls"><input maxlength="20" placeholder="Numerotelefone 2" name="numerotelefone2" value="<?php echo (isset($this->post_var['numerotelefone2'])) ? $this->post_var['numerotelefone2'] : '' ?>" type="text"  class="span3" /></div>
				</div>

				<div class="control-group">
					<label class="control-label">email </label>
					<div class="controls"><input maxlength="100" placeholder="email" name="email" value="<?php echo (isset($this->post_var['email'])) ? $this->post_var['email'] : '' ?>" type="text"  class="span3" /></div>
				</div>

                 </div><!-- End Informações Responsável Div -->

                <?php if($this->getAction()=="adicionar"): ?>
                    <div class="control-group">
                        <label class="control-label">Código de inscrição </label>
                        <?php
                                $codigoGerado = rand(999,9999999) . " - " . date("Ymdhs");
                        ?>
                        <strong><?php echo $codigoGerado ?></strong>
                        <input maxlength="50" placeholder="Código inscrição " name="codigoinscricao" value="<?php echo (isset($this->post_var['codigoinscricao'])) ? $this->post_var['codigoinscricao'] : $codigoGerado ?>" type="hidden"  class="span3" /></div>
                    </div>
                <?php else: ?>
                    <div class="control-group">
                        <label class="control-label">Código de inscrição </label>
                        <div class="controls"><h5><?php echo (isset($this->post_var['codigoinscricao'])) ? $this->post_var['codigoinscricao'] : rand(999,9999999) . " - " . date("Ymdhs") ?></h5>
                        <input maxlength="50" placeholder="Código inscrição " name="codigoinscricao" value="<?php echo (isset($this->post_var['codigoinscricao'])) ? $this->post_var['codigoinscricao'] : '' ?>" type="hidden"  class="span3" /></div>
                    </div>
                <?php endif; ?>
				

                 <div class="navbar">
                    <div id='controller-05' class="navbar-inner" style='cursor: pointer'>
                        <h6>Informações Sociais</h6>
                    </div>
                </div>

                <div id='line-05' style='display: none'>



				<div class="control-group">
					<label class="control-label">Nis </label>
					<div class="controls"><input maxlength="20" placeholder="Nis" name="nis" value="<?php echo (isset($this->post_var['nis'])) ? $this->post_var['nis'] : '' ?>" type="text"  class="span3" /></div>
				</div>

				<div class="control-group">
					<label class="control-label">Renda familiar </label>
					<div class="controls"><input maxlength="20" placeholder="Renda familiar" name="rendafamiliar" value="<?php echo (isset($this->post_var['rendafamiliar'])) ? $this->post_var['rendafamiliar'] : '' ?>" type="text"  class="span3" /></div>
				</div>

				<div class="control-group">
					<label class="control-label">Moradores residencia</label>
					<div class="controls"><input maxlength="20" placeholder="Moradores Residencia" name="moradoresresidencia" value="<?php echo (isset($this->post_var['moradoresresidencia'])) ? $this->post_var['moradoresresidencia'] : '' ?>" type="text"  class="span3" /></div>
				</div>

				<div class="control-group">
                                    <label class="control-label">Status Profissional</label>
                                    <div class="controls"><input maxlength="20" placeholder="Status Profissional" name="statusprofissional" value="<?php echo (isset($this->post_var['statusprofissional'])) ? $this->post_var['statusprofissional'] : '' ?>" type="text"  class="span3" /></div>
				</div>

                </div><!-- End Informações Responsável Div -->

				<!-- <div class="control-group">
                    <label class="control-label">Escolas<span class="required">*</span></label>
                    <div class="controls">
                        <select id='escola'  data-placeholder="Escolas" class="select">
                            <option value="selecione">Selecione...</option>
                            <?php foreach (Escolas::getEscolasHelper(array('status'=>'Ativo', 'idsecretaria'=>Usuarios::getSecretariaAtiva( Usuarios::getUsuario('id'), 'id' ))) as $k=>$v) : ?>
                            <option value="<?php echo $v['id'] ?>"><?php echo $v['escola'] . " - " . $v['longitude'] ?></option>
                            <?php endforeach;?>
                        </select>
                    </div>
				</div> -->

                <div class="navbar">
                    <div id='controller-06' class="navbar-inner" style='cursor: pointer'>
                        <h6>Informações Sobre a Matrícula</h6>
                    </div>
                </div>

                <div id='line-06' style='display: none'>

                    <div class="control-group">
                            <label class="control-label"> Escola <span class="required">*</span></label>
                            <div class="controls">
                                <input name="idselectescola" type='hidden'>
                                <select name="escolassets" class="select" disabled>
                                    <option value="">Selecione na Tabela</option>
                                    <?php

                                            $escolas = new Escolas();

                                            $escolasList = $escolas->getEscolasHelper();

                                            foreach($escolasList as $index):
                                                    echo "<option value='" . $index['escola'] . "'>" . $index['escola'] .  "</option>";
                                            endforeach;

                                    ?>
                                </select> 
                            </div>
                        </div>	

                                
                                <?php //if($this.getAction()=="adicionar"): ?>

                                <?php //endif;  ?>            
                                


				<!-- <div class="control-group">
					<label class="control-label">Série </label>
					<div class="controls"><input maxlength="100" placeholder="Série" name="serie" value="<?php echo (isset($this->post_var['serie'])) ? $this->post_var['serie'] : '' ?>" type="text"  class="span3" /></div>
				</div>	 -->
 
				<!-- <div class="control-group">
					<label class="control-label">Série <span class="required">*</span></label>
					<div class="controls">
						<select name="serie" data-placeholder="Série" class="select">
							<option value="">Selecione...</option>	
						    <?php foreach (Escolasseries::getEscolasseriesHelper(array('status'=>'Ativo', 'idsecretaria'=>Usuarios::getSecretariaAtiva( Usuarios::getUsuario('id'), 'id' ))) as $k=>$v) : ?>						
							<option value="<?php echo $v['id'] ?>"><?php echo $v['serie'] ?></option>
							<?php endforeach;?>
						</select> 
					</div>
				</div> -->

				<div class="control-group">
					<label class="control-label">Etapa de ensino<span class="required">*</span></label>
					<div class="controls">
						<select name="etapa" data-placeholder="etapa" class="select">
							<option value="">Selecione...</option>
							<option value="creche">Creche</option>
							<option value="aluno">Aluno</option>
						</select> 
					</div>
				</div>
 
				<div class="control-group">
					<label class="control-label">Data de corte<span class="required">*</span></label>
					<div class="controls">
						<select name="datadecorte" data-placeholder="datadecorte" class="select">
							<option value="">Selecione...</option> 
							<?php foreach ($this->censocortes as $cortes) : ?>
								<option value="<?php echo $cortes['id'] ?>"><?php echo $cortes['nome'] . " " . $cortes['id'] ?></option>	
							<?php endforeach; ?> 
						</select> 
					</div>
				</div>	

		 
				<div class="control-group">
					<label class="control-label">Matricula <span class="required">*</span></label>
					<div class="controls">
						<select name="matricula" data-placeholder="matricula" class="select">
							<option value="">Selecione...</option>
							<option value="Pré Matrícula">Pré Matrícula</option>
							<option value="Fila">Fila</option>
							<?php if($this->getAction()!="adicionar"): ?>
								<?php if($this->alunomatricula['matricula'] == "Fila"): ?>
									<option value="matricula">Matriculado</option>
								<?php endif; ?>
								<option value="Cancelado">Cancelado</option>
							<?php endif; ?>
						</select> 
					</div>
				</div>

                <div class="control-group">
					<label class="control-label"> Tipo de Ensino <span class="required">*</span></label>
					<div class="controls">
						<select name="ensinoset" data-placeholder="Status" class="select">
                            <option value=''> Todos </option>
                            <?php
                            
                            $ensinos = new Escolastiposensinosgdae();
                            $ensinoLista = $ensinos-> getTiposensinosgdae(array('status'=>'Ativo'),0,0);

                            foreach($ensinoLista as $index): ?>

                                <?php echo "<option value='" . $index['id'] . "'>" . $index['descricoes'] . "</option>" ?>
                            <?php endforeach; ?>
						</select> 
					</div>
				</div>	
                
				<div class="control-group">
					<label class="control-label">Status <span class="required">*</span></label>
					<div class="controls">
						<select name="status1" data-placeholder="Status" class="select">
							<option value="">Selecione...</option> 
							<option value="Ativo">Ativo</option>
							<option value="Desativado">Desativado</option>
						</select> 
					</div>
				</div>	

                <!-- =================================================================================================== -->

                </div><!-- End Informações Responsável Div -->

                <div id="tittle"></div>
              
                
                <input name='distanciaset' type='hidden' value='<?php echo (isset($this->post_var['distancia'])) ? $this->post_var['distancia']  : '' ?>'>
                <input id='auxiliar' type='hidden'>

                <!-- <div class="control-group">
					<label class="control-label"> Escola <span class="required">*</span></label>
					<div class="controls">
						<select name="escolasset" data-placeholder="Status" class="select" disabled>
							<option>Selecione uma escola</option>
						</select> 
					</div>
				</div>	 -->


              

                <!-- =================================================================================================== -->

                                        <!-- latitude longitude hidden -->                                                                                      <!-- latitude longitude hidden -23.320297 46.228868  -->
					<div class="controls"><input id="latitude" type="hidden" maxlength="100" placeholder="latitude" name="latitude" value="<?php echo (isset($this->post_var['latitude'])) ? $this->post_var['latitude'] : '-23.320297' ?>" type="text"  class="span3" /></div>			 
					<div class="controls"><input id="longitude" type="hidden" maxlength="100" placeholder="longitude" name="longitude" value="<?php echo (isset($this->post_var['longitude'])) ? $this->post_var['longitude'] : '-46.228868' ?>" type="text"  class="span3" /></div>
                                        
                                        
                                            <?php //if (((isset($this->visualizar)) && ($this->visualizar)) || ($this->getAction()=="adicionar" ) ) : ?>
                                                    
                                            <?php if(false) : ?>
                                            
                                            <?php else : ?> 
                                                    
                                                    <script  defer                      
                                                        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAlHzImDCagrOppCrUjRU2FT__KHKsUYhs&callback=initMap">
                                                    </script>                     
                                                    
                                                    <div class="control-group">
                                                        <div class="widget row-fluid">
                                                            <div class="navbar">
                                                                <div class="navbar-inner">
                                                                    <h6>Localização do Aluno</h6>
                                                                </div>
                                                            </div>
                                                            <div>
                                                                <table class="table">
                                                                    <tr>
                                                                        <td><div class="btn btn-info btn-block" style="cursor: pointer" onclick="demandastotaldevagas()">Total de Vagas</div></td> 
                                                                        <td><div class="btn btn-info btn-block" style="cursor: pointer" onclick="demandastotaldemanda()">Total Demanda</div></td>
                                                                        <td><div class="btn btn-info btn-block" style="cursor: pointer" onclick="demandastotalalunosmatriculados()">Total Alunos Matriculados</div></td>
                                                                        <!-- <td><div class="btn btn-info btn-block" style="cursor: pointer" onclick="demandastotalalunosatribuidos()">Total Alunos Atribuidos</div></td>  -->
                                                                        <td><div class="btn btn-info btn-block" style="cursor: pointer" onclick="localpreinscrito()">Local do Pre Inscrito</div></td> 
                                                                        <td><div class="btn btn-warning btn-block" style="cursor: pointer" onclick="gerarhanking()">Gerar Ranking</div></td> 
                                                                    </tr>
                                                                </table>
                                                            </div>
                                                            <div id="loading-map" style="padding:70px;">
                                                                <center><img src="<?php echo $this->baseUrl() . "/public/default/imagens/gif-loading.gif" ?>" width="80"></center>  
                                                            </div>
                                                            <div id="map" style="width: 100%; height: 400px;"></div>
                                                            <div class="control-group">
                                                                <div class="widget-fluid">
                                                                    <!-- Table com Ranking de escolas mais próximas para o aluno escolido -->
                                                                    <div id='ranking' class="navbar">
                                                                        <div class="navbar-inner">
                                                                            <h6> Ranking de Escolas <small>distancias a pé menores que 2km ficarão verdes</small> </h6>
                                                                        </div>
                                                                    </div>
                                                                    <table id="table-ranking" class="table table-striped table-hover">
                                                                        <thead>
                                                                            <tr>
                                                                            <!-- 1 --> <th> Escola </th>
                                                                            <!-- 2 --> <!--<th style='text-align: center'>Total Vagas Manhã</th>-->
                                                                            <!-- 3 --> <!--<th style='text-align: center'>Total Vagas Tarde</th>-->
                                                                            <!-- 4 --> <!--<th style='text-align: center'>Total Vagas Noite</th>-->
                                                                            <!-- 5 --> <!--<th style='text-align: center'>Total Turmas</th>-->
                                                                            <!-- 6 --> <th> Distância da Rota </th>
                                                                            <!-- 7 --> <th> Tempo de Viagem </th>
                                                                            <!-- 8 --> <th></th>
                                                                            <!-- 9 --> <th></th>
                                                                            <!-- 10 -->
                                                                            <!-- 11 -->
                                                                            <!-- 12 -->
                                                                            </tr>
                                                                        </thead>
                                                                        <tbody name='table-ranking-content'>
                                                                            
                                                                        </tbody>
                                                                    </table>
                                                                    
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    
                                            <?php endif; ?>
                                        
                                       
                                        
						    </div>
						    
			                <div class="form-actions align-right">
                                            
                                <?php if ((isset($this->editar)) && ($this->editar)) : ?>
                                        <button onclick="window.history.back()" class="btn btn-danger cancelar" type="button">Voltar</button>
                                <?php else : ?> 
                                        <button class="btn btn-primary enviar" type="submit">Salvar</button>
                                        <button onclick="window.history.back()" class="btn btn-danger cancelar" type="button">Cancelar</button>
                                <?php endif; ?>
                                            
			                </div>
                    </div>
                                            <!-- /general form elements -->
					</fieldset> 
				</form>
				<!-- /basic inputs -->
		    </div>
		    <!-- /content wrapper -->
		</div>
		<!-- content -->
<!-- Modal -->
<div class="modal fade" id="modaldetalhes" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Tipo</th>
                        <th>Ano</th>
                        <th>Turma</th>
                        <th>Período / Horário</th>
                        <th>Total Vagas</th>            
                    </tr>
                </thead>
                <tbody id="table-escola-resultados">
                    <tr>
                        <td>1</td>
                        <td>Fundamental</td>
                        <td>1</td>
                        <td>15</td>
                        <td>20</td>
                        <td>2</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>Infantil</td>
                        <td>2</td>
                        <td>10</td>
                        <td>25</td>
                        <td>10</td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>Fundamental</td>
                        <td>1</td>
                        <td>15</td>
                        <td>20</td>
                        <td>2</td> 
                    </tr>
                </tbody>

            </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<!-- End Modal -->  


<script type="text/javascript" src="<?php echo $this->baseUrl('/public/scripts/admin/censonovosalunos_form.js') ?>"></script>
<script src="https://maps.google.com/maps/api/js?sensor=false&key=AIzaSyAlHzImDCagrOppCrUjRU2FT__KHKsUYhs"></script>   
<script type="text/javascript">

    

	var form_values = {};
	
	<?php if (isset($this->post_var)) :  ?>
		form_values.idcentralvaga = '<?php echo (isset($this->post_var['idcentralvaga'])) ? $this->post_var['idcentralvaga'] : '' ?>';

                form_values.sexo = '<?php echo (isset($this->post_var['sexo'])) ? $this->post_var['sexo'] : '' ?>';
                form_values.serie = '<?php echo (isset($this->post_var['serie'])) ? $this->post_var['serie'] : '' ?>';
                form_values.escola = '<?php echo (isset($this->post_var['escola'])) ? $this->post_var['escola'] : '' ?>';
                form_values.estado = '<?php echo (isset($this->post_var['estado'])) ? $this->post_var['estado'] : '' ?>';
                form_values.matricula = '<?php echo (isset($this->post_var['matricula'])) ? $this->post_var['matricula'] : '' ?>';
                form_values.tipodeficiencia = '<?php echo (isset($this->post_var['tipodeficiencia'])) ? $this->post_var['tipodeficiencia'] : '' ?>';

                form_values.filiacao1 = '<?php echo (isset($this->post_var['filiacao1'])) ? $this->post_var['filiacao1'] : '' ?>';

                form_values.filiacao2 = '<?php echo (isset($this->post_var['filiacao2'])) ? $this->post_var['filiacao2'] : '' ?>';

                form_values.temnomesocial = '<?php echo (isset($this->post_var['temnomesocial'])) ? $this->post_var['temnomesocial'] : '' ?>';
                form_values.auxiliosocial = '<?php echo (isset($this->post_var['auxiliosocial'])) ? $this->post_var['auxiliosocial'] : '' ?>';

                form_values.status1 = '<?php echo ((isset($this->post_var['status1'])) ? $this->post_var['status1'] : (isset($this->post_var['status'])) ? $this->post_var['status'] : '') ?>';

                form_values.portadorespecialidade = '<?php echo (isset($this->post_var['portadorespecialidade'])) ? $this->post_var['portadorespecialidade'] : '' ?>';
                form_values.etapa = '<?php echo (isset($this->post_var['etapa'])) ? $this->post_var['etapa'] : '' ?>';
                form_values.etapa_ensino = '<?php echo (isset($this->post_var['etapa_ensino'])) ? $this->post_var['etapa_ensino'] : '' ?>';
                form_values.datadecorte = '<?php echo (isset($this->post_var['datadecorte'])) ? $this->post_var['datadecorte'] : '' ?>';
                form_values.painaodeclarado = '<?php echo (isset($this->post_var['painaodeclarado'])) ? $this->post_var['painaodeclarado'] : '' ?>';

                form_values.id_tipo_ensino = '<?php echo (isset($this->post_var['id_tipo_ensino'])) ? $this->post_var['id_tipo_ensino'] : '' ?>';
                
               
    
	<?php endif; ?>

	visualizar = <?php echo  ((isset($this->visualizar)) && ($this->visualizar))  ? 'true' : 'false' ?>;

    var arra = new Array();



//$("select[name=escolasset]").closest('div').find('span').html('Selecione...');


/*
	function abreCamposEspecialidade() {
		var z = document.getElementById("portadorespecialidade").value;
		if(z == "Sim"){
			$("#tipo-deficiencia").show();
			$("#obs-deficiencia").show();
		}

		if(z == "Não"){
			$("#tipo-deficiencia").hide();
			$("#obs-deficiencia").hide();
		}//end if
	}//end function 
 */       
        // function setaEscola(){
            
        //     var frase = "448",
        //     localizado = null;

        //     // loop que percorre cada uma das opções
        //     // e verifica se a frase da opção confere com o
        //     // valor de fase que está sendo procurado
        //     $('#escola option').each(function() {
        //       // se localizar a frase, define o atributo selected
        //       if($(this).text() == frase){
        //         $(this).attr('selected', true);
        //       }
        //     });
        // }//end function
       
       
        // var Escola = class {
            
        //     constructor(altura, largura){
        //       this.idEscola;
        //       this.nomeEscola;
        //       this.latitude;
        //       this.longitude;
        //       this.distancia;
        //       this.distanciaText;
        //       this.duracao;
        //       this.distanciaAuto;
        //       this.distanciaAutoText;
        //       this.duracaoAuto;
        //       this.ranking;
        //     }//end constructor
        // };
        
        
        // function carregaValores(){
            
        //     for(var i = 0; i <= 4000; i++){
        //         if(document.getElementById('table-' + i)){
                    
        //             // Quebrando os elementos para a inserção na classe a ser criada
        //             var inputGet = document.getElementById('table-' + i);
        //             var valores = inputGet.value.split("|");
        //             // Instanciando objetos a serem ordenados
        //             var objEscola = new Escola();
        //             // Inserindo valores dos objetos de acordo com as regras
        //             objEscola.idEscola = i;
        //             objEscola.nomeEscola = valores[2];
        //             objEscola.latidude = valores[0];  //parseFloat("-23.480116"); //
        //             objEscola.longitude = valores[1];
        //             var origem = objEscola.latidude + "," + objEscola.longitude;
        //             var destino = document.getElementById("latitude").value + "," + document.getElementById("longitude").value;
                    
        //             CalculaDistancia(destino, origem, objEscola);
                    
        //         }//end if
        //     }//end for
        // }//end function carregaValores
      
        // function retornaDistancia(origem, destino){
            
        //     //alert(origem + " ** " + destino);
        //     var randomico = Math.floor((Math.random() * 1000) + 1);
        //     //alert(origem + "|" + destino);
        //     CalculaDistancia("-23.480111,-46.357611",destino);
        //     //alert("retorna -> " + randomico );
        //     return randomico;
        // }//end retornaDistancia
        
        // // function CalculaDistancia(origem, destino, objEscola){
           
        // //     var service = new google.maps.DistanceMatrixService();
        // //     var distancia;
        // //     service.getDistanceMatrix(
        // //     {
        // //         origins: [origem],
        // //         destinations: [destino],
        // //         travelMode: google.maps.TravelMode.WALKING
        // //     },function(response, status){
               
        // //         objEscola.distancia = response.rows[0].elements[0].distance.text;
        // //         document.getElementById("table-" + objEscola.idEscola).value = objEscola.idEscola + "|" + objEscola.nomeEscola + "|" + objEscola.latidude + "|" + objEscola.longitude + "|" + response.rows[0].elements[0].distance.value + "|" + response.rows[0].elements[0].distance.text + "|" + response.rows[0].elements[0].duration.text;
        // //     });
                
        // // }//end function CalculaDistancia
     
        
        // function callback(response, status){
        //     alert("callback");
        //     if (status == google.maps.DistanceMatrixStatus.OK){
        //         alert("Distância:" + response.rows[0].elements[0].distance.text);
        //     }//end if
        // }//end function callback

        

        // function retornarValores(){
            
        //     for(var i = 0; i <= 4000; i++){
        //         if(document.getElementById('table-' + i)){
                    
        //             // Quebrando os elementos para a inserção na classe a ser criada
        //             var inputGet = document.getElementById('table-' + i);
        //             var valores = inputGet.value.split("|");
        //             // Instanciando objetos a serem ordenados
        //             var objEscola = new Escola();
        //             // Inserindo valores dos objetos de acordo com as regras
        //             objEscola.idEscola = i;
        //             objEscola.nomeEscola = valores[1];
        //             objEscola.latitude = valores[2];
        //             objEscola.longitude = valores[3];
        //             objEscola.distancia = valores[4];
        //             objEscola.distanciaText = valores[5];
        //             objEscola.duracao = valores[6];
        //             arra.push(objEscola);
                    
        //         }//end if
        //     }//end for
            
        //     // Efetua o sort no array
        //     for(var i = 0; i < arra.length; i++){
        //         for(var y = 0 ; y < (arra.length-1); y++){
        //             if(arra[y].distancia > arra[y+1].distancia){
        //                 //alert(arra[y].distancia + " maior que " + arra[y+1].distancia);
        //                 var aux = arra[y];
        //                 arra[y] = arra[y+1];
        //                 arra[y+1] = aux;
        //             }//end if
        //         }//end for
        //     }//end for
           
        //     //alert("largura" + arra.length);
        //     var distanciaMinima = 2000; // distancia mínima requeria para alertar o usuário na tabela de ranking  em km
        //     var distanciaMaxima = 0000; // distancia máxima requerida para alertar distancias muito longas
            
        //     if(arra[0].distancia < distanciaMinima){
        //         $('#linha-um').addClass('success');
        //     }//end if
        //     //alert(arra[0].distancia);
        //     //  Blocos de Tratamento para sinalizar distancias próximas e extremamente inviáveis
        //     if(arra[1].distancia <= distanciaMinima){
        //         $('#linha-dois').addClass('success');
        //     }//end if
            
        //     if(arra[2].distancia <= distanciaMinima){
        //         $('#linha-tres').addClass('success');
        //     }//end if
            
        //     if(arra[3].distancia <= distanciaMinima){
        //         $('#linha-quatro').addClass('success');
        //     }//end if
            
        //     document.getElementById('opcao-um').innerHTML = arra[0].nomeEscola;
        //     document.getElementById('opcao-dois').innerHTML = arra[1].nomeEscola;
        //     document.getElementById('opcao-tres').innerHTML = arra[2].nomeEscola;
        //     document.getElementById('opcao-quatro').innerHTML = arra[3].nomeEscola;
            
        //     document.getElementById('distancia-um').innerHTML = arra[0].distanciaText;
        //     document.getElementById('distancia-dois').innerHTML = arra[1].distanciaText;
        //     document.getElementById('distancia-tres').innerHTML = arra[2].distanciaText;
        //     document.getElementById('distancia-quatro').innerHTML = arra[3].distanciaText;
            
        //     document.getElementById('tempo-um').innerHTML = arra[0].duracao;
        //     document.getElementById('tempo-dois').innerHTML = arra[1].duracao;
        //     document.getElementById('tempo-tres').innerHTML = arra[2].duracao;
        //     document.getElementById('tempo-quatro').innerHTML = arra[3].duracao;
            
        //     //alert("xx latitude " + arra[1].latitude + "longitude " + arra[1].longitude);
            
        //     var map = new google.maps.Map(document.getElementById('map'), {
        //             zoom: 14,
        //             zoomControl: true,
        //             mapTypeControl: true,
        //             scaleControl: false,
        //             streetViewControl: false,
        //             rotateControl: false,
        //             fullscreenControl: false,
        //             center: {lat: latude, lng: longitude}
        //     });
            
        //     var latitudeAluno = parseFloat(document.getElementById("latitude").value);
        //     var longitudeAluno = parseFloat(document.getElementById("longitude").value);
        //     var nomeAluno = document.getElementById("nomealuno").value;
            
            
        //     var marker = new google.maps.Marker({
        //         position: {lat: latitudeAluno, lng: longitudeAluno},
        //         icon: {
        //             icon: null,
        //             scale: 1
        //         },
        //         draggable: true,
        //         map: map,
        //         label: { text: nomeAluno },
        //     });
            
        //     var marker = new google.maps.Marker({
        //         position: {lat: parseFloat(arra[0].latitude), lng: parseFloat(arra[0].longitude)},
        //         icon: {
        //             icon: null,
        //             scale: 1
        //         },
        //         draggable: false,
        //         map: map,
        //         label: { text: arra[0].nomeEscola },
        //     });
        //     //alert("latitude : " + arra[2].latitude + " longitude" + arra[2].longitude);
        //     var marker = new google.maps.Marker({
        //         position: {lat: parseFloat(arra[1].latitude), lng: parseFloat(arra[1].longitude)},
        //         icon: {
        //             icon: null,
        //             scale: 1
        //         },
        //         draggable: false,
        //         map: map,
        //         label: { text: arra[1].nomeEscola},
        //     });
            
        //      var marker = new google.maps.Marker({
        //         position: {lat: parseFloat(arra[2].latitude), lng: parseFloat(arra[2].longitude)},
        //         icon: {
        //             icon: null,
        //             scale: 1
        //         },
        //         draggable: false,
        //         map: map,
        //         label: { text: arra[2].nomeEscola},
        //     });
            
        //     var marker = new google.maps.Marker({
        //         position: {lat: parseFloat(arra[3].latitude), lng: parseFloat(arra[3].longitude)},
        //         icon: {
        //             icon: null,
        //             scale: 1
        //         },
        //         draggable: false,
        //         map: map,
        //         label: { text: arra[3].nomeEscola},
        //     });
            
        //     var directionsService = new google.maps.DirectionsService;
        //     var directionsDisplay = new google.maps.DirectionsRenderer({
        //         draggable: true,
        //         map: map,
        //         //panel: document.getElementById('right-panel')
        //     });
        //     var origem = {lat: latitudeAluno, lng: longitudeAluno};  // origem corresponde a residência do aluno interessado no pré cadastro
        //     var destino = {lat: parseFloat(arra[0].latitude), lng: parseFloat(arra[0].longitude)}; // destino corresponde a escola mais próxima encontrada pelas rotas do google maps
        //     displayRoute(origem, destino, directionsService,
        //     directionsDisplay);
            
        //     //limpando o array
        //     arra.length = 0;
            
            
        // }//end function retornavalores
        
        // function displayRoute(origin, destination, service, display){
        //     service.route({
        //       origin: origin,
        //       destination: destination,
        //       //waypoints: [{location: 'Adelaide, SA'}, {location: 'Broken Hill, NSW'}],
        //       travelMode: 'WALKING',
        //       avoidTolls: true
        //     }, function(response, status) {
        //       if (status === 'OK') {
        //         display.setDirections(response);
        //       } else {
        //         alert('Não foi possível encontra uma rota válida: ' + status);
        //       }
        //     });
        //   }
          
</script>
                                     