<div class="control-group">
	<label class="control-label">Idade <span class="required">*</span></label>
	<div class="controls visualizar">
		<?php $data = date('Y-m-d', strtotime($this->post_var['nascimento'])); ?>
		<?php $dataf = date('Y-m-d') - $data; ?>
		<?php echo ($dataf) ? $dataf : '--' ?>
	</div>
</div>


<div class="control-group">
	<label class="control-label">RG <span class="required">*</span></label>
	<div class="controls visualizar">
		<?php echo ($this->post_var['rg']) ? $this->post_var['rg'] : '--' ?>
	</div>
</div>

<div class="control-group">
	<label class="control-label">CPF <span class="required">*</span></label>
	<div class="controls visualizar">
		<?php echo ($this->post_var['cpfcnpj']) ? $this->post_var['cpfcnpj'] : '--' ?>
	</div>
</div>

<div class="control-group">
	<label class="control-label">Telefone <span class="required">*</span></label>
	<div class="controls visualizar">
		<?php echo ($this->post_var['telefoneresidencial']) ? $this->post_var['telefoneresidencial'] : '--' ?>
	</div>
</div>

<div class="control-group">
	<label class="control-label">Endereço <span class="required">*</span></label>
	<div class="controls visualizar">
		<?php 
		if((int)$this->post_var['idendereco'] > 0): 
			$endereco = Enderecos::getEnderecoById((int)$this->post_var['idendereco']); ?>
		
			<?php 
			
				$_endereco = "";
				if($endereco['endereco']): 
					if($endereco['endereco']):
						$_endereco .= "Endereço: " . $endereco['endereco'] . " <br />";
					endif;

					if($endereco['numero']):
						$_endereco .= "Nº: " . $endereco['numero'] . " <br />";
					endif;

					if($endereco['complemento']):
						$_endereco .= "Complemento: " . $endereco['complemento'] . " <br />";
					endif;

					if($endereco['bairro']):
						$_endereco .= "Bairro: " . $endereco['bairro'] . " <br />";
					endif;

					if($endereco['cidade']):
						$_endereco .= "Cidade: " . $endereco['cidade'] . " <br />";
					endif;

					if($endereco['uf']):
						$_endereco .= "Estado: " . $endereco['uf'] . " <br />";
					endif;
				endif;
				echo $_endereco;
				?>

		<?php else: ?>
			--
		<?php endif; ?>
	</div>
</div>

<div class="control-group">
	<label class="control-label">Nome do pai <span class="required">*</span></label>
	<div class="controls visualizar">
		<?php echo ($this->post_var['nomepai']) ? $this->post_var['nomepai'] : '--' ?>
	</div>
</div>

<div class="control-group">
	<label class="control-label">Nome da mãe <span class="required">*</span></label>
	<div class="controls visualizar">
		<?php echo ($this->post_var['nomemae']) ? $this->post_var['nomemae'] : '--' ?>
	</div>
</div>