		<!-- Content -->
		<div id="content">

		    <!-- Content wrapper -->
		    <div class="wrapper">

			    <!-- Breadcrumbs line -->
			    <div class="crumbs">
			    	<?php echo $this->render('/helpers/breadcrumb.phtml') ?>
			    </div>
			    <!-- /breadcrumbs line -->

			    <!-- Page header -->
			    <div class="page-header">
			    	<div class="page-title">
				    	<h5>Formulário do visita agendada</h5>
				    	<span>Verifique os campos e preencha com os dados</span>
			    	</div>
			    </div>
			    <!-- /page header -->

			    <?php if (isset($this->crudMessage)) : ?>
					<div class="alert alert-success">
	                	<button data-dismiss="alert" class="close" type="button">×</button>
	                    <strong>Operação realizada com sucesso!</strong>
		    			<span><br /><?php echo $this->crudMessage ?></span>
	                </div>			    
			    <?php endif; ?>

				<form id="form" name="form" action="" method="post" class="form-horizontal" enctype="multipart/form-data"> 
					<input type="hidden" value="<?php echo (isset($this->post_var)) ? $this->post_var["id"] : ''; ?>" name="id" id="id" />
					
					<fieldset>
						<!-- General form elements -->
						<div class="widget row-fluid">
						    <div class="navbar">
						        <div class="navbar-inner">
						            <h6>Digite as informações do formulário</h6>
						        </div>
						    </div>

						    <div class="well">
								<?php if (isset($this->erros)) : ?>
									<div class="alert alert-error margin">
				                        <button data-dismiss="alert" class="close" type="button">×</button>
				                        <strong>Há erros no formulário!</strong>
					    				<?php foreach ($this->erros as $k=>$v) : ?>
					    					<span><br />- <?php echo $v ?></span>
					    				<?php endforeach;?>			                        
				                    </div>
			                    <?php endif; ?>						    
				<div class="control-group">
					<label class="control-label">Departamento </label>
					<div class="controls visualizar">
		               Patrimônios
					</div>
				</div>				
					<?php						
						$dados = Usuarios::getUsuarios(array('id'=>Usuarios::getUsuario('id')));
						$dados = $dados[0];
						if($dados):
					?>
						<input type="hidden" name="iddepartamento" value="<?php echo $dados['idperfil'] ?>">				
						<input type="hidden" name="idfuncionario" value="<?php echo Usuarios::getUsuario('id'); ?>">
					<?php endif ?>
				
				<div class="control-group">
					<label class="control-label">Departamento de destino*</label>
					<div class="controls">
		                <select name="iddepartamentodestino" data-placeholder="Departamento" class="select" required>
		                	<option value="">Selecione...</option>
							<?php foreach (UsuariosPerfis::getPerfisHelpers(array('individualgeral'=>'Apenas usuário logado')) as $k=>$v) : ?>
							<option value="<?php echo $v['id'] ?>"><?php echo $v['perfil'] ?></option>
							<?php endforeach;?>
						</select>
					</div>
				</div>


				<div class="control-group" id="box-escola" style="display:none">
					<label class="control-label">Escola <span class="required">*</span></label>
					<div class="controls">
		                <select name="idescola" data-placeholder="Escola" class="select">
							<option value="">Selecione...</option>
							<?php foreach (Escolas::getEscolasHelper(array('status'=>'Ativo')) as $k=>$v) : ?>
							<option value="<?php echo $v['id'] ?>"><?php echo $v['escola'] ?></option>
							<?php endforeach;?>
						</select>
						
					</div>
				</div>
				<div class="control-group">
					<label class="control-label">Data <span class="required">*</span></label>
					<div class="controls"><input placeholder="Data" name="datainicio" value="<?php echo (isset($this->post_var['datainicio'])) ? Mn_Util::formPostVarData($this->post_var['datainicio']) : '' ?>" type="text"  class="span3" /></div>
				</div>


				<div class="control-group">
					<label class="control-label">Hora do agendamento </label>
					<div class="controls"><input  placeholder="Hora do agendamento" name="horainicio" value="<?php echo (isset($this->post_var['horainicio'])) ? $this->post_var['horainicio'] : '' ?>" type="text"  class="span3" /></div>
				</div>


				<div class="control-group">
					<label class="control-label">Data final</label>
					<div class="controls"><input placeholder="Data final" name="datafim" value="<?php echo (isset($this->post_var['datafim'])) ? Mn_Util::formPostVarData($this->post_var['datafim']) : '' ?>" type="text"  class="span3" /></div>
				</div>


				<div class="control-group">
					<label class="control-label">Hora final do agendamento </label>
					<div class="controls"><input  placeholder="Hora final do agendamento" name="horafim" value="<?php echo (isset($this->post_var['horafim'])) ? $this->post_var['horafim'] : '' ?>" type="text"  class="span3" /></div>
				</div>


				<div class="control-group">
					<label class="control-label">Título <span class="required">*</span></label>
					<div class="controls"><input maxlength="500" placeholder="Título" name="titulo" value="<?php echo (isset($this->post_var['titulo'])) ? $this->post_var['titulo'] : '' ?>" type="text"  class="span3" /></div>
				</div>


				<div class="control-group">
					<label class="control-label">Descrição </label>
					<div class="controls"><textarea class="span12" name="descricoes" cols="5" rows="5"><?php echo (isset($this->post_var)) ? $this->post_var["descricoes"] : ''; ?></textarea></div>
				</div>


				<div class="control-group">
					<label class="control-label">Observações </label>
					<div class="controls"><textarea class="span12" name="observações" cols="5" rows="5"><?php echo (isset($this->post_var)) ? $this->post_var["observações"] : ''; ?></textarea></div>
				</div>


				<div class="control-group">
					<label class="control-label">Status <span class="required">*</span></label>
					<div class="controls">
						<select name="status1" data-placeholder="Status" class="select">
							<option value="">Selecione...</option>
							<option value="Ativo">Ativo</option><option value="Bloqueado">Bloqueado</option>
						</select>
						
					</div>
				</div>

	    
						    
						    </div>
						    
			                <div class="form-actions align-right">
			                	<?php if ((isset($this->visualizar)) && ($this->visualizar)) : ?>
			                		<button onclick="window.history.back()" class="btn btn-danger cancelar" type="button">Voltar</button>
			                	<?php else : ?>
				                	<button class="btn btn-primary enviar" type="submit">Salvar</button>
				                	<button onclick="window.history.back()" class="btn btn-danger cancelar" type="button">Cancelar</button>
			                	<?php endif; ?>
			                </div>
						</div>
						<!-- /general form elements -->

					</fieldset> 

				</form>
				<!-- /basic inputs -->

		    </div>
		    <!-- /content wrapper -->

		</div>
		<!-- content -->
				
<script type="text/javascript" src="<?php echo $this->baseUrl('/public/scripts/admin/patrimoniosvisitas_form.js') ?>"></script>
<script type="text/javascript">
	var form_values = {};
	
	<?php if (isset($this->post_var)) :  ?>
		form_values.iddepartamento = '<?php echo (isset($this->post_var['iddepartamento'])) ? $this->post_var['iddepartamento'] : '' ?>';

		form_values.idfuncionario = '<?php echo (isset($this->post_var['idfuncionario'])) ? $this->post_var['idfuncionario'] : '' ?>';

		form_values.destino = '<?php echo (isset($this->post_var['destino'])) ? $this->post_var['destino'] : '' ?>';

		form_values.iddepartamentodestino = '<?php echo (isset($this->post_var['iddepartamentodestino'])) ? $this->post_var['iddepartamentodestino'] : '' ?>';

		form_values.idescola = '<?php echo (isset($this->post_var['idescola'])) ? $this->post_var['idescola'] : '' ?>';

		form_values.status1 = '<?php echo (isset($this->post_var['status1'])) ? $this->post_var['status1'] : $this->post_var['status'] ?>';


	<?php endif; ?>

	visualizar = <?php echo  ((isset($this->visualizar)) && ($this->visualizar))  ? 'true' : 'false' ?>;
</script>
