<style>
	list-group {
		padding-left: 0;
		margin-bottom: 20px;
	}
		.list-group-item {
		position: relative;
		display: block;
		padding: 10px 15px;
		margin-bottom: -1px;
		background-color: #fff;
		border: 1px solid #ddd;
	}

	#box-alunos{
		margin-top: 2%;
	}

	.verdehover:hover {
		background-color: #E9F7C2;
	}
</style>
		<!-- Content -->
		<div id="content">

		    <!-- Content wrapper -->
		    <div class="wrapper">

			    <!-- Breadcrumbs line -->
			    <div class="crumbs">
			    	<?php echo $this->render('/helpers/breadcrumb.phtml') ?>
			    </div>
			    <!-- /breadcrumbs line -->

			    <!-- Page header -->
			    <div class="page-header">
			    	<div class="page-title">
				    	<h5>Formulário do Relatórios de evolução</h5>
				    	<span>Verifique os campos e preencha com os dados</span>
			    	</div>
			    </div>
			    <!-- /page header -->

			    <?php if (isset($this->crudMessage)) : ?>
					<div class="alert alert-success">
	                	<button data-dismiss="alert" class="close" type="button">×</button>
	                    <strong>Operação realizada com sucesso!</strong>
		    			<span><br /><?php echo $this->crudMessage ?></span>
	                </div>			    
			    <?php endif; ?>

				<form id="form" name="form" action="" method="post" class="form-horizontal" enctype="multipart/form-data"> 
					<input type="hidden" value="<?php echo (isset($this->post_var)) ? $this->post_var["id"] : ''; ?>" name="id" id="id" />
					
					<fieldset>
						<!-- General form elements -->
						<div class="widget row-fluid">
						    <div class="navbar">
						        <div class="navbar-inner">
						            <h6>Digite as informações do formulário</h6>
						        </div>
						    </div>

						    <div class="well">
								<?php if (isset($this->erros)) : ?>
									<div class="alert alert-error margin">
				                        <button data-dismiss="alert" class="close" type="button">×</button>
				                        <strong>Há erros no formulário!</strong>
					    				<?php foreach ($this->erros as $k=>$v) : ?>
					    					<span><br />- <?php echo $v ?></span>
					    				<?php endforeach;?>			                        
				                    </div>
			                    <?php endif; ?>						    
				<div class="control-group">
					<label class="control-label">Dados do usuário <span class="required">*</span></label>
					<div class="controls">
						<?php echo '<b>'.(Usuarios::getUsuario('nomerazao').' '.Usuarios::getUsuario('sobrenomefantasia').'</b> <br> <b> RGF: '.Usuarios::getUsuario('rgf').'</b>') ?>
					</div>
				</div>	   
				
				<?php if(!$this->visualizar) : ?>
					<div class="control-group">
						<label class="control-label">Aluno <span class="required">*</span></label>
						<div class="controls">
							<select name="idaluno" data-placeholder="Alunos" class="select" onclick="setAlunosdados(this)">
								<option value="">Selecione...</option>
								<?php foreach (Aeematriculas::getAeematriculasHelper(array('status'=>'Ativo')) as $k=>$v) : ?>
								<option value="<?php echo $v['idaluno'] ?>"><?php echo Escolasalunos::getEscolaalunoByIdHelper($v['idaluno'])['nomerazao']  ; ?></option>
								<?php endforeach;?>
							</select>
							<?php if($this->editar) : ?>
								<div class="btn btn-primary" style='cursor: pointer' onclick="setAlunosdados(this, <?= $this->post_var['idaluno'] ?>)">Detalhes</div>
							<?php endif; ?>
							
							<div id="box-alunos">
							
							</div>
						</div>
					</div>
				<?php else : ?>
					<?php $dadosAluno['aee'] =  Aeematriculas::getAeematriculaByAlunoIdHelper($this->post_var['idaluno']); 
						$dadosAluno['professor'] = Funcionariosgeraisescolas::getFuncionariogeralescolaByIdHelper($dadosAluno['aee']['idprofessor'])['nome'];
						$dadosAluno['professorAee'] = Funcionariosgeraisescolas::getFuncionariogeralescolaByIdHelper($dadosAluno['aee']['idprofessor2'])['nome'];
						$dadosAluno['escola'] = Escolas::getEscolaByIdHelper($dadosAluno['aee']['idescola'])['escola'];
					?>

					<div class="control-group">
						<label class="control-label">Unidade Escolar <span class="required">*</span></label>
						<div class="controls">
							<ul class="list-group" style="width: 50%;">    
								<li class="list-group-item"> Aluno:  <?php echo Escolasalunos::getEscolaalunoByIdHelper( $dadosAluno['aee']['idaluno'] )['nomerazao'] ?></li>
								<li class="list-group-item"> Escola Regular:  <?= $dadosAluno['aee']['escolaregular'] ?></li>
								<li class="list-group-item"> Professor Regular:  <?= $dadosAluno['professor'] ?></li>
								<li class="list-group-item"> Escola Aee:  <?= Escolas::getEscolaByIdHelper($dadosAluno['aee']['idescola'])['escola'] ?></li>
								<li class="list-group-item"> Professor Aee: <?= $dadosAluno['professorAee'] ?></li>
							</ul>
						</div>
					</div>
					
				<?php endif ; ?> 

				<div class="control-group">
					<label class="control-label">Relatórios</label>
				 
						<div class="itens">
                            <table class="table table-membros table-primary mb30" border="1">
                                <thead>
                                    <tr> 									
                                        <th align="left" style="text-align: center; white-space: normal; width: 20px;">Título</th>
                                        <th align="left" style="text-align: center; white-space: normal; width: 20px;">Data</th>
                                        <th align="left" style="text-align: center; white-space: normal;">Evolução</th> 
                                        <th align="left" style="text-align: center; width: 20px;"><button type="button" onclick="membroAddTr()" class="btn">+</button></th>
                                    </tr>
                                </thead>
                                <tbody>	 
									<script type="text/javascript"> 
										$(document).ready(function() { 
											<?php if (isset($this->post_var['id'])) : ?>
											<?php foreach (Educacaoespecialrelatoriodiariolist::getEducacaoespecialrelatoriodiariolistHelper(array('idrelatoriodiario' => $this->post_var['id'])) as $c=>$row) : ?>
											<?php 
												$row['var_db'] = true;
											?>
											membros = '<?php echo str_replace("'", "\'", json_encode($row)) ?>';

											membroAddTr(membros);
											<?php endforeach;?>

											<?php endif; ?>
										});
									</script>
                                </tbody>
								
                                <tfoot>
                                    <tr id="modelo-apm"  style="display:none;"> 
                                        <td align="center" style="text-align:center !Important;">
                                            <input type="hidden" name="_ids" value="" />
                                            <input name="titulos[]" type="text" class="form-control">
										</td>

                                        <td align="center" style="text-align:center !Important;">
                                            <input name="datas[]" type="text" class="form-control" >
										</td>
										
                                        <td align="center" style="text-align:center !Important;"> 
											<!-- <input name="evolucoes[]" type="text" size="100" maxlength="4" class="form-control" > -->
											<textarea rows="5" cols="70" name="evolucoes[]"></textarea>
                                        </td> 

                                        <td style="text-align: center !important; padding:8px 0 8px 22px;" align="center">
                                            <a href="javascript:;" onclick="membrosExcluirFromTable(this)">
                                                <span><i class="icon-remove"></i></span>
                                            </a>
                                        </td>
                                    </tr>
                                </tfoot>

                            </table>
                        </div>
					 
				</div>
<?php /*
				<div class="control-group">
					<label class="control-label">Data</label>
					<div class="controls"><input placeholder="Data" readonly="true" name="data" value="<?php echo (isset($this->post_var['data'])) ? Mn_Util::formPostVarData($this->post_var['data']) : date('d/m/Y') ?>" type="text"  class="span3" /></div>
				</div>


				<div class="control-group">
					<label class="control-label">Título <span class="required">*</span></label>
					<div class="controls"><input maxlength="500" placeholder="Título" name="titulo" value="<?php echo (isset($this->post_var['titulo'])) ? $this->post_var['titulo'] : '' ?>" type="text"  class="span3" /></div>
				</div>


				<div class="control-group">
					<label class="control-label">Descrições </label>
					<div class="controls"><textarea class="span12" name="descricoes" cols="5" rows="5"><?php echo (isset($this->post_var)) ? $this->post_var["descricoes"] : ''; ?></textarea></div>
				</div>
*/ ?>

				<div class="control-group">
					<label class="control-label">Documento </label>
					<div class="controls">
						<?php if ((isset($this->post_var['idarquivo'])) && ((int)$this->post_var['idarquivo']>0)) : ?>
							<?php echo $this->getArquivo($this->post_var['idarquivo']) ?>
						
							<?php if (!$this->visualizar) : ?>
								<div class="checkbox block">
									<label><input type="checkbox" name="excluir_idarquivo" value="excluir" /> Desejo excluir o arquivo</label>
								</div>
							<?php endif; ?>
						<?php endif; ?>
						
						<input placeholder="Documento" name="idarquivo" type="file"  />
					</div>
				</div>	


				<div class="control-group">
					<label class="control-label">Status <span class="required">*</span></label>
					<div class="controls">
						<select name="status1" data-placeholder="Status" class="select">
							<option value="">Selecione...</option>
							<option value="Ativo">Ativo</option><option value="Bloqueado">Bloqueado</option>
						</select>
						
					</div>
				</div>

						    
						    
						    </div>
						    
			                <div class="form-actions align-right">
			                	<?php if ((isset($this->visualizar)) && ($this->visualizar)) : ?>
			                		<button onclick="window.history.back()" class="btn btn-danger cancelar" type="button">Voltar</button>
			                	<?php else : ?>
				                	<button class="btn btn-primary enviar" type="submit">Salvar</button>
				                	<button onclick="window.history.back()" class="btn btn-danger cancelar" type="button">Cancelar</button>
			                	<?php endif; ?>
			                </div>
						</div>
						<!-- /general form elements -->

					</fieldset> 

				</form>
				<!-- /basic inputs -->

		    </div>
		    <!-- /content wrapper -->

		</div>
		<!-- content -->
				
<script type="text/javascript" src="<?php echo $this->baseUrl('/public/scripts/admin/educacaoespecialrelatoriosdiarios_form.js') ?>"></script>
<script type="text/javascript">
	var form_values = {};
	
	<?php if (isset($this->post_var)) :  ?>
		form_values.status1 = '<?php echo (isset($this->post_var['status1'])) ? $this->post_var['status1'] : $this->post_var['status'] ?>';
		
		form_values.idaluno = '<?php echo (isset($this->post_var['idaluno'])) ? $this->post_var['idaluno'] : '' ?>';

	<?php endif; ?>

	visualizar = <?php echo  ((isset($this->visualizar)) && ($this->visualizar))  ? 'true' : 'false' ?>;
</script>
