		<!-- Content -->
		<div id="content">

		    <!-- Content wrapper -->
		    <div class="wrapper">

			    <!-- Breadcrumbs line -->
			    <div class="crumbs">
			    	<?php echo $this->render('/helpers/breadcrumb.phtml') ?>
			    </div>
			    <!-- /breadcrumbs line -->

			    <!-- Page header -->
			    <div class="page-header">
			    	<div class="page-title">
				    	<h5>Doações cadastradas no sistema</h5>
				    	<span>Visualize as doações cadastradas no sistema</span>
			    	</div>
			    	
			    </div>
			    <!-- /page header -->
			    
			    <?php if (isset($this->crudMessage)) : ?>
				<div class="alert alert-success">
                	<button data-dismiss="alert" class="close" type="button">×</button>
                    <strong>Operação realizada com sucesso!</strong>
	    			<span><br /><?php echo $this->crudMessage ?></span>
                </div>			    
			    <?php endif; ?>




	                        	                        
                <!-- Table with footer -->
                <div class="widget">
                	<form action="#" class="form-horizontal" method="post">
                		<input type="hidden" value="<?php echo (isset($this->post_var['sorting'])) ? $this->post_var['sorting'] : '' ?>" name="sorting" />
	                	<div class="navbar">
	                		<div class="navbar-inner">
	                			<h6>Visualizando registros</h6>
	                			<?php if (Mn_Util::isAccess($this->getController(), 'adicionar')) : ?>
	                			<a style="float:right;" href="<?php echo $this->baseUrl() ?>/<?php echo 'admin' ?>/<?php echo $this->getController() ?>/adicionar" class="btn btn-primary"><span class="icon-plus"></span>&nbsp;Adicionar doação</a>
	                			<?php endif; ?>
	                		</div>
	                	</div>
	                    <div class="table-overflow">
	                        <table class="table table-content">
	                            <thead>
	                                <tr>
	                                	<th width="20">#</th>
	                					<th class="s-doacao sorting">Doação</th>
	                                    <th class="s-descricoes sorting">Descrições</th>
	                                    <th class="s-aprovacao sorting">Aprovação</th>
	                                    <th class="s-status sorting">Status</th>


	                                    <th width="96">Ações</th>
	                                </tr>
	                                <tr>
	                                    <th></th>

										<th><input name="doacao" value="<?php echo (isset($this->post_var['doacao'])) ? $this->post_var['doacao'] : '' ?>" type="text" placeholder="Doação" class="span3"></th>

										<th><input name="descricoes" value="<?php echo (isset($this->post_var['descricoes'])) ? $this->post_var['descricoes'] : '' ?>" type="text" placeholder="Descrições" class="span3"></th>

										<th>
											<div>
												<select name="aprovacao" placeholder="Todos" class="select">
													<option value="">Todos</option>
													<option value="Aprovado">Aprovado</option><option value="Não aprovado">Não aprovado</option>
												</select>
											</div>
										</th>

										<th>
											<div>
												<select name="status1" placeholder="Todos" class="select">
													<option value="">Todos</option>
													<option value="Ativo">Ativo</option><option value="Bloqueado">Bloqueado</option>
												</select>
											</div>
										</th>
                   

	                                    <th><button class="btn btn-mini btn-primary" type="submit">Pesquisar</button></th>
	                                </tr> 
	                                                                
	                            </thead>
	                            <tbody>
	                            	<?php if (sizeof($this->rows)==0) : ?>
	                                <tr>
	                                    <td colspan="6">Nenhum registro foi encontrado!</td>
	                                </tr>
	                            	
	                            	<?php else : ?>
	                            	<?php foreach ($this->rows as $row) : ?>
	                               <tr>
		                				<td>
	                					</td>

		                				<td><?php echo $this->cortaPalavra(200, $row['doacao']) ?></td>
		                				<td><?php echo $this->cortaPalavra(200, $row['descricoes']) ?></td>
		                				<td>
		                					<?php echo $row['aprovacao'] ?>
		                				</td>
		                				<td>
		                					<?php if (Mn_Util::isAccess($this->getController(), 'editar')) : ?>
		                					<a onclick="javascript:statusChange(<?php echo $row["id"]?>, this);" href="javascript:;"><?php echo $row['status'] ?></a>
		                					<?php else : ?>
		                					<?php echo $row['status'] ?>
		                					<?php endif; ?>
		                				</td>
	                                    <td>
	                                        <ul class="table-controls">
	                                            <li><a title="" class="btn tip" href="<?php echo $this->baseUrl() ?>/<?php echo 'admin' ?>/<?php echo $this->getController() ?>/visualizar/id/<?php echo $row['id'] ?>" data-original-title="Visualizar"><i class="icon-eye-open"></i></a> </li>
	                                            <?php if (Mn_Util::isAccess($this->getController(), 'editar')) : ?>
	                                            <li><a title="" class="btn tip" href="<?php echo $this->baseUrl() ?>/<?php echo 'admin' ?>/<?php echo $this->getController() ?>/editar/id/<?php echo $row['id'] ?>" data-original-title="Editar"><i class="icon-pencil"></i></a> </li>
	                                            <?php endif;?>
	                                            <?php if ((Mn_Util::isAccess($this->getController(), 'excluir')) && $row['status'] == "Ativo") : ?>
	                                            <li><a title="" class="btn tip" href="javascript:confirmDelete('<?php echo $row['id']; ?>','registro');" data-original-title="Excluir"><i class="icon-remove"></i></a> </li>
	                                            <?php endif; ?>
	                                        </ul>
	                                    </td>
	                                </tr>
	                            	<?php endforeach;?>
	                            	
	                            	
	                            	
	                            	
	                            	<?php endif; ?>
	
	                            </tbody>
	                        </table>
	                    </div>
	                    <?php echo $this->render('/helpers/paginator.phtml') ?>
                    
                    </form>

                </div>
                <!-- /table with footer -->
	                        


		    </div>
		    <!-- /content wrapper -->

		</div>
		<!-- content -->
		
		
<script type="text/javascript" src="<?php echo $this->baseUrl('/public/scripts/admin/doacoes_index.js') ?>"></script>
<script type="text/javascript">
 
	var form_values = {};
	<?php if (isset($this->post_var)) :  ?>

	form_values.status1 = '<?php echo (isset($this->post_var['status1'])) ? $this->post_var['status1'] : $this->post_var['status'] ?>';
	form_values.aprovacao = '<?php echo (isset($this->post_var['aprovacao'])) ? $this->post_var['aprovacao'] : "" ?>';

	
	<?php endif; ?>

	
		
</script>	


