<?php if(false): ?>
<table width="100%" cellpadding="0" cellspacing="0" border="0" nobr="true">

	<tr>		
		<td align="center" width="40%">
				<?php /*if((int)$this->post_var['idimagemassinatura'] > 0) : ?>
			    <img width="200" src="<?php echo MY_PATH . $this->baseUrl() ?>/imagens/get/id/<?php echo (int)$this->post_var['idimagemassinatura'] ?>/w/0/h/0/i/indisponivel/img.jpg" />
			    <?php endif;*/ ?>
		</td>

		<td align="center" width="60%">
			<font size="12">Agência PAB P.M - Itaquaquecetuba</font><br />
			<font size="10">Av. Vereador João Fernandes da Silva, 283</font><br />
			<font size="10">Vl. Virgínia - Itaquaquecetuba</font><br />
			<font size="10">Fone: 4642-1096</font><br />
		</td>
	</tr>
</table>

<table width="100%" cellpadding="0" cellspacing="0" border="0" nobr="true">
	<tr>
		<td align="center" width="100%">
			<font size="10">
			    <b>BANCO BRADESCO S.A</b>
		    </font>
		</td>
	</tr>
	
	<tr>
		<td align="left" width="100%">
			<font size="10">
			    <b>Documentos Necessários para abertura da conta corrente (Xerox e original)</b>
		    </font>
		    <br/>
		</td>
	</tr>

	<tr>
		<td align="left" width="100%"><font size="10">RG: <u><?php echo $this->post_var['rg']?></u></font></td>
	</tr>
	
	<tr>
		<td align="left" width="100%"><font size="10">CPF: <u><?php echo $this->post_var['cpf']?></u></font></td>
	</tr>
	
	<tr>
		<td align="left" width="100%"><font size="10">SE FOR CASADO: CERTIDÃO DE CASAMENTO<br /><br />COMPROVANTE DE ENDEREÇO ATUALIZADO (ÁGUA/LUZ/TELEFONE) E PAGO COM COMPROVANTE. SE NÃO ESTIVER EM NOME DO PRÓPRIO TRAZER UM COMPROVANTE A MAIS COM CARIMBO DE CORREIO</font></td>
	</tr>
	
	<tr>
		<td align="left" width="100%"><font size="10">Nome: <u><?php echo $this->post_var['nome']?></u></font></td>
	</tr>
	
	<tr>
		<td align="left" width="100%"><font size="10">Endereço: <u><?php echo $this->post_var['endereco']?></u></font></td>
	</tr>
	
	<tr>
		<td align="left" width="100%"><font size="10">Bairro: <u><?php echo $this->post_var['bairro']?></u> CEP:<u><?php echo $this->post_var['cep']?></u></font></td>
	</tr>
	
	<tr>
		<td align="left" width="100%"><font size="10">Cidade: <u><?php echo $this->post_var['cidade']?></u> Fone Res:<u><?php echo $this->post_var['telefone']?></u></font></td>
	</tr>
	
	<tr>
		<td align="left" width="100%"><font size="10">Celular: <u><?php echo $this->post_var['celular']?></u></font></td>
	</tr>
	
	<tr>
		<td align="left" width="100%"><font size="10">Estado Civil: <u><?php echo ((isset($this->post_var['estadocivil'])) && ($this->post_var['estadocivil']!="")) ? $this->post_var['estadocivil'] : '' ?></u></font></td>
	</tr>
	
	<tr>
		<td align="left" width="100%"><font size="10">Nome do Cônjuge: <u><?php echo $this->post_var['conjugenome']?></u></font></td>
	</tr>
	
	<tr>
		<td align="left" width="100%"><font size="10">Escolaridade: <u><?php echo ((isset($this->post_var['grauinstrucao'])) && ($this->post_var['grauinstrucao']!="")) ? Funcionarios::getEscolaridade($this->post_var['grauinstrucao']) : '' ?></u></font></td>
	</tr>
	
	<tr>
		<td align="left" width="100%"><font size="10">Admissão na Prefeitura: <u><?php echo (isset($this->post_var['dataadmissao'])) ? Mn_Util::formPostVarData($this->post_var['dataadmissao']) : '' ?></u></font></td>
	</tr>
	
	<tr>
		<td align="left" width="100%"><font size="10">Salário: R$ <u><?php echo number_format($this->post_var['salarioinicial'], 2, ',', '.')?></u></font></td>
	</tr>
	
	<tr>
		<td align="left" width="100%"><font size="10">Cargo: <u><?php echo $this->post_var['cargo']?></u></font></td>
	</tr>
	
	<tr>
		<td align="left" width="100%"><font size="10">Declaramos serem verdadeiras as informações prestadas acima.</font></td>
	</tr>
	
	<tr>
		<td align="left" width="100%"><font size="10">Prefeitura municipal de Itaquaquecetuba</font></td>
	</tr>
	
	<tr>
		<td align="center" width="100%">
			<font size="10">
				__________________________________________
		    </font>
		</td>
	</tr>
</table>
<?php else:?>
<table width="100%" cellpadding="0" cellspacing="0" border="0" nobr="true">
	<tr>		
		<td align="left" width="100%"><font size="12"><b>LEIA COM ATENÇÃO TODA A DECLARAÇÃO</b></font><br /></td>
	</tr>
</table>
<table width="100%" cellpadding="4" cellspacing="0" border="1" nobr="true">
	<tr>		
		<td align="center" width="100%"><font size="10"><b>DECLARAÇÃO DE DEPENDENTES PARA FINS DE DESCONTO DO IMPOSTO DE RENDA NA FONTE</b></font></td>
	</tr>
</table>
<br />
<table width="100%" cellpadding="0" cellspacing="0" border="0" nobr="true">
	<tr>
		<td align="left" width="100%"><br /><br /><font size="10">CONTRATANTE: PREFEITURA MUNICIPAL DE ITAQUAQUECETUBA</font></td>
	</tr>
	
	<tr>
		<td align="left" width="100%"><br /><br /><font size="10">CNPJ/MF: 46.316.600/0001-64</font></td>
	</tr>
	
	<tr>
		<td align="left" width="100%"><br /><br /><font size="10">SERVIDOR/CONTRADO: <?php echo $this->post_var['nome']?></font></td>
	</tr>
</table>

<table width="100%" cellpadding="0" cellspacing="0" border="0" nobr="true">
	<tr>
		<td align="left" width="50%"><font size="10">Doc. Identificação (RG): <u><?php echo $this->post_var['rg']?></u></font></td>

		<td align="left" width="50%"><font size="10">CPF: <u><?php echo $this->post_var['cpf']?></u></font></td>
	</tr>
</table>

<table width="100%" cellpadding="0" cellspacing="0" border="0" nobr="true">
	<tr>
		<td align="left" width="100%"><font size="10">Estado Civil: <u><?php echo ((isset($this->post_var['estadocivil'])) && ($this->post_var['estadocivil']!="")) ? $this->post_var['estadocivil'] : '' ?></u></font></td>
	</tr>
</table>

<table width="100%" cellpadding="0" cellspacing="0" border="0" nobr="true">
	<tr>
		<td align="left" width="50%"><font size="10">Endereço: <u><?php echo $this->post_var['endereco']?></u></font></td>
	
		<td align="left" width="10%"><font size="10">n°: <u><?php echo $this->post_var['numero']?></u> </font></td>
		
		<td align="left" width="40%"><font size="10">Bairro: <u><?php echo $this->post_var['bairro']?></u></font></td>	
		
	</tr>
</table>

<table width="100%" cellpadding="0" cellspacing="0" border="0" nobr="true">
	<tr>
		<td align="left" width="50%"><font size="10">Cidade: <u><?php echo $this->post_var['cidade']?></u></font><br /></td>
		<td align="left" width="25%"><font size="10">CEP:<u><?php echo $this->post_var['cep']?></u></font><br /></td>
		<td align="left" width="25%"><font size="10">Estado:<u><?php echo $this->post_var['uf']?></u></font><br /></td>
	</tr>
</table>

<table width="100%" cellpadding="4" cellspacing="0" border="1" nobr="true">
	<tr>
		<td align="left" width="100%"><font size="12">PARA FINS DA LEGISLAÇÃO DO IMPOSTO DE RENDA, DECLARO QUE SÃO MEUS DEPENDENTES AS PESSOAS ABAIXO RELACIONADAS: </font></td>
	</tr>
</table>	

<br />
<br />

<table width="100%" cellpadding="2" cellspacing="0" border="1" nobr="true">
	<tr>
		<th align="left" width="40%">NOME COMPLETO</th>
		<th align="left" width="35%">GRAU DE PARENTESCO</th>
		<th align="left" width="25%">DATA NASCTO</th>	
	</tr>
	<?php foreach ($this->rows as $i=>$row) : ?>
	
	<tr>
		<td align="left"><font size="10"><?php echo $row['nome']?></font><br /></td>
		<td align="left"><font size="10"><?php echo $row['grauparentesco']?></font><br /></td>
		<td align="left"><font size="10"><?php echo (isset($row['nascimento'])) ? Mn_Util::formPostVarData($row['nascimento']) : '' ?></font><br /></td>
	</tr>
	<?php endforeach;?>
</table>
	
<?php endif?>
<br />
<br />

<table width="100%" cellpadding="4" cellspacing="0" border="1" nobr="true">
	<tr>
		<td align="left" width="100%"><font size="12">CLIENTES DA PROIBIÇÃO DA DEDUÇÃO DE UM MESMO DEPENDENTE POR AMBOS OS CÔNJUGES, DECLARAMOS, SOB AS PENAS DA LEI, QUE AS INFORMAÇÕES AQUI PRESTADAS SÃO VERDADEIRAS E DE NOSSA ONTEIRA RESPONSABILIDADE, NÃO CABENDO A V.S.as. (FONTE PAGADORA) NENHUMA RESPONSABILIDADE PERANTE A FISCALIZAÇÃO</font><br /><br /></td>
	</tr>
</table>	

<table width="100%" cellpadding="0" cellspacing="0" border="0" nobr="true">
	<tr>
		<td align="left" width="100%"><br/><br/><br/><font size="12">ITAQUAQUECETUBA,_______DE______________________________DE____________</font><br /><br /></td>
	</tr>
</table>	

<table width="100%" cellpadding="0" cellspacing="0" border="0" nobr="true">
	<tr>
		<td align="left" width="50%"><font size="12">__________________________________</font> &nbsp;</td>
		<td align="left" width="50%"><font size="12">__________________________________</font></td>
	</tr>
	
	<tr>
		<td align="left" width="50%"><font size="12"><b>DECLARANTE</b></font> &nbsp;<br /></td>
		<td align="left" width="50%"><font size="12"><b>CONJUGE</b></font><br /></td>
	</tr>
</table>	

<table width="100%" cellpadding="0" cellspacing="0" border="0" nobr="true">
	<tr>
		<td align="left" width="100%"><font size="12">______________________________________________________________________</font></td>
	</tr>
	<tr>
		<td align="left" width="100%"><font size="12"><b>OBSERVAÇÕES</b></font></td>
	</tr>
</table>

<table width="100%" cellpadding="0" cellspacing="0" border="0" nobr="true">
	<tr>
		<td align="left" width="100%"><font size="12"><b>* &nbsp;&nbsp;SEMPRE	QUE OCORRER ALTERAÇÃO NESTA DECLAAÇÃO, A MESMA DEVERÁ SER RENOVADA</b></font></td>
	</tr>
	<tr>
		<td align="left" width="100%"><font size="12"><b>* &nbsp;&nbsp;NO CASO DE DEPENDENTES COMUNS (FILHOS), ESTA DECLARAÇÃO DEVERÁ SER ASSINADA PELO PAI E PELA MÃE DO DEPENDENTE DECLARADO</b></font></td>
	</tr>
</table>	
