		<!-- Content -->
		<div id="content">

		    <!-- Content wrapper -->
		    <div class="wrapper">

			    <!-- Breadcrumbs line -->
			    <div class="crumbs">
			    	<?php echo $this->render('/helpers/breadcrumb.phtml') ?>
			    </div>
			    <!-- /breadcrumbs line -->

			    <!-- Page header -->
			    <div class="page-header">
			    	<div class="page-title">
				    	<h5>Formulário do solicitação de permuta</h5>
				    	<span>Verifique os campos e preencha com os dados</span>
			    	</div>
			    </div>
			    <!-- /page header -->

			    <?php if (isset($this->crudMessage)) : ?>
					<div class="alert alert-success">
	                	<button data-dismiss="alert" class="close" type="button">×</button>
	                    <strong>Operação realizada com sucesso!</strong>
		    			<span><br /><?php echo $this->crudMessage ?></span>
	                </div>			    
			    <?php endif; ?>

				<form id="form" name="form" action="" method="post" class="form-horizontal" enctype="multipart/form-data"> 
					<input type="hidden" value="<?php echo (isset($this->post_var)) ? $this->post_var["id"] : ''; ?>" name="id" id="id" />
					
					<fieldset>
						<!-- General form elements -->
						<div class="widget row-fluid">
						    <div class="navbar">
						        <div class="navbar-inner">
						            <h6>Digite as informações do formulário</h6>
						        </div>
						    </div>

						    <div class="well">
								<?php if (isset($this->erros)) : ?>
									<div class="alert alert-error margin">
				                        <button data-dismiss="alert" class="close" type="button">×</button>
				                        <strong>Há erros no formulário!</strong>
					    				<?php foreach ($this->erros as $k=>$v) : ?>
					    					<span><br />- <?php echo $v ?></span>
					    				<?php endforeach;?>			                        
				                    </div>
			                    <?php endif; ?>						    
						    
    
                <?php $idescola = Usuarios::getUsuario('idescola'); ?>
				<?php $idlocal = Usuarios::getUsuario('idlocal'); ?>
				<?php if(($idescola>0) || ($idlocal>0)): ?>		    
				<div class="control-group">
					<div class="controls1 visualizar">
						<table class="table table-content" width="100%">
							<tbody>
								<tr>
									<input type="hidden" name="idprofessor" value="<?php echo Usuarios::getUsuario('idfuncionario') ?>" />
									<input maxlength="500" placeholder="Nome do Usuário" name="idusuario" value="<?php echo Usuarios::getUsuario('id') ?>" type="hidden"  class="span3" />
									<input  placeholder="Data de lançamento" name="data" value="<?php echo (isset($this->post_var['data'])) ? Mn_Util::formPostVarData($this->post_var['data']) : date('d/m/Y') ?>" type="hidden"  class="span3" />
									<input maxlength="500" placeholder="Nome do Usuário" name="idlocal" value="<?php echo Usuarios::getUsuario('idlocal') ?>" type="hidden"  class="span3" />
									<input maxlength="500" placeholder="Nome do Usuário" name="idescola" value="<?php echo Usuarios::getUsuario('idescola') ?>" type="hidden"  class="span3" />

									<td width="33%">Nome do Usuário: <?php echo Usuarios::getUsuario('nomerazao') . " - " . Usuarios::getUsuario('rgf') ?></td>
									<td width="34%">Data da Abertura: <?php echo date('d/m/Y') ?></td>
									<td width="33%">Escola: <?php 
											$local = Escolas::getEscolaByIdHelper(Usuarios::getUsuario('idescola')); 
											echo ((isset($local['escola'])) && ($local['escola']) && ($local['escola']!="") ) ? $local['escola'] : '';
										?>
											
									</td>
								</tr>
							</tbody>
						</table>
						
					</div>
				</div>
				<?php else: ?>
				<div class="control-group">
					<div class="controls1 visualizar">
						<table class="table table-content" width="100%">
							<tbody>
								<tr>									
									<input type="hidden" name="idprofessor" value="<?php echo Usuarios::getUsuario('idfuncionario') ?>" />
									<input maxlength="500" placeholder="Nome do Usuário" name="idusuario" value="<?php echo Usuarios::getUsuario('id') ?>" type="hidden"  class="span3" />
									<input  placeholder="Data de lançamento" name="data" value="<?php echo (isset($this->post_var['data'])) ? Mn_Util::formPostVarData($this->post_var['data']) : date('d/m/Y') ?>" type="hidden"  class="span3" />
									
									<td width="50%">Nome do Usuário: <?php echo Usuarios::getUsuario('nomerazao') . " - " . Usuarios::getUsuario('rgf') ?></td>
									<td width="50%">Data da Abertura: <?php echo date('d/m/Y') ?></td>
									
								</tr>
							</tbody>
						</table>
						
					</div>
				</div>
				<?php endif; ?>
				
				<?php if(!$this->editar): ?>
				<div class="control-group">
					<label class="control-label">Escolas Destino <span class="required">*</span></label>
					<div class="controls">
		                <select name="idescola" onchange="setProfessores(this,0),setPeriodos(this,0)" data-placeholder="Unidade Escolas" class="select">
							<option value="">Selecione...</option>
							<?php foreach (Escolas::getEscolas(array('status'=>'Ativo')) as $k=>$v) : ?>
							<option value="<?php echo $v['id'] ?>"><?php echo $v['escola'] ?></option>
							<?php endforeach;?>
						</select>
					</div>
				</div>


				<div class="control-group">
					<label class="control-label">Tipo de Ensino </label>
					<div class="controls">
						<select name="idtipoensino" data-placeholder="Tipo" class="select">
							<option value="">Selecione...</option>
							<?php foreach(Escolastiposensinos::getTiposensinosHelper() as $k=>$row): ?>
								<option value="<?php echo $row['id'] ?>"><?php echo $row['tipo'] ?></option>
							<?php endforeach; ?>
						</select>
						
					</div>
				</div>
				<?php else: ?>
				<div class="control-group">
					<label class="control-label">Professor Solicitante</label>
					<div class="controls">
						<?php $funcionario = Funcionariosgeraisescolas::getFuncionariogeralescolaByIdHelper($this->post_var['idprofessor']); ?>
						<?php echo $funcionario ? $funcionario['nomerazao'].' '.$funcionario['sobrenomefantasia'] : '--' ?>
					</div>
				</div>

				<div class="control-group">
					<label class="control-label">Escolas Destino</label>
					<div class="controls">
						<input type="hidden" name="idescola" value="<?php echo $this->post_var['idescola'] ?>" />
						<?php $escola = Escolas::getEscolaByIdHelper($this->post_var['idescola']); ?>
						<?php echo $escola ? $escola['escola'] : '--' ?>
					</div>
				</div>


				<div class="control-group">
					<label class="control-label">Tipo de Ensino </label>
					<div class="controls">
						<input type="hidden" name="idtipoensino" value="<?php echo $this->post_var['idtipoensino'] ?>" />
						<?php $tipo = Escolastiposensinos::getTipoensinoByIdHelper($this->post_var['idtipoensino']); ?>
						<?php echo $tipo ? $tipo['tipo'] : '--' ?>
					</div>
				</div>
				<?php endif; ?>

				<?php if(!$this->visualizar && !$this->editar): ?>
				<div class="control-group">
					<label class="control-label">Período </label>
					<div class="controls">
						<select name="idperiodo" data-placeholder="Período" class="select">
							<option value="">Selecione...</option>
						</select>
					</div>
				</div>

				<div class="control-group">
					<label class="control-label">Observação </label>
					<div class="controls"><textarea class="span12" name="observacao" cols="5" rows="5"><?php echo (isset($this->post_var)) ? $this->post_var["observacao"] : ''; ?></textarea></div>
				</div>
				<?php else: ?>
				<div class="control-group">
					<label class="control-label">Período de Interesse</label>
					<div class="controls visualizar">
						<input type="hidden" name="idperiodo" value="<?php echo $this->post_var['idperiodo'] ?>" />
						<?php $periodo = Escolasvinculos::getEscolavinculoByIdHelper($this->post_var['idperiodo']);  ?>
						<?php if($periodo): ?>
							<?php echo $periodo['sala'] ?> -> <?php echo $periodo['serie'] ?> -> <?php echo $periodo['turma'] ?> -> <?php echo $periodo['periodo'] ?>
						<?php endif; ?>
					</div>
				</div>

				<div class="control-group">
					<label class="control-label">Observação </label>
					<div class="controls"><?php echo (isset($this->post_var)) ? $this->post_var["observacao"] : ''; ?></div>
				</div>
				<?php endif; ?>


			<?php if(Usuarios::getUsuario('professor') != 'Sim'): ?>
				<div class="control-group">
					<label class="control-label">Posição </label>
					<div class="controls">
						<select name="posicao" data-placeholder="Posição" onchange="setProfessor(this)" class="select">
							<option value="">Selecione...</option>
							<option value="Aceito">Aceito</option>
							<option value="Reprovado">Reprovado</option>
							<option value="Aguardando">Aguardando</option>
						</select>
						
					</div>
				</div>

			<?php endif; ?>

			<?php if(Usuarios::getUsuario('professor') != 'Sim' || $this->post_var['posicao'] == 'Aceito'): ?>
			<div class="control-group">
				<label class="control-label">Solicitações de Permutas </label>
				<div class="controls">
					<table class="table">
						<thead>
							<th>Professor Interessado</th>
							<th>Escola Origem</th>
							<th>Período</th>
							<th>Pontuação</th>
							<th>Ações</th>
						</thead>
						<tbody>
							<?php if(sizeof($this->permutas) <= 0): ?>
								<tr colspan="5">
									<td>Nenhum registro encontrado.</td>
								</tr>
							<?php else: ?>
								<?php foreach($this->permutas as $k=>$row): ?>
								<tr>
									<td>
										<?php
											$___rows = Funcionariosgeraisescolas::getFuncionariosgeraisescolasHelper(array('id'=>$row['idprofessor']));
											$professor = (sizeof($___rows)>0) ? 	$___rows[0] : false;	
											
											echo ($professor) ? $this->formatTextoBranco($professor['nome']) : '--';		
										?>
									</td>
									<td>
										<?php
											$___rows = Escolas::getEscolasHelper(array('id'=>$row['idescoladestino']));
											$___row = (sizeof($___rows)>0) ? 	$___rows[0] : false;	
											
											echo ($___row) ? $this->formatTextoBranco($___row['escola']) : '--';		
										?>
									</td>
									<td>
										<?php 
											$ids_vinculos = Escolasvinculosprofessoresmaterias::getIdsEscolasvinculosprofessorByIdHelper($professor['id']);
											$vinculos = explode(',', $ids_vinculos);
										 ?>
										 <table class="table">
										 	<tbody>
												<?php foreach($vinculos as $id): ?>
										 		<tr>
										 			<td>
														<?php $vinculo = Escolasvinculos::getEscolavinculoByIdHelper($id); ?>
														<?php echo $vinculo['sala'] ?> -> <?php echo $vinculo['serie'] ?> -> <?php echo $vinculo['turma'] ?> -> <?php echo $vinculo['periodo'] ?>
													</td>
												</tr>
												<?php endforeach; ?>
											</tbody>
										</table>	
									</td>
									<td></td>
									<td>
										<?php if($row['status'] == 'Aguardando'): ?>
										<button class="btn btn-success" type="button" onclick="setAprovar('<?php echo $row['idparent'] ?>', '<?php echo $professor['id'] ?>')">Aprovar</button>
										<button class="btn btn-danger" type="button" onclick="setRejeitar('<?php echo $row['idparent'] ?>', '<?php echo $professor['id'] ?>')">Rejeitar</button>
										<?php else: ?>
										<span class="btn btn-<?php echo ($row['status'] == 'Aceito') ? 'success' : 'default' ?>"><?php echo $row['status'] ?></span>
										<?php endif; ?>
									</td>
								</tr>
								<?php endforeach; ?>
							<?php endif; ?>
						</tbody>
					</table>
				</div>
			</div>
			<?php endif; ?>
						    
						    
						    </div>


						    
			                <div class="form-actions align-right">
			                	<?php if ((isset($this->visualizar)) && ($this->visualizar)) : ?>
			                		<button onclick="window.history.back()" class="btn btn-danger cancelar" type="button">Voltar</button>
			                	<?php else : ?>
				                	<button class="btn btn-primary enviar" type="submit">Salvar</button>
				                	<button onclick="window.history.back()" class="btn btn-danger cancelar" type="button">Cancelar</button>
			                	<?php endif; ?>
			                </div>
						</div>
						<!-- /general form elements -->

					</fieldset> 

				</form>
				<!-- /basic inputs -->

		    </div>
		    <!-- /content wrapper -->

		</div>
		<!-- content -->
				
<script type="text/javascript" src="<?php echo $this->baseUrl('/public/scripts/admin/documentacaopermutas_form.js') ?>"></script>
<script type="text/javascript">
	var form_values = {};
	
	<?php if (isset($this->post_var)) :  ?>
		form_values.idprofessor = '<?php echo (isset($this->post_var['idprofessor'])) ? $this->post_var['idprofessor'] : '' ?>';

form_values.idescola = '<?php echo (isset($this->post_var['idescola'])) ? $this->post_var['idescola'] : '' ?>';

form_values.idtipoensino = '<?php echo (isset($this->post_var['idtipoensino'])) ? $this->post_var['idtipoensino'] : '' ?>';


form_values.idperiodo = '<?php echo (isset($this->post_var['idperiodo'])) ? $this->post_var['idperiodo'] : '' ?>';

form_values.posicao = '<?php echo (isset($this->post_var['posicao'])) ? $this->post_var['posicao'] : '' ?>';

form_values.idsescolas = [<?php echo (isset($this->post_var['idsescolas'])) ? $this->post_var['idsescolas'] : '' ?>];

form_values.status1 = '<?php echo (isset($this->post_var['status1'])) ? $this->post_var['status1'] : $this->post_var['status'] ?>';


	<?php endif; ?>

	visualizar = <?php echo  ((isset($this->visualizar)) && ($this->visualizar))  ? 'true' : 'false' ?>;

	<?php if($idescola > 0): ?>
		setPeriodos($('input[name=idescola]'),0);
	<?php endif; ?>
</script>
