<?php 
	include_once BASE_PATH . '/public/scripts/ckeditor/ckeditor.php';
	require_once BASE_PATH . '/public/scripts/ckfinder/ckfinder.php';
	
	$ckeditor = new CKEditor();
	$ckeditor->basePath	= $this->baseUrl('/public/scripts/ckeditor/');
	
	$ckfinder = $this->baseUrl('/public/scripts/ckfinder/');
	
	CKFinder::SetupCKEditor($ckeditor, $ckfinder);
?>

<div class="contentpanel">

	<div class="panel panel-default">
	
		<div class="panel-heading">
			
			<?php if (isset($this->erros)) :  ?>
			<div class="alert alert-danger">
				<button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
				<strong>Erro!</strong> 
				<?php foreach ($this->erros as $erro) : ?>
				<br /><?php echo $erro?>
				<?php endforeach;?>
			</div>				
			
			<?php endif;?>
			
			<h4 class="panel-title">Formulário da solicitação</h4>
			<p>Informe os dados da solicitação.</p>
        </div>
        <div class="panel-body panel-body-nopadding">
        	<form id="form" name="form" method="post" class="form-horizontal form-bordered">
        		<input type="hidden" value="<?php echo (isset($this->post_var)) ? $this->post_var["id"] : ''; ?>" name="id" id="id" />
        	
        		<div class="form-group">
        			<label class="col-sm-3 control-label">Entrada *</label>
        			<div class="col-sm-6">
        				<input name="titulo" value="<?php echo (isset($this->post_var['titulo'])) ? $this->post_var['titulo'] : '' ?>" type="text" class="form-control" placeholder="titulo">
					</div>
				</div>		
				
				<div class="form-group">
					<label class="col-sm-3 control-label">
						Descrições
					</label>
					<div class="col-sm-6">
						<?php if ((isset($this->visualizar)) && ($this->visualizar)) : ?>
						<div style="padding-top:10px"><?php echo $this->post_var['descricoes']; ?></div>
						<?php else : ?>
						<?php $value1 = (isset($this->post_var['descricoes'])) ? $this->post_var['descricoes'] : ''; ?>
						<?php $ckeditor->editor('descricoes', $value1); ?>
						<?php endif; ?>
					</div>
				</div>
				
        		<div class="form-group">
        			<label class="col-sm-3 control-label">Quantidade *</label>
        			<div class="col-sm-6">
        				<input name="quantidade" value="<?php echo (isset($this->post_var['quantidade'])) ? $this->post_var['quantidade'] : '' ?>" type="text" class="form-control" placeholder="quantidade">
					</div>
				</div>	

				<?php /*if($this->getAction()!="adicionar") : ?>		
					
	        		<div class="form-group">
	        			<label class="col-sm-3 control-label">Confirmação de Aprovação</label>
	        			<div class="col-sm-6">
	        				<input name="confirmaaprovacao" value="<?php echo (isset($this->post_var['confirmaaprovacao'])) ? $this->post_var['confirmaaprovacao'] : '' ?>" type="text" class="form-control" placeholder="" readonly="readonly">
						</div>
					</div>
					
	        		<div class="form-group">
	        			<label class="col-sm-3 control-label">Confirmação de Solicitação</label>
	        			<div class="col-sm-6">
	        				<input name="confirmasolicitacao" value="<?php echo (isset($this->post_var['confirmasolicitacao'])) ? $this->post_var['confirmasolicitacao'] : '' ?>" type="text" class="form-control" placeholder="" readonly="readonly">
						</div>
					</div>
				<?php endif;*/?>
				
        		<div class="form-group">
        			<label class="col-sm-3 control-label">Status *</label>
        			<div class="col-sm-6">
        				<select id="status1" name="status" class="form-control">
        					<option value="Ativo">Ativo</option>
        					<option value="Bloqueado">Bloqueado</option>
						</select>        				
					</div>
				</div>				

				
				<div class="panel-footer">
					<div class="row">
						<div class="col-sm-6 col-sm-offset-3">
							<?php if ((isset($this->visualizar)) && ($this->visualizar)) : ?>
							<button type="button" onclick="window.history.back()" class="btn btn-default">Voltar</button>
							<?php else : ?>
							<button class="btn btn-primary">Salvar</button>&nbsp;
							<button type="button" onclick="location.href='<?php echo $this->baseUrl() ?>/<?php echo $this->getController()?>'" class="btn btn-default">Cancelar</button>
							<?php endif;?>
						</div>
					</div>
				</div><!-- panel-footer -->				
				
			</form>
          
		</div><!-- panel-body -->
	</div>
</div>

<script type="text/javascript">
	var form_values = {};
	<?php if (isset($this->post_var['status'])) :  ?>
	form_values.status = '<?php echo (isset($this->post_var['status'])) ? $this->post_var['status'] : $this->post_var['status'] ?>';
	<?php endif; ?>



</script>
<script type="text/javascript" src="<?php echo $this->baseUrl('/public/scripts/default/almoxarifadosolicitacoes_form.js') ?>"></script>