<div class="contentpanel">

	<div class="row">
	
        <div class="panel-body">
        

			<div class="panel panel-default">
				<div class="panel-heading">
					<div class="panel-btns">
						<?php if ($this->isMinimize()) : ?>
						<a  href="javascript:;" class="minimize" onclick="setMinimize('sim')">−</a>
						<?php else : ?>
						<a href="javascript:;" class="minimize maximize" onclick="javascript:$('select').closest('div').find('.chosen-container').css('width', '100%');setMinimize('nao')">+</a>
						<?php endif; ?>
					</div>
					<h4 class="panel-title">Filtro</h4>
					<p>Use o formulário para filtrar de acordo com os critérios disponíveis</p>
				</div>        
				<div class="panel-body" style="display: <?php echo ($this->isMinimize()) ? 'block' : 'none' ?>;">
		        	<form id="form" name="form" method="post" class="form-horizontal form-bordered">
		        	
		        		<div class="form-group">
		        			<label class="col-sm-3 control-label">Palavra Chave</label>
		        			<div class="col-sm-6">
		        				<input name="chave" value="<?php echo (isset($this->post_var['chave'])) ? $this->post_var['chave'] : '' ?>" type="text" class="form-control" placeholder="">
							</div>
						</div>
						
		        		<div class="form-group">
		        			<label class="col-sm-3 control-label">Status</label>
		        			<div class="col-sm-6">
		        				<select id="status1" name="status" class="form-control">
		        					<option value="">Todos</option>
		        					<option value="Ativo">Ativo</option>
		        					<option value="Bloqueado">Bloqueado</option>
								</select>        				
							</div>
						</div>				
		
						
						<div class="panel-footer">
							<div class="row">
								<div class="col-sm-6 col-sm-offset-3">
									<button class="btn btn-warning">Pesquisar</button>&nbsp;
								</div>
							</div>
						</div><!-- panel-footer -->				
						
					</form>              
              
              
            	</div>	
            </div>        
        
        
			<div class="panel-heading" style="position:relative;">
			
				<?php if (isset($this->crudMessage)) : ?>
				<div class="alert alert-success">
                	<button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                	<strong>Sucesso!</strong> <?php echo $this->crudMessage ?>.
              	</div>
              	<?php endif; ?>
			
				<table width="100%">
					<tr>
						<td width="50%"><h4 class="panel-title">Solicitações cadastradas no sistema</h4></td>
						<?php if (Mn_Util::isDefaultAccess($this->getController(), 'adicionar')) : ?>
						<td width="50%" align="right"><a href="<?php echo $this->baseUrl() ?>/<?php echo $this->getController() ?>/adicionar" class="btn btn-primary">Adicionar nova solicitação</a></td>
						<?php endif; ?>
					</tr>
				</table>
				
				<br />
				
				<div class="table-responsive">
					
	                <table class="table table-primary mb30">
	                	<thead>
	                		<tr>
	                			<th width="20">&nbsp;</th>             			
								<th width="300">Solicitante</th>         			
	                			<th width="200">Solicitação</th>
	                			<th>Descrição</th>
	                			<?php ?>
	                			<th width="80">Aprovação</th>
	                			<?php ?>
	                			<th width="120">Status</th>
	                			<th style="width:74px">Ações</th>
	                		</tr>
	                	</thead>
	                	<tbody>
	                	   	<?php if (sizeof($this->rows)==0) : ?>
	                		<tr>
	                			<td colspan="6">Nenhum registro foi encontrado</td>
	                		</tr>
	                		<?php endif;?>
	                		<?php foreach ($this->rows as $i=>$row) : ?>
								<?php if (Mn_Util::isDefaultAccess($this->getController(), 'editar')) : ?>
								<tr class="line">
								<?php else : ?>
								<tr>
								<?php endif; ?>
	                				<td>
	                					<?php $i+1 ?>
	                					<input type="hidden" name=id[] value="<?php echo $row['id'] ?>" />
                					</td>
	                				<td>
                						<?php $usuario = Escolasusuarios::getEscolausuarioHelper($row['idusuarioescola'])?>
                						<?php if($usuario):?>
                							Origem: <b>ESCOLA</b> <br/>
                							Nome: <b><?php echo $usuario['nomerazao'] . ' ' . $usuario['sobrenomefantasia'] ?></b> <br />
                							Cargo: <b><?php echo $usuario['cargo']?></b><br />
                							RGF: <b><?php echo $usuario['rgf']?></b><br />
                						<?php else:?>
                							<b>FEITO PELA SECRETÁRIA DE ENSINO</b>
                						<?php endif;?>
									</td>
	                				<td>
	                					<?php echo $this->cortaPalavra(200, $row['titulo']) ?>
	                				
	                				</td>
	                				<td><?php echo $this->cortaPalavra(200, $row['descricoes']) ?></td>
	                				<td align="center">
	                					<?php if($row['aprovacao']=="Sim"): ?>
	                						Aprovado
	                						<?php /*?>
	                						<a href="<?php echo $this->baseUrl('/'.$this->getController().'/requisicao/id/' . $row['id'])?>" target="_blank"><i class="fa fa-file-pdf-o"></i></a>
	                						<?php */ ?>
	                					<?php else:?>
	                						Aguardando Aprovação
	                					<?php endif; ?>
                					</td>
	                				<td>
	                					<?php if (Mn_Util::isDefaultAccess($this->getController(), 'editar')) : ?>
	                					<a onclick="javascript:statusChange(<?php echo $row["id"]?>, this);" href="javascript:;"><?php echo $row['status'] ?></a>
	                					<?php else : ?>
	                					<?php echo $row['status'] ?>
	                					<?php endif; ?>
	                				</td>
	                				
	                				<td class="table-action">
	                					<?php if (Mn_Util::isDefaultAccess($this->getController(), 'visualizar')) : ?>
	                					<a href="<?php echo $this->baseUrl() ?>/<?php echo $this->getController() ?>/visualizar/id/<?php echo $row['id'] ?>"><i class="fa  fa-eye"></i></a>
	                					<?php endif;?>
	                					<?php if (Mn_Util::isDefaultAccess($this->getController(), 'editar')) : ?>
	                					<a href="<?php echo $this->baseUrl() ?>/<?php echo $this->getController() ?>/editar/id/<?php echo $row['id'] ?>"><i class="fa fa-pencil"></i></a>
	                					<?php endif;?>
	                					<?php if (Mn_Util::isDefaultAccess($this->getController(), 'excluir')) : ?>
	                					<a class="delete-row" href="javascript:confirmDelete('<?php echo $row['id']; ?>','registro');"><i class="fa fa-trash-o"></i></a>
	                					<?php endif; ?>
	                				</td>
	                			</tr>
	                		<?php endforeach;?> 
	                	</tbody>
	                </table>
	                <?php echo $this->render('/helpers/paginator.phtml') ?>
	            </div><!-- table-responsive -->				
				
			</div>        
        
            
        </div>

	</div>
        
</div>
<script type="text/javascript" src="<?php echo $this->baseUrl('/public/scripts/default/almoxarifadosolicitacoes_index.js') ?>"></script>
<script type="text/javascript">

	var form_values = {};
	<?php if (isset($this->post_var['status'])) :  ?>
	form_values.status = '<?php echo (isset($this->post_var['status'])) ? $this->post_var['status'] : $this->post_var['status'] ?>';
	<?php endif; ?>

</script>