		<!-- Content -->
		<div id="content">

		    <!-- Content wrapper -->
		    <div class="wrapper">

			    <!-- Breadcrumbs line -->
			    <div class="crumbs">
			    	<?php echo $this->render('/helpers/breadcrumb.phtml') ?>
			    </div>
			    <!-- /breadcrumbs line -->

			    <!-- Page header -->
			    <div class="page-header">
			    	<div class="page-title">
				    	<h5>Formulário de evento</h5>
				    	<span>Verifique os campos e preencha com os dados</span>
			    	</div>
			    </div>
			    <!-- /page header -->

			    <?php if (isset($this->crudMessage)) : ?>
					<div class="alert alert-success">
	                	<button data-dismiss="alert" class="close" type="button">×</button>
	                    <strong>Operação realizada com sucesso!</strong>
		    			<span><br /><?php echo $this->crudMessage ?></span>
	                </div>			    
			    <?php endif; ?>

				<form id="form" name="form" action="" method="post" class="form-horizontal" enctype="multipart/form-data"> 
					<input type="hidden" value="<?php echo (isset($this->post_var)) ? $this->post_var["id"] : ''; ?>" name="id" id="id" />
					
					<fieldset>
						<!-- General form elements -->
						<div class="widget row-fluid">
						    <div class="navbar">
						        <div class="navbar-inner">
						            <h6>Digite as informações do formulário</h6>
						        </div>
						    </div>

						    <div class="well">
								<?php if (isset($this->erros)) : ?>
									<div class="alert alert-error margin">
				                        <button data-dismiss="alert" class="close" type="button">×</button>
				                        <strong>Há erros no formulário!</strong>
					    				<?php foreach ($this->erros as $k=>$v) : ?>
					    					<span><br />- <?php echo $v ?></span>
					    				<?php endforeach;?>			                        
				                    </div>
			                    <?php endif; ?>						    
						    


				<div class="control-group">
					<label class="control-label">Título <span class="required">*</span></label>
					<div class="controls"><input maxlength="500" placeholder="Título" name="titulo" value="<?php echo (isset($this->post_var['titulo'])) ? $this->post_var['titulo'] : '' ?>" type="text"  class="span3" /></div>
				</div>

				<div class="control-group">
					<label class="control-label">Data Início</label>
					<div class="controls"><input placeholder="Data Início" name="datainicio" value="<?php echo (isset($this->post_var['datainicio'])) ? Mn_Util::formPostVarData($this->post_var['datainicio']) : '' ?>" type="text"  class="span3" /></div>
				</div>


				<div class="control-group">
					<label class="control-label">Hora Início </label>
					<div class="controls"><input  placeholder="Hora Início" name="horainicio" value="<?php echo (isset($this->post_var['horainicio'])) ? date('G:i', strtotime($this->post_var['horainicio'])) : '' ?>" type="text"  class="span3" /></div>
				</div>


				<div class="control-group">
					<label class="control-label">Data Fim</label>
					<div class="controls"><input placeholder="Data Fim" name="datafim" value="<?php echo (isset($this->post_var['datafim'])) ? Mn_Util::formPostVarData($this->post_var['datafim']) : '' ?>" type="text"  class="span3" /></div>
				</div>


				<div class="control-group">
					<label class="control-label">Hora Fim </label>
					<div class="controls"><input  placeholder="Hora Fim" name="horafim" value="<?php echo (isset($this->post_var['horafim'])) ? date('G:i', strtotime($this->post_var['horafim'])) : '' ?>" type="text"  class="span3" /></div>
				</div>


				<div class="control-group">
					<label class="control-label">Descrições </label>
					<div class="controls"><textarea class="span12" name="descricoes" cols="5" rows="5"><?php echo (isset($this->post_var)) ? $this->post_var["descricoes"] : ''; ?></textarea></div>
				</div>


				<div class="control-group">
					<label class="control-label">Observações </label>
					<div class="controls"><textarea class="span12" name="observacoes" cols="5" rows="5"><?php echo (isset($this->post_var)) ? $this->post_var["observacoes"] : ''; ?></textarea></div>
				</div>

				<?php if($this->getAction() != "adicionar"): ?>
				<div class="control-group">
					<label class="control-label">Status <span class="required">*</span></label>
					<div class="controls">
						<select name="status1" data-placeholder="Status" class="select">
							<option value="">Selecione...</option>
							<option value="Aberto">Aberto</option><option value="Pendente">Pendente</option><option value="Encerrado">Encerrado</option><option value="Cancelado">Cancelado</option>
						</select>
						
					</div>
				</div>
				<?php endif;?>
						    
						    
						    </div>
						    
			                <div class="form-actions align-right">
			                	<?php if ((isset($this->visualizar)) && ($this->visualizar)) : ?>
			                		<button onclick="window.history.back()" class="btn btn-danger cancelar" type="button">Voltar</button>
			                	<?php else : ?>
				                	<button class="btn btn-primary enviar" type="submit">Salvar</button>
				                	<button onclick="window.history.back()" class="btn btn-danger cancelar" type="button">Cancelar</button>
			                	<?php endif; ?>
			                </div>
						</div>
						<!-- /general form elements -->

					</fieldset> 

				</form>
				<!-- /basic inputs -->

		    </div>
		    <!-- /content wrapper -->

		</div>
		<!-- content -->
				
<script type="text/javascript" src="<?php echo $this->baseUrl('/public/scripts/admin/agendainterna_form.js') ?>"></script>
<script type="text/javascript">
	var form_values = {};
	
	<?php if (isset($this->post_var)) :  ?>
		form_values.idsecretaria = '<?php echo (isset($this->post_var['idsecretaria'])) ? $this->post_var['idsecretaria'] : '' ?>';

form_values.idusuariointerno = '<?php echo (isset($this->post_var['idusuariointerno'])) ? $this->post_var['idusuariointerno'] : '' ?>';

form_values.idusuario = '<?php echo (isset($this->post_var['idusuario'])) ? $this->post_var['idusuario'] : '' ?>';

form_values.iddepartamento = '<?php echo (isset($this->post_var['iddepartamento'])) ? $this->post_var['iddepartamento'] : '' ?>';

form_values.tipo = '<?php echo (isset($this->post_var['tipo'])) ? $this->post_var['tipo'] : '' ?>';

form_values.status1 = '<?php echo (isset($this->post_var['status1'])) ? $this->post_var['status1'] : $this->post_var['status'] ?>';


	<?php endif; ?>

	visualizar = <?php echo  ((isset($this->visualizar)) && ($this->visualizar))  ? 'true' : 'false' ?>;
</script>
