<?php $endereco_prefix = (isset($this->endereco_prefix)) ? $this->endereco_prefix : '' ?>

<div class="control-group">
	<label class="control-label">CEP </label>
	<div class="controls"><input maxlength="500" placeholder="CEP" name="<?php echo $endereco_prefix ?>cep" value="<?php echo (isset($this->post_var[$endereco_prefix.'cep'])) ? $this->post_var[$endereco_prefix.'cep'] : '' ?>" type="text"  class="span3" /></div>
</div>

<div class="control-group">
	<label class="control-label">Endereço </label>
	<div class="controls"><input maxlength="500" placeholder="Endereço" name="<?php echo $endereco_prefix ?>endereco" value="<?php echo (isset($this->post_var[$endereco_prefix.'endereco'])) ? $this->post_var[$endereco_prefix.'endereco'] : '' ?>" type="text"  class="span3" /></div>
</div>


<div class="control-group">
	<label class="control-label">Número </label>
	<div class="controls"><input maxlength="500" placeholder="Número" name="<?php echo $endereco_prefix ?>numero" value="<?php echo (isset($this->post_var[$endereco_prefix.'numero'])) ? $this->post_var[$endereco_prefix.'numero'] : '' ?>" type="text"  class="span3" /></div>
</div>


<div class="control-group">
	<label class="control-label">Complemento </label>
	<div class="controls"><input maxlength="500" placeholder="Complemento" name="<?php echo $endereco_prefix ?>complemento" value="<?php echo (isset($this->post_var[$endereco_prefix.'complemento'])) ? $this->post_var[$endereco_prefix.'complemento'] : '' ?>" type="text"  class="span3" /></div>
</div>


<div class="control-group">
	<label class="control-label">Bairro </label>
	<div class="controls"><input maxlength="500" placeholder="Bairro" name="<?php echo $endereco_prefix ?>bairro" value="<?php echo (isset($this->post_var[$endereco_prefix.'bairro'])) ? $this->post_var[$endereco_prefix.'bairro'] : '' ?>" type="text"  class="span3" /></div>
</div>


<div class="control-group">
	<label class="control-label">Estados </label>
		<div class="controls">
			<select id="<?php echo $endereco_prefix ?>idestado" name="<?php echo $endereco_prefix ?>idestado" class="span3"  onchange="setCidades(this, 0)">
				<option value="">Selecione...</option>
				<?php if (isset($this->estados)) : ?>
				<?php foreach ($this->estados as $i=>$row) : ?>
					<option value="<?php echo $row['id'] ?>"><?php echo $row['nome'] ?></option>
				<?php endforeach; ?>
				<?php else : ?>
				<?php foreach (Estados::getEstadosHelper() as $i=>$row) : ?>
					<option value="<?php echo $row['id'] ?>"><?php echo $row['nome'] ?></option>
				<?php endforeach; ?>
				<?php endif; ?>
			</select>
		</div>
</div>


<div class="control-group">
	<label class="control-label">Cidade </label>
	<div class="controls"><input maxlength="500" placeholder="Cidade" name="<?php echo $endereco_prefix ?>cidade" value="<?php echo (isset($this->post_var[$endereco_prefix.'cidade'])) ? $this->post_var[$endereco_prefix.'cidade'] : '' ?>" type="text"  class="span3" /></div>
</div>


		
		
		
		


<script type="text/javascript">

	<?php if (isset($this->post_var)) :  ?>
	<?php echo $endereco_prefix ?>idestado = '<?php echo (isset($this->post_var[$endereco_prefix.'idestado'])) ? $this->post_var[$endereco_prefix.'idestado'] : '' ?>';
	<?php endif; ?>		

	$(document).ready(function() {
		
		if ((typeof <?php echo $endereco_prefix ?>idestado)!='undefined') $("select[name=<?php echo $endereco_prefix ?>idestado]").val(<?php echo $endereco_prefix ?>idestado);

		$("input[name=<?php echo $endereco_prefix ?>cep]").unmask();
		$("input[name=<?php echo $endereco_prefix ?>cep]").mask("99999-999", {placeholder:" "});	
		
		$('input[name=<?php echo $endereco_prefix ?>cep]').blur(function() {
			val = $.trim(this.value);
			if (""==val) return;
				$.blockUI({ message: '<h1> Aguarde...</h1>' }); 
				$.post(baseUrl + '/admin/index/buscacep' , {cep: val,modo:'gravar'}, function(cep) {
					$.unblockUI();
					if (cep=='false') {
						jAlert('CEP não encontrado!','Erro');
						return;
					}
					
					cep = jQuery.parseJSON(cep);
					
					$("input[name=<?php echo $endereco_prefix ?>endereco]").val(cep.tipo_logradouro + ' ' + cep.logradouro.replace(cep.tipo_logradouro, ''));
					$("input[name=<?php echo $endereco_prefix ?>cidade]").val(cep.cidade);
					$("select[name=<?php echo $endereco_prefix ?>idestado]").val(cep.idestado);
					$("input[name=<?php echo $endereco_prefix ?>bairro]").val(cep.bairro);

					$("[name=<?php echo $endereco_prefix ?>idestado]").select2("destroy");
					$("[name=<?php echo $endereco_prefix ?>idestado]").select2();			
					
			});	
		});
		
	});	


</script>