
		<!-- Content -->
		<div id="content">

		    <!-- Content wrapper -->
		    <div class="wrapper">

			    <!-- Breadcrumbs line -->
			    <div class="crumbs">
			    	<?php echo $this->render('/helpers/breadcrumb.phtml') ?>
			    </div>
			    <!-- /breadcrumbs line -->

			    <!-- Page header -->
			    <div class="page-header">
			    	<div class="page-title">
				    	<h5>Formulário de Recebimento de Patrimônios </h5>
				    	<span>Verifique os campos e preencha com os dados</span>
			    	</div>
			    </div>
			    <!-- /page header -->

			    <?php if (isset($this->crudMessage)) : ?>
					<div class="alert alert-success">
	                	<button data-dismiss="alert" class="close" type="button">×</button>
	                    <strong>Operação realizada com sucesso!</strong>
		    			<span><br /><?php echo $this->crudMessage ?></span>
	                </div>			    
			    <?php endif; ?>

				<form id="form" name="form" action="" method="post" class="form-horizontal" enctype="multipart/form-data"> 
					<input type="hidden" value="<?php echo (isset($this->post_var)) ? $this->post_var["id"] : ''; ?>" name="id" id="id" />
					
					<fieldset>
						<!-- General form elements -->
						<div class="widget row-fluid">
						    <div class="navbar">
						        <div class="navbar-inner">
						            <h6>Digite as informações do formulário</h6>
						        </div>
						    </div>

						    <div class="well">
								<?php if (isset($this->erros)) : ?>
									<div class="alert alert-error margin">
				                        <button data-dismiss="alert" class="close" type="button">×</button>
				                        <strong>Há erros no formulário!</strong>
					    				<?php foreach ($this->erros as $k=>$v) : ?>
					    					<span><br />- <?php echo $v ?></span>
					    				<?php endforeach;?>			                        
				                    </div>
			                    <?php endif; ?>						    

				<div class="control-group">
			        	<table class="table table-contents" width="100%">
			        		<tbody>	
								<tr>
									<input type="hidden" value="<?php echo (isset($this->post_var['sequencial'])) ? $this->post_var['sequencial'] : $this->sequencial ?>" name="sequencial" id="sequencial" />
									<input  placeholder="Data de lançamento" name="datalancamento" value="<?php echo (isset($this->post_var['datalancamento'])) ? $this->post_var['datalancamento'] : date('d/m/Y') ?>" type="hidden"  class="span3" />
									<input  placeholder="Hora do lançamento" name="horalancamento" value="<?php echo (isset($this->post_var['horalancamento'])) ? $this->post_var['horalancamento'] : date('G:i:s') ?>" type="hidden"  class="span3" />
									<td width="33%">Sequencial/Ano: <?php echo (isset($this->post_var['sequencial'])) ? $this->post_var['sequencial'] : $this->sequencial ?></td>
									<td width="34%">Data da Abertura: <?php echo (isset($this->post_var['datacriacao'])) ? Mn_Util::formPostVarData($this->post_var['datacriacao']) : date('d/m/Y') ?></td>
									<td width="33%">Hora da Abertura: <?php echo (isset($this->post_var['datacriacao'])) ? Mn_Util::formPostVarData($this->post_var['datacriacao']) : date('G:i:s') ?></td>	
									
									</td>
								</tr>
							</tbody>
						</table>
					</div>	

				<div class="control-group">
					<label class="control-label">Nome do usuário <span class="required">*</span></label>
					<div class="controls">
						<input type="hidden" name="idusuario" value ="<?php echo (isset($this->post_var['idusuario'])) ? $this->post_var['idusuario'] : Escolasusuarios::getUsuario('id') ?>">
						<?php echo Escolasusuarios::getUsuario('nomerazao') ?><br>
						<?php echo 'RGF: '.Escolasusuarios::getUsuario('rgf') ?>				
					</div>
				</div>

				<div class="control-group">
					<label class="control-label">Nome do Patrimônio <span class="required">*</span></label>
					<div class="controls">
						<select name="idpatrimonio" data-placeholder="Patrimonios" class="select" onchange="setPatrimonios(this)">
							<option value="">Selecione...</option>
							<?php foreach(Patrimonios::getPatrimoniosHelper(array('status'=>'Ativo')) as $e=>$f):  ?>
							<option value="<?php echo $f['id'] ?>"><?php echo $f['patrimonio'] ?></option>
							<?php endforeach?>
						</select>
						
					</div>
				</div>
				<div class="recebedados"></div>
				<div class="well">
					<div class="control-group">
						<div class="visualizar">
							<center><label><b>Quem está recebendo o bem </b></label></center>
						</div>
					</div>

					<div class="control-group">
						<label class="control-label">Departamento<span class="required">*</span></label>
						<div class="controls">
						<select name="iddepartamento" data-placeholder="Departamento" class="select">
							<option value="">Selecione...</option>
							<?php foreach(Departamentosescolas::getDepartamentosescolasHelper(array('status'=>'Ativo')) as $e=>$f):  ?>
							<option value="<?php echo $f['id'] ?>"><?php echo $f['departamento'] ?></option>
							<?php endforeach?>
						</select>
					</div>
					</div>



					<div class="control-group">
						<label class="control-label">Setor<span class="required">*</span></label>
						<div class="controls">
						<select name="idsecretaria" data-placeholder="Setor" class="select">
							<option value="">Selecione...</option>
							<?php foreach(Patrimoniossetores::getPatrimoniossetoresHelper(array('status'=>'Ativo')) as $e=>$f):  ?>
							<option value="<?php echo $f['id'] ?>"><?php echo $f['setor'] ?></option>
							<?php endforeach?>
						</select>
					</div>
					</div>

				</div>

				<div class="control-group">
					<label class="control-label">Status <span class="required">*</span></label>
					<div class="controls">
						<select name="status1" data-placeholder="Status" class="select">
							<option value="">Selecione...</option>
							<option value="Aguardando aceite">Aguardando aceite</option>
							<option value="Aceito">Aceito</option>
							<option value="Não aceito">Não aceito</option>
						</select>
						
					</div>
				</div>


						    
						    
						    </div>
						    
			                <div class="form-actions align-right">
			                	<?php if ((isset($this->visualizar)) && ($this->visualizar)) : ?>
			                		<button onclick="window.history.back()" class="btn btn-danger cancelar" type="button">Voltar</button>
			                	<?php else : ?>
				                	<button class="btn btn-primary enviar" type="submit">Salvar</button>
				                	<button onclick="window.history.back()" class="btn btn-danger cancelar" type="button">Cancelar</button>
			                	<?php endif; ?>
			                </div>
						</div>
						<!-- /general form elements -->

					</fieldset> 

				</form>
				<!-- /basic inputs -->

		    </div>
		    <!-- /content wrapper -->

		</div>
		<!-- content -->
				
<script type="text/javascript" src="<?php echo $this->baseUrl('/public/scripts/default/patrimoniosrecebimentos_form.js') ?>"></script>
<script type="text/javascript">
	
	<?php if (isset($this->post_var)) :  ?>
		var form_values = {};

		form_values.idpatrimonio = '<?php echo (isset($this->post_var['idpatrimonio'])) ? $this->post_var['idpatrimonio'] : '' ?>';
		form_values.iddepartamento = '<?php echo (isset($this->post_var['iddepartamento'])) ? $this->post_var['iddepartamento'] :'' ?>';
		form_values.idsecretaria = '<?php echo (isset($this->post_var['idsecretaria'])) ? $this->post_var['idsecretaria'] : '' ?>';

		
		form_values.status1 = '<?php echo (isset($this->post_var['status1'])) ? $this->post_var['status1'] : $this->post_var['status'] ?>';
	<?php endif; ?>

	visualizar = <?php echo  ((isset($this->visualizar)) && ($this->visualizar))  ? 'true' : 'false' ?>;
</script>

