<?php if (sizeof($this->rows)==0) : ?>
<table class="table table-primary mb30">
	<thead>
		<tr>
			<td></td>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td colspan="10" width="100%">
				Nenhum aluno foi encontrada para essa escola
			</td>       						
		</tr>
	</tbody>
</table>
<?php else : ?>
<?php

$_qtdquestoes = $this->rows[0];
$qtdquestoes = $_qtdquestoes['qtdquestoes'];
$_valores = $this->rows[0];
$valores = $_valores['valorquestoes'];

$valor = explode(",", $valores);

foreach ($valor as $key => $value) {
 	$valor[$key] = (float)$value;
} 

array_shift($this->rows);

?>
<table class="table table-primary mb30">
	<thead>
		<tr>
			<th>Nome do Aluno</th>
			<th>RGF</th>
			<?php for ($i=0; $i < $qtdquestoes; $i++) : ?>
				<th>Questão <?= $i + 1 ?></th>
			<?php endfor ?>
			<th>% Acertos</th>
		</tr>
	</thead>
	<tbody>
<?php foreach ($this->rows as $row) : ?>
<?php
	$getAluno = new Escolasalunos();
	$dadosAluno = $getAluno->getEscolaalunoById($row['idaluno'] , array('status'=>'Ativo'));
?>
<tr>
	<td>
		
			<input type="checkbox" value="<?php echo $dadosAluno['id']?>" name="idaluno[]" onchange="setCampos(this)"> <?php echo $dadosAluno['nomerazao'] ?> <?php echo $dadosAluno['sobrenomefantasia'] ?>
	</td> 

	<td>
		<?php echo $dadosAluno['rgm'] ?>
	</td>  

	<?php for ($i=0; $i < $qtdquestoes; $i++) : ?>
		<td class="q">
			<input disabled onchange="porcentagemQuestoes();setMediaSala();calculaAcertos(this, '<?= $valores ?>')" type="radio" class="qi" value="acertou" name="questoes<?=$dadosAluno['id'].$i?>[]" > Acertou <img height="10px" width="10px" src="<?php echo $this->baseUrl('/public/admin/imagens/check.png') ?>"> <br>
			<input disabled onchange="porcentagemQuestoes();setMediaSala();calculaAcertos(this, '<?= $valores ?>')" type="radio" class="qi" value="errou" name="questoes<?=$dadosAluno['id'].$i?>[]" > Errou <img height="10px" width="10px" src="<?php echo $this->baseUrl('/public/admin/imagens/x.png') ?>">
		</td>
	<?php endfor ?>
	<td class="acertos" >0</td><input type="hidden" value="0" name="acertos[]">						
</tr>
<?php endforeach; ?>
<?php endif; ?>
<tr>
	<td colspan="2"></td>
	<?php for($i=0 ; $i < $qtdquestoes ; $i++) : ?>
		<td class="medianotas" >Porcentagem de acertos: <span></span> </td>
	<?php endfor ?>
	<td id="mediaturma" > Media da Turma: <span></span></td>
</tr>
	</tbody>
</table>
<script type="text/javascript">

if( typeof form_values != 'undefined') {

	var notas = (form_values.notas).split(';');
	notas = notas.slice(0).reverse();

	<?php for ($i = 0; $i < count($this->rows) ; $i++) : ?>

	notasaux = (notas[<?= $i ?>]).split(',');

	for (var i = 0 ; i < notasaux.length ; i++) {
		$("input[name='questoes<?=$this->rows[$i]['id']?>"+i+"[]'][value='"+notasaux[i]+"']").attr('checked','checked');
	}

	<?php endfor ?>

	porcentagemQuestoes()
	setMediaSala();
}

//Mostra a quantidade de alunos na turma
$("#qtdalunos").html("<?= count($this->rows) ?>");

function porcentagemQuestoes() {
	
	var i = 0;
	$("td.medianotas").each( function () {
		var _media = 0;

		<?php foreach ($this->rows as $key => $value) : ?>
			_media += ($("input[name='questoes<?= $value['id'] ?>"+i+"[]']").val() == "acertou" && $("input[name='questoes<?= $value['id'] ?>"+i+"[]']").attr("checked") == "checked" ) ? 1 : 0;
		<?php endforeach ?>

		$(this).find('span').html((_media/<?= count($this->rows) ?>)*100 + "%");
		i++;
	});
}

//Calcula a média final da sala por nota
function setMediaSala() {
	var valores = "<?= $valores ?>";
	valores = valores.split(',');

	var media = 0, soma = 0;

	<?php foreach ($this->rows as $key => $value) : ?>
		soma += calculaNotaAluno(valores, <?=$value['id']?>, <?= $qtdquestoes ?>);
	<?php endforeach ?>

	media = soma/<?= count($this->rows) ?>;

	$("#mediaturma").find('span').html(media);
}

//Calcula a media de cada aluno
function calculaNotaAluno(valores, idaluno, qtdquestoes) {
	
	// var valores = valores.split(',');
	var nota = 0;

	for (var i = 0; i < qtdquestoes ; i++) { 
		nota += ($("input[name='questoes"+idaluno+""+i+"[]']").val() == "acertou" && $("input[name='questoes"+idaluno+""+i+"[]']").attr("checked") == "checked" ) ? parseFloat(valores[i]) : 0;	
	}

	return nota;
}

//Calcula a porcentagem de acertos de um certo aluno
function calculaAcertos(obj, valores) {
	valores = valores.split(',');

	var idaluno = $(obj).parent().parent().find("input[type=radio]").attr("name");
	idaluno = idaluno.replace("questoes", "");
	idaluno = idaluno.replace("[]", "");
	idaluno = idaluno.substring(0, idaluno.length - 1);

	var qtdquestoes = <?= $qtdquestoes ?>;
	var qtdacertos = 0;

	for (var i = 0; i < qtdquestoes; i++) {	
		val = $("input:radio[name='questoes"+idaluno+""+i+"[]']:checked").val();

		// if (val == "acertou") qtdacertos += parseFloat(valores[i]);
		if (val == "acertou") qtdacertos++;
	}

	var pctacertos = (((qtdacertos/qtdquestoes)*100).toFixed(1) + "%");

	$(obj).parent().parent().find("td[class=acertos]").html(pctacertos);
	$(obj).parent().parent().find("input[name='acertos[]']").val(pctacertos);
}

//Ativa ou desativa os campos radio de acerto/erro de acordo com o selecionar dos alunos
function setCampos(obj){	
	var verifica = $(obj).attr("checked");
	if(verifica!="checked"){
		$(obj).parent().parent().find('.q').find('.qi').attr('disabled', true);
	} else {
		$(obj).parent().parent().find('.q').find('.qi').attr('disabled', false);
	}
}
</script>