		<!-- Content -->
		<div id="content">

		    <!-- Content wrapper -->
		    <div class="wrapper">

			    <!-- Breadcrumbs line -->
			    <div class="crumbs">
			    	<?php echo $this->render('/helpers/breadcrumb.phtml') ?>
			    </div>
			    <!-- /breadcrumbs line -->

			    <!-- Page header -->
			    <div class="page-header">
			    	<div class="page-title">
				    	<h5>Formulário do controle de frota</h5>
				    	<span>Verifique os campos e preencha com os dados</span>
			    	</div>
			    </div>
			    <!-- /page header -->

			    <?php if (isset($this->crudMessage)) : ?>
					<div class="alert alert-success">
	                	<button data-dismiss="alert" class="close" type="button">×</button>
	                    <strong>Operação realizada com sucesso!</strong>
		    			<span><br /><?php echo $this->crudMessage ?></span>
	                </div>			    
			    <?php endif; ?>

				<form id="form" name="form" action="" method="post" class="form-horizontal" enctype="multipart/form-data"> 
					<input type="hidden" value="<?php echo (isset($this->post_var)) ? $this->post_var["id"] : ''; ?>" name="id" id="id" />
					
					<fieldset>
						<!-- General form elements -->
						<div class="widget row-fluid">
						    <div class="navbar">
						        <div class="navbar-inner">
						            <h6>Digite as informações do formulário</h6>
						        </div>
						    </div>

						    <div class="well">
								<?php if (isset($this->erros)) : ?>
									<div class="alert alert-error margin">
				                        <button data-dismiss="alert" class="close" type="button">×</button>
				                        <strong>Há erros no formulário!</strong>
					    				<?php foreach ($this->erros as $k=>$v) : ?>
					    					<span><br />- <?php echo $v ?></span>
					    				<?php endforeach;?>			                        
				                    </div>
			                    <?php endif; ?>						    
						    



				<div class="control-group">
					<label class="control-label">Tipo do veículo </label>
					<div class="controls">						
						<input type="radio" id="veiculo_proprio" name="tipoveiculo" onclick="setProprietario(this)" value="proprio" <?php echo ($this->post_var['tipoveiculo'] == 'proprio') ? 'checked' : '' ?> />
						<label style="display: inline-block;" for="veiculo_proprio">Próprio</label>
						&nbsp;&nbsp;
						<input type="radio" id="veiculo_alugado" name="tipoveiculo" onclick="setProprietario(this)" value="alugado" <?php echo ($this->post_var['tipoveiculo'] == 'alugado') ? 'checked' : '' ?> />
						<label style="display: inline-block;" for="veiculo_alugado">Alugado</label>
					</div>
				</div>

				<div class="control-group">
					<label class="control-label">Veículo disponivel para reserva de uso dos departamentos? </label>
					<div class="controls">						
						<input type="radio" name="veiculodisponiveldepartamento" value="sim" <?php echo ($this->post_var['veiculodisponiveldepartamento'] == 'sim') ? 'checked' : '' ?> />
						<label style="display: inline-block;" for="veiculo_proprio">Sim</label>
						&nbsp;&nbsp;
						<input type="radio" name="veiculodisponiveldepartamento" value="nao" <?php echo ($this->post_var['veiculodisponiveldepartamento'] == 'nao') ? 'checked' : '' ?> />
						<label style="display: inline-block;" for="veiculo_alugado">Não</label>
					</div>
				</div>

				<div class="box-proprietario" style="display: none;">
					<div class="control-group">
						<label class="control-label">Proprietário <span class="required">*</span></label>
						<div class="controls">
			                <select name="idproprietario" data-placeholder="Proprietário" class="select">
								<option value="">Selecione...</option>
								<?php foreach (Logisticasfornecedores::getLogisticasfornecedoresHelper(array('status'=>'Ativo')) as $k=>$v) : ?>
								<option value="<?php echo $v['id'] ?>"><?php echo $v['razaosocial'] . ' ' . $v['sobrenomefantasia'] ?></option>
								<?php endforeach;?>
							</select>
							
						</div>
					</div>
				</div>
<?php /*
				<div class="control-group">
					<label class="control-label">Fabricantes <span class="required">*</span></label>
					<div class="controls">
		                <select name="idfabricante" data-placeholder="Fabricantes" class="select">
							<option value="">Selecione...</option>
							<?php foreach (Fabricantes::getFabricantesHelper(array('status'=>'Ativo')) as $k=>$v) : ?>
							<option value="<?php echo $v['id'] ?>"><?php echo $v['fabricante'] ?></option>
							<?php endforeach;?>
						</select>
						
					</div>
				</div>
*/ ?>

				<div class="control-group">
					<label class="control-label">Veículo Escolar?</label>
					<div class="controls">						
						<input type="radio" id="escolar_sim" name="escolar" onclick="setEscolar(this)" value="sim" <?php echo ($this->post_var['escolar'] == 'sim') ? 'checked' : '' ?> />
						<label style="display: inline-block;" for="escolar_sim">Sim</label>
						&nbsp;&nbsp;
						<input type="radio" id="escolar_nao" name="escolar" onclick="setEscolar(this)" value="nao" <?php echo ($this->post_var['escolar'] == 'nao') ? 'checked' : '' ?> />
						<label style="display: inline-block;" for="escolar_nao">Não</label>
					</div>
				</div>

				<div class="box-escolar" style="display: none;">
					<div class="control-group">
						<label class="control-label">Certificado de Vistoria </label>
						<div class="controls">
							<?php if ((isset($this->post_var['idvistoriaescolar'])) && ((int)$this->post_var['idvistoriaescolar']>0)) : ?>
								<?php echo $this->getArquivo($this->post_var['idvistoriaescolar']) ?>
							
								<?php if (!$this->visualizar) : ?>
									<div class="checkbox block">
										<label><input type="checkbox" name="excluir_idvistoriaescolar" value="excluir" /> Desejo excluir o arquivo</label>
									</div>
								<?php endif; ?>
							<?php endif; ?>
							
							<input placeholder="Arquivo" name="idvistoriaescolar" type="file"  />
						</div>
					</div>	

					<div class="control-group">
						<label class="control-label">Vencto. Vistoria Escolar</label>
						<div class="controls"><input placeholder="vencimentovistoriaescolar" name="vencimentovistoriaescolar" value="<?php echo (isset($this->post_var['vencimentovistoriaescolar'])) ? Mn_Util::formPostVarData($this->post_var['vencimentovistoriaescolar']) : '' ?>" type="text"  class="span3" /></div>
					</div>
				</div>


				<div class="control-group">
					<label class="control-label">Veículo para deficiente? </label>
					<div class="controls">						
						<input type="radio" id="deficiente_sim" name="deficiente" onclick="setDeficiente(this)" value="sim" <?php echo ($this->post_var['deficiente'] == 'sim') ? 'checked' : '' ?> />
						<label style="display: inline-block;" for="deficiente_sim">Sim</label>
						&nbsp;&nbsp;
						<input type="radio" id="deficiente_nao" name="deficiente" onclick="setDeficiente(this)" value="nao" <?php echo ($this->post_var['deficiente'] == 'nao') ? 'checked' : '' ?> />
						<label style="display: inline-block;" for="deficiente_nao">Não</label>
					</div>
				</div>

				<div class="box-deficiente" id="deficiente" style="display: none;">
					<div class="control-group">
						<label class="control-label">Certificado de Vistoria </label>
						<div class="controls">
							<?php if ((isset($this->post_var['idvistoriadeficiente'])) && ((int)$this->post_var['idvistoriadeficiente']>0)) : ?>
								<?php echo $this->getArquivo($this->post_var['idvistoriadeficiente']) ?>
							
								<?php if (!$this->visualizar) : ?>
									<div class="checkbox block">
										<label><input type="checkbox" name="excluir_idvistoriadeficiente" value="excluir" /> Desejo excluir o arquivo</label>
									</div>
								<?php endif; ?>
							<?php endif; ?>
							
							<input placeholder="Arquivo" name="idvistoriadeficiente" type="file"  />
						</div>
					</div>	

					<div class="control-group">
						<label class="control-label">Vcto. Vistoria Veic. para Deficientes</label>
						<div class="controls"><input placeholder="vencimentovistoriadeficiente" name="vencimentovistoriadeficiente" value="<?php echo (isset($this->post_var['vencimentovistoriadeficiente'])) ? Mn_Util::formPostVarData($this->post_var['vencimentovistoriadeficiente']) : '' ?>" type="text"  class="span3" /></div>
					</div>
				</div>

				<div class="control-group">
					<label class="control-label">Tipo de Veículo <span class="required">*</span></label>
					<div class="controls">
		                <select name="idtipo" data-placeholder="Tipo" class="select">
							<option value="">Selecione...</option>
							<?php foreach (Logisticatipos::getLogisticatiposHelper(array('status'=>'Ativo')) as $k=>$v) : ?>
							<option value="<?php echo $v['id'] ?>"><?php echo $v['tipo'] ?></option>
							<?php endforeach;?>
						</select>
						
					</div>
				</div>


				<div class="control-group">
					<label class="control-label">Renavam *</label>
					<div class="controls"><input maxlength="20" placeholder="Renavam" name="renavam" value="<?php echo (isset($this->post_var['renavam'])) ? $this->post_var['renavam'] : '' ?>" type="text"  class="span3" /></div>
				</div>

				<div class="control-group">
					<label class="control-label">Placa <span class="required">*</span></label>
					<div class="controls"><input maxlength="10" placeholder="Placa" name="placa" value="<?php echo (isset($this->post_var['placa'])) ? $this->post_var['placa'] : '' ?>" type="text"  class="span3" /></div>
				</div>


				<div class="control-group">
					<label class="control-label">Chassi </label>
					<div class="controls"><input maxlength="20" placeholder="Chassi" name="chassi" value="<?php echo (isset($this->post_var['chassi'])) ? $this->post_var['chassi'] : '' ?>" type="text"  class="span3" /></div>
				</div>


				<div class="control-group">
					<label class="control-label">Espécie/Tipo </label>
					<div class="controls"><input maxlength="20" placeholder="Espécie" name="especie" value="<?php echo (isset($this->post_var['especie'])) ? $this->post_var['especie'] : '' ?>" type="text"  class="span3" /></div>
				</div>

				<div class="control-group">
					<label class="control-label">Combustível <span class="required">*</span></label>
					<div class="controls">
						<select name="combustivel" data-placeholder="Tipo de combustivel" class="select">
							<option value="">Selecione...</option>
							<option value="etanol">Etanol</option>
							<option value="gasolina">Gasolina</option>
							<option value="diesel">Diesel</option>
							<option value="gas">Gás Natural</option>
						</select>
						
					</div>
				</div>


				<div class="control-group">
					<label class="control-label">Marcas <span class="required">*</span></label>
					<div class="controls">
		                <select name="idmarca" data-placeholder="Marcas" class="select">
							<option value="">Selecione...</option>
							<?php foreach (Logisticamarcas::getLogisticamarcasHelper(array('status'=>'Ativo')) as $k=>$v) : ?>
							<option value="<?php echo $v['id'] ?>"><?php echo $v['marca'] ?></option>
							<?php endforeach;?>
						</select>
						
					</div>
				</div>

				<div class="control-group">
					<label class="control-label">Modelo <span class="required">*</span></label>
					<div class="controls">
		                <select name="idmodelo" data-placeholder="Modelo" class="select">
							<option value="">Selecione...</option>
							<?php foreach (Logisticamodelos::getLogisticamodelosHelper(array('status'=>'Ativo')) as $k=>$v) : ?>
							<option value="<?php echo $v['id'] ?>"><?php echo $v['modelo'] ?></option>
							<?php endforeach;?>
						</select>
						
					</div>
				</div>

				<div class="control-group">
					<label class="control-label">Veículo *</label>
					<div class="controls"><input maxlength="45" placeholder="Veículo" name="veiculo" value="<?php echo (isset($this->post_var['veiculo'])) ? $this->post_var['veiculo'] : '' ?>" type="text"  class="span3" /></div>
				</div>


				<div class="control-group">
					<label class="control-label">Ano Fabricação </label>
					<div class="controls"><input  placeholder="Ano Fabricação" name="anofabricacao" value="<?php echo (isset($this->post_var['anofabricacao'])) ? $this->post_var['anofabricacao'] : '' ?>" type="text"  class="span3" /></div>
				</div>

				<div class="control-group">
					<label class="control-label">Ano Modelo </label>
					<div class="controls"><input  placeholder="Ano Modelo" name="anomodelo" value="<?php echo (isset($this->post_var['anomodelo'])) ? $this->post_var['anomodelo'] : '' ?>" type="text"  class="span3" /></div>
				</div>


				<div class="control-group">
					<label class="control-label">Capacidade </label>
					<div class="controls"><input maxlength="20" placeholder="Capacidade" name="capacidadepotencia" value="<?php echo (isset($this->post_var['capacidadepotencia'])) ? $this->post_var['capacidadepotencia'] : '' ?>" type="text"  class="span3" /></div>
				</div>


				<div class="control-group">
					<label class="control-label">Cor </label>
					<div class="controls"><input maxlength="20" placeholder="Cor" name="cor" value="<?php echo (isset($this->post_var['cor'])) ? $this->post_var['cor'] : '' ?>" type="text"  class="span3" /></div>
				</div>

				<div class="box-patrimonio" style="display: none;">
					<div class="control-group">
						<label class="control-label">Patrimônio </label>
						<div class="controls"><input maxlength="50" placeholder="Patrimônio" name="patrimonio" value="<?php echo (isset($this->post_var['patrimonio'])) ? $this->post_var['patrimonio'] : '' ?>" type="text"  class="span3" /></div>
					</div>
				</div>


				<div class="control-group">
					<label class="control-label">Estado do veículo </label>
					<div class="controls"><textarea class="span12" name="situacaoveiculo" cols="5" rows="5"><?php echo (isset($this->post_var)) ? $this->post_var["situacaoveiculo"] : ''; ?></textarea></div>
				</div>


				<div class="control-group">
					<label class="control-label">Km Inicial </label>
					<div class="controls"><input  placeholder="Km Inicial" name="kminicial" value="<?php echo (isset($this->post_var['kminicial'])) ? $this->post_var['kminicial'] : '' ?>" type="text"  class="span3" /></div>
				</div>

				<div class="control-group">
					<label class="control-label">Anexar DUT </label>
					<div class="controls">
						<?php if ((isset($this->post_var['idarquivo'])) && ((int)$this->post_var['idarquivo']>0)) : ?>
							<?php echo $this->getArquivo($this->post_var['idarquivo']) ?>
						
							<?php if (!$this->visualizar) : ?>
								<div class="checkbox block">
									<label><input type="checkbox" name="excluir_idarquivo" value="excluir" /> Desejo excluir o arquivo</label>
								</div>
							<?php endif; ?>
						<?php endif; ?>
						
						<input placeholder="Arquivo" name="idarquivo" type="file"  />
					</div>
				</div>	
				
				<?php if(false): ?>
				<div class="control-group">
					<label class="control-label">Categoria </label>
					<div class="controls"><input maxlength="20" placeholder="Categoria" name="categoria" value="<?php echo (isset($this->post_var['categoria'])) ? $this->post_var['categoria'] : '' ?>" type="text"  class="span3" /></div>
				</div>



				<div class="control-group">
					<label class="control-label">Empréstimo </label>
					<div class="controls">
						<select name="emprestimo" data-placeholder="Empréstimo" class="select">
							<option value="">Selecione...</option>
							<option value="Sim">Sim</option><option value="Não">Não</option>
						</select>
						
					</div>
				</div>


				<div class="control-group">
					<label class="control-label">Veículo Público </label>
					<div class="controls">
						<select name="veiculopublico" data-placeholder="Veículo Público" class="select">
							<option value="">Selecione...</option>
							<option value="Sim">Sim</option><option value="Não">Não</option>
						</select>
						
					</div>
				</div>


				<div class="control-group">
					<label class="control-label">Quantidade </label>
					<div class="controls"><input  placeholder="Quantidade" name="quantidade" value="<?php echo (isset($this->post_var['quantidade'])) ? $this->post_var['quantidade'] : '' ?>" type="text"  class="span3" /></div>
				</div>


				<div class="control-group">
					<label class="control-label">Veículo disp. para reserva? </label>
					<div class="controls">
						<select name="reservadepartamentos" data-placeholder="Veículo disp. para reserva?" class="select">
							<option value="">Selecione...</option>
							<option value="Sim">Sim</option><option value="Não">Não</option>
						</select>
						
					</div>
				</div>



				<div class="control-group">
					<label class="control-label">Arquivo </label>
					<div class="controls">
						<?php if ((isset($this->post_var['idlaudoescolar'])) && ((int)$this->post_var['idlaudoescolar']>0)) : ?>
							<?php echo $this->getArquivo($this->post_var['idlaudoescolar']) ?>
						
							<?php if (!$this->visualizar) : ?>
								<div class="checkbox block">
									<label><input type="checkbox" name="excluir_idlaudoescolar" value="excluir" /> Desejo excluir o arquivo</label>
								</div>
							<?php endif; ?>
						<?php endif; ?>
						
						<input placeholder="Arquivo" name="idlaudoescolar" type="file"  />
					</div>
				</div>	
				<?php endif; ?>

				<div class="control-group">
					<label class="control-label">Status <span class="required">*</span></label>
					<div class="controls">
						<select name="status1" data-placeholder="Status" class="select">
							<option value="">Selecione...</option>
							<option value="Ativo">Ativo</option><option value="Bloquedo">Bloquedo</option>
						</select>
						
					</div>
				</div>

						    
						    
						    </div>
						    
			                <div class="form-actions align-right">
			                	<?php if ((isset($this->visualizar)) && ($this->visualizar)) : ?>
			                		<button onclick="window.history.back()" class="btn btn-danger cancelar" type="button">Voltar</button>
			                	<?php else : ?>
				                	<button class="btn btn-primary enviar" type="submit">Salvar</button>
				                	<button onclick="window.history.back()" class="btn btn-danger cancelar" type="button">Cancelar</button>
			                	<?php endif; ?>
			                </div>
						</div>
						<!-- /general form elements -->

					</fieldset> 

				</form>
				<!-- /basic inputs -->

		    </div>
		    <!-- /content wrapper -->

		</div>
		<!-- content -->
				
<script type="text/javascript" src="<?php echo $this->baseUrl('/public/scripts/admin/logisticafrotas_form.js') ?>"></script>
<script type="text/javascript">
	var form_values = {};
	
	<?php if (isset($this->post_var)) :  ?>
		form_values.idfabricante = '<?php echo (isset($this->post_var['idfabricante'])) ? $this->post_var['idfabricante'] : '' ?>';

form_values.idmarca = '<?php echo (isset($this->post_var['idmarca'])) ? $this->post_var['idmarca'] : '' ?>';

form_values.deficiente = '<?php echo (isset($this->post_var['deficiente'])) ? $this->post_var['deficiente'] : '' ?>';

form_values.idproprietario = '<?php echo (isset($this->post_var['idproprietario'])) ? $this->post_var['idproprietario'] : '' ?>';

form_values.idtipo = '<?php echo (isset($this->post_var['idtipo'])) ? $this->post_var['idtipo'] : '' ?>';

form_values.idmodelo = '<?php echo (isset($this->post_var['idmodelo'])) ? $this->post_var['idmodelo'] : '' ?>';

form_values.emprestimo = '<?php echo (isset($this->post_var['emprestimo'])) ? $this->post_var['emprestimo'] : '' ?>';

form_values.combustivel = '<?php echo (isset($this->post_var['combustivel'])) ? $this->post_var['combustivel'] : '' ?>';

form_values.veiculopublico = '<?php echo (isset($this->post_var['veiculopublico'])) ? $this->post_var['veiculopublico'] : '' ?>';

form_values.reservadepartamentos = '<?php echo (isset($this->post_var['reservadepartamentos'])) ? $this->post_var['reservadepartamentos'] : '' ?>';

form_values.escolar = '<?php echo (isset($this->post_var['escolar'])) ? $this->post_var['escolar'] : '' ?>';
form_values.veiculodisponiveldepartamento = '<?php echo (isset($this->post_var['veiculodisponiveldepartamento'])) ? $this->post_var['veiculodisponiveldepartamento'] : '' ?>';

form_values.status1 = '<?php echo (isset($this->post_var['status1'])) ? $this->post_var['status1'] : $this->post_var['status'] ?>';


	<?php endif; ?>

	visualizar = <?php echo  ((isset($this->visualizar)) && ($this->visualizar))  ? 'true' : 'false' ?>;
</script>
