		<!-- Content -->
		<div id="content">

		    <!-- Content wrapper -->
		    <div class="wrapper">

			    <!-- Breadcrumbs line -->
			    <div class="crumbs">
			    	<?php echo $this->render('/helpers/breadcrumb.phtml') ?>
			    </div>
			    <!-- /breadcrumbs line -->

			    <!-- Page header -->
			    <div class="page-header">
			    	<div class="page-title">
				    	<h5>Controle de Frotas no sistema</h5>
				    	<span>Visualize os controle de frotas do sistema</span>
			    	</div>
			    	
			    </div>
			    <!-- /page header -->
			    
			    <?php if (isset($this->crudMessage)) : ?>
				<div class="alert alert-success">
                	<button data-dismiss="alert" class="close" type="button">×</button>
                    <strong>Operação realizada com sucesso!</strong>
	    			<span><br /><?php echo $this->crudMessage ?></span>
                </div>			    
			    <?php endif; ?>




	                        	                        
                <!-- Table with footer -->
                <div class="widget">
                	<form action="#" class="form-horizontal" method="post">
                		<input type="hidden" value="<?php echo (isset($this->post_var['sorting'])) ? $this->post_var['sorting'] : '' ?>" name="sorting" />
	                	<div class="navbar">
	                		<div class="navbar-inner">
	                			<h6>Visualizando registros</h6>
	                			<?php if (Mn_Util::isAccess($this->getController(), 'adicionar')) : ?>
	                			<a style="float:right;" href="<?php echo $this->baseUrl() ?>/<?php echo 'admin' ?>/<?php echo $this->getController() ?>/adicionar" class="btn btn-primary"><span class="icon-plus"></span>&nbsp;Adicionar controle de frota</a>
	                			<?php endif; ?>
	                		</div>
	                	</div>
	                    <div class="table-overflow">
	                        <table class="table table-content">
	                            <thead>
	                                <tr>
	                                    <th width="20">#</th>
                                    <!-- <th class="s-idfabricante sorting">Fabricantes</th> -->
                                    <th class="s-idmarca sorting">Marcas</th>
                                    <th class="s-placa sorting">Placa</th>
                                    <th class="s-idproprietario sorting">Proprietário</th>
                                    <th class="s-status sorting">Status</th>


	                                    <th width="96">Ações</th>
	                                </tr>
	                                <tr>
	                                    <th></th>
									<?php /*
										<th>
											<div>
												<select name="idfabricante" placeholder="Todos" class="select">
													<option value="">Todos</option>
													<?php foreach (Fabricantes::getFabricantesHelper(array('status'=>'Ativo')) as $k=>$v) : ?>
														<option value="<?php echo $v['id'] ?>"><?php echo $v['fabricante'] ?></option>
													<?php endforeach;?>
												</select>
											</div>
										</th>
									*/ ?>
										<th>
											<div>
												<select name="idmarca" placeholder="Todos" class="select">
													<option value="">Todos</option>
													<?php foreach (Logisticamarcas::getLogisticamarcasHelper(array('status'=>'Ativo')) as $k=>$v) : ?>
														<option value="<?php echo $v['id'] ?>"><?php echo $v['marca'] ?></option>
													<?php endforeach;?>
												</select>
											</div>
										</th>
										<th><input name="placa" value="<?php echo (isset($this->post_var['placa'])) ? $this->post_var['placa'] : '' ?>" type="text" placeholder="Placa" class="span3"></th>

										<th>
											<div>
												<select name="idproprietario" placeholder="Todos" class="select">
													<option value="">Todos</option>
													<?php foreach (Logisticasfornecedores::getLogisticasfornecedoresHelper(array('status'=>'Ativo')) as $k=>$v) : ?>
														<option value="<?php echo $v['id'] ?>"><?php echo $v['razaosocial'] ?></option>
													<?php endforeach;?>
												</select>
											</div>
										</th>

										<th>
											<div>
												<select name="status1" placeholder="Todos" class="select">
													<option value="">Todos</option>
													<option value="Ativo">Ativo</option><option value="Bloquedo">Bloquedo</option>
												</select>
											</div>
										</th>
                   

	                                    <th><button class="btn btn-mini btn-primary" type="submit">Pesquisar</button></th>
	                                </tr> 
	                                                                
	                            </thead>
	                            <tbody>
	                            	<?php if (sizeof($this->rows)==0) : ?>
	                                <tr>
	                                    <td colspan="7">Nenhum registro foi encontrado!</td>
	                                </tr>
	                            	
	                            	<?php else : ?>
	                            	<?php foreach ($this->rows as $row) : ?>
	                                <tr>
	                                	<td><?php echo $row['id'] ?></td>

								<?php /*
										<td>
											<?php
												$___rows = Fabricantes::getFabricantesHelper(array('id'=>$row['idfabricante']));
												$___row = (sizeof($___rows)>0) ? 	$___rows[0] : false;	
												
												echo ($___row) ? $this->formatTextoBranco($___row['fabricante']) : '--';		
											?>
										</td>
								*/ ?>
										<td>
											<?php
												$logisticamarcas = Logisticamarcas::getLogisticamarcaByIdHelper($row['idmarca']); 
												echo $logisticamarcas['marca'];		
											?>
										</td>
										<td><?php echo $row['placa'] ?></td>

										<td>
											<?php
												$logisticasfornecedores = Logisticasfornecedores::getLogisticafornecedorByIdHelper($row['idproprietario']); 
												echo $logisticasfornecedores['razaosocial'] ;		
											?>
										</td>

										<td>
											<?php if (Mn_Util::isAccess($this->getController(), 'editar')) : ?>
												<a onclick="javascript:statusChange(<?php echo $row["id"]?>, this);" href="javascript:;"><?php echo $row['status'] ?></a>
											<?php else : ?>
												<?php echo $row['status'] ?>
											<?php endif; ?>
										</td>

			                				

	                                    <td>
	                                        <ul class="table-controls">
	                                            <li><a title="" class="btn tip" href="<?php echo $this->baseUrl() ?>/<?php echo 'admin' ?>/<?php echo $this->getController() ?>/visualizar/id/<?php echo $row['id'] ?>" data-original-title="Visualizar"><i class="icon-eye-open"></i></a> </li>
	                                            <?php if (Mn_Util::isAccess($this->getController(), 'editar')) : ?>
	                                            <li><a title="" class="btn tip" href="<?php echo $this->baseUrl() ?>/<?php echo 'admin' ?>/<?php echo $this->getController() ?>/editar/id/<?php echo $row['id'] ?>" data-original-title="Editar"><i class="icon-pencil"></i></a> </li>
	                                            <?php endif;?>
	                                            <?php if (Mn_Util::isAccess($this->getController(), 'excluir')) : ?>
	                                            <li><a title="" class="btn tip" href="javascript:confirmDelete('<?php echo $row['id']; ?>','registro');" data-original-title="Excluir"><i class="icon-remove"></i></a> </li>
	                                            <?php endif; ?>
	                                        </ul>
	                                    </td>
	                                </tr>
	                            	<?php endforeach;?>
	                            	
	                            	
	                            	
	                            	
	                            	<?php endif; ?>
	
	                            </tbody>
	                        </table>
	                    </div>
	                    <?php echo $this->render('/helpers/paginator.phtml') ?>
                    
                    </form>

                </div>
                <!-- /table with footer -->
	                        


		    </div>
		    <!-- /content wrapper -->

		</div>
		<!-- content -->
		
		
<script type="text/javascript" src="<?php echo $this->baseUrl('/public/scripts/admin/logisticafrotas_index.js') ?>"></script>
<script type="text/javascript">

	var form_values = {};
	<?php if (isset($this->post_var)) :  ?>
form_values.idfabricante = '<?php echo (isset($this->post_var['idfabricante'])) ? $this->post_var['idfabricante'] : '' ?>';

form_values.idmarca = '<?php echo (isset($this->post_var['idmarca'])) ? $this->post_var['idmarca'] : '' ?>';

form_values.deficiente = '<?php echo (isset($this->post_var['deficiente'])) ? $this->post_var['deficiente'] : '' ?>';

form_values.idproprietario = '<?php echo (isset($this->post_var['idproprietario'])) ? $this->post_var['idproprietario'] : '' ?>';

form_values.emprestimo = '<?php echo (isset($this->post_var['emprestimo'])) ? $this->post_var['emprestimo'] : '' ?>';

form_values.veiculopublico = '<?php echo (isset($this->post_var['veiculopublico'])) ? $this->post_var['veiculopublico'] : '' ?>';

form_values.reservadepartamentos = '<?php echo (isset($this->post_var['reservadepartamentos'])) ? $this->post_var['reservadepartamentos'] : '' ?>';

form_values.escolar = '<?php echo (isset($this->post_var['escolar'])) ? $this->post_var['escolar'] : '' ?>';

form_values.status1 = '<?php echo (isset($this->post_var['status1'])) ? $this->post_var['status1'] : $this->post_var['status'] ?>';

	
	<?php endif; ?>

	var sorting = ["idfabricante", "idmarca", "idmodelo", "anomodelo", "combustivel", "renavam", "chassi", "placa", "cor", "capacidadepotencia", "idproprietario", "especie", "categoria", "veiculo", "anofabricacao", "emprestimo", "veiculopublico", "quantidade", "escolar", "status"];
	
</script>	


