<style type="text/css">

    #exTab3 .nav-pills > li > a {
        color : black;
        border-radius: 4px 4px 0 0 ;
    }

    #exTab3 .tab-content {
        color : black;
        padding : 5px 15px;
    }

    .megablock {
        display: grid;
        grid-template-columns: 33% 33% 33%;
    }

    .megablock > div {
        /* border: 1px solid #ffa94d; */
        padding: 1em;
        color: #000000;
    }

    input, select {
        border-radius: 5px;
    }

    input, select :focus {
        outline: none !important;
        border-color: #719ECE;
        box-shadow: 0 0 10px #719ECE;
    }    
    .rotulo{
        font-weight: bold;
        font-style: oblique;
    }

    .nested {
        border: 1px solid #ffec99;
        border-radius: 5px;
        background-color: #fff9db;
        padding: 1em;
    }    

    /* Custom Style */
    .onoffswitch {
        position: relative; width: 90px;
        -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
    }
    .onoffswitch-checkbox {
        display: none;
    }
    .onoffswitch-label {
        display: block; overflow: hidden; cursor: pointer;
        border: 2px solid #999999; border-radius: 20px;
    }
    .onoffswitch-inner {
        display: block; width: 200%; margin-left: -100%;
        -moz-transition: margin 0.3s ease-in 0s; -webkit-transition: margin 0.3s ease-in 0s;
        -o-transition: margin 0.3s ease-in 0s; transition: margin 0.3s ease-in 0s;
    }
    .onoffswitch-inner:before, .onoffswitch-inner:after {
        display: block; float: left; width: 50%; height: 30px; padding: 0; line-height: 30px;
        font-size: 14px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
        -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
    }
    .onoffswitch-inner:before {
        content: "Nova";
        padding-left: 10px;
        background-color: #3399ff; color: #FFFFFF;
    }
    .onoffswitch-inner:after {
        content: "Antiga";
        padding-right: 10px;
        background-color: #EEEEEE; color: #999999;
        text-align: right;
    }
    .onoffswitch-switch {
        display: block; width: 18px; margin: 6px;
        background: #FFFFFF;
        border: 2px solid #999999; border-radius: 20px;
        position: absolute; top: 0; bottom: 0; right: 56px;
        -moz-transition: all 0.3s ease-in 0s; -webkit-transition: all 0.3s ease-in 0s;
        -o-transition: all 0.3s ease-in 0s; transition: all 0.3s ease-in 0s; 
    }
    .onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
        margin-left: 0;
    }
    .onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
        right: 0px; 
    }    

    /* Tooltip container */
    .tooltip {
        position: relative;
        display: inline-block;
        border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
    }

.ui-draggable .ui-dialog-titlebar{ background: #3e95ce; text-align: center;}
.ui-dialog .ui-dialog-titlebar-close{padding:0px !important; background:none !important; border: 1px solid #9cceef;}
.ui-state-hover{ background:#09f; }

.field-name{
    width:90%;
}

@media only screen and (max-width:650px){
    .megablock{ display: block; }
    .field-box{ width:95%; padding:5px 0px; }  
    .field-box .field-name{ width:100%; }  
}
</style>

<!-- Content -->
<div id="content">

    <!-- Content wrapper -->
    <div class="wrapper">

        <!-- Breadcrumbs line -->
        <div class="crumbs">
            <?php echo $this->render('/helpers/breadcrumb.phtml') ?>
        </div>
        <!-- /breadcrumbs line -->

        <!-- Page header -->
        <div class="page-header">
            <div class="page-title">
                <h5>Consulta Aluno no SED</h5>
                <span>Visualize os Dados dos Alunos no SED</span>
            </div>

        </div>
        <!-- /page header -->

        <?php if (isset($this->crudMessage)) : ?>
            <div class="alert alert-success">
                <button data-dismiss="alert" class="close" type="button">×</button>
                <strong>Operação realizada com sucesso!</strong>
                <span><br /><?php echo $this->crudMessage ?></span>
            </div>			    
        <?php endif; ?>


        <!-- Table with footer -->
        <div class="widget">
            <form action="#" class="form-horizontal" method="post">
                <input type="hidden" value="<?php echo (isset($this->post_var['sorting'])) ? $this->post_var['sorting'] : '' ?>" name="sorting" />
                <div class="table-overflow">
                    <table class="table table-content">
                        <thead>
                            <tr>
                                <th colspan="5">
                                    <input type="hidden" id="tabnav" name="tabnav" value="<?php echo (isset($this->post_var['tabnav'])) ? $this->post_var['tabnav'] : '1' ?>">
                                    <div>
                                        <div id="exTab3" class="container" id="myTabs" roles="tablist">	
                                            <ul class="nav nav-pills">
                                                <li <?php echo (isset($this->post_var['tabnav'])) ? ($this->post_var['tabnav'] == '1') ? 'class="active"' : '' : 'class="active"' ?> >
                                                    <a href="#1b" data-toggle="tab" onclick="setAba(1)" >Consulta por RA</a>
                                                </li>
                                                <li <?php echo (isset($this->post_var['tabnav'])) ? ($this->post_var['tabnav'] == '2') ? 'class="active"' : '' : '' ?> >
                                                    <a href="#2b" data-toggle="tab" onclick="setAba(2)" >Consulta Fonética</a>
                                                </li>
                                                <li <?php echo (isset($this->post_var['tabnav'])) ? ($this->post_var['tabnav'] == '3') ? 'class="active"' : '' : '' ?>>
                                                    <a href="#3b" data-toggle="tab" onclick="setAba(3)" >Consulta Nome Completo</a>
                                                </li>
                                                <li style="display:none" <?php echo (isset($this->post_var['tabnav'])) ? ($this->post_var['tabnav'] == '4') ? 'class="active"' : '' : '' ?>>
                                                    <a href="#4b" data-toggle="tab" onclick="setAba(4)" >Consulta Documentos</a>
                                                </li>
                                            </ul>
                                            <?php
                                            if (isset($this->post_var['tabnav'])) {
                                                echo '<script> window.onload = function() { setAba(' . $this->post_var['tabnav'] . ');}; </script>';
                                            }
                                            ?>
                                            <div class="tab-content clearfix">
                                                <div class="tab-pane active" id="1b">

                                                    <div class="megablock">
                                                        <div >
                                                            <div class="rotulo">RA:</div>
                                                            <div><input name="inRA" value="<?php echo (isset($this->post_var['inRA'])) ? $this->post_var['inRA'] : '' ?>" type="text" class="span2" size="12" maxlength="12">&nbsp;-&nbsp;
                                                                <input name="inDigitoRA" value="<?php echo (isset($this->post_var['inDigitoRA'])) ? $this->post_var['inDigitoRA'] : '' ?>" type="text" class="span1" size="1" maxlength="1">&nbsp;/&nbsp;
                                                                <select name="inUF" class="selected span1" style="width: 50px;">
                                                                    <option value="" selected>...</option> 
                                                                    <option value="AC">AC</option> 
                                                                    <option value="AL">AL</option> 
                                                                    <option value="AM">AM</option> 
                                                                    <option value="AP">AP</option> 
                                                                    <option value="BA">BA</option> 
                                                                    <option value="CE">CE</option> 
                                                                    <option value="DF">DF</option> 
                                                                    <option value="ES">ES</option> 
                                                                    <option value="GO">GO</option> 
                                                                    <option value="MA">MA</option> 
                                                                    <option value="MT">MT</option> 
                                                                    <option value="MS">MS</option> 
                                                                    <option value="MG">MG</option> 
                                                                    <option value="PA">PA</option> 
                                                                    <option value="PB">PB</option> 
                                                                    <option value="PR">PR</option> 
                                                                    <option value="PE">PE</option> 
                                                                    <option value="PI">PI</option> 
                                                                    <option value="RJ">RJ</option> 
                                                                    <option value="RN">RN</option> 
                                                                    <option value="RO">RO</option> 
                                                                    <option value="RS">RS</option> 
                                                                    <option value="RR">RR</option> 
                                                                    <option value="SC">SC</option> 
                                                                    <option value="SE">SE</option> 
                                                                    <option value="SP" selected>SP</option> 
                                                                    <option value="TO">TO</option> 
                                                                </select>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="tab-pane" id="2b">
                                                    <div class="megablock">
                                                        <div>
                                                            <select name="fonetica" id="fonetica" class="rotulo" onchange="setTipoFonetica()">
                                                                <option value="" >Pesquisar por...</option>
                                                                <option value="1" <?php echo (isset($this->post_var['fonetica']) && ($this->post_var['fonetica'] === "1")) ? 'selected' : '' ?>>Nome do Aluno:</option>
                                                                <option value="2" <?php echo (isset($this->post_var['fonetica']) && ($this->post_var['fonetica'] === "2")) ? 'selected' : '' ?>>Nome Social (DECR.55588/10):</option>
                                                                <option value="3" <?php echo (isset($this->post_var['fonetica']) && ($this->post_var['fonetica'] === "3")) ? 'selected' : '' ?>>Nome da Mãe:</option>
                                                            </select>
                                                            <div id="divfonNom" style="display: none;"><input name="inNomeAluno" value="<?php echo (isset($this->post_var['inNomeAluno'])) ? $this->post_var['inNomeAluno'] : '' ?>" type="text" class="span3" size="60" maxlength="60" title="Nome do Aluno"></div>
                                                            <div id="divfonMae" style="display: none;"><input name="inNomeSocial" value="<?php echo (isset($this->post_var['inNomeSocial'])) ? $this->post_var['inNomeSocial'] : '' ?>" type="text" class="span3" size="60" maxlength="60" title="Nome Social do Aluno"></div>
                                                            <div id="divfonPai" style="display: none;"><input name="inNomeMae" value="<?php echo (isset($this->post_var['inNomeMae'])) ? $this->post_var['inNomeMae'] : '' ?>" type="text" class="span3" size="60" maxlength="60" title="Nome da Mãe do Aluno"></div>  
                                                            <br>
                                                            <div class="rotulo">Nascimento:</div>
                                                            <div>
                                                                <input name="inNascimento" value="<?php echo (isset($this->post_var['inNascimento'])) ? $this->post_var['inNascimento'] : '' ?>" type="text" class="span3" size="10" maxlength="10" title="Data de Nascimento do Aluno"> 
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="tab-pane" id="3b">
                                                    <div class="megablock">
                                                        <div class="field-box">
                                                            <div class="rotulo">Nome Completo do Aluno:</div>
                                                            <div><input name="inNomeComplAluno" value="<?php echo (isset($this->post_var['inNomeComplAluno'])) ? $this->post_var['inNomeComplAluno'] : '' ?>" type="text" class="field-name" maxlength="60" title="Nome completo do Aluno"></div>  
                                                        </div>
                                                        <div class="field-box">
                                                            <div class="rotulo">Nome Completo da Mãe:</div>
                                                            <div><input name="inNomeComplMae" value="<?php echo (isset($this->post_var['inNomeComplMae'])) ? $this->post_var['inNomeComplMae'] : '' ?>" type="text" class="field-name" maxlength="60" title="Nome completo da Mãe do Aluno"></div>   
                                                        </div>
                                                        <div class="field-box">
                                                            <div class="rotulo">Nome Completo do Pai:</div>
                                                            <div><input name="inNomeComplPai" value="<?php echo (isset($this->post_var['inNomeComplPai'])) ? $this->post_var['inNomeComplPai'] : '' ?>" type="text" class="field-name" maxlength="60" title="Nome completo do Pai do Aluno"></div>   
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="tab-pane" id="4b">
                                                    <div class="megablock">
                                                        <div>
                                                            <div class="rotulo">RG:</div>
                                                            <div>
                                                                <input name="inNumRG" value="<?php echo (isset($this->post_var['inNumRG'])) ? $this->post_var['inNumRG'] : '' ?>" type="text" class="span3" size="10" title="Número do RG">&nbsp;-&nbsp;
                                                                <input name="inDigitoRG" value="<?php echo (isset($this->post_var['inDigitoRG'])) ? $this->post_var['inDigitoRG'] : '' ?>" type="text" class="span3" size="1" title="Dígito do RG">&nbsp;/&nbsp;
                                                                <select name="inUFRG" class="selected span1" style="width: 50px;">
                                                                    <option value="" selected>...</option> 
                                                                    <option value="AC">AC</option> 
                                                                    <option value="AL">AL</option> 
                                                                    <option value="AM">AM</option> 
                                                                    <option value="AP">AP</option> 
                                                                    <option value="BA">BA</option> 
                                                                    <option value="CE">CE</option> 
                                                                    <option value="DF">DF</option> 
                                                                    <option value="ES">ES</option> 
                                                                    <option value="GO">GO</option> 
                                                                    <option value="MA">MA</option> 
                                                                    <option value="MT">MT</option> 
                                                                    <option value="MS">MS</option> 
                                                                    <option value="MG">MG</option> 
                                                                    <option value="PA">PA</option> 
                                                                    <option value="PB">PB</option> 
                                                                    <option value="PR">PR</option> 
                                                                    <option value="PE">PE</option> 
                                                                    <option value="PI">PI</option> 
                                                                    <option value="RJ">RJ</option> 
                                                                    <option value="RN">RN</option> 
                                                                    <option value="RO">RO</option> 
                                                                    <option value="RS">RS</option> 
                                                                    <option value="RR">RR</option> 
                                                                    <option value="SC">SC</option> 
                                                                    <option value="SE">SE</option> 
                                                                    <option value="SP">SP</option> 
                                                                    <option value="TO">TO</option> 
                                                                </select>
                                                            </div>
                                                        </div>
                                                        <div>
                                                            <div class="rotulo">CPF:</div>
                                                            <div>
                                                                <input name="inCPF" value="<?php echo (isset($this->post_var['inCPF'])) ? $this->post_var[''] : 'inCPF' ?>" type="text" class="span3" size="11" maxlength="11" placeholder="999.999.999-99"
                                                                       title="Número do CPF do Aluno">
                                                            </div>
                                                        </div>
                                                        <div>
                                                            <div class="rotulo">Número INEP:</div>
                                                            <div>
                                                                <input name="inNumINEP" value="<?php echo (isset($this->post_var['inNumINEP'])) ? $this->post_var['inNumINEP'] : '' ?>" type="text" class="span3" size="13" maxlength="13" placeholder="9999999999999" 
                                                                       title="Número do INEP do Aluno">
                                                            </div>
                                                        </div>
                                                        <div>
                                                            <div class="rotulo">Número NIS:</div>
                                                            <div>
                                                                <input name="inNumNIS" value="<?php echo (isset($this->post_var['inNumNIS'])) ? $this->post_var['inNumNIS'] : '' ?>" type="text" class="span3" size="13" maxlength="13" placeholder="9 999999999999"
                                                                       title="Número do NIS do Aluno">
                                                            </div>
                                                        </div>
                                                        <div>
                                                            <div class="rotulo">Tipo de Certidão de Nascimento:</div>
                                                            <div class="onoffswitch">
                                                                <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch" checked style="display: none;" onchange="setCertidao(this)">
                                                                <label class="onoffswitch-label" for="myonoffswitch">
                                                                    <span class="onoffswitch-inner"></span>
                                                                    <span class="onoffswitch-switch"></span>
                                                                </label>
                                                            </div>

                                                            <div class='certdaonova'>
                                                                <div>
                                                                    <div class="rotulo">Número da Certidão:</div>
                                                                    <div>
                                                                        <input name="inNumCertidaoNova" value="<?php echo (isset($this->post_var['inNumCertidaoNova'])) ? $this->post_var['inNumCertidaoNova'] : '' ?>" type="text" class="span3" size="32" maxlength="32" placeholder="999999 99 99 9999 9 99999 999 9999999 99" 
                                                                               title="Número novo da certidão de nascimento do Aluno">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class='certdaoantiga' style="display: none;">
                                                                <div>
                                                                    <div class="rotulo">Número da Certidão:</div>
                                                                    <div><input name="inNumCertidaoNasc" value="<?php echo (isset($this->post_var['inNumCertidaoNasc'])) ? $this->post_var['inNumCertidaoNasc'] : '' ?>" type="text" class="span3" placeholder="Número"> 
                                                                        Livro <input name="inLivroCertidaoNasc" value="" type="text" class="span3" size="5" placeholder="Livro"> 
                                                                        Folha <input name="inFolhaCertidaoNasc" value="" type="text" class="span3" size="5" placeholder="Folha">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <button class="btn btn-large btn-primary" type="submit"><span class="icon-search">&nbsp;</span>Pesquisar</button>
                                        <a class="btn btn-large btn-danger" onclick="Limpar()"><span class="icon-remove-sign">&nbsp;</span>Limpar</a>
                                    </div>
                                </th>    
                            </tr>
                            <tr>
                                <th>RA</th>
                                <th>Nascimento</th>
                                <th>Nome</th>
                                <th>Mãe</th>
                                <th>Ações</th>
                            </tr>
                        </thead>
                        <tbody>

                            <?php
                            
                            $dadosRet = [];
                            $retErro = "";
                            
                            if (isset($this->rows) && !empty($this->rows)) {
                                
                                $DadosRetornados = json_decode(json_encode($this->rows), True);

                                if (isset($DadosRetornados['faultstring']) && ($DadosRetornados['faultstring'] !== "")){
                                  $retErro = " Erro: " . $DadosRetornados['faultstring'] . " - Código: " . $DadosRetornados['faultcode'];  
                                } else if((isset($DadosRetornados["outErro"]) && $DadosRetornados["outErro"] !== "")){
                                    $retErro = " Erro: " . $DadosRetornados["outErro"] . " - Processo ID: " . $DadosRetornados["outProcessoID"];
                                } else if((isset($DadosRetornados["FichasAluno"]["FichaAluno"]["outErro"]) && $DadosRetornados["FichasAluno"]["FichaAluno"]["outErro"] !== "")){
                                    $retErro = " Erro: " . $DadosRetornados["FichasAluno"]["FichaAluno"]["outErro"] . " - Processo ID: " . $DadosRetornados["outProcessoID"];
                                } else if (isset(array_column($this->rows, "FichasAluno")[0]->outErro) && (array_column($this->rows, "FichasAluno")[0]->outErro !== null)) {
                                    $retErro = " Erro: " . (array_column($DadosRetornados, "FichasAluno")[0]->outErro). " - Processo ID: " .  $this->rows["outProcessoID"];
                                }                                
                               
                                if ((isset($this->post_var['tabnav']) && in_array($this->post_var['tabnav'], ['1','2']))) {       
                                    // Ficha do Aluno - Consulta RA e Consulta Fonética
                                    //$dadosRet = (array_column($this->rows, "FichasAluno"));
                                    if(isset($DadosRetornados["Retorno"]["FichasAluno"]["FichaAluno"])){
                                        $dadosRet = $DadosRetornados["Retorno"]["FichasAluno"]["FichaAluno"];
                                    }
                                } else if ((isset($this->post_var['tabnav']) && $this->post_var['tabnav'] === '3')) {
                                    // Fichas de Alunos - Consulta por Nomes
                                    if (isset($DadosRetornados["Retorno"]["ListaAlunos"])){                                        
                                        $dadosRet = $DadosRetornados["Retorno"]["ListaAlunos"];

                                    }else if (isset($DadosRetornados["Retorno"]["FichasAluno"])){                                       
                                        $dadosRet = $DadosRetornados["Retorno"]["FichasAluno"];
                                    }
                                } else if ((isset($this->post_var['tabnav']) && $this->post_var['tabnav'] === '4')) {
                                    // Fichas de Alunos - Consulta por Documentos
                                    if (isset($DadosRetornados["Retorno"]["FichasAluno"]["FichaAluno"])){
                                        $dadosRet = $DadosRetornados["Retorno"]["FichasAluno"]["FichaAluno"];
                                    }                                        
                                }                                
                                // Tratamento Obj -> Array
                                $dadosRet = json_decode(json_encode($dadosRet), True);                                
                            }
                            ?>

                            <?php if ((isset($this->post_var['tabnav']) && in_array($this->post_var['tabnav'], ['1','2']))) : ?>
                                <?php if (($dadosRet === '' || empty($dadosRet)) && isset($dadosRet) ) : ?>
                                    <tr>
                                        <td colspan="5">Não existem dados para a pesquisa</td>
                                        <?php 
                                            if (($retErro === "")){
                                                $retErro = "Não existem dados para a pesquisa.";
                                            }
                                            
                                            Fjmx_Util::geraLog(date('Y-m-d'), "Consulta Aluno no SED", Usuarios::getUsuario('id'), "Retorno SED: ".$retErro,"E");
                                            echo '<script> window.onload = function() { ExibeErro("' . $retErro . '");}; </script>';
                                        ?>
                                    </tr>
                                <?php 
                                    else :                                    
                                ?>
                                    <tr>
                                        <td>
                                            <?php echo isset($dadosRet['outRA']) ? $dadosRet['outRA'] : '' ?>
                                            <?php echo isset($dadosRet['outDigitoRA']) ? ' - ' . $dadosRet['outDigitoRA'] : '' ?>
                                            <?php echo isset($dadosRet['outUFRA']) ? ' / ' . $dadosRet['outUFRA'] : ''; ?>
                                        </td>
                                        <td>
                                            <?php echo isset($dadosRet['outDataNascimento']) ? $dadosRet['outDataNascimento'] : ''; ?>
                                        </td>
                                        <td>
                                            <?php echo isset($dadosRet['outNomeAluno']) ? $dadosRet['outNomeAluno'] : ''; ?>
                                        </td>
                                        <td>
                                            <?php echo isset($dadosRet['outNomeMae']) ? $dadosRet['outNomeMae'] : ''; ?>
                                        </td>
                                        <td>
                                            <?php
                                                $i = 1;
                                                echo "<script> var dados$i = ", json_encode($dadosRet), "; </script>";
                                            ?>
                                            <a title="" class="btn"  data-original-title="Impressão" onclick="ConsultarDados(<?php echo 'dados'.$i; ?>)"><i class="icon-eye-open"></i></a>
                                        </td>
                                    </tr>
                                <?php endif; ?>

                            <?php elseif ((isset($this->post_var['tabnav']) && $this->post_var['tabnav'] === '3')) : ?>
                            
                                <?php if (($dadosRet === '' || empty($dadosRet)) && isset($dadosRet) ) : ?>
                                    <tr>
                                        <td colspan="5">Não existem dados para a pesquisa</td>
                                        <?php 
                                            Fjmx_Util::geraLog(date('Y-m-d'), "Consulta Aluno no SED", Usuarios::getUsuario('id'), "Retorno SED: ".$retErro,"E");
                                            echo '<script> window.onload = function() { ExibeErro("' . $retErro . '");}; </script>';
                                        ?>
                                    </tr>
                                <?php else : ?>
                                    <?php $iii = 0; ?>
                                        
                                    <?php if (!empty($dadosRet['ListaAlunos'])) : ?>
                                        <?php foreach ($dadosRet['ListaAlunos'] as $row) : ?>
                                            <tr>
                                                <td>
                                                    <?php echo isset($row['outRA']) ? $row['outRA'] : '' ?>
                                                    <?php echo isset($row['outDigitoRA']) ? ' - ' . $row['outDigitoRA'] : '' ?>
                                                    <?php echo isset($row['outUFRA']) ? ' / ' . $row['outUFRA'] : ''; ?>
                                                </td>
                                                <td>
                                                    <?php echo isset($row['outDataNascimento']) ? $row['outDataNascimento'] : ''; ?>
                                                </td>
                                                <td>
                                                    <?php echo isset($row['outNomeAluno']) ? $row['outNomeAluno'] : ''; ?>
                                                </td>
                                                <td>
                                                    <?php echo isset($row['outNomeMae']) ? $row['outNomeMae'] : ''; ?>
                                                </td>
                                                <td>
                                                    <?php
                                                        $iii++;
                                                        echo "<script> var dados$iii = ", json_encode($row), "; </script>";
                                                    ?>
                                                    <a title="" class="btn"  data-original-title="Impressão" onclick="ConsultarDados(<?php echo 'dados'.$iii; ?>)"><i class="icon-eye-open"></i></a>
                                                </td>
                                            </tr>
                                        <?php endforeach; ?>
                                    <?php elseif (!empty($dadosRet["FichaAluno"])) : ?>
                                        <?php 
                                        
                                        $row = $dadosRet["FichaAluno"]; 
                                       
                                        ?>
                                            <tr>
                                                <td>
                                                    <?php echo isset($row['outRA']) ? $row['outRA'] : '' ?>
                                                    <?php echo isset($row['outDigitoRA']) ? ' - ' . $row['outDigitoRA'] : '' ?>
                                                    <?php echo isset($row['outUFRA']) ? ' / ' . $row['outUFRA'] : ''; ?>
                                                </td>
                                                <td>
                                                    <?php echo isset($row['outDataNascimento']) ? $row['outDataNascimento'] : ''; ?>
                                                </td>
                                                <td>
                                                    <?php echo isset($row['outNomeAluno']) ? $row['outNomeAluno'] : ''; ?>
                                                </td>
                                                <td>
                                                    <?php echo isset($row['outNomeMae']) ? $row['outNomeMae'] : ''; ?>
                                                </td>
                                                <td>
                                                    <?php
                                                        $iii++;
                                                        echo "<script> var dados$iii = ", json_encode($row), "; </script>";
                                                    ?>
                                                    <a title="" class="btn"  data-original-title="Impressão" onclick="ConsultarDados(<?php echo 'dados'.$iii; ?>)"><i class="icon-eye-open"></i></a>
                                                </td>
                                            </tr>
                                        <?php ?>
                                    <?php endif; ?>
                                <?php endif; ?>
                            <?php elseif ((isset($this->post_var['tabnav']) && $this->post_var['tabnav'] === '4')) : ?>
                                <?php if (($dadosRet === '' || empty($dadosRet)) && isset($dadosRet) ) : ?>
                                    <tr>
                                        <td colspan="5">Não existem dados para a pesquisa</td>
                                        <?php 
                                            Fjmx_Util::geraLog(date('Y-m-d'), "Consulta Aluno no SED", Usuarios::getUsuario('id'), "Retorno SED: ".$retErro,"E");
                                            echo '<script> window.onload = function() { ExibeErro("' . $retErro . '");}; </script>';
                                        ?>
                                    </tr>
                                <?php else : ?>
                                    <?php
                                        $iiii = 0;
                                        foreach ($dadosRet as $row) : ?>
                                        <tr>
                                            <td>
                                                <?php echo isset($row['outRA']) ? $row['outRA'] : '' ?>
                                                <?php echo isset($row['outDigitoRA']) ? ' - ' . $row['outDigitoRA'] : '' ?>
                                                <?php echo isset($row['outUFRA']) ? ' / ' . $row['outUFRA'] : ''; ?>
                                            </td>
                                            <td>
                                                <?php echo isset($row['outDataNascimento']) ? $row['outDataNascimento'] : ''; ?>
                                            </td>
                                            <td>
                                                <?php echo isset($row['outNomeAluno']) ? $row['outNomeAluno'] : ''; ?>
                                            </td>
                                            <td>
                                                <?php echo isset($row['outNomeMae']) ? $row['outNomeMae'] : ''; ?>
                                            </td>
                                            <td>
                                                <?php
                                                    $iiii++;
                                                    echo "<script> var dados$iiii = ", json_encode($row), "; </script>";
                                                ?>
                                                <a title="" class="btn"  data-original-title="Impressão" onclick="ConsultarDados(<?php echo 'dados'.$iiii; ?>)"><i class="icon-eye-open"></i></a>
                                            </td>
                                        </tr>
                                    <?php endforeach; ?>
                                <?php endif; ?>
                            <?php endif; ?>
                        </tbody>
                    </table>
                </div>

            </form>

        </div>
        <!-- /table with footer -->

    </div>
    <!-- /content wrapper -->

<?php echo '<script> window.onload = function() { setTipoFonetica();}; </script>'; ?>
</div>
<!-- content -->


<script type="text/javascript" src="<?php echo $this->baseUrl('/public/scripts/admin/Escolasalunosconsultased_index.js') ?>"></script>
<script type="text/javascript">

    var form_values = {};
    <?php // if (isset($this->post_var)) : ?>
     //   form_values.inUF = '<?php //echo (isset($this->post_var['inUF'])) ? $this->post_var['inUF'] : '' ?>';
    <?php // endif; ?>
    
</script>	

