<?php 

		
if (sizeof($this->rows)==0) : ?>
<table class="table table-primary mb30">
	<thead>
		<tr>
			<td></td>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td colspan="10" width="100%">
				Não foram dadas informações suficientes para comparação
			</td>       						
		</tr>
	</tbody>
</table>
<?php else : ?>
<div class="navbar">
	<div class="navbar-inner">
		<h6>Comparação de Desempenho</h6>
	</div>
</div>
<div class="control-group">
		<table style="background-color: <?= ($k == 0 ? '#e6ffff' : '#f2e6ff' ) ?>;" class="table table-primary mb30">
			<thead>
				<tr>
					<th align="center" style="text-align:center;" colspan="3">Filtro</th>
				</tr>
				<tr>
					<th>Média</th>
					<th>Matéria</th>
					<th>Aprovado/Reprovado</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>
						<select data-placeholder="Média" class="select">
							<option value="">Todos</option>
							<option value="Escola">Escola</option>
							<option value="Secretaria">Secretaria</option>
							<option value="Nacional">Nacional</option>
						</select>	
					</td>
					<td>
						<select data-placeholder="Matéria" class="select">
							<option value="">Todos</option>
							<?php foreach (Escolasmaterias::getEscolasmateriasHelper(array('status'=>'Ativo')) as $k=>$v) : ?>
							<option value="<?php echo $v['id'] ?>"><?php echo $v['materia'] ?></option>
							<?php endforeach;?>
						</select>	
					</td>
					<td>
						<select data-placeholder="Aprovado/Reprovado" class="select">
							<option value="">Todos</option>
							<option value="Aprovado">Aprovado</option>
							<option value="Reprovado">Reprovado</option>
							<option value="Sem média">Sem média</option>
						</select>	
					</td>
				</tr>
			</tbody>
		</table><br />
<?php 
	foreach (($this->rows) as $k => $v) : 
	?>

	<!-- Pega Quantidade de matérias que aluno tem alguma nota -->
	<?php 
		$_var  = Escolasalunosnotas::getQtdMateriasAluno($v[0]['idaluno']); 
	?>
	<?php $quantidadematerias = $_var['qtdMaterias']; ?>
		<table style="background-color: <?= ($k == 0 ? '#e6ffff' : '#f2e6ff' ) ?>;" class="table table-primary mb30">
			<thead>
				<!-- Se for tabela da turma -->
				<?php if($k == 1) : ?>
				<tr>
					<!-- ESCREVE NOME DA ESCOLA E DA TURMA -->
					<th colspan="<?= $quantidadematerias + 4 ?>"> 
					<?php 
					$_escola = Escolas::getEscolasHelper( array( 'id'=>$v[0]['idescola'] ) );
					$_escolavinculoserie = Escolasvinculos::getEscolasvinculosHelper( array( 'idserie'=>$v[0]['idserie'], 'idescola'=> $v[0]['idescola']));
					$_escolavinculoturma =  Escolasvinculos::getEscolasvinculosHelper( array( 'idserie'=>$v[0]['idserie'], 'idescola'=> $v[0]['idescola'] ) ) ;
					$_escola[0]['escola'] . " - " . $_escolavinculoserie[0]['serie'] . " " . $_escolavinculoturma[0]['turma'];
					
					?>
					</th>
				</tr>
				<?php endif ?>
				<tr>
					<th width="<?= 100 / ($quantidadematerias + 1) ?>%"> Nome do Aluno </th>

					<!-- MATERIAS -->
					<?php foreach (Escolasalunosnotas::getSomaNotasMateria( 'aluno' , $v[0]['idaluno'] ) as $key => $value) : ?>

					<?php
						$aux_ = Escolasmaterias::getEscolasmateriasHelper( array( 'id'=>$value['idmateria'] ) );
						$nomemateria = (sizeof($aux_)>0) ? $aux_[0]['materia'] : "Matéria"; ?>

					<th width="<?= 100 / ($quantidadematerias + 1) ?>%"> <?= $nomemateria ?> </th>

					<?php endforeach ?>
					<th>Média da escola</th>
					<th>Média da secretaria</th>
					<th>Média Nacional</th>
				</tr>
			</thead>
			<tbody>
				<?php foreach ($v as $key => $value) : ?>
					<tr>
						<td><?= $value['nomerazao'] . " " . $value['sobrenomefantasia'] ?></td>

					<?php foreach( Escolasalunosnotas::getSomaNotasMateria( 'aluno' , $value['idaluno'] ) as $ind => $materia ) : ?>
						<td>
						<?php
							$soma = $materia['somaNotas'];
							$qtdNotas = Escolasalunosnotas::getQtdNotasMateria( 'aluno' , $value['idaluno'] , $materia['idmateria'] )['qtdNotas'];

							$qtdNotas = ($qtdNotas == 0) ? 1 : $qtdNotas; 

						 	echo number_format((float)( $soma / $qtdNotas ), '2');
						?>							
						</td>
					<?php endforeach ?>
						<td><?php echo number_format($this->escolasmedia1['media'], 2, ',', '.') ?></td>
						<td><?php echo number_format($this->secretariasmedia1['media'], 2, ',', '.') ?></td>
						<td><?php echo number_format($this->mediasnacional1['media'], 2, ',', '.') ?></td>
					</tr>
				<?php endforeach ?>

				<?php if($k == 1) : ?>
					<tr>
						<td><b>MÉDIA DA TURMA</b></td>
						<?php foreach( Escolasalunosnotas::getSomaNotasMateria( 'turma' , array( $value['idescola'] , $value['idvinculo'] ) ) as $ind => $materia ) : ?>

						<?php

						$soma = $materia['somaNotas'];
						$qtdNotas = Escolasalunosnotas::getQtdNotasMateria( 'turma' , array( $value['idescola'] , $value['idvinculo'] ) , $materia['idmateria'] )['qtdNotas'];

						$qtdNotas = ($qtdNotas == 0) ? 1 : $qtdNotas;

						?>

						<td><b><?= number_format((float)( $soma / $qtdNotas ), '2') ?></b></td>

						<?php endforeach ?>
						<td><?php echo number_format($this->escolasmedia1['media'], 2, ',', '.') ?></td>
						<td><?php echo number_format($this->secretariasmedia1['media'], 2, ',', '.') ?></td>
						<td><?php echo number_format($this->mediasnacional1['media'], 2, ',', '.') ?></td>
					</tr>
				<?php endif ?>
			</tbody>
		</table> <br>
	<?php endforeach ?>
<?php endif ?>
</div>