
		<!-- Content -->
		<div id="content">

		    <!-- Content wrapper -->
		    <div class="wrapper">

			    <!-- Breadcrumbs line -->
			    <div class="crumbs">
			    	<?php echo $this->render('/helpers/breadcrumb.phtml') ?>
			    </div>
			    <!-- /breadcrumbs line -->

			    <!-- Page header -->
			    <div class="page-header">
			    	<div class="page-title">
				    	<h5>Formulário de Comparação de Desempenho Aluno com sua Turma </h5>
				    	<span>Verifique os campos e preencha com os dados</span>
			    	</div>
			    </div>
			    <!-- /page header -->
					
					<fieldset>
						<!-- General form elements -->
						<div class="widget row-fluid">
						    <div class="navbar">
						        <div class="navbar-inner">
						            <h6>Selecione as informações do formulário</h6>
						        </div>
						    </div>

						    <div class="well">
								<?php if (isset($this->erros)) : ?>
									<div class="alert alert-error margin">
				                        <button data-dismiss="alert" class="close" type="button">×</button>
				                        <strong>Há erros no formulário!</strong>
					    				<?php foreach ($this->erros as $k=>$v) : ?>
					    					<span><br />- <?php echo $v ?></span>
					    				<?php endforeach;?>			                        
				                    </div>
			                    <?php endif; ?>					    

				<div class="control-group">
					<label class="control-label">Escola <span class="required">*</span></label>
					<div class="controls">
						<select onchange="setSeries(this); setPeriodo(this)" name="idescola" data-placeholder="Escola" class="select">
							<option value="">Selecione...</option>
							<?php foreach(Escolas::GetEscolasHelper(array('status'=>'Ativo')) as $k=>$v) : ?>
							<option value="<?php echo $v['id'] ?>"><?php echo $v['escola'] ?></option>
							<?php endforeach ?>
						</select>						
					</div>
				</div>

				<div class="control-group div-periodo" style="display: none;">
					<label class="control-label">Periodo </label>
					<div class="controls">
						<select name="periodo" data-placeholder="Período de notas" class="select">
							<option value="">Selecione...</option>
						</select>					
					</div>
				</div>

				<div class="control-group div-serie" style="display: none;">
					<label class="control-label">Série <span class="required">*</span></label>
					<div class="controls">
						<select onchange="setTurmas(this)" name="idserie" data-placeholder="Série" class="select">
							<option value="">Selecione...</option>
						</select>					
					</div>
				</div>

				<div class="control-group div-turma" style="display: none;">
					<label class="control-label">Turma <span class="required">*</span></label>
					<div class="controls">
						<select onchange="setAlunos(this)" name="idturma" data-placeholder="Turma" class="select">
							<option value="">Selecione...</option>
						</select>						
					</div>
				</div>

				<div class="control-group div-alunos" style="display: none;">
					<label class="control-label">Alunos </label>
					<div class="controls">
						<select name="idalunos" data-placeholder="Alunos" class="select">
							<option value="">Selecione...</option>
						</select>						
					</div>
				</div>

				<div id="tablehelp" class="control-group" style="display: none;">
				</div>
			</div>

						    </div>
						    
			                <div class="form-actions align-right">
			                		<button onclick="comparar()" class="btn btn-primary cancelar" type="button">Comparar</button>			                	
			                		<button onclick="window.history.back()" class="btn btn-primary cancelar" type="button">Voltar</button>
			                </div>
						</div>
						<!-- /general form elements -->

					</fieldset> 
				<!-- /basic inputs -->

		    </div>
		    <!-- /content wrapper -->

		</div>
		<!-- content -->
				
<script type="text/javascript" src="<?php echo $this->baseUrl('/public/scripts/admin/coordenacaoauditoria_index.js') ?>"></script>
