<style type="text/css">
    .font16{ font-size:1em; font-family: 'Helvetica, sans-serif'; }
    .font14{ font-size:14px; font-family: 'Helvetica, sans-serif'; }
    .font18{ font-size:1.3em; font-family: 'Helvetica, sans-serif'; }
    .font20{ font-size:1.5em; font-family: 'Helvetica, sans-serif'; }
    .black{ color:#000; }
    .white{ color:#fff; }
    .gray{ color:#ccc; }
    .red{ color:#ff0000; }
    .textleft{ text-align: left; }
    .textright{ text-align: right; }
    .left{ float: left }
    .textcenter{text-align: center; }
    .padding5{ padding: 5px; }
    .margin10 {margin-top:50px; display: block;}
    .textjustify { text-align: justify; }
</style>
<br><br>
<br><br>
<table class="textleft margin10">
    <tr class="margin10">
        <td ><h3 style="margin-top: 15px;" class="padding5">Nutrição Visitas Técnicas</h3></td>
    </tr>
</table>
<br>
<table class="left font16 padding5">
    <tr>
        <td colspan="2"><b>Visita feita por </b></td>
        <td colspan="2"><b>Data da visita </b></td>
        <td colspan="2"><b>Horário da visita </b></td>                    
    </tr>    
    <tr>
        <td colspan="2"> <?php echo (isset($this->usuariovisita['nome'])) ? $this->usuariovisita['nome'] : ''?></td>  
        <td colspan="2"><?php echo (isset($this->visitas['datalancamento'])) ? date('d-m-Y', strtotime($this->visitas['datalancamento'])) : '--'; ?></td>
        <td colspan="2"><?php echo (isset($this->visitas['horavisita'])) ? substr($this->visitas['horavisita'], 0, 5).'hrs' : '--'; ?></td>
    </tr> 
</table>
<br/>
<table class="left font16 padding5">
    <tr>
        <td colspan="2"><b>Ciente por</b></td>
        <td colspan="2"><b>Status da visita </b></td>
        <td colspan="2"><b>Data da ciência </b></td>                     
    </tr>    
    <tr>
        <td colspan="2"> <?php echo (isset($this->nomeciente)) ? $this->nomeciente : ''?></td>  
        <td colspan="2"><?php echo (isset($this->visitas['status'])) ? $this->visitas['status'] : '--'; ?></td>
        <td colspan="2"><?php echo (isset($this->visitas['dataciente'])) ? date('d-m-Y G:i:s', strtotime($this->visitas['dataciente'])) : '--'; ?></td>        
    </tr> 
</table>
<br/>
<table>
    <tr>
        <td><b>Unidade Escolar: </b> <?php echo $this->escola; ?></td>
    </tr>
</table>
<br/>
<br/>
<table>
    <tr>
        <td><b>Funcionário que recebeu a visita: </b> <?php echo $this->visitas['nomefuncionario']?></td>
        <td><b>Função:</b> <?php echo $this->visitas['funcao']?></td>
    </tr>  
</table>
<br/>

<table style="border:1px solid #ccc; padding:5px 10px;">    
    <tr><td><b>Equipe de produção completa: </b> <?php echo $this->visitas['equipeproducaocompleta']; ?></td></tr><br/>
    <tr><td><b>Organização e Higiêne de Produção: </b> <?php echo $this->visitas['producoesorganizacoeshigienes']; ?></td></tr><br/>
    <tr><td><b>Organização e Higiêne de estoque: </b> <?php echo $this->visitas['estoqueorganizacoeshigienesdeestoque']; ?></td></tr><br/>
    <tr><td><b>Cardápio do dia sendo executado: </b> <?php echo $this->visitas['estoqueorganizacoeshigienesexecutado']; ?></td></tr><br/>
    <tr><td><b>Amostras de alimentos foram coletadas: </b> <?php echo $this->visitas['amostrasalimentocoletadas']; ?></td></tr><br/>
</table>

<br/><br/>
<table class="margin10">
    <tr><td><b>Observação</b></td></tr><br/>
    <tr><td style="border:1px solid #ccc; padding:10px;"><?php echo (isset($this->visitas['observacoes'])) ? $this->visitas['observacoes'] : '--'; ?></td></tr>
</table>