<div class="title">
	<h3><a class="lnk-add" href="<?php echo $this->baseUrl('/admin/configuracoes') ?>">Configurações</a> > <?php echo ($this->getAction()=='adicionar') ? 'Adicionar nova' : 'Editar'?> configuração</h3>
	Preencha o formulário.
</div>

<div class="response-msg error ui-corner-all" style="display: none;">
	<span>Há erro(s) no formulário</span>
	<h1>Erros</h1>
</div>

<div class="portlet ui-widget ui-widget-content ui-helper-clearfix ui-corner-all form-container">
	<div class="portlet-header ui-widget-header">Informe os dados da configuração</div>
	<div class="portlet-content">
		<form id="form" name="form" action="" method="post" enctype="multipart/form-data" class="forms" onsubmit="return formSubmit(this)">
			<input type="hidden" value="<?php echo (isset($this->post_var)) ? $this->post_var["id"] : ''; ?>" name="id" id="id" />
			<ul>
				<li>
					<label class="desc required">
						<?php echo $this->post_var['descricao'] ?>
					</label>
					<div>
						<input value="<?php echo (isset($this->post_var)) ? $this->post_var['valor'] : "" ?>" type="text" tabindex="1" maxlength="500" class="field text medium validate-required" name="valor" />
						<br />
						<span class="dica"><?php echo $this->post_var['instrucoes'] ?></span>
					</div>
				</li>
				
				<li class="buttons">
					<input id="btn-enviar" type="submit" value="Salvar" class="submit" />
				</li>
				
			</ul>
		</form>
	</div>
</div>
<div class="clearfix"></div>					
	

<script type="text/javascript" src="<?php echo $this->baseUrl('/public/scripts/admin/configuracoes_form.js') ?>"></script>

<script type="text/javascript">
	<?php if (isset($this->erros)) : ?>
		erros = new Array();
		<?php foreach ($this->erros as $erro) : ?>
		erros.push('<?php echo $erro?>');
		<?php endforeach;?>
		setErrosBox(erros, true);
	<?php endif; ?>

	var form_values = new Object();
	form_values.tipo = '<?php echo $this->post_var['tipo'] ?>';
	
	var action = '<?php echo $this->getAction() ?>';
</script>

