
	<div class="title">
		<h3>Configurações</h3>
		Abaixo segue a lista de Configurações do sistema
	</div>
	
	<?php if (isset($this->crudMessage)) : ?>
	<div class="response-msg success ui-corner-all">
		<span>Sucesso</span>
		<?php echo $this->crudMessage; ?>
	</div>
	<?php endif; ?>
	
	<?php if (sizeof($this->rows)==0) : ?>
		<div class="hastable">
			<form name="myform" class="pager-form" method="post" action="">
				<table id="sort-table"> 
					<thead> 
						<tr>
							<th><input type="checkbox" value="check_none" onclick="this.value=check(this.form.list)" class="submit"/></th>
							<th>Descrição</th> 
							<th>Valor</th> 
							<th style="width:78px">Opções</th> 
						</tr> 
					</thead> 
					<tbody>				
						<tr>
							<td class="center">
								<input type="checkbox" value="1" name="list" class="checkbox"/>
							</td> 
							<td colspan="3">
								<p>Nenhum registro foi encontrado</p>
							</td>
						</tr> 					
					</tbody>
				</table>		
			</form>
		</div>
	
	<?php else : ?>
		<div class="hastable">
			<form name="myform" class="pager-form" method="post" action="">
				<table id="sort-table"> 
					<thead> 
						<tr>
							<th><input type="checkbox" value="check_none" onclick="this.value=check(this.form.list)" class="submit"/></th>
							<th>Descrição</th> 
							<th>Valor</th> 
							<th style="width:78px">Opções</th> 
						</tr> 
					</thead> 
					<tbody>
					<?php foreach ($this->rows as $i=>$row) : ?>
						<tr>
							<td class="center">
								<input type="checkbox" value="1" name="list" class="checkbox"/>
							</td> 
							<td><?php echo $row['descricao'] ?></td> 
							<td><?php echo $row['valor'] ?></td>
							<td>
								<a href="<?php echo $this->baseUrl('/admin/configuracoes/editar/id/' . $row['id'] . '/configuracao/' . $row['descricao']) ?>" class="btn_no_text btn ui-state-default ui-corner-all tooltip" title="Editar o registro">
									<span class="ui-icon ui-icon-wrench"></span>
								</a>
							</td>
						</tr> 
					<?php endforeach;?> 
					
					</tbody>
				</table>
				<div id="pager">
					<a class="btn_no_text btn ui-state-default ui-corner-all first" title="First Page" href="#">
						<span class="ui-icon ui-icon-arrowthickstop-1-w"></span>
					</a>
					<a class="btn_no_text btn ui-state-default ui-corner-all prev" title="Previous Page" href="#">
						<span class="ui-icon ui-icon-circle-arrow-w"></span>
					</a>
					<input readonly="readonly" type="text" class="pagedisplay"/>
					<a class="btn_no_text btn ui-state-default ui-corner-all next" title="Next Page" href="#">
						<span class="ui-icon ui-icon-circle-arrow-e"></span>
					</a>
					<a class="btn_no_text btn ui-state-default ui-corner-all last" title="Last Page" href="#">
						<span class="ui-icon ui-icon-arrowthickstop-1-e"></span>
					</a>
					<select class="pagesize">
						<option value="10" selected="selected">10 resultados</option>
						<option value="20">20 resultados</option>
						<option value="30">30 resultados</option>
						<option value="40">40 resultados</option>
					</select>								
				</div>			
			</form>
		</div>
	<?php endif; ?>
	<div class="clearfix"></div>


<script type="text/javascript" src="<?php echo $this->baseUrl('/public/scripts/admin/configuracoes_index.js') ?>"></script>