<table width="100%" cellpadding="0" cellspacing="0" border="0" nobr="true">	
	<tr>
		<th align="left" width="30%">&nbsp;</th>
		<th align="right" width="70%"><img src="<?php echo $this->baseUrl('/public/admin/img/logo-santa-isabel.jpg') ?>" width="80" /></th>
	</tr>
	<tr>
		<td align="left" width="25%"><font size="8">PREFEITURA MUNICIPAL DE SANTA ISABEL</font> &nbsp;<br /></td>
		<td align="left" width="20%"><font size="8">PRESTAÇÃO DE CONTAS</font><br /></td>
	</tr>
	<tr>		
		<td align="left" width="100%"><font size="6">DEMONSTRATIVO DE EXECUÇÃO DA RECEITA, DESPESA E PAGAMENTOS EFETUADOS</font></td>
	</tr>
</table><br />

<?php if(false): ?>
<table width="100%" cellpadding="0" cellspacing="0" border="0" nobr="true">
	<tr>		
		<td align="left" width="100%"><font size="12"><b>LEIA COM ATENÇÃO TODA A DECLARAÇÃO</b></font><br /></td>
	</tr>
</table>
<table width="100%" cellpadding="4" cellspacing="0" border="1" nobr="true">
	<tr>		
		<td align="center" width="100%"><font size="10"><b>DECLARAÇÃO DE DEPENDENTES PARA FINS DE DESCONTO DO IMPOSTO DE RENDA NA FONTE</b></font></td>
	</tr>
</table>
<br />
<table width="100%" cellpadding="0" cellspacing="0" border="0" nobr="true">
	<tr>
		<td align="left" width="100%"><br /><br /><font size="10">CONTRATANTE: PREFEITURA MUNICIPAL DE ITAQUAQUECETUBA</font></td>
	</tr>
	
	<tr>
		<td align="left" width="100%"><br /><br /><font size="10">CNPJ/MF: 46.316.600/0001-64</font></td>
	</tr>
	
	<tr>
		<td align="left" width="100%"><br /><br /><font size="10">SERVIDOR/CONTRADO: <?php echo $this->post_var['nome']?></font></td>
	</tr>
</table>

<table width="100%" cellpadding="0" cellspacing="0" border="0" nobr="true">
	<tr>
		<td align="left" width="50%"><font size="10">Doc. Identificação (RG): <u><?php echo $this->post_var['rg']?></u></font></td>

		<td align="left" width="50%"><font size="10">CPF: <u><?php echo $this->post_var['cpf']?></u></font></td>
	</tr>
</table>

<table width="100%" cellpadding="0" cellspacing="0" border="0" nobr="true">
	<tr>
		<td align="left" width="100%"><font size="10">Estado Civil: <u><?php echo ((isset($this->post_var['estadocivil'])) && ($this->post_var['estadocivil']!="")) ? $this->post_var['estadocivil'] : '' ?></u></font></td>
	</tr>
</table>

<table width="100%" cellpadding="0" cellspacing="0" border="0" nobr="true">
	<tr>
		<td align="left" width="50%"><font size="10">Endereço: <u><?php echo $this->post_var['endereco']?></u></font></td>
	
		<td align="left" width="10%"><font size="10">n°: <u><?php echo $this->post_var['numero']?></u> </font></td>
		
		<td align="left" width="40%"><font size="10">Bairro: <u><?php echo $this->post_var['bairro']?></u></font></td>	
		
	</tr>
</table>

<table width="100%" cellpadding="0" cellspacing="0" border="0" nobr="true">
	<tr>
		<td align="left" width="50%"><font size="10">Cidade: <u><?php echo $this->post_var['cidade']?></u></font><br /></td>
		<td align="left" width="25%"><font size="10">CEP:<u><?php echo $this->post_var['cep']?></u></font><br /></td>
		<td align="left" width="25%"><font size="10">Estado:<u><?php echo $this->post_var['uf']?></u></font><br /></td>
	</tr>
</table>

<table width="100%" cellpadding="4" cellspacing="0" border="1" nobr="true">
	<tr>
		<td align="left" width="100%"><font size="12">PARA FINS DA LEGISLAÇÃO DO IMPOSTO DE RENDA, DECLARO QUE SÃO MEUS DEPENDENTES AS PESSOAS ABAIXO RELACIONADAS: </font></td>
	</tr>
</table>	

<br />
<br />
<?php endif; ?>

<table width="100%" cellpadding="2" cellspacing="0" border="1" nobr="true">
	<tr>
		<th align="left" width="100%">BLOCO 1 - IDENTIFICAÇÃO</th>
	</tr>
	<tr>
		<th align="left" width="40%">01 - NOME DA APM</th>
		<th align="left" width="15%">02 - CNPJ</th>
		<th align="left" width="15%">03 - BANCO AG</th>	
		<th align="left" width="15%">04 - CONTA CORRENTE</th>
		<th align="left" width="15%">05 - PERIODO E ANO</th>
	</tr>
	<tr>

		<th align="left" width="40%"><?php echo $this->FormatTextoBranco($this->programa['titulo']) ?></th>
		<th align="left" width="15%"><?php echo $this->FormatTextoBranco($this->programa['cpfcnpj']) ?></th>
		<th align="left" width="15%">
			<?php foreach ($this->conta as $contas => $conta) :?>
				<?php echo $this->FormatTextoBranco($conta['banco']).' - '.$this->FormatTextoBranco($conta['agencia']) ?>
				<br/>
			<?php endforeach;?>
			</th>	
			<th align="left" width="15%">
				<?php foreach ($this->conta as $contas => $conta) :?>
					<?php echo $this->FormatTextoBranco($conta['conta']).'-'. $conta['digito']?><br/>
				<?php endforeach;?>
			</th>

			<th align="left" width="15%"><?php echo date('d/m/Y', strtotime($this->programa['datainicio'])).' a '.date('d/m/Y', strtotime($this->programa['datafim'])) ?></th>
	</tr>
	<tr>
		<th align="left" width="40%">06 - ENDEREÇO</th>
		<th align="left" width="15%">07 - CEP</th>
		<th align="left" width="15%">08 - TELEFONE</th>	
		<th align="left" width="15%">09 - MUNICIPIO</th>
		<th align="left" width="15%">10 - UF</th>
	</tr>
	<tr>
		<th align="left" width="40%"><?php echo $this->FormatTextoBranco($this->endereco['endereco']), $this->FormatTextoBranco($this->endereco['numero']) ?></th>
		<th align="left" width="15%"><?php echo $this->FormatTextoBranco($this->endereco['cep']) ?></th>
		<th align="left" width="15%"><?php echo $this->FormatTextoBranco($this->escola['telefone']) ?></th>	
		<th align="left" width="15%"><?php echo $this->FormatTextoBranco($this->endereco['cidade']) ?></th>
		<th align="left" width="15%"><?php echo $this->FormatTextoBranco($this->endereco['uf']) ?></th>
	</tr>
</table>

<?php $total_receitas_despesas = 0; ?>
<?php $total_receitas = 0; ?>
<?php $despesas = ($this->total_despesas > 0) ? $this->total_despesas : 0; ?>
<table width="100%" cellpadding="2" cellspacing="0" border="1" nobr="true">
	<tr>
		<th align="left" width="80%">BLOCO 2 - RECEITAS</th>
		<th align="left" width="20%">VALOR (R$)</th>
	</tr>
	<?php foreach ($this->receitas as $i=>$row) : ?>
	<?php $total_receitas += $row['valor']; ?>
	<tr>
		<td align="left" width="80%"><b><?php echo $this->FormatTextoBranco($row['descricao']) ?></b></td>
		<td align="left" width="20%">R$ <?php echo number_format($row['valor'], 2) ?></td>
	</tr>
	<?php endforeach;?>
</table>
<?php $valor_total = $this->programa['saldoexercicioanterior_apm'] + $total_receitas + $this->programa['rendimentoaplicacaofinanceira_apm']?>

<?php $saldo_atual = $valor_total - $despesas; ?>
<table width="100%" cellpadding="2" cellspacing="0" border="1" nobr="true">
	<tr>
		<th align="left" width="70%">BLOCO 3 - SINTESE DA RECEITA E DA DESPESA (R$)</th>
		<th align="left" width="10%">TOTAL (R$)</th>
		<th align="left" width="20%">R$ <?php echo number_format($total_receitas, 2); ?></th>
	</tr>
	<tr>
		<th align="center" width="20%">11 - SALDO EXERCICIO ANTERIOR</th>
		<th align="center" width="20%">12 - VALOR RECEITA NO PERÍODO</th>
		<th align="center" width="10%">13 - RENDA APL. FINANCEIRA</th>	
		<th align="center" width="10%">14 - VALOR TOTAL</th>
		<th align="center" width="10%">15 - DESP. REALIZADA</th>
		<th align="center" width="20%" rowspan="2">16 - SALDO ATUAL</th>
		<th align="center" width="10%" rowspan="2">R$ <?php echo number_format($saldo_atual, 2); ?></th>
	</tr>
	
	<tr>
		<td align="center" width="20%">R$ <?php echo number_format($this->programa['saldoexercicioanterior_apm'], 2) ?></td>
		<td align="center" width="20%">R$ <?php echo number_format($total_receitas, 2) ?></td>
		<td align="center" width="10%">R$ <?php echo number_format($this->programa['rendimentoaplicacaofinanceira_apm'], 2) ?></td>	
		<td align="center" width="10%">R$ <?php echo number_format($valor_total, 2) ?></td>
		<td align="center" width="10%">R$ <?php echo number_format($despesas, 2); ?></td>
	</tr>
</table>
<table width="100%" cellpadding="2" cellspacing="0" border="1" nobr="true">
	<tr>
		<th align="left" width="100%">BLOCO 4 - PAGAMENTOS EFETUADOS</th>
	</tr>
	<tr>
		<th align="center" width="5%" rowspan="2">17 - ITEM</th>
		<th align="center" width="22%" rowspan="2">18 - NOME DO FAVORECIDO / CPF OU CNPJ</th>
		<th align="center" width="22%" rowspan="2">19 - ESPECIFICAÇÃO DO MATERIAL OU SERVIÇO</th>	
		<th align="center" width="20%">20 - DOCUMENTOS</th>
		<th align="center" width="16%">21 - PAGAMENTO</th>
		<th align="center" width="15%" rowspan="2">22 - VALOR</th>
	</tr>
	<tr>
		<td align="center" width="4%">TIPO</td>
		<td align="center" width="8%">NUMERO</td>	
		<td align="center" width="8%">DATA</td>
		<td align="center" width="8%">Nº CH/OB</td>
		<td align="center" width="8%">DATA</td>
	</tr>

	<?php $total_despesas = 0; ?>
	<?php foreach ($this->despesas as $i=>$row) : ?>
	<?php $total_despesas += $row['valor']; ?>
	<tr>
		<td align="left" width="5%"><?php echo $i + 1 ?></td>
		<td align="left" width="22%"><?php echo $this->FormatTextoBranco($row['fornecedor']).' ('.$this->FormatTextoBranco($row['cpfcnpj']).')' ?></td>
		<td align="left" width="22%"><?php echo $this->FormatTextoBranco($row['tipo']).' - <b>'. $row['descricao'].'</b>' ?></td>
		<td align="left" width="4%"><?php echo $this->FormatTextoBranco($row['tipodocumento']) ?></td>
		<td align="left" width="8%"><?php echo $this->FormatTextoBranco($row['ndocumento']) ?></td>
		<td align="left" width="8%"><?php echo isset($row['data']) ? date('d/m/Y', strtotime($row['data'])) : '--' ?></td>
		<td align="left" width="8%"><?php echo $this->FormatTextoBranco($row['numerocheque'])?></td>
		<td align="left" width="8%"><?php echo isset($row['data']) ? date('d/m/Y', strtotime($row['data'])) : '--' ?></td>
		<td align="left" width="15%">R$ <?php echo number_format($row['valor'], 2) ?></td>
	</tr>
	<?php endforeach;?>
</table>

<table width="100%" cellpadding="2" cellspacing="0" border="1" nobr="true">
	<tr>
		<th align="left" width="69%">BLOCO 5 - ASSINATURA DOS RESPONSÁVEIS POR ESTA PRESTAÇÃO DE CONTAS</th>
		<th align="left" width="16%">23 - TOTAL</th>
		<th align="left" width="15%">R$ <?php echo number_format($total_despesas, 2) ?></th>
	</tr>
</table>
<br />
<br />	
<br />
<table width="100%" cellpadding="0" cellspacing="0" border="0" nobr="true">
	<tr>
		<td align="center" width="25%"><font size="12">________________</font></td>
		<td align="center" width="25%"><font size="12">________________</font></td>
		<td align="center" width="25%"><font size="12">________________</font></td>
		<td align="center" width="25%"><font size="12">________________</font></td>
	</tr>
	
	<tr>
		<td align="center" width="25%">Nome do Diretor Responsável Executivo da APM</td>
		<td align="center" width="25%">Assinatura do Dir. Executivo da APM</td>
		<td align="center" width="25%">Nome do Diretor Financeiro da APM</td>
		<td align="center" width="25%">Assinatura do Dir. Financeiro da APM</td>
	</tr>
</table>
<br />
<br />
<br />
<table width="100%" cellpadding="2" cellspacing="0" border="0" nobr="true">
	<tr>
		<td align="left" width="100%" size="14">Parecer do Conselho Fiscal da APM da <u><?php echo $this->FormatTextoBranco($this->escola['escola']) ?></u> analisamos a Prestação de Contas referente ao período de <u><?php echo date('d/m/Y', strtotime($this->programa['datainicio'])) ?></u> até <u><?php echo date('d/m/Y', strtotime($this->programa['datafim'])) ?></u> e somos pela aprovação integral da referida prestação de contas</td>
	</tr>
</table>
<br />
<br />
<table width="100%" cellpadding="0" cellspacing="0" border="0" nobr="true">
	<tr>
		<td align="center" width="33%"><font size="12">________________</font></td>
		<td align="center" width="33%"><font size="12">________________</font></td>
		<td align="center" width="33%"><font size="12">________________</font></td>
	</tr>
	
	<tr>
		<td align="center" width="33%">Nome Conselheiro Fiscal</td>
		<td align="center" width="33%">Nome Conselheiro Fiscal</td>
		<td align="center" width="33%">Nome Conselheiro Fiscal</td>
	</tr>
</table>	
<br /><br />
<table width="100%" cellpadding="0" cellspacing="0" border="0" nobr="true">
	<tr>
		<td align="center" width="33%"><font size="12">________________</font></td>
		<td align="center" width="33%"><font size="12">________________</font></td>
		<td align="center" width="33%"><font size="12">________________</font></td>
	</tr>
	<tr>
		<td align="center" width="33%">Assinatura do Conselheiro Fiscal</td>
		<td align="center" width="33%">Assinatura do Conselheiro Fiscal</td>
		<td align="center" width="33%">Assinatura do Conselheiro Fiscal</td>
	</tr>
</table>	
