
<table width="100%" cellpadding="0" cellspacing="0" border="0" nobr="true">	
	<tr>
		<th align="left" width="30%"><img src="<?php echo $this->baseUrl('/public/admin/img/fnde.png') ?>" width="100" /></th>
		<th align="right" width="70%"><img src="<?php echo $this->baseUrl('/public/admin/img/logo-santa-isabel.jpg') ?>" width="80" /></th>
	</tr>
	<tr>
		<th align="left" width="30%"><font size="6"><b>FUNDO NACIONAL DE DESENVOLVIMENTO DA EDUCAÇÃO</b></font></th>
		<th align="left" width="70%"><font size="6">&nbsp;</font></th>
	</tr>
	<tr>
		<th align="left" width="30%"><font size="6">DIRETORIA FINANCEIRA</font></th>
		<th align="left" width="70%"><font size="6">&nbsp;</font></th>
	</tr>
	<tr>
		<td align="left" width="80%"><font size="8">COORDENAÇÃO-GERAL DE CONTABILIDADE E ACOMPANHAMENTO DE PRESTAÇÃO DE CONTAS</font> &nbsp;<br /></td>
		<td align="left" width="20%"><font size="8">PRESTAÇÃO DE CONTAS</font><br /></td>
	</tr>
	<tr>
		<td align="left" width="80%"><font size="8"><?php echo $this->FormatTextoBranco($this->escola['escola']) ?></font> &nbsp;<br /></td>
		<td align="left" width="20%"><font size="8">&nbsp;</font><br /></td>
	</tr>
	<tr>
		<td align="left" width="65%">&nbsp;</td>
		<td align="left" width="35%"><font size="6">DEMONSTRATIVO DE EXECUÇÃO DA RECEITA, DESPESA E PAGAMENTOS EFETUADOS</font></td>
	</tr>
</table>	

<table width="100%" cellpadding="2" cellspacing="0" border="1" nobr="true">
	<tr>
		<th align="left" width="100%">BLOCO 1 - IDENTIFICAÇÃO</th>
	</tr>
	<tr>
		<th align="left" width="80%">01 - Programa / Ação</th>
		<th align="left" width="20%">02 - Exercício</th>
	</tr>
	<tr>
		<td align="left" width="80%"><?php echo $this->FormatTextoBranco($this->row['titulo']) ?></td>
		<td align="left" width="20%"><?php echo date('d/m/Y', strtotime($this->row['datainicio'])).' a '.date('d/m/Y', strtotime($this->row['datafim'])) ?></td>	
	</tr>
	<tr>
		<th align="left" width="70%">03 - Conta Bancária</th>
		<th align="left" width="30%">04 - Número do CNPJ</th>
	</tr>
	<tr>
		<td align="left" width="70%">
			<?php foreach ($this->conta as $contas => $conta):?>
			<table>
				<tr>
					<td width="20%"><?php echo $this->FormatTextoBranco($conta['banco']) ?></td>
					<td width="20%"><?php echo 'Agência '.$this->FormatTextoBranco($conta['agencia']) ?></td>
					<td width="20%"><?php echo 'Conta '.$this->FormatTextoBranco($conta['conta']).'-'.$conta['digito'] ?></td>
				</tr>
			</table><br/>
			<?php endforeach; ?>
		</td>
		<td align="left" width="30%"><?php echo $this->FormatTextoBranco($this->programa['cpfcnpj']) ?></td>
	</tr>
	<tr>
		<th align="left" width="60%">05 - Endereço</th>
		<th align="left" width="20%">06 - Município</th>
		<th align="left" width="20%">07 - UF</th>
	</tr>
	<tr>
		<th align="left" width="60%"><?php echo $this->FormatTextoBranco($this->endereco['endereco']), $this->FormatTextoBranco($this->endereco['numero']) ?></th>
		<th align="left" width="20%"><?php echo $this->FormatTextoBranco($this->endereco['cidade']) ?></th>
		<th align="left" width="20%"><?php echo $this->FormatTextoBranco($this->endereco['uf']) ?></th>
	</tr>
</table>

<br />

<?php $total_receitas_despesas = 0; ?>
<?php $total_receitas = 0; ?>
<table width="100%" cellpadding="2" cellspacing="0" border="1" nobr="true">
	<tr>
		<th align="left" width="100%">BLOCO 2 - SÍNTESE DA EXECUÇÃO DA RECEITA E DA DESPESA (R$)</th>
	</tr>
</table>
	
<table width="100%" cellpadding="2" cellspacing="0" border="1" nobr="true">
	<tr>
		<th align="left" width="20%" colspan="2">8 - Saldo Reprogramado do Exercício Anterior</th>
		<th align="left" width="20%" colspan="2">9 - Valor Creditado pelo FDNE no Exercício</th>
		<th align="left" width="20%" colspan="2">10 - Recursos Próprios</th>
		<th align="left" width="20%" colspan="2">11 - Rendimento de Aplicação Financeira</th>
		<th align="left" width="20%" colspan="2">12 - Devolução de Recursos do FNDE (+)</th>
	</tr>
	<tr>
		<th align="center" width="10%">Custeio</th>
		<th align="center" width="10%">Capital</th>
		<th align="center" width="10%">Custeio</th>
		<th align="center" width="10%">Capital</th>
		<th align="center" width="10%">Custeio</th>
		<th align="center" width="10%">Capital</th>
		<th align="center" width="10%">Custeio</th>
		<th align="center" width="10%">Capital</th>
		<th align="center" width="10%">Custeio</th>
		<th align="center" width="10%">Capital</th>
	</tr>
	<tr>
		<td align="center" width="10%">R$ <?php echo number_format($this->row['saldoexercicioanterior_custeio'], 2) ?></td>	
		<td align="center" width="10%">R$ <?php echo number_format($this->row['saldoexercicioanterior_capital'], 2) ?></td>
		<td align="center" width="10%">R$ <?php echo number_format($this->row['valorcreditadofnde_custeio'], 2) ?></td>
		<td align="center" width="10%">R$ <?php echo number_format($this->row['valorcreditadofnde_capital'], 2) ?></td>
		<td align="center" width="10%">R$ <?php echo number_format($this->row['recursosproprios_custeio'], 2) ?></td>
		<td align="center" width="10%">R$ <?php echo number_format($this->row['recursosproprios_capital'], 2) ?></td>
		<td align="center" width="10%">R$ <?php echo number_format($this->row['rendimentoaplfinanceira_custeio'], 2) ?></td>
		<td align="center" width="10%">R$ <?php echo number_format($this->row['rendimentoaplfinanceira_capital'], 2) ?></td>
		<td align="center" width="10%">R$ <?php echo number_format($this->row['devolucaorecursosfnde_custeio'], 2) ?></td>
		<td align="center" width="10%">R$ <?php echo number_format($this->row['devolucaorecursosfnde_capital'], 2) ?></td>
	</tr>

	<tr>
		<th align="left" width="16.66%" colspan="2">13 - Valor Total da Receita</th>
		<th align="left" width="16.66%" colspan="2">14 - Valor da Despesa Realizada (-)</th>
		<th align="left" width="16.66%" colspan="2">15 - Saldo a Reprogramar para o Exercício Seguinte</th>
		<th align="left" width="16.66%" colspan="2">16 - Saldo Devolvido</th>
		<th align="left" width="16.66%" colspan="2">17 - Período de Execução</th>
		<th align="left" width="16.66%">18 - Nº de Escolas Atendidas</th>
	</tr>
	<tr>
		<th align="center" width="8.33%">Custeio</th>
		<th align="center" width="8.33%">Capital</th>
		<th align="center" width="8.33%">Custeio</th>
		<th align="center" width="8.33%">Capital</th>
		<th align="center" width="8.33%">Custeio</th>
		<th align="center" width="8.33%">Capital</th>
		<th align="center" width="8.33%">Custeio</th>
		<th align="center" width="8.33%">Capital</th>
		<th align="center" width="8.33%">De</th>
		<th align="center" width="8.33%">Até</th>
	</tr>
	<?php
		$custeio_1 = $this->row['saldoexercicioanterior_custeio'];
		$custeio_2 = $this->row['valorcreditadofnde_custeio'];
		$custeio_3 = $this->row['recursosproprios_custeio'];
		$custeio_4 = $this->row['rendimentoaplfinanceira_custeio'];

		$capital_1 = $this->row['saldoexercicioanterior_capital'];
		$capital_2 = $this->row['valorcreditadofnde_capital'];
		$capital_3 = $this->row['recursosproprios_capital'];
		$capital_4 = $this->row['rendimentoaplfinanceira_capital'];

		$total_custeio = $custeio_1 + $custeio_2 + $custeio_3 + $custeio_4;
		$total_capital = $capital_1 + $capital_2 + $capital_3 + $capital_4;
	?>
	<tr>
		<td align="center" width="8.33%">R$ <?php echo number_format($total_custeio, 2) ?></td>	
		<td align="center" width="8.33%">R$ <?php echo number_format($total_capital, 2) ?></td>	
		<td align="center" width="8.33%">R$ <?php echo number_format($this->total_despesas_custeio, 2) ?></td>	
		<td align="center" width="8.33%">R$ <?php echo number_format($this->total_despesas_capital, 2) ?></td>	
		<td align="center" width="8.33%">R$ <?php echo number_format($total_custeio - $this->total_despesas_custeio, 2) ?></td>	
		<td align="center" width="8.33%">R$ <?php echo number_format($total_capital - $this->total_despesas_capital, 2) ?></td>	
		<td align="center" width="8.33%">R$ <?php echo number_format($this->row['saldodevolvido_custeio'], 2) ?></td>	
		<td align="center" width="8.33%">R$ <?php echo number_format($this->row['saldodevolvido_capital'], 2) ?></td>	
		<td align="center" width="8.33%"><?php echo date('d/m/Y', strtotime($this->row['datainicio'])) ?></td>	
		<td align="center" width="8.33%"><?php echo date('d/m/Y', strtotime($this->row['datafim'])) ?></td>	
		<td align="center" width="16.66%">&nbsp;</td>	
	</tr>
</table>

<br />

<table width="100%" cellpadding="2" cellspacing="0" border="1" nobr="true">
	<tr>
		<th align="left" width="100%">BLOCO 3 - PAGAMENTOS EFETUADOS</th>
	</tr>
	<tr>
		<th align="center" width="5%" rowspan="2">19 - ITEM</th>
		<th align="center" width="20%" rowspan="2">20 - NOME DO FAVORECIDO</th>
		<th align="center" width="10%" rowspan="2">21 - CPF OU CNPJ</th>	
		<th align="center" width="20%" rowspan="2">22 - Tipos de Bens ou Materiais Adquiridos ou Serviços Contratados</th>
		<th align="center" width="5%" rowspan="2">23 - Origem R$ (*)</th>
		<th align="center" width="5%" rowspan="2">24 - Nat. Desp.</th>
		<th align="center" width="15%">25 - DOCUMENTOS</th>
		<th align="center" width="10%">26 - PAGAMENTO</th>
		<th align="center" width="10%" rowspan="2">27 - Valor (R$)</th>
	</tr>
	<tr>
		<td align="center" width="3%">TIPO</td>
		<td align="center" width="6%">NUMERO</td>	
		<td align="center" width="6%">DATA</td>
		<td align="center" width="5%">Nº CH/OB</td>
		<td align="center" width="5%">DATA</td>
	</tr>

	<?php $total_despesas = 0; ?>
	<?php foreach ($this->despesas as $i=>$row) : ?>
	<?php $total_despesas += $row['valor']; ?>
	<tr>
		<td align="left" width="5%"><?php echo $i + 1 ?></td>
		<td align="left" width="20%"><?php echo $this->FormatTextoBranco($row['fornecedor']) ?></td>
		<td align="left" width="10%"><?php echo $this->FormatTextoBranco($row['cpfcnpj']) ?></td>
		<td align="left" width="20%"><?php echo $this->FormatTextoBranco($row['tipo']) .' - '.$this->FormatTextoBranco($row['descricao']) ?></td>
		<td align="center" width="5%"><?php echo $this->FormatTextoBranco($row['origem']) ?></td>
		<td align="center" width="5%" ><?php echo ($row['natureza']=='Capital') ? 'K' : 'C'; ?></td>
		<td align="left" width="3%"><?php echo $this->FormatTextoBranco($row['tipodocumento']) ?></td>
		<td align="left" width="6%"><?php echo $this->FormatTextoBranco($row['ndocumento']) ?></td>
		<td align="left" width="6%"><?php echo isset($row['data']) ? date('d/m/Y', strtotime($row['data'])) : '--' ?></td>
		<td align="left" width="5%"><?php echo $row['numerocheque']?></td>
		<td align="left" width="5%"><?php echo isset($row['datapagamento']) ? date('d/m/Y', strtotime($row['datapagamento'])) : '--' ?></td>
		<td align="left" width="10%">R$ <?php echo number_format($row['valor'], 2) ?></td>
	</tr>
	<?php endforeach;?>
	<tr>
		<th align="left" width="85%">28 - TOTAL</th>
		<th align="left" width="15%">R$ <?php echo number_format($total_despesas, 2) ?></th>
	</tr>
</table>
<br/><br/>
<table width="100%" cellpadding="0" cellspacing="0" border="1" nobr="true">
	<tr>
		<td align="center" width="33.33%"><?php echo $this->FormatTextoBranco($this->endereco['cidade']).' - '.$this->FormatTextoBranco($this->endereco['uf']).', '.date('d/m/Y') ?></td>
		<td align="center" width="33.33%"><font size="12">_______________________</font></td>
		<td align="center" width="33.33%"><font size="12">_______________________</font></td>
	</tr>
	<tr>
		<td align="center" width="33.33%">Local e Data</td>
		<td align="center" width="33.33%">Nome do(a) Dirigente ou do Representante Legal</td>
		<td align="center" width="33.33%">Assinatura do(a) Dirigente ou do Representante Legal</td>
	</tr>
	<br/>
</table>		