<style type="text/css">
    .font16{ font-size:1em; font-family: 'Helvetica, sans-serif'; }
    .font14{ font-size:14px; font-family: 'Helvetica, sans-serif'; }
    .font18{ font-size:1.3em; font-family: 'Helvetica, sans-serif'; }
    .font20{ font-size:1.5em; font-family: 'Helvetica, sans-serif'; }
    .black{ color:#000; }
    .white{ color:#fff; }
    .gray{ color:#ccc; }
    .red{ color:#ff0000; }
    .textleft{ text-align: left; }
    .textright{ text-align: right; }
    .left{ float: left }
    .textcenter{text-align: center; }
    .padding2{ padding: 6px; }
    .margin10 {margin-top:50px; display: block;}
    .textjustify { text-align: justify; }
    .line{ border:1px solid #ccc;  background:#000; width: 250px;}
    .each-line{width: 25px; display: inline; border:1px solid #000;}
    .contorno{border-top: 0.5px solid black; border-bottom: 0.5px solid black;}
    .contornoleft{ border-left: 0.5px solid black;  }
    .contornoright{ border-right: 0.5px solid black;  }
</style>
<br><br> 

<?php   
    error_reporting(0);
    ini_set(“display_errors”, 0 ); 
?> 

<br><br><br>
<table class="left padding2">
    <tr>
        <th colspan="5" class="center contorno contornoleft   "><b>Professor: </b><?php echo Funcionariosgeraisescolas::getFuncionariogeralescolaByIdHelper( $this->mapaacompanhamentoclasse['idusuariologado'] )['nome'] . ' - <b>RGF: </b>' .  Funcionariosgeraisescolas::getFuncionariogeralescolaByIdHelper($this->mapaacompanhamentoclasse['idusuariologado'])['rgf']  ?></th>
        <th colspan="5" class="left contorno contornoright"><b>Escola: </b><?php echo Escolasalunos::getEscolaalunoByIdHelper($this->mapaacompanhamentoclasse['idescola'])['nomerazao']; ?> </th>
    </tr> 
</table>

<table class="left padding2">
    <tr>
        <th colspan="5" class="center contorno   contornoleft"><b>Série: </b> <?php echo Escolasseries::getEscolaserieByIdHelper( $this->mapaacompanhamentoclasse['idserie'] )['serie']?></th>
        <th colspan="5" class="left contorno contornoright"><b>Turma: </b><?php echo Escolasturmas::getescolaturmaByIdHelper( Escolasvinculos::getEscolasvinculosHelper(array('id' => $this->mapaacompanhamentoclasse['idturma']))[0]['idturma'])['turma'] ?></th>
    </tr> 
</table>

<table class="left padding2">
    <tr>
        <th colspan="5" class="left contorno contornoleft"><b>Bimestre: </b><?php echo $this->mapaacompanhamentoclasse['periodonotas'] ?></th>
        <th colspan="5" class="left contorno contornoright"><b>Período: </b><?php echo Escolasperiodos::getEscolaperiodoByIdHelper( Escolasvinculos::getEscolasvinculosHelper(array('id' => $this->mapaacompanhamentoclasse['idperiodo']))[0]['idperiodo'])['periodo'] ?></th>
    </tr> 
</table>

<table class="left padding2">
    <tr>
        <th colspan="5" class="left contorno contornoleft"><b>Diretor: </b><?php echo Funcionariosgeraisescolas::getFuncionariogeralescolaByIdHelper( $this->mapaacompanhamentoclasse['iddiretor'] )['nome']; ?></th>
        <th colspan="5" class="center contorno   contornoright"><b>Coordenador: </b><?php echo Funcionariosgeraisescolas::getFuncionariogeralescolaByIdHelper( $this->mapaacompanhamentoclasse['idcoordenador'] )['nome']; ?></th>
    </tr> 
</table>
 
 
 <br>
   
<table class="padding2">
    <tr> 
        <th class="textcenter "><b class="font16">Aulas</b></th>
    </tr> 
</table>

<table class="left padding2">
    <tr>
        <th colspan="5" class="black textcenter contorno contornoleft"><b>Nome </b></th>
        <th colspan="2" class="black textcenter contorno contornoleft"><b>Data nasc. </b></th>
        <th colspan="5" class="black textcenter contorno contornoleft contornoright"><b>H. Escrita </b></th>   
        <th colspan="5" class="black textcenter contorno contornoleft contornoright"><b>C. Leitora </b></th>   
        <th colspan="5" class="black textcenter contorno contornoleft contornoright"><b>C. Escritora </b></th>   
        <th colspan="5" class="black textcenter contorno contornoleft contornoright"><b>A. Normativo </b></th>   
        <th colspan="5" class="black textcenter contorno contornoleft contornoright"><b>Observação </b></th>   
    </tr> 
    <?php foreach ($this->escolasatribuicoes as $c=>$row) : ?>
        <tr>    	 
            <td colspan="5" class="black textcenter contorno contornoleft"><?php echo $row['nomerazao'] ?></td> 
            <td colspan="2" class="black textcenter contorno contornoleft"><?php echo $row['idaluno'] ?></td> 
            <td colspan="5" class="black textcenter contorno contornoleft"><?php echo Coordenacaotipohipoteses::getCoordenacaotipohipotesesByIdHelper( Mapaescolasalunosrelacao::getMapaescolasalunosrelacaoHelper(array('idaluno' =>  $row['idaluno']))[0]['idtipohipotese'])['tipohipotese'] ; ?></td> 
            <td colspan="5" class="black textcenter contorno contornoleft"><?php echo Coordenacaotipoleituras::getCoordenacaotipoleiturasByIdHelper( Mapaescolasalunosrelacao::getMapaescolasalunosrelacaoHelper(array('idaluno' =>  $row['idaluno']))[0]['idtipoleitura'] )['tipoleitura']; ?></td> 
            <td colspan="5" class="black textcenter contorno contornoleft"><?php echo Coordenacaotipoescritas::getCoordenacaotipoescritasByIdHelper( Mapaescolasalunosrelacao::getMapaescolasalunosrelacaoHelper(array('idaluno' =>  $row['idaluno']))[0]['idtipoescrita'])['tipoescrita']; ?></td> 
            <td colspan="5" class="black textcenter contorno contornoleft"><?php echo Coordenacaoaspectosnormativos::getCoordenacaoaspectosnormativosByIdHelper( Mapaescolasalunosrelacao::getMapaescolasalunosrelacaoHelper(array('idaluno' =>  $row['idaluno']))[0]['idtipoaspectonormativo'])['aspectonormativo']; ?></td> 
            <td colspan="5" class="black textcenter contorno contornoleft contornoright"><?php echo Mapaescolasalunosrelacao::getMapaescolasalunosrelacaoHelper(array('idaluno' =>  $row['idaluno']))[0]['observacoes']; ?></td> 
        </tr>
    <?php endforeach; ?>
</table>  

 