		<!-- Content -->
		<div id="content">

		    <!-- Content wrapper -->
		    <div class="wrapper">

			    <!-- Breadcrumbs line -->
			    <div class="crumbs">
			    	<?php echo $this->render('/helpers/breadcrumb.phtml') ?>
			    </div>
			    <!-- /breadcrumbs line -->

			    <!-- Page header -->
			    <div class="page-header">
			    	<div class="page-title">
				    	<h5>Formulário do equipe</h5>
				    	<span>Verifique os campos e preencha com os dados</span>
			    	</div>
			    </div>
			    <!-- /page header -->

			    <?php if (isset($this->crudMessage)) : ?>
					<div class="alert alert-success">
	                	<button data-dismiss="alert" class="close" type="button">×</button>
	                    <strong>Operação realizada com sucesso!</strong>
		    			<span><br /><?php echo $this->crudMessage ?></span>
	                </div>			    
			    <?php endif; ?>

				<form id="form" name="form" action="" method="post" class="form-horizontal" enctype="multipart/form-data"> 
					<input type="hidden" value="<?php echo (isset($this->post_var)) ? $this->post_var["id"] : ''; ?>" name="id" id="id" />
					
					<fieldset>
						<!-- General form elements -->
						<div class="widget row-fluid">
						    <div class="navbar">
						        <div class="navbar-inner">
						            <h6>Digite as informações do formulário</h6>
						        </div>
						    </div>

						    <div class="well">
								<?php if (isset($this->erros)) : ?>
									<div class="alert alert-error margin">
				                        <button data-dismiss="alert" class="close" type="button">×</button>
				                        <strong>Há erros no formulário!</strong>
					    				<?php foreach ($this->erros as $k=>$v) : ?>
					    					<span><br />- <?php echo $v ?></span>
					    				<?php endforeach;?>			                        
				                    </div>
			                    <?php endif; ?>						    
						    

				<!-- <div class="control-group">
					<label class="control-label">Departamento </label>
					<div class="controls visualizar">
						Engenharia
						<?php /*?>
		                <select name="iddepartamento" data-placeholder="Departamento" class="select">
							<option value="">Selecione...</option>
							<?php foreach (Departamentossecretarias::getDepartamentossecretariasHelper(array('status'=>'Ativo')) as $k=>$v) : ?>
							<option value="<?php echo $v['id'] ?>"><?php echo $v['departamento'] ?></option>
							<?php endforeach;?>
						</select>
						<?php */?>
					</div>
				</div> -->
				<div class="control-group">
					<label class="control-label">Tipo da Equipe</label>
					<div class="controls">
						<select name="idtipoequipe" data-placeholder="Tipo" class="select" onchange="setFuncionariosTipos(this, 0)">
							<option value="">Selecione...</option>
							<?php foreach(Tiposequipes::getTiposequipesHelper(array('status'=>'Ativo')) as $fr=>$row_fr): ?>
							<option value="<?php echo $row_fr['id'] ?>"><?php echo $row_fr['titulo'] ?></option>
							<?php endforeach ?>
						</select>
						
					</div>
				</div>

				<div class="control-group">
					<label class="control-label">Técnicos </label>
					<div class="controls box-funcionarios">
							
							<?php foreach (Tecnicosresponsaveis::getTecnicosresponsaveisHelper(array('status'=>'Ativo', 'excluido'=>'nao', 'tipodetecnico'=>'Engenharia')) as $k=>$v) : ?>
							<input type="checkbox" value="<?php echo $v['id'] ?>" name="idsfuncionarios[]" /><?php echo $v['nome'] ?> <br />
							<?php endforeach;?>
						
					</div>
				</div>


				<div class="control-group">
					<label class="control-label">Equipe <span class="required">*</span></label>
					<div class="controls"><input maxlength="500" placeholder="Equipe" name="equipe" value="<?php echo (isset($this->post_var['equipe'])) ? $this->post_var['equipe'] : '' ?>" type="text"  class="span3" /></div>
				</div>


				<div class="control-group">
					<label class="control-label">Descrições </label>
					<div class="controls"><textarea class="span12" name="descricoes" cols="5" rows="5"><?php echo (isset($this->post_var)) ? $this->post_var["descricoes"] : ''; ?></textarea></div>
				</div>


				<div class="control-group">
					<label class="control-label">Status <span class="required">*</span></label>
					<div class="controls">
						<select name="status1" data-placeholder="Status" class="select">
							<option value="">Selecione...</option>
							<option value="Ativo">Ativo</option><option value="Bloqueado">Bloqueado</option>
						</select>
						
					</div>
				</div>

						    
						    
						    </div>
						    
			                <div class="form-actions align-right">
			                	<?php if ((isset($this->visualizar)) && ($this->visualizar)) : ?>
			                		<button onclick="window.history.back()" class="btn btn-danger cancelar" type="button">Voltar</button>
			                	<?php else : ?>
				                	<button class="btn btn-primary enviar" type="submit">Salvar</button>
				                	<button onclick="window.history.back()" class="btn btn-danger cancelar" type="button">Cancelar</button>
			                	<?php endif; ?>
			                </div>
						</div>
						<!-- /general form elements -->

					</fieldset> 

				</form>
				<!-- /basic inputs -->

		    </div>
		    <!-- /content wrapper -->

		</div>
		<!-- content -->
				
<script type="text/javascript" src="<?php echo $this->baseUrl('/public/scripts/admin/chamadosequipes_form.js') ?>"></script>
<script type="text/javascript">
	var form_values = {};
	
	<?php if (isset($this->post_var)) :  ?>
		form_values.iddepartamento = '<?php echo (isset($this->post_var['iddepartamento'])) ? $this->post_var['iddepartamento'] : '' ?>';


form_values.status1 = '<?php echo (isset($this->post_var['status1'])) ? $this->post_var['status1'] : $this->post_var['status'] ?>';

		form_values.idtipoequipe = '<?php echo (isset($this->post_var['idtipoequipe'])) ? $this->post_var['idtipoequipe'] : '' ?>';
	<?php endif; ?>
	<?php // if ((isset($this->post_var['idsfuncionarios'])) && ($this->post_var['idsfuncionarios']!="")) :  ?>
	form_values.idsfuncionarios = [<?php echo $this->post_var['idsfuncionarios'] ?>];
	<?php //endif; ?>
	visualizar = <?php echo  ((isset($this->visualizar)) && ($this->visualizar))  ? 'true' : 'false' ?>;
</script>
