<!-- Content -->
<div id="content">

    <!-- Content wrapper -->
    <div class="wrapper">

        <!-- Breadcrumbs line -->
        <div class="crumbs">
            <?php echo $this->render('/helpers/breadcrumb.phtml') ?>
        </div>
        <!-- /breadcrumbs line -->

        <!-- Page header -->
        <div class="page-header">
            <div class="page-title">
                <h5>Formulário do vínculo</h5>
                <span>Verifique os campos e preencha com os dados</span>
            </div>
        </div>
        <!-- /page header -->

        <?php if (isset($this->crudMessage)) : ?>
            <div class="alert alert-success">
                <button data-dismiss="alert" class="close" type="button">×</button>
                <strong>Operação realizada com sucesso!</strong>
                <span><br /><?php echo $this->crudMessage ?></span>
            </div>
        <?php endif; ?>

        <form id="form" name="form" action="" method="post" class="form-horizontal" enctype="multipart/form-data">
            <input type="hidden" value="<?php echo (isset($this->post_var)) ? $this->post_var["id"] : ''; ?>" name="id" id="id" />

            <fieldset>
                <!-- General form elements -->
                <div class="widget row-fluid">
                    <div class="navbar">
                        <div class="navbar-inner">
                            <h6>Digite as informações do formulário</h6>
                        </div>
                    </div>

                    <div class="well">
                        <?php if (isset($this->erros)) : ?>
                            <div class="alert alert-error margin">
                                <button data-dismiss="alert" class="close" type="button">×</button>
                                <strong>Há erros no formulário!</strong>
                                <?php foreach ($this->erros as $k => $v) : ?>
                                    <span><br />- <?php echo $v ?></span>
                                <?php endforeach; ?>
                            </div>
                        <?php endif; ?>


                        <div class="control-group">
                            <label class="control-label">Escolas <span class="required">*</span></label>
                            <div class="controls">
                                <select name="idescola" data-placeholder="Escolas" class="select" onchange="setDados(this, 0)">
                                    <option value="">Selecione...</option>
                                    <?php foreach (Escolas::getEscolasHelper(array('status' => 'Ativo', 'idsecretaria' => Usuarios::getSecretariaAtiva(Usuarios::getUsuario('id'), 'id'))) as $k => $v) : ?>
                                        <option value="<?php echo $v['id'] ?>"><?php echo $v['escola'] ?></option>
                                    <?php endforeach; ?>
                                </select>

                            </div>
                        </div>


                        <div class="control-group">
                            <label class="control-label">Sala <span class="required">*</span></label>
                            <div class="controls">
                                <select name="idsala" data-placeholder="Sala" class="select">
                                    <option value="">Selecione...</option>
                                    <?php /* foreach (Escolassalas::getEscolassalasHelper(array('status'=>'Ativo')) as $k=>$v) : ?>
                                      <option value="<?php echo $v['id'] ?>"><?php echo $v['sala'] ?></option>
                                      <?php endforeach; */ ?>
                                </select>

                            </div>
                        </div>


                        <div class="control-group">
                            <label class="control-label">Tipo de Ensino e Série <span class="required">*</span></label>
                            <div class="controls">
                                <select name="idserie" id="idserie" data-placeholder="Série" class="select"
                                        onchange="javascript:$('input[name=idtipoensino]').val($.trim($('#idserie').children('option:selected').text()).split('.')[0]);">
                                    <option value="">Selecione...</option>
                                    <?php foreach (Escolasseries::getEscolasseriesHelper(array('status' => 'Ativo')) as $k => $v) : ?>
                                        <option value="<?php echo $v['id'] ?>"><?php echo $v['serie'] ?></option>
                                    <?php endforeach; ?>
                                </select>
                                <input type="hidden" name="idtipoensino" value="<?php echo (isset($this->post_var['idtipoensino'])) ? $this->post_var['idtipoensino'] : '' ?>" />

                            </div>
                        </div>


                        <div class="control-group">
                            <label class="control-label">Turma <span class="required">*</span></label>
                            <div class="controls">
                                <select name="idturma" data-placeholder="Turma" class="select">
                                    <option value="">Selecione...</option>
                                    <?php foreach (Escolasturmas::getEscolasturmasHelper(array('status' => 'Ativo')) as $k => $v) : ?>
                                        <option value="<?php // echo $v['id']      ?>"><?php echo $v['turma'] ?></option>
                                    <?php endforeach; ?>
                                </select>
                            </div>
                        </div>


                        <div class="control-group">
                            <label class="control-label">Período <span class="required">*</span></label>
                            <div class="controls">
                                <select name="idperiodo" data-placeholder="Período" class="select">
                                    <option value="">Selecione...</option>
                                    <?php /* foreach (Escolasperiodos::getEscolasperiodosHelper(array('status'=>'Ativo')) as $k=>$v) : ?>
                                      <option value="<?php echo $v['id'] ?>"><?php echo $v['periodo'] ?></option>
                                      <?php endforeach; */ ?>
                                </select>

                            </div>
                        </div>
                        <?php /* ?>
                          <div class="control-group">
                          <label class="control-label">Professor <span class="required">*</span></label>
                          <div class="controls">
                          <select name="idprofessor" data-placeholder="Professor" class="select" onchange="setMaterias(this, 0)">
                          <option value="">Selecione...</option>

                          </select>

                          </div>
                          </div>

                          <div class="control-group">
                          <label class="control-label">Matérias </label>
                          <div class="controls">
                          <div id="idmateria"></div>
                          </div>
                          </div>

                          <div class="control-group">
                          <label class="control-label">Tipos <span class="required">*</span></label>
                          <div class="controls">
                          <select name="idtipoensino" data-placeholder="Tipos" class="select">
                          <option value="">Selecione...</option>
                          <?php foreach (Gdae_Identificadoresescolas::getIdentificadoresHelper(array('status' => 'Ativo')) as $k => $v) : ?>
                          <option value="<?php echo $v['id'] ?>"><?php echo $v['codigo'], ' - ', $v['descricoes'] ?></option>
                          <?php endforeach; ?>
                          </select>

                          </div>
                          </div>


                          <?php */ ?>
                        <div class="control-group">
                            <label class="control-label">Ínicio das aulas <span class="required">*</span></label>
                            <div class="controls"><input placeholder="Ínicio das aulas" name="inicioaulas" value="<?php echo (isset($this->post_var['inicioaulas'])) ? Mn_Util::formPostVarData($this->post_var['inicioaulas']) : '' ?>" type="text"  class="span3" /></div>
                        </div>


                        <div class="control-group">
                            <label class="control-label">Término das aulas <span class="required">*</span></label>
                            <div class="controls"><input placeholder="Término das aulas" name="terminoaulas" value="<?php echo (isset($this->post_var['terminoaulas'])) ? Mn_Util::formPostVarData($this->post_var['terminoaulas']) : '' ?>" type="text"  class="span3" /></div>
                        </div>

                        <div class="control-group">
                            <label class="control-label">Turno de funcionamento <span class="required">*</span></label>
                            <div class="controls">
                                <select name="turno" data-placeholder="Turno de funcionamento" class="select">
                                    <option value="">Selecione...</option>
                                    <option value="Manhã">Manhã</option><option value="Intermediário">Intermediário</option><option value="Tarde">Tarde</option><option value="Verpertino">Verpertino</option><option value="Noite">Noite</option><option value="Integral">Integral</option>
                                </select>

                            </div>
                        </div>

                        <div class="control-group">
                            <label class="control-label">Ano <span class="required">*</span></label>
                            <div class="controls"><input  placeholder="Ano" name="ano" value="<?php echo (isset($this->post_var['ano'])) ? $this->post_var['ano'] : '' ?>" type="text"  class="span3" /></div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">Classe <span class="required">*</span></label>
                            <div class="controls">
                                <input  placeholder="Classe" name="classeV" readonly value="<?php echo (isset($this->post_var['classe'])) ? Fjmx_Util::formataMilhares($this->post_var['classe']) : '' ?>" type="text"  class="span3" />
                                <input  name="classe" value="<?php echo (isset($this->post_var['classe'])) ? $this->post_var['classe'] : '' ?>" type="hidden" />
                            </div>
                        </div>

                        <div class="control-group">
                            <label class="control-label">Tipo de Classe <span class="required">*</span></label>
                            <div class="controls">
                                <select name="idtipodeclasse" data-placeholder="Tipo de Classe" class="select">
                                    <option value="">Selecione...</option>
                                    <?php foreach (SEDTiposdeClasses::getSEDTiposdeClassesHelper(array('status' => 'Ativo')) as $k => $v) : ?>
                                        <option value="<?php echo $v['id'] ?>"><?php echo $v['tipo'], ' - ', $v['descricao'], ' "', $v['abreviacao'], '"'; ?></option>
                                    <?php endforeach; ?>
                                </select>

                            </div>
                        </div>

                        <div class="control-group">
                            <input type="hidden" id="idssedatividadescomplementares" name="idssedatividadescomplementares" />
                            <div class="itens">
                                <table class="table table-Atividades table-primary mb30" border="1">
                                    <thead>
                                        <tr>
                                            <th colspan="50">
                                                <div class="divTable">
                                                    <?php if (!$this->visualizar) : ?>
                                                        <div class="divTableBody">
                                                            <div class="divTableRow">
                                                                <div class="divTableCell" style="width: 30%;">
                                                                    <div style="align-items: baseline">
                                                                        <b>Atividades Complementares: </b>
                                                                        <span id="subtotQtd" style="font-weight: bold">0</span>
                                                                    </div>
                                                                </div>
                                                                <div class="divTableCell" style="width: 10%;">
                                                                    &nbsp;
                                                                </div>
                                                            </div>
                                                            <div class="divTableRow">
                                                                <div class="divTableCell">
                                                                    <select data-placeholder="Atividade Complementar" id="ing" class="select span3" onchange="setBtnAddAtividade(this)"  >
                                                                        <option value="">Selecione...</option>
                                                                        <?php foreach (SEDAtividadesComplementares::getSEDAtividadesComplementaresHelper(array('status' => 'Ativo')) as $k => $v) : ?>
                                                                            <option value="<?php echo $v['id'] ?>"><?php echo $v['codigo'], ' - ', $v['descricao'] ?></option>
                                                                        <?php endforeach; ?>
                                                                    </select>
                                                                    <button id="BtnAddAtividade" type="button" onclick="AtividadeAddTr()" class="btn btn-inverse" disabled="true" style="font-size: 25;">Adicionar</button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    <?php endif; ?>
                                                </div>
                                            </th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        <?php $idref = explode(',', $this->post_var['idssedatividadescomplementares']); ?>
                                    <script type="text/javascript">

                                        $(document).ready(function() {

<?php if (isset($this->post_var['idssedatividadescomplementares'])) : ?>

    <?php foreach ($idref as $k => $r) : ?>

        <?php foreach (SEDAtividadesComplementares::getSEDAtividadesComplementaresHelper(array('id' => $r)) as $c => $row) : ?>

            <?php
            $row['idv'] = $row['id'];
            unset($row['id']);
            unset($row['status']);
            unset($row['datacriacao']);
            unset($row['excluido']);
            unset($row['logdata']);
            unset($row['logusuario']);
            $row['var_db'] = true;
            ?>

                                                        Atividades = '<?php echo str_replace("'", "\'", json_encode($row)) ?>';

                                                        AtividadeAddTr(Atividades);
        <?php endforeach; ?>

    <?php endforeach; ?>

<?php endif; ?>
                                        });
                                    </script>
                                    </tbody>

                                    <tfoot>
                                        <tr id="modelo-atividade" style="display:none;">
                                            <td align="left" style="text-align:left !Important;">
                                                <!--<input name="_id" type="text"/>-->
                                                <input name="idv[]" type="hidden"/>
                                                <input name="codigo[]" type="hidden"/>
                                                <input name="tipo[]" type="hidden"/>
                                                <a <?php
                                                if (!$this->visualizar) {
                                                    echo 'onclick="AtividadesExcluirFromTable(this)"';
                                                }
                                                ?> ><span class="icon-remove">&nbsp;&nbsp;&nbsp;</span></a>
                                                <span name="codigo[]"></span> &nbsp;
                                                <span name="descricao[]"></span>
                                            </td>
                                        </tr>
                                    </tfoot>

                                </table>
                            </div>
                        </div>

                        <?php /* ?>

                          <div class="control-group">
                          <label class="control-label">Integração </label>
                          <div class="controls">
                          <select name="integracao" data-placeholder="Integração" class="select">
                          <option value="">Selecione...</option>
                          <option value="Sim">Sim</option><option value="Não">Não</option>
                          </select>

                          </div>
                          </div>
                          <?php */ ?>

                        <div class="control-group">
                            <label class="control-label">Status <span class="required">*</span></label>
                            <div class="controls">
                                <select name="status1" data-placeholder="Status" class="select">
                                    <option value="">Selecione...</option>
                                    <option value="Ativo">Ativo</option><option value="Bloqueado">Bloqueado</option>
                                </select>

                            </div>
                        </div>



                    </div>

                    <div class="form-actions align-right">
                        <?php if ((isset($this->visualizar)) && ($this->visualizar)) : ?>
                            <button onclick="window.history.back()" class="btn btn-danger cancelar" type="button">Voltar</button>
                        <?php else : ?>
                            <button class="btn btn-primary enviar" type="submit">Salvar</button>
                            <button onclick="window.history.back()" class="btn btn-danger cancelar" type="button">Cancelar</button>
                        <?php endif; ?>
                    </div>
                </div>
                <!-- /general form elements -->

            </fieldset>
            <?php
            $usuario = Usuarios::getUsuarioByIdHelper($this->post_var['logusuario']);

            ///* Apenas o administrador visualiza os dados de consulta.
            if (((isset($this->visualizar)) && ($this->visualizar)) && (($usuario['perfil'] === 'Master') && ($usuario['master'] === 'sim'))) :
                echo '<pre>';
                print_r($this->soap);
            endif;
            ?>
        </form>
        <!-- /basic inputs -->

    </div>
    <!-- /content wrapper -->

</div>
<!-- content -->

<script type="text/javascript" src="<?php echo $this->baseUrl('/public/scripts/admin/escolasvinculos_form.js') ?>"></script>
<script type="text/javascript">
                            var form_values = {};

<?php if (isset($this->post_var)) : ?>
                                form_values.idsecretaria = '<?php echo (isset($this->post_var['idsecretaria'])) ? $this->post_var['idsecretaria'] : '' ?>';

                                form_values.idescola = '<?php echo (isset($this->post_var['idescola'])) ? $this->post_var['idescola'] : '' ?>';

                                form_values.idsala = '<?php echo (isset($this->post_var['idsala'])) ? $this->post_var['idsala'] : '' ?>';

                                form_values.idserie = '<?php echo (isset($this->post_var['idserie'])) ? $this->post_var['idserie'] : '' ?>';

                                form_values.idturma = '<?php echo (isset($this->post_var['idturma'])) ? $this->post_var['idturma'] : '' ?>';

                                form_values.idperiodo = '<?php echo (isset($this->post_var['idperiodo'])) ? $this->post_var['idperiodo'] : '' ?>';

                                form_values.idprofessor = '<?php echo (isset($this->post_var['idprofessor'])) ? $this->post_var['idprofessor'] : '' ?>';

                                form_values.idtipoensino = '<?php echo (isset($this->post_var['idtipoensino'])) ? $this->post_var['idtipoensino'] : '' ?>';

                                form_values.turno = '<?php echo (isset($this->post_var['turno'])) ? $this->post_var['turno'] : '' ?>';

                                form_values.integracao = '<?php echo (isset($this->post_var['integracao'])) ? $this->post_var['integracao'] : '' ?>';

                                form_values.status1 = '<?php echo (isset($this->post_var['status1'])) ? $this->post_var['status1'] : $this->post_var['status'] ?>';

                                form_values.idtipodeclasse = '<?php echo (isset($this->post_var['idtipodeclasse'])) ? $this->post_var['idtipodeclasse'] : '' ?>';

                                form_values.idssedatividadescomplementares = '<?php echo (isset($this->post_var["idssedatividadescomplementares"])) ? $this->post_var["idssedatividadescomplementares"] : '' ?>';

<?php endif; ?>
<?php if ((isset($this->post_var['idsmaterias'])) && ($this->post_var['idsmaterias'] != "")) : ?>
                                form_values.idsmaterias = [<?php echo $this->post_var['idsmaterias'] ?>];
<?php endif; ?>
                            visualizar = <?php echo ((isset($this->visualizar)) && ($this->visualizar)) ? 'true' : 'false' ?>;


</script>
