<style>
.ui-dialog{position: fixed !important; max-height: 350px; overflow-y: auto; }
.ui-draggable .ui-dialog-titlebar{ background: #3e95ce; text-align: center; }
.ui-dialog .ui-dialog-titlebar-close{padding:0px !important; background:none !important; border: 1px solid #9cceef;}
.ui-state-hover{ background:#09f; }
.ui-dialog::-webkit-scrollbar {
  width: 7px;
  height: 10px;
  -webkit-border-radius: 16px;
}

.ui-dialog::-webkit-scrollbar-track-piece {
  background-color: #cacaca;
  -webkit-border-radius: 3px;
}

.ui-dialog::-webkit-scrollbar-thumb:vertical {
  height: 5px;
  background-color: #666;
  -webkit-border-radius: 3px;
}

.ui-dialog::-webkit-scrollbar-thumb:horizontal {
  width: 5px;
  background-color: #666;
  -webkit-border-radius: 3px;
}
#classe-modal{ 
	overflow: unset; 
	width: 100%;	
	margin-top: 10px;
}

#classe-modal .unique-date{ 
	width: 100%;
    border: 2px solid #ccc;
    border-radius: 3px;
	margin-bottom: 15px;
}
#classe-modal .unique-date .ud-head{
	width:100%;
	background:#757575;
	color:#fff;
	font-weight:bold;
	text-align: center;
	padding:5px 0px;
	font-size:1.2em;
}
#classe-modal .unique-date .ud-info{
	width: 100%;  
    margin: 0px 0px;
    border-bottom: 0.5px solid #ccc;
}
#classe-modal .unique-date .ud-head .ud-subtitle,
#classe-modal .unique-date .ud-info .ud-subtitle {	
    font-weight: bold;  
    border-right: 1px solid #ccc;
    border-bottom: 0.5px solid #ccc;
    text-align: center;
    padding: 5px 0px;
}
.ud-loader{
	width: 100%;
   text-align: center;
}
#classe-modal .alerta{
    width: 98%;
    background-image: linear-gradient(to bottom, #ff7373, #e06666, #fb7d7d);
    color: #fff;
    padding: 1%;
    border-radius: 7px;
    font-family: Arial, helvetica, sans-serif;
    font-size: 1.2em;
}
</style>
<div id="classe-modal" style="display:none">
    <div class="ud-loader"><img src="/public/admin/img/elements/loaders/6.gif" alt="Aguarde..." /></div>
</div>
<!-- Content -->
<div id="content">

    <!-- Content wrapper -->
    <div class="wrapper">

        <!-- Breadcrumbs line -->
        <div class="crumbs">
            <?php echo $this->render('/helpers/breadcrumb.phtml') ?>
        </div>
        <!-- /breadcrumbs line -->

        <!-- Page header -->
        <div class="page-header">
            <div class="page-title">
                <h5>Vínculos no sistema</h5>
                <span>Visualize os vínculos do sistema</span>
            </div>

        </div>
        <!-- /page header -->

        <?php if (isset($this->crudMessage)) : ?>
            <div class="alert alert-success">
                <button data-dismiss="alert" class="close" type="button">×</button>
                <strong>Operação realizada com sucesso!</strong>
                <span><br /><?php echo $this->crudMessage ?></span>
            </div>
        <?php endif; ?>
        <!-- Table with footer -->
        <div class="widget">
            <form action="#" class="form-horizontal" method="post">
                <input type="hidden" value="<?php echo (isset($this->post_var['sorting'])) ? $this->post_var['sorting'] : '' ?>" name="sorting" />
                <div class="table-overflow">
                    <table class="table" >
                        <thead>
                            <tr>
                                <th colspan="7">
                                    <div class="navbar-inner">
                                        <h6>Visualizando registros</h6>
                                        <?php if (Mn_Util::isAccess($this->getController(), 'adicionar')) : ?>
                                            <a style="float:right; margin: 5px;" href="<?php echo $this->baseUrl() ?>/<?php echo 'admin' ?>/<?php echo $this->getController() ?>/adicionar" class="btn btn-primary"><span class="icon-plus"></span>&nbsp;Adicionar vínculo</a>
                                        <?php endif; ?>
                                    </div>
                                </th>
                            </tr>
                            <tr>
                                <th>#</th>
                                <th class="s-idescola sorting">Escolas</th>
                                <th class="s-serie sorting">Série / Turma</th>
                                <th class="s-classe sorting">Classe</th>
                                <th class="s-status sorting">Status</th>
                                <th class="s-soapretorno sorting">Transmissão SED</th>
                                <th>Ações</th>
                            </tr>
                            <tr>
                                <th></th>
                                <th>
                                    <div>
                                        <select name="idescola" placeholder="Todos" class="select span10" onclick="setSeries(this, 0)">
                                            <option value="">Todos</option>
                                            <?php foreach (Escolas::getEscolasHelper(array('status' => 'Ativo')) as $k => $v) : ?>
                                                <option value="<?php echo $v['id'] ?>"><?php echo $v['escola'] ?></option>
                                            <?php endforeach; ?>
                                        </select>
                                    </div>
                                </th>
                                <th>
                                    <div>
                                        <select name="serie" placeholder="Todos" class="select" onclick="setTurmas('select[name=idescola]', 0)">
                                        </select>
                                    </div>
                                    <div>
                                        <select class="select" name="idturma" id="allseries" value="<?php echo (isset($this->post_var['idturma'])) ? $this->post_var['idturma'] : '' ?>">
                                        </select>
                                    </div>
                                </th>

                                <th>
                                    <div>
                                        <input name="classe1" value="<?php echo (isset($this->post_var['classe1'])) ? $this->post_var['classe1'] : '' ?>" type="text" placeholder="Número da Classe" class="span4" type="text">
                                    </div>
                                </th>

                                <th>
                                    <div>
                                        <select name="status1" placeholder="Todos" class="select">
                                            <option value="">Todos</option>
                                            <option value="Ativo">Ativo</option><option value="Bloqueado">Bloqueado</option>
                                        </select>
                                    </div>
                                </th>

                                <th>
                                    <div>
                                        <select name="soapretorno" placeholder="Todos" class="select">
                                            <option value="">Todos</option>
                                            <option value="INFO">Informação</option>
                                            <option value="ERROR">Atenção</option>
                                            <option value="OK">Sucesso</option>
                                        </select>
                                    </div>
                                </th>

                                <th><button class="btn btn-mini btn-primary" type="submit">Pesquisar</button></th>
                            </tr>
                        </thead>
                        <tbody>
                            <?php if (sizeof($this->rows) == 0) : ?>
                                <tr>
                                    <td colspan="6">Nenhum registro foi encontrado!</td>
                                </tr>

                            <?php else : ?>
                                <?php foreach ($this->rows as $row) : ?>
                                    <tr>
                                        <td>
                                            <?php echo $row['id'] ?>
                                        </td>

                                        <td>
                                            <?php
                                            $___rows = Escolas::getEscolasHelper(array('id' => $row['idescola']));
                                            $___row = (sizeof($___rows) > 0) ? $___rows[0] : false;

                                            echo ($___row) ? $this->formatTextoBranco($___row['escola']) : '--';
                                            ?>
                                        </td>

                                        <td>
                                            <?php
                                                if ($row['serie'] == 0) {
                                                    $comp = 'AEE Educação Especial - ';
                                                    echo $comp;
                                                } else {
                                                    echo $this->formatTextoBranco($row['serie']) . '° série - ';
                                                }
                                            ?>

                                            <?php
                                                $___rows = Escolasturmas::getEscolasturmasHelper(array('id' => $row['idturma']));
                                                $___row = (sizeof($___rows) > 0) ? $___rows[0] : false;

                                                echo ($___row) ? $this->formatTextoBranco($___row['turma']) : '--';
                                            ?>
                                        </td>

                                        <td>
                                            <a onclick="javascript:consultaClasseSed('<?php echo Fjmx_Util::formataMilhares($row['classe'])?>', this);" href="javascript:;"><?php echo Fjmx_Util::formataMilhares($row['classe']); ?></a>
                                        </td>

                                        <td>
                                            <?php if (Mn_Util::isAccess($this->getController(), 'editar')) : ?>
                                                <a onclick="javascript:statusChange(<?php echo $row['id'] ?>, this);" href="javascript:;"><?php echo $row['status'] ?></a>
                                            <?php else : ?>
                                                <?php echo $row['status'] ?>
                                            <?php endif; ?>
                                        </td>

                                        <td>
                                            <?php if (isset($row['soapstatus']) && $row['soapstatus'] != '') : ?>
                                                <a style="cursor:pointer"
                                                <?php
                                                $soapretorno = '';
                                                if (isset($row['soapretorno']) && ($row['soapretorno'] == 'OK')) {
                                                    echo 'class="btn btn-success"';
                                                    $soapretorno = '&nbsp;Sucesso&nbsp;';
                                                } else if (isset($row['soapretorno']) && ($row['soapretorno'] == 'ERROR')) {
                                                    echo 'class="btn btn-danger"';
                                                    $soapretorno = '&nbsp;Atenção&nbsp;';
                                                } else if (isset($row['soapretorno']) && ($row['soapretorno'] == 'INFO')) {
                                                    echo 'class="btn btn-info"';
                                                    $soapretorno = 'Informação';
                                                } else {
                                                    echo 'class="btn btn-info"';
                                                    $soapretorno = 'Verifique';
                                                }
                                                ?>
                                                   onclick="javascript:statusSED(<?php echo $row['id']; ?>);">
                                                       <?php echo $soapretorno; ?>
                                                </a>
                                                <textarea style="display:none;" id="soapstatus<?php echo $row["id"]; ?>"> <?php echo $row["soapstatus"]; ?> </textarea>
                                            <?php endif; ?>
                                        </td>

                                        <td>
                                            <ul class="table-controls">
                                                <li><a title="" class="btn tip" href="<?php echo $this->baseUrl() ?>/<?php echo 'admin' ?>/<?php echo $this->getController() ?>/visualizar/id/<?php echo $row['id'] ?>" data-original-title="Visualizar"><i class="icon-eye-open"></i></a> </li>
                                                <?php if (Mn_Util::isAccess($this->getController(), 'editar')) : ?>
                                                    <li><a title="" class="btn tip" href="<?php echo $this->baseUrl() ?>/<?php echo 'admin' ?>/<?php echo $this->getController() ?>/editar/id/<?php echo $row['id'] ?>" data-original-title="Editar"><i class="icon-pencil"></i></a> </li>
                                                <?php endif; ?>
                                                <?php if (Mn_Util::isAccess($this->getController(), 'excluir')) : ?>
                                                    <li><a title="" class="btn tip" href="javascript:confirmDelete('<?php echo $row['id']; ?>','registro');" data-original-title="Excluir"><i class="icon-remove"></i></a> </li>
                                                        <?php endif; ?>
                                            </ul>
                                        </td>
                                    </tr>
                                <?php endforeach; ?>
                            <?php endif; ?>

                        </tbody>                        
                        <tfoot>
                            <tr>
                                <td colspan="7">
                                    <?php echo $this->render('/helpers/paginator.phtml') ?>
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </form>
        </div>
        <!-- /table with footer -->



    </div>
    <!-- /content wrapper -->

</div>
<!-- content -->


<script type="text/javascript" src="<?php echo $this->baseUrl('/public/scripts/admin/escolasvinculos_index.js') ?>"></script>
<script type="text/javascript">

                                                       var form_values = {};
<?php if (isset($this->post_var)) : ?>
                                                           form_values.idsecretaria = '<?php echo (isset($this->post_var['idsecretaria'])) ? $this->post_var['idsecretaria'] : '' ?>';

                                                           form_values.idescola = '<?php echo (isset($this->post_var['idescola'])) ? $this->post_var['idescola'] : '' ?>';

                                                           form_values.idsala = '<?php echo (isset($this->post_var['idsala'])) ? $this->post_var['idsala'] : '' ?>';

                                                           form_values.serie = '<?php echo (isset($this->post_var['serie'])) ? $this->post_var['serie'] : '' ?>';

                                                           form_values.idturma = '<?php echo (isset($this->post_var['idturma'])) ? $this->post_var['idturma'] : '' ?>';

                                                           form_values.idperiodo = '<?php echo (isset($this->post_var['idperiodo'])) ? $this->post_var['idperiodo'] : '' ?>';

                                                           form_values.idprofessor = '<?php echo (isset($this->post_var['idprofessor'])) ? $this->post_var['idprofessor'] : '' ?>';

                                                           form_values.idtipoensino = '<?php echo (isset($this->post_var['idtipoensino'])) ? $this->post_var['idtipoensino'] : '' ?>';

                                                           form_values.turno = '<?php echo (isset($this->post_var['turno'])) ? $this->post_var['turno'] : '' ?>';

                                                           form_values.integracao = '<?php echo (isset($this->post_var['integracao'])) ? $this->post_var['integracao'] : '' ?>';

                                                           form_values.status1 = '<?php echo (isset($this->post_var['status1'])) ? $this->post_var['status1'] : $this->post_var['status'] ?>';
                                                           
                                                           form_values.classe1 = '<?php echo (isset($this->post_var['classe1'])) ? $this->post_var['classe1'] : $this->post_var['classe'] ?>';

                                                           form_values.soapretorno = '<?php echo (isset($this->post_var['soapretorno'])) ? $this->post_var['soapretorno'] : $this->post_var['soapretorno'] ?>';

<?php endif; ?>

                                                       var sorting = ["idsecretaria", "idescola", "idsala", "serie", "idturma", "idperiodo", "idprofessor", "idtipoensino", "inicioaulas", "terminoaulas", "turno", "ano", "integracao", "status", "soapretorno"];

</script>


