<?php if (sizeof($this->rows)==0) : ?>
Nenhuma matéria foi encontrada para esse professor
<?php else : ?>

<div id="content_alunos">	
	        				<div>
	        					<div id="idsalunos">
									<div class="table-responsive">				
										<table class="table table-primary mb30">
											<thead>
												<tr>
													<th width="100%">Materias</th>
												</tr>
											</thead>
											
											<tbody id="content_list_alunos">
												<?php foreach ($this->rows as $row) : ?>
													
												<tr>
													<td width="100%">
														<input type="checkbox" value="<?php echo $row['m1id']?>" name="idsmaterias[]"><?php echo $row['materia'] ?> 												
													</td>       						
												</tr>
												<?php endforeach;?>
											</tbody>
											
										</table>
									</div>
	        					</div>
        					</div>
        					
        				</div>

<?php endif; ?>
