<option value="">Todos</option>
<?php
$idEscola = (isset($_POST['idescola'])) ? $_POST['idescola'] : '';

$_series = Escolasvinculos::getSeriesByEscolaIdHelper($idEscola);

if ($idEscola):
    foreach ($_series as $serie):
        ?>
        <option value="<?php echo (isset($serie['serie']) && $serie['serie'] != 0) ? $serie['serie'] : '10' . $serie['serie'] ?>" <?php echo (isset($this->post_var['serie']) && $this->post_var['serie'] == $serie['id']) ? 'selected' : '' ?>>
            <?php echo (isset($serie['serie']) && ($serie['serie'] > 0)) ? $serie['serie'] . '° Série' : 'AEE - Educação Especial' ?>
        </option>
    <?php
    endforeach;
else:
    foreach ($_series as $serie):
        ?>
        <option value="<?php echo (isset($serie['serie']) && $serie['serie'] != 0) ? $serie['serie'] : '10' . $serie['serie'] ?>" <?php echo (isset($this->post_var['serie']) && $this->post_var['serie'] == $serie['id']) ? 'selected' : '' ?>>
        <?php echo (isset($serie['serie']) && ($serie['serie'] > 0)) ? $serie['serie'] . '° Série' : 'AEE - Educação Especial' ?>
        </option>
    <?php
    endforeach;
	endif;