<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <style type="text/css">

            .tabela {
                width:100%;
                margin-bottom:18px;
                padding-top: 5px;
            }

            .tabela th,.tabela td{
                padding:10px;
                line-height:18px;
                text-align:left;
                vertical-align:top;
                border-top:1px solid #dddddd;
                font-family: Helvetica, Arial, "Times New Roman", Times, sans-serif;
                font-size: 30px;
            }

            .tabela th{
                font-weight:bold;
            }

            .tabela thead th{
                vertical-align:bottom;
            }

            .tabela caption+thead tr:first-child th,.table caption+thead tr:first-child td,.table colgroup+thead tr:first-child th,.table colgroup+thead tr:first-child td,.table thead:first-child tr:first-child th,.table thead:first-child tr:first-child td{
                border-top:0;
            }

            .tabela tbody+tbody{
                border-top:2px solid #dddddd;
            }

            .tabela1{
                background: #FeF;
                margin-bottom: 18px;
                border: 1px solid #dddddd;
            }
            .tabela1 th,.tabela1 td{
                line-height:18px;
                text-align:left;
                vertical-align: central;
                border: 1px solid #dddddd;
                font-family: Helvetica, Arial, "Times New Roman", Times, sans-serif;
                font-size: 22px;
            }
        </style>   
    </head>
    <body>
        <p></p>
        <p></p> 
        <p></p>       
        <?php
//        echo '<pre>';
//        print_r($this->processo);
//        print_r($this->tramitacoes);
//        print_r($this->arquivos);
//        echo '</pre>';
        ?>
        <?php foreach ($this->processo as $index): ?>
            <table class="tabela">
                <tbody>
                    <tr>
                        <td>
                            <p><b>Tipo Processo:</b> </p>
                            <p><?php echo Protocolostipos::getProtocolostipoByIdHelper($index['idtipoprotocolo'])['tipo']; ?>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p><b>Tipo:</b> </p>
                            <p><?php echo $index['tipo']; ?></p>
                        </td>
                    </tr>
                    <?php if (!$index['tipo'] == 'Interno'): ?>
                        <!--Externo -->
                        <tr>
                            <td>
                                <p><b>Nome do solicitante:</b> </p>
                                <p><?php echo $index['nomesolicitante']; ?></p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p><b>Telefone 1:</b> </p>
                                <p><?php echo $index['telefone1']; ?></p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p><b>Telefone 2:</b> </p>
                                <p><?php echo $index['telefone2']; ?></p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p><b>Contato:</b> </p>
                                <p><?php echo $index['contato']; ?></p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p><b>E-mail:</b> </p>
                                <p><?php echo $index['email']; ?></p>
                            </td>
                        </tr>
                        <!--Fim Externo-->
                    <?php endif; ?>
                    <tr>
                        <td>
                            <p><b>Título:</b> </p>
                            <p><?php echo $index['titulo']; ?></p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p><b>Solicitação:</b> </p>
                            <p><?php echo $index['solicitacao']; ?></p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p><b>Observações:</b> </p>
                            <p><?php echo $index['observacoes']; ?></p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p><b>Posição:</b> </p>
                            <p><?php echo $index['posicao']; ?></p>
                        </td>
                    </tr>                    
                </tbody>
            </table>
        <?php endforeach; ?>
        <?php if ($this->tramitacoes) : ?>
            <h5>Tramitações</h5>
            <table class="tabela1" style="width: 100%;">
                <thead>
                    <tr>
                        <th>Origem</th>
                        <th>Destino</th>
                        <th>Status</th>
                        <th>Data</th>
                    </tr>
                </thead>
                <tbody>
                    <?php  foreach ($this->tramitacoes as $tramite): ?>                    
                      <tr>
                      <td>
                      <?php echo isset($tramite['idperfilorigem'])?UsuariosPerfis::getPerfilByIdHelper($tramite['idperfilorigem'])['perfil']:''; ?><br>
                      <?php echo isset($tramite['idescolaorigem'])?Escolas::getEscolaByIdHelper($tramite['idescolaorigem'])['escola']:''; ?><br>
                      <?php echo isset($tramite['idusuarioorigem'])?Usuarios::getUsuarioByIdHelper($tramite['idusuarioorigem'])['nome']:''; ?>
                      </td>
                      <td>
                      <?php echo isset($tramite['idperfildestino'])?UsuariosPerfis::getPerfilByIdHelper($tramite['idperfildestino'])['perfil']:''; ?><br>
                      <?php echo isset($tramite['idescoladestino'])?Escolas::getEscolaByIdHelper($tramite['idescoladestino'])['escola']:''; ?><br>
                      <?php echo isset($tramite['idusuariodestino'])?Usuarios::getUsuarioByIdHelper($tramite['idusuariodestino'])['nome']:''; ?>
                      </td>
                      <td><?php echo $tramite['status']; ?></td>
                      <td><?php echo $tramite['datacriacao']; ?></td>
                      </tr>
                      <?php endforeach; ?>         
                </tbody>
            </table>
        <?php endif; ?>
    </body>
</html>