		<!-- Content -->
		<div id="content">

		    <!-- Content wrapper -->
		    <div class="wrapper">

			    <!-- Breadcrumbs line -->
			    <div class="crumbs">
			    	<?php echo $this->render('/helpers/breadcrumb.phtml') ?>
			    </div>
			    <!-- /breadcrumbs line -->

			    <!-- Page header -->
			    <div class="page-header">
			    	<div class="page-title">
				    	<h5>Formulário de Mapa de acompanhamento de classe e sondagem</h5>
				    	<span>Verifique os campos e preencha com os dados</span>
			    	</div>
			    </div>
			    <!-- /page header -->

			    <?php if (isset($this->crudMessage)) : ?>
					<div class="alert alert-success">
	                	<button data-dismiss="alert" class="close" type="button">×</button>
	                    <strong>Operação realizada com sucesso!</strong>
		    			<span><br /><?php echo $this->crudMessage ?></span>
	                </div>			    
			    <?php endif; ?>

				<form id="form" name="form" action="" method="post" class="form-horizontal" enctype="multipart/form-data"> 
					<input type="hidden" value="<?php echo (isset($this->post_var)) ? $this->post_var["id"] : ''; ?>" name="id" id="id" />
					
					<fieldset>
						<!-- General form elements -->
						<div class="widget row-fluid">
						    <div class="navbar">
						        <div class="navbar-inner">
						            <h6>Digite as informações do formulário</h6>
						        </div>
						    </div>

						    <div class="well">
								<?php if (isset($this->erros)) : ?>
									<div class="alert alert-error margin">
				                        <button data-dismiss="alert" class="close" type="button">×</button>
				                        <strong>Há erros no formulário!</strong>
					    				<?php foreach ($this->erros as $k=>$v) : ?>
					    					<span><br />- <?php echo $v ?></span>
					    				<?php endforeach;?>			                        
				                    </div>
			                    <?php endif; ?>						    
						    

					



				<div class="control-group">
					<label class="control-label">Nome do usuário </label>
					<div class="controls visualizar">
						<input type="hidden" name="idusuariologado" value ="<?php echo (isset($this->post_var['idusuariologado'])) ? $this->post_var['idusuariologado'] : Escolasusuarios::getUsuario('id') ?>">
						<?php echo Escolasusuarios::getUsuario('nomerazao') ?><?php echo Usuarios::getUsuario('sobrenomefantasia') ?><br />
						<?php echo 'RGF: '.Escolasusuarios::getUsuario('rgf') ?>				
					</div>
				</div>


				<div class="control-group">
					<label class="control-label">Sequencial<span class="required">*</span></label>
					<div class="controls"><input placeholder="Sequencial do mapa" name="sequencial" value="<?php echo (isset($this->post_var['sequencial'])) ? $this->post_var['sequencial'] : '' ?>" type="text"  class="span3" /></div>
				</div>

					 
				<div class="control-group">
					<label class="control-label">Data de lançamento </label>
					<div class="controls"><input placeholder="Data de lançamento" name="datalancamento" value="<?php echo (isset($this->post_var['datalancamento'])) ? Mn_Util::formPostVarData($this->post_var['datalancamento']) : '' ?>" type="text"  class="span3" /></div>
				</div>

				<div class="control-group">
					<label class="control-label">Hora de lançamento </label>
					<div class="controls"><input maxlength="500" placeholder="Hora de lançamento" name="horalancamento" value="<?php echo (isset($this->post_var['horalancamento'])) ? $this->post_var['horalancamento'] : '' ?>" type="text"  class="span3" /></div>
				</div>

				<?php

					$esoclaativa = Escolasusuarios::getUsuario('id');

				?>

				<input id="escola_id" type="hidden" name="idescola" value="<?= Escolasusuarios::getEscolaAtiva($esoclaativa,'id') ?>">

				<?php /* ?>
				<div class="control-group">
					<label class="control-label">Escola <span class="required">*</span></label>
					<div class="controls">
						<select name="idescola" data-placeholder="Escola" class="select" onchange="setSeries(this, 0, 0, 0);setDiretores(this, 0);setCoordenadores(this, 0);setPeriodonotas(this,0)" >
							<option value="">Selecione...</option>
							<option value="<?php echo Escolasusuarios::getUsuario('id'); ?>"><?php echo Escolasusuarios::getUsuario('escola'); ?></option>
						</select>						
					</div>
				</div>
				<?php */ ?>


				<div class="control-group">
					<label class="control-label">Período de notas </label>
					<div class="controls">
						<select name="periodonotas" data-placeholder="Período de notas" class="select">
							<option value="">Selecione...</option>
						</select>					
					</div>
				</div>	


				<div class="control-group">
					<label class="control-label">Nome do diretor </label>
					<div class="controls">
						<select name="iddiretor" data-placeholder="Nome do diretor" class="select">
							<option value="">Selecione...</option>
						</select>						
					</div>
				</div>


				<div class="control-group">
					<label class="control-label">Nome do coordenador </label>
					<div class="controls">
						<select name="iddiretor" data-placeholder="Nome do diretor" class="select">
							<option value="">Selecione...</option>
						</select>						
					</div>
				</div>


				<div class="control-group">
					<label class="control-label">Série <span class="required">*</span></label>
					<div class="controls">
						<select  onchange="setTurmas(this, 0, 0)" name="idserie" data-placeholder="Série" class="select">
							<option value="">Selecione...</option>
						</select>					
					</div>
				</div>



				<div class="control-group">
					<label class="control-label">Turma <span class="required">*</span></label>
					<div class="controls">
						<select onchange="setAlunos(this)" name="idturma" data-placeholder="Turma" class="select">
							<option value="">Selecione...</option>
						</select>						
					</div>
				</div>


				<div class="control-group">
					<label class="control-label">Período </label>
					<div class="controls">
						<select name="idperiodo" data-placeholder="Período" class="select">
							<option value="">Selecione...</option>
						</select>						
					</div>
				</div>


				<div class="control-group">
					<label class="control-label">Status <span class="required">*</span></label>
					<div class="controls">
						<select name="status1" data-placeholder="Status" class="select">
							<option value="">Selecione...</option>
							<option value="Em Aberto">Em Aberto</option>
							<option value="Fechado">Fechado</option>
						</select>
						
					</div>
				</div>

				<div id="tablehelp" class="control-group">
					<table class="table table-primary mb30">
						<thead>
							<tr>
								<th>Nome</th>
								<th>RGF</th>
								<th>Data de Nascimento</th>
								<th>Hipótese<span class="required">*</span></th>
								<th>Leitura<span class="required">*</span></th>
								<th>Escrita<span class="required">*</span></th>
								<th>Inicial</th>
								<th>Falta</th>
								<th>% Faltas</th>
								<th>Observação</th>
							</tr>
						</thead>							
						<tbody id="content_list_alunos">
						</tbody>							
					</table>
				</div>


				<div class="control-group">
					<label class="control-label">Quantidade de alunos: <span id="append-alunos"></span> </label>
				</div>
			</div>					    


				<div class="control-group">
					<label class="control-label">Total alunos </label>
					<div class="controls">
					2				
					</div>
				</div>
			</div>

						    
						    
						    </div>
						    
			                <div class="form-actions align-right">
			                	<?php if ((isset($this->visualizar)) && ($this->visualizar)) : ?>
			                		<button onclick="window.history.back()" class="btn btn-danger cancelar" type="button">Voltar</button>
			                	<?php else : ?>
				                	<button class="btn btn-primary enviar" type="submit">Salvar</button>
				                	<button onclick="window.history.back()" class="btn btn-danger cancelar" type="button">Cancelar</button>
			                	<?php endif; ?>
			                </div>
						</div>
						<!-- /general form elements -->

					</fieldset> 

				</form>
				<!-- /basic inputs -->

		    </div>
		    <!-- /content wrapper -->

		</div>
		<!-- content -->
	</div>			
<script type="text/javascript" src="<?php echo $this->baseUrl('/public/scripts/default/mapaacompanhamentoclasses_form.js') ?>"></script>
<script type="text/javascript">
	var form_values = {};
	
	<?php if (isset($this->post_var)) :  ?>


<?php
			$_row = new Mapaescolasalunosrelacao();
			$_rows = $_row->fetchAll("idmapa=".$this->post_var['id']." AND excluido='nao'");

			$idaluno = array();
			$idescrita = array();
			$idleitura = array();
			$idhipotese = array();
			$inicial = array();

			foreach ($_rows as $k => $v) {
				$inicial[] = $v['inicial']; 
			 	$idaluno[] = $v['idaluno'];
			 	$idescrita[] = $v['idtipoescrita'];
			 	$idleitura[] = $v['idtipoleitura'];
			 	$idhipotese[] = $v['idtipohipotese'];
			} 
		?>
		form_values.inicial = '<?php echo (sizeof($inicial) != 0) ? implode(',', $inicial) : 'vazio' ?>';

		form_values.idaluno = '<?php echo (sizeof($idaluno) != 0) ? implode(',', $idaluno) : 'vazio' ?>';

		form_values.idescrita = '<?php echo (sizeof($idescrita) != 0) ? implode(',', $idescrita) : 'vazio' ?>';

		form_values.idleitura = '<?php echo (sizeof($idleitura) != 0) ? implode(',', $idleitura) : 'vazio' ?>';

		form_values.idhipotese = '<?php echo (sizeof($idhipotese) != 0) ? implode(',', $idhipotese) : 'vazio' ?>';

		form_values.status1 = '<?php echo (isset($this->post_var['status1'])) ? $this->post_var['status1'] : $this->post_var['status'] ?>';

		form_values.iddiretor = '<?php echo (isset($this->post_var['iddiretor'])) ? $this->post_var['iddiretor'] : '' ?>';

		form_values.idcoordenador = '<?php echo (isset($this->post_var['idcoordenador'])) ? $this->post_var['idcoordenador'] : '' ?>';

		form_values.idserie = '<?php echo (isset($this->post_var['idserie'])) ? $this->post_var['idserie'] : '' ?>';

		form_values.idturma = '<?php echo (isset($this->post_var['idturma'])) ? $this->post_var['idturma'] : '' ?>';

		form_values.idperiodo = '<?php echo (isset($this->post_var['idperiodo'])) ? $this->post_var['idperiodo'] : '' ?>';

		form_values.idescola = '<?php echo (isset($this->post_var['idescola'])) ? $this->post_var['idescola'] : '' ?>';

		form_values.periodonotas = '<?php echo (isset($this->post_var['periodonotas'])) ? $this->post_var['periodonotas'] : '' ?>'


	<?php endif; ?>

	

	visualizar = <?php echo  ((isset($this->visualizar)) && ($this->visualizar))  ? 'true' : 'false' ?>;
</script>
