<?php if (sizeof($this->rows)==0) : ?>
<tr>
	<td colspan="10" width="100%">
		Nenhum aluno foi encontrada para essa escola
	</td>       						
</tr>
<?php else : ?>
<?php foreach ($this->rows as $row) : ?>
<?php
	$getAluno = new Escolasalunos();
	$dadosAluno = $getAluno->getEscolaalunoById($row['idaluno'] , array('status'=>'Ativo'));
?>
<tr>
	<td>
		<?php if ((isset($this->visualizar)) && ($this->visualizar)) : ?>
			<input type="checkbox" value="<?php echo $dadosAluno['id']?>" name="idaluno[]">			
			<span><?php echo $dadosAluno['nomerazao'] ?> <?php echo $dadosAluno['sobrenomefantasia'] ?></span>
		<?php else: ?>
			<input type="checkbox" value="<?php echo $dadosAluno['id']?>" name="idaluno[]" onchange="setCampos(this)"> <?php echo $dadosAluno['nomerazao'] ?> <?php echo $dadosAluno['sobrenomefantasia'] ?>
		<?php endif;?>
	</td> 

	<td>
		<?php if ((isset($this->visualizar)) && ($this->visualizar)) : ?>
			<span> <?php echo $dadosAluno['rgm'] ?> </span>
		<?php else: ?>
			<?php echo $dadosAluno['rgm'] ?>
		<?php endif;?>
	</td> 

	<td>
		<?php if ((isset($this->visualizar)) && ($this->visualizar)) : ?>
			<span> <?php echo $dadosAluno['nascimento'] ?> </span>
		<?php else: ?>
			<?php echo date('d/m/Y' , strtotime($dadosAluno['nascimento'])) ?>
		<?php endif;?>
	</td> 

	<td class="s_hipotese">
		<select disabled onchange="setCor(this, 'hipotese')" name="idhipotese[]" data-placeholder="Hipótese" class="select" >
			<option value="">Selecione...</option>
		<?php foreach(Coordenacaotipohipoteses::GetCoordenacaotipohipotesesHelper(array('status'=>'Ativo')) as $k=>$v) : ?>
			<option value="<?php echo $v['id'] ?>"><?php echo $v['tipohipotese'] ?></option>
		<?php endforeach ?>
		</select>
	</td>

	<td class="s_leitura">
		<select disabled onchange="setCor(this, 'leitura')" name="idleitura[]" data-placeholder="Leitura" class="select" >
			<option value="">Selecione...</option>
		<?php foreach(Coordenacaotipoleituras::GetCoordenacaotipoleiturasHelper(array('status'=>'Ativo')) as $k=>$v) : ?>
			<option value="<?php echo $v['id'] ?>"><?php echo $v['tipoleitura'] ?></option>
		<?php endforeach ?>
		</select>
	</td>

	<td class="s_escrita">
		<select onchange="setCor(this, 'escrita')" disabled name="idescrita[]" data-placeholder="Escrita" class="select" >
			<option value="">Selecione...</option>
		<?php foreach(Coordenacaotipoescritas::GetCoordenacaotipoescritasHelper(array('status'=>'Ativo')) as $k=>$v) : ?>
			<option value="<?php echo $v['id'] ?>"><?php echo $v['tipoescrita'] ?></option>
		<?php endforeach ?>
		</select>
	</td>

	<td class="s_inicial"><input class="ini" disabled type="text" name="inicial[]" style="width: 100px;" class="span3"></td>
	<td>
		<?php

			$a_escolaalunosfaltas = Escolasalunosfaltas::getEscolasalunosfaltas(array('idaluno'=>$dadosAluno['id'],$row['idvinculo'],'total'=>true));
			echo $a_escolaalunosfaltas[0]; 

		?>	
	</td>
	<td>
		<?php

		echo ($a_escolaalunosfaltas[0] / 50)*100 . "%"; 

		?>
	</td>

	<td>
		<?php if ((isset($this->visualizar)) && ($this->visualizar)) : ?>
			<span> <?php echo ($dadosAluno['observacoes'] != "") ? $dadosAluno['observacoes'] : "Sem Observação" ?> </span>
		<?php else: ?>
			<?php echo ($dadosAluno['observacoes'] != "") ? $dadosAluno['observacoes'] : "Sem Observação" ?>
		<?php endif;?>
	</td> 						
</tr>
<?php endforeach; ?>

<?php endif; ?>
<script type="text/javascript">

$(document).ready(function() {

	$("#append-alunos").html("<?php echo count($this->rows) ?>");

	if(((typeof form_values)!='undefined')) {

		var alunos = form_values.idaluno.split(',');
		$("[name='idaluno[]']").val(alunos)

		hipoteses = (form_values.idhipotese).split(",");
		leituras = (form_values.idleitura).split(",");
		escritas = (form_values.idescrita).split(",");

		var i = 0;
		$("[name='idhipotese[]']").each(function() {
			if($(this).parent().parent().find("input").prop("checked")) {
				$(this).val(hipoteses[i]);
				i++;
			}
		});

		var i = 0;
		$("[name='idleitura[]']").each(function() {
			if($(this).parent().parent().find("input").prop("checked")) {
				$(this).val(leituras[i]);
				i++;
			}
		});

		var i = 0;
		$("[name='idescrita[]']").each(function() {
			if($(this).parent().parent().find("input").prop("checked")) {
				$(this).val(escritas[i]);
				i++;
			}
		});
	}
});

function setCor(obj, tipo) {
	if( $(obj).val() != "" ) {

		if( tipo == "escrita" ){
			var cor = '<?php echo Coordenacaotipoescritas::GetCoordenacaotipoescritasHelper(array('status'=>'Ativo'))[0]["cor"] ?>';
		} else if( tipo == "leitura" ) {
			var cor = '<?php echo Coordenacaotipoleituras::GetCoordenacaotipoleiturasHelper(array('status'=>'Ativo'))[0]["cor"] ?>';
		} else {
			var cor = '<?php echo Coordenacaotipohipoteses::GetCoordenacaotipohipotesesHelper(array('status'=>'Ativo'))[0]["cor"] ?>';
		}

		$(obj).parent().css("background-color", cor);
	}
}

function setCampos(obj){	
	var verifica = $(obj).attr("checked");
	if(verifica!="checked"){
		$(obj).parent().parent().find('.s_hipotese').find('.select').attr('disabled', true);
		$(obj).parent().parent().find('.s_leitura').find('.select').attr('disabled', true);
		$(obj).parent().parent().find('.s_escrita').find('.select').attr('disabled', true);
		$(obj).parent().parent().find('.s_inicial').find('.ini').attr('disabled', true);
	} else {
		$(obj).parent().parent().find('.s_hipotese').find('.select').attr('disabled', false);
		$(obj).parent().parent().find('.s_leitura').find('.select').attr('disabled', false);
		$(obj).parent().parent().find('.s_escrita').find('.select').attr('disabled', false);
		$(obj).parent().parent().find('.s_inicial').find('.ini').attr('disabled', false);
	}
}
</script>
<style type="text/css">
	#tablehelp { width: 1000px !important; overflow-x: scroll !important; text-overflow: ellipsis !important;}	
</style>