<?php 
	include_once BASE_PATH . '/public/scripts/ckeditor/ckeditor.php';
	require_once BASE_PATH . '/public/scripts/ckfinder/ckfinder.php';
	
	$ckeditor = new CKEditor();
	$ckeditor->basePath	= $this->baseUrl('/public/scripts/ckeditor/');
	
	$ckfinder = $this->baseUrl('/public/scripts/ckfinder/');
	
	CKFinder::SetupCKEditor($ckeditor, $ckfinder);
?>


<div class="contentpanel">

	<div class="panel panel-default">
	
		<div class="panel-heading">
			
			<?php if (isset($this->erros)) :  ?>
			<div class="alert alert-danger">
				<button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
				<strong>Erro!</strong> 
				<?php foreach ($this->erros as $erro) : ?>
				<br /><?php echo $erro?>
				<?php endforeach;?>
			</div>				
			
			<?php endif;?>
			
			<h4 class="panel-title">Formulário de <?php echo $this->title['plural']['capitalize'] ?> <?php echo (((isset($this->parent)) && ($this->parent)) ? 'em ' . $this->parent['topico'] : '') ?></h4>
			<p>Informe os dados do formulário.</p>
        </div>
        <div class="panel-body panel-body-nopadding">
        	<form id="form" name="form" method="post" class="form-horizontal form-bordered" enctype="multipart/form-data" >
        		<input type="hidden" value="<?php echo (isset($this->post_var)) ? $this->post_var["id"] : ''; ?>" name="id" id="id" />
        	
        	
        		<?php if ((isset($this->parent)) && ($this->parent)) : ?>
				<div class="form-group">
					<label class="col-sm-3 control-label">Categoria</label>
					<div class="col-sm-3">
						<select name="idcategoria" class="form-control"> 
							<option value="">Selecione...</option>
							<?php foreach (Posts::getPostsHelpers(array('idparent'=>$this->parent['idparent'])) as $k=>$v) : ?>
							<option value="<?php echo $v['id'] ?>"><?php echo $v['topico'] ?></option>
							<?php endforeach;?>
						</select>
					</div>
				</div>        		
        		<?php endif; ?>
        		
        		<?php if ((isset($this->idparentparent)) && ($this->idparentparent)) : ?>
				<div class="form-group">
					<label class="col-sm-3 control-label">Categoria</label>
					<div class="col-sm-3">
						<select name="idcategoria" class="form-control"> 
							<option value="">Selecione...</option>
							<?php foreach (Posts::getPostsHelpers(array('idparent'=>$this->idparentparent)) as $k=>$v) : ?>
							<option value="<?php echo $v['id'] ?>"><?php echo $v['topico'] ?></option>
							<?php endforeach;?>
						</select>
					</div>
				</div>        		
        		<?php endif; ?>        		
        		
        		<?php if ((isset($this->idusuario)) && ($this->idusuario)) : ?>
				<div class="form-group">
					<label class="col-sm-3 control-label">Usuário</label>
					<div class="col-sm-3">
						<select name="idusuario" class="form-control"> 
							<option value="">Todos</option>
						</select>					
					</div>
				</div>        		
        		<?php endif; ?>        		
        		
        	
				<?php if ((isset($this->data)) && ($this->data)) : ?>        	
					<div class="form-group">
						<label class="col-sm-3 control-label">Data</label>
						<div class="input-group col-sm-3" style="padding-left: 10px">
							<input type="text" id="data" name="data"  value="<?php echo (isset($this->post_var['data'])) ? Mn_Util::formPostVarData($this->post_var['data']) : "" ?>" class="form-control" />
                			<span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
						</div>
					</div>
				<?php endif; ?>	
        	
				<div class="form-group">
					<label class="col-sm-3 control-label"><?php echo (isset($this->label['topico'])) ? $this->label['topico'] : 'Tópico'; ?> *</label>
					<div class="col-sm-3">
						<input type="text" name="topico" value="<?php echo (isset($this->post_var['topico'])) ? $this->post_var['topico'] : "" ?>" class="form-control" />
						<?php 
							if ((isset($this->post_var['idcurso'])) && ((int)$this->post_var['idcurso'])) :
								$curso = Ead_Cursos::getCursoHelper((int)$this->post_var['idcurso']) ;
								echo '<br clear="all" />Nome do curso no sistege: ' . $curso['curso'];
						?>
						<?php endif; ?>								
					</div>
				</div>      	
				
				<?php if ((isset($this->subtopico)) && ($this->subtopico)) : ?>
				<div class="form-group">
					<label class="col-sm-3 control-label">
						<?php echo (isset($this->label['subtopico'])) ? $this->label['subtopico'] : 'Sub Título'; ?> 
					</label>
					<div class="col-sm-3">
						<input type="text" name="subtopico" value="<?php echo (isset($this->post_var['subtopico'])) ? $this->post_var['subtopico'] : "" ?>" class="form-control" />
					</div>
				</div>
				<?php endif;?>
				
				
				<?php if ((isset($this->texto)) && ($this->texto)) : ?>
					<div class="form-group">
						<label class="col-sm-3 control-label">
							<?php echo (isset($this->label['texto'])) ? $this->label['texto'] : 'Texto'; ?> 
						</label>
						<div class="col-sm-6">
							<?php if ((isset($this->visualizar)) && ($this->visualizar)) : ?>
							<div style="padding-top:10px"><?php echo $this->post_var['texto']; ?></div>
							<?php else : ?>
							<?php $value1 = (isset($this->post_var['texto'])) ? $this->post_var['texto'] : ''; ?>
							<?php $ckeditor->editor('texto', $value1); ?>
							<?php endif;?>
						</div>
					</div>	
				<?php endif;?>					
				
				<?php if ((isset($this->texto2)) && ($this->texto2)) : ?>
					<div class="form-group">
						<label class="col-sm-3 control-label">
							<?php echo (isset($this->label['texto2'])) ? $this->label['texto2'] : 'Texto 2'; ?> 
						</label>
						<div class="col-sm-6">
							<?php $value1 = (isset($this->post_var['texto2'])) ? $this->post_var['texto2'] : ''; ?>
							<?php $ckeditor->editor('texto2', $value1); ?>
						</div>
					</div>	
				<?php endif;?>					
        	
        	
				<?php if ((isset($this->imagem)) && ($this->imagem)) : ?>
				
					<?php if ((isset($this->visualizar)) && ($this->visualizar)) : ?>
						<?php if ((isset($this->post_var['idimagem'])) && ((int)$this->post_var['idimagem']>0)) : ?>
						<div class="form-group">
							<label class="col-sm-3 control-label"><?php
							$topico = (isset($this->label['imagem'])) ? $this->label['imagem'] : 'Imagem';
							echo $topico;  
						?></label>
							<div class="col-sm-6">
								<?php echo $this->getImagem($this->post_var['idimagem'], 80, 80, '', Imagens::$INDISPONIVEL) ?>
							</div>
						</div>
						<?php endif; ?>
												
					<?php else : ?>
					<div class="form-group">
						<label class="col-sm-3 control-label"><?php
						$topico = (isset($this->label['imagem'])) ? $this->label['imagem'] : 'Imagem';
						echo $topico;  
					?> <?php echo (isset($this->label['imagem_dica'])) ? $this->label['imagem_dica'] : ''?></label>
						<div class="col-sm-6">
							<?php if ((isset($this->post_var['idimagem'])) && ((int)$this->post_var['idimagem']>0)) : ?>
								<?php echo $this->getImagem($this->post_var['idimagem'], 80, 80, '', Imagens::$INDISPONIVEL) ?>
								
								<div class="checkbox block">
									<label><input type="checkbox" name="excluir_imagem" value="excluir" /> Desejo excluir a imagem</label>
								</div>
								<br /> 
							<?php endif; ?>
							
							<input type="file" name="imagem" class="form-control" />
						</div>
					</div>					
					<?php endif;?>
				

				<?php endif;?>
				
				<?php if ((isset($this->banner)) && ($this->banner)) : ?>
					<div class="form-group">
						<label class="col-sm-3 control-label">Banner <?php echo (isset($this->label['banner_dica'])) ? $this->label['banner_dica'] : ''?></label>
						<div class="col-sm-6">
							<?php if ((isset($this->post_var['idbanner'])) && ((int)$this->post_var['idbanner']>0)) : ?>
								<?php echo $this->getImagem($this->post_var['idbanner'], 200, 40, '', Imagens::$INDISPONIVEL) ?>
								
								<div class="checkbox block">
									<label><input type="checkbox" name="excluir_banner" value="excluir" /> Desejo excluir a imagem</label>
								</div>
								<br /> 
							<?php endif; ?>
							
							<input type="file" name="banner" class="form-control" />
						</div>
					</div>
				<?php endif;?>        	
        	
				<?php if ((isset($this->arquivo)) && ($this->arquivo)) : ?>
				
					<?php if ((isset($this->visualizar)) && ($this->visualizar)) : ?>
					
						<?php if ((isset($this->post_var['idarquivo'])) && ((int)$this->post_var['idarquivo']>0)) : ?>
						<div class="form-group">
							<label class="col-sm-3 control-label">Arquivo</label>
							<div class="col-sm-6" style="padding-top:10px">
								<?php echo $this->getArquivo($this->post_var['idarquivo']) ?>
							</div>
						</div>
						<?php endif;?>
					
					<?php else : ?>
				
					<div class="form-group">
						<label class="col-sm-3 control-label">Arquivo</label>
						<div class="col-sm-6">
							<?php if ((isset($this->post_var['idarquivo'])) && ((int)$this->post_var['idarquivo']>0)) : ?>
								<?php echo $this->getArquivo($this->post_var['idarquivo']) ?>
								
								<div class="checkbox block">
									<label><input type="checkbox" name="excluir_arquivo" value="excluir" /> Desejo excluir o arquivo</label>
								</div>								
								<br /> 
							<?php endif; ?>
							
							<input type="file" name="arquivo" class="form-control" />
						</div>
					</div>	
					
					<?php endif; ?>
					
				<?php endif; ?>
				
				<?php if ((isset($this->video)) && ($this->video)) : ?>
				
					<?php if ((isset($this->visualizar)) && ($this->visualizar)) : ?>
					
						<?php if ($this->post_var['video']!='') : ?>
						<div class="form-group">
							<label class="col-sm-3 control-label">Vídeo VIMEO</label>
							<div class="col-sm-3" style="padding-top:10px">
<iframe src="//player.vimeo.com/video/<?php echo $this->post_var['video'] ?>" width="480" height="340" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
							</div>
						</div>						
						<?php endif; ?>
					
					<?php else : ?>
				
					<div class="form-group">
						<label class="col-sm-3 control-label">ID do Vídeo VIMEO</label>
						<div class="col-sm-3">
							<input type="text" name="video" value="<?php echo (isset($this->post_var)) ? $this->post_var['video'] : "" ?>" class="form-control" />
							<?php if (isset($this->dicas['video'])) : ?>
							<span><?php echo $this->dicas['video'] ?></span>
							<?php endif; ?>
						</div>
					</div>
					
					<?php endif; ?>
					
				<?php endif;?>        	
        	
				<?php if ((isset($this->link)) && ($this->link)) : ?>	
					<div class="form-group">
						<label class="col-sm-3 control-label">Link</label>
						<div class="col-sm-3">
							<input type="text" name="link" value="<?php echo (isset($this->post_var)) ? $this->post_var['link'] : "" ?>" class="form-control" />
						</div>
					</div>	
				<?php endif; ?>
				
				<?php if ((isset($this->destaque)) && ($this->destaque)) : ?>
					<div class="form-group">
						<label class="col-sm-3 control-label">Destaque</label>
						<div class="col-sm-6">
							<select name="destaque" class="form-control"> 
								<option value="">Selecione...</option>
								<option value="Destacado">Destacado</option>
								<option value="Não Destacado">Não destacado</option>
							</select>
						</div>
					</div>
				<?php endif;?>
				
				<?php if ((isset($this->tipocustom)) && ($this->tipocustom)) : ?>
				<div class="form-group">
					<label class="col-sm-3 control-label"><?php
						echo (isset($this->label['tipocustom'])) ? $this->label['tipocustom'] : 'Tipo';;  
					?> *</label>
					<div class="col-sm-1" style="width:50%">
						<select name="tipocustom" class="form-control"> 
							<option value="">Selecione...</option>
							<?php foreach (Ead_Posts::getTiposBanners() as $k=>$v) : ?>
							<option value="<?php echo $k ?>"><?php echo $v ?></option>
							<?php endforeach;?>
						</select>
					</div>
				</div>		
				<?php endif; ?>	        	
        	
        	
        		<div class="form-group">
        			<label class="col-sm-3 control-label">Status *</label>
        			<div class="col-sm-3">
        				<select id="status1" name="status1" class="form-control">
        					<option value="">Selecione...</option>
        					<option value="Ativo">Ativo</option>
        					<option value="Bloqueado">Bloqueado</option>
						</select>        				
					</div>
				</div>				

				
				<div class="panel-footer">
					<div class="row">
						<div class="col-sm-6 col-sm-offset-3">
							<?php if ((isset($this->visualizar)) && ($this->visualizar)) : ?>
							<button type="button" onclick="window.history.back()" class="btn btn-default">Voltar</button>
							<?php else : ?>
							<button class="btn btn-primary">Salvar</button>&nbsp;
							<button type="button" onclick="window.history.back()" class="btn btn-default">Cancelar</button>
							<?php endif;?>
						</div>
					</div>
				</div><!-- panel-footer -->				
				
			</form>
          
		</div><!-- panel-body -->
	</div>
</div>

<script type="text/javascript" src="<?php echo $this->baseUrl('/public/admin/js/wysihtml5-0.3.0.min.js') ?>"></script>
<script type="text/javascript" src="<?php echo $this->baseUrl('/public/admin/js/bootstrap-wysihtml5.js') ?>"></script>
<script type="text/javascript" src="<?php echo $this->baseUrl('/public/admin/js/ckeditor/ckeditor.js') ?>"></script>
<script type="text/javascript" src="<?php echo $this->baseUrl('/public/admin/js/ckeditor/adapters/jquery.js') ?>"></script>
<script type="text/javascript" src="<?php echo $this->baseUrl('/public/scripts/admin/posts_form.js') ?>"></script>
<script type="text/javascript">
	jQuery(document).ready(function(){
		jQuery('#data').datepicker({dateFormat:'dd/mm/yy'});
		jQuery('#texto').wysihtml5({html:true});
	});
	
	var form_values = {};
	<?php if (isset($this->post_var['status'])) :  ?>
	form_values.status1 = '<?php echo $this->post_var['status'] ?>';
	<?php endif; ?>
	
	<?php if (isset($this->post_var['tipocustom'])) :  ?>
	form_values.tipocustom = '<?php echo $this->post_var['tipocustom'] ?>';
	<?php endif; ?>
		
	<?php if (isset($this->post_var['destaque'])) :  ?>
		form_values.destaque = '<?php echo $this->post_var['destaque'] ?>';		
	<?php endif; ?>

	<?php if ((isset($this->parent)) && ($this->parent)) : ?>
		form_values.idcategoria = '<?php echo $this->parent['id'] ?>';
	<?php endif;?>

	<?php if ((isset($this->idparentparent)) && ($this->idparentparent)) : ?>
		form_values.idcategoria = '<?php echo $this->post_var['idparent'] ?>';
	<?php endif;?>

	<?php if ((isset($this->idusuario)) && ($this->idusuario)) : ?>
	form_values.idusuario = '<?php echo $this->post_var['idusuario'] ?>';
	<?php endif;?>
	
	var action = '<?php echo $this->getAction() ?>';
</script>