<?php 
	$params = "";
	if ((isset($this->parent)) && ($this->parent)) :
		$params = "/idp/" . $this->parent['id'];
	endif;
?>
<div class="contentpanel">

	<div class="row">
	
        <div class="panel-body">
        

			<div class="panel panel-default">
				<div class="panel-heading">
					<div class="panel-btns">
						<?php if ($this->isMinimize()) : ?>
						<a  href="javascript:;" class="minimize" onclick="setMinimize('sim')">−</a>
						<?php else : ?>
						<a href="javascript:;" class="minimize maximize" onclick="javascript:$('select').closest('div').find('.chosen-container').css('width', '100%');setMinimize('nao')">+</a>
						<?php endif; ?>
					</div>
					<h4 class="panel-title">Filtro</h4>
					<p>Use o formulário para filtrar de acordo com os critérios disponíveis</p>
				</div>        
				<div class="panel-body" style="display: <?php echo ($this->isMinimize()) ? 'block' : 'none' ?>;">
		        	<form id="form" name="form" method="post" class="form-horizontal form-bordered">
		        	
		        		<div class="form-group">
		        			<label class="col-sm-3 control-label">Palavra Chave</label>
		        			<div class="col-sm-6">
		        				<input name="chave" value="<?php echo (isset($this->post_var['chave'])) ? $this->post_var['chave'] : '' ?>" type="text" class="form-control" placeholder="">
							</div>
						</div>
						
		        		<div class="form-group">
		        			<label class="col-sm-3 control-label">Status</label>
		        			<div class="col-sm-6">
		        				<select id="status1" name="status1" class="form-control">
		        					<option value="">Todos</option>
		        					<option value="Ativo">Ativo</option>
		        					<option value="Bloqueado">Bloqueado</option>
								</select>        				
							</div>
						</div>				
		
		
						
						<div class="panel-footer">
							<div class="row">
								<div class="col-sm-6 col-sm-offset-3">
									<button class="btn btn-warning">Pesquisar</button>&nbsp;
								</div>
							</div>
						</div><!-- panel-footer -->				
						
					</form>              
              
              
            	</div>	
            </div>        
        
        
			<div class="panel-heading" style="position:relative;">
			
				<?php if (isset($this->crudMessage)) : ?>
				<div class="alert alert-success">
                	<button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                	<strong>Sucesso!</strong> <?php echo $this->crudMessage ?>.
              	</div>
              	<?php endif; ?>
			
				<table width="100%">
					<tr>
						<td width="50%"><h4 class="panel-title"><?php echo $this->title['plural']['capitalize'] ?> cadastrados no sistema <?php echo (((isset($this->parent)) && ($this->parent)) ? 'em ' . $this->parent['topico'] : '') ?></h4></td>
						<?php if (Mn_Util::isAccess($this->getController(), 'adicionar')) : ?>
						<td width="50%" align="right"><a href="<?php echo $this->baseUrl() ?>/admin/<?php echo $this->getController() ?>/adicionar<?php echo $params ?>" class="btn btn-primary">Adicionar <?php echo $this->title['singular']['normal'] ?></a></td>
						<?php endif; ?>
					</tr>
				</table>
				
				<br />
				
				<div class="table-responsive">
					
	                <table class="table table-primary mb30">
	                	<thead>
	                		<tr>
	                			<th width="20">ID</th>
	                			<?php if ((isset($this->imagem)) && ($this->imagem)) : ?>
								<th width="100"><?php echo (isset($this->label['imagem'])) ? $this->label['imagem'] : 'Imagem'; ?></th>
								<?php endif;?>
						
								<?php if ((isset($this->data)) && ($this->data)) : ?>
								<th width="100">Data</th> 
								<?php endif; ?>
						
								<th><?php echo (isset($this->label['topico'])) ? $this->label['topico'] : 'Tópico'; ?></th>
														
								<?php if ((isset($this->tipocustom)) && ($this->tipocustom)) : ?>
								<th><?php echo (isset($this->label['tipocustom'])) ? $this->label['tipocustom'] : 'Tipo'; ?></th>
								<?php endif;?>
						
								<th width="130">Status</th>
								
								<?php if ((isset($this->ordem)) && ($this->ordem)) : ?>
								<th width="110">Ordem</th>	
								<?php endif; ?>	                			
	                			
	                			<th style="width:74px">Ações</th>
	                		</tr>
	                	</thead>
	                	<tbody>
	                	   	<?php if (sizeof($this->rows)==0) : ?>
	                		<tr>
	                			<td colspan="15">Nenhum registro foi encontrado</td>
	                		</tr>
	                		<?php endif;?>
	                		<?php foreach ($this->rows as $i=>$row) : ?>
								<?php if ((isset($this->ordem)) && ($this->ordem)) : ?>
								<tr class="line">
								<?php else : ?>
								<tr>
								<?php endif; ?>
	                				<td>
	                					<?php echo $row['id'] ?>
	                					<input type="hidden" name="id[]" value="<?php echo $row['id'] ?>" />
	                				</td>
	                				
	                				
									<?php if ((isset($this->imagem)) && ($this->imagem)) : ?>
									<td><?php echo $this->getImagem($row['idimagem'], 80, 0, $row['topico'], Imagens::$INDISPONIVEL) ?></td>
									<?php endif; ?> 
							
									<?php if ((isset($this->data)) && ($this->data)) : ?>
									
										<?php if ((isset($this->dataindexmesano)) && ($this->dataindexmesano)) : ?>
										<td nowrap="nowrap"><?php echo Mn_Util::getMeses( (int)date('m', strtotime($row['data'])) )?>/ <?php echo date('Y', strtotime($row['data'])) ?></td>
										<?php else : ?>
										<td><?php echo date('d/m/Y', strtotime($row['data'])) ?></td>
										<?php endif;?>
									
									
									<?php endif; ?> 
							
									<td>
										<?php echo $row['topico'] ?>
										<?php if ((int)$row['sugeridopor']>0) : ?>
										<br />
										<?php
											$usuario = Usuarios::getUsuarioByIdHelper($row['sugeridopor']);
											echo 'Sugerido por: <b>' . $usuario['nomerazao'] . ' ' . $usuario['sobrenomefantasia'] . '</b>';
										?>
										<?php endif; ?>
										
										<?php if ((isset($this->idusuario)) && ($this->idusuario)) : ?>
											<br /><b>
											<?php if ((int)$row['idusuario']==0) : ?>
											TODOS USUÁRIOS
											<?php else : ?>
												<?php
												$usuario = Usuarios::getUsuarioByIdHelper($row['idusuario']);
												echo $usuario['nomerazao'] . ' ' . $usuario['sobrenomefantasia'];
												?>
											<?php endif; ?>	
											</b>									
										<?php endif; ?>
								
								
								
										<?php if ((isset($this->arquivo)) && ($this->arquivo)) : ?>
										<br /> 
										<?php if ((isset($row['idarquivo'])) && ((int)$row['idarquivo']>0)) : ?>
											<?php echo $this->getArquivo($row['idarquivo']) ?>
										<?php else: ?>
											Nenhum arquivo adicionado
										<?php endif; ?>
									<?php endif;?>
									</td>
									
							
									<?php if ((isset($this->tipocustom)) && ($this->tipocustom)) : ?>
									<td><?php echo Ead_Posts::getTiposBanners($row['tipocustom']) ?></td>
									<?php endif;?>

									<td>
										<?php if (Mn_Util::isAccess($this->getController(), 'editar')) : ?>
											<div onclick="javascript:statusChange(<?php echo $row["id"]?>, this);" style="cursor:pointer;"><?php echo $row['status'] ?></div>
											<?php if ((!isset($this->destaque)) || ($this->destaque)) : ?>
												<div onclick="javascript:destaqueChange(<?php echo $row["id"]?>, this);" style="cursor:pointer;"><?php echo $row['destaque'] ?></div>
											<?php endif; ?>
										<?php else : ?>
											<?php echo $row['status'] ?>
											<?php if ((!isset($this->destaque)) || ($this->destaque)) : ?>
												<br />
												<?php echo $row['destaque'] ?>
											<?php endif; ?>
										<?php endif; ?>
									</td>							
							
									<?php if ((isset($this->ordem)) && ($this->ordem)) : ?>
									<td>
										<?php if (Mn_Util::isAccess($this->getController(), 'editar')) : ?>
					                        <?php if ($i>0) : ?>
												<a href="<?php echo $this->baseUrl('/admin/'.$this->getController().'/ordem/d/up/ordem/'.$row['ordem'] . $this->redirect_modal) ?>" title="Editar"><span class="fa fa-arrow-up"></span></a>
											<?php else : ?>
												<a href="javascript:;" title="Editar"><span class="fa fa-arrow-up" style="visibility:hidden;"></span></a>
											<?php endif; ?>
											
											<?php if ($i<sizeof($this->rows)-1) : ?>
												<a href="<?php echo $this->baseUrl('/admin/'.$this->getController().'/ordem/d/down/ordem/'.$row['ordem'] . $this->redirect_modal) ?>" title="Editar"><span class="fa fa-arrow-down"></span></a>
											<?php else : ?>
												<a href="javascript:;" title="Editar"><span class="fa fa-arrow-down" style="visibility:hidden;"></span></a>							
											<?php endif; ?>
										<?php endif;?>
									</td>	
									<?php endif; ?>			                				
	                				
	                				
	                				
	                				
	                				<td class="table-action">
	                					<?php if (
	                							((int)$this->getParam('idp')>0) 
	                							|| ($this->getController()=='balancetes')
	                							|| ($this->getController()=='comunicados')
	                						) : ?>
		                					<?php if (Mn_Util::isAccess($this->getController(), 'visualizar')) : ?>
		                					<a href="<?php echo $this->baseUrl() ?>/admin/<?php echo $this->getController() ?>/visualizar/id/<?php echo $row['id'] . $params ?>"><i class="fa  fa-eye"></i></a>
		                					<?php endif;?>
	                					<?php endif; ?>
	                				
	                					<?php if (Mn_Util::isAccess($this->getController(), 'editar')) : ?>
	                					<a href="<?php echo $this->baseUrl() ?>/admin/<?php echo $this->getController() ?>/editar/id/<?php echo $row['id'] . $params ?>"><i class="fa fa-pencil"></i></a>
	                					<?php endif;?>
	                					<?php if (Mn_Util::isAccess($this->getController(), 'excluir')) : ?>
	                					<a class="delete-row" href="javascript:confirmDelete('<?php echo $row['id']; ?>','registro');"><i class="fa fa-trash-o"></i></a>
	                					<?php endif; ?>
	                				</td>
	                			</tr>
	                		<?php endforeach;?> 
	                	</tbody>
	                </table>
	                <?php echo $this->render('/helpers/paginator.phtml') ?>
	            </div><!-- table-responsive -->				
				
			</div>        
        
            
        </div>

	</div>
        
</div>
<script type="text/javascript" src="<?php echo $this->baseUrl('/public/scripts/ui.dragdrop.js') ?>"></script>
<script type="text/javascript" src="<?php echo $this->baseUrl('/public/scripts/admin/posts_index.js') ?>"></script>
<script type="text/javascript">
//<![CDATA[

	var form_values = new Object();
	<?php if (isset($this->post_var)) :  ?>
	form_values.status1 = '<?php echo $this->post_var['status1'] ?>';
	<?php endif; ?>

	<?php if ($this->modal) : ?>
		$('.line .btn-success').click(function() {			
			tr = $(this).closest('tr');
			dados = tr.find('textarea[name=dados]').val();
			parent.buscarMediacenter(false, false, dados);
			parent.$.fancybox.close();	
		});
	<?php endif; ?>

	var action = '<?php echo $this->getAction() ?>';
	var modal = <?php echo ($this->modal) ? 'true' : 'false' ?>;
	var redirect_modal = '<?php echo $this->redirect_modal ?>';
	var idp = <?php echo ((isset($this->parent)) && ($this->parent)) ? $this->parent['id'] : 'false' ?>;
	var params = '<?php echo ($params!='') ? $params : '' ?>';	

	
//]]>	
</script>