<table width="100%" cellpadding="2" cellspacing="0" border="1" nobr="true">
	<tr>
		<td align="center" width="15%"><img src="<?php echo MY_PATH . $this->baseUrl() ?>/public/default/images/logo-formulario-logo.png" /></td>
		<td align="center" width="85%">
			<font size="12">
				PREFEITURA MUNICIPAL DE ITAQUAQUECETUBA<br />
				SECRETARIA MUNICIPAL DE EDUCAÇÃO<br />
				DEPARTAMENTO DE ALMOXARIFADO CENTRAL<br />
			</font>		
		</td>
	</tr>
</table>

<br />

<table width="100%" cellpadding="2" cellspacing="0" border="0" nobr="true">
	<tr>
		<td align="center" width="100%">
			<font size="10">
				REQUISIÇÃO DE MATERIAIS AUTORIZADOS
			</font>
		</td>
	</tr>
</table>
<br />
<?php $tipo = "";?>
<?php if($this->post_var['origem']==Almoxarifado_Solicitacoes::$_ORIGEM_ESCOLA): ?>
	<?php $tipo = "Escola:"; ?>				                						
<?php endif;?>
<table width="100%" cellpadding="2" cellspacing="0" border="1" nobr="true">
	<tr>
		<td align="left" width="50%">
			<font size="8"><?php echo $tipo ?> (<?php echo $this->post_var['texto_nome']?>) <br/>Endereço: (<?php echo $this->post_var['texto_endereco']?>)<br/></font>
		</td>
		<td align="left" width="50%">
			<font size="8">ENTREGA (   )   RETIRA (   ) <br />Motorista: ? com RGF – Placa: _______________<br/>
			</font>		
		</td>
	</tr>
</table>

<br />
<table width="100%" cellpadding="2" cellspacing="0" border="1" nobr="true">
	<tr>
		<td width="18%" valign="top">QUANTIDADE</td>
		<td width="14%" valign="top">UNIDADE</td>
		<td width="68%" valign="top">DESCRIÇÃO</td>
	</tr>
	<tr>
		<td width="18%" valign="top">&nbsp;</td>
		<td width="14%" valign="top">&nbsp;</td>
		<td width="68%" valign="top">&nbsp;</td>
	</tr>
	<tr>
		<td width="18%" valign="top">&nbsp;</td>
		<td width="14%" valign="top">&nbsp;</td>
		<td width="68%" valign="top">&nbsp;</td>
	</tr>
	<tr>
		<td width="18%" valign="top">&nbsp;</td>
		<td width="14%" valign="top">&nbsp;</td>
		<td width="68%" valign="top">&nbsp;</td>
	</tr>
	<tr>
		<td width="18%" valign="top">&nbsp;</td>
		<td width="14%" valign="top">&nbsp;</td>
		<td width="68%" valign="top">&nbsp;</td>
	</tr>
	<tr>
		<td width="18%" valign="top">&nbsp;</td>
		<td width="14%" valign="top">&nbsp;</td>
		<td width="68%" valign="top">&nbsp;</td>
	</tr>
	<tr>
		<td width="18%" valign="top">&nbsp;</td>
		<td width="14%" valign="top">&nbsp;</td>
		<td width="68%" valign="top">&nbsp;</td>
	</tr>
	<tr>
		<td width="18%" valign="top">&nbsp;</td>
		<td width="14%" valign="top">&nbsp;</td>
		<td width="68%" valign="top">&nbsp;</td>
	</tr>
	<tr>
		<td width="18%" valign="top">&nbsp;</td>
		<td width="14%" valign="top">&nbsp;</td>
		<td width="68%" valign="top">&nbsp;</td>
	</tr>
	<tr>
		<td width="18%" valign="top">&nbsp;</td>
		<td width="14%" valign="top">&nbsp;</td>
		<td width="68%" valign="top">&nbsp;</td>
	</tr>
	<tr>
		<td width="18%" valign="top">&nbsp;</td>
		<td width="14%" valign="top">&nbsp;</td>
		<td width="68%" valign="top">&nbsp;</td>
	</tr>
	<tr>
		<td width="18%" valign="top">&nbsp;</td>
		<td width="14%" valign="top">&nbsp;</td>
		<td width="68%" valign="top">&nbsp;</td>
	</tr>
</table>

<br /><br /><br />

<table width="100%" cellpadding="2" cellspacing="0" border="0" nobr="true">
	<tr>
		<td align="left" width="32%">
			_______________________________________________________________
		</td>
		<td align="center" width="36%">
			____________________________________________________________
		</td>
		<td align="left" width="32%">
			____________________________________________________________
		</td>
	</tr>
	
	<tr>
		<td align="center" width="32%">
			Solicitante Com RGF
		</td>
		<td align="center" width="36%">
			Autorizado por ?com RGF
		</td>
		<td align="center" width="32%">
			Recebido por ? com RGF
		</td>
	</tr>
</table>