<?php 
	include_once BASE_PATH . '/public/scripts/ckeditor/ckeditor.php';
	require_once BASE_PATH . '/public/scripts/ckfinder/ckfinder.php';
	
	$ckeditor = new CKEditor();
	$ckeditor->basePath	= $this->baseUrl('/public/scripts/ckeditor/');
	
	$ckfinder = $this->baseUrl('/public/scripts/ckfinder/');
	
	CKFinder::SetupCKEditor($ckeditor, $ckfinder);
?>

<!-- Content -->
<div id="content">

    <!-- Content wrapper -->
    <div class="wrapper">
	
	    <!-- Breadcrumbs line -->
	    <div class="crumbs">
	    	<?php echo $this->render('/helpers/breadcrumb.phtml') ?>
	    </div>
	    <!-- /breadcrumbs line -->

	    <!-- Page header -->
	    <div class="page-header">
	    	<div class="page-title">
		    	<h5>Formulário da prefeitura</h5>
		    	<span>Verifique os campos e preencha com os dados</span>
	    	</div>
	    </div>
	    <!-- /page header -->

		<div class="panel-heading">
			
		    <?php if (isset($this->crudMessage)) : ?>
				<div class="alert alert-success">
                	<button data-dismiss="alert" class="close" type="button">×</button>
                    <strong>Operação realizada com sucesso!</strong>
	    			<span><br /><?php echo $this->crudMessage ?></span>
                </div>			    
		    <?php endif; ?>
        </div>
        <div class="">
        	<form id="form" name="form" method="post" class="form-horizontal form-bordered" enctype="multipart/form-data">
        		<input type="hidden" value="<?php echo (isset($this->post_var)) ? $this->post_var["id"] : ''; ?>" name="id" id="id" />

					<fieldset>
						<!-- General form elements -->
						<div class="widget row-fluid">
						    <div class="navbar">
						        <div class="navbar-inner">
						            <h6>Digite as informações do formulário</h6>
						        </div>
						    </div>

						    <div class="well">
								<?php if (isset($this->erros)) : ?>
									<div class="alert alert-error margin">
				                        <button data-dismiss="alert" class="close" type="button">×</button>
				                        <strong>Há erros no formulário!</strong>
					    				<?php foreach ($this->erros as $k=>$v) : ?>
					    					<span><br />- <?php echo $v ?></span>
					    				<?php endforeach;?>			                        
				                    </div>
			                    <?php endif; ?>

				<div class="control-group">
        			<label class="control-label">CNPJ <span class="required">*</span></label>
        			<div class="controls">
        				<input name="cpfcnpj" value="<?php echo (isset($this->post_var['cpfcnpj'])) ? $this->post_var['cpfcnpj'] : '' ?>" type="text" class="span3" placeholder="CNPJ">
					</div>
				</div>
				
        		<div class="control-group">
        			<label class="control-label" style="margin-top: 13px;">Endereço</label>
        			<div class="controls">
        				<?php echo $this->render('/helpers/forms/endereco.phtml') ?>
					</div>
				</div>	
				<?php /*?>
        		<div class="control-group">
        			<label class="control-label">Secretarias <span class="required">*</span></label>
        			<div class="controls">
        				<?php foreach ($this->secretarias as $k=>$v) : ?>
        				<input type="checkbox" value="<?php echo $v['id'] ?>" name="idssecretarias[]" /> <?php echo $v['secretaria'] ?><br />
        				<?php endforeach;?>   
					</div>
				</div>	
				<?php */?>
        		<div class="control-group">
        			<label class="control-label">Data de Contrato <span class="required">*</span></label>
        			<div class="controls">
        				<input name="datacontrato" value="<?php echo (isset($this->post_var['datacontrato'])) ? Mn_Util::formPostVarData($this->post_var['datacontrato']) : '' ?>" type="text" class="span3" placeholder="data do contrato">
					</div>
				</div>	
				
        		<div class="control-group">
        			<label class="control-label">Data de Bloqueio <span class="required">*</span></label>
        			<div class="controls">
        				<input name="databloqueio" value="<?php echo (isset($this->post_var['databloqueio'])) ? Mn_Util::formPostVarData($this->post_var['databloqueio']) : '' ?>" type="text" class="span3" placeholder="data de bloqueio">
					</div>
				</div>	


        		<div class="control-group">
        			<label class="control-label">Telefone </label>
        			<div class="controls">
        				<input name="telefone" value="<?php echo (isset($this->post_var['telefone'])) ? $this->post_var['telefone'] : '' ?>" type="text" class="span3" placeholder="telefone">
					</div>
				</div>	
				
        		<div class="control-group">
        			<label class="control-label">Contato </label>
        			<div class="controls">
        				<input name="contato" value="<?php echo (isset($this->post_var['contato'])) ? $this->post_var['contato'] : '' ?>" type="text" class="span3" placeholder="contato">
					</div>
				</div>	

        		<div class="control-group">
        			<label class="control-label">Prefeito <span class="required">*</span></label>
        			<div class="controls">
        				<input name="prefeito" value="<?php echo (isset($this->post_var['prefeito'])) ? $this->post_var['prefeito'] : '' ?>" type="text" class="span3" placeholder="prefeito">
					</div>
				</div>
				
        		<div class="control-group">
        			<label class="control-label">Secretario <span class="required">*</span></label>
        			<div class="controls">
        				<input name="secretario" value="<?php echo (isset($this->post_var['secretario'])) ? $this->post_var['secretario'] : '' ?>" type="text" class="span3" placeholder="secretario">
					</div>
				</div>
				
        		<div class="control-group">
        			<label class="control-label">Partido <span class="required">*</span></label>
        			<div class="controls">
        				<input name="partido" value="<?php echo (isset($this->post_var['partido'])) ? $this->post_var['partido'] : '' ?>" type="text" class="span3" placeholder="partido">
					</div>
				</div>
				
				<div class="control-group">
					<label class="control-label">Imagem</label>
					<div class="controls">
						<?php if ((isset($this->post_var['idimagem'])) && ((int)$this->post_var['idimagem']>0)) : ?>
							<?php echo $this->getImagem($this->post_var['idimagem'], 80, 80, '', Imagens::$INDISPONIVEL) ?>
							
							<div class="checkbox block">
								<label><input type="checkbox" name="excluir_imagem" value="excluir" /> Desejo excluir a imagem</label>
							</div>
							<br /> 
						<?php endif; ?>
						
						<input type="file" name="imagem" class="span3" />
					</div>
				</div>
				
				<div class="control-group">
					<label class="control-label">
						Texto
					</label>
					<div class="controls">
						<?php if ((isset($this->visualizar)) && ($this->visualizar)) : ?>
						<div style="padding-top:10px"><?php echo $this->post_var['texto']; ?></div>
						<?php else : ?>
						<?php $value1 = (isset($this->post_var['texto'])) ? $this->post_var['texto'] : ''; ?>
						<?php $ckeditor->editor('texto', $value1); ?>
						<?php endif; ?>
					</div>
				</div>	

        		<div class="control-group">
        			<label class="control-label">Status <span class="required">*</span></label>
        			<div class="controls">
        				<select id="status1" name="status" class="span3">
        					<option value="">Selecione...</option>
        					<option value="Ativo">Ativo</option>
        					<option value="Bloqueado">Bloqueado</option>
						</select>        				
					</div>
				</div>				

				
                <div class="form-actions align-right">
                	<?php if ((isset($this->visualizar)) && ($this->visualizar)) : ?>
                		<button onclick="window.history.back()" class="btn btn-danger cancelar" type="button">Voltar</button>
                	<?php else : ?>
	                	<button class="btn btn-primary enviar" type="submit">Salvar</button>
	                	<button onclick="window.history.back()" class="btn btn-danger cancelar" type="button">Cancelar</button>
                	<?php endif; ?>
                </div>			
				</div>
				</div>
			</fieldset>
			</form>
          
		</div><!-- panel-body -->
	</div>
</div>
<script type="text/javascript" src="<?php echo $this->baseUrl('/public/scripts/admin/prefeituras_form.js') ?>"></script>

<script type="text/javascript">
	var form_values = {};
	<?php if (isset($this->post_var['status'])) :  ?>
	form_values.status = '<?php echo (isset($this->post_var['status'])) ? $this->post_var['status'] : $this->post_var['status'] ?>';
	<?php endif; ?>

	<?php if (isset($this->post_var['idestado'])) :  ?>
	form_values.idestado = '<?php echo (isset($this->post_var['idestado'])) ? $this->post_var['idestado'] : '' ?>';
	<?php endif; ?>
	
	<?php if (isset($this->post_var['idcidade'])) :  ?>
	form_values.idcidade = '<?php echo (isset($this->post_var['idcidade'])) ? $this->post_var['idcidade'] : '' ?>';
	<?php endif; ?>

	<?php if (isset($this->post_var['idssecretarias'])) :  ?>
	form_values.idssecretarias = [<?php echo (isset($this->post_var['idssecretarias'])) ? $this->post_var['idssecretarias'] : '' ?>];
	<?php endif; ?>	
</script>

