		<!-- Content -->
		<div id="content">

		    <!-- Content wrapper -->
		    <div class="wrapper">

			    <!-- Breadcrumbs line -->
			    <div class="crumbs">
			    	<?php echo $this->render('/helpers/breadcrumb.phtml') ?>
			    </div>
			    <!-- /breadcrumbs line -->

			    <!-- Page header -->
			    <div class="page-header">
			    	<div class="page-title">
				    	<h5>Formulário do motorista</h5>
				    	<span>Verifique os campos e preencha com os dados</span>
			    	</div>
			    </div>
			    <!-- /page header -->

			    <?php if (isset($this->crudMessage)) : ?>
					<div class="alert alert-success">
	                	<button data-dismiss="alert" class="close" type="button">×</button>
	                    <strong>Operação realizada com sucesso!</strong>
		    			<span><br /><?php echo $this->crudMessage ?></span>
	                </div>			    
			    <?php endif; ?>

				<form id="form" name="form" action="" method="post" class="form-horizontal" enctype="multipart/form-data"> 
					<input type="hidden" value="<?php echo (isset($this->post_var)) ? $this->post_var["id"] : ''; ?>" name="id" id="id" />
					
					<fieldset>
						<!-- General form elements -->
						<div class="widget row-fluid">
						    <div class="navbar">
						        <div class="navbar-inner">
						            <h6>Digite as informações do formulário</h6>
						        </div>
						    </div>

						    <div class="well">
								<?php if (isset($this->erros)) : ?>
									<div class="alert alert-error margin">
				                        <button data-dismiss="alert" class="close" type="button">×</button>
				                        <strong>Há erros no formulário!</strong>
					    				<?php foreach ($this->erros as $k=>$v) : ?>
					    					<span><br />- <?php echo $v ?></span>
					    				<?php endforeach;?>			                        
				                    </div>
			                    <?php endif; ?>						    
						    
				<div class="control-group">
					<label class="control-label">Motorista Terceirizado?</label>
					<div class="controls">						
						<input type="radio" id="terceirizado_sim" name="terceirizado" onclick="setTerceirizado(this)" value="sim" <?php echo ($this->post_var['terceirizado'] == 'sim') ? 'checked' : '' ?> />
						<label style="display: inline-block;" for="terceirizado_sim">Sim</label>
						&nbsp;&nbsp;
						<input type="radio" id="terceirizado_nao" name="terceirizado" onclick="setTerceirizado(this)" value="nao" <?php echo ($this->post_var['terceirizado'] == 'nao') ? 'checked' : '' ?> />
						<label style="display: inline-block;" for="terceirizado_nao">Não</label>
					</div>
				</div>

				<div class="box-escolar-terceirizado" style="display: none;">
					<div class="control-group">
						<label class="control-label">Motorista Escolar?</label>
						<div class="controls">						
							<input type="radio" id="escolar_sim" name="transporteescolar" onclick="setMotoristaEscolar(this)" value="sim" <?php echo ($this->post_var['transporteescolar'] == 'sim') ? 'checked' : '' ?> />
							<label style="display: inline-block;" for="escolar_sim">Sim</label>
							&nbsp;&nbsp;
							<input type="radio" id="escolar_nao" name="transporteescolar" onclick="setMotoristaEscolar(this)" value="nao" <?php echo ($this->post_var['transporteescolar'] == 'nao') ? 'checked' : '' ?> />
							<label style="display: inline-block;" for="escolar_nao">Não</label>
						</div>
					</div>
				</div>

				<div class="box-escolar" style="display: none;">

					<div class="control-group">
						<label class="control-label">Certificado de curso de transporte escolar</label>
						<div class="controls">
							<?php if ((isset($this->post_var['idcertificadotransporte'])) && ((int)$this->post_var['idcertificadotransporte']>0)) : ?>
								<?php echo $this->getArquivo($this->post_var['idcertificadotransporte']) ?>
							
								<?php if (!$this->visualizar) : ?>
									<div class="checkbox block">
										<label><input type="checkbox" name="excluir_idcertificadotransporte" value="excluir" /> Desejo excluir o arquivo</label>
									</div>
								<?php endif; ?>
							<?php endif; ?>
							
							<input placeholder="Arquivo" name="idcertificadotransporte" type="file"  />
						</div>
					</div>


					<div class="control-group">
						<label class="control-label">Data da Conclusão do curso</label>
						<div class="controls"><input placeholder="Data da Conclusão" name="datacertificado" value="<?php echo (isset($this->post_var['datacertificado'])) ? Mn_Util::formPostVarData($this->post_var['datacertificado']) : '' ?>" type="text"  class="span3" /></div>
					</div>
				</div>

<?php 
	if($this->getAction()!="adicionar"){
		$veiculo =  explode(",",$this->post_var['tipoveiculo']); 
		array_push($veiculo, '', '', '', '');  //se tipoveiculo vier vazio (erro index indefinido)
	}else{
		$veiculo = ['','','',''];
	}
?>
			<div class="veiculo-box">
				<div class="box-tipoveiculo">
					<div class="controls">						
						<input type="checkbox" id="tipo_carro" name="tipoveiculo[]" value="carro" <?php echo ($veiculo[0]  == 'carro') ? 'checked' : '' ?> />
						<label style="display: inline;" for="tipo_carro">Carro</label>
						&nbsp;&nbsp;
						<input type="checkbox" id="tipo_caminhao" name="tipoveiculo[]" value="caminhao" <?php echo ($veiculo[0]  == 'caminhao' OR $veiculo[1] == 'caminhao') ? 'checked' : '' ?>/>
						<label style="display: inline;" for="tipo_caminhao">Caminhão</label>
						&nbsp;&nbsp;
						<input type="checkbox" id="tipo_onibus" name="tipoveiculo[]" value="onibus" <?php echo ($veiculo[0]  == 'onibus' OR $veiculo[1] == 'onibus'  OR $veiculo[2] == 'onibus') ? 'checked' : '' ?> />
						<label style="display: inline;" for="tipo_onibus">Ônibus</label>
						&nbsp;&nbsp;
						<input type="checkbox" id="tipo_todos" name="tipoveiculo[]" value="todos" <?php echo ($veiculo[0]  == 'todos' OR $veiculo[1] == 'todos' OR $veiculo[2] == 'todos' OR $veiculo[3] == 'todos') ? 'checked' : '' ?>/>
						<label style="display: inline;" for="tipo_todos">Todos</label>
					</div>
				</div> 
		 	</div>

			 <div class="control-group">
				<label class="control-label">Imagem</label>
				<div class="controls"> 
					<div class="contentarea">
						<div class="camera">
							<video id="video">Video stream not available.</video>				                    			
						</div>
						<br />
						<a id="startbutton" href="javascript:;" class="btn btn-info tip" title="" data-original-title="Edit"><i class="icon-user"></i> &nbsp;Capturar</a>
						<a id="removebutton" href="javascript:;" class="btn btn-info tip" title="" data-original-title="Edit"><i class=" icon-remove"></i> &nbsp;Limpar</a>
						<br />

						<canvas id="canvas" style="display:none">
						</canvas>

						<input type="hidden" value="" name="input_webcam" id="input_webcam" />
						<div class="output" style="display:none">
							<img id="photo" alt="The screen capture will appear in this box."> 
						</div>
					</div> 
				</div> 
			</div>
			
				<div class="control-group">
					<label class="control-label">Anexar Foto </label>
					<div class="controls">
						<?php if ((isset($this->post_var['idimagem'])) && ((int)$this->post_var['idimagem']>0)) : ?>
							<?php echo $this->getImagem($this->post_var['idimagem'], 80, 80, '', Imagens::$INDISPONIVEL) ?>
					
							<?php if (!$this->visualizar) : ?>
								<div class="checkbox block">
									<label><input type="checkbox" name="excluir_idimagem" value="excluir" /> Desejo excluir a imagem</label>
								</div>
							<?php endif; ?>
						<?php endif; ?>						            
					
						<input placeholder="Foto" name="idimagem" type="file"  />
					</div>
				</div>	

				<!-- BOX-INTERNO -->
				<div class="box-interno" style="display: none;">
					<div class="control-group">
						<label class="control-label">Funcionário <span class="required">*</span></label>
						<div class="controls">
			                <select name="idfuncionario" data-placeholder="Funcionário" class="select" onchange="setFuncionarioDepartamento(this, false)">
								<option value="">Selecione...</option>
								<?php foreach (Funcionariosgerais::getFuncionariosgeraisHelper(array('status'=>'Ativo' /*,'iddepartamentosecretaria' => 7 */)) as $k=>$v) : ?>
								<?php  $departamento = Departamentossecretarias::getDepartamentosecretariaByIdHelper($v['iddepartamentosecretaria']); ?>
								<option value="<?php echo $v['id'] ?>"><?php echo $v['nome'] . ' - ' . $departamento['departamento'] ?></option>
								<?php endforeach;?>
							</select>
							<div style="color: lightblue;" id="departamento" ></div>
						</div>
					</div> 
				</div>
				<!-- END BOX-INTERNO -->
				

 
				<!-- BOX-TERCEIRIZADO -->
				<div class="box-terceirizado" style="display: none;">

					<div class="control-group">
						<label class="control-label">Nome da Empresa <span class="required">*</span></label>
						<div class="controls">
			                <select name="idfornecedor" data-placeholder="Nome da Empresa" class="select">
								<option value="">Selecione...</option>
								<?php foreach (Fornecedores::getFornecedoresHelper(array('status'=>'Ativo')) as $k=>$v) : ?>
								<option value="<?php echo $v['id'] ?>"><?php echo $v['razaosocial'] ?></option>
								<?php endforeach;?>
							</select>
							
						</div>
					</div>

					<div class="control-group">
						<label class="control-label">Nome <span class="required">*</span></label>
						<div class="controls"><input maxlength="100" placeholder="Nome" name="nomerazao" value="<?php echo (isset($this->post_var['nomerazao'])) ? $this->post_var['nomerazao'] : '' ?>" type="text"  class="span3" /></div>
					</div>


					<div class="control-group">
						<label class="control-label">Sobrenome <span class="required">*</span></label>
						<div class="controls"><input maxlength="100" placeholder="Sobrenome" name="sobrenomefantasia" value="<?php echo (isset($this->post_var['sobrenomefantasia'])) ? $this->post_var['sobrenomefantasia'] : '' ?>" type="text"  class="span3" /></div>
					</div>


					<div class="control-group">
						<label class="control-label">RG <span class="required">*</span></label>
						<div class="controls"><input maxlength="20" placeholder="RG" name="rg" value="<?php echo (isset($this->post_var['rg'])) ? $this->post_var['rg'] : '' ?>" type="text"  class="span3" /></div>
					</div>


					<div class="control-group">
						<label class="control-label">CPF <span class="required">*</span></label>
						<div class="controls"><input maxlength="20" placeholder="CPF" name="cpf" value="<?php echo (isset($this->post_var['cpf'])) ? $this->post_var['cpf'] : '' ?>" type="text"  class="span3" /></div>
					</div>

					<div class="control-group">
						<label class="control-label">Data de Nascimento </label>
						<div class="controls"><input  placeholder="datanascimento" name="datanascimento" value="<?php echo (isset($this->post_var['datanascimento'])) ? $this->post_var['datanascimento'] : '' ?>" type="text"  class="span3" /></div>
					</div>


				</div>
				<!-- END BOX-TERCEIRIZADO -->


				<div class="control-group">
					<label class="control-label">Email <span class="required">*</span></label>
					<div class="controls"><input maxlength="100" placeholder="Email" name="email" value="<?php echo (isset($this->post_var['email'])) ? $this->post_var['email'] : '' ?>" type="text"  class="span3" /></div>
				</div>


				<div class="control-group">
					<label class="control-label">Telefone </label>
					<div class="controls"><input maxlength="20" placeholder="Telefone" name="telefone" value="<?php echo (isset($this->post_var['telefone'])) ? $this->post_var['telefone'] : '' ?>" type="text"  class="span3" /></div>
				</div>


				<div class="control-group">
					<label class="control-label">Celular <span class="required">*</span></label>
					<div class="controls"><input maxlength="20" placeholder="Celular" name="celular" value="<?php echo (isset($this->post_var['celular'])) ? $this->post_var['celular'] : '' ?>" type="text"  class="span3" /></div>
				</div>



				<div class="control-group">
					<label class="control-label">Nº Registro CNH <span class="required">*</span></label>
					<div class="controls"><input maxlength="20" placeholder="Nº Registro CNH" name="registrocnh" value="<?php echo (isset($this->post_var['registrocnh'])) ? $this->post_var['registrocnh'] : '' ?>" type="text"  class="span3" /></div>
				</div>

				<div class="control-group">
					<label class="control-label">Categoria CNH <span class="required">*</span></label>
					<div class="controls">
						<select name="categoriacnh" data-placeholder="Categoria CNH" class="select">
							<option value="">Selecione...</option>
							<option value="A">A</option><option value="B">B</option><option value="C">C</option><option value="D">D</option><option value="E">E</option><option value="AB">AB</option><option value="AC">AC</option><option value="AD">AD</option><option value="AE">AE</option>
						</select>
						
					</div>
				</div>


				<div class="control-group">
					<label class="control-label">Data 1ª CNH </label>
					<div class="controls"><input  placeholder="Data 1ª CNH" name="dataprimeiracnh" value="<?php echo (isset($this->post_var['dataprimeiracnh'])) ?   Mn_Util::formPostVarData($this->post_var['dataprimeiracnh']) : '' ?>" type="text"  class="span3" /></div>
				</div>


				<div class="control-group">
					<label class="control-label">Data validade CNH <span class="required">*</span></label>
					<div class="controls"><input  placeholder="Data validade CNH" name="datavalidadecnh" value="<?php echo (isset($this->post_var['datavalidadecnh'])) ?  Mn_Util::formPostVarData($this->post_var['datavalidadecnh']) : '' ?>" type="text"  class="span3" /></div>
				</div>

				<div class="control-group">
					<label class="control-label">Data Emissão CNH <span class="required">*</span></label>
					<div class="controls"><input  placeholder="Data Emissão CNH" name="dataemissaocnh" value="<?php echo (isset($this->post_var['dataemissaocnh'])) ?  Mn_Util::formPostVarData($this->post_var['dataemissaocnh']) : '' ?>" type="text"  class="span3" /></div>
				</div>

				<div class="control-group">
					<label class="control-label">Anexar CNH </label>
					<div class="controls">
						<?php if ((isset($this->post_var['idarquivocnh'])) && ((int)$this->post_var['idarquivocnh']>0)) : ?>
							<?php echo $this->getArquivo($this->post_var['idarquivocnh']) ?>
						
							<?php if (!$this->visualizar) : ?>
								<div class="checkbox block">
									<label><input type="checkbox" name="excluir_idarquivocnh" value="excluir" /> Desejo excluir o arquivo</label>
								</div>
							<?php endif; ?>
						<?php endif; ?>
						
						<input placeholder="Arquivo" name="idarquivocnh" type="file"  />
					</div>
				</div>

				<div class="control-group">
					<label class="control-label">Observações </label>
					<div class="controls"><textarea class="span12" name="observacao" cols="5" rows="5"><?php echo (isset($this->post_var)) ? $this->post_var["observacao"] : ''; ?></textarea></div>
				</div>

				<div class="control-group">
					<label class="control-label">Avisar Venc. antes de </label>
					<div class="controls"><input  placeholder="Avisar Venc. antes de" name="diasaviso_vencimento" value="<?php echo (isset($this->post_var['diasaviso_vencimento'])) ? $this->post_var['diasaviso_vencimento'] : '' ?>" type="text"  class="span3" /></div>
				</div>


				<div class="control-group">
					<label class="control-label">Status <span class="required">*</span></label>
					<div class="controls">
						<select name="status1" data-placeholder="Status" class="select">
							<option value="">Selecione...</option>
							<option value="Ativo">Ativo</option><option value="Bloquedo">Bloquedo</option>
						</select>
						
					</div>
				</div>

						    
						    
						    </div>
						    
			                <div class="form-actions align-right">
			                	<?php if ((isset($this->visualizar)) && ($this->visualizar)) : ?>
			                		<button onclick="window.history.back()" class="btn btn-danger cancelar" type="button">Voltar</button>
			                	<?php else : ?>
				                	<button class="btn btn-primary enviar" type="submit">Salvar</button>
				                	<button onclick="window.history.back()" class="btn btn-danger cancelar" type="button">Cancelar</button>
			                	<?php endif; ?>
			                </div>
						</div>
						<!-- /general form elements -->

					</fieldset> 

				</form>
				<!-- /basic inputs -->

		    </div>
		    <!-- /content wrapper -->

		</div>
		<!-- content -->
<script type="text/javascript" src="<?php echo $this->baseUrl('/public/scripts/jquery-webcam/capture.js') ?>"></script>					
<script type="text/javascript" src="<?php echo $this->baseUrl('/public/scripts/admin/logisticamotoristas_form.js') ?>"></script>
<script type="text/javascript">
	var form_values = {};
	
	<?php if (isset($this->post_var)) :  ?>
		form_values.idfuncionario = '<?php echo (isset($this->post_var['idfuncionario'])) ? $this->post_var['idfuncionario'] : '' ?>';

		form_values.idfornecedor = '<?php echo (isset($this->post_var['idfornecedor'])) ? $this->post_var['idfornecedor'] : '' ?>';
form_values.categoriacnh = '<?php echo (isset($this->post_var['categoriacnh'])) ? $this->post_var['categoriacnh'] : '' ?>';

form_values.status1 = '<?php echo (isset($this->post_var['status1'])) ? $this->post_var['status1'] : $this->post_var['status'] ?>';

 

	<?php endif; ?>

	visualizar = <?php echo  ((isset($this->visualizar)) && ($this->visualizar))  ? 'true' : 'false' ?>;
</script>
