		<!-- Content -->
		<div id="content">

		    <!-- Content wrapper -->
		    <div class="wrapper">

			    <!-- Breadcrumbs line -->
			    <div class="crumbs">
			    	<?php echo $this->render('/helpers/breadcrumb.phtml') ?>
			    </div>
			    <!-- /breadcrumbs line -->

			    <!-- Page header -->
			    <div class="page-header">
			    	<div class="page-title">
				    	<h5>Formulário do Configuração de nota</h5>
				    	<span>Verifique os campos e preencha com os dados</span>
			    	</div>
			    </div>
			    <!-- /page header -->

			    <?php if (isset($this->crudMessage)) : ?>
					<div class="alert alert-success">
	                	<button data-dismiss="alert" class="close" type="button">×</button>
	                    <strong>Operação realizada com sucesso!</strong>
		    			<span><br /><?php echo $this->crudMessage ?></span>
	                </div>			    
			    <?php endif; ?>

				<form id="form" name="form" action="" method="post" class="form-horizontal" enctype="multipart/form-data"> 
					<input type="hidden" value="<?php echo (isset($this->post_var)) ? $this->post_var["id"] : ''; ?>" name="id" id="id" />
					
					<fieldset>
						<!-- General form elements -->
						<div class="widget row-fluid">
						    <div class="navbar">
						        <div class="navbar-inner">
						            <h6>Digite as informações do formulário</h6>
						        </div>
						    </div>

						    <div class="well">
								<?php if (isset($this->erros)) : ?>
									<div class="alert alert-error margin">
				                        <button data-dismiss="alert" class="close" type="button">×</button>
				                        <strong>Há erros no formulário!</strong>
					    				<?php foreach ($this->erros as $k=>$v) : ?>
					    					<span><br />- <?php echo $v ?></span>
					    				<?php endforeach;?>			                        
				                    </div>
			                    <?php endif; ?>						    
	

<?php /*?>
<?php */?>

				<div class="control-group">
					<label class="control-label">Escola <span class="required">*</span></label>
					<div class="controls">
		                <select name="idescola" data-placeholder="Escola" class="select">
							<option value="">Selecione...</option>
							<?php foreach (Escolas::getEscolasHelper(array('status'=>'Ativo', 'idsecretaria'=>Usuarios::getSecretariaAtiva( Usuarios::getUsuario('id'), 'id' ))) as $k=>$v) : ?>
							<option value="<?php echo $v['id'] ?>"><?php echo $v['escola'] ?></option>
							<?php endforeach;?>
						</select>
						
					</div>
				</div>


				<div class="control-group">
					<label class="control-label">Quantidade de provas </label>
					<div class="controls"><input  placeholder="Quantidade de notas" name="quantidadenotas" value="<?php echo (isset($this->post_var['quantidadenotas'])) ? $this->post_var['quantidadenotas'] : '' ?>" type="text"  class="span3" /></div>
				</div>

				<div class="control-group">
					<label class="control-label">Quantidade de trabalhos </label>
					<div class="controls"><input  placeholder="Quantidade de trabalhos" name="quantidadetrabalhos" value="<?php echo (isset($this->post_var['quantidadetrabalhos'])) ? $this->post_var['quantidadetrabalhos'] : '' ?>" type="text"  class="span3" /></div>
				</div>

				<div class="control-group">
					<label class="control-label">Quantidade de tarefas </label>
					<div class="controls"><input  placeholder="Quantidade de tarefas" name="quantidadetarefas" value="<?php echo (isset($this->post_var['quantidadetarefas'])) ? $this->post_var['quantidadetarefas'] : '' ?>" type="text"  class="span3" /></div>
				</div>




				<div class="control-group">
					<label class="control-label">Percentual(%) dos trabalhos</label>
					<div class="controls"><input  placeholder="Percentual(%) dos trabalhos" name="percentualtrabalhos" value="<?php echo (isset($this->post_var['percentualtrabalhos'])) ? number_format($this->post_var['percentualtrabalhos'], '2', ',', '.') : '' ?>" type="text"  class="span3" /></div>
				</div>

				<div class="control-group">
					<label class="control-label">Percentual(%) das provas</label>
					<div class="controls"><input  placeholder="Percentual(%) das provas" name="percentualprovas" value="<?php echo (isset($this->post_var['percentualprovas'])) ? number_format($this->post_var['percentualprovas'], '2', ',', '.') : '' ?>" type="text"  class="span3" /></div>
				</div>

				<div class="control-group">
					<label class="control-label">Percentual(%) das tarefas</label>
					<div class="controls"><input  placeholder="Percentual(%) das tarefas" name="percentualtarefas" value="<?php echo (isset($this->post_var['percentualtarefas'])) ? number_format($this->post_var['percentualtarefas'], '2', ',', '.') : '' ?>" type="text"  class="span3" /></div>
				</div>

				<div class="control-group">
					<label class="control-label">Percentual(%) da participação</label>
					<div class="controls"><input  placeholder="Percentual(%) da participação" name="percentualparticipacao" value="<?php echo (isset($this->post_var['percentualparticipacao'])) ? number_format($this->post_var['percentualparticipacao'], '2', ',', '.') : '' ?>" type="text"  class="span3" /></div>
				</div>







				<div class="control-group">
					<label class="control-label">Periodo de notas <span class="required">*</span></label>
					<div class="controls">
						<select name="periodos" data-placeholder="Periodo de notas" class="select" onchange="setCampos(this)">
							<option value="">Selecione...</option>
							<option value="Bimestre">Bimestre</option><option value="Trimestre">Trimestre</option>
						</select>
						
					</div>
				</div>


				<div class="control-group">
					<label class="control-label lbl_dtinicio">Data de Inicio</label>
					<div class="controls"><input placeholder="Data de Inicio" name="datainicio1" value="<?php echo (isset($this->post_var['datainicio1'])) ? Mn_Util::formPostVarData($this->post_var['datainicio1']) : '' ?>" type="text"  class="span3" /></div>
				</div>


				<div class="control-group">
					<label class="control-label lbl_dtfim">Data de Fim</label>
					<div class="controls"><input placeholder="Data de Fim" name="datafim1" value="<?php echo (isset($this->post_var['datafim1'])) ? Mn_Util::formPostVarData($this->post_var['datafim1']) : '' ?>" type="text"  class="span3" /></div>
				</div>


				<div class="control-group">
					<label class="control-label lbl_dtinicio">Data de Inicio</label>
					<div class="controls"><input placeholder="Data de Inicio" name="datainicio2" value="<?php echo (isset($this->post_var['datainicio2'])) ? Mn_Util::formPostVarData($this->post_var['datainicio2']) : '' ?>" type="text"  class="span3" /></div>
				</div>


				<div class="control-group">
					<label class="control-label lbl_dtfim">Data de Fim</label>
					<div class="controls"><input placeholder="Data de Fim" name="datafim2" value="<?php echo (isset($this->post_var['datafim2'])) ? Mn_Util::formPostVarData($this->post_var['datafim2']) : '' ?>" type="text"  class="span3" /></div>
				</div>


				<div class="control-group">
					<label class="control-label lbl_dtinicio">Data de Inicio</label>
					<div class="controls"><input placeholder="Data de Inicio" name="datainicio3" value="<?php echo (isset($this->post_var['datainicio3'])) ? Mn_Util::formPostVarData($this->post_var['datainicio3']) : '' ?>" type="text"  class="span3" /></div>
				</div>


				<div class="control-group">
					<label class="control-label lbl_dtfim">Data de Fim</label>
					<div class="controls"><input placeholder="Data de Fim" name="datafim3" value="<?php echo (isset($this->post_var['datafim3'])) ? Mn_Util::formPostVarData($this->post_var['datafim3']) : '' ?>" type="text"  class="span3" /></div>
				</div>

<div class="trimestre" style="display:none;">
				<div class="control-group">
					<label class="control-label lbl_dtinicio">Data de Inicio</label>
					<div class="controls"><input placeholder="Data de Inicio" name="datainicio4" value="<?php echo (isset($this->post_var['datainicio4'])) ? Mn_Util::formPostVarData($this->post_var['datainicio4']) : '' ?>" type="text"  class="span3" /></div>
				</div>


				<div class="control-group">
					<label class="control-label lbl_dtfim">Data de Fim</label>
					<div class="controls"><input placeholder="Data de Fim" name="datafim4" value="<?php echo (isset($this->post_var['datafim4'])) ? Mn_Util::formPostVarData($this->post_var['datafim4']) : '' ?>" type="text"  class="span3" /></div>
				</div>
</div>

				<div class="control-group">
					<label class="control-label">Status <span class="required">*</span></label>
					<div class="controls">
						<select name="status1" data-placeholder="Status" class="select">
							<option value="">Selecione...</option>
							<option value="Ativo">Ativo</option><option value="Bloqueado">Bloqueado</option>
						</select>
						
					</div>
				</div>


						    
						    
						    </div>
						    
			                <div class="form-actions align-right">
			                	<?php if ((isset($this->visualizar)) && ($this->visualizar)) : ?>
			                		<button onclick="window.history.back()" class="btn btn-danger cancelar" type="button">Voltar</button>
			                	<?php else : ?>
				                	<button class="btn btn-primary enviar" type="submit">Salvar</button>
				                	<button onclick="window.history.back()" class="btn btn-danger cancelar" type="button">Cancelar</button>
			                	<?php endif; ?>
			                </div>
						</div>
						<!-- /general form elements -->

					</fieldset> 

				</form>
				<!-- /basic inputs -->

		    </div>
		    <!-- /content wrapper -->

		</div>
		<!-- content -->
				
<script type="text/javascript" src="<?php echo $this->baseUrl('/public/scripts/admin/escolasconfiguracoes_form.js') ?>"></script>
<script type="text/javascript">
	var form_values = {};
	
	<?php if (isset($this->post_var)) :  ?>
		form_values.idsecretaria = '<?php echo (isset($this->post_var['idsecretaria'])) ? $this->post_var['idsecretaria'] : '' ?>';

form_values.idescola = '<?php echo (isset($this->post_var['idescola'])) ? $this->post_var['idescola'] : '' ?>';

form_values.periodos = '<?php echo (isset($this->post_var['periodos'])) ? $this->post_var['periodos'] : '' ?>';

form_values.status1 = '<?php echo (isset($this->post_var['status1'])) ? $this->post_var['status1'] : $this->post_var['status'] ?>';


	<?php endif; ?>

	visualizar = <?php echo  ((isset($this->visualizar)) && ($this->visualizar))  ? 'true' : 'false' ?>;
</script>
