<!--content-->
<div id="content">
    <!--wrapper-->
    <div class="wrapper">
        <!-- Breadcrumbs line -->
        <div class="crumbs">
            <?php echo $this->render('/helpers/breadcrumb.phtml') ?>
        </div>
        <!-- /breadcrumbs line -->
        <!-- Page header -->
        <div class="page-header">
            <div class="page-title">
                <h5>Termos de aceite</h5>
                <span>Visualize os termos de aceite dos patrimônios</span>
            </div>
        </div>
        <!-- /page header -->

        <?php if (isset($this->crudMessage)) : ?>
            <div class="alert alert-success">
                <button data-dismiss="alert" class="close" type="button">×</button>
                <strong>Operação realizada com sucesso!</strong>
                <span><br /><?php echo $this->crudMessage ?></span>
            </div>
        <?php endif; ?>

        <div class="widget">
            <form method="post" action="#" class="form-horizontal">
                <input type="hidden" value="<?php echo (isset($this->post_var['sorting'])) ? $this->post_var['sorting'] : '' ?>" name="sorting" />
                <?php
                $dados = Usuarios::getUsuarios(array('id' => Usuarios::getUsuario('id')));
                $_data = $dados[0];
                $perfil = $_data['idperfil'];

                if ($perfil == 29):
                    $escola = Usuarios::getEscolaAtiva(Usuarios::getUsuario('id'));
                    ?>
                    <input type="hidden" name="idescola" value="<?php echo $escola['id'] ?>">
<?php endif; ?>
                <input type="hidden" name="iddepartamento" value="<?php echo $perfil; ?>">

                <div class="navbar">
                    <div class="navbar-inner">
                        <h6>Visualizando registros</h6>
                        <?php if (Mn_Util::isAccess($this->getController(), 'adicionar')): ?>
                            <a style="float:right;" href="<?php echo $this->baseUrl() ?>/<?php echo 'admin' ?>/<?php echo $this->getController() ?>/adicionar" class="btn btn-primary"><span class="icon-plus"></span>&nbsp;Adicionar termo</a>
<?php endif; ?>
                    </div>
                    <div class="table-overflow">
                        <table class="table table-content">
                            <thead>
                                <tr>
                                    <th class="s-sequecial sorting">Sequencial/Ano</th>
                                    <th class="sorting s-datalancamento">Data lançamento</th>
                                    <th class="sorting s-local">Local</th>
                                    <th class="comboescola" style="display: none">Escola</th>
                                    <th class="sorting s-status">Status</th>
                                    <th width="20">Ações</th>
                                </tr>
                                <tr>
                                    <th>
                                        <input name="sequencial" value="<?php echo (isset($this->post_var['sequencial'])) ? $this->post_var['sequencial'] : '' ?>" type="text" placeholder="Sequencial/Ano" class="span3" style="width:80px;">
                                    </th>
                                    <th>
                                        <input name="datalancamento_i" value="<?php echo (isset($this->post_var['datalancamento_i'])) ? Mn_Util::formPostVarData($this->post_var['datalancamento_i']) : '' ?>" type="text" placeholder="Data inicial" class="span3" style="width:80px" autocomplete="off">
                                        <input name="datalancamento_f" value="<?php echo (isset($this->post_var['datalancamento_f'])) ? Mn_Util::formPostVarData($this->post_var['datalancamento_f']) : '' ?>" type="text" placeholder="Data final" class="span3" style="width:80px" autocomplete="off">
                                    </th>
                                    <?php if (UsuariosPerfis::isAllowedCrudPatrimonio($perfil)): ?>
                                        <th>
                                            <div>
                                                <select name="iddepartamento" placeholder="Local" class="select" onchange="setEscola(this)" id="iddepartamento">
                                                    <option value="">Todos</option>
                                                    <?php foreach (UsuariosPerfis::getPerfisHelpers() as $k => $v) : ?>
                                                        <option value="<?php echo $v['id'] ?>"><?php echo $v['perfil'] ?></option>
                                                    <?php endforeach; ?>
                                                </select>
                                            </div>
                                        </th>
                                        <th class="comboescola" style="display: none">
                                            <div>
                                                <select class="select" name="idescola" placeholder="Escola">
                                                    <option value="">Todas</option>
                                                    <?php foreach (Escolas::getEscolasHelper() as $chave => $escola) :
                                                        ?>
                                                        <option value="<?php echo $escola['id'] ?>"><?php echo $escola['escola'] ?></option>
                                                    <?php endforeach; ?>
                                                </select>
                                            </div>
                                        </th>
                                    <?php else: ?>
                                        <th>
                                            <?php echo UsuariosPerfis::getPerfilNomeByIdHelper($perfil); ?>
                                        </th>
                                    <?php endif; ?>
                                    <?php if ($perfil == 29): ?>
                                        <th>
                                            <?php echo ($perfil == 29) ? Escolas::getEscolaNomeByIdHelper($escola['id']) : UsuariosPerfis::getPerfilNomeByIdHelper($perfil); ?>
                                        </th>
                                        <?php endif; ?>
                                    <th>
                                        <div>
                                            <select name="status1" placeholder="Todos" class="select" id="status1">
                                                <option value="">Todos</option>
                                                <!--<option value="Aguardando o aceite">Aguardando o aceite</option>-->
                                                <option value="Ativo">Ativo</option><option value="Não Ativo">Não Ativo</option>
                                            </select>
                                        </div>
                                    </th>
                                    <th>
                                        <button class="btn btn-mini btn-primary" type="submit">Pesquisar</button>
                                    </th>
                                </tr>
                            </thead>

                            <tbody>
<?php if (sizeof($this->rows) == 0) : ?>
                                    <tr>
                                        <td colspan="6">Nenhum registro foi encontrado!</td>
                                    </tr>
<?php else: ?>
                                    <?php foreach ($this->rows as $row): ?>
                                        <tr>
                                            <td><?php echo $row['sequencial'] ?></td>
                                            <td><?php echo date('d/m/Y', strtotime($row['datalancamento'])) ?></td>
                                            <td>
        <?php if (UsuariosPerfis::isAllowedCrudPatrimonio($perfil)): ?>
                                                    <?php echo ($row['iddepartamento'] == 29) ? Escolas::getEscolaNomeByIdHelper($row['idescola']) : UsuariosPerfis::getPerfilNomeByIdHelper($row['iddepartamento']); ?>
                                                <?php else: ?>
                                                    <?php if ($row['iddepartamento'] == 29 AND empty($row['idescola'])): ?>
                                                        <?php echo Escolas::getEscolaNomeByIdHelper($row['idescola']); ?>
                                                    <?php else: ?>
                                                        <?php echo UsuariosPerfis::getPerfilNomeByIdHelper($row['iddepartamento']); ?>
                                                    <?php endif; ?>
                                                <?php endif; ?>
                                            </td>
                                            <td class="comboescola" style="display: none">
                                                <?php
                                                if ($row['idescola'] != "")
                                                    echo Escolas::getEscolaNomeByIdHelper($row['idescola']);
                                                ?>
                                            </td>
                                            <td><?php echo $row['status'] ?></td>
                                            <td>
                                                <ul class="table-controls">
                                                    <li><a title="" class="btn tip" href="<?php echo $this->baseUrl() ?>/<?php echo 'admin' ?>/<?php echo $this->getController() ?>/visualizar/id/<?php echo $this->row['id'] ?>" data-original-title="Visualizar"><i class="icon-eye-open"></i></a>
                                                    </li>
        <?php if (Mn_Util::isAccess($this->getController(), 'editar')) : ?>
                                                        <li><a title="" class="btn tip" href="<?php echo $this->baseUrl() ?>/<?php echo 'admin' ?>/<?php echo $this->getController() ?>/editar/id/<?php echo $row['id'] ?>" data-original-title="Editar"><i class="icon-pencil"></i></a></li>
                                                    <?php endif; ?>
                                                    <?php if (Mn_Util::isAccess($this->getController(), 'excluir')) : ?>
                                                        <li><a title="" class="btn tip" href="javascript:confirmDelete('<?php echo $row['id']; ?>','registro');" data-original-title="Excluir"><i class="icon-remove"></i></a></li>
                                                    <?php endif; ?>
                                                </ul>
                                            </td>
                                        </tr>
    <?php endforeach; ?>
                                <?php endif; ?>
                            </tbody>
                        </table>
                    </div>
                </div>
<?php echo $this->render('/helpers/paginator.phtml') ?>
            </form>
        </div>
    </div><!-- /div wrapper -->
</div><!-- /div content -->
<script type="text/javascript" src="<?php echo $this->baseUrl('/public/scripts/admin/patrimoniostermos_index.js') ?>"></script>
<script type="text/javascript">

                                                var form_values = {};
<?php if (isset($this->post_var)) : ?>
                                                    form_values.idusuariologado = '<?php echo (isset($this->post_var['idusuariologado'])) ? $this->post_var['idusuariologado'] : '' ?>';

                                                    form_values.idescola = '<?php echo (isset($this->post_var['idescola'])) ? $this->post_var['idescola'] : '' ?>';

                                                    form_values.sequencial = '<?php echo (isset($this->post_var['sequencial'])) ? $this->post_var['sequencial'] : '' ?>';

                                                    form_values.datalancamento = '<?php echo (isset($this->post_var['datalancamento'])) ? $this->post_var['datalancamento'] : '' ?>';

                                                    form_values.iddepartamento = '<?php echo (isset($this->post_var['iddepartamento'])) ? $this->post_var['iddepartamento'] : '' ?>';

                                                    form_values.status1 = '<?php echo (isset($this->post_var['status1'])) ? $this->post_var['status1'] : $this->post_var['status'] ?>';
<?php endif; ?>

                                                var sorting = ["sequencial", "datalancamento", "horalancamento", "idescola", "idpatrimonio", "observacoes", "status"];

</script>