		<!-- Content -->
		<div id="content">

		    <!-- Content wrapper -->
		    <div class="wrapper">

			    <!-- Breadcrumbs line -->
			    <div class="crumbs">
			    	<?php echo $this->render('/helpers/breadcrumb.phtml') ?>
			    </div>
			    <!-- /breadcrumbs line -->

			    <!-- Page header -->
			    <div class="page-header">
			    	<div class="page-title">
				    	<h5>Formulário do livro</h5>
				    	<span>Verifique os campos e preencha com os dados</span>
			    	</div>
			    </div>
			    <!-- /page header -->

			    <?php if (isset($this->crudMessage)) : ?>
					<div class="alert alert-success">
	                	<button data-dismiss="alert" class="close" type="button">×</button>
	                    <strong>Operação realizada com sucesso!</strong>
		    			<span><br /><?php echo $this->crudMessage ?></span>
	                </div>			    
			    <?php endif; ?>

				<form id="form" name="form" action="" method="post" class="form-horizontal" enctype="multipart/form-data"> 
					<input type="hidden" value="<?php echo (isset($this->post_var)) ? $this->post_var["id"] : ''; ?>" name="id" id="id" />
					
					<fieldset>
						<!-- General form elements -->
						<div class="widget row-fluid">
						    <div class="navbar">
						        <div class="navbar-inner">
						            <h6>Digite as informações do formulário</h6>
						        </div>
						    </div>

						    <div class="well">
								<?php if (isset($this->erros)) : ?>
									<div class="alert alert-error margin">
				                        <button data-dismiss="alert" class="close" type="button">×</button>
				                        <strong>Há erros no formulário!</strong>
					    				<?php foreach ($this->erros as $k=>$v) : ?>
					    					<span><br />- <?php echo $v ?></span>
					    				<?php endforeach;?>			                        
				                    </div>
			                    <?php endif; ?>						    
						    

				<div class="control-group">
					<label class="control-label">1º Autor <span class="required">*</span></label>
					<div class="controls"><input maxlength="500" placeholder="1º Autor" name="primeiroautor" value="<?php echo (isset($this->post_var['primeiroautor'])) ? $this->post_var['primeiroautor'] : '' ?>" type="text"  class="span3" /></div>
				</div>


				<div class="control-group">
					<label class="control-label">2º Autor </label>
					<div class="controls"><input maxlength="500" placeholder="2º Autor" name="segundoautor" value="<?php echo (isset($this->post_var['segundoautor'])) ? $this->post_var['segundoautor'] : '' ?>" type="text"  class="span3" /></div>
				</div>


				<div class="control-group">
					<label class="control-label">3º Autor </label>
					<div class="controls"><input maxlength="500" placeholder="3º Autor" name="terceiroautor" value="<?php echo (isset($this->post_var['terceiroautor'])) ? $this->post_var['terceiroautor'] : '' ?>" type="text"  class="span3" /></div>
				</div>


				<div class="control-group">
					<label class="control-label">Local </label>
					<div class="controls"><input maxlength="500" placeholder="Local" name="local" value="<?php echo (isset($this->post_var['local'])) ? $this->post_var['local'] : '' ?>" type="text"  class="span3" /></div>
				</div>


				<div class="control-group">
					<label class="control-label">Nº da edição </label>
					<div class="controls"><input maxlength="500" placeholder="Nº da edição" name="edicao" value="<?php echo (isset($this->post_var['edicao'])) ? $this->post_var['edicao'] : '' ?>" type="text"  class="span3" /></div>
				</div>


				<div class="control-group">
					<label class="control-label">Volumes </label>
					<div class="controls"><input maxlength="500" placeholder="Volumes" name="volumes" value="<?php echo (isset($this->post_var['volumes'])) ? $this->post_var['volumes'] : '' ?>" type="text"  class="span3" /></div>
				</div>


				<div class="control-group">
					<label class="control-label">Páginas </label>
					<div class="controls"><input  placeholder="Páginas" name="paginas" value="<?php echo (isset($this->post_var['paginas'])) ? $this->post_var['paginas'] : '' ?>" type="text"  class="span3" /></div>
				</div>


				<div class="control-group">
					<label class="control-label">Título <span class="required">*</span></label>
					<div class="controls"><input maxlength="500" placeholder="Título" name="titulo" value="<?php echo (isset($this->post_var['titulo'])) ? $this->post_var['titulo'] : '' ?>" type="text"  class="span3" /></div>
				</div>


				<div class="control-group">
					<label class="control-label">Subtítulo </label>
					<div class="controls"><input maxlength="500" placeholder="Subtítulo" name="subtitulo" value="<?php echo (isset($this->post_var['subtitulo'])) ? $this->post_var['subtitulo'] : '' ?>" type="text"  class="span3" /></div>
				</div>


				<div class="control-group">
					<label class="control-label">Editora <span class="required">*</span></label>
					<div class="controls"><input maxlength="500" placeholder="Editora" name="editora" value="<?php echo (isset($this->post_var['editora'])) ? $this->post_var['editora'] : '' ?>" type="text"  class="span3" /></div>
				</div>


				<div class="control-group">
					<label class="control-label">Ano <span class="required">*</span></label>
					<div class="controls"><input  placeholder="Ano" name="ano" value="<?php echo (isset($this->post_var['ano'])) ? $this->post_var['ano'] : '' ?>" type="text"  class="span3" /></div>
				</div>


				<div class="control-group">
					<label class="control-label">Série </label>
					<div class="controls"><input maxlength="500" placeholder="Série" name="serie" value="<?php echo (isset($this->post_var['serie'])) ? $this->post_var['serie'] : '' ?>" type="text"  class="span3" /></div>
				</div>


				<div class="control-group">
					<label class="control-label">ISBN </label>
					<div class="controls"><input maxlength="500" placeholder="ISBN" name="isbn" value="<?php echo (isset($this->post_var['isbn'])) ? $this->post_var['isbn'] : '' ?>" type="text"  class="span3" /></div>
				</div>


				<div class="control-group">
					<label class="control-label">Status <span class="required">*</span></label>
					<div class="controls">
						<select name="status1" data-placeholder="Status" class="select">
							<option value="">Selecione...</option>
							<option value="Ativo">Ativo</option><option value="Bloqueado">Bloqueado</option>
						</select>
						
					</div>
				</div>

						    
						    
						    </div>
						    
			                <div class="form-actions align-right">
			                	<?php if ((isset($this->visualizar)) && ($this->visualizar)) : ?>
			                		<button onclick="window.history.back()" class="btn btn-danger cancelar" type="button">Voltar</button>
			                	<?php else : ?>
				                	<button class="btn btn-primary enviar" type="submit">Salvar</button>
				                	<button onclick="window.history.back()" class="btn btn-danger cancelar" type="button">Cancelar</button>
			                	<?php endif; ?>
			                </div>
						</div>
						<!-- /general form elements -->

					</fieldset> 

				</form>
				<!-- /basic inputs -->

		    </div>
		    <!-- /content wrapper -->

		</div>
		<!-- content -->
				
<script type="text/javascript" src="<?php echo $this->baseUrl('/public/scripts/admin/cadastrolivros_form.js') ?>"></script>
<script type="text/javascript">
	var form_values = {};
	
	<?php if (isset($this->post_var)) :  ?>
		form_values.status1 = '<?php echo (isset($this->post_var['status1'])) ? $this->post_var['status1'] : $this->post_var['status'] ?>';


	<?php endif; ?>

	visualizar = <?php echo  ((isset($this->visualizar)) && ($this->visualizar))  ? 'true' : 'false' ?>;
</script>
