        <!-- Content -->

        <div id="content">

            <!-- Content wrapper -->
            <div class="wrapper">

                <!-- Breadcrumbs line -->
                <div class="crumbs">
                    <?php echo $this->render('/helpers/breadcrumb.phtml') ?>
                </div>
                <!-- /breadcrumbs line -->

                <!-- Page header -->
                <div class="page-header">
                    <div class="page-title">
                            <h5>Formulário de Alimento</h5>
                            <span>Verifique os campos e preencha com os dados</span>
                    </div>
                </div>
                <!-- /page header -->

                <?php if (isset($this->crudMessage)) : ?>
                    <div class="alert alert-success">
                        <button data-dismiss="alert" class="close" type="button">×</button>
                        <strong>Operação realizada com sucesso!</strong>
                        <span><br /><?php echo $this->crudMessage ?></span>
                    </div>			    
                <?php endif; ?>

                <form id="form" name="form" action="" method="post" class="form-horizontal" enctype="multipart/form-data"> 
                    <input type="hidden" value="<?php echo (isset($this->post_var)) ? $this->post_var["id"] : ''; ?>" name="id" id="id" />

                    <fieldset>
                        <!-- General form elements -->
                        <div class="widget row-fluid">
                            <div class="navbar">
                                <div class="navbar-inner">
                                    <h6>Digite as informações do formulário</h6>
                                </div>
                            </div>

                            <div class="well">
                                <?php if (isset($this->erros)) : ?>
                                        <div class="alert alert-error margin">
                                            <button data-dismiss="alert" class="close" type="button">×</button>
                                            <strong>Há erros no formulário!</strong>
                                            <?php foreach ($this->erros as $k=>$v) : ?>
                                                    <span><br />- <?php echo $v ?></span>
                                            <?php endforeach;?>			                        
                                        </div>
                                <?php endif; ?>						    


                                <input name="id" value="<?php echo (isset($this->post_var)) ? $this->post_var['id'] :''; ?>" type="hidden" placeholder="id" class="span3" /> 

                                <div class="control-group">
					<label class="control-label">Tipo de Alimento <span class="required">*</span></label>
					<div class="controls">
						<select name="idtipoalimento" data-placeholder="Tipo de Alimento" class="select">
							<option value="">Selecione...</option>
							<?php foreach (Nutricaotacotiposalimentos::getNutricaotacotiposalimentosHelper(array('status'=>'Ativo')) as $k=>$v) : ?>
                                                        <option <?php echo ((isset($this->post_var)) && $this->post_var['idtipoalimento']== $v['id']) ? 'selected':''; ?> value="<?php echo $v['id'] ?>"><?php echo $v['tipo'] ?></option>
							<?php endforeach;?>
						</select>
					</div>
				</div>    
                                
                                <div class="control-group"> 
                                 <label class="control-label">Número do Alimento <span class="required">*</span></label> 
                                  <div class="controls"> 
                                      <input name="numero_alimento" value="<?php echo (isset($this->post_var)) ? $this->post_var['numero_alimento'] :''; ?>" type="number" placeholder="numero_alimento" class="span3" /> 
                                 </div> 
                                </div>
                                
                                <div class="control-group"> 
                                 <label class="control-label">Descrição <span class="required">*</span></label> 
                                  <div class="controls"> 
                                  <input name="descricao" value="<?php echo (isset($this->post_var)) ? $this->post_var['descricao'] :''; ?>" type="text" placeholder="descricao" class="span3" /> 
                                 </div> 
                                </div>
                                
                                <div class="control-group">
					<label class="control-label">Tabela Fonte </label>
					<div class="controls">
						<select name="ds_fonte" data-placeholder="Tabela Fonte" class="select">
							<option value="">Selecione...</option>
                                    <option value="IBGE">IBGE</option>
                                    <option value="INFFABRICANTE">INF. FABRICANTE</option>
                                    <option value="NAOINFORMADO">NÃO INFORMADO</option>
                                    <option value="NESTLE">NESTLÉ</option>
                                    <option value="NOVARTIS">NOVARTIS</option>
                                    <option value="NUTRIMED">NUTRIMED</option>
                                    <option value="PINHEIRO">PINHEIRO</option>
                                    <option value="SUPPORT">SUPPORT</option>
                                    <option value="TABPHILIPPIST">TAB. PHILIPPI ST</option>
                                    <option value="TACO">TACO</option>
                                    <option value="TACO2011">TACO 4 Revisada 2011</option>
						</select>
					</div>
                </div>   
                
                

                    <div class="control-group"> 
                        <label class="control-label">Unidades de Medida </label> 
                        <div class="controls"> 
                           <div class="col-md-3" style="width: 25%; float:left; padding:0 8px; margin-bottom: 50px;">
                                    <table>
                                        <tr>
                                            <td>
                                                <select id='selectmedidas' class='select'>
                                                    <option> Selecione </option>
                                                    <?php

                                                        $row = Unidadescomerciais::getUnidadescomerciaisHelper(array());

                                                        foreach($row as $index):
                                                            echo '<option value="' . $index['id'] . '">' . $index['unidade'] .  '</option>';
                                                        endforeach;

                                                    ?>
                                                </select>
                                            </td>
                                            <td>
                                                <div id='adicionar' class='btn btn-info ' style='cursor: pointer'>Adicionar</div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan='2'>
                                                <div id='remover' class='btn btn-info btn-block ' style='cursor: pointer'>Remover Selecionados</div>
                                            </td>
                                        </tr>
                                    </table>
                           </div>
                           <div class="col-md-3" class='external-events-listing' style="width: 50%; float:right; padding:0 8px; margin-bottom: 50px;">
                                <table class='table' id='medidas'>
                                    <?php 

                                        $tacoalimentos = new Nutricaotacoalimentos();

                                        echo '<tr><td></td><td>Medida</td><td>QTDE em g</td></tr>';

                                        if(isset($this->post_var['id'])){
                                            $rows = $tacoalimentos->getNutricaotacoalimentosHelper(array('id'=>$this->post_var['id']));
                                            $medidas = explode(',',$rows[0]['idsmedidas']);
                                            if(isset($rows[0]['idsmedidas'])){
                                                foreach($medidas as $index):
                                                    echo '<tr><td><input name="remove" type="checkbox"></td><td><input name="opcao[]" type="hidden" value="' . Unidadescomerciais::getNutricaounidadeByIdHelper($index)['id']  .  '"> ' . Unidadescomerciais::getNutricaounidadeByIdHelper($index)['unidade'] . '</td><td>' . Unidadescomerciais::getNutricaounidadeByIdHelper($index)['valdefault']  . '</td></tr>';
                                                endforeach;
                                            }
                                        }
                                    ?>
                                </table>
                           </div>
                        </div> 
                    </div>
                                
                                <div class="box-colecoes col-sm-12 panel-group-dark" id="accordion" >
                                    <!--Importados -->                                
                                    <?php echo $this->render('/nutricaotacoalimentos/helpers/form_tabela0.phtml') ?>                                        
                                    <!--Centesimal, minerais, vitaminas e colesterol -->                                
                                    <?php echo $this->render('/nutricaotacoalimentos/helpers/form_tabela1.phtml') ?>                                        
                                    <!--Ácidos graxos-->                                
                                    <?php echo $this->render('/nutricaotacoalimentos/helpers/form_tabela2.phtml') ?>
                                    <!--Aminoacidos-->                                
                                    <?php echo $this->render('/nutricaotacoalimentos/helpers/form_tabela3.phtml') ?>
                                </div>
                                
                                <div class="control-group">
                                    <label class="control-label">Status <span class="required">*</span></label>
                                    <div class="controls">
                                        <select name="status1" data-placeholder="Status" class="select">
                                                <option value="">Selecione...</option>
                                                <option value="Ativo">Ativo</option><option value="Bloqueado">Bloqueado</option>
                                        </select>
                                    </div>
                                </div>

                            </div>

                            <div class="form-actions align-right">
                                <?php if ((isset($this->visualizar)) && ($this->visualizar)) : ?>
                                    <button onclick="window.history.back()" class="btn btn-danger cancelar" type="button">Voltar</button>
                                <?php else : ?>
                                    <button class="btn btn-primary enviar" type="submit">Salvar</button>
                                    <button onclick="window.history.back()" class="btn btn-danger cancelar" type="button">Cancelar</button>
                                <?php endif; ?>
                            </div>
                        </div>
                        <!-- /general form elements -->
                    </fieldset> 
                </form>
                <!-- /basic inputs -->
            </div>
            <!-- /content wrapper -->

        </div>
        <!-- content -->
				
<script type="text/javascript" src="<?php echo $this->baseUrl('/public/scripts/admin/nutricaotacoalimentos_form.js') ?>"></script>
<script type="text/javascript">
	var form_values = {};
	
	<?php if (isset($this->post_var)) :  ?>
		form_values.status1 = '<?php echo (isset($this->post_var['status1'])) ? $this->post_var['status1'] : $this->post_var['status'] ?>';
                form_values.ds_fonte = '<?php echo (isset($this->post_var['ds_fonte'])) ? $this->post_var['ds_fonte'] : $this->post_var['ds_fonte'] ?>';

	<?php endif; ?>

	visualizar = <?php echo  ((isset($this->visualizar)) && ($this->visualizar))  ? 'true' : 'false' ?>;
</script>
