		<!-- Content -->
		<div id="content">

		    <!-- Content wrapper -->
		    <div class="wrapper">

			    <!-- Breadcrumbs line -->
			    <div class="crumbs">
			    	<?php echo $this->render('/helpers/breadcrumb.phtml') ?>
			    </div>
			    <!-- /breadcrumbs line -->

			    <!-- Page header -->
			    <div class="page-header">
			    	<div class="page-title">
				    	<h5>Alimentos no sistema</h5>
				    	<span>Visualize os alimentos do sistema</span>
			    	</div>
			    	
			    </div>
			    <!-- /page header -->
			    
			    <?php if (isset($this->crudMessage)) : ?>
				<div class="alert alert-success">
                	<button data-dismiss="alert" class="close" type="button">×</button>
                    <strong>Operação realizada com sucesso!</strong>
	    			<span><br /><?php echo $this->crudMessage ?></span>
                </div>			    
			    <?php endif; ?>




	                        	                        
                <!-- Table with footer -->
                <div class="widget">
                	<form action="#" class="form-horizontal" method="post">
                		<input type="hidden" value="<?php echo (isset($this->post_var['sorting'])) ? $this->post_var['sorting'] : '' ?>" name="sorting" />
	                	<div class="navbar">
	                		<div class="navbar-inner">
	                			<h6>Visualizando registros</h6>
	                			<?php if (Mn_Util::isAccess($this->getController(), 'adicionar')) : ?>
	                			<a style="float:right;" href="<?php echo $this->baseUrl() ?>/<?php echo 'admin' ?>/<?php echo $this->getController() ?>/adicionar" class="btn btn-primary"><span class="icon-plus"></span>&nbsp;Adicionar Alimento</a>
	                			<?php endif; ?>
	                		</div>
	                	</div>
	                    <div class="table-overflow">
	                        <table class="table table-content">
	                            <thead>
                                        <tr>
                                            <th colspan="5" style="text-align: center">
                                                <h5>Composição de alimentos por 100 gramas de parte comestível: Centesimal, minerais, vitaminas e colesterol. Ácidos graxos. Aminoácidos. </h5>
                                            </th> 
                                        </tr>                                
	                                <tr>
                                            <th class="s-descricao sorting">Descrição</th>
                                            <th class="s-tabela sorting">Fonte</th>
                                            <th>Informação Nutricional</th>
                                            <th class="s-status sorting">Status</th>
	                                    <th width="96">Ações</th>
	                                </tr>
	                                <tr>
                                            <th>
                                                <input name="descricao" value="<?php echo (isset($this->post_var['descricao'])) ? $this->post_var['descricao'] : '' ?>" type="text" placeholder="Descrição" class="span12">
                                            </th>
                                            <th>
                                                <div>
                                                    <select name="ds_fonte" data-placeholder="Tabela Fonte" class="select">
							<option value="">Todas...</option>
                                                        <option value="IBGE">IBGE</option>
                                                        <option value="INFFABRICANTE">INF. FABRICANTE</option>
                                                        <option value="NAOINFORMADO">NÃO INFORMADO</option>
                                                        <option value="NESTLE">NESTLÉ</option>
                                                        <option value="NOVARTIS">NOVARTIS</option>
                                                        <option value="NUTRIMED">NUTRIMED</option>
                                                        <option value="PINHEIRO">PINHEIRO</option>
                                                        <option value="SUPPORT">SUPPORT</option>
                                                        <option value="TABPHILIPPIST">TAB. PHILIPPI ST</option>
                                                        <option value="TACO">TACO</option>
                                                        <option value="TACO2011">TACO 4 Revisada 2011</option>
                                                    </select>
                                                </div>
                                            </th> 
                                            <th></th>
                                            <th>
                                                <div>
                                                    <select name="status1" placeholder="Todos" class="select">
                                                        <option value="">Todos</option>
                                                        <option value="Ativo">Ativo</option>
                                                        <option value="Bloqueado">Bloqueado</option>
                                                    </select>
                                                </div>
                                            </th>
	                                    <th><button class="btn btn-mini btn-primary" type="submit">Pesquisar</button></th>
	                                </tr> 
	                            </thead>
	                            <tbody>
	                            	<?php if (sizeof($this->rows)==0) : ?>
	                                <tr>
	                                    <td colspan="4">Nenhum registro foi encontrado!</td>
	                                </tr>
	                            	
	                            	<?php else : ?>
	                            	<?php foreach ($this->rows as $row) : ?>
	                                <tr>
                                            <td>
                                                <?php echo $row['descricao'] ?>
                                            </td>
                                            <td>
                                                <?php 
                                                    if ($row['ds_fonte'] == "INFFABRICANTE") { echo "INF. FABRICANTE"; }
                                                    else if ($row['ds_fonte'] == "NAOINFORMADO") { echo "NÃO INFORMADO"; }
                                                    else if ($row['ds_fonte'] == "NESTLE" ) { echo "NESTLÉ"; }
                                                    else if ($row['ds_fonte'] == "TABPHILIPPIST" ) { echo "TAB. PHILIPPI ST"; }
                                                    else if ($row['ds_fonte'] == "TACO2011" ) { echo "TACO 4 Revisada 2011"; }
                                                    else{
                                                        echo $row['ds_fonte']; 
                                                    }
                                                ?>
                                            </td>
                                            <td>
                                                <table border="0">
                                                    <tbody>
                                                        <tr>
                                                            <td>Kcal: (g)</td>
                                                            <td>
                                                            <?php 

                                                                $vl_carb = ((float)4) * (float)str_replace(",", ".", $row['vl_carb']);
                                                                $vl_prot = ((float)4) * (float)str_replace(",",".", $row['vl_prot']);
                                                                $vl_g_tot = ((float)9) * (float)str_replace(",",".", $row['vl_g_tot']);

                                                                $kcal = ((float)$vl_carb + (float)$vl_prot + (float)$vl_g_tot);

                                                                echo number_format($kcal, 2, ',', ' '); 
                                                            
                                                            ?>
                                                            </td>
                                                            <td>CHO (g):</td>
                                                            <td><?php echo $row['vl_carb'],' g'; ?></td>
                                                            <td>LPD (g):</td>
                                                            <td><?php echo $row['vl_g_tot'],' g'; ?></td>
                                                            <td>PTN (g):</td>
                                                            <td><?php echo $row['vl_prot'],' g'; ?></td>
                                                        </tr>
                                                        <tr>
                                                            <td>Fibra (g):</td>
                                                            <td><?php echo $row['vl_fibra'],' g'; ?></td>
                                                            <td>Vit A (g):</td>
                                                            <td><?php echo $row['vl_vit_a'], ' g';?></td>
                                                            <td>Vit C (g):</td>
                                                            <td><?php echo $row['vl_vit_c'],' g'; ?></td>
                                                            <td>Fe (mg):</td>
                                                            <td><?php echo $row['vl_fe'],' g'; ?></td>
                                                        </tr>
                                                        <tr>
                                                            <td>Mg:</td>
                                                            <td><?php echo $row['vl_mg'],' g'; ?></td>
                                                            <td>Ca (g):</td>
                                                            <td><?php echo $row['vl_ca'],' g'; ?></td>
                                                            <td>Zn (g):</td>
                                                            <td><?php echo $row['vl_zinco'],' g'; ?></td>
                                                            <td></td>
                                                            <td></td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>                                            
                                            <td>
                                                <?php echo $row['status'] ?>
                                            </td>
	                                    <td>
	                                        <ul class="table-controls">
	                                            <li><a title="" class="btn tip" href="<?php echo $this->baseUrl() ?>/<?php echo 'admin' ?>/<?php echo $this->getController() ?>/visualizar/id/<?php echo $row['id'] ?>" data-original-title="Visualizar"><i class="icon-eye-open"></i></a> </li>
	                                            <?php if (Mn_Util::isAccess($this->getController(), 'editar')) : ?>
	                                            <li><a title="" class="btn tip" href="<?php echo $this->baseUrl() ?>/<?php echo 'admin' ?>/<?php echo $this->getController() ?>/editar/id/<?php echo $row['id'] ?>" data-original-title="Editar"><i class="icon-pencil"></i></a> </li>
	                                            <?php endif;?>
	                                            <?php if (Mn_Util::isAccess($this->getController(), 'excluir')) : ?>
	                                            <li><a title="" class="btn tip" href="javascript:confirmDelete('<?php echo $row['id']; ?>','registro');" data-original-title="Excluir"><i class="icon-remove"></i></a> </li>
	                                            <?php endif; ?>
	                                        </ul>
	                                    </td>
	                                </tr>
	                            	<?php endforeach;?>
	                            	
	                            	
	                            	
	                            	
	                            	<?php endif; ?>
	
	                            </tbody>
	                        </table>
	                    </div>
	                    <?php echo $this->render('/helpers/paginator.phtml') ?>
                    
                    </form>

                </div>
                <!-- /table with footer -->
	                        


		    </div>
		    <!-- /content wrapper -->

		</div>
		<!-- content -->
		
		
<script type="text/javascript" src="<?php echo $this->baseUrl('/public/scripts/admin/nutricaotacoalimentos_index.js') ?>"></script>
<script type="text/javascript">

	var form_values = {};
	<?php if (isset($this->post_var)) :  ?>
form_values.status1 = '<?php echo (isset($this->post_var['status1'])) ? $this->post_var['status1'] : $this->post_var['status'] ?>';

	
	<?php endif; ?>

	var sorting = ["descricao", "status"];
	
</script>	


