		<!-- Content -->
		<div id="content">

		    <!-- Content wrapper -->
		    <div class="wrapper">

			    <!-- Breadcrumbs line -->
			    <div class="crumbs">
			    	<?php echo $this->render('/helpers/breadcrumb.phtml') ?>
			    </div>
			    <!-- /breadcrumbs line -->

			    <!-- Page header -->
			    <div class="page-header">
			    	<div class="page-title">
				    	<h5>Formulário do doação</h5>
				    	<span>Verifique os campos e preencha com os dados</span>
			    	</div>
			    </div>
			    <!-- /page header -->

			    <?php if (isset($this->crudMessage)) : ?>
					<div class="alert alert-success">
	                	<button data-dismiss="alert" class="close" type="button">×</button>
	                    <strong>Operação realizada com sucesso!</strong>
		    			<span><br /><?php echo $this->crudMessage ?></span>
	                </div>			    
			    <?php endif; ?>

				<form id="form" name="form" action="" method="post" class="form-horizontal" enctype="multipart/form-data"> 
					<input type="hidden" value="<?php echo (isset($this->post_var)) ? $this->post_var["id"] : ''; ?>" name="id" id="id" />
					
					<fieldset>
						<!-- General form elements -->
						<div class="widget row-fluid">
						    <div class="navbar">
						        <div class="navbar-inner">
						            <h6>Digite as informações do formulário</h6>
						        </div>
						    </div>

						    <div class="well">
								<?php if (isset($this->erros)) : ?>
									<div class="alert alert-error margin">
				                        <button data-dismiss="alert" class="close" type="button">×</button>
				                        <strong>Há erros no formulário!</strong>
					    				<?php foreach ($this->erros as $k=>$v) : ?>
					    					<span><br />- <?php echo $v ?></span>
					    				<?php endforeach;?>			                        
				                    </div>
			                    <?php endif; ?>						    
						    
						        <div class="control-group">
						            <label class="control-label">Secretaria <span class="required">*</span></label>
						            <div class="controls">
						                <select name="idsecretaria" data-placeholder="Secretaria" class="select">
						                    <option value="">Selecione...</option>
						                	<?php foreach (Secretarias::getSecretariasHelper(array('status'=>'Ativo','idlicenca'=>Licencas::getLicenca('id'))) as $k=>$v) : ?>
						                	<option value="<?php echo $v['id'] ?>"><?php echo $v['secretaria'] ?></option>
						                	<?php endforeach;?>
						                </select>
						                
						            </div>
						        </div>

						        <div class="control-group">
						            <label class="control-label">Doação <span class="required">*</span></label>
						            <div class="controls"><input maxlength="500" placeholder="Doação" name="doacao" value="<?php echo (isset($this->post_var['doacao'])) ? $this->post_var['doacao'] : '' ?>" type="text"  class="span3" /></div>
						        </div>

						        <div class="control-group">
						            <label class="control-label">Descrição </label>
						            <div class="controls"><textarea class="span6" name="descricoes" cols="5" rows="5"><?php echo (isset($this->post_var)) ? $this->post_var["descricoes"] : ''; ?></textarea></div>
						        </div>

						        <div class="control-group">
						            <label class="control-label">Funcionário <span class="required">*</span></label>
						            <div class="controls">
						                <select name="idusuariocriacao" data-placeholder="Funcionário" class="select">
						                    <option value="">Selecione...</option>
						                	<?php foreach (Usuarios::getUsuariosHelper(array('status'=>'Ativo','idlicenca'=>Licencas::getLicenca('id'))) as $k=>$v) : ?>
						                	<option value="<?php echo $v['id'] ?>"><?php echo $v['nomerazao'] ?></option>
						                	<?php endforeach;?>
						                </select>
						                
						            </div>
						        </div>

						        <div class="control-group">
						            <label class="control-label">Aprovação <span class="required">*</span></label>
						            <div class="controls">
						                <select name="aprovacao" data-placeholder="Aprovação" class="select">
						                    <option value="">Selecione...</option>
						                	<option value="Sim">Sim</option><option value="Não">Não</option>
						                </select>
						                
						            </div>
						        </div>

						        <div class="control-group">
						            <label class="control-label">Usuários de aprovação <span class="required">*</span></label>
						            <div class="controls">
						                <select name="idusuarioaprovacao" data-placeholder="Usuários de aprovação" class="select">
						                    <option value="">Selecione...</option>
						                	<?php foreach (Usuarios::getUsuariosHelper(array('status'=>'Ativo','idlicenca'=>Licencas::getLicenca('id'))) as $k=>$v) : ?>
						                	<option value="<?php echo $v['id'] ?>"><?php echo $v['nomerazao'] ?></option>
						                	<?php endforeach;?>
						                </select>
						                
						            </div>
						        </div>

						        <div class="control-group">
						            <label class="control-label">logdataaprovacao </label>
						            <div class="controls"><input  placeholder="logdataaprovacao" name="logdataaprovacao" value="<?php echo (isset($this->post_var['logdataaprovacao'])) ? $this->post_var['logdataaprovacao'] : '' ?>" type="text"  class="span3" /></div>
						        </div>

						        <div class="control-group">
						            <label class="control-label">Descrição da aprovação </label>
						            <div class="controls"><textarea class="span6" name="descricoesaprovacao" cols="5" rows="5"><?php echo (isset($this->post_var)) ? $this->post_var["descricoesaprovacao"] : ''; ?></textarea></div>
						        </div>

						        <div class="control-group">
						            <label class="control-label">Status <span class="required">*</span></label>
						            <div class="controls">
						                <select name="status1" data-placeholder="Status" class="select">
						                    <option value="">Selecione...</option>
						                	<option value="Ativo">Ativo</option><option value="Bloqueado">Bloqueado</option>
						                </select>
						                
						            </div>
						        </div>

						    
						    
						    </div>
						    
			                <div class="form-actions align-right">
			                	<?php if ((isset($this->visualizar)) && ($this->visualizar)) : ?>
			                		<button onclick="window.history.back()" class="btn btn-danger cancelar" type="button">Voltar</button>
			                	<?php else : ?>
				                	<button class="btn btn-primary enviar" type="submit">Salvar</button>
				                	<button onclick="window.history.back()" class="btn btn-danger cancelar" type="button">Cancelar</button>
			                	<?php endif; ?>
			                </div>
						</div>
						<!-- /general form elements -->

					</fieldset> 

				</form>
				<!-- /basic inputs -->

		    </div>
		    <!-- /content wrapper -->

		</div>
		<!-- content -->
				
<script type="text/javascript" src="<?php echo $this->baseUrl('/public/scripts/default/patrimoniosdoacoes_form.js') ?>"></script>
<script type="text/javascript">
	var form_values = {};
	
	<?php if (isset($this->post_var)) :  ?>
		form_values.idsecretaria = '<?php echo (isset($this->post_var['idsecretaria'])) ? $this->post_var['idsecretaria'] : '' ?>';

form_values.idusuariocriacao = '<?php echo (isset($this->post_var['idusuariocriacao'])) ? $this->post_var['idusuariocriacao'] : '' ?>';

form_values.aprovacao = '<?php echo (isset($this->post_var['aprovacao'])) ? $this->post_var['aprovacao'] : '' ?>';

form_values.idusuarioaprovacao = '<?php echo (isset($this->post_var['idusuarioaprovacao'])) ? $this->post_var['idusuarioaprovacao'] : '' ?>';

form_values.status1 = '<?php echo (isset($this->post_var['status1'])) ? $this->post_var['status1'] : $this->post_var['status'] ?>';


	<?php endif; ?>

	visualizar = <?php echo  ((isset($this->visualizar)) && ($this->visualizar))  ? 'true' : 'false' ?>
</script>