<style>
  .blink {
    animation-duration: 0.4s;
    animation-name: blink;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
    color: orangered;
}
@keyframes blink {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}
</style>
    <!-- Content -->
<div id="content">

		    <!-- Content wrapper -->
		    <div class="wrapper">

			    <!-- Breadcrumbs line -->
			    <div class="crumbs">
			    	<?php echo $this->render('/helpers/breadcrumb.phtml') ?>
			    </div>
			    <!-- /breadcrumbs line -->

			    <!-- Page header -->
			    <div class="page-header">
			    	<div class="page-title">
            <h5>Formulário de Solicitação de entrada de produtos</h5>
            <span>Informe os dados para solicitação.</span>
			    	</div>
			    </div>
			    <!-- /page header -->

			    <?php if (isset($this->crudMessage)) : ?>
					<div class="alert alert-success">
	                	<button data-dismiss="alert" class="close" type="button">×</button>
	                    <strong>Operação realizada com sucesso!</strong>
		    			<span><br /><?php echo $this->crudMessage ?></span>
	                </div>			    
			    <?php endif; ?>

				<form id="form" name="form" action="" method="post" class="form-horizontal" enctype="multipart/form-data"> 
                <div class="control-group">
          <div class="controls1 visualizar visualizartodos">
            <table class="table table-content" width="100%">
              <tbody>
                <tr>
                  <input type="hidden" value="<?php echo (isset($this->post_var['sequencial'])) ? $this->post_var['sequencial'] : $this->sequencial ?>" name="sequencial" id="sequencial" />
                  <td width="34%">Data da Abertura: 
                  <?php 
                  
                    if(isset($this->post_var['datacriacao'])): 
                      echo date('d/m/Y', strtotime($this->post_var['datacriacao']));
                    else: 
                      echo date('d/m/Y'); 
                    endif;
                  
                  ?></td>
                  <td width="33%">Hora da Abertura: 
                  <?php 
                  
                    if(isset($this->post_var['datacriacao'])): 
                      echo date('H:i:s', strtotime($this->post_var['datacriacao'])) ;
                    else: 
                      echo date('G:i:s'); 
                    endif;
                  
                  ?></td>
                </tr>
              </tbody>
            </table> 
          </div>
        </div>

        <?php $idescola = Usuarios::getUsuario('idescola'); ?>
        <?php $idlocal = Funcionariosgeraisescolas::getFuncionariogeralescolaByIdHelper(Usuarios::getUsuario('idfuncionario')); ?>
        <div class="control-group">
          <div class="controls1 visualizar">
            <table class="table table-content" width="100%">
              <tbody>
                <tr>
                  <input placeholder="Nome do Usuário" name="idfuncionarioresposta" value="<?php echo Usuarios::getUsuario('idfuncionario') ?>" type="hidden"  class="span3" />
                  <input placeholder="Data de lançamento" name="datalancamento" value="<?php echo (isset($this->post_var['datalancamento'])) ? Mn_Util::formPostVarData($this->post_var['datalancamento']) : date('d/m/Y') ?>" type="hidden"  class="span3" />
                  <td width="33%">Local : 
                    <?php
                        if($idlocal['idlocal']){
                          echo Locais::getLocalByIdHelper(Usuarios::getUsuario('idlocal'))['titulo']; 
                        }else{
                          print_r(Escolas::getEscolaByIdHelper(($idlocal['idescola']))['escola']);
                        }
                      ?>
                  </td>
                  
                  <td width="33%">Nome do Usuário: <?php echo Usuarios::getUsuario('nomerazao') . " - " . Usuarios::getUsuario('rgf') ?></td>
                  <!-- <td width="34%">Data da Abertura: <?php echo date('d/m/Y') ?></td> -->
                  <?php if(($idlocal>0)): ?>		    
                    <input name="idescola" value="<?php echo $idlocal['idescola'] ?>" type="hidden"  class="span3" />
                  <?php endif; ?>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <?php $idPerfil = Usuarios::getUsuario('idperfil'); ?> 
        <div class="control-group">
					<label class="control-label">Destino</label>
					<div class="controls"> 
            <?php if(($idPerfil != 32 AND $idPerfil != 25) AND $this->post_var[0][0]['verificasolicitacao'] != 'respondido') :?>
              <input type="radio" name="idperfilsolicitante" value="32" <?php echo ($this->post_var[0][0]["idperfilsolicitante"] == 32 ? 'checked' : ''); ?> required>Almoxarifado
              <input type="radio" name="idperfilsolicitante" value="25" <?php echo ($this->post_var[0][0]["idperfilsolicitante"] == 25 ? 'checked' : ''); ?> required>Nutrição
            <?php else :  ?>
              <input type="radio" name="idperfilsolicitante" value="32" <?php echo ($this->post_var[0][0]["idperfilsolicitante"] == 32 ? 'checked' : ''); ?> disabled required>Almoxarifado
              <input type="radio" name="idperfilsolicitante" value="25" <?php echo ($this->post_var[0][0]["idperfilsolicitante"] == 25 ? 'checked' : ''); ?> disabled required>Nutrição
              <input type="hidden" name="idperfilsolicitante" value="32" <?php echo ($this->post_var[0][0]["idperfilsolicitante"] == 32 ? 'checked' : ''); ?>  required> 
              <input type="hidden" name="idperfilsolicitante" value="25" <?php echo ($this->post_var[0][0]["idperfilsolicitante"] == 25 ? 'checked' : ''); ?>  required> 
            <?php endif; ?>
					</div>
				</div>

        <div class="control-group">
					<label class="control-label"> Autorização Numero <span class="required">*</span></label>
					<div class="controls">
            <input  placeholder="Autorização numero" name="autorizacaonumero" value="<?php echo (isset($this->post_var[0][0]['autorizacaonumero'])) ? $this->post_var[0][0]['autorizacaonumero'] : '' ?>" <?php echo ($idPerfil != 32 AND $idPerfil != 25) ? 'readonly' : '' ?> type="text"  class="span3" />
          </div>
        </div> 
          
        <input name="idperfil" value="<?php echo Usuarios::getUsuario('idperfil'); ?>" type="hidden" />
        <div class="control-group">
            <label class="control-label">Produtos solicitados</label>
            <div class="control-group"> 
                <div class="itens">
                    <table class="table" border="1">
                        <thead>
                            <tr>
                                <th align="center" width="5%">Código Produto</th>
                                <th align="center" width="15%">Produto</th>
                                <th align="center" width="10%">Unidade de medida</th>
                                <?php if(($this->post_var[0][0]['verificasolicitacao'] == 'respondido' OR $this->post_var[0][0]['verificasolicitacao'] == 'concluido')  OR ($idPerfil == 32  OR $idPerfil == 25)): ?>
                                  <th align="center" width="10%">Urgência</th>
                                  <th align="center" width="5%">Obs Pedido</th>
                                <?php endif ; ?>

                                <th align="center" width="1%">Quantidade Solicitada</th>
                                <?php if(($this->post_var[0][0]['verificasolicitacao'] == 'respondido' OR $this->post_var[0][0]['verificasolicitacao'] == 'concluido')  OR ($idPerfil == 32  OR $idPerfil == 25)): ?>
                                  <th align="center" width="1%">Quantidade Liberada</th>
                                  <th align="center" width="5%">Status</th>
                                  <th align="center" width="5%">Obs Resposta</th>
                                <?php endif; ?>

                                <?php if(($this->post_var[0][0]['verificasolicitacao'] == ''  OR $this->post_var[0][0]['verificasolicitacao'] == 'concluido')  AND  ($idPerfil != 32  AND $idPerfil != 25)) : ?>
                                   <th align="center" width="10%">Urgência</th>
                                  <th align="center" width="5%">Obs Entrada</th> 
                                <?php endif; ?>
                                
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                            <?php 
                                $tramitacoesArquivos = Array(); 
                                $contador = 1;
                            ?>
                            <?php foreach (Almoxarifadosolicitacoesentradalistadeprodutos::getAlmoxarifadosolicitacoesentradalistadeprodutos( array('idfuncionario' => $this->post_var['idfuncionario'], 'codigosolicitacao' => $this->post_var['codigosolicitacao'])) as $c=>$row) : ?>
                            <tr id="modelo-tramitacao">
                              <td align="left">
                                <?= $row['codigoproduto']; ?>
                                <input type="hidden" name="codigoproduto[]" value="<?= $row['codigoproduto'] ?>">
                              </td>
                              <td align="left"> 
                              <?php echo ($row['urgencia'] == 'urgencia') ? "<p class='blink'> $row[produto] </p>" : $row['produto'] ?>
                                <input type="hidden" name="produto[]" value="<?= $row['produto'] ?>" required>
                              </td>
                              <td align="center">
                                <?= $row['unidademedida'];  ?>
                                <input type="hidden" name="unidademedida[]" value="<?= $row['unidademedida'] ?>"required>
                              </td>

                               <?php if(($this->post_var[0][0]['verificasolicitacao'] == "respondido"  OR $this->post_var[0][0]['verificasolicitacao'] == 'concluido') OR ($idPerfil == 32 OR $idPerfil == 25)): ?>  <!--  32 Almoxarifado -->
                                  <td align="center"> 
                                    <?php if(($idPerfil == 32 OR $idPerfil == 25) OR $this->post_var[0][0]['verificasolicitacao'] == "respondido") : ?>
                                    <input type="checkbox" name="urgencia<?php echo $contador ?>" value="urgencia" disabled  <?php echo ($row['urgencia']) ? 'checked' : '' ?> />
                                      <input type="hidden" name="urgencia<?php echo $contador += 1 ?>" value="urgencia"   />
                                    <?php else : ?>
                                    <input type="checkbox" name="urgencia<?php echo $contador ?>" value="urgencia" <?php echo ($row['urgencia']) ? 'checked' : '' ?>  />
                                      
                                    <?php endif ; ?>
                                  </td>
                                  <td align="center">
                                    <button type="button" class="btn btn-xs btn-success" data-toggle="modal" data-target="#myModalSolicitacao<?php echo $row['id']; ?>">Obs Entrada</button>
                                  </td>
                              <?php endif ; ?>

                              <td align="center">
                                <input type="number" name="qtd_selecionada[]" id="qtd_selecionada<?= $row['id'] ?>" value="<?= $row['qtd_selecionada'] ?>" required <?php if(($this->post_var[0][0]['verificasolicitacao'] == "respondido"  OR $this->post_var[0][0]['verificasolicitacao'] == 'concluido') OR ($idPerfil == 32 OR $idPerfil == 25)) echo 'readonly' ?>>
                              </td>
                              <?php if(($this->post_var[0][0]['verificasolicitacao'] == "respondido"  OR $this->post_var[0][0]['verificasolicitacao'] == 'concluido') OR ($idPerfil == 32 OR $idPerfil == 25)): ?>  <!--  32 Almoxarifado -->
                                <td align="center">
                                  <input type="number" name="qtd_liberado[]" id="qtd_liberado<?= $row['id'] ?>" value="<?= $row['qtd_liberado'] ?>" required  <?php if($idPerfil != 32 AND $idPerfil != 25) echo 'readonly' ?> onkeyup="confequantidadenoestoque()" >
                                </td>
                               <td><?php echo $row['status'] ?></td>
                               
                              <td align="center">
                                <button type="button" class="btn btn-xs btn-primary" data-toggle="modal" data-target="#myModal<?php echo $row['id']; ?>">Obs Destino</button>
                              </td>
                              <?php endif; ?>
                              <input type="checkbox" name="item[]" value="<?= $row['id'] ?>" class="ckbox" checked style="display:none;">
                              <input type="hidden" name="id_produtos[]" value="<?= $row['id'] ?>">
                              <input type="hidden" name="codigosolicitacao" value="<?= $row['codigosolicitacao'] ?>">
                              <input type="hidden" name="id" value="<?=  $this->post_var[0][0]['id'] ?>">
                              <input type="hidden" name="idsolicitante" value="<?=  $row['idfuncionario'] ?>">
                              <input type="hidden" name="idsolicitanteescola" value="<?= $this->post_var[0][0]['idsolicitante'] ?>">
                              <input type="hidden" name="verificasolicitacao" value="<?= $this->post_var[0][0]['verificasolicitacao'] ?>">
                              <input type="hidden" name="observacaoentrada[]" value="<?= $row['observacaoentrada'] ?>">
                              <input type="hidden" name="idescolaPostVar" value="<?= $this->post_var['idescola'] ?>">
                              <input type="hidden" name="idperfilPostVar" value="<?= $this->post_var['idperfil'] ?>">


                              <?php if(($this->post_var[0][0]['verificasolicitacao'] == ''  OR $this->post_var[0][0]['verificasolicitacao'] == 'concluido')  AND ($idPerfil != 32  AND $idPerfil != 25)) : ?>
                                <td align="center"> 
                                  <input type="checkbox" name="urgencia<?php echo $contador++ ?>" value="urgencia" <?php echo ($row['urgencia']) ? 'checked' : '' ?> <?php echo ($idPerfil == 32 OR $idPerfil == 25) ? 'disabled' : '' ?>/>
                                </td>
                                <td align="center">
                                  <button type="button" class="btn btn-xs btn-primary" data-toggle="modal" data-target="#myModalSolicitacao<?php echo $row['id']; ?>">Obs Entrada</button>
                                </td>
                              <?php endif; ?>

                            </tr>

                            <div class="modal fade" id="myModalSolicitacao<?php echo $row['id']; ?>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                              <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                  <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                    <h4 class="modal-title" style="text-align:center;" id="myModalLabel">Observação do produto <?= $row['produto'] ?></h4>
                                  </div>
                                  <div class="modal-body"> 
                                     
                                      <div class="control-group">
                                        <label for="">Observação</label>
                                        <textarea class="span12" name="observacaoentrada[]" rows="5" cols="70" <?php if(($idPerfil == 32 OR $idPerfil == 25) OR $this->post_var[0][0]['verificasolicitacao'] == "respondido") echo 'readonly'; ?>><?= $row['observacaoentrada']; ?></textarea>

                                      </div>
                                      
                                      <button type="button" class="btn btn-success" data-dismiss="modal">Salvar</button>
                                      
                                      <input type="hidden" name="id" value="<?=  $this->post_var[0][0]['id'] ?>">
                                     
                                  </div>
                                </div>
                              </div>
                            </div>   

                            <div class="modal fade" id="myModal<?php echo $row['id']; ?>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                              <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                  <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                    <h4 class="modal-title" style="text-align:center;" id="myModalLabel">Observação do produto <?= $row['produto'] ?></h4>
                                  </div>
                                  <div class="modal-body"> 
                                     
                                      <div class="control-group">
                                        <label for="">Observação</label>
                                        <textarea class="span12" name="motivoliberacao[]" rows="5" cols="70" <?php if($idPerfil != 32 AND $idPerfil != 25) echo 'readonly'; ?>><?= $row['motivoliberacao']; ?></textarea>

                                      </div>
                                      
                                      <button type="button" class="btn btn-success" data-dismiss="modal">Salvar</button>
                                      
                                      <input type="hidden" name="id" value="<?=  $this->post_var[0][0]['id'] ?>">
                                     
                                  </div>
                                </div>
                              </div>
                            </div>                         
                    <?php endforeach;?>
                  </table>
                </div>
            </div>
          </div> 
          
          
          <div class="form-actions align-right">
            <?php if ((isset($this->visualizar)) && ($this->visualizar)) : ?>
                <button onclick="window.history.back()" class="btn btn-danger cancelar" type="button">Voltar</button>
                <?php else : ?>
                  <?php if($this->post_var[0][0]['verificasolicitacao'] == 'respondido' AND ($idPerfil != 32 AND $idPerfil != 25)) :?>
                    <input type="hidden" name="entradaprodutos" value="entrada">
                    <button class="btn btn-success enviar" type="submit">Entrada Estoque</button>
                  <?php else: ?>
                    <button class="btn btn-primary enviar" id="valida-campos" <?php if($this->post_var[0][0]['verificasolicitacao'] == 'respondido' AND ($idPerfil != 32 AND $idPerfil != 25)) echo 'disabled' ?> type="submit">Salvar</button>
                  <?php endif; ?>
                <button onclick="window.history.back()" class="btn btn-danger cancelar" type="button">Cancelar</button>
              <?php endif; ?>
              </div>
            </div>
						<!-- /general form elements -->
            
					</fieldset> 
          
				</form>
				<!-- /basic inputs -->
        
		    </div>
		    <!-- /content wrapper -->
        
      </div>
      <!-- content -->
      
      <script type="text/javascript" src="<?php echo $this->baseUrl('/public/scripts/admin/almoxarifadoestoqueprodutos_form.js') ?>"></script>
      <script type="text/javascript">
	var form_values = {};
    
    
    <?php if (isset($this->post_var[0][0])) :  ?> 
    
    form_values.idperfilsolicitante = '<?php echo (isset($this->post_var['idperfilsolicitante'])) ? $this->post_var['idperfilsolicitante'] : $this->post_var['idperfilsolicitante'] ?>';
    
    
    <?php endif; ?>
    <?php if ((isset($this->post_var['idsfuncionarios'])) && ($this->post_var['idsfuncionarios']!="")) :  ?>
    form_values.motivoliberacao = [<?php echo $this->post_var['motivoliberacao'] ?>];
    <?php endif; ?>
    visualizar = <?php echo  ((isset($this->visualizar)) && ($this->visualizar))  ? 'true' : 'false' ?>;
    
    </script>
