<?php if (sizeof($this->rows)==0): ?>
    0
    <?php elseif (isset($this->rows['erro'])): ?>
        -1
        <?php else: ?>
            <style type="text/css">
            #td-produtos tr:nth-child(odd) {
              background-color:#ffffff;
          }
          #td-produtos tr:nth-child(even) {
              background-color:#e6e6e6;
          }
      </style>
      <table id="td-produtos">
        <thead>
            <tr>
                <th style="width: 5px;"><input type="checkbox" onchange="ckbox(this)" id="all-checkbox"></th>
                <th style="width: 5px;">Código</th>
                <th style="width: 120px;">Produto</th>
                <th style="width: 35px;">Grupo</th>
                <th style="width: 35px;">Unidade de Medida</th>
            </tr>
        </thead>
        <tbody>
            <?php foreach ($this->rows as $key => $row): ?>
                <tr>
                    <td style="width: 5px; text-align: center;">
                        <input type="checkbox" name="item[]" value="<?= $row['id'] ?>" class="ckbox">
                    </td>
                    <td style="width: 5px; text-align: center;">
                        <?= $row['codigoproduto'] ?>
                        <input type="hidden" name="codigoproduto_<?= $row['id'] ?>" id="codigoproduto_<?= $row['id'] ?>" value="<?= $row['codigoproduto'] ?>">
                    </td>
                    <td style="width: 120px;" title="<?= $row['produto'] ?>">
                        <?= substr($row['produto'],0,30) ?>
                        <input type="hidden" name="produto_<?= $row['id'] ?>" id="produto_<?= $row['id'] ?>" value="<?= $row['produto'] ?>">
                    </td>
                    <td style="width: 35px; text-align: center;">
                        <?= $row['categoria'] ?>
                        <input type="hidden" name="categoria_<?= $row['id'] ?>" id="categoria_<?= $row['id'] ?>" value="<?= $row['categoria'] ?>">
                    </td>
                    <td style="width: 35px; text-align: center;">
                        <?= $row['unidademedida'] ?>
                        <input type="hidden" name="unidademedida_<?= $row['id'] ?>" id="unidademedida_<?= $row['id'] ?>" value="<?= $row['unidademedida'] ?>">
                    </td>
                </tr>
            <?php endforeach ?>
        </tbody>
    </table>
    <?php endif ?>