<?php 
	include_once BASE_PATH . '/public/scripts/ckeditor/ckeditor.php';
	require_once BASE_PATH . '/public/scripts/ckfinder/ckfinder.php';
	
	$ckeditor = new CKEditor();
	$ckeditor->basePath	= $this->baseUrl('/public/scripts/ckeditor/');
	
	$ckfinder = $this->baseUrl('/public/scripts/ckfinder/');
	
	CKFinder::SetupCKEditor($ckeditor, $ckfinder);
?>
<style type="text/css">
    .container{
        width: 50%;        
        margin: 2px;
        padding: 3px;
    }
    .container span.fechar{
        padding: 3px;
        margin-right: 1px;        
        color: #cc1818;
        border: 0.5px solid #cc1818;
        border-radius: 4px;
        display: inline-block;
        height: 20px;
        width: 20px;
        text-align: center;
        cursor: pointer;
        font-weight: bold;
        font-family: arial, Helvetica, sans-serif;
    }

    .container .tipoatividade{
        width: 90%;      
        display: inline-block;        
    }
</style>

<!-- Content -->
<div id="content">
        <!-- Content wrapper -->
        <div class="wrapper">
                <!-- Breadcrumbs line -->
                <div class="crumbs">
                        <?php echo $this->render('/helpers/breadcrumb.phtml') ?>
                </div>
                <!-- Page header -->
                <div class="page-header">
                        <div class="page-title">
                                <h5>Formulário da escola</h5>
                                <span>Verifique os campos e preencha com os dados</span>
                        </div>
                </div>
                <!-- /page header -->                
                <div class="panel-heading">
                    <?php if (isset($this->crudMessage)) : ?>
                        <div class="alert alert-success">
                            <button data-dismiss="alert" class="close" type="button">×</button>
                            <strong>Operação realizada com sucesso!</strong>
                            <span><br /><?php echo $this->crudMessage ?></span>
                        </div>
                    <?php endif; ?>
                </div>
                <form id="form" name="form" method="post" class="form-horizontal form-bordered">
                        <input type="hidden" value="<?php echo (isset($this->post_var)) ? $this->post_var["id"] : ''; ?>" name="id" id="id" />
                        <input type="hidden" name="idescola" value="<?php echo (isset($this->post_var["idescola"])) ? $this->post_var["idescola"] : ''; ?>" />
                        <fieldset>
                                <!-- General form elements -->
                                <div class="widget row-fluid">
                                    <div class="navbar">
                                            <div class="navbar-inner">
                                                <h6>Digite as informações do formulário</h6>
                                            </div>
                                    </div>

                                    <div class="well">
                                        <?php if (isset($this->erros)) : ?>
                                            <div class="alert alert-error margin">
                                                <button data-dismiss="alert" class="close" type="button">×</button>
                                                <strong>Há erros no formulário!</strong>
                                                <?php foreach ($this->erros as $k=>$v) : ?>
                                                        <span><br />- <?php echo $v ?></span>
                                                <?php endforeach;?>
                                            </div>
                                        <?php endif; ?>
                                        <div class="control-group">
                                            <label class="control-label">Escola *</label>
                                            <div class="controls">
                                                <input name="escola" value="<?php echo (isset($this->post_var['escola'])) ? $this->post_var['escola'] : '' ?>" type="text" class="span3" placeholder="Escola">
                                            </div>
                                        </div>		

                                        <div class="control-group">
                                            <label class="control-label">Nome abreviado</label>
                                            <div class="controls">
                                                <input name="nomeabreviado" value="<?php echo (isset($this->post_var['nomeabreviado'])) ? $this->post_var['nomeabreviado'] : '' ?>" type="text" type="text" class="span3" placeholder="nome abreviado">
                                            </div>
                                        </div>	

        <div class="control-group">
            <label class="control-label">Tipos de Ensinos *</label>
            <div class="controls "> 
            <?php foreach (Escolastiposensinosgdae::getTiposensinosgdaeHelper(array('status' => 'Ativo')) as $km=>$vm) : ?>
                    <input type="checkbox" class="idsensinostipos" name="idsensinostipos[]" value="<?php echo $vm['id'] ?>" onclick="showSubtiposEnsinoGdae(this, <?php echo $km+1 ?>)" /> <?php echo $vm['codigo']; ?> - <?php echo $vm['descricoes']; ?> <br />
                    <div class="<?php echo 'boxSubtipo',$km+1; ?> control-group " hidden>
                        
                        <?php foreach (Escolassubtiposensinosgdae::getSubtiposensinosgdaeHelper(array('status' => 'Ativo', 'idgdae' => $vm['id'])) as $kx=>$vx) : ?>
                                <input type="checkbox" class="idsensinossubtipos" name="idsensinossubtipos[]" value="<?php echo $vx['id'] ?>" onclick="showTipoAtividades(this, <?php echo $kx+1 ?>)"/><?php echo $vx['descricao']; ?> <br />

                                <!-- só mostrará as atividades caso o código seja 32 -->
                                <?php if($vm['codigo']==32): ?>
                                    <div class="<?php echo 'boxAtividades'?> control-group "hidden>
                                        <select name="groupatividades" id="groupatividades" class="select" onchange="setAtividades(this)">
                                        <option value="">Selecione...</option>
                                        <?php foreach(Escolasatividadesaee::getTipoatividadesHelper(array('status'=>'Ativo')) as $ka=>$va):?>
                                            <option value="<?php echo $va['codigo']?>" ><?php echo $va['descricao']?> </option>
                                        <?php endforeach; ?>
                                        </select>
                                    </div>
                                    <div id="atividadesselecionadas"></div>
                                <?php endif; ?>
                        <?php endforeach;?>
                    </div>
            <?php endforeach;?>                     
            </div>

                </div>	                  
                <div class="control-group">
                        <label class="control-label">Dias da semana <span class="required">*</span></label>
                        <div class="controls">
                                <input type="checkbox" name="segunda" value="<?php echo($this->post_var['segunda']); ?>" <?php echo (isset($this->post_var['segunda']) && ($this->post_var['segunda'] == 1)) ? 'checked' : '' ?> onchange="setCampo(this)" >Seg &numsp; 
                                <input type="checkbox" name="terca"   value="<?php echo($this->post_var['terca']);   ?>" <?php echo (isset($this->post_var['terca']) && ($this->post_var['terca'] == 1))     ? 'checked' : '' ?> onchange="setCampo(this)" >Ter &numsp;  
                                <input type="checkbox" name="quarta"  value="<?php echo($this->post_var['quarta']);  ?>" <?php echo (isset($this->post_var['quarta']) && ($this->post_var['quarta'] == 1))   ? 'checked' : '' ?> onchange="setCampo(this)" >Qua &numsp;  
                                <input type="checkbox" name="quinta"  value="<?php echo($this->post_var['quinta']);  ?>" <?php echo (isset($this->post_var['quinta']) && ($this->post_var['quinta'] == 1))   ? 'checked' : '' ?> onchange="setCampo(this)" >Qui &numsp;  
                                <input type="checkbox" name="sexta"   value="<?php echo($this->post_var['sexta']);   ?>" <?php echo (isset($this->post_var['sexta']) && ($this->post_var['sexta'] == 1))     ? 'checked' : '' ?> onchange="setCampo(this)" >Sex &numsp; 
                                <input type="checkbox" name="sabado"  value="<?php echo($this->post_var['sabado']);  ?>" <?php echo (isset($this->post_var['sabado']) && ($this->post_var['sabado'] == 1))   ? 'checked' : '' ?> onchange="setCampo(this)" >Sab &numsp; 
                                <input type="checkbox" name="domingo" value="<?php echo($this->post_var['domingo']); ?>" <?php echo (isset($this->post_var['domingo']) && ($this->post_var['domingo'] == 1)) ? 'checked' : '' ?> onchange="setCampo(this)" >Dom 
                        </div>
                </div>


                <div class="control-group">
                        <label class="control-label">Quantidade de Aulas por período <span class="required">*</span></label>
                        <div class="controls"><input  placeholder="Aula" name="quantidadesaulas" value="<?php echo (isset($this->post_var['quantidadesaulas'])) ? $this->post_var['quantidadesaulas'] : '' ?>" type="text"  class="span3" /></div>
                </div>

                <div class="control-group">
                        <label class="control-label">Telefone *</label>
                        <div class="controls">
                                <input name="telefone" value="<?php echo (isset($this->post_var['telefone'])) ? $this->post_var['telefone'] : '' ?>" type="text" class="span3" placeholder="telefone">
                        </div>
                </div>

                <div class="control-group">
                        <label class="control-label">Tipo de zoneamento</label>
                        <div class="controls">
                                <select id="tipozoneamento" name="tipozoneamento" class="form-control">
                                        <option value="">Selecione...</option>
                                        <?php foreach (Escolas::getZoneamentos() as $kz=>$vz): ?>
                                        <option value="<?php echo $kz ?>"><?php echo $vz ?></option>
                                        <?php endforeach;?>
                                </select>  
                        </div>
                </div>

                <div class="control-group">
                        <label class="control-label">Tipo de imóvel</label>
                        <div class="controls">
                                <select id="tipoimovel" name="tipoimovel" class="form-control">
                                        <option value="">Selecione...</option>
                                        <?php foreach (Escolas::getTiposImoveis() as $ki=>$vi): ?>
                                        <option value="<?php echo $ki ?>"><?php echo $vi ?></option>
                                        <?php endforeach;?>
                                </select>    
                        </div>
                </div>

                <div class="control-group">
                        <label class="control-label">Situação da escola</label>
                        <div class="controls">
                                <select id="codsituacao" name="codsituacao" class="form-control">
                                        <option value="">Selecione...</option>
                                        <?php foreach (Escolas::getSituacoesescolas() as $ks=>$vs): ?>
                                        <option value="<?php echo $ks ?>"><?php echo $vs ?></option>
                                        <?php endforeach;?>
                                </select> 
                        </div>
                </div>

                <div class="control-group">
                        <label class="control-label">Código da rede de ensino</label>
                        <div class="controls">
                                <select id="codredeensino" name="codredeensino" class="form-control">
                                        <option value="">Selecione...</option>
                                        <?php foreach (Escolas::getRedesEnsinos() as $kr=>$vr): ?>
                                        <option value="<?php echo $kr ?>"><?php echo $vr ?></option>
                                        <?php endforeach;?>
                                </select>       
                        </div>
                </div>

                <div class="control-group">
                        <label class="control-label">Código identificador</label>
                        <div class="controls">
                                <select id="codidentificador" name="codidentificador" class="form-control">
                                        <option value="">Selecione...</option>
                                        <?php foreach ($this->identificadores as $i=>$identificador): ?>
                                        <option value="<?php echo $identificador['id'] ?>"><?php echo $identificador['descricoes'] ?></option>
                                        <?php endforeach;?>
                                </select> 
                        </div>
                </div>

                                                <div class="control-group">
                                                        <label class="control-label">Status *</label>
                                                        <div class="controls">
                                                                <select id="status1" name="status" class="span3">
                                                                        <option value="">Selecione...</option>
                                                                        <option value="Ativo">Ativo</option>
                                                                        <option value="Bloqueado">Bloqueado</option>
                                                                </select>        				
                                                        </div>
                                                </div>	
                                                <div class="box-colecoes col-sm-12 panel-group-dark" id="accordion" >
                                                        <?php echo $this->render('/escolas/helpers/form_gestorescolar.phtml') ?>
                                                        <?php echo $this->render('/escolas/helpers/form_enderecos.phtml') ?>
                                                        <?php echo $this->render('/escolas/helpers/form_mapas.phtml') ?>
                                                        <?php echo $this->render('/escolas/helpers/form_salasdeaula.phtml') ?> 
                                                        <?php echo $this->render('/escolas/helpers/multiplasimagens.phtml') ?>
                                                        <?php echo $this->render('/escolas/helpers/form_abastecimentos.phtml') ?>
                                                        <?php echo $this->render('/escolas/helpers/form_escolasredes.phtml') ?>
                                                        <?php echo $this->render('/escolas/helpers/form_infraestrutura.phtml') ?>
                                                        <?php echo $this->render('/escolas/helpers/form_edificacoes_informacoes.phtml') ?>
                                                        <?php echo $this->render('/escolas/helpers/form_edificacoes_deficientes.phtml') ?>
                                                        <?php echo $this->render('/escolas/helpers/form_perfiltecnico.phtml') ?>
                                                        <?php echo $this->render('/escolas/helpers/form_esportivo.phtml') ?>
                                                        <?php echo $this->render('/escolas/helpers/form_servicos.phtml') ?>

                                                        <?php //echo $this->render('/escolas/helpers/form_edificacoes.phtml') ?>
                                                        <?php //echo $this->render('/escolas/helpers/form_terreno.phtml') ?>
                                                        <?php //echo $this->render('/escolas/helpers/multiplosarquivos.phtml') ?>
                                                        <?php //echo $this->render('/escolas/helpers/form_instalacoes.phtml') ?>
                                                        <?php //echo $this->render('/escolas/helpers/form_documentos.phtml') ?>

                                                </div>
                                                <div class="form-actions align-left">
                                                        <?php if ((isset($this->visualizar)) && ($this->visualizar)) : ?>
                                                                <button onclick="window.history.back()" class="btn btn-danger cancelar" type="button">Voltar</button>
                                                        <?php else : ?>
                                                                <button class="btn btn-primary enviar" type="submit">Salvar</button>
                                                                <button onclick="window.history.back()" class="btn btn-danger cancelar" type="button">Cancelar</button>
                                                        <?php endif; ?>
                                                </div>

                                        </div>			
                                </div>
                        </fieldset>

                </form>

        </div>
</div>


<script type="text/javascript" src="<?php echo $this->baseUrl('/public/scripts/admin/escolas_form.js') ?>"></script>

<script type="text/javascript">

	var form_values = {};
	<?php if (isset($this->post_var['status'])) :  ?>
	form_values.status = '<?php echo (isset($this->post_var['status'])) ? $this->post_var['status'] : $this->post_var['status'] ?>';
	<?php endif; ?>

	<?php if (isset($this->post_var['tipozoneamento'])) :  ?>
	form_values.tipozoneamento = '<?php echo (isset($this->post_var['tipozoneamento'])) ? $this->post_var['tipozoneamento'] : '' ?>';
	<?php endif; ?>

	<?php if (isset($this->post_var['tipoimovel'])) :  ?>
	form_values.tipoimovel = '<?php echo (isset($this->post_var['tipoimovel'])) ? $this->post_var['tipoimovel'] : '' ?>';
	<?php endif; ?>

	<?php if (isset($this->post_var['idtiporede'])) :  ?>
	form_values.idtiporede = '<?php echo (isset($this->post_var['idtiporede'])) ? $this->post_var['idtiporede'] : '' ?>';
	<?php endif; ?>

	<?php if (isset($this->post_var['idtipotubulacao'])) :  ?>
	form_values.idtipotubulacao = '<?php echo (isset($this->post_var['idtipotubulacao'])) ? $this->post_var['idtipotubulacao'] : '' ?>';
	<?php endif; ?>	

	<?php if (isset($this->post_var['idtiporedeagua'])) :  ?>
	form_values.idtiporedeagua = '<?php echo (isset($this->post_var['idtiporedeagua'])) ? $this->post_var['idtiporedeagua'] : '' ?>';
	<?php endif; ?>	

	<?php if (isset($this->post_var['idtipoterreno'])) :  ?>
	form_values.idtipoterreno = '<?php echo (isset($this->post_var['idtipoterreno'])) ? $this->post_var['idtipoterreno'] : '' ?>';
	<?php endif; ?>	

	<?php if (isset($this->post_var['idtipodelimitacao'])) :  ?>
	form_values.idtipodelimitacao = '<?php echo (isset($this->post_var['idtipodelimitacao'])) ? $this->post_var['idtipodelimitacao'] : '' ?>';
	<?php endif; ?>	

	<?php if (isset($this->post_var['idtipolocalizacao'])) :  ?>
	form_values.idtipolocalizacao = '<?php echo (isset($this->post_var['idtipolocalizacao'])) ? $this->post_var['idtipolocalizacao'] : '' ?>';
	<?php endif; ?>	

	<?php if (isset($this->post_var['idtiporedes'])) :  ?>
	form_values.idtiporedes = '<?php echo (isset($this->post_var['idtiporedes'])) ? $this->post_var['idtiporedes'] : '' ?>';
	<?php endif; ?>	
	
	<?php if (isset($this->post_var['idtipoesgoto'])) :  ?>
	form_values.idtipoesgoto = '<?php echo (isset($this->post_var['idtipoesgoto'])) ? $this->post_var['idtipoesgoto'] : '' ?>';
	<?php endif; ?>	

	<?php if (isset($this->post_var['idtipoeletrica'])) :  ?>
	form_values.idtipoeletrica = '<?php echo (isset($this->post_var['idtipoeletrica'])) ? $this->post_var['idtipoeletrica'] : '' ?>';
	<?php endif; ?>	

	<?php if (isset($this->post_var['idtipodocumentacao'])) :  ?>
	form_values.idtipodocumentacao = '<?php echo (isset($this->post_var['idtipodocumentacao'])) ? $this->post_var['idtipodocumentacao'] : '' ?>';
	<?php endif; ?>	

	<?php if (isset($this->post_var['coletalixo'])) :  ?>
	form_values.coletalixo = '<?php echo (isset($this->post_var['coletalixo'])) ? $this->post_var['coletalixo'] : '' ?>';
	<?php endif; ?>	

	<?php if (isset($this->post_var['transporteescolar'])) :  ?>
	form_values.transporteescolar = '<?php echo (isset($this->post_var['transporteescolar'])) ? $this->post_var['transporteescolar'] : '' ?>';
	<?php endif; ?>	
	
	<?php if (isset($this->post_var['transportefuncional'])) :  ?>
	form_values.transportefuncional = '<?php echo (isset($this->post_var['transportefuncional'])) ? $this->post_var['transportefuncional'] : '' ?>';
	<?php endif; ?>	

	<?php if (isset($this->post_var['servicosclinicos'])) :  ?>
	form_values.servicosclinicos = '<?php echo (isset($this->post_var['servicosclinicos'])) ? $this->post_var['servicosclinicos'] : '' ?>';
	<?php endif; ?>	
	
	<?php if (isset($this->post_var['servicosodontologicos'])) :  ?>
	form_values.servicosodontologicos = '<?php echo (isset($this->post_var['servicosodontologicos'])) ? $this->post_var['servicosodontologicos'] : '' ?>';
	<?php endif; ?>	
	
	<?php if (isset($this->post_var['atividadescomunitarias'])) :  ?>
	form_values.atividadescomunitarias = '<?php echo (isset($this->post_var['atividadescomunitarias'])) ? $this->post_var['atividadescomunitarias'] : '' ?>';
	<?php endif; ?>	

	<?php if (isset($this->post_var['caixaresiduos'])) :  ?>
	form_values.caixaresiduos = '<?php echo (isset($this->post_var['caixaresiduos'])) ? $this->post_var['caixaresiduos'] : '' ?>';
	<?php endif; ?>	

	<?php if (isset($this->post_var['tratamentoresiduos'])) :  ?>
	form_values.tratamentoresiduos = '<?php echo (isset($this->post_var['tratamentoresiduos'])) ? $this->post_var['tratamentoresiduos'] : '' ?>';
	<?php endif; ?>	
	
	<?php if (isset($this->post_var['caixagorduras'])) :  ?>
	form_values.caixagorduras = '<?php echo (isset($this->post_var['caixagorduras'])) ? $this->post_var['caixagorduras'] : '' ?>';
	<?php endif; ?>	

	<?php if (isset($this->post_var['reservatorio'])) :  ?>
	form_values.reservatorio = '<?php echo (isset($this->post_var['reservatorio'])) ? $this->post_var['reservatorio'] : '' ?>';
	<?php endif; ?>	
	
	<?php if (isset($this->post_var['energiasolar'])) :  ?>
	form_values.energiasolar = '<?php echo (isset($this->post_var['energiasolar'])) ? $this->post_var['energiasolar'] : '' ?>';
	<?php endif; ?>	

	<?php if (isset($this->post_var['existenciaesportivo'])) :  ?>
	form_values.existenciaesportivo = '<?php echo (isset($this->post_var['existenciaesportivo'])) ? $this->post_var['existenciaesportivo'] : '' ?>';
	<?php endif; ?>	

	<?php if (isset($this->post_var['compartilhados'])) :  ?>
	form_values.compartilhados = '<?php echo (isset($this->post_var['compartilhados'])) ? $this->post_var['compartilhados'] : '' ?>';
	<?php endif; ?>	

	<?php if (isset($this->post_var['idtipoedificacao'])) :  ?>
	form_values.idtipoedificacao = '<?php echo (isset($this->post_var['idtipoedificacao'])) ? $this->post_var['idtipoedificacao'] : '' ?>';
	<?php endif; ?>

	<?php if (isset($this->post_var['idcobertura'])) :  ?>
	form_values.idcobertura = '<?php echo (isset($this->post_var['idcobertura'])) ? $this->post_var['idcobertura'] : '' ?>';
	<?php endif; ?>
	
	<?php if (isset($this->post_var['idtipoconstrucao'])) :  ?>
	form_values.idtipoconstrucao = '<?php echo (isset($this->post_var['idtipoconstrucao'])) ? $this->post_var['idtipoconstrucao'] : '' ?>';
	<?php endif; ?>

	<?php if (isset($this->post_var['acessosdeficiente'])) :  ?>
	form_values.acessosdeficiente = '<?php echo (isset($this->post_var['acessosdeficiente'])) ? $this->post_var['acessosdeficiente'] : '' ?>';
	<?php endif; ?>	

	<?php if (isset($this->post_var['elevador'])) :  ?>
	form_values.elevador = '<?php echo (isset($this->post_var['elevador'])) ? $this->post_var['elevador'] : '' ?>';
	<?php endif; ?>	

	<?php if (isset($this->post_var['codsituacao'])) :  ?>
	form_values.codsituacao = '<?php echo (isset($this->post_var['codsituacao'])) ? $this->post_var['codsituacao'] : '' ?>';
	<?php endif; ?>	
	<?php if (isset($this->post_var['codredeensino'])) :  ?>
	form_values.codredeensino = '<?php echo (isset($this->post_var['codredeensino'])) ? $this->post_var['codredeensino'] : '' ?>';
	<?php endif; ?>	
	<?php if (isset($this->post_var['codidentificador'])) :  ?>
	form_values.codidentificador = '<?php echo (isset($this->post_var['codidentificador'])) ? $this->post_var['codidentificador'] : '' ?>';
	<?php endif; ?>	
	
	<?php if (isset($this->post_var['idsensinostipos'])) :  
        if(is_array($this->post_var['idsensinostipos'])):
    ?>
    form_values.idsensinostipos = [<?php echo (isset($this->post_var['idsensinostipos'])) ? implode(',',$this->post_var['idsensinostipos']) : '' ?>];
    <?php else: ?> 
        form_values.idsensinostipos = [<?php echo (isset($this->post_var['idsensinostipos'])) ? $this->post_var['idsensinostipos'] : '' ?>];
    <?php endif; ?> 
	<?php endif; ?>	
    

	<?php if (isset($this->post_var['idsensinossubtipos'])) :  
        if(is_array($this->post_var['idsensinossubtipos'])): ?>
	   form_values.idsensinossubtipos = [<?php echo (isset($this->post_var['idsensinossubtipos'])) ? implode(',',$this->post_var['idsensinossubtipos']) : '' ?>];

    <?php else: ?>
        form_values.idsensinossubtipos = [<?php echo (isset($this->post_var['idsensinossubtipos'])) ? $this->post_var['idsensinossubtipos'] : '' ?>];
        
    <?php endif; ?>
	<?php endif; ?>



    <?php if (isset($this->post_var['idsatividadesaee'])) :  
        if(is_array($this->post_var['idsatividadesaee'])): 
    ?>
         form_values.idsatividadesaee = [<?php echo (isset($this->post_var['idsatividadesaee'])) ? implode(',',$this->post_var['idsatividadesaee']) : '' ?>];

    <?php else: ?>
         form_values.idsatividadesaee = [<?php echo (isset($this->post_var['idsatividadesaee'])) ? $this->post_var['idsatividadesaee'] : '' ?>];
    <?php endif; ?>
    <?php endif; ?>
   

        <?php if (isset($this->post_var['idsmaterias'])) :  ?>
    form_values.idsmaterias = [<?php echo (isset($this->post_var['idsmaterias'])) ? $this->post_var['idsmaterias'] : '' ?>];
    <?php endif; ?>
    window.onload = function(){
        CarregaCamposChecados();
    }

</script>

