		<!-- Content -->
		<div id="content">

		    <!-- Content wrapper -->
		    <div class="wrapper">

			    <!-- Breadcrumbs line -->
			    <div class="crumbs">
			    	<?php echo $this->render('/helpers/breadcrumb.phtml') ?>
			    </div>
			    <!-- /breadcrumbs line -->

			    <!-- Page header -->
			    <div class="page-header">
			    	<div class="page-title">
				    	<h5>Formulário do vínculo</h5>
				    	<span>Verifique os campos e preencha com os dados</span>
			    	</div>
			    </div>
			    <!-- /page header -->

			    <?php if (isset($this->crudMessage)) : ?>
					<div class="alert alert-success">
	                	<button data-dismiss="alert" class="close" type="button">×</button>
	                    <strong>Operação realizada com sucesso!</strong>
		    			<span><br /><?php echo $this->crudMessage ?></span>
	                </div>			    
			    <?php endif; ?>

				<form id="form" name="form" action="" method="post" class="form-horizontal" enctype="multipart/form-data"> 
					<input type="hidden" value="<?php echo (isset($this->post_var)) ? $this->post_var["id"] : ''; ?>" name="id" id="id" />
					
					<fieldset>
						<!-- General form elements -->
						<div class="widget row-fluid">
						    <div class="navbar">
						        <div class="navbar-inner">
						            <h6>Digite as informações do formulário</h6>
						        </div>
						    </div>

						    <div class="well">
								<?php if (isset($this->erros)) : ?>
									<div class="alert alert-error margin">
				                        <button data-dismiss="alert" class="close" type="button">×</button>
				                        <strong>Há erros no formulário!</strong>
					    				<?php foreach ($this->erros as $k=>$v) : ?>
					    					<span><br />- <?php echo $v ?></span>
					    				<?php endforeach;?>			                        
				                    </div>
			                    <?php endif; ?>						    


				<div class="control-group">
					<label class="control-label">Escolas <span class="required">*</span></label>
					<div class="controls">
                        <select id="idescola" name="idescola"  class="select" onchange="setSeries(this, 0)">
	                        <option value="">Selecione...</option>
	                        <?php foreach (Escolas::getEscolasHelper(array('status' => 'Ativo', 'idsecretaria' => Usuarios::getSecretariaAtiva( Usuarios::getUsuario('id'), 'id' ))) as $e=>$row): ?>
	                        <option value="<?php echo $row['id'] ?>"><?php echo $row['escola'] ?></option>
	                        <?php endforeach;?>
                        </select>   
					</div>
				</div>

				<div class="control-group">
					<label class="control-label">Status <span class="required">*</span></label>
					<div class="controls">
						<select name="status1" data-placeholder="Status" class="select">
							<option value="">Selecione...</option>
							<option value="Ativo">Ativo</option><option value="Bloqueado">Bloqueado</option>
						</select>
						
					</div>
				</div>

				<?php if(sizeof($this->quadrohorariosperiodos) <= 0): ?>
				<div class="control-group" style="display:none;">
					<label class="control-label">Gerar um novo Horário ?</label>
					<div class="controls">
						<a href="<?php echo $this->baseUrl()?>/admin/quadrohorariosperiodos/setvinculos" class="btn btn-danger cancelar">Gerar</a>
					</div>
				</div>
				<?php endif;?>
				

				<div class="control-group">
					<div class="controls1">
						<?php $qtdaulas = ((isset($this->post_var['quantidadesaulas'])) && ((int)$this->post_var['quantidadesaulas']>0)) ? $this->post_var['quantidadesaulas'] : 1; 
							$width = floor(100/($qtdaulas+1));
						?>
								<?php 
								$idescola = ((isset($this->post_var['idescola'])) ? $this->post_var['idescola'] : '1');
									$codigos = Quadrohorariosperiodos::getQuadrohorariosperiodosHelper(array('idescola'=>$idescola, 'order'=>'GROUP BY q1.idquadrohorario'));
								?>
						<?php if(sizeof($codigos)>0): ?>
						<table class="table table-primary mb30" style="width:100%;" border="1" bordercolor="#d5d5d5">
							<thead>
								<tr>
									<th width=""  style="width:14%; text-align:center;">Código</th>
									<th width=""  style="width:14%; text-align:center;">Professor</th>
									<th width=""  style="width:14%; text-align:center;">Matéria</th>
								</tr>
							</thead>
							<tbody>

								<?php foreach ($codigos as $ic => $codigo) :?>
								<tr>									
									<td width=""  style="width:14%; text-align:center;">
										<?php 
											$professor = "";
												$___rows = Funcionariosgeraisescolas::getFuncionariosgeraisescolasHelper(array('id'=>$codigo['idprofessor']));
												$___row = (sizeof($___rows)>0) ? 	$___rows[0] : false;	
												
												$professor = ($___row) ? $this->formatTextoBranco(substr($___row['nome'],0,1)) : '--';		
										?><?php echo (isset($codigo['idmateria'])) ? $professor . $codigo['idmateria'] : '' ?>
									</td>
									<td width=""  style="width:14%; text-align:center;">
<?php 
											$professor = "";
												$___rows = Funcionariosgeraisescolas::getFuncionariosgeraisescolasHelper(array('id'=>$codigo['idprofessor']));
												$___row = (sizeof($___rows)>0) ? 	$___rows[0] : false;	
												
												$professor = ($___row) ? $this->formatTextoBranco($___row['nome']) : '--';	echo $professor;	
										?>
									</td>
									<td width=""  style="width:14%; text-align:center;">
					<?php
						$___rows = Controlealunosmaterias::getControlealunosmateriasHelper(array('id'=>$codigo['idmateria']));
						$___row = (sizeof($___rows)>0) ? 	$___rows[0] : false;	
						
						echo ($___row) ? $this->formatTextoBranco($___row['materia']) : '--';		
					?>
									</td>
								</tr>
								<?php endforeach; ?>
							</tbody>
						</table>
<br /><br />
						<?php endif; ?>


						<table class="table table-primary mb30" style="width:100%;" border="1" bordercolor="#d5d5d5">
							<thead>
								<tr>
									<th width=""  style="width:14%; text-align:center;">Série</th>
									<th width=""  style="width:14%; text-align:center;">Segunda</th>
									<th width=""  style="width:14%; text-align:center;">Terça</th>
									<th width=""  style="width:14%; text-align:center;">Quarta</th>
									<th width=""  style="width:14%; text-align:center;">Quinta</th>
									<th width=""  style="width:14%; text-align:center;">Sexta</th>
									<th width=""  style="width:14%; text-align:center;">Sábado</th>
								</tr>

								<tr class="content_semana">
									<th width=""  style="text-align:center;">&nbsp;</th>
									<th width=""  style="width:14%; text-align:center;">
										<table class="table table-primary mb30 diassemanas" style="width:100%;  border: 0px #d5d5d5" border="0" bordercolor="#d5d5d5">

											<tr>
												<?php for ($i=1; $i<=$qtdaulas; $i++) : ?>
												<td style="width:<?php echo $width ?>%; border-left:0 none #d5d5d5; border-top:0; border-bottom:0; <?php echo ($i==6) ? 'border-right:0;':'' ?>">
													<?php echo $i ?>
												</td>
												<?php endfor;?>
											</tr>								
											
										</table>
									</th>
									<th width=""  style="width:14%; text-align:center;">
										<table class="table table-primary mb30 diassemanas" style="width:100%;  border: 0px #d5d5d5" border="0" bordercolor="#d5d5d5">

											<tr>
												<?php for ($i=1; $i<=$qtdaulas; $i++) : ?>
												<td style="width:<?php echo $width ?>%; border-left:0 none #d5d5d5; border-top:0; border-bottom:0; <?php echo ($i==6) ? 'border-right:0;':'' ?>">
													<?php echo $i ?>
												</td>
												<?php endfor;?>
											</tr>								
											
										</table>
									</th>
									<th width=""  style="width:14%; text-align:center;">
										<table class="table table-primary mb30 diassemanas" style="width:100%;  border: 0px #d5d5d5" border="0" bordercolor="#d5d5d5">

											<tr>
												<?php for ($i=1; $i<=$qtdaulas; $i++) : ?>
												<td style="width:<?php echo $width ?>%; border-left:0 none #d5d5d5; border-top:0; border-bottom:0; <?php echo ($i==6) ? 'border-right:0;':'' ?>">
													<?php echo $i ?>
												</td>
												<?php endfor;?>
											</tr>								
											
										</table>
									</th>
									<th width=""  style="width:14%; text-align:center;">
										<table class="table table-primary mb30 diassemanas" style="width:100%;  border: 0px #d5d5d5" border="0" bordercolor="#d5d5d5">

											<tr>
												<?php for ($i=1; $i<=$qtdaulas; $i++) : ?>
												<td style="width:<?php echo $width ?>%; border-left:0 none #d5d5d5; border-top:0; border-bottom:0; <?php echo ($i==6) ? 'border-right:0;':'' ?>">
													<?php echo $i ?>
												</td>
												<?php endfor;?>
											</tr>								
											
										</table>
									</th>
									<th width=""  style="width:14%; text-align:center;">
										<table class="table table-primary mb30 diassemanas" style="width:100%;  border: 0px #d5d5d5" border="0" bordercolor="#d5d5d5">

											<tr>
												<?php for ($i=1; $i<=$qtdaulas; $i++) : ?>
												<td style="width:<?php echo $width ?>%; border-left:0 none #d5d5d5; border-top:0; border-bottom:0; <?php echo ($i==6) ? 'border-right:0;':'' ?>">
													<?php echo $i ?>
												</td>
												<?php endfor;?>
											</tr>								
											
										</table>
									</th>
									<th width=""  style="width:14%; text-align:center;">
										<table class="table table-primary mb30 diassemanas" style="width:100%;  border: 0px #d5d5d5" border="0" bordercolor="#d5d5d5">

											<tr>
												<?php for ($i=1; $i<=$qtdaulas; $i++) : ?>
												<td style="width:<?php echo $width ?>%; border-left:0 none #d5d5d5; border-top:0; border-bottom:0; <?php echo ($i==6) ? 'border-right:0;':'' ?>">
													<?php echo $i ?>
												</td>
												<?php endfor;?>
											</tr>								
											
										</table>
									</th>

								</tr>
							</thead>

							<tbody class="content_semana">
								<?php foreach($this->escolasvinculos as $ev=>$rowvinculo): ?>
								<tr>
									<td style=" padding:0 12px;">
										<?php
											$___rows = Escolasseries::getEscolasseriesHelper(array('id'=>$rowvinculo['idserie']));
											$___row = (sizeof($___rows)>0) ? 	$___rows[0] : false;	
											
											echo ($___row) ? $this->formatTextoBranco($___row['serie']) : '--';		
										?>
										<?php
											$___rows = Escolasturmas::getEscolasturmasHelper(array('id'=>$rowvinculo['idturma']));
											$___row = (sizeof($___rows)>0) ? 	$___rows[0] : false;	
											
											echo ($___row) ? $this->formatTextoBranco($___row['turma']) : '--';		
										?>
									</td>

									<td>
										<table class="table table-primary mb30 diassemanas" style="width:100%;  border: 0px #d5d5d5" border="1" bordercolor="#d5d5d5">

											<tr>
												<?php for ($i=1; $i<=$qtdaulas; $i++) : ?>
												<?php $rq = Quadrohorariosperiodos::getQuadrohorariosperiodosHelper(array('materia'=>true ,'idescolavinculo'=>$rowvinculo['id'], 'diassemana'=>'2º Feira', 'periodo'=>$i)); ?>
												<td class="content-periodoaula diaperiodo_<?php echo (isset($rq['id'])) ? $rq['id'] : '' ?>" style="width:<?php echo $width ?>%; border-left:0 none #d5d5d5; border-top:0; border-bottom:0; <?php echo ($i==6) ? 'border-right:0;':'' ?>">
													<div class="linha-draggable">
														<span class="texto_l">
															
				<?php
					$professor = "";
					$___rows = Funcionariosgeraisescolas::getFuncionariosgeraisescolasHelper(array('id'=>$rq['idprofessor']));
					$___row = (sizeof($___rows)>0) ? 	$___rows[0] : false;	
					
					$professor = ($___row) ? $this->formatTextoBranco(substr($___row['nome'],0,1)) : '--';		
				?><?php echo (isset($rq['idmateria'])) ? $professor . $rq['idmateria'] : '' ?>
														</span>
														<input type="hidden" class="idquadrohorarioperiodos" value="<?php echo (isset($rq['id'])) ? $rq['id'] : '' ?>" />
														<input type="hidden" class="idquadrohorario" value="<?php echo (isset($rq['idquadrohorario'])) ? $rq['idquadrohorario'] : '' ?>" />

														<input type="hidden" class="idescolavinculo" value="<?php echo (isset($rowvinculo['id'])) ? $rowvinculo['id'] : '' ?>" />

														<input type="hidden" class="idprofessor" value="<?php echo (isset($rq['idprofessor'])) ? $rq['idprofessor'] : '' ?>" />

														<input type="hidden" class="idmateria" value="<?php echo (isset($rq['idmateria'])) ? $rq['idmateria'] : '' ?>" />

														<input type="hidden" class="periodo" value="<?php echo $i ?>" />
														
														<input type="hidden" class="diasemana" value="2º Feira" />
													</div>
												</td>
												<?php endfor;?>
											</tr>								
											
										</table>
									</td>
									<td>
										<table class="table table-primary mb30 diassemanas" style="width:100%;  border: 0px #d5d5d5" border="1" bordercolor="#d5d5d5">

											<tr>
												<?php for ($i=1; $i<=$qtdaulas; $i++) : ?>
												<?php $rq = Quadrohorariosperiodos::getQuadrohorariosperiodosHelper(array('materia'=>true ,'idescolavinculo'=>$rowvinculo['id'], 'diassemana'=>'3º Feira', 'periodo'=>$i)); ?>
												<td class="content-periodoaula diaperiodo_<?php echo (isset($rq['id'])) ? $rq['id'] : '' ?>" style="width:<?php echo $width ?>%; border-left:0 none #d5d5d5; border-top:0; border-bottom:0; <?php echo ($i==6) ? 'border-right:0;':'' ?>">
													<div class="linha-draggable">
														<span class="texto_l">				<?php
					$professor = "";
					$___rows = Funcionariosgeraisescolas::getFuncionariosgeraisescolasHelper(array('id'=>$rq['idprofessor']));
					$___row = (sizeof($___rows)>0) ? 	$___rows[0] : false;	
					
					$professor = ($___row) ? $this->formatTextoBranco(substr($___row['nome'],0,1)) : '--';		
				?><?php echo (isset($rq['idmateria'])) ? $professor . $rq['idmateria'] : '' ?></span>
														<input type="hidden" class="idquadrohorarioperiodos" value="<?php echo (isset($rq['id'])) ? $rq['id'] : '' ?>" />
														<input type="hidden" class="idquadrohorario" value="<?php echo (isset($rq['idquadrohorario'])) ? $rq['idquadrohorario'] : '' ?>" />

														<input type="hidden" class="idescolavinculo" value="<?php echo (isset($rowvinculo['id'])) ? $rowvinculo['id'] : '' ?>" />

														<input type="hidden" class="idprofessor" value="<?php echo (isset($rq['idprofessor'])) ? $rq['idprofessor'] : '' ?>" />

														<input type="hidden" class="idmateria" value="<?php echo (isset($rq['idmateria'])) ? $rq['idmateria'] : '' ?>" />

														<input type="hidden" class="periodo" value="<?php echo $i ?>" />
														
														<input type="hidden" class="diasemana" value="3º Feira" />
													</div>
												</td>
												<?php endfor;?>
											</tr>								
											
										</table>
									</td>
									<td>
										<table class="table table-primary mb30 diassemanas" style="width:100%;  border: 0px #d5d5d5" border="1" bordercolor="#d5d5d5">

											<tr>
												<?php for ($i=1; $i<=$qtdaulas; $i++) : ?>
												<?php $rq = Quadrohorariosperiodos::getQuadrohorariosperiodosHelper(array('materia'=>true ,'idescolavinculo'=>$rowvinculo['id'], 'diassemana'=>'4º Feira', 'periodo'=>$i)); ?>
												<td class="content-periodoaula diaperiodo_<?php echo (isset($rq['id'])) ? $rq['id'] : '' ?>" style="width:<?php echo $width ?>%; border-left:0 none #d5d5d5; border-top:0; border-bottom:0; <?php echo ($i==6) ? 'border-right:0;':'' ?>">
													<div class="linha-draggable">
														<span class="texto_l">				<?php
					$professor = "";
					$___rows = Funcionariosgeraisescolas::getFuncionariosgeraisescolasHelper(array('id'=>$rq['idprofessor']));
					$___row = (sizeof($___rows)>0) ? 	$___rows[0] : false;	
					
					$professor = ($___row) ? $this->formatTextoBranco(substr($___row['nome'],0,1)) : '--';		
				?><?php echo (isset($rq['idmateria'])) ? $professor . $rq['idmateria'] : '' ?></span>
														<input type="hidden" class="idquadrohorarioperiodos" value="<?php echo (isset($rq['id'])) ? $rq['id'] : '' ?>" />
														<input type="hidden" class="idquadrohorario" value="<?php echo (isset($rq['idquadrohorario'])) ? $rq['idquadrohorario'] : '' ?>" />

														<input type="hidden" class="idescolavinculo" value="<?php echo (isset($rowvinculo['id'])) ? $rowvinculo['id'] : '' ?>" />

														<input type="hidden" class="idprofessor" value="<?php echo (isset($rq['idprofessor'])) ? $rq['idprofessor'] : '' ?>" />

														<input type="hidden" class="idmateria" value="<?php echo (isset($rq['idmateria'])) ? $rq['idmateria'] : '' ?>" />

														<input type="hidden" class="periodo" value="<?php echo $i ?>" />
														
														<input type="hidden" class="diasemana" value="4º Feira" />
													</div>
												</td>
												<?php endfor;?>
											</tr>								
											
										</table>
									</td>
									<td>
										<table class="table table-primary mb30 diassemanas" style="width:100%;  border: 0px #d5d5d5" border="1" bordercolor="#d5d5d5">

											<tr>
												<?php for ($i=1; $i<=$qtdaulas; $i++) : ?>
												<?php $rq = Quadrohorariosperiodos::getQuadrohorariosperiodosHelper(array('materia'=>true ,'idescolavinculo'=>$rowvinculo['id'], 'diassemana'=>'5º Feira', 'periodo'=>$i)); ?>
												<td class="content-periodoaula diaperiodo_<?php echo (isset($rq['id'])) ? $rq['id'] : '' ?>" style="width:<?php echo $width ?>%; border-left:0 none #d5d5d5; border-top:0; border-bottom:0; <?php echo ($i==6) ? 'border-right:0;':'' ?>">
													<div class="linha-draggable">
														<span class="texto_l">				<?php
					$professor = "";
					$___rows = Funcionariosgeraisescolas::getFuncionariosgeraisescolasHelper(array('id'=>$rq['idprofessor']));
					$___row = (sizeof($___rows)>0) ? 	$___rows[0] : false;	
					
					$professor = ($___row) ? $this->formatTextoBranco(substr($___row['nome'],0,1)) : '--';		
				?><?php echo (isset($rq['idmateria'])) ? $professor . $rq['idmateria'] : '' ?></span>
														<input type="hidden" class="idquadrohorarioperiodos" value="<?php echo (isset($rq['id'])) ? $rq['id'] : '' ?>" />
														<input type="hidden" class="idquadrohorario" value="<?php echo (isset($rq['idquadrohorario'])) ? $rq['idquadrohorario'] : '' ?>" />

														<input type="hidden" class="idescolavinculo" value="<?php echo (isset($rowvinculo['id'])) ? $rowvinculo['id'] : '' ?>" />

														<input type="hidden" class="idprofessor" value="<?php echo (isset($rq['idprofessor'])) ? $rq['idprofessor'] : '' ?>" />

														<input type="hidden" class="idmateria" value="<?php echo (isset($rq['idmateria'])) ? $rq['idmateria'] : '' ?>" />

														<input type="hidden" class="periodo" value="<?php echo $i ?>" />
														
														<input type="hidden" class="diasemana" value="5º Feira" />
													</div>
												</td>
												<?php endfor;?>
											</tr>								
											
										</table>
									</td>

									<td>
										<table class="table table-primary mb30 diassemanas" style="width:100%;  border: 0px #d5d5d5" border="1" bordercolor="#d5d5d5">

											<tr>
												<?php for ($i=1; $i<=$qtdaulas; $i++) : ?>
												<?php $rq = Quadrohorariosperiodos::getQuadrohorariosperiodosHelper(array('materia'=>true ,'idescolavinculo'=>$rowvinculo['id'], 'diassemana'=>'6º Feira', 'periodo'=>$i)); ?>
												<td class="content-periodoaula diaperiodo_<?php echo (isset($rq['id'])) ? $rq['id'] : '' ?>" style="width:<?php echo $width ?>%; border-left:0 none #d5d5d5; border-top:0; border-bottom:0; <?php echo ($i==6) ? 'border-right:0;':'' ?>">
													<div class="linha-draggable">
														<span class="texto_l">				<?php
					$professor = "";
					$___rows = Funcionariosgeraisescolas::getFuncionariosgeraisescolasHelper(array('id'=>$rq['idprofessor']));
					$___row = (sizeof($___rows)>0) ? 	$___rows[0] : false;	
					
					$professor = ($___row) ? $this->formatTextoBranco(substr($___row['nome'],0,1)) : '--';		
				?><?php echo (isset($rq['idmateria'])) ? $professor . $rq['idmateria'] : '' ?></span>
														<input type="hidden" class="idquadrohorarioperiodos" value="<?php echo (isset($rq['id'])) ? $rq['id'] : '' ?>" />
														<input type="hidden" class="idquadrohorario" value="<?php echo (isset($rq['idquadrohorario'])) ? $rq['idquadrohorario'] : '' ?>" />

														<input type="hidden" class="idescolavinculo" value="<?php echo (isset($rowvinculo['id'])) ? $rowvinculo['id'] : '' ?>" />

														<input type="hidden" class="idprofessor" value="<?php echo (isset($rq['idprofessor'])) ? $rq['idprofessor'] : '' ?>" />

														<input type="hidden" class="idmateria" value="<?php echo (isset($rq['idmateria'])) ? $rq['idmateria'] : '' ?>" />

														<input type="hidden" class="periodo" value="<?php echo $i ?>" />
														
														<input type="hidden" class="diasemana" value="6º Feira" />
													</div>
												</td>
												<?php endfor;?>
											</tr>								
											
										</table>
									</td>

									<td>
										<table class="table table-primary mb30 diassemanas" style="width:100%;  border: 0px #d5d5d5" border="1" bordercolor="#d5d5d5">

											<tr>
												<?php for ($i=1; $i<=$qtdaulas; $i++) : ?>
												<?php $rq = Quadrohorariosperiodos::getQuadrohorariosperiodosHelper(array('materia'=>true ,'idescolavinculo'=>$rowvinculo['id'], 'diassemana'=>'Sábado', 'periodo'=>$i)); ?>
												<td class="content-periodoaula diaperiodo_<?php echo (isset($rq['id'])) ? $rq['id'] : '' ?>" style="width:<?php echo $width ?>%; border-left:0 none #d5d5d5; border-top:0; border-bottom:0; <?php echo ($i==6) ? 'border-right:0;':'' ?>">
													<div class="linha-draggable">
														<span class="texto_l">				<?php
					$professor = "";
					$___rows = Funcionariosgeraisescolas::getFuncionariosgeraisescolasHelper(array('id'=>$rq['idprofessor']));
					$___row = (sizeof($___rows)>0) ? 	$___rows[0] : false;	
					
					$professor = ($___row) ? $this->formatTextoBranco(substr($___row['nome'],0,1)) : '--';		
				?><?php echo (isset($rq['idmateria'])) ? $professor . $rq['idmateria'] : '' ?></span>
														<input type="hidden" class="idquadrohorarioperiodos" value="<?php echo (isset($rq['id'])) ? $rq['id'] : '' ?>" />

														<input type="hidden" class="idquadrohorario" value="<?php echo (isset($rq['idquadrohorario'])) ? $rq['idquadrohorario'] : '' ?>" />

														<input type="hidden" class="idescolavinculo" value="<?php echo (isset($rowvinculo['id'])) ? $rowvinculo['id'] : '' ?>" />

														<input type="hidden" class="idprofessor" value="<?php echo (isset($rq['idprofessor'])) ? $rq['idprofessor'] : '' ?>" />

														<input type="hidden" class="idmateria" value="<?php echo (isset($rq['idmateria'])) ? $rq['idmateria'] : '' ?>" />

														<input type="hidden" class="periodo" value="<?php echo $i ?>" />

														<input type="hidden" class="diasemana" value="Sábado<?php //echo (isset($rq['diassemana'])) ? $rq['diassemana'] : '' ?>" />
													</div>
												</td>
												<?php endfor;?>
											</tr>								
											
										</table>
									</td>
								</tr>
							<?php endforeach;?>
							</tbody>
							
						</table>
					</div>
				</div>
						    
						    </div>
						    
			                <div class="form-actions align-right">
			                	<?php if ((isset($this->visualizar)) && ($this->visualizar)) : ?>
			                		<button onclick="window.history.back()" class="btn btn-danger cancelar" type="button">Voltar</button>
			                	<?php else : ?>
				                	<button class="btn btn-primary enviar" type="submit">Salvar</button>
				                	<button onclick="window.history.back()" class="btn btn-danger cancelar" type="button">Cancelar</button>
			                	<?php endif; ?>
			                </div>
						</div>
						<!-- /general form elements -->

					</fieldset>

				</form>
				<!-- /basic inputs -->

		    </div>
		    <!-- /content wrapper -->

		</div>
		<!-- content -->
				
<script src="<?php echo $this->baseUrl() ?>/public/scripts/ui.dragdrop.js"></script>				
<script type="text/javascript" src="<?php echo $this->baseUrl('/public/scripts/admin/quadrohorarios_form.js') ?>"></script>
<script type="text/javascript">
	var form_values = {};
	
	<?php if (isset($this->post_var)) :  ?>
		form_values.idsecretaria = '<?php echo (isset($this->post_var['idsecretaria'])) ? $this->post_var['idsecretaria'] : '' ?>';

form_values.idescola = '<?php echo (isset($this->post_var['idescola'])) ? $this->post_var['idescola'] : '' ?>';

form_values.idsala = '<?php echo (isset($this->post_var['idsala'])) ? $this->post_var['idsala'] : '' ?>';

form_values.idserie = '<?php echo (isset($this->post_var['idserie'])) ? $this->post_var['idserie'] : '' ?>';

form_values.idturma = '<?php echo (isset($this->post_var['idturma'])) ? $this->post_var['idturma'] : '' ?>';

form_values.idperiodo = '<?php echo (isset($this->post_var['idperiodo'])) ? $this->post_var['idperiodo'] : '' ?>';

form_values.idprofessor = '<?php echo (isset($this->post_var['idprofessor'])) ? $this->post_var['idprofessor'] : '' ?>';

form_values.idtipoensino = '<?php echo (isset($this->post_var['idtipoensino'])) ? $this->post_var['idtipoensino'] : '' ?>';

form_values.turno = '<?php echo (isset($this->post_var['turno'])) ? $this->post_var['turno'] : '' ?>';

form_values.integracao = '<?php echo (isset($this->post_var['integracao'])) ? $this->post_var['integracao'] : '' ?>';

form_values.status1 = '<?php echo (isset($this->post_var['status1'])) ? $this->post_var['status1'] : $this->post_var['status'] ?>';


	<?php endif; ?>
	<?php if ((isset($this->post_var['idsmaterias'])) && ($this->post_var['idsmaterias']!="")) :  ?>
	form_values.idsmaterias = [<?php echo $this->post_var['idsmaterias'] ?>];
	<?php endif; ?>
	visualizar = <?php echo  ((isset($this->visualizar)) && ($this->visualizar))  ? 'true' : 'false' ?>;
</script>

<script type="text/javascript">
jQuery(document).ready(function() {
	$(".linha-draggable").draggable(
			{
			cursor: 'pointer', 
			helper: 'clone', 
			opacity: 0.75,
			create: function () {
		        var eq = $(this).index();
		        $(this).attr('data-index', eq);
		    }});
    
		$(".content-periodoaula").droppable(
			{
	      	drop: function(event, ui) { 
	      		
	      		//DRAG
	      		$texto_lorigem = ui.draggable.find(".texto_l").text();
	      		$idquadrohorarioperiodosorigem = ui.draggable.find(".idquadrohorarioperiodos").attr("value");
	      		$idquadrohorarioorigem = ui.draggable.find(".idquadrohorario").attr("value");
	      		$idescolavinculoorigem = ui.draggable.find(".idescolavinculo").attr("value");
		      	$idprofessororigem = ui.draggable.find(".idprofessor").attr("value");
		      	$idmateriaorigem = ui.draggable.find(".idmateria").attr("value");
		      	$periodoorigem = ui.draggable.find(".periodo").attr("value");
		      	$diasemanaorigem = ui.draggable.find(".diasemana").attr("value");
		      	var html = "";
		      	html += "texto_lorigem:"+$texto_lorigem+" \n";
		      	html += "idquadrohorario_origem:"+$idquadrohorarioorigem+" \n";
		      	html += "idescolavinculo_origem:"+$idescolavinculoorigem+" \n";
		      	html += "idprofessor_origem:"+$idprofessororigem+" \n";
		      	html += "idmateria_origem:"+$idmateriaorigem+" \n";
		      	html += "periodo_origem:"+$periodoorigem+" \n";
		      	html += "diasemana_origem:"+$diasemanaorigem+" \n";
				
				//DROP
				$texto_ldestino = $(this).find(".texto_l").text();
				$idquadrohorarioperiodosdestino = $(this).find(".idquadrohorarioperiodos").val();
				$idquadrohorariodestino = $(this).find(".idquadrohorario").val();
				$idescolavinculodestino = $(this).find(".idescolavinculo").val();
		      	$idprofessordestino = $(this).find(".idprofessor").val();
				$idmateriadestino = $(this).find(".idmateria").val();
				$periododestino = $(this).find(".periodo").val();
				$diasemanadestino = $(this).find(".diasemana").val();

		      	html += " \n \n";
		      	html += "texto_ldestino:"+$texto_ldestino+" \n";
		      	html += "idquadrohorario:"+$idquadrohorariodestino+" \n";
		      	html += "idescolavinculo:"+$idescolavinculodestino+" \n";
		      	html += "idprofessor:"+$idprofessordestino+" \n";
		      	html += "idmateria:"+$idmateriadestino+" \n";
		      	html += "periodo:"+$periododestino+" \n";
		      	html += "diasemana:"+$diasemanadestino+" \n";
				//alert(html);
				
				$idescola = $('select[name=idescola]').val();
				//alert($idescola);
				var path = $(this);
				$.post(baseUrl + '/admin/quadrohorariosperiodos/verificadisponibilidade/', {
					idescola:$idescola,
					idquadrohorarioperiodosorigem:$idquadrohorarioperiodosorigem,
					idquadrohorarioorigem:$idquadrohorarioorigem, 
					idescolavinculoorigem:$idescolavinculoorigem, 
					idprofessororigem:$idprofessororigem, 
					idmateriaorigem:$idmateriaorigem, 
					periodoorigem:$periodoorigem, 
					diasemanaorigem:$diasemanaorigem, 
					idquadrohorarioperiodosdestino:$idquadrohorarioperiodosdestino,
					idquadrohorariodestino:$idquadrohorariodestino, 
					idescolavinculodestino:$idescolavinculodestino, 
					idprofessordestino:$idprofessordestino, 
					idmateriadestino:$idmateriadestino, 
					periododestino:$periododestino, 
					diasemanadestino:$diasemanadestino}, 
					function(data) {
						//alert(data);
						var data_resp = JSON.parse(data);
						
						if(data_resp.data=="OK"){
							//alert('texto_ldestino: '+$texto_ldestino);
							//alert('texto_lorigem: '+$texto_ldestino);
							ui.draggable.find(".texto_l").text(' ');
							ui.draggable.find(".texto_l").text($texto_ldestino);
							path.find(".texto_l").text(' ');
							path.find(".texto_l").text($texto_lorigem);
							jAlert(data_resp.mensagem, data_resp.titulo);
						}else{
							jAlert(data_resp.mensagem, data_resp.titulo);	
						}
						
						//var cor_turma = path.find('.cor_turma').val();	
						//console.log('cor_turma: ' + cor_turma);
					});
			
		    }

	    });		
});
</script>
