		<!-- Content -->
		<div id="content">

		    <!-- Content wrapper -->
		    <div class="wrapper">

			    <!-- Breadcrumbs line -->
			    <div class="crumbs">
			    	<?php echo $this->render('/helpers/breadcrumb.phtml') ?>
			    </div>
			    <!-- /breadcrumbs line -->

			    <!-- Page header -->
			    <div class="page-header">
			    	<div class="page-title">
				    	<h5>Escolas cadastradas no sistema</h5>
				    	<span>Visualize as Escolas no sistema</span>
			    	</div>
			    	
			    </div>
			    <!-- /page header -->
			    
			    <?php if (isset($this->crudMessage)) : ?>
				<div class="alert alert-success">
                	<button data-dismiss="alert" class="close" type="button">×</button>
                    <strong>Operação realizada com sucesso!</strong>
	    			<span><br /><?php echo $this->crudMessage ?></span>
                </div>			    
			    <?php endif; ?>




	                        	                        
                <!-- Table with footer -->
                <div class="widget">
                	<form action="#" class="form-horizontal" method="post">
                		<input type="hidden" value="<?php echo (isset($this->post_var['sorting'])) ? $this->post_var['sorting'] : '' ?>" name="sorting" />
	                	<div class="navbar">
	                		<div class="navbar-inner">
	                			<h6>Visualizando registros</h6>
	                			<?php if (Mn_Util::isAccess($this->getController(), 'adicionar')) : ?>
	                			<a style="float:right;" href="<?php echo $this->baseUrl() ?>/<?php echo 'admin' ?>/<?php echo $this->getController() ?>/adicionar" class="btn btn-primary"><span class="icon-plus"></span>&nbsp;Adicionar Escola</a>
	                			<?php endif; ?>
	                		</div>
	                	</div>
	                    <div class="table-overflow">
	                        <table class="table table-content">
	                            <thead>
	                                <tr>
			                			<th width="20">&nbsp;</th> 
			                			<th width="100">Imagem</th>            			
			                			<th>Escola</th>	                			
	                					<th width="120">Status</th>
			                			<th style="width:74px">Ações</th>
	                                </tr>
	                                <tr>
	                                    <th></th>
	                                    <th></th>
										<th>
											<input name="chave" value="<?php echo (isset($this->post_var['chave'])) ? $this->post_var['chave'] : '' ?>" type="text" class="span3" placeholder="" style="width:100%">											
										</th>

										<th>
											<div>
												<select name="status1" placeholder="Todos" class="select">
													<option value="">Todos</option>
													<option value="Ativo">Ativo</option><option value="Bloqueado">Bloqueado</option>
												</select>
											</div>
										</th>
                   

	                                    <th><button class="btn btn-mini btn-primary" type="submit">Pesquisar</button></th>
	                                </tr> 
	                                                                
	                            </thead>
	                            <tbody>
			                	   	<?php if (sizeof($this->rows)==0) : ?>
			                		<tr>
			                			<td colspan="5">Nenhum registro foi encontrado</td>
			                		</tr>
			                		<?php endif;?>
			                		<?php foreach ($this->rows as $i=>$row) : ?>
			                			<?php if($i > 0) continue;?>
										<?php if (Mn_Util::isAccess($this->getController(), 'editar')) : ?>
										<tr class="line">
										<?php else : ?>
										<tr>
										<?php endif; ?>
			                				<td>
			                					<?php $i+1 ?>
			                					<input type="hidden" name=id[] value="<?php echo $row['id'] ?>" />
		                					</td>
		                					<?php $idimagem = Escolasimagens::getImagemByIdEmpresa($row['id'])?>
											<td><?php echo $this->getImagem($idimagem, 80, 0, $row['escola'], Imagens::$INDISPONIVEL) ?></td>
		                					
			                				<td><?php echo $this->cortaPalavra(200, $row['escola']) ?></td>
			                				
			                				<td>
			                					<?php if (Mn_Util::isAccess($this->getController(), 'editar')) : ?>
			                					<a onclick="javascript:statusChange(<?php echo $row["id"]?>, this);" href="javascript:;"><?php echo $row['status'] ?></a>
			                					<?php else : ?>
			                					<?php echo $row['status'] ?>
			                					<?php endif; ?>
			                				</td>
			                				
		                                    <td>
		                                        <ul class="table-controls">
		                                            <li><a title="" class="btn tip" href="<?php echo $this->baseUrl() ?>/<?php echo 'admin' ?>/<?php echo $this->getController() ?>/visualizar/id/<?php echo $row['id'] ?>" data-original-title="Visualizar"><i class="icon-eye-open"></i></a> </li>
		                                            <?php if (Mn_Util::isAccess($this->getController(), 'editar')) : ?>
		                                            <li><a title="" class="btn tip" href="<?php echo $this->baseUrl() ?>/<?php echo 'admin' ?>/<?php echo $this->getController() ?>/editar/id/<?php echo $row['id'] ?>" data-original-title="Editar"><i class="icon-pencil"></i></a> </li>
		                                            <?php endif;?>
		                                            <?php if (Mn_Util::isAccess($this->getController(), 'excluir')) : ?>
		                                            <li><a title="" class="btn tip" href="javascript:confirmDelete('<?php echo $row['id']; ?>','registro');" data-original-title="Excluir"><i class="icon-remove"></i></a> </li>
		                                            <?php endif; ?>
		                                        </ul>
		                                    </td>
			                			</tr>
			                		<?php endforeach;?> 
	
	                            </tbody>
	                        </table>
	                    </div>
	                    <?php echo $this->render('/helpers/paginator.phtml') ?>
                    
                    </form>

                </div>
                <!-- /table with footer -->
	                        


		    </div>
		    <!-- /content wrapper -->

		</div>
		<!-- content -->
		
		


<script type="text/javascript" src="<?php echo $this->baseUrl('/public/scripts/admin/escolas_index.js') ?>"></script>
<script type="text/javascript">

	var form_values = {};
	<?php if (isset($this->post_var['status'])) :  ?>
	form_values.status = '<?php echo (isset($this->post_var['status'])) ? $this->post_var['status'] : $this->post_var['status'] ?>';
	<?php endif; ?>

	<?php if (isset($this->post_var['idescola'])) :  ?>
	form_values.idescola = '<?php echo (isset($this->post_var['idescola'])) ? $this->post_var['idescola'] : $this->post_var['idescola'] ?>';
	<?php endif; ?>
	
</script>





<?php /*?>




<div class="contentpanel">

	<div class="row">
	
        <div class="panel-body">
        

			<div class="panel panel-default">
				<div class="panel-heading">
					<div class="panel-btns">
						<?php if ($this->isMinimize()) : ?>
						<a  href="javascript:;" class="minimize" onclick="setMinimize('sim')">−</a>
						<?php else : ?>
						<a href="javascript:;" class="minimize maximize" onclick="javascript:$('select').closest('div').find('.chosen-container').css('width', '100%');setMinimize('nao')">+</a>
						<?php endif; ?>
					</div>
					<h4 class="panel-title">Filtro</h4>
					<p>Use o formulário para filtrar de acordo com os critérios disponíveis</p>
				</div>        
				<div class="panel-body" style="display: <?php echo ($this->isMinimize()) ? 'block' : 'none' ?>;">
		        	<form id="form" name="form" method="post" class="form-horizontal form-bordered">
		        	
		        		<div class="form-group">
		        			<label class="col-sm-3 control-label">Palavra Chave</label>
		        			<div class="col-sm-6">
		        				<input name="chave" value="<?php echo (isset($this->post_var['chave'])) ? $this->post_var['chave'] : '' ?>" type="text" class="form-control" placeholder="">
							</div>
						</div>
						
		        		<div class="form-group">
		        			<label class="col-sm-3 control-label">Status</label>
		        			<div class="col-sm-6">
		        				<select id="status1" name="status" class="form-control">
		        					<option value="">Todos</option>
		        					<option value="Ativo">Ativo</option>
		        					<option value="Bloqueado">Bloqueado</option>
								</select>        				
							</div>
						</div>				
		
						
						<div class="panel-footer">
							<div class="row">
								<div class="col-sm-6 col-sm-offset-3">
									<button class="btn btn-warning">Pesquisar</button>&nbsp;
								</div>
							</div>
						</div><!-- panel-footer -->				
						
					</form>              
              
              
            	</div>	
            </div>        
        
        
			<div class="panel-heading" style="position:relative;">
			
				<?php if (isset($this->crudMessage)) : ?>
				<div class="alert alert-success">
                	<button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                	<strong>Sucesso!</strong> <?php echo $this->crudMessage ?>.
              	</div>
              	<?php endif; ?>
			
				<table width="100%">
					<tr>
						<td width="50%"><h4 class="panel-title">Escolas cadastradas no sistema</h4></td>
						<?php if (Mn_Util::isAccess($this->getController(), 'adicionar')) : ?>
						<td width="50%" align="right"><a href="<?php echo $this->baseUrl() ?>/admin/<?php echo $this->getController() ?>/adicionar" class="btn btn-primary">Adicionar nova escola</a></td>
						<?php endif; ?>
					</tr>
				</table>
				
				<br />
				
				<div class="table-responsive">
					
	                <table class="table table-primary mb30">
	                	<thead>
	                		<tr>
	                			<th width="20">&nbsp;</th> 
	                			<th width="100">Imagem</th>            			
	                			<th>Escola</th>
	                			<?php /*?>
	                			<th width="100">Acesso</th>
	                			<?php * /?>
	                			<th width="120">Status</th>
	                			<th style="width:74px">Ações</th>
	                		</tr>
	                	</thead>
	                	<tbody>
	                	   	<?php if (sizeof($this->rows)==0) : ?>
	                		<tr>
	                			<td colspan="6">Nenhum registro foi encontrado</td>
	                		</tr>
	                		<?php endif;?>
	                		<?php foreach ($this->rows as $i=>$row) : ?>
								<?php if (Mn_Util::isAccess($this->getController(), 'editar')) : ?>
								<tr class="line">
								<?php else : ?>
								<tr>
								<?php endif; ?>
	                				<td>
	                					<?php $i+1 ?>
	                					<input type="hidden" name=id[] value="<?php echo $row['id'] ?>" />
                					</td>
                					<?php $idimagem = Escolasimagens::getImagemByIdEmpresa($row['id'])?>
									<td><?php echo $this->getImagem($idimagem, 80, 0, $row['escola'], Imagens::$INDISPONIVEL) ?></td>
                					
	                				<td><?php echo $this->cortaPalavra(200, $row['escola']) ?></td>
	                				<?php /*?>
	                				<td><a href="<?php echo $this->baseUrl('escola/'.$row['id'].'/login/admin')?>" title="" target="_blank">Acessar...</a></td>
	                				<?php * /?>
	                				<td>
	                					<?php if (Mn_Util::isAccess($this->getController(), 'editar')) : ?>
	                					<a onclick="javascript:statusChange(<?php echo $row["id"]?>, this);" href="javascript:;"><?php echo $row['status'] ?></a>
	                					<?php else : ?>
	                					<?php echo $row['status'] ?>
	                					<?php endif; ?>
	                				</td>
	                				
	                				<td class="table-action">
	                					<?php if (Mn_Util::isAccess($this->getController(), 'visualizar')) : ?>
	                					<a href="<?php echo $this->baseUrl() ?>/admin/<?php echo $this->getController() ?>/visualizar/id/<?php echo $row['id'] ?>"><i class="fa  fa-eye"></i></a>
	                					<?php endif;?>
	                					<?php if (Mn_Util::isAccess($this->getController(), 'editar')) : ?>
	                					<a href="<?php echo $this->baseUrl() ?>/admin/<?php echo $this->getController() ?>/editar/id/<?php echo $row['id'] ?>"><i class="fa fa-pencil"></i></a>
	                					<?php endif;?>
	                					<?php if (Mn_Util::isAccess($this->getController(), 'excluir')) : ?>
	                					<a class="delete-row" href="javascript:confirmDelete('<?php echo $row['id']; ?>','registro');"><i class="fa fa-trash-o"></i></a>
	                					<?php endif; ?>
	                				</td>
	                			</tr>
	                		<?php endforeach;?> 
	                	</tbody>
	                </table>
	                <?php echo $this->render('/helpers/paginator.phtml') ?>
	            </div><!-- table-responsive -->				
				
			</div>        
        
            
        </div>

	</div>
        
</div>
<script type="text/javascript" src="<?php echo $this->baseUrl('/public/scripts/admin/escolas_index.js') ?>"></script>
<script type="text/javascript">

	var form_values = {};
	<?php if (isset($this->post_var['status'])) :  ?>
	form_values.status = '<?php echo (isset($this->post_var['status'])) ? $this->post_var['status'] : $this->post_var['status'] ?>';
	<?php endif; ?>

	<?php if (isset($this->post_var['idescola'])) :  ?>
	form_values.idescola = '<?php echo (isset($this->post_var['idescola'])) ? $this->post_var['idescola'] : $this->post_var['idescola'] ?>';
	<?php endif; ?>
	
</script>

<?php */ ?>