		<!-- Content -->
		<div id="content">

		    <!-- Content wrapper -->
		    <div class="wrapper">

			    <!-- Breadcrumbs line -->
			    <div class="crumbs">
			    	<?php echo $this->render('/helpers/breadcrumb.phtml') ?>
			    </div>
			    <!-- /breadcrumbs line -->

			    <!-- Page header -->
			    <div class="page-header">
			    	<div class="page-title">
				    	<h5>Formulário de Treinamentos</h5>
				    	<span>Verifique os campos e preencha com os dados</span>
			    	</div>
			    </div>
			    <!-- /page header -->

			    <?php if (isset($this->crudMessage)) : ?>
					<div class="alert alert-success">
	                	<button data-dismiss="alert" class="close" type="button">×</button>
	                    <strong>Operação realizada com sucesso!</strong>
		    			<span><br /><?php echo $this->crudMessage ?></span>
	                </div>			    
			    <?php endif; ?>

				<form id="form" name="form" action="" method="post" class="form-horizontal" enctype="multipart/form-data"> 
					<input type="hidden" value="<?php echo (isset($this->post_var)) ? $this->post_var["id"] : ''; ?>" name="id" id="id" />
					
					<fieldset>
						<!-- General form elements -->
						<div class="widget row-fluid">
						    <div class="navbar">
						        <div class="navbar-inner">
						            <h6>Digite as informações do formulário</h6>
						        </div>
						    </div>

						    <div class="well">
								<?php if (isset($this->erros)) : ?>
									<div class="alert alert-error margin">
				                        <button data-dismiss="alert" class="close" type="button">×</button>
				                        <strong>Há erros no formulário!</strong>
					    				<?php foreach ($this->erros as $k=>$v) : ?>
					    					<span><br />- <?php echo $v ?></span>
					    				<?php endforeach;?>			                        
				                    </div>
			                    <?php endif; ?>						    
						    
			        <div class="control-group">
			        	<table class="table table-contents" width="100%">
			        		<tbody>	
								<tr>
									<input type="hidden" value="<?php echo (isset($this->post_var['sequencial'])) ? $this->post_var['sequencial'] : $this->sequencial ?>" name="sequencial" id="sequencial" />
									<input  placeholder="Data de lançamento" name="datalancamento" value="<?php echo (isset($this->post_var['datalancamento'])) ? $this->post_var['datalancamento'] : date('d/m/Y') ?>" type="hidden"  class="span3" />
									<input  placeholder="Hora do lançamento" name="horalancamento" value="<?php echo (isset($this->post_var['horalancamento'])) ? $this->post_var['horalancamento'] : date('G:i:s') ?>" type="hidden"  class="span3" />
									<td width="33%">Sequencial/Ano: <?php echo (isset($this->post_var['sequencial'])) ? $this->post_var['sequencial'] : $this->sequencial ?></td>
									<td width="34%">Data da Abertura: <?php echo (isset($this->post_var['datacriacao'])) ? Mn_Util::formPostVarData($this->post_var['datacriacao']) : date('d/m/Y') ?></td>
									<td width="33%">Hora da Abertura: <?php echo (isset($this->post_var['datacriacao'])) ? Mn_Util::formPostVarData($this->post_var['datacriacao']) : date('G:i:s') ?></td>	
									
									</td>
								</tr>
							</tbody>
						</table>
					</div>	

					 
				


				<div class="control-group">
					<label class="control-label">Nome do usuário <span class="required">*</span></label>
					<div class="controls">
						<input type="hidden" name="usuarioid" value ="<?php echo (isset($this->post_var['usuarioid'])) ? $this->post_var['usuarioid'] : Escolasusuarios::getUsuario('id') ?>">
						<?php echo Escolasusuarios::getUsuario('nomerazao') ?><br>
						<?php echo 'RGF: '.Escolasusuarios::getUsuario('rgf') ?>				
					</div>
				</div>


				<div class = "control-group">
					 <label class="control-label">Data <span class="required">*</span></label>
					 <div class="controls">
					 	<input type="text" name="data" placeholder="Data" value="<?php echo (isset($this->post_var['data'])) ? Mn_Util::formPostVarData($this->post_var["data"]) : ''; ?>" >
					 </div>
				</div>


				<div class="control-group">
					<label class="control-label">Curso <span class="required">*</span></label>
					<div class="controls">
						<select name="cursoid" data-placeholder="Status" class="select"s>
							<option value="">Selecione...</option> 
							<?php foreach (Cursos::getCursosHelper(array('status'=>'Ativo')) as $key => $value) : ?>
								<option value="<?php echo $value['id'] ?>"><?php echo $value['titulo']?></option>
							<?php endforeach;?>
						</select>
						
					</div>	
				</div>

				<div class = "control-group">
					 <label class="control-label">Data início <span class="required">*</span></label>
					 <div class="controls">
					 	<input type="text" name="datainicio" placeholder="Data" value="<?php echo (isset($this->post_var['datainicio'])) ? Mn_Util::formPostVarData($this->post_var["datainicio"]) : ''; ?>" >
					 </div>
				</div>
				

				<div class = "control-group">
					 <label class="control-label">Data término <span class="required">*</span></label>
					 <div class="controls">
					 	<input type="text" name="datatermino" placeholder="Data" value="<?php echo (isset($this->post_var['datatermino'])) ? Mn_Util::formPostVarData($this->post_var["datatermino"]) : ''; ?>" >
					 </div>
				</div>


				<div class="control-group">
					<label class="control-label">Selecionar o dia da semana </span></label>
					<div class="controls visualizar">
						<div style="float:left; margin-right:8px"><input class="checksemana" value="1" name="diassemana[]" type="checkbox"> Domingo</div>
						<div style="float:left; margin-right:8px"><input class="checksemana" value="2" name="diassemana[]" type="checkbox"> Segunda-feira</div>
						<div style="float:left; margin-right:8px"><input class="checksemana" value="3" name="diassemana[]" type="checkbox"> Terça-feira</div>
						<br clear="all" /><div style="float:left; margin-right:8px"><input class="checksemana" value="4" name="diassemana[]" type="checkbox"> Quarta-feira</div>
						<div style="float:left; margin-right:8px"><input class="checksemana" value="5" name="diassemana[]" type="checkbox"> Quinta-feira</div>
						<div style="float:left; margin-right:8px"><input class="checksemana" value="6" name="diassemana[]" type="checkbox"> Sexta-feira</div>
						<br clear="all" /><div style="float:left; margin-right:8px"><input class="checksemana" value="7" name="diassemana[]" type="checkbox"> Sábado</div><br clear="all" />
					</div>
				</div>	
				

				<div class = "control-group">
					 <label class="control-label">Hora de ínicio</label>
					 <div class="controls">
					 	<input type="text" name="horarioinicio" placeholder="Hora" value="<?php echo (isset($this->post_var['horarioinicio'])) ? $this->post_var["horarioinicio"] : ''; ?>" >
					 </div>
				</div>


				<div class = "control-group">
					 <label class="control-label">Hora final</label>
					 <div class="controls">
					 	<input type="text" name="horariofinal" placeholder="Hora" value="<?php echo (isset($this->post_var['horariofinal'])) ? $this->post_var["horariofinal"] : ''; ?>" >
					 </div>
				</div>


				<div class="control-group">
					<label class="control-label">Digite a quantidade de vagas <span class="required">*</span></label>
					<div class="controls">
						<select name="qtdvagas" data-placeholder="Status" class="select">
							<option value="">Selecione...</option>
							<?php for ($i=1; $i <= 50; $i++) : ?>
								<option value="<?php echo $i ?>"><?php echo $i?></option>
							<?php endfor ?>	
						</select>
						
					</div>
				</div>


				<div class="control-group">
					<label class="control-label">Local <span class="required">*</span></label>
					<div class="controls">
						<textarea class="span12" name="local" cols="5" rows="5"><?php echo (isset($this->post_var['local'])) ? $this->post_var['local'] : '' ?> </textarea>
						
					</div>
				</div>


				<div class="control-group">
					<label class="control-label">Informações <span class="required">*</span></label>
					<div class="controls">
						<textarea class="span12" name="informacoes" cols="5" rows="5"><?php echo (isset($this->post_var['informacoes'])) ? $this->post_var['informacoes'] : '' ?> </textarea>
						
					</div>
				</div>


				<div class = "control-group">
					 <label class="control-label">Data Limite <span class="required">*</span></label>
					 <div class="controls">
					 	<input type="text" name="datalimite" placeholder="Data" value="<?php echo (isset($this->post_var['datalimite'])) ? Mn_Util::formPostVarData($this->post_var["datalimite"]) : ''; ?>" >
					 </div>
				</div>


				<div class="control-group">
					<label class="control-label">Status <span class="required">*</span></label>
					<div class="controls">
						<select name="status1" data-placeholder="Status" class="select">
							<option value="">Selecione...</option>
							<option value="Ativo">Ativo</option><option value="Bloqueado">Bloqueado</option>
						</select>
						
					</div>
				</div>

						    
						    
						    </div>
						    
			                <div class="form-actions align-right">
			                	<?php if ((isset($this->visualizar)) && ($this->visualizar)) : ?>
			                		<button onclick="window.history.back()" class="btn btn-danger cancelar" type="button">Voltar</button>
			                	<?php else : ?>
				                	<button class="btn btn-primary enviar" type="submit">Salvar</button>
				                	<button onclick="window.history.back()" class="btn btn-danger cancelar" type="button">Cancelar</button>
			                	<?php endif; ?>
			                </div>
						</div>
						<!-- /general form elements -->

					</fieldset> 

				</form>
				<!-- /basic inputs -->

		    </div>
		    <!-- /content wrapper -->

		</div>
		<!-- content -->
				
<script type="text/javascript" src="<?php echo $this->baseUrl('/public/scripts/default/treinamentos_form.js') ?>"></script>
<script type="text/javascript">
	var form_values = {};
	
	<?php if (isset($this->post_var)) :  ?>

form_values.cursoid = '<?php echo (isset($this->post_var['cursoid'])) ? $this->post_var['cursoid'] : '' ?>';
form_values.qtdvagas = '<?php echo (isset($this->post_var['qtdvagas'])) ? $this->post_var['qtdvagas'] : '' ?>';
form_values.status1 = '<?php echo (isset($this->post_var['status1'])) ? $this->post_var['status1'] : $this->post_var['status'] ?>';
form_values.diassemana = [<?php echo $this->post_var['diassemana'] ?>];


	<?php endif; ?>


	visualizar = <?php echo  ((isset($this->visualizar)) && ($this->visualizar))  ? 'true' : 'false' ?>;
</script>
