<!-- Content -->
<div id="content">

    <!-- Content wrapper -->
    <div class="wrapper">

        <!-- Breadcrumbs line -->
        <div class="crumbs">
            <?php echo $this->render('/helpers/breadcrumb.phtml') ?>
        </div>
        <!-- /breadcrumbs line -->

        <!-- Page header -->
        <div class="page-header">
            <div class="page-title">
                <h5>Formulário do período</h5>
                <span>Verifique os campos e preencha com os dados</span>
            </div>
        </div>
        <!-- /page header -->

        <?php if (isset($this->crudMessage)) : ?>
            <div class="alert alert-success">
                <button data-dismiss="alert" class="close" type="button">×</button>
                <strong>Operação realizada com sucesso!</strong>
                <span><br /><?php echo $this->crudMessage ?></span>
            </div>
        <?php endif; ?>

        <form id="form" name="form" action="" method="post" class="form-horizontal" enctype="multipart/form-data">
            <input type="hidden" value="<?php echo (isset($this->post_var)) ? $this->post_var["id"] : ''; ?>" name="id" id="id" />

            <fieldset>
                <!-- General form elements -->
                <div class="widget row-fluid">
                    <div class="navbar">
                        <div class="navbar-inner">
                            <h6>Digite as informações do formulário</h6>
                        </div>
                    </div>

                    <div class="well">
                        <?php if (isset($this->erros)) : ?>
                            <div class="alert alert-error margin">
                                <button data-dismiss="alert" class="close" type="button">×</button>
                                <strong>Há erros no formulário!</strong>
                                <?php foreach ($this->erros as $k => $v) : ?>
                                    <span><br />- <?php echo $v ?></span>
                                <?php endforeach; ?>
                            </div>
                        <?php endif; ?>


                        <div class="control-group">
                            <label class="control-label">Escolas <span class="required">*</span></label>
                            <div class="controls">
                                <select name="idescola" data-placeholder="Escolas" class="select">
                                    <option value="">Selecione...</option>
                                    <?php foreach (Escolas::getEscolasHelper(array('status' => 'Ativo', 'idsecretaria' => Usuarios::getSecretariaAtiva(Usuarios::getUsuario('id'), 'id'))) as $k => $v) : ?>
                                        <option value="<?php echo $v['id'] ?>"><?php echo $v['escola'] ?></option>
                                    <?php endforeach; ?>
                                </select>

                            </div>
                        </div>


                        <div class="control-group">
                            <label class="control-label">Período <span class="required">*</span></label>
                            <div class="controls"><input maxlength="500" placeholder="Período" name="periodo" value="<?php echo (isset($this->post_var['periodo'])) ? $this->post_var['periodo'] : '' ?>" type="text"  class="span3" /></div>
                        </div>


                        <div class="control-group">
                            <label class="control-label">Hora Início <span class="required">*</span></label>
                            <div class="controls"><input  placeholder="Hora Início" name="horarioinicio" value="<?php echo (isset($this->post_var['horarioinicio'])) ? date('h:i', strtotime($this->post_var['horarioinicio'])) : '' ?>" type="text"  class="span3" /></div>
                        </div>


                        <div class="control-group">
                            <label class="control-label">Hora Fim <span class="required">*</span></label>
                            <div class="controls"><input  placeholder="Hora Fim" name="horariofim" value="<?php echo (isset($this->post_var['horariofim'])) ? date('h:i', strtotime($this->post_var['horariofim'])) : '' ?>" type="text"  class="span3" /></div>
                        </div>


                        <div class="control-group">
                            <label class="control-label">Status <span class="required">*</span></label>
                            <div class="controls">
                                <select name="status1" data-placeholder="Status" class="select">
                                    <option value="">Selecione...</option>
                                    <option value="Ativo">Ativo</option><option value="Bloqueado">Bloqueado</option>
                                </select>

                            </div>
                        </div>
                        <?php
                        echo '<pre>';
                        print_r($this->post_var);
                        ?>


                    </div>

                    <div class="form-actions align-right">
                        <?php if ((isset($this->visualizar)) && ($this->visualizar)) : ?>
                            <button onclick="window.history.back()" class="btn btn-danger cancelar" type="button">Voltar</button>
                        <?php else : ?>
                            <button class="btn btn-primary enviar" type="submit">Salvar</button>
                            <button onclick="window.history.back()" class="btn btn-danger cancelar" type="button">Cancelar</button>
                        <?php endif; ?>
                    </div>
                </div>
                <!-- /general form elements -->

            </fieldset>

        </form>
        <!-- /basic inputs -->

    </div>
    <!-- /content wrapper -->

</div>
<!-- content -->

<script type="text/javascript" src="<?php echo $this->baseUrl('/public/scripts/admin/escolasperiodos_form.js') ?>"></script>
<script type="text/javascript">
                                var form_values = {};

<?php if (isset($this->post_var)) : ?>
                                    form_values.idsecretaria = '<?php echo (isset($this->post_var['idsecretaria'])) ? $this->post_var['idsecretaria'] : '' ?>';

                                    form_values.idescola = '<?php echo (isset($this->post_var['idescola'])) ? $this->post_var['idescola'] : '' ?>';

                                    form_values.status1 = '<?php echo (isset($this->post_var['status1'])) ? $this->post_var['status1'] : $this->post_var['status'] ?>';


<?php endif; ?>

                                visualizar = <?php echo ((isset($this->visualizar)) && ($this->visualizar)) ? 'true' : 'false' ?>;
</script>
