<table width="100%" cellpadding="0" cellspacing="0" border="0" nobr="true">
	<?php /*if((isset($this->prefeitura['idimagem'])) && ((int)$this->prefeitura['idimagem'] > 0)) : ?>
	<tr>		
		<td align="center" width="40%">
				
			    <img width="200" src="<?php echo MY_PATH . $this->baseUrl() ?>/imagens/get/id/<?php echo (int)$this->prefeitura['idimagem'] ?>/w/0/h/0/i/indisponivel/img.jpg" />
			    
		</td>

		<td align="center" width="60%">
			<font size="12">Agência PAB P.M - Itaquaquecetuba</font><br />
			<font size="10">Av. Vereador João Fernandes da Silva, 283</font><br />
			<font size="10">Vl. Virgínia - Itaquaquecetuba</font><br />
			<font size="10">Fone: 4642-1096</font><br />
		</td>
	</tr>
	<?php else:*/ ?>
	<tr>
		<?php
			setlocale(LC_TIME, 'pt_BR', 'pt_BR.utf-8', 'pt_BR.utf-8', 'portuguese');
			date_default_timezone_set('America/Sao_Paulo');
		?>
		<td align="center" width="100%">Campinas, <?php echo strftime('%A, %d de %B de %Y', strtotime('today')); ?></td>
	</tr>
	<tr>	
		<td align="center" width="100%">
			<font size="12">Agência PAB P.M - Santa Isabel</font><br />
			<font size="10">Av. Vereador João Fernandes da Silva, 283</font><br />
			<font size="10">Vl. Virgínia - Itaquaquecetuba</font><br />
			<font size="10">Fone: 4642-1096</font><br />
		</td>
	</tr>
	<?php //endif; ?>
</table>

<table width="100%" cellpadding="0" cellspacing="0" border="0" nobr="true">
	<tr>
		<td align="center" width="100%">
			<font size="10">
			    <b><?= strtoupper($this->post_var['nomebanco']) ?></b>
		    </font>
		</td>
	</tr>
	<tr align="center">
		<td>Gerente do <?= $this->post_var['nomebanco'] ?></td>
	</tr>
	<tr align="center">
		<td>Agência <?= $this->post_var['agencia'] ?></td>
	</tr>	
	<tr>
		<td align="center" width="100%">
			<font size="10">
			    <b>Documentos Necessários para abertura da conta corrente (Xerox e original)</b>
		    </font>
		    <br/>
		</td>
	</tr>

	<tr>
		<td align="center" width="100%">
			<font size="8">
			    Declaramos para os devidos fins que o funcionário abaixo qualificado é funcionário da Prefeitura Municipal, razão pela qual solicitamos a abertura de conta salário para depósitos  de seus proventos
		    </font>
		    <br/>
		</td>
	</tr>

	<tr>
		<td align="left" width="100%"><font size="10">SE FOR CASADO: CERTIDÃO DE CASAMENTO<br /><br />COMPROVANTE DE ENDEREÇO ATUALIZADO (ÁGUA/LUZ/TELEFONE) E PAGO COM COMPROVANTE. SE NÃO ESTIVER EM NOME DO PRÓPRIO TRAZER UM COMPROVANTE A MAIS COM CARIMBO DE CORREIO</font></td>
	</tr>

	<tr>
		<td align="left" width="100%"><font size="10">Nome: <u><?php echo $this->post_var['nome']?></u></font></td>
	</tr>

	<tr>
		<td align="left" width="100%"><font size="10">CPF: <u><?php echo $this->post_var['cpf']?></u></font></td>
	</tr>

	<tr>
		<td align="left" width="100%"><font size="10">RG: <u><?php echo $this->post_var['rg']?></u></font></td>
	</tr>
	
	<tr>
		<td align="left" width="100%"><font size="10">Endereço: <u><?php echo $this->post_var['endereco']?></u></font></td>
	</tr>
	
	<tr>
		<td align="left" width="100%"><font size="10">Bairro: <u><?php echo $this->post_var['bairro']?></u> </font></td>
	</tr>
	
	<tr>
		<td align="left" width="100%"><font size="10">Cidade: <u><?php echo $this->post_var['cidade']?></u> UF: <u><?= $this->post_var['uf'] ?></u></font></td>
	</tr>

	<tr>
		<td align="left" width="100%"><font size="10">CEP: <u><?php echo $this->post_var['cep']?></u> </font></td>
	</tr>
	
	<tr>
		<td align="left" width="100%"><font size="10">Celular: <u><?php echo $this->post_var['celular']?></u></font></td>
	</tr>
	
	<tr>
		<td align="left" width="100%"><font size="10">Estado Civil: <u><?php echo ((isset($this->post_var['estadocivil'])) && ($this->post_var['estadocivil']!="")) ? $this->post_var['estadocivil'] : '' ?></u></font></td>
	</tr>
	
	<tr>
		<td align="left" width="100%"><font size="10">Nome do Cônjuge: <u><?php echo $this->post_var['conjugenome']?></u></font></td>
	</tr>
	
	<tr>
		<td align="left" width="100%"><font size="10">Escolaridade: <u><?php echo ((isset($this->post_var['grauinstrucao'])) && ($this->post_var['grauinstrucao']!="")) ? Funcionarios::getEscolaridade($this->post_var['grauinstrucao']) : '' ?></u></font></td>
	</tr>
	
	<tr>
		<td align="left" width="100%"><font size="10">Admissão na Prefeitura: <u><?php echo (isset($this->post_var['dataadmissao'])) ? Mn_Util::formPostVarData($this->post_var['dataadmissao']) : '' ?></u></font></td>
	</tr>
	
	<tr>
		<td align="left" width="100%"><font size="10">Salário: R$ <u><?php echo number_format($this->post_var['salarioinicial'], 2, ',', '.')?></u></font></td>
	</tr>
	
	<tr>
		<td align="left" width="100%"><font size="10">Cargo: <u><?php echo $this->post_var['cargo']?></u></font></td>
	</tr>

	<tr>
		<td align="left" width="100%"><font size="10">Admissão em: <u><?php echo MN_Util::formPostVarData($this->post_var['datacriacao']) ?></u> </font></td>
	</tr>
	
	<tr>
		<td align="left" width="100%"><font size="10"><br>Declaramos serem verdadeiras as informações prestadas acima.</font></td>
	</tr>
	
	<tr>
		<td align="left" width="100%"><font size="10">Prefeitura municipal de Itaquaquecetuba</font></td>
	</tr>

	<tr>
		<td align="left" width="100%"><font size="10"><br>Atenciosamente, </font></td>
	</tr>
	
	<?php if((int)$this->post_var['idassinatura']>0) : ?>
	<tr>
		<td align="left" width="100%"><font size="10"><br><img height="50" src="<?php echo MY_PATH . $this->baseUrl() ?>/admin/imagens/get/id/<?php echo $this->post_var['idassinatura'] ?>" /></font></td>
	</tr>
	<?php endif; ?>

	<tr>
		<td align="left" width="100%"><font size="10"><br><?= $this->post_var['nomeresponsavel'] ?></font></td>
	</tr>

	<tr>
		<td align="left" width="100%"><font size="10"><br><?= $this->post_var['cargoresponsavel'] ?></font></td>
	</tr>

	<tr>
		<td align="left" width="100%"><font size="10"><br><?= $this->post_var['nomeempresa'] ?></font></td>
	</tr>

	<tr>
		<td align="left" width="100%"><font size="10"><br>CNPJ Nº <?= $this->post_var['cnpjempresa'] ?></font></td>
	</tr>

	<tr>
		<td align="left" width="100%"><font size="10"><br><?= $this->post_var['telefoneempresa'] ?></font></td>
	</tr>
</table>
