		<!-- Content -->
		<div id="content">

		    <!-- Content wrapper -->
		    <div class="wrapper">

			    <!-- Breadcrumbs line -->
			    <div class="crumbs">
			    	<?php echo $this->render('/helpers/breadcrumb.phtml') ?>
			    </div>
			    <!-- /breadcrumbs line -->

			    <!-- Page header -->
			    <div class="page-header">
			    	<div class="page-title">
				    	<h5>Formulário do depreciação</h5>
				    	<span>Verifique os campos e preencha com os dados</span>
			    	</div>
			    </div>
			    <!-- /page header -->

			    <?php if (isset($this->crudMessage)) : ?>
					<div class="alert alert-success">
	                	<button data-dismiss="alert" class="close" type="button">×</button>
	                    <strong>Operação realizada com sucesso!</strong>
		    			<span><br /><?php echo $this->crudMessage ?></span>
	                </div>			    
			    <?php endif; ?>

				<form id="form" name="form" action="" method="post" class="form-horizontal" enctype="multipart/form-data"> 
					<input type="hidden" value="<?php echo (isset($this->post_var)) ? $this->post_var["id"] : ''; ?>" name="id" id="id" />
					
					<fieldset>
						<!-- General form elements -->
						<div class="widget row-fluid">
						    <div class="navbar">
						        <div class="navbar-inner">
						            <h6>Digite as informações do formulário</h6>
						        </div>
						    </div>

						    <div class="well">
								<?php if (isset($this->erros)) : ?>
									<div class="alert alert-error margin">
				                        <button data-dismiss="alert" class="close" type="button">×</button>
				                        <strong>Há erros no formulário!</strong>
					    				<?php foreach ($this->erros as $k=>$v) : ?>
					    					<span><br />- <?php echo $v ?></span>
					    				<?php endforeach;?>			                        
				                    </div>
			                    <?php endif; ?>						    
						    

				<div class="control-group">
					<label class="control-label">Cod. Bem <span class="required">*</span></label>
					<div class="controls">
						<select name="idcodbem" data-placeholder="Cod. Bem" class="select">
							<option value="">Selecione...</option>
							<option value="BN001">BN001</option><option value="BN002">BN002</option>
						</select>
						
					</div>
				</div>


				<div class="control-group">
					<label class="control-label">Nome do Bem <span class="required">*</span></label>
					<div class="controls">
						<select name="nomebem" data-placeholder="Nome do Bem" class="select">
							<option value="">Selecione...</option>
							<option value="Bem 01">Bem 01</option><option value="Bem 02">Bem 02</option>
						</select>
						
					</div>
				</div>


				<div class="control-group">
					<label class="control-label">N. Patrimônio <span class="required">*</span></label>
					<div class="controls">
						<select name="idpatrimonio" data-placeholder="N. Patrimônio" class="select">
							<option value="">Selecione...</option>
							<option value="0001">0001</option><option value="0002">0002</option>
						</select>
						
					</div>
				</div>


				<div class="control-group">
					<label class="control-label">Data da compra</label>
					<div class="controls"><input placeholder="Data da compra" name="datacompra" value="<?php echo (isset($this->post_var['datacompra'])) ? Mn_Util::formPostVarData($this->post_var['datacompra']) : '' ?>" type="text"  class="span3" /></div>
				</div>


				<div class="control-group">
					<label class="control-label">Valor </label>
					<div class="controls"><input  placeholder="Valor" name="valorcompra" value="<?php echo (isset($this->post_var['valorcompra'])) ? $this->post_var['valorcompra'] : '' ?>" type="text"  class="span3" /></div>
				</div>


				<div class="control-group">
					<label class="control-label">Depreciação Mensal </label>
					<div class="controls"><input maxlength="500" placeholder="Depreciação Mensal" name="depreciacaomensal" value="<?php echo (isset($this->post_var['depreciacaomensal'])) ? $this->post_var['depreciacaomensal'] : '' ?>" type="text"  class="span3" /></div>
				</div>


				<div class="control-group">
					<label class="control-label">Depreciação Acumulada </label>
					<div class="controls"><input maxlength="50" placeholder="Depreciação Acumulada" name="depreciacaoacumulada" value="<?php echo (isset($this->post_var['depreciacaoacumulada'])) ? $this->post_var['depreciacaoacumulada'] : '' ?>" type="text"  class="span3" /></div>
				</div>


				<div class="control-group">
					<label class="control-label">Valor residual </label>
					<div class="controls"><input  placeholder="Valor residual" name="valorresidual" value="<?php echo (isset($this->post_var['valorresidual'])) ? $this->post_var['valorresidual'] : '' ?>" type="text"  class="span3" /></div>
				</div>


				<div class="control-group">
					<label class="control-label">Status <span class="required">*</span></label>
					<div class="controls">
						<select name="status1" data-placeholder="Status" class="select">
							<option value="">Selecione...</option>
							<option value="Ativo">Ativo</option><option value="Bloqueado">Bloqueado</option>
						</select>
						
					</div>
				</div>

						    
						    
						    </div>
						    
			                <div class="form-actions align-right">
			                	<?php if ((isset($this->visualizar)) && ($this->visualizar)) : ?>
			                		<button onclick="window.history.back()" class="btn btn-danger cancelar" type="button">Voltar</button>
			                	<?php else : ?>
				                	<button class="btn btn-primary enviar" type="submit">Salvar</button>
				                	<button onclick="window.history.back()" class="btn btn-danger cancelar" type="button">Cancelar</button>
			                	<?php endif; ?>
			                </div>
						</div>
						<!-- /general form elements -->

					</fieldset> 

				</form>
				<!-- /basic inputs -->

		    </div>
		    <!-- /content wrapper -->

		</div>
		<!-- content -->
				
<script type="text/javascript" src="<?php echo $this->baseUrl('/public/scripts/admin/patrimoniosdepreciacoes_form.js') ?>"></script>
<script type="text/javascript">
	var form_values = {};
	
	<?php if (isset($this->post_var)) :  ?>
		form_values.idcodbem = '<?php echo (isset($this->post_var['idcodbem'])) ? $this->post_var['idcodbem'] : '' ?>';

form_values.nomebem = '<?php echo (isset($this->post_var['nomebem'])) ? $this->post_var['nomebem'] : '' ?>';

form_values.idpatrimonio = '<?php echo (isset($this->post_var['idpatrimonio'])) ? $this->post_var['idpatrimonio'] : '' ?>';

form_values.status1 = '<?php echo (isset($this->post_var['status1'])) ? $this->post_var['status1'] : $this->post_var['status'] ?>';


	<?php endif; ?>

	visualizar = <?php echo  ((isset($this->visualizar)) && ($this->visualizar))  ? 'true' : 'false' ?>;
</script>
