<style type="text/css">

/* Aparência que terá o seletor de arquivo */
.btnUpload {
  background-color: #d0e5f5;
  border-radius: 5px;
  color: #000;
  cursor: pointer;
  margin: 10px;
  padding: 6px 20px
}

.window1{
display:none;
width:820px;
height:100%;
position:absolute;
left:0;
top:0;
background:#FFF;
z-index:9900;
padding:10px;
border-radius:10px;
}

.window2{
display:none;
width:820px;
height:480px;
position:absolute;
left:0;
top:0;
background:#FFF;
z-index:9900;
padding:10px;
border-radius:10px;
}

</style>    

<!-- Content -->
<div id="content">

<!-- Content wrapper -->
<div class="wrapper">

<!-- Breadcrumbs line -->
<div class="crumbs">
<?php echo $this->render('/helpers/breadcrumb.phtml') ?>
<?php $idtramita = 0; ?>
</div>
<!-- /breadcrumbs line -->

<!-- Page header -->
<div class="page-header">
<div class="page-title">
<h5>Formulário do protocolo processos</h5>
<span>Verifique os campos e preencha com os dados</span>
</div>
</div>
<!-- /page header -->

<?php if (isset($this->crudMessage)) : ?>
    <div class="alert alert-success">
        <button data-dismiss="alert" class="close" type="button">×</button>
        <strong>Operação realizada com sucesso!</strong>
<span><br /><?php echo $this->crudMessage ?></span>
    </div>			    
<?php endif; ?>

<form id="form" name="form" action="" method="post" class="form-horizontal" enctype="multipart/form-data"> 
<input type="hidden" value="<?php echo (isset($this->post_var)) ? $this->post_var["id"] : ''; ?>" name="id" id="id" />

<fieldset>
<!-- General form elements -->
<div class="widget row-fluid">
<div class="navbar">
<div class="navbar-inner">
    <h6>Digite as informações do formulário</h6>
</div>
</div>

<div class="well">
<?php if (isset($this->erros)) : ?>
	<div class="alert alert-error margin">
                                                <button data-dismiss="alert" class="close" type="button">×</button>
                                                <strong>Há erros no formulário!</strong>
                                                <?php foreach ($this->erros as $k=>$v) : ?>
                                                        <span><br />- <?php echo $v ?></span>
                                                <?php endforeach;?>			                        
                                        </div>
                                <?php endif; ?>						    




<?php 
    $idescola = Usuarios::getUsuario('idescola');
    $idlocal = Usuarios::getUsuario('idlocal'); 
    $idusuario = Usuarios::getUsuario('id');
    $idfuncionario = Usuarios::getUsuario('idfuncionario');
    
?>
<?php if(($idescola>0) && ($idlocal>0)): ?>		    
        <div class="control-group">
                <div class="controls1 visualizar">
                        <table class="table table-content" width="100%">
                                <tbody>
                                        <tr>
                                                <input name="sequencial" value="<?php echo (isset($this->post_var['sequencial'])) ? $this->post_var['sequencial'] : $this->sequencial ?>"  id="sequencial" type="hidden"  class="span3" maxlength="500" />
                                                <input name="idusuariologado" value="<?php echo (isset($this->post_var['idusuariologado'])) ? $this->post_var['idusuariologado'] : $idusuario ?>" type="hidden"  class="span3" maxlength="500" placeholder="Nome do Usuário" />
                                                <input name="datalancamento" value="<?php echo (isset($this->post_var['datalancamento'])) ? Mn_Util::formPostVarData($this->post_var['datalancamento']) : date('d/m/Y') ?>" type="hidden" class="span3" maxlength="500" placeholder="Data de lançamento"/>
                                                <input name="idlocal" value="<?php echo (isset($this->post_var['idlocal'])) ? $this->post_var['idlocal'] : Usuarios::getUsuario('idlocal') ?>" type="hidden"  class="span3" maxlength="500" placeholder="Nome do Local" />
                                                <input name="idescola" value="<?php echo (isset($this->post_var['idescola'])) ? $this->post_var['idescola'] : Usuarios::getUsuario('idescola') ?>" type="hidden" class="span3" maxlength="500" placeholder="Nome do Usuário" />
                                                
                                                <td width="50%">Nome do Usuário: <?php echo Usuarios::getUsuario('nomerazao') . " - RGF:" . Usuarios::getUsuario('rgf') ?></td>
                                                <td width="33%"><?php echo (isset($this->post_var['sequencial'])) ? 'Sequencial/Ano: '.$this->post_var['sequencial'] : '' ?></td>
                                        </tr>
                                        <tr>
                                                <td width="34%">Data da Abertura: <?php echo (isset($this->post_var['datacriacao'])) ? Mn_Util::formPostVarData($this->post_var['datacriacao']): date('d/m/Y'), 
                                                                '<br />Hora da Abertura: ', (isset($this->post_var['datacriacao'])) ? date('G:i:s', strtotime($this->post_var['datacriacao'])) : date('G:i:s') ?>
                                                </td>
                                                <td width="33%">Local: <?php 
                                                                $local = Locais::getLocalByIdHelper((isset($this->post_var['idlocal'])) ? $this->post_var['idlocal'] : Usuarios::getUsuario('idlocal')); 
                                                                echo ((isset($local['titulo'])) && ($local['titulo']) && ($local['titulo']!="") ) ? $local['titulo'] : '';
                                                        ?>

                                                </td>
                                        </tr>
                                </tbody>
                        </table>

                </div>
        </div>
<?php else: ?>
        <div class="control-group">
                <div class="controls1 visualizar">
                        <table class="table table-content" width="100%">
                                <tbody>
                                        <tr>
                                                <input name="sequencial"  value="<?php echo (isset($this->post_var['sequencial'])) ? $this->post_var['sequencial'] : $this->sequencial ?>" id="sequencial" type="hidden" />
                                                <input name="idusuariologado" value="<?php echo (isset($this->post_var['idusuariologado'])) ? $this->post_var['idusuariologado'] : Usuarios::getUsuario('id') ?>" type="hidden"  class="span3" maxlength="500" placeholder="Nome do Usuário"/>
                                                <input name="idusuarioorigem" value="<?php echo (isset($this->post_var['idusuarioorigem'])) ? $this->post_var['idusuarioorigem'] : Usuarios::getUsuario('id') ?>" type="hidden"  class="span3" maxlength="500" placeholder="Nome do Usuário" />
                                                <input name="datalancamento" value="<?php echo (isset($this->post_var['datalancamento'])) ? Mn_Util::formPostVarData($this->post_var['datalancamento']) : date('d/m/Y') ?>" type="hidden"  class="span3"  placeholder="Data de lançamento" />

                                                <td width="50%">Nome do Usuário: <?php echo Usuarios::getUsuario('nomerazao') . " - RGF:" . Usuarios::getUsuario('rgf') ?></td>
                                                <td width="34%">Data da Abertura: <?php echo (isset($this->post_var['datacriacao'])) ? Mn_Util::formPostVarData($this->post_var['datacriacao']) : date('d/m/Y') ?></td>
                                        </tr>        
                                        <tr>        
                                                <td width="33%"><?php echo (isset($this->post_var['sequencial'])) ? 'Sequencial/Ano: '.$this->post_var['sequencial'] : '' ?></td>
                                                <td width="33%">Hora da Abertura: <?php echo (isset($this->post_var['datacriacao'])) ? date('G:i:s', strtotime($this->post_var['datacriacao'])) : date('G:i:s') ?></td>

                                        </tr>
                                </tbody>
                        </table>

                </div>
        </div>
<?php endif; ?>
                        
                        

<div class="control-group">
<label class="control-label">Tipo Processo <span class="required">*</span></label>
<div class="controls">
            <?php if (!isset($this->post_var['id'])) :?>
                <select name="idtipoprotocolo" data-placeholder="Tipo Processo" class="select">
                        <option value="">Selecione...</option>
                        <?php foreach (Protocolostipos::getProtocolostiposHelper(array('status'=>'Ativo')) as $k=>$v) : ?>
                        <option value="<?php echo $v['id'] ?>"><?php echo $v['tipo'] ?></option>
                        <?php endforeach;?>
                </select>
            <?php else:?>
                <input readonly="true" type="text" value="<?php echo Protocolostipos::getProtocolostipoByIdHelper($this->post_var['idtipoprotocolo'])['tipo'] ?>"  class="span3"/>
                <input name="idtipoprotocolo" type="hidden" value="<?php echo Protocolostipos::getProtocolostipoByIdHelper($this->post_var['idtipoprotocolo'])['id'] ?>"  class="span3"/>
            <?php endif;?>
            
</div>
</div>


<div class="control-group">
<label class="control-label">Tipo <span class="required">*</span></label>
        <div class="controls"> 
            <?php if (!isset($this->post_var['id'])) :?>
                <?php if(($this->visualizar)) {
                        echo '<b>',($this->post_var['tipo'] == 'Interno') ? '(&nbsp;X&nbsp;) Interno'.' '.'<script> window.onload = function() {esconderCamposExternos();}; </script>' : '(&nbsp;&nbsp;&nbsp;&nbsp;) Interno', '<br />';
                        if($this->isprotocolo){
                               echo ($this->post_var['tipo'] == 'Externo') ? '(&nbsp;X&nbsp;) Externo'.' '.'<script> window.onload = function() {esconderCamposExternos();}; </script>' : '(&nbsp;&nbsp;&nbsp;&nbsp;) Externo';
                        }
                        echo '</b>';
                }else{ ?>
                    <input type="radio" name="tipo" id="tipo" value="Interno" onchange="esconderCamposExternos(this)"  <?php echo (isset($this->post_var['tipo'])) ? ($this->post_var['tipo'] == 'Interno') ? 'checked' : '' : 'checked'; ?>/> Interno <br />
                        <?php if($this->isprotocolo):?>
                                <input type="radio" name="tipo" value="Externo" onchange="esconderCamposExternos(this);"  <?php echo ($this->post_var['tipo'] == 'Externo') ? 'checked' : ''; ?>/> Externo
                        <?php endif;?>
                <?php } ?>
            <?php else:?>
                <input readonly="true" type="text" value="<?php echo $this->post_var['tipo'] ?>"  class="span3"/>
                <input name="tipo" type="hidden" value="<?php echo $this->post_var['tipo'] ?>"  class="span3"/>
                    <?php 
                        echo '<script> window.onload = function() {esconderCamposExternos($("input[name=tipo]"));}; </script>';
                    ?>
            <?php endif;?>    
                    <?php 
                        echo '<script> window.onload = function() {esconderCamposExternos($("input[name=tipo]"));}; </script>';
                    ?>                
</div>
</div>

<div id="tipo-externo"> <!-- abre se for tipo externo -->
<div class="control-group">
    <label class="control-label">Nome do solicitante </label>
    <div class="controls">
        <?php if (!isset($this->post_var['id'])) :?>
            <input maxlength="500" placeholder="Nome do solicitante" name="nomesolicitante" value="<?php echo (isset($this->post_var['nomesolicitante'])) ? $this->post_var['nomesolicitante'] : '' ?>" type="text"  class="span3" />
        <?php else:?>
            <input readonly="true" type="text" value="<?php echo $this->post_var['nomesolicitante'] ?>"  class="span3"/>
            <input name="nomesolicitante" type="hidden" value="<?php echo $this->post_var['nomesolicitante'] ?>"  class="span3"/>
        <?php endif;?>  
    </div>
</div>


<div class="control-group">
    <label class="control-label">Telefone 1 </label>
    <div class="controls">
        <?php if (!isset($this->post_var['id'])) :?>
            <input maxlength="500" placeholder="Telefone 1" name="telefone1" value="<?php echo (isset($this->post_var['telefone1'])) ? $this->post_var['telefone1'] : '' ?>" type="text"  class="span3" />
        <?php else:?>
            <input readonly="true" type="text" value="<?php echo $this->post_var['telefone1'] ?>"  class="span3"/>
            <input name="telefone1" type="hidden" value="<?php echo $this->post_var['telefone1'] ?>"  class="span3"/>
        <?php endif;?>                                        
    </div>
</div>


<div class="control-group">
    <label class="control-label">Telefone 2 </label>
    <div class="controls">
        <?php if (!isset($this->post_var['id'])) :?>
            <input maxlength="500" placeholder="Telefone 2" name="telefone2" value="<?php echo (isset($this->post_var['telefone2'])) ? $this->post_var['telefone2'] : '' ?>" type="text"  class="span3" />
        <?php else:?>
            <input readonly="true" type="text" value="<?php echo $this->post_var['telefone2'] ?>"  class="span3"/>
            <input name="telefone2" type="hidden" value="<?php echo $this->post_var['telefone2'] ?>"  class="span3"/>
        <?php endif;?>                                        
    </div>
</div>


<div class="control-group">
    <label class="control-label">Contato </label>
    <div class="controls">
        <?php if (!isset($this->post_var['id'])) :?>
            <input maxlength="500" placeholder="Contato" name="contato" value="<?php echo (isset($this->post_var['contato'])) ? $this->post_var['contato'] : '' ?>" type="text"  class="span3" />
        <?php else:?>
            <input readonly="true" type="text" value="<?php echo $this->post_var['contato'] ?>"  class="span3"/>
            <input name="contato" type="hidden" value="<?php echo $this->post_var['contato'] ?>"  class="span3"/>
        <?php endif;?>    
    </div>
</div>


<div class="control-group">
    <label class="control-label">E-mail </label>
    <div class="controls">
        <?php if (!isset($this->post_var['id'])) :?>
            <input maxlength="500" placeholder="E-mail" name="email" value="<?php echo (isset($this->post_var['email'])) ? $this->post_var['email'] : '' ?>" type="text"  class="span3" />
        <?php else:?>
            <input readonly="true" type="text" value="<?php echo $this->post_var['email'] ?>"  class="span3"/>
            <input name="email" type="hidden" value="<?php echo $this->post_var['email'] ?>"  class="span3"/>
        <?php endif;?>   
    </div>
</div>
</div> <!-- fecha se for tipo externo -->

<div class="control-group">
    <label class="control-label">Título <span class="required">*</span></label>
    <div class="controls">
        <?php if (!isset($this->post_var['id'])) :?>
            <input maxlength="500" placeholder="Título" name="titulo" value="<?php echo (isset($this->post_var['titulo'])) ? $this->post_var['titulo'] : '' ?>" type="text"  class="span3" />
        <?php else:?>
            <input readonly="true" type="text" value="<?php echo $this->post_var['titulo'] ?>"  class="span3"/>
            <input name="titulo" type="hidden" value="<?php echo $this->post_var['titulo'] ?>"  class="span3"/>
        <?php endif;?>                                        
    </div>
</div>

<?php /* ?>
<div class="control-group">
    <label class="control-label">Tipo de solicitação <span class="required">*</span></label>
    <div class="controls">
        <?php if (!isset($this->post_var['id'])) :?>
            <select name="idtiposolicitacao" data-placeholder="Tipo de solicitação" class="select">
                <option value="">Selecione...</option>
                <?php foreach (Solicitacoestipos::getSolicitacoestiposHelper(array('status'=>'Ativo')) as $k=>$v) : ?>
                <option value="<?php echo $v['id'] ?>"><?php echo $v['tipo'] ?></option>
                <?php endforeach;?>
            </select>
        <?php else:?>
        <input readonly="true" type="text" value="<?php echo Solicitacoestipos::getSolicitacoestipoByIdHelper($this->post_var['idtiposolicitacao'])['descricoes'] ?>"  class="span3"/>
            <input name="idtiposolicitacao" type="hidden" value="<?php echo $this->post_var['idtiposolicitacao'] ?>"  class="span3"/>
        <?php endif;?> 
    </div>
    
       
</div>
<?php */ ?>

<div class="control-group">
    <label class="control-label">Solicitação </label>
    <div class="controls">
        <?php if (!isset($this->post_var['id'])) :?>
            <input maxlength="500" placeholder="Solicitação" name="solicitacao" value="<?php echo (isset($this->post_var['solicitacao'])) ? $this->post_var['solicitacao'] : '' ?>" type="text"  class="span3" />
        <?php else:?>
            <input readonly="true" type="text" value="<?php echo $this->post_var['solicitacao'] ?>"  class="span3"/>
            <input name="solicitacao" type="hidden" value="<?php echo $this->post_var['solicitacao'] ?>"  class="span3"/>
        <?php endif;?>   
    </div>
</div>


<div class="control-group">
    <label class="control-label">Observações </label>
    <div class="controls">
        <?php if (!isset($this->post_var['id'])) :?>
            <textarea class="span12" name="observacoes" cols="5" rows="5"><?php echo (isset($this->post_var)) ? $this->post_var["observacoes"] : ''; ?></textarea>
        <?php else:?>
            <textarea class="span12" readonly="true" cols="5" rows="5"><?php echo (isset($this->post_var)) ? $this->post_var["observacoes"] : ''; ?> </textarea>
            <?php if (!$this->visualizar) : ?>
                <textarea name="observacoes" style="display:none;"><?php echo (isset($this->post_var)) ? $this->post_var["observacoes"] : ''; ?> </textarea>
            <?php endif;?>      
        <?php endif;?>      
    </div>        
</div>


				<div class="control-group">
                                    <label class="control-label">Anexar documento </label>
                                    <div class="controls">
                                        <?php if (!isset($this->post_var['id'])) :?>
                                            <?php if ((isset($this->post_var['iddocumento'])) && ((int)$this->post_var['iddocumento']>0)) : ?>
                                                <?php echo $this->getArquivo($this->post_var['iddocumento']) ?>

                                                <?php if (!$this->visualizar) : ?>
                                                        <div class="checkbox block">
                                                                <label><input type="checkbox" name="excluir_iddocumento" value="excluir" /> Desejo excluir o arquivo</label>
                                                        </div>
                                                <?php endif; ?>
                                            <?php endif; ?>
						
						<input placeholder="Anexar documento" name="iddocumento" type="file"  />
                                        <?php else:?>
                                            <?php if ((isset($this->post_var['iddocumento'])) && ((int)$this->post_var['iddocumento']>0)) : ?>    
                                                <?php echo $this->getArquivo($this->post_var['iddocumento']) ?>
                                            <?php else: ?>
                                                <?php echo "Nenhum documento..." ?>
                                            <?php endif; ?>
                                        <?php endif;?>                                                  
                                    </div>
                                    
                                      
				</div>	

<div >
    <input placeholder="Anexar documento" name="iddocumentoencaminhar" id="iddocumentoencaminhar" type="file" style="display: none"/>
</div>	

<div class="control-group">
<label class="control-label">Posição </label>
<div class="controls">
            <input maxlength="500" readonly placeholder="Posição" id="posicao" name="posicao" value="<?php echo (isset($this->post_var['posicao'])) ? $this->post_var['posicao'] : 'Em Andamento' ?>" type="text"  class="span3" />
</div>
</div>

<?php $idprocesso = (int)$this->post_var['id']; ?>

<input maxlength="500" placeholder="Posição" name="status1" value="<?php echo (isset($this->post_var['status1'])) ? $this->post_var['status1'] : 'Aguardando Aceite' ?>" type="hidden"  class="span3" />
<?php if(($idprocesso > 0) && (!$this->visualizar) && (!in_array($this->post_var['posicao'], array('Cancelado','Concluido')))):?>
    <div class="control-group">
        <label class="control-label">Opções </label>
        <table class="table" border="0" >
            <tbody>
                <tr>
                    <td align="center"><a class="btn btn-large btn-primary" onclick="JanelaArquivos(this)" rel="janela1" name="btnEncaminhar"><span class="icon-random">&nbsp;</span>Encaminhar Protocolo</a></td>
                    <td align="center"><a class="btn btn-large btn-danger" onclick="JanelaArquivos(this)" rel="janela1" name="btnFinalizar"><span class="icon-arrow-right">&nbsp;</span>Finalizar Protocolo</a></td>
                </tr>
            </tbody>
        </table>
    </div>                                
<?php endif; ?>


<?php if(($idprocesso == 0) && (!$this->visualizar) && (!in_array($this->post_var['posicao'], array('Cancelado','Concluido')))):?>
    <div class="control-group">
            <label class="control-label">Encaminhar para <span class="required">*</span></label>
            <div class="controls">
                <?php if(!$this->visualizar):?>
                    <select name="idperfilencaminhar" data-placeholder="Encaminhar" class="select" onchange="exibeExtras(this)">
                            <option value="">Selecione...</option>
                            <?php foreach (UsuariosPerfis::getPerfisHelpers(array('status'=>'Ativo', 'recebeprotocolo'=>'sim')) as $k=>$v) : ?>
                                <option <?php echo $v['id']==$this->post_var['idperfilencaminhar']?'selected':''; ?> value="<?php echo $v['id'] ?>"><?php echo $v['perfil'] ?></option>
                                <?php 
                                    if($this->post_var['idperfilencaminhar']==29) :
                                        echo '<script> window.onload = function() {exibeExtras($("select[name=idperfilencaminhar]"))}; </script>'; 
                                    endif;  
                                ?>
                            <?php endforeach;?>
                    </select>
                    <div class="box-escolas control-group" style="display:none;">
                            <label class="control-label">Escola *</label>
                            <div class="controls">
                                    <select name="idescolaencaminhar" class="select">
                                            <option value="">Selecione...</option>
                                            <?php foreach (Escolas::getEscolasHelper(array('status'=>'Ativo')) as $e=>$row) : ?>
                                                <option <?php echo $row['id']==$this->post_var['idescolaencaminhar'] ? 'selected' : ''; ?> value="<?php echo $row['id']; ?>"><?php echo $row['escola']; ?></option>
                                            <?php endforeach;?>
                                    </select>   
                            </div>
                    </div>
                <?php else : ?>
                        <?php
                            $perfil = UsuariosPerfis::getPerfilByIdHelper($this->post_var['idperfilencaminhar']);
                            $escola = Escolas::getEscolaByIdHelper($this->post_var['idescolaencaminhar']);
                            echo '<b>',$perfil['perfil'],'<br />', $escola['escola'], '</b> ';
                        ?>
                <?php endif;?>
            </div>
    </div>
<?php else :?>
    <input name="idperfilencaminhar" data-placeholder="Encaminhar" type="hidden" value="<?php echo $this->post_var['idperfilencaminhar']; ?>"/>
    <input name="idescolaencaminhar" data-placeholder="Escola" type="hidden" value="<?php echo $this->post_var['idescolaencaminhar']; ?>"/>
<?php endif;?>

<div class="form-actions align-left">
        <?php if (((isset($this->visualizar)) && ($this->visualizar)) || ($this->post_var['id'] > 0)) : ?>
                <button onclick="window.history.back()" class="btn btn-danger cancelar" type="button">Voltar</button>
        <?php else : ?>
                <button <?php echo $this->post_var['id'] > 0 ? 'disabled="true"': ''; ?> class="btn btn-primary enviar" id="btnenviar" type="submit">Salvar</button>
                <button onclick="window.history.back()" class="btn btn-danger cancelar" type="button">Cancelar</button>
        <?php endif; ?>
</div>

    
<?php if(($idprocesso>0)): ?>		    
        <div class="control-group">
                <label class="control-label">Tramitações</label>
                <div class="control-group"> 
                        <div class="itens">
                               <table class="table" border="1">
                                        <thead>
                                            <tr>
                                                 <!--<td width="02%" align="center">#</td>-->
                                                 <th align="center" width="35%">Origem</th>
                                                 <th align="center" width="35%">Destino</th>
                                                 <th align="center" width="10%">Status</th>
                                                 <th align="center" width="10%">Data</th>
                                                 <th align="center" width="10%">Ação</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        </tbody>
                                            <?php 
                                                $tramitacoesArquivos = Array();
                                            ?>
                                            <?php foreach (Protocolosprocessostramitacoes::getProtocolosprocessostramitacoesHelper(array('idprotocoloprocesso' => $idprocesso)) as $c=>$row) : ?>
                                                <tr id="modelo-tramitacao">
                                                    <!--<td align="center">-->
                                                        <?php 
                                                            //echo $c+1;
                                                            //echo (isset($row['id'])? $row['id']: ''), '<br/>'; 
                                                            //echo (isset($row['idprotocoloprocesso'])? $row['idprotocoloprocesso']: ''), '<br/>'; 
                                                            //echo (isset($row['idusuario'])? $row['idusuario']: ''), '<br/>'; 
                                                            //echo (isset($row['idfuncionario'])? $row['idfuncionario']: ''), '<br/>'; 
                                                        ?>
                                                    <!--</td>-->
                                                    <td align="left">
                                                        <?php 
                                                            $perorigem = UsuariosPerfis::getPerfilByIdHelper($row['idperfilorigem']);
                                                            //$locorigem = Locais::getLocalByIdHelper($row['idlocalorigem']);
                                                            $escorigem = Escolas::getEscolaByIdHelper($row['idescolaorigem']);
                                                            $usuorigem = Usuarios::getUsuarioByIdHelper($row['idusuarioorigem']);
                                                            if($perorigem){ echo '<span class="icon-sitemap"></span>&nbsp;',$perorigem['perfil'], '<br/>'; }
                                                            //if($locorigem){ echo '<span class="icon-globe"></span>&nbsp;',$locorigem['titulo'], '<br/>'; }
                                                            if($escorigem){ echo '<span class="icon-book"></span>&nbsp;',$escorigem['escola'], '<br/>'; }
                                                            if($usuorigem){ echo '<span class="icon-user"></span>&nbsp;',$usuorigem['nomerazao']; }
                                                        ?>
                                                    </td>
                                                    <td align="left">
                                                        <?php 
                                                            $perdestin = UsuariosPerfis::getPerfilByIdHelper($row['idperfildestino']);
                                                            //$locdestin = Locais::getLocalByIdHelper($row['idlocaldestino']);
                                                            $escdestin = Escolas::getEscolaByIdHelper($row['idescoladestino']);
                                                            $usudestin = Usuarios::getUsuarioByIdHelper($row['idusuariodestino']);
                                                            if (($row['idperfildestino'] == $row['idperfilorigem']) &&
                                                                (in_array($row['status'], array('concluido','cancelado'))) ) {
                                                                echo '<b>Finalizado por:</b> '. $usuorigem['nomerazao'] ;
                                                            }else{
                                                                if($perdestin){ echo '<span class="icon-sitemap"></span>&nbsp;',$perdestin['perfil'], '<br/>';}
                                                                //if($locdestin){ echo '<span class="icon-globe"></span>&nbsp;',$locdestin['titulo'], '<br/>';}
                                                                if($escdestin){ echo '<span class="icon-book"></span>&nbsp;',$escdestin['escola'], '<br/>';} 
                                                                if($usudestin){ echo '<span class="icon-user"></span>&nbsp;',$usudestin['nomerazao'];}
                                                            }
                                                        ?>
                                                    </td>
                                                    <td align="center">
                                                        <div class="progress" style="text-align: left;">
                                                            <?php if ((isset($row['status']) && ($row['status'] != ''))) : ?>
                                                                <?php

                                                                    if ($row['status'] == 'aberto'){
                                                                        $barcolor = 'bar-info';
                                                                        $icontype = 'icon-refresh icon-spin';
                                                                        $progrbar = 'width:50%';
                                                                    }elseif ($row['status'] == 'lido') {
                                                                        $barcolor = 'bar-warning';
                                                                        $icontype = 'icon-spinner icon-spin';
                                                                        $progrbar = 'width:75%';
                                                                    }elseif ($row['status'] == 'cancelado')  { 
                                                                        $barcolor = 'bar-danger';
                                                                        $icontype = 'icon-remove';
                                                                        $progrbar = 'width:100%';
                                                                    }elseif ($row['status'] == 'concluido'){  
                                                                        $barcolor = 'bar-success';
                                                                        $icontype = 'icon-ok';
                                                                        $progrbar = 'width:100%';
                                                                    }else{
                                                                        $barcolor = '';
                                                                        $icontype = '';
                                                                        $progrbar = 'width:0%';
                                                                    }
                                                                ?>
                                                                <div class="progress-animated <?php echo $barcolor;?>" role="progressbar" aria-valuenow="1" aria-valuemin="0" aria-valuemax="100" style="<?php echo $progrbar;?>">
                                                                    <?php echo '<span class="',$icontype,'"></span>','&nbsp;'; ?>
                                                                </div>
                                                            <?php endif;?>
                                                        </div>
                                                        <?php echo (isset($row['status'])? ucwords($row['status']): ''); ?>
                                                    </td>
                                                    <td align="center">
                                                        <?php echo (isset($row['datacriacao'])? date('d/m/Y H:s:i', strtotime($row['datacriacao'])): ''); ?>
                                                    </td>
                                                    <td align="center">
                                                        <?php 
                                                            echo    '<a class="btn btn-inverse" id="'.$row['id'].'" onclick="JanelaArquivos(this, 1, 0, '.$row['id'].')" rel="janela3" >',
                                                                    '<span class="icon-eye-open">&nbsp;Visualizar</span>',
                                                                    (isset($row['arquivios']) && ($row['arquivios']>0)) ? ('<br>'.str_pad($row['arquivios'], 3, "0", STR_PAD_LEFT).' arquivo(s)') : '', 
                                                                    '</a>';
                                                        ?>      
                                                    </td>
                                                </tr>
                                            <?php endforeach;?>
                               </table>

                       </div>
                </div>
        </div>
    <input type="hidden" id="idperfilencaminharhistorico" name="idperfilencaminharhistorico" />
    <input type="hidden" id="idescolaencaminharhistorico" name="idescolaencaminharhistorico"/>
    <textarea  id="observacoeshistorico" name="observacoeshistorico" style="display:none;"> </textarea> 
<?php endif; ?>	


</div>
</div>
<!-- /general form elements -->

            <!-- Modal -->
            <div class="window1" id="janela1">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Protocolo</h5>
                </div>
                <div class="control-group box-encaminhar" style="display:none;">
                    <label class="control-label">Encaminhar para <span class="required">*</span></label>
                    <div class="controls">
                        <?php if(!$this->visualizar):?>
                            <select name="idperfilencaminharhistoricoV" data-placeholder="Encaminhar" class="select" onchange="exibeExtras(this);setHistoricos(this)">
                                    <option value="">Selecione...</option>
                                    <?php foreach (UsuariosPerfis::getPerfisHelpers(array('status'=>'Ativo', 'recebeprotocolo'=>'sim')) as $k=>$v) : ?>
                                    <option <?php echo $v['id']== isset($this->post_var['idperfilencaminharhistorico']) ? $this->post_var['idperfilencaminharhistorico'] : 0 ?'selected':''; ?> value="<?php echo $v['id'] ?>"><?php echo $v['perfil'] ?></option>
                                    <?php if(isset($this->post_var['idperfilencaminharhistorico']) ? $this->post_var['idperfilencaminharhistorico'] : 0 == 29){ echo '<script> window.onload = function() {exibeExtras($("select[name=idperfilencaminharhistorico]"))}; </script>'; };  ?>
                                    <?php endforeach;?>
                            </select>
                            <div class="box-escolas" style="display:none;">
                                    <div class="control-group">                      
                                        <hr>
                                        <label class="control-label">Escola *</label>
                                        <div class="controls">
                                                <select name="idescolaencaminharhistoricoV" class="select" onchange="setHistoricos(this)">
                                                        <option value="">Selecione...</option>
                                                        <?php foreach (Escolas::getEscolasHelper(array('status'=>'Ativo')) as $e=>$row): ?>
                                                        <option <?php echo $row['id']==isset($this->post_var['idescolaencaminharhistorico']) ? $this->post_var['idescolaencaminharhistorico'] : 0 ?'selected':''; ?> value="<?php echo $row['id'] ?>"><?php echo $row['escola'] ?></option>
                                                        <?php endforeach;?>
                                                </select>   
                                        </div>
                                    </div>
                            </div>
                        <?php endif;?>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">Observações <span class="required">*</span></label>
                    <div class="controls">
                        <textarea class="span12" name="observacoeshistoricoV" cols="125" rows="5" onblur="setHistoricos(this)"><?php echo (isset($this->post_var["observacoeshistorico"])) ? $this->post_var["observacoeshistorico"] : ''; ?></textarea>
                    </div>
                </div>
                <div class="control-group" >
                    <label class="control-label">Anexar documento </label>
                    <div class="controls">
                        <label class="btnUpload" for='iddocumentoencaminhar'>Selecionar arquivo &#187;&nbsp;<span id='file-name'></span></label>
                        
                    </div>                    
                    <?php //echo $this->render('protocolosprocessos/helpers/multiplosarquivos.phtml') ?>
                </div>

                <div class="control-group">
                    <label class="control-label">O que deseja fazer?</span></label>
                    <div class="controls" >
                        <div class="box-encaminharbotao" style="display:none;">
                            <button type="button" class="btn btn-large btn-success" onclick="setHistoricos(this)"              id="btnSalvaHistorico" name="btnSalvaHistorico" >Encaminhar Protocolo</button>
                        </div>
                        <div class="box-finalizarbotao" style="display:none;">
                            <button type="button" class="btn btn-large btn-primary" onclick="setHistoricos(this, 'Concluido')" >Concluir Protocolo</button>&nbsp;ou&nbsp;  
                            <button type="button" class="btn btn-large btn-danger"  onclick="setHistoricos(this, 'Cancelado')" >Cancelar Protocolo</button>&nbsp;&quest;
                        </div>
                    </div>
                </div>                                         
                <div class="control-group">
                    <button type="button" class="btn btn-danger" onclick='javascript:$.fancybox.close();window.history.back();'>Cancelar</button>
                </div>
            </div>

            <!-- Modal -->
            <div class="window1" id="janela3"></div>
            
</fieldset> 

</form>
<!-- /basic inputs -->
</div>
<!-- /content wrapper -->

</div>
<!-- content -->


<script type="text/javascript" src="<?php echo $this->baseUrl('/public/scripts/admin/protocolosprocessos_form.js') ?>"></script>
<script type="text/javascript">
var form_values = {};

<?php if (isset($this->post_var)) :  ?>
form_values.idtipoprotocolo = '<?php echo (isset($this->post_var['idtipoprotocolo'])) ? $this->post_var['idtipoprotocolo'] : '' ?>';

form_values.tipo = '<?php echo (isset($this->post_var['tipo'])) ? $this->post_var['tipo'] : '' ?>';

form_values.idusuariologado = '<?php echo (isset($this->post_var['idusuariologado'])) ? $this->post_var['idusuariologado'] : '' ?>';

form_values.origem = '<?php echo (isset($this->post_var['origem'])) ? $this->post_var['origem'] : '' ?>';

form_values.idescola = '<?php echo (isset($this->post_var['idescola'])) ? $this->post_var['idescola'] : '' ?>';

form_values.iddepartamento = '<?php echo (isset($this->post_var['iddepartamento'])) ? $this->post_var['iddepartamento'] : '' ?>';

form_values.idtiposolicitacao = '<?php echo (isset($this->post_var['idtiposolicitacao'])) ? $this->post_var['idtiposolicitacao'] : '' ?>';

form_values.posicao = '<?php echo (isset($this->post_var['posicao'])) ? $this->post_var['posicao'] : '' ?>';

form_values.encaminhar = '<?php echo (isset($this->post_var['encaminhar'])) ? $this->post_var['encaminhar'] : '' ?>';

form_values.idperfilencaminhar = '<?php echo (isset($this->post_var['idperfilencaminhar'])) ? $this->post_var['idperfilencaminhar'] : '' ?>';

form_values.idescolaencaminhar = '<?php echo (isset($this->post_var['idescolaencaminhar'])) ? $this->post_var['idescolaencaminhar'] : '' ?>';

form_values.idlocalencaminhar = '<?php echo (isset($this->post_var['idlocalencaminhar'])) ? $this->post_var['idlocalencaminhar'] : '' ?>';

form_values.idusuarioencaminhar = '<?php echo (isset($this->post_var['idusuarioencaminhar'])) ? $this->post_var['idusuarioencaminhar'] : '' ?>';

form_values.status1 = '<?php echo (isset($this->post_var['status1'])) ? $this->post_var['status1'] : $this->post_var['status'] ?>';

<?php endif; ?>

visualizar = <?php echo  ((isset($this->visualizar)) && ($this->visualizar))  ? 'true' : 'false' ?>;

var $input    = document.getElementById('iddocumentoencaminhar'),
    $fileName = document.getElementById('file-name');

$input.addEventListener('change', function(){
  $fileName.textContent = this.files[0].name;
});


</script>
