<!-- Content -->
<div id="content">

    <!-- Content wrapper -->
    <div class="wrapper">

        <!-- Breadcrumbs line -->
        <div class="crumbs">
            <?php echo $this->render('/helpers/breadcrumb.phtml') ?>
        </div>
        <!-- /breadcrumbs line -->

        <!-- Page header -->
        <div class="page-header">
            <div class="page-title">
                <h5>Protocolos Processos no sistema</h5>
                <span>Visualize os protocolos processos do sistema</span>
            </div>

        </div>
        <!-- /page header -->

        <?php if (isset($this->crudMessage)) : ?>
            <div class="alert alert-success">
                <button data-dismiss="alert" class="close" type="button">×</button>
                <strong>Operação realizada com sucesso!</strong>
                <span><br /><?php echo $this->crudMessage ?></span>
            </div>			    
        <?php endif; ?>





        <!-- Table with footer -->
        <div class="widget">
            <form action="#" class="form-horizontal" method="post">
                <input type="hidden" value="<?php echo (isset($this->post_var['sorting'])) ? $this->post_var['sorting'] : '' ?>" name="sorting" />
                <div class="table-overflow">
                    <table class="table table-content">
                        <thead>
                            <tr>
                                <th colspan="6">
                                    <div class="navbar">
                                        <div class="navbar-inner">
                                            <h6>Visualizando registros</h6>
                                            <?php if (Mn_Util::isAccess($this->getController(), 'adicionar')) : ?>
                                                <a style="float:right;" href="<?php echo $this->baseUrl() ?>/<?php echo 'admin' ?>/<?php echo $this->getController() ?>/adicionar" class="btn btn-primary"><span class="icon-plus"></span>&nbsp;Adicionar protocolo processos</a>
                                            <?php endif; ?>
                                        </div>
                                    </div>
                                </th>    
                            </tr>
                            <tr>
                                <th width="5%" class="s-sequencial sorting">Sequencial/Ano</th>
                                <th width="15%" class="s-datalancamento sorting">Data de lançamento</th>
                                <th width="20%" class="s-titulo sorting">Título</th>
                                <th width="40%" class="s-observacoes sorting"> <span style="color: #008000">Origem</span> / <span style="color: #cd5c5c">Destino</span></th>
                                <th width="10%" class="s-posicao sorting">Posição</th>
                                <th width="10%">Ações</th>
                            </tr>
                            <tr>
                                <th>
                                    <input name="sequencial" value="<?php echo (isset($this->post_var['sequencial'])) ? $this->post_var['sequencial'] : '' ?>" type="text" placeholder="Sequencial/Ano" class="span2">
                                </th>
                                <th>
                                    <input name="datalancamento_i" value="<?php echo (isset($this->post_var['datalancamento_i'])) ? Mn_Util::formPostVarData($this->post_var['datalancamento_i']) : '' ?>" type="text" placeholder="Data de lançamento inicial" class="span2">
                                    <input name="datalancamento_f" value="<?php echo (isset($this->post_var['datalancamento_f'])) ? Mn_Util::formPostVarData($this->post_var['datalancamento_f']) : '' ?>" type="text" placeholder="Data de lançamento final" class="span2">
                                </th>
                                <th>
                                    <input name="titulo" value="<?php echo (isset($this->post_var['titulo'])) ? $this->post_var['titulo'] : '' ?>" type="text" placeholder="Título" class="span3">
                                </th>
                                <th>
                                    <div>
                                        <select name="idorigem" data-placeholder="Departamento de Origem" class="select">
                                            <option value="">Todos</option>
                                            <?php foreach (UsuariosPerfis::getPerfisHelpers(array('status' => 'Ativo', 'recebeprotocolo' => 'sim')) as $k => $v) : ?>
                                                <option <?php echo isset($this->post_var['idorigem']) && $v['id'] == $this->post_var['idorigem'] ? 'selected' : ''; ?> value="<?php echo $v['id'] ?>"><?php echo $v['perfil'] ?></option>
                                            <?php endforeach; ?>
                                        </select>
                                    </div>
                                    <div>
                                        <select name="iddestino" data-placeholder="Departamento de destino" class="select">
                                            <option value="">Todos</option>
                                            <?php foreach (UsuariosPerfis::getPerfisHelpers(array('status' => 'Ativo', 'recebeprotocolo' => 'sim')) as $k => $v) : ?>
                                                <option <?php echo isset($this->post_var['idorigem']) && $v['id'] == $this->post_var['iddestino'] ? 'selected' : ''; ?> value="<?php echo $v['id'] ?>"><?php echo $v['perfil'] ?></option>
                                            <?php endforeach; ?>
                                        </select>
                                    </div>
                                </th>
                                <th>
                                    <div>
                                        <select name="posicao" placeholder="Todos" class="select">
                                            <option value="">Todos</option>
                                            <option value="Em Andamento">Em Andamento</option>
                                            <option value="Concluido">Concluido</option>
                                            <option value="Cancelado">Cancelado</option>
                                        </select>
                                    </div>
                                </th>
                                <th>
                                    <button class="btn btn-mini btn-primary" type="submit">Pesquisar</button>
                                </th>
                            </tr> 
                        </thead>
                        <tbody>
                            <?php if (sizeof($this->rows) == 0) : ?>
                                <tr>
                                    <td colspan="6">Nenhum registro foi encontrado!</td>
                                </tr>

                            <?php else : ?>
                                <?php foreach ($this->rows as $row) : ?>
                                    <tr>
                                        <td>
                                            <?php echo $row['sequencial'] ?>
                                        </td>
                                        <td>
                                            <?php echo date('d/m/Y', strtotime($row['datalancamento'])) ?>
                                        </td>
                                        <td>
                                            <?php echo $row['titulo'] ?>
                                        </td>
                                        <td>
                                            <?php
                                            // Origem
                                            echo '<div style="background-color: #7fffd4; font-size: x-small">';
                                            foreach (Protocolosprocessostramitacoes::getProtocolosprocessostramitacoesHelper(array('idprotocoloprocesso' => $row['id'], 'order' => 'ORDER BY p1.id ASC LIMIT 1')) as $k => $r):
                                                $perorigem = UsuariosPerfis::getPerfilByIdHelper($r['idperfilorigem']);
                                                $escorigem = Escolas::getEscolaByIdHelper($r['idescolaorigem']);
                                                $usuorigem = Usuarios::getUsuarioByIdHelper($r['idusuarioorigem']);
                                                if ($perorigem) {
                                                    echo '<span class="icon-sitemap"></span>&nbsp;', $perorigem['perfil'], '<br/>';
                                                }
                                                if ($escorigem) {
                                                    echo '<span class="icon-book"></span>&nbsp;', $escorigem['escola'], '<br/>';
                                                }
                                                if ($usuorigem) {
                                                    echo '<span class="icon-user"></span>&nbsp;', $usuorigem['nomerazao'];
                                                }
                                            endforeach;
                                            echo '</div>';
                                            // Destino
                                            echo '<div style="background-color: #cd5c5c; color: #FFFFFF; font-size: x-small">';
                                            foreach (Protocolosprocessostramitacoes::getProtocolosprocessostramitacoesHelper(array('idprotocoloprocesso' => $row['id'], 'order' => 'ORDER BY p1.id DESC LIMIT 1')) as $k => $r):
                                                $perdestin = UsuariosPerfis::getPerfilByIdHelper($r['idperfildestino']);
                                                $escdestin = Escolas::getEscolaByIdHelper($r['idescoladestino']);
                                                $usudestin = Usuarios::getUsuarioByIdHelper($r['idusuariodestino']);
                                                if (($row['idperfildestino'] == $row['idperfilorigem']) &&
                                                        (in_array($row['status'], array('concluido', 'cancelado')))) {
                                                    echo '<b>Finalizado por:</b> ' . $usuorigem['nomerazao'];
                                                } else {
                                                    if ($perdestin) {
                                                        echo '<span class="icon-sitemap"></span>&nbsp;', $perdestin['perfil'], '<br/>';
                                                    }
                                                    //if($locdestin){ echo '<span class="icon-globe"></span>&nbsp;',$locdestin['titulo'], '<br/>';}
                                                    if ($escdestin) {
                                                        echo '<span class="icon-book"></span>&nbsp;', $escdestin['escola'], '<br/>';
                                                    }
                                                    if ($usudestin) {
                                                        echo '<span class="icon-user"></span>&nbsp;', $usudestin['nomerazao'];
                                                    }
                                                }
                                            endforeach;
                                            echo '</div>';
                                            ?>
                                        </td>
                                        <td>
                                            <?php echo $row['posicao'] ?>
                                        </td>
                                        <td>
                                            <ul class="table-controls">
                                                <!--<li><a title="" class="btn tip"  data-original-title="Impressão" onclick="setTipoImpresso()"><i class="icon-print"></i></a> </li>-->
                                                <li><a title="" class="btn tip" href="<?php echo $this->baseUrl() ?>/<?php echo 'admin' ?>/<?php echo $this->getController() ?>/visualizar/id/<?php echo $row['id'] ?>" data-original-title="Visualizar"><i class="icon-eye-open"></i></a> </li>
                                                <?php if ((Mn_Util::isAccess($this->getController(), 'editar')) && (!in_array($row['posicao'], ['Cancelado', 'Concluido']))): ?>
                                                    <li><a title="" class="btn tip" href="<?php echo $this->baseUrl() ?>/<?php echo 'admin' ?>/<?php echo $this->getController() ?>/editar/id/<?php echo $row['id'] ?>" data-original-title="Editar"><i class="icon-pencil"></i></a> </li>
                                                <?php endif; ?>
                                                <?php if ((Mn_Util::isAccess($this->getController(), 'excluir')) && (!in_array($row['posicao'], ['Cancelado', 'Concluido']))) : ?>
                                                    <li><a title="" class="btn tip" href="javascript:confirmDelete('<?php echo $row['id']; ?>','registro');" data-original-title="Excluir"><i class="icon-remove"></i></a> </li>
                                                        <?php endif; ?>
                                            </ul>
                                        </td>
                                    </tr>
                                <?php endforeach; ?>
                            <?php endif; ?>
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="6">
                                    <?php echo $this->render('/helpers/paginator.phtml') ?>
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </div>

            </form>

        </div>
        <!-- /table with footer -->



    </div>
    <!-- /content wrapper -->

</div>
<!-- content -->


<script type="text/javascript" src="<?php echo $this->baseUrl('/public/scripts/admin/protocolosprocessos_index.js') ?>"></script>
<script type="text/javascript">

    var form_values = {};
<?php if (isset($this->post_var)) : ?>

        form_values.sequencial = '<?php echo (isset($this->post_var['sequencial'])) ? $this->post_var['sequencial'] : '' ?>';

        form_values.datalancamento = '<?php echo (isset($this->post_var['datalancamento'])) ? $this->post_var['datalancamento'] : '' ?>';

        form_values.titulo = '<?php echo (isset($this->post_var['titulo'])) ? $this->post_var['titulo'] : '' ?>';

        form_values.idorigem = '<?php echo (isset($this->post_var['idorigem'])) ? $this->post_var['idorigem'] : '' ?>';

        form_values.iddestino = '<?php echo (isset($this->post_var['iddestino'])) ? $this->post_var['iddestino'] : '' ?>';

        form_values.status1 = 'Ativo';

        form_values.posicao = '<?php echo (isset($this->post_var['posicao'])) ? $this->post_var['posicao'] : $this->post_var['posicao'] ?>';

<?php endif; ?>

    var sorting = ["sequencial", "datalancamento", "idorigem", "iddestino", "titulo", "posicao", "observacoes"];

//MOVER APÓS CONCLUSÃO
    function setTipoImpresso() {

        var dialog = $('<h5>Escolha o tipo de impressão para continuar...</h5>').dialog({
            title: '<font color="#052f57">Impressão do Protocolo!</font>',
            width: 400,
            modal: true,
            buttons: {
                "imprimir": function () { //Analítico
                    document.location.href = '<?php echo $this->baseUrl(), "/", "admin", "/", $this->getController(), "/imprimir/id/", $row["id"], "/tipo/0"; ?>';
                },
//            "Sintético": function () {
//                document.location.href = '<?php echo $this->baseUrl(), "/", "admin", "/", $this->getController(), "/imprimir/id/", $row["id"], "/tipo/1"; ?>';
//            },
                "Cancelar": function () {
                    dialog.dialog('close');
                }
            }
        });

    }


</script>	


